[2020-10-07 02:18] kikisdeliveryservice commented on #2033
Hi @AkihiroSuda

[Enhancements Freeze](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.20#tldr) is now in effect. Unfortunately, your [KEP PR ](https://github.com/kubernetes/enhancements/pull/1371) did not merge.  If you wish to be included in the 1.20 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2020-10-07 02:23] kikisdeliveryservice commented on #1847
Hi @kk-src

[Enhancements Freeze](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.20#tldr) is now in effect. Unfortunately, your [KEP PR ](https://github.com/kubernetes/enhancements/pull/1915) has not merged.  If you wish to be included in the 1.20 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) as

[2020-10-07 02:52] KielChan commented on #1920
Fine. Maybe something didn't come to an agreement with @dashpole . I will make it someday. Thank you @kikisdeliveryservice .  : )

[2020-10-07 06:10] kikisdeliveryservice commented on #85
[Enhancements Freeze](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.20#tldr) is now in effect.  If you wish to be included in the 1.20 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) as soon as possible.

Best,
Kirsten
1.20 Enhancements Lead

[2020-10-07 06:17] kikisdeliveryservice commented on #1618
[Enhancements Freeze](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.20#tldr) is now in effect. If you wish to be included in the 1.20 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) as soon as possible.

Best,
Kirsten
1.20 Enhancements Lead

[2020-10-07 06:24] kikisdeliveryservice commented on #2021
[Enhancements Freeze](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.20#tldr) is now in effect.  If you wish to be included in the 1.20 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) as soon as possible.

[2020-10-07 06:30] kikisdeliveryservice commented on #1177
Hi @neolit123

Any update on closing this issue?

[2020-10-07 06:33] kikisdeliveryservice commented on #609
Any update on closing this issue?

[2020-10-07 07:12] saschagrunert commented on #24
Yeah…let's finish this KEP review in 1.20 and target the implementation for 1.21.

[2020-10-07 07:47] janosi commented on #1435
Hi @kikisdeliveryservice

Thank you. Just sent the exception request.

Best regards,
Laszlo

[2020-10-07 08:38] fabriziopandini commented on #1177
+1 to close this, the code was removed by https://github.com/kubernetes/kubernetes/pull/94871

[2020-10-07 09:24] neolit123 commented on #1177
/close

[2020-10-07 09:25] #1177 closed

[2020-10-07 10:04] cezaryzukowski commented on #1769
Hi @kikisdeliveryservice

That's grand, we know the exact schedule.

With respect to "Docs Placeholder PR" is there any template or guideline?

[2020-10-07 12:44] elmiko commented on #609
it seems like we have agreement about closing this issue.
/close

[2020-10-07 12:44] #609 closed

[2020-10-07 14:18] andrewsykim opened #2086 "Service Internal Traffic Policy"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Introduce a new field `spec.internalTrafficPolicy` in Service that will allow clusterIP routing to be node local.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy
- Discussion Link: Previous discussions were h

[2020-10-07 14:18] andrewsykim commented on #2086
/sig network

[2020-10-07 18:14] kikisdeliveryservice commented on #1769
Hi @cezaryzukowski !

So the placeholder PR is very simple. See: https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-PR. This tells the docs team that you intend on adding feature documentation. Later on you'll add that full documentation and work with the docs team. You just need to do the placeholder by Nov. 6th but the sooner the better =)

Also, going forward, pl

[2020-10-07 22:51] kikisdeliveryservice commented on #1920
Hi @KielChan

I'd encourage you to bring up your Enhancement Proposal to sig-node via their mailing list or weekly meetings. See: https://github.com/kubernetes/community/tree/master/sig-node

They may be able to give you feedback that will allow your KEP to be scheduled for a future release.

Let me know if I can be of any further help.

-Kirsten

[2020-10-08 13:06] mrbobbytables commented on #2088
/sig architecture

[2020-10-08 13:55] patpatpat123 opened #2089 "Allow Kubernetes liveness and readiness probe to support HTTPS on /health endpoints"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow Kubernetes liveness and readiness probe to support HTTPS on /health endpoints

_Please keep this description up to date. This will help the Enhancement Team to track the evolution of the enhancement efficiently._

Hello Kubernetes Team,

I am here writing for an enhancement request, hope this makes

[2020-10-08 14:42] jingxu97 commented on #1122
I created a Windows GA project to track https://github.com/orgs/kubernetes-csi/projects/36

[2020-10-08 18:03] justaugustus commented on #1729
@kikisdeliveryservice -- Apologies for the hold here; I've been busy with KubeCon prep.
Filed an exception for 1.20 here: https://groups.google.com/g/kubernetes-sig-release/c/mYGxI8ixeTI

[2020-10-08 18:45] BenTheElder commented on #1729
The Go compiler is not inside the distroless images and the binaries we add in images built on top of them have CGO disabled.
There are no libraries and no executables in the distroless:static based images, only data files like ca-certificates.

It's actually important that these containers have no binaries / shared libraries in them ... the whole idea is that even if an attacker somehow gained ex

[2020-10-08 18:54] justaugustus commented on #1729
I'm fairly certain no one has thought through that part to completion. I'm all ears!

[2020-10-08 19:16] kikisdeliveryservice commented on #1729
Your Exception Request was approved so moved this back into 1.20 :+1:

[2020-10-08 19:17] kikisdeliveryservice commented on #647
Hi @dashpole

Your Exception Request was approved so moving this back into 1.20 :+1:

[2020-10-08 19:19] kikisdeliveryservice commented on #1435
Hi @janosi

Your Exception Request was approved so moving this back into 1.20 milestone. =)

[2020-10-08 19:30] abhiraut opened #2091 "AdminNetworkPolicy support"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduce cluster scoped AdminNetworkPolicy API.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2091-admin-network-policy
- Discussion Link: https://www.youtube.com/watch?v=yX1nFb3DS3A&list=PL69nYSiGNLP2E8vmnqo5MwPOY25sDWIxb Minute 29:00
- Primar

[2020-10-08 19:31] abhiraut commented on #2091
/cc @andrewsykim @jayunit100 @rikatz

[2020-10-08 19:32] justaugustus commented on #1729
Thanks Kirsten!

[2020-10-09 00:27] mikebrow commented on #1846
Thx for the discussion.  SGTM to POC 1.b

[2020-10-09 11:56] Atreus-Technologies commented on #753
I have an interest in this issue, and wanted to thank both @Joseph-Irving and @howardjohn for their insights on this, which helped resolve some of my questions.

I don't want to hijack this proposal, but based on the conversations above, I wonder if this is maybe a slightly broader/larger issue than has been recognised so far.

I can imagine the following solutions to this issue -

1. Define a new

[2020-10-09 13:57] michalzxc commented on #753
What about adding envoy as init container as well? This way it will provide network for other init containers. When init will finish it would 'exit 0' as well, and then regular envoy (not init) would take over

[2020-10-09 15:43] liggitt commented on #541
yes, design was just updated in https://github.com/kubernetes/enhancements/pull/2023 and exception requested at https://groups.google.com/g/kubernetes-sig-release/c/x75-HY7h7P4

[2020-10-09 17:58] kk-src commented on #1847
/remove-lifecycle stale

[2020-10-09 21:41] xing-yang commented on #695
Hi @gnufied,

We are targeting Beta in 1.20, right?  So the following line in kep.yaml should be updated to 1.20.

https://github.com/kubernetes/enhancements/blob/5f6d4f5cefa96bcf2d65d36b2f9bf8331e7441cd/keps/sig-storage/695-skip-permission-change/kep.yaml#L25

Thanks.

[2020-10-10 13:07] davinkevin commented on #753
@michalzxc If I'm not wrong, init containers are executed one by one sequentially, so you currently can't have an envoy next to another container as an `init-container`.

[2020-10-11 19:14] kinarashah commented on #563
Hi all,

1.20 Enhancement shadow here 👋

Since this Enhancement is scheduled to be in 1.20, please keep in mind these important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/releas

[2020-10-11 19:17] kinarashah commented on #606
Hi @RenaudWasTaken,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freez

[2020-10-11 19:20] kinarashah commented on #1610
Hi @arjunrn,

1.20 Enhancement shadow here 👋.

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/re

[2020-10-11 19:21] kinarashah commented on #1864
Hi @andrewsykim,

1.20 Enhancement shadow here 👋.

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - Docs Placeholder PR deadline
Thursday, Nov 12th: Week 9 - Code Freeze

As a reminder, please link all of your k/k PR as well as docs PR to this issue so we can track them.

Thank you!

[2020-10-11 19:22] kinarashah commented on #1965
Hi @roycaihw ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - Docs Placeholder PR deadline
Thursday, Nov 12th: Week 9 - Code Freeze

As a reminder, please link all of your k/k PR as well as docs PR to this issue so we can track them.

Thank you!

[2020-10-11 19:23] kinarashah commented on #2053
Hi @derekwaynecarr ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - Docs Placeholder PR deadline
Thursday, Nov 12th: Week 9 - Code Freeze

As a reminder, please link all of your k/k PR as well as docs PR to this issue so we can track them.

Thank you!

[2020-10-11 22:18] kikisdeliveryservice commented on #19
Hey @soltysh !

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

A

[2020-10-11 22:19] kikisdeliveryservice commented on #177
Hey @xing-yang !

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-11 22:20] kikisdeliveryservice commented on #667
Hi @feiskyer

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As

[2020-10-11 22:21] kikisdeliveryservice commented on #752
Hi @robscott

Just dropping a note about upcoming impt dates:

Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As a reminder, please link all of your k/k PR as well a

[2020-10-11 22:21] kikisdeliveryservice commented on #1393
Hi @mtaufen

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As a

[2020-10-11 22:23] kikisdeliveryservice commented on #1507
Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As a reminder, pl

[2020-10-11 22:25] kikisdeliveryservice commented on #1558
Hey @tallclair !

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) <--- Pretty sure you'll want to do this one for the deprecation
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/

[2020-10-11 22:26] kikisdeliveryservice commented on #1611
Hi @jayunit100

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

A

[2020-10-11 22:27] kikisdeliveryservice commented on #1669
Hey @andrewsykim

Sincethis Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-11 22:28] kikisdeliveryservice commented on #1682
Hey there @gnufied :wave:

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code

[2020-10-11 22:29] kikisdeliveryservice commented on #1729
@justaugustus we both know you know this but I'm telling you anyway :wink:

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-re

[2020-10-11 22:33] kikisdeliveryservice commented on #1797
Hi @javidiaz

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) <- DONE.
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-fre

[2020-10-11 22:35] kikisdeliveryservice commented on #1845
Hey there Hi @cofyc @msau42 :wave:

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phase

[2020-10-11 22:36] kikisdeliveryservice commented on #1867
Hi @RenaudWasTaken

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze

[2020-10-11 22:36] kikisdeliveryservice commented on #2000
Hi @bobbypage :smile:

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-fre

[2020-10-11 22:38] kikisdeliveryservice commented on #2004
Hey @robscott

Please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As a reminder, please link all of your k/k PR as well

[2020-10-11 22:39] kikisdeliveryservice commented on #2030
Pretty sure you've seen this before but, official ping :wink:

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/ma

[2020-10-11 22:39] kikisdeliveryservice commented on #2040
Hey @mrunalp :wave:

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freez

[2020-10-11 22:40] kikisdeliveryservice commented on #2043
Hi @swatisehgal !!

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze

[2020-10-12 02:21] MorrisLaw commented on #647
Hi @dashpole,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As

[2020-10-12 02:23] MorrisLaw commented on #757
Hi @derekwaynecarr,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freez

[2020-10-12 02:25] MorrisLaw commented on #1001
Hi @marosset,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As

[2020-10-12 02:25] MorrisLaw commented on #1020
Hi @soltysh ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As

[2020-10-12 02:26] MorrisLaw commented on #1040
Hi @yue9944882 ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-12 02:26] MorrisLaw commented on #1258
Hi @alculquicondor ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-free

[2020-10-12 02:26] MorrisLaw commented on #1287
Hi @vinaykul ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

A

[2020-10-12 02:27] MorrisLaw commented on #1435
Hi @janosi ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As

[2020-10-12 02:27] MorrisLaw commented on #1441
Hi @verb ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

As a

[2020-10-12 02:29] MorrisLaw commented on #1753
Hi @serathius ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-12 02:29] MorrisLaw commented on #1904
Hi @wojtek-t ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

A

[2020-10-12 02:31] MorrisLaw commented on #1967
Hey @derekwaynecarr ,

Another friendly reminder that since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/rele

[2020-10-12 06:35] mikejoh commented on #695
Hi @gnufied ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:

* **Friday, Nov 6th**: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
* **Thursday, Nov 12th**: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#cod

[2020-10-12 06:36] mikejoh commented on #950
Hi @matthyx  ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:

* **Friday, Nov 6th**: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
* **Thursday, Nov 12th**: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#co

[2020-10-12 06:36] mikejoh commented on #1591
Hi @matthyx  ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:

* **Friday, Nov 6th**: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
* **Thursday, Nov 12th**: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#co

[2020-10-12 06:36] mikejoh commented on #1933
Hi @PurelyApplied    ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:

* **Friday, Nov 6th**: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
* **Thursday, Nov 12th**: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phas

[2020-10-12 09:36] LappleApple opened #2095 "[Process improvement]: Make an easy-to-navigate website to find and query KEPs"
### This issue documents the roadmap/plan for a key 1.20 process-related objective.

#### What Is the Website
- An up-to-date index with links to tracking issues and KEPs
- Displays KEPs similar to [how Python displays PEPs](https://www.python.org/dev/peps/), with more detail
- Would be part of the Contributor website

#### Why Do We Need It
- Helps fulfil needs raised by @jberkus's [Make KEPs tra

[2020-10-12 09:51] rata commented on #753
Hi!

The sidecar discussion continued on this places (I've updated sig-node slack, github PR that started this and the mailing list):
https://groups.google.com/g/kubernetes-sig-node/c/w019G3R5VsQ/m/bbRDZTv5CAAJ
https://groups.google.com/g/kubernetes-sig-node/c/7kUaX-jBN3M/m/dhI3E8LOAAAJ

As you can see, we are collecting use cases now, after having some more use cases different small groups can cr

[2020-10-12 09:54] palnabarun commented on #2095
/area enhancements

[2020-10-12 14:40] arjunrn commented on #1610
@kinarashah Updated the description with the implementation and docs PR links.

[2020-10-12 15:47] xing-yang commented on #177
Hi @kikisdeliveryservice,

Thanks for the reminder!

Here is the k/k PR:
https://github.com/kubernetes/kubernetes/pull/95282

Xing

[2020-10-12 15:51] kinarashah commented on #585
Hi all,

1.20 Enhancement shadow here 👋

Since this Enhancement is scheduled to be in 1.20, please keep in mind these important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/releas

[2020-10-12 15:52] kinarashah commented on #614
Hi all,

1.20 Enhancement shadow here 👋

Since this Enhancement is scheduled to be in 1.20, please keep in mind these important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/releas

[2020-10-12 15:54] kinarashah commented on #1929
Hi @apelisse,

Since this Enhancement is scheduled to be in 1.20, please keep in mind these important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-12 15:55] kinarashah commented on #1610
That's awesome, thank you for getting them up so quickly!

[2020-10-12 17:06] kendallroden commented on #961
Hi @krmayankk ,

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-12 17:07] kendallroden commented on #1672
Hey @andrewsykim!

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-12 17:09] kendallroden commented on #1885
Hey @andyzhangx !

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-12 17:09] kendallroden commented on #1898
Hey @tallclair!

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

[2020-10-12 17:10] kendallroden commented on #1972
Hey @SergeyKanzhelev!

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-fre

[2020-10-12 17:10] kendallroden commented on #2047
Hey @zshihang!

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

*

[2020-10-12 17:11] kendallroden commented on #1495
Hi @bswartz!

Since your Enhancement is scheduled to be in 1.20, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)
Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

**A

[2020-10-12 19:07] marosset commented on #1001
Thanks @MorrisLaw!
I updated the initial issue comment to include PRs/bugfixes needed for GA.

[2020-10-13 10:59] soltysh commented on #1020
No docs are required for this particular enhacement. This is only about internal code organization.

[2020-10-13 16:35] LappleApple commented on #620
/unassign @justaugustus

[2020-10-13 20:55] lachie83 commented on #563
Hi @kinarashah @kikisdeliveryservice - I have confirmed on the sig-network call that we need this reclassified to alpha for 1.20. It's a complete reimplementation that needs time to soak and be tested in alpha stage.

[2020-10-13 23:50] kikisdeliveryservice commented on #541
Hi @ankeesler

Added this issue to the milestone, since it was granted an exception and updated to add all missing items. :+1:

Also, please keep in mind the important upcoming dates:
Friday, Nov 6th: Week 8 - Docs Placeholder PR deadline
Thursday, Nov 12th: Week 9 - Code Freeze

As a reminder, please link all of your k/k PRs as well as docs PRs to this issue so we can track them.

Thanks!
Kirsten

[2020-10-13 23:52] kikisdeliveryservice commented on #1748
An exception request was granted, so please ensure that all required changes are made and your PR is merged by the deadline listed in your request.

Thank!
Kirsten

cc: @mikejoh

[2020-10-13 23:54] kikisdeliveryservice commented on #541
Also @liggitt @ankeesler who should be the primary contact for this issue? @enj is listed, but should this be updated?

[2020-10-14 12:32] ankeesler commented on #541
Thank you @kikisdeliveryservice ! Why don't you make me primary contact on this issue until @enj gets back. @enj is certainly more competent than me when it comes to this stuff, but I will be able to carry it in his absence!

[2020-10-14 17:03] kikisdeliveryservice commented on #541
Done, thanks @ankeesler !

[2020-10-14 17:44] mrbobbytables commented on #1553
I think the follow-up to this one is the update to our triage guidelines. What do you think?

[2020-10-14 19:35] mtaufen commented on #1393
Thanks @kikisdeliveryservice! We're all set :)

[2020-10-14 19:46] gkarthiks commented on #2095
@LappleApple I am interested in this. Please ping me on Slack.

[2020-10-15 00:22] jberkus commented on #2095
A site designed after the PEP page will fulfill most of the transparency requirements.  The one additional feature we'll eventually need that PEP doesn't have is to have lists of:

- current work tied to each KEP (issues and PRs)
- planned deliverables for the KEP, by release no.

[2020-10-15 15:17] LappleApple commented on #2095
Some user stories drafted in June 2020 for KEPs tooling, based on [Make KEPs Transparent](https://github.com/kubernetes/enhancements/issues/1673) and misc. conversations:

- As a Kubernetes contributor, I would like to find useful information (including SIG) about current KEPs in an automated and searchable way, so that I can consider contributing to efforts that the community deems valuable.
- As

[2020-10-16 01:14] danwinship commented on #614
Updated to GA in k/k, https://github.com/kubernetes/kubernetes/pull/95566.
Docs PR is https://github.com/kubernetes/website/pull/24593

[2020-10-16 13:12] kbhawkey commented on #2095
Hi @LappleApple .
I may have some time to pitch in with the templating piece.

[2020-10-16 14:33] annajung commented on #606
Hello @RenaudWasTaken , 1.20 Docs lead here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `k/website` repo. This PR can be just a placeholder at this time and must be created before **Nov 6th**

Al

[2020-10-16 15:46] LappleApple commented on #822
Recently in Enhancements we've been talking about implementing changes suggested in this issue, including @liggitt's call for greater specificity in the testing plan section. To that end, we'd like to get more feedback/input from SIGs Arch and Testing about what a more detailed testing plan should include. Wondering if we might generate some ideas here?

[2020-10-17 20:13] sftim commented on #2095
OK, here's a mockup of a future https://k8s.dev/resources/enhancements/:
![https://k8s.dev/resources/enhancements/](https://user-images.githubusercontent.com/22591623/96352716-5a9c7b00-10bd-11eb-82b7-08438305896d.png)

What do we need to render that? The minimum is that for each KEP we have a bit of metadata.
For the mockup the minimum you need is like this:
[code]
or
[code]
(you _don't_ need a KE

[2020-10-17 20:13] sftim commented on #2095
Questions about that mockup?

[2020-10-17 22:51] mtaufen commented on #786
I don't have permission to close it. Anyone on this thread feel free.

[2020-10-19 06:45] gadinaor opened #2102 "Add FileSystemChanged flag to Pod ContainerStatus"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Add a status flag whether container file system changed
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs: sig-node, sig-security
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y)

[2020-10-19 07:31] gadinaor commented on #2102
/sig sig-node

[2020-10-19 07:31] gadinaor commented on #2102
/sig node

[2020-10-19 07:32] gadinaor commented on #2102
/sig security

[2020-10-19 12:30] mrbobbytables commented on #2095
I'd go the table formatting route, but we should be able to get at a minimum from the metadata:
- title
- status
- owning-sig

Once the enhancement structure is in place, we can get the kep # (and associated tracking issue).

GitHub pages would require an additional commit any time a kep is updated =/ I think we could provision a gcs bucket and dump the content there as a postsubmit job.

[2020-10-19 12:38] palnabarun commented on #2095
@sftim -- that mockup looks great.

I have a few ideas that I was experimenting with related to preparing the data for the website.

One question I had though, do the KEP markdown files need to have certain Hugo metadata in order to be rendered by Hugo during the site generation phae?

@mrbobbytables -- Putting the JSON into a GCS bucket sounds great. 👍🏽

I will get back with more updates by next

[2020-10-19 12:48] mrbobbytables commented on #2095
We don't want to render the keps themselves in hugo (at this point). We do want to provide a list of them from a single page.

As someone that spent many hours trying to fix rendering of them in hugo (the original goal of the contrib site was to list keps). It very much is not a path forward without significant effort in fixing paths, links and more. =/

[2020-10-19 14:25] palnabarun commented on #2095
Okay. That clears the doubt. Thank you! 😃

[2020-10-19 14:37] ankeesler commented on #541
I dunno where to put delivery status information on this feature set, so I'm gonna stick it here and someone can correct me if there is a better place. :)

1.20 Delivery Status (as of 2020-10-19):
- cluster info k/k pr (targeted at 1.20) is `assigned for review`: https://github.com/kubernetes/kubernetes/pull/95489
- website pr (targeted at 1.20) is opened, `blocked until k/k pr is merged`: https:/

[2020-10-19 14:38] sftim commented on #2095
Something I've thought of doing as a place to dump generated JSON: use the repo wiki (which is actually a Git repo), and have the GitHub Action update a JSON file in that repo every time someone merges to the main branch in the main repo.

Depends what we think about GitHub Actions though!

[2020-10-19 14:48] mcluseau opened #2104 "reworking the kube-proxy's architecture"
# Enhancement Description
- One-line enhancement description (can be used as a release note): reworking the kube-proxy's architecture
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2094
- Discussion Link: was live only
- Primary contact (assignee): TBD
- Responsible SIGs: network
- Enhancement target (which target equals to which milestone):
  - Alpha release ta

[2020-10-19 14:57] reylejano-rxm commented on #563
Hello @lachie83, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be create

[2020-10-19 14:58] reylejano-rxm commented on #585
Hello @tallclair , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be crea

[2020-10-19 15:01] reylejano-rxm commented on #1040
Hello @MikeSpreitzer @yue9944882 , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time

[2020-10-19 15:02] reylejano-rxm commented on #1164
Hello @wojtek-t , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be creat

[2020-10-19 15:03] reylejano-rxm commented on #1258
Hello @alculquicondor , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be

[2020-10-19 15:03] reylejano-rxm commented on #1558
Hello @tallclair , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be crea

[2020-10-19 15:04] reylejano-rxm commented on #1898
Hello @tallclair , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be crea

[2020-10-19 15:04] wojtek-t commented on #1164
@reylejano-rxm - we don't need any documentation for it.

[2020-10-19 15:10] reylejano-rxm commented on #1904
Hello @wojtek-t , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be creat

[2020-10-19 15:11] reylejano-rxm commented on #1929
Hello @apelisse , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be creat

[2020-10-19 15:12] reylejano-rxm commented on #1965
Hello @roycaihw , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be creat

[2020-10-19 15:14] reylejano-rxm commented on #2043
Hello @AlexeyPerevalov , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must b

[2020-10-19 15:33] mcluseau commented on #2104
/sig network

[2020-10-19 15:34] apelisse commented on #1929
Created :-) Thanks!

[2020-10-19 15:42] AlexeyPerevalov commented on #2043
Hello, thank you for informing us!

This enhancement requires document changes, I prepared PR
https://github.com/kubernetes/website/pull/24641 with a patch and it's
ready now for review.
Unfortunately I can't set a milestone for PR.

пн, 19 окт. 2020 г. в 18:15, reylejano-rxm <notifications@github.com>:

[2020-10-19 15:53] reylejano-rxm commented on #2043
@AlexeyPerevalov I added milestone 1.20 to [PR 24641](https://github.com/kubernetes/website/pull/24641)

[2020-10-19 16:15] annajung commented on #1867
Hello @RenaudWasTaken 👋 , 1.20 Docs lead here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be cre

[2020-10-19 16:16] annajung commented on #1933
Hello @PurelyApplied  👋 , 1.20 Docs lead here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be cre

[2020-10-19 16:17] annajung commented on #1967
Hello @derekwaynecarr  👋 , 1.20 Docs lead here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be cr

[2020-10-19 16:17] annajung commented on #2000
Hello @bobbypage  👋 , 1.20 Docs lead here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created

[2020-10-19 16:17] annajung commented on #2053
Hello @derekwaynecarr  👋 , 1.20 Docs lead here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be cr

[2020-10-19 16:30] cezaryzukowski commented on #1769
Dear @kikisdeliveryservice ,

We link the PRs:
- Placeholder PR: https://github.com/kubernetes/website/pull/24642
- Implementation PR:  https://github.com/kubernetes/kubernetes/pull/95479

Cheers 😸

[2020-10-19 17:47] kikisdeliveryservice commented on #786
Ok closing this by @mtaufen request :smile:

Please reopen when necessary.

[2020-10-19 17:47] #786 closed

[2020-10-19 17:49] kikisdeliveryservice commented on #541
This is perfect thank you @ankeesler :heart:

[2020-10-20 10:47] andyxning commented on #661
/sub

[2020-10-20 10:48] andyxning commented on #661
As we are evolving to support resize in-use PVC, i think we need to toggle StatefulSet PVC change.

[2020-10-20 11:59] wojtek-t commented on #1904
@reylejano-rxm - we don't need any documents for it.

[2020-10-20 13:41] sep76 commented on #508
Is there any documentation on how to verify ipv6 only operations ? google only lead me to ipv4 or ipv6 dualstack.

[2020-10-20 14:04] aojea commented on #508
what do you mean by "verify"?

The installation for IPv6 only is the same as in IPv4, just you need to use IPv6 addresses and subnets in your configuration, no additional changes needed.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#initializing-your-control-plane-node

[2020-10-20 16:39] chrisnew commented on #508
Can confirm. I run 1.17.x in ipv6-only mode. Just follow the IPv4 guide and use IPv6 addresses. That’s basically it.

[2020-10-20 21:51] robscott opened #2106 "Service APIs"
# Enhancement Description
- One-line enhancement description (can be used as a release note): The next iteration of composite service (e.g. Ingress) and load balancing APIs
- Kubernetes Enhancement Proposal: N/A
- Discussion Link: https://github.com/kubernetes-sigs/service-apis
- Primary contact (assignee): @robscott
- Responsible SIGs: sig-network
- Enhancement target: Initial API releases will b

[2020-10-20 21:51] robscott commented on #2106
/sig network

[2020-10-20 21:55] robscott commented on #2106
@kikisdeliveryservice Our work on the Service APIs project is a bit unique here. I believe it may represent the first "out of tree" official set of Kubernetes APIs. With that said, we're interested in including documentation on k8s.io, but our initial alpha releases likely won't be tied to the Kubernetes release cycle. Does this feel like something that should be represented with a KEP? Is there a

[2020-10-20 22:18] kikisdeliveryservice commented on #2106
Hi @robscott !

KEP work follows the release cadence. Some out-of-tree sigs/work use KEPs as a way to track their own work (even tho it's not explicitly tracked by the release team) whether it's fully out-of-tree or partially.  It's not uncommon for people to make a KEP that for a release is out-of-tree, while having it be in-tree in other releases (ie alpha out of tree, beta, stable in-tree, etc.

[2020-10-21 10:28] Joseph-Irving commented on #753
This KEP will not be progressing, Sig-node and others feel that this is not an incremental step in the right direction so they've gone back to the drawing board and will be coming up with some new KEPs that can hopefully solve all the use cases stated in this KEP as well as others.

Please see @rata's previous comment https://github.com/kubernetes/enhancements/issues/753#issuecomment-707014341
For

[2020-10-21 10:36] SomtochiAma commented on #614
Hello @janosi , 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created be

[2020-10-21 10:38] SomtochiAma commented on #667
Hello @lachie83 @justaugustus @khenidak, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get y

[2020-10-21 10:40] SomtochiAma commented on #961
Hello @krmayankk, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar with t

[2020-10-21 10:42] SomtochiAma commented on #1020
Hello @soltysh @seans3 @pwittrock, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yoursel

[2020-10-21 10:43] SomtochiAma commented on #1287
Hello @vinaykul , 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar with t

[2020-10-21 10:44] SomtochiAma commented on #1441
Hello @soltysh @verb, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar wi

[2020-10-21 10:44] SomtochiAma commented on #1591
Hello @smarterclayton , 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar

[2020-10-21 10:45] SomtochiAma commented on #1748
Hello @smarterclayton , 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar

[2020-10-21 10:46] SomtochiAma commented on #1753
Hello @44past4, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar with the

[2020-10-21 10:46] SomtochiAma commented on #1885
Hello @andyzhangx, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar with

[2020-10-21 10:47] SomtochiAma commented on #2040
Hello @mrunalp, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar with the

[2020-10-21 10:52] SomtochiAma commented on #647
Hello @dashpole, 1.20 Docs shadow here 👋🏽.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps here to open a PR against dev-1.20 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Nov 6th
Also, take a look at Documenting for a release to get yourself familiar with th

[2020-10-21 15:39] verb commented on #1441
@SomtochiAma ack, will open PR against dev-1.20 branch by Nov 6.

[2020-10-21 15:47] danwinship commented on #614
So code and docs are merged and I filed a PR (#2107) to update the KEP to "implemented". Should I make that PR be "Closes: #614" or does this issue stay open until the release team is done with it?

[2020-10-21 20:10] SomtochiAma commented on #614
Sorry @danwinship! You are all good.

[2020-10-21 21:10] kikisdeliveryservice commented on #2102
Hi @gadinaor

1.20 Enhancements Lead here. Thanks for starting your issue. As a note, issues should link to a draft PR or merged KEP. Please see: https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template for templates to use.

Also, please fill out the "Discussion Link:", which would link to a slack conversation or mailing list talk where you discussed this with the SIG that is

[2020-10-22 13:09] SomtochiAma commented on #19
Hello @soltysh, 1.20 Docs shadow here.
Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created befo

[2020-10-22 17:00] eagleusb commented on #177
Hello @xing-yang @jingxu97 :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and

[2020-10-22 17:04] eagleusb commented on #695
Hello @gnufied :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be crea

[2020-10-22 17:07] eagleusb commented on #1001
Hello @marosset :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be cre

[2020-10-22 17:09] eagleusb commented on #1495
Hello @bswartz :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be crea

[2020-10-22 17:10] eagleusb commented on #1610
Hello @arjunrn :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be crea

[2020-10-22 17:12] eagleusb commented on #1682
Hello @huffmanca @gnufied :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and m

[2020-10-22 17:14] eagleusb commented on #1729
Hello @justaugustus :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be

[2020-10-22 17:17] eagleusb commented on #1845
Hello @cofyc :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be create

[2020-10-22 17:19] eagleusb commented on #2047
Hello @zshihang :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be cre

[2020-10-22 17:21] eagleusb commented on #2067
Hello @neolit123 :wave:, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo.

This PR can be just a placeholder at this time and must be cr

[2020-10-22 17:42] zshihang commented on #2047
does the documentation for csi follow the same process? @msau42

looks like csi has its own documentation at https://kubernetes-csi.github.io/docs

[2020-10-22 18:21] xing-yang commented on #177
Thanks @eagleusb !  I'll submit a placeholder doc soon.

[2020-10-22 18:39] soltysh commented on #1020
Like mentioned before, we're not planning any doc changes, this is modifying internal code.

[2020-10-22 18:47] soltysh commented on #19
Roger that :+1:

[2020-10-22 19:53] kcmartin commented on #752
Hello @robscott , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created be

[2020-10-22 19:57] kcmartin commented on #1435
Hello @janosi , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created bef

[2020-10-22 19:59] kcmartin commented on #1864
Hello @andrewsykim, 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created

[2020-10-22 20:02] kcmartin commented on #1507
Hello @robscott , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created b

[2020-10-22 20:57] msau42 commented on #2047
Since this feature is targeted towards csi driver authors and not k8s end users, https://kubernetes-csi.github.io/docs is the right place to document this feature.

Although since this feature does require a kubernetes feature gate, we should at least document the feature gate in the kubernetes docs.

[2020-10-22 21:28] kcmartin commented on #1611
Hello @jayunit100 , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

It looked as if it did not require docs, based on the comments above, but if I'm mistaken, please follow the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `

[2020-10-22 21:31] kcmartin commented on #1669
Hello @andrewsykim , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be create

[2020-10-22 21:32] kcmartin commented on #1672
Hello @andrewsykim , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be create

[2020-10-22 21:35] kcmartin commented on #1972
Hello @SergeyKanzhelev , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be cr

[2020-10-22 21:36] kcmartin commented on #2004
Hello @robscott , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created b

[2020-10-22 21:38] kcmartin commented on #2030
Hello @robscott , 1.20 Docs shadow here.

Does this enhancement work planned for 1.20 require any new docs or modification to existing docs?

If so, please follow the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.20` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created be

[2020-10-22 22:35] kikisdeliveryservice commented on #1729
Spoke with @justaugustus and the deliverables for this are to update the KEP to reflect the relevant images used for release (current KEP is overbroad & uses non-essential ones) as well as make updates similar to: https://github.com/kubernetes/sig-release/pull/1084

@eagleusb there will be no k/website docs for this issue in 1.20

[2020-10-22 23:09] SergeyKanzhelev commented on #1972
I will look at it this week

[2020-10-22 23:48] SergeyKanzhelev commented on #1972
Started: https://github.com/kubernetes/website/pull/24692

[2020-10-23 02:09] cofyc commented on #1845
Thanks!

[2020-10-23 13:01] jayunit100 opened #2112 "Add an option to the NetworkPolicy API for namespace.Name selection ."
# Enhancement Description
- Add a namespace `name` selector field to the NetworkPolicy API
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/88253
- Primary contact (assignee): jayunit100
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.21)
  - Beta release target (1.22)

[2020-10-23 13:04] jayunit100 commented on #2112
/sig network

[2020-10-23 15:59] tallclair commented on #1558
No docs changes needed for this one.

[2020-10-23 16:00] tallclair commented on #585
@SergeyKanzhelev can you answer @reylejano-rxm 's question?

[2020-10-23 16:38] SergeyKanzhelev commented on #585
@harche was going to submit this PR. @harche are you still up for it? I can do it, not a problem.

[2020-10-23 16:48] harche commented on #585
Yeah, I have to focus on one critical customer issue so if you can do it, that would be a great help. Otherwise I can look into it sometime next week.

[2020-10-23 21:04] SergeyKanzhelev commented on #585
Website PR: https://github.com/kubernetes/website/pull/24698/

[2020-10-24 00:34] ehashman commented on #1602
@serathius are we going to add a `WarningS` or similar function in the beta? @endocrimes pointed out that while we currently have Info and Error implementations, Warning is currently missing.

[2020-10-26 00:25] feiskyer commented on #667
@SomtochiAma the docs would be updated at https://github.com/kubernetes-sigs/cloud-provider-azure

[2020-10-26 13:27] kbhawkey commented on #2095
:eyes:

[2020-10-26 13:39] kbhawkey commented on #2095
Hi. I don't know whether you need more help.
Do you have a program to create the Markdown files from the KEP data?
I'd like to see what a list of KEPs looks like. Is there an existing site?

[2020-10-26 15:30] SomtochiAma commented on #667
Does any modification need to be made to this website? [https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features)

If not, then you are all good.

[2020-10-26 15:34] SomtochiAma commented on #1020
All right. Noted!

[2020-10-26 15:42] endocrimes commented on #1602
Happy to open a PR if we want to include it - mostly spotted this while trying to cleanup some logs in kubelet.

[2020-10-26 18:44] dims commented on #1602
@endocrimes go for it! let's debate on the PR :)

[2020-10-26 20:08] endocrimes commented on #1602
@dims / @ehashman done https://github.com/kubernetes/klog/pull/184

[2020-10-27 04:29] tallclair commented on #1898
I don't think this needs any docs beyond the release notes & auto-generated API reference.

[2020-10-27 07:27] feiskyer commented on #667
No required modification here.

[2020-10-27 09:17] serathius commented on #1602
Structured Logging has different semantic then original klog methods. Structured logging interface is based on https://github.com/go-logr/logr which doesn't use Warning
[code]

[2020-10-27 15:38] justaugustus commented on #1780
/unassign @jeremyrickard
/assign @craiglpeters

[2020-10-27 15:39] craiglpeters commented on #1538
The first step is to create an enhancement tracking issue whose number is then the four NNNNs, so the second set of instructions is correct.

[2020-10-27 16:13] craiglpeters commented on #1780
Checked latest - already fixed

[2020-10-27 16:13] #1780 closed

[2020-10-27 16:20] craiglpeters commented on #1538
Already fixed by someone

[2020-10-27 16:20] #1538 closed

[2020-10-27 16:27] SergeyKanzhelev commented on #693
@kikisdeliveryservice can you please help understand the process. The Topology Manager feature is not graduating in 1.20, but the new feature will be added to it and being worked on now: https://github.com/kubernetes/enhancements/pull/1752 k/k: https://github.com/kubernetes/kubernetes/pull/92967. Is this something we need to track with the release team? It may simplify tracking the docs update for

[2020-10-27 17:19] elliotfehr opened #2118 "Add http health probe assertions for http responses"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add the ability for http health probes to assert expectations for the response
- Kubernetes Enhancement Proposal: *will add link once made*
- Discussion Link:  https://github.com/kubernetes/kubernetes/pull/95889
- Primary contact (assignee): @elliotfehr
- Responsible SIGs: @kubernetes/sig-node-api-reviews

[2020-10-27 17:40] mrunalp commented on #2040
@SomtochiAma Thanks! I will open a PR.

[2020-10-27 18:02] RenaudWasTaken commented on #1867
Sorry for the delay!

No updates to the docs.

PR graduating the feature to beta was merged and no further work is expected in 1.20

[2020-10-27 18:04] RenaudWasTaken commented on #606
I'm not sure we will be updating the docs for v1.

Right now, we are in the review of the graduation PR: https://github.com/kubernetes/kubernetes/pull/92165

[2020-10-27 18:10] annajung commented on #1867
Hi @RenaudWasTaken, I believe https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/feature-gates.md needs to be changed to reflect graduation to beta. Could you confirm?

[2020-10-27 18:17] RenaudWasTaken commented on #1867
Ah thanks for noticing this, will make the change shortly

[2020-10-27 18:40] RenaudWasTaken commented on #1867
Addressed here: https://github.com/kubernetes/website/pull/24755

[2020-10-27 18:42] RenaudWasTaken commented on #606
Thinking about it a bit more, we need to update the reference out of beta, let me do that

[2020-10-27 23:15] mrunalp commented on #2040
@kikisdeliveryservice @SomtochiAma I have opened https://github.com/kubernetes/website/pull/24757

[2020-10-27 23:16] mrunalp commented on #2040
There is currently one PR open for this enhancement https://github.com/kubernetes/kubernetes/pull/95876/files. After that is merged
I will open a PR to update the version.

[2020-10-28 04:44] #1500 closed

[2020-10-28 21:08] lachie83 commented on #563
Thanks @reylejano-rxm - we've opened kubernetes/website#24725

[2020-10-29 15:57] chrishenzie opened #2119 "Make CSIDriver.spec.podInfoOnMount mutable"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
  - `CSIDriver.spec.podInfoOnMount` is now a mutable field
- Primary contact (assignee): @chrishenzie
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.21
  - Beta release target (x.y): 1.22
  - Stable release target (x.y): 1.2

[2020-10-29 16:00] chrishenzie commented on #2119
/sig storage

[2020-10-29 16:09] k-wiatrzyk commented on #693
Topology Manager web documentation update PR: https://github.com/kubernetes/website/pull/24781

[2020-10-29 17:10] annajung commented on #693
I believe it can be tracked with 1.20 and does not necessarily need to graduate. @kikisdeliveryservice please chime in if that's not correct. I will track the shared k/website as part of the 1.20 release until I hear otherwise.

[2020-10-29 17:58] serathius commented on #1753
Status of applying datapolicy annotations:
* [ ] cmd/kubeadm https://github.com/kubernetes/kubernetes/pull/95991
* [ ] pkg/apis https://github.com/kubernetes/kubernetes/pull/95992
* [ ] test/e2e/framework https://github.com/kubernetes/kubernetes/pull/95993
* [ ] test/e2e/storage https://github.com/kubernetes/kubernetes/pull/95994
* [ ] staging/src/k8s.io/legacy-cloud-providers https://github.com/k

[2020-10-29 18:03] serathius commented on #1753
@SomtochiAma @MorrisLaw  I will file a placeholder PR tommorow. Thanks for reminder.

[2020-10-30 02:42] yuzhiquan commented on #1440
/cc

[2020-10-30 08:36] pohly commented on #2119
I think all fields should be mutable, not just `podInfoOnMount`. Opting into storage capacity tracking by first rolling out with `storageCapacity` false and then flipping it to true when storage capacity information is available was one of the use cases identified earlier.

In practice, supporting `kubectl apply` with a modified CSIDriver is simpler than first having to delete it.

[2020-10-30 14:49] ankeesler commented on #541
1.20 Delivery Status (as of 2020-10-30):
- cluster info k/k pr (targeted at 1.20) is `merged` (thank you @liggitt): https://github.com/kubernetes/kubernetes/pull/95489
- website pr (targeted at 1.20): is now `assigned for review`: https://github.com/kubernetes/website/pull/24639
- enhancements pr with touchups that fell out of cluster info implementation, `assigned for review`: https://github.com/

[2020-10-30 15:56] craiglpeters commented on #1981
@ambguo can you please update the description on this issue to point to the KEP, rather than the draft in Gdocs?

[2020-10-30 19:14] kikisdeliveryservice commented on #693
Hi @SergeyKanzhelev

Looking at the history this actually isn't the case. I was told that this would not be graduating above, which is fine and why this KEP is untracked. However, this enhancement (unbeknowst to the enhancements team) was recently retargetted by @k-wiatrzyk for 1.20 as beta (https://github.com/kubernetes/enhancements/pull/1950). This requires an enhancement exception request ASAP.

[2020-10-30 20:04] msau42 commented on #2119
I spoke with @liggitt and he confirmed that we don't need an enhancement issue/feature gate to track this work.

What we need to make sure is:
- all consumers of this field can properly handle it being mutable
- we can handle version skew between api server and clients
- the validation is updated in a way that makes sure we don't make more fields than intended as mutable.

/close

[2020-10-30 20:04] #2119 closed

[2020-10-30 20:39] annajung commented on #1933
Hi @PurelyApplied

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs P

[2020-10-30 20:47] kikisdeliveryservice commented on #1024
Since #2006 has merged, closing this issue.

[2020-10-30 20:47] #1024 closed

[2020-10-30 21:58] klueska commented on #693
The feature was already merged into the (pre-existing) KEP (before the enhancement deadline).
https://github.com/kubernetes/enhancements/pull/1752

At it's implementation PR is already part of the milestone.
https://github.com/kubernetes/kubernetes/pull/92967

I wasn't aware there was any more to do.

With whom do we need to file an exception, and for what exactly?

[2020-10-30 22:17] kikisdeliveryservice commented on #693
Hi @klueska the pr you are referencing was merged in June for adding beta into the kep in 1.19: https://github.com/bg-chun/enhancements/blob/f3df83cc997ff49bfbb59414545c3e4002796f19/keps/sig-node/0035-20190130-topology-manager.md#beta-v119

The enhancements deadline for 1.20 was October 6th but the change, moving beta to 1.20 and removing the reference to 1.19 was done 9 days ago via https://githu

[2020-10-30 22:28] klueska commented on #693
Sorry, I'm still confused as to what we will be filing an exception for.
I'm happy to do it, I'm just not sure what to include in it.

The "Node Topology Manager" feature already graduated to beta in 1.18.
It is not graduting to GA in 1.20 (it is staying in beta).

The PR being merged for 1.20 (i.e. kubernetes/kubernetes#92967) is an improvement to the existing code for the Topology Manager, but i

[2020-10-30 23:32] kikisdeliveryservice commented on #614
This is awesome @danwinship !!!

I see the PR: https://github.com/kubernetes/enhancements/pull/2107 marking it as GA which looks good.

Even after that merges, we'll leave this issue open for tracking purposes and close it out when the release is finished.

Thanks  again!!

[2020-10-31 07:13] SomtochiAma commented on #19
Hi @soltysh
The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Placehol

[2020-10-31 07:16] SomtochiAma commented on #961
Hi @krmayankk
The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Placeh

[2020-10-31 07:20] SomtochiAma commented on #1287
Hi @vinaykul
The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Placeho

[2020-10-31 07:21] SomtochiAma commented on #1441
Hi @verb
The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Placeholder

[2020-10-31 07:22] SomtochiAma commented on #1591
Hi @smarterclayton
The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs

[2020-10-31 07:23] SomtochiAma commented on #1748
Hi @smarterclayton
The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs

[2020-10-31 07:24] SomtochiAma commented on #1753
Hi @serathius

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Place

[2020-10-31 07:24] SomtochiAma commented on #1885
Hi @andyzhangx
The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Place

[2020-11-01 17:03] annajung commented on #606
Hi @RenaudWasTaken

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- M

[2020-11-01 17:07] annajung commented on #1967
Hi @derekwaynecarr

The docs placeholder deadline is this Friday. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs

[2020-11-01 17:07] annajung commented on #2000
Hi @bobbypage

The docs placeholder deadline is this Friday. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Place

[2020-11-01 17:08] annajung commented on #2053
Hi @derekwaynecarr

The docs placeholder deadline is this Friday. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs

[2020-11-01 17:11] annajung commented on #647
Hi @dashpole

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- Monday,

[2020-11-01 17:16] annajung commented on #2040
Hi @mrunalp

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- Monday,

[2020-11-01 17:19] annajung commented on #667
Hi @feiskyer

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ Docs Not Required
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- ~Monday, Nov 23rd: Week 11 -

[2020-11-01 17:50] reylejano-rxm commented on #1040
Hi @MikeSpreitzer @yue9944882

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week

[2020-11-01 17:51] reylejano-rxm commented on #1258
Hi @alculquicondor

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs

[2020-11-01 17:51] reylejano-rxm commented on #1965
Hi @roycaihw

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:
- Friday, Nov 6th: Week 8 - [Docs Placeh

[2020-11-01 17:55] reylejano-rxm commented on #563
Hi @lachie83

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:

- <s>Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)</s> DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- M

[2020-11-01 17:57] reylejano-rxm commented on #1929
Hi @apelisse

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:

- <s>Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)</s> DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- M

[2020-11-01 23:15] kcmartin commented on #752
Hi @robscott

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](create a placeholder PR) against the `dev-1.20` branch in the `[k/website](https://github.com/kubernetes/website)` before the deadline

Also, please keep in mind the important upcoming dates:

Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-co

[2020-11-01 23:20] kcmartin commented on #1435
Hi @janosi

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](create a placeholder PR) against the `dev-1.20` branch in the `[k/website](https://github.com/kubernetes/website)` before the deadline

Also, please keep in mind the important upcoming dates:

Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-cont

[2020-11-02 00:06] kcmartin commented on #1507
Hi @robscott

Docs shadow here -- we are not tracking any docs for this enhancement -- do you plan any docs for the 1.20 release? All I see is the [docs for the 1.19 release](Updating AppProtocol docs for 1.19 release kubernetes/website#21588).

Please let us know your plans as soon as possilble, thanks!

[2020-11-02 00:22] kcmartin commented on #1669
Hi @andrewsykim

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](create a placeholder PR) against the `dev-1.20` branch in the `[k/website](https://github.com/kubernetes/website)` before the deadline

Also, please keep in mind the important upcoming dates:

Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new

[2020-11-02 00:24] kcmartin commented on #1672
Hi @andrewsykim

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](create a placeholder PR) against the `dev-1.20` branch in the `[k/website](https://github.com/kubernetes/website)` before the deadline

Also, please keep in mind the important upcoming dates:

Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new

[2020-11-02 00:26] kcmartin commented on #1864
Hi @andrewsykim

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](create a placeholder PR) against the `dev-1.20` branch in the `[k/website](https://github.com/kubernetes/website)` before the deadline

Also, please keep in mind the important upcoming dates:

Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new

[2020-11-02 00:38] kcmartin commented on #1972
Hi @RenaudWasTaken

 Thanks for creating the docs PR!

 Please keep in mind the important upcoming dates:

 * ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ DONE!
 * Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze

[2020-11-02 00:40] kcmartin commented on #2004
Hi @robscott

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [k/website](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:

Friday, Nov 6th: Week 8 - [Docs Placehold

[2020-11-02 00:42] kcmartin commented on #2030
Hi @robscott

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [k/website](https://github.com/kubernetes/website) before the deadline

Also, please keep in mind the important upcoming dates:

Friday, Nov 6th: Week 8 - [Docs Placehold

[2020-11-02 10:15] serathius commented on #1753
Placeholder PR created, thanks for reminder.

[2020-11-02 11:35] k-wiatrzyk commented on #693
I have sent a Call of Exception mail as the deadline is today (just in case): https://groups.google.com/g/kubernetes-sig-node/c/lsy0fO6cBUY/m/_ujNkQtCCQAJ

[2020-11-02 11:41] verb commented on #1441
Pending PRs for 1.20:

- [ ] kubernetes/kubernetes#96058: Tests + Changing images of existing containers in pod copies
- [ ] TODO: PR to change `kubectl alpha debug` to `kubectl debug`
- [ ] kubernetes/website#24847: Docs for 1.20

[2020-11-02 13:50] SomtochiAma commented on #1753
Thank you @serathius 🥳

[2020-11-02 13:55] annajung commented on #1020
Hi @soltysh

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ Docs Not Required
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- ~Monday, Nov 23rd: Week 11 - [

[2020-11-02 13:56] annajung commented on #1164
Hi @wojtek-t

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ Docs Not Required
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- ~Monday, Nov 23rd: Week 11 -

[2020-11-02 13:58] annajung commented on #1558
Hi @tallclair

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ Docs Not Required
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- ~Monday, Nov 23rd: Week 11 -

[2020-11-02 14:02] annajung commented on #1729
Hi @justaugustus

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ Docs Not Required
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- ~Monday, Nov 23rd: Week 1

[2020-11-02 14:05] annajung commented on #1898
Hi @tallclair

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ Docs Not Required
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- ~Monday, Nov 23rd: Week 11 -

[2020-11-02 14:05] annajung commented on #1904
Hi @wojtek-t

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ Docs Not Required
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- ~Monday, Nov 23rd: Week 11 -

[2020-11-02 14:08] annajung commented on #2043
Hi @AlexeyPerevalov

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:
- ~Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)~ DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
-

[2020-11-02 14:19] eagleusb commented on #177
Hi @xing-yang :wave:

Thanks for your update. In the meantime, the docs placeholder deadline is almost here.

Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcom

[2020-11-02 14:24] eagleusb commented on #695
Hi @gnufied @mattsmithdatera :wave:

The docs placeholder deadline is almost here.

Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:

- Friday, Nov

[2020-11-02 14:28] eagleusb commented on #1001
Hi @marosset :wave:

The docs placeholder deadline is almost here.

Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:

- Friday, Nov 6th: Week 8 - [D

[2020-11-02 14:31] eagleusb commented on #1495
Hi @bswartz :wave:

The docs placeholder deadline is almost here.

Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:

- Friday, Nov 6th: Week 8 - [Do

[2020-11-02 14:35] eagleusb commented on #1682
Hi @huffmanca :wave:

The docs placeholder deadline is almost here.

Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:

- Friday, Nov 6th: Week 8 - [

[2020-11-02 14:40] eagleusb commented on #1845
Hey @cofyc :wave:

The docs placeholder deadline is almost here.

Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:

- Friday, Nov 6th: Week 8 - [Doc

[2020-11-02 14:43] eagleusb commented on #2067
Hi @neolit123 :wave:

The docs placeholder deadline is almost here.

Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.20` branch in the [`k/website`](https://github.com/kubernetes/website) before the deadline.

Also, please keep in mind the important upcoming dates:

- Friday, Nov 6th: Week 8 - [

[2020-11-02 14:59] annajung commented on #1769
Hi @cezaryzukowski

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:

- <s>Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)</s> DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freez

[2020-11-02 14:59] annajung commented on #2047
Hi @zshihang

Thanks for creating the docs PR!

Please keep in mind the important upcoming dates:

- <s>Friday, Nov 6th: Week 8 - [Docs Placeholder PR deadline](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)</s> DONE!
- Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
- M

[2020-11-02 15:15] xing-yang commented on #177
Hi @eagleusb ,

Thanks for the reminder!   Doc PR is submitted here: https://github.com/kubernetes/website/pull/24849

[2020-11-02 15:33] MorrisLaw commented on #1441
Thank you for the PR links @verb !

[2020-11-02 17:01] kendallroden commented on #1898
Hey @tallclair, I think I found at least one of the k/k PRs for this feature (#94115) - do you mind linking it to the issue for tracking?

Thanks,

Kendall

[2020-11-02 18:33] tallclair commented on #1898
@kendallroden That PR is unrelated to this feature. There aren't any PRs opened for this yet, since they're blocked by https://github.com/kubernetes/kubernetes/pull/95935. I'm hoping to get the PRs out today or tomorrow.

[2020-11-02 19:07] liggitt opened #2126 "Improved service account tokens"
# Improved service account tokens
- One-line enhancement description (can be used as a release note): Improve security for service account tokens
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/commits/master/keps/sig-auth/1205-bound-service-account-tokens/README.md
- Primary contact (assignee): @mikedanese @zshihang
- Responsible SIGs: auth
- Enhancement target (whic

[2020-11-02 19:07] liggitt commented on #2126
/assign @zshihang

[2020-11-02 19:07] liggitt commented on #2126
/sig auth

[2020-11-03 01:41] cofyc commented on #1845
@eagleusb PTAL https://github.com/kubernetes/website/pull/24858

[2020-11-03 06:01] marosset commented on #1001
Hi @eagleusb Here is the doc PR for graduating to stable
https://github.com/kubernetes/website/pull/24862

[2020-11-03 06:37] verb commented on #1441
Opened remaining 1.20 PR and updated list.

[2020-11-03 11:50] AlexeyPerevalov commented on #2043
PR of k/k implementation:
- https://github.com/kubernetes/kubernetes/pull/93243
- https://github.com/kubernetes/kubernetes/pull/95734

PR for documentation:
- https://github.com/kubernetes/website/pull/24641

[2020-11-03 12:42] wojtek-t commented on #1164
As mentioned above - we're code complete already.

[2020-11-03 14:31] soltysh commented on #1020
- shared code to component-helpers - https://github.com/kubernetes/kubernetes/pull/96145
- remaining bits to staging/k8s.io/kubectl
- seperate kubectl-convert command

[2020-11-03 15:46] alculquicondor commented on #1258
All tasks for 1.20 are completed

[2020-11-03 17:37] javidiaz commented on #1797
Another PR that removes Alpha from e2e tests' tag. https://github.com/kubernetes/kubernetes/pull/96173

[2020-11-03 18:27] liggitt commented on #542
/unassign @mikedanese
/assign @zshihang

[2020-11-03 18:34] liggitt commented on #2126
closing in favor of original issue (which was just pointed out to me last night) - https://github.com/kubernetes/enhancements/issues/542

[2020-11-03 18:34] #2126 closed

[2020-11-03 18:56] kikisdeliveryservice commented on #1659
https://github.com/kubernetes/enhancements/pull/2120

[2020-11-03 19:24] janosi commented on #1435
@kcmartin Thank you for the notification! I created the document PR: https://github.com/kubernetes/website/pull/24874

[2020-11-04 06:22] yue9944882 commented on #1040
@reylejano-rxm i created a placeholder PR here: https://github.com/kubernetes/website/pull/24877

[2020-11-04 14:12] k-wiatrzyk commented on #693
@kikisdeliveryservice @klueska @annajung
The Call for Exception was approved, you can find the confirmation here: https://groups.google.com/g/kubernetes-sig-release/c/otE2ymBKeMA/m/ML_HMQO7BwAJ

[2020-11-04 16:57] soltysh commented on #19
- Controller implementation - https://github.com/kubernetes/kubernetes/pull/93370
- Documentation - https://github.com/kubernetes/website/pull/24885

[2020-11-04 19:50] dashpole opened #2129 "Remove cAdvisor json metrics from the Kubelet"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/68522#issuecomment-715462010
- Primary contact (assignee): dashpole
- Responsible SIGs: node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.21
  - Beta re

[2020-11-04 19:54] dashpole commented on #2129
/sig node

[2020-11-04 20:01] fedebongio commented on #695
Hi! API Machinery has going through the open enhancements for 1.20 and we came across this one, in which we were tagged almost a year ago. We will remove ourselves for now. If there is anything that we are missing by doing that, would you let us know?
Thanks in advance
/remove-sig api-machinery
/cc @deads2k @lavalamp

[2020-11-05 00:22] PurelyApplied commented on #1933
@annajung Thanks for the reminder.

None of the other `verify-*` tasks have docs.  While it could be argued that they _should_, I think we'll tackle this documentation debt after 1.20.

[2020-11-05 00:42] annajung commented on #1933
Thanks for the update! I will update the tracking sheet accordingly.
Please consider docs higher priority when this feature graduates to beta and/or stable. Thank you!

[2020-11-05 13:35] ankeesler commented on #541
all of the 1.20 items for this issue are merged!

Delivery Status (as of 2020-11-05)

1.20:
- cluster info k/k pr (targeted at 1.20) is `merged`: https://github.com/kubernetes/kubernetes/pull/95489
- website pr (targeted at 1.20): is now `merged`: https://github.com/kubernetes/website/pull/24639
- enhancements pr with touchups that fell out of cluster info implementation (not necessarily tied to a

[2020-11-05 13:44] dims commented on #541
thanks a ton @ankeesler !

[2020-11-05 15:23] derekwaynecarr commented on #2053
@annajung placeholder pr is https://github.com/kubernetes/website/pull/24904

[2020-11-05 17:34] annajung commented on #1495
@kendallroden @kikisdeliveryservice @eagleusb please note that this enhancement is no longer being tracked for 1.20

[2020-11-05 17:45] neolit123 commented on #2067
docs placeholder PR:
https://github.com/kubernetes/website/pull/24907

[2020-11-05 17:49] marosset commented on #1122
/milestone v1.21

[2020-11-05 18:26] tallclair commented on #1898
Looks like this is not going to make the code freeze cutoff.

/milestone v1.21

[2020-11-05 19:37] smarterclayton commented on #1748
Docs PR is created

[2020-11-05 19:42] kikisdeliveryservice commented on #695
@fedebongio

Doubling checked the tracking sheet and this is only tagged as storage there. :+1: Thanks for the update!

[2020-11-05 19:44] smarterclayton commented on #1591
Updated with docs placeholder.

[2020-11-05 19:55] kikisdeliveryservice commented on #542
This is now on the tracking sheet.

cc: @annajung

[2020-11-05 20:02] kikisdeliveryservice commented on #693
Thanks @k-wiatrzyk & @klueska Updated the tracking sheet.

cc: @annajung

[2020-11-05 20:07] kikisdeliveryservice commented on #542
As a note this was approved via an exception request (can't get a google groups link tho)

PR: https://github.com/kubernetes/kubernetes/pull/95667
docs; https://github.com/kubernetes/website/pull/24823

[2020-11-05 20:22] robscott commented on #2004
Hey @kcmartin and @kikisdeliveryservice, unfortunately I don't think I'll have enough time to get this in for the 1.20 cycle. Will be trying to get it in early in 1.21 instead.

[2020-11-05 20:22] robscott commented on #2030
Hey @kcmartin and @kikisdeliveryservice, unfortunately I don't think I'll have enough time to get this in for the 1.20 cycle. Will be trying to get it in early in 1.21 instead.

[2020-11-05 22:06] huffmanca commented on #1682
@eagleusb,

https://github.com/kubernetes/website/pull/24916 has been created as the docs placeholder PR.

Let me know if there are any issues!

[2020-11-06 01:38] bobbypage commented on #2000
Hi @annajung I've created a placeholder PR here: https://github.com/kubernetes/website/pull/24918

The PR for this is still in flight, so I'm not completely sure if it'll make the timeline for 1.20 cut, but will try :). Otherwise, we'll have to target this for 1.21.

[2020-11-06 01:53] annajung commented on #2000
Thanks for the update! No worries, you still have a few more days before the code freeze.
The release team will keep track of this until the last day possible, hope you can get it in for 1.20

[2020-11-06 03:47] vinaykul commented on #1287
@kikisdeliveryservice @MorrisLaw @SomtochiAma Could you please move this enhancement out to the next release (track it towards 1.21). I've just not had the cycles to work on the updated design, which is still in a bit of flux, but I hope to work out the final details with Tim Hockin in the coming few weeks - he has some cycles now to work on finalizing it. Once finalized, I will implement it aroun

[2020-11-06 05:44] roycaihw commented on #1965
Hi @reylejano-rxm, I've created the docs placeholder https://github.com/kubernetes/website/pull/24921 and updated the description with links to related PRs. Thanks!

[2020-11-06 07:51] krmayankk commented on #961
@SomtochiAma  https://github.com/kubernetes/website/pull/24923

[2020-11-06 14:24] #1853 closed

[2020-11-06 15:19] andrewsykim commented on #1599
This KEP was approved and is being worked on, not sure why the issue is closed though, going to re-open and edit the issue to reflect it's current state.

[2020-11-06 18:18] kikisdeliveryservice commented on #2004
Thanks for the update @robscott

[2020-11-06 18:21] kikisdeliveryservice commented on #1287
Thanks for the update @vinaykul

[2020-11-06 18:50] andrewsykim commented on #1599
Turns out this was actually the issue for an exception, going to close a create a new one.

[2020-11-06 18:50] andrewsykim commented on #1599
/close

[2020-11-06 18:50] #1599 closed

[2020-11-06 18:52] robscott commented on #1507
@kcmartin Just created a docs PR here: https://github.com/kubernetes/website/pull/24933

[2020-11-06 18:52] andrewsykim opened #2133 "Kubelet Credential Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Support exec plugins to retrieve image pull credentials for the kubelet.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2133-kubelet-credential-providers
- Discussion Link:
- Primary contact (assignee): @andrewsykim @adisky
- Responsible SIGs: clo

[2020-11-06 18:53] andrewsykim commented on #2133
/sig cloud-provider

(but involves SIG node and SIG auth as well)

[2020-11-06 19:02] robscott commented on #752
Hey @kcmartin, I've created https://github.com/kubernetes/website/pull/24935 for docs here.

[2020-11-07 21:44] paulgmiller commented on #1412
@wojtek-t  If you have a cluster with a  large count of big unconsumed secrets this won't help the initial list that kubelet does to start it's watches right?

Was looking at large memory spikes when heavy users of helm restart many kubelets at once https://github.com/helm/helm/issues/8977 and was hoping making the releases helm stores immutable would help but since nobody wathes them it looks it

[2020-11-08 08:05] wojtek-t commented on #1412
I think I'm not fully following. When Kubelet is observing new pod (or update of existing one) it is doing a get (technically it's a list with field selector for metadata.name which translates it to get) for all not yet watched ones. Each of them is pretty cheap on their own as it returns a single item basically.

Kubelet is NOT listing/watching anything that none of its own pods are mounting.

I

[2020-11-08 08:13] paulgmiller commented on #1412
Hmm my assumption was that kubelet was doing a watch on all secrets at startup so it could update any mounted secret for it's pods. Let me confirm what were seeing in clusters with heavy large secret usage at kubelet startup

[2020-11-08 09:13] wojtek-t commented on #1412
Yeah - that's not true. Kubelet is not listing everything - it's getting/watching one-by-one and only those that are used by the pods it's running.

[2020-11-08 12:56] wojtek-t commented on #1904
We're fine - it's Alpha-ready.

[2020-11-09 01:21] cofyc commented on #1845
@msau42 @xing-yang can you move this KEP to the 1.21 milestone?
I've submitted a PR: https://github.com/kubernetes/kubernetes/pull/96347 but may not finish the tests before the code freeze.

[2020-11-09 03:51] xing-yang commented on #1845
Sure.

[2020-11-09 14:08] danwinship opened #2136 "NetworkPolicy versioning and status"
# Enhancement Description
- Version negotiation and status reporting for NetworkPolicy
- Kubernetes Enhancement Proposal: #2137
- Discussion Link: none
- Primary contact (assignee): danwinship
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.21
  - Beta release target (x.y): 1.22
  - Stable release target (x.y): 1.23
-

[2020-11-09 14:40] danwinship commented on #2136
/sig network

[2020-11-09 18:19] kikisdeliveryservice commented on #2133
Hi @andrewsykim

This was an exception that was conditionally approved on Nov6 (https://groups.google.com/g/kubernetes-sig-release/c/rYXqvvt4aDI/m/t1vL3HbsAwAJ) on updating the KEP the the new format.  Please link once the PR is open.

Also please link all related PRs to this issue so that we can track it.

[2020-11-09 18:52] javidiaz commented on #1797
Hi @kikisdeliveryservice, I think I have done all work to make this feature Beta in v1.20. Do you know if there is anything else I need to do that I might be missing? Thanks!

[2020-11-09 19:14] kikisdeliveryservice commented on #950
Keeping this open for tracking until we close the milestone :)

[2020-11-09 19:20] kikisdeliveryservice commented on #1797
@javidiaz looks like all your related PRs (implementation & docs) have merged

can you confirm that you met the criteria you laid out here:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1797-configure-fqdn-as-hostname-for-pods#alpha---beta-graduation

- Gather feedback from users
- Ensure e2e tests are running in Testgrid and they are stable

[2020-11-09 22:37] kendallroden commented on #961
@krmayankk I see you have linked the placeholder PR for docs, but can you please link any k/k PR as well- the Code Freeze is coming up on Thursday of this week and as of right now I don't see any implementation related PRs. They will need to be merged to make the Code Freeze deadline.

Thanks,

Kendall

[2020-11-09 23:00] kendallroden commented on #1672
@andrewsykim I see the placeholder PR for docs linked above. Can you please share the k/k PR that need to be tracked prior to the Code Freeze this Thursday, November 12th? Keep in mind these PR need to merge by the code freeze deadline or an exception will have to be requested to be part of the milestone. Thanks!

[2020-11-09 23:09] andrewsykim commented on #1672
Yes, that is the PR and I believe the alpha graduation criteria have been met.

[2020-11-10 02:39] MorrisLaw commented on #1001
Hey @marosset 👋

Is [this PR](https://github.com/kubernetes-sigs/sig-windows-tools/pull/112) the last [PR](https://github.com/kubernetes-sigs/sig-windows-tools/pull/112) remaining to get this to GA in 1.20 or are there some other PRs that we should explicitly link to this issue?

Please keep in mind that we have these upcoming dates:

* Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com

[2020-11-10 02:55] MorrisLaw commented on #1020
Hey @soltysh 👋

Friendly reminder that, in order to make the 1.20 milestone, we have to have [k/k PR #96190](https://github.com/kubernetes/kubernetes/pull/96190) in by code freeze or an exception will need to be made.

Important upcoming date:
* Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)

Thank you!

[2020-11-10 12:50] javidiaz commented on #1797
Yes, I think the criteria is met. I also added the additional e2e test requested by the PRR and they show green in test grid (I introduced a small bug in the e2e test, but it got fixed yesterday after my PR got merged)

[2020-11-10 12:58] MorrisLaw commented on #1040
Hi @MikeSpreitzer @yue9944882

The code freeze deadline is almost here. Please make sure to link k/k PRs here so that we can track them and make sure to have them merged by the code freeze deadline or an exception will need to be made to keep this in the 1.20 milestone.

Also, please keep in mind the important upcoming dates:

* Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kuberne

[2020-11-10 13:13] MorrisLaw commented on #1435
Hi @janosi

The code freeze deadline is almost here. Please make sure to merge in any k/k PRs by the deadline if we plan to keep this enhancement in the 1.20 milestone.

Please keep in mind the important upcoming dates:

* Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
* Monday, Nov 23rd: Week 11 - [Docs PR R

[2020-11-10 13:24] MorrisLaw commented on #1441
Hey @verb is this the last PR that had to be merged? [k/k #96264: Bugfix for --set-image](https://github.com/kubernetes/kubernetes/pull/96264)

Are there any other k/k PRs?

Just a reminder regarding upcoming dates:
* Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
* Monday, Nov 23rd: Week 11 - [Docs PR Ready

[2020-11-10 13:33] verb commented on #1441
Hi @MorrisLaw,

That was the last. We have no more k/k PRs planned for 1.20.

[2020-11-10 13:38] MorrisLaw commented on #1753
Hi @serathius @44past4

The code freeze deadline is almost here. Are these the remaining PRs needed for the 1.20 milestone: https://github.com/kubernetes/enhancements/issues/1753#issuecomment-718923925 ? Will they be merged in by the code freeze deadline?

Also, please keep in mind the important upcoming dates:
* Thursday, Nov 12th: Week 9 - Code Freeze
* Monday, Nov 23rd: Week 11 - Docs PR Ready

[2020-11-10 13:48] MorrisLaw commented on #1967
Hi @derekwaynecarr

Just a friendly reminder the code freeze deadline is this Thursday. Please make sure to have any code merged in before the deadline.

Also, please keep in mind the important upcoming dates:
* Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
* Monday, Nov 23rd: Week 11 - [Docs PR Ready for Re

[2020-11-10 13:52] MorrisLaw commented on #647
Hi @dashpole

Just a friendly reminder to link any k/k PRs still in flight and that we need to have code merged in by Thursday if the aim is to have this in for the 1.20 milestone. Do we think this will make the deadline?

Important upcoming dates:
* Thursday, Nov 12th: Week 9 - [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze)
* Monday, No

[2020-11-10 14:01] serathius commented on #1753
@MorrisLaw For 1.20 we would like to have implementation of sanitization finished. PRs needed:
* [ ] Implement flag in control plane components https://github.com/kubernetes/kubernetes/pull/96370
* [ ] Implement flag in Kubelet https://github.com/kubernetes/kubernetes/pull/96372

PRs mentioned in https://github.com/kubernetes/enhancements/issues/1753#issuecomment-718923925 are not part of core fea

[2020-11-10 16:05] palnabarun commented on #2095
Hi everyone :wave:, I was experimenting with a change in `kepctl` to output the list of KEPs in YAML/JSON. My changes are in [this tree](https://github.com/palnabarun/enhancements/tree/kepctl-query-outputs) and I shared a sample output [here](https://share.riseup.net/#pqpYjmpmpfOrGdGLBrRH3Q).

Broadly, the tasks to complete this look like the following:
- [ ] Make `kepctl query` be able to output

[2020-11-10 16:28] MikeSpreitzer commented on #1040
We want to get this feature to beta in 1.20.  That means we need
- https://github.com/kubernetes/kubernetes/pull/96213 - Promoting the APF API to beta

The following PRs would be nice to have but are not considered blockers:
- https://github.com/kubernetes/kubernetes/pull/91389 - Introduce concurrency limits to PriorityLevelConfigurationSatus
- https://github.com/kubernetes/kubernetes/pull/90541 -

[2020-11-10 16:39] kbhawkey commented on #2095
Hello @palnabarun .
Do you want to publish/republish the "chart" to the contributor site every time keps.yaml is changed or
could you batch the updates (small changes)?
How often during a release is this data updated? Does the information remain on the contributor site after the release?
Do you plan on showing historical data from previous releases?

[2020-11-10 17:43] palnabarun opened #2140 "Receipts process for tracking release enhancements"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Receipts process for tracking release enhancements
- Kubernetes Enhancement Proposal: [Provisional KEP PR](https://github.com/kubernetes/enhancements/pull/2167)
- Primary contact: @jeremyrickard @palnabarun
- Responsible SIGs: architecture, release
- Enhancement target (which target equals to which milest

[2020-11-10 17:44] kikisdeliveryservice commented on #1860
Note: this provisional kep was implemented without having a compliant kep  or indicating to the enhancements team that it would be in the 1.20 milestone.

[2020-11-10 18:00] MikeSpreitzer commented on #1040
There is one doc PR:
- https://github.com/kubernetes/website/pull/24975 - update doc to track promotion to beta

[2020-11-10 18:02] sftim commented on #2095
BTW I looked again and JSON is going to be easier to work with with YAML, for the Kubernetes website.

[2020-11-10 19:00] bswartz commented on #1495
Thanks for the reminders, this work is continuing but probably targeting a 1.21 beta at this point because the KEP is not properly updated and the code is not ready to merge.

[2020-11-10 19:24] knabben opened #2141 "Instance-specific ComponentConfig"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Implementation of the instance-specific
ComponentConfig APIs
- Kubernetes Enhancement Proposal: #1439
- Discussion Link: none
- Primary contact (assignee): @mtaufen
- Responsible SIGs: cluster-lifecycle (WG Component Standard)
- Enhancement target (which target equals to which milestone):
  - Alpha releas

[2020-11-10 19:26] knabben commented on #2141
/sig cluster-lifecycle
/wg component-standard

[2020-11-10 19:27] kikisdeliveryservice commented on #19
Hi @soltysh !

Looks like kubernetes/kubernetes#93370 is still open but being actively reviewed. Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/re

[2020-11-10 19:28] kikisdeliveryservice commented on #177
Hi @xing-yang

Looks like kubernetes/kubernetes#95282 is still open but being actively worked on. Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/r

[2020-11-10 19:32] kikisdeliveryservice commented on #542
Hi @zshihang @liggitt

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is required.

I see that the remaining PR is for 1.2

[2020-11-10 19:36] kikisdeliveryservice commented on #667
Hi @feiskyer

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is required.

I don't see any PRs linked to this issue, can y

[2020-11-10 19:37] liggitt commented on #542
https://github.com/kubernetes/kubernetes/pull/95667#issuecomment-722555425 is retargeted to 1.21

All PRs required for code freeze are already merged.

https://github.com/kubernetes/kubernetes/pull/96322 is pending to promote a test to conformance, and will merge before test freeze

[2020-11-10 19:38] kikisdeliveryservice commented on #752
Hey @robscott

I see that kubernetes/kubernetes#96318 is still open but being actively worked on.  Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/

[2020-11-10 19:41] kikisdeliveryservice commented on #1393
Hey @mtaufen

All of your stuff is done so not really applicable, but just tiny reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is

[2020-11-10 19:43] kikisdeliveryservice commented on #1507
Hey @robscott :smile:

 kubernetes/kubernetes#96327 is actively being worked on so just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2020-11-10 19:44] kikisdeliveryservice commented on #1558
Hi @tallclair

Looks like kubernetes/kubernetes#95935 is merged and that was the only PR for 1.20 - correct?

As a note: [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master

[2020-11-10 19:47] xing-yang commented on #177
Hi @kikisdeliveryservice ,

Thanks for the reminder!  We are trying to get reviewers to finish reviewing and approving the PR by the 11/12 deadline.

Xing

[2020-11-10 19:47] kikisdeliveryservice commented on #1611
Hey @jayunit100

I see that kubernetes/kubernetes#91592 is still open but looks like it's almost finished. Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob

[2020-11-10 19:48] kikisdeliveryservice commented on #1669
Hey @andrewsykim

I don't see any k/k prs linked in this issue, what is the status of this enhancement? Could you please link the related PRs?

As a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://git

[2020-11-10 19:53] kikisdeliveryservice commented on #1682
Hi @gnufied @huffmanca

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is required.

I see that kubernetes/kubernetes#9573

[2020-11-10 19:55] kikisdeliveryservice commented on #1729
Hey @justaugustus :smile_cat:

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is required.

Do you have any PRs open for t

[2020-11-10 19:55] andrewsykim commented on #1669
Sorry @kikisdeliveryservice for not linking the k/k PR. The PR is here https://github.com/kubernetes/kubernetes/pull/96371

[2020-11-10 19:56] marosset commented on #1001
@MorrisLaw I linked one more PR for 1.20 (https://github.com/kubernetes/kubernetes/pull/96396)
This is approved and I'm finishing up a little bit of extra manual validation around this right now.

[2020-11-10 20:01] kikisdeliveryservice commented on #1769
Hi @cezaryzukowski

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is required.

Looks like https://github.com/kubernetes/

[2020-11-10 20:04] kikisdeliveryservice commented on #1797
Thanks for the update, I saw: https://github.com/kubernetes/kubernetes/pull/96305 which was merged, updating the sheet and you're good to go.

Note:  [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kuber

[2020-11-10 20:06] kikisdeliveryservice commented on #1867
Hey @RenaudWasTaken

Work on this for 1.20 is already finished but if that's not the case: [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is re

[2020-11-10 20:10] kikisdeliveryservice commented on #2000
Hey @bobbypage

I see that kubernetes/kubernetes#96129 is still open and in active review. Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases

[2020-11-10 20:12] kikisdeliveryservice commented on #2040
Hey @mrunalp

kubernetes/kubernetes#96325 & kubernetes/kubernetes#96364 are both still open.

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/relea

[2020-11-10 20:14] kikisdeliveryservice commented on #2043
Hey @swatisehgal @AlexeyPerevalov

I see that kubernetes/kubernetes#93243 & kubernetes/kubernetes#95734 are still open

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig

[2020-11-10 20:18] kikisdeliveryservice commented on #2067
Hey @neolit123 !

I see that https://github.com/kubernetes/kubernetes/pull/95382 is still open.

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/re

[2020-11-10 20:19] neolit123 commented on #2067
@kikisdeliveryservice noted, thanks.

[2020-11-10 20:21] soltysh commented on #19
Yup, I'm on it, if we don't get the PR merged within next few hours we'll fill in exception.

[2020-11-10 20:43] kikisdeliveryservice commented on #1669
Thanks @andrewsykim !

[2020-11-10 20:45] kikisdeliveryservice commented on #542
Sounds perfect, thank you for the update!

[2020-11-10 20:49] kikisdeliveryservice commented on #563
Hey @lachie83

Given the above, I presume that this is still intended for alpha as-is?  I don't see any outstanding PRs that need to merge / work was already merged.

_Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise

[2020-11-10 20:52] RenaudWasTaken commented on #1867
Prs were merged yesterday and today!

[2020-11-10 23:25] jeremyrickard commented on #1860
Hey @Sh4d1 and @thockin,

:wave: 1.20 release lead here.  We're really close to code freeze at this point (Thursday) and it seems like this KEP fell through the cracks and the process.

Based on this comment in the PR above: https://github.com/kubernetes/kubernetes/pull/92312#issuecomment-724907740 can we not land this in 1.20 and instead target 1.21?

There are few things w/ the KEP that really s

[2020-11-10 23:37] jayunit100 commented on #1611
yeah, it appears that its done, and we just need to get the final lgtm on it.

[2020-11-11 00:38] feiskyer commented on #667
testgrid jobs have been added here: https://testgrid.k8s.io/provider-azure-cloud-provider-azure

[2020-11-11 09:52] Sh4d1 commented on #1860
@jeremyrickard just opened https://github.com/kubernetes/kubernetes/pull/96454to revert it, sorry again!
And updated #2134 to set it as implentable instead of implemented

[2020-11-11 13:39] xing-yang commented on #177
This PR is merged: https://github.com/kubernetes/kubernetes/pull/96383
We are moving closer.

[2020-11-11 13:48] bridgetkromhout commented on #563
Hi, @kikisdeliveryservice - yes, IPv4/IPv6 dual-stack support (reimplemented) will be alpha for 1.20.

Here's the progress we have for this enhancement:

1) Code is merged from https://github.com/kubernetes/kubernetes/pull/91824 - will be alpha for 1.20
2) Documentation updates covering that code change are in https://github.com/kubernetes/website/pull/24725/ - reviewed and merged into the dev-1.2

[2020-11-11 18:13] kikisdeliveryservice commented on #667
Perfect, thanks @feiskyer ! You're all set.

[2020-11-11 18:16] kikisdeliveryservice commented on #563
@bridgetkromhout Thanks for the clear update, you're all good!

[2020-11-11 18:18] kikisdeliveryservice commented on #177
Great! just waiting on kubernetes/kubernetes#95282

[2020-11-11 18:28] kikisdeliveryservice commented on #585
Hey all,

I see that kubernetes/kubernetes#95718 is still unmerged but alllmost finished. Is that all we're waiting code-wise?

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubern

[2020-11-11 18:30] kikisdeliveryservice commented on #606
Reopened as it was auto-closed but need to keep it open for tracking until the end of the release.

Just to confirm: @RenaudWasTaken This is now finished correct?

[2020-11-11 18:33] kikisdeliveryservice commented on #1610
Hey @arjunrn

Just to confirm : This is now finished for 1.20 correct?

_Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is

[2020-11-11 18:35] SergeyKanzhelev commented on #585
Yes, fixing an issue with the code, but overall PR is good to go otherwise. Thank you for reminder

[2020-11-11 18:35] kikisdeliveryservice commented on #1864
Hey @andrewsykim

I know you know this :laughing:  but: _just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is required._

We

[2020-11-11 18:35] RenaudWasTaken commented on #606
The base feature is, there are other features built on top that have their own tracking issue :) !

[2020-11-11 18:38] kikisdeliveryservice commented on #1929
Hi @apelisse

I don't see any k/k prs attached to this issue? Can you update with the status?

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/rele

[2020-11-11 18:39] apelisse commented on #1929
We're still working on it, thanks :-)

[2020-11-11 18:40] kikisdeliveryservice commented on #585
"coming up in 2days" --> "coming up tomorrow" (sorry for the bad copypasta)

Thanks for the update!

[2020-11-11 18:42] kikisdeliveryservice commented on #1929
Thanks! please link the prs to this issue once they are up.

[2020-11-11 18:44] kikisdeliveryservice commented on #1965
Hi @roycaihw

I see that  kubernetes/kubernetes#91389 has not yet merged.

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is tomorrow **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) is required.

[2020-11-11 18:45] kikisdeliveryservice commented on #2053
Hey @derekwaynecarr

it looks like all the k/k prs for this have merged, correct?

Thanks!
Kirsten

[2020-11-11 19:31] arjunrn commented on #1610
@kikisdeliveryservice yes both the implementation and the docs have been merged.

[2020-11-11 20:00] janosi commented on #1435
Hello @MorrisLaw

Yeah, I hope I can get the lgtm on the k/k PR again. I lost it as I had to rebase.

[2020-11-11 21:10] kikisdeliveryservice commented on #693
Hey @k-wiatrzyk @klueska

Looks like  https://github.com/kubernetes/kubernetes/pull/92967 is approved but needs a rebase.

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is tomorrow **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/bl

[2020-11-11 21:13] kikisdeliveryservice commented on #693
Hey @k-wiatrzyk @klueska

Looks like kubernetes/kubernetes#92967 is approved but needs a rebase.

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is coming up in 2 days on **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-release/blob/master/r

[2020-11-11 21:16] kikisdeliveryservice commented on #695
Hi @gnufied @mattsmithdatera

I don't see any open or merged k/k prs related to this KEP, can you please update us with the status?

Just a reminder that [Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is tomorrow **Thursday, November 12th**.  All PRs must be merged by that date, otherwise an [Exception](https://github.com/kubernetes/sig-

[2020-11-11 21:20] gnufied commented on #695
The Kubernetes PR that moves the feature gate to beta - https://github.com/kubernetes/kubernetes/pull/96376
PR that adds metrics for time taken to perform permission change - https://github.com/kubernetes/kubernetes/pull/95866
Add e2e for fsgroupchangepolicy - https://github.com/kubernetes/kubernetes/pull/96247

[2020-11-11 21:21] kikisdeliveryservice commented on #695
Nice thanks @gnufied !! updating the tracking sheet!

[2020-11-11 21:25] kikisdeliveryservice commented on #757
Hey @derekwaynecarr @sjenning

Is https://github.com/kubernetes/kubernetes/pull/94140 the only k/k pr required to move this to GA? Is all work done?  Code freeze is tomorrow.

Thanks
Kirsten

[2020-11-11 21:32] kikisdeliveryservice commented on #1020
@soltysh looks like kubernetes/kubernetes#96190 is fully approved and passing, does it need to be rekicked or something to merge? Actually looking closer it's rerunning bazel test I guess..

[2020-11-11 21:38] kikisdeliveryservice commented on #1591
Hey @smarterclayton

You're still intending on getting  kubernetes/kubernetes#96375 in by tomorrow? Seems to just need a lgtm.

Thanks!
Kirsten

[2020-11-11 21:42] kikisdeliveryservice commented on #1672
Looks like that PR has merged, updating sheet.

[2020-11-11 21:50] kikisdeliveryservice commented on #757
Confirmed with both Derek and Seth that this is completed. :+1:

[2020-11-11 22:35] kikisdeliveryservice commented on #1967
Double checked with Derek and this is completed for code freeze.

[2020-11-11 22:37] kikisdeliveryservice commented on #2053
Confirmed with Derek that this is completed for code freeze.

[2020-11-11 22:51] xing-yang commented on #177
@kikisdeliveryservice ,

https://github.com/kubernetes/kubernetes/pull/95282 is approved.  Just waiting for it to be merged:).

[2020-11-11 23:20] kikisdeliveryservice commented on #752
@robscott just to confirm is kubernetes/kubernetes#96440 the required PR?

[2020-11-12 00:29] robscott commented on #752
@kikisdeliveryservice Yep, sorry for the confusion. Got caught by the bug that's breaking test runs for some reason.

[2020-11-12 01:14] roycaihw commented on #1965
Thanks @kikisdeliveryservice. I think kubernetes/kubernetes#91389 is tracked in the Priority and Fairness feature: https://github.com/kubernetes/enhancements/issues/1040#issuecomment-724814313.

The alpha-level functionality for kube-apiserver identity has been implemented. All PRs linked in the description have been merged, except the doc one.

[2020-11-12 01:17] JornShen commented on #1898
@tallclair  May I join it?  Maybe I can do some task on it.

[2020-11-12 01:45] robscott commented on #1507
@kikisdeliveryservice Thanks for the reminder. I just need one final LGTM on that PR (just had to fix a failing test after the first LGTM + approval). I think this is still on track for getting in on Thursday.

[2020-11-12 02:35] rmanyari commented on #2086
Hi Andrew - I'm pretty interested in this feature and started looking at what needs to change following keps/sig-network/2086

I'll try to get a PR up in the next few days, it will be my first contribution to k8s so I'm probably going to be make blunders here and there :)

Let me know if this works for you, unless you already had planned working on this. Thanks!

[2020-11-12 02:52] andrewsykim commented on #2086
@rmanyari thanks for reaching out, I had actually started some work on this feature already which I have checked in a local branch. I would love and appreciate help reviewing the upcoming PR though

[2020-11-12 03:05] rmanyari commented on #2086
Fantastic! Just pushed a commit to my remote with the API changes: https://github.com/rmanyari/kubernetes/commit/11cbdf52056dd5afc716802c75099652612b9b5c

Will keep poking at the actual change later tonight and I still need to read the contributions guidelines and sign the CLA and all that good stuff.

[2020-11-12 03:07] andrewsykim commented on #2086
Sorry in case I didn't make my last comment clear, I meant that I started to work on this already and I'm planning to open a PR soon. But I would appreciate your help reviewing my upcoming PR :)

[2020-11-12 03:08] rmanyari commented on #2086
Ah, got it! Sure, I can help reviewing/testing. I'll continue with my little experiment anyway just to see how far/right I would've implemented this.

[2020-11-12 05:37] kikisdeliveryservice commented on #177
Yay! It's merged! Updating tracking sheet.

Congrats! :fireworks:

[2020-11-12 05:47] kikisdeliveryservice commented on #2067
Looks like that PR has merged. Excellent! :+1:

[2020-11-12 05:49] kikisdeliveryservice commented on #19
It merged! Awesome!!

[2020-11-12 05:59] kikisdeliveryservice commented on #1972
Hi @SergeyKanzhelev

kubernetes/kubernetes#94115  has merged and this is done for code freeze. Marking as done unless there is some other work in progress.

Thanks!
Kirsten

[2020-11-12 06:03] kikisdeliveryservice commented on #1748
Hey @smarterclayton

Does this KEP require both https://github.com/kubernetes/kubernetes/pull/94866 and https://github.com/kubernetes/kubernetes/pull/95839 or just the first?

Thanks!
Kirsten

[2020-11-12 06:09] kikisdeliveryservice commented on #1001
Hi @marosset

It looks like all the PRs are finished. How does https://github.com/kubernetes/kubernetes/issues/70189 fit in?

Are you expecting to fix this as well? Or fix at a later date?

Thanks!
Kirsten

[2020-11-12 06:19] kikisdeliveryservice commented on #1929
As per: https://github.com/kubernetes/website/pull/24640#issuecomment-724198610

One PR has merged(https://github.com/kubernetes/kubernetes/pull/95423) but we are waiting for some others, and author will link them to issue once they are up.

[2020-11-12 06:20] kikisdeliveryservice commented on #1965
Great!! Thanks for clarifying - congrats!

[2020-11-12 07:09] houz42 opened #2143 "Generic node resource scheduler plugin"
# Enhancement Description
- Generic node resource scheduler plugin
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2144
- Discussion Link: https://github.com/kubernetes-sigs/scheduler-plugins/issues/95
- Primary contact (assignee):
- Responsible SIGs: sig-scheduling
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  -

[2020-11-12 07:09] houz42 commented on #2143
/sig scheduling

[2020-11-12 13:10] neolit123 commented on #2067
kubernetes/website#24907

note, we dropped the idea to add mentions about this change in the docs for 1.20
kubernetes/website#24907 is now a placeholder for something else.

[2020-11-12 14:37] xing-yang commented on #177
Thanks @kikisdeliveryservice!

[2020-11-12 16:06] kendallroden commented on #2047
Hi @zshihang! Just a quick reminder that tonight is code freeze for 1.20! It looks like there are still reviews outstanding on your implementation PR. Please feel free to reach out or ping me on slack should your intent be to push to 1.21. Otherwise, if the PR doesn't merge by the deadline, you will need to file an exception to be included in the milestone. Thanks so much!!

[2020-11-12 16:27] pohly commented on #596
We discussed the current API (https://docs.google.com/document/d/1yAe3SPPosgC_QgmnY7oJTmZYWrqLrii1oA4de67DEcw/edit) and agreed
that we want to change the API before moving to GA.

There was consensus that having "CSI" in "CSI ephemeral volumes" is
confusing, primarily because not all CSI drivers support it. The Google
doc has various alternatives that were considered. Eventually we agreed
to renam

[2020-11-12 16:32] smarterclayton commented on #1591
Giving timing I'm going to delay this to 1.21 since the impl needs more tests and I don't want to rush it.

[2020-11-12 17:03] apelisse commented on #1929
There's one, but it's failing because test-infra seems to be failing: https://github.com/kubernetes/kubernetes/pull/96480
And then there's this: https://github.com/kubernetes/gengo/pull/192
which is partly integrated here: https://github.com/kubernetes/kubernetes/pull/96317

[2020-11-12 17:25] kikisdeliveryservice commented on #1591
@smarterclayton thanks for the update!

[2020-11-12 17:27] kikisdeliveryservice commented on #2067
Gotcha - thanks!

cc: @annajung

[2020-11-12 17:36] kikisdeliveryservice commented on #1929
Just to confirm, for k/k prs this requires:

[ ] - https://github.com/kubernetes/kubernetes/pull/95423 (merged)
[ ] - https://github.com/kubernetes/kubernetes/pull/96480 (blocked by ci)
[ ] - https://github.com/kubernetes/kubernetes/pull/96317 (WIP, no reviews)

The last PR does not seem close to merging today?

[2020-11-12 17:37] apelisse commented on #1929
The last PR is just the integration of https://github.com/kubernetes/gengo/pull/192, it should move super fast.

[2020-11-12 17:39] kikisdeliveryservice commented on #585
It merge and this is in before Code Freeze! :dancers:

[2020-11-12 17:40] kikisdeliveryservice commented on #693
The PR merged, updating sheet - yay! :smile_cat:

[2020-11-12 17:46] kikisdeliveryservice commented on #1507
@robscott It looks like https://github.com/kubernetes/kubernetes/pull/96327 needs a final review on the last push for days now.  Do you plan on getting this in today still?

[2020-11-12 17:47] marosset commented on #1001
Hi @kikisdeliveryservice We will need to address that at a later date as fixing this requires an Windows OS fix that is not yet released yet. This functionality also doesn't work with any other container runtimes on Windows so we are not treating it as a blocker from declaring containerD support on Windows stable.

The OS fixes are expected to be available in Nov or Dec 2020 so we'll target fixing

[2020-11-12 17:49] kikisdeliveryservice commented on #1611
Hi @jayunit100

I see that your PR has no approvals yet, do you still plan on getting this in today?

Thanks
Kirsten

[2020-11-12 17:56] kikisdeliveryservice commented on #1001
Great thanks for the update!

[2020-11-12 18:01] mrunalp commented on #2040
Because of a chicken-and-egg situation, we are going to land https://github.com/kubernetes/kubernetes/pull/96387 in 1.20 and follow up with the rest in 1.21. This comment captures the decision in sig-node https://github.com/kubernetes/kubernetes/pull/96325#issuecomment-724899472

[2020-11-12 18:20] nckturner commented on #423
Since the legacy-cloud-provider won't be merging feature PRs after 1.20, and it looks like the original KEP has been deleted, it sounds like this PR should be closed and we should be tracking cloud provider specific enhancements elsewhere?

For the out-of-tree NLB integration, we will be eventually moving it to the [aws-load-balancer-controller](https://github.com/kubernetes-sigs/aws-load-balancer

[2020-11-12 19:16] SergeyKanzhelev commented on #585
there is another issue arose - mentioned it. It is test-related though so theoretically can be fixed after code freeze. I will try to get it in today

[2020-11-12 20:02] kikisdeliveryservice commented on #1020
The above PR merged! Looks like this is finished for 1.20 code freeze. :+1:

[2020-11-12 20:08] kikisdeliveryservice commented on #1682
Hi @gnufied & @huffmanca

 kubernetes/kubernetes#95739 is still open and has no approvals. Code Freeze is today - do you still intend on getting this into 1.20? Or will you be pushing to 1.21?

Thanks,
Kirsten

[2020-11-12 20:10] huffmanca commented on #1682
@kikisdeliveryservice ,

The target is still today. It has been lgtm'd previously, and an api-reviewer is aware of it. Apologies for the tardiness, but we continue to hope that this will be merged today.

[2020-11-12 20:11] kikisdeliveryservice commented on #2047
https://github.com/kubernetes/kubernetes/pull/93130 is now fully approved and just waiting to merge!

[2020-11-12 20:14] kikisdeliveryservice commented on #2040
Thanks @mrunalp

I will mark this as done for 1.20 but update that this is staying in alpha.

[2020-11-12 20:18] kikisdeliveryservice commented on #2040
Also, the docs moving this to beta in 1.20 are not needed at this time @annajung

[2020-11-12 20:19] kikisdeliveryservice commented on #1507
As an update: https://github.com/kubernetes/kubernetes/pull/96327 is fully approved now & waiting to merge :smile:

[2020-11-12 20:51] kikisdeliveryservice commented on #585
Update: Asked a q here: https://github.com/kubernetes/kubernetes/issues/96524#issuecomment-726324953 re: conformance test requirement for GA APIs. There's also some discussion on slack, so would like the final word before marking this as Done per Code Freeze.

[2020-11-12 20:54] annajung commented on #2040
Thanks @kikisdeliveryservice @mrunalp for the update.

@mrunalp If docs changes are not needed for the two prs that were merged https://github.com/kubernetes/kubernetes/pull/95876, https://github.com/kubernetes/kubernetes/pull/96387, please feel free to close out the https://github.com/kubernetes/website/pull/24757.

[2020-11-12 21:04] jeremyrickard commented on #585
@SergeyKanzhelev this is more than test-related.  I think per the [release phases](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md) definitions:

In this case, you're  ADDING a new tests no?  Then that needs to be promoted to Conformance. As this is going GA, it's very important that we have these things in place. And this really should have been done before code f

[2020-11-12 21:13] hh commented on #585
From #k8s-conformance slack conversation https://kubernetes.slack.com/archives/C78F00H99/p1605209694093700:

If we can get solid conformance tests on these endpoints this week, this should allow 7-10 days of non-flakey CI runs:

https://apisnoop.cncf.io/conformance-progress/endpoints/1.20.0?filter=promoted-without-tests

![image](https://user-images.githubusercontent.com/31331/98997087-d1337800-25

[2020-11-12 21:16] huffmanca commented on #1682
@kikisdeliveryservice ,

This has been lgtm'd and approved. It should be merged once it passes the tests.

[2020-11-12 21:21] kikisdeliveryservice commented on #1682
Thanks for the update!

Looks like it needs a rebase (and will need another lgtm :frowning_face: )

[2020-11-12 21:34] zshihang commented on #2047
merged now

[2020-11-12 21:42] kikisdeliveryservice commented on #1507
Hey @robscott looks like the above merged!

Just to close it out can you confirm this meeting the grad criteria: "ServiceAppProtocol has been enabled by default for at least 1 minor release."

And also meets the test plan: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1507-app-protocol#test-plan

[2020-11-12 21:53] robscott commented on #1507
@kikisdeliveryservice Thanks for checking in! You're right that the test plan was implemented earlier and the feature gate was graduated to beta (and on by default) in 1.19. Tests were previously added to the [EndpointSlice controller](https://github.com/kubernetes/kubernetes/blob/release-1.19/pkg/controller/endpointslice/utils_test.go#L307) as well as the [Endpoints controller](https://github.com

[2020-11-12 22:01] kikisdeliveryservice commented on #1507
Thanks for answering my questions. Updating sheet now. Congrats! :fireworks:

[2020-11-12 22:04] justaugustus commented on #1729
I'll wrap release docs for this in v1.21. Just ran out of time here with KubeCon looming.
/milestone v1.21

[2020-11-12 22:08] kikisdeliveryservice commented on #752
Looks like the PR finally got past the test-infra bug and is fully approved. Seems to have failed the e2e-gce-ubuntu-containerd tho: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/96440/pull-kubernetes-e2e-gce-ubuntu-containerd/1326986000102068224/

Not sure if that needs a retest or something else.

[2020-11-12 22:08] justaugustus commented on #1553
@mrbobbytables -- SGTM. Tagging @nikhita as well, since you two did the end run on this.

Great work! :two_hearts:
/assign @nikhita
/unassign

[2020-11-12 22:19] kikisdeliveryservice commented on #1040
@lavalamp @adtac @MikeSpreitzer @yue9944882 (not sure who to ping here)

https://github.com/kubernetes/kubernetes/pull/96527 is replacing https://github.com/kubernetes/kubernetes/pull/96213 entirely due to test issues correct? And is the only required PR for this to move to beta?

[2020-11-12 22:22] adtac commented on #1040
https://github.com/kubernetes/kubernetes/pull/96527 is the last *code change* PR to graduate this to beta. There is still https://github.com/kubernetes/website/pull/24975 which is open that is pending approval -- that updates the website and docs.

[2020-11-12 22:27] jayunit100 commented on #1611
ahhhh, probably not... cc unless  @bowei  has a block of time to look at it :)

[2020-11-12 22:51] jeremyrickard commented on #585
@hh thank you for that additional context and input.

@SergeyKanzhelev could you please open a code freeze exception request for this (assuming you won't have a PR for this merged by code freeze today). Otherwise, I think we'll need to talk about reverting this for the 1.20 release, as it's lacking the conformance tests.

[2020-11-12 23:15] LappleApple commented on #2088
/area enhancements

[2020-11-12 23:51] kikisdeliveryservice commented on #1435
Hi @janosi is this going to get in bc I see that it is missing a LGTM and needs a rebase.

Thanks,
Kirsten

[2020-11-13 00:04] hh commented on #757
Just a quick check that in the process of promoting this feature to GA, was there any change to the API surface area?

Particularly swagger.json?

We have a process for detecting new GA API operations, but it currently looks primarily at the generated OpenAPI spec.

[2020-11-13 00:11] hh commented on #757
^ From: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements

@dims Can I get your check-in on this? It doesn't seem to touch the OpenAPI spec, but if looks non-optional:

https://github.com/kubernetes/kubernetes/pull/94140/files#diff-71e3b98f9a6bbf5b8421e26a7ba0c079f397cd8d49abacdad943c66a4f44f03dR685-R686

[2020-11-13 00:17] kikisdeliveryservice commented on #2043
Code freeze is today and while https://github.com/kubernetes/kubernetes/pull/93243 has merged, we're still waiting for final approvals on https://github.com/kubernetes/kubernetes/pull/95734 Spoke to @swatisehgal earlier and she's hoping to secure them, so will check back in later.

[2020-11-13 00:19] kikisdeliveryservice commented on #2000
Looks like the PR merged! :partying_face:

[2020-11-13 00:31] derekwaynecarr commented on #757
There is no end user api change in the promotion.  The feature has been on by default via kubelet Config for multiple releases.

[2020-11-13 00:56] SergeyKanzhelev commented on #585
Can you please help me with this? Where I can read about exception process/form?

[2020-11-13 01:06] jeremyrickard commented on #585
@SergeyKanzhelev oh sorry! I thought I had linked it above! 😞

You can find the process documented [here](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

In essence:

[code]

We'll need to know how many days you'll need for the work to get the tests turned around.

Thanks so much!!

[2020-11-13 01:15] SergeyKanzhelev commented on #585
sure. Since tests freeze is 23rd - should I already file an exception? Or if PR will be merged tomorrow it will be fine?

(I know, this is not ideal and should have known about these tests before)

[2020-11-13 01:38] kikisdeliveryservice commented on #585
@SergeyKanzhelev

Code Freeze requires:  "All enhancements going into the release must be code-complete, including tests"

So yes you will need to file an exception as this test is a requirement for your feature to be GA - as of now it is not complete. Please file an exception ASAP (Jeremy linked above).

[2020-11-13 01:38] hh commented on #757
Thanks @derekwaynecarr !

[2020-11-13 02:01] MorrisLaw commented on #1753
Hey, @serathius thank you for your work on this!

Can you please make a PR to update the [graduation criteria for `Beta (1.21)`](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1753-logs-sanitization#alpha-120) to include a bullet point describing the planned work to finish adding the data-policy tags?

[2020-11-13 02:11] kikisdeliveryservice commented on #752
Reading: https://github.com/kubernetes/kubernetes/pull/96318#issuecomment-725008391

It looks like this won't be GA in 1.20, so it will stay beta and the required PR for 1.20 has merged: https://github.com/kubernetes/kubernetes/pull/96440

[2020-11-13 02:12] kikisdeliveryservice commented on #752
@robscott could you update the kep.yaml to reflect this: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0752-endpointslices/kep.yaml

Also does this change your docs PR at all?

[2020-11-13 02:12] robscott commented on #752
Yep, I'll work on updating the KEP to reflect that tomorrow. The docs PR will need some work but it was already fairly small.

[2020-11-13 05:29] kikisdeliveryservice commented on #1611
Hi @jayunit100

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect and your PR does not have sufficient approvals and has not yet merged. If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 05:32] kikisdeliveryservice commented on #1669
Hi @andrewsykim

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect and your PR does not have a LGTM and is not merged. If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 05:34] kikisdeliveryservice commented on #1885
Hi @andyzhangx

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. Your PR is still unmerged, with no approvals and has a hold. If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 05:51] kikisdeliveryservice commented on #647
Hi @dashpole

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. Your PR is still unmerged, with no approvals and has a hold. If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 05:55] kikisdeliveryservice commented on #961
Hi @krmayankk

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. Your PR is still unmerged, with no approvals. If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-11-13 05:58] kikisdeliveryservice commented on #1040
Hi @adtac

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. Your PR is still unmerged, and is missing a LGTM. If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 06:00] kikisdeliveryservice commented on #1435
Hi @janosi

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. Your PR is still unmerged, but has full approval. It needs a final rebase (sorry I know this has happened a lot) so that it can merge. If you can please rebase and get another LGTM ASAP that would be great.

Best,
Kirsten

[2020-11-13 06:03] lavalamp commented on #1040
/milestone 1.20

this had an lgtm earlier and will have one shortly

[2020-11-13 06:05] kikisdeliveryservice commented on #1864
Hi @andrewsykim

Code Freeze is now in effect. Your PR is still unmerged, but has full approval. It needs a final rebase so that it can merge. If you can please rebase and get another LGTM ASAP that would be great.

Best,
Kirsten

[2020-11-13 06:09] lavalamp commented on #1040
Looks like we might need another day after all. We'll file an exception request.

[2020-11-13 06:13] kikisdeliveryservice commented on #1929
Hi @apelisse

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. You have 2 PRs that are still unmerged (one with a hold, both missing LGTMs). If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 06:15] kikisdeliveryservice commented on #2043
Hi @swatisehgal

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. You still have 1 unmerged & unapproved PR. If you believe this should be in the 1.20 Release, please file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 06:23] kikisdeliveryservice commented on #1040
I spoke with @adtac earlier tonight and they are planning on filing an exception to have enough time to complete. :smile:

[2020-11-13 06:25] adtac commented on #1040
exception request: https://groups.google.com/g/kubernetes-sig-api-machinery/c/o--_PcGMxik

[2020-11-13 07:01] kikisdeliveryservice commented on #585
Hi @SergeyKanzhelev

[Code Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) is now in effect. As discussed above, you will need to file an [Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
Kirsten

[2020-11-13 09:33] swatisehgal commented on #2043
@kikisdeliveryservice Exception request has been filed, we are now waiting for that to be reviewed :)

[2020-11-13 14:16] lauralorenz opened #2149 "ClusterID for ClusterSet identification"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduce the concept of a cluster ID to allow unique identification of clusters within a ClusterSet.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/2149-clusterid
- Discussion Link: https://docs.google.com/document/d/1S0u6xzP2gcJKPipA6tBNDN

[2020-11-13 14:18] lauralorenz commented on #2149
/sig multicluster

[2020-11-13 17:31] #1659 closed

[2020-11-13 17:50] Jefftree commented on #1929
Exception Request: https://groups.google.com/g/kubernetes-sig-api-machinery/c/4-mIVAD8GEI

[2020-11-13 18:28] kikisdeliveryservice commented on #1864
The PR was successfully merged this morning - thanks @thockin @andrewsykim  & @uablrek for handling this so quickly!!

[2020-11-13 18:44] kikisdeliveryservice commented on #647
For ref: some explanation here: https://github.com/kubernetes/kubernetes/pull/94942#issuecomment-726909452 on the compounded blocking issues (opentelemetry, grpc, etc) that caused this to not make 1.20.

[2020-11-13 19:43] SergeyKanzhelev commented on #757
@derekwaynecarr I wonder if the [pid limit test](https://github.com/kubernetes/kubernetes/blob/e36e68f5f6964a3e612b36bfea0bb17c8f05e083/test/e2e_node/pids_test.go#L121) should have been promoted to conformance as part of the GA process? It seems to be satisfying all requirements. I understand now there is a validation for the APIs to be conformance tested. I also see conformance tests for things l

[2020-11-13 19:56] kikisdeliveryservice commented on #585
An exception was filed and granted:
https://groups.google.com/g/kubernetes-sig-release/c/0b5SQLz2tZg/m/6x26WRccAgAJ

/milestone v1.20

[2020-11-13 21:26] kikisdeliveryservice commented on #1929
Exception granted: https://groups.google.com/g/kubernetes-sig-release/c/eCk4Xyb58GQ/m/tjgEstjyAQAJ

[2020-11-13 21:28] kikisdeliveryservice commented on #2133
PR addressing requested updates as per exception: https://github.com/kubernetes/enhancements/pull/2151

[2020-11-13 21:46] kikisdeliveryservice commented on #1769
An Exception has been approved: https://groups.google.com/g/kubernetes-sig-release/c/y327XGmo6-4/m/93lvg7nCAQAJ

Please have https://github.com/kubernetes/kubernetes/pull/95479 reviewed and merged ASAP.

[2020-11-13 23:57] kikisdeliveryservice commented on #1929
https://github.com/kubernetes/kubernetes/pull/96480 needs a rebase :frowning:

[2020-11-14 00:36] tallclair commented on #1558
Correct.

[2020-11-14 00:39] tallclair commented on #1898
Unfortunately this slipped to v1.21, but I would greatly appreciate any help with getting it out next release! You can see my WIP PR here: https://github.com/kubernetes/kubernetes/pull/96188. It's totally broken at the moment, and I haven't had a chance to debug it yet. I think it has something to do with closing or not connecting the request bodies.

[2020-11-14 21:33] kikisdeliveryservice commented on #1929
Looks like both prs have now merged!! 🎆

[2020-11-14 21:45] kikisdeliveryservice commented on #1769
Update:

Looks like this is still being reviewed, but wanted to just link to @klueska 's review also got lost in the github comments that were squished:

https://github.com/kubernetes/kubernetes/pull/95479#issuecomment-726160135

@cezaryzukowski & @k-wiatrzyk Please ensure you get all of the remaining required reviews.

[2020-11-14 21:51] kikisdeliveryservice commented on #585
As an update: https://github.com/kubernetes/kubernetes/pull/96551 has merged and we are waiting for sufficient runs to promote to conformance via another pr (https://github.com/kubernetes/kubernetes/pull/96551#issuecomment-726989775)

[2020-11-15 16:57] #1866 closed

[2020-11-16 04:59] warmchang commented on #964
/remove-lifecycle stale

[2020-11-16 09:00] cezaryzukowski commented on #1769
Dear @kikisdeliveryservice ,
we are still waiting for a review. We will update ASAP.

[2020-11-17 02:15] zapman449 commented on #5
This situation is extremely frustrating for those of us needing to run high security clusters.  Our options are:

1. Sit and wait for PSPs to be deprecated.
2. Outsource workload runtime security enforcement to a vendor (Styra), since OPA does not document how to run a fully restrictive PSP replacement with Rego.

So, my company has implemented fully locked down PSPs.  They are not easy to impleme

[2020-11-17 04:18] maxsmythe commented on #5
@zapman449 can you clarify what you mean  by a "fully restrictive PSP replacement"?

Hopefully the [Gatekeeper PSP library](https://github.com/open-policy-agent/gatekeeper-library/tree/master/library/pod-security-policy) makes it easier to enforce rules similar to those used by PSP. I'm definitely interested in any functional gaps you are seeing.

[2020-11-17 05:15] christianhuening commented on #5
@zapman449 would you happen to have a link to that blogpost?

[2020-11-17 15:07] zapman449 commented on #5
@christianhuening https://developer.squareup.com/blog/kubernetes-pod-security-policies

[2020-11-17 15:21] zapman449 commented on #5
@maxsmythe I haven't caught up on what Gatekeeper PSP is doing, will review.

However, what I mean is:
1. Full control over process capabilities like NET_BIND_SERVICE, SYS_ADMIN, etc
2. Restrict UID/GID/FSGroups to non-zero values
3. Explicit listing of host paths which can be mounted
4. Explicit listing of types of volume mounts allowed
5. Block Privileged, block privilege escalation
6. Block acc

[2020-11-17 19:09] jpbetz opened #2155 "Apply for client-go's typed clients"
# Apply for client-go's typed clients
- One-line enhancement description (can be used as a release note): **Add typesafe Apply support to client-go's typed clients.**
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2155-clientgo-apply
- Discussion Link: [discussion at kubebuilder/controller-tools meeting](https://docs.google.com/docu

[2020-11-17 23:18] tallclair commented on #5
@zapman449 - If you haven't seen it, we discussed the future of PSPs in the last sig-auth meeting (https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/view#heading=h.hsgtsqg83z5u). We'll continue the discussion in the December 9th meeting if you're able to make it, but we also won't make any final decisions without a proposal being sent to the mailing list.

Our intenti

[2020-11-18 05:06] robscott commented on #752
Update to the KEP has merged: https://github.com/kubernetes/enhancements/pull/2152

[2020-11-18 05:07] robscott commented on #2004
KEP has been updated: https://github.com/kubernetes/enhancements/pull/2153

[2020-11-18 18:08] kikisdeliveryservice commented on #585
Looks like the conformance tests are in. Updating the tracking sheet.

[2020-11-18 18:12] kikisdeliveryservice commented on #1040
To circle back around on this: @lavalamp @hasheddan @jeremyrickard @dims

Can I get a signoff that this is now Done? (we were waiting for the outcomes of some tests but I didnt hear an official word)

[2020-11-18 18:15] jeremyrickard commented on #1040
I think it's safe to go, we haven't seen any major impact on the testing AFAICT.

[2020-11-18 18:30] SergeyKanzhelev commented on #585
@kikisdeliveryservice thank you!

[2020-11-18 18:53] adtac commented on #1040
perhaps I misunderstood, but are you asking if we can close this issue? I'd like to keep this open till the feature becomes GA if that's alright (which won't be for many more months)

[2020-11-18 18:55] jeremyrickard commented on #1040
@adtac no more around if we can consider this done for 1.20. Since we had the contigency PR ready to go, we still had this marked as "At Risk" in case we needed to back it out.

[2020-11-18 19:38] kikisdeliveryservice commented on #1040
@adtac what Jeremy said above :smile:

Also we keep these issues open until you update the KEP and mark it's status as implemented. So you'll need to go GA and then _after_ that is done-done you'll pr the KEP, marking as implemented and then at the end of that release, we go thru and close this issue.

Until then, keep linking all PRs to this.

HTH!

[2020-11-19 01:54] andrewsykim commented on #991
/assign @jiahuif

[2020-11-19 02:28] chenwng commented on #563
It looks like `LoadBalancerIP`  in `ServiceSpec` is not part of the dual-stack implementation yet. Is there any plan to support it or did I miss it?

[2020-11-19 10:54] cezaryzukowski commented on #1769
Dear @kikisdeliveryservice ,
It seems that Memory Manager will be bumped into v1.21.

[2020-11-19 12:47] sftim commented on #1753
Hello

As I understand it, this change still needs documenting. There's a placeholder for the documentation update(s) at https://github.com/kubernetes/website/pull/24845.

[2020-11-19 17:05] jayunit100 opened #2157 "Kube proxy reconciliation of cmd line args with config map arts"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kube proxy command line args need to handle options in a way that compliments (and isnt silently ignored) with the configmap configuration for kube proxy.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2158
- Discussion Link: https://github.com/kubernetes/kubernetes/iss

[2020-11-19 17:52] lachie83 commented on #563
Hi @chenwng - Changes to cloud provider code for Loadbalancers are out of scope currently as defined in the KEP here - https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20180612-ipv4-ipv6-dual-stack.md#load-balancer-operation.

You can help by providing your use case and suggested changes to understand and decide if we need to make any modifications to the KEP.

[2020-11-19 17:57] aramase commented on #563
@chenwng There is a KEP being worked on for `LoadBalancerIPs` in dual-stack clusters - https://github.com/kubernetes/enhancements/pull/1992

[2020-11-19 18:09] rikatz commented on #2157
/sig network
/sig cluster-lifecycle

[2020-11-19 18:27] kikisdeliveryservice commented on #1769
@cezaryzukowski thank you for the update!

[2020-11-19 18:31] neolit123 commented on #2157
/wg component-standard

[2020-11-19 19:14] hh commented on #822
From the SIG-Arch meeting on October 22nd:

- [x] AI: Update KEP process : [Create a link within the KEP](https://github.com/kubernetes/enhancements/pull/2146/files) to the test-grid for GA calls!
- [ ] AI: Drive conversation towards #enhancements channel

The test-grid link is: https://testgrid.k8s.io/sig-arch-conformance#apisnoop-conformance-gate

[2020-11-19 19:46] hh commented on #585
Congrats on the Conformance Test Promotion:

https://apisnoop.cncf.io/1.20.0/stable/node

![image](https://user-images.githubusercontent.com/31331/99716315-d51d4800-2b0c-11eb-960b-30b42a47448b.png)

[2020-11-19 19:47] hh commented on #585
https://apisnoop.cncf.io/conformance-progress/endpoints/1.20.0?filter=promoted-with-tests

![image](https://user-images.githubusercontent.com/31331/99716449-ff6f0580-2b0c-11eb-9fa5-0b2c24d58257.png)

[2020-11-20 01:29] chenwng commented on #563
Thanks for the info, @aramase , @lachie83 .

[2020-11-22 05:04] tharun208 opened #2160 "Allow the configuration of the interval of container runtime healthcheck"
# Enhancement Description
- One-line enhancement description (can be used as a release note): allow configuration of container runtime health check interval
- Kubernetes Enhancement Proposal: #2248
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/96664
- Primary contact (assignee): @tharun208
- Responsible SIGs: /sig-node
- Enhancement target (which target equals which milestone)

[2020-11-22 05:05] tharun208 commented on #2160
/sig node

[2020-11-22 14:45] jayunit100 opened #2161 "Automatic "metadata.name" labels for all Namespaces"
# Enhancement Description
- APIServer defaulted labels for all Namespaces
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2161-apiserver-default-labels
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/88253 (evolved from namespace as name discussions), moved here https://github.com/kubernetes/enhancements/pull/2113/

[2020-11-22 14:45] jayunit100 commented on #2161
/sig apimachinery

[2020-11-22 14:45] jayunit100 commented on #2161
/sig network

[2020-11-22 14:46] rikatz commented on #2161
/sig api-machinery

[2020-11-22 14:47] jayunit100 commented on #2161
https://hackmd.io/Yc9TyoQOQ0e8KgDLK8m2Eg <--   on the kep here w/ @rikatz

[2020-11-23 15:36] otherguy commented on #592
So the 1.20 feature freeze has passed and this feature did not make it to beta.

Any chance for this to happen in 1.21?

[2020-11-23 22:43] phenixblue commented on #1815
/remove-lifecycle stale

[2020-11-25 07:09] palnabarun commented on #2095
@kbhawkey

could you batch the updates (small changes)?

The contributor website can be published periodically.

The information is updated fairly frequently before the Enhancements Freeze kicks in during each release cycle.

Yes. The plan was to have the listing permanent.

The scope of the ask right now is to just show all KEPs somewhere easily visible to whoever wants to see a summary. Tracking

[2020-11-25 07:36] donmeganotz commented on #2095
Can
⬆️📲

On Wed, Nov 25, 2020, 1:10 AM Nabarun Pal <notifications@github.com> wrote:

[2020-11-25 10:38] vivekbagade commented on #1872
@deads2k @liggitt

@lavalamp had expressed concerns on manifest based webhooks in https://github.com/kubernetes/enhancements/pull/2074#issuecomment-703761276

I strongly feel that this mechanism as proposed helps administrators solve the problems mentioned in the KEP. Only current solution to which is having compiled in admission controllers. That said, the concerns Daniel mentions are apt to disc

[2020-11-27 05:28] #1339 closed

[2020-11-29 23:33] #1301 closed

[2020-12-01 11:11] JornShen commented on #1898
@tallclair

All right. I 'll take a detail look recently. :)

[2020-12-02 01:41] jberkus commented on #1673
/remove-lifecycle stale

[2020-12-02 02:55] verdverm commented on #1929
Curious, why weren't Go struct tags used for this?

[2020-12-02 04:22] apelisse commented on #1929
In general, I think we're moving away from these. I can see why the are useful (they can be parsed at runtime), but they are also very hard to read, especially when we start to have many of these.

[2020-12-03 01:01] kikisdeliveryservice commented on #2160
Are you planning on writing a KEP?  This is the issue that tracks the progress of the KEP and the related implementation prs.

You  can find the template here: https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template and will need to get this reviewed by the sig, so that they can review before implementing.

[2020-12-03 01:07] kikisdeliveryservice commented on #1819
Related PR: https://github.com/kubernetes/enhancements/pull/2132

[2020-12-03 09:01] zhhray commented on #277
@verb Sorry, I have the following problem when using ephemeral container, I would like to ask you.
My k8s version is 1.16.9, I patched a ephemeral container to my Pod by `kubectl replace`. Command executed successfully. And I also saw ephemeralcontainers in my POD YAML.
But I can't see the ephemeral container running on my node, so I can't access the newly created ephemeral container through `kube

[2020-12-03 14:13] rohitpc363 opened #2171 "https://github.com"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements`)

[2020-12-03 16:15] verb commented on #277
Hi @zhhray, Does `tomcat-debug` show up in `pod.status.ephemeralContainerStatuses`? (This is also visible in `kubectl describe pod` if it's not empty.) If it's accepted by the API server but a status doesn't appear in `ephemeralContainerStatuses` then it could mean something is going wrong on the kubelet. Here are some things to check:

* Is the `EphemeralContainers` feature gate enabled on the ku

[2020-12-04 02:04] zhhray commented on #277
Thank you very much. I'm sorry for my mistake. After I enabled on the feature gate of Kubelet, everything was ok.

[2020-12-04 06:35] #2171 closed

[2020-12-04 06:38] thockin opened #2172 "Warn about quietly-insecure container UIDs/GIDs"
# Enhancement Description
- Add information to the API about container UIDs and GIDs and warn when they are set to 0 implicitly
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2168
- Discussion Link: https://twitter.com/thockin/status/1333892204490735617
- Primary contact (assignee): thockin
- Responsible SIGs: sig-node, sig-security
- Enhancement target (which t

[2020-12-09 18:09] marosset commented on #1001
/close

[2020-12-09 18:09] #1001 closed

[2020-12-09 19:47] SergeyKanzhelev commented on #585
@tallclair can you please fix the link in the issue description to: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/585-runtime-class

![image](https://user-images.githubusercontent.com/9950081/101679449-3ea9bb80-3a14-11eb-869d-895306da3e19.png)

[2020-12-09 21:52] robstoll commented on #1917
I am sorry, the process is just a too big barrier. It seems not so easy to get the attention in the slack channel. To be faire, I only wrote one message but I also do not intend to spam and write one message a week or so.

[2020-12-09 21:52] #1917 closed

[2020-12-10 01:23] kikisdeliveryservice commented on #1507
Hi @robscott !

Can you update the KEP to implemented (https://github.com/kubernetes/enhancements/blob/f40c24a5da09390bd521be535b38a4dbab09380c/keps/sig-network/1507-app-protocol/kep.yaml#L14) and when that is merged, we can close this issue.

Thanks!
Kirsten

[2020-12-10 01:25] kikisdeliveryservice commented on #177
Hi @xing-yang

Can you update the kep.yaml to reflect a status of implemented: https://github.com/kubernetes/enhancements/blob/f40c24a5da09390bd521be535b38a4dbab09380c/keps/sig-storage/177-volume-snapshot/kep.yaml#L10

Once that merges we can then close this issue.

Thanks!
Kirsten

[2020-12-10 01:26] kikisdeliveryservice commented on #383
@wojtek-t

Just double checking: do you still need this tracking issue?

[2020-12-10 01:29] kikisdeliveryservice commented on #585
Hey @SergeyKanzhelev @tallclair

Since this is now GA and the KEP has an implemented status, you can close this tracking issue.

Thanks!
Kirsten

[2020-12-10 01:30] kikisdeliveryservice commented on #606
Hi @RenaudWasTaken

Could you update the kep.yaml to reflect a status of implemented: https://github.com/kubernetes/enhancements/blob/f40c24a5da09390bd521be535b38a4dbab09380c/keps/sig-node/606-compute-device-assignment/kep.yaml#L9

After that merges you can close this issue :)

Thanks,
Kirsten

[2020-12-10 01:32] kikisdeliveryservice commented on #614
Still waiting for that PR to merge marking this implementable, just pinged on it, hopefully we can get it in soon :)

[2020-12-10 01:43] SergeyKanzhelev commented on #585
/close

It will be great if somebody can fix the description of the issue as this issue is linked from the 1.20 release notes and the link to actual description is broken.

[2020-12-10 01:43] #585 closed

[2020-12-10 01:58] xing-yang commented on #177
Hi @kikisdeliveryservice,

Will submit a PR soon.  Thanks!

Xing

[2020-12-10 05:26] robscott commented on #1507
Hey @kikisdeliveryservice, I think I still need to remove the feature gate in 1.21. Should we keep this issue open for that? Should I wait for that change to mark the KEP as implemented?

[2020-12-10 08:49] kikisdeliveryservice commented on #585
I fixed it earlier @SergeyKanzhelev ☺️

[2020-12-10 11:53] zhhray commented on #277
@verb Sorry, I have the following problem when using ephemeral container, I would like to ask you.
[code]
[code]
I deployed a ephemeral container, and it worked.
[code]
[code]
I explicitly specified targetContainer, but when I exec into the debug container, ps-ef can't see the process of the targetContainer, why？
The above problem is k8s1.16.9 cluster version, but the same operating in my own Mac

[2020-12-10 14:59] verb commented on #277
Hi @zhhray,

Support for container namespace targeting landed in 1.18, so it won't be available in an 1.16.9 cluster. Now that you mention it, I should double check that it works with containerd (it requires support from the CRI) now that dockershim is being retired.

It doesn't look like the separate minimum version for namespace targeting is called out explicitly on the kubernetes website. If yo

[2020-12-10 15:29] verb commented on #277
@dchen1107 @derekwaynecarr FYI, targeting beta for 1.21.

[2020-12-10 15:51] wojtek-t commented on #383
We didn't do any reasonable progress in 1.20. So let's leave this open.

[2020-12-10 16:33] zhhray commented on #277
Yeah, it is. I feel sorry to see your reply. Because I see that the ephemeral container has shared the network namespace, UTS namespace and volumes with the target container, but except that the IPC namespace is not shared.

[2020-12-10 16:54] verb commented on #277
This seems like something we could fix. Could you open a feature request at https://issues.k8s.io?

[2020-12-10 17:15] zhhray commented on #277
You mean fix it on version 1.16? The version is a bit old, and it is indeed supported after 1.18.You have given me the answer, 1.16 does not support this feature, that is enough. Thank you very much.

[2020-12-10 22:45] kikisdeliveryservice commented on #614
Got the PR merged (https://github.com/kubernetes/enhancements/pull/2107), @danwinship feel free to close this issue :)

[2020-12-10 22:47] kikisdeliveryservice commented on #177
Thanks @xing-yang it's merged! Feel free to close this issue :smile:

[2020-12-14 04:53] apelisse commented on #555
/remove-lifecycle stale

We're planning on graduating to GA this cycle.

[2020-12-14 04:54] apelisse commented on #1027
This is on my backlog.
/remove-lifecycle stale

[2020-12-14 04:54] apelisse commented on #1101
This is on my backlog, and I believe we can have a new discussion around this since we change the `null` semantics.
/remove-lifecycle stale

[2020-12-14 08:34] fabriziopandini commented on #1053
/remove-lifecycle stale

[2020-12-14 10:55] rtheis commented on #671
/remove-lifecycle stale

[2020-12-14 14:30] alculquicondor commented on #1451
/remove-lifecycle stale

Probably going to graduate to GA in 1.22, though

[2020-12-14 17:01] neolit123 commented on #1424
/remove-lifecycle stale

[2020-12-14 17:02] neolit123 commented on #1424
update: kubectl is ahead of kubeadm in terms of plans for moving out. kubeadm will most likely follow the established path by kubectl and participate in discussions with sig-release/arch.

[2020-12-14 17:02] neolit123 commented on #1739
/remove-lifecycle stale

[2020-12-14 17:03] neolit123 commented on #970
/remove-lifecycle stale

[2020-12-14 18:17] marosset commented on #995
/remove-lifecycle stale

[2020-12-15 13:00] povsister commented on #1886
/remove-lifecycle stale
I am really busy at the end of year...
Mark it as TODO item in 2021Q1. (For myself)

[2020-12-15 14:52] xing-yang commented on #1432
/remove-lifecycle stale

[2020-12-15 16:21] alculquicondor opened #2185 "Random Pod selection on ReplicaSet downscaling"
# Enhancement Description
- One-line enhancement description (can be used as a release note): When a ReplicaSet is downscaled, victim Pods are selected randomly
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-apps/2185-random-pod-select-on-replicaset-downscale
- Discussion Link: kubernetes/kubernetes#96748
- Primary contact (assignee): alculquicondor@, damemi@
- Respons

[2020-12-15 16:24] alculquicondor commented on #2185
cc @damemi

[2020-12-15 16:40] damemi commented on #2185
/assign

[2020-12-16 14:32] piyushkumar13 commented on #661
@SidakM-zz Any ETA on the availability of this feature ?

[2020-12-17 08:55] 1053611385 opened #2192 "安抚"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements`)

[2020-12-17 08:55] #2192 closed

[2020-12-17 18:24] ambguo commented on #1981
/assign @marosset

[2020-12-18 08:45] lx308033262 commented on #1164
nfs can't create pvc

I1218 08:45:08.314735       1 controller.go:987] provision "kk/nas-pvc-15-vpc" class "nas-sc-vpc": started
I1218 08:45:08.329752       1 controller.go:987] provision "kk/nas-pvc-17-vpc" class "nas-sc-vpc": started
E1218 08:45:08.330191       1 controller.go:1004] provision "kk/nas-pvc-15-vpc" class "nas-sc-vpc": unexpected error getting claim reference: selfLink was empty, ca

[2020-12-18 21:25] thockin opened #2200 "KEP: Block service ExternalIPs via admission"
# Block service ExternalIPs via admission
- One-line enhancement description: Allow users to disable the externalIPs feature of Services via admission control
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2176
- Discussion Link: NA
- Primary contact (assignee): thockin
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which milestone)

[2020-12-20 14:28] frittentheke commented on #281
/remove-lifecycle stale

[2020-12-21 14:24] mrbobbytables commented on #1553
This has been rolled out 👍
For folks that stumble across this thread, the feedback issue can be found here:
https://github.com/kubernetes/community/issues/5299

/close

[2020-12-21 14:24] #1553 closed

[2020-12-21 21:29] natasha41575 opened #2206 "Allow kustomize users to specify their own OpenAPI schema"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add an `openapi` field to the kustomization file to allow users to specify their own OpenAPI schemas to use
- Kubernetes Enhancement Proposal:
- Discussion Link:  https://github.com/kubernetes-sigs/kustomize/issues/2825
- Primary contact (assignee): @natasha41575
- Responsible SIGs: cli
- Enhancement targ

[2020-12-21 21:29] natasha41575 commented on #2206
/sig sig-cli

[2020-12-21 21:29] natasha41575 commented on #2206
/sig cli

[2020-12-22 15:28] adammrozik commented on #555
@apelisse , sounds wonderful! It would be very useful for my team, so just wanted to know what kind of date would `this cycle` be?

[2020-12-22 16:53] palnabarun commented on #1783
/remove-lifecycle stale

[2020-12-22 17:01] knight42 opened #2211 "Strip managedFields on the server-side"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Strip managedFields on the server-side
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @knight42
- Responsible SIGs: sig-api-machinery, sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.21
  - Beta release target (x

[2020-12-22 17:21] knight42 commented on #2211
/sig cli api-machinery

[2020-12-22 18:55] danwinship commented on #614
/close

[2020-12-22 18:56] #614 closed

[2020-12-22 20:09] alculquicondor opened #2214 "Array Job semantics in Job API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add a completion index to Pods of Jobs with fixed completion count
- Kubernetes Enhancement Proposal:  WIP
- Discussion Link: kubernetes/kubernetes#97169 kubernetes/kubernetes#14188
- Primary contact (assignee): alculquicondor
- Responsible SIGs: sig-apps
- Enhancement target (which target equals to which

[2020-12-22 20:09] alculquicondor commented on #2214
/sig apps

[2020-12-23 04:29] immanuelfodor commented on #362
/remove-lifecycle stale

[2020-12-23 04:30] immanuelfodor commented on #361
/remove-lifecycle stale

[2020-12-23 12:28] Bessonov commented on #556
/remove-lifecycle stale

[2020-12-23 12:31] Bessonov commented on #556
Please, remove the stale bot. I hate the messages from stale bot. I hate to notify all subscribers with `/remove-lifecycle stale` messages. Stale bot is a good way to show your disrespect to the community.

[2020-12-23 13:04] invidian commented on #556
Or at least someone do life cycle freeze here..

[2020-12-23 19:10] fgreinacher commented on #127
/remove-lifecycle stale

[2020-12-25 10:46] #1963 closed

[2020-12-28 04:53] chendave commented on #1923
/remove-lifecycle stale

[2020-12-28 09:29] frittentheke commented on #837
/remove-lifecycle stale

[2020-12-28 09:54] Ye-Tian-Zero commented on #1464
I'm sorry but I don't have enough time to follow this kep recently, so I close it to avoid anyone who wants to propose similar features being stopped by this issue.
/close

[2020-12-28 09:54] #1464 closed

[2020-12-28 17:53] apelisse commented on #555
It's already beta so you should be able to try it out with 1.15 (though the latter the better). We're planning 1.21 for GA, but I don't know if the schedule is available yet.

[2020-12-29 09:23] 06kellyjac commented on #135
This issue is still tracking ongoing work, right?

[2020-12-29 14:03] alculquicondor commented on #785
/remove-lifecycle stale

[2020-12-29 18:45] wojtek-t opened #2220 "Migrate all KEPs to the new template"
This will facilitate strenghtening KEP validation

[2020-12-29 18:46] wojtek-t commented on #2220
/sig architecture

[2020-12-29 22:00] SergeyKanzhelev opened #2221 "Removing dockershim from kubelet"
# Enhancement Description

- One-line enhancement description (can be used as a release note): CRI for docker (i.e. dockershim) is currently a built-in container runtime in kubelet code base. This proposal aims
at a deprecation and subsequent removal of dockershim from kubelet.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2221-remove-docke

[2020-12-29 22:02] SergeyKanzhelev commented on #2221
/sig node

[2020-12-29 23:02] mindw commented on #536
 /remove-lifecycle stale

[2020-12-30 15:30] mrbobbytables opened #2225 "Contributor Site"
# Enhancement Description
- One-line enhancement description (can be used as a release note): A contributor focused website aimed at organizing and publishing information relevant to the contributor base.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-contributor-experience/0005-contributor-site.md
- Primary contact (assignee): @mrbobbytables
- R

[2020-12-30 15:31] mrbobbytables commented on #2225
This has been implemented. I'm going to go ahead and close the issue, but will update it once the kep itself has been migrated to the new format.
/close