[2017-05-03 18:52] erictune commented on #285
Ownership change PR https://github.com/kubernetes/kubernetes/pull/45301

[2017-05-03 20:41] idvoretskyi commented on #288
Labeled as "help wanted" - SIG has to be defined.

[2017-05-03 20:43] idvoretskyi commented on #284
@gnufied can you update the feature description with the design proposal?

[2017-05-03 20:46] idvoretskyi commented on #283
@gnufied @rootfs please, provide us the design proposal link. Also, I have concerns after @davidopp's message - is it a real feature, not a bug fix?

cc @saad-ali @jingxu97 @childsb @rootfs

[2017-05-03 20:47] idvoretskyi commented on #278
@jsafrane please, don't forget about the design proposal link.

[2017-05-03 20:49] idvoretskyi commented on #275
@derekwaynecarr which stage does this feature target - alpha, beta or stable for 1.7?

[2017-05-03 20:54] idvoretskyi commented on #267
@jcbsmpsn please, provide us with the design proposal link

[2017-05-03 20:58] gnufied commented on #278
The design proposal - https://github.com/kubernetes/community/pull/589

[2017-05-03 21:00] idvoretskyi commented on #266
@jcbsmpsn please, provide us with the design proposal link.

[2017-05-03 21:05] idvoretskyi commented on #253
@jamiehannaford I've tried to update your feature issue to fit the new template https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md, unfortunately, I haven't found all the required information in the existing description.

Please, update the feature with the new template and fill the required data. Thanks.

[2017-05-03 21:11] idvoretskyi commented on #246
@ConnorDoyle I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:14] idvoretskyi commented on #196
@boynux  I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:17] idvoretskyi commented on #194
@soltysh @kargakis @mfojtik I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:19] idvoretskyi commented on #85
@davidopp any progress is expected on this feature? If yes, please update the feature description with the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md).

[2017-05-03 21:20] idvoretskyi commented on #63
@euank any progress is expected on this feature? If yes, please update the feature description with the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md).

[2017-05-03 21:22] idvoretskyi commented on #293
@jingxu97 please, update the feature template with the required data.

[2017-05-03 21:24] idvoretskyi commented on #290
@yujuhong please, update the feature description with the design proposal.

[2017-05-03 21:33] idvoretskyi commented on #285
So, beta or stable? @kow3ns @erictune

[2017-05-03 21:42] idvoretskyi commented on #261
@quinton-hoole I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:44] idvoretskyi commented on #259
@irfanurrehman @quinton-hoole I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:47] idvoretskyi commented on #258
@quinton-hoole I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:47] idvoretskyi commented on #257
@irfanurrehman I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:50] idvoretskyi commented on #256
@dhilipkumars I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:51] cmluciano commented on #246
Based on discussions, do we want to leave this open @ConnorDoyle ? Do we think this might be supplanted by subsequent proposals?

[2017-05-03 21:54] idvoretskyi commented on #245
@msau42 @vishh @jingxu97 I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:55] idvoretskyi commented on #244
@jsafrane I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 21:57] erictune commented on #285
PDB will continue to be beta, and the new field will be beta too.

[2017-05-03 22:00] idvoretskyi commented on #182
@gnufied I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:01] idvoretskyi commented on #166
@davidopp @gmarek I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:03] idvoretskyi commented on #121
@vishh @msau42 I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:05] idvoretskyi commented on #109
@davidopp @aveshagarwal I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:06] idvoretskyi commented on #99
@nikhiljindal I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:13] idvoretskyi commented on #74
@marun I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:15] idvoretskyi commented on #73
@nikhiljindal @quinton-hoole I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:19] vishh commented on #275
Per offline discussions, design review is what is planned for v1.7.

On Wed, May 3, 2017 at 1:49 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-05-03 22:20] idvoretskyi commented on #71
@quinton-hoole I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:22] idvoretskyi commented on #46
@madhusudancs I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-03 22:23] vishh commented on #246
The takeaway from the resource management work group meetings was that an
extended pod-level isolator isn't necessary as long as "static" CPU
pinning, hugepages and extended support for hardware accelerators is in the
roadmap.
As a project, it is a bit too early to define an extension point around
node level resource isolation that can be backwards compatible in the
future.

On Wed, May 3, 2017 at

[2017-05-03 22:24] idvoretskyi commented on #18
@errordeveloper I've updated the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md). Please, fill the empty fields in the new template (their actual state was unclear).

[2017-05-04 02:38] gnufied commented on #283
There are many approaches to solve the NFS server wedging the kubelet problem. It has been bothering us for awhile. As part of the 1.7 release - I would like to propose the design I am considering to fix the underlying problem.

More details - https://github.com/kubernetes/kubernetes/issues/31272

[2017-05-04 04:03] ConnorDoyle commented on #246
Agree, we can re-open it later if it becomes necessary for other use cases people might have in the future.

[2017-05-04 04:03] #246 closed

[2017-05-04 11:28] jamiehannaford commented on #253
@idvoretskyi I've updated the OP, thanks for pointing it out 👍

[2017-05-04 14:55] lukemarsden opened #296 "Upgrades with self-hosting in kubeadm"
# Feature Description
- One-line feature description (can be used as a release note): A new command, `kubeadm upgrade`, allows you to upgrade a cluster created with `kubeadm` automatically
- Primary contact (assignee): @lukemarsden
- Responsible SIGs: SIG-cluster-lifecycle
- Design proposal link (community repo): https://docs.google.com/document/d/1PRrC2tvB-p7sotIA5rnHy5WAOGdJJOIXPPv23hUFGrY/edit

[2017-05-04 14:56] idvoretskyi commented on #296
@lukemarsden the feature freeze for 1.7 has already gone (on Monday, May 1).

[2017-05-04 14:57] lukemarsden commented on #296
@idvoretskyi yes, sorry – I've been slammed after DockerCon. I've been chatting to @calebamiles who said it might be possible to make an exception for this, please 🙏

[2017-05-04 15:13] calebamiles commented on #18
@justinsb, are you the one working on this for 1.7?

[2017-05-04 15:17] mdelio commented on #190
@croomes are you planning to work on this in 1.7?

[2017-05-04 15:18] justinsb commented on #18
Yes, updated

[2017-05-04 15:18] mdelio commented on #183
@wongma7 Looks like the PR is merged, can we close this out?

[2017-05-04 15:21] wongma7 commented on #183
Yes

[2017-05-04 15:21] #183 closed

[2017-05-04 15:24] mdelio commented on #177
@jingxu97 I think we're going to have something in alpha for 1.7, can we can we please set the milestone to 1.7?

[2017-05-04 15:29] mdelio commented on #168
@gnufied are we planning to bring this to stable in 1.7

[2017-05-04 15:30] calebamiles commented on #256
@dchen1107, @derekwaynecarr I believe SIG Node still hasn't approved the design proposal yet. Should we move this issue out of the milestone?

**cc: @idvoretskyi, @kubernetes/kubernetes-release-managers**

[2017-05-04 15:31] croomes commented on #190
@mdelio yes, the PR (kubernetes/kubernetes#42156) is in review for 1.7 now.

Are you able to set the milestone?  I don't believe I have enough rights to do it myself.

[2017-05-04 15:32] apsinha commented on #48
@jbeda is SIG lifecycle targeting this feature for 1.7? It is not in the features repo but perhaps was part of your SIG's planning so PM SIG wanted to check in.

[2017-05-04 15:41] apsinha commented on #244
@jsafrane also please add a one line description as requested in the template.

[2017-05-04 15:43] calebamiles commented on #177
@kubernetes/sig-storage-feature-requests could someone please update the issue description to the new template. Thanks!

[2017-05-04 15:44] cmluciano commented on #27
@MrHohn Should this be listed for GA in 1.7

[2017-05-04 15:46] calebamiles commented on #185
can someone from @kubernetes/sig-network-feature-requests update the issue description to the new template. Thanks!

[2017-05-04 16:09] gnufied commented on #168
@mdelio for 1.7 - we are letting this feature bake for a bit and it will remain in beta state. We may consider bringing this to GA for1.8

[2017-05-04 16:23] luxas commented on #296
Yeah, this has been planned for a while, thanks @calebamiles!

WIP Design doc: https://docs.google.com/document/d/1PRrC2tvB-p7sotIA5rnHy5WAOGdJJOIXPPv23hUFGrY/edit

[2017-05-04 16:26] luxas commented on #288
@idvoretskyi As soon as SIG Release is formally formed as a group, I expect the work to belong to that SIG. Also crosses some borders with the cluster lifecycle SIG.

[2017-05-04 16:29] luxas commented on #63
@euank Is this relevant anymore with CRI?

[2017-05-04 16:36] dhilipkumars commented on #256
@calebamiles could we wait for a few more days, sig-node mentioned they would look at the proposal and give feedback this week.  Plus we have started implementation already.

[2017-05-04 16:38] dhilipkumars commented on #256
It is important for our stateful application support in kubernetes.

[2017-05-04 16:58] MrHohn commented on #27
@cmluciano Yes, kubernetes/kubernetes#41162 is out for this purpose.

[2017-05-04 17:12] jingxu97 commented on #177
I will work on it. Thanks!

Best,
Jing

On Thu, May 4, 2017 at 8:43 AM, caleb miles <notifications@github.com>
wrote:

--
- Jing

[2017-05-04 17:38] gnufied commented on #182
@idvoretskyi I have updated the feature proposal as per new template. This feature fwiw is done.  We have merged changes necessary.

[2017-05-04 18:27] caseydavenport commented on #185
@calebamiles happy to update the description to the new template, but I don't seem to have the right GitHub permissions to do so.

[2017-05-04 19:25] timothysc commented on #48
@apsinha We're planning to complete our draft proposal and might begin execution on some elements, but we are not delivering a full solution for this cycle.

[2017-05-04 20:23] xiao-zhou commented on #95
Thanks @deads2k! That's totally reasonable. We'll come up with some design proposals for TPR validation, what is best way of sharing it? I'll get to slack as well

[2017-05-04 20:55] mdelio commented on #170
@adityadani can we close this out now, or is there more to do?

[2017-05-04 21:07] euank commented on #63
Yes, it's relevant. It's entirely independent of CRI.

I'm not currently working on it nor do I know of anyone who is, but with the OCI image spec nearing 1.0, it's possible this'll be more important, cc @philips

[2017-05-04 21:10] MrHohn commented on #27
/assign

[2017-05-04 21:16] cmluciano commented on #274
As discussed in SIG-Network meeting, the proposal has not been finalized according to the issues linked in the description. These issues should be addressed prior to an official milestone assignment.

[2017-05-04 21:16] cmluciano commented on #265
As discussed in SIG-Network meeting, the proposal has not been finalized according to the issues linked in the description. These issues should be addressed prior to an official milestone assignment.

[2017-05-05 03:27] mikedanese opened #297 "Component configuration API"
# Feature Description
- One-line feature description (can be used as a release note):
Implement a config API for each kubernetes component and migrate off flag driven configuration.
- Primary contact (assignee):
@mikedanese
- Responsible SIGs: sig-cluster-lifecycle
- Design proposal link (community repo):
TBD
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWN

[2017-05-05 06:45] davidopp commented on #166
Move to Beta is goal for 1.7.

[2017-05-05 07:17] sttts commented on #95
@xiao-zhou we are happy to have an accepted Google Summer of Code project around this very topic (was announced just yesterday). Let's chat on Slack about how to collaborate on this. Very cool that you are interested in this as well, so we have quite some force to push this forward!

[2017-05-05 07:18] davidopp commented on #85
Responsibility for feature has been moved from sig-scheduling to sig-apps. I've updated the label and changed the assignee to @erictune.

[2017-05-05 07:33] gyliu513 commented on #166
@gmarek I want to split the work to two tasks:
1) Rename from `alpha` to `beta`.
2) Update unit test for node controller to cover more cases.

Comments?

[2017-05-05 07:35] sdminonne commented on #95
@xiao-zhou @sttts @deads2k as soon you've a proposal for TPR validation (and ideally defaulting) mind tag me in the proposal review? Thanks

[2017-05-05 07:36] gmarek commented on #166
Renaming involves updating feature gates as well. I'd add:

3. Update docs

[2017-05-05 08:39] kargakis commented on #274
@cmluciano what issues are you talking about? I can't find any description linking issues in any of the links above.

[2017-05-05 08:49] davidopp commented on #62
It will not move to beta. It will be subsumed by #268.

[2017-05-05 09:15] sttts commented on #95
@sdminonne it will be posted in sig-apimachinery. If you subscribe to that google group, you should get notified.

[2017-05-05 10:30] idvoretskyi commented on #288
@calebamiles @pwittrock is SIG-release going to work on this feature?

[2017-05-05 10:31] idvoretskyi commented on #296
@lukemarsden @luxas sounds good to me, thanks.

[2017-05-05 10:33] idvoretskyi commented on #168
@gnufied @mdelio for further feature tracking, please, update the feature template, using the new [one](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)

[2017-05-05 12:01] sdminonne commented on #95
@sttts thanks

[2017-05-05 12:16] kargakis opened #298 "Failure policy for Jobs"
# Feature Description
- One-line feature description (can be used as a release note):  Failure policy for Jobs
- Primary contact (assignee): @soltysh
- Responsible SIGs: @kubernetes/sig-apps-misc
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/583
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to revie

[2017-05-05 12:18] kargakis commented on #298
Belated issue in the features repo but we have agreed on working on this in sig/apps for 1.7. @soltysh is OOO today so I am filling this out for him.

https://github.com/kubernetes/community/pull/583

[2017-05-05 18:28] chakri-nelluri opened #299 "Fix broken volume spec reconstruction"
# Feature Description
Fix broken volume spec reconstruction

- Primary contact (assignee):
@chakri-nelluri @saad-ali

- Responsible SIGs:
sig/storage

- Design proposal link (community repo):
https://github.com/kubernetes/community/pull/650

- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferr

[2017-05-05 18:42] rootfs commented on #299
@kubernetes/sig-storage-feature-requests

[2017-05-05 18:49] luxas commented on #288
@idvoretskyi To clarify, so far I and a couple of other persons have been hacking on this with no formal SIG owning it.
This is basically a thing that touches sig-cluster-lifecycle, sig-testing, sig-release and sig-windows all at the same time.

However, I'll talk to @ixdy @vishh @thockin and sig-release where we should formally place this

[2017-05-05 19:35] idvoretskyi commented on #288
@luxas it's amazing to see this work in progress!

At the same time, the feature has to have one or multiple SIG's, that are formally responsible for its implementation.

[2017-05-06 01:07] justinsb opened #300 "AWS: Cluster level tags"
# Feature Description
- One-line feature description (can be used as a release note): Allow configuration of additional AWS tags for dynamic resources (canonically: ELBs & EBS volumes)
- Primary contact (assignee): justinsb
- Responsible SIGs: @kubernetes/sig-aws-misc
- Design proposal link (community repo): TBD
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area

[2017-05-07 13:13] cmluciano commented on #274
https://github.com/kubernetes/kubernetes/pull/28637
https://github.com/kubernetes/kubernetes/issues/28610

[2017-05-07 21:19] kargakis commented on #194
@idvoretskyi based on the new template, I am wondering if umbrella issues like this one make sense anymore. This issue specifically tracks moving Deployments to GA but I doubt it provides the visibility that separate self-contained issues provide. Thoughts?

[2017-05-08 21:36] Malet commented on #27
Trying to get this feature working on v1.7.0-alpha.2 using flanneld with `--ipmasq` and kube-proxy with iptables mode. I want to receive traffic on a node directly and preserve the source IP as it is routed to the ingress-controller. I've tried using the NodePort service with the `service.beta.kubernetes.io/external-traffic: OnlyLocal` annotation, but echoheaders is still giving me `10.100.35.1` a

[2017-05-08 21:56] MrHohn commented on #27
@Malet This source IP preservation feature has issues with some overlay network plugins (like flannel and weave), please see kubernetes/kubernetes#44963 for details.

[2017-05-08 22:34] ericchiang commented on #294
After internal debate I don't think I'm going to be pursuing this for 1.7. Much of this can be achieved through token access reviews or bulk syncing to RBAC roles. Closing this out.

[2017-05-08 22:34] #294 closed

[2017-05-08 23:51] jcbsmpsn commented on #267
Design proposal: https://github.com/kubernetes/community/pull/602

[2017-05-09 12:35] idvoretskyi commented on #267
@jcbsmpsn updated the feature description with the link, thanks.

[2017-05-09 14:33] idvoretskyi commented on #300
@justinsb I suppose, this feature doesn't target 1.7, right?

[2017-05-09 14:34] idvoretskyi commented on #299
@chakri-nelluri @kubernetes/sig-storage-feature-requests @saad-ali Kubernetes 1.7 feature deadline has already passed on May 1. Can you describe the reason why this feature has to be tracked under 1.7?

[2017-05-09 14:34] alkar commented on #177
Is this based on the proposal here: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/volume-snapshotting.md ?

[2017-05-09 14:40] justinsb commented on #300
We'll see how we do

[2017-05-09 14:41] idvoretskyi commented on #190
@croomes @mdelio milestone updated. Please, update the description template to fit the new template [version](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)

[2017-05-09 14:54] luxas commented on #299
Also, is this really a feature? Looks like a bug fix.

[2017-05-09 15:35] idvoretskyi commented on #192
ping @calebamiles to review

[2017-05-09 15:39] idvoretskyi commented on #171
@justinsb are you expecting any progress for 1.7?

[2017-05-09 15:39] justinsb commented on #171
Yes

[2017-05-09 16:12] idvoretskyi commented on #171
@justinsb please, update the feature description so.

[2017-05-09 16:56] ddysher commented on #293
Is this a dup of https://github.com/kubernetes/features/issues/293?  If not, what's the relationship?

[2017-05-09 18:03] jingxu97 commented on #293
@ddysher this is @293 itself?

[2017-05-09 20:06] jingxu97 commented on #177
No, the new proposal doc is here
https://docs.google.com/document/d/17WS4Wk4MXRH24i-BpMpIFo5F-SNoRkm_KtkBMZEEoAo
Please let me know if you cannot open it. Thanks!

Jing

On Tue, May 9, 2017 at 7:34 AM, Dimitrios Karagiannis <
notifications@github.com> wrote:

--
- Jing

[2017-05-09 20:54] ddysher commented on #293
😂 I mean https://github.com/kubernetes/features/issues/245

[2017-05-09 21:01] jingxu97 commented on #293
No they are not duplicates. #293 is just trying to update the PV storage
usage information to the PVC object so that user can get this information
by describing the PVC. #245 is a much bigger project related to storage
isolation. Maybe #293 could be part of #245.

On Tue, May 9, 2017 at 1:54 PM, Deyuan Deng <notifications@github.com>
wrote:

--
- Jing

[2017-05-10 01:50] ddysher commented on #293
oh, thanks.  i somehow miss read the titles.

[2017-05-10 04:07] derekwaynecarr commented on #261
@quinton-hoole Where is the design for this and can I be added as a reviewer/approver given my past work with ResourceQuota?

[2017-05-10 11:17] alkar commented on #177
@jingxu97 thanks! I can't access it but I just requested access.

[2017-05-10 21:25] adityadani commented on #170
We have an enhancement to the plugin that we would like to get it merged in one of the 1.6 dot releases. Here is the PR: https://github.com/kubernetes/kubernetes/pull/45518
Could we also use this issue for it ?
@harsh-px

[2017-05-11 17:06] gnufied commented on #168
@idvoretskyi  since @rootfs created the feature request, I do not have permissions to edit it. @rootfs can you edit the document according to the new template?

[2017-05-11 18:58] davidopp commented on #269
I'm going to move this to next-milestone since we don't anticipate having any code for it in 1.7. (But @k82cn is working in his own repo on it.)

[2017-05-11 19:00] davidopp commented on #109
@aveshagarwal I assume we won't have any code for this in 1.7, probably just a design at most, so we should move it to next-milestone?

[2017-05-11 19:01] davidopp commented on #166
Figuring out a solution to the discussion that starts here https://github.com/kubernetes/kubernetes/issues/44445#issuecomment-300851815 is a blocker to moving this to beta.

[2017-05-11 19:03] aveshagarwal commented on #109
@davidopp I am prototyping utilization based use case as per existing design doc in the current rescheduler code in contrib. So I am planning to have that by 1.7. But since it will be in contrib repo outside kube repo, not sure it would impact kube 1.7.

[2017-05-11 19:04] davidopp commented on #166
BTW I'm pretty nervous that we haven't really had people try out the alpha feature. Unless we can get some significant uses of the alpha feature very soon, we shouldn't move this to beta in 1.7. This feature can cause significant disruption/problems if there are bugs.

[2017-05-11 19:09] aveshagarwal commented on #109
@davidopp the one thing that I am looking into is a new priority function based on node utilization that might be needed as part of existing scheduler, so that when a rescheduler moves a pod off a over utilized node, existing scheduler can schedule that pod to less/under utilized node to be in alignment with rescheduler decision.

[2017-05-11 19:12] rootfs commented on #168
@idvoretskyi @gnufied done

[2017-05-11 21:24] perotinus commented on #46
/assign perotinus

[2017-05-11 21:33] perotinus commented on #46
# Feature Description
- One-line feature description (can be used as a release note): Support ReplicaSets in Federation
- Primary contact (assignee): @perotinus
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/09ef55a496f8928573f7f4d2a8a38d0601737ddb/contributors/design-proposals/federated-replicas

[2017-05-12 02:50] gyliu513 commented on #109
@aveshagarwal Does the rescheduler still only works for pods under `kube-system` ns after your work?

[2017-05-12 05:04] davidopp commented on #109
This issue is referring to a different rescheduler than the one we currently have. The naming is unfortunate. The current rescheduler will go away once #268 is implemented.

[2017-05-12 05:24] gyliu513 commented on #109
Good to know, thanks @davidopp

[2017-05-12 11:28] fgrzadkowski commented on #109
Shouldn't we just use existing priority functions in scheduler for
rescheduler, instead of adding more? I think the first thing we should
focus on is actually spreading function for services, replicas sets,
deployments etc.

--
Filip

On Fri, May 12, 2017 at 7:24 AM, Guang Ya Liu <notifications@github.com>
wrote:

[2017-05-12 14:03] aveshagarwal commented on #109
Yes I am focusing on spreading use case based on node's resource utilization.

[2017-05-12 15:06] vishh commented on #109
Why not reschedule when pods suffer from performance issues instead of
rescheduling whenever nodes have high utilization?
What's the benefit of the latter?

On May 12, 2017 7:03 AM, "Avesh Agarwal" <notifications@github.com> wrote:

[2017-05-12 15:26] aveshagarwal commented on #109
I think a benefit of the latter is to have a balanced cluster after following events, for rexample:
1. a node comes back from maintenance
2. auto scaling
3.  over time, pods' first scheduling decision might turn out a sub-optimal one.

To reschedule a pod experiencing  performance issue or poor service is also an use case that we would like to handle eventually but not as a first step. Moreover, i

[2017-05-12 16:40] vishh commented on #109
What is the rescheduling optimizing for then in the short term? Improved
bin packing?

On Fri, May 12, 2017 at 8:26 AM, Avesh Agarwal <notifications@github.com>
wrote:

[2017-05-12 17:43] aveshagarwal commented on #109
I'd say to optimize (specifically minimize) number of over utilized nodes (x) in a cluster, such that `0<=x<=N` where N<= Number of nodes in the cluster. Utilization threshold and N are configurable. also rescheduler makes best effort to optimize it but can not provide a guarantee. Also If it results in improved bin packing (as you mentioned) as a side effect, thats good, but not a direct effort t

[2017-05-12 19:38] davidopp commented on #109
Features repo should not be used for technical discussions. Please move the discussion to kubernetes/kubernetes#12140.

BTW @aveshagarwal it would probably be good if you were to write a short design doc for what you're doing.

[2017-05-12 19:45] aveshagarwal commented on #109
@davidopp Yeah sure, planning to have something by next week.

[2017-05-15 09:18] idvoretskyi commented on #109
@davidopp @aveshagarwal have you agreed to have this feature for 1.7? If yes, please, update the features template to reflect the actual status.

[2017-05-15 09:23] davidopp commented on #109
@aveshagarwal mentioned just one change that he might want in 1.7 https://github.com/kubernetes/features/issues/109#issuecomment-300888199

But Avesh, what you described sounds like the current default scheduling policy (try to spread based on resources). So maybe you don't need a new priority function in 1.7?

[2017-05-15 13:56] ecordell commented on #59
For making image policy decisions, it's important that the backend be able to resolve tags to digests so that downstream services see a consistent view of approved images.

I've started sketching the changes here (no tests or codegen):

https://github.com/kubernetes/kubernetes/compare/master...ecordell:imagereviewwebhook-digest

There is some overlap between this and https://github.com/kubernetes/

[2017-05-16 07:24] foxish commented on #285
https://github.com/kubernetes/kubernetes/pull/45587 is ready for review. PTAL

[2017-05-16 13:38] aveshagarwal commented on #109
@davidopp Yeah that sounds good, so in that case does not seem any changes for kube for initial version, so should not impact kube 1.7.

Though, I was thinking a priority function based on actual resource utilization (like by obtaining metrics from something like heapster) which is different than how the existing spreading function works.

[2017-05-16 14:18] davidopp commented on #109
We've talked about doing usage-based scheduling for best-effort pods (#18438), but don't have it yet.

[2017-05-16 17:47] bklau commented on #263
Is this feature going to be Beta in 1.7 release?

[2017-05-16 19:31] lavalamp commented on #263
That is the goal

[2017-05-17 13:21] davidopp commented on #285
IIUC the title of this issue is wrong; we are not getting rid of MinAvailable. The PR appears to just add MaxUnavailable. (Which seems like the right thing to do -- we shouldn't get rid of MinAvailable.)

If I'm understanding correctly, please re-title this issue.

[2017-05-17 14:21] smarterclayton commented on #256
We haven't reached consensus yet on whether this feature is appropriate for kubernetes, and design criteria is pretty involved.  Given the history of how much work is involved, I don't see any way that this will have sufficient review to make 1.7.  It would be better to take this out of 1.7 and propose it for 1.8 once there is design consensus on whether we want to support defer containers at all.

[2017-05-17 20:52] kevin-wangzefeng commented on #261
/cc @weijinxu

[2017-05-17 21:35] kevin-wangzefeng commented on #257
@irfanurrehman I've updated the feature description according to the status AFAIK, correct me if anything is inaccurate.

[2017-05-17 22:42] kevin-wangzefeng commented on #258
xref https://github.com/kubernetes/kubernetes/issues/34261

[2017-05-18 11:21] dyaniv commented on #177
@jingxu97 I wanted to add an important note here regarding overall approach. I'm not this is the right place to put this, but I would be a happy to be guided to the right forum to bring this up.

Coming from a long background in oVirt and OSP I feel there is an important aspect that needs to be discuss which is ownership of the state of snapshots (and overall volume metadata) and discoverablility

[2017-05-18 15:53] idvoretskyi commented on #293
@jingxu97 please, update the feature template with the required data. Yet another request.
cc @kubernetes/sig-storage-feature-requests

[2017-05-18 16:05] idvoretskyi commented on #256
cc @kubernetes/sig-node-feature-requests @kubernetes/sig-apps-feature-requests please comment on above.

[2017-05-18 16:21] kargakis commented on #256
Agreed about moving this out of 1.7 - it's unlike that there is enough review bandwidth at this point

[2017-05-18 16:26] yujuhong commented on #256
AFAIK, this feature wasn't included in the [sig-node 1.7 roadmap](https://docs.google.com/spreadsheets/d/1-hADEbGEUrW04QP4bVk7xf1CWuqbFU6ulMAH1jqZQrU/edit#gid=1520772317), and the design stil needs more review time. +1 for removing the 1.7 milestone.

[2017-05-18 16:38] idvoretskyi commented on #256
Updated, thanks.

[2017-05-18 16:39] idvoretskyi commented on #245
@msau42 @vishh @jingxu97 please, update the feature description, fields "Approver" and "Feature target" are still unclear.

[2017-05-18 16:41] idvoretskyi commented on #244
@jsafrane @kubernetes/sig-storage-feature-requests yet another request - please, update the feature description per template.

[2017-05-18 16:44] idvoretskyi commented on #166
@davidopp so, have you finally agreed on the feature goal for 1.7? Will you keep it as alpha or promote to beta? cc @kubernetes/sig-scheduling-feature-requests

[2017-05-18 16:45] idvoretskyi commented on #121
@vishh @msau42 yet another reminder to update the feature description. cc @kubernetes/sig-apps-feature-requests @kubernetes/sig-storage-feature-requests

[2017-05-18 16:46] idvoretskyi commented on #109
@davidopp @aveshagarwal so, any update on the status, gentlemen?

[2017-05-18 16:47] idvoretskyi commented on #74
@madhusudancs @nikhiljindal please, update the feature description to the actual state. cc @kubernetes/sig-federation-feature-requests

[2017-05-18 16:48] idvoretskyi commented on #71
@quinton-hoole any updates on the feature description? cc @kubernetes/sig-federation-feature-requests

[2017-05-18 16:52] idvoretskyi commented on #18
@justinsb several fields at the description are still not updated - please, fill them. cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-05-18 16:55] idvoretskyi commented on #185
@caseydavenport invited to the features maintainers. Please, update the description.

[2017-05-18 16:56] idvoretskyi commented on #177
@jingxu97 any progress on the feature description? @kubernetes/sig-storage-feature-requests

[2017-05-18 16:58] idvoretskyi commented on #27
@MrHohn @bprashanth @kubernetes/sig-network-feature-requests please, update the feature description to fit the new template.

[2017-05-18 17:19] MrHohn commented on #27
# Feature Description
- One-line feature description (can be used as a release note): Source IP Preservation - change Cloud load-balancer strategy to health-checks and respond to health check only on nodes that host pods for the service.
- Primary contact (assignee): @MrHohn
- Responsible SIGs: sig-network
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master

[2017-05-18 17:21] MrHohn commented on #27
@idvoretskyi Could you please copy my previous post onto the top one? I don't yet have the privilege to edit post.

[2017-05-18 17:53] idvoretskyi commented on #27
@MrHohn thanks!

[2017-05-19 07:44] davidopp commented on #166
I don't think we should move it to beta in 1.7. Nobody has stepped forward to coordinate getting users of the alpha version of the feature, and until we have people successfully using the alpha it's not safe to move it to beta.

[2017-05-19 19:46] cmluciano commented on #185
/assign @danwinship

[2017-05-19 19:55] idvoretskyi commented on #166
@davidopp thanks, will remove from 1.7 milestone.

[2017-05-19 21:18] philips commented on #88
Sidhartha gave a demo of out of tree cloud providers on a recent community hangout. Video link here: https://youtu.be/5ihrOO5mTIA?t=2416

[2017-05-20 14:10] munnerz commented on #88
I've also put together an example cloud provider to integrate keepalived load balancers - might be useful for someone as a reference in future: https://github.com/munnerz/keepalived-cloud-provider

[2017-05-21 16:10] kargakis commented on #95
@deads2k are you going to add ObservedGeneration for TPRs?

https://github.com/kubernetes/kubernetes/issues/7328#issuecomment-287683598

[2017-05-22 11:53] deads2k commented on #95
I wasn't planning to.  Couldn't a client which cares simply compare spec and status names?

[2017-05-22 13:49] kargakis commented on #95
Not sure what you mean here. Correct me If I am wrong but I think there are two parts re ObservedGeneration: 1) the API server needs to update `metadata.generation` every time there is an update in the Spec of the TPR and 2) the controller responsible for the TPR updates `status.observedGeneration` based on `metadata.Generation`. I guess 1) is what I am asking you and 2) is something that TPR auth

[2017-05-22 13:59] deads2k commented on #95
Oh, I misunderstood which thing you were asking about.  You want observedGeneration for the CustomResource, not the CustomResourceDefinition.  I thought that observedGeneration was only bumped for changes to spec that required action.  Meaning that an update to metadata didn't trigger it and an update to some spec fields could avoid bumping it as well.

[2017-05-22 21:42] quinton-hoole commented on #71
@idvoretskyi done

[2017-05-22 21:54] quinton-hoole commented on #261
@derekwaynecarr The document is not yet ready for review, but I will make sure that you get to review it as soon as it is.

[2017-05-22 22:18] quinton-hoole commented on #259
@idvoretskyi Done

[2017-05-23 00:45] ash2k commented on #95
In my comment linked above I was asking for Generation support for TPR instances, not for TPRs themselves. E.g. if I have `Kind: TPR; name: foo.example.com` and instance of that TPR `Kind: Foo; name: foo123`, I'm interested in Generation/ObservedGeneration for `foo123` so that Foo controller can let Foo consumers know if it has processed an update to `foo123` instance. Does it make sense? I don't

[2017-05-23 09:38] kargakis commented on #95
Yeah, generation/observedGeneration makes sense for the schema of the TPR and not for the actual TPR resource as it has evolved.

[2017-05-23 15:58] liggitt commented on #277
cc @kubernetes/sig-cli-feature-requests

[2017-05-23 16:02] lukemarsden commented on #296
Making a call on this – we're not going to make it for 1.7. Let's bump this to 1.8. Sorry.

[2017-05-23 17:06] enisoc commented on #95
@kargakis The rule is to only increment object generation on spec update, not status, right? If so it means we first need to officially support Spec/Status split on the TPR instance. I was planning to write a proposal for TPR Status, targeting 1.8. I can make sure to include incrementing object generation in the proposal.

[2017-05-23 17:08] mtaufen commented on #281
Alpha PR: https://github.com/kubernetes/kubernetes/pull/46254

[2017-05-23 17:09] kargakis commented on #95
Correct.

Yeah, I expected to find that split as part of the existing issue but it seems there is more work that needs to happen before we get there..

[2017-05-23 17:39] enisoc commented on #95
@kargakis I've edited the top-level comment to mention these items, although they are out of scope for 1.7.

[2017-05-23 20:36] msau42 commented on #121
@idvoretskyi done, sorry for the delay.

[2017-05-23 20:58] timothysc commented on #296
@lukemarsden is there a WIP fork or issue on this somewhere?  Just wondering what the current state is.

[2017-05-23 21:00] gnufied commented on #284
Updated link to design proposal - https://github.com/kubernetes/community/pull/657

[2017-05-24 07:14] shiywang commented on #95
/cc

[2017-05-24 08:35] pineking commented on #213
@krmayankk any progress to update?

[2017-05-25 02:36] lukemarsden commented on #296
@timothysc nope, no code yet.

[2017-05-25 16:27] enisoc commented on #95
@deads2k Should we add a shortname for CustomResourceDefinition?

[2017-05-25 16:53] chakri-nelluri commented on #299
@idvoretskyi This is not fully implemented in 1.6 and some plugins are broken. It came up multiple times in sig-storage discussion and we want to get this in for 1.7.

[2017-05-25 17:27] saad-ali commented on #168
This is not going to go to GA in 1.7 (it went beta in 1.6). We will punt GA to 1.8.

[2017-05-25 17:35] saad-ali commented on #244
This will not make it to 1.7, moving to 1.8

[2017-05-25 17:39] saad-ali commented on #283
This is a bug and does not need to be tracked in the feature repo. Issue tracked here: https://github.com/kubernetes/kubernetes/issues/31272

[2017-05-25 17:39] #283 closed

[2017-05-25 17:39] saad-ali commented on #284
This will not ship alpha until 1.8 at the earliest, moving out of 1.7 milestone

[2017-05-25 17:45] saad-ali commented on #293
Updated title and template.

This did not make it in to 1.7. Moving out of 1.7 milestone.

[2017-05-25 17:48] kokhang opened #301 "Rook Volume Plugin"
# Rook Volume Plugin
- [Rook](http://www.github.com/rook/rook) is an open source, cloud-native storage system that provides block, filesystem and object storage to cloud-native apps. A Rook volume plugin would allow users to seamlessly consume storages on their Kubernetes Apps.
- Primary contact (assignee): Steve Leon @kokhang
- Responsible SIGs: Storage
- Design proposal link (community repo): ht

[2017-05-25 17:50] saad-ali commented on #299
Correct this is a bug fix being tracked for 1.7 in https://github.com/kubernetes/kubernetes/issues/44737

Closing this feature issue.

[2017-05-25 17:50] #299 closed

[2017-05-25 19:28] gnufied commented on #284
@saad-ali I know that timeline is pretty tight and code freeze is looming. But I would like to do my best to make this an alpha feature for 1.7.  Yes - there is a chance, we may fail, but I don't see any harm in trying.

So - please, can we move this back to 1.7 milestone? I was hoping to have a discussion about this today in sig but we ran out of time. I am planning to schedule a call tomorrow mo

[2017-05-25 20:11] roberthbailey commented on #297
Dupe of #115

[2017-05-25 20:11] #297 closed

[2017-05-26 09:27] croomes commented on #190
PR has had 1st pass review and is waiting on 2nd/final review by sig/storage.

[2017-05-30 08:42] luxas commented on #88
@wlan0 could you comment here the current status using the https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md and I'll update the first comment above so the features team has this in tracking...

[2017-05-30 16:41] bgrant0607 commented on #135
Looks like this is still alpha:

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/seccomp.md
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/annotation_key_constants.go#L35

And I couldn't find any documentation on kubernetes.io/docs.

[2017-05-30 18:47] wlan0 commented on #88
@luxas Sure! Here you go -

Feature Description:
Support out-of-tree and out-of-process cloud providers, a.k.a pluggable cloud providers.

Feature Progress:
In order to complete this feature, cloud provider dependencies need to be moved out the the following Kubernetes binaries, then docs and tests need to be added. The Links to the right hand side of the binary denote the PRs that lead to the com

[2017-05-30 23:08] sas977 opened #302 "Add star"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- Approver (likely from SIG/area to which feature belongs):
-

[2017-05-30 23:57] weijinxu commented on #261
@derekwaynecarr The document is available here now https://github.com/kubernetes/kubernetes/issues/46464

[2017-05-31 18:38] idvoretskyi commented on #302
@sas977 requires clarification.

[2017-05-31 18:38] #302 closed

[2017-05-31 18:41] idvoretskyi commented on #301
@kokhang features repo freeze for 1.7 has already happened - https://github.com/kubernetes/features/blob/master/release-1.7/release-1.7.md.

Please, clarify the necessity of adding the feature to 1.7 scope.

/cc @k8s-mirror-storage-feature-requests

[2017-05-31 18:50] idvoretskyi commented on #194
@kargakis sorry about missing this from the horizon.

I would like to keep the Deployments feature issue if the progress is still expected ("deployment" is the feature, while others are enhancements). At the same time, I would propose to close https://github.com/kubernetes/features/issues/287 in favor of the current one. But I'd like to hear the different thoughts if there are any.

cc @soltysh @k

[2017-05-31 18:51] idvoretskyi commented on #63
So, any updates on this? Is the progress still expected or this issue has to be closed? @kubernetes/sig-node-feature-requests @calebamiles

[2017-05-31 18:53] idvoretskyi commented on #99
@nikhiljindal @kubernetes/sig-federation-feature-requests any updates on this?

[2017-05-31 19:20] luxas commented on #194
I think keeping this umbrella issue is fine; can reference to specific major fixes that are upcoming...

[2017-06-01 09:03] craigbox commented on #194
As a matter of process, if the intention is to have a separate issue for moving each feature between states (zero to alpha, alpha to beta, beta to GA, or variations thereof), I would like to request:

 * the title of issues be in the format of "Deployments to GA" for ease of scanning
 * a label on each showing the state transition, "stage/ga"
 * regularly closing the old features for things which

[2017-06-01 21:48] verb commented on #277
@dchen1107 @idvoretskyi This should move to 1.8 milestone & features.

/sig api-machinery

[2017-06-01 22:17] idvoretskyi commented on #277
@verb thanks, updated.

[2017-06-01 23:22] idvoretskyi commented on #288
@luxas FYI - I've created a sig/release label and labeled this issue with it.

[2017-06-02 09:21] kokhang commented on #301
@idvoretskyi I was hoping to get it in for 1.7 since the plugin is very thin. All it does it delegates the action to Rook via TPRs. We have been testing it extensively and I have just submitted a PR for this https://github.com/kubernetes/kubernetes/pull/46843.

[2017-06-02 11:09] luxas commented on #288
@idvoretskyi Perfect, waited for that label!
As you saw, I removed it from the v1.7 as it won't make it due to external dependencies (gcr.io, etc.).

[2017-06-02 11:11] luxas commented on #288
I also removed it from Action Required as no actions has to be made for this, targeting v1.8 now

[2017-06-02 17:01] bassam commented on #301
Hi, it was a stretch to make this for 1.7 and its not looking it could happen in time. Can we please consider this feature request for the 1.8 release?

[2017-06-02 17:55] luxas commented on #301
@bassam v1.8 may be possible, but we really have to talk about the layer violations concerns in the PR/design first. We might as well come up with a different design at the end of the day. No need to discuss that here (since this is for tracking feature updates we shouldn't)

[2017-06-05 01:09] sas977 commented on #302
@gnufied

[2017-06-05 01:11] sas977 opened #303 "Feature Description"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- Approver (likely from SIG/area to which feature belongs):
-

[2017-06-05 02:13] #303 closed

[2017-06-05 11:50] jsafrane commented on #278
slipped from 1.7

[2017-06-06 13:56] kargakis commented on #188
This should be tagged for 1.7 -  cc@idvoretskyi I know you guys have been tracking these.

[2017-06-06 15:12] calebamiles commented on #275
Moving this feature to the 1.8 milestone for implementation.

[2017-06-06 15:16] calebamiles commented on #289
Is https://github.com/kubernetes/kubernetes/pull/45504, intended to implement this feature? If so it looks like it's going to miss the 1.7 release. Moving this feature to the next milestone, @yguo0905.

**cc: @dchen1107, @kubernetes/kubernetes-release-managers, @kubernetes/sig-node-feature-requests**

[2017-06-06 15:21] calebamiles commented on #290
@yujuhong, were there additional improvements planned for the 1.7 release cycle besides https://github.com/kubernetes/kubernetes/pull/45614? If not I'll go ahead and close this issue and we can open a new issue for 1.8. Thanks!

**cc, @dchen1107, @idvoretskyi, @kubernetes/sig-node-feature-requests, @kubernetes/kubernetes-release-managers**

[2017-06-06 16:08] yguo0905 commented on #289
@calebamiles, yes, and we decided to move this to the next release. Thanks.

[2017-06-06 16:31] idvoretskyi commented on #290
@calebamiles UPD. There is no necessity to close the issue - just move it to the "next-milestone" if it's not planned for 1.8 anymore.

[2017-06-06 20:42] MrHohn commented on #27
Quick update on this feature:
- Codes and tests  are merged: https://github.com/kubernetes/kubernetes/pull/41162

I'm now working on updating the existing docs to reference the new first class fields instead of beta annotations.

[2017-06-06 20:52] caseydavenport commented on #185
Current status:
- [ ] The networking/v1 API changes are done: https://github.com/kubernetes/kubernetes/pull/39164
- [ ] The updated e2e tests are almost ready for merge https://github.com/kubernetes/kubernetes/pull/46630
- [ ] Docs are ready to merge https://github.com/kubernetes/kubernetes.github.io/pull/4003

[2017-06-06 21:14] idvoretskyi commented on #27
@MrHohn thanks

[2017-06-07 06:48] krmayankk commented on #213
@pineking i have the proposal , and the code almost ready. Will send out the proposal by Friday  while i try to figure the unit tests and api changes.

[2017-06-07 12:22] m1093782566 commented on #265
I raised a PR about design proposa of supporting ipvs mode for kube-proxy, please check

kubernetes/community#692

[2017-06-07 14:19] #181 closed

[2017-06-07 15:00] danwinship commented on #185
But also, we have to figure out if we want to get #47123 (ability to update NetworkPolicy.spec) in

[2017-06-07 21:03] roberthbailey commented on #115
@mikedanese - can you update this with the current status? We should also turn your google doc into MD and link that PR here.

[2017-06-07 21:05] ncdc commented on #115
I may have some small-to-medium amount of bandwidth to work on this. I think trying to convert the scheduler to use config would be a good next step. Also, it sounds like we need to split out each component's configuration api types into individual api groups, instead of one big componentconfig group.

[2017-06-07 22:20] roberthbailey commented on #115
@ncdc - the current proposal is to use config maps rather than explicit api types. Take a look at https://docs.google.com/document/d/1arP4T9Qkp2SovlJZ_y790sBeiWXDO6SG10pZ_UUU-Lc/edit

 w.r.t. the scheduler, can you coordinate with @timothysc as he mentioned during the last cluster lifecycle meeting that he was going to propose to the scheduling sig that we migrate the scheduler in the 1.8 timefram

[2017-06-07 22:29] liggitt commented on #115
I don't think that's accurate. Configmaps may be the delivery mechanism, but the content should still be structured and versioned, as an API type

[2017-06-07 22:35] ncdc commented on #115
@roberthbailey what @liggitt wrote - we will be using explicit api types, potentially delivered inside of config maps :) and yes, already coordinating with Tim - we talked about this yesterday, in fact.

[2017-06-07 23:02] mtaufen commented on #115
As others have mentioned here, components should ultimately expose explicit, versioned configuration API types from their independent trees (e.g. `pkg/kubelet/apis`). How you choose to deliver objects that satisfy these types to your component is up to you - use a file or files on disk, or use a ConfigMap, or whatever is appropriate for that component.

[2017-06-08 12:56] idvoretskyi commented on #115
@mikedanese I've noticed that active work is ongoing for this feature; also it has been added to [1.7 features spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0). Are you expecting to have this feature delivered for 1.7 or later?

[2017-06-08 14:03] soltysh commented on #298
This won't make it for 1.7, I'm removing the milestone. I'll be reworking this issue to be a single point of truth about all job-related enhancements and its current state.

[2017-06-08 18:01] luxas commented on #92
@stevesloka @destijl Any documentation PR for this one yet?

[2017-06-08 18:07] luxas commented on #18
This won't make v1.7, @justinsb is targeting alpha in v1.8 for this

[2017-06-08 18:08] DirectXMan12 commented on #271
WIP repository: https://github.com/kubernetes-incubator/metrics-server

[2017-06-08 18:19] luxas commented on #282
@caesarxuchao This isn't for v1.7 but v1.8, right?

[2017-06-08 18:25] danwinship commented on #185
Oh, what do we do about the old design proposal (which now documents incorrect semantics)? Delete it? Update it to reflect reality? Add a prominent comment noting that it is out of date?

[2017-06-08 18:26] kevin-wangzefeng commented on #273
Moving this to next-milestone since it's still in design, won't make 1.7

[2017-06-08 18:27] luxas commented on #185
@danwinship I'd update it with a history section linking to relevant historic versions of it

[2017-06-08 18:27] danwinship commented on #185
All three of those are now complete

It looks like people are OK with that sliding to 1.8.

[2017-06-08 19:36] idvoretskyi commented on #18
@luxas thanks for updating.

[2017-06-08 19:55] caesarxuchao commented on #282
Yes, the main migration won't land in the 1.7 branch. I used the 1.7 milestone because 1. some changes to code generators are merged in 1.7 to make review easier 2. draw 1.7 release team's attention because the PR is supposed to be merged right after we lift the code freeze.

[2017-06-09 02:38] xingzhou opened #304 "Add resize support for FlexVolume"
# Feature Description
- One-line feature description (can be used as a release note): Add resize call support for FlexVolume to support volume resizing like LVM expansion
- Primary contact (assignee): Tom Xing(@xingzhou)
- Responsible SIGs: sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1700
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers

[2017-06-09 02:52] xingzhou commented on #304
According to the discussion in https://github.com/kubernetes/community/pull/657, we want to add volume resize support for FlexVolume, including:
• Improve FlexVolume to support volume resizing call
• Support LVM volume expansion
/cc @gnufied, this feature request depends on #284

[2017-06-09 04:50] thockin commented on #54
When do we close this?

[2017-06-09 17:38] gnufied commented on #304
Also we would want @chakri-nelluri as reviewer. Because he is primary author of flex.

[2017-06-09 19:46] emmanuel commented on #174
According to the 1.6 release notes, it looks like this has shipped, though presumably 1.6 was the alpha release (second item here: https://github.com/kubernetes/features/blob/master/release-1.6/release-notes-draft.md#config-map).

[2017-06-12 16:51] nikhita commented on #95
A design proposal for validation of CustomResources: https://github.com/kubernetes/community/pull/708 :smile:

[2017-06-12 18:26] yujuhong commented on #54
We made the docker-cri integration the default in 1.6. Closing this issue.

[2017-06-12 18:26] #54 closed

[2017-06-12 19:15] spiffxp commented on #54
does this imply CRI is now considered stable/GA?

[2017-06-12 19:20] idvoretskyi commented on #124
@janetkuo @lukaszo as this feature targets 1.7, please, update the feature description to fit the new [template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md).
/cc @kubernetes/sig-apps-feature-requests

[2017-06-12 19:35] danwinship commented on #185
I think this can be closed?

[2017-06-12 19:41] cmluciano commented on #185
@idvoretskyi Anything left for us to do here?

[2017-06-12 19:55] idvoretskyi commented on #185
@cmluciano please keep it open until the release will be shipped - it may happen that the discussion has to continue.

[2017-06-12 21:45] yujuhong commented on #54
No. CRI as an internal API for kubelet and the built-in dockershim implementation is stable/GA; CRI as an external API for other runtimes is still Alpha.

[2017-06-12 21:51] spiffxp commented on #54
@yujuhong ok, so the docker integration is being promoted from beta in v1.6 to stable as part of v1.7? just thinking about this in the context of release notes

[2017-06-12 21:53] yujuhong commented on #54
@spiffxp ah I see. This issue is marked v1.6, so I didn't know you were asking about the release note for v1.7.
Yes, the CRI-Docker integration is GA in 1.7 (and we've actually removed the old docker integration completely).

[2017-06-12 21:55] spiffxp commented on #54
d'oh, somehow I didn't notice this was v1.6 only, but yeah, probably worth pointing out for v1.7, thanks

[2017-06-12 23:30] kuroneko25 commented on #162
Any idea if this is going to hit beta in 1.7?

[2017-06-13 05:04] idvoretskyi commented on #162
@kuroneko25 features and code freeze deadlines are already passed, this feature is not targeting 1.7.

[2017-06-13 05:06] mikedanese commented on #115
I expect that this feature will be implemented over the next couple releases. What's done is merged for 1.7.

[2017-06-13 21:06] janetkuo commented on #124
I updated the feature description, and left the old description there in case we still need it.

[2017-06-14 00:22] saad-ali commented on #284
I didn't mean to punt resize without your input @gnufied. Sorry about that. It just looked like there were a lot of big design questions, and I'd rather the team spend the time before 1.8 coding beings to close on those rather than rush the design and implementation. We can prioritize this higher for 1.8. Thanks for driving this!

[2017-06-14 15:07] idvoretskyi commented on #284
@gnufied I'd second @saad-ali's suggestion about not moving this item to 1.7 and keeping it for 1.8. Unfortunately, either feature or code freeze dates have already passed, so it is unlikely to add the new features now.

Would be happy to see this item in 1.8.

[2017-06-14 16:52] gnufied commented on #284
@saad-ali @idvoretskyi no worries. Yeah perhaps it was bit over ambitious to try and get this at such a later stage. Looking forward to get this done for 1.8 though. :cake:  :cake:

[2017-06-14 17:55] lpabon commented on #178
@saad-ali How does this compare with your CSI work on the CNCF ?

[2017-06-14 18:36] saad-ali commented on #178
Yep!

This feature (CSI) will enable completely out-of-tree volume plugins. [Out-of-tree dynamic provisioners](https://github.com/kubernetes-incubator/external-storage) exist today as an alpha mechinism to enable volume provisioning (one functionality of volume plugins) to 1) be implmented out-of-tree, and 2) be decoupled from the rest of the volume plugin (potentially enabling multiple provisione

[2017-06-14 19:36] idvoretskyi commented on #177
@mdelio @jingxu97 please, update the feature description with the new template - https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md

[2017-06-14 19:52] idvoretskyi commented on #109
@davidopp @aveshagarwal does this feature going to land in 1.7? If not, I'll remove the 1.7 association.

[2017-06-14 19:56] aveshagarwal commented on #109
@idvoretskyi  No.

[2017-06-14 21:13] dchen1107 commented on #281
Punt this to v1.8.

[2017-06-15 17:26] bsalamat commented on #268
Here is a list of items we need. These items are not the same size and some may need more work. We can break those down later into smaller tasks if needed.

- [ ] Add priority fields to PodSpec.
- [ ] Add PriorityClass API object.
- [ ] Add an Admission Controller for priority.
- [ ] Incorporate priority in pod scheduling logic.
- [ ] Add priority fields to ResourceQuota.
- [ ] Incorporate priorit

[2017-06-15 17:34] philips commented on #263
How did this feature go directly to beta? It is a huge impacting feature.

cc @brendandburns

[2017-06-15 17:37] smarterclayton commented on #263
Looks like it was alpha in 1.6? https://github.com/kubernetes/features/blob/master/release-1.6/release-notes-draft.md#api-server-aggregator

[2017-06-15 17:39] smarterclayton commented on #263
I see https://github.com/kubernetes/kube-aggregator/tree/release-1.6/pkg/apis/apiregistration which was the alpha API.

[2017-06-15 17:39] philips commented on #263
@smarterclayton that was when aggregator was a separate binary. I understand this feature is the built-in aggregator/proxy to kube-apiserver.

[2017-06-15 17:41] smarterclayton commented on #263
So alpha / beta is typically related to stability of features and API.  I guess you're saying the checked in code should be considered alpha even though the API is beta?  Seems weird that the SIG wouldn't decide whether the API is stable or not (especially having evolved it), and the relative health of the feature.

[2017-06-15 17:49] philips commented on #263
What I am trying to understand is that this feature seems net-new in 1.7 and I haven't seen features jump directly to beta in the first release they are introduced. I could be wrong two ways:

1. This isn't a net new feature in this release
2. This is a new feature but other features have jumped directly to beta in the past

I don't have a strong opinion on this but it was flagged during the commu

[2017-06-15 17:53] jbeda commented on #263
Regardless of process, I assume that this will have impact on how folks deploy and manage k8s.  We haven't seen any discussion of this in SIG-cluster-lifecycle and I suspect that it hasn't shown up in SIG-cluster-ops either.  Features probably shouldn't be moved to beta until there is a way for a wider set of users to get access.

[2017-06-15 17:54] smarterclayton commented on #263
I don't see it in the 1.6 feature tracking spreadsheet, but the proposal was merged prior to 1.6 and it looks like the functionality was considered alpha by the sig and part of 1.6 (correct me if I'm wrong).  I remember the discussions were about whether it should be in process or out, and the resolution prior to 1.6 was in process.  Looks like this was also broadly communicated in the kubernetes-

[2017-06-15 17:56] smarterclayton commented on #263
Looks like this was the PR merging the proposal https://github.com/kubernetes/community/pull/261, the discussion in sig-apps https://groups.google.com/forum/#!msg/kubernetes-sig-apps/0gbmMNvZWUo/fgYSHNoWCQAJ

Raises the interesting question about alpha features with beta apis, for sure.

[2017-06-15 17:56] smarterclayton commented on #263
I thought CRD was the feature going directly to beta since it's TPR changing

[2017-06-15 18:04] brendandburns commented on #263
Having this built into the apiserver and on-by default for the first time in 1.7 (if that is the case) is concerning to me.

I have less concerns about the API itself and many more about the deploy/operator/stability issues.

--brendan

[2017-06-15 18:13] saad-ali commented on #177
@idvoretskyi I updated the original comment with the new template. This feature is not actually shipping any bits in the Kubernetes core for v1.7, so therefore I moved it to the `next-milestone`. This means that it will not need documentation, etc. for 1.7 in the Kubernetes core. I will remove the feature from the [1.7 tracking board](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKK

[2017-06-15 22:39] lavalamp commented on #263
Look at the date on the OP here; this has been plan-of-record for even longer than that. :)

The standalone was our alpha.

This has been in head for a while now and the tests seem fine, so I'm not super worried.

[2017-06-15 23:34] grodrigues3 commented on #46
Was this already beta as per [this](https://github.com/kubernetes/features/issues/46#issuecomment-250865610)?  It's unclear to me what's new in 1.7

[2017-06-16 10:06] idvoretskyi commented on #287
@kargakis please, provide us with the docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
/cc @kubernetes/sig-api-machinery-feature-requests

[2017-06-16 10:51] idvoretskyi commented on #266
@jcbsmpsn please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
/cc @kubernetes/sig-auth-feature-requests @timstclair

[2017-06-16 10:53] idvoretskyi commented on #272
@smarterclayton please, provide us with the docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
/cc @kubernetes/sig-apps-feature-requests

[2017-06-16 10:54] idvoretskyi commented on #250
@tsandall please, provide us with the docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
/cc @kubernetes/sig-federation-feature-requests

[2017-06-16 10:55] idvoretskyi commented on #268
@bsalamat please, provide us with the docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
/cc @kubernetes/sig-scheduling-feature-requests @davidopp

[2017-06-16 10:56] idvoretskyi commented on #245
@vishh @jingxu97 please, provide us with the docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
/cc @kubernetes/sig-storage-feature-requests

[2017-06-16 10:57] idvoretskyi commented on #282
@caesarxuchao please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @k8s-mirror-api-machinery-feature-rqusts

[2017-06-16 10:58] idvoretskyi commented on #271
@DirectXMan12 please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).

[2017-06-16 10:59] idvoretskyi commented on #270
@ravigadde please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-scheduling-feature-requests @davidopp

[2017-06-16 11:00] idvoretskyi commented on #264
@DirectXMan12 please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-autoscaling-feature-requests

[2017-06-16 11:01] idvoretskyi commented on #209
@smarterclayton please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-api-machinery-feature-requests

[2017-06-16 11:02] idvoretskyi commented on #92
@stevesloka @smarterclayton please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-auth-feature-requests

[2017-06-16 11:03] idvoretskyi commented on #88
@wlan0 @luxas @thockin please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-06-16 11:04] idvoretskyi commented on #285
@kow3ns please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-apps-feature-requests

[2017-06-16 11:05] idvoretskyi commented on #188
@kow3ns please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-apps-feature-requests

[2017-06-16 11:05] idvoretskyi commented on #124
@janetkuo thanks!
Also, please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-apps-feature-requests

[2017-06-16 11:17] idvoretskyi commented on #263
@lavalamp please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-api-machinery-feature-requests

[2017-06-16 11:21] idvoretskyi commented on #182
@gnufied please, provide us with the design proposal link and docs PR link (and update the features tracking [spreadsheet](https://docs.google.com/spreadsheets/d/1IJSTd3MHorwUt8i492GQaKKuAFsZppauT4v1LJ91WHY/edit#gid=0) with it).
cc @kubernetes/sig-storage-feature-requests

[2017-06-16 11:40] idvoretskyi commented on #88
@wlan0 @luxas @thockin ignore my previous comment please, I've found everything

[2017-06-16 15:11] tsandall commented on #250
https://github.com/kubernetes/kubernetes.github.io/pull/4075

[2017-06-16 15:29] erictune commented on #285
@foxish

[2017-06-16 17:15] foxish commented on #285
@idvoretskyi, updated doc. No formal design proposal, but https://github.com/kubernetes/kubernetes/issues/34776 has the discussion. Updated the tracking spreadsheet. Thanks!

[2017-06-16 17:22] janetkuo commented on #124
@idvoretskyi done

[2017-06-16 17:25] caesarxuchao commented on #282
Moved to the next milestone. The release team is well aware that the PR is expected to be merged right after the code freeze.

[2017-06-16 17:32] DirectXMan12 commented on #264
@idvoretskyi the design proposal is linked in the issue description
I need to submit a docs PR.  I'll post it here shortly and update the spreadsheet.

[2017-06-16 17:34] DirectXMan12 commented on #271
this is @piosz's project, but I'm uncertain if it's going to make 1.7.

[2017-06-16 18:00] kargakis commented on #287
@idvoretskyi this is not a user-facing issue so there are no docs. https://github.com/kubernetes/kubernetes.github.io/pull/3876 is the closest I can think of since I am mentioning the mechanism added by this feature. The Deployment proposal has more info: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/deployment.md#hashing-collisions

[2017-06-16 18:15] idvoretskyi commented on #287
@kargakis, thanks.

On Fri, Jun 16, 2017, 9:00 PM Michail Kargakis <notifications@github.com>
wrote:

[2017-06-16 18:31] DirectXMan12 commented on #264
Docs PR: https://github.com/kubernetes/kubernetes.github.io/pull/4118

[2017-06-16 20:06] bsalamat commented on #268
Here is one of the design docs to add pod priority to the API: https://github.com/kubernetes/community/pull/604
More docs to follow.

Task tracker: https://github.com/kubernetes/kubernetes/issues/47604

[2017-06-16 20:27] idvoretskyi commented on #271
@piosz ?

[2017-06-16 20:31] idvoretskyi commented on #282
@caesarxuchao so, will this functionality be available in 1.7 or not? I suppose it will as you're expecting the PR is expected to be merged right after the 1.7 code freeze.

[2017-06-16 20:37] lavalamp commented on #282
This is a code organization change. It is not really a "feature". Users will not be affected. I don't know why we made an issue in the features repo.

[2017-06-16 20:46] caesarxuchao commented on #282
@idvoretskyi It won't be available in 1.7. It will not be cherry-picked to the 1.7 branch. I changed the milestone to avoid confusion.

[2017-06-16 22:18] janetkuo commented on #287
Why is it alpha? Deployment is a beta resource.

[2017-06-17 09:51] idvoretskyi commented on #282
@caesarxuchao ok, thank you.

[2017-06-17 11:57] luxas commented on #282
@lavalamp Personally I think it makes a lot of sense to track this huge code re-organization change in this repo. Sure, it won't affect end users running GKE, but it will for sure affect A LOT of people writing controllers, consuming the API from golang, writing code for kubernetes in general, etc.

@caesarxuchao Thanks for opening this issue. Can you edit the description to be stable in v1.8?

[2017-06-17 21:42] caesarxuchao commented on #282
Done.

[2017-06-19 13:01] philips commented on #263
The plan of record sounds like the api-aggregator binary IMHO.

@lavalamp Where are the docs on non-standalone mode?

[2017-06-19 13:34] gnufied commented on #182
@idvoretskyi https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloudprovider-storage-metrics.md is the link to the proposal.

[2017-06-19 13:40] gnufied commented on #182
@saad-ali @idvoretskyi I spoke with @brancz of #sig-instrumentation the other day on slack about canonical place where we document the available metrics from a component and I was told there is none.

Similarly - mechanism by which metrics are gathered is not something we document in Kubernetes.  Some people configure SD mechanism built-in prometheus for gathering controller metrics  and some use

[2017-06-19 17:44] chenopis commented on #182
@gnufied Where you thinking about putting the documentation on the kubernetes.io site or possibly somewhere else? If on k8s.io, I can work w/ you on finding an appropriate location.

[2017-06-19 17:54] kargakis commented on #287
@janetkuo as I understand it, the stage is about the new feature and not the whole resource. A beta resource can have an alpha feature.

[2017-06-19 18:42] lavalamp commented on #263
@philips Weren't you one of the people arguing it ought to be built in? e.g. look at your comment here: https://docs.google.com/document/d/1lU1SnVtEec2iIfYx5U3L5N0za2YhfEOik0uPen276Ks/edit#heading=h.6ae9qgk4mhne

[2017-06-19 19:44] piosz commented on #271
@idvoretskyi the design was reviewed and approved in [the doc](https://docs.google.com/document/d/1w6-ZfnA18aKYLJ8DCLBFKlv_1umm74x0I2X4V188kvU/edit). I forgot to make it a proposal on github. I'll turn it into the proposal ASAP.

Regarding the feature itself it's almost implemented (the last PR is in flight https://github.com/kubernetes-incubator/metrics-server/pull/4). I'll also add there some do

[2017-06-19 20:21] janetkuo commented on #287
Alpha features should be disabled by default: https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#alpha-beta-and-stable-versions

However, this is on by default, and there's no way to turn it off.

IMO this hash collision avoidance mechanism was intended to fix the issues caused by hash collisions; therefore, it's a bug fix rather than a feature -- users cannot op

[2017-06-19 20:56] philips commented on #263
@lavalamp I 100% think this is the right architectural thing.

But, turning it on by default on the very first release to have the functionality doesn't seem in-line with the way we have approached these things on other API server features. e.g. `--experimental-bootstrap-token-auth`

[2017-06-19 21:14] kshafiee commented on #95
@deads2k was wondering if there's any controller already implemented for CRD that can be configured by the user

In my particular use-case I create a `networks.stable.example.com` CRD & use it to create Network object net1:
![](https://user-images.githubusercontent.com/7294758/27256679-315e1386-5372-11e7-8eba-9d50d84a80f4.png)
I need the Network CRD controller to ensure a new Network CRD object is

[2017-06-20 00:27] erictune commented on #285
Additional Docs PR: https://github.com/kubernetes/kubernetes.github.io/pull/4140

[2017-06-20 05:49] idvoretskyi commented on #286
@Random-Liu it seems to be a notable feature - any documentation can be provided? /cc @dchen1107 @kubernetes/sig-node-feature-requests

[2017-06-20 06:09] feiskyer commented on #292
Documentation PR: https://github.com/kubernetes/community/pull/725

[2017-06-20 08:15] brancz commented on #182
I think configuring Prometheus to perform cluster monitoring is too complex and opinionated to be documented. Prometheus is agnostic to the environment it runs in so it can adapt very well to all environments, but that also means that configuration is more complex. That's what we at CoreOS are trying to solve with the [Prometheus Operator](https://github.com/coreos/prometheus-operator). Within tha

[2017-06-20 08:33] idvoretskyi commented on #92
@stevesloka @smarterclayton is this a new version of the design proposal? https://github.com/kubernetes/community/pull/607

[2017-06-20 10:05] luxas commented on #287
@janetkuo Agree that this is more of a bugfix to the Deployments feature in beta...

[2017-06-20 11:14] piosz commented on #182
**tl;dr** I think we don't need any documentation for this feature.

To clarify here a bit:
Heapster&Metrics server are responsible for collecting system level metrics (for example resource usage) and here we have application level metric from Kubernetes system component, so Heapster&Metrics server are unrelated to this effort.

Our current standard regarding monitoring Kubernetes system component

[2017-06-20 11:35] gnufied commented on #182
@piosz @brancz Yep agreed. That is why, I was bit hesitant to document either metric pipeline or metrics themselves.

Having said that - I have opened a PR for concepts section, https://github.com/kubernetes/kubernetes.github.io/pull/4138/files which tries to be agnostic about how metrics are gathered and I am not trying to list all metrics either, just a preview of what Cluster Admin might expect

[2017-06-20 12:07] brancz commented on #182
Sorry, I looked at the other PR before this. I think documenting the metrics should be done, while the mechanism collecting them is up to the user.

[2017-06-20 13:05] luxas commented on #182
Agree with @brancz, the names of the metrics that are collected from the clouds should be documented.
You can basically take the proposal, re-word a couple of sentences and send it to the docs repo

[2017-06-20 13:10] piosz commented on #182
@brancz @luxas who will be responsible for making sure that the list is up to date? There is at least 15 core Kubernetes components (https://github.com/kubernetes/kubernetes/issues/40736) and probably much more that are used in some setups and expose metrics. I don't want to say that we shouldn't have them documented somewhere but I'm afraid that it's impossible to keep the documentation up to dat

[2017-06-20 13:29] luxas commented on #182
I was referring to the cloudprovider ones... are they dynamic or static?

[2017-06-20 13:54] brancz commented on #182
Automating the metrics documentation is only possible on a best effort basis, it would not be complete, as very often metrics are created at runtime/collection time rather than created and initialized at start up.

I've thought about this for kube-state-metrics, but haven't implemented a solution, so all documentation is done "manually" so far. The kube-state-metrics documentation is a lot easier

[2017-06-20 16:22] kargakis commented on #287
Fine by me, changing stage to beta.

[2017-06-20 16:45] Random-Liu commented on #286
@idvoretskyi Hi, the document will be located in the [`cri-containerd`](https://github.com/kubernetes-incubator/cri-containerd) repo.

We'll add document to `k8s.io` next release with feature complete.

[2017-06-20 17:20] idvoretskyi commented on #286
Thanks

On Tue, Jun 20, 2017, 6:45 PM Lantao Liu <notifications@github.com> wrote:

[2017-06-21 06:18] piosz commented on #182
@luxas then I think it should be a part of cloud provider documentation assuming the one exists.

[2017-06-21 22:45] philips commented on #263
Chatted with @smarterclayton and @lavalamp on this. Essentially I want to ensure that when components start to behave differently in the system, particularly on the network, that there is solid documentation on how to enable/disable those behaviors.

To set a good precedent the docs I think we need here are:

- [ ] The RBAC rules required to turn this off. Idea: As a feature flag [default RBAC rol

[2017-06-22 00:16] lavalamp commented on #263
Or you could turn the entire APIService api off with --runtime-config (if that is plumbed correctly-- @deads2k?).

It sounds like you've got a specific requirement to know about all network traffic changes, I think staying on top of such things is going to be an uphill battle. I would not have guessed that that was the sticking point! It may be worth working on a central location for discussing ar

[2017-06-22 03:11] brendandburns commented on #263
Assuming this delegation is totally off *until* I create the first custom API that delegates to that apiserver and the default is to shop with no built in aggregated apis then this seems ok to me.

If the default is to turn it all the way on by default I'm not comfortable with that...

--brendan

________________________________
From: Brandon Philips <notifications@github.com>
Sent: Wednesday, Jun

[2017-06-22 14:18] philips commented on #263
@lavalamp I can't tell from that doc what exists today vs future proposals. What are the next steps to getting this doc mergeable into the docs. Can I help?

Some of the comments from deads makes it seem like some of it doesn't exist. Also, a number of the comments are unaddressed.

[2017-06-22 16:59] ericchiang commented on #267
Going to merge this into https://github.com/kubernetes/features/issues/266

[2017-06-22 17:01] liggitt commented on #267
Actually, I wouldn't. There's more work to do here with determining which SANs a node is allowed to serve.

[2017-06-22 21:09] lavalamp commented on #263
We are not shipping with any aggregated apis in this release, unless you count CRD (but that is also built-in). Basically nothing is changing to any existing api other than the callstack inside kube-apiserver.

[2017-06-23 00:43] jbeda commented on #263
I'll trust @philips and @brendandburns to make the call.  I think they are capturing my concerns.

[2017-06-26 09:33] luxas commented on #172
ping @justinsb Have you done any work on this feature?

[2017-06-26 16:39] jbeda commented on #130
Based on some conversations with some security folks, it looks like we might want to enhance the way we do tokens to be asymmetric.  Right now if a token leaks, it allows an attacker to not just join the cluster but also to MITM the bootstrap and MITM the API server.  Scenario-wise, this is more of a problem as the tokens last a longer time.

Some context: https://kubernetes.slack.com/archives/C0E

[2017-06-26 16:40] jbeda commented on #130
/sig auth

[2017-06-26 22:12] spiffxp commented on #268
FYI, I couldn't find this in the spreadsheet, I'm pulling the one-line release note from this issue's description

[2017-06-27 01:32] apsinha commented on #267
What is the link for the documentation update for certificate rotation?  Is there no docs that need update?

[2017-06-27 09:22] luxas commented on #268
@bsalamat Correct me if I'm wrong, but IIUC, this is a "design only" feature with no code shipping in time for v1.7. Actual implementation will be done as alpha in v1.8.

So based on that this is not in the spreadsheet, the linked task tracker https://github.com/kubernetes/kubernetes/issues/47604 is targeted at v1.8 and the design proposal https://github.com/kubernetes/community/pull/604 isn't mer

[2017-06-27 12:42] maxwell92 commented on #290
Where is the design proposal ? or I should just check [kubernetes/kubernetes#45614](https://github.com/kubernetes/kubernetes/pull/45614) ?

[2017-06-27 12:58] maxwell92 commented on #270
Sorry I can't get to #41235 and #41447. could you please paste a hyperlink ? @ravigadde

[2017-06-27 14:49] idvoretskyi commented on #22
@timothysc why this feature has been added to 1.7 milestone? We haven't had any public agreement at this thread to have it for 1.7 during the release timeframe, while the features freeze deadline has already passed.

[2017-06-27 16:52] lavalamp commented on #172
Color me a bit interested in this, if we can provide a layer that can be shared with extension apiservers, that would be nifty.

[2017-06-27 20:47] timstclair commented on #22
The feature is already implemented (alpha stage) in 1.7. I think it was an oversight that it wasn't originally tagged in the v1.7 release.

[2017-06-27 20:51] idvoretskyi commented on #22
@timstclair thank you for clarifying. Please, update the feature description with the new [issue template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md).

[2017-06-27 20:58] enisoc commented on #95
As mentioned in the 1.7 release notes and docs, TPR is now deprecated and we plan to remove it in 1.8. Users should switch to CRD during the 1.7 timeframe.

Please comment on the [tracking issue for removal](https://github.com/kubernetes/kubernetes/issues/48152) if you have any questions or concerns.

[2017-06-27 21:20] bsalamat commented on #268
@luxas your understanding is correct.

[2017-06-27 22:05] jcbsmpsn commented on #267
@apsinha No documentation update planned. It's not user visible.

[2017-06-28 02:15] xingzhou commented on #293
@jingxu97, do we have any design for this feature right now? we are expecting to join this feature together with volume resizing, if there is anything that I can help in terms of design or development, please let me know,thx

[2017-06-28 03:32] ddysher commented on #293
AFAICT, there is no design for this feature.  It would be great to join the effort with volume resizing.

[2017-06-28 05:46] k82cn commented on #270
PR: https://github.com/kubernetes/kubernetes/pull/41447 , Issue: https://github.com/kubernetes/kubernetes/issues/41235

[2017-06-28 06:06] maxwell92 commented on #270
thanks a lot @k82cn

[2017-06-28 09:37] luxas commented on #268
@bsalamat Thanks!

[2017-06-28 21:41] karthickrajamani commented on #21
Hi, we are looking to add vertical scaling capability to Kubernetes - specifically in-place updates of _request_ (and _limit_) values for resources. And intend to leverage this as a scaling option for stateful applications. I would like to reach out to any other interested parties, maybe even somebody already looking into this - given this open issue. Also is @kgrygiel working on this? Thanks.

[2017-06-28 22:38] mwielgus commented on #21
@karthickrajamani we have started the effort to provide Vertical Pod Autoscaler to Kubernetes. The design is here:

https://github.com/kubernetes/community/pull/338

And the code is being developed here:

https://github.com/kubernetes/autoscaler

Should you be interested in more details please join us on sig/autoscaling meeting (next one is tomorrow).

[2017-06-29 12:36] gnufied commented on #168
We are going to try and get this GA in 1.8. The corresponding feature request change for taking this feature to GA - https://github.com/kubernetes/community/pull/771

[2017-06-30 18:41] jingxu97 commented on #293
@xingzhou @ddysher Thanks for the help! I will try to come up with a plan and sync up with you early next week.

[2017-07-03 12:48] liggetm commented on #27
I've tried running with NodePort and the OnlyLocal annotation (bare-metal/flannel) but receive no traffic on local pod.  When the annotation is applied to the service, packets are not marked for masquerading in iptables but still always dropped by a rule that states "servicexyz has no local endpoints".  This is not the case, however - the service does indeed have load endpoints.  My guess is that,

[2017-07-03 13:44] cmluciano commented on #27
@liggetm Please open an issue for this on the main kubernetes repository.

[2017-07-03 14:42] liggetm commented on #27
@cmluciano will do.

[2017-07-05 18:52] luxas commented on #296
For subscribers of this thread, I've now written up kind of a new proposal for how to achieve this. see here: https://docs.google.com/document/d/1PRrC2tvB-p7sotIA5rnHy5WAOGdJJOIXPPv23hUFGrY

Feedback welcome, coding is expected to start next week-ish.

[2017-07-06 17:21] droot opened #348 "PodPreset API Beta release"
# Feature Description
- One-line feature description (can be used as a release note): PodPreset APIs Beta release
- Primary contact (assignee): @pwittrock
- Responsible SIGs: Sig-Service-Catalog, Sig-Apps
- Design proposal link (community repo):[Original design proposal](https://github.com/kubernetes/community/blob/45988676be1714cc275b8e736b42e0820aa57362/contributors/design-proposals/pod-preset.m

[2017-07-06 17:26] luxas commented on #130
This is targeted at v1.8, @jbeda, @mattmoyer, myself and some people from sig-auth is gonna work on getting this to beta.

[2017-07-06 17:28] luxas commented on #88
@thockin @wlan0 @roberthbailey Are we gonna try to make this beta in v1.8?

[2017-07-06 17:30] luxas commented on #18
@justinsb confirmed yesterday that this targets alpha in v1.8

[2017-07-06 17:34] luxas commented on #43
@kubernetes/sig-auth-feature-requests @kubernetes/sig-node-feature-requests
Is this going fully to GA in v1.8 or just a subset of it?
What I can see there are different sub-features in this feature:
 - the csrapprover and csrsigner in the controller-manager
 - the certificates API group
 - the CSR post functionality in the kubelet (the `--bootstrap-kubeconfig` flag)

Which of these features are be

[2017-07-06 17:41] wlan0 commented on #88
@rrati is almost done with initializers for volume lifecycle mgmt. He'll confirm about the status of that work.

We need to add support for automatically pushing the cloud-controller-manager image to gcr.io on releases.

I have the code for kops to start the external cloud controller manager with me. I still have to add tests though. This will facilitate e2e tests.

At what stage can we call it be

[2017-07-06 18:04] rrati commented on #88
Inital pass of using initializers to control setting labels with the cloud-controller-manager #44680

Works, although there really should be a way to disable the admission controller plugin when using the cloud-controller-manager imo.

[2017-07-06 18:08] luxas commented on #88
@wlan0 @rrati Great! Let's move the discussion to a PR where we're updating the proposal to reflect what's required for beta and let's push for it :)

[2017-07-06 18:50] wlan0 commented on #88
@luxas I'm condensing the discussion we had about the requirements for taking this to beta. Please feel free to suggest any additions.

Things needed for beta
-----------------------------------

1. Lots of docs (tutorials, blogs, walkthroughs etc)
2. Testing with various clouds (dogfooding)
3. Automatically build and create a image for cloud-controller-manager(CCM) on gcr.io
4. Automatically run

[2017-07-06 20:16] idvoretskyi commented on #348
@droot have there been an alpha version of the feature?

Also, please, update the release note with more details (what is the notable functionality, that the feature brings).

[2017-07-06 20:43] droot commented on #348
/assign @bgrant0607

[2017-07-06 20:46] droot commented on #348
@idvoretskyi Yes, Alpha for PodPreset was released in 1.6.

Sig-Service-Catalog is primary SIG. We can remove sig/apps.

[2017-07-06 20:53] idvoretskyi commented on #348
@droot there's already an issue for the feature - https://github.com/kubernetes/features/issues/162, please, proceed with updating it (it is unlikely to have issues duplicated).

I'm closing this issue to avoid duplicating.

[2017-07-06 20:53] #348 closed

[2017-07-07 13:21] gnufied opened #349 "Add support for high level volume operation metrics"
# Feature Description
- One-line feature description (can be used as a release note): Add support for high level volume operation metrics
- Primary contact (assignee): Hemant Kumar (@gnufied)
- Responsible SIGs: sig-storage
- Design proposal link (community repo):  https://github.com/kubernetes/community/pull/809
- Reviewer(s) - @saad-ali @piosz
- Approver (likely from SIG/area to which feature be

[2017-07-07 13:21] gnufied commented on #349
/sig storage

[2017-07-09 13:41] subodh01 opened #350 "Nutanix Volume Plugin"
# Feature Description
- One-line feature description (can be used as a release note):
Nutanix volume plugin for Kubernetes. This adds support for both static and dynamic provisioning of persistent volume on Nutanix cluster.

- Primary contact (assignee): Subodh Mathur @subodh01
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (fo

[2017-07-10 02:15] andrewsykim commented on #88
Hoping to get a working version of DigitalOcean CCM if it'll help move this to beta at all. As discussed earlier in this thread, getting volumes to work with CCM is a bit tricky since it requires some work in the kubelet (CSI coming soon?) and it is kept for last. Is anyone currently doing any work on that or are we just waiting for CSI to be a thing?

[2017-07-10 08:36] luxas commented on #88
@andrewsykim We are waiting for CSI to be a thing

I spawned https://github.com/kubernetes/kubernetes/issues/48690 to continue discussing this there... kubernetes/features should be pretty low volume.

[2017-07-10 16:18] ericchiang commented on #22
Updating label to stage/beta for the 1.8 release. Beta goals here: https://github.com/kubernetes/kubernetes/issues/48561

[2017-07-10 21:52] yujuhong commented on #290
There is a doc: https://github.com/kubernetes/community/blob/master/contributors/devel/cri-container-stats.md

[2017-07-10 21:52] #290 closed

[2017-07-11 04:30] mikedanese commented on #43
@luxas this depends on the certificates API being GA which I don't see happening in 1.8. There's a lot in early design phase that will either depend on the certificates API in some form (e.g. pod identity, spiffy, istio) or redo the API. I see greater value in getting feedback on the API as these PKI efforts mature than moving to GA in 1.8.

[2017-07-12 12:13] gyliu513 commented on #166
https://github.com/kubernetes/kubernetes/issues/45342

[2017-07-12 12:56] luxas commented on #166
@davidopp @timothysc This will be moved to beta in v1.8, right?

[2017-07-12 13:07] gmarek commented on #166
Maybe. It has lower priority that moving other NodeConditions to Taints.

[2017-07-12 15:48] erinboyd opened #351 "Raw block device using persistent volume source"
# Feature Description
- One-line feature description (can be used as a release note): Make raw block devices (non-networked) available for consumption via a Persistent Volume Source
- Primary contact (assignee): @erinboyd, @screeley44, @mtanino
- Responsible SIGs: @kubernetes/sig-storage-feature-requests @kubernetes/sig-apps-feature-requests
- Design proposal link (community repo): https://github.

[2017-07-12 18:09] wongma7 opened #352 "ReclaimPolicy in StorageClass"
# Feature Description
- One-line feature description (can be used as a release note): Allow configuration of dynamically provisioned PVs' reclaim policies (Delete or Retain) via StorageClass
- Primary contact (assignee): @wongma7
- Responsible SIGs: Storage
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/issues/38192
- Reviewer(s) - (for LGTM) recommend having 2+

[2017-07-12 18:34] saad-ali commented on #352
CC @kubernetes/sig-storage-feature-requests

[2017-07-12 18:42] saad-ali commented on #245
@jingxu97 @vishh For 1.8 is alpha still correct?

[2017-07-12 18:53] saad-ali commented on #301
Plan for 1.8 here: https://github.com/kubernetes/kubernetes/pull/46843#issuecomment-314633433

[2017-07-12 21:26] jingxu97 commented on #245
I think currently we keep it alpha. We need to finish a number of items lists in #43607

[2017-07-13 18:39] cmluciano commented on #185
@idvoretskyi This feature is complete for 1.8. Is there anymore to do with this issue or do we just close it?

[2017-07-13 18:39] cmluciano commented on #27
@idvoretskyi This feature is complete for 1.8. Is there anymore to do with this issue or do we just close it?

[2017-07-13 18:52] luxas commented on #185
I think we can close this

[2017-07-13 21:12] ConnorDoyle commented on #276
/assign

[2017-07-13 22:11] caseydavenport commented on #196
@idvoretskyi I think this can be closed as a duplicate of https://github.com/kubernetes/features/issues/265, which is the issue being tracked by sig-network for 1.8.

[2017-07-14 17:32] #196 closed

[2017-07-14 17:34] #185 closed

[2017-07-17 12:43] uiansol commented on #250
From the tracking doc: "Need docs? yes"

I can help on this. What is needed @tsandall ?

[2017-07-17 14:49] tsandall commented on #250
@uiansol docs have been written for this already, see https://github.com/kubernetes/kubernetes.github.io/pull/4075

[2017-07-17 21:09] MrHohn commented on #27
This feature was promoted to GA in 1.7 and the release has been shipped. I believe we can close this.

/close

[2017-07-17 21:09] #27 closed

[2017-07-18 18:47] nikhita commented on #95
Updates/Plans for 1.8:

- Support JSON Schema based validation and defaulting for CustomResources ([proposal](https://github.com/kubernetes/community/pull/708))
- Add sub-resources (like status and scale) for CRs (proposal to be out soon)

[2017-07-19 17:42] philips commented on #63
Update on this, OCI has hit v1.0: https://www.opencontainers.org/blog/2017/07/19/oci-v1-0-bringing-containers-closer-to-standardization

[2017-07-19 18:20] joantune commented on #89
Hi guys!

So, what's the status on this? I saw some PR for docs which seems to have changed.

Having a secure kubernetes cluster right out of `kubeadm` box would be great. On a sidenote can one use `calico` or any of the  `Networking and Network Policy` (addons)[https://kubernetes.io/docs/concepts/cluster-administration/addons/] for this? Clearly AFAIK VXLAN based ones are insufficient as VXLAN do

[2017-07-19 18:30] luxas commented on #89
That is the case. kubeadm uses the latest stable security features for pretty much every release.

Regarding the other questions you have, I don't think they are very relevant to this feature. This feature is about locking down the kubelet API endpoint, not network (Pod2Pod, Node2Node) communication.

@liggitt I guess we could close this. Stable in v1.6 which was released some time ago. Most provi

[2017-07-19 18:37] idvoretskyi commented on #63
@philips woohoo!

Will this feature be updated for 1.8?

[2017-07-19 18:47] joantune commented on #89
Locking it down as in an access control applied to the level of the kubelet API endpoint itself, right? not preventing access from it, because I can still pretty much do a `wget --no-check-certificate https://<ip>:10250` on the nodes etc.
It would be great to have a way to only access this through ssh tunnels or perhaps HTTP client based certificates ? although ssh tunnels sound more secure (as th

[2017-07-19 18:54] luxas commented on #89
Please read https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/kubelet-authentication-authorization.md

The kubelet port at `https://<ip>:10250` can with this feature (in the kubeadm case) only be accessed by client certificates signed by the cluster CA with `O=system:masters`, which basically means API Servers are the only ones that can access the kubelet ports by default.

[2017-07-19 19:06] joantune commented on #89
🤔  I was pretty sure I got a `404` instead of a `401` from running that wget with an out of the box  `kubeadm` 1.7.1 which in hindsight might be the wanted behavior out of the box to allow people to use `kubectl` from their box without installing the client certificates (?). I guess I can always change the config, but it would be nice if `kubeadm` did it for us from the start perhaps (?)

[2017-07-19 20:11] ericchiang commented on #89
@joantune @luxas can you open issues against kubeadm for this? This issue is only to track the feature implemented in the kubelet.

[2017-07-19 21:11] luxas commented on #296
This will be beta in v1.8, our alpha was the kubeadm v1.6-v1.7 upgrade route: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-7/

The upgrades proposal in markdown format: https://github.com/kubernetes/community/issues/825

[2017-07-19 21:45] joantune commented on #89
By the way, the documentation is ok detailing what are the concepts of Nodes, Pods and Clusters, and how they interact with each other, however, I found no reference on how these interact with the host's world, i.e. it would be nice to see some diagrams or similar on how the several services and concepts [pods, nodes, services, processes]  interact with the host and its native network.

 I have be

[2017-07-19 23:07] kow3ns commented on #287
@janetkuo @kargakis /close

[2017-07-19 23:08] #287 closed

[2017-07-19 23:11] janetkuo commented on #122
Closing, as this is done

[2017-07-19 23:11] #122 closed

[2017-07-19 23:27] janetkuo commented on #124
This is done in 1.7. Should we leave it open until DaemonSet is GA or it's fine to close this?

[2017-07-19 23:36] kow3ns opened #353 "Workload API"
# Feature Description
- One-line feature description (can be used as a release note): The core workload API (DaemonSet, Deployment, ReplicaSet, StatefulSet) have been moved to the apps group at version v1beta2.
- Primary contact (assignee): @kow3ns
- Responsible SIGs: apps
- Design proposal link (community repo): NA
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-a

[2017-07-20 07:53] krmayankk commented on #353
@kow3ns is this the final list of things being targeted for 1.8 or is there a meeting to discuss this ?

[2017-07-20 09:07] luxas commented on #124
@janetkuo I guess this feature will graduate to stable at the same time DaemonSets do that?
I think this can be closed in that case.

[2017-07-20 15:13] luxas commented on #279
Anything yet to do @liggitt to get this to stable or is it kind of stable already?

[2017-07-20 15:15] liggitt commented on #279
I'm looking at label/taint control in the NodeRestriction admission plugin for 1.8, then I expect this to be complete.

[2017-07-20 15:27] luxas commented on #130
In flight for v1.8 to get this feature to beta:
 - Make it possible to authenticate a Bootstrap Token in different groups: https://github.com/kubernetes/kubernetes/issues/49306 (assignee: @mattmoyer)
 - Make the BootstrapTokenAuthenticator only act on prefixed tokens https://github.com/kubernetes/kubernetes/issues/48945
 - Adding one more verification method for `kubeadm join` to make the flow asy

[2017-07-20 15:29] liggitt commented on #130
I would not expect the BootstrapTokenAuthenticator enabled by default... new authn/authz modes are opt-in

[2017-07-20 15:38] luxas commented on #130
@liggitt I'm ok with that, just thought that the procedure was to enable authn/authz modules by default as well as the controllers.
Reflected the statement above, thanks!

[2017-07-20 16:17] jsafrane commented on #278
There are two design proposals:

* mount propagation
  * https://github.com/kubernetes/community/pull/659
  * implementation: https://github.com/kubernetes/kubernetes/pull/46444
  * waiting for review/approval from sig-node

* mount containers
  * depends on mount propagation
  * https://github.com/kubernetes/community/pull/589
  * implementation is pending, blocked by mount propagation in kubelet

[2017-07-20 16:40] bgrant0607 commented on #117
@DirectXMan12 @mwielgus What is planned for HPA in 1.8?

[2017-07-20 17:29] msau42 commented on #121
For 1.8, we are planning on the following improvements for local persistent storage:
* Support raw block as a source and for pod consumption
* Design for scheduler and binder integration, implementation if we can come to a consensus on design early.
* Local persistent storage will still remain alpha in 1.8.

[2017-07-20 18:10] fgrzadkowski commented on #117
@MaciekPytel @kubernetes/sig-autoscaling-misc

[2017-07-20 18:17] luxas commented on #114
closing in favor for #296

[2017-07-20 18:17] #114 closed

[2017-07-20 21:18] tallclair commented on #279
/cc @davidopp - thinking about how to control taints & tolerations for a multitenant environment.

[2017-07-20 21:22] liggitt commented on #279
this is specifically about limits which labels nodes can add, and which taints they can remove from themselves

[2017-07-20 23:31] janetkuo commented on #353
@krmayankk please read [sig apps 1.8 planning doc](https://docs.google.com/document/d/1Up1SFgnD1kIR-gN17vH36zL6DNinBfpSNjQIzZqZ_g8/). We discussed it in weekly sig-apps meeting https://docs.google.com/document/d/1LZLBGW2wRDwAfdBNHJjFfk9CFoyZPcIYGWU7R1PQ3ng/

[2017-07-20 23:52] jingxu97 commented on #245
I plan to split this into three features as follows

- Supports storage as one of the node allocatable resources.
- Support local storage isolation at pod and container levels.
- Expose storage usage metrics to end users.

[2017-07-21 00:13] evmin commented on #117
Looking forward to the beta launch!

[2017-07-21 15:55] DirectXMan12 commented on #117
@bgrant0607 we're hoping to move to v2 to beta in 1.8 (so just stabilization :-) ).

[2017-07-21 18:11] #124 closed

[2017-07-21 19:13] davidopp commented on #117
Regarding the functionality - am I correct in understanding that if you wanted to scale on a load indicator that is fundamentally external to Kubernetes, you would need to
1) create some kind of proxy API object inside the cluster (maybe a CRD?) that reflects the load indicator in a manner that the Kubernetes metrics pipeline can consume
2) create an HPA with [MetricSourceType](https://github.com/

[2017-07-22 22:59] davidopp commented on #89
@joantune The best reference I've found for some of the questions you asked is this video:
https://www.youtube.com/watch?v=y2bhV81MfKQ

[2017-07-23 03:03] DirectXMan12 commented on #117
That is incorrect.  In order to scale on a load indicator that's not one of the metrics provided by the resource metrics API (CPU, memory), you need to have some implementation of the custom metrics API (see k8s.io/metrics and kubernetes-incubator/custom-metrics-apiserver).

Then, you can either use the "pods" source type, if the metric *describes* the pods controlled the the target scalable of th

[2017-07-23 05:24] davidopp commented on #117
Thanks for your response. So IIUC it is (and let's assume your queue length example)
1. create and deploy an implementation of the  [custom metrics API](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/custom-metrics-api.md) that exposes the metric of interest - seems the recommended way is as an aggregated API server
2. configure the HPA with "object" metric sourc

[2017-07-23 08:30] davidopp commented on #21
@dchen1107 @derekwaynecarr I know in-place resource update isn't on anyone's short-term plan, but do you think this belongs in the Resource Management Working Group or sig-node? Since it affects scheduler and node I would suggest the former.

[2017-07-24 04:44] DirectXMan12 commented on #117
Still not quite.  The API is discoverable, just like any other API.  The "object" metric source is only necessary if the metric in question *describes* an object rather than the collection of pods pointed at by the target scalable.  Without any funky footwork, there's only ever one instance of the API, just like any other Kubernetes API group.  It's up the cluster admins to set up monitoring in su

[2017-07-24 05:09] davidopp commented on #117
Thanks for the explanation! That makes sense. And that will be very useful documentation. :)

[2017-07-24 16:51] derekwaynecarr commented on #21
@davidopp - i think we should get consensus in the working group across our sigs.  code ownership across sig-node and sig-scheduling can then be worked out after.

[2017-07-24 18:38] Kiran-r commented on #192
cc @wongdani @leonangel991

[2017-07-24 22:03] davidopp commented on #21
SGTM

[2017-07-25 04:41] derekwaynecarr commented on #276
@ConnorDoyle @dchen1107 - updated as follows:

- Primary contacts to @sjenning and @ConnorDoyle
- Link to design proposal added https://github.com/kubernetes/community/issues/654
- Reviewers to @vishh and @derekwaynecarr
- Approver to @derekwaynecarr
- Target for Alpha in 1.8

[2017-07-25 13:10] idvoretskyi commented on #350
cc @kubernetes/sig-storage-feature-requests

[2017-07-25 13:12] idvoretskyi commented on #349
cc @kubernetes/sig-storage-feature-requests

[2017-07-25 13:13] luxas commented on #350
I thought we wouldn't accept more volume providers into core @saad-ali ?

[2017-07-25 13:14] idvoretskyi commented on #301
cc @kubernetes/sig-storage-feature-requests

[2017-07-25 13:15] oscarbatori commented on #19
Is there any plan to add GUI support this? For example, I can currently see the following:
[code]
However, in the GUI I am only able to see historical execution, not current jobs and the schedule associated with them? Also, `kubectl get` does not list `cronjob`/`cronjobs` as valid resource types, though they do indeed work.

[2017-07-25 13:15] gnufied commented on #349
@idvoretskyi primary contact would be me. Can you update the github assignee?

[2017-07-25 13:16] idvoretskyi commented on #298
@soltysh @kargakis any plans to make it for 1.8?

[2017-07-25 13:19] idvoretskyi commented on #296
@lukemarsden @luxas @timothysc who is an actual assignee here?

[2017-07-25 13:20] luxas commented on #19
@oscarbatori Please open an issue in kubernetes/dashboard repository and ask for that enhancement.

[2017-07-25 13:21] oscarbatori commented on #19
@luxas will do, thanks for your prompt response.

[2017-07-25 13:24] luxas commented on #296
@idvoretskyi myself and @timothysc. I have the proposal in markdown format in https://github.com/kubernetes/community/pull/825 and have some PRs up for implementing this.
@timothysc is doing some work on kubelet Pod checkpointing and possibly also helping with a new updateStrategy for DaemonSets etc. (dependencies for getting this to work smoothly)

This is going well I think

[2017-07-25 13:31] idvoretskyi commented on #293
cc @kubernetes/sig-storage-feature-requests

[2017-07-25 13:47] idvoretskyi commented on #261
@quinton-hoole milestone has been updated to 1.8. Which stage will this feature target for 1.8?

[2017-07-25 13:48] idvoretskyi commented on #259
@quinton-hoole milestone has been updated to 1.8. Which stage will this feature target for 1.8?

[2017-07-25 13:50] idvoretskyi commented on #258
@quinton-hoole milestone has been updated to 1.8. Which stage will this feature target for 1.8?

[2017-07-25 13:50] kargakis commented on #298
Currently being worked on by @clamoriniere1A (https://github.com/kubernetes/kubernetes/pull/48075)

[2017-07-25 13:51] idvoretskyi commented on #257
@quinton-hoole @irfanurrehman milestone has been updated to 1.8. Which stage will this feature target for 1.8?

[2017-07-25 13:54] idvoretskyi commented on #245
@jingxu97 @saad-ali have these features been splitted? If yes, please provide us with the links to the new features; and close the current one.

[2017-07-25 13:57] ianchakeres commented on #293
@jingxu97 & @vkamra - block volumes without a filesystem do not have the concept of available or usage. This fact is something to consider in the design for this feature.

[2017-07-25 13:59] idvoretskyi commented on #168
@saad-ali @gnufied please, update the feature description with the new timeline.

[2017-07-25 14:02] idvoretskyi commented on #130
@jbeda @luxas please, update the feature description with the new template https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md

[2017-07-25 14:09] idvoretskyi commented on #18
@luxas please, update the feature description with the actual timeline.

[2017-07-25 14:42] sdminonne commented on #298
/cc

[2017-07-25 15:19] irfanurrehman commented on #257
@idvoretskyi Do you mean to ask the timeline by stage? (Probably I don't really understand the k8s release stages well).
The feature as a whole might be completed soon.
The design is already approved https://github.com/kubernetes/community/pull/593.
The api is merged quite some time back https://github.com/kubernetes/kubernetes/pull/38976.
The controller pr already has gone under couple of rounds

[2017-07-25 15:22] irfanurrehman commented on #259
@idvoretskyi Do you mean to ask the timeline by stage? (Probably I don't really understand the k8s release stages well).
The design proposal has gone under couple of rounds of review https://github.com/kubernetes/community/pull/437.
The implementation is ongoing.

[2017-07-25 15:26] duglin commented on #162
In the sig-arch call yesterday they talked about moving PodPreset to the svc-cat repo and continuing the work over there.  Not sure if this will make it for v1.8 or not since it will also require it to use initializers - and see this comment: https://github.com/kubernetes-incubator/service-catalog/issues/1041#issuecomment-317560100

[2017-07-25 15:52] idvoretskyi commented on #162
@duglin @kubernetes/sig-service-catalog-feature-requests is it expected that this feature will be developed in a general Kubernetes scope (following the general timelines etc)?

If not, feel free to close the feature request.

[2017-07-25 16:07] quinton-hoole commented on #259
@idvoretskyi The stage/alpha label was added on Apr 23 (see above).  That still applies vor v1.8.  Is there anything else you need?

[2017-07-25 16:07] subodh01 commented on #350
Yes, I am working on alternative implementation using flex volume plugin.

[2017-07-25 16:09] quinton-hoole commented on #257
@idvoretskyi @irfanurrehman stage/alpha, as per the label, still applies.

[2017-07-25 17:58] vkamra commented on #293
@ianchakeres - yes, we'll need to account for that. @jingxu97 and I discussed this today and will share a proposal out soon.

[2017-07-25 20:06] mtanino commented on #351
@idvoretskyi Could you assign me to this feature too?

[2017-07-25 20:19] msau42 commented on #351
Hi Erin, the feature you're working on is not specific to local storage right? There is work specific to the local storage plugin that I am coordinating.  Just want to make sure that it doesn't conflict with the work you're doing.

[2017-07-25 22:29] calebamiles commented on #300
Do you think we'll working on this for 1.8, @justinsb, @kubernetes/sig-aws-misc?

**cc: @idvoretskyi, @kubernetes/kubernetes-release-managers**

[2017-07-25 22:37] calebamiles commented on #289
@yguo0905, is anyone planning to work on this feature for 1.8? If not perhaps we could close this issue to help reduce cruft.

**cc: @kubernetes/sig-node-feature-requests, @kubernetes/kubernetes-release-managers**

[2017-07-25 22:41] yguo0905 commented on #289
Yes, we are still working on it. The PR is pending review. We expect this to be in 1.8. Thanks for checking!

[2017-07-26 00:16] calebamiles commented on #179
@saad-ali, @kubernetes/sig-storage-feature-requests is this feature issue still actionable or should we close it until some time in the future?

**cc: @kubernetes/kubernetes-release-managers**

[2017-07-26 00:43] calebamiles commented on #126
@derekwaynecarr, is there additional work required to make pod level cgroups is stable, do you think it's appropriate to close this issue?

**cc: @kubernetes/sig-node-feature-requests, @kubernetes/kubernetes-release-managers**

[2017-07-26 06:22] rohitsardesai83 opened #355 "Resource oversubscription for efficient resource utilization"
# Feature Description
- One-line feature description (can be used as a release note): This proposal describes a design to enable resource oversubscription in Kubernetes. The objective of resource oversubscription is to offer reserved, but unused, resources to low priority best effort jobs in a way such that the overall resource utilization will be increased without sacrificing the performance of c

[2017-07-26 06:30] rohitsardesai83 commented on #355
This proposal was presented twice , (1) in scheduler-sig and  (2)  in wg-resource-management.
The outcome is published here :

https://groups.google.com/forum/#!topic/kubernetes-sig-scheduling/2lA9NFR-yFs

Resource oversubscription for best effort pods is not an immediate customer requirement  . Also , features like Initial resource estimation combined with vertical pod autoscaling may provide bet

[2017-07-26 06:31] rohitsardesai83 commented on #355
@deepak-vij , please review and let me know.

[2017-07-26 07:11] luxas commented on #288
This depends on the GCR team adding support for manifest lists. Adding to the v1.8 milestone for now.
I'm not sure the dependency will be resolved before code freeze (I have waited a year for this to happen already), but in case it does we should track this.

[2017-07-26 07:16] luxas commented on #130
@idvoretskyi Updated with the new release note template
@jbeda PTAL and see if that looks good to you as well

[2017-07-26 07:18] luxas commented on #88
@idvoretskyi Added this to the v1.8 milestone. Let me know if the feature description needs to be updated.
We're hoping to get this to beta.

[2017-07-26 07:20] luxas commented on #18
@justinsb Will this be only design docs for v1.8 or actual code?

[2017-07-26 07:25] luxas commented on #11
This stays in beta for the v1.8 release. There are some dependent work we are pushing instead (Bootstrap Tokens and easy Upgrades for instance). Once we have all dependencies on beta level or higher, we can push this last overall piece (kubeadm) to GA

[2017-07-26 07:30] luxas opened #356 "Extensible configuration/invocation of `kubeadm`"
# Feature Description
- One-line feature description (can be used as a release note): kubeadm will have a new `kubeadm phase` command that supports performing only subtasks of the full `kubeadm init` flow. Combined with fine-grained configuration kubeadm will be easily consumable by higher-level tools like kops.
- Primary contact (assignee): @luxas
- Responsible SIGs: @kubernetes/sig-cluster-lifec

[2017-07-26 07:35] luxas opened #357 "Ability to create dynamic HA clusters with kubeadm"
# Feature Description
- One-line feature description (can be used as a release note): Dynamic HA clusters can easily be created with the kubeadm tool using exactly the same `kubeadm init` and `kubeadm join` commands the users are familiar with.
- Primary contact (assignee): @luxas @timothysc
- Responsible SIGs: @kubernetes/sig-cluster-lifecycle-feature-requests
- Design proposal link (community re

[2017-07-26 07:37] luxas commented on #357
Hoping to get an alpha implementation of this in v1.8. Might or might not work out. At least a ready design doc should be ready at the end of the v1.8 cycle.

[2017-07-26 14:24] justinsb commented on #18
Maybe we should just take the working code from kops.

[2017-07-26 15:17] justinsb opened #358 "kops: GCE support from alpha to beta"
# Feature Description
- One-line feature description (can be used as a release note): kops GCE support now in beta
- Primary contact (assignee): justinsb
- Responsible SIGs: sig-cluster-lifecycle
- Design proposal link (community repo): NA
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred

[2017-07-26 15:18] justinsb opened #359 "kops: kops-server using apimachinery / aggregated API server"
# Feature Description
- One-line feature description (can be used as a release note): kops supports running as a server
- Primary contact (assignee): justinsb
- Responsible SIGs: sig-cluster-lifecycle
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferr

[2017-07-26 15:19] justinsb opened #360 "kops: support for bare-metal"
# Feature Description
- One-line feature description (can be used as a release note): kops supports targeting bare metal (or non-cloudprovider) machines
- Primary contact (assignee): justinsb
- Responsible SIGs: sig-cluster-lifecycle
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewer

[2017-07-26 16:26] jsafrane commented on #244
sig-storage has agreed that this feature is not a priority to us. I am going to close my proposals and remove milestone from this issue. We appreciate any volunteers to resume this effort! Anyone is welcome to resume the proposal and implement the feature!

[2017-07-26 16:37] detiber commented on #288
Is GCR support for manifest list images an absolute requirement for this? Could docker hub or another public registry that supports manifest list images (if there are any) be used until GCR supports manifest list images?

[2017-07-26 16:47] jingxu97 opened #361 "Local Ephemeral Storage Capacity Isolation"
# Feature Description
- One-line feature description (can be used as a release note): Add support for capacity isolation of shared partitions for pods and containers.
- Primary contact (assignee): @jingxu97 @vishh
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): kubernetes/community#306
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (a

[2017-07-26 16:57] jingxu97 opened #362 "Supports Storage as Allocatable Resource"
# Feature Description
- One-line feature description (can be used as a release note): Supports storage as part of the node allocatable resources in a similar way as CPU and memory.
- Primary contact (assignee): @vishh @jingxu97
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): kubernetes/community#306
- Reviewer(s) - (for LGTM) recommend having 2

[2017-07-26 17:05] idvoretskyi commented on #351
@mtanino it seems to be not possible before you'll join Kubernetes organization - https://github.com/kubernetes/community/blob/master/community-membership.md. Sorry, It's a GitHub restriction.

[2017-07-26 17:19] jingxu97 opened #363 "Expose Storage Metrics"
# Feature Description
- One-line feature description (can be used as a release note): Expose storage metrics to end users
- Primary contact (assignee): @vkamra @jingxu97
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): kubernetes/community#855
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agre

[2017-07-26 18:03] mtanino commented on #351
@idvoretskyi Thank you for the explanation.  I'll try to send membership request.

[2017-07-26 18:18] idvoretskyi commented on #355
@rohitsardesai83 please, update the feature stages (when it will be delivered as alpha, beta and stable).

[2017-07-27 00:32] jingxu97 commented on #245
I opened up feature #361 #362 #363 to replace this one.

[2017-07-27 00:32] #245 closed

[2017-07-27 02:07] smarterclayton opened #365 "Support paged LIST queries from the Kubernetes API"
# Feature Description
- One-line feature description (can be used as a release note): Allow API consumers - especially those that must retrieve large sets of data - to retrieve results in pages so as to reduce the memory and size impact of those very large queries.
- Primary contact (assignee): @smarterclayton
- Responsible SIGs: sig-api-machinery, sig-scalability
- Design proposal link (community

[2017-07-27 17:43] enisoc commented on #95
Thanks @nikhita. I've edited the top comment to reflect 1.8 plans.

[2017-07-27 17:58] quinton-hoole commented on #261
@idvoretskyi alpha, as per label.

[2017-07-27 17:59] roberthbailey commented on #296
@aaronlevy mentioned that @diegs would be helping with the DaemonSet upgrade strategy.

[2017-07-27 18:17] quinton-hoole commented on #258
@idvoretskyi alpha as per label.

[2017-07-28 01:09] dixudx commented on #365
/cc

[2017-07-28 06:57] ddysher commented on #351
@erinboyd I have the same question as @msau42, is this specific to local block or this is about block support in general?

[2017-07-28 16:28] cmluciano opened #366 "Egress support for Network Policy"
# Feature Description
- One-line feature description (can be used as a release note):
  - Enable Egress network policy filtering
- Primary contact (assignee): @cmluciano
- Responsible SIGs: SIG-Network
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies prefer

[2017-07-28 16:30] cmluciano opened #367 "ipBlock for Network Policies"
# Feature Description
- One-line feature description (can be used as a release note):
  - CIDR selector support for egress/ingress network policies
- Primary contact (assignee): @cmluciano
- Responsible SIGs: SIG-Network
- Design proposal link (community repo): kubernetes/kubernetes#49978
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to r

[2017-07-30 23:56] vishh opened #368 "Extension to support new compute resources"
# Feature Description
- One-line feature description (can be used as a release note):
New Extension at the node level to surface, schedule and manage lifecycle of new compute resources.
- Primary contact (assignee): jiayingz@
- Responsible SIGs: node
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/695
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (a

[2017-07-31 00:00] vishh opened #369 "Monitoring support for Hardware Accelerators"
# Feature Description
- One-line feature description (can be used as a release note): Monitoring support for Hardware Accelerators
- Primary contact (assignee): @mindprince
- Responsible SIGs: node, instrumentation
- Design proposal link (community repo): https://docs.google.com/document/d/13O4HNrB7QFpKQcLcJm28R-QBH3Xo0VmJ7w_Pkvmsf68/edit
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (a

[2017-07-31 08:37] piosz commented on #271
@idvoretskyi I'd like to graduate this to beta in 1.8. Should I create a new feature entry or reuse this one?

[2017-07-31 15:01] luxas commented on #271
@piosz Thanks, yeah, please reuse.

[2017-07-31 15:10] idvoretskyi commented on #271
@piosz yes, please reuse the current one (as it will be the same feature, in a different stage).

[2017-07-31 16:36] erictune commented on #351
@erinboyd I just saw this.  What is required from SIG-Apps?

[2017-07-31 16:43] erictune commented on #285
This is done.

[2017-07-31 16:43] #285 closed

[2017-07-31 16:55] erictune commented on #272
This is complete, I think.

[2017-07-31 16:55] #272 closed

[2017-07-31 20:27] jdumars opened #370 "Enable encryption of etcd secrets by an Azure Key Vault managed key"
# Enable encryption of etcd secrets by an Azure Key Vault managed key
- One-line feature description (can be used as a release note):

**Enable encryption of etcd secrets by an Azure Key Vault managed key.**
- Primary contact (assignee):

**Khaled (Kal) Henidak [khnidk@outlook.com]**
- Responsible SIGs:

**Azure**
- Design proposal link (community repo):

**WIP: https://github.com/Azure/acs-engine

[2017-07-31 21:01] fabianofranz opened #371 "kubectl binary plugins"
# Feature Description
- One-line feature description (can be used as a release note): Plugins to allow extending the set of commands provided by the main `kubectl` binary.
- Primary contact (assignee): @fabianofranz
- Responsible SIGs: @kubernetes/sig-cli-feature-requests
- Design proposal link (community repo):
  - [Initial Proposal](https://github.com/kubernetes/community/blob/master/contributor

[2017-07-31 21:03] fabianofranz commented on #371
Initial support already added in 1.7 by https://github.com/kubernetes/kubernetes/pull/37499, and a couple subsequent PR's that fixed issues and added other minor features.

[2017-07-31 21:04] fabianofranz commented on #371
/sig cli

[2017-07-31 21:12] fabianofranz commented on #371
[Discussed and agreed](https://www.youtube.com/watch?v=dL-OTtkoEVw&t=2s) by the SIG-CLI group on July 19.

[2017-07-31 22:18] MrHohn opened #372 "GCE Cloud Provider: Ingress support for security policy"
# Feature Description
- One-line feature description (can be used as a release note): GCE Ingress support for security policy from Google Cloud Provider.
- Primary contact (assignee): @mrhohn
- Responsible SIGs: sig-network
- Design proposal link (community repo): TBD
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from

[2017-07-31 22:19] MrHohn commented on #372
/assign
/sig network

cc @mdelio

[2017-07-31 22:21] roberthbailey opened #373 "DaemonSet upgrade strategy: Start-then-kill"
# Feature Description
- One-line feature description (can be used as a release note): DaemonSet upgrades can be achieved via a start-then-kill update strategy
- Primary contact (assignee): @aaronlevy @diegs
- Responsible SIGs: @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-apps-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pul

[2017-08-01 00:12] saad-ali commented on #350
Correct. Both Nutanix and Rook https://github.com/kubernetes/features/issues/301 are pursuing Flex volumes, which will be out-of-tree and do not need to be tracked for the release.

I will keep both these feature bugs active for 1.8 until code freeze--in the unlikely case we need to fall back to in-tree volume plugin. At code freeze, we will close both of these issues and remove them from tracking

[2017-08-01 00:13] saad-ali commented on #351
Copying comment from https://github.com/kubernetes/features/issues/350:

Both Nutanix and Rook are pursuing Flex volumes, which will be out-of-tree and do not need to be tracked for the release.

I will keep both these feature bugs active for 1.8 until code freeze--in the unlikely case we need to fall back to in-tree volume plugin. At code freeze, we will close both of these issues and remove them

[2017-08-01 00:14] saad-ali commented on #301
Copying comment from https://github.com/kubernetes/features/issues/350:

Both Nutanix and Rook are pursuing Flex volumes, which will be out-of-tree and do not need to be tracked for the release.

I will keep both these feature bugs active for 1.8 until code freeze--in the unlikely case we need to fall back to in-tree volume plugin. At code freeze, we will close both of these issues and remove them

[2017-08-01 01:02] kokhang commented on #301
@saad-ali Sounds good. I am currently working on a Rook-flexvolume and will soon test with @verult WIP patch. Once i do this, i should be able to provide feedback or any road-blocker.

[2017-08-01 06:44] davidopp opened #374 "Scheduler policy can be read from ConfigMap"
# Feature Description
- One-line feature description (can be used as a release note): Allow users to configure scheduler policy (which predicates to enable, which priority functions to enable, weights of priority functions, etc.) using ConfigMap, as an alternative to [scheduler config file](https://github.com/kubernetes/community/blob/master/contributors/devel/scheduler.md#Modifying_policies)
- Pr

[2017-08-01 14:28] jdumars commented on #374
/sig scheduling

[2017-08-01 14:28] jdumars commented on #370
/sig azure

[2017-08-01 14:29] jdumars commented on #369
/sig node
/sig instrumentation

[2017-08-01 14:29] jdumars commented on #368
/sig node

[2017-08-01 14:30] jdumars commented on #355
/sig node

[2017-08-01 14:36] jdumars commented on #253
/sig node
/sig cli

[2017-08-01 16:32] saad-ali commented on #350
Discussed with @subodh01 offline:

Closing feature issue.

[2017-08-01 16:32] #350 closed

[2017-08-01 17:34] sjenning opened #375 "Add CPU Manager for pod cpuset assignment"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @sjenning, @ConnorDoyle
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/654
- Reviewer(s) - (for LGTM) @derekwaynecarr @vishh
- Approver (likely from SIG/area to which feature belongs):
- Feature target (which target

[2017-08-01 17:36] saad-ali commented on #168
Done. This feature is being promoted to stable in 1.8.

[2017-08-01 17:39] jdumars commented on #375
/sig node

[2017-08-01 18:11] saad-ali opened #376 "Add hostPath volume type"
# Feature Description
- One-line feature description (can be used as a release note): Extend hostPath volumes to prevent the "silent and implicit creation of directories on the host".
- Primary contact (assignee): @dixudx
- Responsible SIGs: /sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/pull/34058
- Reviewer(s) - (for LGTM) recommend having 2+ revie

[2017-08-01 18:12] saad-ali commented on #376
Implementation https://github.com/kubernetes/kubernetes/pull/46597

Storage-SIG work for 1.8 being tracked here: https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDlkTpCnp18icRAQqOE85C1T1r2gqJVck/edit#gid=85624274

[2017-08-01 18:17] verult opened #377 "Improve Flexvolume Deployment"
# Feature Description
- One-line feature description (can be used as a release note): Provides a way to deploy Flexvolume drivers using DaemonSet, and allows drivers to be discovered automatically on the fly, rather than only at kubelet or controller manager initialization.
- Primary contact (assignee): @verult
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (co

[2017-08-01 18:36] calebamiles opened #378 "support pod bootstrap "checkpointing" in the kubelet"
# Feature Description
- One-line feature description (can be used as a release note): support pod "checkpointing" in the kubelet for self hosting
- Primary contact (assignee): @timothysc
- Responsible SIGs: SIG Cluster Lifecycle, SIG Node
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/issues/49236
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least

[2017-08-01 18:41] calebamiles opened #379 "Add dynamic configuration to the node problem detector"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @ajitak
- Responsible SIGs: SIG Node
- Design proposal link (community repo): https://github.com/kubernetes/node-problem-detector
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies pre

[2017-08-01 20:04] ericchiang opened #380 "Rules review API: API for a user to know which actions they can perform"
# Feature Description
- One-line feature description (can be used as a release note): APIs for determining the actions a user can perform in the system.
- Primary contact (assignee): @xilabao, @ericchiang
- Responsible SIGs: @kubernetes/sig-auth-feature-requests
- Design proposal link (community repo): (@ericchiang will write one)
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least

[2017-08-01 20:05] #162 closed

[2017-08-01 20:05] pwittrock commented on #162
PodPreset is going to be moved to the service catalog incubator project.

[2017-08-01 20:05] ericchiang commented on #380
xref: https://github.com/kubernetes/kubernetes/issues/31292 (original issue)
xref: https://github.com/kubernetes/kubernetes/pull/48051 (PR)

[2017-08-01 20:40] ajitak commented on #379
/assign @fabioy

[2017-08-01 21:09] jessfraz opened #381 "AllowPrivilegeEscalation aka no_new_privs"
# Feature Description
- One-line feature description (can be used as a release note): AllowPrivilegeEscalation when false will ensure `execve` promises not to grant more privileges that the parent process.
- Primary contact (assignee): @jessfraz
- Responsible SIGs: sig-auth?
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/639/files
- Reviewer(s) - (for LGTM) r

[2017-08-01 21:30] ConnorDoyle commented on #375
@dchen1107 or @vishh -- could one of you add the v1.8 milestone?

[2017-08-01 21:31] ConnorDoyle commented on #375
Also the `stage/alpha` label please.

[2017-08-01 21:34] ConnorDoyle commented on #375
/assign @sjenning
/assign @ConnorDoyle

[2017-08-01 21:54] ConnorDoyle commented on #276
xref #375

[2017-08-02 00:16] ash2k commented on #95
Discovery returns correct information for CRs but REST mapper does not use it - https://github.com/kubernetes/kubernetes/issues/49948

[2017-08-02 05:14] dixudx commented on #376
/cc

[2017-08-02 07:11] tamalsaha commented on #376
/cc @aerokite

[2017-08-02 13:11] resouer commented on #374
@bsalamat May I ask what's the status of this feature? Can we make it in 1.8 or postponed?

[2017-08-02 14:37] jdumars commented on #381
/sig auth

[2017-08-02 18:14] bsalamat commented on #374
It is partly implemented and is available even in 1.7. Scheduler can read its policy config from a ConfigMap, however, it does not monitor changes to the ConfigMap. So, changes made to the ConfigMap after scheduler start-up won't be picked up and user has to manually restart the scheduler for the changes to be effective.

[2017-08-02 20:45] vkamra commented on #293
@jingxu97 has a proposal out at https://github.com/kubernetes/community/pull/855

[2017-08-02 20:57] jingxu97 commented on #293
Close this one in favor of feature kubernetes/features#363

[2017-08-02 20:57] #293 closed

[2017-08-02 20:59] jingxu97 commented on #293
@vkamra @ddysher @xingzhou please subscribe the new one. Thanks!

[2017-08-02 21:13] tamalsaha commented on #363
cc: @aerokite

[2017-08-02 23:16] kow3ns commented on #188
/close complete in https://github.com/kubernetes/kubernetes/issues/46669

[2017-08-03 03:58] dchen1107 commented on #358
@justinsb Where can I find kops design doc?

[2017-08-03 07:02] redbaron commented on #188
Isn't it implemented? https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#rolling-updates

[2017-08-03 13:10] idvoretskyi commented on #381
@jessfraz can you define the feature roadmap more precisely (under the "Feature target" section)?
Which release equals which stage?

Thanks.

[2017-08-03 13:11] idvoretskyi commented on #376
@saad-ali FYI - I've assigned this feature to you, as @dixudx is not a member of Kubernetes org.

[2017-08-03 13:14] idvoretskyi commented on #370
@jdumars can you mention GitHub ID of Khaled (or assign this feature directly to him)?

Also, please, describe in which stage (alpha/beta/stable) will this feature land in 1.8?

[2017-08-03 14:19] kow3ns commented on #188
yes

[2017-08-03 14:29] jessfraz commented on #381
Updated, since it was added to securityContext which is stable it will be stable

[2017-08-03 14:31] idvoretskyi commented on #381
@jessfraz thank you!

[2017-08-03 14:56] smarterclayton commented on #365
This work is part of the SLO improvements we have for kubernetes - helping us meet the requirements of much denser clusters.  The key goal for alpha is to prove that it will help us reach the next scale limit for Kubernetes, and will take several releases to reach that.

[2017-08-03 15:04] jdumars commented on #370
@khendiak

[2017-08-03 15:06] jdumars commented on #370
@idvoretskyi this step in the feature process is stable, but lays the groundwork for later integration.

[2017-08-03 15:19] jdumars commented on #286
Slotted for beta in 1.8

[2017-08-03 17:36] tallclair commented on #381
Not necessarily, we can add alpha fields to stable APIs now: https://github.com/kubernetes/community/pull/869

Not saying it needs to be alpha, but it should be stable based on merits other than the parent API.

[2017-08-03 17:43] jessfraz commented on #381
Oh ok, well crap did I do it wrong?

On Thu, Aug 3, 2017 at 1:36 PM, Tim Allclair (St. Clair) <
notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-08-03 18:25] tallclair commented on #381
Since the default doesn't change anything (IIRC) and this is a relatively small feature, I'm comfortable going straight to stable. I think the main thing to pay attention to is that that requires more thorough testing and documentation.

[2017-08-03 18:27] jessfraz commented on #381
Got it.

On Thu, Aug 3, 2017 at 2:25 PM, Tim Allclair (St. Clair) <
notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-08-04 00:24] bgrant0607 commented on #273
Ref https://github.com/kubernetes/kubernetes/issues/23211

[2017-08-04 01:07] k82cn opened #382 "Taint node by Condition"
# Feature Description
- One-line feature description (can be used as a release note): Represent node conditions that block scheduling using taints
- Primary contact (assignee): @k82cn
- Responsible SIGs: sig-scheduling
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/taint-node-by-condition.md
- Reviewer(s) - (for

[2017-08-04 01:08] k82cn commented on #382
xref https://github.com/kubernetes/kubernetes/issues/42001

[2017-08-04 01:08] derekwaynecarr commented on #275
@calebamiles -- i had updated the description text last week but forgot to update the label for 1.8, updated now as this is being done via sig-node.

[2017-08-04 02:09] k82cn commented on #382
@calebamiles , this one is also target to 1.8; the tasks are traced at kubernetes/kubernetes#42001 .

[2017-08-04 08:19] gmarek opened #383 "Redesign Event API"
# Feature Description
- One-line feature description (can be used as a release note): Add more structure to Event API and change deduplication logic so Events won't overload the cluster
- Primary contact (assignee): @gmarek
- Responsible SIGs: instrumentation
- KEP: [new-event-api-ga-graduation](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/383-new-event-api-ga-gr

[2017-08-04 16:52] smarterclayton opened #384 "Mark SPDY transport for exec/portforward/attach deprecated"
# Feature Description
- One-line feature description (can be used as a release note): We now have feature parity with websockets on all streaming protocols (exec/portforward/attach), and as SPDY itself is deprecated we should move clients down to supporting only a single streaming protocol in Kubernetes - websockets.  This serves as the deprecation notice for all SPDY transports that they will not

[2017-08-04 16:53] smarterclayton commented on #384
This is past the deadline but it's not adding functionality (except that we would track as bugs anyway), it's marking it deprecated clearly so users can know to switch.  For 1.8 we are committed to ensuring any gaps in streaming protocols are fixed and closed, and SPDY is considered deprecated.

[2017-08-04 16:54] smarterclayton commented on #384
Work that may be required includes ensuring Kubernetes first-party clients use websockets instead of SPDY

[2017-08-04 18:45] perotinus commented on #46
/unassign perotinus

I'm not working on deployments/replica sets at the moment.

[2017-08-05 21:27] jbeda commented on #379
The design proposal link doesn't actually point to a design proposal...

[2017-08-07 04:13] FengyunPan opened #385 "Resource Quota feature"
# Feature Description
Currently resourceQuotaController just support:
\- Pod, Service, ReplicationController, PersistentVolumeClaim, Secret, ConfigMap
Can we add codes to support the following type which is necessary for the products:
\- daemonsets, deployments, replicasets, jobs, statefulsets

- One-line feature description (can be used as a release note): Resource Quota
- Primary contact (assign

[2017-08-08 13:39] idvoretskyi commented on #117
@DirectXMan12 are you going to make a progress for 1.8 with this feature? I don't see any label and milestone updates.

[2017-08-08 14:01] idvoretskyi commented on #370
@jdumars unfortunately, @khenidak is not a member of Kubernetes org, so the feature can't be assigned to him on GitHub. Can you suggest someone from the org, who can shadow him with this role?

[2017-08-08 14:59] DirectXMan12 commented on #117
@idvoretskyi Is there a prow command to update milestone and label?  I don't have permissions to do it otherwise...

[2017-08-08 15:21] mwielgus opened #386 "Node Auto-Provisioning in Cluster Autoscaler"
# Feature Description
- One-line feature description (can be used as a release note): Automatically create a node pool/MIG/autoscaling group if none of the existing node groups can accommodate a pod.
- Primary contact (assignee): @mwielgus
- Responsible SIGs: sig-autoscaling
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-ar

[2017-08-08 15:39] jdumars commented on #370
/assign @brendandburns

[2017-08-08 15:45] MaciekPytel opened #387 "Resource overprovisioning in Cluster Autoscaler"
# Feature Description
- One-line feature description (can be used as a release note): Allow user to request Cluster Autoscaler to keep resources available for upcoming pods.
- Primary contact (assignee): @MaciekPytel
- Responsible SIGs: sig-autoscaling
- Design proposal link (community repo): https://github.com/kubernetes/autoscaler/issues/148
- Reviewer(s) - (for LGTM) recommend having 2+ reviewe

[2017-08-08 17:25] luxas commented on #117
@DirectXMan12 Not AFAIK. However, now I did it for you ;)

[2017-08-08 20:36] tonglil commented on #117
I was looking at this and the `metrics-server` repo to try to plan for how this may look, but wasn't able to quite figure out what is required / where to as a user to add custom metrics to the `metrics-server`.

I have an endpoint from _one_ of my pods (the master) at `/metrics` that shows the metric (along with others) that I want to scale (worker) pods on:
[code]

The HPA should "read" the metri

[2017-08-09 06:56] FengyunPan commented on #386
/cc

[2017-08-09 12:53] christianhuening commented on #43
I am trying to use api-server kubelet-client certificate creation as per the TLS Bootstrap guide. While the node join and certificate handshake works fine, it seems that the certificate does not get created correctly.
After the node joined the cluster I get a
```certificate is valid for system:node:<nodename>, not for <nodename>```
when trying to issue any command on a pod running on that node (i.

[2017-08-09 12:55] soltysh commented on #22
This come up during the discussion we've had today. The initial description mentions we want to promote this to GA in the next release (1.9). But there are no clear requirements in place for this to happen. Before we commit to an actual release I'd like us to define those requirements. Of top of my head there is:
1. SLO - we need to be able to define one, but for that tests are needed to be perfor

[2017-08-09 12:55] soltysh commented on #22
I've updated the milestone, since this was mentioned to be 1.8 beta feature.

[2017-08-09 12:59] idvoretskyi commented on #43
@christianhuening this is a feature development progress tracking issue, not intended for solving user-facing questions.

Please, open an issue at https://github.com/kubernetes/kubernetes/issues (or check if one has been opened before).

Thanks

[2017-08-09 13:52] idvoretskyi commented on #386
@mwielgus the feature submission deadline has passed (Aug 1). Please, submit a feature exception (https://github.com/kubernetes/features/blob/master/EXCEPTIONS.md) to have this feature present in release.

Removing 1.8 milestone before that.

[2017-08-09 13:53] idvoretskyi commented on #387
@MaciekPytel the feature submission deadline has passed (Aug 1). Please, submit a feature exception (https://github.com/kubernetes/features/blob/master/EXCEPTIONS.md) to have this feature present in the release.

Removing 1.8 milestone before that.

[2017-08-09 13:54] idvoretskyi commented on #382
@k82cn the feature submission deadline has passed (Aug 1). Please, submit a feature exception (https://github.com/kubernetes/features/blob/master/EXCEPTIONS.md) to have this feature present in 1.8 release.

[2017-08-09 13:55] idvoretskyi commented on #383
@gmarek the feature submission deadline has passed (Aug 1). Please, submit a feature exception (https://github.com/kubernetes/features/blob/master/EXCEPTIONS.md) to have this feature present in 1.8 release.

[2017-08-09 14:48] mwielgus commented on #386
@idvoretskyi
The process that you linked is for features that crossed feature complete deadline and so affect the release and testing process. The slip here doesn't affect any release process as feature complete deadline is 1 month from now.

[2017-08-09 14:50] mwielgus commented on #387
@idvoretskyi
The exception that you linked is for features that crossed feature complete deadline and so affect the release and testing process. The slip here doesn't affect any release process as feature complete deadline is 1 month from now.

[2017-08-09 14:56] idvoretskyi commented on #387
@mwielgus feature freeze has happened more than a week ago - https://github.com/kubernetes/features/blob/master/release-1.8/release-1.8.md.

[2017-08-09 15:40] mwielgus commented on #387
I'm just saying that the exception process which you are suggesting is not for the purpose of feature repo tracking and the date you are referring to.
"Exceptions to milestone Feature Complete dates" - Feature Complete date has not been reached, so, by definition, this page is not applicable.
Please provide the correct exception process if you want me to follow it.

[2017-08-09 16:02] idvoretskyi commented on #387
@mwielgus thanks for mentioning - description has to be fixed and updated. cc @kubernetes/sig-release-members

Anyway, please, proceed with this procedure for an exception.

[2017-08-09 16:16] mwielgus commented on #387
Would a SIG-lead approval be enough? I see no point in spamming release czar and
kubernetes-milestone-burndown@googlegroups.com

[2017-08-09 19:08] ajitak commented on #379
My design proposal was based on the assumption that NPD is running in standalone mode. I checked with @Random-Liu and looks like both @Random-Liu and @dchen1107 are leaning towards using NPD in daemon-set mode. As per offline discussion with @Random-Liu, I am deferring design proposal for running NPD in daemonset mode and integrating with config map to @Random-Liu.

[2017-08-09 20:20] tallclair commented on #22
I agree with the need to define the requirements to get this to GA. However, I disagree that filters should be a requirement without some specific real-world data (i.e. customers asking for this with a specific use case). From what I've seen so far, the policy can cover 90% of the uses for filters. Also, I think audit filters can rollout out after advanced auditing launches to GA.

[2017-08-09 21:16] apsinha commented on #2
@erictune will RBAC be default in 1.8 clusters onwards as it moves to stable?

[2017-08-09 23:20] davidopp commented on #2
@cjcullen

[2017-08-10 06:26] sttts commented on #22
2) The multi-apiserver scenario including fereration should at least be sketched out such that we know to have a way forward later. In fact, I would like to see that even now with beta.
3) +1 that filters can be added into v1 in a later release.

[2017-08-10 15:36] crassirostris commented on #22
I created an issue earlier to have a place to discuss it: https://github.com/kubernetes/kubernetes/issues/50076

[2017-08-10 17:51] RenaudWasTaken commented on #368
## Progress Tracker

- [ ] Alpha
    - [ ] Design Approval
        - [ ] Device Plugin Design Proposal: kubernetes/community#695
        - [ ] Naming Devices proposal: kubernetes/community#844
    - [ ] Write (code + tests + docs)
        - [ ] Protobuf API: kubernetes/kubernetes#49342
        - [ ] Protobuf generation scripts: kubernetes/kubernetes#50401
        - [ ] Protobuf verification script

[2017-08-10 19:10] jduncan-rva commented on #213
@krmayankk is this still on your radar?

[2017-08-11 05:14] krmayankk commented on #213
@jduncan-rva yes the proposal is already out. I have some review comments which i will address. I should have a PR by next week.

[2017-08-11 11:42] gmarek commented on #382
@idvoretskyi - it's not appropriate exception template. The feature will be ready in time, and filing an exception for filing a feature description is not covered there.

[2017-08-11 14:30] yastij commented on #372
@MrHohn - any related issues created on the k8s repo ?

[2017-08-11 15:34] fabiand commented on #368
@RenaudWasTaken should the resource class design also be part of this tracker?

[2017-08-11 19:05] RenaudWasTaken commented on #368
@fabiand the resource class design is a beta (1.9 and up) feature :)
My progress tracker is designed to track all the alpha (1.8) features for now.
I'll update it later once we agree on the feature we want to see in beta

[2017-08-11 22:41] ericchiang commented on #2
@apsinha when we tried to turn on RBAC in kube-up, that change was reverted due to concerns around backward compatibility. Turning on RBAC means no API access by default, and that breaks any tutorials or instructions that target old clusters which historically haven't turned on API authorization.

We're working with groups like SIG apps to get more apps to ship with RBAC profiles, and many install

[2017-08-11 22:46] philips commented on #63
@idvoretskyi Someone needs to do the work to make APIs take an image type field or content-type.

[2017-08-13 14:13] jhorwit2 commented on #88
Should https://github.com/kubernetes/kubernetes/issues/49308 be considered a blocker for beta? It's pretty important to be able to reference what zone a node is in.

[2017-08-14 11:02] idvoretskyi commented on #2
@ericchiang that means - RBAC won't be enabled by default in 1.8, right?

[2017-08-14 14:00] luxas commented on #2
@ericchiang What about enabling RBAC by default but disabling it in the cases where you have to?
There is a pain threshold when enabling it, but I think it's worse to not enable this in the future.
There are easy commands to effectively turn it off but still have it enabled on cluster-level.
That is the approach I would prefer; default on, document how to make a permissive binding for workloads ru

[2017-08-14 14:09] liggitt commented on #2
It's on by default in some deployments (gke/gce, kubeadm). It should continue to be up to individual deployments to enable.

[2017-08-14 14:34] luxas commented on #267
@jcbsmpsn Can you please update this feature's status for v1.8?
Is beta targeted or will this be still in alpha?

[2017-08-14 14:35] luxas commented on #266
@jcbsmpsn Can you please update this feature's status for v1.8?
AFAIK, beta is targeted, right?

[2017-08-14 15:36] erictune commented on #2
Supposed we made RBAC on by default.  What would the instructions look that
we would give users who wanted to simulate the old behavior for backwards
compatibility reasons.

Is it really just as simple as this?:

#!/bin/bash
# Grants cluster-admin permissions to all current service accounts, to
simulate old pre-RBAC behavior.
#
nses=$(kubectl get namespaces -o name | cut -f 2 -d "/")
for ns in $ns

[2017-08-14 17:32] idvoretskyi commented on #368
@vishh @kubernetes/sig-node-feature-requests unfortunately, @jiayingz can't be assigned to the feature as he is not a member of Kubernetes org. Can someone shadow him in this role?

[2017-08-14 17:32] MrHohn commented on #372
@yastij There isn't yet. A relevant discussion is on https://github.com/kubernetes/ingress/issues/243.

[2017-08-14 18:32] idvoretskyi commented on #368
Thanks!

On Mon, Aug 14, 2017, 9:09 PM Vish Kannan <notifications@github.com> wrote:

[2017-08-15 13:38] luxas commented on #357
@kubernetes/sig-cluster-lifecycle-feature-requests I moved this to `next-milestone` as no code for this is shipping in v1.8, only design

[2017-08-15 15:43] nikhita commented on #95
Proposal for SubResources of CustomResources: https://github.com/kubernetes/community/pull/913 :tada:

[2017-08-16 14:18] jdumars commented on #382
@k82cn @gmarek it appears that this feature has been in progress for some time, but the feature repo issue was just filed late.  Is that correct?   In any case, we need you to complete the one-line description of the feature and add to the release notes draft so the user community can appreciate the great work you've done.

[2017-08-16 14:21] jdumars commented on #384
@smarterclayton thanks for providing a solid one-line description.  I'm trying to get a feel for why some feature submissions came late.  And, this is only in the interest of making our release process better next time.  I assume that this feature has been in-progress for a while, and it was simply a missed step to get it into the features repo?

[2017-08-16 14:24] jdumars commented on #383
@gmarek as you probably saw in the other feature comments, I am trying to understand how some features didn't get into the features repo before the deadline.  This is only for the purpose of improving our release process and notifications for next time, not for blaming or pointing fingers.   We're also trying to understand if there was prior work done on the feature, or if it was created after the

[2017-08-16 14:30] jdumars commented on #386
@mwielgus I'm sorry if the process was not as clear as it could be.  Just so we're all on the same page, **the "features freeze" is where SIGs have declared their intent to deliver a specific increment of value into the project**.  It is not a coding activity, it's a product management one.  It helps the release team understand if what the SIG is creating is duplicated elsewhere, what impact it wi

[2017-08-16 14:36] jdumars commented on #387
@mwielgus I wrote about the intent of the deadline in #386 and it applies here as well.  We're going to work on refining these policies as well as explain why they matter to the health of the project.  The exception policy is out-of-date, but is still trying to codify why feature definitions need to be provided in an expected timeframe.  If you're a regular member of the SIG, and the rest of the g

[2017-08-16 15:22] mwielgus commented on #387
@jdumars
I will keep the discussion here.
So to give you more background on this particular feature. It was requested some time ago, the initial design was done about 2 months ago but we weren't sure whether and when we would like it in as it makes the already complex internals of cluster autoscaler even more complex.
Being in a split mind we finally decided to put this feature into the features r

[2017-08-16 16:07] gmarek commented on #382
@jdumars - sure, this makes sense. Where is the release notes draft that we should add it to?

[2017-08-16 16:12] gmarek commented on #383
Yup, there's quite some work done on this, with (big) design doc shared with kubernetes-dev and in-depth discussion on SIG scale. For this we'll probably make it disabled by default, as there's not enough time to let it soak. Is it possible to have a 'quiet' release for things like that? @jdumars

[2017-08-16 17:38] jdumars commented on #387
I think we need to decide on timing in the future.  I am not going to speak for SIG PM, just myself, and my opinionated opinion.  The purpose of the features repo is to track deliverable value.  That is the point where initial design work is done, and someone is ready to begin coding.  The PM process provides important program-level oversight of the collective value presented to the customer.  Wit

[2017-08-16 17:45] jdumars commented on #382
@gmarek this file https://github.com/kubernetes/features/blob/master/release-1.8/release_notes_draft.md

Thanks so much!

[2017-08-16 17:47] jdumars commented on #383
@gmarek that's an interesting question.  My personal opinion is to provide as much transparency as possible, so we maintain a bond of trust with our user community.  Being as you get to write the release notes, you can add something short there about it.  And, thanks for clarifying the feature itself.

[2017-08-16 18:25] smarterclayton commented on #384
This is more of an announcement than a feature.  It's documenting that we
are starting deprecation, which should be in public documentation and
impacts end clients.  But it doesn't involve implementation in code.  The
sig had mostly agreed to deprecate it, but it didn't get added to the repo
until after the deadline.

On Wed, Aug 16, 2017 at 10:21 AM, Jaice Singer DuMars <
notifications@github.com

[2017-08-16 21:04] countspongebob commented on #383
Personal perspective on this, largely repeating comments I've made before. But, as this is a case in point...

- SIG PM involvement and feature submissions have been functionally optional, with SIG PM not empowered to actually keep things out of a release.
- There is continued confusion over what is a feature. I echo @jbeda in calling for these to be renamed "efforts". The implication would be 100

[2017-08-17 05:00] k82cn commented on #382
thanks; I'll follow up to draft a release note.

[2017-08-17 17:20] pwittrock commented on #277
@verb Is this still targeted for 1.8?

[2017-08-17 17:20] pwittrock commented on #371
@fabianofranz Is there anything worth adding to the release notes for 1.8 on this?

[2017-08-17 17:23] pwittrock commented on #384
@smarterclayton Do we have an item in the release notes draft for this?  Announcement about draft release notes [here](https://groups.google.com/forum/#!searchin/kubernetes-dev/%5BACTION$20REQUIRED%5D$20Release$20notes$20first$20draft$20due$20tomorrow%7Csort:relevance/kubernetes-dev/sEP1YRWBnEk/tYWnDAKfBwAJ)

[2017-08-18 07:34] resouer commented on #374
Oh, I think the PR can be tracked is: https://github.com/kubernetes/kubernetes/pull/44805

[2017-08-18 11:08] verb commented on #277
@pwittrock No, let's bump to 1.9

[2017-08-18 15:40] idvoretskyi commented on #383
@jdumars @countspongebob @gmarek the main point to discuss here - is about the formal dates and deadlines, and what will happen if one will avoid them. We have agreed that the feature freeze for 1.8 (https://github.com/kubernetes/features/blob/master/release-1.8/release-1.8.md) is August 1, so all the features have to be submitted to the features repo before this date.

If people, responsible for

[2017-08-18 15:43] idvoretskyi commented on #383
@countspongebob

SIG PM is not empowered, but [release team](https://github.com/kubernetes/features/blob/master/release-1.8/release_team.md) is. SIG PM is responsible for managing the features on the high level, so we would be able to provide release team with the clearest and transparent information about the feature.

[2017-08-18 15:50] idvoretskyi commented on #387
@mwielgus sorry about the delay, I'm good with your position. As @jdumars has mentioned - at the release team we mostly require transparency in a process from all parties. We have set a deadline for the features to be submitted for Kubernetes 1.8, and specifically this feature has been submitted after the deadline, so we would like to understand the reason. Based on your comments above - the reaso

[2017-08-18 20:55] gmarek commented on #383
@idvoretskyi - IIUC the exception process is a SIG-PM thing. I haven't heard complains from release team about developing features that are not enabled and don't impact current behavior. I'm happy to discuss it as soon as any doubts appear.

[2017-08-18 21:07] gmarek commented on #383
Also note that there's not clear what constitutes a 'feature' and where's the border between new feature and 'improvement' that doesn't need a feature repo issue.

Slight OT, but related to shipping features - it was widely acknowledged that @kubernetes/sig-scalability-misc have power to block features which cause performance degradation bad enough to make Kubernetes clusters break our performance

[2017-08-21 08:09] k82cn commented on #382
xref https://github.com/kubernetes/features/pull/398

[2017-08-21 15:53] fabianofranz commented on #371
@pwittrock not for 1.8 since the most important things already got release notes in prior releases. We'll likely have more notes for upcoming releases, while plugins progresses from alpha.

[2017-08-22 15:12] danpaik commented on #188
@kow3ns - what is being done in 1.8?

[2017-08-22 15:27] kow3ns commented on #188
@danpaik This should be closed.

[2017-08-22 15:38] danpaik commented on #188
ok thx!

[2017-08-22 16:36] danpaik commented on #351
for sig-apps it is mostly testing w/ databases + raw block storage to see if we see the intended benefits?

[2017-08-22 17:02] mtanino commented on #351
@danpaik @erictune
I agree on above.

@erinboyd
Anything else?

[2017-08-22 17:14] matthewceroni commented on #168
I see this is support on the PV via an annotation, but what about when using dynamic provisioning?

I attempted to add the annotation to the volumeClaimTemplate but that did not see to work.

[code]

FYI: This results in an EBS volume (when rendered via helm)

[2017-08-22 17:59] childsb commented on #278
this has been discussed and the feature approved during sig-storage calls and 1-off designs.

[2017-08-22 17:59] saad-ali commented on #278
sig-storage strongly supports this feature. We really need this to get in for 1.8.

[2017-08-22 19:02] erictune commented on #351
I'm sure SIG-Apps has the necessary experience to advise on how to adapt existing database examples/charts to use the new volume type.  Looking at MySQL, it looks like it won't be trivial: you need a separate step to initialize the block device, vs serving from it.

I agree that raw block access might pose some security issues, but I'm not sure SIG-Apps has the necessary expertise to evaluate secu

[2017-08-23 08:29] guangxuli commented on #386
/cc

[2017-08-23 08:56] jsafrane commented on #168
@matthewceroni, in 1.8 we plan to add mountOptions to `storageClass.parameters`, see https://github.com/kubernetes/community/pull/771

[2017-08-23 09:19] k82cn commented on #382
Should we add 1.8 milestone ?

[2017-08-23 17:07] kow3ns commented on #351
@etune I don't think it will be a big win for most OSS storage applications, but it will offer a migration path for users with custom or legacy applications to move their workloads onto Kuberentes.

1. None of Postgres, Cassandra, MongoDB, Couchbase, CouchDB, Riak, ElasticSearch, Solr, Kafka, Redis,or HDFS, or HBase support the use raw block devices.
1. Of the RDBMS systems that do (MySQL or Maria

[2017-08-23 17:39] chakri-nelluri commented on #93
/close

[2017-08-23 17:39] #93 closed

[2017-08-23 19:53] saad-ali commented on #301
Closing this tracking issue, per notice above, as we are approaching code freeze

[2017-08-23 19:53] #301 closed

[2017-08-23 20:00] luxas commented on #93
@chakri-nelluri Where is this feature or its successor now tracked?

[2017-08-24 01:09] diegs commented on #373
Design doc: https://github.com/kubernetes/community/pull/977

[2017-08-24 13:39] kincl commented on #213
@krmayankk any updates?

[2017-08-25 18:55] cmluciano commented on #367
code complete in https://github.com/kubernetes/kubernetes/pull/50033.

TODO:
- [ ] More e2es
- [ ] Docs

[2017-08-26 08:37] luxas commented on #382
@k82cn alpha or beta targeted for v1.8?

[2017-08-26 09:08] k82cn commented on #382
alpha release target is 1.8 :).

[2017-08-26 09:53] luxas commented on #382
Perfect, thank you!

[2017-08-27 04:12] liggitt commented on #279
work to limit node control over labels/taints/addresses will continue in 1.9 timeframe - proposal at https://github.com/kubernetes/community/pull/911

[2017-08-28 03:01] xueyihan opened #403 "api2 and api3 problem"
I used API=2 to set a key named qwe and it worked fine when i used API=2 to get the key
But I can't get the key by API=3

here is the command
etcdctl --endpoints=http://etcd:2379 set qwe 1
./etcdctl --endpoints=http://etcd:2379 get qwe
ETCDCTL_API=3 etcdctl --endpoints=http://etcd:2379 get qwe   (can't find the key)
why!

[2017-08-28 03:02] krmayankk commented on #213
@kincl the proposal is already out and nearing lgtm. We are waiting one more reviewer to review. I was out last week on vacation. I should have the actual PR this week

[2017-08-28 03:05] #403 closed

[2017-08-29 02:06] doprdele commented on #269
Any chance this will make it into 1.8? Also I can't see the design document. Was it removed from gdocs?

[2017-08-29 03:55] zhangxiaoyu-zidif commented on #93
@luxas
After I check this feature. It seems that these two feature are both abandoned.

[2017-08-29 12:37] idvoretskyi commented on #384
@smarterclayton so, can you confirm that the actual changes will land in 1.8? If not, please, update the milestone (assigning the "next-milestone").

[2017-08-29 13:58] k82cn commented on #269
@doprdele , we have an incubator project for this feature at https://github.com/kubernetes-incubator/kube-arbitrator . It's built out of core.

[2017-08-29 17:05] chakri-nelluri commented on #93
Hi @luxas this will be superseded by CSI. https://github.com/container-storage-interface/spec

[2017-08-30 01:29] smarterclayton commented on #384
We can mark it deprecated without having a replacement.  There's no harm in
giving users lead time to switch, even if all elements aren't delivered.

On Tue, Aug 29, 2017 at 8:37 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-08-30 04:05] krmayankk commented on #213
Here is the proposal under review https://github.com/kubernetes/community/pull/756

[2017-08-30 11:28] soltysh commented on #22
+1

I'm guessing we have a clear reqs for GA, in that case. That is:

1. SLO
2. multi-apiserver + federation covered

[2017-08-31 02:24] praving55 opened #407 "API for dumping current master node configuration"
# Feature Description
- API for dumping current master node configuration
- Primary contact (assignee): @roberthbailey
- Responsible SIGs: @kubernetes/sig-cluster-lifecycle-feature-requests and @kubernetes/sig-api-machinery-feature-requests
- Design proposal link (community repo): Yet to discuss and design
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS

[2017-08-31 13:22] deads2k commented on #407
I don't think that we can reasonably pursue this until we have a proper versioned configuration API.  We've been dancing around it for a while.  The `kube-proxy` demonstrated that it can be done, but will take effort do it.  I don't want to do this out of order and end up with unsupportable endpoints.

@kubernetes/sig-api-machinery-feature-requests @liggitt @sttts

[2017-08-31 13:38] roberthbailey commented on #407
@praving55 - are you looking for the apiserver configuration or the configuration of the entire cluster control plane? I don't want to think about "the master node" here, because what runs on the master is different in each environment. Instead, you should be able to see the configuration for each component separately, and iterate through the control plane components (scheduler, controller manager

[2017-08-31 14:33] idvoretskyi commented on #371
@fabianofranz should this feature still be on track for 1.8?

[2017-08-31 19:22] destijl commented on #407
I talked to pravin and suggested he file this to get the discussion going about the best approach.

The motivation is to have a way to evaluate the security of a cluster against [benchmarks like CIS](https://www.cisecurity.org/benchmark/kubernetes/) without giving away highly-privileged access to third parties. Most of the CIS benchmark measurements are currently phrased assuming you can SSH to a

[2017-08-31 22:33] praving55 commented on #407
@roberthbailey - If we can query the individual components - that is even better. The reason I specified master node is to cover those components first - apiserver, controller-manager, scheduler, and etcd.

So, something like below should be good.
[code]

[2017-08-31 23:00] ericchiang commented on #407
What @deads2k is referring to is the component config proposal that's been the long term plan for API based configuration (https://github.com/kubernetes/kubernetes/issues/12245). This comes up a lot when users want to dynamically reconfigure the API server's auth providers or change other flags on the fly.

Even if the configuration API is going to be read-only, we'll still have to agree on an API

[2017-08-31 23:26] lavalamp commented on #407
I am also (like @deads2k) against doing something in this area that isn't the moral equivalent of getting config out of flags and into configmaps.

[2017-09-01 14:00] luxas commented on #93
@chakri-nelluri So https://github.com/kubernetes/features/issues/178 is the successor, right?

[2017-09-01 14:01] luxas commented on #178
@saad-ali Are you targeting alpha for v1.9? Is that information up-to-date?
Thanks!

[2017-09-01 14:46] luxas commented on #378
@roberthbailey this seems to miss the v1.8 target? Should we move to next-milestone?

[2017-09-01 14:48] luxas commented on #356
This will stay in alpha for one more release, but has seen significant improvement since v1.7
It is next to beta-level quality, but we still want to collect a little bit more feedback before graduating it.

[2017-09-01 14:52] luxas commented on #288
Yes, as gcr.io is the repo we're using for kubernetes release artifacts.

No unfortunately not; as that would be a huge, backwards-incompatible change and would result in lots of other complications.

I'm told the GCR team is still working on this :smile:; but due to that it is not ready yet, this stays in alpha :(
On the good side; significant improvements have been made during the cycle to make

[2017-09-01 14:53] luxas commented on #18
Moving to next-milestone due to lack of activity here

[2017-09-01 14:58] luxas commented on #88
We have done great progress on this effort in the v1.8 cycle, but due to the vast amount of tasks yet to be done and dependencies on other efforts, this has to stay in alpha for one or more cycles yet.

Relevant video discussion: https://youtu.be/XwhxuGoK0Ok
On the good side; we're also bootstrapping a dedicated WG for this effort instead of having just a few people syncing every now and then inst

[2017-09-01 14:59] chakri-nelluri commented on #93
@luxas. Yes #178 is the successor. Thanks

[2017-09-01 16:30] roberthbailey commented on #378
Yes.

[2017-09-01 22:31] luxas commented on #373
Will this feature make v1.8?

[2017-09-01 22:43] roberthbailey commented on #407
The doc is at https://docs.google.com/document/d/1arP4T9Qkp2SovlJZ_y790sBeiWXDO6SG10pZ_UUU-Lc/edit#

[2017-09-01 23:47] luxas commented on #130
All the checkboxes above are checked :sunglasses:, ready for beta!
Thanks @mattmoyer @wanghaoran1988!

[2017-09-01 23:59] lavalamp commented on #263
I think this issue can be closed at this point. Only [one issue](https://github.com/kubernetes/kubernetes/pull/49495) turned up at launch, and it affected few people. I'll consider that a success. :)

[2017-09-02 00:03] luxas commented on #263
Going to GA in v1.8?

[2017-09-02 00:07] lavalamp commented on #263
I think we would have needed to graduate the API for that, so probably not
at this point. Definitely for 1.9.

On Fri, Sep 1, 2017 at 5:03 PM, Lucas Käldström <notifications@github.com>
wrote:

[2017-09-02 01:39] praving55 commented on #407
@roberthbailey - I don't have permissions to look at it. Can you add me to it?

[2017-09-02 20:38] luxas commented on #263
Reopened, added the right labels and retargeted for v1.9
Also edited the first comment to reflect the v1.9 -> GA target

[2017-09-03 17:39] wlan0 commented on #88
@luxas Here's the latest update on the feature progress

Feature Description:
Support out-of-tree and out-of-process cloud providers, a.k.a pluggable cloud providers.

Feature Progress:
We have completed all of the major refactoring required to support this feature and have a working CCM.

@rrati merged the persistent volume refactoring changes recently, and that was the last major change made - h

[2017-09-03 19:26] andrewsykim commented on #88
Great work on this effort everyone!

@wlan0 please add https://github.com/digitalocean/digitalocean-cloud-controller-manager for DigitalOcean. It's currently v1.7 compatible and will be v1.8 compatible shortly after v1.8 release.

[2017-09-04 15:52] luxas opened #415 "Self-hosting support in kubeadm"
# Feature Description
- One-line feature description (can be used as a release note): A new way of deploying the control plane; self-hosted, is added to kubeadm. There are two modes of storing certificates: on-disk (using `hostPath`) and using Secrets.
- Primary contact (assignee): @luxas @timothysc
- Responsible SIGs: SIG-cluster-lifecycle
- Design proposal link (community repo):
   - https://git

[2017-09-04 15:54] luxas commented on #415
I now realized that the scope of https://github.com/kubernetes/features/issues/296 and its relation to this issue had to be clarified. Self-hosting is not required for upgrades; but make them easier.
I saw this it is needed to split these into two separate issues

[2017-09-04 19:55] fabianofranz commented on #371
@idvoretskyi yes, it's still on track and all code PR's merged before code freeze. I just opened a [docs PR](https://github.com/kubernetes/kubernetes.github.io/pull/5294).

[2017-09-05 05:35] roberthbailey commented on #407
If you try to open the doc there should be a button to request permission. @mikedanese owns the doc and will have to approve your request.

[2017-09-05 14:08] idvoretskyi commented on #71
@quinton-hoole any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:09] idvoretskyi commented on #352
@wongma7 @saad-ali any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:09] idvoretskyi commented on #349
@gnufied any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:10] idvoretskyi commented on #177
@saad-ali any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:11] idvoretskyi commented on #121
@msau42 @vishh any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:12] idvoretskyi commented on #298
@clamoriniere1A @soltysh any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:12] idvoretskyi commented on #265
@quinton-hoole @kubernetes/sig-network-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:13] idvoretskyi commented on #259
@irfanurrehman @kubernetes/sig-federation-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:14] idvoretskyi commented on #257
@irfanurrehman @kubernetes/sig-federation-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:14] idvoretskyi commented on #292
@feiskyer any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:15] idvoretskyi commented on #135
@pweil- any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:15] idvoretskyi commented on #166
@gmarek @davidopp @kubernetes/sig-scheduling-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:16] idvoretskyi commented on #362
@jingxu97 @vishh @kubernetes/sig-storage-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:17] idvoretskyi commented on #361
@jingxu97 @kubernetes/sig-storage-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:21] idvoretskyi commented on #261
@quinton-hoole @kubernetes/sig-federation-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:21] idvoretskyi commented on #258
@quinton-hoole @kubernetes/sig-federation-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:22] idvoretskyi commented on #366
@cmluciano @kubernetes/sig-network-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:23] gmarek commented on #166
@k82cn

[2017-09-05 14:24] idvoretskyi commented on #268
@bsalamat @kubernetes/sig-node-feature-requests @kubernetes/sig-scheduling-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:25] idvoretskyi commented on #360
@justinsb @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-aws-misc any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:25] rootfs commented on #177
cc @tsmetana

[2017-09-05 14:26] gnufied commented on #349
Yes has been implemented for 1.8. We will open a follow up documentation PR for this.  https://github.com/kubernetes/kubernetes/pull/50036

[2017-09-05 14:26] idvoretskyi commented on #359
@justinsb @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-aws-misc any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:27] idvoretskyi commented on #375
@sjenning @kubernetes/sig-cluster-lifecycle-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:28] idvoretskyi commented on #276
@ConnorDoyle @sjenning @kubernetes/sig-node-feature-requests any updates for 1.8? Is this feature still on track for the release?

[2017-09-05 14:33] clamoriniere1A commented on #298
@idvoretskyi #48075 and #51153 that implement this feature was merged 3days ago.

[2017-09-05 14:42] sjenning commented on #276
@idvoretskyi yes, there were a series of PRs that were merged to enable this

1/6 https://github.com/kubernetes/kubernetes/pull/49186 (closed, broken out into following PRs)
2/6 https://github.com/kubernetes/kubernetes/pull/51132
3/6 https://github.com/kubernetes/kubernetes/pull/51140
4/6 https://github.com/kubernetes/kubernetes/pull/51357
5/6 https://github.com/kubernetes/kubernetes/pull/51180
6/

[2017-09-05 14:49] ConnorDoyle commented on #375
Yes, the alpha version of the feature merged over the weekend, examples and node e2e are in review.

[2017-09-05 15:23] irfanurrehman commented on #257
Yes the feature is partially merged (controller implemented in https://github.com/kubernetes/kubernetes/pull/45993) and usable on master. Some additional stuff is needed, for the feature to be complete for alpha, which is in https://github.com/kubernetes/kubernetes/pull/49950 (which is already lgtmed, waiting for an approve).

[2017-09-05 15:26] irfanurrehman commented on #259
This has been, put on a lower priority based on a recent re-prioritisation of tasks in sig-federation. I guess this can be put out of the 1.8 milestone as of now.

[2017-09-05 16:03] diegs commented on #373
@luxas no it was decided in the last sig meeting that we would not push it into 1.8 since checkpointing wasn't going to make it.

[2017-09-05 16:42] msau42 commented on #121
We were not able to get raw block support in 1.8 due to dependencies on the general block feature.  So for 1.8, we have mostly worked on bugs, testing, and design for the next release.

[2017-09-05 17:01] idvoretskyi commented on #121
@msau42 ok, removing the feature from a milestone.

[2017-09-05 17:02] idvoretskyi commented on #259
@irfanurrehman thanks

[2017-09-05 17:22] wongma7 commented on #352
@idvoretskyi yes, code is done and docs need tech review https://github.com/kubernetes/kubernetes.github.io/pull/5171

[2017-09-05 17:25] cmluciano commented on #366
Yes PR is approved and is currently running through the CI tests https://github.com/kubernetes/kubernetes/pull/51351

[2017-09-05 17:34] ConnorDoyle commented on #76
OIR is deprecated as of v1.8 in favor of Extended Resources (this is in the release notes draft already for v1.8).

[2017-09-05 17:34] ConnorDoyle commented on #375
/stage alpha

[2017-09-05 18:51] bsalamat commented on #268
@idvoretskyi Priority is already merged. Preemption will most probably be merged in 1.8. Of course, both are alpha in 1.8.

[2017-09-05 19:10] jingxu97 commented on #362
This feature is on track for the release. #43607 tracks all the changes. But this is still Alpha feature.

[2017-09-05 19:11] jingxu97 commented on #361
This feature is on track for 1.8. Details is here #43607

[2017-09-05 21:36] hectoralicea commented on #95
Please forgive my mis-post, but I came to this page from some other kubernetes page thinking that kubernetes included a micro services framework, beyond just for managing third party container resources.

Redhat markets OpenShift kubernetes as a micro-services platform, but yet, I can't seem to find this feature.  I'm looking for an application server like thing, to host my own suite of very light

[2017-09-05 21:44] ericchiang commented on #95
@hectoralicea this repo is used for planning features work by Kubernetes developers.

For general questions like this, please post to the Kubernetes user groups. They're usually much more helpful for this kind of high level discussion :)

See https://groups.google.com/forum/#!forum/kubernetes-users, http://slack.k8s.io/, or Stack Overflow.

[2017-09-06 08:42] Crazykev commented on #88
Thanks for all your great work here!

@spacexnice and myself(@Crazykev) are working on Aliyun(AKA Alibaba Cloud) specified cloud provider. It's already on our v1.7.2 release, and will be updated with upstream after v1.8 released.

@luxas @wlan0 Is this WG already bootstrapped or any regular meetings? We'd like to join disscussion and see what we can do here.

[2017-09-06 17:34] calebamiles commented on #379
@ajitak has this feature landed for 1.8, or should this issue be moved to the 1.9 milestone?

**cc: @kubernetes/sig-node-feature-requests**

[2017-09-06 18:09] luxas commented on #88
Everybody that is interested in this effort; join https://groups.google.com/forum/#!forum/kubernetes-wg-cloud-provider and we'll take it from there

[2017-09-07 17:15] pwittrock commented on #384
@smarterclayton Sorry I am not sure I understood your last comment.  Should this be moved out of 1.8 or closed?

[2017-09-07 17:17] pwittrock commented on #371
@fabianofranz Excellent.  Once those are merged should we mark this as closed, and open a new one for 1.9?

[2017-09-07 18:05] childsb commented on #177
@idvoretskyi this is still on track: https://github.com/kubernetes-incubator/external-storage/pull/331

[2017-09-07 19:34] smarterclayton commented on #384
We should mark the transport deprecated for exec and attach in 1.8 at a
minimum.  User should switch to web sockets.  Portforward will require a
new backend impl (what was implemented previously is not sufficient to
handle multiple sockets), so we cannot mark it deprecated until that new
backend gets implemented in 1.9

On Thu, Sep 7, 2017 at 1:17 PM, Phillip Wittrock <notifications@github.com>
wr

[2017-09-07 20:57] davidopp commented on #382
Is the work for this to go to alpha finished? I couldn't quite figure it out from reading https://github.com/kubernetes/kubernetes/issues/42001

[2017-09-07 20:58] davidopp commented on #166
@k82cn can you please write e2e tests for this?

[2017-09-07 20:59] davidopp commented on #166
@gmarek can you confirm this is ready for Beta? And you feel it is safe to enable by default (switch the NodeController path from using status for eviction to using taints for eviction)?

[2017-09-07 20:59] davidopp commented on #166
If it does not have e2e tests I do not think we should enable it...

[2017-09-07 23:18] praving55 commented on #407
@mikedanese I requested for permissions. Please approve.

[2017-09-08 09:50] soltysh commented on #298
@kow3ns there are several reasons this went straight to v1 and not beta or alike. First of all this can be seen more like a bigger bug fix (see https://github.com/kubernetes/kubernetes/issues/27997) rather than a feature. Secondly, lots of users where pointing us that this is the most desirable extension of a job (see https://github.com/kubernetes/kubernetes/issues/30243, https://github.com/kubern

[2017-09-08 12:45] piosz commented on #271
The remaining part of work here is to sync [metrics-server](https://github.com/kubernetes-incubator/metrics-server) repo with the recent changes in Kubernetes https://github.com/kubernetes/kubernetes/pull/51653. The problem is that syncing script is broken and it needs to be done manually.

cc @sttts @eparis

[2017-09-08 13:08] soltysh commented on #298
@idvoretskyi yes it's already merged. I'll go ahead and close this issue in that case.

[2017-09-08 13:09] soltysh commented on #22
Since I think we have all the bits necessary for 1.8 milestone I'll go ahead and modify it to 1.9 now. So that folks responsible for tracking features get this off their list.

[2017-09-08 20:02] luxas commented on #166
As far as I understood from @k82cn, this would stay in alpha for one release and become beta in v1.9...
I think we renamed a couple of constants, that should be reflected in release notes for v1.8

[2017-09-08 23:03] tamalsaha opened #423 "Support AWS Network Load Balancer"
Can Kubernetes support the new AWS NLB for LoadBalancer type Service? https://aws.amazon.com/elasticloadbalancing/details/ . I am assuming that users can apply some annotation on the Service that will tell aws cloud provider to use NLB instead of classic ELB to expose Kubernetes service.

# Feature Description
- One-line feature description (can be used as a release note): Use AWS Network Load Bal

[2017-09-09 01:59] k82cn commented on #382
@davidopp , all function code were done; I'll add e2e test early this week, and gmarek@ had created PR for doc. The task list in kubernetes/kubernetes#42001 shows what had done.

[2017-09-09 03:59] zhangxiaoyu-zidif commented on #76
@ConnorDoyle  could you give me some links about Extended Resources.
Many thanks. =)

[2017-09-09 04:49] ConnorDoyle commented on #76
@zhangxiaoyu-zidif so far the best source of information is the PR -- docs to come. https://github.com/kubernetes/kubernetes/pull/48922

[2017-09-10 14:10] RenaudWasTaken commented on #368
Pretty sure this should not be closed :D
@vishh ^

[2017-09-11 14:19] pweil- commented on #135
@idvoretskyi this was not a priority for 1.8.  @php-coder can you add a card to this for our PM planning?  We need to stop letting this fall through the cracks and get it moved to beta and GA.

[2017-09-11 14:26] k82cn commented on #166
wow, sorry for the late response. let's add this into my queue for 1.9.

[2017-09-11 18:02] cmluciano commented on #423
@kubernetes/sig-aws-misc

[2017-09-11 18:07] mwielgus commented on #386
This will be enabled post 1.8 in GKE.

[2017-09-11 20:46] fabianofranz commented on #371
Docs PR merged for this feature.

@idvoretskyi what's the process here, do we just close this issue since it's all done (PR merged before code freeze, docs merged, release notes updated)?

[2017-09-11 21:26] ajitak commented on #379
@calebamiles @Random-Liu is the owner of this and should be able to comment on milestone.

[2017-09-11 21:55] Random-Liu commented on #379
@calebamiles I think we reached the agreement to run NPD inside daemonset, and rely on daemonset rolling upgrade to dynamically config NPD.

1) For OSS, the feature is already ready if user run NPD as daemonset. They could use daemonset rolling upgrade to dynamically change NPD configuration.
2) For GKE, we need to enable docker live-restore and run NPD inside daemonset, which is not done this rel

[2017-09-11 22:32] idvoretskyi commented on #371
@fabianofranz if you are expecting to make a progress with the feature for the next releases, please keep it open.

Only the milestone (and stage/* label) should be updated after the next release train will go.

[2017-09-12 00:12] ConnorDoyle commented on #76
@zhangxiaoyu-zidif docs PR is up https://github.com/kubernetes/kubernetes.github.io/pull/5399

[2017-09-12 00:32] zhangxiaoyu-zidif commented on #76
@ConnorDoyle Thanks a lot!
It's much helpful. =)

[2017-09-12 11:32] luxas commented on #281
@mtaufen Any user/admin-facing docs ready for this feature?

[2017-09-12 14:01] idvoretskyi commented on #135
@pweil- if this feature is not planned for 1.8 - please, update the milestone with the "next-milestone" or "1.9"

[2017-09-12 14:24] idvoretskyi commented on #415
@luxas please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:37] idvoretskyi commented on #361
@jingxu97 please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:38] idvoretskyi commented on #362
@jingxu97 please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:38] idvoretskyi commented on #363
@jingxu97 please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:40] idvoretskyi commented on #266
@jcbsmpsn @kubernetes/sig-auth-feature-requests @luxas can you confirm that this feature is still on track for 1.8?

[2017-09-12 14:43] idvoretskyi commented on #261
@quinton-hoole @kubernetes/sig-federation-feature-requests ping on above?

[2017-09-12 14:52] idvoretskyi commented on #358
@justinsb please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:53] idvoretskyi commented on #376
@saad-ali @kubernetes/sig-storage-feature-requests please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:54] idvoretskyi commented on #377
@verult any progress for 1.8?

If yes, please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:54] idvoretskyi commented on #286
@Random-Liu @kubernetes/sig-node-feature-requests any progress for 1.8?

If yes, please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 14:55] idvoretskyi commented on #369
@vishh @mindprince @kubernetes/sig-node-feature-requests any progress for 1.8?

If yes, please, update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data.

[2017-09-12 15:55] ericchiang commented on #266
@idvoretskyi Yep! Client certificate rotation will be beta in 1.8 and a release note has been added in the release note draft.

[2017-09-12 16:21] weijinxu commented on #261
@idvoretskyi It is still in design review. And I heard 1.8 is code freeze already? need move to next release then.

[2017-09-12 16:53] calebamiles commented on #379
Ok @Random-Liu, I'll close this issue then. If you could make a new feature issue for 1.9 specifically for GKE that would be great. Thanks!

**cc: @kubernetes/sig-node-feature-requests, @kubernetes/kubernetes-release-managers**

[2017-09-12 16:53] #379 closed

[2017-09-12 16:59] johnbelamaric opened #427 "Enable CoreDNS as a DNS plugin for Kubernetes"
# Feature Description
- One-line feature description (can be used as a release note): Enable CoreDNS as a DNS plugin for Kubernetes
- Primary contact (assignee): @johnbelamaric
- Responsible SIGs: sig-network, sig-cluster-lifecycle
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1100
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from c

[2017-09-12 17:00] johnbelamaric commented on #427
cc @luxas @jbeda @mattmoyer @miekg

[2017-09-12 17:07] calebamiles commented on #276
last PR looks like it's scheduled to merge. @sjenning, do you have a docs PR in flight?

[2017-09-12 17:22] calebamiles commented on #286
1.0-alpha planned for release at the end of September

[2017-09-12 17:34] balajismaniam commented on #276
@calebamiles Some docs related to CPU manager have already merged (https://github.com/kubernetes/kubernetes.github.io/blob/release-1.8/docs/tasks/administer-cluster/cpu-management-policies.md). There are some PRs in flight to update them.

[2017-09-12 17:34] Random-Liu commented on #286
## Status Update
* We are targeting at Feature Complete and `1.0.0-alpha.0` release by the end of September.
* Test:
  * CRI Validation Test: [37/37](https://s3.amazonaws.com/archive.travis-ci.org/jobs/274497232/log.txt?X-Amz-Expires=30&X-Amz-Date=20170912T173413Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170912/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Am

[2017-09-12 17:41] mindprince commented on #369
Please update the milestone of this feature to 1.9.

[2017-09-12 17:44] cmluciano commented on #427
@kubernetes/sig-network-feature-requests

[2017-09-12 17:57] calebamiles commented on #286
thanks for the update, @Random-Liu

[2017-09-12 18:30] vishh commented on #192
One of the critical pieces of this problem is Hardware device plugins landed in v1.8 https://github.com/kubernetes/features/issues/368.
This feature is broad and requires more work around identifying and defining the matrix of devices, device plugins and workload compatibility. This aspect is expected to be handled outside of core kubernetes, but the specifics are not yet defined. For that reason,

[2017-09-12 18:34] luxas commented on #296
Docs are here: https://github.com/kubernetes/kubernetes.github.io/pull/4770

[2017-09-12 18:34] luxas commented on #415
@idvoretskyi Done