[2021-05-10 08:59] supriya-premkumar commented on #2702
/sig autoscaling

[2021-05-10 10:44] pacoxu commented on #1495
https://github.com/kubernetes/kubernetes/pull/99956 need rebase.

[2021-05-10 12:24] pacoxu commented on #2647
Sorry for the delay. @thockin
I will read the #2593 KEP ASAP.

[2021-05-10 13:58] alculquicondor commented on #2307
Hi @gracenng, it is up to date https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/2307-job-tracking-without-lingering-pods/kep.yaml
Perhaps you missed the last PR?

[2021-05-10 14:17] ahg-g commented on #2249
@JamesLaverack  Thanks, done.

[2021-05-10 14:17] ahg-g commented on #2255
@reylejano  thanks, sent https://github.com/kubernetes/enhancements/pull/2705

[2021-05-10 14:24] neolit123 commented on #970
@jrsapi hello,
the kubeadm API predates the PRR process. it was never done for it and is arguably not needed.
based on recent discussions, PRR was partially a no-op for another kubeadm KEP:
https://github.com/kubernetes/enhancements/pull/2620#issuecomment-828797098

i think the PRR process needs to be scoped more clearly and potentially be only mandatory for core functionality or opt-in for out-of

[2021-05-10 16:35] fromanirh commented on #2625
fixed the issue summary to make it consistent with the KEP

[2021-05-10 16:56] gracenng commented on #2644
Hi @xing-yang, 1.22 Enhancements Shadow here.

The KEP looks all good, however, the status of the KEP on Enhancement track sheet will be `at risk` until the KEP is merged into master.

Thanks!

[2021-05-10 17:06] robscott commented on #2365
Thanks for the reminder @reylejano! @hbagdi are you already working on updating the KEP? I think there's very little that needs to change, maybe just the `latest-milestone` tag? Let me know if I can help with anything.

[2021-05-10 17:11] gracenng commented on #2570
Hi @xiaoxubeii  👋 1.22 Enhancements Shadow here.

This enhancement is in good shape, some minor change requests in light of Enhancement Freeze on Thursday May 13th:

- Update kep.yaml file to the [latest](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml) template
- In kep.yaml, status is currently provisional instead of implementable
- Alpha graduation criteri

[2021-05-10 17:40] kikisdeliveryservice commented on #281
As a follow up to : https://github.com/kubernetes/kubernetes/issues/100799#issuecomment-837023528

@ehashman @SergeyKanzhelev how do you plan on leveraging the release process for this deprecation in 1.22? Will you be announcing deprecation via docs/release notes but leaving the full deprecation to another time?

[2021-05-10 18:08] JamesLaverack commented on #85
Great. With that merged you're all set for 1.22 enhancements freeze. 🎉

[2021-05-10 18:14] JamesLaverack commented on #2249
Great. You're all set for 1.22 enhancements freeze! 🎉

[2021-05-10 20:04] #2379 closed

[2021-05-10 20:14] jrsapi commented on #1769
@cynepco3hahue when you refer to "updating the beta version" are you talking about the kep.yaml? in my comments above that is what I was referring to.

[2021-05-10 22:07] tallclair commented on #2579
Question on the graduation criteria - what is required for targeting alpha? Do we need the criteria to call the feature alpha, or do we need to fill in the alpha -> beta criteria?

[2021-05-10 23:12] gracenng commented on #2579
Hi there, thanks for the speedy updates.

- I talked to the team and it is okay to have unresolved sections for alpha
- With regards to graduation criteria, the [KEP template](https://github.com/kubernetes/enhancements/commit/2c21787b8006f68297d9455db0bab39ca5748837) has been updated to clarify this. Apologies for the confusion.

[2021-05-11 00:10] JamesLaverack commented on #1977
/milestone v1.22
/remove-lifecycle rotten

[2021-05-11 00:12] JamesLaverack commented on #2551
/stage alpha
/milestone v1.22

[2021-05-11 00:13] JamesLaverack commented on #2590
/stage alpha
/milestone v1.22

[2021-05-11 00:32] JamesLaverack commented on #1558
Hey @pacoxu, 1.22 Enhancements Lead here.

While a depreciation doesn't really go through the same criteria as a graduation, there's still a few things I'd like to clarify about your KEP:
* Can you set the `latest-milestone` key in your [`kep.yaml`](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1558-streaming-proxy-redirects/kep.yaml) to be `"v1.22"`.
* Also in the `kep.yaml

[2021-05-11 00:58] JamesLaverack commented on #2047
Hey @zshihang, v1.22 Enhancements Lead here.

I see you've got a [PR open](https://github.com/kubernetes/enhancements/pull/2664) for your KEP, which looks in a good state. The only thing I need to mention is that that needs to merge before enhancements freeze.

Let me know if you have any questions.

[2021-05-11 01:04] JamesLaverack commented on #2079
Hey @rikatz, 1.22 Enhancements Lead here.

I've got a few questions about your KEP:
- Can you update the `latest-milestone` key in your `kep.yaml` to `"v1.22".

Additionally, if you are planning to graduate this feature to Beta (which is my current assumption, please tell me if I'm wrong) can you also:
- Set the `stage` key in your `kep.yaml` to be `beta`, along with setting `milestones.beta` to b

[2021-05-11 01:21] JamesLaverack commented on #2086
Hey @maplain, 1.22 Enhancements Lead here.

I see you're targeting beta for 1.22, in which case there are a few KEP updates we'll need ahead of enhancements freeze (23:59:59 PT on Thursday 13th May):
- The `latest-milestone` in your `kep.yaml` should be `"v1.22"`
- The `stage` in your `kep.yaml` should be `"beta"`
- You should have an approved production readiness review for beta.
- We require bet

[2021-05-11 01:22] salaxander commented on #284
Hey @gnufied @kikisdeliveryservice, 1.22 enhancements team here! If my understanding is correct, it looks like this was planning on graduating to stable for 1.22 but should now be removed from the milestone?

[2021-05-11 01:28] salaxander commented on #536
Hey @robscott - 1.22 enhancements team here! I've got a couple questions to clarify for the release. Is the current plan to postpone deprecation if #2433 doesn't end up making the release? Also, would you be able to update the `kep.yaml` to have `latest-milestone: "v1.22"` before enhancements freeze on 5/13?

[2021-05-11 01:37] salaxander commented on #1507
Hey @robscott - 1.22 enhancements team here! Looks like we'll need the KEP updated to the latest template and with graduation criteria for 1.22 before enhancements freeze on 5/13. Let us know if there's anything we can do to help!

[2021-05-11 01:49] salaxander commented on #1669
Hi @andrewsykim, 1.22 enhancements team here!

For the enhancement to be included in the milestone, it must meet the following criteria:

[DONE] ~~The KEP must be merged in an implementable state~~
[DONE] ~~The KEP must have test plans~~
[DONE] ~~The KEP must have graduation criteria~~
The KEP must have a production readiness review

Looks like we're currently missing a PRR which would be needed t

[2021-05-11 01:57] salaxander commented on #1981
Hi @marosset , 1.22 enhancements team here

For the enhancement to be included in the milestone, it must meet the following criteria:

[DONE] ~~The KEP must be merged in an implementable state~~
[DONE] ~~The KEP must have test plans~~
[DONE] ~~The KEP must have graduation criteria~~
[DONE] ~~The KEP must have a production readiness review~~

Looks like we're in good shape! Let us know if there's a

[2021-05-11 02:01] JamesLaverack commented on #2133
hey @andrewsykim, 1.22 Enhancements Lead here.

I have a few questions about your KEP ahead of a beta graduation in 1.22:
- Why does the [PRR signoff from alpha](https://github.com/kubernetes/enhancements/blob/master/keps/prod-readiness/sig-node/2133.yaml) list [KEP 2053](https://github.com/kubernetes/enhancements/issues/2053) inside the PRR YAML file, but correctly name the file as 2133? (cc @dea

[2021-05-11 02:37] salaxander commented on #2254
Hi @giuseppe , 1.22 enhancements team here

For the enhancement to be included in the milestone, it must meet the following criteria:

* [DONE] ~~The KEP must be merged in an implementable state~~
* The KEP must have test plans
* [DONE] ~~The KEP must have graduation criteria~~
* The KEP must have a production readiness review

In order to move forward in 1.22 we'd need to have test plans as well

[2021-05-11 02:43] salaxander commented on #2258
Hi @aravindhp , 1.22 enhancements team here!

For the enhancement to be included in the milestone, it must meet the following criteria:

[DONE] ~~The KEP must be merged in an implementable state~~
[DONE] ~~The KEP must have test plans~~
[DONE] ~~The KEP must have graduation criteria~~
[DONE] ~~The KEP must have a production readiness review~~

Looks like we're in good shape for enhancements freeze

[2021-05-11 02:55] ykakarap commented on #2590
Hi @salaxander, @nikhita and I are working in this together.
Thanks for the heads-up on the pending items for the KEP :).

Regarding the production readiness review, the KEP doc has [a section](https://github.com/kubernetes/enhancements/pull/2600/files#diff-478f16ec5ecd7281fb87ea3589105a817d2048fe0cde58510cad142f6ec480bdR222) by the same name. Does this section satisfy the required criteria? If no

[2021-05-11 03:06] salaxander commented on #2590
Hi @ykakarap! - Here's the full documentation on the production readiness review process -> https://github.com/kubernetes/community/blob/master/sig-architecture/production-readiness.md

[2021-05-11 03:07] robscott commented on #536
Hey @salaxander, thanks for checking in! I think the only thing that's left to do for this enhancement in 1.22 is remove the code. I believe it was deprecated in the last cycle and #2433 went alpha in 1.21 as well. Since this feature only ever made it to alpha, I don't think we need to wait for #2433 to make it to alpha before removing this one (though #2433 may make it to beta in 1.22). With that

[2021-05-11 03:10] salaxander commented on #536
Thanks for the reply @robscott! @JamesLaverack, @annajung, or @kikisdeliveryservice, would you be able to confirm if we would still need the `latest-milestone` updated for the deprecation?

Thanks everyone! ☺️

[2021-05-11 03:11] reylejano commented on #1847
Hi @mattcary,

1.22 release team here. After reviewing the [kep](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/1847-autoremove-statefulset-pvcs) and [approved PRR](https://github.com/kubernetes/enhancements/blob/master/keps/prod-readiness/sig-apps/1847.yaml) there's a few things that needs to be done before the 1.22 Enhancements Freeze which starts at 23:59:59 pst on Thursda

[2021-05-11 03:11] reylejano commented on #1847
/sig apps

[2021-05-11 03:19] harche commented on #2369
/close

[2021-05-11 03:19] #2369 closed

[2021-05-11 03:30] reylejano commented on #1864
Hi @hanlins and @andrewsykim ,

Thank you for updating the kep.yaml. This enhancement is all set for the 1.22 Enhancements Freeze 🎉

[2021-05-11 03:33] reylejano commented on #2185
Hi @damemi ,

1.22 release team here. After reviewing the [kep](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2185-random-pod-select-on-replicaset-downscale) there are a few things that need to be complete before the 1.22 Enhancements Freeze which starts at 23:59:59 pst on Thursday, May 13:

- Update the Monitoring Requirements in the [kep `README.md`](https://github.com/kub

[2021-05-11 03:46] reylejano commented on #1602
Hi @serathius ,

1.22 release team here. After reviewing the [kep](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging) and [approved PRR](https://github.com/kubernetes/enhancements/blob/master/keps/prod-readiness/sig-instrumentation/1602.yaml), the kep needs a simple update before the 1.22 Enhancements Freeze which starts at 23:59:59 pst on Thur

[2021-05-11 03:49] reylejano commented on #2255
Hi @ahg-g ,
Thank you for updating the kep.yaml. This enhancement is all set for the 1.22 Enhancements Freeze 🎉

[2021-05-11 04:56] jrsapi commented on #1797
Greetings @javidiaz ! 1.22 Enhancement shadow checking in. After reviewing the KEP overall is in great shape. Just a small edit needed:

- In the kep.yaml, update the value for latest-milestone to "v1.22"

Reminder that the Enhancement freeze is this Thursday.

Thanks!

[2021-05-11 05:31] jrsapi commented on #1967
Greetings @derekwaynecarr @mvortizr!
 Enhancement shadow checking in.  After reviewing the KEP, there are a few things that need to be complete before the 1.22 Enhancements Freeze, which is this Thursday, 5/13.

- Kep.yaml with the latest template and current metadata needs to be merged by enhancement freeze.
- Update this issue with beta release target 1.22

Thanks!

[2021-05-11 06:08] jrsapi commented on #2238
Greetings @ehashman !
Enhancement shadow checking in. A friendly reminder that the enhancement freeze is this Thursday 5/13.  After reviewing the KEP overall is in great shape with one call out needing to be complete before the freeze.

- Update the kep.yaml with current stage and latest-milestone.

Thanks!

[2021-05-11 06:09] mindw commented on #688
/remove-lifecycle stale

[2021-05-11 06:22] robscott commented on #536
@chino yep, #2433 is replacing this one.

[2021-05-11 07:22] josephburnett commented on #2702
/assign josephburnett

[2021-05-11 08:45] jethrogb commented on #536
It seems reasonable to me to keep this until #2433 hits alpha.

[2021-05-11 10:01] pacoxu commented on #1558
@JamesLaverack  I opened #2707.

[2021-05-11 10:04] pacoxu commented on #1558
/assign

[2021-05-11 11:25] AlbertMarashi commented on #2021
https://github.com/kubernetes/kubernetes/issues/69687#issue-369195808

Looks like lots of users want this. +1 for seeing this get into beta

[2021-05-11 11:54] gracenng commented on #859
Hi @seans3 👋 1.22 Enhancements Shadow here.

Does sig-cli need to do anything for this enhancement and if so, is the SIG ok with it?

I also have some minor change requests in light of Enhancement Freeze on Thursday May 13th:

- PRR not approved for beta
- In kep.yaml, update alpha latest-milestone and milestone
- In kep.yaml, answer the PRR questions for alpha and beta
- In README, update the Gra

[2021-05-11 12:12] gracenng commented on #2579
Hi @tallclair 👋 1.22 Enhancements shadow here.
I just wanted to double check to see if SIG-Auth will need to do anything for this enhancement and if so, are they OK with it?
Thanks!

[2021-05-11 12:18] gracenng commented on #2595
Hi @gjkim42  👋 1.22 Enhancements shadow here.
I just wanted to double check to see if SIG-Network will need to do anything for this enhancement and if so, are they OK with it?
Thanks!

[2021-05-11 12:25] gracenng commented on #2307
Hi @alculquicondor 👋 1.22 Enhancements shadow here.
I just wanted to check to see if SIG-App will need to do anything for this enhancement and if so, are they OK with it?
Thanks!

[2021-05-11 12:26] soltysh commented on #2307
Yup, sig-apps is aware and tracking this development.

[2021-05-11 12:29] gracenng commented on #1693
Hi @liggitt 👋 1.22 Enhancements shadow here.
I just wanted to double check to see if SIG-api-machinery will need to do anything for this enhancement and if so, are they OK with it?
Thanks!

[2021-05-11 12:32] gracenng commented on #2436
Hi @jiahuif 👋 1.22 Enhancements shadow here.
I just wanted to double check to see if SIG-cloud-provider will need to do anything for this enhancement and if so, are they OK with it?
Thanks!

[2021-05-11 12:33] gracenng commented on #2033
Hi @AkihiroSuda 👋 1.22 Enhancements shadow here.
I just wanted to double check to see if SIG-node will need to do anything for this enhancement and if so, are they OK with it?
Thanks!

[2021-05-11 12:36] AkihiroSuda commented on #2033
Yes, I would like to have https://github.com/kubernetes/enhancements/pull/1371 (and k/k PR https://github.com/kubernetes/kubernetes/pull/92863) to be reviewed (and merged) if possible.

[2021-05-11 12:45] fromanirh commented on #2625
Hi @gracenng ! thanks for checking in! I'm waiting for another review indeed. sig-node ack'd this enhancement (https://github.com/kubernetes/enhancements/issues/2625#issuecomment-838387691) but unfortunately the sig is a bit overworked. I'll update as soon as possible.

[2021-05-11 12:57] JamesLaverack commented on #2079
Hey @rikatz. Okay, if you're going beta then the requirements are as above.

Note that enhancements freeze is in **just over two days** at 23:59:59 PDT on **Thursday 13th May**. If your updates are not complete by then this would require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2021-05-11 13:27] rikatz commented on #2079
OK thanks folks!

I've added a PR moving to Beta (https://github.com/kubernetes/enhancements/pull/2709) and hope this is ok and inside the window to change it!

[2021-05-11 13:29] javidiaz commented on #1797
@jrsapi  Could you add milestone to the PRs associated with this KEP? the full list is https://github.com/kubernetes/enhancements/pull/2641 https://github.com/kubernetes/kubernetes/pull/101294 and https://github.com/kubernetes/website/pull/27636

[2021-05-11 14:06] supriya-premkumar commented on #2273
👋🏽  Hi @vinaykul

This is Supriya,  v1.22 enhancement shadow here. For the enhancement to be included in the 1.22 milestone, it must meet the following criteria:

The KEP must have a production readiness review
The KEP must have graduation criteria
The KEP must have targeted/latest milestone mentioned in kep.yaml

Please make sure to follow all the instructions and update the KEP to include this.

[2021-05-11 14:18] damemi commented on #2185
@reylejano thanks for the update, we have a PR to update the KEP that is currently undergoing review at https://github.com/kubernetes/enhancements/pull/2691 to make the changes you have listed. This should be able to make the enhancements freeze

[2021-05-11 14:48] bswartz commented on #1495
https://github.com/kubernetes/enhancements/pull/2710

[2021-05-11 15:07] #34 closed

[2021-05-11 16:07] mrunalp opened #2712 "Pod Priority Based Node Graceful Shutdown"
# Enhancement Description
- One-line enhancement description: Stop based based on their priority during node shutdown
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2713
- Discussion Link:
- Primary contact (assignee): @mrunalp @wzshiming
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1

[2021-05-11 16:13] mrunalp commented on #2712
/sig node

[2021-05-11 16:29] supriya-premkumar commented on #1979
Also, please make sure to update the KEP [README](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md) and [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1979-object-storage-support/kep.yaml) to match the latest templates.

[2021-05-11 16:41] supriya-premkumar commented on #2551
/milestone remove

[2021-05-11 17:14] ehashman commented on #281
@kikisdeliveryservice it's up to Sergey, he is going to do the writeup for how to deprecate/KEP update.

[2021-05-11 17:31] tallclair commented on #1872
I'd like to add another use case for this: staged rollout of admission changes to HA clusters. In other words, I'd like to be able to update the admission configuration for 1 api-server instance at a time to catch errors without bringing down the whole cluster. We could of course address this with an enhancement to the regular (dynamic) webhooks, but I think the static file approach would address

[2021-05-11 17:42] SergeyKanzhelev commented on #2221
/remove-lifecycle stale

[2021-05-11 17:47] tallclair commented on #1898
/remove-lifecycle stale

[2021-05-11 17:48] tallclair commented on #1729
/remove-lifecycle stale

What work is remaining on this?

[2021-05-11 18:08] jsturtevant commented on #1122
/milestone v1.22

[2021-05-11 18:20] mattcary commented on #1847
Thanks @reylejano!. PR created: https://github.com/kubernetes/enhancements/pull/2715

[2021-05-11 19:01] jrsapi commented on #2413
Greetings @saschagrunert!
Enhancement shadow checking and reviewing the KEP. Just one request to complete :

- Update this [issue](https://github.com/kubernetes/enhancements/issues/2413) with the current milestone.

Friendly reminder that the Enhancement freeze is this Thursday 5/13.

[2021-05-11 20:06] nckturner opened #2718 "Client Exec Proxy"
# Enhancement Description
- One-line enhancement description (can be used as a release note): A client-side proxy for a number of client authentication use cases.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2693
- Discussion Link: [SIG-Auth discussion on 2021-04-28](https://youtu.be/6V8p8s8JVic?t=216)
- Primary contact (assignee): @nckturner
- Responsible SIG

[2021-05-11 20:23] supriya-premkumar commented on #1977
👋🏽  Hi @xing-yang,

This is Supriya, v1.22 enhancement shadow here. For the enhancement to be included in the 1.22 milestone, it must meet the following criteria:

[InProgress]  The KEP must be merged in an implementable state
[Required]      The KEP must have a production readiness review
Please make sure to take follow all the instructions and update the KEP to include this.

Thank you!

[2021-05-11 21:56] reylejano commented on #752
Hi @swetharepakula ,

With [PR 2673](https://github.com/kubernetes/enhancements/pull/2673) , this enhancement is all set for the 1.22 Enhancements Freeze 🎉

[2021-05-11 22:34] reylejano commented on #2317
Hi @gnufied , please see my [comment above](https://github.com/kubernetes/enhancements/issues/2317#issuecomment-836237043) on changes required to make the 1.22 Enhancements Freeze which starts on **Thursday, May 13 at 23:59:59 pst**

[2021-05-11 22:37] robscott commented on #2365
This should be ready to go once #2721 merges in.

[2021-05-11 22:40] reylejano commented on #1029
Hi @pacoxu, please see my [comment above](https://github.com/kubernetes/enhancements/issues/1029#issuecomment-836208897) on what needs to be done for this enhancement to meet the **1.22 Enhancement Freeze** which starts on **Thursday, May 13 at 23:59:29 pst**

[2021-05-11 22:52] swetharepakula commented on #752
/assign @swetharepakula

[2021-05-11 22:58] reylejano commented on #1495
Hi @bswartz , I see that sig api-machinery is a participating sig. Does sig api-machinery need to do anything for this enhancement for the 1.22 release?

[2021-05-11 23:01] reylejano commented on #1287
@vinaykul I see that sig-autoscaling and sig-scheduling are participating sigs for this enhancement. Do either of the sigs need to do any work for this enhancement for the 1.22 release?

[2021-05-11 23:04] reylejano commented on #542
Hi @zshihang , I see that sig storage is a participating sig for this enhancement. Does sig storage need to do anything for this enhancement for the 1.22 release?

[2021-05-11 23:10] reylejano commented on #2185
Hi @damemi , I see that sig scheduling is a participating sig for this enhancement. Does sig scheduling need to do anything for this enhancement for the 1.22 release?

[2021-05-11 23:36] johnbelamaric commented on #536
When it comes to it, feel free to assign me as PRR approver. Should be all N/A pretty much for PRR but the validations will kick in.

[2021-05-11 23:41] supriya-premkumar commented on #2395
👋🏼 Hi @andrewsykim

This is Supriya, v1.22 enhancement shadow here. For the enhancement to be included in the 1.22 milestone, it must meet the following criteria:

The KEP must have test plans
The KEP must have graduation criteria
The KEP must have a  target/latest milestone mentioned in kep.yaml

Please make sure to follow all the [instructions](https://github.com/kubernetes/community/blob/master

[2021-05-11 23:43] JamesLaverack commented on #2639
/stage alpha
/milestone v1.22

[2021-05-11 23:44] johnbelamaric commented on #1669
You can assign me for PRR approver. Thanks

[2021-05-11 23:45] johnbelamaric commented on #1672
You can assign me as PRR approver. Thanks.

[2021-05-11 23:47] johnbelamaric commented on #1979
Please assign me as PRR approver. Thanks.

[2021-05-11 23:49] johnbelamaric commented on #2040
Please assign me as PRR approver. Thanks.

[2021-05-11 23:53] johnbelamaric commented on #2254
If you get there please assign me as PRR approver. Thanks.

[2021-05-12 00:01] ahg-g commented on #1287
Ack from sig scheduling to review related PRs.

[2021-05-12 00:05] vinaykul commented on #1287
sig-scheduling will have review the code and sign-off on it. sig-autoscaling will consume it but that will come after this goes in. They will likely do it in next release.

[2021-05-12 00:09] reylejano commented on #2639
Hi @mkimuram ,

1.22 Enhancements team here. I see that the PR for the KEP is open at the time of this comment in [PR 2640](https://github.com/kubernetes/enhancements/pull/2640).

The 1.22 Enhancements Freeze is coming up on Thursday, May 13 at 23:59:59 pst.
For an enhancement to successfully make the 1.22 Enhancement Freeze, it requires the following:
- A merged KEP `README.md` and `kep.yaml` in

[2021-05-12 00:11] reylejano commented on #1287
/sig scheduling

[2021-05-12 00:14] reylejano commented on #1495
/sig api-machinery

[2021-05-12 00:17] reylejano commented on #542
/sig storage

[2021-05-12 00:20] JamesLaverack commented on #85
I'd normally ask if your participating SIG (SIG Scheduling) needed to do anything — but if you've already completed your [k/k PR](https://github.com/kubernetes/kubernetes/pull/100724) I'm going to assume you're all set. 😄

[2021-05-12 01:19] JamesLaverack commented on #1122
@ddebroy Also, I see that SIG Windows is listed as a participating SIG in your KEP. Will they need to do anything towards implementation for this enhancement in 1.22, and if so are they happy with this?

cc @marosset

[2021-05-12 01:19] bswartz commented on #1495
We just needed API approval. The SIG doesn't need to do anything.

[2021-05-12 01:27] JamesLaverack commented on #1591
Also I see that both SIG Scheduling and SIG Node are listed as participating SIGs in your KEP. Will they need to do any work on this enhancement in 1.22, and are they happy with that?

[2021-05-12 01:29] JamesLaverack commented on #2047
Oh one other thing @zshihang, I see that SIG Auth are listed as a participating SIG in your KEP. Will they have to do any work on this in 1.22, and if so are they happy to do that?

[2021-05-12 01:37] JamesLaverack commented on #2133
Also I see from your KEP that both SIG Auth and SIG Cloud Provider are listed as participating SIGs. Do they have any work they need to do for this enhancement in 1.22, and if so are they happy with that?

[2021-05-12 01:40] JamesLaverack commented on #2249
One last thing @ahg-g. I see that SIG Auth is listed as a participating SIG in your KEP. Do they need to do anything for this enhancement in 1.22, and if so are they happy with that?

[2021-05-12 01:43] JamesLaverack commented on #2433
Great, thanks Rob. As soon as https://github.com/kubernetes/enhancements/pull/2714 merges I think you're good for enhancements freeze.

[2021-05-12 01:44] ahg-g commented on #2249
Nothing on their end, it should be just a flag flip from their perspective.

/cc @liggitt to confirm.

[2021-05-12 01:53] liggitt commented on #2249
Correct

[2021-05-12 02:08] xiaoxubeii commented on #2570
@gracenng Hey grace, I have updated necessary contents as follows:
- [x] kep.yaml for prr approval
- [x] Alpha graduation criteria missing

sig-node approvers @derekwaynecarr @mrunalp are reviewing for that. I am waiting for lgtm/approve and merge as `implementable`.

[2021-05-12 02:18] XudongLiuHarold commented on #1959
PR merged here:  https://github.com/kubernetes/enhancements/pull/2698

[2021-05-12 03:31] zshihang commented on #542
nope

[2021-05-12 03:43] gnufied commented on #2317
@reylejano I opened https://github.com/kubernetes/enhancements/pull/2723 to fill those sections.

[2021-05-12 03:48] zshihang commented on #2047
yea, i am working it.

[2021-05-12 04:50] xing-yang commented on #1977
Hi @supriya-premkumar,

We are moving this to 1.23.  Can you remove it from the 1.22 tracking sheet?

Thanks!
Xing

[2021-05-12 04:53] supriya-premkumar commented on #2305
👋🏼 Hi @ehashman

This is Supriya, v1.22 enhancement shadow here. For the enhancement to be included in the 1.22 milestone, it must meet the following criteria:

The KEP must be updated with stage(beta) and milestones in [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/2305-metrics-cardinality-enforcement/kep.yaml)
The KEP must be updated with stage(beta) i

[2021-05-12 05:19] supriya-premkumar commented on #1040
👋🏼 Hi  @yue9944882,

This is Supriya, v1.22 enhancement shadow here. For the enhancement to be included in the 1.22 milestone, it must meet the following criteria:

The KEP must be updated with the current [beta version](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/1040-priority-and-fairness/kep.yaml#L34)

Please make sure to follow all the [instructions](https://g

[2021-05-12 05:56] wojtek-t commented on #1040
@supriya-premkumar - once https://github.com/kubernetes/enhancements/pull/2700 merges, the "latest milestone" will be updated.
I'm reluctant to changing the "beta" milestone to 1.22, because the feature actually went beta in 1.20.
We're just evolving it now by adding improving some functionalities.

[2021-05-12 06:31] supriya-premkumar commented on #1040
Thank you @wojtek-t, that makes sense.

[2021-05-12 08:32] gjtempleton commented on #1287
Ack from sig autoscaling.

As @vinaykul said, this shouldn't require any work from our side other than consuming it once it's in place.

[2021-05-12 08:49] sftim commented on #1287
Folks, I've got a question about this even though the feature isn't yet in a release. I'm going to ask it anyway.
Is there a way for a node to label itself as being capable of adjusting resources for a running Pod?

I'm asking because some Pods don't offer this. They might be running as bare-metal instances behind virtual kubelet, or use a container runtime backed by a partitioning hypervisor like

[2021-05-12 09:07] adisky commented on #2133
@JamesLaverack  the PR #2675 is approved by sig-auth, sig cloud-provider. The KEP is important for cloud provider extraction, it will replace the in-tree aws/gcp/azure credential providers (sig cloud-provider), Getting image credentials is the job of kubelet (sig node) & it is a auth mechanism so (sig auth).

[2021-05-12 10:43] serathius commented on #1602
Sent PR https://github.com/kubernetes/enhancements/pull/2724

[2021-05-12 11:34] pacoxu commented on #1029
Thanks @reylejano. I updated the PR and need review.

[2021-05-12 13:08] soltysh commented on #1591
/stage beta

[2021-05-12 13:09] soltysh commented on #1591
They are aware, although sig-apps handles the implementation of that bit.

[2021-05-12 13:18] alculquicondor commented on #2185
sig-scheduling, in particular @damemi and me, proposed the change. But there's no AI on sig-scheduling.

[2021-05-12 13:34] liggitt commented on #541
with https://github.com/kubernetes/enhancements/pull/2587 merged, is this all set for enhancements freeze from the release team's perspective?

[2021-05-12 15:16] salaxander commented on #541
Yep, we're all set! Thanks!

[2021-05-12 16:28] mrunalp commented on #2040
I have opened https://github.com/kubernetes/enhancements/pull/2726 to update

[2021-05-12 16:39] ehashman commented on #2305
/milestone clear

@supriya-premkumar talked to Han and we don't have the bandwidth to complete this for the 1.22 cycle. We'll revisit for 1.23.

[2021-05-12 16:44] reylejano commented on #1847
Hi @mattcary ,

With the merge of [PR 2715](https://github.com/kubernetes/enhancements/pull/2715), this enhancements is all set for the 1.22 Enhancement Freeze 🎉

[2021-05-12 16:52] reylejano commented on #2185
Hi @damemi,
With the merge of [PR 2691](https://github.com/kubernetes/enhancements/pull/2691), this enhancement is all set for the 1.22 Enhancements Freeze 🎉  Thank you!

[2021-05-12 16:55] reylejano commented on #2317
Hi @gnufied , with the merge of [PR 2723](https://github.com/kubernetes/enhancements/pull/2723), this enhancement is all set for the 1.22 Enhancements Freeze 🎉
Thank you!

[2021-05-12 16:56] spiffxp commented on #1143
/assign @ehashman @dims @neolit123 @spiffxp
assigning to arbitrary chairs from each of the labeled SIGs... is this something that we are actively planning to tackle for v1.22?

[2021-05-12 16:58] spiffxp commented on #1143
Like, I don't know enough about this to know what needs to happen beyond "land https://github.com/kubernetes/kubernetes/pull/100776".

I also don't know if this is at a state where it's already been announced in a changelog, GA'ed, and we just forgot to clean stuff up?

[2021-05-12 17:00] spiffxp commented on #2572
/sig architecture testing
participating sigs

[2021-05-12 17:05] sftim commented on #2702
Is it more accurate to say:

?
(avoiding confusion with, eg, cluster autoscaler, MultidimPodAutoscaler, VerticalPodAutoscaler).

[2021-05-12 17:20] supriya-premkumar commented on #2305
Hi @ehashman,
Thanks for the update, let me make sure that it's updated accordingly on the tracking sheet.

[2021-05-12 17:29] supriya-premkumar commented on #1977
Hi @xing-yang,
Thank you, let me update the tracking sheet accordingly.

[2021-05-12 17:30] neolit123 commented on #1143
https://github.com/kubernetes/kubernetes/pull/100776 is the only remaining action, according to the KEP.

The LegacyNodeRoleBehavior gate and all feature-level gates are removed, components that attempt to set these gates will fail to start.

https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1143-node-role-labels#migrating-existing-deployments

[2021-05-12 17:39] lavalamp commented on #1872
Regular admission webhooks have this problem. I would definitely not want to solve it for only certain webhooks. Additionally, breaking "only" 1/Nth of the cluster traffic is actually a bad solution to this problem:
* reentrant calls (webhooks) mean a request may effectively make more than one request, giving more chances to hit the broken apiserver
* In most clusters, some apiserver ends up with

[2021-05-12 17:43] robscott commented on #2433
Thanks for the help @JamesLaverack, I think that means this one should be good to go now.

[2021-05-12 17:46] bowei opened #2727 "Add gRPC probe to Pod.Spec.Container.{Liveness,Readiness,Startup}Probe"
# Enhancement Description

Add gRPC probe to Pod.Spec.Container.{Liveness,Readiness,Startup}Probe

- Kubernetes Enhancement Proposal:
  - Text: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2727-grpc-probe/README.md
  - PR: https://github.com/kubernetes/enhancements/pull/2728
  - Original PR: https://github.com/kubernetes/enhancements/pull/1667
- Discussion Link: kubernetes/

[2021-05-12 17:47] bowei commented on #2727
/sig network

[2021-05-12 17:47] bowei commented on #2727
/assign

[2021-05-12 17:47] bowei commented on #2727
@PxyUp

[2021-05-12 17:50] bowei commented on #2727
/sig node

[2021-05-12 19:52] johnbelamaric commented on #536
I think it makes sense to update the `latest-milestone` to indicate that that is when the code was removed.

[2021-05-12 20:25] #2321 closed

[2021-05-12 21:52] apelisse commented on #555
Not super excited to spend some time updating the KEP template now that we're all done with the feature ;-)

[2021-05-12 22:38] ehashman commented on #1143
I am not a chair of one of the labelled SIGs.

/cc @liggitt
who I think know more about where this is at

[2021-05-12 22:55] dims commented on #1143
+1 to land https://github.com/kubernetes/kubernetes/pull/100776 and close this up in 1.22.

[2021-05-12 22:56] ehashman commented on #2254
@johnbelamaric it's up here: https://github.com/kubernetes/enhancements/pull/2689

But questionnaire isn't filled out, I'll leave a comment.

[2021-05-12 23:09] SergeyKanzhelev commented on #2727
for the quick reference of the reviewer, currently supported solutions:
- https://github.com/grpc-ecosystem/grpc-health-probe/
- https://kubernetes.io/blog/2018/10/01/health-checking-grpc-servers-on-kubernetes/

This solution is in high demand:
- https://github.com/search?q=grpc_health_probe+extension%3Ayaml

[2021-05-13 00:14] jiahuif commented on #2436
For beta targeting 1.22, all graduation criteria, test plan, and PRR are done. There are some more pending PRs to update implementation details, though. I believe we can consider this KEP tracked, right?

[2021-05-13 00:22] ehashman commented on #2727
@bowei can you start filing an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#requesting-an-exception) if you want this in 1.22? It seems very unlikely this feature will make the deadline of tomorrow given that it has not been opted in to the release, is missing PRR, etc.

[2021-05-13 01:09] salaxander commented on #2254
@ehashman as long as that merges before enhancements freeze tomorrow evening we're good to go!

[2021-05-13 01:12] krmayankk commented on #213
@JamesLaverack can we now close this issue since its stable ?

[2021-05-13 01:12] salaxander commented on #555
Tracking #2732 for the updates. Thanks!

[2021-05-13 01:30] xiaoxubeii commented on #2570
@gracenng sig-node approvers(Derek and Mrunal) have gave an lgtm/approve. There are prr review requests, I have updated and am waiting for next review round. I think we can catch up with the freeze day :)

[2021-05-13 01:56] zhijianli88 commented on #1668
Seems we cannot catch up 1.22 since some misgivings in our KEP have not got resolved and consensus. I would greatly appreciate it if you kindly give me some feedback.

[2021-05-13 02:40] gracenng commented on #1668
Hi @zhijianli88, not sure if I understand your question, but it looks like you only need to make some minor changes I mentioned above and get your KEP PR merged to master.

If you are unable to merge in time for 1.22 Enhancement Freeze tomorrow, you have the option to file for an exception or update your KEP for the future releases.

Let me know if this answers your questions and if I can help in

[2021-05-13 02:48] JamesLaverack commented on #2161
Hey @jayunit100, 1.22 Enhancements Lead here.

Just a couple of questions about this enhancement ahead of enhancements freeze:

- What is your graduation criteria for stable? Your KEP only mentions "This feature being enabled by default at least one release." was that for beta? What specificly needs to be permitted for stable?
- We require an approved production readiness review, but I don't see o

[2021-05-13 02:55] gracenng commented on #2570
Hi @xiaoxubeii , looks like your PRR was approved and the requested changes are all here. I have updated the status of this enhancement to `tracked`
Thank you for keeping me updated!

[2021-05-13 02:59] gracenng commented on #2436
Hi @jiahuif , thanks for making the changes. This enhancement status is now `tracked` 😊

[2021-05-13 03:09] gracenng commented on #1790
Hi @gnufied , I just wanted to check in and let you know that I reviewed the requested changes and will update this enhancement status as soon as the KEP is merged. Please ping me on slack if needed. Thanks!

[2021-05-13 03:11] xiaoxubeii commented on #2570
Thanks for your help. Also thanks very much to a lot of valuable review suggestions and helps from @derekwaynecarr @mrunalp @bobbypage @giuseppe @odinuge @johnbelamaric @ehashman
Really appreciate that :)

[2021-05-13 03:25] JamesLaverack commented on #213
Hey @krmayankk. The last thing is what Anna mentions above — setting the `status` to be `implemented` in your `kep.yaml`. It looks like there's already a PR for this in https://github.com/kubernetes/enhancements/pull/2614, which has `/closes` on this issue too, so as soon as that is merged, this should be closed.

[2021-05-13 03:30] zhijianli88 commented on #1668
Thanks for your help. I guess I got your point. of cause i will update the kep.yaml as your mentioned above later becuase they are out of day. but the key point is the design in this KEP have not get approved by community. So I'd like to shift to 1.23 instead.

[2021-05-13 03:30] JamesLaverack commented on #2433
Great. This is all set for 1.22 enhancements freeze. :)

[2021-05-13 03:35] JamesLaverack commented on #2047
@zshihang With https://github.com/kubernetes/enhancements/pull/2664 merged I think this is all good for enhancements freeze in terms of your KEP. :)

Can you confirm about SIG Auth's participation? Do they need to do anything and if so are they happy with that in 1.22?

[2021-05-13 03:42] JamesLaverack commented on #2133
Thanks for the clarification @adisky. To be clear I'm asking in case either of those SIGs needs to allocate time and resources to this over 1.22's implementation period. If they just need to be aware because of impact (and they are aware) then that's totally fine. :)

[2021-05-13 03:43] jrsapi commented on #2712
Greetings @mrunalp!
1.22 Enhancement shadow checking in. After reviewing the [KEP](https://github.com/kubernetes/enhancements/pull/2713) and [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2712-pod-priority-based-graceful-node-shutdown/kep.yaml) this KEP will be marked tracked. A reminder that the enhancement freeze starts 5/13 23:59:59 PST.

[2021-05-13 03:50] JamesLaverack commented on #1591
Okay, as long as they're onboard. With https://github.com/kubernetes/enhancements/pull/2665 you're all set for 1.22 enhancements freeze too.

[2021-05-13 03:59] jrsapi commented on #2568
Greetings @vinayakankugoyal!
1.22 Enhancement shadow checking in. After reviewing the [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-root-control-plane) and [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-root-control-plane/kep.yaml) this has been marked as Tracked for

[2021-05-13 04:15] jrsapi commented on #2238
Greetings @ehashman!
After reviewing the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2238-liveness-probe-grace-period/README.md) and the approved [PRR]( keps/sig-node/2238-liveness-probe-grace-period/kep.yaml). This is now being tracked for the 1.22 milestone.

Thanks!

[2021-05-13 04:48] jrsapi commented on #2400
Greetings @ehashman!
Thanks for the follow-up. After reviewing the KEP and PRR everything looks on target. The enhancement is marked at risk but once merged we can move its status to tracked. A reminder that tomorrow 5/13 the Enhancement freeze starts at 23:59:59 PST.

Thanks!

[2021-05-13 05:02] jrsapi commented on #2413
Greetings @saschagrunert!
Following up and after reviewing the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2413-seccomp-by-default/README.md) and approved [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2413-seccomp-by-default/kep.yaml). This enhancement is now being tracked for the 1.22 milestone.
One additional question, SIG-security is t

[2021-05-13 05:14] jrsapi commented on #1797
Greetings @javidiaz!
Thanks for the follow-up. After reviewing the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1797-configure-fqdn-as-hostname-for-pods/README.md#test-plan) and approved [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1797-configure-fqdn-as-hostname-for-pods/kep.yaml) this enhancement is now being tracked for the 1.22 milest

[2021-05-13 08:56] soltysh commented on #2590
https://github.com/kubernetes/enhancements/pull/2600 merged so we should be all good now.

[2021-05-13 13:09] liggitt commented on #2133
sig-auth is expecting to devote review time to this in 1.22, but doesn't have implementers allocated

[2021-05-13 14:28] pacoxu commented on #1029
@ehashman @reylejano after some comments and clarification in the PR #2697, I think this will not target beta in 1.22.
I will work on some preparations to promote this feature to beta in this release cycle.

[2021-05-13 14:43] vinayakankugoyal commented on #2568
Thanks @jrsapi. Is there any other action we need to take before 05/13?

[2021-05-13 14:54] deads2k commented on #1029
/milestone v1.23

[2021-05-13 14:56] salaxander commented on #2371
@haircommander @bobbypage #2364 merged so we've got you tracked for 1.22 :)

[2021-05-13 16:19] nikhita commented on #2558
/remove-sig architecture
/sig api-machinery

[2021-05-13 16:26] JamesLaverack commented on #2133
As long as everyone is on the same page, it's no problem. :)

[2021-05-13 16:29] JamesLaverack commented on #2727
/milestone v1.22
/stage alpha

[2021-05-13 16:35] ehashman commented on #1668
/milestone v1.23

Thanks!

[2021-05-13 17:01] reylejano commented on #1287
Hi @vinaykul , [PR 2474](https://github.com/kubernetes/enhancements/pull/2474) needs to merge by 23:59:59 pst today, May 13 for this enhancement to make the 1.22 Enhancements Freeze

[2021-05-13 17:05] reylejano commented on #1495
Hi @bswartz , [PR 2474](https://github.com/kubernetes/enhancements/pull/2474) needs to merge by 23:59:59 pst today, May 13 for this enhancement to make the 1.22 Enhancements Freeze.

[2021-05-13 17:07] reylejano commented on #1602
Hi @serathius, with the merge of [PR 2724](https://github.com/kubernetes/enhancements/pull/2724), this enhancement is all set for the 1.22 Enhancements Freeze 🎉

[2021-05-13 17:09] reylejano commented on #2365
Hi @hbagdi , [PR 2721](https://github.com/kubernetes/enhancements/pull/2721) needs to merge by 23:59:59 pst today, May 13 for this enhancement to make the 1.22 Enhancements Freeze

[2021-05-13 17:12] reylejano commented on #2639
Hi @mkimuram, the 1.22 Enhancements Freeze starts at 23:59:59 pst today, May 13.
For this enhancement to make the 1.22 Enhancements Freeze, the changes listed in my [earlier comment](https://github.com/kubernetes/enhancements/issues/2639#issuecomment-839314432) have to be merged by 23:59:59 pst today, May 13.

[2021-05-13 17:39] mkimuram commented on #2639
/assign @xing-yang
/cc @johnbelamaric @liggitt

[2021-05-13 17:53] jrsapi commented on #1967
Greetings @derekwaynecarr @mvortizr!
After re-reviewing the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1967-size-memory-backed-volumes/README.md) and approved [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1967-size-memory-backed-volumes/kep.yaml), this enhancement is now being tracked for the v1.22 milestone.

Thanks!

[2021-05-13 18:42] ehashman commented on #127
/milestone clear

Unfortunately, not in a state to make it for 1.22

[2021-05-13 20:28] dcbw commented on #2365
@reylejano https://github.com/kubernetes/enhancements/pull/2721 is merged

[2021-05-13 20:29] salaxander commented on #1669
Hey @andrewsykim - Looks like there's a few comments on #2725 for the KEP updates. Do you expect that to merge today? If not we can probably file a preemptive exception for enhancements freeze

[2021-05-13 20:31] reylejano commented on #2365
Hi @hbagdi , with the merge of #2721 , this enhancement is all set for the 1.22 Enhancements Freeze 🎉

[2021-05-13 21:04] hbagdi commented on #2365
@reylejano PR #2721 has been merged.

[2021-05-13 21:15] jrsapi commented on #1769
Greetings @cezaryzukowski!
After reviewing the merged [KEP]( keps/sig-node/1769-memory-manager/README.md) and approved [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1769-memory-manager/kep.yaml). This enhancement is now being tracked for 1.22 milestone.

Thanks!

[2021-05-13 22:01] JamesLaverack commented on #2133
With https://github.com/kubernetes/enhancements/pull/2675 merged you're all set for enhancements freeze. 🎉

[2021-05-13 22:18] JamesLaverack commented on #961
With https://github.com/kubernetes/enhancements/pull/2688 merged this enhancement is good for 1.22 enhancements freeze.

[2021-05-13 22:24] JamesLaverack commented on #1122
With https://github.com/kubernetes/enhancements/pull/2670 merged this enhancement is good for enhancements freeze.

@ddebroy can you clarify the in-tree/out-of-tree state, and if SIG Storage needs to do anything for 1.22?

[2021-05-13 22:27] JamesLaverack commented on #281
With https://github.com/kubernetes/enhancements/pull/2717 merged this enhancement is all set for enhancements freeze.

[2021-05-13 22:43] jrsapi commented on #2040
Greetings @mrunalp @mikebrow!
 After reviewing the updated [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2040-kubelet-cri/README.md) and approved [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2040-kubelet-cri/kep.yaml). This enhancement status has been moved to "Tracked" for the 1.22 milestone.

Thanks!

[2021-05-13 22:52] JamesLaverack commented on #1558
With https://github.com/kubernetes/enhancements/pull/2707 merged we're good for 1.22 enhancements freeze.

[2021-05-13 22:55] jrsapi commented on #2238
Greetings @ehashman,
With all PR's merged this enhancement status has been moved to "Tracked".

Thanks!

[2021-05-13 22:55] reylejano commented on #1287
Hi @vinaykul, with the merge of #2474 , this enhancement is all set for the 1.22 Enhancements Freeze 🎉

[2021-05-13 23:00] JamesLaverack commented on #2079
With https://github.com/kubernetes/enhancements/pull/2709 merged this enhancement is complete for 1.22 enhancements freeze.

[2021-05-13 23:01] jrsapi commented on #2568
No other action is needed. The KEP will be reviewed after the freeze by the release lead.

Thanks!

[2021-05-13 23:09] JamesLaverack commented on #2161
With https://github.com/kubernetes/enhancements/pull/2736 and https://github.com/kubernetes/enhancements/pull/2651 merged, this enhancement is complete for enhancements freeze.

@jayunit100 Can you clarify if SIG Network need to do anything?

[2021-05-13 23:11] JamesLaverack commented on #2558
/stage alpha
/milestone v1.22

[2021-05-13 23:20] JamesLaverack commented on #2558
With https://github.com/kubernetes/enhancements/pull/2560 merged this enhancement is complete for 1.22 enhancements freeze.

/sig architecture
I'd ask if SIG Architecture, who are listed in your [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2558-publish-version-openapi/kep.yaml) as a participating SIG, need to do anything for this in 1.22 and if they're s

[2021-05-13 23:46] dims commented on #2558
@JamesLaverack it's all good. thanks for the heads up.

[2021-05-14 02:01] supriya-premkumar commented on #2273
👋🏽 Hi @vinaykul @ehashman

This is Supriya, v1.22 enhancement shadow. After reviewing the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2273-kubelet-container-resources-cri-api-changes/README.md) and [PRR](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2273-kubelet-container-resources-cri-api-changes/kep.yaml). This enhancement is now being tracke

[2021-05-14 02:21] reylejano commented on #1495
Hi @bswartz ,

I see that the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1495-volume-populators/kep.yaml) has been updated in [PR 2738](https://github.com/kubernetes/enhancements/pull/2738).
I see the `latest-milestone` has been updated to "v1.22" and the `beta` milestone is now "v1.23".
Can you verify if this enhancement will be part of the 1.22 release sin

[2021-05-14 02:36] reylejano commented on #1495
Hi @bswartz,

This enhancement can be tracked as `alpha` for the 1.22 release. In the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1495-volume-populators/kep.yaml), the value of `stage` needs to change to "alpha" . Currently it's "beta" which looks to be for the 1.23 release.

[2021-05-14 02:56] bswartz commented on #1495
Yes we're doing a redesign, and adding a new API field, which requires the feature to remain alpha for one more release. There will be PRs implementing the proposed changes shortly. Definitely aimed at v1.22.

[2021-05-14 04:43] SergeyKanzhelev commented on #281
Yep, sorry forgot to mark another PR that actually declares deprecation: https://github.com/kubernetes/enhancements/pull/2735

[2021-05-14 05:35] wojtek-t commented on #1672
During PRR we decide to target alpha here.

/stage alpha

[2021-05-14 05:35] wojtek-t commented on #1672
@JamesLaverack ^^

[2021-05-14 06:51] JamesLaverack commented on #1672
Thanks for the update @wojtek-t

With https://github.com/kubernetes/enhancements/pull/2725 merged, this enhancement is all good for 1.22 enhancements freeze as an alpha feature. 🎉

[2021-05-14 07:14] saschagrunert commented on #2413
Hey @jrsapi :wave:, I think SIG Security only needs to be aware that this KEP exists, so it's just informal. :blush:

[2021-05-14 07:37] JamesLaverack commented on #284
Hi @gnufied, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please file this as early as possible.

Thanks!
/milestone clear

[2021-05-14 07:47] JamesLaverack commented on #859
Hi @seans3, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release as there is no beta graduation criteria in [your KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/859-kubectl-headers/README.md#graduation-criteria).

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/mas

[2021-05-14 07:51] JamesLaverack commented on #1495
Hi @bswartz, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 as the change to a alpha-stage enhancement has not been updated (i.e., `stage` in your `kep.yaml` is incorrect, labels on this issue are incorrect).

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to a

[2021-05-14 07:57] JamesLaverack commented on #1979
Hi @wlan0, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please file this as early as possible.

Thanks!
/milestone clear

[2021-05-14 08:00] JamesLaverack commented on #2033
Hi @AkihiroSuda, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release due to https://github.com/kubernetes/enhancements/pull/1371 not being approved.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please

[2021-05-14 08:01] JamesLaverack commented on #2086
Hi @maplain, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please file this as early as possible.

Thanks!
/milestone clear

[2021-05-14 08:04] JamesLaverack commented on #2395
Hi @andrewsykim, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please file this as early as possible.

Thanks!
/milestone clear

[2021-05-14 08:06] JamesLaverack commented on #2535
Hi @mikebrow, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please file this as early as possible.

Thanks!
/milestone clear

[2021-05-14 08:07] JamesLaverack commented on #2639
Hi @mkimuram, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please file this as early as possible.

Thanks!
/milestone clear

[2021-05-14 08:09] JamesLaverack commented on #2644
Hi @deepakkinni, 1.22 Enhancements Lead here. :wave: With enhancements freeze now in effect we are removing this enhancement from the 1.22 release.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to add this back to the release. If you plan to do so, please file this as early as possible.

Thanks!
/milestone clear

[2021-05-14 08:13] JamesLaverack commented on #2727
Hi @bowei, 1.22 Enhancements Lead here. We're not removing this from 1.22, but can you address [John's comment](https://github.com/kubernetes/enhancements/pull/2728#discussion_r632152379) about updating your kep.yaml metadata to match your KEP README?

[2021-05-14 08:20] yuzhiquan commented on #2727
/cc

[2021-05-14 08:25] JamesLaverack commented on #1732
/milestone clear

[2021-05-14 08:26] JamesLaverack commented on #2458
/milestone clear

[2021-05-14 08:30] JamesLaverack commented on #2702
/milestone v1.22

[2021-05-14 11:53] bswartz commented on #1495
You're correct that the feature is staying alpha, but we've redesigned it, and there is an API change coming in 1.22. Are you really not interested in tracking that?

[2021-05-14 12:02] ahg-g commented on #2458
@JamesLaverack sorry, I missed to add this to the spreadsheet, I thought it was already there. The KEP is already merged and doesn't need updating. Can we add it back to v1.22?

[2021-05-14 12:10] JamesLaverack commented on #2458
Hey @ahg-g. As enhancements freeze has passed we can't add it in directly at this point. But if the KEP is fully up to date already then I'd highly suggest filing an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to get it added in.

[2021-05-14 12:40] ahg-g commented on #2458
Thanks, I just sent a request for the exception.

[2021-05-14 13:34] verb commented on #1441
Tracking the following issues and feature requests for the 1.22 cycle:

- [ ] kubernetes/kubernetes#98253: `kubectl debug` does not work on tainted nodes
- [ ] kubernetes/kubernetes#97103: Allow setting capabilities for debug containers
- [ ] kubernetes/kubectl#1051: Allow setting `--privileged` for node debug containers
- [x] kubernetes/kubernetes#98362: Cannot enter process namespace with target

[2021-05-14 13:38] xing-yang commented on #2644
KEP is here but not merged yet: https://github.com/kubernetes/enhancements/pull/2680

[2021-05-14 13:48] JamesLaverack commented on #1495
It's just the `stage` key in your [`kep.yaml`](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1495-volume-populators/kep.yaml#L23) file. Those files are read by automated tools, and so part of our responsibility is to ensure that they are correct.

As enhancements freeze has passed, I would suggest filing [an exception](https://github.com/kubernetes/sig-release/blob/master

[2021-05-14 14:36] #1451 closed

[2021-05-14 15:47] bowei commented on #2727
Got it, updating.

[2021-05-14 15:49] MadhavJivrajani commented on #277
I would like to help out with the efforts for 1.23 too @verb!

[2021-05-14 16:03] bswartz commented on #1495
Thanks @JamesLaverack
Please see https://github.com/kubernetes/enhancements/pull/2742

[2021-05-14 16:52] verb commented on #277
Thanks @pacoxu and @MadhavJivrajani! I've added you to a slack thread in #sig-node that we can use to coordinate.

The description of this issue has a list of issues in the "Future Work" section. These are are available, so feel free to take on that looks interesting and assign it to yourself.

https://github.com/kubernetes/enhancements/issues/1441#issuecomment-841248176 has open kubectl debug FRs

[2021-05-14 17:25] Nivedita-coder commented on #1441
I would like to work on this https://github.com/kubernetes/kubernetes/issues/98253.

[2021-05-14 17:29] bowei commented on #2727
@ehashman do we need an exception request?

[2021-05-14 17:53] verb commented on #1441
Hi @Nivedita-coder, I'm glad you're interested in contributing! kubernetes/kubernetes#98431 is already out with a fix for that one. Any interest in the issues listed in the description of #277? If you're interested in `kubectl debug` then perhaps kubernetes/kubernetes#102008?

[2021-05-14 17:56] ehashman commented on #1967
Let me revive https://github.com/kubernetes/website/pull/27086 and then this will be complete for 1.22.

[2021-05-14 18:28] palnabarun commented on #1122
/remove-lifecycle stale

[2021-05-14 18:33] tallclair commented on #1872
@lavalamp I agree that solving this in a general way makes sense. I filed https://github.com/kubernetes/kubernetes/issues/102019 to capture the feature reqeust.

[2021-05-14 18:37] xing-yang commented on #1122
@JamesLaverack We are fine from SIG-Storage side.  Thanks for the reminder!

[2021-05-14 20:15] SergeyKanzhelev commented on #2727
It is in the tracking document: https://docs.google.com/spreadsheets/d/1mlui0brYypOAsgS2D13fvcs3At1uMq4i1gWfneq-jxY/edit#gid=1954476102 and was merged in time. Also @ehashman counted it in the Slack message =).

We generally not encouraging last minute KEPs so we have a proper planning and be respectful for reviewers time. I think this one is not controversial and it is great that it got merged in

[2021-05-14 21:04] ddebroy commented on #1122
Sorry for missing the prior three posts here @JamesLaverack . All the remaining changes to hit GA/stable will be out of tree in https://github.com/kubernetes-csi/csi-proxy . Michelle Au from sig-storage did review the APIs for csi-proxy and we will be addressing that feedback (already reflected in the KEP) before GA.

[2021-05-14 23:40] PxyUp commented on #2727
@bowei thanks for leading that, sadly i haven't time to finish my proposal. I did MR for prober long time ago mb commits will be also usefull:

https://github.com/kubernetes/kubernetes/pull/89832

[2021-05-15 12:34] mailhari opened #2749 "Option for scheduler to call extender based on pod's labels/annotations"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Option to call scheduler-extender only for pods that extender is interested
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/kubernetes/issues/101776
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/101776
- Primary contact (assignee): mailhari
- Responsible SIGs: sig-sch

[2021-05-15 12:39] mailhari commented on #2749
/sig scheduling

[2021-05-17 02:52] pacoxu commented on #2506
https://github.com/kubernetes/kubernetes/pull/101915 will remove it in 1.22.

[2021-05-17 04:59] benhxy commented on #2510
/remove-lifecycle stale

[2021-05-18 00:46] JamesLaverack commented on #1495
Hi @bswartz, as per the [discussion](https://groups.google.com/g/kubernetes-sig-release/c/bQvLB1youRg/m/gwKUHzgZAwAJ) on the SIG Release mailing list this enhancement's exception request has been **approved**.

Additionally, with https://github.com/kubernetes/enhancements/pull/2742 merged this is now tracked for 1.22. :)

/milestone v1.22

[2021-05-18 01:04] JamesLaverack commented on #2458
Hi @ahg-g, as per the [discussion](https://groups.google.com/g/kubernetes-sig-release/c/HGpHwSxPEX0/m/XsDI49gYAwAJ) on the SIG Release mailing list, this enhancement's exception request has been **approved**.

With https://github.com/kubernetes/enhancements/pull/2741 merged your enhancement is in a good state for 1.22. I have added it to the tracking sheet.

As a general comment, should the `metri

[2021-05-18 01:11] JamesLaverack commented on #859
Hey @seans3, as per the [discussion](https://groups.google.com/g/kubernetes-sig-release/c/77-RzG3rcko/m/Mmq0tmn-AwAJ) on the SIG Release mailing list this enhancement's exception request has been **approved**.

With https://github.com/kubernetes/enhancements/pull/2747 merged, this is in a good state for 1.22.

/milestone v1.22

[2021-05-18 02:56] yuzhiquan commented on #2727
/assign

I would like to take this from here, and base on @PxyUp work https://github.com/kubernetes/kubernetes/pull/89832.

[2021-05-18 05:56] bowei commented on #2727
I can review if you are willing to commit to getting this into 1.22

[2021-05-18 06:25] yuzhiquan commented on #2727
Sure, we will keep in touch for this feature.

[2021-05-18 09:53] PI-Victor commented on #536
Heya @robscott, Docs release lead for 1.22, this KEP did not opt-in for docs changes for this release, however i have one question, does this KEP deprecate `ServiceTopology` feature gate? As i understand it, this would be replaced by `Topology Aware Hints`

Please correct me if i'm wrong, but I believe it needs to be moved in the documentation to the [deprecated features table](https://kubernetes.

[2021-05-18 09:59] PI-Victor commented on #1040
Heya @wojtek-t, Docs release lead for 1.22 here, this KEP did not opt-in for any docs changes for the upcoming 1.22 release, could you please confirm that this is true and there are no docs updates required?

thank you

[2021-05-18 10:13] PI-Victor commented on #1693
Heya @liggitt Docs release lead for 1.22 here, this KEP did not opt-in for docs changes for 1.22, however, and please correct me if i'm wrong, it seems that one of you PRs marks `WarningHeaders` as GA, this would mean that the [feature gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features) table in the docs needs to reflect

[2021-05-18 10:25] PI-Victor commented on #541
Hello @ankeesler  :wave:, 1.22 Docs release lead here.

This enhancement is marked as ‘Needs Docs’ for 1.22 release.
Please follow the steps detailed in the documentation to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Fri July 9, 11:59 PM PDT**.
Also, take a look at Documenting for a release to familiarize you

[2021-05-18 10:27] PI-Victor commented on #542
Hello @zshihang   :wave:, 1.22 Docs release lead here.

This enhancement is marked as ‘Needs Docs’ for 1.22 release.
Please follow the steps detailed in the documentation to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Fri July 9, 11:59 PM PDT**.
Also, take a look at Documenting for a release to familiarize you

[2021-05-18 10:36] PI-Victor commented on #555
Hello @apelisse  👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release. Please follow the steps detailed in the documentation to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 11:59 PM PDT. Also, take a look at Documenting for a release to familiarize yourself with

[2021-05-18 10:38] wojtek-t commented on #1040
@PI-Victor - no new docs required

[2021-05-18 10:49] PI-Victor commented on #970
Hello @neolit123   👋, 1.22 Docs release lead here.

This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Can you confirm that https://github.com/kubernetes/website/pull/28010 is related to this KEP?
If there are any other changes that need docs updates, please open a PR against k/website dev-1.22 branch before **Fri July 9, 11:59 PM PDT** (docs placeholder PR deadline).
thank you

[2021-05-18 10:56] PI-Victor commented on #1122
Hello @ddebroy   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 11:59 PM PDT. Also, take a look at Documenting for a release to familiarize yourself with

[2021-05-18 11:05] PI-Victor commented on #1495
Hello @bswartz   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 11:59 PM PDT. Also, take a look at Documenting for a release to familiarize yourself with

[2021-05-18 11:17] PI-Victor commented on #1591
Hello @ravisantoshgudimetla   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 11:59 PM PDT. Also, take a look at Documenting for a release to familiarize

[2021-05-18 11:25] PI-Victor commented on #1981
Hello @marosset   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9

[2021-05-18 11:39] PI-Victor commented on #2047
Hello @zshihang   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9

[2021-05-18 11:43] PI-Victor commented on #2238
Hello @ehashman   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9

[2021-05-18 11:43] neolit123 commented on #970
That PR is not related. We have enough time to sent the website PRs for
this work. Thank you for the reminder.

[2021-05-18 11:45] PI-Victor commented on #2371
Hello @haircommander  @bobbypage  👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created b

[2021-05-18 11:53] PI-Victor commented on #2485
Hello @chrishenzie   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri Jul

[2021-05-18 11:57] PI-Victor commented on #2727
Hello @bowei   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 1

[2021-05-18 13:42] liggitt commented on #1693
sure, https://github.com/kubernetes/website/pull/28032

[2021-05-18 14:29] JamesLaverack commented on #2086
Hi @maplain, as [discussed](https://groups.google.com/g/kubernetes-sig-release/c/PTRqQTorb7c/m/izp7WjZBBAAJ) on the SIG Release mailing list, this enhancement's exception request has been **approved**.

With https://github.com/kubernetes/enhancements/pull/2733 merged, your KEP is in a good state. However I have a quick question before I set it as "Tracked" on the spreadsheet:
* Why are you missing

[2021-05-18 16:16] spiffxp commented on #2283
/remove-lifecycle stale
https://github.com/kubernetes/enhancements/pull/2753 will fix this

[2021-05-18 16:16] spiffxp commented on #2283
/assign

[2021-05-18 16:19] spiffxp commented on #2276
/remove-lifecycle stale
Once https://github.com/kubernetes/enhancements/pull/2753 merges, it should be possible to add a job config in kubernetes/test-infra that ends up calling `make test tools`

[2021-05-18 16:27] spiffxp commented on #2348
I have zero strong opinions on a "better" way to define/implement all of the types and validation.  But I do like tests, so:
- https://github.com/kubernetes/enhancements/pull/2753 gets `make test` working again
- I'm working on a followup PR to add test coverage for `kepctl query`
- Then some `kepctl query` flag additions after that

If it's not too painful to improve validation along the way I'll

[2021-05-18 18:05] pjbgf commented on #24
happy to help here, targeting `1.23`.

/assign

[2021-05-18 18:05] pjbgf commented on #24
/remove-help

[2021-05-18 20:55] smarterclayton commented on #1847
Be sure to update the description here to https://github.com/kubernetes/enhancements/pull/2440 instead of the old kep

[2021-05-18 22:09] apelisse commented on #555
Thanks, we've already updated most of the documentation in master branch, earlier this cycle. We should be good to go!

Done here: https://github.com/kubernetes/website/pull/28038

[2021-05-18 22:10] vivekpatani opened #2754 "etcd changes: namespace quota management"
# Enhancement Description
- One-line enhancement description (can be used as a release note): The etcd community is evaluating the introduction of namespace quota management within etcd. It addresses storage isolation and multi tenancy among other things.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/kubernetes/issues/102078
- Discussion Link: https://github.com/kubernetes/kuber

[2021-05-18 23:06] robscott commented on #536
Hey @PI-Victor, you're right that we'll need to update the docs to note that this feature has been deprecated. The API deprecation actually already happened in 1.21 and we'll be working on removing the functionality in 1.22: https://github.com/kubernetes/kubernetes/pull/96736.

[2021-05-19 00:28] #2506 closed

[2021-05-19 01:44] carlisia commented on #859
Hello @pwittrock  :wave:, 1.22 Docs Shadow here.
This enhancement is marked as ‘Needs Docs’ for the 1.22 release.

Please follow the steps detailed in the [documentation to open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the k/website repo. This PR can be just a placeholder at this time and must be created before **Fri Ju

[2021-05-19 01:49] carlisia commented on #2133
Hello @andrewsykim  :wave:, 1.22 Docs Shadow here.
This enhancement is marked as ‘Needs Docs’ for the 1.22 release.

Please follow the steps detailed in the [documentation to open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the k/website repo. This PR can be just a placeholder at this time and must be created before **Fri

[2021-05-19 01:52] carlisia commented on #2249
Hello @ahg-g  :wave:, 1.22 Docs Shadow here.
This enhancement is marked as ‘Needs Docs’ for the 1.22 release.

Please follow the steps detailed in the [documentation to open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the k/website repo. This PR can be just a placeholder at this time and must be created before **Fri July 9

[2021-05-19 01:53] carlisia commented on #2255
Hello @ahg-g  :wave:, 1.22 Docs Shadow here.
This enhancement is marked as ‘Needs Docs’ for the 1.22 release.

Please follow the steps detailed in the [documentation to open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the k/website repo. This PR can be just a placeholder at this time and must be created before **Fri July 9

[2021-05-19 02:00] carlisia commented on #2458
Hello @ahg-g  :wave:, 1.22 Docs Shadow here.
This enhancement is marked as ‘Needs Docs’ for the 1.22 release.

Please follow the steps detailed in the [documentation to open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the k/website repo. This PR can be just a placeholder at this time and must be created before **Fri July 9

[2021-05-19 03:32] ritpanjw commented on #2579
Hello **@tallclair** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Fri J

[2021-05-19 05:33] frittentheke commented on #837
/remove-lifecycle stale

[2021-05-19 06:06] ritpanjw commented on #2570
Hello **@xiaoxubeii** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#for-developers-or-other-sig-members) against `dev-1.22` branch in the `k/website repo`. This PR can be just a placeholder at this time and must be created

[2021-05-19 06:19] xiaoxubeii commented on #2570
@ritpanjw OK, thanks for reminding.

[2021-05-19 16:56] eddiezane commented on #2211
/remove-lifecycle stale

[2021-05-19 18:39] chrisnegus commented on #2161
Hi @jayunit100 ! I'm @chrisnegus , a Docs Shadow for release 1.22.
This enhancement is marked as Needs Docs for the 1.22 release.

Please follow the steps [detailed in the documentation to open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the kubernetes/website repo. This PR can be just a placeholder at this time and must b

[2021-05-19 18:50] ritpanjw commented on #752
Hello **@swetharepakula** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **

[2021-05-19 18:54] ritpanjw commented on #1602
Hello @serathius 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Fri July

[2021-05-19 19:03] ritpanjw commented on #1669
Hello **@andrewsykim** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Fri

[2021-05-19 19:05] ritpanjw commented on #1672
Hello **@andrewsykim** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Fri

[2021-05-19 19:08] ritpanjw commented on #1864
Hello **@hanlins** and **@andrewsykim** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be cre

[2021-05-19 19:12] ritpanjw commented on #1959
Hello **@andrewsykim** and **@XudongLiuHarold** 👋, 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must

[2021-05-19 19:15] ritpanjw commented on #2079
Hello **@rikatz** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Fri July

[2021-05-19 19:20] ritpanjw commented on #2317
Hello @gnufied 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Fri July 9,

[2021-05-19 19:23] chrisnegus commented on #2185
Hi @damemi  ! I'm @chrisnegus , a Docs Shadow for release 1.22.
This enhancement is marked as Needs Docs for the 1.22 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.22 branch (https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the kubernetes/website repo. This PR can be just a placeholder at this time and must be cr

[2021-05-19 19:23] ritpanjw commented on #2568
Hello **@vinayakankugoyal** 👋 , 1.22 Docs Shadow here.

This enhancement is marked as **Needs Docs** for 1.22 release.
Please [follow the steps detailed in the documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against `dev-1.22` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before

[2021-05-19 19:33] haircommander commented on #2371
thanks for the heads up @PI-Victor !

[2021-05-19 19:46] KnVerey commented on #2299
/assign @KnVerey
/kind feature
/stage alpha

[2021-05-19 19:57] KnVerey commented on #2206
/kind feature
/assign @natasha41575

@natasha41575 I'm thinking this should have "/stage beta" since it has already been implemented in Kustomization (which itself is a beta kind) and is not behind an alpha flag. I'm also thinking the milestone should be set to 1.22, since that's both when the feature merged in Kustomize and likely the kubectl release it will show up in. Could you please update th

[2021-05-19 20:21] chrisnegus commented on #2307
Hi @alculquicondor  ! I'm @chrisnegus , a Docs Shadow for release 1.22.
This enhancement is marked as Needs Docs for the 1.22 release.

Please follow the steps detailed in the [documentation to open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the kubernetes/website repo. This PR can be just a placeholder at this time and m

[2021-05-19 20:32] chrisnegus commented on #2436
Hi @jiahuif ! I'm @chrisnegus , a Docs Shadow for release 1.22.
This enhancement is marked as Needs Docs for the 1.22 release.

Please follow the steps detailed in the documentation to [open a PR against dev-1.22 branch](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in the kubernetes/website repo. This PR can be just a placeholder at this time and must be c

[2021-05-19 20:42] chrisnegus commented on #2590
Hi @nikhita 👋 1.22 Docs Shadow here.
This enhancement is marked as Needs Docs for the 1.22 release.

Please follow the steps detailed in the [documentation to open a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against dev-1.22 in the kubernetes/website repo. This PR can be just a placeholder at this time and must be created before *Fri July 9, 11:59 P

[2021-05-19 23:13] ehashman commented on #2400
## Work breakdown for 1.22

- Documentation for enabling swap (TBD - @ehashman?)
- CI environment/test updates (@ike-ma)
  - Build images with swap for 2 Linux distros
  - Add jobs to test-infra that use the images and enable the swap feature flag/kubelet option for node e2e suite
  - See also [Test Plan](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2400-node-swap#test-plan

[2021-05-20 01:21] ykakarap commented on #2590
@chrisnegus Thanks for the heads-up! :)

Will follow the steps to do it.

[2021-05-20 04:13] XudongLiuHarold commented on #1959
Hi @ritpanjw , I have created a draft PR here: https://github.com/kubernetes/website/pull/28051 , thanks.

[2021-05-20 18:39] tallclair commented on #1558
We need to update https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-graduated-or-deprecated-features with the state of `StreamingProxyRedirects` and `ValidateProxyRedirects`.

[2021-05-20 23:14] natasha41575 commented on #2206
/stage beta

[2021-05-20 23:16] natasha41575 commented on #2206
@KnVerey updated the description with your suggestions

I'm also closing this issue because we have finished implementing what we intended to with this KEP. Thanks!

[2021-05-20 23:16] #2206 closed

[2021-05-21 00:54] feiskyer commented on #1435
@janosi any github issues to track the problem and what's the plan to fix it?

[2021-05-21 01:24] vinayakankugoyal opened #2763 "Support for ambient capabilities in kubernetes."
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support ambient capabilities in kubernetes.
- Kubernetes Enhancement Proposal:   https://github.com/kubernetes/enhancements/pull/2757
- Discussion Link:   https://github.com/kubernetes/kubernetes/issues/56374
- Primary contact (assignee): @vinayakankugoyal
- Responsible SIGs: sig-security
- Enhancement ta

[2021-05-21 01:25] vinayakankugoyal commented on #2763
/sig security

[2021-05-21 14:41] annajung commented on #620
- create glossary PR https://github.com/kubernetes/enhancements/pull/2762
- create PR templates PR https://github.com/kubernetes/enhancements/pull/2760
- exceptions process update PR https://github.com/kubernetes/enhancements/pull/2656

[2021-05-22 19:24] thockin commented on #423
Is there any reason this should not be closed ?

[2021-05-22 19:27] nckturner commented on #423
I’d vote for tracking it in the cloud-provider-aws repository.

On Sat, May 22, 2021 at 12:24 PM Tim Hockin ***@***.***>
wrote:

[2021-05-23 11:37] vinaykul commented on #1287
IIRC, unless things changed, VPA is opt-in. Please look into whether updateMode = "Off" or no VPA object works for you.

[2021-05-23 18:18] sftim commented on #1287
To follow-up the [question](https://github.com/kubernetes/enhancements/issues/1287#issuecomment-839591477), let's say I want to make sure that I can use the VPA for in-place updates. Can I specify in my pod template (eg for a Deployment) that the Pods from that template prefer to run on nodes that support this new feature? Will that be a future enhancement?

[2021-05-24 01:12] YuikoTakada commented on #2268
/remove-lifecycle stale

[2021-05-24 01:15] YuikoTakada commented on #2268
Thank you for this issue.
it would be better to update this issue's description according to:
[code]
Thanks!

[2021-05-24 06:28] fujitatomoya commented on #1948
/remove-lifecycle stale

[2021-05-24 16:44] damemi commented on #2185
Hi @chrisnegus, I opened the placeholder PR here: https://github.com/kubernetes/website/pull/28102
Besides the status change from Alpha to Beta, I think the only other user-facing change for this release will be a KCM metric we planned to add (from the discussion in https://github.com/kubernetes/enhancements/pull/2691). Do those get documented as well?

[2021-05-24 16:50] msjingli opened #2767 "Extending dockershim removal to Kubernetes 1.24 instead of 1.23"
# Enhancement Description
- One-line enhancement description (can be used as a release note): There're Kubernetes distros and customers who are using docker runtime are struggling to move to ContainerD. Would be appreciated more time for stabilization and validation.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2221-remove-dockershim/READM

[2021-05-24 17:00] msjingli commented on #2767
https://github.com/kubernetes/enhancements/issues/2221, from this link it sounds like dockershim will be removed in Kubernetes 1.24. But in Kubernetes blog (https://kubernetes.io/blog/2020/12/02/dockershim-faq/), dockershim will be removed in 1.23. Can anyone help to confirm? Thanks.

[2021-05-24 17:04] immuzz commented on #2767
@jsturtevant @craiglpeters @dims @SergeyKanzhelev @immuzz

[2021-05-24 21:44] kikisdeliveryservice commented on #2519
/remove-lifecycle stale

[2021-05-25 00:26] JamesLaverack commented on #2033
Hey @AkihiroSuda, as per the [discussion](https://groups.google.com/g/kubernetes-sig-release/c/eggXiBwlzw8/m/ODnL8DYbAQAJ) on the SIG Release mailing list this enhancement's exception request has been **approved**.

With #1371 merged, this is in a good state for 1.22.

/milestone v1.22

[2021-05-25 01:53] aravindhp commented on #2767
As indicated by @dims, the [KEP](https://github.com/kubernetes/enhancements/commit/72ac3ef88e03d262e26142a663729e01ac3a1979#diff-91305cc5ae844ef043997e51f6639c3c37364a7c1996362af88a24508575a004R141) has been updated to reflect 1.24.

[2021-05-25 05:58] bowei commented on #2727
Docs draft: https://github.com/kubernetes/website/pull/28105

[2021-05-25 08:51] giuseppe commented on #2254
opened a draft PR here: https://github.com/kubernetes/website/pull/28106

[2021-05-25 09:03] giuseppe commented on #2254
do you have any example of what should end up in the documentation for this feature?

[2021-05-25 14:52] #542 closed

[2021-05-25 15:51] chrishenzie commented on #2485
Hello @PI-Victor, I drafted a PR for kubernetes/website [here](https://github.com/kubernetes/website/pull/28114). Thanks!

[2021-05-25 15:57] jsturtevant commented on #2767
To be clear, this means it will stay in tree for 1.23 but will be removed in 1.24?

[2021-05-26 09:37] pacoxu commented on #1602
According to https://github.com/kubernetes/enhancements/issues/2395, Removing In-Tree Cloud Providers #2395 is in process.  @andrewsykim

IMO, codes under staging/src/k8s.io/legacy-cloud-providers/ would not be included in the structured log process.
https://github.com/kubernetes/kubernetes/pulls?q=log+in%3Atitle+is%3Apr+is%3Aopen+azure+
https://github.com/kubernetes/kubernetes/pulls?q=log+in%3Ati

[2021-05-26 13:51] 44past4 commented on #1753
The effort will be taken over and continued by vantuvt@.

[2021-05-26 19:18] PI-Victor commented on #281
Hello @SergeyKanzhelev  :wave:, 1.22 Docs release lead here.

This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created befor

[2021-05-26 19:25] PI-Victor commented on #1769
Hello @cezaryzukowski 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri Ju

[2021-05-26 19:27] PI-Victor commented on #1790
Hello @gnufied 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 1

[2021-05-26 19:28] PI-Victor commented on #1847
Hello @mattcary 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9,

[2021-05-26 19:29] PI-Victor commented on #2033
Hello @AkihiroSuda 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July

[2021-05-26 19:31] PI-Victor commented on #2040
Hello @mrunalp  👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9,

[2021-05-26 19:32] PI-Victor commented on #2365
Hello @hbagdi 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 11

[2021-05-26 19:34] PI-Victor commented on #2558
Hello @thockin 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 1

[2021-05-26 19:40] PI-Victor commented on #2702
Hello @supriya-premkumar 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri

[2021-05-26 19:41] PI-Victor commented on #2712
Hello @mrunalp 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 1

[2021-05-26 19:42] PI-Victor commented on #1287
Hello @vinaykul 👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9,

[2021-05-26 22:22] BenTheElder commented on #2767
What happened to cri-dockerd / external dockershim? Just like cloud providers there's no requirement that CRI be in-tree, and there's no requirement to move to containerd speficially.

[2021-05-26 22:49] mrbobbytables commented on #2767
Agree with @BenTheElder, I thought Mirantis was picking up stewardship of dockershim externally?

[2021-05-26 23:35] dims commented on #2767
yep, https://github.com/Mirantis/cri-dockerd is already out.

[2021-05-26 23:41] dims commented on #2767
@jsturtevant that's what the KEP currently as checked in says. I am debating if i should do a `dockerless` kublet in 1.23 (keep the code in-tree but we ship without docker support, so if anyone needs it then they need to build it themselves)

[2021-05-27 02:37] immuzz commented on #2767
@dims i think it would make a huge difference for folks using DIY K8s if you can ship in 1.23 with docker support.

[2021-05-27 03:06] aravindhp commented on #2767
+1 to this

[2021-05-27 10:01] cezaryzukowski commented on #1769
@PI-Victor @jrsapi Sorry for not replying. Thanks, I will create placeholder till July 9.

[2021-05-27 12:39] adrianreber commented on #2008
/remove-lifecycle stale

Still working on it.

[2021-05-27 13:55] mrbobbytables commented on #2767
FYI - this should probably be closed, the associated tracking issue was updated with this information:
https://github.com/kubernetes/enhancements/issues/2221

[2021-05-27 16:22] #2767 closed

[2021-05-27 21:56] dims commented on #2095
If only we had a website, things like this would be easy ...

https://groups.google.com/g/kubernetes-sig-architecture/c/EDebihCHoOo/m/qARtjfMFBAAJ

[2021-05-27 23:37] justaugustus commented on #2095
@kubernetes/enhancements -- is anyone interested in jamming on this?

xref: https://kubernetes.slack.com/archives/C1TU9EB9S/p1622152774064000?thread_ts=1614832950.095600&cid=C1TU9EB9S

[2021-05-28 05:18] shekhar-rajak commented on #2095
I tried some prototype:

To make easy to search KEPs and get the details in few clicks, we can have :

1. Get the data in the form of JSON/YAML using `kepctl query` - whenever there is new KEP is merged, CI/CD tool can trigger it and store it in file.
2. We can use the same Hugo template: https://github.com/kubernetes/website to display the content of the file in table, use the metadata available

[2021-05-28 15:42] ykakarap opened #2768 "revamp prow approval plugin with granular approval support"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add granular approval support to the prow approval plugin
- Kubernetes Enhancement Proposal:  <TODO>
- Discussion Link:
    - Discussed in SIG Testing on May 18 2021 - [notes](https://docs.google.com/document/d/1z8MQpr_jTwhmjLMUaqQyBk1EYG_Y_3D4y4YdMJ7V1Kk/edit#)
    - Recording Link <TODO: add link when r

[2021-05-28 15:43] ykakarap commented on #2768
/sig testing

[2021-05-28 15:44] ykakarap commented on #2768
/assign

[2021-05-28 16:41] salaxander commented on #2095
@justaugustus I am 10000% interested in jamming on this

[2021-06-01 13:06] mrbobbytables commented on #2768
/sig contributor-experience

[2021-06-01 15:06] palnabarun commented on #1424
/assign

I am investigating things that we need to achieve the above for kubectl.

[2021-06-01 18:09] huffmanca commented on #2324
/remove-lifecycle rotten

[2021-06-02 04:14] Huang-Wei commented on #1923
To ensure everyone on the same page: we requested an exceptional feature request to 1.22 and has been approved by both sig-scheduling and sig-release. Now the KEP's update has been merged.

[2021-06-02 04:20] chendave commented on #1923
Thanks @Huang-Wei  for the clarification!

[2021-06-02 08:12] wzshiming opened #2771 "Supports https for httpGet of Lifecycle"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Supports https for httpGet of Lifecycle
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2772
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
  - sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): v

[2021-06-02 10:32] wzshiming commented on #2771
/sig node

[2021-06-02 16:32] JamesLaverack commented on #2086
Hi @maplain just pinging you again on this. We're currently recording this as "At Risk" as we're not confirmed about the above question. Do you need the `metrics` field in your `kep.yaml`? Or is there some reason why it's not required for this enhancement?

[2021-06-02 17:57] eddiezane opened #2775 "kubectl delete interactivity and delay"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
  - Add a new `--interactive | -i` flag to `kubectl delete` that will require confirmation before deleting resources. This flag will be false by default.
  - `kubectl delete [--all | --all-namespaces]` will warn about the destructive action that will be performed and artificially delay for x seconds allow

[2021-06-02 17:58] JamesLaverack commented on #19
Hey @soltysh. 1.22 Enhancements Lead here.

I'm [led to understand](https://github.com/kubernetes/website/pull/28229) that this enhancement is expecting k/k changes in 1.22, but we're not currently tracking this enhancement for the release.

If you would like to include k/k changes in 1.22, we require that this enhancement is tracked, and as enhancements freeze has passed this would require [an ex

[2021-06-02 18:53] andrewsykim commented on #2086
We never agreed on the name of metric, hence it's not in kep.yaml. But we know we want to add one which we'll do when we get around to the implementation

[2021-06-02 20:22] olemarkus commented on #1815
Hey. I am wondering how this proposal is progressing. Currently this blocks kops allowing users to more directly provide component configurations. (when using `kops replace/create -f ` kops reads labels to determine which cluster the configuration belongs to)

[2021-06-02 21:44] hyakuhei commented on #2775
"kubectl delete [--all | --all-namespaces] will warn about the destructive action that will be performed and artificially delay for x seconds allowing users a chance to abort."

Would it be worth considering adding a --delay option, with a default of <x> seconds? In this way, anyone who individually or with automation / scripts etc wants to quickly delete everything could do so with "--delay 0"

[2021-06-02 22:45] kikisdeliveryservice commented on #2086
Thanks for the update @andrewsykim This sounds fine, once the metric is named, please update the kep.yaml and also the TODO in the KEP itself (see: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy#monitoring-requirements).

@JamesLaverack & team : can you keep this on your radar to make sure it doesn't get lost in the shuffle?

[2021-06-03 00:04] phenixblue commented on #1815
@olemarkus it has not been progressing for some time now. I didn't have the time to keep up with the granularity and infrequency of feedback to just get the KEP to a place to start implementing this. Let me see if I can rekindle the effort or at least hand it off to someone with more availability

[2021-06-03 00:59] raghvenders commented on #2775
@hyakuhei - I asked the same in the meeting as well. Looks like currently it is targeted for client execute command. I am not sure if it can be handled at any predefined config level or kubeconfig or properties

[2021-06-03 00:59] raghvenders commented on #2775
/assign raghvenders

[2021-06-03 01:06] raghvenders commented on #2775
@eddiezane, kindly guide me on how to move forward to work on this issue.

[2021-06-03 02:15] abhiTamrakar commented on #2775
This is good, thanks guys.

[2021-06-03 09:53] pacoxu commented on #1769
https://github.com/kubernetes/kubernetes/pull/101947 is PR to promote this feature to beta.

[2021-06-03 10:01] feiskyer commented on #1490
@andyzhangx should we move this to GA now?

[2021-06-03 11:13] soltysh commented on #19
@JamesLaverack apologies it slipped through the crack, I submitted the exception request in https://groups.google.com/g/kubernetes-sig-release/c/LejSpoeCiWg

[2021-06-03 16:46] mattcary commented on #1847
@PI-Victor

A docs placeholder PR has been created (website/#28251)[https://github.com/kubernetes/website/pull/28251].

Thanks for coordinating this!

[2021-06-03 19:08] eddiezane commented on #2775
I'm working on the KEP and once it's approved and merged we can scope out the technical work.

[2021-06-03 21:05] kikisdeliveryservice commented on #2775
fixed discussion link in issue, was put into the incorrect field (prev in the KEP link field)

[2021-06-04 00:09] #2012 closed

[2021-06-04 00:15] mitar commented on #2012
Sorry, I do not have time to pursue this further.

[2021-06-04 11:41] vinayakankugoyal commented on #2763
/assign @vinayakankugoyal

[2021-06-04 11:43] vinayakankugoyal commented on #2568
/assign @vinayakankugoyal

[2021-06-04 13:52] #2771 closed

[2021-06-05 01:11] #2118 closed

[2021-06-05 07:49] marquiz commented on #2051
/reopen
/remove-lifecycle rotten

[2021-06-05 12:13] shekhar-rajak commented on #2095
Hi team,

I have started the first step towards KEP page in k8s.io/keps : https://github.com/kubernetes/website/pull/28295/

If any one want to contribute to it, feel free to commit on the branch. Let me know your suggestion/comments it is still work in progress.

[2021-06-06 10:09] afirth commented on #2775
Just here from the email thread. Perhaps you're already aware: GitHub, Travis, circleci, and many others set env `CI=true` to allow tools to detect that they are in a non-interactive environment even though there is a TTY

Personally I support making the "breaking" change, because to me there is a large difference between "we removed the functionality" and "restore the old functionality by adding

[2021-06-07 07:38] halfcrazy commented on #2674
xref https://github.com/kubernetes/kubernetes/issues/102613

[2021-06-07 08:49] soltysh commented on #1440
/remove-lifecycle stale

[2021-06-07 10:04] pacoxu commented on #1558
All items for 1.22 are done.

- [x] - PR: kubernetes/kubernetes#101647
- [x] - Docs: kubernetes/website#28065

[2021-06-07 14:35] jsafrane commented on #1487
/remove-lifecycle rotten

[2021-06-08 07:40] irozzo-1A commented on #2347
/remove-lifecycle stale

[2021-06-08 21:50] amwat commented on #2464
/remove-lifecycle stale

[2021-06-08 21:57] BenTheElder commented on #2464
Release cycles are now 4 months long. I don't believe this is accurate / the most reasonable anymore. fejta-bot stales an issue after 90 days (rotten + closed after 30 more), but release cycles are now roughly 1/3 a year ...

[2021-06-08 21:59] JamesLaverack commented on #19
Hey @soltysh. I'm just updating the tracking sheet for this issue after your [approved exception](https://groups.google.com/g/kubernetes-sig-release/c/LejSpoeCiWg/m/FtWBMrzzAgAJ). I note that [the kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/19-Graduate-CronJob-to-Stable/kep.yaml) for this enhancement hasn't been updated for 1.22 (by setting `latest-milestone: "v1

[2021-06-08 22:52] chaodaiG commented on #2539
This was done
/close

[2021-06-09 15:19] vinayakankugoyal commented on #2763
/milestone 1.23

[2021-06-09 16:44] #2160 closed

[2021-06-09 18:50] spiffxp commented on #2539
/remove-lifecycle stale
/reopen
@chaodaiG I'm not sure this is done?
- https://github.com/kubernetes/enhancements/blob/master/keps/sig-testing/2539-continuously-deploy-k8s-prow/kep.yaml shows this at "alpha"
- https://github.com/kubernetes/enhancements/tree/master/keps/sig-testing/2539-continuously-deploy-k8s-prow#beta---ga-graduation says testgrid should display prow's plank version before callin

[2021-06-09 18:53] chaodaiG commented on #2539
That's correct. I misread the policy

[2021-06-09 22:20] neolit123 commented on #2500
/remove-lifecycle stale

[2021-06-09 22:20] neolit123 commented on #2504
/remove-lifecycle stale

[2021-06-09 22:20] neolit123 commented on #2505
/remove-lifecycle stale

[2021-06-10 06:50] suigh opened #2779 "support custom queue for the scheduler"
# Enhancement Description
- One-line enhancement description (can be used as a release note): support custom queue for the scheduler
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/102271
- Primary contact (assignee): @suigh
- Responsible SIGs: sig-scheduling
- Enhancement target (which target equals to which milestone):
  - Alpha release targe

[2021-06-10 07:22] suigh commented on #2779
/sig scheduling

[2021-06-10 07:51] swatisehgal commented on #2044
/reopen
/remove-lifecycle rotten

[2021-06-10 12:36] fabriziopandini commented on #2502
/remove-lifecycle stale

[2021-06-10 18:06] vantuvt commented on #1753
Thanks, @44past4. Yes. I am interested in continuing this work although timelines remain TBD at the moment.

[2021-06-10 21:14] BenTheElder commented on #2420
another PR ... https://github.com/kubernetes/test-infra/pull/22524

moved to v1.23, as stable is waiting until then to drop lingering things related to older branches that are still supported and still using bazel

[2021-06-10 21:33] dcbw commented on #1880
[sig-network 2021-06-10] Waiting on Tim/others to review Antonio's PoC repo...

[2021-06-10 21:36] dcbw commented on #2593
[sig-network 2021-06-10] Waiting for SIG Network to decide whether to do this as a built-in or a CRD. Tim wants to see if we can define the type here as a CRD and make the controller built-in first. If we can't figure this out in the next few weeks, we'll just try to make it a built-in.

[2021-06-10 21:39] abhiraut commented on #2091
Update from 6/10/21 sig-network meeting:
- Get reviews from sig-network folks on user stories -> https://github.com/kubernetes-sigs/network-policy-api/pulls (added some folks on individual PRs)
- Need to close on some fundamental disagreements:
-- IPBlock (external traffic; original source IP or follow NetworkPolicy v1)
-- DNP CRD to solve weak (default) security rules or pick one of the alternati

[2021-06-11 10:27] jsafrane commented on #1489
/remove-lifecycle stale

[2021-06-14 08:17] serathius commented on #2508
/remove-lifecycle rotten
/lifecycle frozen

[2021-06-14 10:43] rtheis commented on #671
/remove-lifecycle stale

[2021-06-14 16:50] msau42 commented on #2263
/reopen

/remove-lifecycle rotten

[2021-06-15 00:13] brasmith-ms commented on #1981
Hi @PI-Victor, a draft PR against dev-1.22 has been created in the k/website repo with the feature gate table update as a placeholder. We'll be adding in more documentation this month.

[2021-06-15 08:28] soltysh commented on #19
This was updated in https://github.com/kubernetes/enhancements/pull/2778

[2021-06-15 19:25] enj opened #2784 "CSR Duration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): CSR Duration
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2784-csr-duration)
- Discussion Link:
  - https://github.com/kubernetes/kubernetes/issues/92678
  - [SIG Auth 2021-03-17 Meeting](https://youtu.be/DYfDiWgjiSE?t=175)
  - [SIG Auth 202

[2021-06-16 02:18] Pingan2017 opened #2785 "[WIP]Add fieldSelector for webhook"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements`)

[2021-06-17 23:24] kikisdeliveryservice commented on #2784
As this is being submitted well after the enhancments freeze author has submitted an exception request:
https://groups.google.com/g/kubernetes-sig-release/c/UZUQAIfizkY/m/0g3TxofwAwAJ

removing from milestone until it is evaluated.

[2021-06-18 06:35] BenTheElder commented on #362
/lifecycle frozen

[2021-06-18 06:35] BenTheElder commented on #361
/lifecycle frozen
https://github.com/kubernetes/test-infra/pull/22488

[2021-06-18 07:32] tengqm commented on #281
Should we say "GA" or "deprecation" for dynamic kubelet config?

[2021-06-18 18:41] ehashman commented on #2371
xref https://github.com/kubernetes/kubernetes/pull/102789

[2021-06-18 18:42] #2290 closed

[2021-06-18 18:46] ehashman commented on #1769
Looks like https://github.com/kubernetes/kubernetes/pull/101030 is a prereq before we can merge the feature flag update.

[2021-06-18 19:05] ehashman commented on #2238
@raisaat is working on this for beta.

[2021-06-18 19:15] kikisdeliveryservice commented on #2784
As per a comment here:
https://github.com/kubernetes/kubernetes/pull/99412#issuecomment-864088390

https://github.com/kubernetes/kubernetes/pull/99412 is a bug fix (and prereq for this KEP) that will go into the 1.22 release regardless of whether or not this KEP (and other associate work) is included in the 1.22 release.

[2021-06-20 06:51] #2301 closed

[2021-06-20 14:52] #2291 closed

[2021-06-21 02:58] #2309 closed

[2021-06-21 19:03] #2313 closed

[2021-06-21 19:21] Bessonov commented on #556
/remove-lifecycle stale

[2021-06-21 19:21] Bessonov commented on #556
/lifecycle frozen

[2021-06-21 22:11] reylejano commented on #542
Hi @zshihang,

With https://github.com/kubernetes/kubernetes/pull/101992 merged, we will mark this as code complete for the 1.22 release 🎉

[2021-06-21 22:19] jrsapi commented on #2040
Greetings @mrunalp,
 Enhancement shadow checking in with a friendly reminder of the upcoming code freeze on 7/11/2021. Also, can you link the k/k PR for this enhancement?
 Thanks!

[2021-06-21 22:56] reylejano commented on #752
Hi @swetharepakula ,
Are there any code changes planned for the 1.22 release?

[2021-06-21 22:58] JamesLaverack commented on #961
Hey @krmayankk, can you confirm what k/k PRs are in-flight for this PR, if any? I can't see any beyond https://github.com/kubernetes/kubernetes/pull/82162 which hasn't been updated in a while. Is the intent to bring this feature to 1.22 with that PR?

[2021-06-21 23:05] swetharepakula commented on #752
Hi @reylejano 👋 ,

There are some code changes that are planned for this release (most likely will span over a couple PRs). I have not yet submitted them yet, but will make sure to link them to this issue when I submit.

[2021-06-21 23:16] reylejano commented on #1495
Hi @bswartz,
Are there any code changes planned for the 1.22 release?

[2021-06-21 23:30] JamesLaverack commented on #1672
Hey @andrewsykim. Can you confirm if there are any in-flight or merged k/k PRs for this enhancement in 1.22? (I had a look and [found this one](https://github.com/kubernetes/kubernetes/pull/97238), but I'm not certain if it's related.)

[2021-06-21 23:39] reylejano commented on #1847
Hi @mattcary ,
Are there any code changes planned for the 1.22 release?

[2021-06-21 23:52] JamesLaverack commented on #2086
Hi @andrewsykim, can you confirm if there are any in-flight or merged k/k PRs for this enhancement?

[2021-06-21 23:55] JamesLaverack commented on #2133
Hi @andrewsykim, can you confirm which k/k PRs are related to this enhancement in 1.22? Some searching has found me https://github.com/kubernetes/kubernetes/pull/102168 and https://github.com/kubernetes/kubernetes/pull/102802 but I'd like to verify if those are correct, and if those are the only ones.

[2021-06-21 23:59] JamesLaverack commented on #2161
Hey @jayunit100, can you confirm if https://github.com/kubernetes/kubernetes/pull/101342 is the only k/k PR required for this enhancement in 1.22?

[2021-06-22 00:13] JamesLaverack commented on #2433
Hey @robscott can you confirm what k/k PRs are in-flight or merged for 1.22? I did see https://github.com/kubernetes/kubernetes/pull/100807 but I'm unsure if it's for this enhancement or not, or if there are other PRs I've missed.

[2021-06-22 00:32] reylejano commented on #1864
Hi @hanlins and @andrewsykim ,

I see on the [SIG-Network KEPs board](https://github.com/orgs/kubernetes/projects/10#card-61636128) that this enhancement is under "Alpha gated (code is merged)".
Please link the k/k PRs for the related code for the 1.22 release?

Thank you!

[2021-06-22 00:33] JamesLaverack commented on #2558
Hey @apelisse, can you confirm if @nikhita's PR https://github.com/kubernetes/kubernetes/pull/103022 is the correct (and only) k/k PR for this change in 1.22? (As a note we've got @apelisse down as the point of contact for this enhancement in the [tracking spreadsheet](https://bit.ly/k8s122-enhancements), is that still correct?)

[2021-06-22 00:36] reylejano commented on #2255
Hi @ahg-g .
Are there any code changes planned for the 1.22 release?

[2021-06-22 00:45] reylejano commented on #2365
Hi @hbagdi ,
In the [SIG-Network KEP's board](https://github.com/orgs/kubernetes/projects/10#card-59266701), this enhancement is listed as "Alpha gated (code is merged)".
Please link the k/k PRs for the 1.22 release.

Thank you!

[2021-06-22 00:47] hanlins commented on #1864
Hi @reylejano, we're promoting the change to beta, the change https://github.com/kubernetes/kubernetes/pull/100412 is still under review.

[2021-06-22 00:53] ahg-g commented on #2255
Only the doc PR is waiting to be merged, PR is already up for review.

[2021-06-22 00:55] mattcary commented on #1847
Yes, I'm trying to get https://github.com/kubernetes/kubernetes/pull/99378
and https://github.com/kubernetes/kubernetes/pull/99728 in, let me ping the
reviewers again.

On Mon, Jun 21, 2021 at 4:39 PM Rey Lejano ***@***.***> wrote:

[2021-06-22 03:28] nikhita commented on #2558
Yes, kubernetes/kubernetes#103022 will be the only k/k PR. We _might_ split it into two PRs for easier review though.

To elaborate, the main changes are in kube-openapi (https://github.com/kubernetes/kube-openapi/pull/238) and the k/k PR imports the (updated) kube-openapi repo.

[2021-06-22 06:00] adisky commented on #2133
@JamesLaverack Those two PR's are correct and currently those are the only ones!!

[2021-06-22 06:27] supriya-premkumar commented on #2485
Hi @chrishenzie. This is Supriya, 1.22 Enhancements Shadow here.

**Code Freeze is on July 8th 2021 @ EOD PST**. All tracked enhancements must be code complete, merged and have docs PRs open.
Please link your k/k PRs to the k/enhancements, so that they can be tracked going into freeze. If PRs are not merged by code freeze, they will be removed from the 1.22 milestone.

Please let us know on the PR

[2021-06-22 06:43] chrishenzie commented on #2485
Hi @supriya-premkumar , thanks for the reminder. Just updated the description to include links the PRs for K8s changes + the website.

Currently undergoing API review for the new access mode. I opened a separate PR for scheduler changes to support this feature.

[2021-06-22 06:47] supriya-premkumar commented on #2485
Hi @chrishenzie, thank you for letting us know. Could you please link the related PRs? It will be helpful to track them.

[2021-06-22 06:53] chrishenzie commented on #2485
Hi @supriya-premkumar , they are:
- https://github.com/kubernetes/kubernetes/pull/102894
- https://github.com/kubernetes/kubernetes/pull/102028
- https://github.com/kubernetes/kubernetes/pull/103082

I added these to the checklist in the description above

[2021-06-22 09:56] sftim opened #2792 "[WIP] Make ClusterIP mutable for Service"
# Enhancement Description
- One-line enhancement description (can be used as a release note):  Make ClusterIP mutable for Service
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs: SIG Network
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x

[2021-06-22 09:56] sftim commented on #2792
/sig network

[2021-06-22 15:36] haircommander commented on #2371
xref initial kubelet implementation kubernetes/kubernetes#103095

[2021-06-22 15:39] PI-Victor commented on #2238
thanks, @raisaat please see my above comment, deadline is approaching,

thank you!

[2021-06-22 15:41] PI-Victor commented on #542
Heya @zshihang, please see my comment above regarding the docs placeholder PR, deadline is approaching,
thank you!

[2021-06-22 16:30] raisaat commented on #2238
Thank you @PI-Victor, will do!

[2021-06-22 17:15] vinaykul commented on #1287
@PI-Victor I'll get to the documentation PR by next week.

The implementation PR (work in progress) for this KEP is https://github.com/kubernetes/kubernetes/pull/102884 and is out for review.

[2021-06-22 17:17] vinaykul commented on #2273
@supriya-premkumar I'll get to the documentation PR by next week.

The implementation PR (work in progress) for this KEP is https://github.com/kubernetes/kubernetes/pull/102884 and is out for review.

There are two KEPs for this feature. Please also track the KEP in the issue https://github.com/kubernetes/enhancements/issues/1287 alongside this KEP issue. They both go in or none of them do.

[2021-06-22 17:31] PI-Victor commented on #1923
Hello @chendave    👋, 1.22 Docs release lead here.
I see above that this change did not need docs, however can you confirm it does not for 1.22 release?

If it does, please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placehol

[2021-06-22 20:02] kikisdeliveryservice commented on #2784
The exception request to the enhancements freeze for this KEP has been approved: https://groups.google.com/g/kubernetes-sig-release/c/UZUQAIfizkY/m/PIyu2HBZBQAJ

@JamesLaverack can you please ensure the KEP is tracked?

Once the KEP is finished/merged, we can remove the holds from the implementation PRs.

[2021-06-22 21:05] chrishenzie commented on #2485
Hi @supriya-premkumar , quick update: I've updated the description above to remove [the third PR](https://github.com/kubernetes/kubernetes/pull/103082). We plan on targeting this feature for beta to allow more time for development + design.

[2021-06-22 22:27] supriya-premkumar commented on #2784
Thank you @kikisdeliveryservice! This is now being tracked.

[2021-06-22 22:39] supriya-premkumar commented on #2485
Thank you for the update @chrishenzie!

[2021-06-22 22:46] supriya-premkumar commented on #2784
Hi @enj 👋🏽.  This is Supriya, 1.22 Enhancements Shadow here.

Code Freeze is on **July 8th, 2021 at EOD PST**. All tracked KEPs, PRs must be code complete and merged before the deadline. If PRs are not merged by code freeze, they will be removed from the 1.22 milestone.

Please keep us in the loop if anything changes. Thank you.

[2021-06-23 00:51] JamesLaverack commented on #19
Hey @soltysh, can you confirm if the following four k/k PRs are all that is needed for the implementation of this enhancement in v1.22?

- https://github.com/kubernetes/kubernetes/pull/102529
- https://github.com/kubernetes/kubernetes/pull/102528
- https://github.com/kubernetes/kubernetes/pull/102363
- https://github.com/kubernetes/kubernetes/pull/102338

[2021-06-23 00:59] JamesLaverack commented on #1591
Hey @soltysh, can you confirm if https://github.com/kubernetes/kubernetes/pull/101742 is the only k/k PR for this enhancement in v1.22?

[2021-06-23 01:02] JamesLaverack commented on #2079
Hey @rikatz, can you confirm if https://github.com/kubernetes/kubernetes/pull/102834 is the only k/k PR for this enhancement in v1.22?

[2021-06-23 01:03] JamesLaverack commented on #1122
Hey @ddebroy. I'm aware that you're out of tree so you don't have any k/k PRs, but your PRs against https://github.com/kubernetes-csi/csi-proxy (or any other repositories) still need to be merged by code freeze for your enhancement to remain in the release. Can you confirm what PRs are included in this enhancement?

[2021-06-23 01:04] rikatz commented on #2079
Hey @JamesLaverack sorry for the delay ;/

Yes that is the only PR. I need to update the feature gate status on the docs, will do that tomorrow!

Thanks

[2021-06-23 01:05] JamesLaverack commented on #2079
I only commented two minutes ago, I think you're good. 😄

Great, thank you for confirming.

[2021-06-23 01:10] JamesLaverack commented on #2214
Hey @alculquicondor, can you confirm if the following PRs are the only k/k PRs required for this enhancement in v1.22?

- https://github.com/kubernetes/kubernetes/pull/101163
- https://github.com/kubernetes/kubernetes/pull/101292

[2021-06-23 01:12] JamesLaverack commented on #2232
Hey @adtac, can you confirm if https://github.com/kubernetes/kubernetes/pull/102022 is the only k/k PR for this enhancement in v1.22?

[2021-06-23 01:14] JamesLaverack commented on #2599
Hey @ravisantoshgudimetla, can you confirm if https://github.com/kubernetes/kubernetes/pull/100842
 and https://github.com/kubernetes/kubernetes/pull/101316 are the only k/k PRs required for this enhancement in v1.22?

[2021-06-23 01:34] salaxander commented on #541
Hi @ankeesler - Code freeze for the 1.22 release is just over 2 weeks away. I've marked the two linked k/k PRs as tracked. Any other PRs we should be tracking for the release? Thanks!

[2021-06-23 01:38] salaxander commented on #555
Hi @apelisse! Checking in from the enhancements team as we're just over 2 weeks away from code freeze. Are there any open or merged k/k PRs we should be tracking for this? Thanks!

[2021-06-23 01:40] salaxander commented on #647
Hey @dashpole - 1.22 enhancements team checking in! We're just over 2 weeks away from code freeze, so I wanted to see if there were any open or merged k/k PRs we should be tracking for this. Thanks!

[2021-06-23 01:42] salaxander commented on #1507
Hey @robscott - Just checking in as we're just over 2 weeks away from code freeze for 1.22. Any open or merged k/k PRs we should be tracking for this (I'm guessing just a feature gate PR)? Thanks!

[2021-06-23 01:44] salaxander commented on #1669
Hi @andrewsykim - Just checking in as we're just over 2 weeks away from 1.22 code freeze. Are there any open or merged k/k PRs we should be tracking for this? Thanks!

[2021-06-23 01:47] salaxander commented on #1959
Hi @andrewsykim and @XudongLiuHarold - Just checking in as we're just over 2 weeks away from 1.22 code freeze. Are there any open or merged k/k PRs we should be tracking for this? Thanks!

[2021-06-23 01:52] salaxander commented on #1981
Hi @marosset - Just checking in as we're about 2 weeks away from code freeze. Looks like we're all set with https://github.com/kubernetes/kubernetes/pull/99576 merge, but let me know if there are any other open or merged k/k PRs we should be tracking. Thanks!!

[2021-06-23 01:57] chendave commented on #1923
Hi @PI-Victor , confirmed,  no docs needed, thanks for the reminder!

[2021-06-23 01:59] salaxander commented on #2254
Hey @giuseppe - Just checking in as we're about 2 weeks away from code freeze for 1.22. Are there any open or closed k/k PRs for the milestone that we should be tracking? Or is https://github.com/kubernetes/kubernetes/pull/85218 everything planned for 1.22?

[2021-06-23 02:02] salaxander commented on #2258
Hey @aravindhp - Just checking in as we're about 2 weeks away from 1.22 code freeze. Are there any open or merged k/k PRs we should be tracking for this? Thanks!

[2021-06-23 02:05] reylejano commented on #542
Hi @zshihang,
We're just over 2 weeks away from code freeze. Other than kubernetes/kubernetes#101992 , are there any additional open or merged k/k PRs we should be tracking for the 1.22 release?
Thank you!

[2021-06-23 02:05] salaxander commented on #2371
Hey @bobbypage and @haircommander - Just checking in as we're about 2 weeks away from 1.22 code freeze. I've got https://github.com/kubernetes/kubernetes/pull/103095 and https://github.com/kubernetes/kubernetes/pull/103095 tracked as the open k/k PRs. Are there any other open or merged PRs we should be tracking? Thanks!

[2021-06-23 02:07] salaxander commented on #2590
Hi @nikhita and @ykakarap - Just checking in as we're about 2 weeks away from 1.22 code freeze. Are there any open or merged k/k PRs we should be tracking for this? Thanks!!

[2021-06-23 02:09] ykakarap commented on #2590
Hey @salaxander the final PR will be read in a day or 2.

[2021-06-23 02:09] reylejano commented on #1287
Hi @vinaykul ,

With about 2 weeks until code freeze (July 8, 2021), Can you confirm if the following k/k PR is all that is needed for the implementation of this enhancement for the 1.22 release?
- https://github.com/kubernetes/kubernetes/pull/102884

[2021-06-23 02:10] XudongLiuHarold commented on #1959
Hi @salaxander , I am working on it, will submit a PR this weekend, thanks!

[2021-06-23 02:13] reylejano commented on #1602
Hi @serathius ,

With about 2 weeks until code freeze (July 8, 2021), Can you confirm if the following k/k PR is all that is needed for the implementation of this enhancement for the 1.22 release?
- https://github.com/kubernetes/kubernetes/pull/102031

[2021-06-23 02:16] reylejano commented on #2185
Hi @dememi,

With about 2 weeks until code freeze (July 8, 2021), Can you confirm if the following k/k PR is all that is needed for the implementation of this enhancement for the 1.22 release?

- https://github.com/kubernetes/kubernetes/pull/101767

[2021-06-23 02:19] reylejano commented on #2255
Hi @ahg-g ,

Looks like only the following k/k PRs were needed for the 1.22 release. Just confirming since code freeze is about 2 weeks away on July 8, 2021.
- kubernetes/kubernetes#101080
- kubernetes/kubernetes#101003

Thank you!

[2021-06-23 02:20] aravindhp commented on #2258
@salaxander, I have a WIP PR: https://github.com/kubernetes/kubernetes/pull/96120. But it is looking very tight at this point.

[2021-06-23 02:23] reylejano commented on #2317
Hi @gnufied ,

With about 2 weeks until code freeze (July 8, 2021). Aside from the linked issues listed below, are there any open or merged k/k PRs we should be tracking for this?

Linked issues:
- https://github.com/kubernetes/kubernetes/issues/102923
- https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/708

[2021-06-23 03:14] vinaykul commented on #1287
@reylejano Not including doc PR (I'm yet to create a placeholder PR for it), yes this PR would be it for the feature.

There is another code contributor @wangchen615 who is working on E2E tests. Ideally, she would create a separate dependent PR directly to k/k but I don't think github allows it. So we have to funnel it through my PR.

[2021-06-23 08:18] supriya-premkumar commented on #281
Hi @SergeyKanzhelev 👋🏽 Supriya here, 1.22 Enhancements Shadow.
Code Freeze is on **July 8th, 2021 at EOD PST**. All implementation PRs must be code complete and merged before the deadline. If PRs are not merged by code freeze, they will be removed from the 1.22 milestone.

I am currently tracking the open k/k [PR](https://github.com/kubernetes/kubernetes/pull/102966) for this KEP.
Are there any ad

[2021-06-23 08:37] supriya-premkumar commented on #961
Hi @krmayankk 👋🏽 Supriya here, 1.22 Enhancements Shadow. Following up on @JamesLaverack comment above,
we are currently tracking the open k/k [PR](https://github.com/kubernetes/kubernetes/pull/82162) for this KEP. Could you please update us on the status of the PR? Also, are there any additional PRs that are not linked or I should be tracking?

Code Freeze is on **July 8th, 2021 at EOD PST**. All

[2021-06-23 09:02] serathius commented on #1602
Hey @reylejano,
I have updated list of Issues for v1.22 on the top of the page.

List
* [ ] Json format should support same set of feature flags as text format, minus those we will decide to deprecte. (https://github.com/kubernetes/kubernetes/issues/99270)
* [ ] Move klog flags to Logs flag group (https://github.com/kubernetes/kubernetes/issues/99265)
* [ ] Enabling Json format should work from co

[2021-06-23 10:26] giuseppe commented on #2254
@salaxander thanks for asking.  There is nothing more planned for cgroup v2 in 1.22.

There were a few fixes PR but they were already merged

[2021-06-23 10:37] ahg-g commented on #2255
Correct, we are just waiting on the docs PR.

[2021-06-23 12:11] gracenng commented on #859
Hi @pwittrock, 1.22 enhancements shadow here.

In light of Code Freeze on July 8th is [k/k#98952](https://github.com/kubernetes/kubernetes/pull/98952) the only PR for this enhancements?
Please link the associated PRs in this issue so enhancements can easily keep track.
Thank you!

[2021-06-23 12:16] gracenng commented on #1693
Hi @liggitt 🌞  1.22 enhancements shadow here.

In light of Code Freeze on July 8th, are[ k/k#101688](https://github.com/kubernetes/kubernetes/pull/101688) and [k/k#100754](https://github.com/kubernetes/kubernetes/pull/100754) the only PRs for this enhancements?

Thank you!

[2021-06-23 12:18] gracenng commented on #1790
Hi @gnufied 🌞  1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is `at risk` as there is no k/k PR associated. Please update the issue description so enhancements can update your status for code freeze.

Thanks!

[2021-06-23 12:22] gracenng commented on #2033
Hi @AkihiroSuda 🌞  1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is `at risk` as [k/k#92863](https://github.com/kubernetes/kubernetes/pull/92863) has not been merged.
Please let me know if there is other code PR associated with this enhancement and feel free to ping me once its merged.

Thanks

[2021-06-23 12:24] gracenng commented on #2307
Hi @alculquicondor 🌞 1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is `at risk` as [k/k#98238](https://github.com/kubernetes/kubernetes/pull/98238) has not been merged.

Please let me know if there is other code PR associated with this enhancement and feel free to ping me once its merged.

Thanks

[2021-06-23 12:26] gracenng commented on #2436
Hi @jiahuif 🌞 1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is `tracked`. The current PR tracked:
    - https://github.com/kubernetes/kubernetes/pull/96226
    - https://github.com/kubernetes/kubernetes/pull/96133
    - https://github.com/kubernetes/kubernetes/pull/94205
    - https://github.com/kubernetes/kubernetes/pull/99507
    - https://g

[2021-06-23 12:29] gracenng commented on #2570
Hi @xiaoxubeii 🌞 1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is `tracked`, and we're currently tracking kubernetes/kubernetes#102578 kubernetes/kubernetes/pull/102970

Please let me know if there is other code PR associated with this enhancement.

Thanks

[2021-06-23 12:32] gracenng commented on #2579
Hi @tallclair 🌞 1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is `at risk` as there is no k/k PR tracked.
Please update the associated PR or let me know if there is none required for this enhancement.

Thanks

[2021-06-23 12:33] gracenng commented on #2595
Hi @gjkim42 🌞 1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is `tracked` and we are tracking https://github.com/kubernetes/kubernetes/pull/100651
.
Please let me know if there is other code PR associated with this enhancement.

Thanks

[2021-06-23 12:34] gracenng commented on #2625
Hi @fromanirh 🌞 1.22 enhancements shadow here.

In light of Code Freeze on July 8th, this enhancement current status is at risk as https://github.com/kubernetes/kubernetes/pull/101432 has not been merged.
Please let me know if there is other code PR associated with this enhancement and feel free to ping me once its merged.

Thanks

[2021-06-23 13:01] damemi commented on #2185
@reylejano yes, that and the docs PR (https://github.com/kubernetes/website/pull/28102) are all that is needed for this. Thanks!

[2021-06-23 13:23] gjkim42 commented on #2595
Hi @gracenng

There isn't. All works for this release has been completed.

Thanks :)

[2021-06-23 13:33] ankeesler commented on #541
@salaxander - thanks for the heads up. The last (hopefully) k/k PR on my radar for this feature is https://github.com/kubernetes/kubernetes/pull/102890. That is just waiting on API review, and the API review team have this on their board. Was this one of the PRs that you were tracking? What was the other one?

[2021-06-23 13:35] alculquicondor commented on #2214
Correct, the graduation is complete from a code standpoint. I'll have a PR for website updates soon.

[2021-06-23 13:38] alculquicondor commented on #2232
I can confirm

[2021-06-23 13:57] haircommander commented on #2371
none opened yet! I will post them here if we do. Thanks for your work @salaxander

[2021-06-23 14:08] kwiesmueller commented on #555
Hi @salaxander! To my knowledge there is nothing waiting for the code freeze.
We have some work happening in controller-runtime but that's not affected.
So we should be good for v1.22.

[2021-06-23 14:23] liggitt commented on #1693
yes

[2021-06-23 14:33] ravisantoshgudimetla commented on #2599
Hi @JamesLaverack, this is the docs https://github.com/kubernetes/website/pull/27683 remaining

[2021-06-23 14:38] dashpole commented on #647
Waiting on https://github.com/kubernetes/kubernetes/pull/94942, and there will be a follow-up to it as well that depends on the initial PR

[2021-06-23 14:43] liggitt commented on #2579
https://github.com/kubernetes/kubernetes/pull/103099 is open for this PR

[2021-06-23 15:09] alculquicondor commented on #2307
Thanks Grace. The PR is approved by the SIG, but still awaiting for api-review. There are no more PRs.

[2021-06-23 15:45] adtac commented on #2232
@JamesLaverack yes, that is the only one :+1: I'll open a PR for the docs changes soon.

[2021-06-23 16:21] ykakarap commented on #2590
Hey @salaxander, this is the corresponding PR: https://github.com/kubernetes/kubernetes/pull/99556.

[2021-06-23 16:42] JamesLaverack commented on #2249
Hi @ahg-g, can you confirm if https://github.com/kubernetes/kubernetes/pull/101496 is the only k/k PR required for this enhancement in v1.22?

[2021-06-23 16:44] ahg-g commented on #2249
Yes, we just need to merge the docs PR.

[2021-06-23 17:21] Huang-Wei commented on #1923
@chendave not quite, you'd need to at least update the default feature gate value to true.

(tip: search `PreferNominatedNode` in the path "content/en")

[2021-06-23 19:08] gnufied commented on #1790
@gracenng most of changes into k/k repo is captured in - https://github.com/kubernetes/kubernetes/pull/103124

[2021-06-23 19:40] bswartz commented on #1495
@reylejano
Yes I have a working PR and I'm trying to add a lot of test cases to it, which is taking some time.

[2021-06-23 21:44] #2517 closed

[2021-06-23 21:48] #2518 closed

[2021-06-23 22:16] verult commented on #2317
@reylejano I'm working on a PR for kubernetes#102923 and will hopefully be out in the next few days.

[2021-06-23 23:16] kikisdeliveryservice opened #2796 "[WIP] Create Staging Dir and Review Process for changes to KEP template"
Currently, all changes to the KEP template go straight into the active template. This is does not allow us to have stability or a good way to see and broadcast changes to the greater community or iterate on the template in an easy to find way. This also makes versioning the KEP template impossible.

- [ ] create staging dir: [WIP] https://github.com/kubernetes/enhancements/pull/2795
- [ ] create p

[2021-06-24 02:21] xiaoxubeii commented on #2570
done

[2021-06-24 02:22] xiaoxubeii commented on #2570
@gracenng It is all here, thanks.

[2021-06-24 03:16] jrsapi commented on #970
Greetings @neolit123,
 Enhancement team shadow checking in with a few updates. Currently, we are tracking this [PR](https://github.com/kubernetes/kubernetes/pull/101129) for the 1.22 milestone. Are there any other PR's that are not linked that should be tracked?

A reminder about code freeze which is **July 8th, 2021 11:59 PST**.  All implementation PR's must be code complete and merged before the

[2021-06-24 03:42] jrsapi commented on #1769
Greetings @cezaryzukowski,
Enhancement shadow checking with a reminder that we are 2 weeks away from code freeze (July 8, 2021). Can you confirm if the following k/k PR's is all that is needed for the implementation of this enhancement for the 1.22 milestone?

- [kubernetes/kubernetes#101947](https://github.com/kubernetes/kubernetes/pull/101947)
- [kubernetes/kubernetes#101030](https://github.com/

[2021-06-24 04:27] jrsapi commented on #1923
Greetings @chendave ,
Enhancement shadow checking with a reminder that we are 2 weeks away from code freeze (July 8, 2021). Can you confirm if the following k/k PR is all that is needed for the implementation of this enhancement for the 1.22 milestone?

- [Graduate prefer nominated node to beta #2764](https://github.com/kubernetes/enhancements/pull/2764)
- [Graduate prefer nominated node to beta k

[2021-06-24 04:39] jrsapi commented on #1967
Greetings @derekwaynecarr ,
Enhancement shadow checking with a reminder that we are 2 weeks away from code freeze (July 8, 2021). Can you confirm if the following k/k PR is all that is needed for the implementation of this enhancement for the 1.22 milestone?

- [kubernetes/kubernetes#101048](https://github.com/kubernetes/kubernetes/pull/101048)

Thanks!

[2021-06-24 04:46] jrsapi commented on #2238
Greetings @raisaat,
A friendly reminder that code Freeze is on July 8th, 2021. All implementation PRs must be code complete and merged before the deadline. If PRs are not merged by code freeze, they will be removed from the 1.22 milestone. Please link k/k PR's that will be implemented for this KEP.

Thanks!

[2021-06-24 04:51] jrsapi commented on #2400
Greetings @ehashman ,
Enhancement shadow checking with a reminder that we are 2 weeks away from code freeze (July 8, 2021). Can you like the  k/k PR/s that are needed to implement this enhancement for the 1.22 milestone?

[2021-06-24 07:06] AkihiroSuda commented on #2033
https://github.com/kubernetes/kubernetes/pull/92863 is the only PR associated with this KEP, and should be ready to merge

[2021-06-24 08:09] cynepco3hahue commented on #1769
Yes, it all PRs that are mandatory for 1.22. Thanks for the check!

[2021-06-24 08:41] chendave commented on #1923
@Huang-Wei  I guess this should be auto-generated? just like this one: https://github.com/kubernetes/website/pull/25386/files

Anyway, I will send one for review today.

[2021-06-24 09:18] chendave commented on #1923
I see it, looks like I only need to update the feature gate, thanks for the guidance!  @Huang-Wei

[2021-06-24 09:32] chendave commented on #1923
@jrsapi still need another doc PR: https://github.com/kubernetes/website/pull/28597.

[2021-06-24 12:31] #2297 closed

[2021-06-24 13:00] neolit123 commented on #970
Hi, we merged a lot of PRs and some are still pending review. A detailed
list can be seen here:
https://github.com/kubernetes/kubeadm/issues/1796

Thanks for the reminder. We are also adding e2e tests right now. Docs are
not needed for the alpha.

[2021-06-24 16:25] chrisnegus commented on #1495
@bswartz Have you had a chance to open a docs PR against the dev-1.22 branch in the k/website repo, as @PI-Victor suggested above? For now it can just be a placeholder to track the progress of any docs work. Let me know if you need any help with the process or the writing.

[2021-06-24 17:58] chrishenzie commented on #2485
Hi @supriya-premkumar , sorry for the churn here. I re-added the third PR; sig scheduling recommends this makes it in before alpha. It should be good to go (once the base PR is merged).

[2021-06-24 18:40] jrsapi commented on #2727
Greetings @bowei ,
Enhancement shadow checking with a reminder that we are 2 weeks away from code freeze (July 8, 2021). Can you link which k/k PR/s are needed to implement this enhancement for the 1.22 milestone?

Thanks!

[2021-06-24 18:44] jrsapi commented on #2712
Greetings @mrunalp,
Enhancement shadow checking with a reminder that we are 2 weeks away from code freeze (July 8, 2021). Can you confirm if the following k/k PR is all that is needed for the implementation of this enhancement for the 1.22 milestone?

- [Pod Priority Based Node Graceful Shutdown](https://github.com/kubernetes/kubernetes/pull/102915)

Thanks!

[2021-06-24 18:52] jrsapi commented on #2413
Greetings @saschagrunert,
Enhancement shadow checking with a reminder that we are 2 weeks away from code freeze (July 8, 2021). Can you confirm if the following k/k PR is all that is needed for the implementation of this enhancement for the 1.22 milestone?

- [https://github.com/kubernetes/kubernetes/pull/101943](https://github.com/kubernetes/kubernetes/pull/101943)

Thanks!

[2021-06-24 20:51] abhiraut commented on #2091
Most recent commits address the following:

[code]

Key outstanding issues:

[code]

[2021-06-25 10:03] sftim commented on #2450
It looks like KEP from this issue is being linked to deprecating use of the `podCIDR` field in the Node resource: https://github.com/kubernetes/kubernetes/issues/57130

Have I got that right?

[2021-06-25 10:30] aojea commented on #2450
This removes kube-proxy dependency, that is one step towards deprecating it, however, it seems the field is "happily" used by CNI and other projects in the ecosystem

[2021-06-25 10:37] sftim commented on #2450
Maybe the field deprecation should have its own KEP?

[2021-06-25 12:39] #2341 closed

[2021-06-25 16:43] gnufied commented on #531
We are still working on this.
/remove-lifecycle rotten

[2021-06-25 17:39] XudongLiuHarold commented on #1959
Hi @salaxander , the PR has been merged here: https://github.com/kubernetes/kubernetes/pull/103129

[2021-06-25 17:48] robscott commented on #1507
Hey @salaxander, thanks for checking in! The feature gate PR is ready for review now. Once that merges we should be able to close out this issue.

[2021-06-25 17:50] robscott commented on #2433
Hey @JamesLaverack, thanks for checking in! Although I'm hoping to get a number of the beta requirement in for this cycle, including e2e tests, I don't think I'll have the capacity to get everything in. That means this enhancement will likely be stuck in alpha for one more cycle.

[2021-06-25 22:53] k82cn opened #2798 "Support Oversubscription in kubernetes"
### Enhancement Description

In our scenario, the resource usage is very low comparing to resource request; so we'd like to re-use those "idle" by other low priority task, e.g. batch. In this conext, we'd like to add a new interface/api on those oversubscription resources, and some improvement to kubelet on cgroup management.

Oversubscription will help to improve the resource utilication of clust

[2021-06-25 22:53] k82cn commented on #2798
/assign

[2021-06-25 22:55] zshihang opened #2799 "Reduction of Secret-based Service Account Tokens"
### Enhancement Description

- One-line enhancement description: reduce secret-based service account tokens
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2799-reduction-of-secret-based-service-account-token
- Discussion Link: [sig-auth](https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit#heading=h.ndbiu8xlfy

[2021-06-25 23:09] supriya-premkumar commented on #2485
No worries at all. Thanks for letting me know.

[2021-06-26 21:18] dashpole commented on #647
Follow-up tracing PRs are out and are ready for review:

* Trace outgoing http requests: https://github.com/kubernetes/kubernetes/pull/103218
* Trace etcd client requests: https://github.com/kubernetes/kubernetes/pull/103216
* Add an end-to-end test: https://github.com/kubernetes/kubernetes/pull/103234

In addition, I need to change kube-apiserver to apiserver as per this comment: https://github.c

[2021-06-27 20:54] #2315 closed

[2021-06-27 20:54] #2314 closed

[2021-06-28 04:51] robscott commented on #1507
The final PR has merged, closing this issue. Thanks for all the help tracking this through the release cycles!

[2021-06-28 04:51] #1507 closed

[2021-06-28 12:12] saschagrunert commented on #2413
@jrsapi thank you for the reminder, the alpha implementation is now done :blush:

[2021-06-28 12:46] alculquicondor commented on #785
/lifecycle frozen

[2021-06-28 13:00] ravisantoshgudimetla opened #2802 "Identify Windows pods at API admission level authoritatively"
### Enhancement Description

Identifying Windows pods at the API admission level authoritatively is crucial to apply appropriate security constraints to the pod. We rely on kubelet to strip certain security constraints when the pod lands on the node. While this is workable solution identifying all the valid scenarios during kubelet admission time is hard and not scalable. Having the identification

[2021-06-28 13:02] ravisantoshgudimetla commented on #2802
/sig windows

[2021-06-28 14:21] carlisia commented on #859
Hey @pwittrock, friendly reminder that this enhancement will also need docs, thank you!

[2021-06-28 16:56] soltysh commented on #1591
@JamesLaverack [kubernetes/kubernetes#101742] - yes and docs update in https://github.com/kubernetes/website/pull/28319

[2021-06-28 17:00] soltysh commented on #19
@JamesLaverack all PRs as outlined in the description, just checked we're all good :+1:

[2021-06-28 17:43] seans3 commented on #859
Hi @carlisia . Thanks for the reminder. We will be adding a small update to `kubectl` docs to show how to turn these headers off. My understanding is the docs deadline is end of July--is that correct?

[2021-06-28 19:57] ravisantoshgudimetla opened #2804 "Consolidate workload controller status"
### Enhancement Description

Only deployment controller has [status](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#deployment-status) to reflect the state during it's lifecycle. This enhancement extends the scope of those of states to other controllers(DaemonSet and StatefulSet). Please note that while the states are same, their definition may change depending on how worklo

[2021-06-28 21:56] carlisia commented on #859
This is the instructions we have:

[2021-06-28 23:03] #2372 closed

[2021-06-28 23:08] ehashman commented on #1769
Both PRs have now merged.

[2021-06-29 07:22] cynepco3hahue commented on #1769
A lot of thanks!

[2021-06-29 17:13] JamesLaverack commented on #2433
Thanks for the update @robscott. We can keep an eye on this as we approach code freeze.

[2021-06-29 18:11] trierra commented on #2589
/remove-lifecycle stale

[2021-06-29 20:04] hbagdi commented on #2365
https://github.com/kubernetes/kubernetes/pull/101711 is the PR to graduate the feature to Beta.
I'll update the KEP board once the PR is merged in.

I'll get the docs PR out soon.

[2021-06-29 20:12] hbagdi commented on #2365
Here is the docs PR for 1.22: https://github.com/kubernetes/website/pull/28693.

[2021-06-29 21:31] reylejano commented on #2255
Hi @ahg-g ,

Looks like you're all set for the 1.22 code freeze on July 8, 2021 🎉

[2021-07-01 18:08] ehashman commented on #2527
/remove-lifecycle rotten

[2021-07-01 22:02] reylejano commented on #752
Hi @swetharepakula ,

I see that https://github.com/kubernetes/kubernetes/pull/103306 was linked and is merged.
Are there any additional k/k PRs required for 1.22 before code freeze on July 8, 2021?

Also a reminder that the Docs Placeholder PR deadline is on July 9, 2021.
Here are [instructions on opening a PR ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr

[2021-07-01 22:06] reylejano commented on #1287
Hi @vinaykul ,

Just a reminder that the 1.22 code freeze starts next week on July 8, 2021.
We're tracking the following PR for code freeze:
- https://github.com/kubernetes/kubernetes/pull/102884

Also a reminder that the Docs Placeholder PR deadline is on July 9, 2021.
Here are [instructions on opening a PR ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)ag

[2021-07-01 22:08] reylejano commented on #1495
Hi @bswartz ,

Just a reminder that the 1.22 code freeze starts next week on July 8, 2021.
Please link the `k/k` PRs to this issue.

Also a reminder that the Docs Placeholder PR deadline is on July 9, 2021.
Here are [instructions on opening a PR ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)against the `dev-1.22` branch in the `k/website` repo

[2021-07-01 22:09] reylejano commented on #1602
Hi @serathius ,

Thank you for linking the PRs to track for 1.22.
Just a reminder that the 1.22 code freeze starts next week on July 8, 2021.
Also, the Docs Placeholder PR deadline is on July 9, 2021.
Here are [instructions on opening a PR ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)against the `dev-1.22` branch in the `k/website` repo

[2021-07-01 22:13] reylejano commented on #1847
Hi @mattcary ,

Thank you for linking the following PRs to track for 1.22:
- https://github.com/kubernetes/kubernetes/pull/99378
- https://github.com/kubernetes/kubernetes/pull/99728

Just a few reminders:
- The 1.22 code freeze starts next week on July 8, 2021
- Looks like you're set for the Docs Placeholder PR deadline on July 9, 2021 with https://github.com/kubernetes/website/pull/28251

[2021-07-01 22:14] reylejano commented on #1864
Hi @hanlins and @andrewsykim ,

Thank you for linking https://github.com/kubernetes/kubernetes/pull/100412 to track for 1.22.

Just a few reminders:
- The 1.22 code freeze starts next week on July 8, 2021
- The Docs Placeholder PR deadline is on July 9, 2021. Here are [instructions on opening a PR ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr)against the `

[2021-07-01 22:17] reylejano commented on #2185
Hi @damemi ,

Just a reminder that the 1.22 code freeze starts next week on July 8, 2021.
We're tracking https://github.com/kubernetes/kubernetes/pull/101767 for 1.22.
Looks like you're set for the 1.22 Docs Placeholder PR deadline (July 9, 2021) with https://github.com/kubernetes/website/pull/28102

[2021-07-01 22:19] reylejano commented on #2365
Hi @hbagdi ,

With https://github.com/kubernetes/kubernetes/pull/101711, you're all set for the 1.22 code freeze which starts on July 8, 2021 🎉

With https://github.com/kubernetes/website/pull/28693, you're set for the 1.22 Docs Placeholder PR deadline on July 9, 2021  🎉

[2021-07-01 23:33] supriya-premkumar commented on #281
Hi @SergeyKanzhelev, Just a reminder that we are one week away from the code freeze(July 8th, 2021) and  I see that the [PR](https://github.com/kubernetes/kubernetes/pull/102966) is yet to be merged, due to this the issue will still be marked as `atRisk` for 1.22 Release. Also, the Doc Placeholder PR deadline is on July 9th, 2021.

[2021-07-01 23:36] supriya-premkumar commented on #961
Hi @krmayankk, just a reminder that we are one week away from the code freeze(July 8th, 2021) and  I see that the [PR](https://github.com/kubernetes/kubernetes/pull/82162) is yet to be merged, due to this the issue will still be marked as `atRisk` for 1.22 Release. Also, the Doc Placeholder PR deadline is on July 9th, 2021.

[2021-07-01 23:48] supriya-premkumar commented on #1040
Hi @wojtek-t,
Just a reminder that we are one week away from the code freeze(July 8th, 2021) and now that the PRs (#102171 and #102185) are merged, this issue is on track for the 1.22 release 🎉

Also, please let us know if there are any pending PRs that need to be tracked as well. Thank you!

[2021-07-02 00:08] supriya-premkumar commented on #2086
Hi @andrewsykim 👋🏽  Supriya here, 1.22 Enhancement Shadow.
Following up on James's comment above. Is there any linked k/k PR for this issue other than this [one](https://github.com/kubernetes/kubernetes/pull/96600)?
Also, any updates on the metrics name in KEP [TODO](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2086-service-internal-traffic-policy#monitoring-requirements

[2021-07-02 00:11] neolit123 commented on #2568
note for the release team, this feature has just graduated to Alpha from our perspective:
- code changes were made
- e2e tests were added
- docs are not needed for the alpha

thanks to @vinayakankugoyal

punch card of the PRs is here:
https://github.com/kubernetes/kubeadm/issues/2473

[2021-07-02 00:50] supriya-premkumar commented on #2273
Hi @vinaykul, just a reminder that we are one week away from the code freeze(July 8th, 2021) and I see that the [PR](https://github.com/kubernetes/kubernetes/pull/102884) is yet to be merged, due to this the issue will still be marked as `atRisk` for the 1.22 Release. Also, the Doc Placeholder PR deadline is on July 9th, 2021.

[2021-07-02 00:57] supriya-premkumar commented on #2458
Hi @ahg-g,
Just a reminder that we are one week away from the code freeze(July 8th, 2021), and with the merged [PR](https://github.com/kubernetes/kubernetes/pull/101822), this issue is on track for the 1.22 release 🎉

Also, the Doc Placeholder PR deadline is on July 9th, 2021.

P.S. please let us know if there any k/k PRs need to be tracked for this one. Thank you!

[2021-07-02 01:04] supriya-premkumar commented on #2485
Hi @chrishenzie, just a reminder that we are one week away from the code freeze(July 8th, 2021) and with all the three k/k PRs merged([102894](https://github.com/kubernetes/kubernetes/pull/102894), [102028](https://github.com/kubernetes/kubernetes/pull/102028),  [103082](https://github.com/kubernetes/kubernetes/pull/103082)) this issue is now on track for the 1.22 release 🎉

Also, the Doc Placehol

[2021-07-02 01:06] chrishenzie commented on #2485
Hi @supriya-premkumar , thanks for the update. The placeholder PR is open, does it need to be fully populated by that deadline?

[2021-07-02 01:08] ahg-g commented on #2458
Thanks, implementation is merged. I will send the docs PR soon.

[2021-07-02 01:20] supriya-premkumar commented on #2485
For the Doc Placeholder PR, it does not need to be fully populated, it can even be an empty PR. It gives SIG Doc reviewers an idea of how many doc PRs to review before the Doc PR Merged deadline

[2021-07-02 01:22] swetharepakula commented on #752
Hi @reylejano,

I am hoping to get 2 more PRs in. They are both WIPs at this moment. However, kubernetes/kubernetes#103306 was the most crucial one.

I have opened up the draft docs PR: https://github.com/kubernetes/website/pull/28745

[2021-07-02 01:33] supriya-premkumar commented on #2784
Hi @enj, just a reminder that we are one week away from the code freeze(July 8th, 2021) and I see that the [PR](https://github.com/kubernetes/kubernetes/pull/99494) is yet to be merged, due to this the issue will still be marked as atRisk for 1.22 Release.

[2021-07-02 01:36] andrewsykim commented on #2086
I am working on e2e tests here https://github.com/kubernetes/kubernetes/pull/103409

[2021-07-02 01:36] andrewsykim commented on #2086
Metrics will be coming up shortly

[2021-07-02 01:42] salaxander commented on #541
Hi @ankeesler - Just checking in one more time as we're 1 week away from code freeze. Any updates on https://github.com/kubernetes/kubernetes/pull/102890?

[2021-07-02 01:44] salaxander commented on #647
Hi @dashpole - One more ping since we're a week out from code freeze :) I see https://github.com/kubernetes/kubernetes/pull/94942 merged, but it looks like we're still waiting for the 3 follow-up PRs to merge?

Thanks!

[2021-07-02 01:49] salaxander commented on #2258
Hi @aravindhp - One more check-in as we're a week out from code freeze. Any updates on if you expect https://github.com/kubernetes/kubernetes/pull/96120 to merge before the deadline?

Thanks!

[2021-07-02 01:51] salaxander commented on #2371
Hey @haircommander - One more check-in as we're a week out from 1.22 code freeze. Any updates on if you expect https://github.com/kubernetes/kubernetes/pull/103095 and https://github.com/kubernetes/kubernetes/pull/103095 to merge before the deadline?

Thanks!

[2021-07-02 01:52] salaxander commented on #2590
Hi @ykakarap - One more check-in as we're a week away from code freeze. Any updates on if you expect https://github.com/kubernetes/kubernetes/pull/99556 to merge before the deadline?

Thanks!

[2021-07-02 02:50] LorbusChris commented on #2258
By now, I don't think it's reasonable to assume it will make it in in time. We will circle back to this in the next Dev window.

[2021-07-02 03:10] chendave commented on #1923
@jrsapi , the doc change has been covered by https://github.com/kubernetes/website/pull/28644, no more changes is left for 1.22.

[2021-07-02 03:28] ykakarap commented on #2590
Hi @salaxander, I expect the PR to be merged before the deadline. SIG CLI has already reviewed the code.

cc @nikhita

[2021-07-02 06:03] enj commented on #2784
@supriya-premkumar https://github.com/kubernetes/kubernetes/pull/99494 is merged now.

[2021-07-02 11:00] ankeesler commented on #541
@salaxander - https://github.com/kubernetes/kubernetes/pull/102890 is waiting for review from someone who is OOO this week. I expect them to be back on Tuesday and give it a quick review so we can merge it in by Thursday.

[2021-07-02 13:28] dashpole commented on #647
#103218 also merged.  We are waiting for #103216 and #103234.  I also need to open a change to update the opentelemetry service name, and to add tracing to authn/z in the apiserver.

[2021-07-02 13:47] haircommander commented on #2371
Thanks for checking! I do expect them to merge. We're waiting on a e2e POC which I'm working on :)

[2021-07-02 15:34] dashpole commented on #647
I opened the last two PRs: #103435 and #103443

[2021-07-02 15:52] bswartz commented on #1495
k/k: https://github.com/kubernetes/kubernetes/pull/103276

[2021-07-02 16:05] bswartz commented on #2546
This has been replaced by https://github.com/kubernetes/kubernetes/issues/103275

[2021-07-02 16:05] #2546 closed

[2021-07-02 18:03] supriya-premkumar commented on #2784
That's awesome 🎉  Thank you @enj

[2021-07-02 23:57] hanlins commented on #1864
Hi @reylejano, the k/k PR that bump feature to beta is merged. Website placeholder PR is tracked here: https://github.com/kubernetes/website/pull/28770 .

[2021-07-03 01:51] gnufied commented on #1790
This feature is going to miss 1.22 release. We will try again in 1.23

[2021-07-03 16:53] JamesLaverack commented on #1122
Hey @ddebroy, with enhancements freeze coming up in **five days** on **Thursday 8th July at 18:00 PDT**, how are your PRs looking for this enhancement? I'm aware you don't have any k/k PRs, but I haven't been able to find any PRs against k-csi/csi-proxy. Can you point me towards your implementation PRs for v1.22?

[2021-07-03 17:01] JamesLaverack commented on #2133
Hi @andrewsykim, I see that https://github.com/kubernetes/kubernetes/pull/102802 is still yet to merge. As a reminder the deadline for code freeze is in **five days** on **Thursday 8th July at 18:00 PDT**.

As an additional reminder, the docs placeholder PR deadline is **the day after code freeze** on Friday 9th July.

[2021-07-03 17:04] JamesLaverack commented on #2161
Hey again @jayunit100. Can I quickly ask you to confirm if https://github.com/kubernetes/kubernetes/pull/101342 is the only k/k PR required for this enhancement in v1.22? If it isn't then as a reminder the deadline for code freeze is in five days on **Thursday 8th July at 18:00 PDT**.

As an additional reminder, the docs placeholder PR deadline is the **day after code freeze** on Friday 9th July.

[2021-07-03 17:47] rikatz commented on #2161
@JamesLaverack Jay is on PTO this week, but I can confirm this is the only required PR to make this GA.

Next step is to remove at all the featuregate and the codes containing the FG, probably in next release :)

[2021-07-04 01:17] jrsapi commented on #1769
Thanks @cynepco3hahue, for confirming the PRs. Code freeze starts this Thursday, and this KEP is marked tracked for the milestone.
A reminder that the Docs placeholder deadline is on July 9th. Here are [instructions on opening a PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) in dev-1.22 branch.

[2021-07-04 02:05] JamesLaverack commented on #2161
Great, thank you for confirming @rikatz. I believe this enhancement is all good to go for v1.22 code freeze. :)

[2021-07-04 12:48] sftim commented on #2798
Kubernetes already supports oversubscription using the Burstable (or BestEffort) QoS class; see https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-besteffort

 Any KEP will need to explain how this improvement is different from using Burstable, or how the QoS class concept is insufficient.

[2021-07-04 12:55] sftim commented on #2568
Do we list kubeadm feature gates in https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ ?

If not, where do we document those?

[2021-07-04 13:12] sftim commented on #2436
https://github.com/kubernetes/website/issues/28787 - the feature gate is not documented (but should be)

[2021-07-04 19:01] neolit123 commented on #2568
no, that page is only for core k8s FGs.

alpha kubeadm features behind a FGs are commonly not ducumented at k8s.io.
users can see it in a release note and can try it.
once a feature moves to beta. we document it as part of existing pages like "kubeadm init", "kubeadm join", etc.

[2021-07-04 22:29] BenTheElder commented on #2568
aside: I actually feel like this might need calling out there, most binaries in the Kubernetes release have a unified set of featuregates and kubeadm's being distinct is perhaps not the most obvious.

[2021-07-04 23:47] dims commented on #2568
@neolit123 @BenTheElder just one more reason kubeadm should be out-of-tree ...

[2021-07-05 06:51] k82cn commented on #2798
Sure, we're going to highlight the requirements and scenarios in KEP :)

[2021-07-05 06:54] wojtek-t commented on #1040
There are still a couple PRs that we need here - we're working on them.

[2021-07-05 18:58] #2277 closed

[2021-07-05 19:05] alculquicondor commented on #2214
Update for website ready for review: kubernetes/website#28806

[2021-07-05 19:16] neolit123 commented on #1739
/remove-lifecycle stale

[2021-07-06 03:27] gracenng commented on #1790
Removing 1.22 milestone

/milestone clear

[2021-07-06 04:33] jrsapi commented on #1797
Greetings @javidiaz,
1.22 Enhancements shadow checking in with a few reminders. Code freeze is this Thursday, July 7th. We're tracking the following PR kubernetes/kubernetes#101294 for this KEP. Is this the only K/K PR needed to implement this?
Also, the Docs PR placeholder deadline is this Friday, July 8th and we are tracking the following k/website PR #2641.
We are marking this KEP tracked for 1

[2021-07-06 04:37] jrsapi commented on #1923
@chendave thank you for confirming k/k PR's and doc PR mentioned above. Code freeze is Thursday, July 7th and Docs Placeholder PR is Friday, July 8th. As you have both covered this KEP is marked "Tracked" for the 1.22 milestone.

Thanks!

[2021-07-06 04:49] jrsapi commented on #1967
Greetings @derekwaynecarr,
 A  #reminder that code freeze is this Thursday, July 7th and Docs placeholder PR deadline is this Friday, July 8th. This is to update you that with [kubernetes/kubernetes/101048](https://github.com/kubernetes/kubernetes/pull/101048) merged and k/website PR [kubernetes/website/27990](https://github.com/kubernetes/website/pull/27990) in place. This KEP is marked "Tracked"

[2021-07-06 04:56] jrsapi commented on #2040
Greetings @mrunalp,
 This is a reminder that the code freeze is this Thursday, July 8th. Please link the k/k PR's to this issue for this KEP to be tracked.

Also, a reminder that the 1.22 Docs PR placeholder deadline is this Friday, July 9th. Follow the [above comment](https://github.com/kubernetes/enhancements/issues/2040#issuecomment-849060770) for instructions.

Thanks!

[2021-07-06 05:10] jrsapi commented on #2238
Greetings @raisaat,
Thanks for linking the k/k PR #https://github.com/kubernetes/kubernetes/pull/103168 for this KEP. A reminder that code freeze is this Thursday, July 8th. PR's must be merged before the freeze and this KEP is currently marked at risk for the 1.22 milestone.
Also, the Docs PR placeholder deadline is this Friday, July 8th. Follow the [instructions above](https://github.com/kuberne

[2021-07-06 05:28] jrsapi commented on #2400
Greetings @ehashman,
A friendly reminder that code freeze is this Thursday, July 8th and we're tracking the following k/k PR:

- https://github.com/kubernetes/kubernetes/pull/102823
The PR has to be merged by code freeze and currently, this KEP is marked "At Risk".
Also, Docs PR placeholder deadline is Friday, July 9th. Here are [instructions on opening a PR](https://kubernetes.io/docs/contribute/

[2021-07-06 05:55] jrsapi commented on #2413
Greetings @saschagrunert,
 Thanks for the update. This KEP is marked as "Tracked" for the 1.22 milestone with the k/k PR merged. Also, the Docs placeholder deadline is this Friday, July 9th and we have the following k/website PR:

- #https://github.com/kubernetes/website/pull/27957

Thanks!

[2021-07-06 06:02] jrsapi commented on #2568
Greetings @vinayakankugoyal,
 This is a reminder that code freeze is coming up this Thursday, July 8th. All PR's need to be code complete and merged by the freeze. Can you update this issue if all PR's have been merged?
Also, this Friday, July 9th is the Docs placeholder PR deadline. Please follow [the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-featu

[2021-07-06 06:11] jrsapi commented on #2712
Greetings @mrunalp,
 A reminder that this Thursday, July 8th is code freeze, and all PR's must be code complete and merged. This KEP is marked "At Risk" for the 1.22 milestone.

Also this Friday, July 9th is the Docs placeholder deadline and to open a PR following the [instructions above](https://github.com/kubernetes/enhancements/issues/2712#issuecomment-849067057).

Thanks!

[2021-07-06 06:17] jrsapi commented on #2727
Greetings @bowei,
 A reminder that the code freeze is this Thursday, July 8th and all PR's must be code complete and merged. Can you link the k/k PR's for this KEP? The KEP status is marked "At Risk" for the 1.22 milestone.

Also, the Docs PR deadline is this Friday, July 9th. [kubernetes/website/28105](https://github.com/kubernetes/website/pull/28105) is in place.

Thanks!

[2021-07-06 06:19] supriya-premkumar commented on #1040
Thank you @wojtek-t for the update, marking this issue as `atRisk` until the remaining PRs are merged.

[2021-07-06 10:03] soltysh commented on #2381
This issue and KEP was only to summarize the discussions about `kubectl cp`, as such we don't plan on changing anything.
/close

[2021-07-06 10:03] #2381 closed

[2021-07-06 10:04] soltysh commented on #2257
KUI was already migrated to https://github.com/kubernetes-sigs/kui and it's one of the official sig-cli sub-projects https://github.com/kubernetes/community/tree/master/sig-cli#kui
/close

[2021-07-06 10:04] #2257 closed

[2021-07-06 15:33] PI-Victor commented on #2033
Heya, @AkihiroSuda friendly reminder about the upcoming docs placeholder PR deadline on **9th of July**.

[2021-07-06 15:38] PI-Victor commented on #647
Hello @dashpole  👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9,

[2021-07-06 16:42] javidiaz commented on #1797
Thanks @jrsapi! yes , those 2 PRs are all I needed.

[2021-07-06 16:44] nikhita commented on #2558
@JamesLaverack update -- we would be moving this KEP to the next release.

https://github.com/kubernetes/kube-openapi/pull/238 has lgtm but there are some last-minute discussions in https://github.com/kubernetes/enhancements/pull/2752/#discussion_r661827669 and we will not be able to reach consensus before code freeze.

[2021-07-06 17:01] reylejano commented on #752
Hi @swetharepakula ,

Just a reminder that the 1.22 code freeze starts in a few days on Thursday, July 8 at 18:00 PDT. The following PR has to merge by then:
- https://github.com/kubernetes/kubernetes/pull/103451

[2021-07-06 17:11] reylejano commented on #1287
Hi @vinaykul ,

The 1.22 code freeze starts in a few days on Thursday, July 8 at 18:00 PDT. The following PR and any other PR required for this enhancement for 1.22 has to merge by then:
- https://github.com/kubernetes/kubernetes/pull/102884

The Docs Placeholder PR deadline is the day after code freeze on July 9, 2021.
Here are [instructions on opening a PR](https://kubernetes.io/docs/contribute/

[2021-07-06 17:13] reylejano commented on #1495
Hi @bswartz ,

The 1.22 code freeze starts in a few days on Thursday, July 8 at 18:00 PDT. The following PR and any other PR required for this enhancement for 1.22 has to merge by then:
- https://github.com/kubernetes/kubernetes/pull/103276

The Docs Placeholder PR deadline is the day after code freeze on July 9, 2021.
Here are [instructions on opening a PR](https://kubernetes.io/docs/contribute/n

[2021-07-06 17:18] reylejano commented on #1602
Hi @serathius ,

The **1.22 code freeze** starts in a few days on **Thursday, July 8 at 18:00 PDT**.
Can you link the k/k PRs associated to the following issues you mentioned earlier:
- https://github.com/kubernetes/kubernetes/issues/99270
- https://github.com/kubernetes/kubernetes/issues/99265
- https://github.com/kubernetes/kubernetes/issues/100152

The associated k/k PRs has to **merge by July

[2021-07-06 17:22] reylejano commented on #1847
Hi @mattcary ,

Just a reminder that the 1.22 code freeze starts in a few days on Thursday, July 8 at 18:00 PDT. We're tracking the following PRs for 1.22 and both must merge by code freeze (currently kubernetes/kubernetes#99728 is open):
- https://github.com/kubernetes/kubernetes/pull/99378
- https://github.com/kubernetes/kubernetes/pull/99728

[2021-07-06 17:32] reylejano commented on #1864
Hi @hanlins ,

With the merge of https://github.com/kubernetes/kubernetes/pull/100412, you're all set for the 1.22 code freeze which starts on July 8, 2021 at 18:00 PDT 🎉

[2021-07-06 17:34] reylejano commented on #2185
Hi @damemi ,

The 1.22 code freeze starts in a few days on Thursday, July 8 at 18:00 PDT. The following PR and any other PR required for this enhancement for 1.22 has to merge by then:
- https://github.com/kubernetes/kubernetes/pull/101767

This enhancement is currently **_at-risk_** of falling out of 1.22 with kubernetes/kubernetes#101767 open

[2021-07-06 17:37] reylejano commented on #2317
Hi @gnufield and @verult ,

The 1.22 code freeze starts in a few days on Thursday, July 8 at 18:00 PDT. The following PR and any other PR required for this enhancement for 1.22 (e.g. for issue https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/708) has to merge by then:
- https://github.com/kubernetes/kubernetes/pull/103244
- k/k PRs related to issue https://github.com/kubernetes-sigs/

[2021-07-06 17:46] ankeesler commented on #541
@salaxander - https://github.com/kubernetes/kubernetes/pull/102890 has merged. only thing i know of that is left for GA is docs: https://github.com/kubernetes/website/pull/28429

[2021-07-06 18:16] damemi commented on #2185
@reylejano that PR was tagged for merge this morning and should have no issues making it in by Thursday 🙂

[2021-07-06 18:41] swetharepakula commented on #752
kubernetes/kubernetes#103451 & kubernetes/kubernetes#103520 need to be merged for close out this kep.

The higher priority is kubernetes/kubernetes#103451.

[2021-07-06 19:38] neolit123 commented on #995
/remove-lifecycle stale

[2021-07-06 19:39] neolit123 commented on #995
/remove-lifecycle stale

[2021-07-06 20:34] PI-Victor commented on #1669
@andrewsykim Friendly reminder about the docs placeholder PR deadline on `July 9, 11:59 PM PDT`, please remember to open a placeholder PR by then.

[2021-07-06 20:36] PI-Victor commented on #1769
@cezaryzukowski Friendly reminder about the upcoming docs placeholder PR on `Fri July 9, 11:59 PM PDT`. Please don't forget to open a docs placeholder PR by then.

[2021-07-06 20:43] PI-Victor commented on #2079
@rikatz Friendly reminder about the upcoming docs placeholder PR deadline on **Fri July 9, 11:59 PM PDT**. Please create a placeholder PR by then, thanks!

[2021-07-06 20:45] PI-Victor commented on #2161
@rikatz hello again, friendly reminder about the upcoming docs placeholder PR **Fri July 9, 11:59 PM PDT**, thanks!

[2021-07-06 20:52] PI-Victor commented on #2232
Hello @adtac   👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July 9, 1

[2021-07-06 21:01] PI-Victor commented on #2436
@jiahuif Friendly reminder about the upcoming docs placeholder PR deadline on _Fri July 9, 11:59 PM PDT_.

Also, please take into account Tim's comment:

[2021-07-06 21:03] PI-Victor commented on #2458
@ahg-g Friendly reminder about the upcoming docs placeholder PR deadline on **Fri July 9, 11:59 PM PDT**.

[2021-07-06 21:05] PI-Victor commented on #2579
@tallclair Friendly reminder about the upcoming docs placeholder PR deadline on **Fri July 9, 11:59 PM PDT**.

[2021-07-06 21:07] neolit123 commented on #2568
@jrsapi
we consider this feature graduated to alpha.

documentation updates are not needed here, e2e tests are running:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-rootless-latest

https://github.com/kubernetes/website/issues/28788
is out of band for 1.22.

[2021-07-06 21:11] neolit123 commented on #970
@jrsapi
we consider the work for this "feature" in 1.22 completed (minus docs).
the "feature" remains in "beta".

the full list of merged PRs is here:
https://github.com/kubernetes/kubeadm/issues/1796

e2e tests are updated:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm

docs PR is pending `/lgtm`:
https://github.com/kubernetes/website/pull/28360

[2021-07-06 21:18] ehashman commented on #2238
https://github.com/kubernetes/kubernetes/pull/103420 is a prereq for the PR above to land, updating description.

[2021-07-06 21:35] marosset commented on #1981
Hi @salaxander  - I'm just returning to work today after ~2 months off.
@jsturtevant / @jayunit100 are we all set with this enhancement for a v1.22 alpha release?

thanks!

[2021-07-06 21:50] verult commented on #2317
@gnufied there aren't any k/k PRs required for kubernetes-sigs/azurefile-csi-driver#708 right?

[2021-07-06 22:29] haardikdharma10 commented on #2436
I have opened up a PR - https://github.com/kubernetes/website/pull/28816 :)

[2021-07-06 22:58] ahg-g commented on #2458
Updating the docs for this feature is dependent on updating the docs for scheduler's v1beta2 CC: https://github.com/kubernetes/kubernetes/issues/95446

[2021-07-07 01:19] neolit123 commented on #2067
/remove-lifecycle stale

[2021-07-07 02:18] pacoxu commented on #2040
- KEP Update was merged: https://github.com/kubernetes/enhancements/pull/2694
- k/k PR is WIP/Reviewing https://github.com/kubernetes/kubernetes/pull/103299

[2021-07-07 03:15] JeremyOT commented on #1645
/remove-lifecycle stale

[2021-07-07 05:49] AkihiroSuda commented on #2033
@PI-Victor

Thanks, opened PR https://github.com/kubernetes/website/pull/28827

[2021-07-07 07:00] wojtek-t commented on #1164
/remove-lifecycle stale

[2021-07-07 12:44] cezaryzukowski commented on #1769
@PI-Victor No worries, I will create it today. Cheers.

[2021-07-07 12:45] gracenng commented on #2307
Hi @alculquicondor 🌷 1.22 enhancements shadow here.

A friendly reminder that Code Freeze is tomorrow, on July 8th. Please also be mindful of the docs PR deadline on July 9th

Thanks

[2021-07-07 12:47] gracenng commented on #2033
Hi @AkihiroSuda 🌷 1.22 enhancements shadow here.

A friendly reminder that Code Freeze is tomorrow, on July 8th and the current status of this enhancement is `at risk`
I'll keep an eye out for updates but feel free to ping me once its merged

Thanks

[2021-07-07 13:30] arjunrn commented on #1610
/remove-lifecycle stale

[2021-07-07 14:48] JamesLaverack commented on #1672
Hey all, friendly reminder that **code freeze is tomorrow at 18:00 PDT on the 8th of July**. At the moment this enhancement is **at risk** because we've not gotten confirmation about which k/k PRs are related to this enhancement in v1.22.

Additionally, please remember that the docs placeholder PR is the day after code freeze.

[2021-07-07 14:50] JamesLaverack commented on #2133
Hey all, friendly reminder that **code freeze is tomorrow at 18:00 PDT on the 8th of July**. At the moment this enhancement is **at risk** because https://github.com/kubernetes/kubernetes/pull/102802 has not yet merged. This PR must be approved by the deadline for this enhancement to remain in v1.22.

Additionally, please remember that the docs placeholder PR is the day after code freeze.

[2021-07-07 14:52] JamesLaverack commented on #2433
Hey all, friendly reminder that **code freeze is tomorrow at 18:00 PDT on the 8th of July**. At the moment this enhancement is **at risk** because https://github.com/kubernetes/kubernetes/pull/100807 has not yet merged. This PR must be approved by the deadline for this enhancement to remain in v1.22.

I'm aware that you said it was unlikely to make it @robscott. If you think that's still the case

[2021-07-07 14:53] JamesLaverack commented on #2558
Okay @nikhita, thank you for letting us know.

/milestone clear

[2021-07-07 14:56] JamesLaverack commented on #1122
Hey all, friendly reminder that **code freeze is tomorrow at 18:00 PDT on the 8th of July**. At the moment this enhancement is **at risk** because we've not gotten confirmation about which k/k PRs are related to this enhancement in v1.22.

Additionally, please remember that the docs placeholder PR is the day after code freeze.

[2021-07-07 14:58] gracenng commented on #2625
Hi @fromanirh,  1.22 enhancements shadow here. Friendly reminder that Code Freeze is tomorrow, July 8th. Feel free to ping me once its merged.

[2021-07-07 15:19] ehashman commented on #2400
PR just merged. Docs placeholder is https://github.com/kubernetes/website/pull/28838

[2021-07-07 16:16] prameshj commented on #2610
/remove-lifecycle stale

[2021-07-07 16:18] jrsapi commented on #2400
Awesome @ehashman thanks for the update. Moving this to "Tracked".

[2021-07-07 16:32] fromanirh commented on #2625
Hi Grace, thanks for the reminder. I'm working towards the final round of review.

[2021-07-07 16:37] JamesLaverack commented on #1672
After [a discussion in Slack](https://kubernetes.slack.com/archives/C09QYUH5W/p1625674437437100) we determined that there are no changes required for v1.22. I should have identified that back in the KEP review.

For now I'll remove it from the milestone, no further action is required for v1.22.

/milestone clear

[2021-07-07 16:39] gnufied commented on #2317
@verult thats right https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/708 is as such not affected by k8s feature freeze and drivers are expected to implement this feature post code freeze.

[2021-07-07 16:49] ddebroy commented on #1122
hey @JamesLaverack sorry for the late reply. As you noted, we do not have any k/k features at this point and all changes will target https://github.com/kubernetes-csi/csi-proxy.

The major PRs for v1.22 targeting csi-proxy are the following:
https://github.com/kubernetes-csi/csi-proxy/pull/155
https://github.com/kubernetes-csi/csi-proxy/pull/146
https://github.com/kubernetes-csi/csi-proxy/pull/143

[2021-07-07 16:59] JamesLaverack commented on #1122
Thank you for the update @ddebroy. With all of those merged this enhancement is ready for code-freeze. Please do remember the docs placeholder deadline on Friday though.

[2021-07-07 18:23] ehashman commented on #1967
@jrsapi it seems that my PR for the docs was made redundant, @tengqm already made the changes. No remaining work for beta.

[2021-07-07 18:42] jsturtevant commented on #1981
We have a test running at https://testgrid.k8s.io/sig-windows-master-release#ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd-hostprocess-alpha

There is one PR we are tracking as a bug fix for hostprocess containers: https://github.com/kubernetes/kubernetes/pull/103434

[2021-07-07 19:42] robscott commented on #2433
Thanks for checking in @JamesLaverack! I also had been working on a branch that was similar to @aojea's PR linked above. Unfortunately this ended up being more complicated than expected so I think this enhancement will not see any significant changes in this cycle 😞. I'm hoping to get these tests in earlier in the next cycle though.

[2021-07-07 19:56] dashpole commented on #647
@PI-Victor Here it is: https://github.com/kubernetes/website/pull/28843

[2021-07-07 23:39] swetharepakula commented on #752
Both kubernetes/kubernetes#103451 & kubernetes/kubernetes#103520 have been approved. We are just waiting on merging for both

[2021-07-07 23:42] supriya-premkumar commented on #281
Hi @SergeyKanzhelev, I just wanted to send a reminder that we have just 1 more day to get all the remaining PRs merged before the code freeze deadline tomorrow on Thursday, July 8th at 18:00 Pacific Time.

[2021-07-07 23:46] supriya-premkumar commented on #961
Hi @krmayankk, I just wanted to send a reminder that we have just 1 more day to get all the remaining PRs merged before the code freeze deadline tomorrow on Thursday, July 8th at 18:00 Pacific Time.

[2021-07-07 23:52] supriya-premkumar commented on #1040
Hi @wojtek-t, I just wanted to send a reminder that we have just 1 more day to get all the remaining PRs merged before the code freeze deadline tomorrow on Thursday, July 8th at 18:00 Pacific Time.

[2021-07-08 00:13] supriya-premkumar commented on #2086
Hi @andrewsykim, with this [PR](https://github.com/kubernetes/kubernetes/pull/103409) merged. This issue is now on track for the 1.22 code freeze deadline tomorrow. 🎉

[2021-07-08 00:16] supriya-premkumar commented on #2273
Hi @vinaykul, I just wanted to send a reminder that we have just 1 more day to get all the remaining PRs merged before the code freeze deadline tomorrow on Thursday, July 8th at 18:00 Pacific Time.

[2021-07-08 01:14] AkihiroSuda commented on #2033
@gracenng

https://github.com/kubernetes/kubernetes/pull/92863 is now merged 🎉

[2021-07-08 02:40] swetharepakula commented on #752
All PRs for this KEP have been merged.

[2021-07-08 02:52] reylejano commented on #752
Hi @swetharepakula ,

With the following PRs merged, this enhancement is set for the 1.22 code freeze 🎉
- https://github.com/kubernetes/kubernetes/pull/103451
- https://github.com/kubernetes/kubernetes/pull/103520

[2021-07-08 02:54] reylejano commented on #1495
Hi @bswartz ,
This enhancement is all set for the 1.22 code freeze 🎉

[2021-07-08 02:56] reylejano commented on #2317
Hi @gnufield and @verult ,

This enhancement is set for the 1.22 code freeze 🎉

[2021-07-08 03:00] salaxander commented on #1981
Hi @jsturtevant - I'll add #103434 to our tracking. It'll need to merge before code freeze tomorrow evening (PST), I'll keep an eye out :)

[2021-07-08 03:05] jsturtevant commented on #1981
@salaxander I thought since it is a bug fix we would have till test freeze?  Fyi @perithompson

[2021-07-08 03:06] salaxander commented on #647
Hey @dashpole - I'll keep an eye out over the next day. Those last 2 PR's will need to merge before code freeze tomorrow to be included in 1.22

[2021-07-08 03:07] salaxander commented on #1981
Oh I may be mistaken on that! I'll double check - CC @JamesLaverack

[2021-07-08 03:11] salaxander commented on #2371
Hi @haircommander - One last ping (sorry!). Code freeze is tomorrow evening (PST), so those two open PRs will need to merge before then for this to be included in 1.22. Let me know if there's anything we can do to help :)

[2021-07-08 03:12] salaxander commented on #2590
Hey @ykakarap  - I see the PR is approved, but there are merge conflicts at the moment. It'll need to merge before code freeze tomorrow evening to be included in 1.22. Let us know if there's anything we can do to help :)

[2021-07-08 03:15] ykakarap commented on #2590
@salaxander thanks for offering to help :)

There is still some work that needs to be done before the PR can be merged.
I will drop a message here tomorrow to update the status of the PR.

[2021-07-08 03:27] jrsapi commented on #2727
Greetings @bowei,
 Sending a reminder that we have just one more day to get all open PRs merged before the code freeze deadline tomorrow on Thursday, July 8th, at 18:00 Pacific Time.

Thanks!

[2021-07-08 03:30] jrsapi commented on #2712
Greetings @mrunalp,
Sending a reminder that we have just one more day to get all open PRs merged before the code freeze deadline tomorrow Thursday, July 8th at 18:00 Pacific Time.

[2021-07-08 03:36] jrsapi commented on #2238
Greetings @raisaat ,
Sending a reminder that we have just one more day to get all open PRs merged before the code freeze deadline tomorrow, Thursday, July 8th, at 18:00 Pacific Time.

[2021-07-08 03:39] jrsapi commented on #2040
Thanks, @pacoxu  for linking the above PR's. A  reminder that we have just one more day to get all open PRs merged before the code freeze deadline tomorrow, Thursday, July 8th, at 18:00 Pacific Time.

[2021-07-08 04:01] krmayankk commented on #961
thanks @supriya-premkumar  for the reminder, the PR is very close, hoping to get it merged tomorrow. @kow3ns  @janetkuo @ravisantoshgudimetla @alculquicondor https://github.com/kubernetes/kubernetes/pull/82162 any help is appreciated in moving this forward

[2021-07-08 05:18] SergeyKanzhelev commented on #2589
was this enhancement approved for `1.22`?

[2021-07-08 06:08] fromanirh commented on #2625
Please note that (of course once the implementation merges) we are planning to go beta not before *two* releases. So, if the implementation merges in 1.22, we will not promote to beta before 1.24 (was 1.23 before)

[2021-07-08 06:34] cezaryzukowski commented on #1769
Docs placeholder: https://github.com/kubernetes/website/pull/28851

[2021-07-08 09:38] PI-Victor commented on #2086
Hello @andrewsykim  👋, 1.22 Docs release lead here.
This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Fri July

[2021-07-08 09:44] PI-Victor commented on #2317
@gnufied Friendly reminder about the upcoming docs placeholder PR deadline on Fri **July 9, 11:59 PM PDT**

[2021-07-08 13:23] JamesLaverack commented on #2433
Thank you for the update @robscott. I'll remove this from the v1.22 milestone if you're not going to be pushing any changes for this cycle.

/milestone clear

[2021-07-08 13:39] haircommander commented on #2371
thanks for the reminder @salaxander ! I can imagine I'll be requesting an extension, but there's a day to figure that out :)

[2021-07-08 13:53] JamesLaverack commented on #1981
Hey @jsturtevant, 1.22 Enhancements Lead here. I'm afraid that https://github.com/kubernetes/kubernetes/pull/103434 must be approved by code freeze, not test freeze. Test freeze, as [defined in the release documentation](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#test-freeze), is for changes to tests only.

[2021-07-08 14:52] reylejano commented on #2185
Hi @damemi ,

This enhancement is all set for the 1.22 code freeze 🎉

[2021-07-08 15:46] ritpanjw commented on #2590
@nikhita @salaxander  Friendly reminder about the upcoming docs placeholder PR deadline tomorrow
on Fri July 9, 11:59 PM PDT.

[2021-07-08 15:55] ykakarap commented on #2590
@salaxander @ritpanjw We are planning to move this enhancement to the next release. Please let me know if there is anything I need to do to note that.

[2021-07-08 17:15] trierra commented on #2589
it was planned to get to 1.22

On Wed, Jul 7, 2021 at 10:18 PM Sergey Kanzhelev ***@***.***>
wrote:

--
---------
Best regards,

*Oksana Naumov* // *MTS @ CNBU*

[2021-07-08 17:36] SergeyKanzhelev commented on #2589
I cannot find the KEP here: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage and this issue is not [in the milestone](https://github.com/kubernetes/enhancements/issues?q=is%3Aissue+is%3Aopen+label%3Asig%2Fstorage+milestone%3Av1.22). I'm confused.

[2021-07-08 19:00] verult commented on #2317
Taking a look

[2021-07-08 20:25] fromanirh commented on #2625
@gracenng FYI: https://github.com/kubernetes/kubernetes/pull/101432#issuecomment-876676001

[2021-07-08 20:54] thockin commented on #1860
@Sh4d1 Are we going to revisit this?

[2021-07-08 20:58] trierra commented on #2589
Sorry, I was told KEP is not needed, I only have an open issue for that
https://github.com/kubernetes/enhancements/issues/2589

On Thu, Jul 8, 2021 at 10:36 AM Sergey Kanzhelev ***@***.***>
wrote:

--
---------
Best regards,

*Oksana Naumov* // *MTS @ CNBU*

[2021-07-08 21:03] trierra commented on #2589
oh, I see what you mean. Apparently, it's not approved.

[2021-07-08 22:46] salaxander commented on #2590
Hi @ykakarap - I'll update it in our tracking, thanks for letting me know!

[2021-07-08 23:10] mrunalp commented on #2712
https://github.com/kubernetes/kubernetes/pull/102915 is open for the implementation.

[2021-07-09 00:22] SergeyKanzhelev commented on #2589
It may not be. Change seems to be quite straightforward and likely already covered with some other KEP. Either way the code freeze for 1.22 is in 40 minutes. There is still some work left on the PR

[2021-07-09 01:42] JamesLaverack commented on #647
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/103443 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith

[2021-07-09 01:46] JamesLaverack commented on #961
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/82162 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://githu

[2021-07-09 01:56] JamesLaverack commented on #1287
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/102884 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith

[2021-07-09 01:58] JamesLaverack commented on #1847
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/99728 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://githu

[2021-07-09 02:00] JamesLaverack commented on #2040
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/103299 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith

[2021-07-09 02:02] JamesLaverack commented on #2133
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/102802 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith

[2021-07-09 02:04] JamesLaverack commented on #2238
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/103168 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith

[2021-07-09 02:07] JamesLaverack commented on #2273
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/102884 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith

[2021-07-09 02:15] JamesLaverack commented on #2712
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/102915 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith

[2021-07-09 02:17] JamesLaverack commented on #2727
Hi, v1.22 Enhancements Lead here. Unfortunately this enhancement has not met the requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze) as https://github.com/kubernetes/kubernetes/pull/102162 is unmerged and unapproved.

If you still wish to progress this enhancement in v1.22, then please file an [exception request](https://gith