[2016-10-27 13:00] idvoretskyi commented on #138
@bogdando is @kubernetes/sig-cluster-lifecycle responsible for the feature?

[2016-10-27 13:16] bogdando commented on #138
I believe so

[2016-10-27 15:38] idvoretskyi commented on #138
@bogdando thank you. Which K8s release this feature is targeting? I'd like to remind you about the feature freeze for 1.5 that already happened (Oct 10). /cc @kubernetes/sig-cluster-lifecycle

[2016-10-27 15:41] quinton-hoole commented on #104
Post 1.5

On Oct 27, 2016 13:52, "Ihor Dvoretskyi" <notifications@github.com> wrote:

[2016-10-27 17:23] luxas commented on #138
Ok, so I do definitely not think this is a "kubernetes/feature" in the sense this repo is tracking features.
It is a _refactoring enhancement_ to https://github.com/kubernetes/features/issues/11, nothing more.

@bogdando Please read this repo's README to understand what this kind of "feature" is.
I totally agree we should do this, but it is a subtask of #11, not a feature on its own.
This proposal

[2016-10-28 08:48] bogdando commented on #11
The subfeature request https://github.com/kubernetes/features/issues/138

[2016-10-28 08:49] #138 closed

[2016-10-30 09:28] AdoHe commented on #95
@deads2k Hi David, please take a look at the message I sent on Slack. Besides, I add a fix to the failed integration test, the third party resource controller will remove the corresponding routes handler when a TPR get deleted, this will help with the integration test, but I am not sure whether this will bring in any other problems.

[2016-10-31 12:36] ingvagabund commented on #123
All PRs needed for the cluster capacity functionality are merged (just need to be picked in 1.5 release). There is one issue that needs to be resolved before the solution can be run in a container for a long time [1]. Otherwise you can already run the analysis over the current master. What is missing is pod specification and a command more user-friendly than curl. Plus some minor issues&nits.

[1]

[2016-10-31 19:17] dims commented on #88
Hi @thockin Is this the one you mentioned to me in the hall way conversation in Barcelona? Just making sure!

[2016-10-31 19:19] luxas commented on #88
Is this planned for v1.6 or what's the plan?
@wlan @ibuildthecloud

[2016-10-31 19:56] thockin commented on #88
@dims yeah, this is the one.

On Mon, Oct 31, 2016 at 8:17 PM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-11-01 05:38] brendandburns commented on #95
For problem #1, it was fixed here:

https://github.com/kubernetes/kubernetes/pull/28414

[2016-11-01 05:49] AdoHe commented on #95
@brendandburns actually not, you can run the comment out integration test, and it will fail.

[2016-11-01 05:50] AdoHe commented on #95
@brendandburns More correctly, we did support multiple resources, single version, but the deletion logical has some problem.

[2016-11-01 05:52] brendandburns commented on #95
@AdoHe did you file an issue?  I can take a look.

[2016-11-01 05:55] AdoHe commented on #95
@brendandburns you can see here:
[code]
enable this test, and you will see it will fail. I have tried to fix this on my local, and I will open a PR later today.

[2016-11-01 05:55] AdoHe commented on #95
@brendandburns I am afraid I don't file an issue.

[2016-11-01 19:33] nikhiljindal commented on #95
Also ref https://github.com/kubernetes/kubernetes/issues/32306 (TPR should be deleted when namespace is deleted)

[2016-11-02 11:43] idvoretskyi commented on #75
@ardnaxelarak what is the current status of the feature submission? Which milestone does it target?

[2016-11-02 21:02] idvoretskyi commented on #116
Marked as "Alpha" per @michmike request.

[2016-11-02 21:03] idvoretskyi commented on #94
@justinsb can you provide the actual feature status? Which milestone does it target?

[2016-11-03 15:42] idvoretskyi commented on #50
@thockin @aronchick if this item is finished, I would suggest closing this feature request.

Also, as a incubator project, this feature doesn't target any milestone.

[2016-11-03 15:45] idvoretskyi commented on #88
Who can provide the actual status of the feature? /cc @errordeveloper @thockin

[2016-11-03 15:46] idvoretskyi commented on #92
@stevesloka what is the actual status of the feature? Any update on it?

[2016-11-03 15:47] idvoretskyi commented on #93
@chakri-nelluri can you provide the actual status of the feature? Which SIG is responsible for it?

[2016-11-03 16:00] erictune commented on #92
I don't expect this in 1.5.
There has been recent discussion about Vault integration.
See: https://github.com/kelseyhightower/vault-controller
If that gains acceptance, I think the need for this feature will be
lessened.

On Thu, Nov 3, 2016 at 8:46 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2016-11-03 16:06] andrewsykim commented on #92
@idvoretskyi been working with steve on a design proposal, should we open another PR for that? Part of the proposal is already on https://github.com/kubernetes/kubernetes/pull/32579

[2016-11-03 16:13] idvoretskyi commented on #22
@soltysh @sttts can you provide the actual status of the feature for the 1.5 release (is it alpha, beta, etc)?

[2016-11-03 16:15] idvoretskyi commented on #27
@bprashanth can you update the actual status of the feature?

[2016-11-03 16:19] soltysh commented on #22
Unfortunately this is stuck in alpha, no work has been done recently with it :sob:

[2016-11-03 16:24] idvoretskyi commented on #92
@andrewsykim please, take a look at @erictune's comment above.

[2016-11-03 16:24] stevesloka commented on #92
The starter (incomplete) proposal is here: https://docs.google.com/document/d/1lFhPLlvkCo3XFC2xFDPSn0jAGpqKcCCZaNsBAv8zFdE/edit

@erictune How does Kelsey's repo resolve the problem? I do like the integration pattern with Vault, but now ALL of my apps are forced to understand Vault and how it works.  I wrote this (https://github.com/upmc-enterprises/kubernetes-secret-manager) so that you could sti

[2016-11-03 16:31] erictune commented on #92
Will take a look at upmc-enterprises/kubernetes-secret-manager.

On Thu, Nov 3, 2016 at 9:24 AM, Steve Sloka <notifications@github.com>
wrote:

[2016-11-03 16:45] idvoretskyi commented on #136
@bryk can you provide the actual status of the feature?

[2016-11-03 16:47] andrewsykim commented on #92
@idvoretskyi I read the comment, thanks. I said what I said because even though the need for the feature is lessened (as eric mentioned), Kubernetes should still support encrypting `Secrets` in etcd so long as people are storing secrets using the `Secrets` api. Just my honest opinion. I'm more than happy to help get this feature out (even if it is not expected for 1.5 release).

[2016-11-03 17:13] bryk commented on #136
Currently in late beta. We display all except two user facing resources. Now we continue work on showing more resource properties better.

[2016-11-03 23:23] davidopp commented on #22
Maybe of interest to @kubernetes/sig-instrumentation ?

[2016-11-04 05:11] #50 closed

[2016-11-04 13:26] idvoretskyi commented on #22
@soltysh @davidopp so, I'll target this one to the next milestone.

[2016-11-04 13:29] idvoretskyi commented on #92
@andrewsykim understood you. I would suggest to find the consensus within the sponsoring SIG @kubernetes/sig-auth /cc @erictune

[2016-11-04 13:32] idvoretskyi commented on #84
@Random-Liu @dchen1107 @kubernetes/sig-node so, is there any ogoing progress in 1.5 scope?

[2016-11-07 08:18] Moinheart opened #139 "Data awareness and Data/Pod affinity"
# Description

Kubernetes is aware of the state of data in local volumes of nodes, so that scheduler could make better decisions for pods. Pods' definitions could require local volumes and specific data when they are created, scheduler preferentially places pods to nodes which already have needed data/local volumes, and data would be transmissed to nodes which pods are running on.

# Progress Trac

[2016-11-07 08:19] Moinheart commented on #139
@davidopp @erictune

[2016-11-07 13:58] erictune commented on #139
Except for the transmission part, this is a duplicate of https://github.com/kubernetes/kubernetes/issues/7562

I think @bprashanth has more state on this topic.

[2016-11-07 18:14] idvoretskyi commented on #139
@Moinheart which SIG is responsible for this feature?

[2016-11-07 18:27] idvoretskyi commented on #124
@lukaszo moving to the next milestone regarding the @bgrant0607 and @kargakis comments here - https://github.com/kubernetes/kubernetes/pull/31693#issuecomment-257348942

[2016-11-07 19:11] davidopp commented on #139
Besides #7562 the following are relevant:
#121
kubernetes/kubernetes#30044 (sticky emptydir)

I agree with @erictune that this sounds a lot like sticky emptydir. @Moinheart can you read the proposal in kubernetes/kubernetes#30044 (other than the part you described about moving data) and describe if/how it is different from what you want?

[2016-11-07 21:43] lukaszo commented on #124
ok

[2016-11-08 06:16] Moinheart commented on #139
@erictune @davidopp
#30044 sticky emptydir is more talking about pod/volume affinity, in #30044 if local volumes are ready on nodes, we assume needed data is ready too. However, we couldn't be sure of that. I believe in many use cases, data is as import as software(pod), if k8s doesn't know the exact state of data, pods would be serving traffic without required data sometimes. Volumes are carrier

[2016-11-08 06:33] Moinheart commented on #139
About moving data part, we could seek support from some open source DFS or start a new project in k8s incubator for this data awareness. It would work that local volumes on nodes are collected(by label) to build a special DFS but I don't deep think it yet. k8s could get state of data through APIs of new DFS, and DFS could do the data transmission.

[2016-11-08 06:36] Moinheart commented on #139
If anything what I post makes you confused, please let me know.

[2016-11-08 14:27] erictune commented on #139
A suggest approach, which does not require kubernetes changes, is to use an
init-container which does this:  "if data directory empty then copy from
DFS otherwise do nothing.

http://kubernetes.io/docs/user-guide/production-pods/#handling-initialization

On Mon, Nov 7, 2016 at 10:36 PM, Wu Junhao <notifications@github.com> wrote:

[2016-11-09 01:13] idvoretskyi commented on #139
@Moinheart please, follow the process of submitting the feature request, described here - https://github.com/kubernetes/features/blob/master/README.md.

[2016-11-09 07:53] Moinheart commented on #139
@idvoretskyi
sig-scheduling

[2016-11-09 08:25] Moinheart commented on #139
@erictune
It's a useful feature to solve data dependency for pods, but in my use case there are two questions to use this beta feature. The first one is low performance, we have about 2k pods and each pod requires 100GB data, it would be overloaded for our data repo if every pod fetch data from the repo. The another one is that it is lack of runtime orchestration, as I mentioned in previous post(h

[2016-11-09 10:44] Moinheart commented on #139
update: currently we have about 20k pods

[2016-11-09 14:18] vpetersson commented on #27
@bgabler As far as I understand, you cannot enable alpha features. You need an [alpha cluster](https://cloud.google.com/container-engine/docs/alpha-clusters).

[2016-11-09 20:07] soltysh commented on #19
Since this was renamed to CronJobs I'll update the title to reflect that change as well.

[2016-11-09 21:12] grodrigues3 commented on #137
@apsinha @smarterclayton what's the status of this?  And can we rename the issue to StatefulSets to Beta

[2016-11-09 21:31] idvoretskyi commented on #137
Done.

[2016-11-09 21:40] grodrigues3 commented on #95
@deads2k can you update the checklist ?

[2016-11-10 05:30] saad-ali commented on #93
@kubernetes/sig-storage is responsible for this feature.

It is not part of 1.5

[2016-11-10 12:41] deads2k commented on #95
All issues still outstanding.  This is actually a feature to track the problems in the (already) beta `thirdparyresources` implementation from 1.3.  We needed a place to keep track of our problems, but had to devote energy to other efforts in 1.5.

[2016-11-10 12:47] AdoHe commented on #95
@deads2k I am already working on `Multiple Resources, single version` and `Multiple versions`, I think a lot of code need to be update.

[2016-11-10 15:54] idvoretskyi commented on #93
@saad-ali thank you!

[2016-11-10 20:01] idvoretskyi commented on #12
@smarterclayton @kubernetes/sig-api-machinery @kubernetes/sig-scalability any update on this?

[2016-11-10 20:01] idvoretskyi commented on #18
@errordeveloper @kubernetes/sig-cluster-lifecycle any update on this?

[2016-11-10 20:30] davidopp commented on #123
This feature is not in the kubernetes/kubernetes repo, so it is not tied to a release.

[2016-11-10 20:41] davidopp commented on #62
@piosz Should we close this issue? IIUC we're not planning to do more work on it, and it runs by default in all clusters (GKE and open-source). If you agree, please close.

[2016-11-10 23:48] grodrigues3 commented on #128
@mikedanese can you update the checkboxes in the PR body with the parts that are finished.

[2016-11-11 06:15] roberthbailey commented on #112
@idvoretskyi - the sig should be lifecycle, but I agree that this may be a dupe of #18.

[2016-11-11 06:16] roberthbailey commented on #48
This feature got an exception to merge the last bits after the code freeze and now is feature complete.

[2016-11-11 17:12] piosz commented on #62
Yes we should close this. I don't have enough permissions to do it.

[2016-11-11 20:34] quinton-hoole commented on #105
It's done: https://github.com/kubernetes/kubernetes/pull/35635

[2016-11-11 23:07] wlan0 commented on #88
@colemickens

[2016-11-12 00:24] mbohlool commented on #53
This updates swagger spec. @pwittrock is working on docs based on this new spec.

Update in 1.5: The openapi spec is now mature and I am working on a client-python based on it.

[2016-11-12 08:56] #62 closed

[2016-11-13 00:26] chrislovecnm commented on #18
This is a big deal, big need in the community.  I would hope that we would use helm, since it is being used a ton.  Happy to talk through use cases.

[2016-11-13 00:26] chrislovecnm commented on #18
@idvoretskyi all of us are just getting back from kubecon btw 😀

[2016-11-13 15:15] erictune commented on #18
From reading kubernetes/kubernetes#29551, it seems this is going to use kubectl apply?

[2016-11-14 10:13] sdminonne commented on #73
cc @sdminonne

[2016-11-14 14:54] timothysc commented on #12
We are unlikely going to hit the 5k goals set, but I'm sure @wojtek-t has more details.

[2016-11-14 14:56] wojtek-t commented on #12
Yes - we will definitely not announce 5k goal for 1.5 (it's not yet decided if we announce any increase, as we need etcd v3 to announce any improvement - and there is a meeting when the decision will be made about etcd v3 - how and when to launch it).

[2016-11-15 22:51] idvoretskyi commented on #125
@derekwaynecarr can you confirm that this feature targets alpha for 1.5?

[2016-11-15 22:52] idvoretskyi commented on #127
@derekwaynecarr can you confirm that this feature targets alpha for 1.5?

[2016-11-15 22:52] idvoretskyi commented on #126
@derekwaynecarr can you confirm that this feature targets alpha for 1.5?

[2016-11-15 22:57] idvoretskyi commented on #118
@DirectXMan12 any updates on this issue? Can you provide the actual status of it and update the checkboxes above?

[2016-11-15 23:10] idvoretskyi commented on #117
@DirectXMan12 any updates on this issue? Can you provide the actual status of it and update the checkboxes above?

[2016-11-15 23:11] idvoretskyi commented on #115
@justinsb any updates on this issue? Can you provide the actual status of it and update the checkboxes above?

[2016-11-15 23:52] idvoretskyi commented on #113
@justinsb any updates on this issue?

[2016-11-16 00:02] idvoretskyi commented on #95
@deads2k does still feature still target 1.5?

[2016-11-16 00:07] idvoretskyi commented on #21
@MikeSpreitzer @kubernetes/autoscaling any updates on this feature?

[2016-11-16 00:38] AdoHe commented on #95
@idvoretskyi I am afraid not :(

[2016-11-16 09:58] sdminonne commented on #95
@deads2k: ThirdPartyResourcs should be added to federated APIs.

[2016-11-16 10:07] rmohr commented on #95
@deads2k: Currently field selectors are not working when querying for ThirdPartyObjects, is that something for your list?

[2016-11-16 11:05] AdoHe commented on #95
@deads2k @rmohr kubectl still has many outstanding capabilities against TPR, list above should be updated to track these.

[2016-11-16 11:56] ConorNevin commented on #19
Is this going to be in beta for 1.5?

[2016-11-16 12:34] deads2k commented on #95
That's a more general problem of inconsistent field selector support across all API types.

[2016-11-16 13:35] pweil- commented on #127
Yes, this feature is experimental only so it would be considered alpha.

[2016-11-16 14:03] soltysh commented on #19
@ConorNevin unfortunately not, see the beta requirements in the issue description what we need to address first to promote it to beta. Sorry :disappointed: Help with fixing those is highly encouraged though :smiley:

[2016-11-16 15:14] stp-ip commented on #19
There is still https://github.com/wercker/cronetes, if one needs cronjob like functionality now without the ability to run alpha features.

[2016-11-16 16:31] DirectXMan12 commented on #21
cc @derekwaynecarr

From the autoscaling side, we're blocked on the node changes.  From the node side, I think that needs an interface in the CRI to vary resource limits, which we might not see for a while.

[2016-11-16 16:33] DirectXMan12 commented on #117
The proposal is posted, but has not been approved yet.  We only recently reached general consensus about the designed.  Still finalizing the exact semantics.  It should be removed from the 1.5 milestone, since no code will have gone into 1.5

[2016-11-16 16:34] DirectXMan12 commented on #118
The proposal is posted, but has not been approved yet.  We only recently reached general consensus about the design.  Still finalizing the exact semantics.  It should be removed from the 1.5 milestone, since no code will have gone into 1.5

[2016-11-16 18:04] idvoretskyi commented on #118
@DirectXMan12 thank you for clarifying.

[2016-11-16 18:05] idvoretskyi commented on #117
@DirectXMan12 thank you for clarifying.

[2016-11-17 01:23] idvoretskyi commented on #56
@dchen1107 can you update the actual status of the feature? Does it target alpha, beta or stable for 1.5?

[2016-11-17 01:26] idvoretskyi commented on #18
@errordeveloper @kubernetes/sig-cluster-lifecycle does this feature target alpha, beta or stable for 1.5?

[2016-11-17 01:28] idvoretskyi commented on #89
Does this feature target alpha for 1.5?

[2016-11-17 01:29] idvoretskyi commented on #21
@MikeSpreitzer Does this feature target alpha for 1.5?

[2016-11-17 01:32] idvoretskyi commented on #97
@madhusudancs can you update the feature request with the actual status? (as I can see, you should have enough permissions to do it)

[2016-11-17 01:34] idvoretskyi commented on #12
This feature hasn't received the "exception" status for 1.5. Moving to the next milestone.

[2016-11-17 01:35] idvoretskyi commented on #119
@smarterclayton please, update the naming and description with regards to "StatefulSets" renaming.

[2016-11-17 04:26] madhusudancs commented on #97
Code PRs:
https://github.com/kubernetes/kubernetes/pull/35153
https://github.com/kubernetes/kubernetes/pull/35492
https://github.com/kubernetes/kubernetes/pull/35493
https://github.com/kubernetes/kubernetes/pull/35494
https://github.com/kubernetes/kubernetes/pull/35495
https://github.com/kubernetes/kubernetes/pull/35592
https://github.com/kubernetes/kubernetes/pull/35593
https://github.com/kuberne

[2016-11-17 04:26] madhusudancs commented on #97
@idvoretskyi done.

[2016-11-17 08:55] fgrzadkowski commented on #21
This feature will not land in 1.5. Removing milestone.

We will be working on this feature for 1.6. Reassigning to folks who are already working on a design and will pursue implementation in Q1.

[2016-11-17 09:13] davidopp commented on #21
IIUC pre-requisites for at least part of this are
1. historical data from Infrastore
2. kubelet in-place resource update

I'm not sure what your plan is for (1) but from my last chat with Dawn (2) wouldn't be feasible to begin implementing before Q2. (It's not a trivial feature.)

cc/ @dchen1107

[2016-11-17 09:15] fgrzadkowski commented on #21
As explained in https://github.com/kubernetes/kubernetes/issues/10782#issuecomment-261194211:

* We don't need in-place update for MVP of vertical pod autoscaler. We can just be more conservative and recreate pods via deployments
* Infrastore would be useful, but for MVP we can just aggregate this data in VPA controller if we don't have infrastore before that time or we can read this information f

[2016-11-17 09:36] fgrzadkowski commented on #21
@krzysztofgrygiel

[2016-11-17 11:04] gmarek commented on #107
It was dropped from 1.5, and I'm not sure I'll be working on it. Can someone un-assign me from this issue?

[2016-11-17 13:25] deads2k commented on #89
@idvoretskyi at least alpha

@erictune @liggitt This mirrors the mechanism we've used in OpenShift since 1.0.  Want to call it beta?

[2016-11-17 13:29] liggitt commented on #89
I'd be comfortable with beta. It is built on top of two beta APIs, and has been tested. The remaining work is automated load testing and default enablement in the various install/setup methods

[2016-11-17 13:47] luxas commented on #18
If we have time for this in the v1.6 timeframe I think it will be alpha.

@erictune Yes, basic manifest installation will be with kubectl apply, but we might consider a more advanced alternative as well (maybe using helm as the base, we haven't decided anything yet)

[2016-11-17 15:11] erictune commented on #89
No objection to beta.  Ask node team too?

On Thu, Nov 17, 2016 at 5:29 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-11-17 15:16] ncdc commented on #115
Related: https://github.com/kubernetes/kubernetes/issues/32215 and https://github.com/kubernetes/kubernetes/pull/34727

[2016-11-17 19:55] DirectXMan12 commented on #21
I was under the impression that Infrastore was orthagonal to the problem of historical metrics access (or, at least, that was the result of the discussion that came out of Kubecon).

I think we should be careful with terminology if that's the case -- I'm envisioning a world in which people are very confused as to why the vertical autoscaler is destroying their pods.

[2016-11-17 22:37] wlan0 commented on #88
proposal for this change - https://github.com/kubernetes/kubernetes/pull/37037

[2016-11-18 09:50] fgrzadkowski commented on #21
I agree we should explicitly say that in MVP we would destroy pods, but even if we have in-place updates we might need to recreate a pod a different machine if there are no available resources. In other words pod destruction is possible anyway, it's just that without in-place updates it may happen slightly often.

[2016-11-18 09:52] davidopp commented on #21
Though with in-place update you could have an API that allows you to say only do the update if it won't cause destruction, i.e. only if it can be done in-place.

[2016-11-18 15:51] derekwaynecarr commented on #89
I am a lead on @kubernetes/sig-node and agree this should be beta.

[2016-11-18 17:44] erictune commented on #21
I have comments on the pod restarting approach, but a kubernetes/features issue is not the right place for them.  Where else can we discuss this?

[2016-11-18 19:01] davidopp commented on #21
https://github.com/kubernetes/kubernetes/issues/10782

[2016-11-18 23:56] spiffxp commented on #76
@ConnorDoyle @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it's listed as "alpha" in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)

[2016-11-18 23:59] spiffxp commented on #18
@errordeveloper @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it's listed as "alpha" in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet (yay multiple information s

[2016-11-19 00:01] spiffxp commented on #44
@timothysc @hongchaodeng @wojtek-t @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it's listed as "alpha" in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)

[2016-11-19 00:04] spiffxp commented on #21
@MikeSpreitzer @fgrzadkowski @jszczepkowski @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it's listed as "alpha" in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet

[2016-11-19 00:05] spiffxp commented on #126
@derekwaynecarr  @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it has no stage listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet (yay multiple information

[2016-11-19 00:06] davidopp commented on #21
No work has been done on this. It's labeled as next-milestone. It has never been labeled with a 1.5 tag. I'm not sure how the spreadsheet was generated, but this should definitely not be in the spreadsheet.

[2016-11-19 00:08] spiffxp commented on #21
the spreadsheet is humans collaborating, I wish there was something less manual

I scraped this repo first, and am now checking against that spreadsheet

I could use the help in making sure these disparate sources of information line up

[2016-11-19 00:10] spiffxp commented on #56
@dchen1107 @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it has no stage listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet (yay multiple information source

[2016-11-19 00:10] errordeveloper commented on #18
I am afraid it won't make it to 1.5...

On Fri, 18 Nov 2016, 23:59 Aaron Crickenberger, <notifications@github.com>
wrote:

[2016-11-19 00:12] spiffxp commented on #115
@justinsb @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it has no stage listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet (yay multiple information sources

[2016-11-19 00:13] spiffxp commented on #125
@derekwaynecarr @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it has no stage listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet (yay multiple information s

[2016-11-19 00:13] spiffxp commented on #113
@justinsb @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it has no stage listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet (yay multiple information sources

[2016-11-19 00:14] spiffxp commented on #63
@euank @idvoretskyi this needs an alpha-in-1.5, beta-in-1.5, or stable-in-1.5 label if it's going to be included in release notes for kubernetes 1.5; it has no stage listed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)... if it's not going into 1.5, we should remove it from that spreadsheet (yay multiple information sources)

[2016-11-19 00:27] davidopp commented on #113
This is sig-scheduling or sig-cluster-lifecycle -- whichever @justinsb prefers.

[2016-11-19 01:12] dchen1107 commented on #54
Here is the current status and agreement sig-node team agreed upon for 1.5 release:
cc/ @derekwaynecarr @philips @yujuhong

1) New Container Runtime Interface (CRI) is going to be released as alpha version in 1.5. This should be announced in 1.5 release notes.
2) Porting Docker integration for the new CRI is going to be released as alpha support in 1.5. We made some cautious decision on dropping s

[2016-11-19 05:34] euank commented on #63
De-milestones, it didn't get picked up in this release.

[2016-11-19 14:21] luxas commented on #18
@spiffxp Nope, you can remove it from v1.5 in the spreadsheet

[2016-11-19 14:30] liggitt commented on #2
Types are still alpha for 1.5

[2016-11-20 08:08] davidopp commented on #56
Can we please rename this to something other than NodeSpec? We already have NodeSpec here
https://github.com/kubernetes/kubernetes/blob/00458a12a8284fc10104b4e6ed6e8d6f278e1e04/pkg/api/types.go#L2412
where it means something totally different.

[2016-11-20 19:04] luxas commented on #130
Hmm, this didn't make v1.5, did it?

[2016-11-20 19:10] luxas commented on #44
@wojtek-t @hongchaodeng @timothysc What's the status of this feature?
Will it make v1.5 and in that case which version of etcd3? 3.0.13? 3.0.14?

[2016-11-20 19:25] davidopp commented on #44
It would be great to link from this issue to a summary of the etcd3 rollout plan -- I know I've seen it in other issues. (Or just copy it here.)

[2016-11-21 08:00] wojtek-t commented on #44
@luxas - not, we will stick with 2.2.1 etcd in 1.5. The plan is to upgrade to 3.0.14 in v3 mode in 1.6 (and we would like to change the defaults as soon as we have more confidence in migration)

[2016-11-21 16:19] idvoretskyi commented on #56
@dchen1107 can you review the @davidopp's suggestion?

[2016-11-21 18:31] duglin commented on #75
Can we target this for 1.6 ?

[2016-11-21 18:38] duglin commented on #75
@thockin is there a doc describing the DNS you're referring to?   Does your "intersect" mean in a "bad" way or just a "big" way?  Would a node-local cache imply that pods in different namespaces on the same node would see each other's DNS entries?  Seems like a complementary PR would be to make this node-local cache be namespace aware too.

[2016-11-21 18:50] idvoretskyi commented on #130
@jbeda @luxas any final agreement on this?

[2016-11-21 18:51] thockin commented on #75
Doug,

https://github.com/kubernetes/kubernetes/issues/32749 talks about some of
the ideas of installing a cache per-node.  That would be fine with
per-namespace DNS policy, but it gets harder in the face of multi-tenancy.
But we're going to have to solve that.

I am OK with the idea of per-namespace DNS policies, but we need a more
thorough proposal that addresses the issues:

- DNSPolicy is curr

[2016-11-21 18:54] idvoretskyi commented on #44
@wojtek-t thank you for clarifying - I'll move it out of the 1.5 scope. /cc @spiffxp @luxas @davidopp

[2016-11-21 18:57] idvoretskyi commented on #63
@euank are you going to continue working on this for the future releases?

[2016-11-21 19:08] xiang90 commented on #44
@wojtek-t Why not upgrade 2.2.1 to 2.3.7 or 3.0 but still use v2 api?

[2016-11-21 19:37] idvoretskyi commented on #137
Docs:

https://github.com/kubernetes/kubernetes.github.io/pull/1704
https://github.com/kubernetes/kubernetes.github.io/pull/1707
https://github.com/kubernetes/kubernetes.github.io/pull/1718
https://github.com/kubernetes/kubernetes.github.io/pull/1719
https://github.com/kubernetes/kubernetes.github.io/pull/1722

[2016-11-21 20:59] lavalamp commented on #44
We are still not confident in the roll-forward / roll-backward scripts, unfortunately.

[2016-11-21 21:00] philips commented on #44
etcd by default going into v1.6 was documented on this thread: https://groups.google.com/forum/#!topic/kubernetes-dev/32e2dTZaA3w

[2016-11-21 21:08] hongchaodeng commented on #44
@lavalamp

What's unclear? Why does it block updating the default to use v3.0+ image in upstream?

[2016-11-22 00:00] Random-Liu commented on #84
Update of this feature for 1.5:

* The 2 critical pending PRs got merged:
  * Add system verification. https://github.com/kubernetes/kubernetes/pull/32427
  * Containerize the node e2e test. https://github.com/kubernetes/kubernetes/pull/31093
* Mark more conformance test based on [conformance test list](https://docs.google.com/spreadsheets/d/1yib6ypfdWuq8Ikyo-rTcBGHe76Xur7tGqCKD9dkzx0Y/edit?usp=sh

[2016-11-22 18:31] jbeda commented on #130
Pushing to 1.6

[2016-11-22 20:06] philips commented on #92
cc @kelseyhightower

[2016-11-28 18:05] thockin commented on #33
@therc I don't think the CLI for this went in, did it?  Any reason to not call what we have GA, anyway?  Are you active on the CLI part or should we just open a new issue for it?

[2016-11-28 18:59] jaredbhatti commented on #113
Ping.  Are docs needed for this feature in 1.5?  Need to know by end of day.

[2016-11-28 19:05] euank commented on #58
This feature is straddling two different implementations. I don't think either of them should be marked stable in 1.5 and this feature should be focused on the new integration (dependent on the CRI feature) going forwards to end up stable.
For that integration we're now targeting alpha in 1.6.

I think updating to reflect that makes sense.

[2016-11-28 19:19] calebamiles commented on #58
@idvoretskyi, I will update this issue. This feature covers the work to make rkt a first class container runtime for Kubernetes there is an existing implementation currently in tree that is mostly but not entirely feature complete with respect to the docker runtime, however, this is an implementation detail of the feature. Currently there are CoreOS developers working on a CRI conformant rkt integ

[2016-11-28 19:20] jaredbhatti commented on #128
Ping.  Is there a docs PR for this?

[2016-11-28 19:23] jaredbhatti commented on #105
Ping. Is there a docs PR for this?

[2016-11-28 19:24] jaredbhatti commented on #2
Ping. Is there a docs PR for this?

[2016-11-28 19:24] jaredbhatti commented on #101
Ping. Is there a docs PR for this?

[2016-11-28 19:25] jaredbhatti commented on #100
Ping. Is there a docs PR for this?

[2016-11-28 19:25] jaredbhatti commented on #27
Ping. Is there a docs PR for this?

[2016-11-28 19:26] jaredbhatti commented on #97
Ping. Is there a docs PR for this?

[2016-11-28 19:26] jaredbhatti commented on #119
Ping. Is there a docs PR for this?

[2016-11-28 19:27] idvoretskyi commented on #58
@calebamiles thank you!

[2016-11-28 19:27] jaredbhatti commented on #48
Ping. Is there a docs PR for this?

[2016-11-28 19:27] bprashanth commented on #27
Not yet, we have till end of week right (isn't realease only Dec 7 ish)?
As of 1.4 it's alpha
As of 1.5 it's beta (same annotation, s/alpha/beta)

[2016-11-28 19:53] allannaim commented on #97
+Madhu

On Mon, Nov 28, 2016 at 11:26 AM, Jared <notifications@github.com> wrote:

[2016-11-28 19:58] madhusudancs commented on #97
@jaredbhatti not yet, but I am working on it. I will send it out for review ASAP.

[2016-11-28 20:26] erictune commented on #119
This is covered by https://github.com/kubernetes/kubernetes.github.io/pull/1774

[2016-11-28 20:27] erictune commented on #119
I've relabeled this as beta, not alpha.  SS is beta.  The change to node controller behavior sorta sidestepped the whole alpha/beta/GA thing.

[2016-11-28 23:33] Random-Liu commented on #84
The document PR is ready for review https://github.com/kubernetes/kubernetes.github.io/pull/1784.

[2016-11-29 01:02] mikedanese commented on #128
Sorry, I missed this one.

Original issue: https://github.com/kubernetes/kubernetes/issues/19805
Implementation: https://github.com/kubernetes/kubernetes/pull/33075

There is command documentation like all of our other commands. Examples are being added in https://github.com/kubernetes/kubernetes/pull/37397 at which point it will have as much documentation as any other kubectl flag. It will be lab

[2016-11-29 02:14] vinay-g commented on #19
Would run at most once feature be implemented in CronJobs ?
I see that it was not included in the alpha - https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/scheduledjob.md#decision

[2016-11-29 05:14] sandys commented on #22
hey guys - this is very important for us since we are planning to financial services application on k8s. I realize that this may take a while to make it in. I hope im not destroying the conversation here.. but what are people using **today** to do this kind of logging ?

A lot of people use bastion hosts to run kubectl  - are you guys logging commands on that server, etc ? it would be good to know

[2016-11-29 07:21] soltysh commented on #22
This feature is in its very early stage, the docs for the current state are [here](http://kubernetes.io/docs/admin/audit/).

[2016-11-29 12:34] jszczepkowski commented on #48
Docs PR is here: https://github.com/kubernetes/kubernetes.github.io/pull/1810

[2016-11-29 13:50] soltysh commented on #19
@vinay-g eventually, I guess so, but I have no idea when that will. Help is always welcomed though :)

[2016-11-29 17:39] idvoretskyi commented on #119
@erictune thank you.

[2016-11-29 17:42] pwittrock commented on #128
lgtm.

[2016-11-30 00:25] madhusudancs commented on #97
cc @kubernetes/feature-reviewers because the issue template advises to. But I am not entirely sure for what I am ping. The docs PR is here - https://github.com/kubernetes/kubernetes.github.io/pull/1822

[2016-11-30 10:49] jimmycuadra commented on #60
I have a use case for this feature which I don't think is covered by the current design, but please correct me if I'm wrong.

Imagine a simple example cluster with two nodes. I want to create deployments in this cluster with two pod replicas each. I want to require that the two pods are not on the same node. I can do this with pod affinity based on a label like app=foo, but when I edit the deploym

[2016-11-30 17:50] idvoretskyi commented on #97
@kubernetes/docs @jaredbhatti FYI ^

[2016-11-30 21:04] jaredbhatti commented on #128
Ok. I'll mark this "no docs needed" Thanks!

[2016-11-30 21:07] jaredbhatti commented on #2
Another ping. Docs?

[2016-11-30 21:09] jaredbhatti commented on #27
You had until yesterday to write a docs PR :)  Can you get me one today?

[2016-11-30 21:10] liggitt commented on #2
docs for the current state already exist at http://kubernetes.io/docs/admin/authorization/

[2016-12-01 20:43] spiffxp commented on #89
I'm removing the team/SIG-Node label given that SIG-Auth is listed as the owner in the [1.5 feature spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0); if we're using labels to describe areas of overlap then we need something else in these issues to identify owner

[2016-12-01 20:44] spiffxp commented on #113
adding labels per info in the [1.5 feature spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0)

[2016-12-01 20:47] spiffxp commented on #48
I'm removing the team/SIG-ClusterLifecycle label given that SIG-ClusterOps is listed as the owner in the [1.5 feature spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0); if we're using labels to describe areas of overlap then we need something else in these issues to identify owner

[2016-12-01 20:50] spiffxp commented on #76
I'm removing the team/SIG-Node label given that SIG-Scheduling is listed as the owner in the [1.5 feature spreadsheet](https://docs.google.com/spreadsheets/d/1g9JU-67ncE4MHMeKnmslm-JO_aKeltv2kg_Dd6VFmKs/edit#gid=0); if we're using labels to describe areas of overlap then we need something else in these issues to identify owner

[2016-12-01 22:39] timothysc commented on #48
nope nope, switching that back.

[2016-12-02 00:30] mtaufen commented on #115
/cc @mtaufen

[2016-12-04 02:11] davidopp commented on #56
How about "node conformance spec" (which aligns it with the terminology in #84)?

[2016-12-04 09:15] davidopp commented on #60
My understanding of the way Deployments work for rolling update is that a second RS is created, initially with 0 replicas, and then the first RS is scaled down as the second RS is scaled up. So the total number of replicas across the two RSes is 2, except perhaps for transient conditions. Initially both are in the "old version," then one is in the "new version" and one is in the "old vesion", and

[2016-12-05 01:00] smarterclayton commented on #60
If you have maxSurge == 0, you get "up to but not more than N" behavior.
If you want to keep availability >= 100% of your original N, you'd need
something that is unique for each RS as you note.

We don't really have downward API for regular fields, but I could imagine
something like that (have pod affinity rules depend on the current value of
a label for a pod).

On Sun, Dec 4, 2016 at 4:15 AM, D

[2016-12-05 07:17] davidopp commented on #60
Ah, thanks for the explanation.

As a workaround, could you have a pod label in your podTemplate with key "version" (or "generation" or something like that) and a value that is initially 0, and a corresponding pod anti-affinity annotation with the same key/value pair, and each time you modify the podTemplate, you bump up both values (label and anti-affinity annotation)? The value could be the hash

[2016-12-05 13:10] jszczepkowski commented on #48
I've created a [doc](https://docs.google.com/a/google.com/document/d/11-dd7oa0WmMsCmXNb4oztkddrEdj8IAMU3AMe-V1B9s/edit?usp=sharing) describing potential etcd/master replica failure scenarios that shall be manually tested. Everybody is invited to review it.

[2016-12-06 23:17] cjcullen commented on #89
I agree that the feature is probably stable, but it makes me a little uncomfortable that our main deployment targets don't turn it on by default, so we have no end-to-end tests in CI verifying it plays nicely with the rest of the system.

[2016-12-07 12:31] apsinha commented on #54
Can we add a link to the documentation for this issue?

[2016-12-07 19:02] idvoretskyi commented on #54
ping @dchen1107 @yujuhong

[2016-12-07 19:59] yujuhong commented on #54
doc: https://github.com/kubernetes/community/blob/master/contributors/devel/container-runtime-interface.md

[2016-12-09 18:53] kargakis commented on #122
@kubernetes/docs https://github.com/kubernetes/kubernetes.github.io/pull/1699 is the docs PR for this.

[2016-12-13 02:28] jimmycuadra commented on #33
This is stable in 1.5? Are there docs?

[2016-12-13 05:11] thockin commented on #33
The CLI did not, but the API change is in 1.4.

http://kubernetes.io/docs/user-guide/services/ - search for "ExternalName"

On Mon, Dec 12, 2016 at 6:28 PM, Jimmy Cuadra <notifications@github.com>
wrote:

[2016-12-13 17:59] idvoretskyi commented on #128
@mikedanese @pwittrock can you confirm that this item targets beta in 1.6?

[2016-12-13 18:00] idvoretskyi commented on #127
@derekwaynecarr @pweil- can you confirm that this item targets beta in 1.6?

[2016-12-13 18:00] idvoretskyi commented on #126
@derekwaynecarr can you confirm that this item targets beta in 1.6?

[2016-12-13 18:01] idvoretskyi commented on #125
@derekwaynecarr can you confirm that this item targets stable in 1.6?

[2016-12-13 18:01] idvoretskyi commented on #122
@smarterclayton can you confirm that this item targets stable in 1.6?

[2016-12-13 18:02] idvoretskyi commented on #120
@smarterclayton can you confirm that this feature has been fully implemented and the issue can be closed?

[2016-12-13 18:03] idvoretskyi commented on #119
@smarterclayton @erictune can you confirm that this item targets stable in 1.6?

[2016-12-13 18:04] idvoretskyi commented on #116
@michmike can you confirm that this item targets beta in 1.6?

[2016-12-13 18:05] idvoretskyi commented on #105
@quinton-hoole @mwielgus @nikhiljindal can you confirm that this item targets beta in 1.6?

[2016-12-13 18:05] idvoretskyi commented on #101
@mwielgus @nikhiljindal can you confirm that this item targets beta in 1.6?

[2016-12-13 18:06] idvoretskyi commented on #100
@nikhiljindal @mwielgus can you confirm that this item targets beta in 1.6?

[2016-12-13 18:06] idvoretskyi commented on #99
@quinton-hoole @nikhiljindal can you confirm that this item targets beta in 1.6?

[2016-12-13 18:07] idvoretskyi commented on #97
@quinton-hoole @madhusudancs can you confirm that this item targets beta in 1.6?

[2016-12-13 18:07] idvoretskyi commented on #89
@liggitt can you confirm that this item targets stable in 1.6?

[2016-12-13 18:08] idvoretskyi commented on #85
@davidopp can you confirm that this item targets beta in 1.6?

[2016-12-13 18:31] idvoretskyi commented on #84
@dchen1107 can you confirm that this item targets stable in 1.6?

[2016-12-13 18:32] idvoretskyi commented on #76
@ConnorDoyle can you confirm that this item targets beta in 1.6?

[2016-12-13 18:33] idvoretskyi commented on #54
@dchen1107 @yujuhong can you confirm that this item targets beta in 1.6?

[2016-12-13 18:34] idvoretskyi commented on #48
@aronchick @jszczepkowski can you confirm that this item targets beta in 1.6?

[2016-12-13 18:35] idvoretskyi commented on #33
@smarterclayton @therc can you confirm the feature development has been completed and issue can be closed?

[2016-12-13 18:35] idvoretskyi commented on #27
@girishkalele can you confirm that this item targets stable in 1.6?

[2016-12-13 18:36] idvoretskyi commented on #11
@jbeda @mikedanese can you confirm that this item targets beta in 1.6?

[2016-12-13 18:50] mikedanese commented on #11
Yes it does.

[2016-12-13 19:11] thockin commented on #27
Girish is no longer involved in this - @bprashanth has taken responsibility for it.

[2016-12-13 19:14] michmike commented on #116
@idvoretskyi , yes that's right. thanks!
we will be in beta for v1.6

[2016-12-13 21:57] erictune commented on #119
Statefulset set will still be beta in 1.6.  Progress will be made in this
area.

On Dec 13, 2016 10:04 AM, "Ihor Dvoretskyi" <notifications@github.com>
wrote:

[2016-12-13 22:46] mikedanese commented on #43
We are aiming to bring the certificates API to beta in v1.6.

[2016-12-14 07:49] davidopp commented on #85
It was beta in 1.5. beta-in-1.5 label looks correct.

We don't have any short-term plan for additional work on this, so I'll close.

[2016-12-14 20:25] madhusudancs commented on #97
@idvoretskyi we are planning to take it to GA in v1.6. How did I indicate that? What labels should I add?

[2016-12-14 20:27] madhusudancs commented on #100
@idvoretskyi confirmed. Is there anything else we need to do, like modifying labels?

[2016-12-14 20:27] madhusudancs commented on #101
@idvoretskyi confirmed. Is there anything else we need to do, like modifying labels?

[2016-12-14 20:28] madhusudancs commented on #105
@idvoretskyi don't know yet, but likely. Is there anything else we need to do, like modifying labels?

[2016-12-14 20:54] idvoretskyi commented on #105
@madhusudancs keeping labels and milestone up-to-date will be enough for now :)

[2016-12-14 20:57] idvoretskyi commented on #97
@madhusudancs "stage/stable" is a rigth label (already updated).

[2016-12-14 23:34] jimmycuadra commented on #2
I don't see the new default roles in the documentation. Default roles were mentioned in the 1.5 release notes.

[2016-12-15 18:15] kargakis commented on #129
@mfojtik

[2016-12-15 18:18] kargakis commented on #120
@idvoretskyi yes, this issue should be good to go. Any follow-up work should happen in https://github.com/kubernetes/features/issues/122 which has some overlap with this one.

[2016-12-15 18:18] #120 closed

[2016-12-15 20:15] bgabler commented on #27
This is a huge issue for us. Any update on when we can expect this? In the meantime we're running NGINX on compute to add a custom header to the request as it passes through to a k8s service.

[2016-12-15 21:18] thockin commented on #27
This is alpha in 1.4, and beta in 1.5.  Go nuts! :)

On Thu, Dec 15, 2016 at 12:15 PM, Ben Gabler <notifications@github.com>
wrote:

[2016-12-19 02:29] liggitt commented on #89
Yes

[2016-12-19 09:59] bboreham commented on #88
Proposal now at https://github.com/kubernetes/community/pull/128

[2016-12-19 17:01] ivanjaros commented on #27
Everything went so smooth the past few weeks for me when deploying stuff onto k8s but now this. Damn :(

[2016-12-19 20:07] Starefossen commented on #27
@thockin does this only apply to k8s on GCE?

[2016-12-19 22:44] foxish commented on #95
I'm starting to look at this as well. ThirdPartyResources are very important to supporting "external" controllers like [spark](https://github.com/kubernetes/kubernetes/issues/34377), and before we can add things like sub-resources, we should be fixing this.

[2016-12-19 22:53] mikedanese commented on #88
Renaming issue to (hopefully) make clearer the main goal

[2016-12-22 02:43] thockin commented on #27
It should work on GCE and Azure for LB VIPs and it should work on any
platform for NodePorts (I think - @bprashanth to confirm)

On Mon, Dec 19, 2016 at 12:07 PM, Hans Kristian Flaatten <
notifications@github.com> wrote:

[2016-12-26 15:20] idvoretskyi commented on #88
@mikedanese does this feature target 1.6 (alpha, beta, stable)? Is @wlan0 a responsible person for the feature or someone else?

[2016-12-27 00:54] thockin commented on #88
@wlan0 is on the hook for impl.  I am on the hook for reviews.

On Mon, Dec 26, 2016 at 7:20 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2016-12-27 09:27] idvoretskyi commented on #88
@thockin thank you.

[2016-12-27 09:48] luxas commented on #88
I'm also reviewing and am maybe going to pair-program with @wlan0 in the future if needed.
I think we can set stage/alpha on this, because we're aiming for alpha in v1.6

[2016-12-27 15:47] idvoretskyi commented on #88
@luxas thank you.

[2016-12-27 17:37] wlan0 commented on #88
@idvoretskyi I agree with what @thockin and @luxas said.

[2016-12-28 07:09] thockin commented on #33
@therc Can we count on you for CLI wrapup?  would love to close this...

[2016-12-28 13:12] bogdando commented on #11
@mikedanese could you please link the proposal with the amended https://github.com/kubernetes/kubeadm/issues/22 feature flags proposal? I'm lost in tracking its status

[2016-12-28 18:22] ivanjaros commented on #27
I am on gke with updated cluster to 1.5.1 in euw1d and forward proto and and ip works but port is 5xxxx instead of 80/443(in my case).

[2016-12-28 18:27] thockin commented on #27
@ivanjaros You'll have to be more explicit about what you're hoping to acheive, what you did, and what happened.  I don't know how to interpret your message.

[2016-12-28 18:27] aledbf commented on #27
`$server_port`

[2016-12-28 20:14] ivanjaros commented on #27
That worked perfectly. Thanks aledbf.

[2016-12-29 00:54] rxwen commented on #27
Is it enough to add ```"service.beta.kubernetes.io/external-traffic": "OnlyLocal"``` annotation for services on a 1.5.1 cluster? It doesn't seem to work for me, still sees cluster ip.

[2016-12-29 06:55] ivanjaros commented on #27
That annotation currently works only in GKE.

[2016-12-30 11:04] krmayankk commented on #139
Is this agreed that this is not the same as sticky emptyDir proposal and is indeed a different proposal mainly because of copying data from one local node to another ? @smarterclayton @bprashanth

[2017-01-02 01:46] erictune commented on #139
Another thing different about this proposal, IIUC, is the request for multiple pods to share a single local Volume (deduplication of data, implied by pictures in https://groups.google.com/forum/#!topic/kubernetes-dev/rWSmWpDr6JU).  This seems like it might not be compatible with stickyEmptyDir.

If people desire this feature, it would be good to bring it up on kubernetes/kubernetes#30044

[2017-01-02 14:41] kargakis commented on #122
Docs at http://kubernetes.io/docs/user-guide/deployments/#deployment-status

[2017-01-03 06:43] thockin commented on #27
What leads you to believe it only works on GKE?  There's nothing at all GKE specific in this code path.

@rxwen yes, settingWhat leads you to believe it only works on GKE?  There's nothing at all GKE specific in this code path. the annotation should be sufficient.  Can you tell me if, after that is set, whether you get another annotation set (automatically) with the "heathcheck nodeport" ?

[2017-01-03 06:49] ivanjaros commented on #27
http://kubernetes.io/docs/user-guide/load-balancer/#loss-of-client-source-ip-for-external-traffic

"However, starting in v1.5, an optional beta feature has been added that will preserve the client Source IP for GCE/GKE environments. This feature will be phased in for other cloud providers in subsequent releases."

[2017-01-03 06:49] rxwen commented on #27
I don't know. As a matter of fact, after I saw your previous comment, I believe it should work on a bare-metal cluster, nodeports type service (Though @bprashanth hasn't yet confirmed) .

If I understand correctly, after I set this annotation for a service, in addition to this annotation, a new annotation "heathcheck nodeport" should be applied to the service as well?
I'll check it and test again.

[2017-01-03 06:53] thockin commented on #27
Key there is "GCE/GKE" not just GKE :)

On Mon, Jan 2, 2017 at 10:49 PM, Ivan Jaros <notifications@github.com>
wrote:

[2017-01-03 06:55] thockin commented on #27
On Mon, Jan 2, 2017 at 10:49 PM, rxwen <notifications@github.com> wrote:

on BareMetal you have the pieces you need to make it work, mostly (I
think the nodeport healthchecking is wrong, @bprashanth we should fix
that ASAP for 1.6 tree), but you have to glue it together yourself
(since no cloud provider module)

Correct.  That annotation is a signal that your annotation was
received and handled.

[2017-01-03 07:00] rxwen commented on #27
Does it mean on a 1.5.1 cluster, in addition to setting the annotation for a service, I need to make other configuration to make it work? If so, any guidance about what other configuration should I make?

[2017-01-03 07:21] thockin commented on #27
On GCE it should just work.

On BareMetal, you need to configure the load-balancer to use the new
healthcheck-nodeport when routing traffic toward VMs, so it will not send
traffic to a VM with no backends.

On Mon, Jan 2, 2017 at 11:00 PM, rxwen <notifications@github.com> wrote:

[2017-01-04 01:24] davidopp commented on #139
My interpretation of the sticky emptyDir proposal was that it would allow multiple pods to share a local volume. In particular this part

seems to be handling the case where Pod 2 wants to use the same local volume as Pod 1 (regardless of whether Pod 1 is still running).

[2017-01-05 17:24] idvoretskyi commented on #33
@thockin @therc sooo, any final decision?

[2017-01-05 22:11] timothysc commented on #44
etcd3 is now the default in 1.6 (https://groups.google.com/forum/#!topic/kubernetes-dev/WMPK5fyOorE), we will need to be careful to outline installation and upgrade instructions for the broader community.  Luckily @kubernetes/sig-cluster-lifecycle-misc has already defaulted to etcd3 in their release.

/cc @hongchaodeng @xiang90

[2017-01-05 22:18] cmluciano commented on #75
@thockin Is the per-node DNS cache the place to start prior to this multi-tenant implementation? I'd like to shepherd the latter along while remaining cognizant to the future of DNS.

[2017-01-05 22:29] hongchaodeng commented on #44
Great! Thanks @timothysc

[2017-01-05 22:44] foxish commented on #95
Is the next step here to move the TPRs into an [addon API server](https://github.com/kubernetes/kubernetes/pull/36977#issuecomment-266765046)?
It seems like there are some outstanding PRs out to fix some of the issues in the list here which may be blocked on this item.

/cc @liggitt @deads2k @AdoHe

[2017-01-05 22:57] thockin commented on #75
@bowei

[2017-01-06 00:09] jessfraz opened #162 "[Service Catalog]: Pod Preset"
# Description

Add a policy resource that allows loose coupling from services to the pods that consume them.
Proposal here: https://github.com/kubernetes/community/pull/254

# Progress Tracker

- [ ] Alpha
    - [x] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current

[2017-01-06 11:51] jsafrane opened #163 "WIP: Promote StorageClass to GA"
Work in progress. This note will be removed when TODO list in "Feature tracker" is complete and agreed.

# Description

Change `StorageClass` implementation from Beta to Stable.

We already went through Alpha and Beta, this feature tracks progress from Beta to Stable

# Progress Tracker

 - [ ] Design Approval
   - [ ] Design Proposal.  This goes under [docs/proposals](https://github.com/kubernete

[2017-01-06 11:52] jsafrane commented on #163
cc: @kubernetes/sig-storage-misc

[2017-01-08 05:29] thockin commented on #163
I endorse moving to GA.

I want to talk about `is-default`.  I actually think it makes sense to stay as an annotation.  Here's why.  The defaultness or non-defaultness of a storage class is actually not a property of the class - it is a property of the admission system that is defaulting PVClaims.

We happen to have a simple defaulter as an admission controller, and that simple defaulter looks for

[2017-01-09 10:35] idvoretskyi commented on #75
As there's no clear proposal and final decision, I'd skip this one for 1.6 in favor of 1.7 or latter.

[2017-01-09 13:16] jsafrane commented on #163
Ack, your arguments sound reasonable, I updated the feature to remove only `beta` from the annotation.

[2017-01-09 14:05] liggitt commented on #163
is this different than https://github.com/kubernetes/features/issues/36?

[2017-01-09 14:55] jsafrane commented on #36
Updated "Before stable" section with more detailed TODO list

[2017-01-09 14:56] jsafrane commented on #163
Oops, it is. I'm working on a feature for more than half a year without knowing about it :-(. Let's continue in #36.

[2017-01-09 14:56] #163 closed

[2017-01-10 18:59] renaudguerin commented on #27
Does this feature have the nice side effect of fixing the lack of node health-checks in GCE L4 LBs created by "type: LoadBalancer" service definitions ? This is obviously causing service interruptions when upgrading nodes, because the L4 LB keeps sending traffic to down nodes, in the absence of any health check.
Is enabling implementing source IP preservation, even when you don't really care about

[2017-01-10 20:53] idvoretskyi commented on #36
@jsafrane are you a person, responsible for the feature?

[2017-01-11 12:07] jsafrane commented on #36
Yes, I am the responsible one.

[2017-01-12 16:05] idvoretskyi commented on #162
@jessfraz can you update this feature request with more details?
Which release does it target, which SIG is responsible for the feature, who is the feature owner?

[2017-01-12 16:08] idvoretskyi commented on #139
@Moinheart please, update the feature request with the design proposal.
Also, which release does this feature target?

[2017-01-12 16:11] idvoretskyi commented on #136
@bryk are you expecting this feature to be present in 1.6 (as a stable, after beta)?

[2017-01-12 16:29] idvoretskyi commented on #130
@jbeda can you confirm that this feature targets alpha for 1.6?

[2017-01-12 17:02] idvoretskyi commented on #93
@saad-ali which release does this feature target and which stage (alpha/beta/stable)?

[2017-01-12 17:07] idvoretskyi commented on #56
@dchen1107 what is the status of the feature? Does it target 1.6?

[2017-01-12 17:08] idvoretskyi commented on #44
@timothysc can you confirm that this feature can be labelled as "stable" for 1.6?

[2017-01-12 17:13] idvoretskyi commented on #2
@ericchiang @deads2k which stage does this feature target for 1.6 (alpha/beta/stable)?

[2017-01-12 18:31] deads2k commented on #2
beta

[2017-01-12 18:55] lavalamp commented on #44
I don't feel like "alpha, beta, stable" is a good paradigm for thinking about "features" like this one. It's on by default, which we wouldn't do if we thought there were any bugs. Chances of us rolling it back again rather than fixing any bugs is super low. Go ahead and call that stable if you want, I guess.

[2017-01-12 18:59] jessfraz commented on #162
Yes sorry, is there a template for what details go here and what goes into the proposal?

[2017-01-12 19:29] idvoretskyi commented on #44
@lavalamp yes, thank you.

[2017-01-12 19:30] idvoretskyi commented on #162
@jessfraz feel free to update the issue body (the new template is on the way)

[2017-01-14 17:53] nvartolomei commented on #100
the propsal doc is private

[2017-01-14 20:24] davidopp commented on #100
Actually it looks like it is shared with the kubernetes-sig-federation list; so if you join
https://groups.google.com/forum/#!forum/kubernetes-sig-federation
you should be able to access it.

[2017-01-15 11:02] JeanMertz commented on #19
This feature is still attached to milestone 1.4, and the 1.6 milestone spreadsheet doesn't mention anything about Cron/ScheduledJobs.

Is this still on-schedule for a 1.6 beta release? As a GKE customer, I would _love_ to start moving all our out-of-cluster crons onto the cluster itself (without using cronetes).

[2017-01-16 00:27] evmin commented on #19
Indeed. This a much needed feature has been dragging on from 1.3 version if I am not mistaken. Myself I am in the same position - can not wait till it comes across so I can start pulling the on premise jobs onto GKE.

[2017-01-16 10:27] pires commented on #19
I believe you can if you just enable alpha features.
<img width="470" alt="screen shot 2017-01-16 at 10 27 26" src="https://cloud.githubusercontent.com/assets/1752631/21979336/67dcfa30-dbd6-11e6-8aa3-48dc4d91913c.png">

[2017-01-16 13:31] soltysh commented on #19
I've modified the milestone to next, there are still quite a lot of work to be done for CronJobs to stabilize them, I'd love to push it forward more aggressive, but unfortunately the lack of time is the main factor I can't atm.

[2017-01-16 15:40] avaranovich commented on #19
is imagePullSecrets supported in the ChronJob template?

[2017-01-16 15:45] idvoretskyi commented on #19
@soltysh thank you for updating.

[2017-01-17 07:10] soltysh commented on #19
@avaranovich should be, since we're creating a Pod from the template. If it's not please fill in an issue and tag me there.

[2017-01-17 07:22] ApsOps commented on #19
Hey @soltysh . I'd love to see in this beta soon! I want to help but not sure what is required/ the next step here. Can you please refine the checklist a bit (maybe create/point to relevant issues/docs)? 🙂

[2017-01-17 09:20] soltysh commented on #19
@ApsOps before beta we definitely need to implement server-side removal, support google app engine and chronos format, and allow using timezones. Probably it would be nice to sweep the bugs that are on me that are related to CronJobs. I doubt it's doable for 1.6, but for next releases it's doable. Most importantly tag me in every issue/pr you create wrt to this topic.

[2017-01-17 09:25] jsafrane commented on #36
Removal of alpha annotation: https://github.com/kubernetes/kubernetes/pull/40000

[2017-01-17 15:08] jsafrane commented on #36
New stable PV/PVC attributes: https://github.com/kubernetes/kubernetes/pull/40013

[2017-01-18 09:50] jsafrane commented on #36
Issues to update of vSphere, Azure and Photon installation scripts to deploy a default storage class: https://github.com/kubernetes/kubernetes/issues/40070, https://github.com/kubernetes/kubernetes/issues/40071 and https://github.com/kubernetes/kubernetes/issues/40072

GCE, AWS and OpenStack should already deploy one and no other platform had alpha provisioning enabled.

[2017-01-18 16:19] jsafrane commented on #36
storage.k8s.io/v1 API: https://github.com/kubernetes/kubernetes/pull/40088

Now I have two PRs (kubernetes/kubernetes#40013 and kubernetes/kubernetes#40088) that need to get in before I actually start writing code to use v1 API in Kubernetes (controllers, examples, tests, ...) Please review.

[2017-01-18 22:57] vishh commented on #121
@msau42 and myself will be tackling this problem in v1.6. The plan is as follows:

1. Design completion by v1.6
2. Alpha support for local storage by v1.7
3. Beta (or may be GA) by v1.8

@rkouj and @jingxu97 will also be helping with this effort.

@msau42 and @vishh will post a high level design proposal before end of Jan `17.

[2017-01-20 00:13] davidopp commented on #108
We will be moving this feature to beta in 1.6. Tracking issue is
https://github.com/kubernetes/kubernetes/issues/25320

[2017-01-20 00:14] davidopp commented on #107
We will be moving this feature to beta in 1.6. Tracking issue is
https://github.com/kubernetes/kubernetes/issues/25318

[2017-01-20 00:14] davidopp commented on #106
We will be moving this feature to beta in 1.6. Tracking issue is
https://github.com/kubernetes/kubernetes/issues/25319

[2017-01-20 00:21] davidopp opened #165 "Inter-pod affinity/anti-affinity"
# Description

A pod can specify which other pod(s) it cannot share (anti-affinity) or must share (affinity) a "topology domain" with. The most common topology domain is node. The set of "other pod(s)" is specified using a label selector.

The use cases for this feature are described in the [design doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/podaffinity.m

[2017-01-20 00:21] davidopp commented on #165
We will be moving this feature to beta in 1.6.

[2017-01-20 00:55] davidopp opened #166 "Taint Based Eviction"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @gmarek
- Responsible SIGs: @kubernetes/sig-scheduling-feature-requests
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20200114-taint-based-evictions.md
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS fil

[2017-01-20 07:10] kerneltime commented on #165
Should this be merged with https://github.com/kubernetes/features/issues/60?

[2017-01-20 07:16] davidopp commented on #165
Thank you for noticing that! I thought there was already a features issue for it, but then when I searched, nothing turned up. This is definitely a duplicate, as you said.

[2017-01-20 07:16] #165 closed

[2017-01-20 07:18] davidopp commented on #60
We will be moving this feature to beta in 1.6. Tracking issue is
kubernetes/kubernetes#25319

Current user guide documentation is [here](https://kubernetes.io/docs/user-guide/node-selection/)

[2017-01-20 10:38] jimmycuadra commented on #60
Any chance of the use case I mentioned being part on the roadmap for the stable release? The suggested workaround might be prone to error. It'd be great to have the server aware of the user's intent. If not, would this be considered for a future iteration on this API? In that case, should I open a new issue somewhere to track it?

[2017-01-20 10:59] davidopp commented on #60
You can open a feature request in the kubernetes/kubernetes repo and link it to this issue. We could consider it if enough people want it. Personally I'd prefer if Deployment controller managed the label changes (i.e. automate the "workaround") and we didn't change the API for pod (anti-)affinity.

[2017-01-20 13:40] ivan4th commented on #60
Given that inter-pod (anti)affinity is going to be beta soon, can we get back to #34543 maybe? It's a quirk (unneeded dependency) that makes it hard to move inter-pod affinity to General Predicates for instance.

[2017-01-20 16:37] rootfs opened #167 "Provide Metrics for Volume Controllers and Plugins"
# Description
Volume Controllers (Attach/Detach and PV) and plugins don't report any metrics. Often time, developers have to look at logs to identify performance issues. Admins don't have insight to Volume level latency, utilization, or errors. Adding metrics to controllers and plugins can inspect multiple levels in volume layer and help both developers and admins.

# Progress Tracker

- [ ] Alpha

[2017-01-20 16:38] rootfs commented on #167
@kubernetes/sig-storage-misc

[2017-01-20 16:40] erictune commented on #167
@janetkuo and I have been thinking about metrics for DaemonSet Updates.
Is there an existing issue or thread where we can discuss design
alternatives?

On Fri, Jan 20, 2017 at 8:38 AM, Huamin Chen <notifications@github.com>
wrote:

[2017-01-20 16:45] rootfs commented on #167
@erictune I opened [an issue](https://github.com/kubernetes/kubernetes/issues/36818) with very brief description. My plan is to follow how node and garbage collector controllers do in their metrics. One of the immediate use cases is to help us understand volume attach latency.

If there is a design pattern, please let me know, thanks!

[2017-01-20 17:05] rootfs opened #168 "Support Volume Mount Options"
# Description

We currently support network filesystems: NFS, Glusterfs, Ceph FS, SMB (Azure file), Quobytes, and local filesystems such as ext[3|4] and XFS.

Mount time options that are operationally important and have no security implications should be suppported. Examples are NFS's TCP mode, versions, lock mode, caching mode; Glusterfs's caching mode; SMB's version, locking, id mapping; and mor

[2017-01-20 17:06] rootfs commented on #168
@kubernetes/sig-storage-misc

[2017-01-20 17:49] pwittrock opened #169 "[Service Catalog]: Explicit Service Links / Injection"
# Description

Support explicitly specifying which Services a Pod connects to and inject Service information (VIP end-point) for only these services.  This is an alternative to the current approach where a Pod is implicitly assumed to be able to connect to all available Services in the namespace.

Proposal kubernetes/community#176

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain draft

[2017-01-20 18:53] adityadani opened #170 "Portworx Volume Plugin"
# Description

Add a new volume plugin in Kubernetes for Portworx Volumes. Portworx pools available block storage on nodes and carves out volumes from them. More info about Portworx can be found [here](http://docs.portworx.com).

The Portworx volume plugin will support
1. Dynamic Provisioning using Storage Classes
2. Persistent Volumes and Persistent Volume Claims

# Progress Tracker

- [ ] Alpha

[2017-01-20 18:54] adityadani commented on #170
@kubernetes/sig-storage-misc

[2017-01-20 19:55] davidopp commented on #60
kubernetes/kubernetes#34543 (and moving to General Predicates) isn't an API change, so it's not strictly necessary for beta (i.e. it can be done after moving to beta).

Sorry we haven't reviewed that PR yet. We're working on getting more people up to speed on the scheduler code, but right now we only have the bandwidth to review things that are critical or trivial. I hope we'll get to it in the ne

[2017-01-21 16:58] smarterclayton commented on #92
I'm going to take over shepherding this proposal for 1.6 since we have a need for it.  I've added comments on the doc, let's get any open questions refined and then open a PR with a proposal as the next step.

[2017-01-23 11:55] sttts commented on #95
To get the complexity down of TPRs in the apiserver code and to make the TPR logic much more explicit, I would definitely vote for a standalone `tpr-apiserver`. But IMO this does not really block any of the fixes.

[2017-01-23 15:01] deads2k commented on #95
I'm adding some items about handling API semantics (get, list, watch, update, patch) when dealing with multiple non-convertible Kinds.  I think that probably needs a design document, since the semantics are unlikely to match normal API semantics.

[2017-01-23 17:33] justinsb opened #171 "IAM integration (primarily AWS)"
# Description

Pod-level IAM policies, so that a pod gets the IAM permissions (and only those permissions) that are configured.  This is widely achieved today via kube2iam, but we want to investigate baking this more deeply, either into kops or kubernetes itself (or both!)

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-t

[2017-01-23 17:35] justinsb opened #172 "Pluggable storage backends"
# Description

AWS (and other clouds) offers services that may be easier to operate than etcd.  This feature would allow our storage to be pluggable, so that we can experiment with integrating with them.

It would also allow integrating with e.g. consul, or testing backends that deliberately behave badly.

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] D

[2017-01-23 17:36] justinsb opened #173 "AWS shared ownership tags"
# Description

On AWS, we are using tags to associate resources to clusters.  But the current tag is `KubernetesCluster=<clusterid>`.  However, this does not allow sharing a resource between multiple clusters.  Not all resources can be shared, but we need to define a tag that can support sharing (for example `k8s.io/<clusterid>=shared`

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain

[2017-01-23 17:57] erictune commented on #171
@kubernetes/sig-auth-feature-requests

[2017-01-23 19:11] pmorie opened #174 "Create environment variables from all keys in a Secret/Configmap"
# Description

This feature is to allow users to easily inject environment variables from Secrets and Configmaps by just referencing the name of the resource they want to inject instead of creating an `EnvVar` for each key in the resource.

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experienc

[2017-01-23 20:19] jpeeler opened #175 "All in one volume proposal"
# Description
This is a proposal for a new projected volume type that can project secrets,
configmaps, and downward API items.

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new

[2017-01-23 20:19] jpeeler commented on #175
@pmorie

[2017-01-23 22:29] mdelio commented on #93
@idvoretskyi alpha in 1.6

[2017-01-23 23:08] rkouj opened #176 "Customized mounts in chroot to GA"
# Description

With the default image changing to Container-Optimized OS (aka gci image) starting Google Container Engine version 1.4, some volume plugins including NFS and Gluster could not work because the image does not install the necessary utilities to mount the file system.

To solve this issue, we are working on an approach to use mount in a chroot environment. By creating a customized imag

[2017-01-23 23:15] mdelio commented on #80
Spoke with Saad offline; sounds like this went GA in 1.4. Closing.

[2017-01-23 23:15] #80 closed

[2017-01-23 23:15] mdelio commented on #79
Spoke with Saad offline; sounds like this went GA in 1.4. Closing.

[2017-01-23 23:15] #79 closed

[2017-01-23 23:40] mdelio commented on #175
@jpeeler Are you planning to bring this to alpha/beta/GA in 1.6?
I think the storage-sig would be interested in learning learning more about this feature.  Can you please attend the next sig meeting and discuss it briefly?

Since the feature repo is being frozen tomorrow, change the milestone to 1.6 if appropriate.

[2017-01-23 23:44] mdelio commented on #170
@adityadani please update the milestone if needed.

[2017-01-23 23:45] mdelio commented on #172
@justinsb please update the milestone if needed.

[2017-01-23 23:48] adityadani commented on #170
@mdelio I would like to have the milestone as v1.6. However I am unable to edit it.

[2017-01-23 23:52] jingxu97 opened #177 "Snapshot / Restore Volume Support for Kubernetes (CRD + External Controller)"
# Feature Description
- One-line feature description (can be used as a release note):
[code]
Old description:
[code]
- Primary contact (assignee): @jingxu97, @xing-yang
- Responsible SIGs: storage-SIG
- Design proposal link (community repo):
  - Old: https://github.com/kubernetes/community/pull/2335
  - Old: https://docs.google.com/document/d/17WS4Wk4MXRH24i-BpMpIFo5F-SNoRkm_KtkBMZEEoAo/edit
- KEP

[2017-01-24 05:34] saad-ali opened #178 "Out-of-tree CSI Volume Plugins"
- One-line feature description (can be used as a release note): Add support for Out-of-Tree CSI Volume Plugins in Kubernetes
- Primary contact (assignee): @saad-ali
- Responsible SIGs: storage
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1258
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review.

[2017-01-24 05:34] saad-ali commented on #178
We aim to have a design doc for this by 1.6.

[2017-01-24 05:37] saad-ali opened #179 "Scheduling by Node (Storage/Volume) Capabilities"
# Description

Only schedule pods on nodes that support the required volume type.

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be wri

[2017-01-24 05:38] saad-ali commented on #179
CC @kubernetes/sig-storage-proposals

We plan to have a design doc for this by 1.6.

[2017-01-24 08:26] thockin commented on #33
@therc ping?

On Thu, Jan 5, 2017 at 9:24 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-01-24 13:24] jsafrane opened #180 "Default Storage Classes for Cloud Providers"
# Description

Kubernetes should deploy a default StorageClass instance during installation if it is possible on target platform (i.e. no default storage class on bare metal).

In 1.5, alpha dynamic provisioning worked out of the box on AWS, GCE, OpenStack, vSphere, Azure and Photon cloud providers without any configuration. In order to keep similar user experience in 1.6, we need a default Storag

[2017-01-24 13:25] jsafrane commented on #180
@k8s-mirror-storage-feature-requests

[2017-01-24 16:35] vladimirvivien opened #181 "DellEMC ScaleIO Volume Plugin"
# Description
This is to implement a volume plugin to allow pods to access `DellEMC ScaleIO` volumes. ScaleIO is a software-based storage platform that creates a pool of distributed block storage using locally attached disks on participating servers. The plugin is implemented to support persistent volumes using PVs, PVCs, and dynamic provisioning.  You can learn more about [ScaleIO here](https://w

[2017-01-24 16:37] vladimirvivien commented on #170
@kubernetes/feature-reviewers please assign label `sig/storage` for milestone `1.6`

[2017-01-24 16:39] vladimirvivien commented on #181
@kubernetes/feature-reviewers Please assign label `sig/storage` and milestone `1.6`.

[2017-01-24 16:52] jpeeler commented on #175
@mdelio Yes, it should be in 1.6 (in some form). I can attend the next storage-sig meeting, but perhaps my sig-apps demonstration will be sufficient here:

https://www.youtube.com/watch?v=mTK4X8cutI0&feature=youtu.be#t=36m40s
(Feel free to eventually skip to 38:40, where the actual presentation begins.)

[2017-01-24 17:27] therc commented on #33
Just got back from vacation and a hectic office move, working my way through email backlog.
I can pick up any leftover items, but I think `kubectl create` support was implemented by @AdoHe in https://github.com/kubernetes/kubernetes/pull/34789
Was there anything else you had in mind? My next related step was allowing the built-in `kubernetes.default` service to also be an ExternalName service, to

[2017-01-24 19:06] #113 closed

[2017-01-24 19:12] gnufied opened #182 "Cloudprovider metrics for storage"
# Feature Description
- Add support for cloudprovider metrics for storage API calls.
- Primary contact (assignee): @gnufied
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo):https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloudprovider-storage-metrics.md
- Reviewer(s) - @brancz @saad-ali
- Approver (likely from SI

[2017-01-24 19:13] saad-ali commented on #180
@jsafrane CC the team (aka @kubernetes/sig-storage-feature-requests) not the user.

[2017-01-24 19:18] gnufied commented on #182
CC @kubernetes/sig-storage-feature-requests

[2017-01-24 19:32] wongma7 opened #183 "External provisioners"
# Description

External provisioners are possible as of 1.5 but we are still missing an official, easy to use & find helper library. Need to host it somewhere official with documentation on how to use it, best practices, etc.

# Progress Tracker

- [ ] Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the featu

[2017-01-24 19:33] mdelio commented on #182
@gnufied is this just a design for 1.6 or something more?

[2017-01-24 19:42] saad-ali commented on #180
Status: This feature was implemented in PR PR https://github.com/kubernetes/kubernetes/pull/31617. It changes fundamental behavior for PVCs, and therefore should have a prominent release note (along with directions on how to disable the new behavior), and 1.6 documentation should be updated to reflect the new behavior and also indicate how to disable it. (Disabling mechanism is being improved in 1

[2017-01-24 19:51] saad-ali commented on #174
@pmorie Are you planning to bring this to alpha/beta/GA in 1.6?
I think the storage-sig would be interested in learning learning more about this feature. Can you please attend the next sig meeting and discuss it briefly?

Setting the milestone to 1.6, please change if that is incorrect.

We're tracking storage features here: https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDlkTpCnp18icRAQqOE85C1

[2017-01-24 19:51] saad-ali commented on #175
We're tracking storage features here: https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDlkTpCnp18icRAQqOE85C1T1r2gqJVck/edit#gid=0 please make sure to add this there as well.

[2017-01-24 20:04] davidopp commented on #121
Please loop me in on the scheduling aspects of this.

[2017-01-24 20:49] spiffxp commented on #172
/cc @kubernetes/sig-scalability-feature-requests

This sounds like its talking about the registry. We've discussed this idea in the past, any input to add here?

[2017-01-24 20:53] davidopp commented on #172
ref/ kubernetes/kubernetes#1957

[2017-01-24 20:58] justinsb commented on #172
Good point @davidopp  - this could definitely help on that PR.

I've been playing with different storage backends, and I chatted with @lavalamp about this also.  It seems that having a GRPC interface to external storage would allow for external implementations (which, if GRPC gets an inproc interface, could even be a production-suitable mechanism, although the storage layer might  have performance

[2017-01-24 21:00] davidopp commented on #172
The issue I pointed to is titled Consul but eventually turned into a general discussion of changing the backend from etcd to something else, e.g. what are the requirements for a replacement k/v store etc.

[2017-01-24 21:08] xiang90 commented on #172
@justinsb You put this into 1.6 milestone. I want to understand what do you plan to achieve in 1.6 timeframe. I am asking since the progress track section is empty.

[2017-01-24 21:10] gnufied commented on #182
Yeah this is for 1.6. I have already pushed a POC for GCE metrics - https://github.com/kubernetes/kubernetes/pull/40338/files

Also a draft google doc - https://docs.google.com/a/redhat.com/document/d/12naAz7GHPFl4UOsmw2BRN0dqILRFr1bdrQxkX8EQ7zQ/edit?usp=sharing

[2017-01-24 21:13] davidopp commented on #182
cc/ @piosz @fgrzadkowski

[2017-01-24 21:13] lavalamp commented on #172
Storage is not the relevant SIG. This is about cluster state storage, not about how users do storage.

[2017-01-24 21:14] MrHohn commented on #27
Status update: I'm working on moving this feature to GA in 1.6.

[2017-01-24 21:15] lavalamp commented on #172
I think this is a good direction to experiment in, but I may not have much review time this quarter.

[2017-01-24 21:15] bgabler commented on #27
We've tried enabling on GKE, no luck

[2017-01-24 21:21] MrHohn commented on #27
@bgabler You should be able to use this feature with v1.5 on GKE, or v1.4 with Alpha Cluster. What issue did you encounter enabling this?

[2017-01-24 21:28] bgabler commented on #27
Just to confirm, we add the following annotation to a loadbalancer:

    service.beta.kubernetes.io/external-traffic: "OnlyLocal"

Example:
`
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: foobar
    app: foobar
    release: "foobar"
    heritage: "foobar"
  name: "foobar"
  annotations:
    service.beta.kubernetes.io/external-traffic: "OnlyLocal"
  namespace: "foobar"
spec:
  clus

[2017-01-24 21:32] MrHohn commented on #27
@bgabler As this might not be the right place to discuss, could you please open an issue regarding this on kubernetes/kubernetes and provide more details and ping me? Thanks!

[2017-01-24 21:55] thockin commented on #33
Oh, great, I missed that :)  Can you cross-check the un-ticked boxes on
here, and if everything is done, we can close this out?

On Tue, Jan 24, 2017 at 9:27 AM, Rudi C <notifications@github.com> wrote:

[2017-01-24 23:27] bgabler commented on #27
Not sure what changed but its actually working now.

We did notice some weird http2 issues so we had to tell our tyk gateway
to turn off http2

----------------------------
Ben Gabler
561.308.1171
----------------------------
Email: me@bengabler.com
Website: http://www.bengabler.com
LinkedIN: http://www.linkedin.com/in/bengabler
Twitter: http://www.twitter.com/ben_gabler
--------------------------

[2017-01-25 02:05] therc commented on #33
Unfortunately, I think only Clayton or another owner can edit the issue description. I just went through the checklist and it looks to me like everything can be ticked off.

Regarding "detailed docs and examples", I have something with more use cases, originally for internal use, that I have almost entirely re-purposed as a blog post. I'm not sure how kosher it is to add links from Kubernetes docs

[2017-01-25 02:16] thockin commented on #33
DONE

[2017-01-25 02:16] #33 closed

[2017-01-25 02:22] timothysc commented on #172
So there are PR's open atm to run Consul against the storage layer today.  All of the work that was done was to enable v2 + v3 allows for a host of other solutions provided they meet the interface requirements.

Ideally I would love more "plugability" in the system, for some definition of plugin+golang :-/

[2017-01-26 05:17] brendandburns commented on #95
I'll take (yet another) run at fixing some of these issues...

[2017-01-26 05:27] liggitt commented on #95
https://github.com/kubernetes/kubernetes/pull/40260 and https://github.com/kubernetes/kubernetes/pull/40096 will get us in decent shape on the kubectl side

The most severe server-side issue at the moment is the garbage collector losing its mind over ownerRefs that point to TPRs.

Once we get that resolved, we should decide what the API semantics around multiple versions of a given TPR should be,

[2017-01-26 06:05] brendandburns commented on #95
@liggitt I'll take a look at reviewing those. thx

[2017-01-26 14:03] jsafrane commented on #180
I filled https://github.com/kubernetes/kubernetes/issues/40518 and https://github.com/kubernetes/kops/issues/1639 to update kubeadm and kops.

[2017-01-26 14:37] idvoretskyi commented on #172
@justinsb @lavalamp @timothysc who is the right person to act as an "assignee" here?

[2017-01-26 14:38] justinsb commented on #172
Assigned myself :-)

[2017-01-26 14:41] idvoretskyi commented on #33
@therc @thockin does this feature target 1.6 (as per @mdelio modified milestone) or it has been finally implemented in 1.5 yet?

If this is still 1.6, I'd like to reopen it and keep in this state during the release.

[2017-01-26 14:49] idvoretskyi commented on #172
@justinsb what is the right stage that this feature target?

[2017-01-26 14:49] therc commented on #33
The main feature is in 1.5 already and can be used through YAML files. It's the kubectl support that will land in 1.6. I think it'd be worthy of a 1.5 cherrypick.

[2017-01-26 14:50] justinsb commented on #172
Marked as stage/alpha

[2017-01-26 14:53] idvoretskyi commented on #182
@gnufied targeting alpha for 1.6, right?

[2017-01-26 14:56] idvoretskyi commented on #121
@vishh adding milestone 1.6 here.

[2017-01-26 14:57] idvoretskyi commented on #121
Misread the @vishh comment, let's target 1.7 when this milestone will be open.

[2017-01-26 15:01] idvoretskyi commented on #174
@pmorie any updates on @saad-ali's questions?

[2017-01-26 15:06] idvoretskyi commented on #183
@wongma7 which stage (alpha/beta/stable) are you targeting for 1.6?

[2017-01-26 15:07] gnufied commented on #182
@idvoretskyi  Originally I was targeting as GA for 1.6 but I think Alpha for 1.6 makes more sense. I will discuss this during upcoming storage-sig meeting and post the update here.

[2017-01-26 15:08] idvoretskyi commented on #181
@vladimirvivien are you a person, responsible for the feature? Which stage does it target for 1.6 (alpha/beta/stable)?

[2017-01-26 15:10] idvoretskyi commented on #170
@adityadani which stage does this feature target for 1.6 (alpha/beta/stable)?

[2017-01-26 15:12] idvoretskyi commented on #179
@saad-ali only design doc is for 1.6 (actual implementation is targeted for 1.7 and later), right?

[2017-01-26 15:20] idvoretskyi commented on #173
@justinsb is SIG-AWS responsible for this feature?

[2017-01-26 15:21] idvoretskyi commented on #92
@smarterclayton so, does this feature target 1.6?

[2017-01-26 15:23] idvoretskyi commented on #169
@pwittrock @jessfraz alpha, beta or stable for 1.6?

[2017-01-26 15:23] justinsb commented on #173
Marked as sig/aws :-)

[2017-01-26 15:25] idvoretskyi commented on #168
@rootfs are you a person, responsible for the feature?

[2017-01-26 15:27] idvoretskyi commented on #167
@rootfs which stage does this feature target for 1.6 (alpha/beta/stable)?

[2017-01-26 15:33] idvoretskyi commented on #107
@davidopp are you a right person to be assigned here?

[2017-01-26 15:34] idvoretskyi commented on #173
@justinsb thank you!

[2017-01-26 15:35] gnufied commented on #168
This should be assigned to me. I unfortunately don't have enough privilege to do that myself - https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDlkTpCnp18icRAQqOE85C1T1r2gqJVck/edit#gid=0

[2017-01-26 15:43] idvoretskyi commented on #94
@justinsb any extra updates on this?

[2017-01-26 15:48] idvoretskyi commented on #168
@gnufied done.

[2017-01-26 15:50] timothysc commented on #172
@justinsb xref: https://github.com/kubernetes/kubernetes/pull/31622

[2017-01-26 16:23] wongma7 commented on #183
stable for 1.6

On Thu, Jan 26, 2017 at 10:06 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-01-26 16:52] jessfraz commented on #169
I believe alpha

On Thu, Jan 26, 2017 at 7:23 AM Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-01-26 23:42] apsinha commented on #92
It would be great to target 1.6 as this is an often requested feature. @smarterclayton are we targeting alpha?

[2017-01-27 06:32] SimenB opened #184 "gmap"
BEFORE YOU CLICK CREATE ISSUE:

- Please first build consensus within the appropriate SIG or in github.com/kubernetes/kubernetes/issues
  that the problem you are trying to solve is worth solving at this time.
- Put a 2-3 sentence description of your feature under the **Description** heading below.
- Delete from the top of this text down to the **Description** heading.
- Read the text below.

Than

[2017-01-27 06:32] #184 closed

[2017-01-27 06:32] SimenB commented on #184
No idea what happened. Sorry!

[2017-01-27 06:34] SimenB commented on #184
Ah, I was gonna search for "configmap", but didn't have focus in the search bar, and pressing `c` is shorthand for create issue. THen I pressed enter, and submitted...

[2017-01-27 13:07] wattsteve commented on #121
@vishh and others. Given that we're already talking about targeting releases, is there a design proposal for this?

[2017-01-27 19:59] vishh commented on #121
Yeah. A design proposal will be made available anytime now.

On Fri, Jan 27, 2017 at 5:07 AM, Steve Watt <notifications@github.com>
wrote:

[2017-01-27 23:22] mdelio opened #185 "Bring Network Policy to GA"
# Feature Description
- One-line feature description (can be used as a release note): NetworkPolicy promoted to GA
- Primary contact (assignee): @danwinship
- Responsible SIGs: @kubernetes/sig-network-misc
- Design proposal link (community repo): [Design Proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network-policy.md)
- Reviewer(s): @thockin @caseydave

[2017-01-29 18:31] krmayankk commented on #121
@vishh has this anything to do with sticky empty dir proposal or local storage for statefulset ? I am getting confused which feature is doing what ? There are many things needed for local storage , e.g. 1: local storage support in statefulset 2: local storage volumes which is this one 3: pod should be scheduled in the same node where their data is already available 4: may be moving data to where t

[2017-01-29 21:48] vishh commented on #121
@krmayankk the plan is to cover all supported use cases for local storage.

[2017-01-29 21:54] davidopp commented on #121
@vishh I assume you are not including (4) from @krmayankk's comment? (migrating data between nodes)

[2017-01-29 21:57] vishh commented on #121
@davidopp yeah. That's right. We are not including auto data migration. We will rely on applications to handle that.

[2017-01-29 22:01] F21 commented on #121
CoreOS has done some prior work for a distributed storage cluster via torus: https://github.com/coreos/torus. I wonder if part of that can be folded into kubernetes to help with the implementation.

[2017-01-30 15:55] idvoretskyi commented on #184
@SimenB would you like this issue to be reopened as it has been closed eventually?

[2017-01-30 15:58] SimenB commented on #184
Nope, I didn't mean to open an issue

[2017-01-30 16:18] liggitt commented on #89
keeping in beta status until the TokenReview and SubjectAccessReview APIs move to stable (target 1.7)

[2017-01-30 19:45] vishh commented on #121
We just posted a high level design proposal: https://github.com/kubernetes/community/pull/306

If wwe reach agreement on the overall design, then we can post detailed design docs with implementation plans and timeline.

[2017-01-30 23:22] davidopp commented on #61
Closing in favor of #166

[2017-01-30 23:22] #61 closed

[2017-01-31 16:41] Raffo commented on #171
@justinsb Following the discussion, and happy to jump in. We've been using kube2iam heavily, but if we can have something "native" I guess all AWS users will benefit.

[2017-01-31 19:13] rootfs commented on #168
We have a case to pass selinux context as `-o context` to cifs mount in azure_file volume to resolve permission denied issue.

[2017-01-31 19:39] jheiss commented on #95
Does anyone have a pointer to how to refer to TPRs in RBAC rules? I have a TPR named like foo-bar.something.example.com. As a cluster admin I can get a list of foobars in a given namespace with `kubectl get foobars`.

When a regular user tries the same thing they get `Error from server (Forbidden): the server does not allow access to the requested resource (get foobars.something.example.com)`.

I'

[2017-01-31 19:40] deads2k commented on #95
In the rule, you're looking for resource=foobars apigroup=something.example.com verb=get,list,watch

[2017-02-01 06:37] thockin commented on #168
@jingxu97 @saad-ali would be nice to get the design tradeoffs done and get this behind us.  It's been lingering for a long time.

[2017-02-01 06:47] matchstick commented on #168
@saad-ali and I talked this over today and we both agree that making sure that working with rootfs on this is one of his now highest priorities, now that he is no longer under the release czar role.

[2017-02-01 14:13] gnufied commented on #168
Yeah it top priority for us too. I am working on a design document with @rootfs can publish it today. I apologize for not sending the design proposal sooner - got caught up in other feature requests.

[2017-02-01 14:14] rootfs commented on #167
@idvoretskyi stable it is

[2017-02-01 14:48] jheiss commented on #95
@deads2k That did the trick. Thanks!

[2017-02-01 21:11] gnufied commented on #168
The design proposal - https://github.com/kubernetes/community/pull/321/files

[2017-02-02 00:25] euank commented on #63
I don't plan to work on this, though I'd be happy to help review/guide anyone who wants to.

[2017-02-02 07:13] kerneltime commented on #36
Is dashboard support part of this effort (if it has not already been addressed)

[2017-02-02 11:09] philips commented on #63
Testing and supporting this should be easier now that the Amazon ECR product publicly support OCI Image Spec: https://groups.google.com/a/opencontainers.org/d/msg/dev/ajYuSUnHhXY/ZRMd7XuNBQAJ

[2017-02-02 11:22] philips commented on #36
cc @lpabon

[2017-02-02 11:22] philips commented on #168
cc @lpabon

[2017-02-03 00:37] erictune commented on #19
@soltysh

I think quite a few people use CronJobs as they are now, and I mostly hear "when will it be beta", an not so much issues with alpha.

If we believe that we can add server-side removal, app-engine and chronos, and timezones without breaking the current API, then I don't see any reason not to move beta now, and add those things before GA.

[2017-02-03 02:26] evmin commented on #19
+1 For CronJobs beta. As soon as they are beta and the cluster reset is not required, it would be a killing feature for a number of our workflows here.

[2017-02-03 14:35] NiclasHedam commented on #19
We are looking forward to this feature going beta and we have had no problems with alpha.

[2017-02-03 14:53] soltysh commented on #19
Personally I'd prefer address at least the removal part, there's someone already working on adding configurable limits for how many successful and failed jobs are left behind. And the removal is a key element, I think. Let's discuss the option of moving this to beta for 1.6 or 1.7 during upcoming sig-apps call. @michelleN mind adding this as a topic?

[2017-02-03 14:54] soltysh commented on #19
@NiclasHedam have your problems been addressed, are there open issues I haven't seen, mind opening/pinging me in those?

[2017-02-03 15:06] NiclasHedam commented on #19
They have all been addressed in 1.4.7

[2017-02-03 21:24] apsinha commented on #137
This is already done as for 1.5. We can remove it from 1.6 milestone unless its going GA?

[2017-02-03 21:27] grodrigues3 commented on #137
@apsinha @smarterclayton verifying that this feature is already beta and nothing is changing in 1.6?

[2017-02-03 21:28] grodrigues3 commented on #89
@liggitt @idvoretskyi moving to next milestone then

[2017-02-03 21:33] apsinha commented on #130
Should we add the alpha-in -1.6 label to this?

[2017-02-03 21:35] erictune commented on #137
@kow3ns

[2017-02-03 21:36] erictune commented on #137
This is beta.  May have minor changes in 1.6 but not going GA.

[2017-02-04 02:46] AdoHe commented on #33
@idvoretskyi @therc yes, the kubectl support land in 1.6, shall we cherrypick it against 1.5?

[2017-02-04 03:03] liggitt commented on #33
We don't typically backport new features

[2017-02-04 04:00] AdoHe commented on #95
[code]
anything related with the TPR cleanup issue?

[2017-02-04 04:15] AdoHe commented on #33
Get it~

[2017-02-05 03:13] liggitt commented on #95
No, it was an issue with the garbage collector not knowing how to look up ownerRefs to anything other than compiled in types. The reverse issue exists as well, with the garbage collector not paying attention to finalizers on anything other than compiled-in types.

Both of those garbage collector issues are distinct from the need to clean up ThirdPartyResourceData objects reliably when the ThirdPar

[2017-02-05 07:54] AdoHe commented on #95
@liggitt Thanks for patient explanation, so what's the plan of TPR in 1.6?

[2017-02-06 11:58] idvoretskyi commented on #130
@apsinha I think so, updated.

[2017-02-06 15:08] luxas commented on #130
I'm not sure whether we'll call it alpha or beta, it might be beta as well, if we count the kube-discovery method currently used in kubeadm as the alpha implementation

cc @jbeda @mikedanese

[2017-02-06 15:54] idvoretskyi commented on #130
@luxas marked as alpha following the previous discussions. Let's discuss the appropriate feature stage if there are other suggestions.

[2017-02-06 15:58] roberthbailey commented on #130
I believe @mikedanese labeled the api objects as beta for 1.6.

[2017-02-06 18:04] mikedanese commented on #130
This is going to be beta in 1.6

[2017-02-06 18:24] lavalamp commented on #95
The GC now only logs 1k times per second instead of 50k times per second,
so it no longer wins the race with the log rotator. But a real fix will be
coming soon, hopefully.

On Sat, Feb 4, 2017 at 11:54 PM, TonyAdo <notifications@github.com> wrote:

[2017-02-07 14:53] bgrant0607 commented on #95
Some of the open issues relating to TPR. Not exhaustive.

Group/version problems: https://github.com/kubernetes/kubernetes/pull/24299, https://github.com/kubernetes/kubernetes/pull/36977
Watch: https://github.com/kubernetes/kubernetes/issues/25340
Self link: https://github.com/kubernetes/kubernetes/issues/37622
Namespace deletion: https://github.com/kubernetes/kubernetes/issues/37554
GC: https://g

[2017-02-11 21:18] krmayankk opened #188 "StatefulSet Upgrades"
# Feature Description

- One-line feature description (can be used as a release note):  StatefulSets currently do not support -
Upgrades, which makes it limiting for lot of Enterprise use cases. This feature will  track supporting Upgrade for StatefulSets on the server side declaratively.
- Primary contact (assignee): @kow3ns
- Responsible SIGs: sig-apps
- Design proposal link (community repo): ht

[2017-02-13 22:55] krmayankk commented on #188
@kow3ns @bprashanth @smarterclayton

[2017-02-14 21:50] mikedanese commented on #85
@davidopp when is this going to GA? should we keep this open until then?

cc @maisem

[2017-02-15 17:32] derekwaynecarr commented on #188
is this planned for k8s 1.6 or after?

[2017-02-15 17:51] idvoretskyi commented on #188
@derekwaynecarr no new features are allowed to 1.6 after the features freeze (that has already happened).

[2017-02-15 17:58] derekwaynecarr commented on #188
@idvoretskyi -- yes, which is why i was surprised to see the issue created.  thx for clarification

[2017-02-15 19:13] krmayankk commented on #188
@derekwaynecarr i created this for 1.7, are feature issues only created for current release and not future releases ?

[2017-02-15 22:37] idvoretskyi commented on #188
@krmayankk no, probably @derekwaynecarr would like to ask which specific release does this feature target - it's unclear from the feature description.

Now the questions are answered, thank you.

[2017-02-16 13:05] jsafrane commented on #36
"alpha" provisioning has been removed, updating documentation at https://github.com/kubernetes/kubernetes.github.io/pull/2557

[2017-02-16 13:50] luxas commented on #130
@jbeda Are we planning to automatically enable the BootstrapSigner and the TokenCleaner in v1.6?

[2017-02-16 19:55] jbeda commented on #130
@luxas I don't think that we can as this is alpha.  I'm happy turning this on by default for kubeadm clusters with the appropriate command line flags.  After we show it works well with kubeadm we can turn them on for everyone.

[2017-02-16 20:04] luxas commented on #130
@jbeda I'm ok with that, and that's what I supposed as well. Anyway, didn't we consider the `kube-discovery` version of this work the alpha part and this version beta?

[2017-02-17 11:35] jsafrane commented on #176
Is there a design proposal for this feature?

[2017-02-17 11:57] ravisantoshgudimetla commented on #12
/cc @jeremyeder

[2017-02-20 05:46] davidopp commented on #85
Yeah, let's reopen until it goes to GA. Not sure when that's happening, so I've removed the milestone. The sig-apps folks have had various ideas for changes we should make before GA but we haven't had bandwidth to discuss it. I assume the discussion will happen on #25321

[2017-02-20 16:56] idvoretskyi commented on #85
@davidopp thank you for updating. I'm adding "next-milestone" tag to have the easier way to filter and track the ongoing, but latter-scheduled features.

[2017-02-21 23:14] jhorwit2 commented on #32
Are there any plans to finish this feature in any upcoming releases this year?

[2017-02-21 23:34] ericchiang commented on #32
@jhorwit2 I don't plan on working on this in the near term. Would be happy to help out for anyone who would like to see this feature and has some cycles to work on it.

[2017-02-22 12:10] AdoHe commented on #129
/cc @AdoHe

[2017-02-22 13:58] soltysh commented on #95
/cc

[2017-02-22 20:37] michmike commented on #116
@idvoretskyi , please remove the stage/beta designation from this issue. we will stay in alpha for one more release. thanks!

[2017-02-23 12:42] maciaszczykm commented on #95
Subscribing as we are trying to handle TPRs in Dashboard.

Tracking issues are https://github.com/kubernetes/dashboard/issues/1671 and https://github.com/kubernetes/dashboard/issues/1504.

@kubernetes/dashboard-maintainers

[2017-02-23 15:28] idvoretskyi commented on #116
@michmike done, thanks!

[2017-02-23 18:49] apsinha commented on #118
@DirectXMan12 there maybe users who are currently using the previous alpha implementation of custom metrics.  Can we prepare user documentation for such users ahead of the release?  We would like to be careful not to break pod auto-scaling for any users.

[2017-02-23 21:20] timothysc commented on #44
@mml @wojtek-t what else do you think needs to be done here other than docs?  Which I believe are still pending...

https://github.com/kubernetes/kubernetes.github.io/issues/2172#issuecomment-274565622

[2017-02-23 22:31] saad-ali commented on #181
It is targeted for stable. PR here: https://github.com/kubernetes/kubernetes/pull/38924

[2017-02-23 22:35] vladimirvivien commented on #181
@saad-ali thank you

[2017-02-23 22:57] janetkuo commented on #124
I wrote the [DaemonSet documentation plan](https://docs.google.com/a/google.com/document/d/1ynyiwIQOprdgXbf9vmj-qZ6kpYh2lQFSaqo30I_-OiY/). Join [kubernetes-sig-apps@googlegroups.com](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!forum/kubernetes-sig-apps) to have access.

[2017-02-24 02:10] resouer commented on #95
What's the status/plan for non-namespaced TPR? I did not find discussions about it, maybe missed something?

[2017-02-24 16:38] croomes opened #190 "StorageOS Volume Plugin"
# StorageOS Volume Plugin
- One-line feature description (can be used as a release note): Volume plugin for StorageOS provides highly-available cluster-wide persistent volumes from local or attached node storage.
- Primary contact (assignee): Simon Croome @croomes
- Responsible SIGs: Storage
- Design proposal link (community repo):  https://github.com/kubernetes/kubernetes/pull/42156
- Reviewer(s)

[2017-02-27 20:55] idvoretskyi commented on #162
@jessfraz will it be alpha (or beta/stable) for 1.6?

[2017-02-27 20:57] idvoretskyi commented on #124
Implemented in - https://github.com/kubernetes/kubernetes/issues/41116

[2017-02-27 20:57] jessfraz commented on #162
we are hoping for alpha

On Mon, Feb 27, 2017 at 12:55 PM Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-02-27 21:04] pwittrock commented on #162
@jessfraz This is likely not landing in 1.6, correct?

[2017-02-27 21:41] pmorie commented on #162
@pwittrock we're hoping to get it into 1.6, yes.

[2017-02-27 22:03] tonglil commented on #124
Happy to help with documentation once this is in Alpha/Beta.

[2017-02-27 22:05] liggitt commented on #2
@jimmycuadra docs for 1.6 in progress at https://github.com/kubernetes/kubernetes.github.io/pull/2618 (preview at https://deploy-preview-2618--kubernetes-io-master-staging.netlify.com/docs/admin/authorization/rbac/)

[2017-02-28 12:56] idvoretskyi commented on #185
@mdelio @thockin are there any updates on the feature status?

[2017-02-28 16:09] idvoretskyi commented on #58
Implemented.

[2017-02-28 16:09] #58 closed

[2017-02-28 16:18] duglin commented on #162
should probably update the text here with the new name

[2017-02-28 16:42] idvoretskyi commented on #108
@davidopp could you please update the documentation status of the feature.

[2017-02-28 16:42] grodrigues3 commented on #108
Do we have docs for this?

[2017-02-28 21:46] davidopp commented on #166
This is finished except for documentation.

The PRs involved were:
* kubernetes/kubernetes#39469: Forgiveness (tolerationSeconds) API changes
* kubernetes/kubernetes#39914: Forgiveness (tolerationSeconds) library changes
* kubernetes/kubernetes#41414 and kubernetes/kubernetes#41815: defaultTolerationSeconds admission controller
* kubernetes/kubernetes#41896: Make DaemonSets survive taints
* kubern

[2017-02-28 21:48] davidopp commented on #108
This has been moved to beta, still needs documentation.

[2017-02-28 21:49] davidopp commented on #107
This has been moved to Beta and the documentation has been updated.

[2017-02-28 21:49] davidopp commented on #106
This has been moved to Beta but we still need to update the documentation.

[2017-02-28 22:02] jbeda commented on #11
Updated the checkboxes above.  This is largely implemented for 1.6.  The last bugs and and UX issues are getting ironed out now.

The biggest missing thing now for beta for this is documentation.  Much of the UX here is hidden from users but should still be documented.

[2017-02-28 22:05] vishh opened #192 "Support for Hardware Accelerators"
# Description

Kubernetes is becoming popular for managing workloads that consume accelerators like Tensorflow for example. The agility that Kubernetes offers makes it easy to consume accelerators across a fleet of machines.
Kubernetes can provide an end to end workflow by separating provisioning and configuration of accelerators from consumption.

# Progress Tracker

- [ ] Alpha
    - [ ] Write a

[2017-02-28 22:06] vishh commented on #192
cc @aronchick for priority

[2017-02-28 23:30] thockin commented on #185
The PR(s) missed the window.  I am not sure if  we should apply for an
exception, but it was largely my fault (review bandwidth)

On Tue, Feb 28, 2017 at 4:56 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-03-01 02:36] quinton-hoole commented on #72
It remains on the backlog at present.  No detailed design exists yet.

[2017-03-01 08:30] andrewhowdencom commented on #185
Ohh I know this is inappropriate for GitHub but I was super excited about this feature!

[2017-03-01 08:36] thockin commented on #185
The feature still works, it's just beta.  And in fact, there's a facet of
the API (named ports) that apparently almost nobody implements, so leaving
it beta isn't unwarranted.

On Wed, Mar 1, 2017 at 12:30 AM, Andrew Howden <notifications@github.com>
wrote:

[2017-03-01 13:14] grpndrs commented on #95
@sttts To start, I am intrigued by the development at Kubernetes. And I  want to contribute to it, but Go is a new language for me. What you guys recommend me doing so that I can get this project for GSoC 2017?

To add something about me, I am fairly good at C++ and Java and I hold Bachelors in Computer Science. I have also started reading the documentation and took Udacity course involving Kubern

[2017-03-01 13:22] jeremyeder commented on #192
s/accelerators/device assignment please?

[2017-03-01 13:41] sttts commented on #95
@grpndrs we have a list of labeled issues which are a good starting point to get into the code: https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Afor-new-contributors. Feel free to contact me in slack and we can go through a few of them.

[2017-03-01 14:16] k82cn commented on #192
regarding `accelerators`, does it mean some kind of device, e.g. GPU (but not limit to GPU)?

[2017-03-01 15:28] fgrzadkowski commented on #21
Assigning temporary to myself. Due to technical problems I can't assign it to @kgrygiel

[2017-03-01 16:19] jeremyeder commented on #192
@k82cn yes.  Actually per sig meeting yesterday, any PCI device (most tend to be accelerators but I'd personally prefer more generic wording).  Note that Intel has "accelerators" inside their CPUs (called CPU extensions).  All of these things should become candidates for scheduler match making.

[2017-03-01 18:09] cmluciano commented on #192
related https://github.com/kubernetes/community/pull/414

[2017-03-01 18:35] vishh commented on #192
@jeremyeder

My understanding is that,
1. There needs to be a way to discover, represent and consume Accelerators as a resource in Kubernetes
2. As an optimization, node hardware topology needs to taken into account while provisioning accelerators.

* `1` does not depend on `2` and `2` can be solved independent of `1`.
* This feature is meant to focus on `1`
* It can benefit from `2` if it made av

[2017-03-01 20:39] gnufied commented on #168
@spxtr can we keep this open? we need to walk this feature through - beta, GA, docs and whole thing.

[2017-03-01 20:40] idvoretskyi commented on #185
@thockin thank you for clarifying.

[2017-03-01 22:26] ravisantoshgudimetla commented on #192
Is the scope limited to accelerators or some co-processors like TPM etc?

If the hardware discovery is a functionality that we are targeting, shouldn't scope be broadened to all types of devices(including accelerators)?

[2017-03-01 22:30] vishh commented on #192
This issue is not meant to support arbitrary third party devices which I
believe warrants an issue by itself. Node Feature Discovery attempts to
solve the device discovery problem to an extent.

On Wed, Mar 1, 2017 at 2:26 PM, ravig <notifications@github.com> wrote:

[2017-03-02 00:57] philips commented on #192
Can we use the term "hardware accelerators"? I was really confused by this issue at first.

[2017-03-02 07:41] davidopp commented on #108
In addition to documentation, we need to update the rescheduler and cluster autoscaler to use the beta fields instead of alpha annotations. I've filed issues for this:
kubernetes/contrib#2381
kubernetes/contrib#2382

[2017-03-02 17:28] jsafrane commented on #180
* we have default storage classes on AWS, GCE, GKE, Azure and vSphere
* cluster/kube-up.sh is updated
* kops supports only AWS for now and it does deploy a default storage class
* AFAIK, kubeadm is not cloud aware, so it does not deploy anything, but there is issue filled to track this: https://github.com/kubernetes/kubeadm/issues/138

[2017-03-02 19:27] childsb commented on #168
@spxtr was this closed on purpose?

[2017-03-02 19:47] erictune commented on #108
These aren't guaranteed to be at the same version as the cluster's master,
right?  So you need to support both for a while.

On Wed, Mar 1, 2017 at 11:41 PM, David Oppenheimer <notifications@github.com

[2017-03-02 20:14] davidopp commented on #108
Most deployment platforms will upgrade all the master components at approximately the same time, so it just needs to not do anything bad during the short window when the versions mismatch. But we're also going to have instructions on what order to upgrade the components if they don't upgrade at approximately the same time (in particular, upgrade the rescheduler first). @piosz is working on all of

[2017-03-03 08:33] liyubobj commented on #192
Good proposal! I think topology support for deivce is a must. For example, nvidia GPUs on different PCI bridge can not talk p2p.

[2017-03-03 10:33] soltysh opened #194 "Deployments to GA"
# Feature Description
- One-line feature description (can be used as a release note): Deployments to GA
- Primary contact (assignee): @janetkuo
- Responsible SIGs: @kubernetes/sig-apps-proposals
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/deployment.md
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least o

[2017-03-03 11:18] kargakis commented on #194
@kubernetes/sig-apps-misc

[2017-03-03 11:19] idvoretskyi commented on #194
@soltysh can you update the feature naming? As we have "Deployments" since 1.1 release, we need more clarification what this feature is about.

[2017-03-03 11:20] kargakis commented on #194
@idvoretskyi this is not a specific feature but a progress tracker for moving Deployments to GA.

[2017-03-03 11:21] kargakis commented on #194
Maybe we need to have this in a different place?

[2017-03-03 11:41] soltysh commented on #194
This is the right place, since everyone expects major feature to be tracked here.

[2017-03-03 13:04] idvoretskyi commented on #194
@kargakis no, we have to leave it here as @soltysh mentioned.

[2017-03-03 14:46] erictune commented on #194
Deployments is already beta, right, so those boxes need to be checked too?

On Fri, Mar 3, 2017 at 5:04 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-03-03 15:02] soltysh commented on #194
Done.

[2017-03-03 18:10] pwittrock commented on #162
Development complete and merged.  Documentation in progress.

[2017-03-03 21:41] derekwaynecarr commented on #126
this will be GA for 1.6

[2017-03-03 21:44] derekwaynecarr commented on #126
The proposal for 1.6 design is documented here:
https://github.com/kubernetes/features/issues/126

User facing documentation is WIP as I am not really sure the right place to document this yet.  I think it needs to be a follow-on to text in this PR in flight: https://github.com/kubernetes/kubernetes.github.io/pull/2649

[2017-03-05 09:13] boynux opened #196 "IPvS Option for KubeProxy"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo): https://github.com/kubernetes/community/issues/429
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- Approver

[2017-03-06 01:30] Phanindra48 commented on #27
Is this feature supported in AWS ?

I tried adding the proposed annotation to the service but it didn't work! I have created a repo to create a minimalistic cluster to replicate my issue. (with same config its working in GKE just like that)

[2017-03-06 02:18] MrHohn commented on #27
@Phanindra48 I'm afraid it is not fully supported on AWS yet. Please use kubernetes/kubernetes#35758 and kubernetes/kubernetes#35187 for tracking.

[2017-03-06 03:00] Phanindra48 commented on #27
Oh! thanks for the info @MrHohn. Is there any work around for making it work in aws as our application depends on source ip?

I have created [repo](https://github.com/Phanindra48/k8s-source-ip-aws) that contains config to create a cluster in aws (our cluster is almost similar to that).

[2017-03-06 03:23] thockin commented on #27
AWS's ELB does not preserve the client IP at all.  Whether Kubernetes saves
it or not won't matter much.

On Mar 5, 2017 7:00 PM, "Phanindra Pydisetty" <notifications@github.com>
wrote:

[2017-03-06 19:55] idvoretskyi commented on #130
@jbeda please, provide us with the release notes and documentation PR (or links) at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 19:56] idvoretskyi commented on #122
@kargakis please, provide us with the release note at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 19:57] idvoretskyi commented on #101
@mwielgus please, provide us with the release notes and documentation PR or link at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 19:57] idvoretskyi commented on #100
@mwielgus please, provide us with the release notes and documentation PR or link at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 19:58] idvoretskyi commented on #97
@madhusudancs please, provide us with the release notes and documentation PR or link at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 19:59] idvoretskyi commented on #88
@luxas @thockin please, provide us with the release notes and documentation PR or link at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 19:59] idvoretskyi commented on #44
@timothysc @hongchaodeng @wojtek-t please, provide us with the release notes and documentation PR or link at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 20:00] idvoretskyi commented on #43
@gtank @mikedanese @yifan-gu please, provide us with the release notes and documentation PR or link at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 20:03] idvoretskyi commented on #36
@childsb @jsafrane @thockin please, provide us with the release notes and documentation PR or link at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 20:04] idvoretskyi commented on #11
@jbeda please, provide us with the release notes at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

Also, please, select the valid checkpoints at the Progress Tracker.

[2017-03-06 20:10] idvoretskyi commented on #182
@gnufied please, provide us with the release notes and documentation PR (or links) at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 20:11] idvoretskyi commented on #175
@jpeeler please, provide us with the release notes and documentation PR (or links) at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 20:11] idvoretskyi commented on #93
@chakri-nelluri @mdelio please, provide us with the release notes and documentation PR (or links) at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 20:11] idvoretskyi commented on #118
@DirectXMan12 please, provide us with the release notes and documentation PR (or links) at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 20:11] idvoretskyi commented on #117
@DirectXMan12 please, provide us with the release notes and documentation PR (or links) at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 20:12] idvoretskyi commented on #166
@davidopp @gmarek @kevin-wangzefeng please, provide us with the release notes and documentation PR (or links) at https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0

[2017-03-06 21:55] gnufied commented on #182
This unfortunately didn't get done in time for 1.6. The design proposal was merged but I would like to change this to 1.7.

[2017-03-06 23:26] DirectXMan12 commented on #118
done

[2017-03-06 23:26] DirectXMan12 commented on #117
done :-)

[2017-03-07 02:33] timothysc commented on #44
@idvoretskyi @hongchaodeng @wojtek-t

It basically looks like we are just waiting on a docs push.

This seems to have fallen down - https://github.com/kubernetes/kubernetes.github.io/issues/2172 it looks like we need to pull the documentation together here.

[2017-03-07 02:38] timothysc commented on #44
@idvoretskyi where did you want the release notes, besides the one generated by the PR itself?

[2017-03-07 09:28] kargakis commented on #122
Done

On Mon, Mar 6, 2017 at 8:56 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-03-07 10:11] idvoretskyi commented on #44
@timothysc we require the human-friendly release note (one-line), please, put it to the spreadsheet above.

[2017-03-07 10:15] idvoretskyi commented on #182
@gnufied got it, will move to the next milestone.

[2017-03-07 11:29] jsafrane commented on #36
For the reference, alpha dynamic provisioning **is not removed** in 1.6, I did not want to rush it in one day before freeze. It will be removed in 1.7.

[2017-03-07 11:29] jsafrane commented on #36
documentation: https://github.com/kubernetes/kubernetes.github.io/pull/2686

[2017-03-07 11:45] jsafrane commented on #36
examples: https://github.com/kubernetes/kubernetes/pull/42637 (please review)

[2017-03-08 18:22] idvoretskyi commented on #60
@davidopp any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:25] idvoretskyi commented on #106
@davidopp any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:26] idvoretskyi commented on #107
@davidopp can you update the heading message with the link to the documentation? Also, release notes are required (please, put them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:29] idvoretskyi commented on #54
@yujuhong any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:30] idvoretskyi commented on #108
@davidopp any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:33] idvoretskyi commented on #180
@jsafrane any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:34] idvoretskyi commented on #174
@pmorie any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:35] idvoretskyi commented on #183
@wongma7 any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:35] idvoretskyi commented on #181
@vladimirvivien any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:36] idvoretskyi commented on #170
@adityadani any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:37] idvoretskyi commented on #176
@jingxu97 any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:37] idvoretskyi commented on #168
@gnufied any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:38] idvoretskyi commented on #167
@rootfs any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:40] idvoretskyi commented on #178
@saad-ali any update on this feature? Docs and release notes are required (please, provide them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-08 18:46] adityadani commented on #170
The feature is complete. The [PR](https://github.com/kubernetes/kubernetes/pull/39535) was merged. I have updated the spreadsheet.

[2017-03-08 18:56] spxtr commented on #168
Sorry, I simply synced my fork, and thanks to [this ~~bug~~ feature](https://help.github.com/articles/closing-issues-via-commit-messages/), GitHub closed the issue.

[2017-03-08 19:00] idvoretskyi commented on #170
@adityadani thanks! Anything to be documented at https://github.com/kubernetes/kubernetes.github.io?

[2017-03-08 19:03] adityadani commented on #170
Yes I would like to add in the Volumes section. I will send out a PR to that repo.

[2017-03-08 19:14] rootfs commented on #167
@idvoretskyi will provide docs and notes after PR merge

[2017-03-08 19:52] vladimirvivien commented on #181
Hi @idvoretskyi docs were merged in the targeted PR kubernetes/kubernetes#38924 and are located in https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/scaleio/README.md.

[2017-03-08 20:12] vladimirvivien commented on #181
@idvoretskyi I am also going to create PR in https://github.com/kubernetes/kubernetes.github.io to add an entry for the new feature.

[2017-03-08 21:22] davidopp commented on #108
Speadsheet updated. Docs not done yet.

[2017-03-08 21:24] davidopp commented on #107
Updated spreadsheet with release note and link to documentation.

[2017-03-08 21:25] davidopp commented on #106
Updated spreadsheet with release note and link to documentation.

[2017-03-08 21:25] davidopp commented on #60
Updated spreadsheet with release note and link to documentation.

[2017-03-09 00:34] vladimirvivien commented on #181
@idvoretskyi I added documentation to kubernetes.github.io via PR - https://github.com/kubernetes/kubernetes.github.io/pull/2741

[2017-03-09 02:08] gnufied commented on #168
Added release notes to spreadsheet. The documentation PR is - https://github.com/kubernetes/kubernetes.github.io/pull/2743

[2017-03-09 10:50] jsafrane commented on #180
docs PR: https://github.com/kubernetes/kubernetes.github.io/pull/2745
@kubernetes/docs @kubernetes/feature-reviewers

[2017-03-09 11:03] jsafrane commented on #180
Release note added to the spreadsheet

[2017-03-09 17:14] idvoretskyi commented on #181
@vladimirvivien thank you!

[2017-03-09 21:11] jbeda commented on #130
@lukemarsden Is pulling together release notes.  I'm working on doc PR now.

[2017-03-09 21:14] jbeda commented on #11
@lukemarsden Is pulling together release notes.

@luxas -- do you know if anyone is on the line for doc updates for kubeadm for 1.6?  If not, I can probably take a pass.

[2017-03-09 22:13] yifan-gu commented on #43
@idvoretskyi Added `Introduces an API for the Kubelet to request TLS certificates from the API server.`

[2017-03-09 23:02] timothysc commented on #44
Updated spreadsheet with release note.

[2017-03-09 23:37] bgrant0607 commented on #18
See also https://github.com/kubernetes/kubernetes/issues/42756

[2017-03-09 23:40] mikedanese commented on #43
So, certificates API will be beta in 1.6, I'm working on a docs PR for that but also trying to unblock upgrade testing first. Will post in the spreadsheet once it's ready.

[2017-03-10 00:27] bgrant0607 commented on #18
Sorry, using the previous issue: https://github.com/kubernetes/kubernetes/issues/23233

[2017-03-10 07:39] wojtek-t commented on #44
Thanks for creating release note - it lgtm.

[2017-03-10 09:01] idvoretskyi commented on #43
@yifan-gu I'm speaking about the "Progress Tracker" checkpoints at the heading message.

[2017-03-10 16:15] timothysc commented on #44
docs PR: https://github.com/kubernetes/kubernetes.github.io/pull/2763

[2017-03-11 22:36] davidopp commented on #108
Documentation PR out for review: https://github.com/kubernetes/kubernetes.github.io/pull/2774/

[2017-03-11 22:36] davidopp commented on #166
Documentation PR out for review at https://github.com/kubernetes/kubernetes.github.io/pull/2774/files

[2017-03-11 22:50] davidopp commented on #108
@aveshagarwal noted that in addition to the above doc PR, we also need the following doc updates:

* documentation for --register-with-taints.
doc link: https://kubernetes.io/docs/admin/node/#self-registration-of-nodes

* a one-sentence pointer from NodeController documentation to the last section of the above PR, about using taint-based evictions for node problems
doc link: https://kubernetes.io/

[2017-03-12 00:08] davidopp commented on #108
Oh, and also, I have text for the "Notable Changes to Existing Behavior" and "Action Required Before Upgrading" sections of the Release Notes ready to go, but won't be able to create a PR for that until https://github.com/kubernetes/features/blob/master/release-1.6/release-notes-draft.md is created.

(BTW I'd like to change "Action Required Before Upgrading" to "Action Required Before or After Upg

[2017-03-13 02:16] enlinxu commented on #107
@davidopp Does it make sense to expose an argument to kubectl create , to allow a more dynamic way to decide the scheduler?

[2017-03-13 05:30] davidopp commented on #107
@enlinxu It would be better to discuss the feature itself in https://github.com/kubernetes/kubernetes/issues/25318
and leave the "features repo" just for tracking release status.

[2017-03-13 21:03] idvoretskyi commented on #2
@liggitt @ericchiang @deads2k please, provide us with the release notes and documentation PR or link at [the features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-13 21:28] davidopp commented on #108
kubernetes/kubernetes.github.io#2737

[2017-03-13 22:07] saad-ali commented on #178
This does not need to be tracked for 1.6. It's design only. No bits shipping as part of 1.6. Removing 1.6 label.

[2017-03-13 22:10] saad-ali commented on #168
This is beta for 1.6 not stable updated labels and [spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0).

[2017-03-14 11:26] idvoretskyi commented on #178
@saad-ali thank you for clarifying.

[2017-03-14 11:46] idvoretskyi commented on #126
@derekwaynecarr can you update the heading message with the link to the documentation? Also, release notes are required (please, put them to the [features spreadsheet](https://docs.google.com/spreadsheets/d/1nspIeRVNjAQHRslHQD1-6gPv99OcYZLMezrBe3Pfhhg/edit#gid=0)).

[2017-03-14 14:26] pmorie commented on #174
@idvoretskyi, @fraenkel is going to update this today

[2017-03-14 14:34] fraenkel commented on #174
Proposals
https://github.com/kubernetes/community/pull/148
https://github.com/kubernetes/community/pull/168
https://github.com/kubernetes/community/pull/175

Code
https://github.com/kubernetes/kubernetes/pull/37295
https://github.com/kubernetes/kubernetes/pull/39446
https://github.com/kubernetes/kubernetes/pull/39981
https://github.com/kubernetes/kubernetes/pull/42642
https://github.com/kubernetes

[2017-03-14 19:37] idvoretskyi commented on #167
@rootfs it looks like the code hasn't been landed for 1.6 in time (before the feature freeze), moving the feature to the next milestone.

[2017-03-15 15:55] jbeda commented on #11
Doc update for Beta: https://github.com/kubernetes/kubernetes.github.io/pull/2829

[2017-03-15 20:03] derekwaynecarr commented on #126
@idvoretskyi

documentation pr is open here: https://github.com/kubernetes/kubernetes.github.io/pull/2841

[2017-03-15 20:04] derekwaynecarr commented on #126
@kubernetes/sig-docs-maintainers see https://github.com/kubernetes/kubernetes.github.io/pull/2841

[2017-03-15 21:19] jaredbhatti commented on #44
Please don't merge docs PRs for 1.6 until 1.6 is actually ready :(

[2017-03-15 22:55] vladimirvivien commented on #181
Also added https://github.com/kubernetes/kubernetes.github.io/pull/2845

[2017-03-15 23:19] devin-donnelly commented on #122
@idvoretskyi , @kargakis , are any changes needed for the documentation for 1.6?

[2017-03-15 23:42] idvoretskyi commented on #181
@devin-donnelly FYI ^

[2017-03-16 00:20] idvoretskyi commented on #170
@adityadani can you provide us with the link of the submitted PR with documentation? /cc @devin-donnelly

[2017-03-16 00:21] idvoretskyi commented on #176
@jingxu97 can you provide us with the link of the submitted PR with documentation? /cc @devin-donnelly

[2017-03-16 00:38] jingxu97 commented on #176
Hi Ihor,

I put the submitted PR link in the doc already. Do you need a separate
documentation for this feature too? Thanks!

Jing

On Wed, Mar 15, 2017 at 5:21 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

--
- Jing

[2017-03-16 00:53] idvoretskyi commented on #176
@jingxu97 yes, please.

[2017-03-16 01:11] adityadani commented on #170
here is the documentation PR: https://github.com/kubernetes/kubernetes.github.io/pull/2854

[2017-03-16 12:06] kargakis commented on #122
@devin-donnelly no, everything that needs to be doc'ed should already be.

[2017-03-16 18:59] jingxu97 commented on #176
I added the doc PR in the excel file. Please let me know if this is ok.
Thanks!

Best,
Jing

On Wed, Mar 15, 2017 at 5:53 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

--
- Jing

[2017-03-16 20:01] idvoretskyi commented on #176
@jingxu97 it seems to be a design doc proposal. Do you have any documentation to be submitted to https://github.com/kubernetes/kubernetes.github.io?

[2017-03-16 20:12] jingxu97 commented on #176
Hi Ihor

The feature is very internal. Basically with this feature, user can
continue to use NFS and Gluster as before on GKE. Without it, it will fail
to mount NFS or GlusterFS. We already have some example document on how to
use NFS and GlusterFS. Please let me know if you think any other document
we need to add. Thanks!

Jing

On Thu, Mar 16, 2017 at 1:01 PM, Ihor Dvoretskyi <notifications@gith

[2017-03-17 17:09] smarterclayton opened #209 "Kubernetes should be able to easily integrate external policy control"
# Feature Description
- One-line feature description (can be used as a release note): Add extensible external admission control
- Primary contact (assignee): @smarterclayton
- Responsible SIGs: @kubernetes/sig-api-machinery-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/132
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least on

[2017-03-17 18:33] vladimirvivien commented on #181
@idvoretskyi @devin-donnelly any chance someone can review https://github.com/kubernetes/kubernetes.github.io/pull/2845?  Thank you.

[2017-03-17 20:09] jaredbhatti commented on #93
Pingity ping. Is there a Docs PR for this?  Is one needed?

[2017-03-17 20:10] jaredbhatti commented on #54
Pingity ping. Is there a Docs PR for this? Is one needed?

[2017-03-17 20:10] jaredbhatti commented on #97
Pingity ping. Is there a Docs PR for this? Is one needed?

[2017-03-17 20:10] jaredbhatti commented on #88
Pingity ping. Is there a Docs PR for this? Is one needed?

[2017-03-17 20:20] yujuhong commented on #54
I updated the spreadsheet with the release note and "no" for the doc a week ago. @idvoretskyi changed my answer to yes. Is there a reason for doing that?

[2017-03-17 20:21] wlan0 commented on #88
@jaredbhatti I'm just adding the docs as I'm typing now. Expect a PR today.

[2017-03-17 20:27] idvoretskyi commented on #54
@yujuhong can you submit a documentation PR with a few words about the changes since the feature has been graduated to beta?
Per release note "The Docker-CRI implementation is Beta and is enabled by default in kubelet.  You can disable it by --enable-cri=false."; the changes are notable and it is likely to reflect them in the documentation.

[2017-03-17 20:30] yujuhong commented on #54
It doesn't need a "doc" since it's not really a feature (it's really a refactoring). It does need more detailed release note on impact and upgrade.
E.g., I updated this: https://github.com/kubernetes/community/blob/master/contributors/devel/container-runtime-interface.md#kubernetes-v16-release-docker-cri-integration-beta

sig-node will update the release note to include the relevant bits. I also p

[2017-03-17 20:38] madhusudancs commented on #97
@jaredbhatti this needs a doc update. There is no PR yet. I am working on it as we speak. I will update this issue as soon as I send out a PR.

[2017-03-17 21:08] thockin commented on #88
Thanks!

On Fri, Mar 17, 2017 at 1:21 PM, Sidhartha Mani <notifications@github.com>
wrote:

[2017-03-17 22:04] childsb commented on #93
@jaredbhatti is this enough for docs: https://github.com/kubernetes/kubernetes/pull/43326  or do we need a PR against kubernetes/kubernetes.github.io also?

[2017-03-17 22:25] jaredbhatti commented on #54
I updated the tracking sheet for 1.6.  Thanks.

[2017-03-17 22:29] jaredbhatti commented on #97
Thanks.

On Fri, Mar 17, 2017 at 1:38 PM, Madhusudan.C.S <notifications@github.com>
wrote:

[2017-03-17 22:32] jaredbhatti commented on #93
This looks like a pretty sizable feature that folks around going to want to
know about. The current documentation is pretty slim, but if the readme is
enough for current users, I'm fine with it.

This is what exists now:
https://kubernetes.io/docs/user-guide/volumes/#flexvolume

On Fri, Mar 17, 2017 at 3:04 PM, bradley childs <notifications@github.com>
wrote:

[2017-03-18 02:10] madhusudancs commented on #97
cc @kubernetes/feature-reviewers for docs approval.

@jaredbhatti Docs PR here - https://github.com/kubernetes/kubernetes.github.io/pull/2899

[2017-03-19 03:24] brendandburns commented on #209
@smarterclayton I'm interested in helping build this.

[2017-03-19 03:26] brendandburns commented on #209
Some references from Azure Resource Manager Policy:

https://blogs.msdn.microsoft.com/azureedu/2016/04/27/using-azure-resource-manager-policy-and-azure-lock-to-control-your-azure-resources/
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-policy
https://blogs.technet.microsoft.com/tangent_thoughts/2016/09/07/got-azure-get-arm-policies-aka-msazurepolicies/

[2017-03-19 04:23] krmayankk opened #213 "Provide RunAsGroup feature for Containers in a Pod"
# Feature Description
As a Kubernetes User, i should be able to specify both user id and group id for the containers running inside a pod on a per Container basis, similar to how docker allows that using docker run options `-u, --user=""                 Username or UID (format: <name|uid>[:<group|gid>])` format. Currently kubernetes only allows us to control the primary user id and allows us to ad

[2017-03-20 02:17] chakri-nelluri commented on #93
@jaredbhatti more documentation is at:
https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/flexvolume

The open PR https://github.com/kubernetes/kubernetes/pull/43326 updates
this documentation to reflect 1.6 changes.

Let me know if there is any other place holder to include this
documentation. I will update it.

Thanks
~Chakri

On Fri, Mar 17, 2017 at 3:32 PM, Jared <notificati

[2017-03-20 15:25] timothysc commented on #209
+1 I'm game for deeper AMZ integration, and I'm sure @justinsb would be too.

[2017-03-20 18:14] calebamiles commented on #93
@chakri-nelluri, please confirm with @saad-ali and @devin-donnelly that no updates are needed to the user facing documentation at k8s.io.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-20 19:18] smarterclayton commented on #209
Current proposal is via external webhook admission control, with the option for initialization for on cluster hosted services that can observe other changes that people make to objects (mutation is world visible and auditble, which is not possible with webook).  Any feedback on that approach is helpful.

[2017-03-20 20:44] jbeda commented on #209
The plan to use webhooks for this (and many more contexts) is great.  But the identity permissions model leaves us in a situation where users have to create and manage a whole mess of certificates.  I don't have an immediate answer here but it is worth putting some thought in to as we do this more and more.

[2017-03-20 23:39] janetkuo commented on #124
First doc for DaemonSet rolling update https://github.com/kubernetes/kubernetes.github.io/pull/2878

@tonglil thanks! Feel free to comment in [DaemonSet documentation plan](https://docs.google.com/a/google.com/document/d/1ynyiwIQOprdgXbf9vmj-qZ6kpYh2lQFSaqo30I_-OiY/) and send doc PRs to https://github.com/kubernetes/kubernetes.github.io.

[2017-03-20 23:59] smarterclayton commented on #209
Agreed - initializers can participate in existing RBAC, web hooks require
something net new.  There's nothing really different from the webhook vs a
gRPC call - I think a future revision could simply redefine the webhook
call in terms of gRPC and allow the registrant to provide that.  In both
cases there is a centralized security issue.

On Mon, Mar 20, 2017 at 4:44 PM, Joe Beda <notifications@git

[2017-03-21 14:55] mikedanese commented on #43
PR documenting certificates API is here https://github.com/kubernetes/kubernetes.github.io/pull/2939, the kubelet flags are still experimental in 1.6.

[2017-03-21 18:11] devin-donnelly commented on #88
@wlan0 The docs PR is still missing. Launch is tomorrow. Status?

[2017-03-21 18:15] wlan0 commented on #88
@devin-donnelly I made the docs PR - https://github.com/kubernetes/kubernetes.github.io/pull/2900

@luxas said this was the repo to make the PR, and @thockin reviewed it. I'm pretty sure this is the right repo.

[2017-03-21 22:25] jeffvance commented on #178
@saad-ali is the idea behind the 3rd bullet `Not requiring direct machine access to deploy new volume plugins (drivers)` to be able to pull plugin dependencies (eg client libraries) from a defined registry and push them to each node?

[2017-03-22 17:04] lazyfunctor commented on #185
Thanks for the clarification @thockin. I'm guessing this will make it to GKE once it reaches GA in open source kubernetes?

[2017-03-23 17:58] erictune commented on #124
I believe that the Stage is incorrect on this feature.  I think it is actually Beta.
The beta qualifications are that we don't knowingly plan to change the API and that the implementation is not expected to destabilize other parts of the system (but have unknown bugs).

We don't plan to change the API, as evidenced by the fact that we used a field and not an annotation.  We had the confidence to d

[2017-03-23 18:08] idvoretskyi commented on #124
@erictune do we have strong objections keeping it as alpha? We have already discussed this within the community and people have agreed on "alpha" status.

[2017-03-23 18:10] kargakis commented on #124
Yes, I also read/heard somewhere that everything in the extensions group should be considered as alpha.

[2017-03-23 19:48] liggitt commented on #124
That's not accurate, it's a mix of alpha and beta APIs

[1] https://groups.google.com/d/msg/kubernetes-sig-api-machinery/o2v-HjAHk0k/W3xJNm0IDAAJ

[2017-03-23 20:33] erictune commented on #124
Yes, I strongly object to keeping it Alpha.

[2017-03-23 20:39] kargakis commented on #124
@liggitt that's not the only comment that gave me the impression that extensions are alpha though. The move of the deployments to apps was commented as "move to beta" but I am not sure where that comment is either.

[2017-03-23 20:52] idvoretskyi commented on #124
@erictune the feature freeze stage was completed a few weeks ago, and we had enough time to discuss the actual status of the feature, so I'm surprised to see major last-minute changes (even from the marketing perspective, where this feature is already mentioned as "alpha").

Also, even in this thread, I don't see the consensus about "alpha" or "beta".

[2017-03-23 21:20] janetkuo commented on #124
No known issues that could destabilize other parts.

@kargakis deployment was moved from alpha to beta in 1.2. Before 1.2, deployment was extensions/v1beta1 even though it's actually an alpha feature then, due to some known issues.

[2017-03-23 21:37] erictune commented on #124
The feature freeze is intended to prevent introduction of new features at the last minute.  It is not intended to prevent the correction of error or omissions.

Not all features start at alpha.  Some start at Beta.   The alpha label was applied to this issue without discussion, AFAICS.  This oversight was just noticed now.

While not all checkboxes are checked, they have all been met and should be

[2017-03-23 21:38] idvoretskyi commented on #124
@erictune ok, understood.
Thank you

[2017-03-24 21:49] vishh commented on #121
Heads up: Work is already underway for implementing this feature. It will take multiple releases to complete it. Tracker issues have been added to the initial comment in this issue.

[2017-03-25 23:55] k82cn commented on #179
/cc @kubernetes/sig-scheduling-misc

[2017-03-26 07:37] krmayankk commented on #178
@saad-ali also its not clear, how is this different from out -of tree dynamic provisioners ?

[2017-03-27 01:00] devin-donnelly commented on #162
The docs PR for this still needs a tech review.

https://github.com/kubernetes/kubernetes.github.io/pull/2807

[2017-03-28 14:29] humblec commented on #167
@rootfs is there any chance to extend this API to monitor 'usage ( free/used) status' of the PV ?

[2017-03-28 14:32] rootfs commented on #167
Volume usage monitor has to go to plugins.

[2017-03-28 14:48] humblec commented on #167
@rootfs Thanks!. Do we have any function/interface exist today which can trigger this action in volume plugin  from controller/api ?

[2017-03-30 12:57] Dynom commented on #27
The Classic LB's do, in the way that L7 LB's are expected to, using `X-Forwarded-For`, see: https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html

[2017-03-30 13:59] justinsb commented on #27
@Phanindra48 what is your application?  Is it HTTP?  Because on AWS you have (at least) 3 choices for preserving the source IP:

a) Enable proxy protocol on the ELB using an annotation (any protocol, but requires you to parse the proxy protocol header)
b) Set the ELB into layer 7 mode using an annotation (HTTP/HTTPS only)
c) Use ingress with the nginx controller, enabling proxy protocol and tellin

[2017-03-30 19:52] gnufied commented on #182
1. PR for gce - https://github.com/kubernetes/kubernetes/pull/40338
2. PR for aws - https://github.com/kubernetes/kubernetes/pull/43477

We are nearly done here. The AWS pr needs to be merged.

[2017-03-30 21:37] gnufied commented on #182
@jessfraz again closed prematurely. please reopen.

[2017-03-30 22:44] davidopp commented on #166
ref/ https://github.com/kubernetes/kubernetes/issues/43815#issuecomment-290560053

[2017-03-31 03:38] Phanindra48 commented on #27
Hi @justinsb, We got a micro-services architecture with around 10 services running on NodePort under nginx-ingress controller which is of type LoadBalancer (only external endpoint for us) and we have an `ingress` for all rules to divert the traffic to different services.

I tried adding annotation like shown here https://github.com/Phanindra48/k8s-source-ip-aws/blob/master/nginx-controller.yaml, b

[2017-03-31 08:50] nilsher commented on #44
Just fyi have problems with etcd3 as storage backend which I guess now is default in 1.6 from what I read in docs.

Created a ticet in kubernetes #43893

[2017-04-03 11:14] jsafrane opened #244 "Expose StorageClass Params To End Users (Configurable storage dynamic provisioning)"
# Feature Description
- One-line feature description (can be used as a release note): Expose StorageClass Params To End Users (aka Provisioning configuration in PVC)
- Primary contact (assignee): @jsafrane
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/247/
- Reviewer(s) - (for LGTM) recommend havin

[2017-04-03 19:07] uiansol commented on #98
@quinton-hoole  Is there someone working is this feature?

[2017-04-04 14:49] stp-ip commented on #182
@idvoretskyi please reopen. Not in latest stable and not even GA in latest stable.

[2017-04-04 22:25] msau42 opened #245 "Capacity Isolation Resource Management"
# Feature Description
- One-line feature description (can be used as a release note): This feature adds capacity isolation support for local storage at node, container, and volume levels.
- Primary contact (assignee): @vishh @jingxu97
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): kubernetes/community#306
- Reviewer(s) - (for LGTM) recommend h

[2017-04-04 22:25] msau42 commented on #245
/assign @jingxu97 @vishh

[2017-04-04 22:26] msau42 commented on #245
cc @kubernetes/sig-storage-feature-requests @kubernetes/sig-node-feature-requests

[2017-04-05 00:45] davidopp commented on #245
cc/ @kubernetes/sig-scheduling-feature-requests

[2017-04-05 22:08] ConnorDoyle opened #246 "Extended pod-level resource isolation"
# Feature Name
- One-line feature description (can be used as a release note): Extended pod-level resource isolation
- Primary contact (assignee): @ConnorDoyle
- Responsible SIGs:
- Design proposal link (community repo): [Design document](https://docs.google.com/document/d/142xh0IpQe2olyyGmMuCsWAvlUG_mMz0LgdJPsdDIyG4) (in progress).
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at leas

[2017-04-06 15:38] quinton-hoole commented on #196
We have a tested implementation of IPVS kubeproxy in https://github.com/kubernetes/kubernetes/issues/44063
Busy tying the various related issues and PR's together now.

[2017-04-07 18:45] rrati commented on #88
@thockin @luxas @roberthbailey @chrislovecnm @liggitt @saad-ali @erictune @wlan0 @bgrant0607 I've got some available bandwidth and would like to help out with this effort.  Is there a current status reflected somewhere?

[2017-04-07 19:51] wlan0 commented on #88
@rrati thanks for the offer! We could use a hand in moving the existing cloud providers to the new format.

The only other part that's left is the kubelet and I have the PR ready, I'm waiting for a dependent PR(https://github.com/kubernetes/kubernetes/pull/43777) to get merged before I make another.

If that doesn't get merged by today, I'm just going to make the kubelet PR.

[2017-04-10 04:32] thockin commented on #88
Awesome!

On Fri, Apr 7, 2017 at 12:51 PM, Sidhartha Mani <notifications@github.com>
wrote:

[2017-04-10 04:34] wlan0 commented on #88
@thockin - https://github.com/kubernetes/kubernetes/pull/44258

[2017-04-10 06:41] xingzhou commented on #167
@rootfs and @humblec, have we already had the usage metrics in the plugins? and the same question as @humblec, how can we trigger the actions?

[2017-04-10 17:55] rrati commented on #88
@wlan0 What is the new format for the cloud providers?  Is that documented somewhere?  Is the new format similar to what is seen in #32419?

[2017-04-10 18:06] wlan0 commented on #88
@rrati - First these two new methods need to be implemented for various cloud providers - https://github.com/kubernetes/kubernetes/pull/42604/files

Then, we need to create separate repositories to contain the external cloud-controller-manager for each of the cloud provider. For eg. kubernetes/aws-cloud-controller-manager repo will have the cloudprovider code for aws. It has to be built similar to

[2017-04-10 18:07] wlan0 commented on #88
@rrati There is actually one final step - The Persistent Volume Label admission controller needs to be moved to the cloud-controller-manager.

[2017-04-10 19:06] rrati commented on #88
@wlan0 I can work on moving the Persistent Volume Label admission controller

[2017-04-10 20:42] wlan0 commented on #88
Cool. Just find me on the kubernetes slack. We can discuss further steps there. My username is wlan0.

[2017-04-10 21:15] erictune commented on #95
@enisoc

[2017-04-10 21:32] philips commented on #44
Now that v1.6 is out is this feature done and closable?

[2017-04-11 08:24] idvoretskyi commented on #44
@philips if no progress is expected - yes.

[2017-04-11 17:05] idvoretskyi commented on #48
@aronchick @jszczepkowski any progress for 1.7 is expected for this feature?

[2017-04-11 21:39] timothysc commented on #48
We will write an updated proposal for kubeadm deployments in the 1.7 cycle.
/cc @kubernetes/sig-cluster-lifecycle-misc

[2017-04-11 21:39] countspongebob opened #247 "Feature repo and SIG PM should track "efforts", not "features""
Creating this issue per the SIG PM discussion today. Linking this issue to Ihor's proposed feature lifecycle doc and the governance PM discussion as requested during the call.

Linking to governance umbrella seems sensible, as the Seven need to ensure they either define or define who will own the overall change control process.

Draft feature lifecycle doc is [here](https://docs.google.com/documen

[2017-04-12 05:54] idvoretskyi commented on #247
@countspongebob Bob, can we move this to https://github.com/kubernetes/community repo? Features repo issues are used for features issues only; while community repo is a right place for the similar cross-project discussions.

Thank you.

[2017-04-12 14:57] jpeeler commented on #175
I'm closing this since as far as I know all the requirements were done and the feature has been released:

https://github.com/kubernetes/kubernetes/commit/8fb1b71c6670b13669c365058546c9671c81b0c9

[2017-04-12 14:57] #175 closed

[2017-04-12 15:11] countspongebob commented on #247
I'm fine with moving it.

[2017-04-12 15:13] idvoretskyi commented on #247
This issue was moved to kubernetes/community#531

[2017-04-12 15:13] #247 closed

[2017-04-12 23:48] philips commented on #48
@jszczepkowski that doc isn't public

[2017-04-12 23:51] philips commented on #48
@timothysc please add me on any proposal. I really think that a self-hosted etcd model using the [etcd Operator](https://github.com/coreos/etcd-operator) here can address a number of the concerns and simplify the deployment, maintenance, and failure-domain burden for the user.

For example see my [demos from KubeCon](https://github.com/philips/kubernetes-day-2)

cc @hongchaodeng @xiang90

[2017-04-16 23:24] davidopp commented on #177
kubernetes/kubernetes#39657
kubernetes/kubernetes#44172

[2017-04-17 14:07] timothysc commented on #177
/cc @skriss

[2017-04-17 20:04] tsandall opened #250 "Policy-based Federated Resource Placement"
# Feature Description
- One-line feature description (can be used as a release note): Policy-based control over Federated resource placement
- Primary contact (assignee): @tsandall
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/292
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at leas

[2017-04-19 23:03] mbohlool commented on #53
We have a working non-go client. I think this issue can be closed now.

[2017-04-19 23:03] #53 closed

[2017-04-20 12:44] jamiehannaford commented on #95
Is `Multiple Resources, single version, different add times` still an issue? I can both create and delete multiple TPRs without a problem.

Also, can we number the checkboxes in `Outstanding Capabilities` so it's easier to refer to? @deads2k I think you can do it like so:

[code]

[2017-04-21 11:31] jamiehannaford opened #253 "Add --until and --until-time flags for kubectl logs"
# Feature Description
- One-line feature description (can be used as a release note): **Add --until and --until-time flags for kubectl logs**
- Primary contact (assignee): @jamiehannaford
- Responsible SIGs: **sig-cli, sig-node**
- Design proposal link: https://docs.google.com/document/d/13Fl-7B45Uw2nuIMt71-al7E0xMTrjZ-0OHaLstWqaU4/edit?usp=sharing
- Reviewer(s) - (for LGTM) recommend having 2+ re

[2017-04-21 13:06] liggitt commented on #253
`until` isn't supported in any of the components that provide the data for a logs request: API -> kubelet -> CRI -> docker. Are you proposing adding this feature to all of those layers?

[2017-04-21 13:44] jamiehannaford commented on #253
@liggitt Yep, but this issue is just to track the K8s-specific changes. I've updated the docs to also incorporate the upstream moby stuff. Looks like rkt [already supports](https://github.com/rkt/rkt/blob/master/api/v1alpha/api.pb.go#L1206) --until

[2017-04-21 14:16] quinton-hoole commented on #250
@tsandall This is targeted for v1.7 right?  I've added that milestone.

[2017-04-21 14:18] tsandall commented on #250
Yes, that's correct.

[2017-04-22 04:31] dhilipkumars opened #256 "deferContainers - Pod Termination Semantics"
# Feature Description
- One-line feature description (can be used as a release note): Pod Termination Semantics
- Primary contact (assignee): @dhilipkumars
- Responsible SIGs: @kubernetes/sig-apps-feature-requests @kubernetes/sig-node-feature-requests
- Design proposal link (community repo): [design-proposal](https://github.com/kubernetes/community/pull/483)
- Reviewer(s) - (for LGTM) recommend ha

[2017-04-22 04:36] dhilipkumars opened #257 "Federated Pod AutoScaler feature"
# Feature Description
- One-line feature description (can be used as a release note): Horizontal Workload Scaling across Federation
- Primary contact (assignee): @irfanurrehman
- Responsible SIGs: @kubernetes/sig-autoscaling-feature-requests @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/593
- Reviewer(s) - (for LGT

[2017-04-22 04:40] dhilipkumars opened #258 "Federated Jobs feature"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @quinton-hoole
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo):  https://docs.google.com/document/d/1TZ4ZMZ8AEOlVyK6H_q-zNpAdlzTip8sxMQUVQeQ-O-w/edit#heading=h.v3yscf7s8679
- Reviewer(s) - (for LGTM) recommend having 2+ reviewer

[2017-04-22 04:47] dhilipkumars opened #259 "Federated StatefulSets feature"
# Feature Description
- One-line feature description (can be used as a release note): Federated StatefulSets
- Primary contact (assignee): @irfanurrehman
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo): [design-proposal](https://github.com/kubernetes/community/pull/437)
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one fr

[2017-04-22 04:51] dhilipkumars opened #260 "Accessing Kubernetes Resources from Federation Apiserver"
# Description

Accessing Kubernetes resources from federation apiserver feature enables users to be able to get all or a subset of all their resources from all their Kubernetes clusters under federation by talking to federation Apiserver. Note that users will be able to get all resources from underlying clusters, not just the ones which have a corresponding federation object.

_The design doc is i

[2017-04-22 04:53] dhilipkumars opened #261 "Federated Resource Quota feature"
# Feature Description
- One-line feature description (can be used as a release note): Federated Resource Quota
- Primary contact (assignee): @quinton-hoole
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multipl

[2017-04-22 05:19] davidopp commented on #258
Is there anything here that's specific to batch jobs? It seems like the goals you described would also make sense for long-running services.

BTW we have a [proposal](https://docs.google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA/edit) that introduces the concept of batch queues. Assuming that the proposal is adopted in some form, it might make sense to think of a federated/global

[2017-04-22 05:32] dhilipkumars commented on #256
Someone please add sig-apps and sig-nodes to this feature.

[2017-04-22 06:16] dhilipkumars commented on #258
I think the better person to answer would be @quinton-hoole and @jianhuiz

[2017-04-23 03:27] frankgreco commented on #95
Does anyone know how the validation component of this is coming along? I work with TPRs a lot and this feature would be priceless and save A LOT of custom code. I'd love to contribute to this feature but would like to know if anyone subscribed to this issue knows it's status

[2017-04-23 23:32] quinton-hoole commented on #260
Assigning to myself as a proxy for @CindyXing, who I can't seem to assign to.

[2017-04-23 23:40] quinton-hoole commented on #258
@davidopp The intention of this feature is to support precisely the Kubernetes Jobs API to start with .  i.e. https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/

We should definitely extend it over time to support other types of workloads, as they become supported by Kubernetes.  I will take a look at your batch queues design proposal - it looks interesting.

[2017-04-23 23:41] quinton-hoole commented on #258
Assigning this to myself as a proxy for @jianhuiz whom I cannot seem to assign to.

[2017-04-24 00:26] quinton-hoole commented on #71
Assigning to myself as a proxy for @CindyXing from Huawei, who I can for some reason not assign this issue to.

[2017-04-24 00:28] quinton-hoole commented on #261
Assigning to myself as a proxy for Weijin Xu from Huawei, who I can for some reason not assign this issue to.

[2017-04-24 00:34] quinton-hoole commented on #73
I believe we are targeting this in alpha for v1.7.  Labelling accordingly.

[2017-04-24 00:38] quinton-hoole commented on #74
@marun Has the beginnings of a design proposal for this.  Reassigning to him.  I believe that there is a plan to get this to alpha in v1.7.  Labelling accordingly.

[2017-04-24 02:39] quinton-hoole commented on #260
Closing in favor of https://github.com/kubernetes/features/issues/71

[2017-04-24 02:39] #260 closed

[2017-04-24 04:34] davidopp commented on #74
ref/ https://github.com/kubernetes/kubernetes/issues/39982

[2017-04-24 04:39] davidopp commented on #258
I just meant that since the primary functionality described here is picking a cluster or clusters, extending it to handle something like ReplicaSet (or even StatefulSet) might be pretty straightforward. The description didn't sound very Job-specific.

[2017-04-24 07:25] fgrzadkowski commented on #257
@kubernetes/sig-autoscaling-feature-requests @mwielgus @DirectXMan12

[2017-04-24 12:19] deads2k commented on #95
I don't expect it to happen for 1.7.  At the moment, we're discussing some structural growing pains here https://github.com/kubernetes/community/pull/524 to provide a more stable base to grow upon.

[2017-04-24 16:27] nikhiljindal commented on #99
We completed most of the items in 1.6. federation-apiserver now supports cascading deletion for all resources.

There is one item left for `kubectl delete` https://github.com/kubernetes/kubernetes/issues/42594 that we want to fix in 1.7.

[2017-04-24 16:42] perotinus commented on #105
Remaining works item for beta-ization:
- convert to new controller framework, and thereby improve testing
- fix flaky unit test

We've agreed that cluster selection is separable and not necessary to call ConfigMaps beta.

I'll be taking this on.

[2017-04-24 19:21] kevin-wangzefeng commented on #71
/assign @CindyXing

[2017-04-24 21:09] lavalamp opened #263 "API Aggregation"
# Feature Description
- One-line feature description (can be used as a release note): User-provided apiservers can be aggregated (served along with) the rest of the Kubernetes API.
- Primary contact (assignee): @lavalamp, @deads2k, @cheftako
- Responsible SIGs: API Machinery
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/a

[2017-04-24 21:28] DirectXMan12 opened #264 "HPA Status Conditions"
# Feature Description
- One-line feature description (can be used as a release note): Status conditions indicating current status and/or blocking issues for the HorizontalPodAutoscaler
- Primary contact (assignee): @directxman12
- Responsible SIGs: @kubernetes/sig-autoscaling-feature-requests
- Design proposal link (community repo): kubernetes/community#560
- Reviewer(s) - (for LGTM) recommend hav

[2017-04-24 21:44] madhusudancs commented on #46
Reopening this and assigning it to @perotinus (with me being a proxy).

[2017-04-24 21:46] perotinus commented on #46
Before considering ReplicaSets beta, we need to address the issues in https://github.com/kubernetes/kubernetes/issues/39986.

Also see https://docs.google.com/a/google.com/document/d/17u9arduSYPWYMvppxhzDXqUem3fM2mEA_1dvz97BlKI/edit?usp=sharing, which explains why weighting should remain an alpha feature for now and not block the progression to beta.

[2017-04-24 21:52] quinton-hoole opened #265 "Implement IPVS-based in-cluster service load balancing"
# Feature Description
- One-line feature description (can be used as a release note): Implement IPVS-based in-cluster service load balancing
- Primary contact (assignee): @m1093782566 (@quinton-hoole acting as proxy as @haibinxie is not yet a member of the K8s org)
- Responsible SIGs: sig-networking
- Design proposal link (community repo):  See https://github.com/kubernetes/kubernetes/issues/44063

[2017-04-24 23:24] jcbsmpsn opened #266 "Kubelet Client TLS Certificate Rotation"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubelet client certificate bootstrap and auto-renewal
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/266-kubelet-client-certificate-bootstrap-rotation
- Primary contact (assignee): @liggitt
- Responsible SIGs: sig-auth, sig-node
- Enhancement target

[2017-04-24 23:24] jcbsmpsn opened #267 "Kubelet Server TLS Certificate Rotation"
# Feature Description
- One-line feature description (can be used as a release note):
Rotation of the server TLS certificate on the kubelet.

- Primary contact (assignee):
@mikedanese @liggitt

- Responsible SIGs:
sig-auth

- Design proposal link (community repo): https://github.com/kubernetes/community/pull/602

- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area

[2017-04-25 06:34] davidopp opened #268 "Priority/preemption"
# Feature Description
- One-line feature description (can be used as a release note): A mechanism for imposing a total order on pods, that determines which pods run and which go pending when the cluster is overcomitted, implemented through a priority scheme, preemption of running pods by the default scheduler, having kubelet eviction order take the priority into account, and modifications to the q

[2017-04-25 06:49] davidopp opened #269 "Batch job admission and flexible resource allocation"
# Feature Description
- One-line feature description (can be used as a release note): Batch job admission and flexible resource allocation
- Primary contact (assignee): @k82cn, @foxish
- Responsible SIGs: @kubernetes/sig-scheduling-feature-requests @kubernetes/sig-apps-feature-requests
- Design proposal link (community repo): high-level architecture doc (currently under review/discussion/iteration

[2017-04-25 13:39] craigbox commented on #194
Does this also cover moving ReplicaSets to GA?

[2017-04-25 13:51] aveshagarwal commented on #109
milestone 1.7?

[2017-04-25 14:09] timothysc commented on #48
There is a draft up for comment, and we'll hash out a more formal proposal with the SIG.

https://docs.google.com/document/d/1lH9OKkFZMSqXCApmSXemEDuy9qlINdm5MfWWGrK3JYc/edit#

[2017-04-25 14:40] DirectXMan12 commented on #257
This *really* needs to be discussed further in SIG autoscaling, IMO.

[2017-04-25 14:56] ravigadde opened #270 "Bind method in scheduler extender"
# Feature Description
- One-line feature description (can be used as a release note): Support for delegation of pod binding to a scheduler extender
- Primary contact (assignee): @ravigadde
- Responsible SIGs: scheduling-sig
- Design proposal link (community repo): #41235 and #41447 have details on requirements and solution options
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least

[2017-04-25 15:39] DirectXMan12 opened #271 "Metrics Server (for resource metrics API)"
# Feature Description
- One-line feature description (can be used as a release note): Introduces a lightweight monitoring component for serving the core resource metrics API used by the Horizontal Pod Autoscaler and other components.
- Primary contact (assignee): @piosz
- Responsible SIG: sig/instrumentation
- Design proposal link (community repo): [Metrics server](https://github.com/kubernetes/co

[2017-04-25 15:40] DirectXMan12 commented on #271
@piosz @fabxc I've marked myself as the approver/reviewer and @piosz as the assignee -- feel free to change either if you'd like, but I'm happy to review/approve.

[2017-04-25 16:49] mwielgus commented on #257
@DirectXMan12 - I did a couple review iterations of the draft proposal. It makes sense but I also agree that it should be more broadly discussed at SIG autoscaling.

[2017-04-25 17:06] davidopp commented on #109
@aveshagarwal Will you be working on it for 1.7? If so, then yes we should set 1.7 milestone.

[2017-04-25 17:07] aveshagarwal commented on #109
@davidopp yes.

[2017-04-25 17:08] davidopp commented on #109
done

[2017-04-25 17:39] smarterclayton opened #272 "StatefulSets should support a burst mode for faster scale up / down"
# Feature Description
- One-line feature description (can be used as a release note): StatefulSet authors should be able to relax the ordering and parallelism policies for software that can safely support rapid, out-of-order changes.
- Primary contact (assignee): @smarterclayton
- Responsible SIGs: sig-apps
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/issues/41

[2017-04-25 17:44] smarterclayton commented on #265
Is this a dupe / replacement of #196?

[2017-04-25 17:45] smarterclayton commented on #12
Closing this to replace with other issues.  Primary goal accomplished in 1.6

[2017-04-25 17:45] #12 closed

[2017-04-25 17:51] kevin-wangzefeng opened #273 "Automatic rollback for failed deployments"
# Feature Description
- One-line feature description (can be used as a release note): Automatic rollback for failed deployments
- Primary contact (assignee): @kevin-wangzefeng
- Responsible SIGs: sig-apps
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies pre

[2017-04-25 18:17] deads2k commented on #95
We plan to move forward with https://github.com/kubernetes/community/blob/master/contributors/design-proposals/thirdpartyresources.md in the 1.7 timeframe.  I'll make updates here and in the sig-apimachinery calls as we move along.

[2017-04-25 20:40] therc opened #274 "Pod locality for services (node-local, etc.)"
# Feature Description
- One-line feature description (can be used as a release note): Allow clients to talk only to a service's pods running on the same node/rack/AZ/region/label, etc.
- Primary contact (assignee): therc
- Responsible SIGs: sig-network
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/pull/28637 (can be recreated in the community repo if needed)
- R

[2017-04-25 20:52] therc commented on #274
Also see other existing discussion at https://github.com/kubernetes/kubernetes/issues/28610

[2017-04-25 21:19] derekwaynecarr opened #275 "Add support for pre-allocated hugepages"
# Feature Description
- One-line feature description (can be used as a release note): Enable a pod to express a resource requirement for a pre-allocated hugepage of a particular size.  Kubelet isolates access to hugepages.
- Primary contact (assignee): @derekwaynecarr
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/837
- Reviewer(s

[2017-04-25 21:25] derekwaynecarr opened #276 "Further differentiate performance characteristics associated with pod level QoS"
# Feature Description
- One-line feature description (can be used as a release note): Provide a reason why users would choose to run Guaranteed pods over Burstable pods.  Right now, Guaranteed pods have a penalty (due to cpu limit enforcement).  Ideally, we can optimize how the kubelet manages Guaranteed pods to provide material benefits over Burstable pods, particularly with respect to latency se

[2017-04-25 21:30] ericchiang commented on #267
I'm assuming this encompasses initial bootstrapping of the serving cert too?

[2017-04-25 21:43] ConnorDoyle commented on #246
/assign

[2017-04-25 21:49] verb opened #277 "Ephemeral Containers"
# Feature Description
- One-line feature description (can be used as a release note): Support advanced troubleshooting of running pods by running a new container image in shared pod namespaces.
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-node/277-ephemeral-containers
- Primary contact (assignee): @verb
- Responsible SIGs: sig-node
- Feature target (which target equa

[2017-04-25 23:07] frankgreco commented on #95
@deads2k I didn't see anything in there about tpr validation. Wouldn't you consider that to be something that would be needed for beta?

[2017-04-25 23:09] jcbsmpsn commented on #267
Yes, initial bootstrapping of the server cert will be covered by this. Would you like a separate one, or just checking that feature wasn't lost in the shuffle?

[2017-04-25 23:21] ericchiang commented on #267
Just checking, thanks.

[2017-04-26 07:07] fgrzadkowski commented on #271
I think this work is strictly under SIG/instrumentation, not SIG/autoscaling. I also feel that someone from that sig should be approver. Another reviewer should be someone from api-machinery to make sure we will be using aggregator correctly.

[2017-04-26 07:15] sttts commented on #95
@frankgreco the proposal is about a sound foundation for TPRs to build upon. Features like validation can be added later, but are out of scope here.

[2017-04-26 12:10] jsafrane opened #278 "Containerized mounts"
# Feature Description
- One-line feature description (can be used as a release note):
**Kubernetes can run mount utilities in pods instead on the host.**

- Primary contact (assignee): @jsafrane
- Responsible SIGs: sig-storage, sig-node
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/589
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one fr

[2017-04-26 13:23] justinsb commented on #18
We are discussing this in sig-cluster-lifecycle; unsure if it will make 1.7 but it's certainly in the running.

[2017-04-26 16:50] MrHohn commented on #27
@tomte76 There wouldn't be healthcheck nodeport assigned to OnlyLocal NodePort service. This is the expected behavior.

For the specific issue you encountered (seeing MASQ adress in logs), it would be great if you could provide more details --- which cloud provider, what commands you ran, iptables-save output on node, tcpdump result.

Could you please open a new issue on [kubernetes/kubernetes](ht

[2017-04-26 17:17] saad-ali opened #279 "Limit node access to API"
# Limit node access to API
- One-line feature description (can be used as a release note):
  * A new `Node` authorization mode and `NodeRestriction` admission plugin, when used in combination, limit nodes' access to specific APIs, so that they may only modify their own Node API object, only modify Pod objects bound to themselves, and only retrieve secrets and configmaps referenced by pods bound to

[2017-04-26 18:05] destijl commented on #92
We're targeting 1.7 for this. The features template has been simplified, so here's the updated view:

- One-line feature description (can be used as a release note):
Encrypt secrets stored in etcd.
- Primary contact (assignee):
  - @smarterclayton
- Responsible SIGs: @kubernetes/sig-auth-feature-requests
- Design proposal link (community repo):
https://github.com/kubernetes/community/pull/454
- Re

[2017-04-26 18:12] tomte76 commented on #27
Acutally I have to admin, that  I don't know how to "ping" :) I opened an issue #44963 (Unexpected behaviour using "OnlyLocal" annotation on NodePort with 1.6.1 and Weave-Net 1.6) and provided some information. If you need any more please let me know

[2017-04-26 18:14] enisoc commented on #95
I've edited the parent comment of this thread to use the new template, and to clarify the scope of work planned for 1.7, as I understand it. Please look over it and fix/comment.

[2017-04-26 18:53] liggitt commented on #279
c.f. https://github.com/kubernetes/kubernetes/issues/40476

[2017-04-26 19:48] msau42 opened #280 "1.7 Local Persistent Volumes"
# Local Persistent Volumes
- One-line feature description (can be used as a release note): On alpha clusters, a new volume type, LocalVolume, can be created as a PersistentVolumeSource that represents a local mount point on a specific node.
- Primary contact (assignee): @msau42
- Responsible SIGs: sig-storage, sig-scheduling
- Design proposal link (community repo): kubernetes/community#306
- Revie

[2017-04-26 19:49] msau42 commented on #121
Feature issue just for 1.7 is here:
https://github.com/kubernetes/features/issues/280

[2017-04-26 19:50] msau42 commented on #280
/assign

[2017-04-26 19:53] idvoretskyi commented on #121
@msau42 any further progress is expected for this item?

[2017-04-26 19:59] msau42 commented on #121
This is a multi-release feature that we're going to start implementing in 1.7. So I opened up a different feature issue for just the 1.7 work.  This feature issue can still be used to track the alpha->beta->GA cycle, which will take many releases.

[2017-04-26 20:51] idvoretskyi commented on #121
@msau42 please, keep the feature tracking under the single issue. 1 feature == 1 issue. So, please, close the second thread.

PS. Feel free to update the heading comment in the thread with a new template.

[2017-04-26 20:56] liggitt commented on #279
c.f. https://github.com/kubernetes/community/pull/585

[2017-04-26 22:04] msau42 commented on #280
Nevermind.  Only one issue should be used to track a feature.

[2017-04-26 22:04] #280 closed

[2017-04-26 22:37] davidopp commented on #166
Regarding "taint-based eviction for node problems is in Alpha": nobody is available to move it to beta in 1.7, so it will stay in alpha in 1.7.

[2017-04-26 23:03] mtaufen opened #281 "Dynamic Kubelet Configuration"
# Dynamic Kubelet Configuration
- One-line feature description (can be used as a release note):
**New Kubelet configurations can be rolled out in a live cluster**
- Primary contact (assignee): @mtaufen
- Responsible SIGs: sig-node
- [Design proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/dynamic-kubelet-configuration.md) (community repo)
- Documenta

[2017-04-26 23:03] caesarxuchao opened #282 "Moving external API types to a separate repo (k8s.io/api)"
# k8s.io/api: repo for external API types
- External API types are moved from `k8s.io/kubernetes/pkg/api/` and `k8s.io/kubernetes/pkg/apis/` to another repo, `k8s.io/api`. kubernetes repositories, including the main repo and client-go, should import API types from there.
- Primary contact (assignee): @caesarxuchao @lavalamp
- Responsible SIGs: sig-apimachinery
- Design proposal link (community rep

[2017-04-27 00:07] gyliu513 commented on #166
@davidopp I can help on this and target for 1.7, one question is that I saw https://github.com/kubernetes/kubernetes/pull/40355 is already enabled by default, so can you please explain more for what do you mean by move this to beta in 1.7?

[2017-04-27 06:47] gmarek commented on #166
@gyliu513 - taint controller is enabled by default, but using taints instead of direct evictions in case of node problems isn't. To move it to beta there's at least one thing to be done (except renaming stuff from alpha to bete), which is to rewrite/write new NodeController unit tests, as they currently assume direct evictions. There are some very basic tests for taint-based evictions, but they sh

[2017-04-27 06:49] davidopp commented on #166
I think we can only do this in 1.7 if @gmarek has the bandwidth to do all the reviews and define what we need to do to move it to beta. (Sounds like he's already done most of the second thing above.)

@gmarek do you have time?

[2017-04-27 08:59] gmarek commented on #166
Yes, I can find time for reviews and I can find time to think through what needs to be done, if there's someone willing to work on it.

[2017-04-27 09:56] piosz commented on #271
Thanks @DirectXMan12 for creating the issue. I updated it a bit.

I agree that this is purely sig-instrumentation work. @DirectXMan12 is involved in sig-instrumentation too and I think he is the best main approver here, though probably it would make sense to have someone from api-machinery involved too.

[2017-04-27 16:35] rootfs opened #283 "Hung NFS volumes can wedge the kubelet"
# Hung NFS volumes can wedge the kubelet
- One-line feature description (can be used as a release note):
When an NFS volume hangs, reading directory off the volume or unmounting the volume will stuck and thus wedges Kubelet. (also see https://github.com/kubernetes/kubernetes/issues/31272)
- Primary contact (assignee): Hemant Kumar @gnufied
- Responsible SIGs: Storage
- Design proposal link (commun

[2017-04-27 23:25] gyliu513 commented on #166
@davidopp @gmarek I will be the volunteer for this, can you please assign this to me? @gmarek will go through this feature and propose sth to you

[2017-04-27 23:49] DirectXMan12 commented on #271
Fine by me (although, FWIW, I've been doing a lot of standing up different add-on API servers recently, so I can prob review the aggregator-related stuff too, at least for the initial reviews).

[2017-04-28 05:59] davidopp commented on #166
assigned

[2017-04-28 07:04] gmarek commented on #166
@gyliu513 OK - let me know if you need some directions.

[2017-04-28 08:07] davidopp commented on #283
This sounds like a bug fix, not something that requires a features repo entry?

[2017-04-28 08:39] kargakis commented on #194
@craigbox we will need a separate issue I think, although I would expect ReplicaSets to be GA once we move Deployments to GA.

[2017-04-28 08:43] kargakis commented on #194
As part of moving Deployments to GA, we are going to fix the biggest issue Deployments have so far which is hash collisions in 1.7. Got an update to the Deployment proposal merged yesterday that reflects the new API field (https://github.com/kubernetes/community/pull/477). Implementation is in https://github.com/kubernetes/kubernetes/pull/44774

[2017-04-28 14:21] rootfs commented on #283
This issue was brought up in SIG Storage meeting for 1.7 feature tracking.

[2017-04-28 17:28] rootfs commented on #167
close this in favor of cloud provider level metrics #182

[2017-04-28 17:28] #167 closed

[2017-04-28 18:09] gnufied commented on #283
/assign @gnufied

[2017-04-28 21:47] gnufied opened #284 "Add support for resizing PVs"
# Feature Name
- Add support for resizing existing PVs
- Primary contact (assignee): Hemant Kumar( @gnufied)
- Responsible SIGs: storage-sig
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/657
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers: @saad-ali @jsafrane
- Approver (likely from SIG/area to which feature belongs): @jsafrane
- Feature target (whi

[2017-04-28 22:00] duglin commented on #284
/cc @sandyamin123 @aniket-s-kulkarni

[2017-04-28 22:36] kow3ns opened #285 "Add MaxUnavailable to PodDisruptionBudget"
# Feature Description
- Add MaxUnavialable field to PodDistruptionBudgetSpec
- Primary contact: @kow3ns (for now)
- Responsible SIGs: @kubernetes/sig-apps-feature-requests
- Reviewer(s) - one reviewer from each of the above sigs
- Approver (likely from SIG/area to which feature belongs): @erictune
- Feature target: 1.7
  - Beta release target 1.7
  - Stable release target 1.7

[2017-04-28 22:40] davidopp commented on #285
I'm fine (in fact thrilled) with handing off PDB from sig-scheduling to another SIG (preferably *one* SIG) but we should make it official *and* there should be a commitment from that SIG to adequately staff maintenance and needed changes going forward.

[2017-04-29 00:36] davidopp commented on #269
I put the 1.7 label on this but realistically we will just be working on it during 1.7 (starting with getting consensus on the design) and it's unclear what from this, if anything, will actually ship in 1.7.

[2017-04-29 00:38] davidopp commented on #268
The minimum we want for 1.7 is an alpha API fo expressing pod priority, and hopefully incorporating that into kubelet pod eviction ordering when out of resource. Most of this feature is not expected to ship in 1.7, especially since the design is still under discussion.

[2017-04-29 00:40] davidopp commented on #110
Closing in favor of #268, which is the same thing but uses the new template. (I had forgotten this already existed.)

[2017-04-29 00:40] #110 closed

[2017-04-29 00:49] Random-Liu opened #286 "Containerd CRI Integration"
# Feature Name
- One-line feature description (can be used as a release note): Alpha containerd CRI integration with basic sandbox/container lifecycle management and image management.
- Primary contact (assignee): @Random-Liu
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes-incubator/cri-containerd/blob/master/docs/proposal.md
- Reviewer(s) - (for

[2017-04-29 10:37] kargakis commented on #285
@kow3ns I can help with reviewing, ping me on the PR - @davidopp I think we can have it in sig-apps if one SIG only is required.

[2017-04-29 10:38] kargakis opened #287 "Hashing collision avoidance mechanism for Deployments"
# Feature Name
- One-line feature description (can be used as a release note): Hashing collision avoidance mechanism for Deployments
- Primary contact (assignee): @kargakis
- Responsible SIGs: @kubernetes/sig-apps-misc
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/477
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNER

[2017-04-29 10:39] kargakis commented on #194
Opened https://github.com/kubernetes/features/issues/287

[2017-04-29 11:17] kargakis commented on #268
This is Borg terminology, right? Many people coming to k8s will not be familiar with Borg so I would suggest switching "cell" to "node".

[2017-04-29 11:20] k82cn commented on #269
/assign @k82cn, @foxish

[2017-04-29 18:14] davidopp commented on #285
I'm not saying it is "required" to have only one SIG -- I just worry about long-term who is going to maintain and be the expert on PDB. Having one SIG own it can help make the responsibility clear.

[2017-04-29 18:16] davidopp commented on #268
You caught me! I meant cluster, not cell. Fixed now.

Glad to know someone is reading this stuff. :)

[2017-04-29 18:17] kargakis commented on #285
Sounds reasonable, as I already said I think we can have it under sig-apps.
Any different opinions @kubernetes/sig-apps-misc ?

On Sat, Apr 29, 2017 at 8:14 PM, David Oppenheimer <notifications@github.com

[2017-04-29 18:55] obeattie commented on #268
Is the document linked in the description (and that of #269) intended to be private? This is a feature which is very important for our deployment. I'm mostly just curious to follow its development, so if this is private for a reason that's fine – I just figure it may be an oversight.

[2017-04-29 18:59] davidopp commented on #268
You can view the document by joining the kubernetes-dev mailing list
https://groups.google.com/forum/#!forum/kubernetes-dev

Any feedback on the proposal is welcome. (It's still in the proposal phase.)

[2017-04-29 19:01] obeattie commented on #268
Aha, thank you 👍

[2017-04-30 09:02] luxas opened #288 "Improve the multi-platform compability"
# Kubernetes on multiple platforms
- One-line feature description (can be used as a release note): Kubernetes should work on the platforms the community expects it to work on. Automated CI e2e tests should be run for all supported architectures. It should be possible to run clusters with nodes of mixed architectures.
- Primary contact (assignee): @luxas @mkumatag @ixdy
- Responsible SIGs: no forma

[2017-05-01 16:32] yguo0905 opened #289 "Client Initiated Pod Termination Reason"
# Client Initiated Pod Termination Reason
- One-line feature description (can be used as a release note):
**A mechanism for specifying and delivering a signal to a Pod's containers indicating why the Pod has been terminated.**
- Primary contact (assignee): @kow3ns, @yguo0905
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/541
- Rev

[2017-05-01 16:52] dchen1107 commented on #276
@derekwaynecarr I didn't target this for 1.7 since it relies on our design.

[2017-05-01 18:13] yujuhong opened #290 "Enhance the Container Runtime Interface"
# Feature Name
- One-line feature description (can be used as a release note): Enhance the Container Runtime Interface (e.g., add container and image filesystem metrics/stats, improve debuggability, etc.)
- Primary contact (assignee): @yujuhong
- Responsible SIGs: Node
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWN

[2017-05-01 20:53] spiffxp commented on #182
@soltysh not sure you meant to close this issue

[2017-05-01 23:23] dchen1107 opened #292 "CRI validation test suite"
# Feature Name
- One-line feature description (can be used as a release note): Provide a serial of common validation test suites for Kubelet CRI.
- Primary contact (assignee): @feiskyer
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes-incubator/cri-tools
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS f

[2017-05-01 23:31] dchen1107 commented on #292
@feiskyer I helped you filing this since today is the deadline: https://groups.google.com/forum/#!topic/kubernetes-dev/JHANlDCFxOY
With this issue, all features in sig-node 1.7 roadmap: https://docs.google.com/a/google.com/spreadsheets/d/1-hADEbGEUrW04QP4bVk7xf1CWuqbFU6ulMAH1jqZQrU/edit?usp=sharing has the issue in feature repo. Thanks!

[2017-05-01 23:51] jagosan commented on #285
Agree there should be a single owner.  Seems fine to have in sig-apps; can have a discussion and formal flag-passing ceremony if necessary down the road.

[2017-05-01 23:57] liggitt commented on #285
Is there a link to the discussion/design around this change?

[2017-05-02 00:37] feiskyer commented on #292
@dchen1107 Thanks a lot.

[2017-05-02 01:09] ericchiang commented on #62
This feature still seems to be marked alpha (at least the annotation is still marked alpha).

Has this been abandoned without plans to move it to beta?

[2017-05-02 05:43] mkumatag commented on #288
Sounds good to me..

[2017-05-02 05:53] jingxu97 opened #293 "PVC Capacity Usage Stats"
# Feature Description
- One-line feature description (can be used as a release note): PVC should show how much of the available capacity is used vs available
- Primary contact (assignee): @vkamra
- Responsible SIGs: SIG-Storage
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from

[2017-05-02 06:50] krmayankk commented on #293
@jingxu97 can you elaborate ? Is there a design proposal ?

[2017-05-02 07:04] jingxu97 commented on #293
I was trying to add a feature entry, I might did in the wrong place
through...

On Mon, May 1, 2017 at 11:50 PM, krmayankk <notifications@github.com> wrote:

--
- Jing

[2017-05-02 11:14] soltysh commented on #182
@spiffxp no I did not, sorry for this mistake. gh-bot was too smart with this one 😉

[2017-05-02 15:46] urzds commented on #213
Is the progress listed above accurate?

[2017-05-02 17:16] erictune commented on #285
Original discussion is: https://github.com/kubernetes/kubernetes/issues/35318

Specific motivations are that:
-  If you use maxUnavailable=1, that is almost always a safe choice for the app.  This allows having a standard PDB "template" that only needs a selector set, and not minAvailable set to a function of the `spec.replicas`.  You can even do one per NS with match-all selector if you want.  Ca

[2017-05-02 17:25] erictune commented on #285
I'm fine with SIG-Apps ownership of this feature.

[2017-05-02 18:07] krmayankk commented on #213
I started working on this earlier but got distracted by other higher
priority issues . We need this feature hence I will prioritize this again .
Expect a PRoposal and a first PR in the next couple weeks

On Tue, May 2, 2017 at 8:46 AM Dennis Schridde <notifications@github.com>
wrote:

--
-Mayank

[2017-05-02 20:52] ericchiang opened #294 "Webhook for determining user's group membership"
# Decouple Group Population from Authentication
- One-line feature description (can be used as a release note): User group membership can be determined by a webhook seperately from authentication.
- Primary contact (assignee): @ericchiang
- Responsible SIGs: @kubernetes/sig-auth-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/issues/23720
- Review

[2017-05-02 23:44] xiao-zhou commented on #95
@deads2k @enisoc We are recently starting to use TPR, and TPR validation is going to be pretty critical to some of our upcoming projects. If we have the resource to work on it, would you consider accepting community contributors to make it happen?

[2017-05-03 12:03] deads2k commented on #95
Absolutely.  For something like this, we'd want a design proposal before we start looking at pull requests.  Also, given how many different approaches are possible, I'd suggest that you list the top three or so ideas and give a brief explanation of why the one you choose is the best.  Since its server side, performance and security considerations are very important.

Also, since this is a far reac