[2019-04-23 22:11] gnufied commented on #531
This feature is going beta in 1.15

[2019-04-23 22:37] j-griffith opened #989 "Extend allowed PVC DataSources"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Enable specifying an existing PVC as a DataSource parameter for creating a new PVC (Cloning)

- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20181111-extend-datasource-field.md

- Primary contact (assignee):
j-griffith

- Responsible SIGs:
sig-st

[2019-04-23 22:39] msau42 commented on #989
/sig-storage
/stage alpha

[2019-04-23 22:39] msau42 commented on #989
/assign @j-griffith

[2019-04-23 23:18] craiglpeters commented on #989
/sig storage

[2019-04-23 23:20] andrewsykim opened #991 "Cloud Controller Manager Migration for HA Control Planes"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support migration from kube-controller-manager to cloud-controller-manager in HA control planes.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/979
- Primary contact (assignee): @andrewsykim

- Responsible SIGs: Cloud Provider

- Enhancement target (which target equals

[2019-04-23 23:20] andrewsykim commented on #991
/sig cloud-provider

[2019-04-23 23:21] andrewsykim commented on #991
/stage alpha

[2019-04-23 23:22] andrewsykim commented on #991
/milestone v1.15
/assign
/kind feature

[2019-04-23 23:47] bsalamat commented on #382
This feature is currently in Beta.
@k82cn, I think we should consider graduating this feature to GA in 1.15. Is there any blocking item?

[2019-04-24 00:43] saad-ali commented on #989
/milestone v1.15

[2019-04-24 09:57] k82cn commented on #382
There's no blocking items, agree to graduate this to GA in  1.15.

[2019-04-24 17:19] kacole2 commented on #531
/milestone v1.15

[2019-04-24 17:23] kacole2 commented on #382
/milestone v1.15
/stage stable

[2019-04-24 17:29] kacole2 commented on #382
@k82cn @bsalamat I've added this to the tracking sheet. However, I don't see a [KEP within the repo](https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling). Is there one that is currently in progress? The design proposal process has been phased out.

[2019-04-24 17:31] Liujingfang1 opened #993 "support generators and transformers plugins in `kubectl kustomize` and `kubectl -k`"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
support generators and transformers plugins through plugins in `kubectl kustomize` and `kubectl -k`

- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR) https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20190318-kustomize-generators-transfor

[2019-04-24 17:35] Liujingfang1 commented on #993
/sig-cli

[2019-04-24 17:36] Liujingfang1 commented on #993
/kind feature

[2019-04-24 18:29] ksubrmnn opened #995 "Kubeadm for Windows"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubeadm support for Windows
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/994
- Primary contact (assignee): @ksubrmnn
- Responsible SIGs:
/sig-windows
/sig-cluster-lifecycle
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.15)

[2019-04-24 18:32] neolit123 commented on #995
/sig windows
/sig cluster-lifecycle

[2019-04-24 19:45] mrbobbytables commented on #993
/milestone v1.15
/stage stable

[2019-04-24 19:49] mrbobbytables commented on #981
/milestone v1.15
/stage beta

[2019-04-24 21:20] bsalamat commented on #382
@k82cn Could you please write a graduation KEP for this feature?

[2019-04-24 21:32] ravisantoshgudimetla commented on #382
My understanding is that, there are still scenarios where node-controller, scheduler and kubelet could race especially during updates, also, we don't have a test case that actually simulates when all 3(nodecontroller, scheduler and kubelet) are up and running. I believe we have to address them before graduating this feature to GA.

[2019-04-24 22:06] bsalamat commented on #382
@ravisantoshgudimetla That's correct. I remembered that we wanted to apply the taint at updates as well, but we decided not to do it (at least in the first version). The race condition for update exists even without this feature. Node conditions (the feature that predates this one) has a the same race condition. It is the type of inevitable race conditions in large distributed systems. General sol

[2019-04-24 22:22] ravisantoshgudimetla commented on #382
I think before this feature,  we were using the `Node conditions ` in scheduler where as now, we're are skipping those conditions and let taints be used for scheduling. You're right they would be eventually handled for example a pod might be scheduled to node before `NotReady` taint has been applied by node controller and eventually nodecontroller might evict that pod because it's not having toler

[2019-04-24 23:26] misterikkit opened #998 "Instance Host Labelling"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Instance Host Labelling
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/997
- Primary contact (assignee): @misterikkit
- Responsible SIGs: @kubernetes/sig-cloud-provider,  @kubernetes/sig-scheduling-feature-requests
- Enhancement target (which target equals to which mile

[2019-04-24 23:27] misterikkit commented on #998
/sig cloud-provider

[2019-04-25 02:50] PatrickLang opened #1001 "Support CRI-ContainerD on Windows"
# Enhancement Description
- One-line enhancement description: Support CRI-ContainerD on Windows
- KEP: [20190424-windows-cri-containerd](https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190424-windows-cri-containerd.md)
- Primary contact (assignee): @marosset
- Responsible SIGs: sig-windows, sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha

[2019-04-25 07:35] k82cn commented on #382
Yes, I used to have such a proposal; and I think that's a long term solution which we may have some other "items" in `node.Status`. But for `TaintNodeByCondition`, Bobby & Liggit's solution at https://github.com/kubernetes/kubernetes/issues/72129#issuecomment-455657542 is good enough. My suggestion is to graduate this feature to GA for its target user case, and start the disscussion for `node.Stat

[2019-04-25 12:11] mrbobbytables commented on #998
/milestone v1.15
/stage alpha

[2019-04-25 12:12] GeorgeGuo2018 commented on #563
From inside a container(which is only ipv6) sendding out a curl request  (i.e. `curl -v 93.184.216.34 -H "Host: example.com"`) to the outside of the cluster. I think it will give out an error of unknow destination or destination not avaibleable, unless there exist  an ipv4 route on the host where the container exist.

[2019-04-25 12:16] GeorgeGuo2018 commented on #563
From inside a container(which is only ipv6) sendding out a curl request (i.e. curl -v 93.184.216.34 -H "Host: example.com") to the outside of the cluster. I think it will give out an error of unknow destination or destination unreachable, unless there exist an ipv4 route on the host where the container exist.

[2019-04-25 12:21] schmitch commented on #563
@GeorgeGuo2018 if k8s would implement DNS64/NAT64 it would work. it heavily depends on how far k8s will go into 464xlat/plat solutions and what would need to be handled at edge routers, etc...

[2019-04-25 13:15] chrisnew commented on #563
Sounds like a solution to me.

We run an IPv6-only network internally and NAT64/DNS64 works quite well for us. For some legacy stuff where there was no IPv6 support at all, we ended up using clatd directly where it was needed. (In our case directly on a VM.)

[2019-04-25 14:41] kacole2 commented on #1001
/milestone v1.15
/stage alpha

[2019-04-25 18:34] dashpole commented on #727
@kacole2 I don't have any plans to graduate this in 1.15

[2019-04-25 18:35] dashpole commented on #647
I don't have any plans to graduate this in 1.15

[2019-04-26 11:55] zbialik commented on #423
Is there any way to add functionality for setting the Targets to "ip" rather than "instance-id" ?

There is no loop-back functionality of a network load balancer configured to target instance-id's and this is a requirement for some setups where a client needs to contact a server on the same host, by hitting the Load Balancer. Specifically, I deployed [Rancher ](https://rancher.com/) in a Highly-Av

[2019-04-26 12:18] wojtek-t commented on #956
Ref https://github.com/kubernetes/kubernetes/issues/73585

[2019-04-26 21:45] bowei commented on #758
We are drafting a following changes to the KEP to kick off the discussion of a plan for GA.

[2019-04-26 21:46] bowei commented on #758
Will ping here when it is ready for folks to review.

[2019-04-26 22:27] gnufied commented on #554
By AKS you mean Azure container offering? Azure Disks support dynamic limits via this KEP. Which issue you are specifically referring to? May be open a github issue?

[2019-04-26 22:39] ammills01 commented on #554
Sorry for the ambiguity @gnufied.  There are several issues already open, not by me, but this is probably the most relevant:  https://github.com/Azure/AKS/issues/670

Yes, I'm referring to the Azure Kubernetes Service offering.  We have a cluster built of small VM's (4 disks max) for dev purposes.  If I have a node with 3 disks attached and submit a new request to have k8s stand up a pod that requ

[2019-04-26 23:23] M00nF1sh commented on #423
@kacole2
Hi, Thanks for notify me.
NLB feature is supposed to graduating to beta stage in 1.15.
Currently there are two open PRs:
1. https://github.com/kubernetes/kubernetes/pull/74910
1. https://github.com/kubernetes/kubernetes/pull/74692

[2019-04-27 08:06] stealthybox commented on #786
@kacole2, I've scheduled the KEP thing for discussion with component-standard-wg on Tuesday.

I believe we want to work toward this for 1.15 -- some of the dependencies are progressing slowly.
@stewart-yu already has some WIP: https://github.com/kubernetes/kubernetes/pull/70359

[2019-04-28 02:58] justaugustus commented on #1001
/assign @PatrickLang

[2019-04-28 02:58] justaugustus commented on #998
/assign @misterikkit

[2019-04-28 02:59] justaugustus commented on #993
/assign @Liujingfang1 @monopole

[2019-04-28 02:59] justaugustus commented on #986
/assign @ravisantoshgudimetla

[2019-04-28 02:59] justaugustus commented on #981
/assign @mortent

[2019-04-28 03:01] justaugustus commented on #964
/assign @sudeshsh

[2019-04-28 03:01] justaugustus commented on #940
/assign @derekwaynecarr

[2019-04-28 03:02] justaugustus commented on #902
/assign @denkensk

[2019-04-28 03:02] justaugustus commented on #895
/assign @Huang-Wei

[2019-04-28 03:02] justaugustus commented on #871
/assign @majgis

[2019-04-28 03:03] justaugustus commented on #859
/assign @pwittrock

[2019-04-28 03:03] justaugustus commented on #853
/assign @gliush

[2019-04-28 03:04] justaugustus commented on #837
/assign @andrewsykim

[2019-04-28 03:04] justaugustus commented on #773
/assign @jingxu97

[2019-04-28 03:04] justaugustus commented on #740
/assign @micahhausler

[2019-04-28 03:05] justaugustus commented on #727
/assign @dashpole

[2019-04-28 03:05] justaugustus commented on #724
/assign @andrewsykim

[2019-04-28 03:10] justaugustus commented on #714
/assign @ixdy

[2019-04-28 03:11] justaugustus commented on #706
/assign @pierreozoux

[2019-04-28 03:12] justaugustus commented on #695
/assign @mattsmithdatera @gnufied

[2019-04-28 03:14] justaugustus commented on #693
/assign @lmdaly

[2019-04-28 03:14] justaugustus commented on #692
/assign @roycaihw

[2019-04-28 03:15] justaugustus commented on #673
/assign @andrewsykim @rgolangh

[2019-04-28 03:15] justaugustus commented on #672
/assign @andrewsykim

[2019-04-28 03:16] justaugustus commented on #672
/assign @rhtyd

[2019-04-28 03:16] justaugustus commented on #671
/assign @rtheis @spzala

[2019-04-28 03:17] justaugustus commented on #670
/assign @frapposelli @cantbewong

[2019-04-28 03:17] justaugustus commented on #668
/assign @cheftako @jagosan

[2019-04-28 03:22] justaugustus commented on #661
/assign @SidakM

[2019-04-28 03:22] justaugustus commented on #647
/assign @dashpole

[2019-04-28 03:23] justaugustus commented on #625
/assign @davidz627

[2019-04-28 03:25] justaugustus commented on #624
/assign @bsalamat

[2019-04-28 03:26] justaugustus commented on #383
/assign @gmarek

[2019-04-28 06:21] rgolangh commented on #673
@andrewsykim I'll own this but I can't be assigned.

[2019-04-28 09:40] yastij commented on #383
/assign @wojtek-t @yastij

As we’re working on this

[2019-04-29 08:55] lmdaly commented on #693
https://github.com/kubernetes/kubernetes/issues/72828

Code PRs

[2019-04-29 13:16] kacole2 commented on #786
@stealthybox end of day tomorrow is Enhancement Freeze for 1.15. A KEP must be merged and in an implementable state to be considered a part of the 1.15 release. I don't see a high probability of that happening.

cc @mrbobbytables @craiglpeters @claurence

[2019-04-29 13:18] kacole2 commented on #423
/milestone v1.15
/stage beta

[2019-04-29 13:20] kacole2 commented on #423
@M00nF1sh can you please drop a link to the KEP?

[2019-04-29 14:12] gnufied commented on #554
@ammills01 which version of k8s? Dynamic volume limits for Azure Disks was fixed awhile back(1.12) - https://github.com/kubernetes/kubernetes/pull/67772 and should correctly take into account number of volumes that can be attached to a node.

For small VMs, I wonder this is a problem for root disk consuming one disk and hence k8s incorrectly assuming that node still has 2 disks. Can you open a git

[2019-04-29 15:08] andrewsykim commented on #673
Thanks @rgolangh! You may also want to follow https://github.com/kubernetes/kubernetes/pull/72178

[2019-04-29 15:26] SidakM commented on #661
@gnufied Can we get this in for 1.15?

[2019-04-29 15:51] andyzhangx commented on #554
k8s v1.12 should already have Dynamic volume limits for Azure Disks(that only account for data disk), while @ammills01 's question is if there is 3 data disks already, and one pod need 2 data disks, will it mount one data disk first, and then when mount the second disk, k8s volume scheduler found it's already hit max disk num? Or volume scheduler will first check whether the node could mount 2 dis

[2019-04-29 16:33] ammills01 commented on #554
That is exactly my question @andyzhangx.  I'm working on a new Git issue now that explains what I'm using when it comes to VM's for my AKS cluster, AKS version, the files I'm using for k8s deployment, what I see when I query the nodes (kubectl get nodes -o json), the error I see, etc...

According to the Azure portal, this is using AKS 1.13.5, so it should have whatever fix was in for 1.12.  Do yo

[2019-04-29 16:34] gnufied commented on #554
@andyzhangx no the scheduler will look for "viability" of both volumes in a pod at once, not one at a time.

[2019-04-29 17:15] ddebroy commented on #689
@kacole2 one update wrt GMSA for Windows: due to the API changes we are bringing in 1.15 for GMSA, we will need to keep the feature in feature-gated/alpha state for one more release. So the plan now is to drive towards beta in 1.16. For 1.15 this will stay alpha/feature-gated by default.

[2019-04-29 17:24] kacole2 commented on #689
/milestone clear
/stage alpha

[2019-04-29 17:53] kacole2 commented on #1001
@PatrickLang , Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking ch

[2019-04-29 17:59] mrbobbytables commented on #752
@freehan, @wojtek-t Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracki

[2019-04-29 17:59] kacole2 commented on #382
@bsalamat @k82cn , Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate trackin

[2019-04-29 18:00] mrbobbytables commented on #753
@Joseph-Irving Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking changes.

[2019-04-29 18:04] mrbobbytables commented on #837
@andrewsykim  Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking cha

[2019-04-29 18:06] mrbobbytables commented on #853
@gliush Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking changes.

[2019-04-29 18:08] kacole2 commented on #531
@gnufied @wongma7 @mlmhl, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. I do not see any KEPs listed here. Community Proposals are deprecated and a KEP needs to be created. If this will slip from the 1.15 milestone, please let us know so

[2019-04-29 18:11] kacole2 commented on #531
@gnufied @wongma7 @mlmhl I apologize, I see this [20190125-online-growing-persistent-volume-size](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190125-online-growing-persistent-volume-size.md). I will add this to the original post so it's not buried.

[2019-04-29 18:17] kacole2 commented on #536
@m1093782566 we're doing a KEP review for enhancements to be included in the Kubernetes v1.15 milestone. After reviewing your KEP, it's currently missing test plans and graduation criteria which is required information per the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md). Please update the KEP to include the required information before the Ku

[2019-04-29 18:20] mrbobbytables commented on #859
@pwittrock Are you still looking to move forward with this KEP as a part of the 1.15 milestone? The 1.15 Enhancement Freeze is 4/30/2019 (tomorrow). If so,  please update the original post with the supporting information so that we can make the appropriate tracking changes.

[2019-04-29 18:26] kacole2 commented on #586
@feiskyer, we're doing a KEP review for enhancements to be included in the Kubernetes v1.15 milestone. After reviewing your KEP, it's currently missing test plans and graduation criteria which is required information per the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md). Please update the KEP to include the required information before the Kube

[2019-04-29 18:27] mrbobbytables commented on #895
@bsalamat, @Huang-Wei Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking change

[2019-04-29 18:29] kacole2 commented on #598
@liggitt @roycaihw @sttts, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate

[2019-04-29 18:33] kacole2 commented on #600
@pbarker we're doing a KEP review for enhancements to be included in the Kubernetes v1.15 milestone. After reviewing your KEP, it's currently missing test plans which is required information per the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md). This was also noted by @claurence above during the 1.14 release cycle. Please update the KEP to inc

[2019-04-29 18:34] mrbobbytables commented on #940
@fanux @derekwaynecarr , Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate t

[2019-04-29 18:36] pbarker commented on #600
@kacole2 this KEP was made before those new reqs and the integration and e2e tests are already merged to master, is it necessary to retroactively add them here? I understood the KEP to be a design document, not an ongoing sort of thing (unless thats changed)?

[2019-04-29 18:38] kacole2 commented on #604
@feiskyer, we're doing a KEP review for enhancements to be included in the Kubernetes v1.15 milestone. After reviewing your KEP, it's currently missing test plans and graduation criteria which is required information per the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md). Please update the KEP to include the required information before the Kube

[2019-04-29 18:38] mrbobbytables commented on #950
@matthyx Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking changes.

[2019-04-29 18:42] kacole2 commented on #667
@@lachie83 @justaugustus @khenidak, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate t

[2019-04-29 18:45] Joseph-Irving commented on #753
@mrbobbytables unfortunately the PRs opened to get this to an implementable have not had much movement on them so I think we will need to delay this until 1.16.

[2019-04-29 18:46] mrbobbytables commented on #956
@wojtek-t  we're doing a KEP review for enhancements to be included in the Kubernetes v1.15 milestone. After reviewing your KEP, it's currently missing a test plan which is required information per the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md). Please update the KEP to include the required information before the Kubernetes 1.15 Enhancement

[2019-04-29 18:47] matthyx commented on #950
Hi Bob!
Please have a look at #1014
I have already talked to @derekwaynecarr to have a look, he suggested adding a feature gate to the document, which I did.
I am also waiting for some feedback from @thockin after answering his concerns.

[2019-04-29 18:47] kacole2 commented on #600
I'll defer to @claurence on what she wants to see since she is the lead for this release. Thank you for the quick response.

[2019-04-29 18:47] mrbobbytables commented on #960
@johnbelamaric Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking ch

[2019-04-29 18:53] mrbobbytables commented on #950
@matthyx Great! Thanks for the info :) Will keep an eye on #1014

[2019-04-29 18:53] johnbelamaric commented on #960
Yes, this will likely slip, we still have a lot of details to work out.

[2019-04-29 18:53] johnbelamaric commented on #960
/milestone v1.16

[2019-04-29 19:04] mrbobbytables commented on #753
No worries. Thanks for being so quick to respond and letting us know!
/remove-milestone v1.15

[2019-04-29 19:44] ammills01 opened #1016 "AKS can assign pods to nodes with insufficient disks to attach"
**Environment**:  Azure Kubernetes Service v1.13.5
**Nodes**: 6 x Standard E2s v3 (2 vcpus, 16 GB memory, 4 disk max)
**Issue**: I'm trying to spin up Zookeeper from [cp-helm-charts](https://github.com/confluentinc/cp-helm-charts), specifically [cp-zookeeper](https://github.com/confluentinc/cp-helm-charts/tree/master/charts/cp-zookeeper).  I have not altered the default settings since this is a PO

[2019-04-29 19:45] ammills01 commented on #1016
I did not mean to put this under the 'enhancements' section.  Can this be moved or should I close and re-post?

[2019-04-29 19:46] gnufied commented on #1016
Please close this and open under main `kubernetes/kubernetes` repo. There are few people in k8s organization who can move issues between repos and I am not one of them.

[2019-04-29 19:47] ammills01 commented on #1016
Sorry for the confusion, moving it now.

[2019-04-29 19:47] #1016 closed

[2019-04-29 19:50] gnufied commented on #597
We are not touching this feature in 1.15.

[2019-04-29 20:23] craiglpeters commented on #961
@krmayankk, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking changes.

[2019-04-29 20:28] smarterclayton commented on #515
Yes, the API for this feature is targeted for stable API in 1.15.

KEP in implementable: https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190322-server-side-get-to-ga.md

[2019-04-29 20:28] smarterclayton commented on #515
/milestone 1.15

[2019-04-29 20:29] craiglpeters commented on #970
@fabriziopandini and @luxas, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking

[2019-04-29 20:39] kacole2 commented on #515
/milestone v1.15

[2019-04-29 20:41] liggitt commented on #95
this will remain in beta stage. work on validation, conversion, and OpenAPI publishing is happening in 1.15

[2019-04-29 20:47] liggitt commented on #95
updated description with links to relevant KEPs for 1.15

[2019-04-29 20:49] craiglpeters commented on #980
@MrHohn, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking changes.

[2019-04-29 20:54] neolit123 commented on #970
@craiglpeters thanks for the heads up. done:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/0023-kubeadm-config.md

[2019-04-29 20:58] craiglpeters commented on #986
@ravisantoshgudimetla, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tra

[2019-04-29 20:59] craiglpeters commented on #989
@j-griffith, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking changes.

[2019-04-29 21:02] MrHohn commented on #980
@craiglpeters Thanks for the info. https://github.com/kubernetes/enhancements/pull/992 should address the requirements.

[2019-04-29 21:02] ravisantoshgudimetla commented on #986
Thanks @craiglpeters - To be clear, what' an "implementable" state? some WIP PR?

[2019-04-29 21:03] craiglpeters commented on #991
@andrewsykim, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate tracking cha

[2019-04-29 21:08] craiglpeters commented on #993
@Liujingfang1 and @monopole we're doing a KEP review for enhancements to be included in the Kubernetes v1.15 milestone. After reviewing your KEP, it's currently missing test plan and graduation criteria which are required information per the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md). Please update the KEP to include the required informatio

[2019-04-29 21:30] krmayankk commented on #961
@craiglpeters  here is the PR https://github.com/kubernetes/enhancements/pull/1010  I will try to see if i can get some decision on this , in the next 1-2 days. If yes, i can try an exception for this enhancement to be implementable in 1.15. If no decision is nearing, will ask you to remove it from tracking.

[2019-04-29 22:49] Huang-Wei commented on #895
@mrbobbytables  thanks for the reminder.

@bsalamat I've raised #996 to address above concerns.

[2019-04-29 23:45] msau42 commented on #554
Even though this feature is remaining as beta, it's going to go under significant redesign.  The KEP is here: https://github.com/kubernetes/enhancements/pull/942

[2019-04-30 00:02] roycaihw commented on #598
@kacole2 the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190425-crd-conversion-webhook.md#graduation-criteria) that tracks Graduation Criteria about promoting this feature to Beta in 1.15 is merged

[2019-04-30 00:10] saad-ali commented on #554
/milestone v1.15

[2019-04-30 00:14] bsalamat commented on #624
@kacole2 Yes, this feature is going to be alpha in 1.15.
One PR which was merged a while back is referenced above is: https://github.com/kubernetes/kubernetes/pull/70227
Another PR which will be merged soon: https://github.com/kubernetes/kubernetes/pull/75848
I would expect to see a number of more PRs in the new future. I will make sure that they reference this issue.

[2019-04-30 00:20] craiglpeters commented on #962
@jingxu97 and @xing-yang, Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be merged and in an "Implementable" state with proper test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please let us know so we can make appropriate

[2019-04-30 03:29] xing-yang commented on #962
@craiglpeters We are trying to get the KEP merged by 4/30.

[2019-04-30 07:14] thomschke commented on #753
Please keep in mind, this KEP is very important for Istio !

It's a show stopper for all projects using service frameworks with coordinated bootstrap/shutdown (akka cluster, lagom etc.) together with istio service mesh [see](https://github.com/akka/akka-management/issues/209#issuecomment-476151877).

cc @jroper

[2019-04-30 08:43] soltysh opened #1020 "Moving kubectl package code to staging"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Moving kubectl package code to staging
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kubectl-staging.md
- Primary contact (assignee): seans3, soltysh, pwittrock
- Responsible SIGs: sig-

[2019-04-30 08:45] soltysh commented on #1020
/stage stable
/kind feature

[2019-04-30 10:50] wojtek-t commented on #956
https://github.com/kubernetes/enhancements/pull/1021 is out for review

[2019-04-30 13:55] kacole2 commented on #624
/milestone v1.15
/stage alpha

[2019-04-30 14:01] kacole2 commented on #624
@bsalamat, After reviewing your KEP, it's currently in a draft state. It must be "implementable" to be included in 1.15. In addition, it's missing test plans and graduation criteria which is required information per the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md). Please update the KEP to include the required information before the Kubernete

[2019-04-30 15:41] stealthybox commented on #786
@kacole2 -- discussed on WG call, this will wait till 1.16
Thanks for checking up :+1:

[2019-04-30 16:46] Liujingfang1 commented on #993
@mrbobbytables I updated it to Alpha release in 1.15.

[2019-04-30 17:02] wojtek-t commented on #956
@mrbobbytables - merged.

[2019-04-30 17:06] j-griffith commented on #989
@craiglpeters Thanks for the reminder, I've submitted a PR updating the status to implementable here:
https://github.com/kubernetes/enhancements/pull/1019

[2019-04-30 17:12] matthyx commented on #950
@mrbobbytables I haven't heard of them during the night... not sure we'll meet the deadline :-(

[2019-04-30 17:22] zhan849 commented on #753
@Joseph-Irving sry about the late comment, but I don't see the following in the design doc, and I was wondering what is the intended behavior of these:

if we see sidecar failure, do we always restart them if main container is not finished (disregarding restartPolicy in pod)? This would be useful as sidecar used to work as proxy, load balancing, house keeping role, and it doesn't matter if it fail

[2019-04-30 17:27] freehan commented on #752
The proposal is already out. It has been shared with the community and still in discussion. KEP is notmerged yet.

https://docs.google.com/document/d/1sLJfolOeEVzK5oOviRmtHOHmke8qtteljQPaDUEukxY/edit#heading=h.3v0n1vmx9wtr

[2019-04-30 17:35] derekwaynecarr commented on #757
we are graduating the node to pod pid isolation to beta for 1.15 per the kep.

/milestone 1.15

[2019-04-30 17:35] dchen1107 commented on #606
At today's SIG Node, we agreed to promote this feature to beta for 1.15

[2019-04-30 17:35] derekwaynecarr commented on #757
/milestone v1.15

[2019-04-30 17:36] derekwaynecarr commented on #606
/milestone v1.15

[2019-04-30 17:43] kacole2 commented on #606
@dchen1107 @derekwaynecarr @dashpole To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. This KEP is currently in "Provisional" and missing test plans and graduation criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from the 1.15 milestone, please l

[2019-04-30 17:52] derekwaynecarr commented on #757
link to merged kep
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190129-pid-limiting.md#version-115

[2019-04-30 18:06] pbarker commented on #600
https://github.com/kubernetes/enhancements/pull/1022

[2019-04-30 18:16] prameshj opened #1024 "Graduate NodeLocal DNSCache to GA"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Graduate NodeLocal DNSCache to beta
- Kubernetes Enhancement Proposal: [20190424-NodeLocalDNS-beta-proposal.md](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190424-NodeLocalDNS-beta-proposal.md)
  - PR to update the KEP: https://github.com/kubernetes/enhancements/pull/1351

-

[2019-04-30 18:16] prameshj commented on #1024
/sig network

[2019-04-30 18:17] prameshj commented on #1024
/assign prameshj

[2019-04-30 18:18] prameshj commented on #1024
/milestone v1.15
/stage beta

[2019-04-30 18:37] mrbobbytables commented on #993
Thanks!
/remove-stage stable
/stage alpha

[2019-04-30 18:43] Joseph-Irving commented on #753
@zhan849 currently sidecar containers obey pod restart policy and are counted when computing pod phase such as `Succeeded`.

We did debate this quite a bit earlier in the process but the general feeling was that we should diverge from a normal container as little as possible, only doing so if it enables the described use cases.

In regards to pod phase: I would argue that all applications running

[2019-04-30 18:48] bsalamat commented on #624
@kacole2 Thanks for the reminder. I just sent #1026 to add test plans, graduation criteria, and change status to 'implementable'.

[2019-04-30 19:08] mrbobbytables commented on #956
Awesome. Thanks!

[2019-04-30 19:19] lachie83 commented on #563
@kacole2 - I would like this tracked for 1.15. I'm working to get the following PR merged - https://github.com/kubernetes/enhancements/pull/808

Specifically for 1.15 we would be adding support for the following:
* Multiple pod networks
* Multiple IPs per pod

[2019-04-30 20:02] Liujingfang1 commented on #993
opened a PR for adding test plan and graduation criteria #1023

[2019-04-30 20:08] zhan849 commented on #753
@Joseph-Irving we have some simpler side car impls that has been running internally for some immediate needs (we did not contribute as this is already in progress in the community), and here are what we learned.

Regarding pod phase:

1. Container exist status is already reflected in `pod.status.containerStatuses` so we don't lose the information. Also, since a big use case of sidecar is in Job (o

[2019-04-30 20:12] MikeSpreitzer commented on #365
There is a problem with https://github.com/kubernetes/kubernetes/pull/67861 , it was incomplete.  It did not affect the sample-apiserver, and thus not anything derived from that.  I suspect a complete fix would go in k8s.io/apiserver somewhere.

[2019-04-30 20:39] MikeSpreitzer commented on #365
I have been looking, and did not find a deep place where one common mod would cover all servers.  In the main apiserver, for example, the pagination goes into the storage factory that appears in the `pkg.master.ExtraConfig`; other servers have their own independent `ExtraConfig` structs, and the one for sample-apiserver is empty.  Inquiring minds want to know, why doesn't that have a `StorageFacto

[2019-04-30 20:40] liggitt commented on #365
thanks, will open a fix

[2019-04-30 20:45] MikeSpreitzer commented on #365
FYI, I drafted a shallow fix in https://github.com/MikeSpreitzer/kubernetes/tree/sample-apiserver-paging

[2019-04-30 20:45] liggitt commented on #365
the main API server's storage is *significantly* more complex, and not in good ways... the storage factory allowed the kube apiserver to configure things like:
* colocating resources from different API groups in the same place in etcd with a common storage version (like extensions/v1beta1 and apps/v1 deployments)
* send different resources to different etcds

most aggregated servers serve a smalle

[2019-04-30 20:49] liggitt commented on #365
opened https://github.com/kubernetes/kubernetes/pull/77278 to fix the defaults, and to honor the feature gate in the sample-apiserver

[2019-04-30 21:12] apelisse opened #1027 "API Unions"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow unions/oneof semantics in API types
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190325-unions.md
- Primary contact (assignee): @apelisse
- Responsible SIGs: sig-api

[2019-04-30 21:14] apelisse commented on #1027
/sig api-machinery

[2019-04-30 21:39] bsalamat commented on #382
@k82cn Do you think you will have the time to have a KEP for the graduation and work on this feature for 1.15?

[2019-04-30 22:16] RobertKrawitz opened #1029 "Quotas for Ephemeral Storage"
# Enhancement Description
- Use filesystem quotas to monitor local ephemeral storage utilization
- Kubernetes Enhancement Proposal: [1029-ephemeral-storage-quotas](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1029-ephemeral-storage-quotas)
- Primary contact (assignee): @RobertKrawitz @pacoxu
- Responsible SIGs: SIG-Node
- Reviewer(s) - @dashpole @derekwaynecarr
- Approver:

[2019-04-30 22:16] RobertKrawitz commented on #1029
/sig node

[2019-04-30 22:33] derekwaynecarr commented on #1029
per sig-node discussion, this is good.

the kep will merge here: https://github.com/kubernetes/enhancements/pull/646

/milestone v1.15

[2019-04-30 23:03] dashpole commented on #606
I opened https://github.com/kubernetes/enhancements/pull/1030 to move it to implementable, and add test plans and graduation criteria.

[2019-04-30 23:36] jiatongw commented on #724
I'll pick up this soon @andrewsykim

[2019-05-01 02:21] kacole2 commented on #1029
@RobertKrawitz This is OK to track for 1.15. However, please update the KEP with established graduation criteria for Beta and Alpha when possible.

/stage alpha

[2019-05-01 02:43] kacole2 commented on #964
@sudeshsh this is late but Kubernetes 1.15 Enhancement Freeze is 4/30/2019. To be included in the Kubernetes 1.15 milestone, KEPs are required to be in an "Implementable" state with proper test plans and graduation criteria. Currently, this is  "Provisional" and missing those two pieces of criteria. Please submit any PRs needed to make this KEP adhere to inclusion criteria. If this will slip from

[2019-05-01 02:53] derekwaynecarr commented on #940
this KEP to my knowledge was not discussed in sig-node and is not tracked in sig plan.

/milestone clear

@dchen1107 @yujuhong - did I miss a discussion?

[2019-05-01 02:53] kacole2 commented on #986
@ravisantoshgudimetla The current KEP listed above is not following the correct procedure. For any new enhancement or feature to Kubernetes a KEP must be filed, accepted, and merged by a particular SIG that will review it. I don't see the process has been followed here. Please review this at the root of this rep. https://github.com/kubernetes/enhancements

For now, this feature is going to be untr

[2019-05-01 02:54] derekwaynecarr commented on #940
To be clear, my prior comment is not saying anything negative about the proposed enhancement, just that I am not aware of an agreement across the sig

[2019-05-01 03:00] derekwaynecarr commented on #940
ok, I am reminded of my past request for a kep when looking at the implementation pr.  I need some more time to investigate this work and it’s ramification.  We can discuss on kep.

[2019-05-01 03:06] ravisantoshgudimetla commented on #986
Ohh @kacole2, here is the KEP created for it, I did not update this issue with KEP:

https://github.com/kubernetes/enhancements/pull/987

[2019-05-01 03:14] kacole2 commented on #986
Ill get this re-added in the morning. Only thing missing from the KEP is
testing plans. Thank you.

On Tue, Apr 30, 2019 at 11:06 PM RaviSantosh Gudimetla <
notifications@github.com> wrote:

--
Kendrick Coleman

kendrickcoleman.com
@KendrickColeman
github.com/kacole2

[2019-05-01 09:09] matthyx commented on #950
@mrbobbytables I have the support of @thockin for this KEP, can we maintain it in 1.15?
We're just discussing the implementation now, but the fundamentals are more or less agreed upon.

[2019-05-01 10:25] sttts commented on #575
KEP for the defaulting part is a separate KEP https://github.com/kubernetes/enhancements/pull/1006

[2019-05-01 10:30] nikhita commented on #575
/milestone v1.15

[2019-05-01 11:51] mrbobbytables commented on #752
@freehan @wojtek-t  The Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 11:52] mrbobbytables commented on #837
@andrewsykim Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 11:54] mrbobbytables commented on #853
@gliush Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 11:56] mrbobbytables commented on #940
@fanux Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 12:06] mrbobbytables commented on #950
@matthyx Enhancement Freeze for Kubernetes 1.15 has passed and this unfortunately did not meet the deadline. It's being removed from the 1.15 milestone and the tracking sheet, but it looks like you're already [on track to get an Enhancement Exception in](https://github.com/kubernetes/enhancements/pull/1014#issuecomment-488246665). 👍 Thanks for being on point about it :)

[2019-05-01 13:52] kacole2 commented on #986
/milestone v1.15

[2019-05-01 13:54] kacole2 commented on #575
@nikhita @sttts can you please expand why this needs to be included? From what I can tell there is a KEP still waiting to be merged and this is past the Freeze. Can this get merged today?

[2019-05-01 13:59] liggitt commented on #575
detailed in https://groups.google.com/d/msg/kubernetes-sig-release/uqVu7DRKv7w/iMtiaN2BDAAJ

yes, KEP merge is targeted for today

[2019-05-01 14:03] kacole2 commented on #575
Thanks will track for now and come back later to check on the merge. i appreciate the quick response @liggitt

[2019-05-01 14:06] kacole2 commented on #382
@bsalamat @k82cn , Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

/milestone clear

[2019-05-01 14:07] kacole2 commented on #423
@M00nF1sh @d-nishi, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. There is still no KEP and can't be included in 1.15. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank

[2019-05-01 14:09] kacole2 commented on #536
@m1093782566, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. Test Plans and Graduation Criteria still need to be added to the KEP. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.

[2019-05-01 14:15] kacole2 commented on #586
@feiskyer, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. Still missing Test Plans and Graduation Criteria from the KEP. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank

[2019-05-01 14:16] kacole2 commented on #604
@feiskyer, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. Still missing Test Plans and Graduation Criteria from the KEP. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank

[2019-05-01 14:17] kacole2 commented on #606
@dashpole Can you get this https://github.com/kubernetes/enhancements/pull/1030 PR merged today? If so, I'll keep it tracked and you won't need to file an exception.

[2019-05-01 14:19] kacole2 commented on #667
@lachie83 @justaugustus @khenidak, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. KEP is still in provisional state. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you

[2019-05-01 15:15] craiglpeters commented on #961
@krmayankk, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 15:20] craiglpeters commented on #964
@sudeshsh, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 15:24] craiglpeters commented on #991
@andrewsykim, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 15:27] craiglpeters commented on #995
@ksubrmnn, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 15:29] craiglpeters commented on #998
@misterikkit, Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. This is now being removed from the 1.15 milestone and the tracking sheet. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-01 15:33] craiglpeters commented on #961
/milestone clear

[2019-05-01 15:33] craiglpeters commented on #964
/milestone clear

[2019-05-01 15:33] craiglpeters commented on #991
/milestone clear

[2019-05-01 15:34] craiglpeters commented on #995
/milestone clear

[2019-05-01 15:34] craiglpeters commented on #998
/milestone clear

[2019-05-01 16:44] dashpole commented on #606
@kacole2 it is merged now.  Thanks for the leniency

[2019-05-01 17:54] sudeshsh commented on #964
@craiglpeters @kacole2  I have updated the KEP to add the necessary details. Would add this back to v1.15 milestone. I have spoken to @bsalamat about the issue.

[2019-05-01 18:02] bsalamat commented on #964
@kacole2 @craiglpeters I'd appreciate if you could add this feature back to the tracked items for 1.15.

[2019-05-01 18:05] cmluciano commented on #758
/assign

[2019-05-01 19:00] JacobHenner commented on #753
Would this change incorporate the behavior desired in https://github.com/kubernetes/community/pull/2342, such that there'd be a way to configure the entire pod (or just the non-sidecar container) to restart if a sidecar fails?

[2019-05-01 20:21] yujuhong commented on #940
I don't remember any discussion about the KEP in sig-node meetings.

[2019-05-01 23:29] craiglpeters commented on #961
@krmayankk please work to get the KEP to the implementable state quickly

/milestone v1.15

[2019-05-01 23:45] mrbobbytables commented on #950
/milestone v1.15

[2019-05-02 00:36] kacole2 commented on #964
/milestone v1.15

[2019-05-02 00:43] kacole2 commented on #960
/milestone clear

[2019-05-02 01:34] M00nF1sh commented on #423
@kacole2
Sorry for the inconvenience caused. I'm not aware of the release process and missed the KEP deadline.
I have followed the enhancement exception process by email these groups.

The kep is merged as [20190501-aws-nlb-beta.md](https://github.com/kubernetes/enhancements/blob/master/keps/sig-aws/20190501-aws-nlb-beta.md)

[2019-05-02 16:35] cmluciano commented on #563
cc @caseydavenport for milestone tracking ^

[2019-05-02 20:39] tallclair commented on #688
A piece that is missing from the KEP is a discussing of how overhead interacts with [pod QoS](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/).

In my opinion, the application of RuntimeClass overhead should maintain the pod's QoS class, which I think means the overhead and requests need to match for Guaranteed pods. If they need to match for guaranteed, does it make

[2019-05-02 21:28] tallclair commented on #688
An alternative implementation of the above suggestion would be to keep overhead as-is on the PodSpec, and apply the logic in the RuntimeClass controller when the overhead is set. This makes the actual overhead settings explicit, but makes the admission ordering more important (e.g. for interplay between overhead and LimitRanger, or other things that manipulate requests & limits).

[2019-05-02 22:09] thockin commented on #580
@freehan

[2019-05-02 22:12] #580 closed

[2019-05-02 22:12] freehan commented on #580
It went GA in 1.14

[2019-05-03 13:55] yue9944882 opened #1040 "Priority and Fairness for API Server Requests"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Priority and Fairness for API Server Requests
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1040-priority-and-fairness
- Primary contact (assignee): @yue9944882 @MikeSpreitzer
- Responsible SIGs: sig-api-machinery
- Enhancement target (whi

[2019-05-03 14:15] kacole2 commented on #1040
@yue9944882 the 1.15 enhancement freeze was on 4/30. The KEP is still in a provisional state and still requires graduation criteria. This will not make it in 1.15 without filing an exception and fixing what I had just mentioned.

[2019-05-03 14:24] kacole2 commented on #1027
/stage alpha
/milestone v1.15

[2019-05-03 15:50] apelisse commented on #1027
@kacole2 We're planning to release this in beta, since it's mostly a sub-feature of server-side apply (#555). Do you mind updating the label? Thanks@

[2019-05-03 15:55] kacole2 commented on #1027
/stage beta

[2019-05-03 15:56] apelisse commented on #1027
Awesome thanks, I'll update the kep now to add the missing sections!

[2019-05-03 16:40] clamoriniere opened #1041 "Add Kubelet "/Node" endpoint"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add a new Kubelet `/Node` endpoint that expose Node information in the `k8s.io/api/core/v1.Node` format
- Kubernetes Enhancement Proposal: #1038
- Primary contact (assignee): @clamoriniere
- Responsible SIGs: Sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target

[2019-05-03 16:40] clamoriniere commented on #1041
/sig node

[2019-05-03 21:05] PatrickLang opened #1043 "RunAsUserName for Windows"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add `RunAsUserName` field to set the user for a container's initial process on Windows
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190418-windows-security-context.md
This covers both APIs that needed to be reviewed together, and it's impleme

[2019-05-03 21:05] PatrickLang commented on #1043
/sig windows
/milestone v1.15

[2019-05-04 06:31] lachie83 commented on #563
@kacole2 the KEP is now merged. Let me know if there is anything else we need to get this tracked in 1.15

[2019-05-04 10:43] sttts commented on #1027
New sections lgtm.

[2019-05-04 13:22] dixudx commented on #786
Awesome. A big step forward. 👍

[2019-05-05 01:22] fanux commented on #940
@mrbobbytables We need more time to discuss this feature.

[2019-05-05 06:41] zhangxiaoyu-zidif opened #1045 "add "Pod Level Resource Quota""
# Enhancement Description
- One-line enhancement description (can be used as a release note):
The purpose of this enhancement is to redefine QoS class and Pod resource capacity's measurement methods.

- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
@resouer
@zhangxiaoyu-zidif

- Responsible SIGs:
sig-node

- Enhanceme

[2019-05-05 06:51] zhangxiaoyu-zidif commented on #1045
/sig node

[2019-05-06 13:34] kacole2 commented on #1045
@zhangxiaoyu-zidif this is past the 1.15 Enhancement Freeze. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-06 15:06] draveness commented on #961
Is this enhancement will be included in milestone v1.15? I'd like to take this if it becomes implementable.

[2019-05-06 15:16] kacole2 commented on #961
This is still being tracked but I don't see an exception request submitted nor the KEP in an implementable state. @craiglpeters what's the status of this?

[2019-05-06 19:52] craiglpeters commented on #961
@kacole2 an exception request was filed on [May 1st](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-release/cSmzJFTkbsI/vsDl1t4SBAAJ). However this still is not in the implementable state, so I recommend moving out of 1.15 tracking.

[2019-05-06 20:10] kacole2 commented on #961
/milestone clear

[2019-05-07 07:44] Joseph-Irving commented on #753
@JacobHenner there's currently no plans to implement that kind of mechanism in this KEP, we did discuss incorporating it, but it doesn't really have much dependency on this KEP and could be developed independently of this. So it seems better suited to having its own KEP.

[2019-05-07 13:42] kacole2 commented on #1040
/milestone v1.15
/sig api-machinery
/stage alpha

[2019-05-07 17:28] zhan849 commented on #753
@Joseph-Irving just to share our impl that addressed the above mentioned pitfalls for your reference (https://github.com/zhan849/kubernetes/commit/f0c750131217bbc16652fb543ad4a12cd4572006) since we our goal is to wait for official support, we try to keep change as local as possible in this commit.

[2019-05-08 00:08] thockin commented on #758
Hey all,

It seems that the group move was done in 1.14 -- if we are still missing docs, let's wrap this up.  It's a trivial change.  The KEP PR linked above was never assigned (sigh) but it was trivial.

[2019-05-08 00:25] cmluciano commented on #758
@thockin SGTM, will get that up for your review tomorrow

[2019-05-08 13:00] akutz opened #1053 "Kubeadm machine/structured output"
# Enhancement Description
- Kubeadm support for structured output, such as JSON, YAML, or a [Go template](https://golang.org/pkg/text/template/)
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/20190506-kubeadm-machine-output.md)
- Primary contact (assignee): @akutz
- Responsible SIGs: SIG-Cluster-Lifecyle
- Enhancem

[2019-05-08 14:31] kacole2 commented on #1053
@akutz Enhancement Freeze for Kubernetes 1.15 has passed and this did not meet the deadline. If there is a need for this to be in 1.15, please file an [Enhancement Exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thank you.

[2019-05-08 14:32] akutz commented on #1053
Hi @kacole2,

We are discussing this during today's kubeadm call, and I'll ask for people's thoughts on that there. Thank you!

[2019-05-09 16:58] timothysc commented on #1053
Per discussion we're gunna hold for 1.15 and try to settle on the KEP for implementation in 1.16.

[2019-05-10 00:36] alexeldeib commented on #706
The KEP for Portable Service Definitions piqued my interest a while back. I don't follow sig-apps too closely, is there active development in this area? KEP hasn't been updated in a few months. Is the direction e.g. https://github.com/kubernetes-sigs/application?

[2019-05-10 06:46] MAKOSCAFEE commented on #1001
Hey, @PatrickLang 👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-10 06:46] MAKOSCAFEE commented on #1020
Hey, @soltysh  👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-10 06:48] MAKOSCAFEE commented on #1024
Hey, @prameshj 👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-10 06:48] MAKOSCAFEE commented on #1027
Hey, @apelisse 👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-10 06:49] MAKOSCAFEE commented on #1029
Hey, @RobertKrawitz  @derekwaynecarr 👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-10 06:51] MAKOSCAFEE commented on #1040
Hey, @yue9944882  👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-10 06:51] MAKOSCAFEE commented on #1043
Hey, @PatrickLang   👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-05-10 06:52] MAKOSCAFEE commented on #277
Hey, @verb  👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-05-10 06:53] MAKOSCAFEE commented on #357
Hey, @timothysc @luxas  👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-05-10 06:55] MAKOSCAFEE commented on #383
Hey, @gmarek @yastij @wojtek-t   👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-05-10 06:56] MAKOSCAFEE commented on #423
Hey, @M00nF1sh @d-nishi    👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-05-10 06:57] MAKOSCAFEE commented on #492
Hey, @caesarxuchao @liggitt   👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-05-10 06:59] MAKOSCAFEE commented on #515
Hey, @soltysh @smarterclayton @juanvallejo   👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-05-10 10:50] neolit123 commented on #357
@MAKOSCAFEE
hi, the work in 1.15 will not require doc changes.

[2019-05-10 12:30] RobertKrawitz commented on #1029
Yes, this will require new documentation.

I will open the website PR today.

[2019-05-10 12:38] MAKOSCAFEE commented on #357
Thank you @neolit123 for the information.

[2019-05-10 13:32] kevtaylor commented on #559
Updated kep with the beta links https://github.com/kubernetes/enhancements/pull/1058

[2019-05-10 14:56] smarterclayton commented on #515
It does not outside of api documentation.  We probably want to review the
topic though.

On May 10, 2019, at 2:59 AM, Barnabas Makonda <notifications@github.com>
wrote:

Hey, @soltysh <https://github.com/soltysh> @smarterclayton
<https://github.com/smarterclayton> @juanvallejo
<https://github.com/juanvallejo> 👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

[2019-05-10 16:42] apelisse commented on #1027
We definitely want to add some docs, I'll open the PR soon!

[2019-05-10 17:57] MAKOSCAFEE commented on #515
@smarterclayton Noted. so this means it won't require any PR submitted to k/website

[2019-05-10 18:38] prameshj commented on #1024
Thanks, @MAKOSCAFEE , I will open a PR and update the docs. Most of the code changes for this will be in the kubernetes/dns repo. I will update the docs and the image version in k/k. I'll open a placeholder PR in a day.

[2019-05-10 20:10] cheftako commented on #492
/assign @jpbetz

[2019-05-11 20:08] mikedanese commented on #277
Is this properly labelled as sig/auth?

[2019-05-13 05:59] krmayankk commented on #611
/lifecycle rotten

[2019-05-13 06:00] krmayankk commented on #611
/remove-lifecycle rotten

[2019-05-13 11:53] matthyx commented on #950
New implementation in https://github.com/kubernetes/kubernetes/pull/77807

[2019-05-13 12:43] simplytunde commented on #531
Hey @mlmhl  Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 12:45] simplytunde commented on #554
Hey  @gnufied Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 12:47] simplytunde commented on #555
Hey @apelisse. I can see you had a placeholder PR for 1.14 but we need a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 12:50] simplytunde commented on #556
Hey @gnufied . We need a placeholder PR checked in against dev-1.15 branch. This is due by Thursday, May 30. Thanks!

[2019-05-13 12:51] simplytunde commented on #559
@kevtaylor Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 12:54] simplytunde commented on #563
Hey @leblancd @lachie83 Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 12:55] simplytunde commented on #575
Hey @sttts Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 12:58] simplytunde commented on #598
Hey @mbohlool Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 12:58] simplytunde commented on #600
Hey @pbarker  Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 13:00] simplytunde commented on #606
Hey @dashpole  Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 13:02] simplytunde commented on #624
Hey @bsalamat  Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 13:09] kevtaylor commented on #559
@simplytunde It is all detailed on this feature https://github.com/kubernetes/website/pull/13846 and it is on the update kep as well

[2019-05-13 13:47] kwiesmueller commented on #555
@simplytunde @apelisse I'll take care of it, as I still got some stuff to put in the docs for my "clear managedFields" task.

[2019-05-13 13:50] kevtaylor commented on #559
@msau42 Do I need to get someone to approve the website and kep changes?

[2019-05-13 14:41] simplytunde commented on #559
Thanks @kevtaylor

[2019-05-13 15:01] matthyx commented on #950
This is the PR for documentation: https://github.com/kubernetes/website/pull/14297

[2019-05-13 16:26] apelisse commented on #555
Thanks @kwiesmueller let me know if I can help!

[2019-05-13 16:58] christianh814 commented on #956
Hey @wojtek-t  I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 16:59] kwiesmueller commented on #555
Done: https://github.com/kubernetes/website/pull/14300
We can use this as a placeholder PR and use it for other things we might want to add for 1.15

[2019-05-13 16:59] christianh814 commented on #962
Hey @jingxu97 , @xing-yang  I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:01] xing-yang commented on #962
@christianh814 Sure, I'll submit a placeholder PR soon.  Thanks!

[2019-05-13 17:36] christianh814 commented on #964
Hey @sudeshsh   I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:39] christianh814 commented on #970
Hey @neolit123 and @rosti    I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:41] christianh814 commented on #980
Hey  @MrHohn  I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:42] christianh814 commented on #981
Hey @mortent   I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:42] christianh814 commented on #986
Hey @ravisantoshgudimetla   I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:43] christianh814 commented on #989
Hey @j-griffith   I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:44] christianh814 commented on #993
Hey @monopole @Liujingfang1   I'm the v1.15 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Friday, May 31st. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-05-13 17:47] MrHohn commented on #980
@christianh814 Thanks for the reminder. Yep I think it will be worth to add new docs (or new paragraphs) for this. I will follow the timeline.

[2019-05-13 18:15] j-griffith commented on #989
@christianh814  Thanks, I wasn't familiar with that, will get it submitted, thanks for pointing me to it.

[2019-05-13 20:04] neolit123 commented on #970
hi @christianh814
this work will require minor updates on already existing links to the godocs documentation of the kubeadm API. we are going to have the PRs up before the 31st.

thanks for the heads up.

[2019-05-14 21:11] prameshj commented on #1024
Pleaceholder PR : https://github.com/kubernetes/kubernetes/pull/77887

[2019-05-15 05:18] MAKOSCAFEE commented on #1024
Hi @prameshj above is not docs placeholder PR, right?

[2019-05-15 11:23] bg-chun commented on #693
@lmdaly
https://github.com/kubernetes/kubernetes/issues/72828
My team and i consider testing topology manager for numa sensitive application.
So, we have some questions.
Above PRs, are these full implimentaions for topology manager?
And Does it tested or stable now?

[2019-05-15 11:29] klueska commented on #693
@bg-chun We are doing the same at Nvidia. We have pulled these WIP PRs into our internal stack and have built a topology-aware allocation strategy for CPUs/GPUs around it. In doing so, we uncovered some issues and gave some specific feedback on these PRs.

Please see the discussion thread here for more details:
https://kubernetes.slack.com/archives/C0BP8PW9G/p1556371768035800

[2019-05-17 01:42] justaugustus commented on #620
/remove-lifecycle stale
/lifecycle frozen

[2019-05-17 01:45] justaugustus commented on #618
/remove-lifecycle stale
/lifecycle frozen

Assigning this to the 1.15 Enhancements team:
/assign @kacole2 @mrbobbytables @craiglpeters

[2019-05-17 01:45] justaugustus commented on #618
/unassign @justaugustus @claurence

[2019-05-17 01:46] justaugustus commented on #617
/remove-lifecycle stale
/lifecycle frozen

[2019-05-17 02:47] justaugustus commented on #618
(lulz, broke the rule that I put in :stuck_out_tongue_winking_eye:)

[2019-05-17 05:57] harche opened #1067 "Support for Encrypted Images in Kubernetes"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support for Encrypted Images in Kubernetes
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1066
- WIP PR - https://github.com/kubernetes/kubernetes/pull/78975
- Primary contact (assignee): @harche
- Responsible SIGs: sig-node sig-architecture
- Enhancement target (which

[2019-05-17 05:59] harche commented on #1067
/sig node
/sig architecture

[2019-05-17 06:12] GeorgeGuo2018 commented on #563
@lachie83 Hi,Lachie,did you mean the IPv4/IPv6 dual-stack support this KEP was finished?

[2019-05-17 06:15] GeorgeGuo2018 commented on #563
Actually, I want to figure out whether dual stack support will surely be add in k8s 1.15.

[2019-05-17 12:18] wojtek-t commented on #956
@christianh814 Doc PR has been opened: https://github.com/kubernetes/website/pull/14379

[2019-05-17 23:24] bsalamat commented on #624
@simplytunde I created PR for adding documentation to the website. It is not complete, but I will finish it in the next couple of weeks: https://github.com/kubernetes/website/pull/14388

[2019-05-18 06:08] daminisatya commented on #625
Hey, @davidz627 I'm the v1.15 docs release shadow.

I see that you are targeting the beta version of this enhancement for the 1.15 release. Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is accep

[2019-05-18 07:24] daminisatya commented on #688
Hey, @tallclair @egernst  I'm the v1.15 docs release shadow.

I see that you are targeting this enhancement for the 1.15 release. Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let

[2019-05-18 07:26] daminisatya commented on #692
Hey, @roycaihw  I'm the v1.15 docs release shadow.

I see that you are targeting the beta version of this enhancement for the 1.15 release. Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is accep

[2019-05-18 07:29] daminisatya commented on #693
Hey, @lmdaly  I'm the v1.15 docs release shadow.

I see that you are targeting the alpha version of this enhancement for the 1.15 release. Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is accept

[2019-05-18 07:30] daminisatya commented on #757
Hey, @derekwaynecarr @dashpole @dchen1107  I'm the v1.15 docs release shadow.

I see that you are targeting the beta version of this enhancement for the 1.15 release. Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but eve

[2019-05-18 07:32] daminisatya commented on #859
Hey, @pwittrock @mrbobbytables Is this enhancement still targeted for v1.15?

[2019-05-18 07:35] daminisatya commented on #894
Hey, @tallclair  I'm the v1.15 docs release shadow.

I see that you are targeting this enhancement for the 1.15 release. Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know

[2019-05-18 07:50] daminisatya commented on #895
Hey, @Huang-Wei @bsalamat  I'm the v1.15 docs release shadow.

I see that you are targeting the alpha version of this enhancement for the 1.15 release. Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder

[2019-05-18 07:51] daminisatya commented on #902
Hey, @denkensk @vllry Is alpha release of this enhancement targeted for v1.15?

[2019-05-18 07:52] daminisatya commented on #917
Hey, @liggitt  I'm the v1.15 docs release shadow.

Does this require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions! 😄

[2019-05-18 08:08] daminisatya commented on #95
Hey, @liggitt @deads2k @jpbetz @sttts  I'm the v1.15 docs release shadow.

Does this enhancement (or the work planned for v1.15) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if

[2019-05-18 15:26] liggitt commented on #917
The only documentation changes are developer facing and have already merged:

* https://github.com/kubernetes/client-go/blob/master/INSTALL.md#go-modules
* https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/vendor.md

[2019-05-19 04:13] ddebroy commented on #625
The current plan for the CSI Migration feature is to stay Alpha during 1.15 since the feature is depending on alpha level APIs bring introduced in 1.15.

[2019-05-20 08:30] vllry commented on #902
@daminisatya it is, but I believe API review is still pending.

[2019-05-20 16:28] wojtek-t commented on #956
@christianh814 - Doc PR has been merged.

[2019-05-20 16:41] RobertKrawitz commented on #757
For node PID limiting, see https://github.com/kubernetes/website/pull/14425

[2019-05-20 20:07] tallclair commented on #688
Yes, this should get docs (tagged alpha). Thanks for the reminder.

[2019-05-21 10:05] verb commented on #277
@MAKOSCAFEE My goal for 1.15 is to merge the API change. We won't need any separate docs for k/website until there's an end-user UI which I don't expect to land in 1.15.

[2019-05-21 18:59] tallclair commented on #894
Yes, I will open a doc update (addition to the runtime class page), assuming this makes the cut.

[2019-05-21 21:30] M00nF1sh commented on #423
@MAKOSCAFEE Hi, sorry for the late update. I have create an doc PR for this enhancement:
https://github.com/kubernetes/website/pull/14451

[2019-05-23 19:42] MrHohn commented on #980
Created https://github.com/kubernetes/website/pull/14496 as the placeholder PR for docs.

[2019-05-24 18:29] smarterclayton commented on #753
I in general agree that a sidecar KEP needs to take into account pod phase and restart policy before it can go to an implementable state.  I don't care whether it's this KEP or not, but I agree in general with @zhan849's arguments and it needs to be dealt with here.

[2019-05-24 18:51] zhan849 commented on #753
thanks @smarterclayton !
@Joseph-Irving let us know if there is anything else you'd like us to share with sidecar in practice.

[2019-05-24 19:15] Joseph-Irving commented on #753
@smarterclayton @zhan849, I don't particularly disagree with the points your making, just trying to give some counter points. It was a conscious choice not to change Pod Phases/Restart Policy as that would further increase the scope of this proposal and nobody felt very strongly about it.

I will take this feedback back to sig-apps/sig-node and see what they think. sig-node in particular were keen

[2019-05-24 21:03] mortent commented on #981
PR has merged: kubernetes/kubernetes#76294
Docs PR: https://github.com/kubernetes/website/pull/14519

[2019-05-25 20:26] telmich commented on #508
Is anyone working on native (non dual stack) IPv6 support in k8s?

[2019-05-26 17:04] felixfbecker commented on #555
I'm beyond exited for this to land (next month?).
Is there a way to try it out already (in Minikube)?

[2019-05-27 05:54] daminisatya commented on #625
Thank you @ddebroy So for now, there no requirement for documentation?

[2019-05-27 06:02] daminisatya commented on #625
Ok, I just went through the history and it is mentioned that there is no requirement for docs since it is an internal change.

[2019-05-27 06:03] daminisatya commented on #688
@tallclair Thank you, can you share a PR for the documentation if there is any?

[2019-05-27 06:05] daminisatya commented on #693
@lmdaly Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions! 😄

[2019-05-27 06:07] daminisatya commented on #894
Thank you @tallclair

Please do share the link to the draft docs PR over here or ref to this issue so that I can track it.

[2019-05-27 06:08] daminisatya commented on #902
Thank you @vllry

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions! 😄

[2019-05-27 06:09] daminisatya commented on #917
Thank you @liggitt

[2019-05-27 06:12] daminisatya commented on #692
@roycaihw

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions! 😄

[2019-05-27 06:12] daminisatya commented on #859
@pwittrock Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions! 😄

[2019-05-27 06:13] daminisatya commented on #895
@Huang-Wei @bsalamat

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions! 😄

[2019-05-27 06:13] daminisatya commented on #95
@deads2k @jpbetz @sttts @liggitt

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.15) due by Thursday, May 30th. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions! 😄

[2019-05-27 07:28] fudali113 opened #1073 "implement job allocation completions index enhancement"
# Enhancement Description
- One-line enhancement description (can be used as a release note): implement job allocation completions index enhancement
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1072
- Primary contact (assignee): @soltysh   @janetkuo
- Responsible SIGs: sig-job
- Enhancement target (which target equals to which milestone):
  - Alpha release tar

[2019-05-27 09:08] simplytunde commented on #531
@gnufied @mlmhl @wongma7  The placeholder PR is due Thursday May 30th.

[2019-05-27 09:09] simplytunde commented on #554
@gnufied  The placeholder PR is due Thursday May 30th.

[2019-05-27 09:11] simplytunde commented on #556
@gnufied  The placeholder PR is due Thursday May 30th.

[2019-05-27 09:13] simplytunde commented on #563
@leblancd The placeholder PR against k8s.io dev-1.15 is due Thursday May 30th.

[2019-05-27 09:13] simplytunde commented on #575
@sttts The placeholder PR against k8s.io dev-1.15 is due Thursday May 30th.

[2019-05-27 09:14] simplytunde commented on #598
@roycaihw @mbohlool The placeholder PR against k8s.io dev-1.15 is due Thursday May 30th.

[2019-05-27 09:15] simplytunde commented on #600
@pbarker The placeholder PR against k8s.io dev-1.15 is due Thursday May 30th.

[2019-05-27 09:17] simplytunde commented on #606
@dashpole  The placeholder PR against k8s.io dev-1.15 is due Thursday May 30th.

[2019-05-27 09:20] GeorgeGuo2018 commented on #563
Could I consider it as dual-stack support will be available in release-1.15?

[2019-05-27 09:21] GeorgeGuo2018 commented on #563
Could I consider that dual-stack support will be available in release-1.15?

[2019-05-27 09:24] simplytunde commented on #563
@GeorgeGuo2018  It is still on the enhancement sheet for 1.15 but only enhancement lead @kacole2 can provide you with better details on that.

[2019-05-27 14:19] egernst commented on #688
@daminisatya see https://github.com/kubernetes/website/pull/14552

[2019-05-27 19:38] xing-yang commented on #962
Hi @christianh814, a placeholder doc PR is submitted: https://github.com/kubernetes/website/pull/14560

[2019-05-27 20:57] ddebroy commented on #625
Correct.

[2019-05-28 01:14] vllry commented on #902
@denkensk do you have time to start docs, or would you like me to start?

[2019-05-28 01:38] kacole2 commented on #1001
Hi @PatrickLang . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in th

[2019-05-28 01:39] kacole2 commented on #1020
Hi @soltysh . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the mi

[2019-05-28 01:40] kacole2 commented on #1024
Hi @prameshj . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the m

[2019-05-28 01:40] kacole2 commented on #1027
Hi @apelisse . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the m

[2019-05-28 01:41] kacole2 commented on #1029
Hi @RobertKrawitz @derekwaynecarr . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs wil

[2019-05-28 01:41] kacole2 commented on #1040
Hi @yue9944882 @MikeSpreitzer . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be

[2019-05-28 01:45] kacole2 commented on #277
@verb are these the current PRs being tracked for this issue? Which ones are we monitoring for being merged by Thursday for Code Freeze?

kubernetes/kubernetes#10834
kubernetes/kubernetes#27140
kubernetes/kubernetes#59416
kubernetes/kubernetes#59484

[2019-05-28 01:47] kacole2 commented on #357
Hi @neolit123 @luxas @timothysc. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will b

[2019-05-28 01:48] kacole2 commented on #383
Hi @gmarek @yastij @wojtek-t. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be a

[2019-05-28 01:50] kacole2 commented on #423
Hi @M00nF1sh. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

I see these listed on the original post. 1 is merged, 1 is closed, and 3 are open. Let me know if this is correct and if we should be tracking more. Will the closed one be reopened?
[tests] Create an e2e integration test
[b

[2019-05-28 01:52] kacole2 commented on #492
Hi @jpbetz caesarxuchao. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

It looks like all these are merged and this is in good shape. Let me know if there are any k/k PRs in flight.
kubernetes/kubernetes#76346
kubernetes/kubernetes#74998
kubernetes/kubernetes#74855
kubernetes/kuberne

[2019-05-28 01:55] kacole2 commented on #515
Hi @smarterclayton . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in

[2019-05-28 01:57] kacole2 commented on #531
Hi @gnufied @mlmhl @wongma7 . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be a

[2019-05-28 01:58] kacole2 commented on #554
Hi @gnufied @msau42 @saad-ali . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be

[2019-05-28 01:59] kacole2 commented on #555
Hi @apelisse @kwiesmueller . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be al

[2019-05-28 02:02] kacole2 commented on #556
Hi @gnufied @msau42 . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed i

[2019-05-28 02:03] kacole2 commented on #559
Hi @kevtaylor @msau42. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed

[2019-05-28 02:10] kacole2 commented on #563
Hi @lachie83 @leblancd. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed

[2019-05-28 02:12] kacole2 commented on #575
Hi @sttts @liggitt . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in

[2019-05-28 02:13] kacole2 commented on #598
Hi @liggitt @roycaihw @sttts @mbohlool . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PR

[2019-05-28 02:15] kacole2 commented on #600
Hi <owner>. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Should we be tracking more than:
kubernetes/kubernetes#73981
kubernetes/kubernetes#73547

If you know this will slip, please reply back and let us know. Thanks!

[2019-05-28 02:16] kacole2 commented on #606
Hi @dashpole . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the m

[2019-05-28 02:18] kacole2 commented on #624
Hi @bsalamat. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the mi

[2019-05-28 02:21] kacole2 commented on #625
Hi @ddebroy @msau42. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Assuming we are still on track and this board should have all issues moved to **Done** by Thursday:
https://github.com/orgs/kubernetes-csi/projects/13

If you know this will slip, please reply back and let us know. T

[2019-05-28 02:25] kacole2 commented on #688
Hi @egernst @tallclair . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowe

[2019-05-28 02:27] kacole2 commented on #692
Hi @roycaihw . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the m

[2019-05-28 02:32] kacole2 commented on #693
Hi @lmdaly . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Will be looking at https://github.com/kubernetes/kubernetes/issues/72828 to see if all are merged.

If you know this will slip, please reply back and let us know. Thanks!

[2019-05-28 02:33] kacole2 commented on #757
Hi <owner>. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the mile

[2019-05-28 05:05] verb commented on #277
@kacole2 the API change kubernetes/kubernetes#59416, but I have low confidence anything will merge by freeze.

[2019-05-28 05:31] kevtaylor commented on #559
@kacole2 The merged PR is https://github.com/kubernetes/kubernetes/pull/76546
and the docs are lgtm at https://github.com/kubernetes/website/pull/13846

[2019-05-28 05:32] makoscafee commented on #1029
Hey, @RobertKrawitz @derekwaynecarr .Just a friendly reminder we're looking for at least a draft/placeholder PR against k/website (branch dev-1.15) due by **Thursday, May 30th 2019 @ EOD PST**.

[2019-05-28 05:32] kevtaylor commented on #559
@kacole2 The tests are all documented in the kep and operational on the test grids

[2019-05-28 05:44] makoscafee commented on #492
Hey, @caesarxuchao @liggitt . Deadline for submitting at least Draft/Placeholder PR by May 30th 2019 @ EOD PST. Does this enhancement require any new docs (or modifications)?

[2019-05-28 06:38] denkensk commented on #902
@vllry  Thank you. You can help to start docs If you have time.

[2019-05-28 06:58] prameshj commented on #1024
Thanks for the reminder, @kacole2

We need the following PRs merged:
kubernetes/kubernetes#78417
kubernetes/kubernetes#77887
Also, https://github.com/kubernetes/dns/pull/302 and the new image to be used in the k/k yaml. I am planning to complete these by the code freeze deadline.

[2019-05-28 10:18] lmdaly commented on #693
@daminisatya I have pushed the doc PR. https://github.com/kubernetes/website/pull/14572

Let me know if it is done correctly and if there is anything additional items need to be done. Thanks for the reminder!

[2019-05-28 11:17] fabriziopandini commented on #357
@kacole2 thanks for the head up. We are still confident to get this into the release
 - https://github.com/kubernetes/kubernetes/pull/78408

I'm going to add also a couple of minor PRs and docs PRs asap

[2019-05-28 11:26] mrbobbytables commented on #859
Hi @pwittrock . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please update the issue with the supporting information and list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only re

[2019-05-28 11:29] mrbobbytables commented on #894
Hi @tallclair . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the

[2019-05-28 11:30] mrbobbytables commented on #895
@Huang-Wei @bsalamat. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed i

[2019-05-28 11:31] mrbobbytables commented on #917
Hi @liggitt . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the mi

[2019-05-28 11:43] mrbobbytables commented on #962
Hey there @xing-yang . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed

[2019-05-28 13:02] xing-yang commented on #962
Hi @mrbobbytables The code for ExecutionHook will not be in-tree so it does not have to be merged by May 30th.  Thanks!

[2019-05-28 13:11] RenaudWasTaken commented on #606
We're only missing the graduation PR to be merged @kacole2

https://github.com/kubernetes/kubernetes/pull/77274

[2019-05-28 13:27] mrbobbytables commented on #962
@xing-yang Would you mind linking to the PRs even if its not in-tree? It may not need to be in by the 30th, but they're something that should be tracked for the Enhancement.

Thanks!

[2019-05-28 13:37] xing-yang commented on #962
@mrbobbytables,  right now the code is still in my private repo here: https://github.com/xing-yang/execution-hook.  We need to create a new repo under kubernetes-sigs.  We have not finalized on a repo name.  I opened an issue to track this and we need to get the repo created as soon as possible: https://github.com/kubernetes-csi/external-snapshotter/issues/125

[2019-05-28 13:39] mrbobbytables commented on #962
Great, thank you for letting us know! :)

[2019-05-28 14:12] RobertKrawitz commented on #1029
@makoscafee The k/website PR is https://github.com/kubernetes/website/pull/14268

[2019-05-28 14:55] liggitt commented on #917
There are no pending PRs

[2019-05-28 17:01] lachie83 commented on #563
@simplytunde - Appreciate the heads up. I am working on getting the docs PR together this week.

[2019-05-28 17:01] apelisse commented on #555
I really don't see how this would be done by code-freeze. I think you can mark it for 1.16 :-/

[2019-05-28 17:02] apelisse commented on #1027
This feature depends on server-side apply (#555) which is slipping, you can mark this for 1.16 and stop tracking :-/

[2019-05-28 17:03] lachie83 commented on #563
@GeorgeGuo2018 - This is going to be a multi-release KEP. We plan on landing phase 1 in 1.15. Please take a look at the implementation plan in the KEP for further detail - https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20180612-ipv4-ipv6-dual-stack.md#implementation-plan.

[2019-05-28 17:06] felixfbecker commented on #555
😭

[2019-05-28 17:13] apelisse commented on #555
@felixfbecker You can use any kubernetes 1.14 or later with the ServerSideApply feature enabled to try it out.

In minikube, it would be something like ... `minikube start --feature-gates=ServerSideApply=true` as far as I understand!

Sorry we missed it, we have a scalability issue that we need to address first.

[2019-05-28 17:47] joshmsamuels commented on #555
@apelisse Does using the `ServerSideApply` flag enable the beta version of this PR?

[2019-05-28 18:08] roycaihw commented on #692
@daminisatya @kacole2 Thanks for the reminder. The PR tracking looks good. In 1.15 we did kubernetes/kubernetes#77825 and it's merged. I will open a documentation placeholder and link it here

[2019-05-28 18:20] kacole2 commented on #555
/milestone clear

[2019-05-28 18:21] kacole2 commented on #1027
/milestone clear

[2019-05-28 18:23] davidz627 commented on #625
Hi @kacole2, we are remaining in Alpha this release and that project board contains all the items we wanted to get done by Beta. Could you confirm what you would need from us to remain in Alpha this release?

[2019-05-28 18:28] kacole2 commented on #625
@davidz627 if you are remaining in Alpha and this will not graduate, then that's perfectly acceptable. I just need to know that for tracking purposes. We will also want to change the label to `stage/alpha` and remove 1.15 from the Beta target in the original post.

[2019-05-28 18:32] sttts commented on #692
Docs PR https://github.com/kubernetes/website/pull/14583

@roycaihw can you update the issue description?

[2019-05-28 18:34] sttts commented on #598
Docs PR for 1.15: https://github.com/kubernetes/website/pull/14583

@deads2k can you update the issue description?

[2019-05-28 18:35] sttts commented on #575
Docs PR for 1.15: https://github.com/kubernetes/website/pull/14583

@nikhita can you update the issue description?

[2019-05-28 18:35] sttts commented on #571
Docs PR for 1.15 (change that scale subresource can be under `.spec`): https://github.com/kubernetes/website/pull/14583

@nikhita  can you update the issue description?

[2019-05-28 18:36] sttts commented on #95
Docs PR for 1.15: https://github.com/kubernetes/website/pull/14583

@deads2k can you update the issue description?

[2019-05-28 19:21] apelisse commented on #555
It enables everything that has been released in 1.14 plus what we merged in master since then.
I'd love to learn more about the feature you want, what you're building with it, and what you don't like about the feature! Feel free to ping me on slack (apelisse@)

[2019-05-28 19:22] felixfbecker commented on #555
Was that last comment directed at me?

[2019-05-28 20:10] apelisse commented on #555
@felixfbecker and someone else who deleted their post ;-)

[2019-05-28 20:12] joshmsamuels commented on #555
@felixfbecker It was me. Sorry about that I deleted my post since I found the answer after stumbling across this thread 🙃

[2019-05-28 20:39] davidz627 commented on #625
@kacole2 I am confirming that we will remain in Alpha for k8s v1.15

[2019-05-28 21:54] M00nF1sh commented on #423
@kacole2
Hi, There is an [open PR](https://github.com/kubernetes/kubernetes/pull/74692) that will be merged before code Freeze. Which will close the `[bug fix] LoadBalancerSourceRanges not working`
The `[bug fix] SG rules are removed erroneously` i believe should already be resolved, but will keep it open since there is an customer stated he have similar problem which i suspect is caused by someth

[2019-05-28 22:03] roycaihw commented on #692
@sttts done. Thanks

[2019-05-29 00:58] craiglpeters commented on #964
Hi @sudeshsh, **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the mi

[2019-05-29 01:04] craiglpeters commented on #970
Hi @rosti. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the miles

[2019-05-29 01:11] craiglpeters commented on #980
Hi @MrHohn. **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the mile

[2019-05-29 01:15] MrHohn commented on #980
@craiglpeters Thanks for the reminder. Below are the open PRs. We will try to get the necessary ones merged before the freeze.

k/k:
- Feature implementation: https://github.com/kubernetes/kubernetes/pull/78262
- End-to-end tests: https://github.com/kubernetes/kubernetes/pull/78410

non k/k:
- Doc change: https://github.com/kubernetes/website/pull/14496

[2019-05-29 01:16] craiglpeters commented on #981
Hi @mortent . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open. It appears that https://github.com/kubernetes/kubernetes/pull/76294 has merged and you have a docs PR, so you're in good shape. Are there any other PRs associated with this KEP?

Thanks!

[2019-05-29 01:22] craiglpeters commented on #986
Hi @ravisantoshgudimetla . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allo

[2019-05-29 01:30] craiglpeters commented on #993
Hi @Liujingfang1 . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in t

[2019-05-29 01:34] craiglpeters commented on #995
Hi @ksubrmnn . **Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must be code-complete, **including tests**, and have docs PRs open.

Please list all current k/k PRs so they can be tracked going into freeze. If the PRs aren't merged by freeze, this feature will slip for the 1.15 release cycle. Only release-blocking issues and PRs will be allowed in the m

[2019-05-29 01:56] Liujingfang1 commented on #993
We will postpone this to v1.16.

[2019-05-29 03:52] vllry commented on #902
Placeholder docs PR is up: https://github.com/kubernetes/website/pull/14599

@daminisatya what's the deadline for merging the documentation?

[2019-05-29 06:06] lachie83 commented on #563
@simplytunde - I've created the initial placeholder docs PR here with a WIP https://github.com/kubernetes/website/pull/14600

[2019-05-29 06:11] lachie83 commented on #563
@kacole2 Thanks for the ping. I've updated the 1.15 enhancements speadsheet with the k/k PR that we are tracking (https://github.com/kubernetes/kubernetes/pull/73977) along with the draft docs PR (https://github.com/kubernetes/website/pull/14600). We are still currently on track to get this PR merged before code freeze. LMK if I'm missing anything else

[2019-05-29 06:25] makoscafee commented on #1024
Hi @prameshj sorry! will this enhancement need user documentation in k/website apart from k/dns ? if yes can you open Placeholder PR before 30th which is the deadline for that. Thanks

[2019-05-29 06:44] sudeshsh commented on #964
@craiglpeters here is the doc PR https://github.com/kubernetes/website/pull/14601
and the code is complete with the tests on this PR and currently being reviewed https://github.com/kubernetes/kubernetes/pull/77688

[2019-05-29 06:57] makoscafee commented on #970
Hi, @neolit123 I am docs Lead.
**Code Freeze is Thursday, May 30th 2019 @ EOD PST**. All enhancements going into the release must have placeholder docs PRs open.
Just friendly following up on this. Thanks

[2019-05-29 07:03] makoscafee commented on #902
Hi, @vllry documentation should be merged by 10th June. but the deadline is broken down to
- 30th deadline for placeholder PR
- 04th deadline for all placeholder to have reviewable content
- 10th all docs PR should be merged.

Thanks.

[2019-05-29 07:51] daminisatya commented on #693
Thank you @lmdaly ✨

[2019-05-29 07:53] daminisatya commented on #692
Thank you @sttts @roycaihw ✨

[2019-05-29 08:28] rosti commented on #970
Thanks for the reminder @makoscafee !

[2019-05-29 11:15] rosti commented on #970
@craiglpeters
kubernetes/kubernetes#77739
kubernetes/kubernetes#78403

@makoscafee
kubernetes/website#14607

Those are the PRs.

[2019-05-29 18:24] ravisantoshgudimetla commented on #986
I will get started on this.

Except for docs PR, the main PR is in review(which I believe should be merged by Thursday). I will get started on a docs PR.

[2019-05-29 20:25] wojtek-t commented on #383
@kacole2 - yes, we're aware of the deadline.
The code (including tests) is almost ready. From not-yet merged PRs we need:
https://github.com/kubernetes/kubernetes/pull/78482 [already approved]
https://github.com/kubernetes/kubernetes/pull/78037 [already approved]
https://github.com/kubernetes/kubernetes/pull/78486
https://github.com/kubernetes/kubernetes/pull/78447

@yastij is working on the last

[2019-05-29 22:44] dashpole commented on #606
@simplytunde @kacole2
Full docs PR opened: https://github.com/kubernetes/website/pull/14622

[2019-05-30 01:40] mortent commented on #981
@craiglpeters This PR and the docs PR should be everything. So should be all done once the docs PR merge.

[2019-05-30 03:40] michmike commented on #995
@craiglpeters according to the KEP for kubeadm for 1.15, we were not going to add any more tests beyond unit tests. are we good on this area? thanks!
cc: @ksubrmnn

[2019-05-30 06:24] prameshj commented on #1024
created https://github.com/kubernetes/website/pull/14625

[2019-05-30 06:30] makoscafee commented on #995
Hey, @prameshj 👋 I'm the v1.15 docs Lead.
Does this enhancement require any new docs (or modifications)?

Sorry for getting to you late, **Code Freeze is Thursday, May 30th 2019 @ EOD PST** It would be great to have a placeholder PR by then can be just empty PR with title and description. Let me know if you have any questions!

[2019-05-30 09:44] nikhita commented on #619
/remove-lifecycle rotten

[2019-05-30 10:38] makoscafee commented on #986
HI @ravisantoshgudimetla docs PR does not have to be complete... The Today deadline needs to have a just a placeholder PR with title and description. Nothing fancy. This is mandatory before code freeze.

[2019-05-30 13:52] kacole2 commented on #1001
Hi @PatrickLang , today is code freeze. I do not see a reply for any PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not merged by EOD PST, this will be dropped from

[2019-05-30 13:53] kacole2 commented on #1020
Hi @soltysh , today is code freeze. I do not see a reply for any PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not merged by EOD PST, this will be dropped from the

[2019-05-30 13:55] kacole2 commented on #1029
Hi @RobertKrawitz @derekwaynecarr , today is code freeze. I do not see a reply for any PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not merged by EOD PST, this wi

[2019-05-30 13:58] RobertKrawitz commented on #1029
The PR for this is https://github.com/kubernetes/kubernetes/pull/66928

[2019-05-30 13:59] kacole2 commented on #1040
Hi @yue9944882 @MikeSpreitzer , today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not

[2019-05-30 14:00] kacole2 commented on #1043
Hi @PatrickLang, today is code freeze for the 1.15 release cycle. The k/k PRs https://github.com/kubernetes/kubernetes/pull/73609 has not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there a high confidence this will be merged by EOD PST toda

[2019-05-30 14:06] kacole2 commented on #515
Hi @smarterclayton @soltysh , today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not m

[2019-05-30 14:08] kacole2 commented on #531
Hi @gnufied @mlmhl @wongma7, today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not me

[2019-05-30 14:08] kacole2 commented on #554
Hi @gnufied @msau42 @saad-ali, today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not

[2019-05-30 14:10] kacole2 commented on #556
Hi @gnufied @msau42, today is code freeze for the 1.15 release cycle. The k/k PR https://github.com/kubernetes/kubernetes/pull/67608 has not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there a high confidence this will be merged by EOD PST t

[2019-05-30 14:13] kacole2 commented on #575
Hi @sttts @nikhita @liggitt , today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not m

[2019-05-30 14:14] kacole2 commented on #598
Hi  @liggitt @roycaihw @sttts @mbohlool, today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and the

[2019-05-30 14:15] liggitt commented on #575
defaulting and pruning are already merged, there are no outstanding PRs, and the docs PR is open.

[2019-05-30 14:15] kacole2 commented on #600
Hi @pbarker, today is code freeze for the 1.15 release cycle. The k/k PRs have not yet been merged (https://github.com/kubernetes/kubernetes/pull/73547 https://github.com/kubernetes/kubernetes/pull/73981). It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there a

[2019-05-30 14:16] liggitt commented on #598
there are no outstanding PRs for this release, and the docs PR is open

[2019-05-30 14:17] kacole2 commented on #606
Hi @RenaudWasTaken @dashpole, today is code freeze for the 1.15 release cycle. The k/k PR https://github.com/kubernetes/kubernetes/pull/77274 has not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there a high confidence this will be merged by

[2019-05-30 14:21] kacole2 commented on #624
Hi @bsalamat, today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. However, I did notice these two have been merged previously: https://github.com/kubernetes/kubernetes/pull/70227 and https://github.com/kubernetes/kubernetes/pull/75848. Are there any others that are missing? After this point, only release-blocking issues and PRs will be all

[2019-05-30 14:22] kacole2 commented on #688
Hi @egernst @tallclair, today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not merged

[2019-05-30 14:24] kacole2 commented on #693
Hi @lmdaly, today is code freeze for the 1.15 release cycle. There are still quite a few k/k PRs that have not yet been merged from your tracking issue https://github.com/kubernetes/kubernetes/issues/72828. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there a

[2019-05-30 14:26] kacole2 commented on #757
Hi  @RobertKrawitz @derekwaynecarr , today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. The only one mentioned previously is https://github.com/kubernetes/kubernetes/pull/73651 that's been merged. Are there any others to track? After this point, only release-blocking issues and PRs will be allowed in the milestone with an exception.

[2019-05-30 14:31] RobertKrawitz commented on #757
For node PID limiting, the graduate support PR is https://github.com/kubernetes/kubernetes/pull/76221 (which is merged).

[2019-05-30 14:33] liggitt commented on #598
I take it back, there is a single bugfix PR we're tracking: https://github.com/kubernetes/kubernetes/pull/78523

[2019-05-30 14:38] liggitt commented on #492
PRs we're tracking for this feature:
https://github.com/kubernetes/kubernetes/pull/78491
https://github.com/kubernetes/kubernetes/pull/78080
https://github.com/kubernetes/kubernetes/pull/78505

[2019-05-30 14:40] egernst commented on #688
[1] - https://github.com/kubernetes/kubernetes/pull/76968
[2] - https://github.com/kubernetes/kubernetes/pull/78319
[3] - https://github.com/kubernetes/kubernetes/pull/78484

[2019-05-30 14:43] liggitt commented on #692
PRs being tracked for this feature:
https://github.com/kubernetes/kubernetes/pull/78521
https://github.com/kubernetes/kubernetes/pull/78453

[2019-05-30 14:57] gnufied commented on #556
This feature is not moving to beta in 1.15. It remains in alpha. We are making some additional changes but features themselves won't change.

[2019-05-30 15:16] gnufied commented on #531
The correct link for code PR is https://github.com/kubernetes/kubernetes/pull/77755 . I will open docs PR soonish.

[2019-05-30 15:19] gnufied commented on #556
@kacole2 also https://github.com/kubernetes/kubernetes/pull/77755 is replacement PR for https://github.com/kubernetes/kubernetes/pull/67608

[2019-05-30 15:29] kacole2 commented on #556
/milestone clear
/stage alpha

[2019-05-30 15:35] pbarker commented on #600
yea this is unfortunately going to slip another release, we'll get it done in the next one, thanks @kacole2

[2019-05-30 16:28] RenaudWasTaken commented on #606
Hello @kacole2 !

I was hoping that the PR would be trivial enough to be merged by now, it looks like it uncovered a small cleanup race, I've already submitted a fix for it as part of that PR.

Given that fact, I have medium confidence it will be merged by EOD PST.

[2019-05-30 16:34] mrbobbytables commented on #895
@Huang-Wei @bsalamat, today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not merged by

[2019-05-30 16:57] mrbobbytables commented on #902
@vllry @denkensk, today is code freeze for the 1.15 release cycle. The k/k PRs have not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0).

Is there a high confidence these will be merged by EOD PST today? After this point, only release-blocking issue

[2019-05-30 17:04] mrbobbytables commented on #950
Hi @matthyx , today is code freeze for the 1.15 release cycle. The k/k PRs have not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0).

Is there a high confidence these will be merged by EOD PST today? After this point, only release-blocking issues an

[2019-05-30 18:56] sudeshsh commented on #964
@craiglpeters looks like it will miss the deadline as the review is still pending.

[2019-05-30 19:22] PatrickLang commented on #1043
/milestone clear

[2019-05-30 19:22] PatrickLang commented on #1043
/milestone v1.16

[2019-05-30 19:28] gnufied commented on #531
Placeholder docs PR - https://github.com/kubernetes/website/pull/14643

[2019-05-30 20:33] craiglpeters commented on #964
Hi @sudeshsh, as you know today is code freeze for the 1.15 release cycle. The k/k PRs have not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there high confidence these will be merged by EOD PST today? After this point, only release-blocking

[2019-05-30 20:36] craiglpeters commented on #970
@rosti great to see the PRs have merged :)

[2019-05-30 20:38] craiglpeters commented on #980
Hi @MrHohn, today is code freeze for the 1.15 release cycle. The k/k PRs have not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there high confidence these will be merged by EOD PST today? After this point, only release-blocking issues and PRs

[2019-05-30 20:40] sudeshsh commented on #964
@craiglpeters  the reviewers for this PR are offline so I doubt it will get merged before the deadline.

[2019-05-30 20:41] craiglpeters commented on #981
@mortent great - looking good

[2019-05-30 20:49] craiglpeters commented on #989
Hi @j-griffith, today is code freeze for the 1.15 release cycle. The k/k PR https://github.com/kubernetes/kubernetes/pull/76913 has not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there high confidence this will be merged by EOD PST today? A

[2019-05-30 20:50] craiglpeters commented on #986
Hi @ravisantoshgudimetla, today is code freeze for the 1.15 release cycle. I do not see a reply for any k/k PRs to track for this merge. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). If there is no response, or you respond with PRs to track and they are not merge

[2019-05-30 20:54] craiglpeters commented on #995
@michmike and @ksubrmnn  yes agreed that unit tests are good for alpha. I still need to know which k/k PRs to track for this issue. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there high confidence these will be merged by EOD PST today? After this point, onl

[2019-05-30 20:58] j-griffith commented on #989
@saad-ali @msau42 @thockin  ^^  I was really hopeful that this wouldn't sit idle for another release, any chance it's going to get reviewed?

[2019-05-30 20:59] MrHohn commented on #980
@craiglpeters Thanks for checking in. The only thing we are lacking at the moment is approval on https://github.com/kubernetes/kubernetes/pull/78262. We will try to resolve that ASAP.

[2019-05-30 21:02] ravisantoshgudimetla commented on #986
@craiglpeters - I don't have enough reviewers atm to review the PR. Is there a way to file exception?

Here is the PR: https://github.com/kubernetes/kubernetes/pull/76310. It's so close yet so far :).

[2019-05-30 21:06] ksubrmnn commented on #995
@craiglpeters See https://github.com/kubernetes/kubeadm/issues/1393

We are still on track for alpha. I will fix up https://github.com/kubernetes/kubernetes/pull/78324 and it will get merged today.

[2019-05-30 21:08] ksubrmnn commented on #995
Docs PR open: https://github.com/kubernetes/website/pull/14644

[2019-05-30 21:08] michmike commented on #995
@craiglpeters we will continue working on this. if we can get an exception, it will make it into 1.15 and if not it will come later. the code changes are good, but there is still lots of documentation work left.

[2019-05-30 21:27] PatrickLang commented on #995
also related https://github.com/kubernetes/kubernetes/pull/78189

[2019-05-30 21:45] PatrickLang commented on #1001
/milestone v1.16
Still not ready. PRs and testing are still in progress. Pushing out.

[2019-05-31 00:53] craiglpeters commented on #995
Hi @ksubrmnn, tomorrow is code freeze (one day delay) for the 1.15 release cycle. The k/k PRs have not yet been merged. It's now being marked as At Risk in the [1.15 Enhancement Tracking Sheet](https://docs.google.com/spreadsheets/d/1Vc949C4iC2f8GTmjfJkX04VUNcbimhg8ujp1bUAjGK4/edit?ts=5cb282ad#gid=0). Is there high confidence these will be merged by EOD PST tomorrow? After this point, only release

[2019-05-31 05:37] makoscafee commented on #383
Hi @wojtek-t will this need any docs modification? if yes would be nice to have a placeholder PR before code freeze too.

[2019-05-31 08:26] smarterclayton commented on #515
And was marked LGTM

On May 30, 2019, at 10:06 AM, Kendrick Coleman <notifications@github.com>
wrote:

Hi @smarterclayton <https://github.com/smarterclayton> @soltysh
<https://github.com/soltysh> , today is code freeze for the 1.15 release
cycle. I do not see a reply for any k/k PRs to track for this merge. It's
now being marked as At Risk in the 1.15 Enhancement Tracking Sheet
<https://docs.googl

[2019-05-31 09:34] smarterclayton commented on #515
The only PR for 1.15 is

https://github.com/kubernetes/kubernetes/pull/77817#issuecomment-497352136

And is still on track to merge today.

On May 30, 2019, at 10:06 AM, Kendrick Coleman <notifications@github.com>
wrote:

Hi @smarterclayton <https://github.com/smarterclayton> @soltysh
<https://github.com/soltysh> , today is code freeze for the 1.15 release
cycle. I do not see a reply for any k/k P

[2019-05-31 10:14] egernst commented on #688
The API changes are all approved now, but need a rebase based on what merged last night. Unfortunately I am flying next several hours so cannot execute this until midday PST.

Can we extend the time period for this feature add, or at least for the API changes? Is there a forma process for filing for extension?  Help?

[2019-05-31 12:17] RobertKrawitz commented on #1029
/hold cancel

[2019-05-31 12:55] yastij commented on #383
@makoscafee - This enhancement doesn't need docs

[2019-05-31 15:04] kacole2 commented on #688
@egernst code freeze has been extended to EOD today. If the issues have LGTM labels then you are all set

[2019-05-31 15:27] kacole2 commented on #606
@RenaudWasTaken code freeze was extended to EOD today. I see this has an Approved label but not a LGTM label. Still think you can get it merged?

[2019-05-31 15:49] dashpole commented on #606
@kacole2 it looks like it has both labels.

[2019-05-31 15:50] kacole2 commented on #1020
/milestone clear

[2019-05-31 15:52] kacole2 commented on #1040
/milestone clear

[2019-05-31 15:54] kacole2 commented on #554
/milestone clear

[2019-05-31 15:55] gnufied commented on #554
This enhancement is going to miss 1.15 release window. There is a PR open but it wasn't merged during the given timeline - https://github.com/kubernetes/kubernetes/pull/77595

[2019-05-31 15:56] RenaudWasTaken commented on #606
@dashpole @kacole2 yep it's been in the merge pool since yesterday, we'll see it being merged pretty soon :) !

[2019-05-31 15:57] kacole2 commented on #859
/milestone clear

[2019-05-31 15:57] kacole2 commented on #895
/milestone clear

[2019-05-31 15:57] makoscafee commented on #894
Hi, @yastij I am docs Lead here!
Will this enhancement need docs?

[2019-05-31 15:58] kacole2 commented on #902
/milestone clear

[2019-05-31 15:59] kacole2 commented on #950
/milestone clear

[2019-05-31 16:00] kacole2 commented on #964
/milestone clear

[2019-05-31 16:02] kacole2 commented on #986
/milestone clear

[2019-05-31 16:02] liggitt commented on #492
draft docs PR for 1.15 changes at https://github.com/kubernetes/website/pull/14671

[2019-05-31 16:05] kacole2 commented on #277
/milestone clear

[2019-05-31 16:29] vllry commented on #902
@kacole2 why was this removed from 1.15? The PR was merged last night.

[2019-05-31 16:34] kacole2 commented on #902
@vllry I apologize about that! I didn't see the PR listed in the original post. adding it back!

/milestone v1.15

[2019-05-31 16:38] vllry commented on #902
Sorry about the lack of clarity! Doc PR is open and being refined, let me know if anything is missing.

[2019-05-31 17:02] matthyx commented on #950
Hasn't code freeze been postponed until tonight?

[2019-05-31 17:08] kacole2 commented on #950
@matthyx, https://github.com/kubernetes/kubernetes/pull/77807 doesn't have LGTM or Approved labels yet. This means it's not in the queue to be merged. What's the confidence it will be approved by EOD?

@claurence can you assist here?

[2019-05-31 17:13] matthyx commented on #950
Given that it usually takes one month to have a feedback... pretty low confidence (blameless comment).
But at least I do whatever I can to push this further as I initially hoped to have it in 1.12
The whole KEP process is definitely flawed, but I will save my thoughts for the retrospect.

[2019-05-31 18:34] prameshj commented on #1024
Forgot to mention, this PR needs to be in the 1.15 milestone as well.
https://github.com/kubernetes/kubernetes/pull/78546

[2019-05-31 20:54] matthyx commented on #950
Ok, let's give up on 1.15
Good luck with the other remaining PRs

[2019-05-31 22:07] RenaudWasTaken commented on #606
PR merged

[2019-06-01 01:07] denkensk commented on #902
I reference this merged pr here kubernetes/kubernetes#74614 thank you

[2019-06-01 02:44] lachie83 commented on #563
@kacole2 after discussion with @claurence and the release team we've decided to remove this from the 1.15 milestone. Please go ahead and remove it and update the spreadsheet as appropriate. Thanks for all your assistance thus far.

[2019-06-01 02:45] kacole2 commented on #563
/milestone clear

[2019-06-01 02:46] lachie83 commented on #563
@simplytunde I've also commented on the docs PR. Can you please make sure that's removed from the 1.15 milestone also?

[2019-06-01 06:41] sfudeus commented on #85
IMHO kubernetes/kubernetes#66811 would be a great addition before going stable.

[2019-06-03 03:23] draveness commented on #624
Hi @kacole2, I believe the following merged PRs are related to this feature.

+ https://github.com/kubernetes/kubernetes/pull/77567 Post-bind extension point
+ https://github.com/kubernetes/kubernetes/pull/77559 Permit extension point
+ https://github.com/kubernetes/kubernetes/pull/77529 Queue-sort extension point
+ https://github.com/kubernetes/kubernetes/pull/77501 Scheduling Framework Configura

[2019-06-03 04:14] kacole2 commented on #624
@draveness this is remaining on the tracking sheet for 1.15. All good here.

[2019-06-03 04:21] kacole2 commented on #688
@egernst we are in code freeze and this didn't make it in time. I'm going to remove it from the 1.15 list. Please file an exception if you think it still needs to be added.

/milestone clear

[2019-06-03 07:45] jiatongw commented on #724
/assign

KEP in progress

[2019-06-03 15:51] childsb commented on #554
/milestone clear

[2019-06-03 16:58] gnufied commented on #554
Further update - we have requested feature exception for this. The feature exception is still being discussed and needs approval from sig-scheduling folks. cc @bsalamat @ravisantoshgudimetla

[2019-06-03 19:16] childsb commented on #554
/milestone v1.15

[2019-06-03 19:57] xing-yang commented on #962
Since development work for ExecutionHook is out-of-tree, we don't need to create a doc in-tree. So I just closed https://github.com/kubernetes/website/pull/14560.

[2019-06-03 20:33] kacole2 commented on #993
/milestone clear

[2019-06-03 20:34] kacole2 commented on #693
/milestone clear

[2019-06-03 20:35] kacole2 commented on #671
/milestone clear

[2019-06-03 23:15] vllry opened #1082 "Split kube-proxy ProxyMode components, and adopt per-ProxyMode ComponentConfig"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Switches kube-proxy config to ComponentConfig, instead of flags. Each `--proxy-mode` has its own ComponentConfig.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1076
- Primary contact (assignee): @vllry
- Responsible SIGs: sig-network
- Enhancement target (which targe

[2019-06-04 00:39] vladimirvivien commented on #596
@kacole2 Updated doc PR for this - https://github.com/kubernetes/website/pull/14704

[2019-06-04 18:07] kacole2 commented on #894
/milestone clear

[2019-06-05 13:26] rosti commented on #784
Initial proposal [doc](https://docs.google.com/document/d/1q0oIXUIEnFm6dSnAtZfnsvJCJL39x8ozVE6N4iGtaLw/edit).
This is shared with WG Component Standard, SIG Network, SIG Windows, SIG API Machinery and SIG Cluster Lifecycle. If someone has trouble accessing it, ping me.

[2019-06-05 15:42] vllry commented on #1082
/sig network

[2019-06-05 16:00] kacole2 commented on #554
/milestone clear

[2019-06-05 22:20] mtaufen commented on #784
@rosti thanks for picking this up! The common vs. local and per-platform config problems have needed someone who can really focus on them for a while, and I haven't been able to dedicate enough time lately. So I'm grateful someone's looking at this :). This is critical to the future of the componentconfig effort.

[2019-06-05 22:20] mtaufen commented on #784
I left some comments on your doc.

[2019-06-06 14:29] cmluciano commented on #508
@telmich This should be possible today. Take a look at https://github.com/leblancd/kube-v6 for a good walkthrough of the current state.

[2019-06-06 18:11] mtaufen commented on #784
@vllry, I heard you're also going to be working on kube-proxy componentconfig, wanted to make sure you see this.

[2019-06-06 18:34] justaugustus commented on #635
/remove-lifecycle rotten

[2019-06-06 20:56] kacole2 commented on #383
@wojtek-t I see that https://github.com/kubernetes/kubernetes/pull/78447 wasn't merged before freeze. Is this going to prohibit going Alpha in 1.15?

[2019-06-06 21:42] yastij commented on #383
@kacole2 - kubernetes/kubernetes#78447 uses the feature and isn't part of the implementation.

The feature has tests and integration tests, so this shouldn't be a blocker.

[2019-06-10 14:56] arunbpt7 commented on #361
Hello ,

I would like to  check if there any way to restrict Pods usage on ephemeral storage /var/lib/docker)  regardless of mounted on node root fs or separate file  system of /var/lib/docker .

Because the pods run time writable layers or logs  growing up and that will fill out /var/lib/docker filesystem . This behavior is getting fill up the file system and stooping other pods to run.

It would

[2019-06-10 15:55] dashpole commented on #361
Yes, you can do this with ephemeral storage.  See the [documentation](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage).  Make sure you have eviction enabled for both the "imagefs" and the "nodefs" ([documentation](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#eviction-signals)).

[2019-06-10 17:02] arunbpt7 commented on #361
Thanks for the update , have defined ephemeral-storage request and limit in resources (spec.hard.requests.ephemeral-storage , spec.hard.limits.ephemeral-storage)  on the deployment and verified that evictionHard: is enabled for "imagefs and "nodefs" on the node  . but when when deploying  the pod  and it is not restricting the pod to use the defined ephemeral storage . when creating large file ins

[2019-06-10 17:15] dashpole commented on #361
Sounds like a bug.  Feel free to open a separate issue and cc me, as this is for feature tracking.

[2019-06-10 17:29] arunbpt7 opened #1094 "local ephemeral Storage limitation for pods in the cluster"
# Enhancement Description
- One-line enhancement description (can be used as a release note):local ephemeral Storage limitation for pods in the cluster
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs:storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y

[2019-06-10 17:39] arunbpt7 commented on #1094
@dashpole ,
As discussed in #361 , Looking for a solution to restrict ephemeral storage for pods usage .  As it is found that ephemeral storage is shared across all the pods and that is going to be fill up /var/lib/docker frequently based on the pods writable layer and logs. This is causing the high utilization on /var/lib/docker file system frequently. If  there is a solution to restrict ephemera

[2019-06-10 17:40] arunbpt7 commented on #361
Thank you , have opened a new issue ( local ephemeral Storage limitation for pods in the cluster #1094)

[2019-06-10 18:05] arunbpt7 commented on #1094
/sig storage

[2019-06-10 18:06] dashpole commented on #1094
/close
in favor of https://github.com/kubernetes/kubernetes/issues/78865, since this is not an enhancement

[2019-06-10 18:06] #1094 closed

[2019-06-11 03:21] kacole2 commented on #995
/milestone clear

[2019-06-12 19:49] apelisse opened #1101 "Immutable Fields API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Ability to mark fields as immutable in APIs with automatic verification.
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): https://github.com/kubernetes/enhancements/pull/1099
- Primary contact (assignee): apelisse
- Responsible SIGs: sig-api-machinery
- E

[2019-06-12 19:50] apelisse commented on #1101
/sig api-machinery

[2019-06-12 21:14] timothysc opened #1103 "sunset and remove https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/0004-bootstrap-checkpointing.md"
During earlier phases of kubeadm's life we wanted to pursue the option of full self hosted control plane.  This idea breaks down during certain corner conditions, namely single control plane node cluster on a full DC outage. The idea was explored but eventually abandoned due to security constraints involved in checkpointing, but also b/c other ideas obviated the need to manage k8s in this manner.

[2019-06-12 21:43] liggitt commented on #492
status for 1.15 is still beta, continuing improvements.

/stage beta

[2019-06-12 22:00] yastij commented on #1103
/sig cluster-lifecycle

[2019-06-13 07:41] Sn0rt commented on #359
hi, how to deloy and use the kops-apiserver ? did you have any document or links ?

[2019-06-13 16:46] yastij commented on #1103
/assign

[2019-06-13 16:52] smarterclayton commented on #1103
And in the future we might want checkpointing to survive DC outage, but the current design was somewhat weak (since it was limited).  This allows us to take more time to come back and do checkpointing in a broader sense without having the urgency to make it work for kubeadm (even though it may be valuable).

[2019-06-14 05:11] harche commented on #1067
/cc @tallclair

[2019-06-16 20:56] vllry commented on #1082
Closing in favour of another KEP with heavy overlap.

[2019-06-16 20:56] #1082 closed

[2019-06-19 17:05] lachie83 commented on #5
@tallclair Would really love to see this land as GA in 1.16. Is that possible?

[2019-06-19 17:34] tallclair commented on #5
@lachie83 No, we're not sure we want PodSecurityPolicy to go to GA. It's not clear that this is a use case that should be solved by Kubernetes core, and we're looking into out-of-core alternatives. If you'd like to discuss it in more detail, it's a good topic for SIG-Auth.

[2019-06-19 17:55] SEJeff commented on #5
@tallclair Would stuff like [Open Policy Agent's gatekeeper](https://github.com/open-policy-agent/gatekeeper) be a better path to head down?

[2019-06-19 17:58] tallclair commented on #5
Yes, exactly. That might be the leading contender, and I'm working closely with that team to see make sure it will cover these use cases.

[2019-06-19 18:09] SEJeff commented on #5
The one thing I've been waiting for, is a tool that could potentially translate `PodSecurityPolicy` --> OPA rego policy. That would make deprecating them from your standpoint a lot easier.

[2019-06-19 18:09] lachie83 commented on #5
@tallclair appreciate the prompt response

[2019-06-19 18:12] tallclair commented on #5
@SEJeff agreed. We will not deprecate PodSecurityPolicy until there is a clear replacement with feature parity and migration path.

[2019-06-19 18:13] justaugustus commented on #5
Hey @tallclair, you [mentioned](https://github.com/kubernetes/enhancements/issues/5#issuecomment-476332297) a roadmap to GA or a plan for deprecation. Seems like we're leaning towards the latter.

Do we have something written to help people that are looking at PSPs as a solution close the loop?

[2019-06-19 18:16] tallclair commented on #5
Not yet. Part of the hesitation is that we don't want to say that we'll be deprecating it in favor of something else until there is a clear replacement. Although I'm excited about gatekeeper, it doesn't have the features (or stability) we need to replace PSP yet. Another possibility is that we could move PSP out of tree, and bring it to GA as an admission webhook (the 2 options aren't mutually exc

[2019-06-19 19:05] Joseph-Irving commented on #753
The test plan https://github.com/kubernetes/enhancements/pull/951 and API design https://github.com/kubernetes/enhancements/pull/919 PRs have now been merged.

I've opened https://github.com/kubernetes/enhancements/pull/1109 to get the KEP marked as implementable, once everyone is happy with that we should be able to start development for this as alpha in 1.16 🤞

[2019-06-20 09:26] christianhuening commented on #497
Has this been continued somewhere? It would be super useful

[2019-06-20 21:33] cjreyn commented on #213
Did this get added in 1.15?

[2019-06-20 21:45] tallclair commented on #213
It's beta as of 1.14
@krmayankk what is the plan for bringing this to GA?

[2019-06-21 00:20] Elegant996 commented on #213
Restricting `runAsGroup` would likely be a requirement for GA. I seem to recall my PSP providing an error when I attempted to set the field. It should also support `MustRunAsNonRoot` similar to the below. Thanks!

[code]

[2019-06-21 17:17] tallclair commented on #213
It should work with PSP, if not please file an issue. For MustRunAsNonRoot (on the pod spec), there were a lot of concerns about all the different ways to attach groups to a process, and whether we could reliably assert that it wasn't using the root group. I'm not categorically against it, but also don't want to have the feature if it's not a strong guarantee. I also don't think it should block GA

[2019-06-22 01:14] krmayankk commented on #213
@tallclair I think the main criteria is having the right test coverage for runtimes. This issue https://github.com/kubernetes/kubernetes/issues/72253 covers that , but i have no idea what needs to be done there ? Can you advise ?

[2019-06-22 01:16] krmayankk commented on #213
@Elegant996 here is the discussion related to mustRunAsNonRoot on the pod spec https://github.com/kubernetes/kubernetes/pull/62216 But we ditched in it favor of only doing it in PSP

[2019-06-25 15:19] stealthybox commented on #784
@rosti, shall we tag this /w 1.16 and update KEP #1104?

[2019-06-25 20:41] nwbvt commented on #592
Does this need to be reopened to get moved out of alpha?

[2019-06-26 10:59] denverdino commented on #940
You can install and config the lxcfs as K8s workload
The sample project is:  https://github.com/denverdino/lxcfs-initializer

[2019-06-26 14:19] alejandrox1 commented on #784
Moving this to the 1.16 milestone to tackle during the next release
/milestone v1.16

[2019-06-26 14:23] neolit123 commented on #784
IMO we should have k/enhancements issues that track full graduation of APIs. from alpha->GA instead of separate ones for beta or GA.

[2019-06-27 15:39] paemason opened #1117 "Unable to create PVC using a storage class with vSphere storage policy defined (secure connection to vCenter)"
Expectation-
We should be able to create PVCs via a storageclass with storagePolicyName defined while using a singed ca cert for secure communications with vCenter.

Bug-
The PVC created with a storageclass with storagePolicyName defined fails with a `x509: certificate signed by unknown authority` error when PVCs created with a storageclass without the storagPolicyName work against the same vCente

[2019-06-27 18:51] divyenpatel commented on #1117
@paemason

I think we are having issue with creating PBM client using certificate set on the vCenter Client.

We need to create a PBM client to get list of compatible datastore for given storage policy.
https://github.com/kubernetes/kubernetes/blob/v1.12.7/pkg/cloudprovider/providers/vsphere/vsphere.go#L1192

I think call is failing at - https://github.com/kubernetes/kubernetes/blob/v1.12.7//pkg/c

[2019-06-28 09:56] wojtek-t commented on #956
I would like to move it to Beta in 1.16. I already sent out a minor update to testing plan for Beta and will be pushing that in the meantime.

/stage beta

[2019-06-28 16:48] ddebroy opened #1122 "Support CSI plugins in Windows"
# Enhancement Description
- One-line enhancement description (can be used as a release note): In-tree Enhancements and new out-of-tree components (csi-proxy) to support CSI node plugins in Windows worker nodes.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190714-windows-csi-support.md
- Primary contact (assignee): @ddebroy
- Responsib

[2019-06-28 16:51] ddebroy commented on #1122
/sig storage

[2019-06-28 19:18] Joseph-Irving commented on #753
This Kep has been marked implementable so I will be raising PRs to get this into 1.16 starting next week!

[2019-07-01 08:19] rosti commented on #784
If the KEP merges we can have an alpha version released before the end of the cycle, so I think, that it's appropriate to have it in 1.16.

[2019-07-01 16:49] janetkuo commented on #592
/reopen
/remove-lifecycle rotten

[2019-07-01 16:52] janetkuo commented on #592
Our next steps is to implement this feature for Pods, as documented in KEP
https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/0026-ttl-after-finish.md#api-object

Before going to beta, we need to decide whether to generalize it to custom resources, which may require moving the `.ttlAfterFinished` field from `.spec` to `.metadata`.

[2019-07-02 00:36] ddebroy commented on #1122
/kind enhancement

[2019-07-02 00:36] ddebroy commented on #1122
/kind feature

[2019-07-02 00:37] ddebroy commented on #1122
/sig windows

[2019-07-02 12:07] Joseph-Irving commented on #753
I've raised https://github.com/kubernetes/kubernetes/pull/79649 to implement the API, I will have a separate PR for the Kubelet changes.

[2019-07-02 16:55] paemason commented on #1117
Sorry for the delayed response. I'm not confident I got the log level correct, however this is what I find:

[code]

[2019-07-02 17:39] paemason commented on #1117
I believe I have log level 4 now set:

[code]

[2019-07-02 17:47] paemason commented on #1117
For comparison, here is a PVC created w/o storagePolicyName on the same datastore which succeeds:

[code]

[2019-07-03 14:07] divyenpatel commented on #1117
@paemason thanks for posting logs.

Now this is confirmed, issue is happening while creating PBM client when we use certificate based authentication.
https://github.com/kubernetes/kubernetes/blob/v1.12.7/pkg/cloudprovider/providers/vsphere/vclib/pbm.go#L37

One more thing I want to confirm regarding the certificate, are you using solution user as mentioned here - https://vmware.github.io/vsphere-s

[2019-07-03 15:48] divyenpatel commented on #1117
@paemason Can you also provide value of `insecure-flag` in the vsphere.conf file? Is it set to true or false / 1 or 0 ?

[2019-07-03 15:59] mylesagray commented on #1117
@divyenpatel `insecure-flag` is unset, as for the solution user I'd have to leave that to @paemason to expand on.

[2019-07-03 16:23] vmwkkwong commented on #1117
@divyenpatel I don't believe we used any solution user because we simply used "administrator@vsphere.local" as the default user during installation. @paemason please correct me if I'm wrong.

[2019-07-03 17:55] divyenpatel commented on #1117
@vmwkkwong @mylesagray @paemason

How is the certificate and private key retrieved for the user `administrator@vsphere.local`.

I am successfully able to connect to the PBM using vpxd certificte and key. I ssh into the vCenter and executed following commands to retrieve certificate and private key for vpxd.

[code]

with vpxd cert and private key, I do not see this issue. In addition I also set `I

[2019-07-03 18:03] vmwkkwong commented on #1117
@divyenpatel Can you try setting Insecure to false? That's the flag setting that triggers the cert error.

[2019-07-03 18:20] divyenpatel commented on #1117
@vmwkkwong, with `Insecure: false,`, I see the exact same error - `certificate signed by unknown authority`, while creating VC client.

[code]

[2019-07-03 18:27] mylesagray commented on #1117
@divyenpatel Isn't that because it's self-signed? In the case of the issue in this ticket the cert is signed by a trusted CA /cc @vmwkkwong to confirm.

[2019-07-03 18:42] vmwkkwong commented on #1117
@mylesagray The cert is self-signed and its CA isn't trusted.

[2019-07-03 18:46] divyenpatel commented on #1117
@mylesagray @vmwkkwong

I used vpxd certificate and issuer is `OU = VMware Engineering,O = sc-rdops-vm06-dhcp-172-185.eng.vmware.com,ST = California,C = US,DC = local,DC = vsphere,CN = CA`
I require to set  `Insecure: true`.

[2019-07-03 18:50] vmwkkwong commented on #1117
@divyenpatel Is there any way to make it work if insecure=false?

[2019-07-03 19:34] mylesagray commented on #1117
@vmwkkwong - then I’d say that’s expected? If the root CA isn’t trusted, then it is insecure?

[2019-07-03 20:27] vmwkkwong commented on #1117
@mylesagray well, while that's expected, I don't know if there's a method to add the root CA to a trusted list.

[2019-07-03 20:31] mylesagray commented on #1117
Correct me if I’m wrong @divyenpatel, but isn’t the trusted list the root CA store of the K8S node’s OS in this case?

I’d imagine whatever CA Root signed the cert would need to be added to the OS of choice’s CA store.

[2019-07-03 21:00] divyenpatel commented on #1117
@mylesagray you are correct, we need to download trusted root certificate and add them in the store on node vm.

For now on my mac, I have downloaded trusted root certificate from the vCenter -> `https://vc-ip/certs/download.zip` and added them in the keychain and flagged as "Always Trust".

![Screen Shot 2019-07-03 at 1 52 36 PM](https://user-images.githubusercontent.com/22985595/60624318-d3c5710

[2019-07-04 05:51] vmwkkwong commented on #1117
@divyenpatel @mylesagray @paemason After importing the root cert by placing it in /etc/ssl/certs on the master node, I'm able to provision a PVC while specifying a storage policy. Thanks for all the help.

[2019-07-04 12:43] mylesagray commented on #1117
@paemason Can you close this issue and work with KK to get this automated in the product?

[2019-07-04 14:17] angelbarrera92 commented on #5
Wtf

[2019-07-04 17:01] alculquicondor commented on #998
Hi @misterikkit, I just submitted #1127 focusing only in the label name. Could you please update the issue? Unless it's preferred that I create a new one.

[2019-07-05 05:06] feiskyer commented on #667
The blocking issues are tracked now at https://github.com/kubernetes/cloud-provider-azure/issues/124.

[2019-07-05 05:07] feiskyer commented on #586
/milestone v1.16

[2019-07-05 05:07] feiskyer commented on #604
/milestone v1.16

[2019-07-05 15:39] kacole2 commented on #917
This has graduated stable so closing it down
/milestone clear
/close

[2019-07-05 15:39] #917 closed

[2019-07-05 15:40] kacole2 commented on #515
This has graduated to stable and been implemented. Time to close

/milestone clear
/close

[2019-07-06 00:07] tamalsaha commented on #600
We would like to see this issue make progress on 1.16 cycle. Are there any blockers beyond review bandwidth?

[2019-07-08 13:12] verb commented on #277
/milestone 1.16

[2019-07-08 13:12] verb commented on #277
@kacole2 @dchen1107  can we add this to the 1.16 milestone?

[2019-07-08 13:25] liggitt commented on #598
/milestone v1.16
/stage stable

[2019-07-08 13:25] liggitt commented on #575
/milestone v1.16
/stage stable

[2019-07-08 13:25] liggitt commented on #571
/milestone v1.16
/stage stable

[2019-07-08 13:26] liggitt commented on #492
/milestone v1.16
/stage stable

[2019-07-08 13:26] liggitt commented on #95
/milestone v1.16
/stage stable

[2019-07-08 15:09] gnufied commented on #284
Since we have not moved this feature to GA yet. I would like to keep this feature request open.

/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2019-07-08 15:44] gnufied commented on #284
Feature is still in beta in 1.15 and likely going to remain beta in 1.16. We will target 1.17 as GA, so as all different resizing features can go together as GA. The dependent feature are:

- Online volume expansion (went GA in 1.15)
- CSI volume expansion (still alpha in 1.15 and wil move beta in 1.16)

[2019-07-08 16:50] kacole2 commented on #277
/milestone v1.16

[2019-07-08 17:22] gnufied commented on #556
We are targeting this feature to beta in 1.16.

[2019-07-08 17:22] gnufied commented on #554
This feature will remain in beta in 1.16

[2019-07-08 17:31] kacole2 commented on #1020
Hi @soltysh , We're beginning the 1.16 Enhancement collection. Is this going to be moving to stable in 1.16? Enhancement Freeze is 7/30.

[2019-07-08 17:34] kacole2 commented on #556
/milestone v1.16
/stage beta

[2019-07-08 19:37] msau42 commented on #177
We are targeting beta for 1.16

[2019-07-08 20:18] kacole2 commented on #177
/stage beta
/milestone v1.16

@msau42 this is still missing a KEP. I'll put it in the tracking sheet for now.

[2019-07-08 20:30] msau42 commented on #177
@xing-yang can you look into creating a kep for this? I'm not sure how up-to-date the original design doc was, but we can point to it from the kep

[2019-07-08 20:43] kacole2 commented on #1029
Hi @RobertKrawitz , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevan

[2019-07-08 20:45] kacole2 commented on #624
Hi @draveness @bsalamat, I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all re

[2019-07-08 20:46] kacole2 commented on #1024
Hi @prameshj , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-08 20:46] kacole2 commented on #989
Hi @j-griffith , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k

[2019-07-08 20:48] kacole2 commented on #981
Hi @draveness @bsalamat, I'm the 1.16 Enhancement Lead. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k

[2019-07-08 20:48] kacole2 commented on #980
Hi @draveness @bsalamat, I'm the 1.16 Enhancement Lead. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k

[2019-07-08 20:49] kacole2 commented on #970
Hi @rosti @neolit123 , I'm the 1.16 Enhancement Lead. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-08 20:49] kacole2 commented on #962
Hi @jingxu97 @xing-yang, I'm the 1.16 Enhancement Lead. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k

[2019-07-08 20:50] kacole2 commented on #902
Hi @denkensk, I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in

[2019-07-08 20:52] j-griffith commented on #989
Hi @kacole2 Yes, we'd like to move this to beta fort the 1.16 release.  I'll start submitting the 1.16 milestone and beta PRs.

[2019-07-08 20:53] neolit123 commented on #970
hi @kacole2. we decided that this feature will not see any changes with the release of 1.16.
but we may still file a number of related WIP/POC KEPs.

[2019-07-08 20:54] kacole2 commented on #757
Hi @derekwaynecarr @RobertKrawitz , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list al

[2019-07-08 20:54] kacole2 commented on #692
Hi @roycaihw , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.6 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in

[2019-07-08 20:55] kacole2 commented on #625
Hi @davidz627  , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-08 20:56] kacole2 commented on #606
Hi @RenaudWasTaken @dashpole  , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all r

[2019-07-08 20:56] kacole2 commented on #559
Hi @kevtaylor , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-08 20:56] kacole2 commented on #531
Hi @mlmhl @gnufied , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-08 20:57] kacole2 commented on #423
Hi @justinsb @M00nF1sh  , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevan

[2019-07-08 20:57] kacole2 commented on #383
Hi @yastij , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in

[2019-07-08 20:58] kacole2 commented on #357
Hi i@neolit123 @luxas @timothysc @fabriziopandini , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already ha

[2019-07-08 21:02] neolit123 commented on #357
hi @kacole2 . with kubeadm-HA graduating to beta in 1.15, we decided to give this work a rest and focus on some other priorities for 1.16.
thanks.

@fabriziopandini please comment if you have something else in mind.

[2019-07-08 21:09] kacole2 commented on #1122
/stage alpha
/milestone v1.16

@ddebroy As a reminder, every enhancement requires a KEP in an implementable state with Graduation Criteria explaining each alpha/beta/stable stages requirements. Please link to the KEP when it's created. Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

Thanks

[2019-07-08 21:19] xing-yang commented on #177
@msau42 @kacole2 Here is the original design doc that was already merged. https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-snapshot.md

Do I need to create a KEP and point to this doc?

[2019-07-08 21:21] xing-yang commented on #962
@kacole2 We will try to make it Alpha in 1.16.  Please add it to the 1.16 tracking spreadsheet.  Thanks!

[2019-07-08 21:35] bsalamat commented on #624
Hi @kacole2. We are graduating this feature to beta in 1.16. There are many PRs to implement the feature. Tracking issues for all those PRs are referenced in this issue.

[2019-07-08 21:42] evillgenius75 commented on #1001
Hi @PatrickLang , I'm a 1.16 Enhancement Shadow.  Is this feature going to be released in alpha stage in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in this is

[2019-07-08 21:45] evillgenius75 commented on #1027
Hi @apelisse , I'm a 1.16 Enhancement Shadow.  Is this feature going to be released in beta stage in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue

[2019-07-08 21:53] evillgenius75 commented on #1040
Hi @MikeSpreitzer and @yue9944882 , I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating to alpha stage in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

I see you have PR #78966 referenced above, please include any ot

[2019-07-08 21:57] evillgenius75 commented on #1043
Hi @PatrickLang , I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating to alpha stage in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

If there are any other PRs besides kubernetes/kubernetes#73609, please list all re

[2019-07-08 22:06] RenaudWasTaken commented on #606
It won't be graduating any stages in the 1.16 release.

[2019-07-08 22:16] apelisse commented on #1027
I'm hoping it will, I'll let you know if we end-up falling short on this, thanks!

[2019-07-08 22:29] ddebroy commented on #689
hi @kacole2 we are planning to move this feature to Beta in v1.16. So wanted to make sure it is tracked appropriately. Thanks!

[2019-07-08 22:43] msau42 commented on #177
Yes, all enhancements should go through keps now. If the original design doc is mostly up-to-date, then you can just create a kep that points to it.  Take a look at the template and see if the kep sections are already included in the design doc or not (namely graduation criteria, test plan, implementation history, etc).  Here's an example of a storage kep that points to the original design doc and

[2019-07-09 00:20] roycaihw commented on #692
@kacole2 The plan is to go stable in 1.16. I will keep the issue updated when the coding begins

[2019-07-09 06:21] wojtek-t commented on #383
No - we don't assume any graduation this cycle.
We would like to use new events API (in beta) in couple places in the codebase to prove it before we graduate to GA.
Tentative plan is to graduate in 1.17.

[2019-07-09 07:40] kevtaylor commented on #559
@kacole2 This feature graduated to Beta in 1.15 so my understanding is we skip a version before moving to GA in 1.17. Perhaps @msau42 could confirm that.

[2019-07-09 13:18] kacole2 commented on #559
@kevtaylor I would recommend a release cycle of burn-in before immediately promoting. But some enhancements are high priority and are moving at higher pace. Whatever you all are comfortable with. For now, I'll clear the milestone and we can revisit if you have any changes.

/milestone clear

[2019-07-09 13:20] justaugustus commented on #559
AFAIK, the cycle of burn-in is supposed to be required.

[2019-07-09 13:31] kacole2 commented on #692
/stage stable
/milestone v1.16

[2019-07-09 13:33] liggitt commented on #559
I'm not aware of a requirement for a dead release between beta and stable

[2019-07-09 13:34] kacole2 commented on #689
/milestone v1.16
/stage beta

[2019-07-09 13:36] kacole2 commented on #1027
/milestone v1.16

[2019-07-09 13:44] kacole2 commented on #989
/milestone v1.16
/stage beta

[2019-07-09 13:47] yue9944882 commented on #1040
hey, yes please track the feature in the 1.16 milestone. matter of fact this feature is literally active from 1.15 on, as you see in the pull above there's ~300 discussions over the api model since april this year. there're also other poc repos under development:

- https://github.com/aaron-prindle/fq-inflight-rate-limit
- https://github.com/aaron-prindle/fq-apiserver
- https://github.com/mars1024

[2019-07-09 13:57] kacole2 commented on #1040
/milestone v1.16

[2019-07-09 14:02] kacole2 commented on #1103
@timothysc @smarterclayton @yastij I'm collecting enhancements to be tracked for the 1.16 release cycle. Can someone shed some light if this is an actual enhancement that needs to be tracked? KEP? etc etc. Thanks!

[2019-07-09 14:03] kacole2 commented on #1101
@apelisse is this going to go straight to Beta in 1.16?

/milestone v1.16
/stage beta

[2019-07-09 14:05] kacole2 commented on #1073
/stage alpha
/milestone v1.16

Hi @fudali113, I'm the 1.16 Enhancement Lead. I've added this to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enhancement requires a KEP in an implementable state with Graduation Criteria explai

[2019-07-09 14:07] kacole2 commented on #1073
@lachie83 @justaugustus can we get a label added for sig/job? is that a SIG? I'm not familiar with that one.

[2019-07-09 14:09] kacole2 commented on #1067
/stage alpha
/milestone v1.16

Hi @@harche, I'm the 1.16 Enhancement Lead. I've added this to the 1.16 Tracking Spreadsheet.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enhancement requires a KEP in an implementable state with Graduation Criteria explaining each alpha/beta/stable stages requirements

[2019-07-09 14:11] kacole2 commented on #1053
/stage alpha
/milestone v1.16

Hi @akutz, I'm the 1.16 Enhancement Lead. I've added this to the 1.16 Tracking Spreadsheet.

As a reminder, every enhancement requires a KEP in an implementable state with Graduation Criteria explaining each alpha/beta/stable stages requirements.

Milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

[2019-07-09 14:13] kacole2 commented on #1045
Hi @zhangxiaoyu-zidif, I'm the 1.16 Enhancement Lead.  Is this feature going to be implemented as alpha in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enhancement requires a KEP

[2019-07-09 14:21] kacole2 commented on #667
/milestone v.16

will be tracking the blocked issues to see if this will make it to code freeze.

[2019-07-09 14:24] kacole2 commented on #688
Hi @egernst, I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in

[2019-07-09 14:25] evillgenius75 commented on #536
Hi @m1093782566 , I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

After reviewing your KEP, it's currently missing test plans and graduati

[2019-07-09 14:28] kacole2 commented on #693
Hi @lmdaly @derekwaynecarr , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all rele

[2019-07-09 14:28] kacole2 commented on #752
Hi @freehan @wojtek-t , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant

[2019-07-09 14:29] kacole2 commented on #753
Hi @Joseph-Irving , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-09 14:29] kacole2 commented on #837
Hi @andrewsykim , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PR

[2019-07-09 14:30] kacole2 commented on #853
Hi @gliush , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in

[2019-07-09 14:30] evillgenius75 commented on #382
Hi @k82cn  @bsalamat , I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

As a reminder, every enhancement requires a KEP in an implementable

[2019-07-09 14:31] kacole2 commented on #859
Hi @pwittrock , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-09 14:37] mhuxtable commented on #753
@Joseph-Irving If you want/need some extra people to implement this, I have a lot of interest in this landing, so I'm happy to lend a hand.

[2019-07-09 14:40] kacole2 commented on #894
Hi @yastij @tallclair , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant

[2019-07-09 14:41] kacole2 commented on #895
Hi @bsalamat @Huang-Wei , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevan

[2019-07-09 14:42] kacole2 commented on #940
Hi @fanux @derekwaynecarr , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relev

[2019-07-09 14:42] kacole2 commented on #950
Hi @matthyx , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in

[2019-07-09 14:43] kacole2 commented on #960
Hi @johnbelamaric , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-09 14:44] kacole2 commented on #961
Hi @draveness @krmayankk , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all releva

[2019-07-09 14:44] kacole2 commented on #964
Hi @sudeshsh , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs i

[2019-07-09 14:44] kacole2 commented on #986
Hi @ravisantoshgudimetla , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all releva

[2019-07-09 14:45] kacole2 commented on #991
Hi @andrewsykim , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PR

[2019-07-09 14:45] kacole2 commented on #993
Hi @Liujingfang1 @monopole , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all rele

[2019-07-09 14:46] kacole2 commented on #995
Hi @PatrickLang @michmike , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relev

[2019-07-09 14:46] kacole2 commented on #998
Hi @alculquicondor @misterikkit , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all

[2019-07-09 14:48] matthyx commented on #950
@kacole2 nice to meet you!
Yes, I hope to merge this feature in 1.16, and will defend the KEP again during the sig-node meeting tonight... I will for sure update you in the coming days.

[2019-07-09 14:50] justaugustus commented on #1073
@kacole2 -- I _think_ this is supposed to be SIG Scheduling or SIG Apps.

@bsalamat @kubernetes/sig-scheduling-feature-requests @janetkuo @soltysh @kubernetes/sig-apps-misc -- can you confirm and relabel as necessary?
/sig scheduling apps

[2019-07-09 14:51] Joseph-Irving commented on #753
Hi @kacole2 this is targeting Alpha for 1.16, the KEP has been marked implementable.
The only PR for this currently is kubernetes/kubernetes#79649 for the API

@mhuxtable I will be raising the PR for the kubelet changes fairly soon, just finishing off some things, I would greatly appreciate some help having a look at that. I will link it here when it's raised.

[2019-07-09 14:58] kacole2 commented on #1041
Hi @clamoriniere , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevan

[2019-07-09 15:12] egernst commented on #688
Hi @kacole2 - This will be added as an alpha feature in 1.16.  I will update the issue description with applicable k/k PRs

[2019-07-09 15:19] egernst commented on #688
Actually, I cannot edit the description. List of outstanding PRs below:

- https://github.com/kubernetes/kubernetes/pull/76968
- https://github.com/kubernetes/kubernetes/pull/78484
- https://github.com/kubernetes/kubernetes/pull/79247
- https://github.com/kubernetes/kubernetes/pull/78319
- (placeholder for resourceQuota changes)
- (placeholder for CRI API change)

[2019-07-09 15:23] ahg-g commented on #998
/milestone v1.16
/alpha

[2019-07-09 15:24] kacole2 commented on #361
Hi @arunbpt7 @jingxu97 @vishh , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please lis

[2019-07-09 15:25] alculquicondor commented on #998
@kacole2 yes, this should be in the 1.16 milestone. Thanks

[2019-07-09 15:25] kacole2 commented on #351
Hi @msau42 , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-09 15:27] kacole2 commented on #304
Hi @aniket-s-kulkarni @xingzhou , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please l

[2019-07-09 15:30] gnufied commented on #304
I am going to close this feature because feature was implemented and it does not have a feature gate of its own. It will go GA along with general volume expansion feature which is tracked here - https://github.com/kubernetes/enhancements/issues/284

/close

[2019-07-09 15:30] #304 closed