[2020-04-29 14:54] harshanarayana commented on #624
Hey there @ahg-g, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tue

[2020-04-29 14:55] harshanarayana commented on #993
Hey there @Liujingfang1, @monopole , 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release

[2020-04-29 14:57] harshanarayana commented on #1029
Hey there @RobertKrawitz  , 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle be

[2020-04-29 15:02] harshanarayana commented on #1073
Hey there @fudali113, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 15:06] harshanarayana commented on #1122
Hey there @ddebroy, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- T

[2020-04-29 15:07] harshanarayana commented on #1143
Hey there @smarterclayton, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle beg

[2020-04-29 15:09] harshanarayana commented on #1258
Hey there @alculquicondor, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle beg

[2020-04-29 15:09] harshanarayana commented on #1281
Hey there @cheftako, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 15:11] harshanarayana commented on #1314
Hey there @tallclair, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 15:12] harshanarayana commented on #1333
Hey there @liggitt, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- T

[2020-04-29 15:12] palnabarun commented on #1281
/milestone clear

(since the Enhancement graduated to Beta in Kubernetes 1.18)

[2020-04-29 15:16] alculquicondor commented on #1258
The KEP is already in place. I have to update the target to this release https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190926-default-even-pod-spreading.md

[2020-04-29 15:18] liggitt commented on #1333
Once CSR graduates to v1, this will update to complete phase 2

[2020-04-29 15:21] palnabarun commented on #770
/close

(closing this since the KEP has been implemented)

[2020-04-29 15:21] palnabarun commented on #770
/milestone clear

[2020-04-29 15:21] #770 closed

[2020-04-29 15:26] palnabarun commented on #565
/close

(closing this since the KEP has been implemented)

[2020-04-29 15:26] #565 closed

[2020-04-29 15:27] palnabarun commented on #950
/milestone clear

(removing the issue from the v1.18 milestone as 1.18 cycle had ended)

[2020-04-29 15:28] palnabarun commented on #351
/close

(closing this since the KEP has been implemented)

[2020-04-29 15:28] ddebroy commented on #1122
hey @harshanarayana, yes, we are planning to graduate this feature to Beta in 1.19.

[2020-04-29 15:28] #351 closed

[2020-04-29 15:29] palnabarun commented on #1001
/milestone clear

(removing this from v1.18 milestone since that cycle had ended)

[2020-04-29 15:30] palnabarun commented on #1601
/stage stable

[2020-04-29 15:31] palnabarun commented on #1301
/milestone clear

(removing this from the v1.18 milestone since that cycle has ended)

[2020-04-29 15:32] palnabarun commented on #989
/close

(closing this since the KEP has been implemented)

[2020-04-29 15:32] #989 closed

[2020-04-29 15:33] palnabarun commented on #603
/close

(closing this since the KEP has been implemented)

[2020-04-29 15:33] #603 closed

[2020-04-29 15:34] palnabarun commented on #1258
/milestone clear

(removing this from the v1.18 milestone as that is complete)

[2020-04-29 15:35] palnabarun commented on #1441
/milestone clear

(removing this from the v1.18 milestone as that is complete)

[2020-04-29 15:35] msedzins commented on #553
Hey there @rphillips  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins

[2020-04-29 15:35] palnabarun commented on #995
/milestone clear

(removing this from the v1.18 milestone as that is complete)

[2020-04-29 15:35] msedzins commented on #556
Hey there @gnufied  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 15:36] palnabarun commented on #1453
/milestone clear

(removing this from the v1.18 milestone as that is complete)

[2020-04-29 15:36] msedzins commented on #585
Hey there @tallclair , @thockin  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cy

[2020-04-29 15:36] palnabarun commented on #1451
/milestone clear

(removing this from the v1.18 milestone as that is complete)

[2020-04-29 15:37] msedzins commented on #592
Hey there @janetkuo  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 15:37] palnabarun commented on #752
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:37] palnabarun commented on #895
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:38] palnabarun commented on #689
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:38] palnabarun commented on #1040
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:38] palnabarun commented on #693
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:38] palnabarun commented on #688
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:38] palnabarun commented on #853
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:39] palnabarun commented on #1539
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:39] palnabarun commented on #508
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:39] logicalhan commented on #553
Hi @msedzins, I believe it is unlikely we'll be moving forward with this in 1.19.

[2020-04-29 15:39] palnabarun commented on #695
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:39] palnabarun commented on #1393
/milestone clear

(removing this enhancement issue from the v1.18 milestone as the milestone is complete)

[2020-04-29 15:42] msedzins commented on #995
Hey there @benmoss , @neolit123  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cy

[2020-04-29 15:43] msedzins commented on #1001
Hey there @PatrickLang  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begin

[2020-04-29 15:44] msedzins commented on #1027
Hey there @apelisse  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 15:45] msedzins commented on #1040
Hey there @yue9944882 , @MikeSpreitzer  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Rel

[2020-04-29 15:46] palnabarun commented on #495
Hi @verb, -- 1.19 Enhancements Lead here, can you confirm if the feature gate is still scheduled to be removed in 1.19?

If you do, I'll add it to the 1.19 tracking sheet (http://bit.ly/k8s-1-19-enhancements). Once the work begins please list the relevant k/k PR in this issue so it can be tracked properly. 👍

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 15:47] palnabarun commented on #495
/milestone clear

(removing this issue from v1.17 milestone since the milestone is complete)

[2020-04-29 15:49] gnufied commented on #695
@palnabarun we are planning to move this to beta in 1.19. Can we keep this in 1.19 milestone plz?

[2020-04-29 15:50] apelisse commented on #1027
Hi there, we're not planning on promoting this feature this cycle, thank you!

[2020-04-29 15:54] palnabarun commented on #1053
/milestone clear

(removing this issue from v1.17 milestone as the milestone is complete)

[2020-04-29 15:54] palnabarun commented on #1295
/milestone clear

(removing this issue from v1.17 milestone as the milestone is complete)

[2020-04-29 16:00] palnabarun commented on #837
/milestone clear

(removing this issue from v1.17 milestone as the milestone is complete)

[2020-04-29 16:00] palnabarun commented on #625
/milestone clear

(removing this issue from v1.17 milestone as the milestone is complete)

[2020-04-29 16:04] palnabarun commented on #1179
/milestone v1.17

(since the enhancement was implemented in v1.17 cycle)

[2020-04-29 16:28] Huang-Wei commented on #895
@palnabarun we'd like to promote it to GA in 1.19.

[2020-04-29 16:38] tallclair commented on #585
No changes planned for v1.19. We might go to GA in v1.20.

[2020-04-29 16:39] mortent commented on #85
@palnabarun There are still some open issues that needs to be resolved for PDBs. I hope we can resolve most of them and then target the 1.20 release for graduating PDBs to GA.

[2020-04-29 16:39] tallclair commented on #600
We're currently discussing the future of this feature in sig-auth, but no changes are planned for v1.19.

[2020-04-29 16:39] Liujingfang1 commented on #993
Hi @harshanarayana I don't think it will graduate in 1.19. Thank you for checking with us.

[2020-04-29 16:41] palnabarun commented on #85
Thanks @mortent for the updates. Deferring the enhancement then. :slightly_smiling_face:

[2020-04-29 16:46] palnabarun commented on #536
Thank you @robscott for the updates. I will update the tracking sheet accordingly. :+1:

[2020-04-29 16:47] palnabarun commented on #555
Thank you @apelisse for the updates. I will update the tracking sheet accordingly. :+1:

[2020-04-29 17:03] palnabarun commented on #667
Thank you @feiskyer for the updates. I have updated the tracking sheet accordingly. :+1:

[2020-04-29 17:07] palnabarun commented on #753
Thank you @Joseph-Irving for clarifying the situation. :+1:

Appreciate your efforts!

[2020-04-29 17:10] palnabarun commented on #962
Thank you @xing-yang for the updates. I will update the tracking sheet accordingly. :+1:

[2020-04-29 17:11] palnabarun commented on #1101
Thank you @apelisse for the update. I will update the tracking sheet accordingly. :+1:

[2020-04-29 17:11] palnabarun commented on #1101
/milestone clear

[2020-04-29 17:12] palnabarun commented on #1164
@wojtek-t Thank you for the confirmation. :slightly_smiling_face:

[2020-04-29 17:14] benmoss commented on #995
No I don't think will be graduating in 1.19

[2020-04-29 17:30] palnabarun commented on #1491
Thank you @divyenpatel @xing-yang for the update. I will update the tracking sheet accordingly. :+1:

[2020-04-29 17:37] lachie83 commented on #563
@sftim I've raised two PRs to address the release labelling in 1.17 and 1.18

[2020-04-29 17:47] lachie83 commented on #563
@palnabarun We are working to get the dualstack KEP updated in the 1.19 release timeframe however we don't currently think that we will be landing code changes in the 1.19 release. We have one blocking issue with the work that's already been done (thanks to having it in `alpha` state). The blocking issue is https://github.com/kubernetes/kubernetes/pull/86895. We plan to address that via the follow

[2020-04-29 18:07] cmluciano commented on #1453
@palnabarun Please add this to tracked/yes for 1.19

[2020-04-29 18:07] palnabarun commented on #1721
Hi @ttonline6, SIG PM has been retired vide this announcement (https://groups.google.com/forum/#!topic/kubernetes-dev/RU8iINF758Y). Things are in flux right now and all links will be updated soon.

Thank you for pointing this out though. :+1:

[2020-04-29 18:10] palnabarun commented on #1721
Note to anyone reading this issue: It is NOT an enhancement issue. The issue relates to a bug in the [README](https://github.com/kubernetes/enhancements/blob/master/README.md).

[2020-04-29 18:54] msedzins commented on #1177
Hey there @fabriziopandini  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle b

[2020-04-29 18:55] msedzins commented on #1208
Hey there @jfbai  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tu

[2020-04-29 18:56] msedzins commented on #1217
Hey there @mvladev  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 18:56] neolit123 commented on #1177
@msedzins hi, we are not going to make changes in 1.19.

[2020-04-29 18:57] msedzins commented on #1384
Hey there @kkmsft , @PatrickLang  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release c

[2020-04-29 18:57] msedzins commented on #1393
Hey there @mtaufen  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 18:58] msedzins commented on #1432
Hey there @xing-yang , @NickrenREN  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release

[2020-04-29 19:00] msedzins commented on #1441
Hey there @verb @soltysh  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle beg

[2020-04-29 19:01] msedzins commented on #1513
Hey there @liggitt  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-29 19:09] liggitt commented on #1513
yes, the plan is for this to graduate in 1.19

[2020-04-29 19:15] RobertKrawitz commented on #1029
On 4/29/20 10:57 AM, Harsha Narayana wrote:

Hi Harsha,

I don't expect that this is going to graduate.

[2020-04-29 19:17] msedzins commented on #1451
Hey there @alculquicondor  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle be

[2020-04-29 19:48] xing-yang commented on #1432
Hi @msedzins, we are targeting alpha in 1.19.  Thanks!

[2020-04-29 20:28] matthyx commented on #950
Thanks @palnabarun, I will eventually graduate it to stable for 1.20 depending on the feedback from beta.

[2020-04-29 20:40] alculquicondor commented on #1451
We'll discuss this in the next SIG meeting, thanks

[2020-04-29 22:47] justaugustus commented on #1721
/assign

[2020-04-29 22:47] justaugustus commented on #1721
/sig architecture
/area enhancements
/milestone keps-beta

[2020-04-29 23:49] justaugustus opened #1729 "Distroless images"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Rebase Kubernetes Main Master and Node Images to `distroless/static`
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/1729-rebase-images-to-distroless
- Primary contact (assignee): @justaugustus
- Responsible SIGs: SIG Release, Product Security Com

[2020-04-29 23:49] justaugustus commented on #1729
/committee product-security

[2020-04-30 00:02] jeremyrickard opened #1730 "Update repo prow config"
We appear to have `lgtm-acts-as-approve` enabled on for the enhancements repo. This led to an accidental merge of https://github.com/kubernetes/enhancements/pull/1497 with this comment https://github.com/kubernetes/enhancements/pull/1497#issuecomment-621499549.

Let's disable that and require an explicit slash approve on issues.

[2020-04-30 00:03] justaugustus opened #1731 "Publishing Kubernetes packages on community infrastructure"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Publishing Kubernetes packages on community infrastructure
- Kubernetes Enhancement Proposal: [keps/sig-release/1731-publishing-packages/README.md](https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/1731-publishing-packages/README.md)
- Discussion Link: https://docs.google.com/spre

[2020-04-30 00:03] jeremyrickard commented on #1730
/sig architecture

[2020-04-30 00:05] justaugustus commented on #1730
/area enhancements

[2020-04-30 00:05] justaugustus commented on #1730
/assign @jeremyrickard

[2020-04-30 00:13] justaugustus opened #1732 "Artifact Management"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee): @hh
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y)
  - Stable release target (x.

[2020-04-30 00:13] justaugustus opened #1733 "Release notes"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/1733-release-notes
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y)
  - St

[2020-04-30 00:15] justaugustus opened #1734 "Image Promotion"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y)
  - Stable release target (x.y)

[2020-04-30 01:34] justaugustus commented on #1730
Closed via https://github.com/kubernetes/test-infra/pull/17442.
/close

[2020-04-30 01:34] #1730 closed

[2020-04-30 02:17] yue9944882 commented on #1040
@msedzins thanks, the alpha version is already merged/announced and we're working on moving the feature to beta stage in 1.19. plz add us to the tracking list.

[2020-04-30 04:50] BenTheElder commented on #1179
/assign

[2020-04-30 06:35] harshanarayana commented on #600
@tallclair  Thank you very much for following up. I've updated the tracking sheet accordingly. 👍

[2020-04-30 06:42] harshanarayana commented on #993
Hi @Liujingfang1, thank you for following up with an update. I have updated the tracking sheet accordingly. 👍

[2020-04-30 06:46] harshanarayana commented on #1029
Hi @RobertKrawitz, thanks for following up with an update on this. I have updated the tracking sheets accordingly. 👍

[2020-04-30 06:48] enj commented on #541
@msedzins we are actively working on defining the GA requirements in #1711 - PTAL and confirm it meets all requirements to be part of the v1.19 release.  It is possible that we may not finish the work in time for the v1.19 release, but we will definitely define all the work that is needed to get this feature to GA.

[2020-04-30 06:52] harshanarayana commented on #1122
@ddebroy Thanks for following up with an update on this. I have updated the tracking sheets accordingly. 👍

/milestone v1.19
/stage beta

[2020-04-30 07:10] harshanarayana commented on #1333
Hi @liggitt thanks for following up with an update on the status. I will update the tracking sheets accordingly.

[2020-04-30 11:03] harshanarayana commented on #1258
@alculquicondor Thank you for getting back to me with an update. I just went through the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190926-default-even-pod-spreading.md) and noticed that it is missing `Graduation Criteria` with regards to `v1.19`. Can you please update the same?

I will update the tracking sheet accordingly to consider this a valid entry int

[2020-04-30 11:06] harshanarayana commented on #1487
Hey there @davidz627 / @jsafrane -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release

[2020-04-30 11:09] harshanarayana commented on #1610
Hey there @arjunrn -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-30 11:13] harshanarayana commented on #1630
Hey there @deads2k / @--template -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release

[2020-04-30 11:15] harshanarayana commented on #1672
Hey there @andrewsykim -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begi

[2020-04-30 11:16] harshanarayana commented on #1682
Hey there @huffmanca / @gnufied -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release c

[2020-04-30 11:17] harshanarayana commented on #1682
Hey there @enj -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tue

[2020-04-30 11:17] harshanarayana commented on #1688
Hey there @enj -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tue

[2020-04-30 11:19] harshanarayana commented on #1698
Hey there @pohly -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- T

[2020-04-30 12:48] verb commented on #1441
@msedzins We'll keep this alpha for 1.19, thanks!

[2020-04-30 13:16] gliush commented on #853
This enhancement was merged. What should I do with it? I don't see good documentation anywhere that explains the usual enhancement flow.
Should I just close the issue? Should I mention somewhere that the enhancement is merged in 1.18?

[2020-04-30 13:53] alculquicondor commented on #1258
We are going to alpha this release. We didn't make it in 1.18 https://github.com/kubernetes/enhancements/issues/1258#issuecomment-594026704

[2020-04-30 15:12] harshanarayana commented on #1258
@alculquicondor Thanks. I have updated the tracking sheet to reflect the same. Can you please ensure that the KEP also indicates that `v1.19` is going to be `alpha` stage ? The KEP still shows `Alpha (v1.18):`. Thanks again. 👍

[2020-04-30 17:08] janosi commented on #614
Hello @palnabarun I do not know. One of my PRs would need some attention
https://github.com/kubernetes/kubernetes/pull/90365

Once that one is merged the other one could follow.
Then we would have some parts of the e2e tests that are required to become beta. Though it was so, that first the test cases should run before this feature could become beta. The original thought was, that the test cases w

[2020-04-30 17:15] janosi commented on #1435
Hi @palnabarun , The situation is same here as with the SCTP feature. I do not know what will happen. The KEP waits for more comments as there was an alternative proposal for the control of the solution. That is the last update that happened 28 days ago.

@thockin @andrewsykim

[2020-04-30 21:25] justaugustus commented on #1734
(I wonder if this slash command works...)
/stage beta

[2020-04-30 21:26] msedzins commented on #18
Hi there @justinsb,

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 21:28] msedzins commented on #24
Hi there @tallclair ,

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 21:31] msedzins commented on #34
Hi there @sttts , @derekwaynecarr ,

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 21:35] msedzins commented on #127
Hi there @derekwaynecarr , @vikaschoudhary16 ,

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 21:43] tallclair commented on #24
/assign @saschagrunert

Are you planning to get AppArmor to GA this releases cycle?

[2020-04-30 21:48] msedzins commented on #177
Hi @xing-yang,

Thank you for the update!

[2020-04-30 21:53] msedzins commented on #213
Hi there @krmayankk ,

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 21:55] msedzins commented on #277
Hi there @verb ,

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 22:01] msedzins commented on #361
Hi there @jingxu97  ,

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 22:02] msedzins commented on #362
Hi there @jingxu97  , @vishh

Kind reminder about my question above.

Regards,
Mirek

[2020-04-30 22:05] msedzins commented on #1441
Thank you for letting me know @verb

[2020-04-30 22:16] msedzins commented on #541
Thank you for letting me know @enj.
I will update tracking sheet accordingly.

Please remember about point 2 from the requirement list:
"2. The KEP must have test plans"

[2020-04-30 22:23] msedzins commented on #1040
Awesome, thank you! I'll go ahead and add it to the tracking sheet :)

[2020-04-30 22:27] msedzins commented on #1040
One more thing:

please remember about requirement list, specifically point 2:
"The KEP must have graduation criteria."
Should cover beta stage.

[2020-05-01 06:29] robscott commented on #752
@palnabarun Would love to have this as part of the 1.19 milestone as well. I've outlined the changes I'd like to include in 1.19 here: https://github.com/kubernetes/enhancements/pull/1713

[2020-05-01 06:36] enj commented on #541
@msedzins tests plans are included in #1711.

[2020-05-01 06:39] enj commented on #1688
@harshanarayana the KEP is still `provisional`.  For v1.19, at most, the KEP may be marked `implementable` and have an initial alpha implementation in `k/k`.

[2020-05-01 06:41] harshanarayana commented on #1688
Hey @enj thanks for following up.. I've updated the tracking sheets accordingly 👍

[2020-05-01 07:36] saschagrunert commented on #24
This KEP will not be part of 1.19 because we don’t have enough resources in SIG architecture to provide the API reviews.

[2020-05-01 08:33] harshanarayana commented on #1352
Hey there @zhangxiaoyu-zidif -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycl

[2020-05-01 08:41] harshanarayana commented on #970
Hey there @rosti -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- T

[2020-05-01 08:43] harshanarayana commented on #1593
Hey there @copejon / @jeffvance -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release c

[2020-05-01 08:45] harshanarayana commented on #1611
Hey there @jayunit100 -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begin

[2020-05-01 10:50] msedzins commented on #24
Thank you @saschagrunert for letting me know.

[2020-05-01 10:55] msedzins commented on #541
Indeed, thank you.

[2020-05-01 10:59] msedzins commented on #1451
Thx @alculquicondor ,
I will add it to tracking sheet.

[2020-05-01 11:03] msedzins commented on #1432
Awesome, thank you! I'll go ahead and add it to the tracking sheet :)

[2020-05-01 11:07] msedzins commented on #1432
@xing-yang please make sure you have graduation criteria in KEP for Alpha.

Regards,
Mirek

[2020-05-01 11:09] msedzins commented on #1513
Awesome, thank you! I'll go ahead and add it to the tracking sheet :)

[2020-05-01 11:15] msedzins commented on #1177
Thank you @neolit123  for letting me know.

[2020-05-01 11:17] msedzins commented on #995
Thank you @benmoss for letting me know

[2020-05-01 11:19] msedzins commented on #585
Thank you @tallclair for letting me know.

[2020-05-01 11:25] msedzins commented on #1027
Thank you for letting me know @apelisse

[2020-05-01 11:27] msedzins commented on #553
Thank you @logicalhan for the information , if things change - please let me know.

[2020-05-01 11:37] msedzins commented on #1393
Kind reminder @mtaufen  about the question above,

Thanks!

[2020-05-01 11:38] msedzins commented on #1384
Kind reminder @kkmsft @PatrickLang  about the question above,

Thanks!

[2020-05-01 12:39] neolit123 commented on #970
hi, we are not going to add a new API version as part of 1.19.

[2020-05-01 13:55] xing-yang commented on #1432
@msedzins, will do.  Thanks!

[2020-05-01 14:19] copejon commented on #1593
Hi @harshanarayana.   I don't anticipate having code finalized by the freeze date.

[2020-05-01 16:11] harshanarayana commented on #1593
Thanks @copejon for following up with an update on this issue. I have updated the tracker accordingly.

In case if you are planning to pick this up in one of the upcoming releases, please do let me know so that I can update the tracker accordinly to reflect the same.

Thanks

[2020-05-01 16:39] huffmanca commented on #1682
@harshanarayana ,

It is expected for this enhancement to be included in the 1.19 release. Please go ahead and add it to the tracking sheet, or let me know if there are any issues.

Thank you!

[2020-05-01 16:45] harshanarayana commented on #1682
Hey @huffmanca, thanks for following up on this with an update. I have update the tracking sheet accordingly. 🖖

Thanks

[2020-05-01 19:16] palnabarun commented on #895
Hi @Huang-Wei, thank you for the update. We will update the [tracking sheet](http://bit.ly/k8s-1-19-enhancements) accordingly. :+1:

[2020-05-01 19:21] palnabarun commented on #1453
@cmluciano Just confirming, is this enhancement graduating to Beta or Stable in 1.19?

[2020-05-01 19:32] kikisdeliveryservice commented on #357
Hi @fabriziopandini @neolit123 ,

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycl

[2020-05-01 19:37] kikisdeliveryservice commented on #508
Hi @aojea @danehans ,

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

    The KEP PR must be merged in an implementable state
    The KEP must have test plans
    The KEP must have graduation criteria.

The current release schedule is:

    Monday, April 13: Week 1 - Release cycle be

[2020-05-01 19:40] kikisdeliveryservice commented on #551
Hi @yastij ,

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

    The KEP PR must be merged in an implementable state
    The KEP must have test plans
    The KEP must have graduation criteria.

The current release schedule is:

    Monday, April 13: Week 1 - Release cycle begins

[2020-05-01 19:44] neolit123 commented on #357
hi, we are not going to work on this for 1.19.

[2020-05-01 20:30] kikisdeliveryservice commented on #609
Hi @DirectXMan12 @mitchellmaler @MaciekPytel,

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release

[2020-05-01 20:54] palnabarun commented on #1206
Hi @RainbowMango, thank you for the update.

For the test plans, you can have a look at this KEP template for the exact requirement: https://raw.githubusercontent.com/kubernetes/enhancements/master/keps/NNNN-kep-template/README.md

Also, one quick question, which graduation stage would you be targeting in 1.19?

[2020-05-01 21:05] aojea commented on #508
Thanks @kikisdeliveryservice , but I think we should focus now in dual stack.
No change here during this release

[2020-05-01 21:11] kikisdeliveryservice commented on #727
Hi @dashpole !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19: W

[2020-05-01 21:12] kikisdeliveryservice commented on #757
Hi @derekwaynecarr @RobertKrawitz

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins

[2020-05-01 21:12] msedzins commented on #1217
Hi @mvladev, kind reminder about my question above.

Thx!

[2020-05-01 21:13] kikisdeliveryservice commented on #773
Hi @jingxu97 !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19: W

[2020-05-01 21:13] msedzins commented on #1208
Hi @jfbai , kind reminder about my question above.

Thx!

[2020-05-01 21:14] kikisdeliveryservice commented on #783
Hi @luxas @stealthybox
1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, Ma

[2020-05-01 21:15] kikisdeliveryservice commented on #786
Hi @luxas @stealthybox !
1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday,

[2020-05-01 21:15] msedzins commented on #1001
Hi @PatrickLang , kind reminder about my question above.

Thx!

[2020-05-01 21:16] kikisdeliveryservice commented on #1041
Hi @clamoriniere !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 1

[2020-05-01 21:17] msedzins commented on #592
Hi @janetkuo , kind reminder about my question above.

Thx!

[2020-05-01 21:17] kikisdeliveryservice commented on #1045
Hi @resouer @zhangxiaoyu-zidif !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins

[2020-05-01 21:18] msedzins commented on #556
Hi @gnufied , kind reminder about my question above.

Thx!

[2020-05-01 21:18] kikisdeliveryservice commented on #1053
Hi @neolit123 !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19:

[2020-05-01 21:19] kikisdeliveryservice commented on #1067
Hi @harche @lumjjb !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May

[2020-05-01 21:19] msedzins commented on #545
Hi @NickrenREN , kind reminder about my question above.

Thx!

[2020-05-01 21:20] msedzins commented on #545
@NickrenREN Sorry, I've just noticed that it is closed.

[2020-05-01 21:20] kikisdeliveryservice commented on #1339
Hi @michaelgugino @justinsb @cheftako !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle

[2020-05-01 21:21] kikisdeliveryservice commented on #1403
Hi @michaelgugino !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May

[2020-05-01 21:23] kikisdeliveryservice commented on #1547
Hi @mattjmcnaughton !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, Ma

[2020-05-01 21:23] kikisdeliveryservice commented on #1591
Hi @smarterclayton !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May

[2020-05-01 21:25] kikisdeliveryservice commented on #1618
Hi @johnbelamaric 😄

1.19 Enhancements shadow here. I wanted to confirm that this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19: Week 6 - Enha

[2020-05-01 21:25] kikisdeliveryservice commented on #1623
Hi @deads2k !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19: We

[2020-05-01 21:26] msedzins commented on #542
Hi @mikedanese , kind reminder about my question above.

Thx!

[2020-05-01 21:26] kikisdeliveryservice commented on #1659
Hi @thockin !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19: We

[2020-05-01 21:27] msedzins commented on #423
Hi @justinsb , kind reminder about my question above.

Thx!

[2020-05-01 21:28] kikisdeliveryservice commented on #611
Hi, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19: Week 6 - Enha

[2020-05-01 21:29] kikisdeliveryservice commented on #279
Hi @saad-ali @liggitt ,

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday,

[2020-05-01 21:30] kikisdeliveryservice commented on #267
Hi @liggitt @jcbsmpsn !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday,

[2020-05-01 21:31] kikisdeliveryservice commented on #266
Hi @liggitt !

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday, May 19: We

[2020-05-01 21:34] kikisdeliveryservice commented on #671
Hi @rtheis @andrewsykim

1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:

The KEP PR must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria.

The current release schedule is:

Monday, April 13: Week 1 - Release cycle begins
Tuesday,

[2020-05-01 21:35] liggitt commented on #279
Yes, this is completed in 1.19. Relevant PRs:
* https://github.com/kubernetes/kubernetes/pull/90307
* https://github.com/kubernetes/enhancements/pull/1737

[2020-05-01 21:51] cmluciano commented on #1453
Stable for 1.19

[2020-05-01 23:39] neolit123 commented on #1053
hi, this feature will not graduate to beta in 1.19. thanks.

[2020-05-02 04:58] harshanarayana commented on #19
Hey there @soltysh / @kow3ns -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycl

[2020-05-02 05:03] harshanarayana commented on #19
Hey @soltysh / @kow3ns, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:08] harshanarayana commented on #365
Hey @smarterclayton, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:10] harshanarayana commented on #624
Hey @ahg-g, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:11] harshanarayana commented on #970
Hey @neolit123, thanks for following up on this with an update. I have update the tracking sheet accordingly. 🖖

Thanks

[2020-05-02 05:15] harshanarayana commented on #1073
Hey @fudali113, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:16] harshanarayana commented on #1143
Hey @smarterclayton, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:16] harshanarayana commented on #1281
Hey @cheftako, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:17] harshanarayana commented on #1314
Hey @tallclair, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:18] harshanarayana commented on #1352
Hey @zhangxiaoyu-zidif, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:19] harshanarayana commented on #1487
Hey @jsafrane / @davidz627, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:19] harshanarayana commented on #1610
Hey @arjunrn, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:20] harshanarayana commented on #1611
Hey @jayunit100, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:22] harshanarayana commented on #1630
Hey @deads2k, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 05:23] harshanarayana commented on #1698
Hey @pohly, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-02 06:59] ahg-g commented on #624
Hi @harshanarayana, sorry for the late reply, no this is not going to graduate as part of 1.19.

[2020-05-02 07:34] BenTheElder commented on #1001
I'm pretty sure (?) Patrick has moved on cc @feiskyer

[2020-05-02 07:58] harshanarayana commented on #624
Hey @ahg-g, thanks for following up on this with an update. I have update the tracking sheet accordingly. 🖖

Thanks

[2020-05-02 08:37] palnabarun commented on #1558
Hi @tallclair, -- 1.19 Enhancements Lead here. I see from the KEP that no work is planned for 1.19. I just wanted to confirm if that is still the case?

Thank you!

[2020-05-02 08:46] palnabarun commented on #1301
Hi @PatrickLang @marosset, -- 1.19 Enhancements Lead here. I just wanted to confirm if this Enhancement will be graduating to Beta in 1.19?

If you do, I'll add it to the 1.19 tracking sheet (http://bit.ly/k8s-1-19-enhancements). Once coding begins please list all relevant k/k PRs in this issue so they can be tracked properly. 👍

---
The current release schedule is:
- Monday, April 13: Week 1 - Re

[2020-05-02 08:47] palnabarun commented on #1381
Thank you @rosti for the update.

Just FYI, in order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

I will check back later for the status. :+1:

[2020-05-02 08:48] palnabarun commented on #85
/milestone v1.20

[2020-05-02 08:49] palnabarun commented on #135
/milestone v1.20

[2020-05-02 09:15] harshanarayana commented on #1612
Hey there @mars1024 / @squeed / @dcbw -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Rel

[2020-05-02 12:43] feiskyer commented on #1001
assign to new sig windows leaders

/assign @marosset @michmike
/unassign @PatrickLang

[2020-05-02 12:43] feiskyer commented on #1001
@marosset @michmike could you update the plans for 1.19?

[2020-05-02 15:30] mvladev commented on #1217
Hi all, sorry for the delay -I'm closing this in favor of https://github.com/kubernetes/enhancements/pull/1418 .

[2020-05-02 15:30] #1217 closed

[2020-05-02 18:21] verb commented on #277
Hi @msedzins, no graduation in 1.19 scheduled, thanks.

[2020-05-02 21:43] mattjmcnaughton commented on #1547
Hi @kikisdeliveryservice !

Our goal is yes (cc @dims ) - see https://github.com/kubernetes/enhancements/pull/1728 for the issue to update the KEP.

Thanks for your work on the release squad.

[2020-05-03 22:36] kenperkins commented on #1435
What's needed here? This appears to have stalled; I'd love to help if there's anything I can do.

[2020-05-04 01:33] neolit123 opened #1739 "kubeadm: customization with patches"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Introduce customization of kubeadm managed manifests using patches
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR) TODO
- Primary contact (assignee): @neolit123
- Responsible SIGs: SIG Cluster Lifecycle
- Enhancement target (which target equals to which m

[2020-05-04 06:09] uablrek commented on #1612
About Cilium;

Cilium can do this because it handles the data-path in kernel space (eBPF). K8s can't do that.

[2020-05-04 06:31] harche commented on #1067
@kikisdeliveryservice We aren't targeting 1.19 at for this enhancement.

[2020-05-04 15:35] msedzins commented on #1432
/milestone v1.19

[2020-05-04 15:40] msedzins commented on #18
Hi there @justinsb,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-04 15:41] msedzins commented on #34
Hi there @sttts , @derekwaynecarr ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-04 15:41] msedzins commented on #127
Hi there @derekwaynecarr , @vikaschoudhary16 ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-04 15:43] msedzins commented on #177
/milestone clear

[2020-05-04 15:44] msedzins commented on #213
Hi there @krmayankk ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-04 15:45] msedzins commented on #277
Thank you @verb for letting me know.

[2020-05-04 15:46] msedzins commented on #351
/milestone clear

[2020-05-04 15:47] msedzins commented on #361
Hi there @jingxu97 ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-04 15:48] msedzins commented on #361
Hi there @vishh  ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-04 15:48] msedzins commented on #362
Hi there @jingxu97 , @vishh

Kind reminder about my question above.

Regards,
Mirek

[2020-05-04 15:49] msedzins commented on #423
Hi @justinsb , kind reminder about my question above.

Thx!

[2020-05-04 15:53] msedzins commented on #541
/milestone v1.19

[2020-05-04 15:53] msedzins commented on #542
Hi @mikedanese , kind reminder about my question above.

Thx!

[2020-05-04 15:56] msedzins commented on #556
Hi @gnufied , kind reminder about my question above.

Thx!

[2020-05-04 16:13] palnabarun commented on #895
/stage stable
/milestone v1.19

[2020-05-04 16:14] palnabarun commented on #1040
/stage beta
/milestone v1.19

[2020-05-04 16:15] palnabarun commented on #1122
/milestone v1.19

[2020-05-04 16:16] palnabarun commented on #1258
/stage alpha
/milestone v1.19

[2020-05-04 16:17] palnabarun commented on #1333
/stage beta

[2020-05-04 16:21] palnabarun commented on #1451
/stage beta

[2020-05-04 16:22] palnabarun commented on #1451
/milestone v1.19

[2020-05-04 16:23] palnabarun commented on #1513
/stage stable
/milestone v1.19

[2020-05-04 16:23] palnabarun commented on #1682
/stage alpha
/milestone v1.19

[2020-05-04 16:24] palnabarun commented on #1688
/stage alpha
/milestone v1.19

[2020-05-04 16:26] palnabarun commented on #1491
/stage beta
/milestone v1.19

[2020-05-04 16:40] gnufied commented on #556
We are not graduating this feature to GA. Having said that, we are working to transition this feature to GA while fixing open issues and addressing pending concerns.

[2020-05-04 16:42] wojtek-t commented on #383
@palnabarun - yes, we're targeting GA/Stable in 1.19. Please add to the tracking sheet.
[I also updated the link to KEP, the KEP was updated recently.]

[2020-05-04 16:45] wojtek-t commented on #1661
Deduplicating with https://github.com/kubernetes/enhancements/issues/383 .

[2020-05-04 16:45] #1661 closed

[2020-05-04 16:49] johnbelamaric commented on #596
@pohly Release 1.19 enhancements shadow here. Any plans for this in 1.19?

[2020-05-04 16:50] johnbelamaric commented on #5
@tallclair Hi Tim. Any plans for this in 1.19?

[2020-05-04 16:52] johnbelamaric commented on #597
@gnufied Release 1.19 enhancements shadow here. Any plans for this in 1.19?

If not, this has been getting just nudged along since at least 1.12. Should it just be closed?

[2020-05-04 16:54] johnbelamaric commented on #606
@RenaudWasTaken Release 1.19 enhancements shadow here. Any plans for this in 1.19?

[2020-05-04 16:55] palnabarun commented on #383
Thank you @wojtek-t for the update. I will update the tracking sheet accordingly. :+1:

Also, thanks for updating the KEP according to the new template. :slightly_smiling_face:

[2020-05-04 16:55] palnabarun commented on #383
/stage stable
/milestone v1.19

[2020-05-04 16:55] johnbelamaric commented on #625
@msau42 @davidz627 Release 1.19 enhancements shadow here. Any plans for this in 1.19?

[2020-05-04 16:58] johnbelamaric commented on #661
@janetkuo @SidakM I am on the enhancements team again for release 1.19. Any plans for this in 1.19?

[2020-05-04 17:01] johnbelamaric commented on #669
This feature is complete and the KEP marked `implemented`. Any remaining work to remove the in-tree provider is tracked under a different feature.

/close

[2020-05-04 17:01] #669 closed

[2020-05-04 17:13] tallclair commented on #5
No plans for v1.19, although I'm hoping to see some movement in the v1.20 timeframe.

[2020-05-04 17:33] kikisdeliveryservice commented on #1547
thanks @mattjmcnaughton is this going to graduate to alpha/beta/GA?  Could you update the "Enhancement target" bulletpoint in your first post as well with this info??

[2020-05-04 17:35] kikisdeliveryservice commented on #1547
/milestone v1.19

[2020-05-04 17:37] kikisdeliveryservice commented on #1053
@neolit123 thanks for the update!

[2020-05-04 17:38] kikisdeliveryservice commented on #1067
thanks for the update @harche !

[2020-05-04 17:39] kikisdeliveryservice commented on #1453
/milestone v1.19

[2020-05-04 17:42] kikisdeliveryservice commented on #279
@liggitt just to clarify will this be GA in 1.19?

[2020-05-04 17:42] kikisdeliveryservice commented on #279
/milestone v1.19

[2020-05-04 17:45] palnabarun commented on #669
/milestone v1.17

(since the enhancement was completed in that cycle)

[2020-05-04 18:55] Jefftree commented on #1281
Hi @harshanarayana. This graduated to beta in 1.18 and we don't have any major changes to be included in 1.19.

[2020-05-04 19:17] mikedanese commented on #279
This didn't follow alpha, beta, GA cycle, but basically it's GA now.

[2020-05-04 19:17] johnbelamaric commented on #693
Hi @nolancon @lmdaly, enhancements shadow for 1.19 here. Any plans for this in 1.19?

[2020-05-04 19:20] johnbelamaric commented on #752
Thanks @robscott I will add this to the tracking sheet.

[2020-05-04 19:28] klueska commented on #693
The only planned enhancement for 1.19 is this:
https://github.com/kubernetes/enhancements/pull/1121

The rest of the work will be on code refactoring / bug fixes as necessary.

Is there anyway to change the owner of this issue to me instead of @lmdaly?

[2020-05-04 19:35] johnbelamaric commented on #706
@pierreozoux Enhancements shadow for 1.19 here. Any plans for this in 1.19?

As for how to get something like this going, the most likely way would be to find someone that is very active in sig-apps and ask for their support to move it forward.

Alternatively, since the idea is to build this on CRDs, it could be done completely as an ecosystem project. That is, an independent project.

[2020-05-04 19:36] johnbelamaric commented on #695
Hi @gnufied, I will add this to the tracking sheet.

/milestone v1.19

[2020-05-04 19:40] johnbelamaric commented on #693
Thanks, I'll update the contact.

/milestone v1.19

[2020-05-04 19:54] johnbelamaric commented on #1500
/sig network

@diepes Interesting feature, this is a substantial amount of work. If you are interested in pursuing it, you should initiate a discussion with sig-network, starting with the mailing list and then following up at the SIG meeting.

[2020-05-04 19:57] johnbelamaric commented on #1464
@skilxn-go  Enhancements shadow for 1.19 here. Any plans for this in 1.19?

[2020-05-04 19:59] johnbelamaric commented on #991
@andrewsykim Hi Andrew. Any plans for this in 1.19?

[2020-05-04 20:00] johnbelamaric commented on #950
Hi @matthyx  Enhancements shadow for 1.19 here. Any plans for this in 1.19? Or should I just set it for v1.20?

[2020-05-04 20:05] johnbelamaric commented on #853
@gliush So, as I read it, this was implemented as part of a beta API, so there will be no separate graduation for this feature. It will graduate with that API. Therefore, we can just close this!

/close

[2020-05-04 20:06] #853 closed

[2020-05-04 20:06] johnbelamaric commented on #853
/milestone v1.18

Since that is when it was implemented.

[2020-05-04 20:07] johnbelamaric commented on #853
/stage beta

Also, we would categorize this as "a change to an existing beta API", so I believe the stage should be beta. @palnabarun , make sense?

[2020-05-04 20:12] matthyx commented on #950
Hi @johnbelamaric let's track it for 1.20 if you can. Thanks!

[2020-05-04 20:13] palnabarun commented on #853
@johnbelamaric LGTM! :slightly_smiling_face:

[2020-05-04 20:30] gliush commented on #853
@johnbelamaric : Thank you very much for explanation, it was really helpful!

[2020-05-04 20:55] johnbelamaric commented on #950
Sure.

/milestone v1.20

[2020-05-04 21:00] johnbelamaric commented on #837
@andrewsykim What's the status of this? Is all that is left to remove the beta labels after the deprecation period?

[2020-05-04 21:02] johnbelamaric commented on #784
@rosti Enhancements shadow for 1.19 here. Anything planned for 1.19 for this?

[2020-05-04 21:05] johnbelamaric commented on #1635
/assign @deads2k
/milestone v1.19
/stage stable

I am updating the enhancements team tracking sheet. David, just to confirm you still plan on getting this in for 1.19?

[2020-05-04 21:05] mikedanese commented on #542
This will not be graduating in 1.19, although we have some improvements landing: https://github.com/kubernetes/enhancements/pull/1598

[2020-05-04 21:06] johnbelamaric commented on #1635
/sig api-machinery

[2020-05-04 21:07] marosset commented on #1001
@msedzins - We are hoping to move this feature to beta in 1.19

[2020-05-04 21:08] johnbelamaric commented on #1602
@serathius Enhancements shadow for v1.19 here. Do you see this as moving to alpha in 1.19?

[2020-05-04 21:18] marosset commented on #1301
Hi @palnabarun - This work is not yet in an alpha state  yet.

We are working towards implementing the 'fallback' described under https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/windows-runtimeclass-support.md#proposal by implementing the feature with annotations in 1.19.

[2020-05-04 21:21] johnbelamaric commented on #1645
@JeremyOT Hi Jeremy. I am serving on the enhancements team for 1.19, which means we are tracking what KEPs may be targeted at 1.19. Do you see this moving to alpha in 1.19? If so there is work to be done on the KEP before enhancements freeze in about two weeks.

[2020-05-04 21:26] johnbelamaric commented on #1664
Hi @danwinship , I am on the enhancements team for 1.19. Do you expect this to move to alpha in 1.19?

[2020-05-04 21:29] johnbelamaric commented on #1668
/milestone v1.20

[2020-05-04 21:40] johnbelamaric commented on #1669
@andrewsykim Based on the discussion it looks like you are still planning this for 1.19? If so I will make sure we track it in the release team.

[2020-05-04 22:32] mattjmcnaughton commented on #1547
Done :)

[2020-05-04 22:40] marosset commented on #1043
The KEP covers more than than just the RunAsUserName feature/API work - I think everything in the KEP has been implemented but am checked with @ddebroy

[2020-05-05 08:20] serathius commented on #1602
Yes, I think we are on track. We are finishing  klog upgrade, after that next milestones will be really fast to implement.

[2020-05-05 09:32] ddebroy commented on #1043
All aspects of the KEP https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190418-windows-security-context.md (including RunAsUserName, GMSA specs) has indeed been implemented and graduated to stable. So I have went ahead and marked the KEP `implemented` in  https://github.com/kubernetes/enhancements/pull/1743

[2020-05-05 15:04] johnbelamaric commented on #1602
Thanks, I'll add it to the tracking sheet.

/stage alpha

[2020-05-05 16:39] andrewsykim commented on #1669
I know there's a lot of other efforts in-flight in SIG Network so no worries if this slips v1.19. Assuming we're happy with what's proposed I will have the time to work on it.

[2020-05-05 16:41] andrewsykim commented on #837
Yes! The current plan is to remove the beta labels for v1.21.

[2020-05-05 16:59] johnbelamaric commented on #688
/stage beta

[2020-05-05 18:41] johnbelamaric commented on #837
Thanks Andrew. We won't track in 1.19, then but defer to 1.21.

/milestone v1.21

[2020-05-05 18:44] johnbelamaric commented on #1669
We are trying to reduce content and risk in v1.19 so if you can defer to v1.20 that would be best.

[2020-05-05 18:48] harshanarayana commented on #1281
Hey @Jefftree, thanks for following up on this with an update. I have update the tracking sheet accordingly. 🖖

Thanks

[2020-05-05 19:01] harshanarayana commented on #1258
Hey @alculquicondor, thank you for update the KEP Documentation for `Graduation Criteria`. Tracking sheet has been updated with the details.

Thanks again for your time and contributions. 🖖

[2020-05-05 20:35] sftim commented on #1635
If this merges, there's a nice-to-have enhancement I recommend to the Hugo shortcode `feature-state` on the website: automatically track deprecation and removal information.

[2020-05-05 20:35] mohammad-yazdani commented on #127
@msedzins Hi, I am currently working on this enhancement. This enhancement will not be graduating to 1.19 as it is still under development and testing. Thank you.

[2020-05-05 21:27] msedzins commented on #1001
Thanks @marosset for letting me know.

[2020-05-05 21:28] msedzins commented on #1001
/milestone v1.19

[2020-05-05 21:28] msedzins commented on #1001
/stage beta

[2020-05-05 21:33] msedzins commented on #585
/milestone v1.20

[2020-05-05 21:35] msedzins commented on #556
Thank you @gnufied  for letting me know.

[2020-05-06 06:34] pjbgf commented on #135
There was a slight change of plans on this one - as agreed on yesterday's sig-node meeting. This is now planned for:

/milestone v1.19

[2020-05-06 06:40] pjbgf commented on #135
@palnabarun Do you mind setting this issue to milestone v1.19 please?

/assign pjbgf

[2020-05-06 09:23] pires commented on #693
/assign klueska

[2020-05-06 15:31] JeremyOT commented on #1645
@johnbelamaric I think this will be tight to make alpha for 1.19 - there are some open questions that may take >2 weeks to resolve but I'll work on getting the KEP to a complete state

[2020-05-06 16:20] danwinship commented on #1664
Probably not

[2020-05-06 17:18] tallclair commented on #135
/milestone v1.19

[2020-05-07 00:04] mattjmcnaughton commented on #1547
@kikisdeliveryservice - https://github.com/kubernetes/enhancements/pull/1728 is going to be merged, which will update the KEP accordingly.

[2020-05-07 03:52] alejandrox1 opened #1746 "Moving e2e test framework to staging"
# Enhancement Description
- One-line enhancement description (can be used as a release note): moving e2e test framework into staging.
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): #1763
- Primary contact (assignee): @alejandrox1
- Responsible SIGs: SIG Testing
- Enhancement target (which target equals to which milestone):
  - Alpha release targ

[2020-05-07 13:25] smarterclayton opened #1748 "Expose metrics about resource requests and limits that represent the pod model"
# Enhancement Description
- Administrators of Kube need a metric that correctly describes resource requests from pods and hides the complexities of the evolving pod resource model.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/1748-pod-resource-metrics/README.md
- Primary contact (assignee): @smarterclayton
- Responsible SIGs: si

[2020-05-07 13:26] smarterclayton commented on #1748
/sig instrumentation
/sig node
/sig scheduling

[2020-05-07 16:45] jakubkrzywda opened #1750 "Add an external TLS certificate authenticator"
# Enhancement Description
- One-line enhancement description (can be used as a release note): External TLS certificate authenticator
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1749
- Primary contact (assignee): @jakubkrzywda
- Responsible SIGs: SIG Auth
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.19)
  - Beta re

[2020-05-07 16:46] jakubkrzywda commented on #1750
/sig auth

[2020-05-07 17:38] tallclair commented on #688
I think PodOverhead GA is probably blocked on RuntimeClass GA. That means it might be an option for v1.20. @egernst are there any changes or features you think are missing before going GA? Or are we just waiting for more usage and feedback?

One piece of feedback I have heard a few times is the need for `containerFixed` overhead.

[2020-05-07 17:41] tallclair commented on #1558
Yep, confirmed. I'll paste the rollout plan here to make raise the visibility. We do have an action coming up in
/milestone v1.20

1. **[DONE]** release **1.18**
   1. Mark the `--redirect-container-streaming` flag as deprecated. Log a warning on use.
   2. Mark the `StreamingProxyRedirects` feature as deprecated. Log a warning on use.
2. release **1.19** - no changes
3. release **1.20**
   1. `--

[2020-05-07 17:43] tallclair commented on #1314
No plans for 1.19. There isn't currently anything to graduate with this, but there are unimplemented parts of the KEP that need to be reconsidered.

[2020-05-08 05:02] thockin commented on #753
To everyone who is eager to get this in, and again to @Joseph-Irving - I am personally very sorry for this situation.  I want this (or something like it), too, but the fact of the matter is that sig-node has more work to do than people to do it right now, and they are not ready to consider this.

It sucks.  I get it.  I really really do.

The best way people could help is to jump into sig-node and

[2020-05-08 09:53] 44past4 opened #1753 "Kubernetes system components logs sanitization"
# Enhancement Description
- One-line enhancement description: Introduce a logging filter which could be applied to all Kubernetes system components logs to prevent various types of sensitive information from leaking via logs
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/1753-logs-sanitization
- Primary contact (assignee): @44past

[2020-05-08 11:18] 44past4 commented on #1753
/sig intrumentation

[2020-05-08 11:20] 44past4 commented on #1753
/sig instrumentation

[2020-05-08 11:40] rtheis commented on #671
@kikisdeliveryservice This enhancement will not be graduating in 1.19.  Thanks.

[2020-05-08 12:44] andyzhangx commented on #1490
Azure disk & azure file migration would go beta in 1.19, here is the PR: https://github.com/kubernetes/kubernetes/pull/90896

[2020-05-08 13:57] nicks opened #1755 "sig-cluster-lifecycle: Standard for communicating a local registry"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Standard for communicating a local registry
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/generic/1755-communicating-a-local-registry
- Primary contact (assignee): @nicks

[2020-05-08 13:57] nicks commented on #1755
/sig cluster-lifeycle

[2020-05-08 13:58] nicks commented on #1755
/sig cluster-lifecycle

[2020-05-08 14:38] mikebrow commented on #753
Understood. We've been promoting, with emphasis, sig-node's capacity needs internally. We are bringing on and mentoring sig-node OSS volunteers, some experienced some new, all with a desire to work in this space (four so far). I'll be citing to your comment @thockin, thank you!

[2020-05-08 14:50] jayunit100 commented on #1611
Hi ! Yes wouldlike to have this in 1.19.  Thanks @harshanarayana

[2020-05-08 18:03] pierreozoux commented on #706
I think we can close. When I see the amount of work that goes into the bucket resource definition.
Doing this for postgres and mysql and.. looks like a lifetime project.

Hopefully people buidling postgres operator will come to an agreement on a common CRD, but given the xkcd about standards, I have really little hope :)

[2020-05-08 18:03] #706 closed

[2020-05-08 18:10] liggitt commented on #266
Yes, this is planned to graduate in 1.19.

The original design and feature pre-dated the KEP process, so https://github.com/kubernetes/enhancements/pull/1756 has been opened to convert it to KEP format.

[2020-05-08 18:28] howardjohn commented on #1513
@liggitt can we clarify if Kubernetes intends to support user applications requesting certs signed by the Kubernetes CA using this API, or if the Kubernetes CA is intended only for internal use and this API is to be used with other implementors (like cert-manager) for user applications? Currently this seems to be a bit of a grey area.

Istio currently is using it in this manner so we want to ensur

[2020-05-08 18:40] johnbelamaric commented on #706
:)

A couple years ago I started something like this at https://github.com/infobloxopen/atlas-db. Given the evolution of things since then it probably would need to be completely redone. Also I would design it with *Class objects to segregate platform-specific stuff instead of how it is done there. I think managing the schemas and schema versions is actually a pretty interesting and necessary exte

[2020-05-08 18:43] johnbelamaric commented on #688
Ok, I am going to defer to v1.20, let me know if anything changes.

/milestone v1.20

[2020-05-08 18:48] johnbelamaric commented on #1645
Thanks Jeremy. I'll target it for 1.20, let me know if things proceed faster than expected.

/milestone v1.20

[2020-05-08 18:49] johnbelamaric commented on #1664
Ok, thanks.

/milesone v1.20

[2020-05-08 18:50] johnbelamaric commented on #1664
/milestone v1.20

[2020-05-08 19:02] liggitt commented on #1513
The currently defined kubernetes.io signers are described at https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190607-certificates-api.md#signers:
* `kubernetes.io/kube-apiserver-client` and `kubernetes.io/kube-apiserver-client-kubelet` sign certificates valid for use a client certificates recognized by kube-apiserver
* `kubernetes.io/kubelet-serving` signs serving certificate

[2020-05-08 19:49] howardjohn commented on #1513
@liggitt makes sense, so the API will allow extension for our use case in general, but without extension we would not be supported, as `legacy-unknown` is removed. I am assuming using a signer like `kubernetes.io/kube-apiserver-client` for our own purposes is frowned upon as well? So if we want to continue to use this with v1, we should submit some proposals for this? Is that accurate?

Note -  wh

[2020-05-08 20:13] liggitt commented on #1513
continuing discussion in https://github.com/istio/istio/issues/22161 to keep this issue lower-traffic :)

[2020-05-09 10:56] harshanarayana commented on #1611
Hey @jayunit100 Thanks very much for confirming the status. I've updated the tracker accordingly and marking this with proper milestones.

/milestone v1.19

[2020-05-09 11:04] harshanarayana commented on #19
Hey @soltysh / @kow3ns, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:05] harshanarayana commented on #365
Hey @smarterclayton, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:06] harshanarayana commented on #1073
Hey @fudali113 / @janetkuo / @soltysh, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:07] harshanarayana commented on #1143
Hey @smarterclayton, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:08] harshanarayana commented on #1314
Hey @tallclair, thanks for following up on this with an update. I have update the tracking sheet accordingly. 🖖

Thanks

[2020-05-09 11:12] harshanarayana commented on #1352
Hey @zhangxiaoyu-zidif, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:13] harshanarayana commented on #1487
Hey @davidz627 / @jsafrane, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:14] harshanarayana commented on #1610
Hey @arjunrn, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:15] harshanarayana commented on #1612
Hey @dcbw / @squeed / @mars1024, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:15] harshanarayana commented on #1630
Hey @deads2k, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:16] harshanarayana commented on #1672
Hey @andrewsykim, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:17] harshanarayana commented on #1698
Hey @pohly, I'm following up on my previous update on this Enhancement being part of the `v1.19` release.

Do you happen to have any update on the possiblity of this being included in the release `v1.19`?

Thanks again for your time and contributions. 🖖

[2020-05-09 11:37] palnabarun commented on #117
Hi @mwielgus @josephburnett, pinging back again as a reminder. :slightly_smiling_face:

[2020-05-09 11:40] palnabarun commented on #135
Thank you @pjbgf @tallclair for the update. I've updated the [tracking sheet](http://bit.ly/k8s-1-19-enhancements) according to your plans.

Can you please let me know which graduating stage are you targeting and a link to the KEP?

Thank you! Appreciate all the efforts. :slightly_smiling_face:

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 1

[2020-05-09 11:46] palnabarun commented on #351
/milestone v1.18

(since the enhancement graduated to Stable in 1.18 release cycle)

[2020-05-09 12:22] palnabarun commented on #563
Thank you, Lachie for the updates. I appreciate all the efforts! :slightly_smiling_face:

[2020-05-09 12:23] palnabarun commented on #606
/remove-lifecycle stale

[2020-05-09 13:45] palnabarun commented on #647
Hi @dashpole, checking back again as a reminder to the above.

[2020-05-09 13:56] palnabarun commented on #740
Hi @micahhausler, pinging back again as a reminder for the above.

[2020-05-09 13:57] palnabarun commented on #752
/milestone v1.19

[2020-05-09 13:59] palnabarun commented on #758
/milestone clear

(clearing milestone as 1.18 release cycle is complete)

[2020-05-09 14:04] palnabarun commented on #902
Hi @denkensk @vllry, pinging again to check whether this enhancement would graduate to beta in 1.19.

[2020-05-09 14:12] palnabarun commented on #961
Hi @krmayankk, pinging back again as a reminder for the above.

[2020-05-09 19:01] msedzins commented on #127
@mohammad-yazdani  thank you for letting me know!

[2020-05-09 19:02] msedzins commented on #18
Hi there @justinsb,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-09 19:03] msedzins commented on #34
Hi there @sttts , @derekwaynecarr ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-09 19:03] msedzins commented on #213
Hi there @krmayankk ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-09 19:03] msedzins commented on #361
Hi there @vishh ,

Kind reminder about my question above.

Regards,
Mirek

[2020-05-09 19:04] msedzins commented on #362
Hi there @jingxu97 , @vishh

Kind reminder about my question above.

Regards,
Mirek

[2020-05-09 19:04] msedzins commented on #423
Hi @justinsb , kind reminder about my question above.

Thx!

[2020-05-09 19:05] msedzins commented on #542
thank you @mikedanese  for letting me know!

[2020-05-09 19:06] msedzins commented on #592
Hi @janetkuo , kind reminder about my question above.

Thx!

[2020-05-09 19:06] msedzins commented on #1208
Hi @jfbai , kind reminder about my question above.

Thx!

[2020-05-09 19:07] msedzins commented on #1384
Kind reminder @kkmsft @PatrickLang about the question above,

Thanks!

[2020-05-09 19:07] msedzins commented on #1393
Kind reminder @mtaufen about the question above,

Thanks!

[2020-05-09 19:35] tallclair commented on #135
Targeting GA

KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190717-seccomp-ga.md
The KEP still has unresolved sections, with follow-up PR: https://github.com/kubernetes/enhancements/pull/1747

[2020-05-11 03:04] jqmichael commented on #592
@janetkuo I would love to help out on some of the tasks to promote this feature to beta. Super critical to customers who run tons of jobs. Let me know.

[2020-05-11 05:36] kikisdeliveryservice commented on #266
/milestone v1.19

[2020-05-11 05:43] kikisdeliveryservice commented on #671
thank you for the update @rtheis !

[2020-05-11 05:46] kikisdeliveryservice commented on #1547
excellent! thank you @mattjmcnaughton !

[2020-05-11 07:46] jakubkrzywda commented on #1750
/assign @jakubkrzywda

[2020-05-11 07:48] jakubkrzywda commented on #1750
/milestone v1.19

[2020-05-11 15:52] mattjmcnaughton commented on #1547
@kikisdeliveryservice, the PR is merged: https://github.com/kubernetes/kubernetes/pull/87746

Thanks!

[2020-05-11 15:52] mattjmcnaughton commented on #1547
@dims I'm not super familiar w/ KEP tracking - can/should we close this issue now?

[2020-05-11 16:19] dashpole commented on #647
@palnabarun This should hopefully be alpha for 1.19

[2020-05-11 16:37] kikisdeliveryservice commented on #1547
@mattjmcnaughton please keep this issue open as the enhancements team will use it for tracking until we finish up with 1.19

[2020-05-11 16:45] kikisdeliveryservice commented on #1547
Also, once you are satisfied all your criteria have been met, the KEP should be updated as follows: 'status' to implemented and 'last-updated' to the date you are making this change to the KEP.

[2020-05-11 17:15] palnabarun commented on #647
Hi @dashpole, thank you for the update. I have the [tracking sheet](https://bit.ly/k8s-1-19-enhancements) accordingly.

Please keep updating here the relevant k/k or other repository PR's for the release team to track, once work on the KEP starts.

[2020-05-11 17:16] palnabarun commented on #647
/stage alpha

[2020-05-11 17:23] palnabarun commented on #1440
Hi @soltysh, pinging back again as a reminder for the above. :slightly_smiling_face:

[2020-05-11 17:23] palnabarun commented on #1472
Hi @pohly, pinging back as a reminder for the above. :slightly_smiling_face:

[2020-05-11 17:24] palnabarun commented on #1488
Hi @davidz627, pinging back as a reminder for the above. slightly_smiling_face

[2020-05-11 17:24] palnabarun commented on #1489
Hi @msau42 @davidz627, pinging back as a reminder for the above. slightly_smiling_face

[2020-05-11 17:28] hpandeycodeit commented on #1440
@palnabarun Yes, It will be graduating in v1.19

[2020-05-11 17:29] palnabarun commented on #1490
Hi @andyzhangx :wave: , thank you for the update. I've updated the [tracking sheet](https://bit.ly/k8s-1-19-enhancements) accordingly.

Let us know if there are any other PR's that you would want to track for this release.

[2020-05-11 17:30] palnabarun commented on #1490
/stage beta
/milestone v1.19

[2020-05-11 17:30] palnabarun commented on #1495
Hi @bswartz, pinging back as a reminder for the above. :slightly_smiling_face:

[2020-05-11 18:05] palnabarun commented on #1558
@tallclair Thank you for the update. Also, a big shoutout for putting put all future plans in the issue as a comment. :heavy_plus_sign:

[2020-05-11 18:06] palnabarun commented on #1702
Hi @pohly, pinging back as a reminder for the above. :slightly_smiling_face:

[2020-05-11 18:28] bswartz commented on #1495
We're trying to make progress towards beta, but at this point I'm forced to admit this will likely remain alpha in 1.19 and we will try to move to beta in 1.20.

[2020-05-11 21:00] msau42 commented on #1489
I think we should remain in beta for 1.19 and work towards stabilizing the feature as well as getting it bundled with the openstack cloud controller. @adisky do you plan to continue working on this?

[2020-05-11 22:41] palnabarun commented on #1739
Hey @neolit123 -- 1.19 Enhancements Lead here. I wanted to check in and see if you think this Enhancement will be graduating to Alpha in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle beg

[2020-05-11 22:42] palnabarun commented on #1710
Hi @pohly, pinging back as a reminder of the above. :slightly_smiling_face:

[2020-05-11 22:58] palnabarun commented on #1043
Thank you @marosset @ddebroy for updating the status of the KEP. :+1:

/close

(since the corresponding KEP has been implemented)

[2020-05-11 22:58] #1043 closed

[2020-05-11 23:00] neolit123 commented on #1739
hi, yes the feature is planned as alpha for 1.19.
the KEP in https://github.com/kubernetes/enhancements/pull/1742 should merge as "implementable" before the 19th.

[2020-05-11 23:04] palnabarun commented on #1440
Hi @hpandeycodeit, thank you for the update. :+1:

I've updated the [tracking sheet](https://bit.ly/k8s-1-19-enhancements) accordingly.

[2020-05-11 23:05] palnabarun commented on #1440
As an additional note, please link to any k/k or other PR's here so that we can track them for the release.

[2020-05-11 23:09] palnabarun commented on #1739
@neolit123 Awesome! :fireworks: Thank you for the update.

I am going ahead and updating the [tracking sheet](https://bit.ly/k8s-1-19-enhancements) accordingly.

PS: Until the PR gets merged, I'm marking the enhancement `At Risk`. Once, the PR gets merged, I would update the status.

[2020-05-11 23:25] palnabarun commented on #135
Hi @tallclair, thank you for the update. :+1:

I have updated the [tracking sheet](https://bit.ly/k8s-1-19-enhancements) accordingly.

[2020-05-11 23:27] palnabarun commented on #135
PS: I have updated the issue description with links to the KEP and the latest KEP update PR.

[2020-05-11 23:28] palnabarun commented on #1739
/stage alpha
/milestone v1.19

[2020-05-12 00:11] mtaufen commented on #1393
@msedzins Sorry for the delayed reply. Yes, we are looking to graduate to beta in v1.19. (1, 2, 3) are all outlined in our KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190730-oidc-discovery.md. Please add us to the tracking sheet :)

[2020-05-12 00:45] msau42 commented on #362
There are no plans to graduate this feature in 1.19

[2020-05-12 01:37] msau42 commented on #625
No plans to graduate in 1.19. I think next steps are to have each of the plugins do further testing and fixes, as well as moving towards deploying their csi driver along with the respective cloud controller manager, so that we can eventually flip the feature on by default.

[2020-05-12 06:19] harshanarayana commented on #1611
Hey @jayunit100 I was wondering if you can help me with a clarification regarding the graduation criteria with regards to the KEP?

Since the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20200204-NetworkPolicy-verification-rearchitecture.md) is missing information specific to the k8s versions and this is a test architecting redesign, will the entire specification o

[2020-05-12 08:52] pjbgf commented on #135
thank you @palnabarun for the update. :+1:

[2020-05-12 12:44] cezaryzukowski opened #1769 "Memory Manager"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Memory Manager is a new component in kubelet ecosystem proposed to offer multi-NUMA guaranteed memory allocation for pods in Guaranteed QoS class.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1769-memory-manager
- Primary contact (assignee): @Tal-

[2020-05-12 12:45] cezaryzukowski commented on #1769
/sig sig-node

[2020-05-12 12:47] cezaryzukowski commented on #1769
/sig node

[2020-05-12 12:52] cezaryzukowski commented on #1769
/kind kep
/kind feature

[2020-05-12 12:53] cezaryzukowski commented on #1769
/milestone v1.19

[2020-05-12 14:56] jakubkrzywda commented on #1750
/kind kep
/kind feature

[2020-05-12 16:10] johnbelamaric commented on #596
@pohly @saad-ali Any plans for this in 1.19? We need to track it in the release team if so - please let me know.

 _**Enhancements freeze is in one week, on May 19.**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions a

[2020-05-12 16:15] johnbelamaric commented on #597
@gnufied @saad-ali Thoughts? Keep this open? Close it? Any plans for 1.19? We need to track it in the release team if so - please let me know.

 _**Enhancements freeze is in one week, on May 19.**_

In order to be in the release it will need a KEP, including:
 * Be in `implementable` state
 * Have a test plan
 * Have graduation criteria
 * Answer the PRR questions in the template that are applicab

[2020-05-12 16:20] johnbelamaric commented on #606
@dashpole @RenaudWasTaken Ping! We need to track it in the release team if so - please let me know if there are any plans for this in 1.19.

_**Enhancements freeze is in one week, on May 19.**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and a

[2020-05-12 16:22] dashpole commented on #606
@johnbelamaric I don't have any plans for this in 1.19.  Are all old KEPs required to update to the new template?

[2020-05-12 16:24] johnbelamaric commented on #625
Ok, so no major changes either then that need to be tracked? That is, are you expecting some of that work to move forward, and should be track the associated PRs to make sure they are on track for inclusion in 1.19? If so, let me know.

 _**Enhancements freeze is in one week, on May 19.**_

Note also that recently the KEP format has changed, and #1620 merged recently, adding production readiness r

[2020-05-12 16:32] johnbelamaric commented on #606
When you go to move to the next stage you can update the KEP then. No need to update it now. It's pretty painless though. Thanks David.

[2020-05-12 16:35] johnbelamaric commented on #661
@janetkuo @SidakM Ping! We need to track it in the release team if so - please let me know if there are any plans for this in 1.19.

_**Enhancements freeze is in one week, on May 19.**_

In order to be in the release this KEP will need:
 * To be `implementable`
 * To have a test plan
 * To have graduation criteria defined
 * To have answers to the PRR questions in the template relevant to the stag

[2020-05-12 16:39] palnabarun commented on #1489
Thank you @msau42 for the update. I will update the tracking sheet accordingly. :+1:

[2020-05-12 16:39] palnabarun commented on #1489
/milestone clear

[2020-05-12 17:35] msau42 commented on #625
There are no known issues that need to be tracked. As each driver does more testing and potentially find issues, then we will track them.

[2020-05-12 19:04] palnabarun commented on #668
/remove-lifecycle stale

[2020-05-12 19:08] palnabarun commented on #1238
/remove-lifecycle stale

[2020-05-12 19:10] palnabarun commented on #1238
Hi @RainbowMango, is this an enhancement? I see that the issue acts as an Umbrella issue for several changes in k/k.

Can we close this if this issue is not an enhancement since k/enhancements repo is used for tracking KEPs and corresponding enhancements issues?

[2020-05-12 19:21] palnabarun commented on #1769
Hey there @cezaryzukowski @bg-chun -- 1.19 Enhancements Lead here. I wanted to check in and see if you think this Enhancement will be graduating to Alpha in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

As an additional note, https://github.com/kubernetes/enhancemen

[2020-05-12 23:02] johnbelamaric commented on #693
Hi Kevin. Recently the KEP format has changed, and also #1620 merged last week, adding production readiness review questions to the KEP template. If possible, please take the time to reformat your KEP and also answer the questions add to the [template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template). The answers to those questions will be helpful to operators using a

[2020-05-12 23:02] johnbelamaric commented on #693
@klueska ^^

[2020-05-13 00:29] johnbelamaric commented on #784
Hi @rosti - Ping! Any plans for this in 1.19? We need to track it in the release team if so - please let me know.

 _**Enhancements freeze is in one week, on May 19.**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions

[2020-05-13 00:32] johnbelamaric commented on #991
@andrewsykim Ping!

Any plans for this in 1.19? We need to track it in the release team if so - please let me know.

 _**Enhancements freeze is in one week, on May 19.**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the question

[2020-05-13 01:06] RainbowMango commented on #1238
ok.

[2020-05-13 01:06] #1238 closed

[2020-05-13 04:02] bg-chun commented on #693
@klueska @johnbelamaric
I also plan to add new topology policy on 1.19 rel.
But it didnt get review by owner and maintainer yet.

- KEP Update PR: https://github.com/kubernetes/enhancements/pull/1752
- [WIP]PR for kubelet: https://github.com/kubernetes/kubernetes/pull/90974

[2020-05-13 04:18] palnabarun commented on #1238
Thank you @RainbowMango. 🙂

[2020-05-13 09:05] rosti commented on #784
Sorry for the delay @johnbelamaric !
I won't be doing any work here in 1.19 as it needs a KEP update and #1439 to land too.

[2020-05-13 10:02] knight42 commented on #1440
@soltysh may I ask what is the progress now? are there anything remain to do? if so I want to volunteer.

[2020-05-13 18:21] pohly commented on #1472
@palnabarun: please track this for 1.19 as a new alpha feature.

The KEP still needs to be merged, but today we reached an agreement how we'll get there.

[2020-05-13 18:24] pohly commented on #1698
@harshanarayana: please track this as a new alpha feature for 1.19.

The KEP still needs to be merged, but we already discussed it and should get there soon.

[2020-05-13 18:25] pohly commented on #1702
This is not going to make it into 1.19.

[2020-05-13 18:29] harshanarayana commented on #1698
Hey @pohly, thank you for confirming the inclusion into `v1.19`.. I will update the tracking sheets accordingly.

/milestone v1.19
/stage alpha

[2020-05-13 18:43] johnbelamaric commented on #784
Thanks @rosti.

[2020-05-13 19:07] palnabarun commented on #1702
@pohly -- Thanks for the update. I have removed this enhancement from the 1.19 release cycle.

[2020-05-13 19:12] palnabarun commented on #1472
@pohly -- Sure. I am going ahead and marking this enhancement `At Risk` since the KEP PR in flight.

Please keep a note of the requirements for Enhancements Freeze:

1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

In addition to the above, https://github.com/kubernetes/enhancements/pull/1620 merged recently, adding p

[2020-05-13 19:12] palnabarun commented on #1472
/stage alpha
/milestone v1.19

[2020-05-13 19:18] palnabarun commented on #1495
@bswartz -- Thank you for the update. I have updated the tracking sheet. :+1:

[2020-05-13 19:21] palnabarun commented on #1381
Hi @rosti, pinging back to check if a PR to update the KEP is in flight. If so, can you please link it here so that we can track it? Let me otherwise too. :slightly_smiling_face:

[2020-05-13 19:22] palnabarun commented on #1206
@RainbowMango -- pinging back as a reminder of the above. :slightly_smiling_face:

[2020-05-13 19:28] palnabarun commented on #1186
Based on the review comments on https://github.com/kubernetes/enhancements/pull/1187 and https://github.com/kubernetes/kubernetes/pull/80411 , closing the issue. Feel free to reopen it, in case it gets taken up again.

/close

[2020-05-13 19:28] #1186 closed

[2020-05-13 19:38] Huang-Wei commented on #902
SIG-Scheduling agreed to promote it to beta in 1.18, but unfortunately somehow it slipped. I think it's valid to move it to beta, from what I know, some users (@karlkfi)  are expecting it to try it out and give some feedback.

@denkensk @vllry Do you think you're able to cover this in 1.19? If no, I can ask around in sig-scheduling if anyone else can step in.

[2020-05-13 19:45] andrewsykim opened #1771 "Versioning Policy for External Cloud Providers"
# Enhancement Description

- One-line enhancement description (can be used as a release note):

Propose a versioning policy that all external cloud providers should follow.

- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)

https://github.com/kubernetes/enhancements/pull/1727

- Primary contact (assignee): @andrewsykim
- Responsible SIGs: Cloud Pro

[2020-05-13 19:54] andrewsykim commented on #1771
/sig cloud-provider

[2020-05-13 19:59] msedzins commented on #362
Thank you @msau42  for letting me know.

[2020-05-13 20:14] msedzins commented on #541
Hi @enj ,

Note that recently the KEP format has changed.

#1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions add to the template in that PR.

Thanks!

[2020-05-13 20:46] vllry commented on #902
I will do my best, but I need to brush up on the API promotion process.

On Wed, May 13, 2020 at 12:39 PM, Wei Huang <notifications@github.com>
wrote:

[2020-05-13 20:53] msedzins commented on #1001
Hi @marosset , @michmike ,

Note that recently the KEP format has changed.

#1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions add to the template in that PR.

Thanks!

[2020-05-13 20:57] msedzins commented on #1040
Hi @yue9944882  , @MikeSpreitzer ,

Note that recently the KEP format has changed.

#1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions add to the template in that PR.

Also please remember about graduation criteria.

Thanks!

[2020-05-13 21:04] msedzins commented on #1393
/milestone v1.19

[2020-05-13 21:07] msedzins commented on #1393
Hi @mtaufen, done!

Note that recently the KEP format has changed.

#1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions add to the template in that PR.
Thanks!

[2020-05-13 21:39] msedzins commented on #1432
Hi @xing-yang ,

Note that recently the KEP format has changed.

#1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions add to the template in that PR.

Also please remember about graduation criteria. I still can't see the criteria for zero state to alfa.

Thanks!

[2020-05-13 21:45] msedzins commented on #1451
Hi @alculquicondor  ,

Note that recently the KEP format has changed.

#1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions add to the template in that PR.

Also please remember about graduation criteria.

Thanks!

[2020-05-13 21:47] msedzins commented on #1513
Hi @liggitt ,

Note that recently the KEP format has changed.

#1620 merged recently, adding production readiness review questions to the KEP template. Please take this opportunity to reformat your KEP and also answer the questions add to the template in that PR.
Thanks!

[2020-05-13 21:59] johnbelamaric commented on #1464
@skilxn-go Checking in again regarding tracking this for 1.19.

_**Enhancements freeze is in one week, on May 19.**_

In order to be in the release this KEP will need to be merged and:
 * To be `implementable`
 * To have a test plan
 * To have graduation criteria defined
 * To have answers to the PRR questions in the template relevant to the stage

Thanks!

[2020-05-13 22:08] johnbelamaric commented on #1602
Hi @serathius, I was looking over the KEP and noticed that there is no test plan defined. Please add a bit about the test plan in order to target to 1.19. _**Enhancements freeze is next week, May 19.**_

Also, thanks for adding the PRR questions from the previous pilot. We have now updated those and integrated that with the updated KEP format. If you can, please take this opportunity to update the

[2020-05-13 22:21] xing-yang commented on #1432
Hi @msedzins, thanks for the reminder!  Yes, I have an PR opened for this: https://github.com/kubernetes/enhancements/pull/1740/files

[2020-05-13 22:24] johnbelamaric commented on #1693
Hi @liggitt, as I believe you are aware we recently merged #1620 which adds the PRR questions to the KEP, as well as some additional metadata to the `kep.yaml`. Please update the KEP when you have a chance. Thanks!

[2020-05-13 22:27] neolit123 commented on #1513
@msedzins does this apply to all new KEP PRs that are in flight or only to those for core APIs?

[2020-05-14 01:31] xing-yang commented on #1432
Hi @msedzins, the updated KEP is merged.  Can you check it?  https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1432-volume-health-monitor

[2020-05-14 02:19] denkensk commented on #902
@Huang-Wei @vllry thanks for your reminder,  I will try my best to promote it to beta in 1.19.

[2020-05-14 03:22] harshanarayana commented on #1750
Hey there @jakubkrzywda -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle beg

[2020-05-14 03:23] harshanarayana commented on #1748
Hey there @smarterclayton -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle b

[2020-05-14 03:24] harshanarayana commented on #1746
Hey there @alejandrox1 -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an `implementable` state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begi

[2020-05-14 03:32] harshanarayana commented on #19
Hey @soltysh / @kow3ns, any plans for the Enhancements to be included in `v1.19`? Please let me know so that I can update the tracking sheet to show the inclusion state.

_**Enhancements freeze is on May 19**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template.
Please take this opportunity to reforma

[2020-05-14 03:39] harshanarayana commented on #365
Hey @smarterclayton Is there any plans with regards to the inclusion of this enhancement for the `v1.19` release?

I noticed there's no KEP linked in the issue description; as a reminder, every enhancement requires a KEP in an implementable state with Graduation Criteria explaining each alpha/beta/stable stages requirements.

Please note that _**Enhancements freeze is on May 19**_

Thanks.

[2020-05-14 03:40] harshanarayana commented on #1073
Hey @fudali113 / @janetkuo / @soltysh, any plans for the Enhancements to be included in `v1.19`? Please let me know so that I can update the tracking sheet to show the inclusion state.

_**Enhancements freeze is on May 19**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template.
Please take this opportu

[2020-05-14 03:42] harshanarayana commented on #1143
Hey @smarterclayton, any plans for the Enhancements to be included in `v1.19`? Please let me know so that I can update the tracking sheet to show the inclusion state.

_**Enhancements freeze is on May 19**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template.
Please take this opportunity to reformat y

[2020-05-14 03:42] harshanarayana commented on #1352
Hey @zhangxiaoyu-zidif, any plans for the Enhancements to be included in `v1.19`? Please let me know so that I can update the tracking sheet to show the inclusion state.

_**Enhancements freeze is on May 19**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template.
Please take this opportunity to reforma

[2020-05-14 03:44] harshanarayana commented on #1487
Hey @jsafrane / @davidz627, any plans for the Enhancements to be included in `v1.19`? Please let me know so that I can update the tracking sheet to show the inclusion state.

_**Enhancements freeze is on May 19**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template.
Please take this opportunity to ref

[2020-05-14 03:44] harshanarayana commented on #1610
Hey @arjunrn, any plans for the Enhancements to be included in `v1.19`? Please let me know so that I can update the tracking sheet to show the inclusion state.

_**Enhancements freeze is on May 19**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template.
Please take this opportunity to reformat your KEP

[2020-05-14 03:48] harshanarayana commented on #1612
Hey @dcbw / @squeed / @mars1024, enhancements team shadow here for the `v1.19` release.

I was wondering if there any plans of this being included into the `v1.19` release cycle. Please let me know so that we can start tracking this accordingly.

As a gentle reminder, a KEP is mandatory for an enhancement to be include into a milestone under a specific stage as expressed by the KEP.

Thanks again

[2020-05-14 03:49] harshanarayana commented on #1630
Hey @deads2k, any plans for the Enhancements to be included in `v1.19`? Please let me know so that I can update the tracking sheet to show the inclusion state.

_**Enhancements freeze is on May 19**_

Note that recently the KEP format has changed. Additionally, #1620 merged recently, adding production readiness review questions to the KEP template.
Please take this opportunity to reformat your KEP

[2020-05-14 03:52] harshanarayana commented on #1672
Hey @andrewsykim , Enhancements team shadow here for the release `v1.19` cycle.

I am just following up to see if this enhancement item is still being planned for `v1.19` so that we can start tracking the details in the tracker sheet.  Please let me know if it is planned to inclusion and I will update the trackers accordingly.

Thanks

[2020-05-14 07:25] jsafrane commented on #1487
No, we're going to skip GA in 1.19.

[2020-05-14 09:01] 44past4 commented on #1753
/kind kep
/kind feature

[2020-05-14 14:18] palnabarun commented on #1753
Hey there @44past4  -- 1.19 Enhancements Lead here. I wanted to check in and see if you think this Enhancement will be graduating to Alpha in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

As an additional note, https://github.com/kubernetes/enhancements/pull/1620 me

[2020-05-14 14:20] palnabarun commented on #1755
Added the `tracked/out-of-tree` label after a confirming directly through Slack.

[2020-05-14 15:32] palnabarun commented on #495
Hi @verb

We are encouraging SIGs to push for features this cycle which do not increase end-user complexity. If removing the feature gate breaks backward compatibility, I would suggest against removing it this cycle.

However, I think discussing with the SIG would be the best way to get an answer to the question.

Thanks! :+1:

[2020-05-14 17:18] palnabarun commented on #1557
As per a Slack conversation with @soltysh (SIG CLI chair), this seems to be a one-off improvement and doesn't require a KEP. Hence, closing this.

/close

[2020-05-14 17:19] palnabarun commented on #1559
As per a Slack conversation with @soltysh (SIG CLI chair), this seems to be a one-off improvement and doesn't require a KEP. Hence, closing this.

/close

[2020-05-14 17:19] #1557 closed

[2020-05-14 17:19] #1559 closed

[2020-05-14 17:31] alejandrox1 commented on #1746
Hi @harshanarayana ,
I am hopeful :smile:  that this will make it into 1.19
The PR ref above aims to introduce a KEP that meets all the criteria you menitoned

[2020-05-14 20:15] harshanarayana commented on #1611
/stage stable

[2020-05-14 20:22] alculquicondor opened #1775 "kep.yaml template not validated"
As a result, adding `stage`, as requested by the template, cause verify failures

[2020-05-14 20:23] alculquicondor commented on #1775
/sig contributor-experience

[2020-05-14 20:24] alculquicondor commented on #1775
/remove-sig contributor-experience
/sig architecture

[2020-05-14 21:11] jeremyrickard opened #1777 "kepval unit tests failing"
Some of the kepval unit tests are failing:

[code]

[2020-05-14 21:12] jeremyrickard commented on #1777
/sig architecture

[2020-05-15 00:19] liggitt commented on #266
KEP format merged at https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/266-kubelet-client-certificate-bootstrap-rotation

[2020-05-15 00:46] alculquicondor opened #1779 "Proposal type should be used in YAML validations"
/sig architecture

`ValidateStructure` should be using the `Proposal` type instead of having to cast empty interfaces. This should make modifying the validation code easier.

https://github.com/kubernetes/enhancements/blob/b932f39367f67c2284ae85169c30232e443428a4/pkg/kepval/keps/validations/yaml.go#L126

[2020-05-15 00:46] alculquicondor commented on #1779
@jeremyrickard, if you agree, I have a contributor that can work on this.

[2020-05-15 01:54] #1777 closed

[2020-05-15 01:55] justaugustus commented on #1779
@alculquicondor -- sounds good. Just tag us when the PR is ready.

[2020-05-15 03:27] tpepper opened #1780 "grammar/typo"
The NNNN-kep-template/README.md and many other existing KEPs include the text:
[code]
which looks like it should probably be instead something like:
[code]
but I'm unsure if there's a pattern for cleaning up things versus fixing the template and letting new things get the improvement.

[2020-05-15 03:27] tpepper commented on #1780
/sig pm

[2020-05-15 07:23] leakingtapan commented on #1487
Skipping 1.19 sounds reasonable to me

[2020-05-15 07:44] palnabarun commented on #1771
Hi @andrewsykim -- 1.19 Enhancements Lead here.

Looking at the KEP, it seems that it is an out-of-tree change. Can you please confirm the same?

Thanks! :slightly_smiling_face:

[2020-05-15 07:45] palnabarun commented on #1780
/area enhancements

[2020-05-15 07:46] palnabarun commented on #1780
/sig architecture

[2020-05-15 08:03] jakubkrzywda commented on #1750
Hi @harshanarayana!

Yes, we are aiming at graduating this KEP in 1.19 release.

Thanks a lot!

[2020-05-15 09:02] enj commented on #1750
There is some confusion here.  Graduation refers to the enhancement/feature, not the KEP document.  This will not be graduating in v1.19.

Enhancement freeze is next Tuesday and I do not expect consensus on even the shape of the API at that point.  Thus I suspect this will not be included in the v1.19 release, even as an alpha.  I suggest adding the KEP to the next sig-auth meeting agenda so we ca

[2020-05-15 15:02] harshanarayana commented on #1122
Hi @ddebroy, member of Enhancements team for the `v1.19` here with a quick update.

PR #1620 was merged recently, adding production readiness review questions to the KEP template. We are not making it mandatory for the 1.19 release cycle, but it would be great if the PRR questionnaire is filled since the KEP PR is in flight.

[2020-05-15 15:03] harshanarayana commented on #1258
Hi @alculquicondor, member of Enhancements team for the `v1.19` here with a quick update.

PR #1620 was merged recently, adding production readiness review questions to the KEP template. We are not making it mandatory for the 1.19 release cycle, but it would be great if the PRR questionnaire is filled since the KEP PR is in flight.

[2020-05-15 15:09] harshanarayana commented on #1682
Hey @huffmanca , Enhancements shadow for the `v1.19` here. Thanks for updating the KEP and including the PRR criteria 🖖

[2020-05-15 15:11] harshanarayana commented on #1688
Hey @enj, member of Enhancements team for the v1.19 here with a quick update.

PR #1620 was merged recently, adding production readiness review questions to the KEP template. We are not making it mandatory for the 1.19 release cycle, but it would be great if the PRR questionnaire is filled since the KEP is still in flight.

[2020-05-15 15:20] harshanarayana commented on #1746
Hey @alejandrox1 thanks for confirming the inclusion of the Enhancement into the `v1.19` release cycle. I noticed that this is not a conventional KEP considering that it is a Test framework side of rearchitecting.  Going over the KEP, I noticed that the current plan is to have this into `alpha` stage for the `v1.19` release. I will go ahead and track this accordingly.

[2020-05-15 15:20] harshanarayana commented on #1746
/milestone v1.19
/stage alpha

[2020-05-15 15:59] harshanarayana commented on #1750
Hey @enj Thanks for clarifying the inclusion state of the enhancement into the `v1.19` release cycle. The tracking sheet has been updated accordingly.

[2020-05-15 18:07] palnabarun commented on #1498
After a discussion with Tim on Slack, adding the enhancement to the tracking sheet and setting the graduation stage as `stable`.

A point to note here is this enhancement does not follow the conventional graduation style of `Alpha -> Beta -> Stable` but in either implemented in a release cycle or not. Hence, marking it as `stable`.

/stage stable

cc: @tpepper

[2020-05-15 18:45] tpepper commented on #1498
see also #1782

[2020-05-15 19:31] smarterclayton commented on #1748
I don't think we'll make implementable and merged by Tuesday, so should be targeted for 1.20

[2020-05-15 19:56] jeremyrickard opened #1783 "KEP Types: Feature vs Policy vs ???"
Over the course of the last few releases, we've seen some Enhancement issues/KEPs that are really focused on policy or tooling changes. These often don't _really_ align with a release / milestone like KEPs that represent new features that can graduate stages within the cadence of a release. As we add more validation to `kepval`, there are also things in the KEP template that may or may not be appl

[2020-05-15 19:56] jeremyrickard commented on #1783
/sig architecture
/area enhancements

[2020-05-15 21:16] jayunit100 commented on #1611
thanks harsha, yup, per our conv yesterday, we'll be able to get this to 1.19, and the current WIP implementation is here https://github.com/vmware-tanzu/antrea/blob/master/hack/netpol/pkg/main/main.go

[2020-05-15 21:47] palnabarun commented on #647
@dashpole -- I noticed that the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/0034-distributed-tracing-kep.md) is still in `provisional` state and is missing Test Plans and Graduation Criteria. Can you please update the KEP?

---
**The Enhancements Freeze is on Tuesday, May 19 EOD Pacific Time**

[2020-05-15 22:41] palnabarun commented on #1432
@xing-yang -- The KEP looks perfect. :slightly_smiling_face:

We really appreciate the effort taken to update the KEP to the new format and answering the PRR questions. :+1:

[2020-05-16 01:15] kikisdeliveryservice commented on #1659
Hi @thockin !

Gentle reminder: Enhancements Freeze is Tuesday, May 19th (EOD PST).  To be included in the release, this enhancement must have a merged KEP in the implementable status. The KEP must also have graduation criteria and a Test Plan defined. Once coding begins please list all relevant k/k PRs in this issue so they can be tracked properly.

As an additional note, #1620 merged recently, a

[2020-05-16 01:20] kikisdeliveryservice commented on #1623
/tracked yes

[2020-05-16 01:21] kikisdeliveryservice commented on #1623
/milestone 1.19

[2020-05-16 01:21] kikisdeliveryservice commented on #1623
/milestone v1.19

[2020-05-16 01:24] kikisdeliveryservice commented on #1623
Hi @deads2k

As a quick note: #1620 merged recently, adding production readiness review questions to the KEP template. We are not making it mandatory for the 1.19 release cycle, but it would be great if the PRR questionnaire is filled. You can find the template at https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

Thanks!

[2020-05-16 01:29] kikisdeliveryservice commented on #1623
I also notice that the merged KEP does not have the required test plans: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1623-standardize-conditions#implementation-history

[2020-05-16 01:38] kikisdeliveryservice commented on #1618
Hi John,

I see that the underlying KEP as merged but is marked as provisional, will this be moved to implementable along with test plans by next Tuesday for inclusion in 1.19?

Thanks!

[2020-05-16 02:00] kikisdeliveryservice commented on #279
@mikedanese @liggitt

I notice that the underlying KEP does not have a Test Plan, can you please update the KEP to have one by the Enhancements Freeze (Tuesday May 19th EOD PST) as this is required for inclusion in 1.19 release.

As an additional note, #1620 merged recently, adding production readiness review questions to the KEP template. We are not making it mandatory for the 1.19 release cycle,

[2020-05-16 02:02] kikisdeliveryservice commented on #267
Gentle reminder: Enhancements Freeze is Tuesday, May 19th (EOD PST).  To be included in the release, this enhancement must have a merged KEP in the implementable status. The KEP must also have graduation criteria and a Test Plan defined. Once coding begins please list all relevant k/k PRs in this issue so they can be tracked properly.

As an additional note, #1620 merged recently, adding productio

[2020-05-16 02:35] xing-yang commented on #1432
Thanks @palnabarun! :)

[2020-05-16 13:45] fengzixu commented on #1779
/assign @fengzixu

[2020-05-17 19:05] msedzins commented on #1040
Hi @yue9944882 , @MikeSpreitzer ,

Please not that enhancement freeze is on Tuesday, May 19.
There are still not graduation criteria in KEP.

Regards,
Mirek

[2020-05-17 19:10] msedzins commented on #1451
Hi @alculquicondor, thank you for you effort to update KEP to the new format, much appreciated!

[2020-05-17 19:33] msedzins commented on #1513
Hi @neolit123 , it applies to all KEPs that want to be part of the release. But for v.1.19 release the updated KEP format is not mandatory.

We appreciate if you manage to update your KEP so that it conforms to the new format but if you prefer not to do that for any reason - that's fine.

Regards,
Mirek

[2020-05-18 02:44] yue9944882 commented on #1040
hi @msedzins, there's an opening pull adding beta critiria to the KEP https://github.com/kubernetes/enhancements/pull/1632. do we need to merge it before the freeze?

[2020-05-18 06:25] pohly commented on #596
No changes planned in 1.19. We keep this in beta because we are working on a related feature (see #1698) which may or may not be merged with this one here.

[2020-05-18 10:42] serathius commented on #1602
@johnbelamaric prepared update https://github.com/kubernetes/enhancements/pull/1787

[2020-05-18 12:39] #1721 closed

[2020-05-18 13:36] mrbobbytables opened #1789 "Social media guidelines for Enhancements"
The upstream marketing team has marked Enhancements as out of scope till an appropriate policy can be drafted and approved by steering. This policy should include:
- At what point can an Enhancement be marketed - provisional, implementable, alpha, beta etc
- Who can sign off on various communications - KEP author, SIG lead etc
- Where feedback should be directed - discuss.kubernetes.io, the tracki

[2020-05-18 14:20] gnufied opened #1790 "Support recovery from volume expansion failure"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow users to recover from volume expansion failure
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1790-recover-resize-failure/README.md
- Primary contact (assignee): @gnufied
- Re

[2020-05-18 14:20] gnufied commented on #1790
/sig storage

[2020-05-18 14:49] neolit123 commented on #1739
@palnabarun

hi, the KEP merged as "implementable":
https://github.com/kubernetes/enhancements/pull/1742
https://github.com/kubernetes/enhancements/pull/1742/files#diff-43d8c9f7a843e756c4e752fd1f7fbe44R8

[2020-05-18 15:29] palnabarun commented on #1739
@neolit123 -- Thanks for the ping. I have updated the tracking sheet. :+1:

[2020-05-18 15:30] palnabarun commented on #1739
PS: I have updated the issue description with the link to the KEP.

[2020-05-18 16:14] palnabarun commented on #266
@liggitt -- Thank you for the update. I have updated the tracking sheet accordingly. :+1:

[2020-05-18 16:28] harshanarayana commented on #1487
Hey @jsafrane  @leakingtapan  Thanks for the confirmation. I've updated the trackers accordingly.

[2020-05-18 16:34] harshanarayana commented on #1748
Hey @smarterclayton Thanks for confirming the inclusion state. I've marked the Enhancement as `Deferred` in the Tracker and updating the `milestone` accordingly.

/milestone v1.20

[2020-05-18 16:58] palnabarun commented on #1618
According to conversation with @johnbelamaric on Slack, this won't graduate it 1.19 and instead should be pushed to 1.20.

/milestone v1.20

[2020-05-18 17:01] johnbelamaric commented on #597
@gnufied @saad-ali Enhancements freeze is tomorrow, you'll need to update this to meet the above criteria in order for it to be in 1.19.

[2020-05-18 17:02] johnbelamaric commented on #661
@janetkuo @SidakM Enhancements freeze is tomorrow. To be included in the release the KEP will need to meet the above criteria by then.

[2020-05-18 17:03] johnbelamaric commented on #991
@andrewsykim Enhancements freeze is tomorrow. In order to be included in 1.19 the KEP will need to be `implementable` with graduation criteria, a test plan, and PRR questions answered by then.

[2020-05-18 17:04] johnbelamaric commented on #1464
@skilxn-go Enhancements freeze is tomorrow. In order to be included in 1.19, this KEP will need to meet all of the above criteria by then.

[2020-05-18 17:08] johnbelamaric commented on #1602
Thanks @serathius for answering the updated questions. When you have a chance please also re-format to the new format. You do not need to do that before the freeze tomorrow though.

[2020-05-18 17:11] harshanarayana commented on #1698
Hey @pohly, Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

I noticed that the KEP is still in flight. As per the requirements, the KEP should be merged and `implementable` for it to be considered for the release `v1.19`.

Please feel free to reach out in case if you nee

[2020-05-18 17:14] johnbelamaric commented on #1669
@andrewsykim Hi Andrew, tomorrow is Enhancements Freeze for 1.19, what's the decision? 1.19 or 1.20?

[2020-05-18 17:15] kikisdeliveryservice commented on #1623
Hi @deads2k

As a reminder, enhancements freeze is tomorrow EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:17] harshanarayana commented on #1472
Hey @pohly Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

I noticed that one of the KEP PR #1409 was closed in favour of #1701  and #1353 is still in flight. As per the requirements, the KEP should be merged for it to be considered for the release `v1.19`.

Please feel

[2020-05-18 17:19] harshanarayana commented on #1682
Hey @huffmanca / @gnufied, Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

I noticed that the KEP is still in flight. As per the requirements, the KEP should be merged and `implementable` for it to be considered for the release `v1.19`.

Please feel free to reach out in

[2020-05-18 17:21] kikisdeliveryservice commented on #1040
@yue9944882 yes graduation criteria is required in the merged KEP.

[2020-05-18 17:29] kikisdeliveryservice commented on #267
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:35] kikisdeliveryservice commented on #551
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks!

[2020-05-18 17:35] kikisdeliveryservice commented on #609
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:36] kikisdeliveryservice commented on #611
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:36] kikisdeliveryservice commented on #727
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:42] kikisdeliveryservice commented on #757
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:42] kikisdeliveryservice commented on #773
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:43] kikisdeliveryservice commented on #783
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:43] kikisdeliveryservice commented on #786
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:44] kikisdeliveryservice commented on #1041
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:45] kikisdeliveryservice commented on #1339
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:46] kikisdeliveryservice commented on #1403
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:50] kikisdeliveryservice commented on #1591
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 17:51] kikisdeliveryservice commented on #1659
As a reminder, enhancements freeze is tomorrow May 19th EOD PST. In order to be included in 1.19 all KEPS must be implementable with graduation criteria and a test plan.

Thanks.

[2020-05-18 18:23] andrewsykim commented on #1669
Happy to work on this for v1.19, KEP just needs approval/review at this point. If it slips to v1.20 that is okay with me as well :).

[2020-05-18 18:28] msedzins commented on #18
Hey @justinsb , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:29] msedzins commented on #34
Hey @sttts @derekwaynecarr  , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:29] msedzins commented on #213
Hey @krmayankk  , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:30] msedzins commented on #361
Hey @vishh  , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:30] msedzins commented on #423
Hey @justinsb , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:30] msedzins commented on #592
Hey @janetkuo  , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:31] msedzins commented on #1208
Hey @jfbai , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:31] msedzins commented on #1384
Hey @kkmsft @PatrickLang  , Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

Regards,
Mirek

[2020-05-18 18:41] msedzins commented on #541
Hey @enj ,

Enhancement shadow for the `v1.19` release cycle here.  Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on `Tuesday, May 19`.

I noticed that the KEP #1711 is still in flight. As per the requirements, the KEP should be merged and `implementable` for it to be
considered for the release `v1.19`.

We would really appreciate if you can get

[2020-05-18 19:00] msedzins commented on #1688
Hi  @enj ,

Enhancement shadow for the v1.19 release cycle here. Just following up on my earlier update to inform you of the
upcoming Enhancement Freeze scheduled on Tuesday, May 19.

I noticed that the KEP #1689  is still in flight. As per the requirements, the KEP should be merged and implementable for it to be
considered for the release v1.19.

I would really appreciate if you can get the KEP m

[2020-05-18 19:07] palnabarun commented on #1790
/milestone v1.19

[2020-05-18 19:07] palnabarun commented on #1790
/stage alpha

[2020-05-18 19:13] palnabarun commented on #117
Hi @mwielgus @josephburnett

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:17] palnabarun commented on #740
Hi @micahhausler,

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:19] palnabarun commented on #902
Hi @denkensk @vllry @Huang-Wei, do you think this could make it by the Enhancements Freeze?

---
**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

[2020-05-18 19:24] dashpole commented on #647
ack.  I asked the reviewers of the KEP update to give their feedback.

[2020-05-18 19:25] palnabarun commented on #961
Hi @krmayankk,

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:25] palnabarun commented on #1206
Hi @RainbowMango,

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:27] palnabarun commented on #1381
Hi @rosti,

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:28] palnabarun commented on #1488
Hi @davidz627,

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:28] palnabarun commented on #1710
Hi @jsafrane,

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:30] palnabarun commented on #1753
Hi @44past4 ,

**Tomorrow, Tuesday May 19 EOD Pacific Time is Enhancements Freeze**

Will this enhancement be part of the 1.19 release cycle?

[2020-05-18 19:34] neolit123 commented on #1381
@palnabarun hi, yes the KEP update merged here:
https://github.com/kubernetes/enhancements/pull/1725

[2020-05-18 19:38] palnabarun commented on #647
@dashpole -- Thanks for the update. I will check back later. :+1:

[2020-05-18 19:40] palnabarun commented on #1381
@neolit123 -- Ack. Thanks for the update. I have updated the tracking sheet. :+1:

[2020-05-18 20:00] Huang-Wei commented on #902
@palnabarun #1781 is out. But it needs some work on adopting new PRR requirements. I will try my best to catch the date.

[2020-05-18 20:21] palnabarun commented on #753
/milestone clear

[2020-05-18 20:21] kikisdeliveryservice commented on #279
As this predates the current KEP format and the linked issues do have tests, we will be marking this as tracked.

[2020-05-18 20:48] palnabarun commented on #902
@Huang-Wei -- Thanks for the update. I will keep on checking that PR. :+1:

[2020-05-18 21:52] tallclair commented on #279
There is partial e2e coverage for this feature, but the tests are currently broken and not run by any of our test jobs, and don't cover the label or taint restrictions. See https://github.com/kubernetes/kubernetes/pull/82551.

[2020-05-18 22:00] liggitt commented on #279
The unit and integration tests exercise all the API restrictions implemented by the feature. This feature does not lend itself to e2e test environments which do not control the kube-apiserver configuration (so cannot guarantee the feature is in use) and cannot easily create false Node objects in cloud environments where the node controller detects and deletes the dummy Node object.

[2020-05-18 22:23] javidiaz opened #1797 "Allow users to set a pod’s hostname to its Fully Qualified Domain Name (FQDN)"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow users to set a pod’s hostname to its Fully Qualified Domain Name (FQDN)
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1797-configure-fqdn-as-hostname-for-pods
- Primary contact (assignee): @javidiaz
- Responsible SIGs: sig-node
- Enhancement

[2020-05-18 22:23] javidiaz commented on #1797
/sig-network
/sig-node

[2020-05-18 22:31] tallclair commented on #279
Do you think we should just delete the e2e tests?

[2020-05-19 00:23] Huang-Wei commented on #895
#1796 is just adopting the new KEP template (with PRR).

[2020-05-19 02:23] RainbowMango commented on #1206
The legacy changes of this KEP will not introduce a user-facing change, So, I guess you can ignore this KEP.

[2020-05-19 03:09] liggitt commented on #279
It's unclear to me what the goal of the e2e tests are currently. To verify functionality, integration tests seem much better suited to me. Are they trying to validate that the feature is enabled?

[2020-05-19 14:16] liggitt commented on #267
The focus in 1.19 is the CSR API (https://github.com/kubernetes/enhancements/issues/1513) and the client certificate rotation (https://github.com/kubernetes/enhancements/issues/266). This will get attention in 1.20.

/milestone v1.20

[2020-05-19 18:52] deads2k commented on #1623
Since we're talking about a struct, not new functionality, there isn't something to test beyond standard unit and verify scripts.  I'll open a PR to the KEP.

[2020-05-19 18:54] palnabarun commented on #1746
As per discussions with @alejandrox1 on Slack, this enhancement is going to deferred to 1.20.

/milestone v1.20

[2020-05-19 20:10] kikisdeliveryservice commented on #1623
Thanks @deads2k please link the PR to this issue once it is up.

[2020-05-19 20:11] kikisdeliveryservice commented on #1623
Ahh already done!! great!!

https://github.com/kubernetes/enhancements/pull/1799

[2020-05-19 23:56] qnetter commented on #1498
The KEP and its title are crystal-clear; references to it as "annual support" are confusing, though, because it can sound like there is some event that occurs annually, such as the ability to update once a year without going through intermediate releases.

"One-year support window" is very clear. But we should perhaps indicate in advance if we have any way of knowing it, what the path forward on r

[2020-05-20 00:06] kikisdeliveryservice commented on #1403
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:07] kikisdeliveryservice commented on #1339
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:07] kikisdeliveryservice commented on #1045
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:08] kikisdeliveryservice commented on #1041
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:09] kikisdeliveryservice commented on #786
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:10] kikisdeliveryservice commented on #783
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:11] kikisdeliveryservice commented on #773
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:11] johnbelamaric commented on #1669
Enhancements freeze is upon us, deferring to 1.20.

/milestone v1.20

[2020-05-20 00:12] kikisdeliveryservice commented on #757
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:13] kikisdeliveryservice commented on #727
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:14] kikisdeliveryservice commented on #611
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:16] kikisdeliveryservice commented on #551
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:17] kikisdeliveryservice commented on #1591
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:18] kikisdeliveryservice commented on #1659
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 00:22] kikisdeliveryservice commented on #609
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 01:02] javidiaz commented on #1797
/sig node

[2020-05-20 01:02] javidiaz commented on #1797
/sig network

[2020-05-20 01:04] javidiaz commented on #1797
/milestone v1.19

[2020-05-20 01:05] kikisdeliveryservice commented on #1040
Unfortunately the deadline for the 1.19 Enhancement freeze has passed. The [existing KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md#graduation-criteria) is missing graduation criteria for beta which is what was being targeted for 1.19.  It looks like the open PR #1632 has some unaddressed comments and is not approved/has not mer

[2020-05-20 02:18] palnabarun commented on #117
@mwielgus @josephburnett -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:22] palnabarun commented on #495
@verb -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:23] palnabarun commented on #614
@janosi -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:23] palnabarun commented on #740
@micahhausler -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:32] palnabarun commented on #902
@Huang-Wei -- I see that the KEP update PR was merged. However, the KEP was merged with an `implemented` state. We generally update the status to `implemented` when the work on the feature is complete and graduates to Stable.

[2020-05-20 02:34] palnabarun commented on #961
@krmayankk -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:35] palnabarun commented on #1206
@RainbowMango -- Thanks for the update. I have updated the tracking sheet accordingly. :+1:

[2020-05-20 02:36] palnabarun commented on #1435
@janosi -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:36] palnabarun commented on #1488
@davidz627 -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:36] palnabarun commented on #1488
/milestone clear

[2020-05-20 02:37] palnabarun commented on #1710
@jsafrane -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:37] palnabarun commented on #1753
@44past4 -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:38] palnabarun commented on #1769
@cezaryzukowski @bg-chun -- Unfortunately, the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 02:42] palnabarun commented on #902
cc: @denkensk @vllry ^^^

[2020-05-20 02:43] denkensk commented on #902
@palnabarun  I will fix it right now.

[2020-05-20 02:47] denkensk commented on #902
https://github.com/kubernetes/enhancements/pull/1800 @palnabarun  Can you help to review it?

[2020-05-20 02:50] Huang-Wei commented on #902
@palnabarun Thanks for pointing that out! I just approved the pr that changes the status to implementable.

[2020-05-20 02:52] palnabarun commented on #902
@denkensk @Huang-Wei -- Thanks for the quick update. :+1:

[2020-05-20 02:53] palnabarun commented on #902
PS: I updated the issue description with the updated link to the KEP.

[2020-05-20 02:57] palnabarun commented on #902
/stage beta
/milestone v1.19

[2020-05-20 03:06] palnabarun commented on #18
@justinsb -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:06] palnabarun commented on #34
@sttts @derekwaynecarr -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:06] palnabarun commented on #213
@krmayankk -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:07] palnabarun commented on #361
@vishh -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:08] palnabarun commented on #423
@justinsb -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:09] palnabarun commented on #592
@janetkuo -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:09] palnabarun commented on #1208
@jfbai -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:10] palnabarun commented on #1384
@kkmsft @PatrickLang -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:29] harshanarayana commented on #1672
Hey @andrewsykim , Unfortunately the deadline for the 1.19 Enhancement freeze has passed and there is no KEP PR opened/merged in `implemetable` state yet.. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/rel

[2020-05-20 03:30] harshanarayana commented on #1630
Hey @deads2k  , Unfortunately the deadline for the 1.19 Enhancement freeze has passed and there KEP PR is still in flight state. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:30] harshanarayana commented on #1612
Hey @dcbw / @squeed / @mars1024, Unfortunately the deadline for the 1.19 Enhancement freeze has passed and there is no KEP PR opened/merged in `implemetable` state yet. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/bl

[2020-05-20 03:32] harshanarayana commented on #1352
Hey @zhangxiaoyu-zidif, Unfortunately the deadline for the 1.19 Enhancement freeze has passed and the KEP for it is still in flight and missing `Test Plan` and `Graduation Criteria`. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/

[2020-05-20 03:33] palnabarun commented on #647
@dashpole -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. I see that the KEP is still missing test plans and is in a `provisional` state. Also, https://github.com/kubernetes/enhancements/pull/1458 is yet to be merged pending discussions.

For now this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to

[2020-05-20 03:33] palnabarun commented on #647
/milestone clear

[2020-05-20 03:34] harshanarayana commented on #1073
Hey @fudali113 / @janetkuo / @soltysh, Unfortunately the deadline for the 1.19 Enhancement freeze has passed and the KEP for it is still in flight. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EX

[2020-05-20 03:38] harshanarayana commented on #1610
Hey @arjunrn, Unfortunately the deadline for the 1.19 Enhancement freeze has passed and the KEP is still in `provisional` state. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:41] palnabarun commented on #1688
@enj -- Unfortunately the deadline for the 1.19 Enhancement freeze has passed. I see that the KEP PR is still not merged.

For now, this is being removed from the milestone and [1.19 tracking sheet](https://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:41] palnabarun commented on #1688
/milestone clear

[2020-05-20 03:46] harshanarayana commented on #1143
Hey @smarterclayton , Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:52] harshanarayana commented on #19
Hey @soltysh / @kow3ns, Unfortunately the deadline for the 1.19 Enhancement freeze has passed and the KEP #978  is still in flight. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 03:56] harshanarayana commented on #365
Hey @smarterclayton, Unfortunately the deadline for the 1.19 Enhancement freeze has passed. For now this is being removed from the milestone and [1.19 tracking sheet](http://bit.ly/k8s-1-19-enhancements). If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-05-20 04:55] palnabarun commented on #1073
/milestone clear

[2020-05-20 04:55] palnabarun commented on #1143
/milestone clear

[2020-05-20 04:57] palnabarun commented on #960
@johnbelamaric -- Should this enhancement be tracked by us? Or, does it qualify for `tracked/out-of-tree`?

[2020-05-20 05:10] palnabarun commented on #1301
/stage alpha

[2020-05-20 05:11] palnabarun commented on #1301
/milestone v1.19

[2020-05-20 05:17] pre commented on #592
This KEP is now 2 years old and the last response from the original author @janetkuo is from 1 year ago (12 Jul 2019).

It seems that the original author has moved to other adventures.

Is there any possibility someone else could take over?

[2020-05-20 07:37] harshanarayana commented on #1610
Marking to a deferred milestone after discussing with @arjunrn

/milestone v1.20

[2020-05-20 07:39] jsafrane commented on #1710
@palnabarun hey, we've just merged the KEP yesterday, at the last moment. I admit I did not pay attention to this enhancement issue and focused on the design. Do I really need an exception  just to restore the milestone?

[2020-05-20 09:19] palnabarun commented on #1472
@pohly -- I noticed that in kep.yaml for the KEP, there is a TODO about the production readiness approver. Can you please have a look at it and get the KEP PRR approved?

https://github.com/kubernetes/enhancements/blob/18bee1a34a9dbd776a320a3515102bba2d5db14f/keps/sig-storage/1472-storage-capacity-tracking/kep.yaml#L16

[2020-05-20 09:22] palnabarun commented on #1498
@youngnick @tpepper @justaugustus -- I saw that an [exception request][1] was filed for this enhancement due to the lazy consensus period. Till the exception gets accepted, removing the Enhancement from the milestone.

Thanks for the proactive exception request. :+1:

[1]: https://groups.google.com/d/msg/kubernetes-sig-release/yjEHnUVC1bo/idsHNOwHAgAJ

[2020-05-20 09:22] palnabarun commented on #1498
/milestone clear

[2020-05-20 09:29] apyrgio opened #1802 "Support composition in kustomize"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduce the concept of components to Kustomize, to support overlay composition, besides inheritance.
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): #1803
- Primary contact (assignee): @apyrgio
- Responsible SIGs: sig/cli
- Enhancement target (which ta

[2020-05-20 09:34] apyrgio commented on #1802
/sig cli

[2020-05-20 16:16] palnabarun commented on #1710
Yes, an exception would be needed. Here is the process on how to file and [exception request][1].

[1]: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2020-05-20 22:50] janetkuo commented on #592
Sorry for the delayed response. Based on the graduation criteria stated in the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/0026-ttl-after-finish.md#graduation-criteria), we'll implement the same functionality for Pods, and decide whether we want to generalize this to custom resources before moving this feature to Beta.

Here's the latest PR that implemented this func

[2020-05-20 23:47] annajung commented on #135
Hi @tallclair 👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-20 23:49] annajung commented on #266
Hi @liggitt  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-20 23:50] annajung commented on #279
Hi @liggitt  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-20 23:50] annajung commented on #383
Hi @wojtek-t  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-20 23:51] annajung commented on #541
Hi @enj  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-20 23:51] annajung commented on #667
Hi @feiskyer  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-20 23:53] annajung commented on #693
Hi @klueska  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-20 23:54] annajung commented on #695
Hi @gnufied  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch `dev-1.19`) are needed by Friday, June 12.

[2020-05-21 00:28] justaugustus commented on #1729
/assign

Spoke w/ @tallclair earlier and I'm going to take this one over since @dims and I have been making some forward progress here, tracked in https://github.com/kubernetes/kubernetes/issues/70249 and some other threads that I need to tie together.

cc: @yuwenma @dekkagaijin

@palnabarun -- This is going to require an exception, which I'm not quite ready to file, but  will next week. Just putt

[2020-05-21 00:41] justaugustus commented on #1733
As discussed on this week's SIG Release meeting, I'd like to get this one updated to reflect current state.

/assign @saschagrunert
Sascha, please take point. Maybe tag-team this w/ @puerco?

[2020-05-21 01:00] puerco commented on #1733
You can count on me of course.

[2020-05-21 06:10] palnabarun commented on #1729
@justaugustus -- Thanks for the ping! :+1:

I have added this enhancement to the tracking sheet and noted that an exception would be filed in the very near future.

I'm assuming [this][1] is the KEP for this enhancement.

[1]: https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/1729-rebase-images-to-distroless

[2020-05-21 07:48] pjbgf commented on #135
@annajung that's for the heads up. Yes, there will be some modification to the seccomp docs.

Adding @hasheddan who is picking this up (https://github.com/kubernetes/kubernetes/issues/58211).

[2020-05-21 08:41] divya-mohan0209 commented on #752
Hello @robscott  , I'm 1.19 docs shadow. Does this enhancement work planned for 1.19 require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website  (branch dev-1.19) due by Friday, June 12, it can just be a placeholder PR at this time

[2020-05-21 08:46] divya-mohan0209 commented on #785
Hello, @luxas  I'm 1.19 docs shadow. Does this enhancement work planned for 1.19 require any new docs (or modifications to existing docs)? If not, can you please update the [1.19 Enhancement Tracker Sheet](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075) (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR aga

[2020-05-21 08:52] divya-mohan0209 commented on #895
Hey, @Huang-Wei @bsalamat I'm one of the v1.19 docs release shadows.

Does this enhancement work planned for 1.19 require any new docs (or modifications to existing docs)?

If not, can you please update the[ 1.19 Enhancement Tracker Sheet](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075) (or let me know and I'll do so) :)

If so, just a friend

[2020-05-21 08:54] divya-mohan0209 commented on #1040
Hey @MikeSpreitzer and @yue9944882, I'm one of the v1.19 docs release shadows.

Does this enhancement work planned for 1.19 require any new docs (or modifications to existing docs)?

If not, can you please update the[ 1.19 Enhancement Tracker Sheet](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075) (or let me know and I'll do so) :)

If so, jus

[2020-05-21 09:40] divya-mohan0209 commented on #902
Hello @vllry & @denkensk ,  I'm one of the 1.19 docs shadows.

Does this enhancement work planned for 1.19 release require any new docs (or modifications to existing docs)?

If not, can you please update the [1.19 Enhancement Tracker Sheet](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075) (or let me know and I'll do so)

If so, just a friendly

[2020-05-21 09:41] divya-mohan0209 commented on #1001
Hello @PatrickLang  ,  I'm one of the 1.19 docs shadows.

Does this enhancement work planned for 1.19 release require any new docs (or modifications to existing docs)?

If not, can you please update the [1.19 Enhancement Tracker Sheet](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075) (or let me know and I'll do so)

If so, just a friendly remi

[2020-05-21 09:50] divya-mohan0209 commented on #1020
Hello @soltysh  ,  I'm one of the 1.19 docs shadows.

Could you please let me know if this piece of enhancement work planned for 1.19 release requires any new docs (or modifications to existing docs)?

If not, can you please update the [1.19 Enhancement Tracker Sheet](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075) (or let me know and I'll do

[2020-05-21 09:56] divya-mohan0209 commented on #1258
Hello @alculquicondor , I'm one of the v1.19 docs shadows.

Could you please let me know if this piece of enhancement work planned for 1.19 release requires any new docs (or modifications to existing docs)?

If not, can you please update the [1.19 Enhancement Tracker Sheet ](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075)(or let me know and I

[2020-05-21 09:57] divya-mohan0209 commented on #1122
Hello @ddebroy  , I'm one of the v1.19 docs shadows.

Could you please let me know if this piece of enhancement work planned for 1.19 release requires any new docs (or modifications to existing docs)?

If not, can you please update the [1.19 Enhancement Tracker Sheet ](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075)(or let me know and I'll do

[2020-05-21 11:32] Conan-Kudo commented on #1729
Are we using these images because we think that they're better? What makes them better?

[2020-05-21 13:07] neolit123 commented on #785
@ahg-g hi, i've assigned you as the primary contact for this issue as Lucas is busy. please let me know if you think someone else is more appropriate.

[2020-05-21 13:19] michmike commented on #1001
@marosset is the new lead for this enhancement.

[2020-05-21 13:45] antheajung commented on #135
Great, thank you for the update! I will modify the tracking sheet accordingly.
Please let us know once a placeholder PR against k/website is made. Thank you!

[2020-05-21 13:47] annajung commented on #135
Great, thank you for the update! I will modify the tracking sheet accordingly.
Please let us know once a placeholder PR against k/website has been made. Thank you!

[2020-05-21 14:00] alculquicondor commented on #785
I'm handling this. Could you please update?

re @divya-mohan0209, we will require an update to https://kubernetes.io/docs/reference/scheduling/profiles/

[2020-05-21 14:25] divya-mohan0209 commented on #785
@alculquicondor Please could you raise a PR against k/website for the above update?

[2020-05-21 14:41] neolit123 commented on #785
@alculquicondor ack, updated the OP.

[2020-05-21 14:56] alculquicondor commented on #785
Thanks,
@divya-mohan0209  Will do

[2020-05-21 14:59] alculquicondor commented on #1258
I will raise a PR to update https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/

[2020-05-21 15:15] liggitt commented on #279
No docs updates are required, https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#noderestriction already describes the user-facing aspects of the feature.

[2020-05-21 15:54] liggitt commented on #266
https://kubernetes.io/docs/tasks/tls/certificate-rotation/ would need updating to note the GA status and non-experimental signing duration flag. Placeholder open at https://github.com/kubernetes/website/pull/21108

[2020-05-21 19:15] annajung commented on #266
Thank you @liggitt , I will update the tracking sheet accordingly

[2020-05-21 19:16] annajung commented on #279
Thank you! I will update the tracking sheet accordingly

[2020-05-21 21:59] savitharaghunathan commented on #1451
Hi @alculquicondor, I am Savitha, 1.19 Docs lead. Does this enhancement work planned for 1.19 require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website  (branch dev-1.19) due by Friday, June 12, it can just be a placeholder PR at

[2020-05-21 22:01] savitharaghunathan commented on #1453
Hi @robscott @cmluciano -  I am Savitha, 1.19 Docs lead. Does this enhancement work planned for 1.19 require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.19) due by Friday, June 12, it can just be a placeholder

[2020-05-21 22:02] savitharaghunathan commented on #1472
Hi @pohly -  I am Savitha, 1.19 Docs lead. Does this enhancement work planned for 1.19 require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet (or let me know and I'll do so)
If docs are required, just a friendly reminder we're looking for a PR against k/website (branch dev-1.19) due by Friday, June 12, it can just be a placeholder

[2020-05-21 22:07] savitharaghunathan commented on #1490
Hi @andyzhangx - I am Savitha, `1.19` Docs lead. Does this enhancement work planned for `1.19` require any new docs (or modifications to existing docs)? If not, can you please update the `1.19` Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder we're looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, June 12`, it c

[2020-05-21 22:09] savitharaghunathan commented on #1491
Hi @divyenpatel, @xing-yang - I am Savitha, `1.19` Docs lead. Does this enhancement work planned for `1.19` require any new docs (or modifications to existing docs)? If not, can you please update the `1.19` Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder we're looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, J

[2020-05-21 22:11] savitharaghunathan commented on #1507
Hi @robscott - I am Savitha, `1.19` Docs lead. I see that you have mentioned about minor changes needed for docs.
Just a friendly reminder we're looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, June 12`, it can just be a placeholder PR at this time. Let me know if you have any questions!

[2020-05-21 22:22] savitharaghunathan commented on #1513
Hi @liggitt - I am Savitha,`1.19` Docs lead. Does this enhancement work planned for `1.19` require any new docs (or modifications to existing docs)? If not, can you please update the `1.19` Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, June 12`, it

[2020-05-21 22:23] savitharaghunathan commented on #1547
Hi @mattjmcnaughton -  I am Savitha,`1.19` Docs lead. Does this enhancement work planned for `1.19` require any new docs (or modifications to existing docs)? If not, can you please update the `1.19` Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, Jun

[2020-05-21 22:24] savitharaghunathan commented on #1602
Hi @serathius -  I am Savitha,`1.19` Docs lead. Does this enhancement work planned for `1.19` require any new docs (or modifications to existing docs)? If not, can you please update the `1.19` Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, June 12`,

[2020-05-21 22:27] Huang-Wei commented on #895
@divya-mohan0209 https://github.com/kubernetes/website/pull/21115 acts as a placeholder.

[2020-05-21 23:12] liggitt commented on #1688
closing per https://github.com/kubernetes/enhancements/pull/1689#issuecomment-632390354

/close

[2020-05-21 23:12] #1688 closed

[2020-05-21 23:12] robscott commented on #1453
Hey @savitharaghunathan, thanks for checking in! This feature will need some docs updates. I'll make sure we get a placeholder PR in place by June 12.

[2020-05-21 23:13] robscott commented on #1507
Hey @savitharaghunathan, thanks for checking in! This feature will need some small docs updates. I'll make sure we get a placeholder PR in place by June 12.

[2020-05-21 23:14] robscott commented on #752
Hey @divya-mohan0209 , thanks for checking in! This feature will need some docs updates. I'll make sure we get a placeholder PR in place by June 12.

[2020-05-22 00:02] smarterclayton commented on #1143
This was part of the existing release, is already merged, and has not
significantly changed.

On Wed, May 20, 2020 at 12:55 AM Nabarun Pal <notifications@github.com>
wrote:

[2020-05-22 00:03] smarterclayton commented on #1143
I don't understand what you are asking above and beyond what was in this issue already and what is in the merged kep?  A human has to respond to a question on an issue to clarify a statement already made?  Maybe I missed something...

[2020-05-22 00:04] tallclair commented on #1729
Motivations:
- "thinner and lighter" - not a big win once you take shared base layers into account, but it's a bit better
- mumble mumble attack surface - maybe, but most (all?) of the dependencies that get pulled in by heavier images aren't actually running, so it would be hard to exploit a vulnerability in them
- fewer tools available to the attacker - even if an attacker gets code execution, th

[2020-05-22 00:13] BenTheElder commented on #1143
IIRC the KEP state should be updated to "implemented" and possibly an update to e.g. the implementation history section https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-07-16-node-role-label-use.md still shows "implementable"

[2020-05-22 00:28] Conan-Kudo commented on #1729
@tallclair Honestly, if they own the image, they own the kubelet. If all your stuff lives in Kubernetes, I think it's pretty much game over anyway.

[2020-05-22 06:20] harshanarayana commented on #1143
@smarterclayton @BenTheElder Sorry for the confusion.

https://github.com/kubernetes/enhancements/issues/1143#issuecomment-631218555 is missing a key details that caused the confusion. The [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-07-16-node-role-label-use.md) is still missing details with regards to the `v1.19` under the `Graduation Criteria`. I misse

[2020-05-22 06:30] palnabarun commented on #1797
@javidiaz -- Your exception request was [approved][1]. I have updated the tracking sheet accordingly.

[1]: https://github.com/kubernetes/enhancements/pull/1689

[2020-05-22 06:30] palnabarun commented on #1797
/milestone v1.19

[2020-05-22 06:30] palnabarun commented on #1797
/stage alpha

[2020-05-22 06:34] palnabarun commented on #1710
@jsafrane -- Your exception request was [approved][1]. I have updated the tracking sheet accordingly.

[1]: https://groups.google.com/d/msg/kubernetes-release-team/TufU2Jc85nQ/RGCgjGQBBAAJ

[2020-05-22 06:34] palnabarun commented on #1710
/milestone v1.19

[2020-05-22 06:35] palnabarun commented on #1710
/stage alpha

[2020-05-22 06:40] mikejoh commented on #1440
Hello, @soltysh! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

This is a friendly reminder that we're looking for a PR against [kubernetes/website](https://github.com/kubernetes/website) (branch `dev-1.19`) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if you

[2020-05-22 06:41] mikejoh commented on #1432
Hello, @xing-yang ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

This is a friendly reminder that we're looking for a PR against [kubernetes/website](https://github.com/kubernetes/website) (branch `dev-1.19`) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if y

[2020-05-22 06:59] mikejoh commented on #1412
Hello, @wojtek-t ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

I saw that this was merged in March: https://github.com/kubernetes/website/pull/19297. I guess that this is the docs needed for this enhancement.

Regards,
Mikael.

[2020-05-22 07:03] mikejoh commented on #1393
Hello, @wojtek-t ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

I saw that this was merged in February: https://github.com/kubernetes/website/pull/19328.

Regards,
Mikael.

[2020-05-22 07:39] mikejoh commented on #1381
Hello, @rosti ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

This is a friendly reminder that we're looking for a PR against [kubernetes/website](https://github.com/kubernetes/website) (branch `dev-1.19`) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if you h

[2020-05-22 07:47] mikejoh commented on #1333
Hello, @liggitt ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

This is a friendly reminder that we're looking for a PR against [kubernetes/website](https://github.com/kubernetes/website) (branch `dev-1.19`) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if you

[2020-05-22 07:54] mikejoh commented on #1287
Hello, @vinaykul ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

This is a friendly reminder that we're looking for a PR against [kubernetes/website](https://github.com/kubernetes/website) (branch `dev-1.19`) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if yo

[2020-05-22 08:56] saschagrunert commented on #1733
@puerco how do we want to work on this? I propose that I create a new PR with some changes coming into my mind and then you give it a review?

[2020-05-22 11:00] liggitt commented on #1333
No docs changes required

[2020-05-22 12:38] Conan-Kudo commented on #1729
Erk, I mean if they own the kubelet (the actively running thing in the image), then it doesn't matter. It's game over, and what else your image has doesn't matter.

[2020-05-22 12:48] justaugustus commented on #1729
That does not and should not deter us from making efforts to ensure the images are more secure.

[2020-05-22 13:02] Conan-Kudo commented on #1729
Sure, but I still don't see how "distroless" images do that. Part of my skepticism comes from having looked into how those images are built. It's hard to trust images that just download and inject goop into the image that would be hard to reliably audit in the first place. 😉

[2020-05-22 13:04] dims commented on #1729
@Conan-Kudo can you please give a specific example in kubernetes/kubernetes that you are uncomfortable with?

[2020-05-22 13:10] Conan-Kudo commented on #1729
It's not bad at the k8s level. My problem is mostly with how the actual base images are constructed. The "fetching and installing packages while not respecting dependencies" and the occasional "fetching and injecting from the internet" means that it's hard for me to trust it. It may be fine for k8s, given that most of it is in Go, but the inherent broken dependencies thing in distroless images mak

[2020-05-22 13:14] Conan-Kudo commented on #1729
The above also worries me for another reason: they chose Debian as the base of distroless, and yet continue to hacksaw it instead of working in Debian to fix things. I personally favor Fedora for my stuff, but when I find issues with images being too big in Fedora, instead of doing hacksaw maneuvers, I actually go and try to fix it in Fedora itself. The distro even has [a minimization project](htt

[2020-05-22 13:29] dims commented on #1729
"they chose Debian" .. you are talking about https://github.com/GoogleContainerTools/distroless/search?q=stretch&unscoped_q=stretch ?

@Conan-Kudo you can and should have your own CI/CD pipeline with your own images if you are doing anything meaningful and not rely on someone else's image. period. If our k8s makefiles/dockerfiles do not support it, then please report a bug and we will fix it. AFAI

[2020-05-22 13:33] Conan-Kudo commented on #1729
@dims Yes. And of course, I have my own pipelines for making images. I'm not lazy. 😉

But this is why I brought up the Fedora example. Because of the work by @asamalik and others, I have been able to make really tiny images in my own pipelines without hacksaw techniques, and that means the images are much easier to verify, validate, and audit. 😄

And while the tooling allows injecting my own base

[2020-05-22 14:33] dims commented on #1729
@Conan-Kudo i'd request you to follow this up with an issue in GoogleContainerTools/distroless since you are worried about the techniques they use. If this is a request for kubernetes to switch over from those images to something else, we need to file a KEP to discuss options/possibilities etc. It's going to require a community decision and KEP's are the way we do it.

[2020-05-22 14:35] Conan-Kudo commented on #1729
I have no illusions that the GCP team would care about what I think. I may consider filing a KEP, once I'm a little more comfortable with my understanding of the process.

[2020-05-22 18:30] puerco commented on #1733
Sure, you mean a PR to the KEP ? I also want to propose a refocusing the purpose of the tools.

[2020-05-22 18:35] justaugustus commented on #1733
Yep! You and Sascha can work out the details and propose that as an update to the existing KEP. :)

[2020-05-23 19:03] mattjmcnaughton commented on #1547
Hi @savitharaghunathan ! This feature is developer facing only, so I don't believe it requires any new docs or modifications to existing docs. Tbh, I'm not sure how to access the 1.19 Enhancement Tracker, so if you are able to update it, that'd be greatly appreciated.

cc @dims @derekwaynecarr just to get a second opinion re the docs - lmk if you disagree :)

[2020-05-25 10:11] divya-mohan0209 commented on #1001
Hello @marosset  any update, please?

[2020-05-25 10:40] serathius commented on #1602
We should document structured logging format I will create a placeholder PR

[2020-05-25 11:01] serathius commented on #1602
Placeholder created  https://github.com/kubernetes/website/pull/21181

[2020-05-25 13:57] palnabarun commented on #1498
@youngnick @tpepper @justaugustus -- The exception request was [approved][1]. Adding this enhancement back to the milesone.

/milestone v1.19

[1]: https://groups.google.com/d/msg/kubernetes-release-team/3iV0zZ8bCd8/MXyQqdF0BAAJ

[2020-05-25 16:24] palnabarun commented on #667
@feiskyer -- Can you please link to all the implementation PR's here - k/k or otherwise?

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kubernetes v1.19.0 released

[2020-05-25 16:26] palnabarun commented on #785
@alculquicondor  -- Do you have any working PR other than https://github.com/kubernetes/kubernetes/issues/89701 ? If yes, can you please link them here? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must

[2020-05-25 16:28] palnabarun commented on #902
@Huang-Wei @vllry @denkensk -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4:

[2020-05-25 16:28] palnabarun commented on #1020
@soltysh  -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kuberne