[2019-01-30 00:17] msau42 commented on #603
Kep is here: https://github.com/kubernetes/enhancements/pull/774

[2019-01-30 00:18] msau42 commented on #594
I discussed with @saad-ali and I don't think this needs to be a separate issue.  This is defining a CRD that is used by two features:
- Pass pod info to mount: https://github.com/kubernetes/enhancements/issues/603
- Skip attach: https://github.com/kubernetes/enhancements/issues/770

The actual CRD installation mechanism is tracked by: https://github.com/kubernetes/enhancements/issues/615

[2019-01-30 00:23] #594 closed

[2019-01-30 00:32] msau42 commented on #557
kep is here: https://github.com/kubernetes/enhancements/pull/742

[2019-01-30 00:33] msau42 commented on #121
/assign @cofyc

[2019-01-30 00:38] saad-ali commented on #625
KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1234-20190129-csi-migration.md

[2019-01-30 00:46] saad-ali commented on #630
@claurence @leakingtapan @d-nishi I hate to keep hammering on this, but I don't think CSI drivers should be tracked as part of the Kubernetes core release. The whole point of CSI was to decouple plugin development from the development of core Kubernetes. There are [so many CSI drivers](https://kubernetes-csi.github.io/docs/Drivers.html#production-drivers). None of them have code shipping as part o

[2019-01-30 01:27] mathu97 opened #779 "Fibre Channel CSI Driver"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Fibre Channel CSI Driver that will be housed in [kubernetes-csi/csi-driver-fibre-channel](https://github.com/kubernetes-csi/csi-driver-fibre-channel)
- Primary contact (assignee): @mathu97
- Responsible SIGs: sig-storage
- Design proposal link (community repo): #778
- Link to e2e and/or unit tests:
- Revi

[2019-01-30 01:35] Random-Liu commented on #772
This is a small kubelet internal change. May not need a tracking issue here.

Will file this against kubernetes repository directly.

[2019-01-30 01:35] #772 closed

[2019-01-30 01:46] dims commented on #625
Looks like it got renamed Saad - https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190129-csi-migration.md

[2019-01-30 01:48] ddebroy commented on #689
With https://github.com/kubernetes/enhancements/pull/710 merged, the feature should now be in approved/implementable state.

[2019-01-30 03:08] gnufied commented on #556
@claurence added a KEP for csi volume resizing.

[2019-01-30 04:14] liggitt commented on #619
Agree. In a flurry of merge early activity, there's also often no other place for comment than an already merged PR (c.f. https://github.com/kubernetes/enhancements/pull/716#pullrequestreview-197881036)

[2019-01-30 04:20] liggitt commented on #492
Continued work in beta is planned for 1.14 and tracked in a KEP under review at https://github.com/kubernetes/enhancements/pull/736 (to be merged to https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md)

[2019-01-30 04:44] liggitt commented on #773
is this intending to target 1.14?

[2019-01-30 09:32] claurence commented on #213
@krmayankk since there is no KEP for this issue yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception

[2019-01-30 09:34] claurence commented on #357
@luxas @neolit123 since the KEP for this issue hasn't been merged yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:36] claurence commented on #668
@cheftako @jagosan since the KEP for this issue hasn't been merged yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:38] claurence commented on #531
@mlmhl since theKEP for this issue isn't merged yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:39] claurence commented on #551
@jingxu97 since theKEP for this issue hasn't been merged yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:41] claurence commented on #669
@dims @hogepodge since the KEP for this issue hasn't been merged yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:42] claurence commented on #670
@frapposelli @cantbewong since the KEP for this issue hasn't been merged yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:43] claurence commented on #671
@rtheis @spzala since the KEP for this issue hasn't been merged yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:44] claurence commented on #673
@andrewsykim since there is no KEP for this issue yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:47] claurence commented on #667
@lachie83 @justaugustus @khenidak since the KEP for this issue hasn't been marked "implementable" yet we will be removing it from the 1.14 milestone.  To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:49] claurence commented on #383
@gmarek @bgrant0607 since there is no KEP for this issue yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:51] claurence commented on #166
@gmarek @k82cn @Huang-Wei since there is no KEP for this issue yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:53] claurence commented on #647
@dashpole since the KEP for this issue hasn't been merged yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:54] claurence commented on #304
@xingzhou since there is no KEP for this issue yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:55] claurence commented on #556
@gnufied Thanks - since the KEP for this issue isn't merged yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:57] claurence commented on #626
@fanzhangio @vladimirvivien since there is no KEP for this issue yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:59] claurence commented on #623
@bsalamat since there is no KEP for this issue yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 09:59] claurence commented on #575
@sttts since there is no KEP for this issue yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 10:00] claurence commented on #565
@vladimirvivien since there is no KEP for this issue yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 10:01] claurence commented on #727
@dashpole since the KEP for this issue isn't merged yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 10:01] claurence commented on #751
@derekwaynecarr since therKEP for this issue isn't merged yet we will be removing it from the 1.14 milestone. To have it added back in please file an exception - information on the exception process can be found here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-01-30 10:06] aniket-s-kulkarni commented on #304
@claurence, I added this support as a part of 1.13 in the last cycle. The feature is still in beta and in this cycle I don't think we are planning any changes.

[2019-01-30 10:39] frapposelli commented on #670
@claurence exception filed, KEP is in review as #767

[2019-01-30 12:19] felixfbecker commented on #555
This seems to be the latest link https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/0006-apply.md

[2019-01-30 12:22] felixfbecker commented on #555
Btw, all the design Google docs linked in there are not publicly viewable.

[2019-01-30 12:53] rtheis commented on #671
@claurence will do.

[2019-01-30 13:20] neolit123 commented on #357
@claurence i'm sorry for the delayed reply.
my understanding is that this is the KEP we are missing:
https://github.com/kubernetes/enhancements/pull/681

the KEP is maintained by @fabriziopandini (ping).

[2019-01-30 13:43] wongma7 commented on #531
@claurence there was a PR open here. https://github.com/kubernetes/enhancements/pull/737. does a kep need to be merged or just open. I cannot find where it says that a KEP needs to be merged, only that an issue must exist (this one): https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#enhancements-freeze

[2019-01-30 14:05] liggitt commented on #758
KEP is in https://github.com/kubernetes/enhancements/pull/749, targeting v1.14 for the next step

will need an exception filed

[2019-01-30 14:08] claurence commented on #531
@wongma7 KEP needs to be merged and implementable - apologies we need to update our documentation to reflect that

[2019-01-30 14:15] spzala commented on #671
@claurence sounds good, thanks!

[2019-01-30 14:44] liggitt commented on #575
KEP is in progress at https://github.com/kubernetes/enhancements/pull/709 but is not targeted at 1.14

[2019-01-30 14:47] liggitt commented on #598
enhancement work for this will target 1.15

[2019-01-30 14:53] claurence commented on #630
@saad-ali if I'm understanding correctly are you saying this issue should be removed from the milestone and be closed?

[2019-01-30 15:15] unteem commented on #706
@mattfarina I think from what I understand its not the secret part of the credentials that are set in the CR. The part of the credentials that are secrets, are referenced in the CR by their secret name see for example how it is used in [kubevault](https://github.com/kubevault/docs/blob/master/docs/concepts/appbinding-crds/appbinding.md#specsecret).

[2019-01-30 15:24] claurence commented on #670
exception approved - adding this back to the 1.14 milestone

[2019-01-30 15:34] d-nishi commented on #630
@claurence I will discuss this with @saad-ali and revert.

[2019-01-30 15:38] fabriziopandini commented on #357
@neolit123 @claurence #681 is the umbrella KEP for kubeadm HA, but the part of this KEP in scope for v1.14 was detailed into https://github.com/kubernetes/enhancements/pull/713, which merged before deadline.

Please add back tracked/yes label

[2019-01-30 16:23] luxas opened #783 "k8s.io/component-base"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Refactor the Kubernetes codebase in a way that aggregates and centralizes the code that's common to all components
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/0032-create-a-k8s-io-component-repo.md
- Primary contact (assignee): @stea

[2019-01-30 16:27] luxas opened #784 "Graduate the kube-proxy ComponentConfig to v1beta1"
- One-line enhancement description (can be used as a release note): Usage of the kube-proxy configuration file has graduated from experimental, as the API version now is v1beta1
- Primary contact (assignee): @luxas
- Responsible SIGs: @kubernetes/sig-network-api-reviews @kubernetes/wg-component-standard
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/784-kube-proxy-c

[2019-01-30 16:31] luxas opened #785 "Graduate the kube-scheduler ComponentConfig to GA"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Usage of the kube-scheduler configuration file has graduated from experimental, as the API version now is v1beta1
- Primary contact (assignee): @alculquicondor
- Responsible SIGs: @kubernetes/sig-scheduling-api-reviews @kubernetes/wg-component-standard
- KEP: https://github.com/kubernetes/enhancements/tre

[2019-01-30 16:33] luxas opened #786 "kube-controller-manager ComponentConfig"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Usage of the kube-controller-manager configuration file is experimental, as the API version now is v1alpha1
- Primary contact (assignee): @luxas
- Responsible SIGs: @kubernetes/sig-api-machinery-api-reviews @kubernetes/wg-component-standard
- Design proposal link (community repo): N/A
- Link to e2e and/or

[2019-01-30 16:35] liggitt commented on #786
controller manager doesn't even consume a config file currently, and the existing v1alpha1 config is not serializable. I'd expect serialization and config file loading while still in alpha to be the first stage, then promotion to beta the second step.

[2019-01-30 16:37] luxas commented on #786
Yep, that indeed makes sense. This was just automatically generated as per request for tracking in k/enhancements overall. For this specific case, I can change to just "k-c-m ComponentConfig" and mark alpha for v1.14 (serializable)

[2019-01-30 16:41] sttts commented on #786
+1 for alpha first.

[2019-01-30 16:42] pohly commented on #783
How will `k8s.io/component-base` be different from `k8s.io/utils` aka https://github.com/kubernetes/utils/?

[2019-01-30 17:16] dashpole commented on #727
@claurence where is it specified that KEPs must be merged by feature freeze?
In previous releases the only requirement was to have this issue open.

[2019-01-30 17:19] dashpole commented on #727
@claurence
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14#enhancements-freeze states:

"By Tuesday January 29, 2019 all enhancements landing in v1.14.0 must ... have an associated KEP merged or in progress in kubernetes/enhancements, linked to in the description of the tracking issue"

[2019-01-30 17:20] tallclair commented on #745
/cc @cblecker

[2019-01-30 17:22] apelisse commented on #555
Hi Felix, that doc needs a massive clean-up, I'll take care of that right after code-freeze (or before if we have extra-time). Thanks!

[2019-01-30 18:11] justaugustus commented on #745
Great point, @tallclair!

/sig pm
/help

[2019-01-30 18:51] saad-ali commented on #630
Yes

Happy to chat!

[2019-01-30 19:02] dekkagaijin opened #789 "harden the default RBAC discovery clusterrolebindings"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Remove discovery from the set of APIs which allow for unauthenticated access by default, improving privacy for CRDs and the default security posture of default clusters in general.
- Primary contact (assignee): @dekkagaijin
- Responsible SIGs: sig-auth, sig-api-machinery
- Design proposal link (community

[2019-01-30 19:03] dekkagaijin commented on #789
/sig auth

[2019-01-30 19:08] sttts commented on #783
@pohly `k8s.io/utils` cannot depend on kube libraries. In contrast, component-base builds on-top of client-go and apimachinery.

[2019-01-30 20:38] gnufied commented on #284
/remove-lifecycle-stale

[2019-01-31 00:25] yujuhong opened #793 "Promote Node OS/Arch labels to GA"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
[code]
- PRs:
  - [ ] https://github.com/kubernetes/kubernetes/pull/73333
- Primary contact (assignee): @yujuhong
- Responsible SIGs: Node
- Design proposal link: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190130-node-os-arch-labels.md
- Link to e2e and/or unit tests:
- Reviewe

[2019-01-31 01:44] justinsb commented on #786
Are we also planning on splitting the k-c-m config into per-controller kinds?

[2019-01-31 01:56] stewart-yu commented on #786
+1 for alpha first. :smile:
Had some pre-discuss with sttts before

[2019-01-31 02:49] krmayankk commented on #213
@claurence I don’t work full time on kubernetes so I was expecting a week of turn around time . I will get the jeo started today

[2019-01-31 04:08] liggitt commented on #752
was this intended to be targeted at 1.14 or 1.15?

[2019-01-31 07:45] luxas commented on #786
@justinsb yes.

[2019-01-31 09:33] sttts commented on #784
We need a thorough API review of the kube-proxy component config in the light of unifying them for all components. Moving what we have to beta in the 1.14 time frame feels like rushing in the light of us having just started with component-base.

[2019-01-31 09:36] sttts commented on #785
We need a thorough API review of the kube-scheduler component config in the light of unifying them for all components. Moving what we have to beta in the 1.14 time frame feels like rushing in the light of us having just started with component-base.

[2019-01-31 11:51] sttts commented on #786
We also discussed this at KubeCon with @mtaufen and @luxas. It think this topic deserves a KEP to think through the usability implications of that. I can imagine how it is to choose the right v1alpha1, v1beta1, v1, v2 version on a per-controller basis. This is getting complicated. I can also see reason why we might want that though.

[2019-01-31 12:16] zqzzq commented on #559
Hello, I want to know how to enable the VolumeSubpathEnvExpansion feature gate, I added a "- --feature-gates=VolumeSubpathEnvExpansion=true" command in the kube-apiserver.manifest configuration file, but it seems not work, there is no subPath corresponding directory in the container,and the error is "sh: getcwd: No such file or directory",so I need some help. Thanks a lot.

[2019-01-31 15:50] smarterclayton commented on #793
I can do api review for this.

[2019-01-31 15:52] liggitt commented on #752
moving to 1.15, since there's no design in progress yet
/milestone v1.15

[2019-01-31 16:10] wojtek-t commented on #752
We would like to have the KEP approved in 1.14 timeframe, so that we would be able to reach alpha in 1.15.

[2019-01-31 16:50] wojtek-t commented on #752
Agree.

[2019-01-31 17:08] frapposelli commented on #670
@claurence PR #767 and #787 merged, we should be GTG.

[2019-01-31 17:49] mathu97 commented on #779
not needed as this will be external to Kubernetes

[2019-01-31 17:49] #779 closed

[2019-01-31 18:23] bgrant0607 commented on #383
@claurence:
@yastij is now working on this

[2019-01-31 18:50] yastij commented on #383
@claurence - working on a PR right now for the KEP, will link it here.

[2019-01-31 20:23] liggitt commented on #793
targeting stable for 1.14

[2019-01-31 20:33] liggitt commented on #793
assigned clayton for api review

[2019-01-31 21:05] kow3ns commented on #753
/assign kow3ns

[2019-01-31 21:05] kow3ns commented on #753
/assign

[2019-02-01 08:07] krmayankk commented on #213
@claurence  finally added this here https://github.com/kubernetes/enhancements/pull/800 Will shortly initiate the exceptions email

[2019-02-01 14:31] Joseph-Irving commented on #753
@derekwaynecarr I've done some scoping out of the kubelet changes required for next week's sig-node meeting, I _believe_ that changes are only needed in the `kuberuntime` package, specifically `kuberuntime_manager.go` in and `kuberuntime_container.go`.

In `kuberuntime_manager.go` you could modify `computePodActions` to implement the shutdown triggering (kill sidecars when all non-sidecars have pe

[2019-02-01 18:18] jingxu97 commented on #773
I hope so if it can be approved. Thanks!

[2019-02-01 19:49] resouer commented on #753
@kow3ns The discussion makes more sense to me if maybe we can define a full description of containers sequence in Pod spec (sig-app), and how to handle the sequence in kubelet for start, restart and cascading consideration (sig-node). I will try to catch the Feb 5 sig-node meeting to give more inputs.

[2019-02-02 01:11] saad-ali commented on #565
Re-adding to 1.14 milestone per exception in https://groups.google.com/d/msg/kubernetes-milestone-burndown/G7RlJsKvsOc/p7CSTQK9FAAJ

KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190130-csi-raw-block-support.md

/milestone v1.14
/assign @bswartz

[2019-02-02 07:54] krmayankk commented on #773
/sig storage

[2019-02-04 10:45] yastij commented on #383
@claurence - can you add this the 1.14 milestone as the KEP is implementable.

[2019-02-04 14:03] lledru commented on #383
Hi @yastij , Enhancement Shadow 1.14 here, i'll take care of that no problem

[2019-02-04 20:20] rdsubhas commented on #85
/remove-lifecycle stale – we're sorely affected by the issue described in https://github.com/kubernetes/kubernetes/issues/45398, connecting that here so that it's tracked with this feature's stable status...

[2019-02-04 20:21] liggitt commented on #789
dotting i's, crossing t's

[2019-02-05 05:32] spiffxp commented on #85
/remove-lifecycle stale
per the above (everything on a line is interpreted as part of the command, so if you're going to comment it needs to be on a newline @rdsubhas)
/stage beta
/lifecycle frozen
I'm freezing this to make clear that it's currently stuck in beta

[2019-02-05 05:56] spiffxp commented on #594
/milestone clear

[2019-02-05 05:58] spiffxp commented on #598
/milestone v1.15
per the above

[2019-02-05 06:09] spiffxp commented on #783
/stage alpha
I'm going to take a guess that this is planned for alpha based on https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/0032-create-a-k8s-io-component-repo.md#timeframe-and-implementation-order referencing `v1alpha1`

[2019-02-05 06:19] claurence commented on #213
Thanks @krmayankk!  Exception request approved (I'll update in that thread as well)

[2019-02-05 06:21] claurence commented on #383
@yastij Thanks! Added back to 1.14

[2019-02-05 06:37] claurence commented on #786
@luxas I don't see a KEP for this issue linked - I'm removing it from the 1.14 milestone as having a KEP in an implementable state is a requirement for 1.14.  To get this issue added back please submit an exception request

[2019-02-05 06:43] claurence commented on #784
@luxas I don't see a KEP for this issue links in the description.  I'm removing it from the 1.14 milestone - to have it added back please file an exception request.

[2019-02-05 06:44] claurence commented on #785
@luxas I don't see a KEP for this issue links in the description. I'm removing it from the 1.14 milestone - to have it added back please file an exception request.

[2019-02-05 14:31] neolit123 commented on #357
i can confirm this.

https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/20190122-Certificates-copy-for-kubeadm-join--control-plane.md
is a separate KEP related to this tracking issue and it's for this cycle.

so we have a bit of a sub-KEP process going on here.
once the `Certificates-copy-for-kubeadm-join--control-plane.md` work is done we should add what happened un

[2019-02-05 15:12] liggitt commented on #277
the goal is to merge the design during 1.14 timeframe and implement in 1.15

/milestone v1.15

[2019-02-05 15:58] nikhita commented on #745
Created https://github.com/kubernetes/enhancements/pull/816

/remove-help

[2019-02-05 16:04] kfox1111 commented on #277
I've got a pr I made for 1.13. depending on how much effort it takes to get it back into shape against @vladimirvivien's patch set, there is a small chance it can get in as alpha for 1.14?

[2019-02-05 16:07] kfox1111 commented on #277
I'd like to get this contributed too, so I have an in org ephemeral driver to test against.
https://github.com/kubernetes-csi/drivers/pull/133

It works using design documented in the pod inline kep.

Can someone help me get a git repo for it?

[2019-02-05 16:08] kfox1111 commented on #277
Doh. This is ephemeral containers, not ephemeral volumes. Please ignore me. :)

[2019-02-05 19:11] liggitt commented on #564
I'll take the API review for this one

[2019-02-05 19:38] nikhiljindal commented on #71
/close

[2019-02-05 19:38] #71 closed

[2019-02-05 22:53] dashpole commented on #745
Im getting this error for the verify test for https://github.com/kubernetes/enhancements/pull/726:
[code]

[2019-02-06 02:46] krmayankk commented on #34
/remove-lifecycle rotten

[2019-02-06 07:08] pohly commented on #545
/remove-lifecycle rotten

[2019-02-06 07:56] pohly commented on #562
/remove-lifecycle stale

[2019-02-06 10:45] nikhita commented on #745
@dashpole Looks like it is hitting https://github.com/kubernetes/test-infra/issues/9469. Created https://github.com/kubernetes/test-infra/pull/11150.

[2019-02-06 13:58] ameukam commented on #770
/stage beta

[2019-02-06 14:08] ameukam commented on #789
/kind feature

[2019-02-06 14:11] ameukam commented on #757
/kind feature

[2019-02-06 22:34] Katharine commented on #745
FYI: I temporarily disabled this again in kubernetes/test-infra#11155 because the job was always failing and it was blocking.

/reopen

[2019-02-07 09:24] luksa commented on #753
The proposal says that sidecars only run after the init containers run. But what if the use-case requires the sidecar to run while/before the init containers run. For example, if you'd like route the pod's traffic through a proxy running as a sidecar (as in Istio), you probably want that proxy to be in place while the init containers run in case the init container itself does network calls.

[2019-02-07 16:16] spiffxp commented on #18
/milestone clear
since this is not tracked

[2019-02-07 16:20] spiffxp commented on #121
Adding tracked label to reconcile against https://bit.ly/k8s114-enhancements
FYI @claurence @lachie83 @lledru @ameukam

[2019-02-07 16:29] spiffxp commented on #793
Adding `tracked/yes` label to reconcile against https://bit.ly/k8s114-enhancements
FYI @claurence @lachie83 @lledru @ameukam

[2019-02-07 16:30] spiffxp commented on #789
Adding `tracked/yes` label to reconcile against https://bit.ly/k8s114-enhancements
FYI @claurence @lachie83 @lledru @ameukam

[2019-02-07 16:41] spiffxp commented on #625
Adding `tracked/yes` label to reconcile against https://bit.ly/k8s114-enhancements
FYI @claurence @lachie83 @lledru @ameukam

[2019-02-07 16:46] claurence commented on #727
Added back to 1.14 per exception request submitted and approved

[2019-02-07 16:46] spiffxp commented on #772
/milestone clear

[2019-02-07 16:58] claurence commented on #692
@liggitt @roycaihw - I see y'all are hoping to target 1.14 for this milestone - I don't see a KEP associated with this issue - was one merged already?

[2019-02-07 16:59] spiffxp commented on #692
/milestone clear
If this is proven to have a merged KEP prior to Feb 4 we can add this back

[2019-02-07 17:05] liggitt commented on #692
this is ongoing work described in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/customresources-validation.md#client-side-validation

what is the desired granularity for copying that document into a KEP to unblock work on one aspect of it in this release?

[2019-02-07 17:33] ameukam commented on #670
/label tracked/yes

[2019-02-07 17:35] dekkagaijin commented on #789
thanks!

[2019-02-07 18:12] spiffxp commented on #714
/stage beta

[2019-02-07 18:56] spiffxp commented on #692
I need enough to understand what the implications are from a testing and upgrade/downgrade perspective

[2019-02-07 18:57] spiffxp commented on #692
My desire is not to expect copy-pasta from that doc into a KEP, I am OK with linking out where it makes sense.

[2019-02-07 21:27] spiffxp commented on #590
As of today:
- `/milestone` is available for anyone in [kubernetes-milestone-maintainers](https://github.com/orgs/kubernetes/teams/kubernetes-milestone-maintainers)
- [kubernetes-maintainers](https://github.com/orgs/kubernetes/teams/kubernetes-maintainers) has direct write access (IMO they should not)
- [kubernetes-release-managers](https://github.com/orgs/kubernetes/teams/kubernetes-release-manag

[2019-02-07 22:16] neolit123 commented on #288
/lifecycle frozen

[2019-02-07 22:20] neolit123 commented on #288
/lifecycle frozen

[2019-02-07 22:21] neolit123 commented on #288
/lifecycle frozen

[2019-02-07 23:43] justaugustus opened #1924 "Handling the exceptions.yaml files"
Currently, the Enhancements Lead for the Release Team creates an [exceptions.yaml](https://github.com/kubernetes/sig-release/pull/492) to capture the exceptions from the current release cycle.

The idea was eventually to have a tool that could consume these and do... something?
We've never fleshed out what that something could be, so let's discuss.

/help
/cc @claurence @hoegaarden @spiffxp @BenTh

[2019-02-08 01:03] roycaihw commented on #692
KEP sent out at https://github.com/kubernetes/enhancements/pull/821. It's still a draft but comments are welcome

[2019-02-08 16:36] justaugustus opened #822 "Capture and iterate on KEP template feedback"
AIs from #703:

- [ ] (@jbeda) "Biggest comment is that this is no longer really a template but rather instructions. Perhaps break out into a new doc and/or update https://github.com/kubernetes/enhancements/blob/master/keps/0001-kubernetes-enhancement-proposal-process.md?

  Or merge this into the first kep?"
- [ ] (@mattfarina) "How do we deal with differing release processes? For example, when k

[2019-02-08 17:00] claurence commented on #692
@roycaihw @liggitt thanks - since we have passed enhancement freeze and want all issues targeting 1.14 to have a KEP merged by enhancements freeze this issue will require an exception for the 1.14 milestone - please submit one https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-02-11 15:50] jeremyeder commented on #693
Is there any public documentation on how this feature works in borg?

[2019-02-11 16:20] vishh commented on #693
Not about NUMA AFAIK.

On Mon, Feb 11, 2019, 7:50 AM Jeremy Eder <notifications@github.com wrote:

[2019-02-11 16:55] claurence commented on #127
@vikaschoudhary16 Hello - is there a link to the KEP for this enhancement?  I see links to the PR merges but I'm having trouble finding the KEP

Additionally for 1.14 are there any open PRs that should be merged for that release?  if so let me know so we can add them to our sheet.

[2019-02-11 17:06] claurence commented on #504
@MrHohn Hello - enhancements lead here - looking at the KEP it is still marked as "provisional".  What more is needed for it to move to "implementable"

Additionally are there any open PRs that should be tracked for this issue for the 1.14 release?

[2019-02-11 17:13] claurence commented on #536
@m1093782566 @johnbelamaric Hello - we've noticed the KEP for this issue is still marked as "pending" - what more is needed to make the KEP implementable?

[2019-02-11 17:18] claurence commented on #579
@juanvallejo @soltysh Hello - looking at the KEP it is marked as "provisional" - what more work is needed for it to be "implementable"?

Additionally are there any open PRs in k/k that we should track for the 1.14 release?

[2019-02-11 17:30] johnbelamaric commented on #536
This is implementable, we should update that. @m1093782566 do you still
think this can make the March 7 code freeze date?

On Mon, Feb 11, 2019 at 9:14 AM Claire Laurence <notifications@github.com>
wrote:

[2019-02-11 17:50] MrHohn commented on #504
@claurence Thanks for checking in. The KEP should be implementable --- I will update that.

One more open PR is https://github.com/kubernetes/website/pull/12514 for the doc change.

[2019-02-11 18:22] claurence commented on #580
@freehan the KEP is marked in a "provisional" status - what work is left to make it "implementable"?  Additionally are there any open PRs in k/k that should be merged for 1.14?  Code freeze is March 7th so all PRs would need to be merged by then.

[2019-02-11 18:25] claurence commented on #629
@d-nishi the KEP for this is marked as "provisional" - what open work is required for it to be "implementable"?

Additionally - what open PRs in k/k should be tracked for 1.14?  Code Freeze is on March 7th an all PRs need to be merged by that date.

[2019-02-11 18:27] claurence commented on #630
@saad-ali @d-nishi - checking on this issue - was it decided that is no longer needs to be tracked for 1.14?

If it's still being tracked for 1.14 - the KEP is marked as "provisional" - what additional work is needed for this KEP to be "implementable"?

[2019-02-11 18:29] M00nF1sh commented on #629
@claurence
The current left open work for 1.14 is only have e2e test for alb ingress controller. I'll make it before code freeze 😄

[2019-02-11 18:29] claurence commented on #631
@d-nish @mcrute - The KEP for this issue is marked as "provisional" what additional work is needed for this to be "implementable"

Additionally are there any open PRs in k/k that are needed for 1.14?  Code freeze is March 7th and all open PRs need to be merged then.

[2019-02-11 18:33] mcrute commented on #631
@claurence we're going to push this out to 1.15 I'll work on updating the KEP for that release

[2019-02-11 18:47] Liujingfang1 commented on #633
Here are the KEPs after they are merged.
[Kustomize Subcommand Integration](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kustomize-subcommand-integration.md)
[Kustomize File Processing Integration](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kustomize-file-processing-integration.md)

[2019-02-11 19:11] claurence commented on #631
Thank you for the update!

[2019-02-11 19:29] monopole commented on #633
lgtm; awaiting https://github.com/kubernetes/kubernetes/pull/73033 to close this.

[2019-02-11 20:51] freehan commented on #580
Beta version of this feature has been implemented and I am aware some users are using it.

I will send an PR to update the KEP.

[2019-02-11 21:52] claurence commented on #629
Thanks!  Is there a link to the PR for that?  Want to make sure all PRs are linked in the tracking sheet

[2019-02-11 23:08] claurence commented on #793
@yujuhong are there any open PRs in k/k that need to be merged for this to be in 1.14?  Code freeze is 3/7 and if the PRs are not able to merge by then this issue will be removed from the milestone.

[2019-02-11 23:08] liggitt commented on #751
I can do any API review required for this (there may not actually be any visible API changes as part of the beta->stable promotion)

[2019-02-11 23:09] claurence commented on #789
@dekkagaijin are there any open PRs in k/k that need to be merged (in addition to the one referenced above) for this to be in 1.14?  Code freeze is 3/7 and if the PRs are not able to merge by then this issue will be removed from the milestone.

[2019-02-11 23:10] claurence commented on #783
@luxas are there any open PRs in k/k that need to be merged (in addition to the one referenced above) for this to be in 1.14? Code freeze is 3/7 and if the PRs are not able to merge by then this issue will be removed from the milestone.

[2019-02-12 01:32] m1093782566 commented on #536
@johnbelamaric

Thanks. I am not sure if we can make the 1.14 code freeze date but I am working on it now.

[2019-02-12 18:18] luxas commented on #783
Got it. We have a few things in the pipeline, but not all PRs intended to be merged published yet. We'll let you all know how it goes closer to the deadline. However, this is not as critical as a feature in the sense that it's a step-by-step refactor, so it can "stop" at any time and just continue when the next cycle opens, without disrupting anything.

[2019-02-12 19:58] d-nishi commented on #630
@claurence @saad-ali and I agreed to open this [issue](https://github.com/kubernetes/sig-release/issues/486) for open discussion with SIG release members

This has been discussed with @justaugustus and @spiffxp

@spiffxp will tell us the appropriate approach for 1.14 release and we can formalize the approach in 1.15 based on what I was told last.

[2019-02-12 20:27] soltysh commented on #579
I'll update the KEP accordingly.

Only documentation fixes stating the mechanism is GA are required at this point in time.

I'll open both PRs tomorrow.

[2019-02-12 23:10] #633 closed

[2019-02-13 02:05] jimangel commented on #121
Hey @cofyc @msau42 👋 I'm the v1.14 docs release lead. Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-13 02:14] jimangel commented on #127
Hey @vikaschoudhary16 @derekwaynecarr 👋 I'm the v1.14 docs release lead. Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-13 02:16] jimangel commented on #213
Hey @krmayankk 👋 I'm the v1.14 docs release lead. Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-13 02:19] jimangel commented on #351
Hey @erinboyd @childsb @msau42 👋 I'm the v1.14 docs release lead.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-13 02:27] msau42 commented on #351
This feature is remaining beta in 1.14. There are no plans to update docs.

[2019-02-13 06:33] MAKOSCAFEE commented on #596
Hey @vladimirvivien @jsafrane👋 I'm the v1.14 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-13 06:36] MAKOSCAFEE commented on #603
Hey @bertinatto @jsafrane @msau42 👋 I'm the v1.14 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-13 06:39] MAKOSCAFEE commented on #625
Hi,  @davidz627  👋 I'm the v1.14 docs shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-13 13:00] cben commented on #365
/remove-lifecycle rotten

[2019-02-13 16:03] kfox1111 commented on #596
@claurence https://github.com/kubernetes/kubernetes/pull/68232

@MAKOSCAFEE I think there was a docs pr opened when this almost merged in 1.13. I don't have the link handy though. @vladimirvivien do you?

[2019-02-13 16:13] krmayankk commented on #213
thanks @jimangel  the PR is already there https://github.com/kubernetes/website/pull/12297

[2019-02-13 17:45] MAKOSCAFEE commented on #596
@kfox1111 i think this is the PR you were talking about [kubernetes/website#10934](https://github.com/kubernetes/website/pull/10934). If so can this be opened against `dev-1.14` branch and looks like it has a lot of conflicts to resolve.

[2019-02-13 18:01] kfox1111 commented on #596
That's the one I was thinking of. Thanks for finding it. We should update that, yeah.

[2019-02-13 18:06] MAKOSCAFEE commented on #625
Sorry! From this i assume it wont need any documentation still, right ?

[2019-02-14 05:46] wadadli commented on #19
How about a prefix to jobs such as `20190212T2157Z`

[2019-02-14 06:33] liggitt commented on #758
first PR in https://github.com/kubernetes/kubernetes/pull/74057

[2019-02-14 11:48] vikaschoudhary16 commented on #127
@claurence @jimangel We are going back and forth between implementation and design. As i mentioned in [above comment](https://github.com/kubernetes/enhancements/issues/127#issuecomment-455424961), kubernetes/community#2595 is the design proposal PR that i am trying to get merged and based on that i will update implementation PR, kubernetes/kubernetes#64005.

[2019-02-14 12:25] Joseph-Irving commented on #753
@luksa I think there's the possibility of looking at having sidecars that run in init phase at some point but currently the proposal is not going to cover that use case. There is currently no way to have concurrent containers running in the init phase so that would be potentially a much larger/messier change than what is being suggested here.

[2019-02-14 12:31] Joseph-Irving commented on #753
Update on this KEP:
I've spoken to both @derekwaynecarr and @dchen1107 from sig-node about this and they did not express any major concerns about the proposal. I will raise a PR to the KEP adding some initial notes around implementation details and clarifying a few points that came up during the discussion.

We still need to agree on the API, it seems there is consensus that a simple way of markin

[2019-02-14 12:36] Joseph-Irving commented on #691
Hi, this was discussed a few times during the creation of the sidecars KEP and it never seemed to fit in with the problems we were trying to solve nor the solution we were suggesting, it makes a lot more sense, to me at least, to solve this in a separate KEP.

[2019-02-14 13:07] majgis commented on #691
I agree that a separate KEP makes sense.  I will close this issue and open a new one to propose the new KEP.

[2019-02-14 13:07] #691 closed

[2019-02-14 15:30] luksa commented on #753
@Joseph-Irving Actually, neither the boolean nor the `containerLifecycle: Sidecar` are appropriate for proper future extensibility. Instead, `containerLifecycle` should be an object, just like `deployment.spec.strategy`, with `type: Sidecar`. This would allow us to then introduce additional fields. For the "sidecar for the whole lifetime of the pod" would be expressed along these lines:
[code]
as

[2019-02-14 15:56] Joseph-Irving commented on #753
@luksa You could also solve the init problem by just allowing an init container to be marked as a sidecar and have that run alongside the init containers. As I understand it, the problem is that init containers sometimes need sidecars, which is different from needing a container that runs for the entire lifetime of the pod.

The problem with `pod.spec.sidecarContainers` is that it's a far more com

[2019-02-14 16:50] luksa commented on #753
@Joseph-Irving We could work with that yes. It's not ideal for the sidecar to shut down after the init containers run and then have the same sidecar start up again, but it's better than not having that option. The bigger problem is that older Kubelets wouldn't handle init-sidecar containers properly (as is the case with main-sidecar containers).

I'd just like you to keep init-sidecars in mind whe

[2019-02-14 17:39] vladimirvivien commented on #596
@MAKOSCAFEE @kfox1111 there will definitely be updates to the doc, not sure if a new one will be created.

[2019-02-14 17:40] vladimirvivien commented on #596
** PRs to follow **
* https://github.com/kubernetes/kubernetes/pull/74086

[2019-02-14 18:38] liggitt commented on #689
I'll take API review on this since I have context on the KEP

[2019-02-14 18:49] liggitt commented on #492
I can take API review for this

[2019-02-14 19:15] MAKOSCAFEE commented on #596
@vladimirvivien  thanks for the information. docs PR(or a placeholder PR) should be against `dev-1.14`  branch before March 1 which is the deadline. the sooner the better

[2019-02-14 20:21] marccampbell commented on #492
@liggitt I'm interested in shadowing your review of this one.

[2019-02-14 22:58] saad-ali commented on #596
I am interested in [shadowing](https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/e_Tg2m62C1w) the API review for this.

CC @liggitt

[2019-02-15 01:28] vladimirvivien commented on #596
@MAKOSCAFEE Thanks for the thorough info. I will get that started soon.

[2019-02-15 04:29] liggitt commented on #559
/assign

I'll take API review for this

[2019-02-15 04:32] liggitt commented on #751
Already merged, no visible API changes: https://github.com/kubernetes/kubernetes/pull/72785

[2019-02-15 04:47] liggitt commented on #555
/assign lavalamp

[2019-02-15 04:53] liggitt commented on #596
/assign

[2019-02-15 04:59] liggitt commented on #504
https://github.com/kubernetes/kubernetes/pull/72832 merged, no visible API changes

[2019-02-15 05:01] liggitt commented on #121
it doesn't sound like there are API changes involved in the 1.14 work. Is that accurate?

[2019-02-15 05:08] liggitt commented on #536
/assign @thockin
for API review

[2019-02-15 05:34] thockin commented on #758
I'm on API review.

@vishh shadow

[2019-02-15 05:36] thockin commented on #625
Does this need an API review?

[2019-02-15 05:37] thockin commented on #596
I can help with API, too if you need Jordan.

@vishh shadow

[2019-02-15 05:37] thockin commented on #585
I'll take API.

@vishh shadow

[2019-02-15 05:38] thockin commented on #580
I've done a lot of the API work on this so I am happy to review, though a cross-check might be nice.

@vishh

[2019-02-15 05:38] thockin commented on #559
I feel like I've already done this one?

[2019-02-15 05:39] thockin commented on #557
Didn't we already API review this?

If not, I guess it's me. :)

[2019-02-15 05:39] thockin commented on #536
@vishh shadow

[2019-02-15 05:39] thockin commented on #121
I think API was done long ago.

[2019-02-15 05:42] liggitt commented on #557
if so, should be quick, right? :)

[2019-02-15 05:46] liggitt commented on #559
It got moved to a separate field. PR was open at https://github.com/kubernetes/kubernetes/pull/71351 and had lgtm for API, was pending a couple questions on tests

[2019-02-15 06:05] liggitt commented on #213
this is alpha->beta promotion of existing fields
/assign

[2019-02-15 06:19] liggitt commented on #564
@apelisse to shadow

[2019-02-15 06:34] egernst commented on #688
Hey @tallclair et al, I made several suggestions for the WIP RFC @ https://docs.google.com/document/d/1EJKT4gyl58-kzt2bnwkv08MIUZ6lkDpXcxkHqCvvAp4/edit?usp=sharing

I added a section for updating the _runtimeClass_ CRD, and explained how the values would be obtained from the new suggested _runtimeClass_ fields rather than configured in the _runtimeController_.  The suggested _runtimeController_ sc

[2019-02-15 07:00] liggitt commented on #492
great. there will be several distinct pieces landing over the next few weeks. work items are tracked in https://docs.google.com/spreadsheets/d/16tdSFcYYjGDRNhpK9vTx8m291JMy7qa6TeUXdu3jIHs/edit#gid=109074070 and as PRs get opened will be linked from here. I'll reach out to coordinate a time when items are ready for review

[2019-02-15 08:20] kevtaylor commented on #559
@liggitt I ironed out the breaking/flaking test and discovered the problem,  so the alpha suite passes consistently each time now. So as far as I am concerned all test bases have been covered as requested by yourself and Michelle

[2019-02-15 08:22] kevtaylor commented on #559
@liggitt Also, the docs are all in line for the new api and approved and just on hold https://github.com/kubernetes/website/pull/11843

[2019-02-15 13:00] dims commented on #625
@thockin it's a simple translation and does not change API in any way.

@ddebroy please confirm

[2019-02-15 14:53] liggitt commented on #625
I thought this was the item the CSIDriver/CSINodeInfo APIs were being added under. Are those objects added under https://github.com/kubernetes/enhancements/issues/557 instead?

[2019-02-15 14:58] liggitt commented on #692
KEP is now implementable, exception requested at https://groups.google.com/forum/#!msg/kubernetes-milestone-burndown/QKSQVXBPeAQ/dv9Y3qsyAQAJ and acked by sig lead

[2019-02-15 15:00] dims commented on #625
@liggitt the PR for "Make CSINodeInfo and CSIDriver Core APIs"? that would be https://github.com/kubernetes/kubernetes/pull/73883

which points to https://github.com/kubernetes/enhancements/issues/770 and https://github.com/kubernetes/enhancements/issues/603

[2019-02-15 15:04] liggitt commented on #625
thanks, updated https://github.com/kubernetes-sigs/architecture-tracking/projects/3 with those and removed this

[2019-02-15 15:28] pbarker commented on #600
ok cool thanks @claurence we will be targeting 1.14 for beta

[2019-02-15 16:54] thockin commented on #603
The API PR for this is the same as for https://github.com/kubernetes/enhancements/issues/770 - is that intended?  Are these dups, or covering different facets of that PR?

[2019-02-15 17:27] andrewsykim opened #837 "Promote Topology Labels to GA"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

The topology labels by cloud providers we apply on nodes have been in "beta" for a very long time. Given their usage across the project we should GA them.

The 3 labels are:
`beta.kubernetes.io/instance-type`
`failure-domain.beta.kubernetes.io/zone`
`failure-domain.beta.kubernetes.io/region`

They should

[2019-02-15 17:27] andrewsykim commented on #837
related https://github.com/kubernetes/enhancements/issues/793

[2019-02-15 17:27] andrewsykim commented on #837
/sig cloud-provider

[2019-02-15 17:28] andrewsykim commented on #837
/kind api-change

related discussion in https://github.com/kubernetes/kubernetes/pull/73616#discussion_r253227406

cc @liggitt @thockin @dims

[2019-02-15 17:35] andrewsykim commented on #793
I would like to shadow API review for this :)

[2019-02-15 17:43] thockin commented on #793
Way to pick the easy ones Clayton :)

On Fri, Feb 15, 2019 at 9:35 AM Andrew Sy Kim <notifications@github.com>
wrote:

[2019-02-15 18:11] krmayankk commented on #596
Is this getting to beta in 1.14 ? We are interested in this feature as a user and can also help with implementation if you need a hand

[2019-02-15 20:14] msau42 commented on #625
The API changes for #557 #603 #770 and this are all covered by kubernetes/kubernetes#73883

[2019-02-15 21:00] vladimirvivien commented on #596
@krmayankk this feature will be alpha in 1.14

[2019-02-15 21:51] msau42 commented on #603
The API changes for #557 #603 #770 and this are all covered by kubernetes/kubernetes#73883.

[2019-02-15 23:46] jaredbhatti commented on #557
Hey folks, I'm helping out with the docs for v1.14.

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions or need additional guidance!

[2019-02-15 23:53] jaredbhatti commented on #565
Hey folks, I'm helping out with the docs for v1.14.

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions or need additional guidance!

[2019-02-15 23:57] jaredbhatti commented on #579
Heya, I'm working on tracking docs for the v1.14 launch. Has a docs PR been filed for this already? (It's not due until March 1st, just being proactive)

[2019-02-15 23:58] jaredbhatti commented on #580
Hey folks, I'm helping out with the docs for v1.14.

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions or need additional guidance!

[2019-02-15 23:58] jaredbhatti commented on #585
Hey folks, I'm helping out with the docs for v1.14.

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions or need additional guidance!

[2019-02-17 03:39] justaugustus commented on #590
Thanks for resurrecting this one, @spiffxp!

How about we do the following?
- Remove write access for:
  - `kubernetes-maintainers`
  - `kubernetes-release-managers`
- Give write access on k/enhancements to `kubernetes-milestone-maintainers`
- Expand on the definition of [milestone maintainers](https://github.com/kubernetes/sig-release/tree/master/release-team#milestone-maintainers)
- Prune `enhan

[2019-02-18 17:39] claurence commented on #127
@vikaschoudhary16 do you have a link to the KEP?  There isn't one in the KEP folder that I can find - https://github.com/kubernetes/enhancements/tree/master/keps

[2019-02-19 00:35] M00nF1sh commented on #629
@claurence
Sorry for the late reply, missed this notification.

The PR to kubernetes/testinfra is merged: https://github.com/kubernetes/test-infra/pull/11354
The PR in our sub-project repo is WIP: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/pull/852

[2019-02-19 01:00] justaugustus commented on #590
@cblecker -- thoughts on the plan above?

[2019-02-19 01:04] cblecker commented on #590
I personally don't have any concerns about the above. That said, I'm not an active feature contributor, so I am not up on the current features/enhancements process. I'd suggest re-seeking feedback from @liggitt.

[2019-02-19 10:21] tamalsaha commented on #579
Any plans to support shadowing for CRDs? For example, I want to provide a custom view for `kubectl describe <MyCRD> name` .

[2019-02-19 15:01] justaugustus commented on #745
Closed via kubernetes/test-infra#11361.
Thanks again @nikhita + @Katharine! :)

/pony space
/close

[2019-02-19 15:04] #745 closed

[2019-02-19 17:42] cody-clark commented on #357
Hi @fabianofranz! I'm one of the v1.14 docs release shadows.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-19 17:45] cody-clark commented on #383
Hi @yastij I'm one of the v1.14 docs release shadows.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-19 17:54] cody-clark commented on #555
Hi @apelisse! I'm one of the v1.14 docs release shadows.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-19 17:56] cody-clark commented on #556
Hi @gnufied! I'm one of the v1.14 docs release shadows.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-19 17:57] apelisse commented on #555
Thanks for the reminder @cody-clark, we definitely need documentation!

[2019-02-19 18:19] cody-clark commented on #555
Perfect! I'll mark it in the tracking sheet. Thanks for the quick reply, @apelisse!

[2019-02-19 18:30] neolit123 commented on #357
hi, @cody-clark
we just have to add a couple of new CLI flags in the kubeadm reference docs for this cycle:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm/

the feature does not need any major documentation changes. also unlike the OP claims our support will still remain in alpha for due to the inability to set a good HA e2e testing setup for this cycle.

so given the support is

[2019-02-19 19:50] spiffxp commented on #127
@vikaschoudhary16 The linked proposal is not a KEP.  It lacks a test plan, it lacks graduation criteria in the form of a checklist the release team can consume, and lacks discussion of upgrade/downgrade considerations.  We need a KEP.  It can link or reference the original design proposal to fill out some of the wordy bits around motivation, design, etc, but it needs what I just listed spelled out

[2019-02-19 20:57] spiffxp commented on #536
@johnbelamaric @m1093782566 @thockin can one of you please PR the KEP to implementable status? ref: https://github.com/kubernetes/enhancements/issues/536#issuecomment-462418092

[2019-02-19 23:28] johnbelamaric commented on #536
done in #845

[2019-02-20 00:03] justaugustus commented on #590
Slack convo with @liggitt yesterday:
[code]

[2019-02-20 00:20] justaugustus commented on #590
Sent notification to mailing list regarding this change: https://groups.google.com/d/msg/kubernetes-pm/JFthLm0q-uA/SzMBBCzIBQAJ

Lazy consensus: Thursday, 2/21 EOD PT
Change to happen: Friday, 2/22

[2019-02-20 01:04] cblecker commented on #590
All the team memberships are in k/org.. so to pull the diff:
- Grab membership lists of kubernetes-maintainers, kubernetes-release-managers
- Combine and de-dupe
- Grab membership of kubernetes-milestone-maintainers
- Remove intersection between the two lists

Then you have a list of those who would have their access removed.

Then you should be able to use something like https://k8s.devstats.cncf

[2019-02-20 02:15] justaugustus commented on #590
Okay, I did a little massaging here:

- Original list: https://gist.github.com/justaugustus/5b2012f892720df4d7bb4c8dfa746b6b#file-combined-original-yaml
- Updated list: https://gist.github.com/justaugustus/5b2012f892720df4d7bb4c8dfa746b6b#file-combined-updated-yaml
- Contributors being added: https://gist.github.com/justaugustus/5b2012f892720df4d7bb4c8dfa746b6b#file-add-yaml
- Contributors being r

[2019-02-20 02:39] spiffxp commented on #589
@wojtek-t The current KEP is lacking the following information:
- what is the implementation history? has this already been launched as alpha?
- what is the test plan? ie: what jobs can we look to for CI signal to know that this is being tested and is working?
- what graduation criteria are you using to verify this is ready for beta?  ie: what behaviors or metrics are you looking for? should this

[2019-02-20 04:02] BenTheElder commented on #590
the last bit of that list doesn't seem to be registering... 🤔
@pweil-
@q-lee
@quinton-hoole
@random-liu
@rmmh
@sarahnovotny
@smarterclayton
@sttts
@thelinuxfoundation
@timstclair
@vishh
@xiang90
@yifan-gu
@yujuhong
@zmerlynn

[2019-02-20 05:07] justaugustus commented on #590
@BenTheElder -- probably maxed out on @ mentions on the comment.

[2019-02-20 08:33] wojtek-t commented on #589
https://github.com/kubernetes/enhancements/pull/846 should hopefully address those.

In short:
- yes it was launched to Alpha in 1.13
- there are a couple dedicated e2e tests, but in general since enabling this feature in December (right at the beginning of 1.14), all tests are implicitly testing that feature (if this feature didn't work properly, we wouldn't have proper healthiness signal from no

[2019-02-20 17:15] ddebroy commented on #689
In-tree PR tracking the Alpha enhancements implemented through annotation and dockershim: https://github.com/kubernetes/kubernetes/pull/73726/files

[2019-02-20 21:12] liggitt commented on #603
thanks, tracking https://github.com/kubernetes/kubernetes/pull/73883 in https://github.com/orgs/kubernetes/projects/13

[2019-02-20 21:18] justaugustus commented on #590
Announced on k-dev as well: https://groups.google.com/d/topic/kubernetes-dev/fU-U1JSZ8E4/discussion

[2019-02-21 00:19] thockin commented on #758
/lgtm
/approve

[2019-02-21 01:21] johnbelamaric commented on #536
@claurence this has been retargeted to 1.15. Can you reassign it (I don't have permissions)?

[2019-02-21 01:32] spiffxp commented on #536
/milestone v1.15

[2019-02-21 02:04] andrewsykim commented on #837
@MorrisLaw has volunteered to implement this once the KEP PR is merged, thank you!

[2019-02-21 17:51] spiffxp commented on #628
/close
I manually removed the label from k/community.  Two issues were affected:
- https://github.com/kubernetes/community/issues/2834
- https://github.com/kubernetes/community/issues/1819

[2019-02-21 17:51] #628 closed

[2019-02-21 18:09] spiffxp commented on #630
/milestone clear
I agree with @saad-ali the release team shouldn't track this for v1.14.  I appreciate @d-nishi erring on the side of transparency here.

I'm of the opinion that release notes for kubernetes v1.14 shouldn't be talking about code that has landed out of tree.  At present, a "release" only consists of bits that were cut from kubernetes/kubernetes.

However it would be useful for end u

[2019-02-21 19:32] saad-ali commented on #536
I am interested in [shadowing](https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/e_Tg2m62C1w) the API review for this... next quarter

[2019-02-21 22:41] bgrant0607 commented on #589
On LeaderElectionRecord:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go#L39

The Lease API was definitely informed by LeaderElectionRecord, and gave us confidence in the API out of the gate. However, the current focus is use of the API for node presence detection (aka "heartbeats"), which is orthogonal to the pre-ex

[2019-02-21 22:48] bgrant0607 commented on #589
@wojtek-t Please ensure this has a good release note when enabled by default, explaining what changes in operational behavior may be observed (e.g., Node condition update frequency).

[2019-02-22 14:29] npentrel commented on #633
Hey @Liujingfang1  👋 I'm a v1.14 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-22 14:35] npentrel commented on #670
Hey @cantbewong @frapposelli  👋! I'm a v1.14 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-22 14:38] npentrel commented on #689
Hey @ddebroy  👋! I'm Naomi, a v1.14 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-22 14:39] npentrel commented on #714
Hey @ixdy  👋! I'm Naomi, a v1.14 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-22 14:41] npentrel commented on #727
Hey @dashpole 👋! I'm Naomi, a v1.14 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-22 14:43] npentrel commented on #751
Hey @derekwaynecarr 👋! I'm Naomi, a v1.14 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-22 17:36] neolit123 commented on #689
@ddebroy hello, given the target for this cycle is alpha as per the first post, it would be OK if this feature is mentioned as "experimental" with only minimal to no-documentation if possible.

i would leave further clarification and comments to @ddebroy

[2019-02-22 19:45] ddebroy commented on #689
@JeremyWx is working on docs for GMSA support. Jeremy, will it be possible to get a placeholder PR started against k/website as mentioned by Naomi above? We can then iterate on it. I think it will be great to aim for some docs around this although the feature is in Alpha.

[2019-02-22 21:20] claurence commented on #213
@krmayankk looking over the KEP I don't see any testing plans - can someone help PR in testing plans for this enhancement?  This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

[2019-02-22 21:24] claurence commented on #383
@yastij looking over the KEP I don't see any testing plans - can someone help PR in testing plans for this enhancement?  This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

[2019-02-22 21:27] claurence commented on #504
@MrHohn looking over the KEP I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 21:31] claurence commented on #555
@apelisse looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 21:34] MrHohn commented on #504
@claurence We have comprehensive e2e tests implemented a while back, and that task was tracked by https://github.com/kubernetes/kubernetes/issues/56521. I can retrospectively add testing plans to the KEP if that is preferable.

[2019-02-22 21:36] ixdy commented on #714
It doesn't look like `kubernetes-test.tar.gz` is referenced anywhere on the website. I don't think we need to add anything for it at this time, either.

[2019-02-22 21:40] claurence commented on #504
@MrHohn if you can add them to the KEP that would be great!

[2019-02-22 21:48] claurence commented on #559
@kevtaylor looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 21:48] spiffxp commented on #590
/unassign @cblecker
/assign @spiffxp
Doing the needful as described in https://github.com/kubernetes/enhancements/issues/590#issuecomment-464413261

[2019-02-22 21:50] claurence commented on #564
@bsalamat looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 21:52] spiffxp commented on #590
Dropped the following teams (their ACL):
- kubernetes-maintainers (write)
- kubernetes-reviewers (read) (this is unnecessary since it's a public repo)
- kubernetes-release-managers (write)

Added the following teams (their ACL):
- kubernetes-milestone-maintainers (write)

[2019-02-22 21:52] msau42 commented on #559
We have alpha tests running [here](https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-features)

The new testing plan and graduation criteria sections were added to the KEP template after this cycle's KEP deadline.  We will need to go back and fill them in.

[2019-02-22 21:54] spiffxp commented on #590
Removed the hold on https://github.com/kubernetes/org/pull/498, it will take some time for those changes to propagate.  Suggest leaving this open until they're verified.

[2019-02-22 21:55] claurence commented on #559
Thanks @msau42 - if we can just add that link to the KEP that would be helpful!

[2019-02-22 21:58] claurence commented on #589
@wangzhen127 looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 21:58] yastij commented on #383
@claurence - Sure, I'll add some of the testing plans for this on the KEP.

[2019-02-22 22:00] claurence commented on #596
@jsafrane looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 22:01] claurence commented on #600
@pbarker looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 22:07] claurence commented on #633
@Liujingfang1 this issue is closed it looks like - should it no longer be tracked for 1.14?

If it's being tracked for 1.14 looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have t

[2019-02-22 22:10] msau42 commented on #596
@vladimirvivien has a followup PR to add more detailed testing information: https://github.com/kubernetes/enhancements/pull/790

[2019-02-22 22:11] claurence commented on #751
@derekwaynecarr looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 22:13] claurence commented on #758
@bowei looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 22:15] claurence commented on #783
@luxas looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 22:15] claurence commented on #793
@yujuhong looking over the KEP for this enhancement I don't see any testing plans - can someone help PR in testing plans for this enhancement? This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-02-22 22:24] pbarker commented on #600
@claurence what do you mean by a testing plan? We have an integration test and an e2e test in the works, is there a document I'm missing?

[2019-02-22 22:31] spiffxp commented on #351
/milestone clear
@msau42 if this landed as beta in v1.13, and is staying beta in v1.14, I'm not sure we as the release team need to be tracking it, please add back if I'm wrong

[2019-02-22 22:32] Liujingfang1 commented on #633
@claurence The testing is added in the integration PR. It's a change on `kubectl` and won't affect other components.
We also have another [PR](https://github.com/kubernetes/kubernetes/pull/74140) for the second KEP https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kustomize-file-processing-integration.md
This second PR has a bunch of tests.

@npentrel Yes, I think we need doc mod

[2019-02-22 22:40] msau42 commented on #351
correct

[2019-02-22 23:38] bgrant0607 commented on #589
@claurence Please take a look at https://github.com/kubernetes/enhancements/pull/846 and comment there

[2019-02-23 00:27] spiffxp commented on #629
/milestone clear
I'm removing this from the milestone for the same reasons mentioned in https://github.com/kubernetes/enhancements/issues/630#issuecomment-466104798

tl;dr since it sounds like this enhancements consists of bits cut from an out-of-tree repo, and the release team is only focused on kubernetes/kubernetes, we're not going to track this

If there is (non-test) code in kubernetes/kubern

[2019-02-23 01:48] yujuhong commented on #793
I've added unit tests in both the node controller (pending PR #74442) and the kubelet (#73333).
I am on the fence of whether an e2e test is needed. I can add one to check whether both beta and GA labels are applied to all nodes, but that'd only check if label will be applied for 1.13 and before kubelets.
Our existing test suites do not test the scenario of upgrade/downgrade + changing OS/arch for

[2019-02-23 02:28] ixdy commented on #714
https://github.com/kubernetes/kubernetes/pull/74065 has merged.

[2019-02-23 05:06] apelisse commented on #555
@claurence I've updated the description, let me know if you expected something different! Thanks!

[2019-02-23 07:02] justaugustus commented on #590
Thanks for making the changes, @spiffxp! I've verified that the updates to `enhancements-maintainers` has taken effect.

I've opened two PRs to close the loop on this:
- Update the description of the `kubernetes-milestone-maintainers` GitHub team: https://github.com/kubernetes/org/pull/523
- Update description of Milestone Maintainers in k/sig-release to include a note on write privs to k/enhancem

[2019-02-23 20:47] #590 closed

[2019-02-23 20:50] spiffxp commented on #589
FWIW it's looking like the flakiest test in the flakiest PR job is NodeLease related, and is on the rise
- http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=NodeLease

[2019-02-23 21:00] bsalamat commented on #564
@claurence Could you please elaborate or refer me to an example of needed testing plans? This feature existed and already has unit, integration, and e2e tests and graduation to stable comes with no functionality change. So, there is no need to specifically add tests for the stable version.

[2019-02-24 02:30] shenshouer commented on #129
Great design, any update for this?

[2019-02-24 02:47] spiffxp commented on #693
FYI @claurence

This tracking issue and KEP (https://github.com/kubernetes/enhancements/pull/781) did not make it in time for the v1.14 enhancements freeze nor the extended deadline.  I appreciate that you opened these before the deadlines, but they didn't seem to get sufficient review or sign off.  This will need to go through the exception process.

Until we decide whether this is worth the exce

[2019-02-24 18:52] bswartz commented on #565
/assign @bswartz

[2019-02-25 14:21] gliush opened #853 "Configurable scale velocity for HPA"
# Enhancement Description
- Configurable HPA velocity
- Kubernetes Enhancement Proposal (PR): https://github.com/kubernetes/enhancements/pull/883
- KEP: [20190307-configurable-scale-velocity-for-hpa](https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/20190307-configurable-scale-velocity-for-hpa.md)
- k8s API change PR: https://github.com/kubernetes/kubernetes/pull/74525
-

[2019-02-25 14:21] gliush commented on #853
/sig autoscaling

[2019-02-25 14:44] wojtek-t commented on #589
@bgrant0607 Release note is in this PR: https://github.com/kubernetes/kubernetes/pull/72096
Let me know if there are some information you believe should be added and/or changed.

[2019-02-25 15:10] lledru commented on #116
Hello, 1.14 enhancement shadow here.  Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release.  What open K/K PRs do you still have that need to merge?

[2019-02-25 15:13] lledru commented on #555
Hello, 1.14 enhancement shadow here.  Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release.  What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 15:14] lledru commented on #504
Hello @MrHohn , 1.14 enhancement shadow here.  Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release.  What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 15:16] michmike commented on #116
@lledru  we have some work that's underway and includes a few PRs. you can see our tracking board for 1.14 here. https://github.com/orgs/kubernetes/projects/8

[2019-02-25 15:16] lledru commented on #383
Hello @gmarek and @yastij , Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release.  What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 15:18] lledru commented on #357
Hello, 1.14 enhancement shadow here.  Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release.  What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 15:18] lledru commented on #213
Hello, 1.14 enhancement shadow here.  Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release.  What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 15:21] lledru commented on #121
Hello, 1.14 enhancement shadow here.  Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release.  What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 15:24] neolit123 commented on #357
our tracking issue for this work in the k/kubeadm repo is here: https://github.com/kubernetes/kubeadm/issues/1373

i will let you know if we are behind schedule.

[2019-02-25 16:27] apelisse commented on #555
Hey @lledru, we have a few PRs in flight that should get merged in the week or so. None of them is really blocking for the release and we absolutely could release in the current state!

[2019-02-25 17:25] lachie83 commented on #556
Hello @gnufied, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:26] lachie83 commented on #559
Hello @kevtaylor, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:27] lachie83 commented on #557
Hello @msau42, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:28] lachie83 commented on #564
Hello @bsalamat, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:29] lachie83 commented on #565
Hello @bswartz, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:32] lachie83 commented on #579
Hello @jaredbhatti @soltysh, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:34] lachie83 commented on #580
Hello @freehan, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:34] lachie83 commented on #585
Hello @tallclair, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-25 17:39] tallclair commented on #585
- [ ] https://github.com/kubernetes/kubernetes/pull/74433 is the most important, which migrates to an internal API and blocks the beta API
- [ ] Add beta API & bump feature gate - will send a PR soon
- [ ] https://github.com/kubernetes/enhancements/pull/723 - Mostly just process, but ticks a box on the graduation requirements & improves documentation
- [ ] More testing - We want to augment the E2E

[2019-02-25 17:54] jiayingz commented on #693
/cc @jiayingz @dchen1107

[2019-02-25 19:33] freehan commented on #580
@lachie83 There is only 1 PR left to be merge #74434

[2019-02-25 19:36] bsalamat commented on #564
Hi @lachie83, The only remaining PR is https://github.com/kubernetes/kubernetes/pull/74465 which is actually just a comment update to mark older versions of the API deprecated. Other changes are already merged.

[2019-02-25 19:48] mattfarina commented on #19
/remove-lifecycle rotten

[2019-02-25 19:49] mattfarina commented on #19
/lifecycle frozen

[2019-02-25 19:56] wojtek-t commented on #383
I think we need to move it out of 1.14 - we won't be ready for it.

[2019-02-25 21:12] sharkymcdongles commented on #497
Bump. This would be super useful.

[2019-02-25 21:26] kevtaylor commented on #559
@lachie83 The PRs for both the code and the documentation are merged

[2019-02-25 21:35] bowei commented on #758
Adding section.

[2019-02-25 21:46] msau42 commented on #557
These two PRs are pending:
- [ ] https://github.com/kubernetes/kubernetes/pull/73883
- [ ] https://github.com/kubernetes/kubernetes/pull/74283

[2019-02-25 22:16] bowei commented on #758
https://github.com/kubernetes/enhancements/pull/854

[2019-02-25 23:03] msau42 commented on #121
The items I listed above [here](https://github.com/kubernetes/enhancements/issues/121#issuecomment-457396290) tracks our 1.14 work.

[2019-02-25 23:49] yastij commented on #383
I agree with @wojtek-t we won’t be ready for it.

[2019-02-26 01:26] MrHohn commented on #504
@lledru Thanks for checking in. There is no open K/K PRs that need to merge. (I do need to send a PR to add testing plans to KEP but that is not K/K.)

[2019-02-26 08:57] soltysh commented on #579
That's still being discussed, but we're quite hesitant since that might introduce hard to debug behavior. For `kubectl describe` itself we're planning to have a server-side version of it, similarly to `kubectl get`.

[2019-02-26 09:13] soltysh commented on #579
@lachie83 @jaredbhatti @claurence sorry for the delay, but here it goes, the updated KEP (to implemented) is https://github.com/kubernetes/enhancements/pull/856 and doc update is here: https://github.com/kubernetes/website/pull/12847

[2019-02-26 14:39] lledru commented on #383
thanks for the update @yastij and @wojtek-t, good luck, see you on 1.15 :)
/tracked no

[2019-02-26 14:51] liggitt commented on #793
in my opinion, yes

[2019-02-26 18:45] claurence commented on #564
@bsalamat if the tests exist can you PR a link to them into the KEP so they are easy for CI Signal and others to find?

[2019-02-26 19:54] justaugustus commented on #822
/assign @mattfarina

[2019-02-26 22:02] Liujingfang1 commented on #633
@npentrel I created a placeholder PR https://github.com/kubernetes/website/pull/12867
Once I'm done with the code changes, I'll work on this doc PR.

[2019-02-27 02:21] ddebroy commented on #689
@npentrel docs PR placeholder opened: https://github.com/kubernetes/website/pull/12869/files

[2019-02-27 05:56] krmayankk commented on #213
@lledru here are the PR's in progress
https://github.com/kubernetes/kubernetes/pull/73691
https://github.com/kubernetes/kubernetes/pull/73007
https://github.com/kubernetes/enhancements/pull/835

[2019-02-27 05:59] krmayankk commented on #213
@claurence the graduation criteria in https://github.com/kubernetes/enhancements/pull/835/files at the bottom should cover it. Are you looking for testing plan for making it stable or for making it beta ?

[2019-02-27 13:05] lledru commented on #357
thanks @neolit123, the only PR open i found in your tracking issue is: [kubernetes/kubernetes#72886](https://github.com/kubernetes/kubernetes/pull/72886), correct ? TY

[2019-02-27 16:15] neolit123 commented on #357
sorry i didn't clarify @lledru

the only critical remaining item in the whole list for this cycle is `* Alllow user to provide the certificate key on upload-certs`:
https://github.com/kubernetes/kubeadm/issues/1408 under `Certificates copy workflow`

the rest are nice-to-haves for this cycle, but most importantly - due to the fact we are not going to be able to provide e2e signal for the new featu

[2019-02-27 16:50] ameukam commented on #670
Hello @frapposelli, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-27 16:56] ameukam commented on #757
Hello @derekwaynecarr, 1.14 enhancement shadow here. Code Freeze is March 7th and all PRs must be merged by then to your issue to make the 1.14 release. What open K/K PRs do you still have that need to merge? Thanks

[2019-02-27 17:10] simplytunde commented on #793
Hey @yujuhong  Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-27 17:10] simplytunde commented on #789
Hey @dekkagaijin   Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-27 17:11] simplytunde commented on #783
Hey @luxas   Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-27 17:12] simplytunde commented on #770
Hey @msau42  Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-27 17:13] simplytunde commented on #758
Hey @bowei   Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-27 17:14] simplytunde commented on #757
Hey @derekwaynecarr. Just a friendly reminder we're looking for a PR against k/website (branch dev-1.14) due by Friday, March 1. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-02-27 18:08] claurence commented on #693
@lmdaly I see y'all are have 1.14 listed in the description as the alpha milestone - since there wasn't a merged implementable KEP this issue is not being tracked for 1.14 - if there are intentions for it to be included in that release please submit an exception request.

[2019-02-27 21:54] frapposelli commented on #670
@ameukam @npentrel we should be good both on the PR and Docs front for this one, thanks!

[2019-02-27 22:39] pwittrock opened #859 "Include kubectl command metadata in http request headers"
# Include kubectl command metadata in http request headers
- One-line enhancement description (can be used as a release note): kubectl adds http headers with the subcommand name, which flags were specified and a session id.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/859-kubectl-headers
- Primary contact (assignee):
- Responsible SIGs:
- E

[2019-02-27 22:54] claurence commented on #127
@vikaschoudhary16 any update on a KEP for this issue?  Currently this issue is at risk for the 1.14 release because we can't locate a KEP with test plans.  Can you please share test plans and graduation criteria for this issue?

[2019-02-27 22:56] claurence commented on #213
@mariantalla for CI signal is that enough for testing plans ^?

[2019-02-27 23:17] claurence commented on #692
exception request was approved adding back to 1.14 milestone

[2019-02-27 23:21] claurence commented on #793
Thanks for PR-ing those tests @yujuhong - are there any additional open PRs in k/k that need to be merged for 1.14?  Reminder that code freeze is March 7th

[2019-02-27 23:22] claurence commented on #789
@dekkagaijin checking again if there are any open PRs for k/k that need to be merged for 1.14?  Thanks!

[2019-02-27 23:24] claurence commented on #770
@msau42 Checking in as code freeze is approaching (March 7th) - I see a few PRs mentioned above but want to check which ones need to be merged by code freeze for this to be included in the 1.14 release (and if there are any additional PRs).

[2019-02-27 23:25] claurence commented on #758
@bowei are there any open PRs in K/K for this enhancement that need to be merged before code freeze (march 7th)?

[2019-02-27 23:31] dekkagaijin commented on #789
Yup, one open PR for k/k that I'll hopefully close on tonight or tomorrow: https://github.com/kubernetes/kubernetes/pull/73807

I'll open a documentation PR on k/website...

[2019-02-27 23:48] pwittrock commented on #859
cc @kubernetes/sig-api-machinery-misc
cc @kubernetes/sig-cli-misc
cc @soltysh
cc @deads2k

[2019-02-28 01:57] msau42 commented on #770
I updated the description with all the k/k prs required

[2019-02-28 02:13] msau42 commented on #557
docs pr: https://github.com/kubernetes/website/pull/12889

[2019-02-28 05:39] braderhart commented on #127
Really hoping this makes 1.14. Any plans to support this with Minikube as well?

[2019-02-28 14:43] claurence commented on #600
@pbarker yes e2e test and integration tests are what we are looking for - when you have those can you PR them into the KEP?

[2019-02-28 15:39] leblancd commented on #563
@KevinAtDesignworx - If using an ingress controller would work in your scenario, it's possible to configure an NGINX ingress controller for dual-stack operation from outside (proxying to single-family inside the cluster): https://github.com/leblancd/kube-v6#installing-a-dual-stack-ingress-controller-on-an-ipv6-only-kubernetes-cluster

The ingress controllers would need to run on the host network o

[2019-02-28 15:52] pbarker commented on #600
will do 👍

[2019-02-28 17:55] andrewsykim commented on #837
Don't think this will make it to v1.14

/milestone v1.15

[2019-02-28 18:24] MAKOSCAFEE commented on #596
Hi @vladimirvivien just to check if you managed to open docs PR(or a placeholder PR)  against `dev-1.14` as the deadline for doing so(1 March) is tomorrow.
Thanks

[2019-02-28 18:28] MAKOSCAFEE commented on #603
Hi @thockin, @liggitt  just to check again if this issue needs any docs and if needs one have you managed to open docs PR(or a placeholder PR)  against `dev-1.14` as the deadline for doing so(1 March) is tomorrow.
Thanks

[2019-02-28 18:30] liggitt commented on #603
^ @jsafrane

[2019-02-28 18:55] msau42 commented on #603
This feature is not user facing, so no docs are needed for kubernetes.io.  We will, however, update developer docs for kubernetes-csi

[2019-02-28 19:09] gnufied commented on #556
@lachie83 @cody-clark The feature is on track. Most of work is externally done in https://github.com/kubernetes-csi/external-resizer/ , however I will have a PR for main k/k repo as well.

I will open docs PR by docs window.

[2019-02-28 20:17] MAKOSCAFEE commented on #603
@msau42 Thank you for the information

[2019-02-28 21:06] vladimirvivien commented on #596
@MAKOSCAFEE here is the place holder doc PR for this feature - https://github.com/kubernetes/website/pull/10934

[2019-03-01 04:28] lachie83 commented on #559
Thanks for the update @kevtaylor @msau42. Can you please submit a PR against the KEP with the testing plan and graduation criteria?

This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.

If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release

[2019-03-01 04:40] lachie83 commented on #783
@luxas Friendly ping on the call to action in the previous two comments. Thanks

[2019-03-01 09:12] kevtaylor commented on #559
@msau42 What does this mean?

[2019-03-01 12:40] mtritschler commented on #691
@majgis could you post a link to that new KEP? Thanks

[2019-03-01 13:06] jsafrane commented on #770
This feature is not facing users and thus does not have docs on kubernetes.io. Its documentation is at https://kubernetes-csi.github.io/docs/. 1.14 updates are in progress at https://github.com/kubernetes-csi/docs/pull/121

[2019-03-01 13:06] jsafrane commented on #603
1.14 updates are in progress at https://github.com/kubernetes-csi/docs/pull/121

[2019-03-01 14:11] majgis commented on #691
@mtritschler Thank you for the reminder.  I'll make sure that is created this weekend and post the link here.

[2019-03-01 16:21] claurence commented on #559
@kevtaylor if you have E2E tests and graduation criteria for this enhancement can you add them to the KEP?  @msau42 indicated there was alpha tests running so adding a link to them in the KEP would be helpful for CI Signal

[2019-03-01 16:47] kevtaylor commented on #559
@claurence please can you clarify what you mean by graduation criteria? And where does the link go in the kep? I couldnt see any obvious place in it. Do we add a new section to the original doc? An example would be helpful. Thanks

[2019-03-01 17:15] claurence commented on #559
@kevtaylor For graduation criteria is there criteria for when we know this enhancement is ready to move from alpha --> beta --> stable

Making a new section in the KEP is fine to add the link to test plans.  https://github.com/kubernetes/enhancements/blob/master/keps/YYYYMMDD-kep-template.md#graduation-criteria that KEP template should explain more

[2019-03-01 17:16] kevtaylor commented on #559
@claurence great thanks. Ill sort that out

[2019-03-01 17:47] nikopen commented on #575
@nikhita any chance this is merged in the following 2 weeks?
Code Freeze is in effect from next Friday.

[2019-03-01 18:19] gnufied commented on #556
Docs PR - https://github.com/kubernetes/website/pull/12928

[2019-03-01 19:58] craiglpeters commented on #116
[The placeholder Documentation PR](https://github.com/kubernetes/website/pull/12929) is in place

[2019-03-01 21:36] sjenning commented on #757
https://github.com/kubernetes/kubernetes/pull/73651 implements node-to-pid isolation for 1.14.
@RobertKrawitz could you open a PR against kubernetes/website for documenting this.  Doesn't have to be the full thing yet.  I think @simplytunde just needs the PR for release tracking atm.

[2019-03-01 22:43] RobertKrawitz commented on #757
https://github.com/kubernetes/website/pull/12932 is a placeholder.

[2019-03-02 01:01] npentrel commented on #670
Just to confirm @frapposelli, you are saying this does not require docs changes?

[2019-03-02 01:07] npentrel commented on #751
Hey @derekwaynecarr, gentle ping on the docs PR.

[2019-03-03 16:24] luxas commented on #783
This is an ongoing refactor, where (IMO) neither of the comments above apply, as this is not a "normal" feature/enhancement. This issue was created purely for visibility reasons. That said, we've moved some packages, but not all of those we want yet. This effort will span many releases, with no user-facing changes (hence no docs). There is no dedicated "testing plan" for this either, as the Go fil

[2019-03-03 19:49] lledru commented on #555
hello @apelisse,
Can you please submit a PR against the KEP with the testing plan ?
This information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.
If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release
thank you very much.

[2019-03-03 19:52] lledru commented on #504
Hi @MrHohn, when do you think you could merge PR #867 ? Just checked with my enhancement teammates, this information is helpful for knowing readiness of this feature for the release and is specifically useful for CI Signal.
If we don't have testing plans this enhancement will be at risk for being included in the 1.14 release. Best regards

[2019-03-03 19:58] MrHohn commented on #504
@lledru We will make sure to get that in before 1.14 code freeze (hopefully next Monday-ish).

[2019-03-04 14:11] majgis opened #871 "Re-run initContainers in a Deployment when containers exit on error"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Re-run initContainers in a Deployment when containers exit on error
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
TBD
- Primary contact (assignee):
TBD
- Responsible SIGs:
/sig apps
/sig node
- Enhancement target (which target equals to which milestone)

[2019-03-04 14:11] majgis commented on #691
https://github.com/kubernetes/enhancements/issues/871

[2019-03-04 14:33] majgis commented on #871
A PR still needs to be created for this proposal.  If someone else is passionate about this issue, I'm happy to hand off, but I'll continue to pursue it and am currently working on a PR for the enhancements file.

This proposal follows up on an issue that was closed because it was expected to be solved under a KEP.
The original issue was https://github.com/kubernetes/kubernetes/issues/52345.
It wa

[2019-03-04 15:53] spiffxp commented on #783
@luxas Some questions I have based on what I see in the KEP (I will ping #sig-cluster-lifecycle as I think you may not be super available)
- What parts of the KEP are done?  The [timeframe and implementation order]https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/0032-create-a-k8s-io-component-repo.md#timeframe-and-implementation-order) lead me to believe `Component

[2019-03-04 17:27] spiffxp commented on #783
[Response on #sig-cluster-lifecycle by @mtaufen](https://kubernetes.slack.com/archives/C13J86Z63/p1551719021040400) after I pinged, with some liberties edited in for the benefit of markdown formatting:

I want @luxas  and @sttts to weigh in and correct anything I get wrong below, but to the best of my knowledge:
1. ComponentConfig being used is an incremental migration on a per-component basis. No

[2019-03-04 17:31] spiffxp commented on #783
Summarizing followup chat in the same place:
- it sounds like it's too early to discuss this in the context of "extensibility" and "stability"
- it be worth revisiting once we actually have more `ComponentConfig`'s, at present it seems like maybe only kublet and kube-scheduler use them

I am inclined to suggest we punt this out of v1.14, as it doesn't appear to be landing in a way that could be ca

[2019-03-04 17:31] spiffxp commented on #783
Based on the above, I am inclined to suggest we punt this out of v1.14, as it doesn't appear to be landing in a way that could be called "complete" even for alpha.   Further, I would suggest we `/hold` any further PR's that attempt to land after code freeze.

[2019-03-04 19:41] bswartz commented on #565
@lachie83
https://github.com/kubernetes/kubernetes/pull/74693
https://github.com/kubernetes/kubernetes/pull/74899

[2019-03-04 21:26] gnufied commented on #556
Code PR for main k/k repo - https://github.com/kubernetes/kubernetes/pull/74863

[2019-03-05 03:11] jimangel commented on #555
Hey @apelisse, the docs deadline was last Friday March 1st (to open a placeholder PR). Do you have any PRs in flight for dev-1.14 docs? Is this still targeting 1.14?

[2019-03-05 03:16] jimangel commented on #556
Hey @gnufied, thanks for the docs ref. Would you mind rebasing it off of the dev-1.14 branch instead of master? Thanks!

[2019-03-05 03:21] apelisse commented on #555
We've created the documentation place-holder: https://github.com/kubernetes/website/pull/12898. I'm not sure it's correct but at least it exists :-)

[2019-03-05 03:30] apelisse commented on #555
@lledru Thanks for the reminder, @jennybuckley is working on updating the KEP.

[2019-03-05 03:41] jimangel commented on #793
@yujuhong @liggitt - do you have any PR's open for "update documentation and examples to the GA labels (noting which version the GA labels were added)" against the dev-1.14 k/website branch? The placeholder PR deadline was last friday and I did not see anything related. Thanks!

[2019-03-05 04:13] yujuhong commented on #793
@jimangel sorry for the delay. I just opened up a PR https://github.com/kubernetes/website/pull/12976

[2019-03-05 09:15] lmdaly commented on #693
@claurence the KEP is now merged (KEP had been previously merged in the community repo. this was just to move it to the new enhancements repo as per the new guidelines), do we still need to submit an exception request to get this issue tracked for 1.14?

[2019-03-05 15:23] claurence commented on #603
@jsafrane it looks like k/k PRs for this issue have been merged for 1.14 - are there any additional open PRs for 1.14 that need to be merged for this enhancement?

[2019-03-05 15:24] ddebroy commented on #625
We do need  kubernetes/kubernetes#74926 merged. /cc @msau42

[2019-03-05 15:28] msau42 commented on #603
There is one more PR I am working on to update the tests. I will open one soon

[2019-03-05 15:42] claurence commented on #603
Thanks @msau42!  Reminder code freeze is Friday!

[2019-03-05 16:36] claurence commented on #116
@michmike looking at that tracking board is everything in the 1.14 release blocking column what should be merged by code freeze?  it looks like if I'm interpreting that correctly that is 9 open PRs in K/K that need to be merged by Friday?

[2019-03-05 17:19] michmike commented on #116
@claurence  that is correct.  it is going to be a tight squeeze. a few of those PRs are ready to be merged today already.

[2019-03-05 19:16] davidz627 commented on #625
also: https://github.com/kubernetes/kubernetes/pull/74835

[2019-03-05 21:04] lledru commented on #692
@roycaihw @liggitt, 1.14 enhancement shadow here.
What should be merged before code freeze? is [#71192](https://github.com/kubernetes/kubernetes/pull/71192) the only k/k PR you need to merge ?
Moreover i think you dont have test plan inside the KEP, could you add it quickly please? Thanks a lot

[2019-03-05 21:27] lledru commented on #213
Hi @krmayankk, the only PR not merged yet is [#73691](https://github.com/kubernetes/kubernetes/pull/73691), correct? will this be merged before code freeze? Thanks

[2019-03-05 22:15] msau42 commented on #603
e2e pr: https://github.com/kubernetes/kubernetes/pull/74993

[2019-03-05 23:43] roycaihw commented on #692
@lledru we aim to merge https://github.com/kubernetes/kubernetes/pull/71192 (the feature) and kubernetes/kubernetes#74832 (kubectl regression test, doesn't depend on the new feature) before code freeze

the two PRs cover the test plan that we put in the [KEP graduation criteria](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/00xx-publish-crd-openapi.md#graduation-cri

[2019-03-06 00:00] RobertKrawitz commented on #757
Above PR is complete and waiting for review/approval.

[2019-03-06 05:17] krmayankk commented on #213
@lledru  that is correct

[2019-03-06 15:28] derekwaynecarr commented on #751
@npentrel the docs pr is here: https://github.com/kubernetes/website/pull/13004

[2019-03-06 16:08] derekwaynecarr commented on #757
https://github.com/kubernetes/website/pull/13006 as well

[2019-03-06 17:07] lachie83 commented on #564
@bsalamat can you please provide an update on the @claurence comment regarding tests?

[2019-03-06 17:28] ddebroy commented on #689
The two main in-tree PRs for this feature include: https://github.com/kubernetes/kubernetes/pull/73726 (merged) and https://github.com/kubernetes/kubernetes/pull/74737 (reviewed/approved/waiting-to-merge).

[2019-03-06 18:39] claurence commented on #783
Given conversation in slack, this thread and the release meeting this item is being removed from the 1.14 milestone

[2019-03-06 18:40] claurence commented on #127
As there hasn't been responses on the above questions in over two weeks, and no responses in slack when asked about it in sig-node slack channel this item is being removed from the 1.14 milestone.

[2019-03-06 18:44] bsalamat commented on #564
@claurence @lachie83 I just sent [a PR](https://github.com/kubernetes/enhancements/pull/879) to add testing plan to the KEP.

[2019-03-06 21:42] apelisse commented on #555
@lledru There it is: #878

[2019-03-06 23:56] bswartz commented on #565
@lachie83 Anything else I need to do? I know the freeze is coming up and I want to make sure this enhancement wraps up smoothly.

[2019-03-07 04:28] lachie83 commented on #565
I believe we are only waiting on getting those PRs merged before code-freeze tomorrow evening PT. I noticed they aren't tagged in the 1.14 milestone. Can you work on getting them added to the milestong and getting the PRs merged?

[2019-03-07 11:19] Joseph-Irving commented on #753
In relation to the implementation discussion in https://github.com/kubernetes/enhancements/pull/841, I've opened a WIP PR containing a basic PoC for this proposal https://github.com/kubernetes/kubernetes/pull/75099. It's just a first draft and obviously not perfect but the basic functionality works and gives you an idea of the amount of change required.

cc @enisoc

[2019-03-07 18:16] claurence commented on #213
@krmayankk That PR isn't on the 1.14 milestone - if this PR is needed for 1.14 can I add it to the milestone?

[2019-03-07 18:16] #607 closed

[2019-03-07 18:16] #568 closed

[2019-03-07 18:16] #546 closed

[2019-03-07 18:16] #552 closed

[2019-03-07 18:18] claurence commented on #357
@neolit123 that issue lined is closed - does that mean all 1.14 related issues and PRs are merged for this?

[2019-03-07 18:21] neolit123 commented on #357
@claurence our code work has finished for this feature for 1.14.
bug fixes only.

it's a tracking issue with nice to haves at this point, will continue for 1.15.

docs PRs for HA are tracked here
https://github.com/kubernetes/kubeadm/issues/1422

overall state of the feature: still ALPHA.

[2019-03-07 19:16] #384 closed

[2019-03-07 19:16] #276 closed

[2019-03-07 19:16] #289 closed

[2019-03-07 20:18] #171 closed

[2019-03-08 03:06] claurence commented on #600
Hi All,
We've entered code freeze and it looks like the two PRs y'all have in the description are still open: kubernetes/kubernetes#73981
kubernetes/kubernetes#73547

Because they are open and don't have "LGTM" and "Approve" labels we are removing this enhancement from the 1.14 release - if you feel this was done in error please talk with your relevant SIG or come in the sig-release slack channel

[2019-03-08 08:29] #562 closed

[2019-03-08 10:12] pohly commented on #362
/reopen

As far as I know, this problem is still open, at least for CSI drivers.

@msau42 or @saad-ali: can you clarify?

[2019-03-08 17:49] jaredbhatti commented on #565
Folks, is there a docs PR?

[2019-03-08 17:52] jaredbhatti commented on #585
I noticed you linked to a merged PR for docs that went out in the last release - are there no docs changes per this release?

[2019-03-08 17:57] msau42 commented on #362
/lifecycle frozen
/remove-lifecycle rotten

Yes we need to think more about how this feature is going to integrate with inline ephemeral volumes cc @vladimirvivien

[2019-03-08 18:02] jaredbhatti commented on #565
I see that docs already exist (per this PR:https://github.com/kubernetes/website/pull/8927). Let me know if this content needs to be updated.

[2019-03-08 18:39] bswartz commented on #565
@jaredbhatti the docs PR is here:
https://github.com/kubernetes/website/pull/12931

[2019-03-08 19:21] tallclair commented on #585
Thanks for pointing that out @jaredbhatti, I'm afraid I missed your last comment. I see that I've missed the March 1st deadline for this,

[2019-03-08 23:26] krmayankk commented on #213
@claurence Please track this one https://github.com/kubernetes/kubernetes/pull/75164 and ignore 73691

[2019-03-11 18:20] vladimirvivien commented on #596
@MAKOSCAFEE can someone take a look at doc PR please - PTAL -  https://github.com/kubernetes/website/pull/10934

[2019-03-11 19:24] resouer commented on #693
While after reading the design & WIP PRs througoutly, I have concerns that the current implementation is not generic as the original topology design we proposed in https://github.com/kubernetes/enhancements/pull/781, which currently reads more like NUMA topology in node level.

I left some comments for further discussion here: https://github.com/kubernetes/kubernetes/pull/74345#discussion_r2643877

[2019-03-11 21:16] MAKOSCAFEE commented on #596
Hi @vladimirvivien sure let me ping the right person to take a look. Thanks

[2019-03-12 00:26] #789 closed

[2019-03-12 21:57] tallclair commented on #600
/milestone v1.15

[2019-03-12 23:26] jingweno commented on #213
@krmayankk Thanks for fixing this. Just bumped into this issue...

[2019-03-12 23:40] jingweno commented on #213
I just ran into the issue that setting `Containers[0].SecurityContext.RunAsUser = 3000 and Containers[0].SecurityContext.RunAsGroup = 3000` will make the user running as 3000 but its group is still root (0). Is this expected?

[2019-03-13 00:33] tallclair commented on #213
@jingweno what version of Kubernetes? Is the RunAsGroup feature gate enabled?

[2019-03-13 00:49] krmayankk commented on #213
@jingweno it’s an alpha feature being enabled by default in 1.14(moving to beta ) there was also a bug in containerd that was fixed sometime back . So depends on which runtime are you using , which kubernetes version and whether the alpha feature flags are enabled

[2019-03-13 17:23] bsalamat commented on #564
Pod priority and preemption is in GA in 1.14. With that, we can close this enhancement request.

[2019-03-13 17:23] #564 closed

[2019-03-14 16:04] tallclair opened #894 "RuntimeClass Scheduling"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add scheduling support for using RuntimeClass in heterogeneous clusters.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/896 / https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/runtime-class-scheduling.md
- Primary contact (assignee): @tallclair
- Resp

[2019-03-14 16:15] tallclair commented on #822
I'd like to add that the relationship between the KEP and the enhancements issue is confusing. In my opinion, the KEP should capture the design while the issue tracker focuses on status & tracking. With that split, the "Release Signoff Checklist" should be moved to the issue tracker (a separate one for each release stage?).

[2019-03-14 18:21] bsalamat opened #895 "Even pod spreading across failure domains"
# Enhancement Description
- One-line enhancement description (can be used as a release note): This feature enables Kubernetes scheduler to spread a group of pods across failure domains. The existing hard inter-pod anti-affinity does not allow more than one pod to exist in a failure domain. The new feature supports more than one pod in a failure domain.
- KEP: [20190221-pod-topology-spread.md](http

[2019-03-14 22:36] tallclair commented on #894
/sig node
/milestone v1.15
/assign

[2019-03-14 22:38] tallclair commented on #894
/sig scheduling

[2019-03-14 22:53] Huang-Wei commented on #894
@tallclair Does `/assign` means you'd like to cover the implementation?

[2019-03-14 23:46] yastij commented on #894
@Huang-Wei - I was planning to work on this, as per discussion with @tallclair and kubernetes/kubernetes#72413

[2019-03-14 23:49] Huang-Wei commented on #894
Cool, I recalled you mentioned that.

[2019-03-15 07:29] stlaz commented on #135
/remove-lifecycle rotten

[2019-03-15 14:55] therc commented on #592
What are the next steps for this? Will it require further changes or graduate to beta?

[2019-03-18 04:39] vllry opened #902 "Add non-preempting option to PriorityClasses"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
This feature adds a new option to PriorityClasses, which can enable or disable pod preemption.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/902-non-preempting-priorityclass
- Primary contact (assignee): @denkensk
- Responsible SIGs: scheduli

[2019-03-18 04:39] vllry commented on #902
/sig scheduling

[2019-03-18 15:55] Joseph-Irving commented on #753
I put together a short video just showing how the PoC currently behaves https://youtu.be/4hC8t6_8bTs. Seeing it in action can be better than reading about it.
Disclaimer: I'm not a pro youtuber.

[2019-03-18 18:12] tallclair commented on #24
/remove-lifecycle rotten

[2019-03-18 18:14] tallclair commented on #24
It might be useful to mark this feature as rotten, as it's been stuck in beta for too long, but IMO enhancements that have been merged into kubernetes should not be closed unless they are completed (GA) or deprecated & removed.

[2019-03-19 01:57] spiffxp commented on #598
FYI it doesn't appear that the KEP for this was migrated away from kubernetes/community?

[2019-03-19 05:41] spiffxp commented on #504
/remove-stage beta
/stage stable

[2019-03-19 05:44] spiffxp commented on #565
/remove-stage alpha
/stage beta

Per https://groups.google.com/forum/#!msg/kubernetes-milestone-burndown/G7RlJsKvsOc/p7CSTQK9FAAJ

[2019-03-19 05:45] spiffxp commented on #579
/remove-stage beta
/stage stable

[2019-03-19 05:51] spiffxp commented on #633
/remove-stage alpha
/stage stable
reconciling with https://bit.ly/k8s114-enhancements

[2019-03-19 06:05] spiffxp commented on #585
/remove-stage alpha
/stage beta
reconciling with https://bit.ly/k8s114-enhancements

[2019-03-19 06:13] spiffxp commented on #692
/stage alpha
ref: https://github.com/kubernetes/kubernetes/pull/71192/files#diff-84e72664a7cc9add01954d3a7b8cbb45R500

[2019-03-19 10:29] rosti commented on #784
I am giving this a try.
/assign

[2019-03-19 15:10] liggitt commented on #598
we'll migrate it as part of completing the KEP work for 1.15

[2019-03-19 20:45] michmike commented on #116
3 years after the forming of SIG-Windows, we are pleased to announce that Kubernetes v1.14 will include stable support for windows
* KEP at https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190103-windows-node-support.md
* release notes created
* general 1.14 blog post created
* Docs preview at -
https://5c914f680410ed000aeebc2e--kubernetes-io-vnext-staging.netlify.com/docs

[2019-03-19 20:45] #116 closed

[2019-03-20 00:46] k82cn commented on #693
Share the same concern about on that :) How about others, e.g. links between device (nvlinke for GPU)?

[2019-03-21 18:49] shahiddev commented on #689
The link to the proposal is broken in the issue description
Should be https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20181221-windows-group-managed-service-accounts-for-container-identity.md

[2019-03-25 13:25] lmdaly commented on #693
@resouer @k82cn The initial proposal deals only with aligning the decisions made by cpu manager and device manager to ensure proximity of devices with the cpu the container runs on. Satisfying the inter-device affinity was a non-goal of the proposal.

If however, the current implementation is blocking the addition of inter-device affinity in the future then I am happy to change the implementation

[2019-03-25 15:54] liggitt opened #917 "Add go module support to k8s.io/kubernetes"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add go module support to k8s.io/kubernetes
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md
- Primary contact (assignee): @liggitt
- Responsible SIGs: sig-architecture, sig-api-machinery
- Enhancement target (which tar

[2019-03-25 17:10] zhouhaibing089 commented on #5
What are the gaps for this to be GA? I can think about few, but I do not see any criteria in the description.

[2019-03-25 18:54] tallclair commented on #5
Before this can go to GA, we need to fix these problems:

1. **Flawed authorization model** - PSP usage is granted through RBAC, and can either be granted to the user, or the created pod. Granting it to the user is the intuitive approach, but is problematic (see explanation). This approach also has some security issues.
2. **Difficult to roll out** - Because pods are rejected by default, we cannot

[2019-03-25 23:00] zhouhaibing089 commented on #5
Thanks for sharing the information!

I guess it is not really that. We did this by creating a PodSecurityPolicy which is open enough(or even open all) firstly, and then refine that gradually.

[2019-03-26 00:24] tallclair commented on #5
@zhouhaibing089 a Kubrenetes user can use that method which works because they control the policies. However, we cannot roll that out as a Kubernetes default since PodSecurityPolicy only opens the cluster up, meaning it's very difficult to manage the system controlled allow-all PSP.

[2019-03-26 02:17] vinaykul commented on #688
@tallclair @egernst I quickly went though the design proposal. We are working on [In-Place Vertical Scaling for Pods](https://github.com/kubernetes/enhancements/pull/686#), and I want to clarify a couple of things.

In the context or in-place resize, do you see PodSpec.Overhead as something VPA should be aware of via metrics reporting? And perhaps in the future, track this field and make recommend

[2019-03-26 08:35] OlegLoewen commented on #714
So how exactly is now the URL to get the linux-amd64.tar release 1.14 ?

[2019-03-26 09:23] RehanSaeed commented on #564
The [docs](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) still mention `scheduling.k8s.io/v1beta1` as the `apiVersion`. Can we now switch to `v1`?

[2019-03-26 09:41] soltysh commented on #579
Now that 1.14 is out the door I think we can close this issue since we've reached its final state.

[2019-03-26 09:41] #579 closed

[2019-03-26 14:10] Joseph-Irving commented on #753
I've opened two new PRs:

- https://github.com/kubernetes/enhancements/pull/918 is about Graduation critieria, version skew, upgrade/downgrade
- https://github.com/kubernetes/enhancements/pull/919 is to decide on the API implementation

Any thoughts or suggestions will be much appreciated.

[2019-03-26 17:19] bsalamat commented on #564
@RehanSaeed Yes. I will send a PR to change the example to v1. Thanks for reporting it.

[2019-03-26 23:59] ixdy commented on #714
@OlegLoewen I don't fully understand what you are asking.

The release tarballs for 1.14 are in the same location as in previous releases, i.e. in the `gs://kubernetes-release` bucket (which is also linked from all release announcements, as well as on https://releases.k8s.io/).

The difference starting in 1.14 is that there are also platform-specific tarballs for the tests, e.g. there's a `kuberne

[2019-03-27 14:17] Globegitter commented on #423
Kubernetes 1.14 has been released today and the docs say this is still in alpha. Is that the case?

[2019-03-27 22:10] #497 closed

[2019-03-28 12:03] sergey-shambir commented on #580
@freehan the link in description is indirectly broken, can you please correct it?
Correct link: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0007-pod-ready%2B%2B.md

[2019-03-28 23:01] currankaushik commented on #753
@Joseph-Irving Sorry if I'm commenting late in the design process, but I have a potential use case for sidecar containers which may not be supported in the current design proposal. I just wanted to raise it for consideration. The gist is that I have a scenario where on pod termination, 1 sidecar should be terminated before the main container, while another sidecar should be terminated after the ma

[2019-03-28 23:23] Joseph-Irving commented on #753
@currankaushik, in the scenario you described you could potentially use a pre-stop hook to tell the consul container to prepare for shutdown and stop routing requests to you (assuming it can support something like that). pre stop hooks will be sent to sidecars first before the termination of containers begins.

The motivation for this was so that proxy sidecars like istio could enter a state where

[2019-03-28 23:32] currankaushik commented on #753
Sounds good, thanks @Joseph-Irving. So just to confirm my understanding at a high level: pre-stop hooks will be sent to sidecars first, followed by pre-stop hooks to the non-sidecars, SIGTERM to non-sidecars, and then (after all non-sidecars have exited) SIGTERM to sidecars? The design proposal (https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/sidecarcontainers.md) seems to imp

[2019-03-28 23:39] Joseph-Irving commented on #753
@currankaushik yeah what you described is the intended behaviour.

That line you quoted needs rewording. I had some misconceptions about how the prestop hooks were sent to the pods when I wrote that. Thanks for pointing it out.

[2019-03-29 00:09] bsalamat commented on #624
KEP for this enhancement is found at: https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md

[2019-04-04 10:57] kron4eg commented on #609
/remove-lifecycle stale

[2019-04-04 15:11] saschagrunert opened #934 "Add pod sandbox image to runtime API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): The flag `--pod-infra-container-image` works now for remote runtimes, too. The CRI sends the configured container image to the runtime, which can use it as infra container. Configured remote runtimes have to support this feature and decide on their own if they use it or not.
- Kubernetes Enhancement Propo

[2019-04-04 15:12] saschagrunert commented on #934
/sig node

[2019-04-04 15:15] saschagrunert commented on #934
@dchen1107 @derekwaynecarr May I ask you what you think about this proposal? :)

[2019-04-04 18:20] MrHohn commented on #504
Closing this as it is GA with 1.14.

[2019-04-04 18:20] #504 closed

[2019-04-05 08:26] olamy opened #936 "Pod doesn't have inet6 on interface"
I'm using kube 1.14.00 with ubuntu 18.04.2
running an image with docker give me inet6 support:
[code]
The same image started as a pod doesn;t have the inet6 support
[code]
It used to work before upgrading ubuntu (17.10)
I didn;t upgrade anything regarding docker or kubernetes
Thanks

[2019-04-05 08:30] olamy commented on #936
/sig network

[2019-04-05 13:06] liggitt commented on #934
kubernetes/kubernetes#76144 is not a proposal. A [design proposal](https://github.com/kubernetes/enhancements/blob/master/keps/0000-kep-template.md) would provide motivation and design details to allow for discussing whether this is something that makes sense to do.

I'll defer to sig-node, but my first thought is that the pause container is an implementation detail, not something fundamental (whi

[2019-04-05 13:09] klueska commented on #693
I think the main issue I see with the current implementation and the ability to support inter-device affinity is the following:

In the current proposal, the assumption is that these operations happen in reverse order, i.e. the socket affinity is decided before doing the allocation of devices.

[2019-04-05 13:22] saschagrunert commented on #934
From my point of view there should be no requirement for the runtime to use it, but it should be preferred. The change is more about making the cluster configuration more consistent in mixed runtime environments. I think the chosen sandbox image for pods belongs to the configuration scope of the kubelet and should not only apply to docker.

[2019-04-05 13:24] liggitt commented on #934
I'd expect it to be more the configuration scope of the CRI. For example: https://github.com/cri-o/cri-o/blob/master/docs/crio.conf.5.md#crioimage-table

[2019-04-05 13:26] liggitt commented on #934
In any case, this is the sort of discussion that should happen on an actual [design proposal](https://github.com/kubernetes/enhancements/blob/master/keps/0000-kep-template.md)

[2019-04-05 13:31] saschagrunert commented on #934
Yeah currently it is. I think it has to be decided where the responsibility lies regarding the pause image. But If you say it clearly belongs to the configuration of the runtime I am open to withdraw this here.

[2019-04-05 14:24] ConnorDoyle commented on #693
That’s not necessarily true @klueska. If the topology hints were extended to encode point-to-point device topology, the Device Manager could consider that when reporting socket affinity. In other words, cross device topology wouldn’t need to leak out of the scope of the device manager. Does that seem feasible?

[2019-04-05 16:11] klueska commented on #693
Maybe I'm confused about the flow somehow. This is how I understand it:

1) At initialization, device plugins (not the `devicemanager`) register themselves with the `topologymanager` so it can issue callbacks on it at a later time.

2) When a pod is submitted the kubelet calls the `lifecycle.PodAdmitHandler` on the `topologymanager`.

3) The `lifecycle.PodAdmitHandler` calls `GetTopologyHints` on

[2019-04-05 17:06] chino commented on #661
Can we see something similar for DaemonSets?

[2019-04-06 10:18] eloyekunle commented on #693
@klueska

I think what happens, making some _minor_ corrections to your flow is:

1. At initialization, device plugins register themselves with the `devicemanager` so it can issue callbacks on it at a later time.

3. The `lifecycle.PodAdmitHandler` calls `GetTopologyHints` on each topology-aware component in the Kubelet, currently `devicemanager` and `cpumanager`.

In this case, what will be repre

[2019-04-06 13:55] #21 closed

[2019-04-07 21:26] #637 closed

[2019-04-08 00:54] fanux opened #940 "Kubelet support lxcfs feature"
# Enhancement Description
- Kubelet support lxcfs, let pod has a better resource view
- Kubernetes Design Doc: https://github.com/kubernetes/kubernetes/pull/75475
- KEP PR: https://github.com/kubernetes/enhancements/pull/953
- Primary contact (assignee): @derekwaynecarr
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Be

[2019-04-08 00:54] fanux commented on #940
/sig node

[2019-04-08 06:36] vstariradev commented on #423
@M00nF1sh
Is AWS NLB out of alpha now that 1.14 is out?

[2019-04-08 20:39] therealmitchconnors commented on #115
The k8s community repo has been reorganized.  The KEP for component config can now be found here:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/wgs/0014-20180707-componentconfig-api-types-to-staging.md

[2019-04-10 08:12] lmdaly commented on #693
@klueska Maybe I am missing something, but I don't see the need to have the device IDs for NV Link GPUs populate up to the TopologyManager.

If the Device Plugin API was extended to allow devices to send back information on point to point device connectivity as @ConnorDoyle suggested, then the device manager would be able to send back socket information based on this.

In your example `devicemanag

[2019-04-10 09:11] klueska commented on #693
Thanks for taking the time to clarify this with me. I must have misinterpreted @ConnorDoyle's original suggestion:

I read this as wanting to extend the `TopologyHints` struct with point-to-point information directly.

It sounds like you are rather suggesting that only the device plugin API should need to be extended to provide point-to-point information to the `devicemanager`, so that it can use

[2019-04-10 23:29] rdpa commented on #423
With 1.12.6 (eks), creating an NLB with loadBalancerSourceRanges specified will add rules to the security group on an instance. Is there any work in progress to cause this to attach a security group to the NLB's network interface? This would more closely match the behavior with ELBs and would also cut costs.

[2019-04-11 06:09] matthyx opened #950 "Add pod-startup liveness-probe holdoff for slow-starting pods"
# Enhancement Description
- One-line enhancement description (can be used as a release note): adds `initializationFailureThreshold` to probes allowing a greater number of failures during the initial start of the container.
- Kubernetes Enhancement Proposal: [20190221-livenessprobe-holdoff](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190221-livenessprobe-holdoff.md)
- Pri

[2019-04-11 06:09] matthyx commented on #950
/sig node

[2019-04-11 06:12] matthyx commented on #950
/assign @derekwaynecarr

[2019-04-11 06:15] matthyx commented on #950
/kind api-change

[2019-04-11 06:15] matthyx commented on #950
/milestone v1.15

[2019-04-11 06:16] matthyx commented on #950
/stage alpha

[2019-04-11 15:19] verb commented on #277
Updated with link to KEP

[2019-04-11 16:57] kacole2 commented on #586
/milestone clear

[2019-04-11 19:51] kacole2 commented on #940
Hello @fanux, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating	from alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

This feature is also not following the standard KEP process. Can you please file a KEP properly so this can be tracked? [Instructions](https://github.com/kubernetes/enhancements)

[2019-04-11 19:53] kacole2 commented on #936
@olamy this is not the proper place to ask questions. Please direct this over to k/k, stack overflow, slack or elsewhere. This repo is only for tracking enhancements going into Kubernetes.

[2019-04-11 19:53] #936 closed

[2019-04-11 19:59] kacole2 commented on #934
@liggitt thanks for responding here.
Hello @saschagrunert, I'm the Enhancement Lead for 1.15. No feature will be included without a KEP. I see you have a design proposal but there needs to be a proper KEP created and accepted. [Instructions](https://github.com/kubernetes/enhancements)
In addition, features cannot go straight to stable without going through graduation criteria which is what the KEP

[2019-04-11 20:07] kacole2 commented on #793
@yujuhong was this feature completed and adopted as stable for 1.14? If so, lets close out this issue and clear out the labels.

[2019-04-11 20:26] #793 closed

[2019-04-11 20:55] kacole2 commented on #902
@vllry I'm going to add this to the 1.15 milestone for tracking purposes. Please link to any k/k PRs so we can see the status of the merges to make sure this will make it to code freeze.

/milestone v1.15
/stage alpha

[2019-04-11 20:58] kacole2 commented on #895
@bsalamat I'm going to add this to the 1.15 milestone for tracking purposes. Once the KEP has been merged lets get the link updated. As usual, put any relevant k/k PRs to be tracked in this issue. Thanks!

/milestone v1.15
/stage alpha

[2019-04-11 21:01] kacole2 commented on #894
@tallclair i'm going to add this to the tracking sheet for Kubernetes 1.15. I've updated your OP with a direct link to the KEP as well. As usual, please add links to all k/k PRs in this issue so code can be tracked properly. Thanks!

[2019-04-11 21:02] olamy commented on #936
@kacole2 fair enough but how/where do we report bugs?

[2019-04-11 21:04] kacole2 commented on #936
@olamy that is going to be in k/k - https://github.com/kubernetes/kubernetes/issues

[2019-04-11 21:05] kacole2 commented on #859
@pwittrock can you please update the original post with the correct formatting so we have consistency?

[code]

[2019-04-11 21:06] yastij commented on #894
ref kubernetes/kubernetes#75744

[2019-04-11 21:06] kacole2 commented on #853
Hi @gliush. I'm the Enhancement Lead for 1.15. Does this feature plan on being implemented into an alpha state for 1.15?

[2019-04-11 21:09] darkobits commented on #127
As a result of [`runc` CVE-2019-5736](https://kubernetes.io/blog/2019/02/11/runc-and-cve-2019-5736/), this feature now seems extremely relevant; re-building existing images to run as non-root (and addressing all the issues that arise from that change) is _substantially_ more lift than setting a single configuration option to map UID 0 to some other non-privileged user on the Node.

What do we need

[2019-04-11 21:09] kacole2 commented on #837
Hi @andrewsykim. I'm the 1.15 Enhancement Lead. Has the KEP for this been approved? If so, can we update the original post to reflect it? We will get this tracked for 1.15. If there are any open k/k PRs, please drop them into this issue so they can be properly tracked during code freeze. Thanks!

/stage stable

[2019-04-11 21:12] kacole2 commented on #786
@luxas I'm the enhancement lead for 1.15. I don't see a KEP filed for this enhancement and per the guidelines, all enhancements will require one. Please let me know if this issue will have any work involved for this release cycle and update the original post reflect it. Thanks!

[2019-04-11 21:13] kacole2 commented on #785
@luxas I'm the enhancement lead for 1.15. I don't see a KEP filed for this enhancement and per the guidelines, all enhancements will require one. Please let me know if this issue will have any work involved for this release cycle and update the original post reflect it. Thanks!

[2019-04-11 21:14] kacole2 commented on #784
@luxas @rosti I'm the enhancement lead for 1.15. I don't see a KEP filed for this enhancement and per the guidelines, all enhancements will require one. Please let me know if this issue will have any work involved for this release cycle and update the original post reflect it. Thanks!

[2019-04-11 21:16] kacole2 commented on #127
I'm the enhancement lead for 1.15. Please let me know if this issue will have any work involved for this release cycle and update the original post reflect it. It will not be added to the tracking sheet otherwise. Thanks!

[2019-04-11 21:17] kacole2 commented on #783
I'm the enhancement lead for 1.15. Please let me know if this issue will have any work involved for this release cycle and update the original post reflect it. Otherwise it will not be tracked. Thanks!

[2019-04-11 21:22] gliush commented on #853
Hi @kacole2, I'm ok to implement it as soon as I get an approval. So, I'm ok with 1.15 as well as with 1.xx version :)

[2019-04-11 21:53] kacole2 commented on #773
Hello @jingxu97, I'm the Enhancement Lead for 1.15. I see the KEP approval is currently in progress. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. After KEP is approved, please update the original post and drop any relevant k/k PRs into this issue so they can be tracked as well. Thanks!

[2019-04-11 21:55] kacole2 commented on #770
Hello @msau42 @jsafrane , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. Drop any relevant k/k PRs into this issue so they can be tracked as well. Thanks!

[2019-04-11 21:57] msau42 commented on #770
This feature will remain in beta for 1.15

[2019-04-11 21:58] kacole2 commented on #763
Hello @leakingtapan .  I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? I see there has not been an approved KEP for this feature as well. KEPs are required for all enhancements. Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be

[2019-04-11 21:59] kacole2 commented on #762
Hello @leakingtapan . I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? I see there has not been an approved KEP for this feature as well. KEPs are required for all enhancements. Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be t

[2019-04-11 22:02] kacole2 commented on #758
Hello @bowei, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating	from alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-11 22:04] kacole2 commented on #757
Hello @derekwaynecarr, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

/milestone clear
/tracked no

[2019-04-11 22:06] kacole2 commented on #753
@Joseph-Irving is this feature targeting alpha inclusion for 1.15?

[2019-04-11 22:09] kacole2 commented on #752
Hello @wojtek-t @freehan, I'm the Enhancement Lead for 1.15. Is this feature going to be targeting alpha in 1.15? I do not see a KEP which is required. Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-11 22:10] kacole2 commented on #751
this was included as a stable feature in 1.14. Going to close this issue now.

/milestone clear
/close

[2019-04-11 22:10] #751 closed

[2019-04-11 22:12] kacole2 commented on #724
Hello @andrewsykim , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. A KEP is required for this as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-11 22:44] leakingtapan commented on #763
Since csi drivers are not tracked by k8s release. Close the issue

/close

[2019-04-11 22:44] #763 closed

[2019-04-11 22:45] leakingtapan commented on #762
Ref #763

/close

[2019-04-11 22:45] #762 closed

[2019-04-12 00:49] fanux commented on #940
OK， I think this feature can be graduating in 1.15, we run this feature half years ago in our production cluster.   I will provide a KEP file soon~

[2019-04-12 01:16] kacole2 commented on #727
Hello @dashpole , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 01:19] kacole2 commented on #714
Hello @ixdy , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 01:21] kacole2 commented on #706
Hello @pierreozoux , I'm the Enhancement Lead for 1.15. Can you update the original post to follow the standard format?

[code]

Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:23] kacole2 commented on #695
Hello @mattsmithdatera , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. I also do not see a KEP. All enhancements require one to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:24] kacole2 commented on #693
Hello @lmdaly , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:27] kacole2 commented on #692
Hello @roycaihw , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:28] kacole2 commented on #689
Hello @ddebroy , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 01:31] kacole2 commented on #688
Hello @tallclair, I'm the Enhancement Lead for 1.15. It looks like there is no KEP accepted yet. Is it safe to assume this will not make the enhancement freeze deadline for 1.15?

[2019-04-12 01:34] kacole2 commented on #671
Hello @rtheis @andrewsykim , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:36] kacole2 commented on #670
Hello @frapposelli , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 01:39] kacole2 commented on #669
Hello @hogepodge , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. Please attach a KEP to the original post as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:39] kacole2 commented on #668
Hello @cheftako , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. Please update the original post with the KEP link as well

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:40] kacole2 commented on #667
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. Please update the original post with the link to the KEP as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:42] kacole2 commented on #661
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. Enhancements do require a KEP as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:43] kacole2 commented on #647
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:45] kacole2 commented on #631
Hello, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:46] kacole2 commented on #630
Hello, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:47] kacole2 commented on #626
Hello, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:49] kacole2 commented on #625
Hello, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 01:50] kacole2 commented on #624
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:54] kacole2 commented on #623
Hello @bsalamat , I don't see a KEP so it can't be added to the milestone until that is complete.

[2019-04-12 01:57] kacole2 commented on #615
I'm the Enhancement Lead for 1.15. I don't see a KEP so it doesn't look like this feature can be tracked.

If something changes please PM me.

[2019-04-12 01:59] kacole2 commented on #614
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 01:59] kacole2 commented on #612
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:02] kacole2 commented on #611
Hello @krmayankk , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This also needs a KEP to be implemented.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:03] kacole2 commented on #609
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This also needs a formal KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:03] kacole2 commented on #606
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:04] kacole2 commented on #604
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:05] kacole2 commented on #603
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 02:06] kacole2 commented on #599
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:07] kacole2 commented on #598
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:08] msau42 commented on #603
This feature will remain in beta for 1.15

[2019-04-12 02:08] kacole2 commented on #597
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This needs a KEP as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:09] kacole2 commented on #596
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:09] kacole2 commented on #593
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:11] kacole2 commented on #589
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 02:11] msau42 commented on #615
With respect to CSI, we unblocked ourselves from this issue by moving back to in-tree APIs.

Do @kubernetes/sig-api-machinery-feature-requests or @kubernetes/sig-cluster-lifecycle still want to keep this issue around?

[2019-04-12 02:12] kacole2 commented on #587
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This would need a KEP as well for inclusion.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:12] kacole2 commented on #586
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:12] msau42 commented on #625
The plan is to move to beta in 1.15.

[2019-04-12 02:13] kacole2 commented on #585
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:13] msau42 commented on #596
This feature is going to remain alpha in 1.15.

[2019-04-12 02:14] kacole2 commented on #583
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:15] kacole2 commented on #581
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This also needs a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:15] kacole2 commented on #580
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:15] kacole2 commented on #576
I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 02:16] kacole2 commented on #580
If this went stable in 1.14, please close the issue.

[2019-04-12 02:20] fanux commented on #940
https://github.com/kubernetes/enhancements/pull/953

[2019-04-12 02:28] RenaudWasTaken commented on #606
@dashpole this feature has been running in our production clusters for a while now, it seems like from a production perspective this is beta ready

[2019-04-12 03:30] apelisse commented on #576
/milestone v1.16

[2019-04-12 03:30] apelisse commented on #576
Nothing planned for this release ;-)

[2019-04-12 06:04] feiskyer commented on #667
yep, this is on tracked.

/milestone v1.15

[2019-04-12 06:04] feiskyer commented on #604
yep, this is on tracked.

/milestone v1.15

[2019-04-12 06:04] feiskyer commented on #586
yep, this is on tracked.

/milestone v1.15

[2019-04-12 06:53] sttts commented on #692
@kacole2 yes, this is still planned to get promoted to beta in 1.15.

[2019-04-12 06:53] wojtek-t commented on #589
@kacole2 - nope; we have graduated to Beta in 1.14 and we would like to wait a bit before graduating to GA. The tentative plan is to graduate in 1.16.

[2019-04-12 06:53] sttts commented on #692
@roycaihw can you prepare a PR to switch it over?

[2019-04-12 07:33] Joseph-Irving commented on #753
@kacole2 yeah that is the plan, assuming we can get the KEP to implementable in time for enhancement freeze (april 30th)

[2019-04-12 08:34] wojtek-t opened #956 "Add Watch Bookmarks support"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add support for watch bookmarks to reduce load on kube-apiserver
- Kubernetes Enhancement Proposal: [KEP: watch bookmarks](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190206-watch-bookmark.md)
- Primary contact (assignee): wojtek-t
- Responsible SIGs: sig-apimachinery,

[2019-04-12 15:11] derekwaynecarr commented on #693
this feature will its own feature gate, and will be alpha.

/milestone 1.15

[2019-04-12 15:11] derekwaynecarr commented on #693
/milestone v1.15

[2019-04-12 16:21] ddebroy commented on #689
Hi @kacole2, yes we are aiming for Beta in 1.15.

Main PR for the move to Beta: https://github.com/kubernetes/kubernetes/pull/75459

[2019-04-12 18:06] roycaihw commented on #598
the plan is to bring this feature to beta in 1.15

we are preparing a KEP that lists remaining works for this feature itself and also CRD API to be GA. I will add link once the KEP is out

[2019-04-12 18:06] kacole2 commented on #853
@gliush Enhancement Freeze is April 30th. Code Freeze is May 29th. We need a KEP approved and merged before these deadlines to be included.

/milestone v1.15

[2019-04-12 18:07] kacole2 commented on #598
/milestone v1.15
/stage beta

[2019-04-12 18:08] kacole2 commented on #689
/milestone v.1.15
/stage beta

[2019-04-12 18:11] kacole2 commented on #753
/milestone v1.15
/stage alpha

[2019-04-12 18:12] kacole2 commented on #692
/milestone v1.15
/stage beta

[2019-04-12 18:15] kacole2 commented on #940
/milestone v1.15
/stage alpha

[2019-04-12 18:16] kacole2 commented on #625
/milestone v1.15
/stage beta

[2019-04-12 18:21] kacole2 commented on #956
Thanks @wojtek-t. When coding begins please drop all k/k PRs here for tracking purposes.

/stage alpha

[2019-04-12 18:23] kacole2 commented on #575
@sttts @liggitt anything targeted for 1.15 here?

[2019-04-12 18:24] kacole2 commented on #571
@nikhita anything targeted for 1.15 here? KEP still needed here to progress as well.

[2019-04-12 18:25] kacole2 commented on #565
@vladimirvivien @saad-ali did this go GA in 1.14? If so, let's close it out. If not, any work planned for 1.15?

/milestone clear

[2019-04-12 18:27] kacole2 commented on #563
@leblancd any work planned here for 1.15? Looks like a KEP hasn't been accepted yet at this point either. Thanks!

[2019-04-12 18:30] kacole2 commented on #559
@kevtaylor did this graduate to stable in 1.14? If so, please close the issue. If not, is there any work planned for 1.15?

/milestone clear

[2019-04-12 18:31] kacole2 commented on #557
@verult @msau42 is there any work planned for 1.15 for this issue?

/milestone clear

[2019-04-12 18:32] kacole2 commented on #556
@gnufied did this go to stable in 1.14? If so, let's close out this issue. If not, any work planned for 1.15?

/milestone clear

[2019-04-12 18:33] kacole2 commented on #555
@apelisse any work planned here for 1.15 or staying in Alpha?

[2019-04-12 18:34] apelisse commented on #555
Yep, it's going beta 1.15 hopefully

[2019-04-12 18:34] kacole2 commented on #554
@gnufied any work here planned for 1.15? If not, we will stay in beta. Thanks

[2019-04-12 18:35] kacole2 commented on #551
Hello @yastij , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:35] kacole2 commented on #548
Hello @k82cn , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:37] kacole2 commented on #545
Hello @saad-ali @pohly, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:38] kacole2 commented on #542
Hello @mikedanese, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:38] kacole2 commented on #541
Hello @awly @ericchiang I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This looks like it also needs a KEP to be promoted.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:40] kacole2 commented on #536
Hello @johnbelamaric , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:42] msau42 commented on #557
This feature will remain beta in 1.15

[2019-04-12 18:42] kacole2 commented on #531
Hello @wongma7 @mlmhl , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. KEP needs to be merged to be promoted

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:42] msau42 commented on #559
This was still alpha in 1.14.

For 1.15, we can consider moving to beta.

[2019-04-12 18:43] kacole2 commented on #515
Hello @smarterclayton, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. KEP needs to be merged before promotion as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:44] kacole2 commented on #508
Hello @danehans, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. All enhancements require a KEP before being promoted as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:45] msau42 commented on #556
This is alpha in 1.14, and is planned to move to beta in 1.15

[2019-04-12 18:45] kacole2 commented on #495
Hello @verb , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. All enhancements will require a KEP as well which is missing here.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:45] msau42 commented on #554
This will remain beta in 1.15

[2019-04-12 18:46] kacole2 commented on #492
Hello @caesarxuchao , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating stable stage in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:47] kacole2 commented on #491
Hello @apelisse , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. Per usual, KEPs will be required for any enhancement graduation or inclusion.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:47] apelisse commented on #491
We're skiping 1.15 on this one, you can make it 1.16 if you want! Thanks

[2019-04-12 18:49] kacole2 commented on #423
Hello @tamalsaha @M00nF1sh , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:51] kacole2 commented on #383
Hello @wojtek-t @yastij , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:52] kacole2 commented on #365
Hello @smarterclayton @cben , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:53] kacole2 commented on #362
Hello @msau42 @jingxu97  I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:54] kacole2 commented on #361
Hello @jingxu97 @vishh , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP for inclusion

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:55] kacole2 commented on #357
Hello @neolit123 , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:56] kacole2 commented on #382
Hello @k82cn , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP for implementation.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:57] kacole2 commented on #351
Hello @msau42 @erinboyd , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:58] kacole2 commented on #304
Hello @aniket-s-kulkarni @xingzhou , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 18:59] kacole2 commented on #288
Hello @neolit123 @luxas , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. A KEP will need to be merged before this can be included in 1.15 as well.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:02] kacole2 commented on #281
Hello @mtaufen, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will require a formal KEP to be included. The community post will not suffice unfortunately.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly

[2019-04-12 19:03] kacole2 commented on #279
Hello @liggitt @saad-ali , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. Notes say this should have gone stable in 1.14. Is that the case? This will also require inclusion into a KEP to go into 1.15.

Once coding begins, please list all relevant k/k PRs in th

[2019-04-12 19:04] kacole2 commented on #268
Hello @bsalamat , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a formal KEP to be merged before moving further.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:05] kacole2 commented on #267
Hello @jcbsmpsn, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require an official KEP to be included. Please work on that first.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:06] kacole2 commented on #266
Hello @jcbsmpsn , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also need a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:08] kacole2 commented on #213
Hello @krmayankk , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:09] kacole2 commented on #177
Hello @xing-yang, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:10] kacole2 commented on #166
Hello @gmarek @k82cn @Huang-Wei , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also need a KEP to be included.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:11] kacole2 commented on #135
Hello @stlaz @pweil- , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included into 1.15

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:12] liggitt commented on #279
There is already a KEP for this at https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md

We are waiting out a deprecation period for the kubelet, and will finish this out in 1.16

[2019-04-12 19:12] tallclair commented on #688
We're still planning on getting this into 1.15. Don't we still have close to 3 weeks to get the KEP in? KEP is here, btw: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190226-pod-overhead.md

[2019-04-12 19:13] kacole2 commented on #130
Hello @luxas, I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included. If this feature has been abandoned please let us know.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly

[2019-04-12 19:14] tallclair commented on #585
This will remain in beta for 1.15, but we are making to related enhancements:
1. Scheduling - https://github.com/kubernetes/enhancements/issues/894
2. Pod Overhead - https://github.com/kubernetes/enhancements/issues/688

[2019-04-12 19:14] kacole2 commented on #121
Hello @msau42 @smarterclayton , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. If this was included as GA in 1.14 lets close this issue.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

/milestone clear

[2019-04-12 19:15] neolit123 commented on #357
@kacole2 we are targeting BETA.

will do. sadly my proposal to SIG Release of how to do this better is collecting dust.

[2019-04-12 19:16] kacole2 commented on #117
Hello @DirectXMan12 @mwielgus , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP to be included in 1.15.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:16] tallclair commented on #135
no changes planned for 1.15

[2019-04-12 19:16] neolit123 commented on #357
/stage beta

[2019-04-12 19:17] neolit123 commented on #357
/milestone v1.15

[2019-04-12 19:17] kacole2 commented on #95
Hello @nikhita @deads2k , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. A KEP will need to be merged for 1.15 inclusion as well. Thanks!

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:18] kacole2 commented on #85
Hello @rdsubhas @davidopp , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. This will also require a KEP for inclusion into 1.15. Please work on that first.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:20] kacole2 commented on #34
Hello @sttts  @krmayankk , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. As usual, a formal KEP will need to be merged for this to be included in 1.15. The KEP that @ingvagabund created at kubernetes/community#2093 needs to be migrated.

Once coding begins, p

[2019-04-12 19:21] kacole2 commented on #19
Hello @soltysh , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. As usual, a KEP will need to be merged before this can progress.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:22] kacole2 commented on #18
Hello @errordeveloper , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. A formal KEP will need to be merged before this can be included into 1.15.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:24] kacole2 commented on #5
Hello @liggitt  @tallclair  , I'm the Enhancement Lead for 1.15. Is this feature going to be graduating alpha/beta/stable stages in 1.15? Please let me know so it can be tracked properly and added to the spreadsheet. The community proposal will need to be migrated to a KEP for inclusion in 1.15.

Once coding begins, please list all relevant k/k PRs in this issue so they can be tracked properly.

[2019-04-12 19:37] kacole2 commented on #556
/milestone v1.15
/stage beta

[2019-04-12 19:39] kacole2 commented on #559
@msau42 is there a KEP with associated graduation criteria? Apologies if I missed it somehow.

[2019-04-12 19:41] kacole2 commented on #555
Thanks @apelisse. When the time is right, drop in the k/k PRs associated with the beta graduation criteria that's called out in the KEP

/milestone v1.15
/stage beta

[2019-04-12 19:46] xing-yang commented on #177
Hi @kacole2 , the snapshot feature tracked by this issue will remain as alpha.  I'm going to create another enhancement issue to track the ExecutionHook feature separately.

[2019-04-12 19:49] kevtaylor commented on #559
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20181029-volume-subpath-env-expansion.md

[2019-04-12 20:07] tallclair commented on #5
No changes planned for 1.15

[2019-04-12 20:07] vladimirvivien commented on #565
@kacole2 No, this is still beta in 1.15.

[2019-04-12 20:19] msau42 commented on #351
This is remaining beta in 1.15

[2019-04-12 20:20] msau42 commented on #121
1.14 was GA and any additional enhancements should be tracked as new features.
/close

[2019-04-12 20:20] #121 closed

[2019-04-12 20:47] rdsubhas commented on #85
(hi @kacole2 I'm not responsible for PDB feature, sorry)

[2019-04-12 20:49] kacole2 commented on #559
/milestone v1.15
/stage beta

[2019-04-12 20:55] caesarxuchao commented on #492
Hi, @kacole2. Yes, the plan is GA in 1.15.

Do we need to link to already merged PRs?

[2019-04-12 20:57] kacole2 commented on #492
@caesarxuchao it would be very much appreciated for tracking purposes. This way we know what PRs were associated with this enhancement. Thank you!

/milestone v1.15
/stage stable

[2019-04-12 21:11] caesarxuchao commented on #492
https://github.com/kubernetes/kubernetes/pull/76346
https://github.com/kubernetes/kubernetes/pull/74998
https://github.com/kubernetes/kubernetes/pull/74855
https://github.com/kubernetes/kubernetes/pull/74154
https://github.com/kubernetes/kubernetes/pull/74477
https://github.com/kubernetes/kubernetes/pull/74448

@liggitt @mbohlool  if you have more to add to the list.

[2019-04-12 21:49] ixdy commented on #714
@kacole2 there aren't really alpha/beta/stable stages for this change.

The split test tarballs were implemented and the mondo test tarball was marked deprecated in v1.14, but no changes are planned for v1.15.

[2019-04-12 22:51] aojea commented on #508
@thockin @BenTheElder I think it can be feasible to graduate ipv6 only clusters as beta in 1.15.
If we merge this https://github.com/kubernetes-sigs/kind/pull/348 I can work on the failing tests during this cycle https://github.com/kubernetes/kubernetes/issues/70248 and a job to the CI
What do you think?

[2019-04-13 00:16] johnbelamaric opened #960 "Behavior-driven conformance testing"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Behaviors for conformance are defined up front, separately from the tests which validate those behaviors.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/959
- Primary contact (assignee): @johnbelamaric
- Responsible SIGs: sig-architecture
- Enhancement target (which tar

[2019-04-13 00:18] johnbelamaric commented on #960
/assign
/sig architecture

[2019-04-13 18:16] danehans commented on #508
@kacole2 Unfortunately, I am no longer working on IPv6.

[2019-04-14 04:55] ddebroy commented on #689
Hey @kacole2 just wanted to make sure the above version type `/milestone v.1.15` is taken care of. I think you meant `/milestone v1.15`

[2019-04-14 05:54] krmayankk commented on #213
@kacole2 this feature is beta in 1.14. I will work and figure out what does it take to graduate to Stable in 1.15

[2019-04-14 06:06] krmayankk opened #961 "maxUnavailable for StatefulSets"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Implement maxUnavailable for StatefulSets
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/961-maxunavailable-for-statefulset/README.md
- Enhancement target (which target equals to which milestone):
  - [x] Alpha - v1.24
    - [x] KEP (`k/enhanceme

[2019-04-14 06:06] krmayankk commented on #961
/sig auth

[2019-04-14 06:06] krmayankk commented on #961
/assign @krmayankk

[2019-04-14 06:12] krmayankk commented on #961
/milestone v1.15

[2019-04-14 13:31] xing-yang opened #962 "ExecutionHook"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
[code]
- Kubernetes Enhancement Proposal PR: https://github.com/kubernetes/enhancements/pull/705
- Kubernetes Enhancement Proposal: [20190120-execution-hook-design](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190120-execution-hook-design.md)
- Primary contact (assignee): @jin

[2019-04-14 13:35] xing-yang commented on #962
/sig/storage

[2019-04-14 13:36] xing-yang commented on #962
/kind feature

[2019-04-14 13:39] xing-yang commented on #177
Hi @kacole2 , enhancement issue is created for ExecutionHook here: https://github.com/kubernetes/enhancements/issues/962

[2019-04-14 13:40] xing-yang commented on #962
/assign @xing-yang

[2019-04-14 13:40] xing-yang commented on #962
/assign @jingxu97

[2019-04-14 19:39] kacole2 commented on #961
/stage alpha

[2019-04-14 19:41] kacole2 commented on #962
/milestone v1.15
/stage alpha

[2019-04-14 19:52] kacole2 commented on #960
/milestone v1.15
/stage stable

[2019-04-15 05:29] mbohlool commented on #492
/unassign mbohlool

[2019-04-15 05:30] mbohlool commented on #598
/unassign mbohlool
/assign roycaihw

[2019-04-15 05:32] nikhita commented on #571
No, this will remain in beta.

[2019-04-15 06:12] wojtek-t commented on #383
Yes - we would like to push it in 1.15 - we will keep it up-to-date.

[2019-04-15 09:13] sttts commented on #598
@liggitt @roycaihw do we know what is missing before promoting this?

[2019-04-15 11:28] sttts commented on #34
Nothing planned here as far as I known.

[2019-04-15 12:06] verb commented on #495
Hi @kacole2, We don't have any plans for 1.15.

[2019-04-15 15:53] liggitt commented on #598
primarily testing (functional and scale) and documentation

[2019-04-15 15:57] kfox1111 commented on #19
As a user, I've been successfully using this resource kind for a long time now. I have not seen any major problems with the api. Is it time to ship it as GA?

[2019-04-15 16:04] kow3ns commented on #19
We are working on a KEP for graduation

[2019-04-15 16:07] kfox1111 commented on #19
Ok. Thanks for the update.

[2019-04-15 16:10] liggitt commented on #571
I actually expected this to graduate so that it was not separately feature-gated. I'm not aware of any outstanding requirements for GA for this

[2019-04-15 23:35] sudeshsh opened #964 "Extending RequestedToCapacityRatio Priority Function to support Resource Bin Packing of Extended Resources"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Extending RequestedToCapacityRatio Priority Function to support Resource Bin Packing of Extended Resources
- Kubernetes Enhancement Proposal PR: https://github.com/kubernetes/enhancements/pull/888
- KEP: [20190311-resource_bin_packing_priority_function](https://github.com/kubernetes/enhancements/blob/mast

[2019-04-15 23:35] davidz627 commented on #625
Our project board can be accessed here for general beta milestone tracking: https://github.com/orgs/kubernetes-csi/projects/13

[2019-04-15 23:36] sudeshsh commented on #964
/sig-scheduling

[2019-04-16 03:15] k82cn commented on #964
/sig scheduling

[2019-04-16 09:45] wojtek-t commented on #752
Yes - we're targetting 1.15 for Alpha release. Will keep it issue updated.

[2019-04-16 10:28] rosti commented on #784
@kacole2 I am a bit skeptical for a KEP in this release cycle, however if we manage to put something before enhancements freeze for 1.15 then we'll ping you.

[2019-04-16 11:30] dims commented on #288
/close

we have separate issues for different platforms already logged. let's close this one out

[2019-04-16 11:30] #288 closed

[2019-04-16 11:37] neolit123 commented on #288
@dims thanks for taking the action.

+1

[2019-04-16 13:19] kacole2 commented on #964
/milestone v1.15
/stage alpha

[2019-04-16 16:29] nikhita commented on #571
Discussed about this in the #sig-api-machinery channel on Slack: https://kubernetes.slack.com/archives/C0EG7JC6T/p1555344911023900

This will remain in beta until the main CRD API graduates to GA i.e. this will remain in beta for 1.15.

cc @roycaihw

[2019-04-16 20:14] hogepodge commented on #669
@kacole2 I'll follow up with the team tomorrow. We should definitely be able to say we're on stable since we've been running the out of tree provider for more than a year now, and encouraging users to adopt that rather than use the in-tree provider.

cc @adisky

[2019-04-17 02:00] zparnold opened #968 "kubectl purge-image"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
This enhancement allows a cluster operator to purge a specific container image from all nodes using `kubectl`
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee): zparnold
- Responsible SIGs: sig-cli (most likely sig-apimachinery,

[2019-04-17 02:00] zparnold commented on #968
/sig node cli

[2019-04-17 10:38] neolit123 opened #970 "kubeadm: upgrade the configuration to v1beta2"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

**Upgrade of the current kubeadm config version (v1beta1) in to a new version called v1beta2.**

- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR) https://github.com/kubernetes/enhancements/pull/969
- Primary contact (assignee): @rosti
- Responsible SIGs:

[2019-04-17 11:23] rosti commented on #970
/assign

[2019-04-17 11:23] rosti commented on #970
Thanks for creating the issue @neolit123 !

[2019-04-17 14:07] kacole2 commented on #968
/milestone v1.15
/stage alpha

[2019-04-17 18:06] rtheis commented on #671
@kacole2 sorry for the slow response.  At most, we are targeting alpha in 1.15.  I don't think there will be any k/k PRs.  This work will primarily be around creating a new out-of-tree IBM cloud provider based on the current IBM cloud provider used by IBM's managed Kubernetes service.

[2019-04-17 21:00] mcrute commented on #631
@kacole2 we are going to try to push this to beta for 1.15 but I'm going to open a fresh issue with more details and close this one.

/close

[2019-04-17 21:00] #631 closed

[2019-04-18 01:38] andrewsykim commented on #837
@kacole2 KEP is still being reviewed here https://github.com/kubernetes/enhancements/pull/839. Once the PR is approved I'll update the issue, thanks!

[2019-04-18 01:47] m1093782566 commented on #536
@kacole2

Yes, we are targeting v1.15 and PR in k/k is: https://github.com/kubernetes/kubernetes

My friend @guanyuding and I will carry it forward.

Thanks!

[2019-04-18 06:06] ahmetb commented on #968
This sounds like an bug with the imagePullPolicy. Even if the image:tag exists, it should be making a manifest query to validate the image layers have matching checksum. If this isn’t matching your experience, consider opening a bug report first.
I don’t think Kubernetes APIs do image management on nodes, so I’m not sure if this is feasible or how would it work given there’s already garbage collec

[2019-04-18 06:08] zparnold commented on #968
Thanks for the reply! I opened this on the sig-cli email list as well. I
wasn't sure how it would work either, but I was thinking that it is
possible,

On Wed, Apr 17, 2019 at 11:07 PM Ahmet Alp Balkan <notifications@github.com>
wrote:

[2019-04-18 11:07] neolit123 commented on #970
@rosti
updated the description and title.

[2019-04-18 11:24] mrbobbytables commented on #961
@krmayankk should this be sig auth? The KEP itself refers to sig-apps.

[2019-04-18 18:59] DirectXMan12 commented on #609
/unassign @DirectXMan12 (not sure how I'm still assigned here)

[2019-04-18 19:52] mtaufen commented on #968
I agree this sounds like a bug with the image pull. Are you able to reproduce that behavior?

/cc @yujuhong

[2019-04-18 20:10] zparnold commented on #968
I'm happy to open an issue related to imagePullPolicies, but I was thinking this would be an addition that would also help clear out nodes without the need to ssh into them. Almost like a utility.

[2019-04-18 20:22] ahmetb commented on #968
There's no such API to implement this currently, and ideally we should fix the feature (instead of working around by introducing a new API/command).
I recommend closing this proposal and following up a bug report. If you’d like to introduce commands that are useful to a small portion of users (which the lack of this command for a long time makes me think so), you should probably write out-of-tree

[2019-04-18 20:25] fabriziopandini commented on #357
https://github.com/kubernetes/enhancements/pull/973 is updating the KEPs detailing this effort with v1.14 achievements and v1.15 goals:
- [0015-kubeadm-join-control-plane.md](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/0015-kubeadm-join-control-plane.md) is the main KEP for HA in kubeadm
- [20190122-Certificates-copy-for-kubeadm-join--control-plane.md]

[2019-04-18 21:52] krmayankk commented on #961
@mrbobbytables no this is specific to sig-apps

[2019-04-18 21:58] mrbobbytables commented on #961
@krmayankk it has the responsible sig list as `sig-auth` '[in the post](https://github.com/kubernetes/enhancements/issues/961#issue-432936672) and is labeled with auth.

Would you mind updating the issue?

Thanks!

/remove-sig auth
/sig apps

[2019-04-18 22:55] zparnold commented on #968
Ok 😄 I'll close this

[2019-04-18 22:55] #968 closed

[2019-04-18 22:55] zparnold commented on #968
/milestone clear
/stage clear

[2019-04-18 23:32] mtaufen commented on #281
@kacole2 No plans for 1.15. Thanks for asking!

[2019-04-21 08:10] saschagrunert commented on #934
Closing for sake of wrong scope.

[2019-04-21 08:10] #934 closed

[2019-04-22 15:53] kacole2 commented on #667
Hi @feiskyer @andrewsykim we are going to start cleaning up some issues. If an enhancement doesn't touch any k/k code, then it no longer needs to be tracked within enhancements nor the release. I'm assuming the Azure cloud controller manager falls into this category. However, once the in-tree provider code is deprecated and needs to be removed, that will need to be tracked. Does this sound good to

[2019-04-22 15:59] craiglpeters commented on #667
My thinking process is that because deprecation of some k/k depends upon this change, it makes sense to track it, but I'm open to being convinced otherwise. My concern is that if we don't track it, and the out of tree changes are released, it won't be easily discoverable to the Kubernetes community. Or is there some other place the out-of-tree changes will be broadcast?

[2019-04-22 16:58] mrbobbytables commented on #667
I am inclined to agree on tracking their removal, but I don't know if it falls within the general scope of alpha/beta/stable? If not as a KEP, there should be some large signaling that  "Hey this thing is over here now'.

[2019-04-22 17:16] justaugustus commented on #667
We should continue to track cloud provider extraction as it straddles the line and includes in-tree and out-of-tree code changes.

[2019-04-22 17:20] kacole2 commented on #667
@spiffxp had something to suggest on this as well. Perhaps we will bring it up again tomorrow in SIG-PM?

[2019-04-22 17:32] MrHohn opened #980 "Finalizer Protection for Service LoadBalancers"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Adding finalizer protection to ensure the Service resource is not fully deleted until the correlating LB is also deleted.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190423-service-lb-finalizer.md
- Primary contact (assignee): @MrHohn
- Resp

[2019-04-22 17:32] MrHohn commented on #980
/assign

[2019-04-22 17:33] MrHohn commented on #980
More context on https://github.com/kubernetes/cloud-provider/issues/16. Will send out a KEP soon.

@bowei @andrewsykim @jhorwit2 @jiatongw

[2019-04-22 19:28] craiglpeters commented on #980
/milestone v1.15

[2019-04-22 19:55] craiglpeters commented on #980
/tracked yes
/stage alpha

[2019-04-22 20:57] vladimirvivien commented on #362
@kacole2 this will remain in BETA for 1.15.

cc @msau42

[2019-04-22 23:29] mortent opened #981 "PDB support for custom resources with scale subresource"
# PDB support for custom resources with scale subresource
- One-line enhancement description (can be used as a release note): PDB support for custom resources with scale subresource
- Kubernetes Enhancement Proposal PR: #963
- Kubernetes Enhancement Proposal: [20190412-pdb-support-for-custom-resources-with-scale-subresource](https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/2019

[2019-04-22 23:29] mortent commented on #981
/sig apps

[2019-04-23 02:15] feiskyer commented on #667
Because AzureDisk/AzureFile and Azure credential provider are still not ready yet for out-of-tree, Azure cloud provider is still making changes in k/k repo.

[2019-04-23 07:20] matthyx commented on #950
@kacole2 the feature is implemented in this PR: #71449

[2019-04-23 11:21] rtheis commented on #671
KEP PR: https://github.com/kubernetes/enhancements/pull/983

[2019-04-23 12:18] damyansnbrd opened #984 "Add kustomize support to substitute variables in the description YAML files"
# Feature Description
- One-line enhancement description (can be used as a release note): possibility to substitute variables in the description yaml files

we are using something like this for deployment:
[code]

i could not find a way to do this with kubectl apply -k

[2019-04-23 12:27] damyansnbrd commented on #984
/sig cli

[2019-04-23 13:47] kacole2 commented on #984
@damyansnbrd this is not a support forum nor feature request. Please create an issue within k/k or ask for help within the Kubernetes slack. You can also request features within an appropriate SIG meeting.

/close

[2019-04-23 13:48] #984 closed

[2019-04-23 13:56] mrbobbytables commented on #671
/milestone v1.15

[2019-04-23 16:16] jingxu97 commented on #362
@kacole2 thanks for the checking. it will remain beta for 1.15 because of our other work. We will come back to it in 1.16.

[2019-04-23 19:06] ravisantoshgudimetla opened #986 "Graduate ResourceQuotaScopeSelectors from beta to GA"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Graduate ResourceQuotaScopeSelectors from beta to GA

- Kubernetes Enhancement Proposal PR: https://github.com/kubernetes/enhancements/pull/987
- Kubernetes Enhancement Proposal: [20190409-resource-quota-ga](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190409-resource-quota

[2019-04-23 19:26] mrbobbytables commented on #986
/milestone v1.15
/stage stable