[2021-07-09 02:19] krmayankk commented on #961
@JamesLaverack  i have filed an exception request, it already has an approval , it just needs an lgtm label

[2021-07-09 03:30] JamesLaverack commented on #961
Thank you for filing that request @krmayankk. If your exception is approved then we will re-add this enhancement to the v1.22 milestone.

[2021-07-09 04:41] yuzhiquan commented on #2727
Ok, i will send an exception request.

[2021-07-09 06:30] yuzhiquan commented on #2727
Exception request was send, and https://github.com/kubernetes/kubernetes/pull/102162 is close to be merge. @JamesLaverack
/cc @bowei @SergeyKanzhelev @PxyUp

[2021-07-09 06:39] wojtek-t commented on #1040
Due to the need to revert one of the PRs, the subsequent ones won't merge. Given the potential risk, I think we won't be asking for exception at this point and postpone further changes to 1.23.

That said - I think it shouldn't remove the PR from being tracked. In this cycle it was effectively extending the existing logic (while still leaving in beta) in couple different dimensions and multiple of

[2021-07-09 08:15] PI-Victor commented on #1122
@ddebroy

@ddebroy Today is the docs placeholder PR deadline, please **submit a docs placeholder PR by EOD today**!

[2021-07-09 08:17] PI-Victor commented on #1669
@andrewsykim Today is docs placeholder deadline, **please submit a placeholder PR by the end of the day, today!**

[2021-07-09 08:19] PI-Victor commented on #2086
@andrewsykim Today is docs placeholder deadline, **please submit a placeholder PR by the end of the day, today!**

[2021-07-09 08:20] PI-Victor commented on #2161
@rikatz Today is docs placeholder deadline, **please submit a placeholder PR by the end of the day, today!**

[2021-07-09 08:21] PI-Victor commented on #2232
@adtac Today is docs placeholder deadline, **please submit a placeholder PR by the end of the day, today!**

[2021-07-09 08:24] PI-Victor commented on #2458
@ahg-g Today is docs placeholder deadline, **please submit a placeholder PR by the end of the day, today!**
You can open a simple placeholder for now and rebase later on the work from the PR it's depending on

[2021-07-09 08:27] PI-Victor commented on #2568
based on this comment, i will remove the 'Needs Docs' from this enhancements, thanks!

[2021-07-09 11:54] rikatz commented on #2161
Hey @PI-Victor

was looking at this yesterday and figured out someone already updated the feature gate docs and the other docs are correct, so this one is Ok and no new doc is necessary :)

[2021-07-09 15:25] mrunalp commented on #2712
We requested an exception for this.

[2021-07-09 18:41] tylerferrara opened #2818 "Reducing Build Maintenance in CIP"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
Reducing Build Maintenance in CIP
- Kubernetes Enhancement Proposal:
#2817
- Discussion Link:
[WG K8s Infra Meeting](https://www.youtube.com/watch?v=euH00g_orqw&t=294s)

- Primary contact (assignee):
  - @tylerferrara
  - @listx
  - @justaugustus
- Responsible SIGs: @kubernetes/release-engineering
- En

[2021-07-09 20:26] jsturtevant commented on #1981
Docs PR: https://github.com/kubernetes/website/pull/28413

[2021-07-09 22:48] kfox1111 commented on #277
Does the current implementation of ephemeral containers still require cluster-admin? It would be a shame if regular namespace admins can't debug their own pods.

[2021-07-09 23:37] liggitt commented on #277
there is no built in role that grants it by default other than cluster-admin. A particular cluster can aggregate this permission into namespaced user roles like admin or edit if desired.

[2021-07-09 23:40] ddebroy commented on #1122
docs placeholder PR: https://github.com/kubernetes-csi/csi-proxy/pull/163

[2021-07-09 23:47] kfox1111 commented on #277
Is it safe to give an untrusted namespace admin the permissions though, or does it give them too much privilege?

[2021-07-10 01:49] liggitt commented on #277
It entirely depends on whether the pod protection mechanisms you have in place guard the ephemeralContainers field and the pods/ephemeralcontainers subresource. The PodSecurity and PodSecurityPolicy admission plug-ins will guard those before the feature graduates from alpha, but there's no guarantee custom admission webhooks pay attention to those

[2021-07-10 03:47] #991 closed

[2021-07-10 04:39] ahg-g commented on #2458
It is part of https://github.com/kubernetes/website/pull/28839/files

[2021-07-10 06:54] uablrek opened #2819 "CNI traffic shaping support"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Support traffic shaping for CNI network plugin
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2808
- Discussion Link: https://github.com/kubernetes/community/pull/2202#issuecomment-873306405, https://www.youtube.com/watch?v=phCA5-vWkVM&list=PL69nYSiGNLP2E8vmnqo5MwPOY

[2021-07-10 06:55] uablrek commented on #2819
/sig network

[2021-07-10 06:56] uablrek commented on #2819
Note: This is not a new KEP. It is for regain tracking of an already-implemented feature (in alpha)

This KEP is revived to regain tracking for the traffic shaping feature. It was introduced in v1.9 (I think) but has not left "alpha" since 2018. The intention is to allow the function to graduate.

The original KEP was not merged or moved to kubernetes/enhancements.

[2021-07-10 07:02] uablrek commented on #2819
/assign @thockin

[2021-07-10 08:15] uablrek commented on #2819
@thockin I let you add this to https://github.com/orgs/kubernetes/projects/10 so I don't mess up things.

[2021-07-11 21:10] #2435 closed

[2021-07-11 21:10] #2392 closed

[2021-07-11 21:10] #2390 closed

[2021-07-11 21:10] #2393 closed

[2021-07-11 21:10] #2398 closed

[2021-07-11 21:10] #2394 closed

[2021-07-12 03:43] pacoxu commented on #2227
- [ ] https://github.com/kubernetes/kubernetes/pull/103284 fixed a bug in this feature in 1.22(code freeze) or 1.23.

[2021-07-12 08:23] PI-Victor commented on #1122
@ddebroy Ah, let me ask you something, is this feature in any way documented on https://docs.kubernetes.io?
If it's not, then we don't track it, we only track documentation that goes in the official website.

[2021-07-12 10:07] tengqm commented on #1847
This is dilemma ... we have kubernetes/kubernetes#99378 merged, which introduced a new feature gate (visible to users), but we have kubernetes/kubernetes#99728 pending approval and now removed from the milestone.

What would we say to the users?

[2021-07-12 10:12] sftim commented on #1122
There already are docs: https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#csi-plugins
Are these still correct?

[2021-07-12 10:14] sftim commented on #1122
If this support is going to graduate to stable for v1.22 I'd expect to see a Task page that explains how to deploy `csi-proxy` on each relevant Node - for example, as a DaemonSet.

We should also [plan to] update https://github.com/kubernetes-csi/csi-proxy if any of that README's contents are out of date or will be on graduation.

[2021-07-12 16:09] msau42 commented on #1491
/reopen

[2021-07-12 16:10] msau42 commented on #1491
/remove-lifecycle rotten

[2021-07-12 17:04] kfox1111 commented on #277
Hmm... Not what I intended to ask. Restricting access to the api can be done lots of different ways. (opa, gatekeeper, custom webhook, etc). Let me try asking with some more detail:

Is the ephemeral container feature safe enough to give to a namespace admin who is not a cluster-admin so they can debug their own workloads but can't use the functionality to break out of their workloads to other nam

[2021-07-12 17:05] JamesLaverack commented on #785
Hey @alculquicondor, thanks for updating your kep. Can you verify that https://github.com/kubernetes/kubernetes/pull/99597 is your only k/k PR for v1.22?

/milestone v1.22
/remove-lifecycle frozen

[2021-07-12 17:08] alculquicondor commented on #785
All the implementation PRs are already merged.

[2021-07-12 17:12] JamesLaverack commented on #647
Hi, this enhancement has been granted an exception for v1.22. As per [Savitha's message](https://groups.google.com/g/kubernetes-sig-release/c/MR1fdVZPNN8/m/LkkION1fAQAJ), please ensure that your PRs are merged by 14th July, end of day Pacific time. For this we are tracking the following two PRs:

- https://github.com/kubernetes/kubernetes/pull/103601
- https://github.com/kubernetes/kubernetes/pull

[2021-07-12 17:15] JamesLaverack commented on #277
Hi, this enhancement has been granted an exception for v1.22. As per [Savitha's message](https://groups.google.com/g/kubernetes-sig-release/c/1A49p2cGl_4/m/jrksu5uEAAAJ), please ensure that your PRs are merged by 12th July, end of day Pacific time. For this we are tracking the following PR:

- https://github.com/kubernetes/enhancements/pull/2816

/milestone v1.22

[2021-07-12 17:29] JamesLaverack commented on #2307
Hey @alculquicondor, v1.22 Enhancements Lead here. We had this enhancement marked as "at risk" going into code freeze, but were satisfied that https://github.com/kubernetes/kubernetes/pull/98238 was approved and just awaiting merge, which it has now done.

However I see you've got a new k/k PR open now though in https://github.com/kubernetes/kubernetes/pull/103644. Can you confirm if this PR is in

[2021-07-12 17:35] alculquicondor commented on #2307
Hi, kubernetes/kubernetes#103644 is a potential bugfix, which is awaiting for confirmation from sig-scalability

AFAIK, bugfixes are exempt from code freeze. Is that correct?

[2021-07-12 17:35] flokli commented on #2438
This is still very much desired ;-)

[2021-07-12 17:37] supriya-premkumar commented on #1040
Hi @wojtek-t,
Just confirming that this issue needs to be `tracked` for the 1.22 release and the [PR](https://github.com/kubernetes/kubernetes/pull/103521)  is not merged will roll into the 1.23 release?

[2021-07-12 17:59] andrewsykim commented on #2086
Sorry for the delay folks, I will get the doc PRs open by end of this week!

[2021-07-12 17:59] andrewsykim commented on #1669
Sorry for the delay folks, I will get the doc PRs open by end of this week!

[2021-07-12 18:30] verb commented on #277
@kfox1111 There's been some confusion around this in the past. Do you recall which privilege made it unsafe for non-cluster-admins?

Ephemeral containers have never granted any additional privileges than what is described in the fields of `v1.EphemeralContainer`. The kubelet converts the `v1.EphemeralContainer` into a `v1.Container` and creates it using the same methods as the rest of the containe

[2021-07-12 19:16] #2503 closed

[2021-07-12 20:16] mattcary commented on #1847
Yes, you have summarized it well.

I had #99728 out for review for several months but I had a hard time
getting attention on the review.

My experience with asking for extensions on the code freeze is that we are
already too late, they would have wanted the PR merged last week.

Maybe I can merge this when the code freeze is over and then we can
cherry-pick to 1.22?

At any rate I don't feel like

[2021-07-12 20:50] kfox1111 commented on #277
No. Just semi remembering the possibility of something from a long time ago. Or maybe an initial implementation restriction only allowing cluster-admins to use the feature or something. Could be totally misremembering too.

Just wondering in general if there were any known gotcha's in the implementation since its been so long since I've looked at it, that I care about multitenant issues, and want

[2021-07-12 21:09] PI-Victor commented on #277
Hello @verb  :wave:, 1.22 Docs release lead here.

This enhancement is marked as ‘Needs Docs’ for 1.22 release.

Please [follow the steps detailed in the documentation ](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.22 branch in the k/website repo. This PR can be just a placeholder at this time and **must be created by EOD today,

[2021-07-12 21:20] PI-Victor commented on #1122
@ddebroy Please address @sftim concern by opening a docs placeholder PR in k/website by EOD today, this enhancement is late for docs and the deadline was 9th of July. As said above, this PR can be only a draft for now.
thanks!

[2021-07-12 23:02] flokli commented on #2438
/remove-lifecycle stale

[2021-07-12 23:34] marosset commented on #1122
Hi @PI-Victor and @sftim
Sorry for the delays here (I'm just ramping back up after 2 months of PTO).
I can own updating the docs for this and will open up a draft PR in a few minutes.

[2021-07-12 23:41] marosset commented on #1122
I opened up the draft PR and will work on the documentation early this week.

[2021-07-13 03:56] verb commented on #277
Hi @PI-Victor, docs were updated for this release in kubernetes/website#27988.

[2021-07-13 07:18] wojtek-t commented on #1040
I think we should track it.

correct

[2021-07-13 11:27] wilmardo commented on #1053
/remove-lifecycle rotten

[2021-07-13 14:10] JamesLaverack commented on #2238
Hi, this enhancement has been granted an exception for v1.22. As per [Savitha's message](https://groups.google.com/g/kubernetes-sig-release/c/2ddU0ur6NaU/m/UTJESDOMAQAJ), please ensure that your PRs are merged by 14th July, end of day Pacific time. For this we are tracking the following two PRs:

- https://github.com/kubernetes/kubernetes/pull/103168
- https://github.com/kubernetes/kubernetes/pull

[2021-07-13 15:17] PI-Victor commented on #2238
Heya @raisaat since this enhancement has been added back to the milestone, please open a PR to k/website as soon as possible, the deadline was 9th of July. For the time being, it can be only a draft PR.
Thank you!

[2021-07-13 18:57] SaranBalaji90 commented on #1872
This issue can be closed based on https://github.com/kubernetes/enhancements/pull/2822

[2021-07-13 19:00] #1872 closed

[2021-07-13 22:23] ehashman commented on #2238
Hey, I didn't see a linked PR so I have opened https://github.com/kubernetes/website/pull/28930

Thanks for the reminder, @PI-Victor! We were just waiting on the exception :)

[2021-07-14 14:52] SaranBalaji90 opened #2823 "Add Node-local plugin support for pod admit handler"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add support for out-of-tree plugins for pod admit handler to add capabilities to perform validations before running pod containers.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2811
- Discussion Link: This was discussed as part of sig-node meeting on July 13th 2021

[2021-07-14 14:52] SaranBalaji90 commented on #2823
/sig Node

[2021-07-14 18:46] arjunrn commented on #2580
/remove-lifecycle stale

[2021-07-14 23:04] apelisse commented on #1027
/lifecycle frozen

[2021-07-14 23:04] apelisse commented on #1101
/lifecycle frozen

[2021-07-15 10:11] deepeshdeomurari commented on #2133
We are waiting for this feature. Because containerD don't provide support for dynamic config. At every configuration change I need to restart containerD. It is very costly. We are stuck in getting images from ECR by using rotating tokens.

[2021-07-15 12:16] wojtek-t commented on #383
/remove-lifecycle stale

[2021-07-16 00:47] ritpanjw commented on #1669
Hello @andrewsykim  :wave: please take a look at [Documenting for a release - PR Ready for Review to get your PR ready](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) for review before **Tuesday 20th of July, 11:59 PM PDT** since we have passed the placeholder PR deadline. Thank you!

[2021-07-16 14:33] dashpole commented on #647
@JamesLaverack everything is complete

[2021-07-16 19:05] alculquicondor commented on #2214
I forgot the new capabilities in the beta release kubernetes/website#28980

[2021-07-16 19:15] vantuvt commented on #1753
Still interested and timelines still remain TBD.

[2021-07-16 19:17] serathius commented on #1753
/remove-lifecycle frozen

[2021-07-19 02:24] vincepri commented on #2495
/remove-lifecycle stale

[2021-07-19 09:19] mcluseau commented on #2104
/remove-lifecycle stale

[2021-07-19 18:07] k8s-mirror-cluster-lifecycle-feature-re commented on #357
/remove-lifecycle stale

[2021-07-19 19:44] srampal opened #2828 "KEP for Cluster Egress Network Control"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Introduce API for Cluster Egress Network Controls
- Kubernetes Enhancement Proposal: Link to PR be added here  ..
- Discussion Link:  Link to be discussion/ PR to be added here ...
- Primary contact (assignee): @srampal
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which

[2021-07-19 19:46] srampal commented on #2828
/sig network

[2021-07-19 21:35] ddebroy commented on #1122
https://github.com/kubernetes-csi/docs/pull/362 for doc updates around csi-proxy in k-csi docs.

[2021-07-19 21:42] ddebroy commented on #1122
Are these still correct?

Updates for that section in https://github.com/kubernetes-csi/docs/pull/362

[2021-07-19 22:15] achauvin-wish commented on #1441
Hey @verb , with [kubernetes/kubernetes#53188](https://github.com/kubernetes/kubernetes/issues/53188) now merged, would it be possible have perhaps a `--securityContext` parameter where the security context of the ephemeral container can be specified? Likely a duplicate of [kubernetes/kubernetes/97103](https://github.com/kubernetes/kubernetes/issues/97103), just wanted to check if there is any tim

[2021-07-20 00:22] ddebroy commented on #1122
Main csi-proxy API docs PR: https://github.com/kubernetes-csi/csi-proxy/pull/165 (supersedes https://github.com/kubernetes-csi/csi-proxy/pull/163)

[2021-07-20 00:24] ddebroy commented on #1122
To summarize, here are the doc PRs:
1. k/website: kubernetes/website#28914 [minor updates + mark feature is GA]
2. k-csi/docs: https://github.com/kubernetes-csi/docs/pull/362 [how to use and deploy csi-proxy as a plugin developer]
3. k-csi/csi-proxy: https://github.com/kubernetes-csi/csi-proxy/pull/165 [specifics of each API group in v1]

[2021-07-20 05:13] frittentheke commented on #727
/remove-lifecycle stale

[2021-07-20 13:07] verb commented on #1441
Hi @achauvin-wish, we're planning on working on this in the 1.23 cycle. It's unlikely to be specifically a `--securityContext` flag, but it will address the configurable security context use case. I'll link the proposal from this issue when it's available.

[2021-07-20 15:22] abraithwaite commented on #661
/remove-lifecycle stale

[2021-07-20 18:13] sftim commented on #5
For more information on the deprecation, see [PodSecurityPolicy Deprecation: Past, Present, and Future](https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-future/).

[2021-07-20 18:27] achauvin-wish commented on #1441
Thank you so much for the quick response! In the meantime, do you have any suggestions on what the best way to start a debug container with security context would be? Thanks!

[2021-07-20 21:01] abraithwaite commented on #661
/remove-lifecycle rotten

[2021-07-21 00:42] robscott opened #2829 "Migrate Gateway API to k8s.io Group"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Migrate Gateway API to k8s.io Group
- Kubernetes Enhancement Proposal: WIP
- Discussion Link: https://github.com/kubernetes-sigs/gateway-api
- Primary contact (assignee): @robscott
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which milestone): This is out of tree and wil

[2021-07-21 03:28] sallyom opened #2831 "Kubelet OpenTelemetry Tracing"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Instrument kubelet to generate and export OpenTelemetry trace data.
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contacts (assignee): somalley, husky-parul
- Responsible SIGs: SIG-Instrumentation
- Enhancement target (which target equals to which milestone):
  - Alpha release target

[2021-07-21 12:24] verb commented on #1441
@achauvin-wish I've I needed to support it before 1.23, I'd write a [kubectl plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/) to do it. If you wanted to use client-go for the plugin, you can use the existing `kubectl debug` as a template and just make the security context configurable.

It'd also be possible to do with a shell script using the `--raw` option of [kubectl re

[2021-07-21 12:54] gaby commented on #127
Four years and this still not supported, any timeline for this?

[2021-07-21 16:33] ehashman commented on #2400
We are good to go for 1.22! Docs complete.

[2021-07-22 17:32] enj commented on #541
This KEP has been implemented and docs are merged.  I believe we are done.  🥳

[2021-07-22 18:53] #2531 closed

[2021-07-22 18:53] #2530 closed

[2021-07-22 18:53] #2523 closed

[2021-07-22 18:53] #2532 closed

[2021-07-22 20:09] msjingli commented on #2767
@dims can you please confirm that if docker will stay as supported in 1.23 or it's only code in-tree and need to build by whoever wants to use it?

[2021-07-22 21:21] dims commented on #2767
@msjingli as of today the plan is for 1.23 will remain the same as 1.22 - please see details in https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2221-remove-dockershim/README.md

[2021-07-23 01:31] enj commented on #2784
All items for beta are complete.

[2021-07-23 16:37] spiffxp commented on #625
Are there any plans to start a deprecation / removal clock for in-tree drivers in the v1.23 timeframe?

[2021-07-23 16:39] spiffxp commented on #2395
Are there any plans to start a deprecation / removal clock for in-tree cloud-providers in the v1.23 timeframe?

[2021-07-23 17:36] msau42 commented on #625
Each in-tree cloud driver has already been deprecated when their CSI migration feature went beta. However, the remaining rollout plan for being removed is:

X: beta, enable by default
X+1: GA
X+3: Remove code.

At this point, I think 1.24 is the earliest that any plugin will GA, which makes code removal 1.26 at the earliest.

[2021-07-24 02:39] mauriciopoppe commented on #1122
k/website feature blogpost: https://github.com/kubernetes/website/pull/29105

[2021-07-26 11:52] unixkartik01 commented on #625
Hello There,

What do you mean about this mail ???

Regards,
Kartik

On Fri, Jul 23, 2021 at 11:07 PM Michelle Au ***@***.***>
wrote:

[2021-07-26 17:52] kikisdeliveryservice commented on #2831
@sallyom can you please add the mandatory discussion link to this issue?

[2021-07-26 18:13] #617 closed

[2021-07-26 21:31] howardjohn opened #2835 "Prioritized leader election"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Allow leader election to take priority of a participant in the leader election into account. This allows higher priority participants to preempt lower priority participants.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2836
- Discussion Link: https://docs.google.co

[2021-07-26 21:33] howardjohn commented on #2835
/sig api-machinery

[2021-07-27 00:15] Jiawei0227 commented on #1885
/remove-lifecycle stale

[2021-07-27 01:17] feiskyer commented on #1435
@thockin @khenidak do you know the plans to move this to GA?

[2021-07-27 03:19] n4j opened #2837 "Pod level resources"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Allow setting of resource requests  & limits at Pod level
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2837-pod-level-resource-spec/README.md
- Discussion Link: https://www.youtube.com/watch?v=3cU56ZiUZ8w&list=PL69nYSiGNLP1wJPj5DYWXjiArF-MJ5fN

[2021-07-27 03:20] n4j commented on #2837
/sig node

[2021-07-27 03:22] n4j commented on #2837
/sig cli architecture cloud-provider

[2021-07-27 03:23] n4j commented on #2837
/assign  derekwaynecarr thockin

[2021-07-27 03:24] n4j commented on #2837
/assign @derekwaynecarr  @thockin

[2021-07-27 05:24] aojea commented on #1435
There is no owner of the feature, the author is not longer replying ...

I've tried to move it forward this cycle, but I couldn't find the cloud providers information

it has to meet the alpha to beta criteria
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1435-mixed-protocol-lb#alpha---beta-graduation

[2021-07-27 06:19] ankitnigam1987 opened #2838 "Container CPUset allocations not being updated after Inplace Pod updates."
### Enhancement Description

- Container CPUset allocations not being updated after Inplace Pod updates.
- https://github.com/kubernetes/enhancements/issues/1287 -->
- https://github.com/vinaykul/kubernetes/commit/87daa3b26b2576f98023ee7e3a79076d9ff90392#commitcomment-54013251 -->
- Primary contact (assignee): @vinaykul
- Responsible SIGs: sig-node, sig-autoscaling
- Enhancement target (which targ

[2021-07-27 06:23] wojtek-t commented on #1904
/remove-lifecycle stale

[2021-07-27 06:30] feiskyer commented on #1435
there's another issue in kubelet, which is not clear enough either:

[2021-07-27 07:05] zmberg commented on #2838
/sig node

[2021-07-27 11:30] palnabarun commented on #135
/remove-lifecycle stale

[2021-07-27 11:34] frittentheke commented on #1846
Is this really stale?

[2021-07-27 11:34] frittentheke commented on #1846
/remove-lifecycle stale

@ianlewis is this KEP really stale?

[2021-07-27 13:02] samip5 commented on #563
Regarding DualStack support in 1.21.3, I would very much apperiate a way to change the default ipFramilyPolicy from `SingleStack` to `PreferDualStack`, if the cluster is in fact operating in DualStack mode.

[2021-07-27 13:30] jsafrane commented on #1698
/remove-lifecycle stale

[2021-07-27 14:02] mkimuram opened #2839 "In-use protection"
### Enhancement Description

- One-line enhancement description (can be used as a release note): A generic feature to protect objects from deletion while it is in use
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/2840
- Discussion Link: https://github.com/kubernetes/enhancements/pull/2640#issuecomment-885929768
- Primary contact (assignee): @mkimuram
- Respons

[2021-07-27 14:38] ahg-g commented on #902
/remove-lifecycle stale

@denkensk are you able to graduate this to GA in 1.23?

[2021-07-27 14:47] mkimuram commented on #2839
@kubernetes/sig-api-machinery-proposals

[2021-07-27 14:56] jeremyrickard commented on #1424
We'll update this to reflect that kubectl will be worked to move in 1.23, kubeadm will not be the focus for 1.23

[2021-07-27 15:04] neolit123 commented on #1424
@jeremyrickard could you please ping the [SIG Cluster Lifecycle ML / slack](https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle#contact) when the discussions with SIG CLI begin about the kubectl extraction?

[2021-07-27 15:55] denkensk commented on #902
Sure

[2021-07-27 16:41] PurelyApplied commented on #1933
/remove-lifecycle stale

I'm overdue to push an update, but it's on my plate.  I'll try to get to it this week.

[2021-07-27 17:28] ahg-g commented on #2458
all required PRs and docs merged.

[2021-07-27 18:21] khenidak commented on #563
@samip5 We have discussed this scenario throughly while designing the api. We have decided that the user is better off configuring a web hook (OPA based or another stack) that configures defaults as needed. As you can imagine overriding defaults - across the cluster - is not exactly a common use case.

[2021-07-27 18:44] samip5 commented on #563
Could you please explain what does that mean?  How should I be able to do it globally across the cluster?  I don't know what OPA stands for in this context.

[2021-07-27 19:22] lachie83 commented on #563
You could use a project like Gatekeeper (policy controller via webhook admission for Kubernetes backed by Open Policy Agent (OPA)) which enables mutation (in alpha) to modify fields server-side based on defined policy. See https://open-policy-agent.github.io/gatekeeper/website/docs/mutation

[2021-07-27 19:25] tibordp commented on #563
BTW: I wrote a simple admission controller a while ago to achieve that effect - may come handy
https://github.com/tibordp/prefer-dual-stack-webhook

[2021-07-27 20:36] jpbetz commented on #2155
Server-side apply is going to GA in 1.22 (it didn't quite make the 1.21 release), and this change will go GA as part of SSA. We should probably update the milestone to match (I don't have permissions for that).

[2021-07-27 21:06] khenidak commented on #563
Thank you.

Also please note that there are plenty of samples/charts out there today that may not be able to deal with multi services that are dual stacked. So having single stack as default with ability to override dynamically after cluster creation does sound better than api-server flag that needs to be set during bootstrap

[2021-07-28 09:22] ianlewis commented on #1846
I think we can close it but keep it here for reference since it's kind of leaning towards being a runtime fix out of scope from Kubernetes. I'll reopen if things change.

[2021-07-28 10:29] saschagrunert commented on #2413
Looking at the KEP we would plan to remove the annotations in v1.23. Are we fine doing this? How would we handle the logic within Pod Security Policies?

[2021-07-28 14:20] palnabarun commented on #1424
@neolit123 -- Surely! :)

[2021-07-28 23:36] lauralorenz commented on #2149
/remove-lifecycle stale

[2021-07-29 16:17] zshihang commented on #2799
/sig auth

[2021-07-29 16:36] marosset commented on #2258
/milestone clear

[2021-07-30 12:32] serathius opened #2845 "Remove klog specific command line arguments from Kubernetes components"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Deprecate klog specific flags in Kubernetes components
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/README.md
- Discussion Link: https://groups.google.com/g/kubernetes-dev/c/dAzHAd

[2021-07-30 12:33] serathius commented on #2845
/sig arch
/sig instrumentation
/wg structured-logging

[2021-07-30 14:00] serathius commented on #2845
/sig architecture
/milestone v1.23

[2021-07-31 02:35] frittentheke commented on #2000
/remove-lifecycle stale

[2021-08-02 09:18] janosi commented on #1435
@aojea @feiskyer I am sorry for my silence. :( It was not about abandoning this feature.

Yes, I meant kube-proxy. And the kube-proxy should use the status of the LB Service as input to learn which ports should be really opened. My bad.

[2021-08-02 09:27] pohly commented on #1472
/remove-lifecycle stale

[2021-08-02 10:20] feiskyer commented on #1435
@janosi could you open a bug with details so that others could help to fix in case you're not available?

[2021-08-02 10:53] janosi commented on #1435
@feiskyer I do not think it is a bug. It is a desired new function of kube-proxy, described in the KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1435-mixed-protocol-lb#kube-proxy

[2021-08-02 14:52] Elbehery opened #2848 "[sig-storage] Transfer VolumeSnapshots between namespaces"
### Enhancement Description

- One-line enhancement description (can be used as a release note):  Transfer VolumeSnapshots between namespaces
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @elbehery
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.23):
  - Beta release target (x.y):
  - S

[2021-08-02 14:52] Elbehery commented on #2848
/sig storage
/assign @xing-yang

[2021-08-02 22:49] lavalamp commented on #1965
/reopen

Haowei, what should happen next on this?

[2021-08-03 08:02] pacoxu commented on #2129
/remove-lifecycle stale

[2021-08-04 02:12] yuzhiquan commented on #2727
We are aim to v1.23 now.

[2021-08-04 07:07] pohly commented on #1702
/remove-lifecycle stale

[2021-08-04 12:42] liggitt commented on #1333
The portions of this enhancement dealing with non-GA APIs are complete.

The remaining part (phase 3) intersects with the conformance profiles issue, which was closed as stale (https://github.com/kubernetes/enhancements/issues/1618).

/unassign
As I am not currently working on the optional-GA API portion. @johnbelamaric, is there a more current version of https://github.com/kubernetes/enhancements

[2021-08-04 16:13] mattcary commented on #1488
/remove-lifecycle stale

There was more work than expected figuring out how this impacted cloud provider extraction (see https://github.com/kubernetes/kubernetes/pull/102701 for half of the context).

This will be enabled by default in 1.23 now. The gce-pd tests that will break in the k/k e2e tests will be removed from release-blocking, and be run from the cloud-provider-gcp prow config instead. M

[2021-08-05 01:17] suigh commented on #2779
close as discussed in #2781.

[2021-08-05 01:17] #2779 closed

[2021-08-05 17:53] sfxworks commented on #1495
Please update KEP link?

[2021-08-06 09:17] fromanirh commented on #2621
/remove-lifecycle stale

[2021-08-06 09:17] fromanirh commented on #2621
/remove-lifecycle stale

[2021-08-06 09:18] fromanirh commented on #2043
/remove-lifecycle rotten

[2021-08-06 09:18] fromanirh commented on #2043
/remove-lifecycle stale

[2021-08-06 09:19] fromanirh commented on #2043
/remove-lifecycle rotten

[2021-08-06 21:28] kfox1111 commented on #1495
new url seems to be: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1495-volume-populators

[2021-08-06 22:07] annajung commented on #1495
@sfxworks @kfox1111 it's been updated, thanks!

[2021-08-06 22:21] kfox1111 commented on #1495
@annajung Thank you for fixing it.

[2021-08-08 04:41] khatrig commented on #2668
/remove-lifecycle stale

[2021-08-08 05:59] zerkms commented on #695
/remove-lifecycle stale

[2021-08-08 07:38] mowangdk commented on #2133
It is very cumbersome to configure CredentialProviderConfig on each node. Why not specify CredentialProviderConfig by creating a unified configuration resource in the cluster?

[2021-08-08 23:35] #2492 closed

[2021-08-08 23:35] #2494 closed

[2021-08-08 23:35] #2496 closed

[2021-08-08 23:35] #2497 closed

[2021-08-09 11:43] gjtempleton commented on #2021
/remove-lifecycle stale

[2021-08-09 14:49] mindw commented on #688
/remove-lifecycle stale

[2021-08-09 17:48] dims commented on #2221
/remove-lifecycle stale

[2021-08-09 18:29] justaugustus opened #2853 "Changing kubernetes/kubernetes default branch name to `main`"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Changing kubernetes/kubernetes default branch name to `main`
- Kubernetes Enhancement Proposal:
- Discussion Link:
  - https://groups.google.com/a/kubernetes.io/g/steering/c/8fy8omuKdpM
  - https://github.com/kubernetes/org/issues/2222
- Primary contact(s) (assignee):
  - @justaugustus
  - @cpanato
- R

[2021-08-09 18:47] justaugustus commented on #2853
/assign @justaugustus @cpanato
/sig release
/area release-eng
/wg naming
/milestone v1.24

[2021-08-09 20:51] msau42 commented on #695
/remove-lifecycle rotten

[2021-08-09 23:08] ddebroy commented on #1122
This issue is now complete! https://kubernetes.io/blog/2021/08/09/csi-windows-support-with-csi-proxy-reaches-ga/
Many thanks to all those who contributed!!

[2021-08-09 23:28] #1122 closed

[2021-08-09 23:34] msau42 commented on #1122
@ddebroy can you also update the KEP status?

[2021-08-10 00:03] spiffxp commented on #1734
/remove-lifecycle rotten
My question from https://github.com/kubernetes/enhancements/issues/1734#issuecomment-694463592 still stands
FYI @kubernetes/sig-release-leads

[2021-08-10 00:03] spiffxp commented on #1734
/milestone clear

[2021-08-10 14:20] liggitt commented on #85
this was completed in 1.22

/close

[2021-08-10 14:20] #85 closed

[2021-08-10 18:18] jeremyrickard commented on #2572
/remove-lifecycle stale

[2021-08-10 21:51] andrewsykim commented on #2133
I think for two reasons:
1. kubelet may want to use credentials to pull system images like kube-apiserver to run as static pods. In this case you need to be able to pull images before the apiserver is able to provide "configuration resources" as you mentioned.
2. I don't think we want to be able to control binaries that kubelet executes arbitrarily from the apiserver.

[2021-08-11 00:06] BenTheElder commented on #1143
kubernetes/kubernetes#100776 landed, shall we close then?

[2021-08-11 07:41] saschagrunert commented on #2413
@kubernetes/sig-api-machinery-feature-requests are y'all okay with removing the seccomp annotation support in v1.23? Should we also update PSPs?

[2021-08-11 07:42] saschagrunert commented on #135
@kubernetes/sig-api-machinery-feature-requests are y'all okay with removing the seccomp annotation support in v1.23? Should we also update PSPs?

[2021-08-11 08:27] BenTheElder commented on #2420
Noting: This is currently blocked on release branches older than 1.21 (where we removed bazel) still being supported in CI etc., once that is not the case we'll move on further follow-up cleanup.

[2021-08-11 11:18] neolit123 commented on #1143
I think we can close this now.
Please reopen if needed.

[2021-08-11 11:18] #1143 closed

[2021-08-11 14:08] mowangdk commented on #2133
@andrewsykim  thanks for the feedback~  totally understood。I wanted use this to replace the current private image pull way in the cluster（sa associated with secrets）It is not feasible according to the current situation。

[2021-08-11 18:12] liggitt commented on #135
User-facing warnings about the annotation deprecation were just added in 1.22 (in https://github.com/kubernetes/kubernetes/pull/101688). If the cost to keep the annotation → field behavior on pod creation is low, I'd like to keep that in place for a few releases for the warning to get visibility.

I would like to avoid making changes to PSPs before their removal in 1.25. Would it make sense to tar

[2021-08-11 20:03] awgreene opened #2855 "KEP for Automated CRD status.storedVersions Management"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Automated CRD status.storedVersions Management
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2856
- Discussion Link: Public discussion unavailable, please refer to the KEP for design decision / impact
- Primary contact (assignee): @sttts or @tkashem
- Responsible SI

[2021-08-11 20:17] awgreene commented on #2855
/sig api-machinery

[2021-08-11 22:58] thockin commented on #2255
I wanted to capture some discussion notes from twitter and others :)

A long time back I proposed a pod probe for this purpose.  The pod serves HTTP with a known schema (e.g. JSON `{ cost uint32 }`). kubelet hits it periodically and publishes the cost into the pod status.

The meaning of cost is opaque, but higher value = higher cost.  Within a deployment or RS, we can assume all cost values are c

[2021-08-11 23:00] thockin commented on #2255
Also, as this constitutes an API, KEPs like this *really* need to have API approvers.

[2021-08-11 23:07] ahg-g commented on #2255
It did, @liggitt was the reviewer, but I guess we forgot to mention it in the merged KEP.

[2021-08-11 23:17] ahg-g commented on #2255
During the KEP review, there was concerns about updating the cost frequently and causing significant load on the api-server. We mention that explicitly in the [Risks and Mitigations section](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2255-pod-cost#risks-and-mitigations), and warned users against doing that.

Sorry, I am not sure what you are proposing. But in the current

[2021-08-11 23:56] thockin commented on #2255
ACK.  Jordan very gently corrected me.  I didn't mean to imply anything
sneaky happened. :)

What you say about cost is the same as what I am saying.  I am mostly
arguing that annotations make really bad APIs and we almost always end up
regretting it.

On Wed, Aug 11, 2021 at 4:17 PM ahg-g ***@***.***> wrote:

[2021-08-12 07:19] saschagrunert commented on #135
Alright, then we will not touch the annotations in v1.23.

[2021-08-12 14:05] dashpole commented on #1668
/remove-lifecycle stale

[2021-08-12 14:45] ddebroy opened #2857 "Runtime assisted mounting of Persistent Volumes"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Runtime assisted mounting of Persistent Volumes
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2893
- Discussion Link: [July 15th](https://youtu.be/mTLvnAu3bRM) SIG-Storage meeting, [July 20th](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZt

[2021-08-12 14:48] ddebroy commented on #2857
/sig-storage
/sig-node

[2021-08-12 14:50] ddebroy commented on #2857
/sig storage
/sig node

[2021-08-12 15:55] PI-Victor commented on #2305
/remove-lifecycle stale

[2021-08-12 17:46] rikatz commented on #2551
/remove-lifecycle stale
/lifecycle active

[2021-08-12 19:42] msau42 commented on #2261
/close

[2021-08-12 19:42] #2261 closed

[2021-08-12 20:04] khenidak commented on #2255
I came here to mirror a little discussion we had on twitter. @thockin beats to it! . I want to share additional notes for your consideration:

0. I want to start by thank you for this. I do appreciate the work, and i do appreciate the feature. I believe it is a step in the right path.
1. I second the view that apis > annotations. apis are versioned, validated, defaulted. Annotation OTH are opaque

[2021-08-12 20:56] thockin commented on #2255
Kal's going big :)

[2021-08-13 00:59] thesuperzapper commented on #2255
I strongly agree with @khenidak that "pod deletion cost" should be in the Pod `status` not an anotation.

[2021-08-13 02:21] ahg-g commented on #2255
Thanks @khenidak for the great suggestions! I believe they all can be addressed as potential followups. I am glad that there is a common understanding that this was a step in the right direction. The current implementation didn't require major changes (most importantly no kubelet changes), yet it already unblocked a number of use cases and started this conversation.

The status field vs annotation

[2021-08-13 02:34] thesuperzapper commented on #2255
@ahg-g I still want to see a couple of things:

### 1 - The ability for a Pod to (safely) update its own pod-deletion-cost:
Right now this is never going to be safe, as updating the annotation requires a PATCH API call, so running a sidecar container to update the pod-deletion cost would overload the apiserver.

### 2 - Some level of integration with HorizontalPodAutoscaler:
Right now, HPAs can't

[2021-08-14 01:13] yunhjiang opened #2861 "Indicate the no-change update in the audit log event"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Indicate the no-change update in the audit log event
- Kubernetes Enhancement Proposal:
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/100473
- Primary contact (assignee): @yunhjiang
- Responsible SIGs: sig-auth
- Enhancement target (which target equals to which milestone):
  - Alp

[2021-08-14 01:14] yunhjiang commented on #2861
/sig sig-auth

[2021-08-14 01:27] yunhjiang commented on #2861
/sig auth

[2021-08-16 09:10] pacoxu opened #2862 "Fine grained Kubelet API authorization"
### Enhancement Description

- One-line enhancement description (can be used as a release note): The node API authorization is too coarse. We need finer grained authorization of different request types, and maybe resources acted on.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2862-fine-grained-kubelet-authz/README.md
- Discussion Link:  h

[2021-08-16 09:11] pacoxu commented on #2862
/sig auth
/sig node
/kind feature
/area kubelet-api
/priority important-longterm

See also:
- https://github.com/kubernetes/kubernetes/issues/12968
- https://github.com/kubernetes/kubernetes/issues/28138
- https://github.com/kubernetes/kubernetes/issues/2098

[2021-08-16 09:12] pacoxu commented on #2862
/assign
I will start to work on the KEP.

[2021-08-16 12:30] chenyw1990 opened #2864 "kube-proxy failed to sent event to kube-apiserver in v"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements

[2021-08-16 12:30] #2864 closed

[2021-08-16 16:37] enj commented on #1314
/remove-lifecycle stale

@tallclair what exactly is the state of this KEP?  Is the functionality implemented and GA?

[2021-08-16 17:08] spiffxp commented on #2276
/remove-lifecycle stale
/help
This should be pretty easy if someone wants to try adding the right job config

[2021-08-16 17:09] spiffxp commented on #2283
/remove-lifecycle stale
/help
I believe this has been fixed if someone wants to verify

[2021-08-16 17:27] spiffxp commented on #2283
/close
`make test` now passes, I believe https://github.com/kubernetes/enhancements/pull/2753 was the fix

[2021-08-16 17:27] #2283 closed

[2021-08-16 17:53] spiffxp commented on #2311
/remove-lifecycle rotten
I'm going through and refreshing SIG Testing KEPs, we have many that don't fit "in-tree" if that means "involves changes to code in kubernetes/kubernetes that is compiled into artifacts distributed as part of a kubernetes release"

I'm not sure I see consensus on how we should categorize our stuff instead:
- `(in-tree|out-of-tree)` + `(code|process)`?
- `in-tree|out-of-tre

[2021-08-16 17:59] spiffxp commented on #2290
/remove-lifecycle rotten
/sig testing

[2021-08-16 18:00] spiffxp commented on #2290
/tracked no
/stage stable

[2021-08-17 00:48] justaugustus commented on #2818
/assign @tylerferrara @listx @justaugustus
/sig release
/area release-eng

[2021-08-17 03:08] mailhari commented on #2749
/remove-lifecycle stale

[2021-08-17 06:54] george-angel commented on #536
/remove-lifecycle stale

[2021-08-17 17:42] spiffxp commented on #2464
I'm adding a tracked/no label to this as a best guess but I'm open to suggestion from @kubernetes/enhancements or @kubernetes/release-team

It's the sort of thing that either lands prior to Test Freeze, or it doesn't, since this determines what is being used for CI signal

[2021-08-17 17:43] spiffxp commented on #2539
/stage beta

[2021-08-17 17:44] spiffxp commented on #2768
/stage alpha

[2021-08-17 17:46] spiffxp commented on #2464
/milestone v1.23

[2021-08-17 17:46] spiffxp commented on #2464
/stage beta
https://github.com/kubernetes/enhancements/pull/2871 proposes moving this to beta in v1.23

[2021-08-17 17:47] spiffxp commented on #2420
/stage stable
https://github.com/kubernetes/enhancements/pull/2871 proposes moving this to stable in v1.23

[2021-08-17 19:44] BenTheElder commented on #2420
I wasn't sure wether to call this 1.23 vs 1.24, since it happens on the boundary (when we turn down 1.19, then do some cleanup). 1.23 seems fair, but noting that it sort of wraps up at the same time as 1.23, or right after.

----

I think we can go ahead and land some cleanup in 1.23 as well, `hack/` can be simpler after full release cycle of not having build files present.

[2021-08-17 19:53] sftim commented on #2798
Hi @k82cn

Is there a writeup of the proposed enhancement?

[2021-08-18 07:27] adisky opened #2872 "Keystone containers KEP"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Terminate pods on the basis of keystone(`main/app/essential`) containers completion status.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/2869
- Discussion Link:  https://kubernetes.slack.com/archives/C0BP8PW9G/p1620304727344300
- Primary contact (assignee): @adisk

[2021-08-18 07:27] adisky commented on #2872
/sig node

[2021-08-18 07:36] adisky commented on #2872
This KEP will be helpful in solving the blocking Job issue https://github.com/kubernetes/kubernetes/issues/25908

[2021-08-18 19:56] salaxander commented on #1558
@tallclair @pacoxu - would you be able to do a PR on the KEP.yaml to change the state to `implemented`? At that point we should be able to close the issue.

Thanks!

[2021-08-18 19:58] salaxander commented on #541
@enj @ankeesler -  With the status marked as `implemented`, I'm going to close this issue :). Great job everyone!

[2021-08-18 19:58] #541 closed

[2021-08-18 20:01] salaxander commented on #1539
/remove-lifecycle stale

[2021-08-18 20:02] salaxander commented on #1539
With the KEP now marked as `implemented`, I'm going to close out this issue. Great job everyone!

[2021-08-18 20:02] #1539 closed

[2021-08-18 20:05] salaxander commented on #1693
Hey @liggitt - Would you be able to open a PR on the KEP to change the stage to `implemented`? At that point we'll be able to close out the issue. :)

Thanks!

[2021-08-18 20:08] salaxander commented on #2047
Hi @zshihang - Can you open a PR on the KEP and change the state to `implemented`? At that point we can close the issue out. :)

Thanks!

[2021-08-18 20:11] salaxander commented on #555
Hey @apelisse and @kwiesmueller - Can you open a PR on the KEP to change to status to `implemented`? At that point we can close out the issue :)

Thanks!

[2021-08-18 20:13] salaxander commented on #752
Hi @swetharepakula - Could you open a PR on the KEP to change the status to `implemented`? At that point we can close out the issue :)

Thanks!

[2021-08-18 20:14] salaxander commented on #1797
Hi @javidiaz - Could you open a PR on the KEP to change the status to `implemented`? At that point we can close out the issue :)

Thanks!

[2021-08-18 21:14] liggitt commented on #1693
opened https://github.com/kubernetes/enhancements/pull/2875

[2021-08-18 21:23] jpbetz opened #2876 "CRD Validation Expression Language"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Expression language can be used to validate custom resources
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2877
- Discussion Link: [SIG API Machinery Agenda Item](https://docs.google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y/edit#bookmark=id.or6pw6

[2021-08-19 01:21] pacoxu commented on #1558
@salaxander  updated the status in #2878.

[2021-08-19 01:21] pacoxu commented on #1558
@salaxander  updated the status in #2878.

[2021-08-19 01:22] pacoxu commented on #1558
@salaxander  updated the status in #2878.

[2021-08-19 08:14] soltysh commented on #515
The describe part of this enhancement isn't implemented, yet.

/re-open

[2021-08-19 08:39] pacoxu commented on #515
/reopen

[2021-08-19 15:07] alculquicondor opened #2879 "Track Ready Pods in Job status"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add a `ready` field to the Job status that track the number of Pods with the `Ready` condition.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2879-ready-pods-job-status
- Discussion Link: kubernetes/kubernetes#104422
- Primary contact (assignee)

[2021-08-19 15:07] alculquicondor commented on #2879
/assign
/sig apps

[2021-08-19 16:37] #1693 closed

[2021-08-19 20:31] khenidak commented on #2255
@ahg-g i would subscribe to iterating on this. But we have to start by moving the field from annotation to a status field :-)

[2021-08-19 21:20] tallclair commented on #1314
Implemented:
- OwnerReference requirements for mirror pods
- Metadata update restrictions through pod/status updates

Not implemented:
- Label restrictions on mirror pods

I'm not satisfied with the label restriction design, but I'm not sufficiently invested in fixing it at this point. If someone is interested in picking it up, I'd be happy to talk through the design, but otherwise I think we shou

[2021-08-19 21:26] salaxander commented on #2161
@jayunit100 @rikatz - With the KEP status marked as `implemented`, I'm going to close out this issue. Great job everyone!

[2021-08-19 21:26] #2161 closed

[2021-08-19 21:28] salaxander commented on #2702
Hi @supriya-premkumar - Could you open a PR on the KEP to mark it as `implemented`? We can close out the issue then :)

Thanks!

[2021-08-19 21:30] salaxander commented on #19
Hey @soltysh - Could you open a PR on the KEP to mark the status as `implemented`? At that point we can close out the issue.

Thanks!!

[2021-08-19 21:36] jayunit100 commented on #784
hi folks, anyone looking at this ?

[2021-08-19 23:26] zshihang commented on #2047
/close

[2021-08-19 23:26] #2047 closed

[2021-08-20 16:47] kevindelgado opened #2885 "Server Side Unknown Field Validation"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add the ability to optionally trigger schema validation on the API server that errors when unknown fields are detected.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2885-server-side-unknown-field-validation
- Discussion Link:  [sig-me

[2021-08-20 16:47] kevindelgado commented on #2885
/sig api-machinery

[2021-08-20 19:37] pjbgf commented on #24
/remove-lifecycle stale

[2021-08-20 22:37] jiahuif opened #2887 "OpenAPI Enum Types"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Detect enum types in resource types, and generate enum definition in OpenAPI spec. This feature optionally depends on https://github.com/kubernetes/enhancements/issues/2896 , and should remain compatible with it.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/

[2021-08-23 03:49] fujitatomoya commented on #1948
/lifecycle stale

[2021-08-23 03:49] fujitatomoya commented on #1948
/remove-lifecycle stale

[2021-08-23 09:10] mysunshine92 opened #2890 "Support podGC delete all terminated pods"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
  Currently, The control plane cleans up terminated Pods (with a phase of Succeeded or Failed), when the number of Pods exceeds the configured threshold (determined by terminated-pod-gc-threshold in the kube-controller-manager). when set terminated-pod-gc-threshold <= 0, the terminated pod garbage coll

[2021-08-23 09:11] mysunshine92 commented on #2890
/assign
/sig apps

[2021-08-23 14:45] bridgetkromhout commented on #563
We should list this issue in the [1.23 release milestone](https://github.com/kubernetes/enhancements/milestone/24) and add it to the [1.23 enhancements spreadsheet](https://bit.ly/k8s123-enhancements), as we intend to move from beta to stable in 1.23.

[2021-08-23 16:54] damemi opened #2891 "Simplified Multi-point plugin configuration for scheduler"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Scheduler profiles now offer a single field which plugin developers can implement to register multiple framework extension points in a simplified config.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2899
- Discussion Link: https://github.com/kubernetes/kubernetes/i

[2021-08-23 16:54] damemi commented on #2891
/sig scheduling

[2021-08-23 20:34] damemi commented on #2891
/assign
To continue discussion from https://github.com/kubernetes/kubernetes/issues/102303:

It sounds like there is general consensus on @ahg-g's original proposal of a simplified single extension point, with a `weight` field for any score plugins.

To implement this, I think the best approach is:
* Define a new extension point `MultiPoint` in [`Plugins`](https://github.com/kubernetes/kube-schedu

[2021-08-23 22:01] jeremyrickard commented on #2299
/remove-lifecycle stale

[2021-08-24 01:08] andrewsykim commented on #1435
@janosi are you able to work on this for v1.23? Otherwise, I think other folks might be interested in taking this up

[2021-08-24 01:15] yuzhiquan commented on #2891
/cc

[2021-08-24 04:30] samip5 commented on #563
Does this also mean that the `IPFamilyPolicy` will change default to PreferDualStack when dual-stack is enabled on the cluster?

[2021-08-24 05:23] lachie83 commented on #563
Please take a look at the following docs for dual-stack default behavior in different scenarios - https://kubernetes.io/docs/concepts/services-networking/dual-stack/#dual-stack-service-configuration-scenarios

[2021-08-24 05:32] samip5 commented on #563
I have already, which is why I asked. Usually dual-stack is the default configuration or at least it should be.
If the IPFamilyPolicy is not set, it should default to PreferDualStack.

You could have just said that the preference is dependent on the first cluster-cidr, but the docs doesn't really say how you're supposed to configure it to prefer BOTH aka create svc's using BOTH IP families by defa

[2021-08-24 05:43] lachie83 commented on #563
I'm not sure I follow your question. If you have a Service with `IPFamilyPolicy: PreferDualStack` on a cluster with dual-stack configured the Service will be assigned an IP from both families.

[2021-08-24 05:45] samip5 commented on #563
Default, `IPFamilyPolicy` if not set on an application or svc, will get defaulted to `SingleStack` which I'm talking about that it shouldn't default to that on full-stack clusters.

[2021-08-24 08:24] aojea commented on #563
@khenidak and @thockin can expand on this and/or correct me, but if I remember correctly, default is SingleStack always because you have to be consistent with upgrades, and dual-stack clusters that want to default Services to dual-stack can install a mutating webhook to change the IPFamilyPolicy

[2021-08-24 08:28] aojea commented on #1435
@andrewsykim we should check the beta criteria too, you are more familiar than me with cloud providers, do we have at least 2 major cloud providers implementing this?

[2021-08-24 13:07] alculquicondor commented on #2891
What you are proposing is that we support single and multi extension point configurations, right? I don't think the extra complexity is worth the maintenance cost. There's also the problem of extra hierarchy in the YAML:

[code]

But the reality is that we would have to support both methods for a while (because we have to support v1beta1 and v1beta2). So what would happen is that the internal type

[2021-08-24 13:41] damemi commented on #2891
I think both methods should always be supported. imo, this change is not very complex.

Maintaining individual config options is important for development and debugging. Also given that the internal representations will remain the same no matter what we do, I don't see the benefit to removing the current config.

Isn't the hierarchy at the same level as all the other extension points? This doesn't

[2021-08-24 16:34] liggitt commented on #2579
targeting beta for 1.23, KEP updates in progress now

[2021-08-24 16:49] javidiaz commented on #1797
Thanks @salaxander , I created a PR.

[2021-08-24 16:57] Jefftree opened #2896 "OpenAPI v3"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Publish OpenAPI v3 spec for both built-ins, CRDs, and APIService types.
- Kubernetes Enhancement Proposal: TBD
- Discussion Link:
- Primary contact (assignee): @Jefftree
- Responsible SIGs: api-machinery
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.23

[2021-08-24 16:57] Jefftree commented on #2896
/sig api-machinery

[2021-08-24 17:15] pacoxu commented on #2403
/remove-lifecycle stale

[2021-08-24 17:31] glennpratt commented on #2133
It also seems impossible to meet this interface with a DaemonSet or Service. I think this is pointing out a weakness not so much in this proposal, but in `imagePullSecrets`.

For many use cases, I think people want to specify default `imagePullSecrets` that is available as a fallback to every Pod, regardless of Namespace or ServiceAccount. And without complex node changes.

[2021-08-25 02:51] mysunshine92 commented on #2876
/sig api-machinery

[2021-08-25 02:53] mysunshine92 commented on #2887
/sig api-machinery

[2021-08-26 06:29] kerthcet opened #2901 "Remove scheduler policy config and cc v1beta1"
### Enhancement Description

- One-line enhancement description (can be used as a release note):  Remove scheduler policy config and mark cc v1beta1 as deprecated
- Kubernetes Enhancement Proposal:  TODO
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/92143
- Primary contact (assignee): @kerthcet
- Responsible SIGs: sig-scheduling
- Enhancement target (which target equals to wh

[2021-08-26 10:14] klueska opened #2902 "Add CPUManager policy option to distribute CPUs across NUMA nodes instead of packing them"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
Add CPUManager policy option to distribute CPUs across NUMA nodes instead of packing them

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2902-cpumanager-distribute-cpus-policy-option/README.md

- Discussion Link:
There is no public discussion of

[2021-08-26 19:05] jeremyrickard opened #2906 "Kustomize KRM Plugin Catalog"
### Kustomize KRM Plugin Catalog

- One-line enhancement description (can be used as a release note): A new mechanism to support distribution and discovery of KRM style transformers (plugins)
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2906-kustomize-function-catalog

- Primary contact (assignee): @jeremyrickard
- Responsible SIGs: sig-cli

[2021-08-26 23:07] tam7t opened #2907 "Secret Store CSI Driver"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Integrates secrets stores with Kubernetes via a Container Storage Interface (CSI) volume.
- Kubernetes Enhancement Proposal:
- Discussion Link:
  - https://groups.google.com/g/kubernetes-sig-auth/c/HeNMNFbwQig/m/o8IPe1hJAwAJ
  - https://github.com/kubernetes-sigs/secrets-store-csi-driver/issues/176
  -

[2021-08-28 19:44] #822 closed

[2021-08-29 19:04] janosi commented on #1435
@andrewsykim Unfortunately, I cannot promise I could deal with this one :(
@aojea Thank you for moving it forward!

[2021-08-30 14:25] xing-yang commented on #1790
/milestone v1.23

[2021-08-30 14:27] xing-yang commented on #1698
/milestone v1.23

[2021-08-30 14:28] xing-yang commented on #2317
/milestone v1.23

[2021-08-30 14:34] xing-yang commented on #1682
/milestone v1.23

[2021-08-30 14:35] xing-yang commented on #1682
/remove-lifecycle rotten

[2021-08-30 14:36] xing-yang commented on #695
/milestone v1.23

[2021-08-30 14:38] xing-yang commented on #1432
/milestone v1.23

[2021-08-30 14:46] xing-yang commented on #2268
/milestone v1.23

[2021-08-30 14:49] xing-yang commented on #1495
/milestone v1.23

[2021-08-30 14:51] xing-yang commented on #1979
/remove-lifecycle stale

[2021-08-30 14:53] xing-yang commented on #2644
/remove-lifecycle stale

[2021-08-30 14:54] xing-yang commented on #2644
/milestone v1.23

[2021-08-30 14:57] xing-yang commented on #2639
/milestone v1.23

[2021-08-30 18:14] neolit123 opened #2915 "kubeadm: replace the legacy kubelet-config-x.y naming"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
Deprecate the legacy naming of ConfigMap and RBAC rules in kubeadm that include a MAJOR.MINOR version. Replace them with naming that do not include a MAJOR.MINOR version.
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-cluster-lifecycle/kubeadm/2915-kubeadm-replace-kubelet-c

[2021-08-30 20:59] dobsonj commented on #1682
/assign

[2021-08-30 21:00] dobsonj commented on #1682
/remove-lifecycle stale

[2021-08-31 01:15] xing-yang commented on #1977
/remove-lifecycle stale

[2021-08-31 07:46] mengjiao-liu commented on #19
Per https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/19-Graduate-CronJob-to-Stable#release-122 we'll  remove the old controller. But the old controller code hasn't been cleaned up. Is there a plan? @soltysh

[2021-08-31 11:33] Zauxst commented on #281
Hello, is there an alternative proposed for `DynamicKubeletConfig` flag or this feature is getting dropped completely and kubelet configs should be managed on disk on each node?

[2021-08-31 12:35] tkashem opened #2920 "Introduce version `v1beta2` for API Priority and Fairness"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Introduce a new version `v1beta2` for API Priority and Fairness (copy from `v1beta1` and no API change)
-
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2917

- Primary contact (assignee): @tkashem
- Responsible SIGs: sig/api-machinery
- Enhancement target (which tar

[2021-08-31 12:36] tkashem commented on #2920
/sig api-machinery

[2021-08-31 12:37] tkashem commented on #2920
/assign @deads2k @wojtek-t

[2021-08-31 12:39] wojtek-t commented on #2920
I don't think we want a new issue for it - we should be reusing #1040 for it.

[2021-08-31 12:39] #2920 closed

[2021-08-31 12:52] tkashem commented on #2920
/close

we are going to reuse #1040

[2021-08-31 14:03] derekwaynecarr commented on #2902
/milestone v1.23

[2021-08-31 14:24] alculquicondor commented on #1258
/help
for graduation to GA.

[2021-08-31 15:26] salaxander commented on #1981
/milstone v1.23

[2021-08-31 15:26] salaxander commented on #1981
/milestone v1.23

[2021-08-31 15:28] danielfoehrKn commented on #281
Also interested as I though that adapting the `DynamicKubeletConfig` feature to allow updating the kubelet config without a process restart would be an option to explore  (for  updating certain kubelet configs at runtime e.g for  `kube-reserved` values of a running kubelet process without needing a restart)

@SergeyKanzhelev

[2021-08-31 15:43] salaxander commented on #2589
/milestone v1.23

[2021-08-31 15:54] salaxander commented on #2802
/milestone v1.23

[2021-08-31 15:59] salaxander commented on #277
/milestone v1.23

[2021-08-31 17:12] salaxander commented on #1287
/milestone v1.23

[2021-08-31 17:31] salaxander commented on #2413
/milestone v1.23

[2021-08-31 17:34] salaxander commented on #2535
/remove-lifecycle stale
/milestone v1.23

[2021-08-31 18:00] salaxander commented on #2712
/milestone v1.23

[2021-09-01 07:11] saschagrunert commented on #2413
@salaxander there is nothing planned for v1.23 about this KEP :)

[2021-09-01 07:47] olemarkus commented on #1815
/remove-lifecycle stale

[2021-09-01 13:11] humblec opened #2923 "Ceph RBD in-tree provisioner to CSI driver migration"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- Discussion Link:
- Primary contact (assignee): @humblec
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alph

[2021-09-01 13:13] humblec opened #2924 "CephFS in-tree provisioner to CSI driver migration"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- Discussion Link:
- Primary contact (assignee): @humblec
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alph

[2021-09-01 13:13] humblec commented on #2923
/sig storage

[2021-09-01 13:13] humblec commented on #2924
/sig storage

[2021-09-01 14:01] soltysh commented on #19
@salaxander opened #2925 fixing it

The issue can't be closed, yet. We need to get rid of the old controller in 1.23 as the last element.

/milestone v1.23

[2021-09-01 15:31] salaxander commented on #592
/milestone v1.23

[2021-09-01 15:33] salaxander commented on #961
/milestone v1.23

[2021-09-01 15:36] salaxander commented on #2258
/milestone v1.23

[2021-09-01 15:38] salaxander commented on #2307
/milestone v1.23

[2021-09-01 15:39] salaxander commented on #2599
/milestone v1.23

[2021-09-01 15:41] salaxander commented on #2804
/milestone v1.23

[2021-09-01 15:41] salaxander commented on #2879
/milestone v1.23

[2021-09-01 15:55] salaxander commented on #19
Hey @soltysh - 1.23 enhancements lead here! Are we just tracking the removal of the old controller for this release? We've got a PRR freeze in effect starting tomorrow, but that shouldn't impact this

[2021-09-01 16:01] salaxander commented on #277
Hi @verb! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- ~~[X ] KEP file using the latest template has been merged into the k/enhancements repo.~~
- ~~[X ] KEP status is marked as `implementable`~~
- ~~[X ] KEP has a test plan section filled out.~~
- ~~[ X] KEP has up to date graduation crit

[2021-09-01 16:05] salaxander commented on #961
Hi @krmayankk! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- ~~[X ] KEP file using the latest template has been merged into the k/enhancements repo.~~
- ~~[ X] KEP status is marked as `implementable`~~
- ~~[X ] KEP has a test plan section filled out.~~
- ~~[X ] KEP has up to date gradution

[2021-09-01 16:09] neolit123 commented on #2568
we discussed in the kubeadm office hours for Sep 1st 2021 that we might want to delay the graduation to Beta to 1.24 to give the users one more release to find potential problems. none thus far.

[2021-09-01 16:13] salaxander commented on #1981
Hi @marosset! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

-~~ [X ] KEP file using the latest template has been merged into the k/enhancements repo.~~
- ~~[X ] KEP status is marked as `implementable`~~
- ~~[ X] KEP has a test plan section filled out.~~
- ~~[ X] KEP has up to date gradution c

[2021-09-01 16:17] salaxander commented on #2258
Hi @aravindhp! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- ~~[x ] KEP file using the latest template has been merged into the k/enhancements repo.~~
- ~~[x ] KEP status is marked as `implementable`~~
- ~~[ x] KEP has a test plan section filled out.~~
- ~~[ x] KEP has up to date graduation

[2021-09-01 16:29] marosset commented on #1981
Thanks @salaxander!
https://github.com/kubernetes/enhancements/pull/2865 updates kep.yaml for this enhancement and will be used for the PRR for going beta.

[2021-09-01 16:30] salaxander commented on #2802
Hi @ravisantoshgudimetla! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable`
- [ ] KEP has a test plan section filled out.
- [ ] KEP has up to date gradution criteri

[2021-09-01 16:33] salaxander commented on #2879
Hi @alculquicondor! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- ~~[X ] KEP status is marked as `implementable`~~
- ~~[X ] KEP has a test plan section filled out.~~
- ~~[X ] KEP has up to date graduation

[2021-09-01 17:09] salaxander commented on #1797
Closing out now that we're fully implemented :) Awesome job everyone!

[2021-09-01 17:09] #1797 closed

[2021-09-01 17:15] salaxander commented on #2413
@saschagrunert Thanks for letting me know! I may have added it by mistake 😂

[2021-09-01 17:16] salaxander commented on #2413
/milestone clear

[2021-09-01 17:17] salaxander commented on #2371
/milestone v1.23

[2021-09-01 17:58] salaxander commented on #592
Hi @ahg-g! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [X] ~~KEP file using the latest template has been merged into the k/enhancements repo.~~
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to date graduation criteri

[2021-09-01 18:13] ehashman commented on #2580
As I recall, we discussed this in a SIG Instrumentation meeting and determined that a KEP would not be required. Can this be closed?

[2021-09-01 18:15] ehashman commented on #2580
Note in https://docs.google.com/document/d/1ZxIfu8_ZBMdVanrbXYseJZeSGbeupKfevq1pMDvJGps/edit#bookmark=id.f030azt1it4b

/close

This can be completed as a design doc/PR to community repo rather than a KEP as it's out of tree.

[2021-09-01 18:15] #2580 closed

[2021-09-01 18:18] ehashman commented on #1748
/remove-lifecycle rotten

[2021-09-01 18:20] ehashman commented on #1753
/remove-lifecycle rotten
/reopen

[2021-09-01 18:20] verb commented on #277
Hi @salaxander, just to make sure I understand the PRR process: the KEP should be ready for PRR by tomorrow so that the PRR reviewers have time to review it before enhancement freeze, right? You're not expecting PRR review to be finished by tomorrow? Thanks!

[2021-09-01 18:20] ehashman commented on #1753
@vantuvt if we are targeting beta in 1.23, we need the KEP to be fully updated and ready for acceptance by stakeholder SIGs. Otherwise, I think we should deprecate this.

[2021-09-01 18:24] salaxander commented on #277
Hi @verb - sorry for the confusion. The soft PRR freeze is something new we're trying, and we'll definitely iterate on it. We are hoping to have PRRs completed and reviewed by midnight PST tomorrow.

That said, this is a soft freeze so as long as things get as far as possible before then, we should be fine. If you need any help moving things along feel free to post in the #release-enhancements sla

[2021-09-01 18:36] ehashman commented on #2371
/remove-stage beta
/stage alpha

this slipped in 1.22 and is not yet alpha

[2021-09-01 18:37] ehashman commented on #2371
@Priyankasaggu11929 please update the corresponding spreadsheet phase

[2021-09-01 18:40] Priyankasaggu11929 commented on #2371
Updated the enhancements sheet to change the KEP's stage to `alpha`. Thanks for pointing, @ehashman.

[2021-09-01 19:00] verb commented on #277
@salaxander Whoops, I misunderstood then. I think #2892 is close, and we've been approved for beta once before, so maybe we'll be ok. I'll ping the PRR reviewer.

[2021-09-01 19:01] ahg-g opened #2926 "Mutable scheduling directives for suspended Jobs"
### Enhancement Description

- One-line enhancement description (can be used as a release note): make node affinity mutable for jobs
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/104714
- Primary contact (assignee): @ahg-g
- Responsible SIGs: scheduling
- Enhancement target (which target equals to which milestone):
  - Beta release target (x.

[2021-09-01 19:12] Priyankasaggu11929 commented on #2763
Hello @vinayakankugoyal, 1.23 Enhancements shadow here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

-   [ ] KEP file using the latest template has been merged into the k/enhancements repo.
-   [ ] KEP status is marked as implementable
-   [ ] KEP has a test plan section filled out.
-   [X] KEP has up to date gradution crit

[2021-09-01 19:12] ahg-g commented on #2926
/sig scheduling
/sig apps

[2021-09-01 20:11] #752 closed

[2021-09-01 20:35] lauralorenz commented on #1495
Hi @bswartz! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**.

If I understand correctly, you are targeting **beta** graduation for release *1.23*.

Here's where this enhancement currently stands for **beta** graduation for *1.23*:

- [x] KEP file using the latest template has been merged into the k/enhancements repo.
- [x] KEP status is marke

[2021-09-01 20:41] lauralorenz commented on #1790
Hi @gnufied! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**.

If I understand correctly, you are targeting **beta** graduation for release *1.23*.

Here's where this enhancement currently stands for **beta** graduation for *1.23*:

- [x] KEP file using the latest template has been merged into the k/enhancements repo.
- [x] KEP status is marke

[2021-09-01 20:46] lauralorenz commented on #2268
Hi @yastij, @xing-yang! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**.

If I understand correctly, you are currently targeting **alpha** for release *1.23*.

Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` _(m

[2021-09-01 20:55] kevindelgado commented on #2400
Hi @ehashman  1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [ ] KEP has up to date graduation criteria.
(Graduation Cr

[2021-09-01 21:02] lauralorenz commented on #2639
Hi @mkimuram! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**.

If I understand correctly you are targeting **alpha** stage for release *1.23*.

Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` _(filled out in PR

[2021-09-01 21:07] lauralorenz commented on #2644
Hi @xing-yang, @deepakkinni! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**.

If I understand correctly, you are targeting **alpha** stage in release *1.23*.

Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` _(f

[2021-09-01 21:11] kevindelgado commented on #2420
Hi @BenTheElder and @spiffxp  1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

 - [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteri

[2021-09-01 21:15] kevindelgado commented on #2902
Hi @klueska!  1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

 - [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [X] KEP has

[2021-09-01 21:29] mladedav commented on #961
Thank you @krmayankk for not giving up on this feature mid-way.

[2021-09-01 23:48] lavalamp commented on #1965
/reopen
/lifecyle frozen

[2021-09-02 01:49] gnufied commented on #1710
/reopen
/remove-lifecycle rotten

[2021-09-02 03:57] SnowmanCharles commented on #2000
@bobbypage Thanks for details! One more question here. Does this feature finally remove pods(Same as Pod deletion) from kube-apiserver? This is also important because if it does not remove the Pods resource from kube-apiserver, the replicaSet of customers' deployments can not schedule new pods immediately.

[2021-09-02 07:49] #2229 closed

[2021-09-02 13:11] soltysh commented on #2590
/milestone v1.23

[2021-09-02 13:12] soltysh commented on #1440
/milestone v1.23

[2021-09-02 14:12] ahg-g commented on #785
We are introducing a v1beta3 version and removing the v1beta1 one.

[2021-09-02 14:58] neolit123 commented on #2915
@release team.

related to PRR for this proposal, see the following note (it's also in the KEP PR):

for kubeadm have been established as "out-of-tree" and the PRR does not apply to them.

not sure if PRR folks have already marked kubeadm as out of scope for PRR in the guides for the release team.
happy to answer more questions about that.

[2021-09-02 15:14] ahg-g commented on #2891
This is going directly into beta under v1beta3 scheduler component config api.

[2021-09-02 15:28] bswartz commented on #1495
Yes I'm trying to get the materials together to take this feature to beta in 1.23. There will be a KEP update today

[2021-09-02 16:26] dchen1107 commented on #2727
Marking this for v1.23 and hope this request wouldn't miss the release again. The KEP was merged and the implementation is under reviewing.

[2021-09-02 16:38] salaxander commented on #1440
# 1.23 Enhancements Freeze Checklist

Hi @soltysh! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
-

[2021-09-02 16:48] salaxander commented on #2590
Hi @ykakarap and @nikhita! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to dat

[2021-09-02 16:51] ehashman commented on #1933
/milestone v1.23

ack from SIG Instrumentation

[2021-09-02 17:02] ehashman commented on #2403
/milestone v1.23

per [08/24 Node meeting](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.1oqj75o1suqi)

[2021-09-02 17:02] ehashman commented on #2403
/stage beta

[2021-09-02 17:50] salaxander commented on #2926
/milestone v1.23

[2021-09-02 17:56] smarterclayton commented on #1748
Canvasing the community to get feedback before GA promotion.

[2021-09-02 18:03] ehashman commented on #2625
/milestone v1.23

[2021-09-02 18:19] Jiawei0227 commented on #2923
/cc @msau42 @xing-yang @saad-ali @jsafrane

[2021-09-02 18:36] ehashman commented on #1933
/stage stable

[2021-09-02 18:48] swatisehgal commented on #2625
/stage beta

[2021-09-02 19:16] cheftako commented on #2699
/remove-lifecycle stale

[2021-09-02 19:17] cheftako commented on #2699
/sig cloud-provider

[2021-09-02 19:18] cheftako commented on #2699
KEP https://github.com/kubernetes/enhancements/pull/2928

[2021-09-02 19:18] cheftako commented on #2699
/milestone v1.23

[2021-09-02 19:19] cheftako commented on #2699
/kind feature

[2021-09-02 19:20] cheftako commented on #2699
/stage alpha

[2021-09-02 20:47] salaxander commented on #785
/milestone v1.23

[2021-09-02 20:52] salaxander commented on #785
Hi @alculquicondor! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [X] ~~KEP file using the latest template has been merged into the k/enhancements repo.~~
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to date graduatio

[2021-09-02 20:53] alculquicondor commented on #785
Hi, we are not graduating to stable yet. We just introduced another beta iteration.

[2021-09-02 20:54] salaxander commented on #785
@alculquicondor Ah my mistake! I'll update our tracking to show another beta release and you should be all set on the PRR :)

[2021-09-02 21:06] salaxander commented on #2403
Hi @fromanirh! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. (**PR open**)
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to d

[2021-09-02 23:36] gjtempleton commented on #2702
Hi @salaxander - thanks for the follow-up! This KEP had its target moved to 1.23 so isn't yet implemented.

[2021-09-03 02:20] andrewsykim commented on #1435
@cheftako has a proposal open right now that introduces a webhook frame in the CCM component https://github.com/kubernetes/enhancements/pull/2928, which would also allow for cloud providers to easily run validation webhooks for mixed protocols, this would make it safer for us to remove the existing validation logic in apiserver today.

[2021-09-03 02:21] andrewsykim commented on #1435
From discussing with @feiskyer I know that Azure has this need, will discuss with other folks as well to gather more input

[2021-09-03 02:41] lauralorenz commented on #1495
Great, I see that the PR is open with your PRR reviewer assigned! You are good to go regarding the soft PRR request freeze!

[2021-09-03 10:30] gjtempleton commented on #2702
@supriya-premkumar Could you update the description's target release to 1.23 please?

[2021-09-03 13:00] Priyankasaggu11929 commented on #2926
Hi @ahg-g! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [ ] KEP has a p

[2021-09-03 13:12] Priyankasaggu11929 commented on #2891
/milestone v1.23

[2021-09-03 13:36] Priyankasaggu11929 commented on #2891
Hello @damemi,  1.23 Enhancements shadow here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

-   [ ] KEP file using the latest template has been merged into the k/enhancements repo.
-   [ ] KEP status is marked as implementable
-   [X] KEP has a test plan section filled out.
-   [X] KEP has up to date gradution criteria.
-

[2021-09-03 14:31] humblec commented on #2923
/assign @humblec

[2021-09-03 16:35] ehashman commented on #2040
/milestone v1.23
Per [Node KEP Planning](https://docs.google.com/document/d/1U10J0WwgWXkdYrqWGGvO8iH2HKeerQAlygnqgDgWv4E/edit#) -- high priority

[2021-09-03 16:38] ehashman commented on #2273
/milestone v1.23
Per [Node KEP Planning](https://docs.google.com/document/d/1U10J0WwgWXkdYrqWGGvO8iH2HKeerQAlygnqgDgWv4E/edit#) -- high priority

Required alongside #1287 (not sure why this is a separate KEP)

[2021-09-03 16:59] kishorj commented on #1435
AWS customers have also requested for mixed protocol support and this would be a welcome change. The external AWS Load Balancer Controller already support mixed protocols for NLB (*with limitations), the in-tree controller doesn't work yet since it assumes the protocol to be the same for all ports. The in-tree controller needs to be fixed before this feature graduates to beta, please add it to the

[2021-09-03 17:38] andrewsykim commented on #1435
@bowei @freehan @thockin can you comment on mixed protocol support for GCP? I think that in addition to input from AWS (@kishorj) and Azure (@feiskyer)  would be enough for us to do justify the promotion to Beta in v1.23

[2021-09-03 17:50] thockin commented on #2091
For the record: this is NOT flagged for 1.23

[2021-09-03 17:53] thockin commented on #1435
It's not implemented.  I don't think it's very complicated to implement, but the testing might be.  I don't think it's on the near-term plan, though?

[2021-09-03 17:54] thockin commented on #2610
For the record this is NOT flagged for 1.23

[2021-09-03 18:02] thockin commented on #536
@robscott Time to close this one?

[2021-09-03 18:27] robscott commented on #536
Yep, I think so, looks like everything's been removed. @andrewsykim can probably correct me if I missed anything.

/close

[2021-09-03 18:27] #536 closed

[2021-09-03 18:34] andrewsykim commented on #1435
I think not implemented is ok, but if we removed the validation logic and users tried to set mixed protocols on Services, would that result in weird failure states?

[2021-09-03 18:39] thockin commented on #1435
They would get half of what they asked for without very clear signals as to
why.

On Fri, Sep 3, 2021 at 11:34 AM Andrew Sy Kim ***@***.***>
wrote:

[2021-09-03 19:14] andrewsykim commented on #1435
If the GCP cloud provider had validation logic to error early and emit an event would that be sufficient enough to graduate this to beta in v1.23? Trying to gauge if validation at the controller level is sufficient enough to unblock this feature or if we should explicitly call out that every cloud provider needs to have this fully implemented to move this forward.

The right fix is a cloud-provide

[2021-09-03 19:18] thockin commented on #2079
Looking at this for 1.23: I'd love to understand more of what makes it hard for implementations (Openshift and Cilium and ...) and if there's a better way to approach this.

I kind of like the idea of adding status to NetPol, to let controller(s) indicate support, but that's a big thing to throw into this KEP.  How would you feel about opening a new KEP to explore the minimum status required to ex

[2021-09-03 19:32] thockin commented on #2595
For the record: it sounds like we're waiting for runtimes to implement, so no advancement for 1.23, right?

[2021-09-03 19:35] abhiraut commented on #2091
updated release targets

[2021-09-03 19:35] thockin commented on #2433
This is currently specced to GA in 1.25, so no change for 1.23

[2021-09-03 19:41] thockin commented on #2433
My bad.  Shooting for BETA in 23

[2021-09-03 21:01] kevindelgado commented on #2845
Hi @serathius! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo **(PR Open)**.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.

[2021-09-03 21:02] ehashman commented on #2923
Can you please migrate this to the latest enhancements template out of the community repo and fill out the PRR questionnaire, including the version skew and upgrade strategy sections?

[2021-09-03 21:23] salaxander commented on #563
/milestone v1.23

[2021-09-03 21:24] salaxander commented on #1040
/milestone v1.23

[2021-09-03 21:24] salaxander commented on #1669
/milestone v1.23

[2021-09-03 21:26] salaxander commented on #1672
/milestone v1.23

[2021-09-03 21:27] salaxander commented on #1864
/milestone v1.23

[2021-09-03 21:29] salaxander commented on #1959
/milestone v1.23

[2021-09-03 21:32] gjkim42 commented on #2595
Right. We should wait for container runtimes to support this feature.

Will discuss about the beta promotion later.

[2021-09-03 21:34] kevindelgado commented on #2885
/milestone v1.23

[2021-09-03 21:34] kevindelgado commented on #2885
/stage alpha

[2021-09-03 21:34] salaxander commented on #2365
/milestone v1.23

[2021-09-03 21:35] salaxander commented on #2433
/milestone v1.23

[2021-09-03 21:38] kevindelgado commented on #2845
/stage alpha

[2021-09-03 21:38] salaxander commented on #2438
/milestone v1.23

[2021-09-03 21:39] salaxander commented on #2702
/milestone v1.23

[2021-09-03 21:39] kevindelgado commented on #2845
/tracked yes

[2021-09-03 21:41] kevindelgado commented on #2885
/tracked

[2021-09-03 21:42] salaxander commented on #2839
/milestone v1.23

[2021-09-03 21:43] kevindelgado commented on #2885
Hi @kevindelgado! This is @kevindelgado from the 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo **(PR Open)**.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP h

[2021-09-03 21:43] kevindelgado commented on #2885
Thanks for checking in @kevindelgado, I'll be sure to get the KEP and PRR merged in by enhancements freeze!

[2021-09-03 21:50] kevindelgado commented on #2876
Hi @jpbetz and @cici37! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo **(PR Open)**.
- [X] KEP status is marked as implementable
- [ ] KEP has a test plan section filled out **(Missing)**.
- [ ] KEP has up to da

[2021-09-03 21:51] kevindelgado commented on #2876
/milestone 1.23
/stage alpha

[2021-09-03 21:51] kevindelgado commented on #2876
/milestone v1.23

[2021-09-03 21:53] tallclair commented on #2579
@jdoylei it's a good question without a good answer. Optional there was meant to indicate that it's a best practice, but not strictly required. Now that we've codefied the standards in the pod security admission controller, we will probably remove the non-root groups entry, at least until we decide to make it a non-optional requirement.

To your specific PSP question, I'm guessing that PSP example

[2021-09-03 22:02] kevindelgado commented on #2896
Hi @Jefftree! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo **(PR Open)**.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.

[2021-09-03 22:03] kevindelgado commented on #2896
/milestone v1.23
/stage alpha

[2021-09-03 23:49] msau42 commented on #2923
This is the kep in the new format:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/625-csi-migration

[2021-09-04 01:08] #2141 closed

[2021-09-05 05:19] #2604 closed

[2021-09-05 12:19] #2377 closed

[2021-09-05 12:19] #2382 closed

[2021-09-05 12:19] #2384 closed

[2021-09-05 12:19] #2385 closed

[2021-09-05 12:19] #2343 closed

[2021-09-05 12:19] #2380 closed

[2021-09-05 12:19] #2383 closed

[2021-09-05 13:19] #2337 closed

[2021-09-05 13:19] #2333 closed

[2021-09-05 13:19] #2334 closed

[2021-09-05 13:19] #2335 closed

[2021-09-05 13:19] #2336 closed

[2021-09-05 14:19] #2330 closed

[2021-09-05 14:19] #2332 closed

[2021-09-05 18:21] rikatz commented on #2079
I will open a new KEP to add status to NetPol, in a way of allowing controllers / CNIs to let the user know if the policy was processed correctly (and features) but not if the Netpol was properly implemented in nodes, sounds good?

Will use this issue + the endPort range as the "discussion" that triggered the new KEP :)

[2021-09-05 18:41] rikatz opened #2943 "NetworkPolicy Status - Features and parsing"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add status subresource in NetworkPolicy kind
- Kubernetes Enhancement Proposal: None yet
- Discussion Link: https://github.com/kubernetes/enhancements/issues/2079#issuecomment-912756878, https://github.com/kubernetes/enhancements/pull/2709#discussion_r630429560 and Sig Network meeting from 02/September

[2021-09-05 18:41] rikatz commented on #2943
/sig network

[2021-09-06 07:04] wojtek-t commented on #2593
@rahulkjoshi - to target 1.23, you need PRR approved By Thursday - feel free to assign to me once you open a PR

[2021-09-06 07:12] wojtek-t commented on #1440
@soltysh - if you want to graduate it, we need PRR for it approved by Thu - feel free to assign to me.

[2021-09-06 10:09] swatisehgal commented on #2625
Hi @salaxander Just want to make that you are aware that we are graduating CPU Manager Policy Options to Beta in 1.23 release:

 * [x]  Beta

   * [x]  KEP (`k/enhancements`) update PR(s): [KEP-2625: Update CPU Manager Policy Options 1.23 Beta #2933](https://github.com/kubernetes/enhancements/pull/2933)
   * [ ]  Code (`k/k`) update PR(s):  TBD
   * [ ]  Docs (`k/website`) update PR(s): TBD

[2021-09-06 18:38] swatisehgal commented on #2403
Graduating CPU Manager Policy Options to Beta in 1.23 release:

 * [ ]  Beta

   * [x]  KEP (`k/enhancements`) update PR(s): [KEP-2403: Update PodResource API GetAllocatableResource 1.23 Beta #2932](https://github.com/kubernetes/enhancements/pull/2932)
   * [ ]  Code (`k/k`) update PR(s):  TBD
   * [ ]  Docs (`k/website`) update PR(s): TBD

[2021-09-07 02:43] abhiTamrakar commented on #2775
/remove-lifecycle stale

[2021-09-07 10:44] Priyankasaggu11929 commented on #1287
Hi @vinaykul! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [X] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [X] KEP has

[2021-09-07 10:51] Priyankasaggu11929 commented on #2371
Hi @haircommander ! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [X] KE

[2021-09-07 11:01] Priyankasaggu11929 commented on #2464
Hi @amwat! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable
- [ ] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [ ] KEP has a p

[2021-09-07 11:15] Priyankasaggu11929 commented on #2535
Hi @adisky! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable
- [ ] KEP has a test plan section filled out.
- [ ] KEP has up to date graduation criteria.
- [ ] KEP has a

[2021-09-07 11:20] Priyankasaggu11929 commented on #2712
Hi @mrunalp! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [X] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [X] KEP has a

[2021-09-07 11:51] Priyankasaggu11929 commented on #2763
Hello @vinayakankugoyal, 1.23 Enhancements shadow here. Just checking in once again as we approach more closer to the enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

-   [ ] KEP file using the latest template has been merged into the k/enhancements repo.
-   [ ] KEP status is marked as implementable
-   [ ] KEP has a test plan section filled out.
-   [X] KEP

[2021-09-07 12:09] Priyankasaggu11929 commented on #2891
Hello @damemi, 1.23 Enhancements shadow here. Just checking in once again as we approach enhancements freeze on **Thursday 09/09/2021.**

For this enhancement, we still  need the following to be updated:

- Update issue description with the appropriate latest `Enhancements target`
- Update KEP status from `provisional` to ` implementable` in the PR https://github.com/kubernetes/enhancements/pull/2

[2021-09-07 12:13] Priyankasaggu11929 commented on #2926
Hello @ahg-g! 1.23 Enhancements team here. Just checking in once again, as we approach enhancements freeze on **Thursday 09/09.**

We just need the KEP & the PRR file to merge by enhancements freeze, to be tracked under the Kubernetes 1.23 release :)

Thanks!

[2021-09-07 13:33] damemi commented on #2891
@Priyankasaggu11929 targeting directly to beta was mentioned by @ahg-g [above](https://github.com/kubernetes/enhancements/issues/2891#issuecomment-911794832), but for more detail, this change is going into an API which already exists in beta level. So, there is no alpha for this feature. Is that okay?

[2021-09-07 13:34] Priyankasaggu11929 commented on #1864
Hello @andrewsykim! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09.** Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [

[2021-09-07 13:40] Priyankasaggu11929 commented on #1959
Hello @andrewsykim! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09.** Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [

[2021-09-07 13:42] adisky commented on #2535
cc @mikebrow

[2021-09-07 14:01] Priyankasaggu11929 commented on #2891
@damemi

Yes. That adds some more context to it. Thank you.

[2021-09-07 16:47] swatisehgal commented on #2625
@gracenng Just as an FYI for you we are aiming to graduate this feature to Beta in 1.23 release.

[2021-09-07 17:06] vinaykul commented on #1287
@Priyankasaggu11929 Thanks for identifying the exact changes needed. I have update the issue description and the milestones in kep.yaml for this and the related KEPs. (PR https://github.com/kubernetes/enhancements/pull/2948 )

Please let me know if anything else is needed..

[2021-09-07 17:07] salaxander commented on #1040
Hi @wojtek-t! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze **11:59pm PST pm Thursday 09/09**. Here's where this enhancement currently stands:

- [X] ~~Updated KEP file using the latest template has been merged into the k/enhancements repo.~~
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to

[2021-09-07 17:10] salaxander commented on #1440
Hi @soltysh - with the KEP updated and the PRR completed we're all set for enhancements freeze.
Thanks!

[2021-09-07 17:10] wojtek-t commented on #1040
@salaxander - we're not graduating to GA - it's just another Beta. The PRR is ready for that.

[2021-09-07 17:13] salaxander commented on #1669
/stage beta

[2021-09-07 17:16] salaxander commented on #1669
Hi {enhancement owner}! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP h

[2021-09-07 17:19] vinayakankugoyal commented on #2763
Woops, completely missed your previous messages. Sorry about that!
We are still discussing how the K8S API changes would look like, we need to figure those out before we can mark this as implementable. I don't think we would be able to meet the KEP deadline as the SIG security meeting is on 09/09.

[2021-09-07 18:41] deads2k commented on #1790
This is actually targeting alpha for 1.23:  https://github.com/kubernetes/enhancements/pull/2807#issuecomment-914531636

/stage alpha

[2021-09-07 18:49] BenTheElder commented on #2420
I'll probably be back out for a bit after today but will make more progress later on wrapping this up in the v1.23 timeframe, right now we're blocked on PRR approval for https://github.com/kubernetes/enhancements/pull/2871. Changes are expected be test-only though (cleanup to CI and scripts) and shouldn't affect the release.

[2021-09-07 21:45] mrunalp commented on #2712
@Priyankasaggu11929 I have opened a PR to update the milestone for the KEP.

[2021-09-07 22:18] salaxander commented on #2040
/stage beta

[2021-09-07 22:22] thockin commented on #1435
I don't like standing in the way of progress.  If you're signing up to finish the work in kube-proxy, Andrew I think it's probably OK to unblock this.

@bowei @freehan What do you think?

[2021-09-07 22:23] salaxander commented on #2273
Hi @vinaykul! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [X] ~~Updated KEP file using the latest template has been merged into the k/enhancements repo.~~
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up

[2021-09-07 22:24] thockin commented on #1860
FTR: latest word (https://github.com/kubernetes/kubernetes/pull/96454#issuecomment-903566373) is:

@Sh4d1 is stepping away.

#101027 needs to be finished

#97681 needs to be rebased once the one above is merged

[2021-09-07 22:26] salaxander commented on #2365
Hi @hbagdi! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [X] ~~Updated KEP file using the latest template has been merged into the k/enhancements repo.~~
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to

[2021-09-07 22:32] salaxander commented on #2438
/stage beta

[2021-09-07 22:35] salaxander commented on #2438
Hi @danwinship! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to

[2021-09-07 22:40] salaxander commented on #2593
/milestone v1.23

[2021-09-07 22:40] salaxander commented on #2593
/stage alpha

[2021-09-07 22:43] salaxander commented on #2593
Hi @rahulkjoshi! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up t

[2021-09-07 22:44] bboreham commented on #1440
Is there another implementation?

[2021-09-07 22:48] salaxander commented on #2727
Hi @bowei! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to date

[2021-09-07 22:57] lauralorenz commented on #2268
Hi @xing-yang, got it!  I've updated the enhancement tracking sheet.

[2021-09-07 22:58] salaxander commented on #2839
/stage alpha

[2021-09-07 23:00] salaxander commented on #2839
Hi @mkimuram! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable`
- [ ] KEP has a test plan section filled out.
- [ ] KEP has up to date gradua

[2021-09-07 23:04] salaxander commented on #2133
/milestone v1.23

[2021-09-07 23:07] salaxander commented on #2133
Hi @andrewsykim! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up t

[2021-09-07 23:19] lauralorenz commented on #2589
Hi @trierra! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**.

It looks like the proposal was written using the [design proposal format](https://github.com/kubernetes/community/tree/master/contributors/design-proposals#readme), but as of release 1.14, they now must use the [KEP format](https://github.com/kubernetes/enhancements/

[2021-09-07 23:31] lauralorenz commented on #2915
Hi @neolit123! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. _(using latest template, not merged yet)_
- [ ] KEP status is marked as `implementable` _(filled out in PR, not merged)_
-

[2021-09-07 23:44] lauralorenz commented on #1790
Great, thank you @deads2k!

In that case, @gnufied as long as your PR is merged by enhancements freeze on **Thursday 09/09 by 23:59:59 PDT** you are on track!

[2021-09-08 00:32] mikebrow commented on #2535
@adisky @Priyankasaggu11929  I updated the KEP adding a description for the test plan and links.. and updated the KEP's alpha target from 1.22 to 1.23.

[2021-09-08 00:59] supriya-premkumar commented on #695
Hi @gnufied @mattsmithdatera 👋🏽 1.23 Enhancements shadow here. Just checking in as we are getting closer to the enhancements freeze deadline at 11:59 pm PST on Thursday 09/09.

Looks like we are all set for the enhancements freeze 🎉

[2021-09-08 01:43] supriya-premkumar commented on #1432
Hi @xing-yang 👋🏽 1.23 Enhancements shadow here. Just checking in here as we are approaching the enhancement freeze deadline at 23:59:59 PDT on Thursday, September 9th.

This enhancement is marked as `atRisk` due to missing latest-milestone. Please create a PR to update it.

For the enhancement to be included in the 1.23 milestone, it must meet the following criteria:
- [ ] kep.yaml latest mileston

[2021-09-08 01:45] neolit123 commented on #2505
/remove-lifecycle stale

[2021-09-08 01:45] neolit123 commented on #2500
/remove-lifecycle stale

[2021-09-08 01:56] supriya-premkumar commented on #1682
Hi @huffmanca 👋🏽 1.23 Enhancements shadow here. Just checking in as we are approaching the enhancement freeze deadline at 23:59:59 PDT on Thursday, September 9th.

This enhancement is marked as `atRisk`. Please create a PR to update the following.

For the enhancement to be included in the 1.23 milestone, it must meet the following criteria:

- [ ] Should have an approved [PRR](https://github.com/

[2021-09-08 02:55] KnVerey opened #2953 "Kustomize Plugin Graduation"
### Kustomize Plugin Graduation

- One-line enhancement description (can be used as a release note): Converge Kustomize's various alpha extension mechanisms into a single KRM-driven feature that has an enhanced story around plugin distribution, discovery and trust.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2953-kustomize-plugin-graduatio

[2021-09-08 05:02] Priyankasaggu11929 commented on #2535
Thank you so much for adding the changes, @mikebrow.

Just to confirm once:
- As you mentioned above, this enhancement is targeting at `stage: alpha`, so is it right to change the `stage: stable` to `stage: alpha` on this issue?
- I see the changes in the "Test Plan" section are updated.
- But the [commit changes for updating the KEP's alpha target & the latest-milestone](https://github.com/kubern

[2021-09-08 05:09] Priyankasaggu11929 commented on #2712
@mrunalp, thank you so much for the PR.

Could you please update this issue description as well with the latest `Enhancement target`. Would be really helpful to track the enhancement for the team. Thanks once again! :)

[2021-09-08 05:12] Priyankasaggu11929 commented on #1287
Looks all good now. Thanks so much for quickly making the changes, @vinaykul. :)

[2021-09-08 05:19] Priyankasaggu11929 commented on #2763
@vinayakankugoyal , thank you so much for providing more information on the current status of the enhancement.

As stated above, that this enhancement would not be able to the meet the requirements by the enhancements freeze time, would it be alright then if I remove the 1.23 release milestone for now?

And when you have more information in favor of marking it as `implementable`, you could raise a

[2021-09-08 05:46] Priyankasaggu11929 commented on #563
Hi @leblancd ! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Thursday 09/09**. Here's where this enhancement currently stands:

- [X] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [ ] KEP

[2021-09-08 14:13] johnbelamaric commented on #1333
No. I am not currently pursuing this as there doesn't seem to be real demand for it in the community.

[2021-09-08 14:33] neolit123 commented on #2915
@lauralorenz i have updated the PR to include the PRR file and pinged the slack channel (you are mentioned there).

[2021-09-08 14:52] mikebrow commented on #2535
Yes, it is right to change the stage to alpha.

Forgot to hit the save button on those changes :-) Fixed now. Cheers, Mike

[2021-09-08 14:54] haircommander commented on #2371
done!

updated the PR in https://github.com/kubernetes/enhancements/pull/2812

thank you for the reminder and for your work :)

[2021-09-08 14:54] Priyankasaggu11929 commented on #2535
Thanks for the changes @mikebrow :)

[2021-09-08 14:58] Priyankasaggu11929 commented on #2371
Thanks for the changes @haircommander. Once the PR is merged, we're all good for the enhancements freeze. :)

[2021-09-08 15:43] danwinship commented on #2438
@salaxander sorry, the initial description hadn't been updated in a while. This did not go alpha in 1.22 and thus is not scheduled to go beta in 1.23 (but should hopefully be alpha, and I think we are good there, because you don't need a completed PRR to go to alpha)

[2021-09-08 15:53] xing-yang commented on #1432
@supriya-premkumar I updated the latest-milestone in the KEP.  PTAL.  Thanks.

[2021-09-08 16:30] dobsonj commented on #1682
Hi @supriya-premkumar, the PR just merged: https://github.com/kubernetes/enhancements/pull/2918

[2021-09-08 16:32] salaxander commented on #1040
Ah thanks @wojtek-t! I'll update our tracking

[2021-09-08 16:37] salaxander commented on #2438
@danwinship sounds good! Then we're all good once the KEP updated merges

[2021-09-08 17:43] johnbelamaric commented on #563
Is there a PRR PR for this for stable? somehow I am not finding it?

[2021-09-08 17:44] johnbelamaric commented on #563
how #2860 merge without PRR?

[2021-09-08 17:48] supriya-premkumar commented on #1432
Hi @xing-yang, thank you!  is there an open PR for this [one](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1432-volume-health-monitor/kep.yaml#L23)?

[2021-09-08 17:52] ehashman commented on #2831
/sig node instrumentation

[2021-09-08 17:56] Priyankasaggu11929 commented on #2086
Hello @andrewsykim! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on Thursday 09/09. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [ ] KEP has up to date graduation criteria.
- [ ] KE

[2021-09-08 17:57] Priyankasaggu11929 commented on #2086
/milestone v1.23

[2021-09-08 18:11] kevindelgado commented on #1977
Hi @xing-yang

Ping! As a reminder your PR (#1995) needs to merge by **EOD PST tomorrow September 9th** to be included in the 1.23 Release. After that time you will need to request an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Lmk if you need anything,
Kevin

[2021-09-08 18:14] kevindelgado commented on #2400
Hi @ehashman

Ping! As a reminder your PR (#2858) needs to merge by **EOD PST tomorrow September 9th** to be included in the 1.23 Release. After that time you will need to request an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Lmk if you need anything,
Kevin

[2021-09-08 18:20] kevindelgado commented on #2804
Hi @ravisantoshgudimetla

Ping! As a reminder your PR (#2833) needs to merge by **EOD PST tomorrow September 9th** to be included in the 1.23 Release. After that time you will need to request an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Lmk if you need anything,
Kevin

[2021-09-08 18:25] ehashman commented on #2400
Hello @kevindelgado,

PRR is now approved and the "tentative" bit has been moved to GA. Awaiting final node approval.

[2021-09-08 18:30] kevindelgado commented on #2845
Hi @serathius

Ping! As a reminder your PR (#2912 ) needs to merge by **EOD PST tomorrow September 9th** to be included in the 1.23 Release. After that time you will need to request an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Lmk if you need anything,
Kevin

[2021-09-08 18:35] kevindelgado commented on #2876
Hi @cici37

Ping! As a reminder your PR (#2877) needs to merge by **EOD PST tomorrow September 9th** to be included in the 1.23 Release. After that time you will need to request an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Lmk if you need anything,
Kevin

[2021-09-08 18:36] johnbelamaric commented on #2438
If you want to hit 1.23 you need a PRR soon. Should be pretty simple.

[2021-09-08 18:36] soltysh commented on #1440
@bboreham I'm planning to review your PR and with your help and agreement push that over the hump in 1.23 :)

[2021-09-08 18:37] kevindelgado commented on #2885
Hi @kevindelgado

Ping! As a reminder your PR (#2886) needs to merge by **EOD PST tomorrow September 9th** to be included in the 1.23 Release. After that time you will need to request an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Lmk if you need anything,
Kevin

[2021-09-08 18:38] soltysh commented on #1847
/milestone v1.23

[2021-09-08 18:38] kevindelgado commented on #2896
Hi @Jefftree

Ping! As a reminder your PR (#2898) needs to merge by **EOD PST tomorrow September 9th** to be included in the 1.23 Release. After that time you will need to request an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Lmk if you need anything,
Kevin

[2021-09-08 18:46] bboreham commented on #1440
Ok, I should be able to devote some time to that.
Where should I look for the timeline for 1.23, for planning purposes?

[2021-09-08 18:49] supriya-premkumar commented on #1682
I will update the tracking sheet
For the enhancement to be included in the 1.23 milestone, it must meet the following criteria:

- [x] Should have an approved PRR
- [x] kep.yaml latest milestone need to reflect the release cycle i.e., latest-milestone: "v1.23"

Thank you @dobsonj. This Issue is all set for the enhancement freeze 🎉

[2021-09-08 18:53] soltysh commented on #1440
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.23#tldr has the dates, the most important one is November 16th - Code Freeze, so I hope that's sufficient amount of time to land your PR. Also thanks a lot :100:

[2021-09-08 19:07] thockin opened #2960 "Need clarification: KEP stages and transitions"
From slack (summarized):

Is the KEP freeze "you must have all KEP changes merged" or "You must have all intended-to-change KEPs in the sheet"?

For example: I have some KEPs which we WANT to move from Alpha->Beta or Beta->GA, but the code to do those things is not done yet and MIGHT slip.  I don't want to change KEP `stage` text until we know whether it is in or not, and that won't be until well

[2021-09-08 19:08] thockin commented on #2960
/sig release

[2021-09-08 19:48] salaxander commented on #1847
Hi @kk-src! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze at **11:59pm PST on Thursday 09/09**. Here's where this enhancement currently stands:

- [X] ~~Updated KEP file using the latest template has been merged into the k/enhancements repo.~~
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~~KEP has up to

[2021-09-08 19:52] johnbelamaric commented on #2438
/stage alpha

[2021-09-08 19:56] mattcary commented on #1847
Oops, missed that. https://github.com/kubernetes/enhancements/pull/2961 out for review.

[2021-09-08 20:03] justaugustus commented on #2960
cc: @kubernetes/sig-release @kubernetes/enhancements
/area enhancements

[2021-09-08 20:06] thockin commented on #563
Good question - what are the rules to trigger PRR?  Just the PRR files right?  Which ugh, was not included.

WE NEED TOOOOOOOOOLS

[2021-09-08 20:12] johnbelamaric commented on #563
If the stage changes, then it is supposed to validate whether a PRR approval exists for that stage. maybe it's broken?

[2021-09-08 20:13] johnbelamaric commented on #563
oh...status is wrong, it should be "implementable" until it's completely done. the CI probably only checks "implementable" KEPS for that validation

[2021-09-08 20:18] johnbelamaric commented on #2960
thanks Tim. Here's another one where the CI makes too many assumptions about the various fields being set correctly at the correct times:

https://github.com/kubernetes/enhancements/issues/563#issuecomment-915440884

We had intended to have `kepctl` manage this metadata in a consistent way, but that has stalled. We need a better solution in the interim.

[2021-09-08 20:21] thockin commented on #2960
If we can define the state-machine, we can code it up as CI.  "Error: can't transition directly from state FOO to state BAR".

[2021-09-08 20:55] nckturner commented on #2718
/remove-lifecycle rotten

[2021-09-08 21:09] lachie83 commented on #563
Thanks @johnbelamaric @thockin. Heads up that we see this and will update according and will reach out should we have any questions.

[2021-09-08 23:25] Jiawei0227 commented on #2589
A dedicated KEP for this is out for review: https://github.com/kubernetes/enhancements/pull/2963

[2021-09-08 23:26] Jiawei0227 commented on #2923
A dedicated KEP for this enhancement is out for review: https://github.com/kubernetes/enhancements/pull/2963

[2021-09-09 02:15] supriya-premkumar commented on #2590
Hi @ykakarap and @nikhita, 1.23 Enhancements Shadow here 👋🏽
Just following up as we are approaching the enhancements freeze deadline at 23:59:59 PDT on Thursday, September 9th.

With the latest merged PR( latest-milestone update), we are all set for the enhancements freeze 🎉
I will update the tracking sheet accordingly. Thank you!

[2021-09-09 02:19] krmayankk commented on #961
lol , almost but not quite there ;-)

[2021-09-09 02:30] supriya-premkumar commented on #2593
Hi @rahulkjoshi, 1.23 Enhancements Shadow here 👋🏽
This issue is currently marked as `atRisk` and I am following up as we are approaching the enhancements freeze deadline at  23:59:59 PDT on Thursday, September 9th.

Looks like the [merged KEP number](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2594-multiple-cluster-cidrs) doesn't match the enhancements issue #2593. It i

[2021-09-09 02:39] supriya-premkumar commented on #2727
Hi @bowei, 1.23 Enhancements Shadow here 👋🏽
This issue is currently marked as `atRisk`. I am following up on this one as we are approaching the enhancements freeze deadline at 23:59:59 PDT on Thursday, September 9th.

For this issue to be included in the 1.23 milestone, please update your `kep.yaml` to reflect the latest milestone.

Enhancements missing this deadline will require an [exception](ht

[2021-09-09 02:51] supriya-premkumar commented on #2802
Hi @ravisantoshgudimetla! 1.23 Enhancements shadow here👋🏽

Just following up as we are approaching the enhancements freeze on Thursday 09/09.

Here's where this enhancement currently stands:

- [x] KEP file using the latest template has been merged into the k/enhancements repo.
- [x] KEP status is marked as implementable
- [x] KEP has a test plan section filled out.
- [x] KEP has up to date gradut

[2021-09-09 02:57] supriya-premkumar commented on #2839
Hi @mkimuram, 1.23 Enhancements shadow here 👋🏽

Just following up as we are approaching the enhancements freeze at **11:59pm PST on Thursday 09/09**.

Please make sure to merge the PR before the freeze deadline to be included in 1.23 release. Enhancements missing this deadline will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md)

Thank you!

[2021-09-09 04:45] Priyankasaggu11929 commented on #563
Thanks @lachie83 for making the changes. The Enhancement is all good for the enhancements freeze now. :)

Thanks @johnbelamaric @thockin for pointing to the issue. It was a useful learning.

[2021-09-09 11:01] soltysh commented on #1441
/milestone v1.23

[2021-09-09 11:45] wojtek-t commented on #2960
Copying my comment from the slack channel:

[code]

Which means that the state machine I'm proposing is (well state-machine seems like a too big word for that, as transitions can go only between adjacent states):
[code]

In the ideal world how I would see that is:
- we have feature-freeze as it is now [for putting keps into "intended for X" state]
- the there is code-freeze [but PRs touching featu

[2021-09-09 13:02] Priyankasaggu11929 commented on #1441
Hi @soltysh @verb  ! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze  **Tonight, 09/09/2021 23:59 PT**. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation c

[2021-09-09 13:05] Priyankasaggu11929 commented on #2887
/milestone 1.23

[2021-09-09 13:06] Priyankasaggu11929 commented on #2887
/milestone v1.23

[2021-09-09 13:09] Priyankasaggu11929 commented on #2887
Hello @jiahuif! 1.23 Enhancements team here. Just checking in as we approach enhancements freeze on **Today 09/09/2021 23:59 PT**. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable
- [ ] KEP has a test plan section filled out.
- [ ] KEP has up to date graduation criteri

[2021-09-09 13:19] verb commented on #1441
Hi @Priyankasaggu11929, this feature already went to beta in 1.20 using the old template (#2007). #2834 updates to the new template, but it's not a graduation, so I think all that's left for 1.23 is to merge #2834. Please let me know if there's anything else. Thanks!

[2021-09-09 13:26] Priyankasaggu11929 commented on #2891
@damemi, thanks so much for the changes. With the KEP PR merged now, this enhancement is ready for v1.23 enhancements freeze.

Just one bit, if I understand correctly, the enhancement is graduating to `beta` this release. So, [this line in kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/2891-simplified-config/kep.yaml#L38) file might need updating from 1.24 to

[2021-09-09 13:29] ahg-g commented on #2926
@PriyankaH21 KEP merged.

[2021-09-09 13:31] Priyankasaggu11929 commented on #2926
Thank you so much, @ahg-g. With the KEP PR merged, this enhancement is ready for the 1.23 enhancements freeze. :)

[2021-09-09 13:35] Priyankasaggu11929 commented on #2712
Thanks so much for the changes, @mrunalp. With the KEP PR merged now, this enhancement is ready for the 1.23 enhancements freeze. :)

[2021-09-09 13:38] soltysh commented on #2804
@kevindelgado Ravid and I decide we're drop that from 1.23 milestone, can you remove it also from the tracking sheet as well?

/milestone clear

[2021-09-09 13:40] Priyankasaggu11929 commented on #2464
Thanks so much for the changes, @amwat. With the KEP PR merged, this enhancement is ready for 1.23 enhancements freeze. :)

[2021-09-09 14:03] Priyankasaggu11929 commented on #1864
Thanks so much @andrewsykim. With the KEP PR merged now, this enhancement is ready for the 1.23 enhancements freeze.

[2021-09-09 14:05] Priyankasaggu11929 commented on #1287
Thanks so much @vinaykul. With the KEP PR merged now, this enhancements is ready for the enhancements freeze. :)

[2021-09-09 14:46] Priyankasaggu11929 commented on #1441
@verb, thanks so much for the clarification above.

Yes, with that, the only thing left now is the PR to get merged.

[2021-09-09 17:38] rahulkjoshi commented on #2593
@supriya-premkumar @salaxander please take a look and let me know if this PR needs any other changes.

[2021-09-09 18:07] lauralorenz commented on #2589
Thanks everyone! Between comments here, comments on the new KEP PR, and the discussion in [Slack in #sig-release](https://kubernetes.slack.com/archives/C2C40FMNF/p1631117768128400), just confirming from my side that the new PR  #2964 meets the criteria for enhancements freeze (using latest KEP template, set as `implementable`, inherits its parent's filled out test plan section, inherits its parent

[2021-09-09 20:22] msau42 commented on #596
/remove-lifecycle rotten

[2021-09-09 20:31] vantuvt commented on #1753
1.24 is the earliest version we would target graduation if not 1.25.

[2021-09-09 20:31] cici37 commented on #2876
@kevindelgado PR has been merged. Updated the checkbox. Thanks^^

[2021-09-09 23:53] supriya-premkumar commented on #2593
Thank you @rahulkjoshi. Looks like this enhancement is all set for the freeze party 🎉
I will update the tracking sheet.

[2021-09-10 00:00] jiahuif commented on #2887
@Priyankasaggu11929 #2888 merged, should be good to go.

[2021-09-10 00:07] lauralorenz commented on #2639
Hi @mkimuram! 1.23 Enhancements team here again. Just doing my rounds and I saw in https://github.com/kubernetes/enhancements/pull/2640#issuecomment-916308052 that this is expected to slip the deadline for 1.23 enhancements freeze tonight. If that's true when you have a chance to confirm/remove from milestone/update the enhancements issue OP with the new targets, that would be great! Thanks!

[2021-09-10 01:32] Priyankasaggu11929 commented on #2887
Thank you so much @jiahuif. With the KEP PR merged, this enhancement is ready for the 1.23 enhancements freeze.

[2021-09-10 01:35] Priyankasaggu11929 commented on #2763
@vinayakankugoyal, Thanks for the confirmation. I'll remove the 1.23 release milestone.

[2021-09-10 01:44] Priyankasaggu11929 commented on #2535
Hello @mikebrow, just checking in as we approach 1.23 enhancements freeze tonight  (**09/09/2021, 23:59 PDT**). Looks like the PR https://github.com/kubernetes/enhancements/pull/1608 has got both `lgtm`, & `approve` label. But there's an hold on the merge.

![Screenshot from 2021-09-10 07-09-21](https://user-images.githubusercontent.com/30499743/132785182-77582f9c-699f-4327-b9ec-869bdcbf9188.png)

[2021-09-10 01:49] Priyankasaggu11929 commented on #1441
Thank you so much, @verb. With the PR #2834 merged, the enhancement is ready for the 1.23 enhancements freeze tonight.

[2021-09-10 01:59] Priyankasaggu11929 commented on #1959
Hello @andrewsykim, just checking in once again as we approach the 1.23 enhancements freeze tonight (**09/09/2021 23:59 PT**).

The KEP PR #2936 was merged. Although the KEP graduation criteria for GA is not yet updated. With this bit finished, the PR will be ready for the enhancements freeze tonight.

Thank you!

[2021-09-10 03:54] supriya-premkumar commented on #1432
Thank you @xing-yang! This enhancement is all set for the freeze party 🎉
I will update the tracking sheet.

[2021-09-10 03:59] supriya-premkumar commented on #2727
Thank you @SergeyKanzhelev! This enhancement is all set for the freeze deadline 🎉
Updating the tracking sheet as well.

[2021-09-10 07:05] salaxander commented on #1669
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:06] salaxander commented on #1672
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:08] salaxander commented on #1959
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:09] salaxander commented on #1977
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:10] salaxander commented on #2086
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:13] salaxander commented on #2438
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:16] salaxander commented on #2589
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:17] salaxander commented on #2639
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:18] salaxander commented on #2839
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:18] salaxander commented on #2923
Hi, 1.23 Enhancements Lead here 👋. With enhancements freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for enhancements freeze is:
* KEP is merged into k/enhancements repo with **up to date** latest milestone and stage.
* KEP status is marked as `implementable`.
* KEP has a test plan section filled o

[2021-09-10 07:28] Priyankasaggu11929 commented on #2535
Just an update, the `don-not-merge/hold` label was removed manually since all the requirements were met.

The KEP is now tracked for the kubernetes 1.23 release. Thank you so much @mikebrow.

[2021-09-10 09:08] fabriziopandini commented on #2502
/remove-lifecycle stale

@neolit123 WDYT about graduating this feature?

GA criteria are already met:
- To create a periodic E2E tests for HA clusters creation
- To create a periodic E2E tests to ensure upgradability of HA clusters
- To document the kubeadm support for HA in kubernetes.io

[2021-09-10 09:21] neolit123 commented on #2502
a formal graduation to GA in 1.23 makes sense.

[2021-09-10 09:57] knight42 commented on #1441
@verb Hi, I am willing to work on the debug profile feature, are you already working on it?

[2021-09-10 10:01] adampl commented on #1435
Why care if some cloud providers implement it or not? It's their responsibility to catch up with the API changes. If they don't care, they're free to offer an older K8s version which doesn't have this "problem".

[2021-09-10 10:13] jsafrane commented on #1487
/remove-lifecycle stale

[2021-09-10 10:31] jsafrane commented on #1489
/remove-lifecycle stale

[2021-09-10 10:48] aojea commented on #1435
it's not about cloud providers, it is about users, so you don't have an API that may work or not.
The user expects to set that field and work ...

[2021-09-10 10:56] verb commented on #1441
Hi @knight42 I planned to focus on ephemeral containers beta first and then debug profiles. Happy for you to contribute it, though. Please open an issue in https://github.com/kubernetes/kubectl/issues where we can discuss the details. I'd like to see an initial implementation for 1.23.

[2021-09-10 14:55] damemi commented on #2358
/remove-lifecycle rotten

[2021-09-10 17:02] spiffxp commented on #2276
/remove-help
/assign
Opened https://github.com/kubernetes/test-infra/pull/23546

[2021-09-10 17:03] spiffxp commented on #2539
/kind kep

[2021-09-10 17:04] spiffxp commented on #2464
/kind kep

[2021-09-10 17:04] spiffxp commented on #2420
/kind kep

[2021-09-10 19:11] spiffxp commented on #2276
/close
All done!

[2021-09-10 19:11] #2276 closed

[2021-09-12 09:19] #964 closed

[2021-09-12 18:17] pohly commented on #2263
/reopen

/remove-lifecycle rotten

[2021-09-12 18:17] pohly commented on #2263
/remove-lifecycle stale

[2021-09-13 11:31] rtheis commented on #671
/remove-lifecycle stale

[2021-09-14 11:52] pacoxu commented on #2505
Any plan for this feature

[2021-09-14 12:02] neolit123 commented on #2505
We haven't dropped the idea. It would support useful features like cluster
wide upgrades and cert rotations.

Similarly to other area of kubeadm. Someone has to have the time to work on
it.

If someone starts work on it again i would like for us to discuss trimming
down the heavy boilerplate that kube builder adds.

[2021-09-14 15:48] fromanirh commented on #2625
Graduating CPU Manager Policy Options 1.23 Beta :

     * [ ]   Beta

       * [x]   KEP (`k/enhancements`) update PR(s): [KEP-2625: Update CPU Manager Policy Options 1.23 Beta #2933](https://github.com/kubernetes/enhancements/pull/2933)
       * [X]   Code (`k/k`) update PR(s):  [node: graduate CPUManagerPolicyOptions to beta #105012 ](https://github.com/kubernetes/kubernetes/pull/105012)

[2021-09-14 22:38] benhxy commented on #2510
/remove-lifecycle rotten

[2021-09-15 03:36] humblec commented on #2923
@Jiawei0227 @msau42 as discussed, just wanted to check an exception has been filed already for this ?

[2021-09-15 08:37] neolit123 commented on #1381
/remove-lifecycle rotten

[2021-09-15 08:46] sftim commented on #2095
https://github.com/kubernetes/contributor-site/pull/222 is still in progress

It would be great to rally some help to get this over the line.
/remove-lifecycle stale

[2021-09-15 10:05] fabriziopandini commented on #2505
I have a prototype and many ideas around this and the kubeadm, library...

[2021-09-15 12:38] xing-yang commented on #2923
Hi @humblec, we'll submit an exception for this soon.
CC @Jiawei0227

[2021-09-15 12:48] jdoylei commented on #2579
@tallclair, thanks for the comments above.  So if a Kubernetes user wished to enforce a control similar to the optional "Non-root groups" going forwards, it would be up to them to supply their own admission controller that does it, separate from the built-in Pod Security admission controller, is that right?  You mentioned the possibility of it becoming a non-optional requirement in the future - is

[2021-09-15 12:50] xing-yang commented on #2589
Thanks @salaxander!  We'll be filing an exception soon.
CC @Jiawei0227 @msau42

[2021-09-15 16:22] jayunit100 commented on #2578
/reopen

[2021-09-15 16:23] jayunit100 commented on #2578
#2974

[2021-09-15 16:23] jayunit100 commented on #2578
https://github.com/kubernetes/enhancements/issues/2578

[2021-09-15 16:23] jayunit100 commented on #2578
https://github.com/kubernetes/enhancements/pull/2975

[2021-09-15 23:05] knabben commented on #2578
/remove-lifecycle rotten

[2021-09-16 10:37] jsafrane commented on #284
/remove-lifecycle rotten

[2021-09-17 13:50] jlbutler commented on #2273
@vinaykul @ehashman 1.23 Docs team here :wave:

This enhancement issue is listed as 'None required' for docs in the tracking sheet. Will docs related to these API changes be covered by docs PR(s) related to #1287 ? Just making sure we're tracking the right things. Thanks!

[2021-09-17 13:56] jlbutler commented on #2040
Hi @mrunalp :wave:   1.23 Docs lead here. This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novembe

[2021-09-17 14:06] jlbutler commented on #277
Hi @verb!  1.23 Docs team here.

This enhancement issue is listed as 'None required' for docs in the tracking sheet. Though docs are complete, I believe we need a small PR to update the feature gate to 'beta'. If I'm mistaken, let me know!

Otherwise, please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to op

[2021-09-17 14:14] jlbutler commented on #1287
Hi @vinaykul  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novemb

[2021-09-17 14:23] jlbutler commented on #2133
Hi @andrewsykim 1.23 Docs lead here 👋

This enhancement issue is listed as 'None required' for docs in the tracking sheet. Though docs are complete, I believe we need a small PR to update the feature gate. If I'm mistaken, let me know!

Otherwise, please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a

[2021-09-17 15:17] jlbutler commented on #2371
Hi @haircommander  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu N

[2021-09-17 16:25] jlbutler commented on #2400
Hi @ehasman :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu November 18, 11:59 PM PDT.

Thanks!

[2021-09-17 17:19] vinaykul commented on #2273
Yes. This KEP was created mainly to have a separate discussion track with a different focus group of people and avoid churn on 1287. 1278 depends on this and doc updates to 1287 will cover this.

[2021-09-17 17:57] jlbutler commented on #2403
Hi @swatisehgal @fromanirh :wave: 1.23 Docs lead here

This enhancement issue is listed as "Needs Docs" for the 1.23 release. I see a docs PR is open ([k/website 28074](https://github.com/kubernetes/website/pull/28074)), can you point it at the dev-1.23 branch in k/website please?

For more info, please refer to the steps [in the documentation](https://kubernetes.io/docs/contribute/new-content/new

[2021-09-17 18:20] jlbutler commented on #2535
Hi @mikebrow  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novemb

[2021-09-17 18:25] jlbutler commented on #2712
Hi @mrunalp  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novembe

[2021-09-17 18:32] jlbutler commented on #2727
Hi @bowei @SergeyKanzhelev  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created bef

[2021-09-17 19:29] jlbutler commented on #2902
Hi @klueska  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novembe

[2021-09-17 20:38] SergeyKanzhelev commented on #2727
Created docs placeholder: https://github.com/kubernetes/website/pull/29740

[2021-09-17 22:45] nate-double-u commented on #1864
Hi @andrewsykim :wave: 1.23 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before

[2021-09-17 22:53] nate-double-u commented on #2365
Hi @hbagdi :wave: 1.23 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thu

[2021-09-17 22:54] nate-double-u commented on #785
Hi @alculquicondor :wave: 1.23 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created befo

[2021-09-17 22:58] nate-double-u commented on #2891
Hi @damemi :wave: 1.23 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thu

[2021-09-17 23:00] nate-double-u commented on #2926
Hi @ahg-g :wave: 1.23 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thu

[2021-09-18 10:32] mehabhalodiya commented on #2896
Hi @Jefftree :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novem

[2021-09-18 10:39] mehabhalodiya commented on #2887
Hi @jiahuif :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novemb

[2021-09-18 10:42] mehabhalodiya commented on #2885
Hi @kevindelgado :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu N

[2021-09-18 10:45] mehabhalodiya commented on #2876
Hi @jpbetz :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novembe

[2021-09-18 10:46] mehabhalodiya commented on #2845
Hi @serathius :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Nove

[2021-09-18 10:48] mehabhalodiya commented on #2802
Hi @ravisantoshgudimetla :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created befo

[2021-09-18 10:52] mehabhalodiya commented on #2258
Hi @aravindhp  :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Nov

[2021-09-18 10:58] mehabhalodiya commented on #1981
Hi @ambguo @marosset  :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before

[2021-09-20 02:57] ramrodo commented on #695
Hi @gnufied @mattsmithdatera 👋🏼 1.23 Docs Shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `d

[2021-09-20 03:14] ramrodo commented on #1432
Hi @xing-yang :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` br

[2021-09-20 03:27] ramrodo commented on #1495
Hi @bswartz :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` bran

[2021-09-20 03:32] ramrodo commented on #1682
Hi @dobsonj @huffmanca :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev

[2021-09-20 03:37] ramrodo commented on #1698
Hi @pohly :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` branch

[2021-09-20 03:41] ramrodo commented on #1790
Hi @gnufied  :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` bra

[2021-09-20 03:43] ramrodo commented on #2317
Hi @gnufied @verult :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.

[2021-09-20 03:45] ramrodo commented on #2644
Hi @xing-yang, @deepakkinni :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the

[2021-09-20 09:31] swatisehgal commented on #2403
Thanks @jlbutler, I have created a docs PR that points to  dev-1.23 branch in k/website here: https://github.com/kubernetes/website/pull/29751. Let me know if there is anything else you need from my end.

[2021-09-20 12:58] alculquicondor commented on #785
/assign @damemi

[2021-09-20 13:00] alculquicondor commented on #785
/assign @ravisantoshgudimetla
for the weight changes

[2021-09-20 15:22] CyberSec77 opened #2980 "Update the error message "Internal Server Error" to something more appropriate like "Service Unavailable"."
### Enhancement Description

Enhancement is to give the error message "Internal Server Error" an update to something more appropriate like "Service Unavailable" to improve the error message when things like pods or nodes are getting deleted when the autoscaler is on and then gives a "Internal Server Error" from the K8s API.  The error happens when an downscale event occurs after users use the kube

[2021-09-20 16:13] ritazh commented on #1314
Next step: Need to confirm if there is a KEP contains Label restrictions on mirror pods and remove it or move it to "withdraw"

[2021-09-20 16:30] CyberSec77 commented on #2980
Sig label has been put on this issue.

[2021-09-20 22:06] spiffxp commented on #2420
Blocked on 1.19 turndown

[2021-09-20 22:23] spiffxp commented on #2464
Checklist for beta:
- [ ] a guide for migration from kubetest to kubetest2 exists
- [ ] gce jobs have moved to kubetest2 (release-blocking, merge-blocking)
  - [ ] ci-kubernetes-e2e-gce-device-plugin-gpu
  - [ ] ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew
  - [ ] ci-kubernetes-e2e-gci-gce
  - [ ] ci-kubernetes-e2e-gci-gce-alpha-features
  - [ ] ci-kubernetes-e2e-gci-gce-ingress
  - [ ] ci-ku

[2021-09-21 07:48] ball-hayden commented on #2980
/sig autoscaling

[2021-09-21 15:11] jeremyrickard commented on #1424
@palnabarun any updates that you can share for this?

[2021-09-21 18:00] spiffxp commented on #2420
Could also remove code that detects no re-introduction of bazel build files

Do we need to maintain greenhouse at the same high instance setting?  Or could we scale it down a bit?

[2021-09-21 18:39] ehashman opened #2983 "Consider using automated linting to ensure KEPs match the latest template"
I noticed OpenShift uses this script to enforce certain headings being present: [./hack/template-lint.sh](https://github.com/openshift/enhancements/blob/4412b51182ba6e007f1308a73e290e81fd66d092/hack/template-lint.sh)

Right now as a PRR reviewer I have to manually check if things match the latest template. This could be handy.

/sig architecture
/area enhancements

[2021-09-22 04:21] mengqiy opened #2985 "Public KRM functions registry"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Creation of a public KRM functions registry.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2985-public-krm-functions-registry

- Primary contact (assignee): @mengqiy
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which m

[2021-09-22 06:20] bbkgh commented on #1435
Can we have this feature as Beta in 1.23?

[2021-09-22 06:26] bbkgh commented on #277
Hi. Can we have this feature as Beta in 1.23?

[2021-09-22 06:31] MadhavJivrajani commented on #277
Yes, it's targetted for beta in 1.23 :)

[2021-09-22 13:44] spiffxp commented on #2420
/priority important-longterm

[2021-09-22 15:38] jlbutler commented on #592
Hi @ahg-g  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu November

[2021-09-22 15:43] jlbutler commented on #19
Hi @soltysh! 1.23 Docs team here.

This enhancement issue is listed as 'None required' for docs in the tracking sheet. I wanted to confirm we don't have any changes related to this (feature gate docs, deprecation/removal notes, etc)?

If not, please confirm and all good on our end. Otherwise, please follow the steps detailed in the documentation to open a PR against the dev-1.23 branch in the k/we

[2021-09-22 15:55] jlbutler commented on #961
Hi @krmayankk :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novemb

[2021-09-22 16:46] jlbutler commented on #1440
Hi @soltysh and @bboreham  :wave: 1.23 Docs lead here.

This enhancement is marked as 'None Required' on docs for the 1.23 release. I have updated to 'Needs Docs', and we can track (unless I'm mistaken?).

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/w

[2021-09-22 16:50] jlbutler commented on #1441
Hi @soltysh and @verb  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before T

[2021-09-22 16:56] jlbutler commented on #1847
Hi @mattcary  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novemb

[2021-09-22 17:10] jlbutler commented on #2307
Hi @alculquicondor  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu

[2021-09-22 17:20] mehabhalodiya commented on #1040
Hi @yue9944882 1.23 Docs Shadow here :wave:

This enhancement issue is listed as 'None required' for docs in the tracking sheet. Though docs are complete, I believe we need a small PR to update the feature gate. If I'm mistaken, let me know!

Otherwise, please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to

[2021-09-22 17:41] kikisdeliveryservice commented on #2983
Will discuss with Enhancements Subproject, I know we had some ideas about this and where it fits into the KEP plans.

[2021-09-22 17:42] kikisdeliveryservice commented on #2983
Assigning to myself for now to followup with team.

/assign

[2021-09-22 17:49] jlbutler commented on #2579
Hi @tallclair  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu Novem

[2021-09-22 18:05] kikisdeliveryservice commented on #2960
Q: this is a speculative issue? Because when I was on the release team, the team did go through the KEPs post code freeze to ensure all PRs intended to merge did merge and if not asked the authors to update the KEPs.

While I think there is more granular control we could have on the KEPs, I worry that the reality is that forcing people to update KEPs multiple times within a release post freeze wou

[2021-09-22 18:10] kikisdeliveryservice commented on #2960
As a final note "implemented" is generally used for KEPs that are completely finished post-GA. I think the goal _should_ be that at the end point of the release only the verifiably "finished" KEPs (for their stage) have the release and graduation in their kepy.yaml. IMO we should be _removing_/updating inaccurate KEPs as opposed to adding a hurdle for accurate KEPs.

I'd like to give this a bit mo

[2021-09-22 18:18] ehashman opened #2988 "Consider simplifying KEP metadata and process"
Right now, the enhancements process is extremely complicated for newcomers to the project to fill out and walk through. Even for experienced contributors, there are so many fields that often people miss filling out the correct ones.

For example, as a SIG Lead and KEP approver, I only use the following information from [`kep.yaml`](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-k

[2021-09-22 18:44] kikisdeliveryservice commented on #2988
Hey Elana,

Thanks for the issue. 😄 Agree about streamlining and that's something we'd like to achieve.

To focus on one of your roles, Q: as a PRR reviewer who has done this a few releases now - do you find the PRR being in a separate dir useful? I'm unsure as to [why it landed in it's own dir](https://github.com/kubernetes/enhancements/commit/171f02c58ce1ee4990dd75f6a44432a0def774d4) but that se

[2021-09-22 18:50] wojtek-t commented on #1040
We don't - we don't graduate and we don't add any feature gate.

[2021-09-22 19:19] jlbutler commented on #2599
Hi @ravisantoshgudimetla  :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created befor

[2021-09-22 19:22] jlbutler commented on #2702
Hi @supriya-premkumar  :wave: 1.23 Docs release lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created

[2021-09-22 19:25] jlbutler commented on #2879
Hi @alculquicondor :wave: 1.23 Docs lead here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu N

[2021-09-22 20:33] spiffxp commented on #2988
FWIW it landed there because that's the only way we have today to enforce via automation that only certain people can approve that specific "field" of a given KEP

[2021-09-22 20:58] jlbutler commented on #2590
Hi @ykakarap and @nikhita.  :wave: 1.23 Docs release lead here.

This enhancement issue is listed as 'None required' for docs in the tracking sheet. I have moved it over to 'Needs Docs', please correct me if I'm mistaken.

Otherwise, please follow the steps detailed in the documentation to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time a

[2021-09-22 21:01] ramrodo commented on #2699
Hi @cheftako :wave: 1.23 Docs shadow here.

This enhancement issue is listed as **[None required](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for docs in the tracking sheet. I believe we need a PR to have documentation for this enhancement in `k/website` repo. If I'm mistaken, let me know!

Otherwise, please follow the steps [detailed i

[2021-09-22 21:16] ramrodo commented on #2915
Hi @neolit123  :wave: 1.23 Docs shadow here.

This enhancement issue is listed as **[None required](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for docs in the tracking sheet. I noticed you mention that this enhancement does not require docs since it is ALPHA, but they require it. If this is an exception, let me know.

Otherwise, please

[2021-09-22 21:19] ramrodo commented on #2923
Hi @humblec :wave: 1.23 Docs shadow here.

This enhancement is marked as **[Needs Docs](https://docs.google.com/spreadsheets/d/1P1J1QpayRmh2SNjs8T-wBCb6SgEOdWTRQ7MBol7yibk/edit#gid=813297075)** for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` bran

[2021-09-22 21:22] neolit123 commented on #2915
@ramrodo hi, docs are indeed not required for the alpha here.

[2021-09-22 21:23] ramrodo commented on #2589
Hi @trierra :wave: 1.23 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.23 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.23` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thu

[2021-09-22 22:39] ehashman commented on #2988
What @spiffxp said.

We could simplify how that file gets there, however. Maybe we can have the PRR reviewer live closer to the KEP and have a linter ensure that a file gets generated in the right place for PRR to happen, rather than making people responsible for manually creating it.

[2021-09-23 10:56] wojtek-t commented on #2960
This isn't a speculative question - this is a real thing that happened.
There are multiple aspects of this:
- you were going through PRs that linked the enhancement issue, right? There is no guarantee that all indeed were linked
- you were looking into PRs that were expected; the issue that I've found was also the opposite - things that shouldn't merge were merged - see https://github.com/kubernet

[2021-09-23 15:03] spiffxp commented on #2960
FWIW, the logic itself is pretty easy to change, the tangly bits are in the data, since it's been mostly hand edited YAML that has historically not been validated against much.

So for example, if we decide to change `required = ! (stage != implementable )` to `required = stage == implementable || stage == implemented` then we need to update... \*checks notes\* about 71 KEPs to have a PRR file.

W

[2021-09-23 15:54] bswartz commented on #1495
https://github.com/kubernetes/website/pull/29789

[2021-09-23 17:27] gnufied commented on #531
/remove-lifecycle rotten

[2021-09-23 22:40] BenTheElder commented on #2420
n.b.: https://github.com/kubernetes/enhancements/issues/2420#issuecomment-924227355 is a note from the bi-weekly SIG testing meeting, so I agree with my own comment ;-)

just waiting for 1.19 turndown from SIG release

[2021-09-24 02:44] pacoxu commented on #1029
/remove-lifecycle rotten

[2021-09-24 16:56] catblade commented on #2044
@swatisehgal  what can we do to help on this?  target was 1.21?

[2021-09-24 23:23] lachie83 commented on #563
Code changes - https://github.com/kubernetes/kubernetes/pull/104691

[2021-09-25 21:57] #2155 closed

[2021-09-27 10:27] sftim commented on #1440
For graduation to beta, we should strongly consider updating at least:
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application-introspection/
https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/
https://kubernetes.io/docs/concepts/architecture/garbage-collection/

[2021-09-28 07:55] pacoxu commented on #281
Is there an alternative proposed for DynamicKubeletConfig?
My colleague is working on multi-clusters, and he wants to align the kubelet config in cluster view.
- Without this feature, he has to exec `kubelet restart` on worker nodes.
- With this feature, it can be done by just distributing `config yaml file`.

[2021-09-28 10:26] kerthcet commented on #2901
[Remove v1beta1](https://github.com/kubernetes/kubernetes/pull/104782) pending for review.

[2021-09-28 16:17] SergeyKanzhelev commented on #281
There is no built-in alternative that will do a similar thing. kubelet needs to be restarted to pick up the new configuration. And file distribution needs to be implemented in some hosting-specific way.

[2021-09-28 16:46] kwiesmueller commented on #2885
/wg api-expression

[2021-09-28 19:19] bertinatto opened #2994 "Protect volumes from being leaked in in CSI external-provisioner"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Prevent leaking volumes when restarting external-provisioner and deleting PVC
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3006
- Discussion Link: https://www.youtube.com/watch?v=iSdFDayF9u8&list=PLb1_clREIGYW50AFvQEDpX5rQWRdMb2xs&index=4
- Primary contact (assign

[2021-09-28 19:21] bertinatto commented on #2994
/sig storage

[2021-09-28 23:29] apelisse commented on #2155
I guess we should keep this closed, but the milestone doesn't really reflect the situation. Not sure I'm willing to care for that.

[2021-09-29 01:46] pacoxu commented on #281
My current thoughts about the pros and cons of this feature:

- pros:
- 1. auto-reload feature and dynamic ability.
- cons:
- 1. A wrong configuration may cause kubelet crash.
- 2. No enough user cases
- 3. No predictable result for `systemctl restart kubelet`.(There may be risks).

In short, cons are more than pros.

[2021-09-29 07:40] waldo2188 commented on #281
I wonder how to unconfigure a cluster that have been configured with this feature ?

I’ve removed the configmap and the parameter spec.configSource.configMap from the node configuration.
I’ve restarted kubelet service (more than once), but in the node configuration they are still traces of all the old configurations in the status part.

[code]

So how can we clean this up?

[2021-09-29 14:01] jpbetz commented on #2155
There are some comments clarifying (for anyone that bothers to read down to them). I'm okay with leaving this as-is..

[2021-09-30 14:57] pohly commented on #1753
I'd like to point out one limitation of the current proposal: it assumes that all log calls will be made through the global klog instance. Where we want to go long-term is that code in, say, client-go, doesn't depend on klog and instead does all logging through `go-logr/logr.Logger` instance.

The KEP needs to address how that will work by describing how the current mangling of objects can be done

[2021-09-30 15:01] pohly commented on #1753
One idea that I had is to auto-generate [`MarshalLog` functions](https://github.com/go-logr/logr/blob/bd1d5c4cba5a457d430b8a80dc64a8e6c1809c87/logr.go#L481-L497) similar to how `CopyObject` is currently getting generated. That `MarshalLog` then can drop fields which shouldn't be logged. Such a solution would not need changes in loggers.

But that addresses only a subset of the cases in the KEP. Th

[2021-09-30 15:34] michaelgugino commented on #1403
/remove-lifecycle rotten

[2021-09-30 15:48] alculquicondor commented on #1258
/reopen

I'm gonna graduate this feature to GA in 1.24

[2021-09-30 16:04] michaelgugino opened #2997 "Implement PDB lock"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Implement PDB lock
- Kubernetes Enhancement Proposal:
- Discussion Link: https://groups.google.com/g/kubernetes-sig-apps/c/_joO4swogKY/m/2gqwaHKeAgAJ
- Primary contact (assignee):
- Responsible SIGs: apps
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  -

[2021-09-30 16:05] michaelgugino commented on #2997
/sig apps

[2021-09-30 20:58] verb commented on #277
Hi @jlbutler, I agree. I've opened placeholder kubernetes/website#29871 for the website update. Thanks!

[2021-09-30 23:11] JamesLaverack commented on #555
@salaxander @apelisse Can we close this issue? We're all done here right after 1.22? :D

[2021-09-30 23:20] apelisse commented on #555
Yep, sounds good!

[2021-09-30 23:20] #555 closed

[2021-09-30 23:20] apelisse commented on #555
3.5 years later ;-)

[2021-10-01 00:51] verult commented on #2317
/assign

[2021-10-01 15:57] verb commented on #1441
@jlbutler Ack. Placeholder PR is kubernetes/website#29876. Thanks!

[2021-10-01 16:31] bboreham commented on #1440
I could really use some feedback on the code.  Are you waiting on me for anything before doing that?

[2021-10-02 04:07] #993 closed

[2021-10-03 01:47] kerthcet commented on #2901
[remove scheduler policy config](https://github.com/kubernetes/kubernetes/pull/105424) is in draft now.

[2021-10-03 17:25] Huang-Wei commented on #2901
@kerthcet just a heads-up: when you work on "remove ServiceAffinity plugin", please also remove the event registration logic here:

https://github.com/kubernetes/kubernetes/blob/0ac956ff2bef9c84b17d4b9cae2cffe71d5c6386/pkg/scheduler/eventhandlers.go#L417-L423

[2021-10-04 00:00] kerthcet commented on #2901
gotcha

[2021-10-04 07:15] aojea opened #2999 "Host Network Pods IPs"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Allow host network pods to update the reported PodIP
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3000
- Discussion Link: https://github.com/kubernetes/kubernetes/pull/93898
- Primary contact (assignee): @aojea , @khenidak
- Responsible SIGs: sig-network
- Enhancem

[2021-10-04 07:15] aojea commented on #2999
/sig network
/assign @aojea @khenidak

[2021-10-04 20:30] #2690 closed

[2021-10-04 20:35] neolit123 commented on #995
/remove-lifecycle stale

[2021-10-04 21:14] benhxy commented on #2510
Discussed with my team. This feature is not seeing much demand. The token injection point between aggregate layer and custom API server is also unclear. Closing this KEP.

[2021-10-04 21:14] #2510 closed

[2021-10-05 07:40] wojtek-t commented on #1164
/remove-lifecycle stale

[2021-10-05 14:53] chrisnegus commented on #1440
/assign
I'm working with the Kubernetes 1.23 release docs team and was assigned to watch over the docs for this issue.

[2021-10-08 15:31] spiffxp commented on #2960
FWIW, the following KEPs lack a `latest-milestone` field, which is the blocker to switching the PRR check to trigger on `stage == Implemented`:
- [ ] keps/provider-aws/2313-aws-k8s-tester/kep.yaml
- [ ] keps/provider-aws/2314-custom-endpoints-support-for-aws-cloud-provider/kep.yaml
- [ ] keps/provider-aws/2315-aws-loadbalancer-prefix/kep.yaml
- [ ] keps/provider-aws/629-alb-ingress-controller/kep.

[2021-10-08 15:51] spiffxp commented on #2960
https://github.com/kubernetes/enhancements/pull/2672 opted to mark everything as implementable and give a dummy "0.0" milestone, we could also add that milestone to everything currently marked as implemented...

[2021-10-10 18:27] Huang-Wei commented on #2901
@kerthcet commented on the PR. We should get rid of the ServicePlugin only.

[2021-10-10 20:59] andypost commented on #2033
What's left here? only Docker?

[2021-10-11 03:54] AkihiroSuda commented on #2033
Dockershim has been already deprecated, so I'm not going to work on dockershim for rootless. (Docker itself has been supporting rootless for nearly 3 years, though)

containerd and CRI-O already supports rootless CRI: https://kubernetes.io/docs/tasks/administer-cluster/kubelet-in-userns/#configuring-cri

[2021-10-11 06:40] marquiz opened #3008 "QoS-class resources"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add QoS-class resources to Kubernetes
- Kubernetes Enhancement Proposal: #3004
- Discussion Link:  https://groups.google.com/g/kubernetes-sig-node/c/UoxYzZ7gCbg
- Primary contact (assignee): @marquiz
- Responsible SIGs: SIG-Node
- Enhancement target (which target equals to which milestone):
  - Alpha r

[2021-10-11 11:32] liggitt commented on #2853
What's the downstream impact of tools and processes and developers using the master branch? Will GitHub redirect those automatically or will they all need to be modified?

[2021-10-11 12:21] cpanato commented on #2853
ci/sync flows on our side we will make the changes and we can monitor issues

for downstream consumers will be more tricky, we will communicate the change but not sure how to deal with that

in the GitHub UI when you access the fork GH notifies the branch changed in the upstream, so users can notice that

[2021-10-11 15:07] tam7t commented on #2907
@kikisdeliveryservice The proposal does not actually modify Kubernetes and we are targeting this as an independently installed add-on and the alpha and beta milestones are included for retroactive documentation. I think that inclusion into K8s itself I think would require a separate proposal where K8s versions would indeed be targeted. Does that make sense? Thanks for the feedback!

[2021-10-11 16:33] chrisnegus commented on #592
Hi @sahilvv  👋 1.23 Docs shadow here.

Just want to verify that there are two docs PRs to track for this KEP in 1.23:

https://github.com/kubernetes/website/pull/29987
https://github.com/kubernetes/website/pull/30031

[2021-10-12 04:35] wzshiming commented on #2681
/remove-lifecycle rotten

[2021-10-12 21:19] ehashman commented on #2040
PR for beta: https://github.com/kubernetes/kubernetes/pull/104575

[2021-10-13 12:58] tomkerkhove commented on #383
/remove-lifecycle stale

[2021-10-15 13:22] silenceper commented on #1029
@pacoxu
Is there a plan to enforce restrictions through project quota? I think this is mainly used for resource monitoring. When the quota is exceeded, the pod will be expelled.

[2021-10-15 18:58] jlbutler commented on #2133
I see a [PR](https://github.com/kubernetes/enhancements/pull/2443
) that brought that feature gate in, but no corresponding issue (where we track typically).

@andrewsykim can you get a placeholder for this open soon, please? We can pick up discussion on content there.

[2021-10-17 19:24] neolit123 commented on #357
/remove-lifecycle stale

[2021-10-18 09:34] fabriziopandini commented on #2495
@vincepri I guess we should update/close this now...

[2021-10-18 09:34] fabriziopandini commented on #2495
/remove-lifecycle stale

[2021-10-19 18:19] tallclair commented on #5
/remove-lifecycle stale

[2021-10-19 18:19] tallclair commented on #5
/lifecycle frozen

[2021-10-19 21:11] #423 closed

[2021-10-20 15:14] shay-berman commented on #2249
Any update about this feature and in which k8s it will be available?

[2021-10-20 17:58] pillamk commented on #1435
Hello

Hello @aojea @andrewsykim , thanks for driving this forward. May I know if there is any indicative Kubernetes Release (v 1.23 ?) this feature will move to atleast beta state?
Thankyou.

[2021-10-21 19:38] danwinship opened #3015 "PreferSameNode Traffic Distribution (formerly PreferLocal traffic policy / Node-level topology)"
### PerferSameNode Traffic Distribution (formerly Node-level topology (formerly PreferLocal traffic policy))

- One-line enhancement description (can be used as a release note):
Add a way to signal to kube-proxy that it should deliver traffic to a local endpoint whenever possible, for efficiency.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-net

[2021-10-21 23:33] #2519 closed

[2021-10-24 22:36] mortent opened #3017 "PodHealthyPolicy for PodDisruptionBudget"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
  Add `PodHealthyPolicy` to PodDisruptionBudget
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/3017-pod-healthy-policy-for-pdb/README.md
- Discussion Link: https://www.youtube.com/watch?v=rP-XUjyCaps&list=PL69nYSiGNLP2LMq7vznITnpd2Fk1YIZF3
- Prim

[2021-10-28 03:47] sanposhiho opened #3022 "Min domains in PodTopologySpread"
### Enhancement Description

- One-line enhancement description (can be used as a release note): support tuning the number of domains in PodTopologySpread
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3022-min-domains-in-pod-topology-spread
- Discussion Link:
  - https://github.com/kubernetes/kubernetes/issues/105291
  - ( https://git

[2021-10-29 19:52] #2324 closed

[2021-10-29 20:12] pohly commented on #2527
/remove-lifecycle rotten

[2021-10-30 12:00] #2564 closed

[2021-10-30 17:53] puerco opened #3027 "SLSA Compliance in the Kubernetes Release Process"
### Enhancement Description

- One-line enhancement description (can be used as a release note): SLSA compliance for the Kubernetes release process
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @puerco
- Responsible SIGs: SIG Release
- Enhancement target (which target equals to which milestone):
  - SLSA Level 1: TBD
  - SLSA Level 2: TBD
  - SLSA Level 3: TBD

[2021-11-01 15:01] serathius commented on #2845
@pohly I have split Alpha work by milestones. I have assigned to you
 - Klog can be configured without registering flags
 - Kubernetes logging configuration drops global state

 Please let me know when you will have PR for them.

[2021-11-01 15:29] serathius commented on #2845
Marked "Klog can be configured without registering flags" as resolved as technically https://github.com/kubernetes/kubernetes/pull/105076 moved klog flag registration into component-base allowing us to register only flags we want.

[2021-11-01 16:59] verb commented on #277
Hi @lizzzcai, it's supported but [in my testing](https://github.com/kubernetes/kubectl/issues/1071#issuecomment-861638549) either `shareProcessNamespace` or `SYS_PTRACE` needs to be enabled for the `/proc/$pid/root` link to work. `shareProcessNamespace` has always been supported, setting `SYS_PTRACE` on an ephemeral container has been allowed since 1.22, but `kubectl debug` doesn't support it yet.

[2021-11-01 18:27] tkashem opened #3028 "opt-in to avoiding uninitialized apiserver"
### Enhancement Description

While an apiserver instance is initializing, its response to incoming request(s) may be inconsistent. This KEP provides a way where clients can opt-in to receive a `Retry-After` response while the apiserver is initializing.

- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals

[2021-11-01 20:29] pohly commented on #2845
That's okay. As discussed in https://kubernetes.slack.com/archives/C020CCMUEAX/p1635445845031900, both will be solved by adding fields for -v and -vmodule to `LoggingConfiguration`. Those two fields then can be set without having to use command line flags (first line item) and the configuration can be passed around before being applied (second line item).

[2021-11-02 00:02] thockin commented on #2527
impl PR is pending: https://github.com/kubernetes/community/pull/5842

[2021-11-02 01:16] msau42 commented on #1490
/reopen
/remove-lifecycle rotten

[2021-11-02 07:06] pohly commented on #1472
/remove-lifecycle stale

[2021-11-02 10:37] saschagrunert commented on #3027
/area release-eng

[2021-11-02 10:44] saschagrunert opened #3031 "Signing Release Artifacts"
### Enhancement Description

- One-line enhancement description (can be used as a release note): **Signing release artifacts**
- Kubernetes Enhancement Proposal: TBD
- Discussion Links:
  - https://github.com/kubernetes/sig-release/issues/1724
  - https://github.com/kubernetes/release/issues/2286
  - https://github.com/kubernetes/release/issues/2227
  - https://github.com/kubernetes/release/issues

[2021-11-02 12:13] pohly commented on #1702
/remove-lifecycle stale

[2021-11-02 15:03] chrisnegus commented on #19
Hi @soltysh! I'm a 1.23 docs release team shadow. I'm checking that there is no documentation needed for this feature.

CronJobControllerv2 is mentioned in the following K8s docs:  [Feature Gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-graduated-or-deprecated-features) and [CronJob](https://kubernetes.io/docs/concepts/workloads/controller

[2021-11-02 21:28] pohly commented on #2845
/assign

[2021-11-03 12:34] catblade commented on #2044
@swatisehgal  re-ping for links above.

[2021-11-03 12:42] Jiawei0227 commented on #1491
/remove-lifecycle stale

[2021-11-03 15:18] chrisnegus commented on #19
Thanks @soltysh! Does that cover the extent of changes you want to make? Is it ready to review?

[2021-11-03 18:08] soltysh commented on #19
@chrisnegus yes, this is mostly cleaning bits after the old controller.

[2021-11-03 21:51] liggitt commented on #2579
all code PRs are merged for beta, beta docs PR for 1.23 open at https://github.com/kubernetes/website/pull/30351

[2021-11-04 02:04] salaxander commented on #277
Hi @verb. Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.
* Ha

[2021-11-04 02:05] salaxander commented on #592
Hi @ahg-g. Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.
* H

[2021-11-04 02:06] salaxander commented on #785
Hi @alculquicondor. Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze dead

[2021-11-04 02:07] salaxander commented on #961
Hi @krmayankk. Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.

[2021-11-04 02:09] salaxander commented on #1040
Hi @wojtek-t  👋. Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadlin

[2021-11-04 02:10] salaxander commented on #1440
Hi @soltysh 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.

[2021-11-04 02:12] salaxander commented on #1847
Hi @mattcary and @kk-src 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code fre

[2021-11-04 11:51] aojea opened #3037 "client-go: alternative services"
### Enhancement Description

- One-line enhancement description (can be used as a release note): "don't require a load balancer between cluster and control plane and still be HA"
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3034
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/18174
- Primary contact (assignee): @aojea
- Responsible SIGs: sig

[2021-11-04 12:08] yuswift commented on #1645
/remove-lifecycle stale

[2021-11-04 12:08] yuswift commented on #1645
/remove-lifecycle rotten

[2021-11-04 12:11] aojea commented on #3037
/sig api-machinery

[2021-11-04 12:22] soltysh commented on #1440
Updated the description with appropriate links and we're all set with `kubectl events` for 1.23.

[2021-11-04 13:14] alculquicondor commented on #785
@ravisantoshgudimetla can you add some notes on weights to the documentation https://kubernetes.io/docs/reference/scheduling/config/ ?

[2021-11-04 13:17] ravisantoshgudimetla commented on #785
I can, I think @damemi is already working IIUC, if not let me know, I can open PR.

[2021-11-04 14:06] pohly commented on #1698
Final implementation PR for GA: https://github.com/kubernetes/kubernetes/pull/105609
Corresponding docs PR for 1.23: https://github.com/kubernetes/website/pull/30361

[2021-11-04 15:37] mattcary commented on #1488
/remove-lifecycle stale

W're still working to enable this in 1.23.

[2021-11-04 15:44] neolit123 commented on #2067
this is on track for 1.24.
https://github.com/kubernetes/kubeadm/issues/2200

/remove-lifecycle rotten

[2021-11-04 17:22] sahilvv commented on #592
@salaxander I am the owner of this KEP and feature to take to GA state in 1.23. To answer your questions:
1) All PRs are merged to the k8s repo at this time
2) Doc update PRs are merged to dev-1.23 branch at this time.

No pending tasks left related to this KEP to the best of my knowledge.

Thanks.

[2021-11-04 19:02] SergeyKanzhelev commented on #2400
As discussed at SIG Node meeting on [October 26, 2021](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#bookmark=id.pu9pzqb387b7) we are removing this enhancement from 1.23 milestone. @kubernetes/release-managers can you please remove the milestone label?

[2021-11-04 19:29] BenTheElder commented on #2420
More cleanup PRs:
- https://github.com/kubernetes/test-infra/pull/23847 (@spiffxp)
- https://github.com/kubernetes/kubernetes/pull/106099
- https://github.com/kubernetes/kubernetes/pull/106100

We are on-track to stable with the turn down of 1.19 related Kubernetes project resources. There's a bit more to do but we're nearly done.

Next up: we run a reasonably large custom bazel cache ([greenhouse

[2021-11-05 16:45] kerthcet commented on #2901
Since the last subtask about `k/website` docs is done, all the subtasks are finished now,  I'll try to close this issue. Thanks for all you guys help.
/cc @Huang-Wei @ahg-g @alculquicondor @damemi

What's more, I'll open another pr about the policy config migration from `v1beta2 -> v1beta3` in k/website as suggested later.

[2021-11-05 17:04] marosset commented on #2802
Linking some implementation PRs
https://github.com/kubernetes/kubernetes/pull/104693
https://github.com/kubernetes/kubernetes/pull/104613

[2021-11-05 17:59] alculquicondor commented on #2901
/reopen

Do not close until all the tasks have been completed, including documentation.

Don't forge to open the PR against the `dev-1.23` branch.

[2021-11-07 13:19] johanneswuerbach commented on #2021
/remove-lifecycle stale

[2021-11-07 23:23] dims commented on #2221
/remove-lifecycle stale

[2021-11-08 07:19] mindw commented on #688
/remove-lifecycle stale

[2021-11-08 12:12] soltysh commented on #19
Since the doc's folks recommended not changing the feature gate table, this is all ready now.
@chrisnegus this can be closed when we release 1.23

[2021-11-08 12:46] Priyankasaggu11929 commented on #563
Hello @lachie83  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16.**

Please ensure the following items are completed:

- All PRs to the Kubernetes repo that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.
- Have a documentation placeholder PR

[2021-11-08 14:04] Priyankasaggu11929 commented on #1287
Hello @vinaykul   👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16.**

Please ensure the following items are completed:

- All PRs to the Kubernetes repo that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.
- Have a documentation placeholder PR