[2018-10-08 17:10] kacole2 commented on #117
@DirectXMan12 I'm following up on @claurence's post to see if there are any plans for this to graduate to 1.13 or if we can close out the 1.12 milestone?

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush

[2018-10-08 17:13] kacole2 commented on #115
@luxas @sttts and updates from @claurence's post if there are plans to graduate in 1.13? Thanks!

[2018-10-08 17:13] neolit123 commented on #288
given the shortened 1.13 release cycle, i would say that only some work for [missing e2e tests](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-multi-platform) could be done in 1.13, maybe CNI could see improvements, but that's a 3rd party dependency.

RE: incubated projects: IMHO, a separate KEP should be sent for this and we should omit the incubated project demand from this feature as ou

[2018-10-08 17:14] kacole2 commented on #95
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:17] kacole2 commented on #92
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:19] kacole2 commented on #88
Following up from our conversation in the SIG meeting. This is going to remain in beta for 1.13 unless there are plans to GA the interface. Please correct me @wlan0 @andrewsykim if I'm mistaken.

[2018-10-08 17:20] kacole2 commented on #85
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:20] kacole2 commented on #71
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:20] kacole2 commented on #34
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:28] kacole2 commented on #288
/milestone clear

[2018-10-08 17:36] nikhita commented on #571
Yes, this is remaining in beta for 1.13 too.

[2018-10-08 17:51] tallclair commented on #5
No changes planned in 1.13.

[2018-10-08 17:55] msau42 commented on #562
This quarter will be focusing on design and prototyping, so no feature deliverables for 1.13

[2018-10-08 17:57] msau42 commented on #490
Plan for 1.13 is to go GA

[2018-10-08 17:58] kacole2 commented on #490
/milestone v1.13

[2018-10-08 18:16] msau42 commented on #121
Plan for 1.13 is to remain in beta. We are looking for more feedback on the feature before graduating to GA.

[2018-10-08 18:39] msau42 commented on #557
To go to beta, the feature is depending on the following to also go to beta:

* CRD installation - planned for beta
* CSINode and CSIDriver objects - planned for beta
* Node restriction on self-labeling - not clear yet

[2018-10-08 18:54] wangzhen127 commented on #589
@kacole2, who are the docs leads?

[2018-10-08 18:56] kacole2 commented on #589
@tfogo can you help @wangzhen127?

[2018-10-08 20:04] childsb commented on #351
@kacole2 this missed 1.12 and is planned for 1.13.. i added the 1.13 milestone

[2018-10-08 21:03] spiffxp commented on #622
@liggitt @wojtek-t @dims @ixdy @xiang90 following up on https://github.com/kubernetes/kubernetes/pull/69310#issuecomment-426118189

I think we still have some more etcd2-related code to remove:

These are referenced in k/k:
[code]

And I believe we end up publishing
[code]

[2018-10-08 22:27] bsalamat commented on #268
There no graduation plan for 1.13. This feature has been Beta since 1.11. We would like to get more mileage out of it before moving it to GA. We can tentatively target 1.14 for GA.

[2018-10-08 22:30] bsalamat commented on #583
This feature will be built in an incubator project, outside of the core. So, stability is not an issue. We just want to ensure that our design is finalized in 1.13.

[2018-10-09 00:47] johnbelamaric commented on #536
Per sig-network we are looking at getting a revised KEP in for the 1.13 timeframe but not the code.

[2018-10-09 00:49] janetkuo commented on #592
There's currently no plan to graduate it to beta in 1.13.

[2018-10-09 00:52] kacole2 commented on #592
/milestone clear

[2018-10-09 10:44] mlmhl commented on #531
@kacole2  Yeah, we intend to move this enhancement to beta in 1.13, but I'm not sure what I need to do, could you help to point it out?

[2018-10-09 13:14] verb commented on #495
Hi @ameukam @kacole2, I plan on leaving this feature in beta for a few cycles and gather feedback. I'll set a preliminary stable target of 1.15. I expect nothing to change for 1.13.

[2018-10-09 13:18] verb commented on #277
ack, will sync up with reviews and update

[2018-10-09 13:31] kacole2 commented on #531
@mlmhl i'll take care of the labels. you take care of the code and docs. sound like a plan? ;)
/milestone v1.13

[2018-10-09 18:38] dims commented on #288
@timothysc sig-testing may be another option as the main thing lacking right now is `automated CI e2e Conformance tests running for arm, arm64, ppc64le, s390x and windows` (well, we do have ppc64le, but others are missing)

[2018-10-09 21:43] timothysc commented on #288
@dims I don't think it should be on sig-testings shoulders to manage things like s390x when they don't have the gear to debug.  Ideally, I think the consumers should supply signal via federated testing.

[2018-10-09 21:44] timothysc commented on #288
/unassign @timothysc

[2018-10-09 21:44] timothysc commented on #11
Our objective is to take kubeadm to GA this cycle.

[2018-10-09 21:45] timothysc commented on #356
Our intention is to take kubeadm to GA in 1.13 which would include this item.

[2018-10-10 07:37] nikhita commented on #95
No, there are no plans to graduate this in 1.13. The CRD API will remain in beta.

[2018-10-10 07:49] jbartosik commented on #591
@justaugustus @kacole2 @claurence what should I do with this issue? Is it ok to close it and track going to GA in [issue 117](https://github.com/kubernetes/features/issues/117)?

[2018-10-10 11:56] mlmhl commented on #531
Thanks @kacole2 ! The doc and code PR are as shown below, is this the right way?

doc: [kubernetes/website#10574](https://github.com/kubernetes/website/pull/10574)
code: [kubernetes/kubernetes#67608](https://github.com/kubernetes/kubernetes/pull/67608)

[2018-10-10 14:37] vladimirvivien commented on #565
@kacole2 we're going to push for Beta in 1.13

[2018-10-10 15:39] kacole2 commented on #591
@jbartosik i think closing and tracking with #117 is a better way to go unless @justaugustus has any objections

[2018-10-10 15:40] kacole2 commented on #531
@mlmhl thats perfect. that will make wrangling much easier going forward.

[2018-10-10 16:01] kacole2 commented on #565
thanks @vladimirvivien
/milestone v1.13

[2018-10-10 16:02] kacole2 commented on #565
@vladimirvivien can you also update the original post so it represents beta for 1.13. right now it says targeting stable. thanks!

[2018-10-10 22:00] mtaufen commented on #281
@kacole2 no plans to graduate in 1.13.
Are the milestones already correct for this case (assuming yes given tracked/no)?

[2018-10-10 22:01] davidz627 opened #625 "In-tree storage plugin to CSI Driver Migration"
# Feature Description
- One-line feature description (can be used as a release note): Migrate the internals of the in-tree plugins to call out to CSI Plugins while maintaining the original API
- Primary contact (assignee): @davidz627
- Responsible SIGs: sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi

[2018-10-10 22:02] davidz627 commented on #625
/sig storage
/cc @ddebroy

[2018-10-11 10:14] bogdando commented on #11
Reading into https://kubernetes.io/docs/setup/independent/high-availability/ I noticed there is now a neat config file (``kubeadm-config.yaml`` in the guide). But I was not sure what is the status for "features flags" support for that config? Can we have init steps executed selectively yet? Or had it lost from the radar?

[2018-10-11 11:33] dims commented on #11
@bogdando see the "full" example in the doc for `featureGates`:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha3/doc.go#L160-L248

[2018-10-11 12:10] neolit123 commented on #11
@bogdando

yes, in 1.12 there is `kubeadm alpha phase....` which handles init phases. in 1.13 these would be more widely available.

[2018-10-11 16:54] saad-ali commented on #625
@kacole2 This is multi quarter work with other components depending on it so we want to get it started ASAP (this quarter). That said as we approach end of the month @davidz627 and @ddebroy will make a call about if it is feasible to ship something this quarter or not. If not, we will remove it from the 1.13 milestone. For now let's track it.

[2018-10-11 18:11] deads2k commented on #115
I think this has been superceded by https://github.com/kubernetes/community/blob/master/keps/sig-cluster-lifecycle/0014-20180707-componentconfig-api-types-to-staging.md .  If I've made a mistake, feel free to re-open, but that KEP is a cross component effort to resolve this.

[2018-10-11 18:11] #115 closed

[2018-10-12 09:39] jsafrane commented on #603
Yes, we want beta in 1.13

[2018-10-12 16:32] kacole2 commented on #603
/milestone v1.13

[2018-10-12 21:46] fanzhangio opened #626 "Implements Raw Block Volume Support for in-tree vSphere plugin"
# Feature Description
- One-line feature description (can be used as a release note):
   - vSphereVolume implements Raw Block Volume Support
- Primary contact (assignee): @fanzhangio
- Responsible SIGs: sig-storage
- Reviewer(s): @vladimirvivien @divyenpatel
- Approver (likely from SIG/area to which feature belongs): @saad-ali @divyenpatel
- Feature target (which target equals to which milestone):

[2018-10-12 21:47] fanzhangio commented on #626
/assign

[2018-10-12 21:47] fanzhangio commented on #626
/milestone 1.13

[2018-10-12 21:48] fanzhangio commented on #626
/sig storage

[2018-10-12 21:48] fanzhangio commented on #626
/kind feature

[2018-10-12 21:48] fanzhangio commented on #626
/stage alpha

[2018-10-13 02:45] justaugustus opened #627 "Tag open k/community KEP / KEP-related issues / PRs as kind/kep"
Now that `kind/kep` exists, I'd like to follow through with what was mentioned [here](https://github.com/kubernetes/test-infra/pull/9437#issuecomment-422263046):

Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-10-13 02:48] justaugustus opened #628 "Remove kind/kep label from k/community"
Once KEPs are moved to `k/enhancements`, I'd like to follow through with what was mentioned [here](https://github.com/kubernetes/test-infra/pull/9437#issuecomment-422263046):

Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-10-14 21:29] tfogo commented on #213
Hi @krmayankk, this docs PR was merged in 1.12: https://github.com/kubernetes/website/pull/10076

Was this documentation intended to go in during 1.12? If RunAsGroup is feature gated then we should make sure the documentation mentions this.

[2018-10-15 05:03] krmayankk commented on #213
This specific documentation was earlier meant for 1.12, but the code didnt merge in time, so ideally it should go now in 1.13. Currently there are two pieces of documentation needed:-
- RunAsGroup at pod/container level documentation
- RunAsGroup in PodSecurityPolicy

I will try to find the right places for this documentation and make a PR

[2018-10-15 13:40] kacole2 commented on #626
/milestone v1.13

[2018-10-15 13:44] kacole2 commented on #557
/milestone clear

[2018-10-15 13:45] kacole2 commented on #460
/milestone clear

[2018-10-15 13:45] kacole2 commented on #495
/milestone clear

[2018-10-15 13:46] kacole2 commented on #554
/milestone clear

[2018-10-15 13:47] kacole2 commented on #594
/milestone v1.13

[2018-10-15 15:21] gnufied commented on #554
@kacole2 @ameukam We are retargetting this feature for 1.13 milestone. Can we please add this story to that milestone?

[2018-10-15 15:23] gnufied commented on #554
err - I deleted my earlier comment. For 1.13 - we are going to keep this feature in beta and apart from bug fixes, there won't be any change in feature itself.

[2018-10-15 19:36] tfogo commented on #213
Ah, thanks for the info. Could you please create a PR against k/website master to remove that documentation if it's documenting something which isn't actually in 1.12?

Then please could you open a placeholder PR against the `dev-1.13` for the 1.13 docs?

[2018-10-15 20:00] tfogo commented on #589
Hi @wangzhen127! Happy to help!

The new API group should have API docs generated automatically. We will require a documentation PR for any changes or additions to the written documentation. Documentation should be added even for alpha features. The aim is to make sure alpha features as fully documented as possible.

What documentation is required depends on the feature. You're the best person to

[2018-10-16 04:58] justaugustus commented on #627
This is complete. List of KEPs / design proposals can be found here: https://github.com/kubernetes/community/labels/kind%2Fkep

/close

[2018-10-16 04:58] #627 closed

[2018-10-16 11:01] soltysh commented on #19
@kacole2 this is not moving anywhere until we fix the biggest issue with cronjob controller, which is shared informers. We'll be discussing this topic during next SIG-Apps call.

[2018-10-16 18:48] kacole2 commented on #565
/remove-stage alpha
/stage beta

[2018-10-16 22:47] spiffxp commented on #277
@verb What issues or PR's are related to this work?

Guessing:
- https://github.com/kubernetes/kubernetes/issues/10834
- https://github.com/kubernetes/kubernetes/issues/27140
- https://github.com/kubernetes/kubernetes/issues/53189 (was aged out)
- https://github.com/kubernetes/kubernetes/pull/59416
- https://github.com/kubernetes/kubernetes/pull/59484

Is "Ephemeral Containers" a better name for t

[2018-10-16 22:58] spiffxp commented on #555
Are there any issues or PR's we could track to better understand what work is being done to land what functionality in 1.13 as part of this?

[2018-10-16 23:20] apelisse commented on #555
@spiffxp We don't have an issue right now. we have a working-group for this, and we keep track of tasks in a spreadsheet. I'll try to create an issue to track the progress and increase visibility, thank you.

[2018-10-16 23:55] spiffxp commented on #583
What parts of this design (if any) are expected to land in k/k as part of the 1.13 release cycle?

Is https://github.com/kubernetes/kubernetes/issues/61012 redundant as a tracking issue for Coscheduling?

[2018-10-17 00:11] lavalamp commented on #555
Isn't this the issue?

For PRs, look here: https://github.com/kubernetes-sigs/structured-merge-diff/pulls

Also look in the main repo, search for "feature branch" in the name (e.g., Jenny has an API change out right now).

We have notes from our bi-weekly meeting here: https://docs.google.com/document/d/1j_UqnJRvB7AywfZauHybVVNCOoDDA1AGWGxzPGE08ko/edit# (join the wg-apply mailing list if you want

[2018-10-17 00:41] spiffxp commented on #598
@mbohlool @deads2k @lavalamp is this still planned for v1.13? what work if any is being done in k/k for this?

[2018-10-17 00:43] spiffxp commented on #598
Is this related to or dependent on defaulting and pruning for CRD's? https://github.com/kubernetes/features/issues/575

[2018-10-17 01:04] spiffxp commented on #626
@fanzhangio @saad-ali @jsafrane are there issues or PR's in k/k we can link to track this work?

[2018-10-17 01:16] spiffxp commented on #166
FWIW I put a /hold on https://github.com/kubernetes/kubernetes/pull/69824 because it seems to me like not everything has been finished before promoting to beta.  Am I misunderstanding what that PR is doing?

[2018-10-17 01:32] spiffxp commented on #565
@vladimirvivien what work is being done in k/k for this enhancement? are there issues or PR's we can link to track this work?

[2018-10-17 01:34] spiffxp commented on #576
@apelisse @deads2k @lavalamp what work needs to be done to move this to beta? are there any issues or PR's we can link to track this?

[2018-10-17 01:35] spiffxp commented on #576
🤦‍♂️ right, I just noticed https://github.com/kubernetes/kubernetes/issues/68514 but since one of those items is Beta/GA I can't tell if this is just "make docs look good" or if there is code that needs to be written for this

[2018-10-17 01:40] spiffxp commented on #594
@kacole2 this is listed as "stable" on the spreadsheet, looks like it should be alpha?

[2018-10-17 01:41] spiffxp commented on #579
@soltysh what work remains to be done to promote this to beta? are there issues or PR's we could link to track?

[2018-10-17 02:05] kacole2 commented on #595
@saad-ali I've added this to the tracking sheet but putting it `At Risk` because I feel this has not had enough time to bake. I believe there will be concern about promoting a feature so quickly. @AishSundar @spiffxp

[2018-10-17 05:03] AishSundar commented on #595
@saad-ali what work is left for this in 1.13 to be able to go to Stable? Similarly how confident are we of [CSI](https://github.com/kubernetes/features/issues/178) making it to Stable in 1.13 and if [CSI] slips what are the plans for this feature then?

[2018-10-17 05:07] AishSundar commented on #555
@lavalamp @apelisse  what is the confidence level of this feature making it to Alpha in 1.13? Are [these 3 PRs](https://github.com/kubernetes-sigs/structured-merge-diff/pulls) the only ones pending?

[2018-10-17 05:13] AishSundar commented on #575
@sttts is this feature still on track to go to Alpha in 1.13? could you let us know what work is pending for this in k/k eg: list of PRs or issues, status of docs etc. do we feel confident this will hit the deadlines for 1.13 (code freeze 11/15)

[2018-10-17 05:16] AishSundar commented on #586
@feiskyer does that mean you are essentially code complete for Alpha in 1.13 and currently validating the flow? or is there any known pending work?

[2018-10-17 05:30] AishSundar commented on #615
@saad-ali how much work is left for this to land in Alpha in 1.13 and how confident of getting this in for 1.13?

[2018-10-17 05:39] AishSundar commented on #166
@k82cn thanks for the update above

@Huang-Wei and @ravisantoshgudimetla I see only 1/7 tasks complete in #69533. Is there any ETA for other tasks to be complete and when this will be enabled in master? As mentioned earlier, we would like to get this feature code and test complete sooner than later so we have enough time to  monitor the test results in master and stabilize. Is it possible to get a

[2018-10-17 05:42] AishSundar commented on #213
@krmayankk other than docs, is there any more pending code or test work for this feature in 1.13? if so can you plz point us to it and indicate when you expect to get all of them merged? thanks

[2018-10-17 05:45] Huang-Wei commented on #166
@AishSundar we're tracking this as our highest priority. We're optimitic to finish them by end of this month - among the resting 6 ones: one might be duplicated, one is docs update, one is performance enhancement (good to have, not blocker). The other 3 ones are being reviewed, should be able to be merged soon.

[2018-10-17 05:49] AishSundar commented on #593
@bsalamat what work is left for this to land in Beta in 1.13? Is there a list of pending PRs we are tracking for this?

[2018-10-17 05:52] AishSundar commented on #603
@jsafrane what work is left for this to land in Beta in 1.13? Is there a list of pending PRs we are tracking for this (code, test and docs)? is https://github.com/kubernetes/community/pull/2273 the only pending PR?

[2018-10-17 05:53] AishSundar commented on #604
@feiskyer what work is left for this to land in Beta in 1.13? Is there a list of pending PRs we are tracking for this (code, test and docs) or is everything merged?

[2018-10-17 05:58] AishSundar commented on #623
@bsalamat @Huang-Wei do we have an active assignee / owner for this feature. is this actively being targeted in 1.13? can we plz fill int he following labels - stage, kind

Also do we have a list of PRs or issues we are tracking for this feature? thanks

[2018-10-17 06:01] AishSundar commented on #166
Thanks for the update @Huang-Wei. could you point me to the performance enhancement PR/ issue plz? thanks

[2018-10-17 06:05] AishSundar commented on #558
@msau42 is there a list of pending PRs or issues you are tracking for this feature to go to GA? Is this related to https://github.com/kubernetes/features/issues/561 ?

[2018-10-17 06:06] AishSundar commented on #561
@msau42  is there a list of pending PRs or issues you are tracking for this feature to go to GA? Is this dependent on https://github.com/kubernetes/features/issues/611 is any way for GA?

[2018-10-17 06:10] AishSundar commented on #11
@neolit123 @roberthbailey is this still on track for GA in 1.1.3? do we have a link to list of pending PRs or issues for us to track this better?

[2018-10-17 06:12] AishSundar commented on #116
@michmike how confident are we ok this going GA in 1.13? Do we have a list of pending PRs or issues to track for this?

[2018-10-17 06:15] AishSundar commented on #178
@saad-ali whats left of this work to go to GA in 1.13? Are https://github.com/kubernetes/kubernetes/pull/69690 and https://github.com/kubernetes/kubernetes/pull/69688 the only 2 pending PRs for this feature?

[2018-10-17 06:17] Huang-Wei commented on #166
It's https://github.com/kubernetes/kubernetes/pull/65350.

[2018-10-17 06:18] AishSundar commented on #351
@childsb what work if left in k/k for this feature to go to GA in 1.13?  Is there a list of pending PRs (code, tests and docs) that we can track on our end?

[2018-10-17 06:32] AishSundar commented on #623
What stage is this feature getting into 1.13? Alpha? 1.13 is currently targeted to be a stability themed release where we focus on finishing and landing deferred features from previous releases, bug fixes that improve the stability of existing features and/or test improvements. If this is a net new feature that is still in design and experimentation phase, I strongly recommend this wait until 1.14

[2018-10-17 06:37] AishSundar commented on #567
@msau42  is there a list of pending PRs or issues (code, tests and docs)you are tracking for this feature to go to GA? how complete is this feature?

[2018-10-17 06:38] AishSundar commented on #578
@soltysh is there a list of pending PRs or issues you are tracking for this feature to go to GA?

[2018-10-17 07:38] sttts commented on #575
As this lacks concensus, it won't be in 1.13. Updated the milestone.

[2018-10-17 09:12] verb commented on #277
Hi @spiffxp,

Correct, these are the current issues & PRs. Don't worry about kubernetes/kubernetes#53189 as it's no longer relevant.

Probably, yes. Some people still know it as Debug Containers, but the API will refer exclusively to Ephemeral Containers, so I've updated the feature title.

[2018-10-17 13:05] pbarker commented on #600
Hey @AishSundar, there are 3 open PRs
https://github.com/kubernetes/kubernetes/pull/67547 The API, about done but hung up on one last question.
https://github.com/kubernetes/kubernetes/pull/67257 The implementation, mostly waiting on the API to finish
https://github.com/kubernetes/kubernetes/pull/69902 a small one for an integration test.

This slipped on 1.12 and we certainly intend on making 1.1

[2018-10-17 13:10] neolit123 commented on #11
@AishSundar

i don't have powers here to update the OP.
in terms of docs we are in a good state, test coverage might need some attention as much i understand the goals here.

i'm going to have to defer to @timothysc on this one.

[2018-10-17 13:58] AishSundar commented on #561
@sttts thanks for making an early decision in favor of the release stablity

[2018-10-17 13:58] AishSundar commented on #575
@sttts thanks for making an early decision in favor of release stability

[2018-10-17 14:13] AishSundar commented on #600
Thanks @pbarker we will track the PRs listed above. Is there a doc PR associated with this feature? @tfogo as FYI

[2018-10-17 14:16] juanvallejo commented on #579
@spiffxp

All of the outstanding work has been completed. We'll just need to update docs and tags labeling this feature as beta

[2018-10-17 15:37] wongma7 commented on #351
@AishSundar the k/k PR for code and tests is here https://github.com/kubernetes/kubernetes/pull/65829 (needs API review). docs have not been started

[2018-10-17 15:41] apelisse commented on #576
Yeah, the `Beta/GA` means that it'd be nice if we have it for beta, not mandatory. So it's basically just docs I think.

[2018-10-17 15:42] apelisse commented on #491
#68526. Very close to be ready, I suspect we mostly need documentation!

[2018-10-17 16:38] vladimirvivien commented on #595
@AishSundar
I have discussed this with author (and other interested parties).  He feels confident that the code OK and stable given adoption.  This feature is being used by several plugin implementers and users (NVIDIA device plugin, several CSI volume plugins) since beta.  If CSI slips, this feature is adopted by other plugin providers who are Ok with v1.

[2018-10-17 16:42] AishSundar commented on #595
@vladimirvivien thanks for the update. Could you plz point us to a list of pending PRs (code, tests and docs) for this feature?

[2018-10-17 17:17] jimangel commented on #127
@derekwaynecarr

Just a friendly reminder about docs and status for 1.13. Thanks!

cc:  @vikaschoudhary16

[2018-10-17 17:29] spiffxp commented on #555
@lavalamp right my Q was more whether any of the feature branch stuff was going to land in master, otherwise it doesn't seem like this should be on our radar; the wg-apply notes are pretty spartan in that regard

There's the [roadmap doc](https://docs.google.com/document/d/1uOCoC9y4Fmd_4wlaGDpreT3vqRur_wO7_ZjDJCVwlKg/edit#) mentioned in April, but it's unclear to me whether that's still valid, and

[2018-10-17 17:47] lavalamp commented on #555
@spiffxp Yes, making it to alpha is the same thing as merging the feature branch back into master.

@AishSundar No, there are many PRs yet to be written. Look at the closed PRs in that repo for an estimate of the recent velocity. Additionally we will need more PRs to the feature branch in the main repo.

Can you two help me understand why this level of detail is necessary/useful? We still have 3is

[2018-10-17 17:51] msau42 commented on #490
This is the last remaining task:
https://github.com/kubernetes/kubernetes/issues/68517

[2018-10-17 17:53] msau42 commented on #561
This feature is a subset of #490, but doesn't have any separate tasks that aren't already covered.  Would it be easier to close this and just track #490?

[2018-10-17 17:53] msau42 commented on #558
This feature is a subset of #490, but doesn't have any separate tasks that aren't already covered.  Would it be easier to close this and just track #490?

[2018-10-17 17:54] msau42 commented on #558
The only changes needed to the docs are to remove the beta designation.

[2018-10-17 17:54] msau42 commented on #567
This feature is a subset of #490, but doesn't have any separate tasks that aren't already covered. Would it be easier to close this and just track #490?

[2018-10-17 17:56] msau42 commented on #490
Oh, and this one:
https://github.com/kubernetes/kubernetes/pull/59529

[2018-10-17 18:32] PatrickLang commented on #116
Things are much better than in v1.13 and I've been able to get some more time from @feiskyer and @andyzhangx and others to work on remaining issues.

The test passes are a prow+testgrid PR away from being online. @lachie83 is helping me reach out to the right folks to hand off the Azure credentials needed.

The current engineering system issues should be done by early November giving us a month fo

[2018-10-17 18:41] AishSundar commented on #567
yes please if there is no tasks specific to this one at all. @kacole2 as FYI

[2018-10-17 19:06] AishSundar commented on #555
@lavalamp since this is a short release cycle the release team is trying to assess, early on, the amount of work pending for each planned feature and chances of any possible slips. This will help us track these better through the cycle

[2018-10-17 20:46] apelisse commented on #555
There is definitely some work left to get this in 1.13 and chances that it slips are non-negligible. However, we still want to take our chance and hope that the few weeks left will be enough to get to alpha quality.

I'm happy to help you track that item in any way possible and can come back to you on a regular basis to give you a status. Hope that helps, thanks.

[2018-10-17 21:59] AishSundar commented on #555
@apelisse for now if you can just point us to the list of open PRs and open issues (for unopened PRs) that will be great. we will touch base early November to see where we are. Thanks.

@kacole2 as FYI

[2018-10-17 22:02] lavalamp commented on #555
We aren't tracking our work via specific issues that need specific PRs written, that would be fairly heavyweight for us. We are using this spreadsheet: https://docs.google.com/spreadsheets/d/1ZHTDyiQssYBzs7DQWQd70bNQybeyS0m-S1aIS_zo-78/edit?pli=1#gid=0

(you're probably already in some email group that has access)

[2018-10-17 22:30] lavalamp commented on #555
In an offline chat with @spiffxp it seems you're actually trying to evaluate risk; I think the questions above don't actually make sense for this particular effort given that this is happening in a feature branch, which is probably why we're talking past each other.

* In terms of risk to stability, we won't be merging it if it's not meeting the bar before the window closes, so there's very little

[2018-10-17 22:49] d-nishi commented on #423
@AishSundar @kacole2 - ack!

[2018-10-17 23:54] bsalamat commented on #623
Given that 1.13 is stability release, it makes sense to move this to 1.14. WDYT @Huang-Wei?

[2018-10-17 23:56] bsalamat commented on #593
Nothing is left to be done in 1.13 to move this to beta. It is just our guarantees to support this feature that changes in 1.13. This feature is already landed in 1.12.

[2018-10-17 23:58] Huang-Wei commented on #623
@bsalamat I'm fine with postponing to 1.14.

[2018-10-17 23:59] kacole2 commented on #561
@msau42 i like this idea. @AishSundar do you have any concerns about following #490 ?

[2018-10-18 00:02] kacole2 commented on #558
@msau42 i'm in favor of tracking at #490 is @AishSundar is. In addition, I'm assuming this is an in-tree driver and not CSI/out of tree?

[2018-10-18 00:03] msau42 commented on #558
Correct, CSI support is being tracked as an independent feature.

[2018-10-18 00:04] kacole2 commented on #567
/close
/milestone clear

[2018-10-18 00:04] #567 closed

[2018-10-18 00:11] kacole2 commented on #623
thanks folks!
/milestone clear

[2018-10-18 00:12] kacole2 commented on #558
since we closed out AWS. Let's follow along here. thanks for the explanation
/milestone clear
/close

[2018-10-18 00:12] #558 closed

[2018-10-18 02:14] feiskyer commented on #116
@PatrickLang  Ping me if you want something milestoned.

[2018-10-18 02:31] fanzhangio commented on #626
PR https://github.com/kubernetes/kubernetes/pull/67465

@spiffxp  Thank you.

[2018-10-18 02:52] AishSundar commented on #116
Thanks @PatrickLang for a detailed status update.  As @feiskyer mentioned either ping him or any of us in the 1.13 release team including @kacole2 @nikopen.

[2018-10-18 03:12] AishSundar commented on #561
+1 on closing this issue if there are no more specific tasks. Thanks @msau42

[2018-10-18 03:33] lichuqiang commented on #561
Let's track with #490. Closing this.

[2018-10-18 03:33] #561 closed

[2018-10-18 14:40] vladimirvivien commented on #565
@spiffxp there some work being done - https://github.com/kubernetes/kubernetes/pull/68635 that will be included for beta along with continued testing.

[2018-10-18 17:38] andrewsykim commented on #88
This feature will remain beta in 1.13. In Q4 we're planning to break this feature down a bit because the "out-of-tree" cloud provider model has a lot of different components and not all the pieces need to be feature gated. We're hoping to have final consensus on this at KubeCON Seattle.

[2018-10-18 18:59] vladimirvivien commented on #595
@AishSundar
- PR for dev doc - https://github.com/kubernetes/kubernetes/pull/68562
- Pending issue to be handled this quarter - https://github.com/kubernetes/kubernetes/issues/69015
That's all.

[2018-10-18 20:02] kacole2 commented on #296
@timothysc i'm curious if this should just be rolled into #11 and tracked there since it's all going GA at the same time. Or is it better to track kubeadm features separately? Are kubeadm upgrades still targeting 1.13?

[2018-10-19 01:37] andrewsykim commented on #88
This feature will remain beta in 1.13. In Q4 we're planning to break this feature down a bit because the "out-of-tree" cloud provider model has a lot of different components and not all the pieces need to be feature gated. We're hoping to have final consensus on this at KubeCON Seattle.

[2018-10-19 12:09] bungder commented on #559
I have already run a cluster using kubeadm v1.11 and I don't want to reset and re-init it. How can I enable `VolumeSubpathEnvExpansion`? I searched kubernetes documentations and found no way to do it. It would be great if you know how to do so. Thanks a lot.
@kevtaylor  @cbluth

[2018-10-19 12:13] kevtaylor commented on #559
@bungder It is a feature gate that needs to be enabled `--feature-gates` as it is only alpha - it is also being reshaped for future releases, so is subject to change

[2018-10-19 12:28] bungder commented on #559
@kevtaylor Still, thanks a lot

[2018-10-19 13:34] soltysh commented on #578
@juanvallejo and I will be working on improving the performance of sorting in kubectl with server-side printing as well as watching resources. There are no PRs yet.

[2018-10-19 17:49] pbarker commented on #600
Thank you @AishSundar docs PR is here https://github.com/kubernetes/website/pull/9947. Also a quick update, the implementation got split into two pieces https://github.com/kubernetes/kubernetes/pull/67257 and https://github.com/kubernetes/kubernetes/pull/70021 to make it more digestible.

[2018-10-19 18:30] jpbetz commented on #553
Looks like there has been no real activity on this since May.  Can we get a update on current plans or close this if there are none?

cc @cheftako @logicalhan

[2018-10-22 14:23] rphillips commented on #553
We can close this out for now. I am not actively working on it.

[2018-10-22 15:06] jbartosik commented on #591
@justaugustus I'm closing this and plan to track this going GA in [issue 117](https://github.com/kubernetes/features/issues/117) together with the rest of HPA v2.

If you wold prefer me to handle this differently please reopen and explain what I should do.

[2018-10-22 15:06] #591 closed

[2018-10-22 17:10] errordeveloper commented on #553
/close

On Mon, 22 Oct 2018, 3:23 pm Ryan Phillips, <notifications@github.com>
wrote:

[2018-10-22 18:45] prbinu commented on #127
@derekwaynecarr
We operate k8s clusters that allow execution of third-party containers. From a security perspective, this is an an important feature we have been waiting for a while. Please consider this as high-priority security feature and make it available in v1.13 release.

[2018-10-22 20:31] claurence commented on #598
@deads2k there has been no communication on the status but I see @spiffxp has attached a current k/k PR. Are we confident this is going to make the v1.13 milestone? Enhancement freeze is tomorrow COB. If there is no communication or update on the PR, this is going to be pulled from the milestone as it doesn't fit with our "stability" theme. If there is no communication after COB tomorrow, an excep

[2018-10-22 20:41] kacole2 commented on #578
@soltysh I have this at "At Risk" for not making the v1.13 milestone. Can you give a brief explanation of the work being done for 1.13 since there are no PRs to track? Enhancement freeze is COB tomorrow and we are trying to nail down everything that needs to be tracked going into code slush. thanks!

[2018-10-22 20:49] guineveresaenger commented on #277
@verb - I left some comments on the related PRs, but as Enhancements Freeze is tomorrow we really need a status update on https://github.com/kubernetes/kubernetes/pull/59484. If there is no communication after COB tomorrow, an exception will be required to add it back to the milestone. Please let me or Enhancements Lead @kacole2  know where we stand. Thanks!

[2018-10-22 20:52] kacole2 commented on #594
@saad-ali can you give an update on the feasibility of this making v1.13 milestone? Enhancements freeze is tomorrow COB. Was the https://github.com/kubernetes/kubernetes/pull/67803 merge for 1.12? And should this be properly tracked as beta now? The only PR i'm seeing in k/k is https://github.com/kubernetes/kubernetes/pull/69462 which is a backfill of tests. If you could tell us what work is being

[2018-10-22 20:52] claurence commented on #606
@dashpole there has been no communication on the status.  Are we confident this is going to make the v1.13 milestone? Enhancement freeze is tomorrow COB. If there is no communication or update on the PR, this is going to be pulled from the milestone as it doesn't fit with our "stability" theme. If there is no communication after COB tomorrow, an exception will be required to add it back to the mil

[2018-10-22 20:55] kacole2 commented on #596
@vladimirvivien there hasn't been any communication on this issue but from the looks of https://github.com/kubernetes/kubernetes/pull/68232 there is activity happening so this is going to continue to be tracked for v1.13 milestone.

[2018-10-22 20:59] claurence commented on #615
@saad-ali is there an update on how much work is left for making 1.13?  Enhancement freeze is tomorrow COB. If there is no communication or update on the PR, this is going to be pulled from the milestone as it doesn't fit with our "stability" theme. If there is no communication after COB tomorrow, an exception will be required to add it back to the milestone. Please let me know where we stand. Tha

[2018-10-22 21:04] guineveresaenger commented on #304
Hi @aniket-s-kulkarni!  There has been no communication on the status but I see activity on the related PR. These still seem to be a lot of debates on implementation details. Are we confident this is going to make the v1.13 milestone? Enhancement freeze is tomorrow COB. If there is no communication or update on the PR, this is going to be pulled from the milestone as it doesn't fit with our "stabi

[2018-10-22 21:07] guineveresaenger commented on #515
Hi @soltysh  There has been no communication on the status of this enhancement and I could not find any linked pull requests. Are we confident this is going to make the v1.13 milestone? Enhancement freeze is tomorrow COB. If there is no communication or update on the PR, this is going to be pulled from the milestone as it doesn't fit with our "stability" theme. If there is no communication after C

[2018-10-22 21:10] aniket-s-kulkarni commented on #304
@guineveresaenger @kacole2 - We trying our best to get this in. There were some late coming review comments that have dragged this PR out.

The discussions currently underway are around relatively small portions of the code, the main code as well as e2e tests added have been completed and successful. I remain confident that this PR would be completed by the 11/15 code freeze.

[2018-10-22 21:10] guineveresaenger commented on #304
Thank you for the update @aniket-s-kulkarni!

[2018-10-22 21:17] verb commented on #277
@guineveresaenger Thanks for following up. I expect this API review to take a while yet. If it's time to decide now then we should remove it from 1.13.

There is a kubelet clean-up PR related to this feature that I'd like to merge for 1.13, though. It's small, fits into the stability theme, and I'm confident we can have to reviewed by slush. Does this feature need to remain in the 1.13 milestone i

[2018-10-22 21:19] kacole2 commented on #277
@verb is the kubelet clean-up PR considered part of this as an umbrella issue? or should it be tracked as a separate enhancement? Meaning it would need docs, review, tracking, etc.

[2018-10-22 21:32] kacole2 commented on #277
@verb i think it's safe to assume that it's just a small component that has no effect on this umbrella feature moving to a stage. However, any new feature going into k/k should be attached to an enhancement issue. If it needs to be tracked in some manner then open a new issue. We can go ahead and defer this issue to the next milestone for now. thanks for the prompt reply!
/milestone v1.14

[2018-10-22 21:41] dashpole commented on #606
KEP: https://github.com/kubernetes/community/pull/2454 should be merged soon, as it is approved by the required people.  Once that happens, Ill open the implementation PR, and get working on docs.  I still expect this to land in 1.13.

[2018-10-22 21:53] saad-ali commented on #615
I sync'd with SIG API Machinery last week: they said to follow up with SIG Cluster Lifecycle. I have an agenda item on the SIG Cluster Lifecycle agenda tommorow (10/23) to discuss.

My bet is that this item will not get picked up for 1.13. Will update after syncing with SIG Cluster Lifecycle tomorrow.

Regardless, as far as SIG storage is concerned we will just use the existing add on manager to i

[2018-10-23 05:06] liggitt commented on #598
work for this feature is in progress, under review, and anticipated to be completed

bugfix:
* https://github.com/kubernetes/kubernetes/pull/70087

design:
* https://github.com/kubernetes/community/pull/2737

implementation PRs:
* https://github.com/kubernetes/kubernetes/pull/67795
* https://github.com/kubernetes/kubernetes/pull/67006

[2018-10-23 11:17] k82cn commented on #583
@spiffxp , we will not land any changes to k/k; we'll implement this feature in https://github.com/kubernetes-sigs/kube-batch/ for now. We only commit design doc here (1.13), as we'll migrate it into k/k later.

[2018-10-23 16:15] timothysc commented on #615
/cc @kubernetes/sig-cluster-lifecycle

[2018-10-23 16:32] roberthbailey commented on #615
/sig cluster-lifecycle

[2018-10-23 16:53] AishSundar commented on #583
@k82cn considering the commitment for 1.13 is a design doc and not code in k/k, I suggest we stop tracking it for this release. this means we will drop /milestone v1.13 and flip /tracked to no. Let me know if you have any objection/concern regarding this.

@kacole2

[2018-10-23 16:56] AishSundar commented on #615
From the SIG Cluster meeting notes looks like it was agreed to move this out to 1.14. Is that right @saad-ali @roberthbailey @timothysc ?  If so should we be tracking any other issues/PRs as a workaround? if so @saad-ali can you point to any pending work?

[2018-10-23 19:03] AishSundar commented on #578
@soltysh I am not very clear what the exact status of this enhancement is. Looks like it did go GA in 1.12. So if what's left for 1.13 are just fixes around performance improvements, then I would rather track then via separate issues and PRs targeting 1.13 milestone, versus keeping this issue open and tracked. Let us know if thats ok and if so please open issues for the remaining work and we can a

[2018-10-23 20:46] soltysh commented on #578
I'm fine closing this in that case. Like you said we'll keep the performance tracked in separate PRs.

[2018-10-23 20:58] kacole2 commented on #578
thanks @soltysh

/milestone clear
/close

[2018-10-23 20:58] #578 closed

[2018-10-23 21:07] kacole2 commented on #583
/milestone clear

[2018-10-23 21:35] AishSundar commented on #578
Thanks @soltysh. Can you please point us to those PRs and issues in progress for the performance fixes in 1.13. We can make sure it has all the relevant labels to stay in our query radar :)

[2018-10-24 00:02] d-nishi opened #629 "aws-alb-ingress-controller alpha"
# Feature Description
- One-line feature description (can be used as a release note): The AWS ALB Ingress Controller satisfies Kubernetes ingress resources by provisioning Application Load Balancers.
- Primary contact (assignee): @M00nF1sh
- Responsible SIGs: SIG-AWS
- Design proposal link (community repo): https://github.com/M00nF1sh/community/blob/master/contributors/design-proposals/aws/alb_ing

[2018-10-24 00:03] d-nishi commented on #629
/sig aws

[2018-10-24 00:03] d-nishi commented on #629
/assign @M00nF1sh @d-nishi

[2018-10-24 00:10] d-nishi opened #630 "aws-ebs-csi-driver alpha"
# Feature Description
- One-line feature description (can be used as a release note): The Amazon Elastic Block Store CSI Driver provides a CSI interface used by Container Orchestrators to manage the lifecycle of EBS volumes.
- Primary contact (assignee): @leakingtapan
- Responsible SIGs: SIG AWS
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/2840
- Link to e2

[2018-10-24 00:10] d-nishi commented on #630
/sig aws

[2018-10-24 00:10] kacole2 commented on #629
coming in hot under the wire here :)
I know this is out of tree and there won't be any k/k merges so will track it for 1.13 for anyone that wants to follow

/milestone v1.13
/stage alpha

[2018-10-24 00:10] d-nishi commented on #630
/assign @leakingtapan @d-nishi @bertinatto

[2018-10-24 00:10] k82cn commented on #583
@AishSundar , @kacole2 , that's ok to me , thanks :)

[2018-10-24 00:12] d-nishi commented on #629
@kacole2 Thanks! :)

[2018-10-24 00:12] d-nishi commented on #630
/stage alpha

[2018-10-24 00:26] d-nishi opened #631 "external ccm cloudprovider-aws alpha"
# Feature Description
- One-line feature description (can be used as a release note): The external cloud controller manager aws would be responsible for running controllers whose function is specific to aws cloud provider functionality.
- Primary contact (assignee): @mcrute
- Responsible SIGs: SIG AWS
- Design proposal link (community repo): KEP - https://github.com/kubernetes/community/blob/maste

[2018-10-24 00:29] d-nishi commented on #631
/assign @mcrute @d-nishi

[2018-10-24 00:50] kacole2 commented on #631
@d-nishi your copy/pasta from #630 has the same descriptor

/milestone v1.13
/stage alpha

[2018-10-24 01:16] saad-ali commented on #615
I spoke with Cluster Lifecycle. They agreed that the problem needs to be addressed, and will take ownership of the project long term. But they do not have the bandwidth to address it in this release. So we can remove this from the 1.13.

Short term recommendation was to use the addon manager. I will create a PR for that and link it back to this bug.

[2018-10-24 08:52] ameukam commented on #620
@justaugustus Can i take care of this ?

[2018-10-24 10:41] justaugustus commented on #620
@ameukam -- absolutely; would love the help! Please ping me on the PR once you have a chance to work on it. :)
/assign @ameukam

[2018-10-24 10:56] justaugustus commented on #618
@kacole2 -- how are we making out with this one?

[2018-10-24 13:39] AishSundar commented on #515
@soltysh this enhancement has been  moved out of 1.13 due to lack of clarity on whats pending for this to land . We are officially in Enhancement freeze now. Should you need this added back in it will require filing an [exception](https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Fkubernetes%2Fenhancements%2Fblob%2Fmaster%2FEXCEPTIONS.md&sa=D&sntz=1&usg=AFQjCNHUX4ZR7sOLLsLQnIIxPLiz0jdTQw).

[2018-10-24 14:11] AishSundar commented on #127
@derekwaynecarr this enhancement has been moved out of 1.13 due to lack of clarity on whats pending for this to land . We are officially in Enhancement freeze now. If this is a [critical enhancement](https://github.com/kubernetes/enhancements/issues/127#issuecomment-431932517) you need added back, it will require filing an [exception](https://github.com/kubernetes/enhancements/blob/master/EXCEPTIO

[2018-10-24 16:45] d-nishi commented on #631
@kacole2 - updated. Thanks for the catch.

[2018-10-24 18:39] mrbobbytables commented on #617
This sort of falls in-line with trying to use more tooling / programmatically interact with the KEPs better, but there are many small inconsistencies with the current KEPs beyond multiple KEPs using the same number.  Some will omit attributes if empty, others will put 'N/A' or TBD. Others will sort of follow their own schema.

For tooling (and the eventual KEP website), having consistently formatt

[2018-10-24 23:17] Liujingfang1 opened #633 "integrate Kustomize into kubectl"
# Feature Description
- One-line feature description (can be used as a release note): add kustomize subcommand into kubectl
- Primary contact (assignee): Liujingfang1, monopole
- Responsible SIGs: sig-cli
- Design proposal link (community repo): [Kustomize subcommand integration](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kustomize-subcommand-integration.md)
- Reviewer(s)

[2018-10-24 23:17] Liujingfang1 commented on #633
/sig cli

[2018-10-24 23:18] Liujingfang1 commented on #633
/area kubectl
/kind feature

[2018-10-24 23:20] Liujingfang1 commented on #633
cc @soltysh @pwittrock @seans3 @juanvallejo

[2018-10-24 23:21] Liujingfang1 commented on #633
/cc @monopole

[2018-10-25 00:34] kacole2 commented on #633
@Liujingfang1 please also tag any PRs within k/k here as well to track progress

[2018-10-25 01:00] DirectXMan12 commented on #117
hey sorry, I've been out the past couple of weeks, and will likely have limited availability the next couple (GitHub needs out-of-office :-P).  I'll try and sync with @MaciekPytel and @mwielgus to make sure we're all set on the sig-autoscaling side.

[2018-10-25 02:19] Liujingfang1 commented on #633
The PR for this change https://github.com/kubernetes/kubernetes/pull/70213

[2018-10-25 02:51] Liujingfang1 commented on #633
@AishSundar Since Kustomize has been well developed in its own repo. If we enable it in kubectl, it can be GA in 1.13. The above PR is the only PR needed. I'll file an exception. Thank you.

[2018-10-25 14:39] juanvallejo commented on #578
We're tracking the sever-side implementation of "server-side printing" in https://github.com/kubernetes/enhancements/issues/515. Seeing as how this issue was tracking the client-side (kubectl) implementation, I'd like to re-open this to keep both of those efforts separate.

We have an umbrella issue open to track on-going work for this feature: https://github.com/kubernetes/kubernetes/issues/60712

[2018-10-25 14:48] AishSundar commented on #578
@juanvallejo [#515](https://github.com/kubernetes/enhancements/issues/515) is not tracked for 1.13. Do we still want the client side work to go in 1.13? Is kubernetes/kubernetes#60712 tracking all work needed for client-side kubectl or for the overall work?

@kacole2 as FYI

[2018-10-25 15:06] juanvallejo commented on #578
I don't believe we'll make 1.13. We can track that for 1.14

It tracks all of the work. We are not planning on focusing on the "Server" section any time soon. But I will make sure that "Client" items are updated to reflect current state, and point to their respective issues and PRs

[2018-10-25 15:15] nikopen commented on #578
Since this feature as a feature per se is considered 'released' and 'stable', and further improvements + fixes are on the pipeline for the near future,
you could maybe simply track this on https://github.com/kubernetes/kubernetes/issues/60712 and slate that for v1.14?

[2018-10-25 15:51] juanvallejo commented on #633
@Liujingfang1 Thanks for opening this. I think there's a few items to resolve as part of adding this feature to kubectl:

- I agree with @smarterclayton 's [comment here](https://github.com/kubernetes/kubernetes/pull/70213#discussion_r228019380) that we should come up with a name that fits in with existing commands under the kubectl command tree.
- I also think we should discuss how Kustomize as a

[2018-10-25 22:02] npentrel commented on #356
Hi @luxas, I'm Naomi working on docs for the 1.13 release. Can you please open a placeholder PR against dev-1.13 for this issue?

[2018-10-25 22:14] npentrel commented on #490
Hi @msau42, I'm Naomi and working on docs for the 1.13 release. Could you open up a docs PR against the dev-1.13 branch as a placeholder for the needed docs updates?

[2018-10-25 22:16] npentrel commented on #491
Hi @apelisse, I'm Naomi and working on docs for the 1.13 release. Could you open up a docs PR against the dev-1.13 branch as a placeholder for the needed docs updates?

[2018-10-25 22:30] kacole2 commented on #633
/milestone v1.13
/stage stable

[2018-10-25 22:47] smarterclayton commented on #633
I don't agree that this is going to stable in 1.13 until we know the status of the KEP update.

[2018-10-25 23:38] AishSundar commented on #633
@smarterclayton, based on @Liujingfang1's responses to the exception process questionnaire and assessing the risk and impact of this feature on rest of k/k, the release team is ok tracking the enhancement for 1.13.  But it's completely upto the SIG and all of you to decide whether its ready for  GA in this timeframe.

We have decided to timebox the development and and check back on the status of t

[2018-10-26 12:40] soltysh commented on #633
I'll second Clayton and Juan's concerns here. We need to update the KEP to match naming scheme within all of `kubectl` and secondly the linked PR **must** strictly follow the patterns all of CLI-related PRs are required to get merged.

[2018-10-26 12:41] soltysh commented on #633
Finally, even though this command was developed and stabilized in external repo this cannot enter `kubectl `as stable, every change has to go through all 3 stages, it can happen fast (promoting in the next two subsequent releases), but we can't skip that.

[2018-10-26 13:29] kobozo commented on #559
@bungder Did you found a solution to this? I have the same issue

[2018-10-26 14:01] soltysh commented on #515
@AishSundar sorry for getting to it that late, I'm fine moving it further. We're still working on other related stuff, so this will not go into stable in 1.13. We need 100% confidence before we do so, that's why I removed any version from stable stage in the original description.

[2018-10-26 14:07] AishSundar commented on #515
Ack that and thanks @soltysh

[2018-10-26 15:59] AishSundar commented on #633
looks like the SIG is still not entirely onboard with this feature going in 1.13. Since this is a "stability" release, the release team is not comfortable accepting another Alpha enhancement, especially if it still has open questions. At this point, we are going to stop tracking it for 1.13 due to lack of consensus on the feature readiness within the SIG. Please add it to 1.14 or future milestones

[2018-10-26 21:51] krmayankk commented on #213
@AishSundar need to see if there is unit and e2e coverage that need to be improved. No more new features are needed as far as i see. PR's are not yet ready

[2018-10-27 10:19] justaugustus opened #635 "Encourage per SIG blockades of design proposal directories"
Related: https://github.com/kubernetes/test-infra/pull/9434

Instead of a wholesale blockade, we'd like to instead have individual SIGs collate their design proposals and convert them to KEPs, as appropriate.

[2018-10-29 00:12] AishSundar commented on #11
@timothysc could you please provide a more latest update on the status of Kubeadm for GA in 1.13. Specifically around

(i) how many and which PRs (code and test) are pending
(ii) latest status of docs and links to docs PR
(iii) Status of [failing kubeadmn tests](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-stable-on-master&show-stale-tests=) in master blocking

With cod

[2018-10-29 09:01] bungder commented on #559
@kobozo Sorry, I didn't. I gave up using this feature. If you find any way to solve this, please add a comment to this issue.

[2018-10-29 11:12] justaugustus commented on #635
/sig pm
/kind feature

[2018-10-29 11:45] neolit123 commented on #11
this should have green runs today.

[2018-10-30 00:17] bsalamat commented on #564
/remove-lifecycle stale

[2018-10-30 16:33] apelisse commented on #491
@npentrel Where should I open the PR (which repo?) and what should be the content (what do you mean placeholder)? Thanks!

[2018-10-30 16:51] shubheksha commented on #598
https://github.com/kubernetes/kubernetes/pull/67521 has been closed in favour of https://github.com/kubernetes/kubernetes/pull/70211

[2018-10-30 18:29] timothysc commented on #11
@AishSundar I wish it were that simple.  There are a number of PRs in flight and most of the docs will be minor changes.  Progress is good, but I probably won't have a good answer for you until ~ next week.  Almost all of the work is not "net-new" features but cleanup and bug fixes in shuffling for GA, which will likely span into slush.

[2018-10-30 23:05] AishSundar commented on #11
Ack that @timothysc and thanks for the update and consolidating all the Kubeadm GA work under this issue. We will check back once in slush.

[2018-10-31 02:42] justaugustus commented on #635
/assign

[2018-10-31 12:52] nikhita commented on #571
This feature is going to remain in beta for 1.13. Listing changes to this feature between 1.12 and 1.13 so that it's easier to track for anyone following along (will update this list if anything else comes up):

1. The  behaviour of how the `.metadata.generation` value of a custom resource is incremented has been changed in https://github.com/kubernetes/kubernetes/pull/69059. https://github.com/ku

[2018-10-31 19:22] juanvallejo commented on #579
Docs update: https://github.com/kubernetes/website/pull/10796

[2018-10-31 19:52] pbarker commented on #600
@tallclair is the main reviewer on this, but he will be in kubecon this next week so I wanted to give a quick update on what where we are here. The plugins PR kubernetes/kubernetes#70021 is very close to merging, should have that done by EOW. Changes made to the plugins piece has made it possible to simplify the handlers kubernetes/kubernetes#67257, those changes should be out today. Finally, ther

[2018-10-31 20:25] npentrel commented on #491
The PR should be opened against [kubernetes/website](https://github.com/kubernetes/website) and the branch`dev-1.13`. Let me know once you've created that and I will add it to the tracking sheet! Thanks!

[2018-10-31 20:35] apelisse commented on #491
Is that good: https://github.com/kubernetes/website/pull/10789?

[2018-10-31 21:14] npentrel commented on #491
Perfect, thanks!

[2018-11-01 22:18] tfogo commented on #555
Hi @lavalamp and @apelisse, I'm the docs wrangler for the 1.13 release. Could you please open a placeholder PR for the docs for this enhancement against the `dev-1.13` branch of k/website and send me a link? If you already have a docs PR open, or if this doesn't require docs in k/website, please let me know.

The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to

[2018-11-01 22:29] tfogo commented on #598
Hi @mbohlool @deads2k @liggitt, I'm the docs wrangler for the 1.13 release. Could you please open a placeholder PR for the docs for this enhancement against the `dev-1.13` branch of k/website and send me a link? If you already have a docs PR open, or if this doesn't require docs in k/website, please let me know.

The deadline for placeholder PRs for the 1.13 release is November 8. So it's importan

[2018-11-01 22:33] tfogo commented on #606
Hi @dashpole , I'm the docs wrangler for the 1.13 release. Could you please open a placeholder PR for the docs for this enhancement against the `dev-1.13` branch of k/website and send me a link? I see you're waiting for a PR to be merged, but a placeholder is all we need at this point.

The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon

[2018-11-01 22:35] dashpole commented on #606
@tfogo, does this one still work? https://github.com/kubernetes/website/pull/9945

[2018-11-01 22:37] tfogo commented on #606
@dashpole Oh that's perfect, thanks. I missed that, sorry.

[2018-11-01 22:40] tfogo commented on #625
Hi @davidz627 and @ddebroy, do you think we will be able to land this in 1.13? Please keep in mind this release has an aggressive timeline and we should only include it if you're confident it will meet the deadlines @kacole2 outlined above. Thanks!

[2018-11-01 22:42] tfogo commented on #625
Also, I'm assuming this enhancement won't need any documentation updates on k/website since it's an internal change. Please let me know if we will need documentation. Thanks!

[2018-11-01 22:44] tfogo commented on #626
Hi @fanzhangio , I'm the docs wrangler for the 1.13 release. Could you please open a placeholder PR for the docs for this enhancement against the `dev-1.13` branch of k/website and send me a link? If this doesn't require docs in k/website, please let me know.

The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon as possible.

If you have

[2018-11-01 22:48] apelisse commented on #555
@tfogo Thanks for your help! I created it here: https://github.com/kubernetes/website/pull/10812

[2018-11-01 23:30] tfogo commented on #166
Hi @Huang-Wei @davidopp @ravisantoshgudimetla , I'm the docs wrangler for the 1.13 release. Could you please open a placeholder PR for the docs for this enhancement against the `dev-1.13` branch of k/website and send me a link? If you already have a docs PR open, or if this doesn't require docs in k/website, please let me know.

The deadline for placeholder PRs for the 1.13 release is November 8.

[2018-11-01 23:32] Huang-Wei commented on #166
@tfogo there is already a docs PR: https://github.com/kubernetes/website/pull/10765.

It's being reviewed right now. cc/ @k82cn @bsalamat @ravisantoshgudimetla that

[2018-11-02 00:09] tfogo commented on #351
@wongma7 I rebased this docs PR to `dev-1.13` and reopened it for you. Are you okay to use that PR for the docs for this? https://github.com/kubernetes/website/pull/10100

[2018-11-02 14:02] wongma7 commented on #351
@tfogo yes, thanks! will be working on it shortly, k/k pr is awaiting approval

[2018-11-02 20:30] davidz627 commented on #625
@tfogo no documentation required. It's looking like we wont hit our 1.13 target and will target 1.14 instead.

[2018-11-02 22:43] PatrickLang commented on #116
@michmike can you link this for tracking docs? https://github.com/kubernetes/website/pull/10875

[2018-11-03 21:20] tfogo commented on #166
@Huang-Wei Awesome thanks!

[2018-11-03 21:34] tfogo commented on #565
Hi @vladimirvivien , Will this need a docs PR?

The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon as possible if needed.

If you have any questions about any of this, I'm happy to help. You can also message me on slack (I'm tfogo there too). 😀

Thanks! ✨

[2018-11-03 21:39] tfogo commented on #576
Hi @apelisse, could you please open a placeholder PR for the docs for this enhancement against the `dev-1.13` branch of k/website and send me a link? If you already have a docs PR open, or if this doesn't require docs in k/website, please let me know.

The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon as possible.

If you have any ques

[2018-11-03 21:45] tfogo commented on #586
Hi @feiskyer, will there be any updates to the docs necessary for 1.13? The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon as possible if needed.

[2018-11-03 21:47] tfogo commented on #593
Hi @bsalamat, will there be any updates to the docs necessary for 1.13? The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon as possible if needed.

[2018-11-03 21:56] tfogo commented on #604
Hi @feiskyer, will there be any updates to the docs necessary for 1.13? The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon as possible if needed.

[2018-11-03 23:36] tfogo commented on #622
Hi @spiffxp! Is there anywhere in the docs we'll need to update due to this?

[2018-11-04 02:53] apelisse commented on #576
Thanks @tfogo, there it is: https://github.com/kubernetes/website/pull/10881

[2018-11-04 03:13] tfogo commented on #576
Thanks!

[2018-11-05 16:38] guineveresaenger commented on #555
Hi @lavalamp and @apelisse - I'm Enhancements Shadow for 1.13. Reading through this thread and considering the method of tracking this feature, could you please update the release team with the likelihood of this enhancement making the 1.13 release?

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-05 16:50] jimangel commented on #178
@saad-ali will there be any updates to the docs necessary for 1.13? The deadline for placeholder PRs for the 1.13 release is November 8. So it's important to make a docs PR as soon as possible if needed. Thanks! cc @idvoretskyi @AishSundar @tfogo

[2018-11-05 16:52] claurence commented on #304
Hi @aniket-s-kulkarni - I'm an enhancements shadow checking in on how this issue is tracking.  Code slush is on 11/9 and code freeze is coming up on 11/15 do you have a status update on the likelihood that this will make the the code freeze date?

[2018-11-05 16:55] AishSundar commented on #604
@feiskyer is this still on track for 1.13? is there any pending PR for this for 1.13 - code, docs ? We are fast approaching Code slush (11/9) and Code freeze (11/16)

[2018-11-05 17:01] claurence commented on #351
Hi @childsb @wongma7 -I'm an enhancements shadow checking in on this issue - sounds like progress is being made - as an FYI code slush is 11/9 and Code freeze is 11/15 - any concerns about making those dates

[2018-11-05 17:30] aniket-s-kulkarni commented on #304
@claurence the PR was merged in last week. There is a documentation PR open that I will comment on today so that would be on its way as well.

[2018-11-05 17:33] guineveresaenger commented on #531
@wongma7 I'm Enhancements Shadow for 1.13. Could you please update the release team with the likelihood of this enhancement making the 1.13 release?

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-05 17:39] guineveresaenger commented on #490
Hi @msau42 - I'm Enhancements Shadow for 1.13. Could you please update the release team with the likelihood of this enhancement making the 1.13 release? When we don't see any updates in a few days, we would appreciate an update.

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-05 18:01] apelisse commented on #555
Hi @guineveresaenger, there are still chances that we miss the release, but we're doing everything we can to have a high-quality alpha feature in 1.13!

[2018-11-05 18:46] claurence commented on #178
Hi @saad-ali I'm an enhancements shadow checking in on how this issue is tracking. Code slush is on 11/9 and code freeze is coming up on 11/15 do you have a status update on the likelihood that this will make the the code freeze date?

[2018-11-05 20:34] msau42 commented on #490
Yes, this is on track to meet code freeze.

e2e PR is close to being merged:
https://github.com/kubernetes/kubernetes/pull/70362

I will open up the feature gate PR this week.

[2018-11-05 21:20] vladimirvivien commented on #565
@tfogo Yes, there will be a doc update for this.  I will create one ASAP as a place holder.

[2018-11-05 21:32] vladimirvivien commented on #565
@tfogo For this block PR, there will not be any doc update.

[2018-11-05 21:33] vladimirvivien commented on #565
This feature will remain alpha in 1.13
/remove-stage beta
/stage alpha

[2018-11-05 21:35] vladimirvivien commented on #565
@kacole2 this feature will remain alpha for 1.13
/milestone v1.14

[2018-11-05 21:35] vladimirvivien commented on #565
/remote-milestone v1.13

[2018-11-05 21:47] vladimirvivien commented on #626
@tfogo thanks. We'll make sure there is documentation ready.

[2018-11-06 01:16] feiskyer commented on #604
@AishSundar No docs required, thanks

[2018-11-06 03:33] msau42 commented on #178
Tasks for 1.13:

- [ ] Docs  https://github.com/kubernetes/website/pull/10893
- [ ] CSI volume source and Volume Attachment to GA: https://github.com/kubernetes/kubernetes/pull/69929
- [ ] Device plugin to GA: https://github.com/kubernetes/kubernetes/pull/70559
- [x] Kubelet plugin unregistration: https://github.com/kubernetes/kubernetes/pull/70548
- [ ] Move CSI spec to 1.0

We are still on track

[2018-11-06 10:37] claurence commented on #213
@krmayankk I'm an enhancements shadow checking in on how this issue is tracking. Code slush is on 11/9 and code freeze is coming up on 11/15 do you have a status update on the likelihood that this will make the the code freeze date?

[2018-11-06 14:31] ameukam commented on #630
Hi @d-nishi and @leakingtapan, I'm Enhancements Shadow for 1.13. Could you please update the release team with the progression of this enhancement for the 1.13 release?

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-06 14:33] ameukam commented on #631
Hi @d-nishi and @mcrute, I'm Enhancements Shadow for 1.13. Could you please update the release team with the progression of this enhancement for the 1.13 release?

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-06 14:35] ameukam commented on #629
Hi @d-nishi and @M00nF1sh, I'm Enhancements Shadow for 1.13. Could you please update the release team with the progression of this enhancement for the 1.13 release?

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-06 17:05] d-nishi commented on #629
@ameukam here are the details of our progress:
1. code is ready.
2. CI signal is visible in https://testgrid.k8s.io/sig-aws-alb-ingress-controller
3. Docs are updated here: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/tree/master/docs

What else do you need for us to show?

[2018-11-06 17:11] feiskyer commented on #586
No docs are required in this release. Thanks.

[2018-11-06 17:29] claurence commented on #116
@PatrickLang I'm an enhancements shadow checking in on this issue - sounds like progress is being made for this issue - as an FYI code slush is 11/9 and Code freeze is 11/15 - any concerns about making those dates

[2018-11-06 19:08] claurence commented on #166
@Huang-Wei -I'm an enhancements shadow checking in on this issue - sounds like progress is being made - as an FYI code slush is 11/9 and Code freeze is 11/15 - any concerns about making those dates

[2018-11-06 19:14] Huang-Wei commented on #166
@claurence We're trying to enhance one final e2e test. Right now we have PR https://github.com/kubernetes/kubernetes/pull/70681 ongoing, and it's the plan A. If its changes is too aggressive or can't make the date, we also have a plan B PR.

So generally I'm optimistic on making the 11/15 date.

[2018-11-06 21:11] bsalamat commented on #593
@tfogo Thanks for the reminder. There is no need for updating documents in 1.13.

[2018-11-06 22:43] bgrant0607 commented on #116
There is concern about whether conformance testing will be ready, given that we just became aware of this on Thursday.
cc @jdumars @spiffxp

[2018-11-07 00:00] PatrickLang commented on #116
@claurence thanks for checking. We are bringing tests online (Azure & GCE) and working through the docs  now. The PR queue other than docs and a test changes in review is empty so we're on track from a code standpoint.

[2018-11-07 00:01] AishSundar commented on #116
@PatrickLang can you plz point us to Docs and test PRs plz

/cc @tfogo

[2018-11-07 00:06] PatrickLang commented on #116
@AishSundar - my master tracking board is here: https://github.com/PatrickLang/k8s-project-management/projects/1
That has links to doc PR  kubernetes/website#10875 as well as test PRs

[2018-11-07 14:29] claurence commented on #596
Hi @vladimirvivien  I'm an enhancements shadow checking in on how this issue is tracking - looks like lots of activity in the K/K PR. Code slush is on 11/9 and code freeze is coming up on 11/15 are you confident this issue will make those dates?

[2018-11-07 14:37] claurence commented on #600
Hi @tallclair @pbarker I'm an enhancements shadow checking in on how this issue is tracking. Last comment stated it was close to merging. Code slush is on 11/9 and code freeze is coming up on 11/15 do you still feel confident this will make those dates?

[2018-11-07 14:54] michmike commented on #116
#10875

[2018-11-07 15:47] claurence commented on #11
@timothysc Hi I'm an enhancements shadow for 1.13 - checking in on progress for this issue.  Code slush is 11/9 and Code freeze is 11/15, is this issue still on track for those milestones?  Thanks!

[2018-11-07 15:51] AishSundar commented on #625
@davidz627 and @saad-ali is it safe to move this out to 1.14? if so I can do that.

[2018-11-07 15:52] AishSundar commented on #565
/milestone v1.14

[2018-11-07 16:10] ameukam commented on #603
Hi @jsafrane, I'm Enhancements Shadow for the 1.13 release. As asked by @AishSundar can you please mention the remaining PRs for this enhancement so the Release Team can have a follow up ?

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-07 16:20] msau42 commented on #603
The pending PRs are:

- [ ] E2E test: https://github.com/kubernetes/kubernetes/pull/70439
- [ ] Move CSIDriver object to beta: https://github.com/kubernetes/kubernetes/pull/70367
- [ ] Docs

cc @bertinatto

[2018-11-07 20:22] mcrute commented on #631
@ameukam the current state of this is:

1. Code is complete and being tested
2. CI signal is WIP
3. Docs are WIP

Do we need to show anything else?

[2018-11-07 22:38] kacole2 commented on #586
@feiskyer is there a k/k PR we should be tracking yet going into code slush?

[2018-11-07 22:47] kacole2 commented on #594
@jsafrane are there any PRs we should be tracking as we approach slush? kubernetes/kubernetes#69462 and any others?

[2018-11-08 02:35] AishSundar commented on #566
Thanks @fturib for the confirmation. @rajansandeep once you have the doc PRs plz link them here as well. Thanks.

[2018-11-08 15:46] kacole2 commented on #589
@wangzhen127 looks like there is steady progress on these k/k issues. Is https://github.com/kubernetes/test-infra/pull/9942 the last one? Any other issues that should be tracked to make sure everything is firm going into code slush tomorrow 11/9?

[2018-11-08 15:51] kacole2 commented on #606
@dashpole I see the KEP is still open and there are no code PR currently in flight. Code Slush begins tomorrow. Are we sure we don't want to  punt this to 1.14?

[2018-11-08 15:54] kacole2 commented on #213
@krmayankk can you please drop in a link to the unit and e2e coverage tests that are being improved as a part of this release?

[2018-11-08 15:58] kacole2 commented on #351
@wongma7 there hasn't been any progress on https://github.com/kubernetes/kubernetes/pull/65829 for about 7 days. Do we feel confident it's going to merge by tomorrow since that's the beginning of code slush?

[2018-11-08 17:31] wangzhen127 commented on #589
https://github.com/kubernetes/kubernetes/pull/70034 is the last one. Should be able to submit by 11/9.

https://github.com/kubernetes/test-infra/pull/9942 is to update the CI job to cover node lease tests. It is not blocking the feature and I don't think it needs to be submitted by 11/9. I plan to submit this test-infra PR next week.

And I will submit the doc PR https://github.com/kubernetes/webs

[2018-11-08 17:54] wongma7 commented on #351
@kacole2 @claurence yes, just needs final review from approvers. brought it up in meeting today and they will be looking at it.

[2018-11-08 18:55] ravisantoshgudimetla opened #637 "Promote ResourceLimits to beta"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs: /sig scheduling
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- Ap

[2018-11-08 18:56] ravisantoshgudimetla commented on #637
/sig scheduling

[2018-11-08 19:35] rajansandeep commented on #566
@AishSundar The PR is here. https://github.com/kubernetes/website/pull/10923

[2018-11-08 19:36] kacole2 commented on #11
@timothysc can you drop in a list of PRs we should be tracking for Kubeadm going GA? Thanks!

[2018-11-08 19:45] ameukam commented on #631
@mcrute Thank you for the update! Please can you add the links for the CI Signal and the Docs ?

[2018-11-08 19:51] neolit123 commented on #11
the issue is on track, yes.

kubeadm labels are auto-applied to our PRs, too many to log and track on our side:
https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+is%3Aopen+label%3Aarea%2Fkubeadm

as explained in a release team meeting these are our 2 GA items:

the list in here is a critical one:
https://github.com/kubernetes/kubeadm/issues/1163

this is for the kubeadm config:
https://gith

[2018-11-08 20:42] AishSundar commented on #566
@tfogo

[2018-11-08 22:34] AishSundar commented on #116
Thanks @PatrickLang. Would you be able to join our 1.13 RT burndown meeting, either Monday or Wednesday of next week at 10am PST,  to give a more latest update as we near Code freeze?

[2018-11-08 23:57] PatrickLang commented on #116
@AishSundar sure - I can join Wednesday. Can you point me to the meeting details (notes/zoom link)? I don't see it on the kubernetes shared iCal list.

cc @michmike ^^

[2018-11-09 01:17] AishSundar commented on #116
Meeting notes : http://bit.ly/k8s113-minutes
Zoom: https://zoom.us/j/611312756

[2018-11-09 01:59] fanzhangio commented on #626
#68761

[2018-11-09 02:00] vladimirvivien commented on #626
Documentation PR - https://github.com/kubernetes/website/pull/10932

[2018-11-09 02:10] vladimirvivien commented on #596
Doc - https://github.com/kubernetes/website/pull/10934

[2018-11-09 02:19] bswartz commented on #565
@kacole2 Can you set the milestone back to v1.13 please?

[2018-11-09 03:34] kacole2 commented on #565
@bswartz Code Slush begins tomorrow. is kubernetes/kubernetes#68635 the only PR to track?

[2018-11-09 03:44] AishSundar commented on #565
+1 to what @kacole2 said above. We are approaching Code slush tomorrow and Code freeze in a week. I am very apprehensive increasing the scope at this point. Before we put this back on 1.13,  can you please let us know all pending PRs (code, test and docs) that need to merge for this in next week?

[2018-11-09 03:47] AishSundar commented on #596
@tfogo for docs PR

[2018-11-09 06:11] krmayankk commented on #213
@claurence @kacole2 there are no additional PR's that i already initiated. So 11/9 wont be possible. Will update with PR links in a week.

[2018-11-09 12:14] tfogo commented on #213
Hi @krmayankk I just wanted to follow up about this docs PR: kubernetes/website#10076

You mentioned the documentation was meant for 1.12, but the code didn't merge in time. Does that mean that kubernetes/website#10076 should be reverted?

[2018-11-09 15:39] vladimirvivien commented on #565
@kacole2 @AishSundar I removed this feature from tracking because of lack of time and resources.  However, now that @bswartz has volunteered to continue the work, I think we are in good shape to take this feature to beta.

In summary this feature is ready
- Only PR related to this feature - kubernetes/kubernetes#68635
- Tests for the feature is documented on PR here - https://github.com/kubernetes

[2018-11-09 17:52] fanzhangio commented on #626
@kacole2 Yes, this feature is changed to relating to in-tree vSphereVolume. The implementation PR https://github.com/kubernetes/kubernetes/pull/68761 has been merged recently. Sorry for any confusion.

[2018-11-09 19:33] AishSundar commented on #606
@dashpole we see the KEP kubernetes/community#2454  is still open for this enhancement and we dont see an open implementation PR.  With Code slush coming in today and Code freeze next week, we feel its too late to wrangle all this in and stabilize in time for Code freeze in 1.13 timeframe. At this point Release team is looking to move this to 1.14 and give more time to stabilize.

Let us know what

[2018-11-09 19:41] dashpole commented on #606
@AishSundar ack.  Ill see if we can resolve the last outstanding issue today.  The implementation PR is actually out: https://github.com/kubernetes/kubernetes/pull/70508, but there is still one point of discussion to be worked out before that can go in.  If it isn't resolved by eod Monday, we can move this out of the milestone.

[2018-11-09 20:04] AishSundar commented on #606
Thanks so much @dashpole for helping us timebox this :)

[2018-11-09 21:57] wongma7 commented on #531
@guineveresaenger update, after the sig-storage meeting yesterday, decision was made to delay this alpha->beta promotion another release because there is some concern a bug similar to one that was discovered recently could affect this feature (cc @gnufied @mlmhl )

[2018-11-09 23:14] d-nishi commented on #629
/kind feature

[2018-11-09 23:14] d-nishi commented on #630
/kind feature

[2018-11-09 23:15] d-nishi commented on #631
/kind feature

[2018-11-10 01:44] AishSundar commented on #565
Thanks, as usual, for your detailed update @vladimirvivien. I am still a bit concerned about the amount of work and available time. I will sync back on latest status  next Tuesday to make a Go/NoGo call.

@tfogo as FYI on the docs PR above

[2018-11-10 01:54] AishSundar commented on #213
```there are no additional PR's that i already initiated. So 11/9 wont be possible. Will update with PR links in a week.```

@krmayankk are you saying there are no PRs in-progress for this enhancement yet? or are all code PRs merged already?

We already entered Code slush today for 1.13 and Code freeze is coming up in a week (11/16). Having PRs opened next week (or) in a week will be too late for

[2018-11-10 02:02] AishSundar commented on #555
@apelisse can we please time-box the Go/NoGo decision to Wednesday (11/14) next week. At this point in the cycle we expect all 1.13 enhancements to have all code and test PRs either merged or very close to merging. I understand this feature is being developed in a feature branch. But with Code freeze next Friday (11/16), we need to merge it into master atleast by early Wednesday to get stable CI s

[2018-11-10 02:10] AishSundar commented on #626
@vladimirvivien @fanzhangio can you plz confirm if we are waiting on any more PRs for this enhancement (other than the docs one)?

[2018-11-10 21:08] RenaudWasTaken commented on #606
If this can help build confidence on this feature in 1.13, overall for GPUs (since this is the main accelerator that will be enabled by this) there are no major issues with the KEP and we support the availability of this feature in 1.13.

POCs have been built and shows that this KEP enables monitoring agents to expose Pod level metrics to the end users (e.g: using the NVIDIA monitoring tools adapt

[2018-11-11 02:52] lavalamp commented on #555
We found a couple bugs at the last second so we will merge this as the first thing for 1.14 when master opens.

[2018-11-11 02:59] AishSundar commented on #555
Thanks for the update @lavalamp.

@kacole2 @tfogo @marpaia @kbarnard10 as FYI

[2018-11-11 03:08] AishSundar commented on #606
@RenaudWasTaken thanks for clarification, I see the KEP is approved now (pending merge though). As mentioned earlier as long as the open PR kubernetes/kubernetes#70508 is merged early this week to help us watch CI stability for a few runs we should be good for 1.13.

[2018-11-12 00:19] AishSundar commented on #11
@timothysc @neolit123 can one of you attend the Release burndown meeting next week (Mon, Wed or Fri) to give the latest update on Kubeadm GA.

[2018-11-12 02:06] AishSundar commented on #490
@msau42 is the [e2e test PR](kubernetes/kubernetes#70362) the only pending PR for this enhancement? Is there a feature gate PR open?

[2018-11-12 02:13] AishSundar commented on #491
@npentrel and @apelisse could you provide the latest status on this please? The last update was quite a while before and I dont see any active progress post that. Please list any pending PRs (code, test and doc) needed for 1.13 and ETA for those to be merged. We are nearing Code freeze ths Friday 11/16 and we would like all PRs merged early this week to watch and stabilize the feature.

Please let

[2018-11-12 02:36] AishSundar commented on #586
From offline sync with @feiskyer, all PRs needed to go into k/k are done. Tests are being developed in a standalone repo  https://github.com/kubernetes/cloud-provider-azure and are not bound by Code freeze

[2018-11-12 02:53] AishSundar commented on #595
@vladimirvivien can I plz know the latest status on this for 1.13. I see quite a few PRs pending in kubernetes/kubernetes#69015. With Code freeze approaching this Friday 11/16, I am afraid its too little time for all the changes. Could you plz provide a list of pending PRs tracking for 1.13?

[2018-11-12 02:58] AishSundar commented on #598
@liggitt looks like this enhancement is complete for 1.13 from code and test perspective, but I still dont see any Docs PR for this.  Can you please help open / point us to one since we are nearing Docs deadline soon .

[2018-11-12 02:59] liggitt commented on #598
On @mbohlool's list tomorrow

[2018-11-12 03:04] AishSundar commented on #600
@pbarker we are already in slush and fast approaching Code freeze for 1.13 this friday 11/16.  Do you think this feature is still on track for 1.13?

Are kubernetes/kubernetes#67257 and kubernetes/kubernetes#69902 the only PRs we are tracking. I am more concerned about the latter merging soon. We would like for all pending work to be completed early this week, giving us atleast a couple fo days to

[2018-11-12 03:09] pbarker commented on #600
Hey @AishSundar and @claurence, we just merged the big piece on friday. The next PR https://github.com/kubernetes/kubernetes/pull/67257 isn't that large and I've already had a number of people look it over. This should go quick, then we just need the integration https://github.com/kubernetes/kubernetes/pull/69902 which should be very easy as well. I think we're on track but I would be happy to tak

[2018-11-12 03:09] AishSundar commented on #603
@msau42 @jsafrane  we are already in slush and fast approaching Code freeze for 1.13 this friday 11/16. Do you think this feature is still on track for 1.13?

I see both the PRs listed above is active review state and  I am more concerned about things splling into freeze.  We would like for all pending work to be completed early this week (EOD Wednesday), giving us atleast a couple fo days to watc

[2018-11-12 03:14] AishSundar commented on #600
Thanks @pbarker I added some missing labels to the PRs (we need /sig, kind, priority, and milestone) to merge. Let mee check back on wednesday for latest status and Go/NoGo for 1.13. thanks

[2018-11-12 03:17] AishSundar commented on #603
Also can you plz point us to the draft Docs PR?

[2018-11-12 03:17] apelisse commented on #576
@AishSundar Correct!

[2018-11-12 03:18] apelisse commented on #491
Hey @AishSundar, I consider this feature complete for a while now, I'll send another PR early next week with an extra test to make sure everything works fine, and also there is the documentation PR open, but we're good to go!

[2018-11-12 03:35] AishSundar commented on #598
Cool. @mbohlool please link the docs PR here so we can track it as well.

[2018-11-12 03:40] AishSundar commented on #622
@spiffxp do we want to include this in docs? if so can you point us to the PR plz/

[2018-11-12 04:39] AishSundar commented on #178
@saad-ali @msau42 I understand you are working actively on getting this to GA. I see the 2 open PRs are close, but is there a tracking issue for the 1.0 spec?

Can either of you attend Release burndown meeting (Zoom: https://zoom.us/j/611312756) this Wedsnesday (11/14)? We would like the discuss the latest update Go/No-GO for 1.13. Thanks

[2018-11-12 04:48] AishSundar commented on #594
@jsafrane We are fast approaching Code freeze for 1.13 (11/6). I see kubernetes/kubernetes#69462 is still in active review. I also see atleast 3 more PRs referenced in kubernetes/kubernetes#69462? Are you confident of wrangling this by Wednesday this week giving us a couple of days to watch CI? If not please work with the release team to move this out to 1.14 sooner than later. thanks.

[2018-11-12 04:53] AishSundar commented on #596
@vladimirvivien @saad-ali could you plz provide the latest update on this enhancement and status for 1.13 please. Is kubernetes/kubernetes#68232 is the only pending PR (code snd test).

[2018-11-12 05:09] AishSundar commented on #565
Synced with @davidz627 offline. This is now punted to 1.14. No revert / rollback needed in k/k because feature is being developed on a separate branch to enable atomic commit for the feature when it's ready

@kacole2 @tfogo

[2018-11-12 05:30] k82cn commented on #166
I think we need to keep this open until it GAed.

[2018-11-12 05:43] AishSundar commented on #166
Oh yes wee will keep this open, but no PR pending for going Beta in 1.13, right?

[2018-11-12 06:32] RenaudWasTaken commented on #595
Hello @AishSundar !

There are only two PRs pending:
- https://github.com/kubernetes/kubernetes/pull/70559
   - Which is only missing approval, I believe we'll bring this up in Tuesday's sig-node
- https://github.com/kubernetes/kubernetes/pull/70494
   - Which only needs us to choose an option
   - Whatever option is chosen, code changes will be minimal

In both case I believe the deadline of Frid

[2018-11-12 09:53] nikopen commented on #626
This PR hasn't had much progress in the last weeks: https://github.com/kubernetes/kubernetes/pull/67465

@fanzhangio I suppose it's required, are you sure it's gonna make it in the following 5-10 days?

[2018-11-12 15:03] msau42 commented on #490
I updated the checklist above. Just docs are remaining

[2018-11-12 15:07] msau42 commented on #603
cc @wongma7

[2018-11-12 15:44] vladimirvivien commented on #595
@AishSundar as @RenaudWasTaken mentioned we have an approved PR (which needs rebase) and an additional PR which should get resolved early this week.  All other PR's have been resolved or merged.  We are tracking this to be in by code freeze this Friday.  Thank you for addressing this.

[2018-11-12 15:57] neolit123 commented on #11
i can try joining today.

update on docs:
for GA we only need 2 docs PRs, one already merged and one is a WIP placeholder, TBD before 19th:
https://github.com/kubernetes/website/issues/10937#issuecomment-437907394

[2018-11-12 17:54] Huang-Wei commented on #166
@AishSundar we're good for going Beta in 1.13.

[2018-11-12 18:17] davidz627 commented on #565
@AishSundar sorry I was not referring to this PR. I thought you had linked the CSI Migration PR. I have no context on this one

[2018-11-12 18:35] saad-ali commented on #565
@AishSundar this is unrelated to the feature @davidz627 discussed with you.

This quarter sig-storage had a goal to move Block storage from alpha to beta (https://github.com/kubernetes/enhancements/issues/351). A sub project was to also move the CSI implementation of Block storage from alpha to beta.

Initially we didn't have enough resources for moving CSI block so we asked for it to be removed f

[2018-11-12 18:47] AishSundar commented on #565
@bswartz @saad-ali My bad. I meant to move https://github.com/kubernetes/enhancements/issues/625 out and update this one instead. Thanks for catch this. This issue is now back in 1.13 :)

@bswartz is there a link to the e2e test PR and are we confident of getting it in this week ?

[2018-11-12 18:47] AishSundar commented on #625
Synced with @davidz627 offline. This is now punted to 1.14. No revert / rollback needed in k/k because feature is being developed on a separate branch to enable atomic commit for the feature when it's ready

@kacole2 @tfogo

[2018-11-12 19:52] kacole2 commented on #626
@vladimirvivien do you know which enhancement issue kubernetes/kubernetes#67465 should be attached to? Thanks for letting me know about the mix up. I'll make adjustments in the sheet. This one is all GTG!

[2018-11-12 20:33] aniket-s-kulkarni commented on #304
@AishSundar yes that's correct. I think we can close this.

[2018-11-12 20:33] aniket-s-kulkarni commented on #304
/close

[2018-11-12 20:35] AishSundar commented on #304
/reopen

@aniket-s-kulkarni thanks for conforming all work pertaining to Alpha in 1.13 is done. But we would like to keep this enhancement issue open for tracking through Beta and GA in future milestones.

[2018-11-12 21:02] aniket-s-kulkarni commented on #304
@AishSundar OK I see.

[2018-11-12 21:56] vladimirvivien commented on #626
@kacole2 #67465 will not be attached to any enhancement for 1.13.  We will revisit in 1.14.

[2018-11-13 18:14] kacole2 commented on #213
This is being pulled from the 1.13 milestone. Will revisit if it will be on 1.14 or not during the next cycle

/milestone clear

[2018-11-13 18:17] kacole2 commented on #594
@jsafrane @hoegaarden @vladimirvivien There hasn't been any progress on kubernetes/kubernetes#69462 in a long time. Should we punt this out to 1.14?

[2018-11-13 19:11] mbohlool commented on #598
Done: https://github.com/kubernetes/website/pull/10986

[2018-11-14 01:33] msau42 commented on #594
PR to add a CRD installation mechanism: https://github.com/kubernetes/kubernetes/pull/70780/

I just discussed with @saad-ali and @davidz627 and we decided we're going to keep this feature in alpha for this release.  We want to focus on CSI GA instead.

[2018-11-14 01:35] msau42 commented on #603
I just discussed with @saad-ali and @davidz627 and we decided to not move to beta this release, and instead focus on CSI GA.

I've updated this [comment above](https://github.com/kubernetes/enhancements/issues/603#issuecomment-436682097) with all the tasks we need to do for beta.

[2018-11-14 01:37] msau42 commented on #594
These are the tasks we need to do to go to beta:

- [ ] Update known deployment tools to enable the CSI CRD install addon
- [ ] Update addon to install v1beta1 CRDs (chicken and egg with kubernetes/kubernetes#70367?)

[2018-11-14 01:53] AishSundar commented on #594
@kacole2 to move this out of 1.13 for Beta. Thanks

[2018-11-14 01:55] AishSundar commented on #603
@kacole to move this out of tracking for 1.13

@tfogo, @marpaia and @kbarnard10 to remove it from their updates respectively

[2018-11-14 01:55] AishSundar commented on #594
@tfogo, @marpaia and @kbarnard10 to remove it from their updates respectively

[2018-11-14 04:10] saad-ali commented on #178
CSI 1.0.0-rc1 Spec was cut on Monday (https://github.com/container-storage-interface/spec/releases/tag/v1.0.0-rc1). We are working to pick it up in Kubernetes (https://github.com/kubernetes/kubernetes/pull/71020). @msau42 will attend the burn down.

[2018-11-14 04:17] saad-ali commented on #565
@AishSundar The E2E test looks complicated. We'll drop the feature for 1.13, and move it to beta in 1.14.

[2018-11-14 14:52] kacole2 commented on #603
/milestone clear

[2018-11-14 14:53] kacole2 commented on #594
/milestone clear

[2018-11-14 14:56] kacole2 commented on #565
/milestone clear

[2018-11-14 15:47] mkimuram commented on #565
@saad-ali @AishSundar @bswartz

Actually, [e2e test for csi block volume](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/csi_volumes.go#L56) has already been merged , and is [tested for block unsupported csi drivers](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/volumemode.go#L318) in AllAlpha. (It checks whether pv for block unsupported dr

[2018-11-14 18:04] kacole2 commented on #596
/milestone 1.14

[2018-11-14 18:06] kacole2 commented on #596
/milestone v1.14

[2018-11-15 00:29] justaugustus commented on #618
@kacole2 -- bump. Let me know if we're making good headway on this.

[2018-11-15 16:54] mcrute commented on #631
The CI signal is pending kubernetes/test-infra#10151

[2018-11-15 16:55] kacole2 commented on #595
closed https://github.com/kubernetes/kubernetes/issues/70484 via https://github.com/kubernetes/kubernetes/pull/70559

[2018-11-15 17:03] kacole2 commented on #618
@justaugustus 0 headway. I will begin this process after code freeze since time will free up

[2018-11-16 02:33] AishSundar commented on #595
@vladimirvivien @RenaudWasTaken looks like there is still some active discussion in the PR kubernetes/kubernetes#70494. Are we still on track for Code freeze tomorrow?

[2018-11-16 02:53] AishSundar commented on #600
@pbarker I see kubernetes/kubernetes#69902 is still in active review. Any ETA for getting this in by tomorrow?

[2018-11-16 03:05] pbarker commented on #600
Hey @AishSundar, @liggitt has it in his queue, but he doesn't see it as a blocker for 1.13. I think we can stop tracking that here.

[2018-11-16 03:55] mcrute commented on #631
The docs are pending this kubernetes/cloud-provider-aws#21 which is WIP

[2018-11-16 04:09] AishSundar commented on #600
Just to clarify, this enhancement is still on for 1.13, it just kubernetes/kubernetes#69902 thats dropped from having to go in for 1.13?

So except for docs this is complete?

[2018-11-16 04:14] liggitt commented on #600
correct

[2018-11-16 06:45] AishSundar commented on #351
@wongma7 I see the PR kubernetes/kubernetes#65829 is actively under review. Please let us know if there is a potential of this slipping 5pm Code freeze tomorrow. Thanks

[2018-11-16 09:44] krmayankk commented on #213
@AishSundar @kacole2  1.14 is fine , thanks

[2018-11-16 12:52] kacole2 commented on #178
/reopen

[2018-11-16 16:54] nikopen commented on #351
@AishSundar It likely will slip to next week as it requires lots of approvals. Tests  went green and there are a few last items.

[2018-11-16 17:02] msau42 commented on #351
I think this can still make it in today if https://github.com/kubernetes/kubernetes/pull/71100 merges soon

[2018-11-16 17:09] AishSundar commented on #351
This seems super tight to me. Will watch both PRs today

[2018-11-16 17:33] AishSundar commented on #595
Discussing with @msau42 pending PR https://github.com/kubernetes/kubernetes/pull/70494 is an optimization and not really a blocker for this enhancement in 1.13. As much as we will try to get in today, this can also go as a 1.13.1 patch if merge get delayed.

[2018-11-18 00:29] Kymb3rl33 commented on #595
Stop please

[2018-11-19 17:19] wangzhen127 commented on #589
Implementation is finished.
Documentation is merged into https://github.com/kubernetes/website/blob/dev-1.13/content/en/docs/concepts/architecture/nodes.md
Tests are being tracked by the following CI jobs:
sig-node
- https://k8s-testgrid.appspot.com/sig-node-kubelet#node-kubelet-alpha
- https://k8s-testgrid.appspot.com/sig-node-containerd#e2e-gci-alpha-features

google-gce
- https://k8s-testgrid.a

[2018-11-19 23:50] thockin commented on #504
@MrHohn Are we waiting for anything to be able to mark this GA?  Do we expect any changes here?

[2018-11-20 03:52] justaugustus commented on #635
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-11-20 03:52] justaugustus commented on #633
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-11-20 03:52] justaugustus commented on #515
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-11-20 03:52] justaugustus commented on #127
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-11-20 03:57] justaugustus commented on #127
(Some automation I'm testing accidentally sent out a comment, which I've deleted to not make things confusing. Sorry!)

[2018-11-20 03:57] justaugustus commented on #515
(Some automation I'm testing accidentally sent out a comment, which I've deleted to not make things confusing. Sorry!)

[2018-11-20 03:58] justaugustus commented on #633
(Some automation I'm testing accidentally sent out a comment, which I've deleted to not make things confusing. Sorry!)

[2018-11-20 03:58] justaugustus commented on #635
(Some automation I'm testing accidentally sent out a comment, which I've deleted to not make things confusing. Sorry!)

[2018-11-23 13:35] kevtaylor commented on #559
/remove-help

[2018-11-23 13:35] kevtaylor commented on #559
KEP Approved proposal: https://github.com/kubernetes/community/pull/2871

[2018-11-26 20:10] MrHohn commented on #504
@thockin Nope, with this being supported for Windows (https://github.com/kubernetes/kubernetes/pull/67435) I think we are ready to mark it GA in the next milestone.

[2018-11-29 23:39] spiffxp commented on #622
docs: https://github.com/kubernetes/website/pull/11414

[2018-11-30 04:29] derekwaynecarr commented on #127
this is still under a longer than anticipated discussion to resolve and has
stalled for the moment.  we can hopefully get past that issue in 1.14.

On Mon, Nov 19, 2018 at 10:57 PM Stephen Augustus <notifications@github.com>
wrote:

[2018-11-30 07:13] svenefftinge commented on #127
Is there anything we could help with? We really need this feature in gitpod.io to give our users root privileges.

[2018-12-03 22:46] neolit123 commented on #11
our docs and all our items for 1.13 are in place.
this tracking issue can finally be closed.
kubeadm is now GA. :tada:

/close

[2018-12-03 22:46] #11 closed

[2018-12-04 10:25] #622 closed

[2018-12-04 13:24] #566 closed

[2018-12-04 13:31] luxas commented on #564
When will this feature graduate to stable?

[2018-12-04 13:32] luxas commented on #620
This is done now?

[2018-12-04 13:33] luxas commented on #460
I think this graduated to stable in v1.13, so can we close this issue now?

[2018-12-04 13:34] luxas commented on #92
I'm closing this tracking issue in favor of https://github.com/kubernetes/enhancements/issues/460. Correct me if I'm wrong. Also, this seems to be stable now.

[2018-12-04 13:34] #92 closed

[2018-12-04 13:36] luxas commented on #382
Will this be graduating to stable in v1.14?

[2018-12-04 13:36] luxas commented on #281
Are there plans to graduate this in v1.14?

[2018-12-04 13:38] luxas commented on #266
@kubernetes/sig-auth-feature-requests will this feature graduate to stable in v1.14?

[2018-12-04 13:39] luxas commented on #267
@kubernetes/sig-auth-feature-requests any plans to graduate this for v1.14?

[2018-12-04 17:46] andrewsykim commented on #88
We're going to have more discussions around this during KubeCON, but my sentiment for this enhancement at the moment is that it would be more effective if we created enhancements per in-tree provider (e.g. https://github.com/kubernetes/enhancements/issues/631) and close this one out. The reasoning is that we've already built the functionality to support out-of-tree providers and need to have more

[2018-12-04 18:32] andrewsykim commented on #88
Yes, removal is definitely on our roadmap! I would still be in favor of a new enhancement for that as this issue is pretty cluttered as it is. What do you think?

[2018-12-04 18:33] andrewsykim commented on #88
On second thought, removal of in-tree providers may also depend on the progress of each provider so might be good to keep that close to each cloud provider's out-of-tree enhancement issue.

[2018-12-04 18:34] PatrickLang commented on #361
I mentioned this in the meeting today, but I wanted to add it here too. I think that apps must have a way to identify what quotas exist, and adapt to them. That would be a blocker from enabling enforcement later because if an app keeps exceeding quota and is killed repeatedly - that's bad. At the very least can we get this visible in a downward API if existing filesystem mechanisms won't work to d

[2018-12-04 19:11] kacole2 commented on #88
I believe a tracking issue should be made for every out of tree provider **that also has** a native in-cloud provider. Beyond that, it's a larger discussion to see if a tracking issue needs to be created for **"every"** provider since it's an out-of-tree driver and won't effect anything in k/k.

[2018-12-05 03:05] dashpole opened #647 "API Server tracing"
# Enhancement Description
- One-line enhancement description: Use distributed tracing for kube-apiserver requests.
- Primary contact: dashpole
- Responsible SIGs: Sig-Instrumentation
- Design proposal link: https://github.com/kubernetes/enhancements/pull/650
- KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/647-apiserver-tracing
- Link to e2e and/or unit tests:

[2018-12-05 03:06] dashpole commented on #647
/sig instrumentation

[2018-12-05 03:08] dashpole commented on #647
xref https://github.com/kubernetes/enhancements/issues/647

[2018-12-05 08:56] luxas commented on #88
Totally agree with this statement, and @andrewsykim's point as well. As this is going kinda well now from an architectural perspective (it's possible to move out in practice now), it makes sense to ONLY track the individual in-tree -> out-of-tree migrations we have, and once they provider is totally out of the core k8s tree, it will not be tracked here anymore but have its own release cycle and al

[2018-12-05 09:03] justaugustus commented on #88
+1 to each provider having separate enhancement tracking issues (and associated KEPs) for each provider.

[2018-12-05 11:48] k82cn commented on #382
Considering 1.13's short release cycle , I'd like to graduate this feature to GA in 1.15 :)

[2018-12-05 12:37] luxas commented on #382
Do you mean "GA in 1.14"?

[2018-12-08 02:20] bsalamat commented on #564
We recently encountered [an issue](https://github.com/kubernetes/kubernetes/issues/71486) with the new scheduling queue (which is needed for this feature to work correctly). We are addressing the issue. If we don't see further issues and once we have confidence in the feature, we can graduate it to stable. That could possibly be as early as 1.14 if things go well.

[2018-12-13 12:13] aleksandra-malinowska commented on #609
/remove-lifecycle stale

[2018-12-16 11:36] omri86 commented on #600
Hi there, I am a bit confused with some part of this feature, if someone can please help and clarify this it would be great!

I saw that there are 2 types of Policy objects, one on the static backend and another defined in the scope of this feature and although they have some similarities they are still different, I also noticed this was mentioned in the docs:

[code]

I thought that the goal of t

[2018-12-16 14:40] pbarker commented on #600
Hey @omri86, the original goal was to just take the static definitions and make them available through the API. In the API review https://github.com/kubernetes/kubernetes/pull/67547, we decided it would be a good time to rethink how policy was handled. The outcome of those talks is https://github.com/kubernetes/kubernetes/pull/71230 which is a more composable way of handling policy, I'm in the mid

[2018-12-18 13:18] vikaschoudhary16 commented on #127
@svenefftinge Please review implementation PR, https://github.com/kubernetes/kubernetes/pull/64005

[2018-12-18 14:58] pires commented on #268
Is this going to be GA in 1.14, then?

[2018-12-20 19:14] k82cn commented on #382
No, I'd like to hold GA this feature because of https://github.com/kubernetes/kubernetes/issues/72129 :)

[2018-12-21 03:29] SidakM-zz opened #661 "Support Volume Expansion Through StatefulSets"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow changes to storage requests in StatefulSets.volumeClaimTemplates to propagate to associated PVCs.
- Primary contact (assignee): @SidakM
- Responsible SIGs: sig-apps
- Design proposal link (community repo): https://github.com/kubernetes/enhancements/pull/660, https://github.com/kubernetes/enhancement

[2018-12-21 03:30] SidakM commented on #661
/kind feature
/sig apps

[2018-12-21 21:50] janetkuo commented on #661
@kubernetes/sig-apps-feature-requests

[2018-12-22 18:04] telmich commented on #508
Hello,

I was wondering, what the current supposed state of IPv6 support is? If I try to bootstrap a cluster using

[code]

The result is that the API server is not reachable afterwards:

[code]

Checking the created containers:

[code]

There seems to be no port mapping for 8080 - shouldn't there be one?

[2018-12-23 23:35] valentin2105 commented on #508
Hi @telmich ,

I don't know a lot about KubeADM, but what I know is that IPv6 on Kubernetes work just fine.

As I see your command, I will suggest to you to use bracket arround your v6 addresses like [2a0a:e5...]

[2018-12-25 20:11] valentin2105 commented on #508
You should debug which component crash while you launch them with kubeadm, maybe it's about CNI ? I don't know if  host-local bridge support IPv6 in cni.

If you want try to setup v6 only and maybe compare with your kubeadm setup , check my Saltstack recipe that work in Ipv6 as I use it in few v6-only clusters.
https://github.com/valentin2105/Kubernetes-Saltstack

[2018-12-27 00:02] Bessonov commented on #121
@msau42 thanks. Does it mean that I can do following for a 5 nodes cluster:
1. Mark 3 nodes with tag like "database"
2. Set `nodeAffinity` to "database" tag for `local-storage`
3. Create a `Deployment` with 3 replicas for CockroachDB with `podAntiAffinity` to run once on node
?

If one "database" node fail, then it should be ensured that new node has the tag "database". After "magic happens" every

[2018-12-28 14:39] nikhita commented on #619
/remove-lifecycle stale

[2019-01-02 16:00] andrewsykim opened #667 "Support Out-of-Tree Azure Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree Azure Cloud Provider by running the cloud-controller-manager
- Primary contact (assignee):
@lachie83 @justaugustus @khenidak
- Responsible SIGs:
SIG Azure, SIG Cloud Provider
- KEP: [Supporting Out-of-Tree Azure Cloud Provider](https://github.com/kubernetes/enhancements/blob/master/kep

[2019-01-02 16:02] andrewsykim opened #668 "Support Out-of-Tree GCE Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree GCP Cloud Provider by running the cloud-controller-manager
- Primary contact (assignee):
@cheftako @jagosan
- Responsible SIGs:
SIG GCP, SIG Cloud Provider
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers fro

[2019-01-02 16:05] andrewsykim opened #669 "Support Out-of-Tree OpenStack Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree OpenStack Cloud Provider by running the cloud-controller-manager
- Primary contact (assignee):
@dims @hogepodge
- Responsible SIGs:
SIG OpenStack, SIG Cloud Provider
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Rev

[2019-01-02 16:08] andrewsykim opened #670 "Support Out-of-Tree vSphere Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree vSphere Cloud Provider by running the cloud-controller-manager
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190125-out-of-tree-vsphere.md
- Primary contact (assignee):
@frapposelli @cantbewong
- Responsible SIGs:
SIG VMware, SIG Cloud Provider

[2019-01-02 16:10] andrewsykim opened #671 "Support Out-of-Tree IBM Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree IBM Cloud Provider by running the cloud-controller-manager
- Primary contact (assignee):
@rtheis @spzala
- Responsible SIGs:
SIG IBM, SIG Cloud Provider
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from m

[2019-01-02 16:22] andrewsykim opened #672 "Support Out-of-Tree CloudStack Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree CloudStack Cloud Provider by running the cloud-controller-manager
- Primary contact (assignee):
@andrewsykim
- Responsible SIGs:
SIG Cloud Provider
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multip

[2019-01-02 16:23] andrewsykim opened #673 "Support Out-of-Tree oVirt Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree oVirt Cloud Provider by running the cloud-controller-manager
- Primary contact (assignee):
@andrewsykim
- Responsible SIGs:
SIG Cloud Provider
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple co

[2019-01-02 16:24] andrewsykim opened #674 "Support Out-of-Tree Photon Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support Out-of-Tree Photon Cloud Provider by running the cloud-controller-manager
- Primary contact (assignee):
@andrewsykim
- Responsible SIGs:
SIG Cloud Provider
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple c

[2019-01-02 16:31] andrewsykim commented on #673
@rgolangh are you available to own this?

[2019-01-02 16:41] kacole2 commented on #88
@andrewsykim nice work! I believe Photon may be in a limbo state. @dougm or @frapposelli can you comment on that?

[2019-01-02 22:12] hogepodge commented on #669
/assign @hogepodge

[2019-01-03 02:53] dougm commented on #88
CloudStack, oVirt and Photon are in the process of being removed for 1.14: https://github.com/kubernetes/kubernetes/pull/72178

[2019-01-03 06:13] krmayankk commented on #88
What is tracking the fact that once the in tree cloud providers are removed , the external cloud controller manager has to be by default installed as an add on when installing on gcp/ aws otherwise things like getting a service with load balancer won’t work

[2019-01-03 07:51] krmayankk commented on #580
/reopen

[2019-01-03 07:52] krmayankk commented on #580
/remove-lifecycle rotten

[2019-01-03 07:54] krmayankk commented on #580
Is this being tracked still, I see the current state as 1.12 beta https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0007-pod-ready%2B%2B.md#implementation-history

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate

[2019-01-03 09:46] svanharmelen commented on #672
@andrewsykim I left the company that used both Kubernetes and CloudStack about 8 months ago and currently don't use either of them on a regular basis anymore. So unfortunately I will not be able to help out here.

[2019-01-03 10:12] sebgoa commented on #672
same here. This needs to be picked up by an active community member like @rhtyd

[2019-01-03 14:48] kacole2 commented on #580
@krmayankk this was not tracked as a part of 1.13. Perhaps we can get some updates from feature owners on the current status. @freehan ?

[2019-01-03 14:56] kacole2 commented on #88
@krmayankk installation and configuration of individual cloud providers will have to be done on a per-use case basis. Each cloud provider currently has their implementation in their respective SIGs. Documentation will be required for each cloud provider. I don't foresee any tracking beyond that since the vendor is responsible for making it consumer friendly.

[2019-01-04 00:59] k82cn commented on #548
/remove-lifecycle stale

[2019-01-04 21:34] justaugustus commented on #667
/assign @justaugustus @khenidak @dstrebel @feiskyer
/milestone 1.14
/stage alpha

[2019-01-04 21:35] justaugustus commented on #667
(^^ what, is it my first day here?)
/milestone v1.14

[2019-01-04 21:45] andrewsykim commented on #667
Forgot to ref https://github.com/kubernetes/kubernetes/issues/50752

[2019-01-06 18:16] mrbobbytables commented on #375
/remove-lifecycle stale

[2019-01-06 19:39] ameukam commented on #587
/remove-lifecycle stale

[2019-01-06 19:40] ameukam commented on #614
/remove-lifecycle stale

[2019-01-07 01:38] m1093782566 commented on #536
/remove-lifecycle stale

[2019-01-07 01:43] mlmhl commented on #624
/remove-lifecycle stale

[2019-01-07 03:32] krmayankk commented on #5
/remove-lifecycle stale

[2019-01-07 03:32] erictune commented on #492
/remove-lifecycle stale

[2019-01-07 06:17] krmayankk commented on #611
/remove-lifecycle stale

[2019-01-07 10:11] yastij commented on #599
/remove-lifecycle stale

[2019-01-07 10:11] yastij commented on #551
/remove-lifecycle stale

[2019-01-07 11:39] nikhita commented on #571
@lawrencejones I don't think we intended to support custom subresources (the idea is to use an aggregated apiserver if someone needs to use it). Having said that, we don't really have a formal consensus from the community at this point. I have created https://github.com/kubernetes/kubernetes/issues/72637 for discussing this.

[2019-01-07 15:14] lawrencejones commented on #571
Thanks @nikhita, I'll track this in the thread you've created 🤲

[2019-01-08 01:31] msau42 commented on #556
/remove-lifecycle stale

[2019-01-08 08:00] nikhita commented on #95
/remove-lifecycle stale

[2019-01-08 17:33] justinsb commented on #18
/remove-lifecycle stale

[2019-01-08 20:08] cmluciano commented on #274
I believe this has been supplanted by https://github.com/kubernetes/enhancements/pull/640

This can probably be closed but confirming with others @caseydavenport @thockin @m1093782566

[2019-01-08 20:42] vielmetti commented on #288
@dims - is there a concise description of the hardware and software needs for "federated testing" as described by @timothysc above?

I see this has gone stale again, but I don't think the need has passed for it!

[2019-01-08 21:40] dims commented on #288
@vielmetti yes!. what he meant was that interested parties should set up their own CI using whatever tools they deem fit BUT publish the results to the community test grid, so any consumers or say the release team can check if any recent changes have broken functionality in other platforms.

Here's a HOWTO post results to the community test grid:
https://github.com/kubernetes/test-infra/tree/maste

[2019-01-08 22:23] mtaufen commented on #281
I'd like to finish the flag migration for KubeletConfiguration, then take a step back and think about what we might want to change, then get KubeletConfiguration to GA, then finally consider how to move Dynamic Kubelet Config forward.

I'm hoping to make some significant progress on the flag migrations this quarter, and then start the discussions of what we might want to change as part of our comp

[2019-01-09 18:03] caseydavenport commented on #274
@cmluciano yes that's my understanding as well.

[2019-01-09 18:04] caseydavenport commented on #563
/remove-lifecycle stale

[2019-01-09 18:40] MrHohn commented on #504
Ref https://github.com/kubernetes/kubernetes/issues/72651, I will see if we can get this to GA in 1.14.

[2019-01-10 17:49] spiffxp commented on #617
/milestone clear
I'd like for us to consider milestoning keps into something other than v1.14, just so I can keep that milestone focused on enhancements that will land as part of kubernetes.  ie: totally fine with a "kep" milestone, or "keps-q1" milestone etc.

[2019-01-10 17:50] spiffxp commented on #618
/milestone clear
ref https://github.com/kubernetes/enhancements/issues/617#issuecomment-453189556

[2019-01-10 17:50] spiffxp commented on #619
/milestone clear
ref https://github.com/kubernetes/enhancements/issues/617#issuecomment-453189556

[2019-01-10 17:50] spiffxp commented on #620
/milestone clear
ref https://github.com/kubernetes/enhancements/issues/617#issuecomment-453189556

[2019-01-10 17:54] spiffxp commented on #178
@saad-ali @kacole2 What remains to be done here? I think this shipped as GA in 1.13 and can be closed

[2019-01-10 17:55] msau42 commented on #178
We have some post GA work, like updating the in-tree controllers to use the new v1 objects.

[2019-01-10 17:55] spiffxp commented on #595
What if anything remains to be done here?

[2019-01-10 17:55] spiffxp commented on #628
/milestone clear
ref https://github.com/kubernetes/enhancements/issues/617#issuecomment-453189556

[2019-01-10 18:05] kacole2 commented on #178
@msau42 but is that "enhancement" related? or is that more updating?

[2019-01-10 18:13] msau42 commented on #178
It's cleanup/refactoring work that should not have any user-visible effects.  So I guess this can be closed.

[2019-01-10 18:16] msau42 commented on #595
From the CSI side, we have no additional requirements for this feature.  @jiayingz @vishh is there anything more from the device plugin side that needs to be done?

[2019-01-11 01:33] jiayingz commented on #595
We don't have additional requirements from device plugin side.

[2019-01-14 17:45] msau42 commented on #557
/remove-lifecycle stale

[2019-01-14 17:48] msau42 commented on #554
/remove-lifecycle stale

[2019-01-14 17:48] msau42 commented on #597
/remove-lifecycle stale

[2019-01-14 18:42] marpaia commented on #598
/milestone v1.14

[2019-01-14 18:44] marpaia commented on #576
/milestone v1.14

[2019-01-14 18:53] marpaia commented on #622
/milestone v1.14

[2019-01-14 18:55] marpaia commented on #622
/milestone clear

[2019-01-14 18:59] marpaia commented on #598
/milestone clear

[2019-01-14 19:00] marpaia commented on #576
/milestone clear

[2019-01-14 19:37] claurence commented on #600
@pbarker Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind you that all enhancements for 1.14 need to have a KEP it looks like the KEP for this enhancement is here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0014-dynamic-audit-

[2019-01-14 19:46] claurence commented on #629
@d-nishi Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - it looks like this issue has a KEP here https://github.com/kubernetes/enhancements/blob/master/keps/sig-aws/draft-20181127-aws-alb-ingress-controller.md -

[2019-01-14 20:07] d-nishi commented on #629
@claurence is the ask to commit to a beta release for the feature before Jan 29th?

Yes the KEP is correct. We will update it with some additional data before Jan 29th.

[2019-01-14 21:00] claurence commented on #629
@d-nishi to clarify the ask is to understand what status you are planning for this issue in the 1.14 release cycle.  If that is beta I'll make sure we have that as the status being tracked.  Thanks!

[2019-01-14 21:12] claurence commented on #586
@feiskyer Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work/status (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - it looks like this has this KEP https://github.com/kubernetes/enhancements/blob/master/keps/sig-azure/0018-20180711-azure-availability-zones.md -

[2019-01-14 21:13] d-nishi commented on #629
@claurence yes it is beta!

[2019-01-14 21:16] claurence commented on #604
@feiskyer Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - it looks like this issue has a KEP here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-azure/0025-20180809-cross-resource-group-nodes.m

[2019-01-14 21:20] claurence commented on #491
@apelisse Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I can't find a KEP for this issue, if one exists can you drop a link?

[2019-01-14 21:39] claurence commented on #579
@juanvallejo @soltysh Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - it looks like this is the KEP for this enhancement https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/0024-kubectl-plugins.m

[2019-01-14 21:43] claurence commented on #606
@dashpole Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I can't find a KEP for this issue can you please link one if it exists?  Thanks.

[2019-01-14 21:47] claurence commented on #589
@wangzhen127 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - it looks like a KEP already exists for this issue here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/0009-node-heartbeat.md -

[2019-01-14 21:50] claurence commented on #166
@gmarek @k82cn @Huang-Wei Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I don't see a KEP for this enhancement, if there is one can you please drop a link to it? Thanks.

[2019-01-14 21:59] wangzhen127 commented on #589
That KEP is the correct one. And the implementation is complete. @wojtek-t knows the most updated enhancement needs if there is any.

[2019-01-14 22:09] apelisse commented on #491
No plans for now. This feature was started before the KEP process was initiated. I'll try to come-up with something one day.

[2019-01-14 22:11] dashpole commented on #606
@claurence I don't have any work planned on this for the 1.14 release.  The next steps for this feature are to validate the design by using it out-of-tree.

[2019-01-14 22:39] Liujingfang1 commented on #633
Here is the updated KEP for integrating Kustomize into Kubectl https://github.com/kubernetes/enhancements/pull/684

[2019-01-14 22:41] claurence commented on #593
@bsalamat Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I don't see a KEP, if there is one that exists please drop a link to it.  Thanks

[2019-01-14 22:43] claurence commented on #606
Thanks @dashpole so is it then not targeting beta for 1.14?  Or is the work for beta already completed?

[2019-01-14 22:45] dashpole commented on #606
@claurence it is not targeting beta for 1.14

[2019-01-14 23:56] tallclair opened #688 "Pod Overhead: account resources tied to the pod sandbox, but not specific containers"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Account resources consumed by the pod sandbox, both for scheduling and limiting runtime usage.
- Primary contact (assignee):
@egernst
- Responsible SIGs:
/sig node
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190226-pod-overhead.md
- Design proposal link (community repo):

[2019-01-14 23:59] tallclair commented on #688
/help
I'm looking for someone who is interested in picking back up this proposal. Specifically, the design proposal needs to be reworked in the context of [RuntimeClass](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/0014-runtime-class.md), and the details need to be worked through with the sig-node community before we can move to implementation.

/cc @egernst

[2019-01-15 00:02] egernst commented on #688
Thanks @tallclair. I may have questions on the process, but am happy to pick this up.

[2019-01-15 00:19] tallclair commented on #688
\o/
/remove-help
/assign @egernst

[2019-01-15 12:32] verb commented on #495
/remove-lifecycle stale

[2019-01-15 12:50] fabriziopandini commented on #357
/remove-lifecycle stale
We are currently working on this with the objective to graduate  join --control-plane workflow to beta in v1.14

[2019-01-15 17:26] #595 closed

[2019-01-15 17:32] dchen1107 commented on #166
Are we planning to promote this to GA in 1.14?

[2019-01-15 17:36] roberthbailey commented on #130
/remove-lifecycle stale
/lifecycle stale

[2019-01-15 17:37] roberthbailey commented on #130
/remove-lifecycle stale
/lifecycle frozen

[2019-01-15 17:45] ddebroy opened #689 "Support GMSA for Windows workloads"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Enable support for Group Managed Service Account (gMSA) for Windows workloads on Kubernetes.
- Primary contact (assignee): @ddebroy
- Responsible SIGs: sig-windows, sig-auth, sig-node
- Design proposal link (community repo): https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20181221-

[2019-01-15 17:46] ddebroy commented on #689
/sig windows auth node

[2019-01-15 17:48] spiffxp commented on #547
/remove-lifecycle stale
Discussed with @PatrickLang and @yujuhong during sig-windows meeting today, this seems like it may be overly broad and/or not something that's going to get prioritized for this release cycle.

The open question is whether this issue should remain in unmilestoned limbo, or whether it can closed and dealt with on a more case-by-case basis.

[2019-01-15 17:49] spiffxp commented on #547
It seems like this may be redundant in the face of (or an implementation detail of) https://github.com/kubernetes/enhancements/issues/116

[2019-01-15 17:57] spiffxp commented on #615
/milestone clear
@kubernetes/sig-api-machinery-feature-requests @kubernetes/sig-storage-feature-requests @kubernetes/sig-architecture-feature-requests FYI discussed during SIG Cluster Lifecycle today, and they are not planning on prioritizing for this release cycle.  Agree it's important, and it feels like it's roughly in the same arena as addon management, but there's no forcing function on their

[2019-01-15 18:36] claurence commented on #606
@dchen1107 thanks!  To clarify does that mean this did not ship as alpha in 1.13 or does that mean no status change and we don't need to track anything for it in 1.14?

[2019-01-15 18:41] luxas commented on #615
I think that before proceeding further with this and even starting to think about beta/GA for the related CSI CRDs, we need a KEP where we can discuss this in more detail. It's not clear to me how this will work, but I don't think this is a SIG Cluster Lifecycle issue, as this shall be handled by core as-is, not the ecosystem.

[2019-01-15 19:10] dashpole commented on #606
@claurence this shipped as alpha in 1.13.  No status change or tracking required for 1.14

[2019-01-15 21:40] claurence commented on #490
@msau42 Hi I'm the enhancements lead for 1.14 -  It looks like this enhancement graduated to stable - is this issue still open?  Is there work needed for the 1.14 release?

[2019-01-15 21:42] claurence commented on #178
@msau42 @saad-ali Hello - I'm the enhancements lead for 1.14 - it sounds like there is no work to be tracked for the 1.14 release so I can remove it from being tracked but let me know if that is an incorrect interpretation.  Thanks

[2019-01-15 21:45] claurence commented on #351
@erinboyd, @screeley44, @mtanino Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  It looks like this was targeted to go stable in 1.13, is there work open for 1.14 that needs to be done or should this issue be closed?

[2019-01-15 21:48] msau42 commented on #490
I think we are done with feature tracking.  There are some cleanup items that I have already opened issues for.
/close

[2019-01-15 21:48] #490 closed

[2019-01-15 21:48] claurence commented on #304
@xingzhou Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I can not find a KEP for this issue, can you please drop a link for the KEP.  Thanks

[2019-01-15 21:50] claurence commented on #626
@fanzhangio Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I can't find a KEP for this issue can you please drop a link to the KEP?  Thanks

[2019-01-15 21:52] msau42 commented on #178
We can close this and open up issues for remaining cleanup work.  There are already individual enhancement issues opened for csi alpha features
/close

[2019-01-15 21:52] #178 closed

[2019-01-15 21:53] msau42 commented on #351
The plan is to remain in beta for 1.14.

[2019-01-15 21:55] apelisse commented on #576
I've updated the description, we'll see when this moves to GA. That is the KEP, I'll add it to the description, thanks!

[2019-01-15 21:55] apelisse commented on #576
It's already linked in design proposal

[2019-01-15 21:55] claurence commented on #630
@d-nishi - Hello I'm the enhancements lead for 1.14 - it looks like this feature is targeting beta in 1.14 can you confirm if that is correct?  We want all enhancements to have a KEP, it looks like this issues KEP is here -https://github.com/kubernetes/enhancements/blob/master/keps/sig-aws/20181127-aws-ebs-csi-driver.md - let me know if that is not the correct KEP.  Thanks.

[2019-01-15 21:56] claurence commented on #631
@d-nishi - Hello, enhancements lead for 1.14 here - it looks like this issue is targeting beta for 1.14 can you confirm if that is still what is planned?  Thanks.

[2019-01-15 22:00] claurence commented on #623
@bsalamat Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I can't find a KEP for this issue can you please link the relevant KEP?  Thanks!

[2019-01-15 22:02] claurence commented on #624
@bsalamat Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I don't see a relevant KEP for this issue can you drop the link to the KEP?  Thanks

[2019-01-15 23:10] claurence commented on #576
@apelisse thanks!  Sounds like nothing to track for 1.14.  I will remove it from our tracking spreadsheet - lmk if I'm misinterpreting that.

[2019-01-16 02:09] k82cn commented on #166
That'll be great if any volunteer can help on that; I can help on review part. If no volunteer, we'll move to next release.

[2019-01-16 04:09] michmike commented on #547
i agree that this may be redundant. pieces of this issue are already covered and implemented by other issues, also by #116 .
@feiskyer is there anything specific implementation-wise that this issue was supposed to cover? if not, let's go ahead and close it since PR 1510 has already merged

[2019-01-16 04:12] michmike commented on #116
@spiffxp should we mark this as "Tracked/yes" now for v1.14 since we also have the KEP

[2019-01-16 05:36] majgis opened #691 "Amend keps/sig-apps/sidecarcontainers.md to reflect kubernetes/kubernetes#52345"
This issue proposes an amendment to the existing sidecarcontainers KEP:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/sidecarcontainers.md

The issue https://github.com/kubernetes/kubernetes/issues/52345 and associated PR were closed in favor of the sidecarcontainers KEP.

Reading through the sidecarcontainers KEP, it is unclear that the concerns outlined in https://github.c

[2019-01-16 05:42] majgis commented on #691
/sig apps
/sig node

[2019-01-16 06:41] olemarkus commented on #423
/remove-lifecycle stale

[2019-01-16 13:10] wojtek-t commented on #589
@claurence - is there a list of things somewhere that has to happen for Beta?
We believe that we are code-complete for Beta already.
The docs have been created for Alpha, so it may only require some update about the stage.

Is there anything else that is missing?

[2019-01-16 14:34] claurence commented on #625
@davidz627 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I don't see a KEP for this issue can you please drop a link for the KEP.

[2019-01-16 14:36] claurence commented on #633
@Liujingfang1 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th.

[2019-01-16 14:38] claurence commented on #647
@dashpole Hell - Enhancements lead for 1.14 here.  I see this issue is targeted for Alpha in 1.14 - is that still planned for?  Enhancements freeze is 1/29 and we want all enhancements in 1.14 to have a KEP associated with them.

[2019-01-16 14:40] claurence commented on #661
@SidakM - Hello I'm the enhancements lead for 1.14.  It looks like this issue is targeting 1.14 for alpha can you let me know if that is still planned.  Enhancements freeze is Jan 29th and we want all issues to have a KEP associated with them.

[2019-01-16 14:42] claurence commented on #689
@ddebroy - Hi I'm the enhancements lead for 1.14 - it looks like this issue is targeting Alpha for 1.14.  Just want to remind that enhancements freeze is 1/29

[2019-01-16 14:52] claurence commented on #612
@bsalamat - Hello, enhancements lead here - checking to see if there is any work being planned for the 1.14 release?  Enhancements freeze is 1/29 and we want all enhancements to have a KEP.  Thanks

[2019-01-16 14:59] claurence commented on #116
@michmike - targeting stable for 1.14 correct?

[2019-01-16 15:04] soltysh commented on #579
@claurence that KEP is the right one. The scope of work will be to promote this feature to GA in 1.14, based on initial comment.
/milestone v1.14

[2019-01-16 15:06] claurence commented on #603
@jsafrane Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I can't find a KEP for this issue can you please share a link for the KEP

[2019-01-16 15:15] claurence commented on #357
@luxas @timothysc Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:16] claurence commented on #361
@jingxu97 @vishh Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:19] claurence commented on #382
@k82cn Hello, enhancement lead for 1.14 here -  based on previous comments sounds like we don't want to track this feature for 1.14 but I wanted to confirm - Thanks

[2019-01-16 15:21] claurence commented on #383
@gmarek Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:22] claurence commented on #423
@justinsb Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I don't see one can you share a link to the KEP?  Thanks

[2019-01-16 15:32] claurence commented on #504
@MrHohn Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP - I don't see a KEP for this issue can you please share a link for the KEP?  Thanks.

[2019-01-16 15:32] SidakM commented on #661
Hey @claurence ,
Was waiting for a review from @kubernetes/sig-apps-feature-requests .  Not sure when one of them will look at it though.

[2019-01-16 15:32] claurence commented on #508
@danehans Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:33] claurence commented on #515
@smarterclayton Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:35] claurence commented on #531
@mlmhl Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:35] claurence commented on #536
@m1093782566 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:36] claurence commented on #542
@mikedanese Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:37] claurence commented on #548
@k82cn Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:38] claurence commented on #551
@yastij  Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:40] claurence commented on #554
@gnufied Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:40] claurence commented on #555
@apelisse @lavalamp Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th.

[2019-01-16 15:41] claurence commented on #556
@gnufied Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:42] claurence commented on #557
@verult @vladimirvivien Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:43] claurence commented on #559
@kevtaylor Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:44] claurence commented on #563
@leblancd Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:44] claurence commented on #564
@bsalamat Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:45] claurence commented on #565
@vladimirvivien Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:46] kevtaylor commented on #559
@claurence This enhancement does have a kep and is in review at https://github.com/kubernetes/kubernetes/pull/71351
/cc @msau42

[2019-01-16 15:46] claurence commented on #571
@nikhita Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:47] claurence commented on #575
@sttts  Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:48] claurence commented on #580
@freehan Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:50] claurence commented on #581
@juanvallejo Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:50] claurence commented on #583
@k82cn Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:51] claurence commented on #585
@tallclair Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 15:53] nikhita commented on #571
@claurence None, this feature will remain in beta for 1.14 as well.

[2019-01-16 15:53] gnufied commented on #556
@claurence this feature is on track for 1.14 yes!

[2019-01-16 16:06] neolit123 commented on #357
@claurence
as mentioned one message above we are targeting beta for this feature in this cycle:

our KEP:
https://github.com/kubernetes/enhancements/pull/681

a tracking issue in k/kubeadm:
https://github.com/kubernetes/kubeadm/issues/1200

@fabriziopandini can elaborate further.

[2019-01-16 16:13] claurence commented on #587
@vikaschoudhary16 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:17] gnufied commented on #554
This issue may see some internal refactoring changes but we are not sure yet. But feature will remain in beta in 1.14.

[2019-01-16 16:20] claurence commented on #594
@saad-ali @jsafrane Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:20] claurence commented on #596
@saad-ali @jsafrane Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:20] claurence commented on #597
@gnufied Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:21] claurence commented on #599
@yastij Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:23] claurence commented on #5
@tallclair Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:23] claurence commented on #18
@justinsb Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:23] liggitt commented on #370
yes, this was addressed by the KMS integration point and promoted in 1.13

/close

[2019-01-16 16:23] #370 closed

[2019-01-16 16:23] liggitt commented on #460
yes, this was addressed by the KMS integration point and promoted in 1.13

/close

[2019-01-16 16:23] #460 closed

[2019-01-16 16:25] claurence commented on #88
@wlan0 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:26] claurence commented on #95
@deads2k Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:26] claurence commented on #117
@DirectXMan12 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:26] msau42 commented on #559
We plan to make some changes to the alpha feature in 1.14.  It will still stay in alpha, but there will be a new API, so we'll still need new docs.

[2019-01-16 16:27] claurence commented on #121
@msau42 Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:27] msau42 commented on #557
We plan to move to beta in 1.14.  This feature already has a design proposal. Do we need to convert it to a kep?

[2019-01-16 16:27] claurence commented on #127
@derekwaynecarr Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:28] claurence commented on #130
@luxas Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:30] msau42 commented on #603
We plan to move this feature to beta in 1.14.  This feature already has a design proposal. Do we need to convert this into a KEP?

[2019-01-16 16:30] claurence commented on #266
@jcbsmpsn Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:30] claurence commented on #267
@jcbsmpsn Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:31] claurence commented on #268
@bsalamat Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:31] claurence commented on #277
@verb Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:31] claurence commented on #279
@liggitt Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:32] claurence commented on #281
@mtaufen Hello - I’m the enhancement’s lead for 1.14 and I’m checking in on this issue to see what work (if any) is being planned for the 1.14 release.  Enhancements freeze is Jan 29th and I want to remind that all enhancements must have a KEP

[2019-01-16 16:38] apelisse commented on #555
Hello @claurence, we're planning to release this feature alpha this cycle! I just updated the description to reflect the new milestone. Anything else I need to update?

[2019-01-16 16:38] andrewsykim commented on #88
@claurence thanks for the ping! We're going to be closing this issue in the next few days in favor of having an enhancement issue per cloud provider (see comment https://github.com/kubernetes/enhancements/issues/88#issuecomment-450910270). I will follow up with leads for each provider to update their enhancement issues (and respective KEPs if there aren't any).

[2019-01-16 16:41] nikhita commented on #95
@claurence The CRD API will remain in beta for 1.14 as well.

[2019-01-16 16:45] Liujingfang1 commented on #633
@claurence We plan to add kustomize as a subcommand in kubectl in 1.14. This is discussed in the KEP https://github.com/kubernetes/enhancements/pull/684#issuecomment-454827404

[2019-01-16 16:47] claurence commented on #555
@apelisse sounds good! I'll add this to our 1.14 tracking sheet.

[2019-01-16 17:07] bgrant0607 commented on #619
There were tooling comments here: https://github.com/kubernetes/enhancements/issues/617#issuecomment-432779283

@jdumars @calebamiles Is there a description of the tool you were working on somewhere?

[2019-01-16 17:07] kfox1111 commented on #596
Yes, this is expected to be alpha in 1.14.

[2019-01-16 17:10] bgrant0607 commented on #617
We need to think about project capacity and backlog management, also. The reality is that we don't have the capacity to do all worthwhile things at the same time.

https://medium.com/uswitch-labs/proposing-an-enhancement-to-kubernetes-the-story-of-a-kep-f652656d0628

[2019-01-16 17:16] claurence commented on #596
@kfox1111 @jsafrane I'll add it to the 1.14 tracking sheet.  I don't see a KEP for this issue and we want to have KEPs for all issues in 1.14 - can you drop a link to the KEP?

[2019-01-16 17:24] kfox1111 commented on #596
Yeah. it was started preKEP. We can try and get one in soon.

[2019-01-16 17:30] justaugustus commented on #617
@bgrant0607 -- I've created a project tracking board for this some time ago: https://github.com/orgs/kubernetes/projects/5

We've also identified several PMs in this week's [SIG PM](https://youtu.be/jHXm10TieUI) call interested in assisting with this effort.

[2019-01-16 17:40] bgrant0607 commented on #383
cc @yastij

[2019-01-16 17:41] bgrant0607 commented on #383
Implementation tracking issue: https://github.com/kubernetes/kubernetes/issues/56514

[2019-01-16 17:42] bgrant0607 commented on #18
Kubecon presentation: https://www.youtube.com/watch?v=LPejvfBR5_w

[2019-01-16 17:43] MrHohn commented on #504
@claurence There was not KEP process when this feature was first proposed. Hence I don't have a link for that. The original design proposal is on https://github.com/kubernetes/community/blob/master/contributors/design-proposals/network/pod-resolv-conf.md.

Is it mandatory to have a KEP for every enhancement (even the old one)? Do we need to convert the design proposal into KEP format retrospective

[2019-01-16 17:53] awly commented on #541
/remove-lifecycle stale
This feature is still Beta as of 1.14.

I'd like to experiment with adding TLS oracles to it, for HSM/TPM-stored keys.

[2019-01-16 17:59] vladimirvivien commented on #596
@claurence I will convert this into a KEP.  Than you.

[2019-01-16 18:07] dashpole commented on #647
@claurence I am optimistically hoping for this to land in 1.14.  The kep is https://github.com/kubernetes/enhancements/pull/650, which I added to the Enhancement Description above.

[2019-01-16 18:10] roycaihw opened #692 "Publish CRD OpenAPI Schema"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Serve validation schema for Custom Resources from kube-apiserver
- Primary contact (assignee): @roycaihw
- Responsible SIGs: SIG API Machinery
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWN

[2019-01-16 18:12] xing-yang commented on #177
Hi @claurence - we are working on "execution hook" and "PV/PVC taints and tolerations" for 1.14.  Do we need KEP for those?  If so, I'll submit a KEP for execution hook.  Jing is working on a spec for taints and tolerations.

[2019-01-16 18:32] d-nishi commented on #423
@claurence this work is being done by @M00nf1sh

[2019-01-16 18:46] freehan commented on #580
@claurence Hi! We plan to bring it to GA in 1.14 release. There is no major change for the feature except for the flipping the flag and potential bug fix.

[2019-01-16 19:15] frapposelli commented on #674
Hey @andrewsykim the `photon` cloud provider is deprecated and will not be supported out of tree, there's an open PR to remove the code from k/k kubernetes/kubernetes#72178

[2019-01-16 19:21] wojtek-t commented on #383
We are trying to come up with a solution to mitigate the potential performance issue. Depending on the result of that I can imagine this hitting Alpha or not in 1.14 timeframe.

[2019-01-16 19:27] #674 closed, assigned to nobody

[2019-01-16 19:55] davidz627 commented on #625
@claurence Work on this started before the KEP process started so we have a design in the "old" style.
https://github.com/kubernetes/community/blob/b7daf2fdfa7c4984d9236336b4f1ccc9f048db98/contributors/design-proposals/storage/csi-migration.md
We have a significant amount of work planned for the `1.14` release including but not limited to:
https://github.com/kubernetes/kubernetes/pull/71901 <- PR

[2019-01-16 20:46] DirectXMan12 commented on #117
@mwielgus can you take over the communication on this?

[2019-01-16 21:43] tallclair commented on #5
Nothing planned for 1.14.

[2019-01-16 21:45] tallclair commented on #585
/remove-lifecycle stale

I intend to take this feature to Beta in v1.14. I will update the KEP soon with the plans.

[2019-01-16 22:20] caesarxuchao commented on #492
Thanks for the reminder @claurence . @mbohlool I think we want to GA the admission webhook in 1.15, not in 1.14, right?

[2019-01-16 23:16] ddebroy commented on #689
/milestone v1.14

[2019-01-16 23:36] felixfbecker commented on #555
What would the API request done by the client look like after this? I assume it would send the full local resource definition, but would it still be a PATCH request? Or a PUT?

I'm really excited about this, it takes out a lot of complexity from custom clients.

[2019-01-17 01:02] andrewsykim commented on #88
/close

[2019-01-17 01:02] #88 closed

[2019-01-17 01:34] bsalamat commented on #612
@claurence This is not a new enhancement. It is already implemented and is in Beta.

[2019-01-17 02:42] mlmhl commented on #531
@claurence Yeah, we plan to improve this feature to beta in 1.14, the doc PR is here: https://github.com/kubernetes/website/pull/10574.

[2019-01-17 03:00] m1093782566 commented on #536
@claurence

Please check https://github.com/kubernetes/enhancements/pull/640

[2019-01-17 10:16] lmdaly opened #693 "Node Topology Manager"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubelet component to coordinate fine-grained hardware resource assignments for different components in Kubernetes.
- Primary contact (assignee): @klueska
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1680
- KEP PR: https://github.com/kub

[2019-01-17 10:17] lmdaly commented on #693
/sig-node
cc @ConnorDoyle @balajismaniam @nolancon

[2019-01-17 10:31] felixfbecker commented on #555
Btw the link to the design proposal is broken

[2019-01-17 10:51] soltysh commented on #581
@claurence no work is being planned for 1.14 for this issue.

[2019-01-17 14:54] claurence commented on #689
/milestone v1.14

[2019-01-17 15:36] claurence commented on #536
@m1093782566 Thanks!  Based on the description it sounds like this feature is targeting alpha in 1.15 so there is nothing to track for 1.14 but let me know if that is not correct

[2019-01-17 15:45] claurence commented on #531
@mlmhl thanks!  Does this issues have a KEP?  We want all issues in the 1.14 release to have a KEP associated with them.  Thanks

[2019-01-17 16:04] claurence commented on #612
ok so then no plans to move to stable in 1.14?  Thanks.

[2019-01-17 16:19] claurence commented on #556
Thanks @gnufied based on the label is it still alpha or is it graduating in 1.14.  Also are there any associated open PRs for this issue or have they all been merged?

[2019-01-17 16:21] claurence commented on #504
@MrHohn yes we would like a KEP for every issue please convert the old design to a KEP.

Additionally are there open PRs for this issue for 1.14?

[2019-01-17 16:57] apelisse commented on #555
Fixed, thanks, good catch.

[2019-01-17 17:09] michmike commented on #547
i will go ahead and close this ticket. if new information surfaces, we can revisit and reopen this ticket.
/close

[2019-01-17 17:09] #547 closed

[2019-01-17 17:13] michmike commented on #116
@claurence that is accurate.

[2019-01-17 17:21] johnbelamaric commented on #536
@claurence We were hoping for alpha in 1.14 if we can get it in. @m1093782566 do you think that you will finish the CRD rework in time for 1.14?

[2019-01-17 17:35] mattsmithdatera opened #695 "Skip Volume Ownership Change"
# Enhancement Description
- New`PermissionChangePolicy` string field in `PersistentVolumeClaimVolumeSource` struct and related conditional volume ownership change behavior
- Primary contact (assignee): @mattsmithdatera @gnufied
- Responsible SIGs: sig-storage
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/695-skip-permission-change
- Link to e2e and/or unit tests: T

[2019-01-17 17:36] mattsmithdatera commented on #695
/sig storage
/kind feature
cc @gnufied @saad-ali @msau42

[2019-01-17 17:40] MrHohn commented on #504
@claurence Sure, will make a KEP for this. There is one open PR at the moment: https://github.com/kubernetes/kubernetes/pull/72832.

[2019-01-17 19:09] gnufied commented on #695
/sig api-machinery

[2019-01-17 21:50] tallclair commented on #688
/assign @egernst

[2019-01-17 21:56] krmayankk commented on #213
@claurence  we are taking it to beta in 1.14. https://github.com/kubernetes/kubernetes/pull/73007

[2019-01-17 22:00] claurence commented on #536
Thanks @johnbelamaric - do you have any open PRs for this issue for it to make the alpha milestone?

[2019-01-17 23:13] johnbelamaric commented on #536
https://github.com/kubernetes/kubernetes/pull/72057 and https://github.com/kubernetes/kubernetes/pull/72046

[2019-01-18 04:32] vikaschoudhary16 commented on #587
hi @claurence - in my knowledge, no work is being planned for this in 1.14.
@ameukam are you planning something?

[2019-01-18 04:35] vikaschoudhary16 commented on #127
Hi @claurence -- KEP(Proposal) for this was already merged. Hoping to get following implementation PR merged in 1.14:
kubernetes/kubernetes#64005

Along with updates to the original design proposal:
https://github.com/kubernetes/community/pull/2595

[2019-01-18 10:20] ameukam commented on #587
Hi@vikaschoudhary16,  Since I'm not involved in the implementation of this enhancement, i can't answer to your question. :-)

[2019-01-18 11:47] mlmhl commented on #531
Yeah, we have a proposal PR here: https://github.com/kubernetes/community/pull/1535, but I am not sure if it is in order.

[2019-01-18 13:58] KevinAtDesignworx commented on #563
@leblancd Wanted to follow up on your prior comment relative to creating a delineation at the edge of the cluster for IPv4/IPv6:

“We're also considering an intermediate "dual-stack at the edge" (with IPv6-only inside the cluster) approach, where access from outside the cluster to K8s services would be dual-stack, but this would be mapped (e.g. via NGINX ingress controller) to IPv6-only endpoints

[2019-01-18 14:59] claurence commented on #557
@msau42 yes please convert it to a KEP!   Also let me know if there are any outstanding PRs for this issue.   Thanks

[2019-01-18 15:03] claurence commented on #559
@msau42 @kevtaylor thanks!  Do either of you have a link to any PRs for the changes being made in 1.14? Thanks

[2019-01-18 15:05] claurence commented on #121
@msau42 yes we'd like the design proposal converted to a KEP!  Thanks!   Additionally if you have any open PRs left for this issue please let me know so we can add them to our tracking sheet.

[2019-01-18 15:06] kevtaylor commented on #559
@claurence The code PR kubernetes/kubernetes#71351
The docs PR: https://github.com/kubernetes/website/pull/11843

[2019-01-18 15:08] claurence commented on #603
@msau42 Yes please convert to a KEP!  Also if there are any open PRs for this issue please link them so we can add to the tracking sheet.

[2019-01-18 17:46] jsafrane commented on #594
@claurence, yes, we plan to move it to GA.

[2019-01-18 19:38] cmluciano commented on #274
/close

[2019-01-18 19:38] #274 closed

[2019-01-18 19:42] claurence commented on #594
Thanks @jsafrane - any open PRs for this issue that we should track on the sheet?

[2019-01-18 19:47] claurence commented on #127
Thanks @vikaschoudhary16 - will this be implemented as alpha in 1.14 then?  Based on the tagging it still has the alpha label but let me know if that is incorrect.

[2019-01-18 20:15] claurence commented on #177
@xing-yang Thanks - all issues should have a KEP associated with them so please add one for this issue.  Also do you have links to the PRs for the two items referenced above?

[2019-01-18 20:16] claurence commented on #177
Also is alpha still the correct stage or is this feature graduating to beta?

[2019-01-18 21:10] xing-yang commented on #177
@claurence Yes, it is still Alpha.
We are still working on the KEP so it is not submitted yet.  What is the deadline for submitting a KEP?

[2019-01-19 00:48] steebchen commented on #563
@KevinAtDesignworx If the edge-dual-stack but internal ipv6-only approach can still reach external ipv4 requests from inside a container (i.e. `curl -v 93.184.216.34 -H "Host: example.com"`), I genuinely think it's the best approach. If your infrastructure can use ipv6, why bother use ipv4 except at the edge for compatibility reasons. However, if this approach means that I can not reach legacy web

[2019-01-19 01:19] majgis commented on #691
An idea to address kubernetes/kubernetes#52345 would be to allow a new type of initContainer associated with containers (CIC).  This would solve the lifecycle problem, ensuring that only the CIC  is run prior to restarting the container.  The CIC run prior to the container, and the current pod initContainer continues to run only when the pod restarts.

[2019-01-19 03:58] schmitch commented on #563
well there is 464XLAT

[2019-01-20 07:46] justaugustus commented on #618
/unassign @kacole2
/assign @claurence

Claire -- please complete this for the 1.14 Release cycle.
/milestone v1.14

[2019-01-20 08:11] justaugustus commented on #628
/milestone v1.14

[2019-01-20 08:11] justaugustus commented on #635
/milestone v1.14

[2019-01-20 08:11] justaugustus commented on #620
/milestone v1.14

[2019-01-20 08:19] justaugustus commented on #635
/remove-milestone v1.14
/milestone keps-beta

[2019-01-20 08:19] justaugustus commented on #628
/remove-milestone v1.14
/milestone keps-beta

[2019-01-20 08:19] justaugustus commented on #620
/remove-milestone v1.14
/milestone keps-beta

[2019-01-20 08:19] justaugustus commented on #619
/remove-milestone v1.14
/milestone keps-beta

[2019-01-20 08:19] justaugustus commented on #618
/remove-milestone v1.14
/milestone keps-beta

[2019-01-20 18:34] jingxu97 commented on #551
@claurence Yes, we plan to to work on alpha feature in 1.14. Will add KEP very soon. Thanks!

[2019-01-20 22:24] pierreozoux opened #706 "Portable Service Definitions"
The KEP [already exists](https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/0032-portable-service-definitions.md), but there were no issue, so creating this one.
(I'm new here, so please forgive me or give me guidance on how to proceed)

I'm interested in working on that, and I'd like guidance on how to move this forward.

About the secrets, I'd like to mention this project from

[2019-01-21 09:07] pierreozoux commented on #706
/sig apps

[2019-01-22 05:45] krmayankk commented on #542
/remove-lifecyle stale

[2019-01-22 05:46] krmayankk commented on #542
/remove-lifecycle stale

[2019-01-22 05:53] krmayankk commented on #542
The docs for this beta feature are missing, it seems.

[2019-01-22 16:51] mikedanese commented on #542
Docs for the beta release were in 1.12.

https://github.com/kubernetes/website/pull/10295
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

[2019-01-22 18:39] spiffxp commented on #628
/reopen
ref: https://github.com/kubernetes/test-infra/pull/10852/files#r249591030

[2019-01-22 19:56] rtheis commented on #671
We have started investigating this enhancement and are working on the initial design.

[2019-01-22 20:19] claurence commented on #177
@xing-yang please submit the KEP before the enhancements freeze date for Jan 29th

[2019-01-22 21:13] ameukam commented on #631
/remove-milestone v1.13
/milestone v1.14

[2019-01-22 21:36] claurence commented on #647
@dashpole thanks!  Are there any open PRs for this issue that should be tracked in our sheet?

[2019-01-22 21:37] claurence commented on #689
@ddebroy are there any open PRs that should be tracked for this issue for the 1.14 release?

[2019-01-22 21:44] claurence commented on #585
thanks @tallclair - any open PRs for this issue we should track for 1.14?  Thanks

[2019-01-22 21:49] claurence commented on #586
@feiskyer any PRs we should track for 1.14?

[2019-01-22 21:57] claurence commented on #604
@feiskyer any open PRs for the 1.14 cycle?

[2019-01-22 22:23] feiskyer commented on #604
@claurence not yet.

[2019-01-22 22:24] feiskyer commented on #586
@claurence not yet.

[2019-01-22 23:16] ddebroy commented on #689
@claurence we were trying to lock down the design and get to `implementable` state for the KEP this week [https://github.com/kubernetes/enhancements/pull/694 and https://github.com/kubernetes/enhancements/pull/710] .

We will have PRs for the alpha implementations out shortly.

[2019-01-23 00:36] ixdy opened #714 "Break apart the kubernetes test tarball"
# Enhancement Description
- One-line enhancement description (can be used as a release note): The mondo-tarball `kubernetes-test.tar.gz` which contained test binaries for all platforms is now deprecated. Test binaries are now distributed in platform-specific tarballs (such as `kubernetes-test-linux-amd64.tar.gz`).
- Primary contact (assignee): @ixdy
- Responsible SIGs: sig-testing, sig-release
- D

[2019-01-23 00:36] ixdy commented on #714
/sig testing
/sig release

[2019-01-23 15:22] claurence commented on #551
Thanks @jingxu97 - are there any open PRs we should track for 1.14?

[2019-01-23 18:00] vladimirvivien commented on #596
@claurence KEP started here - https://github.com/kubernetes/enhancements/pull/716

[2019-01-23 18:19] claurence commented on #596
Thanks @vladimirvivien - any open PRs we should track for 1.14?

[2019-01-23 18:21] claurence commented on #586
@feiskyer ok! Thanks - given there are no PRs and this issue isn't graduating I'm not going to track it on the 1.14 enhancements sheet

[2019-01-23 18:47] lachie83 commented on #598
@mbohlool 1.14 enhancements shadow here. Friendly reminder that the enhancements freeze is less than a week out. Please provide a KEP for review if you are planning for this feature to land in 1.14. Cheers.

[2019-01-23 18:49] lachie83 commented on #600
@pbarker 1.14 release enhancements shadow here. We are less than a week out from 1.14 enhancements freeze. Friendly ping on @claurence comment above.

[2019-01-23 18:51] lachie83 commented on #626
@fanzhangio 👋1.14 release enhancements shadow here. We are less than a week out from 1.14 enhancements freeze. Friendly ping on @claurence comment above.

[2019-01-23 18:54] pbarker commented on #600
Hey sorry @claurence I somehow missed your ping 🙂 This feature is in alpha in 1.13, I didn't know if it should be kept open as we track it toward beta or open a separate one. WDYT?

[2019-01-23 20:50] lachie83 commented on #166
@gmarek @k82cn @Huang-Wei  👋 1.14 release enhancements shadow here. We are less than a week out from 1.14 enhancements freeze. Friendly ping on @claurence comment above.

[2019-01-23 20:58] claurence commented on #600
@pbarker I think it gets left open until it graduates to stable based on what other issues do - is it targeting beta for 1.14 or should it be removed from the 1.14 milestone?  Thanks

[2019-01-23 21:06] lachie83 commented on #593
@bsalamat 👋 1.14 release enhancements shadow here. We are less than a week out from 1.14 enhancements freeze. Friendly ping on @claurence comment above.

[2019-01-23 21:33] rtheis commented on #671
/sig ibm-cloud

[2019-01-23 21:35] rtheis commented on #671
/sig ibmcloud

[2019-01-23 21:40] rtheis commented on #671
/assign @rtheis

[2019-01-23 21:42] claurence commented on #631
@mcrute thanks!  Any open PRs we should track for 1.14?

[2019-01-23 21:46] andrewsykim commented on #671
/sig ibmcloud

[2019-01-23 22:20] jingxu97 commented on #551
I just added KEP https://github.com/kubernetes/enhancements/pull/719

[2019-01-23 22:57] MrHohn commented on #504
@claurence Thanks for handling the milestone and labels. To confirm, we need to merge the KEP PR (https://github.com/kubernetes/enhancements/pull/700) before the Enhancements freeze, right?

[2019-01-24 01:15] WanLinghao commented on #542
/cc

[2019-01-24 08:03] pierreozoux commented on #706
Here is the repo I'd like to discuss: https://github.com/pierreozoux/StandardResourceDefinitions

[2019-01-24 14:54] claurence commented on #504
@MrHohn we'd like the KEP in an implementable state by enhancements freeze.

[2019-01-24 17:14] claurence commented on #661
@SidakM checking in as enhancements freeze is on Tuesday - was the KEP reviewed?  Are there any open PRs to track for the 1.14 cycle?

[2019-01-24 17:38] frapposelli commented on #670
/milestone v1.14
/stage beta

[2019-01-24 21:26] andrewsykim commented on #668
@cheftako @fedebongio @jagosan can you set a stage target for this issue for v1.14 please?

[2019-01-24 22:19] andrewsykim opened #724 "Service Node Exclusion"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Exclude nodes from load balancers based on an annotation on the node.
- Primary contact (assignee):
@andrewsykim
- Responsible SIGs:
SIG Cloud Provider / SIG Network
- Design proposal link (community repo):
TODO
- Link to e2e and/or unit tests:
TODO
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers

[2019-01-24 22:19] andrewsykim commented on #724
/sig network cloud-provider

[2019-01-24 23:22] msau42 commented on #121
KEP is here:
https://github.com/kubernetes/enhancements/pull/725

For 1.14 work, the following needs to be done:
- [ ] Evaluate all usage of IsLikelyNotMountPoint(): https://github.com/kubernetes/kubernetes/issues/72347
- [ ] Add local PV to storage testsuites: https://github.com/kubernetes/kubernetes/issues/71237
- [ ] Move feature gate to GA
- [ ] Doc updates

[2019-01-24 23:52] dashpole opened #727 "Kubelet Resource Metrics Endpoint"
# Enhancement Description
- One-line enhancement description: Introduce a new kubelet endpoint for serving metrics about first-class resources.
- Primary contact: @dashpole
- Responsible SIGs: Sig-Node, Sig-Instrumentation
- KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/727-resource-metrics-endpoint
- Link to e2e and/or unit tests: Coming soon
- Reviewer(s) - (for LGTM)

[2019-01-24 23:53] dashpole commented on #727
/sig node

[2019-01-25 05:34] krmayankk commented on #267
Is there a list of work items we can look at ? I would love to help on this work items

[2019-01-25 06:14] bgrant0607 commented on #619
How about tracking KEPs?

Something like this could be useful, to populate a review backlog:
https://github.com/kubernetes/test-infra/issues/9925

SIG Arch was doing this manually:
https://github.com/kubernetes-sigs/architecture-tracking/projects/2

[2019-01-25 06:15] bgrant0607 commented on #619
Note that tracking is made trickier since some may have PRs open and some may be merged in a provisional state.

[2019-01-25 11:33] rtheis commented on #671
@andrewsykim that's my goal.

[2019-01-25 15:16] andrewsykim commented on #671
Thanks, going to apply the stage/milestone labels for now, feel free to ping me if it needs to change for v1.14.

/stage alpha
/milestone v1.14

[2019-01-25 15:31] timothysc commented on #357
Now that we're all in on KEPs and we have tracking KEPs for some of this work, I'd move to close this issue.

[2019-01-25 16:00] neolit123 commented on #357
we had this discussion where the release team joined the sig-cluster-lifecycle meeting and the overall impression was that KEPs and issues should exist together.

my vote is to track progress using KEPs only.
problem with KEPs is that there is no way to filter them by labels like `tracked`, so this will make the release team job difficult.

cc @BenTheElder @spiffxp

[2019-01-25 18:06] spiffxp commented on #357
For now, I'd rather not have some issues open and some closed, and I don't think we're at a point where every tracking issue can be closed and we go solely off of KEPs.

I'm fine with all updates landing in the KEP.  We'll get to there from here.  Just leave this open for us, so we can have a list of everything in/out tracked/not.  There are many more KEPs than there are enhancements planned to la

[2019-01-25 18:45] bsalamat commented on #593
This is a feature that is already implemented. We want to move it to GA in 1.14.

[2019-01-25 20:15] claurence commented on #671
@rtheis @spzala does this issue have a KEP associated with it yet?  We want all issues to have a KEP.

[2019-01-25 20:34] andrewsykim commented on #671
@claurence I'm writing a draft KEP for all the out-of-tree providers that are alpha/beta for v1.14. Just blocked on https://github.com/kubernetes/enhancements/pull/703 at the moment.

[2019-01-25 21:11] dashpole commented on #727
@claurence I am going to wait until the KEP is approved to open PRs.  Ill reference this feature issue from the PRs if/when that happens

[2019-01-25 21:16] claurence commented on #213
@krmayankk is there a KEP for this issue?  I'm not sure if I see one linked but might have missed it.  Thanks

[2019-01-25 21:19] claurence commented on #383
@wojtek-t checking in as enhancements freeze is next week - are there plans to try to get this in 1.14 as alpha?  If so is there a KEP for this issue?

[2019-01-25 22:34] claurence commented on #594
@jsafrane great - do y'all have a KEP for this issue?  We want all issues to have a KEP by enhancements freeze.  Also are there any PRs we should track?

[2019-01-25 22:36] claurence commented on #626
@fanzhangio @vladimirvivien checking in on plans for this issue for 1.14?  Is there a KEP associated with it?  We'd like all issues to have a KEP before enhancement freeze

[2019-01-25 22:49] cheftako commented on #668
Targeting an alpha release for 1.14

[2019-01-25 22:49] cheftako commented on #668
/milestone v1.14

[2019-01-26 00:17] lachie83 commented on #667
@andrewsykim @justaugustus can you please add me as an assignee as I'll run point on getting the KEP together

[2019-01-26 02:07] gnufied commented on #556
This feature will release as an alpha feature in 1.14. As such we weren't planning for a KEP because it does not require a major redesign in existing internals it builds on feature that already exists in k8s.

[2019-01-26 23:17] justaugustus commented on #667
Done!
/assign @lachie83

[2019-01-27 23:33] andrewsykim commented on #724
Kicked off discussions for this here https://groups.google.com/forum/#!topic/kubernetes-sig-network/erULVdDkLNw

[2019-01-27 23:33] andrewsykim commented on #724
cc @bowei @thockin

[2019-01-28 02:42] WanLinghao commented on #727
/cc

[2019-01-28 09:40] claurence commented on #383
Thanks @bgrant0607 - for 1.14 we want everything to have a KEP - for enhancements freeze if this KEP is mostly linking to the design proposal that is fine as long as things like test plan and graduation criteria spelled out.

Additionally are there any open PRs that should be tracked for 1.14? Thanks

[2019-01-28 10:19] yastij commented on #383
@claurence  ref: kubernetes/kubernetes#65782

[2019-01-28 10:56] lledru commented on #166
@gmarek @k82cn @Huang-Wei Hello, i'm one of the 1.14 release enhancements shadow, tomorrow enhancement freeze occurs and we still need a KEP. Otherwise you will be asked to fill in an exception.

[2019-01-28 11:32] claurence commented on #603
@msau42 checking in on a link to a KEP - have you had a chance to merge the design proposal into a KEP?

[2019-01-28 11:34] claurence commented on #593
@bsalamat any open PRs we should track for this feature to move to stable in 1.14?   Additionally is there a link to a KEP for this issue?

[2019-01-28 13:58] lledru commented on #598
@mbohlool @deads2k Hello, i'm one of the 1.14 release enhancements shadow, tomorrow enhancement freeze occurs and we still need a KEP. Otherwise you will be asked to fill in an exception.

[2019-01-28 14:01] lledru commented on #213
@krmayankk Hello, i'm one of the 1.14 release enhancements shadow, tomorrow enhancement freeze occurs and we still need a KEP. Otherwise you will be asked to fill in an exception.
we see you have a proposal, could you convert it please ? thanks

[2019-01-28 14:15] lledru commented on #668
Hello, i'm one of the 1.14 release enhancements shadow, tomorrow enhancement freeze occurs and we still need a KEP. Otherwise you will be asked to fill in an exception. Could you provide one ? Thanks

[2019-01-28 14:51] andrewsykim commented on #668
@lledru I'll have PR for this today, thanks for the ping!

[2019-01-28 19:43] pwittrock commented on #633
/assign @Liujingfang1
/assign @monopole

[2019-01-28 21:18] micahhausler opened #740 "API for external signing of Service Account tokens"
### Enhancement Description

- One-line enhancement description (can be used as a release note): External signer integration for service account tokens
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/740-service-account-external-signing
- Primary contact (assignee): @HarshalNeelkamal
- Responsible SIGs: sig-auth
- Enhancement target (which ta

[2019-01-28 22:38] SidakM commented on #661
@claurence Someone looked and commented but didn't follow up after so I am unsure where its at.

[2019-01-28 22:50] bgrant0607 commented on #619
Regarding real experience with merging KEPs early/often:

It is possible to review KEP PRs after they've merged, but is harder to track responses to those review comments.

Example: Windows KEP updates: #676, #685, #729, #732, #739

[2019-01-28 23:23] tallclair opened #745 "Add spelling verification to the enhancements repo"
When KEPs were migrated from the community repo, we lost the spelling verification. We should copy [the scripts](https://github.com/kubernetes/community/tree/master/hack) over from the community repo, and enable them in presubmit.

[2019-01-28 23:35] andrewsykim commented on #669
FYI put together the boiler plate for this KEP here https://github.com/kubernetes/enhancements/pull/735

[2019-01-28 23:36] andrewsykim commented on #667
FYI put together the boiler plate for this KEP here https://github.com/kubernetes/enhancements/pull/735

[2019-01-28 23:36] andrewsykim commented on #668
FYI put together the boiler plate for this KEP here https://github.com/kubernetes/enhancements/pull/735

[2019-01-28 23:36] andrewsykim commented on #631
FYI put together the boiler plate for this KEP here https://github.com/kubernetes/enhancements/pull/735

[2019-01-28 23:37] andrewsykim commented on #671
FYI put together the boiler plate for this KEP here https://github.com/kubernetes/enhancements/pull/735

[2019-01-29 00:11] andrewsykim commented on #670
FYI put together the boiler plate for this KEP here #735

[2019-01-29 01:35] andrewsykim commented on #671
@spzala there are TODOs in the IBM KEP proposed in that PR. Will need you to fill it out after the PR is merged :)

[2019-01-29 03:33] spzala commented on #671
:) thanks @andrewsykim and that sounds good.

[2019-01-29 09:43] claurence commented on #213
@krmayankk yes!  For Enhancement freeze if the KEP is mostly a link to the design proposal that is fine
but we want to see things like test plan and graduation criteria spelled out

[2019-01-29 11:22] claurence commented on #740
@micahhausler I see this issue has been added targeting Alpha for 1.14 - I'm the enhancements lead so if that is correct I'll add it to the milestone - as an FYI enhancements freeze is today 1/29 at PST EOD - we'll want to have a KEP for this issue merged and in an implementable state by then.

[2019-01-29 13:03] justaugustus commented on #667
Thanks @andrewsykim!
@lachie83 @feiskyer -- please use #735 as the template for the Azure KEP

[2019-01-29 16:43] claurence commented on #357
@neolit123 - the KEP PR is see is not merged yet - do you all anticipate it will be merged before enhancements freeze (EOD today, 1/29)

[2019-01-29 18:00] derekwaynecarr opened #751 "HugePages"
# Enhancement Description: HugePages to GA
- Primary contact (assignee): @derekwaynecarr
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/enhancements/pull/750
- Link to e2e and/or unit tests:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/hugepages_test.go
- Reviewer(s) @dchen1107 @vishh
- Approver (likely from SIG/area to whi

[2019-01-29 18:00] derekwaynecarr commented on #751
/sig node

[2019-01-29 18:26] freehan opened #752 "EndpointSlice API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): New Endpoint API as eventual replacement of the current core/v1 Endpoints API.
- Primary contact (assignee): @freehan
- Responsible SIGs: sig-network, sig-scalability
- Kubernetes Enhancement Proposal PR: #1086
- Kubernetes Enhancement Proposal:https://github.com/kubernetes/enhancements/tree/master/keps/s

[2019-01-29 18:33] Joseph-Irving opened #753 "Sidecar Containers"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Kubernetes introduces the built-in support for sidecar containers pattern.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/753-sidecar-containers/README.md
- Discussion Link: Sidecar [working group](https://docs.google.com/document/d/1E1guvFJ5KBQI

[2019-01-29 18:36] Joseph-Irving commented on #753
@enisoc @dchen1107 @fejta @thockin @kow3ns @derekwaynecarr, opened this tracking issue so that we can discuss.

[2019-01-29 18:44] mattfarina commented on #706
@pierreozoux I'll poke at the different topics here as I get a chance. The first is the AppsBinding. Thanks for pointing me to the post on it.

One problem is the way the credentials are stored in the AppBinding CRs. They are stored in plain text inside etcd and don't appear to be mountable via things like environment variables. ConfigMaps and Secrets have a special place in Kubernetes in their ab

[2019-01-29 19:02] vishh commented on #751
@derekwaynecarr do we have adequate metrics exposed to track the health of huge pages functionality in Kubelet? If yes, it would be great if you can list them here (or ideally in user docs) for easier reference in the future

[2019-01-29 19:05] majgis commented on #691
#753

[2019-01-29 20:08] derekwaynecarr opened #757 "Pid Limiting"
# Enhancement Description
- Ability to isolate pid resources pod-to-pod and node-to-pod
- Primary contact (assignee): @derekwaynecarr
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/enhancements/pull/755
- Link to e2e and/or unit tests: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/pids_test.go
- KEP: [https://github.com/kube

[2019-01-29 20:09] derekwaynecarr commented on #757
/sig node

[2019-01-29 20:11] bowei opened #758 "Move Ingress to the networking.v1beta1 API group"
# Enhancement Description
- One-line enhancement description: Move Ingress to the networking.v1beta1 API group
- Primary contact: bowei
- Responsible SIGs: sig-network
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md
- Link to e2e and/or unit tests:
- Reviewer(s): @aledbf
- Approver: @caseydavenport, thockin@
- Enhancement target: 1.14, 1

[2019-01-29 20:11] bowei commented on #758
/sig network

[2019-01-29 20:13] bowei commented on #758
/kind cleanup

[2019-01-29 20:14] bowei commented on #423
/lifecycle frozen

[2019-01-29 20:36] d-nishi commented on #423
/remove-lifecycle frozen

@M00nf1sh please provide an update!

[2019-01-29 21:12] M00nF1sh commented on #423
@claurence
Hi Claire, The NLB support is targeting to be beta in 1.14. We'll fix existing bugs and provide e2e test cases/docs

[2019-01-29 21:22] leakingtapan commented on #630
@claurence [Here](https://github.com/kubernetes/enhancements/pull/741) is the Beta release KEP.

[2019-01-29 21:39] leakingtapan opened #762 "AWS EFS CSI Driver"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
   AWS EFS CSI Driver provides an CSI implementation to manage EFS filesystem within Kubernetes.
- Primary contact (assignee): @leakingtapan
- Responsible SIGs: sig-aws
- Design proposal link (community repo): https://github.com/kubernetes/enhancements/pull/744
- Link to e2e and/or unit tests:
   * https:

[2019-01-29 21:39] leakingtapan commented on #762
/sig-aws

[2019-01-29 21:39] leakingtapan commented on #762
/sig-storage

[2019-01-29 21:43] leakingtapan opened #763 "AWS FSx for Lustre CSI Driver"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
   AWS FSx for Lustre CSI provides a CSI implementation to manager AWS FSx for Lustre filesystem within kubernetes.
- Primary contact (assignee): @leakingtapan
- Responsible SIGs:
   * /sig-aws
   * /sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/enhancements/pull/748
-

[2019-01-29 21:43] leakingtapan commented on #763
/sig-aws

[2019-01-29 21:43] leakingtapan commented on #763
/sig-storage

[2019-01-29 22:46] bsalamat commented on #564
@claurence We want to move this feature to GA in 1.14. This feature is not new though. It has design docs/proposals merged a long time ago ([here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/pod-priority-api.md) and [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/pod-preemption.md)).

[2019-01-29 23:10] claurence commented on #383
Checking in to see if there is a KEP for this or an open PR for a KEP? I know there is an existing design proposal but we would like it converted to a KEP for 1.14.

[2019-01-29 23:17] claurence commented on #556
@gnufied I think we'd still want a KEP - is there a testing plan for this enhancement?  graduation criteria?

[2019-01-29 23:18] claurence commented on #594
@jsafrane checking on a KEP for this issue - is there a PR open for a KEP?

[2019-01-29 23:22] claurence commented on #625
@davidz627 - apologies for getting back to this so late - thanks for linking the original design proposal doc - we do want all issues to have a KEP for 1.14 - even if it's just pointing to the design proposal doc.  And that it spells out graduation criteria and testing plan.

[2019-01-29 23:45] ameukam commented on #762
/sig sig-aws storage

[2019-01-29 23:46] ameukam commented on #762
/sig aws

[2019-01-29 23:47] msau42 opened #770 "Skip attach for non-attachable CSI volumes"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow CSI drivers that don't support attach to not require the CSI external-attacher
- Primary contact (assignee): @jsafrane
- Responsible SIGs: sig-storage
- Design proposal link (community repo)/ KEP: https://github.com/kubernetes/enhancements/pull/768 / https://github.com/kubernetes/enhancements/blob/m

[2019-01-29 23:47] ameukam commented on #763
/sig aws storage

[2019-01-29 23:48] msau42 commented on #770
For some reason I couldn't find a feature issue for this, so I created this

[2019-01-29 23:48] msau42 commented on #770
@kubernetes/sig-storage-feature-requests

[2019-01-29 23:48] msau42 commented on #770
cc @claurence
This should be tracked as beta for 1.14.

[2019-01-30 00:03] Random-Liu opened #772 "CRI: Include pod name and namespace in the CRI pod log directory"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Change CRI pod log directory to `/var/log/pods/{POD_NAMESPACE}_{POD_NAME}_{POD_UID}`
- Primary contact (assignee): @Random-Liu
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/issues/58638#issuecomment-385126031
- Link to e2e and/or unit tests:

[2019-01-30 00:05] jingxu97 opened #773 "Taint and Tolerations for Volume and Pod"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add a new taint effect NoAttachOrMount to allow to taint PVC/PV so that Pods cannot start to use this volume unless they tolerate the taint
- Primary contact (assignee): @jingxu97
- Responsible SIGs: sig-storage
- Design proposal link (community repo): #766
- Link to e2e and/or unit tests:
- Reviewer(s) -

[2019-01-30 00:09] msau42 commented on #770
/assign @bertinatto @jsafrane

[2019-01-30 00:09] msau42 commented on #603
/assign @bertinatto