[2018-03-29 15:10] #549 closed

[2018-03-29 15:20] gnufied opened #554 "Dynamic Maximum volume count"
# Feature Description
- Add support for dynamic and generic mechanism of maximum volume per node.
- Primary contact (assignee): gnufied
- Responsible SIGs: sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/2051
- KEP: [20190408-volume-scheduling-limits](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190408-volume-scheduling

[2018-03-29 15:20] gnufied commented on #554
/assign

[2018-03-29 15:38] immutableT commented on #460
Yes,
https://github.com/GoogleCloudPlatform/k8s-cloudkms-plugin/

I will be adding deployment instructions soon (after [61862](https://github.com/kubernetes/kubernetes/pull/61862) is approved).

[2018-03-30 02:31] xing-yang commented on #543
@mlmhl We have agreed to work on this and target for 1.11 Alpha.

[2018-03-30 03:46] mlmhl commented on #543
Thanks @xing-yang . My team is very looking forward to this feature, and I can help to move along this feature if you needed.

[2018-03-30 04:01] xing-yang commented on #543
Thanks @mlmhl!  I'll keep that in mind.

[2018-04-01 03:05] #363 closed

[2018-04-02 13:29] idvoretskyi commented on #116
@michmike @kubernetes/sig-windows-feature-requests this feature is still under active development, right?

[2018-04-02 14:08] michmike commented on #116
yes this is still under active development. we are likely to get it out of beta in the next few months.

[2018-04-02 14:08] michmike commented on #116
/remove-lifecycle stale

[2018-04-02 14:08] michmike commented on #116
/remove-lifecycle rotten

[2018-04-02 19:01] khenidak commented on #370
yes and yes :-) but its @ritazh who is driving the work.

[2018-04-03 14:25] craigbox commented on #274
/remove-lifecycle stale

[2018-04-03 20:43] mikedanese commented on #266
/lifecycle frozen

[2018-04-04 09:34] k82cn commented on #382
Beta release target (1.11)

[2018-04-06 01:54] k82cn commented on #269
As we incubated this feature in https://github.com/kubernetes-incubator/kube-arbitrator , and we will upgrade it feature by feature. so I'm going to close this one :)

[2018-04-06 01:54] #269 closed

[2018-04-06 14:08] klausenbusk commented on #554
Is it intended for this to work with flexvolume plugins? We still lack a solution for that use-case.

[2018-04-06 14:09] gnufied commented on #554
It is intended to work with all volume types. Including Flexvolume and CSI.

[2018-04-06 17:38] apelisse opened #555 "Server-side Apply"
# Feature Description
- One-line feature description (can be used as a release note): Move "apply" and declarative object management from `kubectl` to the `apiserver` in order to fix many of the existing bugs that we can't fix today. Also use that opportunity to add "field ownership".
- Primary contact (assignee): @apelisse @lavalamp
- Responsible SIGs: sig-api-machinery sig-cli (wg-apply was crea

[2018-04-07 15:39] #371 closed

[2018-04-09 16:12] gnufied commented on #284
@bradenwright for GCE and AWS the resizing support was introduced in 1.9 alpha. 1.8 only had controller changes and as a result file system could not be resized. In 1.9 we introduced file system resizing and added support for gce/AWS etc. Obviously this is much more polished in 1.10

@childsb @saad-ali can we add this 1.11 milestone? This feature will go beta in 1.11

[2018-04-09 18:29] #360 closed

[2018-04-10 05:15] k82cn commented on #382
/sig node

[2018-04-10 16:48] PatrickLang commented on #547
Should we close this issue since PRs are merged?

[2018-04-10 16:56] JiangtianLi commented on #547
I think so. @feiskyer what do you think?

[2018-04-11 03:13] feiskyer commented on #547
@PatrickLang @JiangtianLi  The original PR only adds CPU and memory. We should also add security context.

[2018-04-11 11:30] CalvinHartwell commented on #178
@saad-ali do we have any example working CSI plugins yet?

[2018-04-11 11:39] tamalsaha commented on #178
@CalvinHartwell  https://github.com/rexray/csi-nfs ?

[2018-04-11 11:52] dims commented on #178
we have one for cinder here https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/csi/cinder

[2018-04-11 19:12] clintkitson commented on #178
See here @CalvinHartwell!

https://kubernetes-csi.github.io/docs/Drivers.html

[2018-04-11 21:05] CalvinHartwell commented on #178
thanks @tamalsaha @dims @clintkitson don't forget: [https://github.com/ceph/ceph-csi](https://github.com/ceph/ceph-csi), it should go into that list.

Also that list is pretty class, it needs to go into the storage section of the upstream k8s manual. :+1: :+1: :100:

[2018-04-11 23:08] Quentin-M commented on #127
Just leaving a note here..

Because most Kubernetes deployments have kube-system services that require root privileges on the host (e.g. overlay networks), we will need to support `--userns=host`, and extend PodSecurityPolicies with a a permission around using its usage.

[2018-04-11 23:12] php-coder commented on #127
PSP already has such support: see [`HostNetwork `](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#host-namespaces)

[2018-04-12 02:16] gnufied opened #556 "Add resizing support to CSI volumes"
# Feature Description
- Add resizing support for CSI volumes
- Primary contact (assignee): @gnufied
- Responsible SIGs: sig-storage
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) -  @jsafrane @saad-ali
- Approver (likely from SIG/area to which feature belongs): @jsafrane @saad-ali
- Feature target (which target equals to which milestone):
  - Alpha release

[2018-04-12 02:17] gnufied commented on #556
/assign

[2018-04-12 02:17] gnufied commented on #556
/sig storage

[2018-04-12 10:32] idvoretskyi commented on #555
/assign @apelisse

[2018-04-12 10:32] idvoretskyi commented on #554
@kubernetes/sig-storage-feature-requests

[2018-04-12 10:33] idvoretskyi commented on #554
/assign @gnufied

[2018-04-12 10:39] idvoretskyi commented on #553
/assign @rphillips

[2018-04-12 10:40] idvoretskyi commented on #553
@rphillips @kubernetes/sig-cluster-lifecycle-feature-requests @k8s-mirror-api-machinery-feature-rqusts do you already have a defined roadmap for this feature? Any plans for 1.11?

cc @justaugustus

[2018-04-12 10:42] idvoretskyi commented on #552
@yujuhong @dchen1107 @kubernetes/sig-node-feature-requests do you already have a defined roadmap for this feature? Any plans for 1.11?

cc @justaugustus

[2018-04-12 10:42] idvoretskyi commented on #551
@yastij can you confirm that this feature targets 1.11 as an alpha?

cc @justaugustus

[2018-04-12 10:43] idvoretskyi commented on #546
@dims @kubernetes/sig-node-feature-requests can you confirm that this feature is targeting 1.11 as an alpha?

[2018-04-12 10:46] idvoretskyi commented on #496
@saad-ali @k8s-mirror-storage-feature-requests any plans for 1.11?

cc @justaugustus

[2018-04-12 10:49] idvoretskyi commented on #545
@saad-ali @k8s-mirror-storage-feature-requests any plans for 1.11?

/cc @justaugustus

[2018-04-12 10:50] idvoretskyi commented on #545
@NickrenREN @saad-ali @kubernetes/sig-storage-feature-requests any plans for 1.11?

/cc @justaugustus

[2018-04-12 10:51] idvoretskyi commented on #543
@xing-yang @saad-ali @kubernetes/sig-storage-feature-requests can you confirm that this feature is planned for 1.11?

/cc @justaugustus

[2018-04-12 11:29] dims commented on #546
@idvoretskyi apologies for not updating this issue. the code actually landed in 1.10 itself as alpha : https://k8s-code.appspot.com/?q=SupportPodPidsLimit&i=nope&files=&repos=

[2018-04-12 12:56] yastij commented on #551
I guess we do have a PR opened for this on the taint side.

cc @jingxu97 @zetaab

[2018-04-12 13:16] rphillips commented on #553
Definitely on my TODO list for 1.11.

[2018-04-12 15:38] xing-yang commented on #543
@idvoretskyi Yes, we are targeting this feature for 1.11.

[2018-04-12 20:32] justaugustus commented on #552
/assign @yujuhong

[2018-04-12 20:40] justaugustus commented on #546
@dims would you mind updating the description with anything that's changed since it was created?
/assign @dims

[2018-04-12 22:42] verult opened #557 "Kubernetes CSI topology support"
# Feature Description
- One-line feature description (can be used as a release note): Kubernetes CSI topology support
- Primary contact (assignee): @verult @vladimirvivien
- Responsible SIGs: sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/2034
- Link to e2e and/or unit tests:
- Reviewer(s): @msau42 @saad-ali
- Approver (likely from SIG/area to whi

[2018-04-12 23:06] verult opened #558 "GCE PD topology support"
# Feature Description
- One-line feature description (can be used as a release note): GCE PD topology support
- Primary contact (assignee): @msau42
- Responsible SIGs: sig-storage
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s): @saad-ali @verult
- Approver (likely from SIG/area to which feature belongs): @saad-ali
- Feature target (which target equals to wh

[2018-04-12 23:11] msau42 commented on #558
/assign
/assign @verult

[2018-04-13 12:28] nottrobin commented on #491
/remove-lifecycle rotten

[2018-04-13 18:36] mbohlool commented on #544
You need to be subscribed to sig-api-machinery mailing list to see the doc but the PR is out:

https://github.com/kubernetes/community/pull/2026

It only has main/approved part of the design though. If you want the history and discussion please join sig-api-machinery mailing list.

[2018-04-13 21:43] kevtaylor opened #559 "Provide environment variables expansion in sub path mount"
# Feature Description
- One-line feature description (can be used as a release note): Provide environment variables expansion in sub path mount
- Primary contact (assignee): @kevtaylor
- Responsible SIGs: kubernetes/sig-storage
- Design proposal link (community repo):
 kubernetes/kubernetes#48677
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20181029-volume-subpath

[2018-04-13 21:51] msau42 commented on #559
Assignee should be @kevtaylor ;-)

[2018-04-13 23:04] ryanwalls commented on #121
Is there documentation for how to use this feature?  Can't seem to find it.

[2018-04-13 23:10] kevtaylor commented on #559
Related to this issue https://github.com/kubernetes/kubernetes/issues/48677 not the one above

[2018-04-13 23:41] msau42 commented on #121
@ryanwalls try this: https://kubernetes.io/docs/concepts/storage/volumes/#local

It also has a link to the external provisioner page, which also has a walk through guide using the static provisioner.

[2018-04-16 07:47] jsafrane commented on #559
"Design proposal link" leads to "taint node 'shutdown' condition"

[2018-04-16 07:49] kevtaylor commented on #559
@jsafrane Sorry, I corrected it in the comment above - but I didn't know how to edit the original

[2018-04-16 07:51] kevtaylor commented on #559
@jsafrane  Actually - forget that - I just did it

[2018-04-16 07:57] kevtaylor commented on #559
@jsafrane I also update the assignee as per @msau42 comments

[2018-04-16 13:16] mightwork commented on #490
@msau42 In my use case, the statefulset does not automatically schedule pods on the same node as the pv(local storage). To overcome this I have written a custom scheduler that schedules the pod on the node which has it's pv.  This also works in the case where the pod goes down and needs to be brought up on the exact node that has it's pv.
Will the changes planned for 1.11 eliminate the need for a

[2018-04-16 13:51] msau42 commented on #490
@mightwork the current feature should already be scheduling your pod to the correct node. Can you open an issue with the details of your PV and ping me?

[2018-04-16 21:37] tomkerkhove commented on #117
Any update here?

[2018-04-16 22:03] justaugustus commented on #139
@Moinheart Is there any worked planned for this feature in the 1.11 release?
If so, can you please update the feature description according to the [ISSUE_TEMPLATE](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)?

In general, this feature issue needs to be actively maintained by someone or we need to make the determination that it is truly stale.

/remove-lifecycle frozen
cc

[2018-04-16 22:11] justaugustus commented on #362
@vishh / @jingxu97 --
What's the current status of this feature? From the comments, it looks like it's complete, but I'd like to make sure before we look at closing this out.

cc @idvoretskyi

[2018-04-16 22:25] justaugustus commented on #407
@roberthbailey Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- Description
- Milestone
- Assignee(s)
- Labels:
  - stage/{alpha,beta,stable}
  - sig/*
  - kind/feature

cc @idvoretskyi

[2018-04-16 22:28] justaugustus commented on #357
@luxas / @timothysc -- Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- Description
- Milestone
- Assignee(s)
- Labels:
  - stage/{alpha,beta,stable}
  - sig/*
  - kind/feature

cc @idvoretskyi

[2018-04-16 22:33] justaugustus commented on #288
@luxas @kubernetes/sig-cluster-lifecycle-feature-requests Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- Description
- Milestone
- Assignee(s)
- Labels:
  - stage/{alpha,beta,stable}
  - sig/*
  - kind/feature

cc @idvoretskyi

[2018-04-16 22:33] jingxu97 commented on #362
@justaugustus Yes, the work for this feature is basically done. We are moving to beta in 1.10. Thanks!

[2018-04-16 22:39] justaugustus commented on #115
@justinsb @mikedanese @roberthbailey @kubernetes/sig-cluster-lifecycle-feature-requests Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- Description
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 22:43] justaugustus commented on #261
@quinton-hoole @kubernetes/sig-multicluster-feature-requests Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- Description
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 22:45] justaugustus commented on #171
@justinsb Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- Description
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 22:49] justaugustus commented on #362
@jingxu97 just to clarify, would you mind updating the feature description, especially the feature targets?

[2018-04-16 22:54] justaugustus commented on #18
@errordeveloper @justinsb @luxas @kubernetes/sig-cluster-lifecycle-feature-requests Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- Description
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 22:59] jingxu97 commented on #362
@justaugustus updated. Thanks!

[2018-04-16 22:59] justaugustus commented on #177
@jingxu97 @saad-ali @kubernetes/sig-storage-feature-requests Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:07] justaugustus commented on #258
@quinton-hoole Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:11] justaugustus commented on #71
@quinton-hoole
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:17] justaugustus commented on #292
@feiskyer
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:26] justaugustus commented on #367
@cmluciano
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:27] justaugustus commented on #366
@cmluciano
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:28] rsdcastro commented on #18
Adding @johnsonj, who is actively working on add-ons management

[2018-04-16 23:33] justaugustus commented on #372
@MrHohn @kubernetes/sig-gcp-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:36] justaugustus commented on #375
@ConnorDoyle @sjenning
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:40] justaugustus commented on #11
@roberthbailey @luxas @jbeda @mikedanese
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:53] justaugustus commented on #384
@smarterclayton
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-16 23:55] justaugustus commented on #289
@yguo0905 / @kow3ns --
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:06] justaugustus commented on #265
@cmluciano @m1093782566 @kubernetes/sig-network-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:09] justaugustus commented on #22
@timstclair @crassirostris @soltysh
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:15] justaugustus commented on #95
@sttts @nikhita @deads2k
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:25] justaugustus commented on #495
@verb
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:26] justaugustus commented on #277
@verb
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:36] justaugustus commented on #278
@jsafrane @saad-ali
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:44] ryanwalls commented on #121
@msau42 Any thoughts on if local-storage would work with StatefulSets?  Examples?  The biggest question I have is what to do with the `nodeAffinity` requirement.

[2018-04-17 00:45] msau42 commented on #121
@ryanwalls this feature is designed to work with StatefulSets.  Can you describe in more detail your question about nodeAffinity?

[2018-04-17 00:48] justaugustus commented on #492
@caesarxuchao
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 00:59] justaugustus commented on #516
@filmil @liggitt
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:04] justaugustus commented on #263
@lavalamp @luxas @deads2k
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:06] justaugustus commented on #5
@php-coder @liggitt @tallclair
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:10] justaugustus commented on #504
@MrHohn
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:14] justaugustus commented on #279
@mikedanese @liggitt
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:15] justaugustus commented on #539
@m1093782566
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:18] lichuqiang opened #561 "Topology aware dynamic provisioning"
# Feature Description
- One-line feature description (can be used as a release note): Topology aware dynamic provisioning
- Primary contact (assignee): @msau42 @lichuqiang
- Responsible SIGs: sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1857
- Link to e2e and/or unit tests:
- Reviewer(s): @msau42 @jsafrane
- Approver (likely from SIG/area to whi

[2018-04-17 01:21] lichuqiang opened #562 "Local storage dynamic provisioning"
# Feature Description
- One-line feature description (can be used as a release note): Local storage dynamic provisioning
- Primary contact (assignee): @lichuqiang @msau42
- Responsible SIGs: sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1914
- Link to e2e and/or unit tests:
- Reviewer(s): @msau42 @jsafrane
- Approver (likely from SIG/area to whic

[2018-04-17 01:25] justaugustus commented on #508
@danehans
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:28] justaugustus commented on #304
@xingzhou @gnufied
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:29] msau42 commented on #561
/assign

[2018-04-17 01:32] justaugustus commented on #497
@verult @vkamra
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:33] justaugustus commented on #515
@smarterclayton
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:37] ryanwalls commented on #121
@msau42

I'm trying to use the example here: https://kubernetes.io/docs/tutorials/stateful-application/cassandra/ to deploy a cassandra statefulset, but using local storage.

My concern is that there are multiple nodes that will have the statetfulset and in the local-storage docs it implies you have to have a 1 to 1 relationship between volume claims and nodes.

The docs say:

Here's the template

[2018-04-17 01:38] justaugustus commented on #536
@m1093782566
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:39] justaugustus commented on #19
@soltysh
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:40] justaugustus commented on #365
@smarterclayton
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:44] justaugustus commented on #21
@kgrygiel @mwielgus
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:49] justaugustus commented on #88
@wlan0 @luxas @thockin
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:52] justaugustus commented on #213
@krmayankk
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:53] justaugustus commented on #499
@pospispa
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:55] justaugustus commented on #24
@tallclair @liggitt
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 01:58] justaugustus commented on #43
@mikedanese @kubernetes/sig-auth-feature-requests @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-node-feature-requests

Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`

[2018-04-17 02:00] justaugustus commented on #361
@jingxu97 @vishh
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:02] justaugustus commented on #503
@SandeepPissay
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:08] justaugustus commented on #374
@bsalamat
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:10] justaugustus commented on #34
@sttts
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:11] ryanwalls commented on #121
@msau42 Everything I'm reading implies that local-storage does not support dynamic provisioning yet.  https://kubernetes.io/docs/concepts/storage/storage-classes/#local.  So I'm assuming using a `volumeClaimTemplates` array will not work?

[2018-04-17 02:11] fturib commented on #427
This feature is
- ALPHA in k8s v1.9
- BETA in k8s v1.10
- There is a KEP in progress for GA : https://github.com/kubernetes/community/pull/1956

[2018-04-17 02:16] justaugustus commented on #423
@justinsb
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:29] justaugustus commented on #130
@luxas @jbeda
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:41] justaugustus commented on #356
@luxas
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:43] justaugustus commented on #386
@mwielgus
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:44] justaugustus commented on #281
@mtaufen
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:46] justaugustus commented on #383
@gmarek
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:48] justaugustus commented on #514
@feiskyer
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:50] justaugustus commented on #513
@feiskyer
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:53] ryanwalls commented on #121
@msau42 Awesome!!  Super helpful.  Thank you!

[2018-04-17 02:57] justaugustus commented on #276
@ConnorDoyle @sjenning @derekwaynecarr @kubernetes/sig-node-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 02:58] msau42 commented on #121
Yw, and please feel free to ping me on slack if you need any more help (I'm in pst)

[2018-04-17 03:05] justaugustus commented on #368
@vishh @jiayingz @derekwaynecarr @kubernetes/sig-node-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:06] justaugustus commented on #275
@derekwaynecarr
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:07] justaugustus commented on #498
@pospispa
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:15] justaugustus commented on #378
@timothysc
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:17] justaugustus commented on #296
@timothysc @luxas
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:26] justaugustus commented on #460
@cjcullen @bgrant0607 @kksriram @kubernetes/sig-auth-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:28] justaugustus commented on #502
@ericchiang @deads2k
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:31] vishh commented on #368
We now have device plugins in Beta, quota supports extensible resources, and the scheduler supports it as well. Scheduler extensions have been proven to work with extended resources.
The main missing feature is exposing metrics (`kubectl top`) which would require making heapster support extensible compute resources. There is an effort happening in the v1.11 time frame to make the node monitoring s

[2018-04-17 03:32] justaugustus commented on #415
@luxas @timothysc
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:40] justaugustus commented on #370
@khenidak
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

/assign @khenidak
cc @idvoretskyi

[2018-04-17 03:41] justaugustus commented on #274
@therc
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:44] justaugustus commented on #267
@jcbsmpsn @kubernetes/sig-auth-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:46] justaugustus commented on #266
@jcbsmpsn @mikedanese @kubernetes/sig-auth-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:47] justaugustus commented on #106
@davidopp
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:49] justaugustus commented on #548
@k82cn
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:52] justaugustus commented on #92
@mikedanese @smarterclayton @ericchiang
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:55] justaugustus commented on #166
@gmarek
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:56] justaugustus commented on #380
@ericchiang @kubernetes/sig-auth-feature-requests
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 03:59] justaugustus commented on #286
@Random-Liu
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:01] justaugustus commented on #382
@k82cn
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:03] justaugustus commented on #358
@chrislovecnm @justinsb
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:06] justaugustus commented on #271
@piosz
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:08] justaugustus commented on #264
@DirectXMan12
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:09] justaugustus commented on #118
@DirectXMan12
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:11] justaugustus commented on #547
@feiskyer @JiangtianLi
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:15] justaugustus commented on #178
@saad-ali
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:29] justaugustus commented on #551
/stage alpha

[2018-04-17 04:32] justaugustus commented on #531
@mlmhl @gnufied
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:33] justaugustus commented on #284
@gnufied
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:37] justaugustus commented on #351
@erinboyd, @screeley44, @mtanino @saad-ali
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:38] justaugustus commented on #542
@mikedanese
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:40] justaugustus commented on #546
/label stage/alpha

[2018-04-17 04:42] justaugustus commented on #557
/assign @verult @vladimirvivien

[2018-04-17 04:45] justaugustus commented on #491
@apelisse
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 04:49] justaugustus commented on #559
@kevtaylor
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

/assign @kevtaylor

cc @idvoretskyi

[2018-04-17 04:52] justaugustus commented on #490
@msau42
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 05:14] mlmhl commented on #531
@justaugustus  Yeah, we are working on this feature now, the [doc PR](https://github.com/kubernetes/community/pull/1535) and [code PR](https://github.com/kubernetes/kubernetes/pull/62460) are both posted.
The Milestone and Labels are already updated, are these correct?

[2018-04-17 05:30] justaugustus commented on #531
@mlmhl looks good. Just wanted to confirm before committing this to the 1.11 Features list. Thanks again!

[2018-04-17 05:39] nikhita commented on #95
I don't have permissions to edit the PR body (if someone can do that, it'd be great!). But the plan is:

- Implement CRD versioning. This has another features issue: https://github.com/kubernetes/features/issues/544. Design proposal: https://github.com/kubernetes/community/pull/2026.
- Add pruning and defaulting for custom resources.
- Support maps in the CRD validation schema. https://github.com/

[2018-04-17 05:44] nikhita commented on #544
This needs to be added to the v1.11 milestone.

[2018-04-17 06:10] feiskyer commented on #514
/stage beta

[2018-04-17 07:47] php-coder commented on #34
@sttts Do we need to wait until pod annotations become fields or it doesn't block us from graduating it to beta?

[2018-04-17 07:58] kevtaylor commented on #559
/sig storage

[2018-04-17 07:58] kevtaylor commented on #559
/kind feature

[2018-04-17 07:59] kevtaylor commented on #559
/stage alpha

[2018-04-17 08:42] nikhita commented on #95
/cc @mbohlool

[2018-04-17 09:03] sttts commented on #95
done

[2018-04-17 10:28] irfanurrehman commented on #258
@justaugustus, I would suggest closing this issue here, as federation features are no longer released with k8s releases.

[2018-04-17 10:53] crassirostris commented on #22
/cc @loburm

[2018-04-17 11:28] k82cn commented on #548
* Milestone: 1.11
* Assignee(s): @k82cn

/stage alpha
/sig scheduling
/kind feature

[2018-04-17 11:57] deads2k commented on #502
The feature has been remarkably stable.  I'm ok promoting it as-is.

@kubernetes/sig-auth-api-reviews opinions?

[2018-04-17 12:37] johnbelamaric commented on #427
@justaugustus thanks - I am not a member so I don't have the access to change labels, etc. But as @fturib says it is targeted for GA in 1.11. @rajansandeep can you change the labels?

[2018-04-17 12:47] rajansandeep commented on #427
I don’t seem to have permissions to change the labels.
@cmluciano @idvoretskyi can update the labels here.

[2018-04-17 13:40] cmluciano commented on #427
Updated

[2018-04-17 13:45] ryanwalls commented on #121
@msau42 Got everything working.  One more question.  Does a local-storage PV have to map 1 to 1 to a node when specifying `nodeAffinity`?

e.g.  I am using a `general-purpose` tag for some nodes.  If multiple nodes have that tag will this PV definition be problematic?

[code]

[2018-04-17 13:46] johnbelamaric commented on #427
@cmluciano thank you!

[2018-04-17 13:57] msau42 commented on #121
If you want your pod to be able to access the exact same disk/data if it restarts then yes.

[2018-04-17 14:07] msau42 commented on #490
Plan is to remain beta in 1.11.

https://github.com/kubernetes/features/issues/561 is tracking the dynamic provisioning work

[2018-04-17 14:32] liggitt commented on #34
yes, they need to become fields

[2018-04-17 15:44] pwittrock commented on #491
@apelisse Think we could move this out of alpha for 1.11?

[2018-04-17 16:10] mikebrow commented on #286
/remove-lifecycle stale

[2018-04-17 16:26] danehans commented on #508
@leblancd is leading the IPv6 charge. I will let him comment.

[2018-04-17 16:40] leblancd commented on #508
@justaugustus - This should probably be broken into 2 separate issues:
IPv6-Only support: Release 1.9, Alpha
Dual-Stack Support: Release 1.11, Alpha
I think this issue (#508) is sufficient for IPv6-Only support, and a new Issue will be needed for dual-stack.

[2018-04-17 16:43] leblancd commented on #508
/kind feature

[2018-04-17 16:44] krmayankk commented on #213
@justaugustus yes the api changes for the pr is already out in 62216 . Please note that some part of it is already out in 1.10

[2018-04-17 16:45] apelisse commented on #491
@justaugustus We'll try to get everything for a nice alpha release in 1.11. Labels are up-to-date, I updated the milestone, thanks!

[2018-04-17 16:47] filmil commented on #516
I'd close this feature request for now.   While a simple change, it sets off an avalanche of concerns that I can't handle at the moment.

[2018-04-17 16:47] #516 closed

[2018-04-17 19:49] tallclair commented on #5
@php-coder Can you respond to @justaugustus 's comment with the work that you're doing here?

[2018-04-17 19:55] php-coder commented on #5
No, I worked only on this.

I hope that @liggitt will update the description when he has a time.

[2018-04-17 20:06] tallclair commented on #5
Done.

[2018-04-17 20:26] justaugustus commented on #5
@tallclair just to clarify, we're tracking stable as the target for 1.11, correct?
I've updated the label, just want to make sure though.

[2018-04-17 20:26] justaugustus commented on #516
Appreciate the update, @filmil!

[2018-04-17 20:29] justaugustus commented on #213
@krmayankk just to clarify, we're tracking a beta target for 1.11, correct?

[2018-04-17 20:29] tallclair commented on #5
No, this will still be beta. I'm not sure PodSecurityPolicy will ever go to stable (i.e. will be superceded by something else), but others might disagree with me on this.

[2018-04-17 20:33] justaugustus commented on #508
@leblancd

- Is there any work being planned for IPv6-only support in the 1.11 release? If so, can you let us know if it's tracking beta or stable, so we can set the milestone?
- Would you mind opening an issue with the appropriate details for Dual-Stack support?

[2018-04-17 20:36] justaugustus commented on #491
Thanks for getting the labels updated, @apelisse!
Would you mind also updating the feature targets within the description?

[2018-04-17 20:39] justaugustus commented on #34
@php-coder @liggitt so just to clarify, no work planned for 1.11?
Also, would you mind updating the description to fit the [new feature description template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)?

[2018-04-17 20:40] justaugustus commented on #490
Thanks for the update, @msau42!

[2018-04-17 20:42] sttts commented on #34
@justaugustus promotion to beta is discussed in sig-node /cc @derekwaynecarr

[2018-04-17 20:44] justaugustus commented on #121
@vishh @msau42
Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

cc @idvoretskyi

[2018-04-17 20:45] justaugustus commented on #427
Perfect. Thanks for the updates everyone!

[2018-04-17 20:47] justaugustus commented on #502
Updated the milestone. Thanks for the feedback, @deads2k + @enj!

[2018-04-17 20:48] justaugustus commented on #263
Thanks for the update, @deads2k + @lavalamp!

[2018-04-17 20:52] justaugustus commented on #548
Thanks for the update, @k82cn!

[2018-04-17 20:53] justaugustus commented on #258
Thanks for the update, @irfanurrehman!
/close

[2018-04-17 20:53] #258 closed

[2018-04-17 20:56] justaugustus commented on #95
@nikhita @sttts @mbohlool -- just to clarify, are we targeting beta for the 1.11 cycle?

[2018-04-17 20:57] justaugustus commented on #559
Thanks for the update, @kevtaylor!

[2018-04-17 20:58] justaugustus commented on #514
Thanks for the update, @feiskyer!

[2018-04-17 20:59] msau42 commented on #121
Plan for 1.11 is to remain in beta.

LVM dynamic provisioning is being tracked in https://github.com/kubernetes/features/issues/562

[2018-04-17 20:59] justaugustus commented on #5
Got it. Thanks for the update, @tallclair!

[2018-04-17 21:05] apelisse commented on #491
Sorry, good point :-) Updated!

[2018-04-17 21:06] justaugustus commented on #121
Thanks @msau42!

[2018-04-17 21:17] valentin2105 commented on #508
@justaugustus
IPv6-only work fine on v1.9 & v1.10 releases and in dual stack too.

[2018-04-17 23:34] tallclair commented on #135
@wangzhen127 is working on it, but can't be assigned as he's not a member yet.

https://github.com/kubernetes/kubernetes/pull/62662
https://github.com/kubernetes/kubernetes/pull/62671

[2018-04-17 23:51] k82cn commented on #382
* Milestone: 1.11
* Assignee(s): @k82cn
* Labels:

/stage beta
/sig node
/kind feature

[2018-04-18 01:06] MrHohn commented on #504
@justaugustus Thanks for checking in. There is no plan for this feature in 1.11.

[2018-04-18 01:07] MrHohn commented on #372
This feature issue is somehow obselete. Closing for now.

[2018-04-18 01:07] #372 closed

[2018-04-18 01:14] johnsonj commented on #18
Yes! We can unfreeze this bug. I'm starting to look at this area (along with justinsb@) and would like to reach an end state that works for Kubernetes generally. The plan today is to dream, start a solution in the cluster-api/cluster-lifecycle, and grow it from there. Will update with designs as they happen.

[2018-04-18 13:20] smarterclayton commented on #515
@juanvallejo can you add details about the 1.11 planned things?  I think we should try to get custom CRD columns on the server side in 1.11 with a minimal alpha api.  I can bump the stable target to 1.12

[2018-04-18 16:31] soltysh commented on #19
Controller re-write to satisfy https://github.com/kubernetes/kubernetes/issues/17130 but I'm still struggling with time. So this is more of a wishful thinking than actual plans :wink:

[2018-04-18 22:11] spiffxp commented on #18
/remove-help
I don't think this meets [the criteria for `help wanted`](http://git.k8s.io/community/contributors/devel/help-wanted.md). Please add back via `/help` if I'm incorrect

[2018-04-18 22:33] leblancd opened #563 "Add IPv4/IPv6 dual-stack support"
# Feature Description
- One-line feature description (can be used as a release note):
IPv4/IPv6 dual-stack support and awareness for Kubernetes pods, nodes, and services
- Primary contact (assignee): @leblancd
- Responsible SIGs: sig-network
- Design proposal link (community repo): [Add IPv4/IPv6 dual stack KEP (old)](https://github.com/kubernetes/community/pull/2254)
- KEP: https://github.com/kub

[2018-04-18 22:34] leblancd commented on #508
@justaugustus :
[Dual-Stack feature issue](https://github.com/kubernetes/features/issues/563)

[2018-04-19 00:33] leblancd commented on #563
Cross Reference with kubernetes/kubernetes: [Issue #62822](https://github.com/kubernetes/kubernetes/issues/62822)

[2018-04-19 07:54] fabiand commented on #18
@johnsonj cool to hear. Is there already some draft to review?

[2018-04-19 08:17] adelton commented on #127
We are working for KEP for sig-node.

[2018-04-19 09:15] jsafrane commented on #432
@saad-ali, shall we bake it as Beta for one more release and have it stable in 1.12?

[2018-04-19 09:27] fabiand commented on #278
That's interesting - What's the reason for not targeting it for beta/GA?

(To me - at this point in time - this is the right decision, because mounts in containers is ... dangerous.)

[2018-04-19 18:50] pospispa commented on #498
/milestone 1.11
/stage stable

[2018-04-19 18:55] pospispa commented on #498
@tsmetana @jsafrane please, would you update the labels to:
/milestone 1.11
/stage stable
as I don't have permissions for it.

[2018-04-19 18:57] pospispa commented on #498
@justaugustus I'd like to bring this feature to GA. I've created a PR: https://github.com/kubernetes/kubernetes/pull/62870

Note: documentation changes are in PR https://github.com/kubernetes/website/pull/7775 that should be re-opened after the source code is merged.

I've updated the feature description.

I don't have permission to update milestone and labels, but I hope @tsmetana or @jsafrane wi

[2018-04-19 18:59] pospispa commented on #499
@tsmetana @jsafrane please, would you update the labels to:
/milestone 1.11
/stage stable
as I don't have permissions for it.

[2018-04-19 19:36] verb commented on #277
@justaugustus yes, shooting for alpha in 1.11. Confirmed that feature is up-to-date.

[2018-04-19 19:37] verb commented on #495
@justaugustus no plans for 1.11. Aiming for beta in 1.12.

[2018-04-19 21:51] bsalamat commented on #374
@justaugustus
This is already implemented. There is a part of this that require scheduler to watch the ConfigMap and restart itself when a change is observed, but there is no plan to add the auto-restart.

[2018-04-19 23:17] johnsonj commented on #18
Not yet @fabiand but that is at the top of my list!

[2018-04-20 04:45] justaugustus commented on #374
Sounds good, I'll close this out!
/close

[2018-04-20 04:45] #374 closed

[2018-04-20 04:47] justaugustus commented on #495
Thanks for the update, @verb!

[2018-04-20 04:48] justaugustus commented on #277
Thanks for the update!

[2018-04-20 04:52] justaugustus commented on #499
Thanks for the update, @pospispa!

[2018-04-20 04:53] justaugustus commented on #498
Thanks for the update!

[2018-04-20 04:59] justaugustus commented on #278
@jsafrane Okay, I'm going to close this out, but if you need to reopen for any reason, feel free!
/close

[2018-04-20 04:59] #278 closed

[2018-04-20 05:03] justaugustus commented on #432
@jsafrane I'll tentatively set this to `next-milestone`, but if you feel differently, just let us know.

[2018-04-20 05:04] justaugustus commented on #563
Thanks for the update!

/assign @leblancd
/kind feature
/sig network
/milestone v1.11

[2018-04-20 05:08] justaugustus commented on #19
Okay cool. I'm going to push the milestone on this.

[2018-04-20 05:09] justaugustus commented on #365
Thanks for the update, Clayton!

[2018-04-20 05:13] justaugustus commented on #515
Thanks for the update!

[2018-04-20 05:29] justaugustus commented on #18
Thanks for the update, everyone!
I'm going to hold this as `next-milestone`, but if anyone feels differently, just let me know.

/remove-lifecycle frozen

[2018-04-20 05:30] justaugustus commented on #504
Thanks for the update!

[2018-04-20 05:31] justaugustus commented on #382
Thanks for the update!

[2018-04-20 05:33] justaugustus commented on #135
Thanks for the update, Tim!
/remove-lifecycle frozen

[2018-04-20 05:41] justaugustus commented on #213
Thanks for the update!

/kind feature

[2018-04-20 05:48] justaugustus commented on #286
@Random-Liu @mikebrow pinging again for status.

Any plans for this in 1.11?

If so, can you please ensure the feature is up-to-date with the appropriate:
- [Description](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)
- Milestone
- Assignee(s)
- Labels:
  - `stage/{alpha,beta,stable}`
  - `sig/*`
  - `kind/feature`

[2018-04-20 05:49] justaugustus commented on #491
Thanks again!

[2018-04-20 07:54] jsafrane commented on #278
It's dangerous. We want to reduce the options how volume plugins are working. We already have enough problems with containerized kubelet.

Note that a Flex driver can be deployed in containers already, it's orthogonal to this feature. And CSI basically requires to deploy mount utilities in containers.

[2018-04-20 16:55] kfox1111 commented on #278
Might just want to clarify. Containerizing just the mount tools (so that stuff like the native ceph driver can work) is the thing not going forward. The ability to share mounts outside of a container, or have whole drivers (csi) is staying. So the end goal of having all the things in containers is still moving forward, just without this particular implementation?

[2018-04-20 21:03] Random-Liu commented on #286
The feature is GA now.

## Status Update
* **Release:** Containerd 1.1 is going to be released soon, and CRI support is natively built-in.
* **Test:**
  * CRI Validation Test: All pass.
  * Node E2E Test: All pass. https://k8s-testgrid.appspot.com/sig-node-containerd
  * Cluster E2E Test: All pass. https://k8s-testgrid.appspot.com/sig-node-containerd

[2018-04-20 23:59] mtaufen commented on #281
@justaugustus does stage indicate the target for the milestone, or the current status?

[2018-04-21 01:48] justaugustus commented on #281
@mtaufen the stage represents the target for the current milestone (`v1.11`).

[2018-04-21 01:57] justaugustus commented on #286
Thanks for the update, @Random-Liu!
I'll go ahead and close this out.

/remove-help
/close

[2018-04-21 01:57] #286 closed

[2018-04-22 23:36] mwielgus commented on #21
The feature is developed here: https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler. It is more of and add-on rather then a core Kubernetes feature. It is released independently.

[2018-04-23 07:59] jsafrane commented on #278
Yes.

The end goal is CSI - CSI drivers may (and often must) containerize their tools and Kubernetes does not need to be changed in any way.

[2018-04-23 20:55] sjenning commented on #34
/remove-lifecycle stale

[2018-04-23 20:57] derekwaynecarr commented on #127
@justaugustus

I have done the following:

1. updated description.
1. assigned the 1.11 milestone per sig-node planning
1. updated assignees from sig-node community
1. the feature is planned for stage/alpha in 1.11
1. linked to the proposal under discussion in 4/24 sig-node meeting.

[2018-04-23 21:00] derekwaynecarr commented on #34
@justaugustus - per sig-node planning, goal is to promote to beta.

I have updated assignees with those doing development and review.

[2018-04-23 23:40] yujuhong commented on #552
@idvoretskyi we plan to promote kubelet's log rotation feature from Alpha to Beta in 1.11.

Also, we plan to redefine the container logging path to ensure necessary metadata is captured.

[2018-04-24 00:07] bsalamat opened #564 "Add pod priority and preemption"
# Feature Description
- One-line feature description (can be used as a release note): Pod priority and preemption enables Kubernetes scheduler to schedule more important Pods first and when cluster is out of resources, it removes less important pods to create room for more important ones. The importance is specified by priority.
- Primary contact (assignee): @bsalamat
- Responsible SIGs: schedulin

[2018-04-24 09:46] idvoretskyi commented on #552
@yujuhong perfect, thanks!

[2018-04-24 12:08] adelton commented on #127
@derekwaynecarr, the https://github.com/kubernetes/community/pull/2042 was superseded by https://github.com/kubernetes/community/pull/2067.

[2018-04-24 16:48] DirectXMan12 commented on #117
Yes, sorry, I'll make sure that is up to day.  We've got some small improvements coming in 1.11

[2018-04-24 17:01] DirectXMan12 commented on #117
/remove-lifecycle stale

[2018-04-24 17:02] DirectXMan12 commented on #117
/stage beta
/kind feature
/sig autoscaling

[2018-04-24 18:24] DirectXMan12 commented on #264
This is actually part of the HPA v2 feature, which we can just track as part of https://github.com/kubernetes/features/issues/117.

[2018-04-24 18:24] #264 closed

[2018-04-24 18:35] justaugustus commented on #264
Thanks for consolidating, Solly!

[2018-04-24 18:35] justaugustus commented on #118
Thanks for consolidating, Solly!

[2018-04-24 18:37] justaugustus commented on #88
@andrewsykim please be sure to update the feature issue with the relevant details (mentioned above), as soon as you all make a decision tomorrow.

Feature freeze is today (EOD PDT).

[2018-04-24 18:38] justaugustus commented on #117
Thanks for the update, @DirectXMan12!

[2018-04-24 18:41] justaugustus commented on #564
/assign @bsalamat

[2018-04-24 18:49] justaugustus commented on #127
Thanks @adelton, I've updated the description to reflect that.

[2018-04-24 19:06] justaugustus commented on #95
@sttts Hmmm, in that case, should we have separate issues to track those stages independently?

[2018-04-24 20:31] gnufied commented on #284
@justaugustus as indicated above, we are going to take this feature to beta in 1.11 . I have already updated milestones for that

[2018-04-25 11:06] tomkerkhove commented on #117
Awesome, looking forward to this! However, any plans for stable?

[2018-04-25 18:35] saad-ali commented on #178
@justaugustus for 1.11 we are planning on keeping CSI in beta. Planning for GA in 1.12

[2018-04-25 23:16] PatrickLang commented on #547
I'll add some more comments on security contexts

[2018-04-26 13:09] andrewsykim commented on #88
/stage beta

[2018-04-27 08:31] vladimirvivien opened #565 "CSI Block storage support"
# Feature Description
- One-line feature description (can be used as a release note):
  * Support for raw block storage in CSI
- Kubernetes Enhancement Proposal: [CSI Raw Block Support](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190130-csi-raw-block-support.md)
- Primary contact (assignee): @bswartz
- Responsible SIGs: sig-storage
- Reviewer(s): @saad-ali @jsafrane @

[2018-04-27 08:31] vladimirvivien commented on #565
/assign

[2018-04-27 08:33] vladimirvivien commented on #565
/milestone 1.11

[2018-04-27 09:04] pospispa commented on #498
PR https://github.com/kubernetes/kubernetes/pull/62870 got merged.

[2018-04-27 09:05] pospispa commented on #499
PR https://github.com/kubernetes/kubernetes/pull/62870 got merged.

[2018-04-27 09:07] vladimirvivien commented on #565
/sig storage

[2018-04-27 09:07] vladimirvivien commented on #565
/kind feature

[2018-04-27 09:08] vladimirvivien commented on #565
/stage alpha

[2018-04-29 04:01] justaugustus commented on #556
/kind feature

[2018-04-29 06:02] justaugustus commented on #34
/label tracked/yes

[2018-04-30 14:34] ingvagabund commented on #34
Working on the KEP for the graduation here: https://github.com/kubernetes/community/pull/2093

[2018-05-01 15:07] johnbelamaric commented on #427
This has changed now, we need to split into two features: CoreDNS available as an option, and CoreDNS as default. Can we just rename the issue and create a new one for making it default (targeting 1.12)?

[2018-05-01 16:09] twilfong commented on #34
Are there also plans to include more sysctls in the safe set as part of this? My company would definitely make use of the ability to set net.ipv4.tcp_keepalive_time, tcp_keepalive_intvl, and tcp_keepalive_probes on a per-pod basis.

Example use: Java applications that depend on TCP keepalive, but which rely on the standard Socket class, can turn keepalive on with that class, but can't set those th

[2018-05-01 16:11] wangzhen127 commented on #407
/cc @wangzhen127

[2018-05-02 13:26] php-coder commented on #34
There are also 2 open PRs for adding more safe sysctls: https://github.com/kubernetes/kubernetes/pull/54896 and https://github.com/kubernetes/kubernetes/pull/55011

[2018-05-02 13:36] idvoretskyi commented on #563
@leblancd any design document available?

/cc @thockin @dcbw @luxas @kubernetes/sig-network-feature-requests

[2018-05-02 13:48] sttts commented on #34
@twilfong compare my comment https://github.com/kubernetes/kubernetes/pull/54896#issuecomment-344541244. We are open to adding more sysctls to the safe set, but we need a kernel source analysis why it is safe. Note that also unsafe sysctls can be used, but they must be whitelisted in the kubelet.

[2018-05-02 19:48] twilfong commented on #34
Thanks @php-coder and @sttts.

@sttts: I've read your comment and read through https://github.com/kubernetes/community/pull/700/files#diff-0e864ea85fc8d72b3bd0b0f39c34d143R342 and understand the basic requirements for whitelisting.

I have verified that the three net.ipv4.tcp_keepalive_* parameters are namespaced in net ns, but have not done an analysis to find if the memory resources caused by th

[2018-05-02 19:59] sttts commented on #34
@twilfong I would suggest to add a convincing discussion to the proposal in the community repo for documentation and a counter part PR in k/k against the whitelist. @sjenning @derekwaynecarr @vishh are the ones who can review this.

[2018-05-02 21:59] Quentin-M commented on #504
- https://github.com/kubernetes/kubernetes/issues/56903
- https://github.com/kubernetes/kubernetes/issues/62628
- https://github.com/kubernetes/kubernetes/pull/62764
- https://github.com/weaveworks/weave/issues/3287

[2018-05-07 19:15] DirectXMan12 commented on #117
*eventually*.  Realistically, I want to give a release or two for feedback on the new stuff, so that we can be sure we're happy with the shape of the API, then we'll look towards stable.

[2018-05-07 20:42] ritazh commented on #460
Kubernetes KMS Plugin for Azure Key Vault: https://github.com/Azure/kubernetes-kms
cc @khenidak

[2018-05-07 21:27] justaugustus opened #566 "Switch default DNS plugin to CoreDNS"
# Feature Description
- One-line feature description (can be used as a release note): Switch default DNS plugin to CoreDNS
- Primary contact (assignee): @johnbelamaric
- Responsible SIGs: sig-network, sig-cluster-lifecycle
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1100
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area

[2018-05-07 21:30] justaugustus commented on #427
@johnbelamaric / @cmluciano -- I've renamed the description of this feature and created a new one (#566) around enabling CoreDNS as the default DNS plugin. PTAL and let me know if there are any details I need to update on that feature issue.

[2018-05-08 16:45] idvoretskyi commented on #427
@justaugustus what's the difference between the current one and #566?

[2018-05-08 17:04] leblancd commented on #563
@idvoretskyi - No design doc yet, but we'll start collaborating on one shortly.

[2018-05-08 17:07] johnbelamaric commented on #427
@idvoretskyi the current one does not enable it by default. It just declares it a GA feature that can be enabled. Enabling it by default (on new installs and on upgrades) will come later.

[2018-05-08 17:12] idvoretskyi commented on #427
@johnbelamaric it's clear, thanks.

[2018-05-08 17:15] msau42 opened #567 "AWS EBS topology support"
One-line feature description (can be used as a release note): AWS EBS topology support
Primary contact (assignee): @ddebroy
Responsible SIGs: sig-storage
Design proposal link (community repo):
Link to e2e and/or unit tests:
Reviewer(s): @gnufied @jsafrane
Approver (likely from SIG/area to which feature belongs): @gnufied @jsafrane
Feature target (which target equals to which milestone):
Alpha rele

[2018-05-08 17:15] msau42 commented on #567
@kubernetes/sig-storage-feature-requests

[2018-05-08 17:42] luxas commented on #566
Hi, thanks for filing this feature!
I have a couple of questions/concerns though.
Why is this marked alpha? It sounds more like it should be stable/GA when it's a default.
I don't think this even needs to be a separate features issue. The common practice is to use one issue (in this case https://github.com/kubernetes/features/issues/427) to track the full lifecycle.
If your goal is to have CoreDNS

[2018-05-08 17:47] luxas commented on #427
I'm not sure two feature issues are needed for that though. If CoreDNS is GA in v1.11 it's up to every deployment tool (kubeadm, kops, GKE, AKS, EKS, etc.) to enable it by default in their own pace. You can't dictate a default for an option for all of the installer options, as some of them are unreachable to the OSS world. I'd go with just this one. If you want to track the enabling of CoreDNS as

[2018-05-08 17:55] johnbelamaric commented on #427
@luxas I see your point. However, don't we need to provide a recommendation at some point as to which of the options to use? What if we want to deprecate `kube-dns` at some point?

This "replace a component" is new territory, so we're trying to figure out the best process.

[2018-05-08 18:16] luxas commented on #427
When CoreDNS is GA, I'd expect it to be the default for new clusters as it's the new thing.
That's the implicit recommendation from the feature status for me at least.
If CoreDNS is ready to technically be default in all new clusters in v1.11, I'd graduate it to GA now and deprecate kube-dns. kube-dns would be supported as an option for backwards-compability for a year (approx. four releases; unti

[2018-05-08 19:26] stp-ip commented on #566
The reasoning behind the split was, that in order to make it default later on the actual plugin needs to be stable/GA already. That was the prerequisite after a bigger discussion. The result was the split into two feature issues and making the default alpha first. (Alpha might not be the best thing so.)

[2018-05-08 19:29] stp-ip commented on #566
Reading all your other comments on the other thread (https://github.com/kubernetes/features/issues/427#issuecomment-387485724) your comment is much clearer in my head. As CoreDNS is such a central place it make still make sense to track the state of being the default.

[2018-05-09 16:52] johnbelamaric commented on #427
@luxas I expect there will be additional features (if there aren't already) in which you choose between several GA options that provide similar functionality. For example, whether to use iptables or ipvs for kube-proxy. I think we need a model for managing those situations.

[2018-05-10 19:56] sb1975 commented on #563
Does this mean Kubernetes Ingress will support Dual-Stack ?
Does this mean CNI ( Calico) would need to run Dual stack ( both BIRD and BIRD6 daemons for example) ?

[2018-05-11 14:34] enj commented on #460
Citadel: Turn an arbitrary command into a Kubernetes Key Management Service GRPC server

https://github.com/enj/citadel

Kubernetes SIG Auth 2018-04-04 Demo (~6 minutes): https://youtu.be/2zJf_g0PJ6s

@npmccallum

[2018-05-11 14:49] leblancd commented on #563
@sb1975 - Regarding dual-stack ingress support, that's something we'll need to hash out, but here are my preliminary thoughts:
- Dual stack ingress support will mostly depend upon which ingress controller you use (whether it's supported and how it's implemented). Existing ingress controllers will probably need some changes to support dual-stack.
- I expect that the ingress *configuration* for a ty

[2018-05-11 15:40] ingvagabund commented on #34
Promotion of annotations to API fields PR: https://github.com/kubernetes/kubernetes/pull/63717

[2018-05-11 16:57] luxas commented on #268
Shouldn't this be reopened as you're now targeting beta?

[2018-05-11 21:25] luxas commented on #356
@justaugustus incremental progress will be made, but not targeting beta yet.

/lifecycle frozen

[2018-05-11 21:26] luxas commented on #296
@justaugustus this feature won't move to GA yet, we're improving it incrementally in the beta state.

/lifecycle frozen

[2018-05-11 21:29] luxas commented on #288
This won't move to beta yet, targeting v1.12

[2018-05-14 08:54] NickrenREN opened #568 "PV health monitor"
# Feature Description
- One-line feature description (can be used as a release note): mark the PVs if the underlying volumes are unhealthy to avoid data loss
- Primary contact (assignee): @NickrenREN
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1484
- Link to e2e and/or unit tests:
- Reviewer(s) -

[2018-05-14 08:57] NickrenREN commented on #568
/assign

[2018-05-15 21:51] sb1975 commented on #563
@leblancd : So here is the scenario :
1. Lets say we will use NGINX ingress controller
2. I am exposing my services via Ingress.
3. I am running my pods configured on dual-stack
4. I am trying to reach the service remotely using A and AAAA dns-records.
Hope all of these
5. In summary : I want to connect to pod interfaces using either IPv4 or IPv6 addresses, as resolved by my own queries for A and/

[2018-05-16 13:55] idvoretskyi commented on #11
@roberthbailey @luxas @jbeda @mikedanese @kubernetes/sig-cluster-lifecycle-feature-requests

There've been plans to promote kubeadm to GA in 1.11, the upcoming release. Can you let us know if these plans are still valid?

cc @justaugustus

[2018-05-16 17:28] luxas commented on #11
@idvoretskyi We do not target GA in v1.11. We have executed very well on our path to GA though, eliminating dependencies and roadblocks. Hopefully in v1.12, but you'll never know. We are still blocked on some other parts (like kube-proxy ComponentConfig graduating to beta from sig-network). We're getting  really close though :+1:

[2018-05-17 03:39] #378 closed

[2018-05-17 03:39] #386 closed

[2018-05-17 03:39] #192 closed

[2018-05-17 04:40] #106 closed

[2018-05-17 20:43] leblancd commented on #563
@sb1975 - Good question re. the NGINX ingress controller with dual-stack. I'm not an expert on the NGINX ingress controller (maybe someone more familiar can jump in), but here's how I would see the work flow:
- When you try to reach the Kube services from outside, your DNS controller should resolve the service with A and AAAA DNS records for the ingress controller. It would be your client/app's ch

[2018-05-21 20:38] mistyhacks commented on #498
Are this and #499 both covered by Docs PR https://github.com/kubernetes/website/pull/8159? They are separate line items in the release spreadsheet for 1.11.

[2018-05-21 23:11] SandeepPissay commented on #503
I'm not working on this issue and dont plan to work on it in the next few months. I'll close this for now.

[2018-05-21 23:11] #503 closed

[2018-05-23 16:47] pospispa commented on #498
@mistyhacks yes, both are covered by https://github.com/kubernetes/website/pull/8159
Originally they were planned as separate features for 1.9, but they were merged into `StorageObjectInUseProtection` feature in 1.10.

[2018-05-23 21:39] AishSundar commented on #502
@deads2k I saw your earlier reply about e2e tests for this feature. I am following up to see if and which of those tests should we promoted to the conformance test suite. Let me know if we already have coverage for this feature in [Conformance suite](https://k8s-testgrid.appspot.com/conformance-all#GCE,%20master%20(dev))

As part of the process to increase conformance coverage, outlined by Conform

[2018-05-23 21:42] AishSundar commented on #499
@pospispa I am the CI Signal lead for 1.11 and also work on Conformance testing program for K8s. I see this feature is going to Stable in 1.11.
I assume you already have e2e tests for it. I am following up to see if and which of those tests should we promote to the conformance suite in 1.11
As part of the process to increase conformance coverage, outlined by Conformance WG and Sig-Arch, we expect

[2018-05-23 21:43] liggitt commented on #502
RBAC is not required for a cluster to be conformant, so no conformance tests require it. See discussion in https://github.com/kubernetes/kubernetes/issues/62988

[2018-05-23 21:46] AishSundar commented on #498
@pospispa I am the CI Signal lead for 1.11 and also work on Conformance testing program for K8s. I see this feature is going to Stable in 1.11.
I assume you already have e2e tests for it. I am following up to see if and which of those tests should we promote to the conformance suite in 1.11
As part of the process to increase conformance coverage, outlined by Conformance WG and Sig-Arch, we expect

[2018-05-23 21:57] AishSundar commented on #427
@johnbelamaric  I am the CI Signal lead for 1.11 and also work on Conformance testing program for K8s. I see this feature is going to Stable in 1.11.
I also see you have some e2e test changes for this feature. I am following up to see if and which of those tests should we promote to the conformance suite in 1.11.
As part of the process to increase conformance coverage, outlined by Conformance WG a

[2018-05-23 21:59] AishSundar commented on #502
Thanks for the quick followup @liggitt

[2018-05-24 04:42] smarterclayton commented on #427
I would expect the existing DNS conformance tests to cover this.  I
would not expect use of coredns to be required to be conformant.

All that said - are our dns conformance tests sufficient in scope to
cover the dns minimum requirements?

[2018-05-24 07:26] verb commented on #277
API agreement fell apart. This will not happen in 1.11.

[2018-05-24 12:40] fturib commented on #427
@AishSundar : CoreDNS is replacing kube-dns. As such we ensured already that CoreDNS is conform to existing DNS Conformance test.
We have a suite test for CoreDNS running here : http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-coredns (that is larger than Conformance)

As such, CoreDNS has already a representation in Conformance suite (the same as kube-dns, the feature it replaces).

We als

[2018-05-24 13:04] johnbelamaric commented on #427
@smarterclayton CoreDNS is conformant in the default configuration.

[2018-05-24 13:58] smarterclayton commented on #427
Thanks

On Thu, May 24, 2018 at 9:04 AM, John Belamaric <notifications@github.com>
wrote:

[2018-05-24 14:36] jessfraz opened #569 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 17:06] idvoretskyi commented on #5
@justaugustus I'll remove this from 1.11 milestone, as there's no significant progress is going to happen in the current release.

[2018-05-24 17:10] idvoretskyi commented on #43
@mikedanese @kubernetes/sig-auth-feature-requests @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-node-feature-requests

Any plans for this in 1.11?

cc @justaugustus

[2018-05-24 20:28] AishSundar commented on #427
Thanks @fturib for the clarification and PR pointers here

[2018-05-24 23:26] mistyhacks commented on #279
@liggitt @mikedanese please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs change

[2018-05-24 23:27] mistyhacks commented on #281
@mtaufen please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed

[2018-05-24 23:28] mistyhacks commented on #292
@feiskyer please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
neede

[2018-05-24 23:28] mistyhacks commented on #513
@feiskyer please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
neede

[2018-05-24 23:28] mistyhacks commented on #514
@feiskyer please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
neede

[2018-05-24 23:29] mistyhacks commented on #515
@justaugustus Does this need to be removed from the spreadsheet?

[2018-05-24 23:30] mistyhacks commented on #531
@mlmhl please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed a

[2018-05-24 23:31] mistyhacks commented on #542
@mikedanese please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
nee

[2018-05-24 23:32] mistyhacks commented on #543
@xing-yang @jingxu97 please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs change

[2018-05-24 23:32] mistyhacks commented on #547
@feiskyer please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
neede

[2018-05-24 23:33] mistyhacks commented on #34
@sttts please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed a

[2018-05-24 23:34] mistyhacks commented on #117
@DirectXMan12 please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
n

[2018-05-24 23:36] mistyhacks commented on #127
@derekwaynecarr please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are

[2018-05-24 23:37] mistyhacks commented on #382
@k82cn please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed a

[2018-05-24 23:37] mistyhacks commented on #491
@apelisse please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
neede

[2018-05-24 23:38] mistyhacks commented on #502
@deads2k please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed

[2018-05-24 23:39] mistyhacks commented on #544
@mbohlool please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
neede

[2018-05-24 23:39] mistyhacks commented on #548
@k82cn please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed a

[2018-05-24 23:40] mistyhacks commented on #551
@yastij please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed

[2018-05-24 23:40] mistyhacks commented on #553
@rphillips please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
need

[2018-05-24 23:41] mistyhacks commented on #554
@gnufied please fill out the appropriate line item of the
[1.11 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0)
and open a placeholder docs PR against the
[`release-1.11` branch](https://github.com/kubernetes/website/tree/release-1.11)
**by 5/25/2018** (**tomorrow** as I write this) if new docs or docs changes are
needed

[2018-05-25 01:44] rphillips commented on #553
@mistyhacks We can delete it out of the milestone. It isn't done.

[2018-05-25 11:47] yastij commented on #551
@mistyhacks - This isn't targeting 1.11 anymore, it is planned for 1.12 instead.

[2018-05-25 12:28] mlmhl commented on #531
@mistyhacks  done.

[2018-05-25 17:13] andrewsykim commented on #88
Preliminary GA milestones

- [ ] E2E tests reported to test grid by all providers
- [ ] Automated Docs update - working with docs team to automatically fetch docs from provider repos and into kubernetes/website
- [ ] Production ready migration plan for in-tree providers to migrate to out-of-tree successfully

[2018-05-25 17:22] mistyhacks commented on #553
@justaugustus

[2018-05-25 17:26] mistyhacks commented on #551
@justaugustus

[2018-05-25 17:27] mistyhacks commented on #531
Thanks for marking that it needs docs. I was not able to find the placeholder PR in order to put it in the 1.11 milestone. Can you point me to it?

[2018-05-25 18:05] DirectXMan12 commented on #117
done.

[2018-05-25 20:32] mistyhacks commented on #117
Thank you 🙌

[2018-05-25 23:35] mtaufen commented on #281
@mistyhacks done, thanks!

[2018-05-27 17:56] pospispa commented on #499
@AishSundar there're 2 E2E tests for the Storage Object In Use Protection feature:
- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/pv_protection.go
- https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/pvc_protection.go

IMHO, both E2E tests should be added to Conformance suite.

Please, what am I supposed to do now?

[2018-05-27 18:33] AishSundar commented on #499
@pospispa if you/owning SIG determine that these tests should be part of Conformance (for base profile) then the next step is to send a PR to promote the test to Conformance suite. Here's a [sample PR](https://github.com/kubernetes/kubernetes/pull/63947/files)

* Please use "Promote xxx e2e test to Conformance" as template of your PR title
* Tag your PR with "/area conformance" label
* Send your P

[2018-05-27 18:38] AishSundar commented on #499
cc @timothysc as FYI

[2018-05-29 10:49] sttts commented on #34
@ingvagabund ^^

[2018-05-29 13:59] msau42 commented on #499
Are PVCs and dynamic provisioning currently part of conformance?

[2018-05-29 15:48] AishSundar commented on #499
@msau42 I dont see them in current Conformance suite - https://k8s-testgrid.appspot.com/conformance-all#GCE,%20master%20(dev)

[2018-05-29 17:51] ingvagabund commented on #34
Docs: https://github.com/kubernetes/website/pull/8804

[2018-05-29 18:22] msau42 commented on #499
I spoke with @saad-ali briefly about adding this to the conformance suite. We're not sure dynamic provisioning in general can be supported in conformance because it requires vendor-specific volume plugins to work.

[2018-05-29 18:29] AishSundar commented on #499
cc @bgrant0607

[2018-05-29 18:52] bgrant0607 commented on #499
There are multiple issues:
1. Dynamic provisioning is higher-level automation, such as cluster autoscaling, and is optional.
2. All NAS volume sources are optional, provider-specific, and non-portable.
3. We don't have any PV, PVC, or StorageClass conformance tests currently.

We need to finalize the notion of profiles before we can add optional and/or non-portable functionality to the suite.

The

[2018-05-29 20:40] smarterclayton commented on #267
/lifecycle frozen

On Thu, May 17, 2018 at 9:49 AM, fejta-bot <notifications@github.com> wrote:

[2018-05-29 22:38] AishSundar commented on #499
Thanks @bgrant0607.

@msau42 @pospispa looks like this warrants a more involved discussion and might not be in scope for 1.11 timeframe(Code freeze is 6/5). Correct me if you think otherwise.

I will schedule a followup meeting with @msau42 @saad-ali @pospispa @WilliamDenniss to explore profiles in context of Sig Storage.

[2018-05-29 23:21] AishSundar commented on #499
@pospispa I am trying to add you to a meeting, but am unable to find your contact in Slack. Please provide me with an email id to add to the sync.

[2018-05-30 16:55] pospispa commented on #499
My understanding of the [comment](https://github.com/kubernetes/features/issues/499#issuecomment-392896054) is same. As it requires several prerequisites described in [comment](https://github.com/kubernetes/features/issues/499#issuecomment-392896054) IMHO, it's too late for the 1.11 timeframe.

@AishSundar my email is `pospispa@gmail.com` and I live in Central European timezone.

[2018-05-30 20:27] zparnold commented on #544
Looks like we still need some docs to get this feature ready for release @mbohlool
Could I please get some help with that? If there’s anything I can do to assist please let me know

[2018-05-30 20:31] zparnold commented on #555
Looks like we still need some docs to get this feature ready for release @apelisse
Could I please get some help with that? If there’s anything I can do to assist please let me know

At a minimum we're looking to have a placeholder PR on the kubernetes/website repo. The process is fairly straightforward: checkout `release-1.11` branch, make a placeholder commit, push it to your fork, and raise a PR

[2018-05-30 20:35] zparnold commented on #88
Looks like we still need some docs to get this feature ready for release @wlan0 @andrewsykim
Could I please get some help with that? If there’s anything I can do to assist please let me know

At a minimum we're looking to have a placeholder PR on the kubernetes/website repo. The process is fairly straightforward: checkout release-1.11 branch, make a placeholder commit, push it to your fork, and ra

[2018-05-30 20:47] mistyhacks commented on #88
This one actually seems to have merged docs -- just the spreadsheet needs to be filled in. Can you do that, @zparnold ?

[2018-05-30 20:48] apelisse commented on #491
hi @mistyhacks. No docs are needed for this feature. I don't have write access on the spreadsheet so I couldn't update it (and then forgot completely to follow-up). Thanks.

[2018-05-30 20:49] mistyhacks commented on #491
Will there at least be CLI and API reference docs?

[2018-05-30 20:56] apelisse commented on #491
Command is alpha, and will clearly change in the future.

[2018-05-30 21:05] zparnold commented on #88
@mistyhacks Sure can and sure will!

[2018-05-30 21:08] gnufied commented on #556
We should move this to 1.12. We still have CSI spec change under discussion.

[2018-05-31 01:03] justaugustus commented on #277
@mistyhacks Ihor and I will take care of it! :)

[2018-05-31 01:52] bgrant0607 commented on #499
I'm also not so keen to add a mechanism that's only applicable to storage resources.

What mechanism is this intending to use? Finalizers?

[2018-05-31 03:18] justaugustus commented on #563
@leblancd / @caseydavenport - I'm noticing a lot of discussion here and a milestone change.
Should this be pulled from the 1.11 milestone?

[2018-05-31 05:19] justaugustus commented on #555
@apelisse I noticed the milestone change. Are you planning on pulling this from the 1.11 release?

[2018-05-31 07:36] mbohlool commented on #544
@mistyhacks Sorry just saw your comment. Created placeholder doc PR: https://github.com/kubernetes/website/pull/8834

Note that there is a documentation there but it is not finished yet.

[2018-05-31 11:39] k82cn commented on #382
/milestone v1.12

@mistyhacks , @zparnold , after go through the status, there're still 4 PRs under review; it's hard to catch up 1.11. So I'd like to move this to next release.

[2018-05-31 13:29] leblancd commented on #563
@justaugustus - Yes, this should be moved to 1.12. Do I need to delete a row in the release spreadsheet, or is there anything I need to do to get this changed?

[2018-05-31 13:29] apelisse commented on #555
Yeah, not in 1.11. I'm updating the body.

[2018-05-31 14:09] k82cn commented on #548
Doc for 1.11: https://github.com/kubernetes/website/pull/8842

[2018-05-31 14:52] screeley44 commented on #351
@jberkus @justaugustus - not sure what else is required at this time, but existing docs do exist for this feature

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#raw-block-volume-support

[2018-05-31 15:01] screeley44 commented on #351
feature and docs update: no additional docs are required for release 1.11

[2018-05-31 17:19] pospispa commented on #499
@bgrant0607 the `StorageObjectInUseProtection` feature prevents PV removal from the system in case it is bound to a PVC. Or the feature prevents PVC removal in case it's actively used by a pod. The `StorageObjectInUseProtection` feature uses finalizers to prevent the removal.

Current `StorageObjectInUseProtection` E2E tests use a `StorageClass` to create PV <-> PVC pairs because of ease of use. H

[2018-05-31 17:50] xing-yang commented on #543
@mistyhacks We are delaying this to 1.12.  Thanks.

[2018-05-31 20:43] justaugustus commented on #544
@mbohlool I've updated the docs section of the Features spreadsheet

[2018-05-31 22:06] mistyhacks commented on #543
@justaugustus @idvoretskyi FYI

[2018-05-31 23:10] mistyhacks commented on #548
@justaugustus @idvoretskyi apparently this feature went in for 1.10 and it's just that it was missing docs until now. So I don't think it should be considered a 1.11 feature. Is that correct? At least the docs submitted in the linked docs PR only mention "1.10 and higher" several times.

[2018-05-31 23:22] mistyhacks commented on #382
@justaugustus @idvoretskyi FYI

[2018-06-01 12:34] idvoretskyi commented on #569
@jessfraz https://github.com/kubernetes/features/pull/570

[2018-06-01 12:54] nikhita opened #571 "Subresources for Custom Resources"
# Feature Description
- One-line feature description (can be used as a release note): Support for Subresources for Custom Resources.
- Primary contact (assignee): @sttts, @nikhita
- Responsible SIGs: SIG API Machinery
- KEP:
    - https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md
- Design proposal link (community repo):
    - https://github.com/ku

[2018-06-01 12:54] nikhita commented on #571
/cc @idvoretskyi @justaugustus

[2018-06-01 12:58] nikhita commented on #571
@idvoretskyi since you asked for a new issue to be created (and for it not to be a part of https://github.com/kubernetes/features/issues/95).

[2018-06-01 12:58] nikhita commented on #571
Not sure how to add the stage label. `/stage beta` didn't work.

[2018-06-01 13:06] nikhita commented on #571
Have updated the [feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0) to include this.

[2018-06-01 13:48] idvoretskyi commented on #95
To record - @nikhita has created an issue for the subfeature https://github.com/kubernetes/features/issues/571

@sttts @justaugustus

[2018-06-01 14:40] idvoretskyi commented on #569
Fixed by #570

[2018-06-01 14:40] #569 closed

[2018-06-01 17:09] justaugustus commented on #563
@leblancd I've got it covered. Thanks for following up! :)

[2018-06-01 17:12] justaugustus commented on #515
@mistyhacks just fixed it!

[2018-06-01 17:13] justaugustus commented on #555
Thanks @apelisse!

[2018-06-01 17:47] justaugustus commented on #127
@derekwaynecarr -- What's the current status of this feature?
As we haven't heard from you with regards to some items, this feature has been moved to the `Milestone risks` sheet within the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).

Please update the line item for this feature on the `Milestone risks` sheet ASAP AND ping myself and @idvoretskyi, so we can assess the feat

[2018-06-01 17:49] justaugustus commented on #547
@feiskyer -- What's the current status of this feature?
As we haven't heard from you with regards to some items, this feature has been moved to the `Milestone risks` sheet within the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).

Please update the line item for this feature on the `Milestone risks` sheet ASAP AND ping myself and @idvoretskyi, so we can assess the feature st

[2018-06-01 17:51] justaugustus commented on #554
@gnufied -- What's the current status of this feature?
As we haven't heard from you with regards to some items, this feature has been moved to the `Milestone risks` sheet within the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).

Please update the line item for this feature on the `Milestone risks` sheet ASAP AND ping myself and @idvoretskyi, so we can assess the feature sta

[2018-06-01 17:51] justaugustus commented on #565
@vladimirvivien -- What's the current status of this feature?
As we haven't heard from you with regards to some items, this feature has been moved to the `Milestone risks` sheet within the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).

Please update the line item for this feature on the `Milestone risks` sheet ASAP AND ping myself and @idvoretskyi, so we can assess the feat

[2018-06-01 18:45] gnufied commented on #554
The PR is still on track for 1.11. The implementation PR is here - https://github.com/kubernetes/kubernetes/pull/64154

We have approval from @saad-ali . We are waiting on approvals from @liggitt and @bsalamat . I just had to rebase the PR because the upstream changed and jordan requested some naming changes.

[2018-06-01 19:11] bgrant0607 commented on #499
@pospispa Prevents how?

[2018-06-01 20:21] justaugustus commented on #554
@gnufied -- there needs to be a Docs PR issued as well, as Misty mentioned above.
Please update the Features tracking sheet with that information, so that we can remove this feature from the `Milestone risks` tab.

[2018-06-01 20:45] msau42 commented on #499
It prevents removal by adding a finalizer to the PV if it is bound to a PVC, and/or to the PVC if it's in use by a Pod

[2018-06-01 23:28] gnufied commented on #554
Added docs PR - https://github.com/kubernetes/website/pull/8871

[2018-06-02 03:35] justaugustus commented on #554
@gnufied thanks for the update! I've moved this feature back into the main sheet.

[2018-06-02 03:48] justaugustus commented on #531
@mlmhl -- this feature has been moved to the `Milestone risks` sheet within the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).

Please update the line item for this feature on the `Milestone risks` sheet ASAP AND ping myself and @idvoretskyi, so we can assess the feature status or we will need to officially remove it from the milestone.

[2018-06-02 13:07] pospispa commented on #499
I'd like to add that there's a K8s server API feature that prevents removal of objects whose list of finalizers is not empty. In case such an object is deleted by a user the object with non-empty finalizers list is not removed but it's deletion timestamp is set. As soon as the object's finalizers list becomes empty the object is removed from the system.

[2018-06-04 00:36] justaugustus commented on #279
@liggitt @mikedanese -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 00:37] justaugustus commented on #43
@mikedanese -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 00:43] justaugustus commented on #491
@apelisse -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

I'm also noticing that you've moved this to the 1.12 milestone. Was this intentional? Is there no work planned for the 1.11 milestone?

[2018-06-04 00:48] justaugustus commented on #513
@feiskyer -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 00:49] justaugustus commented on #514
@feiskyer -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 00:53] justaugustus commented on #542
@mikedanese -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 00:54] justaugustus commented on #557
@mikedanese -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 00:57] justaugustus commented on #558
@msau42 @verult -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 00:59] justaugustus commented on #561
@msau42 @lichuqiang -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:01] justaugustus commented on #562
@lichuqiang @msau42 -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:03] justaugustus commented on #88
@wlan0 @andrewsykim -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:07] justaugustus commented on #135
@pweil- @tallclair -- We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:10] justaugustus commented on #213
@krmayankk --
We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:12] justaugustus commented on #284
@gnufied --
We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:14] justaugustus commented on #292
@feiskyer @dchen1107 --
We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:17] justaugustus commented on #559
@kevtaylor --
We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 01:43] justaugustus commented on #427
@johnbelamaric --
We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 02:05] justaugustus commented on #546
@dims --
We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

Also, is this feature graduating to Beta for 1.11? You mentioned that there was already work done for 1.10, so I just want to make sure we're tracking this accurately.

[2018-06-04 02:07] dims commented on #546
@justaugustus nothing has changed in v1.11 (compared to v1.10). No status change to Beta either. So we should be good for this one

[2018-06-04 02:14] justaugustus commented on #564
@bsalamat --
We're doing one more sweep of the [1.11 Features tracking spreadsheet](http://bit.ly/k8s-features-111).
Would you mind filling in any incomplete / blank fields for this feature's line item?

[2018-06-04 02:18] lichuqiang commented on #562
Sorry, I think the feature will have to be delayed to v1.12 due to some dependency issue.

[2018-06-04 02:46] justaugustus commented on #562
Thanks for the update, @lichuqiang!

[2018-06-04 02:59] apelisse commented on #491
Hi @justaugustus, this feature was already released as alpha feature a couple of releases before. I don't plan on getting this out of alpha before 1.12. So technically, I think we could get rid of it from the tracking spreadsheet?

[2018-06-04 03:38] justaugustus commented on #491
Sounds good. Thanks @apelisse!

[2018-06-04 03:52] feiskyer commented on #547
@mistyhacks @justaugustus Sorry, OOF last week. The feature is on track and  related codes change PR (https://github.com/kubernetes/kubernetes/pull/64009) is under review. Please help to move it back. Thanks.

[2018-06-04 04:32] justaugustus commented on #547
@feiskyer I've moved it back into the main sheet.
Would you mind giving a look at each of the columns one more time to make sure everything is up to date?

[2018-06-04 07:49] kevtaylor commented on #559
@justaugustus I didn't have edit rights - I have requested them

[2018-06-04 07:59] kevtaylor commented on #559
@justaugustus Should be up to date now.

[2018-06-04 08:05] justaugustus commented on #559
@kevtaylor yup, just saw it. Thanks for the update!

[2018-06-04 14:46] gnufied commented on #531
@mlmhl the docs PR has to be opened https://github.com/kubernetes/website .

[2018-06-04 16:07] msau42 commented on #561
We've only partially completed the feature for 1.11, so we will defer to 1.12.

[2018-06-04 16:08] msau42 commented on #558
This has been deferred to 1.12

[2018-06-04 16:34] gnufied commented on #284
yes We need new documentation for this feature - I have opened https://github.com/kubernetes/website/pull/8896

[2018-06-04 16:35] gnufied commented on #531
@mlmhl @justaugustus I have opened https://github.com/kubernetes/website/pull/8896 which includes documentation for this feature as well. PTAL.

I have also updated the feature spreadhsheet with new information.

[2018-06-04 17:51] vladimirvivien commented on #565
@justaugustus and @idvoretskyi  working to get PR doc for this feature today.  I will update the tracking spreadsheet accordingly.

[2018-06-04 18:15] mikedanese commented on #43
No updates. Bumped to next milestone.

[2018-06-04 18:39] johnbelamaric commented on #427
@justaugustus I updated it to "Draft". We have several PRs in various states of merged and under review for the docs. There is already a link in there to the [tracking issue](https://github.com/kubernetes/kubeadm/issues/843).

[2018-06-04 19:39] justaugustus commented on #427
@johnbelamaric thanks for the update!
Looks like everything is fine on that tracking issue. My only note would be that that tracking issue would be better suited as an issue in `k/k` or `k/website`, not the Kubeadm project.

[2018-06-04 20:00] justaugustus commented on #43
Thanks for the update, @mikedanese!

[2018-06-04 20:11] justaugustus commented on #531
Thanks @gnufied! I'm moving it back to the main sheet.

[2018-06-04 20:47] justaugustus commented on #558
Thanks for the update, @msau42!

[2018-06-04 20:55] justaugustus commented on #561
Thanks for the update, @msau42!

[2018-06-04 21:02] saad-ali commented on #557
This feature did not make it in to 1.11, punting to 1.12.

@verult Please link to design doc

[2018-06-04 21:04] justaugustus commented on #557
Thanks for the update, @saad-ali!!

[2018-06-04 21:17] saad-ali commented on #351
Moving block volumes to beta slipped. Moving to 1.12.

[2018-06-04 21:47] sjenning commented on #127
@justaugustus @mistyhacks the PR is almost merged https://github.com/kubernetes/kubernetes/pull/64005

Just needs API approval which we should have before freeze.

[2018-06-04 22:43] vladimirvivien commented on #565
@justaugustus @idvoretskyi decided not to do documentation for this feature yet.

[2018-06-04 22:46] justaugustus commented on #127
@sjenning what's the Docs status? That's the reason the feature is currently listed as `At Risk`.

[2018-06-04 23:06] justaugustus commented on #565
@vladimirvivien I'm not sure that we've officially decided where our bar is for accepting alpha features without documentation, but I'm fairly sure we'll need something to allow this feature in.

I'll let @jberkus & @mistyhacks weigh in.

[2018-06-05 01:05] vikaschoudhary16 commented on #127
@justaugustus docs will also be updated in coming couple of days.

[2018-06-05 02:53] feiskyer commented on #513
@justaugustus Already updated. Thanks

[2018-06-05 02:53] feiskyer commented on #514
@justaugustus Already updated. Thanks

[2018-06-05 02:56] feiskyer commented on #547
@justaugustus Already updated. Thanks

[2018-06-05 02:59] feiskyer commented on #292
@justaugustus Already updated. Thanks

[2018-06-05 05:18] bgrant0607 commented on #499
Ok, thanks.

I see that here:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/storage/storageobjectinuseprotection/admission.go#L113

[2018-06-05 13:17] vladimirvivien commented on #565
@justaugustus @mistyhacks forgive my ignorance in the feature acceptance process.  The raw volume block support is an existing alpha volume spec feature that is already documented.  I looked at other internal drivers that support that feature and they don't seem to specifically document it at this point.  That is what I based my decision on.

If some verbiage is needed for feature to be accepted,

[2018-06-05 13:44] idvoretskyi commented on #565
@vladimirvivien, please!

PS. Some of the current procedures need to be enhanced, but let's move now in the right direction.

[2018-06-05 17:55] vladimirvivien commented on #565
@idvoretskyi @justaugustus  @mistyhacks  PR https://github.com/kubernetes/website/pull/8927

[2018-06-05 21:20] justaugustus commented on #565
Thanks for the updates, @vladimirvivien!

[2018-06-06 15:12] ermik commented on #503
What's the current workflow without the proposed improvements? How to backup?

[2018-06-06 16:13] DirectXMan12 commented on #117
@kubernetes/sig-release due to some last-minute hiccups, the corresponding PR for this feature's updates did not get merged for 1.11, so there's no new developments for this feature in 1.11.

[2018-06-06 17:08] idvoretskyi commented on #117
FYI @justaugustus ^

[2018-06-06 18:29] justaugustus commented on #117
Thanks for the update on this, @DirectXMan12!

[2018-06-06 18:54] justaugustus commented on #265
Exception was approved by @jberkus.
Just noting for record. This has been moved back to the primary sheet.

[2018-06-06 22:16] janetkuo commented on #548
@k82cn we need to change feature gate comment of this to 1.11 (instead of 1.10):
https://github.com/kubernetes/kubernetes/blob/c2e3d0526d788ae3792626bbc165101b8f5ada8e/pkg/features/kube_features.go#L251

[2018-06-07 05:45] #539 closed

[2018-06-07 18:09] mbohlool commented on #544
Main implementation PR: https://github.com/kubernetes/kubernetes/pull/63830

[2018-06-07 20:37] liggitt commented on #21
moving to 1.12 as discussed with @mwielgus and @jberkus

[2018-06-07 20:52] coderanger commented on #127
Looks like this is slipping to 1.12 from kubernetes/kubernetes#64005

[2018-06-07 22:01] SandeepPissay commented on #503
As of today you will have to use storage providers tools/software to take backup of PVs.

[2018-06-08 17:03] justaugustus commented on #127
Moving this out of 1.11 based on [this comment](https://github.com/kubernetes/kubernetes/pull/64005#issuecomment-394941443).

[2018-06-08 22:07] mcluseau commented on #378
@timothysc there are no references of "checkpoint" in https://kubernetes.io/docs/imported/release/notes/#v1-10-0 ; any pointer please? :)

[2018-06-09 08:40] kevtaylor commented on #559
@justaugustus Hi. I wanted to update the test status of the feature in the spreadsheet but it no longer seems to allow me to edit it. Is that intentional?

[2018-06-09 08:41] justaugustus commented on #559
@kevtaylor definitely intentional. We locked up permissions on the sheet, but feel free to drop comments in the relevant cells, tag me, and I'll get it updated.

[2018-06-09 08:47] kevtaylor commented on #559
@justaugustus Thanks, I saw that you can add a comment, so I have added one.

[2018-06-13 19:12] guineveresaenger commented on #571
@nikhita - for release team purposes, would you mind giving a summary of current completion criteria for this issue? :)

There's a bit of a k/test-infra rabbit hole on this and it's unclear which PRs are necessary to fix this bug, and which ones arose in context.

[2018-06-13 19:18] nikhita commented on #571
@guineveresaenger I'm confused. :) can you elaborate on what you mean by completion criteria? is it things required to be done for this to be stable?

I'm still confused :) do you mean PRs that were implemented for this feature?

[2018-06-13 21:31] guineveresaenger commented on #571
Apologies for being unclear - yes, I would like to have a summary of the work currently underway that will implement this feature, since some of them aren't tagged with a 1.11 milestone, and there's a bunch of them. :)

[2018-06-14 03:43] nikhita commented on #571
@guineveresaenger :)

For 1.11, this feature was promoted to beta. Along with it moving to beta, there has been one bug fix and one feature addition. The feature addition is split between 2 PRs.

- https://github.com/kubernetes/kubernetes/issues/62786: issue for promoting to beta
- https://github.com/kubernetes/kubernetes/pull/63385: disallow update to all fields, not just spec and metadata, durin

[2018-06-14 15:23] warmchang commented on #557
Both alpha and beta milestone are the 1.12?

![image](https://user-images.githubusercontent.com/13084624/41421599-bf18483e-7029-11e8-9ed1-3171c23aa1e0.png)

[2018-06-15 04:44] justaugustus opened #574 "Fake issue to test bot automation"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- Approver (likely from SIG/

[2018-06-15 04:44] justaugustus commented on #574
/stage alpha

[2018-06-15 07:53] justaugustus commented on #574
/stage alpha

[2018-06-15 07:54] nikhita commented on #571
Trying something for automation.

/remove-stage beta

[2018-06-15 07:55] justaugustus commented on #574
/stage alpha

[2018-06-15 08:19] justaugustus commented on #574
@nikhita -- you can test over here :)

[2018-06-15 17:34] justaugustus commented on #135
@pweil- @tallclair -- this feature has been removed from the 1.11 milestone, as there have been no updates w.r.t. progress or docs.

cc: @jberkus

[2018-06-15 20:36] nikhita commented on #574
@justaugustus let's close this for now and reopen when prow is bumped. I'm not sure when the next prow bump is going to occur and IMO it would be better to not leave a fake issue open for too long...especially in a repo that is all about issues. :)

/close

[2018-06-15 21:34] msau42 commented on #498
General discussion for PVC/PV conformance testing here: https://github.com/kubernetes/kubernetes/issues/65155

[2018-06-15 23:08] fejta commented on #571
/remove-stage beta

[2018-06-15 23:09] fejta commented on #571
/stage beta

[2018-06-15 23:21] #139 closed

[2018-06-19 20:35] andrewsykim commented on #88
FYI we're realizing that this issue is lacking so we will have a more detailed update soon on what we're expecting out of beta (v1.11)  and GA (tentatively targeted for v1.13)

[2018-06-20 17:43] wenjiaswe commented on #565
@vladimirvivien This feature is not in[ 1.11 Features tracking spreadsheet](https://docs.google.com/spreadsheets/d/16N9KSlxWwxUA2gV6jvuW9N8tPRHzNhu1-RYY4Y0RZLs/edit#gid=0) now. Is this dropped from 1.11?

[2018-06-21 00:44] mayakacz commented on #460
Hi - checking in, I believe this is currently in Alpha in 1.10. Will this go Beta in 1.11?

[2018-06-21 00:59] dims commented on #460
@mayakacz nope, it did not make Beta in 1.11 please see https://github.com/kubernetes/kubernetes/issues/61420

[2018-06-21 11:09] nikhita opened #575 "Defaulting of Custom Resources"
# Feature Description
- One-line feature description (can be used as a release note): Support for defaulting of Custom Resources.
- Primary contact (assignee): @sttts
- Responsible SIGs: SIG API Machinery
- KEP:
  - Pruning - https://github.com/kubernetes/enhancements/pull/709
    - [20180731-crd-pruning](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180731-crd-pr

[2018-06-21 11:11] nikhita commented on #575
@justaugustus @idvoretskyi this is for 1.12.

/assign @sttts

original CRD feature: https://github.com/kubernetes/features/issues/95 (this is a sub-feature)
PR open: https://github.com/kubernetes/kubernetes/pull/63604

/sig api-machinery
/kind feature
/stage alpha

[2018-06-21 11:38] nikhita commented on #575
It wasn't written originally but we plan to write a small design doc for this :+1:

This was discussed in the sig api-machinery 31 January 2018 meeting: https://docs.google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y/edit#heading=h.l54g1ses43w1 (to those who want to read this, you might need to join the sig-api-machinery google group).

Defaulting was discussed in: https://github.c

[2018-06-21 11:48] nikhita commented on #95
Defaulting and Pruning sub-feature issue: https://github.com/kubernetes/features/issues/575

[2018-06-21 15:58] mkimuram commented on #351
Working on https://github.com/kubernetes/kubernetes/pull/65117 to add e2e tests for block volume.
We might need a criteria to make this feature to beta. @saad-ali

[2018-06-21 16:02] msau42 commented on #351
E2E tests automatically running in CI should definitely be a blocker for beta.

[2018-06-21 16:27] apelisse opened #576 "APIServer DryRun"
# Feature Description
- One-line feature description (can be used as a release note):
Add apiserver "dry-run" query-parameter so that requests can be validated and "processed" without actually being persisted.
- Primary contact (assignee): @apelisse
- Responsible SIGs: @kubernetes/sig-api-machinery-feature-requests
- Design proposal link (community repo)/KEP:
https://github.com/kubernetes/enhancem

[2018-06-21 18:47] mkimuram commented on #351
Thank you for your comment. I will keep working on it. @msau42

Also, I would appreciate it if you could share a list of blockers for beta here, in order to make it easier for us to work together for this feature. (Or should each issue be added directory to 1.12 tracking spreadsheet?) @wongma7

[2018-06-21 19:45] wongma7 commented on #351
@mkimuram I'm not aware of any blockers for beta but yeah let's list them here, imo the tracking spreadsheet is long enough already :). Please, if anybody is aware of other blockers for beta, especially any changes we need to make to the API, let me know, as I'm picking this task up with, tbh, minimal knowledge about how the alpha phase has gone

[2018-06-21 19:53] mkimuram commented on #351
@wongma7 Thank you!

[2018-06-22 09:55] nikhita commented on #571
@idvoretskyi @justaugustus for 1.12 tracking purposes: there will be some small additions and maybe bug fixes but this will remain in beta for 1.12 (so no change from the features perspective).

[2018-06-22 10:40] nikhita commented on #95
@justaugustus @idvoretskyi for 1.12 tracking purposes: there will be additions and maybe bug fixes but this will stay in beta for 1.12 (so no change from the features perspective).

There is a new sub-feature which is planned as alpha, but it is created as a separate issue: https://github.com/kubernetes/features/issues/575.

[2018-06-25 16:02] apelisse commented on #576
Fixes https://github.com/kubernetes/kubernetes/issues/65435

[2018-06-26 14:38] juanvallejo opened #578 "Server-side printing in kubectl"
# Feature Description
- One-line feature description (can be used as a release note): kubectl get should get columns back from the server, not the client, and be able to handle this type of server response under all use-cases.
- Primary contact (assignee): juanvallejo
- Responsible SIGs: sig-cli
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributo

[2018-06-26 14:39] juanvallejo commented on #578
/sig cli

cc @soltysh

[2018-06-26 14:45] juanvallejo opened #579 "Updated Plugin mechanism for kubectl"
# Feature Description
- One-line feature description (can be used as a release note): kubectl should support extensions adding new commands as well as overriding specific subcommands (at any depth).
- Primary contact (assignee): juanvallejo, soltysh
- Responsible SIGs: sig-cli
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/2437
- Reviewer(s) - (for LGTM) reco

[2018-06-26 14:45] juanvallejo commented on #579
/sig cli

cc @soltysh

[2018-06-26 21:06] freehan opened #580 "Pod Readiness Gates"
# Feature Description
- One-line feature description (can be used as a release note): Introduce extension point for external feedback on pod readiness.
- Primary contact (assignee): freehan@
- Responsible SIGs: sig-network
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/keps/sig-network/0007-pod-ready%2B%2B.md
- Link to e2e and/or unit tests:
- Reviewer

[2018-06-26 21:56] juanvallejo opened #581 "Separate repo for generic cli utils"
# Feature Description
- One-line feature description (can be used as a release note): The package `pkg/kubectl/genericclioptions` should be split out from kubectl into a separate repo in order to allow use of it by plugin authors and third-party clients.
- Primary contact (assignee): juanvallejo
- Responsible SIGs: sig-cli
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from

[2018-06-26 21:56] juanvallejo commented on #581
/sig cli

[2018-06-27 22:14] justaugustus commented on #502
Closing this as the feature is GA in 1.11. Please feel free to reopen if there is still a need to track this.
/close

[2018-06-27 22:14] #502 closed

[2018-06-27 22:18] justaugustus commented on #427
Closing this as the feature is GA in 1.11. Please feel free to reopen if there is still a need to track this.
/close

[2018-06-27 22:18] #427 closed

[2018-06-27 22:19] justaugustus commented on #265
Closing this as the feature is GA in 1.11. Please feel free to reopen if there is still a need to track this.
/close

[2018-06-27 22:19] #265 closed

[2018-06-29 15:07] vladimirvivien commented on #565
@wenjiaswe this feature is alpha in 1.11. Not sure why it was removed from feature sheet.

[2018-06-29 21:20] justaugustus commented on #565
@wenjiaswe @vladimirvivien -- I definitely moved the feature back into the 1.11 milestone, so I think its' absence on the tracking sheet is due to an accidental deletion prior to my locking permissions down.

Was there a specific reason you needed to reference the 1.11 sheet?
Kubernetes 1.11 was released this week and from a planning perspective, we'd now be looking towards tracking 1.12. The 1.12

[2018-06-30 00:41] verult commented on #557
@warmchang updated, thanks!

[2018-06-30 15:29] warmchang commented on #557
welcome!
________________________________
发件人: Cheng Xing <notifications@github.com>
发送时间: 2018年6月30日 8:41
收件人: kubernetes/features
抄送: William Zhang; Mention
主题: Re: [kubernetes/features] Kubernetes CSI topology support (#557)

@warmchang<https://github.com/warmchang> updated, thanks!

―
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://git

[2018-06-30 18:56] vladimirvivien commented on #565
@justaugustus thanks for the clarification.  Looking to go beta with this in 1.12.

[2018-07-01 21:29] justaugustus commented on #275
/remove-lifecycle frozen

[2018-07-01 21:33] justaugustus commented on #166
/remove-lifecycle frozen

[2018-07-01 21:53] justaugustus commented on #296
/remove-lifecycle frozen

[2018-07-01 21:55] justaugustus commented on #415
/remove-lifecycle frozen

[2018-07-02 00:38] k82cn commented on #166
@justaugustus , the draft plan will be 1.13 if no one help on that. We (sig-scheduling) would like to get `TaintNodesByCondition` and `ScheduleDaemonSetPod` graduated to beta firstly. Assign to myself to follow up :)

/assign

[2018-07-02 03:50] smarterclayton commented on #384
/lifecycle frozen

This still needs to get addressed.

[2018-07-02 04:11] justaugustus commented on #288
/stage beta
/milestone v1.12

[2018-07-02 04:12] justaugustus commented on #357
/remove-lifecycle frozen

[2018-07-02 04:15] justaugustus commented on #71
/remove-lifecycle stale
/remove-lifecycle frozen

[2018-07-03 01:34] k82cn commented on #548
/milestone v1.12
/stage beta

Assignee: @k82cn

We'd like to move this to beta in 1.12, so it can work together with priority/preemption :)

[2018-07-03 01:36] k82cn commented on #548
@mistyhacks , @justaugustus :)

[2018-07-03 01:51] k82cn opened #583 "Coscheduling"
# Feature Description

- One-line feature description (can be used as a release note): Coscheduling makes sure a group of pods are scheduled together: all pod get resources, or none gets resource.
- Primary contact (assignee): @k82cn
- Responsible SIGs: sig-scheduling
- Design proposal link (community repo): kubernetes/enhancements#639
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) re

[2018-07-03 01:52] k82cn commented on #583
/milestone v1.12
/sig scheduling
/stage alpha

[2018-07-03 01:52] k82cn commented on #583
/kind feature

[2018-07-03 02:02] k82cn commented on #583
/cc @mistyhacks , @justaugustus :)

[2018-07-03 20:19] mistyhacks commented on #583
@zparnold for 1.12 🙌

[2018-07-05 11:07] BrianChristie commented on #423
I believe this issue can be closed? This issue duplicates [Enable AWS Network Load Balancer for Services of type LoadBalancer #52173](https://github.com/kubernetes/kubernetes/issues/52173).
Support was merged in [Add Amazon NLB support #53400](https://github.com/kubernetes/kubernetes/pull/53400).

I agree that External IP support is important, looks like that's being tracked in the linked issue ku

[2018-07-05 12:16] justaugustus commented on #423
@justinsb @kubernetes/sig-aws-misc -- could you provide some feedback on the above request and also update the description with your plans for this feature in 1.12?

[2018-07-05 17:29] kwiesmueller commented on #555
Unsure if it is the right place to comment about this, but we have been working on our own kind of "server side apply" by building https://github.com/seibert-media/dimios
While this is solely a slack time project which we hope to build our future interaction with Kubernetes on, we both stumbled into problems with the entire apply process (discussed on slack with some people) but also did some thin

[2018-07-06 13:55] apelisse commented on #555
Can you send this as an email to kubernetes-wg-apply@googlegroups.com? We can follow-up there.

[2018-07-09 22:02] sandaymin123 commented on #304
The plans are for 1.12 @justaugustus @saad-ali and @gnufied

[2018-07-10 18:55] tallclair opened #585 "RuntimeClass"
# Enhancement Description
- One-line feature description (can be used as a release note): `RuntimeClass` is a new cluster-scoped resource that surfaces container runtime properties to the control plane.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/585-runtime-class
- Primary contact (assignee): @tallclair
- Responsible SIGs: sig-node
- Fea

[2018-07-10 18:55] tallclair commented on #585
/sig node
/milestone v1.12

[2018-07-11 12:01] redbaron commented on #496
/remove-lifecycle stale

[2018-07-11 13:43] feiskyer opened #586 "Azure Availability Zones"
# Feature Description
- One-line feature description (can be used as a release note): Add support of Azure Availability Zones.
- Primary contact (assignee): @feiskyer
- Responsible SIGs: sig-azure
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/2364
- KEP: [20180711-azure-availability-zones](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud

[2018-07-11 13:44] feiskyer commented on #586
/sig azure
/sig storage
/milestone 1.12

[2018-07-11 13:44] feiskyer commented on #586
/milestone v1.12

[2018-07-11 13:48] feiskyer commented on #292
1.11 has been released. Let's close this one.

/close

[2018-07-11 13:48] #292 closed

[2018-07-12 12:21] vikaschoudhary16 opened #587 "Resource Quota API"
# Feature Description
Support for the ability to configure the quota system to identify specific resources that are limited by default. A limited resource means its consumption is denied absent a covering quota. This is in contrast to the current behavior where consumption is unlimited absent a covering quota. Intended use case is to allow operators to restrict consumption of high-cost resources b

[2018-07-12 12:23] vikaschoudhary16 commented on #587
/stage beta

[2018-07-12 16:01] kwiesmueller commented on #555
@apelisse I am not allowed to post messages to said group (kwiesmueller@seibert-media.net)

[2018-07-12 16:04] apelisse commented on #555
Sorry, you may need to join the group first: https://groups.google.com/forum/#!forum/kubernetes-wg-apply

Blue button, "Join this group" (top left)

[2018-07-13 22:05] klausenbusk commented on #92
Could someone help me understand why the [doc](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/) says that the key `Must be rotated every 200k writes`, but the [code](https://github.com/kubernetes/kubernetes/blob/d16d64f62078eb419a0bf9c2d5b843176a63d1b9/staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/aes/aes.go#L38-L41) says:

200k != 2^32
Where does the 200k writes stateme

[2018-07-16 09:23] aojea opened #588 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-16 22:47] Huang-Wei commented on #548
/cc

[2018-07-16 22:47] bsalamat commented on #548
@k82cn we should enable this feature by default in 1.12. I think it would be great if we could enable this as soon as possible and let it soak for a while before 1.12 code freeze.

[2018-07-16 22:59] k82cn commented on #548
Sure, I'll work with Huang-Wei@ to make ready ASAP :)

[2018-07-17 16:02] mtaufen opened #589 "Move frequent Kubelet heartbeats to Lease API"
# Feature Description
- One-line feature description (can be used as a release note): **Kubelet creates and periodically renews a Lease on the node; node lifecycle controller treats this lease as a health signal**
- Primary contact (assignee): @wangzhen127
- Responsible SIGs: **sig-node**
- Design proposal link (community repo): [KEP-0009](https://github.com/kubernetes/enhancements/blob/master/kep

[2018-07-17 21:50] justaugustus commented on #117
@DirectXMan12 @kubernetes/sig-autoscaling-feature-requests --
This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible

[2018-07-17 22:04] justaugustus commented on #127
@derekwaynecarr @pweil- @sjenning @kubernetes/sig-node-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):

[2018-07-17 22:08] justaugustus commented on #135
@pweil- @tallclair @kubernetes/sig-auth-feature-requests @kubernetes/sig-node-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Prima

[2018-07-17 22:19] justaugustus commented on #277
@verb @kubernetes/sig-auth-feature-requests @kubernetes/sig-cli-feature-requests @kubernetes/sig-node-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as

[2018-07-17 22:40] justaugustus commented on #351
@erinboyd @screeley44 @kubernetes/sig-storage-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Respons

[2018-07-17 23:58] justaugustus opened #590 "Update repo permissions on k/enhancements"
~Feature~ Enhancement maintainers often use GitHub settings like `Milestone` to determine which ~Features~ Enhancements require triage.

It's important that these settings are only touched by ~Feature~ Enhancements Maintainers to ensure better signal during the release process.

As such, I'd like to do the following:
- Remove write access for:
  - `kubernetes-maintainers`
  - `kubernetes-release-m

[2018-07-18 00:53] justaugustus commented on #43
@mikedanese @kubernetes/sig-auth-feature-requests @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-node-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature descript

[2018-07-18 01:01] justaugustus commented on #515
@soltysh @smarterclayton @juanvallejo @kubernetes/sig-api-machinery-feature-requests @kubernetes/sig-cli-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used

[2018-07-18 01:04] justaugustus commented on #543
@xing-yang @jingxu97 @kubernetes/sig-storage-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsi

[2018-07-18 01:10] justaugustus commented on #555
@apelisse @kubernetes/sig-api-machinery-feature-requests @kubernetes/sig-cli-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primar

[2018-07-18 02:03] justaugustus commented on #590
Absolutely, @liggitt. I've previously opened some issues around the topic and plan on taking up this effort:
- https://github.com/kubernetes/test-infra/issues/8316
- https://github.com/kubernetes/community/issues/2307

Would love any feedback around the process on those issues as well! :)

[2018-07-18 02:16] justaugustus commented on #556
@gnufied @kubernetes/sig-storage-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
-

[2018-07-18 02:18] justaugustus commented on #557
@verult @vladimirvivien @kubernetes/sig-storage-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Respo

[2018-07-18 02:21] justaugustus commented on #558
@msau42 @verult @kubernetes/sig-storage-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible S

[2018-07-18 02:30] justaugustus commented on #563
@leblancd @kubernetes/sig-network-feature-requests --

This feature was removed from the previous milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
-

[2018-07-18 03:16] justaugustus commented on #587
@vikaschoudhary16 -- Is this feature being introduced as Beta or is it graduating?

/kind feature
/assign @vikaschoudhary16
/cc @justaugustus @kacole2 @robertsandoval @rajendar38

[2018-07-18 03:20] justaugustus commented on #567
@msau42 -- I'm assigning this to you, but if there's someone more appropriate, feel free to reassign.
/assign @msau42

[2018-07-18 05:41] justaugustus commented on #365
@smarterclayton --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Revie

[2018-07-18 05:51] justaugustus commented on #566
@johnbelamaric @cmluciano --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-18 05:52] justaugustus commented on #576
@apelisse --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s)

[2018-07-18 05:58] justaugustus commented on #21
@mwielgus @kgrygiel --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- R

[2018-07-18 06:00] justaugustus commented on #583
@k82cn --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) -

[2018-07-18 06:13] justaugustus commented on #575
@nikhita --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s)

[2018-07-18 06:14] justaugustus commented on #495
@verb --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (

[2018-07-18 06:15] justaugustus commented on #288
@luxas @mkumatag @ixdy --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:

[2018-07-18 06:16] justaugustus commented on #579
@juanvallejo @soltysh --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
-

[2018-07-18 06:16] justaugustus commented on #579
/stage beta

[2018-07-18 06:17] justaugustus commented on #578
@juanvallejo @soltysh --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
-

[2018-07-18 06:19] justaugustus commented on #581
@juanvallejo @soltysh --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
-

[2018-07-18 06:20] justaugustus commented on #585
@tallclair --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s

[2018-07-18 06:21] justaugustus commented on #586
@feiskyer --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s)

[2018-07-18 06:29] justaugustus commented on #589
@mtaufen --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s)

[2018-07-18 06:44] justaugustus commented on #574
/reopen

[2018-07-18 06:44] justaugustus commented on #574
/unassign @nikhita
/assign

[2018-07-18 06:46] justaugustus commented on #574
/kind feature
/lifecycle frozen

[2018-07-18 10:51] lichuqiang commented on #562
@justaugustus, Thank you for your reminding!
I think most of the information is up-to-date.
We'll probably have an update on detail of the proposal later, but it will always happen in the same PR :)

[2018-07-18 11:01] lichuqiang commented on #561
@justaugustus Thanks for your reminding!

One thing I'm not sure is the feature target. In 1.11, because of the fact that we were lack of some downside implementation, we didn't officially claim it alpha.
But it's indeed there. And we might wanna aim to Beta in 1.12.

Would like to wait for @msau42 for confirmation.

[2018-07-18 12:11] k82cn commented on #583
Done, in issue description :)

[2018-07-18 12:18] neolit123 commented on #288
/cc @timothysc ^

[2018-07-18 18:22] msau42 commented on #561
Correct, goal is 1.12 beta once we have a plugin implementation with e2e tests.

[2018-07-18 19:42] cblecker commented on #590
Two thoughts:
- Limiting direct write access to the repo is in line with our ongoing efforts to move this over to bots. I think that's still worth moving forward with.
- We could enable the `milestone` prow plugin to allow the `/milestone` command to work in this repo, similar to k/k.

[2018-07-18 19:53] liggitt commented on #590
Probably so, though description editing of issues created by someone else is probably done more in this repo than any other I work in (all sig-auth leads work to maintain/curate our sig's feature issues, for example). The bots don't let us do that.

we could, but the premise of this issue was to prevent modification of feature milestones by some of the people responsible for the content of the mil

[2018-07-18 19:59] cblecker commented on #590
That I didn't know. I know that's still a pending issue for removing it from k/k, but wasn't aware that same use case applies here.

My thought on the milestone command was to offer a way to still allow milestone modification, but not need direct write access. The milestone command could also be modified to do things like ping a team when a milestone is modified so that changes can be tracked.

[2018-07-18 20:08] yastij commented on #551
@justaugustus - This is targeting 1.12, updated the issue. The last PR kubernetes/kubernetes#66213 is in flight, Thanks !

[2018-07-18 20:34] apelisse commented on #576
@justaugustus I think we're good!

[2018-07-18 20:35] apelisse commented on #555
I think everything is there @justaugustus! Thank you

[2018-07-18 20:37] apelisse commented on #491
@justaugustus this is already in alpha for a while, it will move to beta in 1.13.

[2018-07-18 20:54] justaugustus commented on #491
Thanks for the update, @apelisse!

[2018-07-18 20:56] justaugustus commented on #555
Thanks for the update, @apelisse!

[2018-07-18 21:03] justaugustus commented on #576
Thanks for the update, @apelisse!

[2018-07-18 21:04] justaugustus commented on #551
Thanks for the update, @yastij!

[2018-07-18 21:07] justaugustus commented on #561
Thanks for the update, @lichuqiang @msau42!
/remove-stage alpha
/stage beta

[2018-07-18 21:18] justaugustus commented on #558
Thanks for the update, @msau42!

[2018-07-18 21:21] justaugustus commented on #567
@jsafrane @msau42 --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Rev

[2018-07-18 21:31] justaugustus commented on #583
Thanks @k82cn!

[2018-07-18 21:31] justaugustus commented on #562
Thanks @lichuqiang!

[2018-07-18 22:22] justaugustus commented on #590
@cblecker @liggitt --

To summarize:

Feature Owners (SIG Leads + people implementing / sheparding feature) need to:
- edit issues
- edit milestones

Feature Maintainers (SIG PM - Product Management, Release Team Features Lead & Shadows) need to:
- edit issues
- edit labels
- edit milestones
- have trusted signal on the current status of a feature in the milestone

In addition, passerbys (users or

[2018-07-19 01:16] m1093782566 commented on #590
@justaugustus

What does it mean? And what's the clean-up rule?

[2018-07-19 01:42] justaugustus commented on #590
@m1093782566 --
I'd like to audit the GitHub teams and ensure only the required people are a part of it.

For `features-maintainers`:

SIG PM leadership
Product Management subproject leadership
Program Management subproject leadership
current Release Team Feature Lead & Shadows

For `milestone-maintainers`, we'll likely need to include members of past and present Release Teams, as well as ping SIG

[2018-07-19 15:42] jbartosik opened #591 "Horizontal Pod Autoscaler to reach proper size faster"
One-line feature description (can be used as a release note):
[code]
- Primary contact (assignee): @jbartosik
- Responsible SIGs: @kubernetes/sig-autoscaling
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
  - Unit tests: https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/podautoscaler, https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autosca

[2018-07-19 17:43] mtaufen commented on #589
@justaugustus this is ready to be included in the v1.12 milestone.

Thanks!

[2018-07-19 18:27] dhawal55 commented on #177
Any updates?? Any plans to target this for v1.12??

[2018-07-19 18:37] verult commented on #557
@justaugustus yes so far it has mostly been design work, but I've just begun prototyping. Some design aspects might take time to decide but still aiming for 1.12 at this time.

[2018-07-20 23:56] verb commented on #277
@justaugustus Updated this issue with requested information

[2018-07-21 00:05] verb commented on #495
@justaugustus, @kacole2, @robertsandoval, @rajendar38 afaik I don't have permission to set the stage/beta label, but otherwise this feature is ready to be included in the Features Tracking Spreadsheet for Kubernetes 1.12

[2018-07-22 06:17] justaugustus commented on #591
@mwielgus --

It looks like this feature is currently in the Kubernetes 1.12 Milestone.

If that is still accurate, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s)

[2018-07-22 06:38] justaugustus commented on #591
/stage alpha

[2018-07-22 06:41] justaugustus commented on #589
Added. Thanks for confirming, @mtaufen!

[2018-07-22 06:53] justaugustus commented on #557
@verult thanks for the update! We've added it to the tracking sheet.

[2018-07-22 07:07] justaugustus commented on #277
@verb -- thanks. I've added this to the 1.12 tracking sheet!

[2018-07-22 07:19] justaugustus commented on #495
@verb -- thanks for the update! I've added this to 1.12 tracking sheet.
In future, I believe everyone should be able to edit the stages like this:
/remove-stage alpha
/stage beta

[2018-07-23 16:18] kacole2 commented on #565
@vladimirvivien This feature was worked on in the previous milestone, so we'd like to check in and see if you are still targeting this feature to be beta in 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (communit

[2018-07-23 16:20] kacole2 commented on #571
@nikhita This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12. If not, confirm this will remain in beta for 1.12.

---

### Please note that the Features Freeze is July 31st, after which any incomplete Feature issues will require an [Exception request](https://github.com/kubernetes/features/blob

[2018-07-23 16:33] kacole2 commented on #552
@yujuhong This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12. This still has the beta tag as well so we need to update it accordingly.

Please update the feature target milestones on your original post as well.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @roberts

[2018-07-23 16:36] kacole2 commented on #548
@k82cn @bsalamat is this still targeting Beta in 1.12? This still has the 1.11 milestone tagged as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note that it is ready to be included in the [Features Tracking Spreadsheet for Kubernetes 1.12](http://bit.ly/k8s112-features).

---

### Please note th

[2018-07-23 16:38] kacole2 commented on #544
@mbohlool This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 as mentioned in your original post. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note that i

[2018-07-23 16:39] kacole2 commented on #542
@mikedanese This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note that it is ready to be included in the [Features Tracking Spreadsheet for Kubernetes 1.12](http://bit.ly/k8s112-featur

[2018-07-23 16:39] gnufied commented on #554
@kacole2 For 1.12 the plan is to further expand this feature to cover more volume types. Add CSI support. The decision to whether to move to beta in 1.12 or not will be taken in a day or two.

[2018-07-23 16:41] kacole2 commented on #531
@mlmhl @gnufied This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 as mentioned in your original post. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note

[2018-07-23 16:42] gnufied commented on #531
This feature will target beta in 1.12.

[2018-07-23 16:44] kacole2 commented on #499
@mlmhl @gnufied This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12. This still has the 1.11 milestone as well so we need to update it accordingly.

Can you also please update the feature milestone tracking in the original post as well?

If there are any updates, please explicitly ping @justaug

[2018-07-23 16:45] kacole2 commented on #499
@pospispa This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12. This still has the 1.11 milestone as well so we need to update it accordingly.

Can you please update the feature milestone tracking in the original post as well?
If there are any updates, please explicitly ping @justaugustus, @kaco

[2018-07-23 16:51] kacole2 commented on #498
@pospispa This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12. This still has the 1.11 milestone as well so we need to update it accordingly.

Can you please update the feature milestone tracking in the original post as well?
If there are any updates, please explicitly ping @justaugustus, @kaco

[2018-07-23 16:52] Huang-Wei commented on #548
@kacole2 as far as I know, yes. I'm working on it and will ping you guys for updates. Thanks!

[2018-07-23 16:53] kacole2 commented on #356
@luxas This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 as mentioned in your original post. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note that it i

[2018-07-23 16:54] kacole2 commented on #284
@gnufied This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 as mentioned in the original post. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note that it

[2018-07-23 16:56] msau42 commented on #498
This feature went GA in 1.11.  I think this can be closed?

[2018-07-23 16:57] msau42 commented on #499
This feature went GA in 1.11.  I think this can be closed?

[2018-07-23 17:02] kacole2 commented on #281
@mtaufen This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 since there is nothing in the original post. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to not

[2018-07-23 17:18] justaugustus commented on #498
Good catch, @msau42!
/close

[2018-07-23 17:18] #498 closed

[2018-07-23 17:20] justaugustus commented on #499
Good catch, @msau42!
/close

[2018-07-23 17:20] #499 closed

[2018-07-23 17:21] nikhita commented on #571
Yes, this will remain in beta for 1.12.

[2018-07-23 17:41] kacole2 commented on #279
@saad-ali This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 since you've marked it as beta in 1.12. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note th

[2018-07-23 17:42] kacole2 commented on #268
@davidopp This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 since there is nothing in the original post. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to no

[2018-07-23 17:44] kacole2 commented on #213
@krmayankk This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 since there is nothing in the original post. This still has the 1.11 milestone as well so we need to update it accordingly.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to n

[2018-07-23 17:52] kacole2 commented on #34
@sttts  This feature was worked on in the previous milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.12 since there is nothing in the original post.

If there are any updates, please explicitly ping @justaugustus, @kacole2, @robertsandoval, @rajendar38 to note that it is ready to be included in the [Features Tracking Spreadsheet for Kube

[2018-07-23 19:07] sjenning commented on #546
fyi @smarterclayton @stevekuznetsov

any update on a plan to get this to Beta?

[2018-07-23 21:23] janetkuo opened #592 "TTL after finish"
# Feature Description
- One-line feature description (can be used as a release note): Introduce a TTL controller to clean up Jobs and Pods after they finish.
- Primary contact (assignee): @janetkuo
- Responsible SIGs: sig-apps
- Design proposal link (community repo): https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/0026-ttl-after-finish.md (https://goo.gl/YxtxTi, https://github

[2018-07-23 21:35] Huang-Wei commented on #382
@justaugustus I'm helping @k82cn to promote this feature to beta in 1.12

Here is the info:

- Description: Represent node conditions that block scheduling using taints
- Assignee(s): @k82cn
- Labels:
    - stage/beta
    - sig/scheduling, sig/node
    - kind/feature

[Upgrade TaintNodesByCondition to Beta #62109](https://github.com/kubernetes/kubernetes/issues/62109) records everything related wi

[2018-07-24 03:05] tpepper commented on #543
Is this still targeting 1.12, or does moving to CRD slow and put the implementation at risk?

[2018-07-24 08:37] sttts commented on #34
@kacole2 there is nothing planned to my knowledge in 1.12 about this feature. /cc @derekwaynecarr @ingvagabund @sjenning

[2018-07-24 08:44] sttts commented on #544
@kacole2 updated the description with the 1.12 milestone. A KEP for the alpha webhook feature is being written.

[2018-07-24 09:48] kevtaylor commented on #559
@kacole2 The intention was to do a simple migration to beta, but this has been blocked by @liggitt and @thockin who want to revamp the api instead so I don't know what the future plans are. Discussion is here https://github.com/kubernetes/kubernetes/pull/65769

[2018-07-24 15:59] jbartosik commented on #591
@justaugustus stage should be beta (I'm making changes to HPA algorithm, which is in beta), the issue already has correct sig/ and kind/ labels.

Could you tell me how should I improve the description?

[2018-07-24 18:48] micahhausler commented on #423
Hi all, here's what we're proposing from the AWS side for 1.12 and 1.13

beta: targeting Kubernetes v1.12 (estimated release in September)
* [tests] Create an e2e integration test
* [bug fix] LoadBalancerSourceRanges not working (https://github.com/kubernetes/kubernetes/issues/57212)
* [bug fix] Failure to update SG's after an update (https://github.com/kubernetes/kubernetes/issues/60825)
* [bug f

[2018-07-25 00:13] msau42 commented on #559
Hi @kevtaylor sorry I missed the discussion earlier.  The points that were brought up make sense from an API backwards compatibility view, sorry I didn't think about it when reviewing the alpha design :(  Given that, then the first approach outlined in #48677 would make more sense.

[2018-07-25 00:33] xing-yang commented on #543
@tpepper @justaugustus  Yes, this is still targeting 1.12.  Thanks.

[2018-07-25 09:30] kevtaylor commented on #559
@msau42 Okay. Fine. I will leave it in your hands then to schedule an API implementation change as you see fit. Thanks

[2018-07-25 10:38] justaugustus commented on #543
Thanks for the update!

[2018-07-25 10:47] justaugustus commented on #423
Thanks for the update! This has been added to the 1.12 Tracking sheet.

[2018-07-25 10:47] justaugustus commented on #423
/remove-stage alpha
/stage beta

[2018-07-25 10:52] justaugustus commented on #34
Thanks for the update, @sttts!
Can you modify this issue description to match the [issue template](https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md)?

[2018-07-25 10:55] justaugustus commented on #382
Thanks for the update! This has been added to the 1.12 Tracking sheet.

[2018-07-25 11:00] justaugustus commented on #546
Sounds like this won't be making it in for 1.12, but let me know if that changes.

[2018-07-25 11:01] justaugustus commented on #571
Thanks for the update, @nikhita!

[2018-07-25 11:02] justaugustus commented on #548
Thanks for the update! This has been added to the 1.12 Tracking sheet.

[2018-07-25 11:04] justaugustus commented on #531
Thanks for the update! This has been added to the 1.12 Tracking sheet.

/remove-stage alpha
/stage beta

[2018-07-25 14:49] vladimirvivien commented on #565
@kacole2 Yes, this issue is being worked on for 1.12.  I will update with the requested info ASAP.

[2018-07-25 14:53] msau42 commented on #559
@kevtaylor there's no need to schedule. If anyone is interested in driving this then we can track for this release.

[2018-07-25 14:57] justaugustus commented on #559
Sounds like this might not make it in. Let me know if that changes.
Pinging @kubernetes/sig-storage-misc to see if anyone is interested in taking this on.

/help

[2018-07-25 15:00] kevtaylor commented on #559
@justaugustus Yes, that is likely as the proposed change is a large scale change involving the api and that is beyond my expertise in the product.

[2018-07-25 19:53] liggitt commented on #267
@mikedanese I updated this to beta for 1.12, just for the rotation/kubelet bits, since the approval piece was moved out of scope

[2018-07-25 20:20] andrewsykim commented on #88
/sig cloud-provider

[2018-07-25 21:20] bsalamat opened #593 "Scheduler checks feasibility and scores a subset of all cluster nodes"
# Feature Description
- One-line feature description (can be used as a release note): Scheduler checks feasibility and scores a subset of all cluster nodes.
- Primary contact (assignee): @bsalamat
- Responsible SIGs: scheduling
- Design proposal link (community repo): kubernetes/kubernetes/issues/66627
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at le

[2018-07-25 21:54] tallclair commented on #135
No changes planned for 1.12

[2018-07-25 22:38] verult commented on #557
@vladimirvivien no code PR yet, the design doc PR linked in the description is WIP at the moment as several aspects are under discussion, including CSI registry, label format, and the possibility of leveraging a new TopologyDomains object (part of the capacity reporting proposal).

[2018-07-25 23:35] derekwaynecarr commented on #585
LGTM

[2018-07-26 02:13] justaugustus commented on #585
Thanks for the update! This has been added to the 1.12 Tracking sheet.

[2018-07-26 02:42] justaugustus commented on #135
Thanks for the update, @tallclair!

[2018-07-26 02:50] justaugustus commented on #593
Thanks for the update! This has been added to the 1.12 Tracking sheet.

[2018-07-26 03:06] justaugustus commented on #88
Thanks for keeping this up-to-date, @andrewsykim!

[2018-07-26 03:07] gnufied commented on #556
This is still on target for 1.12. We are working on various aspects of code and specs to meet that goal.

[2018-07-26 03:36] justaugustus commented on #565
@vladimirvivien -- Sounds good. Ping us when you've got everything up-to-date!

[2018-07-26 03:36] justaugustus commented on #565
/remove-stage alpha
/stage beta

[2018-07-26 03:55] justaugustus commented on #556
Thanks for the update! This has been added to the 1.12 Tracking sheet.

[2018-07-26 07:31] sttts commented on #34
@justaugustus @derekwaynecarr we need an owner of this feature. Is it sig-node?

[2018-07-26 07:51] justaugustus commented on #34
@sttts -- Based on the comment history, looks like this belongs to SIG Node & @derekwaynecarr.
Happy to chase people down if that isn't sufficient though.

[2018-07-26 13:41] k82cn commented on #166
/remove-lifecycle rotten

[2018-07-26 22:20] justaugustus commented on #590
@liggitt @smarterclayton -- please provide feedback on this PR about maintainer milestone-maintainers: https://github.com/kubernetes/sig-release/pull/239

[2018-07-27 23:58] saad-ali opened #594 "CSI Cluster Registration Mechanism"
# Feature Description
- One-line feature description (can be used as a release note): Introduce the ability for a CSI driver (optionally) to register it self with the Kubernetes API to:
  * Make it easy for end users to discover CSI drivers installed on their cluster.
  * Allow CSI drivers to customize how Kubernetes interacts with them (e.g. skip attach operation, etc.)
- Primary contact (assigne

[2018-07-28 00:04] saad-ali opened #595 "Kubelet Device Plugin Registration"
# Feature Description
- One-line feature description (can be used as a release note): Kubelet should have a standard way to discover local plugins (CSI, GPU, etc.).
- Primary contact (assignee): @vikaschoudhary16
- Responsible SIGs: @kubernetes/sig-node-feature-requests @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo):
  - https://github.com/kubernetes/community/pul

[2018-07-28 00:06] saad-ali commented on #595
Introduced as alpha in v1.11.

See PR https://github.com/kubernetes/kubernetes/pull/63328
See issue: https://github.com/kubernetes/kubernetes/issues/56944

Partial list of work for beta:
* Recursive detection of UDS in sub directories
* Unregistration of drivers when UDS is deleted

[2018-07-28 00:12] saad-ali opened #596 "CSI Inline Volume Support"
# Feature Description
- One-line feature description (can be used as a release note): CSI volumes can only be referenced via PV/PVC today. This works well for remote persistent volumes. However, we would like CSI to be used to create local ephemeral volumes (e.g. volumes to inject identity information in to a pod), and these types of volumes should be able to be referred to directly in pod spec (w

[2018-07-28 00:18] saad-ali opened #597 "Max storage capacity per plugin per node"
# Feature Description
- One-line feature description (can be used as a release note): Some storage systems (e.g. GCE PD) limit the maximum aggregate capacity of remote storage that can be attached to a given node. Today the scheduler takes in to account max volumes per node. It should also account for max aggregate storage capacity per node.
- Primary contact (assignee): @gnufied
- Responsible SIG

[2018-07-28 01:01] gnufied commented on #597
@saad-ali isn't this same as https://github.com/kubernetes/features/issues/554 ?

[2018-07-28 04:12] davidopp commented on #597
cc/ @bsalamat

[2018-07-28 06:11] m1093782566 commented on #536
/remove-lifecycle stale

[2018-07-28 06:12] m1093782566 commented on #536
/wg policy

[2018-07-28 08:36] justaugustus commented on #596
Thanks for the update! This has been added to the 1.12 Tracking sheet.

/assign @jsafrane
/stage alpha

[2018-07-28 08:49] justaugustus commented on #595
Thanks for the update! This has been added to the 1.12 Tracking sheet.
Who's the primary SIG on this? SIG Node or SIG Storage?

/stage beta

[2018-07-28 08:58] justaugustus commented on #594
Thanks for the update! This has been added to the 1.12 Tracking sheet.

/assign @saad-ali @jsafrane

[2018-07-28 09:36] justaugustus commented on #177
@saad-ali -- Thanks for the update! This has been added to the 1.12 Tracking sheet.

Just to clarify, https://github.com/kubernetes/features/issues/543 mentions the following timeline:
[code]

Can you confirm that?

[2018-07-28 09:37] justaugustus commented on #177
/assign @xing-yang

[2018-07-28 09:43] justaugustus commented on #554
@gnufied -- just following up... are we graduating this one to Beta in 1.12?

[2018-07-28 12:33] vladimirvivien commented on #565
@justaugustus @kacole2 I have consulted with SIG leads and this feature probably will remain alpha for 1.12 as we focus on cleanup/stability. Apologies for the confusion.

[2018-07-28 12:35] kacole2 commented on #565
Thanks! Will make sure it’s removed from 1.12 tracking. I appreciate the
update.

On Sat, Jul 28, 2018 at 8:33 AM Vladimir Vivien <notifications@github.com>
wrote:

--
Kendrick Coleman

kendrickcoleman.com
@KendrickColeman
github.com/kacole2

[2018-07-28 18:05] PravinMagdum commented on #363
/reopen

[2018-07-28 18:18] mtaufen commented on #281
No plans to graduate for 1.12.

[2018-07-28 23:44] bsalamat commented on #564
This feature is built and graduated to Beta in 1.11. We don't have a clear milestone for GA at this point as we have not received enough feedback about it yet.

[2018-07-29 08:52] justaugustus commented on #423
/kind feature

[2018-07-29 10:30] justaugustus commented on #514
/remove-stage beta
/stage stable

[2018-07-29 10:50] justaugustus commented on #547
/assign @JiangtianLi
/remove-stage beta
/stage stable

[2018-07-29 11:22] justaugustus commented on #575
@sttts -- This has been added to the 1.12 Tracking sheet. Apologies for missing it before!

[2018-07-29 12:09] justaugustus commented on #591
Thanks for the update! This has been added to the 1.12 Tracking sheet.

/remove-stage alpha
/stage beta

[2018-07-30 03:50] feiskyer commented on #547
Assigned @PatrickLang  and removed @JiangtianLi.

Related https://github.com/kubernetes/kubernetes/issues/64801 and https://github.com/kubernetes/kubernetes/issues/62038.

[2018-07-30 12:17] deads2k opened #598 "Webhook Conversion for Custom Resources"
# Feature Description
- One-line feature description (can be used as a release note): Support for webhook conversion for Custom Resources.
- Primary contact (assignee): @mbohlool
- Responsible SIGs: SIG API Machinery
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/2420
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (a

[2018-07-30 12:18] deads2k commented on #544
Let's create a dedicated issue so that we'll get the stage right.  I've opened https://github.com/kubernetes/features/issues/598 to track this aspect.

[2018-07-30 12:21] deads2k commented on #598
@kacole2 this is an issue that can have the correct stage instead of extending an old issue that would make it confusing.

[2018-07-30 15:35] luxas commented on #415
We're discontinuing/deprecating the support for self-hosting in v1.12, so I'm closing this issue.
cc @timothysc

[2018-07-30 15:35] #415 closed

[2018-07-30 15:35] luxas commented on #356
We're hoping to graduate this to beta in v1.12

[2018-07-30 15:38] kacole2 commented on #356
@justaugustus can you add the tracked label here, please?

[2018-07-30 15:39] luxas commented on #566
I assume this is beta in v1.12? kubeadm has used it on a GA/beta level already since v1.11 fwiw

[2018-07-30 15:40] luxas commented on #88
Should we do something @justaugustus to make it tracked/yes?

[2018-07-30 15:42] luxas commented on #115
There have been great progress on this lately, the KEP for this has been accepted.
The initial PRs for this will be merged in the v1.12 timeframe.

[2018-07-30 15:44] luxas commented on #296
This will be graduated at the same time kubeadm itself goes GA: https://github.com/kubernetes/features/issues/11

[2018-07-30 15:45] luxas commented on #11
We're hoping this to go GA in v1.12. Let's track it as that for now and see if we meet the criteria later in this cycle.

[2018-07-30 15:47] luxas commented on #43
@kubernetes/sig-auth-feature-requests can we graduate this to stable in v1.12?

[2018-07-30 16:04] mbohlool commented on #544
Thanks @deads2k closing this one.

[2018-07-30 16:04] #544 closed

[2018-07-30 18:33] justaugustus commented on #598
Thanks for the update, @deads2k!

/kind feature

[2018-07-30 18:59] yastij opened #599 "Introduce SchedulingPolicy"
- One-line feature description (can be used as a release note): introduce SchedulingPolicy to enable cluster admin to constrain scheduling-related features.
- Primary contact (assignee): @yastij
- Responsible SIGs: sig-scheduling sig-auth
- Design proposal link (community repo): kubernetes/community#1937
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at

[2018-07-30 19:00] yastij commented on #599
/sig scheduling
/sig auth

[2018-07-30 19:00] yastij commented on #599
/kind feature

[2018-07-30 19:35] pbarker opened #600 "Dynamic Audit Configuration"
# Feature Description
- One-line feature description (can be used as a release note):
Dynamic configuration of Audit facilities in the apiserver
- Primary contact (assignee):
@pbarker
- Responsible SIGs:
sig-auth
- KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0014-dynamic-audit-configuration.md
- Design proposal link (community repo):
https://github.com/kubernetes/comm

[2018-07-30 20:08] pbarker commented on #600
/cc @tallclair
/sig auth

[2018-07-30 20:08] pbarker commented on #600
/milestone v1.12

[2018-07-30 22:36] RenaudWasTaken commented on #595
The umbrella issue tracker is here: https://github.com/kubernetes/kubernetes/issues/65773

[2018-07-30 22:50] justaugustus commented on #580
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #568
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #545
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #553
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #536
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #541
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #504
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #508
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #496
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #497
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #490
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #492
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #407
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #460
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #384
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #375
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #383
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #367
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #370
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #362
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #366
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #361
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:50] justaugustus commented on #296
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test