[2020-02-05 13:33] palnabarun commented on #1287
Hi @vinaykul, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:34] palnabarun commented on #1333
Hi @liggitt, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:34] palnabarun commented on #1451
Hi @alculquicondor, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:36] palnabarun commented on #563
Hi @lachie83, do you have any other PR's that we should track other than the above-mentioned ones?

[2020-02-05 14:23] nolancon commented on #693
Hi @palnabarun

Tracking issue here for 1.18:
https://github.com/kubernetes/kubernetes/issues/85093

Current open PRs:
https://github.com/kubernetes/kubernetes/pull/87758 (Approved, flaking tests)
https://github.com/kubernetes/kubernetes/pull/87759 (WIP)
https://github.com/kubernetes/kubernetes/pull/87650 (Reviewed, needs approval)

https://github.com/kubernetes/kubernetes/pull/87645 (e2e test PR,

[2020-02-05 14:57] bg-chun commented on #1539
add related conversation with @justaugustus, @jeremyrickard  at the slack
https://kubernetes.slack.com/archives/C2C40FMNF/p1580827241393800
[code]
https://kubernetes.slack.com/archives/C2C40FMNF/p1580827722403800
[code]

[2020-02-05 15:05] bg-chun commented on #1539
/cc @justaugustus, @jeremyrickard @derekwaynecarr, @bart0sh ,@odinuge, @kad
sig-release: @justaugustus, @jeremyrickard
sig-node: @derekwaynecarr, @bart0sh ,@odinuge, @kad , @bg-chun

As guidance of sig-release, I created an issue for release and added a checklist on the issue.

I have some questions for rel-checklist.
We extend hugepages feature, which is implemented status and GA stage.

So, it i

[2020-02-05 15:21] alculquicondor commented on #1451
Will do. I'm actively working on this, but I don't have open PRs yet.

[2020-02-05 17:22] apelisse commented on #491
We don't have any changes to do for this. We're working on improving the documentation at this point:

https://github.com/kubernetes/kubernetes/pull/87805/

[2020-02-05 17:43] gliush commented on #853
@jeremyrickard , @savitharaghunathan: could you confirm that this is going to be part of 1.18 and we don't miss anything?

[2020-02-05 19:18] palnabarun commented on #853
@gliush This enhancement surely satisfies all criteria to be part of the release cycle.

Just a few concerning things:
1. The KEP status is set to `implemented`, whereas it should have been `implementable` if it yet to be implemented. The status is set to `implemented` only when an enhancement graduates successfully to the `stable` phase.
2. Can you please confirm which graduation stage are you ta

[2020-02-05 19:19] palnabarun commented on #853
PS: We are actively tracking it on the [tracking sheet](https://bit.ly/k8s-1-18-enhancements)

[2020-02-05 19:22] palnabarun commented on #853
Investigating further, the PR that set the status to `implemented`: https://github.com/kubernetes/enhancements/pull/1522

[2020-02-05 19:23] palnabarun commented on #166
Thank you @damemi for updating this. :)

[2020-02-05 19:24] palnabarun commented on #491
Thank you @apelisse for the updates. :)

[2020-02-05 19:26] palnabarun commented on #1451
@alculquicondor Thank you for the update. Let us know here when you have PRs that we should track.

[2020-02-05 19:29] palnabarun commented on #693
Thanks @nolancon for linking the PR's and the umbrella issue here. I have added the PRs to the tracking sheet.

[2020-02-05 19:31] jeremyrickard commented on #853
As @palnabarun pointed out, you're going to need to update this to `implementable`. You won't set the status to `implemented` until it graduates to stable.  @arjunrn @gliush

You don't need another exception to fix that, but please do it ASAP.

[2020-02-05 19:57] VineethReddy02 commented on #1513
Hello, @liggitt, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time.

[2020-02-05 19:58] VineethReddy02 commented on #1507
Hello, @robscott, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time.

[2020-02-05 19:59] VineethReddy02 commented on #1495
Hello, @bswartz, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time.

[2020-02-05 20:00] VineethReddy02 commented on #1491
Hello, @davidz627, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time

[2020-02-05 20:01] VineethReddy02 commented on #1453
Hello, @robscott, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time.

[2020-02-05 20:03] VineethReddy02 commented on #1451
Hello, @alculquicondor, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this

[2020-02-05 20:04] VineethReddy02 commented on #1441
Hello, @soltysh, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time.

[2020-02-05 20:05] VineethReddy02 commented on #1440
Hello, @soltysh, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time.

[2020-02-05 20:07] VineethReddy02 commented on #1432
Hello, @xing-yang, I'm 1.18 docs shadow.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time

[2020-02-05 20:09] VineethReddy02 commented on #1412
Hello, @wojtek-t I'm 1.18 docs lead.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time. Le

[2020-02-05 20:10] VineethReddy02 commented on #1393
Hello, @mtaufen, I'm 1.18 docs lead.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time. Le

[2020-02-05 20:10] VineethReddy02 commented on #1333
Hello, @liggitt I'm 1.18 docs lead.
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time. Let

[2020-02-05 20:20] xing-yang commented on #1432
Hi @VineethReddy02, I'll submit a doc PR placeholder soon.  Thanks!

[2020-02-05 20:45] alculquicondor commented on #1451
We will have docs. I will send the PR next week :)

[2020-02-05 21:41] davidz627 commented on #1491
This should have new docs much like the ones already existing for migration for GCE and AWS.
/cc @xing-yang @divyenpatel
who are owning this issue

[2020-02-06 04:31] liggitt commented on #1513
Yes, there will doc updates for the work done in this feature in 1.18

[2020-02-06 09:37] wojtek-t commented on #1412
Yes we will add some doc - I will open it by the deadline.

[2020-02-06 10:37] bg-chun commented on #1539
PR for webdoc is opened :)
https://github.com/kubernetes/website/pull/19008

[2020-02-06 13:38] xing-yang commented on #1491
@VineethReddy02 @davidz627 we'll submit a doc PR soon.  Thanks!

[2020-02-06 15:26] vpickard commented on #693
Hi @palnabarun, @nolancon,

A few additional open PRs related to E2E tests:
https://github.com/kubernetes/test-infra/pull/16062 (needs review and approval)
https://github.com/kubernetes/test-infra/pull/16037 (needs review and approval)

[2020-02-06 15:28] verb commented on #1441
@VineethReddy02 ack, this will include doc updates and we will open a placeholder PR by Feb 28. Thanks!

[2020-02-06 15:54] MikeSpreitzer commented on #1040
Yes, we plan to add doc.  This is a new feature and definitely requires doc.

[2020-02-06 18:02] mtaufen commented on #1393
It will require either new user-facing docs or updates to existing docs.
Thanks for the heads up regarding the deadline.

On Wed, Feb 5, 2020 at 12:10 PM Vineeth Pothulapati <
notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2020-02-06 18:34] sethmccombs commented on #576
Hello, @apelisse  - I'm a Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28th.

 Let me

[2020-02-06 18:36] sethmccombs commented on #565
Hey @jsafrane @vladimirvivien @bswartz   - I'm a Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Fri

[2020-02-06 18:38] sethmccombs commented on #563
Hello, @lachie83 @leblancd   - I'm a Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28t

[2020-02-06 18:39] sethmccombs commented on #555
Hello, @apelisse  - I'm a Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28th.

 Let me

[2020-02-06 18:40] sethmccombs commented on #536
Hello, @robscott @imroc  @m1093782566 -

Seth here, Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by

[2020-02-06 18:41] sethmccombs commented on #508
Hey @aojea -

Seth here, Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28th.

 Let me

[2020-02-06 18:41] sethmccombs commented on #491
Hey @apelisse  -

Seth here, Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28th.

 Let

[2020-02-06 18:41] apelisse commented on #576
Thanks for the reminder, we're already actively working on documentation for this feature. @zhouya0

[2020-02-06 18:42] sethmccombs commented on #351
Hey @jsafrane @msau42 -

Seth here, Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28th

[2020-02-06 18:42] sethmccombs commented on #166
Hey @damemi  -

Seth here, Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28th.

 Let m

[2020-02-06 18:43] apelisse commented on #491
I think we've already updated the docs for this feature, but I'll make sure everything is up-to-date, thanks!

[2020-02-06 18:43] sethmccombs commented on #85
Hey @mortent

Seth here, Docs shadow on the 1.18 release team.

Does this enhancement work planned for 1.18 require any new docs or modifications to existing docs?

If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If doc updates are required, reminder that the placeholder PRs against k/website (branch dev-1.18) are due by Friday, Feb 28th.

 Let me

[2020-02-06 18:43] apelisse commented on #555
We're currently working on the docs, thanks for the reminder!

[2020-02-06 19:49] robscott commented on #536
Hey @sethmccombs, this will require some small additions to the Service Topology and/or EndpointSlice docs. I'll have placeholder docs PR in place by Feb 28.

[2020-02-06 19:50] robscott commented on #1453
Hey @VineethReddy02, this will require some additions to the Ingress docs. I'll have placeholder docs PR in place by Feb 28.

[2020-02-06 19:50] robscott commented on #1507
Hey @VineethReddy02, this will require some small additions to the Service and Endpoints docs. I'll have placeholder docs PR in place by Feb 28.

[2020-02-07 00:37] kfox1111 commented on #753
@rubenhak that gets messy really quick. What needs to be satisfied for the dependency to be clear to proceed? There is often a gap between started and ready that I think dependsOn would really care about that that api does not address.

[2020-02-07 01:33] warmchang commented on #668
/remove-lifecycle stale

[2020-02-07 03:43] rubenhak commented on #753
@kfox1111 How does the proposed design determine that the sidecar is started and ready in order to launch the main container? The only difference I propose is that instead of marking containers as "sidecar" is to use a more generic way of defining dependency.

[2020-02-07 04:03] liggitt commented on #1333
probably no docs for the work done on this in 1.18 (this is focused on a CI/test aspect of our dev process)

[2020-02-07 13:37] bswartz commented on #1495
@VineethReddy02 Yes there will be at least a small docs update with this change.

[2020-02-07 18:51] thockin commented on #617
Why is this still open?  Is there more work?

[2020-02-07 18:51] thockin opened #1544 "Enhance KEP artifacts for human and automatic consumption"
# Enhance KEP artifacts for human and automatic consumption
- KEP artifacts are difficult to navigate, but a few targeted changes can incrementally improve that.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1545
- Primary contact (assignee): thockin
- Responsible SIGs: sig-architecture
- Enhancement target (which target equals to which milestone): N/A

[2020-02-08 08:56] aojea commented on #508
@sethmccombs one question, does a blog post about the feature counts as a doc update?

[2020-02-09 02:47] Huang-Wei commented on #895
@palnabarun Here is an umbrella issue (https://github.com/kubernetes/kubernetes/issues/87662) tracking the PRs. It progresses well right now - an e2e PR and a document PR need to be finished.

[2020-02-09 08:44] palnabarun commented on #895
Thank you @Huang-Wei for the updates. It's great to see the progress. :)

[2020-02-09 08:46] palnabarun commented on #693
Thanks @vpickard for the additional updates. :)

[2020-02-09 12:29] irvifa commented on #603
Hello @gnufied  I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can just be a p

[2020-02-09 12:30] irvifa commented on #614
Hello @danwinship @janosi  I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can

[2020-02-09 12:31] irvifa commented on #670
Hello @frapposelli @cantbewong I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it

[2020-02-09 12:32] irvifa commented on #688
Hello @egernst @tallclair I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can j

[2020-02-09 12:33] irvifa commented on #689
Hello @ddebroy I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can just be a pl

[2020-02-09 12:34] irvifa commented on #693
Hello @lmdaly I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can just be a pla

[2020-02-09 12:34] irvifa commented on #695
Hello @mattsmithdatera @gnufied I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it

[2020-02-09 12:35] irvifa commented on #752
Hello @freehan @robscott I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can ju

[2020-02-09 12:36] irvifa commented on #753
Hello @Joseph-Irving I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can just b

[2020-02-09 12:36] irvifa commented on #770
Hello @msau42 @jsafrane I'm one of the v1.18 docs shadows.
Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., it can jus

[2020-02-09 18:24] frapposelli commented on #670
@johnbelamaric the out of tree provider for vSphere is feature complete and has feature parity with in-tree.

Removal of in-tree providers is tracked as a larger item by the extraction workgroup under SIG cloud provider. Currently all cloud providers are staged under `legacy-cloud-providers` in k/k, the plan of record is to remove all them at once in Kubernetes 1.21.

[2020-02-09 23:00] mattjmcnaughton opened #1547 "Building Kubelet without Docker"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support building the Kubelet without any "Docker-specific" code or dependency on the `docker/docker` Golang library.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1546
- Primary contact (assignee): @mattjmcnaughton
- Responsible SIGs: sig-node
- Enhancement target (whi

[2020-02-09 23:02] mattjmcnaughton commented on #1547
/sig node

[2020-02-09 23:04] sftim commented on #563
If anyone wants help documenting IPV6 or dual-stack stuff for v1.18, give me a nudge. I may be able to help.

[2020-02-09 23:22] sftim commented on #1024
![Screenshot](https://user-images.githubusercontent.com/22591623/74112274-0c7cc280-4b93-11ea-8e32-1cfd818d6005.png)

[2020-02-10 08:29] Joseph-Irving commented on #753
Hi @irvifa I've raised a placeholder PR here https://github.com/kubernetes/website/pull/19046

[2020-02-10 10:02] kikisdeliveryservice commented on #508
Hi @aojea !

As a reminder that the Code Freeze is Thursday 5th March.  Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:03] kikisdeliveryservice commented on #565
Hi @jsafrane @vladimirvivien @bswartz @msau42  !

As a reminder that the Code Freeze is Thursday 5th March.  Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:04] kikisdeliveryservice commented on #859
Hi @soltysh  !

As a reminder that the Code Freeze is Thursday 5th March.  Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:06] kikisdeliveryservice commented on #1258
Hi @alculquicondor  !

As a reminder that the Code Freeze is Thursday 5th March.  Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?  So far I have https://github.com/kubernetes/kubernetes/pull/84874 for this Enhancement.

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:06] kikisdeliveryservice commented on #1281
Hi @cheftako  !

As a reminder that the Code Freeze is Thursday 5th March. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:07] kikisdeliveryservice commented on #1432
Hi @xing-yang  !

As a reminder that the Code Freeze is Thursday 5th March. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement when available?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:08] kikisdeliveryservice commented on #1453
Hi @robscott @cmluciano !

As a reminder that the Code Freeze is Thursday 5th March. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:09] kikisdeliveryservice commented on #1495
Hi @bswartz !

As a reminder that the Code Freeze is Thursday 5th March. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:09] kikisdeliveryservice commented on #1507
Hi @robscott !

As a reminder that the Code Freeze is Thursday 5th March. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-10 10:14] NickrenREN commented on #1432
Hi, @kikisdeliveryservice ,
We have started coding for this, but this is mostly out of tree(out of k8s core repo). So we probably do not need to follow the release timeline strictly.
But of course, if we send out the PRs, we will link them here.
Thanks

[2020-02-10 10:37] irvifa commented on #670
@frapposelli Could you please create a placeholder PR to dev-1.18 for the documentation? Thanks!

[2020-02-10 10:39] irvifa commented on #753
Hi @Joseph-Irving Thank you for your swift response!

[2020-02-10 10:44] aojea commented on #508
@aramase do you have a link to track the IPv6 job on Azure, so the enhancements team can track the feature?

[2020-02-10 11:59] nolancon commented on #693
Hi @irvifa, thanks for the heads up. I've opened a PR here https://github.com/kubernetes/website/pull/19049 with a couple of minor changes. This PR is WIP for now, I will remove it from WIP once criteria for moving to Beta is met (PRs above still under review).
Thanks.

[2020-02-10 12:14] nolancon commented on #693
Hi @irvifa, thanks for the heads up. I've opened a PR here kubernetes/website#19050 with a couple of minor changes. This PR is WIP for now, I will remove it from WIP once criteria for moving to Beta is met (PRs above still under review).
Thanks.

[2020-02-10 12:18] irvifa commented on #693
Hi @nolancon thanks for your swift response, I change the status to Placeholder PR now.. Thanks!

[2020-02-10 13:43] bg-chun commented on #1539
We have requested an [release exception request](https://groups.google.com/forum/#!topic/kubernetes-sig-release/P2UdKZdau1Y) for 1.18 rel.

[And the exception is granted from sig-rel. ](https://github.com/kubernetes/enhancements/pull/1540#issuecomment-583072382)

[2020-02-10 18:08] cmluciano commented on #1453
Hi we have a few that are being reviewed in a different branch that will be combined into a large PR on k/k.

- [ ] [defaultBackend](https://github.com/kubernetes/kubernetes/pull/80179)
- [ ] [pathType](https://github.com/cmluciano/kubernetes/pull/2)
- [ ] [IngressClass](https://github.com/cmluciano/kubernetes/pull/3)
- [ ] HostnameRewrite - pending

[2020-02-10 19:04] nolancon commented on #693
@palnabarun FYI, I've split this PR https://github.com/kubernetes/kubernetes/pull/87759 into two PRs to ease the review process. The second one is here https://github.com/kubernetes/kubernetes/pull/87983 and will also need to be tracked. Thanks.

[2020-02-10 19:05] jeremyrickard commented on #1539
/milestone v1.18

[2020-02-10 19:42] VineethReddy02 commented on #1539
Hello, @bg-chun, I'm 1.18 docs lead
Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time. Let

[2020-02-10 22:11] sftim commented on #1544
@thockin did you mean to leave this issue open?

[2020-02-10 22:53] egernst commented on #688
Thanks @irvifa - if we 'graduate' this feature to beta, indeed we will need docs updates accordingly.  I'll open a placeholder PR now.

[2020-02-11 00:03] savitharaghunathan commented on #961
Hi @krmayankk , Can you confirm on the status of docs? TIA

[2020-02-11 01:24] rgulewich commented on #753
@rubenhak - I agree with @kfox1111 that having a full graph of dependencies can get pretty messy pretty quickly.  What about starting the containers in the order in the pod spec, and then tearing them down in the reverse order (like a stack)?  This would be a lot simpler to implement, and covers most of the common ordering use-cases that I can think of.

[2020-02-11 05:04] rubenhak commented on #753
@rgulewich, could you elaborate bit more, what exactly can get messy? Deriving order from graph is a trivial task, especially considering the fact that no sane operator would run more than 15 sidecars (already a stretch).

Idea of order is ok, but since most of sidecars are injected using admission controllers it would be really hard to guarantee correctness of order. There is a need for indirecti

[2020-02-11 08:45] bart0sh commented on #1539
@VineethReddy02 Yes, this enhancement requires documentation update. Here is a PR for it: https://github.com/kubernetes/website/pull/19008

[2020-02-11 09:41] discostur commented on #266
@mikedanese is this real that in k8s 1.17.2 there is still no kubelet server certificate rotation? i have upgraded just to 1.17 and i see only client certificate rotation working ...

[code]

[2020-02-11 10:01] jsafrane commented on #989
@j-griffith, @msau42, is anyone actually working on the tests mentioned in the last KEP update, https://github.com/kubernetes/enhancements/pull/1515/files ? What tasks are remaining?

I did not find a board on our usual CSI place, https://github.com/orgs/kubernetes-csi/projects

[2020-02-11 10:29] humblec commented on #962
@xing-yang Do we have a sync up call scheduled for driving this forward ? if yes, I would like to contribute to this through the same.

[2020-02-11 11:26] jsafrane commented on #565
For the record, as our KEP says, I did "Disruptive testing with block devices in /dev reordered after reboot" with GCE PD CSI driver.

Scenario:

1. Node with 6 pods, each using a different PV.
2. Stop the node.
3. Force-delete 2 pods, delete 2 pods, keep 2 pods running.
4. Start the node.
5. Checked that all 4 pods were correctly deleted and cleaned up (see below).
6 .Checked that devices for the

[2020-02-11 14:46] xing-yang commented on #962
@humblec we don't have a call scheduled yet.  I'm working on a proposal to address the review comments but it is not ready yet.  Will keep you updated.

By the way, if you are interested in helping with moving the volume snapshot feature to GA, this ExecutionHook feature is not required for that.

[2020-02-11 15:36] bjhaid commented on #753
@rubenhak there could be a cycle in the dependency order of the containers, how does k8s/kubelet decide to break the cycle and decide what order to start/stop the containers? Thinking out loud maybe this could be an API side validation.

[2020-02-11 16:06] jeremyrickard commented on #351
Hello @msau42 kube-proxy-9t6v6,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:07] jeremyrickard commented on #555
Hey @apelisse @kwiesmueller,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:07] jeremyrickard commented on #753
Hey @Joseph-Irving,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:10] jeremyrickard commented on #853
Hey @gliush

I think everything for this is merged yes? Could you link us to the PRs that merged the implementation for this enhancement so we can update the tracking sheet? Code freeze for 1.18 is **March 05, 2020**, so anything additional will need to be completed and merged prior to that.

[2020-02-11 16:11] jeremyrickard commented on #995
Hey @neolit123,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:11] jeremyrickard commented on #1001
Hey @PatrickLang ,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:12] jeremyrickard commented on #1024
Hey @prameshj,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:12] jeremyrickard commented on #1301
Hey @PatrickLang

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:13] jeremyrickard commented on #1491
Hey there @xing-yang @davidz627,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:13] jeremyrickard commented on #1513
Hey @liggitt,

Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.

As we track toward code freeze, please list out/link to any PRs you are working on toward graduating this enhancement!

[2020-02-11 16:15] jeremyrickard commented on #1539
Hey @bg-chun @bart0sh,

Thanks so much for all the effort in getting this through! Just a friendly reminder that code freeze for 1.18 is **March 05, 2020**.  Is there anything we should track, aside from your very helpful PR tracker up at the top of the issue?

[2020-02-11 16:25] liggitt commented on #1513
PRs in flight:
- https://github.com/kubernetes/kubernetes/pull/86933
- https://github.com/kubernetes/kubernetes/pull/86476

[2020-02-11 16:26] jeremyrickard commented on #1513
Thanks @liggitt 🙇

[2020-02-11 16:27] liggitt commented on #266
The serving certificate feature is active, but is opt-in, since it requires a certificate signing request approval process be set up by the cluster deployer (there is not sufficient information available to the kube-controller-manager to know whether it should approve a serving certificate request from a node for a given IP or DNS name)

[2020-02-11 16:28] neolit123 commented on #995
ack
@gab-satchi @benmoss

[2020-02-11 16:29] Joseph-Irving commented on #753
Hey @jeremyrickard,

Is the pr to track https://github.com/kubernetes/kubernetes/pull/80744
This PR contains API changes but will have the commits merged into the PR above once review has finished https://github.com/kubernetes/kubernetes/pull/79649

[2020-02-11 16:33] kwiesmueller commented on #555
Thanks for the reminder!

[2020-02-11 17:03] rubenhak commented on #753
@bjhaid, API side can do the validation. Loop detection is a trivial algorithm with a linear time complexity (just like DFS traversal).

There might also be a need to rerun validation after sidecar injection as well.

[2020-02-11 17:34] johnbelamaric commented on #576
Hi @apelisse, code freeze is March 5. Please list out/link to any PRs you are working on toward this enhancement, so we can track it in the release team. Thanks!

[2020-02-11 17:45] apelisse commented on #576
That [PR](https://github.com/kubernetes/kubernetes/pull/87714) is the last piece of work that needs to go in before code-freeze, thanks!

[2020-02-11 18:07] robscott commented on #752
Hey @irvifa there are some small changes related to EndpointSlices and (Service Topology)[https://github.com/kubernetes/enhancements/issues/536] that will need docs updates. I'll plan to have a draft ready in time.

[2020-02-11 18:47] johnbelamaric commented on #670
@frapposelli Ok, thanks. So, the only thing left are docs?

[2020-02-11 18:49] johnbelamaric commented on #752
@robscott Is https://github.com/kubernetes/kubernetes/pull/86137 the only PR that was needed, other than docs?

[2020-02-11 18:55] robscott commented on #752
There will be one more PR, but it will already be tracked on the Service Topology enhancement, not sure if it's needed here as well.

[2020-02-11 19:01] johnbelamaric commented on #902
Hi @denkensk and @vllry. Code freeze is March 5th. Please list the PRs that need to merge for graduating this feature, so we can track them in the release team. Thanks!

[2020-02-11 19:09] johnbelamaric commented on #989
@j-griffith code freeze is March 5th. Please link any PRs that are needed to complete this for 1.18, so we can track them in the release team. Thanks!

[2020-02-11 19:10] johnbelamaric commented on #1020
@soltysh code freeze is March 5th. Please link any PRs that planned for this in 1.18, so we can track them in the release team. Thanks!

[2020-02-11 19:12] johnbelamaric commented on #1040
Hi @MikeSpreitzer I am an enhancements shadow for 1.18. Are there open PRs that are needed to complete the 1.18 work for this? If so, please list them here so we can track them in the release team. Thanks.

[2020-02-11 19:13] johnbelamaric commented on #1412
Hey @wojtek-t, code freeze is March 5. Please link any PRs that are needed to complete this for 1.18, so we can track them in the release team. Thanks!

[2020-02-11 19:20] j-griffith commented on #989
Yep, I'm assigned and working on it.  I'll get it added to the CSI boards.  The only work that's needed is enhancements to the tests which I've started.

[2020-02-11 19:52] MikeSpreitzer commented on #1040
We have one open PR, https://github.com/kubernetes/kubernetes/pull/87754 .  That will be the first time that the plumbing for this feature is complete.  We expect to do further polishing before the release, as time allows.

[2020-02-11 19:57] gliush commented on #853
Hi @jeremyrickard

Yes, everything seems to be merged.

[2020-02-11 20:19] johnbelamaric commented on #1040
Thanks Mike, we'll track that one. If others come up, please link them here.

[2020-02-11 20:57] hh commented on #1315
/close
This is based on our old process and we will soon migrate to behaviour measurements.

[2020-02-11 20:57] #1315 closed

[2020-02-11 21:07] robscott commented on #1507
Hey @kikisdeliveryservice thanks for checking in! I'm hoping to have a PR ready in the next week or so, I'll make sure it's linked when I create it.

[2020-02-12 02:12] bg-chun commented on #1539
` Is there anything we should track`
=> I think so, we have one un-merged PR(https://github.com/kubernetes/kubernetes/pull/84051)
And @liggitt requested a change for validation logic.

[2020-02-12 05:22] xing-yang commented on #962
@humblec and @ashish-amarnath, I added ExecutionHook to tomorrow's Data Protection WG agenda to discuss: https://docs.google.com/document/d/15tLCV3csvjHbKb16DVk-mfUmFry_Rlwo-2uG6KNGsfw/edit#

[2020-02-12 09:58] wojtek-t commented on #1412
We seem to be code-complete, unless we find some issue. So only docs are missing.

[2020-02-12 14:03] serathius commented on #1238
/remove-lifecycle stale

[2020-02-12 16:39] humblec commented on #962
Thanks @xing-yang ! will catch up on this.

[2020-02-12 16:53] irvifa commented on #688
@egernst Hi 👋 Thanks for your response, I've changed the tracking sheet as well..

[2020-02-12 16:55] irvifa commented on #752
Hi @robscott 👋 Thank you for your response, please let me know if you already create a draft PR so I can change the tracking sheet.

[2020-02-12 17:09] danwinship commented on #614
@irvifa nothing about the feature is changing; the only difference is that it will be Beta instead of Alpha.

Hm... I guess it's normal to switch feature gates from default-off to default-on when going to Beta but we haven't talked about doing that at all...

[2020-02-12 17:15] irvifa commented on #614
Hi 👋🏻 @danwinship thank you for your response. Any way will this explanation need to be mentioned explicitly in the docs? If it is then please open a placeholder PR..

[2020-02-12 17:31] ashish-amarnath commented on #962
/assign ashish-amarnath

[2020-02-13 18:44] alculquicondor commented on #1451
PR for API changes is out for review kubernetes/kubernetes#88087

[2020-02-13 21:43] elmiko commented on #609
hi, i brought up this issue at the last cluster-api meeting as i would like to help drive it forward. i am still coming up to speed on the progress, but my understanding is there is a documentation effort that still needs to be addressed?

any updates are greatly appreciated =)

[2020-02-15 09:50] VineethReddy02 commented on #491
@apelisse If you have already updated the docs, Can you share the link to the PR here.
Thanks!

[2020-02-15 15:20] justaugustus opened #1553 "Issue Triage Workflow and Automation"
# Issue Triage Workflow and Automation
- One-line enhancement description (can be used as a release note): Improve issue triage in `kubernetes/kubernetes` by defining a workflow and automation for contributors
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-contributor-experience/1553-issue-triage
- Primary contact (assignee): @justaugustus
- Responsible SIGs: SIG Contr

[2020-02-15 21:02] apelisse commented on #491
@julianvmodesto Do you happen to remember?

[2020-02-15 21:45] janosi commented on #614
@palnabarun this is the PR to cover the basic e2e test cases. It is WIP currently https://github.com/kubernetes/kubernetes/pull/88196

[2020-02-16 02:41] justaugustus commented on #1544
Yep, should've been closed.
/close

[2020-02-16 02:41] #1544 closed

[2020-02-17 17:03] iheanyi1 commented on #1301
Hello @PatrickLang ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeh

[2020-02-17 17:04] iheanyi1 commented on #1287
Hello @vinaykul,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholde

[2020-02-17 17:05] iheanyi1 commented on #1281
Hello @cheftako ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placehold

[2020-02-17 17:06] iheanyi1 commented on #1258
Hello @alculquicondor ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a pla

[2020-02-17 17:07] iheanyi1 commented on #1020
Hello @soltysh,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder

[2020-02-18 11:18] munnerz commented on #1513
Additional PR in-flight for tracking: https://github.com/kubernetes/kubernetes/pull/88246

[2020-02-18 15:26] johnbelamaric commented on #1020
@soltysh Any PRs we should be tracking in the release team?

[2020-02-18 17:23] alculquicondor commented on #1258
Hello @kikisdeliveryservice, all my efforts are now directed towards #1451. I'll let you know when I have PRs for this.

@iheanyi1, here is the PR for docs kubernetes/website#19170

[2020-02-18 17:31] alculquicondor commented on #1451
@VineethReddy02, docs placeholder PR: kubernetes/website#19172

[2020-02-18 17:38] julianvmodesto commented on #491
@zhouya0 merged a couple of PRs for docs here:

https://github.com/kubernetes/website/pull/18665
https://github.com/kubernetes/website/pull/18481

Issue: https://github.com/kubernetes/kubernetes/issues/86525

[2020-02-18 19:27] sftim commented on #1258
Following https://github.com/kubernetes/enhancements/issues/1258#issuecomment-587086972 it does look to me as if a few docs changes are needed, and there is indeed a placeholder PR open already.

[2020-02-18 22:16] alculquicondor commented on #1451
implementation PR kubernetes/kubernetes#88285

[2020-02-18 22:35] michaelgugino opened #1557 "kubectl drain support custom pod filters"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Enable providing custom pod filters when using drain as a library.
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x

[2020-02-18 22:40] tallclair opened #1558 "Streaming Proxy Redirects [DEPRECATED]"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Deprecate & remove StreamingProxyRedirects and redirect-container-streaming
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1558-streaming-proxy-redirects
- Primary contact (assignee): @tallclair
- Responsible SIGs: node, api-machinery
- Enhancement

[2020-02-18 22:47] tallclair commented on #1558
/sig node

[2020-02-18 22:52] michaelgugino commented on #1557
/sig cli

[2020-02-19 01:05] kfox1111 commented on #753
I've been thinking about this for a while... Most of the issues with dependencies really boil down I think to service meshes. (maybe someone can think of another example though)

The service mesh proxy is a sidecar that needs to start and become ready before anything else, and needs to exit after anything else. They are long running so are more of a sidecar then an init container.

But initContain

[2020-02-19 03:13] rubenhak commented on #753
@kfox1111, Vault now does secret injection using sidecars. Which class should it fit into? Also, depending on the case, vault could depend on service mesh, or the other way around.

All I'm saying is that such design would eventually explode into 10 sidecar classes. Such approach implies even stronger opinion on how things should run. People would start hacking with classes, just to achieve the or

[2020-02-19 03:52] tedyu commented on #753
What if we introduce a field into Container ?
[code]
This field is effective among containers of the same type (sidecar, normal).
For sidecar containers, the sidecar container with higher priority would be instantiated first / torn down last.

[2020-02-19 04:33] rubenhak commented on #753
@tedyu, dependency has much more metadata and value compared with "priority". It takes 30 lines of c++ code to produce priority order given dependency [https://www.geeksforgeeks.org/find-the-ordering-of-tasks-from-given-dependencies/](https://www.geeksforgeeks.org/find-the-ordering-of-tasks-from-given-dependencies/). The other way around is not possible.

Another benefit is that given dependency g

[2020-02-19 08:40] AndiDog commented on #753
Integer priority won't work nicely – people will use all kind of different, non-standardized numbers as they do with the CSS z-index property (like `-9999`).

[2020-02-19 08:45] Joseph-Irving commented on #753
@rubenhak What you're suggesting at this point is basically an entirely different feature to the one being describe in this KEP, it's not a small tweak, it's a total rewrite. It would require getting everyone who had previously agreed to this feature (it took a year to get this approved by all parties) to revaluate this.
If you are passionate about such a feature I would suggest that you create yo

[2020-02-19 10:49] irvifa commented on #603
Hello @gnufied I'm one of the v1.18 docs shadows.

Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th., which is roughly 1

[2020-02-19 10:51] irvifa commented on #614
Hi 👋🏻 @danwinship just a friendly reminder, do you already decided on the document's format? Since the deadline is roughly 1 week from now. Thanks!

[2020-02-19 10:59] irvifa commented on #670
Hello @frapposelli I'm one of the v1.18 docs shadows.

Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, which is roughl

[2020-02-19 11:00] irvifa commented on #689
Hello @ddebroy I'm one of the v1.18 docs shadows.

Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, which is roughly 1

[2020-02-19 11:00] irvifa commented on #695
Hello @mattsmithdatera @gnufied  I'm one of the v1.18 docs shadows.

Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, w

[2020-02-19 11:01] irvifa commented on #752
Hello @robscott I'm one of the v1.18 docs shadows.

Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, which is roughly 1

[2020-02-19 11:01] irvifa commented on #770
Hello @msau42 @jsafrane I'm one of the v1.18 docs shadows.

Does this enhancement for (or the work planned for v1.18) require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, which is r

[2020-02-19 14:34] howardjohn commented on #753
This change may not be the perfect solution for every single use case, but it dramatically improves the experience for most and I think we would be much better off getting this merged in then to debate for another year about the implementation.

[2020-02-19 15:05] danwinship commented on #614
This should be handled exactly like any other feature going from alpha to beta. I have no idea what the docs team does for that.

[2020-02-19 16:17] krancour commented on #753
Would they _ever_ be mutually exclusive?

I'm asking myself if this feature has value _even if_ more explicit container startup/shutdown ordering (which I think would be great) is enabled through another enhancement in the future... and I am thinking yes.

Any startup / shutdown order, that's implied by the classification of containers as init, sidecar, or "regular" set aside, these classification

[2020-02-19 16:34] kfox1111 commented on #753
We worked through csi ephemeral drivers so that things like vault would not need sidecars/init containers. I believe there is a vault driver in the works.

Though regular sidecar with emptyDir seems like it would fit for a sidecar that needs to use the network sidecars?

[2020-02-19 17:08] rubenhak commented on #753
@Joseph-Irving, I by no means was trying to block this KEP from going it. I realize that you started it almost 2 years back and there are quite a lot of folks waiting for this to be released.

Do you have a link to prior discussion related to dependency graph?

[2020-02-19 17:49] michaelgugino opened #1559 "kubectl drain allow deletion of daemonset pods"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add new option to kubectl drain to allow deletion of daemonset pods instead of just ignoring them
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs: cli
- Enhancement target (which target equals to which mile

[2020-02-19 17:49] michaelgugino commented on #1559
/sig cli

[2020-02-20 02:39] PatrickLang commented on #1001
I still need tomorrow to get this up to date, but I added a website placeholder PR (thanks for the reminder @savitharaghunathan).

I'll drop another note here once the PR list is fixed - thanks @jeremyrickard

[2020-02-20 03:38] xing-yang commented on #1432
CSI Spec PR is submitted here: https://github.com/container-storage-interface/spec/pull/415

[2020-02-20 03:41] xing-yang commented on #1432
Hi @VineethReddy02, I think the doc for this feature will be in kubernetes-csi/docs repo, not in kubernetes website repo.  Can you please remove the doc requirement for this feature from the tracking sheet?  Thanks!

[2020-02-20 16:37] sethmccombs commented on #508
@aojea - The website repo holds blog posts but the release process for them is a little different vs regular docs, I can get more info, (CC-ing @karenhchu as comms lead)

[2020-02-20 18:01] savitharaghunathan commented on #995
Hi @neolit123 @benmoss  @gab-satchi - I'm one of v1.18 shadow, since we're approaching the deadline for docs placeholder PR, I'd like to confirm whether you will need docs for this enhancement

[2020-02-20 18:02] caesarxuchao commented on #1281
No, we don't have new docs in 1.18.

[2020-02-20 18:04] savitharaghunathan commented on #989
@j-griffith, @msau42 -  I'm one of the v1.18 docs shadow, since we're approaching the deadline for docs placeholder PR, I'd like to confirm whether you will need docs for this enhancement.

Thanks!

[2020-02-20 18:05] iheanyi1 commented on #1281
Thanks for clarifications

[2020-02-20 18:05] savitharaghunathan commented on #961
Hi @krmayankk ,  Gentle reminder - We're approaching the deadline for docs placeholder PR, I'd like to confirm whether you will need docs for this enhancement.

Thanks!

[2020-02-20 19:43] PatrickLang commented on #1001
I'm not tracking any remaining feature work for alpha. It's down to docs at this point and keeping up to date triaging test failures.

[2020-02-20 22:23] vinaykul commented on #1287
Hi @iheanyi1 yes this feature will require updates to the documentation as we have API change. I'm working on the API change code, and once it is approved / agreed-upon I'll create a PR updating the relevant docs

Thanks,
Vinay

[2020-02-21 08:52] iheanyi1 commented on #1287
Thank you for update @vinaykul.
But just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) **due by Friday, Feb 28th, it can just be a placeholder PR at this time.**
Keep the good work, we hope you will meet deadline we are working with.

Thanks

[2020-02-21 08:53] iheanyi1 commented on #1040
But just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) **due by Friday, Feb 28th, it can just be a placeholder PR at this time.**
Keep the good work, we hope you will meet deadline we are working with.
Thank you.

[2020-02-21 09:04] iheanyi1 commented on #1281
Thank you @caesarxuchao for update

[2020-02-21 13:38] VineethReddy02 commented on #1393
Hello @mtaufen
We are close to the docs placeholder PR deadline i.e less than week left for docs placeholder PR against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhnacements much better.

Thanks! :)

[2020-02-21 13:39] VineethReddy02 commented on #1412
Hello @wojtek-t
We are close to the docs placeholder PR deadline i.e less than week left for docs placeholder PR against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-21 13:55] VineethReddy02 commented on #1453
Hello @robscott
We are close to the docs placeholder PR deadline against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-21 13:57] VineethReddy02 commented on #1491
Hello @xing-yang
We are close to the docs placeholder PR deadline against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-21 13:57] VineethReddy02 commented on #1495
Hello @bswartz
We are close to the docs placeholder PR deadline against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-21 13:58] VineethReddy02 commented on #1507
Hello @robscott
We are close to the docs placeholder PR deadline against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-21 13:59] VineethReddy02 commented on #1513
Hello @liggitt
We are close to the docs placeholder PR deadline against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-21 15:11] xing-yang commented on #1491
Hi @VineethReddy02, doc placeholder PR submitted here:
https://github.com/kubernetes/website/pull/19227

[2020-02-21 16:17] neolit123 commented on #995
@savitharaghunathan

this is the docs PR:
https://github.com/kubernetes/website/pull/19217

@jeremyrickard

code PRs are tracked here:
https://github.com/kubernetes/kubeadm/issues/1393

not all checkmarks need to be checked for the feature to graduate to beta.

[2020-02-21 19:15] cmluciano commented on #1453
@VineethReddy02 I'll be starting the docs today and will link the placeholder PR here.

[2020-02-21 20:44] johnbelamaric commented on #902
@denkensk @vllry ping - any PRs for this yet?

[2020-02-21 20:47] johnbelamaric commented on #989
@j-griffith any PRs for this yet that we can track?

[2020-02-22 00:46] robscott commented on #1507
Hey @VineethReddy02, thanks for the reminder! I'll work on getting that in soon.

[2020-02-22 00:48] robscott commented on #752
Hey @irvifa, I will need to update the docs for this. I'll work on getting a placeholder PR in shortly. The actual implementation work for EndpointSlices in 1.18 is complete now.

[2020-02-22 00:54] robscott commented on #536
Hey @sethmccombs, this change is not going to make it into 1.18, feel free to take it out of tracking for this release.

There was a good discussion on the sig-network call yesterday about other potential ways we might want to approach topology aware routing. I'm not sure exactly what, if anything, that will turn into, but I don't want to push too far in this direction until we've had more time to

[2020-02-23 15:38] VineethReddy02 commented on #1440
Hello @soltysh
We are close to the docs placeholder PR deadline i.e less than week left for docs placeholder PR against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-24 05:51] krmayankk commented on #961
@savitharaghunathan  no docs for alpha

[2020-02-24 06:03] VineethReddy02 commented on #576
Hi @apelisse
We are close to the docs placeholder PR deadline against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.
Could you please share the link to docs placeholder PR?

Thanks! :)

[2020-02-24 15:17] jeremyrickard commented on #351
Hello @msau42 @jsafrane

We're getting close to code freeze next week, **05 March 2020**

Can you please share any PRs that are in flight for this so that we can properly track the issue? This includes both k/k PRs and **placeholder PRs against k/website (branch dev-1.18), which are due by Friday, Feb 28th.**

[2020-02-24 15:18] jeremyrickard commented on #555
Hey @apelisse @kwiesmueller,

Circling back as we are getting closer to code freeze. **Please list any k/k PRs you are working on so we can better track this issue**.

[2020-02-24 15:20] kwiesmueller commented on #555
I think we won't make it with the stuff I'm working on.
@apelisse might have some and probably @julianvmodesto with dryrun and diff?

[2020-02-24 15:21] jeremyrickard commented on #753
Hey @Joseph-Irving,

Friendly reminder that we are closing in pretty quickly on code freeze on **05 March 2020**. It does not look like your PRs have merged yet, are you still feeling like you're on track for code freeze for this enhancement?

[2020-02-24 15:24] jeremyrickard commented on #995
@neolit123 thanks for the pointer to the tracking issue.  Could you share or annotate which ones definitely need to be checked to graduate to beta?

[2020-02-24 15:26] jeremyrickard commented on #1024
Hey @prameshj,

Just another friendly reminder that code freeze for 1.18 is **March 05, 2020**.
As a reminder, please link any k/k PRs here so we can better track this issue.

[2020-02-24 15:30] jeremyrickard commented on #1491
Hey there @xing-yang, are there any k/k PRs that are open for this issue? As a reminder, we're getting close to code freeze next week **05 March 2020** and we'd like to track any work that is occurring for this issue.

[2020-02-24 15:32] jeremyrickard commented on #85
Hey @mortent

Code freeze is just over a week away, could you please list out any k/k PRs you are working on for this issue so that we can better track the issue?

[2020-02-24 15:35] jeremyrickard commented on #508
hey @aojea @aramase could you link to that PR for the IPv6 job on Azure for us?

[2020-02-24 15:36] jeremyrickard commented on #563
Hey @lachie83,

Looks like kubernetes-sigs/kind#692 hasn't merged yet. Is that critical for your Beta graduation?

[2020-02-24 15:39] jeremyrickard commented on #603
Hey @gnufied,

For 1.17 it looks like this missed code freeze because https://github.com/kubernetes/kubernetes/pull/84814 didn't merge. It still looks like it has not merged. Are there any other k/k PRs that need to be tracked for this issue? We're about a week out from code freeze, which is on **05 March 2020**.

[2020-02-24 15:41] Joseph-Irving commented on #753
Hey @jeremyrickard, The API review (https://github.com/kubernetes/kubernetes/pull/79649) is basically done. We will be closing that PR and moving entirely into the implementation PR so it can all (API and Implementation) be merged in one PR.

The implementation PR (https://github.com/kubernetes/kubernetes/pull/80744) has been thoroughly reviewed, so I'm trying to get a sig-node approver to take a

[2020-02-24 15:41] jeremyrickard commented on #688
Hey @egernst @tallclair

We are about a week out from code freeze, which is on **05 March 2020**. Can you please share the k/k PRs that you have for this enhancement so we can better track the enhancement as we get close to the freeze? Thanks.

[2020-02-24 15:43] jeremyrickard commented on #689
Hey  @ddebroy @PatrickLang,

Following up on the ask from @palnabarun, can you please link to all the k/k PRs (or PRs in other repos) that we need to track for this enhancement? Code freeze is quickly approaching on **05 March 2020**.

Thanks!

[2020-02-24 15:45] neolit123 commented on #995
i do not think we have all items in there yet.
deferring your question to @benmoss and @gab-satchi

[2020-02-24 16:01] egernst commented on #688
Thanks @jeremyrickard.

Details below (I can't edit description of this issue, so I've been tracking  [here](https://github.com/kubernetes/kubernetes/issues/88339)

 - [x] - update KEP beta criteria: https://github.com/kubernetes/enhancements/pull/1526
 - [x] - scheduler e2e test: https://github.com/kubernetes/kubernetes/pull/87215
 - [ ] - node e2e test: will submit today
 - [x] - feature observa

[2020-02-24 16:10] jeremyrickard commented on #695
Hey @gnufied following up, can you please list out k/k PRs for this enhancement? We are getting close to code freeze on **05 March 2020**.

Thanks

[2020-02-24 16:12] jeremyrickard commented on #770
Hello @msau42 @jsafrane @gnufied,

Can you please link us to any k/k PRs for this enhancement so we can better track things. Code freeze is coming up quickly on **05 March 2020**

[2020-02-24 16:13] jeremyrickard commented on #859
@pwittrock I see you dropped this from the v1.18 milestone, so we are going to remove this from the tracking sheet.

[2020-02-24 16:16] jeremyrickard commented on #961
Hey @krmayankk

Friendly reminder,we are getting close to code freeze on **05 March 2020**. I see that kubernetes/kubernetes#82162 hasn't merged yet. Are you still working toward this for 1.18?

[2020-02-24 16:20] jeremyrickard commented on #1281
Hello @cheftako @caesarxuchao

We're getting close to code freeze on **05 March 2020**. Please list or link to all PRs that are in flight for this enhancement.

[2020-02-24 16:22] jeremyrickard commented on #1287
Hi @vinaykul, just a friendly reminder that the Code Freeze will go into effect on Thursday 5th March. Please list out any PRs for this enhancement.

[2020-02-24 16:25] jeremyrickard commented on #1333
Hi @liggitt, just a friendly reminder that the Code Freeze will go into effect on **Thursday 5th March**.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-24 16:26] jeremyrickard commented on #1393
@mtaufen

We are getting pretty close to the code freeze deadline of **05 March 2020**.

Can you please link to any k/k PRs for us so we can better track this?

[2020-02-24 16:28] jeremyrickard commented on #1440
Hey @soltysh,

We're getting close to code freeze for 1.18 on **05 March 2020**. Can you please list out or link to any PRs that in flight for this enhancement?

[2020-02-24 16:31] jeremyrickard commented on #1453
@cmluciano @robscott

Reminder, we are getting close to code freeze on **05 March 2020**. It looks like you still have some open PRs fort his. Are you confident these will get merged by code freeze?

[2020-02-24 16:32] jeremyrickard commented on #1495
Hi @bswartz !

As a reminder that the Code Freeze is Thursday 5th March. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.18 Enhancements Team

[2020-02-24 16:33] jeremyrickard commented on #1507
Hey @robscott,

How are you doing on this enhancement? Have you opened a PR for this yet?

[2020-02-24 16:42] mortent commented on #85
@jeremyrickard This will not make it in the 1.18 release. There are still open issues that we need to address.

[2020-02-24 17:35] duderino commented on #753
Would love to see this get in by code freeze.  It would make Istio's solution to https://github.com/istio/istio/issues/7136 both simpler and better.

[2020-02-24 17:43] apelisse commented on #576
I've created the empty PR: https://github.com/kubernetes/website/pull/19287

[2020-02-24 17:43] apelisse commented on #555
I've created the placeholder doc PR: https://github.com/kubernetes/website/pull/19286

[2020-02-24 17:53] benmoss commented on #995
I think that issue isn't 100% accurate anymore in terms of the unresolved issues there. From the [revised KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/20190424-kubeadm-for-windows.md#graduation-criteria) I think the remaining work is

- [ ] PR the remaining scripts to [sig-windows-tools](https://github.com/kubernetes-sigs/sig-windows-tools)
- [ ] s

[2020-02-24 17:58] Jefftree commented on #1281
They're tracked in this issue: https://github.com/kubernetes/kubernetes/issues/85250

[2020-02-24 17:59] neolit123 commented on #995
i'm going to add the above items to https://github.com/kubernetes/kubeadm/issues/1393
under a BETA section. thanks.

[2020-02-24 18:42] huffmanca commented on #603
@jeremyrickard ,

I'm still working on this PR, and hoping to have it ready for review this week. There are no other k/k PRs to my knowledge regarding this issue.

@irvifa ,

Per https://github.com/kubernetes/enhancements/issues/603#issuecomment-419525702, this is not a user facing change and no documentation is required in kubernetes/website repo for this change. This will be documented via - htt

[2020-02-24 19:01] robscott commented on #1453
Hey @jeremyrickard, we are limiting the scope of what we'll be part of 1.18 (staying at v1beta1 until 1.19), but we are confident that we'll get what we've committed to in.

[2020-02-24 19:02] robscott commented on #1507
Hey @jeremyrickard, I've got a branch that's ~90% there, hope to have a PR in shortly.

[2020-02-24 19:10] msau42 commented on #603
@huffmanca, we may still need docs on the k8s side for the feature gate.

[2020-02-24 19:40] mtaufen commented on #1393
@jeremyrickard all associated PRs are linked in the issue description.

@VineethReddy02 I plan to have a placeholder PR up by the end of this week, thanks!

[2020-02-24 19:44] VineethReddy02 commented on #1393
Hi @mtaufen
The deadline for the placeholder PR is 28th Feb we are close to the deadline. It would be great if we can have placeholder PR in place sooner than later.

[2020-02-24 20:31] gnufied commented on #695
@jeremyrickard thanks. The first PR that implements necessary api change is - https://github.com/kubernetes/kubernetes/pull/88488/files

[2020-02-24 21:37] prameshj commented on #1024
The code-freeze is for k/k PRs correct?
I have the docs update PR that has lgtm, waiting for an approval - https://github.com/kubernetes/website/pull/18716
The rest of the changes will be in kubernetes/dns and kubernetes/perf-tests repos. Do those need to be linked and completed by March 5 as well?

[2020-02-24 22:41] lachie83 commented on #563
Hey @jeremyrickard @sethmccombs we're going to have to pull this from graduating to beta given this PR https://github.com/kubernetes/kubernetes/pull/86895. Until we have a reasonable way forward I don't think it is wise to move this to beta for 1.18

[2020-02-25 01:23] xing-yang commented on #1491
Hi @jeremyrickard, we are not going to make the March 5th deadline.  We will be targeting 1.19 instead.  Thanks.

[2020-02-25 07:59] wojtek-t commented on #1412
I opened https://github.com/kubernetes/website/pull/19297 - it's the only remaining thing for Alpha

[2020-02-25 15:27] VineethReddy02 commented on #1040
Hi @MikeSpreitzer
My name is Vineeth, 1.18 Docs release lead. This message is in regard to docs placeholder PR for this enhancement.
As we are left with 2 more days for the deadline. It would be great to have placeholder PR in place asap.
Thanks!

[2020-02-25 17:29] aramase commented on #508
@jeremyrickard I've created the placeholder PR in test-infra for the job - https://github.com/kubernetes/test-infra/pull/16461

Other PRs that'll need to be merged before -
https://github.com/kubernetes/kubernetes/pull/88448
https://github.com/Azure/aks-engine/pull/2781

I'm finishing up testing and will then remove the WIPs.

[2020-02-25 17:39] nckturner commented on #423
@jeremyrickard spoke to @M00nF1sh, looks like this will not be graduating in 1.18.  Some more test coverage is needed and there are a number of open issues around annotation behavior, specifically security groups.

[2020-02-25 18:20] M00nF1sh commented on #423
Yes, we don't plan to announce it as GA at v1.1.8.

[2020-02-25 21:49] bswartz commented on #1495
https://github.com/kubernetes/website/pull/19315

[2020-02-25 21:49] bswartz commented on #1495
Will add k/k PR next

[2020-02-25 23:02] robscott commented on #752
@irvifa I have a docs PR ready for review now: https://github.com/kubernetes/website/pull/19316

[2020-02-25 23:02] robscott commented on #1507
@jeremyrickard I have a docs PR ready for review now: https://github.com/kubernetes/website/pull/19317

[2020-02-26 01:21] PatrickLang commented on #1043
@iheanyi1 - have doc PR attached. code PRs are merged.

/milestone v1.18

[2020-02-26 02:49] tedyu commented on #277
#88276 should go in before GA.

[2020-02-26 03:00] PatrickLang commented on #1301
The user-facing change (node labels) was completed in 1.17 - PRs above.

What we're doing for 1.18 is a change to CRI. It won't be user-visible in 1.18 immediately as we need to make some updates to ContainerD. The end goal is to have different RuntimeClasses supported so that someone can run containers for multiple versions on the same node, instead of requiring different nodes per Windows versio

[2020-02-26 06:56] verb commented on #277
@tedyu Noted, but I don't think that will be a concern. After the 1.18 window closes we can begin talking about beta, but even that would take a while. I want to get some feedback and resolve some outstanding items before beta, in particular:

* Gather feedback from `kubectl alpha debug` users
* Revisit the API with the API experts to see if there's anything we want to change prior to committing t

[2020-02-26 16:32] kfox1111 commented on #277
^ needs fixing before beta if not already. That may be one of those things you mentioned as setting security policy. but wanted to make sure its covered.

[2020-02-26 16:56] verb commented on #277
@kfox1111 yes, that's the security policy issue I mentioned as an issue to resolve prior to beta, but also to be clear ephemeral containers do not currently grant `CAP_SYS_ADMIN`.

[2020-02-26 17:24] mtaufen commented on #1393
Docs PR: https://github.com/kubernetes/website/pull/19328

[2020-02-26 18:17] ingvagabund commented on #166
@sethmccombs IIUC, given I have the doc PR opened against dev-1.18 branch, there's no need to update any sheet, right?

[2020-02-26 18:49] sethmccombs commented on #166
@ingvagabund you got it, I'll update the Enhancement tracking sheet!

[2020-02-26 21:02] PatrickLang commented on #1384
No ETA on this - I don't have time to work on it in the foreseeable future so if anyone else wants to drive a KEP, `/close` this and link to yours instead. This is a feature that could be developed and tested on both Windows & Linux at the same time.

[2020-02-26 22:13] MikeSpreitzer commented on #1040
We had a doc PR: https://github.com/kubernetes/website/pull/17463 , but it got closed because it wasn't ready in time for 1.17.
We have a new independent doc PR: https://github.com/kubernetes/website/pull/19319

[2020-02-26 22:30] johnbelamaric commented on #752
@robscott Since the service topo piece is pushed, are we code complete on this now?

[2020-02-27 00:52] robscott commented on #752
@johnbelamaric yep, code complete, docs waiting for review.

[2020-02-27 08:30] irvifa commented on #770
Hi @msau42 @jsafrane @gnufied I know you’re keeping tabs on this.. since the deadline is this Friday would you like to share when will you create a placeholder PR? Thanks..

[2020-02-27 08:33] irvifa commented on #752
Hi @robscott thanks for your update..

[2020-02-27 08:33] irvifa commented on #689
Hi @ddebroy :wave::skin-tone-2: Kind reminder.. have you created the placeholder PR? I know you’re keeping a tab on this, but the deadline will be this Friday..

[2020-02-27 09:16] VineethReddy02 commented on #695
Hello @gnufied
The docs placeholder PR deadline is tomorrow please raise a placeholder against the dev-1.18 branch. Having a placeholder PR in place will definitely help us in tracking enhancements much better.

Thanks! :)

[2020-02-27 09:21] VineethReddy02 commented on #508
Hi @aojea @aramase
As the docs placeholder PR deadline is tomorrow. If this enhancement needs docs. Please raise a placeholder PR against dev-1.18 branch asap.

Thanks!

[2020-02-27 09:25] VineethReddy02 commented on #1301
@PatrickLang So can I update the docs tracking sheet that we don't need any docs under k8s/website repo for this enhancement for release 1.18?

[2020-02-27 10:52] palnabarun commented on #563
/milestone clear

[2020-02-27 10:53] palnabarun commented on #563
@lachie83 Thank you for the update. I've removed this enhancement from the milestone. Looking forward to this on 1.19. :)

[2020-02-27 10:54] palnabarun commented on #614
@janosi Thanks for the link to the e2e test PR. Do you have any more PR's that we should track?

[2020-02-27 10:55] palnabarun commented on #614
FYI, we are really close to **Code Freeze (5th March)**.

[2020-02-27 11:04] palnabarun commented on #693
@nolancon Thank you for the updates.

I see that some of the PR's are still pending to be merged. I wanted to see if you need help from the release team in getting Reviewers and Approvers to the PR's. Let us know if you need anything.

FYI, we are very near to **Code Freeze on 5th March**

[2020-02-27 11:07] palnabarun commented on #1451
@alculquicondor Thank you for linking the PR here. :)

[2020-02-27 11:10] nolancon commented on #693
@palnabarun One more update, https://github.com/kubernetes/kubernetes/pull/87983 is now closed and does not need to be tracked. Required changes are included in original PR https://github.com/kubernetes/kubernetes/pull/87759 which is under review.

[2020-02-27 11:20] palnabarun commented on #693
@nolancon Cool. I am also tracking the umbrella tracker issue that you shared above. :)

[2020-02-27 12:48] jsafrane commented on #351
Doc PR: https://github.com/kubernetes/website/pull/19338

[2020-02-27 12:48] jsafrane commented on #565
Doc PR: https://github.com/kubernetes/website/pull/19338

[2020-02-27 12:48] jsafrane commented on #565
We track all issues/PR for GA in this board: https://github.com/orgs/kubernetes-csi/projects/4

[2020-02-27 12:48] jsafrane commented on #351
We track all issues/PR for GA in this board: https://github.com/orgs/kubernetes-csi/projects/4

[2020-02-27 15:20] danwinship commented on #614
e2e tests are the only thing being added in this cycle; the actual implementation of the feature is already complete

[2020-02-27 15:31] alculquicondor commented on #1451
Implementation done for 1.18 kubernetes/kubernetes#85737

[2020-02-27 17:34] ddebroy commented on #689
Docs placeholder PR: https://github.com/kubernetes/website/pull/19349

[2020-02-27 18:10] PatrickLang commented on #1301
Yes, no docs needed for 1.18. thanks for checking

[2020-02-27 18:32] iheanyi1 commented on #1287
Hi @vinaykul.

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) **due by Friday, Feb 28th**, it can just be a placeholder PR at this time.

Thanks

[2020-02-27 18:39] VineethReddy02 commented on #614
@danwinship Can you please raise a placeholder PR. I assume moving a feature from alpha to beta needs some docs changes at least changing the user-facing docs from alpha to beta. Doc's placeholder PR deadline is tomorrow. Please raise a placeholder PR in k8s/website repo against the dev-1.18 branch.

Thanks! :)

[2020-02-27 18:49] VineethReddy02 commented on #603
Hi @huffmanca @msau42
Does this feature need any user-facing guide under k8s/website? If so please raise a placeholder PR against the dev-1.18 branch. Tomorrow is the deadline. Please raise PR ASAP.

Thanks! :)

[2020-02-27 20:13] huffmanca commented on #603
@VineethReddy02 ,
I've created https://github.com/kubernetes/website/pull/19354 as a placeholder for the doc update.

[2020-02-27 20:31] soltysh commented on #1020
I know that both @iheanyi1 and @johnbelamaric reached out to me on slack, but for posterity I'll leave here a comment stating that: there's no need for docs update on this item, since this is about code structure only (mostly moving stuff from one place to another). Since we're close to finish of the overall work there are not many active PRs we can track, we're in the discussion phase for the rem

[2020-02-27 21:40] bswartz commented on #1495
https://github.com/kubernetes/kubernetes/pull/88636

[2020-02-28 02:08] nfickas commented on #753
Any movement on this getting in to 1.18? Seems necessary for istio sidecars to work as expected with fast running jobs.

[2020-02-28 06:02] NickrenREN commented on #545
Hi, all guys, sorry for the late reply.
IIUC, we already have the ephemeral storage info when `kubectl describe pod/node`.
Closing this...

/close

[2020-02-28 06:02] #545 closed

[2020-02-28 06:03] NickrenREN commented on #545
/close

[2020-02-28 07:01] irvifa commented on #695
Hi @gnufied Following up, is this enhancement need any docs? If it is can you please create a placeholder PR? Since the deadline should be today..

[2020-02-28 07:03] irvifa commented on #603
@huffmanca Thanks, I've updated the sheet..

[2020-02-28 10:21] Joseph-Irving commented on #753
I've tried reaching out to the sig-node approvers in a variety of ways but I've not had any responses. So I'm not very optimistic that this will make it into 1.18.

[2020-02-28 13:52] rjbez17 commented on #753
@Joseph-Irving the #pr-reviews slack channel was created for these cases. Have you tried that? It’s a way to get an escalation on pr reviews. (I didn’t see it in there)

[2020-02-28 14:08] vinaykul commented on #1287
@palnabarun @jeremyrickard @iheanyi1 While the code is getting there, we were a couple of hands short due to unforeseen circumstances, and some of my time was consumed by priority for the company. So I won't be able to make 1.18 release with high quality by March 5th deadline - I don't have time to complete all the planned test-cases and iterate over the code to ensure the feature is mostly bullet

[2020-02-28 14:48] palnabarun commented on #1287
Thank you @vinaykul for the update.

We will track the enhancement for 1.19 then.

[2020-02-28 14:49] palnabarun commented on #1287
/milestone clear

[2020-02-28 16:33] iheanyi1 commented on #1287
Thanks for update

[2020-02-28 22:05] gnufied commented on #695
it does need docs PR and placeholder PR is - https://github.com/kubernetes/website/pull/19390

[2020-02-29 02:54] CriaHu opened #1576 "list 404 urls in project"
1. keps/sig-architecture/20190412-conformance-behaviors.md https://github.com/kubernetes/kubernetes/blob/master/test/conformance/testdata/conformance.txt
2. keps/sig-cluster-lifecycle/clusterapi/0003-cluster-api.md https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md
3. keps/sig-cluster-lifecycle/clusterapi/0003-cluster-api.md https://github.com/kubernetes/kube

[2020-02-29 02:57] CriaHu commented on #1576
#1569 fix 10

[2020-02-29 03:01] CriaHu commented on #1576
/sig cli

[2020-02-29 03:02] CriaHu commented on #1576
/sig docs

[2020-02-29 05:08] j-griffith commented on #989
Docs PR is here:  https://github.com/kubernetes/website/pull/19318  Thanks again!

[2020-02-29 10:00] ttonline6 commented on #1576
1 已修改

[2020-02-29 10:01] ttonline6 commented on #1576
1582 fix 1

[2020-02-29 11:08] mooperd commented on #609
+1

[2020-02-29 22:03] liggitt commented on #1333
This is not delivering code in k/k this release, this "enhancement" consists of additional test jobs/configurations that are not release-blocking

[2020-03-01 05:49] liggitt commented on #1333
Relevant PRs are open at:
* https://github.com/kubernetes-sigs/kind/pull/1378
* https://github.com/kubernetes/test-infra/pull/16560

[2020-03-02 04:55] kikisdeliveryservice commented on #1432
/milestone clear

[2020-03-02 04:56] kikisdeliveryservice commented on #1432
/tracked no

[2020-03-02 05:11] kikisdeliveryservice commented on #1453
Hi @robscott can you update the first message of this enhancement to indicate that 1.18 is beta and 1.19 is the intended stable?

[2020-03-02 05:21] robscott commented on #1453
@kikisdeliveryservice Just updated, thanks for catching that!

[2020-03-02 05:23] kikisdeliveryservice commented on #1453
Thank you, @robscott ! :)

[2020-03-02 11:00] xuchenCN opened #1588 "Access CRDs under scheduling-framework gracefully"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
    Enable to access CRDs from FrameworkHandler instead of new CRDs-client from PluginConfig
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs:
    sig-scheduling
- Enhancement target (which target equals to

[2020-03-02 11:42] xuchenCN commented on #1588
/sig scheduling

[2020-03-02 14:29] xing-yang commented on #1432
Hi @kikisdeliveryservice, why did you remove this feature from the tracking sheet?  I was only asking to remove the "doc requirement".  Thanks.

[2020-03-02 15:34] jeremyrickard commented on #614
/milestone clear

[2020-03-02 15:36] jeremyrickard commented on #770
/milestone clear

[2020-03-02 15:45] VineethReddy02 commented on #614
Hi, @danwinship as there is no docs placeholder PR for this enhancement and didn't receive any update on the docs front. we have crossed the docs placeholder PR deadline. So we are removing this enhancement from the 1.18 release. If you want to request an exception. Please refer to https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

Thanks!

[2020-03-02 15:46] VineethReddy02 commented on #770
Hi, @msau42 @jsafrane @gnufied  as there is no docs placeholder PR for this enhancement and didn't receive any update on the docs front. we have crossed the docs placeholder PR deadline. So we are removing this enhancement from the 1.18 release. If you want to request an exception. Please refer to https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

Thanks!

[2020-03-02 15:46] VineethReddy02 commented on #508
Hi, @aojea @aramase  as there is no docs placeholder PR for this enhancement and didn't receive any update on the docs front. we have crossed the docs placeholder PR deadline. So we are removing this enhancement from the 1.18 release. If you want to request an exception. Please refer to https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

Thanks!

[2020-03-02 15:47] aojea commented on #508
Sorry, there is no doc update needed :smile:

[2020-03-02 15:52] jeremyrickard commented on #508
/milestone v1.18

[2020-03-02 16:05] gnufied commented on #770
so this enhancment and https://github.com/kubernetes/enhancements/issues/603 are basically behind same feature gate which is called `CSIDriverRegistry`  and it does make sense to open two different placeholder docs for documenting same feature-gate - https://github.com/kubernetes/website/pull/19354

[2020-03-02 16:24] gnufied opened #1589 "consider using '%w' and new error checks while verifying uncertain mount errors"
A plugin may wrap driver errors and hence verifying uncertain error could be problematic on mount/map device operations.

We should refactor some of this code to use `%w` and `errors.Is` .

/sig storage

[2020-03-02 17:10] VineethReddy02 commented on #770
So @gnufied https://github.com/kubernetes/website/pull/19354 will this placeholder PR contain docs for this enhancement or you want to create another placeholder PR? In the previous comment, you mentioned you want different placeholder PR

[2020-03-02 17:18] msau42 commented on #770
I think the same PR covers both

[2020-03-02 17:38] kikisdeliveryservice commented on #1432
/milestone v1.18

[2020-03-02 17:40] kikisdeliveryservice commented on #1258
@alculquicondor Is this still targeted for 1.18? Code freeze is March 5th and PRs should be merged by then.

[2020-03-02 17:42] kikisdeliveryservice commented on #1495
@bswartz As a reminder code freeze is March 5th.  Is this still on track for 1.18? Thank you!

[2020-03-02 17:45] alculquicondor commented on #1258
kubernetes/kubernetes#88671 has the implementation of the feature and it's on review.

[2020-03-02 18:17] bswartz commented on #1495
@kikisdeliveryservice Yes, completely on track! I just need some reviews on my PR and for it to merge. I'm working on docs in parallel. Is there anything missing that you're aware of?

[2020-03-02 18:26] kikisdeliveryservice commented on #1495
@bswartz Just wanted to check in to make sure your work go in by the deadline :)

[2020-03-02 21:07] janosi commented on #614
@VineethReddy02 @danwinship
Doc PR to move SCTP to beta: https://github.com/kubernetes/website/pull/19440

[2020-03-02 21:34] janosi commented on #614
@VineethReddy02 @danwinship I have just sent the exception request to the necessary mail lists. Unfortunately, I missed to add a subject :(

[2020-03-02 22:01] smarterclayton opened #1591 "DaemonSets should support MaxSurge to improve workload availability"
# Enhancement Description
- One-line enhancement description:  Many infrastructure components (CNI, CSI) require DaemonSets to place pods on each node, but the current update strategies limit end users from minimizing disruption during updates. It should be possible to surge daemonsets if a user requests it to allow handoff from one running pod to another, like Deployments.
- Kubernetes Enhancemen

[2020-03-02 23:08] Huang-Wei commented on #1588
If I understand correctly, this is a req on updating an existing KEP (scheduler framework) instead of a new one.

@xuchenCN  can you confirm? If so, we just raise PR on updating the existing KEP.

[2020-03-03 02:24] xuchenCN commented on #1588
@Huang-Wei Yes ,  updating an existing KEP (scheduler framework) ;
Could have some way to access CRDs.

[2020-03-03 02:38] Huang-Wei commented on #1588
In that case, I think creating and managing another clientset in your side is no big deal, isn't it?

[2020-03-03 04:04] palnabarun commented on #693
Hi @nolancon, this a reminder that we are just two days away from **Code Freeze on 5th March**.

By the Code Freeze, all the relevant PR's should be merged else you would need to file an exception request.

[2020-03-03 04:05] palnabarun commented on #689
Hi @ddebroy, this a reminder that we are just two days away from **Code Freeze on 5th March**.

By the Code Freeze, https://github.com/kubernetes/kubernetes/pull/88654 should be merged else you would need to file an exception request.

[2020-03-03 04:07] palnabarun commented on #166
Hi @damemi, this a reminder that we are just two days away from Code Freeze on 5th March.

By the Code Freeze, all the relevant PR's should be merged else you would need to file an exception request.

[2020-03-03 05:34] xuchenCN commented on #1588
Thanks @Huang-Wei , I think maybe I should create a object that hold all my CRDs code to communicate with all my customed plugins .

[2020-03-03 05:34] #1588 closed

[2020-03-03 14:11] damemi commented on #166
@palnabarun I've updated the 3 PRs that this is waiting on to see if they will merge by code freeze.
1. https://github.com/kubernetes/kubernetes/pull/88152
2. https://github.com/kubernetes/kubernetes/pull/87487
3. https://github.com/kubernetes/website/pull/19302

[2020-03-03 15:16] damemi commented on #166
@palnabarun actually before those 3 can merge, we need to get the KEP move approved: https://github.com/kubernetes/enhancements/pull/1510

[2020-03-03 16:02] alculquicondor commented on #1258
kubernetes/kubernetes#88671 was merged.

In light of the performance results that we have today, in 1.18 we are not moving forward with replacing `DefaultPodTopologySpread` with `PodTopologySpread`+defaults, as described here https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190926-default-even-pod-spreading.md#relationship-with-defaultpodtopologyspread-plugin

Other tha

[2020-03-03 17:33] jeremyrickard commented on #555
Hey @apelisse friendly reminder that code freeze for 1.18 is **March 5th**. That's just a few days away. Thanks for opening the docs PR above....could you link to any relevant K/K PRs for this so we can better track the progress of the enhancement as we get closer to code freeze?

Thanks so much!

[2020-03-03 17:35] jeremyrickard commented on #753
Hey @Joseph-Irving ,

We're only a few days out from code freeze now. Do you want to defer this to 1.19 based on the reviewer bandwidth? Or try and make a push?

[2020-03-03 17:38] jeremyrickard commented on #995
@neolit123 @benmoss @gab-satchi

We're only a few days from code freeze. It looks like you still have a few items open. Do you think that these will merge before the code freeze on **March 5th** or do you think this should defer to 1.19?

Thanks!

[2020-03-03 17:39] jeremyrickard commented on #1024
@prameshj yeah,  all of those should be completed by March 5th as well. If you can link them, that would be most helpful.

[2020-03-03 17:40] jeremyrickard commented on #1513
Thanks for getting those PRs merged @liggitt @munnerz

Anything else to go before code freeze, or are you good now?

[2020-03-03 17:41] jeremyrickard commented on #1539
@bg-chun thanks for getting that PR merged. You mentioned @liggitt suggested a change for the validation logic, do you have a PR for that?

[2020-03-03 17:51] liggitt commented on #1513
All the k/k PRs I'm aware of are complete. The docs PR is outstanding.

[2020-03-03 18:12] neolit123 commented on #995
@jeremyrickard

i will provide a summary:

the crucial PR merged:
https://github.com/kubernetes-sigs/sig-windows-tools/pull/34

this one is a nice-to-have:
https://github.com/kubernetes/kubernetes/pull/88287

docs are WIP:
https://github.com/kubernetes/website/pull/19217

e2e are TBD

i think we are still good for 1.18.

[2020-03-03 19:05] palnabarun commented on #614
/milestone v1.18

[2020-03-03 20:12] soltysh commented on #1440
This is not going to make 1.18, moving over to 1.19, in that case.
/milestone v1.19

[2020-03-03 21:13] janosi commented on #614
test-infra PR to implement a new periodic job for the basic SCTP e2e test cases https://github.com/kubernetes/test-infra/pull/16595

[2020-03-03 22:33] jeremyrickard commented on #770
/milestone v1.18

[2020-03-04 08:50] bart0sh commented on #1539
@jeremyrickard validation logic change included in that PR, no other changes have been requested.

The only 2 PRs that still need to be reviewed and merged are:
- documentation update: https://github.com/kubernetes/website/pull/19008
- fix related to hugepages: https://github.com/kubernetes/kubernetes/pull/81774

I've asked sig-node maintainers to review and merge them on 2 last sig-node meetings.

[2020-03-04 12:08] Joseph-Irving commented on #753
Hey @jeremyrickard ,

No one has responded to me regarding getting these PRs merged in 1.18 so I highly doubt it will happen.

We can defer to 1.19 but I'm starting to wonder if there's any point in doing so.
This KEP has been in flight for almost two years (original alpha target was 1.15), the PRs in question have been open for almost 1 year, there's never any "reviewer bandwidth" for them.
I hav

[2020-03-04 12:21] itskingori commented on #753
@Joseph-Irving On this. As an active user, watching this thread because I'm interested (and so are two of my colleagues). Activity on the issue, pull request, slack channels or sigs might not be the best indicator of interest in this feature.

@dims Maybe you can shed some light?

[2020-03-04 12:44] pre commented on #753
@thockin I listened you being interviewed in the Kubernetes Podcast a ~year ago and you talked about contributing to Kubernetes. Maybe it was you or somebody else in another podcast episode who felt really bad that this sidecar KEP didn't make it to 1.16. Well, here we are again.

This issue seems to be a prime example of how difficult it may be to contribute if you're not an employee of eg. Googl

[2020-03-04 13:19] jaygorrell commented on #753
I asked in Slack as well for help getting it reviewed but was just told there's an explicit hold by @thockin so I'm not sure the path forward either.

[2020-03-04 15:32] helayoty commented on #695
Hi @gnufied We're only a few days out from code freeze now. It does not look like your PRs have merged yet, are you still feeling like you're on track for code freeze for this enhancement? Do you want to defer this to 1.19 based on the reviewer bandwidth? Or try and make a push?

[2020-03-04 15:37] helayoty commented on #1043
Hi @PatrickLang  We're only a few days out from code freeze now. It does not look like your [PR](https://github.com/kubernetes/website/pull/19016) has merged yet, are you still feeling like you're on track for code freeze for this enhancement? Do you want to defer this to 1.19 based on the reviewer bandwidth? Or try and make a push?

[2020-03-04 15:39] helayoty commented on #1393
Hi @mtaufen We're only a few days out from code freeze now. It does not look like your [PR ](https://github.com/kubernetes/website/pull/19328) has merged yet, are you still feeling like you're on track for code freeze for this enhancement? Do you want to defer this to 1.19 based on the reviewer bandwidth? Or try and make a push?

[2020-03-04 15:41] helayoty commented on #1441
Hi @soltysh @verb We're only a few days out from code freeze now. It does not look like your PRs have merged yet, are you still feeling like you're on track for code freeze for this enhancement? Do you want to defer this to 1.19 based on the reviewer bandwidth? Or try and make a push?

[2020-03-04 15:46] gnufied commented on #695
It will get merged before deadline. I am sure of it. :-)

[2020-03-04 17:16] kfox1111 commented on #753
I spent a lot of time on the ephemeral csi driver feature. Getting it through was similarly frustrating and there were times where I wasn't sure it was going to make it after so many delays and redesigns. So, I feel your pain. It would be great if we could find a way to make it less painful. That being said, we also did get it in eventually after missing a few major releases. So please don't give

[2020-03-04 17:53] kikisdeliveryservice commented on #1495
As a reminder code freeze is tomorrow and PRs should be merged by then.

-Enhancements Team

[2020-03-04 17:54] kikisdeliveryservice commented on #1432
As a reminder code freeze is tomorrow for 1.18 and all PRs should be merged by then.

-Enhancements Team

[2020-03-04 18:09] nicktrav commented on #753
Anyone running any kind of topology that depends on a network sidecar is most likely hitting container startup / shutdown ordering issues that this KEP would potentially solve for. Ctrl-F for "Istio" on this ticket, and you'll see a bunch of annoyances related to container ordering.

Are there any Istio maintainers on here? A lot are Googlers, and might have some more sway with the K8s folks inter

[2020-03-04 18:12] johnbelamaric commented on #902
@denkensk @vllry Code freeze is tomorrow, looks like this is not going to make it unless some activity happens ASAP.

[2020-03-04 18:50] zhan849 commented on #753
kudos for @Joseph-Irving for making sidecar this far.

Even for sidecar lifecycle management, any batch job would require this feature or Kubernetes just does not work for them, and that’s why we are also helping out code reviews and providing feedbacks!

[2020-03-04 19:01] pluttrell commented on #753
As an Istio + Kubernetes shop, we have also been waiting anxiously for this feature. And growing increasingly frustrated that it slips from release to release. We're not pleased to have to resort to hacks to kill the sidecars on job workloads. For our needs, this has been the single most important feature we need in Kubernetes, for well over a year.

@thockin It's been reported above that you've p

[2020-03-04 19:01] verb commented on #1441
@helayoty I expect this to merge in time.

[2020-03-04 19:23] wmorgan commented on #753
There are a lot of Linkerd users who are eagerly waiting for this as well. Hang in there @Joseph-Irving, we're rooting for ya.

[2020-03-04 19:43] marosset commented on #1043
@helayoty we want to try and get this in for 1.18 since the code PRs already merged.
I DM'd @tengqm on slack to take a look since this just needs approval from sig-docs-en-owners

[2020-03-04 20:41] copejon opened #1593 "KEP Issue: Object Storage API"
# Object Storage API
- An API for managing object store buckets/containers via CRDs and controllers modeled after CSI's central controller and sidecars and communicating to drivers via gRPC.
- Pull Request: #1383
- Primary contact (assignee):

@copejon
@jeffvance

- Responsible SIGs: sig-storage

- Enhancement target (which target equals to which milestone):
**TBD, pending initial concept acceptan

[2020-03-04 20:48] nfickas commented on #753
Not sure if everyone else here saw but after doing some digging and watching a kubecon video, I found that Lyft had done something similar to this. Here is the mentioned commit from their fork of kubernetes: https://github.com/lyft/kubernetes/commit/ba9e7975957d61a7b68adb75f007c410fc9c80cc

[2020-03-04 20:53] copejon commented on #1593
/sig sig-storage

[2020-03-04 20:56] kfox1111 commented on #753
I'm a potential istio user but have kept to the sidelines a bit due to waiting for a feature like this. During the discussions above though, I keep seeing things that make me think that the sidecar feature alone as discussed here will not fix all the problems the istio sidecar has with the workflow. It may help though. Which I think is part of the reason this has stalled.

How does running istio i

[2020-03-04 22:05] thockin commented on #753
Hah!  What you don't know is that those people get stuck sometimes too!

Seriously, I am sorry.  I have excuses, but that sucks so I won't bother.

[2020-03-04 22:42] kfox1111 commented on #753
For clarification:
I'm not implying that we shouldn't merge this as alpha to get some feedback on the approach. In general I think it is sound. I think there are a few holes in the use cases such as service meshes that it doesn't quite cover. But that is not a reason to block getting this in asap so we can find all the other use cases that it doesn't cover so that we can make the beta version of t

[2020-03-04 22:48] dims commented on #753
I've requested for an exception, let's see if we can try to get this in:
https://groups.google.com/d/msg/kubernetes-sig-release/RHbkIvAmIGM/nNUthrQsCQAJ

[2020-03-05 04:27] xing-yang commented on #1432
@kikisdeliveryservice The CSI spec PR is not merged yet, but since it is out-of-tree, we will continue to work on it.  You can go ahead and remove this feature from 1.18 milestone tracker.  Thanks!

[2020-03-05 12:01] surekhakallam opened #1595 "About Startup Probes"
we are using kubernetes 1.17  and implemented Startup Probes ... And reduced the failure Threshold of readiness and liveness probes ...  after that the pods are going to crashed state ... is it the expected behaviour?

we saw that the startup probe is useful during the slow start of the containers..
we thought that the startup probe will takeover first and then the liveness probe and readiness pro

[2020-03-05 13:53] craigbox commented on #753
Please see episodes 72 with Lachie Evenson and 83 with Guinevere Saenger. I even called out this week that PR reviews are required to get this over the line.  We can do it!

[2020-03-05 15:50] helayoty commented on #603
Hey @huffmanca Code freeze is **today** midnight. It does not look like your PR has merged yet, are you still feeling like you're on track for code freeze for this enhancement? Do you want to defer this to 1.19 based on the reviewer bandwidth? Or try and make a push?

[2020-03-05 15:56] huffmanca commented on #603
@helayoty ,

It's been reviewed and approved by the storage team, and I've pinged the API reviewer. I'm hoping he'll be able to take a look at it today.

[2020-03-05 17:49] palnabarun commented on #166
@damemi I see that the PR's are blocked on approvals at the moment. Do you think they would make it before the deadline?

**Today EOD is the Code Freeze**

Please file an exception if you think the PR's might slip the deadline.

[2020-03-05 18:09] damemi commented on #166
I think we will need more time to get the approvals, what's the process to file an exception?

[2020-03-05 18:09] kikisdeliveryservice commented on #1432
/milestone clear

[2020-03-05 18:28] jeremyrickard commented on #166
@damemi, you can find the process here https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2020-03-05 18:50] kikisdeliveryservice commented on #1432
/tracked no

[2020-03-05 19:03] palnabarun commented on #614
Hi @janosi @danwinship,

**Today EOD is Code Freeze**.

Do you think the PR's would get reviewed by the deadline?

If not, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-03-05 19:06] palnabarun commented on #693
Hi @nolancon,

**Today EOD is Code Freeze**.

Do you think https://github.com/kubernetes/kubernetes/pull/87650 would get reviewed by the deadline?

If not, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-03-05 19:42] damemi commented on #166
@jeremyrickard thanks, exception filed

[2020-03-05 19:52] janosi commented on #614
Hello @palnabarun

On this PR I wait for the first review from the assigned reviewers @jingax10 @bowei
https://github.com/kubernetes/test-infra/pull/16595

On this PR I fixed all review comments I got so far from @aojea and @danwinship :
https://github.com/kubernetes/kubernetes/pull/88196

I do not know whether it is realistic or not to merge these today.

[2020-03-05 20:16] nolancon commented on #693
Hi @palnabarun, a lot of progress has been made in the last couple of days and we are confident of getting everything approved and merged before code freeze. If not, I will file the exception request.

Just to clarify, by EOD do you mean 5pm or midnight PST? Thanks

[2020-03-05 20:26] jeremyrickard commented on #693
5 PM PST.

[2020-03-05 21:04] johnbelamaric commented on #902
/milestone clear

[2020-03-05 21:04] johnbelamaric commented on #902
Alas, this has missed code freeze.

[2020-03-05 21:14] helayoty commented on #603
/milestone clear

[2020-03-05 21:15] helayoty commented on #603
This has missed code freeze.

[2020-03-05 21:21] helayoty commented on #695
/milestone clear

[2020-03-05 21:21] helayoty commented on #695
The Code freeze is in effect now. You may need to file an exception.

[2020-03-05 21:22] helayoty commented on #961
/milestone clear

[2020-03-05 21:22] helayoty commented on #961
The Code freeze is in effect now. You may need to file an exception.

[2020-03-05 21:23] helayoty commented on #1393
/milestone clear

[2020-03-05 21:23] helayoty commented on #1393
The Code freeze is in effect now. You may need to file an exception.

[2020-03-05 21:59] msau42 commented on #695
@helayoty code freeze is not until EOD pacific?

[2020-03-06 00:07] kikisdeliveryservice commented on #753
To be clear we need merged:
kubernetes/kubernetes#79649
kubernetes/kubernetes#80744

Are there any other PRs we should be tracking?

Thanks!

- Enhancements Team

[2020-03-06 00:10] jeremyrickard commented on #695
@msau42 yeah, that is correct. There was a correction email sent out, but EOD is 5 PM PST.

[2020-03-06 00:20] kikisdeliveryservice commented on #614
Hi @janosi

As both PRs are not fully reviewed/approved and still needs-ok-to-test/ci runs, removing from the milestone. Feel free to file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md), if you feel this should make it in and please let us know if you plan on re-targetting this for 1.19.

Best,
The Enhancements Team.

/milestone clear

[2020-03-06 01:02] gnufied commented on #695
Does this needs to be added back to 1.18 milestone or PR missed the milestone? The PR had necessary lgtm and approvals before 5.00PM PST.

[2020-03-06 01:05] mikedanese commented on #1393
The code is already merged. We are just waiting on documentation approval. Docs completion is two weeks away.

[2020-03-06 01:10] prameshj commented on #1024
https://github.com/kubernetes/kubernetes/pull/88877
https://github.com/kubernetes/perf-tests/pull/1108

[2020-03-06 01:10] jeremyrickard commented on #1393
Hey @mikedanese you listed an E2E Test PR up above and that looks like it is not merged yet:

 kubernetes/kubernetes#88048

[2020-03-06 01:15] jeremyrickard commented on #695
@gnufied yeah I'll get it back in.

[2020-03-06 01:15] jeremyrickard commented on #695
/milestone v1.18

[2020-03-06 01:19] jeremyrickard commented on #1024
Hey @prameshj thanks for linking the k/k PR and the perf-test PR. The k/k PR is missing the 1.18 milestone, so it won't merge right now. Code Freeze was enabled earlier today, so all the PRs need to have the 1.18 milestone. You'll need to submit an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) for this one at this point.

[2020-03-06 01:19] jeremyrickard commented on #1024
/milestone clear

[2020-03-06 01:21] jeremyrickard commented on #555
Hey @apelisse, unfortunately https://github.com/kubernetes/kubernetes/pull/88875 didn't merge before code freeze (looks like it needs to be approved still). At this point, you'll need to file an [exception request](https://github.com/kubernetes/kubernetes/pull/88875) for this one.

[2020-03-06 01:21] jeremyrickard commented on #555
/milestone clear

[2020-03-06 01:23] prameshj commented on #1024
@jeremyrickard Thanks for pointing this out - the PR kubernetes/kubernetes#88877 is ready to merge and I just added the milestone.
It is just changing the image version. I do not need an extension for making any more code changes, they are already made. Is the exception request in order to allow this PR to be merged?

[2020-03-06 01:26] prameshj commented on #1024
@jeremyrickard Just in case this is still needed, can you check if the request looks ok? I will send an email with this once i hear from you.
Enhancement name: NodeLocal DNSCache
Enhancement status (alpha/beta/stable): stable
SIG: Network
k/enhancements repo issue #: 1024
PR #’s: kubernetes/kubernetes#88877
Additional time needed (in days): 1
Reason this enhancement is critical for this milestone:

[2020-03-06 01:27] prameshj commented on #1024
Also, the latest node-cache image can be used in any cluster and it has all the features we wanted for GA. The PR - kubernetes/kubernetes#88877 changes the version just for scripts using GCE, so it is not critical to make this change for graduating to GA.

[2020-03-06 01:56] jeremyrickard commented on #1024
@prameshj  yeah, please submit the exception request. What you showed as the example above looks good.

[2020-03-06 02:32] prameshj commented on #1024
Thanks @jeremyrickard , i just sent the email.

[2020-03-06 02:48] mikedanese commented on #1393
Wrong mike :). cc @mtaufen. I was just commenting that the feature is available on master and will be in the 1.18 release.

[2020-03-06 02:51] nckturner opened #1599 "Exception for credential provider extraction"
Exception request:

* Enhancement name: "Extract cloud provider specific credentialproviders" https://github.com/kubernetes/kubernetes/issues/74379
* Enhancement status: alpha
* SIG: Cloud-Provider/Node/Auth
* k/enhancements PR: https://github.com/kubernetes/enhancements/pull/1406
* PRs: https://github.com/kubernetes/kubernetes/pull/88813
* Additional time needed in days: 5 (weekend included)
* Re

[2020-03-06 03:33] markyjackson-taulia commented on #1599
Email for the exception: https://groups.google.com/forum/#!msg/kubernetes-release-team/dB6ZBZIzJG4/2nA9_qdgAwAJ

[2020-03-06 03:55] xing-yang commented on #1432
WIP PR: https://github.com/kubernetes-csi/external-health-monitor/pull/3

[2020-03-06 05:11] kikisdeliveryservice commented on #693
All PRs for this kep seem to have merged, I've updated our enhancements tracking sheet. :smile:

[2020-03-06 05:27] palnabarun commented on #1599
@nckturner You don't need to file another issue in k/enhancements for requesting an exception. When the [exception request](https://groups.google.com/forum/#!msg/kubernetes-release-team/dB6ZBZIzJG4/2nA9_qdgAwAJ) gets Approved via email, we will update the [tracking sheet](https://docs.google.com/spreadsheets/d/1RtCvByYdcqWc6I_A1cKgeXT2tBS7SyHGvSt_DWXz270) and flip back the switch on the existing e

[2020-03-06 05:36] markyjackson-taulia commented on #1599
This is my error, I told.him to open this along with send g the email exception

[2020-03-06 05:38] palnabarun commented on #166
@damemi The exception request was approved. :)

[2020-03-06 05:38] markyjackson-taulia commented on #1599
This is the enhancement I think: https://github.com/kubernetes/enhancements/pull/1406

[2020-03-06 05:50] palnabarun commented on #536
/milestone clear

[2020-03-06 05:50] palnabarun commented on #85
@mortent Thank you for the update. :)

[2020-03-06 05:51] palnabarun commented on #85
/milestone clear

[2020-03-06 06:00] palnabarun commented on #1599
No problem. :)

#1406 is the PR that introduced the KEP. We usually track the progress of the KEP in an issue under this repo. For example, https://github.com/kubernetes/enhancements/issues/1040

[2020-03-06 06:13] markyjackson-taulia commented on #1599
I coolant locate one other then this. I will let @nckturner answer

[2020-03-06 09:56] Joseph-Irving commented on #753
Big thanks to everyone who posted messages of support (publicly or privately) that was very much appreciated ❤️

There was a valiant effort by members of the community to try and get this into 1.18, including the release team who accepted an extension request, but alas, the decision has been made to defer this to 1.19. You can see the relevant conversation starting from this comment: https://githu

[2020-03-06 09:58] andrew-waters commented on #753
Great stuff @Joseph-Irving, sounds like some of your frustrations have been worthwhile and listened to. Thanks for persevering.

[2020-03-06 12:29] dims commented on #753
/milestone v1.19

[2020-03-06 14:56] jeremyrickard commented on #1393
Looks like the e2e test PR was good to go by the deadline so I'll add this back to the milestone.

/milestone v1.18

[2020-03-06 15:22] jeremyrickard commented on #603
/milestone v1.18

The PR for this had appropriate approval and milestone assigned prior to code freeze, so we'll add this back.

[2020-03-06 15:23] jeremyrickard commented on #770
/reopen @gnufied @msau42 you should leave this open until the KEP is updated to `implemented`

[2020-03-06 15:24] gnufied commented on #770
Yeah. This is a side effect of PRs using direct ref rather than xref.

[2020-03-06 17:02] mikedanese opened #1601 "client-go signature refactor to standardize options and context handling"
# Enhancement Description
- One-line enhancement description: Add context and missing options to client-go interfaces.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20200123-client-go-ctx.md
- Primary contact: @mikedanese
- Responsible SIGs: api-machinery
- Enhancement target (which target equals to which milestone):
  - Stable rel

[2020-03-06 17:07] jeremyrickard commented on #1601
/milestone v1.18

[2020-03-06 19:35] prameshj commented on #1024
@jeremyrickard Could you mark this enhancement as tracked for 1.18? Thanks!

[2020-03-06 19:38] serathius opened #1602 "Structured logging"
# Enhancement Description

Define standard structure for Kubernetes log messages, add methods to klog to enforce this structure, add ability to configure Kubernetes components to produce logs in JSON format and initiate migration to structured logging.

- Kubernetes Enhancement Proposal: [Structured Logging KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-s

[2020-03-06 19:38] serathius commented on #1602
/sig instrumentation

[2020-03-06 22:25] kikisdeliveryservice commented on #1024
/milestone 1.18

[2020-03-06 22:30] jeremyrickard commented on #1024
/milestone v1.18

[2020-03-06 22:50] janosi commented on #614
PR to set the feature flag to true by default once all other PRs are merged: https://github.com/kubernetes/kubernetes/pull/88932

[2020-03-09 05:10] surekhakallam opened #1603 "About Startup Probes - need more information about starting time of startup probes"
we are using kubernetes 1.17 and we implemented Startup Probes ... And reduced the failure Threshold of readiness and liveness probes ... after that the pods are going to crashed state ... is it the expected behaviour?

we saw that the startup probe is useful during the slow start of the containers..
we thought that the startup probe will takeover first and then the liveness probe and readiness pr

[2020-03-09 05:24] surekhakallam commented on #1603
/sig ui

[2020-03-09 09:06] VineethReddy02 commented on #1601
Hi, @mikedanese Does this enhancement need any user-facing docs? If so can you please raise a placeholder PR against a dev-1.18 branch for k8s/website repo. We have already completed the docs placeholder PR deadline and today is the deadline for docs to be ready for review state.

Thanks!

[2020-03-09 11:51] jsafrane commented on #770
Filed https://github.com/kubernetes/enhancements/pull/1605

[2020-03-09 15:16] jeremyrickard commented on #1491
/milestone 1.19

[2020-03-09 15:16] jeremyrickard commented on #1491
/milestone v1.19

[2020-03-09 15:58] mikedanese commented on #1601
No it does not.

[2020-03-10 23:38] thockin commented on #753
Hi all.  A group of us have been discussing this topic over the last week.

First, we apologize for what has happened here.  We are not happy about it.

This PR and associated KEP have brought to light a number of things that the project can do better.  We would like to separate the social, procedural, and technical concerns.

Socially, this feature fell victim to our desire to please each other.

[2020-03-11 13:38] arjunrn opened #1610 "Container Resource based Pod Autoscaling"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Container Resource based Pod Autoscaling
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/1610-container-resource-autoscaling/README.md
- Primary contact (assignee):
- Responsible SIGs: autoscaling
- Enhancement target (which target equals to w

[2020-03-11 13:38] arjunrn commented on #1610
/sig autoscaling

[2020-03-11 15:45] jayunit100 opened #1611 "NetworkPolicies: Introduce a comprehensive CNI validation framework to replace existing network_policy.go validations"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Introduce a CNI validation framework as a replacement for the network_policy.go E2E suite, and use it to curate easy to understand, high performance, comprehensive NetworkPolicy validations for CNI providers.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/

[2020-03-11 15:47] jayunit100 commented on #1611
I think i mislabelled the issue, not an api-change. Updated to sig-network-misc.

[2020-03-12 11:33] mars1024 opened #1612 "Nodeports support DSR"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Nodeport support Direct Server Return, which means a pod can communicate with other pods through nodeport without any SNATs.

- Kubernetes Enhancement Proposal:
TBA
- Primary contact (assignee):
TBA
- Responsible SIGs:
TBA
- Enhancement target (which target equals to which milestone):
TBA

I'm still wond

[2020-03-12 11:33] mars1024 commented on #1612
/sig network

[2020-03-12 11:34] mars1024 commented on #1612
/assign @dcbw @squeed

[2020-03-12 15:27] palnabarun commented on #1603
Hi @surekhakallam, this repository contains KEP's and issues pertaining to tracking them.

I think this issue is better suited to be asked at https://github.com/kubernetes/kubernetes or you can join [Kubernetes Slack](slack.k8s.io) and ask in the `#kubernetes-users` channel.

Since this issue is irrelevant to this repository, I am closing this.

Feel free to revert back in case of any doubts. :)

[2020-03-12 15:27] palnabarun commented on #1603
/close

[2020-03-12 15:27] #1603 closed

[2020-03-12 19:59] PatrickLang commented on #1043
All PRs merged. Thanks for all the hard work everyone!

[2020-03-12 22:10] thockin commented on #753
To try to spur some forward movement: Derek or Dawn - is there anyone is sig-node who can make time to do some brain-storming about a more holistic pod and container lifecycle?

[2020-03-13 04:27] surekhakallam commented on #1603
/sig Architecture

[2020-03-13 04:28] surekhakallam commented on #1603
/sig architecture

[2020-03-13 04:31] surekhakallam commented on #1603
/sig cluster-lifecycle

[2020-03-13 04:34] surekhakallam commented on #1603
k sure thanks

[2020-03-13 10:30] xuchenCN opened #1613 "[KEP]Scheduler-framework supports leader-election"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Start the scheduler-framework plugins after main scheduler starts

- Responsible SIGs:
/sig scheduling

- Enhancement target (which target equals to which milestone):
scheduler-framework

My plugin starts before main scheduler(leader-election) , could I implements same leader-election logic with my plugin

[2020-03-13 14:10] wojtek-t commented on #1412
We seem to be complete for Alpha.

[2020-03-13 23:01] Huang-Wei commented on #1613
Can you elaborate? Isn't your plugin(s) compiled along with the default scheduler?

[2020-03-14 05:55] xuchenCN commented on #1613
My plugin is In-tree code with the default scheduler , its compiled together with the default scheduler.
Description :
1. My plugin needs to read some CRDs from particular client (informer)
2. Plugin is initiated by scheduler-framework in the method New() of the default scheduler
3. After New() called the default scheduler may hang until it aquired the lock of leader-election
4. My plugin already

[2020-03-14 07:55] Huang-Wei commented on #1613
I suppose your plugin is initialized with spinning up a CRD informer to keep the CR cache in the plugin? If so, I think it's good to keep this way, rather than _enforcing_ to start the informer until acquiring leader-election.

Basically, in a HA setup, although N-1 scheduler instances are keeping receiving the update without doing the scheduling work, it's still necessary as once the master gets

[2020-03-14 10:02] serathius commented on #1602
/help

[2020-03-14 16:27] yuzhiquan commented on #1602
interested in

[2020-03-15 01:45] xuchenCN commented on #1613
Thanks @Huang-Wei  very good advise!

[2020-03-15 01:45] #1613 closed

[2020-03-16 02:01] tanjunchen commented on #1602
/cc

[2020-03-16 17:15] serathius commented on #1602
/milestone v1.19

[2020-03-16 17:33] justaugustus commented on #1602
/milestone v1.19

[2020-03-17 00:23] hase1128 commented on #1602
/cc

[2020-03-17 05:27] mars1024 commented on #1612
friendly ping @thockin @liggitt

[2020-03-17 06:22] uablrek commented on #1612
Are `externalIPs` and `loadBalancerIP` excluded?

[2020-03-17 06:52] mars1024 commented on #1612
Yes, my origin intention is just focusing on the inner traffic, if a pod inside cluster want to use nodeport and its IP should not be NATed.

But if there is a way to support DSR for outer traffic, it would be wonderful.

[2020-03-17 14:41] bjhaid commented on #1612
I may be missing something here, but the default implementation of nodePort(in kube-proxy) is essentially NAT of node address and some random port to pods in the cluster... given nodePort itself is based on NAT how do you anticipate it working without NAT?

[2020-03-17 14:45] brb commented on #1612
Shameless plug, but Cilium's kube-proxy replacement supports DSR for NodePort, externalIPs and LoadBalancer services: https://docs.cilium.io/en/v1.7/gettingstarted/kubeproxy-free/#direct-server-return-dsr.

[2020-03-17 16:19] marosset commented on #1301
/milestone 1.19

[2020-03-17 18:12] VineethReddy02 commented on #1281
Hi @cheftako
We have already completed docs deadline i.e March 16th docs should be in ready to merge state. I see @caesarxuchao raised a docs placeholder PR pointing this enhancement. Can I know the status of the [docs](https://github.com/kubernetes/website/pull/19216) asap?

[2020-03-17 21:55] serathius commented on #1602
KEP was marked as "implementable", so we can start working on it.
I have created first two subtasks within specific repositories. I will add more as work progresses and new tasks are unblocked.

If your interested in contributing please volunteer directly on subtasks or ask for specific task here.

[2020-03-17 22:43] Huang-Wei commented on #895
@palnabarun All items to qualify this feature to be beta in 1.18 has been completed. Feel free to update the description of this issue.

[2020-03-18 01:28] gavinfish commented on #1602
/cc

[2020-03-18 02:28] zacharysarah commented on #1326
Closed by #1327.

/close

[2020-03-18 04:27] leoskyrocker commented on #1591
we need it for fluentd so that logs generated by our applications are still being picked up even when update is happening.

[2020-03-18 14:59] palnabarun commented on #895
Thanks @Huang-Wei for the efforts. :clap:

I will update the issue comment.

[2020-03-18 16:23] johnbelamaric opened #1618 "Conformance profiles"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Define and implement tooling to support conformance profiles
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1618-conformance-profiles
- Primary contact (assignee): @johnbelamaric
- Responsible SIGs: SIG Architecture
- Enhancement target (whi

[2020-03-18 16:48] johnbelamaric commented on #1618
/sig architecture
/priority important-soon
/assign

[2020-03-19 18:46] derekwaynecarr commented on #753
@thockin will add this to sig-node agenda.

[2020-03-23 15:42] deads2k opened #1623 "provide recommended .status.conditions schema"
# provide recommended .status.conditions schema
- Provide a standard .status.conditions schema and golang type:
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1623-standardize-conditions
- Primary contact (assignee): @deads2k
- Responsible SIGs: @kubernetes/sig-api-machinery-api-reviews  @kubernetes/sig-architecture-api-reviews
- En

[2020-03-23 15:48] lavalamp commented on #1623
+1

@etune @liggitt fyi

I'd like to suggest the current pattern should add:
* Observed generation field (what version of the spec is this condition about, if applicable?
* Identity field (what controller / actor observed this condition)? (possibly, we could use the fieldManager instead of adding a field.)

Both would make multiple controller interactions simpler / more transparent. (Think: kubele

[2020-03-23 18:30] neolit123 commented on #995
status update:
- the main body of work is in place: https://github.com/kubernetes-sigs/sig-windows-tools/pull/34
- test signal is in place: https://k8s-testgrid.appspot.com/sig-windows#kubeadm-windows-gcp-k8s-stable
we are a tracking [some failures](https://github.com/kubernetes-sigs/sig-windows-tools/issues/56) caused by infrastructure issues (bad test image)
- docs merged: https://github.com/kub

[2020-03-23 19:02] palnabarun commented on #166
Hi @damemi, since this enhancement graduated to Stable this release :rocket:, the status can now be set to be `Implemented`.

Can you please update the status? After that, we will close this issue.

[2020-03-23 19:03] palnabarun commented on #491
Hi @apelisse, since this enhancement graduated to Stable this release :rocket:, the status can now be set to be Implemented.

Can you please update the status? After that, we will close this issue.

[2020-03-23 19:03] palnabarun commented on #689
Hi @ddebroy, since this enhancement graduated to Stable this release :rocket:, the status can now be set to be `Implemented`.

Can you please update the status? After that, we will close this issue.

[2020-03-23 19:08] michmike commented on #995
excellent. thank you @benmoss , @neolit123  and @gab-satchi  for all the work on this!

[2020-03-23 19:15] damemi commented on #166
@palnabarun sure, opened that here: https://github.com/kubernetes/enhancements/pull/1625

[2020-03-23 19:35] ddebroy commented on #689
@palnabarun done at https://github.com/kubernetes/enhancements/pull/1626

[2020-03-23 20:01] palnabarun commented on #689
Thank you @ddebroy :)

[2020-03-23 20:01] palnabarun commented on #166
Thank you @damemi :)

[2020-03-23 20:21] apelisse commented on #491
https://github.com/kubernetes/enhancements/pull/1627

[2020-03-23 20:23] apelisse commented on #576
https://github.com/kubernetes/enhancements/pull/1628

[2020-03-23 21:12] #576 closed

[2020-03-24 03:35] fudali113 commented on #1073
sorry，i just saw this comment now；so i miss this Enhancement alpha in 1.18 ; What can i do to continue this Enhancement ? @mattfarina

[2020-03-24 13:59] deads2k opened #1630 "standardize API qps and burst in kubeconfig"
# standardize API qps and burst in kubeconfig
- Standard API qps and burst in kubeconfig file.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1629
- Primary contact (assignee): deads2k
- Responsible SIGs: api-machinery
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y)
  - Stable release ta

[2020-03-24 17:12] #491 closed

[2020-03-24 23:42] johnbelamaric commented on #960
/milestone v1.19

[2020-03-25 01:21] kikisdeliveryservice commented on #565
Hi @jsafrane @vladimirvivien @bswartz

As a reminder, please mark your KEP as implemented.

Thanks!

The 1.18 Enhancements Team

[2020-03-25 01:23] kikisdeliveryservice commented on #1507
Hi @robscott !

As a reminder, please open a PR to update your KEP status to implemented.

Thanks

The 1.18 Enhancements Team

[2020-03-25 22:26] tahasabih commented on #592
@janetkuo hey are there any plans to move this to beta? It was going at a good pace to be merged into beta but now seems it's been in limbo for a while :(

[2020-03-26 11:58] dims commented on #1489
This is already done, please see https://github.com/kubernetes/kubernetes/pull/85637#issuecomment-602734721

[2020-03-26 17:00] johnbelamaric commented on #1073
@fudali113 I will target it to 1.19 and we will start bugging you about that soon!!

/milestone v1.19

[2020-03-26 17:44] deads2k opened #1635 "Require Transition from Beta"
# Require Transition from Beta
- Prevent APIs from staying in beta for an extended period of time.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1635-prevent-permabeta
- Primary contact (assignee): deads2k
- Responsible SIGs: sig-architecture
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.

[2020-03-27 11:34] palnabarun commented on #964
@k82cn We generally don't close enhancement issues until the enhancements reached `implemented` status. Hence, reopening it.

[2020-03-27 11:34] palnabarun commented on #964
/reopen

[2020-03-27 18:42] johnbelamaric commented on #670
Hi @frapposelli, since this is now complete, can you please mark the KEP as `implemented` and mark that PR as fixing this issue (closing the issue)? Thanks!

[2020-03-28 03:11] liskl commented on #491
@julianvmodesto does this support the -k argument if you remember

Like can it diff what a kubectl apply -k <folder> --dry-run outputs agianst what's in the cluster?

[2020-03-28 03:27] fudali113 commented on #1073
ok，i'm ready and i will reopen k/k pr  @johnbelamaric

[2020-03-28 15:20] apelisse commented on #491
I'm pretty sure it does. If it doesn't, then there must be a bug that should be fixed. I couldn't find a test that tests that so we should probably write one.

[2020-03-28 15:51] jimmyjones2 commented on #1513
I've read the proposal, is the plan in the future for this to be able to automatically provision server certificates for services (like [OpenShift](https://docs.openshift.com/container-platform/4.2/authentication/certificates/service-serving-certificate.html)) and client certificates for service accounts to be used by user applications?

[2020-03-29 17:39] krjw commented on #555
What is happening with this?

[2020-03-29 23:22] cnk8s commented on #1441
Add support for override image command & args for debug some error between container starting？
such as
[code]

[2020-03-30 03:34] fudali113 commented on #1073
hi, i'm reopen k/k pr https://github.com/kubernetes/kubernetes/pull/89640
Let's discuss it together

@johnbelamaric

[2020-03-30 06:55] JeremyOT opened #1645 "Multi-Cluster Services API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Define an API for multi-cluster service discovery and consumption.
- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api
- Primary contact (assignee): @jeremyot
- Responsible SIGs: @kubernetes/sig-multicluster
- Enha

[2020-03-30 07:03] JeremyOT commented on #1645
/sig multicluster
/cc @pmorie
@thockin

[2020-03-30 09:04] xuchenCN opened #1647 "[KEP]Scheduler-framework: make unschedulableQTimeInterval configurable"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
   Make the `unschedulableQTimeInterval` configurable
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs:
  /sig scheduling

#### If `wait` status returns from Permit(), it MUST > unschedulableQTimeInterval.

[2020-03-30 09:11] verb commented on #1441
@cnk8s This is indeed included in the proposal. See [Pod Troubleshooting by Copy](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20190805-kubectl-debug.md#pod-troubleshooting-by-copy)

[2020-03-30 12:33] ttonline6 opened #1648 "404 link in cluster-api KEP"
EDIT: neolit123
(removed enh. template)

there si an error link in keps/sig-cluster-lifecycle/clusterapi/0003-cluster-api.md
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha3/types.go

[2020-03-30 12:59] neolit123 commented on #1648
APIs get removed from the master branch of k/k.

a valid, historic link would be:
https://github.com/kubernetes/kubernetes/blob/release-1.14/cmd/kubeadm/app/apis/kubeadm/v1alpha3/types.go

you can send a PR to use that link.

/help
/good-first-issue
/kind documentation

[2020-03-30 12:59] neolit123 commented on #1648
/sig cluster-lifecycle

[2020-03-30 15:27] neolit123 commented on #1648
/retitle 404 link in cluster-api KEP

[2020-03-30 15:27] neolit123 commented on #1648
/lifecycle active
/remove-help

[2020-03-30 15:46] neolit123 commented on #1648
PR is here https://github.com/kubernetes/enhancements/pull/1652

[2020-03-30 15:46] apelisse commented on #555
We're still beta, we worked on new improvements but we're not ready for GA yet. We'll release a blog-post in a few days about this!

[2020-03-31 03:20] xuchenCN commented on #1647
/sig scheduling

[2020-03-31 17:07] naseemkullah commented on #753
@thockin @derekwaynecarr whats the tl;dr as to why this could not go in?

Sounds like something that would make life easier in this new era of service mesh sidecars.

Furthermore any recommendations for having sidecars start before main app containers and shutdown after main app container termination today?

[2020-03-31 18:31] itskingori commented on #753
@naseemkullah From https://github.com/kubernetes/enhancements/issues/753#issuecomment-597372056 ... 👇

[2020-03-31 19:30] naseemkullah commented on #753
I don't quite understand it unfortunately could you rephrase in simpler terms if possible?

Is it that shutdown sequencing needs some more explicit definition/implementation rather than shutdown main container first and then shutdown sidecars?

As for the goal it is stated as

[2020-03-31 20:29] tedyu commented on #361
@jingxu97
Can you review this ?

[2020-03-31 21:52] jingxu97 commented on #361
currently we don't have any pending work on this feature. Before we can go to GA, just need to make sure all functions are working as expected for both linux and windows. From e2e tests, I think it works.

@tedyu , is there something particular I need to review?

[2020-03-31 22:02] tedyu commented on #361
@jingxu97
Nothing in particular.
There is linked issue, such as #78865 but I think they can be addressed on their own.

[2020-04-01 03:33] bgrant0607 commented on #1412
I didn't see it discussed in alternatives, but I still would like this supported for all resource types:
https://github.com/kubernetes/kubernetes/issues/10179

[2020-04-01 05:03] thockin opened #1659 "Standard Topology Labels"
# Define standard topology labels
- Document that the existing labels `topology.kubernetes.io/region` and `topology.kubernetes.io/zone` are standard and are safe to build topology-based features around
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1659-standard-topology-labels
- Primary contact (assignee): thockin
- Responsible SIGs

[2020-04-01 12:29] wojtek-t commented on #1412
kubernetes/kubernetes#10179

We've been thinking about generalizing it too (@thockin explicitly suggested it), but the conclusion was that the particular semantic that we need isn't particularly useful for other resources. The problem is that to achieve the second goal (scalability aspects) we need to ensure that it will never change the contents (otherwise we would still need to track the object)

[2020-04-01 13:28] chelseychen opened #1661 "New Event API GA Graduation"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
**The primary goal of this enhancement is to graduate Event API v1beta1 to GA.**
- Kubernetes Enhancement Proposal: #1662, #1736
- Primary contact (assignee): **Chelsey Chen**
- Responsible SIGs: **sig-instrumentation**
- Enhancement target (which target equals to which milestone):
  **- Stable release ta

[2020-04-01 13:29] chelseychen commented on #1661
/sig instrumentation

[2020-04-01 17:32] apelisse commented on #1412
And

Don't seem to exactly say the same thing. My concern being that it's not super clear if the `Immutable` field itself is immutable.

[2020-04-01 18:03] wojtek-t commented on #1412
Will make it more explicit in the KEP.
The `Immutable` field:
- if set to true - is immuable (can't be changed)
- otherwise, can be changed

[So you may always mark mutable Secret/ConfigMap as immutable, but you can't revert that decision.]

[2020-04-03 17:52] verb commented on #1441
@aylei Are you interested in working on [Pod Troubleshooting by Copy](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20190805-kubectl-debug.md#pod-troubleshooting-by-copy) for 1.19? or anything else related to debug?

[2020-04-03 18:31] danwinship opened #1664 "Better Support for Dual-Stack Node Addresses"
# Better Support for Dual-Stack Node Addresses
- Improve handling of node addresses in single-stack IPv6 and dual-stack clusters
- Kubernetes Enhancement Proposal: #1665
- Primary contact (assignee): danwinship
- Responsible SIGs: sig-node, sig-networking, sig-cloud-provider
- Enhancement target (which target equals to which milestone):
  - Alpha release target: 1.20
  - Beta release target: (x.y)

[2020-04-04 05:14] diemus commented on #384
is kubectl use websocket now ?

[2020-04-04 14:25] unixfox commented on #508
Which IPv6 feature landed into Kubernetes 1.18? Is it dual stack or IPv6 only graduated to beta?
I'm confused because nothing changed in the docs.

[2020-04-04 16:23] aojea commented on #508
This issue tracks ipv6 only, graduated to beta in 1.18

Dual stack is alpha and is tracked in other issue/KEP

[2020-04-04 19:42] g3rzi commented on #384
what about kubelet ? from my last check it uses SPDY.

[2020-04-05 10:09] palnabarun commented on #554
/remove-lifecycle stale

[2020-04-05 10:11] palnabarun commented on #554
Hi @bertinatto, thank you so much for updating the status. :)

[2020-04-05 10:11] palnabarun commented on #554
Closing this enhancement issue since the KEP has been implemented.

/close

[2020-04-05 10:11] #554 closed

[2020-04-06 01:56] hase1128 opened #1668 "New unique logging meta-data into key Kubernetes logs"
# Enhancement Description
- One-line enhancement description (can be used as a release note): This KEP proposes a method for adding new three unique logging meta-data into K8s component logs.
- Kubernetes Enhancement Proposal: #2312
- Primary contact (assignee): @hase1128
- Responsible SIGs: sig-instrumentation
- Reviewers: @serathius
- Approver: @dashpole
- Enhancement target (which target equals

[2020-04-06 01:57] hase1128 commented on #1668
/sig instrumentation
/milestone v1.20

[2020-04-06 17:37] andrewsykim opened #1669 "Proxy Terminating Endpoints"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Enable zero downtime deployments for Services with ExternalTrafficPolicy=Local
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR):  https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1669-proxy-terminating-endpoints
- Primary contact (as

[2020-04-06 17:37] andrewsykim commented on #1669
/sig network

[2020-04-06 18:27] wojtek-t commented on #1661
Please update the description that it's primarily about GA API graduation.

[2020-04-06 19:00] elmiko commented on #609
just wanted to add an update here, the initial work to integrate cluster-api into the autoscaler has been completed. see https://github.com/kubernetes/autoscaler/pull/1866

we are now working to add more unit test coverage and increasing the end-to-end tests. we also have plans for code improvements and clean ups, as well as landing a few early bug fixes.

[2020-04-06 19:31] andrewsykim commented on #837
/remove-lifecycle stale

[2020-04-07 09:19] aylei commented on #1441
@verb Absolutely

[2020-04-07 09:51] aylei commented on #1441
I will draft a PR this week

[2020-04-07 15:40] andrewsykim opened #1672 "Tracking Terminating Endpoints"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Track terminating endpoints so we can handle terminating endpoints gracefully.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1672-tracking-terminating-endpoints
- Primary contact (assignee): @andrewsykim
- Responsible SIGs: sig-network
- Enhance

[2020-04-07 17:27] chelseychen commented on #1661
Done.

[2020-04-07 19:13] spiffxp commented on #1618
summary and motivation: https://github.com/kubernetes/enhancements/pull/1619

[2020-04-08 14:01] serathius commented on #1602
After discussing offline with @dims we concluded that upgrading klog will be non-trivial as we need to upgrade all references at once. Upgrade cannot be done partially as it would break klog configuration.

We considered two options:
* [Preferred] Properly update of all dependencies
* Aliasing in go modules

As we have a lot of time before 1.19 cut we would like to do it properly. I will create su

[2020-04-08 17:53] jberkus opened #1673 "Make KEPS transparent"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Make KEPS transparent so that all involved contributors can easily determine contents and status of currently active KEPS.
- Kubernetes Enhancement Proposal: N/A
- Primary contact (assignee): TBD
- Responsible SIGs: SIG-PM
- Enhancement target (which target equals to which milestone):
  - Alpha release ta

[2020-04-08 17:53] jberkus commented on #1673
/sig pm
/assign @justaugustus

[2020-04-09 07:07] zhijianli88 commented on #1668
/cc

[2020-04-09 07:08] fenggw-fnst commented on #1602
/cc

[2020-04-09 07:10] fenggw-fnst commented on #1668
/cc

[2020-04-09 16:45] palnabarun commented on #166
The corresponding [enhancement](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20200127-taint-based-evictions.md) has graduated to `Stable`. :partying_face:

Closing this issue.

/close

[2020-04-09 16:45] #166 closed

[2020-04-09 16:45] palnabarun commented on #166
Edit: The issue description here had a 404 link. Pointed it to the correct one.

[2020-04-09 16:50] palnabarun commented on #670
@frapposelli Ping. Can you please mark the corresponding KEP as `implemented`? :slightly_smiling_face:

[2020-04-09 16:53] palnabarun commented on #1020
@soltysh Since, this enhancement graduated to `Stable` in 1.18, can we mark this enhancement `Implemented`?

[2020-04-09 16:54] palnabarun commented on #1507
@robscott Ping. Can you please mark the KEP status as `implemented`? :slightly_smiling_face:

[2020-04-09 16:55] palnabarun commented on #1024
@prameshj Since, this enhancement graduated to `Stable` in 1.18, can you please mark it as `implemented`?

[2020-04-09 18:12] robscott commented on #1507
@palnabarun @kikisdeliveryservice Sorry for the delay here! I've added a PR that will update the KEP to reflect the additional steps required for this field to reach GA: https://github.com/kubernetes/enhancements/pull/1676. For now I've left the KEP in an `implementable` state, is that the right state for a KEP that is partially implemented/in progress?

[2020-04-09 18:55] palnabarun commented on #34
/remove-lifecycle stale

[2020-04-09 18:55] palnabarun commented on #177
/remove-lifecycle stale

[2020-04-09 18:55] palnabarun commented on #281
/remove-lifecycle stale

[2020-04-09 18:56] palnabarun commented on #575
/remove-lifecycle stale

[2020-04-09 18:59] palnabarun commented on #575
Thank you @liggitt @sttts @nikhita for working on this enhancement. :+1:

I'm going ahead and closing this since the corresponding KEPs are `implemented`.

/close

[2020-04-09 18:59] #575 closed

[2020-04-09 18:59] palnabarun commented on #980
/remove-lifecycle stale

[2020-04-09 19:01] palnabarun commented on #980
Thank you @MrHohn for the efforts. :+1:

Closing this since the KEP has been `implemented`.

/close

[2020-04-09 19:01] #980 closed

[2020-04-09 19:01] palnabarun commented on #1103
/remove-lifecycle stale

[2020-04-09 20:59] #670 closed

[2020-04-09 21:25] prameshj commented on #1024
This is already marked as implemented - https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md
Is that what you were referring to?

[2020-04-10 12:51] zanetworker commented on #1441
@verb reading the KEP, I still don't get how pod-troubleshooting by copy would work, what does copy mean in this case?

[2020-04-10 14:26] krancour commented on #753
Respectfully, I am curious as to whether any leads plan to prioritize sorting this out. @Joseph-Irving put an enormous amount of work into this and a staggering number of people who would have been happy with his solution are anxious to hear some superior solution from those who nixed this.

[2020-04-10 16:10] kfox1111 commented on #753
Minimally, even though there are qualms with a few aspects of it, I think it is still reasonable to get in as an Alpha in order to find what issues will show in practice. Can we get this merged? The issues can block it from going Beta so I don't think its critical to get perfect before an initial Alpha is made.

[2020-04-11 00:19] christopherhein commented on #1673
I'd hope some of these can be answered by the work on the contributor site. Based on the subsections on the side it looks like it could be? https://stupefied-goodall-e282f7.netlify.com/

KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-contributor-experience/0005-contributor-site.md
Project: https://github.com/kubernetes-sigs/contributor-site

Is that right @mrbobbytables, @cas

[2020-04-11 14:53] mrbobbytables commented on #1673
Right now it's somewhat TBD whether they will be a part of the contributor site, or on their own with something similar to our release docs:
ref: https://github.com/kubernetes-sigs/release-notes/pull/140
ref: https://deploy-preview-140--kubernetes-sigs-release-notes.netlify.com/

There has been a long history involved with trying to surface them better, but there has been numerous issues (https://

[2020-04-11 20:19] bratao commented on #556
@palnabarun any chance of this making to the next release? This is an inevitable step in many workflows.

[2020-04-13 01:26] #1647 closed

[2020-04-13 03:26] draveness commented on #624
/remove-lifecycle stale
/lifecycle frozen

[2020-04-13 05:35] yue9944882 commented on #1027
/remove-lifecycle stale

[2020-04-13 12:08] neolit123 commented on #1053
/remove-lifecycle stale

[2020-04-13 19:17] gnufied opened #1682 "Allow CSI drivers to opt-in to volume ownership change"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow CSI drivers to opt-in to volume ownership and permission change.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1682-csi-driver-skip-permission
- Primary contact (assignee): @huffmanca
- Responsible SIGs:  sig-storage
- Enhancement target (

[2020-04-13 19:17] gnufied commented on #1682
/sig storage

[2020-04-13 19:34] msau42 commented on #556
@bratao this is available in beta since 1.16. Are you asking about GA? The current plan for 1.19 is to keep the feature in beta and continue fixing bugs and corner cases.

[2020-04-13 21:26] palnabarun commented on #553
/remove-lifecycle stale

[2020-04-13 21:27] palnabarun commented on #1067
/remove-lifecycle stale

[2020-04-13 21:27] palnabarun commented on #1164
/remove-lifecycle stale

[2020-04-13 22:08] jberkus commented on #1673
@christopherhein that's a good example of the opposite of what I'm talking about.

Take that sample site, and try to answer the 5 questions I pose above using it.

[2020-04-14 00:18] smarterclayton commented on #1143
This issue will graduate to beta in 1.19.

[2020-04-14 09:29] verb commented on #1441
@zanetworker  It'll create a copy of a pod with some fields changed, for example changing an image label to that of a debug version or arguments to "bash".

[2020-04-14 11:23] sowhatim commented on #661
+1 this should be very useful and important feature to have.

[2020-04-14 12:14] pohly commented on #596
/remove-lifecycle stale

[2020-04-14 17:16] rtheis commented on #671
/remove-lifecycle stale

[2020-04-14 19:11] neolit123 commented on #1177
/remove-lifecycle stale

[2020-04-14 22:54] bratao commented on #556
@msau42 oh I somehow missed it. Thanks!!!

[2020-04-15 04:19] rjbez17 opened #1687 "Hierarchical Namespace Controller As A Sig-Auth Subproject"
# Hierarchical Namespace Controller As A Sig-Auth Subproject
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1686
- Primary contact (assignee): @rjbez17
- Responsible SIGs: Sig-Auth
- Enhancement target (which target equals to which milestone):
  - None, this is a subproject proposal

[2020-04-15 04:19] rjbez17 commented on #1687
/sig auth

[2020-04-15 07:57] palnabarun commented on #1295
/remove-lifecycle stale

[2020-04-15 07:58] palnabarun commented on #585
/remove-lifecycle stale

[2020-04-15 07:58] palnabarun commented on #541
/remove-lifecycle stale

[2020-04-15 07:58] palnabarun commented on #531
/remove-lifecycle stale

[2020-04-15 07:58] palnabarun commented on #357
/remove-lifecycle stale

[2020-04-15 09:32] enj opened #1688 "Dynamic Authentication Config"
# Enhancement Description
- One-line enhancement description: Dynamic Authentication Config
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1689
- Primary contact: @enj
- Responsible SIGs: sig-auth
- Enhancement target:
  - Alpha release target (1.19)
  - Beta release target (1.20)
  - Stable release target (1.21)

[2020-04-15 09:33] enj commented on #1688
/sig auth

[2020-04-15 11:52] zanetworker commented on #1441
@verb okay, then that means it would be residing in different namespaces that the original containers in the other pod, what are the use-cases for this?

[2020-04-16 13:59] liggitt opened #1693 "Warning mechanism for use of deprecated APIs"
# Warning mechanism for use of deprecated APIs
- One-line enhancement description (can be used as a release note): Use of deprecated APIs produces warnings visible to API consumers, and metrics visible to cluster administrators.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1694
- Primary contact (assignee): @liggitt
- Responsible SIGs: api-machinery, architect

[2020-04-16 16:04] zanetworker commented on #1441
the reason I asked is that based on my understanding one of the important use-cases is network debugging, not sure if troubleshooting by copy would help here. One idea (which is a bit controversial to be honest) is for the copied pod to share the network-namespace  with the source pod, we have been doing that so far via having a common sandbox, but if they are on the same machine that is probably

[2020-04-16 20:12] verb commented on #1441
@zanetworker Correct, the copy of a pod would get all new namespaces. To debug inside the same network namespace you would use an ephemeral container in the existing pod. That feature is still in alpha, so it's not available in most clusters, but that's the intended solution.

[2020-04-16 22:00] zanetworker commented on #1441
@verb I understand the feature, I have been using the so for quite sometime in a side project of mine. What I meant was more a version of trouble shooting by copy that share the network namespace from another pod (not the same) but I guess that maybe here is not pace to discuss, can reach out later :)

[2020-04-16 22:45] palnabarun commented on #1601
Hi @mikedanese, since the enhancement graduated to Stable in 1.18, can you please mark the KEP as `implemented`?

/reopen
(reopening the enhancement issue until the KEP is marked `implemented`)

[2020-04-16 22:53] palnabarun commented on #1507
@robscott Sorry for the confusion here. KEP's in-progress should remain in `implementable` state.

This enhancement issue was mistakenly attributed as `stage/stable`.

/remove-stage stable

On an added note, do you plan to graduate this to `beta` in 1.19?

[2020-04-16 22:55] palnabarun commented on #1043
/stage stable

[2020-04-16 22:55] palnabarun commented on #1043
Hi @PatrickLang, since this enhancement graduated to stable in 1.18, can you please mark the KEP as `implemented`?

[2020-04-16 22:56] palnabarun commented on #1043
/reopen
(reopening the issue until the KEP is marked implemented)

[2020-04-16 23:00] robscott commented on #1507
No worries, initial I'd thought this could be done in a single release but I've learned that adding fields to stable APIs still takes the full alpha-beta-GA processes. Beta graduation for 1.19 is complete here: https://github.com/kubernetes/kubernetes/pull/90023

[2020-04-16 23:05] palnabarun commented on #1024
@prameshj The KEP in the issue comment. I am guessing there were different KEPs for beta and stable.

Can you please also mark [this KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190424-NodeLocalDNS-beta-proposal.md) `implemented`? :slightly_smiling_face:

[2020-04-16 23:10] palnabarun commented on #557
Hi @msau42, since this enhancement graduated in 1.17, can you please mark the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190124-csi-topology.md) as `implemented`? :slightly_smiling_face:

[2020-04-16 23:10] palnabarun commented on #557
/reopen

(reopening this issue in the interim)

[2020-04-16 23:11] prameshj commented on #1024
Done - https://github.com/kubernetes/enhancements/pull/1695

[2020-04-16 23:15] palnabarun commented on #5
/remove-lifecycle stale

[2020-04-16 23:39] palnabarun commented on #1589
Closing this issue since it does not look like related to a KEP

/close

[2020-04-16 23:39] #1589 closed

[2020-04-17 00:04] palnabarun commented on #1672
Based on the issue description,
/sig network

[2020-04-17 00:28] palnabarun commented on #1295
/remove-milestone v1.17

[2020-04-17 00:29] palnabarun commented on #1195
/remove-milestone v1.17

[2020-04-17 00:29] palnabarun commented on #1152
/remove-milestone v1.17

[2020-04-17 00:29] palnabarun commented on #1143
/remove-milestone v1.17

[2020-04-17 00:33] palnabarun commented on #1507
@robscott That is awesome news. Is that the only PR planning for this release? Will this also require docs?

[2020-04-17 00:38] palnabarun commented on #279
/remove-lifecycle stale

[2020-04-17 00:39] palnabarun commented on #365
/remove-lifecycle stale

[2020-04-17 00:41] robscott commented on #1507
Yep, that's the only implementation PR needed, will need a tiny update to docs as well.

[2020-04-17 01:03] palnabarun commented on #1507
Cool! The 1.19 docs team will ping here whenever docs are due.

For now, tracking this enhancement

/stage beta

[2020-04-17 01:03] palnabarun commented on #1507
/milestone v1.19

[2020-04-17 13:33] soltysh commented on #1020
@palnabarun not quite, it's still being worked on, it's a on-going process, so I actually will move the release mileston to 1.19 now.
/release v1.19

[2020-04-17 13:33] soltysh commented on #1020
/mileston v1.19

[2020-04-17 13:34] soltysh commented on #1020
/milestone v1.19

[2020-04-17 13:59] palnabarun commented on #1464
/remove-lifecycle stale

[2020-04-17 14:40] howardjohn commented on #753
@thockin @derekwaynecarr is there any update on the current state of this? I looked through the sig-node meeting notes and don't see anything about this.

There are a large number of devs on this thread who would be more than happy to contribute time to getting this implemented, as its critical for many use cases (the KEP itself has 2.5x as many :+1: as any other KEP). What can we do to make this

[2020-04-17 14:57] huffmanca commented on #1682
/assign

[2020-04-17 15:27] pohly opened #1698 "generic ephemeral inline volumes"
# Enhancement Description
- One-line enhancement description (can be used as a release note): inline volumes with normal provisioning
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1701
- Primary contact (assignee): @pohly
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Enhancement target (which target equals to which milestone):
  - Alpha release

[2020-04-17 16:46] marosset commented on #1043
@palnabarun I can update the KEP.

[2020-04-17 17:05] #557 closed

[2020-04-17 18:56] palnabarun commented on #986
Hi @draveness, since this enhancement already graduated to Stable, can you please also mark the KEP as `implemented`?

[2020-04-17 18:56] palnabarun commented on #986
/reopen
(reopening in the interim till the KEP in marked `implemented`)

[2020-04-17 18:58] palnabarun commented on #1179
Hi @liggitt @BenTheElder -- 1.19 Enhancements Lead here. Since, this enhancement graduated to stable, can you please also mark the KEP `implemented`? :slightly_smiling_face:

/reopen
(Reopening in the interim until the KEP is marked `implemented`)

[2020-04-17 19:00] palnabarun commented on #1043
@marosset Thank you :slightly_smiling_face:

[2020-04-17 19:06] palnabarun commented on #85
Hi @mortent -- 1.19 Enhancements Lead here, do you plan to graduate this Enhancement to `stable` this release?

[2020-04-17 19:07] palnabarun commented on #135
Hi @tallclair -- 1.19 Enhancements Lead here, do you plan to graduate this Enhancement to `stable` this release?

[2020-04-17 21:30] tallclair commented on #135
No plans to graduate in v1.19. I have an open KEP, but won't be working on it this quarter. @pjbgf may pick it up in v1.20

[2020-04-18 02:44] draveness commented on #986
Thanks for the reminder, I've opened a PR to updates the KEP.

[2020-04-19 03:56] draveness commented on #986
/close since #1700 has been merged

[2020-04-19 03:57] draveness commented on #986
/close
since #1700 has been merged

[2020-04-19 03:57] #986 closed

[2020-04-19 03:57] draveness commented on #986
/close

[2020-04-19 05:15] palnabarun commented on #986
@draveness -- Thank you for updating the KEP. :slightly_smiling_face:

[2020-04-19 05:31] yashbhutwala commented on #1287
hey guys!!  this will be an awesome addition, especially with combination with VPA, super excited for it!!!  😄  what are the existing PRs/code changes that are already done, and what still needs work?  I'm happy to help push/code/test this!

[2020-04-19 17:42] neolit123 commented on #267
/remove-lifecycle stale

[2020-04-20 12:51] pohly opened #1702 "provisioning rollback"
# Enhancement Description
- One-line enhancement description (can be used as a release note): support rescheduling of pods with multiple volumes that use late binding (= `WaitForFirstConsumer`)
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1703
- Primary contact (assignee): @pohly
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Enhancement target

[2020-04-20 17:54] vinaykul commented on #1287
@jeremyrickard @palnabarun Could we please track this for v1.19? Thanks.

[2020-04-20 18:01] palnabarun commented on #1287
@vinaykul Awesome! I'm guessing you would want it to tracked as graduating to `Alpha`. Can you please confirm the same? :slightly_smiling_face:

[2020-04-20 18:02] liggitt commented on #1513
/milestone v1.19

[2020-04-20 18:03] liggitt commented on #1513
1.19 targeted work:
* https://github.com/kubernetes/enhancements/pull/1691
* https://github.com/kubernetes/kubernetes/pull/90191

[2020-04-20 18:04] liggitt commented on #266
/assign
/milestone v1.19

The CSR API is targeting v1 in 1.19

[2020-04-20 18:05] liggitt commented on #267
/assign
/milestone v1.19

The CSR API is targeting v1 in 1.19

[2020-04-20 18:22] vinaykul commented on #1287
Yes, graduating as alpha. thanks,

[2020-04-20 18:55] liggitt commented on #1333
/milestone v1.19

Once CSR graduates to v1, this will update to complete phase 2

[2020-04-20 20:19] liggitt commented on #279
1.19-targeted work: https://github.com/kubernetes/kubernetes/pull/90307

[2020-04-20 21:17] dashpole commented on #647
/remove-lifecycle stale

[2020-04-20 21:26] enj commented on #541
I am going to work on updating the KEP to the new format along with getting the functionality to GA.

/assign
/unassign @awly

[2020-04-20 21:48] palnabarun commented on #19
/remove-lifecycle stale

[2020-04-20 22:41] palnabarun commented on #727
/remove-lifecycle stale

[2020-04-20 22:42] palnabarun commented on #991
/remove-lifecycle stale

[2020-04-20 22:42] palnabarun commented on #783
/remove-lifecycle stale

[2020-04-20 22:43] palnabarun commented on #786
/remove-lifecycle stale

[2020-04-20 22:43] palnabarun commented on #1045
/remove-lifecycle stale

[2020-04-20 22:44] palnabarun commented on #1041
/remove-lifecycle stale

[2020-04-20 22:44] palnabarun commented on #127
/remove-lifecycle stale

[2020-04-20 22:44] palnabarun commented on #1339
/remove-lifecycle stale

[2020-04-20 22:44] palnabarun commented on #1403
/remove-lifecycle stale

[2020-04-20 22:45] mtaufen commented on #783
/lifecycle frozen

[2020-04-21 01:15] msau42 commented on #1489
/reopen
We should keep this issue open to track to GA

[2020-04-21 01:16] msau42 commented on #625
/remove-lifecycle stale

[2020-04-21 17:40] mikebrow commented on #753
<- volunteer here need this fixed, customers asking for it

[2020-04-21 18:00] palnabarun commented on #667
/remove-lifecycle stale

[2020-04-21 23:00] jeremyrickard commented on #24
/remove-lifecycle stale

[2020-04-22 02:30] neolit123 commented on #970
/remove-lifecycle stale

[2020-04-22 02:32] neolit123 commented on #1424
we are going to push to clear the picture around this effort, but 1.19 is unlikely at this point.

/milestone clear
/remove-lifecycle stale

[2020-04-22 06:59] BenTheElder commented on #970
/remove-lifecycle stale

[2020-04-23 02:06] spiffxp commented on #1143
/milestone v1.19

[2020-04-23 04:54] palnabarun commented on #993
/remove-lifecycle stale

[2020-04-23 16:14] jsafrane opened #1710 "Speed up recursive SELinux label change"
# Enhancement Description
- One-line enhancement description (can be used as a release note): **Speed up container startup by mounting volumes with the correct SELInux label instead of changing each file on the volumes recursively.**

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1710-selinux-relabeling

- Primary contact (assignee): @js

[2020-04-23 18:53] lachie83 commented on #563
I would like to confirm that the state of the dualstack enhancement remains in `alpha` in 1.18. I am currently working with the community to assess the work planned to be completed in 1.19. It's likely this enhancement will still remain in alpha state in 1.19 however I would like to confirm. I will also take an action on getting the docs updated to reflect the enhancement state in the 1.18 docs.

[2020-04-24 02:20] xing-yang commented on #1432
CSI spec PR is merged.  We are targeting this for 1.19.

Can someone from the release team add this to v1.19 milestone?
@kikisdeliveryservice

[2020-04-24 02:22] xing-yang commented on #1432
/tracked yes

[2020-04-24 08:58] sftim commented on #563
If there are pages on the website that show dual-stack Kubernetes as beta, please file those against [k/website](https://github.com/kubernetes/website/) as priority/important-soon bugs.

[2020-04-24 11:58] xing-yang commented on #1491
/assign @divyenpatel

[2020-04-27 16:04] neolit123 commented on #1381
/remove-lifecycle stale

[2020-04-27 18:18] johnbelamaric commented on #1194
/remove-lifecycle stale

[2020-04-27 20:16] alculquicondor commented on #1355
/close

@sparciii please feel free to open an issue or PR in https://github.com/kubernetes-sigs/scheduler-plugins if you haven't done so.

[2020-04-27 20:16] #1355 closed

[2020-04-27 20:25] palnabarun commented on #1500
/remove-lifecycle stale

[2020-04-27 20:25] palnabarun commented on #1490
/remove-lifecycle stale

[2020-04-27 20:25] palnabarun commented on #1488
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #1471
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #1217
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #784
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #706
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #669
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #611
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #600
/remove-lifecycle stale

[2020-04-27 20:26] palnabarun commented on #597
/remove-lifecycle stale

[2020-04-27 20:27] palnabarun commented on #542
/remove-lifecycle stale

[2020-04-27 20:27] palnabarun commented on #383
/remove-lifecycle stale

[2020-04-27 20:27] palnabarun commented on #362
/remove-lifecycle stale

[2020-04-27 20:27] palnabarun commented on #117
/remove-lifecycle stale

[2020-04-27 20:39] tallclair commented on #600
FYI, we'll be further discussing 2 potential paths forward for this feature at the next sig-auth meeting (2020-04-29):

1. [Dynamic audit proxy webhook design](https://docs.google.com/document/d/16cy_ZD94ooBAvlH-rFOel8RPDWRiGFg4Cz11l4sfEII/edit#)
2. [Dynamic webhook sinks with static policy](https://docs.google.com/document/d/1MqA-RR_wUrMNMbPB6eDyghn9z3z6CDgKK2lsQcciSE8)

[2020-04-27 23:18] youngnick commented on #1498
The discussion on this one has been happening on #1497 instead of here.

[2020-04-27 23:18] youngnick commented on #1498
/remove-lifecycle stale

[2020-04-28 07:32] jsafrane commented on #1710
/sig storage
/sig node

[2020-04-28 11:11] draveness commented on #599
/close

[2020-04-28 11:11] #599 closed

[2020-04-28 11:58] wojtek-t commented on #1412
@palnabarun - can you please add it to tracking - we're going to promote it to Beta in 1.19.

[2020-04-28 12:19] palnabarun commented on #1487
/remove-lifecycle stale

[2020-04-28 12:19] palnabarun commented on #1352
/remove-lifecycle stale

[2020-04-28 12:19] palnabarun commented on #1314
/remove-lifecycle stale

[2020-04-28 12:19] palnabarun commented on #1122
/remove-lifecycle stale

[2020-04-28 12:19] palnabarun commented on #1029
/remove-lifecycle stale

[2020-04-28 12:19] palnabarun commented on #773
/remove-lifecycle stale

[2020-04-28 12:19] palnabarun commented on #551
/remove-lifecycle stale

[2020-04-28 12:20] palnabarun commented on #18
/remove-lifecycle stale

[2020-04-28 12:20] palnabarun commented on #757
/remove-lifecycle stale

[2020-04-28 17:29] wojtek-t commented on #383
Actually, I just realized that we have two KEPs opened for the same thing.

https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1661-new-event-api-ga-graduation is a duplication.

@chelseychen - we should deduplicate, probably living this one as it has more history.

[2020-04-28 19:36] palnabarun commented on #1472
/remove-lifecycle stale

[2020-04-28 19:36] palnabarun commented on #1435
/remove-lifecycle stale

[2020-04-28 19:36] palnabarun commented on #1206
/remove-lifecycle stale

[2020-04-28 19:36] palnabarun commented on #740
/remove-lifecycle stale

[2020-04-28 19:36] palnabarun commented on #284
/remove-lifecycle stale

[2020-04-28 20:59] msedzins commented on #18
Hey there @justinsb  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-28 21:02] msedzins commented on #24
Hey there @tallclair  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins

[2020-04-28 21:04] msedzins commented on #34
Hey there @sttts  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tu

[2020-04-28 21:08] msedzins commented on #127
Hey there @vikaschoudhary16  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle

[2020-04-28 21:09] msedzins commented on #277
Hey there @verb  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tue

[2020-04-28 21:10] msedzins commented on #213
Hey there @krmayankk  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins

[2020-04-28 21:11] msedzins commented on #177
Hey there @jingxu97  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-28 21:17] xing-yang commented on #177
Hi @msedzins, we plan to stay beta in 1.19.  Thanks!

[2020-04-28 21:19] msedzins commented on #351
Hey there @erinboyd, @screeley44 , @mtanino  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1

[2020-04-28 21:20] msedzins commented on #361
Hey there @jingxu97  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-28 21:21] msedzins commented on #362
Hey there @jingxu97, @vishh  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle

[2020-04-28 21:21] msedzins commented on #423
Hey there @justinsb  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
-

[2020-04-28 21:23] msedzins commented on #541
Hey there @enj  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tues

[2020-04-28 21:23] msedzins commented on #542
Hey there @mikedanese  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins

[2020-04-28 21:24] msedzins commented on #545
Hey there @NickrenREN  -- 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins

[2020-04-28 21:37] palnabarun commented on #117
Hey there @mwielgus @josephburnett -- 1.19 Enhancements Lead here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cy

[2020-04-28 21:42] palnabarun commented on #1412
@wojtek-t Thank you for the update. I have updated the details on the [tracking sheet](http://bit.ly/k8s-1-19-enhancements). :+1:

[2020-04-28 21:47] palnabarun commented on #284
Hi @gnufied, -- 1.19 Enhancement Lead here, I wanted to check in whether you think this Enhancement will graduate in 1.19?

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kuber

[2020-04-28 21:49] palnabarun commented on #383
Hi @wojtek-t -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kube

[2020-04-28 21:51] palnabarun commented on #531
Hi @gnufied -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kuber

[2020-04-28 22:07] palnabarun commented on #536
Hi @robscott -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kube

[2020-04-28 22:09] palnabarun commented on #555
Hi @apelisse -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kube

[2020-04-28 22:09] palnabarun commented on #563
Hi @lachie83 -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kube

[2020-04-28 22:10] palnabarun commented on #614
Hi @janosi -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kubern

[2020-04-28 22:11] palnabarun commented on #647
Hi @dashpole -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kube

[2020-04-28 22:15] palnabarun commented on #667
Hi @feiskyer -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate to Beta in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 1

[2020-04-28 22:16] palnabarun commented on #740
Hi @micahhausler -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May

[2020-04-28 22:17] palnabarun commented on #753
Hi @Joseph-Irving @thockin @khenidak @kow3ns -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release

[2020-04-28 22:19] palnabarun commented on #785
Hi @ahg-g -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate to Beta in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May

[2020-04-28 22:20] palnabarun commented on #859
Hi @pwittrock -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19:

[2020-04-28 22:22] palnabarun commented on #902
Hi @denkensk @vllry -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17

[2020-04-28 22:22] palnabarun commented on #961
Hi @krmayankk -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kub

[2020-04-28 22:24] palnabarun commented on #962
Hi @xing-yang @humblec @ashish-amarnath -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle

[2020-04-28 22:24] palnabarun commented on #1101
/remove-lifecycle stale

[2020-04-28 22:25] palnabarun commented on #1101
Hi @apelisse -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kube

[2020-04-28 22:29] robscott commented on #536
Hey @palnabarun, thanks for the reminder! There's been some discussion around a more automated approach to topology-aware routing as an alternative to this. Although closely related to this enhancement, it may end up with a separate KEP. I don't think there will be any direct progress on this KEP in this cycle as we explore this other potential approach.

[2020-04-28 22:36] alculquicondor commented on #785
@palnabarun I'm already working on this.

/close

I'm now tracking in #89701 and I will soon write the KEP

[2020-04-28 22:36] pwittrock commented on #859
Nope, it hasn't started yet

[2020-04-28 22:37] alculquicondor commented on #785
Oops, didn't realize this is the enhancement repo

/reopen

[2020-04-28 22:39] palnabarun commented on #785
@alculquicondor No problem :sweat_smile: Let me know if a KEP would be ready by the Enhancements Freeze. :slightly_smiling_face:

[2020-04-28 22:40] alculquicondor commented on #785
It will

[2020-04-28 22:42] palnabarun commented on #859
@pwittrock Oh okay. Just confirming the same, shall we remove this enhancement from tracking in this milestone?

[2020-04-28 22:43] palnabarun commented on #1164
@wojtek-t I see that this enhancement has been scheduled for graduation in 1.20. Let us know if plans change.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kubernetes v1.

[2020-04-28 22:45] palnabarun commented on #1186
@konghui Just trying to understand more about this enhancement. We generally close enhancement issues till they go to `Implemented` state or are no longer needed.

Is enhancement no longer needed?

[2020-04-28 22:46] palnabarun commented on #1186
/reopen

(to gain more clarity on it)

[2020-04-28 22:47] palnabarun commented on #1206
Hi @RainbowMango -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May

[2020-04-28 22:48] palnabarun commented on #1287
@vinaykul Thank you for the confirmation. I have updated the tracking sheet for 1.19 release.

[2020-04-28 22:52] pwittrock commented on #859
Yes.  Don't move it to a future one, just remove it.

[2020-04-28 22:53] palnabarun commented on #1381
Hi @rosti -- 1.19 Enhancements Lead here, just wanted to confirm if this enhancement will graduate to Alpha in 1.19?

[2020-04-28 22:53] palnabarun commented on #1424
Hi @neolit123 -- Thank you for the updates on this. :slightly_smiling_face:

[2020-04-28 22:55] palnabarun commented on #135
@tallclair -- Thank you for the updates. :slightly_smiling_face:

[2020-04-28 22:56] palnabarun commented on #1435
Hi @janosi -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: We

[2020-04-28 22:58] palnabarun commented on #1440
Hi @soltysh -- 1.19 Enhancements Lead here, just checking in to confirm if this enhancement is graduating to Alpha in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 -

[2020-04-28 22:58] palnabarun commented on #1472
Hi @pohly -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Wee

[2020-04-28 23:00] palnabarun commented on #1488
Hi @davidz627 -- 1.19 Enhancements Lead here, I wanted to confirm if this enhancement is going to graduate to Stable in 1.19 as planned above?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, A

[2020-04-28 23:02] palnabarun commented on #1489
Hi @msau42 @davidz627 -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

As Jeremy mentioned above, it would be great if a test plan can be added before moving it to GA.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code F

[2020-04-28 23:04] palnabarun commented on #859
@pwittrock Thanks. I have updated the tracking sheet to reflect the same. :+1:

[2020-04-28 23:06] palnabarun commented on #785
@alculquicondor Awesome! I will update the [tracking sheet](https://bit.ly/k8s-1-19-enhancements) to reflect the same.

[2020-04-28 23:08] palnabarun commented on #785
/stage beta
/milestone v1.19

[2020-04-28 23:09] palnabarun commented on #1490
Hi @feiskyer -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate to Beta in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 1

[2020-04-28 23:10] palnabarun commented on #1491
Hi @xing-yang @divyenpatel -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4:

[2020-04-28 23:11] palnabarun commented on #1495
/milestone clear

(removing from 1.18 since it didn't go into that release)

[2020-04-28 23:12] palnabarun commented on #1495
Hi @bswartz -- 1.19 Enhancements Lead here, I wanted to check in if you think this enhancement would graduate in 1.19?

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kuber

[2020-04-28 23:15] palnabarun commented on #1702
Hi @pohly -- 1.19 Enhancements Lead here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday,

[2020-04-28 23:15] palnabarun commented on #1710
Hey @jsafrane -- 1.19 Enhancements Lead here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

---
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tues

[2020-04-28 23:16] palnabarun commented on #1287
/milestone v1.19

[2020-04-28 23:17] palnabarun commented on #1412
/stage beta
/milestone v1.19

[2020-04-28 23:35] divyenpatel commented on #1491
@palnabarun yes, we will be able to get vSphere CSI migration changes in kubernetes in the given deadline.

I am currently working on validation of my prototype code.

[2020-04-29 01:02] xing-yang commented on #962
@palnabarun We actually need to do some re-design on this.  So we won't track this for 1.19 yet.  Thanks!

[2020-04-29 01:04] xing-yang commented on #1491
@palnabarun We are targeting beta in 1.19.  Thanks!

[2020-04-29 01:30] RainbowMango commented on #1206
- [x] The KEP PR must be merged in an implementable state
- [ ] The KEP must have test plans
- [x] The KEP must have graduation criteria.

@palnabarun Seems the enhancement need to supply test plans. What exactly is it? Is there any document about this?

[2020-04-29 03:14] gnufied commented on #531
@palnabarun thank you for the ping. We are proposing further API changes in 1.19 release which will enable this feature along with general resizing(https://github.com/kubernetes/enhancements/issues/284) to go GA.

We are trying to get https://github.com/kubernetes/enhancements/pull/1516 merged to that end.

[2020-04-29 03:14] gnufied commented on #284
@palnabarun thank you for the ping. We are proposing further API changes in 1.19 release which will enable this feature to go GA.

We are trying to get https://github.com/kubernetes/enhancements/pull/1516 merged to that end.

[2020-04-29 03:45] ttonline6 opened #1721 "no sig pm directory"
url:https://github.com/kubernetes/community/blob/master/sig-pm/README.md in README.md  has lost

/sig architecture
/area enhancements
/milestone keps-beta
ref: https://github.com/kubernetes/enhancements/issues/620

[2020-04-29 03:45] apelisse commented on #555
Hi there, we're not planning on promoting this feature this cycle, thank you!

[2020-04-29 03:45] apelisse commented on #1101
Hi there, we're not planning on promoting this feature this cycle, thank you!

[2020-04-29 05:43] feiskyer commented on #667
@palnabarun Yep, it's on track for Beta in 1.19.

[2020-04-29 06:01] wojtek-t commented on #1164
No - we need to satisfy deprecation policy, so we need to wait to 1.20.

[2020-04-29 06:02] Joseph-Irving commented on #753
@palnabarun, As per this comment https://github.com/kubernetes/enhancements/issues/753#issuecomment-597372056, this KEP has been put on indefinite hold, so no it won't be graduating in 1.19.

[2020-04-29 07:42] abitrolly commented on #284
Today is the 3 years anniversary of this issue. :birthday: :candle: :cake: :)

[2020-04-29 08:23] rosti commented on #1381
Hi @palnabarun I am in the process of preparing a KEP update. I guess that if that merges before enhancements freeze, this might be achievable.

[2020-04-29 09:55] palnabarun commented on #85
The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tuesday, May 19: Week 6 - Enhancements Freeze
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kubernetes v1.19.0 released

[2020-04-29 13:35] harshanarayana commented on #19
Hey there @soltysh @kow3ns, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begi

[2020-04-29 14:47] harshanarayana commented on #365
Hey there @smarterclayton,  1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begi

[2020-04-29 14:50] harshanarayana commented on #600
Hey there @pbarker, 1.19 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.19?

In order to have this part of the release:
1. The KEP PR must be merged in an implementable state
2. The KEP must have test plans
3. The KEP must have graduation criteria.

The current release schedule is:
- Monday, April 13: Week 1 - Release cycle begins
- Tue