[2019-07-09 15:30] kacole2 commented on #281
Hi @mtaufen , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-09 15:31] kacole2 commented on #279
Hi @liggitt @saad-ali , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all re

[2019-07-09 15:33] kacole2 commented on #268
Hi @bsalamat , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/

[2019-07-09 15:33] liggitt commented on #279
This remains in progress in 1.16. The v1.16 portion of the timeline in https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md#implementation-timeline will be delivered.

[2019-07-09 15:33] kacole2 commented on #267
Hi @jcbsmpsn , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/

[2019-07-09 15:34] kacole2 commented on #266
Hi @jcbsmpsn , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/

[2019-07-09 15:35] kacole2 commented on #213
Hi @krmayankk @tallclair , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all

[2019-07-09 15:36] kacole2 commented on #166
Hi @gmarek @k82cn @Huang-Wei , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list

[2019-07-09 15:37] kacole2 commented on #135
Hi @tallclair @pweil- @stlaz , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list

[2019-07-09 15:38] kacole2 commented on #130
Hi @luxas @roberthbailey , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all

[2019-07-09 15:38] msau42 commented on #351
This feature is remaining beta for 1.16

[2019-07-09 15:41] kacole2 commented on #127
Hi @vikaschoudhary16 , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all rel

[2019-07-09 15:42] kacole2 commented on #117
Hi @mwielgus , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/

[2019-07-09 15:43] Liujingfang1 commented on #993
@kacole2 Thank you for checking with me. Since currently kubectl is moving into staging and will be eventually moved out of core. We don't plan to make this process more complicated by integrating new kustomize version into it. We will postpone this feature.

[2019-07-09 15:44] kacole2 commented on #85
Hi @davidopp , I'm the 1.16 Enhancement Lead/Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/

[2019-07-09 15:46] kacole2 commented on #34
Hi @sttts @krmayankk  , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant

[2019-07-09 15:47] kacole2 commented on #24
@tallclair anything happening here for 1.16? Any plans for deprecation?

[2019-07-09 15:48] kacole2 commented on #19
Hi @kow3ns @soltysh  , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k

[2019-07-09 15:49] kacole2 commented on #18
Hi @errordeveloper @bgrant0607  , I'm the 1.16 Enhancement Lead.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all

[2019-07-09 15:51] kacole2 commented on #5
Hi @tallclair looks like nothing is happening here for 1.16 as well so I'll keep it the same.

[2019-07-09 16:45] tallclair commented on #24
I have the beginnings of a plan to bring it to GA, but it might be a stretch to get to it in 1.16. I'll try to get a proposal out by enhancements freeze though.

[2019-07-09 16:46] tallclair commented on #135
I have the beginnings of a plan to bring it to GA, but it might be a stretch to get to it in 1.16. I'll try to get a proposal out by enhancements freeze though.

[2019-07-09 16:54] michmike commented on #995
hi @kacole2 , yes this is tracked for an alpha release with 1.16. thanks!

[2019-07-09 16:55] michmike commented on #995
@ksubrmnn  can link the PRs when we have them (likely will create some this week). the KEP is already approved for this work

[2019-07-09 17:05] Huang-Wei commented on #895
@kacole2 Yes, it's on the right track for 1.16, and it will be an Alpha feature.

[2019-07-09 17:05] davidz627 commented on #625
@kacole2 This feature will be graduating to `Beta` in `1.16`.
We are tracking progress here and will keep it updated going forward: https://github.com/orgs/kubernetes-csi/projects/13

[2019-07-09 17:07] MaciekPytel commented on #117
@mwielgus is on vacation, but as far as I know there is no plan to move to stable in 1.16.

cc: @josephburnett unless you know something about it?

[2019-07-09 17:42] kacole2 commented on #625
/milestone v1.16
/stage beta

[2019-07-09 17:43] evillgenius75 commented on #555
Hi @apelisse , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking) and I can update the milestone and stage tags

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked prop

[2019-07-09 17:51] evillgenius75 commented on #563
Hi @lachie83 @leblancd , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

Thank you.

[2019-07-09 17:55] kevtaylor commented on #559
@liggitt I seem to remember reading it in the api doc but couldnt point to it. If were happy to make this GA in 1.16, then Ill prepare the necessary PRs

[2019-07-09 17:55] evillgenius75 commented on #586
Hi @feiskyer , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

Thank

[2019-07-09 17:57] evillgenius75 commented on #600
Hi @pbarker  I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

Thank yo

[2019-07-09 17:58] liggitt commented on #559
I'll defer to @kubernetes/sig-storage-feature-requests for guidance, but as far as API and skew compatibility is concerned, it could be promoted in 1.16

[2019-07-09 18:04] evillgenius75 commented on #727
Hi @dashpole , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

Thank

[2019-07-09 18:19] evillgenius75 commented on #724
Hi @jiatongw , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-09 18:33] krmayankk commented on #961
@kacole2 yes i am planning to rollout an alpha in 1.16 for this feature.

[2019-07-09 18:44] dashpole commented on #727
I don't have any plans for 1.16.  We should migrate the metrics server to this endpoint before moving it to beta.

[2019-07-09 19:07] tallclair commented on #894
The plan is to add this to 1.16, but tie it's status to RuntimeClass. In other words, reuse the runtimeclass feature gate, and make it beta.

[2019-07-09 20:20] freehan commented on #752
@kacole2  I do not have permission to add it into spreadsheet. Would you mind adding me to it?

KEP in flight: https://github.com/kubernetes/enhancements/pull/1086

[2019-07-09 22:04] mortent commented on #981
@kacole2 We plan on taking PodDisruptionBudgets to GA in 1.16. KEP is https://github.com/kubernetes/enhancements/pull/904

[2019-07-09 22:13] apelisse commented on #555
Yeah, we're planning on releasing this feature as Beta.

[2019-07-09 22:39] kacole2 commented on #981
/milestone v1.16
/stage stable

[2019-07-09 23:19] feiskyer commented on #586
@evillgenius75 Yep, and it has already added v1.16 milestone.

[2019-07-10 03:01] iot86 commented on #757
I thought some test results concerning using --pod-max-pids flag might be appropriate. I created 2 java apps one which creates threads as fast as it can and the other slowly creates threads. I ran both apps on a linux centos node that did not have the pid restriction set and then ran the same apps on a node that did not have any limits on pids.

Results:

On the node with no pid limit I quickly ca

[2019-07-10 03:27] xing-yang commented on #177
KEP submitted: https://github.com/kubernetes/enhancements/pull/1133

[2019-07-10 08:28] josephburnett commented on #853
@kacole2, yes, I think we should target alpha for 1.16.  Are there documented requirements for what is required for an alpha feature?

@gliush this means we need to land all the code by 8/29.  I have a TODO to review your PR https://github.com/kubernetes/kubernetes/pull/74525 this week.

[2019-07-10 08:56] harche commented on #1067
Thanks @kacole2

[2019-07-10 11:38] mariantalla commented on #575
Hi @nikhita @sttts -- I'm an Enhancements shadow for 1.16. From looking at labels it seems that the plan is for this feature to go `stable` in 1.16. I'll go ahead and add it to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

If I've got this wrong and it's not graduating, please let me know I will remove it from the milestone and change the tracked label.

Are there an

[2019-07-10 13:20] mrbobbytables commented on #956
Hey there @wojtek-t, I'm one of the 1.16 Enhancement Shadows. It looks like you're ahead of the game with flagging as beta / linking to k/k PR :)

Just as a general reminder:
Milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

Thanks!

[2019-07-10 13:29] kacole2 commented on #853
@josephburnett I'll get this added to the tracking sheet. As for requirements to be considered `alpha` is all based on the graduation criteria in the KEP. I just checked out [20190307-configurable-scale-velocity-for-hpa](https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/20190307-configurable-scale-velocity-for-hpa.md) and noticed there is no graduation criteria. I would t

[2019-07-10 13:46] mrbobbytables commented on #786
Hey there @luxas, I'm one of the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all rel

[2019-07-10 14:08] mrbobbytables commented on #784
Hey there @luxas, I'm one of the 1.16 Enhancement Shadows. Looks like you're on track for v1.16 :)

As a general reminder, the KEP must be merged and in an implementable state with Graduation Criteria explaining each alpha/beta/stable stages requirements.

Milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

Thank you.

[2019-07-10 14:16] mrbobbytables commented on #773
Hey there @jingxu97 , I'm one of the 1.16 Enhancement Shadows.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list al

[2019-07-10 14:18] mrbobbytables commented on #770
Hey there @msau42 @jsafrane, I'm one of the 1.16 Enhancement Shadows.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please

[2019-07-10 14:22] mrbobbytables commented on #783
@luxas I'm one of the 1.16 Enhancement Shadows.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-10 14:23] evillgenius75 commented on #706
Hi @pierreozoux , I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enhancement requ

[2019-07-10 14:24] mrbobbytables commented on #758
Hey there @bowei , I'm one of the 1.16 Enhancement Shadows.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all r

[2019-07-10 14:29] evillgenius75 commented on #695
Hi @mattsmithdatera  I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking)and the correct milestone and tracked label is applied.

As a reminder, every enhancement requires a KEP in an implementable state with Graduation Criteria exp

[2019-07-10 14:35] mrbobbytables commented on #740
Hey there @micahhausler, I'm one of the 1.16 Enhancement Shadows.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list

[2019-07-10 14:36] evillgenius75 commented on #673
Hi @andrewsykim @rgolangh  I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there is still no

[2019-07-10 14:38] evillgenius75 commented on #672
Hi @andrew, I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I notice there is no KEP for this Enhanceme

[2019-07-10 14:41] evillgenius75 commented on #671
Hi @rtheis @spzala, I'm a 1.16 Enhancement Shadow. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the 1.16 Tracking Spreadsheet.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I notice there is aKEP for this Enhancement but it is still in provisional state.

[2019-07-10 14:46] evillgenius75 commented on #670
Hi @frapposelli @cantbewong, I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, The current milestone will be clear and the tracking status will be tracked/no.

Once coding begins or if it already has, please

[2019-07-10 14:52] evillgenius75 commented on #669
Hi @hogepodge @andrewsykim , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

I see the KEP is still under provisional state, as a reminder, every enhancement requires a KEP in an implementable state with Graduation Criteria

[2019-07-10 15:47] rhtyd commented on #672
We're aware of at least two CloudStack controller managers (ccms) developed by CloudStack users/contributors:
https://github.com/swisstxt/cloudstack-cloud-controller-manager (cc @onitake @joschi36)
https://github.com/tsuru/custom-cloudstack-ccm (cc @andrestc @cezarsa)

It's possible we integrate in-built kubernetes support in CloudStack (via kubeadm and custom systemvmtemplate etc) in near future

[2019-07-10 18:21] cmluciano commented on #758
@mrbobbytables Based on our recently merged changes to [the kep](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#116) timeline, we should be moving to v1/stable for the 1.16 release.

[2019-07-10 19:17] MrHohn commented on #980
@kacole2 Sorry for the delay and thanks for the heads up. Yes we are looking to beta this feature in v1.16. I will make sure to list all relevant PRs once I have them.

[2019-07-10 20:14] kacole2 commented on #980
/milestone v1.16
/stage beta

[2019-07-11 01:44] karajas commented on #871
I have some questions about the intended design. Would rerunning initContainers on container exit perform a different action that is different from what initContainer would do on startup?

[2019-07-11 03:10] draveness commented on #599
/remove-lifecycle stale

[2019-07-11 06:48] onitake commented on #672
@rhtyd We'll gladly transfer ownership of swisstxt/cloudstack-cloud-controller-manager to the Apache/CloudStack project if you decide to accept it.

We still have a few issues that weren't anticipated when we factored the CCM out of KCM, but they should definitely be fixed to make the controller production-ready for most users. Other than that, we're using it productively in-house very successfull

[2019-07-11 08:08] wojtek-t commented on #589
/remove-lifecycle stale

[2019-07-11 09:06] mariantalla commented on #571
Hey @sttts / @nikhita - From looking at labels it seems that the plan is for this feature to go stable in 1.16, is that right? If yes, I'll go ahead and add it to the 1.16 Tracking Spreadsheet.

If I've got this wrong and it's not graduating, please let me know I will remove it from the milestone.

Also, please list any remaining k/k PRs in this issue so they can be tracked properly.

As a reminde

[2019-07-11 09:13] rhtyd commented on #672
Thanks @onitake I'll start a discussion thread on dev@ ML and mention your intent.

[2019-07-11 09:40] rhtyd commented on #672
FYI I've started a discussion on CloudStack dev mailing list and request this repository: https://github.com/apache/cloudstack-kubernetes-provider

[2019-07-11 10:17] mariantalla commented on #565
Hi @vladimirvivien / @bswartz - I'm one of the 1.16 enhancement shadows.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please

[2019-07-11 10:23] mariantalla commented on #557
Hey @vladimirvivien @verult @thockin @msau42 - I'm an enhancements shadow for 1.16. Are there plans for this feature to graduate alpha/beta/stable stages? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I not

[2019-07-11 10:29] mariantalla commented on #555
/remove-label tracked/no
/label tracked/yes

[2019-07-11 10:33] mariantalla commented on #551
Hi @yastij , I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k P

[2019-07-11 10:39] mariantalla commented on #548
Hi @k82cn - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there's no KEP linked in th

[2019-07-11 10:44] mariantalla commented on #545
Hey @saad-ali @NickrenREN  - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there

[2019-07-11 10:49] mariantalla commented on #542
Hi @mikedanese  - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, 1.16 milest

[2019-07-11 10:50] mariantalla commented on #541
Hi @awly - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, 1.16 milestone dat

[2019-07-11 10:58] yastij commented on #551
this is targeting 1.16, we plan to merge the KEP #1116 before the feature freeze.

[2019-07-11 11:34] mrbobbytables commented on #758
@cmluciano Thanks! I've gone ahead and added it.

/milestone v1.16
/stage stable

[2019-07-11 12:42] mariantalla commented on #508
Hi @danehans - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there's no KEP link

[2019-07-11 12:50] mariantalla commented on #495
Hi @verb - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there's no KEP linked i

[2019-07-11 12:57] mariantalla commented on #492
Hey @jpbetz / @liggitt / @caesarxuchao - I'm adding this to the [tracked enhancements for 1.16](http://bit.ly/k8s116-enhancement-tracking) as expected to graduate to `stable`. Please let me know if I got any of this wrong.

As a reminder, 1.16 milestone dates are Enhancement Freeze 7/30 and Code Freeze 8/29.

Thanks!

[2019-07-11 13:12] neolit123 commented on #783
assigning @stealthybox as the contact and lead of this feature as per the discussion on slack with @sttts

@mrbobbytables
i will leave it this outside of the milestone, until further notice from @stealthybox

i personally think that while a KEP made sense to present the overall approach, this should not have been tracked as a common k8s feature. it's code re-organization and refactor, probably won

[2019-07-11 13:56] msau42 commented on #557
This is remaining beta in 1.16

[2019-07-11 14:13] evillgenius75 commented on #668
Hi @cheftako @jagosan , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enhancem

[2019-07-11 14:16] evillgenius75 commented on #667
Hi @lachie83 @justaugustus @khenidak, I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please li

[2019-07-11 14:19] evillgenius75 commented on #661
Hi @SidakM , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enhancement require

[2019-07-11 14:31] evillgenius75 commented on #647
Hi @dashpole  I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed the KEP is still not merged.

[2019-07-11 14:35] evillgenius75 commented on #630
Hi @leakingtapan @d-nishi , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enha

[2019-07-11 14:38] evillgenius75 commented on #629
Hi @d-nishi @M00nF1sh , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed the KEP is still in

[2019-07-11 14:40] evillgenius75 commented on #626
Hi @fanzhangio , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

As a reminder, every enhancement req

[2019-07-11 14:45] evillgenius75 commented on #623
Hi @bsalamat , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). Currently this enhancement is set to stale

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked proper

[2019-07-11 15:20] liggitt commented on #606
please add the api-review label to the specific doc or code PRs that need review. thanks!

[2019-07-11 15:34] danehans commented on #508
@mariantalla I am no longer working on the feature. You may want to ask sig network to see if anyone else is planning to handle the feature graduation.

[2019-07-11 15:55] mariantalla commented on #491
Hey @apelisse - with an enhancements shadow hat on this time:)

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there's

[2019-07-11 15:57] mariantalla commented on #365
Hi @smarterclayton  - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there's no K

[2019-07-11 15:57] mariantalla commented on #362
Hi @vishh / @jingxu97  - I'm an Enhancements shadow for 1.16.

Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking).

Once development begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properly.

I noticed there's n

[2019-07-11 15:58] mtaufen commented on #783
Even alpha/beta/GA tracking may not really match up with the independent stages of the KEP (which may each be at different levels).

[2019-07-11 16:10] kacole2 commented on #508
@lachie83 this is something to bring up with SIG-Network in your meetings.

[2019-07-11 16:56] dashpole commented on #647
I don't have any plans to work on this in 1.16

[2019-07-11 17:10] rbitia commented on #576
Hi @apelisse , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-11 17:22] lachie83 commented on #508
Yep. Let me get this on the SIG-networking agenda

[2019-07-11 17:23] mtaufen commented on #785
/remove-lifecycle stale
/lifecycle frozen

[2019-07-11 18:00] cheftako commented on #668
Hi @evillgenius75, the plan for this is it will go into the kubernetes/cloud-provider-gcp repo, which the k/k repo does not consume. So it should be independent of the 1.16 release.

[2019-07-11 18:42] mtaufen commented on #281
No further plans this release, thanks!

On Tue, Jul 9, 2019 at 8:31 AM Kendrick Coleman <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2019-07-11 19:14] kacole2 commented on #668
@cheftako we understand. we just want to make note so when 1.16 is released if there is any noise that needs to be made about this specific provider.

[2019-07-11 19:20] apelisse commented on #576
No need to be tracked for this release, we'll probably go GA for 1.17, thanks!

[2019-07-11 19:21] apelisse commented on #491
Hey @mariantalla, we'll wait for the next release (1.17) to go GA, thanks!

[2019-07-11 19:30] rbitia commented on #576
okay! thanks for the response

[2019-07-11 19:37] rbitia commented on #581
Hi @juanvallejo, I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant

[2019-07-11 19:40] rbitia commented on #583
Hi @k82cn , I'm the 1.16 Enhancement Shadow. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the 1.16 Tracking Spreadsheet. If it's not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked proper

[2019-07-11 19:42] rbitia commented on #585
Hi @tallclair, & @thockin, I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all

[2019-07-11 19:44] rbitia commented on #587
Hi @vikaschoudhary16 , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relev

[2019-07-11 19:47] rbitia commented on #589
Hi @wangzhen127, I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/

[2019-07-11 19:50] rbitia commented on #592
Hi @janetkuo, I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-11 19:51] rbitia commented on #593
Hey @bsalamat,  I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-11 19:52] rbitia commented on #596
Hey @jsafrane,  I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-11 19:53] rbitia commented on #597
Hey @gnufied , I'm the 1.16 Enhancement Shadow. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the 1.16 Tracking Spreadsheet. If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked prope

[2019-07-11 19:56] rbitia commented on #598
Hi @@mbohlool & @roycaihw, I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all rel

[2019-07-11 20:16] gnufied commented on #597
We are not touching this feature for 1.16 too.

[2019-07-11 20:24] rbitia commented on #597
Great thanks for the response!

[2019-07-11 20:25] rbitia commented on #599
Hi @yastij , I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-11 20:27] rbitia commented on #603
Hi @jsafrane  , I'm a 1.16 Enhancement Shadow. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the 1.16 Tracking Spreadsheet. If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked proper

[2019-07-11 20:28] rbitia commented on #604
Hi @feiskyer , I'm a 1.16 Enhancement Shadow. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the 1.16 Tracking Spreadsheet. If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked properl

[2019-07-11 20:31] rbitia commented on #609
Hi @enxebre, I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-11 20:32] rbitia commented on #611
Hi @krmayankk , I'm a 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs

[2019-07-11 20:49] tallclair commented on #585
RuntimeClass will remain in beta for 1.16. The 2 changes to RuntimeClass are tracked separately:
https://github.com/kubernetes/enhancements/issues/688
https://github.com/kubernetes/enhancements/issues/894

[2019-07-11 21:49] awly commented on #541
Hi @mariantalla
This feature is (most likely) not graduating in 1.16.

I will propose some changes for stable graduation after https://github.com/kubernetes/enhancements/pull/1137 is merged, but it's all up for discussion still.

[2019-07-11 22:47] rbitia commented on #612
Hi @bsalamat , I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k

[2019-07-11 22:48] rbitia commented on #615
Hi @saad-ali  , I'm the 1.16 Enhancement Shadow. Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the 1.16 Tracking Spreadsheet. If it's not graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relevant k/k PRs in this issue so they can be tracked prop

[2019-07-11 22:49] janetkuo commented on #592
TTL controller currently supports Jobs, and we're adding support for Pods in 1.16 (covered in existing KEP already). The feature can only graduate to beta after that (i.e. post 1.16).

[2019-07-11 22:50] rbitia commented on #617
Hi @justaugustus, @jdumars, & @calebamiles I'm the 1.16 Enhancement Shadow.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, plea

[2019-07-11 23:24] bswartz commented on #565
@mariantalla Thanks for checking in on this. We are considering moving this to GA, pending some test improvements and bug fixes. I'll add them here as I find them.

https://github.com/kubernetes/kubernetes/pull/75071
https://github.com/kubernetes/kubernetes/pull/79977
https://github.com/kubernetes/kubernetes/pull/74026

[2019-07-11 23:24] feiskyer commented on #604
@rbitia Yep, already added to 1.16 milestone

[2019-07-12 00:10] roycaihw commented on #598
@rbitia Yes, it's going to be graduating stable in 1.16.

[2019-07-12 00:32] msau42 commented on #615
sig-storage doesn't need this feature anymore. We don't have in-tree controllers that depend on CRDs.
/close

[2019-07-12 00:32] #615 closed

[2019-07-12 00:33] stealthybox commented on #783
I agree this KEP is too large to be tracked by a milestone.
We have other more targeted KEP's which are more fitting.

[2019-07-12 06:02] wojtek-t commented on #589
The tentative plan for now is to graduate it to GA this cycle (1.16).

/stage ga
/tracked yes

[2019-07-12 07:38] aojea commented on #508
Will submit a PR with a KEP for graduation to Beta

[2019-07-12 09:39] verb commented on #495
Hi @mariantalla, I don't have any plans for 1.16, but maybe we'll try to graduate to stable in 1.17. (ftr, the only thing to do is to retrofit a KEP, no one has requested any changes.)

[2019-07-12 09:55] pohly commented on #362
No changes planned for 1.16.

[2019-07-12 13:44] MaciekPytel commented on #609
This feature doesn't involve any changes in k/k. Cluster Autoscaler lives in kubernetes/autoscaler repo - not sure how this impacts the process here? Also - there is an ongoing discussion, it's not clear yet if this will be included in 1.16.

[2019-07-12 13:52] kacole2 commented on #609
Hi @MaciekPytel. We want to see if there is any work being done that will coincide with the 1.16 release. If so, we can make sure it's included as a part of news announcements for major changes the community can look forward to hearing more about.

[2019-07-12 15:51] smarterclayton commented on #365
@liggitt do we want to promote this to GA?  I see no reason not to,

[2019-07-12 15:58] pierreozoux commented on #706
@evillgenius75 ok, I'll have time in the coming days.

I'd like this KEP moving forward, but I'm kind of new as kubernetes contributor, and to be honet I have no idea how to get this moving.

To put it simple the idea is to have a list of CRDs, part of upstream, to describe popular resources then used by operators. My main use case is that:
`As a WordPress operator developer, I want to specify MyS

[2019-07-12 17:28] kacole2 commented on #706
@pierreozoux can you please format the original post per the standard guidelines?  (below)

As per moving forward, this needs approval of the SIG lead and consensus to move forward. Please confer with them on best way to make this land in 1.16

@lachie83 another one for SIG conversations.

[code]

[2019-07-14 20:20] aojea opened #1138 "Graduate IPv6 support to beta"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Graduate IPv6 support to beta
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
 https://github.com/kubernetes/enhancements/pull/1139
- Primary contact (assignee): @aojea
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which mil

[2019-07-14 20:21] aojea commented on #1138
/sig-network
/stage beta
/milestone v1.16
/cc @lachie83 @thockin

[2019-07-15 05:13] rbitia commented on #589
Do you mind linking the KEP again? I'm getting a 404 to the one you linked on the first comment. Thanks!!

[2019-07-15 05:20] rbitia commented on #592
We won't track this for 1.16 then. Thanks for the response!

[2019-07-15 05:27] rbitia commented on #604
Are you planning to graduate to stable or beta?

[2019-07-15 06:02] justaugustus commented on #604
Hey @rbitia! We're going GA/Stable with this in 1.16. :)

[2019-07-15 07:42] wojtek-t commented on #589
@rbitia - updated

[2019-07-15 07:52] fabriziopandini commented on #357
+1 let's wait for users feedbacks before taking further steps

[2019-07-15 14:22] mariantalla commented on #565
Nice, thanks @bswartz ! I'll keep an eye on it  👀

[2019-07-15 14:36] mariantalla commented on #551
Thanks @yastij , I'll check back in later. From the conversation so far it seems the feature is targeting `beta`, is that right?

[2019-07-15 14:40] mariantalla commented on #541
Sounds good @awly , thanks for the heads up!

[2019-07-15 14:57] yastij commented on #551
@mariantalla - it'll be introducted as Alpha

[2019-07-15 14:57] mariantalla commented on #508
Thanks @aojea , I'll add both (this and https://github.com/kubernetes/enhancements/issues/1138) as tracked for v1.16, targetting `beta`, and `At Risk` while KEP is not merged.

Are you good with me assigning you as an owner for this issue too, and unassigning @danehans to save his inbox?

[2019-07-15 15:04] mariantalla commented on #495
Sounds good @verb , thanks! I'll leave it as untracked for 1.16 then; let me know if anything changes.

[2019-07-15 15:14] mariantalla commented on #571
...and one last thing: friendly reminder that there's no KEP linked to the feature, and it will need one to go GA.

cc @nikhita @sttts @liggitt

[2019-07-15 15:22] mrbobbytables commented on #785
Hey there @luxas, I'm one of the 1.16 Enhancement Shadows.  Is this feature going to be graduating alpha/beta/stable stages in 1.16? Please let me know so it can be added to the [1.16 Tracking Spreadsheet](http://bit.ly/k8s116-enhancement-tracking). If not's graduating, I will remove it from the milestone and change the tracked label.

Once coding begins or if it already has, please list all relev

[2019-07-15 17:11] msau42 commented on #596
Hi we're planning to target beta in 1.16.

[2019-07-15 18:26] pohly commented on #596
/assign

[2019-07-16 06:20] aojea commented on #508
@mariantalla 👍

[2019-07-16 08:59] sftim commented on #563
https://github.com/kubernetes/dns/issues/315 covers adding IPv6 / AAAA to the [DNS service discovery specification](https://github.com/kubernetes/dns/blob/master/docs/specification.md).

[2019-07-16 16:35] liggitt commented on #365
depends on whether resolving the [watch cache paging issue](https://groups.google.com/forum/#!msg/kubernetes-sig-api-machinery/SfCIk5MccOc/_bKbrCsoAwAJ) is considered a blocker for GA.

[2019-07-16 16:47] PatrickLang commented on #1122
KEP #1141

[2019-07-16 19:01] justaugustus commented on #822
/remove-lifecycle rotten
/lifecycle frozen

[2019-07-16 19:21] rgolangh commented on #673
I'm wondering how important is this cloud provider with respect the newer, more capable [cluster-api-provider implementation for ovirt](https://github.com/ovirt/cluster-api-provider-ovirt)

[2019-07-16 19:46] kacole2 commented on #563
@lachie83 @leblancd any idea if this will be graduating in 1.16 to track it?

[2019-07-16 22:51] neolit123 commented on #1053
@akutz @bart0sh would you have bandwidth for this in 1.16?
let me know so that we can update the tracking.

[2019-07-17 01:13] msau42 commented on #559
I think it would be good to get some more soak time for one more release.  Realistically, adopting and upgrading to a new release in production is slower than our quarter release cycle.

[2019-07-17 01:14] msau42 commented on #565
@bswartz @jsafrane CSI block depends on in-tree block, so we need https://github.com/kubernetes/enhancements/issues/351 to also target 1.16 GA right?

[2019-07-17 01:25] smarterclayton opened #1143 "Clarify use of node-role labels within Kubernetes and migrate old components"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Clarify that the `node-role.kubernetes.io/*` label is for use only by users and external projects and may not be used to vary Kubernetes behavior. Define migration process for all internal consumers of these labels.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/maste

[2019-07-17 01:42] smarterclayton commented on #1143
/sig architecture
/sig testing
/sig network
/sig node

[2019-07-17 03:45] kolorful opened #1146 "Add a new concurrency policy to Cronjob: CatchUp"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Add a new Cronjob concurrency policy: CatchUp, such that missed jobs are not skipped and will be scheduled in sequential order.
- Kubernetes Enhancement Proposal: #1145
- Primary contact (assignee): @kolorful
- Responsible SIGs: sig-apps
- Enhancement target (which target equals to which milestone):
  - A

[2019-07-17 09:59] bart0sh commented on #1053
I'm planning to finish this POC https://github.com/kubernetes/kubernetes/pull/78764
We need to  decide what to do with the KEP though.

[2019-07-17 12:21] lmdaly commented on #693
@kacole2 thanks for the reminder. This feature will be going in as Alpha in 1.16.

The ongoing list of PRs can be found here: https://github.com/kubernetes/kubernetes/issues/72828

Thanks!

[2019-07-17 14:27] timothysc commented on #1143
@kubernetes/sig-cluster-lifecycle
cc @luxas @justinsb @neolit123 @fabriziopandini

[2019-07-17 14:48] kacole2 commented on #596
/stage beta
/milestone v1.16

[2019-07-17 15:45] akutz commented on #1053
I'd like to manage the PoC via the KEP, but I'm also happy to transfer ownership of the KEP to @bart0sh as I'm now engaged in another activity that doesn't leave me a lot of time for the KEP.

[2019-07-18 08:19] wojtek-t commented on #956
As described in KEP, the criteria for graduation was to observe the expected drop on our graphs.
Here they are:

Pods:
![image](https://user-images.githubusercontent.com/10743879/61441017-0ef0a400-a945-11e9-89ae-72ba804b6a45.png)

Nodes:
![image](https://user-images.githubusercontent.com/10743879/61441049-1b74fc80-a945-11e9-849c-fc6c4a2ce8b7.png)

Secrets:
![image](https://user-images.githubuserco

[2019-07-18 14:14] dims commented on #956
Holy Moly, that's awesome graphs! thanks @wojtek-t

[2019-07-18 16:52] PatrickLang commented on #1043
hi @evilgenius75 - it's merged in https://github.com/kubernetes/kubernetes/pull/79489 :)
/close

[2019-07-18 21:35] justaugustus commented on #822
I'm planning to also add an "Open Questions" section to KEPs, which we can capture bikesheds in.

[2019-07-18 21:43] BenTheElder commented on #822
Some of the "motivation" sections read like a mix of:
- background / history
- benefits to the community
- "why I want this as the author of this KEP"
- various other details, e.g. challenges the enhancement will face..

It seems like we want to encourage the first two of those and ensure they're agreed upon, the third slipping in is a bikeshed magnet and the wrong frame of mind, imho. Some of the

[2019-07-19 08:16] wojtek-t opened #1152 "Avoid serializing the same object independently for every watcher"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Avoid serializing the same object independently for every watcher.
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190329-less-object-serializations.md)
- Primary contact (assignee): wojtek-t
- Responsible SIGs: sig-apimachinery, sig

[2019-07-19 12:42] rtheis commented on #671
@evillgenius75 This feature won't be graduating in 1.16.  We have some additional steps necessary on IBM side before we can get started.

[2019-07-19 20:50] lachie83 commented on #563
@evillgenius75 @kacole2 This needs to be tracked in 1.16. This feature will be in alpha state. We will be implementing phase 1 and phase 2 as defined in the KEP is 1.16

Tracking KEP
   * https://github.com/kubernetes/enhancements/pull/808

Merged k/k PRs (currently in master will be in 1.16)
   * [MERGED] Phase 1 - https://github.com/kubernetes/kubernetes/pull/73977
   * [MERGED] Phase 1 e2e test

[2019-07-19 22:34] kattawar opened #1154 "job retry limit"
# Enhancement Description
- One-line enhancement description (can be used as a release note): There are many people who have kubernetes jobs that will fail and then pods are created forever until the job succeeds which leads to tons of pods being created. It would be very nice if there was something we could add to the the job spec that would cause the job to stop retrying after so many failed att

[2019-07-19 22:55] bsalamat commented on #785
@mrbobbytables given that this issue does not have an owner and we didn't plan it for 1.16 in SIG scheduling, I doubt if this can make it to 1.16, but given that we still have another ~10 days before enhancement freeze, we may still be able to squeeze this in. If I find an owner for this, I will update it and will let you know.
Let's remove this from 1.16 for now.

[2019-07-19 23:33] #1154 closed

[2019-07-19 23:33] kattawar commented on #1154
closed, looks like 1.8 added backofflimit

[2019-07-20 05:51] jfbai commented on #785
@bsalamat I’d like to work on this if you have not assign to anyone.

[2019-07-21 15:45] feloy opened #1157 "Explain Categories and Expand"
# Enhancement Description
- One-line enhancement description (can be used as a release note): kubectl explain display fields by category instead of by alphabetic order (when available) and can expand fields
- Kubernetes Enhancement Proposal: #1156
- Primary contact (assignee): @feloy
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release target

[2019-07-21 19:09] kacole2 commented on #1157
/milestone v1.16
/stage alpha

[2019-07-22 23:48] bsalamat commented on #785
@jfbai Please go ahead and send a KEP as soon as possible. The KEP must be merged by the end of July for this to be considered for 1.16.

[2019-07-23 03:09] kacole2 commented on #1043
@PatrickLang we need to keep this open until the feature has graduated to stable. Is there any other reason why it should be closed?

[2019-07-23 06:02] matthyx commented on #950
@kacole2 I got some news from @dchen1107 and I now have a reviewer (@Random-Liu) and an approver (@derekwaynecarr). Please see her comment [here](https://github.com/kubernetes/enhancements/pull/1134#issuecomment-513969069).

Could you update the status of this KEP on your tracking sheet?

[2019-07-23 06:18] fudali113 commented on #1073
@kacole2
this is k/k PR:
https://github.com/kubernetes/kubernetes/pull/66105

[2019-07-23 06:19] wojtek-t opened #1164 "Deprecate and remove SelfLink"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Deprecate and remove SelfLink fields
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1164-remove-selflink)
- Primary contact (assignee): wojtek-t
- Responsible SIGs: sig-apimachinery, sig-scalability
- Enhancement target (which target

[2019-07-23 13:03] kacole2 commented on #950
@matthyx done! thanks for responding. I've got the sheet updated.

[2019-07-24 12:32] bertinatto commented on #565
We also need https://github.com/kubernetes/kubernetes/pull/80091.

[2019-07-24 15:24] bswartz commented on #565
@mariantalla During the SIG meeting last week I realized that I was too optimistic. We're **not** going to move this to GA in 1.16 regardless of how much progress we make. We're trying to address these issues with an eye towards GA in 1.17.

[2019-07-25 09:55] jfbai commented on #785
@bsalamat Are there any big changes against kube-scheduler configuraions when graduating to v1beta1? Or, just keep it same as v1alpha1?

[2019-07-25 23:54] sudeshsh commented on #964
@kacole2, yes this will be in 1.16 as alpha release, I'll update the KEP to indicate that today itself.

[2019-07-26 13:26] kacole2 commented on #998
Closing because of https://github.com/kubernetes/enhancements/pull/1127#issuecomment-515226656

/close
/milestone clear

[2019-07-26 13:26] #998 closed

[2019-07-26 13:30] kacole2 commented on #964
/milestone v1.16

[2019-07-26 19:15] liggitt commented on #571
added

[2019-07-27 03:32] kacole2 commented on #565
/milestone clear

[2019-07-27 03:36] spiffxp commented on #714
/remove-lifecycle stale
/unassign @ixdy
/assign

It's unlikely we're going to move this forward for v1.16.  The next step would be removing the mondo tarball.  At most I will announce its deprecation more loudly in anticipation of removing it in v1.17

[2019-07-27 03:37] spiffxp commented on #714
/milestone v1.17

[2019-07-29 12:33] simplytunde commented on #95
Hey, @liggitt @jpbetz @sttts I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. Let me know if you have any questions!

[2019-07-29 12:36] simplytunde commented on #177
Hey,  @jingxu97 @xing-yang  I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any

[2019-07-29 12:48] xing-yang commented on #177
Hi @simplytunde, we need to modify a few places in the docs to change from v1alpha1 to v1beta1 and also indicates the feature gate change.  Will submit a doc PR soon.  Thanks.

[2019-07-29 12:57] simplytunde commented on #277
Hey,  @verb  I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-07-29 12:58] simplytunde commented on #492
Hey,  @jpbetz  @liggitt  @caesarxuchao   I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if

[2019-07-29 13:00] simplytunde commented on #508
Hey, @aojea  I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-07-29 13:03] simplytunde commented on #551
Hey, @yastij  I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-07-29 13:05] simplytunde commented on #555
Hey, @apelisse @lavalamp I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any qu

[2019-07-29 13:16] aojea commented on #508
@neolit123 @timothysc I think I can add a section to kubeadm docs https://github.com/kubernetes/website/tree/master/content/en/docs/setup/production-environment/tools/kubeadm like `Configuring your Kubernetes cluster to use IPv6`,  what do you think? does it work for you?

[2019-07-29 13:18] simplytunde commented on #556
Hey,  @gnufied I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-07-29 13:19] simplytunde commented on #563
Hey, @leblancd  I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

[2019-07-29 13:20] simplytunde commented on #571
Hey, @sttts @nikhita I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questi

[2019-07-29 13:27] simplytunde commented on #575
Hey, @nikhita @sttts   I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any ques

[2019-07-29 13:27] neolit123 commented on #508
@aojea
depends what you plan to add to the docs?

these sections already mentions that ipv6 is supported by kubeadm:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#initializing-your-control-plane-node
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

[2019-07-29 13:28] simplytunde commented on #586
Hey,  @feiskyer   I'm the v1.16 docs release lead.

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions

[2019-07-29 13:39] mrbobbytables commented on #853
@josephburnett @gliush I'm one of the 1.16 Enhancement Shadows -- I just wanted to check in. Do you think the KEP will have the graduation criteria and be bumped to an implementable state by the freeze tomorrow?

[2019-07-29 13:42] feiskyer commented on #586
docs are not required for this feature. However, we're working on the e2e tests.

[2019-07-29 14:39] mariantalla commented on #508
/assign @aojea
/unassign @danehans

[2019-07-29 14:47] mariantalla commented on #508
Hey @aojea - just a quick reminder that Enhancements Freeze 🥶is tomorrow. This enhancement is at risk at the moment, because its KEP is not merged yet.

[2019-07-29 14:48] mariantalla commented on #1138
Hey @aojea  - just a quick reminder that this enhancement is currently at risk as its KEP hasn't merged yet (enhancements freeze is tomorrow).

[2019-07-29 14:49] verb commented on #277
Hi @simplytunde, I could use your help figuring that out. Right now it looks like the feature might be available in the API without being part of kubectl. My expectation is that we'll want to include this in the release notes, but not document it on the website until there's an official utility.

Let me know if you disagree, and I'll let you know if kubectl support materializes sooner than expecte

[2019-07-29 15:14] kacole2 commented on #177
@xing-yang @jingxu97
Enhancement freeze is EOD 7/30. This issue still requires a merged KEP to be considered a part of the release. This is being labeled as `At Risk` and will be dropped from the milestone if it's not merged tomorrow. Thanks.

[2019-07-29 15:15] neolit123 commented on #1103
@kacole2
hi, no this is more of a proposal to remove an existing KEP.

[2019-07-29 15:18] neolit123 opened #1177 "Advanced configurations with kubeadm (using Kustomize)."
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Add a new kubeadm feature that will allow users to apply kustomize patches to static pod manifests generated by kubeadm during kubeadm init, join and kubeadm upgrade.
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR) https://github.com/kubernetes/enhancemen

[2019-07-29 15:22] neolit123 commented on #1177
@kacole2 hi, i've just added this issue / feature to `tracked/yes`. please update if needed.
the KEP just merged https://github.com/kubernetes/enhancements/pull/1159

[2019-07-29 15:23] mrbobbytables commented on #1157
@feloy one of the 1.16 Enhancement shadows here -- Just as a general reminder -- the Enhancement freeze is End-of-Day tomorrow (7/30).

The  KEP must be merged and in an implementable state with graduation criteria to be considered a part of the release. For now it is being labeled as **At Risk** and will be dropped from the milestone if it's not merged tomorrow.

Thanks!

[2019-07-29 15:43] dims commented on #277
@verb is it possible to use say `kubectl edit` to add a ephemeral container easily?

[2019-07-29 15:51] verb commented on #277
@dims no, the only way to add an ephemeral container is using a new `ephemeralcontainers` subresource of pod once the pod has been created.

[2019-07-29 16:00] kacole2 commented on #1138
@aojea is this related to #508? If so, I believe we should close this and track it in that issue.

[2019-07-29 16:02] mrbobbytables commented on #1122
@ddebroy @PatrickLang one of the 1.16 Enhancement shadows here -- Just as a general reminder -- the Enhancement freeze is End-of-Day tomorrow (7/30).

The KEP must be merged and in an implementable state with graduation criteria to be considered a part of the release. For now it is being labeled as At Risk and will be dropped from the milestone if it's not merged tomorrow.

Thanks!

[2019-07-29 16:12] kacole2 commented on #1177
@neolit123 I got you. thanks!

[2019-07-29 16:20] kacole2 commented on #571
@nikhita @sttts @liggitt Enhancement Freeze is tomorrow and the KEP is currently in a *Provisional* state. Anyway to get this modified to *Implementable* for 1.16 release?

[2019-07-29 16:22] liggitt commented on #571
Yes, that is getting finalized today.

[2019-07-29 16:24] kacole2 commented on #508
I believe the KEP is being tracked in #1138 . Can we collapase that into this issue?

[2019-07-29 16:28] kacole2 commented on #551
@yastij Enhancement freeze is tomorrow. I noticed the KEP at #1116 still isn't merged. This is your notice that it will be dropped from the 1.16 milestone if not done by EOD tomorrow. Thanks

[2019-07-29 16:32] aojea commented on #508
@simplytunde seems that the user-facing documentation is already covered

[2019-07-29 16:38] neolit123 commented on #508
i wouldn't say kubeadm is the only user facing documentation for IPv6 support, but will defer to SIG Network and the maintainers of this feature.

[2019-07-29 16:55] BenTheElder opened #1179 "Building Kubernetes Without In-Tree Cloud Providers"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Enable building Kubernetes without the in-tree (legacy) cloud providers.
- Kubernetes Enhancement Proposal: [20190729-building-without-in-tree-providers.md](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190729-building-without-in-tree-providers.md)
- Primary contact (ass

[2019-07-29 17:07] kacole2 commented on #600
@pbarker there wasn't any notification if this was going to make it in 1.16. Can you let me know if this should be tracked or not?

[2019-07-29 17:14] kacole2 commented on #667
@lachie83 @justaugustus @khenidak friendly reminder that this KEP is a **Provisional** state and needs to be **Implementable** by EOD tomorrow for Enhancement freeze of 1.16. Thanks

[2019-07-29 17:23] kacole2 commented on #784
Hi @luxas this is a reminder that the KEP needs to be merged by EOD tomorrow or it will be removed from the 1.16 milestone. Thanks.

[2019-07-29 17:29] kacole2 commented on #85
@davidopp @mortent @bsalamat @liggitt is this going to be graduating to stable based on #904 being merged?

[2019-07-29 17:31] kacole2 commented on #981
@mortent this is a reminder that tomorrow is Enhancement Freeze. Can you let me know how this is connected to #85 and if this issue is requiring #904 to be merged?

[2019-07-29 17:34] BenTheElder commented on #1179
/sig cloud-provider
/sig release

[2019-07-29 17:58] kacole2 commented on #1067
@harche this is a reminder that Enhancement Freeze is tomorrow and this keep needs to be merged by EOD. Thanks

[2019-07-29 17:59] kacole2 commented on #1073
@fudali113  this is a reminder that Enhancement Freeze is tomorrow and this keep needs to be merged by EOD. If not, it will be removed from the milestone. Thanks

[2019-07-29 18:00] kacole2 commented on #1101
@apelisse this is a reminder that Enhancement Freeze is tomorrow and this KEP #1099  needs to be merged by EOD. If not, it will be removed from the milestone. Thanks

[2019-07-29 18:01] aojea commented on #1138
@kacole2 indeed is related, Im not very familiar with the process and opened a new one just for beta, feel free to close this so we can track everything in one issue only

[2019-07-29 18:02] kacole2 commented on #1138
@aojea perfect. Please comment in #508 with your PR for the KEP and we will be good to go. Thanks for responding back

/milestone clear
/close

[2019-07-29 18:02] #1138 closed

[2019-07-29 18:06] kacole2 commented on #1179
@BenTheElder I'm sure you know Enhancement Freeze is tomorrow so this is your notice that #1180 needs to be merged by then. Thanks!

/milestone v1.16
/stage alpha

[2019-07-29 18:41] VineethReddy02 commented on #589
Hey, @wojtek-t  @gaorong  I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-07-29 18:49] VineethReddy02 commented on #596
Hey, @pohly   I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-07-29 18:51] VineethReddy02 commented on #598
Hi @mbohlool & @roycaihw, I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-07-29 18:55] VineethReddy02 commented on #600
Hi @pbarker, I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-07-29 19:37] apelisse commented on #1101
Thanks for the reminder Kendrick, work is actually going-on (https://github.com/apelisse/enhancements/pull/1) and mostly driven by @sttts
We'll try to mark it implementable before tomorrow!

[2019-07-29 21:21] BenTheElder commented on #1179
Hi @kacole2, yes, @justaugustus suggested that we should probably file an extension for this since it:
- isn't user facing
- shouldn't be a risk to the release
- already has a partially reviewed implementation of the github.com/kubernetes/kubernetes changes

I will go look into that now, as I suspect the addition of a KEP to cover at this point this means review will go into tomorrow at minimum, b

[2019-07-29 21:35] derekwaynecarr commented on #127
@kacole2 I do not anticipate this making further progress in 1.16 as we are still stalled on approach.

[2019-07-29 22:17] ddebroy commented on #1122
A provisional version of the KEP has been merged: https://github.com/kubernetes/enhancements/pull/1141

I will have the PR to move to `implementable` by EOD and seek approval from approvers.

[2019-07-29 22:19] freehan commented on #752
KEP merged. Will start pushing PRs.

[2019-07-30 00:10] bsalamat commented on #785
Initially we didn't plan to make any changes, but now we should make sure that fields are optional as is proposed by: https://github.com/kubernetes/enhancements/pull/1173

We need to wait for that KEP to be implemented. For that reason, we cannot promote the scheduler config to beta in 1.16.

[2019-07-30 01:28] ddebroy commented on #1122
PR to move KEP to `implementable`: https://github.com/kubernetes/enhancements/pull/1184

[2019-07-30 03:20] feiskyer commented on #667
Pending on https://github.com/kubernetes/enhancements/pull/1158.

[2019-07-30 03:21] feiskyer commented on #604
Yep, we're working on the e2e tests for this.

[2019-07-30 03:26] jfbai commented on #785
I see, thanks a lot.

[2019-07-30 03:31] jfbai commented on #785
/assign

[2019-07-30 07:15] fabriziopandini commented on #1177
@neolit123 thanks for taking care of creating this issue!

[2019-07-30 07:20] fabriziopandini commented on #1053
@neolit123 @kacole2, if I'm not wrong, this issue should be set to tracked yes
/kind feature

[2019-07-30 07:30] wojtek-t commented on #589
I decided that we will wait for one more release to graduate to GA to get a bit more feedback about the feature.

/tracked no

[2019-07-30 10:13] konghui opened #1186 "Add status code and content check for HTTP Probe"
# Enhancement Description
- One-line enhancement description (can be used as a release note):  User can add status code info and probe response content to check there web service work correct or not
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/pull/1187)
- Primary contact (assignee): konghui
- Responsible SIGs: sig-apimachinery
- Enhancement target (which tar

[2019-07-30 11:15] neolit123 commented on #1053
updated -> tracked/yes.

[2019-07-30 12:03] mrbobbytables commented on #1053
@akutz @neolit123 @fabriziopandini -- One of the 1.16 enhancement shadows here -- Just as a friendly reminder that the KEP itself **must** be in an `Implementable` state by EOD today. It'd also be helpful to update the original issue with links to the [KEP directly](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/20190506-kubeadm-machine-output.md) now tha

[2019-07-30 12:14] mortent commented on #981
@kacole2 I created this issue for 1.15 for the change to expand PDB support to custom resources. For 1.16 we are planning to bring the full PDB api to GA. Should we keep this issue for this?
I will follow up to get a last lgtm to #904 so it can be merged.

[2019-07-30 12:26] neolit123 commented on #1053
thanks for the heads up @mrbobbytables

sent PR for that:
https://github.com/kubernetes/enhancements/pull/1188

updated.

[2019-07-30 12:30] Joseph-Irving commented on #753
I've opened https://github.com/kubernetes/kubernetes/pull/80744 which implements the kubelet changes.

Please note that kubernetes/kubernetes#79649 (api) is still open so this PR contains commits from it, making it seem large. I've broken it down into commits that each implement a different bit of functionality so it should be easy to review it that way.

I've not quite finished doing all the test

[2019-07-30 12:50] kacole2 commented on #981
@mortent for tracking purposes, does this issue of "PDB support for custom resources with scale subresource" encompass or umbrella "the full PDB api to GA"? Then it needs to be tracked.

 If #85 is "the full PDB api to GA", then we need to track #85

[2019-07-30 13:16] mortent commented on #981
@kacole2 I consider them two separate efforts, so I think it would make sense to close this and either create a new issue to track the GA effort or we can track it through #85.

It looks like #85 has not been updated in a while as PDBs has been in beta for several releases. The effort has been guided by the discussion in #904

[2019-07-30 13:28] kacole2 commented on #981
@mortent thanks for the clarification.

I would like to have a single issue be tracking a KEP as it graduates between stages. No need to create a new issue every time.

If there is an additional enhancement created that is not "core" to the original enhancement, we can create a new feature.

So #904 is exactly what we need as it relates to #85 . A single KEP should be associated with a single issu

[2019-07-30 13:57] mrbobbytables commented on #1186
Hey there @konghui. Just as a general reminder the Enhancement freeze is EOD today (7/30). The KEP must be merged and in an implementable state with graduation criteria to make it into this release. An [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md)  can filed if you think it won't get in by EOD, but it will require approval from the [release lead](https:/

[2019-07-30 14:13] mortent commented on #981
@kacole2 That makes sense. Let's close this one as it tracked a relatively minor improvement to PDBs and this change shipped with 1.15. Then we use #85 to track the GA work. I will update #85 to reflect the current state of PDBs.

[2019-07-30 14:38] kacole2 commented on #981
/milestone clear
/close

[2019-07-30 14:38] #981 closed

[2019-07-30 14:39] kacole2 commented on #85
/milestone v1.16
/stage stable

[2019-07-30 16:01] neolit123 commented on #1053
as discussed with @timothysc on slack we are not going to track this in 1.16.

[2019-07-30 16:32] mrbobbytables commented on #1053
Thanks for the update @neolit123 I'll go ahead and remove it from the tracking sheet 👍

[2019-07-30 18:18] derekwaynecarr commented on #693
Agree this will land in alpha for 1.16, we will close out the effort started and captured in the kep previously merged for 1.15.

[2019-07-30 19:06] justaugustus commented on #617
Hey @rbitia! No code is landing in k/k. It's tracking a process change, so no need to track this one.

[2019-07-30 19:52] champak commented on #555
Is a limited version of server-side apply available in v 13 (that is where my cluster is at) ? Some exchanges above seemed to imply it may be. My use case is for creating pods/deplyments/services in the reconcile loop of an operator. Using the api/core<>Pod etc. is tedious and error prone and being able to use a server api to apply yaml would be a lot cleaner for me. Thanks for any suggestions..

[2019-07-30 22:12] hh commented on #492
There is a requirement that GA/stable APIs must have conformance tests:
See: https://github.com/kubernetes/community/pull/1806/files

I created an umbrella issue for missing conformance tests using https://apisnoop.cncf.io:
See: https://github.com/kubernetes/kubernetes/issues/80767

/assign @timothysc

[2019-07-30 23:52] PatrickLang commented on #1001
/milestone v1.17
Not likely to complete in 1.16, still having issues getting containerd work on Windows moving forward.

[2019-07-31 12:12] harche commented on #1067
@kacole2 After the discussion in the sig-node call last Tuesday it was suggested that we should target 1.17 instead of 1.16 for this feature.

[2019-07-31 13:16] konghui commented on #1186
Thanks.

[2019-07-31 13:56] kacole2 commented on #508
@aojea @danehans @lachie83
Enhancement Freeze has passed for 1.16. The KEP at #1139 was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/mast

[2019-07-31 13:58] kacole2 commented on #551
@yastij

Enhancement Freeze has passed for 1.16. The KEP at #1116 was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/master/releases/releas

[2019-07-31 14:00] kacole2 commented on #600
@pbarker @tamalsaha

Enhancement Freeze has passed for 1.16. I never received a response if this will be graduating stage in 1.16 or if work is being done. This is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](http

[2019-07-31 14:01] kacole2 commented on #667
@feiskyer @lachie83 @justaugustus @khenidak

Enhancement Freeze has passed for 1.16. The KEP at #1158 was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig

[2019-07-31 14:02] kacole2 commented on #784
@luxas @rosti

Enhancement Freeze has passed for 1.16. The KEP at #1104  was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/master/releases

[2019-07-31 14:03] aojea commented on #508
@kacole2 thanks for following up, let's target 1.17 then.

[2019-07-31 14:04] kacole2 commented on #853
@josephburnett @gliush

Enhancement Freeze has passed for 1.16. The KEP at is still in a *Provisional* state and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/b

[2019-07-31 14:04] kacole2 commented on #1067
/milestone v1.17

[2019-07-31 14:05] kacole2 commented on #1073
@fudali113

Enhancement Freeze has passed for 1.16. The KEP at #1072  was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/master/releases/re

[2019-07-31 14:06] kacole2 commented on #1101
@apelisse @sttts

Enhancement Freeze has passed for 1.16. The KEP at #1099  was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/master/relea

[2019-07-31 14:06] kacole2 commented on #1157
@feloy

Enhancement Freeze has passed for 1.16. The KEP at #1156  was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/master/releases/releas

[2019-07-31 14:07] kacole2 commented on #1179
@BenTheElder @justaugustus

Enhancement Freeze has passed for 1.16. The KEP at #1180  was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/ma

[2019-07-31 14:08] kacole2 commented on #1186
@konghui

Enhancement Freeze has passed for 1.16. The KEP at #1187  was never merged and now this is being removed from the 1.16 milestone. If this would like to be re-added, please file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and it will require approval from the [release lead](https://github.com/kubernetes/sig-release/blob/master/releases/rele

[2019-07-31 14:11] apelisse commented on #1101
Thanks Kendrick, we've decided to take our time and do it well! We're planning to do it for the next release

[2019-07-31 14:33] fudali113 commented on #1073
ok , can i add this enhancement to 1.17 ?

btw , why not reviewers to review my https://github.com/kubernetes/enhancements/pull/1072 mr ?

 @kacole2

[2019-07-31 15:35] tamalsaha commented on #600
@kacole2 , I believe @liggitt is the right person to contact on this feature. Please see his recent response https://github.com/kubernetes/kubernetes/pull/71230#issuecomment-511535527

My reading of @liggitt's comment is that this features is back to KEP phase.

[2019-07-31 22:46] BenTheElder commented on #1179
Thanks @kacole2, I've filed an exception request :crossed_fingers:

[2019-07-31 23:37] johnbelamaric opened #1194 "Production readiness review process"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduces a production readiness review process for Kubernetes features
- Kubernetes Enhancement Proposal: #1193
- Primary contact (assignee): @johnbelamaric
- Responsible SIGs: sig-architecture, sig-release
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  -

[2019-08-01 16:56] VineethReddy02 commented on #693
Hi @lmdaly , I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-08-01 16:57] VineethReddy02 commented on #692
Hi @roycaihw, I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-08-01 16:58] VineethReddy02 commented on #689
Hi @ddebroy , I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-08-01 16:59] VineethReddy02 commented on #688
Hi @tallclair, I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-08-01 17:00] VineethReddy02 commented on #625
Hi @davidz62, I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-08-01 17:01] VineethReddy02 commented on #624
Hi @bsalamat, I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-08-01 17:02] VineethReddy02 commented on #604
Hi @feiskyer, I'm the v1.16 docs release shadow.

Does this enhancement require any new docs (or modifications)?

Just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday,August 23rd. It would be great if it's the start of the full documentation, but even a placeholder PR is acceptable. Let me know if you have any questions!

Thanks!

[2019-08-01 17:10] ddebroy commented on #689
@VineethReddy02 yes, we will have doc changes as part of the v1.16. Will open PRs on the repo you pointed.

[2019-08-01 17:41] tallclair commented on #688
No changes in 1.16

[2019-08-01 21:58] davidz627 commented on #625
These docs are still fairly accurate: https://github.com/kubernetes/website/pull/12935/files
however, it looks like we'll need to update the feature state to 'beta'.

[2019-08-01 22:03] davidz627 commented on #625
https://github.com/kubernetes/website/pull/15629

[2019-08-02 00:00] leakingtapan commented on #625
ack. Will post the decision here once I figure out.

[2019-08-02 01:44] feiskyer commented on #604
@VineethReddy02 Thanks, no new docs are required.

[2019-08-02 02:10] bgrant0607 commented on #85
Note that the design doc is here:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/rescheduling.md

The lack of a reasonable way to handle maxUnavailable=0 is a problem. My thoughts on that are here:
https://github.com/kubernetes/kubernetes/issues/66811#issuecomment-517520271

[2019-08-02 06:10] wojtek-t commented on #383
@deads2k - I don't think this was supposed to be closed :)

[2019-08-02 11:20] yue9944882 commented on #692
/sub

[2019-08-02 17:14] cjwagner opened #1195 "GitHub settings for this repo disallow squash merges."
https://prow.k8s.io/tide-history?repo=kubernetes%2Fenhancements

Please have a repo admin enable `squash` merges in the GH repo settings or do not use the `tide/merge-method-squash` label.

[2019-08-02 21:46] smarterclayton commented on #1143
Would like to get an exception for 1.16, trying to get approval on the KEP (Jordan and Justin were primary reviewers, Derek helped take a look from sig-node).  Will follow up early next week.

[2019-08-03 20:56] apelisse commented on #555
@champak, you can try it out using by turning on the feature-gate "ServerSideApply" your apiserver, but please keep in mind that this is still an alpha feature.

[2019-08-04 14:36] sethmccombs commented on #1177
Hey @neolit123 @fabriziopandini

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it

[2019-08-04 14:37] sethmccombs commented on #1164
Hey @wojtek-t

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a plac

[2019-08-04 14:38] sethmccombs commented on #1122
Hey @ddebroy

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a place

[2019-08-04 14:39] sethmccombs commented on #1043
Hey @PatrickLang

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a p

[2019-08-04 14:39] neolit123 commented on #1177
hi @sethmccombs

Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

yes, it does require docs.

i've added a `placeholder docs PRs: TODO` note in the OP.
we will definitely create place holder PRs before the 23rd.

thanks for the heads up!

[2019-08-04 14:40] sethmccombs commented on #1040
Hey @yue9944882 @MikeSpreitzer,

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it

[2019-08-04 14:41] sethmccombs commented on #1027
Hey @apelisse

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a plac

[2019-08-04 14:43] sethmccombs commented on #995
Hey @ksubrmnn @michmike

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just

[2019-08-04 14:44] sethmccombs commented on #989
Hey @j-griffith

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a pl

[2019-08-04 14:45] sethmccombs commented on #964
Hey @sudeshsh,

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a pla

[2019-08-05 03:21] simplytunde commented on #586
Thanks @feiskyer

[2019-08-05 06:31] wojtek-t commented on #1164
It will require some updates in the existing doc - I will open a PR closer to the time.

[2019-08-05 16:13] guineveresaenger commented on #1186
/milestone v1.17

[2019-08-05 16:48] kacole2 commented on #604
@feiskyer **urgent request** can you please update the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/azure/20180809-cross-resource-group-nodes.md) with Graduation Criteria. This is a requirement for being included in the current 1.16 milestone. Please respond back with the PR ASAP. Thank you.

[2019-08-05 18:49] ksubrmnn commented on #995
@daschott

[2019-08-06 01:43] feiskyer commented on #604
@kacole2 thanks, would do

[2019-08-06 03:39] feiskyer commented on #586
E2e tests are now added via a set of changes:

* https://github.com/kubernetes/cloud-provider-azure/issues/176
* https://github.com/kubernetes/cloud-provider-azure/pull/196
* https://github.com/kubernetes/test-infra/pull/13620

Documentation has been added to https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/using-availability-zones.md.

So we are ok to close this now.

/close

[2019-08-06 03:39] #586 closed

[2019-08-06 04:38] feiskyer commented on #604
Update: PR sent at https://github.com/kubernetes/enhancements/pull/1202

[2019-08-06 13:07] daminisatya commented on #85
@davidopp @mortent @bsalamat @liggitt

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23r

[2019-08-06 13:08] daminisatya commented on #752
@freehan @wojtek-t

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a

[2019-08-06 13:09] daminisatya commented on #753
@Joseph-Irving

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a pla

[2019-08-06 13:09] daminisatya commented on #758
@cmluciano

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a placeho

[2019-08-06 13:10] daminisatya commented on #894
@yastij @tallclair

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a

[2019-08-06 13:10] daminisatya commented on #895
@bsalamat @Huang-Wei

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be

[2019-08-06 13:11] daminisatya commented on #950
@matthyx

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a placehold

[2019-08-06 13:11] daminisatya commented on #956
@wojtek-t

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a placehol

[2019-08-06 13:11] daminisatya commented on #961
@krmayankk

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a placeho

[2019-08-06 13:11] daminisatya commented on #962
@xing-yang
I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a placehol

[2019-08-06 13:12] daminisatya commented on #980
@MrHohn

I'm one of the v1.16 docs shadows.
Does this enhancement (or the work planned for v1.16) require any new docs (or modifications to existing docs)? If not, can you please update the 1.16 Enhancement Tracker Sheet (or let me know and I’ll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.16) due by Friday, August 23rd, it can just be a placeholde

[2019-08-06 13:17] wojtek-t commented on #956
@daminisatya - this PR is opened already (and lgtm-ed from technical point of view):
https://github.com/kubernetes/website/pull/15530

[2019-08-06 13:23] matthyx commented on #950
Hi Satya,

I will do a PR on the 1.16 branch for the doc... sorry for the delay.

Matthias

On Tue, Aug 6, 2019 at 3:11 PM Damini Satya <notifications@github.com>
wrote:

[2019-08-06 13:38] Joseph-Irving commented on #753
Hi @daminisatya, yes this will need updates to Docs, I've raised https://github.com/kubernetes/website/pull/15693 as a placeholder PR.
I'd be interested to know if anyone has any opinions on where the Docs should go, I've put something in `content/en/docs/concepts/workloads/pods/pod-lifecycle.md` for now.

[2019-08-06 17:18] MrHohn commented on #980
@daminisatya Thanks for the reminder. Yes we will need to update the existing doc regarding beta. I will make sure to follow the timeline.

[2019-08-06 17:23] xing-yang commented on #962
@daminisatya This does not require any doc changes.  Can you please update the 1.16 Enhancement Tracker Sheet?  Thanks!

[2019-08-06 18:18] Huang-Wei commented on #895
@daminisatya It needs new docs. The doc PR (placeholder atm) has been created - https://github.com/kubernetes/website/pull/15514

[2019-08-06 19:22] pohly commented on #596
Doc change for 1.16 here: https://github.com/kubernetes/website/pull/15705

[2019-08-06 20:02] ddebroy commented on #689
docs PR: https://github.com/kubernetes/website/pull/15706

[2019-08-06 20:55] bsalamat commented on #624
Hi @VineethReddy02,
This feature had a document already: https://kubernetes.io/docs/concepts/configuration/scheduling-framework/

We initially wanted to move the feature to beta in 1.16, but we decided to postpone promotion to beta to 1.17 in order to have higher confidence about stability of the API.

[2019-08-06 20:59] kacole2 commented on #624
/milestone v1.17

[2019-08-06 21:34] BenTheElder commented on #1179
KEP is merged and implementable in https://github.com/kubernetes/enhancements/pull/1180

[2019-08-06 23:00] leakingtapan commented on #625
Confirming that we are bring MigrationAWS to beta as well.

[2019-08-06 23:00] leakingtapan commented on #625
/cc @wongma7

[2019-08-07 06:42] matthyx commented on #950
https://github.com/kubernetes/website/pull/15714

On Tue, Aug 6, 2019 at 3:23 PM Matthias Bertschy <
matthias.bertschy@gmail.com> wrote:

[2019-08-07 12:16] lmdaly commented on #693
Documentation PR: https://github.com/kubernetes/website/pull/15716

[2019-08-07 12:51] brancz opened #1206 "Kubernetes Metrics Overhaul"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Overhauling Kubernetes' metrics instrumentation to align with the Kubernetes' metrics with the [Kubernetes Instrumentation Guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/instrumentation.md).
- Kubernetes Enhancement Proposal: https://github.com/kuber

[2019-08-07 13:12] brancz opened #1207 "EXCEPTION: Kubernetes Metrics Overhaul"
Enhancement name: Kubernetes Metrics Overhaul
Enhancement status (alpha/beta/stable): n/a
SIG: Instrumentation
k/enhancements repo issue #: #1206
PR #’s: https://github.com/kubernetes/kubernetes/pull/80376
Additional time needed (in days): estimated 2
Reason this enhancement is critical for this milestone: This already slipped in the 1.15 release, where it was originally slated, and then agreed up

[2019-08-07 13:27] jfbai opened #1208 "Add ReadOnlyBindAddress field in KubeletConfiguration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add ReadOnlyBindAddress (--readonly-bind-address flag) field in KubeletConfiguration to support that users have chance to bind specific network interface to readonly port, rather than use secure port address.
- Kubernetes Enhancement Proposal: #1212
- Primary contact (assignee): jfbai
- Responsible SIGs:

[2019-08-07 13:51] jfbai commented on #1208
/assign

[2019-08-07 21:04] kacole2 commented on #1207
@brancz thanks for filing the issue and this exception. We provide exception process through using the mailing list. Sorry, processes.

Check this out https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

@lachie83, let me know if we should just use this for now to move forward quick. Or we can close it out.

[2019-08-07 21:06] kacole2 commented on #1206
@brancz the graduation criteria in the KEP needs to be more detailed on what make it move between stages. The current is very vague.

@lachie83 @mrbobbytables @rbitia @mariantalla @evillgenius75

[2019-08-07 21:12] ehashman commented on #1206
@kacole2 graduation criteria section is vague because this KEP is basically a collection of individual tasks that are graduated once completed.

As @brancz summarized in the first comment, everything has landed except for the full deprecation of the inconsistent labels, which is proposed for the 1.16 release, and removal of deprecated metrics targeted for 1.17. Once those are complete the KEP will

[2019-08-08 00:09] logicalhan opened #1209 "Metrics Stability Enhancement"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduce a framework for providing stability guarantees for Kubernetes control plane metrics.
- Kubernetes Enhancement Proposals: [Metrics Stability Framework](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md), [Metrics

[2019-08-08 06:22] krmayankk commented on #961
@daminisatya  we do not not require any docs for this feature since this is an alpha feature. So we are good.

Also I do realize, that you and are also from Salesforce

[2019-08-08 06:30] brancz commented on #1207
I also emailed it already so either way works for me :)

[2019-08-08 16:07] daschott commented on #995
@sethmccombs we would like to add a new page on how to join Windows nodes to the [kubeadm docs](https://github.com/kubernetes/website/tree/master/content/en/docs/setup/production-environment/tools/kubeadm) but the exact content of that page have yet to be confirmed 100%. Is it OK if we raise a placeholder PR for now?

[2019-08-08 16:50] daschott commented on #995
@sethmccombs I raised https://github.com/kubernetes/website/pull/15750 as a placeholder PR for the doc updates.

[2019-08-08 19:14] lachie83 commented on #1207
Thanks @brancz @kacole2. Closing in favor of ML thread - https://groups.google.com/forum/#!topic/kubernetes-release-team/SY6S-6ZuDbI

[2019-08-08 19:14] #1207 closed

[2019-08-09 00:22] freehan commented on #752
Yes. We will try to catch the deadline to add docs.

[2019-08-09 08:39] feiskyer commented on #604
Documents have been added at https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/using-cross-resource-group-nodes.md.

E2e tests have been added at https://github.com/kubernetes/cloud-provider-azure/pull/205.

Because aks-engine doesn't support to provision cross-resource-group nodes, the e2e tests couldn't be run periodically yet. But I think aks-engine should not be the blocker f

[2019-08-09 08:39] #604 closed

[2019-08-09 16:03] justinsb commented on #554
We recently discovered that this is even more dynamic than it used to be, because ENIs now count against volume attachments on some AWS instance types: https://github.com/kubernetes/kubernetes/issues/80967

[2019-08-10 15:01] #629 closed

[2019-08-10 18:56] krmayankk commented on #961
https://github.com/kubernetes/enhancements/pull/1010

[2019-08-12 06:10] ddebroy commented on #1122
@sethmccombs, yes there will be docs changes for this feature. I will open a place holder PR to track the docs work against this.

[2019-08-12 12:40] jsafrane commented on #603
No, we're not graduating this feature to GA in 1.16, it stays as Beta.

[2019-08-12 13:08] Levovar commented on #127
(reposting here too)
even if/until total userNS mapping is implemented, having a "runInHostUserNS" flag would help, and I would argue it is anyway required for the complete solution
having the flag without the userNS support would enable us to at least use the existing, node level Docker (not sure about the other runtimes) UID/GID remapping feature. currently the problem is that it is mutually exc

[2019-08-12 14:04] kacole2 commented on #1206
/milestone v1.16
/stage alpha

[2019-08-12 14:34] kacole2 commented on #1209
@logicalhan How is this different than #1206? Is this an on going genesis of #1206? Or is this a completely new Enhancement?

We need to find an umbrella issue for this if this will be in 1.16

[2019-08-12 14:41] kacole2 commented on #1206
@brancz @ehashman is there a certain stage this should be labeled? I added alpha, but not sure if this is beta or moving to GA.

[2019-08-12 17:31] brancz commented on #1206
This is “just” a large scale cleanup that spans multiple releases, there’s not really any stability level around it. Not sure how to answer that question.

[2019-08-12 19:38] brancz commented on #1206
Talked to some folks, we're merging #1209 into this issue as the umbrella issue (they're actually already related as the current issue description says, we'll be updating the issue and comment here again).

[2019-08-12 23:25] PatrickLang commented on #1043
doc PR: https://github.com/kubernetes/website/pull/15378

[2019-08-12 23:28] PatrickLang commented on #1043
test PR: https://github.com/kubernetes/kubernetes/pull/79539

[2019-08-12 23:48] tallclair commented on #688
Whoops, I think I mixed this up with the PodSecurityPolicy issue. We are planning on adding PodOverhead as an alpha feature in v1.16.

@egernst Will you be able to handle the docs PR?

[2019-08-13 00:36] kacole2 commented on #1209
/close
in favor of #1206

[2019-08-13 06:53] serathius commented on #1209
@kacole2 This is someone different effort driven by different people. "Kubernetes Metrics Overhaul" is about unifying how metrics are written. This effort is about introducing stability to
K8s metrics by introducing new library.

[2019-08-13 11:55] mrbobbytables commented on #1206
This is somewhat of a personal opinion but I'd consider this "beta" with the plan to fully deprecate in 1.17 as "stable".

The alpha/beta/stable designation doesn't always align with the effort being done =/ For these I tend to think of it like this:
Alpha == work just beginning, long road ahead -- possibly several releases.
Beta == work in progress, most effort being done here and may span multip

[2019-08-13 15:36] kacole2 commented on #1209
@serathius I think there is a disconnect. There needs to be an issue created for each type of Enhancement. I see 3 KEPs here. We've never had 3 KEPs assigned to a single issue.

Can we update the title to be more descriptive? Can we also update the description to be more descriptive of what this enhancement should be tracking? Do all 3 KEPs align to this "single" enhancement?

The way I see it.
1.

[2019-08-13 15:37] kacole2 commented on #1206
@brancz it looks like there is some disconnect over at #1209. Can we find a time to gather all relevant parties to get this sorted out?

@lachie83

[2019-08-13 16:27] logicalhan commented on #1209
We are actually going to merge these under the metrics overhaul KEP, since the stability work is (at this point) a precondition of the overhaul metric deprecation.

[2019-08-14 14:28] alexkreidler commented on #162
Any updates on this? Are most Kubernetes APIs intended to stay in Alpha for almost 3 years?

I'm not really sure if this feature has the momentum behind it to go into beta, but I know lots of cloud kubernetes environments (EKS, GKE, etc) won't enable it unless it does, and I'm really looking forward to using this feature in a bigger way.

Let me know if anyone is still involved in this feature or

[2019-08-14 16:11] mortent commented on #85
@daminisatya I have created a placeholder PR https://github.com/kubernetes/website/pull/15859

[2019-08-14 17:17] prameshj commented on #1024
Sorry for the delayed response, we are not graduating to stable in 1.16. Will try to target the next release.

[2019-08-14 18:18] daminisatya commented on #894
Any update on docs?

[2019-08-14 18:19] daminisatya commented on #758
@cmluciano any update on docs?

[2019-08-14 18:42] tallclair commented on #894
Yeah, this should have a docs update. I'll send a PR next week.

[2019-08-15 01:20] mJace commented on #693
@lmdaly  Will topology manager provide any information or API to tell users the NUMA configuration for given pod?

[2019-08-15 09:15] lmdaly commented on #693
@mJace something visible via the kubectl describe for the pod?

[2019-08-15 09:29] mJace commented on #693
@lmdaly  Yeah, `kubectl describe` is good. or some api to return related information.
Since we are developing a service to provide some topology related information for pods, like cpu pinning status for pod, and numa node for it's pass-throughed VF.
And some monitor tool like weave scope can call the api to do some fancy work.
Admin can tell if the VNF is under proper numa configuration, for examp

[2019-08-15 10:55] lmdaly commented on #693
@mJace Okay, so currently there is no API like that for Topology Manager. I don't think there is precedence for this, as with CPU & Device Manager there isn't visibility into what has actually been assigned to the pods.

So I think it would be good to start a discussion on this and see what kind of view we can give the users.

[2019-08-15 12:38] mJace commented on #693
I see, I thought CPU & Device Manager is able to see this information.

Maybe the cadvisor is a good role to provide this information.
Because basically cadvisor gets container information like PID, etc. by `ps`  `ls`.
And it's the same way that we check container's topology related information.
I will implement this in cadvisor and create a pr for it.

[2019-08-16 00:23] dims commented on #284
@gnufied is the `CSI volume expansion` still on target for beta in 1.16?

[2019-08-16 08:44] mJace commented on #693
I've created a related issue in cadvisor.
https://github.com/google/cadvisor/issues/2290

[2019-08-16 17:48] MikeSpreitzer commented on #1040
@evillgenius75 : Yes, this feature needs docs.  I do not see how to update the tracking spreadsheet myself; is that something I leave to you?

@sethmccombs : please see my plea for help on the sig-docs Slack channel of the Kubernetes workspace

[2019-08-16 18:03] cmluciano commented on #758
Not yet. We still haven't made many changes, but some should be going in soonish.

[2019-08-19 06:09] leakingtapan commented on #630
/close
since csi drivers are tracked out of tree by storage providers

[2019-08-19 06:09] #630 closed

[2019-08-19 07:34] davidstack opened #1215 "should DevicePlugin pluginapi.AllocateRequest add pod info and container info"
What would you like to be added:
when kubelet call deviceplugin api Allocate,add pod info and container info paramerent, such as

`type AllocateRequest struct {
Pod *v1.Pod
Container Container
ContainerRequests []*ContainerAllocateRequest
}

`

Why is this needed:
in machine learning, when schedule GPU for Pod, because of NUMA info,user may want to select GPU ID on the node,one pod should use the

[2019-08-19 07:35] davidstack commented on #1215
/sig scalability /sig Architecture /sig Machine Learning /sig Machine Learning /sig Node /sig Scheduling

[2019-08-19 12:14] brancz commented on #1206
Sorry for taking a bit. I edited the issue to reflect alpha/beta/stable timelines and tasks.

[2019-08-19 12:38] xing-yang commented on #177
In-tree PR is submitted here: https://github.com/kubernetes/kubernetes/pull/80058.
Out-of-tree PR is submitted here: https://github.com/kubernetes-csi/external-snapshotter/pull/139

[2019-08-19 12:52] xing-yang commented on #177
Doc PR submitted: https://github.com/kubernetes/website/pull/15942

[2019-08-19 16:08] simplytunde commented on #1179
@BenTheElder I am 1.16 Doc Lead. We need a placeholder PR for this enhancement before Friday, Aug 23rd. Let me know how I can help to make this happen.

[2019-08-19 16:09] simplytunde commented on #1206
@brancz  I am 1.16 Doc Lead. We need a placeholder PR against k/website(dev-1.16 branch) for this enhancement before Friday, Aug 23rd. Let me know how I can help to make this happen or if doc is not required.

[2019-08-19 17:19] ehashman commented on #1206
I'm happy to jump on the doc PR if needed this week, where do the docs need to be updated @simplytunde?  Do they just need to reflect the timeline/information included in the description of this issue?

[2019-08-19 17:26] apelisse commented on #1027
We're dropping this for now ...
/milestone v1.17

[2019-08-19 18:07] BenTheElder commented on #1179
Hi @simplytunde, this is not user facing and will not have any documentation on k/website.

[2019-08-19 18:59] kacole2 commented on #1027
/milestone v1.17

[2019-08-20 12:48] VineethReddy02 commented on #688
Hi @tallclair  @egernst , As the deadline to open placeholder PR for docs is due by 23rd Aug.
This a friendly reminder we are awaiting for docs PR against k/website.

Thanks!

[2019-08-20 13:35] mvladev opened #1217 "Support for master service of type ExternalName"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support for master service of type ExternalName.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1216
- Primary contact (assignee): @mvladev
- Responsible SIGs: sig-api-machinery
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y

[2019-08-20 13:36] mvladev commented on #1217
/sig api-machinery

[2019-08-20 17:22] egernst commented on #688
I will send a placeholder today. Is there a particular branch to push against, or just master, @VineethReddy02 ?

[2019-08-20 18:00] VineethReddy02 commented on #688
we're looking for a PR against k/website (branch dev-1.16). Update the PR here once it's done.

Thanks @egernst

[2019-08-20 18:53] ddebroy commented on #1122
PRs for this:
in-tree:
https://github.com/kubernetes/kubernetes/pull/81397
out-of-tree:
https://github.com/kubernetes-csi/node-driver-registrar/pull/47
everything under: https://github.com/kubernetes-csi/csi-proxy

[2019-08-20 19:10] ddebroy commented on #689
PRs for this for 1.16:
https://github.com/kubernetes/kubernetes/pull/80320
To enable e2e testing and look at signals through AKS testgrids:
https://github.com/kubernetes-sigs/windows-testing/pull/98

[2019-08-20 21:42] egernst commented on #688
@VineethReddy02 : PTAL: https://github.com/kubernetes/website/pull/15970

[2019-08-21 10:21] verb commented on #277
Update: API and kubelet PRs have merged. Ephemeral containers will be available as an alpha, API-only feature in 1.16. I've opened a KEP to sig-cli to begin a discussion about how debugging should be supported in kubectl.

I've published a proof-of-concept kubectl plugin to https://github.com/verb/kubectl-debug to gather feedback on the feature and kubectl implementation.

[2019-08-21 11:28] simplytunde commented on #1206
@ehashman I do not have enough context on this to make decision on where/what docs needs to be updated. Lets bring it up on sig-instrumentation.

[2019-08-21 11:52] sttts commented on #95
@simonswine the placeholder PR https://github.com/kubernetes/website/pull/15982

[2019-08-21 11:54] sttts commented on #575
@simplytunde the placeholder PR https://github.com/kubernetes/website/pull/15983

[2019-08-21 13:31] liggitt commented on #492
1.16 WIP docs PR at https://github.com/kubernetes/website/pull/15985

[2019-08-21 15:18] simplytunde commented on #752
@freehan  This Friday is the Docs placeholder PR deadline. Please try to get one in against k/website dev-1.16 branch.

[2019-08-21 15:29] simplytunde commented on #989
@j-griffith  The placeholder Docs is due this Friday Aug 23rd.

[2019-08-21 22:49] tallclair commented on #894
Docs PR: https://github.com/kubernetes/website/pull/15989

[2019-08-22 02:40] neolit123 commented on #1177
@sethmccombs

hi, we spoke about whether this requires docs again during the office hours of kubeadm (Wed 21Aug) and decided to not add any documentation for this feature's Alpha stage.

i will defer to @fabriziopandini if we decide to change our mind later down the line.

i've also updated the OP with some WIP/merged PRs.
thanks

[2019-08-22 13:19] archetec commented on #661
Why is this feature request keeps getting pushed to one Enhancement to another...?  This is very important, not only for databases but also for Kafka clusters in production!  Although it's possible to replicate to a new cluster with more storage, and then swtich over, it's not a viable solution.  We need this!

[2019-08-22 13:27] kacole2 commented on #661
@archetec have you joined the meetings for SIG Apps and SIG Storage to see how this can be prioritized? So far, this is in infant stages because the KEP hasn't been approved. That means there is no community consensus for implementation of this feature.

[2019-08-22 14:39] archetec commented on #661
I understand, and I just started to read about this...  Please forgive my partial understanding of the process.

Looking at comments on #660 it looks like there's a solution in review.  But yes I see it's not approved yet, and looks like it's getting pushed to 1.17.

[2019-08-22 15:13] gnufied commented on #661
@archetec the KEP has been approved but @SidakM was fine with moving it to 1.17 since getting the KEP merged within 1.16 time frame required requesting KEP exception. It is tricky feature and it is important to get the details right. We should have this implemented in 1.17.

[2019-08-22 15:22] lachie83 commented on #563
@simplytunde here is the docs PR - https://github.com/kubernetes/website/pull/16010

[2019-08-22 17:25] robscott commented on #752
@simplytunde Thanks for the reminder, we're aiming to have a WIP PR out today.

[2019-08-22 18:29] ddebroy commented on #1122
Placeholder docs PR: https://github.com/kubernetes/website/pull/16017
cc @sethmccombs

[2019-08-22 18:30] simplytunde commented on #752
ok thanks @robscott

[2019-08-22 18:42] simplytunde commented on #1177
@neolit123  I am the 1.16 Docs Lead. I will go ahead and put this down as docs-not-required. @fabriziopandini  Please let me change of this changes before the end of Aug 23.

[2019-08-22 19:42] daminisatya commented on #758
@cmluciano This Friday is the Docs placeholder PR deadline. Please try to get one in against k/website dev-1.16 branch.

[2019-08-22 19:43] daminisatya commented on #980
@MrHohn

This Friday is the Docs placeholder PR deadline. Please try to get one in against k/website dev-1.16 branch.

[2019-08-22 20:30] cmluciano commented on #758
This feature likely wont land within this release bc we don't have all components yet

[2019-08-22 23:27] MrHohn commented on #980
@daminisatya Appreciated the ping. https://github.com/kubernetes/website/pull/16020 is the doc PR.

[2019-08-23 00:39] kfox1111 commented on #162
I just bumped into this feature and it looks to be very useful to me. Whats the plan around this?

[2019-08-23 08:07] Joseph-Irving commented on #753
With less than one week to go before Code Freeze, it's looking very unlikely that this will be able to make it into 1.16.
We've still got two relatively large open PRs kubernetes/kubernetes#80744 and kubernetes/kubernetes#79649 which have struggled to get any reviews.
Hopefully there will be more reviewer bandwidth next release cycle to look at these.

[2019-08-23 15:18] simplytunde commented on #758
@mrbobbytables, can you confirm what @cmluciano mentioned?

[2019-08-23 15:26] kacole2 commented on #758
@cmluciano can you expend on the components or PRs that are still in flight? We can defer this to 1.17 and take it off the 1.16 milestone.

[2019-08-23 15:26] gnufied commented on #556
I will have docs PR by eod today. thank you.

[2019-08-23 15:58] simplytunde commented on #556
@gnufied  Please at me once the Doc is out and I will be tracking also.

[2019-08-23 17:17] cmluciano commented on #758
@kacole2 We have not landed any of the PRs per the [KEP](https://github.com/kubernetes/enhancements/pull/1113). In order for all pieces to land safely, we are trying to use a new branch to collect them and will then merge the entire v1 API at once.

Please bump this to 1.17 @kacole2

[2019-08-23 18:53] simplytunde commented on #758
@kacole2  do you plan to remove them this from the tracking sheet today?

[2019-08-23 18:55] kacole2 commented on #758
Today or tomorrow. Depends when I’m back at my computer.

On Fri, Aug 23, 2019 at 2:53 PM simplytunde <notifications@github.com>
wrote:

--
Kendrick Coleman

kendrickcoleman.com
@KendrickColeman
github.com/kacole2

[2019-08-24 00:55] gnufied commented on #556
placeholder PR is here - https://github.com/kubernetes/website/pull/16043

[2019-08-24 02:16] simplytunde commented on #556
Thanks @gnufied

[2019-08-24 02:26] khenidak commented on #753
/assign

[2019-08-24 02:30] khenidak commented on #693
/assign

[2019-08-26 02:16] kacole2 commented on #85
@mortent code freeze for 1.16 is on Thursday 8/29. Are there any outstanding k/k PRs that still need to be merged for this to go Stable?

There was a concern from @bgrant0607 above that needs to be addresses. All of the k/k PRs in the original post have been merged or closed. Please advise. Thanks!

[2019-08-26 03:59] mortent commented on #85
@kacole2 I'm still working on this. The WIP PR is https://github.com/kubernetes/kubernetes/pull/81571. I am still hoping to get this completed and merged before the code freeze, but I'm working through some issues with the PR.

We discussed https://github.com/kubernetes/kubernetes/issues/66811 in sig-apps two weeks ago. There was agreement that since we don't have a good solution to the situation

[2019-08-26 04:48] bg-chun commented on #693
+1 to @mJace cadvisor proposal.

To use DPDK lib inside container with `CPU Manager` and `Topology Manager`, parsing cpu affinity of container then passing it to dpdk lib, both are required for thread pinning of DPDK lib.

For more details, If a cpus are not allowed in container's cgroup cpuset subsystem, calls to `sched_setaffinity` to pin process on the cpus will be filtered out.
DPDK lib utiliz

[2019-08-26 09:35] ConnorDoyle commented on #693
@bg-chun I understood the cadvisor change as serving a different purpose: monitoring. For your requirement it’s possible to read the assigned CPUs from inside the container by parsing ‘Cpus_Allowed’ or ‘Cpus_Allowed_List’ from ‘/proc/self/status’. Will that approach work for you?

[2019-08-26 12:08] kad commented on #693
@ConnorDoyle information in /proc/*/status like `Cpus_Allowed` is affected by the `sched_setaffinity`. So, if application sets something, it will be subset of what is really allowed by Cgroup's `cpuset` controller.

[2019-08-26 13:08] ConnorDoyle commented on #693
@kad, I was suggesting a way for the launcher within the container to find out cpu id values to pass down to the DPDK program. So this happens before the thread level affinity is set.

[2019-08-26 13:57] bg-chun commented on #693
@ConnorDoyle
Thankyou for your suggestion, I will consider it.
My plan was deploying tiny-rest-api server to tell exclusive CPUs allocation info to dpdk-container.

Regarding changes, I didn't see the cadvisor changes yet, I see only the [proposal](https://github.com/google/cadvisor/issues/2290).
The proposal says `able to tell if there is any cpu affinity set for the container.` in Goal and `to t

[2019-08-26 14:03] mJace commented on #693
@bg-chun  You can check my first pr at cadvisor
https://github.com/google/cadvisor/pull/2291

I've finish some similar function at.
https://github.com/mJace/numacc
but not really sure what's the proper way to implement it in cadvisor
That's why I only create a PR with one new feature -> show PSR.

[2019-08-26 14:31] mJace commented on #693
Maybe we could discuss this under that proposal? If you gurus think this feature is needed :)

[2019-08-26 15:53] felixfbecker commented on #555
What are the criteria for something to enter beta? I've tried server side apply but it doesn't seem useable really rn as a replacement to client-side apply that `kubectl` does: https://github.com/kubernetes/kubernetes/issues/80916

[2019-08-26 16:20] verb commented on #277
@kacole2 Only kubernetes/kubernetes#80847 and kubernetes/kubernetes#80644 are left to make this work as expected. I have a meeting tomorrow with @seans3 to go over these.

We should try to include the documentation-only kubernetes/kubernetes#79614 (cc @smarterclayton)

kubernetes/kubernetes#81936 and  kubernetes/kubernetes#81678 would be nice to have, but won't prevent anyone from trying the featu

[2019-08-26 16:49] matthyx commented on #950
Yes, the reviewer did a lgtm on the change, but wanted more test coverage. I have added them over the weekend, and hope to hear from him again today...

[2019-08-27 07:47] pohly commented on #596
We want to merge more tests: https://github.com/kubernetes/kubernetes/pull/81960

Once that is in, we need to turn the feature on by default: https://github.com/kubernetes/kubernetes/pull/82004

That should be all for 1.16.

[2019-08-28 21:53] matthyx commented on #950
@kacole2 the PR has been approved, @thockin has just requested a follow-up PR to fix the gate, which is kubernetes/kubernetes#82101

[2019-08-29 16:27] xing-yang commented on #177
@kacole2 We couldn't get code merged today.  This will be delayed to 1.17.

[2019-08-29 20:06] ddebroy commented on #689
https://github.com/kubernetes/kubernetes/pull/82110 is the PR to move the feature to Beta and have GMSA support enabled by default.

[2019-08-29 20:31] kacole2 commented on #571
@sttts @liggitt @nikhita today is code freeze. are there any outstanding PRs? If I do not receive a response this will be dropped from v1.16

[2019-08-29 20:34] liggitt commented on #571
there are no outstanding PRs

[2019-08-29 20:47] kacole2 commented on #961
@krmayankk  today is code freeze. are there any outstanding PRs? If I do not receive a response this will be dropped from v1.16

[2019-08-29 21:15] kacole2 commented on #625
@davidz627 it looks like https://github.com/kubernetes/kubernetes/pull/81536 didn't merge and it's not ready for 1.17. I'll take this off the tracking sheet for 1.16

[2019-08-29 22:50] krmayankk commented on #961
@kacole2 please move this to 1.17. My PR is almost ready but I cant get it in by today :-)

[2019-08-30 00:22] mortent commented on #85
@kacole2 I think PR https://github.com/kubernetes/kubernetes/pull/81571 should be ready now. Hopefully we can get it merged before the freeze.

[2019-08-30 04:14] riking commented on #1195
/sig contributor-experience

[2019-08-30 08:19] lmdaly commented on #693
@kacole2 all the required PRs for this feature are merged or in the merge queue.

[2019-08-30 09:18] matthyx commented on #950
Code has been merged, waiting for the doc...

[2019-08-30 11:57] kacole2 commented on #563
Hi @lachie83 @leblancd it looks as though https://github.com/kubernetes/kubernetes/pull/79576 and https://github.com/kubernetes/kubernetes/pull/79993 didn't merge before code freeze and it's not in the [Tide Merge Pool](https://prow.k8s.io/tide). This feature is going to be bumped from v1.16. If you would still like to  have this be a part of the 1.16 release, please [file an exception](https://gi

[2019-08-30 11:57] kacole2 commented on #555
Hi @apelisse it looks as though https://github.com/kubernetes/kubernetes/pull/81816 didn't merge before code freeze and it's not in the [Tide Merge Pool](https://prow.k8s.io/tide). This feature is going to be bumped from v1.16. If you would still like to  have this be a part of the 1.16 release, please [file an exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-08-30 11:58] kacole2 commented on #85
Hi @mortent  it looks as though https://github.com/kubernetes/kubernetes/pull/81571 didn't merge before code freeze and it's not in the [Tide Merge Pool](https://prow.k8s.io/tide). This feature is going to be bumped from v1.16. If you would still like to  have this be a part of the 1.16 release, please [file an exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2019-08-30 12:00] kacole2 commented on #752
Hi @robscott   it looks as though https://github.com/kubernetes/kubernetes/pull/81795 didn't merge before code freeze and it's not in the [Tide Merge Pool](https://prow.k8s.io/tide). This feature is going to be bumped from v1.16. If you would still like to  have this be a part of the 1.16 release, please [file an exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.

[2019-08-30 12:05] kacole2 commented on #1040
Hi @MikeSpreitzer @yue9944882  it looks as though https://github.com/kubernetes/kubernetes/pull/81834 didn't merge before code freeze and it's not in the [Tide Merge Pool](https://prow.k8s.io/tide). This feature is going to be bumped from v1.16. If you would still like to  have this be a part of the 1.16 release, please [file an exception](https://github.com/kubernetes/sig-release/blob/master/rele

[2019-08-30 15:08] lavalamp commented on #555
The mandatory prs merged, this is beta now.

On Fri, Aug 30, 2019, 4:58 AM Kendrick Coleman <notifications@github.com>
wrote:

[2019-08-30 15:44] mortent commented on #85
@kacole2 I don't see any problems with bumping this from 1.16. I'll follow up and try to get this into 1.17.

[2019-08-30 15:54] lachie83 commented on #563
@kacole2 Apologies for the delays in response. The primary PR were were tracking was https://github.com/kubernetes/kubernetes/pull/79386. As for kubernetes/kubernetes#79576 we made a decision to defer that to 1.17 and instead focus on https://github.com/kubernetes/kubernetes/pull/82091 (in agreement with sig-network) which fulfills the same phase2 goals that were laid out in the KEP. The other rel

[2019-08-30 17:24] freehan commented on #752
@kacole2 The main PRs implementing the feature has been merged. IIUC, as this is alpha, kubectl support is not required.

[2019-08-30 19:05] guineveresaenger commented on #85
/milestone clear
/milestone v1.17

[2019-08-30 19:13] guineveresaenger commented on #555
@lavalamp would you mind clarifying? are you saying https://github.com/kubernetes/kubernetes/pull/81816 wasn't mandatory for this feature to be in beta?

[2019-08-30 20:12] jennybuckley commented on #555
@guineveresaenger It's not mandatory for this feature to be in beta. That PR is to address scalability concerns and can be merged in a future release, it doesn't change the API and only improves performance in clusters where many things are managed by this new feature

[2019-08-30 20:17] lavalamp commented on #555
@guineveresaenger Yes, it's opt-in on a per-object basis in beta 1, so that isn't needed as there's no longer a global performance impact.

[2019-08-30 21:09] kacole2 commented on #555
thanks for letting me know @lavalamp

[2019-08-30 21:12] lachie83 commented on #752
I've had a chat to @robscott and we have agreed to add this to the milestone and get it merged into 1.16 as there was a little confusion regarding labeling yesterday.

[2019-08-31 08:49] feloy commented on #1157
/milestone v1.17

[2019-08-31 08:50] feloy commented on #1157
@kacole2  could it be possible to set milestone v1.17 for this?

[2019-09-01 22:02] MikeSpreitzer commented on #1040
What about the doc side of things?  Isn't there some undoing needed there too?

[2019-09-02 14:19] draveness commented on #894
All the PRs related to RuntimeClass Scheduling except the doc https://github.com/kubernetes/kubernetes/issues/81016 have already been merged into the master branch.

[2019-09-02 16:07] danmx commented on #127
is there a way how to help push this feature forward?

[2019-09-02 21:31] kacole2 commented on #1040
@simplytunde can you comment WRT to docs?

[2019-09-03 12:09] kacole2 commented on #895
@Huang-Wei
Docs deadline - PRs ready for review 9/3 (TODAY)
Docs complete - All PRs reviewed and ready to merge 9/9

[2019-09-03 15:11] liggitt commented on #95
docs ready for review in https://github.com/kubernetes/website/pull/15982

[2019-09-03 15:11] liggitt commented on #571
docs ready for review in https://github.com/kubernetes/website/pull/15982

[2019-09-03 15:12] liggitt commented on #575
docs ready for review in https://github.com/kubernetes/website/pull/15982

[2019-09-03 15:12] liggitt commented on #598
docs ready for review in https://github.com/kubernetes/website/pull/15982

[2019-09-03 15:12] liggitt commented on #692
docs ready for review in https://github.com/kubernetes/website/pull/15982

[2019-09-03 15:44] kfox1111 commented on #1103
This would be a step back IMO. I've wanted to use it to checkpoint a few things like haproxy or keepalived for providing the load balancing service kubeadm is currently lacking. But unfortunately the issue #72202 is still blocking that. Its a simple change to get things working. Then it can be iterated on. Please don't rip it out because you don't want to use it. Others do though.

[2019-09-04 05:12] subrnath commented on #614
SCTP support still seems to be in alpha in release 1.15 as per https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/. What is the road map for the SCTP support to move to GA?

[2019-09-05 15:00] draveness commented on #894
All the PRs required in the beta release have been merged. 🎉

[2019-09-06 17:41] simplytunde commented on #1040
@kacole2 @MikeSpreitzer The docs PR needs to be closed.

[2019-09-09 09:08] draveness commented on #986
/assign

[2019-09-09 15:58] #626 closed

[2019-09-09 15:58] #623 closed

[2019-09-09 17:47] liggitt commented on #553
The current state of this API is problematic, and requires reversing the actual data flow (it requires the API server to call to its clients), and is not functional across deployment topologies.

Leaving it in place attracts new attempts to make additions to it (https://github.com/kubernetes/kubernetes/pull/82247). I think it should be clearly marked as deprecated.

[2019-09-09 18:08] kacole2 commented on #626
From @fanzhangio:
Hi Kendrick, this feature has been updated to track - kubernetes/kubernetes#68761
Related PR merged - kubernetes/kubernetes#68761
Documentation PR - kubernetes/website#10932
All of them are merged in release 1.13

[2019-09-09 21:03] #581 closed

[2019-09-09 21:03] #583 closed

[2019-09-09 21:03] #587 closed

[2019-09-09 21:03] #593 closed

[2019-09-09 21:03] apelisse commented on #576
/reopen
/lifecycle frozen

[2019-09-10 00:06] #612 closed

[2019-09-10 03:16] RainbowMango commented on #1206
@brancz @ehashman @logicalhan
I'd like to join the task (metric overhaul, stability, validation, etc).

I guess we can start this task after 1.16 release.  Where can I find the list of deprecated metrics?

[2019-09-10 03:16] RainbowMango commented on #1206
/assign

[2019-09-10 05:38] unixkartik01 commented on #625
Hey Flock,
Can any one let me know exactly in which page below mentioned function script is available in kubernets.io .

Thanks in advance....

[2019-09-10 05:52] unixkartik01 opened #1236 "Installation Issue"
Hey Folks,
Can any one let me know below mentioned function script where it's avail exactly in kubernetes.io document.

Thanks in advance...

cat > /etc/docker/daemon.json <<EOF
{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2"
}
EOF

[2019-09-10 05:56] brancz commented on #1206
There won’t be removals as the framework components landed in 1.16 and flags are in progress. That means they’ll just be turned off by default for 1.17 and only truly removed in 1.18.

I would recommend to join the sig instrumentation slack channel and or sig meetings to get involved! :)

[2019-09-10 07:02] RainbowMango commented on #1206
Yeah, I know the metrics stability framework is in place now.
Thanks @brancz , I will try to join sig meeting.

[2019-09-10 12:10] mrbobbytables commented on #1236
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes) or our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions an

[2019-09-10 12:10] #1236 closed

[2019-09-10 17:32] lavalamp commented on #553
I agree.

We do not really give a place for exposing / declaring *service* health, as opposed to individual pod/container health.

I would like the solution to this to have a large component of standardization, such that it can be used for services that are running on the cluster, as well as services that the control plane depends on.

As evidence that these really are, in fact, the same problem,

[2019-09-11 12:46] kacole2 commented on #603
/reopen
/remove-lifecycle rotten

[2019-09-11 19:56] msau42 commented on #603
/assign @gnufied

[2019-09-11 20:23] kevtaylor commented on #559
stage/stable

[2019-09-11 20:24] kevtaylor commented on #559
/stage/stable

[2019-09-11 20:26] kevtaylor commented on #559
/stage stable

[2019-09-13 15:47] onionjake commented on #491
Is there any documentation around what permissions are required to run `kubectl diff`?

I have my RBAC permissions to only have `read` and `list`.  I was surprised that `kubectl diff` seemed to work when there were no changes, but it would fail saying it needed the `update` permission when I made modifications (so there would be a diff output).

[2019-09-13 17:25] apelisse commented on #491
You need to have write permissions, which I agree is not very convenient.
I wrote a [KEP](https://github.com/kubernetes/enhancements/pull/893) a while ago and there are arguments in both direction, feel free to chime in!

[2019-09-13 19:15] onionjake commented on #491
I will chime in there.  Does it make sense to document that it needs write permissions somewhere?  I searched everywhere and ended up having to ask here.

[2019-09-13 21:13] apelisse commented on #491
It does make sense

[2019-09-13 22:33] riking commented on #536
graduation criteria added in https://github.com/kubernetes/enhancements/pull/1132

[2019-09-16 01:35] k82cn commented on #268
Priority/Preemption is GA now, I think we can close this enhancement now :)

/cc @bsalamat @ahg-g

[2019-09-16 04:33] RainbowMango opened #1238 "[umbrella] Metrics Stability Migration Implementation"
This issue works as an umbrella holding up all related items of implementing KEP "[Metrics Stability Migration"](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20190605-metrics-stability-migration.md).

**Work Items**:
- Wrap buckets functionality and migrate metrics to stability framework
  - [x] Wrap buckets functionality. https://github.com/kubernetes/kubernetes

[2019-09-16 06:34] k82cn commented on #785
@luxas , @jfbai , what's current status of this feature, alpha, beta? Not sure current status according to the history :)

[2019-09-16 07:31] jfbai commented on #785
@k82cn we are waiting for this [KEP](https://github.com/kubernetes/enhancements/pull/1173) to be implemented. Then, migrate to v1beta1.

[2019-09-16 11:07] franitel opened #1241 "Issue with kubectl describe ingress in 1.15.3"
# After upgrade kubectl from 1.14.6 to 1.15.3 we detect that we can not describe the ingress object.

With the following kubectl version:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:49Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"windows/amd64"}
Server Version:

[2019-09-16 11:11] franitel commented on #1241
I have moved to
https://github.com/kubernetes/kubectl/issues/722

[2019-09-16 11:11] #1241 closed

[2019-09-17 08:49] k82cn commented on #964
As  kubernetes/kubernetes#77688 was merged, and it's not necessary to have a feature gate; so I'm going to close this. If any other issues, we'll trace it as bug fix instead of enhancements.

/close

[2019-09-17 08:53] k82cn commented on #268
/close

[2019-09-17 08:53] #268 closed

[2019-09-17 10:40] MartinForReal commented on #592
I think this feature works well in job and pod scenario but when it comes to crd resources, It would be better to migrate this controller into garbage collector because garbage collector watches all of deletable and watchable objects. And we can get stale objects with ease. In this way we don't need to worry about collision between garbage collector and ttl controller.

And we should decide how to

[2019-09-19 07:44] matthyx commented on #950
Now that it's live in 1.16 as alpha, should this issue be closed?

[2019-09-19 13:24] liggitt commented on #95
Released as stable in v1.16.0

Post-GA work tracked in https://github.com/orgs/kubernetes/projects/28

/close

[2019-09-19 13:24] #95 closed

[2019-09-19 13:25] liggitt commented on #692
Released as stable in v1.16.0

Post-GA work tracked in https://github.com/orgs/kubernetes/projects/28

/close

[2019-09-19 13:25] #692 closed

[2019-09-19 13:25] liggitt commented on #598
Released as stable in v1.16.0

Post-GA work tracked in https://github.com/orgs/kubernetes/projects/28

/close

[2019-09-19 13:25] #598 closed

[2019-09-19 13:25] liggitt commented on #571
Released as stable in v1.16.0

Post-GA work tracked in https://github.com/orgs/kubernetes/projects/28

/close

[2019-09-19 13:25] #571 closed

[2019-09-19 13:25] liggitt commented on #492
Released as stable in v1.16.0

Post-GA work tracked in https://github.com/orgs/kubernetes/projects/32

/close

[2019-09-19 13:25] #492 closed

[2019-09-19 13:26] liggitt commented on #575
Pruning released as stable in v1.16.0

Defaulting targeted for stable in v1.17.0

[2019-09-20 14:17] danwinship commented on #614
/reopen
/remove-lifecycle rotten

The actual implementation is done, but we need to add tests and confirm some implementations before moving to beta/GA.

[2019-09-20 16:27] danwinship commented on #614
filed https://github.com/kubernetes/enhancements/pull/1250

[2019-09-22 15:48] Ciantic commented on #753
Could this allow to write a sidecar that can start the actual service on demand (and destroy it)?

Like scale to zero, but only thing that is running while ide is the sidecar. When request comes it spins up the actual service and after a last response e.g. 30s it will close it down. This could allow a simple way to do scaling to nearly zero (with only sidecars left running).

[2019-09-22 16:24] mrbobbytables commented on #950
@matthyx The issue should remain open through the graduation process and be closed once it has after it has graduated to stable 👍

Along those lines, do you think it'll graduate to beta in time for 1.17? The current 1.17 release is:
 - Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November

[2019-09-22 16:41] mrbobbytables commented on #277
Hey there @verb -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday, Decemb

[2019-09-22 16:45] mrbobbytables commented on #556
Hey there @gnufied  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed

[2019-09-22 16:48] mrbobbytables commented on #1122
Hey there @ddebroy   -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewe

[2019-09-22 16:50] mrbobbytables commented on #689
Hey there @ddebroy -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed

[2019-09-22 16:53] mrbobbytables commented on #989
Hey there @gnufied  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed

[2019-09-22 17:02] mrbobbytables commented on #688
Hey there  @egernst @tallclair -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed a

[2019-09-22 17:07] mrbobbytables commented on #995
Hey there @ksubrmnn @michmike -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed an

[2019-09-22 17:10] mrbobbytables commented on #895
Hey there @bsalamat @Huang-Wei  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed

[2019-09-22 17:21] mrbobbytables commented on #752
Hey there @freehan @robscott  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed an

[2019-09-22 17:26] mrbobbytables commented on #894
Hey there @draveness @tallclair @yastij  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be c

[2019-09-22 17:35] mrbobbytables commented on #980
Hey there @MrHohn  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed

[2019-09-22 17:39] mrbobbytables commented on #555
Hey there @lavalamp @apelisse  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed a

[2019-09-22 17:42] mrbobbytables commented on #693
Hey there @lmdaly  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed

[2019-09-22 17:46] mrbobbytables commented on #596
Hey there @pohly @jsafrane  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and

[2019-09-22 17:49] mrbobbytables commented on #563
Hey there @lachie83 @leblancd  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed a

[2019-09-22 17:50] mrbobbytables commented on #1043
Hey there @PatrickLang  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and revi

[2019-09-22 18:05] mrbobbytables commented on #1164
Hey there @wojtek-t  -- 1.17 Enhancements lead here. I know the plan is to follow the deprecation policy and target the 1.20/1.21 release for future work, but I just wanted to confirm it for tracking purposes 👍

Thanks!

/milestone clear

[2019-09-22 18:07] mrbobbytables commented on #1177
Hey there @neolit @fabianofranz  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed

[2019-09-22 18:09] apelisse commented on #555
Hi @mrbobbytables, while we're planning great improvements to this feature for the next release, but we're not planning on moving to GA yet. Thanks.

[2019-09-22 18:12] mrbobbytables commented on #956
Hey there @ -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monda

[2019-09-22 18:18] mrbobbytables commented on #555
@apelisse noted -- thanks for the quick response! 😄

[2019-09-22 18:22] mrbobbytables commented on #1206
Hey there @brancz @ehashman -- 1.17 Enhancements lead here. I know it's still kind of fuzzy what each stage defines 😬 but I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Co

[2019-09-22 18:22] neolit123 commented on #970
we will be tracking an update for 1.17 for a new release of the kubeadm configuration - v1beta3.

[2019-09-22 20:34] ddebroy commented on #689
@mrbobbytables plan right now is to stay in beta for v1.17

[2019-09-22 20:41] mrbobbytables commented on #689
Noted -- thank you for the quick response! 👍

[2019-09-23 00:01] justaugustus commented on #970
@neolit123 -- As a heads up, the Enhancements team should be the only ones manipulating the `tracked/*` labels.

- `tracked/yes`: the Enhancements team has discussed with the owner and added the issue to the Enhancements tracking spreadsheet
- `tracked/no`: the Enhancements team has discussed with the owner and the enhancement will not be graduating for the cycle in question

Milestone maintainer

[2019-09-23 02:33] Huang-Wei commented on #895
@mrbobbytables We will let it stay in Alpha in 1.17. So no status change in 1.17.

[2019-09-23 03:17] SataQiu commented on #970
/cc

[2019-09-23 06:00] matthyx commented on #950
Hi @mrbobbytables of course it will be ready in time for graduation... I expect to run 1.16 with the flag enabled within 2 weeks on some of my clusters and start real-life assessment for that feature.
I hope there won't be too many people hitting bugs within that time...

[2019-09-23 07:05] brancz commented on #1206
Target continues to be as described in the original comment:

* Beta release target 1.17
  * All previously marked deprecated metrics will be removed from the codebase.
  * Metrics can be marked as stable.

The concrete deliverable other than refinements to the framework are flags on each component enabling hidden metrics (as in those that were deprecated „3 releases ago and will be completely dro

[2019-09-23 07:34] wojtek-t commented on #1164
Yes - next steps are planned for 1.20.

[2019-09-23 09:26] wojtek-t commented on #956
Yes - I would like to promote it to GA in 1.17.

[2019-09-23 09:36] janosroden commented on #753
@Ciantic With [Operator Framework](https://github.com/operator-framework/getting-started) you can do that and much more. Take a look

[2019-09-23 12:18] mrbobbytables commented on #1206
Awesome, thank you for the quick response!

/milestone v1.17
/stage beta

[2019-09-23 13:08] Ciantic commented on #753
@janosroden I looked, but it seems pretty difficult to understand how would I elevate running services to a zero scalable.

The problem is not that there isn't available options e.g. [Osiris](https://github.com/deislabs/Osiris), [Keda](https://github.com/kedacore/keda) or [knative](https://cloud.google.com/knative/). I tried the last one, but it hogs 8Gb of memory, hard to say it's 'serverless' at

[2019-09-23 13:10] j-griffith commented on #989
@mrbobbytables We made beta status in 1.16 after all.  :)

[2019-09-23 13:14] mrbobbytables commented on #956
Great, thank you! I'll update the tracking sheet 👍

Sort of an unrelated FYI -- the Enhancements team should be the only ones adding/removing the `tracked/*` labels. 😬 It's used as an ack that the info has or should not be added to the tracking sheet.

`tracked/yes`: the Enhancements team has discussed with the owner and added the issue to the Enhancements tracking spreadsheet
`tracked/no`: the En

[2019-09-23 13:17] wojtek-t commented on #956
@mrbobbytables - I see. Will keep that in mind for the future.

[2019-09-23 13:17] mrbobbytables commented on #989
@j-griffith Nice :) Are you looking to graduate to GA in 1.17?

[2019-09-23 13:21] mrbobbytables commented on #950
Great to hear :) I'll add it to the tracking sheet.

Thanks!

/milestone v1.17
/stage beta

[2019-09-23 13:23] j-griffith commented on #989
I don't think so, 1.18 would be the earliest in my opinion.

[2019-09-23 13:24] mrbobbytables commented on #895
Noted. Thanks for being quick to respond!

[2019-09-23 13:25] mrbobbytables commented on #989
Noted. I'll update the tracking info. Thanks for being so quick to respond! 👍

[2019-09-23 13:31] mrbobbytables commented on #970
It has been added to the tracking sheet for 1.17. 👍

[2019-09-23 14:23] mrbobbytables commented on #1146
Hey there @kolorful -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

Just a reminder that for it to be accepted -- the KEP must be merged, in an implementable state and have both a test plan and graduation criteria defined **before** the Enhancement Freeze.

The current release schedule is:
- Monday, Septem

[2019-09-23 14:39] mrbobbytables commented on #714
👋 @spiffxp  -- 1.17 Enhancements lead here. I know there isn't really a direct alpha/beta/stable mapping for this Enhancement, but I wanted to check in and see if you think it'd be graduating or major work being done in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code F

[2019-09-23 16:29] mrbobbytables commented on #1164
/milestone v1.20

[2019-09-23 16:36] gnufied commented on #556
We will most likely keep this feature in beta in 1.17 and focus on making it more stable.

[2019-09-23 16:38] mrbobbytables commented on #556
Great! Thanks for the quick response! 👍

[2019-09-23 16:43] kfox1111 commented on #753
Not sure this really works for your use case. I totally see the desire to do what you want to do on such resource constrained systems. But to be really stable, you need to use resource requests to help schedule the workload. These would need to be specified up front so regardless if the workload is running or not, it should be reserving the resource.

To work around this, you pretty much need a po

[2019-09-23 17:07] mtaufen commented on #783
Updated link to KEP (old one is broken): https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/wgs/0032-create-a-k8s-io-component-repo.md

[2019-09-23 17:33] MrHohn commented on #980
@mrbobbytables Thanks for the reminder on the schedule. Yes we are targeting stable in 1.17. There isn't any PR yet but I get back once I have them.

[2019-09-23 17:47] mrbobbytables commented on #980
Awesome, thank you for the quick response! I'll go ahead and add the info to the tracking sheet. 👍

/stage stable
/milestone v1.17

[2019-09-23 18:46] mrbobbytables commented on #589
Hey there @wojtek-t  @wangzhen127 -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.17?

The current release schedule is:

Monday, September 23 - Release Cycle Begins
Tuesday, October 15, EOD PST - Enhancements Freeze
Thursday, November 14, EOD PST - Code Freeze
Tuesday, November 19 - Docs must be completed and reviewed
Mon

[2019-09-23 18:50] robscott commented on #752
Hey @mrbobbytables, thanks for checking in! We're aiming for beta for Endpoint Slices in 1.17. We'll reference this in any PRs related to that - at this point it looks like any changes will be primarily performance related.

[2019-09-23 18:50] mrbobbytables commented on #1001
Hey there @PatrickLang -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:

Monday, September 23 - Release Cycle Begins
Tuesday, October 15, EOD PST - Enhancements Freeze
Thursday, November 14, EOD PST - Code Freeze
Tuesday, November 19 - Docs must be completed and reviewed
Mon

[2019-09-23 18:54] mrbobbytables commented on #1067
Hey there @harche -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.17?

Just a reminder that for it to be accepted -- the KEP must be merged, in an implementable state and have both a test plan and graduation criteria defined before the Enhancement Freeze.

The current release schedule is:

Monday, September 23 - Release Cy

[2019-09-23 18:57] mrbobbytables commented on #508
Hey there @aojea -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:

Monday, September 23 - Release Cycle Begins
Tuesday, October 15, EOD PST - Enhancements Freeze
Thursday, November 14, EOD PST - Code Freeze
Tuesday, November 19 - Docs must be completed and reviewed
Monday, D

[2019-09-23 18:58] mrbobbytables commented on #752
Great, thanks for the quick response @robscott :) I'll add it to the tracking sheet 👍

[2019-09-23 20:43] tallclair commented on #688
I'd love to see this reach beta in v1.17, but that depends on @egernst 's schedule (or anyone else who is interested in helping out)

[2019-09-23 21:07] aojea commented on #508
@mrbobbytables according to the KEP there is only one missing thing that's the CI job in a cloud provider

### IPv6 Graduating to beta

### Graduation Criteria
- [x] It has IPv4 feature parity
- [x] It has CI using a kubernetes testing environment
   - [Kind IPv6 release blocking job](https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel)
   - [Kind IPv6 presubmit job (info

[2019-09-23 22:03] mrbobbytables commented on #508
Awesome. Will add it to be tracked as graduating to beta 👍

[2019-09-23 22:08] mrbobbytables commented on #1073
Hey there @fudali113 -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

Just a reminder that for it to be accepted -- the KEP must be merged, in an implementable state and have both a test plan and graduation criteria defined before the Enhancement Freeze.

The current release schedule is:
- Monday, September

[2019-09-23 22:11] mrbobbytables commented on #1186
Hey there @konghui  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

Just a reminder for it to be accepted -- the KEP must be merged, in an implementable state and have both a test plan and graduation criteria defined before the Enhancement Freeze.

The current release schedule is:
- Monday, September 23 -

[2019-09-23 22:20] mrbobbytables commented on #624
Hey there @bsalamat  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday, D

[2019-09-23 22:23] mrbobbytables commented on #1027
Hey there @apelisse   -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday,

[2019-09-23 22:25] mrbobbytables commented on #753
Hey there @Joseph-Irving  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Mon

[2019-09-23 22:33] mrbobbytables commented on #758
Hey there @cmluciano @bowei  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
-

[2019-09-23 22:37] mrbobbytables commented on #177
Hey there @xing-yang @jingxu97  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed

[2019-09-23 22:39] mrbobbytables commented on #625
Hey there @msau42 @davidz627 -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- M

[2019-09-23 22:52] mrbobbytables commented on #85
Hey there @mortent  -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday,

[2019-09-23 22:54] mrbobbytables commented on #1157
Hey there @feloy -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.17?

Just a reminder for it to be accepted -- the KEP must be merged, in an implementable state and have both a test plan and graduation criteria defined before the Enhancement Freeze.

The current release schedule is:
- Monday, September 23 - Release Cycle B

[2019-09-23 22:58] mrbobbytables commented on #1152
Hey there @wojtek-t -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday, D

[2019-09-23 22:58] mortent commented on #85
The plan is to get this into 1.17. Code should hopefully be ready to merge soon https://github.com/kubernetes/kubernetes/pull/81571

[2019-09-23 23:00] mrbobbytables commented on #85
Awesome. Thank you for the quick response @mortent! I'll go ahead and add it to the tracking sheet.

[2019-09-23 23:06] bsalamat commented on #624
Hi @mrbobbytables,
@ahg-g is the new SIG Scheduling lead. He will update this issue with the new plan.

[2019-09-23 23:12] mrbobbytables commented on #382
👋 hey there @k82cn -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday, D

[2019-09-23 23:16] mrbobbytables commented on #548
👋 hey there @k82cn -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday, D

[2019-09-23 23:27] mrbobbytables commented on #575
@liggitt @sttts @nikhita -- Enhancement lead for 1.17 here. Looks like you're ahead of the game :)

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday, December 9 - Kubernetes 1.17.0 Released

Once codi

[2019-09-23 23:34] mrbobbytables commented on #1179
Hey there @BenTheElder -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday,

[2019-09-23 23:41] ixdy commented on #714
yes, 1.16 didn't happen, but I'd like to remove the mondo test tarball completely for 1.17.

[2019-09-24 00:40] xing-yang commented on #177
Hi @mrbobbytables Yes, we are planning to bring this feature to Beta in 1.17.

[2019-09-24 04:19] apelisse commented on #1027
Thanks, I don't know yet, *shrug*

[2019-09-24 06:32] michmike commented on #995
@ksubrmnn  were you able to get some time commitments to push this to beta for 1.17? thanks

[2019-09-24 06:46] ddebroy commented on #1122
@mrbobbytables We plan to stay in Alpha for this in v1.17 and aim for a Beta in v1.18

[2019-09-24 06:53] wojtek-t commented on #1152
Yes - this is planned for 1.17

[2019-09-24 08:36] Joseph-Irving commented on #753
Hi @mrbobbytables, assuming we can get everything reviewed in time the plan is to graduate to alpha in 1.17.

The current open PRs are:
https://github.com/kubernetes/kubernetes/pull/79649 - API Changes
https://github.com/kubernetes/kubernetes/pull/80744 - Kubelet Changes

Let me know if you need anything else!

[2019-09-24 11:26] wojtek-t commented on #589
Yes - 1.17 is the current plan for GA.

[2019-09-24 11:35] mrbobbytables commented on #589
Awesome, thanks! I'll add it to the tracking sheet.
/stage stable

[2019-09-24 11:39] mrbobbytables commented on #1152
Great. I'll add it to the tracking sheet 👍

[2019-09-24 11:43] mrbobbytables commented on #1122
Thanks for the quick response. I'll bump it to v1.18 :)

/milestone v1.18

[2019-09-24 11:47] mrbobbytables commented on #177
Awesome, thank you! I'll go ahead and add it to the tracking sheet :)

[2019-09-24 12:02] mrbobbytables commented on #714
Thanks for the quick reply. I'll go ahead and add it to the tracking sheet 👍
/stage stable

[2019-09-24 18:13] markzhang0928 commented on #277
hello @verb, I am wondering that if the resource limit of Ephemeral container does not set, what would happen when reaching the resources(memory/cpu) limits of a target pod? Would it be evicted by eviction manager as the stability of the node is more vital than the pod?

[2019-09-24 23:07] ixdy commented on #714
https://github.com/kubernetes/kubernetes/pull/83093 removes the deprecated mondo test tarball.

[2019-09-24 23:37] ksubrmnn commented on #995
@neolit123

From the following [link](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/), it looks like kubeadm upgrade for nodes will just fetch the upgraded config map from the control plane. Then the scripts will have to update kubelet and kube proxy and restart them.

Is that correct? I'm trying to get a time estimate for this work, but it seems like it's possible th

[2019-09-24 23:38] ksubrmnn commented on #995
@PatrickLang @adelina-t For Beta, we need to have testing that uses Kubeadm so that we can have a good signal. We should discuss the plan for this further

[2019-09-25 07:42] verb commented on #277
@markzhang0928 That's correct. Others are working on vertical pod scaling, so we may be able to support resources for ephemeral containers some day, but right now it's not possible.

[2019-09-25 07:44] verb commented on #277
@mrbobbytables This will remain alpha in 1.17, but it will see additional work. I will link k/k PRs here once I've scoped the work. Thanks!

[2019-09-25 10:35] nickolaev commented on #693
@lmdaly is there a link to the GPU direct with RDMA discussion?

[2019-09-25 10:54] moshe010 commented on #693
@nickolaev, We also looking on this use case. We did start some internal thinking on how to do this, but we would love to collaborate on this.

[2019-09-25 11:34] Deepthidharwar commented on #693
@moshe010  @nickolaev  @lmdaly , We too looking into this use case pertaining to RDMA and GPU direct.  We would like to collaborate on this. Possible to start a thread/discussion around this ?

[2019-09-25 12:31] LilyaBu commented on #693
Hello! I have a question about NTM and scheduler. As i understand, scheduler does not know about NUMAs and can prefer node on that there is no resources (cpu, memory and device) on desired NUMA. So topology manager will refuse resource allocation on that node. Is it true?

[2019-09-25 12:36] moshe010 commented on #693
@nickolaev @Deepthidharwar, I will start google doc with use-cases and we can move the discussion to it. I will post something next week. If that ok with you.

[2019-09-25 12:52] neolit123 commented on #995
@ksubrmnn i think it should work already on the kubeadm side, you can give it a try.
but yes, a wrapper script would need to execute `kubeadm upgrade node` then update the kube-proxy / kubelet binaries.

[2019-09-25 14:58] cmluciano commented on #758
Yes include this as tracked for the 1.17 release.

[2019-09-25 17:29] mrbobbytables commented on #758
Thanks! I'll go ahead and add it to the tracking sheet!

[2019-09-25 22:21] alculquicondor opened #1258 "Add a configurable default constraint to PodTopologySpread"
# Enhancement Description

- One-line enhancement description: Add default spreading rules to pods that don't define one and allow operators to define it.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/1258-default-pod-topology-spread
- Main repo issue: kubernetes/kubernetes#80639
- Primary contact (assignee): @alculquicondor
- Respons

[2019-09-25 22:21] alculquicondor commented on #1258
/sig scheduling

[2019-09-25 23:58] mrbobbytables commented on #1258
Hey there @alculquicondor -- 1.17 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.17?

Just a reminder that for it to be accepted -- the KEP must be merged, in an implementable state and have both a test plan and graduation criteria defined **before** the Enhancement Freeze.

The current release schedule is:
- Monday, September 23

[2019-09-26 02:50] konghui commented on #1186
Should I can commit the code before the Octorber 7? I am a little busy this days.

[2019-09-26 02:56] konghui commented on #1186
It seems I didn't get the notification when add milestone v1.17 tags. I misunderstand this kep was forgetten.

[2019-09-26 03:03] konghui commented on #1186
This enhancement can graduating to alpha in 1.17.

[2019-09-26 08:33] andyzheung commented on #693
I am really happy to see this feature. We also need CPU, Hugepage, SRIOV-VFs and other hardware resorce in single NUMA node.
But hugepage is not realize as a scalar resource by device plugin, is this feature need to change the hugepage feature in k8s?
@iamneha

[2019-09-26 13:03] mrbobbytables commented on #1186
@konghui just to clarify things -- The deadline for accepting Enhancements is **October 15th, by midnight PT**. The KEP PR (https://github.com/kubernetes/enhancements/pull/1187)  must be merged and meet the following criteria:
- In an implementable state
- Have a test plan defined
- Have graduation criteria defined

If you think that's possible -- we can keep it in the milestone and add it to the

[2019-09-26 15:16] alculquicondor commented on #1258
Hi Bob. I believe I'll have it ready before the Enhancements Freeze.

/assign

[2019-09-26 15:20] mrbobbytables commented on #1258
great, thanks @alculquicondor I'll add it to the tracking sheet :)
/stage alpha
/milestone v1.17

[2019-09-26 16:09] mrbobbytables commented on #5
Hey there @tallclair -- 1.17 Enhancement lead here -- it looks like this is staying as is for 1.17.  If that changes, please don't hesitate to give me a poke and I can add it to the tracking sheet 👍

[2019-09-26 18:08] jianzzha commented on #693
@ConnorDoyle Just to confirm, this feature needs topology hints from both cpu manager and device manager? I tested it on 1.16 and didn't work, it seems it only got hint from cpu manager but no hint from device side.

[2019-09-26 18:12] jianzzha commented on #693
@ConnorDoyle here is a a bit of more details:
https://gist.githubusercontent.com/jianzzha/c2a66a2514c178cca76a432029ff3387/raw/264f13dfcd06f1f80c48c113aa235fab7c33d81e/hyper%2520threading%2520enabled

[2019-09-26 18:19] moshe010 commented on #693
@jianzzha , What Device plugin are you using? For example if you use SR-IOV device plugin you need to make sure it reports NUMA node see [1]

[1] https://github.com/intel/sriov-network-device-plugin/commit/000db15405f3ce3b7c2f9feb180c3051aa3f7aea.

[2019-09-26 18:23] klueska commented on #693
@andyzheung Huge page integration is currently being discussed and has been presented in the sig-node meeting the past two weeks. Here are some relevant links:

https://docs.google.com/presentation/d/1H5xhCjgCZJjdTm-mGUFwqoz8XmoVd8xTCwJ1AfVR_54/edit?usp=sharing
https://github.com/kubernetes/enhancements/pull/1245
https://github.com/kubernetes/enhancements/pull/1199

@jianzzha Regarding the device

[2019-09-26 20:02] jianzzha commented on #693
thanks guys. Fixed and works now.

[2019-09-26 20:40] bg-chun commented on #693
@klueska
Regarding nvidia-gpu-device-plugin..
I can see only one active [PR(WIP)](https://github.com/NVIDIA/k8s-device-plugin/pull/127) to update nvidia-gpu-device-plugin for Topology Manger.
Will nvidia-gpu-divice-plugin be updated to provide topology hint with above PR? or Is there something I miss?

[2019-09-26 21:12] klueska commented on #693
@bg-chun Yes it should be. Just pinged the author. If he doesn't get back in the next day or so, I will update the plugin myself.

[2019-09-27 03:57] carmark commented on #693
@bg-chun @klueska I have updated the patch.

[2019-09-27 10:16] verb commented on #495
@mrbobbytables I intend to promote this to GA in 1.17. There's no additional work planned, but I will have to migrate the pre-KEP proposal to a KEP.

[2019-09-27 11:27] mrbobbytables commented on #495
Awesome, sound good verb! -- I'll add it to the tracking sheet now.
/milestone v1.17
/stage stable

[2019-09-27 16:50] bg-chun commented on #693
@klueska @carmark
Thank you for updating and the notice.
I will introduce sr-iov-plugin update and gpu-plugin update to users in my workspace.

[2019-09-27 20:31] davidz627 commented on #625
@mrbobbytables yes the plan is to graduate to beta in `1.17`
The PR that would need to merge is:
https://github.com/kubernetes/kubernetes/pull/83098#issuecomment-535270409
And we need to resolve known issue:
https://github.com/kubernetes/kubernetes/issues/79043
https://github.com/kubernetes/kubernetes/issues/75698

[2019-09-27 23:58] tallclair commented on #894
I don't have any runtimeclass scheduling changes planned for v1.17. I would like to let feature soak for another release before graduating to GA.

Note that this is tied to the RuntimeClass feature, and will graduate with it (maybe in v1.18).

[2019-09-28 00:06] mrbobbytables commented on #894
Noted -- thanks for the update!

[2019-09-28 00:07] mrbobbytables commented on #625
Awesome, thanks for the update @davidz627 :) I'll add it to the tracking sheet!

[2019-09-29 16:16] mrbobbytables commented on #24
@tallclair Do you think think theres going to be any activity for this in the 1.17 release?

[2019-09-30 08:56] Levovar commented on #693
I would propose an enhancement for the next release.
It is about basically removing the "topology alignment only happens if the Pod is in Guaranteed QoS" restriction.
This restriction kind of makes the Topology Manager unusable for me at the moment, because I wouldn't like to ask for exclusive CPUs from K8s, however I would like to align the sockets of multiple devices, coming from multiple pools

[2019-09-30 16:12] lachie83 commented on #563
Hi Bob. Thanks for reaching out. I'm still planning phase 3 of this enhancement which will round out the enhancement to completion. This enhancement will still be in alpha at the end of this release but there will be phase 3 related work that will land in k/k as part of 1.17.

[2019-09-30 16:16] lachie83 commented on #563
Here is a list of high level deliverables for 1.17 for dual-stack. I will update this list throughout the release.

* IPtables dual-stack proxier - https://github.com/kubernetes/kubernetes/pull/79576
* downward api support for Pod.Status.PodIPs - https://github.com/kubernetes/kubernetes/pull/83123
* e2e test one CNI plugin
* Hostfile changes (IPv6 address for hostname needs to be added /etc/hosts)

[2019-09-30 16:29] klueska commented on #693
This is item number 8 on our TODO list for 1.17:
https://docs.google.com/document/d/1YTUvezTLGmVtEF3KyLOX3FzfSDw9w0zB-s2Tj6PNzLA/edit#heading=h.xnehh6metosd

Are you proposing there be a mechanism to selectively tell the kubelet which resource to align on and which ones not to align on (i.e. I want to align my CPU and GPU allocations, but not my huge page allocations). I don't think anyone would b

[2019-09-30 16:45] mrbobbytables commented on #563
Much appreciated, thank you kindly @lachie83 ❤️

/milestone v1.17

[2019-09-30 17:44] tallclair commented on #24
I was hoping to get this to GA alongside seccomp in v1.17, but I'm probably only going to have time to do 1 (seccomp). If anyone else is interested in picking this up, I'd be happy to provide some pointers. Otherwise, I expect GA to happen in v1.18

[2019-09-30 18:38] mrbobbytables commented on #24
Noted. Will keep tabs on the thread in case anyone picks it up. Thanks for the update!

[2019-10-01 03:52] ConnorDoyle commented on #693
+1 for removing the QoS class restriction on topology alignment (I added it to the list :smiley:). I didn't get the sense @Levovar is asking for enabling topology on a per-resource basis, just that we should align all of the alignable resources used by a given container.

As far as I can remember, there was never a pod-level field for opting-in to topology in the KEP. The rationale for not introdu

[2019-10-01 08:08] Levovar commented on #693
well, in the very early stages of the design at least there wa a Pod-level flag if my memory serves me well, but it was around 1.13 :D
I'm personally okay with trying to align all resources all the time, but "back in the days" there was usually a community push back against features which would introduce delays to teh startup, or the scheduling decision of all Pods, regardless whether they really

[2019-10-01 18:01] jeremyrickard commented on #130
Hey there @roberthbailey @luxas  -- 1.17 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be complet

[2019-10-01 18:04] jeremyrickard commented on #357
Hey there @fabriziopandini @luxas @timothysc -- 1.17 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs mus

[2019-10-01 18:06] wojtek-t commented on #1152
Given it's not a feature per-se (this is implementation detail, the change is invisible to use), this will go directly to GA. Changing the stage.

[2019-10-01 18:10] jeremyrickard commented on #361
Hey there @arunbpt7 @jingxu97 @vishh -- 1.17 Enhancements shadow here 👋 . I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be

[2019-10-01 18:16] jeremyrickard commented on #542
Hey there @mikedanese  -- 1.17 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and rev

[2019-10-01 18:19] jeremyrickard commented on #545
Hey there @saad-ali @NickrenREN   -- 1.17 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be comple

[2019-10-01 18:36] jeremyrickard commented on #551
Hey there @yastij   -- 1.17 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed
- Monday,

[2019-10-01 18:38] jeremyrickard commented on #576
Hey there @apelisse   -- 1.17 Enhancements shadow here 👋 . I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and r

[2019-10-01 18:46] jeremyrickard commented on #600
Hey there @liggitt @pbarker   -- 1.17 Enhancements shadow here 👋 . I wanted to check in and see if you think this Enhancement will be graduating to beta or new features will land in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs mu

[2019-10-01 18:49] jeremyrickard commented on #603
Hey there jsafrane @gnufied -- 1.17 Enhancements shadow here 👋 . I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and review

[2019-10-01 18:52] jeremyrickard commented on #606
Hey there @RenaudWasTaken   -- 1.17 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed

[2019-10-01 19:00] jeremyrickard commented on #667
Hey @feiskyer  -- 1.17 Enhancements shadow here 👋 . I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.17?

The current release schedule is:
- Monday, September 23 - Release Cycle Begins
- Tuesday, October 15, EOD PST - Enhancements Freeze
- Thursday, November 14, EOD PST - Code Freeze
- Tuesday, November 19 - Docs must be completed and reviewed