[2021-02-18 19:03] jrsapi commented on #2411
Greetings @umohnani8
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc ](https://kubernetes.io/docs/contribut

[2021-02-18 19:07] jrsapi commented on #2317
Greetings @gnufied,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc ](https://kubernetes.io/docs/contribute

[2021-02-18 19:09] jrsapi commented on #2227
Greetings @pacoxu,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc ](https://kubernetes.io/docs/contribute/

[2021-02-18 19:10] jrsapi commented on #2185
Greetings @damemi!
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc ](https://kubernetes.io/docs/contribute/

[2021-02-18 19:12] jrsapi commented on #2047
Greetings @zshihang,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc ](https://kubernetes.io/docs/contribut

[2021-02-18 19:13] jrsapi commented on #1933
Greetings @PurelyApplied,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc ](https://kubernetes.io/docs/cont

[2021-02-18 19:16] damemi commented on #2185
xref - wip PR https://github.com/kubernetes/kubernetes/pull/96898

I'll be picking up this PR and working to get that merged for code freeze. Thanks for the update @jrsapi !

[2021-02-18 19:17] jrsapi commented on #1847
Greetings @mattcary @kk-src,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc ](https://kubernetes.io/docs/c

[2021-02-18 19:19] jrsapi commented on #1845
Greetings @cofyc,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/n

[2021-02-18 19:20] jrsapi commented on #1769
Greetings @cezaryzukowski!
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/con

[2021-02-18 19:21] jrsapi commented on #1495
Greetings @bswartz,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute

[2021-02-18 19:22] jrsapi commented on #1432
Greetings @xing-yang @NickrenREN,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/d

[2021-02-18 19:23] jrsapi commented on #277
Greetings @verb ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/n

[2021-02-18 20:14] damemi commented on #2185
Opened new PR in https://github.com/kubernetes/kubernetes/pull/99212

[2021-02-19 10:58] wojtek-t opened #2523 "Consistent Resource Version Semantics for List"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Consistent Resource Version Semantics for List
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2523-consistent-resource-versions-semantics/README.md
- Discussion Link:
- Primary contact (assignee): @jpbetz
- Responsible SIGs: sig-api-machine

[2021-02-19 11:00] pacoxu commented on #2129
/assign
Can I send a PR for this?

[2021-02-19 16:45] dashpole commented on #2129
yes, feel free to work on this.

[2021-02-19 16:59] immuzz commented on #2258
This is very much needed especially for scenarios where you need to access host like gMSA for Windows Containers. Cant wait to see this land soon

[2021-02-19 23:35] thockin opened #2527 "Clarify or remove the "status is only observations" rule"
# Enhancement Description

- One-line enhancement description: Clarify if/how controllers can use status to track non-observable state
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/2527-clarify-status-observations-vs-rbac
- Discussion Link: https://groups.google.com/g/kubernetes-sig-architecture/c/d96tt2Mw69s
- Primary contact (assi

[2021-02-19 23:43] JamesLaverack commented on #85
Hi @mortent,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-c

[2021-02-19 23:45] JamesLaverack commented on #563
Hi @lachie83,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-19 23:46] JamesLaverack commented on #592
Hi @ahg-g,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-con

[2021-02-19 23:46] JamesLaverack commented on #1209
Hi @logicalhan and @serathius,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/doc

[2021-02-19 23:47] JamesLaverack commented on #1748
Hi @smarterclayton,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribut

[2021-02-19 23:50] JamesLaverack commented on #2079
Hi @rikatz,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-co

[2021-02-19 23:50] JamesLaverack commented on #2155
Hi @jpbetz,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-co

[2021-02-19 23:52] JamesLaverack commented on #2214
Hi @alculquicondor,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribut

[2021-02-19 23:53] JamesLaverack commented on #2255
Hi @ahg-g,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-con

[2021-02-19 23:54] JamesLaverack commented on #2305
Hi @logicalhan and @lilic,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/co

[2021-02-19 23:58] JamesLaverack commented on #2403
Hi @fromanirh,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new

[2021-02-19 23:58] JamesLaverack commented on #2458
Hi @ahg-g,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-con

[2021-02-20 00:00] JamesLaverack commented on #2347
Hi @irozzo-1A,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 — Code Freeze
* Tuesday, March 16th: Week 10 — Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new

[2021-02-20 02:36] mvortizr commented on #1393
/milestone 1.21

[2021-02-20 02:38] mvortizr commented on #1393
/assign

[2021-02-20 02:42] mvortizr commented on #1904
/assign

[2021-02-20 02:44] mvortizr commented on #1923
/assign

[2021-02-20 02:49] mvortizr commented on #1933
/assign

[2021-02-20 02:51] mvortizr commented on #1981
/milestone v1.21

[2021-02-20 02:52] mvortizr commented on #1981
/assign

[2021-02-20 03:06] mvortizr commented on #1959
/assign

[2021-02-20 03:07] mvortizr commented on #1967
/assign

[2021-02-20 03:11] mvortizr commented on #2000
/assign

[2021-02-20 03:39] arunmk commented on #34
Hi @ehashman,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-20 03:44] arunmk commented on #213
Hi @krmayankk,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new

[2021-02-20 03:44] arunmk commented on #541
Hi @enj,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-conte

[2021-02-20 03:47] arunmk commented on #859
Hi @seans3,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-co

[2021-02-20 03:48] arunmk commented on #1295
Hi @deads2k,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-c

[2021-02-20 03:49] arunmk commented on #1393
Hi @mtaufen @mvortizr,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contri

[2021-02-20 03:50] arunmk commented on #1698
Hi @pohly ,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-co

[2021-02-20 03:51] arunmk commented on #1967
Hi @derekwaynecarr, @mvortizr,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/doc

[2021-02-20 03:52] arunmk commented on #2000
Hi @bobbypage, @mvortizr,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/con

[2021-02-20 03:52] arunmk commented on #2129
Hi @dashpole, @pacoxu,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contri

[2021-02-20 03:53] arunmk commented on #2161
Hi @jayunit100,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/ne

[2021-02-20 03:54] arunmk commented on #2232
Hi @adtac,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-con

[2021-02-20 03:55] pacoxu commented on #34
I will work on the flag promote today:

- [ ] - `Promote --experimental-allowed-unsafe-sysctls kubelet flag to kubelet config api option`

kubernetes/kubernetes#99158 focus on

- [ ] - lock feature gate on

[2021-02-20 03:55] arunmk commented on #2238
Hi @ehashman,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-20 08:19] fromanirh commented on #2403
Thanks for the reminder!
I don't think this enhancement ewquires a k/website PR, but I'll doublecheck and file a placeholder PR if needed.
Implementation PR: https://github.com/kubernetes/kubernetes/pull/95734

[2021-02-20 09:02] pacoxu commented on #2129
@arunmk  Thanks for reminding.

The pr is ready for review now.

[2021-02-20 09:21] pacoxu commented on #2227
kubernetes/kubernetes#97099 is ready for `log and exec`.

I will work on it late next week and the first week of March.

Thanks for reminding @jrsapi

[2021-02-20 15:09] irozzo-1A commented on #2347
Thx for the reminder @JamesLaverack!

[2021-02-21 02:03] #551 closed

[2021-02-21 18:55] bboreham commented on #1440
One question: the [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1440-kubectl-events) says:

but at https://github.com/kubernetes/kubernetes/pull/92243 you commented that things such as output format are not needed. Is there some discussion elsewhere that clarifies what should be supported?

[2021-02-21 20:08] wojtek-t opened #2530 "Alibaba Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Alibaba Cloud Provider
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/providers/2530-alibaba-cloud/README.md
- Discussion Link:
- Primary contact (assignee): @aoxn
- Responsible SIGs: sig-cloud-provider
- Enhancement target (which target e

[2021-02-21 20:10] wojtek-t opened #2531 "BaiduCloud Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note): BaiduCloud Cloud Provider
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/providers/2531-baidu-cloud/README.md
- Discussion Link:
- Primary contact (assignee): @tizhou86
- Responsible SIGs: sig-cloud-provider
- Enhancement target (which tar

[2021-02-21 20:11] wojtek-t opened #2532 "Huawei Cloud Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Huawei Cloud Cloud Provider
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/providers/2532-huawei-cloud/README.md
- Discussion Link:
- Primary contact (assignee): @RainbowMango
- Responsible SIGs: sig-cloud-provider
- Enhancement target (wh

[2021-02-21 20:18] wojtek-t commented on #2220
Once #2524 and #2533 are merged, all KEPs will be migrated to the new template.
The only remaining thing I would like to do then is to strenghten validation a bit more.

[2021-02-21 23:03] mtaufen commented on #1393
@arunmk thanks for reaching out. All work is linked and complete except for the pending docs PR (linked above).

[2021-02-22 01:48] chendave commented on #1923
@kikisdeliveryservice  I guess I need close this issue since the PR has been merged? see: https://github.com/kubernetes/kubernetes/pull/93179

[2021-02-22 01:58] chendave commented on #1923
@kikisdeliveryservice @mvortizr let me close this issue, please feel free to reopen for some purpose like tracking.

[2021-02-22 03:03] tizhou86 commented on #2531
Sure thing, we'll keep the related stuff updated.

[2021-02-22 06:39] pacoxu commented on #563
/assign
for https://github.com/kubernetes/kubeadm/issues/1612#issuecomment-773906850, I will work on the kubeadm part.

[2021-02-22 06:39] pacoxu commented on #563
/assign
for https://github.com/kubernetes/kubeadm/issues/1612#issuecomment-773906850, I will work on the kubeadm part.

[2021-02-22 10:15] adisky opened #2535 "Ensure secret pulled images"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Ensure secure image access with `IfNotPresent` image pull policy
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2535-ensure-secret-pulled-images
- Discussion Link:  https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edi

[2021-02-22 14:18] ankeesler commented on #541
@arunmk -

I have been tracking 1.21 status in this comment above: https://github.com/kubernetes/enhancements/issues/541#issuecomment-756297923.

[2021-02-22 15:23] LappleApple commented on #620
@kikisdeliveryservice Thinking we could close this because I've got the items you created now listed here in [this broader #617-related checklist ](https://github.com/kubernetes/enhancements/issues/617)

[2021-02-22 16:05] mikebrow commented on #2535
Thx @adisky

[2021-02-22 18:15] #2220 closed

[2021-02-22 18:18] kikisdeliveryservice commented on #620
@LappleApple We don't have permission to update that issue so for tracking it will make more sense for us to use https://github.com/kubernetes/enhancements/issues/620#issuecomment-780796287.

[2021-02-22 23:32] ehashman commented on #2238
Thanks @arunmk, I was hoping to have some code out for this last week but didn't get a chance to work on it. Hoping today or tomorrow...

[2021-02-22 23:38] robscott commented on #2433
/assign

[2021-02-23 05:01] fujitatomoya commented on #1948
/remove-lifecycle stale

[2021-02-23 07:54] arunmk commented on #541
Thanks @ankeesler !

[2021-02-23 17:33] mattcary commented on #1847
Docs placeholder PR: https://github.com/kubernetes/website/pull/26683

[2021-02-23 22:36] chaodaiG opened #2539 "KEP: (sig-testing) Continuously Deploy K8s Prow"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Continuously Deploy K8s Prow
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/2540
- Discussion Link: SIG Testing 2020-02-23 ([video](https://www.youtube.com/watch?v=HH1zgpcXczU&list=PL69nYSiGNLP0ofY51bEooJ4TKuQtUSizR)) ([meeting notes](https://docs.google.com/document/d

[2021-02-23 22:37] chaodaiG commented on #2539
/sig sig-testing sig-release

[2021-02-23 22:37] chaodaiG commented on #2539
/sig sig-testing

[2021-02-23 22:37] chaodaiG commented on #2539
/sig testing

[2021-02-24 15:05] rjbez17 commented on #1687
HNC has been accepted as a subproject and the repo was created. Closing.

/close

[2021-02-24 15:05] #1687 closed

[2021-02-24 16:12] annajung commented on #1923
Hi @chendave , 1.21 Enhancements Lead here.
An Enhancement issue is kept open until the feature graduates to `stable` and all work related to this enhancement have been completed.

The enhancements team is tracking this enhancement with the understanding that it has graduated to `alpha`. You would leave this open until your work for `beta` and `stable` merges. When all work has completed, you woul

[2021-02-24 17:57] kendallroden commented on #19
Hi @soltysh ,

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-24 17:58] kendallroden commented on #647
Hi @dashpole,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-c

[2021-02-24 18:02] kendallroden commented on #752
Hi @freehan ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-c

[2021-02-24 18:05] kendallroden commented on #1472
Hi @pohly  ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-co

[2021-02-24 18:05] kendallroden commented on #1507
Hi @robscott   ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/ne

[2021-02-24 18:06] robscott commented on #752
Hey Kendall, thanks for the reminder! @swetharepakula will be leading development on the feature for this cycle. I believe everything is still on track.

/assign @swetharepakula

[2021-02-24 18:09] kendallroden commented on #1602
Hi @pohly  ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-co

[2021-02-24 18:16] kendallroden commented on #1885
Hi @andyzhangx    ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute

[2021-02-24 18:17] kendallroden commented on #1923
Hi @chendave    ,
Following up on Anna's comment above, since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](h

[2021-02-24 18:20] kendallroden commented on #2249
Hi @ahg-g    ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-24 18:22] kendallroden commented on #2365
Hi @robscott   ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

- Tuesday, March 9th: Week 9 - Code Freeze
- Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/ne

[2021-02-24 18:23] marosset commented on #1981
@kendallroden ambguo is no longer working on the project. I'll be primary point of contact here.

Also, previously I used to be able to edit the original message in the thread to link PRs there (I think this was restricted to milestone-maintainers which I am part of). Do you know if anything changed here?

[2021-02-24 18:23] kendallroden commented on #2433
Hi @robscott ,
Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-24 18:26] robscott commented on #2365
Hey @kendallnelson, thanks for the reminder on this! @hbagdi is leading the development of this enhancement and I think we're still on track to get things in before these deadlines. We'll let you know if anything changes.

[2021-02-24 19:04] ehashman commented on #1602
https://github.com/kubernetes/kubernetes/pull/96616 definitely is not part of this migration. I don't think it makes sense to try to track each and every individual migration PR here, because there will be so many. The only ones targeted for the beta milestone are kubelet-related and will be verified by static analysis.

[2021-02-24 23:34] #1924 closed

[2021-02-25 06:41] #773 closed

[2021-02-25 06:41] #18 closed

[2021-02-25 06:41] #1352 closed

[2021-02-25 06:55] BenTheElder commented on #2420
## UPDATE 02/04/2021

We moved `pull-kubernetes-e2e-kind-ipv6` to build without bazel, so far so good. https://github.com/kubernetes/test-infra/pull/21009

We're now running `pull-kubernetes-unit` (non blocking) which runs ~`make test` with the race detector enabled as an approximate equivilant to `pull-kubernetes-bazel-test` (our heaviest bazel dependency in CI). This is working well. https://git

[2021-02-25 08:25] cofyc commented on #1845
@jrsapi website draft PR for 1.21 milestone: https://github.com/kubernetes/website/pull/26712

[2021-02-25 09:15] chendave commented on #1923
@kendallroden @annajung thanks for the clarification.

[2021-02-25 12:41] xiaoxubeii commented on #2254
I have already submitted a PR to update the information: #2507

[2021-02-25 13:00] xiaoxubeii commented on #2254
@giuseppe We are working on supporting cgroup v2 of Kubernetes in our production in Tencent, including new addition, such as memory.high / memory.low, io controller. We really want to contribute to the community with cgroup v2 and resource qos, please contact me if need.

[2021-02-25 15:34] gnufied commented on #531
/reopen
/remove-lifecycle rotten

[2021-02-25 15:35] gnufied commented on #531
We are still actively working on fixing bugs and improving this feature, so as it can reach GA milestone.

[2021-02-25 15:45] soltysh commented on #1440
There's not strict rule what the output will look like, I'd like to experiment with several output while this is alpha command before we figure out what's the best output will be for it. This is about exploring something that will present useful information to users quickly with extended capabilities for filtering etc. For now, I know I want to have at least the ability to filter by a specific res

[2021-02-25 16:21] annajung commented on #1981
Hey @marosset, all members of `milestone-maintainers` used to have `write` access to k/enhancements repo but recently have been downgraded to `triage` access. Therefore, members of that group no longer have access to edit the description of any issues unless it's your own.

I followed up on this in #sig-release channel to clarify the role and to see if there is a way to give SIG Leads write access

[2021-02-25 17:02] bboreham commented on #1440
OK.  I could pull the code out of `kubectl describe`; it is very fixed-format but would move things forward.

[2021-02-25 19:11] adrianreber commented on #2008
/reopen
/remove-lifecycle rotten

[2021-02-25 20:03] dims commented on #2420
cc @navidshaikh

[2021-02-25 21:59] mtaufen commented on #1393
All done 😄

[2021-02-26 02:59] reylejano commented on #563
Doc PR for 1.21 is [k/website PR 26675](https://github.com/kubernetes/website/pull/26675)

[2021-02-26 03:09] JornShen commented on #2433
@robscott What' the develop process of this feature?  I am interested at it. Is there something I can help to do ? :)

[2021-02-26 06:29] BenTheElder commented on #2420
## Update 02/25/2021

1.  `pull-kubernetes-unit` is looking pretty good https://prow.k8s.io/?job=pull-kubernetes-unit
`pkg/controlplane` sometimes times out at the current 240s limit we're setting for `make test`, we could raise it, but we should fix that test https://github.com/kubernetes/kubernetes/issues/98486
[code]

2.  `pull-kubernetes-e2e-kind-ipv6` is working fine building with make with ~

[2021-02-26 09:25] hbagdi commented on #2365
@kendallnelson I've opened up a placeholder PR for docs: https://github.com/kubernetes/website/pull/26723. Thanks for the reminders!

[2021-02-26 10:08] #117 closed

[2021-02-26 13:13] cezaryzukowski commented on #1769
Greetings @jrsapi
We opened a placeholder, and created initial official doc: https://github.com/kubernetes/website/pull/26730

[2021-02-26 17:19] arunmk commented on #1393
Thank you @mtaufen

[2021-02-26 19:55] ahg-g commented on #592
All k/k PRs merged.

Docs PR: https://github.com/kubernetes/website/pull/26738

[2021-02-26 20:42] ahg-g commented on #2255
done.

[2021-02-27 17:55] aojea commented on #2420
/cc

[2021-02-27 19:41] #962 closed

[2021-02-28 08:28] BenTheElder commented on #2420
## Update 02/28/2021

1. I finished migrating the e2e jobs for the Kubernetes/Kubernetes master branch to make AFAICT.

2. I've opened https://github.com/kubernetes/kubernetes/pull/99549 to address migrating conformance.yaml / 5) above (https://github.com/kubernetes/enhancements/issues/2420#issuecomment-785663043)
 - I've been keeping an eye on this. So far the only oddity I've seen is: https://gi

[2021-02-28 13:26] dims commented on #2420
Sounds like a plan @BenTheElder !

[2021-02-28 20:38] bboreham commented on #1440
Got a very basic version working: https://github.com/kubernetes/kubernetes/pull/99557
(no filtering as yet)

[2021-02-28 20:42] bboreham commented on #1440
Question, regarding part of the spec:

There is a `Type` field on `Event` which can be `Normal` or `Warning`, but that doesn't seem very useful to wait for.
Does it refer to something else?

[2021-02-28 21:06] #1601 closed

[2021-03-01 03:01] pacoxu commented on #2227
/assign @mengjiao-liu

[2021-03-01 03:06] mengjiao-liu commented on #2227
/assign

[2021-03-01 03:24] mengjiao-liu commented on #2227
I will work in `cp`, which will be finished this week.
/assign

[2021-03-01 03:26] mengjiao-liu commented on #2227
/assign

[2021-03-01 06:18] BenTheElder commented on #2420
## Update 02/28/2021

1. PR is ready to go for removal: https://github.com/kubernetes/kubernetes/pull/99561
- We'll need to turn down the jobs mentioned above before we merge, that's simple, just a matter of when we choose to do it

2. I've written a detailed notice to kubernetes-dev@googlegroups.com, it's scheduled for 8AM monday morning.
-  Proposing that we choose to merge by EOD Friday (one wo

[2021-03-01 10:36] mengjiao-liu commented on #2227
I browse the code found kubectl cp command to invoke the Run()method of the exec file  this method has achieved (https://github.com/kubernetes/kubernetes/pull/97099) how to define the default image, but there is no update command description

So I updated the description of the cp file: https://github.com/kubernetes/kubernetes/pull/99581

[2021-03-01 16:32] annajung commented on #542
Hi @zshihang

Enhancements team is currently tracking the following PRs
- https://github.com/kubernetes/kubernetes/pull/98033
- https://github.com/kubernetes/kubernetes/pull/96197

With the two PRs merged, can we mark this enhancement **complete for code freeze** or do you have other PR(s) that are being worked on as part of the release?

[2021-03-01 16:41] annajung commented on #555
Hi @apelisse

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-01 16:44] annajung commented on #1864
Hi @andrewsykim

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-01 16:46] annajung commented on #1904
Hi @wojtek-t

Enhancements team is currently tracking the following PR(s)
- https://github.com/kubernetes/kubernetes/pull/99021

With the PR(s) merged, can we mark this enhancement **complete for code freeze** or do you have other PR(s) that are being worked on as part of the release?

[2021-03-01 16:47] annajung commented on #1959
Hi @andrewsykim

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-01 16:47] annajung commented on #2053
Hi @derekwaynecarr

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-01 16:47] annajung commented on #2086
Hi @andrewsykim

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-01 16:48] annajung commented on #2133
Hi @andrewsykim

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-01 16:49] annajung commented on #2395
Hi @andrewsykim

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-01 16:50] kwiesmueller commented on #555
@annajung here is my PR that's still open for this release.
There is a small change I still have to make but aside from that it's ready for review: https://github.com/kubernetes/kubernetes/pull/98074

[2021-03-01 16:57] apelisse commented on #555
Thanks Anna, here's a list of the pull-request that we need to merge:
- https://github.com/kubernetes/kubernetes/pull/99462
- https://github.com/kubernetes/kubernetes/pull/98074
- https://github.com/kubernetes/kubernetes/pull/98377
- https://github.com/kubernetes/kubernetes/pull/92809 (I'm taking over this PR so I'll probably have to re-create it)

[2021-03-01 17:10] wojtek-t commented on #1904
@annajung - we're code complete now
(and no docs are needed, meaning, this is fully ready for the release)

[2021-03-01 18:17] BenTheElder commented on #2420
https://github.com/kubernetes/kubernetes/pull/99561 merged. it is removed.
notice: https://groups.google.com/g/kubernetes-dev/c/tRqW6b7gPMA

I will update the KEP alpha status once some minor CI cleanup is complete.

[2021-03-01 19:20] zshihang commented on #542
for current release cycle, i think we are done. thank you.

[2021-03-01 21:30] #2059 closed

[2021-03-01 23:05] kendallroden commented on #647
Hey @dashpole,

Checking in to confirm you are still in progress on the work for 1.21- saw the PR hasn't had much progress in the past 10 or so days!

As a side note looks like we should update the issue description above to remove 1.20 as the target for alpha.

Feel free to reach out :) Thanks!

[2021-03-01 23:10] kendallroden commented on #752
Hey @swetharepakula! Would you please attach the k/k PR(s) and k/website PR(s) so we can track them for code freeze? Because we do not have those at this time, this will be marked "At Risk" for the upcoming March 9th freeze until we have them on record and can ensure they are on track for next Tuesday.

[2021-03-01 23:16] kendallroden commented on #1472
@pohly Hey Patrick! When you get a chance please link your k/k PR(s) and k/website PR(s) so we can ensure this is still tracking for the March 9th Code Freeze. Until then, this will be marked "At Risk" for the upcoming deadline. Thanks in advance!

[2021-03-01 23:19] kendallroden commented on #1507
Hey @robscott :) As a reminder, please link any k/k PR(s) or k/website PR(s) so that we can track them against the March 9th Code Freeze. Until then, this enhancement will be marked as "At Risk".

[2021-03-01 23:30] kendallroden commented on #1602
@ehashman Okay- makes sense. Can you confirm which k/k PR(s) should be considered part of this enhancement? We need to add them to the enhancement tracking sheet to validate the required PR(s) have merged prior to code freeze on March 9th.

[2021-03-01 23:39] kendallroden commented on #1845
Hey @cofyc just to confirm the Enhancements team is currently tracking https://github.com/kubernetes/kubernetes/pull/96347 as the sole k/k PR for inclusion in the 1.21 release. Code Freeze is March 9th as a quick reminder. Please let me know if there are any other in-flight PR(s) we should be tracking against.

[2021-03-02 00:39] swetharepakula commented on #752
Hi, sorry for the delay. I am still working on the PRs for this feature. I should have an update later today.

[2021-03-02 03:03] cofyc commented on #1845
https://github.com/kubernetes/kubernetes/pull/99594 API changes PR is WIP.

[2021-03-02 05:05] mkumatag commented on #2420
@BenTheElder is `1.12` a typo here?

[2021-03-02 06:33] jrsapi commented on #1495
Greetings @bswartz,
The enhancements team is marking this enhancement as "At-Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so the release team can track it.

[2021-03-02 06:52] jrsapi commented on #2047
Greetings @zshihang,
The enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so the release team can track it.

[2021-03-02 06:54] zshihang commented on #2047
https://github.com/kubernetes/kubernetes/pull/99298

[2021-03-02 07:03] jrsapi commented on #1933
Greetings @PurelyApplied,
The enhancements team is currently tracking the following PRs:

kubernetes/kubernetes/pull/94661
https://github.com/kubernetes/kubernetes/pull/96235

With the two PRs merged, can we mark this enhancement complete for code freeze or is there other PR(s) that are being worked on as part of the release?

[2021-03-02 07:08] BenTheElder commented on #2420
Yes it is, thank you!

[2021-03-02 07:16] jrsapi commented on #2227
Greetings @pacoxu,
The enhancements team is currently tracking the following PRs:

https://github.com/kubernetes/kubernetes/pull/97099

With the PR merged, can we mark this enhancement complete for code freeze, or do you have other PR(s) that are being worked on as part of the release?

[2021-03-02 07:21] jrsapi commented on #2317
Greetings @gnufied,
The enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so the release team can track it.

[2021-03-02 07:25] jrsapi commented on #2411
Greetings @umohnani8,
The enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so the release team can track it.

[2021-03-02 07:48] pacoxu commented on #2227
https://github.com/kubernetes/kubernetes/pull/97099#issuecomment-788694693

[2021-03-02 10:59] JamesLaverack commented on #592
Hi @ahg-g

Enhancements team is currently tracking the following PRs

- https://github.com/kubernetes/kubernetes/pull/98678

As this PR is merged, can we mark this enhancement complete for code freeze or do you have other PR(s) that are being worked on as part of the release?

[2021-03-02 11:04] ahg-g commented on #592
Hi @JamesLaverack, it is complete for this release. We will keep this issue open to track graduating the feature to GA in future releases.

[2021-03-02 11:09] JamesLaverack commented on #592
Thank you @ahg-g. :)

[2021-03-02 11:11] JamesLaverack commented on #1209
Hi @logicalhan and @serathius

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-02 11:14] JamesLaverack commented on #1748
Hi @smarterclayton,

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-02 11:21] JamesLaverack commented on #2079
Hi @rikatz

Enhancements team is currently tracking the following PRs

- https://github.com/kubernetes/kubernetes/pull/97058

As this PR is merged, can we mark this enhancement complete for code freeze or do you have other PR(s) that are being worked on as part of the release?

[2021-03-02 11:29] JamesLaverack commented on #2255
Hi @ahg-g

Enhancements team is currently tracking the following PRs

- https://github.com/kubernetes/kubernetes/pull/99163

As this PR is merged, can we mark this enhancement complete for code freeze or do you have other PR(s) that are being worked on as part of the release?

[2021-03-02 11:30] ahg-g commented on #2255
Hi @JamesLaverack , yes the k/k code is merged, docs PR still open though.

[2021-03-02 11:32] JamesLaverack commented on #2305
Hi @logicalhan and @lilic,

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-02 11:34] JamesLaverack commented on #2347
Hi @irozzo-1A,

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-02 11:39] JamesLaverack commented on #2458
Hi @ahg-g,

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

[2021-03-02 12:51] pohly commented on #1472
The following PRs in Kubernetes are relevant for the beta milestone:
- tests: https://github.com/kubernetes/kubernetes/pull/99632
- API change: https://github.com/kubernetes/kubernetes/pull/99641
- documentation: https://github.com/kubernetes/website/pull/26795

The API change is currently blocked because I hope to get a CSI spec update included. If releasing that update takes too long, then I wil

[2021-03-02 12:53] rikatz commented on #2079
@JamesLaverack :wave:

Yes,this can be marked as done. I'm just working on the docs here: https://github.com/kubernetes/website/pull/26714

[2021-03-02 14:00] pohly commented on #1698
The following PRs are relevant for promotion to beta in 1.21:
- tests and API fix: https://github.com/kubernetes/kubernetes/pull/99446
- metrics: https://github.com/kubernetes/kubernetes/pull/99115
- PSP validation: https://github.com/kubernetes/kubernetes/pull/98918
- comment cleanup: https://github.com/kubernetes/kubernetes/pull/99626
- beta: https://github.com/kubernetes/kubernetes/pull/99643
-

[2021-03-02 15:54] youssefazrak commented on #2347
@JamesLaverack you might be looking for this meta issue: https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/171

[2021-03-02 16:16] bswartz opened #2546 "Don't ignore user input in the DataSource field of a PVC"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Invalid PVC data sources are rejected instead of silently ignored.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2552
- Discussion Link:
- Primary contact (assignee): bswartz
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):

[2021-03-02 16:22] bswartz commented on #2546
/sig storage

[2021-03-02 17:09] ehashman commented on #2305
@JamesLaverack I'm updating the point contacts to be @logicalhan and @YoyinZyc

[2021-03-02 18:08] YoyinZyc commented on #2305
@JamesLaverack  There is one ongoing pr https://github.com/kubernetes/kubernetes/pull/99385

[2021-03-02 18:08] sjenning commented on #2053
e2e test for this https://github.com/kubernetes/kubernetes/pull/99612

[2021-03-02 18:16] YoyinZyc commented on #2305
I think they are good ideas. I'll keep that in mind.

[2021-03-02 18:17] YoyinZyc commented on #2305
I think they are good ideas. I'll keep that in mind. Thanks!

[2021-03-02 18:42] umohnani8 commented on #2411
Linked k/k PR and k/website draft PR.

[2021-03-02 19:38] irozzo-1A commented on #2347
@JamesLaverack the core of this change is not in k/k as @youssefazrak pointed out. The only thing that we may need to do in k/k is adding/modifying some manifests and scripts, or adding an e2e test, but I'm not sure at this stage. Tomorrow I will check with the sig-cloud-provider and come back to you.

[2021-03-02 19:41] arunmk commented on #34
hi @pacoxu , looks like this feature is code complete based on kubernetes/kubernetes#99158 merged into master. Could you please confirm?

[2021-03-02 20:02] arunmk commented on #213
Hi @krmayankk ,

Enhancements team is currently tracking the following PRs
- kubernetes/kubernetes#94641
- kubernetes/kubernetes#98645

With the PRs merged, can we mark this enhancement complete for code freeze or do you have other PR(s) that are being worked on as part of the release?

Thanks

[2021-03-02 20:12] arunmk commented on #541
Hi @enj  @ankeesler,

Enhancements team is currently tracking the following PRs
- kubernetes/kubernetes#97857
- kubernetes/kubernetes#99310
- kubernetes/kubernetes#97775
- kubernetes/kubernetes#98892

Since all of the PRs are in flight with some needing rebase and approval, I will mark it 'At Risk' for the upcoming code Freeze on 3/9. Does that seem reasonable to you?

Thanks

[2021-03-02 20:16] arunmk commented on #859
Hi @seans3 ,

Enhancements team does not have a linked PR to track for the upcoming code freeze. Could you please link a PR to this kep so that we may track it.

We are currently marking this KEP as 'At Risk' for the upcoming code freeze on 3/9.

Thanks

[2021-03-02 20:18] ankeesler commented on #541
@arunmk - that's fine. We are no longer trying to get https://github.com/kubernetes/kubernetes/pull/99310 merged in (I don't think I have permissions to update milestones on an issue), so the only unmerged prs as of right now are https://github.com/kubernetes/kubernetes/pull/99654 and https://github.com/kubernetes/kubernetes/pull/98892. We have conversations ongoing about both of these, so hopeful

[2021-03-02 22:15] kendallroden commented on #1885
@andyzhangx Hey Andy! Do you mind adding any currently in-progress k/k or k/website PR(s) so that we can track them for the Code Freeze approaching on March 9th? Until we can ensure the work is in-progress and on track, this enhancement will be marked as "At Risk" in the enhancements tracking sheet.

Thanks!

[2021-03-02 22:30] ehashman commented on #34
@arunmk currently @wgahnagl is checking if we need to promote e2e tests to conformance as a result of the GA. There are no other code changes.

I'll see about the documentation changes for GA. @pacoxu do you want to take that on or should I find someone else?

[2021-03-02 22:33] kendallroden commented on #2365
Not sure if you meant to @ me but thanks for these updates :) @hbagdi

[2021-03-02 22:45] robscott commented on #2433
Hey @JornShen thanks for checking in! If you have time, I'd really appreciate any review or testing of my related PR: https://github.com/kubernetes/kubernetes/pull/99522.

[2021-03-02 23:15] arunmk commented on #1295
Hi @deads2k  ,

Enhancements team does not have a linked PR to track for the upcoming code freeze. Could you please link a PR to this KEP so that we may track it.

We are currently marking this KEP as 'At Risk' for the upcoming code freeze on 3/9.

Thanks

[2021-03-02 23:19] arunmk commented on #1393
Hi @mtaufen,

Enhancements team is currently tracking the following PRs
- kubernetes/kubernetes#98587
- kubernetes/kubernetes#98553
- kubernetes/kubernetes#98586

Since these PRs are merged, can we mark this enhancement complete for code freeze or do you have other PR(s) that are being worked on as part of the release?

Thanks

[2021-03-02 23:24] swetharepakula commented on #752
PR for the API Changes: https://github.com/kubernetes/kubernetes/pull/99662

[2021-03-02 23:29] arunmk commented on #1698
Hi @pohly,

Enhancements team is currently tracking the following PRs
- kubernetes/kubernetes#99446
- kubernetes/kubernetes#99115 -- merged
- kubernetes/kubernetes#98918
- kubernetes/kubernetes#99626
- kubernetes/kubernetes#99643 -- large change not yet approved

Since many of the PRs are in flight with one large PR needing approval, I am marking it 'At Risk' for the upcoming code Freeze on 3/9. D

[2021-03-02 23:32] arunmk commented on #1967
Hi @derekwaynecarr @mvortizr  ,

Enhancements team does not have a linked PR to track for the upcoming code freeze. Could you please link a PR to this KEP so that we may track it.

We are currently marking this KEP as 'At Risk' for the upcoming code freeze on 3/9.

Thanks

[2021-03-02 23:34] arunmk commented on #2000
Hi @bobbypage @mvortizr,

Enhancements team does not have a linked PR to track for the upcoming code freeze. Could you please link a PR to this KEP so that we may track it.

We are currently marking this KEP as 'At Risk' for the upcoming code freeze on 3/9.

Thanks

[2021-03-02 23:36] arunmk commented on #2129
Hi @pacoxu,

Enhancements team is currently tracking the following PR
- kubernetes/kubernetes#99236

With the PR merged, can we mark this enhancement complete for code freeze or do you have other PR(s) that are being worked on as part of the release?

Thanks

[2021-03-02 23:38] arunmk commented on #2161
Hi @jayunit100,

Enhancements team does not have a linked PR to track for the upcoming code freeze. Could you please link a PR to this KEP so that we may track it.

We are currently marking this KEP as 'At Risk' for the upcoming code freeze on 3/9.

Thanks

[2021-03-02 23:43] arunmk commented on #2232
Hi @adtac ,

Enhancements team is currently tracking the following PR
- kubernetes/kubernetes#98727

I went through the review comments and there are a few comments requiring some amount of work. However since this is the only PR in this KEP, I am leaning towards keeping the status as `Tracked` rather than `At Risk`. However please note that the code freeze is on 3/9.

Thanks

[2021-03-02 23:51] arunmk commented on #2238
Hi @ehashman ,

Enhancements team is currently tracking the following PR
- kubernetes/kubernetes#99375

I went through the review comments and there are a few comments requiring some decisions and there is also an api-review initiated. This is the only PR but it is a fairly large one at 15 KLOC. Since there are a few decision points and some test related comments, and also since the code freeze is

[2021-03-03 00:34] ehashman commented on #1602
@kendallnelson rather than trying to do that, I've created a project board to track PRs for this release, which will be easier to work with: https://github.com/orgs/kubernetes/projects/53

[2021-03-03 00:55] pacoxu commented on #34
@ehashman
I will update sysctls docs next week if no one is working on it.

[2021-03-03 04:49] arunmk commented on #541
Thanks @ankeesler . We did not have kubernetes/kubernetes#99654 in the tracking list earlier. So have added it above. Also updated the status in place. I will move this KEP to `Tracked`

[2021-03-03 07:25] jrsapi commented on #1432
Greetings @xing-yang @NickrenREN

The enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement.

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so the release team can track it.

[2021-03-03 09:44] pohly commented on #1698
That last PR is only large because of all the generated files. The actual change is rather small. But if "at risks" means that reviewers will prioritize these PRs, then I am all for it. :sweat_smile:

[2021-03-03 09:47] JamesLaverack commented on #2347
Thanks both for the clarification. I'll keep an eye on https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/171 and wait to see if there's anything you need for k/k. :)

[2021-03-03 13:34] andyzhangx commented on #1885
@kendallnelson k/k code change is done in master branch, there is a website PR: https://github.com/kubernetes/website/pull/26818

[2021-03-03 17:49] JamesLaverack commented on #2305
@ehashman Thanks for the clarification! We'll update our tracking spreadsheet to reflect that.

@YoyinZyc Thank you for linking me, i've set this enhancement back to "Tracked". I see that https://github.com/kubernetes/kubernetes/pull/99385 is now merged. Are there any other k/k pull requests outstanding (/need doing before code freeze) or can I mark you as done?

[2021-03-03 17:59] JamesLaverack commented on #563
Hi @lachie83

Enhancements team is marking this enhancement as "At Risk" for the upcoming code freeze due to not seeing any linked k/k PR(s) for this enhancement. (Unless I've missed them! Please tell me if I have.)

Please make sure to provide all k/k PR(s) and k/website PR(s) to this issue so it can be tracked by the release team.

P.S. Should I be tagging others for updates about this? @bridget

[2021-03-03 19:19] rikatz opened #2551 "kubectl return code normalization"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Normalize the return codes issued by kubectl when an error occurs (and also when we have success)
- Kubernetes Enhancement Proposal: NONE YET
- Discussion Link: Discussed on sig-cli bug scrub of 3rd of March of 2021 https://www.youtube.com/watch?v=EWxJiZXZD08 49:39
- Primary contact (assignee): @rikatz
-

[2021-03-03 19:19] rikatz commented on #2551
/assign @rikatz
/sig cli

[2021-03-03 21:41] savitharaghunathan commented on #2546
Hi, @bswartz 👋  1.21 RT Lead shadow here. This KEP is not tracked by the enhancements team. Has there been an exception request filed for this KEP?
Please reach out to the 1.21 Release Team if you have any queries. Thanks!

[2021-03-03 22:25] annajung commented on #2546
Hi @bswartz, 1.21 Enhancements Lead here

Adding onto @savitharaghunathan's comment, any enhancements added after enhancements freeze requires an exception to be added back to the milestone and tracked by the enhancements team.

Until the exception is approved, I'll clear the milestone. Thanks!
/milestone clear

[2021-03-03 22:33] bridgetkromhout commented on #563
Hi @JamesLaverack this enhancement is intended to graduate from alpha to beta; it's not a new code addition in k/k. We filed the PRR and I'll open the placeholder docs PR. What other updates were you looking for? Thanks.

[2021-03-03 22:59] bridgetkromhout commented on #563
The k/k PR for this change (alpha to beta, putting feature gate on by default) is in https://github.com/kubernetes/kubernetes/pull/98969.

[2021-03-03 23:22] bobbypage commented on #2000
https://github.com/kubernetes/kubernetes/pull/99735 is created to promote graceful node shutdown to beta.

[2021-03-03 23:52] JamesLaverack commented on #563
Hi @bridgetkromhout.

Thank you for the clarification. I wasn't sure what k/k code changes were required and I missed the link for https://github.com/kubernetes/kubernetes/pull/98969. But as that's merged and there are no other changes I've flipped this enhancement back to "Tracked" (from "At Risk") and marked it as done for code freeze.

[2021-03-04 00:00] bridgetkromhout commented on #563
Thanks, @JamesLaverack. I also just submitted a 1.21 docs update in https://github.com/kubernetes/website/pull/26826 and didn't put it in draft, as it's ready for review at this time.

[2021-03-04 00:52] YoyinZyc commented on #2305
@JamesLaverack I have one more pr https://github.com/kubernetes/kubernetes/pull/99738. Once it is merged, you can mark it as done.:)

[2021-03-04 06:30] pacoxu commented on #2129
@arunmk  I think so.
@dashpole Would you confirm?

I will update the docs in website for 1.21 next week.

[2021-03-04 08:46] arunmk commented on #2000
@bobbypage thanks for mentioning it. Is https://github.com/kubernetes/kubernetes/pull/98658 also linked to this KEP?

[2021-03-04 08:48] arunmk commented on #2000
Thanks @bobbypage. We will move this to `Tracked` and monitor the PR.

[2021-03-04 08:51] arunmk commented on #1698
@pohly that is only for our reference. For `At Risk` status, I will check on the status of the PRs at a higher frequency.

[2021-03-04 09:04] pacoxu commented on #2445
/cc

I opened https://github.com/kubernetes/kubernetes/issues/99751 for DNS related process of promotion images and add supports to kubeadm.

[2021-03-04 14:29] irozzo-1A commented on #2347
I confirm that we don't foresee any impact k/k.

[2021-03-04 14:43] dashpole commented on #2129
This enhancement is complete.  We can mark the KEP as implemented.

[2021-03-04 15:08] annajung commented on #2420
Hey @BenTheElder,

With https://github.com/kubernetes/kubernetes/pull/99561 merged, can we mark this as code complete for the 1.21 release? Or is there a plan to make any more k/k PRs?

[2021-03-04 15:41] annajung commented on #555
Hi @apelisse

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if this

[2021-03-04 16:24] ahg-g commented on #2249
Implementation is merged, only docs PR is pending.

[2021-03-04 17:56] ehashman commented on #1209
@logicalhan can you link the PRs adding stable metrics here?

[2021-03-04 17:58] ehashman commented on #647
We're still blocked on some requested changes for the design, this is at risk but we're hoping it'll make it.

[2021-03-04 18:00] ehashman commented on #2305
Code changes are complete, we just need to follow up with documentation updates.

[2021-03-04 18:01] ehashman commented on #1748
@JamesLaverack we've determined there are no code changes required for graduation to beta. We are updating documentation.

[2021-03-04 18:19] YoyinZyc commented on #2305
Can you give me some instruction on which document I should update? I am not sure I know all. Thanks!

[2021-03-04 19:33] annajung commented on #1864
Hey @andrewsykim

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if

[2021-03-04 19:34] annajung commented on #1959
Hey @andrewsykim

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if

[2021-03-04 19:35] annajung commented on #2053
Hey @derekwaynecarr

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST

Enhancements team is currently tracking the following PR(s):
- https://github.com/kubernetes/kubernetes/pull/99610
- https://github.com/kubernetes/kubernetes/pull/99612

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://

[2021-03-04 19:36] annajung commented on #2086
Hey @andrewsykim

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if

[2021-03-04 19:36] annajung commented on #2133
Hey @andrewsykim

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if

[2021-03-04 19:37] annajung commented on #2395
Hey @andrewsykim

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if

[2021-03-04 19:53] jrsapi commented on #277
Greetings @verb,

A friendly reminder that **Code freeze is 5 days away**, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.
Please also keep in mind that if this e

[2021-03-04 20:02] jrsapi commented on #1432
Greetings @xing-yang @NickrenREN,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an exception to be added back.
Please also keep in mind that if this enhancement requires new docs or modification to existing docs, you'll need to follow the steps in the Open a placehold

[2021-03-04 20:04] jrsapi commented on #1495
Greetings @bswartz,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an exception to be added back.
Please also keep in mind that if this enhancement requires new docs or modification to existing docs, you'll need to follow the steps in the Open a placeholder PR doc to o

[2021-03-04 20:08] jrsapi commented on #1845
Greetings @cofyc,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an exception to be added back.
Please also keep in mind that if this enhancement requires new docs or modification to existing docs, you'll need to follow the steps in the Open a placeholder PR doc to ope

[2021-03-04 20:10] jrsapi commented on #1847
Greetings @mattcary @kk-src,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an exception to be added back.
Please also keep in mind that if this enhancement requires new docs or modification to existing docs, you'll need to follow the steps in the Open a placeholder PR

[2021-03-04 20:16] jrsapi commented on #1933
Greetings @PurelyApplied,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.
Please also keep in mind that if t

[2021-03-04 20:19] jrsapi commented on #2047
Greetings @zshihang ,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.
Please also keep in mind that if this

[2021-03-04 20:20] jrsapi commented on #2185
Greetings @damemi,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.
Please also keep in mind that if this enh

[2021-03-04 20:36] alculquicondor commented on #2307
It looks like #2232 is almost there. Once it merges, we would have very little time to handle conflicts and go through reviews. So we would likely be deferring this enhancement to 1.22.

cc @ahg-g @soltysh

[2021-03-04 20:40] #2009 closed

[2021-03-04 21:07] jrsapi commented on #2411
Greetings @umohnani8,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.
Please also keep in mind that if this

[2021-03-04 21:09] jrsapi commented on #2436
Greetings @jiahuif,

A friendly reminder that Code freeze is 5 days away, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.
Please also keep in mind that if this en

[2021-03-04 21:41] #1664 closed

[2021-03-04 21:45] robscott commented on #1507
Hey @kendallroden, Tim pointed out that we have to [wait one more cycle](https://github.com/kubernetes/kubernetes/pull/99762#issuecomment-790775756) to remove this feature gate. This can be removed from tracking for the 1.21 cycle.

[2021-03-04 22:42] thockin commented on #2086
PR for this is being discusses and reviewed.  Not dead yet.

https://github.com/kubernetes/kubernetes/pull/96600

[2021-03-04 22:44] thockin commented on #1959
PR is under review: https://github.com/kubernetes/kubernetes/pull/98277

[2021-03-04 23:11] PurelyApplied commented on #1933
Sorry, it's been a very hectic week.

This enhancement is code complete for the upcoming release.  Strictly speaking, it would be [this test-infra PR](https://github.com/kubernetes/test-infra/pull/20164/files) that graduated the test to `beta` and [this documentation PR](https://github.com/kubernetes/community/pull/5349).  The two k/k PRs above were part of the 1.20 release cycle.  No updates to t

[2021-03-04 23:14] BenTheElder commented on #2420
I'm not sure if they count, but we should do some lingering cleanup this release. Mostly docs in k/k, but there's some minor script cleanup to follow-up with.

I think we can mark alpha complete.

[2021-03-04 23:23] BenTheElder commented on #2420
PR listing so far:
- https://github.com/kubernetes/test-infra/pull/20977
- https://github.com/kubernetes/test-infra/pull/20991
- https://github.com/kubernetes/test-infra/pull/21008
- https://github.com/kubernetes/test-infra/pull/21009
- https://github.com/kubernetes/test-infra/pull/21017
- https://github.com/kubernetes/test-infra/pull/21037
- https://github.com/kubernetes/test-infra/pull/21045
- h

[2021-03-05 00:27] JamesLaverack commented on #1748
@ehashman Thank you for the clarification. I've now marked this enhancment as "Tracked" and done for 1.21.

[2021-03-05 00:29] JamesLaverack commented on #2305
Thanks both. I've now updated the enhancement tracking spreadsheet to note this enhancement as done for code freeze.

[2021-03-05 02:01] swetharepakula commented on #752
Merged PRs:
- https://github.com/kubernetes/kubernetes/pull/99796
- https://github.com/kubernetes/kubernetes/pull/99746

[2021-03-05 03:41] kendallroden commented on #19
Looks like things are moving along- currently seeing a few outstanding k/k PRs and a few merged. Will continue to monitor progress as we move closer to Code Freeze on March 9th EOD PST (5 days from now)

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIO

[2021-03-05 03:45] kendallroden commented on #647
Totally understand @ehashman! Just a reminder that Code Freeze is on March 9th EOD PST (5 days from now)

Any enhancements that are not code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in m

[2021-03-05 03:56] kendallroden commented on #1507
Thanks for the update @robscott!

[2021-03-05 03:59] kendallroden commented on #1602
Thanks for this @ehashman! I know you are aware based on work on other enhancements of the upcoming Code Freeze on the 9th and the requirements for exceptions. Will continue tracking these in the meantime! Thanks

[2021-03-05 04:02] kendallroden commented on #1885
I think @kendallnelson has received multiple "@" this release cycle on my behalf :P Thanks for the update @andyzhangx will mark this as good to go for the upcoming freeze! Thanks so much!

[2021-03-05 04:07] kendallroden commented on #2249
Hey @ahg-g! Looks like you are all merged and good to go for the upcoming Code Freeze! Thanks for the updates and the hard work :D

[2021-03-05 04:08] kendallroden commented on #2365
@hbagdi Hey there! Just a quick reminder that **Code freeze is 5 days away**, March 9th EOD PST
Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back. Looks like your placeholder PR f

[2021-03-05 04:11] kendallroden commented on #2433
Hey @robscott! I know you are aware based on other enhancement work that code freeze is coming up on March 9th EOD PST and if any PRs are not merged by the deadline, you'll have to request an exception! Please also keep in mind that if this enhancement requires new docs or modification to existing docs, you'll need to follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/c

[2021-03-05 07:13] spiffxp commented on #2539
/priority important-soon

[2021-03-05 07:16] spiffxp commented on #2539
I would bucket this KEP under `process` when https://github.com/kubernetes/enhancements/issues/2311 is completed

[2021-03-05 07:17] spiffxp commented on #2464
I would bucket this KEP under `process` when https://github.com/kubernetes/enhancements/issues/2311 is completed

[2021-03-05 16:45] MyannaHarris opened #2556 "Circumvent 50 tag ASG limit for EKS ManagedNodegroups"
# Enhancement Description
- Circumvent 50 tag ASG limit for EKS ManagedNodegroups
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @MyannaHarris
- Responsible SIGs: SIG Autoscaling
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (

[2021-03-05 16:46] verb commented on #277
Hi @jrsapi,

sig-auth has requested a large API change, so we won't be graduating to beta in 1.21. Could you remove this from tracking for 1.21?

Thanks!

[2021-03-05 16:46] MyannaHarris commented on #2556
/sig autoscaling

[2021-03-05 17:39] annajung commented on #1959
Hi @andrewsykim @thockin thanks for linking the PR. Can we mark this enhancement as code complete with https://github.com/kubernetes/kubernetes/pull/98277 merged?

[2021-03-05 18:11] mortent commented on #85
The work to promote PDBs to v1 in 1.21 looks to be on track, but we have decided that the Eviction resource will not be promoted in 1.21. The reason is that since the `/pods/eviction` endpoint is a subresource of a v1 API, there are some challenges around how we should do this. More background is available in this [thread](https://github.com/kubernetes/kubernetes/pull/99290#discussion_r582003770)

[2021-03-05 21:53] lavalamp commented on #1872
@vivekbagade are you coming back to this? People are interested in the replacement :)

[2021-03-06 00:49] BenTheElder commented on #2420
We need to make further code changes this cycle, see: https://github.com/kubernetes/kubernetes/pull/99561.

Basically Kubernetes has tooling to restrict package imports (e.g. to prevent further dependency on a deprecated package, or because we are preparing to migrate a package to "staging"), but at least one effort https://github.com/kubernetes/kubernetes/issues/89267 relied on bazel [visibility

[2021-03-06 02:24] BenTheElder commented on #2420
Also some follow-up we should be doing: https://github.com/kubernetes/kubernetes/issues/99517 (this is pretty high on my todo-list, just being preempted by bugs / release blockers).

[2021-03-06 07:24] arunmk commented on #34
Hi @ehashman, @wgahnagl,

Could you mention if there is going to be a PR for the e2e tests? Code freeze is on 3/9 and it should make it by then. If it's not going to come in this KEP can be marked done.

Thanks!

[2021-03-06 07:27] arunmk commented on #213
Hi @krmayankk , I see that the PRs linked to this ticket are merged. Could you mention if this KEP is done? If so, I can mark it done for the code freeze coming up on 3/9.

Thanks

[2021-03-06 07:33] arunmk commented on #1295
Hi @deads2k, this KEP has been marked as implemented in the KEP document. Is there an outstanding PR that is expected to be merged before code freeze on 3/9?

Thanks!

[2021-03-06 07:39] arunmk commented on #1698
Hi @pohly,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if this e

[2021-03-06 07:40] arunmk commented on #1967
Hi @derekwaynecarr @mvortizr ,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in

[2021-03-06 07:44] arunmk commented on #2161
Hi @jayunit100,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if t

[2021-03-06 07:46] arunmk commented on #2232
Hi @adtac,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if this e

[2021-03-06 07:47] arunmk commented on #2238
Hi @ehashman,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if thi

[2021-03-06 07:51] arunmk commented on #541
Hi @ankeesler,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST. I see that the linked PRs are done but there is one test related PR kubernetes/kubernetes#99654 which I am not sure about. Would that also need to be in by code freeze for this KEP?

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](

[2021-03-06 07:54] arunmk commented on #859
Hi @seans3 @soltysh ,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind tha

[2021-03-06 07:55] arunmk commented on #1295
Hi @deads2k ,

A friendly reminder that **Code freeze is 4 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if thi

[2021-03-06 08:15] #1618 closed

[2021-03-06 17:57] JamesLaverack commented on #1209
Hi @logicalhan and @serathius,

A friendly reminder that **Code freeze is 3 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in

[2021-03-06 17:58] JamesLaverack commented on #2155
Hi @jpbetz,

A friendly reminder that **Code freeze is 3 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if this

[2021-03-06 17:59] JamesLaverack commented on #2214
Hi @alculquicondor,

A friendly reminder that **Code freeze is 3 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that

[2021-03-06 18:03] JamesLaverack commented on #2403
Hi @fromanirh,

A friendly reminder that **Code freeze is 3 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if th

[2021-03-06 18:04] JamesLaverack commented on #2458
Hi @ahg-g,

A friendly reminder that **Code freeze is 3 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back.

Please also keep in mind that if this e

[2021-03-06 18:50] thockin opened #2558 "KEP: Add a +featureGate tag to API"
# Enhancement Description

- One-line enhancement description (can be used as a release note): Add metadata to API files (types.go) to indicate when fields are governed by a feature gate.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2558-publish-version-openapi
- Discussion Link: https://groups.google.com/g/kubernetes-sig-architec

[2021-03-06 19:10] arunmk commented on #34
(Adding this as a note sent to all)

Hi @ehashman @wgahnagl,

A friendly reminder that **Code freeze is 3 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be ad

[2021-03-06 19:11] arunmk commented on #213
(Adding this as a note sent to all)

Hi @krmayankk ,

A friendly reminder that **Code freeze is 3 days away**, March 9th EOD PST

Any enhancements that are NOT code complete by the freeze will be removed from the milestone and will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to be added back

[2021-03-06 19:40] sftim commented on #2558
This will be really useful for SIG Docs.

[2021-03-06 23:39] logicalhan commented on #1209
https://github.com/kubernetes/kubernetes/pull/99788
https://github.com/kubernetes/kubernetes/pull/99785

[2021-03-06 23:41] logicalhan commented on #1209
Also, these two PRs were relevant: https://github.com/kubernetes/kubernetes/pull/99217 & https://github.com/kubernetes/kubernetes/pull/98739

[2021-03-06 23:43] logicalhan commented on #1209
Ah, sorry about that. I linked the PRs. There is only one pending (which is #99785). It's pretty much good to go, once I hear back from @brancz, I can lgtm/approve it. Personally, I'd characterize this as low risk.

[2021-03-07 00:31] #1920 closed

[2021-03-07 07:37] hbagdi commented on #2365
@kendallnelson An update: code PR for this enhancement has been merged and the docs PR is open (https://github.com/kubernetes/website/pull/26723).

[2021-03-07 10:23] coopbri commented on #360
@KlavsKlavsen you might already know about this project, but I've been using [kubespray](https://github.com/kubernetes-sigs/kubespray) for multi-platform cluster deployment, including bare metal. As @olemarkus mentioned, you can instead use kops with OpenStack if you'd prefer to still use kops.

[2021-03-07 13:58] nikhita commented on #2558
Created https://github.com/kubernetes/enhancements/pull/2560

/assign

[2021-03-07 14:00] nikhita commented on #2558
/sig architecture

[2021-03-07 18:50] bboreham commented on #1440
Such filtering seems equally useful for the list operation as for the watch.  Would it be better named `--for`?

Or, should this feature be patterned after `kubectl get`, so:
* `kubectl events pod/foo` will filter to that one pod.
* `kubectl events pod` will get any pod events for the namespace.
* `kubectl events` will get all events for the namespace.

[2021-03-08 00:01] ahg-g commented on #2458
/milestone v1.22

This enhancement will not make it.

[2021-03-08 02:04] annajung commented on #2053
Hi @derekwaynecarr, with the two PRs merged, I am marking this as code complete for the release. If there are any other PRs that should be tracked, please let me know. Thanks!

[2021-03-08 02:31] jpbetz commented on #2155
Quick update: The primary PRs to add this feature have merged. The two smaller PRs are under review and we expect them to make it in for the March 9th code freeze.

[2021-03-08 02:31] hh commented on #752
Tests have been soaking for almost two weeks! Great job!

Looking forward to the promotion + GA release of `EndpointSlice` shortly!

https://apisnoop.cncf.io/1.21.0/stable/discovery

![image](https://user-images.githubusercontent.com/31331/110266669-2a7d5680-8023-11eb-8d78-3e9d03c878c7.png)

See: https://github.com/kubernetes/kubernetes/pull/99916#issuecomment-792413839

[2021-03-08 07:25] krmayankk commented on #213
@arunmk yes i think this enhancement can be marked as done afaict. @tallclair @liggitt  please confirm .

[2021-03-08 07:27] krmayankk commented on #213
I believe [this documentatio](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/)n needs some update, @arunmk do documentations fixes also need to be completed by coed freeze date ?

[2021-03-08 07:35] KlavsKlavsen commented on #360
@coopbri @olemarkus I looked at openstack-  but I can find absolute no documentation of how to setup openstack (except for some devel hack - that only sets everything up on your laptop) :(
It would be a fine solution, to have an openstack setup (for so few nodes - it should run just fine on 1 server - or in a few lxd's on one server).

It seems to not have gained community acceptance - since no on

[2021-03-08 08:45] arunmk commented on #213
@krmayankk i believe 3/16 is the deadline to have a placeholder doc and it should also include such documentation. Let me check with the team and confirm.

[2021-03-08 09:49] JamesLaverack commented on #85
Okay, thanks for the update @mortent.

Does the KEP require any updates to reflect this change?

[2021-03-08 13:18] ankeesler commented on #541
@arunmk - https://github.com/kubernetes/kubernetes/pull/99713 is _not_ required to get in before code freeze. It is purely a test. If it doesn't make it into 1.21, we can get it into 1.22.

[2021-03-08 14:36] alculquicondor commented on #2185
Should we consider any updates to documentation for this? https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#scaling-a-replicaset

Current documentation doesn't give any details about internal selection, which might still be desired.

@janetkuo @soltysh

[2021-03-08 15:50] mtaylor769 commented on #360
I have a repo that I used for bare metal Kube clusters that uses the CentOS
kernel for Docker. I will post a link to it here later.

On Sun, Mar 7, 2021 at 11:35 PM Klavs Klavsen <notifications@github.com>
wrote:

[2021-03-08 16:36] arunmk commented on #213
Hi @krmayankk it is confirmed that we do NOT need docs to be updated by the code freeze on 3/9.

[2021-03-08 16:56] reylejano commented on #542
Hello @zshihang , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created befor

[2021-03-08 17:01] reylejano commented on #1923
Hello @chendave , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created befor

[2021-03-08 17:12] reylejano commented on #1959
Hello @andrewsykim , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by

[2021-03-08 17:14] reylejano commented on #2000
Hello @bobbypage , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by *

[2021-03-08 17:19] reylejano commented on #2053
Hello @derekwaynecarr, 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created

[2021-03-08 17:56] JamesLaverack commented on #2347
Okay @irozzo-1A, thank you for the clarification. We can continue to track this issue as an "out of tree" enhancement, but we'll still need your changes to be done by code freeze tomorrow. Or we can not track it at all.

[2021-03-08 18:45] ehashman commented on #34
Hi @arunmk,

There is a PR for the e2es, however those aren't required to merge by code freeze, they will follow the test freeze deadline. Code changes are complete.

https://github.com/kubernetes/kubernetes/pull/99734

[2021-03-08 19:02] danmx commented on #1067
Hi, what's the status and do you need any help?

[2021-03-08 19:02] logicalhan commented on #1209
Oh there is one more PR: https://github.com/kubernetes/kubernetes/pull/99925/

(it's been approved and is passing CI so it should merge today)

[2021-03-08 19:39] annajung commented on #2086
Reopening the issue since all enhancement issues must be left open until enhancement graduates to stable and KEP is marked as `implemented`.

Also will mark this as code complete for the upcoming code freeze. If this is a mistake, please link other code PRs and ping me to notify. thank you!

[2021-03-08 20:38] alculquicondor commented on #2214
Thanks James. There is only one minor bugfix open kubernetes/kubernetes#99865 and I just opened the docs placeholder

[2021-03-08 21:52] irozzo-1A commented on #2347
@JamesLaverack At this stage, it is very unlikely that we can make it for tomorrow.

[2021-03-08 22:05] lumjjb commented on #1067
Hi @danmx ! Currently, the enablement of the feature in crio/containerd is via an operator: https://github.com/IBM/k8s-enc-image-operator

This is a talk we did at kubecon a while back: https://kccnceu20.sched.com/event/Zepc, has a demo and some more info.

There is definitely potential for more native support and per service account/namespace decryption, but there hasn't been an ask for it yet.

[2021-03-08 22:20] danmx commented on #1067
Does image encryption rely on any Kubernetes configuration or can it be configured on the runtime level transparent to K8s?

[2021-03-08 23:22] JamesLaverack commented on #1209
Thanks for the clarification @logicalhan. Is the only one left to merge https://github.com/kubernetes/kubernetes/pull/99785?

[2021-03-08 23:25] janetkuo commented on #2185
Yes, please update docs and the feature gate for this.

[2021-03-09 00:28] sargun commented on #1602
Is there any story on how we would write structured logging out to something like journald, which expects it in its own format?

[2021-03-09 01:30] arunmk commented on #2232
Hi @adtac, since the only PR mentioned earlier has been merged, can this KEP be marked as done?

[2021-03-09 01:52] xing-yang commented on #1432
Thanks for the ping @jrsapi !

We are trying to get this PR merged: https://github.com/kubernetes/kubernetes/pull/99284

[2021-03-09 01:56] chendave commented on #1923
@reylejano Hi, not docs is required so far.

[2021-03-09 02:19] bobbypage commented on #2000
Hi @reylejano

Yes, docs will need to be updated for this feature as part of beta. I've created placeholder PR on k/website here: https://github.com/kubernetes/website/pull/26963

[2021-03-09 08:37] serathius commented on #1602
With this effort we introduced mechanism for registering your own logging implementation. Logging format can be customized by implementing https://github.com/go-logr/logr interface and registering it. This should allow for K8s to support more formats out of the box and advanced users to introduce their own format.

For journal you should be able to prototype journal logr implementation. There are

[2021-03-09 14:03] adtac commented on #2232
@arunmk yes, the implementation is complete. Note that the docs PR is still open and under review.

[2021-03-09 14:56] annajung commented on #961
Hi @krmayankk, 1.21 Enhancements Lead here.
With Enhancements freeze in effect, we are not able to mark this as tracked without an exception. That being said, I did see that you filed an exception for this enhancement.

Once accepted, I can label this enhancement as tracked and start tracking it in the enhancements tracking sheet.

[2021-03-09 15:10] annajung commented on #1472
Hi @pohly with https://github.com/kubernetes/kubernetes/pull/99632 and https://github.com/kubernetes/kubernetes/pull/99641 merged, the enhancements team is marking this as code complete for the upcoming code freeze.

If there are other PRs associated with this enhancement, please reach out.

[2021-03-09 16:02] logicalhan commented on #1209
Yes and I have the requisite approval OWNER ACLs for those files, so there isn't any reason it shouldn't merge today. I'm just waiting on a reply from @brancz.

[2021-03-09 20:11] annajung commented on #19
Hi @soltysh, can you clarify if https://github.com/kubernetes/kubernetes/pull/99515 is a requirement for this enhancement? Or do you consider this to be code complete with the https://github.com/kubernetes/kubernetes/pull/99991 merged in?

[2021-03-09 20:29] annajung commented on #85
Hi @mortent, 1.21 Enhancements Lead here.

With the https://github.com/kubernetes/kubernetes/pull/99290 merged, we will mark this as code complete. A PR to promote to conformance https://github.com/kubernetes/kubernetes/pull/84740 have until test freeze to merge.

As for the change to address eviction to GA in 1.22, could you make sure that KEP is also updated to reflect the latest discussion?

[2021-03-09 20:33] annajung commented on #2161
Hi @jayunit100, with https://github.com/kubernetes/kubernetes/pull/96968 merged, we will mark this as code complete for the upcoming code freeze.

[2021-03-09 20:56] annajung commented on #1209
Hi @logicalhan, with the following PRs merged, we're marking this as code complete for the 1.21 release.
- https://github.com/kubernetes/kubernetes/pull/99788
- https://github.com/kubernetes/kubernetes/pull/99785
- https://github.com/kubernetes/kubernetes/pull/99217
- https://github.com/kubernetes/kubernetes/pull/98739
- https://github.com/kubernetes/kubernetes/pull/99925

[2021-03-09 21:52] annajung commented on #2433
Hi @robscott, with https://github.com/kubernetes/kubernetes/pull/99522 merged in, we will mark this as code complete for 1.21 release.

[2021-03-09 22:44] fromanirh commented on #2403
yes, thanks!

[2021-03-10 00:07] logicalhan commented on #1209
Should be code complete now 😄

Thanks for your help!!

[2021-03-10 00:09] annajung commented on #1432
Hi @xing-yang, with https://github.com/kubernetes/kubernetes/pull/99284 merged, we are marking this as code complete for the 1.21 release. thanks!

[2021-03-10 00:12] annajung commented on #752
Hi @robscott, with the following PRs all merged in, we are marking this enhancement as code complete for the release.
- https://github.com/kubernetes/kubernetes/pull/99662
- https://github.com/kubernetes/kubernetes/pull/99796
- https://github.com/kubernetes/kubernetes/pull/99746
- https://github.com/kubernetes/kubernetes/pull/99870
- https://github.com/kubernetes/kubernetes/pull/99879
- https://gi

[2021-03-10 00:38] alculquicondor commented on #2214
Perfect, thank you

[2021-03-10 00:52] JamesLaverack commented on #2347
Hi @irozzo-1A,

Thanks again for the update. Given that state, we've removed this enhancement from the 1.21 release.

From here you have a few options:
* You could file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) for inclusion in 1.21
* You could re-target this enhancement for 1.22 instead.

[2021-03-10 01:00] tengqm commented on #34
@ehashman @pacoxu Please open a placeholder PR in k/website for tracking. Thanks.

[2021-03-10 03:31] annajung commented on #647
Hi @dashpole, with code freeze now in effect, we are removing this enhancement from 1.21 release due to https://github.com/kubernetes/kubernetes/pull/94942 not being merged or approved.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 03:33] annajung commented on #859
Hi @seans3, with code freeze now in effect, we are removing this enhancement from 1.21 release due to no code PR being tracked for this enhancement.

If needed, feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 03:34] annajung commented on #1295
Hi @deads2k , with code freeze now in effect, we are removing this enhancement from 1.21 release due to no code PR being tracked for this enhancement.

If needed, feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 03:36] annajung commented on #1495
Hi @bswartz, with code freeze now in effect, we are removing this enhancement from 1.21 release due to no code PR being tracked for this enhancement.

If needed, feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 03:41] annajung commented on #1847
Hi @mattcary, with code freeze now in effect, we are removing this enhancement from 1.21 release due to https://github.com/kubernetes/kubernetes/pull/99378 and https://github.com/kubernetes/kubernetes/pull/99728 not being merged or approved.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-da

[2021-03-10 03:43] annajung commented on #1864
Hi @andrewsykim, with code freeze now in effect, we are removing this enhancement from 1.21 release due to no code PR being tracked for this enhancement.

If needed, feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 03:47] annajung commented on #1981
Hi @marosset, with code freeze now in effect, we are removing this enhancement from 1.21 release due to https://github.com/kubernetes/kubernetes/pull/99576 not being merged or approved.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 03:49] annajung commented on #2047
Hi @zshihang, with code freeze now in effect, we are removing this enhancement from 1.21 release due to https://github.com/kubernetes/kubernetes/pull/99298 not being merged or approved.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 03:50] annajung commented on #2133
Hi @andrewsykim, with code freeze now in effect, we are removing this enhancement from 1.21 release due to no code PR being tracked for this enhancement.

If needed, feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 04:02] annajung commented on #2238
Hi @ehashman, with code freeze now in effect, we are removing this enhancement from 1.21 release due to https://github.com/kubernetes/kubernetes/pull/99375 not being merged or approved.

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 04:04] annajung commented on #2317
Hi @gnufied, with code freeze now in effect, we are removing this enhancement from 1.21 release due to no code PR being tracked for this enhancement.

If needed, feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 04:05] annajung commented on #2395
Hi @andrewsykim, with code freeze now in effect, we are removing this enhancement from 1.21 release due to no code PR being tracked for this enhancement.

If needed, feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates) to add this back into the release. thanks!

[2021-03-10 04:51] pacoxu commented on #2227
Hi @annajung

kubernetes/kubernetes#99833  is approved just now.

[2021-03-10 04:59] annajung commented on #2227
Hey @pacoxu thanks for the update! As commented here https://github.com/kubernetes/kubernetes/pull/99833#issuecomment-794881640, we're adding this back to the release. Thanks for getting everything merged, we're marking this as code complete for the release.

[2021-03-10 05:24] pacoxu commented on #34
@tengqm I opened https://github.com/kubernetes/website/pull/26981 for tracking.

[2021-03-10 07:29] PI-Victor commented on #1209
Hello @logicalhan , 1.21 Docs shadow here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created b

[2021-03-10 07:35] PI-Victor commented on #2161
Hello @jayunit100, 1.21 Docs shadow here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by

[2021-03-10 07:36] PI-Victor commented on #2185
Hello @damemi, 1.21 Docs shadow here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by **M

[2021-03-10 07:37] PI-Victor commented on #2305
Hello @YoyinZyc , 1.21 Docs shadow here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by

[2021-03-10 13:29] xing-yang commented on #1432
Thanks @annajung!

[2021-03-10 14:51] damemi commented on #2185
Yeah, I will open a PR to update the docs Aldo linked above

[2021-03-10 14:55] annajung commented on #2436
Hi @jiahuif, with the following PRs merged, we're marking this as code complete for the release.
- https://github.com/kubernetes/kubernetes/pull/96226
- https://github.com/kubernetes/kubernetes/pull/96133
- https://github.com/kubernetes/kubernetes/pull/94205
- https://github.com/kubernetes/kubernetes/pull/99507
- https://github.com/kubernetes/kubernetes/pull/96541

[2021-03-10 15:16] jiahuif commented on #2436
@annajung I believe the implementation for alpha stage is now complete. Thank you for the help along the way.

[2021-03-10 16:36] jsafrane commented on #1489
Update after 1.21 code freeze: the feature is still beta there, few bugs were fixed. One major change: it is enabled by default. Updating docs in https://github.com/kubernetes/website/pull/26992

[2021-03-10 17:20] damemi commented on #2185
Docs PR opened at https://github.com/kubernetes/website/pull/26993, which just copies the comments from code into the docs

[2021-03-10 19:32] ehashman commented on #2238
Hi @annajung,

This was basically approved, but the API reviewer didn't do a /approve to make it Official. I just finished rebasing the PR and I will have reviewers take another look today. Will you still need me to send a full exception email? Landing this PR (+ docs) is the only requirement for alpha graduation.

[2021-03-10 19:38] soltysh commented on #19
@annajung it's nice to have but not a hard requirement. We'll give ourselves a bit more time. The majority of the work is done, we still have some cleaning left for the next release (dropping the old controller) and beta APIs (in 1.25).

[2021-03-10 20:20] annajung commented on #19
awesome! thanks for clarifying, we'll keep this tracked for the release and with the following PRs completed, we'll mark it as code complete

- https://github.com/kubernetes/kubernetes/pull/98878
- https://github.com/kubernetes/kubernetes/pull/96987
- https://github.com/kubernetes/kubernetes/pull/99197
- https://github.com/kubernetes/kubernetes/pull/99341
- https://github.com/kubernetes/kubernetes

[2021-03-10 20:23] ehashman commented on #2238
https://groups.google.com/g/kubernetes-sig-node/c/fg6Gd8m9jHc/m/u6KOEZYwAAAJ

[2021-03-10 20:25] ehashman commented on #1209
Exception request filed for fixing one stable metric's name: https://groups.google.com/g/kubernetes-sig-instrumentation/c/Uqx4uXxnseg

@PI-Victor we have a list of stable metrics in k/k that is automatically pulled into documentation. I don't believe we have any additional documentation required for graduation.

[2021-03-10 21:50] spiffxp commented on #2539
@chaodaiG I updated the discussion links for you

[2021-03-10 22:30] justaugustus commented on #2311
More discussion here: https://kubernetes.slack.com/archives/C1L57L91V/p1615412485006300

Current thoughts:

- `kep-type`: `code|process`
- `scope` : `in-tree|out-of-tree`

Anything that hits the `in-tree` scope is something that needs deeper review from RT + (potentially) PRR.
`kep-type` determines the template you might use (only one template exists today, but we could create another that is proc

[2021-03-11 02:34] cofyc commented on #1845
hi, @annajung
the main PR (https://github.com/kubernetes/kubernetes/pull/96347) was merged. The new API field is optional. Can you add this feature back to the track list and v1.21 milestone?

[2021-03-11 02:37] wzshiming opened #2564 "Add timeout for Pod lifecycle actions"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add timeout for Pod lifecycle actions
- Kubernetes Enhancement Proposal: #2565
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
  - sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.23
  - Beta release target (x.y): 1.24
  - Stabl

[2021-03-11 02:38] wzshiming commented on #2564
/sig node

[2021-03-11 02:39] annajung commented on #1845
Hi @cofyc, ah sorry, I misunderstood. I thought you meant the enhancement is deferred to the next cycle. will add this back to the tracking sheet. sorry for the confusion!

[2021-03-11 18:20] ehashman commented on #2311
I think @johnbelamaric hit the nail right on the head: we need a concrete definition of what changes constitute `in-tree` for this to work. What is our working proposal? I think the meaning is implied and I'd like to make it explicit :)

[2021-03-11 20:25] #1841 closed

[2021-03-12 01:30] annajung commented on #2047
With https://github.com/kubernetes/kubernetes/pull/99298 merged, we will mark this as code complete for the 1.21 release. Thanks!

[2021-03-12 05:39] reylejano commented on #19
Hello @soltysh , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by **M

[2021-03-12 05:42] reylejano commented on #85
Hello @mortent , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by **M

[2021-03-12 05:45] reylejano commented on #555
Hello @apelisse , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by **

[2021-03-12 05:49] reylejano commented on #1432
Hi @xing-yang , 1.21 Docs lead here.
I saw in a previous comment that the doc for this feature is  in kubernetes-csi/docs repo and not in kubernetes/website repo. Is this still true for the 1.21 release and a kubernetes/website Doc PR is not needed.
Thank you

[2021-03-12 05:55] reylejano commented on #1602
Hi @ehashman , I see on the project board for 1.21 that https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md needs to be updated for 1.21.

Just a reminder to please make a [Placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.21` branch in the `k/website` repo by March 16 EOD PST.

[2021-03-12 05:58] reylejano commented on #2086
Hello @andrewsykim , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by

[2021-03-12 06:02] reylejano commented on #2155
Hello @jpbetz, 1.21 Docs lead here.
I saw that new documentation is needed for 1.21 in kubernetes/website#25785
Just a reminder to make a [PR (which can be a placeholder)](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the `dev-1.21` branch in the `k/website` repo by **March 16** EOD PST
Also take a look at [Documenting for a release](https://kuberne

[2021-03-12 06:03] reylejano commented on #2227
Hello @pacoxu , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by **Ma

[2021-03-12 06:05] reylejano commented on #2433
Hello @robscott , 1.21 Docs lead here.
Does this enhancement work planned for 1.21 require any new docs or modification to existing docs?
If so, please follows the steps [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.21` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created by **

[2021-03-12 06:18] robscott commented on #2433
Hey @reylejano, thanks for checking in! This will require some significant docs additions. I'll make sure to have a docs PR ready before that deadline.

[2021-03-12 06:31] pacoxu commented on #2227
For kubectl help docs, the docs are generated by code, So we don't need to change them manually.

Need we add it to https://kubernetes.io/docs/reference/labels-annotations-taints?
@rikatz

[2021-03-12 14:46] LappleApple commented on #1424
Documenting here the ask from SIG Release: provide outline offering specific guidance on how to build and ship artefacts of things when the source code is not within kubernetes/kubernetes (for things that are getting split out of kubernetes/kubernetes).

[Some relevant info from SIG CL in this deck](https://docs.google.com/presentation/d/1Utf8NgLZTrS8FmVoU6dZN3siewjGOwvTmFcsJ6vgQLI/edit#slide=id.p

[2021-03-12 15:17] annajung commented on #2238
Hi @ehashman, with https://github.com/kubernetes/kubernetes/pull/99375 merged in, we're marking this as code complete for the 1.21 release. Thank you

[2021-03-12 16:51] annajung commented on #555
After speaking with @apelisse, this enhancement has been deferred and will no longer be tracked for 1.21

[2021-03-12 17:34] alculquicondor commented on #2232
/assign @adtac

[2021-03-13 01:26] vinayakankugoyal opened #2568 "Run control-plane as non-root in kubeadm."
# Enhancement Description
- One-line enhancement description (can be used as a release note): Run control-plane as non-root in kubeadm.
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @vinayakankugoyal
- Responsible SIGs: sig-security
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.22
  - Beta release target (x.y)

[2021-03-13 01:38] reylejano commented on #542
@zshihang Since RootCAConfigMap is going to GA in 1.21, I believe the features gates in content/en/docs/reference/command-line-tools-reference/feature-gates.md in the kubernetes/website repo should be updated to reflect the change.

You can open a PR against the `dev-1.21` branch in the `k/website` repo, it can be a placeholder at this time because the Docs Placeholder PR deadline for 1.21 is on M

[2021-03-13 01:46] reylejano commented on #752
Hi @swetharepakula @robscott , 1.21 Docs lead here. Just a reminder that the Docs Placeholder PR deadline for 1.21 is around the corner on March 16.
With Endpoint Slice graduating in 1.21 does the [feature gates page](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) need to be updated to reflect the graduation.
If so, please make a PR against the `dev-1.21` branch

[2021-03-13 01:47] robscott commented on #536
This feature is deprecated in favor of https://github.com/kubernetes/enhancements/issues/2433 but we should not close this issue until we've fully removed the functionality associated with it.
/lifecycle frozen

[2021-03-13 01:50] ehashman commented on #1602
Hi @reylejano, we have a PR here for that: https://github.com/kubernetes/community/pull/5624

It's attached to the associated issue in that repo.

[2021-03-13 01:57] reylejano commented on #2305
Hi @logicalhan and @YoyinZyc, 1.21 Docs lead here.
Just a reminder that the Docs Placeholder PR deadline for 1.21 is around the corner on March 16.
If this enhancement needs new documentation or an entry/update to the [feature gates page](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) please open a PR against the `dev-1.21` branch in the `k/website` repo.

[2021-03-13 02:04] reylejano commented on #1959
Hi @andrewsykim , the Doc Placeholder PR deadline for 1.21 is around the corner on March 16. Does this enhancement need any new docs or modifications to existing docs for 1.21?
Please make a PR against the `dev-1.21` branch in the `k/website` repo by March 16 EOD PST

[2021-03-13 09:11] pacoxu commented on #2568
/sig cluster-lifecycle

[2021-03-14 11:23] xiaoxubeii opened #2570 "Support memory qos with cgroups v2"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support memory qos with cgroups v2
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2570-memory-qos
- Discussion Link:  https://docs.google.com/document/d/1r9Fx2omdMLP8SJ59np-C6uBqeuS4TSbQc5ChmQWMYJ8/edit?usp=sharing
- Primary contact (assignee): @xia

[2021-03-14 11:24] xiaoxubeii commented on #2570
/sig node

[2021-03-14 11:24] xiaoxubeii commented on #2570
/assign @xiaoxubeii

[2021-03-14 17:02] jayunit100 commented on #1611
Ths has been completed thanks!
Guess I need to make sure next release
 We mark the enhancement correctly

[2021-03-15 02:26] pacoxu commented on #970
Link changed to https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/970-kubeadm-config

[2021-03-15 03:55] reylejano commented on #19
Hi @soltysh , does the [feature gates page](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) need to be updated for 1.21 for the `CronJobControllerv2` feature? If the feature gates page or any other page needs to be updated for 1.21, please open a PR against the `dev-1.21` branch in the `k/website` repo by March 16.

[2021-03-15 04:38] justaugustus opened #2572 "Defining the Kubernetes release cadence"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Defining the Kubernetes release cadence
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2567
- Discussion Link: https://github.com/kubernetes/sig-release/discussions/1290
- Primary contact (assignee): @justaugustus
- Responsible SIG: SIG Release
- Participating SIGs: SIG

[2021-03-15 04:52] xing-yang commented on #1432
@reylejano That was changed in 1.21. The node side volume health monitoring logic was moved from the external agent to Kubelet in 1.21 so there's code in k/k now.  So we do need doc in kubernetes/website repo.  Place holder doc PR is submitted:

https://github.com/kubernetes/website/pull/27060

[2021-03-15 10:49] rtheis commented on #671
/remove-lifecycle stale

[2021-03-15 11:07] wilmardo commented on #1053
/remove-lifecycle stale

[2021-03-15 12:16] ankeesler commented on #541
1.22 Status:
- KEP updates, `not started`, `medium`
  - update KEP with new `InteractiveMode` behavior
  - ensure KEP contains correct metrics description for what was implemented in 1.21
- implement new `InteractiveMode` behavior, `not started`, `small`
  - blocked on KEP updates (above)
- fix exec-related bugs, `not started`, `medium`
  - known bugs: https://github.com/kubernetes/kubernetes/issu

[2021-03-15 12:40] zvonkok commented on #1451
@alculquicondor Do you have a valid link for your KEP?

[2021-03-15 13:50] neolit123 commented on #995
/remove-lifecycle stale

[2021-03-15 13:50] neolit123 commented on #1739
/remove-lifecycle stale

[2021-03-15 13:59] alculquicondor commented on #1451
Updated the description with it

[2021-03-15 17:50] jpbetz commented on #2155
Thanks @reylejano. A couple updates:

- Since the and we're deferring GA of Server Side Apply to 1.22. I've changed this from "stable" to "beta" for this release.
- We only link to client libraries from the main kubernetes documentation (https://kubernetes.io/docs/reference/using-api/client-libraries). I'm reviewing the client-go documentation but I don't think there are any immediate changes I ne

[2021-03-15 19:23] YoyinZyc commented on #2305
@reylejano kubernetes/website#27069 is there waiting for owners' approval.

[2021-03-15 21:01] kendallnelson commented on #1885
I think you have the wrong github handle :) I am @kendallnelson on github
and while I do k8s things, I don't have anything to do with Azure.

-Kendall Nelson

On Thu, Mar 4, 2021 at 8:02 PM Kendall ***@***.***> wrote:

[2021-03-16 14:28] reylejano commented on #19
Hi @soltysh,  today is the Doc Placeholder deadline for the 1.21 release. If this enhancement needs new or updated docs for the 1.21 release, please make a PR to the `dev-1.21` branch in the `k/website` repo. The PR can be a placeholder.

[2021-03-16 14:29] reylejano commented on #542
Hi @zshihang,  today is the Doc Placeholder PR deadline for the 1.21 release. If this enhancement needs new or updated docs for the 1.21 release, please make a PR to the `dev-1.21` branch in the `k/website` repo. The PR can be a placeholder.

[2021-03-16 14:30] reylejano commented on #1959
Hi @andrewsykim, today is the Doc Placeholder PR deadline for the 1.21 release. If this enhancement needs new or updated docs for the 1.21 release, please make a PR to the `dev-1.21` branch in the `k/website` repo. The PR can be a placeholder.

[2021-03-16 14:31] reylejano commented on #2086
Hi @andrewsykim, today is the Doc Placeholder PR deadline for the 1.21 release. If this enhancement needs new or updated docs for the 1.21 release, please make a PR to the `dev-1.21` branch in the `k/website` repo. The PR can be a placeholder.

[2021-03-16 16:29] zshihang commented on #542
https://github.com/kubernetes/website/pull/27082

[2021-03-16 16:46] soltysh commented on #19
@reylejano https://github.com/kubernetes/website/pull/27083 is the docs PR

[2021-03-16 16:50] soltysh commented on #2227
Yeah, that's reasonable, imo.

[2021-03-16 16:58] rikatz commented on #2227
Just saw the comment, missed the notification, sorry!

I'm +1 to add this on the common labels as well :)

[2021-03-16 18:52] ehashman commented on #1209
If RT is looking for blog posts, I think this would be an appropriate KEP to feature for the 1.21 release. @logicalhan and I had drafted a blog post for 1.16 that never got run which we can update.

[2021-03-16 21:16] apelisse commented on #1101
/lifecycle frozen

[2021-03-16 21:16] apelisse commented on #1027
/lifecycle frozen

[2021-03-17 00:50] maplain commented on #2086
Hi @reylejano
I'm the author of the implementation in kubernetes/kubernetes#96600 for this KEP. Just opened up the placeholder PR.

[2021-03-17 06:28] palnabarun commented on #1209
@ehashman -- thank you for the ping!  👍🏽

cc: @divya-mohan0209 you may want to have a look at this for the feature blogs.

[2021-03-17 11:33] LappleApple opened #2576 "Remove `kind/design` label"
This label isn't needed anymore.

/kind cleanup
/area enhancements
/sig architecture

[2021-03-17 11:39] dims commented on #2576
+1 with sig-arch hat on

[2021-03-17 12:34] sftim commented on #2227
BTW why is the annotation named after kubectl? I presume if you use a different tool to examine Pods, you'd still want the same container to be treated as default.

TBH I was expecting that this kind of annotation would be owned by maybe SIG Architecture.

[2021-03-17 13:18] jsafrane commented on #596
/remove-lifecycle rotten

[2021-03-17 13:29] divya-mohan0209 commented on #1209
@Pensu : PTAL & liaise with @ehashman for further tracking of the feature blog.

[2021-03-17 14:17] pacoxu commented on #2227
@sftim

This KEP came from a kubectl requirement. If the client is not kubectl,  it depends on the client.

[2021-03-17 16:37] LappleApple commented on #2576
Opened new issue in /community via guidance from @mrbobbytables: [#5641](https://github.com/kubernetes/community/issues/5641)

[2021-03-17 16:37] #2576 closed

[2021-03-18 01:49] umohnani8 commented on #2411
The docs PR got merged and the graduation for CRIContainerLogRotation is done now I believe. Should this issue be closed?

[2021-03-18 23:37] jamesbrooks94 commented on #2021
Any news on this?

[2021-03-18 23:56] ehashman commented on #1602
Kubelet code migration is complete. (https://github.com/kubernetes/kubernetes/issues/98976)

[2021-03-19 00:20] jayunit100 commented on #784
hiya folks, is anyone workin on this?

[2021-03-19 13:11] jayunit100 opened #2578 "Windows Operational Readiness Specification"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Creation of a windows-containers-conformance specification and tooling for K8s
- Kubernetes Enhancement Proposal:
- Discussion Link: https://kubernetes.slack.com/archives/C0SJ4AFB7/p1615393543246300
- Primary contact (assignee): @jayunit100
- Responsible SIGs: windows
- Enhancement target (which target eq

[2021-03-19 13:11] jayunit100 commented on #2578
/sig windows

[2021-03-19 13:11] jayunit100 commented on #2578
@jsturtevant @adelina-t @perithompson @vladimirvivien

[2021-03-19 14:59] soltysh commented on #2227
Correct, this is honored by kubectl and was driven by SIG-CLI, others are free to consume and interpret it as they wish, but most importantly that's an pod's author opt-in.

[2021-03-19 16:58] KnVerey commented on #859
@annajung the code did in fact make it in before code freeze. PR was https://github.com/kubernetes/kubernetes/pull/98952. Can we add this back?

[2021-03-19 18:18] annajung commented on #859
Hey @KnVerey thanks for bringing this up! This enhancement has been added back to the tracking sheet.

@seans3 please don't forget to link the associated PRs in the future to prevent this from happening again. thank you!

[2021-03-19 19:19] reylejano commented on #859
Hi @seans3 , does this enhancement need new or modification to existing docs for the 1.21 release? If so, please [open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR to the `dev-1.21` branch in the ` k/website` repo or confirm no docs are needed for the 1.21 release.

Upcoming doc related dates for the 1.21 release:
- Docs

[2021-03-19 23:37] tallclair opened #2579 "PodSecurity admission (PodSecurityPolicy replacement)"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduce a new admission controller for enforcing the  [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/) on pods in a namespace.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/2579-psp-replacement/
- Di

[2021-03-20 22:58] #2102 closed

[2021-03-21 11:23] arjunrn opened #2580 "Custom Metrics Router"
# Enhancement Description
- Custom and External Metrics Router for Multiple Metrics Adapters
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2581
- Discussion Link: https://github.com/kubernetes-sigs/custom-metrics-apiserver/issues/70
- Primary contact (assignee): @arjunrn
- Responsible SIGs: `sig-instrumentation`
- Enhancement target (which target equals to whic

[2021-03-21 11:24] arjunrn commented on #2580
/sig instrumentation

[2021-03-21 18:30] sftim commented on #859
I'd expect a (very) brief note about these headers in https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/ so that people who write plugins can choose to make plugins that send headers similar to the ones from kubectl itself.

Not _enforcement_, but documentation of how to follow the official approach.

[2021-03-22 10:47] yfoelling commented on #661
/remove-lifecycle stale

[2021-03-22 14:38] reylejano commented on #859
@seans3 @KnVerey 1.21 Release Docs lead here. Please see @sftim's comment and make a PR to the `dev-1.21` branch in the `k/website` repo to include a note about the headers in /tasks/extend-kubectl/kubectl-plugins and any additional documentation.

Upcoming doc related dates for the 1.21 release:
- Docs Ready for Review deadline is March 24
- Docs Ready to Merge deadline is March 31

[2021-03-23 07:08] immanuelfodor commented on #361
/remove-lifecycle stale

[2021-03-23 16:05] seans3 commented on #859
Hi @sftim . We will include documentation for including the headers once the feature goes beta (it's alpha for 1.21). We don't want to document this for extensions developers, only to yank it from them if this alpha feature is removed.

[2021-03-23 16:10] seans3 commented on #859
Hi @reylejano . Thanks for the heads up. We do not believe a non-user-visible alpha feature requires any updates to our kubectl documentation. The release notes describe the environment variable to set to enable this alpha feature. Once the feature goes beta (probably in 1.22), it would be more appropriate to update the kubectl documentation.

[2021-03-23 17:18] neolit123 commented on #1381
/remove-lifecycle stale

[2021-03-23 17:32] MyannaHarris commented on #2556
After talking with Guy, this proposal is moving directly into the kubernetes/autoscaler repo since it affects users of only 1 cloud provider, doesn't require cross-SIG coordination, and is not an API change.

New PR for proposal: https://github.com/kubernetes/autoscaler/pull/3968

[2021-03-23 17:32] #2556 closed

[2021-03-23 18:44] Bessonov commented on #556
/remove-lifecycle stale

[2021-03-23 20:37] frittentheke commented on #362
/remove-lifecycle stale

[2021-03-23 21:01] immanuelfodor commented on #362
/lifecycle frozen

[2021-03-23 21:04] immanuelfodor commented on #362
I don't know if it's against the rules to make it frozen but it started to be annoying :D If you think it's better to bump it up constantly, then please set accordingly.

[2021-03-23 21:05] immanuelfodor commented on #361
/lifecycle frozen

[2021-03-23 21:05] immanuelfodor commented on #361
I don't know if it's against the rules to make it frozen but it started to be annoying :D If you think it's better to bump it up constantly, then please set accordingly.

[2021-03-23 21:20] Bessonov commented on #361
The stale bot is one of the best ways to disrespect the community. It's a spit into the face.

[2021-03-24 01:59] lawliet89 commented on #127
/remove-lifecycle stale

[2021-03-25 06:54] pacoxu commented on #2129
website is updatd.
@dashpole  We may close this after #2562 is merged.

[2021-03-25 17:34] MadhavJivrajani commented on #2570
Hi! This sounds really interesting and I'd love to help out, please let me know how I can help out with this!

[2021-03-25 22:47] BenTheElder commented on #2420
OK with https://github.com/kubernetes/kubernetes/pull/100552 we're actually set I think, that covered the prometheus visibility rules / https://github.com/kubernetes/kubernetes/issues/99876 / https://github.com/kubernetes/enhancements/issues/2420#issuecomment-791818595.

[2021-03-25 22:57] aojea commented on #508
Let's centralise everything here https://github.com/kubernetes/enhancements/issues/563
for people finding this issue: IPV6 only works, but since kubernetes dual-stack is beta in 1.21, IPv6 will graduate with dual-stack to GA
/close

[2021-03-25 22:58] #508 closed

[2021-03-26 07:41] palnabarun commented on #536
@robscott -- Thank you for the updates with respect to the deprecation. Can you also please update the KEP (https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/536-topology-aware-routing) with relevant information about deprecation?

Asking since KEPs are deemed to be a source of truth for features in Kubernetes and it would be nice to document the deprecation there.

[2021-03-26 14:14] annajung commented on #536
In addition to @palnabarun 's comment, please note that the enhancements team has marked this as tracked for 1.21 release and is being tracked as deprecation.

[2021-03-26 21:27] logicalhan commented on #2580
/assign

[2021-03-29 14:33] alculquicondor commented on #785
/remove-lifecycle stale

[2021-03-31 05:34] trierra opened #2589 "Portworx file in-tree to CSI driver migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- Primary contact (assignee): @trierra
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)

[2021-03-31 09:07] nikhita opened #2590 "Add subresource support to kubectl"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add a new flag `--subresource` to kubectl commands like get, patch, edit and replace commands to allow fetching and updating subresources like status, scale, etc.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2590-kubectl-subresource
- Discussion Li

[2021-03-31 17:16] LappleApple commented on #822
/unassign @mattfarina

[2021-03-31 18:01] trierra commented on #2589
/sig storage

[2021-04-01 01:11] rahulkjoshi opened #2593 "Enhancing NodeIPAM to support multiple ClusterCIDRs"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Enhancing NodeIPAM controller to support multiple ClusterCIDRs
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2593-multiple-cluster-cidrs
- Discussion Link: Many discussions around the future of pod cidrs:
    - https://github.com/kubernetes/kube

[2021-04-01 01:26] rahulkjoshi commented on #2593
/sig network

[2021-04-01 12:13] serathius commented on #1602
/milestone v1.22
For 1.21 we finished migration of Kubelet logs to structured logging, but as agreed on slack in [thread](https://kubernetes.slack.com/archives/C20HH14P7/p1615482607018800) graduation to Beta will be postponed to 1.22

[2021-04-02 02:45] gjkim42 opened #2595 "Expanded DNS configuration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow kubernetes to have expanded DNS(Domain Name System) configuration.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2595-expanded-dns-config
- Discussion Link: https://github.com/kubernetes/kubernetes/pull/100583
- Primary contact (assignee):

[2021-04-02 05:25] BenTheElder commented on #2420
filed https://github.com/kubernetes/enhancements/pull/2597 to update KEP status.

[2021-04-02 08:33] pacoxu commented on #1143
/remove-lifecycle rotten
/reopen
https://github.com/kubernetes/kubernetes/pull/100776 will fix it in 1.22

[2021-04-04 17:33] knabben commented on #2157
/remove lifecycle/rotten

[2021-04-04 17:34] knabben commented on #2157
/assign @knabben

[2021-04-04 17:35] knabben commented on #2157
/remove-lifecycle rotten

[2021-04-04 18:25] knabben commented on #2157
/area kube-proxy

[2021-04-05 04:57] AkihiroSuda commented on #2033
/remove-lifecycle stale

[2021-04-05 05:59] cwrau commented on #2229
/remove-lifecycle stale

[2021-04-05 09:03] george-angel commented on #2033
/remove-lifecycle stale

[2021-04-05 12:35] mauriciovasquezbernal commented on #127
/remove-lifecycle stale

[2021-04-05 14:15] ahg-g commented on #902
/remove-lifecycle stale

@denkensk are you able to promote this to GA in 1.21?

[2021-04-05 16:49] ravisantoshgudimetla opened #2599 "Add minReadySeconds to Statefulsets"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add minReadySeconds to Statefulsets
- Kubernetes Enhancement Proposal:
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/65098
- Primary contact (assignee): @ravisantoshgudimetla
- Responsible SIGs: sig-apps
- Enhancement target (which target equals to which milestone):
  - Alpha release

[2021-04-05 16:49] ravisantoshgudimetla commented on #2599
/aig apps

[2021-04-05 20:11] ravisantoshgudimetla commented on #2599
/sig apps

[2021-04-06 04:06] gjkim42 commented on #2595
/sig network

[2021-04-06 23:30] mtaufen commented on #2141
/remove-lifecycle stale

On Thu, Mar 25, 2021 at 12:52 PM fejta-bot ***@***.***> wrote:

--
Michael Taufen
Google SWE

[2021-04-07 02:44] xuzhenglun commented on #563
I wonder that will the service `default/kubernetes` enable dual-stack in future?

---
Here is my user case:

I have a dual-stack cluster which primary stack is IPv6. Recent, some machines (IPv4 Only) have to join to the cluster to reuse controle-plane. In this case, Pod scheduled to IPv4-only machine can not connect to `kube-apiserver` because of `default/kubernetes` is SingleStack with IPv6 Only.

[2021-04-07 06:46] frittentheke commented on #1029
/remove-lifecycle stale

[2021-04-07 07:40] frittentheke commented on #1846
/remove-lifecycle stale

[2021-04-07 07:50] aojea commented on #563
@thockin @danwinship @khenidak ^^^

[2021-04-07 15:29] AdityaC45 opened #2603 "404 link in /keps/sig-scheduling/624-scheduling-framework/"
There is an error link in /keps/sig-scheduling/624-scheduling-framework/README.md
The broken link:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/wgs/0032-create-a-k8s-io-component-repo.md

[2021-04-07 15:41] AdityaC45 opened #2604 "Wanted to update the documentation of /keps/sig-scheduling/624-scheduling-framework/README.md"
I would like to update the documentation of /keps/sig-scheduling/624-scheduling-framework/README.md by adding a few links
- youtube CNCF conference link
- link where scheduling framework examples are present

The reason to add this is when a beginner will read the documentation though it is really good will not be able to visualize how this is integrated with default-scheduler and why it is used s

[2021-04-07 18:08] marosset commented on #995
/lifecycle frozen

[2021-04-07 19:38] abhisheksinghbaghel opened #2605 "Option to Preserve default file mode bit (Mode\DefaultMode) set in AtomicWriter volumes"
- One-line enhancement description (can be used as a release note): Option to Preserve default file mode bit (Mode\DefaultMode) set in AtomicWriter volumes
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2606
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/57923
- Primary contact (assignee): @abhisheksinghbaghel
- Responsible SIGs: sig-storage

[2021-04-07 20:27] Jiawei0227 commented on #2605
For the discussion link, is it pointing to the right link?

I think we have one issue outstanding long time here: https://github.com/kubernetes/kubernetes/issues/57923

[2021-04-07 20:32] abhisheksinghbaghel commented on #2605
Accidently deleted '3' at the end. Thanks for catching it!

[2021-04-07 20:39] abhisheksinghbaghel commented on #2605
/sig storage

[2021-04-07 22:02] JeremyOT commented on #1645
/remove-lifecycle stale

[2021-04-08 00:07] neolit123 commented on #2067
/remove-lifecycle stale

[2021-04-08 02:00] pacoxu commented on #1558
/remove-lifecycle stale

[2021-04-08 03:12] nikhita opened #2608 "Support field-level versioning in CRDs"
# Enhancement Description
- One-line enhancement description (can be used as a release note): This enhancement involves supporting field-level versioning for custom resources.
- Kubernetes Enhancement Proposal: TBD
- Discussion Link:
  - Identified as an enhancement request in https://github.com/kubernetes/enhancements/pull/2560#discussion_r591115066
- Primary contact (assignee): @nikhita
- Respon

[2021-04-08 03:56] denkensk commented on #902
@ahg-g  Thanks~
Sure I think I can promote this to GA in 1.22

[2021-04-08 04:07] pacoxu commented on #1867
/remove-lifecycle stale

[2021-04-08 04:36] AdityaC45 commented on #2604
/kind documentation

[2021-04-08 04:36] AdityaC45 commented on #2603
/kind documentation

[2021-04-08 06:04] wojtek-t commented on #1164
/remove-lifecycle stale

[2021-04-08 06:07] wojtek-t commented on #1040
/remove-lifecycle stale

[2021-04-08 06:49] zerkms commented on #695
/remove-lifecycle stale

[2021-04-08 08:54] AlexeyPerevalov commented on #2043
/remove-lifecycle rotten

[2021-04-08 11:33] arjunrn commented on #1610
/remove-lifecycle stale

[2021-04-08 11:37] LappleApple commented on #2385
/sig cli

[2021-04-08 11:39] LappleApple commented on #2384
/sig cli

[2021-04-08 11:40] LappleApple commented on #2383
/sig cli

[2021-04-08 11:41] LappleApple commented on #2382
/sig cli

[2021-04-08 11:43] LappleApple commented on #2381
/sig cli

[2021-04-08 11:44] LappleApple commented on #2380
/sig cli

[2021-04-08 11:45] LappleApple commented on #2377
/sig cli

[2021-04-08 12:11] LappleApple commented on #2360
/sig apps

[2021-04-08 12:13] LappleApple commented on #2343
/sig api-machinery

[2021-04-08 12:16] LappleApple commented on #2342
/sig api-machinery

[2021-04-08 12:21] LappleApple commented on #2340
/sig api-machinery

[2021-04-08 12:32] LappleApple commented on #2339
/sig api-machinery

[2021-04-08 12:35] LappleApple commented on #2338
/sig api-machinery

[2021-04-08 12:36] LappleApple commented on #2337
/sig api-machinery

[2021-04-08 12:38] LappleApple commented on #2336
/sig api-machinery

[2021-04-08 12:57] LappleApple commented on #2335
/sig api-machinery

[2021-04-08 12:58] LappleApple commented on #2334
/sig api-machinery

[2021-04-08 12:59] LappleApple commented on #2333
/sig api-machinery

[2021-04-08 13:00] LappleApple commented on #2332
/sig api-machinery

[2021-04-08 13:02] LappleApple commented on #2330
/sig api-machinery

[2021-04-08 13:07] alculquicondor commented on #1258
/lifecycle frozen

[2021-04-08 13:13] klueska commented on #693
I am going to mark this enhancement as complete.
We can open a new one when we start more actively working on moving the TopologyManager to GA.

[2021-04-08 13:13] klueska commented on #693
/close

[2021-04-08 14:10] prameshj opened #2610 "Support AllPorts for k8s services"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow exposing the entire port range (1 to 65535) through a k8s service.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/2611
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/23864#issuecomment-791369274
- Primary contact (assignee): prameshj
- Respons

[2021-04-08 14:25] annajung commented on #34
Hi @ehashman, @pacoxu

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/29a891bcf7d476f1f79c0cefeeac00455c9fcf8a/keps/sig-node/34-sysctl-fields/kep.yaml#L19

Once that merges, we can close out this issue.

[2021-04-08 14:28] annajung commented on #213
Hi @krmayankk 1.21 Enhancement Lead here.

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/29a891bcf7d476f1f79c0cefeeac00455c9fcf8a/keps/sig-node/213-run-as-group/kep.yaml#L19

Once that merges, we can close out this issue.

[2021-04-08 14:30] annajung commented on #752
Hi @swetharepakula @robscott

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/29a891bcf7d476f1f79c0cefeeac00455c9fcf8a/keps/sig-network/0752-endpointslices/kep.yaml#L20

Once that merges, we can close out this issue.

[2021-04-08 14:32] annajung commented on #1209
Hi @logicalhan @serathius 1.21 Enhancement Lead here.

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/29a891bcf7d476f1f79c0cefeeac00455c9fcf8a/keps/sig-instrumentation/1209-metrics-stability/kep.yaml#L16

Once that merges, we can close out this issue.

[2021-04-08 14:33] annajung commented on #1393
Hi @mtaufen 1.21 Enhancement Lead here.

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/29a891bcf7d476f1f79c0cefeeac00455c9fcf8a/keps/sig-auth/1393-oidc-discovery/kep.yaml#L25

Once that merges, we can close out this issue.

[2021-04-08 14:34] annajung commented on #1412
Hi @wojtek-t friendly reminder to update the kep status (https://github.com/kubernetes/enhancements/issues/1412#issuecomment-780826353) so that this issue can be closed out :) thanks!

[2021-04-08 14:46] annajung commented on #2411
Hi @umohnani8 1.21 Enhancement Lead here.

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/29a891bcf7d476f1f79c0cefeeac00455c9fcf8a/keps/sig-node/2411-cri-container-log-rotation/kep.yaml#L9

Once that merges, we can close out this issue.

[2021-04-08 14:53] umohnani8 commented on #2411
Hi @annajung, the status is set to `implemented` already, what exactly would you like me to change?

[2021-04-08 14:58] annajung commented on #2411
oops! sorry, I must have misread it, then feel free to close out the issue! thanks!

[2021-04-08 15:17] pacoxu commented on #34
Fine

[2021-04-08 15:41] umohnani8 commented on #2411
Perfect! This issue is all set :)

[2021-04-08 15:41] #2411 closed

[2021-04-08 16:12] prameshj commented on #2610
/sig network

[2021-04-08 21:19] swetharepakula commented on #752
@robscott, do we need to wait for kube-proxy to use v1 before we can change the status of the kep?

[2021-04-08 21:27] SergeyKanzhelev commented on #693
Can you please also update the description to point to KEP: https://github.com/kubernetes/enhancements/blob/0e4d5df19d396511fe41ed0860b0ab9b96f46a2d/keps/sig-node/693-topology-manager/kep.yaml

[2021-04-08 21:33] logicalhan commented on #1209
https://github.com/kubernetes/enhancements/pull/2612

[2021-04-09 00:30] annajung commented on #1209
with enhancement graduated to stable and https://github.com/kubernetes/enhancements/pull/2612 merged, I am closing out this issue

[2021-04-09 00:30] #1209 closed

[2021-04-09 07:06] wojtek-t commented on #1412
https://github.com/kubernetes/enhancements/pull/2615 out for review

[2021-04-09 08:04] PI-Victor commented on #1295
/remove-lifecycle rotten

[2021-04-09 10:22] klueska commented on #693
I am the current owner of this feature, but not the original poster of this issue (so I don't have edit rights to the description). The original poster does not work on Kubernetes anymore (which is why I thought it might be better to open a new issue going forward). If there's a way to give me edit right to this issue, that would be great.

[2021-04-09 14:51] #1412 closed

[2021-04-09 14:52] annajung commented on #693
Hey @klueska right now there isn't the best way to provide access to edit unless you're a SIG lead. However, as a workaround, I have seen others creating a new comment in the issue that contains the latest description and use that to keep track of the latest status. If you do that, I can add a link to the comment in the description as well so everyone knows to look at that comment instead of the s

[2021-04-09 19:31] robscott commented on #752
@swetharepakula is correct here - we'll need to leave this open for a couple more releases because the KEP covers more than one feature gate. Although the EndpointSlice API and feature gate went GA in 1.21, EndpointSliceProxying and WindowsEndpointSliceProxying are also part of this KEP and still in beta.

[2021-04-09 20:26] annajung commented on #752
thanks @swetharepakula @robscott for the clarification, please ignore my previous message! thanks :)

[2021-04-09 21:21] ehashman commented on #1539
/remove-lifecycle stale

[2021-04-10 12:22] Sh4d1 commented on #1860
/reopen

[2021-04-11 14:22] #2143 closed

[2021-04-11 16:26] m-yosefpor commented on #1435
/remove-lifecycle sta

[2021-04-11 16:27] m-yosefpor commented on #1435
/remove-lifecycle-stale

[2021-04-11 16:29] m-yosefpor commented on #1435
/remove-lifecycle stale

[2021-04-12 15:12] rikatz commented on #784
/assign @jayunit100 @rikatz

OK, let's keep this on our track Jay. At least we know where it is, and how we can help on this.

But first we need to solve the flags/config conflicts (as Lubomir pointed in your original track) and then maybe propose to promote this :D

[2021-04-12 15:12] rikatz commented on #784
@LappleApple marking you here just to be aware :D

[2021-04-12 16:23] mattcary commented on #1847
/lifecycle frozen

[2021-04-12 17:25] mattcary commented on #1847
This implementation is under active development and should be able to go in after the 1.21 freeze is done.

[2021-04-12 17:27] frittentheke commented on #284
/remove-lifecycle stale

[2021-04-12 18:00] paulcastro commented on #2257
/remove-lifecycle stale

[2021-04-12 23:42] vinayakankugoyal commented on #2568
/milestone 1.22

[2021-04-13 09:37] hustcat opened #2621 "Enhance CPU manager with L3 cache aware"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Some CPUs, such as [AMD Rome](https://frankdenneman.nl/2019/10/14/amd-epyc-naples-vs-rome-and-vsphere-cpu-scheduler-updates/), each CPU package(socket) have multiple L3 caches. When allocating CPUs, L3 cache should be considered.

- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (as

[2021-04-13 09:38] hustcat commented on #2621
/sig node

[2021-04-13 09:40] hustcat commented on #2621
/assign @ranchothu @hustcat

[2021-04-13 14:51] draveness commented on #2495
Do we have anyone working on this KEP? It seems no one is assigned.

[2021-04-13 15:03] LappleApple commented on #2420
/area release-eng

[2021-04-13 15:05] danwinship commented on #563
Yes, there's an issue for dual-stack apiserver now (#2438) but when I started the initial KEP writeup I realized I needed to figure out more about how the apiserver endpoint reconciling worked, and then I've only just now gotten back to finishing that...

[2021-04-13 15:18] fabriziopandini commented on #2495
I'm a CAPI maintainer, and we are pushing the project towards beta.
If this can help, I could act as a contact point here
/assign

[2021-04-13 17:55] #1611 closed

[2021-04-13 20:27] phenixblue commented on #1815
/remove-lifecycle stale

[2021-04-13 20:53] alculquicondor opened #2624 "Indexed Job with stable pod names"
# Enhancement Description
- One-line enhancement description (can be used as a release note): A new Job completion mode where pods have an index as part of their hostname.
- Kubernetes Enhancement Proposal: TODO
- Discussion Link: kubernetes/kubernetes#99497 and Indexed Job KEP http://git.k8s.io/enhancements/keps/sig-apps/2214-indexed-job#alternatives
- Primary contact (assignee): alculquicondor
-

[2021-04-13 20:56] alculquicondor commented on #2624
/sig apps

[2021-04-14 00:23] draveness commented on #2495
Do you have any idea where I could see the related link and repo?

[2021-04-14 14:41] fromanirh opened #2625 "Add new cpumanager policies to enable finer grained thread allocation"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Add new cpumanager policies to enable finer grained thread allocation
- Kubernetes Enhancement Proposal:  TBD
- Discussion Link:
1. Mailing list thread: https://groups.google.com/g/kubernetes-sig-node/c/FMzdUf9UiP0/m/kFIWDzpCAwAJ
2. sig-node presentations: [April 13 (postponed to April 20) 2021](https://g

[2021-04-14 14:42] fromanirh commented on #2625
/sig node

[2021-04-14 14:52] jeremyrickard commented on #2311
This is relevant to https://github.com/kubernetes/enhancements/pull/2567.

One thing that has come out of that is that I think we need a follow on issue to this that provides some concrete guidance around the use of stage/milestone things that are `policy`.

[2021-04-14 16:06] SomtochiAma commented on #3
Hi @

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the dev-1.20 branch in the k/website before the deadline

[2021-04-14 16:07] SomtochiAma commented on #3
Hi @

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the dev-1.20 branch in the k/website before the deadline

[2021-04-14 16:08] SomtochiAma commented on #3
Hi @

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the dev-1.20 branch in the k/website before the deadline

[2021-04-14 16:08] SomtochiAma commented on #3
Hi @

The docs placeholder deadline is almost here. Please make sure to [create a placeholder PR](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) against the dev-1.20 branch in the k/website before the deadline

[2021-04-14 21:09] justaugustus commented on #1732
/milestone v1.22
/assign @hh

[2021-04-14 22:51] neolit123 commented on #970
/milestone v1.22
for tracking

[2021-04-15 03:39] pacoxu commented on #2568
Feel free to ping me if any help is needed on this feature.

[2021-04-15 07:51] PI-Victor commented on #964
/reopne
/remove-lifecycle rotten

[2021-04-15 07:52] PI-Victor commented on #964
/reopen
/remove-lifecycle rotten

[2021-04-15 17:14] ehashman commented on #2305
/remove-label tracked/yes
/label stage/beta
/milestone v1.22

[2021-04-15 17:15] ehashman commented on #2305
/stage beta
/remove-stage alpha

[2021-04-15 17:17] ehashman commented on #647
/milestone v1.22
:crossed_fingers:

[2021-04-15 17:20] ehashman commented on #1748
/milestone clear

[2021-04-15 17:25] ehashman commented on #383
For clarity - this is targeting stable for some upcoming cycle. It is currently in beta.

[2021-04-15 18:56] #2603 closed

[2021-04-16 07:50] pacoxu commented on #1029
During working on https://github.com/kubernetes/kubernetes/pull/99635, I find this feature is still alpha with v1.15 to v1.21.
/assign

I'd like to follow up on this feature. In 1.22 cyle, I will benchmark it and then check with sig if we should promote it to beta then.

ping @RobertKrawitz

[2021-04-16 09:05] fabriziopandini commented on #2495
@draveness Cluster API project repo is https://github.com/kubernetes-sigs/cluster-api/

[2021-04-16 09:19] pacoxu commented on #727
/remove-lifecycle stale
pending on https://github.com/kubernetes-sigs/metrics-server/issues/559

[2021-04-18 18:54] rikatz opened #2634 "Move kubeproxy package to staging"
# Enhancement Description
- Move kubeproxy package to staging
- Kubernetes Enhancement Proposal: TBD
- Discussion Link: https://www.youtube.com/watch?v=DPe4098MIoY
- Primary contact (assignee): rikatz, aojea, jayunit100
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which milestone):
v1.22 (this is a package movement, so there's no milestone/feature gating possible)

[2021-04-18 18:54] rikatz commented on #2634
/sig-network
/assign

[2021-04-19 12:59] soltysh commented on #1591
/remove-lifecycle rotten
/lifecycle freeze
/reopen

This is still in-progress, tracked for GA graduation in 1.23.

[2021-04-19 13:12] deads2k commented on #1295
This landed as GA in 1.21

/close

[2021-04-19 13:12] #1295 closed

[2021-04-19 13:53] mtaufen commented on #1393
Thanks for the reminder: https://github.com/kubernetes/enhancements/pull/2637

[2021-04-19 14:03] liggitt commented on #1393
marked implemented

/close

[2021-04-19 14:03] #1393 closed

[2021-04-19 19:14] rikatz commented on #2634
/sig network

[2021-04-20 07:17] mcluseau commented on #2104
/remove-lifecycle stale

[2021-04-20 14:28] mkimuram opened #2639 "Protect secret from deletion while it is in-use"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Protect secret from deletion while it is in-use
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2640
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/101130
- Primary contact (assignee): @mkimuram
- Responsible SIGs: @kubernetes/sig-storage-feature-requ

[2021-04-20 16:03] neolit123 commented on #357
/remove-lifecycle stale

[2021-04-20 20:58] ehashman commented on #1967
/milestone v1.22

[2021-04-21 06:40] pacoxu commented on #1967
Per KEP, the Graduation Criteria from Alpha to Beta Graduation includes
- [ ] All feedback gathered from users of memory backed volumes (expect to be minimal)
- [ ] Adequate test signal quality for node e2e
- [ ] Tests are in Testgrid and linked in KEP

Per https://github.com/kubernetes/kubernetes/pull/100319

As kubernetes/kubernetes#101048 1.22 is done to promote SizeMemoryBackedVolumeSizing to

[2021-04-21 14:58] KnVerey commented on #2299
/remove-lifecycle stale

[2021-04-22 02:33] xing-yang opened #2644 "Always Honor PersistentVolume Reclaim Policy"
# Enhancement Description
- One-line enhancement description (can be used as a release note): PersistentVolume reclaim policy should always be honored
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2644-honor-pv-reclaim-policy
- Discussion Link: https://github.com/kubernetes-csi/external-provisioner/issues/546
- Primary contact (assignee)

[2021-04-22 02:33] xing-yang commented on #2644
/sig storage

[2021-04-22 13:03] hui-maker opened #2645 "The field stabilizationWindowSeconds in HPA does to follow the regular schedule"
Enhancement Description:

Per my understanding the field `stabilizationWindowSeconds` in HPA, indicates the amount of time the HPA controller should consider previous recommendations to prevent flapping of the number of replicas.  For example: If I set `stabilizationWindowSeconds: 300` for Pod scaling down under behavior section, it indicates the HPA controller will holding at latest 5 mins later

[2021-04-22 13:27] #2645 closed

[2021-04-22 14:22] verb commented on #277
kubernetes/kubernetes#101034 merged, changing the API for ephemeral containers for the 1.22 release. We will allow the new API to soak for a release and pursue beta again in 1.23. In the mean time I plan to work on the outstanding feature requests and beta requirements.

I'll start planning the work in the coming weeks and start a slack thread with everyone who offered to contribute. Many thanks t

[2021-04-23 16:08] liggitt commented on #5
next action is removal in 1.25

[2021-04-23 19:25] BenTheElder commented on #2568
/milestone v1.22

[2021-04-25 02:57] iliul commented on #2254
/cc

[2021-04-26 03:30] wzshiming commented on #2254
/cc

[2021-04-26 08:57] pierluigilenoci commented on #5
@liggitt next action is [PSP Replacement KEP](https://github.com/kubernetes/enhancements/pull/2582)

[2021-04-26 09:29] ianlewis commented on #1846
@frittentheke I haven't considered UDP but I don't think it should be too hard to extend the current design.

[2021-04-26 09:53] pacoxu opened #2647 "make NodeIPAM controller support variable sized CIDRs"
# Enhancement Description
- One-line enhancement description (can be used as a release note): make NodeIPAM controller support variable sized CIDRs
- Kubernetes Enhancement Proposal:
- Discussion Link:   https://github.com/kubernetes/kubernetes/issues/90922 & https://github.com/kubernetes/enhancements/pull/1811
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target eq

[2021-04-26 09:53] pacoxu commented on #2647
/sig network

[2021-04-26 10:14] pacoxu commented on #2647
/kind kep

[2021-04-26 11:11] soltysh commented on #1441
/remove-lifecycle stale
/lifecycle frozen

[2021-04-26 11:26] soltysh commented on #2599
/assign @ravisantoshgudimetla

[2021-04-26 15:48] javidiaz commented on #1797
/remove-lifecycle stale

[2021-04-26 16:14] bridgetkromhout commented on #563
@JamesLaverack can you have this issue placed into the [1.22 release milestone](https://github.com/kubernetes/enhancements/milestone/23 ) and have it tracked for 1.22? We intend for this feature to move from beta to stable in 1.22. Thanks!

[2021-04-27 11:25] soltysh commented on #2624
@alculquicondor do we actually need another issue, rather than track this work under #2214?

[2021-04-27 11:25] soltysh commented on #2214
/milestone v1.22

[2021-04-27 11:28] soltysh commented on #2232
/milestone v1.22

[2021-04-27 11:40] soltysh commented on #2599
/milestone v1.22

[2021-04-27 11:40] soltysh commented on #2599
/stage alpha

[2021-04-27 15:00] #2624 closed

[2021-04-27 19:02] ehashman commented on #1753
I suggest we deprecate and remove this alpha feature if no one is interested in graduating it.

[2021-04-27 19:13] lauralorenz commented on #2149
/remove-lifecycle stale

[2021-04-27 19:52] ReillyBrogan commented on #24
/remove-lifecycle stale

[2021-04-28 01:45] JamesLaverack commented on #2317
/milestone 1.22

[2021-04-28 01:45] JamesLaverack commented on #2317
Whoops.
/milestone v1.22

[2021-04-28 01:46] JamesLaverack commented on #284
/milestone v1.22

[2021-04-28 01:50] JamesLaverack commented on #1495
/milestone v1.22

[2021-04-28 01:51] JamesLaverack commented on #1979
/milestone v1.22

[2021-04-28 01:53] JamesLaverack commented on #2485
/milestone v1.22

[2021-04-28 01:56] JamesLaverack commented on #1847
/milestone v1.22

[2021-04-28 01:57] JamesLaverack commented on #2644
/milestone v1.22

[2021-04-28 07:37] saschagrunert commented on #135
/remove-lifecycle stale

[2021-04-28 08:18] 44past4 commented on #1753
We are still interested in pushing this feature to beta but we had to postpone working on it.

[2021-04-28 19:57] marosset commented on #1981
/milestone v1.22

[2021-04-28 19:59] marosset commented on #1981
@annajung / @kendallnelson since the KEP for this was approved for an alpha implementation in v1.21 but the implementation PRs can we start tracking this for v1.22?

[2021-04-28 20:43] annajung commented on #1981
Hi @marosset, once you opt-in to the 1.22 tracking sheet @JamesLaverack will mark this as tracked for the 1.22. Then, you would just need to make sure KEP has been updated to reflect 1.22 and that it still meets all the criteria required before the enhancements freeze. hope this helps!

[2021-04-28 21:45] ehashman commented on #1539
/milestone v1.22

[2021-04-28 21:51] ehashman commented on #1967
@pacoxu nope, this one just slipped. The doc update got held.

[2021-04-28 21:52] ehashman commented on #2238
/milestone v1.22

[2021-04-28 21:52] ehashman commented on #2238
/stage beta

[2021-04-28 21:54] ehashman commented on #2400
/stage alpha
/milestone v1.22

[2021-04-29 03:46] lingsamuel commented on #2358
/remove-lifecycle stale

[2021-04-29 04:05] marosset commented on #1981
Thanks @annajung!
https://github.com/kubernetes/enhancements/pull/2659 updates the KEP to reflect 1.22

[2021-04-29 10:13] wzshiming commented on #563
I have a patch about this KEP, I hope Pod can add the `status.hostIPs` field, can let Pod know its node's IPv6 address  #2661

[2021-04-29 10:21] pacoxu commented on #277
I would like to work on it. @verb
We have some scenarios that will use this feature.

[2021-04-29 10:38] JamesLaverack commented on #563
@bridgetkromhout 🎉 That's great. 😄 Can I ask you to get SIG Network to put it on the opt-in list on the [1.22 tracking sheet](https://bit.ly/k8s122-enhancements)?

[2021-04-29 15:21] liggitt commented on #2133
/assign @andrewsykim @dims @adisky

[2021-04-29 15:37] liggitt commented on #85
1.22 work is complete:
* KEP: https://github.com/kubernetes/enhancements/pull/2591
* PR: https://github.com/kubernetes/kubernetes/pull/100724
* Docs: https://github.com/kubernetes/website/pull/27810

[2021-04-29 16:32] apelisse commented on #555
We've updated the tracking sheet, can we mark this as a 1.22 milestone? Also, this is code complete already.

[2021-04-29 16:48] ehashman commented on #1753
/cc @erain

[2021-04-29 17:04] ehashman commented on #2305
/milestone v1.22

[2021-04-29 17:04] ehashman commented on #2305
Oh I did that already, woot :)

[2021-04-29 17:06] ehashman commented on #1668
/milestone v1.22

We are hopeful that this KEP will be implementable for 1.22, as previously discussed.

[2021-04-29 17:15] ehashman commented on #24
/help

per https://github.com/kubernetes/enhancements/pull/1444#issuecomment-824128683

[2021-04-29 18:45] JamesLaverack commented on #2605
/milestone v1.22
/stage alpha

[2021-04-29 19:05] JamesLaverack commented on #555
@apelisse Of course. Thanks for updating the tracking sheet!

/milestone v1.22

[2021-04-29 19:59] patricksu commented on #2021
Would love to see feature to beta

[2021-04-30 06:10] pacoxu commented on #1558
The flag was removed in https://github.com/kubernetes/kubernetes/pull/101037/files.

[2021-04-30 20:56] thockin commented on #2647
I think this KEP and https://github.com/kubernetes/enhancements/issues/2593 should merge and become one KEP.  In fact, I think that #2593 is a superset of this one, from a functional point of view (but very different approach).

Can you and @rahulkjoshi please confirm and if so, merge the requirements and close one KEP (issue and PR)?

[2021-04-30 21:09] thockin commented on #2450
Implemented

[2021-04-30 21:09] #2450 closed

[2021-04-30 21:09] thockin commented on #2449
Implemented

[2021-04-30 21:10] thockin commented on #2448
Implemented

[2021-04-30 21:10] #2448 closed

[2021-04-30 21:10] thockin commented on #2447
Implemented

[2021-04-30 21:10] #2447 closed

[2021-04-30 21:11] thockin commented on #2445
Implemented

[2021-04-30 21:11] #2445 closed

[2021-04-30 21:21] thockin commented on #2360
Implemented.

[2021-04-30 21:21] #2360 closed

[2021-04-30 21:25] thockin commented on #2091
Where's the latest proposal to review?

[2021-04-30 21:32] thockin commented on #563
Discussed today - we agreed to wait to 1.23

[2021-04-30 21:32] thockin commented on #563
We have at least one blocking issue - the "PreferDualStack "repair loop".

[2021-04-30 21:39] abhiraut commented on #2091
@thockin you can find the KEP here -> https://github.com/kubernetes/enhancements/pull/2522
I now updated this issue with the KEP link as well.

[2021-04-30 21:56] andrewsykim commented on #1959
@XudongLiuHarold took over for me and got this to alpha for v1.21. Xudong are you able to help get this to Beta for v1.22?

[2021-04-30 22:08] thockin commented on #1435
@janosi - any reason not to bump this to beta?

[2021-04-30 23:10] XudongLiuHarold commented on #1959
I am willing to do that! 😄
So we are targeting Beta for v1.22 right?

[2021-05-01 00:33] SergeyKanzhelev commented on #281
/remove-lifecycle rotten
/lifecycle frozen

We want to [start deprecation](https://github.com/kubernetes/kubernetes/issues/100799) of this feature in this release. Digging into the KEP and corresponding docs...

[2021-05-01 01:12] JamesLaverack commented on #536
/remove-stage alpha
/milestone v1.22

[2021-05-01 01:13] JamesLaverack commented on #752
/milestone v1.22

[2021-05-01 01:21] JamesLaverack commented on #1507
/milestone v1.22

[2021-05-01 01:33] JamesLaverack commented on #2079
/milestone v1.22
/stage beta

[2021-05-01 01:38] JamesLaverack commented on #2365
/milestone v1.22
/stage beta

[2021-05-01 01:44] JamesLaverack commented on #2433
/milestone v1.22
/stage beta

[2021-05-01 01:49] JamesLaverack commented on #2595
/milestone v1.22
/stage alpha

[2021-05-01 04:14] #1673 closed

[2021-05-02 03:22] #1819 closed

[2021-05-02 07:34] khatrig opened #2668 "Any plans to make DevicePlugins feature GA?"
DevicePlugins feature is in beta since k8s 1.10 - [DevicePlugins](https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L50-L54)

Are there any plans to make this feature GA?

[2021-05-02 07:39] khatrig commented on #2668
CC: @jiayingz

/sig

[2021-05-02 07:43] khatrig commented on #2668
/sig node

[2021-05-03 10:19] janosi commented on #1435
@thockin Unfortunately, the 2nd part of the implementation is still missing: the kubelet does not update the problematic ports in the new condition.

[2021-05-03 13:24] andrewsykim commented on #2086
/assign @maplain

@maplain can you take care of the KEP updates for v1.22?

[2021-05-03 22:13] JamesLaverack commented on #1591
@soltysh This is currently implemented in Alpha, and targeting Beta in 1.22 right?

/milestone v1.22

[2021-05-04 01:43] msau42 commented on #1490
/remove-lifecycle rotten

[2021-05-04 16:05] #2004 closed

[2021-05-04 16:05] #2030 closed

[2021-05-04 18:12] ehashman commented on #1539
/stage stable

This was alpha in 1.8, beta in 1.19 and should graduate this release, 1.22.

[2021-05-04 18:38] ehashman commented on #2040
/remove-lifecycle stale
/milestone v1.22

[2021-05-04 18:38] ehashman commented on #1287
/milestone v1.22

[2021-05-04 18:40] ehashman commented on #2273
/stage alpha
/milestone v1.22

ref https://github.com/kubernetes/enhancements/pull/2474

[2021-05-04 18:41] ehashman commented on #127
/milestone v1.22

[2021-05-04 18:42] ehashman commented on #1797
/stage stable
/milestone v1.22

[2021-05-04 18:44] ehashman commented on #2254
/milestone v1.22

[2021-05-04 18:45] ehashman commented on #2570
/stage alpha
/milestone v1.22

[2021-05-04 18:46] ehashman commented on #1769
/stage beta
/milestone v1.22

[2021-05-04 18:47] ehashman commented on #1769
/cc @cynepco3hahue

Please update for beta/1.22.

[2021-05-04 18:48] ehashman commented on #2625
/stage alpha
/milestone v1.22

[2021-05-04 18:49] ehashman commented on #2535
/stage stable
/milestone v1.22

Note: Since this is a bugfix Mike would like to target graduation directly to stable.

[2021-05-04 18:52] ehashman commented on #2371
/milestone v1.22

[2021-05-04 18:53] ehashman commented on #2413
/milestone v1.22

[2021-05-04 18:53] ehashman commented on #1029
/milestone v1.22
/stage beta

@pacoxu feel free to run with this

[2021-05-04 18:58] ehashman commented on #281
/remove-priority awaiting-more-evidence
/assign @SergeyKanzhelev
/milestone v1.22
/remove-kind feature
/kind deprecation

[2021-05-04 21:03] mattcary commented on #1488
/lifecycle frozen

[2021-05-04 21:12] aojea commented on #1435
do you mean kube-proxy @janosi ?

[2021-05-04 23:41] ehashman commented on #423
It's here: https://github.com/kubernetes/enhancements/tree/master/keps/provider-aws/423-network-load-balancer

[2021-05-05 00:48] ahg-g commented on #2255
/stage beta

[2021-05-05 00:48] ahg-g commented on #2255
/milestone v1.22

[2021-05-05 00:49] ahg-g commented on #2307
/milestone v1.22

[2021-05-05 00:50] ahg-g commented on #2307
@alculquicondor can you update the links to the merged KEP please

[2021-05-05 00:51] ahg-g commented on #2249
/stage beta
/milestone v1.22

[2021-05-05 02:30] ehashman commented on #1333
/reopen
/remove-lifecycle rotten

[2021-05-05 02:33] ehashman commented on #1314
/remove-lifecycle rotten
/reopen

[2021-05-05 02:44] ehashman commented on #993
/remove-lifecycle rotten
/reopen

[2021-05-05 02:46] ehashman commented on #993
Did this land in 1.21? https://github.com/kubernetes/kubernetes/pull/98946

[2021-05-05 07:46] halfcrazy opened #2674 "Optionally HTTP/TCP probe from pod's network namespace"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Optionally HTTP/TCP probe from pod's network namespace
- Kubernetes Enhancement Proposal:  WIP
- Discussion Link: https://groups.google.com/g/kubernetes-sig-network/c/nIo6ffat7TI
- * Pod readiness probe cannot be directed at specific IP family
https://github.com/kubernetes/kubernetes/issues/101324#issueco

[2021-05-05 07:47] halfcrazy commented on #2674
/sig-network

[2021-05-05 08:13] halfcrazy commented on #2674
/sig network

[2021-05-05 08:40] halfcrazy commented on #2674
xref
* Pod readiness probe cannot be directed at specific IP family
https://github.com/kubernetes/kubernetes/issues/101324#issuecomment-831563048
* Pod probes lead to blind SSRF from the node
https://github.com/kubernetes/kubernetes/issues/99425#issuecomment-829712715

[2021-05-05 10:29] pohly commented on #1702
/remove-lifecycle stale

[2021-05-05 13:39] ahg-g commented on #2185
@alculquicondor  can you update the description checklist?

@damemi do you plan on submitting a KEP update to graduate the feature to Beta?

[2021-05-05 13:48] alculquicondor commented on #2185
Updated alpha links

[2021-05-05 14:16] damemi commented on #2185
@ahg-g yes, I'll update the KEP with what's necessary for Beta graduation

[2021-05-05 14:33] andrewsykim commented on #2086
/milestone v1.22
/stage beta
/tracked yes

[2021-05-05 14:33] andrewsykim commented on #1959
/milestone v1.22
/stage beta
/tracked yes

[2021-05-05 14:33] andrewsykim commented on #1864
/milestone v1.22
/stage beta
/tracked yes

[2021-05-05 14:33] andrewsykim commented on #1672
/milestone v1.22
/tracked yes

[2021-05-05 14:33] andrewsykim commented on #1669
/milestone v1.22
/stage beta
/tracked yes

[2021-05-05 14:34] andrewsykim commented on #1669
/stage alpha

[2021-05-05 23:46] bridgetkromhout commented on #563
Updated the KEP in https://github.com/kubernetes/enhancements/pull/2649/ and yes, we're going to wait to ensure that the blocking issue Tim mentioned above (https://github.com/kubernetes/kubernetes/issues/101681) is resolved, and wait to ensure we have more signal from the beta of 1.21 (which we likely won't have in time before 1.22 needs to code-freeze).

[2021-05-06 01:10] JamesLaverack commented on #85
Hey @liggitt, 1.22 enhancements lead here 👋

This is broadly good, but I have a couple of questions:
* Can you set the `latest-milestone` key in your kep.yaml to be `"v1.22"`?
* After the [changes to your KEP](https://github.com/kubernetes/enhancements/pull/2591) do any of the PRR questions need to be revisited?

[2021-05-06 01:36] kikisdeliveryservice commented on #284
Based on conversation in slack this is staying in beta in 1.22

[2021-05-06 01:40] JamesLaverack commented on #961
Hi @krmayankk, 1.22 Enhancements Lead here,

I have a few questions about your KEP:
- Can you set the `latest-milestone` field in your kep.yaml to be `"v1.22"`?
- Can you update your KEP template to match the latest [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml) and [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-templa

[2021-05-06 02:03] abitrolly commented on #284
And what are the reasons from slack?

[2021-05-06 02:05] kikisdeliveryservice commented on #284
The authors have stated that it was staying in beta in 1.22 as they have further work to be done before this can go GA.  They can provide more detail/color.

[2021-05-06 02:06] gnufied commented on #1790
/reopen

[2021-05-06 02:07] gnufied commented on #1790
/remove-lifecycle rotten

[2021-05-06 02:09] gnufied commented on #284
mainly we are blocked on two items at this point I think:

1. https://github.com/kubernetes/enhancements/issues/1790
2. https://github.com/kubernetes/kubernetes/issues/98186

We agreed in sig-storage call previously that - a solution for https://github.com/kubernetes/enhancements/issues/1790 is blocker for resizing going GA (cc @saad-ali @xing-yang ). But we don't have to wait for the recovery fro

[2021-05-06 02:24] wzshiming opened #2681 "Field `status.hostIPs` added for Pod"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Field `status.hostIPs` added for Pod
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2681-pod-host-ip
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
  - sig-node
  - sig-network
- Enhancement target (which target equals to wh

[2021-05-06 04:12] krmayankk commented on #961
ack working on it

[2021-05-06 04:36] abitrolly commented on #284
@gnufied thanks!

For an automated container driver like Kubernetes there should be a solution to rollback to previous state from its actions. I can imaging the rollback on filesystem level like Btrfs, but on the storage device I believe there is no API.

[2021-05-06 07:54] wzshiming commented on #2681
/sig node
/sig network

[2021-05-06 12:18] JamesLaverack commented on #1591
Hi @ravisantoshgudimetla, Kubernetes 1.22 Enhancements Lead here,

I have a few questions about your KEP:
* As @wojtek-t [points out](https://github.com/kubernetes/enhancements/pull/2665#discussion_r627095415) on your open KEP PR, the PRR review must be done by a PRR reviewer. An approved PRR review is required by enhancements freeze.
* Can you update your [kep.yaml](https://github.com/kubernetes/

[2021-05-06 12:51] liggitt commented on #85
Done in https://github.com/kubernetes/enhancements/pull/2683

No, the 1.22 completions don't modify any PRR responses.

[2021-05-06 20:10] JamesLaverack commented on #2214
👋 v1.22 Enhancements Lead here. This looks all set for enhancements freeze so I've set it as "Tracked" for this release on the tracking sheet.

[2021-05-06 20:22] JamesLaverack commented on #2232
👋 v1.22 Enhancements Lead here. This looks all set for enhancements freeze so I've set it as "Tracked" for this release on the tracking sheet.

[2021-05-06 20:41] JamesLaverack commented on #2535
Hey @mikebrow, 1.22 Enhancements Lead here. 👋

@ehashman That should be fine so long as SIG Node are happy with that. (cc @dchen1107 @derekwaynecarr)

I'm aware there's an open PR for [your KEP](https://github.com/kubernetes/enhancements/pull/1608) open, but I'd just like to highlight a few things. By enhancements freeze (23:59:59 PST on Thursday 13th May) we require the following:
* Your KEP must

[2021-05-06 20:45] JamesLaverack commented on #2599
👋 v1.22 Enhancements Lead here. This looks all set for enhancements freeze so I've set it as "Tracked" for this release on the tracking sheet.

[2021-05-06 22:17] JamesLaverack commented on #2605
Okay. I've marked this as "Removed from Milestone" on the tracking sheet. Thank you for letting me know. :)

[2021-05-07 00:56] xing-yang commented on #1790
@JamesLaverack Can you track this for v1.22?  Thanks.

[2021-05-07 03:47] krmayankk commented on #961
https://github.com/kubernetes/enhancements/pull/2688 @JamesLaverack

[2021-05-07 09:55] afirth commented on #2206
@natasha41575 thanks heaps for implementing this!

2 Qs:
1.
when running `kustomize openapi fetch <CRD>` it seems the info is printed to stdout, which results in an invalid schema. Is there an option I'm missing here?
[code]

2.
Additionally when piping the output this seems to leave kubectl broken (proxy stays running forever)
[code]

Let me know if you want me to open tix for these somewhere els

[2021-05-07 10:46] kwiesmueller opened #2690 "Examples in OpenAPI Schema"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Examples in OpenAPI Schema
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2692
- Discussion Link: TBD
- Primary contact (assignee): @kwiesmueller
- Responsible SIGs: sig-api-machinery
- Enhancement target (which target equals to which milestone):
  - Alpha release targe

[2021-05-07 15:23] fromanirh commented on #2621
Hi! there is already a discussion (maybe a github issue?) in place on cadvisor project to report the informations about llc so kubelet can consume them? Could you please link it here maybe?

[2021-05-07 15:39] fromanirh commented on #2621
nevermind, I just realized you documented in the KEP text itself.

[2021-05-07 16:56] salaxander commented on #1959
Hi @andrewsykim and @XudongLiuHarold! 1.22 Enhancements team here. We've got you tracked for 1.22, but it looks like the KEP will need a PR to be updated with graduation criteria for beta, as well as the PRR sections that are marked `TBD for beta`. Let me know if there's anything I can do to help!

[2021-05-07 17:40] natasha41575 commented on #2206
There are a couple things here.

1. `kustomize openapi fetch` does not have an argument. It will hit the /openapi/v2 endpoint of the apiserver and return the whole document; there is no `<CRD>` argument. I'd be very surprised and confused to learn that adding a `<CRD>` changes the output at all.

2. I also realized that "Fetching schema from cluster" was printed out, which messes things up for peo

[2021-05-07 17:46] XudongLiuHarold commented on #1959
Hi @salaxander , thanks for the reminder!  Will submit Pr to update KEP this weekend!

[2021-05-07 17:47] JamesLaverack commented on #2436
/milestone v1.22
/stage beta

[2021-05-07 18:04] zshihang commented on #2451
/close because it is replaced by https://github.com/kubernetes/enhancements/issues/542

and the KEP is merged: https://github.com/kubernetes/enhancements/pull/2663

[2021-05-07 18:04] zshihang commented on #2451
/close

[2021-05-07 18:04] #2451 closed

[2021-05-07 19:07] salaxander commented on #541
Hey @ankeesler - 1.22 release team here! Looks like we're in good shape for the 1.22 release (we're tracking this PR for the KEP update https://github.com/kubernetes/enhancements/pull/2587). Just a reminder that we've got enhancement freeze coming up on 5/13. Let us know if there's anything we can do to help before then!

CC @JamesLaverack

[2021-05-07 21:22] msau42 commented on #1682
/remove-lifecycle rotten

[2021-05-07 22:10] salaxander commented on #647
Hey @dashpole - 1.22 enhancements team here. Looks like we're on track so far, KEP looks up to date. Enhancements freeze is on 5/13, let us know if there's anything we can do to help before then!

[2021-05-07 22:16] salaxander commented on #2371
Hey @haircommander and @bobbypage - 1.22 enhancements team here! Just a reminder that enhancements freeze is coming up on 5/13. We'll need the KEP merged before then to get this included in the 1.22 release.

Let us know if there's anything we can do to help before then!

[2021-05-08 00:53] feiskyer commented on #667
GA version has been released https://github.com/kubernetes-sigs/cloud-provider-azure/releases/tag/v1.0.0

/close

[2021-05-08 00:53] #667 closed

[2021-05-08 08:27] hustcat commented on #2621
https://docs.google.com/document/d/1BuiBgsittUnU3heKHRCQ66YYxzAItT5gcPlu3N83PfA/edit#heading=h.ftqsk9dod7r
This is design document.

[2021-05-08 21:31] JamesLaverack commented on #2433
Hey @robscott, 1.22 Enhancements Lead here,

I have a few questions about your enhancement, as it is currently targeted for 1.22.
* Your [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2433-topology-aware-hints/kep.yaml) needs updating to reflect the graduation. The `latest-milestone` should be set to `"v1.22"`.

I'm assuming you're targeting beta for this releas

[2021-05-09 00:23] JamesLaverack commented on #2249
Hey @ahg-g, 1.22 Enhancements Lead here.

This enhancement looks in pretty good shape for 1.22, but I have one minor change to request:

* Can you update the `latest-milestone` field in your [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/2249-pod-affinity-namespace-selector/kep.yaml) to be `"v.122"`.

Thanks!

[2021-05-09 00:53] JamesLaverack commented on #127
Hi @mauriciovasquezbernal, 1.22 Enhancements Lead here,

I see you have a [KEP pull request](https://github.com/kubernetes/enhancements/pull/2101) in progress, but I'd like to remind you of a few things ahead of enhancements freeze at 23:59:59 on Thursday 13th May. By enhancements freeze we require that:
* A [production readiness review](https://github.com/kubernetes/community/blob/master/sig-arch

[2021-05-09 02:52] gracenng commented on #2579
Hi @tallclair 👋 1.22 Enhancements shadow here.

This enhancement is in good shape for 1.22, a couple minor change requets in light of Enhancement Freeze on Thursday May 13th:
- KEP has not been merged to master
- the "reviewers" section in kep.yaml is not filled out
- <<[unresolved]>> in README
- Graduation Criteria in README

Thank you!

[2021-05-09 17:13] gracenng commented on #2307
Hi @alculquicondor  👋 1.22 Enhancement shadow here.

This enhancement is in good shape, some minor change requests in light of Enhancement Freeze on Thursday May 13th:

- In KEP.yaml, latest-milestone has not been updated
- In KEP.yaml, milestone (alpha: v1.21, beta: v1.22) doesn't match your current stage

Thanks!

[2021-05-09 19:44] salaxander commented on #555
@apelisse - 1.22 enhancements team here! Looks like we're on track for 1.22. I think the only thing would maybe be updating the graduation criteria of the KEP to reference 1.22 rather than 1.21 for GA. Also, if you're able to update the structure of the KEP for the latest template (https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template), that would be awesome. Though, I don'

[2021-05-09 20:16] gracenng commented on #1693
Hi @liggitt 👋 1.22 Enhancements Shadow here.

This enhancement is in good shape, some minor change requests in light of Enhancement Freeze on Thursday May 13th:

- Please up date your kep.yaml file with the latest [template ](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml)
- I was unable to find the PRR for this enhancements so it will be marked as PRR not a

[2021-05-09 20:50] Jiawei0227 commented on #625
/remove-lifecycle stale

[2021-05-09 20:52] gracenng commented on #2436
Hello @jiahuif 👋 1.22 Enhancement shadow here.
This enhancement is in good shape, some minor change requests in light of Enhancement Freeze on Thursday May 13th:

- PRR not approved for beta
- In kep.yaml,` latest-milestone` is not updated
- In kep.yaml, PRR answers related to beta is not answered

Thanks! 😊

[2021-05-09 23:09] cheftako opened #2699 "KEP for adding webhook hosting capability to the CCM framework"
Add webhook hosting capability to the CCM framework
- Kubernetes Enhancement Proposal: [2699 add webhook hosting to ccm](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/2699-add-webhook-hosting-to-ccm)
- Discussion Link:
- Primary contact (assignee): @cheftako
- Responsible SIGs: SIG Cloud Provider and SIG Storage
- Enhancement target (which target equals to which mi

[2021-05-09 23:49] jrsapi commented on #970
Greetings @neolit123!
1.22 Enhancement shadow checking in. The Enhancement freeze is this Thursday, 5/13. In reviewing your KEP, a few items need to be complete before the freeze.

* (PRR) Production readiness review needs to be approved. #prod-readiness channel on K8s slack can assist.
* k/k pr for the 1.22 milestone.

Thanks!

[2021-05-10 03:09] gracenng commented on #1668
Hi @zhijianli88 👋 1.22 Enhancement Shadow here

This enhancement is in good shape, just some minor change requests light of Enhancement Freeze on Thursday May 13th:

- In kep.yaml, latest-milestone is not updated to 1.22
- In kep.yaml, milestone does not match current stage
- KEP status is currently provisional instead of implementable

Thanks! 😊

[2021-05-10 03:13] gracenng commented on #2033
Hi @AkihiroSuda 👋 1.22 Enhancement shadow here.

This enhancement is well on its way, some minor change requests in light of Enhancement Freeze on Thursday May 13th:

- Update kep.yaml file to the latest template, as well as fill in approvers prr-approvers and update milestones
- Obtain a PRR approval

Thanks 😊

[2021-05-10 03:18] gracenng commented on #2595
Hi @gjkim42 👋 1.22 Enhancement shadow here.

This enhancement is in good shape, a minor change request in light of Enhancement Freeze on Thursday May 13th:

- Graduation criteria for alpha is incomplete

Thanks!

[2021-05-10 03:20] gracenng commented on #2625
Hi @fromanirh 👋 1.22 Enhancement shadow here.

This enhancement is in good shape, some minor change requests in light of Enhancement Freeze on Thursday May 13th:

- In kep.yaml file, prr-approvers is empty
- Please elaborate and/or link the implementation PR in your Test Plan

Thank you 😊

[2021-05-10 05:10] reylejano commented on #752
Hi @swetharepakula,

1.22 Enhancement shadow checking in. The Enhancement freeze is coming up at 23:59:59 PST on Thursday 13th May. In reviewing your KEP, one item needing attention before the freeze:
- In the [kep.yaml ](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0752-endpointslices/kep.yaml), update the `current-milestone` and `stable` to "v1.22"

If you have any que

[2021-05-10 05:35] jrsapi commented on #1769
Greetings @cezaryzukowski!

 1.22 Enhancement shadow checking in. A reminder that the Enhancement freeze is this Thursday, 5/13.

~~The KEP must be merged in an implementable state.~~ Done
~~The KEP must have test plans.~~ Done
~~The KEP must have graduation criteria.~~ Done
~~The KEP must have an approved production readiness review.~~ Done

This KEP is being tracked by the enhancement team for t

[2021-05-10 05:47] reylejano commented on #1029
Hi @pacoxu,

1.22 Enhancement shadow checking in. The Enhancement freeze is coming up at 23:59:59 PST on Thursday 13th May. In reviewing your KEP, several things needs to be addressed:

- Please update your KEP to match the latest [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml) and [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/

[2021-05-10 06:11] reylejano commented on #1495
Hi @bswartz,

1.22 release team here. After reviewing the [kep](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1495-volume-populators) and verifying there is an [approved PRR](https://github.com/kubernetes/enhancements/blob/master/keps/prod-readiness/sig-storage/1495.yaml), this enhancement is in good shape for the 1.22 Enhancements Freeze at 23:59:59 pst on Thursday, May

[2021-05-10 06:30] reylejano commented on #2365
Hi @robscott ,

1.22 release team here. The 1.22 Enhancements Freeze is at 23:59:59 pst on Thursday, May 13.
After reviewing the [kep](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2365-ingressclass-namespaced-params). The following needs to be done before Enhancements Freeze:
- In the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2365

[2021-05-10 06:40] cynepco3hahue commented on #1769
@ehashman @jrsapi We have some improvements for the beta(it reflected a little bit under the beta requirements), should I update the KEP, or just updating the beta version should be enough?

[2021-05-10 06:55] reylejano commented on #542
Hi @zshihang,

1.22 release team here. After reviewing the [kep](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/1205-bound-service-account-tokens) and [approved PRR](https://github.com/kubernetes/enhancements/blob/master/keps/prod-readiness/sig-auth/1205.yaml), this enhancement is on track for the 1.22 Enhancements Freeze at 23:59:59 pst on Thursday, May 13.

Thank you!

[2021-05-10 07:05] reylejano commented on #1864
Hi @hanlins and @andrewsykim ,

1.22 release team here. After reviewing the [kep](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1864-disable-lb-node-ports) and [approved PRR](https://github.com/kubernetes/enhancements/blob/master/keps/prod-readiness/sig-network/1864.yaml), this enhancement needs one update to meet the 1.22 Enhancements Freeze which starts 23:59:59 Thursda

[2021-05-10 07:17] hanlins commented on #1864
Hi @reylejano, thanks for the reminder! The PR for status update is actually opened already and pending for approvals https://github.com/kubernetes/enhancements/pull/2671.

[2021-05-10 08:59] supriya-premkumar opened #2702 "[KEP] Graduate HPA API to GA"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
   Promote HorizontalPodAutoscaler API resource v2beta2 version to GA
- Kubernetes Enhancement Proposal: https://docs.google.com/document/d/1QGT9Waxc500ICGX_TGIoxfOWKmWbXYC6TWxfdUC2Njg/edit#
- Discussion Link: https://docs.google.com/document/d/1RvhQAEIrVLHbyNnuaT99-6u9ZUMp7BfkPupT2LAZK7w/edit#
- Primary