[2017-09-12 18:34] luxas commented on #415
And working on docs...

[2017-09-12 20:31] derekwaynecarr commented on #275
doc pr https://github.com/kubernetes/kubernetes.github.io/pull/5419

[2017-09-12 20:40] calebamiles commented on #276
Thanks for the update, @balajismaniam. @derekwaynecarr suggested that this feature issue was essentially a dupe of https://github.com/kubernetes/features/issues/375 but predates it. How would we feel about closing this issue in favor of https://github.com/kubernetes/features/issues/375?

**cc: @kubernetes/sig-node-feature-requests, @kubernetes/kubernetes-release-managers**

[2017-09-12 21:19] ConnorDoyle commented on #276
Depends on what else besides CPU manager @derekwaynecarr has in mind to differentiate the G class. If there's nothing specific planned for now then +1 to close it.

[2017-09-12 22:38] mtaufen commented on #281
No, I really need to write something to teach people how to play with the alpha. What's the preferred place for these docs again?

[2017-09-12 23:43] saad-ali commented on #351
This did not make it in to 1.8, design was complete. Implementation will be punted to 1.8

[2017-09-13 01:20] verult commented on #377
This feature is now complete. Will update the tracking board. Thanks!

Dynamic plugin discovery implementation: https://github.com/kubernetes/kubernetes/pull/50031
Dynamic plugin discovery design doc and recommended Flexvolume deployment method: https://github.com/kubernetes/community/pull/833

[2017-09-13 07:17] idvoretskyi commented on #351
@saad-ali to 1.8 or 1.9? If 1.9, let's update the milestone.

[2017-09-13 07:45] luxas commented on #281
@mtaufen https://kubernetes.io/docs (https://github.com/kubernetes/kubernetes.github.io)
I'll definitely read what it came to look like finally

[2017-09-13 15:21] childsb commented on #351
Moved to 1.9

[2017-09-13 20:48] fabianofranz commented on #371
@idvoretskyi thanks!

[2017-09-13 22:16] grodrigues3 commented on #381
Are there PRs out with e2e/unit tests?  Docs link?

[2017-09-13 22:35] jessfraz commented on #381
There are e2e tests and unit tests that were included in the orignial PR

On Wed, Sep 13, 2017 at 6:16 PM, grodrigues3 <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2017-09-13 22:40] grodrigues3 commented on #381
Can you reference this issue/feature in that PR for trace-ability?

[2017-09-13 22:41] jessfraz commented on #381
Yup will do

On Sep 13, 2017 18:40, "grodrigues3" <notifications@github.com> wrote:

[2017-09-14 12:25] jsafrane commented on #278
Slipped from 1.8

[2017-09-14 17:33] idvoretskyi commented on #370
@jdumars @brendandburns @kubernetes/sig-azure-misc can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-14 17:35] idvoretskyi commented on #117
@DirectXMan12 @kubernetes/sig-autoscaling-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-14 17:36] idvoretskyi commented on #365
@smarterclayton @kubernetes/sig-api-machinery-feature-requests @kubernetes/sig-scalability-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-14 17:37] idvoretskyi commented on #267
@jcbsmpsn @kubernetes/sig-auth-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-14 17:38] idvoretskyi commented on #372
@MrHohn @kubernetes/sig-network-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-14 17:39] idvoretskyi commented on #374
@bsalamat @kubernetes/sig-scheduling-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-14 17:40] MrHohn commented on #372
@idvoretskyi This feature doesn't target 1.8 anymore, could you remove it from 1.8 milestone? Thanks.

[2017-09-14 17:42] idvoretskyi commented on #372
@MrHohn thanks

[2017-09-14 17:46] DirectXMan12 commented on #117
All set.  Looks like something got messed up in the spreadsheet

[2017-09-14 17:48] DirectXMan12 commented on #264
@idvoretskyi this is beta in 1.8

[2017-09-14 17:49] DirectXMan12 commented on #118
@idvoretskyi this is beta in 1.8

[2017-09-14 17:55] ericchiang commented on #267
Bumping this to the 1.9 milestone since there wasn't much work done on it during 1.8.

[2017-09-14 18:02] jcbsmpsn commented on #267
Currently the kubelet provides the CN and the SANs that go into the certificate. Without some mechanism for the signing server to validate that information, it is possible for the kubelet to request a certificate for a domain it shouldn't and get the certificate (which would be a server certificate) blessed by the cluster CA.

This feature should remain alpha until there is an answer this problem.

[2017-09-14 18:22] bsalamat commented on #374
@idvoretskyi This does not target 1.8. I am not sure if I have permission to change milestone.

[2017-09-14 19:07] palakdalal commented on #298
@soltysh Can you please add the k8s.io Docs PR for this feature for 1.8 release here: https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0

[2017-09-14 19:08] palakdalal commented on #19
@soltysh Can you please add the k8s.io Docs PR for this feature for 1.8 release here: https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0

[2017-09-14 20:38] jdumars commented on #88
What part of this is being delivered in 1.8?  Sorry if that's here somewhere.

[2017-09-14 21:59] jdumars commented on #370
@idvoretskyi removed from milestone, also removing help wanted label to make your life easier.

[2017-09-15 13:14] luxas commented on #88
@jdumars This feature has been pretty greatly improved generally in v1.8, but not enough to meet the beta criterias. Docs PR is here https://github.com/kubernetes/kubernetes.github.io/pull/5400

[2017-09-15 15:25] jdumars commented on #88
@radhikapc @Bradamant3 FYI

[2017-09-15 15:55] klausenbusk commented on #427
What is the argument behind this switch?

[2017-09-15 18:01] johnbelamaric commented on #427
Hi Kristian,

Here's a little background. CoreDNS is another CNCF project and is the successor to SkyDNS, which kube-dns is based on. It is a flexible, extensible authoritative DNS server and we have built a direct integration to the Kubernetes API. It can serve as cluster DNS, complying with the [dns spec](https://github.com/kubernetes/dns/blob/master/docs/specification.md). We started discussion

[2017-09-15 18:56] jdumars commented on #353
Contacting @kow3ns to try and track down missing docs for 1.8 release.

[2017-09-15 18:58] jdumars commented on #415
@luxas any update on docs?  PR is due today.

[2017-09-15 19:00] jdumars commented on #257
@irfanurrehman any update on docs?  PR is due today.

[2017-09-15 19:05] jdumars commented on #271
@piosz do you have an update on missing docs?  The PR for this is due today.

[2017-09-15 19:07] jdumars commented on #367
@cmluciano any update on missing docs?  The PR is due today.

[2017-09-15 19:07] jdumars commented on #366
@cmluciano any update on missing docs?  The PR is due today.

[2017-09-15 19:09] jdumars commented on #284
@gnufied do you have an update on missing docs?  PR is due today.

[2017-09-15 19:11] jdumars commented on #177
@jingxu97 @rootfs any update on missing docs for this?  PR is due today.

[2017-09-15 19:14] gnufied commented on #284
I will open docs PR EOD today. sorry about the delay.

[2017-09-15 19:15] jdumars commented on #362
@jingxu97 any update on missing docs?  PR is due today.

[2017-09-15 19:15] jdumars commented on #363
@jingxu97 any update on missing docs? PR is due today.

[2017-09-15 19:16] jdumars commented on #377
@verult any update on missing docs?  PR is due today

[2017-09-15 19:59] jingxu97 commented on #177
@jdumars We put this into external, is there still a deadline for it?

[2017-09-15 20:02] kow3ns commented on #353
starting with
https://github.com/kubernetes/kubernetes.github.io/pull/5420
https://github.com/kubernetes/kubernetes.github.io/pull/5398
https://github.com/kubernetes/kubernetes.github.io/pull/5463
https://github.com/kubernetes/kubernetes.github.io/pull/5461
there are a few more to come

[2017-09-15 21:01] quinton-hoole commented on #257
https://github.com/kubernetes/kubernetes.github.io/pull/5487

On Fri, Sep 15, 2017 at 12:00 PM, Jaice Singer DuMars <
notifications@github.com> wrote:

--
Quinton Hoole
quinton@hoole.biz

[2017-09-15 21:01] jingxu97 commented on #362
Sorry for the delay. I filed PR to update the doc https://github.com/kubernetes/kubernetes.github.io/pull/5490

[2017-09-15 21:10] verult commented on #377
Awaiting doc writer approval: https://github.com/kubernetes/kubernetes.github.io/pull/5492

[2017-09-15 21:22] quinton-hoole commented on #71
No, it's not ready for v1.8.  The code is done, but needs review and refinement in light of new Federation API design.

[2017-09-15 22:04] jdumars commented on #177
This is an independent feature outside of the specific 1.8 milestone.

[2017-09-15 22:04] jdumars commented on #177
Docs can wait until you release separately @jingxu97 - thanks for letting us know

[2017-09-15 22:53] kow3ns commented on #298
@soltysh I'm not saying it shouldn't go in as is. It's just listed as alpha, but it will be enabled by default on the GA surface. So for the purposes of communication/documentation I don't see how we can call it an alpha feature.

[2017-09-16 00:30] verult commented on #377
Merged!

[2017-09-16 01:37] smarterclayton commented on #427
I would expect a proposal for this.

[2017-09-16 08:16] dixudx commented on #376
@saad-ali Shall we close this, since #34058 has already been merged.

[2017-09-16 17:52] luxas commented on #376
This should be kept open until v1.8 is out and this feature has all documentation, code, proposals, etc merged.

Where is the documentation PR?

[2017-09-16 20:21] smarterclayton commented on #365
Yes, it was delivered for 1.8.

[2017-09-17 03:51] dixudx commented on #376
@luxas @saad-ali Add documentation PR kubernetes/kubernetes.github.io#5503. PTAL. Thanks.

[2017-09-18 14:15] jdumars commented on #353
Thanks so much @kow3ns

[2017-09-18 14:16] jdumars commented on #257
@quinton-hoole thanks!!

[2017-09-18 14:18] jdumars commented on #271
@piosz we need docs ASAP for this in order to make 1.8 documentation

[2017-09-18 14:28] jdumars commented on #367
@caseydavenport @cmluciano mentioned you as the contact for docs.  We need them ASAP in order to make the 1.8 release docs.

[2017-09-18 14:28] jdumars commented on #366
@caseydavenport @cmluciano mentioned you as the contact for docs.  We need them ASAP in order to make the 1.8 release docs.

[2017-09-18 14:29] jdumars commented on #284
@gnufied any update on the docs PR?

[2017-09-18 16:28] idvoretskyi commented on #288
@luxas @kubernetes/sig-cluster-lifecycle-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-18 16:29] idvoretskyi commented on #356
@luxas @justinsb @kubernetes/sig-cluster-lifecycle-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-18 16:30] idvoretskyi commented on #380
@ericchiang @kubernetes/sig-auth-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-18 16:33] ericchiang commented on #380
@idvoretskyi yes it's on target for 1.8. Added to the spreadsheet.

[2017-09-18 16:33] idvoretskyi commented on #298
@soltysh I'll reopen the issue, we need it to keep open to track it.

Thanks :)

[2017-09-18 16:33] idvoretskyi commented on #265
@quinton-hoole @kubernetes/sig-network-feature-requests can you confirm that this feature targets 1.8?

If yes, please, update the [features tracking spreadsheet](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the feature data, otherwise, let's remove this item from 1.8 milestone.

Thanks

[2017-09-18 16:39] johnbelamaric commented on #427
Ok, will do. I assume that means based on https://github.com/kubernetes/community/blob/master/contributors/design-proposals/Design_Proposal_TEMPLATE.md

[2017-09-18 16:56] haibinxie commented on #265
@idvoretskyi yes it's on track for 1.8 after lots of efforts. I see it's already in the spreedsheet item 22. could you double check if it's good?

[2017-09-18 16:59] idvoretskyi commented on #265
@haibinxie sorry, it's there. Thanks!

[2017-09-18 17:30] gnufied commented on #284
I am on it.  It is taking longer than I expected, I am really sorry about that. But it should all be in by today.

[2017-09-18 17:34] piosz commented on #271
@jdumars I'm working on this. We be ready today or tomorrow.

[2017-09-18 17:36] saad-ali opened #432 "Mount namespace propagation"
# Feature Description
- One-line feature description (can be used as a release note): Enable a container to mount a volume `rshared` so that any mounts from inside the container are reflected in the host's mount namespace (this will enable, for example, containerization of volume plugins).
- Primary contact (assignee): @jsafrane
- Responsible SIGs: /sig-storage
- Design proposal link (community re

[2017-09-18 17:38] saad-ali commented on #432
Split this out from https://github.com/kubernetes/features/issues/278

[2017-09-18 17:39] saad-ali commented on #432
Design doc: https://github.com/kubernetes/community/pull/659 by @jsafrane

Implemented in PR https://github.com/kubernetes/kubernetes/pull/46444 for 1.8 by @jsafrane

[2017-09-18 17:43] saad-ali commented on #432
Need user docs @jsafrane

[2017-09-18 18:40] mtaufen commented on #281
@luxas https://github.com/kubernetes/kubernetes.github.io/pull/5523

[2017-09-19 01:12] caseydavenport commented on #367
Docs PR is here: https://github.com/kubernetes/kubernetes.github.io/pull/5528

[2017-09-19 01:12] caseydavenport commented on #366
Docs PR is here: kubernetes/kubernetes.github.io#5528

[2017-09-19 02:27] spacexnice commented on #88
Thanks for all the great works!
Base on your work, Alibaba Cloud has officially support out-of-tree cloudprovider which is also open sourced . see [AliyunContainerService/kubernetes](https://github.com/AliyunContainerService/kubernetes/tree/kubernetes-v1.7.2-alicloud.base).
Currently, one more thing , Is there a central repository to hold all of these out-of-tree provider ?  @luxas  cc @Crazykev

[2017-09-19 05:46] unclewizard commented on #27
I've noticed that on GKE running a NodePort service + Ingress that this feature causes the backend to be marked as "UNHEALTHY" when I inspect the ingress with ``kubectl describe ing ingress`` (presumably because most nodes are failing the health check). Are there any negative side-effects to this or is it safe to ignore?

[2017-09-19 06:18] chy168 commented on #27
@unclewizard Is your ```GET /``` are available (```HTTP code, 200 OK```) for GCP healthy check?

[2017-09-19 12:17] jsafrane commented on #432
Docs: https://github.com/kubernetes/kubernetes.github.io/pull/5544

[2017-09-19 13:56] idvoretskyi commented on #19
@soltysh this feature is listed at the features tracking spreadsheet - https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0, but doesn't have 1.8 milestone assigned.

Does this feature target 1.8?

[2017-09-19 14:37] idvoretskyi commented on #2
@ericchiang @deads2k @liggitt @kubernetes/sig-auth-feature-requests so, is this feature delivered as Beta or Stable for 1.8?

If it's not enabled by default, it can't be "stable" - we have to update the stage/* label.

[2017-09-19 15:04] deads2k commented on #2
"enabled by default" by which deployment mechanisms?  The API is on by default, but the choice of what particular authorizer to use is a decision left up to the deployment mechanisms themselves.

In this case, its on in `kubeadm` and `kube-up` (https://github.com/kubernetes/kubernetes/pull/51367), so it is on, but moving forward you'll probably want to consider how to handle per-deployment choices

[2017-09-19 16:06] unclewizard commented on #27
@chy168 Yep - here is a simple way to reproduce:

Follow the instructions here: https://cloud.google.com/container-engine/docs/tutorials/http-balancer but when you get to Step 2, use the following yaml to create the nginx service:

[code]

After you create the Ingress service in Step 3, wait about 10 minutes and then do a ``kubectl describe ing basic-ingress``. The output will contain something li

[2017-09-19 16:54] jdumars commented on #271
@piosz when you have a PR could you please link it to this issue?  Thanks!

[2017-09-19 17:19] jianhuiz commented on #258
It's in 1.8 as alpha feature with out re-balancing implemented
https://github.com/kubernetes/kubernetes/issues/45187

[2017-09-19 17:33] idvoretskyi commented on #286
@Random-Liu can you update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data?

Thanks.

[2017-09-19 17:34] idvoretskyi commented on #281
@mtaufen can you update the features tracking [board](https://docs.google.com/spreadsheets/d/1AFksRDgAt6BGA3OjRNIiO3IyKmA-GU7CXaxbihy48ns/edit#gid=0) with the relevant data?

Thanks.

[2017-09-19 17:57] liggitt commented on #2
That is incorrect. Optional != unstable. The RBAC API is at v1, and the RBAC authorizer has been tested for correctness and at scale for performance, so the feature can accurately be described as stable.

[2017-09-19 18:21] mtaufen commented on #281
Done

[2017-09-19 20:12] soltysh commented on #19
@idvoretskyi partially, the promotion to beta was targeted for 1.8 and happened in that timeframe. There's no milestone set for this, b/c there's no clear plan for the future promotion to stable, yet.

[2017-09-19 20:15] idvoretskyi commented on #19
@soltysh understood. So, I'll mark with 1.8 milestone.

[2017-09-19 20:20] soltysh commented on #298
@kow3ns hmm... I see what you mean, now. Not sure how to answer it, though.

[2017-09-19 20:21] soltysh commented on #19
Thanks!

[2017-09-19 21:41] johnbelamaric commented on #427
Ok, here is the proposal. Sorry for all those commits referencing this.

https://github.com/kubernetes/community/pull/1100

[2017-09-19 22:00] idvoretskyi commented on #2
@liggitt sorry about the wording confusion. I'm speaking about "stable" status as the feature definition, not about code stability.

We can't declare the feature as "stable" or "GA" if it's not available by default.

[2017-09-19 22:14] liggitt commented on #2
It is available by default. It is not enabled by default.

[2017-09-19 23:20] smarterclayton commented on #2
I don't think "enabled by default" has anything to do with stability.

[2017-09-20 02:43] MrHohn commented on #27
@unclewizard That is expected. When `externalTrafficPolicy` is set to `Local`, nodes that don't have backend pods run on it will intentionally fail LB health check.

Though backend service could contain multiple backends, the `backends` annotation only shows the healthiness of one of them, that seems incorrect. Opened https://github.com/kubernetes/ingress/issues/1395.

[2017-09-20 03:45] MrHohn commented on #27
Sorry, I said it wrong. We internally fail healthcheck for L4 LB but not L7. Backend service shouldn't show as "UNHEALTHY".

@unclewizard  Could you open a separate issue on https://github.com/kubernetes/ingress? Thanks.

[2017-09-20 04:00] MrHohn commented on #27
Sorry for spamming, please ignore what I said on previous post. I need some sleep :(

[2017-09-20 07:53] pires commented on #265
@haibinxie both the document and this issue don't link to any PRs. Can you link here so one can take a look?

[2017-09-20 07:58] m1093782566 commented on #265
@pires

Please check PR https://github.com/kubernetes/kubernetes/pull/46580 and design proposal https://github.com/kubernetes/community/pull/692

FYI

[2017-09-20 08:07] pires commented on #265
thanks a lot! excited to try this out.

[2017-09-20 08:11] m1093782566 commented on #265
Thanks, @pires

Please note that it's still in alpha version and there are already some PRs about small bug fixes in fly, xref:

kubernetes/kubernetes#52014, kubernetes/kubernetes#52330

[2017-09-20 12:41] idvoretskyi commented on #2
@smarterclayton again, it's not about the "code stability". Let's read " a stable feature" as "a GA feature".

[2017-09-20 13:39] luxas commented on #2
This is an optional, GA and stable feature :)
(Thanks to @liggitt & the rest of sig-auth's great work!)

[2017-09-20 13:41] idvoretskyi commented on #2
@luxas good, let's do it so.

[2017-09-20 13:59] piosz commented on #271
https://github.com/kubernetes/kubernetes.github.io/pull/5560

[2017-09-20 14:42] luxas commented on #356
@idvoretskyi This is targeting v1.8 indeed.
Added this to the feature spreadsheet as well

[2017-09-20 14:48] luxas commented on #288
@idvoretskyi It targets v1.8, and I updated the spreadsheet

[2017-09-20 18:27] bgrant0607 commented on #2
There are multiple valid authorization options:
https://kubernetes.io/docs/admin/authorization/#authorization-modules

[2017-09-20 20:28] nikhiljindal commented on #271
Filed https://github.com/kubernetes/kubernetes/issues/52811 to track missing e2e tests

[2017-09-20 21:10] Random-Liu commented on #286
@idvoretskyi Will do. Thanks for reminding!

[2017-09-21 07:42] luxas commented on #265
@m1093782566 Can you please link to the user-facing documentation (kubernetes.io/docs) for this feature?

[2017-09-21 07:45] m1093782566 commented on #265
Sure. I think @Lion-Wei is already working on it. Could you please provide the link, @Lion-Wei?

[2017-09-21 18:48] Random-Liu commented on #286
@idvoretskyi Done

[2017-09-21 18:55] 2rs2ts commented on #22
Not sure if this is the right place to raise this issue but the log rotation implemented by the apiserver seems to be incompatible with logrotate and there doesn't seem to be a way to turn it off. This feature would probably be better off if it could work with logrotate.

[2017-09-21 18:57] crassirostris commented on #22
@2rs2ts Could you please create a separate issue for that in kubernetes repo? Let's continue the discussion there

[2017-09-22 17:31] ericchiang commented on #271
This was discussed this today during our release team burndown.

We're extremely worried about adding e2e tests this late in the cycle. Best case scenario those tests get in today or Monday, we wait a day for the e2e tests to give us signal, then have to de-bug an flakes in the test, or identify any actual failures. This is all before the release on Wednesday.

Can someone try to address these con

[2017-09-23 00:54] tallclair commented on #135
I'd like to see this get to beta. Priorities (or requirements) for that include:

1. Annotations (Pod & PodSecurityPolicy) must be moved to fields on the container `SecurityContext` (see https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#alpha-field-in-existing-api-version)
2. Settle on the [OCI spec seccomp format](https://github.com/opencontainers/runtime-spec/

[2017-09-23 00:54] tallclair commented on #135
/cc @destijl

[2017-09-23 11:48] feiskyer commented on #292
1.8 release process is on track at https://github.com/kubernetes-incubator/cri-tools/issues/145

[2017-09-24 15:16] jessfraz commented on #135
If someone has time and wants to do it they are more than welcome to and I
will help answer any questions

On Sep 22, 2017 20:54, "Tim Allclair (St. Clair)" <notifications@github.com>
wrote:

[2017-09-25 18:22] cmluciano commented on #367
Docs fixed in https://github.com/kubernetes/kubernetes.github.io/pull/5473#issuecomment-331616722

[2017-09-25 22:41] apsinha commented on #266
@jcbsmpsn an addition to the docs for this feature would be very useful for users. Is it already documented?

[2017-09-25 22:46] apsinha commented on #264
@DirectXMan12 would be really good to add a bit of documentation for this feature. Users should be able to look it up on the HPA docs.

[2017-09-25 23:02] apsinha commented on #118
@DirectXMan12 did we move to beta with any changes? I could not find any documentation of any changes, just wanted to confirm...

[2017-09-25 23:20] apsinha commented on #265
Would be really good to get some docs. @m1093782566

[2017-09-26 01:15] m1093782566 commented on #265
@apsinha

Please check the design proposal: kubernetes/community#692 and user documents: https://github.com/kubernetes/kubernetes.github.io/pull/5571

[2017-09-26 08:34] apsinha commented on #117
@DirectXMan12 is there any documentation for the changes in this release?

[2017-09-26 16:54] jcbsmpsn commented on #266
Documentation updates: https://github.com/kubernetes/kubernetes.github.io/pull/5639

[2017-09-26 21:57] jcbsmpsn opened #460 "Encryption at rest KMS integration"
# Feature Description
- One-line feature description (can be used as a release note): Data encryption at rest using Google KMS as an encryption provider.
- Primary contact (assignee): @jcbsmpsn
- Responsible SIGs: sig-auth
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1134
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area

[2017-09-26 22:09] idvoretskyi commented on #460
@jcbsmpsn @kubernetes/sig-auth-feature-requests can you describe us why the feature has been proposed only today (less than in 24 hours before the release cut), and why it hasn't been discussed before during the release cycle?

cc @jdumars

[2017-09-26 22:15] jdumars commented on #460
cc @thockin

[2017-09-26 22:19] jcbsmpsn commented on #460
@idvoretskyi It's for two cycles out. The 1.8 related code was merged alpha associated with [this](https://github.com/kubernetes/community/pull/607/files) proposal. There is enough work associated with this feature that we want it to have it's own issue going forward.

[2017-09-26 22:33] idvoretskyi commented on #460
@jcbsmpsn much clearer now. Thanks

[2017-09-27 14:23] resouer commented on #276
@balajismaniam @derekwaynecarr One thing seems missing in doc and proposal is, for example when I set ` cpu: "2"`, what's the value should be in Pod level cgroup? We should skip container with cpu request >= 1 during ensuring pod qos.

[2017-09-27 21:45] pipejakob commented on #281
Looks like the proposal has moved to:

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/dynamic-kubelet-configuration.md

@mtaufen Want to update the link in the description?

[2017-09-27 21:51] mtaufen commented on #281
Done, thanks!

[2017-09-28 14:47] DirectXMan12 commented on #117
yep, I missed that when I went through last time.  Terribly sorry about that.  I've posted https://github.com/kubernetes/kubernetes.github.io/pull/5671 to fix that.

[2017-09-28 14:48] DirectXMan12 commented on #264
It was already in the HPA docs: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#appendix-horizontal-pod-autoscaler-status-conditions

[2017-09-28 21:54] kow3ns opened #484 "Workloads GA"
# Feature Description
- One-line feature description (can be used as a release note): GA promotion of the core workload API.
- Primary contact (assignee):  @kow3ns
- Responsible SIGs: @kubernetes/sig-apps-feature-requests
- Design proposal link (community repo): N/A
- Reviewer(s) - (for LGTM) :  @kargakis @janetkuo @foxish @enisoc @crimsonfaith91 @liyinan926
- Approver (likely from SIG/area to whi

[2017-09-29 21:31] luxas commented on #484
Shouldn't you just update the labels for https://github.com/kubernetes/features/issues/353?

[2017-09-29 22:09] luxas commented on #460
Do you have a plan how to address kubernetes/kubernetes#51965 which is a beta graduation requirement?
I hope we don't go ahead and add many of these into core as they should be ripped out anyway.

[2017-09-30 01:10] jrideout commented on #423
see https://github.com/kubernetes-incubator/kube-aws/pull/945

[2017-10-02 08:06] davidtnorth commented on #116
Hi all - it's been more than one further release - any news of this progressing beyond alpha?

[2017-10-02 14:00] deads2k commented on #460
We need more than one significant example to design a good external API.  We're going to move forward with https://github.com/kubernetes/community/pull/888 to gain that experience and then the next one will have enough examples to draw upon for a reasonable external API attempt.

[2017-10-02 14:24] mattfarina commented on #484
@luxas v1beta2 was just released. Why use the same issue to also track the item to GA?

[2017-10-02 14:34] mattfarina commented on #353
Now that workload controllers are in v1beta2, can this be closed?

[2017-10-02 14:38] luxas commented on #484
@mattfarina That is what basically all other features issues do. Also, it is good for seeing the continued lifecycle of the feature, with one single URL / a stable entry to track the progress.

[2017-10-02 15:10] luxas commented on #460
@deads2k So the proposal is:
Google KMS v1.8, Vault v1.9 => alpha, in-tree
Generic out-of-tree interface v1.10 => beta
  - In-tree providers (Google KMS, Vault) are removed from core and converted to implement the generic interface in their respective homes (code-wise).

That sounds good to me

[2017-10-02 16:12] mattfarina commented on #484
@luxas well, that makes sense then. Thanks for pointing out to me what I should have known.

[2017-10-02 16:48] kow3ns commented on #484
@luxas #353 tracks the work performed to create the v1beta2 group and move the workloads API there. That feature is complete. This is for tracking the GA promotion.

[2017-10-02 17:03] luxas commented on #484
As said, the rest of the issues track the full feature lifecycle from alpha -> beta -> GA in the same issue.
Why not rephrase https://github.com/kubernetes/features/issues/353 to be "Workload API" and just bump the status => stable & v1.9?

[2017-10-02 18:28] roberthbailey commented on #358
@justinsb - can you add a link here to the kops documentation for running on gce?

[2017-10-02 20:47] idvoretskyi commented on #484
@kow3ns @mattfarina as @luxas mentioned we are using the same feature tracking issue for all the stages of feature development.

Please, update https://github.com/kubernetes/features/issues/353 with the fresh information and labels, and we will close the current one.

[2017-10-02 20:59] idvoretskyi commented on #423
@tamalsaha

Is the design proposal publicly available?

[2017-10-02 21:00] idvoretskyi commented on #386
@mwielgus any plans to deliver this as beta for 1.9?

[2017-10-02 21:01] idvoretskyi commented on #385
@FengyunPan

Can you update these lines, please?

[2017-10-02 21:03] idvoretskyi commented on #383
@gmarek any plans to continue development of this item for 1.9?

[2017-10-02 21:04] idvoretskyi commented on #277
@verb still on track for 1.9?

[2017-10-02 21:05] idvoretskyi commented on #109
@davidopp @aveshagarwal @kubernetes/sig-scheduling-feature-requests any plans to continue the feature development for 1.9?

[2017-10-02 21:06] bgrant0607 commented on #383
FYI, the proposal recently merged:

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/events-redesign.md

[2017-10-02 21:08] idvoretskyi commented on #383
@bgrant0607 perfect. Updating the milestone.

[2017-10-03 07:33] gmarek commented on #383
PR is also ready for review (not started because of 1.8): kubernetes/kubernetes#49112

[2017-10-03 09:23] davidopp commented on #109
There will be development in the future, but I'm not sure about 1.9. @aveshagarwal are you planning to do more work on this for 1.9?

[2017-10-03 12:46] aveshagarwal commented on #109
@davidopp @idvoretskyi yes, there will be on-going development for adding new features/functionalities and regular releases. Here is the repo:  https://github.com/kubernetes-incubator/descheduler . After every kubernetes release, it will be rebased to latest kube release.

[2017-10-03 14:45] idvoretskyi commented on #109
@aveshagarwal @davidopp cool, I'll add this item for 1.9 features track.

[2017-10-04 01:02] michmike commented on #116
hi @davidtnorth , we are very close to releasing beta. we already got 3-4 PRs in right after the merge queues were opened after the 1.8 release. unfortunately we missed the boat for 1.8, but that means we will have more stability and more features with 1.9

[2017-10-04 03:43] tamalsaha commented on #423
@idvoretskyi , I don't have a design proposal.

[2017-10-04 07:13] idvoretskyi commented on #423
@tamalsaha it is required.

cc @kubernetes/sig-aws-misc

[2017-10-05 08:04] mabunixda commented on #116
Hi all, are there any updates available on kubernetes storage/volumes? Is there some progress going on?

[2017-10-07 11:02] verb commented on #277
@idvoretskyi yes

[2017-10-07 11:14] luxas commented on #484
Repurposed https://github.com/kubernetes/features/issues/353

[2017-10-07 11:14] #484 closed

[2017-10-07 11:16] luxas commented on #353
GA promotion plan from @kow3ns in #484:

Also updated the first comment to include the plan to move to GA in v1.9

[2017-10-10 11:05] php-coder commented on #213
Sounds like it fall into sig-auth area.

[2017-10-10 11:06] php-coder commented on #213
For the history: here is an implementation of the proposal -- https://github.com/kubernetes/kubernetes/pull/52077

[2017-10-10 11:41] idvoretskyi commented on #353
@luxas thanks

[2017-10-10 20:01] gnufied commented on #284
We partially implemented this in 1.8. we need to roll this feature over to 1.8. The feature design has already been merged.

[2017-10-10 20:46] smarterclayton commented on #365
Beta for 1.9

[2017-10-10 20:49] jdumars commented on #284
@gnufied did you mean "roll this feature over to 1.9"?

[2017-10-10 20:53] gnufied commented on #284
@jdumars I meant the feature needs to target 1.9.

[2017-10-11 01:49] mfacenet commented on #172
Hey @justinsb I'm interested in working on this with you as I see this as a major adoption hurdle (ETCD isn't as well understood as some of the other storage backend out there).  Let me know how I can help

[2017-10-11 13:21] croomes commented on #190
This was merged in 1.7 - closing feature issue.

[2017-10-11 13:21] #190 closed

[2017-10-11 16:45] luxas commented on #172
@lavalamp @bgrant0607 Please give your input on the current status of creating a generic storage API.
From what I can tell, that is not a goal for a couple of releases; but please give API machinery's official statement.

[2017-10-11 17:42] bgrant0607 commented on #172
This is not happening in the foreseeable future.

[2017-10-11 17:42] #172 closed

[2017-10-11 22:40] mindprince commented on #369
Design Doc: https://docs.google.com/document/d/13O4HNrB7QFpKQcLcJm28R-QBH3Xo0VmJ7w_Pkvmsf68/edit

[2017-10-11 22:42] mindprince commented on #369
Related cAdvisor issue https://github.com/google/cadvisor/issues/1436

[2017-10-12 15:53] mattmoyer commented on #130
What do we need to get bootstrap tokens to stable/GA in 1.9?

[2017-10-12 17:34] luxas commented on #281
Updated the labels here, @mtaufen please share the beta graduation requirements here for visibility

[2017-10-12 17:34] mtaufen commented on #281
Deprecated and experimental fields removed from the KubeletConfiguration type in https://github.com/kubernetes/kubernetes/pull/53088. Next steps: push the type to beta, chase down loose ends (testing, node authorizer, etc.) and push dynamic config to beta.

[2017-10-12 20:06] smarterclayton commented on #353
As raised in the linked issue we need to resolve whether daemonset provides at-most-1 pod semantics on nodes before we can promote it to GA.  So putting a notice on the feature that we need to reach a decision on the implications before this can proceed.

[2017-10-12 20:49] jbeda commented on #130
I'm ready to declare victory now.  Are there any outstanding issues?

On Thu, Oct 12, 2017 at 8:53 AM Matt Moyer <notifications@github.com> wrote:

[2017-10-13 00:17] kow3ns commented on #353
I'm not entirely sure this [needs to be decided prior to GA](https://github.com/kubernetes/community/pull/977#issuecomment-336315053), but if we think it does can we have a conversation on it.

[2017-10-13 16:45] luxas commented on #130
@jbeda Rate-limiting the public configmap :smile:

[2017-10-13 20:52] mattfarina commented on #353
@smarterclayton @kow3ns should this happen at SIG Apps or SIG Scheduling? Since the issue has to do with how scheduling happens I would want to hash this out in SIG Scheduling. If I know when it's going to be discussed there I'd attend that meeting.

[2017-10-14 19:31] kow3ns commented on #353
@mattfarina typically the controllers have been discussed in SIG Apps.

[2017-10-16 14:17] mattfarina commented on #353
@kow3ns If I understand it right, the issue that needs to be discussed is kubernetes/community#977. I've been following that issue. We were thinking that SIG Scheduling needs to be involved due to the scheduling nature of the issue. That's the reason for the suggested change this time. Are we wrong?

[2017-10-16 15:01] mattfarina commented on #353
@kow3ns I just read the discussion from the past several days. Things have moved since I last read an update. Since we have a SIG Apps meeting today we can see if there's time at the end to discuss if we have time. If not we can push it out to next week.

[2017-10-16 21:43] jbeda commented on #130
Things we can do to further lock this down:
1. Rate limit anonymous access (at all to k8s) per calling IP address
2. Limit anonymous access to RFC1918 networks by default.
3. Limit usage of bootstrap token to RFC1918 networks by default.

I thought I saw someplace that there was a global rate limit for anonymous access but I can't find it now.

2 and 3 sound good but often times folks will use a L

[2017-10-17 18:27] lavalamp commented on #172
Folks can do this by implementing an etcd interface based shim. Other than that, the SIG thinks that work spent on this would make it harder to accomplish many of our goals.

https://docs.google.com/document/d/1i0xzRFB-uGLmLYueLMBTpHrOot9ScFxpkkcVcZHVbyA/edit#

[2017-10-18 21:01] jessfraz commented on #135
ok I will update the proposal and start on this tomorrow if no one else will ;)

[2017-10-19 02:22] k82cn commented on #166
This feature will still be alpha in 1.9 as we discussed; but I'll add e2e test for it. We'll upgrade to beta (enabled by default) when there're enough user of this feature :).

[2017-10-19 05:23] davidopp commented on #166
@kubernetes/sig-node-feature-requests

[2017-10-19 18:56] luxas commented on #166
@k82cn @davidopp What's blocking this to graduate to beta?

[2017-10-19 19:57] davidopp commented on #166
@luxas I'd really like a few "real" Kubernetes users to try this out before we move it to Beta (hence enable by default). It's a dangerous change because in the worst case it can evict all the pods in the cluster. It also needs (more) e2e tests; looks like @k82cn offered to write some.

BTW there was also an unofficial agreement with sig-node that we would transfer ownership of this from sig-sched

[2017-10-20 08:24] luxas commented on #166
@davidopp How can we get these "real" users? Do we have an action plan for that?

[2017-10-20 10:09] gmarek commented on #166
Pretty much what David wrote. We need more data and more tests. Current NC unit tests are bad but they cover original behavior pretty well. We do have some basic unit tests for this behavior (and an e2e test for it: https://k8s-testgrid.appspot.com/google-gce#gce-taint-evict - which also shows that it is possible to write non-flaky e2e test:), but we need to noticeably increase the unit test cover

[2017-10-20 10:47] luxas commented on #376
This can now be closed. Thanks @dixudx for completing this task!

[2017-10-20 10:47] #376 closed

[2017-10-20 10:49] #188 closed

[2017-10-20 17:56] msau42 opened #490 "Topology Aware Volume Scheduling"
# Feature Description
- One-line feature description (can be used as a release note): Make the scheduler aware of a Pod's volume's topology constraints, such as zone or node.
- Primary contact (assignee): @msau42
- Responsible SIGs: @kubernetes/sig-storage-feature-requests @kubernetes/sig-scheduling-feature-requests
- Design proposal link (community repo):kubernetes/community#1054, kubernetes/comm

[2017-10-20 18:05] msau42 commented on #121
For 1.9, we are planning the following improvements:
* Raw block as a local volume source (kubernetes volume plugin and external static provisioner updates)
* External local static provisioner security hardening
* Volume topology aware scheduling will be tracked as a separate feature, as it is relevant beyond local storage: #490
* The feature will still remain alpha for now until we can get some s

[2017-10-22 10:44] rtnpro commented on #360
@justinsb Any update on it? I am ready to lend a helping hand :)

[2017-10-23 17:19] cmluciano commented on #367
this was merged for 1.8

[2017-10-23 17:19] cmluciano commented on #366
this was merged for 1.8

[2017-10-23 17:19] cmluciano commented on #265
merged as alpha in 1.8

[2017-10-23 18:14] timothysc commented on #378
Proposal is here -> https://github.com/kubernetes/community/pull/1241/files
Implementation (refreshing this week) -> https://github.com/kubernetes/kubernetes/pull/50984/files

[2017-10-23 19:18] idvoretskyi commented on #366
@cmluciano any progress is planned for 1.9?

[2017-10-23 19:51] cmluciano commented on #366
We don't want to move to GA for 1.9 until the features have been battle-tested more. I would expert GA for this feature and ipBlock within the 1.10 timeframe.

[2017-10-23 19:56] idvoretskyi commented on #366
Can you reopen the issue please, and simply bump it from 1.8 milestone?

I don't want us to lose the feature tracking for the future implementations.

On Oct 23, 2017 9:51 PM, "cmluciano" <notifications@github.com> wrote:

We don't want to move to GA for 1.9 until the features have been
battle-tested more. I would expert GA for this feature and ipBlock within
the 1.10 timeframe.

—
You are receivi

[2017-10-23 20:07] cmluciano commented on #367
reopening for tracking stable

[2017-10-23 21:18] jdumars commented on #370
FYI https://github.com/kubernetes/kubernetes/pull/54439

[2017-10-23 21:19] jdumars commented on #370
Docs will be needed, and provided by @Khenidak

[2017-10-23 22:04] saad-ali commented on #178
Yes! All info is up to date.

[2017-10-23 22:05] saad-ali commented on #178
An update on this: we've incorporated external-provisioners in to the CSI design!

[2017-10-23 22:52] seans3 opened #491 "Kubectl Diff"
# Feature Description
- One-line feature description (can be used as a release note): Users can run a
  kubectl command to view the difference between a locally declared object
  configuration and the current state of a live object.
- Primary contact (assignee): @apelisse
- Responsible SIGs: @kubernetes/sig-cli
- Design proposal link (community repo): https://goo.gl/UVsM6A
- KEP: https://github.co

[2017-10-23 23:20] caesarxuchao opened #492 "Admission webhook"
# Feature Description
- One-line feature description (can be used as a release note):

The admission webhook feature now supports both mutating webhook and validation (non-mutating) webhook. The dynamic registration API of webhook is promoted to v1beta1. The admission API is promoted to v1beta1.

- Primary contact (assignee):
@mbhlool

- Responsible SIGs:
/sig api-machinery

- Design proposal link

[2017-10-23 23:20] caesarxuchao commented on #492
/sig api-machinery

[2017-10-23 23:20] caesarxuchao commented on #492
/kind feature

[2017-10-23 23:21] caesarxuchao commented on #492
/milestone 1.9

[2017-10-23 23:38] seans3 commented on #491
/kind feature

[2017-10-23 23:38] seans3 commented on #491
/sig cli

[2017-10-24 09:26] idvoretskyi commented on #407
@praving55 @roberthbailey @kubernetes/sig-cluster-lifecycle-feature-requests and @kubernetes/sig-api-machinery-feature-requests does this feature still target 1.9?

[2017-10-24 09:27] idvoretskyi commented on #373
@roberthbailey @aaronlevy @diegs @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-apps-feature-requests does this feature target 1.9?

[2017-10-24 09:28] idvoretskyi commented on #372
@MrHohn @kubernetes/sig-network-feature-requests will this feature target 1.9?

[2017-10-24 10:58] m1093782566 opened #494 "Kube-proxy IPVS mode target to beta"
# Feature Description
- One-line feature description (can be used as a release note):
Kube-proxy IPVS mode target to beta
- Primary contact (assignee):
@m1093782566
- Responsible SIGs:
SIG Network
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:

[2017-10-24 10:59] m1093782566 commented on #494
/sig network

[2017-10-24 11:01] m1093782566 commented on #494
As we discussed in SIG Network mailing list, the primary scope of IPVS beta is passing all existing e2e tests for IPVS in upstream CI.

[2017-10-24 11:03] m1093782566 commented on #494
/cc @kubernetes/sig-network-feature-requests

@quinton-hoole @kevin-wangzefeng @haibinxie

[2017-10-24 11:18] kevin-wangzefeng commented on #494
adding to 1.9 milestone as it's discussed on SIG meeting.

[2017-10-24 12:04] verb opened #495 "Configurable Pod Process Namespace Sharing"
# Feature Description
- One-line feature description (can be used as a release note): Users can configure containers within a pod to share a common PID namespace by setting an option in the PodSpec.
- Primary contact (assignee): @verb
- Responsible SIGs: sig-node
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-node/20190920-pod-pid-namespace.md
- Link to e2e and/or unit

[2017-10-24 12:07] verb commented on #277
/remove-sig api-machinery
/sig auth

[2017-10-24 12:07] verb commented on #495
/sig node

[2017-10-24 12:12] deads2k commented on #492
Let's get this in the community repo.

[2017-10-24 12:46] ant31 commented on #373
@idvoretskyi  the feature has been put on hold and won't target the 1.9 release.

[2017-10-24 13:51] govint commented on #178
@saad-ali can you point to the CSI design that has the external provisioners incorporated. Is it here https://github.com/kubernetes/community/pull/1258?

[2017-10-24 15:10] cmluciano commented on #494
/assign @m1093782566

[2017-10-24 15:20] liggitt commented on #2
released as v1 and stable in 1.8, closing

[2017-10-24 15:20] #2 closed

[2017-10-24 16:12] gnufied opened #496 "Detailed storage metrics of internal state"
# Feature Description
- Expose detailed metrics of internal state of various storage components
- Primary contact (assignee): Hemant Kumar (@gnufied)
- Responsible SIGs:  #sig-storage
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1289
- Reviewer(s) - @saad-ali @childsb
- Approver (likely from SIG/area to which feature belongs): #sig-storage
- Feature target

[2017-10-24 16:13] gnufied commented on #496
https://docs.google.com/document/d/1Fh0T60T_y888LsRwC51CQHO75b2IZ3A34ZQS71s_F0g/edit?usp=sharing is current list

[2017-10-24 16:28] erictune commented on #492
Ack, wil do.

On Tue, Oct 24, 2017 at 5:12 AM, David Eads <notifications@github.com>
wrote:

[2017-10-24 17:01] MrHohn commented on #372
@idvoretskyi Thanks for checking. No, this feature is not targeting 1.9.

[2017-10-24 17:31] idvoretskyi commented on #496
@gnufied can you fill the "feature target" section please?

[2017-10-24 17:33] idvoretskyi commented on #494
@cmluciano @m1093782566 what's the difference between https://github.com/kubernetes/features/issues/265 and the current one?

[2017-10-24 17:35] idvoretskyi commented on #378
@timothysc still alpha for 1.9?

[2017-10-24 17:37] haibinxie commented on #494
@idvoretskyi we release alpha version ipvs in 1.8. this is for beta version which includes a list of improvements.  more details can be found at https://github.com/kubernetes/kubernetes/issues/51602

[2017-10-24 17:51] luxas commented on #494
We should close this and keep the progress tracker in https://github.com/kubernetes/features/issues/265 and just update the status...

[2017-10-24 17:53] roberthbailey commented on #407
It looks like the scheduler is moving to component configuration for 1.9 but not the other control plane components. So the overall feature doesn't target 1.9 but we are making some progress towards it.

[2017-10-24 18:19] roberthbailey commented on #378
Yes.

[2017-10-24 18:25] luxas commented on #178
@saad-ali Will this work be in v1.9? I assume as alpha as the initial step.

[2017-10-24 18:34] cmluciano commented on #494
I like idea of less issues, but I concerned about individuals getting lost in a conversation with every release. I will post to the SIG-PM mailing list with my thoughts.

[2017-10-24 19:08] aglitke commented on #496
Do we want to add a metric for the number of PVs which are attached to unresponsive hosts?  This situation indicates bad cluster health which currently requires manual intervention to resolve.

[2017-10-24 19:19] erinboyd commented on #351
Updated milestone above as well!

[2017-10-24 19:20] erinboyd commented on #351
@erictune Not sure how I missed your comments from August (cough cough), my apologies. Thank you for the insight and we will find the appropriate expertise then for the database related questions. 👍

[2017-10-24 21:38] caseydavenport commented on #494
Yes I agree - makes it much easier for people interested in the feature to track its progress through the various stages.

[2017-10-25 14:31] wasylkowski commented on #386
Current status is that this is targeted for alpha in 1.9.

[2017-10-26 08:50] sttts commented on #95
@colemickens @deads2k @nikhita @enisoc I have added a section for 1.9.

[2017-10-26 15:48] vkamra opened #497 "Display PVC capacity usage using kubectl"
# Feature Description
- One-line feature description (can be used as a release note): Display PVC capacity usage using kubectl top
- Primary contact (assignee): @vkamra
- Responsible SIGs: @kubernetes/sig-storage-feature-requests @kubernetes/sig-instrumentation-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code

[2017-10-26 16:25] gnufied commented on #496
@aglitke that sounds like a good idea, we will add it to the google doc.

[2017-10-26 17:21] pospispa opened #498 "StorageObjectInUseProtection (was Persistent Volume Claim Protection)"
# Feature Description
- One-line feature description (can be used as a release note): Prevent deletion of Storage Object that is In active Use (was Prevent deletion of Persistent Volume Claims that are used by a pod in 1.9)
- Primary contact (assignee): Pavel Pospisil (@pospispa)
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): https://github.co

[2017-10-26 17:21] erictune commented on #492
Please use area/admission-control label for k/k issues/pulls  Applied to a few dozen existing ones.  @ae6rt

[2017-10-26 17:38] pospispa commented on #498
/assign

[2017-10-26 17:43] pospispa commented on #498
This feature aims to fix the bug: https://github.com/kubernetes/kubernetes/issues/45143

[2017-10-26 17:47] pospispa opened #499 "StorageObjectInUseProtection (was Persistent Volume Protection)"
# Feature Description
- One-line feature description (can be used as a release note): Prevent deletion of Storage Object that is In active Use (was Prevent deletion of Persistent Volume that is bound to a Persistent Volume Claim)
- Primary contact (assignee): Pavel Pospisil (@pospispa)
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo):
- Reviewer(

[2017-10-26 17:47] pospispa commented on #499
/assign

[2017-10-26 17:48] pospispa commented on #499
This feature aims to fix the bug: https://github.com/kubernetes/kubernetes/issues/33355

[2017-10-26 18:54] jbw976 opened #500 "Support additional default flexvolume plugin directories"
# Feature Description
- One-line feature description (can be used as a release note): Support additional default flexvolume plugin directories
- Primary contact (assignee): Jared Watts (@jbw976)
- Responsible SIGs: /sig-storage, @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): TBD
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area

[2017-10-26 18:56] jbw976 commented on #500
**Initial** design proposal that was presented to SIG storage can be found here: https://docs.google.com/document/d/1U1oUgZmcGWrLMs4QlmPfLOElyI6D-Gp_6a-KlWRMAjs/edit

A design proposal in the community repo will be coming soon.

[2017-10-27 10:11] fgrzadkowski commented on #497
Is there a design doc for this? The idea for kubectl top was to expose metrics available in master metric API. How would it work for PVCs?

I think this feature has to be approved by someone from @kubernetes/sig-instrumentation-feature-requests.

[2017-10-27 17:11] rohitjogvmw opened #501 "Supporting multiple vCenters in vSphere Cloud Provider"
# Feature Description
- Supporting multiple vCenters in vSphere Cloud Provider
- Primary contact (assignee): Sandeep Pissay, Rohit Jog
- Responsible SIGs: sig-storage
- Design proposal link (community repo): https://github.com/vmware/kubernetes/issues/255
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple com

[2017-10-27 17:21] gnufied commented on #496
@idvoretskyi since these are basically metrics they go to GA.

[2017-10-27 17:34] luxas commented on #95
@sttts Improved beta version in v1.9, right?

[2017-10-27 17:40] deads2k opened #502 "ClusterRole Aggregation"
# Feature Description
- Add a way for API extenders to add permissions to existing roles
- Primary contact (assignee):  @deads2k
- Responsible SIGs: @kubernetes/sig-auth-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1219
- Reviewer(s) - @liggitt @ericchiang
- Approver (likely from SIG/area to which feature belongs): @liggitt
- Feature target

[2017-10-27 17:57] sttts commented on #95
@luxas bugfixes of course. But I don't think we have to list that here.

[2017-10-27 18:34] luxas commented on #95
@sttts I was thinking about the CRD validation... is that covered in this features issue and will graduate to beta in v1.9 or?

[2017-10-27 18:36] kargakis commented on #95
@luxas from the initial post
[code]

[2017-10-27 18:50] luxas commented on #415
Targeting beta (and probably on-by-default) in v1.9

[2017-10-27 18:51] luxas commented on #373
I'll close this in the meantime.

[2017-10-27 18:51] #373 closed

[2017-10-27 18:52] luxas commented on #357
Targeting alpha in v1.9

[2017-10-27 18:53] luxas commented on #356
This will probably stay in alpha in v1.9 as it depends somewhat on the Cluster API work and different ComponentConfig implements from other SIGs

[2017-10-27 18:55] luxas commented on #296
A slightly improved version of `kubeadm upgrade` will ship in v1.9, but still beta.

[2017-10-27 18:56] luxas commented on #115
@roberthbailey @ncdc @sttts I think we should open targeted issues for the different components (i.e. filing an issue for graduating the kube-proxy ComponentConfig to GA, separately from the scheduler)

@kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-api-machinery-feature-requests WDYT?

[2017-10-27 18:57] luxas commented on #88
The preliminary target here is beta in v1.9, let's see if we can make that happen.
cc @jagosan @wlan0

[2017-10-27 18:58] luxas commented on #48
@roberthbailey should we close this in favor for the more specialized #357?
This seems more GCE-specific...

[2017-10-27 19:05] luxas commented on #267
@jcbsmpsn Is this on track shipping to beta in v1.9? Have we found a solution to the problem?

[2017-10-27 19:11] soltysh commented on #19
@idvoretskyi since there's one feature ([Ability to start CronJobs manually](https://github.com/kubernetes/kubernetes/issues/47538)) we'll be trying to get into 1.9 release related to CronJobs, I'll add 1.9 milstone here, is that ok? I don't want to create another issue just to track that single item.

[2017-10-27 19:12] soltysh commented on #19
I'll probably try to update the initial description so that it reflects changes introduced (planned as well) for CronJob related features.

[2017-10-27 19:16] luxas commented on #95
Oh, thanks @kargakis, didn't look there :facepalm: :smile:

[2017-10-27 19:23] roberthbailey commented on #115
That makes sense to me. Each sub-issue can be owned by the SIG that is actually doing the migration.

It's too bad there isn't a way to explicitly mark one github issue as blocking another. We'll have to do the dependency analysis manually and close this umbrella issue once each component that we care about has migrated over.

[2017-10-27 19:27] roberthbailey commented on #48
I agree. This feature was to track adding HA support to kube-up.sh. That is done, but since kube-up is deprecated we aren't planning to graduate the implementation beyond it's current support level.

[2017-10-27 19:27] #48 closed

[2017-10-27 19:41] luxas commented on #494
@cmluciano This is the template we're using for all other features issues anyway, so closing this one.
If we want to change the process generally, that's an other thing.

[2017-10-27 19:41] #494 closed

[2017-10-27 19:42] luxas commented on #265
Reopening this to target beta in v1.9: https://github.com/kubernetes/features/issues/494

[2017-10-27 19:46] caseydavenport commented on #265
Looking to move this out of alpha and into beta for v1.9.

Tracking the work that needs to be done here: https://github.com/kubernetes/kubernetes/issues/51602

[2017-10-27 20:07] smarterclayton commented on #365
Goals for 1.9 - expose in CLI for get.go
Goals for 1.10 - expose for all CLI commands, GA

[2017-10-27 20:08] smarterclayton commented on #119
This is stable in 1.6, ongoing work for DaemonSets is being tracked in #353

[2017-10-27 20:08] #119 closed

[2017-10-27 20:09] smarterclayton commented on #263
For 1.9, server side table printing to alpha with client side support so that aggregators can expose CLI output
For 1.10, server side table printing to beta and enabled in kubectl by default.

[2017-10-27 20:23] SandeepPissay opened #503 "Backup/restore for persistent volumes"
# Feature Description
- Design generic kubernetes APIs to perform backup and restore of persistent volumes
- Primary contact (assignee): @SandeepPissay
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Proposal link (community repo): https://docs.google.com/document/d/1Xkh7AzYQoVnFowW1pBBC6yLWLXQGmsqWr1L_5bSSh34/edit#heading=h.ro9oagw81y6h
- Reviewer(s) - (for LGTM) recommend having 2

[2017-10-27 20:53] luxas commented on #43
@mikedanese @kubernetes/sig-auth-feature-requests are you planning to graduate this to GA soon?

[2017-10-27 22:45] MrHohn opened #504 "Support configurable pod resolv.conf"
# Feature Description
- One-line feature description (can be used as a release note): Support configurable pod resolv.conf.
- Primary contact (assignee): @mrhohn
- Responsible SIGs: sig-network
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1276
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review

[2017-10-27 22:45] MrHohn commented on #504
/sig network

[2017-10-27 22:47] MrHohn commented on #504
/assign

[2017-10-30 13:09] fabiand commented on #503
Please clarify if this will cover block volumes as well.

[2017-10-30 18:22] SandeepPissay commented on #503
Yes, this will address volumes on block storage, nfs as well.

[2017-10-30 23:17] idvoretskyi commented on #95
@deads2k, @enisoc no plans for "stable" in 1.9, right?

[2017-10-30 23:54] enisoc commented on #95
@idvoretskyi Right.

[2017-10-31 15:58] ncdc commented on #503
Is this different from #177?

[2017-10-31 17:03] jberkus opened #505 "Milestone Tag is inconsistent with kubernetes/kubernetes"
In this repo, we are using milestone tags formatted as "1.9".  However, in kubernetes/kubernetes, milestone tags are formatted "v1.9".  This breaks cross-repo searches.  We should fix to match kubernetes/kubernetes.

[2017-10-31 19:13] enisoc commented on #505
I renamed the milestones here to add the "v". Good catch!

[2017-10-31 19:13] #505 closed

[2017-10-31 19:25] SandeepPissay commented on #503
Yes, the usecases this feature addresses is different. I'll have a writeup soon and update it here.

[2017-10-31 22:02] jbw976 commented on #432
What are the plans for getting this mount propagation feature to beta status in 1.9?  Will it be available without a feature gate in 1.9?  The [Rook](https://github.com/rook/rook) team would love to start using this feature by default as soon as possible.

I don't see it tracked in the SIG Storage 1.9 planning sheet, should it be tracked there? https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDl

[2017-11-01 15:21] mikedanese opened #507 "Support short circuit deny from authorizers"
# Feature Description
- One-line feature description (can be used as a release note): Support short circuit deny from authorizers
- Primary contact (assignee):mikedanese
- Responsible SIGs: auth
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
-

[2017-11-01 19:16] erickt commented on #423
FYI, @micahhausler has a PR to implement support NLBs as a service load balancer: https://github.com/kubernetes/kubernetes/pull/53400

[2017-11-01 20:03] danehans opened #508 "IPv6 support added"
# Feature Description
- One-line feature description (can be used as a release note): Adds support for IPv6, allowing full Kubernetes capabilities using IPv6 networking instead of IPv4 networking.
- Primary contact (assignee): @danehans
- Responsible SIGs: sig-network
- Kubernetes Enhancement Proposal PR: #1139
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area O

[2017-11-01 21:05] micahhausler commented on #423
In addition to the cloudprovider portion to create the NLB/security rules, there will need to be additional work on the kube-proxy to correctly get the packet to the individual pod with the remote IP intact.

Also, there is an issue tracking NLB support on kubernetes/kubernetes#52173

[2017-11-02 00:41] andyxning commented on #363
@jingxu97 @vishh I am currently work on adding disk io quota to Kubernetes and adding disk io metrics to heapster. What is the currently status about this.

BTW, i will update [heapster #1450](https://github.com/kubernetes/heapster/pull/1450) ASAP.

[2017-11-02 00:42] andyxning commented on #245
/subscribe

[2017-11-02 14:36] justinsb commented on #423
Great progress - thanks @micahhausler!  For IP preservation, AIUI NLB doesn't support proxy protocol, which was the go-to trick previously.

The good news is that this is much more similar to GCE's load balancer, as I understand it.  So we should be able to apply the same approach as is used on GCE.  @thockin any pointers for us?

[2017-11-02 14:38] micahhausler commented on #423
Two additional features that could be later added for NLB are:
- Supporting the Elastic IP addresses for NLB
- Supporting advanced health checks for NLB

[2017-11-03 13:49] Mikulas commented on #423
It seems NLB does not always pass the original address though:

Will NLB support in k8s be limited to instances that can be registered by instance ID? Those seem to be types that support IPv6, explicitly excluding m3

[2017-11-03 13:52] micahhausler commented on #423
I'll be giving a demo of what I've currently got working with NLB at the [sig-aws](https://github.com/kubernetes/community/tree/master/sig-aws) meeting later today, I'll write up more after the meeting.

[2017-11-03 15:24] aledbf commented on #423
@micahhausler it will be recorded?

[2017-11-03 15:27] micahhausler commented on #423
Yes, they do record them, but I don't know where links to recordings are. @justinsb probably knows.

[2017-11-04 22:01] luxas commented on #508
@danehans Thanks for filing this feature issue!
cc @idvoretskyi FYI

[2017-11-06 19:49] danehans commented on #508
xref: https://github.com/kubernetes/kubernetes/issues/1443

[2017-11-06 21:08] ieugen commented on #360
Hi,

First of all I think that having automatic support for bare metal provisioning is an awesome goal.
I have some questions that might spark a discussion around what features are in scope and what not.

Are you targeting a full kubernetes cluster install on bare-metal?
Could kops support a use case of adding a bare-metal worker node to an existing kubernetes AWS cluster?
I believe that this migh

[2017-11-09 00:17] kargakis commented on #427
Not sure this was meant to close

/reopen

[2017-11-09 00:55] kargakis commented on #427
@spxtr any idea how we can stop closing this because of fork cross-linking?

[2017-11-09 00:58] spxtr commented on #427
It's a GitHub ~~bug~~ feature. I asked them to change the behavior to stop closing when people update their forks, but there response was "if you don't want it to happen then stop saying 'fixes #soandso' in your commit messages."

[2017-11-09 01:01] kargakis commented on #427
How about a tool that validates commit messages?

[2017-11-09 01:01] kargakis commented on #427
Let's move the discussion in test-infra. I will open an issue to discuss.

[2017-11-09 01:02] spxtr commented on #427
It's possible. It only causes a problem if you say "fixes someorg/repo#number" rather than "fixes #number", because in the latter case it tries to close the issue in your fork where it doesn't exist.

[2017-11-09 04:50] kvissa commented on #284
Checking to see if this feature is indeed being targeted for v.1.9.0?

[2017-11-09 16:51] mwielgus commented on #386
Fixing milestone per wasylkowski@ comment.

[2017-11-09 18:59] kokhang commented on #178
@luxas @saad-ali does "alpha" mean that csi would need to be enabled via a feature gate like all the other alpha features?

Also the CSI plugin depends on other features, which are currently in alpha, like mount-propagation and perhaps containerized-mount? Will these be promoted to beta? or does this mean that in order to consume the CSI plugin, these features have to be enabled via the feature ga

[2017-11-09 20:00] ConnorDoyle commented on #76
As mentioned above, this feature was deprecated in v1.8.
The PR to remove them in v1.9 is here: https://github.com/kubernetes/kubernetes/pull/55103

[2017-11-09 22:13] mtaylor769 commented on #360
I have spent the last two to three weeks trying to get elasticsearch to run on a kubernetes cluster and have lots of R&D to offer with regards to LXD, conjure-up vs. kubeadm, namespace management, and the mish-mosh of intertwined commands between kubectl, docker and juju to get things *almost* running (everything says it's healthy, but can't actually get a response from ES). Let me know if you're

[2017-11-10 06:26] ConnorDoyle commented on #375
We are targeting v1.9 to graduate this feature from alpha to beta.

[2017-11-10 11:52] ieugen commented on #360
@mtaylor769 : If your message was for me, I managed to deploy single cluster node with kubeadm and it worked very well. The cluster works ok but I have some issues with networking. I'm trying to secure the cluster by making services listen on localhost by default.

Seems like I managed. I do have some unknowns in that area.
Regarding bare-metal, I believe kubeadm is muck more helpful at this momen

[2017-11-10 15:50] mtaylor769 commented on #360
@ieugen It was a general question, but your answer has shed some light on some of what I've been experiencing. I was trying kubeadm at first but wasn't able to get everything to play nice, so I will try that avenue again. Thanks.

[2017-11-10 16:37] luxas commented on #360
@ieugen @mtaylor769 Just FYI, this repo is meant to be low-volume, and email notifications are expected to be feature status updates, not general discussion or support. That discussion should move to other forums, but no worries anyway.

Thanks for your interest in kubeadm and kops!

[2017-11-13 13:43] idvoretskyi commented on #423
@justinsb @kubernetes/sig-aws-misc can you please add the design proposal link to the feature description?

[2017-11-13 13:47] idvoretskyi commented on #383
@gmarek can you confirm that it's alpha for 1.9?

[2017-11-13 13:52] idvoretskyi commented on #369
@mindprince do you have a design doc somewhere on GitHub?

[2017-11-13 14:23] idvoretskyi commented on #261
@quinton-hoole it it still targeting alpha for 1.9?

[2017-11-13 14:35] idvoretskyi commented on #192
@vishh is it still alpha for 1.9?

Also, can you update the features template to follow the new format? https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md

[2017-11-13 15:08] idvoretskyi commented on #130
@luxas @jbeda stable for 1.9, right?

[2017-11-13 15:15] idvoretskyi commented on #116
@michmike please, update the feature description with the new template https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md

[2017-11-13 15:16] idvoretskyi commented on #116
@michmike also, based on the previous statements I've updated the stage label to beta in 1.9. Can you confirm?

[2017-11-13 15:20] idvoretskyi commented on #19
@soltysh any progress with the feature description update? :)

Please, use the new template - https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md

[2017-11-13 15:22] idvoretskyi commented on #11
@roberthbailey @luxas is it still beta for 1.9?

Also, please update the feature description using https://github.com/kubernetes/features/blob/master/ISSUE_TEMPLATE.md

[2017-11-13 16:14] idvoretskyi commented on #503
@SandeepPissay any updates?

[2017-11-13 16:17] idvoretskyi commented on #501
@rohitjogvmw why the design proposal is not in kubernetes/community repo now?

Can someone from @kubernetes/sig-storage-feature-requests approve to have this feature for 1.9?

[2017-11-13 16:21] idvoretskyi commented on #497
@vkamra any updates about the feature status?

[2017-11-13 16:22] idvoretskyi commented on #496
@gnufied based on the conversation above, marking as "stable". Can you confirm?

[2017-11-13 18:53] SandeepPissay commented on #503
Here's the writeup on the proposal - https://docs.google.com/document/d/1Xkh7AzYQoVnFowW1pBBC6yLWLXQGmsqWr1L_5bSSh34/edit#heading=h.ro9oagw81y6h

I presented this to sig-storage community on 11/9. The feedback was to not add any data path APIs to kubernetes, explore creating a separate component that does backup/restore using CRDs. Once more customers use this and it makes sense for it to be part

[2017-11-13 19:05] rohitjogvmw commented on #501
Hi @idvoretskyi,

Since the changes required are totally in vsphere cloud provider and needs deep knowledge of vsphere stack, we thought of keeping it in vmware repo.

[2017-11-13 19:42] saad-ali commented on #501
@idvoretskyi @rohitjogvmw Since this is an entirely VMWare feature, it does not need to be tracked here.

[2017-11-13 19:44] idvoretskyi commented on #501
@saad-ali thank you

[2017-11-13 19:44] #501 closed

[2017-11-13 20:10] mindprince commented on #369
@idvoretskyi No. It's only on the above Google Doc (which is shared with kubernetes-dev@)

[2017-11-13 20:11] mindprince commented on #192
It is still alpha for 1.9.

[2017-11-13 20:43] gnufied commented on #496
@idvoretskyi yes that is correct.

[2017-11-13 21:33] quinton-hoole commented on #261
No, not 1.9.  Milestone TBD.  I've removed the milestone on this issue, until that's been decided.

[2017-11-13 22:10] vkamra commented on #497
@idvoretskyi @fgrzadkowski - [doc](https://github.com/kubernetes/community/pull/855/files) has the proposal.

PVC metrics are now available in the kubelet summary API (added in 1.8).  @verult is working on adding these into the metrics exposed by heapster.

This would allow us to implement `kubetl top pvc` to display PVC resource usage in the cluster.

[2017-11-13 22:11] vkamra commented on #497
We discussed status in storage-sig - the heapster changes are being worked on but kubectl changes (not designed/discussed yet) are not currently planned for 1.9. @verult @jingxu97 - can you also update?

[2017-11-13 23:32] roberthbailey commented on #11
kubeadm will still be beta in 1.9.

[2017-11-14 08:20] brancz commented on #497
I would very much prefer if we can not keep extending heapster, and instead maybe use the metrics-server for these purposes.

Also somewhat relevant: https://github.com/kubernetes/kubernetes/issues/55489

[2017-11-14 09:51] adelton commented on #127
@derekwaynecarr, the proposal https://github.com/kubernetes/kubernetes/pull/34569 was closed by bot due to inactivity.

@pweil-, in https://github.com/kubernetes/kubernetes/pull/34569#issuecomment-273531120 you've proposed the approach https://github.com/pweil-/kubernetes/commit/16f29ebb076dfa3c44c7c4669d55fe21c206e149 which changes the group of `/var/lib/kubelet/pods` to the remapped root group.

[2017-11-14 10:11] adelton commented on #127
@pweil-, I also wonder if similar to docker's `/var/lib/docker/<uid>.<gid>` approach when `--userns-remap` is used, it might make sense to use `/var/lib/kubelet/pods-<uid>.<gid>` and just chown/chgroup everything in those subdirectories to the remapped `<uid>.<gid>`. Why did you opt for just the chgrp and not the full chown?

[2017-11-14 11:02] fgrzadkowski commented on #497
@vkamra This should NOT be added to heapster. As @brancz suggested it should be added to master metric API and metric server if needed. We need to move kubectl to using it anyway. It seems that the proposal hasn't been approved. I'd suggest to wait with the implementation for the approval. Also, as suggested earlier - please include @kubernetes/sig-instrumentation-feature-requests in this discussi

[2017-11-14 14:39] michmike commented on #116
yes, we will beta in v1.9. thanks @idvoretskyi

[2017-11-14 14:49] adelton commented on #127
Thanks @pweil-.

When you say transparent, you mean that nothing should be needed to be added to code or to configuration on Kubernetes' side to allow running under docker with `userns-remap`?

As for the `fsgroup` strategy, do you mean https://kubernetes.io/docs/concepts/policy/pod-security-policy/#fsgroup or some generic methodology within Kubernetes?

I have now filed https://github.com/kuberne

[2017-11-14 15:00] pweil- commented on #127
that would be ideal.  Whether that is feasible (or more likely, feasible in an acceptable time frame) is another question :smile:

Yes

:+1: subscribed

[2017-11-14 15:57] adelton commented on #127
Ideally, the pod would specify how many distinct uids/gids it would require / list of uids it wants to see inside of the containers, and docker or different container runtime would setup the user namespace accordingly. But unless docker also changes ownership of the volumes mounted to the containers, Kubernetes will have to do that as part of the setup.

[2017-11-14 16:01] luxas commented on #130
The official label is beta in v1.9 (but it's kinda stable :smile:)

[2017-11-14 18:18] vkamra commented on #497
@brancz @fgrzadkowski - that makes sense to me.

Going to let @verult and @jingxu97 comment here as well because I believe they've had more recent discussions about this with members from the instrumentation sig and I might have mis-spoke about extending heapster.

Also added sig-instrumentation as approver.

[2017-11-14 19:41] verult commented on #497
Yes we synced up with @DirectXMan12 recently and the consensus is that anything `kubectl top` consumes should go into the metric-server.

I'm still working on adding logic in Heapster because it's required to expose PVCStats to StackDriver  (because metric-server doesn't support sinks like Heapster does).

[2017-11-14 23:18] erkules commented on #369
@mindprince Some people would love to read the doc even not being part of  kubernetes-dev@

[2017-11-15 00:42] rji commented on #32
Greetings @ericchiang, et al.,

At Nike, we have functionality similar to this proposal that currently lives in an internal fork of kubectl. We are now in a position to contribute to this feature and upstream some of the work we've done.

What would your desired next steps be for us to contribute to this feature and upstream the code we have?

[2017-11-15 01:18] ericchiang commented on #32
@rji discussing a proposal through sig-auth would be a good place to start.

For those following this issue, there's a PR opened recently to implement some of this https://github.com/kubernetes/kubernetes/pull/55514

[2017-11-15 03:21] tamalsaha commented on #32
cc: @easeway

[2017-11-15 15:17] michmike opened #512 "Support for Windows Server Containers"
# Feature Description
- One-line feature description (can be used as a release note): Support for Windows Server Containers
- Primary contact (assignee): @michmike
- Responsible SIGs: sig-windows
- Design proposal link (community repo): TBD
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferre

[2017-11-15 15:18] michmike commented on #116
@idvoretskyi https://github.com/kubernetes/features/issues/512

[2017-11-15 17:08] jdumars commented on #370
This is on hold indefinitely.

[2017-11-15 17:09] idvoretskyi commented on #370
@jdumars thanks for updating

[2017-11-15 22:20] luxas commented on #512
How is this different from https://github.com/kubernetes/features/issues/116?

[2017-11-16 00:35] saad-ali commented on #178
Yes. Now merged to https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md

Yes and yes. It will be in v1.9 as alpha.

Correct, this feature will need to be explicitly enabled via feature gate. And yes, the dependent features will also have to be explicitly enabled. Mount propagation is not yet being moved to beta, maybe next quarter

[2017-11-16 07:31] feiskyer opened #513 "Add support for Azure Virtual Machine Scale Sets"
# Feature Description

- One-line feature description (can be used as a release note): Add support for Azure Virtual Machine Scale Sets (VMSS).
- Primary contact (assignee): @feiskyer
- Responsible SIGs: sig-azure
- Design proposal link (community repo): https://github.com/kubernetes/kubernetes/issues/43287
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNER

[2017-11-16 07:32] feiskyer opened #514 "Add Azure support to cluster-autoscaler"
# Feature Description
- One-line feature description (can be used as a release note): Add Azure support to cluster-autoscaler.
- Primary contact (assignee): @feiskyer
- Responsible SIGs: sig-autoscaling
- Design proposal link (community repo): https://github.com/kubernetes/autoscaler/issues/449
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agree

[2017-11-16 15:24] michmike commented on #512
@luxas my bad. i thought i was supposed to create a new issue versus updating the existing one. closing this item now.

[2017-11-16 15:24] #512 closed

[2017-11-16 23:04] derekwaynecarr commented on #369
@mindprince @vishh -- the design proposal should be a pr in community repo once it stabilized.  can we please do that?

[2017-11-17 01:39] mindprince commented on #369
I will convert the doc to markdown and send a PR.

[2017-11-17 19:17] saad-ali commented on #177
This did not make it in to 1.9. Punting to 1.10

[2017-11-17 19:34] saad-ali commented on #498
PR implementing this feature: https://github.com/kubernetes/kubernetes/pull/55824/files

[2017-11-17 19:50] saad-ali commented on #499
This did not make it in to 1.9, punting to next release

[2017-11-17 20:06] saad-ali commented on #284
This feature is not going to beta in 1.9. @gnufied will provide more details.

[2017-11-17 20:08] gnufied commented on #284
Yes this feature is on track for 1.9.   We are implementing additional features that were missing from 1.8, namely file system resizing support but we are still keeping this Alpha.

Because of lack of file system resizing, we could not support resizing volume plugins like EBS, GCE, Cinder etc in 1.8.  In 1.9 -  we are adding file system resizing support in 1.9 and supporting more volume types.

Re

[2017-11-17 20:10] saad-ali commented on #503
This is not going to alpha in 1.9. We can revisit if there is anything here to be done in k8s in subsequent release

[2017-11-17 20:15] saad-ali commented on #500
I don't believe this made it into 1.9. Removing from milestone. Please correct me if I am wrong.

[2017-11-20 23:00] mindprince commented on #369
@erkules @derekwaynecarr https://github.com/kubernetes/community/pull/1420

[2017-11-21 02:45] NickrenREN commented on #284
And also, this one is for RBD: https://github.com/kubernetes/kubernetes/pull/52767

[2017-11-21 19:12] smarterclayton opened #515 "kubectl get and describe should work well with extensions"
# Feature Description
- One-line feature description (can be used as a release note): kubectl get should get columns back from the server, not the client, to allow extensions to work cleanly
- Primary contact (assignee): smarterclayton
- Responsible SIGs: sig-cli, sig-api-machinery
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-prop

[2017-11-22 21:20] zacharysarah commented on #19
@soltysh :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:20] zacharysarah commented on #507
@mikedanese :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:20] zacharysarah commented on #386
@mwielgus :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:22] zacharysarah commented on #288
@luxas :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:22] zacharysarah commented on #356
@luxas :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:22] zacharysarah commented on #357
@luxas :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:22] zacharysarah commented on #378
@calebamiles :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:23] zacharysarah commented on #11
@jbeda :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:23] zacharysarah commented on #88
@errordeveloper :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:23] zacharysarah commented on #296
@lukemarsden :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:23] zacharysarah commented on #415
@luxas :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:23] zacharysarah commented on #130
@jbeda :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:25] zacharysarah commented on #116
@michmike :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:25] zacharysarah commented on #369
@vishh :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:25] zacharysarah commented on #265
@quinton-hoole :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:25] zacharysarah commented on #508
@danehans :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:25] zacharysarah commented on #423
@tamalsaha :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:26] zacharysarah commented on #495
@verb :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:26] zacharysarah commented on #192
@vishh :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:26] zacharysarah commented on #383
@gmarek :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:26] zacharysarah commented on #496
@gnufied :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:26] zacharysarah commented on #284
@gnufied :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:27] zacharysarah commented on #278
@jsafrane :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:27] zacharysarah commented on #498
@pospispa :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:27] zacharysarah commented on #121
@smarterclayton :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:27] zacharysarah commented on #178
@saad-ali :wave: Please indicate in the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
 whether this feature needs documentation. If yes, please [open a PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:30] zacharysarah commented on #492
@caesarxuchao :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:30] zacharysarah commented on #365
@smarterclayton :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:30] zacharysarah commented on #95
@deads2k :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:30] zacharysarah commented on #353
@kow3ns :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:30] zacharysarah commented on #502
@deads2k :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:30] zacharysarah commented on #386
@mwielgus :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:31] zacharysarah commented on #22
@roberthbailey :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:31] zacharysarah commented on #427
@johnbelamaric :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:31] zacharysarah commented on #351
@erinboyd :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the tracking spreadsheet. Thanks in advance!

[2017-11-22 21:55] micahhausler commented on #423
Already have a doc PR ready for merge kubernetes/website#6260

[2017-11-22 22:26] danehans commented on #508
@zacharysarah I only have comment access to the 1.9 feature tracking board, so I added comments for the IPv6 docs requirement.

cc: @mmueen

[2017-11-23 05:40] pospispa commented on #498
@zacharysarah it seems I don't have write permission for the [1.9 feature tracking board](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0).
Anyway, this feature needs documentation and a documentation PR is opened:
https://github.com/kubernetes/website/pull/6415

[2017-11-23 13:31] adohe commented on #375
@ConnorDoyle as what we talk on Slack, is there anything I can help?

[2017-11-23 18:59] crassirostris commented on #22
@zacharysarah Opened a PR (https://github.com/kubernetes/website/pull/6427), added a link to the spreadsheet

Thanks for reminding!

[2017-11-24 10:40] luxas commented on #378
@timothysc will open a PR with documentation for this soon.
I updated the status in the tracking spreadsheet

[2017-11-24 10:43] luxas commented on #130
@jbeda @mattmoyer I guess we could remove the v1.9 milestone here as nothing changed between v1.8 and v1.9 for this feature. We'll target GA in a future release.

@zacharysarah no new docs needed

[2017-11-24 10:46] luxas commented on #357
This feature didn't make it into v1.9

[2017-11-24 10:46] luxas commented on #356
Docs PR: https://github.com/kubernetes/website/pull/6103

[2017-11-24 10:48] luxas commented on #288
No new docs needed here, still waiting on GCR supporting manifest lists, so this feature can't graduate to beta yet.

[2017-11-27 06:56] roberthbailey commented on #296
@lukemarsden is out, so this should be assigned to @luxas

[2017-11-27 13:00] deads2k commented on #95
@zacharysarah I seem to have misplaced the spreadsheet link.  Docs for CRD validation here https://github.com/kubernetes/website/pull/6066

[2017-11-27 14:30] andyzhangx commented on #284
@gnufied what about other cloud provider, e.g. azure. Since it's not in your plan, cloud provider owner should implement by themselves, right?

[2017-11-27 15:06] gnufied commented on #284
@andyzhangx yes that is correct. We expect that each volume plugin maintainer will implement relevant interface needed to support resizing. In 1.9 - we will be supporting - EBS, GCE, Cinder & Glusterfs (we have a PR open for cephfs but that may have missed the cut)

[2017-11-27 18:51] zacharysarah commented on #491
@seans3 :wave: Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the [1.9 tracking spreadsheet](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0). Thanks in advance!

[2017-11-27 18:53] zacharysarah commented on #296
@luxas Bumping for a docs PR. ☝️ Incoming boilerplate:

Please [open a documentation PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs) and add a link to the [1.9 tracking spreadsheet](https://docs.google.com/spreadsheets/d/1WmMJmqLvfIP8ERqgLtkKuE_Q2sVxX8ZrEcNxlVIJnNc/edit#gid=0)
. Thanks in advance!

[2017-11-27 20:04] johnbelamaric commented on #427
Doc PR: https://github.com/kubernetes/website/pull/6463

[2017-11-27 21:40] luxas commented on #383
Gah, Github close links :(

[2017-11-27 22:12] timothysc commented on #378
I think until we are consuming this as part of the test suite as part of the self-hosting feature it is premature to document it's usage.  We need to get testing cycles under it's belt and enable the broader feature that the code was written to enable.

[2017-11-27 22:55] luxas commented on #378
Ok, let's discuss whether we need docs or not tomorrow in the SIG call

[2017-11-27 23:55] danehans commented on #508
@zacharysarah does the 1.9-release changelog need to be manually updated to reference any of the IPv6 PRs or https://github.com/kubernetes/kubernetes/issues/1443?

[2017-11-28 13:56] andyzhangx commented on #284
@gnufied thx, I will work on azure file/disk resize. So 1.10 would be beta for this feature, right?

[2017-11-28 18:42] janetkuo commented on #19
This specific feature won't be in 1.9. Shall we move the milestone to 1.10?

[2017-11-28 20:37] timothysc commented on #378
per sig discussion this morning, we are not planning to document the feature until the primary use case which is self-hosting has been enabled by default.  We did not have enough test cycles to enable it for 1.9 but are planning to enable in 1.10.

I'm not certain who is managing feature documentation for 1.10 but this is the official plan from @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-11-28 22:25] lookuptable commented on #502
@deads2k Is there a plan to add E2E tests for this feature?

[2017-11-28 22:54] zacharysarah commented on #378
@timothysc Thanks for the update!

[2017-11-28 23:04] zacharysarah commented on #508
@danehans When you say changelog, do you mean the release notes?

/cc @Bradamant3 for release notes visibility

[2017-11-28 23:46] zacharysarah commented on #365
@smarterclayton Bump for docs ☝️

/cc @idvoretskyi

[2017-11-28 23:48] zacharysarah commented on #492
@caesarxuchao Bumping for [docs](https://github.com/kubernetes/features/issues/492#issuecomment-346478349) ☝️

/cc @idvoretskyi

[2017-11-28 23:48] saad-ali commented on #278
Relevant PR that went into 1.9 is: https://github.com/kubernetes/kubernetes/pull/53440/

Also this feature is alpha in 1.9 NOT beta. Relabeling.

[2017-11-28 23:51] zacharysarah commented on #353
@kow3ns Bump for docs ☝️

/cc @idvoretskyi

[2017-11-28 23:53] zacharysarah commented on #507
@mikedanese Bump for docs ☝️

/cc @idvoretskyi

[2017-11-28 23:54] zacharysarah commented on #502
@deads2k Bump for docs ☝️

/cc @idvoretskyi

[2017-11-28 23:54] zacharysarah commented on #491
@seans3 Bump for docs ☝️

/cc @idvoretskyi

[2017-11-28 23:55] zacharysarah commented on #415
@luxas Bump for docs ☝️

/cc @idvoretskyi

[2017-11-28 23:58] zacharysarah commented on #88
@errordeveloper

/cc @idvoretskyi

[2017-11-29 00:00] zacharysarah commented on #11
@jbeda Bump for docs ☝️

/cc @idvoretskyi

[2017-11-29 00:01] zacharysarah commented on #265
@quinton-hoole Bump for docs ☝️

/cc @idvoretskyi

[2017-11-29 00:01] zacharysarah commented on #495
@verb Bump for docs ☝️

/cc @idvoretskyi

[2017-11-29 00:02] zacharysarah commented on #192
@vishh Bump for docs ☝️

/cc @idvoretskyi

[2017-11-29 00:03] zacharysarah commented on #351
@erinboyd Bump for docs ☝️

/cc @idvoretskyi

[2017-11-29 00:05] zacharysarah commented on #178
@saad-ali 👋 Thanks for indicating in the tracking spreadsheet that docs are required. Please [open a docs PR](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#docs), even if it's just a shell.

[2017-11-29 00:06] zacharysarah commented on #116
@michmike Bump for docs ☝️

/cc @idvoretskyi

[2017-11-29 00:10] lavalamp commented on #492
I already have a documentation PR out, will add a link when I am back in
the office on thursday.

On Tue, Nov 28, 2017 at 3:48 PM, Zach Corleissen <notifications@github.com>
wrote:

[2017-11-29 00:12] danehans commented on #508
Yes, I am trying to understand if anything needs to be added to the 1.9 release notes, and if so, what process to follow. Thank you.

[2017-11-29 00:14] ericchiang commented on #502
I can open a docs PR. cc @deads2k

[2017-11-29 00:48] caesarxuchao commented on #492
The doc PR @lavalamp started: https://github.com/kubernetes/website/pull/6368

[2017-11-29 01:40] m1093782566 commented on #265
@zacharysarah

please check https://github.com/kubernetes/website/pull/6425/files#diff-5701136fd2ce258047b6ddc389112352R701 and https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs

If they are still not enough, @stewart-yu will do help. Thanks!

[2017-11-29 07:02] luxas commented on #508
This should have a release note

[2017-11-29 08:04] errordeveloper commented on #88
@zacharysarah @idvoretskyi I don't own this any more, but @luxas and @wlan0 would have a good idea of the progress here.

[2017-11-29 11:27] jamiehannaford commented on #415
@luxas @zacharysarah We already have docs for self-hosted [here](https://kubernetes.io/docs/reference/generated/kubeadm/#self-hosting) which describe the concept, the process and current limitations. Since we haven't added any functionality in 1.9 that breaks that model I don't think there's anything else to add. When we graduate it to beta in 1.10 we might be able to move this section to its own

[2017-11-29 13:00] luxas commented on #11
As discussed in the SIG, no extra docs are needed for this feature.
This is an umbrella issue for the general development of kubeadm, and kubeadm is gonna be beta for quite some time yet. These docs have existed since v1.4, and will still be available of course in all future releases.

[2017-11-29 13:59] Stono commented on #162
@pwittrock Sorry for commenting on a closed thread but I'm struggling to find any information when podpreset will be in beta (thus GA on GKE), every thread stream I seem to follow is closed.

Any ideas?

[2017-11-29 14:32] luxas commented on #415
Marked this as no new docs required as https://github.com/kubernetes/website/pull/5497 has us covered.
Also updated the spreadsheet

[2017-11-29 14:33] luxas commented on #88
I think the docs needed have already been merged during the cycle, so I'm not sure anything more has to be done here.
@wlan0 @jagosan agree?

[2017-11-29 15:36] deads2k commented on #502
Thanks.  I forgot that I gave detail usage in the community pull and didn't open the corresponding website one.

We use this feature to bootstrap the cluster, so it is tested in every e2e run already.

[2017-11-29 15:38] sttts commented on #383
The reference links are still ugly as hell (mainly caused by repeated runs due to bot development). But I switched the bot to run under the k8s-publishing-bot user now which cannot close issues anymore. @github please fix your reference mechanism 🙏

[2017-11-29 17:27] sttts commented on #383
/cc @mhagger

[2017-11-29 17:53] erinboyd commented on #351
done: https://github.com/kubernetes/website/pull/6486

On Tue, Nov 28, 2017 at 5:03 PM, Zach Corleissen <notifications@github.com>
wrote:

[2017-11-29 18:18] gnufied commented on #284
@zacharysarah documentation PR https://github.com/kubernetes/website/pull/6487

[2017-11-29 19:01] zacharysarah commented on #508
/cc @Bradamant3 @nickchase Release note visibility! ☝️

[2017-11-29 19:06] zacharysarah commented on #11
@luxas Thanks! 🙇

[2017-11-29 19:07] zacharysarah commented on #415
@luxas Thanks for the update.

@jamiehannaford Hey there, stranger! :wave: Nice to see you again.

[2017-11-29 19:22] zacharysarah commented on #496
@gnufied Bump for docs ☝️

/cc @idvoretskyi

[2017-11-29 19:29] gnufied commented on #496
We didn't do this for 1.9.  Lets bump the milestone for next release.

[2017-11-29 21:42] michmike commented on #116
@zacharysarah here's our PR. i added it to the docs as well.
https://github.com/kubernetes/website/pull/6180

However, one small issue. Even though the PR is off kubernetes\website, it is off master and not the 1.9 release branch. is that an issue?
cc: @JMesser81

[2017-11-29 23:53] zacharysarah commented on #116
@michmike Thanks for opening the PR. 👍

Yes: the PR needs to base off of `release-1.9`. The kubernetes/website has a different relationship with `master` than other K8s repos.

[2017-11-30 05:28] verb commented on #495
@zacharysarah updated tracking, feature slips to 1.10

[2017-11-30 16:19] michmike commented on #116
yes, thank you for the update @zacharysarah . i noticed you did it!

[2017-11-30 19:41] filmil opened #516 "Support for self-hosting authorizer webhook"
# Feature Description
- One-line feature description (can be used as a release note): Add support self-hosting authorizer webhook (running authorizer webhook as a pod)
- Primary contact (assignee): @filmil
- Responsible SIGs: sig-api-machinery sig-auth
- Design proposal link (community repo): kubernetes/community#1458
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code

[2017-11-30 20:43] klausenbusk commented on #178
Most if not all cloud providers today, has some sort of limit of the number of volume per node.
Some of the internal plugin (GCE, EBS, Azure) use [`NewVolumeNodePredicate`](https://github.com/kubernetes/kubernetes/blob/dd9981d038012c120525c9e6df98b3beb3ef19e1/plugin/pkg/scheduler/algorithm/predicates/predicates.go#L1411-L1414) which handle that.

Does CSI provide something similar? or is there any

[2017-11-30 21:09] idvoretskyi commented on #365
@smarterclayton @kubernetes/sig-api-machinery-feature-requests @kubernetes/sig-scalability-feature-requests any updates on the docs status?

A friendly reminder on docs deadline tomorrow.

/cc @zacharysarah

[2017-11-30 21:10] idvoretskyi commented on #353
@kow3ns @kubernetes/sig-apps-feature-requests any updates on the docs status?

A friendly reminder on docs deadline tomorrow.

/cc @zacharysarah

[2017-11-30 21:10] idvoretskyi commented on #507
@mikedanese @kubernetes/sig-auth-feature-requests any updates on the docs status?

A friendly reminder on docs deadline tomorrow.

/cc @zacharysarah

[2017-11-30 21:11] idvoretskyi commented on #491
@seans3 @apelisse @kubernetes/sig-cli-feature-requests any updates on the docs status?

A friendly reminder on docs deadline tomorrow.

/cc @zacharysarah

[2017-11-30 21:12] idvoretskyi commented on #178
@saad-ali @kubernetes/sig-storage-feature-requests any updates on the docs status?

A friendly reminder on docs deadline tomorrow.

/cc @zacharysarah

[2017-11-30 21:37] apelisse commented on #491
I've removed the needs-doc. Alpha features doesn't have to be documented on day one. Thanks

[2017-12-01 18:09] filmil commented on #516
Hi all.

Added a link to the feature pull request at: kubernetes/community#1458

[2017-12-02 03:16] k82cn commented on #385
Handled by https://github.com/kubernetes/kubernetes/pull/54320 :).

[2017-12-02 21:07] smarterclayton commented on #365
Bah, I knew I forgot something yesterday.  Ended up having to write more
API docs since there wasn't a graceful place to hang the topic.

https://github.com/kubernetes/website/pull/6540

On Thu, Nov 30, 2017 at 4:09 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2017-12-04 17:55] mikedanese commented on #507
docs pr: https://github.com/kubernetes/website/pull/6536

[2017-12-05 01:51] wlan0 commented on #88
@luxas We have adequate docs about concepts, how to create CCM for own cloud, and how to run CCM.

https://github.com/kubernetes/website/blob/master/docs/concepts/architecture/cloud-controller.md
https://github.com/kubernetes/website/blob/master/docs/tasks/administer-cluster/cloud-controller-manager-daemonset-example.yaml
https://github.com/kubernetes/website/blob/master/docs/tasks/administer-clus

[2017-12-05 03:16] stewart-yu commented on #498
Does have progress in this feature?  I want to track about it

[2017-12-05 05:19] WanLinghao commented on #368
@RenaudWasTaken @vishh Hello,I would like to pick up the e2e test if no one already did.

[2017-12-05 09:58] mcwienczek commented on #106
Is this issue still relevant? I don't see any tracking progress on this. Even links for documentation in the original post don't work anymore...

[2017-12-05 11:44] pospispa commented on #498
The alpha version of this feature is merged. PRs:
- https://github.com/kubernetes/kubernetes/pull/55824
- https://github.com/kubernetes/kubernetes/pull/55873

The alpha version doesn't include changes to scheduler that are not critical for the alpha version. Changes into scheduler are already approved (https://github.com/kubernetes/kubernetes/pull/55957) and will be merged into K8s 1.10.

[Documen

[2017-12-07 14:20] adelton commented on #127
@pwel-, what is the best way to get some review and comments on https://github.com/kubernetes/kubernetes/pull/55707, to get it closer to mergeable state?

[2017-12-07 14:29] kargakis commented on #127
@pweil- ^

[2017-12-07 14:47] pweil- commented on #127
@adelton I would try to engage the sig-node folks either at their Tuesday meeting or on slack: https://github.com/kubernetes/community/tree/master/sig-node

[2017-12-08 07:48] xiangpengzhao commented on #508
@danehans 1.9 release note draft is here:
https://docs.google.com/document/d/1veHHyDH9VoNTwP6yy9u2Q7Jj1hnBJGVPv3NPHInImgU/edit

You can follow the guidance at the top of the doc.

xref: https://groups.google.com/forum/#!topic/kubernetes-sig-release/x6ySPIJkMN4https://groups.google.com/forum/#!topic/kubernetes-sig-release/x6ySPIJkMN4
by @enisoc

[2017-12-08 21:47] mikedanese commented on #507
this is done.

[2017-12-08 21:47] #507 closed

[2017-12-08 22:34] danehans commented on #508
@xiangpengzhao I have updated the 1.9 release notes with the ipv6 support details. Please let me know if add'l ipv6 content is required for the 1.9 release notes.

[2017-12-09 07:37] xiangpengzhao commented on #508
@danehans I think the details you added are good enough :+1: . But personally I'd like to see the associated PRs (if existing) for the bullets.

- IPv6 alpha support has been added. Notable IPv6 support details include:
  * Support for IPv6-only Kubernetes cluster deployments. This feature does not provide dual-stack support.
  * Support for IPv6 Kubernetes control and data planes.
  * Support for

[2017-12-09 07:49] xiangpengzhao commented on #508
@danehans I took another look at the release note and found that you put the ipv6 details into the section `Before Upgrading`. I don't think we should put them there.

[2017-12-09 21:23] danehans commented on #508
@xiangpengzhao The only concern I have is that several PRs were used for the different bullets.

[2017-12-09 21:46] danehans commented on #508
@xiangpengzhao I have moved the IPv6 content for the 1.9 release notes. Please let me know if you have any further concerns.

[2017-12-11 06:38] xiangpengzhao commented on #508
@danehans That LGTM :)

[2017-12-11 21:42] valentin2105 commented on #508
I use Kubernetes on IPv6-only (v1.8.x) for a while now,
and the biggest problem to solve, I think, Is to detect if IPv6 is enabled to stop to use ClusterIPs (10.32.x.x).

[2017-12-12 00:53] xiangpengzhao commented on #508
@valentin2105 can you please open an issue in k/k to track this if you think it is an issue should be solved?
https://github.com/kubernetes/kubernetes/issues

[2017-12-12 16:30] vielmetti commented on #288
GCR now supports manifests, so this should be able to move forwards again.

[2017-12-12 19:23] janetkuo commented on #353
Docs:
https://github.com/kubernetes/website/pull/6496
https://github.com/kubernetes/website/pull/6494
https://github.com/kubernetes/website/pull/6550
https://github.com/kubernetes/website/pull/6553
https://github.com/kubernetes/website/pull/6555

[2017-12-12 19:24] janetkuo commented on #194
This is covered by another umbrella issue for workloads APIs: #353

[2017-12-13 05:37] BenTheElder commented on #383
Has anyone shown this issue to GitHub?? The number of spurious closures is ridiculous. 😕
xref: https://github.com/kubernetes/test-infra/issues/5032

[2017-12-13 20:12] krmayankk commented on #194
@janetkuo does this mean  Deployments and StatefulSets are  GA in 1.9  ?

[2017-12-13 21:12] enisoc commented on #194
Yup! So are DaemonSet and ReplicaSet.

[2017-12-15 16:35] Bradamant3 opened #526 "Final review of release notes for 1.9"
Unless you are @nickchase or @Bradamant3, please use this issue to provide review of the MVP release notes for 1.9. We're approaching the deadline and don't have time to wrangle tricky merges.

[2017-12-15 17:30] enisoc commented on #526
@Bradamant3 Can you add this to known issues?

https://github.com/kubernetes/kubernetes/issues/54940

[2017-12-15 17:46] nickchase commented on #526
#54940 added to known issues; waiting for more before starting a PR.

[2017-12-18 08:50] adelton commented on #127
@derekwaynecarr, could you please bring https://github.com/kubernetes/kubernetes/pull/55707 to sig-node's radar?

[2017-12-19 08:46] mindprince commented on #369
/close

[2017-12-19 08:46] #369 closed

[2017-12-20 12:21] mlmhl opened #531 "Add support for online resizing of PVs"
# Feature Description
- Allow PVs to be resized without having to terminate pods and unmount volume first.
- Primary contact (assignee): @mlmhl
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): [kubernetes/community#1535](https://github.com/kubernetes/community/pull/1535)
- KEP: [20190125-online-growing-persistent-volume-size](https://github.com/

[2017-12-20 12:21] mlmhl commented on #531
This is a sub feature of this [feature](https://github.com/kubernetes/features/issues/284).

[2017-12-20 19:47] janetkuo commented on #194
@krmayankk re GA in 1.9: Check out this blogpost for 1.9 release http://blog.kubernetes.io/2017/12/kubernetes-19-workloads-expanded-ecosystem.html

[2017-12-21 23:42] gnufied commented on #36
Is this an oversight to enable this bot on feature repository?  A feature easily takes more than one release for implementation... @fejta

[2017-12-22 03:25] fejta commented on #36
Not an oversight. Please provide quarterly updates if this feature is still wanted

[2017-12-22 12:11] luxas commented on #526
We've shipped the release! Thanks everyone :smile:

[2017-12-22 12:11] #526 closed

[2017-12-22 12:12] luxas commented on #194
This is now shipped! Thanks everyone in SIG Apps for the great teamwork :tada:

[2017-12-22 12:12] #194 closed

[2017-12-22 12:15] luxas commented on #56
From the issue description; I guess this is referring to the System Verification Check here: https://github.com/kubernetes/kubernetes/tree/master/test/e2e_node/system

This has been merged at least for a year, and I think this issue is stale.
I'm gonna close it for now, please open a new issue with more details and an up-to-date issue description or reopen with more details if needed.

Thanks!

[2017-12-22 12:15] #56 closed

[2017-12-22 12:17] luxas commented on #36
This went beta in v1.6, let's close it.

[2017-12-22 12:17] #36 closed

[2017-12-22 12:21] luxas commented on #353
Great, thanks everyone in SIG Apps for the great work in bringing this API to GA :raised_hands:!

[2017-12-22 12:21] #353 closed

[2017-12-23 03:19] xiang90 commented on #44
this is done. closing.

[2017-12-23 03:19] #44 closed

[2017-12-25 17:50] luxas commented on #35
@smarterclayton is this relevant anymore?

[2017-12-27 22:40] klausenbusk commented on #284
Will this work/is there any plans to make this work with external provisioner (like the https://github.com/kubernetes-incubator/external-storage provisioners)?

[2017-12-28 17:16] erictune commented on #171
/remove-lifecycle stale

[2017-12-28 23:15] saad-ali commented on #178
Good question. CSI doesn't have any such capability yet. We'll look into how a plugin can advertise max number of volumes per node it supports and how k8s can incorporate that.

[2017-12-29 12:31] DanyC97 commented on #88
@wlan0 @luxas  am i right to say that this feature is been pushed to next release? if so, you mind to update the milestone to reflect the current state?

[2017-12-30 22:08] #270 closed

[2017-12-30 23:15] smarterclayton commented on #35
No, this is out of date and can be closed.

[2017-12-30 23:15] #35 closed

[2017-12-30 23:17] smarterclayton commented on #137
This reached stability in 1.9 and subsequent improvements should be covered in other features.

[2017-12-30 23:17] #137 closed

[2018-01-01 11:57] luxas commented on #89
@liggitt I'm pretty sure we can close this now as many deployments secure the kubelet API OOTB, and the APIs are v1/stable already.

[2018-01-02 07:31] sttts commented on #282
Looks like this can be closed?

[2018-01-02 08:45] luxas commented on #282
I think so too, from what I know the layout of `k8s.io/api` should be stable == GA

[2018-01-02 08:45] #282 closed

[2018-01-02 16:31] liggitt commented on #89
agree, closing

[2018-01-02 16:31] #89 closed

[2018-01-02 16:39] craigbox commented on #274
/remove-lifecycle stale

[2018-01-02 17:01] #55 closed

[2018-01-02 17:48] gnufied commented on #168
This feature has been implemented as speced. Closing.

/close

[2018-01-02 17:48] #168 closed

[2018-01-03 07:02] m1093782566 commented on #274
There is a proposal trying to figure out a more generic way for local-only service, say "topology aware routing of services", please check kubernetes/community#1551

We need more user cases to refine the API, please feel free to populate your comments there :) Thanks!

[2018-01-03 17:23] erictune commented on #59
I recommend further features requests for image policy first be attempted using validating webhooks.

[2018-01-03 17:23] #59 closed

[2018-01-03 19:11] cjcullen commented on #460
cc @immutablet

[2018-01-03 19:11] cjcullen commented on #266
cc @alexcope

[2018-01-04 15:17] xingzhou commented on #304
We are starting to write a proposal doc first at:
https://docs.google.com/document/d/1dwom9xQ3Fg5F_jJrybr0slp-QsO3_CKiisxzNRoMhec/edit?usp=sharing

will update the progress then

[2018-01-04 17:24] jsafrane commented on #432
It's planned for 1.10, volunteers needed. We need more tests:

* Together with CSI.
* Check various recent and "long-term support" distros.
* Add Kubernetes e2e tests for existing in-tree volume plugins (Gluster, Ceph, ...) using containerized mount utilities - this will stress test it quite a lot.

[2018-01-04 20:07] vielmetti commented on #288
Does this project belong to sig-cluster-lifecycle or sig-release or both?

[2018-01-04 22:26] bsalamat commented on #268
Given that we have [the task tracker](https://github.com/kubernetes/features/issues/268), I think it is ok to close this issue.

[2018-01-05 08:37] jsafrane commented on #352
@wongma7, isn't this implemented and GA in 1.9?

[2018-01-05 08:39] #180 closed

[2018-01-05 16:12] sjenning commented on #275
/lifecycle frozen

[2018-01-05 16:12] derekwaynecarr commented on #275
/remove-lifecycle-state

this is planned to graduate to beta in 1.10

[2018-01-05 16:21] sjenning commented on #275
moving hugepages to beta https://github.com/kubernetes/kubernetes/pull/56939

[2018-01-06 00:27] #377 closed

[2018-01-06 04:56] ericchiang commented on #380
/remove-lifecycle stale

[2018-01-06 11:39] luxas commented on #268
The link you gave references this issue...? Also, this should be kept open for tracking this feature as all other features in Kubernetes.
/remove-lifecycle stale

[2018-01-07 15:44] mikebrow commented on #286
/remove-lifecycle stale

[2018-01-07 22:52] evmin commented on #117
Good day,

would be very much interested in getting this progressed. Would be invaluable in Google Cloud Platform.

[2018-01-08 04:09] jamiehannaford commented on #253
Going to close this as I don't have bandwidth in foreseeable future. If this changes I will reopen or create fresh issue.

[2018-01-08 04:09] #253 closed

[2018-01-08 08:56] kargakis commented on #253
@jamiehannaford is there an open issue I can track? This seems like a useful feature.

[2018-01-08 15:23] jamiehannaford commented on #253
@kargakis No. I added the functionality to Moby, and was waiting for the change to make it into a release so I could add to K8s. Should I reopen this issue?

[2018-01-08 15:25] kargakis commented on #253
I would say open an issue in the main repo and reopen this once you or somebody else starts working on it.

[2018-01-08 15:42] idvoretskyi commented on #253
+1, Michalis.

On Monday, January 8, 2018, Michalis Kargakis <notifications@github.com>
wrote:

[2018-01-08 21:12] karthickrajamani commented on #21
/remove-lifecycle stale

[2018-01-09 09:01] k82cn commented on #382
/remove-lifecycle stale

We're going to trace alpha->beta in this issue.

[2018-01-09 18:17] krmayankk commented on #284
is pvc resizing feature already supported for rbd(ceph) as well and did it already land in 1.9 ? @rootfs

[2018-01-09 18:26] gnufied commented on #284
@krmayankk yes it works for rbd.

[2018-01-09 18:30] gnufied commented on #284
@klausenbusk there is a plan to add resizing for flex volumes - https://github.com/kubernetes/features/issues/304  but there is no immediate plan to add resizing support in external provisioners.

[2018-01-10 03:50] sjenning commented on #276
/remove-lifecycle stale

[2018-01-10 05:43] fejta commented on #358
/remove-lifecycle stale

Is this still alive? @chrislovecnm @justinsb

[2018-01-10 07:41] Moinheart commented on #139
/lifecycle frozen

[2018-01-10 15:58] DirectXMan12 commented on #271
/remove-lifecycle stale

[2018-01-10 15:58] DirectXMan12 commented on #118
/remove-lifecycle stale

[2018-01-10 15:58] DirectXMan12 commented on #264
/remove-lifecycle stale

[2018-01-11 01:41] m1093782566 opened #536 "Topology aware routing of services"
# Feature Description
- One-line feature description (can be used as a release note):
Implement "local service", say "topology aware routing of service". Local means "same topology level", e.g. same node, same rack, same failure zone, same failure region and whatever users like.

- Primary contact (assignee):
@m1093782566

- Responsible SIGs:
/sig network

- Design proposal link (community repo):

[2018-01-11 01:41] m1093782566 commented on #536
/assign

[2018-01-11 02:43] wongma7 commented on #352
@jsafrane yes, was beta in 1.8 and should  require no code/doc changes to move to GA in 1.9

[2018-01-11 08:43] jsafrane commented on #352
/close

[2018-01-11 08:43] #352 closed

[2018-01-11 21:14] bsalamat commented on #268
@luxas I fixed the link.
Pod priority and preemption, as described in this issue, are already implemented as alpha features.

[2018-01-11 23:28] misterikkit opened #537 "Move equivalence class based scheduling to beta"
# Feature Description
- One-line feature description (can be used as a release note): Cache scheduling decisions of equivalent pods
- Primary contact (assignee): @resouer, @misterikkit
- Responsible SIGs: @kubernetes/sig-scheduling-feature-requests
- Design proposal link (community repo): [Equivalence class based scheduling in Kubernetes](https://github.com/kubernetes/community/blob/master/contrib

[2018-01-12 00:21] m1093782566 commented on #536
After discussing in today's sig-network meeting, we are targeting it Alpha in v1.10.

cc @kubernetes/sig-network-misc

[2018-01-12 02:56] NickrenREN commented on #499
/assign

[2018-01-12 17:28] timothysc commented on #537
This is not a user-facing feature, so there is no need to promote a high-level feature imo.  It's internal refactorings that ideally should have no user-facing changes.

[2018-01-12 17:58] misterikkit commented on #537
I guess that explains why I could not find any release notes for the alpha feature. We need a place to discuss and track remaining work items. Do you think this should just be an issue in kubernetes/kubernetes?

[2018-01-12 18:14] bsalamat commented on #537
I agree with @timothysc, but this feature has not been enabled by default (as it is an alpha feature). We should bring to production quality and enable it by default. I guess that's what we mean by moving this to beta.

[2018-01-12 19:17] misterikkit commented on #537
This feature has moved to https://github.com/kubernetes/kubernetes/issues/58222

[2018-01-12 19:17] #537 closed

[2018-01-12 19:43] fturib commented on #427
@luxas : it was validated yesterday in SIG Network that CoreDNS will go BETA for k8s 1.10.

[2018-01-12 20:30] cmluciano commented on #427
marked for beta 1.10

[2018-01-12 22:56] jberkus commented on #495
Hey, can you change the milestone for this to 1.10 so that the release team can track it properly?  Thanks.

[2018-01-15 11:38] verb commented on #495
@jberkus who, me? I don't think I can. At least, it's not listed as a [bot command](https://github.com/kubernetes/test-infra/blob/master/commands.md)

[2018-01-15 12:47] idvoretskyi commented on #515
@smarterclayton @kubernetes/sig-cli-feature-requests @kubernetes/sig-api-machinery-feature-requests still on track for 1.10?

[2018-01-15 12:48] idvoretskyi commented on #514
@feiskyer @kubernetes/sig-autoscaling-feature-requests still on track for 1.10?

[2018-01-15 12:49] idvoretskyi commented on #513
@feiskyer @kubernetes/sig-azure-misc still on track for 1.10?

[2018-01-15 12:49] idvoretskyi commented on #500
@saad-ali @jbw976 @kubernetes/sig-storage-feature-requests still on track for 1.10?

[2018-01-15 12:50] idvoretskyi commented on #499
@saad-ali @pospispa @kubernetes/sig-storage-feature-requests still on track for 1.10?

[2018-01-15 12:52] idvoretskyi commented on #407
@roberthbailey @praving55 @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-api-machinery-feature-requests still on track for 1.10?

[2018-01-15 12:55] idvoretskyi commented on #385
@FengyunPan @kubernetes/sig-api-machinery-feature-requests is this feature still valid?

[2018-01-15 12:56] idvoretskyi commented on #372
@MrHohn @kubernetes/sig-gcp-feature-requests any plans for 1.10?

[2018-01-15 12:56] idvoretskyi commented on #367
@cmluciano @kubernetes/sig-network-feature-requests still on track for 1.10?

[2018-01-15 12:57] idvoretskyi commented on #366
@cmluciano @kubernetes/sig-network-feature-requests still on track for 1.10?

[2018-01-15 12:59] idvoretskyi commented on #357
@luxas @kubernetes/sig-cluster-lifecycle-feature-requests still on track for 1.10?

[2018-01-15 13:21] deads2k commented on #407
We have some simple patterns (`kube-proxy`), but as I recall the `kubelet` (the first big one) is still struggling with the split.  I'd say its possible if we find someone to work on it, but I'm not sure who has spare capacity.  I've added to the sig agenda.

[2018-01-15 13:41] feiskyer commented on #513
@idvoretskyi Yep, this is targeted for 1.10

[2018-01-15 13:49] pospispa commented on #499
@NickrenREN has taken over development of this feature. @NickrenREN will you, please, comment on the status of the development of this feature.

[2018-01-15 13:51] feiskyer commented on #514
@idvoretskyi Yep, working in progress. Setting milestone back to v1.10.

[2018-01-15 14:15] NickrenREN commented on #499
Yeah, still on track for 1.10. I am writing the proposal . will send it out tomorrow.

[2018-01-15 15:02] idvoretskyi commented on #407
@deads2k SGTM. Please, don't forget about the features freeze coming on January 22 (next Monday).

[2018-01-15 20:02] smarterclayton commented on #515
We're trying to close the loop on the 1.10 plan

[2018-01-16 02:48] FengyunPan commented on #385
@idvoretskyi It seems handled by kubernetes/kubernetes#54320, so I close it.

[2018-01-16 02:48] #385 closed

[2018-01-16 16:38] cmluciano commented on #367
This is still under discussion in the [mailing list](https://groups.google.com/d/topic/kubernetes-sig-network/_KLaN2GKuxM/discussion).

[2018-01-16 23:26] mtaufen commented on #281
/lifecycle frozen

[2018-01-17 01:26] jlk commented on #135
Hey @jessfraz not sure if you got anywhere on this - I don't have bandwidth to code it, but happy to help test...

[2018-01-17 01:42] m1093782566 opened #539 "Make NodePort IP address configurable"
# Feature Description
- One-line feature description (can be used as a release note):
Make NodePort IP address configurable
- Primary contact (assignee):
@m1093782566
- Responsible SIGs:
/sig network
- Design proposal link (community repo):
https://github.com/kubernetes/community/pull/1547
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from

[2018-01-17 01:43] m1093782566 commented on #539
/assign

[2018-01-17 06:47] roberthbailey commented on #407
@idvoretskyi - this won't be finished for 1.10. We are working with the appropriate SIGs to define component configuration for the master components. Once that is in place this "API" will simply be dumping those configuration files, which should be easy to reflect into the k8s API as configmaps.

[2018-01-17 12:41] deads2k commented on #263
Aggregated API didn't move to GA in 1.9, but I'm planning to update it for 1.10.

[2018-01-17 17:02] chakri-nelluri commented on #304
Thanks @xingzhou.
Reviewed and added comments.

[2018-01-17 19:03] yastij commented on #372
@MrHohn - Might be able to help on this one

[2018-01-17 19:46] jingxu97 commented on #362
In Kuberentes, ephemeral storage is added as one resource type for allocatable resource. Since allocatable resource is already GA, so the work for this feature is finished for open source part.
cc @dashpole @vishh Could you approve this feature?

[2018-01-17 19:46] jingxu97 commented on #362
/remove-lifecycle stale

[2018-01-18 06:37] m1093782566 commented on #265
As we discussed in sig-netork meeting, we are targeting GA in 1.10.

[2018-01-18 06:55] m1093782566 commented on #265
@quinton-hoole Would you please re-tag this issue to 1.10 and stage/stable?

[2018-01-18 07:02] kevin-wangzefeng commented on #265
@m1093782566 updated.

[2018-01-18 07:14] m1093782566 commented on #265
Thanks Kevin!

[2018-01-18 21:15] skurunji85 commented on #162
This feature is exactly what i was looking for my work. Can anyone tell me where to look to find the status of this feature.

[2018-01-18 23:14] ericchiang opened #541 "External client-go credential providers"
# Enhancement Description
- One-line enhancement description: external client-go credential providers
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/541-external-credential-providers)
- Primary contact: @ankeesler
- Responsible SIGs: sig-auth
- Enhancement target:
  - Alpha release target: 1.10
  - Beta release target: 1.11
  - Stable

[2018-01-18 23:23] mikedanese opened #542 "TokenRequest API and Kubelet integration"
# Improved service account tokens
- One-line enhancement description (can be used as a release note): Improve security of service account tokens
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/1205-bound-service-account-tokens
- Primary contact (assignee): @zshihang
- Responsible SIGs: auth
- Enhancement target (which target equals to which m

[2018-01-19 03:12] xing-yang opened #543 "Move Snapshot Support in-tree"
# Feature Description
- One-line feature description (can be used as a release note): Move snapshot support in-tree.
- Primary contact (assignee): @jingxu97 @xing-yang
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): kubernetes/community#1624
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agree

[2018-01-19 09:23] jsafrane commented on #499
added 1.10 milestone

[2018-01-19 13:36] xing-yang commented on #543
@kubernetes/sig-storage-feature-requests

[2018-01-19 14:03] radu-matei commented on #277
Hi!
Is there anyone actively working on this?

I would really like to start contributing on it (realistically starting next week or so).

[2018-01-19 14:16] verb commented on #277
@radu-matei Yes, I'm actively working on it. I have some PRs lined up but we haven't quite finalized the API yet, see kubernetes/community#1269.

I'd love to have some help here, of course. Was there a particular area to which you'd like to contribute?

[2018-01-19 23:20] mbohlool opened #544 "Custom Resource Definition Versioning"
# Feature Description
- One-line feature description (can be used as a release note):

Versioning for Custom Resources including a way to plug conversion for different versions

- Primary contact (assignee):
@mbohlool
- Responsible SIGs:
/sig api-machinery
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/custom

[2018-01-20 18:50] radu-matei commented on #277
@verb I probably can work on `kubectl` right away, but I would also very much want to understand the API server and `kubelet`.

[2018-01-22 13:30] idvoretskyi commented on #515
@smarterclayton any progress?

[2018-01-22 13:31] idvoretskyi commented on #407
@roberthbailey thanks, will keep under the "next-milestone" to track for the further releases.

[2018-01-22 13:32] idvoretskyi commented on #367
@cmluciano any progress?

[2018-01-22 13:32] idvoretskyi commented on #366
@cmluciano any progress?

[2018-01-22 13:33] idvoretskyi commented on #357
@roberthbailey thanks

[2018-01-22 13:34] idvoretskyi commented on #304
/remove-lifecycle stale

[2018-01-22 13:34] idvoretskyi commented on #304
@xingzhou added, thanks

cc @saad-ali @kubernetes/sig-storage-feature-requests

[2018-01-22 13:36] idvoretskyi commented on #288
@luxas @kubernetes/sig-cluster-lifecycle-feature-requests do you have any further plans (esp. for v1.10) for this feature?

[2018-01-22 13:37] idvoretskyi commented on #277
@verb is this feature on track for 1.10?

[2018-01-22 13:38] idvoretskyi commented on #277
cc @kubernetes/sig-node-feature-requests @kubernetes/sig-cli-feature-requests @kubernetes/sig-auth-feature-requests

[2018-01-22 13:40] idvoretskyi commented on #263
@deads2k updated milestone to 1.10

[2018-01-22 13:42] idvoretskyi commented on #177
@saad-ali @kubernetes/sig-storage-feature-requests any progress for 1.10?

[2018-01-22 13:42] errordeveloper commented on #18
/lifecycle frozen
/remove-lifecycle stale

On Thu, 4 Jan 2018 at 06:40 fejta-bot <notifications@github.com> wrote:

[2018-01-22 13:43] idvoretskyi commented on #171
@erictune @justinsb any progress here is expected?

[2018-01-22 13:45] idvoretskyi commented on #127
@pweil- @derekwaynecarr any progress on this feature is expected?

[2018-01-22 13:48] idvoretskyi commented on #63
@yujuhong are you expecting any progress on this feature?

[2018-01-22 13:48] idvoretskyi commented on #32
@ericchiang @kubernetes/sig-auth-feature-requests any progress on this feature is expected?

[2018-01-22 13:50] idvoretskyi commented on #21
@kubernetes/sig-autoscaling-feature-requests @kubernetes/sig-node-feature-requests @mwielgus @kgrygiel @karthickrajamani any progress on this feature?

[2018-01-22 13:51] idvoretskyi commented on #18
@errordeveloper @justinsb @luxas @kubernetes/sig-cluster-lifecycle-feature-requests any progress on this feature is expected?

[2018-01-22 13:53] fabiand commented on #18
Also - Everything is stroked through - Thus I wonder about the current scope of this feature.

[2018-01-22 13:54] idvoretskyi commented on #543
/assign @jingxu97 @xing-yang

[2018-01-22 13:55] errordeveloper commented on #18
@idvoretskyi no, I am not aware of any progress here, but it's still a genuine outstanding piece that needs solving.

[2018-01-22 13:56] idvoretskyi commented on #531
/assign @mlmhl

[2018-01-22 13:56] errordeveloper commented on #115
There has been progress, but I don't have exact details at hand, but @roberthbailey may be able to summarise.

[2018-01-22 13:57] idvoretskyi commented on #531
/sig storage

[2018-01-22 13:57] idvoretskyi commented on #516
/assign @filmil

[2018-01-22 13:59] idvoretskyi commented on #516
/kind feature

[2018-01-22 14:01] idvoretskyi commented on #497
@vkamra @jingxu97 @kubernetes/sig-storage-feature-requests any progress is expected on this feature?

[2018-01-22 14:03] idvoretskyi commented on #261
@quinton-hoole @kubernetes/sig-multicluster-feature-requests any progress is expected?

[2018-01-22 14:12] brancz commented on #497
@idvoretskyi indirectly. We're currently working on getting kubectl top to use the metrics server at all (https://github.com/kubernetes/kubernetes/pull/56206). Once that's done, we can think of PVC stats for the metrics server. I'll put it on the list of topics for the next sig meeting.

[2018-01-22 14:18] ankon commented on #171
Maybe it is helpful for others: We're using kube2iam together with a service to manage IAM roles based on Kubernetes ThirdPartyResources: https://github.com/Collaborne/kubernetes-aws-resource-service

[2018-01-22 14:19] idvoretskyi commented on #497
@brancz do you plan this still for 1.10 (or 1.11+ releases are more likely)?

[2018-01-22 14:27] brancz commented on #497
It depends on availability of resources, but my gut feeling says 1.11+.

[2018-01-22 14:37] idvoretskyi commented on #541
/assign @ericchiang

[2018-01-22 14:38] ConnorDoyle commented on #76
Correct — closing

[2018-01-22 14:38] #76 closed

[2018-01-22 14:44] idvoretskyi commented on #513
/kind feature

[2018-01-22 14:49] idvoretskyi commented on #495
/kind feature

[2018-01-22 14:50] idvoretskyi commented on #432
/assign @jsafrane

[2018-01-22 14:56] idvoretskyi commented on #281
@mtaufen can you comment on the actual feature status?

[2018-01-22 14:57] idvoretskyi commented on #279
/kind feature

[2018-01-22 14:58] idvoretskyi commented on #279
@liggitt am I right that it's still beta for 1.10?

[2018-01-22 15:04] idvoretskyi commented on #88
/kind feature

[2018-01-22 15:05] cmluciano commented on #366
Yes, from our mailing list conversations this feature with not GA in 1.10. We will continue discussing potential for future releases on the sig-network mailing list.

[2018-01-22 15:05] cmluciano commented on #367
Yes, from our mailing list conversations this feature with not GA in 1.10. We will continue discussing potential for future releases on the sig-network mailing list.

[2018-01-22 15:06] idvoretskyi commented on #43
@roberthbailey still beta for 1.10?

[2018-01-22 15:11] chakri-nelluri commented on #304
@xingzhou Added few more comments. PTAL when you get a chance.

[2018-01-22 15:13] gnufied commented on #304
@xingzhou it might be a good time today to move the proposal to community repository . I am not sure if everyone has seen the proposal on Google doc.

[2018-01-22 15:39] liggitt commented on #279
correct, it is beta until kubernetes/community#911 is resolved

work on that is occurring in the 1.10 timeframe

[2018-01-22 16:01] idvoretskyi commented on #279
@liggitt great, thanks

[2018-01-22 16:02] idvoretskyi commented on #367
@cmluciano got it, will mark with 1.10 milestone and keep beta for now.

PS. The same is for https://github.com/kubernetes/features/issues/366#issuecomment-359450296

[2018-01-22 16:04] idvoretskyi commented on #367
@cmluciano also updated the description to plan GA for 1.11 (for both features). Correct me if I wrong.

[2018-01-22 16:21] soltysh commented on #19
For the 1.10 milestone there are 3 topics:

1. TimeZone support in CronJob (https://github.com/kubernetes/kubernetes/pull/47266) - @iterion
2. CronJob manual instantiation (https://github.com/kubernetes/kubernetes/pull/53988) - @erhudy
3. (?) Re-write the controller to use shared informers (https://github.com/kubernetes/kubernetes/issues/17130) - @soltysh

[2018-01-22 16:23] idvoretskyi commented on #19
@soltysh and still beta, right?

[2018-01-22 16:29] ericchiang commented on #32
Closing in favor of https://github.com/kubernetes/features/issues/541

[2018-01-22 16:29] #32 closed

[2018-01-22 16:29] cmluciano commented on #367
There is ongoing discussion on NetworkPolicy as a whole. Can we hold off on marking a stable milestone until these conversations conclude?

[2018-01-22 16:29] soltysh commented on #19
Stable requirements:

1. Shared informers in the controller (https://github.com/kubernetes/kubernetes/issues/17130)
2. Support different time formats ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601), [GCE time format](https://cloud.google.com/appengine/docs/standard/python/config/cronref#schedule_format)).

[2018-01-22 16:31] bgrant0607 commented on #18
See #23233 for details.

[2018-01-22 16:32] idvoretskyi commented on #367
@cmluciano please, do.

[2018-01-22 17:07] mikedanese commented on #43
This is going to GA next.

[2018-01-22 17:10] idvoretskyi commented on #43
@mikedanese GA in 1.10, right?

[2018-01-22 18:35] msau42 commented on #490
/remove-lifecycle-stale
/lifecycle frozen

I'm hoping to target beta in 1.10

[2018-01-22 18:40] yujuhong commented on #63
Nope. The feature has not been implemented yet, so I removed the `lifecycle/stale` label.
If the policy of the features repository is to not keep inactive (i.e., not being actively worked on) features, feel free to close this instead.

[2018-01-22 18:47] jingxu97 commented on #177
We are working on a proposal to push it in tree. Will update the status soon.

[2018-01-22 19:41] cmluciano commented on #544
@mbohlool Can you link the design doc for this when ready?

[2018-01-22 20:58] verb commented on #277
@idvoretskyi yes, on track for 1.10

[2018-01-22 21:39] idvoretskyi commented on #63
@yujuhong correct, we'd like to keep here only actively developed features.

Closing now, feel free to reopen anytime when you'll be ready.

[2018-01-22 21:39] #63 closed

[2018-01-22 22:47] smarterclayton commented on #515
Yes, we are planning to bring this to beta in 1.10.  Work is being tracked in https://github.com/kubernetes/kubernetes/issues/58536

[2018-01-23 01:52] mbohlool commented on #544
Sure, will do soon.

[2018-01-23 04:45] saad-ali commented on #351
Block volume support was introduced in v1.9. For 1.10, it will remain in alpha and add support for additional volume plugins (e.g. GCE PD, CSI, etc.), add additional tests, and refactor the code.

[2018-01-23 04:52] saad-ali commented on #361
We intend to move local ephemeral storage to beta in 1.10.

[2018-01-23 04:53] saad-ali commented on #178
We intend to move the core Kubernetes CSI APIs to beta in 1.10

[2018-01-23 05:12] saad-ali commented on #498
This feature is planned to move to beta in 1.10

[2018-01-23 05:15] saad-ali commented on #500
No plans to pick this up for 1.10. We can close this issue, if we plan to pick it up we'll reopen it.

[2018-01-23 05:15] #500 closed

[2018-01-23 05:41] saad-ali opened #545 "Enable kubectl to expose `ephemeral-storage` resource information"
# Feature Description
- One-line feature description (can be used as a release note): Enable kubectl to expose “Capacity Isolation Resource Management (for Local Ephemeral Storage)” information
- Primary contact (assignee): @NickrenREN
- Responsible SIGs: /sig-storage
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers

[2018-01-23 05:59] mtanino commented on #351
In addition, we are proposing design doc update of Block volume to support for dynamic provisioning for v1.10.
https://github.com/kubernetes/community/pull/1595

[2018-01-23 06:12] adityadani commented on #170
Closing this issue as no more work is needed here.

[2018-01-23 06:12] #170 closed

[2018-01-23 09:27] nikhita commented on #95
For the record, the CRD versioning issue exists here: https://github.com/kubernetes/features/issues/544.

[2018-01-23 09:57] sttts commented on #544
Removed the milestone. We cannot talk about realistic milestones without having a proposal out and agreed on. IMO 1.10 is not very realistic anymore.

[2018-01-23 11:05] nikhita commented on #95
List of tasks for CRDs moving to GA: https://github.com/kubernetes/kubernetes/issues/58682

[2018-01-23 11:38] idvoretskyi commented on #95
@nikhita does it mean that entire CRD feature is moving to GA?

[2018-01-23 11:46] sttts commented on #95
The API will move to GA, i.e. to v1, possibly with some beta/alpha sub-features though. It is not terminated though when this will happen, i.e. whether 1.10 is feasible.

[2018-01-23 11:47] idvoretskyi commented on #95
@sttts @nikhita can you define the feature roadmap more precisely?

[2018-01-23 12:12] nikhita commented on #95
For 1.10:
- subresources for custom resources and bug fixes (at least the ones not crossed out) listed in https://github.com/kubernetes/kubernetes/issues/58682.

There is no _exact_ set of deliverables planned for the next releases but the plan is to go GA by the end of the year (https://groups.google.com/forum/#!topic/kubernetes-sig-api-machinery/07JKqCzQKsc).

We will go to GA once all the issue

[2018-01-23 18:55] dims opened #546 "Allow end users to tweak maximum number of pids"
# Feature Description
- One-line feature description (can be used as a release note): The alpha feature "SupportPodPidsLimit" is set by the cluster administrator. Application deployers should be able to request/tweak the limits for their own applications.
- Primary contact (assignee): @dims
- Responsible SIGs: /sig-node
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Re

[2018-01-23 18:56] dims commented on #546
Please see https://github.com/kubernetes/kubernetes/pull/57973 for the alpha feature

[2018-01-23 19:32] mbohlool commented on #544
I am going to send the proposal soon. I still hope that we can make it to 1.10.

[2018-01-23 21:28] mtaufen commented on #281
still pushing for beta in 1.10

[2018-01-24 01:43] feiskyer opened #547 "Add support for Windows Container Configuration in CRI"
# Feature Description
- One-line feature description (can be used as a release note): Add support for Windows Container Configuration in CRI
- Primary contact (assignee): @feiskyer @PatrickLang
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1510
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ review

[2018-01-24 06:55] CaoShuFeng commented on #492
Hi, can someone update the doc:
https://github.com/kubernetes/website/blob/master/docs/admin/extensible-admission-controllers.md#external-admission-webhooks

Thanks very much.  :)

[2018-01-24 10:10] foxish commented on #269
/lifecycle frozen

[2018-01-24 14:42] nikhita commented on #544
/cc @enisoc @deads2k @liggitt

[2018-01-24 15:57] DirectXMan12 commented on #21
As far as I know, some work is still under way.

[2018-01-24 16:21] smarterclayton commented on #542
Should we add the use of the token request API to this bug as well?  Specifically, consuming those tokens and allowing the service account token injector to be specialized?

[2018-01-24 16:51] kgrygiel commented on #21
Yes, this is an active effort.
The design is here: https://github.com/kgrygiel/community/blob/master/contributors/design-proposals/vertical-pod-autoscaler.md.
And the code lives in: https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler.

[2018-01-24 17:29] soltysh commented on #298
This is already implemented.
/close

[2018-01-24 17:29] #298 closed

[2018-01-25 02:35] xingzhou commented on #304
@gnufied, yes, I'll update the doc on async call and ExpandFS part, later will move the proposal to community repo

[2018-01-25 16:24] mikedanese commented on #542
@smarterclayton added that to this feature.

[2018-01-25 20:11] mtanino commented on #351
v1.10 plan:

#### Design update
- kubernetes/community#1595

#### Plugins
- iSCSI: https://github.com/kubernetes/kubernetes/pull/54752 [merged]
- RBD: https://github.com/kubernetes/kubernetes/pull/56651 [merged]
- AWS: https://github.com/kubernetes/kubernetes/pull/58625
- GCE: https://github.com/kubernetes/kubernetes/pull/58710
- Local persistent volume: https://github.com/kubernetes/features/issu

[2018-01-25 21:21] quinton-hoole commented on #258
/lifecycle frozen

[2018-01-25 21:23] quinton-hoole commented on #71
/lifecycle frozen

[2018-01-29 06:23] xingzhou commented on #304
have moved the proposal doc to community repo, please take a look, thanks.

[2018-01-29 08:54] k82cn opened #548 "Schedule DaemonSet Pods by kube-scheduler"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @k82cn
- Responsible SIGs: sig-scheduling, sig-apps
- Design proposal link (community repo): [Preemption support in DaemonSet controller](https://docs.google.com/document/d/1v7hsusMaeImQrOagktQb40ePbK6Jxp1hzgFB9OZa_ew/edit#) , [Schedule DaemonSet Pods by default scheduler](https://do

[2018-01-29 13:26] tsmetana opened #549 "Allow disabling of the recursive automatic file ownership change of pod volume mounts"
# Feature Description
- One-line feature description (can be used as a release note): Allow disabling of the recursive automatic file ownership change of pod volume mounts
- Primary contact (assignee): Tomáš Smetana (@tsmetana)
- Responsible SIGs: @kubernetes/sig-storage-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/1717
- Link to e2e and/or

[2018-01-29 13:27] tsmetana commented on #549
/assign @tsmetana

[2018-01-29 17:06] idvoretskyi commented on #504
@MrHohn the feature is still labeled as alpha, but your plans for 1.10 were beta. What is the actual status of the feature for 1.10?

[2018-01-29 17:15] idvoretskyi commented on #496
@gnufied @saad-ali @kubernetes/sig-storage-feature-requests the feature roadmap is a bit unclear.

Can you update the "Feature target (which target equals to which milestone):" section in the OP?

[2018-01-29 17:17] idvoretskyi commented on #490
@msau42 1.10 - beta, right?

[2018-01-29 17:46] vkamra commented on #497
@verult - I believe you're looking at this. Could you assign to yourself (I don't have permissions to do that)

[2018-01-29 17:49] idvoretskyi commented on #497
@vkamra just assigned @verult

[2018-01-29 17:51] MrHohn commented on #504
Seems like I don't have the label privilege though. @idvoretskyi Would be great to use your help :)

[2018-01-29 17:52] idvoretskyi commented on #504
@MrHohn not sure if we have everything automated here :)

Added, thanks!

[2018-01-29 17:53] MrHohn commented on #372
@idvoretskyi @yastij Sorry for the delay. There is currently no plan for this feature for 1.10.

[2018-01-29 18:19] msau42 commented on #490
Yes, at least I will try to.

[2018-01-29 18:27] verult commented on #497
I was under the impression that others have made some effort in this direction, as I've mostly been focusing on exposing PVC stats in Heapster and StackDriver. If this is not the case I can definitely take a look at it once Metric Server is ready.

[2018-01-29 21:31] paravz commented on #504
I'd like to understand if this API should help to achieve identical dns resolution on all kube nodes and all pods started with dnsPolicy: ClusterFirst.

Currently I run into following limitation in kubernetes 1.8 (that might be specific to my config):

- kubelet is run with: --resolv-conf=/etc/resolv.conf --cluster-dns=10.233.0.3 [...]
- kube host node's /etc/resolv.conf has "kube-dns" service ip

[2018-01-29 21:45] MrHohn commented on #504
@paravz  "replace" sounds like an interesting use case. The closest choice for now would be using `dnsPolicy: None`, and specify your own resolver options in `dnsPolicy` field (https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods-dns-policy). Would that work for you?

Or is "replace just a portion of the options but keep the remains" what you want?

[2018-01-29 22:38] paravz commented on #504
I want to exclude, this way I would carry what I don't want in service podspec (kube-dns in this case) vs carrying cluster dns config in podspec.

Thanks for mentioning dnsPolicy: None - this might also be used.

PS: i have also commented a possibly related bug here: https://github.com/kubernetes/kubernetes/issues/30073#issuecomment-361410912

[2018-01-30 22:01] mbohlool commented on #544
The proposal is out. please take a look.

[2018-01-30 22:22] MrHohn commented on #504
@paravz What do you think if we change the semantic for `nameservers` from "append" to "replace" (as it doesn't really make sense to append nameserver)? So that you could still inherit `searches` and `options` from node while replacing `nameservers`.

I'm not sure if there are strong enough use cases behind the "exclude" model (which seems like can be achieved with "replace" as well). Except exclu

[2018-01-30 23:04] paravz commented on #504
@MrHohn my only "exclude" scenario is that a pod with "dnsPolicy: Default" might still end up with cluster-dns as it's first nameserver (via host's /etc/resolv.conf). This "exclude" scenario can probably be solved in kubelet to filter-out cluster-dns explicitly when dnsPolicy != ClusterFirst (or when dnsPolicy: Default).

"replace" instead of "append" seems to make more sense, but i don't have eno

[2018-01-30 23:58] tsandall commented on #250
@nikhiljindal is it safe to /close this now?

[2018-01-31 00:35] MrHohn commented on #504
@paravz In fact, it seems wrong that host's /etc/resolv.conf contains "kube-dns" service ip. Could you explain the reasoning behind that?

 ---

To add more context, kube-dns pods are configured to use "dnsPolicy: Default", so that they can inherit the "resolv.conf" from node, hence pick up the upstream nameserver for external dns resolution.

An usual dns query from a pod would be like:
[code]
Ha

[2018-01-31 05:25] bsalamat commented on #548
ref/ #57471

[2018-01-31 10:52] kargakis commented on #544
I need permissions to read the gdoc. Why not a PR?

[2018-01-31 14:34] adohe commented on #279
@liggitt I am looking at this feature description `limit nodes' access to specific APIs, so that they may only modify their own Node API object, only modify Pod objects bound to themselves, and only retrieve secrets and configmaps referenced by pods bound to themselves`, IIUC if I enable this feature, the node access to API will be limited to quite narrow scope, and in a multitenant environment, t

[2018-01-31 17:02] pires commented on #375
Was this in fact graduated to beta in 1.9?

[2018-01-31 17:07] idvoretskyi commented on #375
@pires no, this feature hasn't been announced as beta in 1.9.

[2018-01-31 20:01] paravz commented on #504
@MrHohn I wanted kube hosts (master really) to be able to resolve kube resources, as pods with "dnsPolicy: ClusterFirst".
I used it via kubespray option [host_resolvconf](https://github.com/kubernetes-incubator/kubespray/blob/c1267004ef326947a79bfdcb29590edefe8b05c2/inventory/group_vars/k8s-cluster.yml#L122)

Certainly, one way to avoid is to exclude "--cluster-dns=" from kube-dns' /etc/resolv.con

[2018-02-01 07:10] bowei commented on #504
I think your use DNS use case will be covered by dnsPolicy: none.

BTW having multiple entries for your nameserver will not yield portable results across *libc variants. For example, musl (which is used by Alpine Linux) will send requests to all nameservers and use the first response it receives.

[2018-02-01 12:20] verb commented on #495
This feature is on track for alpha in 1.10.
* If kubernetes/kubernetes#58973 and kubernetes/kubernetes#59125 are accepted by sig-node, this will be available as an annotation
* If kubernetes/kubernetes#58716 is accepted by API reviewer this will be accessible via the API

[2018-02-01 13:29] yastij commented on #548
/cc

[2018-02-01 17:16] gnufied commented on #304
@xingzhou can you link the design proposal in this feature description?

[2018-02-01 20:18] YoungjaeLee commented on #21
Hi, all.

As @karthickrajamani mentioned before, our team is working on adding live and in-place vertical scaling feature into kubernetes.
We just raised a PR of the proposal for that at https://github.com/kubernetes/community/pull/1719.
And the codes of its working prototype is at https://github.com/YoungjaeLee/kubernetes.

Thanks.

[2018-02-01 23:43] mwielgus commented on #21
@YoungjaeLee the design for VerticalPodAutoscaler was completed and merged a month ago. https://github.com/kubernetes/community/pull/338, https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/vertical-pod-autoscaler.md

And the whole thing greatly accelerated in early January once we get 3 people working on this full time. Lots of code has already been submi

[2018-02-02 00:03] mwielgus commented on #21
Please dissregard my previous comment. I thought it is a different VPA design.

[2018-02-02 05:11] xingzhou commented on #304
Have updated the description to include the design proposal link.

[2018-02-02 11:36] ViniciusDeAndrade opened #550 "my own kube-schedule"
Problem:
I am trying to deploy replicas of the same microservice into differents nodes. I think it is not possible
using the default kubernetes primitives.

Proposed Solution:
I am developing a solution using a java client. I want to create a extension of the kube-scheduler that make possible the deploy of the replicas of a same microservice into different nodes.
How can I do that?

[2018-02-02 12:31] fabiand commented on #550
Pretty straight forward, just follow:

https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/

[2018-02-02 12:37] ViniciusDeAndrade commented on #550
thank you. Just to make it clearer, I will try to do that with a java-client

[2018-02-02 12:37] #550 closed

[2018-02-02 13:06] fabiand commented on #550
Just some additional mileage, but at the bottom line it should be pretty similar. Good luck!

[2018-02-02 15:48] kow3ns commented on #548
1. We had a long discussion about doing this [here](https://github.com/kubernetes/kubernetes/issues/42002) and decided not to. Is there a particular reason we should reconsider doing this now.
1. Features are closed for 1.10. Also, I don't see how you could reasonably release this as stable in 1.10.
1. We had the discussion in (1) prior to releasing DaemonSet to GA, is there a strong motivation to

[2018-02-02 17:43] paravz commented on #504
@bowei I cannot test dnsPolicy: none for kube-dns since I don't have kubernentes 1.9, but this would require to add nameservers manually to kube-dns podspec

[2018-02-02 21:39] MarSik commented on #550
Have you seen https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity-beta-feature ?

Simple anti-affinity using service name or some label should probably do what you want.

[2018-02-03 01:34] bsalamat commented on #548
@kow3ns There has been more discussions and the SIG scheduling has decided to go in this direction.  @bgrant0607 has been in the loop in the discussions.

Please refer to this doc for more details: https://docs.google.com/document/d/1v7hsusMaeImQrOagktQb40ePbK6Jxp1hzgFB9OZa_ew/edit

[2018-02-03 11:53] idvoretskyi commented on #11
https://github.com/kubernetes/kubernetes/pull/55901

[2018-02-03 11:54] idvoretskyi commented on #281
Ref https://github.com/kubernetes/kubernetes/pull/55718

[2018-02-03 13:09] yastij opened #551 "Node Failure Recover with ForceEvictione Taint"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @yastij
- Responsible SIGs: sig-node, sig-storage
- Design proposal link (community repo): kubernetes/kubernetes#58635 (design proposal will be added later under kubernetes/community)
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least

[2018-02-03 13:10] yastij commented on #551
/assign

[2018-02-03 13:10] yastij commented on #551
/kind feature
/sig storage
/sig node

[2018-02-03 14:18] idvoretskyi commented on #268
@bsalamat what is the reason to close the issue?

[2018-02-03 20:38] yastij commented on #551
/area cloudprovider

[2018-02-05 19:12] yujuhong opened #552 "CRI: logging, stats, and more"
# Feature Description
- One-line feature description (can be used as a release note): Continue improving CRI in various aspects to better support non-docker runtimes.
- Primary contact (assignee): @yujuhong
- Responsible SIGs: sig-node
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNE

[2018-02-05 21:07] bsalamat commented on #268
@idvoretskyi The feature is already implemented. There are separate issues to track the next steps for the feature: #48648, #57471

[2018-02-08 02:41] wanghaoran1988 commented on #384
/lifecycle frozen

[2018-02-09 00:54] yuvipanda commented on #374
Can someone make the design document public? I can't access it...

[2018-02-09 01:14] bsalamat commented on #374
@yuvipanda Please join [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev) to gain access.

[2018-02-09 12:27] kargakis commented on #374
@bsalamat what's the correct milestone?

[2018-02-09 18:49] quinton-hoole commented on #46
The current implementation of Federated Replicasets will not be transitioned to Beta.  There is a new API on the way.  We'll open a separate feature to track that.

[2018-02-09 18:49] #46 closed

[2018-02-10 16:34] andrden commented on #169
This would make it possible to see dependencies on other microservices without looking into given service source code. It could be a nice feature. And it would also make env. variables space less crowded

[2018-02-11 10:20] php-coder commented on #213
/remove-lifecycle rotten

[2018-02-12 11:55] ezware commented on #39
how to disable disk pressure observe?

[2018-02-13 19:54] kow3ns commented on #289
/remove-lifecycle rotten

[2018-02-14 09:16] idvoretskyi commented on #265
@m1093782566 based on the conversation at https://github.com/kubernetes/kubernetes/pull/56319, can you confirm that the feature is still on track for 1.10?

[2018-02-14 09:18] m1093782566 commented on #265
we are targetting 1.11 now

[2018-02-14 11:32] idvoretskyi commented on #265
@m1093782566 please, updated the feature target stage and milestone.

Thanks

[2018-02-14 12:16] feiskyer commented on #265
Moved milestone out of v1.10.

[2018-02-16 02:38] saad-ali commented on #543
We're moving this to 1.11. For this quarter the focus is on coming up with a Restore API and CSI implementation (both out-of-tree)

[2018-02-16 09:56] #103 closed

[2018-02-16 22:32] rphillips opened #553 "Deprecate ComponentStatus"
# Feature Description
- One-line feature description (can be used as a release note): Deprecate ComponentStatus APIs and kubectl componentstatus functionality
- Primary contact (assignee): @rphillips
- Responsible SIGs: @kubernetes/sig-cluster-lifecycle-feature-requests
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Issue https://github.com/kubernetes/kubernetes/issues

[2018-02-16 22:40] rphillips commented on #553
I am not sure if this deprecation proposal fits under features or kubernetes issues. If it needs to be moved, just let me know.

[2018-02-16 22:58] roberthbailey commented on #553
Have you found out who is using this API and confirmed that they will be able to move off it in this timeframe? It's relatively short given that the api deprecation is effectively being announced just before the 1.10 code freeze.

[2018-02-16 22:59] roberthbailey commented on #553
/cc @hulkholden

[2018-02-16 23:21] roberthbailey commented on #553
Rather than just saying "we should delete this because it isn't perfect" what about finishing the replacement (see https://github.com/kubernetes/kubernetes/issues/18610)? Then we could give consumers of this API something to move _to_ instead of just saying that the API is going away.

[2018-02-17 02:12] #123 closed

[2018-02-17 22:32] #75 closed

[2018-02-18 02:16] k82cn commented on #166
Can we enable this by default in some test/dev tools, e.g. local cluster? That's really a challenge for user to try it in prod environment for this feature :).

/cc @luxas @davidopp @gmarek

[2018-02-18 09:40] hulkholden commented on #553
Agreed - I don't think it's helpful to deprecate something without having a clear recommendation of what it should be replaced with. At the very least we need at least one minor release with both the old and new thing around so we can safely migrate all our clusters.

[2018-02-18 22:56] #94 closed

[2018-02-19 09:13] fabiand commented on #371
One thing I noticed creating a plugin for KubeVirt is that it would be handy to get the cluster credentials and additional stuff (i.e. cluster api sevrer uri) passed as env variables. Is this being done today?

[2018-02-19 11:08] #129 closed

[2018-02-19 14:11] #173 closed

[2018-02-19 17:14] #72 closed

[2018-02-19 17:14] #104 closed

[2018-02-19 20:17] #100 closed

[2018-02-19 21:17] #101 closed

[2018-02-19 21:18] #60 closed

[2018-02-20 03:24] #107 closed

[2018-02-20 04:25] #108 closed

[2018-02-20 08:29] #176 closed

[2018-02-20 09:29] #97 closed

[2018-02-20 10:20] gmarek commented on #166
/lifecycle frozen

[2018-02-20 10:22] gmarek commented on #166
The best we can do in OSS is to create a dedicated test suite for this. If someone is running tests internally it would be good to know, but I don't think we ever figured out how to gather such data.

[2018-02-20 17:52] idvoretskyi commented on #553
Alpha release target (x.y): 1.10 add code to deprecate kubectl get cs. 1.10 add code to deprecate the APIs

Apologies, but the feature freeze deadline for 1.10 has already passed - https://github.com/kubernetes/sig-release/blob/master/releases/release-1.10/release-1.10.md#timeline.

I can recommend starting working on this within the @kubernetes/sig-cluster-lifecycle-feature-requests in the scope

[2018-02-20 22:19] timothysc commented on #553
imho this no longer belongs to sig-cluster-lifecycle and falls into api-deprecation policy.

/cc @kubernetes/sig-api-machinery-feature-requests

[2018-02-20 22:43] #98 closed

[2018-02-20 22:57] lalomartins commented on #423
I'm new here, but I don't think this is stale. Implementation is in progress, in alpha cycle, I'm using it, and it mostly works. Maybe issues with a stage/* label should be immune to stale?

[2018-02-21 03:30] deads2k commented on #553
The current feature that only works for "special" deployments with the right hardcoded ports, exposed insecurely, on localhost.  None of those assumptions work in the general case. If we were honest about the level of API, it would have been alpha all this time.

This isn't so much removal without a plan as a recognition that bad assumptions were made in the original design and it probably shouldn

[2018-02-21 13:10] deads2k commented on #553
apimachinery owns how the the API is served, but we try to stay out what the content of a particular API is.  @kubernetes/sig-cluster-lifecycle-feature-requests seems like a pretty good fit given their perspective on how clusters are deployed.

[2018-02-21 14:59] #105 closed

[2018-02-21 19:33] crassirostris commented on #22
/remove-lifecycle stale

[2018-02-22 15:23] #256 closed

[2018-02-22 20:15] deads2k commented on #371
@soltysh @adohe it may be worth considering experiences here.  I've seen pulls going by that make the registration process look a little weird.  I suspect the attempt was to "make it easy", but may have accidentally produces additional, unnecessary work for implementors

[2018-02-23 03:01] guangxuli commented on #386
hi @mwielgus  what's progress about this feature? Is there any doc links for it?

[2018-02-23 17:48] #99 closed

[2018-02-24 13:07] #73 closed

[2018-02-24 23:17] #174 closed

[2018-02-26 08:50] #209 closed

[2018-02-26 15:10] bgrant0607 commented on #460
@kubernetes/sig-auth-feature-requests @kksriram Someone please update the schedule for this feature.

[2018-02-26 18:01] kksriram commented on #460
@jcbsmpsn Did you mean for this to specifically track an integration that enables use of Google's KMS to encrypt secrets at rest?

#51965 outlined a proposal for abstracting KMS providers and #55684 implemented as an alpha feature in 1.10 that generic interface.

If this is specific to using Google KMS, then perhaps @immutableT this is the issue tracking your implementation of the #55684 provider

[2018-02-26 18:43] immutableT commented on #460
@kksriram Implementation of Google KMS gRPC Plugin will not ship with Kubernetes, instead, it will be made available under in a separate repo under GoogleCloudPlatform.

[2018-02-27 04:50] msau42 commented on #490
1.10 Beta PR has been merged: kubernetes/kubernetes#593911

1.11 design for dynamic provisioning is here: kubernetes/community#1857

[2018-02-27 04:52] msau42 commented on #121
1.10 Beta PR has been merged: kubernetes/kubernetes#59391

[2018-02-27 11:16] #182 closed

[2018-02-27 15:01] timothysc commented on #281
From #60412 it appears beta is a push to 1.11

[2018-02-27 17:04] verb commented on #495
Feature will be included as alpha in 1.10.

[2018-02-27 17:05] verb commented on #277
We made significant progress but could not agree on the API in time for 1.10. This slips to 1.11.

[2018-02-27 20:21] mtaufen commented on #281
@timothysc that is correct. I was hoping the node authorizer checkbox for v1.10 could make it too, but that seems increasingly unlikely given the time constraints...

[2018-02-28 17:43] childsb commented on #278
/remove-lifecycle stale

[2018-02-28 21:16] tamalsaha commented on #492
We are big fans and users of *WebHooks. But one issue is that there is no way to know if *WebHook admission controller is enabled in a cluster or not. This is an ux issue. If *Webhook admission controller is not enabled, hooks just do not get called. This is especially important for manged clusters like GKE, etc.  I would like to see some way to resolve this before webhook is considered GA.

A few

[2018-02-28 22:51] #74 closed

[2018-03-01 04:15] hzxuzhonghu commented on #492
agree

[2018-03-01 04:23] liggitt commented on #492
that doesn't work well when you have multiple servers (as in the case of extension API servers), most of which you would not allow to write to the webhooks.

[2018-03-01 04:32] hzxuzhonghu commented on #492
adding a Status section to not to  Webhook, should be `ValidatingWebhookConfiguration` and `MutatingWebhookConfiguration`

That's not a big blocker, servers should have access to configuration and its subresource status

[2018-03-02 00:16] #250 closed

[2018-03-02 08:54] erictune commented on #492
Filed https://github.com/kubernetes/kubernetes/issues/60700 to track need for better debugging of case when admission controller off.

[2018-03-02 15:56] liggitt commented on #516
moving to the next milestone, design was not finalized

[2018-03-02 17:40] deads2k commented on #263
Updated the spreadsheet.  No new docs, it was a promotion without updates.

[2018-03-02 17:51] Bradamant3 commented on #19
@soltysh feature tracking spreadsheet indicates doc updates are needed. Is this indeed the case? If so, please get your PR in asap (today is doc deadline, but I haven't been good about notifying folks). If not, could you please update [the spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)? Thanks!

[2018-03-02 18:09] janetkuo commented on #548
From https://github.com/kubernetes/kubernetes/pull/59630 this feature should be alpha, instead of stable. And if this targets 1.10, it needs to be added to 1.10 milestone.

Also, have any of you filed [exception request](https://github.com/kubernetes/features/blob/master/EXCEPTIONS.md) for this feature?

[2018-03-02 18:24] Bradamant3 commented on #542
@mikedanese this item is listed on the feature tracking spreadsheet for 1.10 as needing docs. Does it in fact need them? If not, could you please [update here](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)? If so, could you please get a docs PR in against the 1.10 branch of the k8s/website repo asap? Thanks!

[2018-03-02 18:34] #300 closed

[2018-03-02 18:35] Bradamant3 commented on #541
@ericchiang does this feature need docs? Could you please update [the tracking spreadsheet for 1.10](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)? And get your PR in asap if docs are needed? lmk if I can help further.

[2018-03-02 18:41] Bradamant3 commented on #279
@liggitt does this need docs for 1.10? Maybe not? (can't quite tell from comments) Could you please update [the 1.10 tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0) and any related docs PR? Thanks!

[2018-03-02 18:43] liggitt commented on #279
no updates in 1.10

[2018-03-02 18:51] Bradamant3 commented on #43
@mikedanese it looks as though the docs could use some updating for GA:
-  built: https://kubernetes.io/docs/admin/kubelet-tls-bootstrapping/
- repo: https://github.com/kubernetes/website/blob/master/docs/admin/kubelet-tls-bootstrapping.md

Could you also please update [the spreadsheet for 1.10](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)? Thanks

[2018-03-02 19:09] Bradamant3 commented on #5
@erictune doc updates, please? See also [the 1.10 feature tracking spreadsheet[(https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0). lmk if you have any questions. We need to get a docs PR reviewed and merged by 3/9. Thanks!

[2018-03-02 19:13] liggitt commented on #5
@php-coder ^

[2018-03-02 19:19] Bradamant3 commented on #88
@wlan0 @jagosan @luxas if I'm reading the comments right, we don't need docs updates for 1.10. Can you please confirm? Thanks!

[2018-03-02 19:26] php-coder commented on #5
@Bradamant3 @liggitt What doc updates are required?

For the changes related to API group transition, I've submitted: https://github.com/kubernetes/website/pull/7562, https://github.com/kubernetes/examples/pull/206, and https://github.com/kubernetes/examples/pull/208

[2018-03-02 19:29] erictune commented on #5
I'm not the right owner for PSP Doc updates.

On Fri, Mar 2, 2018 at 11:26 AM, Vyacheslav Semushin <
notifications@github.com> wrote:

[2018-03-02 19:29] Bradamant3 commented on #5
That's all we need. I've added the PR to the tracking spreadsheet. Thanks!

[2018-03-02 19:35] #179 closed

[2018-03-02 19:35] #125 closed

[2018-03-02 19:35] #126 closed

[2018-03-02 20:14] Bradamant3 commented on #427
@johnbelamaric looks as though you need to update the doc for 1.10? In case it helps: https://github.com/kubernetes/website/blob/master/docs/tasks/administer-cluster/coredns.md
I can help if you like; looks as though feature state flag needs to be updated, but I'm not sure just how you want to refer to the 1.10 release and the move to beta.

[2018-03-02 20:16] Bradamant3 commented on #504
@MrHohn doc updates, please? Also please update [the feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)

[2018-03-02 20:22] Bradamant3 commented on #304
@xingzhou doc PR, please? also please update [the 1.10 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)
It looks as though there are several related features going into this release; I'm tracking them for docs purposes per the spreadsheet. lmk if something else would work better. Also if one doc PR covers multiple issues,

[2018-03-02 20:22] Bradamant3 commented on #531
@mlmhl  doc PR, please? also please update [the 1.10 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)
It looks as though there are several related features going into this release; I'm tracking them for docs purposes per the spreadsheet. lmk if something else would work better. Also if one doc PR covers multiple issues, i

[2018-03-02 20:27] Bradamant3 commented on #499
@NickrenREN do we need additional doc for this feature? If so, please submit PR as soon as possible. Either way, please update  [the 1.10 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)
Thanks!

[2018-03-02 20:40] Bradamant3 commented on #545
@NickrenREN is this feature still on track for 1.10? Looks like it needs doc. Can you please update [the 1.10 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)
cc @idvoretskyi

[2018-03-02 20:44] Bradamant3 commented on #496
@gnufied Can you please update docs for 1.10? Also [1.10 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)
Thanks!

[2018-03-02 20:47] Bradamant3 commented on #361
@jingxu97 it looks as though docs need updating for 1.10. Can you please submit a docs PR as soon as possible (it's now officially late), and update [the 1.10 feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0)? Thanks!

[2018-03-02 20:50] Bradamant3 commented on #178
@saad-ali any doc updates needed for 1.10? Please update [the feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0). And please get any needed doc PR in as soon as possible (this reminder is late, too ...). Thanks!

[2018-03-02 21:10] msau42 commented on #499
The PR is here, but I think needs to be updated to use the new name of the admission controller:
https://github.com/kubernetes/website/pull/7165/files

[2018-03-02 21:29] MrHohn commented on #504
@Bradamant3 Sorry I missed that, on it now.

[2018-03-02 22:56] mikedanese commented on #43
This didn't make the cut.

[2018-03-03 01:02] jingxu97 commented on #361
Hi Jennifer,

I submitted the PR https://github.com/kubernetes/website/pull/7614, but I
could not edit the spreadsheet. Could you please help me check it? Thanks!

Best,
Jing

On Fri, Mar 2, 2018 at 12:47 PM, Jennifer Rondeau <notifications@github.com>
wrote:

--
- Jing

[2018-03-03 01:50] NickrenREN commented on #545
@Bradamant3  this is not on track for 1.10, can you help move to next milestone
it is not implemented yet, need extra work.
cc @saad-ali

[2018-03-03 01:53] NickrenREN commented on #499
@msau42  admission controller name is being updated here: https://github.com/kubernetes/website/pull/7576/files
And i am writing PV protection description, will send it out soon

[2018-03-03 02:03] miekg commented on #427
[ Quoting <notifications@github.com> in "Re: [kubernetes/features] Switch de..." ]

What exactly do you need here. The doc you linked only needs to say beta?
For the CoreDNS version to be used? That should be 1.0.6 or higher.

[2018-03-03 03:35] NickrenREN commented on #499
PR: https://github.com/kubernetes/website/pull/7620

[2018-03-03 03:37] m1093782566 commented on #539
Thanks @idvoretskyi !

[2018-03-03 03:39] m1093782566 commented on #539
@islinwb we may need some documents.

[2018-03-03 12:36] islinwb commented on #539
@m1093782566 I'll work on that :)

[2018-03-03 19:16] nehagup commented on #269
I would like to take up this project as a part of Gsoc'18. Are there any pre-requisites?

[2018-03-04 08:17] k82cn commented on #269
@nehagup , I think you need to submit application (refer to https://summerofcode.withgoogle.com/how-it-works for more detail). If any more question, please poke me at slack :)

[2018-03-05 04:31] idvoretskyi commented on #545
@NickrenREN removed from the milestone. Please, update the feature description to define the correct roadmap.

cc @saad-ali @kubernetes/sig-storage-feature-requests

[2018-03-05 04:34] idvoretskyi commented on #92
@mikedanese any progress is expected with this feature? It was on hold for a while.

[2018-03-05 04:39] idvoretskyi commented on #496
@gnufied @saad-ali @kubernetes/sig-storage-feature-requests can you confirm that this feature is delivered in v1.10?

[2018-03-05 06:50] NickrenREN commented on #545
@idvoretskyi  sorry, i can not edit the description.  cc @saad-ali

[2018-03-05 15:11] Bradamant3 commented on #432
@jsafrane Docs update, please! Also please update the [feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=0). We need the docs asap. PR merges are due this Friday (March 9). Thanks!

[2018-03-05 15:14] Bradamant3 commented on #361
Hi @jingxu97 -- Thanks for the docs PR. The spreadsheet is updated. Please note that you need to rebase your docs PR against the 1.10 docs branch -- we branch docs differently from the code repos. Thanks again! Jennifer

[2018-03-05 15:58] Bradamant3 commented on #427
@miekg Looks as though I can make the doc updates. Wrangling merge conflicts atm, will post PR here and add you as reviewer when I'm done fixing.

[2018-03-05 16:05] johnbelamaric commented on #427
@Bradamant3 thanks for the offer, but I can take care of this today, unless you really want to do it?

[2018-03-05 16:30] johnbelamaric commented on #427
https://github.com/kubernetes/website/pull/7638

[2018-03-05 18:05] Bradamant3 commented on #427
Go for it! Thanks!

[2018-03-05 22:17] bowei commented on #536
The design discussion has not been resolved, this looks like now targeted for v1.11? Please update if not so.

[2018-03-06 00:45] janetkuo commented on #548
@jberkus the exception is filed here: https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/sPvjpRMf5es

[2018-03-06 01:38] m1093782566 commented on #536
It seems we have missed the v1.10 time window. I will present it on next SIG-Network meeting to see if it can get a v1.11 ticket?

[2018-03-06 01:56] ericchiang commented on #541
Docs have been submitted here https://github.com/kubernetes/website/pull/7648

[2018-03-06 10:56] jsafrane commented on #432
Docs: https://github.com/kubernetes/website/pull/7655

[2018-03-06 12:46] yastij commented on #508
cc @chewie

[2018-03-06 13:29] Bradamant3 commented on #497
@verult is this feature in for 1.10? If so, we also need docs information ([here](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=579025588). If not, can you please target next or 1.11? Thanks! cc @idvoretskyi

[2018-03-06 13:42] Bradamant3 commented on #515
@smarterclayton sorry, I thought I had pinged you about this earlier. If this feature needs docs, can you please get a PR in in the next day or so? We need to merge all docs PRs by this Friday (March 9). If not, can you please indicate on the [feature tracking spreadsheet](https://docs.google.com/spreadsheets/d/17bZrKTk8dOx5nomLrD1-93uBfajK5JS-v1o-nCLJmzE/edit#gid=579025588)? Thanks!

[2018-03-06 16:03] Bradamant3 commented on #178
@saad-ali we need doc updates this week, please! See previous comment. Docs PRs are due to be merged by Friday, March 9 and we need to allow time to review. Thanks! cc @idvoretskyi

[2018-03-06 16:04] Bradamant3 commented on #19
@soltysh docs ping -- deadline for merging docs PRs is this Friday, March 9. See previous comment. Thanks! /cc @idvoretskyi

[2018-03-06 16:11] Bradamant3 commented on #88
@wlan0 @jagosan @luxas -- I checked the docs links ^^. If this feature is moving to beta with 1.10, looks as though the DaemonSet example needs to be updated, and also [Administration](https://github.com/kubernetes/website/blob/master/docs/tasks/administer-cluster/running-cloud-controller.md). I can help, but please let me know feature status. Thanks!
/cc @idvoretskyi

[2018-03-06 16:12] Bradamant3 commented on #542
@mikedanese @smarterclayton docs update please? We need to get docs PRs merged by this Friday (March 9). Thanks!
/cc @idvoretskyi

[2018-03-06 16:29] gnufied commented on #304
I would think that we have to drop this feature from 1.10 roadmap. AFAICT - no code has been written for it and design document is not merged yet as well.

[2018-03-06 19:09] verult commented on #497
@Bradamant3 AFAIK there's no work being done for this release, so if anyone has permissions to change the milestone please move it to 1.11. I also may not be able to look at this feature for 1.11, unfortunately.

[2018-03-06 19:34] Bradamant3 commented on #531
@mlmhl docs ping ^^
/cc @idvoretskyi

[2018-03-06 19:44] gnufied commented on #531
This feature did make make into 1.10 milestone. Please drop this from the list.

[2018-03-06 19:45] wlan0 commented on #88
@Bradamant3 We are not moving to beta in 1.10. We're still working out some issues and e2e tests haven't been added yet.

[2018-03-06 22:48] smarterclayton commented on #515
@juanvallejo can you add a doc?

[2018-03-06 23:22] juanvallejo commented on #515
@smarterclayton sure, will add doc

[2018-03-07 07:08] warmchang commented on #361
Hi @jingxu97 @saad-ali , the local ephemeral storage management only applies for the root partition in release-1.9 (alpha). Does it suppot the runtime partition in release-1.10 (beta)?

[2018-03-07 08:54] krmayankk commented on #213
/sig sig-auth

[2018-03-07 09:36] warmchang commented on #361
@jingxu97 I checked the original proposal [local-storage-overview](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/local-storage-overview.md#primary-partitions), it include the "Runtime Patition" description.

One scenario:
The K8S deploy on IaaS (OpenStack or VMware) platform, base on considerations such as disk capacity, the nodes VMs would mount cloud d

[2018-03-07 17:22] dashpole commented on #361
@warmchang the runtime partition still has the same support it has had in the past.  The kubelet will monitor the runtime partition, and perform evictions if space runs low based on the highest consumers of the runtime partition.

In your example, I'm not sure why using a cloud disk requires you to split the kubelet's and the runtime's partitions.

[2018-03-07 22:22] mikedanese commented on #542
I added a comment. No docs needed.

[2018-03-08 02:39] warmchang commented on #361
@dashpole Before this Local Ephemeral Storage features, because the container writable layer unlimited write temporary files (such as logs) lead to full disk, resulting in the operating system hang, in order to prevent this behavior, we mount a Separate partition for Docker Root Dir.

We try the feature by this scenario, and found that it can not limit the capacity of container.

From a technical

[2018-03-08 15:45] soltysh commented on #19
@Bradamant3 sorry for the delay, no doc update is needed for this feature.

[2018-03-08 21:09] Bradamant3 commented on #496
@gnufied @saad-ali @kubernetes/sig-storage-feature-requests Friday March 9 is the deadline for docs PRs to be merged. Is this feature going to stable into v1.10? If so, we need docs urgently. If not, please let us know! Thanks!

[2018-03-09 11:11] #244 closed

[2018-03-09 14:14] #273 closed

[2018-03-09 17:17] #37 closed

[2018-03-09 17:17] #83 closed

[2018-03-09 18:18] #84 closed

[2018-03-09 18:18] #136 closed

[2018-03-09 18:18] #57 closed

[2018-03-09 18:31] idvoretskyi commented on #365
@smarterclayton when you are estimating the GA stage?

[2018-03-09 18:56] saad-ali commented on #496
This does not need to be tracked for 1.10 milestone

[2018-03-09 19:14] idvoretskyi commented on #496
@saad-ali can you provide the estimated roadmap for the feature?

[2018-03-09 19:28] sttts commented on #34
There are a number of people using sysctls now. I have not heard any issues with them.

I suggest to promote the current API (transformed to native fields in the PSP and on pods) to beta for 1.11.

@jeremyeder @vishh @derekwaynecarr @php-coder

@kubernetes/sig-node-api-reviews

[2018-03-09 21:21] #128 closed

[2018-03-09 22:57] smarterclayton commented on #365
1.11 unless we have a reason not to.

On Fri, Mar 9, 2018 at 1:31 PM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2018-03-10 04:02] saad-ali commented on #178
@Bradamant3 my apologies for missing this. PR is here https://github.com/kubernetes/website/pull/7698. Hope it is not too late.

[2018-03-10 07:31] #387 closed

[2018-03-10 23:47] #349 closed

[2018-03-11 00:48] #259 closed

[2018-03-11 14:01] #381 closed

[2018-03-11 18:05] #257 closed

[2018-03-11 19:06] #359 closed

[2018-03-12 10:21] #109 closed

[2018-03-12 16:20] dashpole commented on #361
The behavior you describe should work regardless of this feature.  Make sure you have [ --root-dir](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L367) set correctly.  Docker reports its root directory to the kubelet, so as long as your images are stored on the same partition that contains `/var/lib/docker` (or whatever your docker root dir is), this shoul

[2018-03-12 17:28] #169 closed

[2018-03-12 23:36] idvoretskyi commented on #21
@kgrygiel @mwielgus can you provide the exact feature roadmap?

[2018-03-13 16:54] luxas commented on #281
This is then wrongly flagged beta in http://blog.kubernetes.io/2018/03/first-beta-version-of-kubernetes-1-10.html, as this label is beta here, swapping.
cc @nickchase (thanks for all your hard work on the article, seems to have been a communication issue here)

[2018-03-13 16:57] luxas commented on #43
cc @nickchase

[2018-03-13 16:58] luxas commented on #88
FYI @nickchase ^

[2018-03-13 16:59] idvoretskyi commented on #43
@mikedanese can you please update the OP with the new issue template? It will simplify the feature tracking a lot. Thanks

@kubernetes/sig-auth-feature-requests @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-node-feature-requests

[2018-03-13 21:11] saad-ali commented on #499
Correct me if I am wrong but this feature skipped alpha and went directly to beta because it piggy backed on the work done for https://github.com/kubernetes/features/issues/498.

Changing labels to reflect that.

[2018-03-14 00:02] mtaufen commented on #281
Thanks for catching that @luxas.
@nickchase what do we need to do to update the post?

[2018-03-14 05:30] krmayankk commented on #213
/sig node

[2018-03-14 12:09] #39 closed

[2018-03-14 12:13] nottrobin commented on #491
Where's the code for this feature? I understand there's not yet proper documentation, but I was hoping I might be able to read the code so understand what might be causing #61145

[2018-03-14 13:46] pospispa commented on #499
That's correct.
One of the places where it was discussed was during [design review](https://github.com/kubernetes/community/pull/1608).

[2018-03-14 15:22] VineethReddy02 commented on #269
Hello!!!
I would like to work in batch scheduling for GSOC this year. I am familiar with golang and docker. How can i begin with this project and where can i find resources regarding this project ??

[2018-03-15 04:24] liggitt commented on #24
/remove-lifecycle rotten

[2018-03-16 07:53] warmchang commented on #361
@dashpole Very useful skill!

After verification (ping @zhangxiaoyu-zidif ), the expected effect can be achieved. 👏👏

[code]

[2018-03-16 08:05] zhangxiaoyu-zidif commented on #361
that's great for us. thanks for your help =) @dashpole

[2018-03-16 23:03] waldman commented on #374
Hi, I'm trying to use this feature by creating the following configMap
[code]

But it's failing validation... Do you have any documentation, example, snippet showing how I should properly do this?

Thanks a lot! =)

[2018-03-19 01:57] wackxu commented on #503
/remove-lifecycle stale

[2018-03-19 01:58] wackxu commented on #503
/remove-lifecycle rotten

[2018-03-20 00:08] bsalamat commented on #374
@waldman Here is a scheduler policy config (in JSON) that I was using a while ago to test configuring scheduler:
[code]

I then create the configmap by running:
[code]

[2018-03-20 00:17] krmayankk commented on #374
Is this a currently supported feature, is there documentation and what valid parameters I can use for predicates and other fields

[2018-03-20 00:43] bsalamat commented on #374
Yes, it is a supported feature, but our documentation about scheduling config policy is not adequate, unfortunately.
The built-in predicates do not take parameters. You can only add/remove predicates in the config file/configmap.

[2018-03-21 11:48] jeremyeder commented on #34
Thanks, @sttts!

[2018-03-21 15:59] danigian commented on #513
Are you planning to introduce support for Low-Priority VMs on VMSS?
In my opinion it would enable really interesting scenarios

[2018-03-21 19:43] derekwaynecarr commented on #34
@sttts it needs a feature gate.

from node side, it would be @sjenning who could help push this in sig-node.  will sync w/ @dchen1107 next week.  we discussed this briefly in last weeks sig-node.

[2018-03-21 19:50] sttts commented on #34
@derekwaynecarr in the kubelet not much would change code-wise. But of course we need a "go" from the node team that they think using sysctls is safe enough for beta. Note, that graduation to beta does not say anything about extending the list of safe sysctls.

[2018-03-22 01:52] feiskyer commented on #513
@danigian Yep, I think so. Let me check this after v1.10 release.

[2018-03-22 23:42] micahhausler commented on #423
/remove-lifecycle rotten

[2018-03-24 00:15] bgrant0607 commented on #383
/remove-lifecycle stale

[2018-03-26 11:07] php-coder commented on #135
/reopen
/lifecycle frozen
/remove-lifecycle rotten

[2018-03-26 13:48] pires commented on #370
With Kubernetes 1.10 the alpha support for gRPC KMS, it's now possible to implement this as an out-of-tree integration.

[2018-03-26 13:49] pires commented on #383
What's the status for 1.10 and following?

[2018-03-26 15:35] dims commented on #370
@pires looks like @khenidak has already implemented this stuff :) https://github.com/Azure/kubernetes-kms

[2018-03-27 04:41] smarterclayton commented on #135
/reopen
/lifecycle frozen

On Mon, Mar 26, 2018 at 7:07 AM, k8s-ci-robot <notifications@github.com>
wrote:

[2018-03-27 05:16] idvoretskyi commented on #135
/reopen

[2018-03-27 16:32] derekwaynecarr commented on #127
i will raise this topic in k8s 1.11 planning for sig-node.

[2018-03-27 21:19] derekwaynecarr commented on #276
updated beta status for 1.10

[2018-03-27 21:21] derekwaynecarr commented on #368
device plugins graduated to beta in 1.10.

[2018-03-28 01:09] MikeSpreitzer commented on #498
Is https://github.com/kubernetes/community/pull/1174 supposed to work when pods and PVCs are stored in different etcd clusters?

[2018-03-28 01:19] liggitt commented on #498
Yes, it works via finalizers on the API objects. It doesn't matter if those resources are backed by different etcd clusters.

Out of curiosity, are you aware of a setup that overrides etcd configuration to store PV and PVC objects in different etcd clusters?

[2018-03-28 06:49] redbaron commented on #496
This feature was specifically mentioned in 1.10 release notes, but was it actually done or just planned to be done in 1.10 at some point?

[2018-03-28 17:07] gnufied commented on #496
@redbaron This feature in general tracks, general improvement to metrics we emit from storage components. In 1.10 we added additional metrics (namely bound/unbound volume count). In 1.11 the plan is to introduce new metrics that expose problematic state for ease of debugging.

[2018-03-28 17:12] idvoretskyi commented on #496
@redbaron the release notes fix was pushed, thanks for noticing - https://github.com/kubernetes/kubernetes/pull/61840

@gnufied per @saad-ali the progress that was made on this feature hasn't been major enough to be tracked under the features list of 1.10 release.

[2018-03-29 01:18] smarterclayton commented on #135
Ihor 1, bot 0

[2018-03-29 07:48] rawkode commented on #460
@immutableT Does that GCP repository exist / is public yet?

[2018-03-29 11:54] mlmhl commented on #543
Do we have any plan for this feature in 1.11? @saad-ali  @jingxu97  @xing-yang