[2022-09-04 03:33] astraw99 opened #3493 "Add `--diff` flag to `kubectl get xxx -w -oyaml` to see the diff lines"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add `--diff` flag to `kubectl get xxx -w -oyaml` to see the diff lines.
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/112224
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha

[2022-09-04 03:34] astraw99 commented on #3493
/sig cli

[2022-09-05 04:04] kerthcet commented on #3322
/remove-lifecycle stale

[2022-09-06 15:18] liggitt commented on #2799
Applying labels for 1.26 per https://groups.google.com/a/kubernetes.io/g/dev/c/R1afPL7zpT4/m/lKv7eg3jBwAJ

[2022-09-06 15:18] liggitt commented on #3325
Applying labels for 1.26 per https://groups.google.com/a/kubernetes.io/g/dev/c/R1afPL7zpT4/m/lKv7eg3jBwAJ

[2022-09-06 16:38] aramase commented on #3130
/remove-lifecycle stale

This KEP has been replaced by https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/3299-kms-v2-improvements. Should we close this issue?

[2022-09-06 18:03] Jefftree commented on #2896
/remove-lifecycle stale

[2022-09-07 02:41] krmayankk commented on #961
@soltysh  can you mark this as tracked ? I am working on the KEP and test updates this week

[2022-09-07 13:59] logicalhan opened #3498 "Extend metrics stability"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/3498-extending-stability
- Discussion Link: [wg-reliability meeting notes](https://docs.google.com/document/d/1KF_kof3rBWzis87wMkwXicetREuutxlPI6dFDSqdWbo/edit#heading=h.ppm7bx36o48l)
- Pr

[2022-09-07 14:01] logicalhan commented on #3498
/sig instrumentation

[2022-09-07 14:26] logicalhan commented on #3498
/lead-opted-in

[2022-09-07 15:01] #2221 closed

[2022-09-07 15:33] pohly commented on #1472
/close

Feature is complete and marked as "implemented" in the kep.yaml.

[2022-09-07 15:33] #1472 closed

[2022-09-07 16:43] liggitt commented on #1635
opened https://github.com/kubernetes/website/pull/36663

[2022-09-07 19:27] xing-yang commented on #2317
/milestone v1.26

[2022-09-07 19:28] xing-yang commented on #3476
/milestone v1.26

[2022-09-07 19:29] xing-yang commented on #1790
/milestone v1.26

[2022-09-07 19:31] xing-yang commented on #2268
/milestone v1.26

[2022-09-07 19:32] xing-yang commented on #3314
/milestone v1.26

[2022-09-07 19:33] xing-yang commented on #2857
/milestone v1.26

[2022-09-07 19:35] xing-yang commented on #1491
/milestone clear

[2022-09-07 19:35] xing-yang commented on #1491
/milestone v1.26

[2022-09-07 19:37] xing-yang commented on #3141
/milestone v1.26

[2022-09-07 19:39] xing-yang commented on #3333
/milestone v1.26

[2022-09-08 09:11] #2994 closed

[2022-09-08 11:09] kerthcet commented on #3280
/cc

[2022-09-08 15:28] kerthcet commented on #3280
Another idea is can we add a new field to podSpec like `PreemptionPolicy`, maybe `PreemptedPolicy`. For if we apply the so called `PreemptLowerPriorityWithoutViolatePDB` in scheduler, it will impact all scheduling pods, but maybe some pods can tolerate the preemptions even they have PDB protecting. Then even for `PreemptLowerPriority` policy, we can also prevent pod from preemption if they want.

[2022-09-08 15:42] denkensk commented on #3280
@kerthcet  It likes the option1 in my design. `option1 Add PreemptLowerPriorityWithoutViolatePDB as an option in the PreemptionPolicy` You can give your comments in the google doc  https://docs.google.com/document/d/1g2wj8S04M0yTy2t4l4GzrdARtxBpkBTfkJHw0oqBvXM/edit?usp=sharing

[2022-09-08 16:51] dashpole commented on #3498
/assign @logicalhan

[2022-09-08 16:53] dashpole commented on #3466
/assign @logicalhan

[2022-09-08 16:55] dashpole commented on #1748
/lifecycle frozen
I think we might need to look for a new owner to drive this work in 1.26

[2022-09-10 04:23] n4j commented on #2837
/reopen

[2022-09-11 19:22] rhockenbury commented on #563
/stage stable

[2022-09-11 19:33] rhockenbury commented on #2254
@bobbypage @giuseppe Can we close this issue since it's graduated to stable?

[2022-09-11 19:38] rhockenbury commented on #1488
@davidz627 Can we close this since it's graduated to stable?

[2022-09-11 19:39] rhockenbury commented on #3466
/milestone 1.26

[2022-09-11 19:40] rhockenbury commented on #3466
/milestone v1.26

[2022-09-11 19:40] rhockenbury commented on #3498
/milestone v1.26

[2022-09-12 07:04] giuseppe commented on #2254
yes, I think it can be closed since there is nothing left to do.  Thanks for the reminder!

/close

[2022-09-12 07:04] #2254 closed

[2022-09-12 12:39] xing-yang commented on #3294
/milestone v1.25

[2022-09-12 12:40] xing-yang commented on #3294
/milestone v1.26

[2022-09-12 12:41] xing-yang commented on #1432
/milestone v1.26

[2022-09-12 12:45] xing-yang commented on #3294
/assign @ttakahashi21

[2022-09-12 12:50] ttakahashi21 commented on #3294
/assign @ttakahashi21

[2022-09-12 12:53] ttakahashi21 commented on #3294
/assign @ttakahashi21

[2022-09-12 16:52] mattcary commented on #1488
I think so. @Jiawei0227 any objections?

[2022-09-12 17:45] marosset commented on #2258
/label lead-opted-in

[2022-09-12 17:59] marosset opened #3503 "Host network support for Windows pods"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Host network support for Windows pods
- Kubernetes Enhancement Proposal:  (https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows/3503-host-network-support-for-windows-pods)
- Discussion Links:
Discussed at the SIG-Windows community meetinig on 9/13/2022 - https://youtu.be/gC3lWMtP0-I?

[2022-09-13 01:45] rhockenbury commented on #1488
Thanks all.

/milestone clear
/close

[2022-09-13 01:45] #1488 closed

[2022-09-13 07:01] kerthcet commented on #3094
I'd like to upgrade this to beta in v1.26.

[2022-09-13 10:42] astraw99 commented on #3493
/ping @KnVerey
PTAL thanks.

[2022-09-13 13:20] alculquicondor commented on #3094
/label lead-opted-in

[2022-09-13 18:52] marosset commented on #3503
/sig node network
/label lead-opted-in

[2022-09-13 20:44] soltysh commented on #2307
/lead-opted-in

[2022-09-13 21:28] reylejano commented on #2307
@soltysh try `/label lead-opted-in`

[2022-09-14 00:51] lujinda commented on #3085
excuse me. If this Condition is added, how can I distinguish whether it meets the PodHasNetwork condition for the existing Pod?   @ddebroy

[2022-09-14 05:48] soltysh commented on #2307
/label lead-opted-in

[2022-09-14 05:49] soltysh commented on #2307
/stage stable

[2022-09-14 12:40] imuxin commented on #3493
@astraw99, I wrote a plugin for kubectl, [kubectl-watch](https://github.com/imuxin/kubectl-watch), wish that can help you.

[2022-09-14 14:29] alculquicondor commented on #3094
/label lead-opted-in

[2022-09-14 17:57] xing-yang commented on #2485
/remove-lifecycle stale

[2022-09-14 18:03] xing-yang commented on #2644
/remove-lifecycle stale

[2022-09-14 18:04] xing-yang commented on #2644
/remove-lifecycle stale

[2022-09-14 20:10] martin2176 opened #3514 "Kubernetes swap support alpha feature -errors out"
/sig node
/kind bug
 Azure (AKS) Kubernetes 1.24.3
 Followed instructions to enable the alpha feature for kubernetes swap.
POD spec
       resources:
          requests:
            memory: "200Mi"
            cpu: "100m"
          limits:
            memory: "200Mi"
            cpu: "100m"

However starting a pod gives error (kubectl describe pod). I have tried all different combination of mem re

[2022-09-14 20:28] logicalhan commented on #3466
/assign @wojtek-t

[2022-09-14 21:49] alexzielenski opened #3515 "OpenAPI v3 for kubectl explain"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Changes `kubectl explain` to use OpenAPI v3 data instead of OpenAPI v2.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/3515-kubectl-explain-openapiv3
- Discussion Link: https://youtu.be/3Xnb0R_ios4?t=1512
- Primary contact (assignee): @soltysh @al

[2022-09-14 22:43] alexzielenski opened #3517 "kubectl server-side-apply migration path"
### Enhancement Description

- One-line enhancement description (can be used as a release note):Adds migration path from client-side-apply to server-side-apply
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3518
- Discussion Link:
- Primary contact (assignee): @alexzielenski
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which milestone

[2022-09-14 23:34] steeling commented on #1645
A super late reply here, but just had a thought, which could allow the best of both worlds. Why not add a field, `exposePerClusterServices`, defaulted to false.

It's pretty cumbersome to ask the user to create a serviceimport/export for each service in each cluster otherwise. I also plan on attending some of the upcoming meetings so can chat then, thanks!

[2022-09-15 04:10] astraw99 commented on #3493
Thanks. Maybe we would like to add this flag to the `kubectl` binary, instead of a plugin.

[2022-09-15 12:07] sftim commented on #2433
It would be nice to add a tutorial page to explain topology aware hints (maybe on a local Minikube cluster with a small number of simulated nodes?) - however, it's OK for the feature to graduate without that tutorial being started.

[2022-09-15 16:34] logicalhan commented on #3077
Are you guys still planning on beta for 1.26?

[2022-09-15 16:55] ddebroy commented on #3085
hi @lujinda can you please clarify your question (potentially with an example) a bit? Are you referring to how to find out if the condition was set?

[2022-09-15 18:36] dims commented on #2395
/remove-lifecycle rotten

[2022-09-16 00:40] kikisdeliveryservice commented on #3517
@alexzielenski please provide a Discussion Link. It is required that you "link to SIG mailing list thread, meeting, or recording where the Enhancement was discussed before KEP creation"

[2022-09-16 00:42] kikisdeliveryservice commented on #3515
@alexzielenski please provide a Discussion Link. It is required that you "link to SIG mailing list thread, meeting, or recording where the Enhancement was discussed before KEP creation"

[2022-09-16 00:44] kikisdeliveryservice commented on #3514
@martin2176 this looks like a bug report. Please open in https://github.com/kubernetes/kubernetes/issues and be sure to label the issue with the correct sig and type.

Closing this as it is not an enhancement.

Thanks!

[2022-09-16 00:44] #3514 closed

[2022-09-16 00:45] kikisdeliveryservice commented on #3503
@marosset please provide a Discussion Link. It is required that you "link to SIG mailing list thread, meeting, or recording where the Enhancement was discussed before KEP creation"

[2022-09-16 00:46] kikisdeliveryservice commented on #3488
@jpbetz please provide a Discussion Link. It is required that you "link to SIG mailing list thread, meeting, or recording where the Enhancement was discussed before KEP creation" :)

[2022-09-16 00:49] kikisdeliveryservice commented on #3493
Hi @astraw99
The issue that you linked to is only an issue that you created yourself. We require that you "link to SIG mailing list thread, meeting, or recording where the Enhancement was discussed before KEP creation" - ie you must discuss your idea with the SIG prior to opening the issue in this repo. Please discuss your idea with the SIG via your k/k issue and if they decide to proceed reopen t

[2022-09-16 00:49] #3493 closed

[2022-09-16 00:51] kikisdeliveryservice commented on #3461
@waynepeking348 please provide a Discussion Link. It is required that you "link to SIG mailing list thread, meeting, or recording where the Enhancement was discussed before KEP creation"

[2022-09-16 01:36] xing-yang commented on #2923
/milestone v1.26

[2022-09-16 01:38] xing-yang commented on #2924
/milestone v1.26

[2022-09-16 02:18] kikisdeliveryservice commented on #785
As the KEP has been marked as [implemented](https://github.com/kubernetes/enhancements/pull/3511), closing this issue.

[2022-09-16 02:18] #785 closed

[2022-09-16 02:44] pacoxu opened #3520 "iops limit for pod/pvc/pv"
There are some discussions and history context in https://github.com/kubernetes/kubernetes/issues/92287.

### Enhancement Description

- One-line enhancement description (can be used as a release note): add support for iops limit for pod/pv/pvc
- Kubernetes Enhancement Proposal:  initial proposal https://github.com/kubernetes/enhancements/pull/1907;
- Discussion Link:
- Primary contact (assignee):

[2022-09-16 02:45] pacoxu commented on #3520
/sig storage

[2022-09-16 02:45] pacoxu commented on #3520
/sig node

[2022-09-16 06:34] shellsuperhu commented on #961
it is  work in 1.24.4 ?

My k8s running in 1.24.4 , it seems not work

kube-apiserver:
running with --feature-gates=MaxUnavailableStatefulSet=true
[code]

statefulset.yaml like:
[code]

kubectl apply -f statefulset.yaml

kubectl get pods -l app=testx -w
[code]

it seems not work, like link below
https://kubernetes.io/blog/2022/05/27/maxunavailable-for-statefulset/

[2022-09-16 16:11] marosset commented on #3503
Discussed at the SIG-Windows community meetinig on 9/13/2022 - https://youtu.be/gC3lWMtP0-I?t=595

[2022-09-16 16:40] marosset commented on #3503
Discussed with SIG-Node at the 9/13/2022 community meeting - [meeting notes](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/)
Discussed with SIG-Network at the 9/15/2022 community meeting - [meeting notes](https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM)

[2022-09-16 16:58] kikisdeliveryservice commented on #3503
Thank you @marosset !!

[2022-09-16 17:10] kikisdeliveryservice commented on #3352
If you're moving forward with this, please update the [kep.yaml](https://github.com/kubernetes/enhancements/pull/3364#pullrequestreview-1110984338) that just merged as it has milestone 1.25 still :)

[2022-09-16 18:22] Huang-Wei opened #3521 "Pod Scheduling Readiness"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add a `schedulingGates` field to the Pod spec that marks a Pod's scheduling readiness.
- Kubernetes Enhancement Proposal: [3521-pod-scheduling-readiness/README.md](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/3521-pod-scheduling-readiness/README.md)
- Discussion Link: http

[2022-09-16 18:24] Huang-Wei commented on #3521
/sig scheduling

[2022-09-16 19:55] ruheenaansari34 commented on #3466
👋 Hello @logicalhan ,

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.
This enhancement is targeting for stage alpha for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the

[2022-09-16 20:41] #3156 closed

[2022-09-17 05:58] krmayankk commented on #961
@shellsuperhu do you see the maxUnavailable field, wheen you do kubectl get statefulset -o yaml ? I think your feature gate is not enabled properly . You may need to enable it not only in the apiserver, but also in the kube-controller-manager . How are you running your k8s and how are you enabling the feature gate ?

[2022-09-17 15:36] gjkim42 commented on #3520
+1
I've been looking forward to this feature being proposed.

What would be the most difficult challenges in terms of implementing this feature? (except for defining the fine API)

[2022-09-18 04:11] pacoxu commented on #3520
The old proposal that I wrote, is based on docker which is deprecated now. (I do not follow up on the latter proposition.)
https://github.com/kubernetes/kubernetes/issues/92287#issuecomment-1010723587 is based on @askervin 's comments. This proposal is ready in CRI-O and WIP in containerd.

[2022-09-18 19:13] rhockenbury commented on #1981
Hello @marosset 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

Looks like this enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NN

[2022-09-18 19:17] rhockenbury commented on #2307
/milestone v1.26

[2022-09-18 19:17] rhockenbury commented on #647
/milestone v1.26

[2022-09-18 19:18] rhockenbury commented on #2644
/milestone v1.26

[2022-09-18 19:22] rhockenbury commented on #1491
Hello @divyenpatel and @xing-yang 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/maste

[2022-09-18 19:32] rhockenbury commented on #1790
Hello @gnufied 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] Updated KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-k

[2022-09-18 19:55] rhockenbury commented on #1432
Hello @xing-yang @NickrenREN 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/

[2022-09-18 20:01] rhockenbury commented on #1885
Hello @andyzhangx👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-09-18 20:12] rhockenbury commented on #2258
Hello @aravindhp 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-09-18 20:24] rhockenbury commented on #2718
Hello @nckturner 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-09-18 20:30] rhockenbury commented on #3221
Hello @palnabarun 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-09-19 01:59] shellsuperhu commented on #961
@krmayankk
Thanks. It's working fine.
kube-controller and kube-api is must enabled '--feature-gates=MaxUnavailableStatefulSet=true' at the same time.

[2022-09-19 12:47] RomanBednar commented on #3333
Performance was tested with [kind](kind.sigs.k8s.io) on single node with 10 pods and 10 volumes per pod (=100 PVCs). Dynamic provisioning was enabled during the test. Cluster has been modified to use `Immediate` volume binding mode.

Results show that enabling the feature does not have negative impact on performance.

### Test cluster modifications:

#### 1) Custom PVC template with `selected-node

[2022-09-19 15:00] abhijit-dev82 commented on #3148
/assign

[2022-09-19 17:06] pwschuurman commented on #3335
/sig multicluster

[2022-09-19 17:31] ahg-g commented on #3521
/label lead-opted-in

[2022-09-19 17:45] ahg-g commented on #3521
/milestone v1.26

[2022-09-19 18:08] kikisdeliveryservice commented on #1959
Since the gate is to be removed in 1.26 keeping this issue open until then

/remove-lifecycle stale

[2022-09-19 18:59] andrewsykim commented on #1959
PR to remove the feature gate: https://github.com/kubernetes/kubernetes/pull/112577

[2022-09-19 19:31] SergeyKanzhelev commented on #688
Yes, I think it can. Just two house cleaning items left, pls review if you have time:

- https://github.com/kubernetes/kubernetes/pull/112579
- https://github.com/kubernetes/enhancements/pull/3526

(not sure for the process of updating website - like removing the feature gate mention here https://kubernetes.io/docs/concepts/scheduling-eviction/pod-overhead/). But I think it should stay there for l

[2022-09-19 19:31] #688 closed

[2022-09-19 22:37] rhockenbury commented on #3094
/milestone v1.26

[2022-09-20 10:24] kerthcet opened #3527 "Make scheduler Extenders profile-leveled and pod selecting"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Make scheduler Extenders profile-leveled and pod selecting
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3528
- Discussion Link:
   - https://github.com/kubernetes/kubernetes/issues/109739
   - https://github.com/kubernetes/kubernetes/issues/101776
- Primary contac

[2022-09-20 10:24] kerthcet commented on #3527
/sig scheduling
/milestone v1.26

[2022-09-20 11:34] Atharva-Shinde commented on #3314
Hey @phuongatemc  👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-20 12:11] Atharva-Shinde commented on #3325
Hey @nabokihms @liggitt @deads2k 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/ke

[2022-09-20 12:14] Atharva-Shinde commented on #3325
Hey @nabokihms @liggitt @deads2k 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/ke

[2022-09-20 14:09] Atharva-Shinde commented on #3314
label tracked/yes

[2022-09-20 14:10] Atharva-Shinde commented on #3314
/label tracked/yes

[2022-09-20 15:52] mattcary commented on #1847
@soltysh @janetkuo @kow3ns

Could this issue be added to the 1.26 tracking board?

The current status is to promote to beta in 1.26. I am the primary contact for this issue now. Unfortunately, I don't seem to be able to edit this issue description, lmk if the issue can be transferred over to me.

[2022-09-20 17:33] tallclair commented on #24
/lifecycle frozen

[2022-09-20 17:59] alculquicondor commented on #2872
This might be relevant for
/wg-batch

[2022-09-20 19:35] rhockenbury commented on #1847
/label lead-opted-in
/milestone v1.26
/label tracked/yes
/remove-label tracked/no

[2022-09-20 20:00] rhockenbury commented on #1847
Hello @mattcary  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-20 20:12] JeremyOT commented on #3335
/label lead-opted-in

[2022-09-20 22:46] marosset commented on #2268
Hello @xing-ying 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-20 22:53] marosset commented on #2317
Hello @gnufied & @verult 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NN

[2022-09-20 22:57] marosset commented on #2799
Hello @zshihang 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [x] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-temp

[2022-09-20 23:00] marosset commented on #3257
Hello @ahmedtd 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-temp

[2022-09-20 23:02] marosset commented on #3294
Hello @Elbehery & @mkimuram 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/

[2022-09-20 23:04] marosset commented on #3331
Hello @nabokihms 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-09-20 23:06] marosset commented on #2307
Hello @alculquicondor 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-

[2022-09-20 23:09] ruheenaansari34 commented on #3476
Hello @xing-yang 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise).

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-20 23:14] ruheenaansari34 commented on #3498
Hello @logicalhan 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise).

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-09-21 01:19] rhockenbury commented on #3335
/milestone v1.26
/label tracked/yes
/stage alpha

[2022-09-21 09:20] pacoxu commented on #3520
See https://github.com/kubernetes/enhancements/pull/3004. We may close this?

[2022-09-21 11:35] klueska commented on #2902
/remove-lifecycle stale

[2022-09-21 11:36] klueska commented on #3327
Just out of curiosity, why was this moved to "tracked/no"? The code for this merged as an alpha release in 1.25 and we plan to transition it to beta in 1.26.

[2022-09-21 12:18] Atharva-Shinde commented on #3327
Hey @klueska 👋
As per the new release opt-in process SIG Leads are supposed to apply `lead-opted-in` label to the KEP issue to opt it in for the release cycle.

Please refer:
https://groups.google.com/a/kubernetes.io/g/dev/c/R1afPL7zpT4/m/lKv7eg3jBwAJ
https://www.kubernetes.dev/blog/2022/09/09/enhancements-opt-in/
Example KEP issue: https://github.com/kubernetes/enhancements/issues/3325#issuecomme

[2022-09-21 12:36] klueska commented on #3327
Even though the code to bring this enhancement to alpha has already merged? I would expect a `stage/alpha` label in this case.

[2022-09-21 13:32] xing-yang commented on #2924
KEP is merged: https://github.com/kubernetes/enhancements/pull/3530

[2022-09-21 14:42] soltysh commented on #1440
/milestone v1.26
/stage beta
/label lead-opted-in

[2022-09-21 14:45] rlnrln commented on #2872
What's the current status of this? Can we expect this to go into Kubernetes v1.26?

Something like this has been much-needed for 5 years now. Is there anything I, who is not a kubernetes or Go developer, can help move this along so we don't have to rely on various workarounds for our CronJobs?

[2022-09-21 14:59] alculquicondor commented on #2872
You can leave your thoughts in #2869

[2022-09-21 15:38] rhockenbury commented on #3327
Hi @klueska

Yes, enhancements need to opt into the current release cycle for when they are planned to graduate.   We'll get this opted into v1.26 for beta, but for graduation to stable later on, you'll need to opt in again.  The opt in process just involves applying the `lead-opted-in` label.  This is targeting beta for 1.26 so the stage label should reflect that target stage.  Let me know if you

[2022-09-21 15:50] mattcary commented on #1847
Thx, a KEP update is in progress. Based on feedback from the last cycle, I'm tweaking the metrics and will g et a PRR review.

[2022-09-21 16:39] Atharva-Shinde commented on #3094
Hey @kerthcet 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

[2022-09-21 16:44] ihcsim commented on #3314
/assign @ihcsim

[2022-09-21 16:58] matthyx commented on #2872
@dchen1107 how to make it *leald-opted-in* in https://github.com/orgs/kubernetes/projects/98/views/1 ?

[2022-09-21 17:04] ahmedtd commented on #3257
I'm planning to address these issues today.

[2022-09-21 17:12] soltysh commented on #961
/milestone v1.26
/stage beta
/label lead-opted-in

[2022-09-21 18:34] logicalhan commented on #3498
@ruheenaansari34 I've updated the KEP to use the new template. Would you mind reassessing it? I also have a PRR reviewer actively conducting reviews.

[2022-09-21 18:34] logicalhan commented on #3466
@ruheenaansari34 I've updated the KEP using the template. Would you mind re-assessing it?

[2022-09-21 19:22] ruheenaansari34 commented on #3498
@logicalhan Thanks for updating it. Looks like all the requirements for the Enhancements freeze would be met once the PR is merged.

[2022-09-21 19:51] rhockenbury commented on #3333
/stage beta

[2022-09-21 22:53] marosset commented on #1440
Hello @soltysh 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-templ

[2022-09-21 22:53] marosset commented on #1440
/remove-lifecycle stale

[2022-09-22 05:08] Atharva-Shinde commented on #3521
Hey @kerthcet 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-templat

[2022-09-22 05:10] Atharva-Shinde commented on #3521
Hey @kerthcet 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-templat

[2022-09-22 05:25] Atharva-Shinde commented on #3107
Hey @humblec 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

[2022-09-22 05:26] Atharva-Shinde commented on #3107
Hey @humblec 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

[2022-09-22 05:39] Atharva-Shinde commented on #3327
Hey @klueska 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k

[2022-09-22 05:57] rhockenbury commented on #961
/label tracked/yes
/remove-label tracked/no

[2022-09-22 07:41] wojtek-t commented on #2086
/remove-lifecycle stale

[2022-09-22 07:41] wojtek-t commented on #1672
/remove-lifecycle stale

[2022-09-22 08:25] uablrek commented on #2819
/remove-lifecycle rotten

[2022-09-22 10:33] soltysh commented on #3329
/milestone v1.26
/stage beta
/label lead-opted-in

[2022-09-22 14:04] parul5sahoo commented on #2857
Hello @ddebroy  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-22 14:13] parul5sahoo commented on #3141
Hello @RaunakShah 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-09-22 14:19] parul5sahoo commented on #3299
Hello @ritazh 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-templa

[2022-09-22 14:23] parul5sahoo commented on #3503
Hello @marosset  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-09-22 14:48] parul5sahoo commented on #647
Hello {enhancement owner} 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNN

[2022-09-22 14:58] parul5sahoo commented on #2485
Hello @chrishenzie  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-

[2022-09-22 15:59] rhockenbury commented on #3031
/label tracked/yes
/remove-label tracked/no
/milestone v1.26

[2022-09-22 16:03] rhockenbury commented on #3329
/label tracked/yes
/remove-label tracked/no

[2022-09-22 16:16] matthyx commented on #2872
@marosset can you track this one for 1.26 please?

[2022-09-22 16:24] nckturner commented on #2699
/reopen

[2022-09-22 16:24] nckturner commented on #2699
/remove-lifecycle rotten

[2022-09-22 16:40] arpitsardhana commented on #3327
@Atharva-Shinde  Thanks for reminder. As of now we plan to keep feature in alpha. Since there is additional work we want to do
I will update kep.yaml shortly to reflect that

[2022-09-22 16:43] logicalhan commented on #2831
/assign @dashpole

[2022-09-22 16:44] alculquicondor commented on #2485
/sig scheduling

[2022-09-22 16:49] logicalhan commented on #1748
/lifecycle frozen

[2022-09-22 17:12] chrishenzie commented on #2485
Submitted https://github.com/kubernetes/enhancements/pull/3537 for beta graduation and updated issue description

[2022-09-22 19:21] Atharva-Shinde commented on #3327
/label stage/alpha
remove stage/beta

[2022-09-22 19:27] BenTheElder commented on #2853
something else to consider: staging repos https://github.com/kubernetes/kubernetes/pull/111980

[2022-09-22 19:29] Atharva-Shinde commented on #3327
/stage alpha
/remove-label stage/beta

[2022-09-22 19:34] Atharva-Shinde commented on #3327
Hey @arpitsardhana, thanks for the update. I've update the issue labels and have edited my [comment](https://github.com/kubernetes/enhancements/issues/3327#issuecomment-1254552506) with alpha stage. For further communications I've now tagged you in the comment too :)

[2022-09-22 22:21] chrishenzie commented on #2485
Beta graduation will need to happen in 1.27, see here for more context: https://github.com/kubernetes/enhancements/pull/3537#discussion_r978120310

Updated the KEP target and issue description.

[2022-09-23 01:30] Huang-Wei commented on #1748
@dashpole @logicalhan do you happen to find some volunteers to continue the work?

[2022-09-23 02:53] kerthcet opened #3541 "Add Recreate Update Strategy to StatefulSet"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add `EnforcedRollingUpdate` to statefulset rolling update strategies
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3562
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/67250
- PRs by stage and milestone:
  - [x] Alpha - v1.37
    - [x] KEP (`k/e

[2022-09-23 02:53] kerthcet commented on #3541
/sig apps

[2022-09-23 04:12] yang-wang11 commented on #3296
I noticed the field LoadBalancerIP in the service definition is obsoleted now, if CCM has the long plan to support `serviceController`, why this thing happened?

[code]

more detail can obtain from [here](https://pkg.go.dev/k8s.io/api/core/v1#ServiceSpec)

[2022-09-23 04:57] Huang-Wei commented on #3521
Thanks @Atharva-Shinde.

- The KEP is updated to marked as `implementable`
- Waiting for @johnbelamaric or @wojtek-t to be the approver of PRR: https://github.com/kubernetes/enhancements/pull/3522#discussion_r976590269

[2022-09-23 07:32] byako opened #3542 "СRI image pulling with progress notification"
### Enhancement Description

- One-line enhancement description (can be used as a release note): СRI image pulling with progress notification
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3547
- Discussion Link:  Sep 27th, 2022 [sig-node weekly meeting](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.2lyv2y38jwkc)

[2022-09-23 14:13] klueska opened #3545 "Improved multi-numa alignment in Topology Manager"
### Enhancement Description

- **One-line enhancement description (can be used as a release note):**
An enhancement to the `TopologyManager` that considers relative distances between NUMA nodes when calculating "best hints" that include more than one NUMA node.

- **Kubernetes Enhancement Proposal:**
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/3545-improved-multi-numa-alig

[2022-09-24 06:37] nabokihms commented on #3325
@Atharva-Shinde I opened the PR to fix KEP composition problems. Could you please check whether it covers what you've asked for?

[2022-09-24 13:44] Atharva-Shinde commented on #3329
Hey @alculquicondor @mimowo  👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been

[2022-09-25 12:21] parul5sahoo commented on #961
Hello @krmayankk 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-25 12:25] parul5sahoo commented on #3031
Hello @saschagrunert  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-ke

[2022-09-26 06:34] wojtek-t commented on #3157
/remove-lifecycle rotten

[2022-09-26 06:37] wojtek-t commented on #2438
/remove-lifecycle stale

[2022-09-26 07:19] byako commented on #3542
/sig sig-node

[2022-09-26 07:44] byako commented on #3542
/sig node

[2022-09-26 08:31] mimowo commented on #3329
@Atharva-Shinde the enhancement is targeting **Beta** for 1.26. This is the KEP update which is currently under review: https://github.com/kubernetes/enhancements/pull/3463

[2022-09-26 09:16] pohly commented on #3077
The [instrumentation of kube-scheduler](https://github.com/kubernetes/kubernetes/pull/111155) with contextual logging is still in progress. That would have been the first real confirmation of the concept.

So no, let's delay at least until 1.27.

[2022-09-26 10:05] jsafrane commented on #1710
Not sure if it's needed, the feature was alpha in 1.25 and stays so in 1.26
/label lead-opted-in

[2022-09-26 12:37] dgrisonnet commented on #3048
Closing in favor of opening a dedicated issue in k/k to graduate the API to stable.

/close

[2022-09-26 12:37] #3048 closed

[2022-09-26 12:37] dgrisonnet commented on #3135
Closing in favor of opening a dedicated issue in k/k to graduate the API to stable.

/close

[2022-09-26 12:37] #3135 closed

[2022-09-26 14:27] smarterclayton commented on #1748
Oh man, we didn't take this to beta?!  This is my fault.  Let me talk to @dgrisonnet who pinged me about it - originally it was gathering feedback from admins doing capacity planning.

[2022-09-26 14:42] smarterclayton commented on #1748
To clarify - this is in beta since 1.21 (https://github.com/kubernetes/enhancements/issues/1748#issuecomment-791052241).  Was there some belief that it was not beta?

It would be last step to go to GA, I'm happy to push that over the line with @dgrisonnet

[2022-09-26 14:52] dgrisonnet commented on #1748
I also thought this was still in Alpha for some reason even though we have a label marking the stability :sweat_smile:

Yet let's try to get this over the finish and gather some feedback from users to know if they encountered any issues with these new metrics.

/assign @smarterclayton @dgrisonnet

[2022-09-26 15:02] klueska commented on #3545
/cc @fromanirh
/cc @swatisehgal

[2022-09-26 15:23] fromanirh commented on #3545
thanks for the heads up, I'll review shortly

[2022-09-26 18:07] phenixblue commented on #1815
/remove-lifecycle rotten

[2022-09-26 19:12] rhockenbury commented on #1710
Will there be any major changes to the alpha implementation in v1.26?  If not, we don't need to track it as part of 1.26.

[2022-09-26 20:30] aojea commented on #3453
/label lead-opted-in

[2022-09-26 20:30] aojea commented on #3453
sudo @thockin /label lead-opted-in

[2022-09-26 21:34] aramase commented on #3299
@parul5sahoo Thanks for reaching out. This enhancement will remain alpha in v1.26 and beta is planned for v1.27. We have merged a PR to update the milestones in the `kep.yaml`.

[2022-09-26 22:05] SergeyKanzhelev commented on #2837
/remove-lifecycle rotten

Since this is being looked at...

[2022-09-27 01:38] ruheenaansari34 commented on #2644
Hello @xing-yang @deepakkinni 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps

[2022-09-27 01:41] ruheenaansari34 commented on #3498
Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `implementable` for `latest-milestone: 1.26`
- [X] KEP readme has a [updated detailed test plan section](https://github.com/kubernetes/enhancements/blo

[2022-09-27 01:55] ruheenaansari34 commented on #2923
Hello @humblec  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-temp

[2022-09-27 01:59] ruheenaansari34 commented on #2924
Hello @humblec  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-27 02:05] ruheenaansari34 commented on #3335
Hello @pwschuurman 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-

[2022-09-27 12:00] soltysh commented on #1440
@marosset we should be all good now that #3373 merged

[2022-09-27 15:20] rhockenbury commented on #3453
/label lead-opted-in
/milestone v1.26
/label tracked/yes
/stage alpha
/kind kep

[2022-09-27 15:24] rhockenbury commented on #2133
/label lead-opted-in
/milestone v1.26
/label tracked/yes
/remove-label tracked/no
/stage stable

[2022-09-27 15:27] rhockenbury commented on #1672
/label lead-opted-in
/label tracked/yes
/remove-label tracked/no
/stage alpha

[2022-09-27 15:29] rhockenbury commented on #1669
/label lead-opted-in
/label tracked/yes
/remove-label tracked/no

[2022-09-27 15:30] rhockenbury commented on #2086
/label lead-opted-in
/label tracked/yes
/remove-label tracked/no

[2022-09-27 15:39] rhockenbury commented on #1710
Spoke over Slack - enhancements team will not track this for 1.26

/label tracked/no
/remove-label lead-opted-in
/milestone clear

[2022-09-27 16:01] ruheenaansari34 commented on #3466
@logicalhan Thank you. I've re-assessed it and looks like we still need KEP owner's acknowledgement in the [Test plan section of KEP's README](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/3466-kubernetes-component-health-slis#test-plan).
Specifically, this statement:

Once the PR is merged with the above change, the enhancements freeze requirements will be fulfil

[2022-09-27 16:05] rhockenbury commented on #2086
Hello @andrewsykim 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep

[2022-09-27 16:09] rhockenbury commented on #1669
Hello @andrewsykim 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-09-27 17:06] derekwaynecarr commented on #3545
/label lead-opted-in

[2022-09-28 04:45] parul5sahoo commented on #1672
Hello @andrewsykim  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-ke

[2022-09-28 04:52] parul5sahoo commented on #2133
Hello @ruiwen-zhao   👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-k

[2022-09-28 07:19] thesuperzapper commented on #3189
As stated in https://github.com/kubernetes/enhancements/pull/3190#issuecomment-1260487255, we will create a separate KEP with a more detailed proposal based on the "Scale API" extension idea from https://github.com/kubernetes/kubernetes/issues/107598#issuecomment-1210060884.

[2022-09-28 07:19] #3189 closed

[2022-09-28 10:37] dgrisonnet commented on #2305
/lead-opted-in

[2022-09-28 10:43] dgrisonnet commented on #2305
/label lead-opted-in

[2022-09-28 12:50] p0lyn0mial commented on #3157
/milestone v1.26

[2022-09-28 13:01] p0lyn0mial commented on #3157
/stage alpha

[2022-09-28 13:03] p0lyn0mial commented on #3157
/label lead-opted-in

[2022-09-28 13:04] deads2k commented on #3157
/milestone v1.26

[2022-09-28 13:09] deads2k commented on #3157
/label lead-opted-in
/label tracked/yes

[2022-09-28 13:44] dgrisonnet commented on #2305
/milestone v1.26

[2022-09-28 15:24] ruheenaansari34 commented on #3453
Hello @danwinship 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-09-28 17:40] ruiwen-zhao commented on #2133
Hi @parul5sahoo , i believe the current README [1] is using the latest template and has detailed test plan section. Can you elaborate what's missing there?

[1] https://github.com/kubernetes/enhancements/blob/5d140818264fe0ade8ba326dc659ffae88e5f629/keps/sig-node/2133-kubelet-credential-providers/README.md

[2022-09-28 17:58] logicalhan commented on #3466
Done.

[2022-09-28 18:57] Atharva-Shinde commented on #3545
Hey @klueska 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k

[2022-09-28 18:58] Atharva-Shinde commented on #3545
Hey @klueska 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the

[2022-09-28 18:59] Atharva-Shinde commented on #3545
/milestone v1.26
/label tracked/yes

[2022-09-28 19:00] Atharva-Shinde commented on #3545
/stage alpha

[2022-09-28 21:32] marosset commented on #2305
/milestone v1.26
/label tracked/yes

[2022-09-28 21:38] marosset commented on #2305
Hello @dgrisonnet  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-09-28 21:40] marosset commented on #3157
/label tracked/yes

[2022-09-28 21:48] marosset commented on #3157
Hello @p0lyn0mial 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-09-29 08:02] chendave opened #3567 "ResetConfiguration and UpgradeConfiguration API definition"
### Enhancement Description

- One-line enhancement description (can be used as a release note):  Add UpgradeConfiguration/ResetConfiguration API types for `kubeadm upgrade` and `kubeadm reset` respectively.
- Kubernetes Enhancement Proposal: https://docs.google.com/document/d/1R4zLtgDadNM8_N2VzS0DI2mADcYmkyJ3L7lJVpbyZsA (TO be updated)
- Discussion Link: https://github.com/kubernetes/kubeadm/issu

[2022-09-29 08:03] chendave commented on #3567
/sig sig-cluster-lifecycle
/assgin

[2022-09-29 08:04] chendave commented on #3567
/sig cluster-lifecycle
/assign

[2022-09-29 08:23] sftim commented on #3163
@MadhavJivrajani I like this idea - can folks help you to take this forward?

[2022-09-29 08:24] pacoxu commented on #2535
/remove-lifecycle rotten

[2022-09-29 08:45] chendave commented on #3567
@neolit123 I am thinking how to re-use the existing the existing KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/970-kubeadm-config

That KEP is quite high level,  consolidate what we have in this doc: https://docs.google.com/document/d/1R4zLtgDadNM8_N2VzS0DI2mADcYmkyJ3L7lJVpbyZsA looks a little weird, if we follow the style, we won't get much detail

[2022-09-29 09:10] neolit123 commented on #3567
that is true, i guess.

so, historically we did not add struct / field details in the kubeadm config KEP and i think we should keep it that way.
if we are about to introduce v1beta4 we can just enumerate what changes are being made, similarly to how we did for v1beta3:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/970-kubeadm-config#v1beta3

adding reset

[2022-09-29 09:16] pacoxu commented on #3567
A update to https://github.com/kubernetes/enhancements/issues/970 would be OK.
So that we can know what changes in each version, like v1beta3\v1beta4.

Agree.

[2022-09-29 09:17] chendave commented on #3567
I am fine with each one.

[2022-09-29 09:19] chendave commented on #3567
+1

Let's continue to the discuss in the google doc, I will close this one until there is need to re-open this.

/close

[2022-09-29 09:19] #3567 closed

[2022-09-29 15:17] dgrisonnet commented on #2305
Hi @marosset, thank you for the feedback.

Considering that we need to revisit the test plan of the KEP, this would require more involvement than expected, so it would be better to defer the graduation to 1.27. As such, could you please remove the KEP from the list for the 1.26 milestone?

/remove-label lead-opted-in

[2022-09-29 15:38] parul5sahoo commented on #2133
@ruiwen-zhao I probably missed the checked agreement on line 340. Sorry, my bad. So we will mark the enhancement `tracked` once the open PR for updating the milestone is merged.

[2022-09-29 16:41] dashpole commented on #647
@parul5sahoo KEP has been updated to the latest template, including the latest test plan

[2022-09-29 17:11] thockin commented on #1669
Candidate for Beta in 1.26

[2022-09-29 17:12] thockin commented on #1672
Candidate for GA in 1.26

[2022-09-29 17:12] thockin commented on #1860
No progress for 1.26

[2022-09-29 17:13] thockin commented on #1864
Complete!

[2022-09-29 17:13] #1864 closed

[2022-09-29 17:14] thockin commented on #1880
Candidate for Alpha in 1.26

[2022-09-29 17:15] thockin commented on #1959
Complete!

[2022-09-29 17:15] #1959 closed

[2022-09-29 17:16] thockin commented on #2079
Remove gate in 1.27

[2022-09-29 17:18] thockin commented on #2086
Candidate for GA in 1.26

[2022-09-29 17:20] astoycos commented on #2091
should we track this somewhere else @thockin? How did gateway-api go about this?

[2022-09-29 17:20] thockin commented on #2104
For 1.27 we should revisit and start to lock down a real plan.

[2022-09-29 17:21] thockin commented on #2433
Candidate for GA in 1.26

[2022-09-29 17:21] thockin commented on #2438
No progress for 1.26

[2022-09-29 17:22] thockin commented on #2593
Candidate for Alpha in 1.26

[2022-09-29 17:25] thockin commented on #2595
@gjkim42 Are we trying to push this to Beta for 1.26?

[2022-09-29 17:26] thockin commented on #2681
I have not heard anything on this.  The PR is full of conflicts - @wzshiming do you want to try to get code into 1.26?

[2022-09-29 17:27] thockin commented on #2727
Candidate for GA in 1.26

[2022-09-29 17:28] thockin commented on #3015
Candidate for Alpha in 1.26

[2022-09-29 17:28] thockin commented on #3070
Candidate for GA in 1.26 ?  @aojea

[2022-09-29 17:29] thockin commented on #3178
Can't proceed until 1.27

[2022-09-29 17:29] thockin commented on #3241
not committed for 1.26

[2022-09-29 17:29] thockin commented on #3453
Candidate for Alpha in 1.26

[2022-09-29 17:30] thockin commented on #3458
Punting to 1.27

[2022-09-29 17:30] aojea commented on #3070
Yes

[2022-09-29 17:32] thockin commented on #3503
Candidate for Alpha in 1.26 ?

[2022-09-29 17:41] marosset commented on #3503
Yes - work is needed in the container runtimes (just containerd for Windows) so the sooner we get the CRI-API changes in the sooner we can move towards beta/stable.

[2022-09-29 17:51] soltysh commented on #3017
/milestone v1.26
/label lead-opted-in
/remove-lifecycle rotten

[2022-09-29 17:52] soltysh commented on #3017
/stage alpha

[2022-09-29 19:23] marosset commented on #2305
No problem.
/milestone clear

[2022-09-29 20:50] ruheenaansari34 commented on #3466
Excellent. Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `implementable` for `latest-milestone: 1.26`
- [X] KEP readme has a [updated detailed test plan section](https://github.com/kubernetes/enhan

[2022-09-29 22:08] marosset commented on #2307
Hello @alculquicondor 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-

[2022-09-29 22:13] marosset commented on #1440
Hello  @soltysh  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-09-29 23:42] rhockenbury commented on #2485
/milestone clear
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-09-29 23:45] rhockenbury commented on #1435
/label tracked/yes
/remove-label tracked/no
/stage stable

[2022-09-30 00:08] rhockenbury commented on #1880
/label tracked/yes
/remove-label tracked/no
/stage alpha

[2022-09-30 00:09] rhockenbury commented on #2433
/label tracked/yes
/remove-label tracked/no
/stage stable

[2022-09-30 00:13] rhockenbury commented on #2593
@thockin - This enhancement is already in alpha.  Would it be beta for v1.26?

/label tracked/yes
/remove-label tracked/no

[2022-09-30 00:15] rhockenbury commented on #2595
I'm going to remove the `lead-opted-in` label for now.  Feel free to add it again if you decide to opt in for v1.26.

/remove-label lead-opted-in

[2022-09-30 00:17] rhockenbury commented on #2727
/label tracked/yes
/remove-label tracked/no
/stage stable

[2022-09-30 00:18] rhockenbury commented on #3015
/milestone v1.26
/label tracked/yes
/remove-label tracked/no
/stage alpha

[2022-09-30 00:20] rhockenbury commented on #3017
/label tracked/yes
/remove-label tracked/no

[2022-09-30 00:21] rhockenbury commented on #3070
/milestone v1.26
/label tracked/yes
/remove-label tracked/no
/stage stable

[2022-09-30 06:03] janosi commented on #1435
@thockin @rhockenbury @bridgetkromhout I am sorry for being away from this this long. I can help in moving this forward, if you think so.

[2022-09-30 11:19] ffromani opened #3570 "Add CPU Manager to kubelet"
### Enhancement Description

- One-line enhancement description (can be used as a release note): graduate CPUManager to GA
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3350
- Discussion Link: https://docs.google.com/document/d/1U10J0WwgWXkdYrqWGGvO8iH2HKeerQAlygnqgDgWv4E/edit#
- Primary contact (assignee): @fromanirh
- Responsible SIGs: sig-node
- Enhancement

[2022-09-30 11:19] fromanirh commented on #3570
CPU Manager is consumed by multiple parties and trated as GA. We want to avoid the perma-beta status

[2022-09-30 11:20] fromanirh commented on #3570
/sig node

[2022-09-30 11:34] dims commented on #3570
/label lead-opted-in
/milestone v1.26

@derekwaynecarr @dchen1107 @SergeyKanzhelev adding labels based on request on slack thread - https://kubernetes.slack.com/archives/C0BP8PW9G/p1664537014576579

please clear them if it is not appropriate.

[2022-09-30 15:28] wzshiming commented on #2681
Yes, I rebased the PR, please take a look at it when you have time. Thank you.
[#109616](https://github.com/kubernetes/kubernetes/pull/109616)

[2022-09-30 16:49] rhockenbury commented on #3570
/label tracked/yes
/stage stable

[2022-09-30 17:17] ruiwen-zhao commented on #2371
/milestone v1.26

[2022-09-30 18:04] marosset commented on #1287
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:06] marosset commented on #3063
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:06] marosset commented on #3288
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:07] marosset commented on #3386
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:07] marosset commented on #2535
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:08] marosset commented on #2400
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:10] marosset commented on #24
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:10] marosset commented on #2681
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:11] marosset commented on #3066
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:11] marosset commented on #2872
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:12] marosset commented on #3008
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 18:12] marosset commented on #3542
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-09-30 21:20] marosset commented on #2371
/milestone v1.26
/label lead-opted-in
(I'm doing this on behalf of @ruiwen-zhao / SIG-node)

[2022-10-01 00:06] rhockenbury commented on #1491
With #3513 merged, this enhancement is now `tracked` for the v1.26 cycle.  Thanks!

[2022-10-01 00:12] rhockenbury commented on #1790
Quick reminder - Enhancement freeze is about a week away.  If you are still looking to get this enhancement into v1.26, please plan to make the updates to the KEP yaml and README.

[2022-10-01 00:16] rhockenbury commented on #1432
Quick reminder - Enhancement freeze is about a week away. If you are still looking to get this enhancement into v1.26, please plan to make the updates to the KEP yaml and README.

[2022-10-01 00:18] rhockenbury commented on #1885
With #3360 merged, this enhancement is now tracked for the v1.26 cycle. Thanks!

[2022-10-01 00:21] rhockenbury commented on #2718
Quick reminder - Enhancement freeze is about a week away. If you are still looking to get this enhancement into v1.26, please plan to get #2693 merged before enhancement freeze.

[2022-10-01 00:23] rhockenbury commented on #3221
Quick reminder - Enhancement freeze is about a week away. If you are still looking to get this enhancement into v1.26, please plan to get #3376 updated and merged.

[2022-10-01 00:26] rhockenbury commented on #1847
This is now marked as `tracked` for the v1.26 cycle. Thanks.

[2022-10-01 00:28] rhockenbury commented on #2086
Quick reminder - Enhancement freeze is about a week away. If you are still looking to get this enhancement into v1.26, please plan to get #3509 merged up.

[2022-10-01 00:29] rhockenbury commented on #1669
Quick reminder - Enhancement freeze is about a week away. If you are still looking to get this enhancement into v1.26, please plan to make the updates to the KEP yaml and README.

[2022-10-01 00:37] rhockenbury commented on #1435
Hello @janosi  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-10-01 00:40] rhockenbury commented on #1880
Hello @aojea 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-templa

[2022-10-01 00:43] rhockenbury commented on #2433
Hello @robscott 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-10-01 00:53] rhockenbury commented on #24
Hello @saschagrunert @pjbgf 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps

[2022-10-01 00:54] rhockenbury commented on #24
/label tracked/yes
/remove-label tracked/no

[2022-10-01 01:03] rhockenbury commented on #1287
Hello @vinaykul 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-10-01 01:19] rhockenbury commented on #2535
Hello @mikebrow 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-10-01 01:19] rhockenbury commented on #2535
/label tracked/yes
/remove-label tracked/no

[2022-10-01 01:22] robscott commented on #2433
Hey @rhockenbury, thanks for checking in! I've created https://github.com/kubernetes/enhancements/pull/3572 to update the KEP.

[2022-10-01 01:26] rhockenbury commented on #2681
Hello @wzshiming @thockin 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NN

[2022-10-01 01:27] rhockenbury commented on #2681
/stage alpha
/label tracked/yes

[2022-10-01 01:32] rhockenbury commented on #2872
/stage alpha
/label tracked/yes

[2022-10-01 01:35] rhockenbury commented on #3063
/label tracked/yes
/remove-label tracked/no

[2022-10-01 01:36] rhockenbury commented on #3066
/stage alpha
/label tracked/yes

[2022-10-01 01:38] rhockenbury commented on #3288
/stage alpha
/label tracked/yes
/remove-label tracked/no

[2022-10-01 01:43] rhockenbury commented on #3386
/stage alpha
/label tracked/yes
/remove-label tracked/no

[2022-10-01 01:44] rhockenbury commented on #3515
/milestone v1.26
/label tracked/yes

[2022-10-01 01:45] rhockenbury commented on #3542
/stage alpha
/label tracked/yes

[2022-10-01 02:01] rhockenbury commented on #1845
/milestone clear

[2022-10-01 02:01] rhockenbury commented on #2000
/milestone clear

[2022-10-01 02:02] rhockenbury commented on #2033
/milestone clear

[2022-10-01 02:02] rhockenbury commented on #2255
/milestone clear

[2022-10-01 02:03] rhockenbury commented on #970
/milestone clear

[2022-10-01 02:05] rhockenbury commented on #1729
/milestone clear

[2022-10-01 19:57] sftim commented on #3008
To clarify why I think blkio is vendor-specific: only Linux nodes have this resource. Windows nodes have CPU and memory but they don't have blkio or a direct equivalent.

I'd like the KEP to make the difference clear to a reader who knows Kubernetes but isn't particular familiar with any of the QoS mechanisms that we propose to integrate with.

[2022-10-02 08:15] swatisehgal opened #3573 "Add Device Manager to kubelet"
### Enhancement Description

- One-line enhancement description (can be used as a release note): graduate DeviceManager to GA
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3574
- Discussion Link:  [SIG Node - 1.26 Planning](https://docs.google.com/document/d/1U10J0WwgWXkdYrqWGGvO8iH2HKeerQAlygnqgDgWv4E/edit#) held as part of SIG Node weekly meetings on [20th Se

[2022-10-02 08:16] swatisehgal commented on #3573
/sig node

[2022-10-02 12:22] Atharva-Shinde commented on #3017
Hey @mortent 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the

[2022-10-02 12:30] Atharva-Shinde commented on #2872
Hey @matthyx @adisky 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged i

[2022-10-02 12:36] Atharva-Shinde commented on #2872
A quick follow-up question, is there any reason to include #753 's [production readiness review file](https://github.com/kubernetes/enhancements/pull/2869/files#diff-b8d45647c1d0ad8227f7df81e091717540c782bf26e1431f3f7ca0e64f4144ce) in this Enhancement Proposal pull request?

[2022-10-02 12:47] Atharva-Shinde commented on #3008
Hey @marquiz👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k

[2022-10-02 12:58] Atharva-Shinde commented on #3063
Hey @pohly 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/

[2022-10-03 05:02] gjkim42 commented on #2595
Yes, I'd like to promote this feature to beta in 1.26.

[2022-10-03 08:21] janosi commented on #1435
Hello @rhockenbury, thank you for the list of TODOs.

I wonder, when changing the feature flag, should I

- remove the flag from k/k; or
- change the flag to `MixedProtocolLBService: {Default: true, PreRelease: featuregate.GA}`; or
- change the flag to `MixedProtocolLBService: {Default: true, PreRelease: featuregate.GA, LockToDefault: true}`

[2022-10-03 09:19] janosi commented on #1435
@bowei @robscott @rtheis this feature would go GA in 1.26
**IBM Cloud Provider:** according to an earlier comment here https://github.com/kubernetes/enhancements/issues/1435#issuecomment-977100432 the validation of mixed protocol services has been merged into the CPI implementation. I have seen that this validation was removed from the code 4 days ago here https://github.com/IBM-Cloud/cloud-provid

[2022-10-03 10:39] rtheis commented on #1435
@janosi I defer to John Kasperski to answer your question.

[2022-10-03 13:28] haircommander commented on #2371
we'll be making a major change to alpha in 1.26

[2022-10-03 14:27] jckasper commented on #1435
@janosi Mixed protocol LB support was initially disabled for the IBM Cloud managed Kubernetes environments because we did not have a chance to investigate or test this mixed LB support with our underlying infrastructure.  That investigation is now complete.  We have enabled mixed protocol (TCP + UDP only) for both our Classic and VPC environments for the Kubernetes 1.25 release.  IBM Cloud is OK w

[2022-10-03 16:20] Atharva-Shinde commented on #3066
Hey @mikebrow 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the

[2022-10-03 16:28] Atharva-Shinde commented on #3288
Hey @knight42 👋, 1.26 Enhancements team here!

Just checking in as we approach **Enhancements Freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the

[2022-10-03 17:14] khenidak commented on #563
@thockin gate longer exists in code except in cloud provider area.

[2022-10-03 17:34] marosset commented on #3573
/milestone v1.26
/label lead-opted-in
(Doing this on behalf of sig-node https://kubernetes.slack.com/archives/C0BP8PW9G/p1664788920990529)

[2022-10-03 18:30] logicalhan commented on #3488
/milestone v1.26

[2022-10-03 18:31] logicalhan commented on #3488
/lead-opted-in

[2022-10-03 18:31] logicalhan commented on #3488
/sig api-machinery

[2022-10-03 19:07] deads2k commented on #3352
/milestone v1.26
/label lead-opted-in
/label tracked/yes

[2022-10-03 19:56] derekwaynecarr commented on #1287
/milestone v1.26
/label lead-opted-in

(this is a high priority SIG Node item for the release that has folks)

[2022-10-03 19:56] derekwaynecarr commented on #3063
/milestone v1.26
/label lead-opted-in

[2022-10-03 19:57] derekwaynecarr commented on #2371
/milestone v1.26
/label lead-opted-in

[2022-10-03 19:58] derekwaynecarr commented on #3288
/milestone v1.26
/label lead-opted-in

(this is a carry over from prior release)

[2022-10-03 19:58] derekwaynecarr commented on #3386
/milestone v1.26
/label lead-opted-in

(this is a carry over from prior release, hope it makes alpha)

[2022-10-03 20:02] derekwaynecarr commented on #3329
/milestone v1.26
/label lead-opted-in

(For sig-node, we see this is not attempting to derive any intelligence from kubelet/runtime initiated conditions)

[2022-10-03 20:08] derekwaynecarr commented on #2535
/remove-label lead-opted-in

design consensus is not yet reached on this feature, and code implementation will not be worked on in 1.26.

[2022-10-03 20:09] derekwaynecarr commented on #2400
/remove-label lead-opted-in

no volunteer has come forward yet this release to push this work further, it will remain unchanged in 1.26.

[2022-10-03 20:09] derekwaynecarr commented on #24
/label lead-opted-in

volunteers assigned in sig-node for this feature.

[2022-10-03 20:10] derekwaynecarr commented on #2681
/label lead-opt-in

sig-network is primary owner.

[2022-10-03 20:10] derekwaynecarr commented on #3570
/label lead-opt-in

volunteer identified in sig to see this to stable in sig-node.

[2022-10-03 20:38] derekwaynecarr commented on #2872
i am fine leaving this as tracked, but we still have not reached consensus on the kep.

hopeful across @thockin and @SergeyKanzhelev we can find a path forward.

[2022-10-03 20:40] SergeyKanzhelev commented on #2400
@derekwaynecarr I plan to move this forward, not to beta, but to more clarity. See https://github.com/kubernetes/enhancements/pull/3571.

[2022-10-03 20:50] derekwaynecarr commented on #2727
/label lead-opted-in

tracked in sig-node sheet.

[2022-10-03 20:51] derekwaynecarr commented on #3542
/remove-label lead-opted-in

This design needs more time in SIG Node and would be reviewed during 1.26 for evaluation in 1.27.

[2022-10-03 21:04] SergeyKanzhelev commented on #2727
This feature is in beta and enabled by default. Unfortunately there is not much adoption of it yet.

I presented it on gRPC meetup and received positive feedback. [Video])(https://www.youtube.com/watch?v=-ruuY5F-rE8) and [slides](https://docs.google.com/presentation/d/1lZI7GqZbiwCnVGnsyZjjlcN-3gc45GsWobFV4VCtgU8/edit?usp=sharing). However there was very little feedback from end users yet. I'd sugg

[2022-10-03 21:06] bowei commented on #2727
Ok -- let's wait for some more feedback -- but I don't recommend waiting much longer -- there is no negative feedback per se.

[2022-10-03 21:08] rhockenbury commented on #2535
/label tracked/no
/remove-label tracked/yes
/milestone clear

[2022-10-03 21:09] rhockenbury commented on #3542
/label tracked/no
/remove-label tracked/yes
/milestone clear

[2022-10-03 21:12] thockin commented on #2727
Moving to 1.27

[2022-10-03 21:16] rhockenbury commented on #2727
/label tracked/no
/remove-label tracked/yes

[2022-10-03 21:22] rhockenbury commented on #2268
/reopen

[2022-10-03 21:25] rhockenbury commented on #2595
Okay, keep in mind enhancement freeze is this upcoming Thursday.

/label lead-opted-in
/milestone v1.26
/label tracked/yes
/remove-label tracked/no
/stage beta

[2022-10-03 21:26] thockin commented on #2595
All we need by deadline is any edits to the KEP itself, right?

[2022-10-03 21:30] rhockenbury commented on #2595
Right, edits to the kep yaml, kep readme and PRR review file.   The requirements for enhancements freeze are:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` for `latest-milestone: 1.26`
- [ ] KEP readme has a [updated detailed tes

[2022-10-03 21:35] rhockenbury commented on #3488
/label tracked/yes

[2022-10-03 21:37] rhockenbury commented on #3352
/label tracked/yes
/remove-label tracked/no

[2022-10-03 21:39] rhockenbury commented on #3573
/stage stable
/label tracked/yes

[2022-10-03 21:47] rhockenbury commented on #3386
Hello @harche, @haircommander, and @ruiwen-zhao 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancemen

[2022-10-03 21:49] rhockenbury commented on #3515
Hello @alexzielenski 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-ke

[2022-10-03 21:52] rhockenbury commented on #2371
Hello @haircommander and @bobbypage 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/mast

[2022-10-03 21:57] rhockenbury commented on #2699
Hello @cheftako 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-tem

[2022-10-03 23:13] marosset commented on #2268
With #3320 merged, this enhancement is now `tracked` for the v1.26 release. Thanks!

[2022-10-03 23:16] marosset commented on #2799
With #3536 merged, this enhancement is now `tracked` for the v1.26 release. Thanks!

[2022-10-03 23:26] marosset commented on #3015
Hello @danwinship 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-10-03 23:26] marosset commented on #3015
Also, please link PRs in the intitila issue description for tracking. Thanks!

[2022-10-03 23:27] aramase commented on #3299
@parul5sahoo Is the change in `kep.yaml` https://github.com/kubernetes/enhancements/pull/3551 sufficient? We have moved the beta milestone for this enhancement to `v1.27`.

[2022-10-03 23:30] marosset commented on #2593
@@rahulkjoshi / @thockin - Can one of you confirm the status of this enhancement?
It looks like the KEP and implementation for alpha merged in v1.25. Is there more work for needed for an alpha release here?
I also don't see any PRs trying to target a beta release.
Thanks!

[2022-10-03 23:32] marosset commented on #3573
Hello @swatisehgal 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep

[2022-10-04 03:30] ruheenaansari34 commented on #3352
Hello @Jefftree  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [x] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-te

[2022-10-04 03:41] ruheenaansari34 commented on #3070
Hello @aojea  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [x] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

[2022-10-04 03:52] ruheenaansari34 commented on #3570
Hello @fromanirh 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-10-04 06:10] parul5sahoo commented on #3299
yes @aramase that works, I've updates the status for this KEP!

[2022-10-04 06:15] parul5sahoo commented on #3488
Hello @jpbetz  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [x] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-temp

[2022-10-04 06:23] parul5sahoo commented on #647
Hello @dashpole 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `<insert-stage-here>` for 1.26 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/kep

[2022-10-04 06:30] parul5sahoo commented on #1672
Hey @andrewsykim there's is just one item left on the list I hope to take a look at it before **enhancements freeze on 18:00 PDT on Thursday 6th October 2022.**

[2022-10-04 06:32] parul5sahoo commented on #2133
Hello {enhancement owner} 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/N

[2022-10-04 12:37] janosi commented on #1435
Cloud status changes when comparing to the beta situation here: https://github.com/kubernetes/enhancements/issues/1435#issuecomment-969523031

AWS: OK., mixed protocol support can be enabled on the k8s API by default. In-tree CPI change to handle a mixed protocol Service: https://github.com/kubernetes/kubernetes/pull/10536
Out-of-tree CPI change: https://github.com/kubernetes/cloud-provider-aws/pu

[2022-10-04 14:27] danwinship commented on #3453
@ruheenaansari34 #3454 is merged. Can you confirm that we are OK for Alpha?

[2022-10-04 14:45] harche commented on #3386
@rhockenbury Link to the PR - https://github.com/kubernetes/enhancements/pull/3575

[2022-10-04 15:07] parul5sahoo commented on #2857
Hello @ddebroy just a quick remainder **the enhancements freeze on 18:00 PDT on Thursday 6th October 2022.**

[2022-10-04 15:07] parul5sahoo commented on #3141
Hello @RaunakShah just a quick remainder **the enhancements freeze on 18:00 PDT on Thursday 6th October 2022.**

[2022-10-04 15:08] parul5sahoo commented on #961
Hello @krmayankk  just a quick remainder **the enhancements freeze on 18:00 PDT on Thursday 6th October 2022.**

[2022-10-04 15:27] ruheenaansari34 commented on #3453
Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `implementable` for `latest-milestone: 1.26`
- [X] KEP readme has a [updated detailed test plan section](https://github.com/kubernetes/enhancements/blo

[2022-10-04 15:33] ruheenaansari34 commented on #3476
Quick reminder - Enhancement freeze is 2 days away. If you are still looking to get this enhancement into v1.26, please plan to make the updates to the kep.yaml, and README and get the PR merged.

[2022-10-04 15:34] ruheenaansari34 commented on #2644
Quick reminder - Enhancement freeze is 2 days away. If you are still looking to get this enhancement into v1.26, please plan to make the updates to the KEP yaml and README and get the PR merged.

[2022-10-04 15:34] ruheenaansari34 commented on #2923
Quick reminder - Enhancement freeze is 2 days away. If you are still looking to get this enhancement into v1.26, please plan to make the updates to the KEP yaml and README and get the PR merged.

[2022-10-04 15:36] ruheenaansari34 commented on #3335
Quick reminder - Enhancement freeze is 2 days away. If you are still looking to get this enhancement into v1.26, please plan to  get the PR https://github.com/kubernetes/enhancements/pull/3336  merged.

[2022-10-04 15:58] janosi commented on #1435
@rhockenbury I am working on the KEP update. I have some difficulties with the initiating the PR due to our contribution processes, but I hope I can open the PR tomorrow.

Meanwhile could you please check my question here https://github.com/kubernetes/enhancements/issues/1435#issuecomment-1265097818 Thank you!

[2022-10-04 19:55] andrewsykim commented on #1672
I might be missing something, but the KEP does have an updated test plan: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1672-tracking-terminating-endpoints#test-plan

[2022-10-04 19:56] andrewsykim commented on #1669
Sorry @rhockenbury, I forgot to link this issue in https://github.com/kubernetes/enhancements/pull/3505. This KEP should be good for v1.26, let me know if there's anytthing else missing.

[2022-10-04 23:33] xing-yang commented on #1432
@rhockenbury Thanks for the reminder!  The KEP merge is blocked because e2e tests are not complete yet.

[2022-10-05 01:56] deepakkinni commented on #2644
We have decided to not move the KEP to beta in 1.26. Instead, we are going for KEP update(for additional changes) and target the beta next release.

[2022-10-05 02:27] parul5sahoo commented on #1672
Hey @andrewsykim,
If you check the latest template, there's an agreement that needs to be checked in the test plan section. And that is missing in this KEP's README.

[2022-10-05 03:02] rhockenbury commented on #2644
Thanks for the update.

/milestone clear
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-10-05 03:06] rhockenbury commented on #1669
Ok, looks like things are good for enhancements freeze.  I have this one marked as `tracked` now.

[2022-10-05 03:13] rhockenbury commented on #1435
The third one - typically owners will also throw in a comment to specify the milestone for removal.  [Here's an example.](https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L852)

[2022-10-05 04:09] andrewsykim commented on #1435
@janosi when taking this feature to GA, we should: change the flag to `MixedProtocolLBService: {Default: true, PreRelease: featuregate.GA, LockToDefault: true}` and remove all references to the feature gate. Also leave a comment to remove the flag two releases after GA.

[2022-10-05 05:15] andrewsykim commented on #1672
I see, this KEP was using the old template since it predates the new one.

[2022-10-05 05:26] andrewsykim commented on #1672
Opened https://github.com/kubernetes/enhancements/pull/3581 to use the new test plan format

[2022-10-05 06:04] parul5sahoo commented on #1672
will mark the kep as `tracked` once the PR is merged.

[2022-10-05 07:27] SergeyKanzhelev opened #3582 "Terminate pod on container completion"
### Enhancement Description

- One-line enhancement description (can be used as a release note):

Allow to configure container to terminate the pod on container completion when no restart should be performed as per restartPolicy.

- Kubernetes Enhancement Proposal:
- Discussion Link: https://docs.google.com/document/d/1gX_SOZXCNMcIe9d8CkekiT0GU9htH_my8OB7HSm3fM8/edit#
- Primary contact (assignee):

[2022-10-05 09:01] mcluseau commented on #2104
I agree, we should target the alpha stage so we get more field testing

[2022-10-05 14:05] atiratree commented on #3017
opened a PR for the test plan update: https://github.com/kubernetes/enhancements/pull/3584

the milestone information should be correct in the kep.yaml already: https://github.com/kubernetes/enhancements/pull/3546

[2022-10-05 14:14] xing-yang commented on #3476
@ruheenaansari34 Thanks for the reminder!  I updated the KEP and moved test plan and graduation criteria under design details section.

[2022-10-05 15:55] soltysh commented on #3017
@Atharva-Shinde with #3584 in this should all be good.

[2022-10-05 16:16] Atharva-Shinde commented on #3333
Hello @jsafrane 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3333#issuecomment-1253940549) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-

[2022-10-05 16:17] Atharva-Shinde commented on #3094
Hello @kerthcet 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3094#issuecomment-1253959235) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-

[2022-10-05 16:18] Atharva-Shinde commented on #3107
Hello @humblec 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3107#issuecomment-1254545164) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-r

[2022-10-05 16:20] Atharva-Shinde commented on #3521
Hello @Huang-Wei 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the PR #3522 merged before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-risk` :)

[2022-10-05 16:22] Atharva-Shinde commented on #3327
Hello @klueska @arpitsardhana 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3327#issuecomment-1254552506) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement

[2022-10-05 16:25] Atharva-Shinde commented on #3545
Hello @klueska 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3545#issuecomment-1261340261) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-r

[2022-10-05 16:29] Atharva-Shinde commented on #3008
Hello @marquiz  👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3008#issuecomment-1264635694) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-

[2022-10-05 16:29] Atharva-Shinde commented on #3063
Hello @pohly 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3063#issuecomment-1264637801) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-ris

[2022-10-05 16:31] Atharva-Shinde commented on #3066
Hello @mikebrow  👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3066#issuecomment-1265708794) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at

[2022-10-05 16:32] Atharva-Shinde commented on #3288
Hello @knight42 👋, just a quick check-in again, as we approach the 1.26 Enhancements freeze.

Please plan to get the action items mentioned in [my comment](https://github.com/kubernetes/enhancements/issues/3288#issuecomment-1265719201) above done before Enhancements freeze on **18:00 PDT on Thursday 6th October 2022** i.e **tomorrow**

For note, the current status of the enhancement is marked `at-

[2022-10-05 16:40] jpbetz commented on #3488
https://github.com/kubernetes/enhancements/pull/3554/files#diff-cf1319666e05d2c2c7193908c44b3969761c879d5c549a844424ecafb56a8d03 contains PRR, test, graduation and `implementable`, we are aiming to merge it today

[2022-10-05 16:48] soltysh commented on #3329
@Atharva-Shinde the PRR has been approved at the correct beta level in https://github.com/kubernetes/enhancements/pull/3463/files so not quite sure what else do you expect?

[2022-10-05 16:56] pohly commented on #3063
@Atharva-Shinde: I believe https://github.com/kubernetes/enhancements/pull/3502 will address the remaining opens, won't it?

It's been reviewed and is now awaiting approval.

[2022-10-05 17:21] Atharva-Shinde commented on #3329
Thanks @soltysh for bringing this to my notice (not sure how I missed this), everything is up-to-date! I've updated the KEP status to `tracked` for 1.26 release cycle :)

[2022-10-05 17:23] Atharva-Shinde commented on #3329
Thanks @soltysh for bringing this to my notice (not sure how I missed this sorry for the error), everything is up-to-date! I've updated the KEP status to `tracked` for 1.26 release cycle :)

[2022-10-05 17:28] ddebroy commented on #2857
We will need to explore the suggestion at https://github.com/kubernetes/enhancements/pull/2893#discussion_r988092284 with sig-node and that will take some more time as sig-node review bandwidth is quite low before the enhancements freeze. So at this point, this is most likely to spill to 1.27.

[2022-10-05 18:33] byako commented on #3542
The design is proposed now in KEP PR.

[2022-10-05 19:09] janosi commented on #1435
@rhockenbury @andrewsykim Thank you for your answers!

Meanwhile I could open the KEP PR here https://github.com/kubernetes/enhancements/pull/3587

[2022-10-05 19:28] deads2k commented on #2339
@enj expressed interest in implementing.

/lead-opted-in
/milestone v1.26

[2022-10-05 19:29] deads2k commented on #2339
/reopen

[2022-10-05 19:29] deads2k commented on #1965
@enj expressed interest in implementing.

/lead-opted-in
/milestone v1.26

[2022-10-05 20:04] cici37 commented on #3488
@parul5sahoo Thanks for reaching out! We have everything merged. The KEP can be tracked now. Please let us know of anything is missing :)

[2022-10-05 20:46] enj commented on #2339
/remove-lifecycle rotten
/assign

[2022-10-05 21:35] Huang-Wei commented on #3521
Thanks for the reminder. It's 99% accomplished atm, just some final comments waiting for the approver to +1.

[2022-10-05 21:53] marosset commented on #3157
Hello @p0lyn0mial 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-t

[2022-10-05 21:59] marosset commented on #2317
Hello  @gnufied, @verult, and @bertinatto  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `stable` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/t

[2022-10-05 22:01] marosset commented on #3015
With https://github.com/kubernetes/enhancements/pull/3574 merged this enhancement is `tracked` for the v1.26 release.
Thank you!

[2022-10-05 23:06] thockin commented on #2593
Pushing to 1.27

[2022-10-05 23:44] arpitsardhana commented on #3327
@Atharva-Shinde  I have updated beta & stable target for KEP-3327.
I did see need to update prod-readiness.

MR: https://github.com/kubernetes/enhancements/pull/3590
Let’s  me know if any additional work i required.

[2022-10-05 23:44] xing-yang commented on #1432
@rhockenbury We won't get the e2e tests ready by the KEP merge deadline. So we are moving this to 1.27.

[2022-10-06 00:20] xing-yang commented on #3476
@ruheenaansari34 I've updated the KEP PR with the owner's acknowledgment and also moved "Alternatives" after "Implementation History". PTAL. Thanks.

[2022-10-06 01:11] rhockenbury commented on #1432
No problem.  Thanks for the update.

/milestone clear
/label tracked/no
/remove-label tracked/yes

[2022-10-06 01:13] rhockenbury commented on #2593
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-10-06 01:16] rhockenbury commented on #1435
I'll mark it as `Tracked` once #3587 is merged.

[2022-10-06 01:20] rhockenbury commented on #3299
/milestone clear
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-10-06 01:22] rhockenbury commented on #2339
/label tracked/yes
/remove-label tracked/no
/stage alpha

[2022-10-06 01:24] rhockenbury commented on #2339
Hello @enj  👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze TOMORROW on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-ke

[2022-10-06 01:25] rhockenbury commented on #1965
/label tracked/yes
/remove-label tracked/no
/stage alpha

[2022-10-06 01:27] rhockenbury commented on #1965
Hello @enj 👋, 1.26 Enhancements team here.

Just checking in as we approach **enhancements freeze TOMORROW on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `beta` for 1.26 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-

[2022-10-06 01:29] rhockenbury commented on #1981
This is now marked as `tracked` and is all set for enhancements freeze. Thanks.

[2022-10-06 01:30] alexzielenski commented on #3515
@rhockenbury The PR has been merged with PRR and I think satisfies the checklist. Please let me know if there is anything left to do!

[2022-10-06 01:31] rhockenbury commented on #2086
With #3509 merged up, this is all set for enhancements freeze. Thanks!

[2022-10-06 01:34] rhockenbury commented on #2433
To meet the requirements, we would also need to update the KEP readme in #3572 to use [latest test plan template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md?plain=1#L257-L328).

[2022-10-06 01:38] rhockenbury commented on #2400
It looks like we would still need to update the KEP readme to use [the latest template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md?plain=1#L257-L328) to meet all requirements for enhancements freeze.

[2022-10-06 01:40] rhockenbury commented on #3515
Thanks.  With #3516 merged, this enhancement is all set for enhancements freeze.

[2022-10-06 01:46] rhockenbury commented on #3542
Just want to clarify - in #3547, it looks like the milestones are targeting v1.26.  Based on a prior comment from @derekwaynecarr, we have this enhancement as `Removed from Milestone`.   Let me know if you do in fact want to opt in for the v1.26 cycle.

[2022-10-06 04:54] parul5sahoo commented on #2857
So, do I consider it as `removed from milestone`?

[2022-10-06 04:56] parul5sahoo commented on #1672
Here’s where this enhancement currently stands:

- [X] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `implementable` for `latest-milestone: 1.26`
- [X] KEP readme has a [updated detailed test plan section](https://github.com/kubernetes/enhancements/blo

[2022-10-06 05:03] robscott commented on #2433
Thanks for catching that @rhockenbury, I've updated the KEP to include the latest test plan template. Unfortunately https://storage.googleapis.com/k8s-triage/index.html was not working for me. Regardless of the input I tried, I got "0 clusters of 0 failures out of 0 builds from Invalid Date to Invalid Date."

[2022-10-06 05:04] parul5sahoo commented on #3488
Hello @cici37 , although I see that the release sign off checklist and the test agreement have been included but they are all unchecked. so could you please check the items that meet the criteria in the release check list and also the check [the test agreement](https://github.com/kubernetes/enhancements/blob/bf5c3c81ea2081d60c1dc7c832faa98479e06209/keps/sig-api-machinery/3488-cel-admission-control

[2022-10-06 07:54] byako commented on #3542
Yes, @rhockenbury, that is the intention, if the proposal is approved or agreed for its details to be ironed out during v1.26 cycle - we'd like to opt this into v1.26 cycle.

[2022-10-06 09:49] janosi commented on #1435
KEP-1435 GA PR to k/k https://github.com/kubernetes/kubernetes/pull/112895

[2022-10-06 10:12] swatisehgal commented on #3015
@marosset Looks like there is some mixup here. This enhancement is linked to https://github.com/kubernetes/enhancements/pull/3293 and not https://github.com/kubernetes/enhancements/pull/3574.

[2022-10-06 13:56] bertinatto commented on #2317
@marosset can you point me to what exactly is missing in the Test Plan section?
The only difference I see is in the title leval, I don't see any missing information?

[2022-10-06 13:56] enj commented on #2339
/assign @andrewsykim

[2022-10-06 13:57] enj commented on #1965
/assign

@rhockenbury #3589 is open for review.

[2022-10-06 15:44] enj commented on #3331
/milestone v1.27

[2022-10-06 15:51] enj commented on #3221
/milestone v1.27

[2022-10-06 16:02] marosset commented on #2317
Hi @bertinatto -
Please include (and check)
![image](https://user-images.githubusercontent.com/18291632/194361098-efb058a2-c8f1-4285-94a8-11aa03befa65.png)

Also,
Please follow the instructions in the comments in [KEP template](https://raw.githubusercontent.com/kubernetes/enhancements/master/keps/NNNN-kep-template/README.md) for the sections in `Test Plan`
- For Unit tests enumerate the core packa

[2022-10-06 16:19] gnufied commented on #2317
@marosset So the only thing missing in unit test links right? The KEP already links e2e tests and it explicitly mentions that integration tests don't apply to this KEP.

To be clear - the feature does have extensive unit tests too. See:

[code]

[2022-10-06 16:42] ruheenaansari34 commented on #3476
Thank you. Please ensure the PR is merged before enhancements freeze at 18:00 PDT today and that will fulfill requirements.

[2022-10-06 17:17] pwschuurman commented on #3335
/sig apps

[2022-10-06 17:20] pwschuurman commented on #3335
/remove-sig multicluster

[2022-10-06 17:30] marosset commented on #3573
With https://github.com/kubernetes/enhancements/pull/3574 merged this enhancement is tracked for the v1.26 release. Thank you!

[2022-10-06 17:49] marosset commented on #2317
For the e2e tests the KEP template comments asks:
[code]
It looks like the current README.md is just linking to the e2e test source.

Also - and this is the most important part -
the README.md **must** include

[code]
from the KEP template.

[2022-10-06 19:39] xing-yang commented on #3141
Hi @parul5sahoo, e2e tests are still WIP so we can't get the KEP merged today. Since the implementation is completely out-of-tree, we will continue to work on it.  Please keep the `tracked/out-of-tree` label.

[2022-10-06 19:51] ruiwen-zhao commented on #3386
@rhockenbury   https://github.com/kubernetes/enhancements/pull/3575 is now merged and it should check all the boxes in https://github.com/kubernetes/enhancements/issues/3386#issuecomment-1266093148

[2022-10-06 20:10] rhockenbury commented on #3386
Thanks, I have it marked as `tracked` now.

[2022-10-06 20:12] rhockenbury commented on #3335
Thanks, the enhancements team has this marked as `tracked` now.

[2022-10-06 20:14] rhockenbury commented on #3221
Marking as `Removed from Milestone` per [this comment.](https://github.com/kubernetes/enhancements/pull/3376#issuecomment-1270314491)

/remove-label tracked/yes
/label tracked/no

[2022-10-06 20:15] marosset commented on #2317
With #3598 merged - this KEP is now `tracked` for the v1.26 release cycle.
Thanks!

[2022-10-06 20:27] rhockenbury commented on #3542
I can opt it in but it's going to be pretty tight to meet the requirements for enhancements freeze since freeze will happen in a few hours.

/label lead-opted-in
/label tracked/yes
/remove-label tracked/no
---

Just checking in as we approach **enhancements freeze on 18:00 PDT on Thursday 6th October 2022**.

This enhancement is targeting for stage `alpha` for 1.26 (correct me, if otherwise)

Here

[2022-10-06 20:32] rhockenbury commented on #2433
We would still need to add the [test update agreement](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md?plain=1#L270-L274) which needs to be checked and included in the kep readme.

[2022-10-06 20:34] rhockenbury commented on #2857
/milestone clear
/remove-label lead-opted-in
/remove-label tracked/yes
/label tracked/no

[2022-10-06 20:38] rhockenbury commented on #1435
With #3587 merged, this is now `tracked` for v1.26. Thanks.

[2022-10-06 20:44] rhockenbury commented on #2339
With #3593 merged, I have this marked as `tracked` for v1.26. Thanks.

[2022-10-06 20:45] rhockenbury commented on #1965
Thanks. Please try to get #3589 merged up before enhancements freeze later today.

[2022-10-06 20:49] msau42 commented on #3294
/reopen

[2022-10-06 20:57] rhockenbury commented on #2339
Thanks, fixed in the tracking sheet.

[2022-10-06 21:05] enj commented on #1965
@rhockenbury #3589 is merged :)

[2022-10-06 21:11] rhockenbury commented on #3070
With #3583 merged, we have this marked as `tracked` for v1.26. Thanks.

[2022-10-06 21:15] rhockenbury commented on #3094
With #3539 merged, we have this marked as `tracked` for v1.26.

[2022-10-06 21:16] rhockenbury commented on #3521
With #3522 merged, we have this marked as `tracked` for v1.26.

[2022-10-06 21:18] rhockenbury commented on #3545
We have this marked as `tracked` for v1.26 with #3549 merged.

[2022-10-06 21:22] rhockenbury commented on #1965
Great. I have it marked as `tracked` for v1.26 now.

[2022-10-06 22:08] marosset commented on #3294
With https://github.com/kubernetes/enhancements/pull/3295 merged I'm updating the status of this enhancement to `tracked` for v1.26.
Thanks!

[2022-10-06 23:05] aojea commented on #2681
@wzshiming you have to fix the 3 missing points in the KEP mentioned in https://github.com/kubernetes/enhancements/issues/2681#issuecomment-1264188068

[2022-10-06 23:06] aojea commented on #2595
@gjkim42 you have to address those issues ^ on the KEP before you can promote the feature

[2022-10-06 23:11] xing-yang commented on #3476
Hi @ruheenaansari34, we need more time to finalize the design details so the KEP won't be merged today. Since the implementation is completely out-of-tree, we will continue to work on it.  When you remove the `tracked/yes` label, can you please also add the `tracked/out-of-tree` label?  Thanks!

[2022-10-06 23:22] gjkim42 commented on #2595
I think they are all done by #2884.

[2022-10-06 23:37] rhockenbury commented on #2433
Thanks!  Marked as `tracked` for v1.26.

[2022-10-06 23:39] rhockenbury commented on #2595
With #2884 merged, I have this marked as `tracked` for v1.26

[2022-10-07 00:49] parul5sahoo commented on #3141
Hey @xing-yang there isn't a `tracked/out-of-tree` label available for KEPs at the moment, so maybe you can just file an exception request post enhancement freeze.

[2022-10-07 01:00] enj commented on #2718
@rhockenbury #2693 has been approved by SIG Auth leads and PRR https://github.com/kubernetes/enhancements/pull/2693#issuecomment-1270708847 - we are just waiting on explicit `/approve` from PRR folks.

[2022-10-07 01:00] rhockenbury commented on #3041
This is really late to opt in since enhancements freeze is in a few minutes.  I took a quick look at it looks like it does not meet all the requirements for enhancements freeze.

- [ ] KEP readme using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` for `

[2022-10-07 01:01] enj commented on #3257
@marosset #3258 has been approved by SIG Auth leads and PRR https://github.com/kubernetes/enhancements/pull/3258#issuecomment-1268854253 - we are just waiting on explicit `/approve` from PRR folks.

[2022-10-07 01:04] enj commented on #2718
@rhockenbury and now #2693 is merged 😄

[2022-10-07 01:12] rhockenbury commented on #1790
Hello 👋, 1.26 Enhancements Lead here.
Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Tha

[2022-10-07 01:12] enj commented on #3257
@marosset and #3258 is merged :)

[2022-10-07 01:13] rhockenbury commented on #3141
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:14] rhockenbury commented on #3314
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:15] rhockenbury commented on #3333
With #3544 merged, we have this down as `tracked` for v1.26.  Thanks!

[2022-10-07 01:16] rhockenbury commented on #3476
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:19] rhockenbury commented on #2718
Hey @enj, It looks like the KEP readme needs a few updates to comply with the latest [test plan template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md?plain=1#L257-L328), specifically around the Test Plan section.  I'm going to mark this as `tracked` but can you please get these changes in ASAP.

[2022-10-07 01:21] rhockenbury commented on #3257
With #3258 merged, I have this down as `tracked` for v1.26.  Thanks!

[2022-10-07 01:21] rhockenbury commented on #3503
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:22] rhockenbury commented on #2923
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:26] rhockenbury commented on #2924
With #3430 merged, this is marked as `Tracked` for v1.26.

[2022-10-07 01:26] rhockenbury commented on #3107
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:27] rhockenbury commented on #3327
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:27] rhockenbury commented on #961
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:28] rhockenbury commented on #3157
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:29] rhockenbury commented on #1880
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:29] rhockenbury commented on #3015
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:30] rhockenbury commented on #3570
With #3570 merged, this is `tracked` for v1.26.

[2022-10-07 01:31] rhockenbury commented on #3570
With #3350 merged, this is `tracked` for v1.26

[2022-10-07 01:32] rhockenbury commented on #24
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:32] rhockenbury commented on #2400
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:33] rhockenbury commented on #2681
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:34] rhockenbury commented on #2872
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:36] rhockenbury commented on #3008
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:38] rhockenbury commented on #3063
I have this marked as `tracked` but please update the KEP yaml to reflect the right latest-milestone v1.26.

[2022-10-07 01:40] rhockenbury commented on #3288
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:41] rhockenbury commented on #2371
I'll mark this as `tracked` for enhancements freeze but please update the milestone stages in the KEP yaml.

[2022-10-07 01:41] rhockenbury commented on #2699
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 01:43] rhockenbury commented on #3352
With #3534 merged, this is `tracked` for v1.26.

[2022-10-07 01:43] rhockenbury commented on #3041
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [enhancements freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Th

[2022-10-07 05:15] arpitsardhana commented on #3327
@rhockenbury @Atharva-Shinde  I am not sure if i understand the action.
I have raised MR to set the beta target to 1.27.
The feature is alpha in 1.26 and we want to keep the status quo such as keep it alpha in 1.27

I have raised MR to update the beta target in KEP. My question is, do we need anything additional? I dont intend to commit any extra code with regards to align-by-socket, does that mea

[2022-10-07 05:47] kerthcet commented on #2926
/remove-lifecycle stale

[2022-10-07 07:04] aojea commented on #2595
👏

[2022-10-07 08:34] soltysh commented on #3335
/remove-lifecycle stale

[2022-10-07 10:34] pohly commented on #3063
PR https://github.com/kubernetes/enhancements/pull/3601 bumps the latest-milestone.

[2022-10-07 11:03] #3136 closed

[2022-10-07 14:42] rhockenbury commented on #3327
No, we are set here and nothing additional is needed.  This will remain in alpha for 1.26, and you'll need to opt in again when the 1.27 cycle starts to graduate the enhancements to beta.

[2022-10-07 15:05] haircommander commented on #2371
It looks to me this was done https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2371-cri-pod-container-stats/kep.yaml#L18-L20

[2022-10-07 16:14] rhockenbury commented on #2371
Okay, I think it should be fine.  I was [referring to this line](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2371-cri-pod-container-stats/kep.yaml#L22), but since this went into alpha in v1.23, we should probably leave it as v1.23 rather than updating to v1.26.

Thanks!

[2022-10-07 17:46] marosset commented on #3503
@rhockenbury - https://github.com/kubernetes/enhancements/pull/3507 merged before the enahcnement freeze. Is there a reason why this didn't make it into v1.26?

[2022-10-07 17:53] rhockenbury commented on #3503
My mistake.  I missed that there was a PR merged up for this. This is `tracked` for v1.26

/milestone v1.25
/label tracked/yes
/lead-opted-in
/remove-label tracked/no

[2022-10-07 17:54] marosset commented on #3503
Thanks!

[2022-10-07 19:47] #3055 closed

[2022-10-07 21:07] SergeyKanzhelev commented on #3041
@rhockenbury I apologize for the last minute KEP added to be tracked. The KEP was in reviews for a long time and we lost track whether it has all the proper labels.

This KEP is not a product change, just an alignment of test tags in k8s. It doesn't really have stages like alpha/beta/GA nor requires a test plan. The KEP process was suggested mostly for visibility across SIGs and scheduling of work

[2022-10-07 21:15] SergeyKanzhelev commented on #3041
hm, `implementable` status forces prod readiness review. Since it is not a product change, I don't think we need to spend time on this. Can we make an exception for this KEP?

[2022-10-07 21:20] BenTheElder commented on #3041
e2e.test is technically a binary artifact in the release (which, definitely gets usage, consider the conformance program for example), so it's a bit iffy IMHO

[2022-10-07 21:29] rhockenbury commented on #3041
@SergeyKanzhelev, we'll get you answer from the PRR reviewers on Slack - https://kubernetes.slack.com/archives/CPNHUMN74/p1665177817264029

[2022-10-07 21:51] SergeyKanzhelev commented on #2400
/assign

@rhockenbury I changed the formatting of TestPlan and added some links to tests we introduced in Alpha stage. Can this be returned back to milestone without the exception process since the content was not modified?

[2022-10-07 21:52] SergeyKanzhelev commented on #2400
/unassign @ehashman

(@ehashman please feel free to re-assign back to yourself)

[2022-10-08 05:28] sanposhiho opened #3604 "Support inter-Pod affinity to one or more Pods"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Support inter-Pod affinity to one or more Pods
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/68701
- Primary contact (assignee): @sanposhiho
- Responsible SIGs: sig/scheduling
- Enhancement target (which target equals to which milestone):
  - Alph

[2022-10-08 17:05] rhockenbury commented on #3041
Based on feedback from the discussion on Slack and with #3602 merged, we have this marked as `Tracked` for "beta".

/label lead-opted-in
/milestone v1.26
/label tracked/yes
/stage beta
/remove-label tracked/no

[2022-10-08 17:20] rhockenbury commented on #2400
Alright, thanks for making those changes.  I have it marked as `tracked` now but can you please also update the KEP yaml to set `stage: alpha`? - https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2400-node-swap/kep.yaml#L21

/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove-label tracked/no

[2022-10-08 19:53] sftim commented on #281
https://github.com/kubernetes/enhancements/blob/2cd758cc6ab617a93f578b40e97728261ab886ed/keps/sig-node/281-dynamic-kubelet-configuration/kep.yaml states that the feature was removed.

[2022-10-08 19:57] sftim commented on #281
https://github.com/kubernetes/enhancements/tree/2cd758cc6ab617a93f578b40e97728261ab886ed/keps/sig-node/281-dynamic-kubelet-configuration states that the removal _from the API server_ happens in Kubernetes v1.26

That makes me think we should reopen and track this.
/reopen

[2022-10-08 21:27] pwschuurman commented on #3335
* Docs draft PR: https://github.com/kubernetes/website/pull/37224

[2022-10-09 01:54] pacoxu commented on #281
https://github.com/kubernetes/kubernetes/pull/112643 is WIP for it.

[2022-10-09 16:56] jan0ski commented on #24
Exception filed - thanks!

[2022-10-10 17:49] SergeyKanzhelev commented on #281
/remove-lifecycle rotten

[2022-10-10 17:49] sftim commented on #3570
I recommend cracking on with early work on a docs update so that these are GA quality (or have PRs open to make them be) by the appropriate review deadline.

[2022-10-10 17:49] sftim commented on #3573
I recommend cracking on with early work on a docs update so that these are GA quality (or have PRs open to make them be) by the appropriate review deadline.

[2022-10-10 17:50] sftim commented on #1981
I recommend cracking on with early work on a docs update so that these are GA quality (or have PRs open to make them be) by the appropriate review deadline.

[2022-10-10 21:14] rhockenbury commented on #281
See https://github.com/kubernetes/kubernetes/pull/112643#issuecomment-1273822764 for the approved exception request for v1.26.

[2022-10-10 21:28] leonardpahlke commented on #281
/label lead-opted-in
/label tracked/yes
/milestone v1.26

[2022-10-10 21:33] gracenng commented on #281
let me see if i have perm haha
/label lead-opted-in

[2022-10-10 21:34] leonardpahlke commented on #281
:D whatt, I guess we can add `release-team-leads` to the list

[2022-10-11 06:33] leonardpahlke commented on #2699
This was approved as an exception request for 1.26, ref. https://github.com/kubernetes/kubernetes/pull/108838#issuecomment-1274150308
/label lead-opted-in
/label tracked/yes
/milestone v1.26

[2022-10-11 06:39] leonardpahlke commented on #24
This was approved as an exception request for 1.26, ref. https://github.com/kubernetes/enhancements/pull/3298#issuecomment-1274155871
/label lead-opted-in
/label tracked/yes
/milestone v1.26

[2022-10-11 09:15] swatisehgal commented on #3573
@sftim Sure, will do.

[2022-10-11 16:16] jsafrane commented on #1495
/reopen
It's Beta and it has not been removed from the code.

[2022-10-11 16:16] jsafrane commented on #1495
I found one issue that I'd like to be fixed before GA: https://github.com/kubernetes-csi/lib-volume-populator/issues/41

[2022-10-12 02:44] KeithTt commented on #361
Same problem here, `Docker Root Dir: /opt/docker`.

May I create a soft link to /var/lib/docker?

[code]

[2022-10-12 04:15] pacoxu opened #3610 "cluster/namespace wide environment variables inject into every container"
### Enhancement Description

- One-line enhancement description (can be used as a release note): cluster/namespace wide env inject into every container
- Kubernetes Enhancement Proposal:
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/48180
- Primary contact (assignee): @pacoxu
- Responsible SIGs: node, and probably api-machinery.
- Enhancement target (which target equals to wh

[2022-10-12 06:41] pacoxu commented on #3610
/sig api-machinery auth

[2022-10-12 09:16] pacoxu commented on #2570
This feature is alpha in v1.22. Any plan to make it beta?

BTW, I have some questions about the KEP.

1. about the high factor, this is tricky. The kernel ability is not fully exposed to user API. `memory.high` is like a soft limit and `memory.max` is a hard limit.
Currently, there is only `resource.limit`. No `resource.softlimit`.
https://github.com/kubernetes/enhancements/pull/2571#discussion_r6

[2022-10-12 14:58] neolit123 opened #3614 "sig-cl/kubeadm: Use etcd's learner mode"
### Enhancement Description

- One-line enhancement description (can be used as a release note): use etcd's learner mode for joining etcd members to the etcd cluster managed by kubeadm
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/3614-etcd-learner-mode/README.md
- Discussion Link:
  - https://hackmd.io/XZHxeO21T-GDgRhj

[2022-10-12 15:11] rhockenbury commented on #24
With the [exception request approved](https://groups.google.com/a/kubernetes.io/g/release-team/c/Z219Bv-BT6U), please make sure you complete all KEP requirements for enhancements freeze by 18:00 PST Tuesday 18th October 2022.

[2022-10-12 21:29] rhockenbury commented on #2699
Thanks.

/lgtm

[2022-10-12 21:43] cici37 commented on #3488
/assign

[2022-10-13 12:20] #3296 closed

[2022-10-13 19:21] ehashman commented on #2570
This should not have been closed as the feature is merely alpha. It either needs to continue graduating or would be deprecated. There is more work to do in either case.

[2022-10-13 19:22] ehashman commented on #2400
@SergeyKanzhelev I am not planning on working on this at this time, please feel free to continue driving it forward and let me know if you need any feedback/reviews.

[2022-10-14 04:48] everpeace opened #3619 "Fine-grained SupplementalGroups control"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add new API surface to control and track how supplemental groups are applied in the container.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/3619-supplemental-groups-policy
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/11287

[2022-10-14 04:49] everpeace commented on #3619
/assign
/sig scheduling

[2022-10-14 04:49] everpeace commented on #3619
/remove-sig-scheduling

[2022-10-14 04:49] everpeace commented on #3619
/sig node

[2022-10-14 04:50] everpeace commented on #3619
/remove sig/scheduling

[2022-10-14 04:51] everpeace commented on #3619
/remove-label sig/scheduling

[2022-10-14 04:53] everpeace commented on #3619
/remove-sig scheduling

[2022-10-14 04:55] everpeace commented on #3619
/kind feature

[2022-10-14 05:24] YuikoTakada commented on #2268
Is anyone working for e2e tests now?

[2022-10-14 22:44] pwschuurman commented on #3335
Hi @ruheenaansari34 @rhockenbury, this is currently marked as tracked by sig-multicluster, but the kep is in sig-apps. Can the enhancements spreadsheet be updated to reflect the current state of this enhancement? https://github.com/orgs/kubernetes/projects/98/views/11?sortedBy%5Bdirection%5D=asc&sortedBy%5BcolumnId%5D=15217749&filterQuery=sig%3Asig-multicluster

[2022-10-15 00:21] JeremyOT commented on #1645
/reopen
/remove-lifecycle rotten

[2022-10-15 17:49] rhockenbury commented on #3335
Thanks. Fixed.

[2022-10-17 12:28] pierluigilenoci commented on #2021
/remove-lifecycle stale

[2022-10-17 15:54] KnVerey commented on #2837
/remove-label sig/cli

[2022-10-17 15:55] KnVerey commented on #2227
/milestone v1.27

[2022-10-17 15:58] KnVerey commented on #2227
@soltysh what do we need to do to promote to stable in this case? I moved to 1.27 because we didn't make the opt-in period for 1.26.

[2022-10-18 00:14] jberkus commented on #3466
Please update this issue with the actual location of the KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/3466-kubernetes-component-health-slis

[2022-10-18 00:21] logicalhan commented on #3466
Sure done.

[2022-10-18 03:03] pacoxu commented on #2227
thanks. We may update it to be GAed in v1.27 release cycle/

[2022-10-18 03:37] xiaonancc77 opened #3622 "Optionally Disable ClusterIP for `type: LoadBalancer` Services"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
 Allow users to disable ClusterIP for Service Type=LoadBalancer. This is useful for users who only communicate with vip, not clusterIP.
- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/pull/3623
- Primary contact (assignee): @xiaonancc77
- Responsible SIGs: Network / Cloud

[2022-10-18 07:20] xiaonancc77 commented on #3622
/sig network

[2022-10-18 13:32] RomanBednar commented on #3333
Rollout-rollback-rollout testing was performed, feature behaves as expected and no issues were observed. Posting my tests results:

## Perform pre-upgrade tests

Set default storage class:
[code]

PVC does not get updated and remains pending:
[code]

## Upgrade cluster

Check available 1.25 versions:
[code]

Install/update kubeadm:
[code]

Prepare kubeadm config file that enables FeatureGate:

[co

[2022-10-18 16:58] jonathon2nd commented on #2433
I am also trying to see about using [Topology Aware Hints](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/) because [Topology-aware traffic routing with topology keys](https://kubernetes.io/docs/concepts/services-networking/service-topology/) has been deprecated. We were using it to ensure optimal routing for high bandwidth services, to keep traffic on the same node i

[2022-10-18 17:51] jonathon2nd commented on #2433
Wait the only hint _is_ ForZone?
https://pkg.go.dev/k8s.io/api/discovery/v1#EndpointHints

That makes [this ](https://kubernetes.io/docs/concepts/services-networking/service-topology/), not really accurate, right? Or am I missing something obvious?

[2022-10-18 18:07] sftim commented on #2433
@jonathon2nd we could perhaps stress that “similar” is not “equivalent”. _This_ enhancement issue specifically tracks [Topology Aware Hints](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/).

You could raise an issue against [k/website](https://github.com/kubernetes/website/) if you'd like to work on improving the explanation, or want to encourage other contributors t

[2022-10-18 18:36] marosset commented on #1981
I started a draft docs PR (linked in initial issue description) and will add more updates as soon as I finish up the e2e coverage that is listed as graduation criteria for this enhancement.

[2022-10-18 21:40] sftim commented on #1981
Thanks for that early start!

[2022-10-18 21:48] marosset commented on #1981
blog placeholder PR - https://github.com/kubernetes/website/pull/37370

[2022-10-19 05:30] ttakahashi21 opened #3624 "Update document for add reviewer"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Update document for add reviewer
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3630
- Discussion Link:  https://github.com/kubernetes/enhancements/pull/3295#discussion_r989350085
- Primary contact (assignee): @ttakahashi21
- Responsible SIGs: @kubernetes/sig-storage

[2022-10-19 15:00] dims commented on #3570
Reflects the KEP update already merged:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/3570-cpumanager/kep.yaml#L35-L38

/approve
/lgtm

[2022-10-19 15:07] rhockenbury commented on #24
We are now past the exception period that was granted through the exception request.   Can we get https://github.com/kubernetes/enhancements/pull/3298 merged up ASAP?

[2022-10-19 18:40] #3624 closed

[2022-10-20 00:08] sanposhiho opened #3633 "Introduce `MatchLabelKeys` to Pod Affinity and Pod Anti Affinity"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Introduce `MatchLabelKeys` to Pod Affinity and Pod Anti Affinity
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3633-matchlabelkeys-to-podaffinity
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/112947
- Primary contact

[2022-10-20 15:28] RomanBednar commented on #3333
Tested version skew and sharing results below. First case is with feature enabled in API server and disabled in KCM and the second case is the other way around.

## Case 1 - API on / KCM off

| API server | KCM | Behavior |
|------------|-----|----------|
| on | off| Existing Kubernetes behavior, only users can change `pvc.spec.storageClassName=nil` to a SC name. |

Controller will not update PVC:

[2022-10-20 17:47] mickeyboxell commented on #2268
@xing-yang Who is the right point of contact to create a PR for the `k/website` docs?

[2022-10-20 17:48] mickeyboxell commented on #2857
@ddebroy are docs required for this KEP? If so, who is the right point of contact to create a PR for the k/website docs?

[2022-10-20 17:48] sonasingh46 commented on #2268
Hey @mickeyboxell . See if @sftim can provide some info on this.

[2022-10-20 17:54] mickeyboxell commented on #2718
@nckturner Are docs required for this KEP? If so, who will be opening the docs PR for `k/website`?

[2022-10-20 20:06] mickeyboxell commented on #3294
@mkimuram Are docs required for this KEP? If so, who will be opening the docs PR for `k/website`?

[2022-10-20 20:11] mickeyboxell commented on #3094
@kerthcet Are docs required for this KEP? If so, who will be opening the docs PR for `k/website`?

[2022-10-20 20:17] mickeyboxell commented on #1440
@soltysh Are docs required for this KEP? If so, who will be opening the docs PR for k/website?

[2022-10-20 20:19] mickeyboxell commented on #2086
@andrewsykim Are docs required for this KEP? If so, who will be opening the docs PR for `k/website`?

[2022-10-20 22:58] mickeyboxell commented on #2433
@robscott Are additional docs required for this KEP? If so, will there be a new PR for `k/website`?

[2022-10-20 23:14] mickeyboxell commented on #3070
@aojea Are docs required for this KEP? If so, who will be opening the docs PR for `k/website`?

[2022-10-20 23:22] mickeyboxell commented on #3352
@Jefftree Are docs required for this KEP? If so, who will be opening the docs PR for `k/website`?

[2022-10-21 03:14] kerthcet commented on #3094
I will be responsible for this document update about alpha -> beta.

[2022-10-21 07:50] pbetkier commented on #3148
/reopen

[2022-10-21 08:02] pbetkier commented on #3148
/remove-lifecycle rotten

[2022-10-21 12:17] soltysh commented on #1440
@mickeyboxell this will be relying only on autogenerated docs for kubectl for now, we don't plan explicit docs for it at this point in time.

[2022-10-21 12:36] sftim commented on #3622
/retitle Optionally Disable ClusterIP for `type: LoadBalancer` Services

[2022-10-21 12:36] sftim commented on #3622
@xiaonancc77 I fixed a typo _and_ reworded. If you want to edit again, please do.

[2022-10-21 12:49] xmudrii commented on #1731
## Summary

We started evaluating OpenBuildService (OBS) hosted by openSUSE (https://build.opensuse.org/) as a solution for **building, signing, publishing, and hosting** our packages. OBS handles Debian (deb) and RPM packages for many of the most popular distros (Ubuntu, Debian, CentOS, RHEL...).

**The initial proof-of-concept phase went very well:**

- packages are being built successfully usin

[2022-10-21 13:20] soltysh commented on #2227
sgtm - thx!

[2022-10-21 13:33] aojea commented on #3070
Thanks for the remindes, submitted
https://github.com/kubernetes/website/pull/37432 @mickeyboxell

[2022-10-21 22:59] sftim commented on #2008
I think it'd be useful if the kubelet annotated Pods with the timestamp of their last checkpoint.

If we add native support for restores, we could additionally manage a Pod annotation with the timestamp of the last restore, and perhaps with some details of the checkpoint data that was restored.

[2022-10-24 01:23] mkimuram commented on #3294
Docs are required. @ttakahashi21 or I will open the docs PRs described in the updated "Enhancement Description" above.

[2022-10-24 02:25] mauriciopoppe opened #3636 "CSI Drivers in Windows as HostProcess Pods"
### Enhancement Description

- One-line enhancement description (can be used as a release note): **CSI Drivers in Windows as HostProcess Pods**
- Kubernetes Enhancement Proposal:
- Discussion Link: https://docs.google.com/document/d/1_WtQUnnlXE_M-YzYVrPZbjEgSxMvY9EYFwl61MC2i5I/edit#bookmark=id.m6yzw8n3okss
- Primary contact (assignee): @mauriciopoppe
- Responsible SIGs: sig-storage
- Enhancement t

[2022-10-24 02:25] mauriciopoppe commented on #3636
/sig storage

[2022-10-24 07:07] YuikoTakada commented on #2268
I created a PR about feature gate to k/website...is it OK? Should I close this?
https://github.com/kubernetes/website/pull/37374

[2022-10-24 08:50] xiaonancc77 commented on #3622
@sftim  Thanks.

[2022-10-24 11:54] ardaguclu opened #3638 "Improve kubectl plugin resolution for non-shadowing subcommands"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Improve kubectl plugin resolution for non-shadowing subcommands
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/3638-kubectl-plugin-subcommands
- Discussion Link: [September 21, 2022 sig-cli bi-weekly meeting](https://docs.google.com/document/d/1r0

[2022-10-24 11:54] ardaguclu commented on #3638
/milestone v1.27

[2022-10-24 11:55] ardaguclu commented on #3638
/sig cli

[2022-10-24 14:58] dashpole commented on #727
This shouldn't have been closed.  The endpoint is still actively used.

cc @bobbypage
cc @kubernetes/sig-instrumentation-leads

[2022-10-24 15:04] dashpole commented on #727
Discussed this at the F2F at kubecon.  We should graduate this to GA in the next release.

We just need to mark metrics here: https://github.com/kubernetes/kubernetes/blob/a497c56c33aca254e69513fcd46c0c76c8fadcab/pkg/kubelet/metrics/collectors/resource_metrics.go#L87 as GA.

[2022-10-24 15:05] dashpole commented on #727
We also need to update the KEP https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/727-resource-metrics-endpoint

[2022-10-24 16:21] atiratree commented on #2804
/remove-lifecycle stale

[2022-10-24 18:10] sftim commented on #2799
@zshihang I think the first link in the issue description should be to https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2799-reduction-of-secret-based-service-account-token

[2022-10-25 14:57] leonardpahlke commented on #24
It looks like there is no progress on this issue; therefore we will remove this KEP again from the release cycle 1.26.
cc @rhockenbury

[2022-10-25 14:58] rhockenbury commented on #24
/milestone clear
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-10-25 15:34] sftim commented on #2095
@palnabarun is this now Implemented? Can we close the issue?

[2022-10-27 00:29] arianf commented on #19
Is it possible to reset a `cronjob` that has exceeded: `startingDeadlineSeconds.` without deleting it?

If it's not possible, would that be a new enhancement? Or bug fix?

[2022-10-27 15:44] pohly commented on #1602
At this point the plan is to convert code directly to [contextual logging](https://github.com/kubernetes/enhancements/issues/3077), so see there for progress tracking.

[2022-10-27 16:12] shivanshu1333 commented on #3077
/assign

[2022-10-29 02:38] mauriciopoppe commented on #3636
/sig windows

[2022-10-29 08:25] #3163 closed

[2022-10-29 18:29] rhockenbury commented on #1981
Hi @marosset 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022**.

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze deadli

[2022-10-29 18:30] rhockenbury commented on #1491
Hi @divyenpatel  👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze de

[2022-10-29 18:34] rhockenbury commented on #2268
Hi @xing-yang 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022**.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze deadl

[2022-10-29 18:36] rhockenbury commented on #2317
Hi @gnufied and @verult 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code fr

[2022-10-29 18:38] rhockenbury commented on #2799
Hi @zshihang 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [X] All PRs are fully merged by the code freeze deadli

[2022-10-29 18:39] rhockenbury commented on #3325
Hi @nabokihms 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [X] All PRs are fully merged by the code freeze deadl

[2022-10-29 18:40] rhockenbury commented on #3333
Hi @RomanBednar 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze dea

[2022-10-29 18:42] rhockenbury commented on #3466
Hi @logicalhan 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [X] All PRs are fully merged by the code freeze dead

[2022-10-29 18:43] rhockenbury commented on #3498
Hi @logicalhan 👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [X] All PRs are fully merged by the code freeze dead

[2022-10-29 18:45] rhockenbury commented on #1885
Hi @andyzhangx 👋,

Checking in once more as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code f

[2022-10-29 18:47] rhockenbury commented on #281
Hi @mtaufen and @SergeyKanzhelev  👋,

Checking in as we approach 1.26 code freeze at **17:00 PDT on Tuesday 8th November 2022.**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).

For the deprecation, please let me

[2022-10-29 21:49] nabokihms commented on #3325
@rhockenbury Thank you for checking. According to the code, everything is merged and ready for the Alpha. We are only waiting for the documentation.

[2022-10-30 03:21] pacoxu commented on #2915
/remove-lifecycle stale
Opened https://github.com/kubernetes/kubernetes/pull/113448 to close this issue.

[2022-10-31 08:18] #2915 closed

[2022-10-31 17:04] Atharva-Shinde commented on #3545
Hi @klueska 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes). If there are any other PRs beyond https://github.com/kubernet

[2022-10-31 17:11] Atharva-Shinde commented on #1435
Hey @janosi @thockin @bridgetkromhout 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes). If there are any other PRs beyond h

[2022-10-31 17:17] Atharva-Shinde commented on #3017
Hey @mortent @atiratree 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the issue description above(for tracking purposes). If there are any other PRs beyond: https://github.

[2022-10-31 17:25] #2095 closed

[2022-10-31 17:30] Atharva-Shinde commented on #3570
Hey @fromanirh 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the issue description above(for tracking purposes). If there are any other PRs beyond: https://github.com/kuber

[2022-10-31 17:35] Atharva-Shinde commented on #1287
Hey @vinaykul 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the issue description above(for tracking purposes). If there are any other PRs beyond: https://github.com/kubern

[2022-10-31 17:40] Atharva-Shinde commented on #2400
Hey @ehashman @SergeyKanzhelev 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the issue description above(for tracking purposes). If there are any other PRs beyond:
 https:/

[2022-10-31 17:43] Atharva-Shinde commented on #3063
Hey @pohly 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the issue description above(for tracking purposes). If there are any other PRs beyond:
 https://github.com/kubernet

[2022-10-31 17:47] Atharva-Shinde commented on #3386
Hey @harche @ruiwen-zhao @haircommander  👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the issue description above(for tracking purposes). If there are any other PRs beyond

[2022-10-31 17:49] Atharva-Shinde commented on #3070
Hey @aojea 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to this enhancement are linked in the issue description above(for tracking purposes).
- [ ] All PRs are fully merged by the code freeze deadline.

As

[2022-10-31 17:51] Atharva-Shinde commented on #2433
Hey @robscott 👋,

Checking in as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to this enhancement are linked in the issue description above(for tracking purposes).
- [ ] All PRs are fully merged by the code freeze deadline.

[2022-10-31 18:18] marosset commented on #2258
Hi @aravindhp 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-10-31 18:21] marosset commented on #2718
Hi @nckturner 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-10-31 18:22] marosset commented on #3257
Hi @ahmedtd 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze d

[2022-10-31 18:26] marosset commented on #3294
Hi @Elbehery & @mkimuram 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the

[2022-10-31 19:05] marosset commented on #2307
Hi @alculquicondor 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code f

[2022-10-31 19:10] marosset commented on #647
Hi @dashpole 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-10-31 19:11] marosset commented on #2924
Hi @humblec 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze d

[2022-10-31 19:12] marosset commented on #3094
Hi @kerthcet 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-10-31 19:17] marosset commented on #3521
Hi @Huang-Wei 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-10-31 19:47] Huang-Wei commented on #3521
@marosset yes, those 3 PRs are code implementation for this KEP in alpha stage. I just updated the issue description to get them linked.

[2022-11-01 04:05] kerthcet commented on #3094
New PR here: https://github.com/kubernetes/kubernetes/pull/113500

[2022-11-01 08:59] saschagrunert commented on #3031
Feature blog post placeholder: https://github.com/kubernetes/website/pull/37639

[2022-11-01 09:30] saschagrunert commented on #1731
What do you think would be the best way to achieve this?

[2022-11-01 13:49] parul5sahoo commented on #1847
Hi @mattcary  👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged by the code freez

[2022-11-01 13:58] parul5sahoo commented on #3335
Hi @pwschuurman  👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes). [Open PR](https://github.com/kubernetes/kubern

[2022-11-01 14:00] katmutua commented on #1491
Hello @divyenpatel! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself wit

[2022-11-01 14:01] parul5sahoo commented on #1440
Hi @soltysh   👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged by the code freez

[2022-11-01 14:04] parul5sahoo commented on #3031
Hi @saschagrunert   👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged by the code

[2022-11-01 14:09] parul5sahoo commented on #3329
Hi @alculquicondor and @mimowo  👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged

[2022-11-01 14:12] parul5sahoo commented on #2086
Hi @andrewsykim @maplain @MaxRenaud   👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully

[2022-11-01 14:14] parul5sahoo commented on #1669
Hi @andrewsykim  👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged by the code fr

[2022-11-01 14:16] katmutua commented on #2339
Hello @enj! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself with the do

[2022-11-01 14:18] parul5sahoo commented on #1672
Hi @andrewsykim  👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged by the code fr

[2022-11-01 14:19] katmutua commented on #3386
Hello @harche ! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself with th

[2022-11-01 14:21] katmutua commented on #1287
Hello @vinaykul ! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself with

[2022-11-01 14:21] parul5sahoo commented on #2133
Hi @adisky, @andrewsykim and @ruiwen-zhao  👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are f

[2022-11-01 14:23] katmutua commented on #2133
Hello @andrewsykim ! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself wi

[2022-11-01 14:25] katmutua commented on #1847
Hello @mattcary! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself with t

[2022-11-01 14:27] katmutua commented on #3257
Hello @ahmedtd  ! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself with

[2022-11-01 14:27] katmutua commented on #1885
Hello @andyzhangx  ! 👋🏾,

@katmutua 1.26 Release Docs shadow here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please follow the steps detailed in the documentation to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

Also, take a look at Documenting for a release to familiarize yourself wi

[2022-11-01 14:30] parul5sahoo commented on #3453
Hi @danwinship   👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged by the code fr

[2022-11-01 15:21] saschagrunert commented on #3031
@parul5sahoo thank you for the notice. Our code changes will live out of k/k so we should be already good to go for both tasks mentioned in your comment.

[2022-11-01 15:50] parul5sahoo commented on #3031
@saschagrunert great then the enhancement is good to go for code freeze.

[2022-11-01 17:26] xing-yang commented on #2268
@YuikoTakada e2e test is merged.

[2022-11-01 17:29] xing-yang commented on #2268
@mickeyboxell Sorry, I missed the ping earlier.  Here are the doc PRs:
Placeholder doc PR: https://github.com/kubernetes/website/pull/37374 Thanks @YuikoTakada!
Placeholder blog PR: https://github.com/kubernetes/website/pull/37583

[2022-11-01 19:32] andrewsykim commented on #2133
Updated the enhancement issue description with the merged PRs

[2022-11-01 19:54] wojtek-t commented on #2839
/remove-lifecycle stale

[2022-11-01 21:20] ehashman commented on #2040
I don't think this is fully stable and graduated yet?

/reopen
/remove-lifecycle rotten

[2022-11-01 21:20] ehashman commented on #2040
ping @mrunalp for graduation status

[2022-11-02 03:20] cathchu commented on #2258
Hi there @aravindhp 👋 1.26 Docs Shadow here.

This enhancement is marked as ‘Needs Docs’ for 1.26 release. I see you've opened [https://github.com/kubernetes/website/pull/32660](https://github.com/kubernetes/website/pull/32660). I'd like to confirm that all Docs related changes will be included in this PR.

If not, please [follow the steps detailed in the documentation](https://kubernetes.io/docs/

[2022-11-02 03:21] cathchu commented on #3335
Hi there @pwschuurman 👋 1.26 Docs Shadow here.

This enhancement is marked as ‘Needs Docs’ for 1.26 release. I see you've opened https://github.com/kubernetes/website/pull/37224. I'd like to confirm that all Docs related changes will be included in this PR.

If not, please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeh

[2022-11-02 03:25] cathchu commented on #3063
Hi there @pohly 👋 1.26 Docs Shadow here.

This enhancement is marked as ‘Needs Docs’ for 1.26 release. I see you've opened https://github.com/kubernetes/website/pull/37434. I'd like to confirm that all Docs related changes will be included in this PR.

If not, please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-

[2022-11-02 03:35] cathchu commented on #3498
Hello @logicalhan 👋  1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by *November 9*

[2022-11-02 03:35] cathchu commented on #3503
Hello @marosset  👋  1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by *November 9*.

[2022-11-02 03:39] cathchu commented on #3329
Hello @alculquicondor and @mimowo  👋  1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be create

[2022-11-02 03:42] cathchu commented on #3017
Hello @mortent  and @atiratree  👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by

[2022-11-02 03:44] cathchu commented on #2400
Hello @SergeyKanzhelev   👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by *Novem

[2022-11-02 03:45] cathchu commented on #3515
Hello @alexzielenski  👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release. Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by *November

[2022-11-02 03:47] cathchu commented on #1965
Hello @andrewsykim  and @enj   👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release. Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by

[2022-11-02 03:58] cathchu commented on #3453
Hi there @danwinship  👋 1.26 Docs Shadow here.

This enhancement is marked as ‘Needs Docs’ for 1.26 release. I see you've opened https://github.com/kubernetes/website/pull/37649. I'd like to confirm that all Docs related changes will be included in this PR.

If not, please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeh

[2022-11-02 05:18] YuikoTakada commented on #2268
As @rhockenbury said, it seems to need to update this issue's description to add the link https://github.com/kubernetes/kubernetes/pull/111380 .

And also, it would be better to update enhancement target:

* Beta release target (x.y): 1.26
* Stable release target (x.y): 1.27

[2022-11-02 07:35] janosi commented on #1435
@Atharva-Shinde The only k/k PR is the https://github.com/kubernetes/kubernetes/pull/112895
@katmutua I started working on the documentation, too.

[2022-11-02 07:46] pacoxu commented on #2436
This is planed to remove in v1.26 and the code freeze of v1.26 is coming next week.
Also, a website update is needed.

[2022-11-02 08:15] mimowo commented on #3329
The placeholder PR is prepared: https://github.com/kubernetes/website/pull/37242. @alculquicondor  please reference it in the Issue description.

[2022-11-02 13:29] ruheenaansari34 commented on #3515
Hi @alexzielenski  👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the co

[2022-11-02 13:47] ruheenaansari34 commented on #2699
Hi @cheftako  👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code fr

[2022-11-02 13:53] ruheenaansari34 commented on #3488
Hi @jpbetz 👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freez

[2022-11-02 13:55] ruheenaansari34 commented on #2595
Hi @gjkim42  👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [x] All PRs are fully merged by the code fre

[2022-11-02 14:01] ruheenaansari34 commented on #3573
Hi @swatisehgal 👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code

[2022-11-02 14:18] gjkim42 commented on #2595
All PRs related to this feature have been merged.

Thanks, @ruheenaansari34.

[2022-11-02 14:23] ruheenaansari34 commented on #2339
Hi @xuchao 👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freez

[2022-11-02 14:25] ruheenaansari34 commented on #1965
Hi @roycaihw 👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [x] All PRs are fully merged by the code fre

[2022-11-02 14:27] ruheenaansari34 commented on #3041
Hi @SergeyKanzhelev 👋,

Checking in once more as we approach the 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the c

[2022-11-02 14:40] mickeyboxell commented on #2718
Hi @nckturner 👋 1.26 Release Docs shadow here. This enhancement is marked as `Needs Docs` for 1.26 release. Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the k/website repo. This PR can be just a placeholder at this time. It must be created by November 9. For m

[2022-11-02 14:41] mickeyboxell commented on #3294
@mkimuram @ttakahashi21 Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the k/website repo. This PR can be just a placeholder at this time. It must be created by November 9. For more information, take a look at [Documenting for a release](https://kubernetes.io/do

[2022-11-02 14:45] mickeyboxell commented on #3094
Hi @kerthcet 👋  Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the k/website repo. This PR can be just a placeholder at this time. It must be created by November 9. For more information, take a look at [Documenting for a release](https://kubernetes.io/docs/contr

[2022-11-02 14:50] mickeyboxell commented on #2086
Hi @andrewsykim @maplain @MaxRenaud 👋 This enhancement is marked as `Needs Docs` for 1.26 release. Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the k/website repo. This PR can be just a placeholder at this time. It must be created by November 9. For more infor

[2022-11-02 14:52] mickeyboxell commented on #2433
Hi @robscott 👋 This enhancement is marked as `Needs Docs` for 1.26 release. Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the k/website repo. This PR can be just a placeholder at this time. It must be created by November 9. For more information, take a look at

[2022-11-02 14:55] mickeyboxell commented on #3352
Hi @Jefftree  👋 This enhancement is marked as Needs Docs for 1.26 release. Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time. It must be created by November 9. For more information, take a look at [Do

[2022-11-02 15:56] lavalamp commented on #1965
This is now being led by @andrewsykim, fyi

[2022-11-02 15:57] marosset commented on #3636
/cc

[2022-11-02 16:12] pwschuurman commented on #3335
Thanks @cathchu, yes [ubernetes/website/pull/37224](https://github.com/kubernetes/website/pull/37224) is the only documentation associated with this PR. I do have a blog as well, but this is tracked by the communications team.

[2022-11-02 16:44] taylorchu commented on #753
We use in-pod supervisor (https://github.com/taylorchu/wait-for) to solve the sidecar container issue. It is simple and can be used even if you don't use k8s.

[2022-11-02 18:31] xing-yang commented on #2317
The main PR is here: https://github.com/kubernetes/kubernetes/pull/113225

[2022-11-02 19:22] janosi commented on #1435
@katmutua The doc PR is https://github.com/kubernetes/website/pull/37676

[2022-11-02 20:43] jpbetz commented on #3488
All PRs are now linked and we are working on code review and approvals. We will open a docs PR shortly.

[2022-11-03 00:49] robscott commented on #2433
Hey @Atharva-Shinde and @mickeyboxell, we are working on some incremental updates for this KEP in the 1.26 cycle, but the required doc updates should be minimal. Unfortunately we don't have sufficient capacity to graduate to GA in this cycle. The first PR related to this KEP is https://github.com/kubernetes/kubernetes/pull/113556, I think we'll have at least one more PR to k/k in this cycle + one

[2022-11-03 12:58] janosi commented on #1435
@Atharva-Shinde k/k PR https://github.com/kubernetes/kubernetes/pull/112895 has been merged.

[2022-11-03 13:10] harche commented on #3386
@katmutua Considering this feature is just alpha, I am not sure if we need to have docs.

cc @haircommander @ruiwen-zhao

[2022-11-03 13:36] krol3 commented on #1981
Hello **@marosset** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novemb

[2022-11-03 13:50] krol3 commented on #2799
Hello **@zshihang** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novemb

[2022-11-03 16:22] marosset commented on #1981
@krol3 I have a placeholder docs PR open and linked in the issue description :)

[2022-11-04 00:22] reylejano commented on #3386
@harche ,
For 1.26, since this enhancement has a feature gate of `EventedPLEG`, this should be added to the feature gates page in the Feature gates for Alpha or Beta features table:
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features

[2022-11-04 00:52] enj commented on #2718
/milestone v1.27

Pushing this out to next release as we are out of time in v1.26.

[2022-11-04 12:18] xing-yang commented on #2924
Just chatted with @humblec and confirmed that this is not targeting 1.26 any more.

[2022-11-04 12:18] xing-yang commented on #2924
/milestone clear

[2022-11-04 13:50] harche commented on #3386
Thanks @katmutua @krol3 and @reylejano. I have created a doc PR https://github.com/kubernetes/website/pull/37715 to add `EventedPLEG` in the features table.

[2022-11-04 13:51] harche commented on #3386
cc @swghosh @rphillips

[2022-11-04 14:48] xing-yang commented on #2268
All code PRs for moving the feature to beta are merged:
- Move feature gate to beta: https://github.com/kubernetes/kubernetes/pull/113511
- Add metrics to Pod GC Controller: https://github.com/kubernetes/kubernetes/pull/113519
- e2e test: https://github.com/kubernetes/kubernetes/pull/111380

[2022-11-04 23:03] msau42 commented on #1491
Hi @divyenpatel @xing-yang. I just became aware that there are some storage systems listed as supported in the [vmware compatibility guide](https://www.vmware.com/resources/compatibility/search.php?deviceCategory=san), however they seem to fail when used with the CSI driver (intree driver works). It appears to be a problem with FCD. Does csi migration convert the intree volumes to FCD? If so then

[2022-11-05 00:51] xing-yang commented on #1491
Hi @msau42, can you clarify what storage systems are failing when used with the CSI driver and provide logs?  We can take a look and understand what is the problem.

[2022-11-05 01:43] Nothing4You commented on #2358
/remove-lifecycle rotten

[2022-11-05 12:43] #3356 closed

[2022-11-06 14:52] alexzielenski commented on #3352
@ruheenaansari34 the three PRs you linked were rolled into a single one:

This KEP has two outstanding PRs needing to be merged by code freeze:
- https://github.com/kubernetes/kubernetes/pull/113599
- https://github.com/kubernetes/kubernetes/pull/113171

[2022-11-07 02:13] ringerc commented on #753
Another in-pod supervisor designed to work around this infrastructure issue is https://github.com/karlkfi/kubexit

[2022-11-07 05:37] parul5sahoo commented on #1847
Hey @kk-src and @mattcary,

As the Code freeze is a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement? So that the enhancement can be marked `tracked`.

[2022-11-07 05:40] parul5sahoo commented on #3335
Hey @pwschuurman,

As the Code freeze is just a day away, just wanted to confirm that there are no other open PRs in the K/K repo or any repo in general for this enhancement except for the ones outlined in the issues description? Please try to get the open PRs merged before code freeze, so that the enhancement can be marked `tracked`.

[2022-11-07 05:42] parul5sahoo commented on #1440
Hey @soltysh,

As the Code freeze is just a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement? So that the enhancement can be marked `tracked`.

[2022-11-07 05:44] parul5sahoo commented on #3329
Hey @mimowo and @alculquicondor ,

As the Code freeze is just a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement other than the ones outlined in the issue description? Please get the open PRs merged before the code freeze, so that the enhancement can be marked `tracked`.

[2022-11-07 05:45] parul5sahoo commented on #2086
Hey @andrewsykim @maplain @MaxRenaud,

As the Code freeze is just a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement? So that the enhancement can be marked `tracked`.

[2022-11-07 05:51] parul5sahoo commented on #1669
Hey @andrewsykim ,

As the Code freeze is just a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement? So that the enhancement can be marked `tracked`.

[2022-11-07 05:53] parul5sahoo commented on #1672
Hey @andrewsykim,

As the Code freeze is just a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement? So that the enhancement can be marked `tracked`.

[2022-11-07 05:54] parul5sahoo commented on #2133
Hey @andrewsykim ,

As the Code freeze is just a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement other than the ones outlined in the issue description? So that the enhancement can be marked `tracked`.

[2022-11-07 05:57] parul5sahoo commented on #3453
Hey @danwinship ,

As the Code freeze is just a day away, just wanted to confirm that there are no open PRs in the K/K repo or any repo in general for this enhancement other than the ones outlined in the issues description? So that the enhancement can be marked `tracked`.

[2022-11-07 06:29] fromanirh commented on #2403
/remove-lifecycle stale

[2022-11-07 06:29] fromanirh commented on #2625
/remove-lifecycle stale

[2022-11-07 06:49] ruiwen-zhao commented on #2133
@parul5sahoo there are no open PRs for this enhancement other than the doc updates.

For GCP credential provider (https://github.com/kubernetes/cloud-provider-gcp ) we might need to update the api version used, but that is not in the scope of this enhancement.

[2022-11-07 08:58] sftim commented on #3063
I looked at https://github.com/kubernetes/kubernetes/pull/112981 and I'm concerned.

I saw several places where the API is defining not just lists of node names, but also limits on how many items can appear in those node lists.
Elsewhere in Kubernetes - I'm thinking [EndpointSlice](https://k8s.io/docs/concepts/services-networking/endpoint-slices/) - we've encountered problems with scaling and have

[2022-11-07 09:56] mimowo commented on #3329
@parul5sahoo  the purpose of the KEP is to align the KEP with the decisitons taken during the implementation phase.
Not sure if it should be blocking for the Code Freeze. Anyway, could you @alculquicondor please add the KEP update
to the list of PRs and review / approve.

[2022-11-07 14:14] danwinship commented on #3453
@parul5sahoo There is nothing more to be merged to k/k, but the KEP graduation criteria said we'd enable the feature in some of the periodic scale tests, which has not yet happened. But I guess that would be due by next week's Test Freeze, not tomorrow's Code Freeze, right?

[2022-11-07 15:53] Atharva-Shinde commented on #3545
Hey @klueska 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s: https://github.com/kubernetes/kubernetes/pull/112914 (any more PRs?) merged before the code-freeze :)