[2021-11-08 14:08] Priyankasaggu11929 commented on #1441
Hello @soltysh & @verb  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16.**

Please ensure the following items are completed:

- All PRs to the Kubernetes repo that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.
- Have a documentation placehol

[2021-11-08 14:16] Priyankasaggu11929 commented on #1864
Hello @andrewsykim  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16.**

Please ensure the following items are completed:

- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze d

[2021-11-08 14:30] Priyankasaggu11929 commented on #2371
Hello @haircommander  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze

[2021-11-08 14:37] Priyankasaggu11929 commented on #2464
Hello @amwat  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16.**

Please ensure the following items are completed:

- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadlin

[2021-11-08 14:39] Priyankasaggu11929 commented on #2535
Hello @mikebrow 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16.**

Please ensure the following items are completed:

- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadl

[2021-11-08 14:45] Priyankasaggu11929 commented on #2712
Hello @mrunalp  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16.**

Please ensure the following items are completed:

- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadl

[2021-11-08 14:50] Priyankasaggu11929 commented on #2887
Hello @jiahuif  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadl

[2021-11-08 14:51] damemi commented on #785
I'm going to start work in parallel on the MultiPoint config docs (https://github.com/kubernetes/enhancements/issues/2891). Was waiting for some details to be sorted out in the work PR for that.

We can then either keep the 2 docs PRs separate for organization of the 2 KEPs or pick the commits into 1 PR. Either is fine by me, since they are both v1beta3 changes

[2021-11-08 14:52] Priyankasaggu11929 commented on #2891
Hello @damemi  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadli

[2021-11-08 14:54] damemi commented on #2891
@Priyankasaggu11929 thanks for the reminder, will open one soon

[2021-11-08 14:58] Priyankasaggu11929 commented on #2926
Hello @ahg-g  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadlin

[2021-11-08 15:47] swatisehgal commented on #2043
/remove-lifecycle stale

[2021-11-08 15:54] swatisehgal commented on #2044
@catblade Updated the comment above with the relevant links. Please refer to some additional links below:

Issue: https://github.com/kubernetes/enhancements/issues/2043
Initial Enhancement proposal: https://github.com/kubernetes/enhancements/pull/1884

[2021-11-08 17:25] enj commented on #2907
/close

This is implemented and v1 now.

[2021-11-08 17:25] #2907 closed

[2021-11-08 17:26] soltysh commented on #2227
/remove-lifecycle stale
/lifecycle frozen

[2021-11-08 17:45] kevindelgado commented on #2420
Thanks for the update @BenTheElder, still gonna give you the copy/pasta with all the deets:

Hi @BenTheElder  👋

Checking in once more as we approach 1.23 code freeze at 6:00 pm PST on Tuesday, November 16.

Please ensure the following items are completed:

All PRs to the Kubernetes repo that are related to your enhancement are linked in the above issue description (for tracking purposes).
All PRs

[2021-11-08 17:47] kevindelgado commented on #2845
Hi @pohly  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.

[2021-11-08 17:48] kevindelgado commented on #2876
Hi @cici37 and @jpbetz  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code free

[2021-11-08 17:48] kevindelgado commented on #2885
Hi @kevindelgado  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze dea

[2021-11-08 17:49] salaxander commented on #592
Hi @sahilvv - thanks for the update!

I've updated our tracking to show this as complete. When you get a chance, could you link the k/k PRs in the issue description?

Thanks!

[2021-11-08 17:49] kevindelgado commented on #2896
Hi @Jefftree  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadlin

[2021-11-08 17:50] kevindelgado commented on #2902
Hi @klueska  👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline

[2021-11-08 18:14] salaxander commented on #1981
Hi @marosset 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline

[2021-11-08 18:16] salaxander commented on #2040
Hi @ehashman 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline

[2021-11-08 18:17] salaxander commented on #2133
Hi @andrewsykim 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadl

[2021-11-08 18:19] salaxander commented on #2258
Hi @aravindhp 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadlin

[2021-11-08 18:20] marosset commented on #1981
Thanks @salaxander
@brasmith-ms FYI

[2021-11-08 18:23] salaxander commented on #2273
Hey @ehashman and @vinaykul - is the plan now to merge this into #1287? Just curious for 1.23 enhancements tracking purposes :)

[2021-11-08 18:24] salaxander commented on #2403
Hi @swatisehgal @fromanirh 👋

Checking in once more as we approach 1.23 code freeze at **6:00 pm PST on Tuesday, November 16**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code f

[2021-11-08 19:17] ahg-g commented on #2926
I opened a docs PR at https://github.com/kubernetes/website/pull/30390

[2021-11-08 19:26] SergeyKanzhelev commented on #2133
please see the comment above. Can you please help move this out of the milestone?

[2021-11-08 19:39] haircommander commented on #2371
Thank you @Priyankasaggu11929 ! I have tagged the one kubernetes PR in the description, it has merged, and I have https://github.com/kubernetes/website/pull/28044 opened and ready to be populated. Please let me know if I'm missing anything, but I believe we are all set here

[2021-11-08 20:23] sahilvv commented on #592
@salaxander Following are the PRs to move this feature from Beta to Stable/GA state:

https://github.com/kubernetes/kubernetes/pull/105219
https://github.com/kubernetes/website/pull/30031

[2021-11-08 21:03] SergeyKanzhelev opened #3041 "Feature, NodeConformance, NodeFeature, and Feature Gate labels cleanup"
### Enhancement Description

- One-line enhancement description (can be used as a release note):

NodeConformance, NodeFeature, and Feature Gate labels cleanup

- Kubernetes Enhancement Proposal:

https://github.com/kubernetes/enhancements/pull/3042

- Enhancement: https://github.com/kubernetes/enhancements/blob/master/keps/sig-testing/3041-node-conformance-and-features/README.md
- Discussion Link

[2021-11-08 21:07] SergeyKanzhelev commented on #3041
/sig node
/sig testing

[2021-11-09 00:50] gracenng commented on #1698
Hi @pohly , 1.23 Enhancements Shadow here. Looks like this enhancement's code PR is merged so all good for code freeze. Please let me know if there's any other PR besides #105609 I should be aware of. Thanks!

[2021-11-09 01:23] gracenng commented on #1933
Hi @PurelyApplied, 1.23 Enhancements Shadow here.

Just a friendly reminder that Code Freeze is approaching on November 16. Please kindly link all related code and docs PRs so the release team can easily track you.

Thanks!

[2021-11-09 02:45] gracenng commented on #2307
Hi @alculquicondor, 1.23 Enhancements Shadow here 🌻

Looks like all PR's related to this enhancements have been merged and ready for Code Freeze on November 16th.

Please update the description and let me know if there is any unmerged code PR related to this enhancements.

Thanks!

[2021-11-09 02:50] gracenng commented on #2317
Hi @gnufied @verult , 1.23 Enhancements Shadow here.

In light of code freeze approaching on **November 16th**, please make sure to link your k/k code PR's in the description so the release team can keep track. As of now, the status of this enhancement is `at-risk`
Thanks :)

[2021-11-09 03:39] vinaykul commented on #2273
@salaxander Let's just keep it the way it is for now, I'm way too busy and don't need another housekeeping item tacked on.

[2021-11-09 03:40] gracenng commented on #2599
Hi @ravisantoshgudimetla, 1.23 Enhancements Shadow here 👋

Looks like this enhancement's code PR https://github.com/kubernetes/kubernetes/pull/104045 has been merged and is ready for Code Freeze on November 16th

[2021-11-09 03:43] gracenng commented on #2625
Hi all, 1.23 Enhancements shadow here.

Looks like this enhancement's code PR (https://github.com/kubernetes/kubernetes/pull/105012) is merged and all is ready for Code Freeze on November 16th. The status will remain as `tracked`.
Thanks!

[2021-11-09 03:46] gracenng commented on #2699
Hi @cheftako, 1.23 Enhancements Shadow here.

In light of code freeze on **November 16th**, please link the code PR related to this enhancement in the description so the release team can track it. As of now, the status of this enhancement is `at-risk`.

Please feel free to ping me once the code PR's are merged.

[2021-11-09 03:48] gracenng commented on #2702
Hi @josephburnett , 1.23 Enhancements Shadow here.

In light of code freeze on November 16th, please link the code PR related to this enhancement in the description so the release team can track it. As of now, the status of this enhancement is `at-risk`.

Please feel free to ping me once the code PR's are merged.

[2021-11-09 03:59] n4j commented on #2837
/remove-lifecycle stale

[2021-11-09 05:42] lizzzcai commented on #277
Hi @verb, thanks for your reply. I know there is a debug profile coming in the future and a lot of new features for the ephemeral container. but for the current `kubectl debug node`, can you consider enabling the `privileged` by default? as it should be a privileged container to access the volume when the user is trying to debug the node. Here is some comments" https://github.com/kubernetes/kubern

[2021-11-09 06:53] fromanirh commented on #2403
hi @salaxander ! @swatisehgal has already tracked the items you mentioned in https://github.com/kubernetes/enhancements/issues/2403#issuecomment-913806988 . Please let us know if something's missing!

[2021-11-09 09:12] supriya-premkumar commented on #695
Hi @gnufied @mattsmithdatera 👋🏽 1.23 Enhancements shadow here.
I wanted to check in on the PR status for this issue since we are approaching code freeze deadline  on Tuesday, November 16 at 6:00 pm PST

I see that the PR  kubernetes/kubernetes#73232 is closed.

For this issue to be included in the release please make sure to
1. Link the updated PRs in the description
2. Merge the PRs(k/k) before c

[2021-11-09 09:19] supriya-premkumar commented on #1432
Hi  @xing-yang 👋🏽 1.23 Enhancements shadow here.
I wanted to check in on the PR status for this issue since we are approaching code freeze deadline on Tuesday, November 16 at 6:00 pm PST

Is [this](https://github.com/kubernetes/kubernetes/pull/99284) the only PR for this issue?

For this issue to be included in the release please make sure to

1. Link the updated PRs in the description
2. Merge th

[2021-11-09 09:25] supriya-premkumar commented on #1682
Hi @huffmanca 👋🏽 1.23 Enhancements shadow here
I wanted to check in on the PR status for this issue since we are approaching code freeze deadline on Tuesday, November 16 at 6:00 pm PST

I see that there is one open [PR](https://github.com/kubernetes-csi/docs/pull/470).
For this issue to be included in the release please make sure to
1. Link the updated PRs in the description
2. Merge the PRs(k/k)

[2021-11-09 09:28] supriya-premkumar commented on #2590
Hi @ykakarap and @nikhita, 1.23 Enhancements Shadow here 👋🏽
I wanted to check in on the PR status for this issue since we are approaching code freeze deadline on Tuesday, November 16 at 6:00 pm PST

I see that there is one open [PR](https://github.com/kubernetes/kubernetes/pull/99556).
For this issue to be included in the release please make sure to merge the PRs(k/k) before code freeze deadline

[2021-11-09 09:33] supriya-premkumar commented on #2593
Hi @rahulkjoshi👋🏽 1.23 Enhancements Shadow here
Just checking on the PR status for this issue as we are approaching code freeze deadline on Tuesday, November 16 at 6:00 pm PST

I see that the linked PRs are merged. Are there any other associated PRs for this issue?
Also, please update the respective PRs in the description

Marking this issue as `tracked`. Please let me know if there are any open P

[2021-11-09 09:37] supriya-premkumar commented on #2727
Hi @SergeyKanzhelev and @bowei, 1.23 Enhancements Shadow here 👋🏽
Just checking on the PR status as we are approaching code freeze deadline on Tuesday, November 16 at 6:00 pm PST

I see that the associated PR is merged. Are there any other open PRs?

Marking this issue as `tracked` on the tracking sheet. Please let me know if you need to include any open PRs

[2021-11-09 09:40] supriya-premkumar commented on #2802
Hi @ravisantoshgudimetla! 1.23 Enhancements shadow here👋🏽
Just checking on the PRs status for this issue as we are approaching code freeze deadline on Tuesday, November 16 at 6:00 pm PST

I see that the two PRs are merged. Are there any open PRs that need to be linked to this issue?
Marking this as `tracked` in the tracking sheet. Please let me know if there are any updates.

[2021-11-09 14:43] alculquicondor commented on #2307
I updated the description Grace. I still have pending to submit a website update.

[2021-11-10 00:23] reylejano commented on #2307
Related Doc PR to k/website for 1.23
https://github.com/kubernetes/website/pull/30423

[2021-11-10 11:18] sttts commented on #2855
/remove-lifecycle stale

[2021-11-10 14:29] chrisnegus commented on #19
Thanks @soltysh !

[2021-11-10 15:19] chrisnegus commented on #2590
Hi @ykakarap and @nikhita, 1.23 Docs shadow here. If this enhancement makes the release and you need any help documenting this feature, please let me know.

[2021-11-10 15:52] chrisnegus commented on #2599
Hi @ravisantoshgudimetla, 1.23 docs shadow here. I noticed that this feature was documented in a [blog](https://github.com/kubernetes/website/pull/28992) for 1.22. If you think this requires documentation in the official docs, please open a PR as @jlbutler described above. Also, let me know if you would like help writing the content.

[2021-11-10 15:53] ravisantoshgudimetla commented on #2599
I'll open a docs PR this week.

[2021-11-10 16:54] logicalhan commented on #2305
/remove-lifecycle stale

[2021-11-10 17:50] ahg-g commented on #2926
docs PR merged

[2021-11-10 18:00] ravisantoshgudimetla commented on #2599
@chrisnegus - What should we do about the blog, can I update it directly or should we publish another blog updating the status?

[2021-11-10 18:36] ravisantoshgudimetla commented on #2802
@supriya-premkumar - All the needed PRs merged. Will open a docs PR shortly

[2021-11-10 19:38] rahulkjoshi commented on #2593
I think the code will not be meregd before the 1.23 deadline. We'll probably merge into 1.24

@sarveshr7

[2021-11-10 21:49] dobsonj commented on #1682
Hi @supriya-premkumar, that PR just merged, so we should be all set for GA in 1.23.

[2021-11-10 22:04] saschagrunert commented on #135
Still on the plate

/remove-lifecycle stale

[2021-11-11 05:05] Priyankasaggu11929 commented on #2926
Thanks so much for the update, @ahg-g

[2021-11-11 09:00] Priyankasaggu11929 commented on #2371
Thank you, @haircommander. I wanted to be sure in case if I'm missing any PRs (other than the one already listed above). With the above comment, all looks fine to me.

Thanks so much once again! 🙂

[2021-11-11 14:52] damemi commented on #2891
Docs PR opened at https://github.com/kubernetes/website/pull/30442

[2021-11-11 18:31] kikisdeliveryservice commented on #2876
Related: https://github.com/kubernetes/enhancements/pull/3039

[2021-11-11 20:15] trierra commented on #2589
Hi @ramrodo , I've opened the PR by mistake https://github.com/kubernetes/website/pull/30445

Can you please convert it into a draft PR?

[2021-11-11 20:50] chrisnegus commented on #2599
Hi @ravisantoshgudimetla! Thanks for doing the docs update. I'll check with the team about the blog and get back to you.

[2021-11-11 23:23] bridgetkromhout commented on #1435
We discussed this briefly in sig-network today. We need to test across the major clouds to ensure we meet the alpha-to-beta graduation criteria (of support, _or_ indicating non-support properly - we should avoid having the undefined state Tim mentions above). We also will need to update the production readiness review for the beta state.

We will aim for 1.24, as 1.23 code freeze is very soon.

Po

[2021-11-12 01:36] roycaihw commented on #1965
/reopen
/remove-lifecycle rotten

[2021-11-12 01:37] roycaihw commented on #1965
Metric improvements in progress: https://github.com/kubernetes/enhancements/pull/3005

[2021-11-12 06:42] Priyankasaggu11929 commented on #2891
Thanks so much @damemi. Could you please link the k/k PR(s), and K/website docs PR links in the issue description. It would help track all the PR(s) properly.

Just want to be very sure that I don't miss any PRs. Thank you once again! 🙂

[2021-11-12 22:11] amwat commented on #2464
Thanks @Priyankasaggu11929 , updated the PR description with latest info.

[2021-11-13 04:17] Priyankasaggu11929 commented on #2464
Thank you so much for the update @amwat. 🙂

[2021-11-13 04:26] #2785 closed

[2021-11-13 16:10] klueska commented on #2902
@kevindelgado website PR created

[2021-11-14 17:23] gracenng commented on #2923
Hi @humblec , 1.23 Enhancements Shadow here.

In light of code freeze approaching on November 16th, please make sure to link your k/k code PR's in the description so the release team can keep track. As of now, the status of this enhancement is `at-risk`
Thanks :)

[2021-11-15 19:40] xing-yang commented on #2644
Hi @ramrodo,
We looked at this again and decided that this does not need a doc change.  Can you please help remove "Need Docs" from the feature tracking sheet?  Thanks!

[2021-11-15 19:42] reylejano commented on #2589
/milestone v1.23
An [exception request was filed](https://groups.google.com/g/kubernetes-sig-release/c/0lG_i_9J_DU/m/uiLD9UnpAgAJ) on 9/15/21, an exception request was [granted](https://groups.google.com/g/kubernetes-sig-release/c/0lG_i_9J_DU/m/3v3VavbzAgAJ) on 9/15/21

[2021-11-15 19:42] xing-yang commented on #2644
Also the required in-tree PR for this KEP is merged: https://github.com/kubernetes/kubernetes/pull/105773
We are on-track for 1.23.

[2021-11-15 19:46] reylejano commented on #2923
/milestone v1.23
An [exception request was filed](https://groups.google.com/g/kubernetes-sig-release/c/aK9fKEfVeSg/m/16LMDTDpAgAJ) on 9/15/21 for the 1.23 Enhancements Freeze. The exception request was [approved](https://groups.google.com/g/kubernetes-sig-release/c/aK9fKEfVeSg/m/OpyaudLzAgAJ) on 9/15/21

[2021-11-15 19:49] reylejano commented on #1487
/milestone v1.23
An [exception request was filed](https://groups.google.com/g/kubernetes-sig-release/c/W1g-iAPu7p4/m/aF5RJUbnAQAJ) on 11/12/21 for the 1.23 Enhancements Freeze. The exception request was [approved](https://groups.google.com/g/kubernetes-sig-release/c/W1g-iAPu7p4/m/Xvai-qszAgAJ) on 11/13/21
Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-

[2021-11-15 19:50] reylejano commented on #1490
/milestone v1.23
An [exception request was filed](https://groups.google.com/g/kubernetes-sig-release/c/W1g-iAPu7p4/m/aF5RJUbnAQAJ) on 11/12/21 for the 1.23 Enhancements Freeze. The exception request was [approved](https://groups.google.com/g/kubernetes-sig-release/c/W1g-iAPu7p4/m/Xvai-qszAgAJ) on 11/13/21
Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-

[2021-11-15 19:51] reylejano commented on #1488
/milestone v1.23
An [exception request was filed](https://groups.google.com/g/kubernetes-sig-release/c/W1g-iAPu7p4/m/aF5RJUbnAQAJ) on 11/12/21 for the 1.23 Enhancements Freeze. The exception request was [approved](https://groups.google.com/g/kubernetes-sig-release/c/W1g-iAPu7p4/m/Xvai-qszAgAJ) on 11/13/21
Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-

[2021-11-15 19:53] xing-yang commented on #695
Hi @supriya-premkumar,

The following PR is for this enhancement issue and it is already merged:
https://github.com/kubernetes/kubernetes/pull/105885

[2021-11-15 19:57] xing-yang commented on #1432
Hi @supriya-premkumar,

The following PR is for this enhancement issue.  We are trying to get it merged by the deadline on Nov. 16th.
https://github.com/kubernetes/kubernetes/pull/105585

[2021-11-15 20:38] gnufied commented on #695
I am working on docs PR for this feature. Please stay tuned, I will update this thread.

[2021-11-15 21:42] shuaich opened #3048 "[KEP] Graduate metrics.k8s.io API to GA"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
  Promote metrics.k8s.io API from beta to stable
- Kubernetes Enhancement Proposal: [Promote Resource Metrics API to GA](https://docs.google.com/document/d/e/2PACX-1vS10SozEaPnTziMJtxLS9fCc0HNMBouqK1JEjLo737F7P7B3aIAaIMBg-kM1KQ7OdeXgqGKA8Ligjbf/pub)
- Discussion Link: [Agenda 2021-11-11 [shuaichen] KEP

[2021-11-15 21:42] shuaich commented on #3048
/sig instrumentation

[2021-11-15 21:54] msau42 commented on #1488
KEP milestone update: https://github.com/kubernetes/enhancements/pull/3049
Docs: https://github.com/kubernetes/website/pull/30495

[2021-11-15 21:55] msau42 commented on #1490
KEP milestone update: https://github.com/kubernetes/enhancements/pull/3049
Docs: https://github.com/kubernetes/website/pull/30495

[2021-11-15 21:55] msau42 commented on #1885
KEP milestone update: https://github.com/kubernetes/enhancements/pull/3049
Docs: https://github.com/kubernetes/website/pull/30495

[2021-11-15 21:55] msau42 commented on #1487
KEP milestone update: https://github.com/kubernetes/enhancements/pull/3049
Docs: https://github.com/kubernetes/website/pull/30495

[2021-11-15 22:32] lauralorenz commented on #1495
Hi @bswartz, enhancements 1.23 shadow again! Just double checking everything before code freeze **TOMORROW at 6:00 pm PST on Tuesday, November 16**. Please ensure that
* all PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) related to your enhancement are fully merged by the code freeze deadline (are there any to be tracked for the beta stage?)
* ~have a documentation placehol

[2021-11-15 22:36] lauralorenz commented on #1790
Hi @gnufied, enhancements 1.23 shadow again! Just double checking everything before code freeze **TOMORROW at 6:00 pm PST on Tuesday, November 16**. Please ensure that
* all PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) related to your enhancement are fully merged by the code freeze deadline (I believe the only one is https://github.com/kubernetes/kubernetes/pull/106154)
*

[2021-11-15 22:40] lauralorenz commented on #2589
Hi @trierra, enhancements 1.23 shadow again! Just double checking everything before code freeze **TOMORROW at 6:00 pm PST on Tuesday, November 16**. Please ensure that
* all PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) related to your enhancement are fully merged by the code freeze deadline (I believe the only one is https://github.com/kubernetes/kubernetes/pull/103447)
*

[2021-11-15 22:46] lauralorenz commented on #2644
Hi @xing-yang, enhancements 1.23 shadow again! Just double checking everything before code freeze **TOMORROW at 6:00 pm PST on Tuesday, November 16**. Please ensure that
* ~all PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) related to your enhancement are fully merged by the code freeze deadline~ (It looks like you've already got https://github.com/kubernetes/kubernetes/pul

[2021-11-15 22:50] lauralorenz commented on #2915
Hi @neolit123, enhancements 1.23 shadow again! Just double checking everything before code freeze **TOMORROW at 6:00 pm PST on Tuesday, November 16**. Please ensure that
* ~all PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) related to your enhancement are fully merged by the code freeze deadline~
   * (Looks like you already have https://github.com/kubernetes/kubernetes/pul

[2021-11-15 23:16] thockin commented on #2558
Hi @nikhita - are you still carrying this?

[2021-11-16 00:40] bridgetkromhout commented on #1435
The MixedProtocolLBService feature [was added as alpha for 1.20](https://github.com/kubernetes/kubernetes/pull/94028). We'd like to move MixedProtocolLBService from alpha to beta after completing these items on the to-do list for [Alpha -> Beta Graduation](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1435-mixed-protocol-lb#alpha---beta-graduation) - targeting for K8s 1.2

[2021-11-16 01:24] feiskyer commented on #1435
Update for Azure: Azure has already supported the feature and e2e has been added recently by https://github.com/kubernetes-sigs/cloud-provider-azure/pull/897.

[2021-11-16 01:27] bridgetkromhout commented on #1435
@feiskyer Thanks! is there any additional CPI work needed? It was mentioned in https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1435-mixed-protocol-lb#azure

[2021-11-16 03:55] xing-yang commented on #1432
Placeholder doc PR is submitted here: https://github.com/kubernetes/website/pull/30503

[2021-11-16 04:23] msau42 commented on #2923
/reopen
Keep this open to track the feature all the way to GA

[2021-11-16 08:39] adisky commented on #2872
/remove-lifecycle stale

[2021-11-16 10:27] verb commented on #277
@salaxander All PRs for 1.23 have merged and docs PR is open. I think this should be "Tracked" rather than "At Risk" in the tracking sheet. Thanks!

[2021-11-16 10:29] verb commented on #1441
@Priyankasaggu11929  @soltysh @knight42

We're making progress on this feature, but it won't merge by the freeze. Let's opt-out for 1.23. Thanks!

[2021-11-16 10:37] Priyankasaggu11929 commented on #1441
Thank you so much for the update @verb.

I'll remove the milestone for now, as you suggested. Please let us know, if we could be of any help. 🙂

/milestone clear

[2021-11-16 12:15] soltysh commented on #2551
/remove-lifecycle stale
/lifecycle frozen

[2021-11-16 14:51] bswartz commented on #1495
Hey @lauralorenz I failed to get all the work done to meet the deadline, unfortunately, so this feature's move to beta will get postponed to the next release.

[2021-11-16 15:51] pohly commented on #2845
Docs PR for 1.23: https://github.com/kubernetes/website/pull/30505

[2021-11-16 15:52] pohly commented on #2845
All code PRs are merged, only docs PR remains.

[2021-11-16 16:25] salaxander commented on #277
@verb updating now. Thanks for all the work on this! I'm personally really excited about this feature :)

[2021-11-16 16:29] salaxander commented on #1040
Hey @wojtek-t - If my understanding of this is correct it looks like all PRs for code freeze have merged?

[2021-11-16 16:31] salaxander commented on #1847
Hi @mattcary and @kk-src - Just a reminder that code freeze is today. We would need to know that all PRs into k/k have merged. Could you provide links to any PRs associated with the KEP?

[2021-11-16 16:33] salaxander commented on #2040
Hi @ehashman - Just want to confirm since code freeze is today. Have all k/k PRs associated with this KEP merged?

[2021-11-16 16:34] mattcary commented on #1847
Hi Xander,

The PR is https://github.com/kubernetes/kubernetes/pull/99728. I'm trying to get all the reviewers to sign off on it.

[2021-11-16 16:34] salaxander commented on #2133
Hey @SergeyKanzhelev - We'll drop this one from the release. Thanks for the update!

[2021-11-16 16:36] salaxander commented on #2258
Hi @aravindhp - checking in one more time since today is code freeze. Looks like there are k/k PRs that haven't yet merged? Could you provide links to all the PRs associated with the KEP?

[2021-11-16 16:38] salaxander commented on #2273
Hey @ehashman and @vinaykul - Looks like we're still waiting on [kubernetes/kubernetes#102884](https://github.com/kubernetes/kubernetes/pull/102884) to merge for this one? Today is code freeze so I have this enhancement marked as at-risk currently. If all associated PRs merge to k/k before 6pm PT tonight we're good

[2021-11-16 16:40] salaxander commented on #2365
Hi @hbagdi - Since today is code freeze, I just want to confirm that all k/k PRs for this KEP have merged?

[2021-11-16 16:42] salaxander commented on #2433
Hi @robscott - Just a quick reminder that today is code freeze. Looks like we're still waiting on https://github.com/kubernetes/kubernetes/pull/106433 merging?

[2021-11-16 16:46] salaxander commented on #2133
/milestone clear

[2021-11-16 16:49] LorbusChris commented on #2258
@salaxander the PR is https://github.com/kubernetes/kubernetes/pull/96120. I probably should've posted here what I wrote there yesterday:

[2021-11-16 16:59] sftim commented on #3031
Is this also relevant to SIG Security?

[2021-11-16 17:02] cici37 commented on #2876
@kevindelgado @mehabhalodiya
Thanks for the reminder. All PRs to k/k related with this enhancement have been merged and we have a documentation placeholder PR [here](https://github.com/kubernetes/website/pull/30494). Updated the description.

[2021-11-16 17:47] Priyankasaggu11929 commented on #2887
Hello @jiahuif, just want to confirm on whether the following 2 PRs are also part of the implementation of this enhancements?

- https://github.com/kubernetes/kubernetes/pull/105057
- https://github.com/kubernetes/kubernetes/pull/105054

If yes, could you please add that in the issue description itself, it would be helpful for tracking. Thank you so much!

[2021-11-16 18:41] hbagdi commented on #2365
I think so.

[2021-11-16 19:50] lauralorenz commented on #1495
No problem @bswartz, see you in 1.24 :)

/milestone clear

[2021-11-16 20:08] chrisnegus commented on #2599
@ravisantoshgudimetla I got lots of opinions on this from SIG docs. The blog expert says it's fine to update recent blogs, so you can do a PR against the [1.22 blog](https://kubernetes.io/blog/2021/08/27/minreadyseconds-statefulsets/) to update it for 1.23 if you like. However, I think it might be better to add that excellent content from the blog to the main docs set in the [Minimum Ready Seconds

[2021-11-16 22:10] rtheis commented on #1435
Update for IBM: We will be preventing mixed protocol LBs from being created until we support the feature. I'll provide an update when https://github.com/IBM-Cloud/cloud-provider-ibm contains the change.

[2021-11-16 22:39] salaxander commented on #785
@alculquicondor - Just to confirm before code freeze this evening, have all k/k PRs for this KEP merged?

[2021-11-16 22:42] salaxander commented on #2258
@LorbusChris thanks for the update. I'll remove this one from the milestone for now and if you'd like to file a code freeze exception request later that's totally fine :)

/milestone clear

[2021-11-16 22:43] ahg-g commented on #785
https://github.com/kubernetes/kubernetes/pull/105611 needs final api approval, it is already tagged with the milestone

[2021-11-16 23:19] krmayankk commented on #961
@salaxander i have unit tests in pippeline, which i cannot get merged by today, so will need to target a new release

[2021-11-17 00:04] supriya-premkumar commented on #2593
@rahulkjoshi Are there any open PRs? If yes, Could you please link them in the description?

[2021-11-17 00:08] supriya-premkumar commented on #2727
Hi @SergeyKanzhelev, I see that there is an open [PR](https://github.com/kubernetes/kubernetes/pull/106463).
Please make sure to merge before the deadline.

Marking this issue as `atRisk` for now

[2021-11-17 00:12] ramrodo commented on #2644
Confirmed this doesn't need docs and I updated the tracking sheet. Thanks for the heads up.

[2021-11-17 00:25] gracenng commented on #1933
Hi @PurelyApplied , could you please point me to your k/k code PR's for the 1.23 relase. Is it:
https://github.com/kubernetes/kubernetes/pull/94661
https://github.com/kubernetes/kubernetes/pull/96235
If so, the enhancement could be marked as code complete. Thanks

[2021-11-17 00:35] gracenng commented on #2317
Hi all, looks like this enhancement is code complete 🎉 Updated status to `tracked`.

[2021-11-17 01:04] PurelyApplied commented on #1933
Hi @gracenng, sorry I missed last week's ping.  Yes, all KEP-1933 code in k/k is the k/k/hack/tools/ as test targets for Prow.
 The test target was introduce in kubernetes/test-infra#19181, with minor changes to that config when graduating alpha -> beta -> ga.

Is `code complete` something I need to mark in the yaml?  Or is that something tracked by y'all as part of release management?

[2021-11-17 01:06] salaxander commented on #961
@krmayankk - If you expect the tests to merge relatively soon we can certainly do an exception request for code freeze, otherwise we can definitely push to the next release if you'd rather do that

[2021-11-17 01:37] gracenng commented on #1933
Hi @PurelyApplied, `code complete` is the disired state before Code Freeze, no need to worry about it. Everything looks good, I've updated this enhancements status to `Tracked`
Thanks!

[2021-11-17 02:09] salaxander commented on #1287
Hi, 1.23 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:
* All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEP

[2021-11-17 02:16] salaxander commented on #1847
@mattcary we are past code freeze, but given that the open PR has an approval and it looks like we're just waiting on an LGTM, we're not going to remove this one from the release. I'll check in tomorrow to make sure everything merged.

Thanks!

[2021-11-17 02:24] salaxander commented on #2273
Hi, 1.23 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:
* All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEP

[2021-11-17 02:26] mattcary commented on #1847
Thank you! I really appreciate it. I've been trying for the last week to
just herd all the final reviews :-)

On Tue, Nov 16, 2021 at 6:16 PM Xander Grzywinski ***@***.***>
wrote:

[2021-11-17 02:26] salaxander commented on #2535
Hi, 1.23 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:
* All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEP

[2021-11-17 02:29] salaxander commented on #2590
Hi, 1.23 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:
* All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEP

[2021-11-17 02:39] salaxander commented on #2699
@cheftako - Can you provide the k/k PRs for this enhancement? With code freeze now in effect we need to establish if this KEP has met the criteria

Thanks!

[2021-11-17 02:43] salaxander commented on #2702
@josephburnett - can you confirm if all k/k PRs for this KEP have merged?

[2021-11-17 02:46] salaxander commented on #2727
Hi, 1.23 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:
* All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEP

[2021-11-17 02:47] salaxander commented on #2885
Hi, 1.23 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:
* All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline

Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEP

[2021-11-17 02:47] reylejano commented on #2712
The Release Team received an [exception request](https://groups.google.com/g/kubernetes-sig-release/c/lt1R2cm-1Vk/m/eA4ajAzJAgAJ) for the 1.23 Code Freeze for 3 additional days. We **APPROVE** the exception request for the 1.23 Code Freeze for 3 additional days. Reference: [approval email](https://groups.google.com/g/kubernetes-sig-release/c/lt1R2cm-1Vk/m/vPdKJP__AgAJ)

[2021-11-17 08:12] SergeyKanzhelev commented on #281
Were you able to figure it out?

[2021-11-17 08:58] wojtek-t commented on #1040
@salaxander - technically, we didn't do everything we wanted, but also - it's "the next beta" and all the critical things happened.

[2021-11-17 12:29] josephburnett commented on #2702
Yes!  All the core PRs have landed.  Primarily https://github.com/kubernetes/kubernetes/pull/102534 and two followup PRs (https://github.com/kubernetes/kubernetes/pull/106315 and https://github.com/kubernetes/kubernetes/pull/106316).  We still need doc updates I think, but we have another week for that, right?

[2021-11-17 12:36] sftim commented on #2702
Placeholder doc PRs are due tomorrow AIUI, and should be ready for review on the 23rd
https://www.kubernetes.dev/resources/release/

[2021-11-17 13:02] sftim commented on #2885
@kevindelgado I recommend changing the KEP link in this issue description to that it refers to https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2885-server-side-unknown-field-validation

[2021-11-17 15:13] reylejano commented on #2885
The Release Team [approve](https://groups.google.com/g/kubernetes-sig-release/c/PfOMIWQHAxc/m/9BFzbJ0_AwAJ) an exception request for 3 additional days after the 1.23 Code Freeze. Please have https://github.com/kubernetes/kubernetes/pull/105916 approved & merged by Friday (Nov 19). If updated or new documentation is required, please create a placeholder PR to the `dev-1.23` branch in k/website by t

[2021-11-17 15:41] fromanirh commented on #2403
All PRs merged!

[2021-11-17 16:59] rahulkjoshi commented on #2593
To my knowledge, there aren't any open PRs. I'll switch this to be targeting alpha for 1.24 since it seems we're missing the deadline.

[2021-11-17 17:06] reylejano commented on #1864
Hi @hanlins and @andrewsykim ,
On the [sig-network Slack channel](https://kubernetes.slack.com/archives/C09QYUH5W/p1637167707170300?thread_ts=1637166846.170200&cid=C09QYUH5W) , @aojea stated that this does not have e2e tests which is a blocker for GA
The 1.23 Code Freeze started at 18:00 PST yesterday, this enhancement is **at-risk** to fall out of the 1.23 release.
Please reply if this enhancemen

[2021-11-17 17:07] reylejano commented on #2593
Thank you @rahulkjoshi for confirming that this enhancement will target 1.24
/milestone v1.24

[2021-11-17 17:29] SergeyKanzhelev commented on #2727
Please consider the exception request: https://groups.google.com/g/kubernetes-sig-node/c/rJGtv3LIO8E

[2021-11-17 17:33] xing-yang commented on #2923
Hi @reylejano , this enhancement issue still shows "tracked/no".  Can you change it to "tracked/yes"?

[2021-11-17 19:02] ehashman commented on #2040
@salaxander we moved to another implementation and it just missed due to timezone issues/confusion over a unit test update. I am picking up the implementation and opening an exception request.

[2021-11-17 19:47] chrisnegus commented on #961
Hi @krmayankk ! :wave: 1.23 Docs shadow here.

This enhancement is marked as ‘Needs Docs’ for the 1.23 release as well.

If the enhancement does make the release, please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placehol

[2021-11-17 19:52] chrisnegus commented on #1847
Hi @mattcary ! 👋 1.23 Docs shadow here.

This enhancement is marked as ‘Needs Docs’ for the 1.23 release.

If the enhancement does make the release, please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this ti

[2021-11-17 19:59] chrisnegus commented on #2702
Hi @josephburnett  :wave: 1.23 Docs shadow here.

As @sftim mentioned, docs PR placeholders for 1.23 are due tomorrow.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo.
Also, if needed take a look at [Documenting for a release](https://kubern

[2021-11-17 20:03] chrisnegus commented on #2879
Hi @alculquicondor :wave: 1.23 Docs shadow here.
This enhancement is marked as ‘Needs Docs’ for the 1.23 release.
Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.23 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thu N

[2021-11-17 20:05] reylejano commented on #2727
@SergeyKanzhelev With **[APPROVE](https://groups.google.com/g/kubernetes-sig-release/c/1sjsBwMVtKI/m/wWE2kcUqAAAJ)** the exception request to the 1.23 Code Freeze, please have https://github.com/kubernetes/kubernetes/pull/106463 merged by Fri, Nov 19

/milestone v1.23

[2021-11-17 20:21] salaxander commented on #961
Hey @krmayankk - we're gonna remove this from the milestone for now since the tests are still pending. Feel free to open an exception request if things change!

/milestone clear

[2021-11-17 20:23] mattcary commented on #1847
Sure thing, I'll do that today as soon as I see the PR merge (it's been
lgtm'd, so I'm cautiously optimistic).

On Wed, Nov 17, 2021 at 11:52 AM Chris Negus ***@***.***>
wrote:

[2021-11-17 20:24] reylejano commented on #2040
We **[APPROVE](https://groups.google.com/g/kubernetes-sig-release/c/QPxSTjwzga4/m/NdeREssrAAAJ)** the exception request to the 1.23 Code Freeze,  please have [k/k PR](https://github.com/kubernetes/kubernetes/pull/106501) and follow-up PR approved and merged by Friday.

[2021-11-17 20:27] SergeyKanzhelev commented on #2625
@gracenng this issue is still having the label "tracked/no". Is it expected?

[2021-11-17 21:51] gracenng commented on #2625
Hi, thanks for letting me know, looking into it

[2021-11-17 22:38] Huang-Wei commented on #1923
/remove-lifecycle stale

[2021-11-17 22:41] thesuperzapper commented on #2255
/remove-lifecycle stale

[2021-11-17 22:59] enj commented on #2784
/remove-lifecycle stale
/milestone v1.24

[2021-11-17 23:39] mattcary commented on #1847
Almost there, everything is approved and lgtm'd, but another api change
must have gotten in and I need to rebase the test data.

On Tue, Nov 16, 2021 at 6:26 PM Matthew Cary ***@***.***> wrote:

[2021-11-18 04:24] ahg-g commented on #2214
/remove-lifecycle stale

[2021-11-18 04:26] ahg-g commented on #2458
This will graduate with component config to GA.

[2021-11-18 04:26] #2458 closed

[2021-11-18 04:43] ahg-g commented on #2255
Feel free to make a concrete proposal.

The KEP made it clear that this is not meant to be updated frequently.

See https://github.com/kubernetes/kubernetes/issues/45509#issuecomment-774021665 for a way to integrate this feature with HPA.

pod-deletion-cost is a pod-level value, ReplicaSet is aware of it and takes it into account on scale down, nothing prevents CA from taking that value into accou

[2021-11-18 07:21] pohly commented on #1602
Docs PR for 1.23 is here: https://github.com/kubernetes/website/pull/30505

[2021-11-18 07:34] xiaoxubeii commented on #2570
This kep has been released.

[2021-11-18 08:48] aojea commented on #1864
adding more testing here
https://github.com/kubernetes/kubernetes/pull/106522

I think we should postpone GA until we have better signal on testing

[2021-11-18 09:07] mehabhalodiya commented on #1864
@salaxander @Priyankasaggu11929 Please remove this from 1.23 milestone.

[2021-11-18 09:09] Priyankasaggu11929 commented on #1864
/milestone clear

[2021-11-18 09:44] mehabhalodiya commented on #1602
@Priyankasaggu11929 Can you please add this to 1.23 milestone?

[2021-11-18 10:27] josephburnett commented on #2702
@chrisnegus @sftim here is my placeholder PR: https://github.com/kubernetes/website/pull/30547

[2021-11-18 13:08] chrisnegus commented on #2702
Excellent! Thanks @josephburnett

[2021-11-18 15:21] mattcary commented on #1847
Docs placeholder PR at https://github.com/kubernetes/website/pull/30550.

[2021-11-18 17:01] chrishenzie commented on #2485
/remove-lifecycle stale

[2021-11-18 17:12] gnufied commented on #1790
Placeholder doc PR - https://github.com/kubernetes/website/pull/30552

[2021-11-18 17:16] gnufied commented on #695
Docs PR - https://github.com/kubernetes/website/pull/30553

[2021-11-18 17:50] reylejano commented on #1602
Hi @pohly,
1.23 Release Lead here.
This enhancement wasn't opted-in for the 1.23 release and through the linked issue https://github.com/kubernetes/kubernetes/issues/104872, it looks like the following k/k PRs merged for the 1.23 release:
- https://github.com/kubernetes/kubernetes/pull/105718
- https://github.com/kubernetes/kubernetes/pull/105763
- https://github.com/kubernetes/kubernetes/pull/105

[2021-11-18 17:53] ehashman commented on #3048
/tracked no
/stable
/cc @dgrisonnet

[2021-11-18 17:59] pohly commented on #1602
I only joined the WG structured logging after the 1.23 cycle had already started. The intention certainly was to continue with the feature in 1.23 and I was under the impression that it had been tracked for that release. Apparently that wasn't the case.

To answer your question, yes, all the work required for beta is completed and merged, so the docs PR is correct.

Why do we still need an excepti

[2021-11-18 18:15] reylejano commented on #1602
@pohly
In order to track the graduation of this enhancement to beta related to the 1.23 release, this enhancement would need an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) for 1.23 and the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/1602-structured-logging/kep.yaml) would need to be updated to reflect t

[2021-11-18 18:18] serathius commented on #1602
Technically we marked Structured Logging as beta in 1.22 https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/1602-structured-logging/kep.yaml#L25-L26 there were some points still left, but release team has asked us to mark it as Beta in 1.22.

@reylejano Issues you linked as not part work for KEP. Structured Logging KEP was proposal to initiate migration, however migrat

[2021-11-18 18:28] ehashman commented on #1602
@serathius per https://github.com/kubernetes/enhancements/issues/1602#event-4996160182 this missed 1.22. I was under the impression that we had retargeted beta to 1.23.

I am supportive of an exception request to ensure that this work (already merged and mostly documented) can graduate in 1.23.

I think there was some miscommunication; when SIG Instrumentation solicited KEPs for the 1.23 cycle, ou

[2021-11-18 18:56] wenjiaswe commented on #2754
Looks like this was closed by the bot, @vivekpatani do you still want this open?

[2021-11-18 20:08] logicalhan commented on #1602
+ 1

[2021-11-18 20:29] reylejano commented on #1602
The Release Team received an [exception request](https://groups.google.com/g/kubernetes-sig-release/c/EK8ks5ucYN4/m/RUj6Lwt5AAAJ) for this enhancement for 1.23. The Release Team **[APPROVE](https://groups.google.com/g/kubernetes-sig-release/c/EK8ks5ucYN4/m/DcDV-Kd6AAAJ)** the exception request.

/milestone v1.23

[2021-11-18 21:09] PushkarJ commented on #3031
Yes I have my 👀 on this :)
/sig security

[2021-11-18 21:47] mrunalp commented on #2040
Docs placeholder PR - https://github.com/kubernetes/website/pull/30557

[2021-11-18 21:53] mrunalp commented on #2712
Docs placeholder PR - https://github.com/kubernetes/website/pull/30558

[2021-11-19 08:55] saschagrunert commented on #3031
Waiting a bit more for alignment on https://github.com/kubernetes/enhancements/pull/3051, then I'll push out the KEP PR.

[2021-11-19 09:28] cpanato commented on #2853
I don't know how we can do that, maybe we can send an announcement to our mailing list and spread the word via social media?
Also, GitHub give some alerting https://github.com/github/renaming

- Show a notice to contributors who git push to the old branch
- Redirect web requests for the old branch name to the new branch name
- Return a "Moved Permanently" response in API requests for the old branc

[2021-11-19 11:30] #2792 closed

[2021-11-19 19:04] BenTheElder commented on #2853
https://github.com/kubernetes/kubernetes/graphs/traffic gives some idea I guess (the git clones metrics), but automation vs manual clones is not clear, and not to which branch etc...

Renaming breaks git workflows that explicitly use `master`. It's possible to avoid this and [detect the default branch](https://stackoverflow.com/questions/28666357/git-how-to-get-default-branch) but doing so is a bi

[2021-11-19 19:05] BenTheElder commented on #2853
Git workflows also could avoid explicitly naming the default branch since a simple `git clone` will clone and checkout the default branch, we should really update to do this ourselves https://github.com/kubernetes/test-infra/issues/20667 & https://github.com/kubernetes/test-infra/issues/20672

[2021-11-19 19:39] reylejano commented on #2879
Hi @alculquicondor and @kubernetes/sig-apps-misc ,
1.23 Release Lead here. We're a day past the 1.23 Docs Placeholder PR deadline and this enhancement is marked as 'Needs Docs' for 1.23 and is without a linked Doc PR to the `dev-1.23` branch in k/website.

Since this feature is going to be alpha in 1.23, is this enhancement feature-gated? Does the [Feature Gates page](https://kubernetes.io/docs/re

[2021-11-21 06:56] romoh commented on #1948
/remove-lifecycle stale

[2021-11-21 22:00] Riaankl opened #3055 "[KEP] Sharing the load of K8s Artifacts distribution between vendors to reduce the cost burden on the Kubernetes community infrastructure"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
K8s Artifacts are currently only hosted on community infrastructure. The K8s community would benefit from distribution of K8s artifacts through more channels provided by multiple vendors.
- Kubernetes Enhancement Proposal: WIP
- Discussion Link: [Kubernetes SIG K8s Infra meeting 27 Oct 2021](https://do

[2021-11-21 22:02] Riaankl commented on #3055
/sig k8s-infra
/sig architecture

[2021-11-22 14:47] alculquicondor commented on #2879
The PR is up. Sorry about the delay. I missed this before going on vacation.

[2021-11-22 15:34] alculquicondor commented on #2232
/remove-lifecycle stale

We can probably graduate to GA in 1.24

[2021-11-22 15:37] chrisnegus commented on #2879
Not a problem. Thanks so much for getting this done! Is the feature gate information all that needs to be updated or are more docs needed? If that's it, I'll work on getting it looked at and merged.

[2021-11-22 15:39] alculquicondor commented on #2214
Probably ready for graduation in 1.24

[2021-11-22 15:47] alculquicondor commented on #2879
that's all that's needed. The rest is already part of the API reference.

[2021-11-22 15:59] alculquicondor commented on #2185
/remove-lifecycle stale

should be ready for GA in 1.24

[2021-11-22 16:32] lachie83 commented on #563
@Priyankasaggu11929 - Confirming that we are good to go for the release. Doc updates recently merged via https://github.com/kubernetes/website/pull/29386

[2021-11-22 18:28] vaibhavvsharma commented on #3055
Hi there, I am a beginner and would love to take this.
How can I be of use?

[2021-11-22 19:09] dashpole commented on #647
/remove-lifecycle stale

[2021-11-22 19:17] dashpole commented on #727
/remove-lifecycle rotten

[2021-11-23 04:37] Priyankasaggu11929 commented on #563
Thanks so much the update, @lachie83. This enhancement status is all green & tracked. 🙂

[2021-11-23 13:54] khatrig commented on #2668
/remove-lifecycle stale

[2021-11-23 19:57] rtheis commented on #1435
Update for IBM: PR merged and synced to open source to prevent mixed protocol LBs from being created until we support the feature: https://github.com/IBM-Cloud/cloud-provider-ibm/commit/5f8779cffb2d349f9dbe5d5a22e73da7eb6bcd14.

[2021-11-24 06:54] fromanirh commented on #2625
Graduating CPU Manager Policy Options 1.23 Beta :

* [X]   Beta
  * [X]   KEP (`k/enhancements`) update PR(s): https://github.com/kubernetes/enhancements/pull/2933
  * [X]   Code (`k/k`) update PR(s):  https://github.com/kubernetes/kubernetes/pull/105012
  * [X]   Docs (`k/website`) update PR(s): https://github.com/kubernetes/website/pull/29709

Related:

* [X] KEP (`k/enhancements`) cleanup PR: h

[2021-11-24 06:59] frittentheke commented on #837
/remove-lifecycle stale

[2021-11-24 12:49] MadhavJivrajani commented on #2608
/remove-lifecycle stale
/lifecycle frozen

[2021-11-24 13:17] gnufied commented on #531
/reopen

[2021-11-24 13:17] gnufied commented on #531
/remove-lifecycle rotten

[2021-11-24 17:50] cici37 commented on #2876
I have updated the documentation PR to https://github.com/kubernetes/website/pull/30626. Sorry for any inconvenient.

[2021-11-24 18:47] spiffxp commented on #2420
We're past code freeze and test freeze at this point, I'm hoping / assuming nothing remains to be done in kubernetes/kubernetes itself.  What tasks do we need to complete to call this done?

[2021-11-24 18:54] spiffxp commented on #2464
@amwat did we complete any of the checklist items to actually graduate to beta? I saw a lot of shadow presubmits added this cycle but I'm less clear whether there are any more blocking jobs using kubetest2 than last release

[2021-11-24 19:41] BenTheElder commented on #2420
There's some pretty minor stuff but we could probably close it out now that we've done the rest.

- https://github.com/kubernetes/test-infra/issues/24247
- there's still a few errant references in kubernetes/kubernetes, off the top of my head the publishing bot is still find-and-removing bazel related files still, because we took longer to turn down the 1.19 branch (and also missed turning up 1.23

[2021-11-24 19:42] BenTheElder commented on #2420
none of those references are in production release binary code or release / build scripts though, just in tests, publishing bot config, that sort of thing.

[2021-11-24 23:36] amwat commented on #2464
Yeah, all of those are are towards the 3rd beta requirement of having shadow node jobs.

We have an overall community guide for migration at: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests-kubetest2.md#testing-against-an-existing-cluster
I think we can keep adding FAQs for migrating specific specific types of jobs to this doc, but that probably also ex

[2021-11-24 23:57] kishorj commented on #1435
Update for AWS: PR https://github.com/kubernetes/cloud-provider-aws/pull/287 to perform further validation. Feature gtg from AWS side.

[2021-11-25 11:13] waldo2188 commented on #281
@SergeyKanzhelev No, I haven't found a solution yet.

[2021-11-25 14:39] kerthcet commented on #2901
since https://github.com/kubernetes/website/pull/30404 is closed, close this issue then. cc @alculquicondor

[2021-11-25 14:39] kerthcet commented on #2901
/close

[2021-11-25 14:39] #2901 closed

[2021-11-25 14:55] alculquicondor commented on #2901
I just realized that this was opened under the enhancements repo. Since this was just a KEP update, rather than it's own KEP:

- It should link to the original KEP and its issue
- It shouldn't say alpha (the KEP is beta already)

[2021-11-25 15:01] sftim commented on #2338
I'll mention https://github.com/kubernetes/website/issues/30639 - a request to document this feature.

[2021-11-25 15:01] sftim commented on #2338
/reopen
I think we should either document it or deprecate it.

[2021-11-25 15:19] pillamk commented on #1435
Thanks a lot @bridgetkromhout . Looking forward for get this into 1.24 version.

[2021-11-25 15:36] kerthcet commented on #785
migration guide from v1beta1 -> v1beta2 can refer to kubernetes/website#30151
migration guide from v1beta2 -> v1beta3 can refer to kubernetes/website#30404

[2021-11-26 01:49] frittentheke commented on #1846
/remove-lifecycle rotten

[2021-11-26 08:27] Priyankasaggu11929 commented on #2464
Hello @amwat, could you help providing a status summary on the checklist, mentioned in one of the above comments [here](https://github.com/kubernetes/enhancements/issues/2464#issuecomment-923384151). Want to confirm if all fo the items are checked or if not, what all are still in progress..

Thank you so much! 🙂

[2021-11-27 01:50] huoqifeng opened #3059 "[WIP][KEP] Add pod level logs API"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Define and implement pod level logs API
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3058
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta re

[2021-11-27 02:03] huoqifeng commented on #3059
/sig node

[2021-11-28 18:05] kerthcet commented on #2926
related pr: [Make job pod template annotations and labels mutable for suspended jobs that never started](https://github.com/kubernetes/kubernetes/pull/105980)

[2021-11-29 09:44] saschagrunert opened #3060 "Enable authenticated registry mirror support for image pulls"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Added authenticated registry mirror support for image pulls
- Kubernetes Enhancement Proposal: TBD
- Discussion Link: TBD
- Primary contact (assignee): @saschagrunert
- Responsible SIGs: SIG Node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): TBD
  - Beta

[2021-11-29 09:44] saschagrunert commented on #3060
/sig node

[2021-11-29 10:18] saschagrunert commented on #3027
The initial draft of the sining KEP is proposed in https://github.com/kubernetes/enhancements/pull/3061

[2021-11-29 14:49] mikebrow commented on #2535
just waiting on review/merge....

[2021-11-30 02:47] tpepper commented on #3027
Given the unknown unknowns, and the context of a SIG Release 2021 (and beyond) vision/roadmap, I believe it would make sense to set a more concrete and limited scope first KEP for "SLSA Level 3 Compliance".  Level four feels notably harder to accomplish in many contexts (but I'm hopeful it wont be tremendously hard in our specific context, maybe naive?).  Level three feels readily attainable for t

[2021-11-30 08:50] olemarkus commented on #1815
/remove-lifecycle stale

[2021-11-30 16:33] pohly opened #3063 "DRA: control plane controller ("classic DRA")"
### Enhancement Description

- One-line enhancement description: dynamic resource allocation
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/3063-dynamic-resource-allocation
- Discussion Link: [CNCF TAG Runtime Container Device Interface (COD) Working Group meeting(s)](https://docs.google.com/document/d/1gUgAMEThkRt4RJ7pA7ZbPPmIOX2Vb7fwH025Mj

[2021-11-30 16:37] pohly commented on #3063
/assign @pohly
/sig node

[2021-11-30 17:18] msau42 commented on #2923
/reopen

[2021-11-30 18:15] KnVerey commented on #2299
/remove-lifecycle stale

[2021-11-30 19:04] BenTheElder commented on #2568
/remove-lifecycle stale

[2021-11-30 19:42] bridgetkromhout commented on #563
Tests update is in https://github.com/kubernetes/test-infra/pull/24488 (the bot added it to 1.24 but it's for 1.23).

[2021-11-30 20:01] mikebrow opened #3066 "Sub-second / More granular probes"
### Enhancement Description

- Allow Probe fields to be specified in seconds or milliseconds.
- Kubernetes Enhancement Proposal:
- Discussion Link: [sig-node discussion notes](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#bookmark=id.lpwd210nq0t)
- Primary contact (assignee): @mikebrow
- Responsible SIGs: Sig-Node
- Enhancement target (which target equals to

[2021-11-30 20:01] mikebrow commented on #3066
/sig SIG-NODE

[2021-11-30 20:02] mikebrow commented on #3066
/sig sig-node

[2021-11-30 20:03] mikebrow commented on #3066
/sig node

[2021-11-30 21:58] damemi commented on #2891
All PRs tracked in this issue for Alpha have merged 🎉

[2021-11-30 21:59] alculquicondor commented on #2891
Shouldn't it say beta? We are using a beta API

[2021-11-30 22:32] damemi commented on #2891
@alculquicondor ah yeah, that's just the PR description. the kep has it right: https://github.com/kubernetes/enhancements/pull/2899/files#diff-1c9b927fd69bae226096557491215d58b9d5eac51fc17a7f746035b38957d802R2

[2021-12-01 00:22] huoqifeng commented on #3059
This is also tracked in issue: https://github.com/kubernetes/kubernetes/issues/106698

[2021-12-01 06:12] jonyhy96 commented on #1847
@mattcary the KEP may not up to date
`PersistentVolumeClaimPolicy` =>  `PersistentVolumeClaimRetentionPolicy`
`OnSetDeletion` => `WhenDeleted`
`OnScaleDown` => `WhenScaled`

[2021-12-01 08:14] saschagrunert commented on #2413
/remove-lifecycle stale

[2021-12-01 14:03] alculquicondor commented on #2891
Thanks for updating

[2021-12-01 16:43] mattcary commented on #1847
Thanks for catching that! I'll ready a PR.

On Tue, Nov 30, 2021 at 10:13 PM jony montana ***@***.***>
wrote:

[2021-12-01 22:32] mrunalp commented on #2712
Docs merged here - https://github.com/kubernetes/website/pull/30611

[2021-12-02 08:04] aojea opened #3070 "Reserve Service IP Ranges For Dynamic and Static IP Allocation"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Subdivide the ClusterIP range for dynamic and static IP allocation.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/3070-reserved-service-ip-range
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/95570
- Primary contact (assig

[2021-12-02 16:58] SwarajShekhar commented on #2255
Is pod-deletion-cost feature enabled by default as a beta feature in 1.22 version?

[2021-12-02 17:01] liggitt commented on #2255
yes

[2021-12-02 19:32] ehashman commented on #1748
/remove-lifecycle stale

[2021-12-02 20:04] ehashman commented on #1668
/milestone clear

[2021-12-02 20:07] ehashman commented on #3059
Hello @huoqifeng, I do not see a discussion linked. Have you raised this at a SIG meeting or on the mailing list?

[2021-12-02 23:04] gjkim42 commented on #2595
/remove-lifecycle stale

[2021-12-03 00:57] huoqifeng commented on #3059
@ehashman thanks for remind, I just sent it in the sig-node mail list.

[2021-12-03 05:50] helper-uttam opened #3073 "Enhancing the Console output of KUBECTL CLI"
### Enhancement Description
When I tried to delete a pod using **kubectl CLI** (`kubectl delete pod <POD_NAME>` ) then it firstly log `pod <POD_NAME> deleted` then in the background it is processing to delete the pod.
**Expected Behavior:**
It should log something like `Deleting pod <POD_NAME>` then after deleting the pod it should log `pod <POD_NAME> deleted`.
- One-line enhancement description (

[2021-12-03 05:52] helper-uttam commented on #3073
/sig cli

[2021-12-03 18:56] MaxRenaud commented on #2086
I will be working on graduating this KEP.

[2021-12-06 05:57] pacoxu commented on #1558
/remove-lifecycle stale

[2021-12-06 06:43] jonyhy96 commented on #2848
/cc

[2021-12-06 09:38] jsafrane commented on #1710
/remove-lifecycle stale

[2021-12-06 10:32] pohly opened #3077 "contextual logging"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Contextual logging enables the caller of a function to control all aspects of logging (output formatting, verbosity, additional values and names).
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/3077-contextual-logging
- Discussion Link

[2021-12-06 18:55] jayunit100 commented on #2578
https://github.com/kubernetes/enhancements/pull/2975

[2021-12-06 18:56] jayunit100 commented on #2578
KEP is here https://github.com/kubernetes/enhancements/pull/2975/files

[2021-12-06 19:34] sftim commented on #1682
BTW, the checkboxes for https://github.com/kubernetes/enhancements/issues/1682#issuecomment-914811163 are missing. I'm guessing this either did pass its PRR, or we skipped it.

[2021-12-07 03:34] raghvenders commented on #2775
/assign @raghvenders

[2021-12-07 03:36] raghvenders commented on #2775
/lifecycle rotten

[2021-12-07 11:03] justaugustus commented on #3055
/sig release
/area artifacts release-eng

[2021-12-07 14:13] neolit123 commented on #2500
/remove-lifecycle stale

[2021-12-08 12:37] pohly commented on #3077
/sig instrumentation
/wg structured-logging

[2021-12-08 15:04] alculquicondor commented on #2926
Should we consider `schedulerName` as well for the next release?

[2021-12-08 19:59] alculquicondor commented on #2926
The queueing system could decide that the job should land in specific Nodes, and these nodes would like their workloads to be scheduled under a specific scheduling profile.

[2021-12-09 04:24] vinayakankugoyal commented on #2763
/remove-lifecycle stale

[2021-12-09 08:37] pacoxu commented on #2221
As https://github.com/kubernetes/enhancements/blob/0e4d5df19d396511fe41ed0860b0ab9b96f46a2d/keps/sig-node/2221-remove-dockershim/README.md#pros say, a cri-dockerd can be maintained independently by folks who are interested in keeping this functionality.

I just notice it is https://github.com/Mirantis/cri-dockerd  for users who are still using docker.

[2021-12-09 08:54] flokli commented on #2438
/remove-lifecycle stale

[2021-12-09 11:27] fabriziopandini commented on #2502
/remove-lifecycle stale

[2021-12-09 14:42] ahg-g commented on #2255
I would like to start a conversation around GAing the current basic semantics.

@liggitt regarding the api, I wonder if we should stay with the current one (annotation) or we want to revisit this decision and move it to status.

[2021-12-09 14:44] liggitt commented on #2255
I'd hesitate to promote it to GA as-is without more consensus from the folks that weren't in favor of the annotation-based approach.

I would not expect to move it to pod status, since we don't intend to give write access to pod status to the types of clients that would want to set this.

[2021-12-09 14:48] ahg-g commented on #2255
ok, that is a good point.

So the GA path is either:
1) get consensus on the annotation with the current semantics.
2) a bigger change in semantics that translates to having the "cost" moved to status and only updated by kubelet.

[2021-12-09 14:49] ravisantoshgudimetla commented on #2804
/remove-lifecycle stale

Targeting for 1.24 as alpha.

[2021-12-09 15:12] Nothing4You commented on #2358
/remove-lifecycle stale

[2021-12-09 16:16] ddebroy commented on #2857
/remove-lifecycle stale

[2021-12-09 19:42] rikatz commented on #2079
/lifecycle frozen

[2021-12-09 19:45] rikatz commented on #2551
@eddiezane @soltysh let me see if someone here at company wants to help me on this, so I can sort of mentor/help/whatever but someone can do the heavy job!

Maybe we can get an alpha proposal for this in v1.24

[2021-12-09 22:49] bridgetkromhout commented on #1435
Discussed in sig-network; will follow up with @aojea for kube-proxy and @robscott to ensure this going to beta won't break Google customers.

[2021-12-10 01:36] andrewsykim commented on #2086
/assign @MaxRenaud

Thank you @MaxRenaud!

[2021-12-10 02:01] robscott commented on #1435
Chatted with @bowei about this. We'll work on this, no need to block on our account.

[2021-12-10 06:27] jhpatel opened #3083 "Custom termination order for containers in a Pod"
### Enhancement Description

Need a way to specify termination order for shutting down containers in a Pod, including sidecar if possible. I went over multiple discussions and problems on how to order graceful shutdown, before and after 1.18 release with and without lifecycle hooks. Issue is K8 does not have control over dependencies of containers within a Pod and how the shutdown should be ordere

[2021-12-10 13:43] jsafrane commented on #1489
/remove-lifecycle stale

Update after 1.23 GA: it's still beta, to be GA in 1.24

[2021-12-10 17:27] puerco commented on #3027
Thanks for the comments @tpepper. I agree completely. I did not want to give up before declaring level 4 as unimplementable, but I agree that for now, it is not realistic to consider it. But we can always finish this and push forward.

I've retitled the KEP and scoped it to level 3. I have also removed the dual graduation criteria. Thank you !

[2021-12-10 17:31] dlorenc commented on #3027
I'd agree with this - SLSA4 was designed to be very aspirational from the start. Just my personal take - but I'd either expect some intermediate levels or massive changes in tooling to pop up before SLSA4 is realistic for most projects.

[2021-12-10 18:13] andrewsykim commented on #1864
/assign @uablrek

[2021-12-10 20:26] justaugustus commented on #2818
This is implemented and the KEP PR has merged: https://github.com/kubernetes/enhancements/pull/2817
Thanks Tyler for your work here!
/close

[2021-12-10 20:27] #2818 closed

[2021-12-10 21:44] ehashman commented on #1753
We have proposed this feature for deprecation after discussion at SIG Instrumentation and ack from SIG Security: https://groups.google.com/g/kubernetes-dev/c/xhQuwdd2Smw/m/L_EyHKbDAAAJ

[2021-12-10 23:53] spiffxp commented on #2539
/remove-lifecycle stale

[2021-12-12 11:42] rtheis commented on #671
/remove-lifecycle stale

[2021-12-13 07:07] uablrek commented on #1864
@aojea @andrewsykim What are the administrative steps needed for this? Or where can I read about it? I can handle the code update (remove the feature-gate), no problem, but I suppose there are other things also.

[2021-12-13 08:28] aojea commented on #1864
I think that we only need the code changes locking the feature to GA and removing the checks for the feature gate https://github.com/kubernetes/enhancements/commit/88347e78c1b74cf0cd1cd735779e2e3f98a1b00d#diff-20224f0a524bdeb13a406c1ed860c13c8cbfdc5631b572603cbce4a2f12291ea

[2021-12-13 17:14] enj commented on #2799
/remove-lifecycle stale
/lifecycle frozen

[2021-12-13 17:26] enj commented on #2861
/remove-lifecycle rotten

[2021-12-14 01:40] pacoxu commented on #2254
/remove-lifecycle stale

[2021-12-14 06:06] thesuperzapper commented on #2255
@ahg-g @liggitt @khenidak @thockin @JamesLaverack @SwarajShekhar @reylejano

The `controller.kubernetes.io/pod-deletion-cost` annotation feels like a "bolt-on", rather than a first-class concept of the Pod. This is because it decouples setting the `pod-deletion-cost` from the Pod itself, requiring that a non-Kubernetes system updates it.

I am strongly against the `controller.kubernetes.io/pod-del

[2021-12-14 07:18] zetaab commented on #2579
I am currently checking the PodSecurity alpha version and one question comes to my mind. I am using `kube-prometheus` (https://github.com/prometheus-operator/kube-prometheus) to monitor my cluster. When I execute `ubectl label --dry-run=server --overwrite ns --all pod-security.kubernetes.io/enforce=restricted` or `ubectl label --dry-run=server --overwrite ns --all pod-security.kubernetes.io/enforc

[2021-12-14 07:22] rensx5514 commented on #2579
Obviously, I think it's option 2

[2021-12-14 07:22] rensx5514 commented on #2579
Obviously, I think it's option 2

[2021-12-14 07:24] rensx5514 commented on #2579
Why does node-exporter daemonset need privileged？It's just get metrics .

[2021-12-14 07:26] zetaab commented on #2579
@rensx5514 it collects metrics data from the node itself, manifest https://gist.github.com/zetaab/cae34a02d474ae98644ffa23b0815039

when trying to `restricted` policy to it:

[code]

[2021-12-14 07:37] rensx5514 commented on #2579
I think maybe you can move node-exporter to kube-system. Otherwise, you might need to put it in a separate namespace.

[2021-12-14 10:27] palnabarun commented on #2095
/remove-lifecycle stale

[2021-12-14 13:45] liggitt commented on #2579
@zetaab @rensx5514 yes, the granularity of the PodSecurity feature is at the namespace level, so the namespace enforcement level must be the upper bound. Workload authors within the namespace can choose not to make use of all the allowed permissions, so you could certainly run a baseline- or restricted-compatible workload in a privileged namespace.

(as an aside, this issue is primarily meant as a

[2021-12-14 15:44] ahg-g commented on #3022
/cc @x13n

[2021-12-14 17:14] ddebroy opened #3085 "Pod conditions around readiness to start containers after completion of pod sandbox creation"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Surface pod conditions around completion of pod sandbox creation marked by successful network configuration for the pod.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/3085-pod-conditions-for-starting-completition-of-sandbox-creation
- Discussion

[2021-12-14 17:14] ddebroy commented on #3085
/sig node

[2021-12-14 17:19] uablrek commented on #1864
PR for the feature-gate; https://github.com/kubernetes/kubernetes/pull/107027

[2021-12-14 17:33] jayunit100 commented on #2578
https://github.com/jayunit100/k8sprototypes/tree/master/windows/experimental-windows-doc-gen <-- prototype exemplifying how this will sort of work

[2021-12-14 21:05] fabriziopandini commented on #2505
/lifecycle frozen

[2021-12-14 21:54] endocrimes commented on #2400
Swap support has now landed in containerd: https://github.com/containerd/containerd/pull/6320

[2021-12-15 05:58] pacoxu commented on #281
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/ should be removed in 1.24 if this feature is removed.

[2021-12-16 08:53] shvgn opened #3088 "Support disruption budget for DaemonSet pods"
# Support disruption budget for DaemonSet pods

- One-line enhancement description (can be used as a release note): Support disruption budget for DaemonSet pods
- Kubernetes Enhancement Proposal: #3089
- Discussion Link: https://github.com/kubernetes/kubernetes/pull/98307
- Primary contact (assignee): @shvgn
- Responsible SIGs: sig-apps
- Enhancement target (which target equals to which milestone)

[2021-12-16 08:54] shvgn commented on #3088
/sig apps

[2021-12-16 09:22] pacoxu commented on #1029
After reading the KEP and some histories in https://github.com/kubernetes/community/pull/2638,  LocalStorageCapacityIsolationFSQuotaMonitoring is just for monitoring and the enforcement should happen with another new KEP.

[2021-12-16 18:39] JamesLaverack commented on #2140
/reopen
/remove-lifecycle rotten

[2021-12-16 19:05] will-wang-jx commented on #2872
@adisky What is the status of this effort?

[2021-12-16 21:22] #2828 closed

[2021-12-17 08:45] pohly commented on #1698
Here's the PR marking this enhancement as implemented: https://github.com/kubernetes/enhancements/issues/1698

However, there is one last task left: remove the feature gate definition from https://github.com/kubernetes/kubernetes/blob/712745cb6755b3a28ca12292b30d138d5f737aa6/pkg/features/kube_features.go#L171-L177 (and also docs?).

Does anyone know when that should be done?

[2021-12-18 00:08] neolit123 commented on #970
/remove-lifecycle rotten

[2021-12-19 10:06] cynepco3hahue commented on #1769
/remove-lifecycle rotten

[2021-12-20 11:21] ball-hayden commented on #2980
I'd be happy to contribute with this, if I could get some pointers as to where to start 😅

[2021-12-20 21:23] ahg-g commented on #3063
do we have a discussion issue on this enhancement?

[2021-12-21 04:14] bobychaudhary opened #3092 "Fix: Grammatical mistakes"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements

[2021-12-22 03:09] dimm0 commented on #695
Hi all,
Glad it's moving to GA, but I still can't make `fsGroupChangePolicy: "OnRootMismatch"` to work... The files in a volume are always chowned to the fsGroup. I'm using the ceph CSI drivers by rook.

[2021-12-22 09:27] kerthcet opened #3094 "Take taints/tolerations into consideration when calculating PodTopologySpread skew"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Take taints/tolerations into consideration when calculating PodTopologySpread skew
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3105
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/106127
- Primary contact (assignee): @kerthcet
- Responsible SI

[2021-12-22 09:28] kerthcet commented on #3094
/sig scheduling
/cc @Huang-Wei @alculquicondor @ahg-g

The milestone should still be discussed about.

[2021-12-22 09:56] kerthcet commented on #3094
/assign

[2021-12-23 08:37] pacoxu commented on #1029
I have done some testing on this feature in the last and this release cycle.

I opened https://github.com/kubernetes/kubernetes/pull/107201 to add some metrics. Currently, there are no detailed metrics about quota monitoring speed or eviction.

For eviction testing, I did something like comparing the behavior and speed between enable `LocalStorageCapacityIsolationFSQuotaMonitoring` or not.

[code]

[2021-12-23 09:47] palnabarun commented on #2140
/lifecycle frozen

[2021-12-23 19:18] ehashman commented on #2400
/milestone v1.24

[2021-12-24 00:43] #2835 closed

[2021-12-24 02:02] cofyc commented on #1845
/remove-lifecycle rotten
/lifecycle fronzen

[2021-12-24 02:02] cofyc commented on #1845
/lifecycle frozen

[2021-12-24 13:49] #531 closed

[2021-12-24 22:26] minimonsters commented on #2255
This approach assumes that the pod is the only source of information about what pods should be cleaned up.  There is a whole set of cases where external factors may come into play - for example when the node that the pod is on should be taken into account because it is on a more expensive cloud-based burst service.  These types of values only need to be set once.

[2021-12-25 02:20] hrittikhere commented on #3092
AFAIK you can go and fix the typos and create a MR. You don't need to create an issues for that and reviewers would look into your MR

[2021-12-25 04:43] #3092 closed

[2021-12-26 18:16] vinaykul commented on #2838
/reopen

Quite a few folks have pinged me offering to help. Although my time is incredibly overbooked, but with help I think we can pull this off before beta once PR https://github.com/kubernetes/kubernetes/pull/102884 is approved and merged for alpha.

[2021-12-26 18:16] vinaykul commented on #2838
/remove-lifecycle rotten

[2021-12-29 09:05] yuzhiquan commented on #2872
/cc

[2021-12-30 00:18] rikatz commented on #2079
@thockin we need to talk about this one :)

[2021-12-31 09:46] #2129 closed

[2022-01-02 15:31] explogx commented on #127
Any update on this? This seems awfully important considering the amount of workloads running as root inside Pods, and thus also being owned by UID 0 on the underlying node... AFAIK the only blocker here is about PVs and bind mounts from the host, where user remapping can't work, am I right?

[2022-01-03 10:34] fromanirh commented on #2621
/reopen

[2022-01-03 14:19] neolit123 commented on #995
/remove-lifecycle stale

[2022-01-03 15:23] wojtek-t commented on #2263
/remove-lifecycle stale

[2022-01-03 15:46] ahmad-diaa opened #3101 "1:1 pod to node assignment"
### Enhancement Description

- One-line enhancement description (can be used as a release note): allow enforcing 1:1 pod to node assignment
- Kubernetes Enhancement Proposal:
- Discussion Link:  [Allow enforcing 1:1 pod to node assignment kubernetes#105287](https://github.com/kubernetes/kubernetes/issues/105287)
- Primary contact (assignee): @ahmad-diaa
- Responsible SIGs: scheduling
- Enhancement

[2022-01-03 15:47] ahmad-diaa commented on #3101
/sig scheduling

[2022-01-04 07:53] pacoxu commented on #1029
Action Item Update:

- [ ] add some metrics or make more visibility https://github.com/kubernetes/kubernetes/pull/107201
- [ ] fix a bug: during kubelet restart. https://github.com/kubernetes/kubernetes/pull/107302
- [ ]  benchmark the feature
- [ ] check e2e testings: e2e evolution

[2022-01-04 10:44] irozzo-1A commented on #2347
/remove-lifecycle stale

[2022-01-04 18:44] eddiezane opened #3104 "Separate kubectl user preferences from cluster configs"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Implement a .kuberc file to separate user preferences from cluster configs.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/3104-introduce-kuberc/README.md
- Discussion Link:  https://groups.google.com/g/kubernetes-dev/c/y4Q20V3dyOk/m/ozSUR3dJDQAJ

[2022-01-04 21:45] #563 closed

[2022-01-05 09:34] humblec opened #3107 "Introduce nodeExpandSecret in CSI PV source"
### Enhancement Description
CSI spec 1.5 enhanced the spec to add optional secrets field to
NodeExpandVolumeRequest. To support this, we need to have  `NodeExpandSecret ` to the
CSI PV source and also derive the expansion secret in csiclient to
send it out as part of the nodeexpand request.

- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage

[2022-01-05 09:34] humblec commented on #3107
/sig storage

[2022-01-05 09:36] humblec commented on #3107
Cc @xing-yang @msau42 @jsafrane @gnufied

[2022-01-05 09:36] humblec commented on #3107
Cc @zhucan

[2022-01-05 09:41] humblec commented on #2924
/remove-lifecycle stale

[2022-01-05 09:42] humblec commented on #2924
@Jiawei0227 would like to track this for 1.24 as alpha.

[2022-01-05 09:43] humblec commented on #2923
@msau42 @Jiawei0227 @xing-yang can we track the beta promotion of this enhancement here in this same issue ? or do we need a separate issue/tracker?

[2022-01-05 10:30] Jiawei0227 commented on #2923
I think we should use the same issue.

[2022-01-05 10:30] Jiawei0227 commented on #2924
SG! Thanks

[2022-01-05 11:04] humblec commented on #2923
Thanks @Jiawei0227 for confirming.

[2022-01-05 11:37] wojtek-t commented on #1164
/remove-lifecycle stale

[2022-01-05 12:41] mauriciovasquezbernal commented on #127
@explogx there is a KEP PR for this at https://github.com/kubernetes/enhancements/pull/3065.

[2022-01-05 20:02] kfox1111 commented on #596
/remove-lifecycle stale

[2022-01-05 20:09] alculquicondor commented on #1258
/reopen

/help

[2022-01-05 20:10] alculquicondor commented on #1258
/remove-lifecycle rotten

[2022-01-06 10:29] pacoxu commented on #3073
It sounds like a simple pull request to do. Should this be written as a KEP?

[2022-01-06 10:31] pacoxu commented on #3070
/sig network

[2022-01-06 10:32] pacoxu commented on #3083
/sig node

[2022-01-06 10:43] pacoxu commented on #3008
/sig node

[2022-01-06 10:47] pacoxu commented on #3028
/sig api-machinery

[2022-01-06 11:09] uablrek commented on #2819
/remove-lifecycle stale

[2022-01-06 11:30] pacoxu commented on #3083
I read the KEP of #2872

[2022-01-06 17:05] xing-yang commented on #1487
/milestone v1.24

[2022-01-06 17:09] rata commented on #3083
Yeap, that is not a goal of that KEP. The idea is to _start_ with the problem stated. Handling container startup/shutdown is planned after we gain more insight with that (see the PR discussion for more info about it).

[2022-01-06 17:09] xing-yang commented on #1490
/milestone v1.24

[2022-01-06 17:10] xing-yang commented on #1488
/milestone v1.24

[2022-01-06 17:52] alculquicondor commented on #1258
/assign @gavinfish

/remove help

[2022-01-06 17:53] alculquicondor commented on #1258
/remove-help

[2022-01-06 19:12] gnufied commented on #695
I think there is a bug in ceph-csi driver where it explicitly chmods volume path on nodestage which results in dropping setgid bit expected by kubelet - https://github.com/ceph/ceph-csi/pull/2697

Once that is fixed IIRC it works as expected. cc @humblec @Madhu-1

[2022-01-06 19:52] ehashman commented on #2823
/remove-lifecycle rotten
/reopen

[2022-01-06 20:00] rsumukha commented on #2823
Trying out the POC, will update the KEP once done.

[2022-01-06 20:07] neolit123 commented on #2504
/remove-lifecycle rotten

[2022-01-06 22:44] rikatz commented on #2091
/lifecycle active

[2022-01-07 13:27] humblec commented on #695
Correct @gnufied , I am in path of fixing it.. Initial testing was done with the change in place and it is working as expected. will be revisiting it soon.

[2022-01-07 20:06] ahg-g commented on #2249
/milestone v1.24

[2022-01-07 20:08] ahg-g commented on #2232
/milestone v1.24

[2022-01-08 01:41] msau42 commented on #1885
/milestone v1.24

[2022-01-08 17:26] #213 closed

[2022-01-09 04:38] gracenng commented on #19
Enhancements graduated to stable, `implemented` status in KEP.

[2022-01-09 04:38] #19 closed

[2022-01-09 04:58] gracenng commented on #592
1.24 Enhancements Lead here,

@sahilvv, could you please update the KEP status to `implemented` and close this issue then?

Thanks :)

[2022-01-09 05:02] gracenng commented on #695
Hi @gnufied @mattsmithdatera ,

1.24 Enhancements Lead here. Could you please update this enhancements's KEP status to `implemented`, then close this issue?

Thanks :)

[2022-01-09 05:10] gracenng commented on #1682
Hi @dobsonj  ,

1.24 Enhancements Lead here. Since the issue is in GA, could you please update this enhancements's KEP status to `implemented`, then close this issue?

Thanks :)

[2022-01-09 05:15] gracenng commented on #1698
Hi @gnufied @mattsmithdatera ,

1.24 Enhancements Lead here. This enhancement is considered graduated to `stable`. Once the last task is complete, could you please update this enhancements's KEP status to `implemented`, then close this issue?

Thanks :)

[2022-01-09 05:34] gracenng commented on #1933
Hi @PurelyApplied  ,

1.24 Enhancements Lead here. Could you please update this enhancements's KEP status to `implemented`, then close this issue?

Thanks :)

[2022-01-09 05:38] gracenng commented on #2365
Marked as impletemented for `stable`

[2022-01-09 05:38] #2365 closed

[2022-01-09 05:41] gracenng commented on #2420
Hi @BenTheElder  ,

1.24 Enhancements Lead here. Could you please update this enhancements's KEP status to `implemented`, then close this issue?

Thanks :)

[2022-01-09 05:43] gracenng commented on #2702
Hi @josephburnett  ,

1.24 Enhancements Lead here. Could you please update this enhancements's KEP status to `implemented`, then close this issue?

Thanks :)

[2022-01-09 05:46] AkihiroSuda commented on #2033
/remove-lifecycle stale

[2022-01-09 18:13] gracenng commented on #2923
/remove tracked/yes
/tracked/no

[2022-01-09 18:14] gracenng commented on #2915
/tracked no

[2022-01-10 07:32] pohly commented on #3063
@ahg-g: with discussion issue you mean a separate issue in some repo (where?) in which arbitrary comments are welcome?

No, not at the moment. I've also not seen that done elsewhere before. IMHO at this point the open KEP PR is a good place to collect feedback and questions. I also intend to come to the next SIG-Scheduling meeting.

[2022-01-10 10:14] saschagrunert commented on #3031
The KEP got merged, we will now define an MVP and integrate it into our release process. I'm following-up with a dedicated issue on that.

[2022-01-10 10:47] pohly commented on #2994
/remove-lifecycle stale

[2022-01-10 13:58] ahg-g commented on #3063
Yeah, this is what I was looking for, the issue would be under k/k repo.

That is actually the common practice, one starts a feature request issue where the community discusses initial ideas and the merits of the request (look for issues with label `kind/feature`). That is what I would expect in the discussion link.

But the community have no idea what this is about yet, so better to have an issue

[2022-01-10 15:10] neolit123 commented on #1053
tracking issue following the new format is here:
https://github.com/kubernetes/enhancements/issues/2504

[2022-01-10 15:10] #1053 closed

[2022-01-10 15:31] pohly commented on #3063
In my work in SIG-Storage I've not seen much use of such a discussion issue. Instead I had the impression that the usage of "kind/feature" is discouraged nowadays.

https://github.com/kubernetes/kubernetes/issues/new?assignees=&labels=kind%2Ffeature&template=enhancement.yaml explicitly says

This proposal was discussed with various people beforehand, now we are in the format KEP phase. But I agree

[2022-01-10 15:50] ahg-g commented on #3063
We use that in sig-scheduling, and it does serve as a very good place for initial rounds of discussions, discussions on slack and meetings are hard to reference as you pointed out.

I still have no idea what this is proposing, and I may not attend the next sig meeting for example...

[2022-01-11 02:12] xing-yang commented on #284
/remove-lifecycle stale

[2022-01-11 02:13] xing-yang commented on #284
/milestone v1.24

[2022-01-11 02:17] xing-yang commented on #596
/milestone v1.24

[2022-01-11 02:18] xing-yang commented on #1432
/milestone v1.24

[2022-01-11 02:20] xing-yang commented on #1495
/milestone v1.24

[2022-01-11 02:28] hbagdi commented on #2365
@robscott We need to remove the gate in 1.24, is that correct?

[2022-01-11 03:15] xing-yang commented on #2644
/milestone v1.24

[2022-01-11 03:15] xing-yang commented on #2268
/remove-lifecycle rotten

[2022-01-11 03:15] xing-yang commented on #2268
/milestone v1.24

[2022-01-11 03:16] xing-yang commented on #2923
/milestone v1.24

[2022-01-11 03:17] xing-yang commented on #2924
/milestone v1.24

[2022-01-11 03:29] xing-yang commented on #1710
/milestone v1.24

[2022-01-11 03:33] msau42 commented on #2923
@humblec can you update the kep to indicate we want to promote to beta in 1.24?

[2022-01-11 03:43] msau42 commented on #1698
Kubernetes deprecation policy says 2 releases for removing a feature gate: https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-feature-or-behavior

It's also commented in the code: https://github.com/kubernetes/kubernetes/blob/712745cb6755b3a28ca12292b30d138d5f737aa6/pkg/features/kube_features.go#L897

I think you can go ahead and close this. In the past, I have seen P

[2022-01-11 03:45] msau42 commented on #3107
@humblec do you plan to put together a kep for this?

[2022-01-11 03:47] msau42 commented on #625
@Jiawei0227 can you also send out a kep update since we have some plugins targeting GA this release?

[2022-01-11 05:27] thesuperzapper commented on #2255
@minimonsters using the approach I laid out in https://github.com/kubernetes/enhancements/issues/2255#issuecomment-993189270, there is nothing preventing you from giving the Pod information about its node-type with the [downwards api](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/#use-pod-fields-as-values-for-environment-variables), and using

[2022-01-11 05:37] thesuperzapper commented on #2255
@ahg-g can you clarify if the plan is still to promote the current "Pod Deletion Cost" to GA?

Personally, I think we should leave it at Beta for now and consider implementing something like I proposed in https://github.com/kubernetes/enhancements/issues/2255#issuecomment-993189270, I am really uncomfortable with marking the current implementation as GA and supporting it forever.

[2022-01-11 07:00] wojtek-t commented on #1698
Yes - no need to keep it just for feature gate removal.

[2022-01-11 07:02] humblec commented on #3107
Yeah, thats the plan @msau42 .

[2022-01-11 07:49] denkensk commented on #902
GA Progress Record：

- k/enhancements:  https://github.com/kubernetes/enhancements/pull/3110
- k/k:  https://github.com/kubernetes/kubernetes/pull/107432
- k/website:  https://github.com/kubernetes/website/pull/31283

[2022-01-11 08:20] humblec commented on #2923
Done @msau42 , ptal.. thanks !

[2022-01-11 11:54] Jiawei0227 commented on #625
PRs for adding the KEPs for all the different plugins:

- vSphere: https://github.com/kubernetes/enhancements/pull/3125
  - This release go Beta on by default
- Cinder: https://github.com/kubernetes/enhancements/pull/3124
  - This release go GA
- Azurefile https://github.com/kubernetes/enhancements/pull/3123
  - This release go Beta on by default
- Azuredisk https://github.com/kubernetes/enhanceme

[2022-01-11 13:21] xing-yang commented on #1489
/milestone v1.24

[2022-01-11 13:56] wojtek-t commented on #383
/remove-lifecycle stale

[2022-01-11 14:08] xing-yang commented on #1491
/milestone v1.24

[2022-01-11 15:20] dgrisonnet commented on #383
/assign

[2022-01-11 15:42] ahg-g commented on #2255
I am pursuing to graduate this to GA this cycle because we need to resolve the concerns posted here.

This still assumes that the information is local, I am not sure that is always the case.

I don't think we can have the ReplicaSet controller calling each pod to get the costs on every scale down (if that is what you meant), this is neither scalable nor a proper design pattern for controllers.

I

[2022-01-11 16:47] Jiawei0227 commented on #625
https://github.com/kubernetes/enhancements/pull/3126

[2022-01-11 16:47] mikebrow commented on #2535
@adisky I guess we have to move this to 1.24 target...

[2022-01-11 18:52] gracenng commented on #1432
Hi @xing-yang,
1.24 Enhancements Lead here. Could you please confirm that this enhancement is targeting beta for 1.24?
Thanks

[2022-01-11 22:29] xing-yang commented on #1977
/remove-lifecycle rotten

[2022-01-12 01:27] sahilvv commented on #592
@gracenng pardon my dumb question, I did mark the KEP as stable in PR https://github.com/kubernetes/enhancements/pull/2841/files. Let me know where I need to flip the status to implemented.

[2022-01-12 01:36] gracenng commented on #1491
Hi there,
1.24 Enhancements Lead here, this enhancements is going to stable for 1.24, correct? Thanks

[2022-01-12 01:42] gracenng commented on #1790
/stage beta
/tracked yes

[2022-01-12 02:38] xing-yang commented on #1491
Hi @gracenng,
The current status is Beta but off by default. The plan in 1.24 is to stay in Beta but on by default.

[2022-01-12 02:39] xing-yang commented on #1491
PR is submitted here: https://github.com/kubernetes/kubernetes/pull/103523

[2022-01-12 03:09] gracenng commented on #2067
Hi @neolit123
1.24 Enhancements Lead here, this enhancement is targeting GA in 1.24. Is that correct?
Thanks

[2022-01-12 03:21] gracenng commented on #2589
Hi @trierra
1.24 Enhancements lead here. Just double checking that you are targeting beta for this release. If so, please let me know and update the description to help the Enhancements team.
Thanks 🌷

[2022-01-12 06:15] neolit123 commented on #2067
Hi, @gracenng. The Alpha, Beta, GA stages don't really apply for this "enchancement", but given this is stage 2/4, i'd say it's more of a Beta.

[2022-01-12 06:25] gracenng commented on #592
hi @sahilvv , I could have been more clear. This line should be `implemented` instead of `implementable`

https://github.com/sahilvv/enhancements/blob/ee3a716a89c3aa0a16891447a46123bf9bd564f4/keps/sig-apps/592-ttl-after-finish/kep.yaml#L10

[2022-01-12 09:40] thesuperzapper commented on #2255
If a use-case needs non-local information, the application designer can use some other method to make the application running in the Pod aware of it, and then expose the calculated "cost" in its the `exec`/`http` probe as normal.

@ahg-g there are two obvious protection methods for this:
1. A Pod can return `0` as its "cost" allowing the ReplicaSet controller to exit early, and just kill that Pod.

[2022-01-12 09:59] adisky commented on #2535
@mikebrow updated

[2022-01-12 14:43] ahg-g commented on #2255
looks like we are simplifying one case at the expense of the other, but may be we are simplifying the more case, so I will have to get back to this with a more concrete example.

This doesn't change the asymptotic complexity, the controller still have to call on the order of number of pods before each scale down. Having the control plane calling into the workloads in general isn't something we con

[2022-01-12 18:36] aramase opened #3130 "KMS Observability"
### Enhancement Description

- One-line enhancement description (can be used as a release note): KMS-Plugin observability enhancements
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @aramase
- Responsible SIGs: sig-auth
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.24
  - Beta release target (x.y): 1.25
  - Sta

[2022-01-12 18:36] aramase commented on #3130
/sig auth

[2022-01-13 05:39] Cheers-am commented on #661
Hi,
Can we know when this is expected to deliver where STS will support PVC resize?

[2022-01-13 14:18] dgrisonnet opened #3134 "Graduate custom.metrics.k8s.io API to GA"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Graduate custom.metrics.k8s.io API to GA
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @dgrisonnet
- Responsible SIGs: sig-instrumentation
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): NA
  - Beta release target (x.y

[2022-01-13 14:18] dgrisonnet commented on #3134
/sig instrumentation

[2022-01-13 14:20] dgrisonnet opened #3135 "Graduate external.metrics.k8s.io API to GA"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Graduate external.metrics.k8s.io API to GA
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @dgrisonnet
- Responsible SIGs: sig-instrumentation
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): NA
  - Beta release target (x

[2022-01-13 14:20] dgrisonnet commented on #3135
/sig instrumentation

[2022-01-13 17:51] dashpole commented on #3135
/assign @dgrisonnet

[2022-01-13 17:51] dashpole commented on #3134
/assign @dgrisonnet

[2022-01-13 17:58] dashpole commented on #3048
/assign @shuaich
cc @dgrisonnet

[2022-01-13 18:34] deads2k opened #3136 "Beta APIs Are Off by Default"
### Beta APIs Are Off by Default

- New beta APIs will not be enabled in clusters by default. Existing beta APIs and new versions of existing beta APIs, will continue to be enabled by default.
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @deads2k
- Responsible SIGs: sig-architecture
- Enhancement target (which target equals to which milestone): 1.24
- [ ] Sta

[2022-01-14 00:36] trierra commented on #2589
hi @gracenng . I think we don't have enough time to complete all required testing by the end of January. So most likely Beta is targeting for 1.25

[2022-01-14 01:18] msau42 commented on #2589
Hi @trierra, to clarify, you have until code freeze to finish the required testing. The end of Janauary date is to declare intent.

[2022-01-14 04:13] #2749 closed

[2022-01-14 08:04] yangjunmyfm192085 commented on #1602
/cc

[2022-01-14 08:06] yangjunmyfm192085 commented on #2400
/cc

[2022-01-14 08:23] yangjunmyfm192085 commented on #3134
/cc

[2022-01-14 08:43] 249043822 commented on #3134
/cc

[2022-01-14 08:44] 249043822 commented on #3135
/cc

[2022-01-14 08:44] yangjunmyfm192085 commented on #3135
/cc

[2022-01-14 08:46] 249043822 commented on #2831
/cc

[2022-01-14 12:31] wojtek-t opened #3138 "Increase Reliability Bar"
### Increase Reliability Bar

- One-line enhancement description:  Increase the Reliability Bar
- Kubernetes Enhancement Proposal:
- Discussion Link: https://docs.google.com/document/d/1L6GdTC5REYUAqyb1Jx1goS9IEWCv1WRSxFxWqyaW_6w/edit#heading=h.afpvpo5e09y7
- Primary contact (assignee): @wojtek-t
- Responsible SIGs: sig-architecture
- Enhancement target (which target equals to which milestone): pr

[2022-01-14 12:55] soltysh opened #3140 "TimeZone support in CronJob"
## TimeZone support in CronJob

- TimeZone support in CronJob
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/3140-TimeZone-support-in-CronJob/README.md
- Discussion Link: https://docs.google.com/document/d/1LZLBGW2wRDwAfdBNHJjFfk9CFoyZPcIYGWU7R1PQ3ng/edit#heading=h.h9p5t69007xy
- Primary contact (assignee): @soltysh
- Responsible SIGs: sig-a

[2022-01-14 13:03] soltysh commented on #3140
/sig apps

[2022-01-14 13:27] RaunakShah opened #3141 "Prevent unauthorised volume mode conversion during volume restore"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Prevent unauthorised volume mode conversion during volume restore.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3141-prevent-volume-mode-conversion
- Primary contact (assignee): @RaunakShah @xing-yang
- Responsible SIGs: SIG-Storage
- Enhanc

[2022-01-14 13:28] RaunakShah commented on #3141
/sig storage

[2022-01-14 16:43] gracenng commented on #284
Hi @gnufied ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this rel

[2022-01-14 17:04] gracenng commented on #596
Hi @saad-ali  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `stable` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this

[2022-01-14 17:34] gnufied commented on #284
This enhancement is already is beta. This enhancement targets GA. I will update the description.

[2022-01-14 17:55] trierra commented on #2589
hi @msau42 , thank you for pointing that out, it looks like the code freeze is sometimes in March, in this case I believe we have enough time. So yes, let's target beta for the 1.24

[2022-01-14 19:02] ehashman commented on #2238
/remove-lifecycle rotten

[2022-01-14 19:23] #2768 closed

[2022-01-14 21:23] #2798 closed

[2022-01-14 21:37] SergeyKanzhelev commented on #2464
@amwat what is the status of this? Is there plan to fully transition sig node tests to kubetest2 in 1.24?

[2022-01-14 21:55] ehashman commented on #3048
Can we combine https://github.com/kubernetes/enhancements/issues/3135 and https://github.com/kubernetes/enhancements/issues/3134 into this KEP? I don't see any reason to do them all separately, it'll just be more paperwork.

[2022-01-14 21:57] ehashman commented on #1668
This may be superseded by https://github.com/kubernetes/enhancements/issues/3077 which has similar goals.

[2022-01-14 21:58] ehashman commented on #1753
/assign
for deprecation

[2022-01-14 22:15] ehashman commented on #2845
/stage beta
/milestone v1.24

[2022-01-14 22:33] ehashman commented on #1753
/kind deprecation
/remove-kind kep feature
/milestone v1.24

[2022-01-14 23:46] SergeyKanzhelev commented on #688
/assign

KEP document: https://github.com/kubernetes/enhancements/blob/0e4d5df19d396511fe41ed0860b0ab9b96f46a2d/keps/sig-node/688-pod-overhead/README.md

[2022-01-15 00:46] shuaich commented on #3048
Makes sense to me. Let me have a discussion with /cc @dgrisonnet on this.

[2022-01-16 05:20] gracenng commented on #127
Hi @rata ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `alpha` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the [latest template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml) has been merge

[2022-01-16 05:28] gracenng commented on #281
Hi @SergeyKanzhelev ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `removal` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable f

[2022-01-16 06:27] gracenng commented on #647
Hi @dashpole ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this re

[2022-01-16 06:57] gracenng commented on #1948
Hi @zvonkok ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `alpha` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [x] KEP status is marked as implementable for this re

[2022-01-16 07:02] gracenng commented on #1972
Hello @jackfrancis , 1.24 Enhancement Team here. We received a request for inclusion in the 1.24 release but this issue has been closed due to GA promotion in 1.20.
What's the goal for 1.24?

[2022-01-16 10:34] #515 closed

[2022-01-16 19:11] rhockenbury commented on #1491
Hi @divyenpatel @xing-yang! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `beta` for 1.24.

Here’s where this enhancement currently stands:
- [] Updated KEP file using the latest template has been merged into the k/enhancements repo. - PENDING https://github.com/kubernetes/enhancements/pull/3125
- [

[2022-01-16 19:21] rhockenbury commented on #1490
/stage stable
/tracked yes

[2022-01-16 19:30] rhockenbury commented on #1490
Hi @andyzhangx! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `stable` for 1.24.

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - PENDING https://github.com/kubernetes/enhancements/pull/3109
- [ ] KEP st

[2022-01-16 19:51] rhockenbury commented on #1790
Hi @gnufied! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `beta` for 1.24.

Here’s where this enhancement currently stands:
- [x] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` for `latest-milestone: 1.24`
- [x]

[2022-01-17 03:33] gracenng commented on #688
Hi @egernst ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `stable` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this r

[2022-01-17 03:48] gracenng commented on #2043
/stage stable

[2022-01-17 04:12] gracenng commented on #2254
Hello, 1.24 Enhancements Lead here.
Is this feature targeting stable for 1.24? Please make sure this issue description is up to date as well.

Thanks

[2022-01-17 04:51] Priyankasaggu11929 commented on #661
Hello @janetkuo @SidakM 👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for 1.24, is that correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implem

[2022-01-17 04:54] gracenng commented on #2712
/stage beta

[2022-01-17 04:59] gracenng commented on #2727
/stage beta

[2022-01-17 05:23] Priyankasaggu11929 commented on #1164
Hello @wojtek-t  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `stable` for 1.24 and it's a `deprecation` enhancement, are these correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [

[2022-01-17 05:30] Priyankasaggu11929 commented on #1287
Hello @vinaykul  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for 1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable

[2022-01-17 05:41] Priyankasaggu11929 commented on #1489
Hello @msau42, @davidz627  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `stable` for 1.24 and https://github.com/kubernetes/enhancements/pull/3124 is the latest KEP PR, are these correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest templat

[2022-01-17 05:49] Priyankasaggu11929 commented on #1495
Hello @bswartz  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for 1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable f

[2022-01-17 06:10] Priyankasaggu11929 commented on #1753
Hello @44past4  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting for `deprecation` for 1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as impl

[2022-01-17 06:19] Priyankasaggu11929 commented on #1885
Hello @andyzhangx @Jiawei0227   👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting for stage `beta` for 1.24, and https://github.com/kubernetes/enhancements/pull/3123 is the latest KEP PR, are these correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the

[2022-01-17 06:33] Priyankasaggu11929 commented on #1904
Hello @wojtek-t  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.
For note, This enhancement is targeting for stage `stable` for 1.24, (correct me if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP sta

[2022-01-17 06:47] Priyankasaggu11929 commented on #1977
Hello @xing-yang  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting for stage `beta` for 1.24, and https://github.com/kubernetes/enhancements/pull/1995 is the latest KEP PR, are these correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest templat

[2022-01-17 06:48] minbaev opened #3148 "Dry-run mode for HPA"
### Enhancement Description

- Add dry-run mode feature for Horizontal Pod Autoscaler. This feature is useful when one wants to run HPA and see how it would have autoscaled based on various metrics. More discussion provided in this issue:
 https://github.com/kubernetes/kubernetes/issues/106765

- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/pull/3149
- Discussion Lin

[2022-01-17 06:49] minbaev commented on #3148
/sig autoscaling

[2022-01-17 06:53] Priyankasaggu11929 commented on #2008
Hello @adrianreber  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting for stage `alpha` for 1.24, is this correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as

[2022-01-17 07:06] wojtek-t commented on #1904
Updated issue description - other than that it sounds fine.

[2022-01-17 07:07] Priyankasaggu11929 commented on #2043
Hello @swatisehgal @AlexeyPerevalov  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. For note, This enhancement is targeting for stage `stable` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements

[2022-01-17 07:13] Priyankasaggu11929 commented on #2133
Hello @andrewsykim  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. For note, This enhancement is targeting for stage `beta` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP st

[2022-01-17 07:20] Priyankasaggu11929 commented on #2258
Hello @aravindhp  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

This enhancement is targeting for stage `beta` for 1.24, is that correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as `i

[2022-01-17 07:29] Priyankasaggu11929 commented on #2268
Hello @yastij, @xing-yang!  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

This enhancement is targeting for stage `beta` for 1.24, is that correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is ma

[2022-01-17 07:37] Priyankasaggu11929 commented on #2915
Hello @neolit123  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `beta` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP sta

[2022-01-17 07:54] neolit123 commented on #2915
Hi. PRR is not required for kubeadm KEPs. You confirm that with the PRR
reviewers and/or enhancement leads.

[2022-01-17 09:19] thesuperzapper commented on #2255
@ahg-g (and others watching), I have just written up a pretty comprehensive proposal in https://github.com/kubernetes/kubernetes/issues/107598, that proposes an extension to the `ReplicaSet` and `Deployment` spec for configuring down-scaling behavior.

Within that proposal, I have fixed your issues with my "cost probe" idea from https://github.com/kubernetes/enhancements/issues/2255#issuecomment-9

[2022-01-17 11:12] wojtek-t commented on #1164
@Priyankasaggu11929 - the PR to update the KEP is already out-for-review: #3118 (this should address the remaining bits from your above list).

[2022-01-17 12:51] Jiawei0227 commented on #2589
I think it is appropriate to target beta but off by default. What do you think? It requires more testing but are less risky to directly be turned on by default.

[2022-01-17 13:16] Jiawei0227 commented on #1885
@andyzhangx Can you help to edit the issue enhancement target?

The migration feature here is a little bit complicated than other features. The Azurefile csi migration is part of the overall CSI migration feature, and we already linked it to the original KEP here: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/625-csi-migration

The Azurefile PR states that:

[code]

We ha

[2022-01-17 13:22] swatisehgal commented on #2043
Hi @Priyankasaggu11929, due to capacity constraints we are not in a position to commit to adding podresource API watch support in 1.24 release and would postpone to 1.25 release.
Since watch support is an important capability, we should wait for that support to be enabled before graduating this API to stable.

FYI: @fromanirh @AlexeyPerevalov

[2022-01-17 13:26] Jiawei0227 commented on #1491
Hey @rhockenbury

The migration feature here is a little bit complicated than other features. The vsphere csi migration is part of the overall CSI migration feature, and we already linked it to the original KEP here: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/625-csi-migration
The original KEP has the correct format and the production readiness review. Everything for t

[2022-01-17 13:30] vinaykul commented on #1287
Done. PR https://github.com/kubernetes/enhancements/pull/3153

[2022-01-17 14:13] andyzhangx commented on #1885
@Jiawei0227 thanks a lot, I have set as `Stable release target (x.y) 1.25`

[2022-01-17 15:17] pohly commented on #1668
Perhaps not superseded because nothing in that proposal will be specifically about trace IDs. But it should indeed provide the necessary logging infrastructure for this enhancement here.

[2022-01-17 15:39] LorbusChris commented on #2258
@Priyankasaggu11929 I believe this is targeting `alpha` for 1.24 now.

[2022-01-17 16:15] dgrisonnet commented on #3048
Since all the APIs require some changes before graduating I don't think we should merge the KEPs as it will only make it harder for the reviewers.

[2022-01-17 16:57] adrianreber commented on #2008
@Priyankasaggu11929 Thanks for the KEP feedback. I tried to update the KEP to address the open issues you listed.

[2022-01-18 01:34] andyzhangx commented on #1490
@davidz627 could you mark the target as `1.25 as GA` in this issue? Thanks.

[2022-01-18 01:35] andyzhangx commented on #1490
@davidz627 BTW, you will submit a PR to mark the GA status for all cloud provider drivers in k/k, right?

[2022-01-18 02:41] KobayashiD27 commented on #1668
to achieve our goal, we planned this 2 steps.

contextual logging #3077 helps "adding context information to logs" and propagates trace context in one component.
And we should focus on the propagation between a component and other component in our KEP.

This is my understanding about the positions of our KEP and #3078. Does this fit your (and SIG-instrumentation's) understanding? @dashpole @pohly

[2022-01-18 05:59] Priyankasaggu11929 commented on #1164
Thanks @wojtek-t for the update! 🙂

[2022-01-18 06:11] Priyankasaggu11929 commented on #1885
used as as described in its parent KEP. For all other contents, please refer to the parent KEP.

Hello @Jiawei0227, thanks so much for the clarification ^. That helps! 🙂

[2022-01-18 06:18] Priyankasaggu11929 commented on #2043
Thanks for the update @swatisehgal.

I'll remove the 1.24 milestone from the issue & update the enhancement tracking sheet with the same. Thanks once again! 🙂

[2022-01-18 06:22] Priyankasaggu11929 commented on #1287
Thanks so much for the update @vinaykul!

[2022-01-18 06:25] Priyankasaggu11929 commented on #2258
Thanks @LorbusChris for the clarification!

For note, I'll update the enhancement's target stage to `alpha` in the 1.24 enhancements tracking sheet.

[2022-01-18 06:28] Priyankasaggu11929 commented on #2008
@adrianreber, thanks so much for the quickly updates the PR. 🚀

[2022-01-18 10:36] aojea opened #3156 "Apiserver HTTP/3"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Apiserver supports HTTP/3
- Kubernetes Enhancement Proposal:
- Discussion Link: https://groups.google.com/g/kubernetes-sig-api-machinery/c/eFUmEblz3hE/m/lII9ee81AQAJ
- Primary contact (assignee): @aojea
- Responsible SIGs: sig-api-machinery
- Enhancement target (which target equals to which milestone):

[2022-01-18 10:36] aojea commented on #3156
/sig api-machinery

[2022-01-18 12:22] zvonkok commented on #1948
@gracenng Yes that is correct (1.24), unfortunately when I took over the enhancement I should have created an "own" issue, this one I cannot edit.

[2022-01-18 12:54] p0lyn0mial opened #3157 "Allow informers for getting a stream of data instead of chunking"
### Enhancement Description

- One-line enhancement description (can be used as a release note): informers can get a stream of data to prime the caches
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3142
- Discussion Link:
- Primary contact (assignee): @p0lyn0mial
- Responsible SIGs: sig-apimachinery, sig-scalability
- Enhancement target (which target equals to

[2022-01-18 14:42] gracenng commented on #2221
Hi @SergeyKanzhelev  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `stable` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable f

[2022-01-18 14:49] soltysh commented on #1591
/reopen
/remove-lifecycle rotten
this is in beta currently with a plan to GA in 1.24

[2022-01-18 14:49] soltysh commented on #1591
/milestone clear

[2022-01-18 14:50] gracenng commented on #2763
Hi @vinayakankugoyal  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo - this will be KEP file with test plan filled o

[2022-01-18 14:55] gracenng commented on #1441
Hi @soltysh  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [x] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [x] KEP status is marked as implementable for this re

[2022-01-18 15:05] gracenng commented on #3141
Hi @RaunakShah  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `alpha` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for thi

[2022-01-18 16:26] vinayakankugoyal commented on #2763
Hello @gracenng - This KEP is targeting `alpha` for `1.24`. I have updated the description to reflect the current status. Thanks!

[2022-01-18 17:45] verb commented on #1441
Hi @gracenng, KEP author here. This feature is already in beta. We revised the KEP last cycle to address user feedback, and we're implementing it this cycle. The feature is not graduating in 1.24. Thanks!

[2022-01-18 19:04] rata commented on #127
@gracenng We discussed it today in SIG-node, and we aim for 1.24. We might as well create a new issue and link to the new KEP. Will keep you posted, of course!

Thanks! :)

[2022-01-18 19:53] trierra commented on #2589
@Jiawei0227 sounds good to me

[2022-01-19 00:54] SergeyKanzhelev commented on #1972
/reopen
/assign

following up on https://kubernetes.slack.com/archives/C0BP8PW9G/p1642316499054100. I'll send the PR proposing to update the KEP status later today.

[2022-01-19 02:06] xing-yang commented on #1487
The new KEP is here: https://github.com/kubernetes/enhancements/pull/3108

[2022-01-19 02:16] gracenng commented on #1441
Hi @verb , does this mean the feature will opt-in for the 1.24 release but remain in `beta`

[2022-01-19 06:59] pacoxu commented on #1867
DisableAcceleratorUsageMetrics is beta since 1.20. (Now it is 1.24 release cycle.)
Do we have a plan to mark the feature gate as GA?
I have a task https://github.com/kubernetes/kubernetes/issues/99183 to make a similar feature gate to disable process metrics from cadvisor.

[2022-01-19 07:55] wojtek-t commented on #1164
@Priyankasaggu11929 - that PR was just approved. Let me know if there is anything else missing for the feature freeze here.

[2022-01-19 08:00] Priyankasaggu11929 commented on #1164
@wojtek-t, thanks for the update. With the KEP PR merged, this enhancement is ready to go for the enhancements freeze. 🙂

[2022-01-19 11:14] zvonkok opened #3162 "Device Plugin API feature: Add Deallocate and PostStopContainer to device plugin API"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add Deallocate and PostStopContainer to device plugin API
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3080
- Discussion Link: See enhancement for related issues and PRs
- Primary contact (assignee): @zvonkok
- Responsible SIGs: sig-node
- Enhancement target (whic

[2022-01-19 11:15] zvonkok commented on #1948
@gracenng Ok created a new issue to track the enhancement https://github.com/kubernetes/enhancements/issues/3162

[2022-01-19 11:15] zvonkok commented on #3162
/sig node

[2022-01-19 11:16] zvonkok commented on #3162
Updated issue/enhancement pair.

[2022-01-19 11:45] MadhavJivrajani opened #3163 "New Pod Condition for marking pods that have ephemeral containers created"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Introduce a new pod condition for pods that have epithermal containers created and add this condition to such pods.
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @MadhavJivrajani
- Responsible SIGs: node
- Enhancement target (which target equals to which milestone)

[2022-01-19 11:45] MadhavJivrajani commented on #3163
/sig node

[2022-01-19 11:47] MadhavJivrajani commented on #3163
Small note to the enhancements team:
This is not meant for the current release cycle, I'm opening this up to help drive conversation around this!
I apologize in advance if I've misunderstood anything, please lmk if there is something I should change and I will do it.

I will open up a PR and discuss it in a node meeting that happens post enhancement freeze for the 1.24 cycle, post which I will upd

[2022-01-19 11:47] MadhavJivrajani commented on #3163
/cc @verb

[2022-01-19 12:16] ball-hayden commented on #2980
/remove-lifecycle rotten

@CyberSec77 are you able to help with this at all?
It is really misleading, particularly in the context in the issue description.

[2022-01-19 12:52] encodeflush commented on #1432
Hello @xing-yang

v1.24 Enhancements team here.

Just checking in as we approach enhancements freeze on 18:00 pm PT on Thursday Feb 3rd, 2022. This enhancement is targeting beta for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable for t

[2022-01-19 13:11] encodeflush commented on #1488
Hello @mattcary

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `stable` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
      -  KEP file [PR](https://github.com/k

[2022-01-19 13:49] encodeflush commented on #1710
Hello @jsafrane

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable

[2022-01-19 14:01] verb commented on #1441
Hi @gracenng, I'm sensing that this isn't fitting into the standard procedure. That's not my intention, so I'm probably not using the correct process/terminology. I'm sorry that I don't know what "opt-in" means in this context.

For the 1.24 cycle we would like to:

1. Merge PRs that implement features described in the KEP
2. Have those changes released in kubectl version 1.24.
3. remain at the ex

[2022-01-19 14:22] encodeflush commented on #2371
Hello @haircommander

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementa

[2022-01-19 14:45] dobsonj commented on #1682
Done, thanks! https://github.com/kubernetes/enhancements/pull/3145
/close

[2022-01-19 14:45] #1682 closed

[2022-01-19 15:08] #357 closed

[2022-01-19 15:08] #2500 closed

[2022-01-19 15:08] #2502 closed

[2022-01-19 15:13] encodeflush commented on #2589
Hello @trierra

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable fo

[2022-01-19 15:22] encodeflush commented on #2644
Hello @deepakkinni

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementabl

[2022-01-19 16:18] mattcary commented on #1488
Thanks for the ping, Hossein.

We went on-by-default (but still beta) in 1.23. We also switched this on in
GKE 1.22, but that version hasn't seen a lot of use yet. So I think I want
this to bake for another minor release (ie go stable in 1.25).

I'll work with Jiawei on the KEP.

@Jiawei does this make sense to you?

-- Matt

On Wed, Jan 19, 2022 at 5:11 AM Hossein Salahi ***@***.***>
wrote:

[2022-01-19 17:52] soltysh commented on #2590
/milestone v1.24

[2022-01-19 20:20] liggitt commented on #2579
plan is to continue beta work for 1.24 and target GA in 1.25

[2022-01-19 21:20] msau42 commented on #1490
@andyzhangx can you confirm if you want to target GA in 1.24 or 1.25?

[2022-01-19 22:05] ehashman commented on #2371
@encodeflush this is going to beta, I don't think this is ready: https://github.com/kubernetes/enhancements/blob/35c768227c6d6dde20c6ca7084abb8d00b9e4d82/keps/sig-node/2371-cri-pod-container-stats/kep.yaml#L21-L22

/stage beta

[2022-01-19 22:11] mrunalp commented on #2254
We would want to gather more feedback before graduating this.

[2022-01-19 23:59] Jiawei0227 commented on #1488
I already had the KEP PR out https://github.com/kubernetes/enhancements/pull/3106

Are you suggesting gce-pd to go GA in next release?
/cc @msau42

[2022-01-20 00:04] Jiawei0227 commented on #1488
Hey @encodeflush

The migration feature here is a little bit complicated than other features. The gce pd csi migration is part of the overall CSI migration feature, and we already linked it to the original KEP here. So the PRR, test plan and everything was included in the following KEP already:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/625-csi-migration

The GCE PD P

[2022-01-20 01:47] andyzhangx commented on #1490
@msau42 Azure **disk** target GA in 1.24

[2022-01-20 05:20] nikhita commented on #2590
/unassign @ykakarap
@ykakarap won't have the bandwidth to work on this right now, but will help on the sidelines!

/assign @MadhavJivrajani

[2022-01-20 06:02] gracenng commented on #1441
Hi @verb , "opt-in" means that you would like the feature to be released in the 1.24 version. All good here!

PS: If you could list the code PR's here, it'd be very helpful for the enhancements team. Thanks!

[2022-01-20 09:52] encodeflush commented on #2681
Hello @wzshiming

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
       - The KEP file [PR](https://github.co

[2022-01-20 10:06] encodeflush commented on #2727
Hello @SergeyKanzhelev

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implemen

[2022-01-20 10:34] encodeflush commented on #2845
Hello @serathius

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24,

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable for this release

[2022-01-20 10:41] encodeflush commented on #2831
Hello @sallyom

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for v1.24,

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
      - KEP file [PR](https://github.com/kubernetes/enhancemen

[2022-01-20 10:41] serathius commented on #2845
@pohly with deprecation done in v1.23 most work for Beta is done. Based on KEP I have found two goals for Beta:
* Go-runner project is well maintained and documented
* Documentation on migrating off klog flags is publicly available

Added them to top issue so we can track, however I think they are mostly done. Do you think that there is anything left to do?

[2022-01-20 11:33] konryd opened #3166 "Migrating and deprecating storage versions"
### Migrating and deprecating storage versions

- One-line enhancement description: Introduces migration mechanism and deprecation policy for storage versions
- Kubernetes Enhancement Proposal: [draft](https://docs.google.com/document/d/11DN-dKcN7jEY1kvi8ZjlYjOCxK4FLKH_AsUL4TvFZqg/edit?usp=sharing) (NOTE: not KEP-formatted yet)
- Discussion Link: Previous discussions were in-person and/or using no

[2022-01-20 11:33] konryd commented on #3166
/sig sig-api-machinery

[2022-01-20 11:34] konryd commented on #3166
/sig api-machinery

[2022-01-20 11:44] saschagrunert commented on #2413
I think it would be good to graduate in v1.25 and skip it for this cycle.

[2022-01-20 12:12] pohly commented on #2845
It's now here: https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base/logs/kube-log-runner

For that we have: https://kubernetes.io/docs/concepts/cluster-administration/system-logs/#klog

There's also a talk proposal pending for KubeCon EU.

Overall I think we are done.

[2022-01-20 13:54] sallyom commented on #2831
@encodeflush thanks for the check-in - I'm not sure what the production readiness review is, I don't see it on the [enhancements README](https://github.com/kubernetes/enhancements) can you point me to the steps to get that done? Thanks again. Also, am I meant to check those off as they are done or are they for someone else to decide?

[2022-01-20 13:56] gracenng commented on #2400
Hi @ehashman  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24.

The status of this enhancement is track as `tracked` , no action is required for Enhancements Freeze.
Thanks!

[2022-01-20 14:00] gracenng commented on #2535
Hi @mikebrow  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo -- this will be kep with `latest-milestone: 1.24`
- [ ]

[2022-01-20 14:23] gracenng commented on #2799
Hi @zshihang , 1.24 Enhancements Lead here. Will this enhancement (both features) be in alpha for 1.24?
Thanks

[2022-01-20 14:32] gracenng commented on #3130
Hi @aramase  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `alpha` for 1.24
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the [latest template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml) has been merged into the k/en

[2022-01-20 14:56] gracenng commented on #2784
Hi @enj ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `stable` for 1.24
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release with `latest-mil

[2022-01-20 15:27] p0lyn0mial commented on #3157
Hi @gracenng! Many thanks for the heads-up. Could you please double-check the last point? The KEP has the `Production Readiness Review Questionnaire`. In addition to that, I have filled the required bits for the alpha version - it just hasn't been reviewed yet.

[2022-01-20 16:18] rata commented on #127
@gracenng Talking more with @giuseppe we decided we won't make it for 1.24. We will aim for 1.25 instead. Thanks anyways for reaching out!

[2022-01-20 17:12] zshihang commented on #2799
LegacyServiceAccountTokenNoAutoGeneration would be beta in 1.24; LegacyServiceAccountTokenTracking and LegacyServiceAccountTokenCleanUp would be alpha in 1.24.

[2022-01-20 18:34] ehashman commented on #2845
@pohly @serathius can you please open a PR to bump milestone to 1.24? I think @encodeflush was looking at last release's updates.

https://github.com/kubernetes/enhancements/blob/c0e42f4342d083576687c896d02fecff5418a699/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/kep.yaml#L19-L20

[2022-01-20 19:08] rhockenbury commented on #1491
Hi @Jiawei0227. Thank you for the clarification.  It looks like (from https://github.com/kubernetes/enhancements/pull/3125/files) the intention is to submit both a [KEP.yaml](https://github.com/kubernetes/enhancements/pull/3125/files#diff-4bcc79234608db1ba6ea941352495d6b3ca1700eb6f980d89c3d0c4bb832f81a) and a [PRR](https://github.com/kubernetes/enhancements/pull/3125/files#diff-ddca9716798826e8866

[2022-01-20 19:17] rhockenbury commented on #2413
Hi @saschagrunert and @mrunalp! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd.

Per the previous comment, I have removed this KEP from enhancements tracking for the v1.24 cycle.

[2022-01-20 19:35] rhockenbury commented on #2578
Hi @jayunit100! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `alpha` for 1.24.

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - INCLUDED IN #2975
- [ ] KEP status is marked as `implementable` for `lates

[2022-01-20 19:39] danwinship commented on #3015
/remove-lifecycle stale

[2022-01-20 19:46] rhockenbury commented on #2712
Hi @mrunalp! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd.  I believe this enhancement is targeting `beta` for 1.24 - is that correct?

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` for `

[2022-01-20 19:57] rhockenbury commented on #2802
Hi @ravisantoshgudimetla! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd.  This enhancement is targeting `beta` for 1.24.

Here’s where this enhancement currently stands:
- [x] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [x] KEP status is marked as `implementable` for `latest-mileston

[2022-01-20 20:03] msau42 commented on #2589
@trierra can you help send out the update to the KEP?

[2022-01-20 20:03] rhockenbury commented on #2823
Hi @SaranBalaji90! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. I believe this enhancement is targeting `alpha` for 1.24 - is that correct?

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - INCLUDED IN PR #2811
- [ ] KEP status is ma

[2022-01-20 20:08] msau42 commented on #1490
@andyzhangx I think it's better if you submit the PR after you have finished all the necessary testing and other GA requirements.

[2022-01-20 20:10] rhockenbury commented on #2837
Hi @n4j! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. I believe this enhancement is targeting `alpha` for 1.24 - is that correct?

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - INCLUDED IN PR #1592
- [ ] KEP status is marked as `i

[2022-01-20 20:21] rhockenbury commented on #2885
Hi @kevindelgado! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `beta` for 1.24.

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - INCLUDED IN PR #3081
- [ ] KEP status is marked as `implementable` for `l

[2022-01-20 20:21] mengqiy commented on #2985
/remove-lifecycle stale

[2022-01-20 20:26] rhockenbury commented on #3136
Hi @deads2k! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `stable` for 1.24.

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - INCLUDED IN PR #3137
- [ ] KEP status is marked as `implementable` for `late

[2022-01-20 20:45] rhockenbury commented on #2067
Hi @neolit123 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd.  This enhancement is targeting "beta" for 1.24 (using beta as the rough equivalent of stage 2/4).

Here’s where this enhancement currently stands:
- [x] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked a

[2022-01-20 20:50] neolit123 commented on #2067
hi @rhockenbury as i've mentioned above:
https://github.com/kubernetes/enhancements/issues/2067#issuecomment-1010675470

this change does not follow the alpha-beta-GA process. also currently if we add `latest-milestone: 1.24` (mechanical problem with the YAML) it will start requiring a PRR and a PRR is not needed for this change or kubeadm changes in general.
you can confirm that with the release

[2022-01-20 21:01] trierra commented on #2589
@msau42 @encodeflush sure, will update it by early next week

[2022-01-20 21:04] rhockenbury commented on #2067
Hi @neolit123 - It does not require a PRR but it still requires someone from the PRR team to rubberstamp it.  This was confirmed by the PRR team in this [Slack thread](https://kubernetes.slack.com/archives/CPNHUMN74/p1642526649017500?thread_ts=1642427639.015900&cid=CPNHUMN74).

[2022-01-20 21:08] rhockenbury commented on #2578
Thanks all! With #2975 merged, I'm moving this to `tracked` for enhancement freeze.

[2022-01-20 22:10] rhockenbury commented on #3085
Hi @ddebroy! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `alpha` for 1.24.

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - INCLUDED IN PR #3087
- [ ] KEP status is marked as `implementable` for `lates

[2022-01-20 22:14] rhockenbury commented on #3107
Hi @humblec! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `alpha` for 1.24.

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` for `latest-milestone: 1.24`
- [

[2022-01-20 22:24] thockin commented on #1672
Waiting to GA this with its deps

[2022-01-21 01:54] jayunit100 commented on #2578
Thanks !

[2022-01-21 02:48] andyzhangx commented on #1490
@msau42 here is the PR: https://github.com/kubernetes/kubernetes/pull/107681

[2022-01-21 07:57] pohly commented on #2845
https://github.com/kubernetes/enhancements/pull/3170 bumps the milestone.

[2022-01-21 09:23] encodeflush commented on #2872
Hello @adisky

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for v1.24,

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
      - KEP file [PR](https://github.com/kubernetes/enhancement

[2022-01-21 09:39] encodeflush commented on #2923
Hello @humblec

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24,

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable for this release
-

[2022-01-21 09:57] encodeflush commented on #2924
Hello @humblec

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24,

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release
-

[2022-01-21 10:03] encodeflush commented on #3077
Hello @pohly

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for v1.24,

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release
- [

[2022-01-21 11:08] neolit123 commented on #2067
kubeadm has been considered as "not core" and PRR has been claimed as not needed for it.
in reality, we already carefully review our self how the tool changes with production in mind.

PRR rubberstamping feels like a bureaucracy complication that is pointless.
we put files in https://github.com/kubernetes/enhancements/tree/master/keps/prod-readiness/sig-cluster-lifecycle and a PRR is not even done

[2022-01-21 12:27] soltysh commented on #3017
/milestone v1.24

[2022-01-21 13:48] neolit123 commented on #2067
sent the following PRs to exclude kubeadm from PRR:
https://github.com/kubernetes/enhancements/pull/3171
https://github.com/kubernetes/sig-release/pull/1831

[2022-01-21 13:59] deads2k commented on #2876
related enhancement https://github.com/kubernetes/enhancements/pull/3160

[2022-01-21 14:35] jsafrane commented on #1710
I am updating the KEP (quite a lot) in #3172.

[2022-01-21 16:07] justaugustus commented on #2311
This is coming up every cycle...

/reopen
/remove-lifecycle rotten
/lifecycle frozen
ref: https://kubernetes.slack.com/archives/CPNHUMN74/p1642427639015900

[2022-01-21 16:07] justaugustus commented on #2311
cc: @kubernetes/enhancements @kubernetes/release-team @kubernetes/production-readiness

[2022-01-21 19:32] Jiawei0227 commented on #2923
Hey @encodeflush

Updated KEP file using the latest template has been merged into the k/enhancements repo.

The migration feature here is a little bit complicated than other features. The ceph rbd csi migration is part of the overall CSI migration feature, and we already linked it to the original KEP here. So the PRR, test plan and everything was included in the following KEP already:

https://git

[2022-01-21 21:21] andrewsykim commented on #2086
@MaxRenaud are you able to make the v1.24 updates for this KEP? I think it's just a matter of updating milestones unless we plan to promote the feature to GA in v1.24. Let me know how I can help with that

[2022-01-21 21:47] thockin commented on #2086
Note the procedure - there is a deadline for KEP changes, which is NOT
the same as the deadline for implementing those changes. :)

On Fri, Jan 21, 2022 at 1:21 PM Andrew Sy Kim ***@***.***> wrote:

[2022-01-22 02:38] gracenng commented on #3157
Hi @p0lyn0mial,
Thanks for the reply. Your PRR Questionaire in the KEP needs to be approved by the PRR team, which will result in a file in
https://github.com/kubernetes/enhancements/tree/master/keps/prod-readiness/
Your sig has not made a folder there yet, please check out the format.

Regarding your second point, I am tracking your KEP files and the first bullet will be checked when the PR is me

[2022-01-22 02:45] gracenng commented on #2799
**Cross posted in PR**
Hi @zshihang ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. I'll mark this as `beta` while awaiting your confirmation
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been **merged** into the k/enhancements repo #2800
- [x] KEP status is marked as i

[2022-01-22 02:48] gracenng commented on #2254
I've removed this enhancements from 1.24 milestone. Thanks

[2022-01-22 03:25] gracenng commented on #2214
Hi @alculquicondor  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `stable` for 1.24
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo -- #3113
- [x] KEP status is marked as implementable for this rele

[2022-01-22 03:31] gracenng commented on #2879
Hi @alculquicondor  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been **merged** into the k/enhancements repo.
- [x] KEP status is marked as implementable for this release wi

[2022-01-22 03:34] gracenng commented on #1441
Hi @verb , the Enhancements team received 2 KEP records for this issue. Could you please confirm if it needs docs or not?
Thanks :D
![image](https://user-images.githubusercontent.com/42276283/150623273-f5f14968-6768-4bb6-867d-7260e95c5781.png)

[2022-01-22 03:38] #2890 closed

[2022-01-22 08:43] sahilvv commented on #592
@gracenng above PR#3147 is merged. I am not sure how to close the issue as I don't see that as an option.

[2022-01-22 18:03] gracenng commented on #592
Done, thanks

[2022-01-22 18:03] #592 closed

[2022-01-23 20:35] danwinship opened #3178 "Cleaning up IPTables Chain Ownership"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Clean up the IPTables chain ownership tangle between kubelet and kube-proxy
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/3178-iptables-cleanup/
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/82125, more recently https://g

[2022-01-23 20:39] danwinship commented on #3178
/sig network

[2022-01-24 04:48] Priyankasaggu11929 commented on #1753
@ehashman, Thanks so much for the clarification on PRR bit above ^ .

With this, I will update the status of this enhancement to `Tracked` in the tracking sheet. It is all good for the upcoming 1.24 enhancements freeze. 🚀

[2022-01-24 04:59] Priyankasaggu11929 commented on #2915
@neolit123, thanks for pointing towards the non requirement of PRR questionnaire for this enhancement.

For note, supporting discussions here:
- [Kubernetes Slack thread](https://kubernetes.slack.com/archives/CPNHUMN74/p1642427639015900)
- https://github.com/kubernetes/sig-release/pull/1831

With the PRR bit clarified now, this enhancement is ready for the upcoming 1.24 enhancements freeze. I'll u

[2022-01-24 05:03] Priyankasaggu11929 commented on #3140
Hello @soltysh  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP stat

[2022-01-24 05:12] Priyankasaggu11929 commented on #2232
Hello @adtac  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP statu

[2022-01-24 07:29] klueska commented on #2902
Why was this added to the 1.24 milestone? All work for it was completed in 1.23.

[2022-01-24 07:30] klueska commented on #2902
This feature will not be graduating to beta in 1.24. I have updated the description to bump beta graduation to 1.25.

[2022-01-24 10:59] wojtek-t commented on #1672
@thockin - this didn't even reach beta now (although I think we're missing some scale-related knowledge about this, I will follow up on this)

[2022-01-24 11:42] verb commented on #1441
Hi @gracenng, we'll need docs. Thanks!

[2022-01-24 12:55] ahg-g commented on #2232
Hi, KEP for stable graduation is already merged: https://github.com/kubernetes/enhancements/pull/3115

[2022-01-24 15:40] ahg-g commented on #3101
/milestone v1.24

[2022-01-24 19:49] zvonkok commented on #3162
I need to adress some comments. Update coming tomorrow.

[2022-01-25 00:34] #2702 closed

[2022-01-25 09:18] encodeflush commented on #2551
Hello @rikatz

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for v1.24,

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release
-

[2022-01-25 17:19] lauralorenz commented on #2149
/remove-lifecycle stale

[2022-01-25 18:26] jayunit100 opened #3182 "Add service-lb test coverage to windows advanced networking in operational readiness"
This is a minor upgrade to the #2975 KEP, wherein we'll incorporate some aspect of https://github.com/K8sbykeshed/k8s-service-validator or sig-network taggest `service...` tests to confirm kube-proxy behaviour in a granular way.

[2022-01-25 18:27] jayunit100 commented on #3182
/good-first-issue

[2022-01-25 19:58] liggitt commented on #2885
@rhockenbury #3081 is merged, can you confirm this is set for enhancements freeze?

[2022-01-25 21:46] haircommander commented on #2371
https://github.com/kubernetes/enhancements/pull/3003 updates to beta for 1.24, along with some other pieces

[2022-01-25 23:08] jiahuif commented on #2436
/remove-lifecycle rotten

[2022-01-26 14:17] Priyankasaggu11929 commented on #2804
Hello @ravisantoshgudimetla  @soltysh  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancemen

[2022-01-26 16:30] Priyankasaggu11929 commented on #3031
Hello @saschagrunert  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KE

[2022-01-26 17:56] ahg-g commented on #3022
/milestone v1.24

[2022-01-26 17:59] ahg-g commented on #902
/milestone v1.24

[2022-01-26 18:52] ehashman commented on #2902
/milestone clear

[2022-01-26 20:06] ahg-g commented on #3094
/milestone v1.24

[2022-01-26 20:12] trierra commented on #2589
KEP update PR https://github.com/kubernetes/enhancements/pull/3187

[2022-01-26 21:33] thockin commented on #3178
This is tagged for  1.25 - is that right?

[2022-01-26 22:05] bswartz commented on #1495
Sorry for slow response. Yes, this is targeting beta for 1.24. I know I need to update the version for the KEP.

[2022-01-27 02:09] rhockenbury commented on #1490
I see that #3109 has been merged.  I have updated the status to `tracked` for enhancement freeze.

[2022-01-27 02:12] rhockenbury commented on #1491
I see that #3125 is merged.  I'm updating the status to `tracked` for enhancement freeze.

[2022-01-27 02:19] rhockenbury commented on #2712
Let me know if there are any updates on whether this is planned for `beta` for v1.24.

[2022-01-27 02:25] rhockenbury commented on #2885
Yes, all set!  I have updated the status to `tracked` for enhancement freeze.

[2022-01-27 02:44] rhockenbury commented on #2067
From the [Slack thread](https://kubernetes.slack.com/archives/CPNHUMN74/p1642427639015900), it feels like there is general agreement with not requiring a PRR for kubeadm.  I'll mark this as `tracked` for enhancement freeze.

[2022-01-27 04:38] Priyankasaggu11929 commented on #1495
Thanks so much for the update, @bswartz.

I'm just checking in again, as we approach the 1.24 enhancements freeze in a week now, on **`Thursday, February 3rd, 2022 at 18:00 PM PT`**.

With the above change, this enhancement would be ready for the upcoming enhancements freeze. Currently, the status is still `at risk`.

Could you also please link the PR for the above changes in the issue. I would ke

[2022-01-27 05:14] mrunalp commented on #2712
Hi yes we want to move this to beta. I will open a PR to update tomorrow.

[2022-01-27 08:37] thesuperzapper opened #3189 "Deployment/ReplicaSet Downscale Pod Picker"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
    - Extend Deployments/ReplicaSets with a `downscalePodPicker` field that specifies a user-provided REST API to help decide which Pods are removed when `replicas` is decreased.
- Kubernetes Enhancement Proposal:
   - https://github.com/kubernetes/enhancements/pull/3190
- Discussion Link:
   - https:/

[2022-01-27 08:37] thesuperzapper commented on #3189
/sig apps

[2022-01-27 09:06] thesuperzapper commented on #2255
Hi All, I have now raised [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189), which takes lots of the discussion from my proposal in https://github.com/kubernetes/kubernetes/issues/107598, and simplifies it into a single change.

Extend Deployments/ReplicaSets with a `downscalePodPicker` field that specifies a user-provided REST API to help decide which Pods are removed when `repli

[2022-01-27 09:42] kerthcet commented on #3094
Tip: When we time to upgrade this to Beta, don't forget this advices.  @kerthcet https://github.com/kubernetes/enhancements/pull/3105#discussion_r788736845

[2022-01-27 10:28] Priyankasaggu11929 commented on #902
Hello @denkensk 👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP sta

[2022-01-27 10:36] Priyankasaggu11929 commented on #2249
Hello @ahg-g 👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status

[2022-01-27 10:43] Priyankasaggu11929 commented on #3022
Hello @sanposhiho 👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP st

[2022-01-27 10:48] Priyankasaggu11929 commented on #3094
Hello @kerthcet  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP sta

[2022-01-27 10:52] Priyankasaggu11929 commented on #3101
Hello @ahmad-diaa  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, this enhancement is targeting for stage `alpha` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP s

[2022-01-27 11:13] Priyankasaggu11929 commented on #2436
Hello @jiahuif  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, this enhancement is targeting for stage `stable` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP sta

[2022-01-27 11:14] Priyankasaggu11929 commented on #2436
/milestone v1.24

[2022-01-27 11:22] Priyankasaggu11929 commented on #2887
Hello @jiahuif  👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

For note, this enhancement is targeting for stage `beta` for 1.24 (correct me, if otherwise)

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP statu

[2022-01-27 11:23] Priyankasaggu11929 commented on #2887
/milestone v1.24

[2022-01-27 12:09] Priyankasaggu11929 commented on #661
Hello @shalini-b @SidakM-zz @janetkuo 👋

I'm checking in once again, as we approach the 1.24 enhancements freeze next week, on **`Thursday, February 3rd, 2022 at 18:00 PM PT`**.

Currently the status of the enhancement is `at risk`.

Looks like, for this enhancement to be tracked into the 1.24 release, it would require updating the following open KEP PR to add a PRR review file, and getting it mer

[2022-01-27 12:55] Priyankasaggu11929 commented on #1885
All of the above criteria are satisfied now that the KEP PR https://github.com/kubernetes/enhancements/pull/3123 has been merged. This enhancement is ready for the upcoming 1.24 enhancements freeze. 🚀

For note, the status of this enhancement is now tracked now. Thank you so much!

[2022-01-27 14:20] Priyankasaggu11929 commented on #1287
All of the above criteria are satisfied now that the KEP PR https://github.com/kubernetes/enhancements/pull/3153 has been merged. This enhancement is ready for the upcoming 1.24 enhancements freeze. 🚀

For note, the status of this enhancement is now `tracked` now. Thank you so much!

[2022-01-27 14:22] Priyankasaggu11929 commented on #2258
All of the above criteria are satisfied now that the KEP PR https://github.com/kubernetes/enhancements/pull/3154 has been merged. This enhancement is ready for the upcoming 1.24 enhancements freeze. 🚀

For note, the status of this enhancement is now `tracked`. Thank you so much!

[2022-01-27 14:46] danwinship commented on #3178
@thockin yeah... oh, I explained in the PR but not here. It involves changing the same pieces of code that the internal traffic policy and proxy terminating endpoints and preferlocal traffic policy KEPs are changing, and I wasn't sure we had time to queue another change on top of those ones for 1.24. And it's not like it's urgent or anything anyway...

[2022-01-27 15:22] encodeflush commented on #1488
@Jiawei0227 Thanks for the update.

[2022-01-27 16:22] humblec commented on #2924
@encodeflush this is targetted as `alpha` in 1.24 and not `beta,` to be clear.

[2022-01-27 18:34] enj commented on #2718
/remove-lifecycle rotten

[2022-01-27 19:01] MaxRenaud commented on #2086
I don't think I'll make it for v1.24. Let's aim for 1.25

[2022-01-27 19:04] liggitt commented on #2799
@gracenng the linked PR has now merged. can you confirm this is in good shape for enhancements freeze?

[2022-01-27 20:26] gracenng commented on #2799
Thanks for the ping @liggitt . Updated status to `tracked`, all good for enhancements freeze

[2022-01-27 21:18] salaxander commented on #2896
/milestone v1.24
/stage beta

[2022-01-27 21:50] salaxander commented on #2896
Hi @Jefftree!. Just checking in as we approach 1.24 enhancements freeze on Thursday 02/03. Here's where this enhancement currently stands:

- [ ] KEP file using the latest template has been merged into the k/enhancements repo .
- [X] KEP status is marked as implementable
- [X] KEP has a test plan section filled out.
- [X] KEP has up to date graduation criteria.
- [ ] KEP has a production readiness

[2022-01-27 22:45] ehashman commented on #2983
/remove-lifecycle stale

[2022-01-27 23:37] bridgetkromhout commented on #1435
Kube-proxy had some changes in https://github.com/kubernetes/kubernetes/pull/106030 - @aojea, are there additional updates needed to ensure that kube-proxy uses the port status information from Service.status.loadBalancer.ingress in order not to allow traffic to those ports that could not be opened by the load balancer either?

[2022-01-28 00:28] rikatz commented on #2079
@thockin I missed the last sig-net meeting (forgot...) but watched later. As I understood, should we promote this to GA? If so I will probably have some time to work on the KEP during weekend.

Tks

[2022-01-28 00:29] thesuperzapper commented on #3189
/sig architecture

[2022-01-28 02:50] jiahuif commented on #2067
Hello @neolit123  👋, 1.24 Enhancements team here.
Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**.

This enhancement looks great! Thank you for the effort.

[2022-01-28 16:03] encodeflush commented on #2876
Hello @jpbetz

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `beta` for v1.24, is this correct?

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for

[2022-01-28 16:10] encodeflush commented on #3017
Hello @mortent

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for v1.24,

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release
-

[2022-01-28 16:19] encodeflush commented on #2923
@Jiawei0227 Thanks for the update. I updated the KEP status.

[2022-01-28 16:30] encodeflush commented on #3070
Hello @aojea

v1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting `alpha` for v1.24,

Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] KEP status is marked as implementable for this release
- [

[2022-01-28 17:58] ehashman commented on #2763
@vinayakankugoyal can you please update your PR to ensure that the KEP is marked `implementable` and not `provisional`? It has me listed as the PRR approver but I did not review this.

[2022-01-28 18:10] ehashman commented on #2438
KEP is provisional, please update to `implementable` and assign a PRR approver (I'd suggest @johnbelamaric)

[2022-01-28 19:08] johnbelamaric commented on #1441
Hi @verb. Can you review the PRR questions and make sure that none of the new changes in 1.24 require updates to those questions?

Thanks.

[2022-01-29 05:30] jrsapi commented on #2593
Hi @rahulkjoshi! 1.24 Enhancements team here. Just checking in as we get closer to enhancements freeze at **18:00pm PST on Tuesday, Feb 3rd, 2022**. Here's where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [X] ~~KEP status is marked as `implementable`~~
- [X] ~~KEP has a test plan section filled out.~~
- [X] ~

[2022-01-29 05:59] jrsapi commented on #2438
Hi @danwinship  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `alpha` for 1.24.
Here’s where this enhancement currently stands:

- [X] Updated KEP file using the latest template has been merged into the k/enhancements repo -- this will be kep with `latest-milestone: 1.24`
- [X] KEP status is

[2022-01-29 06:07] jrsapi commented on #2091
Hello @abhiraut   👋, 1.24 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00pm PT on Thursday Feb 3rd, 2022**. This enhancement is targeting for stage `alpha` for 1.24.

Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as `implementable` for

[2022-01-29 15:14] rahulkjoshi commented on #2593
Hi @jrsapi -- This KEP should be ready -- we've had a PRR approval already. And as far as I'm aware, we're using the latest format

[2022-01-29 19:51] gracenng commented on #2079
Hi @rikatz  ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `GA` for 1.24
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release with `latest-mil

[2022-01-30 02:19] #620 closed

[2022-01-30 08:03] gracenng commented on #281
Hi @SergeyKanzhelev 👋  1.24 Enhancements Team here.
Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**

There's no update for this enhancement since last checkin, let me know if I missed anything.
Current status is `at risk`

[2022-01-30 08:07] gracenng commented on #596
Hi @saad-ali  , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**

I've updated the check list above to reflect the current state of this enhancement, let me know if I missed anything.
Current status is `at risk`.

[2022-01-30 08:15] gracenng commented on #647
The status for this enhancements have been updated to `tracked` for the 1.24 Enhancements Freeze 🥳

[2022-01-30 08:20] gracenng commented on #688
Hi @egernst , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
There's no update for this enhancement since last checkin, let me know if I missed anything.
Current status is `at risk`

[2022-01-30 08:24] gracenng commented on #1487
Noting that this enhancement's test plan and graduation criteria is inherited from parent KEP. The status for this enhancements have been updated to `tracked` for the 1.24 Enhancements Freeze 🥳

[2022-01-30 08:29] gracenng commented on #3162
Hi @zvonkok , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
There's no update for this enhancement since last checkin, let me know if I missed anything.
Current status is `at risk`

[2022-01-30 08:32] gracenng commented on #1972
Hi @SergeyKanzhelev , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release with `latest-milestone: 1.24`
- [x] KEP has

[2022-01-30 08:38] gracenng commented on #2214
The status for 1.24 Enhancementsis now `tracked`  🥳

[2022-01-30 08:40] gracenng commented on #2221
Hi @SergeyKanzhelev  , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
There's no update for this enhancement since last checkin, let me know if I missed anything.
Current status is `at risk`

[2022-01-30 08:41] gracenng commented on #2535
Hi @mikebrow , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
There's no update for this enhancement since last checkin, let me know if I missed anything.
Current status is `at risk`

[2022-01-30 08:44] gracenng commented on #2593
Hi @rahulkjoshi , 1.24 Enhancements Team here.
Looks like the `kep.yaml` still needs to update to `latest-milestone: 1.24`. PRR is good.
Current status is `at risk`

[2022-01-30 08:49] gracenng commented on #3162
Since this KEP is a newer version of #1948 , please considering changing the KEPs file name since the enhancement team use issue number to track merged KEP

[2022-01-30 08:55] gracenng commented on #2763
Hi @vinayakankugoyal , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
There's no update for this enhancement since last checkin, let me know if I missed anything.
Current status is `at risk`

[2022-01-30 08:55] gracenng commented on #2784
The status for 1.24 Enhancementsis now `tracked`  🥳

[2022-01-30 08:59] gracenng commented on #3063
Hi @ ! 1.24 Enhancements team here.
Checking in as we approach enhancements freeze in less than a week on **18:00pm PT on Thursday Feb 3rd**
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. #3064
- [x] KEP status is marked as implementable for this release with `latest-milestone: 1.24`
- [x] KEP has a te

[2022-01-30 09:01] gracenng commented on #3130
Hi @aramase , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
I'm current awaiting #3133 to merge and current status is `at risk`

[2022-01-30 09:03] gracenng commented on #3141
Hi @RaunakShah , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
Updated some points on the check list above, let me know if I missed anything.
I'm monitoring #3151 and current status is `at risk`

[2022-01-30 09:04] gracenng commented on #3157
Hi @p0lyn0mial , 1.24 Enhancements Team here.

Reaching out as we're less than a week away from Enhancement Freeze on **Thursday, February 3rd.**
There's no update for this enhancement since last checkin, let me know if I missed anything.
Current status is `at risk`

[2022-01-30 13:08] rikatz commented on #2079
Hi @gracenng

Latest actions were taken in PR https://github.com/kubernetes/enhancements/pull/2883

Just waiting to get merged

Tks

[2022-01-30 13:17] vinayakankugoyal commented on #2763
We still haven't agreed upon the field to mark it implementable. I am going to remove it from milestone.

/remove milestone 1.24

[2022-01-31 03:17] rhockenbury commented on #2067
Hi @neolit123 - my prior comment is a miscommunication.  [The comment here from the PRR team summarizes the expectations.](https://github.com/kubernetes/enhancements/pull/3171#issuecomment-1024769006).  Let me know if you plan to update to include the PRR reviewer, or if you would like to remove this KEP from the 1.24 milestone.

[2022-01-31 03:30] rhockenbury commented on #2712
Thanks, please plan to merge #3194 before enhancements freeze at 18:00pm PT on Thursday Feb 3rd.

[2022-01-31 03:54] rhockenbury commented on #1435
Hi @janosi! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze at 18:00pm PT on Thursday Feb 3rd. This enhancement is targeting `beta` for 1.24.

Here’s where this enhancement currently stands:
- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo. - INCLUDED IN #3196
- [ ] KEP status is marked as `implementable` for `latest-mil

[2022-01-31 04:14] Priyankasaggu11929 commented on #2915
Hello, @neolit123, I'm reaching out again about the PRR requirement for this enhancement.

Following up on the consensus remark at https://github.com/kubernetes/enhancements/pull/3171/issuecomment-1024769006, explicit PRR team approval would be required to ensure that kubeadm KEPs are not subject to PRR.

We're less than a week away from Enhancement Freeze on **18:00pm PT on Thursday Feb 3rd, 2022

[2022-01-31 04:25] Priyankasaggu11929 commented on #2436
Hello @jiahuif, just a quick check-in again, as we approach the 1.24 enhancements freeze.

Please plan to get https://github.com/kubernetes/enhancements/pull/3183 merged before **enhancements freeze on Thursday, February 3rd at 18:00pm PT**.

For note, the current status of the enhancements is at `at-risk`. Thank you!

[2022-01-31 04:27] Priyankasaggu11929 commented on #2804
Hello @ravisantoshgudimetla @soltysh , just a quick check-in again, as we approach the 1.24 enhancements freeze.

Please plan to get https://github.com/kubernetes/enhancements/pull/2833 merged before **enhancements freeze on Thursday, February 3rd at 18:00pm PT**.

For note, the current status of the enhancement is at `at-risk`. Thank you!

[2022-01-31 04:29] Priyankasaggu11929 commented on #2887
Hello @jiahuif, just a quick check-in again, as we approach the 1.24 enhancements freeze.

Please plan to get https://github.com/kubernetes/enhancements/pull/3184 merged before **enhancements freeze on Thursday, February 3rd at 18:00pm PT**.

For note, the current status of the enhancement is at `at-risk`. Thank you!

[2022-01-31 04:31] Priyankasaggu11929 commented on #3101
Hello @ahmad-diaa, just a quick check-in again, as we approach the 1.24 enhancements freeze.

Please plan to get https://github.com/kubernetes/enhancements/pull/3098 merged before **enhancements freeze on Thursday, February 3rd at 18:00pm PT**.

For note, the current status of the enhancement is at `at-risk`. Thank you!

[2022-01-31 08:26] nikhita commented on #2608
/assign @MadhavJivrajani

[2022-01-31 08:38] #2348 closed

[2022-01-31 08:42] p0lyn0mial commented on #3157
Hi @gracenng, it looks like it won't make it to 1.24. Please leave me some instructions on how to update the KEP so it won't show up on your query.

[2022-01-31 09:21] pohly commented on #1472
/remove-lifecycle stale

[2022-01-31 11:10] neolit123 commented on #2915
hi, i have removed this KEP from the enhancement tracking sheet:
https://docs.google.com/spreadsheets/d/1T21mUTvPh70NB2eseHjCyD4LgRjyxWI9Bd1SoP8zAwA/edit#gid=1954476102
please remove the label "tracked/yes" and the milestone 1.24 from this ticket.
thank you.

[2022-01-31 11:10] neolit123 commented on #2067
hi, i have removed this KEP from the enhancement tracking sheet:
https://docs.google.com/spreadsheets/d/1T21mUTvPh70NB2eseHjCyD4LgRjyxWI9Bd1SoP8zAwA/edit#gid=1954476102
please remove the label "tracked/yes" and the milestone 1.24 from this ticket.
thank you.

[2022-01-31 11:28] ahmad-diaa commented on #3101
Hey @Priyankasaggu11929 - Noted, working on getting #3098 merged before then.

[2022-01-31 11:37] aojea commented on #3037
/close

[2022-01-31 11:38] #3037 closed

[2022-01-31 15:27] andrewsykim commented on #1959
/stage stable

[2022-01-31 16:14] gracenng commented on #3157
No worries I’ll take care of it

On Mon, Jan 31, 2022 at 12:42 AM Lukasz Szaszkiewicz <
***@***.***> wrote:

[2022-01-31 17:25] sftim commented on #3163
Fixing a typo:
/retitle New Pod Condition for marking pods that have ephemeral containers created

[2022-01-31 18:03] rtheis commented on #671
@andrewsykim no objections.  You can close it.

[2022-01-31 18:04] andrewsykim commented on #671
/close

[2022-01-31 18:06] #671 closed

[2022-01-31 19:04] rahulkjoshi commented on #2593
@gracenng @jrsapi I've updated the kep.yaml with the milestone and release targets.

PTAL and let me know if everything is in order.

[2022-01-31 19:08] bridgetkromhout commented on #1435
Hi, @rhockenbury - we're waiting for the Production Readiness Review to be approved by the PRR team.

[2022-01-31 20:49] thockin commented on #1435
I think the question is not about clusterIP traffic - that clearly should work (since multi-protocol is a feature).  NodePort traffic is the same for the same reason.  The question then becomes about VIP_like LB traffic.  A packet to LBIP:LBPORT/wrong-protocol.  Given that some LBs use NodePort and some use VIP, it would, at best, be inconsistent.

So I think we should not do extra work to drop it

[2022-01-31 21:30] bridgetkromhout commented on #1435
Thanks, @aojea & @thockin - updated per feedback to clarify based on Tim's comment.

[2022-01-31 22:07] johnbelamaric commented on #1972
@SergeyKanzhelev what's the update here?

[2022-01-31 22:13] johnbelamaric commented on #2551
Any updates here? Any PR?

[2022-02-01 01:14] SergeyKanzhelev commented on #1972
Sorry, everything is happening at the same time. Submitted: https://github.com/kubernetes/enhancements/pull/3201 Can you pleas take a look?

[2022-02-01 02:56] gracenng commented on #2593
Thanks for the ping. Updated status to `tracked`

[2022-02-01 04:43] Priyankasaggu11929 commented on #3101
Hello @ahg-g,

Writing in reference to the above, just wanted to confirm whether I should leave it tracked under the 1.24 milestone for now or remove it with the idea of addressing it in the next cycle? Thank you!

[2022-02-01 04:59] Priyankasaggu11929 commented on #1959
Hello, @andrewsykim, just saw that this enhancement is expected to be included in the 1.24 release.

Could you please submit the enhancement issue into the [1.24 tracking sheet](http://bit.ly/k8s124-improvements) so the enhancements team can keep track of it?
Thank you so much!

[2022-02-01 08:03] NikhilSharmaWe commented on #3182
@knabben I would like to work on it, could you please elaborate on what we are trying to achieve here and how to proceed in the process. Some code pointers would be really helpful.

[2022-02-01 14:34] ahg-g commented on #3101
/remove-milestone v1.24

[2022-02-01 14:34] ahg-g commented on #3101
We can remove it from tracking, we need to revisit the API and I don't think we can do that on time.

[2022-02-01 17:45] ddebroy commented on #3085
PRR for the KEP is complete for 1.24. Waiting on final reviews from sig-node.

[2022-02-01 22:07] bridgetkromhout commented on #1435
Hi, @rhockenbury - with the merge of #3196 we believe we are ready for this enhancement to move from alpha to beta in the 1.24 cycle. Thanks!

[2022-02-01 22:34] PushkarJ opened #3203 "Auto-refreshing Official CVE Feed"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Auto-refreshing official CVE feed
- Slack thread about Code Freeze discussion: https://kubernetes.slack.com/archives/C2C40FMNF/p1659035059991979
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-security/3203-auto-refreshing-official-cve-feed
- Discussio

[2022-02-01 22:34] PushkarJ commented on #3203
/sig security docs

[2022-02-02 01:50] rhockenbury commented on #1435
Looks good.  I've moved this KEP to `tracked` on the enhancements tracking sheet.  All set for enhancement freeze! 🚀

[2022-02-02 04:00] Priyankasaggu11929 commented on #1495
With the KEP PR https://github.com/kubernetes/enhancements/pull/3200 merged now, this enhancement is ready for the 1.24 enhancements freeze tomorrow. 🚀

For note, the enhancement status is now marked `tracked` in the 1.24 tracking sheet. Thank you!

[2022-02-02 08:00] pjbgf commented on #24
/remove-lifecycle stale

[2022-02-02 13:52] atiratree commented on #2804
@Priyankasaggu11929 PR should be updated, currently waiting for PRR

[2022-02-02 15:11] soltysh commented on #961
/milestone v1.24

[2022-02-02 15:37] JeremyOT commented on #1645
/remove-lifecycle stale

[2022-02-02 17:32] soltysh commented on #3140
@Priyankasaggu11929 https://github.com/kubernetes/enhancements/pull/3143 just merged, so I hope that satisfies all the requirements for inclusion.

[2022-02-02 19:59] rikatz commented on #2943
/reopen
/lifecycle active

[2022-02-02 21:16] mikebrow commented on #2535
Should be alpha for 1.24.. changed from alpha for 1.23 because it didn't get merged into 1.23. merged commit change for that here: https://github.com/kubernetes/enhancements/pull/3127/files

[2022-02-02 21:19] mikebrow commented on #2535
status should be ready to merge .. if anything is holding it up I'll be here to fix it :)

[2022-02-03 03:29] rhockenbury commented on #1790
With #3188 merged, I've moved this KEP to `tracked` for this cycle. All set for enhancement freeze. 🚀

[2022-02-03 03:35] rhockenbury commented on #2008
With #1990 merged, I've updated this enhancement to `tracked` for the 1.24 cycle.  All set for enhancements freeze. Thanks!

[2022-02-03 03:40] rhockenbury commented on #2712
I've moved this KEP to `tracked` for enhancement freeze. Thanks!

[2022-02-03 03:44] rhockenbury commented on #3031
With #3191 merged, I've updated the status to `tracked` for enhancement freeze. Thanks!

[2022-02-03 03:48] rhockenbury commented on #3107
With #3173 merged, I've updated this to `tracked` for enhancement freeze.

[2022-02-03 03:50] rhockenbury commented on #3140
Thanks! I've moved this to `tracked`.  All set for enhancement freeze. 👍

[2022-02-03 06:44] pohly commented on #3077
@encodeflush : the KEP PR was merged, all criteria for alpha in 1.24 should be met now.

[2022-02-03 07:11] gracenng commented on #2839
Hi @mkimuram  ! 1.24 Enhancements team here. We approach enhancements freeze on TOMORROW **18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release with

[2022-02-03 07:21] gracenng commented on #961
Hi @ ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze on **18:00pm PT on Thursday Feb 3rd**
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this release with `latest-milestone: 1.24` -- see newest template
- [x] KEP has a

[2022-02-03 07:24] gracenng commented on #2943
Hi @ ! 1.24 Enhancements team here. Just checking in as we approach enhancements freeze ** TOMORROW ,18:00pm PT on Thursday Feb 3rd**. This enhancements is targeting `beta` for 1.24, is that correct?.
Here’s where this enhancement currently stands:

- [ ] Updated KEP file using the latest template has been merged into the k/enhancements repo.
- [ ] KEP status is marked as implementable for this re

[2022-02-03 07:26] gracenng commented on #1959
All good for 1.24 Enhancements Freeze

[2022-02-03 11:54] soltysh commented on #2551
/reopen
this is still worked on

[2022-02-03 12:06] saschagrunert commented on #2221
@SergeyKanzhelev I took care of updating the KEP meta in my timezone in #3207

[2022-02-03 13:45] liggitt commented on #3136
@rhockenbury the KEP is merged. Can you verify this is in good shape for 1.24?

[2022-02-03 14:17] soltysh commented on #961
@gracenng this was updated in https://github.com/kubernetes/enhancements/pull/3100

[2022-02-03 15:47] xing-yang commented on #1977
Thanks @Priyankasaggu11929.  This will not make it in 1.24.

[2022-02-03 16:02] danwinship commented on #3015
Given the discussion on #3016 I think we want to drop this from 1.24 but keep it open (for now)

[2022-02-03 16:17] Priyankasaggu11929 commented on #1977
Thanks for the update @xing-yang.

/milestone clear

[2022-02-03 17:38] ehashman commented on #1753
The only thing remaining for this is to update the website documentation to remove references to this feature.

[2022-02-03 18:02] SergeyKanzhelev commented on #281
Catching up on this. @gracenng this KEP is targeting 1.24 for the removal of the functionality. Does it still requires anything?

[2022-02-03 18:36] gracenng commented on #281
Hi @SergeyKanzhelev ,

Looks like deprecations and removal do not need PRR so I checked that box off. There's a `todo` in your Graduation Criteria you need to address, as well as updating the `latest-milestone` in kep to `1.24`

[2022-02-03 19:01] khenidak commented on #1880
where is it @aojea ?

[2022-02-03 20:08] dobsonj commented on #596
Hi @gracenng , the [PR to update the KEP](https://github.com/kubernetes/enhancements/pull/3158) merged today which should address the 2 remaining items from your checklist.

Yes, it's targeting 1.24

Thanks!

[2022-02-03 20:15] aojea commented on #1880
These are the discussions https://github.com/kubernetes/enhancements/pull/1881

The POC is here https://github.com/kubernetes/kubernetes/pull/101876

But this is a complex I'd like to discuss, if possible, in person (hopefully next kubecon)

[2022-02-03 20:40] astoycos commented on #2091
This enhancement is complete and ready to merge @jrsapi, All of the above Items have been completed, we're just waiting on the final /lgtm from @johnbelamaric :)

[2022-02-03 22:17] abhiraut commented on #2091
the KEP is merged but its not yet marked `implementable`.