[2016-05-03 20:06] erictune opened #2 "Role-based access control (RBAC)"
# Feature Description
- One-line feature description (can be used as a release note): Role-based access control
- Primary contact (assignee): @ericchiang @deads2k @liggitt
- Responsible SIGs: sig-auth
- Design proposal link (community repo):
- Reviewer(s): @deads2k @ericchiang
- Approver (likely from SIG/area to which feature belongs): @erictune @smarterclayton
- Feature target (which target equal

[2016-05-03 20:11] liggitt commented on #2
it’s astonishing how much checklists on github make me want to do whatever it takes to complete them

[2016-05-03 20:44] pwittrock opened #3 "Support Api Object Templates"
Thanks for wanting to add a feature to Kubernetes!  You will be responsible for guiding
your feature through completion, and asking the right people for approvals.

Large features typically go through three stages: [Alpha, Beta, and Stable](https://github.com/kubernetes/kubernetes/blob/master/docs/api.md#api-versioning)
Each stage requires various approvals from various teams.

You can use the che

[2016-05-09 16:58] erictune opened #5 "[Deprecated] Pod Security Policy"
# Feature Description
- Define policy objects that limit what security-related features pods and containers can use
- Primary contact (assignee): @tallclair
- Responsible SIGs: @kubernetes/sig-auth-feature-requests @kubernetes/sig-node-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/pod-security-policy

[2016-05-09 17:58] erictune commented on #5
Admission controller code is under review in: https://github.com/kubernetes/kubernetes/pull/24600

[2016-05-09 17:58] erictune commented on #5
This feature is skipping straight to Beta since it has had initial exposure in OpenShift.

[2016-05-09 17:59] erictune commented on #5
It will be default disabled in kubernetes/kubernetes#24600.  After that goes in, we need changes in the admission controller to link PSPs to users.

[2016-05-11 13:57] pweil- commented on #5
Noting https://github.com/kubernetes/kubernetes/pull/20573 as a dependency for the next step on PSP (subject level access)

[2016-05-27 17:13] ericchiang commented on #2
An update on this issue for alpha.

* Most of the design was directly lifted directly from the openshift documentation. We skipped over a formal proposal.
* The initial API was reviewed and added in kubernetes/kubernetes#24900
* The API group, an authorizer, and a small amount of unit tests where added in kubernetes/kubernetes#25634

TODO before alpha release

* Complete testing by adding integrat

[2016-05-31 23:47] philips commented on #2
@erictune As we can't update this issue I think you have to check the boxes based on @ericchiang's comment https://github.com/kubernetes/features/issues/2#issuecomment-222202448

[2016-06-08 00:37] philips commented on #2
Ping @erictune cc @ericchiang

[2016-06-08 00:46] ericchiang commented on #2
Integration tests here: https://github.com/kubernetes/kubernetes/pull/26753

Docs here: https://github.com/kubernetes/kubernetes.github.io/pull/631

Also there were a couple small fixes that need lgtms:
* https://github.com/kubernetes/kubernetes/pull/26984
* https://github.com/kubernetes/kubernetes/pull/26975
* https://github.com/kubernetes/kubernetes/pull/26924

[2016-06-09 00:02] erictune commented on #2
The API group name "rbac.authorization.k8s.io/v1alpha1" is really long.  Perhaps for Beta or GA we can shorten it somehow.

[2016-06-15 00:16] erictune commented on #2
For beta, we need to:

- [ ] have a default set of roles, and docs about those roles.
- [ ] examples of updating a role to add a user to it, remove a user from it, using kubectl.
- [ ] we need to decide what a service-account's default role is, which will be a breaking change, since it is not going to be the current effectively root role it has.
- [ ] Rename RBAC 'subject' to 'subjects'. (#26924)

[2016-06-15 00:21] ericchiang commented on #2
A couple other notes (not necessarily for beta)

* Add some basic caching mechanisms to the authorizer implementation. It's currently using a naive implementation that just queries the API group each time.
* Get feedback on the bootstrapping procedure (--authorizer-rbac-super-user)
* Get feedback on the privilege escalation checks. Do these make sense, should an admin be able to turn them off or g

[2016-06-15 00:21] liggitt commented on #2
Not sure I'd consider choosing a default role for service accounts in rbac a breaking change. Authorizer settings have always been able to limit service account permissions.

[2016-06-16 17:30] guoshimin commented on #2
Hi @erictune will RBAC in 1.3 have the ability to make policy decisions based on the attributes in the requested API object? Such as specifying what secrets can a pod mount as a volume? Looking over the code seems the answer is no, but I'd like to confirm. Thanks!

[2016-06-16 17:34] ericchiang commented on #2
@guoshimin no. For alpha RBAC will only deal with top level objects. No field level authorization.

@olegshaldybin has a large proposal in kubernetes/kubernetes#27330. You may want to take a look at the discussion there.

[2016-06-16 17:34] liggitt commented on #2
no, RBAC is object-level, not field-level.

[2016-06-17 20:19] #3 closed

[2016-06-22 17:14] jbeda opened #11 "Dramatically Simplify Kubernetes Cluster Creation (kubeadm umbrella issue)."
# Description

Creating a new Kubernetes cluster is too hard.  We need to simplify the number and types of actions to get a production cluster up and running.

Note that this is different from bringing up a development cluster (single node ala monokube or minikube) or automation around cluster creation (https://github.com/kubernetes/community/wiki/Roadmap:-Cluster-Deployment).

If we do this right

[2016-06-22 17:21] jbeda commented on #11
Other related efforts/prior art:
* https://github.com/kubernetes/community/wiki/Roadmap:-Cluster-Deployment
* https://github.com/kubernetes/kubernetes-anywhere

[I'll update this comment with new links as they come in]

[2016-06-22 17:25] jbeda commented on #11
@mikedanese -- I know this is a lot of what you've been working on.  I'd love to get that reflected here and scoped for 1.4.  Do you mind shooting some pointers over?

[2016-06-22 17:28] philips commented on #11
cc @derekparker @aaronlevy @pbx0

[2016-06-22 17:39] jbeda commented on #11
To be extra clear -- I'm proposing that we make this experience part of core kubernetes.  The fact that core k8s is a set of things that have to be set up together is a powerful thing but it makes things look very very complex.  We should be willing to have a sane set of defaults and embedded solutions built in to the main distribution.

Right now our ["manual install"](http://kubernetes.io/docs/g

[2016-06-22 20:07] mikedanese commented on #11
There is a class of infrastructure (that doesn't currently exist) that would benefit all deployment automations. We should try to enumerate what these items are, give them relative priorities and advocate for them in v1.4 planning. I started to create a list a couple days ago: https://github.com/kubernetes/kube-deploy/issues/123

[2016-06-22 20:15] pires commented on #11
@jbeda https://github.com/kubernetes/kubernetes/issues/5472, https://github.com/kubernetes/kubernetes/pull/16077 and https://github.com/kubernetes/kubernetes/issues/5754 are related to this.

[2016-06-22 21:02] thockin commented on #11
Something that crossed my mind with docker 1.12 - built-in kvstoreeans that libnetwork's overlay driver might be viable for us.  Having a built-in network mode for Docker installs that works anywhere and doesn't require extra components might be nice.

Might require some work to not assume prefixes per node.

[2016-06-22 22:11] klizhentas commented on #11
Just so I understand it better embedded etcd will be optional right? As in production we would want to still deploy etcd separate from the API/Scheduler/Controller

[2016-06-22 22:14] smarterclayton commented on #11
Network is the hardest part - you can ignore security and edge cases as long as pods can talk to each other.  Leveraging libnetwork seems like a practical choice where possible (or just have a daemonset that drops in your favorite network auto provisioner via CNI).  Once the node is started we can run any code.

[2016-06-22 22:29] jbeda commented on #11
@klizhentas Yes! The idea is to make small clusters super easy.  Folks looking for large clusters will want to manage etcd independently.  Users can choose to take on the complexity of breaking everything out but it'll be an advanced move.

[2016-06-22 22:30] jbeda commented on #11
@smarterclayton I think we just need to pick *something* to get going.  The easiest zero-config option would be the way to go.

[2016-06-22 22:47] derekwaynecarr commented on #11
I think the model we present should not look that different from the
production model.  I am a fan of making it easy to launch a Kubelet that
then has a static manifest with sensible defaults to launch control plane
that is not hidden in a mess of salt.  On that model, etcd can still be a
pod as well as other parts of our control plane.

On Wednesday, June 22, 2016, Joe Beda <notifications@github.

[2016-06-22 22:52] klizhentas commented on #11
@jbeda so in the simple case `kube-controller-manager`, `kube-apiserver`,` kubelet` + etcd will be one go binary?

[2016-06-22 23:17] jbeda commented on #11
@klizhentas @derekwaynecarr I don't know what the binaries will be that we ship.  I do know that we have to make it dead easy to download a thing and get it up and running.  If we can get stuff self hosted on the cluster in a container, that would be a good solution.  The number of steps needs to be reduced to ~1 per node.

Let's start with the ideal set of things we want the end user to type.  Fr

[2016-06-22 23:18] derekwaynecarr commented on #11
I think we can demonstrate the composable nature of the platform without
having to build monolithic binaries that are contrary to the spirit of
microservice architecture.

There are two separate but related topics: ability to create a node (and
bring up control plane), ability to have a new node join an existing
cluster easily.  I worry moving to monolithic binaries don't necessarily
help either c

[2016-06-22 23:20] derekwaynecarr commented on #11
@jbeda - agree on focusing on desired ux command first

On Wednesday, June 22, 2016, Derek Carr <decarr@redhat.com> wrote:

[2016-06-22 23:30] aaronlevy commented on #11
Biased, because I'm already working on it, but I'd advocate for putting effort into self-hosted (k8s-on-k8s) installations as a means of simplifying both cluster creation, and lifecycle management.

If the installation contract becomes "I can run a kubelet" and everything else is built atop that in containers -- then installation criteria could become as simple as "does your node pass node-e2e tes

[2016-06-22 23:40] klizhentas commented on #11
For this particular feature I think it would help to go backwards - not from implementation to UX, but vise-versa. If we figure out user experience with this right, the implementation will follow.

Here's the ideal scenario that users can see on k8s quickstart page:

1. Starting single node k8s

[code]

2. Adding node

On first node, execute:

[code]

On any node to be added in the cluster:

[code

[2016-06-23 00:38] bgrant0607 commented on #11
This has become a discussion issue rather than a tracking issue. It's great that lots of people are interested in this topic. We could use help. I created a github team (sig-cluster-lifecycle) and googlegroup (kubernetes-sig-cluster-lifecycle), which you can request to join. I'm going to rename the sig-install slack channel to sig-cluster-lifecycle. We should brainstorm in the googlegroup rather t

[2016-06-23 01:09] metral commented on #11
I took the liberty of creating a post that summarizes the generic expectations stated here in the googlegroup (kubernetes-sig-cluster-lifecycle) to continue the brainstorming: https://groups.google.com/forum/#!topic/kubernetes-sig-cluster-lifecycle/LRMygt2YNrE

[2016-06-23 01:56] philips commented on #11
On Wed, Jun 22, 2016 at 2:02 PM Tim Hockin <notifications@github.com> wrote:

Relying on libnetwork for bootstrapping sounds like a mess longterm. I
would much rather figure out bootstrap, reconfiguration, etc of CNI, which
we need to figure out anyways, than make some compromise that puts a new
dependency on the Docker engine.

[2016-06-23 04:52] aronchick commented on #11
Reminder - these issues (ideally) should be for only discussion about the flow of the work items related to the feature. If you would like to discuss (please do!) please do it in the Google group.

[2016-06-23 16:30] idvoretskyi commented on #11
Please, take a look at this proposal - https://github.com/kubernetes/kubernetes/issues/27948

[2016-06-23 16:37] jbeda commented on #11
@aronchick @bgrant0607 @metral Agreed -- let's take this to the mailing list.

[2016-06-23 17:46] smarterclayton opened #12 "Performance and scale improvements to core infrastructure and clients to hit scale goals"
# Description

Continue to refine the performance of the API server, controllers, and client infrastructure to achieve our scale goals (~5k nodes and 300k pods) on a single cluster.  This involves continuous testing at scale and refinement of our core systems for efficiency, as well as scaling testing from many large deployments.

By the 1.4 release, we hope to identify major scale blockers betwee

[2016-06-28 14:46] MikeSpreitzer opened #16 "Allow Tags on Containers"
# Description

This feature adds a way for users to control metadata tags on their containers.  Each of the various container runtimes has a way to put some sort of user tag on containers.  Giving users control over this is useful for scenarios in which the user wants to integrate Kubernetes with other platforms and facilities.

# Progress Tracker

- [ ] Before Alpha
    - [ ] Design Approval

[2016-06-28 15:26] philips commented on #16
Is there an existing discussion about this? This is about applying labels to the containers instead of to the pods? So I would need to have a pod object by name then query all of the labels on the containers in the pod?

[2016-06-28 15:29] jbeda commented on #16
Reading between the lines, this is to allow tags to be pushed down to individual (Docker) containers to enhance the tools that know about Docker but not about Kubernetes.  @MikeSpreitzer -- can you help motivate this with some examples of the systems that you'd like to integrate with?

[2016-06-28 16:41] errordeveloper opened #18 "Addon management layer"
# Feature Description
- One-line feature description (can be used as a release note): Support for system addon management
- Primary contact (assignee): @justinsb
- Responsible SIGs: @kubernetes/sig-cluster-lifecycle-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers

[2016-06-28 16:43] errordeveloper commented on #18
cc @kubernetes/sig-cluster-lifecycle @kubernetes/helm-maintainers

[2016-06-28 16:58] mikedanese commented on #18
This is related to
https://github.com/kubernetes/kubernetes/issues/23233
https://github.com/kubernetes/kube-deploy/issues/123
https://github.com/kubernetes/kubernetes/issues/23174

[2016-06-28 17:32] MikeSpreitzer commented on #16
I think I brought this up in a SIG Node meeting, but the discussion did not get very far there.
The particular use case in front of me right now is that my team is working on a hosted multi-tenant service that offers both Kubernetes and Docker Swarm.  We have an API interceptor for both, and it transforms API operations as necessary to implement (in conjunction with the underlying managers) the mu

[2016-06-28 17:33] MikeSpreitzer commented on #16
Another example we have considered is, again in a system with both Kubernetes and other platforms, tooling (such as monitoring) that applies to all containers and wants to get identifying information in a uniform way.

[2016-06-29 14:17] bgrant0607 commented on #16
cc @kubernetes/sig-node

[2016-06-29 15:32] duglin commented on #16
Some more background from this thread: https://groups.google.com/forum/#!searchin/kubernetes-sig-node/label$20mike/kubernetes-sig-node/gijxbYC7HT8/leGwj_uuAgAJ

[2016-06-29 19:05] ericchiang commented on #2
Also realized that we don't have garbage collection (cleaning up role bindings to deleted roles). This would probably be something good to add to the beta release.

[2016-06-30 06:34] bgrant0607 commented on #18
cc @philips

[2016-06-30 13:34] deads2k commented on #2
I'd like to see an intent-based, idempotent API for binding roles to subjects.  Something where I can post: "bind role/foo to user/bar" or "delete role/foo from group/bar" and not have to worry about the details of exactly which named binding needs to be mutated.

I think we should also consider a way to select which roles and subjects a given subject is allowed to bind.  Right now, Jane in namesp

[2016-06-30 13:51] alexbrand commented on #2
An intent-based API for managing policy sounds great. Just out of curiosity - Are there existing intent-based APIs in K8s?

[2016-06-30 14:15] bgrant0607 commented on #18
ref https://github.com/kubernetes/kubernetes/issues/7459

[2016-07-04 16:35] luxas commented on #18
@mikedanese @errordeveloper Do you have any proposals for a new API, or should this be done via automation/helm or some other thing?

At least I'd like to see a kubectl command (like @justinsb did), ideally the user could just toggle predefined (built-in) addons, or apply custom ones.

[2016-07-04 16:49] errordeveloper commented on #18
@luxas so far the idea is to use Helm, and avoid creating new machinery. There would be a very thin layer on top of Helm, which would take some kind of object describing the list of addons (with optional parameters), such object would be supplied by preceding turnup phase.

[2016-07-04 16:52] errordeveloper commented on #18
To be honest, I am little puzzled with the logistics of the next step, as the tick boxes above suggest I should create a formal proposal PR to the main repo, but seem more natural for this work to go ether into "kube-deploy" or a separate repo... thoughts?

[2016-07-04 19:27] soltysh opened #19 "CronJobs (previously ScheduledJobs)"
# Enhancement Description
- One-line feature description (can be used as a release note):
CronJobs (previously ScheduledJobs) are meant for performing all time-related actions, namely backups, report generation and the like.  Each of these tasks should be allowed to run repeatedly (once a day/month, etc.) or once at a given point in time.
- Kubernetes Enhancement Proposal: https://github.com/kuber

[2016-07-04 19:28] soltysh commented on #19
@erictune fyi

[2016-07-04 22:15] aronchick commented on #18
IMO, I think the repo for the proposal could go anywhere that makes sense -
that's a bit of an implementation detail. We should update the template to
work in whatever repo is the right one (in this case, it should probably go
in 'kubernetes-anywhere', i'd imagine).

I think kube-deploy may be a bit out of date.

On Mon, Jul 4, 2016 at 9:52 AM, Ilya Dmitrichenko <notifications@github.com>
wrote:

[2016-07-05 14:49] mikedanese commented on #18
The point of abstracting an addon manager is to reduce the duplicated effort across deployment automations that everyone goes through building addon management. It feels weird to shove the proposal in kubernetes-anywhere since this feature won't be implemented in kuberentes-anywhere. Can we find a centralized place to post design proposals? How about this repo? @pwittrock

[2016-07-05 16:21] jbeda commented on #18
+1 to what @mikedanese says.  We need to view this as a cross-cutting thing that isn't tied to any particular deployment tool.

Note that we essentially have 2 types of addons.  Ones that are pretty much necessary to make a cluster functional (DNS) and ones that are actually optional.

I question using a tool like helm for the addons in the first category.  It is a big dependency to take on for ev

[2016-07-05 16:40] aronchick commented on #18
Interesting - I hadn't thought of this to be the central place for
proposals, but I don't see any reason why that would break. The only
problem (of course) is that we would need to enforce that elsewhere -
otherwise you then have 15 repos for proposals PLUS this centralized one
which either leads to people missing stuff or duplication.

Open to either suggestion.

On Tue, Jul 5, 2016 at 9:21 AM, J

[2016-07-06 13:42] erictune commented on #18
I would like people to be able to subscribe to kubernetes/features and see
a relatively succinct stream of updates on feature progress.

That will not be possible if there are design proposal PRs being discussed
in the repo.

So, please not in this repo

On Jul 5, 2016 9:41 AM, "David Aronchick" <notifications@github.com> wrote:

[2016-07-09 00:28] erictune commented on #2
Request for a non-flag way to turn off bootstrapping mode (https://github.com/kubernetes/kubernetes/pull/25634#issuecomment-231486319) @jimmycuadra

[2016-07-11 06:21] ericchiang commented on #2
I'm a little confused by that comment.

@jimmycuadra why do you need to turn this off the bootstrapping flag in the first place? I don't actually see anything in that post which explained that.

[2016-07-11 08:15] jimmycuadra commented on #2
In our setup, the systemd unit file that starts apiserver is immutable, so we don't necessarily want the user specified by `--authorization-rbac-super-user` to have unlimited access for the foreseeable future. We want a way to bootstrap RBAC roles and bindings and then disable the initial user's unlimited access without having to change the set of arguments that the apiserver is started with.

[2016-07-12 13:07] bryk commented on #5
Whats the status of this? Is the description in first comment up to date?

[2016-07-12 13:23] pweil- commented on #5
no (I don't have permissions to update).  I believe all of the alpha requirements have been met.   The initial types, api, and tests have been merged.  The admission controller is not enabled by default.

IMO the remaining work for beta/1.4 is auth integration for permissions, updating for new fields we want to constraint (seccomp - in progress, sysctl), and any required docs/tutorials.

[2016-07-12 15:42] erictune commented on #5
And an e2e test.

On Tue, Jul 12, 2016 at 6:23 AM, Paul Weil <notifications@github.com> wrote:

[2016-07-12 18:59] MikeSpreitzer opened #21 "Vertical Scaling of Pods"
# Description

Make it possible to vary the resource limits on a pod over its lifetime.  In particular, this is valuable for pets (i.e., pods that are very costly to destroy and re-create).

This was discussed in the Node SIG meeting of 12 July 2016, where it was noted that this is a big cross-cutting issue and that @ncdc might be an appropriate owner.
# Progress Tracker
- [x] Before Alpha
  - [x]

[2016-07-12 19:11] erictune commented on #21
@MikeSpreitzer Did you reach any kind of consensus within Node SIG about how to solve this issue?  Do you have a group of people who are ready to start coding up that agreed-upon thing?   If not, it might be a bit early to open an issue.

[2016-07-12 19:13] MikeSpreitzer commented on #21
I am new here and was told this has been a long-standing desire, some work has already been accomplished, and some planning has already been done.  I asked how to pull all the existing thinking together and organize to get onto a path to making it happen, and was told to start here.

[2016-07-12 19:38] davidopp commented on #21
Intel has made a proposal along these lines, see #28316

Also see #10782

cc/ @balajismaniam @connordoyle @fgrzadkowski @mwielgus @piosz @jszczepkowski @gmarek @wojtek-t

[2016-07-12 22:03] roberthbailey opened #22 "Audit Logging for k8s"
BEFORE YOU CLICK CREATE ISSUE:

- Put a 2-3 sentence description of your feature under the **Summary** heading below.

# Description

The Kubernetes apiserver should generate audit logs of accesses (promoted into a feature issue from https://github.com/kubernetes/kubernetes/issues/2203).

# Progress Tracker

- [ ] Before Alpha
    - [ ] Design Approval
      - [ ] Design Proposal.  This goes under

[2016-07-13 19:03] timothysc commented on #21
/cc @smarterclayton @ncdc @derekwaynecarr

[2016-07-14 02:10] timstclair opened #24 "Add AppArmor support"
# Description

Add AppArmor support to Kubernetes. Initial support should include the ability to specify an AppArmor profile for a container or pod in the API, and have that profile applied by the container runtime.
# Progress Tracker
- [x] Before Alpha
  - [x] Design Approval
    - [x] Design Proposal.  This goes under [docs/proposals](https://github.com/kubernetes/kubernetes/docs/proposals).  Do

[2016-07-14 02:11] timstclair commented on #24
Original issue here: https://github.com/kubernetes/kubernetes/issues/22159

[2016-07-15 04:26] philips commented on #16
Reading that thread @duglin it seems that achieving what you want from this feature isn't actionable until Docker makes this stuff mutable: https://groups.google.com/d/msg/kubernetes-sig-node/gijxbYC7HT8/uOXwZ-J6AwAJ

I certainly don't think we should pursue a path where we push metadata down in a stale manner.

[2016-07-15 15:43] MikeSpreitzer commented on #16
@philips: This was always about immutable metadata being applied to containers when they are created.

[2016-07-15 15:45] MikeSpreitzer commented on #16
In the discussion in the SIG Node meeting of July 12, 2016 it was agreed that a better approach involves hooks in the revised container runtime (which is being pursued under #28789).  So I am closing this feature proposal and will work on the other approach.

[2016-07-15 17:47] vishh commented on #16
Yeah. Implementing a custom docker runtime based on the new container
runtime API in kubelet would be the recommended strategy for this issue.

On Fri, Jul 15, 2016 at 8:45 AM, Mike Spreitzer <notifications@github.com>
wrote:

[2016-07-15 17:59] MikeSpreitzer commented on #16
Does an operator have to implement a whole new runtime in order to apply Docker labels to the containers?  That seems a bit much.

[2016-07-15 23:26] therc commented on #5
How about interactions with cloud providers? It would be nice to easily assign each pod different IAM roles so they can access only the subset of cloud services that they actually need. Would it be in scope or  is it considered a SecurityContext detail?

[2016-07-16 14:06] erictune commented on #5
@therc that should be done via ServiceAccount.

[2016-07-17 20:47] girishkalele opened #27 "GCP Cloud Provider: Source IP preservation for Virtual IPs"
# Feature Description
- One-line feature description (can be used as a release note): Source IP Preservation - change Cloud load-balancer strategy to health-checks and respond to health check only on nodes that host pods for the service.
- Primary contact (assignee): @MrHohn
- Responsible SIGs: sig-network
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master

[2016-07-18 23:15] vishh commented on #16
Docker labels will be applies automatically once docker supports label
updates. Any other customizations until then will have to happen via custom
runtimes.

On Fri, Jul 15, 2016 at 10:59 AM, Mike Spreitzer <notifications@github.com>
wrote:

[2016-07-18 23:58] ericchiang opened #32 "Kubectl login subcommand"
# Description

Add a subcommand to kubectl which can update kubeconfig auth providers configs (https://github.com/kubernetes/kubernetes/pull/23066) and trigger login events. The initial implementation will add support for the OpenID Connect auth provider and a basic auth challenge.

Prior POC and discussion in https://github.com/kubernetes/kubernetes/pull/25758

cc @kubernetes/sig-auth
# Progress

[2016-07-19 03:29] bgrant0607 commented on #32
cc @kubernetes/kubectl

[2016-07-19 03:40] AdoHe commented on #32
is this an openshift/origin migration feature?

[2016-07-19 04:12] ericchiang commented on #32
@AdoHe openshift has a similar feature yes, but we're very interested in adding it because we use OAuth2 based credentials (the OpenID Connect authenticator). To work with kubectl need some way of configuring the existing client authenticator plugins[0] for refresh tokens, and also triggering an initial auth flow.

This was discussed in the sig-auth as TODO for 1.4 (meeting notes here [1]) and I w

[2016-07-19 14:57] mwitkow commented on #27
Does this involve preserving the visibility of the Source IP of the TCP connection that hits Pod which is behind a Service with an external IP address? Similar to what's discussed in https://github.com/kubernetes/kubernetes/issues/10921 ?

[2016-07-19 16:54] girishkalele commented on #27
Yes, this is exactly that feature, sorry I haven't had time to convert the design proposal from Google doc into Markdown.

[2016-07-19 20:01] smarterclayton opened #33 "Support services that reference an external service"
# Description

Services should be able to reference an external DNS address instead of only pods, which will allow application authors to reference services that exist off platform, on other clusters, or locally.

Owner @rata
# Progress Tracker
- [ ] Before Alpha
  - [x] Design Approval
    - [x] [Design Proposal](https://github.com/kubernetes/kubernetes/pull/29073)
    - [x] Initial API review (i

[2016-07-20 09:05] sttts opened #34 "Add sysctl support"
# Description

This feature aims at extending the current pod specification with support
 for namespaced kernel parameters (sysctls) set for each pod.

# Scope of work planned for v1.11
- graduate to beta

# Progress Tracker
- [x] Before Alpha
  - [x] Design Approval
    - [x] Design Proposal: https://github.com/kubernetes/kubernetes/pull/26057
    - [x] Initial API review (if API).
      -  **cc

[2016-07-20 12:31] mwitkow commented on #27
@girishkalele great to know. Can I ask a couple of questions for clarification?

We're operating Kubernetes for non-HTTP traffic (gRPC, and just plain TCP) on GCE using L3 Load Balancing (Network LB). We direct our L3 LBs to a bunch of Frontend Instances running `kube-proxy`. We rely on GCE network routes (programmed through Flannel) to direct the traffic to the Pod's IP address on a Worker Instan

[2016-07-20 14:21] smarterclayton opened #35 "Add a simple template API object that assists with config parameterization"
# Description

Simple config parameterization is an important tool for extending the utility of example config. This feature will add an API object that represents a set of standard parameters and a list of objects with replacement syntax, a minimal set of CLI commands that transform templates + parameters into a list of API objects, and an API endpoint that allow templates to be stored.
# Progres

[2016-07-20 16:39] girishkalele commented on #27
@mwitkow

No...what we are planning is to eliminate the double hop by using GCE load balancer health checks. Instances/VMs that host endpoints in that service will respond healthy, and all other instances will respond unhealthy - thus, the GCE LB will split traffic only across nodes that host the service in local pods.

[2016-07-20 16:47] erictune commented on #27
Does that mean that Source IP won't be preserved on non-GCE cloud providers?

[2016-07-20 16:58] girishkalele commented on #27
Sorry, I should have said "Cloud Load Balancer" instead of GCE.
Source IP preservation will also be possible on other cloud providers, we just need to program the health checks using the provider's API - this will be an update in the pkg/cloudprovider/<provider> package.

Note:
The new feature will be opt-in by adding an annotation in the service spec; the old LB behavior will still be the default

[2016-07-20 18:15] mwitkow commented on #27
@girishkalele ok, that makes sense. But that means that the `MASQUARADE` step needs to go away (and be replaced with `SNAT`+`DNAT` I presume?), otherwise the service in the Pod won't see the SRC ip.

[2016-07-20 19:09] childsb opened #36 "Configurable Dynamic Provisioning aka StorageClass"
# Description

The current dynamic provisioning feature supports only a single provisioner per cluster.  This feature will allow multiple provisioners to be configured in a single cluster.
# Progress Tracker
- [x] Before Alpha
  - [x] [Design Proposal.](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/volume-provisioning.md)
  - [x] Initial API review (if API).  Maybe same PR as

[2016-07-20 19:41] deads2k opened #37 "Access Review APIs"
# Description

The API server should provide endpoints to allow access control checks and subject access checks without direct knowledge of the backing authorization engine.  This allows delegation of authorization.
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and ho

[2016-07-20 19:44] deads2k commented on #37
@kubernetes/sig-auth @erictune @smarterclayton

We've talked about doing this for some time.  The API objects were actually approved and merged, but we've had trouble getting review attention on the PRs that provide the REST endpoints.

I'd really like to focus on getting this in for 1.4.  I think providing a complete authorization delegation API is important for things like server federation.

[2016-07-20 20:21] erictune commented on #37
David and I are both SIG leads and we both approve of this initiative.

On Wed, Jul 20, 2016 at 12:44 PM, David Eads <notifications@github.com>
wrote:

[2016-07-20 22:46] yujuhong commented on #16
@MikeSpreitzer if all you want is to present users/admins kubernetes labels associated with the container. You can easily get the pods and their status via the apiserver, and map the labels to the container IDs before presenting this information. For example, write a script called `docker_wrapper`, and users can run `docker_wrapper ps`, and the script will annotate the output with the labels it ge

[2016-07-21 02:00] MikeSpreitzer commented on #16
My present use case is a cluster operator who uses Kubernetes with the Docker runtime and wants to prescribe an additional Docker container label for every docker container created by Kubernetes, with the label's value derived by a certain computation on certain attributes of the pod that the container is part of.  It is important that the extra label actually be one of the Docker container labels

[2016-07-21 08:37] jimmycuadra commented on #11
@jbeda For your list of related work: https://github.com/InQuicker/kaws

[2016-07-21 14:11] nebril opened #38 "ConfigMaps can consume pod facts"
# Description

The idea is to add templated variables to ConfigMap values, so each time a ConfigMap is applied to a pod - it can transform the value into something specific to a pod. Right now the best example is pod IP address.

## Example

We assume that there are two possible variables that can be used to consume pod facts: `pod.IP` and `pod.name`, which evaluate to `pod.Status.podIP` and `pod.

[2016-07-21 14:30] derekwaynecarr opened #39 "kubelet evicts resources when observing disk pressure"
# Description

As a cluster operator, I want the kubelet to monitor local disk usage and respond accordingly to maintain node stability.  If the kubelet observes available disk and/or inodes (rootfs or imagefs) are under pressure, the kubelet should pro-actively reclaim related resource to maintain node stability by deleting images, logs, and evicting pods.
# Progress Tracker
- [ ] Before Alpha

[2016-07-21 14:33] derekwaynecarr commented on #39
/cc @kubernetes/sig-node

[2016-07-21 16:40] derekwaynecarr commented on #38
Is this use-case better served via an init container?

[2016-07-21 16:40] pmorie commented on #38
I think this is better served by consuming the downward API.

[2016-07-21 16:44] derekwaynecarr commented on #38
Or to clarify, have an init container that reads information from the downward API to write the necessary configuration into a shared volume that is then ultimately read by the standard container.

[2016-07-21 16:46] pmorie commented on #38
Let me explain in a little more detail:

1.  What is proposed here will not get you all the way to injecting the pod IP into a config file with some other information -- no matter what, you will still need an init-container as @derekwaynecarr suggested, to mutate your config file to include the IP address.
2.  ConfigMaps are not intrinsically a pod thing -- I would really prefer not to introduce a

[2016-07-21 16:50] derekwaynecarr commented on #38
Is there a sig identified to sponsor this feature?  maybe we can have this discussion on that sig?

[2016-07-21 17:10] idvoretskyi commented on #38
@derekwaynecarr I suppose, SIG-ClusterOps fits the best here ( unfortunately, I haven't found their team within k8s org to mention).

[2016-07-21 17:11] pmorie commented on #38
seems like sig-apps would be the one to me.

[2016-07-21 17:26] mikedanese commented on #38
ya this is related to @kubernetes/sig-apps

[2016-07-21 17:27] idvoretskyi commented on #38
@pmorie @mikedanese awesome, agreed.

[2016-07-21 18:14] yujuhong commented on #16
That's correct, and I think this is the preferred approach until we can update docker labels.

[2016-07-21 18:47] bgrant0607 commented on #38
@nebril Please don't start feature proposal discussions in this repo. It needs to stay low-traffic. Open a proposal PR in the main repo.

[2016-07-21 18:47] #38 closed

[2016-07-21 19:18] michelleN commented on #38
@nebril @pmorie can we put this on the schedule to discuss at sig-apps next week?
I'm `mnoorali` on the kubernetes slack.

[2016-07-21 22:25] philips commented on #38
@nebril I know @bgrant0607 is super busy and I agree with his decision to close this request.

Keeping tickets here low-traffic works if we ensure there is some [consensus on a feature in a SIG before it is filed](https://github.com/kubernetes/features#when-to-create-an-issue-here). And we want to keep it low traffic so that the signal to noise ratio is high.

Please start a discussion on a SIG ma

[2016-07-22 06:27] nebril commented on #38
I had no idea which SIG would fit for this one, but it seems like I should have used other channel for finding this out. Really sorry about that, won't happen again.

[2016-07-22 14:26] pigmej opened #42 "AppController - statefull app deployments"
# Description

AppController will allow to work with statefull applications that involve many components (openstack for example) more easy and more native. AppController will understand dependencies between kubernetes objects and therefore it will create them in correct order.

kubernetes/kubernetes issue: https://github.com/kubernetes/kubernetes/issues/29453

cc @kubernetes/sig-openstack @kuberne

[2016-07-22 14:47] smarterclayton commented on #42
Generally we prefer to only open features once we have rough consensus from one or more SiGs and a workable proposal.  Since you've already started an issue, we can converse and discuss the feature proposal there and then come back and reopen this later.  Adding a proposal describing your use cases to the issue is a good next step.

Thanks!

[2016-07-22 15:02] pigmej commented on #42
@smarterclayton I was instructed by @idvoretskyi (sig-openstack lead) to do it that way.

[2016-07-22 15:08] idvoretskyi commented on #42
@smarterclayton we have discussed that with @pigmej and I've proposed him to open the new feature as the soft deadline for 1.4 features is today.

I feel this feature useful in the scope of Kubernetes-OpenStack integration, so I'm advocating to reopen it to continue working on it. Other SIG's are welcome for further discussion.

cc @philips @aronchick to discuss it.

[2016-07-22 15:39] aronchick commented on #42
If the SIG is good, then I'm good. @smarterclayton - were there some
specific concerns?

On Fri, Jul 22, 2016 at 8:08 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2016-07-22 15:40] philips commented on #42
@idvoretskyi @pigmej Thinking through the spirit of the consensus building I don't think this feature has met the bar. I think generally SIG consensus can be documented a few different means:

- Mailing list discussion
- Notes from a SIG meeting
- Issue or proposal that gets buy in

Right now it appears we have one other person from the SIG and a very young issue (https://github.com/kubernetes/kub

[2016-07-22 15:50] idvoretskyi commented on #42
@philips, thank you for clarifying. We will handle it within the SIG-OpenStack and I'm asking @kubernetes/sig-apps  to support  it.

I'm expecting to reopen the issue later, after clarifying within the SIG(s). Also, I'd like to reserve an exception for adding it to 1.4 after the criteria will be met.

[2016-07-22 15:51] philips commented on #19
@soltysh On what SIG can I discuss this feature? I want to have a longer discussion about third-party resources for this feature and why we feel it needs to be built into core.

[2016-07-22 15:53] idvoretskyi commented on #42
@philips @aronchick I'd like to propose to define the criteria for submitting the "feature" with more details, I suppose, not all the Kubernetes community members are completely aware of it.

[2016-07-22 16:22] bgrant0607 commented on #42
Since this is discussing the meta-issue of how features should be used, I'll comment here.

Please be aware that SIG buy-in may not be sufficient for all features. For example, API changes require approval of API owners, and entirely new APIs must meet a higher bar.

I also commented on this specific proposal on https://github.com/kubernetes/kubernetes/issues/29453.

[2016-07-22 16:40] philips opened #43 "Kubelet TLS Bootstrap"
# Feature Description
- One-line feature description (can be used as a release note): kubelet generates a private key and a CSR for submission to a cluster-level certificate signing process.
- Primary contact (assignee): @mikedanese
- Responsible SIGs: sig-auth
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cluster-lifecyc

[2016-07-22 16:45] philips commented on #43
cc @kubernetes/sig-node FYI about this feature for Kubelet TLS bootstrap

[2016-07-22 17:28] mikedanese commented on #43
I think we should consider this pre-alpha until we complete:
* kubectl integration
* kubelet integration
* e2e testing

Is anyone currently working on this?

[2016-07-22 18:15] philips commented on #43
@mikedanese @gtank should be working on all of those things to get the feature done done.

[2016-07-22 18:38] erictune commented on #42
I can't tell if you are saying that you have someone in line to implement
it, or if you are asking sig-apps to find someone to implement it.
People should file feature issues once they have high confidence they have
found people who will implement (and support for some period) the feature.

On Fri, Jul 22, 2016 at 9:22 AM, Brian Grant <notifications@github.com>
wrote:

[2016-07-22 18:42] hongchaodeng opened #44 "etcd v3 as storage backend for APIServer"
# Description

This feature was merged into v1.3 and is an alpha feature behind a flag. Creating a feature for tracking through the rest of the process.

etcd v3 is a new API supported by etcd v3.0.0+. There are a [number advantages of this new API](https://coreos.com/blog/etcd3-a-new-etcd.html) but there are a changes that need to happen both externally, like turning etcd v3 on by default and mig

[2016-07-22 18:43] erictune commented on #19
Let's use SIG-Apps for now.  There has not been a lot of discussion of controllers there, that I have seen, but lets try and see how it goes.

[2016-07-22 18:47] timothysc commented on #44
/cc @kubernetes/sig-scalability

[2016-07-22 19:03] pigmej commented on #42
@erictune We ( @kubernetes/mirantis ) do have team to implement and support that. This is part of our contribution to k8s world.

[2016-07-22 19:04] aronchick opened #45 "Finish Federated Services"
# Description

Finish the federated services that have been completed in 1.3. This description is woefully incomplete and will be fleshed out/replaced by @quinton-hoole.

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its cur

[2016-07-22 19:20] erictune commented on #42
Great, thanks for the clarification.

[2016-07-22 19:21] pigmej commented on #42
@erictune sorry that it wasn't clear from the start.

[2016-07-22 19:53] quinton-hoole commented on #45
cc @madhusudancs who's working on the plan for G.A. here:

https://github.com/kubernetes/kubernetes/issues/29348

[2016-07-22 19:58] aronchick opened #46 "Federated ReplicaSet"
# Feature Description
- One-line feature description (can be used as a release note): Support ReplicaSets in Federation
- Primary contact (assignee): @perotinus
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/09ef55a496f8928573f7f4d2a8a38d0601737ddb/contributors/design-proposals/federated-replicas

[2016-07-22 20:04] philips commented on #45
cc @kubernetes/sig-cluster-federation

[2016-07-22 20:07] quinton-hoole commented on #46
cc: @mwielgus Who's co-ordinating this effort.

[2016-07-22 20:53] aronchick opened #48 "Simplify HA Setup for Master"
# Description

Simplify setup for HA Master. Description in kubernetes/kubernetes#29649
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to

[2016-07-22 20:55] aronchick opened #49 "Handle out-of-disk and refactor intelligent disk management"
# Description

Building on the disk accounting in 1.3, handle out-of-disk and refactor intelligent disk management. Proposal will be fleshed out by @dchen1107 or assignee.

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its c

[2016-07-22 21:00] aronchick opened #50 "Provide Opt-in Self-Reporting Pod"
# Description

The Kubernetes project would love to collect information about how customers are using their clusters, to help us prioritize work. The initial version of this feature would be downloaded (separate from installation) and would report on a regular basis:
- A UUID for the cluster
- How old the cluster is
- How many nodes are running on the cluster and what the profile of each node is
-

[2016-07-22 21:06] aronchick opened #51 "Workload spreading across failure domains (fix pod anti-affinity performance problem)"
# Description

As a user, I want to be able to spread workloads to multiple clusters spread across multiple failure domains to improve my application uptime.

(Note: This is just one use case for pod affinity/anti-affinity.)

# Progress Tracker

- [ ] Before Alpha
    - [x] Write and maintain draft quality doc: *This feature was implemented in 1.3, before the features repo process existed. It was

[2016-07-22 21:07] aronchick opened #52 "Ingress for Multi-Zone Clusters"
# Description

Provide ingress for multi-zone clusters. This description will be fleshed out by @quinton-hoole.

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature

[2016-07-22 21:09] aronchick opened #53 "Enable non-go clients: Move to OpenAPI(Swagger 2.0)"
# Description

Third party orchestrators can use a clean, swagger 2.0 based interface to interact with K8s, improving the ability to build k8s clients, and letting users use tools they are familiar with, and read up to date documentation. (includes + Swagger bug fixes). This description will be fleshed out by @lavalamp.
# Progress Tracker
- [x] Basic Swagger 2.0 discovery documents are served by 1

[2016-07-22 21:12] aronchick opened #54 "Redefine the Container Runtime Interface"
# Description

We should separate image management, resource / cgroup management, logging management from today's runtime interface. After this effort, we effectively make today's runtime interface as pod / container lifecycle management interface. cc @yujuhong @dchen1107

Proposal here: https://github.com/kubernetes/kubernetes/pull/25899
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and mai

[2016-07-22 21:15] aronchick opened #55 "System Correctness: Single Source for Default Values"
# Description

Developers have a single place where defaults should be coded, and kubectl doesn't need to roundtrip json before sending it to the apiserver

kubectl doesn't apply defaults or overwrite apiserver - the apiserver is the single place where defaults are intelligently created. cc @lavalamp
- [x] https://github.com/kubernetes/kubernetes/issues/3955

[2016-07-22 21:16] aronchick opened #56 "Define NodeSpec"
# Description

As a user, I want to add my own nodes to Kubernetes, and make sure they meet the minimum requirements for running as a Kubernetes node so that I can use pre-approved images, and speed adding new compute. cc @yujuhong @dchen1107
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired exper

[2016-07-22 21:18] aronchick opened #57 "Automate Docker Validation Process"
EDITED by @dchen1107 on Sept 23, 2016
# Description

Currently, Docker (https://www.docker.com/) is the default container runtime used by Kubernetes. Kubernetes release quality is significantly affected by Docker release quality.

The container technology evolves very rapidly, and so does Docker. Kubernetes can’t stick with a specific Docker version because
- Customers might ask for new features i

[2016-07-22 21:20] quinton-hoole commented on #51
I believe that this is the affinity performance improvement work that @davidopp and @wojtek-t ? are working on.  Reassigning.

[2016-07-22 21:21] quinton-hoole commented on #51
@aronchick Ooh. I don't seem to have permission to assign issues on this repo.  Can someone grant me permission?  @erictune might know what's going on here, because I think this repo was his idea.

[2016-07-22 21:23] quinton-hoole commented on #52
I believe that this is the "fix Ingress for multi-zone clusters" that @bprashanth is working on?  Could someone please re-assign, as I don't seem to have the required permission on this repo. Thanks.

[2016-07-22 22:43] bprashanth commented on #52
I haven't read the entire proposal, but multizone will already work. You just won't stay local to your zone, which I'm assuming most people want. kube-proxy is not zone aware so if you get a request in 1c it can send you to 1b instead.

To actually "fix" multizone, you need 2 clusters, one in 1c and one in 1b. Then kubeproxy will only keep you local, and the l7 will do smart anycast ip routing thi

[2016-07-22 23:02] quinton-hoole commented on #52
@bprashanth Yes, not staying in local zone is the desired behavior.  I was under the impression that there was some bug involving the confluence of Ingress and Multi-zone clusters, that we were planning to fix.  I'll try to find the issue tracking it.

[2016-07-22 23:03] quinton-hoole commented on #52
Either way, I don't think that fixing a bug is worthy of this heavy-handed release process.  I assume that this is cut-n-paste gone awry @aronchick ?

[2016-07-22 23:19] philips commented on #50
@aronchick we have an opt-in thing like this in Tectonic today that we could potentially open source. Who owns this feature so I can chat with them?

[2016-07-22 23:28] aronchick commented on #52
No, it's our intent to publish features so the community understands what's
coming. If it's just a bug, then I misunderstood this feature.

On Fri, Jul 22, 2016 at 4:03 PM, Quinton Hoole <notifications@github.com>
wrote:

[2016-07-22 23:29] bprashanth commented on #52
that bug was fixed for 1.3

[2016-07-22 23:30] bprashanth commented on #52
it still needs good e2es, though

[2016-07-22 23:30] aronchick commented on #52
Completed in 1.3.

[2016-07-22 23:32] bprashanth commented on #52
Looking through that list, the feature would be in alpha. There are no user docs, tutorials and no thorough testing (load, soak etc). It is implemented, with minimal testing, so I'm fine keeping this open since ~50% is accurate.

[2016-07-23 00:05] vishh commented on #49
Proposal has already been fleshed out and can be found [here](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/kubelet-eviction.md)

[2016-07-23 00:06] vishh commented on #49
BTW this seems like a dupe of #39.

[2016-07-23 00:07] vishh commented on #39
cc @ronnielai

[2016-07-23 00:25] euank opened #58 "rkt container engine support"
# Description

There is ongoing work for Kubernetes' support of [rkt](https://coreos.com/rkt/) as a production-ready, generally usable container runtime option. This project is sometimes called rktnetes. :rocket:

There has already been significant work to implement this feature, and as of v1.3 it's already a supported option. However, it does not yet have full feature parity with the default Dock

[2016-07-23 00:57] yifan-gu commented on #58
Can someone help adding 1.4 milestone for this? Thank you!

[2016-07-23 01:04] yujuhong commented on #58
/cc @kubernetes/features-maintainers

[2016-07-23 01:59] philips opened #59 "Container Image Policy"
# Description

Organizations wish to avoid running "unapproved" images.

The exact nature of "approval" is beyond the scope of Kubernetes, but may include reasons like:
- only run images that are scanned to confirm they do no contain vulnerabilities
- only run images that use a "required" base image
- only run images that contain binaries which were built from peer reviewed, checked-in source by a

[2016-07-23 17:40] aronchick commented on #49
Dupe

[2016-07-23 17:40] #49 closed

[2016-07-24 14:29] wojtek-t commented on #44
To be honest, I wouldn't say the current status of it is "alpha".

To clarify, it is technically possible to configure apiserver to use etcd3, and start this etcd3, but it is completely not supported by our startup scripts - so one would need to do it on his/her own. In my opinion this is necessary step to say this feature is in alpha.
What is more, we don't have any regular testing set up (not ev

[2016-07-24 16:23] therc commented on #27
This is very close to what I am working on for [node-local services] (https://github.com/kubernetes/kubernetes/pull/28637), in that `kube-proxy` will have to go from a node-agnostic approach, where its iptables rules look the same on all nodes, to a node-aware one, where the rules and behaviour are tailored to each host.

@girishkalele, how do you plan on plumbing the node's IP through? It can be

[2016-07-24 22:03] aronchick opened #60 "Inter-pod affinity/anti-affinity"
Design Doc: https://github.com/kubernetes/kubernetes/blob/master/docs/design/podaffinity.md
- e.g. "put these pods in zone us-central1-a"
- predicate and priority function are done, it was alpha in 1.2, no change in 1.3
- remaining work (low-priority since nobody has been asking for it) is to implement the "RequiredDuringExecution" option which means evict a pod if node labels change, or pod's aff

[2016-07-24 22:04] aronchick opened #61 "Forgiveness"
# Description
- taints/tolerations is a building block for this
- what it is: "instead of the usual five minutes, wait to evict this pod until the node has been not-ready for N minutes" (where N is selected in the pod); this is useful for stateful apps where it's painful to rebuild state on a new node
- we'll have a simple version of this in 1.4; see here: https://github.com/kubernetes/kubernetes/

[2016-07-25 02:05] aronchick opened #62 "Prioritized scheduling of critical cluster addon pods"
# Description

Kubernetes has "cluster addon pods" that provide system services but do not run on the master node. Some of them are critical to have fully functional cluster: Heapster, DNS, UI. Users can break their cluster by evicting a critical addon (either manually or as a side effect of an other operation like upgrade) which possibly can become pending (for example when the cluster is highly

[2016-07-25 06:53] euank opened #63 "Support multiple image types, e.g. OCI"
# Description

Currently, a Kubernetes Pod's containers are assumed to be Docker images (and to use Docker's discovery).

However, with the progress of the [OCI Image Spec](https://github.com/opencontainers/image-spec), the inclusion of the rkt runtime (which supports docker, OCI, and ACI images), it's clear that now is a good time to consider making it possible to run additional formats.

Existin

[2016-07-25 09:19] tmrts commented on #54
cc @kubernetes/sig-node @euank @yifan-gu

[2016-07-25 13:50] resouer commented on #54
Great, thanks for listing all these here!

[2016-07-25 14:58] ncdc commented on #33
@rata do you think you'll be able to code this in time for 1.4?

[2016-07-25 15:49] idvoretskyi commented on #61
cc @kubernetes/sig-scheduling

[2016-07-25 15:49] idvoretskyi commented on #60
cc @kubernetes/sig-scheduling

[2016-07-25 15:50] idvoretskyi commented on #59
cc @kubernetes/sig-auth

[2016-07-25 15:52] justinsb commented on #56
NodeSpec is a confusing word (for me) - this is different from `type NodeSpec` in pkg/api/types.go, right?

[2016-07-25 15:53] idvoretskyi commented on #57
cc @kubernetes/sig-node

[2016-07-25 15:53] idvoretskyi commented on #56
cc @kubernetes/sig-node

[2016-07-25 15:54] idvoretskyi commented on #55
cc @kubernetes/ux

[2016-07-25 15:57] idvoretskyi commented on #48
cc @kubernetes/sig-cluster-lifecycle

[2016-07-25 16:04] erictune commented on #59
@soltysh you were interested in this issue too.

[2016-07-25 16:04] rata commented on #33
On Mon, Jul 25, 2016 at 07:58:11AM -0700, Andy Goldstein wrote:

My plan was to start working on this on Tuesday, as I have an exam on Tuesday at
university. IS this too late?

I think the change can be not so hard, for the quick look I had at th code (it
seems we just created a skydns backend in kube-dns, and seems is easy to add
another type response, CNAME, for what I looked).

But if you are c

[2016-07-25 16:08] ncdc commented on #33
@rata that should be fine. I was just checking in. Thanks!

[2016-07-25 16:11] idvoretskyi commented on #52
@aronchick @bprashanth @quinton-hoole gentlemen, can you polish the description (including shepherd, referenced SIG etc.)? Thank you.

[2016-07-25 16:58] philips commented on #56
@justinsb I think it is stuff like the systemd NodeSpec https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/kubelet-systemd.md

I am a little confused as well and hope that @yujuhong and @dchen1107 can help to clarify the description.

cc @derekwaynecarr

[2016-07-25 17:26] vishh commented on #56
NodeSpec used to be a term that referred to node configuration that is compatible with the underlying runtime, OS and system components like systemd. It is meant to make it possible to easily add nodes to an existing kubernetes cluster. @dchen1107 might have more requirements for this feature.

[2016-07-25 17:51] girishkalele commented on #27
@mwitkow

Yes, we eliminate the SNAT (and Masquerade rules shouldn't be hit for traffic with external source ips).

[2016-07-25 17:56] girishkalele commented on #27
@therc

I didn't need to pass the node IP to kube-proxy for this, atleast on GCE, none of the iptables rules need it for my purposes - did you have a need for it for the local-service implementation ?

I see the following note in that user-guide -
```TCP and SSL will select layer 4 proxying: the ELB will forward traffic without modifying the headers.```

The AWS LB looks like it will do L7 balanci

[2016-07-25 17:58] aronchick commented on #27
Please have these discussions on the design proposal. Let's try to keep the
feature repo meta.

On Mon, Jul 25, 2016 at 10:56 AM, Girish Kalele <notifications@github.com>
wrote:

[2016-07-25 18:03] philips commented on #62
@davidopp @piosz can you please fill in the description further? I think the level of context and description https://github.com/kubernetes/features/issues/63 provides is sufficient.

[2016-07-25 20:09] soltysh commented on #59
@erictune thx

[2016-07-25 20:12] timothysc commented on #39
Given todays conversation, perhaps we could have a default policy of: "should pro-actively reclaim related resource to maintain node stability by deleting images, logs, and evicting pods." with the potential of firing an administrator controlled script which could also apply to other resource dimensions.

/cc @nqn

[2016-07-26 00:44] derekwaynecarr commented on #39
I think that is feature creep.  The goal is disk.  Other resource
dimensions can be monitored outside of the Kubelet.  We can discuss in
sig-node.

On Monday, July 25, 2016, Timothy St. Clair <notifications@github.com>
wrote:

[2016-07-26 05:04] davidopp commented on #62
OK I updated it.

[2016-07-26 06:22] davidopp commented on #61
cc/ @kevin-wangzefeng

[2016-07-26 08:18] amouat commented on #22
What's the current status of this? It's not clear to me who's working on what or what the next steps are. @soltysh came up with a working PR that has had a lot of feedback and discussion: https://github.com/kubernetes/kubernetes/pull/27087

[2016-07-26 08:56] sttts commented on #22
@amouat in the mentioned PR @soltysh introduces what we call "basic auditing", basically access.log-style logging only without any deeper api knowledge. To my knowledge mainly log-rotation is an open issue.

https://github.com/kubernetes/kubernetes/pull/29443 is the continuation by me and @soltysh describing more "advanced auditing" where the basic audit output would just be a special case. This f

[2016-07-26 09:12] amouat commented on #22
Thanks!

I have to say this process is very confusing. The discussion has moved from issue #2203, to PR #27087 to this issue and then to #29443, with no clear indication on each where the current discussion is happening, or what the next steps are :(

Many thanks for you work on this though, I don't mean to sound ungrateful towards a great OS project. I just wanted to check that this issue was sti

[2016-07-26 20:27] jberkus commented on #60
One thing which might make a common case of anti-affinity simpler is to allow expansion of the "spread" concept to an abitrary label.  That is, if I could say:

    spread: { type: database }

That would let me express the idea of "don't run a pod with type: database on a node with any other pod of type: database", and thus allow a very simple way of expressing "don't put two Postgres pods on the

[2016-07-26 20:29] jberkus commented on #60
... continued:

One refinement of this is that I can imagine wanting user-controllable "weak" vs. "hard" spread rule.  For example, in most of my Postgres deployments, I would rather be short one or two pods than put two Postgres pods on the same machine (a hard rule).  On the other hand, in the proxy case, I could imagine saying "don't put two pods from this class on the same node if you can help

[2016-07-26 20:51] davidopp commented on #60
Both of the things you mentioned are supported. See the design doc linked to above (it had the wrong URL originally and I fixed it last night, so you may have read the wrong doc if you already looked at that).

[2016-07-26 21:22] gtank commented on #43
Current status of what needs to be done:

1. kubelet needs to use the Certificates API. This will involve one new flag, provisionally `--bootstrap-auth-token` which will take a long random string. The kubelet uses this token to authenticate its requests to the Certificates API. Cluster-level access control should ensure that it can only be used for certificates requests. When this token exists, if

[2016-07-26 21:26] timothysc commented on #48
What exactly are we aiming to do here?  We haven't cited the series of issues that @mikedanese and I created a while ago and the description doesn't exist.

[2016-07-26 21:39] jberkus commented on #60
Ah, I read the design doc and I couldn't find that particular feature.  Keywords/lines?

[2016-07-26 21:50] davidopp commented on #60
See "Can only schedule P onto nodes that are running pods that satisfy P1. (Assumes all nodes have a label with key node and value specifying their node name.)". Then substitute
* P1 is a label selector that expresses "pod of type: database"
* Can only -> Cannot (by using PodAntiAffinity instead of PodAffinity)

See the comment for PreferredDuringSchedulingIgnoredDuringExecution (that's the "soft"

[2016-07-26 21:51] yujuhong commented on #56
What I remember about NodeSpec is consistent with what @vishh mentioned -- we need better documentations on the requirements of a node to run kubelet. Not sure if there are any action items beyond documentations.

[2016-07-26 21:53] vishh commented on #56
NodeSpec requires enforcement of Allocatable, System and Kube cgroups
limits, and possibly disk space isolation too.

On Tue, Jul 26, 2016 at 2:51 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-07-26 22:03] yujuhong commented on #56
@vishh, this is marked for v1.4, so I doubt we'll be enforcing all those within the timeframe :-)
Let's see what Dawn has in mind.

[2016-07-26 22:03] jberkus commented on #60
Keen, thanks!

[2016-07-26 22:52] fgrzadkowski commented on #48
The idea is to automate setting up HA master in OSS. We will use `kube-up.sh` for GCE for that.

[2016-07-26 22:58] philips commented on #48
@timothysc can you gather up those issues and we can update the issue body?

@fgrzadkowski can you and @jszczepkowski work to create a more useful body?

[2016-07-26 23:16] errordeveloper commented on #48
Yes, please, it would be great to see it all in one place. Also, lately I
had been thinking about what HA control plane bootstrap/discovery API could
look like.

On Tue, 26 Jul 2016, 23:58 Brandon Philips, <notifications@github.com>
wrote:

[2016-07-27 01:36] fgrzadkowski commented on #48
I've just sent PR with design for this feature in https://github.com/kubernetes/kubernetes/pull/29649. Please see what's missing.

[2016-07-27 10:29] idvoretskyi commented on #63
@euank @philips folks, have you found the appropriate person to be an assignee?
Are we expecting to have it in 1.4 or in 1.5 (as you mentioned in a note below)?

[2016-07-27 13:07] soltysh commented on #63
I might find some time to help abstracting the kubelet interface which allows accessing different runtimes.

[2016-07-27 13:59] timothysc commented on #48
All backlog'd items have been labeled: https://github.com/kubernetes/kubernetes/labels/area%2FHA

[2016-07-27 17:31] SEJeff commented on #2
@jimmycuadra And you couldn't use systemd's [EnvironmentFile](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#EnvironmentFile=) pointing to a file that is mutable to change the flags? That achieves the immutable systemd unit file with the flags without changing the scope of this feature. Could that work?

[2016-07-27 18:01] jimmycuadra commented on #2
There are workarounds, but ultimately we'd like a way to do it without having to mutate files on the host system. Moving the flags to an environment file doesn't make it any better for us, we still have to modify files on the host which otherwise would've been provisioned when the system was first launched and then not changed again. The one exception we have right now is for updating TLS certs/ke

[2016-07-27 20:54] gtaylor commented on #19
Is this being considered for exclusion from the core? I had thought the proposal was already accepted.

[2016-07-27 20:59] soltysh commented on #19
@gtaylor nothing has been decided yet. Currently it'll be part of alpha group in batch, what will happen when this migrates to more stable is not yet known.

[2016-07-28 02:23] davidopp commented on #19
My understanding was that this was accepted into core, while job workflow was rejected for core. In fact we had originally planned to have it in 1.3.

[2016-07-28 08:21] soltysh commented on #19
@davidopp my comment was based on the discussion we've previously had with @philips @erictune [here](https://github.com/kubernetes/kubernetes/pull/25475#issuecomment-220334444). Although, personally I'd prefer SJ stay in the core :sunglasses:

[2016-07-29 04:41] davidopp commented on #19
@soltysh I interpreted the comment as implying that it would be in core (based on the mention of alpha/beta and the statement "If someone were to produce a third-party version of scheduledJob, well before 1.4, and show that was comparably useful, that would be persuasive argument for the latter path" where the latter path was ThirdParty).

[2016-07-29 13:41] erictune commented on #19
@davidopp that comment was made when I thought SJ would be Beta in 1.4. Now it is going to Alpha in 1.4.   The philosophy was that we can cancel an alpha feature for whatever reason, but we should have a pretty high bar for cancelling a beta feature.

[2016-07-29 13:43] erictune commented on #19
Also, to all working on SJ: we should continue work at full speed, despite the above conversation.  Much of the work will apply either way, and we need to get some kind of feature out to users so they can give feedback.

[2016-07-29 13:50] soltysh commented on #19
All SJ work is at full speed, the only remaining problem (hopefully) is to have https://github.com/kubernetes/kubernetes/pull/29187 in. I'm hoping to discuss this issue with @smarterclayton today or over the weekend and have it merged so next week we should see one after the other SJ PRs being merged.

[2016-07-29 14:13] luxas commented on #56
cc @luxas

[2016-07-29 14:14] luxas commented on #63
/sub

This is interesting

[2016-07-29 15:53] timothysc commented on #57
Same comment on this one regarding full description.

[2016-08-01 00:08] derekwaynecarr commented on #56
I would suspect enforcement of system reserved, etc will come in 1.5.  My
understanding is similar to @vishh

On Friday, July 29, 2016, Lucas Käldström <notifications@github.com> wrote:

[2016-08-03 15:37] dickhardt commented on #32
FYI: there is a draft Best Current Practice for native apps and OAuth

https://tools.ietf.org/html/draft-ietf-oauth-native-apps-03

[2016-08-04 15:46] idvoretskyi commented on #63
@euank @philips any updates on this issue (regarding an assignee and expected milestone data)?

[2016-08-04 16:05] idvoretskyi commented on #52
@aronchick @bprashanth @quinton-hoole folks, any updates?

[2016-08-04 16:08] idvoretskyi commented on #51
@davidopp @wojtek-t folks, which SIG is responsible for this feature?

[2016-08-04 16:25] idvoretskyi commented on #33
@smarterclayton @rata what SIG is responsible for this feature?

[2016-08-04 16:50] ncdc commented on #33
I would assume network

[2016-08-04 16:58] idvoretskyi commented on #33
@ncdc thanks

[2016-08-04 17:03] rata commented on #33
@ncdc @smarterclayton @thockin I'm more busy than I expected (at $DAYJOB and university) and I'm not sure I'll make it on time on this. Do you want to start working on this, and if I have some time maybe jump on this later?

[2016-08-04 18:00] lukemarsden commented on #11
Update on the plan for this feature: https://docs.google.com/presentation/d/17xrFxrTwqrK-MJk0f2XCjfUPagljG7togXHcC39p0sM/edit?ts=57a33e24

[2016-08-04 18:39] euank commented on #63
Nothing yet, sorry! I'll hop on a @kubernetes/sig-apps meeting and see if they're interested and, failing at that, I can try to get together a proposal myself.

[2016-08-04 19:19] rata commented on #33
I'm really really sorry, and I wish I could work on this, but I'm already late (planned to start 2 days ago) and more busy than I expected. I think it's better to say this early so this gets implemented in 1.4. But I'm really really sorry :-/

[2016-08-04 19:41] davidopp commented on #51
SIG Scheduling

[2016-08-04 19:41] davidopp commented on #51
(since it is primarily a new scheduling feature -- it just happens that the last bit of work that had to be done was making the performance acceptable to enable it, which @wojtek-t just finished)

[2016-08-04 20:40] aronchick commented on #33
@smarterclayton Do you think you can find someone else to tackle? Or should we just punt to 1.5.

[2016-08-04 23:39] AdoHe commented on #63
/cc

[2016-08-05 00:24] bprashanth commented on #52
The work that remains is testing+docs. Given how we structure these releases, I don't plan to spend any time on that till after the point when i can no longer check in other "features".

[2016-08-05 00:25] bprashanth commented on #52
By testing i mean load and soak testing, we already have basic tests

[2016-08-05 05:22] bgrant0607 commented on #52
@philips @idvoretskyi @aronchick Could we please not actually notify teams like kubernetes/docs in the feature template? It's generating noise. Please quote the notifications.

[2016-08-05 05:26] bgrant0607 commented on #63
@euank The original issue was https://github.com/kubernetes/kubernetes/issues/7203. I can't attend SIG Apps at its current meeting time, but please notify me on any proposal and email me directly, since this presents a tricky backward-compatibility issue for the API.

[2016-08-05 16:54] therc commented on #33
I'm also working on node-local services, so perhaps I can help with this. That way, I can blame myself for the ensuing rebases. :-)

[2016-08-05 18:43] rata commented on #33
@therc thanks again! :)

[2016-08-05 20:45] idvoretskyi commented on #33
@therc thank you for your help, assigned you as an assignee.

[2016-08-05 20:47] idvoretskyi commented on #63
@euank thank you for the update!

[2016-08-05 21:25] philips commented on #43
Status update:

PR for kubelet TLS bootstrap is up: https://github.com/kubernetes/kubernetes/pull/30094

[2016-08-05 21:55] mikedanese commented on #43
Kubectl support tracked int kubernetes/kubernetes#30163 with some basic support prs out

[2016-08-05 22:47] philips commented on #59
Status update: design proposal is merged: https://github.com/kubernetes/kubernetes/pull/27129

[2016-08-05 22:50] philips commented on #59
Also, @ecordell intends to work on the code for this feature now that the code has been merged. @Q-Lee @erictune @alex-mohr

[2016-08-08 22:28] gtank commented on #43
Currently in flight:

- Implement TLS bootstrap for kubelet using `--bootstrap-auth-token` https://github.com/kubernetes/kubernetes/pull/30094
- Add an option to controller-manager to auto approve all CSRs https://github.com/kubernetes/kubernetes/pull/30153
- Kubectl should support CertificateSigningRequest https://github.com/kubernetes/kubernetes/issues/30163
- Add a certificate signing request r

[2016-08-09 03:05] liggitt commented on #43
The scope of https://github.com/kubernetes/kubernetes/pull/20439/ was around obtaining TLS serving certs. The kubelet's use of this API should probably be limited to obtaining serving certs initially. Since the kubelet already needs API credentials to submit the initial CSR, obtaining client credentials this way doesn't buy us a whole lot from a bootstrapping perspective.

[2016-08-09 03:46] mikedanese commented on #43
It allows us to bootstrap individual kubelet identities from a single cluster wide shared secret (bearer token for a kubelet-bootstrap user authorized to submit CSRs).

[2016-08-09 03:52] liggitt commented on #43
If the goal is to identify kubelets individually so we can partition node permissions (which I am in favor of), multiple identities obtained from a single shared credential aren't meaningful from an auth perspective.

If we just want to identify requests from different nodes for debugging purposes, we can do that with user-agent strings (the same way controllers set up their own client user-agent

[2016-08-09 04:02] mikedanese commented on #43
I'm not convinced of this. In fact I think this would work equally well if the CSR API was open (didn't require auth[n/z]). The shared secret is a mechanism that prevents a specific dos attack where a user could spam the CSR API with CSRs that would not be approved. @gtank can you weigh in on this?

[2016-08-09 20:44] bgrant0607 commented on #43
cc @kubernetes/sig-cluster-lifecycle

[2016-08-10 06:23] eghobo commented on #19
@soltysh: it looks like #29187 was merged, does it mean next 1.4 alpha release will have SJ ready to play?

[2016-08-10 12:05] soltysh commented on #19
@eghobo that's the plan.

[2016-08-10 13:33] lukemarsden commented on #11
Proposal: https://github.com/kubernetes/kubernetes/pull/30360

[2016-08-11 16:45] idvoretskyi commented on #52
@bgrant0607 https://github.com/kubernetes/features/pull/64 should fix that.

[2016-08-11 17:25] timothysc commented on #44
Enablement has occurred as of - https://github.com/kubernetes/kubernetes/pull/29399

We are currently following up with v3client enablement, which is in progress.

Also, please add @wojtek-t and @timothysc as assignees as well.  Many folks are involved in this effort.

[2016-08-11 18:41] philips commented on #44
done. thanks for the update @timothysc

On Thu, Aug 11, 2016 at 10:25 AM Timothy St. Clair <notifications@github.com>
wrote:

[2016-08-11 20:54] philips commented on #43
@mikedanese @liggitt can we please move the technical discussion about the design of the system to the https://groups.google.com/forum/#!forum/kubernetes-sig-node mailing list.

[2016-08-11 20:58] gtank commented on #43
@liggitt @mikedanese The nodes derive individual identities from the shared token. The token only exists to 1) filter requests meant for other clusters and 2) allow us restrict the nodes from accessing the rest of the API before they have client certs.

[2016-08-11 21:35] johndmulhausen commented on #43
Hi all,

I'm sorry for the nag, but it looks like I am still getting messages from
the SIG group and other Kubernetes teams because I'm still listed as a
member on GitHub. I've already left the organization, but apparently that
doesn't cascade down and remove me from teams.

Hope you guys are all doing well!

-John

On Thu, Aug 11, 2016 at 1:54 PM, Brandon Philips <notifications@github.com>
wrote:

[2016-08-12 00:14] sarahnovotny commented on #43
hi @johndmulhausen i checked and you're not a member of the organization or any team (that i can find mentioned on this issue).  it may be worth "ignoring" the kubernetes repos per the article below.  i don't see a way to stop notifications on existing issues/prs etc.  feel free to hit me in email if you want to followup.

https://help.github.com/articles/unwatching-repositories/

[2016-08-15 23:41] pwittrock commented on #43
@philips Is this on target for the 1.4 feature freeze this Friday (Aug 19)?

[2016-08-16 22:43] mike-saparov commented on #43
@pwittrock: based on https://github.com/kubernetes/kubernetes/pull/30094 this feature suddenly started being redesigned in flight after 5 months of work... Any suggestions on how to avoid the major redesign three days before feature freeze are welcome

[2016-08-16 23:36] smarterclayton commented on #43
Occasionally we will realize gaps in designed features as they are implemented.  We definitely need a process that handles that - rushing features to delivery without all the proper technical due diligence being done is going to cause more issues than occasionally features missing a release.  I think everyone involved is trying to find the best and most secure option for the platform here.

[2016-08-16 23:40] mike-saparov commented on #43
@smarterclayton based on PR discussions it would be great if @liggitt and @deads2k could help with parts of the feature, wdyt? any coding / review help is appreciated to address raised concerns.

[2016-08-16 23:45] smarterclayton commented on #43
I believe both of them had been representing sig-auth on the security aspects here - I had not yet seen an update on the remaining issues though.  That's probably appropriate on the linked issue.

[2016-08-17 09:11] erictune commented on #19
This needs docs in k8s.io, but it looks like code is in.  Awesome!

[2016-08-17 09:20] davidopp commented on #19
+100

[2016-08-17 17:29] idvoretskyi commented on #42
Reopening the feature request.

@kubernetes/mirantis have presented the feature demo at the @kubernetes/sig-apps meeting, have received the positive feedback and a "green light" to move forward.

@pigmej please, update and fill the necessary fields in the Progress tracker.

[2016-08-17 18:36] dchen1107 commented on #57
* Built the infrastructure to run node e2e tests against nightly docker build on GCI. Now we test docker nightly builds and generate the reports.

TODO:
Need to enable performance tests to validate docker nightly build too.

[2016-08-17 18:37] euank commented on #63
With no takers at this point, I think this is definitely something to bump to 1.5.

We should shoot for having an initial proposal out before 1.4 ships to have a good shot at getting an alpha in 1.5.

[2016-08-17 18:40] alex-mohr commented on #60
@davidopp says this is done.

[2016-08-17 18:41] alex-mohr commented on #44
@wojtek-t Is the current plan to switch to etcd3 for 1.4?

[2016-08-17 18:43] alex-mohr commented on #52
@matchstick Still on track for Friday, I assume?

[2016-08-17 18:43] bprashanth commented on #52
https://github.com/kubernetes/features/issues/52#issuecomment-237724533 is accurate

[2016-08-17 18:44] alex-mohr commented on #56
@dawnchen says 1.4 will do node conformance test, but parts of this will land in v1.5.  (I think I got that Dawn?)

[2016-08-17 18:45] alex-mohr commented on #51
@davidopp says done.

[2016-08-17 18:45] alex-mohr commented on #48
@davidopp thinks this is unlikely to make it.

[2016-08-17 18:48] wojtek-t commented on #44
@alex-mohr - that's a very good question. Here is what we have:
- we have e2e suite that is running with etcd3 underneath
- the first version of migration etcd2 -> etcd3 PR is already in-flight and LGTMed so should be in ~tomorrow
- we have some relatively simple, but real migration test as part of my PR
- I did some manual testing and it seems to work

What we are missing:
- there is no rollback,

[2016-08-17 18:49] xiang90 commented on #44
I believe @hongchaodeng is also working on this. @hongchaodeng told me that we are not loosing events, just that the moved events do not have TTL attached properly. We need to fix that part by attaching them to a lease correctly for the first bootstrap after migration.

[2016-08-17 18:50] xiang90 commented on #44
/cc @timothysc Anything from you? Are we able to switch unit tests/e2e test to etcd3 within next few weeks?

[2016-08-17 18:52] wojtek-t commented on #44
@hongchaodeng told me that we are not loosing events, just that the moved events do not have TTL attached properly

Yes - that's what I meant.

And yes - it's definitely doable, but it's not yet done. I mentioned things that we are missing.

[2016-08-17 18:52] wojtek-t commented on #44
e2e tests are already fixed - we have a Jenkins suite running with etcd3 underneath and using v3 client.

[2016-08-17 18:52] alex-mohr commented on #21
Doesn't appear to have had any traction in 1.4, so pushing to 1.5 -- chime in if that's incorrect.

[2016-08-17 19:40] davidopp commented on #60
Sorry, I was mis-remembering what this issue is; the part of this that is described in #51 is done, but this one was not intended to be finished in 1.4. I've moved to 1.5 milestone.

[2016-08-17 19:41] davidopp commented on #48
Yeah, definitely not going to make it.

[2016-08-17 20:42] quinton-hoole commented on #45
FYI this issue can be ignored for now.  It's not useful in it's current for for v1.4

[2016-08-17 20:47] goltermann commented on #33
In a meeting today, it was mentioned that this is missing v1.4.  I'm moving to the v1.5 milestone.  Please bring back to v1.4 if that's not accurate.

[2016-08-17 21:01] timothysc commented on #44
So the entire test suite has etcd3 as a backend.  The work item/question I've been having is whether to enable clientv3 by default for the 1.4 release, and at this point I'm going to say NO for several reasons.

- Currently we don't have security setup on clientv3 connections plumbed through
- Unit + Integration Testing infrastructure needs cleaning and removal of old client and config references,

[2016-08-17 21:19] lavalamp commented on #44
Yes. v2 client until we have migration (both ways) at least.

On Wed, Aug 17, 2016 at 2:01 PM, Timothy St. Clair <notifications@github.com

[2016-08-17 21:37] sarahnovotny commented on #42
per the feature burndown meeting today: this will land in kubernetes-incubator first and be promoted based on the criteria in - https://github.com/kubernetes/community/blob/master/incubator.md

[2016-08-17 23:17] philips commented on #57
@dchen1107 Do you have a link to these test runs people should watch?

[2016-08-17 23:22] philips commented on #59
Updated the PRs for the current implementation https://github.com/kubernetes/kubernetes/pull/30631 and API changes https://github.com/kubernetes/kubernetes/pull/30241. Looks likely to land for v1.4. @q-lee and @ecordell how are y'all feeling?

[2016-08-17 23:34] Q-Lee commented on #59
@philips It's looking good.

@philips The API is being tested in the merge queue atm, and the implementation is close to an lgtm. I'm setting up a test for gce/gci on top of ecordell's changes atm.

[2016-08-18 06:24] wojtek-t commented on #44
I definitely agree that migration both ways is a blocker.

However, I don't agree that unit tests are a blocker - if we have e2e & integration tests working, then I don't think unit tests are that important.

The reason why I would like to have this is that we had a discussion and we don't want to launch both protobuf format for storage and etcd3 in a single release. And we will definitely need to

[2016-08-18 10:31] wojtek-t commented on #44
So let me summarize the missing things here:
- [ ] https://github.com/kubernetes/kubernetes/pull/30500 for initial version of migration
- [ ] rollback support in migration script
- [ ] attaching events (the only objects with TTL) to a lease (ttl`s are not migratable)
- [ ] more extensive corretness testing for migration
- [ ] scalability testing
- [ ] migration of unit tests to use v3 client
- [ ]

[2016-08-18 13:01] ecordell commented on #59
@philips API is in! I'm hopeful the implementation will go through today

[2016-08-18 14:54] timothysc commented on #44
I was able to get the tests cleaned up, I'll have PR shortly.

[2016-08-18 17:16] derekwaynecarr commented on #39
All PRs planned for 1.4 have merged in time for feature freeze, I will update the check-list next week.

[2016-08-18 17:18] ericchiang commented on #32
I've not been able to get the PRs up in time so I'm bumping the release.

[2016-08-19 20:37] xiang90 commented on #44
@hongchaodeng Can you please merge https://github.com/kubernetes/features/issues/44#issuecomment-240685787 into the tracking list and also update the current status?

[2016-08-19 21:57] hongchaodeng commented on #44
@xiang90
Updated tracking list.

@wojtek-t
Can you clarify "GKE bits" as a list of action items?

[2016-08-19 21:58] timothysc commented on #44
https://github.com/kubernetes/kubernetes/pull/30890

[2016-08-21 15:43] ecordell commented on #59
kubernetes/kubernetes#30631 is merged

[2016-08-22 07:17] wojtek-t commented on #44
@hongchaodeng - GKE bits is our internal stuff that we need to change. This is more to remind us what we need to do.

[2016-08-22 14:20] timothysc commented on #44
https://github.com/kubernetes/kubernetes/pull/30843

[2016-08-22 17:57] idvoretskyi commented on #42
@sarahnovotny we have discussed the ability to make this feature available in Kubernetes codebase and have decided to continue working with the feature implementing. To extend the feature functionality and make it tightly bound with Kubernetes codebase we have decided to continue the development of AppController in Kubernetes 1.5 scope.

[2016-08-22 18:12] smarterclayton commented on #35
Not in 1.4

[2016-08-22 18:15] smarterclayton commented on #12
Need release note for 1.4 but consists of significant performance improvements to scheduler, refinement of cluster performance at the 2000 node scale, CPU and memory improvements across the board, and a number of smaller fixes to components to streamline future improvements.

[2016-08-22 21:38] pweil- commented on #5
@goltermann I noticed this was marked with alpha but I believe it probably needs the beta tag based on https://github.com/kubernetes/features/issues/5#issuecomment-217939650

[2016-08-22 21:41] goltermann commented on #5
@erictune does beta sound right based on the @pweil- comment?

[2016-08-22 21:48] pweil- commented on #5
@goltermann I think technically this would've been beta in 1.3, it is not new to 1.4 though development is ongoing.

[2016-08-22 22:45] andrewstuart commented on #35
Some relevant discussion has taken place here: kubernetes/kubernetes#30716

[2016-08-22 23:09] erictune commented on #5
Yes, beta is correct.  I was incorrect when I said alpha earlier today.

[2016-08-22 23:10] quinton-hoole commented on #46
@aronchick @goltermann could one of you please give me write access to this repo?  I don't seem to be able to edit this issue.

[2016-08-22 23:12] quinton-hoole opened #67 "Federated Secrets"
- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kubernetes release. Paste link to Google Doc: **DOC-LINK**
    - [ ] Design Appr

[2016-08-22 23:13] quinton-hoole opened #68 "Federated Secrets"
- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kubernetes release. Paste link to Google Doc: **DOC-LINK**
    - [ ] Design Appr

[2016-08-22 23:14] quinton-hoole opened #69 "Federated Namespaces"
# Description

**Add description here**

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kubernetes release.

[2016-08-22 23:14] quinton-hoole opened #70 "Federation Events"
# Description

**Add description here**

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kubernetes release.

[2016-08-22 23:15] #67 closed

[2016-08-22 23:36] goltermann commented on #5
great, fixed it up

[2016-08-23 13:07] therc commented on #33
Two more things needed: rejecting Ports (as already agreed with @thockin) and teaching `kubectl` about the new field.

[2016-08-23 15:46] quinton-hoole opened #71 "Federated read access to cluster API objects"
# Feature Description
- One-line feature description (can be used as a release note): Federated read access to cluster API objects
- Primary contact (assignee): li.xing1@huawei.com aka cindyxing12345@gmail.com
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo): https://docs.google.com/document/d/1H2BkqSKvoCSifi7c8D2gASSJo20ocIEYDMSfNfcylBc/edit#

[2016-08-23 15:49] quinton-hoole opened #72 "Private Federated Services"
# Description

Federated services that are not exposed on public IP's or public DNS names.
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs

[2016-08-23 16:00] quinton-hoole opened #73 "Federation per-user cluster authentication, authorization and audit logging"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @nikhiljindal
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- A

[2016-08-23 19:04] aronchick commented on #46
Done

On Mon, Aug 22, 2016 at 4:10 PM, Quinton Hoole <notifications@github.com>
wrote:

[2016-08-23 19:28] deads2k commented on #37
https://github.com/kubernetes/kubernetes/pull/31271 adds the SelfSubjectAccessReview API.

[2016-08-23 21:10] quinton-hoole opened #74 "Federation: Generalized Cluster Selection and Weighting"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @marun
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- Approver

[2016-08-23 22:23] gtank commented on #43
Update: kubelet support merged in https://github.com/kubernetes/kubernetes/pull/30922

[2016-08-23 23:18] yifan-gu commented on #43
To be more clear,  kubernetes/kubernetes#30922 only requests the kubelet client cert from API server. We will need follow up work on getting the kubelet serving cert.

[2016-08-24 09:19] errordeveloper commented on #43
Could you create another issue to clarify that?

On Wed, 24 Aug 2016, 00:18 Yifan Gu, <notifications@github.com> wrote:

[2016-08-24 10:24] errordeveloper commented on #18
xref https://github.com/kubernetes/k8s.io/issues/5

[2016-08-24 18:04] ConnorDoyle commented on #21
Hi @MikeSpreitzer, we (Intel) would like to help out with this in the 1.5 timeline. Can we start by listing the goals/requirements as currently understood, maybe in a shared doc?

This feature is quite large. Previous discussions suggest breaking down into phases.

It seems like some dependencies can be broken off and parallelized, for example enabling in-place update for compressible resources.

[2016-08-24 18:37] MikeSpreitzer commented on #21
Clearly this is not going to land in 1.4.  Yes, let's start by breaking this big thing down into phases and pieces.  Would someone with more background on this like to take a whack at that?

[2016-08-24 20:07] ardnaxelarak opened #75 "Allow namespace rather than kubelet to supply the added DNS client config"
# Description

The use case for this new feature is a Kubernetes operator who is providing a multi-tenant service based on namespaces.  Each namespace belongs to one tenant.  One tenant should not have a view of the whole cluster; rather the tenant's view should be constricted properly.

There are a few facets to this problem.  One of them is the DNS client configuration applied in the tenant's po

[2016-08-24 20:55] davidopp commented on #21
A design doc would be a good start, but even before that, we need some open-ended discussion to discuss what the goal and requirements are. Maybe we should discuss in #10782 ? That discussion is more than a year old but I'd like to avoid opening another issue (and the issues repo is definitely not the right place for design discussions).

[2016-08-24 22:54] numbsafari commented on #42
Is the goal to replace kubernetes/helm with whatever is worked on here? Or is this merely orthogonal/related to what tiller does?

[2016-08-24 23:00] ConnorDoyle opened #76 "Opaque integer resources"
This feature provides a simple way to advertise some amount of arbitrary countable resource for a node in a Kubernetes cluster. Users can consume these resources by including them in pod specs, and the scheduler takes them into account when placing pods on nodes.

**Issues:**
- https://github.com/kubernetes/kubernetes/issues/28312
- https://github.com/kubernetes/kubernetes/issues/19082

**Related:

[2016-08-24 23:04] ConnorDoyle commented on #76
cc @davidopp @balajismaniam

[2016-08-25 15:36] erictune commented on #42
I had a user ask on slack today whether he/she should wait for AppController or use something else, after seeing this issue,

I think that shows there is a cost to having issues in the feature repo for ideas which are still at the concept stage.

[2016-08-25 17:19] lukemarsden commented on #11
Update on this: all [the dependencies we needed for this landed before the 1.4 feature freeze](https://github.com/lukemarsden/kubernetes/blob/proposal-dramatically-simplify-cluster-creation/docs/proposals/dramatically-simplify-cluster-creation.md#work-streams-critical-path--must-have-in-14-before-feature-freeze). We've agreed in the SIG that `kubeadm` experimental packages can be included in the n

[2016-08-25 17:25] dgoodwin commented on #11
How should we plan to distribute the kube-discovery service, I'm publishing to dgoodwin/kubediscovery on docker hub, is this sufficient or do we need to do something else for 1.4 alpha.

[2016-08-25 20:33] girishkalele commented on #27
Update: Code and docs merged - code activated only with alpha feature-gate flag.
E2Es cannot run till the E2E Jenkins job with the feature-gate ON is ready (WIP).

[2016-08-25 21:09] saad-ali opened #79 "New Volume Plugin: Azure Data Disk"
# Description

Add volume plugin for [Azure Data Disk](https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-about-disks-vhds/#data-disk).
# Progress Tracker
- [x] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current stat

[2016-08-25 21:09] saad-ali commented on #79
PR https://github.com/kubernetes/kubernetes/pull/29836

[2016-08-25 21:09] saad-ali commented on #79
CC @matchstick

[2016-08-25 21:11] saad-ali opened #80 "New Volume Plugin: Quobyte"
# Description

Add volume plugin for [Quobyte](https://www.quobyte.com/).
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written be

[2016-08-25 21:14] saad-ali commented on #80
PR https://github.com/kubernetes/kubernetes/pull/24977

CC @matchstick

[2016-08-25 21:17] yujuhong commented on #58
My understanding is that we have switched to focusing on integrating rkt with kubelet using CRI, and the 1.4 milestone doesn't really apply anymore.
@euank @philips, should we remove the milestone and 1.4 labels?

[2016-08-25 21:19] matchstick commented on #58
I will remove the 1.4 milestone for now. Let me know if that is not the right thing to do.
@euank @philips

[2016-08-25 21:25] philips commented on #44
Moving this to 1.5. Remaining work:

- Polish on the mostly working etcd2  -> etcd3 migration.
- Rollback tooling that is currently prototyped by @hongchaodeng and others are working on. The tool is designed so that people using etcd v2 backend can roll forward and then rollback incase:
  - k8s has an etcd3 backend bug
  - etcd3 itself has a bug
 - a user just wants to test out etcd3

[2016-08-25 21:43] quinton-hoole opened #81 "Federated Services"
# Description

**Add description here**

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kubernetes release.

[2016-08-25 21:45] lavalamp commented on #44
We may want to release this as a 1.4.x patch release, so that we don't have to do both this and a json -> proto storage rollout at the same time.

[2016-08-25 21:45] quinton-hoole opened #82 "Federated Ingress for GCP"
# Description

**Add description here**

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kubernetes release.

[2016-08-25 21:53] philips commented on #44
@lavalamp OK, so you are suggesting that we get this merged into master post-v1.4 and then backport like a normal patch release?

[2016-08-25 22:13] lavalamp commented on #55
This is in and done, but most of these boxes don't make any sense for this feature. And @krousey doesn't seem to have permissions to check them, anyway.

[2016-08-25 22:23] lavalamp commented on #55
I edited the OP and deleted boxes that don't make much sense for this feature.

[2016-08-25 23:18] lavalamp commented on #53
@mbohlool can you link to documentation for this? (where is the swagger 2.0 spec served from, etc)

[2016-08-25 23:30] dchen1107 commented on #57
I just updated the initial issue description to reflect the current progress on the project. cc/ @philips @aronchick

There are more to be done, especially on docker specific tests side. But I decided to punt on those since we are working on CRI, and those tests can be very easy to implement against the new API.

[2016-08-25 23:36] dchen1107 opened #83 "Node Performance Benchmark"
# Description

Node Performance Benchmark
# Progress Tracker
- [x] Before Alpha: Initially proposed at https://github.com/kubernetes/kubernetes/issues/23349#issuecomment-200484407
  - [x] Write and maintain draft quality doc:
    - [x] Initial doc: https://drive.google.com/file/d/0B5b9gVHyDCGPa2dISk1xa1lmOTQ/view
    - [x] Demo slide: https://drive.google.com/a/google.com/file/d/0B5b9gVHyDCGPYklzS

[2016-08-26 00:20] davidopp commented on #62
Status: this feature is finished. The code is in [contrib/rescheduler](https://github.com/kubernetes/contrib/tree/master/rescheduler) and it will be automatically [deployed](https://github.com/kubernetes/kubernetes/blob/a24df66dc8f2b4c75541637e6ef7be1e713deacd/cluster/saltbase/salt/rescheduler/rescheduler.manifest) in clusters, requesting 10m cpu and 100Mi memory.

This feature does not have an AP

[2016-08-26 06:18] wojtek-t commented on #44
It won't be enormous patch. Since we are incorporating migration in the etcd image itself, I think that the only thing that we will need to backport would be an image tag in our manifest files. So that should be super simple.

[2016-08-26 07:08] mbohlool commented on #53
swagger 2.0 (aka openAPI) spec will be available at "/swagger.json" in 1.4. With the new improvement #31468 (if it gets into 1.4) there will be a separate spec for each endpoint (/api/v1/swagger.json, /apis/apps/v1alpha1/swagger.json, ...). I am working on more improvements. It would be beta in 1.4 and will be replacing old specs in future releases.

[2016-08-26 07:26] davidopp commented on #51
Updated check-list. Only docs remains for alpha in 1.4.

[2016-08-26 15:12] rootfs commented on #79
@saad-ali @matchstick cannot check the checkbox.

[2016-08-26 16:22] dchen1107 commented on #56
@alex-mohr yes, you are right. I will move this one to 1.5, and add node conformance test one here.

[2016-08-26 16:55] dchen1107 commented on #83
Next step:

* Finishing performance tracing
* Publish the link to access the node performance test
* Enable the release process to generate the node performance benchmark

[2016-08-26 16:55] dchen1107 commented on #83
cc/ @aronchick

[2016-08-26 17:23] goltermann commented on #62
@davidopp  re: alpha/beta/stable - are we planning on doing more work here in 1.5 or have significant iterations to do?  Do we have reason to recommend not using it in production clusters?  Basically - why *isn't* this GA/stable?

[2016-08-26 17:33] dchen1107 opened #84 "Node Conformance Test"
# Description

Node Conformance Test (This is part of Kubernetes NodeSpec effort: https://github.com/kubernetes/features/issues/56)
# Progress Tracker
- [x] Before Alpha
  - [x] Pre-requisite: Built node e2e test infrastructure: https://docs.google.com/document/d/1Q3R-wmPDJesFz-MoLEZxlNZwDgRCenhzwETunIqPNK4/edit#heading=h.kjny7qtri1e1
    - [x] Identify shepherd: @dchen1107, @pwittrock
    - [x] I

[2016-08-26 17:36] davidopp commented on #62
Here are some random thoughts:
* I'm wary of labeling any feature as GA/stable in its first release.
* We do want it to run by default in GKE
* It doesn't have a user-facing API.
* It will eventually be replaced with a proper priority/preemption scheme that will probably work differently (i.e. be driven by the scheduler rather than a standalone component as here).

I'm fine calling it beta, though

[2016-08-26 18:19] dchen1107 commented on #84
cc/ @aronchick

[2016-08-26 23:03] yifan-gu commented on #43
@errordeveloper  Basically we need to think about:
- How this continues to combine with the work of dynamic kubelet settings https://github.com/kubernetes/kubernetes/issues/27980
- How we get the serving cert for kubelet
- How to do the cert rotation

Probably need to sync with @kubernetes/sig-auth to get a better idea before creating the issue.

[2016-08-30 05:21] davidopp opened #85 "PodDisruptionBudget and /eviction subresource"
# Enhancement Description
- One-line enhancement description (can be used as a release note): `PodDisruptionBudget` is an API object that specifies the minimum number or percentage of replicas of a collection that must be up at a time, and/or the maximum eviction rate across the collection. Components that wish to eviction a pod subject to disruption budget use the `/eviction` subresource on pod;

[2016-08-30 05:21] davidopp commented on #85
cc/ @mml

[2016-08-31 21:33] euank commented on #58
xref https://github.com/kubernetes/kubernetes/issues/8262

[2016-09-01 14:43] sttts commented on #34
/cc @kubernetes/feature-reviewers

[2016-09-02 17:34] janetkuo commented on #5
@pweil- Are the docs ready? Please update the docs to https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and have the docs box checked in the issue description

[2016-09-02 17:36] janetkuo commented on #11
@jbeda Are the docs ready? Please update the docs to https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and have the docs box checked in the issue description

[2016-09-02 17:39] janetkuo commented on #19
@soltysh are docs considered done or are you adding more examples / tutorials? If docs are done we can check the docs box

[2016-09-02 17:40] janetkuo commented on #22
@soltysh @sttts Are the docs ready? Please update the docs to https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and have the docs box checked in the issue description

[2016-09-02 17:42] janetkuo commented on #24
@timstclair it looks like the docs PR number is outdated. Please update the PR number and check the docs box once it's done

[2016-09-02 17:43] janetkuo commented on #27
@girishkalele Please add docs PR numbers in the issue description

[2016-09-02 17:44] timstclair commented on #24
Fixed. Thanks @janetkuo !

[2016-09-02 18:06] janetkuo commented on #36
@childsb @thockin I saw the docs box is checked, please update docs PR numbers also

[2016-09-02 18:08] janetkuo commented on #37
@deads2k Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:08] janetkuo commented on #39
@derekwaynecarr Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:09] janetkuo commented on #43
@gtank @yifan-gu Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:10] janetkuo commented on #46
@quinton-hoole @mwielgus Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:25] janetkuo commented on #51
@davidopp @wojtek-t Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:25] janetkuo commented on #52
@bprashanth Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:27] janetkuo commented on #57
@Random-Liu @dchen1107 Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:28] janetkuo commented on #59
@philips Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:29] quinton-hoole commented on #46
Docs are being written.  Should be available next week.

Q

On Fri, Sep 2, 2016 at 11:10 AM, Janet Kuo <notifications@github.com> wrote:

[2016-09-02 18:29] janetkuo commented on #62
@davidopp @piosz Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:30] janetkuo commented on #68
@mwielgus Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:30] janetkuo commented on #69
@mwielgus Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:30] janetkuo commented on #70
@nikhiljindal Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:34] janetkuo commented on #82
@quinton-hoole Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

[2016-09-02 18:35] janetkuo commented on #83
Do we need docs for this test?

[2016-09-02 18:35] janetkuo commented on #84
Do we need docs for this task?

[2016-09-02 18:44] pweil- commented on #5
@janetkuo docs PR https://github.com/kubernetes/kubernetes.github.io/pull/1150

cc @kubernetes/feature-reviewers

[2016-09-02 19:07] quinton-hoole commented on #82
Docs are being written.  Should be done next week.

On Fri, Sep 2, 2016 at 11:34 AM, Janet Kuo <notifications@github.com> wrote:

[2016-09-02 19:40] childsb commented on #36
@janetkuo we added examples showing the storageClass feature in action, are there additional doc requirements?

[2016-09-02 19:48] janetkuo commented on #79
@rootfs @saad-ali Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

@saad-ali since @rootfs doesn't have write access can you help with updating issue description?

[2016-09-02 19:48] janetkuo commented on #80
@rootfs @saad-ali Are the docs ready? Please update the docs in https://github.com/kubernetes/kubernetes.github.io, and then add PR numbers and check the docs box in the issue description

@saad-ali since @rootfs doesn't have write access can you help with updating issue description?

[2016-09-02 19:54] janetkuo commented on #36
In addition to examples, adding a user doc in https://github.com/kubernetes/kubernetes.github.io would be good too.

[2016-09-02 20:47] childsb commented on #36
@janetkuo ack.. i'll get add a doc

[2016-09-02 20:57] jaredbhatti commented on #82
@quinton-hoole   Thanks for the heads up.

[2016-09-02 20:57] childsb commented on #36
@kubernetes/docs @janetkuo I knew we had a PR someplace.  We can add more if needed: https://github.com/kubernetes/kubernetes.github.io/pull/1064

[2016-09-02 21:03] bprashanth commented on #52
The docs for this are actually the same as the docs for the normal ingress (creating all existing examples: http://kubernetes.io/docs/user-guide/ingress/ in a multi zone cluster works the same way). there's some clarity I can add around this NOT working on various other non cloudprovider ingress controllers, but I plan to do that post test deflaking.

Loadbalancer load e2es that didn't make it in

[2016-09-02 21:11] bprashanth commented on #52
Oh, load testing is only for beta. Great then this is pretty much done with alpha modulo the clarification mentioned in previous post (I can't edit the issue description).

[2016-09-03 00:59] derekwaynecarr commented on #39
Docs are coming next week unless @ronnielai has anything yet?  I think we
can update the existing eviction doc pretty quickly from the design doc.
They are pretty close for a reason :-)

On Friday, September 2, 2016, Janet Kuo <notifications@github.com> wrote:

[2016-09-05 07:29] sttts commented on #22
@janetkuo this feature is postponed to 1.5, in 1.4 we only have https://github.com/kubernetes/kubernetes/pull/27087 as a first step. Unfortunately, I lack the permissions to change the milestone.

[2016-09-05 11:57] soltysh commented on #19
@janetkuo I usually mark them done once they merge. With that in mind I've checked the one against branch 1.4, the other will wait for merge.

[2016-09-06 13:46] soltysh commented on #22
I've changed both the labels and milestone. Although it would be good to have at least the small part documented. I'll create a PR right away.

[2016-09-06 14:14] soltysh commented on #22
Created https://github.com/kubernetes/kubernetes.github.io/pull/1168 for the basic audit part.

[2016-09-06 17:42] goltermann commented on #22
I added the alpha-in-1.4 label, as we got *some* of this done in 1.4.  It might be a stretch to call it alpha, but I don't want to lose that we shipped some working pieces of this for 1.4.

[2016-09-06 18:22] piosz commented on #62
@janetkuo PR https://github.com/kubernetes/kubernetes.github.io/pull/1170 in flight

[2016-09-06 19:31] soltysh commented on #22
Yeah, the *some* is quite a stretch here, but I'm ok with it.

[2016-09-06 20:56] saad-ali commented on #80
Ack.

@johscheuer @rootfs Can you please ensure the k8s docs get updated to for Quobyte as @janetkuo indicated. See https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/volumes.md

[2016-09-06 20:59] saad-ali commented on #79
Ack.

@rootfs Can you please ensure the k8s docs get updated to for Azure DD as @janetkuo indicated. See https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/volumes.md

[2016-09-06 22:52] Random-Liu commented on #57
Status Update: The test result will be exposed in https://github.com/kubernetes/test-infra/pull/523.

[2016-09-07 10:32] johscheuer commented on #80
@saad-ali @janetkuo there is already a PR open to add Quobyte to the volumes docs -> https://github.com/kubernetes/kubernetes.github.io/pull/1067 but the checks for the release-1.4 branch are failing because of a missing unit test -> https://github.com/kubernetes/kubernetes.github.io/pull/1159

[2016-09-07 13:50] rootfs commented on #79
@saad-ali @janetkuo thanks, doc PR opened

[2016-09-07 17:46] Random-Liu commented on #57
The validation result is shown in testgrid now. https://k8s-testgrid.appspot.com/docker

[2016-09-07 18:49] calebamiles commented on #43
@janetkuo, I'll be tracking our progress on creating the docs. Is there anything besides high level "this is how you turn it on" + known issues that you're expecting for the PR?

[2016-09-07 20:56] jaredbhatti commented on #57
Ping on docs.  Can you give an update and/or a docs PR?

[2016-09-07 21:02] jaredbhatti commented on #39
@derekwaynecarr Can you add your docs PR here when you have it ready?

[2016-09-07 21:04] jaredbhatti commented on #70
Ping.  Any update on the docs?

[2016-09-07 21:05] jaredbhatti commented on #68
Ping.  Any update on Docs?

[2016-09-07 21:06] jaredbhatti commented on #46
@quinton-hoole  Hey there, do you have a PR for the docs?

[2016-09-07 21:07] vishh commented on #39
@derekwaynecarr My assumption is that this feature is alpha or beta in
v1.4. I hope the docs will reflect that!

On Wed, Sep 7, 2016 at 2:02 PM, Jared <notifications@github.com> wrote:

[2016-09-07 21:10] thockin commented on #33
@therc Can you make sure the last few tickboxes are OK to be checked?

[2016-09-07 21:12] jaredbhatti commented on #85
@davidopp  Are docs required for this feature?

[2016-09-07 21:12] jaredbhatti commented on #84
Ping.  Any need for docs?

[2016-09-07 21:13] jaredbhatti commented on #83
Ping on docs.  Any docs needs for this feature?

[2016-09-07 21:13] jaredbhatti commented on #82
@quinton-hoole Can you add the docs PR to this issue when it's ready to review?

[2016-09-07 21:14] jaredbhatti commented on #69
Ping?  Any update on docs?

[2016-09-07 21:14] davidopp commented on #85
Yes, @mml is starting to work on it.

[2016-09-07 21:15] jaredbhatti commented on #59
Ping.  Any update on docs?

[2016-09-07 21:16] jaredbhatti commented on #52
@bprashanth  Just checking: Are you stating that docs aren't required for this feature?

[2016-09-07 21:17] jaredbhatti commented on #51
Ping.  Any update on docs?

[2016-09-07 21:18] jaredbhatti commented on #43
@calebamiles  That should be fine, and if you could add a link to the PR in this issue that would help me track it.  Thanks!

[2016-09-07 21:18] jaredbhatti commented on #37
Ping.  Any update on docs?

[2016-09-07 21:20] jaredbhatti commented on #27
Ping.  Can you add the docs PR to the issue description?

[2016-09-07 21:21] jaredbhatti commented on #11
Ping.  Any update on docs?

[2016-09-07 21:29] quinton-hoole commented on #46
https://github.com/kelseyhightower/kubernetes-cluster-federation/blob/
master/labs/federated-nginx-service.md

@nikhiljindal is going to help to turn these into appropriate PR's

Q

On Wed, Sep 7, 2016 at 2:06 PM, Jared <notifications@github.com> wrote:

[2016-09-07 21:42] Q-Lee commented on #59
@philips @ecordell What are the plans for the docs with this?

[2016-09-07 22:39] deads2k commented on #37
Right now, its API only, but swagger is complete.  CLI integration should come in 1.5 and then there will be something more substantive to doc for end users.

[2016-09-07 23:48] dchen1107 commented on #57
Status updates:

* Docker performance validation test are done, but only limiting to CREATE operation. DELETE, LIST, INSPECT operations will be added later.
* The test results can be accessed publicly at: https://k8s-testgrid.appspot.com/docker

[2016-09-08 00:36] Random-Liu commented on #84
@dchen1107 The last PR https://github.com/kubernetes/kubernetes/pull/31093 is not merged, so I don't think we can add doc for this feature currently.

Should we punt this to 1.5?

[2016-09-08 01:21] dchen1107 commented on #84
It labeled with alpha-in-1.4 already, and we should provide doc for users. The user doc shouldn't be blocked by kubernetes/kubernetes#31093. Talked to @Random-Liu he is working on user doc now.

[2016-09-08 04:30] saad-ali commented on #80
@johscheuer Thanks!

[2016-09-08 17:49] erictune commented on #37
How about one sentence that says that the API exists, so that people know
to go look at the swagger?  Nobody is going to study the swagger to find
new APIs.

On Wed, Sep 7, 2016 at 3:39 PM, David Eads <notifications@github.com> wrote:

[2016-09-08 18:45] deads2k commented on #37
Fair.  I'll find a spot tomorrow or early next week.

[2016-09-08 20:08] ecordell commented on #59
Docs PR: https://github.com/kubernetes/kubernetes.github.io/pull/1188

[2016-09-09 00:41] jaredbhatti commented on #53
Will this just have updated API docs?  Any other docs required?

[2016-09-09 16:48] derekwaynecarr commented on #39
@vishh @jaredbhatti docs PR: https://github.com/kubernetes/kubernetes.github.io/pull/1196

[2016-09-09 16:48] derekwaynecarr commented on #39
@kubernetes/docs  -- added feature doc pr https://github.com/kubernetes/kubernetes.github.io/pull/1196

[2016-09-12 06:01] errordeveloper opened #88 "Support out-of-process and out-of-tree cloud providers"
Feature Description:
Support out-of-tree and out-of-process cloud providers, a.k.a pluggable cloud providers.

Feature Progress:
In order to complete this feature, cloud provider dependencies need to be moved out the the following Kubernetes binaries, then docs and tests need to be added. The Links to the right hand side of the binary denote the PRs that lead to the completion of the sub-feature

[2016-09-12 13:21] fgrzadkowski commented on #21
@krzysztofgrygiel @tkulczynski

[2016-09-12 13:56] timothysc commented on #61
@davidopp shouldn't we move taints and tolerations out of beta 1st?

[2016-09-12 18:37] liggitt opened #89 "Authenticated/Authorized access to kubelet API"
# Description

The kubelet API gives access to a wide variety of resources.

Allow authenticating requests to the kubelet API using any of:
- x509 client certs
- bearer token (validated using the TokenReview API)
- anonymous authentication (default in 1.0-1.4)

Allow authorizing requests to the kubelet API using one of:
- SubjectAccessReview API
- AlwaysAllow (default in 1.0-1.4)
# Progress Tracke

[2016-09-12 18:38] liggitt commented on #89
cc @kubernetes/sig-auth

[2016-09-12 18:59] colemickens commented on #88
Benefits:
* Easier configuration for providers like Azure that require a "cloud config" flag on kubelet/kcm. This file could instead by made a Secret (or ConfigMap + Secret). Makes bootstrapping easier and would eliminate the need for kubeadm to have special functionality for handling the cloudprovider flags.
* Selectively enablement. Some people want to run their own overlay network, but still wa

[2016-09-12 23:27] jaredbhatti commented on #57
@dchen1107 @aronchick @Random-Liu Another ping for docs.  Any PRs you can point me to?

[2016-09-12 23:28] jaredbhatti commented on #70
@quinton-hoole @nikhiljindal  Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:29] jaredbhatti commented on #68
@quinton-hoole @mwielgus Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:30] jaredbhatti commented on #81
@quinton-hoole Pinging you for docs. Any PRs you can point me to?

[2016-09-12 23:31] jaredbhatti commented on #46
@nikhiljindal Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:31] jaredbhatti commented on #85
@mml  Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:32] jaredbhatti commented on #84
@dchen1107 @Random-Liu Another ping on docs. Any PRs you can point me to?  Does this still  need docs?

[2016-09-12 23:33] jaredbhatti commented on #83
@dchen1107 Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:33] jaredbhatti commented on #82
@nikhiljindal Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:34] jaredbhatti commented on #69
@mwielgus Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:35] jaredbhatti commented on #52
@bprashanth Another ping on docs. Any PRs you can point me to?  Does this need docs at all?

[2016-09-12 23:36] jaredbhatti commented on #51
@davidopp @wojtek-t Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:37] jaredbhatti commented on #43
@gtank @yifan-gu @calebamiles Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:38] jaredbhatti commented on #37
@deads2k @erictune Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:39] jaredbhatti commented on #11
Another ping on docs. Any PRs you can point me to?

[2016-09-12 23:39] aaronlevy commented on #43
I believe we also still need to figure out next steps for including kubelet server certificates as part of the TLS bootstrap. Based on the [kubelet authN proposal](https://github.com/kubernetes/kubernetes/pull/32518) - this would greatly simplify the deployment of secure clusters.

Initially discussed in: https://github.com/kubernetes/kubernetes/pull/30094 it sounded like something along these lin

[2016-09-12 23:40] dchen1107 commented on #57
For validation test framework, I don't think we need any doc except release notes mentioning which docker version being qualified.

[2016-09-12 23:45] yifan-gu commented on #43
I can take the item, but what's expected in the doc?
What I can think about is:
- Introduce this new flag `--experimental-bootstrap-kubeconfig`, why we need it.
- Explain what it does step by step
- Give an example?

Others?

@gtank @aaronlevy

[2016-09-12 23:54] aaronlevy commented on #43
- Was an auto-approver in the controller-manager merged? If so, probably help to document that functionality also.
- Also maybe "adding your own approver section"?

[2016-09-13 00:05] quinton-hoole commented on #69
@kelseyhightower is working on the PR.

On Mon, Sep 12, 2016 at 4:34 PM, Jared <notifications@github.com> wrote:

[2016-09-13 00:13] nikhiljindal commented on #82
Filed https://github.com/kubernetes/kubernetes.github.io/issues/1215 for all federation docs

[2016-09-13 00:13] nikhiljindal commented on #46
Filed https://github.com/kubernetes/kubernetes.github.io/issues/1215 for all federation docs

[2016-09-13 05:58] davidopp commented on #51
This is
https://github.com/kubernetes/kubernetes.github.io/pull/1148

[2016-09-13 12:16] deads2k commented on #37
I've written a brief description here: https://github.com/kubernetes/kubernetes.github.io/pull/1219 .  As we continue to fill out the API, it will become easier to use and have more capability.

[2016-09-13 12:38] deads2k commented on #89
Just noting approval for the feature.

[2016-09-13 13:33] stevesloka opened #92 "Encrypt secrets in etcd"
# Description
- One-line feature description (can be used as a release note):
Encrypt secrets stored in etcd.
- Primary contact (assignee):
  - @smarterclayton
- Responsible SIGs: @kubernetes/sig-auth-feature-requests
- Design proposal link (community repo):
https://github.com/kubernetes/community/pull/454
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS

[2016-09-13 13:33] stevesloka commented on #92
//cc @smarterclayton @philips

[2016-09-13 14:13] liggitt commented on #92
cc @erictune @deads2k

[2016-09-13 14:38] philips commented on #92
cc @hongchaodeng @xiang90

[2016-09-13 15:14] deads2k commented on #92
@stevesloka Do you have a pull that describes your proposed solution in more detail?

[2016-09-13 15:24] stevesloka commented on #92
@deads2k I pushed up my wip. I broke it last night, trying to see what went wrong, but you can see my work here: https://github.com/kubernetes/kubernetes/pull/32579

[2016-09-13 20:44] chakri-nelluri opened #93 "Flex volume API and Improved lifecycle (flexvolume)"
# Description

Existing flex volume plugin enables administrators/vendors to create out-of-tree volume plugins, i.e., plugins which do not reside in Kubernetes project. But, it has the following gaps.

It lacks support for the latest enhancements to in-tree plugins like dynamic provisioning and centralized attach-detach controller
It does not define a stable driver api for administrators/vendors t

[2016-09-13 20:57] chakri-nelluri commented on #93
@gr4701 @thockin @philips Create new Feature request for Flex volume proposals:
https://github.com/kubernetes/kubernetes/issues/32543
https://github.com/kubernetes/kubernetes/issues/32550

[2016-09-14 04:13] Random-Liu commented on #84
@jaredbhatti The doc is pending here https://github.com/kubernetes/kubernetes.github.io/pull/1216. :)

[2016-09-14 12:11] johscheuer commented on #80
@saad-ali is there any further action needed?

[2016-09-14 16:03] lukemarsden commented on #11
@janetkuo @jaredbhatti so sorry for the delay replying to this, I was travelling. I'll be working on docs imminently. When do you need them by, at the latest?

[2016-09-14 16:13] errordeveloper commented on #43
Yeah, the auto-approver is in. FYI, this repo is meant to be low on
traffic. Let's migrate the discussions elsewhere.

On Tue, 13 Sep 2016, 00:54 Aaron Levy, <notifications@github.com> wrote:

[2016-09-14 16:20] justinsb opened #94 "AWS: External tagger controller"
# Description

There are a lot of different ways for how things should be tagged on AWS.  Rather than immediately try to put them all into core, we should create a customizable controller that can configure various policies.  It can probably be configured using a configmap (maybe containing templates)

In particular, it would be nice to be able to tag ELBs with:
- A friendly name tag
- Billing / o

[2016-09-14 17:37] errordeveloper commented on #88
cc @kubernetes/sig-cluster-lifecycle @kubernetes/sig-network  @kubernetes/sig-storage  @kubernetes/sig-aws @kubernetes/sig-openstack

[2016-09-14 18:29] calebamiles commented on #43
@jaredbhatti @janetkuo, we will hopefully have a docs PR ready today

[2016-09-14 18:33] devin-donnelly commented on #11
Launch date is Tuesday, 20 September. Ideally we'd like to get them merged in ahead of time, say by Friday 16 September if possible.

[2016-09-14 19:17] jimmycuadra commented on #11
Docs should ideally include clarification on the relationship between the various cluster deployment solutions, because it's getting very confusing for users as to why there are so many and which one is "official" and/or "recommended," especially since there are many under the kubernetes organization. Specifically:

* kubeadm (in-tree)
* https://github.com/kubernetes/kops
* https://github.com/kube

[2016-09-14 19:41] jaredbhatti commented on #39
@derekwaynecarr Is this feature Stable or Beta?

[2016-09-14 23:57] philips commented on #89
@liggitt @deads2k are y'all planning on doing this work? I am cross-tracking this on the SIG node task list.

[2016-09-15 03:26] liggitt commented on #89
@philips yes, I'll be doing the work

[2016-09-15 04:59] thockin commented on #88
I endorse this idea in general.  I think the built-in cloud provider logic has served its purpose and its time to modularize.  I think there are a number of facets to this that we have to work out including but not limited to:

- CloudProvider and all the APIs therein
- Volume drivers and provisioner support
- Cluster turnup support

I think it would be worthwhile to start building a doc that deta

[2016-09-15 20:58] devin-donnelly commented on #83
This is apparently getting publicized in two places:
- A blog post here: https://docs.google.com/document/d/16RiXzmYBBcz1gcdxYi_GA5S9jdc37UZJb624U08O41w/edit
- and via a readme: https://github.com/coufon/contrib/blob/b065e60a23dd1ca630e26ebfeba010ad0b1cf851/node-perf-dash/README.md

We should also add this to our list of internal tools.

[2016-09-15 21:03] devin-donnelly commented on #81
According to Quinton, Federated Services made it into the docs back in 1.3.

[2016-09-15 22:05] bprashanth commented on #52
adding clarifications by eod

[2016-09-15 23:17] ConnorDoyle commented on #76
@davidopp could you please mark this for 1.5?

[2016-09-16 18:03] devin-donnelly commented on #43
@calebamiles , Any word on that Docs PR? Please reference if it's up.

[2016-09-16 18:45] calebamiles commented on #43
@devin-donnelly,  https://github.com/kubernetes/kubernetes.github.io/pull/1246

[2016-09-16 18:46] devin-donnelly commented on #43
Great, thanks!

[2016-09-16 20:45] quinton-hoole commented on #81
http://kubernetes.io/docs/user-guide/federation/federated-services/

On Thu, Sep 15, 2016 at 2:03 PM, devin-donnelly <notifications@github.com>
wrote:

[2016-09-20 11:51] idvoretskyi commented on #52
@bprashanth so, what is the actual status for docs (as @jaredbhatti mentioned above)?

[2016-09-20 11:54] idvoretskyi commented on #88
Sounds useful. @errordeveloper, do we have any mailing lists or GitHub discussions with this question what we can refer to?

[2016-09-20 12:35] errordeveloper commented on #88
@idvoretskyi not yet, this is probably very much on the radar of @kubernetes/sig-cluster-lifecycle.

[2016-09-20 13:21] ivan4th commented on #60
Trying to implement pod (anti)affinity for DaemonSets too. Someone PTAL: #31136

[2016-09-20 17:12] dchen1107 commented on #63
Do we have the initial proposal ready yet?

[2016-09-20 17:18] bprashanth commented on #52
https://github.com/kubernetes/kubernetes.github.io/pull/1261

[2016-09-20 21:20] philips commented on #63
@dchen1107 We have the old proposal: https://github.com/kubernetes/kubernetes/pull/18308. CoreOS will not have time to do this work in v1.5 either. Can someone else take this up?

[2016-09-20 22:14] jessfs commented on #89
Just wondering, will this be in 1.5? Trying to determine if our team needs to invest the time into securing these communications via SSH and firewall rules to prevent https://github.com/kayrus/kubelet-exploit, or if we can just hold off for a bit and utilize our existing TLS client certs once this lands.

[2016-09-21 05:56] thockin commented on #88
I don't know that anyone is working on speccing this.  It touches on a few
SIGs, but it is not exactly any of them.

On Tue, Sep 20, 2016 at 5:35 AM, Ilya Dmitrichenko <notifications@github.com

[2016-09-21 07:07] errordeveloper commented on #88
@thockin you are right. May be we should form `sig-cloud`?

[2016-09-21 12:39] deads2k commented on #89
Yes, we are targeting 1.5.

[2016-09-21 17:14] thockin commented on #88
so. many. sigs.   I don't think we need a SIG for this.  I doubt if it is
going to garner much resistance.  There are just a lot of details to hammer
out.  Being on the radar for lifecycle is fine.  The hardest part here is
balancing the desire for modularity with the need for simplicity.  That's
what I want to see explored :)

On Wed, Sep 21, 2016 at 12:07 AM, Ilya Dmitrichenko <
notifications@gi

[2016-09-21 20:30] timstclair commented on #24
Docs https://github.com/kubernetes/kubernetes.github.io/pull/1147 - @kubernetes/docs

[2016-09-21 20:41] devin-donnelly commented on #24
Is there an issue? I merged this one in last week.

On Sep 21, 2016 1:30 PM, "Tim St. Clair" <notifications@github.com> wrote:

[2016-09-21 20:43] timstclair commented on #24
No, I was just following the instructions at the bottom of the issue, which I hadn't done before...

[2016-09-21 21:46] idvoretskyi commented on #58
@philips @euank I'd like to insist on Milestone to be present for easier feature tracking. I've set a "next-candidate" Milestone for now.

[2016-09-21 21:50] idvoretskyi commented on #55
@lavalamp any documentation is going to be provided for this feature?

[2016-09-21 21:52] idvoretskyi commented on #53
@lavalamp @mbohlool so, what about the docs?

[2016-09-21 21:52] lavalamp commented on #55
This doesn't really need documentation IMO and doesn't even belong in the features repo

[2016-09-21 21:53] lavalamp commented on #55
Unless @krousey feels differently.

[2016-09-21 21:53] philips commented on #55
Agreed. I think this should be closed. @aronchick ?

[2016-09-21 21:55] idvoretskyi commented on #50
@aronchick what is the actual feature status? Is it still actual (no updates still)?

[2016-09-21 21:55] philips commented on #58
The rkt integration works mostly today (it works under [minikube](https://tectonic.com/blog/minikube-and-rkt.html)). I will put it under the v1.5 milestone as we hope the CRI refactor will get it to 100% parity with the Docker engine integration and CRI in this time frame.

[2016-09-21 21:57] philips commented on #50
@idvoretskyi The work was done by @thockin and exists over here: https://github.com/kubernetes-incubator/spartakus I think everything is working!

[2016-09-21 21:57] idvoretskyi commented on #39
@derekwaynecarr can you provide us with the actual feature status?
Thanks.

[2016-09-21 21:58] aronchick commented on #55
Agreed
On Wed, Sep 21, 2016 at 14:53 Brandon Philips <notifications@github.com>
wrote:

[2016-09-21 22:02] idvoretskyi commented on #27
@girishkalele docs PR question is still actual - please, add the links.

[2016-09-21 22:08] idvoretskyi commented on #11
@lukasredynk @jbeda yet another ping on docs.

[2016-09-21 22:10] idvoretskyi commented on #5
@pweil- I suppose, this PR is actual - https://github.com/kubernetes/kubernetes.github.io/pull/1206?

[2016-09-21 22:13] idvoretskyi commented on #2
@erictune @ericchiang as this feature's marked with Milestone 1.5, should we change the "alpha-in-1.3" label to another one?

[2016-09-21 22:15] ericchiang commented on #2
@idvoretskyi it was alpha in 1.3, this is currently tracking targets for beta.

[2016-09-21 22:18] girishkalele commented on #27
https://github.com/kubernetes/kubernetes.github.io/pull/1062

[2016-09-21 22:21] girishkalele commented on #27
CCed kubernetes/docs in the Docs PR and also added to tracking spreadsheet.

[2016-09-21 22:36] mikedanese commented on #11
The docs PR is out for review https://github.com/kubernetes/kubernetes.github.io/pull/1265

[2016-09-21 23:00] devin-donnelly commented on #11
Thanks. I've got it in tracking now.

On Wed, Sep 21, 2016 at 3:36 PM, Mike Danese <notifications@github.com>
wrote:

[2016-09-22 04:35] thockin commented on #50
Hmm, this was not really followed here, as this is not a kubernetes feature.  Oops.  It is "done" in that I tagged it, but we haven't made noise about it yet.  We wanted to show it to a few people before asking the world to run it :)

@aronchick - what next?

[2016-09-22 06:46] pweil- commented on #5
correct

[2016-09-22 08:45] mwitkow commented on #27
@girishkalele FYI we've encountered an issue with the `iptable` rules used for external load balancing:
https://github.com/kubernetes/kubernetes/issues/33081

[2016-09-22 11:34] idvoretskyi commented on #58
@philips thank you for clarifying.

[2016-09-22 13:50] idvoretskyi commented on #88
@errordeveloper no need in yet another SIG (SIG-Cloud sounds like an abstract and umbrella one). I agree with @thockin - the primary SIG has to be @kubernetes/sig-cluster-lifecycle; while on behalf of @kubernetes/sig-openstack I'm going to track this item.

Hope other cloud-SIG's will be involved in the process as well.

[2016-09-23 04:21] derekwaynecarr commented on #39
It's not alpha, I would say beta (when dealing with inodes) but stable for
disk capacity.

On Wednesday, September 21, 2016, Ihor Dvoretskyi <notifications@github.com>
wrote:

[2016-09-26 20:16] jessfs commented on #89
@deads2k awesome, thanks!!

[2016-09-27 09:22] alfred-huangjian commented on #61
cc @kubernetes/huawei

[2016-09-27 09:22] alfred-huangjian commented on #92
cc @kubernetes/huawei

[2016-09-27 09:26] davidopp commented on #61
Hmm, probably doing it at the same time (in the same release) would be OK?

[2016-09-28 16:55] errordeveloper commented on #88
@justinsb and I have discussed this on Slack, and looks like we may be able to get closer to getting  similar user-facing value by exposing flags via component config. It also turns out `--configure-cloud-routes` is already there. It doesn't look like this should involve moving code as such.

[2016-09-28 17:19] bboreham commented on #88
I think there is additional value to moving code out to add-ons: it will enable further cloud providers to be added without enlarging the core of Kubernetes.

Example: https://github.com/kubernetes/kubernetes/pull/32419

[2016-09-28 17:27] errordeveloper commented on #88
Ah, but it also looks like someone is working on this:
https://github.com/kubernetes/kubernetes/pull/32419#issuecomment-249914848.

On Wed, 28 Sep 2016, 18:19 Bryan Boreham, <notifications@github.com> wrote:

[2016-09-28 20:30] thockin commented on #88
That does not read as someone working on it, to me.  This is a big problem
with a lot of facets, and it needs a capital-O Owner.

On Wed, Sep 28, 2016 at 10:27 AM, Ilya Dmitrichenko <
notifications@github.com> wrote:

[2016-09-29 13:23] idvoretskyi commented on #12
@smarterclayton as this feature has been moved under 1.5 milestone, what is the actual status of it?

[2016-09-29 13:25] idvoretskyi commented on #16
@MikeSpreitzer any progress on this feature?

[2016-09-29 14:10] idvoretskyi commented on #76
@ConnorDoyle any progress on this issue? Which SIG is responsible for it?

[2016-09-29 14:27] pigmej commented on #42
Speaking about this issue, I'm closing this one, because for now we're not joinning k8s core. AppController development will be continued at https://github.com/Mirantis/k8s-AppController, we will prepare design docs etc to discuss it with Kubernetes audience (we had some meetings on sig-apps). AppController will have 3week release cycle (we're going to form more formal roadmap etc in near future,

[2016-09-29 14:28] pigmej commented on #42
I forgot to click "close and comment" instead of "comment".

[2016-09-29 14:28] #42 closed

[2016-09-29 14:40] smarterclayton commented on #12
We delivered across the board scheduler improvements in 1.4, continued to
refine cluster performance, and improve throughput of a set of metrics.

For 1.5 etcd3 is the signature feature (covered etcd v3 API storage backend)
<https://github.com/kubernetes/features/issues/44>.  We will enable http2
for more efficient network usage, and we also anticipate delivering more
throughput and scheduler perf

[2016-09-29 14:43] ae6rt commented on #12
For users wanting to remain on etcd2 for now, 1.5 will offer a way to do this?

[2016-09-29 14:47] smarterclayton commented on #12
Yes, etcd3 will be default for new clusters but etcd2 will continue to be a
configurable option for the foreseeable future.  Please add that comment
onto the etcd3 feature.

On Thu, Sep 29, 2016 at 10:43 AM, Mark Petrovic <notifications@github.com>
wrote:

[2016-09-29 15:26] ae6rt commented on #44
Cluster operators who wish to remain on etcd2 for Kubernetes version 1.5 will be able to do so:

https://github.com/kubernetes/features/issues/12#issuecomment-250488320

[2016-09-29 15:46] ConnorDoyle commented on #76
@idvoretskyi the current progress is mostly discussed in the in-flight PR ([31652](https://github.com/kubernetes/kubernetes/issues/31652)). The feature spans sig-scheduling and sig-node, it's on the 1.5 roadmaps for both. Since most of the work is in the scheduler @timothysc has volunteered to shepherd the feature. Please let me know if you need more info.

[2016-09-29 18:24] fgrzadkowski commented on #12
@wojtek-t

[2016-09-29 21:36] ibuildthecloud commented on #88
@thockin In reference to kubernetes/kubernetes#32419, Rancher would be up for being a guinea pig for this.  @wlan0 will be working on this and if the scope is massive we will see if we can pull in more resources.  I want to see if understand the approach you were proposing in kubernetes/kubernetes#32419 and see if we are on the same page.

What we would do is implement the existing cloudprovider.I

[2016-09-30 06:59] thockin commented on #88
I replied to @wlan0, but for the record...

simpler.

My "external" suggestion was more about designating that we are not using a
built-in and any controller loops that use CloudProvider should be
disabled.  "" may be just as viable.

Once the built-in controllers are nullified, we run a cloud-specific
controller manager.  I propose that the starting point LITERALLY be a fork
of the kube-controlle

[2016-09-30 07:16] colemickens commented on #88
Why is one linked in at all? What is the difference between `--cloud-provider=external` and simply not specifying the `--cloud-provider` at all? Then the Service/Routes are established with standalone addon controllers?

Or maybe we're on the same page? And then you're proposing a generic implementation of these standalone controllers (for now?) that can take the existing `CloudProvider` interface

[2016-09-30 07:21] thockin commented on #88
On Fri, Sep 30, 2016 at 12:16 AM, Cole Mickens <notifications@github.com> wrote:

Without inspecting, I don't know if "" disables the controllers today,
so I didn't want to break compat during the transition.  That's all.
If "" works, that is simpler.

I think same page.  As a starting point, we would decompose the single
{kube-controller-manager (KCM) + 8 CloudProviders} into 8 *  {KCM + 1
CloudP

[2016-09-30 12:16] deads2k opened #95 "CustomResourceDefinitions"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Custom Resource Definitions allow defining kubernetes-style APIs as add-ons
- Kubernetes Enhancement Proposal:
  - https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20180415-crds-to-ga.md
- See also:
  - [Moving ThirdPartyResources to beta](https://github.com/kubernetes/communi

[2016-09-30 12:20] deads2k commented on #95
@lavalamp I've created this to try to have a place where we can at least consolidate our thoughts and track progress on third party resources.  I've tried to create a list of known shortcomings to be resolved before promotion to stable.

I don't have an owner in mind, but recognition of the problem seems like step 1.

[2016-09-30 22:16] quinton-hoole commented on #82
Released alpha in v1.4

[2016-09-30 22:16] #82 closed

[2016-09-30 22:16] quinton-hoole commented on #81
Released beta in v1.4

[2016-09-30 22:16] #81 closed

[2016-09-30 22:18] quinton-hoole commented on #70
Released beta in v1.4.

[2016-09-30 22:18] #70 closed

[2016-09-30 22:18] quinton-hoole commented on #69
Released alpha in v1.4

[2016-09-30 22:18] #69 closed

[2016-09-30 22:19] quinton-hoole commented on #68
Released beta in v1.4.

[2016-09-30 22:19] #68 closed

[2016-09-30 22:19] quinton-hoole commented on #46
Released beta in v1.4

[2016-09-30 22:20] #45 closed

[2016-09-30 22:21] quinton-hoole commented on #52
Released alpha in v1.4

[2016-09-30 22:21] #52 closed

[2016-09-30 22:23] quinton-hoole commented on #73
Assigned to @nikhiljindal as per discussion.

[2016-09-30 22:24] quinton-hoole commented on #71
Assigned to @nikhiljindal as per discussion.

[2016-09-30 22:25] quinton-hoole commented on #72
Assigned to @mwielgus

[2016-09-30 22:28] quinton-hoole opened #97 "It should be fast and painless to deploy a Federation of Kubernetes clusters"
# Description
- It should be easy to deploy a Federation control plane into one (or more) clusters using a single kubectl command
- It should be easy to add a cluster to a Federation using a single kubectl command (including configuring credentials/secrets)
- It should be easy to add a new cluster to a federation while creating the cluster using kubeadm
- It should be easy to include a federation

[2016-09-30 22:28] quinton-hoole commented on #97
Assigned to @madhusudancs

[2016-09-30 22:34] quinton-hoole opened #98 "Hybrid Cloud Federated Ingress"
# Description

Federated Ingress should work across hybrid-cloud federations (initially across Google Cloud and AWS).

In v1.4, Federated Ingress is only supported on Google Cloud.  ([User Guide](http://kubernetes.io/docs/user-guide/federation/federated-ingress/).

Extend this to support federations across both GCP and AWS clusters.
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain

[2016-09-30 22:37] quinton-hoole opened #99 "Federation: Support generalized deletions, including cascading and finalizers"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @nikhiljindal
- Responsible SIGs: @kubernetes/sig-federation-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred:
- A

[2016-09-30 22:39] quinton-hoole opened #100 "Federated Deployments"
# Description

See [proposal doc](https://docs.google.com/document/d/1Vi_CKah8oR5ByPp8BlgUD0SoINMD1SE0iMQf_2BKlpw/edit)
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new featur

[2016-09-30 22:43] quinton-hoole opened #101 "Federated Daemonset"
# Description

TBD
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kubernetes release. Paste link to Google Doc:

[2016-09-30 22:44] quinton-hoole opened #102 "Federation: Per-user cluster authentication"
# Description

TBD

cc @kubernetes/sig-cluster-federation @kubernetes/sig-auth @nikhiljindal

**Add description here**

# Progress Tracker

- [ ] Before Alpha
    - [ ] Write and maintain draft quality doc
      - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new f

[2016-09-30 22:48] quinton-hoole opened #103 "Federation: Metrics-based Cluster Selection"
# Description

TBD

cc @kubernetes/sig-cluster-federation @kubernetes/sig-scheduling @kubernetes/huawei
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton

[2016-09-30 22:48] quinton-hoole commented on #101
cc @kubernetes/huawei

[2016-09-30 23:10] alena1108 commented on #88
So the controller manager that embeds certain control loops. Some of these loops are cloud provider specific:

* nodeController
* volumeController
* routeController
* serviceController

but most are provider agnostic:

* replicationController
* endpointController
* resourcequotacontroller
* namespacecontroller
* deploymentController
etc

I wonder if it would make sense to split the controller into

[2016-09-30 23:12] quinton-hoole opened #104 "HA Federation Control Plane"
# Description

As per Kubernetes HA Control plane, but spanning multiple clusters.

cc @kubernetes/sig-cluster-federation @kubernetes/sig-scheduling @kubernetes/huawei
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current sta

[2016-09-30 23:15] quinton-hoole opened #105 "Federated ConfigMap"
# Description

cc @kubernetes/sig-cluster-federation @kubernetes/sig-config
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written

[2016-10-01 00:03] thockin commented on #88
I think we are saying the same thing.  kube-controller-manager will still
exist after this, but it will eventually get rid of all the cloud-specific
stuff.  All the cloud-stuff will move to per-cloud controller binaries.

I would leave volumes for VERY LAST :)

On Fri, Sep 30, 2016 at 4:10 PM, Alena Prokharchyk <notifications@github.com

[2016-10-01 08:44] davidopp commented on #60
Goal for 1.5 is to move this to Beta. More details in kubernetes/kubernetes#25319

[2016-10-01 08:44] #51 closed

[2016-10-01 08:58] davidopp opened #106 "Node affinity"
# Description

Significantly expanded version of `nodeSelector`. Pods can limit which nodes are eligible for them to schedule on, or tell the scheduler they prefer certain nodes, based on label selectors.

This feature has been in Kubernetes since 1.2. I'm just filing this issue so we can track moving it to Beta, which we plan to do in 1.5 (kubernetes/kubernetes#25319).

Design doc discussion in k

[2016-10-01 09:06] davidopp opened #107 "Multiple/user-defined schedulers"
# Description

Users and cluster administrators can run their own custom scheduler(s) as (a) pod(s) on the cluster, instead of or alongside of the default scheduler, and add an annotation to some or all pods to indicate which scheduler should be responsible for scheduling the pod.

Design doc discussion in kubernetes/kubernetes#17197 and checked in [here](https://github.com/kubernetes/kubernetes/b

[2016-10-01 09:13] davidopp opened #108 "Taints/tolerations"
# Description

Design doc discussion in kubernetes/kubernetes#18263, checked in [here](https://github.com/kubernetes/kubernetes/blob/master/docs/design/taint-toleration-dedicated.md).

Implementation in kubernetes/kubernetes#24134

This feature first appeared in Kubernetes 1.4. I'm filing the issue to track moving it to Beta in 1.5 (kubernetes/kubernetes#25320).

See also #61
# Progress Tracker
-

[2016-10-01 09:16] davidopp commented on #85
Planning to move this to Beta in 1.5, see kubernetes/kubernetes#25321

[2016-10-01 09:22] davidopp opened #109 "Rescheduler"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @davidopp @aveshagarwal
- Responsible SIGs: @kubernetes/sig-scheduling-feature-requests
- Design proposal link (community repo):
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies pref

[2016-10-01 09:28] davidopp opened #110 "Cluster-level priority and preemption"
# Description

A mechanism of assigning relative priorities to pods such that when scheduling a new pod, one or more already-running pods of lower (or possibly equal, depending on the design) priority may be evicted ("preempted") from a node in order to free up sufficient resources for the new pod to schedule there. Presumably preemption is only employed when there is no node where the pod can sch

[2016-10-02 22:53] andrewmclagan commented on #27
...this is so exciting. thank you all  for your hard work :-) making our lives easier

[2016-10-03 16:26] timothysc commented on #60
/cc @rrati @jayunit100

[2016-10-03 17:54] justinsb opened #112 "Addon manager"
# Description

We should create an addon manager that addresses the following pain points:

1) kube-addons makes it hard for users to edit / manage addons
2) we should make it easier to add an addon
3) we should have a repository of addons, and make it easy for projects to publish their own addons and addon updates
4) we should have a way to determine what addons have been installed and what we wa

[2016-10-03 17:56] justinsb opened #113 "Show node roles in kubectl"
# Description

We need to show node roles in kubectl, cf https://github.com/kubernetes/kubernetes/issues/33533

Otherwise there is no way to know whether a node is a master, in our new tainted world.
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can tr

[2016-10-03 18:00] justinsb opened #114 "Easier installation by borrowing from self-hosting"
# Description

As part of the ongoing work in sig-cluster-lifecycle, we are going to continue with the plan to combine the self-hosting work done by bootkube / k8s-in-k8s etc.
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its cur

[2016-10-03 18:02] justinsb opened #115 "Easier installation through componentconfig"
# Description

As part of the work to make installation/operation easier being done by sig-cluster-lifecycle, we are going to continue to make configuration more dynamic, through ongoing work on componentconfig.
# Progress Tracker
- [ ] Before Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how so

[2016-10-03 18:05] deads2k commented on #115
@ncdc

[2016-10-03 19:46] luxas commented on #112
@justinsb You might like my proposal in https://github.com/kubernetes/kubernetes/issues/23233#issuecomment-232461242

[2016-10-04 05:36] justinsb commented on #112
I do like that proposal @luxas .  I would hope that we could eventually have all our components use configmap directly, but that may be a little bit away!

[2016-10-04 16:59] erictune commented on #35
I propose removing the 1.5 milestone from this feature.
I'd like to be involved in the discussion about it, but I cannot do that and help drive PetSet to Beta at the same time, so I'd like it to wait until after 1.5.

[2016-10-06 08:55] idvoretskyi commented on #35
@smarterclayton do you have any comments regarding @erictune's suggestion above? If it's ok for you, I'll proceed with milestone changes.

[2016-10-06 08:57] idvoretskyi commented on #51
@davidopp has the feature development been finished? If not, it would be better to reopen the issue and mark it with non-1.4 milestone.

[2016-10-06 08:59] idvoretskyi commented on #52
@quinton-hoole are you going to continue development in 1.5 for this feature?

[2016-10-06 10:05] gmarek commented on #107
I'm working on moving it to beta for 1.5. Can someone assign this to me?

[2016-10-06 11:12] idvoretskyi commented on #76
@ConnorDoyle thank you.

[2016-10-06 14:03] quinton-hoole commented on #52
It's not on my radar. @bprashanth is planning and executing.

On Oct 6, 2016 01:59, "Ihor Dvoretskyi" <notifications@github.com> wrote:

[2016-10-06 17:40] quinton-hoole commented on #102
Duplicate of #74, closing.

[2016-10-06 21:38] nikhiljindal commented on #102
https://github.com/kubernetes/features/issues/74 is a different issue. @quinton-hoole Can you please reopen?
(I dont have the rights)

[2016-10-06 21:45] quinton-hoole commented on #102
My apologies @nikhiljindal .  I meant #73 , not #74.  I think this one (#102) and #73 are substantially duplicates.  We should either clarify the difference, or close one of them.

[2016-10-06 21:55] nikhiljindal commented on #102
Yes sorry I hadnt noticed #73. Yes fine to mark this duplicate of that one.

[2016-10-06 22:42] michmike opened #116 "Support Windows Server Containers for K8s"
# Description
Microsoft, in collaboration with Docker, is introducing a new feature called Windows Server Containers, which enables Docker containers to run on Windows. SIG-Windows would like to enhance Kubernetes to support Windows Server Containers (and Windows Server 2016 as the operating system of choice for the windows-based kubelet). With this feature, customers will be able to run Windows-b

[2016-10-06 23:10] michmike commented on #116
cc: @sarahnovotny, @idvoretskyi, and @kubernetes/sig-node

[2016-10-07 03:38] magicwang-cn commented on #116
@kubernetes/huawei

[2016-10-07 03:48] ravilr commented on #92
@philips @stevesloka is this feature being targetted for 1.5 release? Thanks.

[2016-10-07 08:35] davidopp commented on #51
This is finished. It maybe should have never been filed as a feature; the real feature is #60 and this is just one use case for it (and one piece of the work to bringing it to GA).

[2016-10-07 16:05] gmarek commented on #107
I want to move this directly to GA, without going through beta. This is just a single string and it's very unlikely that we'll want to change it before v2. @kubernetes/feature-reviewers

[2016-10-07 20:57] DirectXMan12 opened #117 "Arbitrary/Custom Metrics in the Horizontal Pod Autoscaler"
# Arbitrary/Custom Metrics in the Horizontal Pod Autoscaler
- One-line feature description (can be used as a release note): Reworked Horizontal Pod Autoscaler functionality, including support for custom metrics and status conditions.
- Primary contact (assignee): @directxman12
- Responsible SIGs: @kubernetes/sig-autoscaling-feature-requests
- Design proposal links (community repo):
  - [x] [HPA v2

[2016-10-07 20:58] DirectXMan12 commented on #117
cc @kubernetes/autoscaling @jszczepkowski @derekwaynecarr

[2016-10-07 22:16] DirectXMan12 opened #118 "Monitoring Pipeline Metrics HPA API"
# Description

The new monitoring vision (https://docs.google.com/document/d/1z7R44MUz_5gRLwsVH0S9rOy8W5naM9XE5NrbeGIqO2k/) proposes several APIs for the HPA to access metrics.  The master metrics API, used to access "core" resource metrics, is already implemented, but still needs to be stabilized.  The vision also proposes an adapter API that allows the HPA to access arbitrary metrics from the mo

[2016-10-07 22:17] DirectXMan12 commented on #118
cc @piosz @fgrzadkowski @derekwaynecarr @kubernetes/autoscaling @kubernetes/sig-instrumentation

[2016-10-08 01:40] HardySimpson commented on #44
/cc good work

[2016-10-08 03:11] stevesloka commented on #92
Yes would like to work on it. Last we spoke the 1.4 release was being finalized and wasn't time.

[2016-10-08 07:27] philips commented on #92
@stevesloka I think the next step is to come up with a design proposal and we can help to review. I would suggest you come up with a handful of designs, make your recommendation, and move from there to get a proposal in. This feature repo isn't supposed to be used for design discussion; but I am happy to help. Put something together and we can discuss on https://groups.google.com/forum/#!forum/kub

[2016-10-08 12:08] idvoretskyi commented on #51
@davidopp thank you for explanation, I've been confused a bit about closing the feature in "Alpha" status.

[2016-10-08 13:02] idvoretskyi commented on #107
@gmarek there are no restrictions for the feature to be released as stable (GA), but please, verify if it fits all the "Stable" requirements, described in the heading post.

[2016-10-08 23:54] smarterclayton opened #119 "Make StatefulSets safe during cluster failure"
# Description

In order to safely run clustered software, the PetSet controller (and other high level components) must be able to ensure only one instance of a pet is running at any one time.  This change will correct the core cluster logic controlling pod deletion to ensure pods can be used with this guarantee, and set direction for future improvements for reliable clusters around fencing and sto

[2016-10-08 23:57] smarterclayton opened #120 "Communicate replica set and deployment status via conditions"
# Description

Deployments and replica sets are the key components of the system for ensuring pods are being created and maintained, but it is currently difficult to summarize / roll-up the status of the RS/D during operation.  In addition, certain cluster policies like quota, limit range, or pod security policy can prevent pod creation, but the failures are only shown through events.  This change

[2016-10-09 00:00] smarterclayton opened #121 "Durable (non-shared) local storage management"
# Feature Description
- One-line feature description (can be used as a release note): Make locally attached (non-network attached) storage available as a persistent volume source.
- Primary contact (assignee): @msau42 @vishh
- Responsible SIGs: @kubernetes/sig-storage-feature-requests @kubernetes/sig-apps-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/commu

[2016-10-09 00:04] smarterclayton opened #122 "Allow deployments to correctly indicate they are failing to deploy"
# Feature Description
- One-line feature description (can be used as a release note): Allow deployments to correctly indicate they are failing to deploy
- Primary contact (assignee): @kargakis
- Responsible SIGs: @kubernetes/sig-apps-proposals
- Design proposal link: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#failed-deployment
- Reviewer(s) - (for LGTM) recommend having

[2016-10-09 00:39] AdoHe commented on #95
@deads2k I am learning third party resource recently, also wish to help with something.

[2016-10-09 01:03] kevin-wangzefeng commented on #89
/cc @kubernetes/huawei

[2016-10-09 07:51] luxas commented on #116
Relevant doc I wrote: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/multi-platform.md

[2016-10-09 16:07] michmike commented on #116
thanks for sending us this @luxas

[2016-10-09 21:58] davidopp commented on #121
I assume this is #7562 ?

And that #30044 is related?

[2016-10-10 10:28] ingvagabund opened #123 "Cluster capacity analysis"
# Description

Estimation current cluster utilization and express it in a form of "how many pods of given requirements can be still scheduled in a cluster". Operator can then estimation remaining capacity in the following way:
- if I can schedule 100 pods of a given shape, capacity is still sufficient
- if I can scheduler only 50 pods of a given a shape i am about to run out of resources and need

[2016-10-10 11:48] deads2k commented on #95
I've re-ordered the list in terms of what I see as tactical priority.  People are trying to use this now and these problems will burn them badly.

If you're comfortable taking the "multiple resources" item, that would be a great start.  You could create a separate issue and we can talk about implementation in there.

[2016-10-10 16:52] lukaszo opened #124 "DaemonSet updates"
# Feature Description
- DaemonSet rolling update, history, and rollback
- Primary contact (assignee): @janetkuo @lukaszo
- Responsible SIGs: sig-apps
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/527
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file) agreed to review. Reviewers from multiple companies preferred

[2016-10-10 18:57] derekwaynecarr opened #125 "Improve responsiveness of kubelet eviction module"
# Description

Improve the responsiveness of the kubelet eviction module at detecting memory pressure.  Integrate with the memcg notification API rather than polling cAdvisor.
# Progress Tracker
- [ ] Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current st

[2016-10-10 18:59] derekwaynecarr commented on #125
assign to @sjenning , reviewer is @derekwaynecarr

[2016-10-10 18:59] derekwaynecarr commented on #125
sponsored by @kubernetes/sig-node

[2016-10-10 19:00] derekwaynecarr opened #126 "Add support for pod and qos level cgroups"
# Description

Add support for pod and qos level cgroups on the node.
# Progress Tracker
- [ ] Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Ku

[2016-10-10 19:00] derekwaynecarr commented on #126
I am owning this work, and reviewer is @dchen1107

sponsored by @kubernetes/sig-node

[2016-10-10 19:02] derekwaynecarr opened #127 "Support User Namespaces in pods"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add support for user namespaces in pods
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/127-user-namespaces/README.md
- Discussion Link:  This was discussed in several sig-node meetings, most notable Nov 2 2021 and in this PR, that feedback was i

[2016-10-10 19:03] derekwaynecarr commented on #127
This work is being done by @pweil- and is reviewed by @derekwaynecarr, it is sponsored by @kubernetes/sig-node

[2016-10-10 19:12] ardnaxelarak commented on #75
Proof-of-concept/work-in-progress at https://github.com/ardnaxelarak/kubernetes/tree/31017_namespace_dns_client_config_annotations

[2016-10-10 21:36] mtaufen commented on #35
/subscribe @mtaufen
/cc @mikedanese @thockin

So we stay in the loop as this seems related to configmaps/dynamic kubelet/other component config/etc.

[2016-10-11 04:22] smarterclayton commented on #121
Yes and yes.  Consensus is to see if we can pull together a design at most in 1.5

[2016-10-11 04:29] smarterclayton opened #128 "Support deleting previous objects in `kubectl apply`"
# Description

When creating objects with `kubectl apply`, it is frequently desired to make changes to the config that remove objects and then re-apply and have those objects deleted.  This feature will support pruning which deletes objects previously applied that no longer exist in the source config.
# Progress Tracker
- [x] Alpha
  - [x] Write and maintain draft quality doc
    - [ ] During deve

[2016-10-11 04:35] bprashanth commented on #121
It would be great if we were ready to go at this in 1.6
@kubernetes/sig-storage @jingxu97

[2016-10-11 04:36] davidopp commented on #128
I worried that we're starting to turn the features repo into another kubernetes/kubernetes issues repo, and it will become as undigestible.

I would argue this one doesn't meet the bar for going in the features repo.

[2016-10-11 04:37] smarterclayton opened #129 "Enable custom workflows to be built on top of Deployments"
# Description

Most applications have some logical deployment process that controls how deployments are rolled out.  In some cases, such as example applications, it's valuable to have scripts that initialize a database or perform setup to make an example as easy to consume as possible (via a Helm Chart or template).  In other cases, the deployment process might clear shared caches or sessions so t

[2016-10-11 05:53] thockin commented on #121
I think we can commit to that.

On Mon, Oct 10, 2016 at 9:35 PM, Prashanth B <notifications@github.com>
wrote:

[2016-10-11 06:04] davidopp commented on #123
Since I didn't see it mentioned above -- we've been having some discussion of this in kubernetes/kubernetes#32677

[2016-10-11 06:19] thockin commented on #75
So the goal here is to run multiple DNS servers, one for each tenant (inasmuch as you can model the concept)?  This intersects really badly with the evolving design of DNS, which was likely to end up with a node-local cache/proxy.

@bprashanth @bowei

[2016-10-11 06:42] bgrant0607 commented on #128
@mikedanese Isn't this done?

[2016-10-11 06:44] bgrant0607 commented on #112
@justinsb See also #18

[2016-10-11 07:13] feiskyer commented on #126
@derekwaynecarr Is this for v1.5?

[2016-10-11 09:17] lukaszo commented on #120
Can we also include DaemonSets gere? I can help with implementation.

[2016-10-11 09:52] kargakis commented on #120
I would prefer to keep the work for other controllers separate from RS/D.

[2016-10-11 16:28] jingxu97 commented on #121
Yes, I will definitely spend more time on this after this short release
cycle for 1.5. Thanks!

Jing

On Mon, Oct 10, 2016 at 10:53 PM, Tim Hockin <notifications@github.com>
wrote:

--
- Jing

[2016-10-11 18:11] jbeda opened #130 "Integrate Cluster Bootstrap/Discovery with Kubenetes Core"
# Feature Description
- One-line feature description (can be used as a release note): Add a new authentication and verification mechanism called Bootstrap Tokens to use to easily add new members to a cluster
- Primary contact (assignee): @luxas @jbeda
- Responsible SIGs: sig/cluster-lifecycle, sig/auth
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/628
- Revi

[2016-10-12 14:43] euank commented on #16
I don't think this belongs in the 1.5 milestone. As far as I'm aware, there are no concrete plans in sig-node to work on this feature until an upstream docker issue (https://github.com/docker/docker/issues/21721) is resolved. Even once that's resolved, I don't think this has gone through prioritization or reached broad consensus.

[2016-10-12 16:07] idvoretskyi commented on #16
@euank thank you for clarifying.

[2016-10-12 16:17] idvoretskyi commented on #130
@jbeda I noticed that the feature has been opened after the agreed submission deadline (Oct 10). Is there any reason why this feature has to be added to 1.5 milestone?

[2016-10-12 16:54] MikeSpreitzer commented on #16
Closing this, because --- as noted in the July 20 and 21 comments --- a different approach to supporting the use case is favored.

[2016-10-12 16:54] #16 closed

[2016-10-12 17:56] jbeda commented on #130
@idvoretskyi I screwed up and I apologize.  We were tracking all of the work in the the lifecycle SIG and met on Tuesday morning.  Missed it by one day.  Hopefully this isn't a blocker?

[2016-10-12 18:04] mikedanese commented on #130
meta: I don't understand the purpose of a 1.5 milestone deadline. If a feature get's dreamed up after the dreamed, alpha implemented and merged before we cut 1.5 is it still a feature? I see the purpose of this repo as providing visibility to progress on large repos. I don't see any purpose to a submission deadline. There's also no documentation of a deadline in this repo (when or why).

[2016-10-12 18:15] gtank commented on #43
As part of the documentation effort, here's a [flow chart](https://knsv.github.io/mermaid/live_editor/#/view/c2VxdWVuY2VEaWFncmFtCk5vdGUgbGVmdCBvZiBrdWJlbGV0OiAgZ2VuZXJhdGUgQ1NSCmt1YmVsZXQtPj5hcGlzZXJ2ZXI6IFBPU1QgdG8gY2VydGlmaWNhdGVzIEFQSSB1c2luZyBib290c3RyYXAta3ViZWNvbmZpZwphcGlzZXJ2ZXItLT4-a3ViZWxldDogQ1NSIG9iamVjdCBjcmVhdGVkIChjb250YWlucyBuYW1lKQpsb29wIHBvbGxzIGZvciBDU1JzCiAgICAgICBhcHByb3Zlci0

[2016-10-12 20:58] nikhiljindal commented on #99
Design being discussed in https://github.com/kubernetes/kubernetes/issues/33612

[2016-10-13 00:28] idvoretskyi commented on #130
@mikedanese the purpose of the repo - is providing visibility and tracking on the product features, you are right. At the same time, during the release development process, we'd like to see the actual picture of the features that are going to be added to the product.
Feature submission deadline - is not the deadline for developing the feature; it's a deadline for declaring your desire to develop s

[2016-10-13 00:30] idvoretskyi commented on #130
@jbeda as we have already agreed in the mailing thread [0], this is not a blocker.
0. https://groups.google.com/d/msg/kubernetes-sig-cluster-lifecycle/AyNEsX2lJnU/Hv0SYJFJEgAJ

[2016-10-13 02:32] jbeda commented on #130
cc @kubernetes/sig-cluster-lifecycle

[2016-10-13 14:28] idvoretskyi commented on #2
@ericchiang just to confirm - does this feature target beta for 1.5?

[2016-10-13 14:33] idvoretskyi commented on #32
@ericchiang is there any progress on the feature development?

[2016-10-13 14:38] idvoretskyi commented on #48
@jszczepkowski @alex-mohr @davidopp is this feature actively developed? Can we expect it to be present in 1.5?

[2016-10-13 14:42] fgrzadkowski commented on #48
Yes it is actively developed. We should make it for 1.5.

[2016-10-13 14:47] deads2k commented on #2
It's going to be close.  I'm actively working on it, but here's the list:
 1. Evaluate performance impact.  I think the last pull needed before a check is https://github.com/kubernetes/kubernetes/pull/34047.  @ericchiang/CoreOS signed up for the testing.
 2. Make the user experience for it reasonable.  Default roles and bindings, admin level access for bootstrapping.  This is moving forward and wi

[2016-10-13 15:04] ericchiang commented on #32
@idvoretskyi no there's not. Dropping the milestone for now until we have time to work on it a bit more.

[2016-10-13 15:10] erictune commented on #2
I'd adjust 3:
Kube-controller-manager can be root, which is the case today for ABAC.
We would need to do something to tweak the perms for the default service
account in kube-system so that addons have the permissions
they need.  Read-all-namespace perms would be fine as a start.
I'd like 4 to cover most GCE e2e tests.
We should have an idea of how to announce that RBAC is the default for
kube-up a

[2016-10-13 15:10] idvoretskyi commented on #112
@justinsb which SIG can sponsor this feature?

[2016-10-13 15:11] idvoretskyi commented on #113
@justinsb which SIG can sponsor this feature?

[2016-10-13 15:19] idvoretskyi commented on #123
@ingvagabund @davidopp which SIG is a sponsor of the feature? SIG-Scheduling, I suppose?

[2016-10-13 15:24] idvoretskyi commented on #2
@deads2k @erictune thank you.

[2016-10-13 15:24] idvoretskyi commented on #32
@ericchiang thank you.

[2016-10-13 15:29] ingvagabund commented on #123
I will get to the description, update it accordingly and carry missing steps. Still cleaning my backlog.

[2016-10-13 15:42] idvoretskyi commented on #12
@kubernetes/sig-api-machinery @kubernetes/sig-scalability can you clarify the actual state of the feature in 1.5?

[2016-10-13 15:43] idvoretskyi commented on #18
@errordeveloper @kubernetes/sig-cluster-lifecycle can you clarify the actual status of the feature?

[2016-10-13 15:44] idvoretskyi commented on #21
@MikeSpreitzer @kubernetes/sig-node can you clarify the actual status of the feature?

[2016-10-13 15:46] idvoretskyi commented on #27
@kubernetes/sig-network @bprashanth  can you clarify the actual status of the feature?

[2016-10-13 15:49] idvoretskyi commented on #33
Targeting GA in 1.5.

[2016-10-13 15:54] idvoretskyi commented on #54
@dchen1107 @yujuhong can you clarify the actual status of the feature?

[2016-10-13 15:57] idvoretskyi commented on #61
@davidopp can you clarify the actual status of the feature?

[2016-10-13 15:58] idvoretskyi commented on #63
@dchen1107 @kubernetes/sig-node can you clarify the actual status of the feature?

[2016-10-13 15:59] idvoretskyi commented on #71
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 15:59] smarterclayton commented on #35
Moving this out of 1.5 - there's not enough bandwidth right now to implement and the time window is too short.  Work will continue in the background.

[2016-10-13 15:59] idvoretskyi commented on #72
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:00] idvoretskyi commented on #73
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:01] idvoretskyi commented on #74
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

Also could you provide with the design document?

[2016-10-13 16:03] idvoretskyi commented on #97
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:04] idvoretskyi commented on #98
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature and provide us with the actual design doc?

[2016-10-13 16:04] therc commented on #33
This is mostly working already in 1.4, but it occurred to me that there's no way to create such a service from the command line without using a YAML/JSON file.

`kubectl expose` doesn't feel exactly right, because the whole point of ExternalName services is that there are no pods to be exposed. If that's still the way it's going to be done, the command line syntax will have to be changed from `(-f

[2016-10-13 16:05] idvoretskyi commented on #100
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:05] idvoretskyi commented on #101
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:06] idvoretskyi commented on #103
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:07] idvoretskyi commented on #104
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:07] idvoretskyi commented on #105
@quinton-hoole @kubernetes/sig-cluster-federation can you clarify the actual status of the feature?

[2016-10-13 16:12] idvoretskyi commented on #112
@justinsb does this feature duplicate the current one? https://github.com/kubernetes/features/issues/18

[2016-10-13 16:13] fgrzadkowski commented on #104
@quinton-hoole I thought it's planned to early 2017. I'm happy to help with reviewing design docs to make sure it's inline with regular control plane HA design, but I won't be able to work on that.

[2016-10-13 16:15] fgrzadkowski commented on #21
@kubernetes/autoscaling

[2016-10-13 16:18] fgrzadkowski commented on #21
Btw, I think this feature should be discussed and sponsored by sig-autoscaling, not sig-node. Obviously there are number of features/changes on the node level to make this work correctly, but I strongly believe we should keep it within aforementioned sig. Any thoughts around that?

[2016-10-13 17:18] idvoretskyi commented on #21
@fgrzadkowski if you as an SIG-Autoscaling lead would like to sponsor the feature, I have no objections.

[2016-10-13 17:19] idvoretskyi commented on #21
@kubernetes/sig-node @dchen1107 are you going to cooperate with @kubernetes/autoscaling on this feature work or you'd prefer the SIG Autoscaling only to work on?

[2016-10-13 18:24] thockin commented on #33
`kubectl create service` is the correct command tree to explore

On Thu, Oct 13, 2016 at 9:04 AM, Rudi C <notifications@github.com> wrote:

[2016-10-13 18:29] uruddarraju commented on #2
We at eBay have set up a RBAC Policy list for the complete cluster controllers.

https://github.com/uruddarraju/kubernetes-rbac-policies/tree/master

[2016-10-13 19:03] uruddarraju commented on #2
And also, from my experience after coming up with all the policies needed, I think there is a need for `explicitDeny` on a particular set of Resources with in an `APIGroup`.

This way as an admin, I will be able to give access to all resources with in a namespace except for `resourceQuotas` to a user deploying their applications within the namespace. This gives me enough control over the cluster u

[2016-10-13 20:25] saad-ali commented on #44
I agree: I would not want etcd v3 to rollout for the first time as part of k8s v1.5--it'll make it much harder to isolate etcd v3 vs other v1.5 issues.

What's the status of this. Do we have a 1.4.x release that this is targeted for. CC @jessfraz v1.4.x release czar

CC @pwittrock

[2016-10-13 20:27] wojtek-t commented on #44
@saad-ali - the plan is to launch it as 1.4.x release. This was already discussed with GKE folks. We are working on making this happen.

And the plan is to have a dedicated 1.4.x release when we launch only etcd3 (I mean any other changes).

[2016-10-13 20:28] saad-ali commented on #44
Perfect!

[2016-10-13 20:29] pwittrock commented on #44
This has to be in a dedicated release, as it will not be possible to rollback from.

[2016-10-13 20:49] nikhiljindal commented on #71
Design being discussed in https://github.com/kubernetes/kubernetes/issues/33622.
To clarify this is P2

[2016-10-13 20:50] nikhiljindal commented on #100
@mwielgus is working on this.
Dont have the rights to change the assignee.

[2016-10-13 20:52] nikhiljindal commented on #105
Havent started any work on this yet. This is P2.

[2016-10-13 21:59] jessfraz commented on #44
So this is for 1.5 then?

On Thu, Oct 13, 2016 at 1:29 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-10-13 22:04] pwittrock commented on #44
It is 1.4.*.  There should just be no other things in that patch release.

[2016-10-13 22:17] jessfraz commented on #44
Gotcha ok! Thanks for clarifying we can probably make it it's own 1.4.3
next week :)

On Thu, Oct 13, 2016 at 3:04 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-10-13 22:40] erictune commented on #2
I wanted the resourceQuotas to be at the Cluster level for this reason.

On Thu, Oct 13, 2016 at 12:03 PM, Uday Ruddarraju <notifications@github.com>
wrote:

[2016-10-13 22:52] liggitt commented on #2
I think enumerated policy is almost always the right way to go. The meaning of `* - foo` changes as new resources are added, without any decision on the policy maker's part. The fact that a resource is being omitted means the role isn't intended to grant unlimited access, but a "everything except foo" rule does just that for every future resource, no matter how powerful.

[2016-10-13 23:42] erictune commented on #85
Please consider https://github.com/kubernetes/kubernetes/issues/34776 before beta, as addressing it might be a breaking API change (makes a required field optional).

[2016-10-14 06:37] wojtek-t commented on #44
@jessfraz - it's not ready for next week;

[2016-10-14 06:41] madhusudancs commented on #97
@idvoretskyi The design doc is out for review - https://github.com/kubernetes/kubernetes/pull/34484.

Two questions:
1. How do you expect the status to be updated in the future?
2. (Semi-related to the previous one) It looks like I can't edit the issue description here, while I can in the Kubernetes core repo. Why?

[2016-10-14 08:27] dgomezs commented on #27
hi everyone, reading the guide here http://kubernetes.io/docs/user-guide/load-balancer/#loss-of-client-source-ip-for-external-traffic it seems to me the feature is in alpha on GCE/GKE. I'm using a cluster 1.4 and trying to test the feature using the alpha annotation.

However, I still see a local ip address when I print it out in the log on my nginx pod using $remote_addr.

Anything am I doing wro

[2016-10-14 09:08] idvoretskyi commented on #27
@dgomezs may I ask you to create an issue in kubernetes/kubernetes repo? This repo is for managing and tracking the features, the actual coding and bug fixing work happens in that repo.

[2016-10-14 10:11] davidopp commented on #85
Is it really not allowed to add a mutually exclusive field once something is already in Beta? I don't understand why that would be the case (I may be missing something though). I thought the "backward compatibility" requirement for Beta just meant that an object from the old API version has to be usable in the new binary version. It seems that would be the case, since the new binary version unders

[2016-10-14 12:34] dgomezs commented on #27
@idvoretskyi  Done.

[2016-10-14 13:11] idvoretskyi commented on #105
@nikhiljindal is it scheduled for 1.5 or we'll have to move it to the next milestone?

[2016-10-14 13:14] idvoretskyi commented on #97
@madhusudancs please, use the checkboxes in the issue description message to define the actual feature state.

[2016-10-14 13:20] mwielgus commented on #105
This will be a copy/paste/replcase of the secrets code. I can do this for 1.5 in some spare time.

[2016-10-14 18:17] dgoodwin opened #134 "Implement Token Management in Kubernetes Core"
# Description

Implement token management in Kubernetes Core.

Tokens today originate from a static file passed to the API server. They do not expire, cannot be synced across multiple API servers without external config management, and cannot be added/removed without an API server restart.

This feature will bring tokens into the API as a core type and allow them to be stored in etcd, and managed

[2016-10-15 00:10] madhusudancs commented on #97
@idvoretskyi I tried. But I couldn't check the boxes.

[2016-10-15 00:11] madhusudancs commented on #97
@idvoretskyi also, how about changing the replace.me lines?

[2016-10-16 21:07] timothysc commented on #104
Currently HA within a single control plane using upstream mechanics has a series of issue, and is actively being investigated by the @kubernetes/sig-cluster-lifecycle

/cc @pires

[2016-10-16 23:32] davidopp commented on #123
Yes

[2016-10-18 14:02] aglassman commented on #33
Thanks for working on this feature, it's been very helpful.

[2016-10-18 16:48] idvoretskyi commented on #60
@wojtek-t can you explain in which stage this feature is going to be delivered in 1.5? @davidopp has defined beta, while in this conversation https://github.com/kubernetes/kubernetes/pull/31136#issuecomment-253549312 I see some comments with concerns?

[2016-10-18 17:30] wojtek-t commented on #60
@idvoretskyi - most probably it won't get to beta, but that's not final decision from what I know.

[2016-10-18 17:33] davidopp commented on #60
It's not going to be beta. There are a few features we recently decided to remove from the set we were going to move to beta in 1.5. I'll update the feature bugs shortly.

[2016-10-18 20:30] timothysc commented on #60
The details can be found here: https://github.com/kubernetes/kubernetes/issues/30819 and here: https://github.com/kubernetes/kubernetes/issues/34508

The general gist is: annotations as a mechanism for alpha-beta-GA api promotion has a number of issues, and @kubernetes/sig-api-machinery is working on a "happy-path" which is still TBD.

[2016-10-18 22:20] davidopp commented on #123
Is there actually going to be code for this in 1.5? If not, I think we should remove the 1.5 milestone.

[2016-10-18 22:20] davidopp commented on #60
Yes, what @timothysc . I'm removing the beta-in-1.5 label and the 1.5 milestone.

[2016-10-18 22:21] davidopp commented on #106
Removing from 1.5 milestone. See https://github.com/kubernetes/features/issues/60#issuecomment-254629979 for details.

[2016-10-18 22:21] davidopp commented on #107
Removing from 1.5 milestone. See https://github.com/kubernetes/features/issues/60#issuecomment-254629979 for details.

[2016-10-18 22:22] davidopp commented on #109
Removing from 1.5 milestone.

[2016-10-19 07:59] ingvagabund commented on #123
The proof of concept is already implemented [1]. It "just" runs the scheduler as long as it can schedule specified pod. No cluster state re-computation other than adding scheduler pods back to the loop.

[1] https://github.com/ingvagabund/cluster-capacity

[2016-10-19 13:10] dgoodwin commented on #134
I believe this has been decided against given the goals to keep k8s token issuer agnostic. Closing for now.

[2016-10-19 13:10] #134 closed

[2016-10-19 21:25] erictune commented on #2
If we want to allow user-installed thirdpartyresources then some kind of
wildcard is needed?

On Oct 13, 2016 3:52 PM, "Jordan Liggitt" <notifications@github.com> wrote:

I think enumerated policy is almost always the right way to go. The meaning
of * - foo changes as new resources are added, without any decision on the
policy maker's part. The fact that a resource is being omitted means the
role

[2016-10-20 15:21] deads2k commented on #2
`ThirdPartyResources` are cluster-scoped objects which change the discovery doc and affect every API client of the cluster.  Any user with the power to create a thirdpartyresource ought to have the power to create `ClusterRoles` to go with them.  That allows a TPR provider to give a yaml file will which create both so that we can have strict enumerations.

Also, you have no way of knowing ahead of

[2016-10-20 15:26] erictune commented on #2
But there were discussions about a namespaced version of TPR.  I think we
will need one.  We will need an authz story for it.

On Oct 20, 2016 8:21 AM, "David Eads" <notifications@github.com> wrote:

[2016-10-20 15:27] liggitt commented on #2
types that only exist within one namespace? that's... concerning. TPR defines a type cluster-wide, the instances of which are already namespaced.

[2016-10-20 15:28] deads2k commented on #2
I think that would actually be implemented as a separate API server running inside of the namespace.  Project admins shouldn't be able to mutate discovery docs and having different discovery docs per namespace is weird.

[2016-10-20 18:38] nikhiljindal commented on #103
As discussed in the community meeting, we are still discussing the design. May not make 1.5

[2016-10-20 23:29] pmorie commented on #2
what is the story as a client for what you described, @deads2k - is this api server federated with the main api?

[2016-10-21 01:07] nikhiljindal commented on #102
Closing as duplicate of #73

[2016-10-21 01:07] #102 closed

[2016-10-21 01:09] liggitt commented on #73
cc @kubernetes/sig-auth

[2016-10-21 01:28] nikhiljindal commented on #73
To clarify, the goal is to have a design. Will not implement this in 1.5.
Design discussions in https://github.com/kubernetes/kubernetes/issues/35254

[2016-10-21 12:42] deads2k commented on #2
A project-admin cannot be allowed to modify the main API server.  They would need to create a route which pointed to their new API server and selectively choose which one they wanted to talk to.  We can talk about trying to make a smarter client that can do this, but a project-admin should never have the power to get the main API server to proxy requests or discovery information to a pet project.

[2016-10-23 03:50] AdoHe commented on #95
@deads2k I spent some time try to reproduce the first issue:
[code]
but with unluck. Below is my reproduce steps:
1. create a custom thirdparty resource&wait it to appear
[code]
2. after a moment(more than 10s), create another custom thirdparty resource
[code]
3. verify both resources exist
[code]
seems we already support multiple resources, single version.

[2016-10-23 08:26] AdoHe commented on #95
And I take a deep look at TPR related code. The `thirdparty_controller` will do periodically sync(every 10 seconds), it will install every new TPR, and also do some deletion job. The `ThirdPartyResourceServer` contains all installed TPR mappings. As we can see from [`SyncOneResource`](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/rest/thirdparty_controller.go#L55) an

[2016-10-23 08:49] AdoHe commented on #95
Also I found that I am able to delete a TPR schema def even there are TPR instances in the system. I think this should not be allowed.

[2016-10-24 11:55] deads2k commented on #95
Try to enable this test: https://github.com/kubernetes/kubernetes/blob/master/test/integration/thirdparty/thirdparty_test.go#L137 .  If it works, we're good. If it fails, something is wrong.

[2016-10-25 14:06] pweil- opened #135 "Seccomp"
# Description

Seccomp support is providing the ability to define seccomp profiles and configure pods to run with those profiles.  This includes the ability control usage of the profiles via PSP as well as maintaining the ability to run as unconfined or with the default container runtime profile.

KEP: [sig-node/20190717-seccomp-ga.md](https://github.com/kubernetes/enhancements/blob/master/keps/si

[2016-10-25 14:07] pweil- commented on #135
@derekwaynecarr @sttts @erictune didn't see an issue for this but it is already in alpha.  Creating this as the reminder to push it through to beta and stable.

@sttts could you provide the appropriate links to docs and PRs?  I think you are closest to this code.

[2016-10-25 14:15] bryk opened #136 "Dashboard UI: show all user facing resources"
# Description

User story: As a user I want to be able to access my cluster using only UI, only CLI or any mix of CLI and UI interactions. I want to see my entire application architecture through the UI.

Goals: The Dashboard UI shows all user facing resources and allows for CRUD operations on them. We define "user facing resources" as all Kubernetes resources that cluster admin or cluster users m

[2016-10-25 16:39] derekwaynecarr commented on #135
@pweil- @sttts - per our discussion, this is a feature we would like to sponsor in Kubernetes 1.6.

[2016-10-25 18:43] erictune commented on #2
Do users on openshift write custom controllers that use TPR for storage and
are accessible via Kubectl?

On Thu, Oct 20, 2016 at 8:28 AM, David Eads <notifications@github.com>
wrote:

[2016-10-25 19:39] deads2k commented on #2
Custom controllers, yes.  We have a couple "add-ons" related to our online offering that don't live in-tree with origin and so they have to define their own roles and the like.

TPRs, no.  Knowing how fragile they are, we've avoided using them they work well.  See https://github.com/kubernetes/features/issues/95 for a consolidated list.

[2016-10-26 00:04] apsinha opened #137 "StatefulSets"
# Description

https://github.com/kubernetes/kubernetes/issues/28718
# Progress Tracker
- [X] Alpha
  - [ ] Write and maintain draft quality doc
    - [ ] During development keep a doc up-to-date about the desired experience of the feature and how someone can try the feature in its current state. Think of it as the README of your new feature and a skeleton for the docs to be written before the Kub

[2016-10-26 07:28] mdshuai commented on #127
@derekwaynecarr Could you help create a user story card for this feature?

[2016-10-26 12:31] idvoretskyi commented on #137
@smarterclayton are you the right person to report here?

[2016-10-26 12:36] idvoretskyi commented on #135
@pweil- @derekwaynecarr please, confirm that this feature has to be set with 1.6 milestone.

[2016-10-26 12:39] sttts commented on #135
@idvoretskyi we target to move it to beta for 1.6.

[2016-10-26 12:58] idvoretskyi commented on #135
@sttts thanks.

[2016-10-26 15:50] apsinha commented on #137
Please feel free to adjust / modify or even delete this issue (in case it
is a duplicate) - I did not see an issue for this feature, which I believe
is planned for 1.5 so created it.

On Wed, Oct 26, 2016 at 5:31 AM, Ihor Dvoretskyi <notifications@github.com>
wrote:

--
Aparna Sinha
Product Manager
Kubernetes & GKE

650-283-6086 (m)

[2016-10-26 21:48] bgabler commented on #27
Is this currently available on GCP in Alpha? If so, how is it enabled? We spun up an alpha cluster today and the x-forwarded-for header is still being replaced with a k8s IP. Used the "service.alpha.kubernetes.io/external-traffic": "OnlyLocal" annotation per http://kubernetes.io/docs/user-guide/load-balancer/#loss-of-client-source-ip-for-external-traffic with no luck.

[2016-10-27 11:13] bogdando opened #138 "More flexible Kubernetes cluster creation with kubeadm feature flags"
# Description

The kubeadm, a Kubernetes cluster bootstrap and lifecycle management tool, simplifies the cluster creation a lot. It executes a fixed set of configuration steps, like certificates management or creation of system pods manifests, although doing them *all* and in the strict order, which is not flexible.

This is a problem when it comes about integrating with external configuration man

[2016-10-27 11:46] idvoretskyi commented on #137
@apsinha I have already re-checked the existing PetSet submitting issues here - there are no issues, proposing PetSets (they were implemented earlier that the feature submission process was established).

I would suggest to keep this one to track the PetSet activities.

[2016-10-27 11:47] idvoretskyi commented on #73
@nikhiljindal thank you for clarifying.

[2016-10-27 11:50] idvoretskyi commented on #123
@ingvagabund are we expecting to have this feature in 1.5 (at least in Alpha state)?

[2016-10-27 11:51] bogdando commented on #138
@jbeda @lukemarsden

[2016-10-27 11:52] idvoretskyi commented on #104
@quinton-hoole @fgrzadkowski so, is this still 1.5 or it will be implemented in further releases?