[2020-12-30 15:32] #2225 closed

[2020-12-31 09:41] mindw commented on #536
/remove-lifecycle stale

[2021-01-03 07:53] pacoxu opened #2227 "default container annotation that to be used by kubectl #2227"
I opened kubernetes/kubernetes#97099
Fixes kubernetes/kubernetes#96986, a similar solution like kubernetes/kubernetes#87809

# Enhancement Description
- One-line enhancement description (can be used as a release note): Users might specify the `kubectl.kubernetes.io/default-container` annotation in a Pod to preselect container for kubectl exec.
- Kubernetes Enhancement Proposal: https://github.com/

[2021-01-03 07:54] pacoxu commented on #2227
/sig cli

[2021-01-03 14:44] frittentheke commented on #1846
@ianlewis has support for UDP port-forwarding been considered / discussed in any way yet? With QUIC receiving more and more traction this becomes less of a special case in the near future. See https://github.com/kubernetes/kubernetes/issues/47862 for the discussions around UDP.

[2021-01-04 00:53] feiskyer commented on #1490
/remove-lifecycle stale

[2021-01-04 08:00] pacoxu commented on #1602
https://github.com/kubernetes/kubernetes/pull/97608 seems to be part of this.

[2021-01-04 15:09] xing-yang commented on #1977
/remove-lifecycle stale

[2021-01-04 17:41] rikatz commented on #2079
/remove-lifecycle stale

[2021-01-04 18:01] mattcary commented on #1488
/remove-lifecycle stale

We are evaluating whether this will be in 1.21 or 1.22.

[2021-01-04 22:40] mitar commented on #2012
/remove-lifecycle stale

[2021-01-04 23:09] dougsland opened #2229 "sig-cli: Use XDG Base Directory Specification"
# Enhancement Description
- One-line enhancement description (can be used as a release note): sig-cli: Use XDG Base Directory Specification
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2111
- Discussion Link: TBD -  We have discussed in the SIG-CLI meetings.
- Primary contact (assignee): dougsland
- Responsible SIGs: CLI
- Enhancement target (which target equa

[2021-01-05 02:20] BrendanThompson commented on #1645
/remove-lifecycle stale

[2021-01-05 04:47] AkihiroSuda commented on #2033
/remove-lifecycle stale

[2021-01-05 07:04] denkensk commented on #902
/remove-lifecycle stale

[2021-01-05 07:19] johanneswuerbach commented on #2021
/remove-lifecycle stale

[2021-01-05 10:38] frittentheke commented on #1281
@cheftako The link to the KEP is currently broken ... likely due to https://github.com/kubernetes/enhancements/commit/b9b8b52c1e8830a9c7d7065315d9675bf93f0d04 by @wojtek-t

[2021-01-05 10:41] frittentheke commented on #727
@dashpole the link to the KEP is currently broken - Likely due to commit https://github.com/kubernetes/enhancements/commit/7eef794bb549a50c6b08c457556ff0eac98a4c6b by @wojtek-t

[2021-01-05 10:44] swatisehgal commented on #2044
/remove-lifecycle stale

[2021-01-05 10:51] frittentheke commented on #1029
/remove-lifecycle stale

@RobertKrawitz  @sjenning the link to the KEP is currently broken, likely due to https://github.com/kubernetes/enhancements/commit/7eef794bb549a50c6b08c457556ff0eac98a4c6b. Should be https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1029-ephemeral-storage-quotas now then.

[2021-01-05 13:00] frittentheke commented on #1472
/remove-lifecycle stale

[2021-01-05 13:06] frittentheke commented on #1698
/remove-lifecycle stale

[2021-01-05 13:18] dashpole commented on #727
/remove-lifecycle stale

[2021-01-05 15:48] damemi commented on #2185
Haven't fogotten about this, just didn't get it in time for the new year... will open a PR soon based on @alculquicondor's [draft](https://github.com/alculquicondor/enhancements/tree/random-downscale/keps/sig-apps/2185-random-pod-select-on-replicaset-downscale)

[2021-01-05 18:22] swatisehgal commented on #2051
/remove-lifecycle stale

[2021-01-05 22:52] ehashman commented on #1748
/remove-sig node

[2021-01-05 22:56] ehashman commented on #135
/remove-lifecycle stale

[2021-01-05 23:02] ehashman commented on #611
This KEP has been stale for quite some time, for at least a year. If someone would like to reopen and work on this, please do!

Since no KEP proposal has been written, I am going to close this issue for now.

/close

[2021-01-05 23:02] #611 closed

[2021-01-05 23:04] ehashman commented on #1208
Hi all,

Since there has been no movement on this KEP for over a year, I am going to close this issue. Please reopen when you're ready to work on this!

/close

[2021-01-05 23:04] #1208 closed

[2021-01-05 23:19] ehashman commented on #2118
Hi @elliotfehr,

If you're interested in targeting this at the 1.21 release, please follow the KEP process outlined here: https://github.com/kubernetes/enhancements/tree/master/keps#quick-start-for-the-kep-process

I recommend you raise this to SIG Node before working on any more PoC code or begin work on the proposal, to get early feedback :)

[2021-01-06 13:28] adtac opened #2232 "batch/v1: add suspend field to Jobs API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add a `suspend` field to the Jobs API to allow orchestrators to create jobs with more control over when pods are created.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2234
- Discussion Link:
  - https://github.com/kubernetes/kubernetes/issues/97170
  - https://docs.go

[2021-01-06 14:41] xing-yang commented on #1412
/milestone v1.21

[2021-01-06 14:44] xing-yang commented on #1412
Updated KEP is merged: https://github.com/kubernetes/enhancements/pull/2179

[2021-01-06 16:24] neolit123 commented on #1755
lets close this to silence the bots and if we want to revisit we can reopen.

[2021-01-06 16:24] #1755 closed

[2021-01-06 16:24] andrewsykim commented on #1959
/remove-lifecycle stale

[2021-01-06 18:56] damemi commented on #2185
Filled out most of the sections and opened a KEP here: https://github.com/kubernetes/enhancements/pull/2233

Looking for anything I missed or could improve on. Pretty straightforward mostly since it's not affecting a user-documented behavior

[2021-01-06 19:36] tallclair commented on #213
This feature is nearly done, it just needs to be officially graduated and cleaned up. Can we make it happen in v1.21?

/milestone v1.21
/remove-lifecycle stale
/remove-sig auth

[2021-01-06 19:50] tallclair commented on #1314
Status update:

The OwnerRef restrictions are already merged. The label restrictions have not been implemented, and need to be re-thought out. I'll update the kep so we can close this out, and track mirror pod label restrictions separately.

[2021-01-06 21:58] alculquicondor commented on #2214
/area batch

[2021-01-06 22:52] liggitt commented on #267
Now that the CSR API is v1 and kubelet client certificate rotation is graduated, this is on sig-auth's radar to move to GA.

The next steps are:
1. ensure there's a retroactive KEP describing the feature, along with test and PRR items
2. sweep for any remaining bugs or gaps that need to be addressed before GA. Two possibilities are:
  * built-in support for approving CSRs nodes request (not curren

[2021-01-07 11:09] wojtek-t commented on #1194
/remove-lifecycle stale

Some more discussion was requested here - will happen next week. @johnbelamaric

[2021-01-07 13:00] wojtek-t commented on #1164
It's being discussed in https://github.com/kubernetes/kubernetes/issues/97484 adn https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25

Also - for the record - we will be delaying graduating to stable to 4 releases after beta (i.e. 1.24) just to give more time on it.
@smarterclayton @lavalamp @deads2k @liggitt

[2021-01-07 16:41] liggitt commented on #1750
this proposal is declined per https://github.com/kubernetes/enhancements/pull/1749#issuecomment-755738311

/close

[2021-01-07 16:42] #1750 closed

[2021-01-07 18:30] nicks commented on #1755
Thanks @neolit123 ! Ya, I consider this basically implemented. Microk8s and Kind both use this format now, and there are open issues to other providers to support it.

[2021-01-07 18:30] ankeesler commented on #541
Status (with extremely conservative estimates for 1 person working on these tasks):

1.21 (Beta):
- fix exec-related bugs, `started`, `medium`
  - known bugs: https://github.com/kubernetes/kubernetes/issues/91913
  - in-flight prs: https://github.com/kubernetes/kubernetes/pull/97811
- implement test plan, `started`, `medium`
  - test plan: https://github.com/kubernetes/enhancements/blob/master/kep

[2021-01-07 19:17] ahg-g commented on #592
/assign

I will update the KEP and try to move this to beta in 1.21

[2021-01-07 20:34] annajung commented on #1507
Hi @robscott, 1.21 enhancement lead here.
Let's keep this issue open to remove the feature gate for 1.21. Once that's completed, a PR to change the KEP to implemented would close out this issue.

[2021-01-07 20:48] annajung commented on #177
Hello, 1.21 Enhancement lead here.
I'm closing out this issue since the enhancement is GA and KEP has been updated to `implemented`.

/close

[2021-01-07 20:49] #177 closed

[2021-01-07 20:56] annajung commented on #950
Hello, 1.21 Enhancement lead here.
I'm closing out this issue since the enhancement is GA and KEP has been updated to implemented.

/close

[2021-01-07 20:56] #950 closed

[2021-01-07 21:02] matthyx commented on #950
Thanks @annajung !

[2021-01-07 21:14] annajung commented on #1020
Hi @soltysh 1.21 Enhancement Lead here.

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/35069fd4a5ddb5311911e633b1f662d14fd0ce29/keps/sig-cli/1020-kubectl-staging/kep.yaml#L8

Once that merges, we can close out this issue.

[2021-01-07 21:19] annajung commented on #1972
Hi @SergeyKanzhelev 1.21 Enhancement Lead here.

Can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/35069fd4a5ddb5311911e633b1f662d14fd0ce29/keps/sig-node/1972-kubelet-exec-probe-timeouts/kep.yaml#L8

Once that merges, we can close out this issue.

[2021-01-07 21:26] annajung commented on #1900
Hi @xing-yang 1.21 Enhancement Lead here.

I believe this issue can close now with being GA. Before closing, can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/35069fd4a5ddb5311911e633b1f662d14fd0ce29/keps/sig-storage/1900-volume-snapshot-validation-webhook/kep.yaml#L9

Once that merges, we can close out this issue.

/remove-lifecycl

[2021-01-07 21:31] annajung commented on #2067
Hi @neolit123 1.21 Enhancement Lead here.

I believe this issue can close now. Before closing, can you update the `kep.yaml` to reflect a status of `implemented`: https://github.com/kubernetes/enhancements/blob/35069fd4a5ddb5311911e633b1f662d14fd0ce29/keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/kep.yaml#L8

Once that merges, we can close out this issue.

[2021-01-07 21:34] annajung commented on #606
This issue is still waiting on https://github.com/kubernetes/enhancements/pull/2177 before closing.

[2021-01-07 21:46] annajung commented on #757
Hi @SergeyKanzhelev @derekwaynecarr, 1.21 Enhancement Lead here.
Does this issue need to be kept open?

[2021-01-07 21:54] xing-yang commented on #1900
Will do.  Thanks @annajung for the reminder.

[2021-01-07 22:01] SergeyKanzhelev commented on #757
This is GA'd. I don't see the reason to keep it open. @annajung can you please fix the link to KEP text in this issue description?

[2021-01-07 22:17] neolit123 commented on #2067
hi @annajung we need to keep this open until around 1.24+. this is mentioned in the OP here and the KEP.

[2021-01-07 22:24] ehashman opened #2238 "Add configurable grace period to probes"
# Enhancement Description

- One-line enhancement description (can be used as a release note): Add configurable `gracePeriodSeconds` field to liveness probes
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2238-liveness-probe-grace-period
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/64715#issuecomment-756173979
- Primary

[2021-01-07 23:06] annajung commented on #2067
Gotcha, thanks for clarifying.

[2021-01-07 23:09] annajung commented on #757
Great, it's been fixed.
With it being GA and KEP updated to `implemented`, I'm closing this issue.

[2021-01-07 23:09] #757 closed

[2021-01-07 23:11] johnbelamaric opened #2239 "PRR policy enforcement needs more discussion"
In December, we enabled enforcement of the PRR policy for KEPs targeting 1.21 and later.

Due to the holidays, some folks would like further discussion beyond the lazy consensus period (they did not see the email due to time off). See https://groups.google.com/g/kubernetes-dev/c/8uI9q0Idy0k/m/_y3wFOj4BwAJ

We will temporarily disable the enforcement of the policy, pending further discussions in th

[2021-01-07 23:17] johnbelamaric commented on #2239
/sig architecture

[2021-01-08 02:40] agrbhuvnesh commented on #1435
Any plan to backport MixedProtocolLBService support in earlier releases?

[2021-01-08 17:43] ahg-g commented on #592
@kow3ns @janetkuo I am planning to reorganize the KEP to indicate that ttl after finish for pods is a future work that can be done under a different feature flag, and the current work will focus on graduating the feature for jobs only, what do you think?

[2021-01-08 19:11] frittentheke commented on #284
/remove-lifecycle stale

[2021-01-08 23:05] janetkuo commented on #592
No objections from me. We've seen requests for graduating this feature for Jobs, but haven't observed as many requests for expanding this feature for Pods or custom resources.

cc @tnozicka

[2021-01-08 23:27] ehashman commented on #1041
Hi @clamoriniere,

Thanks for suggesting this enhancement. I see that the associated KEP PR was closed early last year and there hasn't been any movement on this issue. I am going to close this, but please feel free to reopen if you decide you want to work on this.

[2021-01-08 23:27] #1041 closed

[2021-01-08 23:29] ehashman commented on #1045
Hi @zhangxiaoyu-zidif,

It looks like this KEP hasn't been worked on in quite some time and the proposed PR closed over a year ago. I am going to close this issue, but please feel free to reopen if you decide you want to work on it. Cheers!

[2021-01-08 23:29] #1045 closed

[2021-01-08 23:35] ehashman commented on #1539
/reopen
/stage alpha

[2021-01-08 23:35] ehashman commented on #1539
/remove-lifecycle rotten

[2021-01-08 23:44] ehashman commented on #1877
Per the above comment I'm going to close this. Please open a new issue following the KEP repo format and submit a PR for discussion when you're ready to work on this :)

[2021-01-08 23:44] #1877 closed

[2021-01-09 12:51] wojtek-t commented on #592
+1

[2021-01-11 02:11] haslersn commented on #1435
Will this land in Kubernetes 1.20?

[2021-01-11 08:10] saschagrunert commented on #135
Yes, some work can be done in just v1.23

[2021-01-11 08:10] saschagrunert commented on #24
/remove-lifecycle stale

[2021-01-11 13:41] janosi commented on #1435
@agrbhuvnesh About backport: I do not know about such plans.
@haslersn Yes, it is in 1.20 as alpha, behind the MixedProtocolLBService feature gate. https://kubernetes.io/docs/concepts/services-networking/service/#load-balancers-with-mixed-protocol-types

[2021-01-11 19:01] ahg-g commented on #592
Discussed in today's sig meeting, there is agreement on moving forward with graduating it to beta for jobs without blocking on pods. We will make a decision on pods when graduating from beta to GA.

[2021-01-11 21:09] ahg-g opened #2249 "Namespace selector for pod affinity"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add namespaceSelector to pod affinity/anti-affinity spec
- Kubernetes Enhancement Proposal: WIP
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/97203, https://github.com/kubernetes/kubernetes/issues/68827
- Primary contact (assignee): ahg-g
- Responsible SIGs: sig-scheduling
- Enhanceme

[2021-01-11 21:09] ahg-g commented on #2249
/sig scheduling

[2021-01-12 09:22] saschagrunert commented on #1733
/remove-lifecycle rotten

[2021-01-12 09:52] #1733 closed

[2021-01-12 13:51] giuseppe opened #2254 "cgroup v2"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1370
- Discussion Link: https://github.com/kubernetes/community/blob/master/sig-node/archive/meeting-notes-2019.md#december-03-2019
- Primary contact (assignee): @giuseppe
- Responsible SIGs: node
- Enhancement target (whic

[2021-01-12 13:55] giuseppe commented on #2254
/sig node

[2021-01-12 14:05] ahg-g opened #2255 "Scale down a deployment by removing specific pods (PodDeletionCost)"
# Enhancement Description
- One-line enhancement description (can be used as a release note): allow users to decide which pods should be scaled first
- Kubernetes Enhancement Proposal: WIP
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/45509
- Primary contact (assignee): @drbugfinder-work, @ahg-g
- Responsible SIGs: sig-apps
- Enhancement target (which target equals to which mi

[2021-01-12 14:06] ahg-g commented on #2255
/sig apps

[2021-01-12 14:48] verb commented on #1441
We have some minor improvements to `kubectl debug` in the works for 1.21, namely kubernetes/kubernetes#97887 to support configurable capabilities and supporting #1690 if it merges, but nothing major.

@soltysh shall we plan for stable release in 1.22 if nothing else comes up?

[2021-01-12 14:53] verb commented on #277
We're working on two updates to the KEP for 1.21:

* #1690: Configurable security context and removing ephemeral containers
* #2244: Graduation to beta

I'm treating these as independent and trying to get them both approved and scheduled before the feature freeze.

[2021-01-12 16:47] paulcastro opened #2257 "Kui Enhancement"
# Enhancement Description
- One-line enhancement description (can be used as a release note): A hybrid command-line/UI development experience for cloud-native development
- Kubernetes Enhancement Proposal: [PR #2256](https://github.com/kubernetes/enhancements/pull/2256)
- Discussion Link:
- Primary contact (assignee):@starpit
- Responsible SIGs: cli
- Enhancement target (which target equals to whi

[2021-01-12 16:58] paulcastro commented on #2257
/sig cli

[2021-01-12 21:02] aravindhp opened #2258 "Node log query"
# Enhancement Description
- Add a kubelet API for viewing logs of system services on nodes
- Kubernetes Enhancement Proposal: [KEP-2258: Node log query](https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows/2258-node-log-query)
- Discussion Link: https://kubernetes.slack.com/archives/C0SJ4AFB7/p1610055846236600
- Primary contact (assignee): @aravindhp
- Responsible SIGs: sig-wind

[2021-01-12 21:07] aravindhp commented on #2258
/cc @LorbusChris @marosset @immuzz
/sig windows

[2021-01-13 03:10] warmchang commented on #625
/remove-lifecycle rotten

[2021-01-13 08:17] saschagrunert commented on #1833
I will close this for now. The idea still exists but I doubt that I will work on it anytime soon.

/close

[2021-01-13 08:17] #1833 closed

[2021-01-13 08:21] pacoxu commented on #2227
#2189 is updated now as well as the PR [#97099](https://github.com/kubernetes/kubernetes/issues/96986)

[2021-01-13 16:07] pires commented on #1769
The inflight PR is part of the 1.21 milestone but the enhancement is not and also is not tracking. Is this expected to land in said milestone?

[2021-01-13 18:58] ehashman commented on #2172
/sig node
/sig security

[2021-01-13 19:02] ehashman commented on #2200
/sig network

[2021-01-13 19:05] ehashman commented on #2089
Hi @patpatpat123,

Thanks for suggesting this! I would suggest you first file this as an issue against https://github.com/kubernetes/kubernetes. Once you've gauged community interest, you can then check with the SIG to see if they would be interested in implementing this. At that point, you can then start work on an enhancement. I am going to close this issue so you can go through that process :)

[2021-01-13 19:05] #2089 closed

[2021-01-13 19:05] ehashman commented on #1880
/sig network

[2021-01-13 19:08] abhiraut commented on #2091
We are actively working on a proposal for this and a KEP should be submitted for review soon.

/remove-lifecycle stale

[2021-01-13 19:26] lavalamp commented on #1929
@apelisse do you want this for 1.21?

[2021-01-13 19:28] lavalamp commented on #1904
/milestone v1.21

I'm assuming we want to go beta in 1.21?

[2021-01-13 19:36] wojtek-t commented on #1904
Thanks Daniel - yes, that's my plan.
I will try to send a KEP update for beta later this week.

[2021-01-13 19:36] lavalamp commented on #1815
/remove-sig api-machinery

[2021-01-13 19:54] lavalamp commented on #555
/milestone v1.21

[2021-01-13 21:19] apelisse commented on #1929
No, this is already stable :-)

/close

[2021-01-13 21:19] #1929 closed

[2021-01-13 21:26] xing-yang commented on #1979
/remove-lifecycle stale

[2021-01-13 22:22] dougsland commented on #2227
I have added the enhancement https://github.com/kubernetes/enhancements/pull/2189 to SIG Cli agenda asking people to take a look when they have free time. We need more people to review.

[2021-01-13 22:23] msau42 opened #2261 "Move mount library to staging"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Move mount library from k8s.io/utils to k/k/staging
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2261-staging-mount-library
- Discussion Link:
- Primary contact (assignee): brahmaroutu
- Responsible SIGs: storage
- Enhancement target (which tar

[2021-01-13 22:24] msau42 commented on #2261
/sig storage

[2021-01-13 22:46] msau42 commented on #2261
/assign @brahmaroutu

[2021-01-13 22:49] msau42 opened #2263 "Volume scale testing"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Volume scale testing
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2263-volume-scale-testing
- Discussion Link:
- Primary contact (assignee): msau42
- Responsible SIGs: sig-storage, sig-scalability
- Enhancement target (which target equals to wh

[2021-01-13 22:50] msau42 commented on #2263
/sig storage
/sig scalability

[2021-01-14 00:13] annajung commented on #1432
Hi @xing-yang, thanks for adding this to the tracking sheet!
This issue is now being tracked for the 1.21 release. Could you confirm that it's graduating to beta for 1.21?

[2021-01-14 01:32] msau42 opened #2264 "Kubernetes CSI release and CI process"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Release and CI processes for kubernetes-csi
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190204-kubernetes-csi-release-process.md
- Discussion Link:
- Primary contact (assignee): @pohly
- Responsible SIGs: sig-storage
- Enhancement target (wh

[2021-01-14 01:32] msau42 commented on #2264
/close

This has been implemented

[2021-01-14 01:32] msau42 commented on #2264
/sig storage

[2021-01-14 01:33] #2264 closed

[2021-01-14 04:37] xing-yang commented on #1432
Hi @annajung,

Yes, this is targeting beta for 1.21.

[2021-01-14 04:40] xing-yang commented on #2263
This link does not exist: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190204-scale-testing.md

[2021-01-14 04:42] xing-yang commented on #2261
This link needs an update:  https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20200508-move-utils-mount-2staging.md

[2021-01-14 04:43] xing-yang commented on #2261
Should this issue be closed if it is already stable in 1.20?

[2021-01-14 04:45] xing-yang commented on #2263
This is already stable, right?  Should this issue be closed?

[2021-01-14 09:11] aojea commented on #1880
/remove-lifecycle rotten

[2021-01-14 11:03] wojtek-t commented on #1904
Send out https://github.com/kubernetes/enhancements/pull/2267 for review

[2021-01-14 14:16] xing-yang opened #2268 "Non-graceful node shutdown"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add support to handle non-graceful node shutdown
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2268-non-graceful-shutdown
- Discussion Link:
- Primary contact (assignee): @yastij @xing-yang
- Responsible SIGs: sig-storage, sig-node
- Enhancement

[2021-01-14 14:17] xing-yang commented on #2268
/sig storage

[2021-01-14 14:17] xing-yang commented on #2268
/sig node

[2021-01-14 15:27] bjorndm opened #2269 "Cannot use v0.20.0 using go modules"
Running the following minimal test:
[code]
Gives the following error on the last command:
[code]
I don't how else i should be using the k8s modules. It seems the Go module support of the k8l libraries isn't working very well "out of the box". How to resolve this?

/sig usability

[2021-01-14 15:29] bjorndm commented on #2269
/sig usability

[2021-01-14 15:36] bjorndm commented on #2269
Sorry, wrong repository.

[2021-01-14 15:36] #2269 closed

[2021-01-14 15:54] pohly commented on #2269
Did you file a different issue somewhere?

[2021-01-14 16:36] bjorndm commented on #2269
Yes, here https://github.com/kubernetes/client-go/issues/916 , and it already has been resolved. Thanks for your time!

[2021-01-14 17:22] msau42 commented on #2261
I believe @brahmaroutu still has a few remaining PRs to wrap up the work

[2021-01-14 17:24] msau42 commented on #2263
updated link. This is a weird one in that it's not really tied to a Kubernetes release. Some tests were implemented, but I think we need more followup.

[2021-01-14 17:55] wojtek-t commented on #2263
Yes - we're still not running any PD tests as an example.

[2021-01-15 00:25] andrewsykim commented on #2133
/sig node

[2021-01-15 04:22] justaugustus commented on #590
x-post from [#enhancements](https://kubernetes.slack.com/archives/C1L57L91V/p1610684217001100?thread_ts=1610646750.000900&cid=C1L57L91V):

The Triage role

ref: https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

did not exist on GitHub when we initially configured privileges for k/enhancements, so

[2021-01-15 11:22] shekhar-rajak opened #2273 "Container Resources CRI API Changes for Pod Vertical Scaling"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Container Resources CRI API Changes for Pod Vertical Scaling

- Kubernetes Enhancement Proposal:

After merging https://github.com/kubernetes/enhancements/pull/2266, we will get the file location: "/keps/sig-node/2273-kubelet-container-resources-cri-api-changes"

- Discussion Link:  #1342

- Primary cont

[2021-01-15 11:24] shekhar-rajak commented on #2273
/sig node

[2021-01-15 11:37] shekhar-rajak commented on #2273
We need to update the "Enhancement target"  and in the proposal as well.

[2021-01-15 13:55] fmuyassarov commented on #563
Hi,
Is there any plan to move dual-stack to beta in 1.21/1.22 ?

[2021-01-15 15:04] xing-yang commented on #2263
Sure.

[2021-01-15 15:41] jeremyrickard opened #2276 "Add kepctl / kepval compile checks"
*Note this is not an enhancement, but an issue around enhancement tooling*

As noted in #2247, compilation of `kepctl` was broken for a little bit (thanks for the fix @jqmichael). As we start to leverage `kepctl` more to support the receipts process in 1.22 and beyond, we should ensure that changes to source code that lives in this repo always leaves the tools in a buildable state.

We should add

[2021-01-15 15:42] jeremyrickard commented on #2276
/sig architecture

[2021-01-15 15:42] jeremyrickard commented on #2276
/help

[2021-01-15 15:43] jeremyrickard commented on #2276
/priority important-soon

[2021-01-15 15:47] jeremyrickard opened #2277 "Add additional issue templates to the enhancements repo"
This repo contains KEPs and tooling to support the KEP lifecycle, however our issue template is only focused on contributors opening new KEPs. We should add some additional templates to allow issues to be reported against `kepval` and `kepctl` or to future components in the repo.

Suggest using templates from [sig-release]( https://github.com/kubernetes/release/tree/master/.github.) as a starting

[2021-01-15 16:38] jeremyrickard opened #2279 "Add additional query options to kepctl query"
Currently, `kepctl` supports querying across KEPs on a few fields:

[code]

Adding additional query options for  `--author` and `--approver` would be beneficial additions. These should behave like the `--prr` flag.

/sig architecture
/priority important-soon

[2021-01-15 17:17] shekhar-rajak commented on #2276
Hi @jeremyrickard ,

Testcases are vital part of the any codebase. I will try to add new testcases. I see that there no much documentation about the development version setup, local test as well in the [CONTRIBUTING](https://github.com/kubernetes/enhancements/blob/master/CONTRIBUTING.md) file.

[2021-01-15 17:40] shekhar-rajak commented on #2276
Just want to get some clarification - this is for setting up new CI tool to check the test cases before merging the PR  or adding  missing kepval and kepctl testcaes ?

[2021-01-15 19:47] kikisdeliveryservice commented on #2277
This sounds like a good idea! :+1:

[2021-01-16 06:56] shekhar-rajak opened #2283 "go test -v failed , different error msg"
(Part of https://github.com/kubernetes/enhancements/issues/2348.)

I am getting different error msg each time I run `go test -v` in `pkg`

[code]

[code]

[code]

[2021-01-16 19:30] jayunit100 commented on #2112
update on this
- we have an implementation PR, https://github.com/kubernetes/kubernetes/pull/96968
- we have merged the provisional kep, and now are moving it to implementable , hopefully this wk #2284

[2021-01-17 01:10] coderanger commented on #5
For anyone following this ticket, [PSPs will be deprecated in 1.21 with removal targeted for 1.25](https://github.com/kubernetes/kubernetes/pull/97171).

[2021-01-17 13:31] oke-py opened #2285 "KEP-277: Ephemeral Containers contains broken links"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Fix broken links in KEP-277: Ephemeral Containers.
- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/277-ephemeral-containers
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs: sig-node
- Enhancement target (which target equals to whi

[2021-01-17 13:31] oke-py commented on #2285
/sig node

[2021-01-18 16:59] unixfox commented on #508
/remove-lifecycle stale

[2021-01-18 17:11] telmich commented on #508
Question: does this ticket also include a working IPv6 kube-router or not? Because as far as I know, kube-router does not work in IPv6 only networks.

[2021-01-18 18:04] aojea commented on #508
what do you mean by kube-router?

[2021-01-19 08:47] feiskyer opened #2289 "Migrate some cloud provider KEPs to the new template"
Parent issue: https://github.com/kubernetes/enhancements/issues/2220

KEP list:

- https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/azure/20190722-ccm-instance-metadata.md

[2021-01-19 12:38] telmich commented on #508
I am referring to https://github.com/cloudnativelabs/kube-router/issues/988

[2021-01-19 13:27] shekhar-rajak opened #2290 "New label for trusted PR identification"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

New label for trusted PR identification

- Kubernetes Enhancement Proposal:

This document describes a major change to the way the `trigger` plugin determines if test jobs should be started on a pull request (PR).

We propose introducing a new label named `ok-to-test` that will be applied on non-member P

[2021-01-19 13:34] shekhar-rajak opened #2291 "Presubmit config inside the tested repo"
# Enhancement Description

- One-line enhancement description (can be used as a release note):

Presubmit config inside the tested repo

- Kubernetes Enhancement Proposal:

It is proposed to introduce a the option to configure additional presubmits inside
the code repositories that are tested by prow via a file named `prow.yaml`.

This requires to change the existing `Config` struct to not expose

[2021-01-19 14:19] aojea commented on #508
that project is independent of kubernetes  --- kubernetes supports IPv6, another thing is the ecosystem and all the related projects that works or use kubernetes :)

[2021-01-19 14:44] matthyx commented on #2290
@shekhar-rajak do you need help with this?

[2021-01-19 17:00] deads2k commented on #1635
This was implemented back in 1.19 and has not changed since.  I've updated the KEP to show the individual steps to mechnically make the transition in https://github.com/kubernetes/enhancements/pull/2293 .  Closing since this is done.

/close

[2021-01-19 17:00] #1635 closed

[2021-01-19 17:02] shekhar-rajak commented on #2290
This was created for the PR https://github.com/kubernetes/enhancements/pull/2292 , I do not think there is issue for the kep.

[2021-01-19 17:02] shekhar-rajak commented on #2291
This is created for the PR https://github.com/kubernetes/enhancements/pull/2292 , I do not think there is issue for the kep.

[2021-01-19 17:03] shekhar-rajak commented on #2291
I needed the issue number as kep-number for the folder structure. Please review the PR and let me know, if we need to any update in the kep.

[2021-01-19 17:03] shekhar-rajak commented on #2290
I needed the issue number as kep-number for the folder structure. Please review the PR and let me know, if we need to any update in the kep.

[2021-01-19 17:07] matthyx commented on #2290
I think everything is fine.
Thanks for cleaning my mess!

[2021-01-19 17:17] alvaroaleman commented on #2291
well, the kep is implemented and there are no to-dos left. Is there really value in adjusting historic keps due to a new format?

[2021-01-19 17:41] shekhar-rajak commented on #2291
I find that there is few open issues where state is implemented. Not sure if we should open the issue for kep and close it if implemented already and there is no further actions.

I think, issue need to be created anyways to track it later as per the new kep template.

@wojtek-t  please correct me, here.

[2021-01-19 19:40] annajung commented on #1295
Hi @deads2k, this issue is now being tracked for the 1.21 release.
Could you please reformat the issue with the [KEP Issue template](https://raw.githubusercontent.com/kubernetes/enhancements/master/ISSUE_TEMPLATE.md)? It's important to follow the template as it's used frequently by the release team.

Could you also confirm if this enhancement will be graduating to stable for 1.21?

[2021-01-19 21:31] robscott commented on #2106
Thanks for the help @kikisdeliveryservice! It sounds like I can safely close this and approach any potential docs additions separately.

/close

[2021-01-19 21:31] #2106 closed

[2021-01-19 21:40] deads2k commented on #1886
I don't think I want to define a new superset of jsonpath for use in kubernetes.  I am interested in documenting the current capabilities we have in user level documentation for `kubectl` and for the API surface we use in places like CRD specs.  If someone needs more power, they can pull the json locally and use the library of their choosing.

I don't think user documentation and openapi documenta

[2021-01-19 21:40] #1886 closed

[2021-01-19 22:49] mcluseau commented on #2104
/remove-lifecycle stale

[2021-01-19 22:54] ehashman commented on #2285
hi @oke-py, this does not need an issue, you can just go and fix the broken links if you like?

[2021-01-19 23:11] ehashman commented on #2273
/sig autoscaling

[2021-01-20 15:48] neolit123 commented on #357
/remove-lifecycle stale

[2021-01-20 17:38] liggitt commented on #542
added to [tracking spreadsheet](https://docs.google.com/spreadsheets/d/1I_ybuEI6gNNPJT7xcO_y-eu_BpayTdBX3nerVsHybNA/edit#gid=1954476102) for 1.21

* RootCAConfigMap is targeting GA
* BoundServiceAccountTokenVolume is targeting Beta

[2021-01-20 18:52] shekhar-rajak opened #2297 "Testcases for pkg/kepctl/query.go"
Currently there is no testcases written for methods defined in `pkg/kepctl/query.go`.

We need to write testcases like we have in create_test.go, kepctl_test.go.

[2021-01-20 18:52] shekhar-rajak commented on #2297
I am working on it.

[2021-01-20 18:53] shekhar-rajak commented on #2297
Ref https://github.com/kubernetes/enhancements/pull/2282

[2021-01-20 22:47] KnVerey opened #2299 "Kustomize Plugin Composition API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduces a new Kustomize API (`kind`) that is oriented around Kustomize plugins, making them a first-class expression of a resource configuration bundle.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2299-kustomize-plugin-composition
- Discussion

[2021-01-20 22:48] KnVerey commented on #2299
/sig cil

[2021-01-20 22:49] KnVerey commented on #2299
/sig cli

[2021-01-21 01:06] SergeyKanzhelev commented on #213
Can somebody with permissions update description.

This link:

change to this: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/213-run-as-group

[2021-01-21 05:07] renukamanavalan opened #2301 "Request for info:: Write scheduler plugin in python"
Could I write scheduler plugin in python?

I would like to write a plugin for an [extension point](https://kubernetes.io/docs/reference/scheduling/config/#extension-points).

Can you please point me to doc & sample code?

Thank you,
Renuka

[2021-01-21 16:06] annajung commented on #1900
I'm closing out this issue since the enhancement is GA and KEP has been updated to `implemented`.

/close

[2021-01-21 17:47] lachie83 commented on #563
Hi @fmuyassarov - We are working with sig-network to determine the plan to move this feature to beta in 1.21. Would you like to see this enhancement go to beta?

[2021-01-21 18:29] ehashman opened #2305 "Metric cardinality enforcement"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Dynamically configure allowlists for metric label values at runtime
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2305-metrics-cardinality-enforcement
- Discussion Link: https://github.com/kubernetes/community/blob/master/sig-instrumenta

[2021-01-21 18:30] ehashman commented on #2305
/sig instrumentation
/stage alpha

[2021-01-21 18:31] ehashman commented on #1209
I'm going to reopen this as the original tracker for metrics stability, as it's still in beta and hasn't GA'd

[2021-01-21 18:36] ehashman commented on #1209
It's not letting me edit the first comment but here's my updated description.

I'm going to try to merge the three different docs into a single lifecycled KEP.

# Enhancement Description
- One-line enhancement description (can be used as a release note): Introduce a framework for providing stability guarantees for Kubernetes control plane metrics
- Kubernetes Enhancement Proposal: [Metrics Stabili

[2021-01-21 18:50] jayunit100 commented on #2161
wait i think this cant be closed until the entire kep is completed, right?

[2021-01-21 19:04] alculquicondor opened #2307 "Job tracking without lingering Pods"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Job controller keeps track of Pod completions in status without relaying on lingering Pods.
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-apps/2307-job-tracking-without-lingering-pods
- Discussion Link: kubernetes/kubernetes#28486
- Primary contact (assignee): alculquicondor

[2021-01-21 19:04] marosset commented on #213
@jsturtevant for comment from a Windows perspective too

[2021-01-21 19:04] alculquicondor commented on #2307
/sig apps

[2021-01-21 19:10] marosset commented on #213
@SergeyKanzhelev It looks like RunAsGroup options won't be added if GOOS=Windows so I'm ok with these changes being promoted.

https://github.com/kubernetes/kubernetes/blob/055e8edfaea25bb104d6c444b0a21ca4e268b479/pkg/kubelet/kuberuntime/kuberuntime_sandbox.go#L184-L186

@ddebroy FYI too

[2021-01-21 19:15] SergeyKanzhelev commented on #213
Great! It may be helpful for users if the warning about Windows will be added here: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ (or any other pages needed).

[2021-01-21 19:27] bridgetkromhout commented on #563
KEP has been updated to the new format: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/563-dual-stack

[2021-01-21 19:32] marosset commented on #213
Yes, we should probably have a whole section for Windows on that page.
I created https://github.com/kubernetes/website/issues/26189 to track this.

[2021-01-21 21:43] deads2k commented on #1295
yes, we are targeting 1.21. I am tidying up the KEP and PRR.

[2021-01-22 01:04] DirectXMan12 opened #2309 "KEP: An IDL for Kubernetes"
# Enhancement Description
- One-line enhancement description (can be used as a release note): introduce an IDL (interface definition language) for Kubernetes types, to facilitate easier construction and review of APIs.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2310
- Discussion Link:
  * [demo & brief discussion @ KubeBuilder] https://www.youtube.com/watch?

[2021-01-22 01:05] DirectXMan12 commented on #2309
NB: pre-posting this a bit so I can post a doc for folks to comment on -- I've demoed & discussed with a couple of subgroups, but not at the main SIG meeting yet.

[2021-01-22 01:25] DirectXMan12 commented on #2309
/sig api-machinery
/wg api-expression

[2021-01-22 01:54] justaugustus opened #2311 "[keps] Proposing a `scope` field for KEP metadata"
I've mentioned in some of the recent Enhancements subproject meetings, but filing an issue now, as I was reminded by a line of code in https://github.com/kubernetes/enhancements/pull/2280.

As we've used KEPs for some time as a community, we've seen them implemented to capture changes in:
- `kubernetes/kubernetes` (in-tree)
- out-of-tree components
- infrastructure
- policy

For non-`in-tree` enha

[2021-01-22 01:54] justaugustus commented on #2311
/sig architecture

[2021-01-22 06:45] wojtek-t commented on #2311
I'm not sure about exact values the fields should be able to have, but I like the idea of the field itself.

[2021-01-22 13:18] shekhar-rajak opened #2313 "aws-k8s-tester - kubetest plugin for AWS and EKS"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

aws-k8s-tester

- Kubernetes Enhancement Proposal:

The following key features are in scope:

* EKS cluster creation/teardown
* Test open-source Kubernetes distribution (e.g. wrap kubeadm to run Kubernetes e2e tests)
* Create AWS resources to test AWS sub-projects (e.g. create EC2 instances to test CSI d

[2021-01-22 13:28] neolit123 commented on #2313
hi, @shekhar-rajak

usually tickets logged here must eventually be paired with a KEP (proposal) and most of them are bound to a K8s release.
i think this doesn't have to be a k/enhancements ticket + KEP and you can log it elsewhere, but would like to understand if SIG Cloud Provider suggested otherwise.

[2021-01-22 17:36] shekhar-rajak opened #2314 "Custom endpoints support for AWS Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Custom endpoints support for AWS Cloud Provider

- Kubernetes Enhancement Proposal:

AWS service APIs typically operate at fixed domain name endpoints, but in
certain cases may function at a different endpoint than the AWS SDKs are aware
of. The AWS Cloud Provider should support these custom endpoints.

[2021-01-22 17:40] shekhar-rajak opened #2315 "AWS LoadBalancer Prefix"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

AWS LoadBalancer Prefix

- Kubernetes Enhancement Proposal:

AWS load balancer prefix annotation adds a control over the naming of the AWS ELB resources that are being generated when provisioning a Kubernetes service of type `LoadBalancer`. The current implementation provisions AWS ELB with a unique name

[2021-01-22 17:46] shekhar-rajak commented on #2315
https://github.com/kubernetes/enhancements/pull/2316 created for migrating the old keps into new template.

[2021-01-22 17:46] shekhar-rajak commented on #2314
https://github.com/kubernetes/enhancements/pull/2316 created for migrating the old keps into new template.

[2021-01-22 17:46] shekhar-rajak commented on #2313
https://github.com/kubernetes/enhancements/pull/2316 created for migrating the old keps into new template.

[2021-01-22 20:35] gnufied opened #2317 "Allow Kubernetes to supply pod's fsgroup to CSI driver on mount"
# Enhancement Description
-  Allow kubernetes to supply pod's fsgroup to CSI driver when a volume is mounted
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/2323
- Discussion Link:
- Primary contact (assignee): @gnufied @verult
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.21
  -

[2021-01-22 20:36] gnufied commented on #2317
/sig storage

[2021-01-22 20:36] gnufied commented on #2317
/assign

[2021-01-22 23:14] bridgetkromhout commented on #563
We're planning to move dual-stack from alpha to beta for 1.21.

- testing updates: https://github.com/kubernetes/test-infra/pull/20572
- KEP updates: https://github.com/kubernetes/enhancements/pull/2318

Updates to this enhancements issue:

* Feature target (which target equals to which milestone):
  * Alpha release target 1.11 (revised: 1.20)
  * Beta release target 1.21
  * Stable release target

[2021-01-22 23:27] fmuyassarov commented on #563
Hi @lachie83 . Yes, would be nice to see dual-stack graduating to beta in 1.21.

[2021-01-23 13:42] minherz commented on #2315
@shekhar-rajak i am not familiar with the process. is there something that i have to do?

[2021-01-24 17:12] shekhar-rajak commented on #2315
Hi @minherz , We are moving the KEPs into new template, so there is no action item for the original author but I think you can help in updating the above description of the proposal (Summary of the proposal, Enhancement target , Discussion link and the history ).

CC @wojtek-t

[2021-01-25 11:09] palnabarun commented on #2297
/assign @shekhar-rajak
/area enhancements
/sig release
/sig architecture
/kind feature

[2021-01-25 11:14] lilic commented on #2305
@ehashman is there any action items for either Han or me? Thank you!

[2021-01-25 11:52] eero-t commented on #2254
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2254-cgroup-v2

Seems to need update as it says: "OCI runtime spec: TODO" and "OCI will need support for cgroups v2"

Instead of referring to: https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#unified

[2021-01-25 12:14] palnabarun commented on #2276
/area enhancements

[2021-01-25 12:14] palnabarun commented on #2277
/area enhancements

[2021-01-25 13:37] palnabarun opened #2319 "kepctl: feature to query KEPs from all SIGs"
Currently, `kepctl query` does not support listing KEPs from all SIGs other than typing out the SIG names separated by commas.

It becomes tedious for anyone to query KEPs from all SIGs.

## Proposed Solutions

### Show all SIGs when none are passed

[code]

### Have a special SIG name such as `all` which can be passed

[code]

Solution 2 is more explicit than Solution 1 but requires addition of a

[2021-01-25 14:06] palnabarun opened #2321 "kepctl: add CSV as a valid kepctl query output format"
Add CSV as an output format for `kepctl query`.

This can possibly use the same machinery as `PrintTable` since the `Proposal` structs need to be deconstructed into a list of cells for each row of the CSV.

/assign
/area enhancements
/sig release
/sig architecture
/kind feature

[2021-01-25 14:17] jayunit100 commented on #2091
can you post a link to the ongoing design work in here @abhiraut ?

[2021-01-25 14:19] rikatz commented on #2091
https://docs.google.com/presentation/d/1Jk86jtS3TcGAugVSM_I4Yds5ukXFJ4F1ZCvxN5v2BaY/edit#slide=id.g338ac0a8b6_0_48

/lifecycle active

[2021-01-25 15:08] annajung commented on #2268
Hi @xing-yang, 1.21 enhancements lead here.
I see that you’ve opted in this enhancement into 1.21, but I also see that this is tagged with participation from the SIG node. Is that accurate? If so, is there work that SIG node must deliver in 1.21 as well?

[2021-01-25 15:16] annajung commented on #555
Hi @apelisse, 1.21 Enhancements Lead here.
I see that you’ve opted in this enhancement into 1.21, but I also see that this is tagged with participation from the SIG cli. Is that accurate? If so, is there work that SIG cli must deliver in 1.21 as well?

[2021-01-25 15:17] annajung commented on #1295
Hey @deads2k
I also see that this is tagged with participation from the SIG auth and cli. Is that accurate? If so, is there work that SIG auth and cli must deliver in 1.21 as well?

[2021-01-25 15:18] annajung commented on #1412
Hi @wojtek-t, 1.21 Enhancements Lead here.
I see that you’ve opted in this enhancement into 1.21, but I also see that this is tagged with participation from the SIG app, node, scalability. Is that accurate? If so, is there work that other SIGs must deliver in 1.21 as well?

[2021-01-25 15:20] annajung commented on #1495
Hi @bswartz, 1.21 Enhancements Lead here.
I see that you’ve opted in this enhancement into 1.21, but I also see that this is tagged with participation from the SIG API machinery. Is that accurate? If so, is there work that SIG api-machinery must deliver in 1.21 as well?

[2021-01-25 15:20] andrewsykim commented on #2315
Just an FYI: Loadbalancing efforts for AWS are being re-focused to the out-of-tree provider https://github.com/kubernetes/cloud-provider-aws/ or the AWS load balancer controller https://github.com/kubernetes-sigs/aws-load-balancer-controller.

We are freezing feature development in the in-tree AWS integration so this KEP should only be scoped to out-of-tree components.

[2021-01-25 15:21] annajung commented on #1904
Hi @wojtek-t, 1.21 Enhancements Lead here.
I see that you’ve opted in this enhancement into 1.21, but I also see that this is tagged with participation from the SIG scalability. Is that accurate? If so, is there work that SIG scalability must deliver in 1.21 as well?

[2021-01-25 15:22] annajung commented on #2047
Hi @zshihang, 1.21 Enhancements Lead here.
I see that you’ve opted in this enhancement into 1.21, but I also see that this is tagged with participation from the SIG auth. Is that accurate? If so, is there work that SIG auth must deliver in 1.21 as well?

[2021-01-25 16:03] soltysh commented on #1073
This is currently being tracked in https://github.com/kubernetes/enhancements/issues/2214
/close

[2021-01-25 16:04] #1073 closed

[2021-01-25 16:07] soltysh commented on #85
/remove-lifecycle stale
This is being actively worked on and targeted for 1.21, see the linked enhancement.

[2021-01-25 16:09] soltysh commented on #1441
Yeah, that sounds good to me.

[2021-01-25 16:11] soltysh commented on #859
/remove-lifecycle rotten

[2021-01-25 16:14] soltysh commented on #555
Most of the work is currently on the apimachinery side, but @apelisse is updating sig-cli about progress and working out eventual details so :+1: from sig-cli side.

[2021-01-25 16:15] soltysh commented on #1295
There is no work expected from sig-cli, at most minor cleanups, so :+1: for sig-cli pov.

[2021-01-25 17:36] yastij commented on #2268
Hi @annajung - we're still in the process of seeing which changes are needed for sig-node

[2021-01-25 17:37] wojtek-t commented on #1412
With kubernetes/kubernetes#97615 we're already code-complete.
The only missing bit is to update the documentation to reflect that the feature will get GA-ed.

[2021-01-25 18:15] zshihang commented on #2047
it is accurate as it is a security feature. we just need to change the feature gate.

[2021-01-25 19:58] boluisa commented on #592
excited to see this feature progressing to Beta. Thank you all. ❤️ cc: @matthewdkaiser

[2021-01-25 20:06] huffmanca opened #2324 "Allow transfer of VolumeSnapshot resources between namespaces"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow transfer of VolumeSnapshots between namespaces.
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @huffmanca
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.22):
  - Beta release target (x.y)

[2021-01-25 20:06] wojtek-t commented on #1904
We need to scale-test it. But as SIG scalability TL (and feature owner), I will ensure that it will happen :)

[2021-01-25 20:36] annajung commented on #1885
Hi @andyzhangx, 1.21 Enhancements Lead here.
This enhancement has been opt-in for the 1.21 release without a KEP link. However, I was able to locate the CSI migration KEP under sig storage. Could you confirm that https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/625-csi-migration is the correct one that's associated with this issue?

[2021-01-25 22:20] huffmanca commented on #2324
/sig storage

[2021-01-25 22:36] lavalamp commented on #1872
(Current status: Vivek is going to explore bootstrapping objects from a file (and loading them into the cluster) in a future KEP.)

[2021-01-26 04:24] thockin commented on #2112
Why do we need this AND #2161?

[2021-01-26 04:27] thockin commented on #1797
@javidiaz is the goal to move GA in 1.21?

see https://groups.google.com/g/kubernetes-dev/c/Hn1bm9YJP6c

[2021-01-26 06:01] marosset commented on #1981
This pull request adds the required functionality to start Windows privileged containers / Job object containers to hcsshim
https://github.com/microsoft/hcsshim/pull/903

[2021-01-26 09:52] #2289 closed

[2021-01-26 09:54] feiskyer opened #2328 "Support Instance Metadata Service with Cloud Controller Manager"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support Instance Metadata Service with Cloud Controller Manager
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1158
- Discussion Link:
- Primary contact (assignee): @feiskyer
- Responsible SIGs: Cloud Provider
- Enhancement target (which target equals to which milestone

[2021-01-26 09:54] feiskyer commented on #2328
/sig cloud-provider
issue opened for migrating https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/azure/20190722-ccm-instance-metadata.md to new format

[2021-01-26 10:09] shekhar-rajak opened #2330 "Migrating API objects to latest storage version"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Migrating API objects to latest storage version

- Kubernetes Enhancement Proposal:

We propose a solution to migrate the stored API objects in Kubernetes clusters.
In 2018 Q4, we will deliver a tool of alpha quality. The tool extends and
improves based on the [oc adm migrate storage][] command.

[oc adm

[2021-01-26 10:15] shekhar-rajak commented on #2330
https://github.com/kubernetes/enhancements/pull/2331 created for migrating the old keps into new template.

[2021-01-26 10:21] shekhar-rajak opened #2332 "Pruning for Custom Resources"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Pruning for Custom Resources

- Kubernetes Enhancement Proposal:

CustomResources store arbitrary JSON data without following the typical Kubernetes API  behaviour to prune unknown fields. This makes CRDs different, but also leads to security and general data consistency concerns because it is unclear wha

[2021-01-26 10:27] shekhar-rajak commented on #2332
#2331 created for migrating the old keps into new template.

[2021-01-26 10:30] shekhar-rajak opened #2333 "legacyflags kflag"
# Enhancement Description
- One-line enhancement description (can be used as a release note): kflag

- Kubernetes Enhancement Proposal:

Create a _legacyflags_ package, which wraps pflag and addresses the pain-points of backwards-compatible
ComponentConfig migration, and selective registration of third-party library flags.

Make it easier for component owners to implement
[Versioned Component Conf

[2021-01-26 10:32] shekhar-rajak commented on #2333
#2331 created for migrating the old keps into new template.

[2021-01-26 10:35] shekhar-rajak opened #2334 "Graduate Server-side Get and Partial Objects to GA"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Graduate Server-side Get and Partial Objects to GA

- Kubernetes Enhancement Proposal:

Server-side columnar formatting and partial object metadata has been in beta since Kube 1.10 and as of 1.15 is consistently implemented and in wide use as part of `kubectl` and other web interfaces. This document outl

[2021-01-26 10:37] shekhar-rajak commented on #2334
#2331 created for migrating the old keps into new template.

[2021-01-26 11:11] shekhar-rajak opened #2335 "Vanilla CRD OpenAPI Subset: Structural Schemas"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Vanilla CRD OpenAPI Subset: Structural Schemas

- Kubernetes Enhancement Proposal:

The CRD validation schemas today support nearly the whole OpenAPI v3 schema language. Here, we propose to impose a restriction called _structural schema_ to that language, which will
* significantly reduce difficulty in m

[2021-01-26 11:13] shekhar-rajak commented on #2335
#2331 created for migrating the old keps into new template.

[2021-01-26 11:16] shekhar-rajak opened #2336 "OwnerReference Resource Field"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

OwnerReference Resource Field

- Kubernetes Enhancement Proposal:

OwnerReferences are used to track garbage collection references.  Today they use `kind`.  This is a serialization format
not a URL to access on the kube-apiserver.  To find a URL, a series of upwards of 20 discovery calls are made to find

[2021-01-26 11:17] shekhar-rajak commented on #2336
#2331 created for migrating the old keps into new template.

[2021-01-26 11:20] shekhar-rajak opened #2337 "k8s.io Group Protection"
# Enhancement Description
- One-line enhancement description (can be used as a release note): k8s.io Group Protection
- Kubernetes Enhancement Proposal:

API groups are organized by namespace, similar to java packages.  `authorization.k8s.io` is one example.  When users create
CRDs, they get to specify an API group and their type will be injected into that group by the kube-apiserver.

The `*.k8s.

[2021-01-26 11:21] shekhar-rajak commented on #2337
#2331 created for migrating the old keps into new template.

[2021-01-26 11:24] ghost opened #2338 "API gzip compression support"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Graduate API gzip compression support to GA
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2338-graduate-API-gzip-compression-support-to-GA
Kubernetes sometimes returns extremely large responses to clients outside of its local network, resu

[2021-01-26 11:24] shekhar-rajak commented on #2338
#2331 created for migrating the old keps into new template.

[2021-01-26 11:27] ghost opened #2339 "StorageVersion API for HA API servers"
# Enhancement Description
- One-line enhancement description (can be used as a release note): StorageVersion API for HA API servers
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2339-storageversion-api-for-ha-api-servers
During the rolling upgrade of an HA master, the API server instances may
use different storage versions encoding

[2021-01-26 11:27] feiskyer commented on #2328
Implemented in [cloud-provider-azure](https://github.com/kubernetes-sigs/cloud-provider-azure).

[2021-01-26 11:27] #2328 closed

[2021-01-26 11:28] shekhar-rajak commented on #2339
#2331 created for migrating the old keps into new template.

[2021-01-26 11:30] ghost opened #2340 "Consistent Reads from Cache"
# Enhancement Description
- One-line enhancement description : Consistent Reads from Cache
- Kubernetes Enhancement Proposal:

Kubernetes Get and List requests are guaranteed to be "consistent reads" if the
`resourceVersion` parameter is not provided. Consistent reads are served from
etcd using a "quorum read".

But often the watch cache contains sufficiently up-to-date data to serve the
read requ

[2021-01-26 11:32] shekhar-rajak commented on #2340
#2331 created for migrating the old keps into new template.

[2021-01-26 11:33] shekhar-rajak opened #2341 "Enabling clients to tell if resource endpoints serve the same set of objects"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Enabling clients to tell if resource endpoints serve the same set of objects

- Kubernetes Enhancement Proposal:

We propose to expand the discovery API to enable clients to tell if resource
endpoints (e.g., `extensions/v1beta1/replicaset` and `apps/v1/replicaset`) are
referring the same set of objects.

[2021-01-26 11:35] shekhar-rajak commented on #2341
#2331 created for migrating the old keps into new template.

[2021-01-26 11:36] shekhar-rajak opened #2342 "exposing hashed storage versions via the discovery API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): exposing hashed storage versions via the discovery API
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2342-exposing-hashed-storage-versions-via-the-discovery-API
We propose to expose the hashed storage versions in the discovery API.
## Moti

[2021-01-26 11:36] shekhar-rajak commented on #2342
#2331 created for migrating the old keps into new template.

[2021-01-26 11:38] shekhar-rajak opened #2343 "Automated Storage Version Migration with Storage Version Hash"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Automated Storage Version Migration with Storage Version Hash

- Kubernetes Enhancement Proposal:

As the discovery document now exposes the [storage version hash][], storage version
migration should start automatically when the hash changes.

[storage version hash]:https://github.com/kubernetes/enhancem

[2021-01-26 11:40] shekhar-rajak commented on #2343
#2331 created for migrating the old keps into new template.

[2021-01-26 13:18] rikatz commented on #2079
/lifecycle active

[2021-01-26 15:31] javidiaz commented on #1797
Thanks @thockin for the head up! I will wait until 1.22 to promote it to GA as per recommendation of the operational readiness reviewers.

[2021-01-26 16:24] annajung commented on #1669
Hi, @andrewsykim thanks for opting in to the 1.21 release! This enhancement is now being tracked by the enhancements team.

I was wondering if you could clarify if this is graduating to beta or stable for the upcoming release? In either case, it looks like KEP would require an update. Please make sure KEP is reflecting the changes for the release. thanks!

[2021-01-26 18:08] #2285 closed

[2021-01-26 19:56] msau42 commented on #1489
/remove-lifecycle rotten

[2021-01-26 23:08] annajung commented on #606
Hello, I'm closing out this issue since the enhancement is GA and KEP has been updated to implemented.

/close

[2021-01-26 23:18] annajung commented on #555
Hi @apelisse

For the enhancement to be included in the milestone, it must meet the following criteria:
- [DONE] ~The KEP must be merged in an implementable state~
- The KEP must have test plans
- The KEP must have graduation criteria
- The KEP must have a production readiness review

For the test plans, everything is marked off as completed. Is this still accurate for GA?
For the graduation crite

[2021-01-26 23:34] annajung commented on #1972
Hi, I'm closing out this issue since the enhancement is GA and KEP has been updated to implemented.

[2021-01-26 23:43] annajung commented on #542
Hi @zshihang, 1.21 Enhancements Lead here.

For the enhancement to be included in the milestone, it must include the production readiness review. While reviewing the KEP for this enhancement, I noticed that it's missing a few questionnaires from the [PRR template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire). Could you mak

[2021-01-26 23:43] apelisse commented on #555
Thanks Anna for the details! We'll address these problems ASAP!

[2021-01-27 00:02] ehashman commented on #2305
@lilic this KEP graduated to alpha last cycle (1.20), it would be good to finish up beta and graduation criteria and target releases for those.

[2021-01-27 03:20] andyzhangx commented on #1885
@annajung yes, thanks, we resolved the blocking issue, and Azure file in-tree to CSI driver migration would go beta in 1.21.

[2021-01-27 09:36] pytimer commented on #117
@DirectXMan12 I read the [Enhance HPA Metrics Specificity](https://github.com/kubernetes/enhancements/blob/master/keps/sig-autoscaling/117-hpa-metrics-specificity/README.md) doc, i also use the hpa with metricLabelSelector, but i found because of metricLabelSelector is [`labels.Selector`](https://github.com/kubernetes/kubernetes/blame/master/pkg/controller/podautoscaler/metrics/rest_metrics_client

[2021-01-27 14:12] irozzo-1A opened #2347 "Extending Apiserver Network Proxy to handle traffic originated from Node network"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Extend the Apiserver Network Proxy to handle traffic originated from Node network
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2025
- Discussion Link:
- Primary contact (assignee): @bowei
- Responsible SIGs: sig-cloud-provider
- Enhancement target (which target equals

[2021-01-27 14:13] justaugustus opened #2348 "[keps] Enable versioning and consistent data validation for KEPs"
As we continue to evolve the KEP process, we've:
- moved from a single Markdown document w/ yaml front matter to a directory-based structure
- added several fields to the KEP template
- changed fields

However, we don't have a consistent process for doing so.
This ultimately leads to:
- changes that could be missed in review
- inconsistent KEP flavors within the repo
- harder to validate content
-

[2021-01-27 14:13] irozzo-1A commented on #2347
/sig cloud-provider

[2021-01-27 14:15] justaugustus commented on #2348
/sig architecture release
/milestone v1.21
/priority important-soon

[2021-01-27 14:41] cezaryzukowski commented on #1769
@pires Hi, yes, it's expected to land in v1.21.
The enhancement was already accepted and merged to master in v1.20.

We was not able to merge the code in v1.20 because this future is relatively large. Hopefully, we will in v1.21.
There is still review going on: https://github.com/kubernetes/kubernetes/pull/95479

[2021-01-27 16:25] justaugustus commented on #2348
Another (incomplete) example of a cue template, based on https://github.com/kubernetes/enhancements/pull/2346:

[code]

[2021-01-27 17:18] annajung commented on #2112
Hi @jayunit100 👋 , 1.21 Enhancements Lead here.
I am also wondering how #2161 relates/differs from this issue. It looks like the PR you linked above makes changes to KEP related to #2161 and there is no KEP for #2112. Could you clarify so that we can track the correct enhancement?

[2021-01-27 17:19] #2279 closed

[2021-01-27 17:32] dougsland commented on #2258
/cc

[2021-01-27 18:04] ehashman commented on #1933
/remove-wg security-audit
/sig security

[2021-01-27 18:05] ehashman commented on #1753
/remove-wg security-audit
/sig security

[2021-01-27 18:08] ehashman commented on #1209
As a SIG (per 2021-01-21 meeting) we want to graduate this to stable in 1.21. We need to update the KEP (and get that merged) in order to track what's remaining for this...

[2021-01-27 18:11] ehashman commented on #383
@wojtek-t what are the plans for this in 1.21? Can we graduate this?

[2021-01-27 18:11] ehashman commented on #647
@dashpole is this still on for 1.21?

[2021-01-27 18:13] ehashman commented on #1602
@serathius are we on track to graduate this to Beta in 1.21? In addition to the actual migrations, the KEP says we will need:

[2021-01-27 18:14] ehashman commented on #1753
@44past4 are we on track to target Beta in 1.21?

[2021-01-27 18:15] ehashman commented on #1933
@PurelyApplied are we on track to target Beta in 1.21?

[2021-01-27 18:16] ehashman commented on #2305
@lilic @logicalhan once we have beta/graduation criteria we should decide how we want to target milestones for this moving forward. That's all currently empty:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2305-metrics-cardinality-enforcement#post-beta-tasks

[2021-01-27 18:32] Fei-Guo commented on #2149
I have a use case that does need this feature. It is part of the virtualcluster project hosted in Multi-tenancy WG and the CAPN (in the future). I am currently implementing a namespace scheduler which assigns the tenant namespaces to different super clusters. There is a syncer controller running in each super cluster that watches for the scheduling results in the tenant cluster(the results are sto

[2021-01-27 18:33] PurelyApplied commented on #1933
Yes.  We're at `beta` right now.  Test runs and is visible but not blocking on all k/k PRs currently.  Failures seem to be almost entirely due to either job termination or merge conflicts aborting the test.  [Job history in Prow](https://prow.k8s.io/?job=pull-kubernetes-verify-govet-levee).  I'll update this issue to properly reflect that.

[2021-01-27 18:34] PurelyApplied commented on #1933
/stage beta

[2021-01-27 18:38] ehashman commented on #1209
/milestone v1.21

[2021-01-27 18:38] ehashman commented on #1748
/milestone v1.21

[2021-01-27 19:49] wojtek-t commented on #383
@ehashman : https://github.com/kubernetes/enhancements/issues/383#issuecomment-698205041

so technically we don't need any graduation. We'll see how much will happen in this cycle though.

[2021-01-27 20:27] annajung commented on #1472
Hi @pohly 👋 1.21 Enhancements Lead here

In reviewing the KEP for this enhancement, I noticed that it's missing some production readiness review requirements that are required for the 1.21 release. Please make sure to update the KEP to answer questions that are required for `beta` & remember to create a `prod-readiness/<sig>/<KEP number>.yaml` file, with the PRR approver's GitHub handle for the sp

[2021-01-27 22:01] ehashman commented on #383
Does instrumentation need to track this or can it fall under another SIG? I'd like to close this and track remaining work elsewhere if possible if it doesn't affect graduation status...

[2021-01-27 22:01] ehashman commented on #1933
/milestone v1.21

sounds like you will not be at risk :)

[2021-01-27 23:05] dougsland commented on #2258
Hi @aravindhp please update your KEP with the new template and format.
https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template

Some examples: https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows

[2021-01-28 00:21] apelisse commented on #1412
cc @xiaobaitusi

[2021-01-28 01:51] robscott commented on #2004
PR for 1.21 release cycle: https://github.com/kubernetes/enhancements/pull/2354

[2021-01-28 03:28] robscott commented on #2030
PR for 1.21 release cycle: #2354

[2021-01-28 05:55] robscott commented on #1507
Hey @annajung I completely agree with that approach. Is there anything I need to do to get this tracked for v1.21? I know there's a bit of a more involved process for new KEPs but I'm curious if it's simpler for KEPs that we're just closing out in this cycle.

[2021-01-28 06:55] arunmk commented on #1698
Hi @pohly,

I am an enhancements shadow for 1.21 and am reviewing this enhancement. Will you be targeting beta for this in 1.21?

Thanks,
Arun

[2021-01-28 08:33] lingsamuel opened #2358 "Add ExecutionNodeAffinityManager to support requiredDuringSchedulingRequiredDuringExecution"
# Enhancement Description
- One-line enhancement description (can be used as a release note): add a ExecutionNodeAffinityManager to node_lifecycle_controller to support node affinity `requiredDuringSchedulingRequiredDuringExecution` field.
- Kubernetes Enhancement Proposal:
- Discussion Link: kubernetes/kubernetes#96149
- Primary contact (assignee): @lingsamuel
- Responsible SIGs: sig-node
- Enhan

[2021-01-28 11:15] pohly commented on #1698
Yes, I'll try.

I'm aware that PRR review and some KEP meta data (like the `keps/prod-readiness/sig-storage/1698.yaml` file) is missing; I'm working with the PRR reviewer to close that gap.

[2021-01-28 11:46] soltysh commented on #1440
/remove-lifecycle stale
/milestone clear

[2021-01-28 13:13] shekhar-rajak opened #2360 "Optional Service Environment Variables"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Optional Service Environment Variables

- Kubernetes Enhancement Proposal:

This enhancement allows application developers to choose whether their Pods will receive [environment variables](https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables) from services in their names

[2021-01-28 13:18] shekhar-rajak commented on #2360
https://github.com/kubernetes/enhancements/pull/2361 created for migrating the old keps into new template.

[2021-01-28 13:53] lingsamuel commented on #2358
/cc @Huang-Wei

[2021-01-28 19:05] wojtek-t commented on #383
I think SIG instrumentation should at least coordinate it, even if a bunch of work will be done by other SIGs.
I'm not a huge fan, but we can track that as k/k issue.

[2021-01-28 19:11] ehashman commented on #383
Personally I'm a bit confused, why would the migration to the new API not be part of the graduation criteria of this KEP? I understand this is pretty old but I'm not sure how we can call this graduated if nothing is using the new API :sweat_smile:

I think if there's still work to be done, this shouldn't be marked as implemented.

[2021-01-28 19:14] wojtek-t commented on #383
Scheduler is migrated to the new API (which proves it works).

[2021-01-28 19:16] ehashman commented on #383
Sure, but the rest of the control plane still needs to go. Scheduler migration alone sounds like a fine beta criteria but not a full graduation. Can we please revisit this to reflect the remaining work that needs to be done and tracked?

[2021-01-28 19:25] wojtek-t commented on #383
Feel free to go ahead - I don't have any time for that.

[2021-01-28 19:29] ehashman commented on #383
@wojtek-t do you know who is the current owner of this KEP? That is the author's responsibility, not the SIG chairs---I thought you were the one driving this but sounds like no!

[2021-01-28 19:32] wojtek-t commented on #383
I was helping with shepherding it a bit. It was started by @gmarek , the taken by @chelseychen

[2021-01-28 19:54] ehashman commented on #2314
/sig cloud-provider

[2021-01-28 19:55] ehashman commented on #2315
/sig cloud-provider
/area provider/aws

[2021-01-28 21:59] annajung commented on #1669
Hi @andrewsykim, following up on the previous message after reviewing KEP.

For the enhancement to be included in the milestone, it must meet the following criteria:
- [DONE] ~The KEP must be merged in an implementable state~
- The KEP must have test plans
- The KEP must have graduation criteria
- The KEP must have a production readiness review

KEP does have a test plan, but since KEP was mostly

[2021-01-28 22:03] annajung commented on #1672
Hi @andrewsykim, 1.21 Enhancements Lead here.

For the enhancement to be included in the milestone, it must meet the following criteria:
- [DONE] ~The KEP must be merged in an implementable state~
- The KEP must have test plans
- The KEP must have graduation criteria
- The KEP must have a production readiness review

KEP does have a test plan, but since KEP was mostly focused on alpha functionalit

[2021-01-28 22:08] annajung commented on #1959
Hi @andrewsykim, 1.21 Enhancements Lead here

For the enhancement to be included in the milestone, it must meet the following criteria:
- [DONE] ~The KEP must be merged in an implementable state~
- [DONE] ~The KEP must have test plans~
- [DONE] ~The KEP must have graduation criteria~
- The KEP must have a production readiness review

Starting 1.21, all KEP must include a [production readiness revi

[2021-01-28 22:12] annajung commented on #2086
Hi @andrewsykim, 1.21 Enhancements Lead here.

For the enhancement to be included in the milestone, it must meet the following criteria:
- [DONE] ~The KEP must be merged in an implementable state~
- [DONE] ~The KEP must have test plans~
- [DONE] ~The KEP must have graduation criteria~
- The KEP must have a production readiness review

Looks like KEP does include the questionnaires, but it also req

[2021-01-28 22:26] jrsapi commented on #1979
Greetings @wlan0 @xing-yang,

This is @jrsapi enhancement shadow. For the enhancement to be included in the 1.21 milestone, it must meet the following criteria:

The KEP must be merged in an implementable state
~~The KEP must have test plans~~ Done
~~The KEP must have graduation criteria~~ Done
The KEP must have a production readiness review

Also starting 1.21, all KEPs must include a [production

[2021-01-28 23:05] annajung commented on #1507
Hey @robscott

To get this enhancement tracked, you'll have to ask sponsoring SIG leads to enter this into the tracking sheet.

As for the requirements for KEPs starting 1.21, since this enhancement has already graduated to stable, I don't think those would apply in this case. I spoke with the previous enhancements lead and also posted the question in the #enhancements slack channel to get feedbac

[2021-01-28 23:11] neolit123 commented on #784
/remove-lifecycle rotten
hoping that sig-network can pick the graduation of this config eventually.

[2021-01-28 23:19] jeremyrickard commented on #2348
I think this is the right direction. I’m not super familiar with cue, so I’ve been playing around with that a little today.  I’m not sure I can strongly agree or disagree with that angle yet, but I like your PR to extract the proposal object out to an api package.

I’ve been a fan of adding type to the KEP for a while, it’s been a “we should probably do that” in my head since 1.18, so thumbs up (r

[2021-01-29 02:23] robscott opened #2365 "Namespace Scoped Ingress Class Parameters"
# Enhancement Description
- One-line enhancement description: IngressClass Parameters can now be namespace-scoped resources.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2365-ingressclass-namespaced-params
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/97396
- Primary contact (assignee): @hbagdi
- Responsible SIGs: s

[2021-01-29 02:23] robscott commented on #2365
/sig network
/cc @danehans

[2021-01-29 02:23] robscott commented on #2365
/assign

[2021-01-29 05:08] pacoxu opened #2368 "default container used by kubectl"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Users might specify the `kubectl.kubernetes.io/default-exec-container` annotation in a Pod to preselect container for kubectl exec.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/2189
- Discussion Link:  https://kubernetes.slack.com/archives/C2GL57FJ4/p1611837340033700

[2021-01-29 05:09] pacoxu commented on #2368
/sig cli

[2021-01-29 05:09] pacoxu commented on #2368
/assign

[2021-01-29 05:16] Jiawei0227 commented on #625
Just for everyone who is interested in the status and progress of the CSI migration status:
[CSI Migration Doc](https://docs.google.com/document/d/1j6uF9sOoGCQ9nNFVrdvCWyn77o9k3-758qsEj2K3BAY/edit#)

We are using the doc above for meeting notes and status tracking.

[2021-01-29 06:31] pacoxu commented on #34
https://github.com/kubernetes/kubernetes/issues/72593#issuecomment-752034446
As SysctlForbidden is a probelm， we need a proposal to make the experience better.

[2021-01-29 07:46] chymy commented on #1602
/cc

[2021-01-29 07:48] harche opened #2369 "Dynamic sizing providers for kubelet"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Dynamic sizing providers for kubelet resources
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2370
- Primary contact (assignee): @harche
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.21
  -

[2021-01-29 07:53] harche commented on #2369
/sig node

[2021-01-29 15:42] haircommander opened #2371 "cAdvisor-less, CRI-full Container and Pod Stats"
# Enhancement Description
- One-line enhancement description (can be used as a release note): cAdvisor-less, CRI-full Container and Pod Stats
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2371-cri-pod-container-stats/README.md
- Primary contact (assignee): @dgrisonnet
- Responsible SIGs: sig-node
- Enhancement target (which target equals to

[2021-01-29 15:43] haircommander commented on #2371
/sig node

[2021-01-29 15:47] JamesLaverack commented on #563
:wave: Hey @lachie83, 1.21 release team enhancements shadow here.

We're currently tracking this KEP for graduation to beta Kubernetes 1.21, and the only issue I can see is the production readiness review. I'm aware there's an ongoing pull request to add this though: https://github.com/kubernetes/enhancements/pull/2327. We'll continue to track this in the meantime.

As one query: The [kep.yaml](ht

[2021-01-29 16:16] #1775 closed

[2021-01-29 16:16] #1789 closed

[2021-01-29 16:16] #668 closed

[2021-01-29 16:45] #2319 closed

[2021-01-29 17:17] #619 closed

[2021-01-29 17:17] #1779 closed

[2021-01-29 19:55] ehashman commented on #1748
@smarterclayton can you please update your KEP to target beta for 1.21? There's a small metadata update and a PRR review that needs to happen I think.

[2021-01-29 21:27] ahg-g opened #2372 "Resource quota based on node labels"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allowing Resource Quota to be applied on pods based on their node selector configuration opens up a flexible interface for addressing some immediate and potential future use cases.
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @vishh @bsalamat
- Responsible SIGs: sig-

[2021-01-29 21:28] ahg-g commented on #2372
/sig scheduling

I am creating this so that we move the existing KEP to the new format.

[2021-01-29 22:02] bridgetkromhout commented on #563
Hi, @JamesLaverack - it looks like SIG Cluster Lifecycle's inclusion may be outdated. Aside from the sig-network involvement, the only other place we might be looking for confirmation of the testing is from sig-testing's `kind` subproject. I think @aojea can confirm whether we should change https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/563-dual-stack/kep.yaml#L11 to sig-t

[2021-01-29 22:47] aojea commented on #563
they've implemented some bits in kubeadm, but they should not do anything else, @neolit123 can you confirm?

`kind` has dualstack as priority for next release https://github.com/kubernetes-sigs/kind/issues/2024 and haa been running periodic job with an "unofficial" version for several months cc: @BenTheElder

Technically we are set, and both sigs are aware, I can't say if we need to do anything el

[2021-01-29 23:22] thockin commented on #2200
Docs PR is up

[2021-01-30 17:34] shekhar-rajak opened #2377 "Kustomize"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Kustomize

- Kubernetes Enhancement Proposal:

Declarative specification of Kubernetes objects is the recommended way to manage Kubernetes
production workloads, however gaps in the kubectl tooling force users to write their own scripting and
tooling to augment the declarative tools with preprocessing tra

[2021-01-30 17:39] shekhar-rajak commented on #2377
#2378 created for migrating the old keps into new template.

[2021-01-30 17:41] shekhar-rajak opened #2379 "Kubectl Plugins"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubectl Plugins
- Kubernetes Enhancement Proposal:

This proposal introduces the main design for a plugin mechanism in `kubectl`.
The mechanism is a git-style system, that looks for executables on a user's `$PATH` whose name begins with `kubectl-`.
This allows plugin binaries to override existing command

[2021-01-30 17:41] shekhar-rajak commented on #2379
#2378 created for migrating the old keps into new template.

[2021-01-30 17:44] shekhar-rajak opened #2380 "Data Driven Commands for Kubectl"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Data Driven Commands for Kubectl

- Kubernetes Enhancement Proposal:

Many Kubectl commands make requests to specific Resource endpoints.  The request bodies are populated by flags
provided by the user.

Examples:

- `create <resource>`
- `set <field> <resource>`
- `logs`

Although these commands are comp

[2021-01-30 17:44] shekhar-rajak commented on #2380
#2378 created for migrating the old keps into new template.

[2021-01-30 17:46] shekhar-rajak opened #2381 "future-of-kubectl-cp"
# Enhancement Description
- One-line enhancement description (can be used as a release note): future-of-kubectl-cp

- Kubernetes Enhancement Proposal:

[code]

- Discussion Link:
- Primary contact (assignee): @sallyom
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x

[2021-01-30 17:47] shekhar-rajak commented on #2381
#2378 created for migrating the old keps into new template.

[2021-01-30 17:49] shekhar-rajak opened #2382 "Kustomize Exec Secret Generator"
# Enhancement Description
- One-line enhancement description (can be used as a release note):  Kustomize Exec Secret Generator
- Kubernetes Enhancement Proposal:

[code]

- Discussion Link:
- Primary contact (assignee): @pwittrock @anguslees @Liujingfang1 @sethpollack
- Responsible SIGs:  sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Bet

[2021-01-30 17:50] shekhar-rajak commented on #2382
#2378 created for migrating the old keps into new template.

[2021-01-30 17:52] shekhar-rajak opened #2383 "Extend Kustomize Patches to Multiple Targets"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Extend Kustomize Patches to Multiple Targets

- Kubernetes Enhancement Proposal:

Currently, there are different types of patches supported in Kustomize:
[strategic merge patch](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md) and [JSON pa

[2021-01-30 17:53] shekhar-rajak commented on #2383
#2378 created for migrating the old keps into new template.

[2021-01-30 17:55] shekhar-rajak opened #2384 "Kustomize File Processing Integration"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Kustomize File Processing Integration

- Kubernetes Enhancement Proposal:

[code]

- Discussion Link:
- Primary contact (assignee): @pwittrock
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stab

[2021-01-30 17:55] shekhar-rajak commented on #2384
#2378 created for migrating the old keps into new template.

[2021-01-30 17:57] shekhar-rajak opened #2385 "Kustomize Secret Generator Plugins"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:

[code]

- Discussion Link:
- Primary contact (assignee): @sethpollack
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha

[2021-01-30 17:57] shekhar-rajak commented on #2385
#2378 created for migrating the old keps into new template.

[2021-01-30 18:00] shekhar-rajak opened #2386 "Kustomize Subcommand Integration"
# Enhancement Description
- One-line enhancement description (can be used as a release note):  Kustomize Subcommand Integration
- Kubernetes Enhancement Proposal:

[code]

- Discussion Link:
- Primary contact (assignee): @Liujingfang1 @liggitt @seans3 @soltysh
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release

[2021-01-30 18:00] shekhar-rajak commented on #2386
#2378 created for migrating the old keps into new template.

[2021-01-30 20:06] ialidzhikov commented on #668
/reopen

[2021-01-31 06:25] annajung commented on #1507
Not sure if you saw the [messages on slack](https://kubernetes.slack.com/archives/C1L57L91V/p1611855486052700), but updating here as well.

The consensus is that while PRR cannot be retroactively required, filling out PRR can help determine if there are any gaps and help debug this feature for the cluster admins. It is recommended to fill out at least the monitoring section of PRR for 1.21.

Overa

[2021-02-01 16:56] dashpole commented on #647
Yes.  It may not make it due to the grpc dependency update in etcd blocking it, but i'm going to try and at least make some incremental progress.

[2021-02-01 17:53] msau42 commented on #1487
/remove-lifecycle rotten

@wongma7 do you plan on enabling by default in 1.21?

[2021-02-01 18:02] soltysh commented on #2379
/sig cli
/assign

[2021-02-01 18:02] soltysh commented on #2386
/sig cli
/assign

[2021-02-01 18:07] shekhar-rajak opened #2390 "Reporting Conformance Test Results to Testgrid"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Reporting Conformance Test Results to Testgrid

- Kubernetes Enhancement Proposal:

This is a KEP outlining the motivation behind why cloud providers should periodically upload E2E conformance test results to [Testgrid](https://github.com/kubernetes/test-infra/tree/master/testgrid) and how a cloud provid

[2021-02-01 18:10] wongma7 commented on #1487
I'll have a definitive answer by end of this week (Feb ~5), not 100% sure just yet.

[2021-02-01 18:12] shekhar-rajak commented on #2390
Migrating all the old template keps to new template : https://github.com/kubernetes/enhancements/pull/2391

[2021-02-01 18:14] shekhar-rajak opened #2392 "Cloud Controller Manager"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Cloud Controller Manager
- Kubernetes Enhancement Proposal:

This KEP outlines the architectural changes required to run the Cloud Controller Manager. This is part of a long-running effort
to develop cloud provider specific features outside of Kubernetes core (kubernetes/kubernetes repo).

- Discussion Li

[2021-02-01 18:14] shekhar-rajak commented on #2392
Migrating all the old template keps to new template : #2391

[2021-02-01 18:17] shekhar-rajak opened #2393 "Cloud Provider Documentation"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Cloud Provider Documentation
- Kubernetes Enhancement Proposal:

This KEP describes the documentation requirements for both in-tree and out-of-tree cloud providers.
These requirements are meant to ensure the usage and integration of cloud providers with the rest of the Kubernetes ecosystem is concise and

[2021-02-01 18:18] shekhar-rajak commented on #2393
Migrating all the old template keps to new template : #2391

[2021-02-01 18:18] shekhar-rajak opened #2394 "Support Out-of-Tree AWS Cloud Provider"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support Out-of-Tree AWS Cloud Provider
- Kubernetes Enhancement Proposal:

Build support for the out-of-tree AWS cloud provider. This involves a well-tested version of the cloud-controller-manager
that has feature parity to the kube-controller-manager.

- Discussion Link:
- Primary contact (assignee): "@a

[2021-02-01 18:18] shekhar-rajak commented on #2394
Migrating all the old template keps to new template : #2391

[2021-02-01 18:20] shekhar-rajak commented on #2394
Migrating all the old template keps to new template : #2391

[2021-02-01 18:21] ghost opened #2395 "Removing In-Tree Cloud Providers"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Removing In-Tree Cloud Providers
- Kubernetes Enhancement Proposal:

This is a proposal outlining steps to remove "in-tree" cloud provider code from the k8s.io/kubernetes repo while being
as least disruptive to end users and other Kubernetes developers as possible.

- Discussion Link:
- Primary contact (a

[2021-02-01 18:23] shekhar-rajak commented on #2395
Migrating all the old template keps to new template : #2391

[2021-02-01 18:38] soltysh commented on #19
I've put https://github.com/kubernetes/enhancements/pull/2396 to update the stage and milestone I'll add this to tracking spreadsheet too.
/milestone v1.21

[2021-02-01 18:55] ehashman commented on #647
@dashpole great thanks - please submit a PR to update your KEP to target the new milestone.

/milestone v1.21

[2021-02-01 19:49] liggitt commented on #1393
added to tracking spreadsheet for 1.21

[2021-02-01 20:01] jrsapi commented on #1495
Greetings @bswartz!
1.21 Enhancements shadow checking in. For the enhancement to be included in the 1.21 milestone, it must meet the following criteria:

~~The KEP must be merged in an implementable state~~ Done
~~The KEP must have test plans~~ Done
~~The KEP must have graduation criteria~~ Done
The KEP must have a production readiness review

Also starting 1.21, all KEPs must include a production

[2021-02-01 21:50] jqmichael opened #2398 "Protect critical cluster requests from badly configured admission webhooks"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Protect critical cluster requests from badly configured admission webhooks
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/2401
- Discussion Link: https://youtu.be/n1L5a09wWas?t=1780
- Primary contact (assignee):@jqmichael
- Responsible SIGs: sig-api-machinery
- Enhance

[2021-02-01 21:50] jrsapi commented on #2317
@gnufied  This is Joseph v1.21 enhancement shadow.  A reminder for this enhancement to be included in the 1.21 milestone, it must meet the following criteria:

The KEP must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria
The KEP must have a production readiness review

Starting 1.21, all KEPs must include a [production readiness review](https:

[2021-02-01 23:53] ehashman opened #2400 "Node memory swap support"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubernetes nodes support swap memory on Linux.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2400-node-swap
- Discussion Link: https://docs.google.com/document/d/1CZtRtC8W8FwW_VWQLKP9DW_2H-hcLBcH9KBbukie67M/edit# https://github.com/kubernetes/kuber

[2021-02-02 00:08] kendallroden commented on #1981
Hey @marosset , 1.21 Enhancements Shadow here! Please ensure the following are completed prior to the _Code Freeze on **Tuesday, Feb 9th**_:

- KEP.yaml status must be updated to implementable
- **Test plan** need to be completed (currently populated with a placeholder)
- The **Feature Enablement and Rollback** section needs to be completed under the Production Readiness Review Questionnaire

Ther

[2021-02-02 00:42] jqmichael commented on #2398
/sig api-machinary

[2021-02-02 01:26] KobayashiD27 commented on #1668
/remove-lifecycle stale

[2021-02-02 16:06] ffromani opened #2403 "Extend podresources API to report allocatable resources"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Extend the podresources API to report the allocatable compute resources
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2403-pod-resources-allocatable-resources/README.md
- Discussion Link:
  - SIG Node Meeting 20200811: [Recording](https://youtu.

[2021-02-02 16:07] fromanirh commented on #2403
/sig node

[2021-02-02 17:02] fromanirh commented on #2403
rationale for this split in this [slack conversation](https://kubernetes.slack.com/archives/C0BP8PW9G/p1612198342075700)

the main goal is to make this change easier to review

[2021-02-02 17:14] rikatz commented on #2227
Hey,

We have #2227 and #2368 , what is the difference between them?

[2021-02-02 18:01] derekwaynecarr commented on #2403
/milestone v1.21

[2021-02-02 19:09] ehashman commented on #2371
/milestone v1.21

[2021-02-02 19:10] ehashman commented on #1769
/milestone v1.21

[2021-02-02 19:10] ehashman commented on #34
/milestone v1.21

[2021-02-02 19:11] ehashman commented on #2369
/milestone v1.21

[2021-02-02 19:11] ehashman commented on #277
/milestone v1.21

[2021-02-02 19:12] ehashman commented on #2238
/milestone v1.21

[2021-02-02 19:12] ehashman commented on #2000
/milestone v1.21

[2021-02-02 19:59] ahg-g commented on #624
/close

This is done.

[2021-02-02 19:59] #624 closed

[2021-02-02 21:24] JamesLaverack commented on #592
Hey @ahg-g, Kubernetes 1.21 enhancements shadow here. 👋

We're reviewing this KEP For inclusion in Kubernetes 1.21, and I've got a few questions about the KEP:

* Does SIG API Machinery need to do anything? They're [listed in your `kep.yaml`](https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/592-ttl-after-finish/kep.yaml) as a participating SIG.
* Are the [metrics in your `kep.y

[2021-02-02 21:29] ahg-g commented on #592
No, not for beta.

PRR and sig-apps approved the updated KEP, so I am guessing we have agreement on that.

There are unit and e2e tests already that were part of alpha graduation.

[2021-02-03 01:13] umohnani8 opened #2411 "CRIContainerLogRotation"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubelet manages CRI container log rotation.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2418
- Discussion Link: In original design [doc](https://docs.google.com/document/d/1oQe8dFiLln7cGyrRdholMsgogliOtpAzq6-K3068Ncg/edit#heading=h.tqzh23ejpszb)
- Primary contact (as

[2021-02-03 06:42] pacoxu commented on #2368
/close

[2021-02-03 06:43] #2368 closed

[2021-02-03 07:38] pacoxu commented on #2227
@rikatz I closed #2368 and will update the KEP pr.

[2021-02-03 09:27] saschagrunert opened #2413 "Kubelet option to enable seccomp by default"
# Enhancement Description
- One-line enhancement description (can be used as a release note): The kubelet now has an option to enable a default seccomp profile for workloads that do not specify a seccomp profile
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2413-seccomp-by-default/README.md
- Discussion Link:
  - SIG Node weekly meeting:

[2021-02-03 10:34] wzshiming opened #2415 "[WIP] Add EnvFrom.ConfigMapRef variables expand"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements`)

[2021-02-03 14:42] neolit123 commented on #563
@aojea

for kubeadm the dual stack support is tracked here:
https://github.com/kubernetes/kubeadm/issues/1612

i see some remaining tasks in the punch card there and the [kubeadm feature gate is still alpha](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/features/features.go#L39)

cc @Arvinderpal do you have time to work on these updates for 1.21, or perhaps you can delegate

[2021-02-03 15:06] Arvinderpal commented on #563
@neolit123 I have not been following dual-stack developments recently and I'm not sure if any of the tasks in https://github.com/kubernetes/kubeadm/issues/1612 are still relevant anymore.
It may be best if some like @aojea or others from the SIG Net take a look.

[2021-02-03 15:15] aojea commented on #563
replied in the kubeadm issue, I think that only kubeadm docs are missing, rest is goog

[2021-02-03 15:33] neolit123 commented on #563
thanks. ok, looks like:

is still a viable item.

if the core dual stack feature gate as moving to Beta in 1.21, we should move the kubeadm gate too.

[2021-02-03 16:08] soltysh commented on #19
The linked KEP was updated to reflect 1.21 work.

[2021-02-03 17:35] ehashman commented on #383
/remove-stage stable
/stage beta

KEP updated in #2410 -- I don't think we are targeting graduation for 1.21.

[2021-02-03 19:17] dims commented on #2411
cc @ehashman

[2021-02-03 19:19] dims commented on #2411
@umohnani8 is there any pending issues/prs that need to be worked on to mark this as stable?

[2021-02-03 19:29] smarterclayton commented on #1748
https://github.com/kubernetes/enhancements/pull/2417 is open, thanks for reminding

[2021-02-03 20:06] umohnani8 commented on #2411
@dims there is one issue on some logs being lost when rotation happens https://github.com/kubernetes/kubernetes/issues/64760

[2021-02-03 20:38] soltysh commented on #2227
/stage alpha
/milestone v1.21
/kind feature

[2021-02-03 20:41] soltysh commented on #859
/milestone v1.21

[2021-02-03 20:42] soltysh commented on #859
/stage alpha

[2021-02-03 21:00] ehashman commented on #2411
Linking original design doc from the community repo: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md

[2021-02-03 21:05] ddebroy commented on #1122
/remove-lifecycle stale

[2021-02-03 21:30] dims commented on #2411
@umohnani8 i don't think that issue is valid anymore ... asked a question there, hopefully we don't have to do anything there.

[2021-02-03 21:55] annajung commented on #2133
Hi @andrewsykim,

For the enhancement to be included in the milestone, it must meet the following criteria:
- [DONE] ~The KEP must be merged in an implementable state~
- The KEP must have test plans
- [DONE] ~The KEP must have graduation criteria~
- The KEP must have a production readiness review

The test plan for beta is missing in the KEP, so please remember to update to include that.

Also sta

[2021-02-03 23:31] ahg-g commented on #2255
@annajung @JamesLaverack james, you mentioned in the sig-apps slack channel that this enhancement is at risk, can you clarify why? it meets the criteria.

[2021-02-03 23:32] ahg-g commented on #2214
@annajung @JamesLaverack James, you mentioned in the sig-apps slack channel that this enhancement is at risk, can you clarify why?

[2021-02-03 23:33] ahg-g commented on #592
@JamesLaverack does that answer your questions?

[2021-02-04 00:09] JamesLaverack commented on #592
Thanks for the response @ahg-g.

If SIG API Machinery doesn't need to do anything at this stage then that's fine, and if the metrics are approved then that's fine too.

However I belive we need a testing section in the KEP to accept it for the release, as it's part of our checklist. The [modern KEP Template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#test-plan) h

[2021-02-04 00:37] BenTheElder opened #2420 "Reducing Kubernetes Build Maintenance"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Reduce Kubernetes build maintenance by moving to a single build system.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-testing/2420-reducing-kubernetes-build-maintenance/
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/88553 (initial c

[2021-02-04 01:06] JamesLaverack commented on #2255
@ahg-g Just to follow up here too, we discussed in Slack and this was due to a delay in reviewing. We've now marked this as "Tracked" on the [enhancements spreadsheet for 1.21](https://docs.google.com/spreadsheets/d/1I_ybuEI6gNNPJT7xcO_y-eu_BpayTdBX3nerVsHybNA/edit#gid=0).

Thank you for getting back to us. :)

[2021-02-04 01:18] ahg-g commented on #592
@JamesLaverack I opened a PR for the change, it doesn't have any material impact though...

[2021-02-04 01:18] ahg-g commented on #592
@JamesLaverack I opened a PR for the change, it doesn't have any material impact though...

[2021-02-04 01:23] JamesLaverack commented on #85
@davidopp @soltysh @mortent :wave: Hello, Kubernetes 1.21 enhancements shadow here.

I can see you've updated your [KEP for inclusion in 1.21](https://github.com/kubernetes/enhancements/pull/2114), but we don't have it on our [tracking spreadsheet](https://docs.google.com/spreadsheets/d/1I_ybuEI6gNNPJT7xcO_y-eu_BpayTdBX3nerVsHybNA/edit#gid=0). As of 1.21 we're changing to an [opt-in system](https:

[2021-02-04 02:28] JamesLaverack commented on #592
Thanks @ahg-g. That change looks good to me. I'll follow the PR and when it merges I can set this enhancment to be tracked for 1.21.

[2021-02-04 02:31] JamesLaverack commented on #2214
Just to follow up here after further discussion in Slack, that was a mistaken state due to a delay in review. Sorry for the delay on this. I've now marked this enhancement as tracked (and not at risk) for 1.21 on the [tracking sheet](https://docs.google.com/spreadsheets/d/1I_ybuEI6gNNPJT7xcO_y-eu_BpayTdBX3nerVsHybNA/edit#gid=0).

[2021-02-04 07:37] #2415 closed

[2021-02-04 09:07] pohly commented on #1702
/remove-lifecycle rotten

[2021-02-04 13:16] LappleApple commented on #620
Hey @ameukam, you still want to do this one?

[2021-02-04 13:18] LappleApple commented on #822
Any updates here?

@mattfarina do you still want to be listed as an assignee?

[2021-02-04 16:43] annajung commented on #1885
Hi @andyzhangx

This enhancement is currently being tracked by the enhancements team for the upcoming release 1.21. However, it's at risk due to missing PRR requirements.

Please make sure that KEP is updated with [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and you follow the [requirement for submitti

[2021-02-04 17:39] ehashman commented on #2305
/milestone v1.21

slipped from 1.20

[2021-02-04 18:28] vinaykul commented on #2273
@shekhar-rajak Thanks for migrating the KEP to the new format (I apologize for being unresponsive about it). Could you please clarify what Enhancement target refers to here, and where should we make the update?

@thockin and I have been working on updating the design changes to the [main KEP](https://github.com/kubernetes/enhancements/pull/1883) and I believe we have reached a consensus. Consequen

[2021-02-04 18:35] ehashman commented on #1668
We discussed this KEP in today's SIG Instrumentation meeting. We agreed we will need to get signoff from API Machinery before we can proceed with this KEP, so it will not make it into 1.21 unfortunately.

@dashpole will be the SIG Instrumentation lead contact for this.

/assign @dashpole
/sig api-machinery

[2021-02-04 18:55] msau42 commented on #1885
@Jiawei0227 is working on updating the KEP with the PRR

[2021-02-04 20:16] sftim commented on #592
Does https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/ look OK for a beta feature? Do these docs merit extending?

[2021-02-04 20:19] sftim commented on #2413
Is this also relevant to SIG Security?

[2021-02-04 22:03] BenTheElder commented on #2311
I'm also unsure of the exact types, but I think this is a good idea, and recently observed that we now have all of the PRR stuff which seems like a good idea for kubernetes/kubernetes features with feature gates etc. but largely superfluous for KEPs that are meta / not affecting production.

[2021-02-04 22:05] ehashman commented on #1602
/milestone v1.21

[2021-02-04 22:10] spiffxp commented on #2311
`enhancement_type` or `scope`? to avoid clashing with something super generic like `type` or `kind` (you know, so we can one day make these a fully fledged CRD...)

Policy feels ambiguous but I guess it's a good catch-all for project process changes, build / test changes, etc.

[2021-02-05 05:12] robscott opened #2433 "Topology Aware Routing"
# Enhancement Description
- One-line enhancement description (can be used as a release note): EndpointSlice controller can be configured to provide topology aware hints that will enable simple topology aware routing.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2433-topology-aware-hints
- Discussion Link: https://docs.google.com/documen

[2021-02-05 05:24] jrsapi commented on #277
This is Joseph v1.21 enhancement shadow. For the enhancement to be included in the 1.21 milestone, it must meet the following criteria:

~~The KEP must be merged in an implementable state~~Done
~~The KEP must have test plans~~ Done
~~The KEP must have graduation criteria~~ Done
The KEP must have a production readiness review

Also starting 1.21, all KEPs must include a [production readiness review

[2021-02-05 05:37] jrsapi commented on #2047
Greetings @zshihang,
This is Joseph v1.21 enhancement shadow. For the enhancement to be included in the 1.21 milestone, it must meet the following criteria:

~~The KEP must be merged in an implementable state~~Done
~~The KEP must have test plans ~~Done
~~The KEP must have graduation criteria~~ Done
The KEP must have a production readiness review

Starting v1.21, all KEPs must include a [production

[2021-02-05 05:42] jrsapi commented on #2268
Greetings @xing-yang ,
This is Joseph v1.21 enhancement shadow following up. For the enhancement to be included in the 1.21 milestone, it must meet the following criteria:

The KEP must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria
The KEP must have a production readiness review

Starting v1.21, all KEPs must include a [production readiness

[2021-02-05 06:37] arunmk commented on #541
@ankeesler I am an enhancements shadow and am reviewing this KEP and associated tasks. I see in the [KEP graduation criteria](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/541-external-credential-providers#graduation-criteria) that this task is already in Beta while the [comment above](https://github.com/kubernetes/enhancements/issues/541#issuecomment-756297923) lists tasks

[2021-02-05 06:39] krmayankk commented on #961
@kubernetes/release-managers can you please mark this as tracked ?

[2021-02-05 07:18] arunmk commented on #2232
hi @adtac I am one of the enhancement shadows for 1.21 and am reviewing this feature. I did not find [graduation criteria](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2232-suspend-jobs#graduation-criteria) for alpha phase in the kep. Could you please let me know if there are any?

[2021-02-05 07:45] vinaykul commented on #1287
Hi @kikisdeliveryservice @palnabarun

@thockin has been helping me re-tune the some of the API changes for this feature, and I believe [we are quite close to finalizing the KEP update](https://github.com/kubernetes/enhancements/pull/1883) and will make the Feb 9th enhancement freeze. Although the March 9th code-freeze date might be a little tight at this point, I'm also still hopeful I can find th

[2021-02-05 07:49] jrsapi commented on #2227
Greetings ,
This is Joseph v1.21 enhancement shadow checking in. For the enhancement to be included in the 1.21 milestone, it must meet the following criteria:

The KEP must be merged in an implementable state
The KEP must have test plans
The KEP must have graduation criteria
The KEP must have a production readiness review

Starting v1.21, all KEPs must include a [production readiness review](http

[2021-02-05 07:53] arunmk commented on #2112
@jayunit100 I am one of the enhancement shadows for 1.21 and am reviewing this KEP.

I do not see a KEP for this. In the PR, there is a mention that this item is fixed by that PR. The kep there is also regarding 2161. Could you please clarify?

[2021-02-05 07:55] JaneLiuL opened #2435 "Controller and Kubelet Get stuck in eviction endless loop"
# Enhancement Description
If the node have disk issue, then the kubernetes will eviction the pod.
But very strange that the controller like deployment controller, when a user create a new deployment, the deployment controller will create a new pod, and then will be scheduler to the node, but if the node have disk pressure, then the pod will be eviction, and the deployment controller create a new p

[2021-02-05 08:05] arunmk commented on #2238
@ehashman I am one of the enhancement shadows for v1.21 and am reviewing this KEP. We have the enhancements freeze coming up on 2/9. Could you mention if PR https://github.com/kubernetes/enhancements/pull/2241 be merged by then?

[2021-02-05 08:12] jrsapi commented on #1769
Greetings @cezaryzukowski,

This is Joseph v1.21 enhancement shadow checking. For the enhancement to be included in the 1.21 milestone, it must meet the following criteria:

~~The KEP must be merged in an implementable state~~Done
~~The KEP must have test plans ~~Done
~~The KEP must have graduation criteria~~ Done
The KEP must have a production readiness review

Starting v1.21, all KEPs must inclu

[2021-02-05 08:31] saschagrunert commented on #2413
Yes, I think so:
/sig security

[2021-02-05 08:31] arunmk commented on #859
hi @soltysh @pwittrock I am an enhancements shadow for 1.21 and am reviewing this KEP.

I have a few asks:
1. Could you update the kep.yaml with the latest format? I don't see entries for fields such as `stage`, `latest-milestone`, `alpha`, PRR details (`feature-gates`) etc. The template is available at https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml
2. Could

[2021-02-05 10:13] verb commented on #277
ack, thanks @jrsapi. PRR has prelim lgtm in #2244, working on final approval now.

[2021-02-05 10:35] shekhar-rajak commented on #2277
I would like to pick this task.

[2021-02-05 10:53] jayunit100 commented on #2112
Hey ! This now moved to being an apimachinery KEP to add a default selector for namespace.name ! I'll update all this shortly

[2021-02-05 11:36] adtac commented on #2232
We don't have any criteria for alpha -- the feature will be turned off by default and we expect users to test it for the first time in alpha. Feedback from users will be a part of beta graduation, but the criteria for alpha is pretty much just the existence of the KEP.

[2021-02-05 13:07] ameukam commented on #620
@LappleApple Not sure I'll have bandwidth for this.
/unassign

[2021-02-05 13:13] ankeesler commented on #541
@arunmk - hi there 👋. I agree that the feature is in beta, and we are continuing to target beta for 1.21. We have an open PR to update the `kep.yaml` to reflect that this feature is still in beta, is this what you were looking for: https://github.com/kubernetes/enhancements/pull/2275/files?

[2021-02-05 14:22] JamesLaverack commented on #1209
👋 Hey @logicalhan and @serathius, 1.21 enhancements shadow here.

This enhancement is being tracked for the 1.21 release, but I have a few queries about [your KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1209-metrics-stability).

- I understand that this is going GA in 1.21, but the `stage` field in [your `kep.yaml`](https://github.com/kubernetes/enhancement

[2021-02-05 15:19] deads2k commented on #2155
/milestone 1.21
/stage stable

This is a sub-kep of https://github.com/kubernetes/enhancements/issues/555

[2021-02-05 15:19] deads2k commented on #2155
/milestone v1.21

[2021-02-05 15:21] soltysh commented on #2227
@jrsapi the emplacement is approved both by sig-leads and PRR approvers, it's awaiting small update and should merge on time.

[2021-02-05 15:23] soltysh commented on #859
I'll sync with @seans3 who will be working on it.

[2021-02-05 16:01] alculquicondor commented on #2214
/assign

[2021-02-05 17:16] shekhar-rajak commented on #2277
I think repo owner can do it quickly,  going into settings tab.  I do not see settings tab.

[2021-02-05 18:59] seans3 commented on #859
@arunmk @soltysh The latest version of the KEP in the new format is at:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/859-kubectl-headers

Please have a look at that recent version and let us know if you still think there are missing parts. I think the [Release Signoff Checklist](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/859-kubectl-headers#release-

[2021-02-05 19:14] zshihang commented on #2047
thanks for the reminder, it is being reviewed here: https://github.com/kubernetes/enhancements/pull/2260

[2021-02-05 19:25] arunmk commented on #541
Thanks @ankeesler. The PR covers most of the things. But the README.md still states `Feature is already in Beta.` in the Graduation Criteria section and the criteria talks about `#### Beta -> GA Graduation`. Do you have criteria for Beta graduation itself?

[2021-02-05 20:11] wongma7 commented on #1487
We won't be enabling by default in 1.21, targeting 1.22.

[2021-02-05 20:46] arunmk commented on #34
@ehashman I am an enhancements shadow for 1.21 and am reviewing this KEP. In the kep.yaml file. I have a few comments:

1. I do not see fields as per the [current template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml). We will need to migrate to the new version
2. Is the [Graduation Criteria](https://github.com/kubernetes/enhancements/tree/master/keps/sig

[2021-02-05 21:22] alculquicondor commented on #2307
/assign

[2021-02-05 21:25] jiahuif opened #2436 "Leader Migration for Controller Managers"
# Enhancement Description
- One-line enhancement description (can be used as a release note): kube-controller-manager and cloud-controller-manager can apply new controller-to-controller-manager assignment in HA control plane without downtime.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/2436-controller-manager-leader-migration
-

[2021-02-05 21:27] jiahuif commented on #2436
/sig cloud-provider
/assign
/cc @cheftako @andrewsykim @nckturner
replaces https://github.com/kubernetes/enhancements/issues/991

[2021-02-05 21:31] janetkuo commented on #85
@JamesLaverack thanks for the reminder! The KEP has been added to the tracking sheet.

[2021-02-05 22:24] arunmk commented on #2112
Thanks @jayunit100 . Could you please link the KEP when you update this issue.

[2021-02-05 23:18] danwinship opened #2438 "DualStack apiserver support"
# Dual-stack apiserver support
- One-line enhancement description (can be used as a release note): Make the apiserver service dual-stack in dual-stack clusters
- Kubernetes Enhancement Proposal: (pending...)
- Discussion Link: Discussed in sig-net on Jan 21, then a bit on slack (https://kubernetes.slack.com/archives/CGF3A900N/p1611328345018100, including a second thread off a later comment)
- Prim

[2021-02-05 23:19] danwinship commented on #2438
/sig network
/sig api-machinery

[2021-02-06 00:36] annajung commented on #2305
Hi @logicalhan and @lilic, 1.21 Enhancements Lead here

For the enhancement to be included in the milestone, it must meet the following criteria:
- [DONE] ~The KEP must be merged in an implementable state~
- The KEP must have test plans
- The KEP must have graduation criteria
- The KEP must have a production readiness review

Please make sure you update the KEP using the latest [template](https://

[2021-02-06 01:22] annajung commented on #2000
Hi @bobbypage, 1.21 Enhancements Lead here.

Please make sure KEP is updated with beta information. In reviewing the current KEP, kep.yaml needs to be updated, PRR yaml needs to created, and PRR questionnaires should be answered/ reviewed by PRR approver.

Please make sure you meet the criteria before the enhancements freeze Feb. 9th.

Once PRR is ready for review, please reach out in the #prod-re

[2021-02-06 01:30] annajung commented on #1933
Hi @PurelyApplied, 1.21 Enhancements Lead here.

You need to make sure PRR approver is specified in the [kep.yaml](https://github.com/kubernetes/enhancements/blob/582a8e813eacdf53c059fc58586446ed2fe52009/keps/sig-instrumentation/1933-secret-logging-static-analysis/kep.yaml#L20) and that you meet the [requirement for PRR](https://github.com/kubernetes/community/blob/master/sig-architecture/producti

[2021-02-06 02:08] annajung commented on #1295
Hey @deads2k, it looks like one of the PRR requirements has not been met for this enhancement. You need to create a `<KEP number>.yaml` file under https://github.com/kubernetes/enhancements/tree/master/keps/prod-readiness/sig-api-machinery, with the PRR approver's GitHub handle for the specific stage.

Please make sure this requirement is met before the enhancement freeze, Feb. 9th. Thank you!

[2021-02-06 05:40] annajung commented on #1287
Hi @vinaykul 👋 1.21 Enhancements Lead here.

This enhancement is currently **not** being tracked for the 1.21 release. You will need to work with SIG node, SIG autoscaling, and SIG scheduling who are either sponsoring or participating in this enhancement to agree to opt-in for the release.

Once there is an agreement, please work with one of the leads from SIG node to enter the enhancement informa

[2021-02-06 19:39] andrewsykim commented on #2395
/assign

[2021-02-07 13:19] shekhar-rajak opened #2445 "NodeLocal DNS Cache"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

NodeLocal DNS Cache

- Kubernetes Enhancement Proposal:

This proposal aims to improve DNS performance by running a dns caching agent on cluster nodes as a Daemonset. In today's architecture, pods in ClusterFirst DNS mode reach out to a kube-dns serviceIP for DNS queries. This is translated to a kube-dns

[2021-02-07 13:22] shekhar-rajak commented on #2445
Migrating all the old template keps to new template : #2446

[2021-02-07 13:24] shekhar-rajak opened #2447 "Make kube-proxy service abstraction optional"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Make kube-proxy service abstraction optional

- Kubernetes Enhancement Proposal:

In a cluster that has a service mesh a lot of the work being done by kube-proxy is redundant and wasted.
Specifically, services that are only reached via other services in the mesh will never use the service abstraction imp

[2021-02-07 13:24] shekhar-rajak commented on #2447
Migrating all the old template keps to new template : #2446

[2021-02-07 13:26] shekhar-rajak opened #2448 "Remove kube-proxy's automatic clean up logic"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Remove kube-proxy's automatic clean up logic

- Kubernetes Enhancement Proposal:

Remove any clean up functionality in kube-proxy that is done automatically/implicitly.
More concretely, kube-proxy should only attempt to clean up its proxy rules when the `--cleanup` flag is set.

- Discussion Link:
- Prim

[2021-02-07 13:27] shekhar-rajak commented on #2448
Migrating all the old template keps to new template : #2446

[2021-02-07 13:30] shekhar-rajak opened #2449 "Move ExternalDNS out of Kubernetes incubator"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Move ExternalDNS out of Kubernetes incubator

- Kubernetes Enhancement Proposal:

[ExternalDNS](https://github.com/kubernetes-incubator/external-dns) is a project that synchronizes Kubernetes’ Services, Ingresses and other Kubernetes resources to DNS backends for several DNS providers.

The projects was

[2021-02-07 13:31] shekhar-rajak commented on #2449
Migrating all the old template keps to new template : #2446

[2021-02-07 13:32] shekhar-rajak opened #2450 "Remove knowledge of pod cluster CIDR from iptables rules"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Remove knowledge of pod cluster CIDR from iptables rules

- Kubernetes Enhancement Proposal:

[code]

- Discussion Link:
- Primary contact (assignee): @satyasm
- Responsible SIGs: sig-network
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release t

[2021-02-07 13:32] shekhar-rajak commented on #2450
Migrating all the old template keps to new template : #2446

[2021-02-07 14:45] shekhar-rajak opened #2451 "Service Account Token Volumes"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Service Account Token Volumes
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2451-service-account-token-volumes

Kubernetes is able to provide pods with unique identity tokens that can prove
the caller is a particular pod to a Kubernetes API serv

[2021-02-07 14:50] shekhar-rajak commented on #2451
Migrating all the old template keps to new template : #2452

[2021-02-07 17:58] annajung commented on #213
Hi @krmayankk, 1.21 Enhancements Lead here

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/1974). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) an

[2021-02-07 17:58] annajung commented on #542
Hi @zshihang

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2374). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the following

[2021-02-07 17:58] annajung commented on #555
Hi @apelisse

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2405). Please make sure to work on [missing requirements](https://github.com/kubernetes/enhancements/issues/555#issuecomment-767893183) and get it merged before the freeze. For PRR related questions or to boos

[2021-02-07 17:58] annajung commented on #647
Hi @dashpole

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2428). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and [requirements](https://githu

[2021-02-07 18:09] annajung commented on #1432
Hi @xing-yang

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2286). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the following

[2021-02-07 18:11] JamesLaverack commented on #563
Hey @lachie83, enhancements 1.21 shadow here again,

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

The enhancements team is aware that KEP update is currently in progress ([PR #2327](https://github.com/kubernetes/enhancements/pull/2327)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-re

[2021-02-07 18:14] annajung commented on #1602
Hi @serathius

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2430). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the following

[2021-02-07 18:18] annajung commented on #1669
Hi @andrewsykim

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is NOT tracking any open PR for a KEP update. Please make sure to work on [missing requirements](https://github.com/kubernetes/enhancements/issues/1669#issuecomment-769426856) and get it merged before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-re

[2021-02-07 18:19] annajung commented on #1672
Hi @andrewsykim

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is NOT tracking any open PR for a KEP update. Please make sure to work on [missing requirements](https://github.com/kubernetes/enhancements/issues/1672#issuecomment-769429065) and get it merged before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-re

[2021-02-07 18:22] annajung commented on #1847
Hi @mattcary

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2440). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the following

[2021-02-07 18:24] annajung commented on #1885
Hi @andyzhangx

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2432). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the followin

[2021-02-07 18:25] annajung commented on #1959
Hi @andrewsykim

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is NOT tracking any open PR for a KEP update. Please make sure to work on [missing requirements](https://github.com/kubernetes/enhancements/issues/1959#issuecomment-769431568) and get it merged before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-re

[2021-02-07 18:30] annajung commented on #1981
Hi @marosset, 1.21 Enhancements Lead here

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2288). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that d

[2021-02-07 18:32] JamesLaverack commented on #1748
Hey @smarterclayton , enhancements 1.21 shadow here,

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

The enhancements team is aware that KEP update is currently in progress ([PR #2417](https://github.com/kubernetes/enhancements/pull/2417)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-r

[2021-02-07 18:33] annajung commented on #2000
Hi @bobbypage

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is NOT tracking any open PR for a KEP update. Please make sure to work on [missing requirements](https://github.com/kubernetes/enhancements/issues/2000#issuecomment-774370678) and get it merged before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-read

[2021-02-07 18:37] annajung commented on #2129
Hi @dashpole

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2130). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the following

[2021-02-07 18:38] annajung commented on #2133
Hi @andrewsykim

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is NOT tracking any open PR for a KEP update. Please make sure to work on [missing requirements](https://github.com/kubernetes/enhancements/issues/2133#issuecomment-772850675) and get it merged before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-re

[2021-02-07 18:42] annajung commented on #2140
Hi @palnabarun

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2167). Please make sure PR merges before the freeze.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob

[2021-02-07 18:44] annajung commented on #2155
Hi @jpbetz

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2419). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the following re

[2021-02-07 18:48] annajung commented on #2258
Hi @aravindhp

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2271/). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the followin

[2021-02-07 18:50] JamesLaverack commented on #2305
Hey @logicalhan and @lilic, 1.21 enhancements shadow here,

Just to add to Anna's comment above — enhancement's freeze is **2 days away, Feb 9th EOD PST**. Any enhancements that do not complete the requirements in [Anna's comment above](https://github.com/kubernetes/enhancements/issues/2305#issuecomment-774361070) by the freeze will require an [exception](https://github.com/kubernetes/sig-release/

[2021-02-07 18:52] annajung commented on #2413
Hi @saschagrunert

**Enhancements Freeze is 2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2414).  Please make sure to work on [missing requirements](https://github.com/kubernetes/enhancements/pull/2414#issuecomment-774353384) and get it merged before the freeze. For PRR related questions or to

[2021-02-07 18:55] aravindhp commented on #2258
@annajung #2271 has the following completed:
[IN PROGRESS] The KEP must have test plans
[IN PROGRESS] The KEP must have graduation criteria
[IN PROGRESS] The KEP must have a production readiness review (I need update the check mark but it has been /approved for PRR)
Is there a reason for it to be marked IN PROGRESS?

[2021-02-07 18:57] JamesLaverack commented on #2369
Hey @harche , enhancements 1.21 shadow here,

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

The enhancements team is aware that KEP update is currently in progress ([PR #2370](https://github.com/kubernetes/enhancements/pull/2370)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-qu

[2021-02-07 18:59] annajung commented on #2258
@aravindhp We consider it in progress until PR merges. Even if you have a PR open for the change, if it doesn't merge before the enhancements freeze, this enhancement is at risk of not making it into the release.

[2021-02-07 19:00] JamesLaverack commented on #2371
Hey @haircommander and @bobbypage, enhancements 1.21 shadow here,

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

The enhancements team is aware that KEP update is currently in progress ([PR #2364](https://github.com/kubernetes/enhancements/pull/2364)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#productio

[2021-02-07 19:01] aravindhp commented on #2258
Thanks for the clarification @annajung. We are waiting for LGTMs from `sig-node` and `sig-auth` to merge.

[2021-02-07 19:04] JamesLaverack commented on #2403
Hey @fromanirh, enhancements 1.21 shadow here,

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

The enhancements team is aware that KEP update is currently in progress ([PR #2404](https://github.com/kubernetes/enhancements/pull/2404)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-

[2021-02-08 00:26] jrsapi commented on #277
Thanks for the update @verb!

Enhancements Freeze is 2 days away, Feb 9th EOD PST

Enhancements team is aware that KEP update is currently in progress ([PR #2244](https://github.com/kubernetes/enhancements/pull/2244)) . Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not c

[2021-02-08 00:52] jrsapi commented on #1933
Greetings @PurelyApplied
1.21 Enhancement shadow following up on this KEP. Enhancements Freeze is 2 days away, Feb 9th EOD PST

 Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancement-complete-dates). Current tracking status on this KE

[2021-02-08 02:32] jrsapi commented on #2411
Greetings @umohnani8! 1.21 Enhancement shadow checking in with some reminders.

Enhancements Freeze is 2 days away, Feb 9th EOD PST. Enhancements team is aware that KEP update is currently in progress.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to

[2021-02-08 02:53] jrsapi commented on #2047
Greetings @zshihang

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR [#2260](https://github.com/kubernetes/enhancements/pull/2260)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and [requirement

[2021-02-08 03:16] jrsapi commented on #2268
Greetings @xing-yang,

Enhancements Freeze is 2 days away, Feb 9th EOD PST

Enhancements team is aware that KEP update is currently in progress (PR [#1116](https://github.com/kubernetes/enhancements/pull/1116)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and [requirements]

[2021-02-08 03:46] jrsapi commented on #2227
Greetings @soltysh @pacoxu,
 Thanks for the update. Reminder that enhancement freeze is 2 days away, Feb 9th EOD PST

Enhancements team is aware that KEP update is currently in progress (PR [#2189]. Please make sure the updates get done and pr merged before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do n

[2021-02-08 04:32] arunmk commented on #859
@seans3 I received the mail regarding the details being in another section, but we would need to use the template as mentioned in https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template. Could you edit the KEP to follow this template.

[2021-02-08 04:44] jrsapi commented on #2317
Greetings  @gnufied ,

Checking in and reminding that Enhancements Freeze is 2 days away, Feb 9th EOD PST.

Enhancements team is aware that the KEP update is currently in progress (PR #2323 ). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and [requirements](https://github.com

[2021-02-08 05:00] jrsapi commented on #1495
@bswartz

Enhancements Freeze is 2 days away, Feb 9th EOD PST. Enhancements team is aware that KEP update is currently in progress.

Enhancements team is aware that KEP update is currently in progress (PR #2056). Please make sure to complete work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and [req

[2021-02-08 05:00] pacoxu commented on #2227
/assign

[2021-02-08 05:10] jrsapi commented on #1979
@wlan0 @xing-yang

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

 Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and [requirements](https://github.com/kubernetes/community/blob/master/sig-architecture/production-readiness.md#submitting-a-kep-for-production-readiness

[2021-02-08 05:27] jrsapi commented on #1769
@cezaryzukowski

Enhancements Freeze is **2 days away, Feb 9th EOD PST**

Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire) and [requirements](https://github.com/kubernetes/community/blob/master/sig-architecture/production-readiness.md#submitting-a-kep-for-production-readiness-ap

[2021-02-08 06:28] pacoxu commented on #34
We may update it.
/remove-lifecycle rotten

Graduation Criteria:
- [ ] API changes allowing to configure the pod-scoped sysctl via spec.securityContext field.
- [ ] Promote --experimental-allowed-unsafe-sysctls kubelet flag to kubelet config api option
- [ ] feature gate enabled by default
- [ ] e2e tests

Some discussion in
https://docs.google.com/document/d/1FbThdQQVNPISNjK4IEqfliuRCA6pLbUiayb3O

[2021-02-08 06:48] arunmk commented on #34
Hi @pacoxu @ehashman

Enhancements Freeze is 2 days away, Feb 9th EOD PST

Enhancements team is aware that KEP update is currently in progress (as per [comment](https://github.com/kubernetes/enhancements/issues/34#issuecomment-774904886)). Please make sure to work on [PRR questionnaires](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-quest

[2021-02-08 06:55] arunmk commented on #541
Hi @ankeesler

Enhancements Freeze is 2 days away, Feb 9th EOD PST

Enhancements team is aware that KEP update is currently in progress (PR #2275). Could you update the graduation criteria in the README.md of the KEP as well and merge it.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob/master

[2021-02-08 07:08] arunmk commented on #859
Hi @pwittrock , @seans3,

Enhancements Freeze is 2 days away, Feb 9th EOD PST

We are using a [template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template) for KEPs and the README.md in 1.21 and need KEP details to be in the same format as mentioned earlier.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https

[2021-02-08 07:18] arunmk commented on #1295
Hi @deads2k ,

Enhancements Freeze is 2 days away, Feb 9th EOD PST

We are using a [template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template) for KEPs and the README.md in 1.21 and need KEP details to be in the same format as mentioned earlier.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.c

[2021-02-08 07:29] arunmk commented on #1698
Hi @pohly  ,

Enhancements Freeze is 2 days away, Feb 9th EOD PST

This KEP looks good. The only missing item is a PRR file present here: https://github.com/kubernetes/enhancements/tree/master/keps/prod-readiness/sig-storage

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCE

[2021-02-08 07:33] arunmk commented on #2112
Hi @jayunit100,

(Based on the earlier conversation, there may not be a KEP here, but here is an update.)

Enhancements Freeze is 2 days away, Feb 9th EOD PST

We need a KEP for this issue.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-e

[2021-02-08 07:45] arunmk commented on #2232
Hi @adtac

This KEP looks good and I don't see any thing missing. However I am adding this message for the sake of completeness.

Enhancements Freeze is 2 days away, Feb 9th EOD PST.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#exceptions-to-milestone-enhancem

[2021-02-08 08:08] harche commented on #2369
Thanks @JamesLaverack for the reminder.

[2021-02-08 08:19] arunmk commented on #2238
Hi @ehashman

Enhancements Freeze is 2 days away, Feb 9th EOD PST

Enhancements team is aware that KEP update is currently in progress (PE #2241). I do not see a graduation criteria section in the PR and will need some details.

Any enhancements that do not complete the following requirements by the freeze will require an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/E

[2021-02-08 08:20] cezaryzukowski commented on #1769
@jrsapi Hi, we have already filled PRR questionnaire when we prepared KEP for v1.20.

Here is our current questionnaire:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1769-memory-manager#production-readiness-review-questionnaire

Should we update it?

[2021-02-08 08:28] saschagrunert commented on #2413
Hi @annajung, thank you for the reminder, I doubt that this enhancement will make it into the current cycle since we're too close to the deadlines now. This is not a big deal-we can shift the review to this cycle and target implementing it in the next one. WDYT, @mrunalp?

[2021-02-08 08:50] wojtek-t commented on #1698
This is being worked on in: https://github.com/kubernetes/enhancements/pull/1830

[2021-02-08 13:19] soltysh commented on #2227
@jrsapi https://github.com/kubernetes/enhancements/pull/2189 merged on Friday with PRR approved, what else is missing?

[2021-02-08 13:29] cezaryzukowski commented on #1769
@jrsapi Ok, I created PR: https://github.com/kubernetes/enhancements/pull/2456 :)

[2021-02-08 16:01] ankeesler commented on #541
@arunmk - we just had a PR merged that had some PRR stuff in it: https://github.com/kubernetes/enhancements/pull/2275. I believe this should address the `[MISSING]` bit above. Let me know if it does not.

[2021-02-08 16:42] jrsapi commented on #2227
@soltysh  Verified the kep.yaml for PRR. We're good to go. Thanks for your efforts and patience with this new step.

[2021-02-08 17:18] zshihang commented on #2047
this KEP already has test plan.

PRR is merging now

[2021-02-08 17:21] jrsapi commented on #2047
Thanks @zshihang updated the status and will monitor the PRR merge.

[2021-02-08 17:37] ehashman commented on #2238
Done; this was sort of implicit and I have added it explicitly.

[2021-02-08 17:49] ahg-g opened #2458 "A single scoring plugin for node resources"
# Enhancement Description
- One-line enhancement description (can be used as a release note): combine all resource-based scoring scheduling plugins into one, behavior is controlled via a config parameter (`ScoreStrategy`).
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/98746
- Primary contact (assignee): @ahg-g
- Responsible SIGs: sig-scheduli

[2021-02-08 17:54] ahg-g commented on #2458
/sig scheduling

[2021-02-08 17:54] ehashman commented on #1602
@annajung PRR was completed as part of #2430, this is ready to go.

[2021-02-08 17:57] bboreham commented on #1440
I believe the link to https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20191008-kubectl-events.md in the description at the top should be updated to https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1440-kubectl-events.

I may be able to work on an implementation; can you let me know whether anyone else is doing it, and what the best attempt so far has been.

[2021-02-08 18:00] marosset commented on #1981
@annajung is the test plan outlined in updated added PR #2288 sufficient here?

[2021-02-08 18:04] ehashman commented on #2305
I've pinged @logicalhan about getting this added today.

[2021-02-08 18:14] zshihang commented on #542
PRR merged

[2021-02-08 18:17] arunmk commented on #541
@ankeesler yes, that works, thanks! I will update the earlier message itself.

[2021-02-08 18:18] annajung commented on #1981
Yes, once the PR merges in, it will meet all requirements needed for the enhancements freeze.

[2021-02-08 18:24] thockin commented on #2112
Do we need this issue, still?  We have a KEP (https://github.com/kubernetes/enhancements/pull/2162) which is different in scope but solves the problem.

[2021-02-08 18:26] kikisdeliveryservice commented on #625
Linking the updated KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/625-csi-migration

[2021-02-08 18:30] marosset commented on #1981
Thanks for confirming!

[2021-02-08 18:58] spiffxp commented on #2420
Initial draft PR: https://github.com/kubernetes/enhancements/pull/2421

[2021-02-08 19:11] derekwaynecarr commented on #2053
/milestone v1.21

[2021-02-08 19:12] derekwaynecarr commented on #1967
/milestone v1.21

[2021-02-08 19:15] ehashman commented on #2133
https://github.com/kubernetes/enhancements/pull/2457

[2021-02-08 19:32] ehashman commented on #34
I will try to get the KEP doc updated today.

[2021-02-08 19:41] jpbetz commented on #2155
Thanks @annajung The KEP is now merged. The merge includes PRR review and [graduation criteria](https://github.com/jpbetz/enhancements/tree/033617ebc46a41e6f09363928762c297f880f718/keps/sig-api-machinery/2144-clientgo-apply#graduation-criteria). I'll update this PR description with a link to the merged KEP.

[2021-02-08 19:42] ehashman commented on #1209
I believe all concerns in the comment above were addressed in #2431.

[2021-02-08 20:09] msau42 commented on #2317
@jrsapi the kep has merged 6 days ago and has met all the crtieria. Can you confirm there is nothing else we need to do?

[2021-02-08 20:20] arunmk commented on #1698
Thanks @pohly @wojtek-t . I'll update it inline in the comment above.

[2021-02-08 20:24] annajung commented on #2317
With https://github.com/kubernetes/enhancements/pull/2323 merged, this enhancement has met all criteria for the enhancements freeze 👍

[2021-02-08 20:32] amwat opened #2464 "kubetest2 CI migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Migration of presubmit-blocking and release-blocking end-to-end CI jobs to kubetest2
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee): @amwat
- Responsible SIGs: SIG-Testing, SIG-Release
- Enhancement target (which target equals to which milestone):
  - Alpha release targ

[2021-02-08 20:36] arunmk commented on #859
@seans3 @pwittrock thanks for tagging me on PR #2455. It looks good, so I'll update the status above in-place.

[2021-02-08 20:58] annajung commented on #2086
Hi @andrewsykim

**Enhancements Freeze is tomorrow, Feb 9th EOD PST**

Enhancements team is aware that KEP update is currently in progress (PR https://github.com/kubernetes/enhancements/pull/2166). Please make sure PR merges before the freeze. For PRR related questions or to boost the PR for PRR review, please reach out in slack #prod-readiness

Any enhancements that do not complete the following

[2021-02-08 21:17] YoyinZyc commented on #2305
Opened https://github.com/kubernetes/enhancements/pull/2468 to update kep and request for PPR approval.

[2021-02-08 22:21] andrewsykim commented on #2395
/sig cloud-provider
/milestoneo v1.21

[2021-02-08 22:28] andrewsykim commented on #1959
PRR update https://github.com/kubernetes/enhancements/pull/2442

[2021-02-08 22:28] andrewsykim commented on #1864
PRR update https://github.com/kubernetes/enhancements/pull/2066

[2021-02-08 22:29] andrewsykim commented on #1864
/milestone v1.21

[2021-02-08 22:30] BenTheElder opened #2470 "KEP validation seems to be brittle?"
[code]

[Fails](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/enhancements/2465/pull-enhancements-verify/1358879329026576384) on: https://github.com/kubernetes/enhancements/pull/2465
But not on: #2420 related PRs.

IMHO this should not fail for provisional KEPs either, it seems reasonable to introduce a KEP provisionally before seeking PRR (not to mention #2311 / PRR should probably

[2021-02-08 22:34] BenTheElder commented on #2470
assigning per https://github.com/kubernetes/enhancements/blob/e9b84b147ad2d0e8697cb114498763887325283c/OWNERS_ALIASES#L179

[2021-02-08 22:36] xing-yang commented on #2268
Hi @jrsapi,
Thanks for the reminder!  We still need more discussions to figure out some design issues.  So it will not make it in 1.21.

[2021-02-08 22:46] jeremyrickard commented on #2470
@BenTheElder thank you for opening this, and I agree with you.

There is [some work in flight](https://github.com/kubernetes/enhancements/pull/2409) to refactor much of this stuff, that we are planning to land after enhancement freeze.  We'll circle back and review this issue against that and make some additional adjustments to the overall validation as we work through that.

[2021-02-08 23:44] BenTheElder commented on #2420
followup for implementable https://github.com/kubernetes/enhancements/issues/2470

[2021-02-08 23:51] maplain commented on #2086
@annajung KEP update proposed in #2166 is adopted in the implementation: https://github.com/kubernetes/kubernetes/pull/96600

https://github.com/kubernetes/enhancements/pull/2441 adds the PRR.

[2021-02-09 07:59] pohly commented on #1472
@annajung: PRR review was covered by https://github.com/kubernetes/enhancements/pull/1829 which also added the 1472.yaml file.

[2021-02-09 10:35] soltysh commented on #1440
@bboreham thx, updated and I'll be more than happy to see some initial implementation. The previous take from https://github.com/kubernetes/kubernetes/pull/92243 wasn't completed.

[2021-02-09 10:38] soltysh commented on #859
@arunmk all should be merged now :)

[2021-02-09 14:01] annajung commented on #2436
Hi @jiahuif 1.21 Enhancements Lead here, could you clarify which stage this enhancement is graduating to?

Also, is there an open PR to update the current KEP? At the current state, it's at risk of being removed from the milestone for not meeting the PRR requirements.

[`kep.yaml`](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/kep.yaml) and [KEP template](https://gi

[2021-02-09 14:35] xing-yang commented on #1432
Hi @annajung,

The KEP is merged.  Thanks for the reminder!

[2021-02-09 14:39] xing-yang commented on #1432
Note: We are staying at Alpha in 1.21 because the monitoring logic on node is moved from an external agent to Kubelet. A new Alpha feature gate is added.

[2021-02-09 14:52] annajung commented on #1432
Thanks @xing-yang, this enhancement has met all the requirements for the enhancements freeze 👍
tracking as alpha, not beta.

[2021-02-09 14:56] annajung commented on #1847
With PR https://github.com/kubernetes/enhancements/pull/2440 merged, this enhancement has met all the requirements for the enhancements freeze 👍

[2021-02-09 15:54] deads2k commented on #5
This is correct.  We moved deprecation from 1.22 to 1.21 because we know that existing PSP API will not be losslessly backward compatible with a future replacement.  PSP removal is staying at the previously planned 1.25.

[2021-02-09 16:18] jiahuif commented on #2436
- [ ] clarify which stage this enhancement is graduating to: alpha
   - [ ] update in KEP
- [ ] PRR PR.
- [ ] update kep.yaml and KEP to latest template
- [ ] PRR approval
- [ ] rename KEP

[2021-02-09 17:04] palnabarun commented on #2348
/area enhancements

[2021-02-09 17:41] annajung commented on #1295
With PR https://github.com/kubernetes/enhancements/pull/2476 merged in, this enhancement has met all requirements for the enhancements freeze 👍

[2021-02-09 17:41] thockin commented on #2200
Docs merged.

[2021-02-09 18:05] annajung commented on #555
With PR https://github.com/kubernetes/enhancements/pull/2405 merged, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:06] annajung commented on #647
With PR https://github.com/kubernetes/enhancements/pull/2428 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:10] annajung commented on #1959
With PR https://github.com/kubernetes/enhancements/pull/2442 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:12] annajung commented on #2086
With PR https://github.com/kubernetes/enhancements/pull/2441 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:13] annajung commented on #2133
With PR https://github.com/kubernetes/enhancements/pull/2457 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:17] jayunit100 commented on #2112
/close

[2021-02-09 18:17] #2112 closed

[2021-02-09 18:19] ehashman commented on #34
@arunmk this is now good to go for 1.21

[2021-02-09 18:21] BenTheElder commented on #2420
Discussed today in SIG Testing meeting, no concerns there. (this has also been circulated in SIG Testing and Release previously).

[2021-02-09 18:28] annajung commented on #1507
With PR https://github.com/kubernetes/enhancements/pull/2437 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:47] annajung commented on #542
With PR https://github.com/kubernetes/enhancements/pull/2374 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:50] annajung commented on #1472
With PR https://github.com/kubernetes/enhancements/pull/1829 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:50] annajung commented on #1602
With PR https://github.com/kubernetes/enhancements/pull/2430 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 18:57] annajung commented on #2155
With PR https://github.com/kubernetes/enhancements/pull/2419 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 19:04] PurelyApplied commented on #1933
Thanks for the pings, @annajung and @jrsapi.  PRR merged!

I've also have [this old PR for developer documentation update](https://github.com/kubernetes/community/pull/5349) that I plan to revive and push on this week, since I had promised that during the previous release cycle.

[2021-02-09 19:21] karan commented on #2400
@cookieisaac

[2021-02-09 19:28] andrewsykim commented on #1672
@annajung I don't intend to promote this feature to beta in v1.21 and keep it alpha, do you still want it tracked?

[2021-02-09 19:33] annajung commented on #1672
@andrewsykim All enhancements being worked on for v1.21 needs to be tracked and meet the criteria regardless of what stage its being worked for. Is there going to be k/k pr related to this enhancement? If so, enhancements team would need to track it.

[2021-02-09 19:35] annajung commented on #1885
With PR https://github.com/kubernetes/enhancements/pull/2432 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 19:53] annajung commented on #2395
Hi @andrewsykim, even with PR https://github.com/kubernetes/enhancements/pull/2443 merged, you are missing both test plans and graduation criteria. Could you make sure the requirements are added into the KEP before the freeze EOD PST?

[2021-02-09 19:57] bobbypage commented on #2000
Hi @annajung,

https://github.com/kubernetes/enhancements/pull/2472 has been merged which updates the KEP to have a PRR review and also targets the beta for 1.21 milestone. Let me know if anything else is needed. Thanks!

[2021-02-09 20:02] andrewsykim commented on #2395
@annajung that KEP is really old and predates the new template, do you need that updated by EOD today? There are some other KEPs I need to get to and I don't think I'll have time to revisit this one.

[2021-02-09 20:20] annajung commented on #2000
With PR https://github.com/kubernetes/enhancements/pull/2472 merged in, this enhancement has met all the criteria for the enhancements freeze 👍

[2021-02-09 20:22] bridgetkromhout commented on #563
Hi, @JamesLaverack - as we discussed on Slack we have https://github.com/kubernetes/enhancements/pull/2327 (our PRR) merged. I think according to your checklist we should now be listed as `Tracked` for 1.21, though right now I still see us listed as `At Risk`. Thanks.

[2021-02-09 20:24] JamesLaverack commented on #563
HI @bridgetkromhout, Thanks for the notification. I've taken a quick look and with that merged you're correct that you've covered everything. I've updated the 1.21 tracking sheet to be "Tracked" for this enhancement.

[2021-02-09 20:43] BenTheElder commented on #2470
It turns out if it fails to find / parse the file it will just pass :-)
so having `kep.yml` instead of `kep.yaml` makes your `implementable` kep bypass PRR 🙃

[2021-02-09 20:44] annajung commented on #2458
With PR https://github.com/kubernetes/enhancements/pull/2461 merged, this enhancement meets all required criteria for the enhancements freeze 👍

[2021-02-09 20:44] spiffxp commented on #2464
/milestone v1.21

[2021-02-09 20:45] spiffxp commented on #2464
/priority important-soon

[2021-02-09 20:55] annajung commented on #2079
This enhancement has met all the requirements for the enhancement freeze 👍

[2021-02-09 20:55] deads2k commented on #2161
/milestone v1.21
/stage beta

[2021-02-09 21:13] arunmk commented on #34
Thanks @ehashman . I am looking at it now and will update the status in-place.

[2021-02-09 21:26] arunmk commented on #859
Thanks @soltysh . I saw that the KEP had been merged but missed updating the comment I think. Edited in-place now.

[2021-02-09 21:29] arunmk commented on #1295
Thanks @annajung @deads2k

[2021-02-09 22:07] annajung commented on #1748
With PR https://github.com/kubernetes/enhancements/pull/2417 merged, this enhancement meets all the criteria for the Enhancements freeze 👍

[2021-02-09 22:08] jiahuif commented on #2436
/cc @cheftako @jpbetz @andrewsykim @nckturner @leilajal

[2021-02-09 22:08] annajung commented on #1864
With PR https://github.com/kubernetes/enhancements/pull/2066 merged, this enhancement meets all the criteria for the Enhancements freeze 👍

[2021-02-09 22:44] annajung commented on #2161
With PR https://github.com/kubernetes/enhancements/pull/2284 merged, this enhancement meets all the criteria for the Enhancements freeze 👍

[2021-02-09 22:45] annajung commented on #1495
With PR https://github.com/kubernetes/enhancements/pull/2056 merged, this enhancement meets all the criteria for the Enhancements freeze 👍

[2021-02-09 22:59] jiahuif commented on #2436
Status for being "tracked", targeting v1.21 as alpha
- [X] Merged in an implementable state
- [X] Have test plans
- [X] Have graduation criteria
- [X] Have an open issue in the release milestone
 -[X] Have Production Readiness Review (merged as #2477 )

[2021-02-09 23:02] annajung commented on #2436
With PR https://github.com/kubernetes/enhancements/pull/2477 merged, this enhancement meets all the criteria for the Enhancements freeze 👍

[2021-02-09 23:29] annajung commented on #2347
With PR https://github.com/kubernetes/enhancements/pull/2025 merged, this enhancement meets all the criteria for the Enhancements freeze 👍

[2021-02-10 00:04] annajung commented on #1933
With PR https://github.com/kubernetes/enhancements/pull/2473 merged, this enhancement meets all the criteria for the Enhancements freeze 👍

[2021-02-10 00:43] ehashman commented on #2305
@annajung everything should now be addressed.

[2021-02-10 00:47] annajung commented on #2305
With PR https://github.com/kubernetes/enhancements/pull/2468 merged, this enhancement meets all criteria required for the enhancements freeze 👍

[2021-02-10 01:31] annajung commented on #267
Hi @mikedanese @liggitt, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:32] annajung commented on #688
Hi @tallclair, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:33] annajung commented on #837
Hi @andrewsykim, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:34] liggitt commented on #267
Sounds good. sig-auth is focusing on the token feature in 1.21 instead of this

[2021-02-10 01:37] annajung commented on #991
Hi @andrewsykim, with #2436 replacing this issue, can we close out this issue?

/milestone clear

[2021-02-10 01:38] annajung commented on #1281
Hi @cheftako, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:40] annajung commented on #1287
Hi @vinaykul, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:41] annajung commented on #1729
Hi @justaugustus, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:42] annajung commented on #1898
Hi @tallclair, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:43] annajung commented on #2211
Hi @knight42, 1.21 Enhancements Lead here.

I'm clearing the milestone to reflect that this enhancement was not entered into the [tracking sheet](http://bit.ly/k8s121-enhancements) before the enhancements freeze, therefore not opting into the 1.21 release.

/milestone clear

[2021-02-10 01:56] justaugustus commented on #2311
Going with `scope`, as Aaron suggested.
Not ready for review yet, but implementation PR is here: https://github.com/kubernetes/enhancements/pull/2480

[2021-02-10 02:27] BenTheElder commented on #2464
This will be merged implementable momentarily #2479

[2021-02-10 02:55] annajung commented on #213
Hi @krmayankk,

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, your KEP needed to be updated and the PR has not yet merged. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#req

[2021-02-10 02:58] annajung commented on #1669
Hi @andrewsykim ,

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, KEP for this enhancement does not meet all the required criteria. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTION

[2021-02-10 02:59] annajung commented on #1672
Hi @andrewsykim ,

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, KEP for this enhancement does not meet all the required criteria. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTION

[2021-02-10 03:00] annajung commented on #1979
Hi @wlan0 ,

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, KEP for this enhancement does not meet all the required criteria. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#r

[2021-02-10 03:01] annajung commented on #1981
Hi @marosset,

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, your KEP needed to be updated and the PR has not yet merged. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#requ

[2021-02-10 03:02] annajung commented on #2258
Hi @aravindhp,

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, your KEP needed to be updated and the PR has not yet merged. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#req

[2021-02-10 03:03] annajung commented on #2369
Hi @harche, 1.21 Enhancements Lead here

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, your KEP needed to be updated and the PR has not yet merged. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/r

[2021-02-10 03:04] annajung commented on #2371
Hi @haircommander and @bobbypage, 1.21 Enhancements Lead here.

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, your KEP needed to be updated and the PR has not yet merged. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/si

[2021-02-10 03:05] annajung commented on #2395
Hi @andrewsykim

[Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) is now in effect.

Unfortunately, KEP for this enhancement does not meet all the required criteria. If you wish to be included in the 1.21 Release, please submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.

[2021-02-10 03:10] annajung commented on #2413
Hi @saschagrunert,

Thank you for the update! With [Enhancements Freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#enhancements-freeze) now in effect, I will clear the milestone to reflect that this enhancement is not being tracked for 1.21.

If you change your mind and like to be included in the 1.21 Release, please submit an [Exception Request](https://gith

[2021-02-10 13:23] jayunit100 commented on #1981
are we submitting an exception here?

[2021-02-10 13:26] lippertmarkus commented on #1981
@jayunit100 yes, see https://groups.google.com/g/kubernetes-sig-windows/c/eY4cuTsOEa4?pli=1

[2021-02-10 16:53] #2470 closed

[2021-02-10 19:58] johnbelamaric commented on #1783
I am thinking three types:
* Feature
* Process
* Tooling

PRR reviews, for example, would only apply to Feature KEPs.

[2021-02-10 20:15] LappleApple commented on #620
Note: needs someone with process expertise. Looking to assign.

[2021-02-10 21:15] justaugustus commented on #620
cc: @kubernetes/enhancements

[2021-02-10 21:21] justaugustus commented on #2311
From @johnbelamaric in https://github.com/kubernetes/enhancements/issues/1783#issuecomment-776976313:

[2021-02-10 21:23] justaugustus commented on #1783
@johnbelamaric -- Moving the discussion to https://github.com/kubernetes/enhancements/issues/2311, since it's the more lively thread of the two.

(Work already in flight here: https://github.com/kubernetes/enhancements/pull/2480)

/close

[2021-02-10 21:23] #1783 closed

[2021-02-10 21:44] chrishenzie opened #2485 "ReadWriteOncePod PersistentVolume Access Mode"
# Enhancement Description
- One-line enhancement description (can be used as a release note): ReadWriteOncePod PersistentVolume Access Mode
- Kubernetes Enhancement Proposal: [KEP-2485: ReadWriteOncePod PV Access Mode](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2485-read-write-once-pod-pv-access-mode)
- Discussion Link: [CSI community meeting, timestamped at 8m8s when

[2021-02-10 21:53] justaugustus commented on #2239
/assign @johnbelamaric

We've re-enabled PRR enforcement and cleared 1.21 Enhancements Freeze, so closing this out.
/close
ref: https://github.com/kubernetes/enhancements/pull/2240, https://github.com/kubernetes/enhancements/pull/2280, https://github.com/kubernetes/enhancements/pull/2281

[2021-02-10 21:53] #2239 closed

[2021-02-10 22:19] ehashman commented on #1602
@serathius can you update the first comment with the graduation criteria outlined here? https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging#beta

I am going to file an issue in k/k for the static analysis tool and send an email about the wider effort this release.

[2021-02-10 22:55] justaugustus commented on #2283
Looking into this as part of https://github.com/kubernetes/enhancements/issues/2283.

/assign
/sig architecture
/area enhancements

[2021-02-10 22:58] justaugustus commented on #617
@kubernetes/enhancements -- spoke w/ Lauri earlier and I think we should:
- define exit criteria
- get this closed out
- open tracking issues/additional enhancements for future improvements e.g, https://github.com/kubernetes/enhancements/issues/2348, https://github.com/kubernetes/enhancements/issues/2311

Sound good?
/remove-lifecycle rotten

[2021-02-11 09:23] wojtek-t commented on #2220
The missing remaining itmes:

sig-apimachinery:
- /20200309-consistent-resource-versions-semantics   [requires creating an issue]

sig-cloud-provider:
- 3 cloud-provider KEPS (alibaba, baiducloud, huaweicloud)

sig-cluster-lifecycle:
- a bunch of stuff

sig-instrumentation:
- /1209-metrics-stability - [requires a bit of cleanup]

sig-network:
-  #2446 addresses most
- node-local-dns needs to be me

[2021-02-11 14:22] alculquicondor commented on #2305
ref kubernetes/kubernetes#97208

I have a couple of suggestions for extensions:
- Can we generalize the proposal to allow for mapping? That is, instead of replacing the value with "unknown", allowing configurable renaming, maybe with numeric intervals or regex.
- Make this configurable via component configs, as a CLI arg would be harder to maintain.

[2021-02-11 14:55] shekhar-rajak commented on #2220
- I need clarification for "sig-cluster-lifecycle". I see directories and sub-directories. Should we just remove the sub-directories under the "sig-cluster-lifecycle" and follow the same pattern as others ?

- Same for sig-instrumentation /1209-metrics-stability directory

[2021-02-11 15:22] wojtek-t commented on #2220
No - this splits it to kind of "subprojects". We should basically put the new templates there, e.g. there will be
/sig-cluster-lifecycle/kubeadm/12345-kep-title/(first kep)
/sig-cluster-lifecycle/kubeadm/23466-kep-title/(second kep)

Let's leave it for now - I will handle it later.

[2021-02-11 16:31] serathius commented on #1602
Done

[2021-02-11 19:29] kikisdeliveryservice commented on #2311
I think Feature/Process/Tooling is broad enough to cover most keps and specific enough to put them all in an appropriate general bucket. :+1:

[2021-02-11 19:35] kikisdeliveryservice commented on #2435
@JaneLiuL please update with a discussion link as we request that keps are discussed with the relevant SIG before opening an issue/kep.

[2021-02-11 19:52] kikisdeliveryservice commented on #2273
Hi @vinaykul !

Enhancements freeze has passed and this KEP is not tracked/was not opted in.  You'll need to discuss with the sponsoring SIGs and if they agree, submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md#requesting-an-exception) ASAP to be included in the 1.21 release.

cc: @annajung

[2021-02-11 21:34] msau42 commented on #1491
/reopen
/lifecycle frozen

This is still ongoing, no changes to the feature in this release, however a deprecation notice will be sent out for certain features and environments. https://github.com/kubernetes/kubernetes/pull/98546

[2021-02-11 23:38] justaugustus commented on #2311
So the current ideas are:
- `in-tree`
- `out-of-tree`
- `policy`

And:
- `feature`
- `process`
- `tooling`

Thinking from the "people --> process --> tools" standpoint...
`process` should give way to `tooling`; they're not separate.

More importantly, the people are always the first concern.

Success here is getting a clear indication of who needs to action on something, so to me, at a baseline, t

[2021-02-12 10:08] KlavsKlavsen commented on #360
Where did this end up? Did you all go some other way than KOPS? using kubeadm for manual roll up on bare-metal instead, or ?

[2021-02-12 10:45] wojtek-t commented on #1412
https://github.com/kubernetes/website/pull/26477 opened for documentation

[2021-02-12 11:13] wojtek-t commented on #2220
@shekhar-rajak - if would be able to help with cluster-lifecycle, cloud-provider and api-machinery remaining ones it would be huge help - I will handle the remaining networking and instrumentaiton one.

[2021-02-12 17:45] shekhar-rajak commented on #2220
Sure @wojtek-t , I will work on it.

[2021-02-12 17:57] shekhar-rajak opened #2492 "Addons via Operators"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Addons via Operators
- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/addons/2492-Addons-via-Operators

[code]

- Discussion Link:
- Primary contact (assignee): @justinsb
- Responsible SIGs:  sig-cluster-lifecycle
- Enhancement target (wh

[2021-02-12 18:01] shekhar-rajak commented on #2492
Migrating all the old template keps to new template : #2493

[2021-02-12 18:02] shekhar-rajak opened #2494 "Manifest Bundle"
# Enhancement Description
- One-line enhancement description (can be used as a release note):Manifest Bundle
- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/addons/2494-Manifest-Bundle
[code]

- Discussion Link:
- Primary contact (assignee): @ecordell
- Responsible SIGs: sig-cluster-lifecycle
- Enhancement target (which target eq

[2021-02-12 18:02] shekhar-rajak commented on #2494
Migrating all the old template keps to new template : #2493

[2021-02-12 18:05] shekhar-rajak opened #2495 "Kubernetes Cluster Management API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubernetes Cluster Management API
- Kubernetes Enhancement Proposal:

[code]

- Discussion Link:
- Primary contact (assignee): @roberthbailey @pipejakob
- Responsible SIGs: sig-cluster-lifecycle
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release

[2021-02-12 18:05] shekhar-rajak commented on #2495
Migrating all the old template keps to new template : #2493

[2021-02-12 18:07] shekhar-rajak opened #2496 "etcdadm"
# Enhancement Description
- One-line enhancement description (can be used as a release note): etcdadm
- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/etcdadm/2496-etcdadm
[code]

- Discussion Link:
- Primary contact (assignee): @justinsb
- Responsible SIGs: sig-cluster-lifecycle
- Enhancement target (which target equals to which

[2021-02-12 18:07] shekhar-rajak commented on #2496
Migrating all the old template keps to new template : #2493

[2021-02-12 18:10] shekhar-rajak opened #2497 "Kubernetes Image Builder"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubernetes Image Builder
- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/image-builder/2497-Kubernetes-Image-Builder
[code]

- Discussion Link:
- Primary contact (assignee): @timothysc @moshloop
- Responsible SIGs: sig-cluster-lifecycle

[2021-02-12 18:10] shekhar-rajak commented on #2497
Migrating all the old template keps to new template : #2493

[2021-02-12 18:15] shekhar-rajak opened #2498 "Kubeadm Config versioning"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubeadm Config versioning
- Kubernetes Enhancement Proposal:

Kubeadm uses MasterConfiguraton for two distinct but similar operations: Initialising a new cluster and upgrading an existing cluster.
The former is typically created by hand by an administrator.
It is stored on disk and passed to `kubeadm init

[2021-02-12 18:17] shekhar-rajak commented on #2498
Migrating all the old template keps to new template : #2499

[2021-02-12 18:19] shekhar-rajak opened #2500 "kubeadm join --control-plane workflow"
# Enhancement Description
- One-line enhancement description (can be used as a release note): kubeadm join --control-plane workflow
- Kubernetes Enhancement Proposal:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/2500-kubeadm-join-control-plane-workflow

[code]

- Discussion Link:
- Primary contact (assignee): @fabriziopandini
- Responsible SIGs: sig-cl

[2021-02-12 18:19] shekhar-rajak commented on #2500
Migrating all the old template keps to new template : #2499

[2021-02-12 18:21] shekhar-rajak opened #2501 "kubeadm phases to beta"
# Enhancement Description
- One-line enhancement description (can be used as a release note): kubeadm phases to beta
- Kubernetes Enhancement Proposal:
[code]

- Discussion Link:
- Primary contact (assignee): @fabriziopandini
- Responsible SIGs: sig-cluster-lifecycle
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - St

[2021-02-12 18:23] shekhar-rajak commented on #2501
Migrating all the old template keps to new template : #2499

[2021-02-12 18:23] olemarkus commented on #360
As kOps maintainer, I can at least say that there is no active project to support bare-metal anymore. And the code we once had going in that direction was obsolete and removed.
I think it is unlikely that we will support anything that doesn't come with a form of cloud-like infrastructure (e.g we do support OpenStack)

[2021-02-12 18:24] shekhar-rajak opened #2502 "Certificates copy for join --control-plane"
parent issue: https://github.com/kubernetes/enhancements/issues/2500

# Enhancement Description
- One-line enhancement description (can be used as a release note): Certificates copy for join --control-plane
- Kubernetes Enhancement Proposal:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/2502-Certificates-copy-for-join-control-plane

the same `kubeadm in

[2021-02-12 18:24] shekhar-rajak commented on #2502
Migrating all the old template keps to new template : #2499

[2021-02-12 18:27] shekhar-rajak opened #2503 "Artifact Generation"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Artifact Generation
- Kubernetes Enhancement Proposal:

Implementation of a standard, community supported and maintained process of generating and building rpm and deb packages.

## Motivation

Today, the tooling used to build kubernetes packages is separate from kubernetes itself. This can cause downstre

[2021-02-12 18:27] shekhar-rajak commented on #2503
Migrating all the old template keps to new template : #2499

[2021-02-12 18:29] shekhar-rajak opened #2504 "kubeadm-machine-output"
# Enhancement Description
- One-line enhancement description (can be used as a release note): kubeadm-machine-output
- Kubernetes Enhancement Proposal:

## Summary

Kubeadm should support structured output, such as JSON, YAML, or a [Go template](https://golang.org/pkg/text/template/).

## Motivation

While Kubernetes may be deployed manually, the de facto, if not de jure, means of turning up a Kub

[2021-02-12 18:31] shekhar-rajak commented on #2504
Migrating all the old template keps to new template : #2499

[2021-02-12 18:31] shekhar-rajak opened #2505 "Kubeadm operator"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Kubeadm operator
- Kubernetes Enhancement Proposal:

## Summary

Kubeadm operator would like to enable declarative control of kubeadm workflows, automating the execution and the
orchestration of such tasks across existing nodes in a cluster.

## Motivation

Kubeadm binary can execute operations only on th

[2021-02-12 18:34] shekhar-rajak opened #2506 "Remove ClusterStatus from kubeadm-config"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Remove ClusterStatus from kubeadm-config
- Kubernetes Enhancement Proposal:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/2506-Remove-ClusterStatus-from-kubeadm-config

## Summary

This KEP is proposing a new mode for tracking the list of the API endpoints in a

[2021-02-12 18:34] shekhar-rajak commented on #2506
Migrating all the old template keps to new template : #2499

[2021-02-12 21:45] neolit123 commented on #2220
one problem here is that all tracking issues get detached from the KEP locations. i can try updating the SIG CL tracking issues next week.

another problem is that KEP cross-ref links get broken.
i don't think we have many of these in SIG CL, but other SIGs might have them.

[2021-02-12 22:53] frittentheke commented on #423
/remove-lifecycle stale

[2021-02-13 14:21] neolit123 commented on #2501
this feature is GA at this point so we can close this ticket.

[2021-02-13 14:21] #2501 closed

[2021-02-13 14:23] neolit123 commented on #2498
this proposal was only about how to versioning the config.
it was accepted and does not follow the alpha/beta/ga model.

so we can close this issue.

[2021-02-13 14:23] #2498 closed

[2021-02-13 14:26] neolit123 commented on #2495
we can close this ticket as the original proposal was "accepted".

[2021-02-13 17:06] wojtek-t commented on #2220
i don't think we have many of these in SIG CL, but other SIGs might have them.

If needed, we can add symlinks to the new locations (there are a few for other SIGs).

[2021-02-13 17:23] serathius opened #2508 "Custom metrics support in kubectl top"
# Enhancement Description
- One-line enhancement description (can be used as a release note): **Custom metrics support in kubectl top**
- Kubernetes Enhancement Proposal:
- Discussion Link: https://youtu.be/mB-Q-VZbnfw
- Primary contact (assignee): @serathius
- Responsible SIGs: **sig-cli, sig-instrumentation**
- Enhancement target (which target equals to which milestone):
  - Alpha release target

[2021-02-13 17:40] serathius commented on #2508
/sig cli

[2021-02-15 00:31] benhxy opened #2510 "New field in WebhookClientConfig for to add bearer token in outgoing webhook requests."
# Enhancement Description
- One-line enhancement description (can be used as a release note): New field in WebhookClientConfig for to add bearer token in outgoing webhook requests.
- Kubernetes Enhancement Proposal: #2512
- Discussion Link:
  - https://github.com/kubernetes/enhancements/pull/658
- Primary contact (assignee):
- Responsible SIGs: sig-auth
- Enhancement target (which target equals to

[2021-02-15 00:32] benhxy commented on #2510
/sig auth

[2021-02-16 04:06] ravilr commented on #542
@zshihang / @liggitt  BoundServiceAccountTokenVolume graduating to beta in v1.21 will only affect in-cluster clients using SA token right?
what about cluster external clients using legacy Secret based SA tokens for token based apiserver auth ?  Are these also targetted to be migrated to time-bound tokens eventually (can't be pod bound as they're being used external systems outside of the cluster)

[2021-02-16 13:23] liggitt commented on #542
Correct, the 1.21 graduations only modify behavior for pod-injected credentials. Improving secret-based credentials would likely involve two subsequent changes:
* switch the tokens placed into Secret objects to use tokens bound to those Secret objects (bound tokens can reference a secret instance instead of a pod instance)
* let service accounts opt out of auto-generated Secret-based tokens

[2021-02-16 19:45] johnbelamaric commented on #2311
Are, for example, build scripts `in-tree` or `out-of-tree`? Or `process`? What about things like `kepctl`? From the "tooling is subsumed by process" they would be process changes, I guess. But that really doesn't seem clear to me; I tend to think of `process` of not having any code attached, but maybe that's just too narrow of a view?

[2021-02-16 20:45] kikisdeliveryservice commented on #620
/assign

[2021-02-16 22:36] annajung commented on #542
Hi @zshihang

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-16 22:43] annajung commented on #555
Hi @apelisse

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-c

[2021-02-16 22:46] annajung commented on #1904
Hi @wojtek-t

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/new-

[2021-02-16 22:46] annajung commented on #1959
Hi @andrewsykim

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/n

[2021-02-16 22:47] annajung commented on #2053
Hi @derekwaynecarr

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribut

[2021-02-16 22:48] annajung commented on #2086
Hi @andrewsykim

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/n

[2021-02-16 22:48] annajung commented on #2133
Hi @andrewsykim

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/n

[2021-02-16 22:50] annajung commented on #2395
Hi @andrewsykim

Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:

* Tuesday, March 9th: Week 9 - Code Freeze
* Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
    * If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](https://kubernetes.io/docs/contribute/n

[2021-02-16 22:56] johnbelamaric commented on #1194
This has been implemented: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1194-prod-readiness

/close

[2021-02-16 22:56] #1194 closed

[2021-02-16 23:01] annajung commented on #1020
Hey @soltysh, a friendly reminder to update the `kep.yaml` to close this issue out. thanks!

[2021-02-17 02:32] #2200 closed

[2021-02-17 16:18] soltysh commented on #1020
@annajung just updated, see linked PR where I also tagged you.

[2021-02-17 16:28] annajung commented on #1020
Looks like it was just merged! Thank you @soltysh
closing out this issue now since this enhancement is complete.

/close

[2021-02-17 16:28] #1020 closed

[2021-02-17 19:15] kikisdeliveryservice opened #2517 "[Enhancements Repo Documentation] Create Glossary"
- [ ] create GLOSSARY.md in https://github.com/kubernetes/enhancements

- [ ] Add list of frequently used enhancement related terms and link to relevant pages where necessary:
- Example: KEP, Exceptions, Code Freeze, Enhancements Freeze, PRR, API Review, etc...
- List to be iterated upon in the future, goal is to capture most used terms

- [ ] Link Glossary to ReadMe.md

Related-to: #620

_Please

[2021-02-17 19:18] kikisdeliveryservice opened #2518 "[Enhancement Repo Documentation]: PR Template"
- [ ] Create pull_request_template.md in the k/enhancements root directory

- [ ] Fields:

- KEP-< Issue Number >: < KEP NAME >
- Description of PR : example updating milestone, add new KEP, adding test requirements…
- NOTE TO TITLE PR WITH < Issue Number >: brief description
- Example: KEP-000: adding beta graduation requirements

Related-to: #620

_Please keep this description up to date. This w

[2021-02-17 19:19] kikisdeliveryservice opened #2519 "[Enhancements Repo Documentation] Exceptions Process"
Link Exceptions Process

- [ ] Add a sentence to Enhancements Tracking Sheet: https://github.com/kubernetes/enhancements/blob/master/README.md#enhancements-tracking-spreadsheet linking to the current release page: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.21

- [ ] Add a sentence about filing an exception with a link to https://github.com/kubernetes/sig-release/blob/

[2021-02-17 19:22] kikisdeliveryservice commented on #2088
Closing this as it's superceded by our Glossary Card:
https://github.com/kubernetes/enhancements/issues/2517

and also addressed by: https://github.com/kubernetes/enhancements/pull/898

[2021-02-17 19:22] #2088 closed

[2021-02-17 19:28] kikisdeliveryservice commented on #620
This card will be closed by the following:

- [ ] https://github.com/kubernetes/enhancements/issues/2517
- [ ] https://github.com/kubernetes/enhancements/issues/2518
- [ ] https://github.com/kubernetes/enhancements/issues/2519

@LappleApple Can you please move these cards to the enhancements subproject board (I don't have permissions)?

[2021-02-17 19:45] LappleApple commented on #620
Sure can :)

[2021-02-17 19:46] LappleApple commented on #620
Done @kikisdeliveryservice

[2021-02-17 19:54] wojtek-t commented on #1412
kubernetes/website#26477 has merged

This is now both:
- code-complete
- documentation complete

[2021-02-17 20:13] wojtek-t commented on #2220
There are just few more:
[code]

[2021-02-17 20:17] annajung commented on #1412
Hi @wojtek-t

With code/doc complete, if you update the `kep.yaml` to reflect a status of `implemented`, we can also close out this issue. https://github.com/kubernetes/enhancements/blob/abb8d604e4cfe4c64179bbeea0ab5de80e22a87a/keps/sig-storage/1412-immutable-secrets-and-configmaps/kep.yaml#L10

[2021-02-17 20:20] wojtek-t commented on #1412
Let's wait until code-freeze to ensure nothing will get reverted. And I will do that.

[2021-02-18 17:13] hbagdi commented on #2365
/assign

[2021-02-18 18:56] jrsapi commented on #2436
Greetings @jiahuif
1.21 Enhancement shadow checking in. Since your Enhancement is scheduled to be in 1.21, please keep in mind the important upcoming dates:
• Tuesday, March 9th: Week 9 - Code Freeze
• Tuesday, March 16th: Week 10 - Docs Placeholder PR deadline
   • If this enhancement requires new docs or modification to existing docs, please follow the steps in the [Open a placeholder PR doc](ht