[2022-02-03 22:33] rhockenbury commented on #3136
Thanks! All set for enhancements freeze. 🚀

[2022-02-03 22:39] rhockenbury commented on #2268
With #1116 merged, I've marked this as `tracked` for enhancement freeze.

[2022-02-04 00:04] gracenng commented on #284
Hi @gnufied , this enhancements is misssing a graduation criteria and a test plan

[2022-02-04 00:06] gracenng commented on #688
All good for 1.24 Enhancements Freeze

[2022-02-04 00:12] gracenng commented on #1972
Hi @SergeyKanzhelev , you mentioned PRR and got PRR approval in the PR but did not include a PRR file

[2022-02-04 00:14] gracenng commented on #2535
All good to go for 1.24 Enhancement Freeze :)

[2022-02-04 00:16] gracenng commented on #2896
All good for 1.24 Enhancements Release

[2022-02-04 00:17] BenTheElder commented on #2464
@SergeyKanzhelev amwat moved on before your comment and doesn't work in Kubernetes anymore. I don't know who can take up the remainder yet.

[2022-02-04 00:18] gracenng commented on #3130
All good for 1.24 Enhancements Freeze

[2022-02-04 00:19] gracenng commented on #3141
All good for 1.24 Enhancements Freeze

[2022-02-04 01:08] Priyankasaggu11929 commented on #2436
With KEP PR https://github.com/kubernetes/enhancements/pull/3183 merged now, this enhancement is ready for the 1.24 enhancements freeze. 🚀

For note, the status is `tracked` now.

[2022-02-04 01:12] Priyankasaggu11929 commented on #2804
With KEP PR https://github.com/kubernetes/enhancements/pull/2833 merged now, this enhancement is ready for the 1.24 enhancements freeze. 🚀

For note, the status is `tracked` now in tracking sheet. Thank you!

[2022-02-04 01:13] BenTheElder commented on #2420
filed https://github.com/kubernetes/enhancements/pull/3209, we can follow up with any additional minor cleanup.

[2022-02-04 01:15] Priyankasaggu11929 commented on #2887
With KEP PR https://github.com/kubernetes/enhancements/pull/3184 merged now, this enhancement is ready for 1.24 enhancements freeze! 🚀

For note, the status is `tracked` now in the 1.24 tracking sheet. Thank you!

[2022-02-04 01:20] gnufied commented on #284
@gracenng oops sorry,  I will fill it up. But, this enhancement is old (5 yr) and predates KEP format and hence I had to bring old design to KEP format and then add PRR and stuff. I will fix it.

[2022-02-04 02:06] gracenng commented on #281
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2022-02-04 02:06] gracenng commented on #281
/milestone clear

[2022-02-04 02:08] gracenng commented on #284
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:08] gracenng commented on #661
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:10] gracenng commented on #1432
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:13] gracenng commented on #1972
The Enhancements Freeze is now in effect and this enhancement is removed from the release. **Please create a PRR file**
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:15] gracenng commented on #2091
The Enhancements Freeze is now in effect and this enhancement is removed from the release. Status must be `implementable` instead of `provisional`
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:16] gracenng commented on #2681
The Enhancements Freeze is now in effect and this enhancement is removed from the release. Missing PRR for `beta` stage
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:16] gracenng commented on #2823
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:17] gracenng commented on #2837
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:17] gracenng commented on #2839
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:18] gracenng commented on #2872
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:20] gracenng commented on #2876
The Enhancements Freeze is now in effect and this enhancement is removed from the release. Missing `beta` PRR
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:21] gracenng commented on #3063
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:21] gracenng commented on #3085
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

/milestone clear

[2022-02-04 02:22] gracenng commented on #3162
The Enhancements Freeze is now in effect and this enhancement is removed from the release.
Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2022-02-04 02:25] gracenng commented on #2086
Hey @andrewsykim , this enhancement was not tracked by the enhancement tracking sheet and freeze now in effect. hence, it is not part of the release going forward

Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2022-02-04 03:40] andrewsykim commented on #2086
@gracenng the KEP PR is already approved here https://github.com/kubernetes/enhancements/pull/3199, just waiting PRR review, do you still need an exception for this?

Either way, we don't plan to promote this feature to GA in v1.24 so I don't think it needs to be tracked anyways.

[2022-02-04 03:41] andrewsykim commented on #2086
(it would still be good to merge https://github.com/kubernetes/enhancements/pull/3199 though, so we have alignment on what progress we do want to make in v1.24)

[2022-02-04 06:50] #2420 closed

[2022-02-04 06:50] BenTheElder commented on #2420
@gracenng sorry for the delay, this is done!

[2022-02-04 08:13] wojtek-t commented on #2681
@gracenng - this isn't targetted for beta, this is targetted for Alpha (so the KEP seem to be ok).

[2022-02-04 13:35] verb commented on #1441
Hi @johnbelamaric, :+1: I've reviewed the PRR questions to confirm that nothing will change with what we have planned. FYI, it's the same basic functionality, just an additional flag to tweak the config of the pods we're generating, and it will be backwards compatible.

[2022-02-04 17:16] astoycos commented on #2091
Just sent out the exception, and the PR is here ^ , Sorry about that mistake @gracenng

[2022-02-04 19:02] wongma7 commented on #1487
Intend now to go GA in 1.25 instead of 1.24: https://github.com/kubernetes/enhancements/pull/3213. THX

[2022-02-04 20:16] andrewsykim commented on #2395
/reopen

[2022-02-04 20:57] SergeyKanzhelev commented on #281
@gracenng can you please help me understand what was missing here? latest-milestone was updated in this PR: https://github.com/kubernetes/enhancements/pull/3208 All approvals were received. Is there anything else missing?

[2022-02-04 21:02] SergeyKanzhelev commented on #1972
@gracenng at this stage it is just a formality? What file should I add? This PR adding the PRR questioner was approved by @johnbelamaric https://github.com/kubernetes/enhancements/pull/3201

[2022-02-04 22:40] gracenng commented on #281
Hi @SergeyKanzhelev,
I didnt see the it merged yesterday. Updated in sheet to `tracked` now

[2022-02-04 22:45] gracenng commented on #1487
/milestone clear

[2022-02-04 22:47] gracenng commented on #1972
Hi @SergeyKanzhelev , you are missing a PRR file to document the approval (see [examples](https://github.com/kubernetes/enhancements/tree/master/keps/prod-readiness/sig-storage))

[2022-02-04 23:51] SergeyKanzhelev commented on #281
Thank you! can you please re-apply the milestone please?

[2022-02-05 06:24] MikeSpreitzer opened #3215 "APF KEP does not describe priority levels that reject instead of queue"
A non-exempt priority level declares that it will use one of two methods to handle requests that can not be dispatched immediately: queue them, or reject them immediately.  The latter choice is not described in https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1040-priority-and-fairness

[2022-02-05 06:25] MikeSpreitzer commented on #3215
/sig api-machinery

[2022-02-05 06:25] MikeSpreitzer commented on #3215
@tkashem
@wojtek-t
@deads2k
@lavalamp

[2022-02-06 00:55] yxxhero opened #3217 "Export relistThreshold as kubelet cmd arg"
### Enhancement Description

- One-line enhancement description (can be used as a release note): export relistThreshold as kubelet cmd arg
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3216
- Discussion Link:
- Primary contact (assignee): @yxxhero
- Responsible SIGs: sig/node
- Enhancement target (which target equals to which milestone):
  - Alpha release targ

[2022-02-06 00:55] yxxhero commented on #3217
/sig node

[2022-02-06 00:56] yxxhero commented on #3217
/sig api-machinery

[2022-02-07 08:24] #2639 closed

[2022-02-07 10:53] pierluigilenoci commented on #2021
/remove-lifecycle stale

[2022-02-07 17:23] gracenng commented on #281
No exception required, status is now `tracked`

[2022-02-08 14:14] rufreakde opened #3219 "Enable spec.containers.volumeMounts.prefix support to keep functionality consistent for configMaps consumption e.g. spec.containers.envFrom.prefix"
### Enhancement Description

- One-line enhancement description (can be used as a release note):

- Kubernetes Enhancement Proposal:

- Discussion Link:

- Primary contact (assignee):

- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancem

[2022-02-08 14:18] rufreakde commented on #3219
/sig API Machinery
/wg API Expression

[2022-02-08 14:21] rufreakde commented on #3219
/sig api-machinery
/wg api-expression

[2022-02-09 00:34] fvoznika commented on #2413
I have a question regarding the default seccomp profile for different runtimes. Unlike `runc`, containers using runtimes like gVisor or Kata do not require container-level seccomp to protect the host. So when deciding to enable seccomp rules by default, the runtime where the container is going to run should determine what rules to use. Currently there is an option called `RuntimeDefault`, but it's

[2022-02-09 08:24] saschagrunert commented on #2413
@fvoznika Thank you for bringing up the discussion!

How would that look like from an API perspective?

From my point of view, the container runtime has every information they need to either apply a default profile or decide that based on the `RuntimeClass`. Which benefit would we have to add this additional information on the Kubernetes side?

[2022-02-09 09:12] sftim commented on #2413
It'd be useful to be able to specify a cluster-default (or something-default) RuntimeClass, but that's a separate change from graduating _this_ seccomp-specific improvement. I'm sure there's an issue somewhere about having a default RuntimeClass; several different things that are hard to do become possible when there is one.

[2022-02-10 00:36] fvoznika commented on #2413
@saschagrunert,
In terms of configuration, I think it can be specified like other fields in the RuntimeClass definition, e.g. scheduling,
[code]
In the case of gVisor, `seccompProfile.type` would be set to `Unconfined`.

The benefit to add this to Kubernetes is to make the integration between RuntimeClass and Seccomp (both K8s concepts) first class. By delegating this to the container runtime, the

[2022-02-10 00:48] jeremyrickard commented on #2906
/remove-lifecycle rotten

[2022-02-10 02:12] roycaihw commented on #1965
/remove-lifecycle rotten

[2022-02-10 02:12] roycaihw commented on #1965
/remove-lifecycle stale

[2022-02-10 08:44] thesuperzapper commented on #3189
For those watching, I have raised a proposal for the "Downscale Pod Picker" API to be implemented in the [OpenKruise](https://openkruise.io/) project in the same way as [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189). Hopefully, this will get this sorely needed feature into user's hands sooner.

See the proposal here: https://github.com/openkruise/kruise/issues/902

[2022-02-10 17:08] gnufied commented on #284
This issue still has "tracked: no". @gracenng is this expected?

[2022-02-11 12:47] palnabarun opened #3221 "Structured Authorization Configuration"
### Enhancement Description

- One-line enhancement description: Adds ability to structure configuring authorizers and add multiple webhooks to the kube-apiserver authorization chain
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/3221-structured-authorization-configuration
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/10

[2022-02-11 15:59] xing-yang commented on #1979
/remove-lifecycle rotten

[2022-02-11 16:27] xing-yang commented on #3141
@gracenng Should this have a Tracked/Yes label?

[2022-02-11 16:28] xing-yang commented on #2644
@encodeflush The KEP is merged and on track for 1.24.  Can you add Tracked/Yes label?

[2022-02-11 18:46] chrisnegus commented on #3130
Hi @aramase 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March

[2022-02-11 18:51] chrisnegus commented on #3077
Hi @pohly 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March 3

[2022-02-11 19:00] heyleke commented on #2214
Not sure if this is the right place to ask, but we noticed in the docs following comment:

Can it be clarified why that note is needed? And if the pod is started, will it run to completion, or aborted before running or ... ?

[2022-02-11 19:08] chrisnegus commented on #3031
Hi @saschagrunert  👋 1.24 Docs shadow here.

Thanks for getting the docs placeholder PR for this KEP created so early in the process! The next deadline for 1.24 is to have the PR ready for review by **Tuesday April 5, 11:59 PM PDT**.

Thanks!

[2022-02-11 19:08] alculquicondor commented on #2214
Can you open an issue in github.com/kubernetes/website? We can clarify that it will be aborted.

[2022-02-11 19:23] chrisnegus commented on #2831
Hi @sallyom 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March

[2022-02-11 19:27] chrisnegus commented on #2799
Hi @zshihang 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Marc

[2022-02-11 19:31] chrisnegus commented on #2784
Hi @enj 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March 31,

[2022-02-11 19:50] chrisnegus commented on #2551
Hi @rikatz 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March

[2022-02-11 19:56] chrisnegus commented on #2436
Hi @jiahuif 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March

[2022-02-11 20:52] chrisnegus commented on #1959
Hi @andrewsykim 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu M

[2022-02-11 21:02] chrisnegus commented on #647
Hi @dashpole 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Marc

[2022-02-11 21:08] chrisnegus commented on #1441
Hi @verb 👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March 31

[2022-02-11 21:40] chrisnegus commented on #2845
Hi @pohly and @serathius  👋 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created befo

[2022-02-12 05:01] mehabhalodiya commented on #961
Hi @krmayankk 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Ma

[2022-02-12 05:04] mehabhalodiya commented on #1164
Hi @wojtek-t 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Mar

[2022-02-12 05:05] mehabhalodiya commented on #1904
Hi @wojtek-t 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Mar

[2022-02-12 05:07] mehabhalodiya commented on #2214
Hi @alculquicondor 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **T

[2022-02-12 05:09] mehabhalodiya commented on #2232
Hi @adtac 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March

[2022-02-12 05:11] mehabhalodiya commented on #2804
Hi @ravisantoshgudimetla 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created befo

[2022-02-12 05:15] mehabhalodiya commented on #2885
Hi @kevindelgado 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu

[2022-02-12 05:16] mehabhalodiya commented on #2887
Hi @jiahuif 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Marc

[2022-02-12 05:17] mehabhalodiya commented on #2896
Hi @Jefftree 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Mar

[2022-02-12 05:18] mehabhalodiya commented on #3017
Hi @mortent 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Marc

[2022-02-12 05:20] mehabhalodiya commented on #3136
Hi @deads2k 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Marc

[2022-02-12 05:21] mehabhalodiya commented on #3140
Hi @soltysh 👋🏻 1.24 Docs shadow here.

This enhancement is marked as 'Needs Docs' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu Marc

[2022-02-13 18:45] didicodes commented on #1490
Hi @andyzhangx, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thu

[2022-02-13 18:56] didicodes commented on #1491
Hi @divyenpatel & @xing-yang, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be create

[2022-02-13 18:58] didicodes commented on #1495
Hi @bswartz, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thursd

[2022-02-13 19:05] didicodes commented on #1710
Hi @jsafrane, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thurs

[2022-02-13 19:09] didicodes commented on #1885
Hi @andyzhangx & @Priyankasaggu11929, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must b

[2022-02-13 19:09] didicodes commented on #1790
Hi @gnufied, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thursd

[2022-02-13 19:12] didicodes commented on #2268
Hi @yastij, @xing-yang, & @rhockenbury, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must

[2022-02-13 19:20] didicodes commented on #3141
Hi @xing-yang & @RaunakShah, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created

[2022-02-13 19:20] didicodes commented on #3107
Hi @humblec, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thursd

[2022-02-13 19:21] didicodes commented on #2924
Hi @humblec, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thursd

[2022-02-13 19:21] didicodes commented on #2923
Hi @humblec, 1.24 Docs shadow here. 👋

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thursd

[2022-02-14 03:25] denkensk commented on #902
All pr for GA have been merged.

[2022-02-14 23:02] nate-double-u commented on #3070
Hi @aojea :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thursd

[2022-02-14 23:05] nate-double-u commented on #2593
Hi @rahulkjoshi :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **

[2022-02-14 23:07] nate-double-u commented on #2438
Hi @danwinship :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **T

[2022-02-14 23:09] nate-double-u commented on #2400
Hi @ehashman :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thu

[2022-02-14 23:40] nate-double-u commented on #2371
Hi @haircommander :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before

[2022-02-14 23:46] nate-double-u commented on #2221
Hi @SergeyKanzhelev :wave: 1.24 Docs lead here.

Usually, I'd reach out to KEP owners with the following message:

In this case, however, as there is a lot of documentation to be changed and updated, I'll share the [project board](https://github.com/orgs/kubernetes/projects/67), and the [#sig-docs dockershim project community meeting](https://docs.google.com/document/d/1MyTjtTKs75ZGmsvYy7-xzDV5b8o

[2022-02-15 00:27] nate-double-u commented on #2091
Hi @abhiraut :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thu

[2022-02-15 00:28] nate-double-u commented on #2008
Hi @adrianreber :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **

[2022-02-15 00:38] nate-double-u commented on #281
Hi @SergeyKanzhelev :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created befor

[2022-02-15 00:43] nate-double-u commented on #688
Hi @egernst :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Thur

[2022-02-15 00:51] nate-double-u commented on #1287
Hi @vinaykul  :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Th

[2022-02-15 00:54] nate-double-u commented on #1435
Hi @bridgetkromhout :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created befor

[2022-02-15 03:56] KlavsKlavsen commented on #661
pushed once again ? no one has the time to code it? or no one thinks its important enough? :(
It REALLY beats having to do a delete with no cascade (to keep pods and pvcs) and then re-creating the statefulset - hoping it reconnects with existing pods and pvcs :).

[2022-02-15 08:50] tossmilestone opened #3224 "Honor the current status of containers when kubelet started"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Honor the current status of containers when kubelet started.
- Kubernetes Enhancement Proposal:  TBD
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/100277
- Primary contact (assignee): @tossmilestone
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which mi

[2022-02-15 12:23] adrianreber commented on #2008
@nate-double-u  documentation PR available at https://github.com/kubernetes/website/pull/31753

[2022-02-15 14:22] shvgn commented on #3088
Closing in favor of https://github.com/kubernetes/kubernetes/issues/108124

[2022-02-15 14:22] #3088 closed

[2022-02-15 15:25] wojtek-t commented on #1164
@mehabhalodiya - https://github.com/kubernetes/website/pull/31756 is already opened for review

[2022-02-15 20:59] msau42 commented on #2923
uh oh, do we have the close in a commit msg problem...

[2022-02-16 02:01] ahg-g commented on #2923
This is weird!

[2022-02-16 02:22] chendave commented on #1923
Can I close this one? since the feature is GA-ed.

[2022-02-16 02:55] xing-yang commented on #1432
@gracenng The KEP for this feature has already been approved for production readiness review back in 1.23 release.  We just have a code PR that didn't get merged in time and therefore missed 1.23.  I'll update the KEP with the correct latest milestone, but everything else is checked.

[2022-02-16 03:19] xing-yang commented on #1432
@encodeflush We initially wanted to target Beta, but decided to stay in Alpha because the design was updated in 1.23.  So we are still staying in Alpha in 1.24.  I've submitted a PR to update the milestones.

[2022-02-16 15:33] chrisnegus commented on #1959
Thanks @XudongLiuHarold !

[2022-02-16 15:58] pohly commented on #1698
/close

[2022-02-16 15:59] #1698 closed

[2022-02-16 16:41] mehabhalodiya commented on #1904
@wojtek-t We had a discussion for `Need Docs` or `No Docs required` over Slack for this enhancement.

@sftim suggested:

Also, @PI-Victor agreed with Tim, saying:

e.g.: https://github.com/kubernetes/website/pull/31283/files

Thus, considering the above pointers we are moving this enhancement to **`Needs Docs`** status.
Please follow [this comment](https://github.com/kubernetes/enhancements/issues

[2022-02-16 21:35] chrishenzie commented on #2485
/remove-lifecycle stale

[2022-02-16 23:34] thockin commented on #2595
We did not queue this up for 1.24, so I will tag for 25 and we can re-evaluate then

[2022-02-16 23:37] thockin commented on #2161
Reminder: Remove gate in 1.25, milestone updated

[2022-02-16 23:37] thockin commented on #1864
Reminder: Remove gate in 1.26, milestone updated

[2022-02-16 23:38] thockin commented on #563
Reminder: Remove gate in 1.26, milestone updated

[2022-02-16 23:38] thockin commented on #2365
Reminder: Remove gate in 1.25, milestone updated

[2022-02-16 23:38] thockin commented on #752
Reminder: Remove gate in 1.25, milestone updated

[2022-02-16 23:38] thockin commented on #1797
Reminder: Remove gate in 1.25, milestone updated

[2022-02-17 04:12] #1668 closed

[2022-02-17 05:18] pacoxu commented on #2504
If this is still needed, I may help to pick https://github.com/kubernetes/kubernetes/pull/83941 up.

[2022-02-17 07:43] wojtek-t commented on #1904
I opened https://github.com/kubernetes/website/pull/31770 for docs change.

[2022-02-17 13:08] neolit123 commented on #2504
Let me know if you have any Qs. 'Upgrade plan' output was desired, but i
haven't looked at this for a while.
On Feb 17, 2022 07:18, "Paco Xu" ***@***.***> wrote:

[2022-02-17 17:28] alculquicondor commented on #3094
Hi, is there any progress on the implementation PR?

[2022-02-17 19:27] mickeyboxell commented on #281
Hi @SergeyKanzhelev 👋  1.24 Comms lead here. We would like to included this removal in our 1.24 Deprecations and Removals blog post. Would you mind sharing information the actions users need to take when this feature is removed? [Here is an example to follow](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#what-to-do).

[2022-02-18 02:13] kerthcet commented on #3094
Yes, but I'm waiting for this https://github.com/kubernetes/kubernetes/pull/107421 merged first for some potential conflicts.

[2022-02-19 12:54] PI-Victor commented on #284
Hi @gnufied  :wave: 1.24 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **T

[2022-02-19 12:56] PI-Victor commented on #596
Hi @dobsonj  :wave: 1.24 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **T

[2022-02-19 12:57] PI-Victor commented on #1489
Hi @msau42 @davidz627 :wave: 1.24 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created b

[2022-02-19 12:58] PI-Victor commented on #2249
Hi @ahg-g   :wave: 1.24 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Th

[2022-02-19 12:59] PI-Victor commented on #2258
Hi @LorbusChris  :wave: 1.24 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before

[2022-02-19 13:01] PI-Victor commented on #2535
Hi @mikebrow  :wave: 1.24 Docs shadow here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **

[2022-02-19 13:03] PI-Victor commented on #2578
hey folks, docs shadow here, are you targeting any changes that would affect docs for this KEP for the upcoming 1.24 release?

[2022-02-19 13:04] PI-Victor commented on #2712
Hi @mrunalp   👋 1.24 Docs shadow here.

This enhancement is marked as Needs Docs for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thursday 31st M

[2022-02-19 13:05] PI-Victor commented on #2727
Hi @SergeyKanzhelev   👋 1.24 Docs shadow here.

This enhancement is marked as Needs Docs for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thursda

[2022-02-19 13:06] PI-Victor commented on #2802
Hi @marosset  👋 1.24 Docs shadow here.

This enhancement is marked as Needs Docs for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thursday 31st M

[2022-02-19 13:07] PI-Victor commented on #3022
Hi @alculquicondor  👋 1.24 Docs shadow here.

This enhancement is marked as Needs Docs for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thursday

[2022-02-19 13:08] PI-Victor commented on #3094
Hi @kerthcet  👋 1.24 Docs shadow here.

This enhancement is marked as Needs Docs for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thursday 31st M

[2022-02-19 22:31] SergeyKanzhelev commented on #2727
Sent the PR to the website

[2022-02-19 23:36] #2988 closed

[2022-02-21 07:11] XudongLiuHarold commented on #1959
draft PR for k/website repo: https://github.com/kubernetes/website/pull/31815

[2022-02-21 07:34] tengqm commented on #2727
Where is the PR revising the gate status?

[2022-02-21 14:20] LorbusChris commented on #2258
Thanks @PI-Victor, @aravindhp and I will make sure to open the PR in time.

[2022-02-21 19:38] nate-double-u commented on #2133
Hi @andrewsykim :wave: 1.24 Docs lead here.

This enhancement is marked as **Needs Docs** for the 1.24 release.

It looks like https://github.com/kubernetes/website/pull/30860 is related to this KEP, but I'm unsure that it is everything required for docs. Could you please confirm that it is the docs PR for this KEP?

If it isn't, please follow the steps [detailed in the documentation](https://kube

[2022-02-22 02:54] mehabhalodiya commented on #2879
Hi @alculquicondor 👋🏻 1.24 Docs shadow here.
The Docs status for this enhancement is marked as 'None Required' for the 1.24 release.
Are you targeting any changes that would affect docs for this KEP for the upcoming 1.24 release?
Please confirm.
Thanks!

[2022-02-22 13:35] dashpole commented on #727
/remove-lifecycle stale

[2022-02-22 15:42] alculquicondor commented on #2879
Yes, we just need to updated the graduation status to beta.

[2022-02-22 16:05] mehabhalodiya commented on #2879
@alculquicondor Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to **open a PR** against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before **Thu March 31, 11:59 PM PDT**.

Also, if needed take a look at [Documenting for a release](https:/

[2022-02-23 07:01] nckturner commented on #2699
/remove-lifecycle stale

[2022-02-23 17:32] chrisnegus commented on #1959
Thanks for filing the docs PR @XudongLiuHarold !

[2022-02-23 22:49] abhiraut commented on #2091
@astoycos @Dyanngg  we need to add a placeholder doc PR soon.. FYI

[2022-02-24 05:41] frittentheke commented on #1846
/remove-lifecycle stale

[2022-02-24 15:21] katcosgrove commented on #281
Hey there! Comms shadow here. Would y'all like to have this included in the deprecations and removal blog for 1.24? Here's what it looked like for 1.22: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

[2022-02-24 15:21] katcosgrove commented on #2221
Hey there! Comms shadow here. Would y'all like to have this included in the deprecations and removal blog for 1.24? Here's what it looked like for 1.22: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

[2022-02-24 15:23] katcosgrove commented on #2784
Hey there! Comms shadow here. Would y'all like to have this included in the deprecations and removal blog for 1.24? Here's what it looked like for 1.22: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

[2022-02-24 15:23] katcosgrove commented on #3136
Hey there! Comms shadow here. Would y'all like to have this included in the deprecations and removal blog for 1.24? Here's what it looked like for 1.22: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

[2022-02-24 15:25] liggitt commented on #3136
no, this doesn't modify any existing beta APIs, it is strictly for future beta APIs.

[2022-02-24 20:57] SergeyKanzhelev commented on #2221
@katcosgrove definitely. @nate-double-u do we need a task on a board to track this?

[2022-02-25 00:10] nate-double-u commented on #2221
I've added it to https://github.com/orgs/kubernetes/projects/67, thx for the callout 👍

[2022-02-25 02:34] alecgarza96 commented on #3182
/assign

[2022-02-25 02:42] alecgarza96 commented on #3182
@jayunit100 What aspects were you considering incorporating?

I'm going to begin my research by reading through #2975

[2022-02-25 14:26] astoycos commented on #2091
@abhiraut @Dyanngg  I think this may have been a mistake, we're implementing this as an out of tree CRD so I don't think we need an in-tree docs PR and instead will need to follow what the Gateway API folks have done [here](https://gateway-api.sigs.k8s.io/)

@nate-double-u Can you please confirm this?

[2022-02-27 18:03] #1403 closed

[2022-02-27 18:03] #2997 closed

[2022-02-28 14:41] phenixblue commented on #1815
/remove-lifecycle stale

[2022-02-28 18:39] ehashman commented on #2400
Work for the 1.24 release was organized on a project board: https://github.com/orgs/kubernetes/projects/69

We also have a slack channel: #sig-node-swap

I am doubtful this will make the soft node freeze on Mar. 4 (this Friday) given how much work is left to complete.

[2022-02-28 20:16] KnVerey commented on #2299
/remove-lifecycle stale

[2022-03-01 11:15] MartinForReal commented on #2104
/remove-lifecycle stale

[2022-03-01 14:45] alculquicondor commented on #1258
You need to update the state of the feature in the website https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#internal-default-constraints

[2022-03-01 15:52] psschwei commented on #3066
/remove-lifecycle stale

[2022-03-01 19:17] pohly commented on #3063
@gracenng : an exception was requested and granted for this enhancement to move to GA in 1.24: https://groups.google.com/g/kubernetes-sig-release/c/sUpd2H1wxnk/m/lL_I6GT-BwAJ

Can you label it again as "tracked/yes"?

[2022-03-01 19:18] pohly commented on #3063
Oops, I commented on the wrong issue.

[2022-03-01 19:22] pohly commented on #1472
@kubernetes/enhancements : please add this back as "tracked/yes" with the goal of reaching GA in 1.24.

 An exception request for that was submitted and granted: https://groups.google.com/g/kubernetes-sig-release/c/sUpd2H1wxnk/m/lL_I6GT-BwAJ

[2022-03-01 20:54] gracenng commented on #1472
Hi @pohly , the enhancement will be marked at tracked/yes once it has met all the requirements for Enhancement Freeze. We're awaiting #3229 to merge :)

[2022-03-01 20:58] gracenng commented on #3063
Hi Patrick, `tracked/yes` will be applied when the KEP is merged and all
requirements for Enhancement Freeze are met. We are definitely keeping an
eye on this! Feel free to ping me once it's merged

On Tue, Mar 1, 2022 at 11:17 AM Patrick Ohly ***@***.***>
wrote:

[2022-03-02 16:02] gracenng commented on #1472
Hi @pohly, does this enhancement need docs?

[2022-03-02 16:16] pohly commented on #1472
Yes. The docs PR was already created and is listed in the description.

[2022-03-02 18:23] ehashman commented on #2254
/stage stable

graduating to stable next

[2022-03-03 02:21] b0b0haha opened #3231 "test_issue"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements

[2022-03-03 02:21] #3231 closed

[2022-03-03 09:43] #2999 closed

[2022-03-04 10:16] kerthcet commented on #3094
Hi all, the api part of this kep has been finished in https://github.com/kubernetes/kubernetes/pull/108492, please take a look if you guys have time.

[2022-03-04 17:09] sftim commented on #2268
I think I've spotted a design defect. https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2268-non-graceful-shutdown suggests using the private `out-of-service` taint; however, private taints are reserved for cluster operators and Kubernetes should not infer a specific meaning to any private taint.

We should instead use a [registered](https://kubernetes.io/docs/reference/label

[2022-03-04 17:13] sftim commented on #2268
I mentioned the same concern in https://github.com/kubernetes/kubernetes/pull/108486#discussion_r819752216

[2022-03-04 22:19] #1558 closed

[2022-03-07 22:53] chrisnegus commented on #1753
@ehashman @Priyankasaggu11929 Are either of you expecting to do the documentation updates to remove this feature. I would be happy to work on doing the actual removal of this feature from the docs if you like.

[2022-03-09 12:09] humblec commented on #2924
The in-tree cephfs only support inline volume source model  ( only mounter inteface) at present, that said, provision and delete implementation is missing or unknown to this driver.

https://github.com/kubernetes/examples/blob/master/volumes/cephfs/cephfs.yaml

I am wondering  while we come up with migration for this plugin, what could/would be the expectation?

- [ ] Is it supposed to be `only` m

[2022-03-09 15:53] chris-short commented on #2221
/assign

[2022-03-09 15:56] Nothing4You commented on #2358
/remove-lifecycle stale

[2022-03-09 20:02] ddebroy commented on #2857
/remove-lifecycle stale

[2022-03-09 21:56] tallclair commented on #2413
(I think I left a similar comment somewhere else, but I'm not sure where)

As an alternative to specifying the profile in the RuntimeClass definition, containerd & cri-o could make the "runtime/default" profile configurable per runtime-handler.

[2022-03-09 22:35] cdenneen opened #3237 "Volumes to allow content merge - projected volumes"
### Enhancement Description
Allow a projected volume to merge contents of multiple sources into a resulting key/file.

[code]
[code]
[code]

I've tried to set both to the same key and `subPath: .env` but the later is the only one that gets mounted due to key duplication I would guess:

[code]

would like the resulting mounted file look like:

[code]

Not sure if that should be a projected volume p

[2022-03-09 23:45] cdenneen commented on #3237
/sig node

[2022-03-10 04:33] SergeyKanzhelev commented on #2221
@nate-double-u I meant to add specifically this piece of work:

[2022-03-10 17:09] #2051 closed

[2022-03-10 18:57] puerco commented on #3027
/remove-lifecycle stale

[2022-03-11 15:43] dgrisonnet commented on #3135
This issue with the external metrics API will need to be addressed as part of this KEP: https://github.com/kubernetes/kubernetes/issues/102056

[2022-03-14 11:10] sftim commented on #2095
Still worth doing, and there is (slow) progress.
/remove-lifecycle stale

[2022-03-15 04:20] Priyankasaggu11929 commented on #902
Hello @denkensk  👋

With 1.24 Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, I'm just checking in once more.

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/107775
    -  https://github.com/kubernetes/kubernetes/pull/1

[2022-03-15 04:29] Priyankasaggu11929 commented on #1164
Hello @wojtek-t  👋

With 1.24 Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, I'm just checking in once more.

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/108163
    - https://github.com/kubernetes/website/pull/31756

[2022-03-15 04:48] Priyankasaggu11929 commented on #1287
Hello @vinaykul  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/102884
-

[2022-03-15 06:13] gracenng commented on #284
Hi @gnufied   1.24 Enhancements Team here,
With Code Freeze approaching on 18:00 PDT Tuesday March 29th 2022, the enhancement status is `at risk`  as there is no linked PR. Kindly list them in this issue. Thanks!

[2022-03-15 06:14] gracenng commented on #596
Hi @dobsonj   1.24 Enhancements Team here,
With Code Freeze approaching on 18:00 PDT Tuesday March 29th 2022, the enhancement status is `at risk ` as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-15 06:14] gracenng commented on #647
Hi @dashpole   1.24 Enhancements Team here,
With Code Freeze approaching on 18:00 PDT Tuesday March 29th 2022, the enhancement status is at risk  as there is no linked PR. Kindly list them in this issue. Thanks!

[2022-03-15 06:22] gracenng commented on #688
Hi @egernst  1.24 Enhancements Team here,
With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, we are currently tracking the following k/k PR:

- [ ] https://github.com/kubernetes/kubernetes/pull/108441

The status of this enhancement is at risk until the PRs are merged. Please let me know if I'm missing any. Thanks!

[2022-03-15 06:23] gracenng commented on #961
Hi @krmayankk   1.24 Enhancements Team here,
With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022,** the enhancement status is `at risk ` as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-15 06:24] gracenng commented on #1441
Hi @verb  1.24 Enhancements Team here,
With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022,** the enhancement status is `at risk ` as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-15 06:25] gracenng commented on #1472
https://github.com/kubernetes/kubernetes/pull/108445
Hi @pohly  1.24 Enhancements Team here,
With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, we are currently tracking the following k/k PR:
The status of this enhancement is at risk until the PRs are merged. Please let me know if I'm missing any. Thanks!

[2022-03-15 06:27] gracenng commented on #1959
Hi @andrewsykim  1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk ` as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-15 06:29] gracenng commented on #2091
Hi @abhiraut   1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk ` as there is no linked code PR.
Is https://github.com/kubernetes-sigs/network-policy-api/pull/30 part of the code PRs?
Kindly list them all in this issue. Thanks!

[2022-03-15 13:16] humblec commented on #2924
Thanks @jsafrane etl.al for sharing the thoughts! Let me check further on this. :+1:

[2022-03-15 18:43] andrewsykim commented on #1959
PR is here https://github.com/kubernetes/kubernetes/pull/107979, thanks

[2022-03-15 23:05] rahulkjoshi commented on #2593
I spoke with @thockin and we agreed this PR shouldn't need docs for 1.24

[2022-03-15 23:14] nate-double-u commented on #2593
Thanks @rahulkjoshi

[2022-03-16 02:48] mickeyboxell commented on #2923
Hi @humblec 👋  1.24 RT Comms lead here. Would this be appropriate to include in our 1.24 Removals and Deprecations blog post?

[2022-03-16 02:49] mickeyboxell commented on #2589
Hi @trierra  👋  1.24 RT Comms lead here. Would this be appropriate to include in our 1.24 Removals and Deprecations blog post?

[2022-03-16 03:07] mickeyboxell commented on #177
Hi @jingxu97  👋 1.24 RT Comms lead here. I saw a note that the VolumeSnapshot v1beta1 CRD will be removed in 1.24. Would this be appropriate to include in our 1.24 Removals and Deprecations blog post?

[2022-03-16 03:38] jingxu97 commented on #177
Yes, I think so

@xing-yang

[2022-03-16 04:44] gracenng commented on #2400
Removing this enhancements from the release

[2022-03-16 05:01] gracenng commented on #2371
Removing this from 1.24 release

[2022-03-16 05:10] mickeyboxell commented on #177
Thanks for confirming! @jingxu97 What information would you like communicated in the blog? I read that the functionality entered beta in 1.20 and was a little confused about the v1beta1 CRD now being removed. Did the project graduate to stable or was it replaced with an alternative API?

[2022-03-16 05:29] frasertweedale opened #3241 "Support services with same SRV name on different protocols"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Support services with same SRV name on different protocols
- Kubernetes Enhancement Proposal: TODO
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/97149
- Primary contact (assignee): @frasertweedale
- Responsible SIGs: /sig network
- Enhancement target (which target equals to which m

[2022-03-16 05:33] frasertweedale commented on #3241
/sig network

[2022-03-16 05:35] gracenng commented on #2214
Hi @alculquicondor   1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, we are currently tracking the following k/k PR:

- [ ]  https://github.com/kubernetes/kubernetes/pull/107395

The status of this enhancement is `at risk` until the PRs are merged. Please let me know if I'm missing any. Thanks!

[2022-03-16 05:37] gracenng commented on #2221
Hi @SergeyKanzhelev  1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk ` as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 05:37] gracenng commented on #2438
Hi @danwinship   1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk ` as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 05:38] gracenng commented on #2535
Hi @mikebrow  1.24 Enhancements Team here,
With Code Freeze approaching on 18:00 PDT Tuesday March 29th 2022, we are currently tracking the following k/k PR:

- [ ] https://github.com/kubernetes/kubernetes/pull/94899

The status of this enhancement is at risk until the PR is merged. Please let me know if I'm missing any. Thanks!

[2022-03-16 05:49] jingxu97 commented on #177
VolumeSnapshot went GA in 1.20
https://github.com/kubernetes/enhancements/pull/1994

[2022-03-16 05:56] gracenng commented on #2593
Hi @rahulkjoshi  1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is at risk  as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 05:57] gracenng commented on #2784
Hi @enj  1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022,** the enhancement status is `at risk ` as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 05:57] gracenng commented on #2799
Hi @zshihang  1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk `as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 05:58] gracenng commented on #2896
Hi @Jefftree 1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk `as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 05:59] gracenng commented on #2943
Hi @rikatz 1.24 Enhancements Team here,
With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk `as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 05:59] gracenng commented on #3130
Hi @aramase   1.24 Enhancements Team here,
With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk `as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 06:00] gracenng commented on #3141
Hi @RaunakShah  1.24 Enhancements Team here,

With Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, the enhancement status is `at risk `as there is no linked k/k PR. Kindly list them in this issue. Thanks!

[2022-03-16 13:08] xing-yang commented on #177
@mickeyboxell I added that entry in the spreadsheet.  VolumeSnapshot went GA in 1.20.  Following K8s 1.21 release, we deprecated VolumeSnapshot v1beta1.  Since VolumeSnapshot is out-of-tree CRD, we have the deprecation message in the release note here:
https://github.com/kubernetes-csi/external-snapshotter/releases/tag/v4.1.0

Now we are ready to remove VolumeSnapshot v1beta1 CRD in our next exter

[2022-03-16 13:12] xing-yang commented on #177
@mickeyboxell In addition to the deprecation/removal blog, I'd also like to have a release note in K8s v1.24 release notes to indicate VolumeSnapshot v1beta1 CRD will be removed.  Where can I add that release note?

[2022-03-16 18:30] dashpole commented on #647
@gracenng Thanks!  I think the otel dependency update is still in the works.  I'm also still trying to collect user feedback.

[2022-03-17 16:39] ehashman commented on #647
/milestone clear

We won't be able to graduate this to beta in 1.24 as the etcd dependency we need to bump won't be ready before code freeze.

[2022-03-17 16:40] ehashman commented on #1753
@husky-parul is going to do the documentation work for this. She'll update the website docs with the deprecation/removal.

[2022-03-17 16:43] ehashman commented on #2845
The beta docs requirement was:

@pohly has done this and will add a link to the issue here.

[2022-03-17 23:22] ehashman commented on #1610
/reopen

[2022-03-17 23:37] ehashman commented on #3041
/remove-lifecycle rotten

[2022-03-18 02:55] Huang-Wei commented on #1923
@chendave before closing this, could you check the criteria of graduating a KEP, IIUC, at least we should change the status in [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/1923-prefer-nominated-node/kep.yaml) to `implemented`.

[2022-03-18 02:55] Huang-Wei commented on #1923
/remove-lifecycle rotten

[2022-03-18 04:25] Priyankasaggu11929 commented on #3094
Hello @kerthcet   👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/108492
-

[2022-03-18 04:30] Priyankasaggu11929 commented on #3022
Hello @alculquicondor    👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/1

[2022-03-18 04:31] kerthcet commented on #3094
Thanks @Priyankasaggu11929 , no PR missed. I'll focus on this kep these days.

[2022-03-18 04:44] Priyankasaggu11929 commented on #2887
Hello @jiahuif  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **Thursday,

[2022-03-18 04:50] Priyankasaggu11929 commented on #2804
Hello @atiratree @ravisantoshgudimetla 👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder

[2022-03-18 04:55] Priyankasaggu11929 commented on #2436
Hello @jiahuif  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/108016
- [

[2022-03-18 05:01] Priyankasaggu11929 commented on #2258
Hello @LorbusChris @aravindhp  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/

[2022-03-18 05:05] Priyankasaggu11929 commented on #2249
Hello @ahg-g   👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/108136
- [

[2022-03-18 05:07] Priyankasaggu11929 commented on #2232
Hello @ahg-g   👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/108129
- [

[2022-03-18 05:11] Priyankasaggu11929 commented on #2133
Hello @andrewsykim  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/108585

[2022-03-18 05:23] Priyankasaggu11929 commented on #1885
Hello @andyzhangx  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **18:00 P

[2022-03-18 05:28] Priyankasaggu11929 commented on #1753
Hello @44past4 @husky-parul  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
     - https://github.com/kubernetes/kubernetes/p

[2022-03-18 05:33] Priyankasaggu11929 commented on #1495
Hello @bswartz  👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/108736
- [

[2022-03-18 05:39] Priyankasaggu11929 commented on #1489
Hello @msau42 @davidz627   👋

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by *

[2022-03-18 05:40] andrewsykim commented on #2133
PR adding e2e tests is here https://github.com/kubernetes/kubernetes/pull/108651

@adisky can you link the PR to graduate the feature to Beta whenever that gets opened?

[2022-03-18 05:46] Priyankasaggu11929 commented on #2133
@andrewsykim, thanks for pointing ^. Could you please add the KEP link in the PR description for release team tracking purpose? Thank you so much!

Also, could you please confirm whether following PRs are also part of Beta implementation?
- https://github.com/kubernetes/kubernetes/pull/108585
- https://github.com/kubernetes/kubernetes/pull/106252

[2022-03-18 05:49] Priyankasaggu11929 commented on #902
Hello @denkensk, could you please confirm is the following PR is part of the GA implementation for the enhancement? Thanks!
- https://github.com/kubernetes/kubernetes/pull/108701

[2022-03-18 08:38] denkensk opened #3243 "Respect PodTopologySpread after rolling upgrades"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Respect PodTopologySpread after rolling upgrades
- Kubernetes Enhancement Proposal:
- Discussion Link: https://docs.google.com/document/d/12F1YXsvy4SmumPiL3LHMLnuMHvyMqSzDqF-L9J37ZfA/edit?usp=sharing
- Primary contact (assignee): @denkensk
- Responsible SIGs: /sig scheduling
- Enhancement target (which

[2022-03-18 08:38] denkensk commented on #3243
/sig scheduling

[2022-03-18 09:09] denkensk commented on #902
Hi @Priyankasaggu11929  It's not the necessary part of GA.

[2022-03-18 09:12] Priyankasaggu11929 commented on #902
Thanks so much for the prompt confirmation, @denkensk!

[2022-03-18 13:42] alculquicondor commented on #3022
@sanposhiho can you work on the documentation as well?

[2022-03-18 14:11] sanposhiho commented on #3022
Sure, I will update doc and kep this weekend.

[2022-03-18 14:36] alculquicondor commented on #3022
There is no need to update the KEP.

[2022-03-18 14:49] ahg-g commented on #2232
Docs PR: https://github.com/kubernetes/website/pull/32350

[2022-03-18 15:03] ahg-g commented on #2249
Docs PR: https://github.com/kubernetes/website/pull/32352

[2022-03-18 15:10] Priyankasaggu11929 commented on #2232
@ahg-g, thank you so much.

With the Docs PR open now, all requirements for Code Freeze are finished. The status is now `tracked`.

[2022-03-18 15:13] Priyankasaggu11929 commented on #2249
Thanks @ahg-g . With the Docs PR open now, all the requirements for Code Freeze are completed. The status of this enhancement is `tracked` now.

[2022-03-18 16:35] soltysh commented on #2551
Hey @chrisnegus I must have marked this feature prematurely as needs docs, since we're still very early and not much of this work will be visible to users. Is there a way we could remove that needs docs for now?

[2022-03-19 04:43] mehabhalodiya commented on #3022
@sanposhiho I see already opened up PR: [kubernetes/website/pull/32340](https://github.com/kubernetes/website/pull/32340)

[2022-03-19 10:24] mehabhalodiya commented on #2644
@xing-yang please update the issue description.
The PR from `kubernetes/kubernetes` got merged. Also, there is docs PR opened up.

[2022-03-19 11:13] mehabhalodiya commented on #2923
@humblec Will you please update the issue description?

[2022-03-19 14:02] sanposhiho commented on #3022
Hm, looks like other person updated the doc instead of me. Thanks for informing @mehabhalodiya.

[2022-03-19 14:07] mehabhalodiya commented on #3022
Will you please update the issue description?
Thanks!

[2022-03-19 14:29] chrisnegus commented on #2551
Thanks @soltysh ! I've moved the KEP to our "No Docs Required" column.

[2022-03-19 14:37] chrisnegus commented on #2845
Thanks @pohly ! I'll note that on our project board. Thanks!

[2022-03-19 14:50] chrisnegus commented on #2799
@liggitt Thanks for adding links to the docs PRs. Is that all the documentation required for this KEP in 1.24?

[2022-03-19 14:51] liggitt commented on #2799
the unchecked items represent work yet to be done

[2022-03-19 14:52] chrisnegus commented on #1753
Thanks @ehashman !

[2022-03-19 16:00] sanposhiho commented on #3022
@alculquicondor
Isn't the following change for kep needed? (If not needed, I'll close this)
https://github.com/kubernetes/enhancements/pull/3245

[2022-03-20 02:14] husky-parul commented on #1753
Apologies for the delayed response. I am on PTO until March 22. I will get this done soon after that.

Thanks

Sent from my iPhone

[2022-03-21 03:22] valaparthvi commented on #2593
Hi @rahulkjoshi :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt-in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for

[2022-03-21 04:05] valaparthvi commented on #2831
Hi @sallyom :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for Mar

[2022-03-21 04:09] valaparthvi commented on #2845
Hi @serathius and @pohly  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is sch

[2022-03-21 04:13] valaparthvi commented on #3077
Hi @pohly :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for March

[2022-03-21 04:22] valaparthvi commented on #1753
Hi @ehashman 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for March 23r

[2022-03-21 04:24] valaparthvi commented on #647
Hi @dashpole :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for Ma

[2022-03-21 04:25] mehabhalodiya commented on #2804
@ravisantoshgudimetla Will you please confirm if you are going to implement this feature in 1.24? Thanks!

[2022-03-21 04:28] valaparthvi commented on #1435
Hi @bridgetkromhout & @thockin :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze i

[2022-03-21 04:30] valaparthvi commented on #1959
Hi @andrewsykim :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for

[2022-03-21 04:39] valaparthvi commented on #2091
Hi @abhiraut and @thockin :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is sch

[2022-03-21 04:39] valaparthvi commented on #2438
Hi @danwinship and @thockin :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is s

[2022-03-21 04:40] valaparthvi commented on #2681
Hi @wzshiming @thockin :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is schedu

[2022-03-21 04:41] valaparthvi commented on #2943
Hello @rikatz :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for *

[2022-03-21 04:41] valaparthvi commented on #3070
Hi @aojea :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for **01:

[2022-03-21 04:45] valaparthvi commented on #688
Hi @SergeyKanzhelev @egernst :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is

[2022-03-21 04:47] valaparthvi commented on #1287
Hi @vinaykul  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for *

[2022-03-21 04:51] valaparthvi commented on #2008
Hi @adrianreber  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled fo

[2022-03-21 04:53] valaparthvi commented on #2133
Hi @adisky @andrewsykim  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is sche

[2022-03-21 04:55] valaparthvi commented on #2221
Hi @SergeyKanzhelev  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is schedule

[2022-03-21 05:47] valaparthvi commented on #2535
Hi @mikebrow  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for *

[2022-03-21 05:48] valaparthvi commented on #2712
Hi @mrunalp  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled for **

[2022-03-21 05:49] valaparthvi commented on #2727
Hi @SergeyKanzhelev  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is schedule

[2022-03-21 05:50] valaparthvi commented on #2802
Hi @ravisantoshgudimetla  :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is sch

[2022-03-21 06:05] valaparthvi commented on #281
Hi @SergeyKanzhelev :wave: 1.24 Release Comms team here.

We have an opt-in process for the feature blog delivery. If you would like to publish a feature blog for this issue in this cycle, then please opt in on this [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0).

The deadline for submissions and the feature blog freeze is scheduled

[2022-03-21 07:37] wojtek-t commented on #1164
@Priyankasaggu11929 - the above is correct - everything we need merged is merged

[2022-03-21 15:56] Priyankasaggu11929 commented on #3022
@sanposhiho @alculquicondor, thank you so much.

With the Docs PR open now, all requirements for Code Freeze are finished. The status is now `tracked`.

[2022-03-21 16:32] gracenng commented on #2221
Hi @SergeyKanzhelev, I'm marking this enhancements as `tracked` with referenced to the merged PR: https://github.com/kubernetes/kubernetes/pull/97252

Let me know if there is any other k/k PR I should be aware of here

[2022-03-21 16:38] encodeflush commented on #1710
Hello @jsafrane

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **18:00 PDT, T

[2022-03-21 16:43] encodeflush commented on #2551
Hello @rikatz

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [X] Have a documentation placeholder PR open by **18:00 PDT, Thu

[2022-03-21 16:46] encodeflush commented on #2589
Hello @trierra

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **18:00 PDT, Th

[2022-03-21 16:51] encodeflush commented on #2644
Hello @deepakkinni @xing-yang

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by

[2022-03-21 16:58] encodeflush commented on #2831
Hello @sallyom

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **18:00 PDT, Th

[2022-03-21 17:00] encodeflush commented on #2845
Hello @serathius @pohly

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [X] Have a documentation placeholder PR open by **18:0

[2022-03-21 17:09] encodeflush commented on #3017
Hello @mortent

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **18:00 PDT, Th

[2022-03-21 17:11] encodeflush commented on #3070
Hello @aojea

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **18:00 PDT, Thur

[2022-03-21 17:28] aojea commented on #3070
@encodeflush those 2 PRs are the implementation and the docs,

[2022-03-21 17:36] alculquicondor commented on #2879
yes, they are both part of the enhancement and there are no more PRs.

[2022-03-21 18:00] katcosgrove commented on #1441
Hey y'all! We're approaching last call for feature blogs, as the freeze is Wednesday, March 23. If you would like to have a feature blog for this, please add it to the [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0.) and reach out to me if you have any questions. Thank you!

[2022-03-21 18:01] katcosgrove commented on #2551
Hey y'all! We're approaching last call for feature blogs, as the freeze is Wednesday, March 23. If you would like to have a feature blog for this, please add it to the [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0.) and reach out to me if you have any questions. Thank you!

[2022-03-21 18:02] katcosgrove commented on #2784
Hey y'all! It's me again, comms shadow. We're approaching last call for feature blogs, as the freeze is Wednesday, March 23. If you would like to have a feature blog for this, please add it to the [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0.) and reach out to me if you have any questions. Thank you!

[2022-03-21 18:02] katcosgrove commented on #2799
Hey y'all! We're approaching last call for feature blogs, as the freeze is Wednesday, March 23. If you would like to have a feature blog for this, please add it to the [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0.) and reach out to me if you have any questions. Thank you!

[2022-03-21 18:07] katcosgrove commented on #2436
Hey y'all! We're approaching last call for feature blogs, as the freeze is Wednesday, March 23. If you have something you would like to have represented, please add it to the [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0.). If you have questions, please reach out to me!

[2022-03-21 19:31] alculquicondor commented on #2879
Added documentation PR

[2022-03-21 19:52] salaxander commented on #2802
Hi @marosset 👋

Checking in as we approach 1.24 code freeze at **01:00 UTC Wednesday 30th March 2022**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.

It look

[2022-03-21 19:55] salaxander commented on #2885
Hi @kevindelgado 👋

Checking in once more as we approach 1.24 code freeze at **01:00 UTC Wednesday 30th March 2022**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze dead

[2022-03-21 20:03] salaxander commented on #3031
Hi @saschagrunert 👋

Checking in as we approach 1.24 code freeze at **01:00 UTC Wednesday 30th March 2022**.

For this KEP, it looks like there aren't any K/K PRs. Are there any other PRs that you think we should be tracking that would be subject to the 1.24 code freeze?

Thanks!!

[2022-03-21 20:10] salaxander commented on #3107
Hi @humblec 👋

Checking in once more as we approach 1.24 code freeze at **01:00 UTC Wednesday 30th March 2022**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.

[2022-03-21 20:15] salaxander commented on #3136
Hey @deads2k and @liggitt - Are there any k/k or other PRs we should be tracking for 1.24 code freeze for this one?

[2022-03-21 20:19] salaxander commented on #3140
Hi @soltysh 👋

Checking in once more as we approach 1.24 code freeze at **01:00 UTC Wednesday 30th March 2022**.

Please ensure the following items are completed:

* All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
* All PRs are fully merged by the code freeze deadline.

[2022-03-21 20:42] marosset commented on #2802
Yup we are only waiting on that PR which is reviewed but awaiting e2e validation in a PR job.
Thanks!

[2022-03-22 00:56] mickeyboxell commented on #177
I'm not sure how their process works. You may want to reach out to the #release-notes channel for more information.

[2022-03-22 02:04] rhockenbury commented on #2712
Hi @mrunalp

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.

For this KE

[2022-03-22 02:07] rhockenbury commented on #2578
Hi @jayunit100

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.

For this

[2022-03-22 02:12] rhockenbury commented on #2268
Hi @yastij and @xing-yang

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline

[2022-03-22 02:16] rhockenbury commented on #2008
Hi @adrianreber

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.

For thi

[2022-03-22 02:20] rhockenbury commented on #1904
Hi @wojtek-t

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.

For this K

[2022-03-22 02:22] rhockenbury commented on #1790
Hi @gnufied

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.

For this KE

[2022-03-22 02:25] rhockenbury commented on #1491
Hi @divyenpatel and @xing-yang

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze dea

[2022-03-22 02:26] rhockenbury commented on #1490
Hi @andyzhangx

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.

For this

[2022-03-22 02:32] rhockenbury commented on #1435
Hi @janosi

I'm checking in as we approach 1.24 code freeze at 01:00 UTC Wednesday 30th March 2022.

Please ensure the following items are completed:
- All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- All PRs are fully merged by the code freeze deadline.

For this KEP

[2022-03-22 04:19] Priyankasaggu11929 commented on #281
Hello @SergeyKanzhelev  👋

With 1.24 Code Freeze approaching on **18:00 PDT Tuesday March 29th 2022**, I'm just checking in once more.

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
    - https://github.com/kubernetes/kubernetes/pull/106932
    - https://github.com/kubernetes/kubernetes/

[2022-03-22 07:26] adrianreber commented on #2008
@rhockenbury There are no other PRs that need to be tracked.

[2022-03-22 07:41] sonasingh46 commented on #2268
Hey @rhockenbury -- There is a doc PR that I raised for this feature.
https://github.com/kubernetes/website/pull/32406

[2022-03-22 07:53] wojtek-t commented on #1904
@rhockenbury - everything is done - it's good to go.

[2022-03-22 07:57] saschagrunert commented on #3031
Hey @salaxander, no we do not require any k/k code changes for this enhancement. :+1:

[2022-03-22 09:20] serathius commented on #2845
@encodeflush all the work for Beta is done, I don't think this is a PR.

[2022-03-22 13:51] ravisantoshgudimetla commented on #2804
Hi @mehabhalodiya - We will not get the PR merged this release. The goal is to have the KEP merged this release.

[2022-03-22 17:04] ddebroy commented on #2831
https://github.com/kubernetes/enhancements/pull/3087 is not directly related to the overall OpenTelemetry enhancements.

[2022-03-22 17:19] SergeyKanzhelev commented on #2727
How do I sign up? I don't seem to have permissiosn to edit?

[2022-03-22 17:32] ehashman commented on #2535
/milestone clear

We don't think this will make 1.24, per the Mar. 22 SIG Node meeting.

[2022-03-22 17:35] ehashman commented on #2712
That PR merged in 1.23. The PR for 1.24 is https://github.com/kubernetes/kubernetes/pull/107986

[2022-03-22 19:10] reylejano commented on #2727
@SergeyKanzhelev , folks in the leads@kubernetes.io group have edit rights on the [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0)
SIG Node or SIG Network chairs should be able to add a feature blog for this in the [tracking sheet](https://docs.google.com/spreadsheets/d/1ZFqhMfVSqegUVfMWoIFqxIsT5Q_7c6DFqdB-Ghqd6Uk/edit#gid=0)

[2022-03-23 00:27] rhockenbury commented on #2712
Got it.  Thanks for the clarification.

[2022-03-23 03:02] gracenng commented on #2804
Thanks for the headsup @ravisantoshgudimetla. Removing this feature from the 1.24 release
cc @Priyankasaggu11929

[2022-03-23 03:08] xing-yang commented on #3141
PRs are submitted here:
https://github.com/kubernetes-csi/external-snapshotter/pull/665
https://github.com/kubernetes-csi/external-snapshotter/pull/670

[2022-03-23 03:11] xing-yang commented on #3141
@gracenng It might be better to label this feature as "tracked/out-of-tree" as all the code changes are out-of-tree.

[2022-03-23 03:26] xing-yang commented on #1432
PR is here: https://github.com/kubernetes/kubernetes/pull/108758

[2022-03-23 04:21] mehabhalodiya commented on #2804
/milestone clear

[2022-03-23 04:23] Priyankasaggu11929 commented on #2804
/milestone clear

[2022-03-23 11:50] mehabhalodiya commented on #1432
Hi @xing-yang 👋🏻 1.24 Docs shadow here.

This enhancement is marked as '**Needs Docs**' for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo. This PR can be just a placeholder at this time and must be created before **Th

[2022-03-23 12:05] mehabhalodiya commented on #3017
Hi @mortent We’re reminding people with KEPs that need docs to [open a placeholder PR](https://github.com/kubernetes/enhancements/issues/3017#issuecomment-1036999112).
Although the deadline for this is March 31, we have more than 30 that have yet to be opened, so we’re trying to get ahead of it. Let me know if you have any questions. Thanks!

[2022-03-23 12:20] encodeflush commented on #2845
Hello @serathius @pohly

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [X] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [X] Have a documentation placeholder PR open by **18:0

[2022-03-23 12:48] sallyom commented on #2831
#105126 is the initial implementation for this enhancement

[2022-03-23 13:17] encodeflush commented on #1432
Hello @xing-yang

I'm just checking in once more as we approach the 1.24 Code Freeze on **18:00 PDT, Tuesday, March 29th 2022**

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are merged by the code freeze deadline.
- [ ] Have a documentation placeholder PR open by **18:00 PDT,

[2022-03-23 14:42] chrisnegus commented on #1753
Thanks @husky-parul! There is still time before the March 31 deadline to open a placeholder PR. Let me know if you have any questions.

[2022-03-23 16:16] pohly commented on #3077
/assign

[2022-03-23 16:48] pohly commented on #3077
I have added two doc PRs to the description.

[2022-03-23 17:46] jsafrane commented on #1710
We're postponing this to 1.25, we can't get all the required changes in for the feature freeze in 1.24.
/milestone 1.25

[2022-03-23 17:46] jsafrane commented on #1710
/milestone v1.25

[2022-03-23 20:52] dobsonj commented on #596
Hi @gracenng , we'll need to postpone GA for this enhancement to 1.25, there is still some remaining work in the [graduation criteria](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/596-csi-inline-volumes#ga) that needs to be completed before updating the feature gate.

[2022-03-23 21:43] #2140 closed

[2022-03-23 21:52] gracenng commented on #596
Thanks for the heads up. I've removed this feature from the release :)

[2022-03-24 02:32] mehabhalodiya commented on #596
@gracenng Please clear the milestone.

[2022-03-24 03:33] gracenng commented on #284
Hi @gnufied, friendly bump on this as we're less than a week away from Freeze

[2022-03-24 03:35] gracenng commented on #688
Hi @SergeyKanzhelev, is https://github.com/kubernetes/kubernetes/pull/108781 code for this feature as well?
Bumping as we're less than a week from Code Freeze

[2022-03-24 03:37] gracenng commented on #1472
Marking this as `tracked` for Code Freeze. Let me know if there's any other k/k PR!

[2022-03-24 03:38] gracenng commented on #1959
Marking this as `tracked` for Code Freeze 🥳

[2022-03-24 16:16] gnufied commented on #1790
Hello - this feature will remain alpha in 1.24. We will try again in 1.25

[2022-03-24 16:18] jsafrane commented on #596
/milestone v1.25

[2022-03-24 18:32] chrisnegus commented on #1753
@husky-parul Thanks for filing the draft PR!

[2022-03-24 19:34] ilya-lesikov opened #3254 "Allow passing KUBECONFIG as base64 string"
### Enhancement Description

- One-line enhancement description (can be used as a release note): pass KUBECONFIG as base64 string
- Kubernetes Enhancement Proposal: TBD
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/93346
- Primary contact (assignee): @ilya-lesikov
- Responsible SIGs: sig-cli
- Enhancement target (which target equals to which milestone):
  - Alpha release targe

[2022-03-25 02:04] #1923 closed

[2022-03-25 02:12] xing-yang commented on #1432
@encodeflush Yes,  kubernetes#108758 is the only code PR that needs to be merged by the deadline.

[2022-03-25 02:25] xing-yang commented on #1491
@rhockenbury We won't make it in 1.24.

[2022-03-25 05:36] Priyankasaggu11929 commented on #2133
With the beta code implementation https://github.com/kubernetes/kubernetes/pull/108847 merged, the KEP is all set for the 1.24 code freeze! 🚀

For note, the status of the enhancement is now `tracked`. Thank you so much @adisky @andrewsykim.

[2022-03-25 08:27] tengqm commented on #2133
This alpha to beta transition warrants a PR against k/website for feature gate. Please do.

[2022-03-25 09:42] mborsz commented on #647
Hi @dashpole,

As discussed offline, it would be useful to add more spans to improve observability of API request latency.
Currently, we use quite naive approach with text-based Traces: https://pkg.go.dev/k8s.io/utils/trace#Trace which logs if Trace duration takes more than specified threshold.

I think we should achieve parity between the old text-based Traces and the API Server Tracing feature.

[2022-03-26 19:12] gracenng commented on #2593
Hi @rahulkjoshi, a friendly reminder that Code Freeze is coming in 2 days. Please link your k/k enhancements here.

[2022-03-26 19:19] #2784 closed

[2022-03-26 19:28] gracenng commented on #2799
Hey @liggitt , with Code Freeze coming in a few days. Will the portions marked `TBD` be added as part of this feature?

[2022-03-26 19:29] gracenng commented on #2943
Hi @rikatz , a friendly reminder that Code Freeze is coming in a few days. Please link your k/k enhancements here.

[2022-03-26 19:30] gracenng commented on #3141
All good for Code Freeze!

[2022-03-26 19:38] liggitt commented on #2799
Unclear, fixing regressions and other reviews have consumed a lot of the bandwidth the past couple weeks. If nothing else merges for 1.24, the already merged piece is good to go standalone and we'll shift the other bits to 1.25. Will update Monday.

[2022-03-27 03:17] Priyankasaggu11929 commented on #2887
@jiahuif, with the following code implementation k/k PRs merged now, the requirements for 1.24 code freeze are met.
- https://github.com/kubernetes/kubernetes/pull/108898
- https://github.com/kubernetes/kubernetes/pull/108639

For note, the status of this enhancement is now `tracked`. Thank you!

[2022-03-27 03:57] Priyankasaggu11929 commented on #1885
Hello @andyzhangx, just checking in one more time as we are 2 days from the 1.24 code freeze.

Could you confirm if there are any k/k PRs tracking the code implementation for this KEP? Thank you!

[2022-03-27 08:53] andyzhangx commented on #1885
@Priyankasaggu11929 there is no pending k/k PRs related to this KEP, thanks.

[2022-03-28 00:42] mortent commented on #3017
@mehabhalodiya I have created a placeholder PR for the docs: https://github.com/kubernetes/website/pull/32567

@encodeflush Yes, I can confirm that https://github.com/kubernetes/kubernetes/pull/108233 is the implementation of this feature.

[2022-03-28 03:48] Priyankasaggu11929 commented on #1885
With no k/k PRs pending for 1.24 milestone, I'm moving the status for this enhancement to `tracked`. Thank you!

[2022-03-28 08:29] didicodes commented on #2589
Hi @trierra, 1.24 Docs shadow here. 👋

This enhancement is marked as Needs Docs for the 1.24 release.

Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the dev-1.24 branch in the k/website repo. This PR can be just a placeholder at this time and must be created before Thursday 31st Ma

[2022-03-28 11:50] verb commented on #1441
Hi @gracenng, We didn't get this finished in time. Let's please slip this to 1.25. Thanks!

[2022-03-28 14:52] soltysh commented on #3140
docs placeholder opened in https://github.com/kubernetes/website/pull/32577

[2022-03-28 16:33] jiahuif commented on #2887
This feature needs no documentation updates. Could you remove it from "documentation needed" list?

Thank you!

[2022-03-29 00:46] tengqm commented on #2887
Docs update PR created.

[2022-03-29 01:30] xing-yang commented on #2644
@encodeflush, all implementation PRs are merged.

[2022-03-29 01:33] xing-yang commented on #2268
@rhockenbury, implementation PR is merged. We are good for code freeze.  Thanks.

[2022-03-29 01:47] xing-yang commented on #2923
This PR is the implementation: https://github.com/kubernetes/kubernetes/pull/108632

[2022-03-29 02:47] rhockenbury commented on #1435
Hi @janosi @bridgetkromhout

It looks like you are targeting beta for the v1.24 release.  I was not able to find a k/k PR for promoting the `MixedProtocolLBService` feature flag to beta.  Let me know if I missed something or if you will be opting out of beta for this release cycle.

[2022-03-29 02:49] rhockenbury commented on #1490
Friendly reminder to try to merge k/k#107681](https://github.com/kubernetes/kubernetes/pull/107681) before code freeze at 01:00 UTC Wednesday 30th March 2022.

[2022-03-29 02:52] rhockenbury commented on #2008
Friendly reminder to try to merge [k/k#104907](https://github.com/kubernetes/kubernetes/pull/104907) before code freeze at 01:00 UTC Wednesday 30th March 2022.

[2022-03-29 02:57] rhockenbury commented on #2578
Hi @jayunit100 - would you mind confirming that there are no k/k PRs required for this KEP for v1.24?

[2022-03-29 03:06] rhockenbury commented on #3136
Hi @deads2k.  Was [k/k#107993](https://github.com/kubernetes/kubernetes/pull/107993) the only PR needed for this KEP for v1.24?

[2022-03-29 03:26] pacoxu commented on #1558
https://github.com/kubernetes/kubernetes/pull/108531 is a follow up of https://github.com/kubernetes/kubernetes/pull/106830

[2022-03-29 05:51] valaparthvi commented on #2727
I am so sorry I missed out on this, @SergeyKanzhelev. Thanks, @reylejano, for clearing that up.

I see that the feature has been added to the tracking sheet, @SergeyKanzhelev. Now what we need is to add a placeholder PR for this. Can you please open one by March 30?

Example of a feature blog PR: https://github.com/kubernetes/website/pull/30538
Example of a feature blog: https://github.com/kuberne

[2022-03-29 06:01] valaparthvi commented on #2831
Hey @sallyom, can you please add a placeholder PR for this feature in https://github.com/kubernetes/website by **March 30**, that is our extended deadline for feature blog freeze?

Example of a feature blog PR: https://github.com/kubernetes/website/pull/30538
Example of a feature blog: https://github.com/kubernetes/website/blob/main/content/en/blog/_posts/2021-12-08-dual-stack-networking-ga.md

[2022-03-29 06:17] nikhita commented on #2590
@chrisnegus placeholder PR created - https://github.com/kubernetes/website/pull/32604

[2022-03-29 06:25] valaparthvi commented on #3070
Hi @aojea, can you please add a placeholder PR for this feature in https://github.com/kubernetes/website by **March 30**, that is our extended deadline for feature blog freeze?

Example of a feature blog PR: https://github.com/kubernetes/website/pull/30538
Example of a feature blog: https://github.com/kubernetes/website/blob/main/content/en/blog/_posts/2021-12-08-dual-stack-networking-ga.md

[2022-03-29 07:00] gracenng commented on #284
All good for 1.24 code freeze 🥳

[2022-03-29 07:01] gracenng commented on #688
All good for 1.24 Code Freeze 🥳

[2022-03-29 07:02] gracenng commented on #961
All good for 1.24 Code Freeze 🥳

[2022-03-29 07:04] gracenng commented on #2091
Makes sense and tagged. Thanks!!

[2022-03-29 07:06] gracenng commented on #2214
All good for 1.24 Code Freeze 🥳

[2022-03-29 07:09] gracenng commented on #2799
Hi @liggitt , is it safe to assume that the `TBD` pieces are not coming and this feature is good for Code Freeze?

[2022-03-29 07:12] valaparthvi commented on #688
@SergeyKanzhelev Would you like to add this to the feature blog? If yes, then please add a placeholder PR as well by **March 30**. I can add it on your behalf if you still do not have the permissions.

Example of a feature blog PR: https://github.com/kubernetes/website/pull/30538
Example of a feature blog: https://github.com/kubernetes/website/blob/main/content/en/blog/_posts/2021-12-08-dual-stack

[2022-03-29 07:13] valaparthvi commented on #2091
@abhiraut Would you like to add this to the feature blog?  I can add it on your behalf if you still do not have the permissions. If you would like to add this to the feature blog, then please add a placeholder PR as well by **March 30**.

Example of a feature blog PR: https://github.com/kubernetes/website/pull/30538
Example of a feature blog: https://github.com/kubernetes/website/blob/main/content

[2022-03-29 08:41] PI-Victor commented on #1489
Hi @msau42 @davidz627, please have **a docs placeholder PR open by the 31st of March deadline**. This PR can be empty for the time being. Thank you!

[2022-03-29 09:03] PI-Victor commented on #2712
hi @mrunalp, the docs PR placeholder deadline is on the 31st of March, please open a docs placeholder Pr for these changes by then, thank you!

[2022-03-29 09:16] aojea commented on #3070
@valaparthvi https://github.com/kubernetes/website/pull/32606/files

[2022-03-29 12:02] rikatz commented on #2943
Hi folks, sorry.

PR got merged: https://github.com/kubernetes/kubernetes/pull/107963

Thanks

[2022-03-29 12:11] liggitt commented on #2799
Yes

[2022-03-29 12:23] valaparthvi commented on #2943
Hi @rikatz, would you like to have this issue featured in the feature blog? If so, please open up a placeholder PR on kubernetes/website by **March 30** which is our extended feature blog freeze deadline. Also, let me know if you do not have permission to edit the tracking sheet, I can do so on your behalf.

Example of a feature blog PR: https://github.com/kubernetes/website/pull/30538
Example of

[2022-03-29 13:15] liggitt commented on #2799
updated description

[2022-03-29 13:46] humblec commented on #2924
@Jiawei0227 @xing-yang  @encodeflush eventhough I am close to completion of this feature, some more time is required for wrapping it completely which includes the more validation of different scenarios, e2e testing..etc.. considering we are at last hour of code freeze, imo, its better to reconsider for next release. with that, I would like to request to untrack this feature for 1.24 release.

[2022-03-29 16:48] jayunit100 commented on #2578
yup , no k/k PRs , we will track this out of tree, and the only thing we need to track here is once the work is 100% completed, b/c then we will make changes in k/k to consume it in CI

[2022-03-29 18:32] sftim commented on #3140
When we document this, https://github.com/kubernetes/enhancements/pull/3143#discussion_r837782004 strongly suggests to me that we should document how to manage a custom timezone database (via a `hostPath` volume mount or similar), and we should do that unless we have a strong commitment from SIG Release about providing official container images for the controller manager that have the timezone dat

[2022-03-30 00:43] Priyankasaggu11929 commented on #1495
@bswartz, with k/k code implementation PR https://github.com/kubernetes/kubernetes/pull/108736 merged now, the status of the enhancement is `tracked` 🚀. Thank you!

[2022-03-30 01:14] gracenng commented on #1287
1.24 Code Freeze is in effect and this enhancement is removed from the release. Please feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md)

/milestone clear

[2022-03-30 01:17] gracenng commented on #1435
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:22] gracenng commented on #2091
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:22] gracenng commented on #2258
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:25] gracenng commented on #2438
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:26] gracenng commented on #2593
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:29] bswartz commented on #1495
Thanks!

[2022-03-30 01:29] gracenng commented on #2831
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:31] gracenng commented on #2923
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:33] gracenng commented on #3017
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:35] gracenng commented on #3094
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 01:37] gracenng commented on #3107
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

https://github.com/kubernetes/kubernetes/pull/105963 needs approval

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](h

[2022-03-30 01:40] gracenng commented on #2436
Hi, 1.24 Enhancements Lead here 👋. With code freeze now in effect, this enhancement has not met the criteria for the freeze and has been removed from the milestone.

As a reminder, the criteria for code freeze is:

All PRs to the kubernetes/kubernetes repo have merged by the code freeze deadline
Feel free to file an [exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTI

[2022-03-30 09:42] ahmedtd opened #3257 "ClusterTrustBundles (previously Trust Anchor Sets)"
### Enhancement Description

- One-line enhancement description (can be used as a release note):  Define ClusterTrustBundle, a resource for holding X.509 trust anchors
- Kubernetes Enhancement Proposal: [link](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/3257-cluster-trust-bundles)
- Discussion Link: [Draft doc w/ comments](https://docs.google.com/document/d/1fc5ZxHpC0QieVe

[2022-03-30 09:50] ahmedtd commented on #3257
/sig auth

[2022-03-30 13:50] xing-yang commented on #1489
@PI-Victor Doc PR is already merged: https://github.com/kubernetes/website/pull/32495
We are all set for this enhancement.

[2022-03-30 14:44] chrisnegus commented on #2799
Hi @liggitt ! I see that the `LegacyServiceAccountTokenNoAutoGeneration` feature is still listed as needing documentation for 1.24. If that is still true, could you open a placeholder PR against the docs before tomorrow's deadline? Thanks so much!

[2022-03-30 21:34] SergeyKanzhelev commented on #2727
Created the placeholder PR for grpc

[2022-03-30 22:36] chrisnegus commented on #2799
@zshihang Thanks for opening the docs placeholder PR!

[2022-03-31 05:36] liggitt commented on #2887
I opened https://github.com/kubernetes/kubernetes/issues/109177 to track an issue with forward-compatibility of generated clients using language-level enums.

[2022-03-31 06:31] lzhecheng opened #3259 "Avoid updating Services with stale specs"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Fix the bug that service specs in servicesToUpdate may have been updated by clients.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/kubernetes/pull/107631
- Discussion Link:
- Primary contact (assignee): @lzhecheng
- Responsible SIGs: cloud-provider
- Enhancement target (which target

[2022-03-31 06:32] lzhecheng commented on #3259
/sig cloud-provider

[2022-03-31 06:59] thockin commented on #3259
This looks like a bugfix, not sa KEP.  I don't think you need this issue, but I appreciate the effort. :)

[2022-03-31 08:55] lzhecheng commented on #3259
@thockin yes it is a bug fix and it is for an exception request (1.24 code freezed). I think the doc says an issue like this is needed?

[2022-03-31 15:21] chrisnegus commented on #2799
According to [PR #32654](https://github.com/kubernetes/website/pull/32654), documentation has for this KEP has been done in [PR #32339](https://github.com/kubernetes/website/pull/32339) and merged.

[2022-03-31 15:51] PI-Victor commented on #1432
Hi, @xing-yang, since this KEP now made the code freeze, please open a docs placeholder PR, the deadline for it is today (31st of March). Thank you!

[2022-03-31 16:16] sftim commented on #2799
I've raised a bug because I don't think the documentation is done.

[2022-03-31 20:33] jpbetz commented on #2436
/milestone v1.24
due to approved code freeze exception

[2022-03-31 20:34] jpbetz commented on #2436
@gracenng would you set milestone to v1.24 now that the exception has been approved (https://groups.google.com/g/kubernetes-sig-release/c/DLHfVv8MXvE). Thanks!

[2022-03-31 21:34] bridgetkromhout commented on #1435
I missed this and will be filing - thanks.

[2022-03-31 22:28] xing-yang commented on #1432
Doc PR is here: https://github.com/kubernetes/website/pull/32683

[2022-04-01 00:02] bridgetkromhout commented on #1435
Hi @nate-double-u I've opened https://github.com/kubernetes/website/pull/32696 - thanks.

[2022-04-01 01:51] ramanagali opened #3260 "Ephemeral Container kubectl debug prompt issue"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y):
  - Beta release target (x.y):
  - Stable release target (x.y):
- [ ] Alpha
  - [ ] KEP (`k/enhancements

[2022-04-01 01:55] ramanagali commented on #3260
/sig

[2022-04-01 02:21] kerthcet commented on #3094
Exception was rejected and I'd like to merge this one to release 1.25 then.

[2022-04-01 08:58] Priyankasaggu11929 commented on #2436
Thanks @jpbetz, I'm setting the milestone to 1.24.

/milestone v1.24

[2022-04-01 10:10] mehabhalodiya commented on #2896
Hi, @Jefftree, since this KEP now made the code freeze, please open a docs placeholder PR. Thank you!

[2022-04-01 12:59] #1702 closed

[2022-04-01 15:40] Jefftree commented on #2896
https://github.com/kubernetes/website/pull/32509

[2022-04-01 22:11] trierra commented on #2589
1. Provisioned a pvc with the in-tree driver

2. Installed an app and ran some workload

3. Deleted the app, pvc is left provisioned

4. enabled migration

5. created new PVC using old storageclass. Checked that CSI driver has picked up the volume provisioning

6. installed app back using the same PVC. Checked that it works with no issues
[code]

CSI provisioner logs
[code]

[2022-04-01 22:12] trierra commented on #2589
e2e test results
[code]

[2022-04-01 22:18] trierra commented on #2589
PVC resize testing:

[code]

External resizer logs:
[code]

[2022-04-01 22:19] trierra commented on #2589
Storageclass
[code]

[2022-04-01 22:20] trierra commented on #2589
@msau42 above are the test results for review

[2022-04-01 22:21] xing-yang commented on #2589
@trierra This feature is still Alpha:
https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L920

It has missed the code freeze deadline. Please try to target Beta off by default in 1.25 release. For the test results, please provide as part of your code PR, not here in the enhancement issue.  Also we need to have test results from e2e tests.  Thanks.

[2022-04-02 02:17] ramanagali commented on #3260
/sig/cli

[2022-04-02 03:36] #3260 closed

[2022-04-02 08:49] pacoxu commented on #2862
/remove-lifecycle stale
still have no enough time to work on this.

[2022-04-02 13:59] andyzhangx commented on #1490
https://github.com/kubernetes/kubernetes/pull/107681 is already merged, so we could close this issue now? @msau42

[2022-04-02 22:46] gracenng commented on #2086
Adding to the 1.24 enhancements tracking. @MaxRenaud @andrewsykim do y'all need docs for this?

cc @nate-double-u

[2022-04-04 16:35] trierra commented on #2589
@xing-yang thanks for the feedback!

[2022-04-04 16:38] andrewsykim commented on #2086
We might need to update any docs around kube-proxy metrics but nothing else otherwise

[2022-04-04 19:09] nate-double-u commented on #2086
Hi @andrewsykim :wave:

I know that this came in a bit late, but I just wanted to remind you that tomorrow (April 5th) is the deadline for 1.24 Docs Ready for Review. If you haven't yet, Please follow the steps [detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against the `dev-1.24` branch in the `k/website` repo (an

[2022-04-04 21:47] nate-double-u commented on #2712
@mrunalp Reminder that tomorrow (April 5th) is the deadline for 1.24 Docs Ready for Review.

Please open a PR, push your docs content for this enhancement, and remove the work-in-progress label when ready for review.

We have a tight turnaround to getting docs reviewed and approved for the release, and we’re hoping to have all docs in for review by tomorrow. Thank you!

[2022-04-04 21:51] nate-double-u commented on #3141
Hi @RaunakShah, reminder that tomorrow (April 5th) is the deadline for 1.24 Docs Ready for Review.

Please open a PR (and link it back here), push your docs content for this enhancement, and remove the work-in-progress label when ready for review.

We have a tight turnaround to getting docs reviewed and approved for the release, and we’re hoping to have all docs in for review by tomorrow. Thank yo

[2022-04-05 02:38] JamesLaverack commented on #3259
Hey @lzhecheng. Just to confirm, this request isn't nesicarry. We've discussed this in more detail [in Slack](https://kubernetes.slack.com/archives/C2C40FMNF/p1648754494696559), and as https://github.com/kubernetes/kubernetes/pull/107631 is a bug fix it doesn't require a KEP.

Still, thank you for opening the issue and reaching out to the release team!

[2022-04-05 02:38] #3259 closed

[2022-04-05 15:02] Riaankl commented on #1732
Added to [registry.k8s.io (SIG K8S Infra)](https://github.com/orgs/kubernetes/projects/77/views/2) for tracking

[2022-04-05 16:48] xing-yang commented on #3141
Here's the doc PR: https://github.com/kubernetes/website/pull/32673

[2022-04-05 18:20] RaunakShah commented on #3141
@nate-double-u @xing-yang I've removed the WIP label from the doc PR.

[2022-04-05 19:25] chaochn47 opened #3265 "Optional maximum etcd page size on every list requests"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Optional maximum etcd page size on every list requests, reduce etcd OOM-killed incidents.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3252
- Discussion Link:  [2022-02-17 Kubernetes SIG Scalability Meeting](https://www.youtube.com/watch?v=pJt8WfTcw6M) and follow

[2022-04-05 19:26] chaochn47 commented on #3265
/sig scalability

[2022-04-05 21:01] jpbetz commented on #2876
We are keeping this feature in alpha in 1.24. This was planned. This release contained API breaking changes and so a promotion to beta would have been problematic from an API stability perspective.

[2022-04-05 23:52] mrunalp commented on #2712
I have opened https://github.com/kubernetes/website/pull/32771

[2022-04-06 04:22] gracenng commented on #1435
Added this back to the sheet, all set here!

[2022-04-06 16:33] gracenng commented on #2876
Hi @jpbetz, 1.24 Enhancements Lead here. Looks like the `latest-milestone` in the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2876-crd-validation-expression-language/kep.yaml) has not been updated to 1.24.

Assuming there's no code and doc change, please file an exception request for Enhancements Freeze.
Thanks!

[2022-04-06 17:14] soltysh commented on #3254
Closing based on https://github.com/kubernetes/enhancements/pull/3255#issuecomment-1090509558

/close

[2022-04-06 17:14] #3254 closed

[2022-04-06 18:17] cici37 commented on #2876
@gracenng Hi Grace, This KEP update is not for 1.24. We are updating the issue for 1.25 release. So it should be out of the 1.24 track. Thanks for reaching out^

[2022-04-07 03:16] knight42 commented on #3140
@soltysh Hi! Have you been working on this? If not, I am interested in this feature and I would like to implement it!

[2022-04-07 12:47] xing-yang commented on #2644
@encodeflush, we decided to keep this feature in Alpha because e2e test didn't get merged by the test freeze deadline.  All code enhancement PRs are merged and will stay merged.  We just reverted the feature gate to Alpha again.
https://github.com/kubernetes/kubernetes/pull/109362/

[2022-04-07 17:08] #2044 closed

[2022-04-08 12:07] soltysh commented on #3140
@knight42 this merged as alpha in 1.24 see https://github.com/kubernetes/kubernetes/pull/108032 and https://github.com/kubernetes/website/pull/32577 We're planning to promote this further in the next releases.

[2022-04-09 07:29] AkihiroSuda commented on #2033
/remove-lifecycle stale

[2022-04-09 12:28] #2855 closed

[2022-04-09 20:02] ahg-g commented on #785
/remove-lifecycle stale

[2022-04-09 20:02] ahg-g commented on #2891
I think we can declare this done and will graduate to GA with component config.

/close

[2022-04-09 20:03] #2891 closed

[2022-04-09 20:03] ahg-g commented on #2926
/remove-lifecycle stale

[2022-04-10 02:47] kerthcet commented on #785
I'd like to take this as graduate CC to GA, mentioned by @alculquicondor before https://github.com/kubernetes/kubernetes/issues/108444#issuecomment-1057016936

[2022-04-11 00:06] sftim commented on #2943
I'd expect to see a PR that updates https://kubernetes.io/docs/concepts/services-networking/network-policies/

[2022-04-11 06:18] slaskawi opened #3276 "Raw request and response bodies in audit"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Include raw request and response bodies in audit
- Kubernetes Enhancement Proposal:
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/84571
- Primary contact (assignee): @slaskawi
- Responsible SIGs: sig-auth
- Enhancement target (which target equals to which milestone):
  - Alpha rele

[2022-04-11 06:19] pohly commented on #2994
/remove-lifecycle stale

[2022-04-11 06:30] slaskawi commented on #3276
/sig auth
/wg auth
/commitee auth

[2022-04-11 13:07] alculquicondor commented on #2307
/remove-lifecycle stale

I plan to graduate to GA in 1.25

[2022-04-11 13:40] wojtek-t commented on #1040
/remove-lifecycle stale

[2022-04-11 16:07] marosset commented on #1981
/remove-lifecycle stale

[2022-04-11 16:44] lavalamp commented on #2839
/reopen

[2022-04-11 18:05] sftim commented on #2593
This is marked as not tracked, but it looks like a ClusterCIDRConfig API might have been added into v1.24? Is that API part of v1.24 or not? (I'm asking because if it is part of the release, it would need documenting).

[2022-04-11 18:55] nate-double-u commented on #2593
@thockin, @rahulkjoshi could you revisit this? The docs ready deadline is tomorrow (April 12), but because this is coming up again so close to the deadline, I'd be willing to discuss pushing that deadline for this if docs do need to come in.

[2022-04-11 19:09] rahulkjoshi commented on #2593
I think our [above comment](https://github.com/kubernetes/enhancements/issues/2593#issuecomment-1068548119) still stands -- this is an optional API coming in as Alpha without an in-tree controller. We have historically not had documentation for the feature behind this API, so I believe we're ok without any docs for now.

Come beta and if/when we merge an in-tree controller, we'll revisit this dete

[2022-04-12 09:32] sftim commented on #2593
We should document all APIs. Even if they're optional. Even if they're alpha.

We don't need GA-quality docs, but I'm also not satisfied with “nothing”.

[2022-04-12 15:10] JamesLaverack commented on #2593
Revert PR here https://github.com/kubernetes/kubernetes/pull/109436.

[2022-04-12 17:13] saschagrunert commented on #3031
Docs PR got merged, we’re good to go.

[2022-04-12 18:31] xing-yang commented on #3141
We could do that in 1.25.

[2022-04-13 07:45] huoqifeng commented on #3059
/remove-lifecycle stale

[2022-04-14 13:33] dims commented on #3138
/remove-lifecycle stale

[2022-04-15 01:37] MadhavJivrajani commented on #2558
/reopen

[2022-04-15 01:38] MadhavJivrajani commented on #2558
/remove-lifecy rotten

[2022-04-15 01:38] MadhavJivrajani commented on #2558
/remove-lifecycle rotten

[2022-04-15 15:02] yangjunmyfm192085 commented on #3134
/remove-lifecycle stale

[2022-04-18 02:27] Dingshujie commented on #3157
@p0lyn0mial how is feature going? we met a lot of server overloading scene(kube-apiserver oom or master oom), looking forward to this feature. if you need help，you can assign some tasks to me.

[2022-04-19 03:38] denkensk opened #3280 "Guarantee PodDisruptionBudget When Preemption Happens"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Guarantee PodDisruptionBudget When Preemption Happens
- Kubernetes Enhancement Proposal:  https://docs.google.com/document/d/1g2wj8S04M0yTy2t4l4GzrdARtxBpkBTfkJHw0oqBvXM/edit?usp=sharing
- Discussion Link:   https://github.com/kubernetes/kubernetes/issues/91492#issuecomment-1029484252_
- Primary contac

[2022-04-19 03:39] denkensk commented on #3280
/sig scheduling

[2022-04-19 03:40] denkensk commented on #3280
/cc @ahg-g @Huang-Wei @alculquicondor

[2022-04-19 16:49] ahg-g commented on #3280
I will review it this week.

[2022-04-19 18:25] sftim commented on #3215
Is this a KEP bug (and would we triage it as such)?

[2022-04-19 19:08] kikisdeliveryservice commented on #3156
@aojea can you please update the issue to include the kep https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/3156-http3 and complete alpha tasks

[2022-04-19 19:08] kikisdeliveryservice commented on #3156
/remove-lifecycle stale

[2022-04-19 22:01] MikeSpreitzer commented on #3215
@sftim : you got it.

[2022-04-20 03:27] wondywang commented on #2831
Hi @sallyom
a question about Kubelet Tracing. Is there any trace information about the PLEG of the kubelet itself?

[2022-04-20 16:21] tallclair commented on #2579
/remove-lifecycle stale

[2022-04-20 20:50] ehashman commented on #1753
As the KEP stage was already updated and all associated PRs have closed, this issue can now be closed!

/close

[2022-04-20 20:51] #1753 closed

[2022-04-20 20:52] ehashman commented on #2238
/remove-lifecycle stale
/unassign

/milestone v1.25

This should get moved to default Beta = true in 1.25, with this PR being the only necessary change: https://github.com/kubernetes/kubernetes/pull/108541

[2022-04-21 06:45] Monokaix commented on #753
/reopen

[2022-04-21 12:42] Monokaix opened #3284 "Sidecar Container KEP progress"
### Enhancement Description

- One-line enhancement description (can be used as a release note):Prior Sidecar KEP's prerequisite has been satisfied and should move forward.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/753-sidecar-containers
- Discussion Link: https://github.com/kubernetes/community/pull/2148
- Primary contact (assignee):
-

[2022-04-21 12:42] Monokaix commented on #3284
/sig node

[2022-04-21 12:49] dims commented on #3284
@Monokaix No things are still in flux, If you want to drive this forward, please add it to agenda of sig-node and get an OK from them first.

/close

[2022-04-21 17:32] KnVerey commented on #2953
/remove-lifecycle stale

[2022-04-22 16:43] #2668 closed

[2022-04-26 06:16] adrianreber commented on #2008
KEP update PR for 1.25 https://github.com/kubernetes/enhancements/pull/3264

[2022-04-28 15:02] andrewsykim commented on #1672
Closing since this feature went GA in v1.24

/stage stable

[2022-04-28 17:10] dgrisonnet commented on #3048
/unassign @shuaich
/assign @raptorsun

[2022-04-28 17:11] dgrisonnet commented on #3048
/remove-lifecycle stale

[2022-04-28 17:11] raptorsun commented on #3048
/assign

[2022-04-29 05:32] verb commented on #277
/remove-lifecycle stale

[2022-04-29 19:01] mkimuram opened #3285 "Subresource finalizers"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Subresource finalizers
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3286
- Discussion Link: https://github.com/kubernetes/enhancements/pull/2840#discussion_r714180949
- Primary contact (assignee): @mkimuram
- Responsible SIGs: @kubernetes/sig-api-machinery-feature

[2022-05-01 08:48] #2572 closed

[2022-05-01 08:48] #2960 closed

[2022-05-01 14:03] knight42 opened #3288 "Split stdout and stderr log stream of container"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Split stdout and stderr log stream of container
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/3288-separate-stdout-from-stderr
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/28167
- Primary contact (assignee): @knight42
- Res

[2022-05-01 14:06] knight42 commented on #3288
/sig node
/sig api-machinery
/sig cli

[2022-05-01 18:01] BenTheElder commented on #1729
Distroless kube-proxy base image is in-progress.

[2022-05-02 13:15] neolit123 commented on #2915
/remove-lifecycle stale

[2022-05-02 13:17] neolit123 commented on #2067
/remove-lifecycle stale

[2022-05-02 18:57] BenTheElder commented on #2568
with 1.24 pending tomorrow, is this still the current state?

[2022-05-02 19:02] neolit123 commented on #2568
a good summary is here:
https://github.com/kubernetes/kubeadm/issues/2473#issuecomment-1005986114

we are considering user namespaces vs managed non-root users (this)

[2022-05-02 23:51] PushkarJ commented on #3203
/remove-lifecycle stale

[2022-05-03 05:40] kerthcet commented on #3101
/remove-lifecycle stale

[2022-05-03 08:04] pjbgf commented on #24
/remove-lifecycle stale

[2022-05-03 16:30] JeremyOT commented on #1645
/remove-lifecycle stale

[2022-05-03 17:55] mrunalp commented on #24
This came up in node planning. Anyone able to work on this during 1.25?

[2022-05-03 18:45] damemi commented on #2185
@alculquicondor did this ever move to GA?

[2022-05-03 19:00] alculquicondor commented on #2185
/reopen

No, still beta

[2022-05-04 20:02] mkimuram opened #3294 "Provision volumes from cross-namespace snapshots"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Provision volumes from cross-namespace snapshots
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3294-provision-volumes-from-cross-namespace-snapshots
- Discussion Link:  https://docs.google.com/document/d/1-8KEG8AjAgKznS9NFm3qWqkGyCHmvU6HVl0s

[2022-05-05 02:32] yang-wang11 opened #3296 "The plan to disable the in-tree serviceController of cloud-controller-manager"
### Enhancement Description

- One-line enhancement description (can be used as a release note): there have some cloud providers own their LB controller([aws-load-balancer-controller ](https://github.com/kubernetes-sigs/aws-load-balancer-controller/)), not sure is there have any plan to use it instead of [serviceController](https://github.com/kubernetes/kubernetes/tree/release-1.9/pkg/controller/s

[2022-05-05 07:38] matthyx commented on #2872
/remove-lifecycle stale

[2022-05-05 11:43] saschagrunert commented on #135
Started the removal of the annotations in https://github.com/kubernetes/kubernetes/pull/109819

[2022-05-05 13:36] sftim commented on #2371
This enhancement will need docs, even if it doesn't reach beta for a while.

[2022-05-05 16:03] ddebroy commented on #3085
/remove-lifecycle stale

[2022-05-05 18:07] cici37 opened #3297 "Promote CRD Validation Expression Language to beta"
### Enhancement Description

- One-line enhancement description (can be used as a release note):  Expression language can be used to validate custom resources
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/3266
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release ta

[2022-05-05 18:08] cici37 commented on #2876
For better tracking the process of promoting the feature to beta: https://github.com/kubernetes/enhancements/issues/3297

[2022-05-05 18:11] cici37 commented on #3297
/milestone 1.25
/stage beta
/sig api-machinery

[2022-05-05 18:12] cici37 commented on #3297
/milestone v1.25

[2022-05-06 04:19] george-angel commented on #1487
/remove-lifecycle stale

[2022-05-06 14:19] denkensk commented on #3280
The early draft: https://docs.google.com/document/d/1g2wj8S04M0yTy2t4l4GzrdARtxBpkBTfkJHw0oqBvXM/edit?usp=sharing
@ahg-g  Thank you for giving some comments in it if you have time.

[2022-05-06 21:03] xing-yang commented on #1977
/remove-lifecycle stale

[2022-05-08 03:37] yxxhero commented on #3217
/remove-lifecycle stale

[2022-05-09 00:18] ritazh opened #3299 "KMS v2 Improvements"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Introduce KMS v2alpha1 API to add performance, rotation, and observability improvements
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/3299-kms-v2-improvements
- Discussion Link:
  - https://github.com/kubernetes/enhancements/pull/3302
  - Sig Au

[2022-05-09 00:18] ritazh commented on #3299
/sig auth

[2022-05-09 08:08] pierluigilenoci commented on #2021
/remove-lifecycle stale

[2022-05-09 13:55] Priyankasaggu11929 commented on #3136
Hello @deads2k 👋, 1.25 Enhancements team here.

This feature has been **fully implemented** and is now **GA** in K8s version 1.24. 🎉

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/3136-beta-apis-off-by-default/kep.yaml#L8) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle. Thank you

[2022-05-09 13:56] Priyankasaggu11929 commented on #2436
Hello @jiahuif 👋, 1.25 Enhancements team here.

This feature has been **fully implemented** and is now **GA** in K8s version 1.24. 🎉

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/2436-controller-manager-leader-migration/kep.yaml#L18) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cy

[2022-05-09 13:58] Priyankasaggu11929 commented on #2249
Hello @ahg-g 👋, 1.25 Enhancements team here.

This feature has been **fully implemented** and is now **GA** in K8s version 1.24. 🎉

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/2249-pod-affinity-namespace-selector/kep.yaml#L8) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle. Thank

[2022-05-09 14:01] Priyankasaggu11929 commented on #1904
Hello @wojtek-t 👋, 1.25 Enhancements team here.

This feature has been **fully implemented** and is now **GA** in K8s version 1.24. 🎉

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/1904-efficient-watch-resumption/kep.yaml#L8) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle. Thank

[2022-05-09 14:03] Priyankasaggu11929 commented on #1490
Hello @andyzhangx @davidz627  👋, 1.25 Enhancements team here.

This feature has been **fully implemented** and is now **GA** in K8s version 1.24. 🎉

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1490-csi-migration-azuredisk/kep.yaml#L17) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle.

[2022-05-09 14:05] Priyankasaggu11929 commented on #1164
Hello @wojtek-t  👋, 1.25 Enhancements team here.

Since this feature has been **fully deprecated** now in K8s version 1.24.

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/1164-remove-selflink/kep.yaml#L18) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle. Thank you so much! 🙂

[2022-05-09 14:10] andyzhangx commented on #1490
thanks, I have worked out a PR: https://github.com/kubernetes/enhancements/pull/3300

[2022-05-09 14:10] andyzhangx commented on #1490
/close

[2022-05-09 16:47] #1164 closed

[2022-05-09 16:47] #1904 closed

[2022-05-09 18:52] PurelyApplied commented on #1933
Oooof.  Four months late, but yeah, this has been implemented and landed for a good while now.  Relabeling and closing.

/stage implemented

[2022-05-09 21:31] swatisehgal commented on #2403
/remove-lifecycle rotten

[2022-05-09 21:32] swatisehgal commented on #2625
/remove-lifecycle rotten

[2022-05-09 21:38] enj opened #3304 "client-go TLS config"
### Enhancement Description

- One-line enhancement description: client-go TLS config
- Kubernetes Enhancement Proposal: #3309
- Discussion Link:
  - Discussion with SIG API Machinery, https://youtu.be/FthT95lwMM8?t=1050
  - Discussion with SIG Auth, https://youtu.be/BG_LbZOPfxg?t=535
- Primary contact: @enj
- Responsible SIGs: sig-auth
- Enhancement target:
  - Stable release target: TODO
- [ ] S

[2022-05-10 01:41] #2539 closed

[2022-05-10 04:52] Priyankasaggu11929 commented on #3141
/milestone clear

[2022-05-10 04:53] Priyankasaggu11929 commented on #3140
/milestone clear
/tracked no

[2022-05-10 04:54] Priyankasaggu11929 commented on #3077
/milestone clear

[2022-05-10 04:57] Priyankasaggu11929 commented on #3070
/milestone clear

[2022-05-10 04:58] Priyankasaggu11929 commented on #3031
/milestone clear

[2022-05-10 04:58] Priyankasaggu11929 commented on #3022
/milestone clear

[2022-05-10 04:59] Priyankasaggu11929 commented on #2943
/milestone clear

[2022-05-10 05:02] Priyankasaggu11929 commented on #2896
/milestone clear

[2022-05-10 10:33] roberthstrand commented on #3055
I realize that the first step here is to get AWS up and running, but I would like to volunteer myself to work on an Azure implementation whenever needed.

[2022-05-10 13:03] Priyankasaggu11929 commented on #2887
/milestone clear

[2022-05-10 13:18] Priyankasaggu11929 commented on #2232
Hello @ahg-g 👋,  1.25 Enhancements team here.

Since this feature has been fully implemented and is now GA in K8s version v1.24 🎉  (which is also properly updated as `implemeted` in the status of the [`kep.yaml`](https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/2232-suspend-jobs/kep.yaml#L6) file).

I'm closing this issue for the purpose of accurate tracking for v1.25. Thank yo

[2022-05-10 13:19] #2232 closed

[2022-05-10 13:25] Priyankasaggu11929 commented on #2221
Hello @SergeyKanzhelev  👋, 1.25 Enhancements team here.

This KEP was **fully implemented** in K8s version 1.24.

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2221-remove-dockershim/kep.yaml#L8) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle. Thank you so much! 🙂

[2022-05-10 13:40] jeremyrickard commented on #2853
/remove-lifecycle stale

[2022-05-10 13:46] alculquicondor commented on #3022
@sanposhiho, can you graduate to beta in 1.25?

[2022-05-10 14:17] Priyankasaggu11929 commented on #1489
Hello @msau42 @davidz627  👋, 1.25 Enhancements team here.

This feature has been **fully implemented** and is now **GA** in K8s version 1.24. 🎉

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1489-csi-migration-cinder/kep.yaml#L17) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle. Thank

[2022-05-10 14:24] Priyankasaggu11929 commented on #688
Hello @SergeyKanzhelev @egernst 👋, 1.25 Enhancements team here.

This feature has been **fully implemented** and is now **GA** in K8s version 1.24. 🎉

Please update the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/688-pod-overhead/kep.yaml#L25) file's status to `implemented` and close this issue.

This would help accurate tracking in the v1.25 cycle. Thank you so

[2022-05-10 14:27] Priyankasaggu11929 commented on #281
Hello @SergeyKanzhelev 👋, 1.25 Enhancements team here.

This feature was **deprecated** in K8s version 1.24.

Could you please confirm whether the [kep.yaml](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/281-dynamic-kubelet-configuration/kep.yaml#L7) file require any status updates and following that, close this issue?

This would help accurate tracking in the v1.25 cycle. T

[2022-05-10 16:08] sanposhiho commented on #3022
@alculquicondor

Yes, I can work on it.
So, what exactly do we need to do for beta? If there are no feedback or bug reports from users, is it only necessary to update KEP, [kube_features.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go) and docs (comments)?

[2022-05-10 18:49] alculquicondor commented on #3022
And you have to make sure to satisfy all the production readiness requirements https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template#production-readiness-review-questionnaire

[2022-05-11 08:55] ddelange commented on #3189
/remove-lifecycle stale

[2022-05-11 14:31] logicalhan commented on #1965
/remove-lifecycle stale

[2022-05-11 16:55] tallclair commented on #2763
I just noticed this is owned by SIG-Security, but the sig-security charter explicitly states that

https://github.com/kubernetes/community/blob/master/sig-security/charter.md#out-of-scope

I think this feature should probably be owned by SIG-Node, with SIG-Security as a participating SIG.

[2022-05-11 18:47] marosset commented on #2579
Can we try our best to make sure https://github.com/kubernetes/kubernetes/pull/105919 lands in 1.25 too?

We are pursuing having 'PodOS' field go to GA in 1.25 too and without this change users may be unable to schedule Windows pods that specify a `OS=windows` with restricted policies.

For example:
Restricted policy enforces that `ALL` capabilities must be dropped for containers but pods that set

[2022-05-11 19:33] liggitt commented on #2579
yes, I'd expect https://github.com/kubernetes/kubernetes/pull/105919 to be required for GA of the PodOS feature

[2022-05-11 20:31] ravisantoshgudimetla commented on #2579
Yes, that is the goal and this was the PR I mentioned during sig-windows community meeting on Tuesday. We also explicitly mentioned it in [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/2802-identify-windows-pods-apiserver-admission/README.md#changes-to-podsecurity-standards)

`Pod Security Standards are to be changed in 1.25 timeframe to accommodate the supported kub

[2022-05-11 23:08] marosset commented on #2802
/milestone v1.25

We are hoping to GA this enhancement in 1.25

[2022-05-11 23:09] marosset commented on #1981
/milestone v1.25

SIG-Windows is hoping to GA this enhancement in 1.25

[2022-05-12 02:42] knight42 commented on #3288
/milestone v1.25

[2022-05-12 16:37] logicalhan commented on #3134
/close

[2022-05-12 16:38] #3134 closed

[2022-05-12 16:38] logicalhan commented on #3077
@pohly can we close this?

[2022-05-12 16:45] logicalhan commented on #3048
/assign @dgrisonnet

[2022-05-12 16:48] logicalhan commented on #2831
KEP will need to be updated with the new release versions since 1.24 was missed.

[2022-05-12 16:49] logicalhan commented on #1748
/remove-lifecycle rotten

[2022-05-12 16:50] logicalhan commented on #1748
@smarterclayton any plans to graduate this to beta?

[2022-05-12 16:51] logicalhan commented on #1748
If there is no one working on this, we will have to deprecate and remove this stuff. Alternatively, we will need to find someone to graduate this.

[2022-05-12 16:59] logicalhan commented on #383
We need to find an owner for this. This is actually not GA because it's not completely migrated and now we are in a weird position where we use two events APIs.

[2022-05-12 17:30] wojtek-t commented on #383
They are round-trippable across each other, so it's not a bit deal from that POV.
But I agree we should finally finalize this migration...

[2022-05-12 18:30] pohly commented on #3077
We still need to move this feature through beta to GA, so it has to stay open.

No work is planned for 1.25. I suggest we try to go for beta in 1.26.

[2022-05-12 19:03] #2861 closed

[2022-05-13 04:29] ritazh commented on #3221
@palnabarun Are you able to drive this KEP for 1.25?

[2022-05-13 08:05] #3059 closed

[2022-05-13 13:51] xing-yang commented on #2848
/remove-lifecycle rotten

[2022-05-13 13:52] xing-yang commented on #2848
/milestone v1.25

[2022-05-13 13:54] xing-yang commented on #3294
/milestone v1.25

[2022-05-13 13:57] xing-yang commented on #2317
/remove-lifecycle rotten

[2022-05-13 13:59] xing-yang commented on #1790
/milestone v1.25

[2022-05-13 14:00] xing-yang commented on #361
/milestone v1.25

[2022-05-13 14:05] xing-yang commented on #2857
/milestone v1.25

[2022-05-13 14:07] xing-yang commented on #3107
/milestone v1.25

[2022-05-13 19:02] janetkuo commented on #2185
I removed `1.23` from `Stable release target (x.y)` in the issue description to avoid confusion.

[2022-05-13 19:08] janetkuo commented on #2879
@Priyankasaggu11929 I changed the stage to beta. Should we mark this tracked in 1.24?

[2022-05-13 19:23] jsafrane commented on #1487
/milestone 1.25

[2022-05-13 19:28] jsafrane commented on #1487
/milestone v1.25

[2022-05-13 20:58] kikisdeliveryservice commented on #3297
@cici37 You should be using the original issue not creating a new one. Please continue to use: https://github.com/kubernetes/enhancements/issues/2876 and close this one. Thanks!

[2022-05-13 20:59] kikisdeliveryservice commented on #2876
This issue should remain open until the feature is delivered to GA. Please continue to use this to track beta and GA @cici37 .

[2022-05-13 21:41] cici37 commented on #3297
Thanks for sharing the info. Will reuse the previous issue based on comments

[2022-05-13 21:41] #3297 closed

[2022-05-13 21:41] cici37 commented on #2876
/milestone v1.25
Thanks for the clarification!

[2022-05-14 15:16] palnabarun commented on #3221
@ritazh -- yes, I am going to drive this in 1.25.

[2022-05-17 17:59] phuongatemc opened #3314 "CSI Differential Snapshot for Block Volumes"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add Differential Snapshot to CSI to provide a common method get differential snapshots of two arbitrary CSI VolumeSnapshots for PersistentVolumes that are backed by Block volumes in the backend storage.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-s

[2022-05-17 18:00] xing-yang commented on #3314
/wg data-protection

[2022-05-17 23:33] chrishenzie commented on #2485
/remove-lifecycle stale

[2022-05-18 00:46] gjkim42 commented on #2595
/lifecycle stale

[2022-05-18 00:47] gjkim42 commented on #2595
/remove-lifecycle stale

[2022-05-18 16:55] jingxu97 commented on #1790
/assigne @gnufied

[2022-05-23 05:49] robscott commented on #2433
/remove-lifecycle stale
/lifecycle frozen

[2022-05-23 08:17] rufreakde commented on #3219
/remove-lifecycle stale

[2022-05-23 14:10] rata opened #3317 "Add support for user namespaces"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add support for user namespaces in pods
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/127-user-namespaces/README.md
- Discussion Link:  This was discussed in several sig-node meetings, most notable Nov 2 2021 and in this PR, that feedback was i

[2022-05-23 14:11] rata commented on #3317
/sig node

[2022-05-23 21:26] xing-yang commented on #1432
/milestone v1.25

[2022-05-23 21:27] xing-yang commented on #1979
/remove-lifecycle stale

[2022-05-23 21:33] xing-yang commented on #625
/milestone v1.25

[2022-05-23 21:39] xing-yang commented on #1885
/milestone v1.25

[2022-05-23 21:40] xing-yang commented on #1491
/milestone v1.25

[2022-05-23 21:43] xing-yang commented on #1488
/remove-lifecycle stale

[2022-05-23 21:45] xing-yang commented on #2923
/milestone v1.25

[2022-05-23 21:47] xing-yang commented on #2924
/milestone v1.25

[2022-05-23 21:56] xing-yang commented on #2268
/milestone v1.25

[2022-05-24 03:44] RaunakShah commented on #3141
Updated the KEP description to target beta in 1.26 (as opposed to 1.25).

[2022-05-25 00:02] vinaykul commented on #2273
/close

KEP 2273 is being merged with KEP 1287 and tracked by issue #1287

[2022-05-25 00:02] #2273 closed

[2022-05-26 06:57] JohnRusk commented on #3157
@Dingshujie BTW, if you have more than a few hundred nodes, then this fix will probably help to reduce API server load https://github.com/kubernetes/kubernetes/pull/109381 . (If you have more than a few thousand nodes it will _definitely_ help).  It solves a bug where the kubelets would keep doing the same listing calls over and over again (typically immediately after a restart of the API server).

[2022-05-26 18:37] mlieberman85 commented on #3027
Related proposal from CNCF that might be able to help here: https://github.com/cncf/tag-security/issues/890

[2022-05-27 05:38] Dingshujie commented on #3157
@JohnRusk thanks, i already  cherry-pick this to 1.23 branch. but this fixs can't slove the situation that custom-defined operator list issues.
and finally expect all list from watch cache

[2022-05-27 06:46] saschagrunert commented on #3027
We still have to define which deliverables will land in v1.25, especially in combination with the signing KEP.

[2022-05-27 20:46] danwinship commented on #3178
/remove-lifecycle rotten

[2022-05-29 08:39] kerthcet opened #3322 "Add a new field maxRestartTimes to podSpec when running into RestartPolicyOnFailure"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add a new field maxRestartTimes to podSpec when running into RestartPolicyOnFailure
- Kubernetes Enhancement Proposal:  [WIP]
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/65797
- Primary contact (assignee): @kerthcet
- Responsible SIGs:
  - sig/node
  - sig/apps
- Enhancement tar

[2022-05-29 08:40] kerthcet commented on #3322
/sig node
/sig apps

[2022-05-29 08:44] kerthcet commented on #3322
I think the goal of the KEP is clearly as the title describes, and the KEP is also on the way. Just want to make sure whether this feature will be accepted on top design.
/assign

[2022-05-29 16:18] phenixblue commented on #1815
/remove-lifecycle stale

[2022-05-30 04:42] thesuperzapper commented on #2255
/remove-lifecycle rotten

[2022-05-30 05:30] Priyankasaggu11929 commented on #596
Hello @dobsonj @saad-ali  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/k

[2022-05-30 05:44] Priyankasaggu11929 commented on #625
Hello  @davidz627 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN

[2022-05-30 06:51] Priyankasaggu11929 commented on #361
Hello @jingxu97 @vishh 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps

[2022-05-30 07:05] Priyankasaggu11929 commented on #1710
Hello @jsafrane  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-k

[2022-05-30 07:18] Priyankasaggu11929 commented on #3294
Hello @mkimuram  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-k

[2022-05-30 07:28] Priyankasaggu11929 commented on #2579
Hello @tallclair  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN

[2022-05-30 08:48] Atharva-Shinde commented on #1432
tracked/yes

[2022-05-30 08:50] Atharva-Shinde commented on #1432
/tracked/yes

[2022-05-30 08:58] Atharva-Shinde commented on #1432
/tracked yes

[2022-05-30 10:38] nabokihms opened #3325 "Auth API to get self user attributes"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Auth API to get self user attributes
- Kubernetes Enhancement Proposal:
- Discussion Link:
  - Internal sig-auth Slack discussion https://kubernetes.slack.com/archives/C0EN96KUY/p1647544566605239
  - Sig-AUTH Bi-Weekly Meeting for 20220511 https://youtu.be/E4NJcGYTUis?t=120
- Primary contact (assignee)

[2022-05-30 10:41] nabokihms commented on #3325
/sig auth

[2022-05-30 18:23] alculquicondor commented on #1258
Thanks @kerthcet for graduating this feature!

/close

[2022-05-30 18:23] #1258 closed

[2022-05-31 01:18] kerthcet commented on #3063
/remove-lifecycle stale

[2022-05-31 06:28] youngnick commented on #2527
Looks like this one is actually done now?

@thockin thoughts?

[2022-05-31 08:54] klueska opened #3327 "Add CPUManager policy option to align CPUs by Socket instead of by NUMA node"
### Enhancement Description

- One-line enhancement description (can be used as a release note):
Add CPUManager policy option to align CPUs by Socket instead of by NUMA node

- Kubernetes Enhancement Proposal:
https://github.com/kubernetes/enhancements/pull/3334

- Discussion Link:
There is no public discussion of this. Only private slack messages with @fromanirh and @swatisehgal

- Primary contac

[2022-05-31 15:37] ritazh commented on #3299
/triage accepted

[2022-06-01 05:36] MadhavJivrajani commented on #3163
/remove-lifecycle rotten

[2022-06-01 07:00] kerthcet opened #3328 "Add field queueName to batch/v1.Job spec"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add field queueName to batch/v1.Job spec
- Kubernetes Enhancement Proposal:  [WIP] https://github.com/kubernetes/enhancements/pull/3397
- Discussion Link:  https://github.com/kubernetes/kubernetes/issues/106886
- Primary contact (assignee): @kerthcet
- Responsible SIGs:
  -  sig/apps
  - sig/scheduling

[2022-06-01 07:01] kerthcet commented on #3328
/sig apps scheduling

[2022-06-01 17:36] alculquicondor opened #3329 "Retriable and non-retriable Pod failures for Jobs"
### Enhancement Description

- One-line enhancement description (can be used as a release note): An API to influence retries based on exit codes and/or pod deletion reasons.
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-apps/3329-retriable-and-non-retriable-failures
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/17244
- Primary contact (assignee):

[2022-06-01 17:37] alculquicondor commented on #3329
/sig apps
/wg batch

[2022-06-02 00:09] tallclair commented on #2579
Test details were added in https://github.com/kubernetes/enhancements/pull/3310

(Grudgingly) added the check box in https://github.com/kubernetes/enhancements/pull/3330

[2022-06-02 07:52] mimowo commented on #3329
/assign

[2022-06-02 13:44] xing-yang commented on #1979
/remove-lifecycle stale

[2022-06-02 14:27] nabokihms opened #3331 "Structured Authentication Config"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Structured Authentication Config
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/3331-structured-authentication-configuration)
- Discussion Link:
  - Slack post - https://kubernetes.slack.com/archives/C0EN96KUY/p1638208007167400
  - Google d

[2022-06-02 14:27] nabokihms commented on #3331
/sig auth

[2022-06-02 15:35] jsafrane opened #3333 "Retroactive default StorageClass assignement"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Retroactive default StorageClass assignement.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/3333-retroactive-default-storage-class/README.md
- Discussion Link: https://docs.google.com/document/d/1k1r_h-CW-Oqsh3PX-Qb5jpjyt1taKLGbUhHvSpvVOYo/e

[2022-06-02 15:35] jsafrane commented on #3333
/sig storage

[2022-06-02 16:32] #2263 closed

[2022-06-02 16:48] arpitsardhana commented on #3327
PR for above enhancement: https://github.com/kubernetes/enhancements/pull/3334

[2022-06-02 17:50] alculquicondor commented on #3022
did you make any progress?

[2022-06-03 00:33] #2775 closed

[2022-06-03 06:10] pwschuurman opened #3335 "Allow StatefulSet to control start replica ordinal numbering"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Added a feature that allows a StatefulSet to start numbering replicas from an arbitrary non-negative ordinal, using the `.spec.ordinals.start` field.
  - [KEP-3335 Link](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/3335-statefulset-slice)
  - KEP-3335 PR: https://github.com/kube

[2022-06-03 06:54] R-Studio commented on #661
Any news?

[2022-06-03 06:55] jasonbraganza commented on #1790
Hello @gnufied  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `beta` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep

[2022-06-03 07:29] jasonbraganza commented on #2317
Hello @gnufied  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-k

[2022-06-03 07:57] jasonbraganza commented on #2799
Hello @zshihang   👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Q: Would you kindly help me understand, what stage does the KEP target in the 1.25 release cycle? Is it staying in `beta` or targeting `stable`?

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github

[2022-06-03 09:15] jasonbraganza commented on #2848
Hello @Elbehery, @mkimuram  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/

[2022-06-03 12:34] #2347 closed

[2022-06-03 21:42] sanposhiho commented on #3022
Not yet. will work on this this weekend. 🙏

[2022-06-03 23:49] Jiawei0227 commented on #625
Hey @Priyankasaggu11929 , I will update the kep with the latest template.

[2022-06-04 10:54] Namanl2001 commented on #2464
/remove-lifecycle rotten

[2022-06-04 17:42] rhockenbury commented on #1487
👋 Hello @leakingtapan,

1.25 Enhancements team here.  Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `i

[2022-06-04 17:49] rhockenbury commented on #1488
👋 Hello @davidz627,

1.25 Enhancements team here.  Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `impl

[2022-06-04 17:58] rhockenbury commented on #1981
👋 Hello @marosset,

1.25 Enhancements team here.  Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `imple

[2022-06-04 18:06] rhockenbury commented on #2258
👋 Hello @aravindhp,

1.25 Enhancements team here.  Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Can you confirm this KEP is targeting `alpha` in v1.25?

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the

[2022-06-04 18:13] rhockenbury commented on #2802
👋 Hello @ravisantoshgudimetla,

1.25 Enhancements team here.  Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is mark

[2022-06-04 18:20] rhockenbury commented on #2923
👋 Hello @humblec,

1.25 Enhancements team here.  Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `implem

[2022-06-04 18:24] rhockenbury commented on #2924
👋 Hello @humblec,

1.25 Enhancements team here.  Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been merged into the k/enhancements repo.
- [X] KEP status is marked as `implem

[2022-06-05 00:07] gaby commented on #127
Is this still on track for 1.25 ?

[2022-06-05 01:49] remram44 commented on #127
/remove-lifecycle stale

[2022-06-05 11:53] #3028 closed

[2022-06-05 11:53] #3073 closed

[2022-06-05 18:55] #3083 closed

[2022-06-06 00:00] #2157 closed

[2022-06-06 00:00] #2674 closed

[2022-06-06 00:01] #2610 closed

[2022-06-06 00:01] #2634 closed

[2022-06-06 00:01] #2136 closed

[2022-06-06 03:06] pacoxu commented on #2505
https://github.com/pacoxu/kubeadm-operator/issues/53 I did some init implementation for `upgrade and certs renew`.

I got a problem to implement the kubeadm operator.
1.  how to restart kubelet? It is not suggested to run `systemctl restart kubelet` inside a pod for security concerns.
2. I got a problem to replace the kubelet bin when kubelet is running.(file busy)

If kubelet is not restarted, th

[2022-06-06 03:54] chendave commented on #2505
@pacoxu  I am also working on this, all those work for my side are still under internal maintained. It's okay for you to join in but we'd better to sync with each other to avoid the duplicated effort on this.

our work is based on @fabriziopandini's POC, how about yours?

This is indeed an issue, so far it is fine since kubelet 1.24 will continue to work with apisever 1.25, but this must be taken

[2022-06-06 04:33] pacoxu commented on #2505
https://github.com/pacoxu/kubeadm-operator/issues/2 The same. The POC was removed from kubeadm code base in https://github.com/kubernetes/kubeadm/pull/2342.

[2022-06-06 06:29] chendave commented on #2505
cc @ruquanzhao for awareness, we need to figure out a solution on the upgrade of `kubelet` as well.

[2022-06-06 06:46] george-angel commented on #1669
/remove-lifecycle stale

[2022-06-06 07:13] neolit123 commented on #2505
big +1 for multiple people collaborating on this. happy to help with more ideas / review when needed.

i don't think there is an API to restart kubelet.
then again that would restart a particular kubelet and we want to upgrade it too.

this sounds like one of the ways to do it. i don't think i have and significantly better ideas right now.
e.g. we could (somehow) deploy scripts on the hosts that m

[2022-06-06 07:45] pacoxu commented on #2505
I can build the workaround into a script.

If we restart kubelet inside pod, I tried to mount `/run/systemd` & `/var/run/dbus/system_bus_socket` and `/sys/fs/cgroup` to the agent, but the `systemctl restart kubelet` still failed. I am not sure what I missing.

[2022-06-06 12:11] jasonbraganza commented on #3314
Hello @phuongatemc  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNN

[2022-06-06 12:57] ravisantoshgudimetla commented on #2802
Hi @rhockenbury [KEP](https://github.com/kubernetes/enhancements/pull/3303) has updated test plan - Can you take a look. I can ask folks from prod readiness to review it then.

[2022-06-06 13:10] jasonbraganza commented on #3333
Hello @jsafrane, @RomanBednar    👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/ma

[2022-06-06 14:41] marquiz commented on #3008
/remove-lifecycle stale

[2022-06-06 16:12] ritazh commented on #2133
@Priyankasaggu11929 Should we track this for 1.25 milestone? Has there been any review from sig auth so far?

[2022-06-06 16:19] ritazh commented on #3130
/milestone clear
This can be closed once https://github.com/kubernetes/enhancements/pull/3302 is merged.

[2022-06-06 16:22] enj commented on #3130
/milestone clear

[2022-06-06 16:22] enj commented on #3299
/milestone v1.25

[2022-06-06 16:24] jackfrancis commented on #1972
/remove-lifecycle rotten

cc @andrewsykim @SergeyKanzhelev in case we want to queue this up for 1.25

[2022-06-06 16:36] ritazh commented on #3221
Hi @palnabarun, any progress on this KEP? Just checking in as enhancements freeze is at 18:00 PST on Thursday June 16, 2022.

[2022-06-06 16:48] Priyankasaggu11929 commented on #2133
Hello @ritazh, I think the ping was meant for @andrewsykim (primary contact of the enhancement). Thank you. 🙂

[2022-06-06 17:17] Atharva-Shinde commented on #1432
Hello @xing-yang  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `beta` for 1.25 release

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has be

[2022-06-06 17:22] marosset commented on #1491
Hello @divyenpatel and @xing-yang 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `<insert-stage-here>` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhan

[2022-06-06 17:34] marosset commented on #2885
Hello @kevindelgado 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `<insert-stage-here>` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [x] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/m

[2022-06-06 18:09] Atharva-Shinde commented on #1432
Hello @xing-yang  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `beta` for 1.25 release

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has be

[2022-06-06 18:37] Atharva-Shinde commented on #1885
Hello @andyzhangx   👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 release

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) ha

[2022-06-06 18:51] Atharva-Shinde commented on #2268
Hello @xing-yang 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `beta` for 1.25 release

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has bee

[2022-06-06 19:18] Atharva-Shinde commented on #1885
Hello @andyzhangx   👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 release

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) ha

[2022-06-06 19:23] Atharva-Shinde commented on #1885
Hello @andyzhangx   👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 release

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) ha

[2022-06-06 19:35] Atharva-Shinde commented on #3107
Hello @humblec 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.25 release

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template) has been

[2022-06-06 20:26] Jiawei0227 commented on #625
Hey @Priyankasaggu11929 , I updated the test plan in the PR mentioned above.

One question I have tho, this KEP has already gone GA in the previous release. Is there anything I need to do this release as well?

[2022-06-07 01:38] JamesLaverack opened #3344 "Release Team Roster"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Refine the Kubernetes Release Team selection process to provide better steam stability.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3347
- Discussion Link: https://github.com/kubernetes/sig-release/discussions/1714
- Primary contact (assignee): @JamesLaverack
- Re

[2022-06-07 02:42] rhockenbury commented on #1488
Hi @mattcary - Yes, the PRR looks to be all set.  Once the test plan section is updated, that will take care of all requirements on this KEP for enhancement freeze and this enhancement will be tracked for the release.  After enhancement freeze, the next deadline is code freeze on 18:00 PDT Tues 2nd Aug where all code for k/k needs to be merged.  Let me know if you have any more questions.

[2022-06-07 02:45] rhockenbury commented on #2802
@ravisantoshgudimetla Yes, it looks like all requirements for enhancement freeze will be met once #3303 is merged.

[2022-06-07 02:50] pacoxu commented on #1029
I am not sure if there are some further things I can do to accelerate the promotion.

[2022-06-07 03:23] humblec commented on #3107
@Atharva-Shinde ok, let me update the test plan section  ,that should be it

[2022-06-07 05:11] Priyankasaggu11929 commented on #625
Hello @Jiawei0227, thanks so much for updating the KEP's Test Plan section real quick. 🙂

Not sure I'm the right person to answer the above bit. @xing-yang, could you please add context to ^ ? Thank you so much!

[2022-06-07 10:59] wojtek-t commented on #127
I strongly believe that even though the KEP changed visibly, we shouldn't be creating a new issue for the same thing. We should reuse the existing one, just update the KEP...

[2022-06-07 11:11] rata commented on #127
@wojtek-t why is that?

We (the new KEP authors) can't modify and update this issue as required and sig-node suggested to create a new one (even the title of this issue is not really accurate).

[2022-06-07 14:25] remram44 commented on #127
Thanks I will follow that one instead. It would be great to have this supported by kubelet, I currently have to run a separate Docker-in-Docker daemon and that's very clunky (no resource accounting, scheduling, etc)

[2022-06-07 14:33] wojtek-t commented on #127
It's much easier to look through the history of what was happening if there is all discussion in one place (single issue, single KEP, etc.)

I'm happy to to update the issue/title if you provide me the data to update it :)

[2022-06-07 16:20] rata commented on #127
@wojtek-t okay, let's do that then. Please update this issue with the data from https://github.com/kubernetes/enhancements/issues/3317#issue-1245229943 ? The title and the issue content.

[2022-06-07 17:34] mattcary commented on #1488
Makes sense. https://github.com/kubernetes/enhancements/pull/3351 created

[2022-06-07 18:44] Jefftree opened #3352 "Aggregated Discovery"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Aggregated Discovery
- Kubernetes Enhancement Proposal: [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/3352-aggregated-discovery/README.md)
- Discussion Link:
- Primary contact (assignee): @Jefftree
- Responsible SIGs: SIG API Machinery, SIG CLI
- Enhancement target

[2022-06-07 18:49] Jefftree commented on #3352
/sig api-machinery
/sig cli

[2022-06-07 21:11] Jiawei0227 commented on #1488
I think another action item is to lock down the feature gate. And enable intreeGCEUnregistry on by default?

[2022-06-08 06:14] #695 closed

[2022-06-08 07:20] wojtek-t commented on #3317
Closing - we're going to track that in #127

[2022-06-08 07:20] #3317 closed

[2022-06-08 07:21] wojtek-t commented on #127
done
I also clsoed https://github.com/kubernetes/enhancements/issues/3317 as we're going to track that here.

[2022-06-08 11:44] hanamantagoudvk opened #3356 "To add username option for kubectl exec command and CRI update"
### Enhancement Description

- One-line enhancement description (can be used as a release note): To add username option for kubectl exec command and CRI update
- Kubernetes Enhancement Proposal:
- Discussion Link:
- Primary contact (assignee):
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y): 1.25
  - Beta release target (x.

[2022-06-08 14:00] andyzhangx commented on #1885
we are targeting CSI migration GA on 1.25, here is the k/k PR: https://github.com/kubernetes/kubernetes/pull/110458

[2022-06-08 17:54] soltysh commented on #1591
/milestone v1.25
/stage stable

[2022-06-08 17:57] soltysh commented on #2599
/milestone v1.25
/stage stable

[2022-06-08 18:36] soltysh commented on #3140
/milestone v1.25
/stage beta

[2022-06-08 22:18] reylejano commented on #1847
/remove-lifecycle stale
There's an open PR to update the KEP for beta in 1.25 in PR https://github.com/kubernetes/enhancements/pull/3193

[2022-06-09 03:50] Priyankasaggu11929 commented on #2579
Thanks so much for the very quick update @tallclair. 🙂

With the PR https://github.com/kubernetes/enhancements/pull/3330 merged & Test Plan Section updated, the KEP is all ready for the upcoming enhancements freeze. 🚀

For note, the status of the enhancement is now `tracked` in the 1.25 enhancement tracking sheet. Thank you!

[2022-06-09 04:32] Priyankasaggu11929 commented on #3070
/milestone v1.25

[2022-06-09 05:25] wojtek-t commented on #1440
/remove-lifecycle rotten

[2022-06-09 05:41] Priyankasaggu11929 commented on #2589
Hello @trierra  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `beta` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands: (updated on June 9, 2022)

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements

[2022-06-09 05:44] Priyankasaggu11929 commented on #2876
Hello @jpbetz @cici37  👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `beta` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands: (updated on June 9, 2022)

- [X] KEP file using the [latest template](https://github.com/kubernetes/enhan

[2022-06-09 05:52] Priyankasaggu11929 commented on #3299
Hello @ritazh 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `alpha` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands: (updated on June 9, 2022)

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/

[2022-06-09 06:02] wojtek-t commented on #127
/milestone v1.25

[2022-06-09 07:24] parul5sahoo commented on #127
Hello @rata 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `<insert-stage-here>` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [ ] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master/ke

[2022-06-09 09:21] denkensk opened #3370 "Add Native PodGroup API"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Add Native PodGroup API
- Kubernetes Enhancement Proposal:
- Discussion Link:  https://docs.google.com/document/d/16yLngEOd6x3IS6ejkclrCdmkDYfxtTyr97a7uNug_wA/edit?usp=sharing
- Primary contact (assignee): @denkensk
- Responsible SIGs: sig-scheduling
- Enhancement target (which target equals to which m

[2022-06-09 09:21] denkensk commented on #3370
/sig scheduling
/wg batch

[2022-06-09 09:30] denkensk commented on #3243
/assign

[2022-06-09 09:39] rata commented on #127
@parul5sahoo well, it happened faster. Now all the check boxes you mentioned are done :)

[2022-06-09 10:41] parul5sahoo commented on #127
@rata apologies for the misunderstanding created because of that, it was the first time I did reach out to a KEP owner as an Enhancements shadow, thank you for understanding and verifying it.

[2022-06-09 10:45] rata commented on #127
@parul5sahoo no problem, I understood everything! And thanks again :)

[2022-06-09 12:13] soltysh commented on #1440
/milestone v1.25
/stage beta

[2022-06-09 14:52] rhockenbury commented on #1487
Hello @leakingtapan @wongma7 @jsafrane - Enhancements freeze is one week away.  Please be sure to complete all requirements (noted in my comment above) before enhancements freeze to be included in v1.25.

[2022-06-09 14:59] Priyankasaggu11929 commented on #1710
Thanks for the update @jsafrane 🙂

No yet, the team do a manual check through the KEPs :)

With the KEP PR https://github.com/kubernetes/enhancements/pull/3348 merged now, this enhancements is all good for the upcoming enhancements freeze 🚀

For note, the status of the enhancement is now marked as `tracked`.

[2022-06-09 15:22] gnufied commented on #2317
@jasonbraganza I am terribly sorry but - Imeand @bertinatto both do not have necessarily cycles to implement this in 1.25. We are going to work on moving this feature to GA in 1.26

[2022-06-09 15:31] alculquicondor commented on #3329
/sig scheduling
/sig api-machinery

[2022-06-09 16:21] kevindelgado commented on #2885
Hi @marosset, https://github.com/kubernetes/enhancements/pull/3319/files is now merged, everything should be set now for enhancements freeze.

[2022-06-09 18:16] marosset commented on #2599
Hello @ravisantoshgudimetla 👋, 1.25 Enhancements team here.

Just checking in as we approach **enhancements freeze on 18:00 PST on Thursday June 16, 2022**.

For note, This enhancement is targeting for stage `stable` for 1.25 (correct me, if otherwise)

Here's where this enhancement currently stands:

- [x] KEP file using the [latest template](https://github.com/kubernetes/enhancements/tree/master