[2019-11-30 14:27] morganchristiansson commented on #536
Cross-AZ traffic is not free and currently there's not really any tools to avoid it in Kubernetes.

Amazon bills $0.02 per gb: https://www.lastweekinaws.com/blog/aws-cross-az-data-transfer-costs-more-than-aws-says/

Topology aware routing will be great feature to keep data transfers free by preferring pods within the same AZ.

[2019-12-01 04:56] imroc commented on #536
Yes, Cross-AZ traffic is usually not free in most cloud vendors. Let's look forward to this feature.

[2019-12-01 04:58] imroc commented on #536
/assign

[2019-12-01 04:59] imroc commented on #536
/assign @johnbelamaric @andrewsykim

[2019-12-01 05:27] imroc commented on #536
I'm going to update the KEP, but I found something about how to implement headless service needs to be rethought and discussed.

The initial design was that the dns server watch `PodLocator` to get the node label(topology information) of both client and the backend Pods: `When a client/pod request a headless service domain to DNS server, dns server will retrieve the node labels of both client and

[2019-12-02 14:51] yanniszark commented on #5
Hi all,
This is a very interesting discussion and we are currently looking for solutions to secure Pod creation in Kubernetes clusters.

We have taken a look at both OPA Gatekeeper and PodSecurityPolicies, as well as the effort to reimplement PSP in OPA constraints.
The fundamental issue we found with this comparison is that we are dealing with two opposite models.
* OPA Gatekeeper follows the ope

[2019-12-02 15:52] yastij commented on #1103
/remove-lifecycle stale

[2019-12-02 20:51] seans3 commented on #1339
/assign @justinsb

[2019-12-04 01:02] seans3 commented on #1339
/assign @cheftako

[2019-12-04 20:55] justaugustus commented on #1195
Opened https://github.com/kubernetes/org/pull/1458 to create a team w/ admin access to the repo.

[2019-12-04 21:45] justaugustus commented on #1195
Thanks again for the heads up, @cjwagner!
Above PR has merged, [@cblecker granted admin access to the team](https://kubernetes.slack.com/archives/C1L57L91V/p1575495630011100?thread_ts=1575493271.010300&cid=C1L57L91V), and I've enabled squash merging for the repo.

/close

[2019-12-04 21:45] #1195 closed

[2019-12-05 19:30] mtaufen opened #1393 "Provide OIDC discovery for service account token issuer"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Provide OIDC discovery endpoints for the API server's service account token issuer.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/1393-oidc-discovery
- Associated Pull Requests:
  - [x] Feature, unit and integration tests: https://github.com/kubern

[2019-12-05 19:30] mtaufen commented on #1393
/sig auth

[2019-12-05 19:30] mtaufen commented on #1393
/assign @mtaufen

[2019-12-05 19:30] mtaufen commented on #1393
/milestone 1.18

[2019-12-05 20:03] tallclair commented on #5
The different approaches definitely make migration more complicated. We're exploring different ways to make the transition smoother.

In a perfect world, I agree that deny-all-by-default is the more secure approach. However, it's one of the things that makes PSP so difficult to use and roll out. In practice, I think gradually ratcheting down permissions is more feasible, and as the old adage goes

[2019-12-05 20:10] zetaab commented on #600
@pbarker @tallclair @liggitt what is status of this Enhancement? If I read previous comments it makes me feel is this feature going to beta at all? I see this feature very useful and would like to see it in beta. Could we push this forward and get this to 1.18?

[2019-12-05 22:08] tallclair commented on #600
I agree this feature needs a roadmap. I would say that at the moment, it's future is unknown. Can you share a little more about why you think it's useful, and how you plan to to use it?

[2019-12-05 22:12] pbarker commented on #600
VMware bought Heptio and this got put on the back burner as we integrated. We are now coming back around to it with more resources and will probably begin work on it early next year.

[2019-12-06 05:16] tamalsaha commented on #600
I have been quietly (well, I pinged pbarker a few times since he was working on it earlier this year.) following and waiting for this feature. We build a few k8s operators and we need this feature to do reliable and trusted usage-based-billing.

@tallclair , I thought you were working on it https://groups.google.com/forum/#!msg/kubernetes-sig-auth/Ha0C4cladCQ/JhAaOKBhFAAJ .

We don't have the reso

[2019-12-06 18:42] tallclair commented on #600
More eyes on designs & KEPs is definitely helpful. Watching this issue, attending sig-auth and the mailing list is probably the best way to keep up.

Unfortunately I don't have time to be actively working on this outside of design reviews.

[2019-12-06 23:32] msau42 commented on #557
All the work to make the feature GA in 1.17 is done.
/close

[2019-12-10 07:29] wojtek-t commented on #1152
This KEP has been implemented and released in 1.17. Closing.

[2019-12-10 07:29] #1152 closed

[2019-12-10 14:23] #589 closed

[2019-12-10 17:18] michaelgugino opened #1403 "Implement Node Maintenance Lease for disruptive operations"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Implement Node Maintenance Lease to coordinate disruptive node maintenance operations
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alph

[2019-12-10 17:19] michaelgugino commented on #1403
/sig node

[2019-12-10 17:19] michaelgugino commented on #1403
/sig cluster-lifecycle

[2019-12-10 18:13] #956 closed

[2019-12-10 18:41] CharlieTLe commented on #563
And it's live!

[2019-12-10 23:06] ixdy commented on #714
/close

[2019-12-10 23:06] #714 closed

[2019-12-11 07:21] ankitnayan commented on #497
How do you folks currently see the usage of pvc?

[2019-12-11 21:02] blakebarnett commented on #497
I think the plan is to rely on plugins for this: https://github.com/yashbhutwala/kubectl-df-pv

[2019-12-12 10:10] draveness commented on #625
Hi @davidz627, do we have the plan to graduate this feature to GA In 1.18? We could remove some predicates in the scheduler after graduation. https://github.com/kubernetes/kubernetes/issues/82375

[2019-12-12 18:58] davidz627 commented on #625
@draveness unfortunately we do not intend to graduate this feature to GA in `1.18` at this time. Our current target is going to be `1.19`.

[2019-12-17 08:55] wojtek-t opened #1412 "Immutable Secrets and ConfigMaps"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow for specifying Secrets and ConfigMaps as immutable
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1412-immutable-secrets-and-configmaps/README.md
- Primary contact (assignee): wojtek-t
- Responsible SIGs: sig-storage, sig-node, sig-scalabil

[2019-12-17 08:56] wojtek-t commented on #1412
/sig storage
/sig node
/sig scalability

@saad-ali

[2019-12-17 08:56] wojtek-t commented on #1412
/stage alpha

[2019-12-18 08:26] wojtek-t commented on #1412
@palnabarun - KEP has just been approved as implementable; can we start tracking it?

[2019-12-18 09:41] palnabarun commented on #1412
Hi @wojtek-t , the 1.18 Enhancements team will reach out when the release cycle for 1.18 begins to flip the tracked status and set the milestone.

Thank you for the updates on this enhancement.

[2019-12-20 20:35] posix4e commented on #671
I was curious what the status is here?

[2019-12-21 18:33] neolit123 commented on #1177
/lifecycle frozen

[2019-12-21 22:18] pohly commented on #596
Nothing changed in 1.17, still beta as in 1.16.

Personally I think we cannot consider this done until we at least have solved capacity tracking (https://github.com/kubernetes/enhancements/pull/1353) because some kinds of ephemeral inline volumes (those which consume significant amount of storage) are very hard to use reliably otherwise.

/remove-lifecycle stale

[2019-12-22 01:14] kwiesmueller commented on #555
/remove-lifecycle stale

[2019-12-22 17:42] Bessonov commented on #556
/remove-lifecycle stale

[2019-12-23 15:01] ddebroy commented on #1122
/remove-lifecycle stale

[2019-12-23 18:43] sftim commented on #758
That change happened already, right? So stablization & GA should be a new issue linked to this one.

[2019-12-23 18:57] glasser commented on #758
Hi, maybe this is too late, but I have a suggestion for this KEP. (I think maybe this comment is in the wrong place — there's a suggestion in the README about a linked-to-issue but I'm not sure what that means and the new issue template only shows how to create a new KEP. Happy to move this to a better place.)

Nothing in the current docs or the KEP that I can see explains what happens if two `rul

[2019-12-25 02:55] imroc commented on #536
I think kube-dns/coredns can just watch node metadata to get topology information, although it takes more compute resources, but it only have few replicas, unlike kube-proxy, each node has one replica.

What do you think? @thockin @andrewsykim

[2019-12-26 00:54] erickfaustino commented on #536
Hi, @imroc, a friend of mine just sent me this issue, because I was thinking to write a coreDNS plugin to route requests to the same zone, and I acctually did.

It is just a prototype but it does the trick:
https://github.com/erickfaustino/coredns/blob/inmemory/plugin/k8szoneaware/

Perceptions I had when was writing this:

1- Using K8S API for each request could be slower than caching everything

[2019-12-26 02:19] imroc commented on #536
@erickfaustino Thanks for your help. But the key point now is how to get the client's topology information. According to your idea, we need to cache all pod and node information, coredns will consume a lot of resources in big cluster, e.g. 5k nodes and 50k+ pods, and all nodes will be frequently updated because of kubelet report node's status.

The whole implementation logic is simple:
1. Get clie

[2019-12-26 02:41] imroc commented on #536
IMHO, we may not need to support headless service, if people want their service with service topolgoy support, just create a another non headless service. And this also avoid conflict with istio's [Locality Load Balancing](https://istio.io/docs/ops/configuration/traffic-management/locality-load-balancing/), because if the cluster dns return the filterd endpoints' IP, the pilot cannot get a complet

[2019-12-26 16:36] kfox1111 commented on #596
We may need to solve the service account to driver as well. Not sure. It could be considered out of scope though.

[2019-12-27 01:13] draveness commented on #894
/remove-lifecycle stale

[2019-12-29 01:04] neolit123 opened #1424 "Move kubeadm out of kubernetes/kubernetes"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
**Move kubeadm out of kubernetes/kubernetes in the kubernetes/kubeadm repository**
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
KEP is TODO
- Primary contact (assignee): @neolit123
- Responsible SIGs: Cluster Lifecycle
- Enhancement target (which targe

[2019-12-30 07:34] wojtek-t commented on #1164
/remove-lifecycle stale

[2019-12-31 03:05] draveness commented on #986
This feature has already graduated to GA, and we could close this now.

/close

[2019-12-31 05:05] mitchellmaler commented on #609
/remove-lifecycle stale

Cluster autoscaler and the cluster api integration still needs to be completed. It seems like this was initially looked at with a sponsor but then dropped off. Maybe this needs a bit more planning since each release it has been skipped over.

[2019-12-31 06:06] martinbaillie commented on #127
/remove-lifecycle stale

[2019-12-31 08:59] clamoriniere commented on #1041
/remove-lifecycle stale

[2019-12-31 18:22] vllry commented on #902
/lifecycle frozen

[2020-01-01 00:43] neolit123 commented on #783
/remove-lifecycle stale

[2020-01-01 14:58] neolit123 commented on #357
/remove-lifecycle stale

[2020-01-01 19:03] spiffxp commented on #600
My interest in seeing this go to beta is to get parity with the ability to update the config dynamically, as is supported today for admission webhooks (https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/).

For conformance we are currently unable to dynamically audit which components/tests are hitting which API endpoints without making a run around kubernetes,

[2020-01-02 12:35] dudicoco commented on #661
When will this feature finally be implemented? This would greatly improve stateful apps migration into k8s.

[2020-01-02 19:49] lachie83 commented on #563
We plan to move this enhancement to beta in 1.18. Enhancement graduation criteria and test plans can be found in the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20180612-ipv4-ipv6-dual-stack.md) along with this PR - https://github.com/kubernetes/enhancements/pull/1429

[2020-01-02 19:49] lachie83 commented on #563
/milestone 1.18

[2020-01-02 19:49] lachie83 commented on #563
/milestone v1.18

[2020-01-03 00:16] mariusgrigoriu commented on #127
This looks dead. What's the status?

[2020-01-03 01:03] prbinu commented on #127
There were multiple attempts to get this done, but not there yet. Yes we need this feature.

[2020-01-03 15:17] jeremyrickard commented on #382
Hey @draveness @k82cn, Happy New Year!  1.18 Enhancements lead here 👋 Thanks for getting this across the line in 1.17!!

I'm going though and doing some cleanup for the milestone and checking on things that graduated in the last release. Since this graduated to GA in 1.17, I'd like to close this issue out but the KEP is still marked as implementable. Could you submit a PR to update the [KEP] (http

[2020-01-03 15:18] jeremyrickard commented on #548
Hey @draveness @k82cn, Happy New Year! 1.18 Enhancements lead here 👋 Thanks for getting this across the line in 1.17!!

I'm going though and doing some cleanup for the milestone and checking on things that graduated in the last release. Since this graduated to GA in 1.17, I'd like to close this issue out but the KEP is still marked as implementable. Could you submit a PR to update the [KEP] (https

[2020-01-03 15:20] jeremyrickard commented on #554
Hey @gnufied @bertinatto , Happy New Year! 1.18 Enhancements lead here 👋 Thanks for getting this across the line in 1.17!!

I'm going though and doing some cleanup for the milestone and checking on things that graduated in the last release. Since this graduated to GA in 1.17, I'd like to close this issue out but the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/2019

[2020-01-03 15:21] jeremyrickard commented on #559
Hey @kevtaylor , Happy New Year! 1.18 Enhancements lead here 👋 Thanks for getting this across the line in 1.17!!

I'm going though and doing some cleanup for the milestone and checking on things that graduated in the last release. Since this graduated to GA in 1.17, I'd like to close this issue out but the KEP is still marked as implementable. Could you submit a PR to update the [KEP](https://gith

[2020-01-03 15:26] jeremyrickard commented on #575
Hey @sttts , Happy New Year! 1.18 Enhancements lead here 👋

I'm going though and doing some cleanup for the milestone and checking on things that graduated in the last release. Since this graduated to GA in 1.17, I'd like to close this issue out but the defaulting [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190426-crd-defaulting.md) is still marked as impl

[2020-01-03 15:31] jeremyrickard commented on #837
Hey there sig-cloud-provider! Congrats on getting this graduated in 1.17. Could you update the KEP to mark it as `implemented`? Then we can go ahead and close the issue out and not leave anything in a bad state.

[2020-01-03 15:34] jeremyrickard commented on #960
Hey @Jefftree @johnbelamaric, 1.18 Enhancements lead here 👋. Happy New Year from the 1.18 Release Team! As this graduated in 1.17, could you update the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/20190412-conformance-behaviors.md) to indicate that this has been `implemented`? Then we can close this issue out! Thanks!

[2020-01-03 15:36] jeremyrickard commented on #980
Hey @MrHohn, 1.18 Enhancements lead here! Thanks for getting this into 1.17 and graduating to stable! I'm doing some cleanup on the issues that graduated and I noticed that your [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190423-service-lb-finalizer.md) is still marked as `implementable`. Could you please update the KEP to indicate that it was `implemented` and

[2020-01-03 15:38] kevtaylor commented on #559
@jeremyrickard Hi. Thanks for that. I'll sort the KEP out and ping back when I've submitted it.

[2020-01-03 15:47] justaugustus commented on #559
@kevtaylor -- You can feel free to come back and `/close` this once the KEP has been flipped to implemented.

[2020-01-03 16:07] draveness commented on #382
This feature has already graduated to GA, I think we could close it now.

/close

[2020-01-03 16:07] #382 closed

[2020-01-03 16:08] draveness commented on #548
We could close this issue since this is already GA'ed

/close

[2020-01-03 16:08] #548 closed

[2020-01-03 17:06] jeremyrickard commented on #548
@draveness yes, I was just asking if you could update the status of the KEP :) It's still marked as `implementable`, but should be updated to say `implemented`...since it was :)

[2020-01-03 17:09] jeremyrickard commented on #382
@draveness yes, I was just asking if you could update the status of the KEP :) It's still marked as `implementable`, but should be updated to say `implemented`...since it was :)

[2020-01-04 12:30] so0k commented on #968
Ran into this today on kube 1.11 / docker: 18.06.3-ce ... if the policy is set to `IfNotPresent` - and we are mutating tags... images on disk will be used and it is pain to purge them from each node that has them...

is this fixed in newer kube versions? Wouldn't this depend on the CRI doing a proper manifest check?

For future visitors, the process to purge images without kubectl support comes to

[2020-01-05 04:19] xing-yang opened #1432 "PV Health Monitor"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
[code]
- Primary contact (assignee): @gnufied @xing-yang
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.19)
  - Beta release target:
  - Stable release target:
 - [x] Alpha
   - [x] KEP (`k/enhancements`) update PR(s): https://git

[2020-01-05 04:20] xing-yang commented on #1432
/sig storage

[2020-01-05 04:21] xing-yang commented on #1432
/kind feature

[2020-01-05 04:21] xing-yang commented on #1432
/assign @xing-yang

[2020-01-05 04:21] xing-yang commented on #1432
/assign @NickrenREN

[2020-01-05 04:22] xing-yang commented on #1432
/milestone v1.18

[2020-01-05 04:22] xing-yang commented on #1432
/stage alpha

[2020-01-06 07:25] brancz commented on #647
/remove-lifecycle stale

[2020-01-06 09:00] bertinatto commented on #554
Hi @jeremyrickard,

I just created https://github.com/kubernetes/enhancements/pull/1433 to update the KEP status.

[2020-01-06 13:35] stanislavkozlovski commented on #661
+1, much needed feature

[2020-01-06 15:16] andrewsykim commented on #837
Spoke with @jeremyrickard on Slack, we should keep this as-is because we still have to deprecate the old labels in future releases.

[2020-01-06 17:48] mtaufen commented on #281
/remove-lifecycle stale
/lifecycle frozen
/priority awaiting-more-evidence

For all future Enhancement Leads/Shadows: This feature is not being actively worked on at the moment. Our focus is pushing the underlying ComponentConfig APIs to a more stable state across core components. Once we get there, we will re-evaluate the usefulness of Dynamic Kubelet Config in its current state and consider upda

[2020-01-06 17:51] jeremyrickard commented on #281
Thanks for the update @mtaufen.

[2020-01-06 21:18] MrHohn commented on #980
@jeremyrickard Sure thing, sent https://github.com/kubernetes/enhancements/pull/1434 for this.

[2020-01-06 22:26] dashpole commented on #727
/remove-lifecycle stale

[2020-01-07 06:40] Huang-Wei commented on #895
/remove-lifecycle stale

[2020-01-07 12:25] janosi opened #1435 "Support of mixed protocols in Services with type=LoadBalancer"
# Enhancement Description
- One-line enhancement description (can be used as a release note): This feature enables the creation of a LoadBalancer Service that has different port definitions with different protocols.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1435-mixed-protocol-lb
- Primary contact (assignee): Laszlo Janosi (@janosi)

[2020-01-07 12:58] janosi commented on #1435
/sig network

[2020-01-07 13:17] janosi commented on #1435
Original issue: https://github.com/kubernetes/kubernetes/issues/23880

[2020-01-07 13:55] sttts commented on #575
@jeremyrickard https://github.com/kubernetes/enhancements/pull/1436

[2020-01-07 14:29] draveness commented on #382
Thanks for the reminder, #1431 has been merged,

[2020-01-07 14:30] draveness commented on #548
Thanks, I've opened #1437 to mark it as implemented

[2020-01-07 15:46] jeremyrickard commented on #563
Thanks for the update @lachie83, I've marked this as tracked in the 1.18 spreadsheet!

[2020-01-07 15:53] jeremyrickard commented on #753
Hey @Joseph-Irving. 1.18 Enhancements Lead here 👋 .

The 1.18 Release started yesterday, so I'm reaching out to see if you plan on landing this in the 1.18 release? I think this missed 1.17 because of code freeze. How are things looking for 1.18? I see the PRs are still open.

Thanks!

[2020-01-07 15:59] jeremyrickard commented on #950
Hey @matthyx ,

1.18 Enhancement lead here 👋

I wanted to reach out and check with you if this will make it into 1.18? It looks like both of the PRs above have merged in. If there are any additional PRs for this, please let me know.

[2020-01-07 16:02] Joseph-Irving commented on #753
Hi @jeremyrickard,

Yeah the plan is to get this in the 1.18 release.

The API PR (https://github.com/kubernetes/kubernetes/pull/79649) got a review from thockin, the other day, he had a few points but once those are addressed we will close that PR and incorporate the commits into (https://github.com/kubernetes/kubernetes/pull/80744) so we can merge the API and implementation together.

As for the

[2020-01-07 16:02] jeremyrickard commented on #970
Hey @neolit123 👋 ,

Since this moved out of 1.17 I wanted to check and see if this will bumping to a new version in 1.18? Thanks!

[2020-01-07 16:05] jeremyrickard commented on #1258
Hey there  @alculquicondor,

1.18 Enhancements team here 👋

1.18 has kicked off this week, so I'm reaching out to see if you think this will make it into 1.18? Looks like you didn't make it to code freeze in the last cycle, any thoughts on that happening this time around? Looks like kubernetes/kubernetes#84874 is still open.

Let us know if you plan on introducing this as alpha in 1.18!

[2020-01-07 16:07] neolit123 commented on #970
@jeremyrickard hi, we haven't decided yet.
we will leave a comment on this issue once it is more clear.

[2020-01-07 16:07] jeremyrickard commented on #85
Hey there @mortent,

Jeremy from the 1.18 enhancements team here 👋

It looks like your PRs haven't been merged yet. Are you planning on landing this in 1.18? If so, we'll track this enhancement.  Code Freeze will be *March 5th*.

[2020-01-07 16:10] jeremyrickard commented on #565
Hey @jsafrane,

1.18 enhancement team checking in! Are you still planning on graduating this in 1.18?

[2020-01-07 16:11] jeremyrickard commented on #351
Hello @saad-ali

Are you still planning on graduating this with #565? For your awareness, the enhancement freeze will be January 28th and the code freeze will be March 5th!

[2020-01-07 16:16] jeremyrickard commented on #693
Hey @klueska

1.18 enhancements team checking in! Do you still plan on graduating this to beta in 1.18? Enhancement Freeze will be Jan 28th, if your KEP requires any updates, while Code Freeze will be March 5th.

Thank you!

[2020-01-07 16:19] jeremyrickard commented on #853
Hello @gliush and @josephburnett --

1.18 enhancements team checking in! Do you you plan on landing this in the 1.18 release? It looks like the PR you mentioned above hasn't been merged into the kubernetes/kuberntes repo. Code freeze for 1.18 will be March 5th. If there are other PRs, could you please list them here so we can track them?

Thanks!

[2020-01-07 16:21] jeremyrickard commented on #1001
Hey @PatrickLang, Happy New Year!

1.18 enhancements team reaching out. How is this issue looking for 1.18?  Still on track for going *alpha* in 1.18?

[2020-01-07 16:24] klueska commented on #693
Yes.

[2020-01-07 16:25] jeremyrickard commented on #1040
Hi @yue9944882 @MikeSpreitzer,

1.18 enhancements team reaching out 👋 It looks like this just missed the code freeze last time, so I wanted to check and see if you're planning on introducing this in 1.18?

Thanks in advance!

[2020-01-07 16:26] jeremyrickard commented on #1101
Hi @apelisse @sttts ,

1.18 enhancements team reaching out 👋

It looks like the PR that didn't make code freeze for 1.17 has merged. Are you planning on including this in the 1.18 release?

Thanks!

[2020-01-07 16:33] jeremyrickard commented on #1206
Hey @RainbowMango,

1.18 enhancements team reaching out 👋  Are you planning on getting this into 1.18? It looks like there are a few PRs open. Code Freeze for 1.18 will be *March 5th*.

[2020-01-07 16:35] jeremyrickard commented on #1301
Hey @PatrickLang

1.18 enhancements team reaching out 👋 How is this looking for 1.18? Do you plan on going to Alpha in the 1.18 release? Code freeze will be on *March 5th*

[2020-01-07 16:36] alculquicondor commented on #1258
Hello @jeremyrickard. We will indeed be working on this. The PR will need rework in the light of #85737. Do you know when the release calendar will be posted?

[2020-01-07 16:38] jeremyrickard commented on #753
Thanks for the update @Joseph-Irving

Added it into the tracking sheet!

[2020-01-07 16:43] jeremyrickard commented on #1024
Hey @prameshj,

1.18 enhancements team reaching out 👋

Are you still planning on graduating this to stable in the 1.18 release?  Enchancement Freeze will be on January 28th, it looks like you have a PR open to add graduation criteria to the KEP at #1351
That will need to get merged prior to the enhancement freeze in order to be included in the release.

Thanks!

[2020-01-07 16:45] jeremyrickard commented on #693
@klueska thanks for the update! Updating the tracking sheet.

[2020-01-07 16:51] jeremyrickard commented on #1143
Hey there @smarterclayton , 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18?

The current release schedule is:

Monday, January 6 - Release Cycle Began
Tuesday, January 28, EOD PST - Enhancements Freeze
Thursday, March 5, EOD PST - Code Freeze
Monday, March 16- Docs must be completed and reviewed
Tuesday, March 24 - Kuber

[2020-01-07 16:52] mortent commented on #85
@jeremyrickard Still working on this, so we should track it for 1.18.

[2020-01-07 16:54] jeremyrickard commented on #625
Thanks for the update on graduation @davidz627. I'll mark it defered to 1.19.

[2020-01-07 17:04] matthyx commented on #950
Hi @jeremyrickard ,
I think we have already everything for 1.18, I think @liggitt can confirm the CI signal looks good too.
I only have some cherrypicks to 1.16 that aren't merged, but this is not the problem of the release lead :-)
Good luck!

[2020-01-07 17:27] lachie83 commented on #563
Please track the following PR as part of the work to land in 1.18. https://github.com/kubernetes/kubernetes/pull/82462

[2020-01-07 18:51] jeremyrickard commented on #950
Great, thanks @matthyx !

[2020-01-07 18:52] jeremyrickard commented on #85
/milestone 1.18

[2020-01-07 18:52] jeremyrickard commented on #85
/milestone v1.18

[2020-01-07 18:54] jeremyrickard commented on #1258
@alculquicondor there is a PR with the calendar that hasn't quite merged yet, but the dates are:

v1.18 Start: January 6
Enhance Freeze: *January 28*
Code Freeze: *March 5*
Docs Ready: March 16
v1.18 Release: March 24

[2020-01-07 18:54] jeremyrickard commented on #1258
/milestone v1.18

[2020-01-07 18:55] jeremyrickard commented on #563
Thanks @lachie83!

[2020-01-07 19:14] saschagrunert commented on #24
/remove-lifecycle stale

[2020-01-07 19:16] saschagrunert commented on #24
Hey 👋, is there anything we can do to move this one forward. I’d be happy to contribute to finish this one up.

[2020-01-07 19:17] saschagrunert commented on #135
Hey 👋, is there anything we can do to move this one forward. I’d be happy to contribute here as well as for the AppArmor issue.

[2020-01-07 19:37] jeremyrickard commented on #135
Hey @tallclair

1.18 Enhancements team checking in! Are you planning on graduating to stable in 1.18? It looks like the KEP is still open.

The release schedule is as follows:

Enhance Freeze: *January 28*
Code Freeze: *March 5*
Docs Ready: *March 16*
v1.18 Release: *March 24*

As a reminder, the KEP needs to be merged, with the status set to `implementable`.

Thanks!

[2020-01-07 19:44] jeremyrickard commented on #24
Hey @tallclair, looks like the seccomp (https://github.com/kubernetes/enhancements/issues/135) issue didn't make 1.17, will you be trying to get this one for 1.18 in parallel to that one? Maybe @saschagrunert can pitch in and help you out with that? It doesn't look like there is a KEP associated with this, although I might have missed it if there is one. To get this into the 1.18 release, we'd nee

[2020-01-08 00:14] apelisse commented on #1101
I think we do. We need to talk about what's left to be done. I think you can track it for now, we'll let you know if we can't make it.

[2020-01-08 01:13] RainbowMango commented on #1206
Yes. Strictly speaking, not all PRs linked to this issue are in the scope of 1.18.
I think we can close this issue after:
- https://github.com/kubernetes/kubernetes/pull/86477
- https://github.com/kubernetes/kubernetes/pull/85173

I will try my best to make it happen before 1.18 Code Freeze, thanks for the reminder.

[2020-01-08 17:35] neolit123 commented on #130
/close

after the discussion in the kubeadm office hours with @timothysc we decided to close this ticket as out of date.

[2020-01-08 17:35] #130 closed

[2020-01-08 18:09] prameshj commented on #1024
Thanks for the reminder, @jeremyrickard. The plan is to graduate this feature to stable in 1.18 release. I will work on getting the PR merged by 28th.

[2020-01-08 19:41] anguslees commented on #1103
Just putting it out there: Shouldn't we instead drop support for single control plane nodes?  (at least for non-test/toy scenarios. ie: just don't attempt to provide automatic recovery from a full DC outage - or even upgrades - for single-node clusters)

[2020-01-08 23:32] fabriziopandini commented on #357
As per discussion in kubeadm office hours, there are still some work to do before GA:
1. improve management of cluster status in the kubeadm config map
2. Use etcd learner mode
3. Get E2E signal on parallel join

Only the first point will be addressed in 1.18, so also for this cycle we will keep this feature in beta

[2020-01-09 02:35] msau42 commented on #351
/assign @jsafrane
who is planning to work on this for 1.18

[2020-01-09 02:47] palnabarun commented on #166
/remove-lifecycle stale

[2020-01-09 03:22] yue9944882 commented on #1040
@jeremyrickard the feature has been partially merged into master branch and we're moving on to 1.18. plz mark us as tracked, thanks

[2020-01-09 11:02] soltysh opened #1440 "kubectl events"
### Enhancement Description
* One-line enhancement description (can be used as a release note):
Add a new command to manipulate events.
* Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1440-kubectl-events
* Primary contact (assignee):
@soltysh
* Responsible SIGs:
sig-cli
* Enhancement target (which target equals to which milestone):
  - Alpha r

[2020-01-09 11:02] soltysh commented on #1440
/stage stable
/kind feature
/sig cli
/milestone v1.18

[2020-01-09 11:04] soltysh opened #1441 "KEP 1441 - kubectl debug"
# Enhancement Description

- One-line enhancement description (can be used as a release note): Add a new command to debug pods.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1441-kubectl-debug
- Discussion Link: [sig-cli agenda](https://docs.google.com/document/u/0/d/1r0YElcXt6G5mOWxwZiXgGu_X6he3F--wKwg-9UBc29I/)
- Primary contact (assignee)

[2020-01-09 11:04] soltysh commented on #1441
/stage alpha
/kind feature
/sig cli
/milestone v1.18

[2020-01-09 12:50] soltysh commented on #491
tentatively
/milestone v1.18

[2020-01-09 14:38] fabriziopandini commented on #1177
@neolit123 what about moving to beta in 1.18?

[2020-01-09 14:44] neolit123 commented on #1177
@fabriziopandini from the KEP:

do you think it would be best to present the changes you wish to make in the kubeadm office hours and update the KEP if people agree?

[2020-01-09 17:52] palnabarun commented on #19
/remove-lifecycle stale

[2020-01-09 17:56] palnabarun commented on #19
Hey there @soltysh @kow3ns ,

1.18 Enhancements team member here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18? Enhancements are going to be frozen on January 28.

If you do, I'll add it to the 1.18 tracking sheet (https://bit.ly/k8s-1-18-enhancements). Once coding begins please list all relevant k/k PRs in this issue so they can be tra

[2020-01-09 18:01] palnabarun commented on #18
/remove-lifecycle stale

[2020-01-09 18:03] palnabarun commented on #18
Hey there @justinsb ,

1.18 Enhancements team member here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18? Enhancements are going to be frozen on January 28.

If you do, I'll add it to the 1.18 tracking sheet (https://bit.ly/k8s-1-18-enhancements). Once coding begins please list all relevant k/k PRs in this issue so they can be tracked pr

[2020-01-09 18:07] palnabarun commented on #213
/remove-lifecycle stale

[2020-01-09 20:24] tallclair commented on #24
Thanks for the offer @saschagrunert I'd welcome your help on this! The first thing to do is to write a KEP. If you're interested, take a look at the [Seccomp to GA KEP](https://github.com/kubernetes/enhancements/pull/1148). Most of that should translate directly to AppArmor, with a couple small differences:
1. The AppArmor annotation is immutable - this actually makes it a lot simpler, as we can i

[2020-01-09 20:45] tallclair commented on #135
@saschagrunert thanks for the offer! I need to take another pass at the KEP to follow up from the API review I had with @liggitt. Once the KEP is approved, I'd welcome your help with the implementation.

I think the biggest open question on the KEP right now is how to handle the localhost profile type. Since we want to deprecate the feature (ideally in favor of something like https://github.com/ku

[2020-01-09 20:51] palnabarun commented on #1217
/remove-lifecycle stale

[2020-01-09 20:51] palnabarun commented on #1179
/remove-lifecycle stale

[2020-01-09 20:51] palnabarun commented on #1045
/remove-lifecycle stale

[2020-01-09 20:51] palnabarun commented on #1029
/remove-lifecycle stale

[2020-01-09 20:51] palnabarun commented on #993
/remove-lifecycle stale

[2020-01-09 20:51] palnabarun commented on #991
/remove-lifecycle stale

[2020-01-09 20:51] palnabarun commented on #859
/remove-lifecycle stale

[2020-01-09 20:51] palnabarun commented on #822
/remove-lifecycle stale

[2020-01-09 20:52] palnabarun commented on #786
/remove-lifecycle stale

[2020-01-09 20:52] palnabarun commented on #773
/remove-lifecycle stale

[2020-01-09 20:52] palnabarun commented on #757
/remove-lifecycle stale

[2020-01-09 20:52] palnabarun commented on #740
/remove-lifecycle stale

[2020-01-09 20:52] palnabarun commented on #706
/remove-lifecycle stale

[2020-01-09 20:52] palnabarun commented on #689
/remove-lifecycle stale

[2020-01-09 20:53] palnabarun commented on #673
/remove-lifecycle stale

[2020-01-09 20:53] palnabarun commented on #672
/remove-lifecycle stale

[2020-01-09 20:54] palnabarun commented on #1020
/remove-lifecycle stale

[2020-01-09 20:54] palnabarun commented on #670
/remove-lifecycle stale

[2020-01-09 20:54] palnabarun commented on #611
/remove-lifecycle stale

[2020-01-09 20:55] palnabarun commented on #611
As per the above,
/unassign @krmayankk

[2020-01-09 20:55] palnabarun commented on #606
/remove-lifecycle stale

[2020-01-09 20:55] palnabarun commented on #597
/remove-lifecycle stale

[2020-01-09 20:55] palnabarun commented on #585
/remove-lifecycle stale

[2020-01-09 20:56] palnabarun commented on #551
/remove-lifecycle stale

[2020-01-09 20:56] palnabarun commented on #545
/remove-lifecycle stale

[2020-01-09 20:56] palnabarun commented on #531
/remove-lifecycle stale

[2020-01-09 20:57] palnabarun commented on #365
/remove-lifecycle stale

[2020-01-09 20:57] palnabarun commented on #362
/remove-lifecycle stale

[2020-01-09 20:57] palnabarun commented on #284
/remove-lifecycle stale

[2020-01-09 20:58] palnabarun commented on #267
/remove-lifecycle stale

[2020-01-09 20:58] palnabarun commented on #266
/remove-lifecycle stale

[2020-01-09 21:00] palnabarun commented on #117
/remove-lifecycle stale

[2020-01-09 21:00] palnabarun commented on #34
/remove-lifecycle stale

[2020-01-09 21:05] gnufied commented on #531
For 1.18 this feature will remain in beta but we are planning enhancements that will move it closer to GA release.

[2020-01-09 21:05] gnufied commented on #284
For 1.18 this feature will remain in beta but we are planning enhancements that will move it closer to GA release.

[2020-01-09 21:34] jeremyrickard commented on #1314
Hey @tallclair

1.18 Enhancements lead here 👋 You had set this to the 1.18 milestone last time around, so I'm checking in to see if you plan on bringing this in the 1.18 release? If so, I'll track it in the enhancements sheet (http://bit.ly/k8s-1-18-enhancements). As a heads up, the release schedule is:

v1.18 Start: January 6
Enhance Freeze: January 28
Code Freeze: March 5
Docs Ready: March 16
v1

[2020-01-09 21:38] jeremyrickard commented on #177
Hey there @xing-yang @jingxu97 -- 1.18 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18?

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, M

[2020-01-09 21:41] jeremyrickard commented on #277
Hey there @verb-- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18?

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - Kube

[2020-01-09 21:44] jeremyrickard commented on #1424
Hey there @neolit123  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18? It looks like you're targeting that.

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be com

[2020-01-09 21:52] frapposelli commented on #670
/stage stable
/milestone v1.18

[2020-01-09 21:54] neolit123 commented on #1424
thanks for the heads up @jeremyrickard

the KEP is still under review and it's not clear whether it will be merged as implementable before the 28th.

will keep you updated.
thanks.

[2020-01-09 22:07] xing-yang commented on #177
Hi @jeremyrickard, this feature will stay at Beta in 1.18.  Thanks!

[2020-01-09 22:08] xing-yang commented on #1432
Hi @jeremyrickard, can you help add this feature to the milestone?  We are targeting Alpha in 1.18.  Thanks!

[2020-01-09 23:29] apelisse commented on #555
We're working on a "beta 2" release of this feature for 1.18, not sure how/if we need to track that, but happy to follow a process.

[2020-01-10 09:25] verb commented on #277
@jeremyrickard Thanks for checking. We're not planning to graduate in 1.18.

[2020-01-10 13:01] saschagrunert commented on #24
Alright, I took the seccomp KEP and converted it to AppArmor with taking the differences into consideration (#1444) and addressing some of the latest review notes. I took my freedom to add you as co-author if you don't mind.

[2020-01-10 16:49] jeremyrickard commented on #555
Hey @apelisse, thanks for highlighting that! We'll track it as a change within beta in the enhancements sheet. Will there be any changes to the KEP associated with this? Or will this just be related to code changes? If you could link all the k/k PRs associated with this so we can track it, that would be great.

If you're making any KEP changes, Enhancements Freeze will be *January 28th*
Code Freez

[2020-01-10 16:50] jeremyrickard commented on #555
/milestone v1.18

[2020-01-10 16:52] verb commented on #277
To let everyone know what's going on for 1.18, we'll be focusing on:

- An alpha implementation of `kubectl debug` to allow adding ephemeral containers to pods using standard tools.
- Container namespace targeting to allow running an ephemeral container in an existing container's namespace when a pod's `shareProcessNamespace` is false.
- Adding e2e tests for creating ephemeral containers

There's

[2020-01-10 16:55] jeremyrickard commented on #995
Hey there @ksubrmnn @michmike @PatrickLang  -- 1.18 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18?

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed

[2020-01-10 16:57] jeremyrickard commented on #1412
@wojtek-t Thanks for the update. We'll track this for 1.18.

For your awareness, the release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - Kubernetes 1.18.0 Released

Please make sure all the k/k PRs link here so we

[2020-01-10 16:57] jeremyrickard commented on #1412
/milestone v1.18

[2020-01-10 17:21] kwiesmueller commented on #555
We might get https://github.com/kubernetes/enhancements/pull/1442 merged until the 28th.
Maybe even https://github.com/kubernetes/enhancements/pull/923.

And i just saw that https://github.com/kubernetes/enhancements/pull/1123 merged, so the implementation could make it into 1.18 as well.

[2020-01-10 17:32] michmike commented on #995
yes, this should make it to beta with 1.18. thanks!
cc: @benmoss  and @neolit123

[2020-01-10 19:07] jeremyrickard commented on #24
Hey @saschagrunert ( and @tallclair), assuming the KEP gets approved prior to enhancements freeze, do you think that this is something you'll accomplish during the 1.18 timeframe? Code Freeze for 1.18 will be *March 5th*.  If you think it is, I'll go ahead and mark it as tracked for the release and get it into the milestone.

Let me know!

[2020-01-10 19:10] jeremyrickard commented on #995
/milestone v1.18

[2020-01-10 21:02] jeremyrickard commented on #1043
/milestone clear

[2020-01-10 21:03] helayoty commented on #1043
Hey there @PatrickLang  @jsturtevant -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18 or having a major change in its current level?

The current release schedule is:

  Monday, January 6th - Release Cycle Begins
  Tuesday, January 28th EOD PST - Enhancements Freeze
  Thursday, March 5th, EOD PST - Code Freeze
  Monda

[2020-01-12 07:33] helayoty commented on #536
Hey there @imroc @m1093782566  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesda

[2020-01-12 08:03] helayoty commented on #541
Hey there @awly  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to **stable** in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March

[2020-01-12 08:11] helayoty commented on #542
Hey there @mikedanese  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to **stable** in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday,

[2020-01-12 08:23] helayoty commented on #545
Hey there @saad-ali @NickrenREN  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tues

[2020-01-12 11:37] stevef1uk opened #1446 "Enhancement request: low-latency containers"
# Enhancement Description
- The ability to start up containers in milliseconds rather than seconds

- Responsible SIGs:
- ?

Justification/ Explanation: I was experimenting with Argo as a more portable option to AWS Step Functions and noticed that the time to execute an Argo workflow on Kubernetes is quite long. This could be due to the time Kubernetes takes to schedule & deploy a Pod to run a con

[2020-01-13 03:04] palnabarun commented on #1208
/remove-lifecycle stale

[2020-01-13 03:04] palnabarun commented on #1295
/remove-lifecycle stale

[2020-01-13 05:04] imroc commented on #536
@helayoty It already in alpha in v1.17, and there are something unclear now, so it may has no major change in v1.18.

[2020-01-13 06:58] palnabarun commented on #1381
Hey there @rosti  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to __alpha__ in 1.18 or having a major change in it's current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th -

[2020-01-13 07:00] palnabarun commented on #1352
Hey there @zhangxiaoyu-zidif  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March

[2020-01-13 07:00] palnabarun commented on #1333
Hey there @liggitt -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs

[2020-01-13 07:02] palnabarun commented on #1315
Hey there @hh  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs mus

[2020-01-13 07:04] palnabarun commented on #1287
Hey there @vinaykul -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs must be completed and reviewed
- Tuesday, Ma

[2020-01-13 07:07] palnabarun commented on #1177
Hey there @neolit123 @fabriziopandini -- 1.18 Enhancements shadow here. I see that there has been traction on this enhancement. Let us know about the consensus from the kubeadm office hours whether this will go to beta.

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
-

[2020-01-13 07:11] palnabarun commented on #1146
Hey there @kolorful -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating? I see that the KEP PR has been closed due to incativity.

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs must

[2020-01-13 07:15] palnabarun commented on #1053
Hey there @neolit123 -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Doc

[2020-01-13 07:45] saschagrunert commented on #24
Hey @jeremyrickard, let's wait for the review of the KEP. :) From my point of view I would have time for the implementation, but I'm not sure if we can get the KEP review done until enhancement freeze (Jan 28).

[2020-01-13 07:52] palnabarun commented on #1029
Hey there @RobertKrawitz -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th

[2020-01-13 07:52] palnabarun commented on #895
Hey there @bsalamat @Huang-Wei -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March

[2020-01-13 07:54] palnabarun commented on #784
Hey there @rosti -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs must be completed and reviewed
- Tuesday, March

[2020-01-13 07:56] palnabarun commented on #757
Hey there @derekwaynecarr @RobertKrawitz -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code

[2020-01-13 07:57] palnabarun commented on #689
Hey there @ddebroy -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Doc

[2020-01-13 08:00] palnabarun commented on #614
Hey there @danwinship @janosi -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 1

[2020-01-13 08:00] palnabarun commented on #599
Hey there @draveness -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, Mar

[2020-01-13 08:02] palnabarun commented on #556
Hey there @gnufied -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Doc

[2020-01-13 08:03] palnabarun commented on #551
Hey there @yastij -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March

[2020-01-13 08:04] palnabarun commented on #531
Thank you @gnufied for the updates.

[2020-01-13 08:08] palnabarun commented on #491
Hey there @apelisse @soltysh -- 1.18 Enhancements shadow here. I wanted to check in and see if this Enhancement is still being planned for graduating to stable in 1.18?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs must be completed and rev

[2020-01-13 08:10] palnabarun commented on #362
Hey there @pohly @msau42 -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday,

[2020-01-13 08:11] palnabarun commented on #361
Hey there @arunbpt7 @jingxu97 @vishh -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Free

[2020-01-13 08:12] palnabarun commented on #213
Hey there  @krmayankk @liggitt @tallclair -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha/beta/stable in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code

[2020-01-13 08:14] palnabarun commented on #166
Hey there @gmarek @k82cn @Huang-Wei -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18 or having a major change in it's current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Fr

[2020-01-13 08:14] palnabarun commented on #18
The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs must be completed and reviewed
- Tuesday, March 24th - Kubernetes 1.18.0 Released

[2020-01-13 08:15] palnabarun commented on #19
The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs must be completed and reviewed
- Tuesday, March 24th - Kubernetes 1.18.0 Released

[2020-01-13 08:17] palnabarun commented on #585
Hey there @tallclair -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18 or having a major change in it's current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday,

[2020-01-13 09:00] fabriziopandini commented on #1053
@neolit123,  considering we are still completing this feature, IMO we should remain alpha also in 1.18. opinions?

[2020-01-13 09:01] fabriziopandini commented on #1177
@neolit123 I'm +1 for moving to beta in 1.18. Opinions?

[2020-01-13 17:05] neolit123 commented on #1177
@fabriziopandini
as commented here:
https://github.com/kubernetes/enhancements/issues/1177#issuecomment-572592278

i think, it would be best to talk about this in the office hours this week and decide if we want to target the enhancement freeze of 28th.

[2020-01-13 17:18] neolit123 commented on #1053
+1

@palnabarun
we are going to continue the work on this feature by merging some PRs, but it will remain alpha for 1.18. the work is tracked here https://github.com/kubernetes/kubeadm/issues/494

[2020-01-13 17:20] apelisse commented on #491
There are barely any changes required for this feature, beside a few documentation PRs that are being worked on right now. The odds of this happening are very high. Thanks.

[2020-01-13 17:27] palnabarun commented on #1053
Thanks @neolit123 for the updates. :)

[2020-01-13 17:29] palnabarun commented on #491
Thanks @apelisse for the updates. Shall we track this enhancement for this release?

[2020-01-13 17:32] apelisse commented on #491
Of course

[2020-01-13 17:44] palnabarun commented on #491
Thanks!

Just one nit here, in order to track the enhancement, we would need a merged and  `implementable` KEP with test plans and graduation criteria. I see that the enhancement was started before the KEP process and there was an effort to push in a KEP for the same.

[2020-01-13 17:44] palnabarun commented on #491
/stage stable

[2020-01-13 17:45] apelisse commented on #491
Thanks, we'll be addressing that shortly!

[2020-01-13 17:47] palnabarun commented on #1027
Hey there @apelisse -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs

[2020-01-13 17:50] palnabarun commented on #491
Awesome!

[2020-01-13 17:50] apelisse commented on #1027
Forget about this one, it's not going to happen this release :-/

[2020-01-13 18:08] Huang-Wei commented on #166
@palnabarun Thanks for the reminding. Given that it's been beta since 1.13, and we haven't got any blocker issue. We'd like to promote it to GA in 1.18.

(BTW: in 1.17, we refactored the TaintBasedEviction e2e test - to transform it to integration test for portability, and also fixed some flakiness)

[2020-01-13 18:27] tallclair commented on #585
No changes planned, except to PodOverhead, which is tracked separately.

[2020-01-13 18:43] palnabarun commented on #585
Cool. Thanks. :)

[2020-01-13 18:46] palnabarun commented on #1027
Okay.

[2020-01-13 18:49] palnabarun commented on #166
@Huang-Wei Thank you for the updates. I will update the tracking sheet accordingly.

I see that this enhancement predates the KEP process. Just a nit here, in order to be able to track this enhancement, we need a merged KEP, in an `implementable` state and with test plans and graduation criteria.

[2020-01-13 18:49] palnabarun commented on #166
/stage stable

[2020-01-13 18:49] palnabarun commented on #166
/milestone v1.18

[2020-01-13 20:01] Huang-Wei commented on #166
/cc @damemi ^^ Could you please update the KEP as well? Thanks.

[2020-01-14 01:32] kikisdeliveryservice commented on #127
Hey there @prbinu @derekwaynecarr  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday

[2020-01-14 01:36] kikisdeliveryservice commented on #357
Hey there @fabriziopandini  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tu

[2020-01-14 01:39] kikisdeliveryservice commented on #508
Hi @aojea  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24

[2020-01-14 01:41] kikisdeliveryservice commented on #606
Hi @dashpole @RenaudWasTaken  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewe

[2020-01-14 01:42] kikisdeliveryservice commented on #609
Hey there @mitchellmaler @MaciekPytel  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed an

[2020-01-14 01:44] kikisdeliveryservice commented on #611
Hey there -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24t

[2020-01-14 01:45] kikisdeliveryservice commented on #624
Hey there @ahg-g -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, Ma

[2020-01-14 01:47] kikisdeliveryservice commented on #667
Hey there @justaugustus @khenidak @dstrebel @feiskyer -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must

[2020-01-14 01:47] draveness commented on #624
/remove-lifecycle stale

[2020-01-14 01:49] kikisdeliveryservice commented on #727
Hey there @dashpole  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday,

[2020-01-14 01:51] kikisdeliveryservice commented on #758
Hey there @bowei @cmluciano  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, Ma

[2020-01-14 01:52] kikisdeliveryservice commented on #773
Hey there @jingxu97-- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, M

[2020-01-14 01:54] kikisdeliveryservice commented on #783
Hi @stealthybox -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, Marc

[2020-01-14 01:55] neolit123 commented on #357
@kikisdeliveryservice

as @fabriziopandini pointed out:

the feature will remain BETA in 1.18.

[2020-01-14 01:56] kikisdeliveryservice commented on #786
Hey there @stealthybox @luxas -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed

[2020-01-14 01:57] kikisdeliveryservice commented on #859
Hey there @pwittrock -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday,

[2020-01-14 01:57] ahg-g commented on #624
The framework will not graduate to Beta in 1.18

[2020-01-14 01:59] kikisdeliveryservice commented on #894
Hey there @tallclair -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday,

[2020-01-14 02:00] kikisdeliveryservice commented on #991
Hi @andrewsykim -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, Marc

[2020-01-14 02:00] kikisdeliveryservice commented on #1041
Hey there @clamoriniere -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesd

[2020-01-14 02:02] kikisdeliveryservice commented on #1045
Hey there @resouer  @zhangxiaoyu-zidif -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and

[2020-01-14 02:03] kikisdeliveryservice commented on #1067
Hey there @lumjjb @harche  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tue

[2020-01-14 02:06] kikisdeliveryservice commented on #1164
Hey there @wojtek-t  -- 1.18 Enhancements shadow here. Just wanted to double check that this is not slated for 1.18?  The 1.20 milestone is still correct?

[2020-01-14 02:06] kikisdeliveryservice commented on #1281
Hey there @cheftako -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, M

[2020-01-14 02:08] kikisdeliveryservice commented on #1326
Hey there @sftim -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?
The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, Marc

[2020-01-14 02:10] kikisdeliveryservice commented on #1339
Hi @michaelgugino @cheftako @justinsb  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and

[2020-01-14 02:11] kikisdeliveryservice commented on #1355
Hi @sparciii   -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March

[2020-01-14 02:12] kikisdeliveryservice commented on #1403
Hi @michaelgugino  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha|beta|stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, M

[2020-01-14 02:14] kikisdeliveryservice commented on #357
@neolit123 thank you for confirming, appreciate your response! :)

[2020-01-14 02:24] kikisdeliveryservice commented on #624
thanks @ahg-g for the update!

[2020-01-14 05:21] harche commented on #1067
@kikisdeliveryservice this enhancement will not be graduating in 1.18.

[2020-01-14 07:25] bowei commented on #758
@robscott what do you think? I think we can definitely make it pending resolving some of these conversations.

[2020-01-14 09:30] wojtek-t commented on #1164
Yes - 1.20 is correct.

[2020-01-14 11:17] aojea commented on #508
hi @kikisdeliveryservice
The KEP was merged https://github.com/kubernetes/enhancements/pull/1139 and is implementable state.
Only one item is missing

and we'll be able to graduate IPv6 to beta in 1.18

cc: @lachie83 @aramase

[2020-01-14 16:47] vinaykul commented on #1287
@palnabarun Yes, I'm planning to work towards alpha code targets for this feature in 1.18. I've updated the KEP adding test plan and graduation criteria sections that I will be reviewing with SIG-Node this week and hope to get it implementable before Jan 28. I'll update this thread if anything changes.

[2020-01-14 16:56] palnabarun commented on #1073
/remove-lifecycle stale

[2020-01-14 16:57] palnabarun commented on #1186
/remove-lifecycle stale

[2020-01-14 16:58] palnabarun commented on #669
/remove-lifecycle stale

[2020-01-14 16:58] palnabarun commented on #383
/remove-lifecycle stale

[2020-01-14 17:00] palnabarun commented on #1287
Thank you @vinaykul for the updates. :)

[2020-01-14 17:00] palnabarun commented on #1287
/stage alpha

[2020-01-14 17:00] palnabarun commented on #1287
/milestone v1.18

[2020-01-14 17:40] benmoss commented on #1043
Should we add this to PodSecurityPolicies? Seems like it belongs in https://kubernetes.io/docs/concepts/policy/pod-security-policy/#users-and-groups

[2020-01-14 18:17] alculquicondor opened #1451 "Run multiple Scheduling Profiles"
# Enhancement Description
- One-line enhancement description (can be used as a release note):  Let the scheduler run multiple scheduler profiles associated to a scheduler name.
- Kubernetes Enhancement Proposal: https://git.k8s.io/enhancements/keps/sig-scheduling/1451-multi-scheduling-profiles
  - Main repo issue: kubernetes/kubernetes#85737
- Primary contact (assignee): @alculquicondor
- Responsi

[2020-01-14 18:17] alculquicondor commented on #1451
/assign

[2020-01-14 18:51] johnbelamaric commented on #5
@tallclair do you expect any progress on this in 1.18? I am an enhancements shadow for the release and would like to know if we should be tracking this.

[2020-01-14 18:56] johnbelamaric commented on #266
@mikedanese is this something that you expect any progress on in the 1.18 cycle? I am enhancements shadow for the release team and so we need to know if it should be tracked.

[2020-01-14 18:57] johnbelamaric commented on #267
@mikedanese is this something that you expect any progress on in the 1.18 cycle? I am enhancements shadow for the release team and so we need to know if it should be tracked.

[2020-01-14 18:58] johnbelamaric commented on #284
Thanks @gnufied, I will update the release tracking sheet with that info.

[2020-01-14 20:01] johnbelamaric commented on #553
Hi @liggitt, think there will be any progress here in 1.18? Need to update the enhancements tracking for the release team (I am shadowing this cycle).

[2020-01-14 20:24] kikisdeliveryservice commented on #508
thanks @aojea !

[2020-01-14 20:27] kikisdeliveryservice commented on #1164
thanks @wojtek-t !

[2020-01-14 20:29] kikisdeliveryservice commented on #1067
thanks @harche !

[2020-01-14 20:35] lavalamp commented on #553
I don't think we have planned anything to fix this at the moment.

[2020-01-14 21:31] jeremyrickard commented on #117
Hey there   @mwielgus and @josephburnett -- 1.18 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18 or having a major change in it's current level?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, Mar

[2020-01-14 22:00] jeremyrickard commented on #351
@jsafrane @msau42 I assume the comment above means we should we track this for 1.18? Thanks!

[2020-01-14 22:01] johnbelamaric commented on #365
@liggitt @smarterclayton I am assuming this is not being targeted for promotion in 1.18? Let me know either way so I can update the release team tracker.

[2020-01-14 22:03] johnbelamaric commented on #383
@yastij are you targeting this for 1.18? The KEP will need to be approved and in `implementable` state by the enhancements freeze date. The release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - Kubernetes 1.18.0 Rel

[2020-01-14 22:09] johnbelamaric commented on #576
@apelisse thanks Antoine, I will add it to 1.18 release tracking

[2020-01-14 22:10] johnbelamaric commented on #576
/milestone v1.18

[2020-01-14 22:16] jeremyrickard commented on #1441
Hey there @soltysh  can you confirm that this will be in the 1.18 release? To make it into the release, the KEP will need to be merged as `implementable`with a Test Plan (looks like that's a TODO) by enhancements freeze, which is going to be end of day (pacific time) on January 28th

[2020-01-14 22:22] johnbelamaric commented on #600
@pbarker Enhancements shadow for 1.18 here. Are you targeting anything for this in 1.18? We need to track it if so. The release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - Kubernetes 1.18.0 Released

[2020-01-14 22:23] jeremyrickard commented on #1440
Hey there @soltysh  can you confirm that this will be in the 1.18 release? To make it into the release, the KEP will need to be merged as `implementable`(looks like it's provisional now) with a Test Plan (looks like that's missing) by enhancements freeze, which is going to be end of day (pacific time) on January 28th

[2020-01-14 22:26] johnbelamaric commented on #647
@dashpole David are you planning on graduating this to beta in 1.18? I am shadowing for enhancements for the release team and will need to update the tracking sheet and milestone. Release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tue

[2020-01-14 22:29] johnbelamaric commented on #661
Hey there @SidakM  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be implemented as alpha in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th -

[2020-01-14 22:33] johnbelamaric commented on #669
@adisky the KEP is still showing status `provisional`, even after #1303 merged. Can you update it to `implemented` if everything is done, and close this issue?

Or, is there still work to be done, such as removing the in-tree provider?

[2020-01-14 22:35] johnbelamaric commented on #670
@frapposelli Release team enhancements shadow here. It looks like this is planned for 1.18, I will add it to the spreadsheet.

[2020-01-14 23:00] johnbelamaric commented on #670
@frapposelli if you plan to got to stable, can we get some better graduation criteria? All it says now is that the criteria is that it is "complete". I guess that means "feature parity with in-tree". What about removal of in-tree? Can you clarify please?

[2020-01-14 23:15] johnbelamaric commented on #671
Hey there @rtheis and @spzala  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, M

[2020-01-14 23:19] johnbelamaric commented on #672
Hey there @onitake and @rhtyd -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18? Do you still need help getting started? The first step would be to write a KEP for this - you could use one of the other cloud provider KEPs as an example.

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday

[2020-01-14 23:19] dashpole commented on #647
@johnbelamaric this is targeted for Alpha in 1.18

[2020-01-14 23:21] johnbelamaric commented on #673
Hey there @rgolangh and @andrewsykim  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18?

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tu

[2020-01-14 23:24] robscott opened #1453 "Graduate Ingress to V1"
- One-line enhancement description: Graduate Ingress to V1
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md
- Primary contact: @robscott
- Responsible SIGs: sig-network
- Enhancement target:
  - Beta updates target (1.18)
  - Stable release target (1.19)

/sig network
/assign

[2020-01-14 23:26] robscott commented on #758
Hey @kikisdeliveryservice and @bowei, thanks for checking in! We've been doing most of the work (and corresponding reviews) for this feature on a fork of k/k given how large this update is. With that said, although there isn't much evidence of work in PRs on k/k yet, I do think we're on track for a 1.18 release.

As suggested by @sftim above, I've created a separate issue to track the work towards

[2020-01-14 23:26] #758 closed

[2020-01-14 23:26] johnbelamaric commented on #647
Awesome. I will track it and mark it as At Risk until we get it to `implementable` and it has a test plan. I see you did the prod readiness survey - thanks!

[2020-01-14 23:27] johnbelamaric commented on #647
/milestone v1.18

[2020-01-14 23:27] robscott commented on #1453
/cc @bowei

[2020-01-14 23:29] johnbelamaric commented on #752
@robscott I am shadowing for release team enhancements. Any plan to graduate in 1.18?

[2020-01-14 23:32] johnbelamaric commented on #902
Hey there @vllry  -- I am an Enhancements shadow this cycle. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and

[2020-01-14 23:38] robscott commented on #752
Hey @johnbelamaric, no plans to graduate beyond beta in 1.18, but we are hoping to enable the controller by default in 1.18 (that was not the case in 1.17 despite the beta status). Here's the relevant PR: https://github.com/kubernetes/kubernetes/pull/86137.

[2020-01-14 23:52] johnbelamaric commented on #989
Hey there @j-griffith -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24t

[2020-01-15 00:01] kikisdeliveryservice commented on #1453
/milestone v1.18

[2020-01-15 01:01] helayoty commented on #536
@imroc Thank you for the response. Kindly if you can update the KEP when it possible.

[2020-01-15 01:01] robscott commented on #752
/assign

[2020-01-15 01:09] jeremyrickard commented on #423
Hey there @M00nF1sh @justinsb @micahhausler  -- 1.18 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to [alpha|beta|stable] in 1.18 or having a major change in it's current level?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code F

[2020-01-15 01:11] jeremyrickard commented on #597
Hey there @gnufied-- 1.18 Enhancements lead here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in it's current level?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be c

[2020-01-15 01:16] jeremyrickard commented on #1122
Hey @ddebroy, 1.18 Enhancements Lead checking in. Are you still targeting this for Beta?

The current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - Kubernetes 1.18.0 Released

If you do, please list all relev

[2020-01-15 01:18] jeremyrickard commented on #1206
We like to leave the issues open until they are "stable" and done, and the KEP is updated to `implemented`. I've got you tracked in the sheet and we'll check back around code freeze!

[2020-01-15 01:21] helayoty commented on #592
Hey there @janetkuo -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24t

[2020-01-15 01:34] helayoty commented on #1435
Hey there @janosi  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24t

[2020-01-15 01:43] helayoty commented on #1393
Hey there @mtaufen  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24

[2020-01-15 02:10] helayoty commented on #1357
Hey there @jfbai  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th

[2020-01-15 03:42] hh commented on #1315
Thanks, I don't think this KEP fits within the release cycle as it's more around the CI system and prow/bot / jobs. No stress on tracking for the 1.18 release.

[2020-01-15 03:48] palnabarun commented on #688
/remove-lifecycle stale

[2020-01-15 03:51] palnabarun commented on #1315
Thank you @hh for the updates. I will update the same in the tracking sheet. :)

[2020-01-15 04:16] palnabarun commented on #1451
Hey there @alculquicondor -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to __alpha__ in 1.18?

The current release schedule is:
- Monday, January 6th - Release Cycle Begins
- Tuesday, January 28th EOD PST - Enhancements Freeze
- Thursday, March 5th, EOD PST - Code Freeze
- Monday, March 16th - Docs must be completed and reviewed
- T

[2020-01-15 04:16] palnabarun commented on #1451
/stage alpha

[2020-01-15 06:14] helayoty commented on #1208
Hey there @jfbai  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th

[2020-01-15 06:15] helayoty commented on #1186
Hey there @konghui  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24

[2020-01-15 06:17] helayoty commented on #1179
Hey there @BenTheElder  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March

[2020-01-15 06:19] helayoty commented on #993
Hey there @Liujingfang1  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, Marc

[2020-01-15 06:20] helayoty commented on #962
Hey there @xing-yang  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 2

[2020-01-15 06:26] helayoty commented on #961
Hey there @krmayankk  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to (alpha/beta) in 1.18 or having a major change in its current level?

If you can update the issue with all opening PRs so they can be tracked.

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Cod

[2020-01-15 06:30] helayoty commented on #785
Hey there @jfbai @luxas  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, Marc

[2020-01-15 06:35] helayoty commented on #770
Hey @msau42 @jsafrane   -- 1.18 Enhancements shadow here. I wanted to check in and see if you think a Docs PR is planned to be included in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th -

[2020-01-15 06:37] helayoty commented on #740
Hey @micahhausler  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24t

[2020-01-15 06:42] helayoty commented on #706
Hey @pierreozoux   -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.18 or having a major change in its current level?

To be included in the release, this enhancement must have a merged KEP in the **implementable** status. The KEP must also have graduation criteria and a Test Plan defined.

Kindly if you can make sure to format th

[2020-01-15 06:45] helayoty commented on #695
Hey @mattsmithdatera / @gnufied   -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tue

[2020-01-15 06:47] helayoty commented on #688
Hey @tallclair -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to beta in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - K

[2020-01-15 06:49] helayoty commented on #603
Hey @gnufied @jsafrane  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th -

[2020-01-15 06:51] helayoty commented on #596
Hey @pohly @jsafrane  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to stable in 1.18 or having a major change in its current level?

The current release schedule is:

Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March

[2020-01-15 07:44] xing-yang commented on #962
Thanks @helayoty!   We are trying to get it to Alpha in 1.18.  The KEP is merged but implementation is WIP.

[2020-01-15 07:47] xing-yang commented on #962
@ashish-amarnath is working on it.  See PR here:
https://github.com/kubernetes-sigs/execution-hook/pull/5

[2020-01-15 08:03] onitake commented on #672
@johnbelamaric @andrewsykim I will submit a KEP, similar to what's already in https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider .

I'm not sure we still need it though: Right now we're tracking the cloud provider code in https://github.com/apache/cloudstack-kubernetes-provider/ and the documentation was updated to link there: https://v1-17.docs.kubernetes.io/docs/conce

[2020-01-15 08:08] pohly commented on #596
This will stay in beta in 1.18.

[2020-01-15 08:40] feiskyer commented on #667
@kikisdeliveryservice KEP https://github.com/kubernetes/enhancements/pull/1158 gets merged. we'd like to get the feature into beta in 1.18.0.

[2020-01-15 09:56] helayoty commented on #596
@pohly Thank you for the update. Any planning on which release this feature might be graduating to stable?

[2020-01-15 09:58] helayoty commented on #962
Thank you @xing-yang for the prompt response. Kindly if you please update the issue with all k/k PRs when it possible.

[2020-01-15 09:58] helayoty commented on #962
/milestone v1.18

[2020-01-15 09:58] helayoty commented on #962
tracked/yes

[2020-01-15 09:59] helayoty commented on #596
tracked/no

[2020-01-15 10:17] pohly commented on #596
Nothing specific yet.

[2020-01-15 11:43] soltysh commented on #1440
@jeremyeder that's the plan for now, we'll see how the execution will go. For sure the KEP will be merged within the next few days.

[2020-01-15 11:45] soltysh commented on #1441
@jeremyrickard yup, I confirm. The KEP should be merged later today after SIG-CLI call, then we'll start with the implementation right away.

[2020-01-15 12:01] soltysh commented on #19
Hey @palnabarun @barney-s is working on closing the KEP in time, the implementation will proceed.

[2020-01-15 14:02] ahg-g commented on #785
/cc @alculquicondor

[2020-01-15 14:28] rtheis commented on #671
@johnbelamaric this enhancement won't be graduating to alpha in 1.18.

[2020-01-15 14:31] rtheis commented on #671
@posix4e We are actively working on transitioning the IBM cloud provider to the new cloud-controller-manager (CCM) based architecture.  This will be used in the IBM Cloud Kubernetes Service and Red Hat OpenShift on IBM Cloud offerings.  Once this transition is completed, we'll hopefully be able to get back to this issue.

[2020-01-15 15:48] alculquicondor commented on #1451
Hi @palnabarun. I believe we can graduate to alpha in 1.18. There is already general consensus in kubernetes/kubernetes#85737

[2020-01-15 16:13] palnabarun commented on #1451
Thank you @alculquicondor for the update. I will update the tracking sheet accordingly.

[2020-01-15 16:15] palnabarun commented on #1451
Please do note that before the Enhancements Freeze on January 28th, the KEP PR should be merged, the KEP should be in an implementable state and have test plans and graduation criteria.

[2020-01-15 16:15] palnabarun commented on #1451
/milestone v1.18

[2020-01-15 16:39] gnufied commented on #770
Since we narrowly missed finishing this in 1.18, we are planning to get this feature done in 1.18. I have updated merged KEPs - https://github.com/kubernetes/enhancements/pull/1455

[2020-01-15 16:39] gnufied commented on #603
Since we narrowly missed finishing this in 1.18, we are planning to get this feature done in 1.18. I have updated merged KEPs - #1455

[2020-01-15 17:32] liggitt commented on #1333
This is targeting phase 1 ([defined in the KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/20191023-conformance-without-beta.md#graduation-criteria)) in v1.18

[2020-01-15 17:39] micahhausler commented on #740
@helayoty Yes this is planned for 1.18 in alpha

[2020-01-15 17:42] fabriziopandini commented on #1177
@palnabarun
As discussed in the kubeadm office hours today, we decided to keep this feature in alpha for some more time. no changes planned for the v1.18 cycle

[2020-01-15 17:44] helayoty commented on #740
Thank you @micahhausler for confirming!

[2020-01-15 17:44] johnbelamaric commented on #1020
Hey there @soltysh  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be implemented in 1.18?

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - Kubern

[2020-01-15 17:45] helayoty commented on #740
/milestone v1.18

[2020-01-15 17:48] johnbelamaric commented on #1073
Hey there @fudali113  -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18?

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24t

[2020-01-15 17:50] johnbelamaric commented on #1217
Hey there @mvladev -- 1.18 Enhancements shadow here. I wanted to check in and see if you think this Enhancement will be graduating to alpha in 1.18?

The current release schedule is:

Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th -

[2020-01-15 17:52] johnbelamaric commented on #1384
Hi Patrick, are you thinking this will be delivered in 1.18? If so I will need to add it to the release team enhancements tracker. Thanks.

[2020-01-15 17:55] helayoty commented on #603
@gnufied Thanks for the update.

[2020-01-15 17:55] helayoty commented on #603
/milestone v1.18

[2020-01-15 17:59] helayoty commented on #770
Thanks, @gnufied  for the update!

[2020-01-15 17:59] helayoty commented on #770
/milestone v1.18

[2020-01-15 18:02] johnbelamaric commented on #752
Thanks Rob

[2020-01-15 18:02] johnbelamaric commented on #752
/milestone clear

[2020-01-15 18:17] johnbelamaric commented on #752
/milestone v1.18

@robscott we will track the change for default at the release team level. thanks for linking the PR.

[2020-01-15 19:04] palnabarun commented on #1177
Thank you @fabriziopandini for the updates. I will remove this enhancement from the tracking sheet,

[2020-01-15 19:26] cmluciano commented on #1453
/assign

[2020-01-15 19:34] palnabarun commented on #19
Thanks, @soltysh for the updates. I'm guessing the enhancement is targeted to be stable for the release. I am updating the same in the tracking sheet. Please let me know if it is otherwise.

[2020-01-15 19:36] palnabarun commented on #1333
Thank you @liggitt for the updates. :)

[2020-01-15 20:25] tallclair commented on #688
@egernst is working on bringing the feature to beta. Eric, do you think it will make the deadlines this cycle?

[2020-01-15 20:25] egernst commented on #688
Thanks @tallclair and @helayoty - this is my intention and plan.

[2020-01-15 21:22] Jefftree commented on #1281
We are targeting beta for 1.18

[2020-01-15 21:29] johnbelamaric commented on #672
I would defer to the @kubernetes/sig-cloud-provider for that opinion. However, I will say that if there is an existing solution that works and is not part of the k8s org, and no one sees a need for this, we should just close the issue.

[2020-01-15 23:52] awly commented on #541
Hi @helayoty, no progress planned in 1.18 on this one

[2020-01-15 23:56] helayoty commented on #688
Thanks @tallclair , @egernst  for the update.

[2020-01-15 23:56] helayoty commented on #688
/milestone v1.18

[2020-01-16 00:28] kikisdeliveryservice commented on #1281
thanks @Jefftree ! 👍

[2020-01-16 00:29] kikisdeliveryservice commented on #1281
/milestone v1.18

[2020-01-16 00:31] kikisdeliveryservice commented on #667
thanks @feiskyer !

[2020-01-16 00:32] kikisdeliveryservice commented on #667
/milestone v1.18

[2020-01-16 01:29] mtaufen commented on #1393
It is planned to graduate to alpha in 1.18. Thanks for checking in.

On Tue, Jan 14, 2020 at 5:43 PM Heba Elayoty <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2020-01-16 01:29] mtaufen commented on #1393
I'll double-check to see if the KEP had a test plan.

On Wed, Jan 15, 2020 at 5:28 PM Michael Taufen <mtaufen@google.com> wrote:

--
Michael Taufen
Google SWE

[2020-01-16 01:37] helayoty commented on #1393
@mtaufen Thanks for the update. I'd appreciate having the updated KEP in an `implementable`  status along with all relevant k/k PRs in the issue.

[2020-01-16 01:37] helayoty commented on #1393
/milestone v1.18

[2020-01-16 02:02] palnabarun commented on #19
/stage stable

[2020-01-16 02:02] palnabarun commented on #19
/milestone v1.18

[2020-01-16 03:51] jeremyrickard commented on #1441
Thanks for getting the KEP in @soltysh 🎊

[2020-01-16 03:58] jeremyrickard commented on #1440
Thanks! Let us know when the KEP is merged!

[2020-01-16 06:00] BenTheElder commented on #1179
cc @liggitt I think maybe we can call this one done actually ...?
we decided to add some tests to prevent regressions, those landed in 1.17.

[2020-01-16 08:29] palnabarun commented on #1446
Hi @stevef1uk, issues in this repo are created after consultation with the SIG that should own the enhancement. In this case, in my opinion, please discuss with sig-scheduling or sig-scalability.

Also, according to the [guidelines](https://github.com/kubernetes/enhancements#is-my-thing-an-enhancement) governing on what is an enhancement, the above seems to be a performance improvement which is un

[2020-01-16 08:31] palnabarun commented on #1446
Closing it for now. Please feel free to reopen after discussion.

/close

[2020-01-16 08:31] #1446 closed

[2020-01-16 10:30] konghui commented on #1186
Yes, I was commit the KEP here [1187](https://github.com/kubernetes/enhancements/pull/1187#issuecomment-574271578).

The implement code for this KEP is here [80411](https://github.com/kubernetes/kubernetes/pull/80411#issuecomment-573422361).

[2020-01-16 13:39] liggitt commented on #1179
sounds good

/close

[2020-01-16 15:51] Ye-Tian-Zero opened #1464 "inplace update pods for apps"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Support inplace update pods for statefulsets, replicasets, deployments, and daemonsets.
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
#1462
- Primary contact (assignee): @skilxn-go
- Responsible SIGs: sig-apps
- Enhancement target (which target equals t

[2020-01-16 15:52] skilxn-go commented on #1464
/sig apps

[2020-01-16 17:13] ashish-amarnath commented on #962
/cc @ashish-amarnath

[2020-01-16 21:20] helayoty commented on #1186
Thanks @konghui  for the update.

[2020-01-16 21:20] helayoty commented on #1186
/milestone v1.18

[2020-01-17 00:52] cheftako commented on #672
I would prefer a KEP for anyything going into a CP repo. (Eg. https://github.com/kubernetes/cloud-provider-aws). On the plus side having your repo there means that you are less likely to be broken by changes to K/K, as people can check your code. In addition we can integrate you into things like the geting started on a cloud documentation.

[2020-01-17 08:27] mvladev commented on #1217
I hope to. The KEP needs to be approved and unfortunately, the review process is going really slowly at the moment.

[2020-01-17 09:35] janosi commented on #1435
Hello @helayoty, thank you for your guidance! I really hope we can make it in 1.18. Let's hope we can have an agreed design plan via the KEP on time, and then the implementation can be finished.

The relevant PR in k/k: https://github.com/kubernetes/kubernetes/pull/75831

[2020-01-17 10:47] onitake commented on #672
@cheftako I discussed this with @andrewsykim on @kubernetes/sig-cloud-provider a while back, and the process of getting a new repository in the k8s project and becoming its owner is prohibitive for newcomers such as me and @rhtyd . Neither of us has contributed to the Kubernetes project much yet.

[2020-01-17 10:57] pierreozoux commented on #706
I didn't receive enough feedback from people.
I still think that this would be valuable.

FYI, for people who read this thread, I see a pattern emerging here:
(I see it for S3 operator)

There is an indirection between the CRD defining how the resource looks like, the schema.
And the actual implementation.

For instance, Here is the CRD:
https://github.com/kube-object-storage/lib-bucket-provisione

[2020-01-17 17:10] johnbelamaric commented on #1217
Ok, we will track it and I will mark it At Risk, which may help get it reviewed faster too.

[2020-01-17 17:43] mikedanese commented on #266
This is blocked on the Certificates API GA.

[2020-01-17 17:45] johnbelamaric commented on #267
(from @mikedanese): Blocked on Certificates API going GA

[2020-01-17 17:47] tallclair commented on #5
No changes planned for 1.18

[2020-01-17 19:27] tallclair commented on #894
The lifecycle for this feature should now be tied to RuntimeClass (https://github.com/kubernetes/enhancements/issues/585), and no longer needs to be tracked separately.

/close

[2020-01-17 19:27] #894 closed

[2020-01-17 20:05] kikisdeliveryservice commented on #667
Hi @feiskyer just as a reminder:

The attached KEP is in a **provisional** state and needs to be **implementable** by Enhancements freeze deadline.

[2020-01-17 21:31] liggitt commented on #365
given the issues being worked on in https://github.com/kubernetes/kubernetes/pull/86430, I would like to consider whether there are ways we need to (or can) improve this before GA

[2020-01-17 21:39] tallclair commented on #213
@krmayankk - It's ok if it doesn't happen for 1.18, but would you be able to help get this feature over the finish line to GA?

[2020-01-17 21:40] tallclair commented on #1314
I'm afraid I'm going to have to punt on this one for v1.18. I'll try to pick it back up for v1.19.

[2020-01-17 21:42] tallclair commented on #279
/remove-lifecycle stale

[2020-01-17 22:48] jeremyrickard commented on #1314
Thanks a lot for the update, @tallclair 👋

[2020-01-17 22:58] jeremyrickard commented on #1464
Hey @skilxn-go, 1.18 enhancements lead here. 👋

I see you just opened this issue and wanted to reach out. We are actively tracking enhancements for 1.18. I've added this to the tracking sheet, but in order to make it into the release you'll need to have the KEP merged by January 28th. The KEP will need to be merged as `implemented` and must have a test plan and graduation criteria. It looks like y

[2020-01-17 23:38] helayoty commented on #1435
Thanks, @janosi for the update.

[2020-01-17 23:39] helayoty commented on #1435
/milestone v1.18

[2020-01-18 09:35] skilxn-go commented on #1464
Thanks, but this KEP can not catch version 1.18.

[2020-01-18 13:59] feiskyer commented on #667
Opened https://github.com/kubernetes/enhancements/pull/1466 to update the KEP to be implementable.

[2020-01-18 17:33] janosi commented on #1435
@helayoty Yes, of course. I added the ref to the KEP PR to the initial description of this issue.

[2020-01-18 18:51] ddebroy commented on #689
@palnabarun We want to move GMSA support to stable in 1.18

[2020-01-18 18:52] ddebroy commented on #1122
hi @jeremyrickard the plan is to stay Alpha in 1.18

[2020-01-18 18:59] palnabarun commented on #689
Thank you @ddebroy for the updates. I will update the tracking sheet accordingly.

[2020-01-18 20:19] kikisdeliveryservice commented on #667
great thanks, @feiskyer !!

[2020-01-19 19:47] justaugustus commented on #822
- Consider `scope: group|project` field instead of `kubernetes-wide` in `participating-sigs` (https://github.com/kubernetes/enhancements/pull/1468#discussion_r368264532)
- Use `participating` or `participating-groups`, instead of  `participating-sigs` (since other governance bodies could be stakeholders) (https://github.com/kubernetes/enhancements/pull/1468#discussion_r368264600)

cc: @dims
ref: h

[2020-01-20 09:24] npu21 opened #1471 "fix inaccessible links in the keps"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
some links in the keps are inaccessible,we need to fix them
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  -

[2020-01-20 11:53] pohly opened #1472 "Storage Capacity Tracking"
- One-line enhancement description (can be used as a release note): Supports exposing currently available storage capacity via CSIStorageCapacity objects and enhances scheduling of pods that use CSI volumes with late binding
- Kubernetes Enhancement Proposal PRs: https://github.com/kubernetes/enhancements/pull/1353 and https://github.com/kubernetes/enhancements/pull/1409
- KEP: https://github.com/

[2020-01-20 11:54] pohly commented on #1472
/sig storage

[2020-01-20 13:46] dims commented on #822
one more: the `title` in the markup(s) do not match the title in the document

cc: @saschagrunert
ref: https://github.com/kubernetes/enhancements/pull/1467#discussion_r368414279

[2020-01-20 15:11] jeremyrickard commented on #1472
Hey @pohly!  1.18 Enhancements lead here 👋 It looks like you've targeted 1.18 as the alpha release target for this.

he current release schedule is:
Monday, January 6th - Release Cycle Begins
Tuesday, January 28th EOD PST - Enhancements Freeze
Thursday, March 5th, EOD PST - Code Freeze
Monday, March 16th - Docs must be completed and reviewed
Tuesday, March 24th - Kubernetes 1.18.0 Released

To be

[2020-01-20 15:44] jeremyrickard commented on #1424
@neolit123 i've been tracking and it looks like the KEP might be good to merge in time for the Enhancements Freeze? I'll track this and if we hit the enhancement freeze and it's not merged, we can circle back and update things and move it out of the milestone. Sound good?

[2020-01-20 15:45] neolit123 commented on #1424
SGTM

[2020-01-20 15:50] pohly commented on #1472
Jeremy Rickard <notifications@github.com> writes:

We are working on it.

Yes, please do.

[2020-01-20 21:42] krmayankk commented on #961
@helayoty  this will move to alpha in 1.18. API PR is here https://github.com/kubernetes/kubernetes/pull/82162

[2020-01-21 00:42] justaugustus commented on #618
/remove-lifecycle stale
/close based on @mrbobbytables' feedback

[2020-01-21 00:43] justaugustus commented on #618
Actually close it:
/close

[2020-01-21 00:43] #618 closed

[2020-01-21 00:51] justaugustus commented on #619
/unassign @calebamiles
/assign @dims @mrbobbytables @saschagrunert @jeefy

[2020-01-21 01:42] jeremyrickard commented on #619
Would also be interested in helping with this when 1.18 is done.

[2020-01-21 07:31] adisky commented on #669
@johnbelamaric the work for removing intree provider is still remaining.

[2020-01-21 12:06] soltysh commented on #1020
@johnbelamaric this is still on-going work, it's not finished but we're actively working on it. It described in details in https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kubectl-staging.md

[2020-01-21 12:06] soltysh commented on #1073
@johnbelamaric I don't think any work will happen for 1.18 here.

[2020-01-21 17:28] gnufied commented on #695
We could not make this feature in 1.17 timeline but we are trying to get this done as an alpha feature in 1.18. I have submitted a KEP with updated design https://github.com/kubernetes/enhancements/pull/1478 to address some of the issues raised in original design.

[2020-01-21 17:45] helayoty commented on #695
Thanks @gnufied for the update. Kindly include all k/k PRs in the issue so they can be tracked

[2020-01-21 17:48] helayoty commented on #961
Thanks @krmayankk for the update.

[2020-01-21 17:48] helayoty commented on #961
/milestone v1.18

[2020-01-21 17:49] helayoty commented on #695
/milestone v1.18

[2020-01-21 18:31] Huang-Wei commented on #895
@palnabarun Thanks for the reminder. After discussion with the SIG, we're going to promote this to beta in 1.18. Will send out a PR to update the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190221-even-pods-spreading.md).

[2020-01-21 19:28] johnbelamaric commented on #669
Is that part of this KEP or will it be done as part of https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190125-removing-in-tree-providers.md ?

If it's not needed to say that this KEP is "done", and there is no additional work needed for this KEP (it is fully completed) then you would:

1. go into the actual KEP file and create  a PR that sets the header status to `

[2020-01-21 19:57] palnabarun commented on #895
@Huang-Wei  That's sounds awesome. Please note that the KEP is lacking Graduation Criteria for Beta.

Please note that they should be updated before the enhancements freeze on Tuesday, January 28th, failing which an exception would be needed.

[2020-01-21 19:57] palnabarun commented on #895
/stage beta

[2020-01-21 19:57] palnabarun commented on #895
/milestone v1.18

[2020-01-21 19:58] johnbelamaric commented on #647
Moving to v1.19 per @dashpole
/milestone v1.19

[2020-01-21 20:10] palnabarun commented on #1451
@alculquicondor Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

The KEP is still in `provisional` state and is missing test plans and graduation criteria.

[2020-01-21 20:13] palnabarun commented on #1287
@vinaykul Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

The KEP is still in `provisional` state and is missing test plans and graduation criteria.

[2020-01-21 20:15] palnabarun commented on #491
@apelisse Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

The enhancement is still missing a KEP

[2020-01-21 20:16] apelisse commented on #491
Thanks, we're working on it: https://github.com/kubernetes/enhancements/pull/1460

[2020-01-21 20:18] palnabarun commented on #19
@barney-s Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

Do you have any updates on the KEP?

[2020-01-21 20:21] alculquicondor commented on #1451
Thanks @palnabarun, I just sent #1483 for review

[2020-01-21 20:22] vinaykul commented on #1287
@palnabarun Thanks for the reminder, I have sent PR #1342 to get it them to implementable, and the change also adds test plan and graduation criteria to the KEPs. We discussed it in sig-node this morning and there were a couple of comments, which has been addressed. Once @derekwaynecarr , @dchen1107 have the chance to take a final look, we should be merging it. I'm optimistic it can be done by nex

[2020-01-21 20:23] palnabarun commented on #491
Awesome! :)

[2020-01-21 20:23] palnabarun commented on #491
/reopen

[2020-01-21 20:23] palnabarun commented on #491
Sorry, I accidentally closed the issue.

[2020-01-21 20:24] palnabarun commented on #491
As an added note, I am updating the issue description with KEP PR.

[2020-01-21 20:25] apelisse commented on #491
Thanks!

On Tue, Jan 21, 2020 at 12:24 PM Nabarun Pal <notifications@github.com>
wrote:

[2020-01-21 20:29] palnabarun commented on #1287
Awesome @vinaykul! Thanks for keeping it in priority. :)

[2020-01-21 20:30] palnabarun commented on #1287
As an added note, I am updating the issue comment here to have the KEP PR also linked.

[2020-01-21 20:33] palnabarun commented on #1451
Awesome @alculquicondor! :)

[2020-01-21 20:35] palnabarun commented on #1451
As an added note, I am updating the issue comment with the KEP PR.

[2020-01-21 20:41] palnabarun commented on #1024
Cross-posting from Slack.

I am going ahead and updating the Issue comment with the KEP PR.

[2020-01-21 20:46] palnabarun commented on #166
@Huang-Wei @damemi Is this (https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20200114-taint-based-evictions.md) the KEP for this enhancement?

[2020-01-21 20:57] jeremyrickard commented on #19
Per @mattfarina on Slack, this won't be graduating to stable in 1.18. I'm going to remove it from the 1.18 milestone and drop it from the release tracking sheet.

[2020-01-21 20:59] palnabarun commented on #19
PR to the KEP: https://github.com/kubernetes/enhancements/pull/978

[2020-01-21 20:59] damemi commented on #166
@palnabarun yes, and this is the parent issue for the tasks that need to be done: https://github.com/kubernetes/kubernetes/issues/87161

[2020-01-21 21:01] palnabarun commented on #166
@damemi Awesome! I see that the KEP now satisfies all criteria for the Enhancements Freeze.

Thank you for all the efforts. :)

[2020-01-21 21:02] palnabarun commented on #166
I went ahead and updated the issue comment with the link to the KEP.

[2020-01-21 21:02] jeremyrickard commented on #19
/milestone clear

[2020-01-21 21:38] kikisdeliveryservice commented on #127
As a reminder @prbinu @derekwaynecarr,

Enhancements Freeze is in 7 days.  If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:39] kikisdeliveryservice commented on #606
As a reminder @dashpole @RenaudWasTaken :

Enhancements Freeze is in 7 days.  If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:40] kikisdeliveryservice commented on #609
As a reminder @mitchellmaler @MaciekPytel  :

    Tuesday, January 28th EOD PST - Enhancements Freeze

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:41] kikisdeliveryservice commented on #611
As a reminder:

    Tuesday, January 28th EOD PST - Enhancements Freeze

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:42] kikisdeliveryservice commented on #727
As a reminder @dashpole :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:42] kikisdeliveryservice commented on #773
As a reminder @jingxu97 :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:43] kikisdeliveryservice commented on #783
As a reminder @stealthybox  :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:44] kikisdeliveryservice commented on #786
As a reminder @stealthybox @luxas  :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:45] kikisdeliveryservice commented on #859
As a reminder @pwittrock   :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:45] kikisdeliveryservice commented on #991
As a reminder @andrewsykim  :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:46] kikisdeliveryservice commented on #1041
As a reminder @clamoriniere   :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:46] kikisdeliveryservice commented on #1045
As a reminder @resouer @zhangxiaoyu-zidif   :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:47] kikisdeliveryservice commented on #1143
As a reminder @smarterclayton   :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:47] kikisdeliveryservice commented on #1326
As a reminder @sftim   :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:48] kikisdeliveryservice commented on #1339
As a reminder @michaelgugino @justinsb   :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:49] kikisdeliveryservice commented on #1355
As a reminder @sparciii  :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 21:49] kikisdeliveryservice commented on #1403
As a reminder @michaelgugino   :

Enhancements Freeze is in 7 days. If you seek inclusion in 1.18 please update as requested above.

Thanks!

[2020-01-21 23:37] jeremyrickard commented on #1001
Hey @PatrickLang, reaching out again. 7 days to go until Enhancment Freeze. Are you still going to land this for 1.18?

[2020-01-21 23:46] davidz627 opened #1487 "AWS EBS in-tree to CSI driver migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Migrate the internals of in-tree AWS EBS Plugin to call out to the EBS CSI Plugin while maintaining the original API
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- KEP: https://github.com/kubernetes/enha

[2020-01-21 23:47] davidz627 opened #1488 "GCE PD in-tree to CSI driver migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Migrate the internals of in-tree GCE PD Plugin to call out to the PD CSI Driver while maintaining the original API
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- KEP: https://github.com/kubernetes/enhanc

[2020-01-21 23:50] davidz627 opened #1489 "Cinder in-tree to CSI driver migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Migrate the internals of in-tree Cinder Plugin to call out to the Cinder Driver while maintaining the original API
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- KEP: https://github.com/kubernetes/enhanc

[2020-01-21 23:51] davidz627 opened #1490 "Azure disk in-tree to CSI driver migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Migrate the internals of in-tree Azure Disk Plugin to call out to the Azure Disk CSI Driver respectively while maintaining the original API
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- KEP: https://git

[2020-01-21 23:53] davidz627 opened #1491 "vSphere in-tree to CSI driver migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Migrate the internals of in-tree VSphere Plugin to call out to the VSphere CSI Driver  while maintaining the original API
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- KEP: https://github.com/kubernetes

[2020-01-21 23:54] davidz627 commented on #1491
/sig storage

[2020-01-21 23:54] davidz627 commented on #1487
/sig storage

[2020-01-21 23:54] davidz627 commented on #1490
/sig storage

[2020-01-21 23:54] davidz627 commented on #1489
/sig storage

[2020-01-21 23:54] davidz627 commented on #1488
/sig storage

[2020-01-22 05:18] adisky commented on #669
cc @ramineni would you be able to create a PR for marking this KEP as implemented?

[2020-01-22 07:09] andyzhangx commented on #1490
azure disk & file won't go BETA on 1.18 since there is dependency on csi windows, if we go beta, that means all requests for built-in driver would be redirected to csi driver, while csi driver does not work on Windows, that will break azure disk & file driver on Windows

[2020-01-22 07:09] andyzhangx commented on #1490
/sig cloud-provider
/area provider/azure

[2020-01-22 07:10] andyzhangx commented on #1490
@davidz627 thanks for driving this

[2020-01-22 08:07] feiskyer commented on #1490
/assign @andyzhangx

[2020-01-22 08:12] feiskyer commented on #667
Because the CSI drivers couldn't reach beta in 1.18 (see https://github.com/kubernetes/enhancements/issues/1490), we would move the beta to v1.19.

/milestone v1.19

cc @kikisdeliveryservice

[2020-01-22 09:30] palnabarun commented on #18
@justinsb Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:31] palnabarun commented on #213
@krmayankk @tallclair Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:31] palnabarun commented on #361
@arunbpt7 @jingxu97 @vishh Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:32] palnabarun commented on #362
@pohly @msau42 Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:32] palnabarun commented on #551
@yastij Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:33] palnabarun commented on #556
@gnufied Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:33] palnabarun commented on #599
@draveness Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:33] palnabarun commented on #614
@danwinship @janosi Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:33] palnabarun commented on #757
@derekwaynecarr @RobertKrawitz Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:34] palnabarun commented on #784
@rosti Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:34] palnabarun commented on #1029
@RobertKrawitz Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:34] palnabarun commented on #1146
@kolorful Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:34] palnabarun commented on #1352
@zhangxiaoyu-zidif Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 09:34] palnabarun commented on #1381
@rosti Just a friendly reminder, we are just 7 days away from the Enhancement Freeze (Tuesday, January 28th).

[2020-01-22 13:32] kolorful commented on #1146
@palnabarun I think this KEP is probably going to be abandoned, was waiting for the cronjob maintainer to chime in, but looks like there is still no response yet. I'll close it.

[2020-01-22 13:32] #1146 closed

[2020-01-22 13:53] palnabarun commented on #1146
@kolorful Thank you for the update. If you need more help, please chime in the sig-apps meetings and/or slack.

[2020-01-22 17:30] kikisdeliveryservice commented on #667
thanks for the update @feiskyer !

[2020-01-22 18:18] bswartz opened #1495 "Generic data populators"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow generic data populators by permitting any object to be the data sources for a PVC
- Kubernetes Enhancement Proposal: [https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1495-volume-populators](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1495-volume-po

[2020-01-22 18:19] bswartz commented on #1495
/sig storage

[2020-01-22 19:01] johnbelamaric commented on #611
Kirsten you can untrack this one.

[2020-01-22 19:11] johnbelamaric commented on #383
/milestone v1.19

[2020-01-22 19:17] johnbelamaric commented on #600
Nothing planned for 1.18 per @liggitt

[2020-01-22 19:29] davidz627 commented on #1490
@andyzhangx feel free to edit description

[2020-01-22 19:33] sparciii commented on #1355
Thanks @kikisdeliveryservice for the reminder! I'll inquire in the slack channel and upcoming office hours to get some feedback if this KEP is a reasonable request.

[2020-01-22 19:36] johnbelamaric commented on #989
/milestone v1.18

[2020-01-22 19:43] andrewsykim commented on #673
I'm going to close this enhancement issue seeing as how we weren't able to find anyone willing to work on the out-o-ftree oVirt provider. If anyone in the community would like to work on this please feel free to reopen.

[2020-01-22 19:43] andrewsykim commented on #673
/close

[2020-01-22 19:43] #673 closed

[2020-01-22 19:48] andrewsykim commented on #672
This is a tricky situation -- our CI wouldn't let you merge or approve PRs unless you're an org member so that's something that is actually required and we can't sponsor you as org members unless you've contributed to the project in some way first.

Having said that, I would glady be willing to help both of you become org members so we can move this work along. Our SIG backlog is growing and could

[2020-01-22 19:49] andrewsykim commented on #672
@onitake hope you don't mind if I close this issue for now, we can reopen it once either of you can become OWNERs of the proposed repo.

/close

[2020-01-22 19:49] #672 closed

[2020-01-22 20:51] jeremyrickard commented on #24
Hey @saschagrunert, it  looks like there hasn't been much traffic on the KEP. I wanted to check back in since we're about a week away from enhancement freeze. I'm guessing there won't be a big push before then, but please let us know!

[2020-01-22 20:52] jeremyrickard commented on #117
Hey there @mwielgus and @josephburnett, Enhancements Team reaching out again. We're about a week out from Enhancement Freeze on the 28th. Let us know if you think there will be any activity on this.

[2020-01-22 20:53] jeremyrickard commented on #135
Hey @tallclair, any update on if this will make it into 1.18 or not? It's currently marked in the milestone but you haven't confirmed if we should track this or not.

Thanks!

[2020-01-22 20:54] jeremyrickard commented on #565
Hey @jsafrane,

1.18 enhancement team checking in! Are you still planning on graduating this in 1.18? Enhancement Freeze is about a week away and we currently *are not* tracking this item.

Thanks!

[2020-01-22 20:55] jeremyrickard commented on #351
@jsafrane @msau42 we're about a week away from Enhancement Freeze now. Do you plan on including any of this in 1.18? We're currently not tracking this or #565,  and we'll need to do that prior to the enhancement freeze if you'd like to graduate this in 1.18!

Thanks!

[2020-01-22 20:56] saschagrunert commented on #24
Hey, let’s skip this KEP for 1.18. :) we can easily target it for 1.19

[2020-01-22 20:56] jeremyrickard commented on #423
Hey there @M00nF1sh @justinsb @micahhausler courtesy notice that we're about a week away from enhancements freeze for 1.18. Are you planning on graduating this, or making any major changes within the 1.18 release?

Thanks!

[2020-01-22 20:57] jeremyrickard commented on #597
Hey there @gnufied -- 1.18 Enhancements lead here. We're about a week away from Enhancement Freeze on Jan 28th. Wanted to check to see if you'll be graduating this to alpha in 1.18?

[2020-01-22 20:58] jeremyrickard commented on #853
Hello @gliush and @josephburnett --

We're about a week out from 1.18. You missed code freeze for 1.17, but we currently aren't tracking this for 1.18 yet. Can you confirm if you plan on graduating this in the 1.18 release so we can track it? Thanks so much!

[2020-01-22 21:02] jeremyrickard commented on #970
Hey @neolit123,

Any update on this for 1.18?

[2020-01-22 21:04] jeremyrickard commented on #1024
Hey @prameshj how are you feeling about geting the KEP merged by Enhancement Freeze? We're about a week away!

[2020-01-22 21:05] jeremyrickard commented on #1122
Thanks @ddebroy!

[2020-01-22 21:08] jeremyrickard commented on #1432
Hey there @xing-yang,

Checking in to see if you're still on track for 1.18? It looks like the KEP still hasn't been merged. As a reminder, that will need to occur before the Enhancement Freeze (end of day, Pacific Time, on January 28th).

Thanks!!

[2020-01-22 21:34] jeremyrickard commented on #1491
Hey @davidz627,

I see in the enhancement description you're targeting 1.18 for this. Can you confirm if this will be in 1.18? Enhancement Freeze is about a week away and we'll need to track it now if you'd like to be included? I think in #625 you indicated 1.19 for that one, are these enhancements to track at a more granular level?

Thanks!

[2020-01-22 21:37] xing-yang commented on #1432
@jeremyrickard Yes, we are still trying to get it merged by 1/28.  Thanks!

[2020-01-22 21:37] davidz627 commented on #1491
Yes, this is more granular. There is specific integration work required for each in-tree plugin - each of which is gated by a seperate feature flag and graduates at it's own rate based on set criteria. IIUC @divyenpatel and @xing-yang are leading the vSphere storage migration and as far as I understand planned for a `1.18` alpha so you should confirm with them.

[2020-01-22 21:39] prameshj commented on #1024
I am hopeful about merging the KEP before Jan 28th. I got an LGTM, will get it approved in the next few days, thanks for the reminder.

[2020-01-22 21:42] jeremyrickard commented on #24
Awesome, thanks for the update @saschagrunert.

[2020-01-22 21:45] jeremyrickard commented on #1490
@feiskyer @andyzhangx should we track this for 1.18? It looks like your description indicates you plan to go beta on this?

[2020-01-22 22:01] sparciii commented on #1355
as per discussion with @Huang-Wei , we'll close off https://github.com/kubernetes/kubernetes/pull/84405 in favor of submitting to the subrepo https://github.com/kubernetes-sigs/scheduler-plugins where the code will adhere to the scheduler framework.

[2020-01-22 22:03] jeremyrickard commented on #1491
@davidz627 , as a bit of a process issue, could we get the KEP updated with the actual test plan instead of the statement that just references the design proposal?

[2020-01-22 22:08] xing-yang commented on #1491
@jeremyrickard we are still planning 1.18 alpha for vSphere driver.

[2020-01-22 22:21] youngnick opened #1498 "Increase Kubernetes support window to one year"
# Enhancement Description
- One-line enhancement description (can be used as a release note): The Kubernetes support window has been released to one year, or four releases. This is a change from nine months, or three releases.
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR) #1497
- Primary contact (assignee): @youngnick
- Responsible SIGs: wg-lts

[2020-01-22 22:22] youngnick commented on #1498
/wg wg-lts
/sig sig-architecture
/sig sig-release
/sig sig-testing

[2020-01-22 22:23] youngnick commented on #1498
OK then.

[2020-01-22 22:24] youngnick commented on #1498
/wg wg-lts

[2020-01-22 22:25] msau42 commented on #351
Yes this should be tracked along with #565

[2020-01-22 22:25] msau42 commented on #565
Yes this should be tracked

[2020-01-22 22:26] tallclair commented on #24
Thanks @saschagrunert . I want to get the open questions on the Seccomp KEP sorted out before reviewing the AppArmor one, otherwise we may just end up duplicating work.

[2020-01-22 22:27] tallclair commented on #135
v1.18 is seeming unlikely for this. I think we can bump to
/milestone v1.19

[2020-01-22 22:48] neolit123 commented on #1498
/wg lts
/sig architecture
/sig release
/sig testing

[2020-01-22 23:04] jeremyrickard commented on #135
Great, thanks for the update @tallclair :)

[2020-01-22 23:04] neolit123 commented on #970
hi, we are not going to add a new API version as part of 1.18.

[2020-01-22 23:08] kikisdeliveryservice commented on #1355
@sparciii will you be trying to make 1.18 for alpha? just let me know so we can track it.

Thanks!

[2020-01-22 23:11] neolit123 commented on #1424
@jeremyrickard

as noted on the [#sig-release slack channel](https://kubernetes.slack.com/archives/C2C40FMNF/p1579732706083500) this work might span multiple releases. i think it's appropriate to mark this ticket as v1.19.

not sure if should be "tracked/yes" still at this point.

[2020-01-22 23:12] jeremyrickard commented on #1424
/milestone v1.19

[2020-01-22 23:32] jeremyrickard commented on #1491
@xing-yang yep, we'll track this.  The KEP will need to be updated with the actual test plan instead of the reference to the design proposal for us to get it past enhancement freeze though.

cc: @johnbelamaric @alejandrox1 @mrbobbytables

[2020-01-22 23:34] jeremyrickard commented on #1489
@davidz627 @dims @adisky I assume this is also being targeted for 1.18? The KEP currently doesn't have a Test Plan defined, it only references what is in the original design proposal. The release team would like to see the KEP updated to actually contain the test plan before enhancement freeze. We'll conditionally track this for 1.18 with that in mind if you're planning on going to beta in 1.18.

[2020-01-22 23:41] xing-yang commented on #1491
Thanks @jeremyrickard!  Looks like @davidz627 will update the main KEP with test plan.

[2020-01-23 00:10] justaugustus commented on #1498
@youngnick -- We'll need to open this for discussion across mailing lists AND achieve consensus on this across all of the stakeholder SIGs and I do not see that happening by Enhancements Freeze or 1.18.

See the Slack convo happening here: https://kubernetes.slack.com/archives/C2C40FMNF/p1579736459090100

[2020-01-23 00:10] cblecker commented on #1498
-1 for targeting 1.18. See my comment here: https://github.com/kubernetes/enhancements/pull/1497#pullrequestreview-346989565

[2020-01-23 00:12] BenTheElder commented on #1498
[noting that enhancements freeze is tuesday, review + buy-in from affected sigs (... all of them?) seems unlikely by then :sweat_smile: ]

[2020-01-23 00:19] davidz627 commented on #1491
PTAL https://github.com/kubernetes/enhancements/pull/1499

[2020-01-23 00:27] jeremyrickard commented on #1472
/milestone v1.18

[2020-01-23 00:30] jeremyrickard commented on #1495
Hey @bswartz, I see you've targeted this going Alpha in 1.18. This is a friendly notice that to be included in 1.18, you'll need to have the KEP merged as `implementable` and it will need to have graduation criteria and a test plan. Your KEP PR looks like it's missing both of those and is marked as provisional. If you could please confirm that you plan on making this go alpha in 1.18, we can condi

[2020-01-23 00:34] jeremyrickard commented on #1491
THANK YOU SO MUCH @davidz627

[2020-01-23 00:34] jeremyrickard commented on #1491
/milestone v1.18

[2020-01-23 00:37] jeremyrickard commented on #1488
Hey @davidz627 just to clarify this is NOT for v1.18 correct?

[2020-01-23 00:38] jeremyrickard commented on #1487
Hey @davidz627 @leakingtapan, just to confirm you are not targeting v1.18 for this, correct?

[2020-01-23 00:38] davidz627 commented on #1488
Right, our planned GA is 1.19

[2020-01-23 00:47] jeremyrickard commented on #1488
Awesome! I'll mark it as deferred to 1.19 in the release tracking stuff so we reach out early next release!
/milestone v1.19

[2020-01-23 01:26] feiskyer commented on #1490
/milestone v1.19

[2020-01-23 01:37] jeremyrickard commented on #1490
Thanks @feiskyer!

[2020-01-23 03:29] diepes opened #1500 "NetworkPolicy and dns integration"
# Enhancement Description
- Integrate NetworkPolicy with the k8s DNS.
- **Goal** is to allow dns based rules such as  allow out drive.google.com:443

- **Highlevel:**  Container does dns query to resolve ip.  If dns name is in whitelist, a ip set for the name gets updated with the ip's resolved for the dns name.     Once the pod then send's traffic to the ip, it is allowed, allowing to use dns nam

[2020-01-23 05:18] leakingtapan commented on #1487
Nope. It’s for 1.19

[2020-01-23 09:30] pohly commented on #362
No changes planned for 1.18.

We created https://github.com/kubernetes/enhancements/issues/1472 to track a related (but different) feature.

[2020-01-23 21:25] helayoty commented on #542
Hey @mikedanese  -- 1.18 Enhancements team shadow here. We're about 5 days away from Enhancement Freeze on **Jan 28th**. Wanted to check to see if you'll be graduating this to stable in 1.18?

[2020-01-23 21:27] helayoty commented on #545
Hey @NickrenREN  -- 1.18 Enhancements team shadow here. We're about 5 days away from Enhancement Freeze on **Jan 28th**. Wanted to check to see if you'll be graduating this to beta in 1.18?

[2020-01-23 21:27] helayoty commented on #592
Hey @janetkuo   -- 1.18 Enhancements team shadow here. We're about 5 days away from Enhancement Freeze on **Jan 28th**. Wanted to check to see if you'll be graduating this to beta in 1.18?

[2020-01-23 21:29] helayoty commented on #785
Hey @jfbai @luxas @ahg-g    -- 1.18 Enhancements team shadow here. We're about 5 days away from Enhancement Freeze on **Jan 28th**. Wanted to check to see if you'll be graduating this to beta in 1.18?

[2020-01-23 21:31] helayoty commented on #1357
Hey @jfbai  -- 1.18 Enhancements team shadow here. We're about 5 days away from Enhancement Freeze on **Jan 28th**. Wanted to check to see if you'll be included in 1.18?

[2020-01-23 21:31] helayoty commented on #1208
Hey @jfbai  -- 1.18 Enhancements team shadow here. We're about 5 days away from Enhancement Freeze on **Jan 28th**. Wanted to check to see if you'll be included in 1.18?

[2020-01-23 21:35] helayoty commented on #993
Hey @Liujingfang1   -- 1.18 Enhancements team shadow here. We're about 5 days away from Enhancement Freeze on **Jan 28th**. Wanted to check to see if you'll be graduating this to beta in 1.18?

[2020-01-23 21:38] PatrickLang commented on #1043
@marosset is planning to update this to stable in the feature flags  & docs . No functional changes.

[2020-01-23 21:38] helayoty commented on #1043
/milestone v1.18

[2020-01-23 21:38] PatrickLang commented on #1043
/assign marosset

[2020-01-23 22:13] Liujingfang1 commented on #993
@helayoty We don't have plan for this in 1.18. Thanks for reaching out.

[2020-01-23 23:17] jeremyrickard commented on #1301
Confirmed with @PatrickLang this should be tracked for 1.18

[2020-01-23 23:18] jeremyrickard commented on #1001
Confirmed with @PatrickLang via slack, this should be tracked for 1.18.

[2020-01-24 00:35] bowei commented on #536
cc: @robscott

[2020-01-24 01:51] robscott commented on #536
@imroc as discussed on the sig-network call today, I'm going to work on a PR that will ensure EndpointSlices set topology fields matching the topologyKeys defined on a Service. @helayoty I'll try to have a PR for the KEP tomorrow covering that change. I'm thinking this is a small enough update that it won't need tracking, but not sure. At the very least, I don't think 1.18 will have any API change

[2020-01-24 03:00] bswartz commented on #1495
@jeremyrickard Thanks I do hope for this KEP to be targeted at 1.18, but that depends mostly on the reviewers agreeing with the approach in general. I will update the document itself to include graduation criteria and a test plan.

[2020-01-24 03:35] imroc commented on #536
@robscott That's great, and yes, this small change does not affect the topology routing logic at all. Thanks for your information.

[2020-01-24 07:27] RenaudWasTaken commented on #606
Sorry about the lack of activity, it might be nice to graduate this API to G.A
I don't think there's anything we want to change, I'll float that question at sig-node and get back to you on what we decide @kikisdeliveryservice

[2020-01-24 11:36] ahg-g commented on #785
Hi Heba, this will not graduate to Beta in this cycle.

[2020-01-24 13:44] tomkerkhove commented on #383
You might be interested in https://github.com/kubernetes/kubernetes/issues/85544 as well.

[2020-01-24 13:46] tomkerkhove commented on #383
Would be good if CloudEvents could be taken into consideration for this.

[2020-01-24 13:57] tomkerkhove commented on #383
I've gone through the proposal and think it certainly makes sense.

My only additional input would be :
1. Make it CloudEvents compliant ( kubernetes/kubernetes#85544 )
2. Ensure the events have the concept of an "event type" on which can be filtered, ie. DeploymentScaledOut, which is a unique type for that event and has a payload schema tied to it so users know how to process it.

[2020-01-24 15:00] ahg-g commented on #785
Sorry, we may still graduate this to Beta, we will have a decision before the deadline.

[2020-01-24 17:15] helayoty commented on #536
@robscott @imroc Perfect We'll include the issue in 1.18

Kindly if you can share the KEP PR and any other k/k PRs

[2020-01-24 17:16] helayoty commented on #536
/milestone v1.18

[2020-01-24 17:17] helayoty commented on #785
/milestone v1.18

[2020-01-24 17:23] helayoty commented on #785
@ahg-g Thanks for the update. Please note that KEP must be merged before the deadline.

Kindly if you can include any k/k PRs in the issue.

[2020-01-24 19:18] kikisdeliveryservice commented on #606
Thanks @RenaudWasTaken !

[2020-01-24 21:14] janosi commented on #614
@palnabarun @danwinship  I wonder if there is anything to do with the KEP itself. Do you see any gap?

[2020-01-25 00:02] negz commented on #706
https://github.com/crossplaneio/crossplane/pull/1163

The above (very early sketch of a) design document contains some thoughts from our experiences with Crossplane that could be relevant to this KEP, particularly with regard to _requesting_ infrastructure. In short, we've found it limiting to have a project like Crossplane define the CRDs used to request things like SQL databases, Redis caches, b

[2020-01-25 01:27] robscott opened #1507 "Adding AppProtocol to Services and Endpoints"
# Enhancement Description
- AppProtocol is a new optional field on ports in Endpoints and Services
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1507-app-protocol
- Primary contact (assignee): @robscott
- Responsible SIGs: network
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.18)
  - Beta rele

[2020-01-25 01:27] robscott commented on #1507
/sig network

[2020-01-26 19:52] palnabarun commented on #18
@justinsb Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 19:52] palnabarun commented on #213
@krmayankk Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 19:53] palnabarun commented on #361
@arunbpt7 @jingxu97 @vishh  Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 19:54] palnabarun commented on #362
@pohly Thanks for the update. I will update the tracking sheet accordingly.

[2020-01-26 19:54] palnabarun commented on #362
/milestone clear

[2020-01-26 19:56] palnabarun commented on #491
@apelisse Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 19:56] palnabarun commented on #551
@yastij  Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 19:57] palnabarun commented on #556
@gnufied  Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 19:57] palnabarun commented on #599
@draveness  Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:02] palnabarun commented on #614
@janosi The KEP satisfies all criteria for inclusion into the release cycle. I don't see any gap with respect to the KEP.

However, the person(s)/SIG(s) responsible for the enhancements has to give a nod if there is any work planned for graduation in the current release cycle.

[2020-01-26 20:02] palnabarun commented on #614
Also, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:03] palnabarun commented on #614
The KEP linked in the PR was linking to a wrong document, fixed it.

[2020-01-26 20:08] palnabarun commented on #1352
@zhangxiaoyu-zidif Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:08] palnabarun commented on #1381
@rosti Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:09] palnabarun commented on #1451
Hi @alculquicondor, just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:42] palnabarun commented on #757
@derekwaynecarr @RobertKrawitz Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:43] palnabarun commented on #784
@rosti Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:43] palnabarun commented on #1029
@RobertKrawitz Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-26 20:46] palnabarun commented on #895
@Huang-Wei I see that the PR to update the KEP was merged. Also, the issue description has an outdated KEP link now. If https://github.com/Huang-Wei/enhancements/blob/master/keps/sig-scheduling/20190221-pod-topology-spread.md is the correct one, shall I go ahead and updated the issue description?

[2020-01-26 20:58] palnabarun commented on #1287
@vinaykul Just a friendly reminder, we are just 2 days away from the Enhancement Freeze (3 PM Pacific Time, Tuesday, January 28th).

[2020-01-27 00:23] draveness commented on #599
Thanks for the reminder.

Hi @yastij do you think this is still necessary?

[2020-01-27 04:08] bswartz commented on #1495
@jeremyrickard I filled in the missing sections. Still working with approvers on getting approval. Let me know if there's anything else essential you think I should add.

[2020-01-27 07:06] palnabarun commented on #1440
@soltysh @hpandeycodeit We are less than 2 days away from Enhancements Freeze (3PM Pacific Time Tuesday, January 28th).

I see that the last activity on the PR was 10 days ago. Let us know if any help is needed from the release team's side.

[2020-01-27 07:08] palnabarun commented on #491
@apelisse I see that the last activity on the KEP PR was 10 days ago. Let us know if any help is required from the release team to get more traction on this.

[2020-01-27 07:23] palnabarun commented on #1217
@mvladev Just a friendly reminder, we are less than 2 days away from Enhancements Freeze (3PM Pacific Time, Tuesday, January 28th).

I see that the KEP PR is still in review. Let us know if you need any help from the release team to get more eyes on the PR.

[2020-01-27 09:53] gliush commented on #853
@jeremyrickard : Yes, This should be a part of 1.18.
The KEP is merged to master, code is merged to master, documentation is merged to master.
Everything seems to be ready.
Should I do anything else to make it happen?

[2020-01-27 10:14] rosti commented on #784
@palnabarun sorry for the late response. This won't be making it in 1.18. Hence you can safely untrack it.

[2020-01-27 10:16] palnabarun commented on #784
@rosti Thank you for the updates. I will update the tracking sheet accordingly.

[2020-01-27 10:17] rosti commented on #1381
@palnabarun sorry for the late response. Although most of this is going to be merged in 1.18, it probably won't be graduating to alpha in this release.

[2020-01-27 10:24] palnabarun commented on #1381
@rosti Thank you for the updates. I will defer this to the 1.19 cycle. We can track it in the next release cycle.

[2020-01-27 10:24] palnabarun commented on #1381
/milestone 1.19

[2020-01-27 10:24] palnabarun commented on #1381
/stage alpha
/milestone v1.19

[2020-01-27 10:27] palnabarun commented on #1024
Thank you @prameshj in being proactive for getting this through the requirements for Enhancements Freeze. Appreciate the efforts. :)

Please link the k/k or any other PR's here whenever there are are raised.

[2020-01-27 10:45] palnabarun commented on #1472
@pohly Just a friendly reminder, we are less than 2 days away from the Enhancements Freeze (3PM Pacific Time, Tuesday, January 28th).

I see that the KEP PR is still open. Let us know if the release team can help in any way.

[2020-01-27 10:47] palnabarun commented on #1491
@davidz627 Just a friendly reminder, we are less than 2 days away from the Enhancements Freeze (3PM Pacific Time, Tuesday, January 28th).

I see that PR to update the KEP test plans is still open. Let us know if the release team can help in any way.

[2020-01-27 13:40] janosi commented on #614
@palnabarun @danwinship Yes, I plan to work on the e2e tests in 1.18 timeframe. Hopefully I can create those in 1.18, so this one can graduate to beta.

[2020-01-27 13:40] skilxn-go commented on #166
@damemi  Hi, is the progress of moving #1450 from scheduling to node still move on? Will it be done before v1.18 KEP freeze?

[2020-01-27 14:08] palnabarun commented on #614
@janosi Awesome! I am going to set this to tracked in the tracking sheet.

[2020-01-27 14:43] damemi commented on #166
@skilxn-go I opened a PR to move the KEP here: https://github.com/kubernetes/enhancements/pull/1510

[2020-01-27 14:46] skilxn-go commented on #166
Thanks, got it

[2020-01-27 15:59] ahg-g commented on #785
/remove-milestone v1.18

so we decided that we are not going to beta, we are going to v1alpha2

[2020-01-27 16:00] palnabarun commented on #785
@ahg-g Thank you! I will update the same in the tracking sheet.

[2020-01-27 16:01] jeremyrickard commented on #785
Hey @ahg-g is there a KEP dedicated to this issue? https://github.com/kubernetes/enhancements/pull/1173 seems related but not exactly the KEP for this issue, unless I'm reading it wrong? Thanks!

[2020-01-27 16:03] ahg-g commented on #785
you mean dedicated kep for v1beta1 or v1alpha2?

[2020-01-27 16:05] ahg-g commented on #895
Here is the merged KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190221-pod-topology-spread.md

[2020-01-27 17:01] jeremyrickard commented on #785
@ahg-g I meant is there a KEP that covers the graduation of this enhancement, aside from #1173?

[2020-01-27 17:16] jeremyrickard commented on #1507
Hey @robscott I'm adding this to the v1.18 milestone per the issue description up above. Let me know if this is not correct.

[2020-01-27 17:16] jeremyrickard commented on #1507
/milestone v1.18

[2020-01-27 17:18] liggitt opened #1513 "CertificateSigningRequest API"
# CertificateSigningRequest API
- One-line enhancement description (can be used as a release note): CertificateSigningRequest API
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190607-certificates-api.md
- Primary contact: @liggitt
- Responsible SIGs: sig-auth
- Enhancement target (which target equals to which milestone):
  - Alpha release

[2020-01-27 17:19] liggitt commented on #1513
/sig auth

[2020-01-27 17:20] liggitt commented on #1513
@jeremyrickard work is continuing on this API in 1.18, progressing in the beta state.

[2020-01-27 17:55] jeremyrickard commented on #785
/milestove v1.18 since this will change in a new alpha API version.

[2020-01-27 17:56] jeremyrickard commented on #785
/milestone v1.18

[2020-01-27 17:59] alculquicondor commented on #785
the introduction of `v1alpha2` is already tracked in #1451

Is this enough?

[2020-01-27 18:00] jeremyrickard commented on #785
@alculquicondor yes, although the KEP needs to be merged :) we'll track on that. thanks!

[2020-01-27 18:04] jeremyrickard commented on #1513
/milestone v1.18

[2020-01-27 18:39] josephburnett commented on #853
Ping @jeremyrickard.  What is required to make this cell show "Tracked" instead of "Pending Inclusion"?

[2020-01-27 18:59] Huang-Wei commented on #895
@palnabarun Ah, please help to update the KEP link to https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20190221-pod-topology-spread.md. Thanks!

[2020-01-27 19:05] apelisse commented on #491
I'm on it today, thanks!

[2020-01-27 19:23] palnabarun commented on #491
Awesome!

[2020-01-27 19:23] palnabarun commented on #895
Updating it.

[2020-01-27 19:25] PatrickLang commented on #689
/milestone v1.18

[2020-01-27 19:25] palnabarun commented on #853
@josephburnett Everything seems fine. Just one concern, does this KEP not require any Test Plans?

[2020-01-27 19:29] neolit123 commented on #995
@jeremyrickard the KEP update is about to merge for beta graduation in 1.18.
https://github.com/kubernetes/enhancements/pull/1456

[2020-01-27 19:58] jeremyrickard commented on #853
@josephburnett @gliush sorry for the delay. We'll flip the status in the sheet. @palnabarun is right, the KEP should really have a test plan defined. I think we missed calling that out for 1.17. Is that something that you can get done before enhancement freeze tomorrow? Apologies for not catching this during the 1.17 time frame and seeing it so late in the enhancement cycle now.

[2020-01-27 20:02] alculquicondor commented on #785
Done :)

[2020-01-27 20:09] jeremyrickard commented on #853
Since we're so close to the enhancement freeze, we can approve an exception if you can get the test plan added within the next few days?

[2020-01-27 23:10] Huang-Wei commented on #1355
@kikisdeliveryservice nope. It belongs to a sub-repo.

Actually one general question I want to ask is: if the KEP is targeting a sub-repo (kubernetes-sigs/xyz), should we use k/enhancement to host the KEP?

[2020-01-28 03:01] kikisdeliveryservice commented on #1355
Hi @Huang-Wei ,

Firstly, please see here: https://github.com/kubernetes/enhancements#is-my-thing-an-enhancement

Secondly, some questions/things to think about for enhancements outside of k/k : will users of k/k rely on this feature? will you need to communicate this/ need support from the release team? will your work follow and be bounded by release cycles?

It seems that this work will be an op

[2020-01-28 12:23] palnabarun commented on #1451
@alculquicondor I see that your KEP PR has been merged and satisfies all criteria for making it past the Enhancements Freeze.

I am going ahead and switching the status to Tracked.

[2020-01-28 12:24] palnabarun commented on #1451
Also, FYI, whenever you start working on this, please reference the k/k and docs PR's here for us to track.

[2020-01-28 13:25] gnufied commented on #284
@johnbelamaric for 1.18, we are planning on getting https://github.com/kubernetes/enhancements/pull/1516 done so as we can move this feature as a whole to GA in next release.

[2020-01-28 17:34] johnbelamaric commented on #1194
/remove-lifecycle stale

[2020-01-28 17:47] johnbelamaric commented on #284
@gnufied it will need to merge today, or you will need to file an exception request: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2020-01-28 17:47] johnbelamaric commented on #284
/milestone v1.18

[2020-01-28 18:14] johnbelamaric commented on #902
Will go to beta in 1.18 per @ahg-g and @vllry on slack.

[2020-01-28 18:14] johnbelamaric commented on #902
/milestone v1.18

[2020-01-28 18:15] Huang-Wei commented on #1355
Thanks @kikisdeliveryservice . Yes, it's more an optional plugin which is gonna be hosted out of k/k, I think it should be managed as a design document discussion in https://github.com/kubernetes-sigs/scheduler-plugins. However, we can leverage the KEP template outline.

cc/ @denkensk @alculquicondor

[2020-01-28 18:16] alculquicondor commented on #1355
SGTM

[2020-01-28 18:28] vinaykul commented on #1287
@palnabarun the [KEP PR](https://github.com/kubernetes/enhancements/pull/1342) has been LGTM'd and merged. Please review and let me know if this has everything squared away now.

[2020-01-28 18:30] kikisdeliveryservice commented on #1435
Hi @janosi as a reminder: today is the deadline for Enhancements Freeze for 1.18.  If you need any help from the release team's side please let us know.

[2020-01-28 18:35] johnbelamaric commented on #1217
/milestone clear

[2020-01-28 18:56] janosi commented on #1435
@kikisdeliveryservice Yeah, thank you! Actually I wait for a go/no go statement on the KEP PR from the SIG Network members @thockin @caseydavenport @andrewsykim

[2020-01-28 19:02] palnabarun commented on #1287
Amazing! Everything here looks fine wrt to the Enhancements Freeze. :)

Thank you for all efforts in getting this past the milestone.

[2020-01-28 19:03] palnabarun commented on #1287
A small nit though, the KEP linked here is stale, since it belongs to sig-node now.

[2020-01-28 19:03] palnabarun commented on #1287
Updated the issue description.

[2020-01-28 20:37] soltysh commented on #1440
@palnabarun I just tagged the proposal (https://github.com/kubernetes/enhancements/pull/1291) and we're planning on continuing with implementation for 1.18.

[2020-01-28 20:41] soltysh commented on #859
@kikisdeliveryservice the proposal for this is merged and marked as implementable. We're hoping to start the implementation within 1.18 still but that will be still alpha.

[2020-01-28 21:06] kikisdeliveryservice commented on #859
Just to clarify @soltysh you would like this to be included/tracked in the 1.18 milestone for alpha?

[2020-01-28 21:34] kikisdeliveryservice commented on #859
/tracked yes

[2020-01-28 21:36] kikisdeliveryservice commented on #859
/milestone v1.18

[2020-01-28 23:42] davidz627 commented on #1491
@palnabarun the test plan has merged

[2020-01-29 02:16] jeremyrickard commented on #1440
Thanks for getting the KEP in @soltysh!

[2020-01-29 02:16] jeremyrickard commented on #1432
@xing-yang congrats on getting the KEP merged! Updated you to `tracked` in the sheet!

[2020-01-29 02:17] jeremyrickard commented on #853
@josephburnett @gliush any luck getting a KEP PR for the test plan?

[2020-01-29 02:18] jeremyrickard commented on #1487
/milestone v1.19

[2020-01-29 02:19] xing-yang commented on #1432
Thanks @jeremyrickard !

[2020-01-29 02:29] bswartz commented on #1495
@jeremyrickard Got the KEP approved, and you please track this now?

[2020-01-29 02:53] jeremyrickard commented on #1495
/milestone v1.18

Congrats @bswartz, you're tracked.

[2020-01-29 03:06] jeremyrickard commented on #1489
/milestone v1.19

[2020-01-29 03:14] palnabarun commented on #491
Updated the KEP link in the description.

[2020-01-29 03:24] kikisdeliveryservice commented on #1432
/milestone v1.18

[2020-01-29 03:25] palnabarun commented on #740
Updated the issue description with the KEP link.

[2020-01-29 03:28] palnabarun commented on #1314
/milestone clear

[2020-01-29 03:29] jeremyrickard commented on #1333
/milestone v1.18

[2020-01-29 03:30] palnabarun commented on #1122
/milestone clear

[2020-01-29 03:31] jeremyrickard commented on #1040
/milestone v1.18

[2020-01-29 03:32] palnabarun commented on #740
Hi @micahhausler, sorry for putting this at the last minute, but it seems like the KEP is missing both test plans and graduation criteria. They are required for this enhancement to be considered for this release.

Can you please update the KEP accordingly?

[2020-01-29 03:37] palnabarun commented on #1441
Updated the issue description with KEP link.

[2020-01-29 03:38] palnabarun commented on #1440
@soltysh Thank you for all the efforts. :)

[2020-01-29 03:39] palnabarun commented on #1440
Updated the issue description with KEP link.

[2020-01-29 04:32] kikisdeliveryservice commented on #853
/milestone v1.18

[2020-01-29 04:32] jeremyrickard commented on #1101
/milestone v1.18

[2020-01-29 04:32] palnabarun commented on #1020
@soltysh Are you planning to make this enhancement part of 1.18 release cycle?

[2020-01-29 04:36] palnabarun commented on #1020
/milestone v1.18

[2020-01-29 04:40] palnabarun commented on #614
/milestone v1.18

[2020-01-29 07:46] #559 closed

[2020-01-29 07:53] kkmsft commented on #661
@SidakM : wondering are you still working/interested in continuing to work on this ?

[2020-01-29 09:21] palnabarun commented on #491
@apelisse A small nit, the KEP status is set to `Implemented` whereas it should have been `Implementable`. `Implemented` is set after the release cycle when the enhancement graduates to stable.

Can you please set it to `Implementable`?

[2020-01-29 09:24] palnabarun commented on #576
Updated the issue description to the correct KEP.

[2020-01-29 09:31] soltysh commented on #859
That is correct.

[2020-01-29 09:34] palnabarun commented on #18
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:34] palnabarun commented on #213
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:34] palnabarun commented on #361
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:34] palnabarun commented on #551
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:35] palnabarun commented on #556
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:35] palnabarun commented on #599
@draveness @yastij Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:36] palnabarun commented on #757
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:36] palnabarun commented on #1029
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 09:36] palnabarun commented on #1352
Unfortunately, the deadline for the 1.18 Enhancement freeze has passed. For now, this is being removed from the milestone. If there is a need to get this in, please file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

[2020-01-29 10:12] palnabarun commented on #859
Awesome @soltysh. Thank you for the update.

Please keep linking the k/k and other relevant PR's here.

[2020-01-29 13:07] jeremyrickard commented on #1513
Hey @liggitt as we were doing a review of all the items we were tracking last night, we noticed that the KEP for this is missing a test plan. Could you update the KEP and include that so that we can track for 1.18? Thanks and apologies for the very last minute request.

[2020-01-29 13:07] jeremyrickard commented on #1507
/stage stable

[2020-01-29 13:26] jeremyrickard commented on #1507
@robscott sorry for not catching this earlier, but the KEP for adding this field doesn't include any test plans. Could you please update the KEP and submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md)

[2020-01-29 13:29] jeremyrickard commented on #284
Hey @gnufied it looks like https://github.com/kubernetes/enhancements/pull/1516 didn't merge in time for the enhancement freeze, so we are going to remove this from the milestone for now. If you'd like to include it in the milestone, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md)

[2020-01-29 13:29] jeremyrickard commented on #284
/milestone clear

[2020-01-29 13:33] jeremyrickard commented on #688
Hey @egernst @tallclair, sorry for the late notice on this but as we were reviewing the KEPs associated with all our tracked items, we noticed that the KEP for this doesn't include any Test Plans and the Graduation criteria is not very concerete. We're going to need to remove it from the milestone and have you submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/rele

[2020-01-29 13:34] jeremyrickard commented on #688
/milestone clear

[2020-01-29 13:36] jeremyrickard commented on #693
@klueska as we were reviewing the KEPs for this release, we noticed that this is missing test plans. In order to graduate to beta in the release, it's going to need to have test plans added. I'm going to remove it from the milestone for now, but we can add it back in if you file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and add the test pl

[2020-01-29 13:36] jeremyrickard commented on #693
/milestone clear

[2020-01-29 13:38] jeremyrickard commented on #740
@micahhausler, unfortunately since this doesn't have test plans or graduation criteria, we are going to need to bump this from the 1.18 release. If you can update the KEP and file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) we can get it back in!

[2020-01-29 13:38] jeremyrickard commented on #740
/milestone clear

[2020-01-29 13:40] jeremyrickard commented on #853
Hey @josephburnett @gliush,

Unfortunately we need to bump this from the milestone since it's missing the test plan. If you can update the KEP to include that and file an [Exception Request[(https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md), we'll get it back in!

[2020-01-29 13:40] jeremyrickard commented on #853
/milestone clear

[2020-01-29 13:42] jeremyrickard commented on #962
@xing-yang as we were reviewing the KEPs for 1.18 last night, we noticed that this one is missing test plans on the KEP. We're going to need to bump this from the release, unless you can add some test plan info to the KEP and file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Apologies for the late notice!

[2020-01-29 13:42] jeremyrickard commented on #962
/milestone clear

[2020-01-29 13:45] jeremyrickard commented on #1206
@RainbowMango @brancz could we please have the KEP for this updated with Test Plan info? It looks like we didn't do that in the 1.17 time frame and we should have. I'm going to remove this from the milestone for now, but you can file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and we can add this back in. The KEP just needs to have test data

[2020-01-29 13:46] jeremyrickard commented on #1435
Hey @janosi, unfortunately since the KEP didn't merge before enhancement freeze, we're going to need to remove it from the milestone. If you can get the KEP merged, you can file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) and we can add it back to the milestone.

[2020-01-29 13:46] jeremyrickard commented on #1435
/milestone clear

[2020-01-29 13:47] jeremyrickard commented on #1472
Hey @pohly, unfortunately we've hit enhancement freeze and the KEP PR hasn't merged. We're going to need to remove this from the 1.18 milestone and you'll need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) in order to get this back into 1.18.

[2020-01-29 13:47] jeremyrickard commented on #1472
/milestone clear

[2020-01-29 13:50] klueska commented on #693
@vpickard please see above

[2020-01-29 14:01] gnufied commented on #284
@jeremyrickard we are planning to file an exception today. I will update this KEP when we do.

[2020-01-29 14:30] xing-yang commented on #962
@jeremyrickard I see.  I'll add test plan to the KEP.  Thanks!

[2020-01-29 16:02] egernst commented on #688
@jeremyrickard @tallclair  - I'll send a PR to the actual KEP to clarify graduation criteria based on prior discussions (e2e tests, monitoring/metrics) and file an exception today.

Make sense?

[2020-01-29 16:07] vpickard commented on #693
@klueska Thanks for the heads up. Will work on adding the test plan to the KEP and file an Exception Request. We are actively developing test cases and have some testing PRs done, and some in progress, including this one:

https://github.com/kubernetes/kubernetes/pull/87645

[2020-01-29 16:25] vpickard commented on #693
@jeremyrickard Is there a test plan template that you can point me to for reference?

[2020-01-29 17:39] jeremyrickard commented on #1206
/milestone clear

[2020-01-29 17:40] jeremyrickard commented on #693
@vpickard you can take a look at:

https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190530-pv-health-monitor.md#test-plan
and
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20200120-skip-permission-change.md#test-plan

If you have anything that shows up in test grid, it would be great to include.

[2020-01-29 19:24] tallclair commented on #688
Sure, ping me on slack when it's ready to go, since this is time-sensitive.

[2020-01-29 20:00] jeremyrickard commented on #688
Thanks @egernst and @tallclair, appreciate the effort!

[2020-01-29 20:24] apelisse commented on #1101
No plan for 1.18, you can stop tracking and move it to 1.19 :-/

[2020-01-29 20:35] jeremyrickard commented on #1101
Thanks for the update @apelisse

[2020-01-29 20:35] jeremyrickard commented on #1101
/milestone v1.19

[2020-01-29 20:38] jeremyrickard commented on #1186
/milestone clear

[2020-01-29 21:10] mtaufen commented on #1393
KEP is merged as implementable as of yesterday.

[2020-01-29 22:53] gliush commented on #853
The PR contains information about test plan. It will be merged soon.
@jeremyrickard : can we put it to the 1.18?

[2020-01-29 23:48] gnufied opened #1529 "Requesting enhancement exception request for - allow users to recover from expansion failure"
# Enhancement Description
- Allow users to recover from volume expansion failure
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1516
- Primary contact (assignee): @gnufied
- Responsible SIGs: sig-storage, sig-api-machinery
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y) : 1.18
  - Stable

[2020-01-30 00:19] gnufied commented on #1529
Closing this in favour of email discussion.

[2020-01-30 00:19] #1529 closed

[2020-01-30 00:31] jeremyrickard commented on #853
@gliush please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) so we can track. Make sure to link the KEP PR in the request.

[2020-01-30 00:32] jeremyrickard commented on #693
Exception was approved.

/milestone v1.18

[2020-01-30 00:32] jeremyrickard commented on #1507
Exception request was approved.

/milestone v1.18

[2020-01-30 00:46] RenaudWasTaken commented on #606
@kikisdeliveryservice Work is still in progress for this feature, we won't be graduating in this release.

[2020-01-30 00:55] kikisdeliveryservice commented on #606
Thank you for the update @RenaudWasTaken  :+1:

[2020-01-30 15:27] jeremyrickard commented on #962
@xing-yang thanks for opening the PR! You'll also need to submit an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to get it back into the release. See this link for the process: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

[2020-01-30 16:00] verb commented on #495
The only remaining item for this feature is to finish removing the feature gate in 1.19.

Enhancement leads: this feature should be excluded from 1.18 and included in 1.19.

[2020-01-30 17:48] jeremyrickard commented on #853
Hey @gliush @josephburnett @arjunrn

In order to make it back into the 1.18 release, **you need to file an exception request TODAY**. Friendly reminder: the instructions are here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

cc: @alejandrox1 @mrbobbytables @onlydole

[2020-01-30 17:49] jeremyrickard commented on #962
Hey @xing-yang,

In order to make it back into the 1.18 release, **you need to file an exception request TODAY**. Friendly reminder: the instructions are here: https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md

cc: @alejandrox1 @mrbobbytables @onlydole

[2020-01-30 17:58] xing-yang commented on #962
Hi @jeremyrickard, there were some comments came up during the code review.   It means we'll have to have a design discussion to decide which direction to go.  So we won't add this back to 1.18.  Thanks!

[2020-01-30 18:09] onlydole commented on #962
Thank you, @xing-yang!

[2020-01-31 00:10] apelisse commented on #576
Looks like the KEP here was missing some section, we just merged #1535 to address the problem. Thanks

[2020-01-31 03:12] palnabarun commented on #576
Thank you @apelisse for addressing this. :)

[2020-01-31 03:23] jfbai commented on #1357
@helayoty Sorry for delay, I'm going to close this enhancement.

[2020-01-31 03:23] #1357 closed

[2020-01-31 03:36] jfbai commented on #1208
@helayoty sorry for delay, I'm afraid this cannot be included in 1.18.

[2020-01-31 07:37] liggitt commented on #1513
opened in https://github.com/kubernetes/enhancements/pull/1536

[2020-01-31 19:18] egernst commented on #688
@jeremyrickard  -- KEP has been updated.

Can we track graduation of this feature from alpha to beta for 1.18 now?  Anything more needed?

[2020-01-31 20:21] jeremyrickard commented on #688
/milestone v1.18

[2020-01-31 20:22] jeremyrickard commented on #576
This received an exception to enhancement freeze.

[2020-01-31 20:22] jeremyrickard commented on #688
Exception request was granted, added back to milestone.

[2020-01-31 20:23] jeremyrickard commented on #853
Exception request was approved. Adding back to the milestone.
/milestone v1.18

[2020-02-01 10:36] arjunrn commented on #853
@jeremyrickard The test plan was merged into the kep. I think we don't need the exception anymore. Also this PR on k/k for this enhancement was already merged.  But I cannot find this feature listed in the [changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.18.md). Is there something missing from our end. Is it just because this KEP was left in the `implementable` state? B

[2020-02-01 17:29] sftim commented on #552
Documentation issue: https://github.com/kubernetes/website/issues/14956

[2020-02-03 15:22] savitharaghunathan commented on #895
Hello, @Huang-Wei ! I'm 1.18 docs shadow. Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this tim

[2020-02-03 15:25] savitharaghunathan commented on #859
Hello, @pwittrock :) 1.18 docs shadow here. Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this t

[2020-02-03 15:28] savitharaghunathan commented on #853
Hello, @gliush @josephburnett  @arjunrn :) 1.18 docs shadow here. Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a pl

[2020-02-03 15:31] savitharaghunathan commented on #785
Hi, @ahg-g @luxas @jfbai   :) 1.18 docs shadow here. Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR

[2020-02-03 16:24] arjunrn commented on #853
@savitharaghunathan Here is the [PR](https://github.com/kubernetes/website/pull/18965). The changes were originally made against `master` but they have been reverted. Can you also add the PR to the Enhancement Tracker.

[2020-02-03 17:02] savitharaghunathan commented on #853
@arjunrn - thanks for the update. I will link the PR to the enhancements tracker.

[2020-02-03 17:09] savitharaghunathan commented on #950
Hi, @matthyx :)
1.18 docs shadow here. Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time.

[2020-02-03 17:13] savitharaghunathan commented on #961
Hi, @krmayankk :) 1.18 docs shadow here. I noticed that you had mentioned before that no docs required for alpha state. Is it still the case?

If it needs docs, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this time. Let me know if you have any questions!

Thanks,
Savitha

[2020-02-03 17:19] savitharaghunathan commented on #902
Hi, @denkensk @vllry :) 1.18 docs shadow here.

I noticed that this feature is graduating to beta. Does this require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a pla

[2020-02-03 17:21] savitharaghunathan commented on #989
Hi, @j-griffith :) 1.18 docs shadow here.

Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this t

[2020-02-03 17:23] savitharaghunathan commented on #1001
Hi, @PatrickLang  :)

1.18 docs shadow here. Does this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)
If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR at this

[2020-02-03 17:27] savitharaghunathan commented on #995
Hi, @benmoss @ksubrmnn @michmike @PatrickLang  :)

1.18 docs shadow here. Does this enhancement require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholder PR

[2020-02-03 17:29] neolit123 commented on #995
thanks for the heads up. docs updates will be required.

[2020-02-03 21:34] matthyx commented on #950
Hi @savitharaghunathan normally the godoc comment will update the website... Maybe you could send me the link once it's available to double check?

Thanks for your reminder :)
Matthias

[2020-02-04 00:10] savitharaghunathan commented on #950
@matthyx - I am not super familiar with godoc comments updating k/website. My understanding is that a PR needs to be manually created against the 1.18-dev branch. I will confirm and get back to you. Thanks!

[2020-02-04 07:15] matthyx commented on #950
See the comment from @sftim
https://github.com/kubernetes/website/pull/17164#discussion_r346312341

[2020-02-04 07:25] Huang-Wei commented on #895
@savitharaghunathan I created a placeholder PR here https://github.com/kubernetes/website/pull/18969

[2020-02-04 10:10] savitharaghunathan commented on #950
@matthyx you are right. I just learnt about the process. Sorry for the confusion.

[2020-02-04 11:50] klueska commented on #693
@jeremyrickard Test plan merged: https://github.com/kubernetes/enhancements/pull/1527

[2020-02-04 14:15] ahg-g commented on #785
This is not graduating to Beta in 1.18

/remove-milestone v1.18

[2020-02-04 14:32] iheanyi1 commented on #1020
Hello @soltysh,

 I'm 1.18 docs shadow.

 Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placehold

[2020-02-04 15:10] iheanyi1 commented on #1024
Hello @prameshj ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placehold

[2020-02-04 15:13] iheanyi1 commented on #1040
Hello @yue9944882 ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeho

[2020-02-04 15:14] iheanyi1 commented on #1043
Hello @PatrickLang ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeh

[2020-02-04 15:17] jeremyrickard commented on #785
@ahg-g This is going to be updating from `v1alpha1` to `v1alpha2` though per the discussion above yes and would need updated docs wouldn't it? We will still track those things for the milestone.

[2020-02-04 15:17] iheanyi1 commented on #1258
Hello @alculquicondor ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a pla

[2020-02-04 15:19] iheanyi1 commented on #1281
Hello @cheftako ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placehold

[2020-02-04 15:21] iheanyi1 commented on #1287
Hello @vinaykul,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeholde

[2020-02-04 15:23] iheanyi1 commented on #1301
Hello @PatrickLang ,

I'm 1.18 docs shadow.

Just want to know if this enhancement work planned for 1.18 require any new docs (or modifications to existing docs)? If not, can you please update the 1.18 Enhancement Tracker Sheet (or let me know and I'll do so)

If so, just a friendly reminder we're looking for a PR against k/website (branch dev-1.18) due by Friday, Feb 28th, it can just be a placeh

[2020-02-04 15:31] jeremyrickard commented on #785
Hey @ahg-g based on your comments above, I've dropped this from the milestone. If you're making any changes to the api that would need release notes or docs updates, let us know and we'll track this again.

[2020-02-04 15:31] ahg-g commented on #785
Right, this issue is to graduate to v1beta1, which is not happening in this cycle.

Looking at the docs, I don't see one for v1alpha1! We should update https://kubernetes.io/docs/concepts/scheduling/kube-scheduler/

[2020-02-04 15:54] ahg-g commented on #785
@alculquicondor will create docs for component config as part of https://github.com/kubernetes/kubernetes/issues/87617

[2020-02-04 18:03] prameshj commented on #1024
There is an update to the website docs , this is the PR - https://github.com/kubernetes/website/pull/18716
We are close to merging this, there is just one open comment.

[2020-02-04 18:19] rubenhak commented on #753
Sorry for being late to the party. This is a significant improvement for common cases. But does not seem to cover a more advanced case.

Consider a case of sidecar which exports logs which also depends on Istio sidecar. If Istio sidecar shuts down first, some sensitive logs might not get exported.

A more generic approach would be to define explicit dependencies across containers. Regardless if th

[2020-02-04 21:50] sftim commented on #1024
BTW @prameshj the PR _description_ says:

(ie, beta not GA)

[2020-02-05 00:10] JamesLaverack opened #1538 "Inconsistent instructions for KEP filename"
The documentation under [KEP-0001 ](https://github.com/kubernetes/enhancements/blob/master/keps/0001-kubernetes-enhancement-proposal-process.md#git-and-github-implementation) states:

However, the instructions in the [KEP Template](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md) state:

and has no mention of the `draft-` prefix.

Which one is correct?

[2020-02-05 00:12] cblecker commented on #1538
/sig architecture pm

[2020-02-05 00:35] prameshj commented on #1024
hmm.. where do you see this? I had renamed this issue title few months ago.

[2020-02-05 09:38] bg-chun opened #1539 "Extending Hugepage Feature"
# Enhancement Description
- One-line enhancement description:
  - Extend hugepages feature to overcome limitations, This enhancement consists of  1) container isolation of hugepages 2) support multiple sizes of hugepages

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190129-hugepages.md

- Primary contact (assignee): @bg-chun

- Responsib

[2020-02-05 10:39] bg-chun commented on #1539
/milestone v1.18

[2020-02-05 10:39] bg-chun commented on #1539
/sig node
/kind feature

[2020-02-05 10:40] bg-chun commented on #1539
/assign @bg-chun

[2020-02-05 13:30] palnabarun commented on #166
Hi @damemi, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:30] palnabarun commented on #491
Hi @apelisse, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:31] damemi commented on #166
Hi @palnabarun, we have an umbrella issue which links to the issues/PRs that are in the works for this: https://github.com/kubernetes/kubernetes/issues/87161

[2020-02-05 13:31] palnabarun commented on #614
Hi @janosi, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:32] palnabarun commented on #689
Hi @ddebroy, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:32] palnabarun commented on #693
Hi @klueska @vpickard, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)

[2020-02-05 13:33] palnabarun commented on #895
Hi @Huang-Wei, just a friendly reminder that the **Code Freeze** will go into effect on Thursday 5th March.

Can you please link all the k/k PRs or any other PRs which should be tracked for this enhancement?

Thank You :)