[2022-11-07 15:58] Atharva-Shinde commented on #2433
Hey @robscott 👋, just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR: https://github.com/kubernetes/kubernetes/pull/113556 merged before the code-freeze :)

[2022-11-07 16:01] Atharva-Shinde commented on #3017
Hey @mortent @atiratree 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s: https://github.com/kubernetes/kubernetes/pull/113375 (any more PRs?) merged before the code-freeze :)

[2022-11-07 16:05] Atharva-Shinde commented on #3070
Hey @aojea 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PRs merged before the code-freeze. Could you also please update the Issue Description with related code PRs :)

[2022-11-07 16:07] Atharva-Shinde commented on #1287
Hey @vinaykul 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s: https://github.com/kubernetes/kubernetes/pull/102884 and
https://github.com/kubernetes/kubernetes/pull/111946 (any more PRs?) merged before the code-freeze :)

[2022-11-07 16:09] Atharva-Shinde commented on #2400
Hey @ehashman @SergeyKanzhelev 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s:
https://github.com/kubernetes/kubernetes/issues/105019
https://github.com/kubernetes/kubernetes/issues/105020
https://github.com/kubernetes/kubernetes/issues/105021
https://github.com/kubernetes/kuber

[2022-11-07 16:10] Atharva-Shinde commented on #3063
Hey @pohly 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s:
https://github.com/kubernetes/kubernetes/pull/112981 and https://github.com/kubernetes/kubernetes/pull/111023 (any other PRs?) merged before the code-freeze :)

[2022-11-07 16:14] Atharva-Shinde commented on #3063
Hey @pohly 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s: https://github.com/kubernetes/kubernetes/pull/111023 (any other PRs?) merged before the code-freeze.

[2022-11-07 16:16] Atharva-Shinde commented on #3386
Hey  @harche @ruiwen-zhao @haircommander 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s: https://github.com/kubernetes/kubernetes/pull/111384 (any other PRs?) merged before the code-freeze.

[2022-11-07 16:20] divyenpatel commented on #1491
Yes CSI Migration converts vmdk (intree vSphere volumes) to FCD (First Class Disk or Improved Virtual Disk).
but FCDs are still VMDKs, and have the same backingDiskURL path. Even after vmdk is converted to FCD, we can still operate on it using in-tree vSphere volume plugin.  We can continue to attach/detach/delete converted volumes using legacy APIs.

Even without we GA vSphere CSI Migration flags

[2022-11-07 16:20] Atharva-Shinde commented on #3017
Hey @mortent @atiratree 👋,  just a quick check-in again before 1.26 code freeze at 17:00 PDT Tuesday 8th November 2022 i.e **tomorrow**.
Looks like we would at least need to get the code PR/s: https://github.com/kubernetes/kubernetes/pull/113375 and https://github.com/kubernetes/kubernetes/pull/113376 (any more PRs?) merged before the code-freeze. Could you also please update the Issue Description

[2022-11-07 17:13] enj commented on #3304
/milestone clear
/close

I will reopen this if I get back to it.

[2022-11-07 17:13] #3304 closed

[2022-11-07 17:51] krol3 commented on #1981
Hi @marosset ! how are you? I see a PR placeholder for the blog, I think we need an update in the documentation too.
cc @reylejano

[2022-11-07 17:55] krol3 commented on #3466
Hello **@logicalhan** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Nove

[2022-11-07 17:58] marosset commented on #1981
I've got 2 place-holder PRs open against k/website for this feature
https://github.com/kubernetes/website/pull/37340 - is for documentation updates
 https://github.com/kubernetes/website/pull/37370 - is for a blog

 Let me know if there is anything else needed at this time. I'm going to work on both of these after 1.26 code-freeze.

[2022-11-07 18:00] krol3 commented on #2307
Hello **@alculquicondor** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **

[2022-11-07 18:00] alculquicondor commented on #2307
Hi @krol3, I just added the PR for the website

[2022-11-07 18:01] krol3 commented on #3521
Hello **@huang-Wei** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novem

[2022-11-07 18:03] krol3 commented on #2307
Thank you @alculquicondor , will be these https://github.com/kubernetes/website/pull/37764?

[2022-11-07 18:06] krol3 commented on #3031
Hello **@saschagrunert** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **N

[2022-11-07 18:07] krol3 commented on #1672
Hello **@andrewsykim** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Nov

[2022-11-07 18:10] krol3 commented on #3545
Hello **@klueska** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novembe

[2022-11-07 18:14] krol3 commented on #2371
Hello **@haircommander** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **N

[2022-11-07 18:16] krol3 commented on #281
Hello **@mtaufen** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novembe

[2022-11-07 18:32] katmutua commented on #1885
@andyzhangx are the [merged parent enhancement docs](https://github.com/kubernetes/website/pull/36183) sufficient to cover changes in this enhancement?

[2022-11-07 18:37] marosset commented on #2258
Hi @aravindhp 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [ ] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ]  All PRs are fully merged by the code freez

[2022-11-07 18:39] marosset commented on #3257
Hi @ahmedtd👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze de

[2022-11-07 18:45] marosset commented on #3294
Hi  @Elbehery & @mkimuram 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the

[2022-11-07 18:48] marosset commented on #2307
Hi @alculquicondor 👋,

It looks like all of the code PRs for this enhancement have been merged so this enhancement is once again `tracked` for the v1.26 release.

Thanks!

[2022-11-07 18:49] marosset commented on #3503
Hi @marosest 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-11-07 18:50] aojea commented on #3070
Done, thanks for the heads up

[2022-11-07 18:51] marosset commented on #647
Hi @dashpole 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze d

[2022-11-07 18:52] marosset commented on #3094
Hi @kerthcet 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-11-07 18:53] marosset commented on #3521
Hi @Huang-Wei 👋,

Checking in once more as we approach 1.26 code freeze at 17:00 PDT on Tuesday 8th November 2022.

Please ensure the following items are completed:

- [x] All PRs to the [Kubernetes repo](https://github.com/kubernetes/kubernetes) that are related to your enhancement are linked in the above issue description (for tracking purposes).
- [ ] All PRs are fully merged by the code freeze

[2022-11-07 18:54] aojea commented on #1880
@rhockenbury can you please drop this from 1.26, I'm not going to make it for sure, I will target 1.27

Thanks

[2022-11-07 19:26] Huang-Wei commented on #3521
@marosset ACK, I'm working with reviewers to get 2 pending PRs merged by tomorrow.

[2022-11-07 20:19] ruheenaansari34 commented on #3515
For this enhancement, it looks like the k/k PR https://github.com/kubernetes/kubernetes/pull/113146 is closed.

- If you do have any other k/k PRs open, please link them to this issue.
- Please ensure that PRs are linked in the above issue description as well.

[2022-11-07 21:27] atiratree commented on #3017
@cathchu thanks, I have opened a placeholder PR https://github.com/kubernetes/website/pull/37768

@mortent: could you please update the description?

@Atharva-Shinde: yes it is only these two PRs. I have also created an exception request for a 5 day extension.

[2022-11-07 21:57] ruheenaansari34 commented on #3352
Thanks for the information. Please ensure to link them in the issue description as well.

[2022-11-07 21:59] ruheenaansari34 commented on #3573
For this enhancement, it looks like the k/k PR https://github.com/kubernetes/kubernetes/pull/112980 is closed 💯.
 If you do have any other k/k PRs open, please link them to this issue.

[2022-11-07 23:18] logicalhan commented on #3498
This isn't a traditional feature, so it isn't actually guarded by a feature gate but one of the outputs of this work is documentation which I have [already merged](https://github.com/kubernetes/website/pull/37522).

[2022-11-07 23:40] cici37 commented on #3488
I have opened the doc place holder PR. Thanks

[2022-11-08 01:12] Rishit-dagli commented on #647
Hello @dashpole 👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9. Als

[2022-11-08 01:13] Rishit-dagli commented on #1669
Hello @andrewsykim  👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9.

[2022-11-08 01:15] Rishit-dagli commented on #2681
Is this KEP still being tracked for 1.26 if so,

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9. Also

[2022-11-08 01:17] Rishit-dagli commented on #2699
Hello @cheftako  👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by November 9. Al

[2022-11-08 01:17] Rishit-dagli commented on #3041
Hello @SergeyKanzhelev  👋 1.26 Release Docs shadow here!

This enhancement is marked as ‘Needs Docs’ for 1.26 release.
Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placeholder at this time, and must be created by Novembe

[2022-11-08 01:29] jpbetz commented on #3488
All alpha feature code has merged.

[2022-11-08 03:21] kerthcet commented on #3094
Thanks @marosset , all code related PRs are merged right now. One website PR is left for approval.

[2022-11-08 03:49] taylorchu commented on #753
[karlkfi/kubexit](https://github.com/karlkfi/kubexit) is cited in https://github.com/taylorchu/wait-for#other-ideas. We found several [race conditions](https://github.com/karlkfi/kubexit/issues/8#issue-675971632) from it during testing. We also used [nrmitchi/k8s-controller-sidecars](https://github.com/nrmitchi/k8s-controller-sidecars) for 1 year, but it cannot keep up if you have >= 1000 short-li

[2022-11-08 07:12] pwschuurman commented on #3335
Hi @parul5sahoo, yes this is the only k/k PR. There arare two other PRs, one for documentation and one for the blog post. Working on getting the k/k PR submitted today

[2022-11-08 07:12] wojtek-t commented on #1040
/remove-lifecycle rotten

[2022-11-08 09:42] andyzhangx commented on #1885
@katmutua with this PR(https://github.com/kubernetes/kubernetes/pull/113160), I think we could mark as completed and merged.

[2022-11-08 14:53] dashpole commented on #647
@Rishit-dagli
Placeholder draft PR: https://github.com/kubernetes/website/pull/37783

[2022-11-08 14:57] parul5sahoo commented on #2086
Marked as `tracked`.

[2022-11-08 15:00] parul5sahoo commented on #3335
Please get it merged before Code Freeze.

[2022-11-08 16:21] mickeyboxell commented on #3294
Hey @mkimuram and @ttakahashi21, this is a reminder to open a PR against dev-1.26 branch in the `k/website` repo by November 9. This PR can be just a placeholder at this time.

[2022-11-08 16:21] mickeyboxell commented on #2086
Hey @andrewsykim, @maplain, and @MaxRenaud, this is a reminder to open a PR against dev-1.26 branch in the `k/website` repo by November 9. This PR can be just a placeholder at this time.

[2022-11-08 18:52] dgrisonnet commented on #2845
/remove-lifecycle stale

[2022-11-08 18:53] dgrisonnet commented on #2845
@pohly should this be graduated to stable now that the flags have been removed in k/k?

[2022-11-08 19:24] pohly commented on #2845
Yes, I think we could do that.

[2022-11-08 19:24] marosset commented on #3503
All of the code PRs have merged so I'm marking this enhancement as `Tracked` for v1.26.

[2022-11-08 19:25] marosset commented on #647
It looks like all of the code PRs have merged into k/k so I'm marking this enhancement as `Tracked` for v1.26.
Thanks!

[2022-11-08 19:27] marosset commented on #3094
All of the code PRs have merged into k/k so I'm marking this enhancement as `Tracked` for v1.26.
Thanks!

[2022-11-08 20:05] msau42 commented on #1491
We documented the various issues encountered here: https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/2083. It looks like they have all been resolved, so I am comfortable proceeding with the promotion to GA this release. Thanks everyone for helping to quickly resolve the issues!

[2022-11-08 20:25] logicalhan commented on #2845
https://github.com/kubernetes/enhancements/pull/3650

[2022-11-08 22:23] logicalhan commented on #3466
Done and merged.

[2022-11-08 23:17] Huang-Wei commented on #3521
All dev work has been merged.

[2022-11-09 00:13] rhockenbury commented on #1981
With https://github.com/kubernetes/kubernetes/pull/113476 merged, I have this marked as `tracked` for code freeze.

[2022-11-09 00:14] rhockenbury commented on #1491
With https://github.com/kubernetes/kubernetes/pull/113336 merged, this is now marked as `tracked` for code freeze.

[2022-11-09 00:14] rhockenbury commented on #2268
With those PRs merged, I have this marked as `tracked` for code freeze.

[2022-11-09 00:15] rhockenbury commented on #2317
I have this marked as `tracked` for code freeze.

[2022-11-09 00:16] rhockenbury commented on #3333
With https://github.com/kubernetes/kubernetes/pull/113329 merged, I have this marked as `tracked` for code freeze.

[2022-11-09 00:17] rhockenbury commented on #1885
With https://github.com/kubernetes/kubernetes/pull/113160 merged, I have this marked as `tracked` for code freeze.

[2022-11-09 00:18] rhockenbury commented on #2718
/label tracked/no
/remove-label tracked/yes

[2022-11-09 00:18] rhockenbury commented on #2924
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-11-09 00:20] marosset commented on #3521
Great!
I'm marking this enhancement as `Tracked` for v1.26 release.
Thanks!

[2022-11-09 00:23] rhockenbury commented on #3329
We have this marked as `tracked` for code freeze.

[2022-11-09 00:26] rhockenbury commented on #3545
With https://github.com/kubernetes/kubernetes/pull/112914 merged, we have this marked as `tracked` for code freeze.

[2022-11-09 00:29] rhockenbury commented on #3070
We have this marked as `tracked` for code freeze.

[2022-11-09 00:30] rhockenbury commented on #3570
With those PRs merged, we have this marked as `tracked` for code freeze.

[2022-11-09 00:31] rhockenbury commented on #3386
With https://github.com/kubernetes/kubernetes/pull/111384 merged, we have this marked as `tracked` for code freeze.

[2022-11-09 01:11] rhockenbury commented on #2258
Hello 👋, 1.26 Enhancements Lead here

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).
If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/milestone

[2022-11-09 01:12] rhockenbury commented on #3257
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).
If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/milestone

[2022-11-09 01:13] rhockenbury commented on #3294
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:13] rhockenbury commented on #1847
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:14] rhockenbury commented on #3335
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:19] rhockenbury commented on #1440
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).  Please list the k/k PRs for this enhancement to this issue.

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-re

[2022-11-09 01:27] rhockenbury commented on #1672
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).  You must have the related k/k PRs linked to the issue description as a requirement for code freeze.

If you still wish to progress this enhancement in v1.26, please file an [exception reque

[2022-11-09 01:28] rhockenbury commented on #2433
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:28] rhockenbury commented on #3017
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:29] rhockenbury commented on #1287
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:34] rhockenbury commented on #2400
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:34] rhockenbury commented on #3063
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:43] rhockenbury commented on #3041
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:44] rhockenbury commented on #2699
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:44] rhockenbury commented on #3352
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 01:44] rhockenbury commented on #2339
Hello 👋, 1.26 Enhancements Lead here.

Unfortunately, this enhancement did not meet requirements for [code freeze](https://github.com/kubernetes/sig-release/blob/master/releases/release_phases.md#code-freeze).

If you still wish to progress this enhancement in v1.26, please file an [exception request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md). Thanks!

/mileston

[2022-11-09 02:01] andrewsykim commented on #1672
Oops, sorry I forgot to link -- but the PR landed here https://github.com/kubernetes/kubernetes/pull/113363

[2022-11-09 02:10] pwschuurman commented on #3335
Hi @rhockenbury I just filed for an exception request: https://groups.google.com/g/kubernetes-sig-apps/c/SqUMOWxwwpo

This exception is just pending on a single PR (https://github.com/kubernetes/kubernetes/pull/112744), which has been signed off by sig-apps and is just pending final API review.

[2022-11-09 11:51] krol3 commented on #2317
Hello **@gnufied** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novembe

[2022-11-09 12:04] krol3 commented on #3325
Hello **@nabokihms** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novem

[2022-11-09 12:08] krol3 commented on #3333
Hello **@RomanBednar** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Nov

[2022-11-09 12:24] bertinatto commented on #2317
Hi @krol3, the docs PR is linked in the description, but I realize the checkbox is not marked. Is that the only thing missing?

@gnufied could you check that box?

[2022-11-09 12:24] krol3 commented on #2923
Hello **@humblec** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novembe

[2022-11-09 13:00] krol3 commented on #3570
Hello **@fromanirh** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novem

[2022-11-09 13:42] krol3 commented on #2317
Hi @bertinatto how are you? I can see only the [blog-PR](https://github.com/kubernetes/website/pull/37621), it's missing the doc-PR related to update for example: Feature gates for Alpha or Beta features table:
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features

[2022-11-09 13:48] krol3 commented on #3573
Hello **@swatisehgal** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Nov

[2022-11-09 15:15] liggitt commented on #3325
https://github.com/kubernetes/website/pulls/nabokihms is open and has lgtm

[2022-11-09 15:23] krol3 commented on #1440
Hello **@soltysh ** 👋, 1.26 Release Docs Lead here. This enhancement is marked as ‘Needs Docs’ for 1.26 release.

Please [follow the steps detailed in the documentation](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr) to open a PR against `dev-1.26` branch in the `k/website` repo. This PR can be just a placeholder at this time, and must be created by **Novemb

[2022-11-09 16:22] bertinatto commented on #2317
Hi @krol3, we just updated the PR description. The docs PR is this one: https://github.com/kubernetes/website/pull/37700

[2022-11-09 16:40] harche commented on #3386
Not directly a code PR, but there is this doc PR - https://github.com/kubernetes/website/pull/37715

[2022-11-09 20:39] leonardpahlke commented on #3335
exception request accepted

/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove tracked/no

[2022-11-09 20:40] leonardpahlke commented on #3335
/remove-label tracked/no

[2022-11-10 00:07] dobsonj commented on #596
This enhancement is complete, closing it out.
To recap: it graduated to GA in 1.25, I marked it as implemented in https://github.com/kubernetes/enhancements/pull/3445 and promoted the conformance tests in https://github.com/kubernetes/kubernetes/pull/111724
/close

[2022-11-10 00:07] #596 closed

[2022-11-10 01:18] mtaufen commented on #281
Closing this issue since this feature has been on the deprecation track for a while. https://github.com/kubernetes/kubernetes/pull/102966

[2022-11-10 01:18] #281 closed

[2022-11-10 14:24] ardaguclu commented on #1440
@krol3 I created the required doc update PR https://github.com/kubernetes/website/pull/37830. Sorry for missing this.

[2022-11-10 15:07] dashpole commented on #647
@marosset
The feature-gate change had to be reverted, and will not be completed for this release.  APIServerTracing will not move to beta in 1.26

[2022-11-10 15:10] mickeyboxell commented on #2086
Hey again @andrewsykim, @maplain, and @MaxRenaud :wave: please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before deadline Tuesday, November  15th, 2022. Thank you!

[2022-11-10 17:29] leonardpahlke commented on #3063
Exception request submitted by @pohly has been [accepted](https://groups.google.com/a/kubernetes.io/g/release-team/c/KgraC5sdqM0/m/DrRRrPTGAQAJ) by the release team!

Your updated deadline to make any changes to your PR is [18:00 PST Friday 11th November 2022](https://everytimezone.com/s/042f76f9).

/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove-label tracked/no

[2022-11-10 18:12] marosset commented on #647
Thanks for the update. @rhockenbury as FYI too

[2022-11-10 18:13] marosset commented on #647
/milestone clear
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-11-10 18:16] leonardpahlke commented on #3017
/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove-label tracked/no

[2022-11-10 18:17] leonardpahlke commented on #1287
exception request [granted](https://groups.google.com/g/kubernetes-sig-release/c/2KikW5O1WyI/m/3sifN_k1AwAJ)

Your updated deadline to make any changes is [18:00 PST Tuesday 15th of November 2022](https://everytimezone.com/s/c4fb5533)

/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove-label tracked/no

[2022-11-10 18:19] leonardpahlke commented on #3294
exception request [granted](https://groups.google.com/a/kubernetes.io/g/release-team/c/oJSErPTqcR0/m/tc1KuoKyAQAJ)

Your updated deadline to make any changes is [18:00 PST Friday 11th November 2022](https://everytimezone.com/s/042f76f9)

/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove-label tracked/no

[2022-11-10 18:20] leonardpahlke commented on #1440
exception request [granted](https://groups.google.com/a/kubernetes.io/g/release-team/c/2deGMfDtEL8/m/QBt-o6DCAQAJ)

Your updated deadline to make any changes is [18:00 PST Friday 11th November 2022](https://everytimezone.com/s/042f76f9)

/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove-label tracked/no

[2022-11-10 18:33] krol3 commented on #2133
Hello @andrewsykim and @ruiwen-zhao   :wave:, 1.26 Docs Lead [here](https://kubernetes.io/docs/contribute/new-content/new-features/#open-a-placeholder-pr).
Today is the 1.26 Docs Placeholder PR Deadline.
If this enhancement requires any new docs or modification to existing docs, please follows the steps here to open a PR against dev-1.26 branch in the k/website repo. This PR can be just a placehol

[2022-11-10 18:54] ruiwen-zhao commented on #2133
I believe @andrewsykim has created a PR already:  https://github.com/kubernetes/website/pull/37647

[2022-11-11 02:07] KnVerey commented on #2906
/remove-lifecycle rotten

[2022-11-11 02:10] KnVerey commented on #2299
/reopen
/remove-lifecycle rotten

The non-trivial technical obstacles to merging the PR for this remain, but it is still planned for the longer term as it solves several problems for power users and extension users in particular.

[2022-11-11 02:47] krol3 commented on #3521
Hello @Huang-Wei  :wave: please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before deadline Tuesday 15th November 2022. Thank you!

[2022-11-11 02:48] krol3 commented on #3545
Hello @klueska  :wave: please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before deadline Tuesday 15th November 2022. Thank you!

[2022-11-11 02:52] krol3 commented on #2371
Hello @haircommander  and @bobbypage  :wave: please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before deadline Tuesday 15th November 2022. Thank you!

[2022-11-11 06:33] koct9i commented on #2590
Could be nice to add note here: https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/

Advertising extended-resources for node requires patching its status subresource.

[2022-11-11 14:24] haircommander commented on #2371
I think we can not have docs for this release. How do we opt-out?

[2022-11-11 21:17] zkoopmans commented on #1846
I'd like to revive this discussion...I commented in the slack channel. Wondering if we can implement this either the way @ianlewis did [PR 4814](https://github.com/containerd/containerd/pull/4814/files#diff-b7823e5765dfde86f5b925897795e071c3f9bddebce11d6f2c1fc7787529a085) and/or in the new Sandbox API that @mxpv is working on.

Happy to schedule something.

[2022-11-11 21:41] zkoopmans commented on #1846
/reopen

[2022-11-12 10:00] frittentheke commented on #1846
@lavalamp @mikedanese Could you maybe reopen this. With https://github.com/kubernetes/enhancements/pull/3401 as a next step being discussed it would be great to also consider covering all types of runtimes like kata and gVisor in regards to port forwarding.

[2022-11-12 10:13] leonardpahlke commented on #1287
Deadline to make changes has passed (see [email](https://groups.google.com/a/kubernetes.io/g/release-team/c/dUmCTcb8LHc/m/RMG7lB7fAQAJ))

/milestone clear
/label tracked/no
/remove-label tracked/yes
/remove-label lead-opted-in

[2022-11-12 10:35] aojea commented on #1846
You can already use websocket for port forwarding, there is also an e2e tests to verify we don't regresh https://github.com/kubernetes/kubernetes/blob/29ddedae1d0a07dfc7a89693daf3dbf4be766be3/test/e2e/kubectl/portforward.go#L383

Another thing is that by default kubectl uses spdy, what is really the request here?

[2022-11-13 17:09] sftim commented on #2570
/remove-lifecycle rotten

What are the barriers to moving this forward to, for example, beta and off by default?

[2022-11-13 17:10] sftim commented on #2570
Should we freeze this issue?

(I'd assume than all alpha and beta features that ship in Kubernetes should have their KEP issues frozen, so that we continue to track the associated work)

[2022-11-13 20:01] sftim commented on #1846
I think it's to address the issue that the kubelet “entering the netns won't work for sandbox runtimes”. If the `kubectl` tool were able to use a different mechanism, such as an ephemeral container, for port forwarding, then that would help a lot for troubleshooting Pods that run using a sandbox.

[2022-11-13 20:10] brianpursley opened #3655 "Kubectl Translation Improvements"
### Enhancement Description

- One-line enhancement description (can be used as a release note): Kubectl Translation Improvements
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/3656
- Discussion Link: [SIG-CLI Nov 2022 Bi-Weekly Meeting](https://docs.google.com/document/d/1r0YElcXt6G5mOWxwZiXgGu_X6he3F--wKwg-9UBc29I)
- Primary contact (assignee): @brianpursley
-

[2022-11-13 20:13] brianpursley commented on #3655
/sig cli

[2022-11-13 22:19] aojea commented on #1846
kubelet doesn't enter the netns, is the container runtime who enter the netns.

The container runtime publish the URL with the streaming server

[code]

https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1/api.proto#L1340-L1350

[2022-11-13 23:18] sftim commented on #1846
Ah, so actually this is more a thing for CRI implementations to pick up? eg https://github.com/kata-containers/kata-containers/issues/1693

[2022-11-14 00:09] aojea commented on #1846
I think that both crio and contained implement `Option 1b: Support entirely in CRI implementation in shim` and expose the streaming server,

https://github.com/containerd/containerd/blob/135af6d9ab6cd8898fbfcfd98f2bb9036b3b6de3/pkg/cri/streaming/portforward/httpstream.go#L244

https://github.com/cri-o/cri-o/blob/642f60c471b6746652b1671637cbd17a07da5fcf/server/streaming/streaming.go#L68

with the C

[2022-11-14 00:33] krol3 commented on #3545
Hi @klueska ! thank you for your doc PR [here](https://github.com/kubernetes/website/pull/37668)

[2022-11-14 00:35] ianlewis commented on #1846
This is the problem for the current port-forwarding implementation and gVisor. gVisor removes the IP address from the device in the network namespace and uses its own network stack, sending raw packets on the device. So the current implementation of port-forwarding will not work. CRI implementations would need to solve this somehow.

In the case of containerd we can allow shims to implement their

[2022-11-14 00:39] aojea commented on #1846
this is the part I fail to understand, the current implementation in containerd , right?

because from the POV of kubernetes is just a CRI API call expecting an URL from the other side with the streaming

[2022-11-14 00:41] krol3 commented on #2371
@reylejano , This KEP is keeping the 1.23 version, we don't need to update the doc for 1.26.

[2022-11-14 01:03] ianlewis commented on #1846
Yes. Originally this issue was created when we were evaluating options some of which included changes to Kubernetes. But I think it's been decided that changes to Kubernetes aren't necessary so this issue could probably stay closed and moved to issues on each runtime project.

[2022-11-14 12:15] frittentheke commented on #1846
@ianlewis

That one needs rebasing and a merge.
But more importantly some awareness needs to be raised with the shims  to adopt this, right?

[2022-11-14 14:25] haircommander commented on #2371
we did have new pieces for alpha retargeted at 1.26, but I don't think they require documentation

[2022-11-14 15:12] krol3 commented on #2799
Hello @zshihang   👋 please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before **deadline Tuesday 15th November 2022**. Thank you!

[2022-11-14 15:16] krol3 commented on #2923
Hello @humblec  👋 please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before **deadline Tuesday 15th November 2022**. Thank you!

[2022-11-14 15:20] krol3 commented on #3031
Hi @saschagrunert ! Thank you for the docs PR [here](https://github.com/kubernetes/website/pull/37841)

[2022-11-14 15:23] krol3 commented on #1669
Hello @andrewsykim   👋 please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before **deadline Tuesday 15th November 2022**. Thank you!

[2022-11-14 15:26] krol3 commented on #1672
Hello @andrewsykim 👋please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before **deadline Tuesday 15th November 2022**. Thank you!

[2022-11-14 15:33] andrewsykim commented on #1669
@krol3 does that include feature blog posts?

[2022-11-14 16:02] mickeyboxell commented on #2086
Hey @andrewsykim, @maplain, and @MaxRenaud 👋 The `k/website` PR deadline is tomorrow, Tuesday, November 15th, 2022. For information about creating the PR, please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review). Thanks!

[2022-11-14 16:35] Rishit-dagli commented on #1669
This deadline only applies for having a a PR ready for review in the documentation and not the blog.

[2022-11-14 16:49] apelisse commented on #3352
Just seeing that now unfortunately. How come this "does not meet the requirements"? The code was merged by code-freeze date.

[2022-11-14 17:10] lavalamp commented on #3352
@rhockenbury was this removed in error? Which requirement was missing?

[2022-11-14 17:41] andrewsykim commented on #2086
Thanks for the poke, I will check out the docs later today. IIRC most of the docs were written for Beta so it may be just a matter of updating the milstones in the docs from Beta -> GA

[2022-11-14 23:54] rhockenbury commented on #3352
Yes, I meant to add this one back.  The PRs were approved before the code freeze deadline.

/milestone v1.26
/label tracked/yes
/remove-label tracked/no
/label lead-opted-in

[2022-11-15 00:30] zkoopmans commented on #1846
@frittentheke: we should at least talk to Kata containers folks for feedback. The design queries the shim if it implements the the service, and falls back to default if it doesn't. I think that should be relatively generic enough, no?

@bergwolf is on this thread, so happy involve in convo/someone else from Kata.

It should also be mentioned that there is an effort for a new [sandbox api](https://

[2022-11-15 00:35] ianlewis commented on #1846
At this point, perhaps it's better to close that PR. @zkoopmans will likely want to create a new PR but can use https://github.com/containerd/containerd/pull/4814 as a reference.

[2022-11-15 01:13] jberkus commented on #3352
Please link the final KEP from the main text of this Enhancement, thanks!

[2022-11-15 01:20] jberkus commented on #3063
@pohly can you update the original issue text to point to the current/final KEP?  Thanks.

[2022-11-15 08:47] saschagrunert commented on #2831
@sallyom @dashpole I have to speak about our internal priorities for 1.27 but I may be able to pick this up.

Do you already have plans to graduate the feature in 1.27?

[2022-11-15 12:41] frittentheke commented on #1846
Fair point -- thanks @zkoopmans !

[2022-11-15 13:42] dashpole commented on #2831
@saschagrunert I don't personally have plans to drive this in 1.27

[2022-11-15 15:51] andrewsykim commented on #1672
docs: https://github.com/kubernetes/website/pull/37913

[2022-11-15 15:57] andrewsykim commented on #1669
docs: https://github.com/kubernetes/website/pull/37914

[2022-11-15 17:06] fujitatomoya commented on #1948
/remove-lifecycle stale

[2022-11-15 18:19] krol3 commented on #2799
Hi @zshihang ! Thank you for your doc PR [here](https://github.com/kubernetes/website/pull/37483)

[2022-11-15 18:30] krol3 commented on #1440
Hello @soltysh   👋 please take a look at [Documenting for a release - PR Ready for Review](https://kubernetes.io/docs/contribute/new-content/new-features/#pr-ready-for-review) to get your PR ready for review before **deadline Tuesday 15th November 2022**. Thank you!

[2022-11-15 18:50] krol3 commented on #2133
Hi @ruiwen-zhao  and @andrewsykim the PR about documentation. Related to Feature gates for Alpha or Beta features table:
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features

cc: @katmutua

[2022-11-15 19:02] krol3 commented on #1965
Hi @roycaihw , Thank you for the draft doc PR [here](https://github.com/kubernetes/website/pull/37675), Please update to Ready for Review, the deadline it's on Tuesday 15th November 2022. Thank you!

CC @cathchu

[2022-11-15 19:06] andrewsykim commented on #1965
@krol3 I don't think there's a doc PR open for this yet but I'll get to it later today

[2022-11-15 19:12] KnVerey opened #3659 "ApplySet : `kubectl apply --prune` redesign and graduation strategy"
### Enhancement Description

- **One-line enhancement description (can be used as a release note):** This KEP proposes a safer and more performant implementation for `kubectl apply`'s pruning feature, which enables cleanup of previously applied objects that have been removed from desired state provided to the current `apply`.
- **Kubernetes Enhancement Proposal:** https://github.com/kubernetes/enh

[2022-11-16 02:16] andrewsykim commented on #2133
Doc update: https://github.com/kubernetes/website/pull/37920

[2022-11-16 02:21] andrewsykim commented on #1965
I opened a doc PR for the feature gate reference change here; https://github.com/kubernetes/website/pull/37921

I'm not sure yet if we want more detailed documentation for this feature since the main use-cases for it are internal to kubernetes (i.e. StorageVersion API).

[2022-11-16 17:11] krol3 commented on #3333
Hi @RomanBednar  and @jsafrane, about Documentation for 1.26, this KEP needs to be updated to state that Retroactive default StorageClass assignment is beta in 1.26
cc: @reylejano @Rishit-dagli

[2022-11-16 18:30] egernst commented on #1846
Hey @zkoopmans - from Kata perspective, perhaps naively, I think that the best course of action is to add a port-forward request to the existing task API. Containerd (or CRIO) could call this; if it receives a NACK that it isn't implemented, it can continue using the existing flow. Kata (and any other shim implementor) could then handle this appropriately. This would be feasible then for both crio

[2022-11-16 19:43] krol3 commented on #2371
Hi @haircommander , I think at least we will need to update the new changes of these feature `PodAndContainerStatsFromCRI`
in https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features

cc: @reylejano

[2022-11-17 01:57] MyCodel opened #3662 "Cgroup v2 and kubelet's memoryThrottlingFactor in K3s"
I turned on Cgroup v2 and configured kubelet's memoryThrottlingFactor, but it doesn't seem to take effect, memory.min and memory.low is always 0, memory.high is always max, memory.max memory.max is set correctly. Am I missing some configurations?

My configurations:
1、Pod:
      resources:
        limits:
          cpu: 128m
          memory: 512Mi
        requests:
          cpu: 64m
          me

[2022-11-17 07:45] sftim commented on #2845
Could we change the issue title to "Remove klog specific command line arguments from Kubernetes components"?
(currently: "Deprecate klog specific flags in Kubernetes components", but we in fact plan to remove them as well)

[2022-11-17 09:37] aojea commented on #3662
This repo is used to propose features to Kubernetes, is not used to report issues

Also, K3S has its own project, better to report there

/close

[2022-11-17 09:37] #3662 closed

[2022-11-17 10:00] pohly commented on #2845
/title Remove klog specific command line arguments from Kubernetes components

[2022-11-17 18:25] krol3 commented on #3333
Hi @RomanBednar , @jsafrane , @xing-yang
Thank you for your doc PR [here](https://github.com/kubernetes/website/pull/37828)

cc: @Rishit-dagli @reylejano

[2022-11-17 19:58] #3219 closed

[2022-11-18 10:04] palnabarun commented on #2371
https://github.com/kubernetes/website/issues/33509 is relevant here.

[2022-11-18 18:39] krol3 commented on #2371
@haircommander  and @bobbypage could you help with the documentation relevant for the release 1.26?

[2022-11-18 18:53] haircommander commented on #2371
I've opened https://github.com/kubernetes/website/pull/37962

[2022-11-18 19:54] krol3 commented on #3063
Hi @pohly ! here Carol Doc Lead from 1.26, I can't find the PR about documentation, I only see the placeholder to the blogs.
cc: @cathchu

[2022-11-18 20:16] cathchu commented on #3017
Hey @atiratree, 1.26 Docs Shadow here 👋 !

Just a gentle reminder that the deadline (November 15th) for PRs ready to review has passed.

Please complete https://github.com/kubernetes/website/pull/37768 and request a review as soon as possible.

Thanks you!

CC @krol3

[2022-11-19 20:52] pohly commented on #3063
The second PR linked to in the description is the documentation: https://github.com/kubernetes/website/pull/37766/files

[2022-11-20 16:59] krol3 commented on #1885
doc PR for the release 1.26 [here](https://github.com/kubernetes/website/pull/37825)

[2022-11-21 03:31] #3285 closed

[2022-11-21 16:03] aojea commented on #3138
/remove-lifecycle rotten

[2022-11-21 17:29] aramase commented on #3610
/triage accepted

@pacoxu we plan to add this to the next sig-auth meeting agenda. Would you be able to attend to discuss this KEP more?

[2022-11-22 00:34] pacoxu commented on #3610
@aramase  `December 7th` I will try to attend the meeting. Thanks for adding this to the agenda.

[2022-11-23 02:30] windsonsea opened #3666 "Find some typos in KEP-2845 README.md"
### Find some typos in KEP-2845 README.md

- One-line enhancement description (can be used as a release note): Fix some typos in README.md
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components/README.md
- Primary contact (assignee): @windsonsea
- [ ] Beta
  - [ ] KEP (`k/enhancements`)

[2022-11-23 02:38] windsonsea commented on #3666
/sig instrumentation

[2022-11-23 09:21] xmudrii commented on #3027
/remove-lifecycle stale

[2022-11-24 03:04] #3224 closed

[2022-11-24 15:18] wojtek-t commented on #365
/remove-lifecycle rotten

[2022-11-25 13:33] soltysh commented on #1440
@krol3 tagged https://github.com/kubernetes/website/pull/37830, which is a minor update in the docs, that only needs sig-docs approval

[2022-11-28 00:46] krol3 commented on #3453
Here another relevant [doc-PR](https://github.com/kubernetes/website/pull/36675) related this KEP

[2022-11-28 01:24] krol3 commented on #3294
Hi @mkimuram ! how are you? Here the doc Lead about 1.26. Can you help me with the doc-PR? I can only find the PR about the blog https://github.com/kubernetes/website/pull/37628

cc: @reylejano @mickeyboxell

[2022-11-28 10:36] leonardpahlke commented on #3294
@krol3 https://github.com/kubernetes/website/pull/37802

[2022-11-28 15:53] xuzhenglun opened #3668 "Reserve nodeport ranges for dynamic and static allocation"
### Enhancement Description

- One-line enhancement description (can be used as a release note): reserve nodeport ranges for dynamic and static allocation
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/3668-reserved-service-nodeport-range
- Discussion Link: https://github.com/kubernetes/kubernetes/issues/114129
- Primary contact (assignee

[2022-11-28 16:59] jpbetz commented on #3478
/close
We will continue to discuss in enhancements subgroup.

[2022-11-28 16:59] #3478 closed

[2022-11-28 17:31] leonardpahlke commented on #1672
It looks like we removed this from the K8s 1.26 release cycle because we didn't find the PR that @andrewsykim linked above. The PR was merged a week before the code freeze, so this needs to be added back into the tracking.

/milestone v1.26
/label tracked/yes
/label lead-opted-in
/remove-label tracked/no

FYI release-docs @krol3, release-comms @fsmunoz for tracking

[2022-11-28 18:49] #3666 closed

[2022-11-28 19:49] aojea commented on #3668
/sig network

[2022-11-28 20:05] marosset commented on #2578
/remove-lifecycle stale

[2022-11-29 20:21] dgnemo commented on #2727
@SergeyKanzhelev just wanted to share some feedback. My team loves the introduction of this feature! Unfortunately we could not fully adopt it yet because it's not supported by the terraform provider that we are using.
https://github.com/hashicorp/terraform-provider-kubernetes/issues/1908

This to say that I would not worry too much about adoption for this useful feature, as that is a catch-22 wit

[2022-11-29 21:59] lauralorenz commented on #2149
/remove-lifecycle rotten

[2022-11-30 09:53] sastorsl commented on #661
/remove-lifecycle stale