[2020-05-25 16:29] palnabarun commented on #1381
@rosti @neolit123 -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 -

[2020-05-25 16:29] palnabarun commented on #1440
@soltysh  -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kuberne

[2020-05-25 16:29] palnabarun commented on #1440
cc: @hpandeycodeit ^^^

[2020-05-25 16:31] palnabarun commented on #1490
Hi @andyzhangx -- Do you have any implementation other than https://github.com/kubernetes/kubernetes/pull/90896? If yes, can you please link them here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: We

[2020-05-25 16:35] palnabarun commented on #1491
@divyenpatel @xing-yang  -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: We

[2020-05-25 17:13] alculquicondor commented on #785
Not yet. We are opening them soon.

[2020-05-25 17:25] palnabarun commented on #1790
@gnufied -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kubernet

[2020-05-25 17:25] palnabarun commented on #1797
@javidiaz  -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kubern

[2020-05-25 17:26] palnabarun commented on #135
@pjbgf  -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, August 4: Week 17 - Kubernete

[2020-05-25 17:51] pjbgf commented on #135
@palnabarun here's the current ones:
https://github.com/kubernetes/kubernetes/pull/91381
https://github.com/kubernetes/kubernetes/pull/91408
https://github.com/kubernetes/kubernetes/pull/91182

I also created an [umbrella issue](https://github.com/kubernetes/kubernetes/issues/91286) that contained all of them.

[2020-05-25 19:35] wojtek-t commented on #1412
@mikejoh - opened https://github.com/kubernetes/website/pull/21189

[2020-05-25 20:46] zestrells commented on #1611
Hi @jayunit100  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday,

[2020-05-25 20:47] zestrells commented on #1623
Hi @deads2k  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday, Jun

[2020-05-25 20:48] zestrells commented on #1635
Hi @deads2k  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday, Jun

[2020-05-25 20:48] zestrells commented on #1682
Hi @gnufied  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday, Jun

[2020-05-25 20:49] zestrells commented on #1710
Hi @jsafrane  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday, Ju

[2020-05-25 20:49] zestrells commented on #1698
Hi @pohly  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday, June

[2020-05-25 20:50] zestrells commented on #1693
Hi @liggitt  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday, Jun

[2020-05-25 20:52] zestrells commented on #1797
Hi @javidiaz  - My name is Zachary, 1.19 Docs shadow. Is this enhancement work planned for 1.19 and does it require any new docs (or modifications to existing docs)? If not, can you please update the 1.19 Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against k/website (branch dev-1.19) due by Friday, Ju

[2020-05-25 21:05] msedzins commented on #541
Hi @enj, enhancement shadow here -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday, Augu

[2020-05-25 21:07] msedzins commented on #1001
Hi @marosset @michmike , enhancement shadow here -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed

[2020-05-25 21:09] msedzins commented on #1393
Hi @mtaufen , enhancement shadow here -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday,

[2020-05-25 21:10] msedzins commented on #1432
Hi @xing-yang, @NickrenREN  enhancement shadow here -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and revie

[2020-05-25 21:12] msedzins commented on #1451
Hi @alculquicondor, enhancement shadow here -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tu

[2020-05-25 21:15] msedzins commented on #1513
Hi @liggitt , enhancement shadow here -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesday,

[2020-05-25 21:18] msedzins commented on #1739
Hi @neolit123 , enhancement shadow here -- Can you please link to all the implementation PR's here - k/k or otherwise? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9: Week 14 - Docs must be completed and reviewed
- Tuesda

[2020-05-25 21:24] msedzins commented on #1507
Hi @robscott, enhancement shadow here  -- Do you have any working PR other than https://github.com/kubernetes/kubernetes/pull/90023 ? If yes, can you please link them here? :slightly_smiling_face:

---
The current release schedule is:
- ~Monday, April 13: Week 1 - Release cycle begins~
- ~Tuesday, May 19: Week 6 - Enhancements Freeze~
- Thursday, June 25: Week 11 - Code Freeze
- Thursday, July 9:

[2020-05-25 22:06] neolit123 commented on #1739
@msedzins hi, the PRs are not created yet, but i can link them once that is done.

[2020-05-26 03:44] sftim commented on #1635
Oh, by the way, I _started_ drafting a blog post about this.

[2020-05-26 07:30] jsafrane commented on #1710
@zestrells, yes, documentation will be needed. I can't edit the tracking sheet, can you please note it there?

[2020-05-26 10:41] soltysh commented on #1440
@palnabarun I'll sync with @hpandeycodeit and we'll be linking appropriate PRs in the upcoming weeks.

@mikejoh yes, we'll add the initial bits of docs for this command too.

[2020-05-26 12:18] savitharaghunathan commented on #1453
Thank you for the update, @robscott :)

[2020-05-26 12:21] savitharaghunathan commented on #1498
Hi @youngnick -  I am Savitha,`1.19` Docs lead. Does this enhancement work planned for `1.19` require any new docs (or modifications to existing docs)? If not, can you please update the `1.19` Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder that we are looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, June 12`,

[2020-05-26 12:23] savitharaghunathan commented on #1547
Hi @mattjmcnaughton, Thank you for the update. I can update the enhancement tracker sheet for you :)

[2020-05-26 13:06] mikejoh commented on #1790
Hello, @gnufied ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for v1.19 require any new docs (or modifications to existing docs)?

This is a friendly reminder that we're looking for a PR against `kubernetes/website` (branch `dev-1.19`) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if you have any questions!

Regards,
Mikael.

[2020-05-26 13:13] mikejoh commented on #1301
Hello, @PatrickLang  ! :wave: I'm one of the `v1.19` Docs shadows. Does this enhancement work planned for `v1.19` require any new docs (or modifications to existing docs)?

I saw that this docs PR was merged https://github.com/kubernetes/website/pull/16697 a couple of months ago.

Regards,
Mikael.

[2020-05-26 13:31] alculquicondor commented on #1451
#91420

[2020-05-26 14:03] xing-yang commented on #1432
PR is submitted here: https://github.com/kubernetes-csi/external-health-monitor/pull/3

[2020-05-26 14:05] xing-yang commented on #1491
PRs are submitted here:
https://github.com/kubernetes/kubernetes/pull/90911
https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/225

[2020-05-26 15:56] javidiaz commented on #1797
Thanks @palnabarun, I will put them in here. So far I have one https://github.com/kubernetes/kubernetes/pull/91035

[2020-05-26 15:57] javidiaz commented on #1797
Thanks @zestrells for info. I will need to add some docs.

[2020-05-26 19:20] javidiaz commented on #1797
@zestrells I created a PR for docs, how do I update the 1.19 Enhancement Tracker Sheet?

[2020-05-26 19:45] justaugustus commented on #1783
We should also consider what `PRRApprover` validation looks like in in-tree and out-of-tree scenarios.
(ref: https://github.com/kubernetes/enhancements/pull/1813#pullrequestreview-418443306, cc: @wojtek-t)

[2020-05-26 21:12] serathius commented on #1602
With --logging-format flag implemented and migration instructions draft there are lot's of tasks that were unblocked.
Some easy tasks:
* Adding logging flag to k8s component
* Migrating logging call
Harder tasks:
* Writing documentation
* Implementing json format

[2020-05-26 22:07] robscott commented on #1507
Hey @msedzins, thanks for checking in! This feature is code complete for 1.19, just needs docs updates.

[2020-05-27 01:07] yuzhiquan commented on #1602
I notice that existing flags about log mostly in Global flags, and implement in klog or component/logs, such like:
[code]
kube-scheduler or apiserver does not impelment them in component code.
So i don't know what's the propose of this subtask `adding logging flag to k8s component`?

[2020-05-27 01:28] mattjmcnaughton commented on #1547
On Tue, May 26, 2020 at 05:23:33AM -0700, Savitha Raghunathan wrote:

Wonderful, thank you!

[2020-05-27 04:23] youngnick commented on #1498
It will need some modifications to the docs about support windows at least, so I'll say yes. @tpepper may have more here.

I'll work on sorting out the docs PR as soon as I can.

[2020-05-27 05:06] phenixblue opened #1815 "Support ObjectMeta in ComponentConfig API's"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support ObjectMeta in ComponentConfig API's
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1816
- Primary contact (assignee): @phenixblue
- Responsible SIGs: sig-cluster-lifecycle
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x

[2020-05-27 05:06] phenixblue commented on #1815
/sig cluster-lifecycle

[2020-05-27 05:07] phenixblue commented on #1815
/kind feature

[2020-05-27 05:07] phenixblue commented on #1815
/stage alpha

[2020-05-27 05:07] phenixblue commented on #1815
/assign

[2020-05-27 06:31] mars1024 commented on #1612
@harshanarayana  Sorry for the late reply, this issue is just a question and not being tracked, will close this

[2020-05-27 06:31] #1612 closed

[2020-05-27 09:11] serathius commented on #1602
Your right that currently there are a lot of global flags about logging. Those flags belong to `klog` which was introduced early in k8s development (before forking `klog` we used `glog`). With growth of k8s repo global flags started to be problematic (in k/k repo there are over 20 binaries which not always want to share command flags). Now it's an anti pattern to use global flags. I expect that in

[2020-05-27 09:21] yuzhiquan commented on #1602
OK, that's explained, thanks!

[2020-05-27 11:45] serathius commented on #1602
Created subtask for `json` https://github.com/kubernetes/kubernetes/issues/91490
For other tasks feel free to grab them. Please remember to request here them to make sure we don't duplicate work.

[2020-05-27 13:01] harshanarayana commented on #1710
Hey @jsafrane, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonderful d

[2020-05-27 13:06] harshanarayana commented on #1698
Hey @pohly, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonderful day.

[2020-05-27 13:09] harshanarayana commented on #1682
Hey @gnufied, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonderful da

[2020-05-27 13:11] harshanarayana commented on #1611
Hey @jayunit100, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonderful

[2020-05-27 13:13] harshanarayana commented on #1333
Hey @liggitt, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonderful da

[2020-05-27 13:15] harshanarayana commented on #1258
Hey @alculquicondor, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any other `k/k` PR that you have outside of https://github.com/kubernetes/kubernetes/issues/80639 with regards to this enhancement and if so, would you be able to point me in the direction of the PR

[2020-05-27 13:18] harshanarayana commented on #1122
Hey @ddebroy, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonderful da

[2020-05-27 13:19] harshanarayana commented on #383
Hey @gmarek, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonderful day

[2020-05-27 13:46] liggitt commented on #1333
The only PR for this will be against https://github.com/kubernetes-sigs/kind/ to adjust the configuration of the conformance-only CI job

[2020-05-27 14:00] wojtek-t commented on #752
@freehan @robscott - can you please
1. transform the KEP to the new format (should be simple, just extracting metadata to kep.yaml: see template: https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template )
2. fill in PRR questionaire and assign me as PRR approver (I'm taking all network PRRs this cycle)

[2020-05-27 14:00] wojtek-t commented on #1507
@robscott - can you please
1. transform the KEP to the new format (should be simple, just extracting metadata to kep.yaml: see template: https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template )
2. fill in PRR questionaire and assign me as PRR approver (I'm taking all network PRRs this cycle)

[2020-05-27 14:00] wojtek-t commented on #1453
@robscott @bowei  - can you please
1. transform the KEP to the new format (should be simple, just extracting metadata to kep.yaml: see template: https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template )
2. fill in PRR questionaire and assign me as PRR approver (I'm taking all network PRRs this cycle)

[2020-05-27 14:01] wojtek-t commented on #1611
@jayunit100 - can you please
1. transform the KEP to the new format (should be simple, just extracting metadata to kep.yaml: see template: https://github.com/kubernetes/enhancements/tree/master/keps/NNNN-kep-template )
2. fill in PRR questionaire and assign me as PRR approver (I'm taking all network PRRs this cycle)

[2020-05-27 14:37] cmluciano commented on #1453
@robscott  I can work on this today and carry over the timeline updates from a WIP PR.

[2020-05-27 16:10] annajung commented on #695
Hi @gnufied hope you're doing well, checking in again to see if docs are required for this or not. Could you confirm?

[2020-05-27 16:10] annajung commented on #693
Hi @klueska hope you're doing well, checking in again to see if docs are required for this or not. Could you confirm?

[2020-05-27 16:11] annajung commented on #667
Hi @feiskyer hope you're doing well, checking in again to see if docs are required for this or not. Could you confirm?

[2020-05-27 16:11] annajung commented on #541
Hi @enj hope you're doing well, checking in again to see if docs are required for this or not. Could you confirm?

[2020-05-27 16:11] annajung commented on #383
Hi @wojtek-t hope you're doing well, checking in again to see if docs are required for this or not. Could you confirm?

[2020-05-27 16:13] annajung commented on #135
Hi @pjbgf @hasheddan Just a friendly reminder that a placeholder PR against k/website is due by Friday, June 12. Please let me know once you have made the PR, thank you!

[2020-05-27 16:15] hasheddan commented on #135
@annajung thanks for the reminder! It will be open soon :+1:

[2020-05-27 16:17] wojtek-t commented on #383
@annajung - given we will only promote the API itself without migrating new components to use, nothing really changes for users or developers yet comparing to where we are now.
So "no doc updates are needed."

[2020-05-27 16:19] annajung commented on #383
Great, thank you for the update. I'll update the tracking sheet accordingly 👍

[2020-05-27 18:32] mikejoh commented on #1412
@wojtek-t Awesome, thanks!

[2020-05-27 21:08] msedzins commented on #541
H @enj, just a friendly reminder about my question.

[2020-05-27 21:09] msedzins commented on #1001
H @marosset , @michmike  just a friendly reminder about my question.

[2020-05-27 21:11] msedzins commented on #1393
H @mtaufen , just a friendly reminder about my question.

[2020-05-27 21:11] msedzins commented on #1432
Thank you very much @xing-yang

[2020-05-27 21:12] msedzins commented on #1451
Thank you very much @alculquicondor

[2020-05-27 21:13] msedzins commented on #1507
Thanks @robscott!

[2020-05-27 21:16] msedzins commented on #1513
Hi @liggitt, just a friendly reminder on my question above.

[2020-05-27 21:17] msedzins commented on #1739
Thank you @neolit123!

[2020-05-27 21:23] liggitt commented on #1513
I will link PRs here and update the KEP format as I have the opportunity to.

[2020-05-27 21:25] liggitt commented on #1693
I will update the KEP format as I have the opportunity to.

Yes, this is planned for 1.19. There will be some doc additions describing metrics for tracking deprecated API use.

[2020-05-27 21:42] xing-yang commented on #1432
Hi @mikejoh, this does not need a doc change.  Thanks.

[2020-05-27 22:28] mtaufen commented on #1393
Hey, the only implementation PR will likely be the bit flip to beta once the testing requirements in the KEP are met. I can send a WIP if you need that but it won't be ready to merge yet.

@justinsb is working on some tests against various cloud providers, but no PRs are up yet.

[2020-05-28 00:53] kikisdeliveryservice commented on #1412
Hi @wojtek-t !

As a reminder that the Code Freeze is June 25th. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.19 Enhancements Team

[2020-05-28 00:57] kikisdeliveryservice commented on #1453
Hi @robscott

As a reminder that the Code Freeze is June 25th. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement? I see that 88587 merged in March, do you anticipate needing other PRs to finish this enhancement?

Thanks!
The 1.19 Enhancements Team

[2020-05-28 01:02] kikisdeliveryservice commented on #1547
Hi @mattjmcnaughton

The work on this KEP seems to already be completed, but as a reminder that the Code Freeze is June 25th. If you do open any other PRs in k/k or elsewhere please link the to this issue so we can track them. :)

Thanks!
The 1.19 Enhancements Team

[2020-05-28 01:05] kikisdeliveryservice commented on #1623
Hi @deads2k

As a reminder that the Code Freeze is June 25th. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.19 Enhancements Team

[2020-05-28 01:06] kikisdeliveryservice commented on #1287
Hi @vinaykul

As a reminder that the Code Freeze is June 25th. Can you please link all the k/k PRs or any other PRs that should be tracked for this enhancement?

Thanks!
The 1.19 Enhancements Team

[2020-05-28 01:09] kikisdeliveryservice commented on #266
Hi @liggitt

I see that https://github.com/kubernetes/kubernetes/pull/91116 has merged already, if you have any other PRs, please link them to this issue so that we can track them. As a reminder Code Freeze is June 25th :)

Thanks!!

[2020-05-28 03:20] divya-mohan0209 commented on #785
@alculquicondor : Gentle reminder on my above comment.

[2020-05-28 03:22] divya-mohan0209 commented on #902
@vllry  & @Huang-Wei : Gentle reminder on my note above. Please do feel free to get in touch, if you have any questions.

[2020-05-28 03:23] divya-mohan0209 commented on #1001
@marosset : Gentle reminder on the note above.

[2020-05-28 03:24] divya-mohan0209 commented on #1020
@soltysh : Gentle reminder on my note above. Do feel free to get in touch if any questions!

[2020-05-28 03:25] divya-mohan0209 commented on #1122
@ddebroy : Gentle reminder on my note above. Do feel free to get in touch if you have any concerns or queries.

[2020-05-28 03:28] divya-mohan0209 commented on #1739
Hello @neolit123 , I'm one of the v1.19 docs shadows.

Could you please let me know if this piece of enhancement work planned for 1.19 release requires any new docs (or modifications to existing docs)?

If not, can you please update the [1.19 Enhancement Tracker Sheet](https://docs.google.com/spreadsheets/d/1E89GNZRwmnfVerOqWqrmzVII8TQlQ0iiI_FgYKxanGs/edit#gid=813297075) (or let me know and I'll d

[2020-05-28 03:55] marosset commented on #1001
Ack.

We are still working on this enhancement for 1.19 and I have added the PRR to the KEP with https://github.com/kubernetes/enhancements/pull/1784

Most of the work in this area has been either in driving fixes in internal Windows components or tweaking test configs for test passes to demonstrate feature parity with docker for Windows nodes.

Other than test config updates we don't expect many

[2020-05-28 04:03] denkensk commented on #902
@divya-mohan0209  Thanks, we don't need to update the doc. I update the 1.19 Enhancement Tracker Sheet

[2020-05-28 04:42] divya-mohan0209 commented on #1001
@marosset : Do we expect any change in documentation or will there be any requirement for new documentation? If yes, then we will need a PR by June 12th against k/website along with an update against the enhancements sheet. If not, you can simply let me know here and I'll be happy to update it.

[2020-05-28 05:46] cofyc opened #1819 "Scheduler extender"
# Enhancement Description
- One-line enhancement description (can be used as a release note): extension mechanism that allows external webhook to be registered to extend scheduler
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/1819-scheduler-extender
- Primary contact (assignee): @cofyc
- Responsible SIGs: sig-scheduling
- Enhancement

[2020-05-28 05:47] cofyc commented on #1819
/sig scheduling

[2020-05-28 07:24] hase1128 commented on #1602
I try to do ` pkg/kubelet` task in `Migrate selected log messages to klog.InfoS`

[2020-05-28 08:22] wojtek-t commented on #1412
kubernetes/kubernetes#89594 + kubernetes/perf-tests#1146 (already merged and linked above) is all we needed - so we're code complete already

[2020-05-28 08:46] feiskyer commented on #667
@annajung docs would be included in https://github.com/kubernetes-sigs/cloud-provider-azure repo, so we don't need any PRs to k/website repo.

[2020-05-28 08:46] SataQiu commented on #1602
/cc

[2020-05-28 09:01] LinshanYu opened #1820 "There are many broken links in the /docs directory"
/kind bug
master branch
There are many broken links in the /docs directory

[2020-05-28 09:11] serathius commented on #1602
Hey @hase1128, Kubelet is harder as it requires storing all flags into `KubeletConfig` k8s object. This is because it supports dynamic config changes. This PR shows additional places that need to be changed https://github.com/kubernetes/kubernetes/pull/85282/files

[2020-05-28 09:33] hase1128 commented on #1602
@serathius
Thanks the information, but I was going to take a task which migrate to infoS(not the task which adds flag).
I try to see also task of flag. if it is difficult for me, I inform you.

[2020-05-28 09:47] serathius commented on #1602
@hase1128 Oh, sorry. Your right

[2020-05-28 10:31] AkashSarda commented on #1602
@serathius : can I take up migrate to InfoS for Apiserver?

[2020-05-28 10:31] serathius commented on #1602
Sure

[2020-05-28 11:34] mhausenblas commented on #5
Just stumbled upon [Kubernetes Pod Security Policies with Open Policy Agent](https://www.infracloud.io/kubernetes-pod-security-policies-opa/). @tallclair can you share what's blocking us and where help is needed, happy to contribute as well.

[2020-05-28 13:33] alculquicondor commented on #785
It's all being tracked in kubernetes/kubernetes#89701

The next PR in queue is kubernetes/kubernetes#91420 (almost merged now)

[2020-05-28 13:52] neolit123 commented on #1739
hi, @divya-mohan0209 this feature will only be documented in the help message for a command line flag in its Alpha state, but we do plan to have e2e tests for the Alpha.

[2020-05-28 13:54] divya-mohan0209 commented on #1739
So to clarify my understanding @neolit123 , you will not be requiring documentation on the Kubernetes website right?

[2020-05-28 13:55] neolit123 commented on #1739
correct. for 1.19 we don't need k/website PRs.

[2020-05-28 13:56] divya-mohan0209 commented on #1739
Alright, thank you for the confirmation!

[2020-05-28 15:00] divya-mohan0209 commented on #785
@alculquicondor Thanks for the update! Could you please link the PR that you'd be using for the docs update (raised against k/website) here for efficient tracking?

[2020-05-28 15:06] alculquicondor commented on #785
Will do. It's not open yet.

[2020-05-28 16:19] cmluciano commented on #1453
@kikisdeliveryservice Yes we still need the following PRs merged:

- [ ] API changes kubernetes/kubernetes#89778
- [ ] kubectl changes kubernetes/kubernetes#91268
- [ ] CRUD e2e tests for Ingress suitable for conformance promotion (WIP)
- [ ] CRUD e2e tests for IngressClass suitable for conformance promotion (WIP)

[2020-05-28 16:57] ehashman commented on #1206
/assign

[2020-05-28 16:58] ehashman commented on #1206
This work was basically completed in the 1.17 release. I'll update the KEP as needed in order to close out this issue.

[2020-05-28 17:30] marosset commented on #1001
Hi @divya-mohan0209 I do expect doc updates in 1.19.

[2020-05-28 22:42] mattjmcnaughton commented on #1547
On Wed, May 27, 2020 at 06:02:40PM -0700, Kirsten wrote:

Sounds great, thanks!

[2020-05-29 00:25] Huang-Wei commented on #902
@denkensk we need to update the doc, at least for indicate it's a beta feature now.

[2020-05-29 01:38] zestrells commented on #1797
@javidiaz I can update the tracker sheet. Thank you for the docs :)

[2020-05-29 07:02] serathius commented on #1602
Small announcement.
One of the approvers requested that json format is implemented before we introduce --logging-format flag as it's not very useful without it. We are prioritizing json implementation to make sure we are code complete before freeze.

In mean time feel free to work on migrating log calls based on draft of instructions.
https://github.com/kubernetes/community/pull/4793/files?short_p

[2020-05-29 07:09] mikejoh commented on #1393
@mtaufen There's a lot of questions flying around, friendly reminder on the docs question i sent regarding if work planned for v1.19 require any new docs (or modifications to existing docs)?

[2020-05-29 08:10] Farhanfdema opened #1827 "Pid Limit"
Is there a syntax to using pid limit in a kubernetes yaml file?

[2020-05-29 09:07] adisky commented on #1489
@msau42 I am no longer working on this, @chrigl @ramineni would be primary contacts.

[2020-05-29 10:33] klueska commented on #693
Hi @annajung. There are 2 pending enhancements that will both require docs changes:
#1121
#1752

We are still deciding if these will make it into 1.19 or be pushed to 1.20. If we decide to keep them for 1.19, I will be sure to create a placeholder PR for the docs by June 12th.

[2020-05-29 11:18] tahsinrahman commented on #1602
@serathius can i work on migrate log calls for pkg/controller?

[2020-05-29 11:23] serathius commented on #1602
Ofc

[2020-05-29 13:07] ankeesler commented on #1602
@serathius - I can take  `/plugin/pkg/auth/authorizer (node_authorizer.go:197)` if it hasn't already been claimed OOB. I am most involved in sig-auth so seems like a reasonable fit.

[2020-05-29 13:10] serathius commented on #1602
assigned

[2020-05-30 12:31] annajung commented on #667
Great, thank you! I'll update the tracking sheet accordingly

[2020-05-30 12:33] annajung commented on #693
Great! Thank you for the update, I'll update the tracking sheet accordingly! Please do let me know once placeholder PR have been made. Thank you!

[2020-05-30 17:45] saschagrunert opened #1833 "Release Notes Machine Learning Classifier"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
  Machine learning binary (good/bad) classification and process enhancement to continuously improve the release notes.
- Kubernetes Enhancement Proposal: `TBD`
- Primary contact (assignee): @saschagrunert
- Responsible SIGs: @kubernetes/sig-release
- Enhancement target (which target equals to which milest

[2020-05-30 17:45] saschagrunert commented on #1833
/sig release

[2020-05-30 17:45] saschagrunert commented on #1833
/assign

[2020-05-31 02:39] tanjunchen commented on #1602
I take pkg/scheduler  for Migrate

[2020-06-01 05:43] KobayashiD27 commented on #1602
Can I try to migrate `staging/src/k8s.io/client-go (event.go:278)`?
I assume that this migration is below:
- `StartLogging(klog.Infof)` -> `StartLogging(klog.InfoS)`
- change the variable in  `staging/src/k8s.io/client-go (event.go:278)`.

[2020-06-01 09:44] serathius commented on #1602
@KobayashiD27 assigned you to `staging/src/k8s.io/client-go`
Please follow instructions here https://github.com/kubernetes/community/pull/4793/files?short_path=af969dd#diff-af969ddd1593b66ad7330155ce792feb

[2020-06-01 12:03] savitharaghunathan commented on #1513
Hi @liggitt , we are 12 days away from docs placeholder PR deadline. Does this PR needs any docs update? If so, placeholder PR against `dev-1.19` branch is due by `June 12th`. Thanks!

[2020-06-01 12:06] savitharaghunathan commented on #1507
Hi @robscott, just a reminder that placeholder PR is due by `June 12th`. Once you have it in place, please provide a link to the PR. If you already have one against `dev-1.19` branch, can you link the PR here?

[2020-06-01 12:10] savitharaghunathan commented on #1498
Hi @youngnick, Just a reminder that docs placeholder PR against `dev-1.19` is due by `June 12th`. Once you have it in place, can you update this issue with a link to the PR?

If you already have a placeholder PR against `dev-1.19` branch, please provide the link here. Thanks!

[2020-06-01 12:13] savitharaghunathan commented on #1491
Hi @divyenpatel, @xing-yang - Just a reminder that docs placeholder PR against `dev-1.19` is due by `June 12th`. Does this enhancement require any changes to docs? If so, can you update this issue with a link to the PR once you have it in place? If not, please update the same so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-01 12:15] savitharaghunathan commented on #1490
Hi @andyzhangx - Just a reminder that docs placeholder PR against `dev-1.19` is due by `June 12th`. Does this enhancement require any changes to docs? If so, can you update this issue with a link to the PR once you have it in place? If not, please update the same so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-01 12:16] savitharaghunathan commented on #1472
Hi @pohly - Just a reminder that docs placeholder PR against `dev-1.19` is due by `June 12th`. Does this enhancement require any changes to docs? If so, can you update this issue with a link to the PR once you have it in place? If not, please update the same so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-01 12:17] savitharaghunathan commented on #1453
Hi @robscott, just a reminder that placeholder PR is due by `June 12th`. Once you have it in place, please provide a link to the PR. If you already have one against `dev-1.19` branch, can you link the PR here?

[2020-06-01 12:18] savitharaghunathan commented on #1451
Hi @alculquicondor - Just a reminder that docs placeholder PR against `dev-1.19` is due by `June 12th`. Does this enhancement require any changes to docs? If so, can you update this issue with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-01 13:06] andyzhangx commented on #1490
@savitharaghunathan here is the PR, we are going to go beta for azure disk migration first, and azure file migration keeps alpha in 1.19, thanks.

[2020-06-01 13:08] smarterclayton commented on #1143
I think I have the correct updates in https://github.com/kubernetes/enhancements/pull/1806 now, please review.

[2020-06-01 13:11] smarterclayton commented on #1143
I think I have the correct updates in https://github.com/kubernetes/enhancements/pull/1806 now, please review.

[2020-06-01 13:27] palnabarun commented on #135
Hi @pjbgf -- Thanks for creating the umbrella issue. :+1:

We are tracking the same. :slightly_smiling_face:

[2020-06-01 13:30] palnabarun commented on #667
@feiskyer -- Pinging back as a friendly reminder for the above. :slightly_smiling_face:

[2020-06-01 13:31] palnabarun commented on #785
@alculquicondor -- Thanks! I have noted the k/k issues mentioned above. Please keep on posting them as they are opened. :slightly_smiling_face:

[2020-06-01 13:34] palnabarun commented on #902
@denkensk @Huang-Wei -- Pinging back as a friendly reminder of the above. :slightly_smiling_face:

[2020-06-01 13:36] palnabarun commented on #1440
Thanks @soltysh for the updates. :+1:

I will keep track of the same here.

[2020-06-01 13:37] palnabarun commented on #1490
Hi @andyzhangx -- pinging back again to see if there are any implementation PRs other than https://github.com/kubernetes/kubernetes/pull/90896 ? Thanks. :slightly_smiling_face:

[2020-06-01 13:41] andyzhangx commented on #1490
no, thanks  @palnabarun

[2020-06-01 13:50] palnabarun commented on #1490
Thanks @andyzhangx :+1:

[2020-06-01 13:52] palnabarun commented on #1797
Thanks @javidiaz for the update on the implementation PR. :+1:

I have updated the update the tracking sheet.

[2020-06-01 13:54] palnabarun commented on #1790
@gnufied -- Pinging back as a friendly reminder for the above. :slightly_smiling_face:

[2020-06-01 13:55] palnabarun commented on #1491
@xing-yang -- thanks for the update on the implementation PRs. :+1:

I have updated the tracking sheet.

[2020-06-01 13:56] palnabarun commented on #1381
@rosti @neolit123 -- Pinging back as a reminder of the above. :slightly_smiling_face:

[2020-06-01 14:14] xing-yang commented on #1491
Thanks @palnabarun!

Hi @savitharaghunathan, we'll submit a doc placeholder PR soon.  Thanks!

[2020-06-01 14:38] tedyu commented on #1314
@tallclair
Can you outline which parts of the KEP that need to be implemented ?

[2020-06-01 14:48] serathius commented on #1602
Update.
@mtaufen noticed that using proposed flag registration method would lead to inconsistent log format. Adding flags to component configs would work, but setting up components is pretty late step. Meaning that we would potentially loose all the logs from early setup. It would be a pretty bad experience for users (e.g. first 10 lines in text format and rest of lines in json). Discussion: https

[2020-06-01 15:15] neolit123 commented on #1381
LGTM / approved
https://github.com/kubernetes/kubernetes/pull/86070

@rosti i'd defer to you to enumerate other PRs if needed.

[2020-06-01 15:29] deads2k commented on #1630
We are going with a simpler solution with a temporary env var, so the KEP for API isn't going to be pursued.

/close

[2020-06-01 15:29] #1630 closed

[2020-06-01 15:32] deads2k opened #1841 "apimachinery prr response check"
Reviewing PRR answers for 1.19 apimachinery enhancements.  This is a tracking issue to make sure I get them all

/assign @deads2k

- [ ] warning mechanism https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1693-warnings
- [ ] status conditions https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/1623-standardize-conditions/README.md
- [x] prevent

[2020-06-01 16:05] gnufied commented on #1790
@palnabarun thanks for the reminder. there isn't one yet.

[2020-06-01 16:31] tedyu commented on #1314
Assuming whitelistedLabels is a map from namespace to slice of label strings.
[code]

[2020-06-01 16:36] alexellis commented on #1412
Hi @wojtek-t just FYI - the description contains a link to the KEP which 404s - https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20191117-immutable-secrets-configmaps.md

[2020-06-01 16:37] alexellis commented on #1412
I think you may need to change that URL to https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1412-immutable-secrets-and-configmaps/README.md

[2020-06-01 17:15] harshanarayana commented on #1333
Thanks @liggitt  for the clarification. 🖖

[2020-06-01 17:33] tallclair commented on #1314
Yeah, the KEP needs an update. I'm not happy with the label whitelisting approach.

We still need to update the NodeRestriction admission controller to reject mirrorpods missing (or with an invalid) owner reference. The Kubelet started injecting owner references in 1.17, so if we start enforcing this in v1.19 it will meet the kubelet version-skew requirements on 2 releases.

/milestone v1.19

[2020-06-01 18:16] tedyu commented on #1314
[code]
Were you thinking of something similar to:
[code]
w.r.t. invalid owner reference, there is already check in the block:
[code]
Is there more validation to be added ?

Thanks

[2020-06-01 19:48] tallclair commented on #5
Basically we just need to make a decision on a path forward. Currently, I think there is agreement that PSP should not go GA in its current form, but we haven't settled on a replacement yet. Options we've discussed:

1. No replacement - recommend choosing from a third party option with an admission webhook. The recently published [Pod security standards](https://kubernetes.io/docs/concepts/securit

[2020-06-01 19:50] tedyu commented on #1314
@timstclair
If the above is within the scope of 1.19, I can send out a PR.

[2020-06-01 21:27] tallclair commented on #1314
@tedyu Thanks, that would be great!

[2020-06-01 21:36] Huang-Wei commented on #902
ok, I will ping @denkensk .

[2020-06-01 21:41] liggitt commented on #1513
the docs for this feature will be included in https://github.com/kubernetes/website/pull/21108

[2020-06-01 21:52] tedyu commented on #1314
@timstclair
For pull-kubernetes-integration, do you know where I can find the api server log ?
e.g.
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/91211/pull-kubernetes-integration/1262393331090984961/

under artifacts, I don't seem to find it.

Thanks

[2020-06-01 22:51] tedyu commented on #1314
For TestNodeAuthorizer , node2 should be created ahead of Node2MirrorPod:
[code]
Trying to figure out what caused the following:
[code]

[2020-06-01 23:13] savitharaghunathan commented on #1513
Thanks for the update @liggitt :)

[2020-06-02 00:26] mtaufen commented on #1393
Thanks, if we make it to beta this cycle, the only change will be to update the feature status in the docs.

[2020-06-02 06:43] wojtek-t commented on #1412
@alexellis - done

[2020-06-02 09:05] alexellis commented on #1412
Thank you

[2020-06-02 20:09] javidiaz commented on #1797
@palnabarun  I created two new PRs to split logic of original PR, can you please make sure they are tracked and/or marked for the 1.19 milestone. Thanks!
 https://github.com/kubernetes/kubernetes/pull/91697 and  https://github.com/kubernetes/kubernetes/pull/91699

[2020-06-02 20:34] alculquicondor commented on #785
/assign

[2020-06-02 20:35] alculquicondor commented on #1451
kubernetes/website#21437 WIP docs

[2020-06-02 20:36] alculquicondor commented on #785
WIP docs kubernetes/website#21437

[2020-06-03 03:43] xing-yang commented on #1491
Hi @savitharaghunathan, doc PR is submitted: https://github.com/kubernetes/website/pull/21444

[2020-06-03 11:44] cofyc opened #1845 "Prioritizing nodes based on volume capacity"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Prioritizing nodes based on volume capacity
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee):@cofyc
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y) 1

[2020-06-03 11:44] cofyc commented on #1845
/sig storage
/sig scheduling

[2020-06-03 11:45] cofyc commented on #1845
/assign

[2020-06-03 12:07] denkensk commented on #902
https://github.com/kubernetes/website/pull/21453  Update Doc

[2020-06-03 15:15] mikejoh commented on #1393
@mtaufen Awesome, can i ask you create a PR against `kubernetes/website` (branch dev-1.19) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if you have any questions!

[2020-06-03 15:17] mikejoh commented on #1440
@soltysh Awesome, can i ask you create a PR against `kubernetes/website` (branch `dev-1.19`) due by Friday, June 12, it can just be a placeholder PR at this time. Let me know if you have any questions!

[2020-06-03 18:11] palnabarun commented on #1143
@smarterclayton -- The [exception request](https://groups.google.com/d/msg/kubernetes-release-team/7POHlgPCgpE/P4YgzMuUAAAJ) was [approved](https://groups.google.com/d/msg/kubernetes-release-team/7POHlgPCgpE/KXEt5LUIAgAJ). :+1:

I've flipped the status of this enhancement back to tracked.

[2020-06-03 18:12] palnabarun commented on #1143
/stage beta
/milestone v1.19

[2020-06-03 22:18] msedzins commented on #541
H @enj, just a friendly reminder about my question.

[2020-06-03 22:31] msedzins commented on #1001
Hi @marosset, thank you for our update. Would be great if you could let me know about any other PRs that are part of this KEP (those in k/k, but also others, if any, as well).

Thank you very much.

[2020-06-03 22:34] msedzins commented on #1393
Thank you @mtaufen for your update.

If you could please send me a WIP. This is for tracking purposes.
Also, if there are any other PRs along the way - would be great if you let me know.

Thank you very much.

[2020-06-03 22:37] msedzins commented on #1513
Hi @liggitt, thank you very much for your update.

[2020-06-03 22:39] msedzins commented on #1739
Hi @neolit123, any update on PRs?

Thank you.

[2020-06-03 22:54] ianlewis opened #1846 "Generic port forwarding"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Generic Port Forwarding
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
- Primary contact (assignee): @ianlewis
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release tar

[2020-06-04 03:32] mJace commented on #693
@lmdaly  @ConnorDoyle
I hope here is the right place to ask and give some feedback.

I turn on the `TopologyManager` and `CPUManager` on my k8s cluster v1.17.
and their policy is `best-effort` and `static`
Here is my pod's resources
[code]
The PF of the sriov_pool_a is in NUMA node 0, so I expect my pod should runs on NUMA node 0's cpu too.
But I found the process of my pod is running on NUMA node

[2020-06-04 06:40] krmayankk commented on #1498
Does this apply to major version or minor versions ?

[2020-06-04 08:20] krmayankk commented on #213
@tallclair yes if i know what needs to be done. Do you know what is the GA criteria ? What do i need to chase ?

[2020-06-04 09:46] hase1128 commented on #1602
I take vendor/k8s.io/utils for Migrate.

[2020-06-04 10:38] neolit123 commented on #1739
not yet.

[2020-06-04 21:05] serathius commented on #1602
Congrats to @hase1128 for getting first migration PR merged.

[2020-06-05 00:58] yuzhiquan commented on #1602
Awesome！

[2020-06-05 01:19] ianlewis commented on #1846
Yeah. The unfortunate part of the implementation is that entering the netns won't work for sandbox runtimes so we'd likely have to add the socat dependency back. At least for those runtimes.

[2020-06-05 16:53] mrbobbytables commented on #635
We currently have a blockade setup for design proposals -- does this still need to be open?

[2020-06-05 17:30] annajung commented on #1143
Hi @smarterclayton  👋 1.19 docs shadow here! Does this enhancement work planned for 1.19 require new or modification to docs?

Friendly reminder that if new/modification to docs are required, a placeholder PR against k/website (branch dev-1.19) are needed by Friday, June 12.

[2020-06-06 05:44] kk-src opened #1847 "Auto remove PVCs created by StatefulSet"
# Enhancement Description
* One-line enhancement description (can be used as a release note):
  Auto remove PVCs created by StatefulSet

* Kubernetes Enhancement Proposal: [KEP-1847: Auto remove PVCs created by StatefulSet](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/1847-autoremove-statefulset-pvcs).
* Primary contact (assignee): @mattcary
* Responsible SIGs: @sig-apps (w

[2020-06-06 05:45] kk-src commented on #1847
/sig sig-storage

[2020-06-06 05:46] kk-src commented on #1847
/sig storage

[2020-06-06 06:01] kk-src commented on #1847
/assign

[2020-06-06 11:12] abdennour commented on #490
Actually, this is also a pain with statefulsets running on top of Amazon EKS Cluster.
Hopefully, the fix comes from kubernetes

[2020-06-07 07:24] rahulchheda commented on #1602
Hi @serathius , any other tasks left to be done on this issue?

[2020-06-08 03:56] annajung commented on #541
Hi @enj  👋 Checking in again. Please note if new or modification to current doc is required, then a placeholder PR against k/website (branch dev-1.19) is needed by Friday, June 12.

[2020-06-08 03:57] annajung commented on #695
Hi @gnufied  👋 Checking in again. Please note if new or modification to current doc is required, then a placeholder PR against k/website (branch dev-1.19) is needed by Friday, June 12.

[2020-06-08 03:59] annajung commented on #1143
Hi @smarterclayton  👋 Checking in again. Please note if new or modification to current doc is required, then a placeholder PR against k/website (branch dev-1.19) is needed by Friday, June 12.

[2020-06-08 13:52] zestrells commented on #1693
Hi @liggitt - Just a reminder that docs placeholder PR against dev-1.19 is due by June 12th. Does this enhancement require any changes to docs? If so, can you update here with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-08 13:55] zestrells commented on #1698
Hi @pohly - Just a reminder that docs placeholder PR against dev-1.19 is due by June 12th. Does this enhancement require any changes to docs? If so, can you update here with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-08 13:56] zestrells commented on #1710
Hi @jsafrane - Just a reminder that docs placeholder PR against dev-1.19 is due by June 12th. Does this enhancement require any changes to docs? If so, can you update here with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-08 13:56] zestrells commented on #1682
Hi @gnufied  - Just a reminder that docs placeholder PR against dev-1.19 is due by June 12th. Does this enhancement require any changes to docs? If so, can you update here with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-08 13:57] zestrells commented on #1635
Hi @deads2k - Just a reminder that docs placeholder PR against dev-1.19 is due by June 12th. Does this enhancement require any changes to docs? If so, can you update here with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-08 13:57] zestrells commented on #1623
Hi @deads2k - Just a reminder that docs placeholder PR against dev-1.19 is due by June 12th. Does this enhancement require any changes to docs? If so, can you update here with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-08 13:57] zestrells commented on #1611
Hi @jayunit100 - Just a reminder that docs placeholder PR against dev-1.19 is due by June 12th. Does this enhancement require any changes to docs? If so, can you update here with a link to the PR once you have it in place? If not, please update the same, so that the tracking sheet can be updated accordingly. Thanks!

[2020-06-08 13:58] huffmanca commented on #1682
@zestrells ,

I'll ensure to have a placeholder PR submitted for the documentation changes by the deadline. Thank you for the reminder!

[2020-06-08 14:17] sftim commented on #1635
(I'd expect to see a PR updating https://kubernetes.io/docs/reference/using-api/deprecation-policy/ and possibly also https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-versioning)

[2020-06-08 16:51] liggitt commented on #1693
opened placeholder at https://github.com/kubernetes/website/pull/21581

[2020-06-08 17:48] ddebroy commented on #1122
Hi, all the work around csi-proxy is happening in https://github.com/kubernetes-csi/csi-proxy. We do not anticipate any k/k PRs for 1.19.

[2020-06-08 18:05] divya-mohan0209 commented on #1122
@ddebroy : This is just to clarify my understanding that there would be no docs required for this release?

[2020-06-08 18:21] divya-mohan0209 commented on #752
Hello @robscott , a gentle reminder on the above PR. Please could you let me know if you were able to raise a draft PR for the documentation bit required in this release?

[2020-06-08 18:25] divya-mohan0209 commented on #1001
Hello @marosset . Please could you update if you've had a chance to open a placeholder PR towards the docs changes in Release 1.19?

[2020-06-08 18:27] divya-mohan0209 commented on #1020
@soltysh : Good day! Please could you update if there is any requirement for docs on this piece of work for 1.19 Release?

[2020-06-08 18:33] divya-mohan0209 commented on #1258
Hello @alculquicondor . Gentle reminder to update the Docs placeholder on this PR.

[2020-06-08 20:53] robscott commented on #1507
Hey @savitharaghunathan, thanks for checking in! I've created a docs PR for this feature now:  https://github.com/kubernetes/website/pull/21588

/assign

[2020-06-08 21:05] robscott commented on #752
Hey @divya-mohan0209, thanks for the reminder! I've created a docs PR for 1.19 now here:  https://github.com/kubernetes/website/pull/21589.

[2020-06-08 21:12] robscott commented on #1453
Hey @savitharaghunathan, thanks for the reminder! I've added a docs PR for this feature here: https://github.com/kubernetes/website/pull/21590

[2020-06-08 22:48] mtaufen commented on #1393
I added a placeholder PR for graduation that you can track.
I also referenced a kops PR that is a tentative example of use, which is one of the KEP requirements for graduation.

[2020-06-08 22:57] mtaufen commented on #1393
I also added a placeholder docs PR here: https://github.com/kubernetes/website/pull/21593

[2020-06-09 04:18] harshanarayana commented on #1710
Hey @jsafrane, This is just a reminder that the code freeze for the enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that is already open against this enhancement that needs to be tracked.

Have a wonderful day. 🖖

[2020-06-09 09:48] serathius commented on #1602
@rahulchheda, currently all coding tasks are taken. There is one tasks for writing documentation, but I expect it would be pretty hard and not very interesting for new contributors. Still please let me know if your interested.

[2020-06-09 11:37] andyzhangx commented on #1490
Update: we don't need such a docs PR for this issue update.

[2020-06-09 12:13] CriaHu opened #1853 "list 404 urls"
~~1. https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduling/taints.go~~
~~2.https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/helpers_windows.go~~
3.https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto
4. https://git.k8s.io/community/contributors/devel/api-conventions.md
5.https://github.com/kubernetes/kub

[2020-06-09 14:13] soltysh commented on #1020
@divya-mohan0209 we don't have any concrete, yet but we're working. we're still about 2.5 weeks from code freeze and we're aware of that :)

[2020-06-09 14:14] soltysh commented on #1440
@mikejoh lemme sync with @hpandeycodeit where we stand with implementation, if we are able to land it for 1.19 or we push to the next.

[2020-06-09 16:36] klueska commented on #693
@annajung Placeholder docs PR added: https://github.com/kubernetes/website/pull/21607

[2020-06-09 20:50] tpepper commented on #1498
We're talking about the delivery of patch versions for minor versions.  Across this discussion the major version has always been only "1", which may make things confusing.  If/when someday the major version moves to "2", we will have to decide as a project if we keep some patching happening on a 1.X branch also.

[2020-06-09 21:14] vbatts commented on #617
Looking over the points, it looks like much of this is done. (Perhaps checkboxes could be clearer)
Would this graduate the KEP process from _beta_?

[2020-06-09 21:23] techwhizbang commented on #592
Many of us would love to see this move forward.
It looks like the other PR for adding this functionality to Pods simply needs to be rebased.

[2020-06-09 23:33] justaugustus commented on #617
Hey @vbatts! :)

We've still got some work to do here before I'd consider the process _stable_:
- a KEP website
- full validation of KEP metadata
- tooling to support the process

That said, you're right, we should get this issue updated! Will handle.
/unassign @calebamiles @jdumars
/assign @mrbobbytables @jeremyrickard @johnbelamaric

[2020-06-09 23:51] annajung commented on #1143
Hi @smarterclayton just adding on the comment above. If you're waiting to see if this will make it into 1.19 or be pushed to future release, Docs team still highly recommend getting the draft PR in before the due date as it's easier to clean up a draft PR then not having the draft in place to move this enhancement forward :)

[2020-06-09 23:51] annajung commented on #695
Hi @gnufied  just adding on the comment above. If you're waiting to see if this will make it into 1.19 or be pushed to future release, Docs team still highly recommend getting the draft PR in before the due date as it's easier to clean up a draft PR then not having the draft in place to move this enhancement forward :)

[2020-06-09 23:52] annajung commented on #541
Hi @enj  just adding on the comment above. If you're waiting to see if this will make it into 1.19 or be pushed to future release, Docs team still highly recommend getting the draft PR in before the due date as it's easier to clean up a draft PR then not having the draft in place to move this enhancement forward :)

[2020-06-10 00:06] vbatts commented on #617
Right on!

[2020-06-10 00:16] techwhizbang commented on #592
I took a crack at rebasing kubernetes/kubernetes#82082 against master and there are quite a few files that need resolution and unfortunately I'm not well versed enough in how to properly deal with some of the binary .pb files nor am terribly familiar with the Kubernetes source code.

Hoping someone with the familiarity and the motivation can take this forward.

[2020-06-10 02:11] gnufied commented on #695
@annajung sorry for late response, I am aware of doc deadline. However we are going to leave this enhancement in alpha state in 1.19 and not going to move to beta. This is to ensure that this enhancement could be considered properly with selinux enhancement - https://github.com/kubernetes/enhancements/issues/1710

This decision was taken after KEP change to move this feature to beta merged.

[2020-06-10 04:05] enj commented on #541
@msedzins the in-flight PRs are:

1. https://github.com/kubernetes/kubernetes/pull/91192
1. https://github.com/kubernetes/kubernetes/pull/91305

@annajung placeholder doc PR is https://github.com/kubernetes/website/pull/21626

[2020-06-10 06:32] wojtek-t commented on #592
@techwhizbang - all the pb and yaml files that gave conflicts are autogenerated; running `make update` would solve your problem

[2020-06-11 02:04] neolit123 commented on #1739
WIP PR is here (more commits to be added this week): https://github.com/kubernetes/kubernetes/pull/92017

[2020-06-11 07:12] palnabarun commented on #1301
@marosset -- As per our conversation on Slack, I have updated the tracking sheet. Thanks for the pro-active ping. :+1:

/milestone clear

[2020-06-11 15:30] rosti commented on #1381
**In flight PRs for 1.19**

Implementation:
- kubernetes/kubernetes#86070 (merged)
- kubernetes/kubernetes#91980
- kubernetes/kubernetes#88124

Docs:
- kubernetes/website#21663

CC @palnabarun @mikejoh

[2020-06-11 16:29] marosset commented on #1301
Thanks @palnabarun!
Unfortunately I don't think we'll be finished with the work for this to go to alpha for 1.19.

[2020-06-11 16:44] techwhizbang commented on #592
@wojtek-t thanks for the tip!

I've rebased it with the help of performing the `make update`. Along the way it seems there was some additional code drift so I'm working on a couple compilation errors. I should have something ready soon.

[2020-06-11 16:46] savitharaghunathan commented on #614
Hi @janosi - I am Savitha, `1.19` Docs lead. Does this enhancement work planned for `1.19` require any new docs (or modifications to existing docs)? If not, can you please update the `1.19` Enhancement Tracker Sheet, or let me know, I can do it for you :)
If docs are required, just a friendly reminder we're looking for a PR against `k/website` (branch `dev-1.19`) due by `Friday, June 12`, it can j

[2020-06-11 18:41] vinaykul commented on #1287
I have created placeholder PR https://github.com/kubernetes/website/pull/21669 . In addition to adding this new md file, I might need to modify a few existing pages. I'll get to identifying them as soon as I can, right now heads down on getting to code-complete and getting e2e tests done for alpha by the jun 25 deadline.

[2020-06-11 18:44] vinaykul commented on #1287
@kikisdeliveryservice At this time, I'm working on it in my fork and also being reviewed there: https://github.com/vinaykul/kubernetes/pull/1 . I should be able to rebase and send PR to upstream by sometime next week. Should I send PR to k/k master? Or is there particular branch I need to work in and send PR to for this alpha feature?

[2020-06-11 19:23] huffmanca commented on #1682
@harshanarayana ,

The code change PR is now linked to this issue, and can be accessed at https://github.com/kubernetes/kubernetes/pull/92001 .

[2020-06-11 19:26] harshanarayana commented on #1682
Hey @huffmanca, thanks the update. I will update the tracker sheet to indicate the `k/k` PR.

🖖

[2020-06-11 20:28] huffmanca commented on #1682
@zestrells ,

Two PRs have been opened for documentation:
- https://github.com/kubernetes/website/pull/21671 - this includes the feature gate details in the main kubernetes docs
- https://github.com/kubernetes-csi/docs/pull/337 - this includes the actual documentation for the field in the CSI docs

[2020-06-11 21:06] janosi commented on #614
Hi @savitharaghunathan - It is nice to meet you! Yes, doc update is required, the relevant PR is https://github.com/kubernetes/website/pull/21672
Could you please help in updating the 1.19 Enhancement Tracker Sheet? That would be awesome. Thank you!

[2020-06-11 22:23] techwhizbang commented on #592
I've rebased, addressed the previous code review comments, and fixed some of compilation errors that resulted in code drift since the last time here:

https://github.com/kubernetes/kubernetes/pull/92055

[2020-06-11 22:53] tpepper commented on #1498
@savitharaghunathan we've been discussing multiple points of potential docs updates and will get hopefully a non-placeholder but rather initial actual Docs PR open on this at the beginning of next week, based on the understanding from the Jun 8, 2020 release 1.19 team meeting intent to shift the coming deadlines out a week or so.

[2020-06-11 22:55] savitharaghunathan commented on #1498
@tpepper thanks for the update. Sounds good to me :)

Thanks to @youngnick for updating me of the status :)

[2020-06-11 23:01] savitharaghunathan commented on #614
@janosi Thank you for the PR, I have updated the enhancement tracker sheet accordingly.

[2020-06-12 14:40] harshanarayana commented on #383
Hey @gmarek, @wojtek-t, Hope things are good.

The code freeze deadline for the Enhancement is `Thursday, June 25`. So, I am following up on my previous updates about the `k/k` that needs to be tracked. Is there a PR against that which needs to be tracked for this enhancement?

Have a wonderful day. 🖖

[2020-06-12 14:44] harshanarayana commented on #1143
Hey @smarterclayton, I am with the enhancements team for the `v1.19` release cycle as a shadow.

The code freeze deadline for the Enhancement is `Thursday, June 25`. I am checking in to see if there is any `k/k` PR that you have already opened for this enhancement and if so, would you be able to point me in the direction of the PR so that the same can be updated in the tracking sheet

Have a wonde

[2020-06-12 14:48] harshanarayana commented on #1258
Hi @alculquicondor,  I am with the enhancements teams for the `v1.19` cycle as the shadow.

I noticed that the PR kubernetes/kubernetes#91793 has been merged against the `k/k`. Is there any other PR you are anticipating for this enhancement in the `v1.19` cycle that needs to be tracked?

Have a wonderful day. 🖖

[2020-06-12 14:52] harshanarayana commented on #1611
Hey @jayunit100, Hope things are good.

The code freeze deadline for the Enhancement is `Thursday, June 25`. So, I am following up on my previous updates about the `k/k` that needs to be tracked. Is there a PR against that which needs to be tracked for this enhancement?

Have a wonderful day. 🖖

[2020-06-12 15:00] alculquicondor commented on #1258
That's it for 1.19, other than docs.

[2020-06-12 15:12] smarterclayton commented on #1143
The docs for this should already have been merged in 1.16.  I will check to
see whether we need to update the docs for the current status.

On Fri, Jun 12, 2020 at 10:45 AM Harsha Narayana <notifications@github.com>
wrote:

[2020-06-12 17:49] annajung commented on #1143
Great, Thank you for checking! If any modifications to the existing doc is required for this release, please make sure to create a placeholder PR against k/website (branch dev-1.19).

If no update is required, just let me know so that I can update the tracking sheet accordingly.

[2020-06-12 20:26] alculquicondor commented on #1258
kubernetes/website#21689

[2020-06-12 23:49] tallclair commented on #1314
/milestone v1.20

[2020-06-12 23:53] tallclair commented on #213
We might not need any changes to the feature. The bare minimum would be to update the KEP to state the GA criteria, and update the flag to GA. Also update the KEP to fill in the [Production Readiness Questionaire](https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md#production-readiness-review-questionnaire) which might help identify issues that need to be addres

[2020-06-13 00:14] tallclair commented on #1729
@Conan-Kudo I think your concerns may be with the distroless images in general, but maybe aren't applicable to the distroless:static image that we're actually using. The static image doesn't have any executables or libraries, and therefore doesn't have any dependencies that can be broken. It is meant as a base for statically compiled binaries only (no dependencies).

[2020-06-13 00:16] Conan-Kudo commented on #1729
@tallclair Perhaps, it'd also depend on how the Go compiler was sourced, but that does go quite a long way to alleviate issues... In general, I think the distroless images are a poor choice for reliable containers (for the reasons I outlined above), but naturally it's possible to mitigate those...

[2020-06-13 07:46] divya-mohan0209 commented on #1122
Hello @ddebroy , please could you clarify the above at your earliest? This is just so that we can ensure it is being tracked appropriately :)

[2020-06-13 14:19] Sh4d1 opened #1860 "Make Kubernetes aware of the LoadBalancer behaviour"
# Enhancement Description
- Make Kubernetes aware of the LoadBalancer behaviour
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1860-kube-proxy-IP-node-binding
- Primary contact (assignee): @Sh4d1 @rikatz @RyanAoh
- Responsible SIGs: sig-network, sig-cloudprovider
- Enhancement target (which target equals to which milestone):
  - Alpha rel

[2020-06-13 14:19] Sh4d1 commented on #1860
/sig network

[2020-06-13 15:45] matthyx commented on #277
Hi @verb do you need a hand on this?

[2020-06-13 15:47] tedyu commented on #277
I have some open PRs related to this issue:
https://github.com/kubernetes/enhancements/issues/277#issuecomment-591210396

I may have some cycles if help with other subtasks is needed.

[2020-06-13 18:16] msedzins commented on #1739
Thank you @neolit123!

[2020-06-15 01:47] vinaykul commented on #1287
Created a k/k PR for broader community review. Please see https://github.com/kubernetes/kubernetes/pull/92127

[2020-06-15 04:16] knight42 commented on #1020
/cc

@soltysh Hi! I am working on this, would send a PR ASAP.

[2020-06-15 08:59] wojtek-t commented on #383
@harshanarayana

There are 3 PRs to track (will update if we end-up with some other):
https://github.com/kubernetes/kubernetes/pull/91645
https://github.com/kubernetes/kubernetes/pull/91798
https://github.com/kubernetes/kubernetes/pull/92082

[2020-06-15 08:59] wojtek-t commented on #383
@chelseychen ^^

[2020-06-15 12:02] jsafrane commented on #1710
API PR: https://github.com/kubernetes/kubernetes/pull/91838
WIP Docs: https://github.com/kubernetes/website/pull/21773

[2020-06-15 13:20] mikejoh commented on #1440
@soltysh @hpandeycodeit Hi! Friendly reminder regarding that docs placeholder PR against `kubernetes/website` (branch `dev-1.19`). The deadline for this have been pushed to Friday the **19th of June**. Let me know if you have any questions!

[2020-06-15 13:21] mikejoh commented on #1790
Hi @gnufied! Friendly reminder regarding that docs placeholder PR against `kubernetes/website` (branch `dev-1.19`). The deadline for this have been pushed to Friday the **19th of June**. Let me know if you have any questions!

[2020-06-15 16:50] onitake commented on #961
Is this still being worked on?
The PR was filed more than a year ago, but there was no progress since February.
I'm very much interested to see this enhancement and `minReadySeconds` in k8s soon.

[2020-06-15 16:56] harshanarayana commented on #383
Hey @wojtek-t, Thanks for following up with the links. I've updated these PRs in the tracking sheet.

Have a wonderful day. 🖖

[2020-06-15 18:07] kikisdeliveryservice commented on #1287
@vinaykul looks good, thanks for linking!

[2020-06-15 18:11] kikisdeliveryservice commented on #895
Hi @Huang-Wei Just to confirm: is this now code complete for 1.19 GA?

[2020-06-15 19:21] Huang-Wei commented on #895
@kikisdeliveryservice yes, all code items have been completed - tracked at https://github.com/kubernetes/kubernetes/issues/89433#issuecomment-606827765.

[2020-06-15 23:02] kikisdeliveryservice commented on #1623
Hi @deads2k ,

To follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best,
Kirsten

[2020-06-15 23:03] kikisdeliveryservice commented on #895
Hi @Huang-Wei !

Thanks for letting me know! This is mostly not applicable as your code is complete, but to follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

Please let me know if you have any questions. 😄

[2020-06-15 23:04] kikisdeliveryservice commented on #1287
Hi @vinaykul !

To follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best,
Kirsten

[2020-06-15 23:05] kikisdeliveryservice commented on #1412
Hi @wojtek-t !

This isn't super applicable to you as you are already code complete, but to follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

Please let me know if you have any questions. 😄

Best,
Kirsten

[2020-06-15 23:06] kikisdeliveryservice commented on #1453
Hi @robscott !

To follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best,
Kirsten

[2020-06-15 23:07] kikisdeliveryservice commented on #1547
Hi @mattjmcnaughton !

To follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

As this is already completed, it's not really applicable, but wanted to let you know. Please let me know if you have any questions.

[2020-06-15 23:08] kikisdeliveryservice commented on #266
Hi @liggitt !

To follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best,
Kirsten

[2020-06-15 23:11] kikisdeliveryservice commented on #279
Hi @liggitt !

To follow-up on the email sent to k-dev today, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19

We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best,
Kirsten

[2020-06-16 02:10] mattjmcnaughton commented on #1547
On Mon, Jun 15, 2020 at 04:08:03PM -0700, Kirsten wrote:

Thanks for all your work Kirsten, I appreciate the update :)

[2020-06-16 02:56] harshanarayana commented on #383
Hi, @wojtek-t

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 02:56] harshanarayana commented on #1122
Hi, @ddebroy

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 02:58] harshanarayana commented on #1143
Hi, @smarterclayton

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 02:59] harshanarayana commented on #1258
Hi, @alculquicondor

This probably not applicable to this enhancement as all the things for this are already in place. However, this is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/rele

[2020-06-16 03:00] harshanarayana commented on #1333
Hi, @liggitt,

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 03:00] harshanarayana commented on #1611
Hi, @jayunit100

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 03:01] harshanarayana commented on #1682
Hi, @huffmanca

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 03:02] harshanarayana commented on #1698
Hi, @pohly

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 03:03] harshanarayana commented on #1710
Hi, @jsafrane

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 05:01] kikisdeliveryservice commented on #1547
No problem, Matt!

[2020-06-16 09:12] serathius commented on #1602
Logging format was implemented, now we can move forward with PRs adding flags to components!
Great work @yuzhiquan on JSON!!

[2020-06-16 12:40] savitharaghunathan commented on #1498
Hi @youngnick, @tpepper: Friendly reminder: Placeholder PR deadline has been extended to `June 19th`. Just checking in to see if there is any update. Thanks!

[2020-06-16 22:03] msedzins commented on #541
Hi, @enj

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 22:04] msedzins commented on #1001
Hi, @marosset

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 22:04] msedzins commented on #1393
Hi, @mtaufen

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 22:05] msedzins commented on #1432
Hi, @xing-yang

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 22:05] msedzins commented on #1451
Hi, @alculquicondor

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 22:06] msedzins commented on #1507
Hi, @robscott

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 22:06] msedzins commented on #1513
Hi, @liggitt

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-16 22:07] msedzins commented on #1739
Hi, @neolit123

This is a follow-up to the communication that went out to `k-dev` today. There has been a revision to the release schedule of `v1.19` as follows.

[code]
You can find the [revised Schedule in the sig-release Repo](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19)

Please let me know if you have any questions. 🖖

[2020-06-17 01:52] andrewsykim opened #1864 "Optionally Disable NodePorts for Service Type=LoadBalancer"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Allow users to disable node ports for Service Type=LoadBalancer. This is useful for bare metal / on-prem environments that rely on VIP based LB implementations.

- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR)
https://github.com/kubernetes/enhancements/tr

[2020-06-17 02:33] andrewsykim commented on #1864
/sig network

[2020-06-17 03:01] xing-yang commented on #1432
Thanks @msedzins for the updated schedule!

[2020-06-17 06:31] puerco commented on #1833
Extending the release notes review period to the whole release cycle would give the team more time to work on improving the quality of the notes as per the [Contributor's Guide guidelines](https://github.com/kubernetes/community/blob/master/contributors/guide/release-notes.md).

Our tools would give the team an easy way to improve a note deemed of low quality and produce the needed data without mo

[2020-06-17 06:35] puerco commented on #1833
Before the classifier is finished and we have collected enough data to run the model, the responsibilities of the Release Notes Team will necessarily need to change from our current duties which until now were to run the release notes tooling and submitting its output as a PR.

To build the classifier, the release team would split the work of reviewing the release notes that have been submitted so

[2020-06-17 13:24] annajung commented on #1143
Hi @smarterclayton, checking in again to see if you could confirm if an update to docs is needed or not.

There has been a revision to the release schedule as mentioned above, and a placeholder PR against the k/website repo is due by June 19th (in 2 days!). If you're unsure, I still highly recommend creating one before the due date so that you have all the requirements ready to move this enhanceme

[2020-06-17 17:12] tpepper commented on #1498
PR coming

[2020-06-17 17:29] jayunit100 commented on #1611
hi folks, i somehow missed this.  reading up now.

[2020-06-17 17:33] jayunit100 commented on #1611
So, the PR is here , it has not been rebased yet https://github.com/kubernetes/kubernetes/pull/91592/files .  Im going to sync with a few folks today to see if we will be able to get it in as planned.  will sync with jerickar tomorrow as well to confirm all this.

The basic functionality is all set, but want to confirm we can make the timeeline.

[2020-06-17 17:45] jayunit100 commented on #1611
@wojtek-t , so, with the kep-nnnn thing, are you saying i should file a PR to fix the original kep to match the new format?

[2020-06-17 19:16] johnbelamaric commented on #1635
This is a policy about how long something can be in the system before being deprecated. It actually doesn't change anything about the deprecation policy described in that document. I don't think this needs user-facing documentation. It's more of a policy for the development process.

That is, everything in the versioning and deprecation policy documents stay the same. What changes is how the decis

[2020-06-17 22:05] kikisdeliveryservice commented on #693
Hi @klueska ,

To follow-up on the email sent to k-dev on Monday, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19
We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best, 
Kirsten

[2020-06-17 22:06] kikisdeliveryservice commented on #752
Hi @robscott !

To follow-up on the email sent to k-dev on Monday, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19
We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best, 
Kirsten

[2020-06-17 22:06] kikisdeliveryservice commented on #1472
Hi @pohly !

To follow-up on the email sent to k-dev on Monday, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19
We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best, 
Kirsten

[2020-06-17 22:08] kikisdeliveryservice commented on #1602
Hi @serathius  !

To follow-up on the email sent to k-dev on Monday, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19
We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best, 
Kirsten

[2020-06-17 22:08] kikisdeliveryservice commented on #1635
Hi @deads2k

To follow-up on the email sent to k-dev on Monday, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19
We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best, 
Kirsten

[2020-06-17 22:09] kikisdeliveryservice commented on #1693
Hi @liggitt !

To follow-up on the email sent to k-dev on Monday, I wanted to let you know that Code Freeze has been extended to Thursday, July 9th. You can see the revised schedule here: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19
We expect all PRs to be merged by that time. Please let me know if you have any questions. 😄

Best, 
Kirsten

[2020-06-17 22:19] sftim commented on #1635
I don't see a need for user facing documentation about the requirement either.
I _would_ like to blog about the change though to let people know that assumptions about “beta” APIs might no longer hold.

[2020-06-18 09:55] serathius commented on #1602
Thanks for info @kikisdeliveryservice

[2020-06-18 15:28] captain-kark opened #1866 "Merge pod container image labels with their spec.template.metadata labels"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): N/A
- Primary contact (assignee): N/A
- Responsible SIGs: N/A
- Enhancement target (which target equals to which milestone):
  - Alpha release target:
  - Beta release target:
  - Stable release target:

A

[2020-06-18 15:30] captain-kark commented on #1866
/sig usability

[2020-06-18 17:36] palnabarun commented on #135
Hi @pjbgf -- just wanted to check in about the progress of the enhancement.

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19). (

Please let me know if you have any questions. :slightly_smiling_face:

---
The revised release schedule is:
- Thursday, July 9th: Week 13 - Code Freeze

[2020-06-18 17:40] palnabarun commented on #614
Hi @janosi -- just wanted to check in about the progress of the enhancement.

I saw that https://github.com/kubernetes/kubernetes/pull/88932 has been merged :tada: . Do you have any other PRs for the graduation of this enhancement? Or, is the graduation criteria is complete for this cycle?

The release timeline has been revised recently, more details of which can be found [here](https://github.com

[2020-06-18 17:41] palnabarun commented on #667
Hi @feiskyer -- just wanted to check in about the progress of the enhancement. Can you please link all the implementation PR's here -- k/k or otherwise?

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions. :slightly_smiling_face:

---
Th

[2020-06-18 17:42] palnabarun commented on #785
Hi @alculquicondor -- just wanted to check in about the progress of the enhancement.

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions. :slightly_smiling_face:

---
The revised release schedule is:
- Thursday, July 9th: Week 13 - Code

[2020-06-18 17:44] palnabarun commented on #902
Hi @denkensk -- just wanted to check in about the progress of the enhancement.

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions. :slightly_smiling_face:

---
The revised release schedule is:
- Thursday, July 9th: Week 13 - Code Freeze

[2020-06-18 17:45] palnabarun commented on #1020
Hi @soltysh -- just wanted to check in about the progress of the enhancement. Feel free to link here all the implementation PRs whenever ready.

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions. :slightly_smiling_face:

---
The revised

[2020-06-18 17:46] palnabarun commented on #1381
Hi @rosti -- Thank you for linking all the implementation PRs here. I have updated the tracking sheet with the same. :+1:

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions. :slightly_smiling_face:

---
The revised release schedule is:

[2020-06-18 17:48] palnabarun commented on #1440
Hi @soltysh @hpandeycodeit -- just wanted to check in about the progress of the enhancement. Can you please link all the implementation PR's here -- k/k or otherwise?

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions. :slightly_smiling

[2020-06-18 17:50] palnabarun commented on #1490
Hi @andyzhangx -- just wanted to check in about the progress of the enhancement. From the above comments, can we assume that https://github.com/kubernetes/kubernetes/pull/90896 is the only implementation PR and the graduation requirements for this enhancement is complete?

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-re

[2020-06-18 17:54] palnabarun commented on #1491
Hi @xing-yang @divyenpatel -- just wanted to check in about the progress of the enhancement. I saw that https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/225 was closed. Is https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/235 superseding the former?

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-releas

[2020-06-18 18:00] palnabarun commented on #1790
Hi @gnufied -- just wanted to check in about the progress of the enhancement.

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions. :slightly_smiling_face:

---
The revised release schedule is:
- Thursday, July 9th: Week 13 - Code Freeze

[2020-06-18 18:14] palnabarun commented on #1797
Hi @javidiaz -- just wanted to check in about the progress of the enhancement. I have updated the tracking sheet with a link to https://github.com/kubernetes/kubernetes/pull/91699. :+1:

The release timeline has been revised recently, more details of which can be found [here](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19).

Please let me know if you have any questions

[2020-06-18 18:27] divyenpatel commented on #1491
@palnabarun vSphere CSI Migration Driver side changes are tracked here - https://github.com/kubernetes-sigs/vsphere-csi-driver/milestone/3

[2020-06-18 19:31] pjbgf commented on #135
Thank you for the update @palnabarun. The code is mostly all done, but we are now waiting for a follow-up review. Overall, we are still looking good. :+1:

[2020-06-18 21:56] RenaudWasTaken opened #1867 "Kubelet Feature: Disable AcceleratorUsage Metrics"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Deprecate the AcceleratorUsageMetrics that kubelet provides
- Kubernetes Enhancement Proposal: (link to kubernetes/enhancements file, if none yet, link to PR): https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1867-disable-accelerator-usage-metrics
- Primary contact (assignee): @RenaudW

[2020-06-18 22:59] annajung commented on #1143
Hi @smarterclayton, just a friendly reminder that tomorrow is the due date for placeholder PR. Please take a note of previous messages on action required. Thank you!

[2020-06-19 07:35] pacoxu commented on #1847
@kubernetes/sig-storage-feature-requests

[2020-06-19 13:59] savitharaghunathan commented on #1611
Hi @jayunit100, 1.19 Docs lead here. Today `June 19` is the deadline for docs placeholder PR. Can you provide an update on docs status, please? Thanks!

[2020-06-19 14:35] xing-yang commented on #1847
CC @dsu-igeek

[2020-06-19 16:22] gnufied commented on #1790
Docs PR - https://github.com/kubernetes/website/pull/21920

[2020-06-19 16:45] serathius commented on #1602
Added two new tasks for grabs as followups from https://github.com/kubernetes/kubernetes/pull/92177

[2020-06-19 16:46] serathius commented on #1602
@rahulchheda please let me know if your interested

[2020-06-19 16:46] smarterclayton commented on #1143
Docs PR is up in https://github.com/kubernetes/website/pull/21921

[2020-06-19 17:09] annajung commented on #1143
Thank you! Tracking sheet has been updated accordingly

[2020-06-19 17:19] rahulchheda commented on #1602
Yes @serathius, I would like to take them up

[2020-06-19 18:35] kk-src commented on #1847
Having discussions with @dsu-igeek @msau42 @mattcary
Should have a KEP with the proposal in shortly.

[2020-06-20 02:20] tpepper commented on #1498
@savitharaghunathan here's a number of documentation PRs relative to this KEP:

https://github.com/kubernetes/sig-release/pull/1121
https://github.com/kubernetes/community/pull/4872
https://github.com/kubernetes/website/pull/21928

[2020-06-20 02:40] RainbowMango commented on #1623
@zestrells

As mentioned by @deads2k at https://github.com/kubernetes/enhancements/issues/1623#issuecomment-631013402, this KEP not bring new functionality, so, I guess no need to update docs in k8s.io.

[2020-06-20 13:45] LappleApple commented on #1194
Hiya, is this still needed, especially given [#1707](https://github.com/kubernetes/enhancements/pull/1707)

[2020-06-20 16:37] sftim commented on #1143
In terms of documentation, I logged https://github.com/kubernetes/website/pull/21921#pullrequestreview-434439126 with some queries.

@smarterclayton do you think there is a need for additional documentation? If there are existing announcements etc do these need highlighting as part of the v1.19 release?

[2020-06-22 02:51] annajung commented on #135
Hi @pjbgf @hasheddan , a friendly reminder of the next deadline coming up.
Please remember to populate your placeholder doc PR and get it ready for review by Monday, July 6th.

[2020-06-22 02:52] annajung commented on #266
Hi @liggitt, a friendly reminder of the next deadline coming up.
Please remember to populate your placeholder doc PR and get it ready for review by Monday, July 6th.

[2020-06-22 02:52] annajung commented on #279
Hi @liggitt, a friendly reminder of the next deadline coming up.
Please remember to populate your placeholder doc PR and get it ready for review by Monday, July 6th.

[2020-06-22 02:53] annajung commented on #383
Hi @wojtek-t, a friendly reminder of the next deadline coming up.
Please remember to populate your placeholder doc PR and get it ready for review by Monday, July 6th.

[2020-06-22 02:53] annajung commented on #541
Hi @enj, a friendly reminder of the next deadline coming up.
Please remember to populate your placeholder doc PR and get it ready for review by Monday, July 6th.

[2020-06-22 02:54] annajung commented on #693
Hi @klueska, a friendly reminder of the next deadline coming up.
Please remember to populate your placeholder doc PR and get it ready for review by Monday, July 6th.

[2020-06-22 06:16] janosi commented on #614
Hello @palnabarun. There is the doc PR only waiting for further possible comments or merge, nothing else. Thank you!

[2020-06-22 07:18] wojtek-t commented on #1194
We're not closing enhancement issues until they are completed. This one isn't e.g. because PRR is not enforced on each KEP. So it is needed.

[2020-06-22 13:39] jayunit100 commented on #1611
Hi ! It wont need a docs placeholder, from conversation i just hadd with @mrbobbytables  ...  but i think we will slip this to 1.20 anyways.

[2020-06-22 16:50] palnabarun commented on #1611
@jayunit100 -- Thank you for the update. :+1:

Deferring this enhancement to 1.20 and updating the tracking sheet.

/milestone v1.20

[2020-06-23 17:30] jayunit100 commented on #1611
thanks !

[2020-06-23 20:56] klueska commented on #693
Thanks @annajung . Since the code freeze has now ben moved to July 9th, does it make sense to push the docs date forward as well? What happens if we create the documentation, but the the feature doesn't make it in in time (or makes it in in a slightly different form than what the documentation suggests)?

[2020-06-23 22:55] annajung commented on #693
Hi @klueska, that's a great point! All docs deadline also has been pushed a week with the new release date, but I think you have a valid point. Let me reach out to the docs lead for the release and get back to you! Thank you for pointing this out!

[2020-06-24 13:02] verb commented on #277
@matthyx @tedyu Yes! Help would be great. I'm focusing right now on these broad areas:

* Implementing `kubectl debug` (#1441). SIG CLI has been very supportive and we're making good progress.
* Determining whether the API needs amending prior to alpha -> beta. I've opened #1690 but haven't had time to press the issue.

You're welcome to dive into these bigger issues and help make quicker progress

[2020-06-24 15:45] vivekbagade opened #1872 "Allow manifest based registration of Admission webhooks."
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Manifest based webhook configuration allows registering admission webhooks
during kube-apiserver start up allowing for no delays in policy enforcement
between policy addition and kube-apiserver startup.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-

[2020-06-24 16:37] annajung commented on #693
Hi @klueska, thank you again for bringing this up to our attention. There has been a mix up with the docs dates for the release. As you mentioned, "PR ready for review" should come after code freeze and have been in the past releases.

However, after speaking with the release team, we have decided to keep the dates as is for this 1.19 release by making the "PR ready for review" a soft deadline. Do

[2020-06-24 20:15] krmayankk commented on #961
@onitake yes, i just updated the PR https://github.com/kubernetes/kubernetes/pull/82162 with final missing tests that were requested long back. Currently working on the implementation. Should have a PR by next week

[2020-06-28 12:40] palnabarun commented on #1797
Hi @javidiaz :wave:, I noticed that https://github.com/kubernetes/kubernetes/pull/91699 has been merged. Is there any other PR we should track or is the feature complete?

Thank you. :slightly_smiling_face:

[2020-06-28 12:48] palnabarun commented on #1491
Hi @divyenpatel :wave:, thank you for linking to the milestone tracking the implementation. :slightly_smiling_face:

[2020-06-28 19:43] palnabarun commented on #614
Hi @janosi :wave:, thank you for the update. :slightly_smiling_face:

[2020-06-28 19:45] palnabarun commented on #693
Hi @klueska :wave: -- 1.19 Enhancements Lead here,

Can you please link to all the implementation PRs here, so that the release team can track them? :slightly_smiling_face:

Thank you.

[2020-06-28 19:49] palnabarun commented on #752
Hi @robscott :wave: -- 1.19 Enhancements Lead here,

Is https://github.com/kubernetes/kubernetes/pull/91637 the only implementation PR for this enhancement? If it is otherwise, can you please link all the implementation PRs here?

Thank you. :slightly_smiling_face:

[2020-06-28 20:00] palnabarun commented on #1693
Hi @liggitt :wave:, is https://github.com/kubernetes/kubernetes/pull/92329 the only implementation PR for this feature? If not, can you please link here all the other implementation PRs?

Thank you. :slightly_smiling_face:

[2020-06-28 20:04] palnabarun commented on #1472
Hi @pohly :wave:, are https://github.com/kubernetes/kubernetes/pull/91939 and https://github.com/kubernetes/kubernetes/pull/92387 the only implementation PRs for this enhancement? If not, can you please link here all the other implementation PRs?

Thank you. :slightly_smiling_face:

[2020-06-29 07:01] pohly commented on #1472
Those are the only ones.

[2020-06-29 14:09] vivekbagade commented on #1872
/sig api-machinery

[2020-06-29 16:14] liggitt commented on #1693
kubernetes/kubernetes#92329 is linked above

[2020-06-30 00:43] robscott commented on #752
Hey @palnabarun, there's also this PR for a Windows kube-proxy implementation: https://github.com/kubernetes/kubernetes/issues/90315. Once they both merge we'll need a tiny PR to flip a feature gate from alpha to beta.

[2020-06-30 06:05] andrei-bamboi opened #1877 "Kubelet will pull only signed when DCT is enabled to docker at node level"
# Enhancement Description
After following this guide https://docs.docker.com/engine/security/trust/content_trust/ to enable DCT on kubernetes nodes, i expected that the docker engine used by kubelet should make use of this feature but it isn't. I would like that those env variable should be enabled by specifying an additional deployment parameter similar for imagepullsecret.

ex. of possible param

[2020-06-30 06:06] AndreiBamboi commented on #1877
/sig node

[2020-06-30 14:24] harshanarayana commented on #1143
Hi @smarterclayton, I noticed that there are no PRs against `k/k` for this yet. Is there a PR required against the `k/k` for this ? In case if it is required, please let me know the placeholder PR so that it can be updated to reflect in the tracking sheets.

Code freeze deadline is `Thursday, July 9th: Week 13`

Thanks in advance for your help.

[2020-06-30 14:29] harshanarayana commented on #1122
Hi @ddebroy,  Since there is no `k/k` anticipated for this Enhancement, I am checking in to see if you can help me with the link to the placeholder PR against the `kubernetes-csi/csi-proxy` and any other Repo that is applicable,  so that the tracking sheet can have a reference to the same.

Please let me know if you have any questions. 🖖

[2020-06-30 17:14] javidiaz commented on #1797
Hi @palnabarun , in terms of code that has all needed changes for the feature. We are still working to get the documentation merged. The PR for that is https://github.com/kubernetes/website/pull/21210

[2020-06-30 17:50] aojea opened #1880 "Multiple Service CIDRs"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Implement an API to manage Kubernetes Services IP Ranges
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/1880-multiple-service-cidrs/README.md
- Primary contact (assignee): @aojea
- Responsible SIGs: sig-network
- Enhancement target (which target

[2020-06-30 20:11] klueska commented on #693
@palnabarun
The PR tracking https://github.com/kubernetes/enhancements/pull/1121 can be found at:
https://github.com/kubernetes/kubernetes/pull/92665

Unfortunately enhancement #1752 will not be making it into the release, so there is no PR to track for it.

[2020-07-01 03:13] amrmahdi commented on #277
@verb can you clarify which components exactly need the feature gate to enabled for this to work?

[2020-07-01 05:17] kikisdeliveryservice commented on #1453
Looks like this is now code complete - all 4 PRs have merged.
Awesome work @cmluciano !

[2020-07-01 05:42] kikisdeliveryservice commented on #266
Hi @liggitt ,

Is this enhancement now code complete? As a reminder Code Freeze is Thursday July 9th.

Thanks!

[2020-07-01 06:54] verb commented on #277
@amrmahdi off the top of my head I think it's just kubelet and apiserver

[2020-07-01 13:21] liggitt commented on #266
Yes

[2020-07-01 13:59] palnabarun commented on #667
Hi @feiskyer :wave:, pinging back as a reminder of the above. :slightly_smiling_face:

[2020-07-01 14:06] palnabarun commented on #1020
Hi @soltysh :wave:, is https://github.com/kubernetes/kubernetes/pull/92507 the only PR for this feature?

Thank you. :slightly_smiling_face:

[2020-07-01 14:10] palnabarun commented on #1440
Hi @soltysh @hpandeycodeit :wave:, pinging back as a reminder of the above. :slightly_smiling_face:

[2020-07-01 14:11] palnabarun commented on #1490
Hi @andyzhangx :wave:, can you please update regarding the above? :slightly_smiling_face:

[2020-07-01 14:12] palnabarun commented on #1797
@javidiaz -- Thank you for the updates. :+1:

[2020-07-01 14:17] palnabarun commented on #752
@robscott -- Thank you for the update. :slightly_smiling_face:

Please link the feature flip PR whenever ready. :+1:

[2020-07-01 14:18] palnabarun commented on #1472
@pohly -- Thank you for the update. :slightly_smiling_face:

[2020-07-01 14:21] palnabarun commented on #1693
@liggitt -- Thank you for the updates. :slightly_smiling_face:

[2020-07-01 14:24] andyzhangx commented on #1490
@palnabarun Azure disk in-tree to CSI driver migration go beta in v1.19.0(with PR https://github.com/kubernetes/kubernetes/pull/90896), and Azure file in-tree to CSI driver migration remains alpha. Thanks.

[2020-07-01 15:18] cmluciano commented on #1453
Thanks @kikisdeliveryservice . Yes we are code complete, the only thing left to merge are the docs under kubernetes/website#21590 .

[2020-07-01 18:53] wojtek-t commented on #383
To update before upcoming code-freeze:
https://github.com/kubernetes/kubernetes/pull/91798
https://github.com/kubernetes/kubernetes/pull/92082
and
e2e test: https://github.com/kubernetes/kubernetes/pull/92607
are already merged

what is missing are:
https://github.com/kubernetes/kubernetes/pull/92662 (some failing tests to debug/fix)
API PR: https://github.com/kubernetes/kubernetes/pull/91645 (alr

[2020-07-01 19:25] amrmahdi commented on #277
Thanks, would be helpful if the docs is updated to mention the gates,  the TTL Controller docs is a good example https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/

[2020-07-02 15:52] msedzins commented on #541
Hi @enj , I've noticed that there are still 3 opened PRs against k/k for this enhancement.

Code freeze deadline is Thursday, July 9th: Week 13

Please let me know if for any reason you can see the risk of not including this enhancement as part of v.1.19 release.

Thank you!

[2020-07-02 15:56] msedzins commented on #1393
Hi @mtaufen , I've noticed that there is still one open PR againt k/k (#91921). Change looks simple but there has been no activity around it for long period of time.

Code freeze deadline is Thursday, July 9th: Week 13

Please let me know if for any reason you can see the risk of not including this enhancement as part of v.1.19 release.

Thank you!

[2020-07-02 16:02] msedzins commented on #1432
Hi @xing-yang  , I've noticed that PR for that enhancement is still open .

Code freeze deadline is Thursday, July 9th: Week 13

Please let me know if for any reason you can see the risk of not including this enhancement as part of v.1.19 release.

Thank you and keep my fingers crossed!

[2020-07-02 16:18] xing-yang commented on #1432
Thanks @msedzins for the reminder!  That PR is out-of-tree so we can get it merged after the 7/9 deadline.  We are getting very close for it to be merged.

[2020-07-02 17:05] neolit123 commented on #1103
going back to this topic. overall self-hosting is mostly out of scope for SIG Cluster Lifecycle at this point. one exception is boot-kube, but they have not shown interest in this proposal.

given the feature was not successful we should revert the changes in the kubelet introduced by https://github.com/kubernetes/kubernetes/pull/50984 and let another party take over this topic if they want to.

t

[2020-07-02 17:09] neolit123 commented on #1103
actually....looks like someone sent the PR already as part of the kubelet flag cleanup:
https://github.com/kubernetes/kubernetes/pull/91577

we have too many tickets for this at this point, so i'm going to close this one.

[2020-07-02 17:09] #1103 closed

[2020-07-02 20:23] msedzins commented on #1432
Thank you @xing-yang for letting me know. I will tag this enhancement as "out-of-tree" and drop it from the tracking spreadsheet (as no code is landing in k/k)

[2020-07-02 20:33] xing-yang commented on #1432
@msedzins PR is still in a kubernetes csi repo though.  We still want to track this with 1.19 release as the feature will become available before 1.19 release.

[2020-07-02 21:22] msedzins commented on #1432
just for the record: there was a discussion about this on sig-release channel:
https://kubernetes.slack.com/archives/C2C40FMNF/p1593710853239400

There's no need to track this kind of enhancements by the Release Team.

[2020-07-04 08:33] feiskyer commented on #667
Hi, @palnabarun

Related PRs would be tracked by https://github.com/kubernetes-sigs/cloud-provider-azure/issues/342 and https://github.com/kubernetes-sigs/cloud-provider-azure/issues/344.

[2020-07-05 17:59] palnabarun commented on #667
Hi @feiskyer :wave:, thank you for linking the issues here. I see that https://github.com/kubernetes/kubernetes/pull/91319 is yet to be merged and https://github.com/kubernetes-sigs/cloud-provider-azure/issues/342 has no corresponding PRs yet. Do you think they would be complete by the Code Freeze on Thursday, July 9th?

[2020-07-06 08:40] palnabarun commented on #1693
Hi @liggitt :wave:, I saw that all the implementation PRs mentioned above have been merged. Can we consider the work complete for this milestone?

Thank you. :slightly_smiling_face:

[2020-07-06 08:46] palnabarun commented on #1635
Hi @deads2k :wave:, I see that https://github.com/kubernetes/kubernetes/pull/90983 was filed in relation to this enhancement. However, there has been no progress on that PR since some time. Do you think that the PR will be merged by the Code Freeze on Thursday, July 9th?

Thank you. :slightly_smiling_face:

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-06 08:49] palnabarun commented on #1602
Hi @serathius :wave:, I noticed that there are some pending action items in this issue description. Also, I see https://github.com/kubernetes/kubernetes/pull/92788 is still in progress. Do you think all of the implementation PRs would be merged by Thursday, July 9th?

Thank you. :slightly_smiling_face:

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-06 08:51] palnabarun commented on #1472
Hi @pohly :wave:, I noticed that https://github.com/kubernetes/kubernetes/pull/91939 and https://github.com/kubernetes/kubernetes/pull/92387 are yet to merged and are actively being worked on. Do you think that they will be merged before the Code Freeze on Thursday, July 9th?

Thank you. :slightly_smiling_face:

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-06 08:53] palnabarun commented on #752
Hi @robscott :wave:, I see that https://github.com/kubernetes/kubernetes/pull/90909 (closing https://github.com/kubernetes/kubernetes/issues/90315) is already merged but https://github.com/kubernetes/kubernetes/pull/91637 has a failing test. Do you think that the PR will be merged before the Code Freeze on Thursday, July 9th?

Please note that the feature gate PR (https://github.com/kubernetes/kub

[2020-07-06 09:22] palnabarun commented on #693
Hi @klueska :wave:, I see that both of the PRs (https://github.com/kubernetes/enhancements/pull/1121 and https://github.com/kubernetes/enhancements/pull/1752) that you mentioned refer to the same enhancement. Since https://github.com/kubernetes/enhancements/pull/1752 extends the Beta graduation requirements and they won't be making it into the release, can we assume that there are no further chang

[2020-07-06 09:23] palnabarun commented on #1381
Hi @rosti :wave:, I saw that all the linked PRs above are merged. Do you have any more code PRs or is the feature code complete?

Thank you. :slightly_smiling_face:

[2020-07-06 09:24] palnabarun commented on #902
Hi @denkensk :wave:, I saw that all the PRs linked above were merged. Do you have any other implementation PRs or is the feature code complete?

Thank you. :slightly_smiling_face:

[2020-07-06 09:26] klueska commented on #693
@palnabarun This is a follow-on PR to #92665 that should land today or tomorrow: https://github.com/kubernetes/kubernetes/pull/92794

After that there should be no more PRs for this release, pending unforeseen bugs.

[2020-07-06 09:27] palnabarun commented on #1790
Hi @gnufied :wave:, I see that https://github.com/kubernetes/kubernetes/pull/91976 and https://github.com/kubernetes/kubernetes/pull/92770 yet to be merged. Do you think that they will be merged before the Code Freeze on Thursday, July 9th?

Thank you. :slightly_smiling_face:

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-06 09:28] denkensk commented on #902
Hi, @palnabarun   There is one pr left for doc update.  https://github.com/kubernetes/website/pull/21453

[2020-07-06 09:30] palnabarun commented on #902
Thank you @denkensk for the confirmation. :+1:

[2020-07-06 09:33] palnabarun commented on #693
Awesome! Thank you for the update. :+1:

We will keep an eye on https://github.com/kubernetes/kubernetes/pull/92794.

[2020-07-06 09:38] palnabarun commented on #135
Hi @pjbgf @hasheddan :wave:, I see that there are still 3 pending action items in https://github.com/kubernetes/kubernetes/issues/91286 for implementation related changes and 1 pending action item for documentation. Do you think they will make it past the code freeze on Thursday, July 9th?

Thank you. :slightly_smiling_face:

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-06 09:41] palnabarun commented on #785
Hi @alculquicondor :wave:, I saw that all the items in the checklist are complete apart from the feature gate implementation and reference docs. Do you think they will be completed by Code Freeze? Is there any way we can help speed things up before the code freeze on Thursday?

Thank you. :slightly_smiling_face:

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-06 09:52] palnabarun commented on #1440
Hi @soltysh @hpandeycodeit :wave:, I see that https://github.com/kubernetes/kubernetes/pull/92243 is still not merged and hasn't seen any activity in the past two weeks. Do you think the PR would get merged by Code Freeze on Thrusday, July 9th?

Thank you. :slightly_smiling_face:

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-06 09:55] serathius commented on #1602
@palnabarun Yes, for Alpha (planned for 1.19) we are left with only manual test and 1 small bugfix. I will work with @yuzhiquan

[2020-07-06 10:07] palnabarun commented on #1490
Hi @andyzhangx :wave:, thank you for the update. Usually, the enhancement graduates either completely or stays in the same state.

Since this enhancement involves two distinct functionalities, I am thinking if a new enhancement should be created tracking the Azure file in-tree to CSI driver migration. This enhancement can be reworded to involve just Azure disk in-tree to CSI driver migration and c

[2020-07-06 11:06] klueska commented on #693
@annajung https://github.com/kubernetes/website/pull/21607 is now ready for review.

[2020-07-06 12:54] hasheddan commented on #135
@palnabarun docs PR is mostly ready, just adding a specific guide for seccomp. Already have a LGTM from @saschagrunert on the current changes. Thank you for keeping us on track here :)

[2020-07-06 13:03] neolit123 commented on #1381
@palnurab all code PRs merged.

[2020-07-06 13:15] andyzhangx opened #1885 "Azure file in-tree to CSI driver migration"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md
- Primary contact (assignee): @andyzhangx
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release target 1.

[2020-07-06 13:16] andyzhangx commented on #1490
@palnabarun agree, I have created a new issue to track Azure File CSI driver migration: https://github.com/kubernetes/enhancements/issues/1885
@davidz627 could you remove the title to `Azure disk in-tree to CSI driver migration`? thanks.

[2020-07-06 13:53] annajung commented on #135
Hi @hasheddan, thanks for the update above. Just a quick reminder to get your doc PR ready for review (Remove WIP/rebased/all ready to go) by EOD. Thank you!

[2020-07-06 13:57] annajung commented on #266
Hi @liggitt, just a quick reminder to get your doc PR ready for review (Remove WIP/rebased/all ready to go) by EOD. Thank you!

[2020-07-06 13:58] hasheddan commented on #135
@annajung will do! Thanks!

[2020-07-06 13:58] annajung commented on #541
Hi @enj, just a quick reminder to get your doc PR ready for review (Remove WIP/rebased/all ready to go) by EOD. Thank you!

[2020-07-06 14:09] alculquicondor commented on #785
They were labelled as nice-to-have. We won't be completing those for 1.19

- The feature gate changes had pending discussions
- The reference docs generation is not a trivial effort. Sadly, we didn't get a contributor to handle it.

But the core functionality is completed.

[2020-07-06 14:40] liggitt commented on #1333
This is now complete.

[2020-07-06 14:50] palnabarun commented on #1602
@serathius -- Thanks for the update. :+1:

Please let us know if the release team can help you in any way getting the pending work completed before the freeze.

[2020-07-06 14:53] palnabarun commented on #1381
@neolit123 -- Thank you for the update. :+1:

[2020-07-06 14:54] palnabarun commented on #1490
@andyzhangx -- Thanks for creating https://github.com/kubernetes/enhancements/issues/1885 :+1:

[2020-07-06 14:54] palnabarun commented on #1490
/retitle Azure disk in-tree to CSI driver migration

[2020-07-06 14:55] palnabarun commented on #1490
@andyzhangx -- I have also retitled this issue and updated the issue description.

[2020-07-06 14:58] palnabarun commented on #135
@hasheddan -- Thank you for the update. :smile:

[2020-07-06 15:03] palnabarun commented on #785
@alculquicondor -- Thank you for the update :smile:

Aha! I see. So, can we assume that the enhancement is code complete for this cycle?

Thank you!

[2020-07-06 15:28] alculquicondor commented on #785
Correct.

[2020-07-06 16:51] palnabarun commented on #785
@alculquicondor -- Awesome! :+1:

[2020-07-06 17:01] pohly commented on #1698
*TODO* for beta:
- [ ] benchmark `hasEnoughCapacity` in `pkg/controller/volume/scheduling/scheduler_binder.go` and potentially introduce some kind of lookup structure (https://github.com/kubernetes/kubernetes/pull/92387/files/99896e4225202e25ba1924458fb104a14dfb9d27#r449032580)

This is a list of specific tasks. Other, more general tasks are described in the KEP under graduation.

[2020-07-06 17:27] annajung commented on #1287
Hi @vinaykul 👋 docs shadow here. Just a quick reminder to get your doc PR ready for review (Remove WIP/rebased/all ready to go) by EOD. Thank you!

[2020-07-06 17:30] annajung commented on #1440
Hi @soltysh @hpandeycodeit  👋 docs shadow here. Just a quick reminder to get your doc PR ready for review (Remove WIP/rebased/all ready to go) by EOD. Thank you!

[2020-07-06 17:31] annajung commented on #1790
Hi @gnufied  👋 docs shadow here. Just a quick reminder to get your doc PR ready for review (Remove WIP/rebased/all ready to go) by EOD. Thank you!

[2020-07-06 19:57] deads2k commented on #1635
https://github.com/kubernetes/kubernetes/pull/90983.  This particular PR can be delayed until 1.20 because there are no versions to stop serving in 1.19.

The rest of the required pieces have landed and the deprecation clocks have all been set.  This in combination with the warning KEP will clearly notify users of the risk.

[2020-07-06 21:31] sftim commented on #1635
@deads2k I opened a WIP pull request to announce the new policy in a blog post: https://github.com/kubernetes/website/pull/21274

It sounds like this KEP is looking likely to move forward. If that is right let me know and I'll put more work into the announcement / look for people to collaborate on details.

[2020-07-06 22:31] gnufied commented on #1790
@annajung done. thank you.

[2020-07-06 22:40] mtaufen commented on #1393
I checked in with some folks on the kops side and it looks like we'll have to push this to 1.20.

/milestone 1.20

[2020-07-06 22:41] mtaufen commented on #1393
Looks like I can't update the milestone - @msedzins can you?

[2020-07-06 22:56] liggitt commented on #266
Doc PR is ready for review

[2020-07-06 22:56] liggitt commented on #1513
Doc PR is ready for review

[2020-07-06 22:57] liggitt commented on #1693
One last impl PR at https://github.com/kubernetes/kubernetes/pull/92842

The doc PR is ready for review

[2020-07-07 05:52] Einsfier opened #1886 "Clarify and enhance JSONPath template syntax"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Clarify and enhance JSONPath template syntax
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1887
- Primary contact (assignee): @povsister
- Responsible SIGs: sig-api-machinery
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)

[2020-07-07 07:36] msedzins commented on #1393
/milestone 1.20

[2020-07-07 07:36] msedzins commented on #1393
/milestone v1.20

[2020-07-07 07:37] msedzins commented on #1393
Done @mtaufen .
Thank you for the update.

[2020-07-07 09:52] povsister commented on #1886
cc @liggitt
You might have some interest on this.

[2020-07-07 18:37] kikisdeliveryservice commented on #1287
Spoke to @vinaykul and this will be pushed to 1.20
/milestone clear

[2020-07-07 18:37] kikisdeliveryservice commented on #1287
/milestone v1.20

[2020-07-07 19:13] palnabarun commented on #667
Hi @feiskyer :wave:, pinging back as a reminder of the above. :slightly_smiling_face:

[2020-07-07 19:30] soltysh commented on #1020
Yeah, it's still being worked on and I doubt we'll merge this for 1.19, as I wrote in slack. I'm moving this to 1.20.

/milestone v1.20

[2020-07-07 19:32] soltysh commented on #1440
From what I was talking with @hpandeycodeit it looks like we're not going to push that through for 1.19, so I'm moving this to 1.20

/milestone v1.20

[2020-07-07 20:20] robscott commented on #752
Hey @palnabarun, kubernetes/kubernetes#91637 is in the merge queue now and I'm hoping to get approval for the feature gate PR today or tomorrow: kubernetes/kubernetes#92736. I think we should be on track still.

[2020-07-07 23:53] kikisdeliveryservice commented on #1623
Hi @deads2k :

As a reminder this Thursday, July 9th is code freeze. All PRs must be merged by EOD PST.

As of right now I see two outstanding PRs:
https://github.com/kubernetes/kubernetes/pull/92519
https://github.com/kubernetes/kubernetes/pull/92660

Is this correct?

If your PRs do not merge, you will need to file an [enhancement exception](https://github.com/kubernetes/sig-release/blob/master/

[2020-07-08 01:19] feiskyer commented on #667
@palnabarun I'm asking the original PR authors

[2020-07-08 01:46] tariq1890 commented on #753
@thockin Could you provide the links like repositories, mailing lists, guides etc. ? That would help people get an idea on how to engage with sig-node effectively. This particular feature request is over 2 years old with no resolution in sight.

[2020-07-08 07:31] pohly commented on #1472
/assign

[2020-07-08 07:31] pohly commented on #1698
/assign

[2020-07-08 07:35] pohly commented on #1698
*TODO* before beta:
- [ ] Can and should we enforce that pods are not deleted unless PVC and PV are also deleted (i.e. foreground deletion by default, make PVC the owner of the PV)? It is useful to know that the ephemeral volume is truly gone when the pod is gone. However, it may also slow down pod deletion. Needs more discussion.

[2020-07-08 08:21] jethrogb commented on #536
This is an excellent feature and exactly what I need.

In particular, I'm using the following topologyKeys:
* `["kubernetes.io/hostname", "topology.kubernetes.io/region", "*"]`
* `["topology.kubernetes.io/region", "*"]`

[2020-07-08 11:04] dims commented on #753
@tariq1890 folks writing this KEP have done everything right. they have left no stones unturned. The issue here is exactly what @thockin said, there's tech debt we need to fix first and hands are needed for that before we can consider this one. So the ask is for folks to help out with what needs to be done.

[2020-07-08 12:54] palnabarun commented on #1020
@soltysh -- Thank you for the update. :+1:

We will look forward to seeing the enhancement in 1.20. :slightly_smiling_face:

[2020-07-08 12:55] palnabarun commented on #1440
@soltysh -- Thank you for the update. :+1:

We will look forward to seeing the enhancement in 1.20. :slightly_smiling_face:

[2020-07-08 14:11] palnabarun commented on #667
@feiskyer -- Thank you for doing that. :slightly_smiling_face: Please note that we are less than 2 days away from Code Freeze.

If the enhancement misses the code freeze, you will need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) in order to get this back into 1.20.

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-08 14:21] palnabarun commented on #1790
@gnufied -- Please note that tomorrow is Code Freeze.

If the enhancement misses the code freeze, you will need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) in order to get this back into 1.20.

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-08 14:21] palnabarun commented on #667
@feiskyer -- Thank you for doing that. :slightly_smiling_face: Please note that tomorrow is Code Freeze.

If the enhancement misses the code freeze, you will need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) in order to get this back into 1.20.

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-08 14:25] palnabarun commented on #1790
@gnufied -- Please note that tomorrow is Code Freeze.

If the enhancement misses the code freeze, you will need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) in order to get this back into 1.19.

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-08 14:25] harshanarayana commented on #1682
Hi @huffmanca,

This is just a follow up to my earlier messages on the upcoming deadlines. The code freeze deadline is `Thursday, July 9th EOD PST` and I noticed that the `k/k` PR kubernetes/kubernetes/pull/92001 is still in flight.

For the enhancement to be included into `v1.19` this PR needs to be merged before the code freeze deadline.

Please refer to the [Exception Process](https://github.co

[2020-07-08 14:25] palnabarun commented on #667
@feiskyer -- Thank you for doing that. :slightly_smiling_face: Please note that tomorrow is Code Freeze.

If the enhancement misses the code freeze, you will need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) in order to get this back into 1.19.

---
**Code Freeze begins on Thursday, July 9th EOD PST**

[2020-07-08 14:31] harshanarayana commented on #1698
Hi @pohly,

This is just a follow up to my earlier messages on the upcoming deadlines. The code freeze deadline is `Thursday, July 9th EOD PST` and I noticed that the `k/k` PRs kubernetes/kubernetes/pull/92784, kubernetes/kubernetes/pull/91680 and kubernetes/kubernetes/pull/92387 are still in flight.

For the enhancement to be included into `v1.19` this PR needs to be merged before the code freeze

[2020-07-08 14:36] harshanarayana commented on #1710
Hi @jsafrane ,

This is just a follow up to my earlier messages on the upcoming deadlines. The code freeze deadline is `Thursday, July 9th EOD PST` and I noticed that the `k/k` PRs are still in flight.

For the enhancement to be included into `v1.19` this PR needs to be merged before the code freeze deadline.

Please refer to the [Exception Process](https://github.com/kubernetes/sig-release/blob/m

[2020-07-08 14:37] msedzins commented on #541
Hi @enj,

This is just a follow up to my earlier messages on the upcoming deadlines. The code freeze deadline is `Thursday, July 9th` and I noticed that there are still 3 opened PRs against k/k for this enhancement.

For the enhancement to be included into `v1.19` those PRs needs to be merged before the code freeze deadline.

Please refer to the [Exception Process](https://github.com/kubernetes/si

[2020-07-08 14:49] msedzins commented on #1001
Hi @marosset, from what I can see all k/k PRs for this enhancement has been already merged so it's ready for Code freeze deadline which happens July 9th.
Please let me know if you think otherwise and there are any risks for that enhancement to be not included in v.1.19.

[2020-07-08 14:51] msedzins commented on #1451
Hi @alculquicondor, from what I can see all k/k PRs for this enhancement has been already merged so it's ready for Code freeze deadline which happens July 9th.
Please let me know if you think otherwise and there are any risks for that enhancement to be included in v.1.19.

[2020-07-08 14:56] msedzins commented on #1507
Hi @robscott , from what I can see this enhancement is Code complete  so it's ready for Code freeze deadline which happens July 9th.
Please let me know if you think otherwise and there are any risks for that enhancement to be included in v.1.19.

[2020-07-08 14:56] alculquicondor commented on #1451
Correct, it is finalized for 1.19

[2020-07-08 14:57] msedzins commented on #1513
Hi @liggitt  , from what I can see this enhancement is Code complete  so it's ready for Code freeze deadline which happens July 9th.
Please let me know if you think otherwise and there are any risks for that enhancement to be included in v.1.19.

[2020-07-08 14:58] msedzins commented on #1739
Hi @neolit123  , from what I can see this enhancement is Code complete  so it's ready for Code freeze deadline which happens July 9th.
Please let me know if you think otherwise and there are any risks for that enhancement to be included in v.1.19.

[2020-07-08 14:59] liggitt commented on #1513
yes, this is code complete

[2020-07-08 15:51] neolit123 commented on #1739
@msedzins hi, the code changes merged:
https://github.com/kubernetes/kubernetes/pull/92017

e2e PRs too:
https://github.com/kubernetes/test-infra/pull/17934
https://github.com/kubernetes/kubeadm/pull/2184

docs are for the beta.

[2020-07-08 19:36] serathius commented on #1602
Hey @palnabarun looks like fix https://github.com/kubernetes/kubernetes/pull/92788 has been stuck in merge queue for last 24h (retested >3 times with 0 test failures). I'm worried it will not get merged.

[2020-07-08 19:40] palnabarun commented on #1602
@serathius -- Let me have a look and take it up with the appropriate teams. Thanks for pointing it out. :+1:

[2020-07-08 19:52] johnbelamaric commented on #752
Looks like both are now in the queue.

[2020-07-09 12:21] harshanarayana commented on #1710
/milestone clear
/milestone v1.20

[2020-07-09 12:21] harshanarayana commented on #1710
/milestone v1.20

[2020-07-09 12:49] mlbiam commented on #5
Am I reading https://github.com/kubernetes/kubernetes/pull/90603 correctly that because the pod security standards are published there's no planned replacement for PSPs in the API server and any replacement will need to be implemented as an outside system?

[2020-07-09 13:15] liggitt commented on #5
See https://github.com/kubernetes/enhancements/issues/5#issuecomment-637066475

The deprecation schedule for the current beta version in 1.22 is independent of whether or not an in-tree implementation of the standard pod security profiles will be provided. That has not yet been determined.

[2020-07-09 13:24] mlbiam commented on #5
Thanks @liggitt was confirming that nothing had been set.  thought originally nothing would be deprecated until a replacement was available.  Wasn't clear if a decision had been made one way or another.

[2020-07-09 13:32] liggitt commented on #5
The deprecation timeline is not specific to PSP and was added as part of https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1635-prevent-permabeta

[2020-07-09 13:37] mlbiam commented on #5
if i'm reading this correctly, whats pushing the deprecation is that no API should be in the same beta version for more then 9 months so PSP needs to get promoted or deprecated and since there won't be any new betas or GA of psp it needs to get on track for deprecation even though a replacement hasn't been decided on?

[2020-07-09 13:41] liggitt commented on #5
exactly. all future beta versions of all built in APIs will come with a prebaked deprecation and removal target when they are first introduced

[2020-07-09 17:22] palnabarun commented on #135
@pjbgf -- I saw that in https://github.com/kubernetes/kubernetes/issues/91286 two core action items are yet to be merged and are not in the merge pool too. Do you think they will go in before the Code Freeze?

Thank you. :slightly_smiling_face:

[2020-07-09 17:50] kikisdeliveryservice commented on #1472
hi @pohly !

The two required PRs have merged in time for code freeze so this PR seems code complete for 1.19.

It doesn't look like you'll get to the non-blocking reversion mentioned in https://github.com/kubernetes/enhancements/issues/1472#issuecomment-655098092 by EOD today correct?

Thanks!

[2020-07-09 17:53] kikisdeliveryservice commented on #1693
Hi @liggitt

Will the above PR get merge by EOD today? Today is code freeze.

Thanks!

[2020-07-09 17:57] liggitt commented on #1693
That depends on how the merge queue makes progress. It is reviewed and approved and in the milestone, so it will merge as the queue drains.

[2020-07-09 18:32] kikisdeliveryservice commented on #1693
@liggitt  I double checked and we have several enhancements that are stuck in the merge pool. They will be considered making the deadline and we'll be following their progress closely.

Thanks for the update!

Kirsten

[2020-07-09 18:49] tariq1890 commented on #753
@dims I think I've been misunderstood. What I meant to say is that we need a list of actionable targets and goals. If there is tech debt to be dealt with, then we could maintain a GitHub Milestone or provide a bulleted list of pending action items in the OPs comment so that people visiting this issue can know right away what needs to be addressed.

I am definitely willing to offer my help to sig/n

[2020-07-09 19:44] dims commented on #753
@tariq1890 the specific ask is here : "prerequisite on the (not yet submitted KEP) kubelet node graceful shutdown" https://github.com/kubernetes/enhancements/pull/1874/files#diff-c6212b56619f2b462935ad5f631d772fR94

We need to get that started. Someone has to take point and get that going.

-- Dims

[2020-07-09 19:55] palnabarun commented on #667
@feiskyer @andrewsykim -- I see that the issue description here was changed to reflect v1.20 as Beta release target. Can you please confirm if we should drop the enhancement from v1.19 release cycle?

[2020-07-09 21:12] pjbgf commented on #135
@palnabarun we are trying to get it done before the code freeze, after all its been all lgtm already. We are having some issues with some flaky tests atm. 😅

Thank you for the heads up.

[2020-07-09 23:00] kikisdeliveryservice commented on #135
For clarity the 2 prs waiting to merge are:
https://github.com/kubernetes/kubernetes/pull/91408 and https://github.com/kubernetes/kubernetes/pull/92856

The latter (https://github.com/kubernetes/kubernetes/pull/92856) seems to failing a verify check. According to https://github.com/kubernetes/kubernetes/pull/92856#issuecomment-655950700 this will require a rebase/repush/rereview before it can merg

[2020-07-09 23:26] pjbgf commented on #135
@kikisdeliveryservice thank you for the clarification. We are waiting for the flaky tests on https://github.com/kubernetes/kubernetes/pull/91408 to stop failing, once that is merged we can rebase the second PR that depends on it.

[2020-07-10 01:31] kikisdeliveryservice commented on #1491
Hi @divyenpatel

Today is code freeze and the required changes in https://github.com/kubernetes/enhancements/issues/1491#issuecomment-646233116 have not yet been completed.

If you would like this to make it into 1.19 you will need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md).

Best,
The Enhancements Team

/milestone clear

[2020-07-10 01:43] misterikkit commented on #1491
@kikisdeliveryservice First, how did you get the best username on github? Second, All of the tracked changes are in a different repo that is not subject to code freeze. I believe once https://github.com/kubernetes/kubernetes/pull/92816 merges all the kubernetes/kubernetes changes will be complete for 1.19.

[2020-07-10 01:45] palnabarun commented on #667
@feiskyer @andrewsykim -- We are into the Code Freeze now.

Since this enhancement still has pending work left (https://github.com/kubernetes/enhancements/issues/667#issuecomment-653919438) and I see that the issue description has been updated to set v1.20 as Beta release target, I am going ahead and removing this enhancement from the milestone.

You will need to file an [Exception Request](https:

[2020-07-10 01:45] palnabarun commented on #667
/milestone clear

[2020-07-10 01:53] palnabarun commented on #541
@enj -- We are into the Code Freeze now.

Since this enhancement still has pending work left - https://github.com/kubernetes/kubernetes/pull/91192 is yet to Approved/LGTM'ed, I am going ahead and removing this enhancement from the milestone.

You will need to file an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) in order to get this back into 1.1

[2020-07-10 01:53] palnabarun commented on #541
/milestone clear

[2020-07-10 02:09] feiskyer commented on #667
@palnabarun Thanks, the required dependencies are still not merged yet. let's move this to v1.20.
/milestone v1.20

[2020-07-10 02:23] divyenpatel commented on #1491
yes, @kikisdeliveryservice all other changes are in the https://github.com/kubernetes-sigs/vsphere-csi-driver. Indendepent of k8s release.

[2020-07-10 02:23] palnabarun commented on #1491
Hi @misterikkit :wave:, as per a conversation with @divyenpatel over Slack, the following k/k PRs relate to this enhancement and after they are merged in, the enhancement will be tracked out-of-tree.

1. https://github.com/kubernetes/kubernetes/pull/92816 [in merge pool]
2. https://github.com/kubernetes/kubernetes/pull/92805 [in merge pool]
3. https://github.com/kubernetes/kubernetes/pull/92802 [i

[2020-07-10 02:28] kikisdeliveryservice commented on #1790
I spoke to @gnufied this evening as since all of the related PRs have not merged he would like to defer this to 1.20

/milestone 1.20

[2020-07-10 02:28] kikisdeliveryservice commented on #1790
/milestone v1.20

[2020-07-10 02:31] xing-yang commented on #1491
@palnabarun This enhancement should not be removed from the milestone.  It should be part of 1.19 release.  The test PR (#92787) is a bug fix that can be backported later.

[2020-07-10 02:32] xing-yang commented on #1491
Only kubernetes/kubernetes#92816 [in merge pool] is required for this feature to be tracked as an in-tree enhancement.

[2020-07-10 02:45] xing-yang commented on #1491
@palnabarun Most sig-storage features now have some out-of-tree components because of CSI drivers.  As long as a feature requires an in-tree change, it should be tracked as an in-tree enhancement.  A feature can be removed from the in-tree tracking sheet if there are no in-tree components at all, but a feature should not removed from the in-tree tracking sheet just because it also contains some ou

[2020-07-10 03:36] kikisdeliveryservice commented on #1698
Hi @pohly

Today is the code freeze deadline and you have an unmergeable PR that has a hold on it see https://github.com/kubernetes/kubernetes/pull/91680#issuecomment-639489630

As this PR cannot be merged by the deadline we are removing from the milestone.  Please feel free to request an [Exception Request](https://github.com/kubernetes/sig-release/blob/master/releases/EXCEPTIONS.md) to get this

[2020-07-10 03:36] kikisdeliveryservice commented on #1698
/milestone clear

[2020-07-10 03:45] palnabarun commented on #1491
@xing-yang

According to the Code Freeze requirements, `SIGs do NOT have to have items merged before code freeze. The code only needs to be approved/reviewed.` (ref: https://groups.google.com/forum/#!topic/kubernetes-dev/-HoZA0mYbw8), the PR still needs to be be Approved/LGTM'ed. Having said that, you can still file an [exception request](https://github.com/kubernetes/sig-release/blob/master/relea

[2020-07-10 03:54] palnabarun commented on #135
Hi @pjbgf :wave:, We are into the Code Freeze now.

Since, https://github.com/kubernetes/kubernetes/pull/91408 is in the merge pool and https://github.com/kubernetes/kubernetes/pull/92856 requires a rebase over https://github.com/kubernetes/kubernetes/pull/91408 according to https://github.com/kubernetes/kubernetes/pull/92856#issuecomment-655950700, we feel that the best action here would be file

[2020-07-10 03:55] palnabarun commented on #135
/milestone clear

[2020-07-10 04:03] divyenpatel commented on #1491
@palnabarun

I think we had confusion. kubernetes/kubernetes#92802, kubernetes/kubernetes#92787, kubernetes/kubernetes#92805,  kubernetes/kubernetes#92841 are e2e test fixes observed while working on executing tests to qualify vSphere in-tree to CSI  migration as "beta".

Only https://github.com/kubernetes/kubernetes/pull/92816 is the feature PR.

Can we add back `v1.19` milestone for this issue?

[2020-07-10 04:17] msau42 commented on #1491
I don't think these e2e test fixes are critical for the feature to go beta. In https://github.com/kubernetes/kubernetes/pull/92816, the test results for the feature were posted and demonstrate that the feature is working overall. The remaining test fixes are 1) test issues, not product issues 2) not release blocking tests, so I do not think they should block the feature.

[2020-07-10 04:20] liggitt commented on #135
A rebase on an approved PR in the merge queue does not require an exception request. The PR was code complete and approved a full day before the deadline.

[2020-07-10 04:22] msau42 commented on #1698
Hi @kikisdeliveryservice , https://github.com/kubernetes/kubernetes/pull/91680 has been superceded by https://github.com/kubernetes/kubernetes/pull/92784, which has all the approvals. We no longer need #91680 and can close it.

[2020-07-10 08:06] Joseph-Irving commented on #753
So the summarise https://github.com/kubernetes/enhancements/pull/1874 for those in this issue: Sig-node (and others) think it is unwise to introduce a new feature like this KEP, which adds more complex behaviour to pod termination, while there is still the more generic problem of pod termination while a node is being shut down.
So it's been decided that this feature won't progress until the soluti

[2020-07-10 08:17] kikisdeliveryservice commented on #1698
Hi @msau42 & @pohly !

Just to get clarity on what's going on:

In the implementation PR (https://github.com/kubernetes/kubernetes/pull/92784) I see: `Only commits after 'make update' for API are part of the implementation, everything before is part of the API PR.` <-- which means that the contents of 91680 are in 92784?

However the description states : `Before it can be merged, the API must be r

[2020-07-10 10:12] pohly commented on #1698
What we are merging is the implementation PR. It contains the complete API PR, so both go in together. We can close the API PR or let GitHub do it automatically. I prefer the latter.

The hold on the API PR was originally for a different reason, we just didn't remove it because there was another one ("no API change without the implementation").

[2020-07-10 10:24] pohly commented on #1472
I did get that fixed already. I didn't really affect anything, though.

[2020-07-10 10:30] dims commented on #753
@Joseph-Irving thanks a ton for summarizing. I am hoping all the +ve energy on this enhancement translates to more participation from everyone in sig-node on a regular basis and not just a one off for features.

[2020-07-10 13:47] dims commented on #1491
@palnabarun if you would prefer an explicit request for exception, please say so and @xing-yang will be happy to file one. If not i'd assume that we can add the milestone back based on the ack/ok from both sig storage leads

[2020-07-10 15:10] yash97 opened #1892 "Sending kubelet events in distributed manner to clients."
# Enhancement Description
- One-line enhancement description (can be used as a release note):Currently events can be obtained from api server which is centralized approach I propose to send it in a distributed manner.
- Kubernetes Enhancement Proposal: [#1891 ](https://github.com/kubernetes/enhancements/pull/1891)
- Primary contact (assignee):@yash97
- Responsible SIGs: sig-node
- Enhancement targ

[2020-07-10 15:36] msau42 commented on #1698
The API has been reviewed and approved, so the hold is now only there to stop it from merging and instead merge it together with #92784. @pohly can you go ahead and close #91680 and update the comment in #92784 that it's all merging in one PR?

[2020-07-10 16:04] pohly commented on #1698
Okay.

[2020-07-10 16:09] yash97 commented on #1892
Can anyone tell me why it is not adding sig?? even after I did?

[2020-07-10 16:11] yash97 commented on #1892
/sig node
/kind feature

[2020-07-10 20:10] kikisdeliveryservice commented on #752
Congrats @robscott looks like the PRs finally merged! I will update the tracking sheet accordingly.

[2020-07-10 21:10] robscott commented on #752
Thanks to everyone for the help!

[2020-07-10 21:47] palnabarun commented on #135
Hi @liggitt :wave:, thank you for your inputs. :+1:

We are going to include the enhancement back into the cycle. All our apprehensions were regarding the rebase. Since that is sorted, this is good to go. :slightly_smiling_face:

[2020-07-10 21:47] palnabarun commented on #135
/milestone v1.19

[2020-07-10 21:53] palnabarun commented on #1491
@xing-yang @divyenpatel @msau42 :wave: -- thank you for all of your inputs. :+1:

Apologies for the delay. After a discussion amongst the leads, we have decided to include the enhancement back to the cycle. :slightly_smiling_face:

@dims :wave: -- thank you for coordinating the communications. :100:

[2020-07-10 21:53] palnabarun commented on #1491
/milestone v1.19

[2020-07-10 21:58] palnabarun commented on #135
@pjbgf @saschagrunert @hasheddan -- thank you for all your contributions. :100:

[2020-07-10 21:59] palnabarun commented on #1698
@pohly @msau42 :wave: -- thank you for your inputs. :+1:

After a discussion amongst the leads, we have decided to include the enhancement back into the cycle. Since the confusion around the PRs are sorted, this is good to go. :100:

[2020-07-10 22:00] palnabarun commented on #1698
/milestone v1.19

[2020-07-10 22:09] saschagrunert commented on #135
Thank you @palnabarun for the detailed tracking of the enhancement. I appreciate it! 🙏

[2020-07-10 23:22] kikisdeliveryservice commented on #693
Congrats @klueska kubernetes/kubernetes#92794 has finally merged, I will update the tracking sheet accordingly 😄

[2020-07-10 23:24] kikisdeliveryservice commented on #1602
Hi @serathius kubernetes/kubernetes#92788 finally merged I will update the enhancements sheet accordingly. Congrats!

[2020-07-10 23:25] kikisdeliveryservice commented on #1698
Looks like https://github.com/kubernetes/kubernetes/pull/92784 finally merged, I will update the enhancements sheet. Congrats. :)

[2020-07-10 23:27] kikisdeliveryservice commented on #1491
As an update https://github.com/kubernetes/kubernetes/pull/92816 has finally merged. I will update the enhancements list accordingly. 👍

[2020-07-10 23:30] xing-yang commented on #1491
Thanks @palnabarun and @kikisdeliveryservice!!!

[2020-07-11 01:38] dims commented on #1491
@kikisdeliveryservice @palnabarun go teamwork!

[2020-07-11 07:49] serathius commented on #1602
Congrats and thanks to everyone who contributed to Structured Logging. Hope we will have more opportunities to work together.

[2020-07-11 15:27] dims commented on #1602
w00t! @serathius

[2020-07-12 01:07] kikisdeliveryservice commented on #135
@saschagrunert the final PR kubernetes/kubernetes#92856  merge at last. Congrats! I will update the tracking sheet to reflect this.

[2020-07-12 04:52] kikisdeliveryservice commented on #1693
@liggitt kubernetes/kubernetes#92842 finally merged! I will update the enhancements tracking sheet to reflect this. Congrats!

[2020-07-13 19:47] javidiaz commented on #1797
@palnabarun the docs (kubernetes/website#21210)  merged as well, anything else we need to do so our feature makes the 1.19 release? thanks

[2020-07-14 05:29] palnabarun commented on #1797
@javidiaz -- Looks like everything is complete to me. :+1: I can confirm for the code changes.

I will defer to @savitharaghunathan @zestrells for the docs. :slightly_smiling_face:

[2020-07-15 14:11] mrbobbytables commented on #635
Going to go ahead and close as we have the blockade in place. If this needs to be adjusted we can reopen 👍

/close

[2020-07-15 14:11] #635 closed

[2020-07-15 18:09] frittentheke commented on #281
/remove-lifecycle stale

[2020-07-15 18:10] frittentheke commented on #281
@mtaufen are you still considering to pick this up again?

[2020-07-15 23:27] tallclair opened #1898 "Harden exec requests against SSRF"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Harden exec requests against SSRF by preventing command modification through URL parameters and GET requests.
- Kubernetes Enhancement Proposal: coming soon!
- Primary contact (assignee): @tallclair
- Responsible SIGs: sig-node, sig-api-machinery
- Enhancement target (which target equals to which mileston

[2020-07-15 23:28] tallclair commented on #1898
/sig node
/sig api-machinery

For motivation, see https://github.com/kubernetes/kubernetes/issues/92914

[2020-07-16 07:12] qixiaobo commented on #950
Glad to hear this

[2020-07-16 14:55] xlgao-zju commented on #281
+1 for this. Do we still work on this?

[2020-07-16 16:19] rata commented on #753
Hi! One more comment regarding this KEP, though: I raised some edge cases about this KEP in past SIG-node meetings (June 23 if you want to watch the recordings) and we decided that the proper way to continue that discussion is opening PRs about those issues so we can decide how is best to proceed.

I'm currently working on a PR to state those issues and some alternatives I can think of.

Also, the

[2020-07-16 16:19] gnufied commented on #1682
/reopen

[2020-07-17 19:43] AndiLi99 opened #1900 "Add additional validation to Volume Snapshot objects"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Validate immutable fields and add `oneOf` validation to VolumeSnapshot and VolumeSnapshotContent objects
- Kubernetes Enhancement Proposal:  will update.
- Primary contact (assignee): @andili99
- Responsible SIGs: sig-storage
- Enhancement target (which target equals to which milestone):
  - Alpha release

[2020-07-17 20:51] AndiLi99 commented on #1900
/sig storage

[2020-07-20 23:02] mtaufen commented on #281
I don't currently have time to work on it. But I'm happy to
consult if someone wants to move it forward.

The approach has a lot of sharp edges right now, because
it just exposes the Kubelet's whole config, and many of those
fields don't make sense to be dynamic. That should probably
be discussed before moving it forward to GA.

[2020-07-21 18:45] palnabarun commented on #1867
Hi @RenaudWasTaken :wave: -- the [exception request](https://groups.google.com/g/kubernetes-sig-release/c/llTWAsKbpRc/m/7UYtRHA-AQAJ) was [approved](https://groups.google.com/g/kubernetes-sig-release/c/llTWAsKbpRc/m/r2f9LRrnBwAJ). :100:

I have added the enhancement to the tracking sheet. It is marked **At Risk** because the the implementation [PR](https://github.com/kubernetes/kubernetes/pull/919

[2020-07-21 18:45] palnabarun commented on #1867
/milestone v1.19

[2020-07-21 18:46] palnabarun commented on #1867
/stage alpha

[2020-07-21 18:46] palnabarun commented on #1867
PS: Updated the issue comment with a link to the KEP.

[2020-07-21 18:50] savitharaghunathan commented on #1867
Hi @RenaudWasTaken 👋 , `1.19 Docs Lead` here. Do this feature require any new documentation or changes to existing ones?

[2020-07-21 19:17] RenaudWasTaken commented on #1867
Hello @savitharaghunathan!

It does require a small paragraph to be added, I'll have a PR ready in an hour!

[2020-07-21 20:03] RenaudWasTaken commented on #1867
Done! https://github.com/kubernetes/website/pull/22628

[2020-07-22 08:27] aisensiy commented on #281
So https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/ this document actually does not work?

[2020-07-22 11:54] xlgao-zju commented on #281
@aisensiy It works fine for me.

[2020-07-22 12:17] aisensiy commented on #281
Is is beta in 1.11. So version 1.17 should work by default？

[2020-07-23 09:12] wojtek-t opened #1904 "Efficient watch resumption after kube-apiserver reboot"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Watch can be efficiently resumed after kube-apiserver reboot
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1904-efficient-watch-resumption
- Primary contact (assignee): @wojtek-t
- Responsible SIGs: sig-apimachinery, sig-scalability
- Enha

[2020-07-27 07:24] knight42 opened #1906 "Configure RESTClient in client-go not to follow redirects by default"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Configure RESTClient in client-go not to follow redirects by default to mitigate potential security risk such as [CVE-2020-8559](https://github.com/kubernetes/kubernetes/issues/92914)
- Kubernetes Enhancement Proposal: #1908
- Primary contact (assignee): @knight42
- Responsible SIGs: sig-api-machinery
- E

[2020-07-27 07:24] knight42 commented on #1906
/sig api-machinery

[2020-07-28 00:00] neolit123 commented on #1424
/remove-lifecycle stale

[2020-07-28 08:21] palnabarun commented on #964
/remove-lifecycle rotten

[2020-07-28 08:21] palnabarun commented on #1687
/remove-lifecycle stale

[2020-07-28 08:21] palnabarun commented on #1024
/remove-lifecycle stale

[2020-07-28 08:21] palnabarun commented on #859
/remove-lifecycle stale

[2020-07-28 08:21] palnabarun commented on #822
/remove-lifecycle stale

[2020-07-28 08:21] palnabarun commented on #620
/remove-lifecycle stale

[2020-07-28 08:21] palnabarun commented on #531
/remove-lifecycle stale

[2020-07-28 08:21] palnabarun commented on #284
/remove-lifecycle stale

[2020-07-28 18:18] xing-yang commented on #962
/remove-lifecycle stale

[2020-07-28 18:21] wojtek-t commented on #1164
/remove-lifecycle stale

[2020-07-29 14:50] BenTheElder commented on #1179
/remove-lifecycle stale

[2020-07-29 15:03] #1179 closed

[2020-07-30 04:27] BenTheElder commented on #1179
Sorry for the delay, this is actually fixed now!

[2020-07-30 11:57] saschagrunert commented on #24
/remove-lifecycle stale

[2020-07-30 11:59] neolit123 commented on #1177
/remove-lifecycle stale

[2020-07-30 11:59] neolit123 commented on #995
/remove-lifecycle stale

[2020-07-30 12:04] neolit123 commented on #553
we saw a number of reports about us breaking this feature further on slack and in k/k - e.g. https://github.com/kubernetes/kubernetes/issues/93342

i personally think that the kubernetes distributed component model and topology variance makes such a feature hard to acheive.
what we have currently should be deprecated and KEPs for new alternatives should be a follow up.

/remove-lifecycle stale

[2020-07-30 13:44] sttts commented on #1101
/remove-lifecycle stale

[2020-07-30 14:04] liggitt commented on #553
I agree. As a starting point, I've opened https://github.com/kubernetes/kubernetes/pull/93570 to mark the API as deprecated (with no other behavior change) to at least indicate to consumers that it is not the recommended approach.

[2020-07-30 14:35] liggitt commented on #553
heigh-ho, heigh-ho, it's off to the label mines I go

[2020-07-30 15:39] palnabarun commented on #1295
/remove-lifecycle stale

[2020-07-30 15:40] palnabarun commented on #1441
/remove-lifecycle stale

[2020-07-30 15:40] palnabarun commented on #1539
/remove-lifecycle stale

[2020-07-30 15:40] palnabarun commented on #1601
/remove-lifecycle stale

[2020-07-30 15:40] palnabarun commented on #1177
/remove-lifecycle stale

(trying again)

[2020-07-30 16:14] apelisse commented on #1027
/remove-lifecycle stale

[2020-07-30 16:28] logicalhan commented on #553
/cc @rngy

[2020-07-30 19:10] fabioy commented on #553
With kubernetes/kubernetres#93570 being reviewed (with a goodbye wave to this hack), what is the proposal for the replacement to this?

[2020-07-30 19:33] liggitt commented on #553
The release note in https://github.com/kubernetes/kubernetes/pull/93570 describes the mechanisms that can be used to determine etcd, scheduler, and controller-manager health instead

[2020-07-30 19:56] neolit123 commented on #357
/remove-lifecycle stale

[2020-07-30 21:57] unixfox commented on #508
/remove-lifecycle stale

[2020-07-31 01:38] yuzp1996 commented on #1877
I agree with this enhancements issue, Is it not important for kubelet to pull the right image in some case?

[2020-07-31 07:48] neolit123 commented on #970
/remove-lifecycle stale

[2020-07-31 07:51] robstoll opened #1917 "add `--selector` to rollout deployment"
# Enhancement Description
- One-line enhancement description (can be used as a release note): add `--selector` to rollout deployment
- Kubernetes Enhancement Proposal: https://github.com/tegonal/k8s-enhancements/blob/KEP-1917/keps/sig-cli/1917-selector-rollout-deployment
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha relea

[2020-07-31 07:51] robstoll commented on #1917
/sig CLI

[2020-07-31 11:33] ahg-g commented on #624
/remove-lifecycle stale

[2020-08-01 22:30] renukamanavalan opened #1918 "Request for info: Fix docker container name"
When a daemonset is applied to a node, and you run `docker ps`, the name of the container is a long  string coined by kubernetes.

e.g.
`ec58d6737b7c        3325157d4dbe                      "/usr/bin/supervisord"   9 minutes ago       Up 9 minutes                            k8s_snmp_snmp-sv2-z9xwg_default_305c1a30-de3d-447b-848c-c82f2a17a554_0
`
Is there a way to specify a name to use ?

Being da

[2020-08-02 01:58] mrbobbytables commented on #1918
@renukamanavalan container names within a pod are all generated from the same code no matter the type of object being provisioned (Deployment, Daemonset etc) and is not really something that could be changed 😬 If you're curious, check out the [naming section of the kubelet package](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/naming.go).

Also, as an FYI - This repo

[2020-08-02 01:59] #1918 closed

[2020-08-02 04:13] renukamanavalan commented on #1918
Thank you @mrbobbytable Bob Killen! Though I suspected the same, I preferred to get a confirmation. Thanks for the link & confirmation. Took your point, regarding where to file issues.

Thanks again!
Renuka

[2020-08-02 22:55] xing-yang commented on #177
/remove-lifecycle stale

[2020-08-03 09:10] fabriziopandini commented on #1053
/remove-lifecycle stale

[2020-08-03 10:05] abhty822 opened #1919 "support Env will override Env variables"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
  **Process Env then allow Env to replace existing values and Env don't have to guarantee the order**
- Kubernetes Enhancement Proposal:
- Primary contact  @(assignee):@abhty822
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta relea

[2020-08-03 10:05] abhty822 commented on #1919
/sig apps

[2020-08-03 10:29] KielChan opened #1920 "Kubelet Feature: Make Cadvisor Metrics Set Configurable"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add a feature gate to enable config custom cadvisor metrics set collected background.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/pull/1921
- Primary contact (assignee): @KielChan
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):

[2020-08-03 11:15] abhty822 commented on #1919
https://github.com/kubernetes/kubernetes/blob/9fb34eddedca31c9e36b0adfeda6219a0efa6cb4/third_party/forked/golang/expansion/expand.go#L38
**In this code，only put "container.EnvFrom" to "tmpEnv" ,but "container.Env" is assign values in order**
**This leads to the above problems**

[2020-08-03 13:30] KielChan commented on #1920
remove /stage alpha

[2020-08-03 18:28] kikisdeliveryservice commented on #1920
Hi @KielChan

Release 1.19 Enhancements team here 👋

I see that you have targeted this enhancement for alpha at 1.19. Unfortunately the deadline has already passed (the Enhancements Freeze was May19th and Code Freeze was July 9th) please see for the 1.19 schedule:
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.19#tldr

You will need to re-target alpha to 1.20, please let

[2020-08-03 22:46] gnufied commented on #556
/remove-lifecycle stale

[2020-08-04 02:04] abhty822 commented on #1919
/sig node

[2020-08-04 03:00] KielChan commented on #1920
@kikisdeliveryservice  thanks, I will fix it today

[2020-08-04 06:31] #1919 closed

[2020-08-06 09:56] chendave opened #1923 "Honor Nominated node during the new scheduling cycle"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Check the nominated node of the pod (if has) directly instead of loop over all the nodes in the cluster.
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/2026
- Main repo issue: https://github.com/kubernetes/kubernetes/issues/93013
- Primary contact (assignee): @chendave

[2020-08-06 09:56] chendave commented on #1923
/sig scheduling
/assign

[2020-08-06 14:09] mrbobbytables commented on #1924
/sig architecture
/area enhancements

[2020-08-06 15:21] #1820 closed

[2020-08-06 15:30] hanamantagoudvk opened #1925 "Adding Performance benchmarking testcases for networking usecases"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Adding Performance benchmarking testcases for networking usecases
- Kubernetes Enhancement Proposal:
https://docs.google.com/document/d/e/2PACX-1vRGzgmjCsPIUY3r9fyy1if2fThQTYJ4pJt7r9uUFkVklcvdvcklgBxIC5hZaCu_L1M_czogNRxgJE5W/pub
- Primary contact (assignee): @hanamantagoudvk
- Responsible SIGs: sig-networ

[2020-08-06 15:39] hanamantagoudvk commented on #1925
/sig network
/sig testing
/sig scalability

[2020-08-07 13:19] Reamer commented on #563
/remove-lifecycle stale

[2020-08-07 16:30] apelisse opened #1929 "Built-in API Types Defaults"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Allow new declarative default marker for built-in API types
- Kubernetes Enhancement Proposal:https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1929-built-in-default
- Primary contact (assignee): @apelisse
- Responsible SIGs: sig-api-machinery
- Enhancement target (which target

[2020-08-07 16:30] apelisse commented on #1929
/sig api-machinery
/wg api-expression

[2020-08-07 18:54] seh commented on #277
I asked about which components care about the "EphemeralContainers" feature gate [today in the "kubernetes-users" Slack channel](https://kubernetes.slack.com/archives/C09NXKJKA/p1596812966425100).

[2020-08-10 13:52] redbaron commented on #542
/remove-lifecycle stale

[2020-08-10 20:37] neolit123 commented on #1648
i closed  https://github.com/kubernetes/enhancements/pull/1652 due to inactivity

[2020-08-10 20:37] #1648 closed

[2020-08-11 05:39] garo commented on #277
@verb A quick question about providing strace capabilities in debugging: Does the current "kubectl debug" feature allow a Kubernetes user to run strace against a pod he owns without giving him full cluster admin capabilities?

We have a use case where developers have access to one or more namespaces where they are free to run their applications and they want to be able to run strace against their

[2020-08-11 06:33] RenaudWasTaken commented on #606
Stable release target will be 1.20

[2020-08-11 16:38] dashpole commented on #1920
/cc

[2020-08-12 00:25] warmchang commented on #362
/remove-lifecycle stale

[2020-08-12 10:37] saschagrunert commented on #135
@tallclair @pjbgf do you think we can close this issue now since seccomp is GA?

[2020-08-12 12:10] palnabarun commented on #135
@saschagrunert We usually wait for the release to happen, then mark the corresponding KEP as `implemented` and then close the enhancement issue.

Please feel free to go ahead and stage a change to mark https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190717-seccomp-ga.md as `implemented`. :slightly_smiling_face:

[2020-08-12 12:17] saschagrunert commented on #135
Thank you for the clarification, opened a PR in https://github.com/kubernetes/enhancements/pull/1932

[2020-08-12 14:07] verb commented on #277
@garo It's not currently supported, but it's a planned improvement, kubernetes/kubernetes#53188.

[2020-08-12 17:34] bswartz commented on #1495
/remove-lifecycle stale

[2020-08-12 18:52] PurelyApplied opened #1933 "Defend against logging secrets via static analysis"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Defend against logging secrets via static analysis
- Kubernetes Enhancement Proposal: [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-security/1933-secret-logging-static-analysis/README.md)
- Primary contact (assignee): @PurelyApplied
- Responsible SIGs: @sig-instrumentation
- Enhan

[2020-08-13 05:20] #1206 closed

[2020-08-13 13:10] andrewsykim commented on #1771
Yes this is for out-of-tree providers consuming the in-tree cloud provider libs.

Closing since the KEP has been approved / implemented.

/close

[2020-08-13 13:10] #1771 closed

[2020-08-13 18:14] PurelyApplied commented on #1933
/sig instrumentation
/sig auth

/wg security audit

[2020-08-13 18:14] PurelyApplied commented on #1933
/wg "security audit"

[2020-08-13 18:27] JayBeale commented on #1933
Looks like @wg-security-audit tag doesn't exist yet - I'll see if we can do something about that.

[2020-08-14 16:24] kikisdeliveryservice commented on #1920
Hi @KielChan

Enhancements team here. Thanks for opening your KEP issue and PR. As a matter of process as @dashpole mentioned elsewhere we will first need to get your enhancement reviewed and merged as implementable (https://github.com/kubernetes/enhancements/pull/1921) by sig-node and pending that your PR (https://github.com/kubernetes/kubernetes/pull/93650). Master has not yet been opened for 1.

[2020-08-15 20:58] janosi commented on #1435
PR: https://github.com/kubernetes/kubernetes/pull/94028

[2020-08-17 05:44] hanamantagoudvk commented on #1925
Request committers and members to review this proposal and let us know your opinion

[2020-08-17 06:39] george-angel commented on #1487
/remove-lifecycle stale

[2020-08-17 06:52] pohly commented on #596
/remove-lifecycle stale
/lifecycle frozen

[2020-08-17 15:05] neolit123 commented on #267
/remove-lifecycle stale

[2020-08-18 01:08] andrewsykim commented on #1669
/remove-lifecycle stale

[2020-08-18 02:53] elmiko commented on #609
the initial integration has happened and we are now working on improvements. happy to take any action to help close this issue.
/remove-lifecycle stale

[2020-08-18 05:48] frittentheke commented on #423
/remove-lifecycle stale

[2020-08-18 07:26] fabriziopandini commented on #18
/remove-lifecycle stale

[2020-08-18 07:31] olemarkus commented on #423
What is missing to bring to this to GA?

[2020-08-18 08:42] arjunrn commented on #1610
/remove-lifecycle stale

[2020-08-18 09:18] fabriziopandini commented on #783
/remove-lifecycle stale

[2020-08-18 11:56] neolit123 commented on #786
/remove-lifecycle stale

[2020-08-18 15:59] mattfarina commented on #753
@rata Did you open issues/PRs on the proper way to handle the issues?

[2020-08-18 16:06] Joseph-Irving commented on #753
@mattfarina This is the PR https://github.com/kubernetes/enhancements/pull/1913
It contains a number of proposed solutions to current problems/edge cases in the KEP
Also contains details a number of alternatives that were discussed and decided against, so that we have a better log of why certain decisions have been made.

[2020-08-18 16:54] Bessonov commented on #361
/remove-lifecycle stale

[2020-08-18 19:43] Jefftree commented on #960
KEP has been withdrawn.

/close

[2020-08-18 19:43] #960 closed

[2020-08-18 22:18] JeremyOT commented on #1645
/remove-lifecycle stale

[2020-08-18 23:02] mewais opened #1948 "Device Plugin API feature: Add Deallocate and PostStopContainer to device plugin API"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Add Deallocate and PostStopContainer to device plugin API
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1949
- Primary contact (assignee): @mewais
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target (1.21

[2020-08-19 05:19] frittentheke commented on #727
/remove-lifecycle stale

[2020-08-19 05:23] frittentheke commented on #1029
/remove-lifecycle stale

[2020-08-19 06:51] palnabarun commented on #960
/milestone clear

(since it wasn't part of the 1.19 cycle)

[2020-08-19 10:31] yue9944882 commented on #1040
/remove-lifecycle stale

[2020-08-20 12:30] devopstales commented on #127
/remove-lifecycle stale

[2020-08-20 16:46] saschagrunert commented on #24
Will target to work on this in v1.20.0.

[2020-08-20 19:06] puerco commented on #1733
/remove-lifecycle stale

[2020-08-24 19:12] 2rs2ts commented on #555
/remove-lifecycle stale

[2020-08-24 21:00] spiffxp commented on #1618
/remove-lifecycle stale

[2020-08-25 01:09] craiglpeters commented on #1490
/milestone clear

[2020-08-25 01:09] craiglpeters commented on #1490
/milestone v1.20

[2020-08-25 01:22] andyzhangx commented on #1490
it's already beta in v1.19

[2020-08-25 16:08] abraithwaite commented on #661
/remove-lifecycle stale

[2020-08-25 17:45] phenixblue commented on #1815
/remove-lifecycle stale

[2020-08-25 21:15] danwinship commented on #1664
/remove-lifecycle stale
discussion is continuing on the KEP

[2020-08-26 07:27] apyrgio commented on #1802
The respective PR (https://github.com/kubernetes/enhancements/pull/1803) has been merged, so this issue can close as well.

[2020-08-26 07:27] #1802 closed

[2020-08-26 16:52] ashrayjain commented on #647
/remove-lifecycle-stale

[2020-08-26 16:53] ashrayjain commented on #647
/remove-lifecycle stale

[2020-08-27 16:35] marosset commented on #1001
/milestone v1.20

[2020-08-27 16:35] immuzz commented on #1122
SIG-Windows Triage

Things to do in K8 1.20
1. Promote this to GA
2. Consider Privileged Containers Impact
3. AWS, VSphere disks etc

[2020-08-27 16:35] marosset commented on #1001
@msedzins sorry for not responding to your previous message in July (I was out of office).
This enhancement is safe to be included in 1.19

[2020-08-27 16:38] immuzz commented on #1001
SIG-Windows Triage Meeting

Things to do in K8s. 1.20
1. gMSA support
2. Perf analysis of pod-lifecycle operations performed
3. Production Readiness
4. Any other parity feature gaps between Docker and ContainerD
5. Promote it to GA

[2020-08-28 04:23] lachie83 commented on #563
We would like this enhancement to be tracked in 1.20. It will be reimplemented in alpha state according to the updated kep - https://github.com/kubernetes/enhancements/pull/1679. Please track the following PR for the implementation - https://github.com/kubernetes/kubernetes/pull/91824. We are planning to complete the review and merge the PR early in the 1.20 release cycle.

[2020-08-28 06:35] trondhindenes commented on #753
I would very much like to see the sidecar functionality also cover scaling:
Today, HPA scaling is based on a metric (such as cpu). If the pod contains more than one container, the average across all containers is used (as far as I know). For pods with sidecar (app+nginx etc) this makes it very hard to make scaling function correctly. I was hoping that the sidecar implementation in Kubernetes would

[2020-08-28 14:31] soltysh commented on #19
/lifecycle frozen

[2020-08-28 15:01] howardjohn commented on #753
I agree this would be useful but its not necessarily "sidecar" specific and since the implementation is uncoupled from this it may make sense to make it a separate issue - this one is already very complex. I am also not convinced you want to just ignore the sidecar. We may want per-container HPA scaling instead, for example. Not sure - would need exploring as its own issue I think.

[2020-08-28 15:44] monopole commented on #993
This will happen automatically when kubernetes-sigs/kustomize#1500 closes.
Currently blocked by kubernetes-sigs/kustomize#2506, its being actively worked on.
Targeting 1.20

[2020-08-29 14:20] neolit123 commented on #995
/remove-lifecycle rotten

[2020-08-31 04:10] bergwolf commented on #1846
Yeah, it has been a long standing issue for Kata Containers as well. Thank you for bringing it up again!

All the above mentioned three options can work for Kata Containers. Also it is possible for Kata Containers to remove the socat dependency as well, by implementing the similar functionality as containerd/CRI-O has done in `kata-agent`(which is a long running daemon inside the sandbox). Is it p

[2020-08-31 18:23] LorbusChris commented on #689
/remove-lifecycle rotten

[2020-08-31 19:04] LorbusChris commented on #689
Looks like this has been implemented. Can this issue be closed now?

[2020-08-31 21:57] andrewsykim opened #1959 "Service Type=LoadBalancer Class"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Introduce a new Service annotation `service.kubernetes.io/load-balancer-class` that allows multiple implementations of Service Type=LoadBalancer in a cluster.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/1959-service-lb-class-field
- P

[2020-08-31 22:00] andrewsykim commented on #1959
/sig cloud-provider

[2020-08-31 22:00] andrewsykim commented on #1959
/sig network

[2020-09-01 00:39] shaneqld commented on #753
Does anyone have any reference to, or could be so kind to share, the current workaround for this issue?

I recall a possible workaround involving:

- a custom Envoy image which ignores SIGTERM.
- invoking /quitquitquit on Envoy from within the application container on shutdown (similar to the Job completion workaround)

[2020-09-01 01:55] ianlewis commented on #1846
@bergwolf Yes, I think it would be possible to add port-forwarding to the containerd shim API and have each shim implementation do the necessary work to set up the connection. gVisor could support that as well. That would make it effectively a containerd CRI implementation detail and wouldn't require any changes to Kubernetes (and as such wouldn't require a KEP?), but would make shim implementatio

[2020-09-01 02:05] ianlewis commented on #1846
I added option 1b that describes what I mean. This would work for containerd but cri-o would need to have it's own mechanism for oci runtime specific behavior.

[2020-09-01 03:35] XSAM commented on #753
We use a custom daemon image like a `supervisor` to wrap the user's program. The daemon will also listen to a particular port to convey the health status of users' programs (exited or not).

Here is the workflow:

- Using the daemon image as `initContainers` to copy the binary to a shared volume.
- Our `CD` will hijack users' command, let the daemon start first. Then, the daemon runs the users' pr

[2020-09-01 08:23] krmayankk commented on #213
thanks @tallclair  will start on this and see where we land.

[2020-09-01 08:27] krmayankk commented on #961
The implementation and UT have been updated. Waiting for review from the sigs

[2020-09-01 13:36] haircommander commented on #1846
(CRI-O maintainer here) Out of all the options, 1b or 3 sound the best to me.

3 seems like a good use case for ephemeral containers, and I think is my favorite, but is also the most difficult.

CRI-O already branches on the logic for different runtimes, so 1b should be fairly simple to plug in a new implementation for PortForward for the `vm` type runtime.

We're working on moving away from pause

[2020-09-01 14:22] palnabarun commented on #1841
/remove-lifecycle stale

[2020-09-01 14:24] palnabarun commented on #1827
Hi @Farhanfdema :wave:, this repository is used to track Kubernetes Enhancements.

I think your question would be better answered in the `#kubernetes-users` channel on Kubernetes Slack (https://slack.k8s.io).

Thank you! :slightly_smiling_face:

For now, I am closing this issue. Please feel free to reopen if you think otherwise.

/close

[2020-09-01 14:24] palnabarun commented on #1827
/remove-lifecycle stale

[2020-09-01 14:24] #1827 closed

[2020-09-01 14:24] palnabarun commented on #1789
/remove-lifecycle stale

[2020-09-01 14:25] palnabarun commented on #1783
/remove-lifecycle stale

[2020-09-01 14:26] palnabarun commented on #1780
/remove-lifecycle stale

[2020-09-01 14:26] palnabarun commented on #1779
/remove-lifecycle stale

[2020-09-01 14:27] palnabarun commented on #1779
@fengzixu Are you still working on this? If not, can I have a look at fixing this? :slightly_smiling_face:

[2020-09-01 14:28] palnabarun commented on #1775
/remove-lifecycle stale
/area enhancements

[2020-09-01 14:29] fengzixu commented on #1779
@palnabarun Yep. You can feel free to take it. Sorry for postponing this issue too late

[2020-09-01 14:29] palnabarun commented on #1775
@alculquicondor -- If #1776 is fixing this issue, can we close this? :slightly_smiling_face:

[2020-09-01 14:29] palnabarun commented on #1769
/remove-lifecycle stale

[2020-09-01 14:30] palnabarun commented on #1753
/remove-lifecycle stale

[2020-09-01 14:30] palnabarun commented on #1750
/remove-lifecycle stale

[2020-09-01 14:30] palnabarun commented on #1748
/remove-lifecycle stale

[2020-09-01 14:30] palnabarun commented on #1746
/remove-lifecycle stale

[2020-09-01 14:30] palnabarun commented on #1702
/remove-lifecycle stale

[2020-09-01 14:30] palnabarun commented on #1672
/remove-lifecycle stale

[2020-09-01 14:33] palnabarun commented on #1668
/remove-lifecycle stale

[2020-09-01 14:33] palnabarun commented on #1659
/remove-lifecycle stale

[2020-09-01 14:33] palnabarun commented on #1591
/remove-lifecycle stale

[2020-09-01 14:35] palnabarun commented on #1489
/remove-lifecycle stale

[2020-09-01 14:36] palnabarun commented on #1488
/remove-lifecycle stale

[2020-09-01 14:37] palnabarun commented on #1471
/remove-lifecycle stale
/close

(closing since this was typo fix and the linked PR was itself closed)

[2020-09-01 14:37] #1471 closed

[2020-09-01 14:37] alculquicondor commented on #1775
It solved the immediate problem that KEPs were unable to be merged. However, to prevent similar problems in the future, the proper solution would be to actually validate the template.

[2020-09-01 14:37] palnabarun commented on #1464
/remove-lifecycle stale

[2020-09-01 14:39] palnabarun commented on #1384
/remove-lifecycle stale

[2020-09-01 14:39] palnabarun commented on #1352
/remove-lifecycle stale

[2020-09-01 14:40] palnabarun commented on #1281
/remove-lifecycle stale

[2020-09-01 14:40] palnabarun commented on #1208
/remove-lifecycle stale

[2020-09-01 14:41] palnabarun commented on #1073
/remove-lifecycle stale

[2020-09-01 14:41] palnabarun commented on #1067
/remove-lifecycle stale

[2020-09-01 14:41] palnabarun commented on #1045
/remove-lifecycle stale

[2020-09-01 14:41] palnabarun commented on #1041
/remove-lifecycle stale

[2020-09-01 14:41] palnabarun commented on #991
/remove-lifecycle stale

[2020-09-01 14:42] palnabarun commented on #837
/remove-lifecycle stale

[2020-09-01 14:42] palnabarun commented on #784
/remove-lifecycle stale

[2020-09-01 14:42] palnabarun commented on #773
/remove-lifecycle stale

[2020-09-01 14:42] palnabarun commented on #757
/remove-lifecycle stale

[2020-09-01 14:43] palnabarun commented on #740
/remove-lifecycle stale

[2020-09-01 14:44] palnabarun commented on #688
/remove-lifecycle stale

[2020-09-01 14:44] palnabarun commented on #671
/remove-lifecycle stale

[2020-09-01 14:44] palnabarun commented on #668
/remove-lifecycle stale

[2020-09-01 14:44] palnabarun commented on #611
/remove-lifecycle stale

[2020-09-01 14:45] palnabarun commented on #606
/remove-lifecycle stale

[2020-09-01 14:45] palnabarun commented on #606
/milestone v1.20

[2020-09-01 14:45] palnabarun commented on #597
/remove-lifecycle stale

[2020-09-01 14:45] palnabarun commented on #585
/remove-lifecycle stale

[2020-09-01 14:45] palnabarun commented on #551
/remove-lifecycle stale

[2020-09-01 14:46] palnabarun commented on #495
/remove-lifecycle stale

[2020-09-01 14:46] palnabarun commented on #365
/remove-lifecycle stale

[2020-09-01 14:46] palnabarun commented on #117
/remove-lifecycle stale

[2020-09-01 14:46] palnabarun commented on #34
/remove-lifecycle stale

[2020-09-01 14:47] palnabarun commented on #1673
/remove-lifecycle rotten

[2020-09-01 14:47] palnabarun commented on #1593
/remove-lifecycle rotten

[2020-09-01 14:48] palnabarun commented on #993
/remove-lifecycle rotten

[2020-09-01 14:48] palnabarun commented on #993
/milestone v1.20

[2020-09-01 14:48] palnabarun commented on #619
/remove-lifecycle rotten

[2020-09-01 14:49] palnabarun commented on #600
/remove-lifecycle rotten

[2020-09-01 14:49] palnabarun commented on #85
/remove-lifecycle rotten

[2020-09-01 14:52] palnabarun commented on #1333
@liggitt -- Can you please mark the KEP as `implemented` so that we close this issue? :slightly_smiling_face:

[2020-09-01 14:55] liggitt commented on #1333
The KEP had additional phases added to it related to identifying optional GA APIs. That phase has not been implemented.

[2020-09-01 14:56] liggitt commented on #600
This feature was removed in 1.19.

[2020-09-01 14:56] #600 closed

[2020-09-01 14:56] palnabarun commented on #1779
@fengzixu -- No worries! :slightly_smiling_face: Thank you for the update.

/assign

[2020-09-02 00:32] mikebrow commented on #1846
options may need some tweaking .. socat was removed here https://github.com/containerd/cri/pull/1470 and https://github.com/containerd/cri/pull/1477

[2020-09-02 00:55] dm3ch opened #1963 "Support of adding additional log streams"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Support of adding additional log streams
- Kubernetes Enhancement Proposal:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y)
  - Stable release target (x.y)

_Please keep this descr

[2020-09-02 00:55] dm3ch commented on #1963
/sig apps

[2020-09-02 04:09] ianlewis commented on #1846
@mikebrow Yeah, I'm aware. We would need to bring them back or put that logic somewhere in an agent for each OCI runtime as runtimes like kata and gVisor remove the IP address from the veth in the Pod's netns. The goal of options 1a, 2, and 3 was to think of options that would be OCI runtime independent. 1b is to move the logic you pointed out into the shim so that it can be OCI runtime specific.

[2020-09-02 12:45] danwinship commented on #1846
So assuming I understand this, the underlying problem is that there are "high-level runtimes" (containerd, cri-o) which support multiple "low-level runtimes" (runc, gVisor, kata, etc), and some or all of the high-level runtimes are implementing the CRI `PortForward` API in a way that is not compatible with all of the low-level runtimes that they support?

In which case, 1a and 1b are basically "so

[2020-09-02 17:56] mikebrow commented on #1846
As with the removal of socat from the container runtimes.. the container runtimes are also leaning to removing the pause container.   Perhaps we could use an NRI plugin (1.c).  Should do a call with @crosbymichael and @mrunalp  to discuss 1.b and 1.c as possible routes.

[2020-09-02 18:04] roycaihw opened #1965 "kube-apiserver identity"
# Enhancement Description
- One-line enhancement description (can be used as a release note): In a HA cluster, each kube-apiserver has an ID. Controllers have access to the list of IDs for living kube-apiservers in the cluster.
- Kubernetes Enhancement Proposal:  https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1965-kube-apiserver-identity
- Primary contact (assignee):

[2020-09-02 21:05] aojea commented on #1846
can anybody describe the networking problem for a non-runtime person?
I can't understand why socat is a requirement and why current implementation can not handle other runtimes
https://github.com/containerd/cri/pull/1470

[2020-09-03 07:13] roycaihw commented on #1965
/sig api-machinery

[2020-09-03 07:15] ianlewis commented on #1846
@danwinship /cc @aojea Yes. "low level" runtimes that run the workload in a sandbox often remove the IP address from the veth because they handle the network stack themselves and only send raw packets. This means port-forwarding doesn't work for those runtimes because containerd or cri-o's implementations simply forward the port from inside the Pod's net namespace. No IP address, no port to forwar

[2020-09-03 16:36] derekwaynecarr opened #1967 "Support to size memory backed volumes"
# Enhancement Description
- Add support to size memory backed volumes
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1967-size-memory-backed-volumes
- Primary contact (assignee): @derekwaynecarr @kannon92
- Responsible SIGs: sig-node
- Enhancement target (which target equals to which milestone):
  - Alpha release target 1.20
  - Beta release

[2020-09-03 16:37] derekwaynecarr commented on #1967
/sig node

[2020-09-03 18:58] mikedanese commented on #279
This is done.

[2020-09-03 18:58] #279 closed

[2020-09-03 20:24] thockin opened #1970 "Test, please ignore"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
- Kubernetes Enhancement Proposal:
- Primary contact (assignee):
- Responsible SIGs:
- Enhancement target (which target equals to which milestone):
  - Alpha release target (x.y)
  - Beta release target (x.y)
  - Stable release target (x.y)

_Please keep this description up to date. This will help the Enh

[2020-09-03 20:32] #1970 closed

[2020-09-04 14:16] q42jaap commented on #753
The link in the description gives a 404

I'm curious what the actual link to the docs turned out to be...

[2020-09-04 14:24] Joseph-Irving commented on #753
yeah it was moved in https://github.com/kubernetes/enhancements/pull/1913, I've updated the link

[2020-09-04 14:35] cainelli commented on #753
@shaneqld for startup issues, the istio community came up with a [quite clever workaround](https://github.com/istio/istio/pull/24737) which basically injects envoy as the first container in the container list and adds a postStart hook that checks and wait for envoy to be ready. This is blocking and the other containers are not started making sure envoy is there and ready before starting the app co

[2020-09-06 15:35] krmayankk commented on #961
@kow3ns  @janetkuo @dims @liggitt  who should talk to get this on milestone 1.20 ?

[2020-09-07 06:03] cofyc commented on #1819
/lifecycle frozen

[2020-09-07 13:57] cofyc commented on #1845
/lifecycle fronzen

[2020-09-08 15:29] neolit123 commented on #1755
/remove-lifecycle stale

[2020-09-08 20:20] andrewsykim opened #1972 "Fixing Kubelet Exec Probe Timeouts"
# Enhancement Description
- One-line enhancement description (can be used as a release note):

Fix kubelet exec probe timeouts not being respected.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1972-kubelet-exec-probe-timeouts
- Primary contact (assignee):

@andrewsykim
@SergeyKanzhelev

- Responsible SIGs:

SIG Node

- Enhancement target

[2020-09-08 20:21] andrewsykim commented on #1972
/sig node

[2020-09-09 08:17] krmayankk commented on #213
@tallclair  added this https://github.com/kubernetes/enhancements/pull/1974 and https://github.com/kubernetes/kubernetes/pull/94641

[2020-09-10 07:24] palnabarun commented on #592
/remove-lifecycle stale

[2020-09-10 14:38] liggitt commented on #961
looks like @lavalamp is the API reviewer. the sig leads own milestone planning for component work

[2020-09-10 16:24] alejandrox1 commented on #1746
Following up on some chats and meetings from testing commons: we are moving with helping people build their own [customized] version of the e2e framework instead of supporting external use of the Kubernetes e2e framework.

/close

[2020-09-10 16:24] #1746 closed

[2020-09-10 18:24] deads2k commented on #1623
This was implemented in 1.19.

[2020-09-10 18:53] xing-yang opened #1977 "ContainerNotifier"
# Enhancement Description
- One-line enhancement description (can be used as a release note):
Add an inline pod definition for issuing commands or sending signals to containers and an API object to send a request to trigger those commands/signals.

- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/pull/1995

- Primary contact (assignee):
@xing-yang
@yuxiangqian

- Respo

[2020-09-10 18:55] xing-yang commented on #1977
/sig node

[2020-09-10 18:55] xing-yang commented on #1977
/sig storage

[2020-09-10 18:56] xing-yang commented on #1977
/wg data-protection

[2020-09-10 23:06] wlan0 opened #1979 "Object Storage Support (COSI)"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Natively support object storage in Kubernetes alongside file and block storage
- Kubernetes Enhancement Proposal: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1979-object-storage-support
- Primary contact (assignee): @wlan0
- Responsible SIGs: sig-storage
- Enhancement target (w

[2020-09-10 23:07] wlan0 commented on #1979
/sig storage

[2020-09-10 23:08] wlan0 commented on #1979
/assign wlan0

[2020-09-10 23:09] wlan0 commented on #1979
/milestone 1.20

[2020-09-11 10:44] verb commented on #495
Looks like the PodShareProcessNamespace feature gate was removed in 1.19, anyway (#90096, @tedyu)

This feature is complete. 🎉

[2020-09-11 10:44] #495 closed

[2020-09-11 16:14] Sh4d1 commented on #1860
/remove-lifecycle stale

[2020-09-11 16:40] xing-yang commented on #177
We are planning to bring this feature to GA in 1.20.

[2020-09-11 16:50] xing-yang commented on #1979
I see there's already another issue opened here: https://github.com/kubernetes/enhancements/issues/1593
Can we close one of them?

[2020-09-11 16:57] ambguo opened #1981 "Support for Windows privileged containers"
# Enhancement Description
- One-line enhancement description (can be used as a release note): Windows privileged container support and host networking support.
- Kubernetes Enhancement Proposal: [1981-windows-privileged-containers](https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows/1981-windows-privileged-container-support)
- Primary contact (assignee): @marosset
- Responsible