[2018-07-30 22:50] justaugustus commented on #357
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #275
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #276
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #289
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #266
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #274
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #171
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #261
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #130
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #166
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #127
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #117
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 22:51] justaugustus commented on #121
This feature current has no milestone, so we'd like to check in and see if there are any plans for this in Kubernetes 1.12.

If so, please ensure that this issue is up-to-date with ALL of the following information:
- One-line feature description (can be used as a release note):
- Primary contact (assignee):
- Responsible SIGs:
- Design proposal link (community repo):
- Link to e2e and/or unit test

[2018-07-30 23:09] justaugustus commented on #356
Done. Thanks for the updates, @luxas!

[2018-07-30 23:15] msau42 commented on #121
Plan for 1.12 is to remain in beta.

[2018-07-30 23:15] msau42 commented on #490
Plan for 1.12 is to remain in beta.  There are some bugs that need to be fixed before going GA

[2018-07-30 23:37] justaugustus commented on #600
/kind feature
/stage alpha

[2018-07-30 23:37] justaugustus commented on #600
/assign @pbarker

[2018-07-30 23:55] justaugustus commented on #599
/assign yastij
/stage alpha

[2018-07-31 00:09] mayakacz commented on #460
Will this make it to Beta in 1.12?
From sig-auth on 7/11, it sounded like this was missing (1) a release shepherd and (2) feedback on implementation.
(1) Is anyone owning pushing this forward?
(2) We now have several implementations:
- Google Cloud KMS: https://github.com/GoogleCloudPlatform/k8s-cloudkms-plugin/
- Microsoft Azure Key Vault: https://github.com/Azure/kubernetes-kms
- AWS KMS: https:

[2018-07-31 00:30] justaugustus commented on #296
/kind feature
/stage stable

[2018-07-31 00:37] justaugustus commented on #296
Tracking as GA for 1.12

[2018-07-31 00:51] justaugustus commented on #11
Tracking as GA for 1.12
/kind feature

[2018-07-31 01:08] justaugustus commented on #566
@johnbelamaric / @cmluciano / @luxas / @thockin --
So this is a case where the "graduation" of the feature is actually flipping the bit for it to be the default DNS plugin.
As CoreDNS is already GA, what should we do here?
- Straight to GA?
- Set to Beta to soak for a release and then graduate to GA?
- Something else entirely?

/assign @johnbelamaric
/remove-stage alpha

[2018-07-31 01:36] justaugustus commented on #115
Thanks for the update! I've added this to the 1.12 tracking sheet.
/kind feature

[2018-07-31 01:49] justaugustus opened #601 "Add explanations for GitHub labels used in `k/features`"
/assign
/sig pm

[2018-07-31 01:57] k82cn commented on #166
/milestone next-milestone

[2018-07-31 02:27] justaugustus commented on #356
/kind feature

[2018-07-31 06:33] stp-ip commented on #566
As the point for switching the flip was mainly to separate GA of CoreDNS and the actual config switch it seems like moving to beta is another step, that might not be necessary especially considering it's already GA/beta in kubeadm.

Should go GA in v1.12 in my view fwiw.

[2018-07-31 06:42] stp-ip commented on #415
@luxas is there a final discussion around that decision you could link for context? thx

[2018-07-31 06:50] stp-ip commented on #565
/remove-stage beta
/stage alpha

[2018-07-31 09:10] jsafrane opened #603 "Pass Pod information in CSI calls"
# Feature Description
- One-line feature description (can be used as a release note): CSI driver may opt-in to receive information about Pod that requested a volume in NodePublish request.

- Primary contact (assignee): @jsafrane
- Responsible SIGs: @kubernetes/sig-storage-feature-requests @kubernetes/sig-node-feature-requests
- Design proposal link (community repo): https://github.com/kubernetes/

[2018-07-31 09:57] justaugustus commented on #603
Thanks @jsafrane! This has been added to the 1.12 tracking spreadsheet.

/assign @jsafrane
/stage alpha

[2018-07-31 10:15] MaciekPytel commented on #117
@DirectXMan12 Are the changes to API (adding metricselector to pods/object metrics, etc) still in scope for 1.12? If so this should probably be added to milestone.

@mwielgus Anything else that should be added here for 1.12?

[2018-07-31 10:16] justaugustus commented on #597
@saad-ali @gnufied @bsalamat @davidopp --

Today is Feature Freeze. Is this actually a duplicate? If so, let's get this closed and continue the convo on #554.
If not, can you confirm that all the information is up-to-date, so I can mark it as tracked for the 1.12 milestone?

[2018-07-31 10:31] justaugustus commented on #566
Just to clarify for passerbys...
Adding CoreDNS as a DNS plugin was tracked on #427. There is a process for moving features through stages (alpha --> beta --> stable), which again was tracked on #427.

This Feature issue is unique in the fact that here, we're not actually tracking the development state of the feature (as it's already been developed), but instead we're tracking the process of decid

[2018-07-31 10:32] jwierzbo commented on #365
Any plans to integrate this feature for extension-api-service (https://github.com/kubernetes/apiserver)?

[2018-07-31 11:02] justaugustus commented on #563
@leblancd --
Feature Freeze is today. Are you planning on graduating this to Beta in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:05] justaugustus commented on #554
@gnufied @saad-ali --
Feature Freeze is today. Are we planning on graduating this to Beta in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:07] justaugustus commented on #515
@soltysh @smarterclayton @juanvallejo --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:09] justaugustus commented on #365
@smarterclayton --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:10] justaugustus commented on #351
@erinboyd @screeley44 --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:11] justaugustus commented on #288
@luxas @timothysc @neolit123 --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:13] justaugustus commented on #178
@saad-ali --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:15] justaugustus commented on #43
@mikedanese @kubernetes/sig-auth-feature-requests @kubernetes/sig-auth-misc --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:17] justaugustus commented on #22
@tallclair @x13n @CaoShuFeng --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:19] justaugustus commented on #21
@mwielgus @kgrygiel @liggitt --
Feature Freeze is today. Are we planning on graduating this feature in Kubernetes 1.12?
If so, can you make sure everything is up-to-date, so I can include it on the 1.12 Feature tracking spreadsheet?

[2018-07-31 11:26] loburm commented on #22
@justaugustus yes this is in plans. PR is already in review:
https://github.com/kubernetes/kubernetes/pull/65891

[2018-07-31 12:37] chrisohaver commented on #566
How does this process relate to the KEP process?

The KEP for graduating CoreDNS to default DNS server, is here ...
https://github.com/kubernetes/community/blob/master/keps/sig-network/0012-20180518-coredns-default-proposal.md

[2018-07-31 12:39] #588 closed

[2018-07-31 13:04] feiskyer opened #604 "[Azure] Cross resource group nodes"
# Feature Description
- One-line feature description (can be used as a release note): Add support of cross resource group nodes.
- Primary contact (assignee): @feiskyer
- Responsible SIGs: sig-azure
- Design proposal link (community repo): https://github.com/kubernetes/community/pull/2479
- KEP: [20180809-cross-resource-group-nodes](https://github.com/kubernetes/enhancements/blob/master/keps/sig-c

[2018-07-31 13:04] feiskyer commented on #604
/sig azure
/sig storage
/milestone v1.12

[2018-07-31 13:05] feiskyer commented on #604
/kind feature
/stage alpha

[2018-07-31 13:36] kacole2 commented on #604
@feiskyer thank you. this has been added to the 1.12 Feature Tracking sheet. Please keep the post updated with links to PRs and design docs proposals.

[2018-07-31 14:37] leblancd commented on #563
Hi @justaugustus - Beta status will need to slip into Kubernetes 1.13. We are making (albeit slow) progress on the design KEP (https://github.com/kubernetes/community/pull/2254), and we're getting close to re-engaging with the CI test PR, but the Kubernetes 1.12 target was a bit too optimistic.

I'll update the description/summary above with the information you requested earlier. Thank you for you

[2018-07-31 16:10] cmluciano commented on #566
I agree that switching to default based on kubeadm results is great progress. Do we have any preliminary results from cloud-providers or other large deploys on stability.

It may be a "flipping in bit" in docs, but often features are not used in k8s until they reach beta stage.

[2018-07-31 16:18] bskiba commented on #21
@justaugustus
Reiterating on what @mwielgus said, this feature is more of an addon rather than a core Kubernetes feature. It is released independently. After consultation with sig-architecture we decided to go with keeping the API outside of Kubernetes as a CRD.

All the development is being done in the Kubernetes autoscaler repo: https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-a

[2018-07-31 16:46] cmluciano commented on #366
@caseydavenport @danwinship @thockin

We are nearing the year mark since we marked NP Egress/IPblock support as beta in 1.8. Can we target the bit-flip for GA status in 1.12 or do we still believe features are missing?

[2018-07-31 16:47] karthickrajamani commented on #21
@justaugustus on a separate note there is a proposal in play for live, in-place vertical scaling pertinent to this same issue #21 which does require changes to Kubernetes. We have a PR for the proposal waiting to be merged (https://github.com/kubernetes/community/pull/1719) and a working implementation of it. Because the PR for proposal has not yet been merged, I assume your query is not about the

[2018-07-31 17:27] justaugustus commented on #22
Thanks for the update!

/remove-stage beta
/stage stable

[2018-07-31 17:35] sjenning commented on #127
We are planning for this in 1.12.

[2018-07-31 18:26] gnufied commented on #554
Yeah we are targetting this feature to move to beta for 1.12

[2018-07-31 18:27] gnufied commented on #597
discussed offline with @saad-ali and the plan is to tackle this feature and related feature as separate. We will introduce capacity limits as alpha while moving volume limit to beta.

[2018-07-31 18:43] dashpole opened #606 "Support 3rd party device monitoring plugins"
# Feature Description

1. As a cluster admin, I want container-level metrics for devices provided by device plugins.
2. As a device vendor, I want to be able to provide device-specific metrics without contributing to core kubernetes.

- One-line feature description (can be used as a release note): Support 3rd party device monitoring plugins
- Primary contact (assignee): @ffromani
- Responsible SIG

[2018-07-31 19:10] kacole2 commented on #606
@dashpole this has been added to the 1.12 tracking sheet. Thank you

@justaugustus please add relevant tags to this issue

[2018-07-31 19:25] jiayingz opened #607 "New Resource API Proposal"
# Feature Description
- One-line feature description (can be used as a release note): A new resource API model to support non-native compute resources with rich set of resource properties.
- Primary contact (assignee): @vikaschoudhary16 @jiayingz
- Responsible SIGs: @kubernetes/sig-node-feature-requests @kubernetes/sig-scheduling-feature-requests
- Design proposal link (community repo): https://gi

[2018-07-31 19:26] soltysh commented on #515
@justaugustus I've updated the description, and moved the target stable from 1.12 to 1.13. We need to stabilize current API a bit more. And there are still some bits and nits that needs fixing. So that's what we'll focus on in 1.12.

[2018-07-31 19:34] bjhaid commented on #366
As a user I disagree with this, it matches what we have been doing prior to k8s and having this was necessary to move to k8s, preventing pods to talk to random pods in different namespaces is a requirement for us and we are required to enforce it more importantly for ingress

[2018-07-31 20:09] childsb commented on #351
@justaugustus we are planning on moving this from alpha to beta in 1.12, what are you asking to update?

[2018-07-31 20:38] justaugustus commented on #117
Thanks for the updates! I've added this to the tracking sheet for 1.12.

[2018-07-31 20:42] justaugustus commented on #351
@childsb -- just confirming. I hadn't heard anything regarding this since the 1.11 release cycle.
I've added it to the 1.12 tracking sheet. :)

[2018-07-31 20:55] justaugustus commented on #607
Added to the 1.12 tracking sheet.
/assign @vikaschoudhary16 @jiayingz

[2018-07-31 20:56] justaugustus commented on #515
Sounds good. Thanks for the update, @soltysh!

[2018-07-31 20:57] justaugustus commented on #515
/remove-stage beta
/stage stable

[2018-07-31 21:29] justaugustus commented on #606
@kacole2 all set!

[2018-07-31 21:36] justaugustus commented on #563
/remove-stage alpha
/stage beta

[2018-07-31 21:37] justaugustus commented on #563
No worries, @leblancd. Thanks for the update!

[2018-07-31 21:52] vishh commented on #607
Is this feature already confirmed to go alpha in v1.12 or is v1.12 just an estimate for now?

[2018-07-31 21:57] tallclair commented on #5
No updates planned for 1.12

[2018-07-31 22:01] krmayankk commented on #5
@tallclair  i might be able to get the RunAsGroup PSP knobs in 1.12

[2018-07-31 22:01] tallclair commented on #279
Still beta in 1.12, with some incremental improvements.

[2018-07-31 22:01] mikedanese commented on #542
This is going to beta in 1.12

[2018-07-31 22:04] mikedanese commented on #460
I'm tentatively adding beta to v1.12 milestone.

[2018-07-31 22:06] tallclair commented on #213
This didn't go to beta in 1.11. I'm marking it as targetting beta in 1.12.

[2018-07-31 22:07] jiayingz commented on #607
It is an estimate target.

[2018-07-31 22:08] tallclair commented on #5
Ack. This will still be in beta though.

[2018-07-31 22:08] mikedanese commented on #43
I'm ok with this going to GA as long as the certificates API remains beta.

[2018-07-31 22:13] mikedanese commented on #407
It's been a year since this was opened and this doesn't have a design doc yet. Let's close and reopen when we have a design and commitment of ownership from a SIG.

[2018-07-31 22:13] #407 closed

[2018-07-31 22:15] derekwaynecarr commented on #607
i think the target is a design that meets the community need, i think an implementation is a stretch goal.

[2018-07-31 22:17] ericchiang commented on #541
This feature was promoted to beta during 1.11 https://github.com/kubernetes/kubernetes/pull/64482

/stage beta

I'm not aware of plans for 1.12, though I'm also not actively contributing to Kubernetes. It'd probably be good if someone with a more vested interest in the exec plugin framework would like to volunteer to own this feature going forward.

cc @awly @nckturner @dbenhurly

[2018-07-31 22:26] dims commented on #460
@mayakacz we have someone looking into possibly adding a kms provider using OpenStack Barbican https://github.com/kubernetes/cloud-provider-openstack/issues/44

[2018-07-31 22:26] awly commented on #541
I volunteer as tribute! Unless anyone objects of course.

For 1.12 I don't think it's ready to go beyond Beta.

[2018-07-31 22:27] derekwaynecarr commented on #268
I am not sure if we want a separate feature issue to track, but we need to promote quota by priority to beta.  To ensure that this is understood, I am adding this back to the 1.12 milestone.

[2018-07-31 22:31] derekwaynecarr opened #608 "Efficient Node Heartbeats"
# Feature Description
- One-line feature description (can be used as a release note): Efficient Node Heartbeats
- Primary contact (assignee): @mtaufen
- Responsible SIGs: sig-node
- Design proposal link (community repo): https://github.com/kubernetes/community/blob/master/keps/sig-node/0009-node-heartbeat.md
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers

[2018-07-31 22:36] derekwaynecarr commented on #116
@PatrickLang is this an appropriate issue to track what was discussed in sig-node to propose GA for windows containers support?  i cant find a better one, so added to milestone with node label.

[2018-07-31 22:44] ericchiang commented on #541
Thanks for volunteering Andrew, that works for me!

/assign @awly
/unassign

[2018-08-01 00:10] saad-ali commented on #178
@justaugustus for 1.12 we are planning on keeping CSI in beta. Planning for GA in 1.13

[2018-08-01 01:07] kacole2 commented on #213
@tallclair this has been added to the 1.12 tracking sheet
@justaugustus please add the /tracked label

[2018-08-01 01:10] kacole2 commented on #552
@derekwaynecarr thanks. Does this need to be tracked? Are there plans to introduce this as an alpha feature in 1.12?

[2018-08-01 01:13] DirectXMan12 opened #609 "Cluster Autoscaler / Cluster API Integration"
# Feature Description
- One-line feature description (can be used as a release note): Convert the cluster autoscaler to make use of the cluster API for controlling node creation/deletion.
- Primary contact (assignee): @enxebre
- Responsible SIGs: SIG Autoscaling
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at le

[2018-08-01 01:14] kacole2 commented on #460
@mikedanese @dims I've added this to the 1.12 tracking sheet.
@justaugustus please assign the appropriate labels

[2018-08-01 01:16] kacole2 commented on #268
@derekwaynecarr isn't this feature already in beta? therefore it's not graduating. Looking for clarification to see if it's worth tracking because it's not new or graduating.

[2018-08-01 01:16] DirectXMan12 commented on #609
@kubernetes/sig-autoscaling-feature-requests it's not clear to me whether or not we need to precisely track this with the kubernetes release (cluster autoscaler doesn't always release at the exact same cadence as Kubernetes proper), but I wanted to get this filed just in case, and so that we can easily track it.

cc @derekwaynecarr

See also https://github.com/kubernetes/autoscaler/releases

I'm u

[2018-08-01 01:19] kacole2 commented on #608
@derekwaynecarr this has been added to the 1.12 feature tracking sheet.
@justaugustus please apply the appropriate labels

[2018-08-01 01:29] neolit123 commented on #288
@justaugustus we should wait on @luxas to comment on the estimate.
from my perspective `beta` seems OK given the `gcr.io` bucket nowadays has good arch support for the required images.

also, i would like to remind that while this is a sig-cluster-lifecycle initiative, it's really sig-release who should be owning this feature.
@kubernetes/sig-release-feature-requests

[2018-08-01 02:57] k82cn commented on #268
@derekwaynecarr , prefer to  track in a separate feature to control the scope of this item.

@kacole2 , derekwaynecarr@ is asking "quota by priority" feature, which is also a feature in priority/preemption umbrella.

[2018-08-01 03:00] kacole2 commented on #268
@k82cn thanks for the clarification. Lets get a new feature issue added to track it separately so it can be added before feature freeze ends tonight.

[2018-08-01 09:48] MaciekPytel commented on #607
Can we add a reviewer from sig-autoscaling? This will have a large impact on cluster autoscaling.

[2018-08-01 10:25] navjotsingh83 commented on #563
Hi, @justaugustus @leblancd

I just read the update that the beta is moved to 1.13 for dual stack. What is the expected release date of 1.13? We are actually looking for dual stack support. Its a go-nogo decision for our product to move to containers.

[2018-08-01 11:24] MaciekPytel commented on #609
Actually, Cluster Autoscaler minor releases match Kubernetes releases 1-1. Cluster Autoscaler 1.4 will go out with k8s 1.12, 1.5 with 1.13, etc.

From Cluster Autoscaler side the approver should probably be @mwielgus and reviewers @mwielgus and me.

We probably need an approver/reviewer from Cluster API side as well. As discussed on the sig meeting integration with CA would require changes to Clus

[2018-08-01 12:17] vikaschoudhary16 commented on #595
@saad-ali design proposal PR (migration from original google doc): https://github.com/kubernetes/community/pull/2369

[2018-08-01 13:27] liggitt commented on #43
Can a GA feature depend on a beta API? What does that mean, support-wise?

[2018-08-01 15:17] cmluciano commented on #366
/milestone v1.12
/stage ga

[2018-08-01 15:40] stp-ip commented on #608
/stage alpha

[2018-08-01 16:34] mtaufen commented on #608
We already have a feature for this, see #589.

On Wed, Aug 1, 2018, 8:40 AM Michael Grosser <notifications@github.com>
wrote:

[2018-08-01 16:40] kacole2 commented on #608
thanks @mtaufen. I've removed this from the tracking sheet.

[2018-08-01 16:55] dashpole commented on #606
Agreed, that makes more sense

[2018-08-01 17:03] spiffxp commented on #19
any update on plans to bring this to stable? I'm assuming based on lack of milestone this isn't going to happen for 1.12?

[2018-08-01 17:13] spiffxp commented on #85
/assign

[2018-08-01 17:14] spiffxp commented on #85
/reopen
@kubernetes/sig-apps-feature-requests
When (if at all) is this going stable?

[2018-08-01 17:14] spiffxp commented on #85
/unassign

[2018-08-01 21:57] leblancd commented on #563
@navjotsingh83 - I don't think the release date for Kubernetes 1.13 has been solidified. I don't see 1.13 listed in the [Kubernetes releases documentation](https://github.com/kubernetes/sig-release/tree/master/releases).

[2018-08-01 22:45] PatrickLang commented on #116
@derekwaynecarr Sure, this works for me.

@michmike can you update the issue to link to https://docs.google.com/document/d/1YkLZIYYLMQhxdI2esN5PuTkhQHhO0joNvnbHpW68yg8/edit as the proposed graduation criteria?

[2018-08-01 23:07] michmike commented on #116
@PatrickLang  done!

[2018-08-02 01:53] kacole2 commented on #116
@justaugustus is this going to require an exception to be put on the 1.12 tracking since we are past feature freeze and this is not on the sheet? The proposed graduation doc suggests 1.12 for GA/Stable

[2018-08-02 09:12] navjotsingh83 commented on #508
Hi @leblancd

Is there a plan to make IPv6 support beta in K8s 1.12? If you remember, I had asked about dual-stack support status in https://github.com/kubernetes/features/issues/563. As the dual stack still has more work to done, I am trying to figure out if we can only live with IPv6 support as of now, but its still in alpha, so in case you can share a tentative date on when IPv6 can become beta

[2018-08-02 16:34] timothysc commented on #415
@stp-ip The decision was made during over the course of several SIG calls.  The complexity it adds to the kubeadm is non-trivial, and it's possible todo this outside of kubeadm today.  Some point in the future we(sig-cluster-lifecycle) may provide a pivot utility tool that helps folks transition from static manifest to self-hosted, but that remains TBD.

[2018-08-03 23:35] justaugustus commented on #608
/close

[2018-08-03 23:35] #608 closed

[2018-08-04 00:07] justaugustus commented on #597
Thanks for the update. I've added this to the 1.12 tracking sheet.

/stage alpha
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 01:18] justaugustus commented on #554
Thanks for the update. I've added this to the 1.12 tracking sheet.

cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 01:25] justaugustus commented on #542
Thanks for the update. I've added this to the 1.12 tracking sheet.

cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 01:31] justaugustus commented on #460
Done.
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 01:32] justaugustus commented on #460
/assign @jcbsmpsn

[2018-08-04 02:04] justaugustus commented on #213
Done.
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 02:14] justaugustus commented on #116
Thanks for the update. I've added this to the 1.12 tracking sheet.

/remove-stage beta
/stage stable
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 06:04] justaugustus commented on #541
@ericchiang -- Thanks for checking in!
@awly -- Thanks for volunteering to pick this up! :)

[2018-08-04 06:44] justaugustus commented on #609
Thanks for the update. I've added this to the 1.12 tracking sheet.

/assign @enxebre @DirectXMan12
/stage alpha
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 06:55] justaugustus commented on #366
Thanks for the update. I've added this to the 1.12 tracking sheet.

cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 06:57] justaugustus commented on #579
/remove-stage beta
/stage alpha

[2018-08-04 06:59] justaugustus commented on #19
@soltysh ^^

[2018-08-04 14:05] justaugustus commented on #566
@johnbelamaric @cmluciano -- we still need to make a call on this. I'm tentatively setting this to GA on the sheet, but let me know if you feel differently.

/stage stable
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 14:30] justaugustus commented on #43
I've added this to the 1.12 sheet as stable, but let me know if we need to walk that back.
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 14:41] justaugustus commented on #21
I've added this to the 1.12 sheet.

@karthickrajamani -- please open a separate Features tracking issue for https://github.com/kubernetes/community/pull/1719 when you have a chance.

/remove-stage alpha
cc: @kacole2 @wadadli @robertsandoval @rajendar38

[2018-08-04 17:58] luxas commented on #43
Why not graduate the as-is API to GA and do a v2 in case we need additional features or whatever?

[2018-08-06 02:48] feiskyer commented on #604
Community PR created https://github.com/kubernetes/community/pull/2479

[2018-08-06 10:55] #601 closed

[2018-08-06 11:48] rtheis commented on #366
@danwinship can you please expand on the problems with ipBlock-based ingress?  If source IP is maintained to the pod from outside the cluster, wouldn't that give a reasonable use case for keeping the support?  We often use Calico host-based policies for ipBlock-based ingress, but it seems that Kubernetes policies could work as well.

[2018-08-06 14:52] chrisohaver commented on #566
The [KEP](https://github.com/kubernetes/community/blob/master/keps/sig-network/0012-20180518-coredns-default-proposal.md) lists the following criteria for graduating coredns to "default"...

The first is, I believe, satisfied.
For the second, we (CoreDNS team + CNCF) are conducting a survey of k8s+coredns users to gauge coredns adoption in large clusters. Just pushed it out recently. We do not hav

[2018-08-06 15:06] fturib commented on #566
@justaugustus : I try to push an email on this subject with Tim, John, I will add @cmluciano .. but I cannot find any email for yourself. Can your provide one ? Thanks !

[2018-08-06 15:07] fturib commented on #566
for info, the survey for feedback on CoreDNS adoption is available here : https://www.surveymonkey.com/r/SKZQSLK

[2018-08-06 18:47] johnbelamaric commented on #566
Going GA with this feature means deprecating kube-dns, I think we need to wait until 1.13 at the earliest for this, to gather enough data.

[2018-08-07 02:29] NickrenREN commented on #568
Sorry for the late reply @justaugustus .
We plan to add this to kubernetes-incubator/external-storage repo at first, so this is mostly out of tree, not tight to kubernetes release.

/stage alpha

[2018-08-07 19:46] leblancd commented on #508
Hi @navjotsingh83 - IPv6-only support should be Beta in K8s 1.13. What's missing for the IPv6-only feature to be considered Beta is Kubernetes IPv6-only CI, and this is in the works. Here is the initial proposal for a K8s CI (using a virtualized multinode cluster in a GCE environment): https://github.com/kubernetes/test-infra/pull/7529. This CI proposal has traction, but I was requested by the tes

[2018-08-08 11:33] justaugustus commented on #568
@NickrenREN -- thanks for the note! Can you update the timeline on the feature description?

[2018-08-08 21:56] verult commented on #497
AFAIK there are no plans for this in 1.12. Unfortunately I don't have edit access to the Feature Description up top

[2018-08-09 01:31] NickrenREN commented on #568
@justaugustus sure, updated

[2018-08-10 02:32] justaugustus commented on #497
Thanks for the update, @verult! I've edited the description.

[2018-08-10 03:56] liggitt commented on #43
We discussed this in the sig-auth meeting on 8/8, and agreed the bootstrap feature can be promoted to stable, but not the CSR API yet. That means the externally-facing portions of the bootstrap mechanism (bootstrap kubeconfig, etc) will continue to be supported.

[2018-08-10 14:02] justaugustus commented on #19
@spiffxp -- I spoke with @soltysh earlier. Nothing planned for 1.12.

[2018-08-10 14:08] justaugustus commented on #268
Sounds like there's a need for a separate tracking feature to allay some confusion.

@k82cn or @derekwaynecarr -- can you open a separate feature for Quota by Priority and ping me when it's updated?

[2018-08-10 14:09] justaugustus commented on #288
@luxas -- have you had a chance to review this?

[2018-08-10 14:15] vielmetti commented on #288
Are you certain that @luxas is the only reviewer for this?

[2018-08-10 14:48] justaugustus commented on #288
/assign @tpepper @timothysc @dims
Please update here when you have a chance.

[2018-08-10 14:52] justaugustus commented on #365
Slack update:
[code]

Removed from the 1.12 milestone.

[2018-08-10 14:55] dims commented on #288
Majority of the work in building multi-arch images for e2e test images is in, the last item is this:
https://github.com/kubernetes/kubernetes/pull/66984

Once we get this in in kubernetes/release:
https://github.com/kubernetes/release/pull/516

We can switch things on in kubeadm:
https://github.com/kubernetes/kubernetes/pull/66960

[2018-08-11 10:41] vikaschoudhary16 commented on #587
@justaugustus It has graduated to beta and not introduced as beta. Should this issue be close?

[2018-08-13 10:38] danwinship commented on #366
@rtheis yes, *if the source IP is maintained* then the network plugin can implement ipBlock-based ingress, but some cluster-ingress mechanisms aren't able to maintain the source IP, and the network plugin generally has no control over the behavior of the cluster ingress mechanisms anyway (and there are multiple different cluster ingress mechanisms that work in completely different ways, and people

[2018-08-13 11:17] adampl commented on #551
@yastij  Can this also work with Bare Metal nodes? I mean, if I tainted a node manually (or by external software) with `nodeShutdown`, would the volumes be automatically detached?

[2018-08-14 01:12] justaugustus commented on #583
@k82cn -- would you mind updating this issue to include a one-line description of what exactly "gang scheduling" is? Detail is included in the KEP, but this is not easy to glean from the perspective of a casual passerby.

[2018-08-14 01:17] justaugustus commented on #552
@yujuhong @derekwaynecarr -- just to clarify, will this feature be graduating to Beta in 1.12 or is it already Beta? Also, can you update the feature targets in the issue description?

[2018-08-14 18:25] rtheis commented on #366
@danwinship thank you.  I agree, there are plenty of challenges with ipBlock-based ingress.

[2018-08-14 23:12] php-coder commented on #5
/unassign

[2018-08-14 23:14] justaugustus commented on #5
/assign @tallclair

[2018-08-15 00:45] justaugustus commented on #606
/assign @dashpole

[2018-08-15 06:18] dixudx commented on #566
Agree.

[2018-08-15 07:18] krmayankk opened #611 "Consider IP Address Availability on a given Node when considering a Node for Pod scheduling"
# Feature Description
- One-line feature description (can be used as a release note):  Consider IP Address Availability on a given node when considering a Node for Pod Scheduling.
- Primary contact (assignee): @krmayankk
- Responsible SIGs: @kubernetes/sig-scheduling-misc
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ review

[2018-08-15 13:48] tnozicka commented on #592
Happy to review as well and help fill in the diversity requirement here.

[2018-08-15 13:52] chrisohaver commented on #566
I was thinking that first CoreDNS would become default, then in a following release, kube-dns would become officially deprecated.   Kube-dns deprecation schedule is not covered in the KEP, or this feature.  I think it's acceptable to have two supported GA DNS solutions during transition time (as we have now in k8s 1.11).

[2018-08-15 17:27] kacole2 commented on #589
thanks for the update @mtaufen this has been removed from the 1.12 tracking sheet and added to the tab `Removed from Milestone`.

cc @justaugustus

[2018-08-15 18:40] justaugustus commented on #589
@mtaufen -- thanks for being proactive about updating us!
@kacole2 -- thanks for getting the sheet updated

/unassign @mtaufen
/assign @wangzhen127

[2018-08-15 20:31] bsalamat commented on #611
Thanks, @krmayankk. My knowledge about IP management in K8s is not strong at all. I have several questions that may help hash out the details:

1. Is the number of IPs fixed on a node or it could be changed dynamically?
1. Should we consider each Pod needs one IP or this is not a valid assumption (SIG network)?
1. Is an IP considered released as soon as a Pod terminates?

[2018-08-16 16:16] janetkuo commented on #592
Thanks @tnozicka! Added you as reviewer

[2018-08-16 17:50] janetkuo commented on #592
Updated link to KEP as well

[2018-08-17 19:02] caseydavenport commented on #611
I can answer those!

The number of IPs on a node can be changed dynamically. It's ultimately up to each network plugin how it performs IP assignment, so this can vary a lot.

We can't assume this either - IPv6, as well as other looming developments will leave us in a situation where multiple IP addresses per pod is possible.

Again this is up to the individual network implementation - Kubernetes d

[2018-08-20 03:56] justaugustus commented on #611
Is there active work already happening for this?
It sounds like there are multiple design decisions to consider, which should be hashed out following the [KEP process](https://github.com/kubernetes/community/blob/master/keps/README.md).

Pinging @kubernetes/sig-scheduling-feature-requests & @kubernetes/sig-network-feature-requests for feedback.

/kind feature
/assign @krmayankk

[2018-08-20 03:57] justaugustus commented on #611
/stage alpha

[2018-08-20 04:26] justaugustus commented on #587
@vikaschoudhary16 -- if the resource quota API is officially graduating to Beta in 1.12, then everything looks fine on this feature issue.

[2018-08-20 04:41] justaugustus commented on #497
/remove-lifecycle stale

[2018-08-20 19:55] zparnold commented on #568
Hey there! @NickrenREN I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks!

[2018-08-20 20:04] msau42 commented on #568
This feature is being developed outside of Kubernetes and I'm not sure if we would need to modify Kubernetes documentation for this

[2018-08-20 20:06] zparnold commented on #568
Ok. 😄 Thanks!

[2018-08-20 20:28] zparnold commented on #21
Hey there! @MikeSpreitzer I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features

[2018-08-20 20:28] zparnold commented on #22
Hey there! @roberthbailey I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features

[2018-08-20 20:28] zparnold commented on #115
Hey there! @justinsb I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #116
Hey there! @michmike I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #117
Hey there! @DirectXMan12 I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features t

[2018-08-20 20:28] zparnold commented on #213
Hey there! @krmayankk I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trac

[2018-08-20 20:28] zparnold commented on #267
Hey there! @jcbsmpsn I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #277
Hey there! @verb I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracking

[2018-08-20 20:28] zparnold commented on #296
Hey there! @lukemarsden I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tr

[2018-08-20 20:28] zparnold commented on #366
Hey there! @cmluciano I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trac

[2018-08-20 20:28] zparnold commented on #382
Hey there! @k82cn I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracking

[2018-08-20 20:28] zparnold commented on #460
Hey there! @jcbsmpsn I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #495
Hey there! @verb I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracking

[2018-08-20 20:28] zparnold commented on #513
Hey there! @feiskyer I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #542
Hey there! @mikedanese I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tra

[2018-08-20 20:28] zparnold commented on #548
Hey there! @k82cn I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracking

[2018-08-20 20:28] zparnold commented on #554
Hey there! @gnufied I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracki

[2018-08-20 20:28] zparnold commented on #556
Hey there! @gnufied I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracki

[2018-08-20 20:28] zparnold commented on #566
Hey there! @justaugustus I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features t

[2018-08-20 20:28] zparnold commented on #567
Hey there! @msau42 I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trackin

[2018-08-20 20:28] zparnold commented on #576
Hey there! @apelisse I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #579
Hey there! @juanvallejo I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tr

[2018-08-20 20:28] zparnold commented on #581
Hey there! @juanvallejo I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tr

[2018-08-20 20:28] zparnold commented on #586
Hey there! @feiskyer I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #587
Hey there! @vikaschoudhary16 I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the featur

[2018-08-20 20:28] zparnold commented on #591
Hey there! @jbartosik I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trac

[2018-08-20 20:28] zparnold commented on #592
Hey there! @janetkuo I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #594
Hey there! @saad-ali I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #595
Hey there! @saad-ali I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #596
Hey there! @saad-ali I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #598
Hey there! @deads2k I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracki

[2018-08-20 20:28] zparnold commented on #599
Hey there! @yastij I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trackin

[2018-08-20 20:28] zparnold commented on #600
Hey there! @pbarker I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracki

[2018-08-20 20:28] zparnold commented on #603
Hey there! @jsafrane I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #604
Hey there! @feiskyer I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:28] zparnold commented on #609
Hey there! @DirectXMan12 I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features t

[2018-08-20 20:30] zparnold commented on #268
Hey there! @davidopp  I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trac

[2018-08-20 20:30] Huang-Wei commented on #382
@zparnold here is the one kubernetes/website#9626

[2018-08-20 20:30] zparnold commented on #552
Hey there! @yujuhong I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:32] zparnold commented on #606
Hey there! @dashpole I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 20:32] zparnold commented on #127
Hey there! @derekwaynecarr I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features

[2018-08-20 20:32] jbartosik commented on #591
@zparnold Sure. I can open a PR this week. I'm on vacation for two week after that so I'd like to know:
- By when would you like me to open the PR (is this week ok)?
- By when would you like to have the PR merged (if it's sooner than in 3 weeks I will have to ask a coworker to take care of the PR)?

[2018-08-20 20:45] pbarker commented on #600
@zparnold will do 👍 to be clear, do I write the docs there or is that something the docs folks do?

[2018-08-20 20:48] yujuhong commented on #552
This doesn't need to be tracked by an umbrella issue anymore.

[2018-08-20 20:49] zparnold commented on #591
I believe the docs deadline is 2 weeks out (the signed, sealed, delivered
date) so it would be awesome to have it by then.

Take care,
Zach

On Mon, Aug 20, 2018 at 1:32 PM Joachim <notifications@github.com> wrote:

[2018-08-20 20:56] msau42 commented on #558
Doc placeholder: https://github.com/kubernetes/website/pull/9939

[2018-08-20 20:56] msau42 commented on #561
Doc placeholder: https://github.com/kubernetes/website/pull/9939

[2018-08-20 20:56] msau42 commented on #567
Doc placeholder: https://github.com/kubernetes/website/pull/9939

[2018-08-20 20:57] msau42 commented on #586
Doc placeholder for only the topology-aware dynamic provisioning part: https://github.com/kubernetes/website/pull/9939

[2018-08-20 20:58] jbartosik commented on #591
@zparnold since you'd like the doc PR submitted when I'm away (09-03) I'll ask my coworker to take care of it if needed.

[2018-08-20 21:17] zparnold commented on #11
Hey there! @jbeda  I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trackin

[2018-08-20 21:18] zparnold commented on #600
You'll be writing the docs, and we'll be making sure that it matches our style and clarity. (Mostly because we may not understand the feature as well as you do at present.) If you need help, please just let me or  @jimangel know

[2018-08-20 21:18] zparnold commented on #356
Hey there! @luxas  I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trackin

[2018-08-20 21:19] zparnold commented on #423
Hey there! @tamalsaha I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trac

[2018-08-20 21:19] zparnold commented on #597
Hey there! @saad-ali I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:19] zparnold commented on #177
Hey there! @jingxu97 I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:19] zparnold commented on #304
Hey there! @xingzhou I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:20] zparnold commented on #432
Hey there! @saad-ali I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:20] zparnold commented on #567
Thanks!

[2018-08-20 21:20] zparnold commented on #593
Hey there! @bsalamat I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:20] zparnold commented on #531
Hey there! @mlmhl I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracking

[2018-08-20 21:22] zparnold commented on #591
Ok, thank you so much for your prompt reply!

[2018-08-20 21:22] zparnold commented on #583
Hey there! @k82cn I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracking

[2018-08-20 21:22] zparnold commented on #514
Hey there! @feiskyer I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:22] zparnold commented on #547
Hey there! @feiskyer I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:22] zparnold commented on #585
Hey there! @tallclair I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trac

[2018-08-20 21:23] zparnold commented on #578
Hey there! @juanvallejo I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tr

[2018-08-20 21:24] zparnold commented on #288
Hey there! @luxas I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracking

[2018-08-20 21:24] zparnold commented on #575
Hey there! @nikhita I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracki

[2018-08-20 21:24] zparnold commented on #43
Hey there! @philips I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tracki

[2018-08-20 21:26] philips commented on #43
Zach- I filed the feature initially but other folks took over the work. So,
I won't be able to help with the docs. Sorry.

On Mon, Aug 20, 2018 at 2:25 PM Zach Arnold <notifications@github.com>
wrote:

[2018-08-20 21:27] zparnold commented on #351
Hey there! @erinboyd I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:27] zparnold commented on #562
Hey there! @lichuqiang I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features tra

[2018-08-20 21:27] zparnold commented on #557
Hey there! @verult I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trackin

[2018-08-20 21:27] zparnold commented on #558
Thanks!

[2018-08-20 21:27] sandaymin123 commented on #304
@brahmaroutu  ^^^

[2018-08-20 21:27] zparnold commented on #555
Hey there! @apelisse I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features track

[2018-08-20 21:27] zparnold commented on #551
Hey there! @yastij I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the release-1.12 branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks! If this feature does not require docs, could you please update the features trackin

[2018-08-20 21:30] brahmaroutu commented on #304
@zparnold I believe we need to add some text that resize if now supported. I will open a PR and link it here.

[2018-08-20 21:33] zparnold commented on #382
Thank you!

On Mon, Aug 20, 2018 at 1:30 PM Wei Huang <notifications@github.com> wrote:

[2018-08-20 21:35] zparnold commented on #567
Thanks!

On Mon, Aug 20, 2018 at 1:57 PM Michelle Au <notifications@github.com>
wrote:

[2018-08-20 21:36] zparnold commented on #43
Ok, thanks for letting me know. Whom shall I ask for this data then in your
opinion?

On Mon, Aug 20, 2018 at 2:26 PM Brandon Philips <notifications@github.com>
wrote:

[2018-08-20 21:36] zparnold commented on #304
Thank you!

On Mon, Aug 20, 2018 at 2:30 PM Srini Brahmaroutu <notifications@github.com>
wrote:

[2018-08-20 21:37] mikedanese commented on #43
@zparnold please use the assignee of the feature issue rather than the original creator (which is immutable) of the issue for this kind of stuff. I can do this.

[2018-08-20 21:43] roberthbailey commented on #22
@tallclair is the primary assignee; I just created the initial issue.

[2018-08-20 21:50] msau42 commented on #557
I will be adding some documentation here: kubernetes/website#9939.  We'll need to see what other additional documentation will be needed for the CSI integration.

[2018-08-20 21:58] zparnold commented on #43
Ok, thanks! Learning the ropes around here. :)

On Mon, Aug 20, 2018 at 2:37 PM Mike Danese <notifications@github.com>
wrote:

[2018-08-20 22:07] derekwaynecarr commented on #127
The PR is still under review from @vikaschoudhary16, but he should be able
to open a place holder document.

On Mon, Aug 20, 2018 at 4:32 PM Zach Arnold <notifications@github.com>
wrote:

[2018-08-20 22:13] tallclair commented on #22
@loburm @x13n @CaoShuFeng - Can one of you volunteer to own the v1.12 docs for this feature?

[2018-08-20 22:16] tallclair commented on #585
@zparnold what are the docs expectations for alpha features?

[2018-08-20 22:45] dashpole commented on #606
@zparnold here is the docs pr placeholder: https://github.com/kubernetes/website/pull/9945

[2018-08-20 23:39] vishh commented on #583
Given that this feature is planned on being implemented out of tree - as
part of kube-arbitrator repo, should this be tracked as part of a k8s
release?

On Mon, Aug 20, 2018 at 2:22 PM Zach Arnold <notifications@github.com>
wrote:

[2018-08-20 23:44] liggitt commented on #583
The design for this is wanting to add a field to pod spec (though that has definitely not reached agreement). Anything wanting integration like that needs to be represented in the release planning.

[2018-08-21 00:39] justaugustus commented on #552
@yujuhong -- I'm unsure of why this feature was closed. The feature targets are incomplete and updates have not been provided, so it's unclear where we stand.

Per @derekwaynecarr's comment (https://github.com/kubernetes/features/issues/552#issuecomment-409387478):

Please provide more clarity before we decide whether or not this should be closed.

/reopen

[2018-08-21 00:58] justaugustus commented on #583
@k82cn / @vishh --
Would you mind updating the one-line description for the feature, per my earlier comment (https://github.com/kubernetes/features/issues/583#issuecomment-412719439):

[2018-08-21 01:07] justaugustus commented on #24
@tallclair @kubernetes/sig-node-feature-requests @kubernetes/sig-auth-feature-requests -- are there plans for AppArmor support?

/kind feature
/sig auth
/unassign @timstclair
/assign @tallclair

[2018-08-21 01:12] k82cn commented on #583
@justaugustus , @zparnold , sure, I'll update it today :)

[2018-08-21 01:17] tallclair commented on #24
No plans right now.

[2018-08-21 01:28] justaugustus commented on #85
@davidopp @mattfarina @prydonius @kow3ns @kubernetes/sig-apps-feature-requests --
Do we have an owner for Pod Disruption Budgets?

/unassign @erictune
/assign @mattfarina @prydonius @kow3ns

[2018-08-21 01:31] davidopp commented on #85
sig-apps owns it (see https://github.com/kubernetes/features/issues/85#issuecomment-299398708)

[2018-08-21 01:36] justaugustus commented on #85
Yep, saw that note, but since then it hasn't been updated in over a year and fell prey to fejta-bot.
Is there a new _human_ owner?

[2018-08-21 02:07] pbarker commented on #600
ok here is the starter issue https://github.com/kubernetes/website/pull/9947

[2018-08-21 02:36] xing-yang commented on #177
@zparnold Added a placeholder doc PR https://github.com/kubernetes/website/pull/9948

[2018-08-21 02:47] feiskyer commented on #604
@zparnold We will update docs in repo https://github.com/kubernetes/cloud-provider-azure. Should it also be placeholded?

[2018-08-21 06:09] tomkerkhove commented on #117
Would be great if we can include this one as well - https://github.com/kubernetes/kubernetes/pull/66988

[2018-08-21 06:11] Huang-Wei commented on #548
@zparnold kubernetes/website#9923 is the placeholder.

[2018-08-21 11:56] nikhita commented on #571
This feature is going to remain in beta for 1.12. Listing changes to this feature between 1.11 and 1.12 so that it's easier to track for anyone following along (will update this list if anything else comes up):

- https://github.com/kubernetes/kubernetes/pull/65357: More fields are allowed at the root of the CRD OpenAPI schema now (when status is enabled). https://github.com/kubernetes/website/pul

[2018-08-21 13:52] k82cn commented on #583
Updated description for gang-scheduling; and here's the placeholder of doc https://github.com/kubernetes/website/pull/9981 :)

[2018-08-21 14:34] verb commented on #277
Hi @zparnold, I don't have permission to update the spreadsheet, but I added a comment. We won't need docs for this release as all we're planning is an API update.

[2018-08-21 14:47] verb commented on #495
@zparnold np, opened kubernetes/website#9996

[2018-08-21 15:20] juanvallejo commented on #579
@zparnold Sure, will open PR updating cli docs against 1.12

[2018-08-21 17:54] DirectXMan12 commented on #117
@zparnold already did that quite some time ago: https://github.com/kubernetes/website/pull/8757

[2018-08-21 17:54] DirectXMan12 commented on #117
just need to rebase it ;-)

[2018-08-21 17:56] DirectXMan12 commented on #591
I already have a PR that partially includes these changes at https://github.com/kubernetes/website/pull/9780.  Please make sure to take that into account when writing docs.

[2018-08-21 17:56] DirectXMan12 commented on #609
@enxebre is the right person to ask, as the primary contact

[2018-08-21 19:30] justaugustus commented on #583
Thanks @k82cn! :)

[2018-08-21 19:43] apelisse commented on #555
@zparnold Changed the milestone from 1.12 to 1.13 :-). You can forget about this for now, thanks.

[2018-08-21 19:50] lavalamp commented on #555
It'll be alpha, it would be good to document. Jenny said she'd try and put
something together.

On Tue, Aug 21, 2018 at 12:44 PM Antoine Pelisse <notifications@github.com>
wrote:

[2018-08-21 19:58] lavalamp commented on #555
Sorry, I saw this in my email and mistook it for the dry run feature issue. Yes, serverside apply is not launching in 1.12.

[2018-08-21 20:07] yastij commented on #599
docs at kubernetes/website#10029

[2018-08-21 20:19] brahmaroutu commented on #304
PR #67666

[2018-08-22 01:25] aniket-s-kulkarni commented on #304
@brahmaroutu thanks. We would need more than that - we'd need an example of how to support expand for flex. I will update the PR

[2018-08-22 01:44] mlmhl commented on #531
Hey @zparnold , thanks for reminding! @gnufied has already submitted the [doc PR](https://github.com/kubernetes/website/pull/8896) of this feature in 1.11, and we intend to move it to beta in 1.12. So what I need to do is opening up a doc PR against the release-1.12 branch to update the feature state?

[2018-08-22 02:49] justaugustus opened #612 "Quota by Priority"
# Feature Description
- One-line feature description (can be used as a release note):
- Primary contact (assignee): @bsalamat
- Responsible SIGs: @kubernetes/sig-scheduling-feature-requests, @kubernetes/sig-node-feature-requests
- Design proposal link (community repo):
- Link to e2e and/or unit tests:
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS file

[2018-08-22 03:13] CaoShuFeng commented on #22
I found that these two pull requests need document:
https://github.com/kubernetes/kubernetes/pull/65862
https://github.com/kubernetes/kubernetes/pull/65763
I will update [the document](https://github.com/kubernetes/website/pull/9953) once they get merged.

The dynamic  audit documentation is here: https://github.com/kubernetes/website/pull/9947

[2018-08-22 12:06] stlaz commented on #135
@tallclair I can try to pick this up now if still desirable

[2018-08-22 14:05] wangzhen127 commented on #135
@stlaz, this feature is still desired. I have spent some time adding seccomp profiles to addons as the first steps of [#39845](https://github.com/kubernetes/kubernetes/issues/39845). But I haven't got enough time to push the feature. It would be nice if you like working on this. Any help is welcome! :)

[2018-08-22 19:00] bsalamat commented on #593
@zparnold Here is the PR for the doc :point_up_2:

[2018-08-23 00:26] msau42 commented on #558
@justaugustus this was mistakenly marked as alpha.  It should be beta, as this is part of the larger topology feature, which is moving to beta.  #561

[2018-08-23 01:03] tamalsaha commented on #423
@zparnold, I am not working on implementing this feature. I think it will be more appropriate for folks implementing this feature to open the docs pr.

[2018-08-23 13:58] cbluth commented on #559
I have enabled the feature gate `VolumeSubpathEnvExpansion`, are there usage examples?
@kevtaylor

[2018-08-23 14:04] kevtaylor commented on #559
https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath-with-expanded-environment-variables

[2018-08-23 14:07] kacole2 commented on #555
@lavalamp @apelisse I'll make the changes in the spreadsheet. thanks for making us aware! cc @justaugustus

[2018-08-23 22:15] janetkuo commented on #592
@zparnold I've opened the docs PR: https://github.com/kubernetes/website/pull/10064; it's still WIP

[2018-08-24 08:07] krmayankk commented on #213
@tallclair why has this moved to 1.13 ? The code freeze date is Sept 4.

[2018-08-24 08:15] krmayankk commented on #213
@zparnold  sorry i was on on vacation. can you point me to instructions on how to do this

[2018-08-24 08:42] krmayankk commented on #213
@zparnold i created this PR https://github.com/kubernetes/website/pull/10076, let me know if this is in the right direction

[2018-08-24 17:36] tallclair commented on #213
It's still in alpha, and I don't see us promoting it to beta next week. We can still discuss getting your open PRs in, but I think we should keep it alpha for 1.12.

[2018-08-24 18:09] Kymb3rl33 commented on #213
I don't understand this my account was used by ex he changed some stuff to
get access not really sure

On Fri, Aug 24, 2018, 1:36 PM Tim Allclair (St. Clair) <
notifications@github.com> wrote:

[2018-08-24 18:33] johnbelamaric commented on #611
This also may not be just per node. For example you might assign subnets by rack. Then any pod getting scheduled on a node in that rack needs an IP from that subnet. This is more a topology scheduling issue somewhat similar to #561 for storage. We should coordinate to make sure that the APIs are as similar as possible.

[2018-08-24 18:34] alecmerdler commented on #365
Are there any plans to add pagination support to custom resources?

[2018-08-25 13:53] liggitt commented on #365
Yes. It was an oversight they weren't enabled already. Opened https://github.com/kubernetes/kubernetes/pull/67861 to enable them

[2018-08-25 18:55] zparnold commented on #127
Thanks! @vikaschoudhary16 let me know when the PR is up please. 😄

[2018-08-25 18:57] zparnold commented on #585
Hey @tallclair I think in order to get usage out of the feature it's best to document it in the same way it would be a beta/GA feature. Then if people file issues against it we can improve the feature/docs. What do you think?

[2018-08-25 19:08] zparnold commented on #595
Sounds perfect! Thanks! I'll mark that in the feature tracking spreadsheet

[2018-08-25 19:11] zparnold commented on #43
@mikedanese Will you be able to handle docs?

[2018-08-25 19:13] zparnold commented on #606
Thank you @dashpole!

[2018-08-25 19:15] zparnold commented on #552
@yujuhong Can you update me on the docs status when you have a sec?

[2018-08-25 19:16] zparnold commented on #600
Thank you! I'll mark it on the FT spreadsheet!

On Mon, Aug 20, 2018 at 9:07 PM Patrick Barker <notifications@github.com>
wrote:

[2018-08-25 19:17] zparnold commented on #177
Thank you!

On Mon, Aug 20, 2018 at 9:36 PM Xing Yang <notifications@github.com> wrote:

[2018-08-25 19:18] zparnold commented on #604
Only if it needs to go into the general https://kubernetes.io/ website
docs. :)

On Mon, Aug 20, 2018 at 9:47 PM Pengfei Ni <notifications@github.com> wrote:

[2018-08-25 19:25] zparnold commented on #609
Thanks Solly! @enxebre Could you let me know what the docs status is?

[2018-08-25 19:33] zparnold commented on #366
That is a great question! I unfortunately don't know enough about this feature to know whether or not it's just a CHANGELOG bump.

[2018-08-25 19:36] zparnold commented on #304
@brahmaroutu Could you link the PR here when you have a sec? Please and thank you!

[2018-08-25 19:45] zparnold commented on #531
That would be correct! Thanks!

[2018-08-25 19:46] zparnold commented on #22
Thank you!

On Tue, Aug 21, 2018 at 10:13 PM CaoShuFeng <notifications@github.com>
wrote:

[2018-08-25 19:46] zparnold commented on #593
Thanks!

[2018-08-25 19:48] zparnold commented on #423
@justinsb Would be able to take this for docs?

[2018-08-25 19:53] zparnold commented on #213
@krmayankk Really close! Could you set the base as `kubernetes:release-1.12` as opposed to `kubernetes:master`?

[2018-08-26 02:06] aniket-s-kulkarni commented on #304
@zparnold  - https://github.com/kubernetes/kubernetes/pull/67851 is the PR for this feature.

[2018-08-26 18:53] zparnold commented on #304
Hi @aniket-s-kulkarni I'm sorry I was actually looking for the PR against kubernetes/website (the documentation repo) for the docs on this feature. Apologies for the ambiguity

[2018-08-27 07:37] jimangel commented on #11
@roberthbailey @luxas Bump for docs ☝️

/cc @idvoretskyi

[2018-08-27 07:39] jimangel commented on #115
@jbeda @stts @luxas @thockin Bump for docs ☝️

[2018-08-27 07:43] jimangel commented on #21
@mwielgus @kgrygiel Bump for docs ☝️

[2018-08-27 08:03] jimangel commented on #351
@screeley44 @mtanino Bump for docs ☝️

[2018-08-27 08:08] jsafrane commented on #432
Filled https://github.com/kubernetes/website/pull/10090.

[2018-08-27 08:59] sttts commented on #115
We do not change the user facing interface for componentconfig in 1.12. Hence, this won't need doc changes.

[2018-08-27 09:14] verb commented on #277
yes, that's my plan.

[2018-08-27 12:50] neolit123 commented on #11
/assign @timothysc

[2018-08-27 15:11] aniket-s-kulkarni commented on #304
@zparnold I see. Sure. I have asked @brahmaroutu to make some changes and we will add that PR in here soon.

[2018-08-27 17:13] brahmaroutu commented on #304
@zparnold
https://github.com/kubernetes/website/pull/10097

[2018-08-27 17:15] zparnold commented on #304
Thanks!

On Mon, Aug 27, 2018 at 10:14 AM Srini Brahmaroutu <notifications@github.com>
wrote:

[2018-08-27 17:46] Bradamant3 commented on #583
Folks, I'm here from the docs queue. Hoping it's not too late: we should seriously consider a better name for this feature, at least as we expose it to users. "Gang scheduling"  is unfortunate for many reasons which I'm happy to elaborate if need be, but hope y'all can figure it out for yourselves.

[2018-08-27 18:36] wongma7 commented on #351
@zparnold , placeholder/WIP PR created here: https://github.com/kubernetes/website/pull/10100 .

[2018-08-27 18:41] wongma7 commented on #531
@zparnold @mlmhl I've created a placeholder/WIP docs PR here https://github.com/kubernetes/website/pull/10101

[2018-08-27 18:53] johnbelamaric commented on #566
Thanks. @rajansandeep can you take a look at what we need beyond the
rollback piece? Certainly we need to mention it is the default. Last
release we discussed reworking some of the documentation around configuring
DNS options - we should take a look at those docs and revise as needed.

On Mon, Aug 27, 2018 at 1:22 AM Jim Angel <notifications@github.com> wrote:

[2018-08-27 18:54] johnbelamaric commented on #566
It's not noted on here so let me just be sure everyone is aware we are moving forward with CoreDNS as the default in 1.12 per last week's sig-network meeting.

[2018-08-27 20:37] justaugustus commented on #213
Removing this from the sheet, per @tallclair's comment:

[2018-08-27 23:56] phillipao commented on #576
Design proposal link is invalid. Looks like it has moved to https://github.com/kubernetes/community/blob/master/keps/sig-api-machinery/0015-dry-run.md.

[2018-08-28 07:56] krmayankk commented on #213
May be i misunderstand @tallclair @justaugustus does marking a feature issue for a specific milestone means promoting it to at least beta ?

[2018-08-28 13:57] soltysh commented on #578
@zparnold sorry for the late reply but I can't modify the tracking spreadsheet. This feature won't have any doc updates.

[2018-08-28 13:58] soltysh commented on #581
@zparnold sorry for the late reply but I can't modify the tracking spreadsheet. This feature won't have any doc updates.

[2018-08-29 03:14] justaugustus commented on #609
@derekwaynecarr -- thanks for the update. Pulling this from the milestone.

[2018-08-29 03:55] justaugustus commented on #583
@k82cn -- I'm inclined to agree with Jennifer's sentiment:

Any chance we can adjust the name, before this is officially out in the wild?
Bulk scheduling? Group scheduling? Batch scheduling? Pool scheduling?

[2018-08-29 04:05] justaugustus commented on #576
@phillipao -- thanks for pointing that out! I've updated the link in the description. :)

[2018-08-29 05:11] k82cn commented on #583
@Bradamant3 , @justaugustus , thanks for your reminders; I think "Group scheduling" will be better, which maps to our new API `PodGroup`.

/cc @vishh @bsalamat to see if any more comments about the name.

[2018-08-29 06:48] krmayankk commented on #611
thanks @caseydavenport I think your suggestion about extending the CNI spec so that kubernetes can ask the network plugin about the ip availability makes perfect sense. You mention that for Calico this doesn't apply since you don't have per node limits, but you still have a limited pool size right ? What happens if the pool is out of ip's ? Does the Pod remain Pending ?

I can see two possible way

[2018-08-29 07:36] tianshapjq commented on #585
Are there any docs on the available options about RuntimeClassName to be able to leverage this feature?

[2018-08-29 07:49] feiskyer commented on #604
@justaugustus Which folder do you suggest?

[2018-08-29 08:31] luxas commented on #11
I think we're pretty okay docs-wise from earlier releases already, but @timothysc will make the judgement if many new docs are needed or existing docs have to be updated

[2018-08-29 11:30] mlmhl commented on #531
Thanks @wongma7 !

[2018-08-29 16:09] mistyhacks commented on #583
+1 on avoiding colloquial terms in feature / concept names. This kind of naming can be especially confusing to people whose first language is not English. In addition, knowing the name of a feature / concept should give you some idea of what it does, and "gang" doesn't really meet this test.

[2018-08-30 13:47] Bradamant3 commented on #583
"group scheduling" seemed to me on first acquaintance to map well to what the feature actually does, particularly from a new user perspective

[2018-08-30 15:54] cmluciano commented on #366
@thockin @caseydavenport @danwinship Aside from ample test coverage, do we need to add anything else for this feature to be GA?

[2018-08-30 15:58] danwinship commented on #366
I just filed https://github.com/kubernetes/website/pull/10151 but while that came out of this discussion, it's not 1.12-specific; the clarifications (assuming everyone agrees we want them) apply to the 1.11 version of the features as well. I don't think we need any further new documentation. I think egress is already as well covered by e2e tests as ingress is. So... I think we're good?

[2018-08-30 16:36] cmluciano commented on #366
SGTM, so I just need to remove the notes on beta from the API docs and then ensure that it is displayed properly elsewhere

[2018-08-30 16:45] ddebroy commented on #567
/assign @ddebroy

[2018-08-30 16:45] ddebroy commented on #567
Addressed by https://github.com/kubernetes/kubernetes/pull/65730

[2018-08-30 19:58] tallclair commented on #585
https://github.com/kubernetes/website/pull/10102 will provide the documentation, but it's not written yet.

[2018-08-30 19:58] tallclair commented on #585
Unless you're looking for https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-runtime-class.md

[2018-08-30 22:32] jordansissel commented on #491
I had trouble finding out how to invoke `diff` from this and other issues.

Documenting for posterity, the alpha `diff` command is available as a subcommand under `kubectl alpha`, for example:

[code]

[2018-08-30 23:50] bgrant0607 commented on #583
Unfortunately, the term "gang scheduling" IS the established technical term for this feature and has been widely used for decades:
https://en.wikipedia.org/wiki/Gang_scheduling

So even if we don't name the feature "gang scheduling", we'll need to refer to it in our documentation so that users can relate it to what they know and search for related technical information.

"Batch scheduling" has a d

[2018-08-30 23:55] bgrant0607 commented on #583
I guess a general issue is how much of all of Computer Science and Software Engineering are we going to try to fix.

[2018-08-31 00:01] bgrant0607 commented on #583
How about coscheduling?

https://en.wikipedia.org/wiki/Coscheduling

Since we use pods for co-placement, I don't think it would be ambiguous.

[2018-08-31 00:02] lavalamp commented on #583
Has no one suggested "team scheduling"? It's a pretty direct synonym...

Another possibility would be to take the name of the data structure from Brian's link (making it "Ousterhout scheduling") but I assume our implementation doesn't actually use that data structure, so that would be weird.

[2018-08-31 00:07] bgrant0607 commented on #583
https://www.thesaurus.com/browse/group

A search for "pack scheduling" suggests it would be confused with best-fit binpacking.

Clique generally refers to the resource topology rather than the items being scheduled.

"Aggregate scheduling" might be better than "group scheduling", and doesn't seem to have conflicting meanings. That might be a good choice.

[2018-08-31 00:08] justaugustus commented on #583
@bgrant0607 -- thanks for the historical context! I was just about to link the suggestion of `Coscheduling`.

Do we feel that that term is succinct and specific enough for our use case? If so, I'd vote that route.

I like `team scheduling` too, but `coscheduling` appears to be the more easily discoverable explanation.

[2018-08-31 00:10] bgrant0607 commented on #583
@lavalamp "Team scheduling" unfortunately is used in other contexts.

Re. Ousterhout: Naming algorithms after their creators isn't uncommon, but I don't know that we should start to name features after people.

[2018-08-31 00:11] dims commented on #583
couple more ...

- `"all-or-nothing" scheduling`
- `indivisible scheduling`

[2018-08-31 00:13] bgrant0607 commented on #583
@justaugustus Yes, I think "coscheduling" is our best option. I'm fine with that.

[2018-08-31 00:14] bgrant0607 commented on #583
@dims

Re. "all or nothing": It's common to support a minimum threshold (e.g., 80%) that need to be schedulable, so that's not going to work.

Re. "indivisible": I don't think it fits.

[2018-08-31 01:06] justaugustus commented on #583
@bgrant0607 -- sounds good.
@Bradamant3 -- thanks for raising this!

@mistyhacks @lavalamp @dims -- thanks for helping to bikeshed this.

@k82cn -- Let's move forward on renaming this enhancement to `Coscheduling` across the board. Let me know if you need any help renaming the bits / KEP / etc.

[2018-08-31 03:37] bgrant0607 commented on #583
I updated the occurrences in issue titles that I found.

[2018-08-31 06:27] vishh commented on #583
I'm weary of renaming a well established feature in the wider scientific
community. What's the side effect of sticking to gang scheduling?

On Thu, Aug 30, 2018, 8:38 PM Brian Grant <notifications@github.com> wrote:

[2018-08-31 06:52] justaugustus commented on #583
@vishh -- we decided to go with `Coscheduling`, which still encompasses the sentiment of the feature, while maintaining the history from a CompSci perspective.

[2018-08-31 07:00] vishh commented on #583
I noticed that. I'm trying to understand why we had to find an alternative
name in the first place?

On Thu, Aug 30, 2018, 11:53 PM Stephen Augustus <notifications@github.com>
wrote:

[2018-08-31 12:31] danwinship commented on #367
doh, we did all of the discussion for this feature on the egress PR (#366) and forgot to update this PR as well.

Let's see if this still works:

/milestone v1.12
/remove-stage beta
/stage stable

[2018-08-31 12:34] danwinship commented on #367
@justaugustus, @kacole2, @robertsandoval, @rajendar38 This was supposed to have been tracked for 1.12 but we basically forgot that we had two separate feature PRs. All of the work is done, including tests and docs.

[2018-08-31 12:35] danwinship commented on #367
(ping @cmluciano)

[2018-08-31 16:57] bgrant0607 commented on #583
@vishh @justaugustus Yes, I expect the majority of users to not be familiar with the Computer Science and HPC literature associated with the feature. I do want them to be able to find it, so we need a reference from the documentation. But I actually think Coscheduling is more descriptive for those unfamiliar and is more concise, in addition to avoiding negative connotations.

[2018-08-31 18:09] smarterclayton commented on #583
+1 - I think Coscheduling is the least scientific, most accurate, and least conflicting of the options I've seen so far.

[2018-09-01 02:58] zparnold commented on #351
Thank you!

[2018-09-01 03:02] zparnold commented on #566
Awesome @johnbelamaric! Is there a place this needs to be updated in k/website?

[2018-09-01 03:03] zparnold commented on #578
Thank you!

On Tue, Aug 28, 2018 at 6:58 AM Maciej Szulik <notifications@github.com>
wrote:

[2018-09-01 03:04] zparnold commented on #581
Thanks!

On Tue, Aug 28, 2018 at 6:58 AM Maciej Szulik <notifications@github.com>
wrote:

[2018-09-01 03:06] zparnold commented on #576
@phillipao Just a bump here to make sure we have some docs in the k/website repo if needed. Please link the PR here if one is needed.

[2018-09-01 03:08] zparnold commented on #11
Would be nice to have @jrondeau 's input on this as well. She's the amazing
lady who does kubeadm!

On Wed, Aug 29, 2018 at 1:31 AM Lucas Käldström <notifications@github.com>
wrote:

[2018-09-01 03:08] zparnold commented on #531
Thanks!

On Wed, Aug 29, 2018 at 4:30 AM mlmhl <notifications@github.com> wrote:

[2018-09-01 03:09] zparnold commented on #366
Thanks! Do we need to modify 1.12 for this or 1.11? Sorry, it was hard for
me to understand.

On Thu, Aug 30, 2018 at 9:36 AM cmluciano <notifications@github.com> wrote:

[2018-09-01 03:10] zparnold commented on #585
Thanks!

On Thu, Aug 30, 2018 at 12:58 PM Tim Allclair (St. Clair) <
notifications@github.com> wrote:

[2018-09-04 12:28] danwinship commented on #366
1.11 is unchanged. The feature is GA in 1.12.

[2018-09-04 14:38] nikopen commented on #566
These two articles will need replacing for CoreDNS at some point, since kube-dns is getting deprecated:

https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

also https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#config-coredns

[2018-09-04 14:41] rajansandeep commented on #566
@zparnold @nikopen @johnbelamaric
I am working on getting this page updated/rewritten:
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

[2018-09-04 15:42] zparnold commented on #566
Perfect, thanks! Please update here with the PR link. :)

On Tue, Sep 4, 2018 at 7:41 AM Sandeep Rajan <notifications@github.com>
wrote:

[2018-09-05 00:17] ConnorDoyle commented on #583
First vote for "gang scheduling" (because context makes this clearly not mean a criminal organization), as a second preference "coscheduling" seems OK.

[2018-09-05 19:36] justaugustus commented on #562
@lichuqiang @msau42 -- Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are overdue.
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 19:37] justaugustus commented on #561
@msau42 @lichuqiang --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are overdue.
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 19:39] justaugustus commented on #558
@msau42 @verult --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are overdue.
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @shtatfeld

[2018-09-05 19:40] justaugustus commented on #557
@verult @vladimirvivien --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are overdue.
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 19:40] justaugustus commented on #556
@gnufied --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are overdue.
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 19:50] chrisohaver commented on #566
I’m looking into the auto scale and debugging articles.

[2018-09-05 19:53] gnufied commented on #556
We will have to move this to next milestone.

[2018-09-05 20:27] msau42 commented on #561
Yes this feature will be beta in 1.12.  According to the 1.12 release schedule, docs PRs are not due until the 7th: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.12

[2018-09-05 20:27] msau42 commented on #558
Yes this feature will be beta in 1.12.  According to the 1.12 release schedule, docs PRs are not due until the 7th: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.12

[2018-09-05 20:28] msau42 commented on #557
The PR did not make 1.12 code freeze and we've requested an exception

[2018-09-05 21:34] justaugustus commented on #557
Got it. Thanks for the update!

[2018-09-05 21:35] justaugustus commented on #558
Got it. Thanks for the update!

[2018-09-05 21:35] justaugustus commented on #561
Got it. Thanks for the update!

[2018-09-05 21:35] justaugustus commented on #562
Got it. Thanks for the update!
/milestone clear

[2018-09-05 21:38] justaugustus commented on #595
@RenaudWasTaken -- please be careful using `Fix[es]` or `Closes` in a commit as it may cause us to fall into a close loop when the bots pick up a commit.

/reopen

[2018-09-05 21:39] justaugustus commented on #556
Got it. Thanks for the update!

[2018-09-05 21:44] johnbelamaric commented on #566
@justaugustus I think we can wait a cycle or so to deprecate kube-dns. Originally I was pairing the two but that's not strictly necessary.

[2018-09-05 21:44] justaugustus commented on #366
@cmluciano @danwinship -- do we have the requisite docs, tests, etc. to graduate this for 1.12?

[2018-09-05 21:49] justaugustus commented on #612
@bsalamat @kubernetes/sig-scheduling-feature-requests @kubernetes/sig-node-feature-requests --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 21:50] justaugustus commented on #607
@vikaschoudhary16 @jiayingz @derekwaynecarr --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 21:51] justaugustus commented on #606
@dashpole --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 21:52] dashpole commented on #606
It can be removed from the milestone

[2018-09-05 21:53] justaugustus commented on #606
Got it. Thanks for the update!

[2018-09-05 21:55] justaugustus commented on #603
@jsafrane --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 21:57] justaugustus commented on #600
@pbarker --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 21:59] justaugustus commented on #599
@yastij --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:00] justaugustus commented on #598
@deads2k --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:03] justaugustus commented on #597
@gnufied @saad-ali --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:04] justaugustus commented on #596
@jsafrane @vladimirvivien --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:04] pbarker commented on #600
@justaugustus unfortunately this one has gotten caught up in the review process and will not be making 1.12

[2018-09-05 22:07] justaugustus commented on #593
@bsalamat --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:09] justaugustus commented on #592
@janetkuo --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:10] justaugustus commented on #591
@DirectXMan12 --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:13] justaugustus commented on #587
@vikaschoudhary16 --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:18] justaugustus commented on #586
@feiskyer --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:26] justaugustus commented on #567
@ddebroy @msau42 @jsafrane --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:28] jiayingz commented on #607
Lets remove it from 1.12 milestone.

[2018-09-05 22:28] pbarker commented on #600
@justaugustus I don't have the power to change the milestone, but we'll be targeting 1.13

[2018-09-05 22:32] justaugustus commented on #554
@gnufied --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:34] justaugustus commented on #552
@yujuhong @dchen1107 --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:35] justaugustus commented on #551
@yastij --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:36] justaugustus commented on #548
@Huang-Wei --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:40] justaugustus commented on #547
@feiskyer @PatrickLang --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:40] justaugustus commented on #542
@mikedanese --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:40] yujuhong commented on #552
We've discussed this and there will be no new change in 1.12. No documentation is needed.

[2018-09-05 22:42] justaugustus commented on #531
@mlmhl @wongma7 --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:43] justaugustus commented on #514
@feiskyer --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:44] justaugustus commented on #513
@feiskyer --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:45] justaugustus commented on #495
@verb --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:47] justaugustus commented on #460
@jcbsmpsn @cjcullen --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:47] liggitt commented on #600
/milestone v1.13

[2018-09-05 22:50] msau42 commented on #567
yes docs in progress

[2018-09-05 22:53] justaugustus commented on #423
@justinsb --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:54] justaugustus commented on #356
@luxas @justinsb @timothysc --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:55] Huang-Wei commented on #548
@justaugustus Yes, it's still targeting for 1.12.

- code review is still in progress, and close to be merged
- docs update (kubernetes/website#9923) is ready for review

[2018-09-05 22:55] justaugustus commented on #351
@childsb @wongma7 --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:57] justaugustus commented on #304
@xingzhou @aniket-s-kulkarni @brahmaroutu --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:58] justaugustus commented on #296
@lukemarsden, @luxas @timothysc --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 22:59] justaugustus commented on #268
@k82cn / @derekwaynecarr --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 23:01] justaugustus commented on #177
@jingxu97 @xing-yang --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 23:02] justaugustus commented on #127
@vikaschoudhary16 @derekwaynecarr @mrunalp --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 23:03] justaugustus commented on #116
@michmike @PatrickLang --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 23:05] justaugustus commented on #22
@CaoShuFeng @tallclair --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 23:06] justaugustus commented on #21
@mwielgus @kgrygiel --
Any update on docs status for this feature? Are we still planning to land it for 1.12?
At this point, code freeze is upon us, and docs are due on 9/7 (2 days).
If we don't here anything back regarding this feature ASAP, we'll need to remove it from the milestone.

cc: @zparnold @jimangel @tfogo

[2018-09-05 23:09] justaugustus commented on #11
@timothysc @luxas @Bradamant3 --

Where did we land on this? Are the docs in a good state for 1.12? Are we still planning to land this as GA for 1.12?

cc: @zparnold @jimangel @tfogo

[2018-09-05 23:16] PatrickLang commented on #116
This needs to move to 1.13. It's not ready for 1.12. Can you help us update the milestone?

[2018-09-05 23:31] xing-yang commented on #177
@justaugustus Code was merged.  Doc PR is ready for review: https://github.com/kubernetes/website/pull/9948

[2018-09-05 23:52] apelisse commented on #576
Still on track, fixing and pushing the doc PR (https://github.com/kubernetes/website/pull/10033)

[2018-09-05 23:57] justaugustus commented on #576
Thanks for the update, @apelisse !

[2018-09-06 00:28] neolit123 commented on #356
so the kubeadm commands that this feature covers, remain under `kubeadm alpha phase`, because we didn't have the time to move them, but they are in a beta state.

in terms of documentation the commands are are already well covered in multiple `k/website` pages:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/
https://kubernetes.io/docs/reference/setup-tools/kubeadm/

[2018-09-06 00:37] neolit123 commented on #296
for this one, upgrades are already useful and the docs are in place for 1.11:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-11/

there are still some question marks in terms of implementation and we have some tracking issues in `k/kubeadm`.

the KEP for this seems to be still in flight:
https:

[2018-09-06 00:55] kfox1111 commented on #603
can we pass through volume.Name too? looks like it is already exposed indirectly to the driver by way of the mount path here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_mounter.go#L79
I'd rather use a passed version then parse it out.

[2018-09-06 01:01] justaugustus commented on #596
Thanks for the update!

[2018-09-06 01:05] justaugustus commented on #177
Thanks for the update!

[2018-09-06 01:06] justaugustus commented on #116
Thanks for the update!

[2018-09-06 01:07] tpepper commented on #495
looks like it merged in https://github.com/kubernetes/kubernetes/pull/66507

[2018-09-06 01:09] micahhausler commented on #423
This feature missed the code freeze for 1.12, it should be dropped from the docs

[2018-09-06 01:11] justaugustus commented on #548
Thanks for the update!

[2018-09-06 01:12] justaugustus commented on #567
Thanks for the update!

[2018-09-06 01:14] justaugustus commented on #600
/milestone v1.13

[2018-09-06 01:14] tpepper commented on #552
/milestone clear

[2018-09-06 01:17] justaugustus commented on #600
(btw, pretty sure you have milestone powers here, @liggitt, but we hadn't turned the bot on until https://github.com/kubernetes/test-infra/pull/9252 merged)

[2018-09-06 01:26] gnufied commented on #603
This feature is on track for 1.12.  I will open placeholder PR for docs shortly.

@kfox1111 you mean `PersistentVolume.Name` field?

[2018-09-06 01:28] gnufied commented on #554
We are moving this feature to beta. Adding support for CSI and Azure. Will open docs PR soonish.

@andyzhangx I may need your help in documenting stuff from Azure side of things.

[2018-09-06 01:30] gnufied commented on #597
We will have to move this feature to next milestone I am afraid. We couldn't get this done in time.

[2018-09-06 01:35] CaoShuFeng commented on #22
The document is ready for review: https://github.com/kubernetes/website/pull/9947

https://github.com/kubernetes/kubernetes/pull/65763 not include yet.

[2018-09-06 01:43] tpepper commented on #599
Based on discussion in https://github.com/kubernetes/community/pull/1937 this feels like it's still in active design review and should not have made it past 1.12's feature freeze.  Lacking clarification, this strongly feels like it should be removed from the milestone.

[2018-09-06 01:56] andyzhangx commented on #554
@gnufied no problem, just assign the task to me.

[2018-09-06 01:57] justaugustus commented on #22
Thanks for the update!

[2018-09-06 01:58] justaugustus commented on #599
Roger that! Removing this from the milestone.
/milestone clear

[2018-09-06 01:58] justaugustus commented on #597
Thanks for the update!
/milestone clear

[2018-09-06 02:00] justaugustus commented on #554
@gnufied @andyzhangx -- please keep us posted. Docs PR needs to be opened ASAP. It's overdue at this point.

[2018-09-06 02:03] justaugustus commented on #603
@gnufied -- Please keep us posted. Docs PR is overdue at this point.

[2018-09-06 02:05] justaugustus commented on #423
Thanks for the update!

Docs folks (@zparnold @jimangel @tfogo):

/milestone clear

[2018-09-06 02:07] justaugustus commented on #566
@johnbelamaric -- Got it. Noting again that we need to coalesce a plan for kube-dns deprecation sooner rather than later, as it's a multi-release event.

[2018-09-06 02:18] justaugustus commented on #552
@yujuhong -- to my previous note (https://github.com/kubernetes/features/issues/552#issuecomment-414510132), no one has clarified **_WHY_** this tracking feature should be closed.

Even if work is not planned for 1.12, the feature has yet to be graduated to GA, so it needs to remain open.

Please don't close this again until we have clarification on this.

cc: @derekwaynecarr @Random-Liu @mrunalp

[2018-09-06 02:54] feiskyer commented on #547
No updates on this feature, let's move this out of v1.12.

/milestone clear

[2018-09-06 03:37] bgrant0607 commented on #583
I think we can address searches for "kubernetes gang scheduling" and gang scheduling literature with cross references and SEO in documentation.

I agree with Clayton. For the average operator, coscheduling (and "kubernetes coscheduling") seems better on multiple fronts.

I've been working in parallel, distributed, batch, and high-performance computing since 1992, so I'm familiar with the term "gan

[2018-09-06 03:44] justaugustus commented on #513
Thanks for the update!

[2018-09-06 03:45] justaugustus commented on #514
Thanks for the update!

[2018-09-06 03:45] justaugustus commented on #547
Thanks for the update!

[2018-09-06 04:14] aniket-s-kulkarni commented on #304
@justaugustus I'm still in the process of making changes based on latest review comments. I will update the PR once I'm done.

[2018-09-06 05:42] justaugustus commented on #595
I think it'll take effect on every branch transaction that the commit gets pulled into. I'd say that you could do it by amending the commit, but it might be less effort to just reopen this issue every time :/

[2018-09-06 05:44] justaugustus commented on #304
Thanks for the update!

[2018-09-06 05:57] k82cn commented on #583
Considering the progress of design doc review, prefer to move this to 1.13 .

/cc @vishh , @bsalamat

[2018-09-06 05:58] justaugustus commented on #583
Thanks for the update, @k82cn!
/milestone v1.13

[2018-09-06 07:19] feiskyer commented on #586
@justaugustus Yep, codes have been merged now and docs will be added to https://github.com/kubernetes/cloud-provider-azure

[2018-09-06 07:19] feiskyer commented on #604
@justaugustus Yep, codes have been merged now and docs will be added to https://github.com/kubernetes/cloud-provider-azure

[2018-09-06 09:12] verb commented on #495
@justaugustus no need for threats, I've been responsive to every query so far. The docs PR is linked in https://github.com/kubernetes/features/issues/495#issuecomment-414700780 and it's linked in the feature tracking spreadsheet with all of the others. If I failed to meet an expectation I'm not sure what it was.

[2018-09-06 11:13] yastij commented on #599
@tpepper @justaugustus - We decided to move this out-of-tree for the moment.

[2018-09-06 11:16] yastij commented on #551
@justaugustus - this was descoped see [kubernetes/kubernetes#65392](https://github.com/kubernetes/kubernetes/issues/65392#issuecomment-418497981)

[2018-09-06 12:59] RenaudWasTaken commented on #595
Sorry I didn't see that Github converted it into a "fix". I Will pay more attention to that in the future.

[2018-09-06 14:17] yastij commented on #551
@adampl - this issues discusses also the taint shutdown solution. we are holding this feature in order to have another approach.

[2018-09-06 15:41] kfox1111 commented on #603
the pod spec, volume.name. (the name property of https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#volume-v1-core)

[2018-09-06 15:57] kfox1111 commented on #603
Skimming the code, I think its adding the line: "csi.storage.k8s.io/volume.name": c.specVolumeID,

[2018-09-06 17:42] DirectXMan12 commented on #591
Its landed.  My docs were partial docs, but I'd expect @krzysztof-jastrzebski (one of the authors) to write the remainder of the docs.  Worst comes to worst, I can fill in the rest, though.

[2018-09-06 17:43] DirectXMan12 commented on #591
Also, my PR seems to have languished a bit without any review.  I'll need to rebase it, but it would be useful to get feedback too (https://github.com/kubernetes/website/pull/9780)

[2018-09-06 19:26] derekwaynecarr commented on #127
moving to 1.13 milestone.

[2018-09-06 19:31] gnufied commented on #554
Placeholder docs PR - https://github.com/kubernetes/website/pull/10211

[2018-09-06 19:34] gnufied commented on #603
@tfogo now that I think of, traditionally CSI+Kubernetes interface has been documented https://kubernetes-csi.github.io/docs/ rather than on community website. This PR change does not affect any end users and is mostly applicable for CSI plugin authors.

I am wondering if we even need a docs PR to community website. cc @saad-ali

[2018-09-06 20:13] cmluciano commented on #366
The only missing thing would be to remove the note about it being beta in the code comments. I reviewed https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#alpha-field-in-existing-api-version and did not come across anything that indicates if we just remove them to indicate "GA-ness".

Can someone from @kubernetes/sig-api-machinery-api-reviews comment on this?

[2018-09-06 21:19] justaugustus commented on #586
Thanks for the update!

[2018-09-06 21:20] justaugustus commented on #604
Thanks for the update!

[2018-09-06 21:33] justaugustus commented on #495
@verb -- apologies! I think this one got caught in the deluge on copy / paste pings. Thanks for the speedy updates! :)

To your question, once the docs PR merges, we're good to go.

[2018-09-06 22:17] tpepper commented on #288
@dims what's the plan here?  Can we justify the k/release move still?

[2018-09-06 22:21] dims commented on #288
@tpepper i think so. otherwise we may have to unwind code (say in kubeadm that @neolit123 pointed out). which may end up with more CI failures.

[2018-09-06 22:34] tfogo commented on #603
That makes sense. In that case, it's totally fine not to have a PR open in k/website. (Though you should make sure the appropriate docs land in k-csi/docs.)

[2018-09-06 22:36] tfogo commented on #268
For visibility: I got confirmation from @bsalamat that no docs changes are necessary for 1.12

[2018-09-06 23:00] tpepper commented on #356
Would there be a commit to remove `alpha` in that command then?

[2018-09-06 23:18] janetkuo commented on #592
@justaugustus yes we're landing it for 1.12. I'm updating docs.

[2018-09-07 00:00] mwielgus commented on #21
This is landing around 1.12 however it is a launch of an independent addon. It is not included in 1.12 Kubernetes release. Sig-Architecture, at the beginning of this cycle, decided to keep the VPA api as CRD and thus not bind it to any particular K8S release.

[2018-09-07 06:03] bsalamat commented on #612
This feature is [implemented](https://github.com/kubernetes/kubernetes/pull/57963) and docs are also [written](https://github.com/kubernetes/website/pull/9086).

cc/ @vikaschoudhary16

[2018-09-07 06:17] bsalamat commented on #612
And the doc is [updated](https://github.com/kubernetes/website/pull/9648) for 1.12.

[2018-09-07 08:07] mbohlool commented on #598
@justaugustus I am going to ask for an exception for this feature.

[2018-09-07 13:57] timothysc commented on #296
We're aiming for GA in 1.13 at this point.

[2018-09-07 15:45] kacole2 commented on #367
@danwinship I've got ahead and added this to the tracking sheet after seeing @tpepper +1 on the exception filed.

[2018-09-07 16:02] DirectXMan12 commented on #591
I'll be filling in the rest due to deadlines and availability.  I'll update the aforementioned PR.

[2018-09-07 16:04] danwinship commented on #367
@kacole2 Thanks! It probably should have milestone v1.12 too?

[2018-09-07 16:07] kacole2 commented on #367
@danwinship it should but I don't have those powers yet.
@justaugustus can you add the correct labels?

[2018-09-07 16:44] justaugustus commented on #296
Thanks for the update, @timothysc !

[2018-09-07 16:45] justaugustus commented on #21
Thanks for the update!

[2018-09-07 16:46] justaugustus commented on #356
Thanks for the update, @neolit123!

[2018-09-07 16:46] justaugustus commented on #592
Thanks for the update, @janetkuo!

[2018-09-07 16:47] justaugustus commented on #268
Thanks for the update!

[2018-09-07 16:49] justaugustus commented on #268
Just as an update to https://github.com/kubernetes/features/issues/268#issuecomment-409388405:

I'm removing this specific issue from the milestone as we're now tracking Quota by Priority in #612.
/milestone clear

[2018-09-07 16:50] justaugustus commented on #603
Thanks for the update!

[2018-09-07 17:31] karthickrajamani commented on #21
@justaugustus, so can we continue to use this issue for tracking live, in-place vertical scaling ( #kubernetes/community#1719) which is what it was created for originally by Mike, given that VPA is not bound to a particular K8S release?

[2018-09-07 17:35] bsalamat commented on #612
The doc change that I updated is actually for 1.11. I am going to send a PR to update the version tag in the doc.

[2018-09-07 17:41] justaugustus commented on #612
@bsalamat please also link it here, so we can track.

[2018-09-07 17:46] bsalamat commented on #612
@justaugustus Done

[2018-09-07 18:10] saad-ali commented on #304
This feature did not make it in to 1.12. Per this [thread](https://groups.google.com/d/msg/kubernetes-sig-storage/_2MVGJUWeuw/Da_u48vWBAAJ), moving to next milestone.

[2018-09-07 18:43] saad-ali commented on #568
Removing from milestone. Still in exploratory phase. Current work is external to kubernetes/kubernetes.

[2018-09-07 18:45] saad-ali commented on #557
No kubernetes/website documentation changes needed for this.
Only changes will be external, in kubernetes-csi for CSI driver authors.

[2018-09-07 18:48] DirectXMan12 commented on #591
Docs are up, and ready for review.

[2018-09-07 19:30] mikedanese commented on #460
Here's the docs PR:

https://github.com/kubernetes/website/pull/10230

cc @immutableT

[2018-09-07 19:36] tfogo commented on #566
Hi @rajansandeep, @johnbelamaric,

How are docs looking for this? Is there a PR open in k/website?

[2018-09-07 19:39] rajansandeep commented on #566
I forgot to refer the PR for this.
https://github.com/kubernetes/website/pull/10228 is ready for review.

[2018-09-07 19:40] chrisohaver commented on #566
... and kubernetes/website#10200 and kubernetes/website#10201.

[2018-09-07 20:30] mikedanese commented on #43
GA docs PR here:

https://github.com/kubernetes/website/pull/10232

[2018-09-07 20:30] mikedanese commented on #267
Beta docs PR here:

https://github.com/kubernetes/website/pull/10232

[2018-09-07 20:47] saad-ali commented on #594
These objects and registry are designed for CSI drivers authors. No documentation changes needed on kubernetes/website. Changes will be added to kubernetes-csi

[2018-09-07 21:47] justaugustus commented on #568
Thanks for the update!

[2018-09-07 21:54] justaugustus commented on #21
@karthickrajamani -- yep, it's fine to keep tracking here.

[2018-09-08 01:52] bsalamat commented on #593
@justaugustus this feature has been [merged a while ago](https://github.com/kubernetes/kubernetes/pull/66733). The [document](https://github.com/kubernetes/website/pull/10048) has been pending review for a while.

[2018-09-09 15:47] loewenstein commented on #277
@verb what is the current plan for delivering this feature? 1.12? 1.13? Later?

[2018-09-09 16:59] ingvagabund commented on #609
WIP proposal: https://github.com/kubernetes/community/pull/2653
Definitely not the final version. Still collection and documenting all the findings and ideas.

[2018-09-10 12:39] verb commented on #277
@loewenstein we made progress, but not enough for 1.12. Now we're aiming for 1.13.

[2018-09-10 12:54] zparnold commented on #561
@msau42 I didn't see a PR in k/website for this, but I could be mistaken. Could you please link it here for me?

[2018-09-10 13:19] kacole2 commented on #277
@verb thanks for the update. this has been removed from the tracking sheet. Please update the original issue when you get a chance.

/milestone 1.13

[2018-09-10 14:15] msau42 commented on #561
It's the placeholder PR mentioned above that you have also reviewed.  https://github.com/kubernetes/website/pull/9939

[2018-09-10 14:18] zparnold commented on #561
Must've lost the link in the sheet somewhere. Thanks!

On Mon, Sep 10, 2018 at 9:15 AM Michelle Au <notifications@github.com>
wrote:

[2018-09-10 17:12] mistyhacks commented on #277
/milestone v1.13

[2018-09-10 17:13] mistyhacks commented on #277
For heavens sake.

[2018-09-10 17:14] kacole2 commented on #277
/milestone v1.13

think that will do it  :)

[2018-09-10 19:48] tpepper commented on #598
@kubernetes/sig-api-machinery-api-reviews can ya'll please comment as to whether you support this exception?  https://groups.google.com/d/topic/kubernetes-milestone-burndown/CGiB__LAyzU/discussion

From my perspective it's a NO for the 1.12 release.  We can't cherry pick a feature into the release on release day.  Even if it's alpha and gated.

[2018-09-10 20:07] deads2k commented on #598
I understand your reluctance to try to pick changes that late in the release cycle.  Looking at it objectively, I can see that I'd want the same rules applied to other sigs that wanted changes and extensions that late in the cycle.

I would push harder, but I think we even lost consensus on the behavior of the API (defaulting: discussion between Jordan and Daniel).  Near as I can tell, neither con

[2018-09-10 20:10] tpepper commented on #598
@deads2k thanks for the update.  Please "/milestone clear" on existing issues and PRs around this.  And is there any additional work needing backed out from an interim pre-release state?  We'd had a question on the release team as to whether any merged changes around this feature might actually be impacting release blocking test cases.

[2018-09-10 20:26] tpepper commented on #288
@dims how are things looking here now?

And who's handling docs on this?

[2018-09-10 20:38] dims commented on #288
@tpepper the main docs would be in kubeadm. Stating that folks can drop using `-amd64` style extensions for kubernetes deliverables. cc @neolit123 @timothysc

[2018-09-10 21:43] kacole2 commented on #598
this has been updated to reflect in the spreadsheet

[2018-09-11 07:17] stlaz commented on #135
@wangzhen127 Thanks, I was trying to go through the things that were done and the issues opened related to this feature. It would seem that the comment https://github.com/kubernetes/features/issues/135#issuecomment-331592961 still holds and summarizes exactly the work that needs to be done now.

I also noticed you were trying to add a FeatureGate for this, but closed the PR, why was that?

P.S.: S

[2018-09-11 08:41] justaugustus commented on #22
Dropping this from the milestone per the feedback here: https://github.com/kubernetes/website/pull/9947#issuecomment-418939135

/milestone v1.13

[2018-09-11 08:45] justaugustus commented on #351
@childsb @wongma7 @erinboyd @screeley44 -- Removing this from the milestone as we haven't heard anything back from you.
/milestone clear

[2018-09-11 08:52] justaugustus commented on #531
@mlmhl @wongma7 --
We haven't heard back from you and at this point, docs are overdue.

I'm removing this from the milestone. If you feel this is incorrect, please let me know ASAP.

/milestone clear

[2018-09-11 09:28] justaugustus commented on #567
@msau42 -- what's the status on this? Are we ready to merge the docs PR and has associated code been merged?

[2018-09-11 09:30] justaugustus commented on #585
@tallclair -- is this good to go for 1.12? Docs are overdue. Please let us know ASAP what the status is.

[2018-09-11 09:39] justaugustus commented on #542
Hey @mikedanese, as the docs are overdue, I'm removing this from the milestone.
If this assessment is incorrect, please let me know ASAP.

/milestone clear

[2018-09-11 11:10] bboreham commented on #611
Weave Net also shares IP address space dynamically across nodes.  No host, rack or namespace limits.

I think it will be `ContainerCreating` since it has been scheduled to a node but set-up hasn't completed.

Definitely not - CNI is orchestrator-agnostic.  It could be done by individual implementations - Calico, Weave, etc.

Suggest you raise an enhancement request at https://github.com/containern

[2018-09-11 14:35] msau42 commented on #567
Code is in and docs PR is under review https://github.com/kubernetes/website/pull/9939

[2018-09-11 14:57] gnufied commented on #531
yeah that seems fair. The changes needed for this PR didn't get merged.

[2018-09-11 18:59] wangzhen127 commented on #135
That is right. One more thing I would like to add is to have a "complaint" mode. So users have a choice of getting warnings (in logs) of using forbidden syscalls rather than kill. Logging seccomp actions are available with Linux kernel 4.14+ ([seccomp doc](http://man7.org/linux/man-pages/man2/seccomp.2.html)). It is possible that older kernel versions are still being used. So we need to handle tha

[2018-09-11 20:30] janosi opened #614 "SCTP support for Services, Pod, Endpoint, and NetworkPolicy"
# Feature Description
- One-line feature description (can be used as a release note): SCTP is now supported as additional protocol (alpha) alongside TCP and UDP in Pod, Service, Endpoint, and NetworkPolicy.
- Primary contact (assignee): @janosi
- Responsible SIGs: sig-network
- Design proposal link (community repo): [SCTP support](https://github.com/kubernetes/enhancements/blob/master/keps/sig-net

[2018-09-11 20:32] zparnold commented on #614
/milestone v1.12

[2018-09-11 20:37] justaugustus commented on #614
/assign @janosi
/sig network
/kind feature

[2018-09-11 20:37] justaugustus commented on #614
/stage alpha

[2018-09-11 20:58] justaugustus commented on #567
thanks @msau42!

[2018-09-12 02:06] kellycampbell commented on #423
See https://github.com/kubernetes/kubernetes/pull/68422 for a fix for the security group bugs. Would be nice to get this into 1.12, and possibly cherrypicked back to 1.11

[2018-09-12 03:18] apelisse commented on #576
This will fix https://github.com/kubernetes/kubernetes/issues/11488.

[2018-09-12 14:11] stlaz commented on #135
I guess since we'll be defining a Kubernetes-specific default seccomp format as a part of the second step, we could also have one that would log instead. Is there enough value for it? Could it be used for people to transition from "unconfined" to "kube/default" when the latter fails too much? Would they care for it to switch-to switch-back? There are LTS distributions using 4.13- Linux kernels (De

[2018-09-12 16:19] zparnold commented on #21
@mwielgus Are we going to have some documentation for this feature before the release date of 1.12? Since it's independent, I'm willing to let it not be counted in this release as long as it does get to have some attention before it's officially released as an add-on. Does that sound good?

[2018-09-12 16:20] zparnold commented on #288
@neolit123 Based on your comment ☝️ I'm moving this out of my attention for docs. Please let me know if I misunderstood you.

[2018-09-12 16:39] neolit123 commented on #288
@zparnold seems like the right thing to do. it was already discussed as the right way to proceed for this feature. thanks!

[2018-09-12 17:31] wangzhen127 commented on #135
This can be discussed. My original thought was to change default from unconfined to logging. So we do not have backward compatibility issue. And if we can somehow collect data and show that in X% of cases, we see nothing logged, meaning the default profile would not break things. Then we can propose to change logging to kill. Collecting data part is tricky and can be a lot of work. Even if we don'

[2018-09-12 18:07] mwielgus commented on #21
@zparnold There will be no extra documentation to include in 1.12.

[2018-09-12 18:09] zparnold commented on #21
That's what I like to hear! :)

On Wed, Sep 12, 2018 at 11:08 AM Marcin Wielgus <notifications@github.com>
wrote:

[2018-09-12 20:17] mikedanese commented on #542
My understanding is that we have until Friday for docs. What am I missing?

[2018-09-12 20:28] justaugustus commented on #542
@mikedanese -- yep, what Jordan said. Docs submission deadline for SIGs was 9/7. The time between that deadline and the "Docs ready" date (9/18) is for the Docs team to do final copyedits.

Where are you at with docs for this?

[2018-09-12 22:44] saad-ali opened #615 "CRD Installation Mechanism"
# Feature Description
- One-line feature description (can be used as a release note):

How should CRDs that Kubernetes depends be deployed?

Kubernetes is moving towards a model where new API objects are not added to the core API but are instead defined and installed as CRDs. When core controllers depend on a CRD, some component in core must install and manage the CRD. Having the controller instal

[2018-09-12 22:50] verult commented on #615
@saad-ali we may also want to add more validation through external admission webhooks (preserving set and map properties in `CSINodeInfo` fields, for example). @msau42 @jsafrane

[2018-09-13 08:56] stlaz commented on #135
I like this idea. The hard part is of course getting the data, I have no idea how to pull that one off. Also, we'd have to first propose this change to the OCI spec and then probably implement it for at least one container runtime, right? Would that be OK to happen in the Beta part of the lifecycle?

I see. Perhaps we could indeed just go with the "unconfined" profile as the default one (possibly

[2018-09-13 12:46] djsly commented on #513
@feiskyer would you have a list of items still needed to VMSS with k8s ?

[2018-09-13 13:33] djsly commented on #513
I'm about to spin up Staging clusters with 1.11.3 so I will know more in the coming weeks :)
Right now, most of my concerns are with VM Extension error handling with cluster autoscaler. But that's out of scope for here, we can take it offline :)

[2018-09-13 17:28] wangzhen127 commented on #135
Sounds good to me. Though I think it helps to start the OCI spec proposal early.

Go with "unconfined" as the default for now sounds good to me. For kubernetes/kubernetes#39845, I added annotations to addons. And I don't think we can go any further.

Works for me. For `kube/default`, we may just start with `docker/default`.

[2018-09-13 17:45] jlk commented on #135
My understanding is this logs the action with the PID - not necessarily container-related info. So either auditd or some other daemon on the host will need to do a lookup/mapping for the log to be really useful...

[2018-09-13 18:40] tpepper commented on #566
warning this is now at risk, see:

[2018-09-14 10:45] vikaschoudhary16 commented on #609
cc @vikaschoudhary16

[2018-09-16 22:30] justaugustus commented on #615
/kind feature
/stage alpha
/assign @saad-ali

Feel free to reassign once an assignee is determined.

[2018-09-17 17:43] kacole2 commented on #566
/milestone v1.13

[2018-09-18 19:26] dawidmalina commented on #504
Maybe this will be a good option: https://github.com/kubernetes/kubernetes/issues/59031#issuecomment-422517587

[2018-09-18 22:20] tallclair commented on #585
Sorry, was out last week - This made the 1.12 cut (alpha). Docs PR merged: https://github.com/kubernetes/website/pull/10102

[2018-09-19 23:02] tallclair commented on #135
Didn't @jessfraz already do that when launching the docker default profile for docker? If that isn't a strong enough signal, it's going to be very difficult to collect a stronger one...

[2018-09-20 16:39] srikumar-b commented on #495
@verb -- quick question on `Container filesystems are visible to other containers in the pod through the /proc/$pid/root magic symlink`. Does it mean, all the volume mounts of other containers also be accessible from the magic symlink?

[2018-09-21 08:32] yastij commented on #615
cc @kubernetes/api-approvers

[2018-09-24 11:42] stlaz commented on #135
@tallclair you're right, I got kind of lost in all the issues' comments. For the reference, here's the comment stating Dockerfiles were checked: https://github.com/kubernetes/community/pull/660#issuecomment-303860107. I guess we could be safe having a "killing" default after all.

[2018-09-25 02:14] dims commented on #288
@neolit123 Do we need to revisit this? now that we have kube-dns images have manifests?

[2018-09-25 02:37] neolit123 commented on #288
@dims
so all the manifest-lists that kubeadm needs for the control plane and addons are in place, which is very nice! thanks to everyone for the hard work!

i will add an e2e for this later this week. i'm just cleaning it up at this point.

"Kubernetes on multiple platforms" is very broad.
in terms of should this be beta or GA eventually, it's hard to judge, because we have `kind/ecosystem` issues

[2018-09-25 10:18] dims commented on #288
thanks for the analysis @neolit123

for my part i added this to the 1.12 docs https://github.com/kubernetes/website/pull/10379 with tips on how to build these things

[2018-09-28 02:59] feiskyer commented on #514
GA and done now. Let's close it.

/close

[2018-09-28 02:59] #514 closed

[2018-09-28 02:59] feiskyer commented on #513
GA and done now. Let's close it.

/close

[2018-09-28 02:59] #513 closed

[2018-09-28 13:09] Marcel-Lambacher commented on #267
/meow

[2018-09-28 18:44] kacole2 commented on #542
/milestone v1.13

[2018-09-28 19:33] kacole2 commented on #578
@juanvallejo @soltysh Is this feature considered complete? From the looks it has graduated to stable and docs are complete. Let me know if we can close the issue. Thanks!

[2018-09-28 19:36] kacole2 commented on #496
This issue hasn't had any attention for 1.11 or 1.12. I'm going to close it since the k/commnunity proposal has been closed as well.

/close

[2018-09-28 19:36] #496 closed

[2018-09-28 19:37] kacole2 commented on #432
@saad-ali @jsafrane It looks like this feature made it to GA and has docs in place. Are we good to close?

[2018-09-28 19:40] kacole2 commented on #370
@khenidak I'm doing some clean up. According to https://github.com/kubernetes/kubernetes/pull/48574 it looks like this has been merged. Can we close this issue?

[2018-09-28 19:41] kacole2 commented on #367
/close

[2018-09-28 19:41] #367 closed

[2018-09-28 19:43] kacole2 commented on #366
Seeing as how this has graduated to GA in 1.12 I'm going to close the issue. Nice work, all!

/close

[2018-09-28 19:43] #366 closed

[2018-09-28 19:45] kacole2 commented on #43
It looks like this has graduated to GA so I'm going to clean up and close the issue. nice job everyone!

/close

[2018-09-28 19:45] #43 closed

[2018-09-28 20:18] soltysh commented on #578
There are some minor issue we'll be working with @juanvallejo during 1.13 release, so I think it's best leave it open until that is all addressed.

[2018-09-28 23:17] justaugustus opened #617 "KEP: Enhance the KEP implementation"
# Kubernetes Enhancement Proposal Implementation
- One-line feature description (can be used as a release note): A standardized process for describing / presenting / delivering enhancements to the Kubernetes ecosystem
- Primary contact (assignee): @justaugustus
- Responsible SIGs:
/sig architecture
- KEP link(s): [KEP-1a](https://github.com/kubernetes/enhancements/blob/master/keps/0001a-meta-kep-i

[2018-09-28 23:18] justaugustus commented on #617
/assign @justaugustus @calebamiles @jdumars

[2018-09-28 23:27] justaugustus commented on #617
/stage beta

[2018-09-29 13:32] justaugustus opened #2088 "Refine existing KEP Documentation"
- Define KEP DACI (who is responsible for KEPs, both in process and execution)
- Glossary of terms (enhancement, KEP, feature, etc.)
  - KEP Workflow
  - KEP states
    - Entry / exit criteria

Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-09-29 13:44] justaugustus opened #618 "Correlate existing Feature tracking issues with links to KEPs"
Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign
/assign @kacole2

[2018-09-29 13:50] justaugustus opened #619 "Create tooling to generate / manage KEPs"
Create tooling to:
- generate KEP directories and associated metadata
- graduate KEPs through approval phases
- convert existing KEPs from flat-files to directory structure (https://github.com/kubernetes/community/issues/2725)

Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign @calebamiles

[2018-09-29 13:56] justaugustus opened #620 "Update features / enhancements repo documentation"
Include:
- [ ] create glossary [#2517](https://github.com/kubernetes/enhancements/issues/2517)
- issue templates
  - enhancements
    - standard
    - API changes
- [ ] create PR templates [#2518](https://github.com/kubernetes/enhancements/issues/2518)
- [ ] exceptions process update [#2519](https://github.com/kubernetes/enhancements/issues/2519)

Work item for https://github.com/kubernetes/featur

[2018-09-29 13:57] justaugustus opened #621 "Create a project tracking board for KEP Improvements"
Work item for https://github.com/kubernetes/features/issues/617

/kind feature
/sig pm
/milestone v1.13
/assign

[2018-09-29 14:11] justaugustus commented on #621
Done: https://github.com/orgs/kubernetes/projects/5
/close

[2018-09-29 14:11] #621 closed

[2018-09-29 19:51] merlineus commented on #423
There is an issue with creating identical NLB backed service in two different K8S clusters in same AWS region: https://github.com/kubernetes/kubernetes/issues/69264

[2018-10-01 08:04] jsafrane commented on #432
Yes, this is GA now and could be closed (not sure what's the policy here).

[2018-10-01 13:32] kacole2 commented on #432
/close

[2018-10-01 13:32] #432 closed

[2018-10-01 13:56] tasdikrahman commented on #378
greetings. The issue got closed due to it being stale for some time, was curious if it is still planned in a future release

[2018-10-01 18:19] spiffxp opened #622 "Drop support for etcd2"
# Feature Description
- One-line feature description (can be used as a release note): Drop support for etcd2
- Primary contact (assignee): @spiffxp
- Responsible SIGs:
  - SIG API Machinery
  - SIG Release
  - SIG Testing
- Design proposal link (community repo): n/a
- Link to e2e and/or unit tests: n/a
- Reviewer(s) - (for LGTM) recommend having 2+ reviewers (at least one from code-area OWNERS fil

[2018-10-01 18:19] spiffxp commented on #622
/milestone v1.13

[2018-10-01 21:02] bsalamat opened #623 "Add inter-pod affinity to more than one pod"
# Feature Description
- One-line feature description (can be used as a release note): Currently, a single pod must satisfy all inter-pod affinity terms of an incoming pod before the incoming pod is considered schedulable. We want to expand this to support multiple pods matching multiple affinity terms of an incoming pod.
- Primary contact (assignee): @bsalamat, @Huang-Wei
- Responsible SIGs: sched

[2018-10-01 22:52] kacole2 commented on #623
this has been added to the tracking sheet for 1.13

/milestone v1.13

[2018-10-01 22:55] kacole2 commented on #622
this has been added to the 1.13 tracking sheet. thanks!

[2018-10-01 23:02] bsalamat opened #624 "Scheduling Framework"
# Feature Description
- One-line feature description (can be used as a release note): Implement a scheduling framework where many of the existing and future features of the existing scheduler can be written as plug-ins for the scheduler.
- Primary contact (assignee): @bsalamat
- Responsible SIGs: scheduling
- Design proposal link (KEP): https://github.com/kubernetes/enhancements/blob/master/keps/s

[2018-10-01 23:35] justaugustus commented on #617
...because the label exists now:
/kind kep
:)

[2018-10-02 00:27] jberkus commented on #617
Why not go all the way and move them to a database?  That's pretty clearly where we're eventually going.  And it would solve the autonumbering problem.

[2018-10-03 08:56] shapeofarchitect commented on #360
@ieugen  so I have got the same thing , I just believe kubeadm is appreaing to be the best solution for BareMetal considering it's single node control plane method and scalability by just adding a tokenized string , I tried to use kubespray as well but it seems there is a drift I felt when tried to apply for new nodes.

Not sure what's the opinion but I would love to see views or experience for th

[2018-10-03 15:58] #261 closed

[2018-10-03 15:58] #275 closed

[2018-10-03 17:30] AishSundar commented on #622
@spiffxp should we call this /kind feature considering its scope?

[2018-10-03 17:34] justaugustus commented on #622
Yep.
/kind feature

[2018-10-03 17:38] justaugustus commented on #622
Also, we need a SIG Release owner for this who isn't you, Aish. I think you'll be sufficiently busy with running the release. Maybe @tpepper or @dims ?

[2018-10-03 18:15] mikedanese commented on #542
Removing from v1.13. This will move from Beta to GA in a milestone after v1.13.

[2018-10-03 18:28] dims commented on #622
Happy to chip in @justaugustus @AishSundar

[2018-10-03 21:17] saad-ali commented on #615
Short term mitigation for SIG-Storage CRDs until this feature is ready:

* Disable CSI plugin initialization for headless mode, and move CSI CRD initialization from runtime to CSI plugin init time
* Block CSI plugin initialization on CRD creation and CRD sync (if feature is enabled).

Long term plan:
* Will discuss with API Machinery and report back

[2018-10-04 20:40] AishSundar commented on #563
@navjotsingh83 @leblancd [1.13 release schedule is published](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.13#timeline). Its a short release cycle with Code freeze on Nov 15th. Do you think its enough time to graduate this feature to Beta. Can you plz update this issue with your level of confidence, whats pending in terms of code, test and docs completion?

[2018-10-04 21:17] AishSundar commented on #563
As per discussion in the SIG Network meeting, though there will considerable work done on this feature in 1.13, it is not expected to go to Beta in 1.13. removing milestone accordingly.

/milestone clear

[2018-10-04 21:19] AishSundar commented on #563
@kacole2 to remove this from 1.13 enhancements spreadsheet

[2018-10-04 21:50] fturib commented on #566
@AishSundar : We have been investigating the scale issue and memory constraint. We found some optimization and know now we can make it. However we need to wrap up the changes and publish a new release of CoreDNS.
I cannot provide a date yet, but I expect to be by Oct 15th.

We then need:
-  re-publish the PR for CoreDNS as default, with the new image. (pretty simple - no delay)
- e2e test will val

[2018-10-04 22:07] AishSundar commented on #566
Thanks @fturib for the detailed status and good to know that we have a path forward. I will check on the status again post Oct mid.

[2018-10-05 00:14] kacole2 commented on #166
/milestone v1.13

[2018-10-05 10:11] soltysh commented on #579
@kacole2 this will be promoted to beta in 1.13, I haven't seen it in the tracking spreadsheet.
/milestone v1.13

[2018-10-05 13:10] ameukam commented on #612
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or

[2018-10-05 13:12] ameukam commented on #595
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 13:14] ameukam commented on #587
Hi @vikaschoudhary16,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milest

[2018-10-05 13:37] kacole2 commented on #579
@soltysh this has been added to the tracking sheet. thanks!

[2018-10-05 14:07] RenaudWasTaken commented on #595
Hello @ameukam !

This feature graduated to beta in 1.12 and there are no plans to graduate it to stable in 1.13.

[2018-10-05 14:10] kacole2 commented on #595
/milestone clear

[2018-10-05 15:05] ameukam commented on #581
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 15:06] ameukam commented on #561
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 15:14] juanvallejo commented on #581
No plans to graduate this feature. @soltysh can you remove this from 1.12 milestone?
Thanks

[2018-10-05 15:40] ameukam commented on #567
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 15:49] ameukam commented on #267
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 15:57] ameukam commented on #382
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 16:02] ameukam commented on #460
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 16:03] ameukam commented on #495
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 16:14] ameukam commented on #554
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 16:14] AishSundar commented on #423
As per offline discussion in SIG AWS meeting, this will stay in Alpha in 1.13 and is targeted for Beta in 1.14

@kacole2 FYI

[2018-10-05 16:21] AishSundar commented on #166
@k82cn  can you plz update this issue with your level of confidence, whats pending in terms of PR, test and docs for this feature to wrap in 1.13? Considering the various test stability issues we ran into last cycle, it will be great to land the open PRs sooner in this cycle to we have enough time to watch the CI signals and stabilize.

Currently Code Slush for 1.13 is Nov 9th and Freeze starts on

[2018-10-05 16:29] ameukam commented on #614
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add i

[2018-10-05 16:30] ameukam commented on #604
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or

[2018-10-05 16:31] ameukam commented on #603
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or

[2018-10-05 16:33] ameukam commented on #593
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or

[2018-10-05 16:39] ameukam commented on #585
Hi folks,
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or

[2018-10-05 16:46] tallclair commented on #585
There are no plans for big changes to RuntimeClass in 1.13. I'm hoping to bring it to beta in 1.14.

I'm confused by this... it's not graduating in 1.13 but you want it in the 1.13 milestone? Was that a typo?

[2018-10-05 16:49] tallclair commented on #22
As this has graduated to stable I'm going to close this feature (woohoo!)

Future enhancements should be tracked as separate features (e.g. [Dynamic Audit Configuration](https://github.com/kubernetes/features/issues/600)).

Thanks for everyone who worked on this! :tada:

[2018-10-05 16:53] kacole2 commented on #585
@tallclair apologies. This will be removed from all milestones. Only added to 1.13 if there was a need for it to be. thanks for responding
/milestone clear

[2018-10-05 16:58] kacole2 commented on #22
/milestone clear

[2018-10-05 17:01] claurence commented on #594
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:02] claurence commented on #591
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:03] claurence commented on #586
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:06] claurence commented on #117
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:06] claurence commented on #115
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:07] claurence commented on #558
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:07] claurence commented on #177
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:08] claurence commented on #548
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:10] msau42 commented on #561
Yes, we plan to move this to GA in 1.13.

[2018-10-05 17:10] msau42 commented on #567
Yes, we plan to move this to GA in 1.13.

[2018-10-05 17:10] msau42 commented on #558
Yes, we plan to move this to GA in 1.13.

[2018-10-05 17:14] claurence commented on #557
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:15] claurence commented on #288
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:16] claurence commented on #21
Kubernetes 1.13 is going to be a 'stable' release since the cycle is only 10 weeks. We encourage no big alpha features and only consider adding this feature if you have a high level of confidence it will make code slush by 11/09. Are there plans for this enhancement to graduate to alpha/beta/stable within the 1.13 release cycle? If not, can you please remove it from the 1.12 milestone or add it to

[2018-10-05 17:17] feiskyer commented on #586
It's already part of KEP, https://github.com/kubernetes/community/pull/2364. Let's keep it in v1.13.

/milestone v1.13

[2018-10-05 17:19] feiskyer commented on #604
It's already part of KEP, https://github.com/kubernetes/community/pull/2479. Let's keep it in v1.13.

/milestone v1.13

[2018-10-05 17:29] kacole2 commented on #177
Thanks @xing-yang
/milestone clear

[2018-10-05 17:45] janosi commented on #614
Hello @ameukam,

I am not sure I understand :) The feature's implementation has been merged into 1.12 with the PR @justaugustus referenced above, and it is indeed in that release as alpha feature, including the documentation
PR: https://github.com/kubernetes/kubernetes/pull/64973
KEP:  https://github.com/kubernetes/community/pull/2276
Doc: https://github.com/kubernetes/website/pull/10279

Thanks!

[2018-10-05 18:45] ixdy commented on #288
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/multi-platform.md was written before KEPs were a thing, and probably needs to be updated, but that might be a good starting point.

[2018-10-05 19:11] ameukam commented on #614
Hi @janosi, apologies for your confusion. The idea is to identify what is the target of this enhancement
for the next milestone ? Do you want to keep as alpha for v1.13 ? or graduate it to beta ?
As i said earlier, the cycle for 1.13 will be only 10 weeks. So it's up to you to decide if it can make it to the Code Slush as beta feature.

[2018-10-05 20:31] bsalamat commented on #548
@claurence This feature is promoted to beta in 1.12 and there is no plan to graduate it in 1.13.

[2018-10-05 20:32] yastij commented on #612
@ameukam - this is already in beta, @bsalamat do we plan to move this to GA in 1.13 ?

[2018-10-05 20:40] bsalamat commented on #612
No, we don't. We should probably target 1.14 for GA of pod priority and quota by priority if things go well.

[2018-10-05 21:10] kacole2 commented on #581
/milestone clear

[2018-10-05 21:13] kacole2 commented on #604
@feiskyer can you please update the original post with milestone of beta for 1.13? Thanks!
/stage beta

[2018-10-05 21:18] kacole2 commented on #548
thanks for the update!
/milestone clear

[2018-10-05 21:19] kacole2 commented on #612
thanks for the update!
/milestone clear

[2018-10-05 22:50] guineveresaenger commented on #614
@janosi if you are saying that #64973 has fixed this issue, should this issue be closed?

[2018-10-05 23:05] Huang-Wei commented on #382
@ameukam this feature has been promoted to beta in 1.12, and we don't plan to promote it to GA in 1.13.

So removing milestone label is fine.

/remove milestone

[2018-10-05 23:05] Huang-Wei commented on #382
/milestone clear

[2018-10-05 23:06] Huang-Wei commented on #382
@kacole2 could you help to clear the milestone label? Thanks.

[2018-10-05 23:51] justaugustus commented on #614
Features remain open through to GA stage

[2018-10-05 23:53] k82cn commented on #382
/milestone clear

[2018-10-06 05:01] feiskyer commented on #604
@kacole2 Sorry, didn't catch you. The PR has already been merged, why its milestone should be changed?

[2018-10-06 12:34] kacole2 commented on #604
@feiskyer sorry, I should have been more clear. In the [original post description](
https://github.com/kubernetes/features/issues/604#issue-346178370) please update the milestone information so it’s clear
‘’’
Feature target (which target equals to which milestone):
Alpha release target (1.12)
Beta release target (x.y)
Stable release target (x.y)
‘’’

[2018-10-06 13:15] gliush commented on #382
Could you please change the design proposal link?
A working one:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/taint-node-by-condition.md

[2018-10-06 14:15] feiskyer commented on #604
@kacole2 Thanks. Updated.

[2018-10-06 18:50] janosi commented on #614
@ameukam Thank you for the clarification! I am fine to keep it as alpha in 1.13 - thought it would be great to understand how much time/releases I have to mature to beta/GA before my feature is removed. Thank you!

[2018-10-07 00:16] k82cn commented on #382
@gliush , thanks; updated :)

[2018-10-08 14:57] jbartosik commented on #591
This is in 1.12 I just forgot to close the issue.

[2018-10-08 14:58] kacole2 commented on #591
@jbartosik has this gone Stable/GA? We don't want to close the issue until it has graduated until that point. We can keep it open if it's still in beta
/milestone clear

[2018-10-08 14:59] justaugustus commented on #591
/reopen

[2018-10-08 15:31] kacole2 commented on #606
Hi @dashpole
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. I can see that your original post says Alpha for 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following

[2018-10-08 15:33] kacole2 commented on #603
Hi @jsafrane is this enhancement going to graduate to beta in 1.13? Need a confirmation so it can be tracked properly. thanks!

[2018-10-08 15:36] kacole2 commented on #599
Hi @yastij
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush:

[2018-10-08 15:37] kacole2 commented on #598
Hi @deads2k @lavalamp
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
C

[2018-10-08 15:38] jbartosik commented on #591
This was merged into HPA. This has the same status as HPA (beta) and will go GA with the rest of HPA v2.  So I think it makes sense to have only one issue for tracking transition to GA (https://github.com/kubernetes/features/issues/117).

[2018-10-08 15:39] kacole2 commented on #597
Hi @gnufied
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush:

[2018-10-08 15:47] kacole2 commented on #594
@saad-ali, @jsafrane just checking in from @claurence's post to see if this should be included for tracking. thanks!

[2018-10-08 15:48] kacole2 commented on #593
/milestone v1.13
/stage beta

[2018-10-08 15:50] kacole2 commented on #592
@janetkuo following up from @ameukam's comment. Is there a plan for this to graduate to beta in 1.13?

[2018-10-08 15:54] kacole2 commented on #589
@wangzhen127 do we have a high level of confidence this enhancement will hit deadlines for 1.13? This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freeze Begins: 11/15
Docs Complete and Reviewed: 11/27

[2018-10-08 15:54] kacole2 commented on #587
/milestone clear

[2018-10-08 15:57] kacole2 commented on #583
@k82cn This release is targeted to be more ‘stable’ and will have an aggressive timeline. Do you have  a high level of confidence it will meet the following deadlines? If yes, we will keep it in 1.13 tracking. Thanks!
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freeze Begins: 11/15
Docs Complete and Reviewed: 11/27

[2018-10-08 15:59] kacole2 commented on #576
/stage beta

[2018-10-08 16:03] kacole2 commented on #571
@nikhita is this remaining in beta for 1.13 as well?

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freeze Begins: 11/15
Docs Complete and Reviewed: 11/27

[2018-10-08 16:07] kacole2 commented on #565
@vladimirvivien just checking to see if is this going to remain in alpha for 1.13? Thanks

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freeze Begins: 11/15
Docs Complete and Reviewed: 11/27

[2018-10-08 16:09] kacole2 commented on #562
Hi @msau42 @lichuqiang
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8

[2018-10-08 16:12] kacole2 commented on #557
@msau42 @saad-ali @verult @vladimirvivien I'm following up on @claurence's post to see if there is any plans to graduate stages for 1.13?

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freeze B

[2018-10-08 16:15] kacole2 commented on #556
Hi @gnufied
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush:

[2018-10-08 16:16] kacole2 commented on #554
hi @gnufied. I'm following up on @ameukam's comment to see if there are any plans for this to graduate stages for 1.13.

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freeze Begins: 11/15
Docs

[2018-10-08 16:18] kacole2 commented on #553
Hi @rphillips
This enhancements is missing a milestone. So we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slus

[2018-10-08 16:19] kacole2 commented on #552
Hi @yujuhong
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush

[2018-10-08 16:28] kacole2 commented on #515
Hi @soltysh @smarterclayton
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs):

[2018-10-08 16:29] kacole2 commented on #508
Hi @leblancd @danehans
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8

[2018-10-08 16:31] kacole2 commented on #504
Hi @MrHohn
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush:

[2018-10-08 16:31] kacole2 commented on #497
Hi @verult
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush:

[2018-10-08 16:33] kacole2 commented on #495
@verb checking in on @ameukam's post if this has any plans to graduate in 1.13?

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freeze Begins: 11/15
Docs Complete and Reviewed: 11/27

Thanks!

[2018-10-08 16:34] kacole2 commented on #492
Hi
This enhancement has no milestone, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush: 11/9
Code Freez

[2018-10-08 16:34] kacole2 commented on #491
Hi @apelisse
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush

[2018-10-08 16:35] kacole2 commented on #490
Hi @msau42
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
Docs (open placeholder PRs): 11/8
Code Slush:

[2018-10-08 16:36] kacole2 commented on #460
@cjcullen @jcbsmpsn just checking in on @ameukam's post if this plans to graduate for 1.13.

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9
- Code Freeze Begins: 11/15
- Docs Complete and Reviewe

[2018-10-08 16:40] kacole2 commented on #384
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:40] kacole2 commented on #383
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:41] kacole2 commented on #375
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:42] kacole2 commented on #370
@khenidak @ritazh bump for previous comment

[2018-10-08 16:43] kacole2 commented on #365
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:43] kacole2 commented on #362
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:44] kacole2 commented on #361
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:45] kacole2 commented on #357
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:47] kacole2 commented on #351
Hi @childsb @wongma7
This enhancement has been tracked before and slated for 1.13 graduation to stable according to the post, however, it's not on the milestone and I'm unsure if this made beta for 1.12. Any plans for this to graduate stages in Kubernetes 1.13? This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high

[2018-10-08 16:52] kacole2 commented on #288
@luxas @mkumatag @ixdy I'm following up from @claurence's post if there any plans for this to graduate in 1.13?

[2018-10-08 16:55] kacole2 commented on #606
/milestone v1.13
/tracked yes

[2018-10-08 16:56] kacole2 commented on #284
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:57] kacole2 commented on #281
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:57] kacole2 commented on #279
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:58] kacole2 commented on #277
@verb just checking in to see if you feel confident this will make it to v1.13

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9
- Code Freeze Begins: 11/15
- Docs Complete and Reviewed: 11/27

Ple

[2018-10-08 16:59] kacole2 commented on #276
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 16:59] kacole2 commented on #274
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:00] kacole2 commented on #268
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:01] kacole2 commented on #267
@liggitt @mikedanese @jcbsmpsn and plans to graduate for 1.13?

[2018-10-08 17:01] kacole2 commented on #266
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:03] kacole2 commented on #213
@krmayankk is this targeting to make it in 1.13?

This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9
- Code Freeze Begins: 11/15
- Docs Complete and Reviewed: 11/27

Thanks!

[2018-10-08 17:04] kacole2 commented on #171
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:05] wangzhen127 commented on #589
Yes. Those target dates should be fine. BTW, what are the requirements on docs?

[2018-10-08 17:05] kacole2 commented on #135
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:06] kacole2 commented on #130
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9

[2018-10-08 17:06] MrHohn commented on #504
@kacole2 Thanks for checking in. There is currently no plan for graduating this in 1.13.

[2018-10-08 17:08] kacole2 commented on #127
@derekwaynecarr do we feel confident this will hit the deadlines for 1.13? This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9
- Code Freeze Begins: 11/15
- Docs Complete and Reviewed: 11/27

Thanks!

[2018-10-08 17:08] kacole2 commented on #121
Hi
This enhancement has been tracked before, so we'd like to check in and see if there are any plans for this to graduate stages in Kubernetes 1.13. This release is targeted to be more ‘stable’ and will have an aggressive timeline. Please only include this enhancement if there is a high level of confidence it will meet the following deadlines:
- Docs (open placeholder PRs): 11/8
- Code Slush: 11/9